<script type="text/javascript">
  jQuery(function() { Search.loadIndex("searchindex.js"); });
</script>
<style type="text/css">
.toc-title { display: none; }
#toc { display: none; }
</style>

<h1 id="search-documentation">Search</h1>
<div id="fallback" class="admonition warning">
<script type="text/javascript">$('#fallback').hide();</script>
<p>
  Please activate JavaScript to enable the search
  functionality.
</p>
</div>
<p>
  From here you can search these documents. Enter your search
  words into the box below and click "search". Note that the search
  function will automatically search for all of the words. Pages
  containing fewer words won't appear in the result list.
</p>
<form action="" method="get">
  <input type="text" name="q" value="" />
  <input type="submit" value="search" />
  <span id="search-progress" style="padding-left: 10px"></span>
</form>

<div id="search-results"></div>
