language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "6"
  - "8"
  - "10"

sudo: false

addons:
  rake: 
  chrome: stable 

before script:
  - export CHROME_BIN=/usr/bin/chromium-browser

script:
  - npm run coverage
