-m markdown
--markup-provider rdiscount
--exclude lib/aws.js
--no-api private
--api experimental
--no-highlight
--title "AWS SDK for JavaScript"
--template-path doc-src/templates
--plugin sitemap
-o doc/latest
-e doc-src/templates/api-versions/plugin.rb
--plugin js
--define-class-expr (AWS\.util\.)?inherit
--update-class-expr (AWS\.util\.)?update
--mixin-module-expr (AWS\.util\.)?mixin
lib/core.js
lib/**/*.js
-
README.md
UPGRADING.md
