-m markdown
--markup-provider rdiscount
--exclude /api/
--no-api private
--api experimental
--no-highlight
--title "AWS SDK for Node.js"
--template-path doc-src/templates
doc-src/*.docs.js
lib/**/*.js
-
README.md
UPGRADING.md
