<% if event_listing.size > 0 %>
  <div id="event_details" class="method_details">
    <h2>Event Details</h2>
    <% event_listing.each_with_index do |prop, i| %>
      <%= yieldall :object => prop, :owner => object, :index => i %>
    <% end %>
  </div>
<% end %>
