<% if object.has_tag?(:example) %>
  <div class="examples">
    <p class="tag_title">Examples:</p>
    <% object.tags(:example).each do |tag| %>
      <% unless tag.name.empty? %>
        <p class="example_title"><%= htmlify_line(tag.name) %></p>
      <% end %>
      <pre class="example code"><code><%= html_syntax_highlight(tag.text) %></code></pre>
    <% end %>
  </div>
<% end %>