<h2>Services</h2>

<ul class="service_list">
<% @services.each do |id, versions| %>
<% latest = versions.sort_by {|s| s.name.to_s }.last %>
<% name = latest.name.to_s.gsub(/_\d+/, '') %>
<li><%= link_object latest, name %> <small>(<%= versions.map {|v| link_object(v, v.tag(:version).text) }.join(', ') %>)</small></li>
<% end %>
</ul>
<div class="clear"></div>