<p class="note experimental private">
  This <%= object.property_type %> is part of an <strong>experimental API</strong>.
  You can use this <%= object.property_type %>, but it may be removed or be changed in the future.
</p>
