{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-11-01",
    "endpointPrefix": "access-analyzer",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Access Analyzer",
    "serviceId": "AccessAnalyzer",
    "signatureVersion": "v4",
    "signingName": "access-analyzer",
    "uid": "accessanalyzer-2019-11-01"
  },
  "operations": {
    "ApplyArchiveRule": {
      "name": "ApplyArchiveRule",
      "http": {
        "method": "PUT",
        "requestUri": "/archive-rule",
        "responseCode": 200
      },
      "input": {
        "shape": "ApplyArchiveRuleRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retroactively applies the archive rule to existing findings that meet the archive rule criteria.</p>",
      "idempotent": true
    },
    "CreateAccessPreview": {
      "name": "CreateAccessPreview",
      "http": {
        "method": "PUT",
        "requestUri": "/access-preview",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateAccessPreviewRequest"
      },
      "output": {
        "shape": "CreateAccessPreviewResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Creates an access preview that allows you to preview Access Analyzer findings for your resource before deploying resource permissions.</p>",
      "idempotent": true
    },
    "CreateAnalyzer": {
      "name": "CreateAnalyzer",
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateAnalyzerRequest"
      },
      "output": {
        "shape": "CreateAnalyzerResponse"
      },
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Creates an analyzer for your account.</p>",
      "idempotent": true
    },
    "CreateArchiveRule": {
      "name": "CreateArchiveRule",
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer/{analyzerName}/archive-rule",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateArchiveRuleRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Creates an archive rule for the specified analyzer. Archive rules automatically archive new findings that meet the criteria you define when you create the rule.</p>",
      "idempotent": true
    },
    "DeleteAnalyzer": {
      "name": "DeleteAnalyzer",
      "http": {
        "method": "DELETE",
        "requestUri": "/analyzer/{analyzerName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteAnalyzerRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Deletes the specified analyzer. When you delete an analyzer, Access Analyzer is disabled for the account or organization in the current or specific Region. All findings that were generated by the analyzer are deleted. You cannot undo this action.</p>",
      "idempotent": true
    },
    "DeleteArchiveRule": {
      "name": "DeleteArchiveRule",
      "http": {
        "method": "DELETE",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteArchiveRuleRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Deletes the specified archive rule.</p>",
      "idempotent": true
    },
    "GetAccessPreview": {
      "name": "GetAccessPreview",
      "http": {
        "method": "GET",
        "requestUri": "/access-preview/{accessPreviewId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAccessPreviewRequest"
      },
      "output": {
        "shape": "GetAccessPreviewResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retrieves information about an access preview for the specified analyzer.</p>"
    },
    "GetAnalyzedResource": {
      "name": "GetAnalyzedResource",
      "http": {
        "method": "GET",
        "requestUri": "/analyzed-resource",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAnalyzedResourceRequest"
      },
      "output": {
        "shape": "GetAnalyzedResourceResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retrieves information about a resource that was analyzed.</p>"
    },
    "GetAnalyzer": {
      "name": "GetAnalyzer",
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAnalyzerRequest"
      },
      "output": {
        "shape": "GetAnalyzerResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retrieves information about the specified analyzer.</p>"
    },
    "GetArchiveRule": {
      "name": "GetArchiveRule",
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetArchiveRuleRequest"
      },
      "output": {
        "shape": "GetArchiveRuleResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retrieves information about an archive rule.</p> <p>To learn about filter keys that you can use to create an archive rule, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>"
    },
    "GetFinding": {
      "name": "GetFinding",
      "http": {
        "method": "GET",
        "requestUri": "/finding/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingRequest"
      },
      "output": {
        "shape": "GetFindingResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retrieves information about the specified finding.</p>"
    },
    "ListAccessPreviewFindings": {
      "name": "ListAccessPreviewFindings",
      "http": {
        "method": "POST",
        "requestUri": "/access-preview/{accessPreviewId}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAccessPreviewFindingsRequest"
      },
      "output": {
        "shape": "ListAccessPreviewFindingsResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retrieves a list of access preview findings generated by the specified access preview.</p>"
    },
    "ListAccessPreviews": {
      "name": "ListAccessPreviews",
      "http": {
        "method": "GET",
        "requestUri": "/access-preview",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAccessPreviewsRequest"
      },
      "output": {
        "shape": "ListAccessPreviewsResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retrieves a list of access previews for the specified analyzer.</p>"
    },
    "ListAnalyzedResources": {
      "name": "ListAnalyzedResources",
      "http": {
        "method": "POST",
        "requestUri": "/analyzed-resource",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnalyzedResourcesRequest"
      },
      "output": {
        "shape": "ListAnalyzedResourcesResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retrieves a list of resources of the specified type that have been analyzed by the specified analyzer..</p>"
    },
    "ListAnalyzers": {
      "name": "ListAnalyzers",
      "http": {
        "method": "GET",
        "requestUri": "/analyzer",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnalyzersRequest"
      },
      "output": {
        "shape": "ListAnalyzersResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retrieves a list of analyzers.</p>"
    },
    "ListArchiveRules": {
      "name": "ListArchiveRules",
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}/archive-rule",
        "responseCode": 200
      },
      "input": {
        "shape": "ListArchiveRulesRequest"
      },
      "output": {
        "shape": "ListArchiveRulesResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retrieves a list of archive rules created for the specified analyzer.</p>"
    },
    "ListFindings": {
      "name": "ListFindings",
      "http": {
        "method": "POST",
        "requestUri": "/finding",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsRequest"
      },
      "output": {
        "shape": "ListFindingsResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retrieves a list of findings generated by the specified analyzer.</p> <p>To learn about filter keys that you can use to retrieve a list of findings, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>"
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Retrieves a list of tags applied to the specified resource.</p>"
    },
    "StartResourceScan": {
      "name": "StartResourceScan",
      "http": {
        "method": "POST",
        "requestUri": "/resource/scan",
        "responseCode": 200
      },
      "input": {
        "shape": "StartResourceScanRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Immediately starts a scan of the policies applied to the specified resource.</p>"
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "output": {
        "shape": "TagResourceResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Adds a tag to the specified resource.</p>",
      "idempotent": true
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "output": {
        "shape": "UntagResourceResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Removes a tag from the specified resource.</p>",
      "idempotent": true
    },
    "UpdateArchiveRule": {
      "name": "UpdateArchiveRule",
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateArchiveRuleRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Updates the criteria and values for the specified archive rule.</p>",
      "idempotent": true
    },
    "UpdateFindings": {
      "name": "UpdateFindings",
      "http": {
        "method": "PUT",
        "requestUri": "/finding",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateFindingsRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Updates the status for the specified findings.</p>",
      "idempotent": true
    }
  },
  "shapes": {
    "AccessPointArn": {
      "type": "string",
      "pattern": "arn:[^:]*:s3:[^:]*:[^:]*:accesspoint/.*$"
    },
    "AccessPointPolicy": {
      "type": "string"
    },
    "AccessPreview": {
      "type": "structure",
      "required": [
        "analyzerArn",
        "configurations",
        "createdAt",
        "id",
        "status"
      ],
      "members": {
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The ARN of the analyzer used to generate the access preview.</p>"
        },
        "configurations": {
          "shape": "ConfigurationsMap",
          "documentation": "<p>A map of resource ARNs for the proposed resource configuration.</p>"
        },
        "createdAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the access preview was created.</p>"
        },
        "id": {
          "shape": "AccessPreviewId",
          "documentation": "<p>The unique ID for the access preview.</p>"
        },
        "status": {
          "shape": "AccessPreviewStatus",
          "documentation": "<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>"
        },
        "statusReason": {
          "shape": "AccessPreviewStatusReason",
          "documentation": "<p>Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.</p>"
        }
      },
      "documentation": "<p>Contains information about an access preview.</p>"
    },
    "AccessPreviewFinding": {
      "type": "structure",
      "required": [
        "changeType",
        "createdAt",
        "id",
        "resourceOwnerAccount",
        "resourceType",
        "status"
      ],
      "members": {
        "action": {
          "shape": "ActionList",
          "documentation": "<p>The action in the analyzed policy statement that an external principal has permission to perform.</p>"
        },
        "changeType": {
          "shape": "FindingChangeType",
          "documentation": "<p>Provides context on how the access preview finding compares to existing access identified in Access Analyzer.</p> <ul> <li> <p> <code>New</code> - The finding is for newly-introduced access.</p> </li> <li> <p> <code>Unchanged</code> - The preview finding is an existing finding that would remain unchanged.</p> </li> <li> <p> <code>Changed</code> - The preview finding is an existing finding with a change in status.</p> </li> </ul> <p>For example, a <code>Changed</code> finding with preview status <code>Resolved</code> and existing status <code>Active</code> indicates the existing <code>Active</code> finding would become <code>Resolved</code> as a result of the proposed permissions change.</p>"
        },
        "condition": {
          "shape": "ConditionKeyMap",
          "documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>"
        },
        "createdAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the access preview finding was created.</p>"
        },
        "error": {
          "shape": "String",
          "documentation": "<p>An error.</p>"
        },
        "existingFindingId": {
          "shape": "FindingId",
          "documentation": "<p>The existing ID of the finding in Access Analyzer, provided only for existing findings.</p>"
        },
        "existingFindingStatus": {
          "shape": "FindingStatus",
          "documentation": "<p>The existing status of the finding, provided only for existing findings.</p>"
        },
        "id": {
          "shape": "AccessPreviewFindingId",
          "documentation": "<p>The ID of the access preview finding. This ID uniquely identifies the element in the list of access preview findings and is not related to the finding ID in Access Analyzer.</p>"
        },
        "isPublic": {
          "shape": "Boolean",
          "documentation": "<p>Indicates whether the policy that generated the finding allows public access to the resource.</p>"
        },
        "principal": {
          "shape": "PrincipalMap",
          "documentation": "<p>The external principal that has access to a resource within the zone of trust.</p>"
        },
        "resource": {
          "shape": "String",
          "documentation": "<p>The resource that an external principal has access to. This is the resource associated with the access preview.</p>"
        },
        "resourceOwnerAccount": {
          "shape": "String",
          "documentation": "<p>The AWS account ID that owns the resource. For most AWS resources, the owning account is the account in which the resource was created.</p>"
        },
        "resourceType": {
          "shape": "ResourceType",
          "documentation": "<p>The type of the resource that can be accessed in the finding.</p>"
        },
        "sources": {
          "shape": "FindingSourceList",
          "documentation": "<p>The sources of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>"
        },
        "status": {
          "shape": "FindingStatus",
          "documentation": "<p>The preview status of the finding. This is what the status of the finding would be after permissions deployment. For example, a <code>Changed</code> finding with preview status <code>Resolved</code> and existing status <code>Active</code> indicates the existing <code>Active</code> finding would become <code>Resolved</code> as a result of the proposed permissions change.</p>"
        }
      },
      "documentation": "<p>An access preview finding generated by the access preview.</p>"
    },
    "AccessPreviewFindingId": {
      "type": "string"
    },
    "AccessPreviewFindingsList": {
      "type": "list",
      "member": {
        "shape": "AccessPreviewFinding"
      }
    },
    "AccessPreviewId": {
      "type": "string",
      "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
    },
    "AccessPreviewStatus": {
      "type": "string",
      "enum": [
        "COMPLETED",
        "CREATING",
        "FAILED"
      ]
    },
    "AccessPreviewStatusReason": {
      "type": "structure",
      "required": [
        "code"
      ],
      "members": {
        "code": {
          "shape": "AccessPreviewStatusReasonCode",
          "documentation": "<p>The reason code for the current status of the access preview.</p>"
        }
      },
      "documentation": "<p>Provides more details about the current status of the access preview. For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid proposed resource configuration.</p>"
    },
    "AccessPreviewStatusReasonCode": {
      "type": "string",
      "enum": [
        "INTERNAL_ERROR",
        "INVALID_CONFIGURATION"
      ]
    },
    "AccessPreviewSummary": {
      "type": "structure",
      "required": [
        "analyzerArn",
        "createdAt",
        "id",
        "status"
      ],
      "members": {
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The ARN of the analyzer used to generate the access preview.</p>"
        },
        "createdAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the access preview was created.</p>"
        },
        "id": {
          "shape": "AccessPreviewId",
          "documentation": "<p>The unique ID for the access preview.</p>"
        },
        "status": {
          "shape": "AccessPreviewStatus",
          "documentation": "<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete and previews the findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>"
        },
        "statusReason": {
          "shape": "AccessPreviewStatusReason"
        }
      },
      "documentation": "<p>Contains a summary of information about an access preview.</p>"
    },
    "AccessPreviewsList": {
      "type": "list",
      "member": {
        "shape": "AccessPreviewSummary"
      }
    },
    "AclCanonicalId": {
      "type": "string"
    },
    "AclGrantee": {
      "type": "structure",
      "members": {
        "id": {
          "shape": "AclCanonicalId",
          "documentation": "<p>The value specified is the canonical user ID of an AWS account.</p>"
        },
        "uri": {
          "shape": "AclUri",
          "documentation": "<p>Used for granting permissions to a predefined group.</p>"
        }
      },
      "documentation": "<p>You specify each grantee as a type-value pair using one of these types. You can specify only one type of grantee. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketAcl.html\">PutBucketAcl</a>.</p>",
      "union": true
    },
    "AclPermission": {
      "type": "string",
      "enum": [
        "READ",
        "WRITE",
        "READ_ACP",
        "WRITE_ACP",
        "FULL_CONTROL"
      ]
    },
    "AclUri": {
      "type": "string"
    },
    "ActionList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "AnalyzedResource": {
      "type": "structure",
      "required": [
        "analyzedAt",
        "createdAt",
        "isPublic",
        "resourceArn",
        "resourceOwnerAccount",
        "resourceType",
        "updatedAt"
      ],
      "members": {
        "actions": {
          "shape": "ActionList",
          "documentation": "<p>The actions that an external principal is granted permission to use by the policy that generated the finding.</p>"
        },
        "analyzedAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the resource was analyzed.</p>"
        },
        "createdAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the finding was created.</p>"
        },
        "error": {
          "shape": "String",
          "documentation": "<p>An error message.</p>"
        },
        "isPublic": {
          "shape": "Boolean",
          "documentation": "<p>Indicates whether the policy that generated the finding grants public access to the resource.</p>"
        },
        "resourceArn": {
          "shape": "ResourceArn",
          "documentation": "<p>The ARN of the resource that was analyzed.</p>"
        },
        "resourceOwnerAccount": {
          "shape": "String",
          "documentation": "<p>The AWS account ID that owns the resource.</p>"
        },
        "resourceType": {
          "shape": "ResourceType",
          "documentation": "<p>The type of the resource that was analyzed.</p>"
        },
        "sharedVia": {
          "shape": "SharedViaList",
          "documentation": "<p>Indicates how the access that generated the finding is granted. This is populated for Amazon S3 bucket findings.</p>"
        },
        "status": {
          "shape": "FindingStatus",
          "documentation": "<p>The current status of the finding generated from the analyzed resource.</p>"
        },
        "updatedAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the finding was updated.</p>"
        }
      },
      "documentation": "<p>Contains details about the analyzed resource.</p>"
    },
    "AnalyzedResourceSummary": {
      "type": "structure",
      "required": [
        "resourceArn",
        "resourceOwnerAccount",
        "resourceType"
      ],
      "members": {
        "resourceArn": {
          "shape": "ResourceArn",
          "documentation": "<p>The ARN of the analyzed resource.</p>"
        },
        "resourceOwnerAccount": {
          "shape": "String",
          "documentation": "<p>The AWS account ID that owns the resource.</p>"
        },
        "resourceType": {
          "shape": "ResourceType",
          "documentation": "<p>The type of resource that was analyzed.</p>"
        }
      },
      "documentation": "<p>Contains the ARN of the analyzed resource.</p>"
    },
    "AnalyzedResourcesList": {
      "type": "list",
      "member": {
        "shape": "AnalyzedResourceSummary"
      }
    },
    "AnalyzerArn": {
      "type": "string",
      "pattern": "^[^:]*:[^:]*:[^:]*:[^:]*:[^:]*:analyzer/.{1,255}$"
    },
    "AnalyzerStatus": {
      "type": "string",
      "enum": [
        "ACTIVE",
        "CREATING",
        "DISABLED",
        "FAILED"
      ]
    },
    "AnalyzerSummary": {
      "type": "structure",
      "required": [
        "arn",
        "createdAt",
        "name",
        "status",
        "type"
      ],
      "members": {
        "arn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The ARN of the analyzer.</p>"
        },
        "createdAt": {
          "shape": "Timestamp",
          "documentation": "<p>A timestamp for the time at which the analyzer was created.</p>"
        },
        "lastResourceAnalyzed": {
          "shape": "String",
          "documentation": "<p>The resource that was most recently analyzed by the analyzer.</p>"
        },
        "lastResourceAnalyzedAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the most recently analyzed resource was analyzed.</p>"
        },
        "name": {
          "shape": "Name",
          "documentation": "<p>The name of the analyzer.</p>"
        },
        "status": {
          "shape": "AnalyzerStatus",
          "documentation": "<p>The status of the analyzer. An <code>Active</code> analyzer successfully monitors supported resources and generates new findings. The analyzer is <code>Disabled</code> when a user action, such as removing trusted access for AWS IAM Access Analyzer from AWS Organizations, causes the analyzer to stop generating new findings. The status is <code>Creating</code> when the analyzer creation is in progress and <code>Failed</code> when the analyzer creation has failed. </p>"
        },
        "statusReason": {
          "shape": "StatusReason",
          "documentation": "<p>The <code>statusReason</code> provides more details about the current status of the analyzer. For example, if the creation for the analyzer fails, a <code>Failed</code> status is returned. For an analyzer with organization as the type, this failure can be due to an issue with creating the service-linked roles required in the member accounts of the AWS organization.</p>"
        },
        "tags": {
          "shape": "TagsMap",
          "documentation": "<p>The tags added to the analyzer.</p>"
        },
        "type": {
          "shape": "Type",
          "documentation": "<p>The type of analyzer, which corresponds to the zone of trust chosen for the analyzer.</p>"
        }
      },
      "documentation": "<p>Contains information about the analyzer.</p>"
    },
    "AnalyzersList": {
      "type": "list",
      "member": {
        "shape": "AnalyzerSummary"
      }
    },
    "ApplyArchiveRuleRequest": {
      "type": "structure",
      "required": [
        "analyzerArn",
        "ruleName"
      ],
      "members": {
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The Amazon resource name (ARN) of the analyzer.</p>"
        },
        "clientToken": {
          "shape": "String",
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true
        },
        "ruleName": {
          "shape": "Name",
          "documentation": "<p>The name of the rule to apply.</p>"
        }
      },
      "documentation": "<p>Retroactively applies an archive rule.</p>"
    },
    "ArchiveRuleSummary": {
      "type": "structure",
      "required": [
        "createdAt",
        "filter",
        "ruleName",
        "updatedAt"
      ],
      "members": {
        "createdAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the archive rule was created.</p>"
        },
        "filter": {
          "shape": "FilterCriteriaMap",
          "documentation": "<p>A filter used to define the archive rule.</p>"
        },
        "ruleName": {
          "shape": "Name",
          "documentation": "<p>The name of the archive rule.</p>"
        },
        "updatedAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the archive rule was last updated.</p>"
        }
      },
      "documentation": "<p>Contains information about an archive rule.</p>"
    },
    "ArchiveRulesList": {
      "type": "list",
      "member": {
        "shape": "ArchiveRuleSummary"
      }
    },
    "Boolean": {
      "type": "boolean",
      "box": true
    },
    "ConditionKeyMap": {
      "type": "map",
      "key": {
        "shape": "String"
      },
      "value": {
        "shape": "String"
      }
    },
    "Configuration": {
      "type": "structure",
      "members": {
        "iamRole": {
          "shape": "IamRoleConfiguration",
          "documentation": "<p>The access control configuration is for an IAM role. </p>"
        },
        "kmsKey": {
          "shape": "KmsKeyConfiguration",
          "documentation": "<p>The access control configuration is for a KMS key. </p>"
        },
        "s3Bucket": {
          "shape": "S3BucketConfiguration",
          "documentation": "<p>The access control configuration is for an Amazon S3 Bucket. </p>"
        },
        "secretsManagerSecret": {
          "shape": "SecretsManagerSecretConfiguration",
          "documentation": "<p>The access control configuration is for a Secrets Manager secret.</p>"
        },
        "sqsQueue": {
          "shape": "SqsQueueConfiguration",
          "documentation": "<p>The access control configuration is for an SQS queue. </p>"
        }
      },
      "documentation": "<p>Access control configuration structures for your resource. You specify the configuration as a type-value pair. You can specify only one type of access control configuration.</p>",
      "union": true
    },
    "ConfigurationsMap": {
      "type": "map",
      "key": {
        "shape": "ConfigurationsMapKey"
      },
      "value": {
        "shape": "Configuration"
      }
    },
    "ConfigurationsMapKey": {
      "type": "string"
    },
    "CreateAccessPreviewRequest": {
      "type": "structure",
      "required": [
        "analyzerArn",
        "configurations"
      ],
      "members": {
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the account analyzer</a> used to generate the access preview. You can only create an access preview for analyzers with an <code>Account</code> type and <code>Active</code> status.</p>"
        },
        "clientToken": {
          "shape": "String",
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true
        },
        "configurations": {
          "shape": "ConfigurationsMap",
          "documentation": "<p>Access control configuration for your resource that is used to generate the access preview. The access preview includes findings for external access allowed to the resource with the proposed access control configuration. The configuration must contain exactly one element.</p>"
        }
      }
    },
    "CreateAccessPreviewResponse": {
      "type": "structure",
      "required": [
        "id"
      ],
      "members": {
        "id": {
          "shape": "AccessPreviewId",
          "documentation": "<p>The unique ID for the access preview.</p>"
        }
      }
    },
    "CreateAnalyzerRequest": {
      "type": "structure",
      "required": [
        "analyzerName",
        "type"
      ],
      "members": {
        "analyzerName": {
          "shape": "Name",
          "documentation": "<p>The name of the analyzer to create.</p>"
        },
        "archiveRules": {
          "shape": "InlineArchiveRulesList",
          "documentation": "<p>Specifies the archive rules to add for the analyzer. Archive rules automatically archive findings that meet the criteria you define for the rule.</p>"
        },
        "clientToken": {
          "shape": "String",
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true
        },
        "tags": {
          "shape": "TagsMap",
          "documentation": "<p>The tags to apply to the analyzer.</p>"
        },
        "type": {
          "shape": "Type",
          "documentation": "<p>The type of analyzer to create. Only ACCOUNT and ORGANIZATION analyzers are supported. You can create only one analyzer per account per Region. You can create up to 5 analyzers per organization per Region.</p>"
        }
      },
      "documentation": "<p>Creates an analyzer.</p>"
    },
    "CreateAnalyzerResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The ARN of the analyzer that was created by the request.</p>"
        }
      },
      "documentation": "<p>The response to the request to create an analyzer.</p>"
    },
    "CreateArchiveRuleRequest": {
      "type": "structure",
      "required": [
        "analyzerName",
        "filter",
        "ruleName"
      ],
      "members": {
        "analyzerName": {
          "shape": "Name",
          "documentation": "<p>The name of the created analyzer.</p>",
          "location": "uri",
          "locationName": "analyzerName"
        },
        "clientToken": {
          "shape": "String",
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true
        },
        "filter": {
          "shape": "FilterCriteriaMap",
          "documentation": "<p>The criteria for the rule.</p>"
        },
        "ruleName": {
          "shape": "Name",
          "documentation": "<p>The name of the rule to create.</p>"
        }
      },
      "documentation": "<p>Creates an archive rule.</p>"
    },
    "Criterion": {
      "type": "structure",
      "members": {
        "contains": {
          "shape": "ValueList",
          "documentation": "<p>A \"contains\" operator to match for the filter used to create the rule.</p>"
        },
        "eq": {
          "shape": "ValueList",
          "documentation": "<p>An \"equals\" operator to match for the filter used to create the rule.</p>"
        },
        "exists": {
          "shape": "Boolean",
          "documentation": "<p>An \"exists\" operator to match for the filter used to create the rule. </p>"
        },
        "neq": {
          "shape": "ValueList",
          "documentation": "<p>A \"not equals\" operator to match for the filter used to create the rule.</p>"
        }
      },
      "documentation": "<p>The criteria to use in the filter that defines the archive rule.</p>"
    },
    "DeleteAnalyzerRequest": {
      "type": "structure",
      "required": [
        "analyzerName"
      ],
      "members": {
        "analyzerName": {
          "shape": "Name",
          "documentation": "<p>The name of the analyzer to delete.</p>",
          "location": "uri",
          "locationName": "analyzerName"
        },
        "clientToken": {
          "shape": "String",
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "location": "querystring",
          "locationName": "clientToken"
        }
      },
      "documentation": "<p>Deletes an analyzer.</p>"
    },
    "DeleteArchiveRuleRequest": {
      "type": "structure",
      "required": [
        "analyzerName",
        "ruleName"
      ],
      "members": {
        "analyzerName": {
          "shape": "Name",
          "documentation": "<p>The name of the analyzer that associated with the archive rule to delete.</p>",
          "location": "uri",
          "locationName": "analyzerName"
        },
        "clientToken": {
          "shape": "String",
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "location": "querystring",
          "locationName": "clientToken"
        },
        "ruleName": {
          "shape": "Name",
          "documentation": "<p>The name of the rule to delete.</p>",
          "location": "uri",
          "locationName": "ruleName"
        }
      },
      "documentation": "<p>Deletes an archive rule.</p>"
    },
    "FilterCriteriaMap": {
      "type": "map",
      "key": {
        "shape": "String"
      },
      "value": {
        "shape": "Criterion"
      }
    },
    "Finding": {
      "type": "structure",
      "required": [
        "analyzedAt",
        "condition",
        "createdAt",
        "id",
        "resourceOwnerAccount",
        "resourceType",
        "status",
        "updatedAt"
      ],
      "members": {
        "action": {
          "shape": "ActionList",
          "documentation": "<p>The action in the analyzed policy statement that an external principal has permission to use.</p>"
        },
        "analyzedAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the resource was analyzed.</p>"
        },
        "condition": {
          "shape": "ConditionKeyMap",
          "documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>"
        },
        "createdAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the finding was generated.</p>"
        },
        "error": {
          "shape": "String",
          "documentation": "<p>An error.</p>"
        },
        "id": {
          "shape": "FindingId",
          "documentation": "<p>The ID of the finding.</p>"
        },
        "isPublic": {
          "shape": "Boolean",
          "documentation": "<p>Indicates whether the policy that generated the finding allows public access to the resource.</p>"
        },
        "principal": {
          "shape": "PrincipalMap",
          "documentation": "<p>The external principal that access to a resource within the zone of trust.</p>"
        },
        "resource": {
          "shape": "String",
          "documentation": "<p>The resource that an external principal has access to.</p>"
        },
        "resourceOwnerAccount": {
          "shape": "String",
          "documentation": "<p>The AWS account ID that owns the resource.</p>"
        },
        "resourceType": {
          "shape": "ResourceType",
          "documentation": "<p>The type of the resource identified in the finding.</p>"
        },
        "sources": {
          "shape": "FindingSourceList",
          "documentation": "<p>The sources of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>"
        },
        "status": {
          "shape": "FindingStatus",
          "documentation": "<p>The current status of the finding.</p>"
        },
        "updatedAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the finding was updated.</p>"
        }
      },
      "documentation": "<p>Contains information about a finding.</p>"
    },
    "FindingChangeType": {
      "type": "string",
      "enum": [
        "CHANGED",
        "NEW",
        "UNCHANGED"
      ]
    },
    "FindingId": {
      "type": "string"
    },
    "FindingIdList": {
      "type": "list",
      "member": {
        "shape": "FindingId"
      }
    },
    "FindingSource": {
      "type": "structure",
      "required": [
        "type"
      ],
      "members": {
        "detail": {
          "shape": "FindingSourceDetail",
          "documentation": "<p>Includes details about how the access that generated the finding is granted. This is populated for Amazon S3 bucket findings.</p>"
        },
        "type": {
          "shape": "FindingSourceType",
          "documentation": "<p>Indicates the type of access that generated the finding.</p>"
        }
      },
      "documentation": "<p>The source of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>"
    },
    "FindingSourceDetail": {
      "type": "structure",
      "members": {
        "accessPointArn": {
          "shape": "String",
          "documentation": "<p>The ARN of the access point that generated the finding.</p>"
        }
      },
      "documentation": "<p>Includes details about how the access that generated the finding is granted. This is populated for Amazon S3 bucket findings.</p>"
    },
    "FindingSourceList": {
      "type": "list",
      "member": {
        "shape": "FindingSource"
      }
    },
    "FindingSourceType": {
      "type": "string",
      "enum": [
        "POLICY",
        "BUCKET_ACL",
        "S3_ACCESS_POINT"
      ]
    },
    "FindingStatus": {
      "type": "string",
      "enum": [
        "ACTIVE",
        "ARCHIVED",
        "RESOLVED"
      ]
    },
    "FindingStatusUpdate": {
      "type": "string",
      "enum": [
        "ACTIVE",
        "ARCHIVED"
      ]
    },
    "FindingSummary": {
      "type": "structure",
      "required": [
        "analyzedAt",
        "condition",
        "createdAt",
        "id",
        "resourceOwnerAccount",
        "resourceType",
        "status",
        "updatedAt"
      ],
      "members": {
        "action": {
          "shape": "ActionList",
          "documentation": "<p>The action in the analyzed policy statement that an external principal has permission to use.</p>"
        },
        "analyzedAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the resource-based policy that generated the finding was analyzed.</p>"
        },
        "condition": {
          "shape": "ConditionKeyMap",
          "documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>"
        },
        "createdAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the finding was created.</p>"
        },
        "error": {
          "shape": "String",
          "documentation": "<p>The error that resulted in an Error finding.</p>"
        },
        "id": {
          "shape": "FindingId",
          "documentation": "<p>The ID of the finding.</p>"
        },
        "isPublic": {
          "shape": "Boolean",
          "documentation": "<p>Indicates whether the finding reports a resource that has a policy that allows public access.</p>"
        },
        "principal": {
          "shape": "PrincipalMap",
          "documentation": "<p>The external principal that has access to a resource within the zone of trust.</p>"
        },
        "resource": {
          "shape": "String",
          "documentation": "<p>The resource that the external principal has access to.</p>"
        },
        "resourceOwnerAccount": {
          "shape": "String",
          "documentation": "<p>The AWS account ID that owns the resource.</p>"
        },
        "resourceType": {
          "shape": "ResourceType",
          "documentation": "<p>The type of the resource that the external principal has access to.</p>"
        },
        "sources": {
          "shape": "FindingSourceList",
          "documentation": "<p>The sources of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>"
        },
        "status": {
          "shape": "FindingStatus",
          "documentation": "<p>The status of the finding.</p>"
        },
        "updatedAt": {
          "shape": "Timestamp",
          "documentation": "<p>The time at which the finding was most recently updated.</p>"
        }
      },
      "documentation": "<p>Contains information about a finding.</p>"
    },
    "FindingsList": {
      "type": "list",
      "member": {
        "shape": "FindingSummary"
      }
    },
    "GetAccessPreviewRequest": {
      "type": "structure",
      "required": [
        "accessPreviewId",
        "analyzerArn"
      ],
      "members": {
        "accessPreviewId": {
          "shape": "AccessPreviewId",
          "documentation": "<p>The unique ID for the access preview.</p>",
          "location": "uri",
          "locationName": "accessPreviewId"
        },
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> used to generate the access preview.</p>",
          "location": "querystring",
          "locationName": "analyzerArn"
        }
      }
    },
    "GetAccessPreviewResponse": {
      "type": "structure",
      "required": [
        "accessPreview"
      ],
      "members": {
        "accessPreview": {
          "shape": "AccessPreview",
          "documentation": "<p>An object that contains information about the access preview.</p>"
        }
      }
    },
    "GetAnalyzedResourceRequest": {
      "type": "structure",
      "required": [
        "analyzerArn",
        "resourceArn"
      ],
      "members": {
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> to retrieve information from.</p>",
          "location": "querystring",
          "locationName": "analyzerArn"
        },
        "resourceArn": {
          "shape": "ResourceArn",
          "documentation": "<p>The ARN of the resource to retrieve information about.</p>",
          "location": "querystring",
          "locationName": "resourceArn"
        }
      },
      "documentation": "<p>Retrieves an analyzed resource.</p>"
    },
    "GetAnalyzedResourceResponse": {
      "type": "structure",
      "members": {
        "resource": {
          "shape": "AnalyzedResource",
          "documentation": "<p>An <code>AnalyzedResource</code> object that contains information that Access Analyzer found when it analyzed the resource.</p>"
        }
      },
      "documentation": "<p>The response to the request.</p>"
    },
    "GetAnalyzerRequest": {
      "type": "structure",
      "required": [
        "analyzerName"
      ],
      "members": {
        "analyzerName": {
          "shape": "Name",
          "documentation": "<p>The name of the analyzer retrieved.</p>",
          "location": "uri",
          "locationName": "analyzerName"
        }
      },
      "documentation": "<p>Retrieves an analyzer.</p>"
    },
    "GetAnalyzerResponse": {
      "type": "structure",
      "required": [
        "analyzer"
      ],
      "members": {
        "analyzer": {
          "shape": "AnalyzerSummary",
          "documentation": "<p>An <code>AnalyzerSummary</code> object that contains information about the analyzer.</p>"
        }
      },
      "documentation": "<p>The response to the request.</p>"
    },
    "GetArchiveRuleRequest": {
      "type": "structure",
      "required": [
        "analyzerName",
        "ruleName"
      ],
      "members": {
        "analyzerName": {
          "shape": "Name",
          "documentation": "<p>The name of the analyzer to retrieve rules from.</p>",
          "location": "uri",
          "locationName": "analyzerName"
        },
        "ruleName": {
          "shape": "Name",
          "documentation": "<p>The name of the rule to retrieve.</p>",
          "location": "uri",
          "locationName": "ruleName"
        }
      },
      "documentation": "<p>Retrieves an archive rule.</p>"
    },
    "GetArchiveRuleResponse": {
      "type": "structure",
      "required": [
        "archiveRule"
      ],
      "members": {
        "archiveRule": {
          "shape": "ArchiveRuleSummary"
        }
      },
      "documentation": "<p>The response to the request.</p>"
    },
    "GetFindingRequest": {
      "type": "structure",
      "required": [
        "analyzerArn",
        "id"
      ],
      "members": {
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> that generated the finding.</p>",
          "location": "querystring",
          "locationName": "analyzerArn"
        },
        "id": {
          "shape": "FindingId",
          "documentation": "<p>The ID of the finding to retrieve.</p>",
          "location": "uri",
          "locationName": "id"
        }
      },
      "documentation": "<p>Retrieves a finding.</p>"
    },
    "GetFindingResponse": {
      "type": "structure",
      "members": {
        "finding": {
          "shape": "Finding",
          "documentation": "<p>A <code>finding</code> object that contains finding details.</p>"
        }
      },
      "documentation": "<p>The response to the request.</p>"
    },
    "GranteePrincipal": {
      "type": "string"
    },
    "IamRoleConfiguration": {
      "type": "structure",
      "members": {
        "trustPolicy": {
          "shape": "IamTrustPolicy",
          "documentation": "<p>The proposed trust policy for the IAM role.</p>"
        }
      },
      "documentation": "<p>The proposed access control configuration for an IAM role. You can propose a configuration for a new IAM role or an existing IAM role that you own by specifying the trust policy. If the configuration is for a new IAM role, you must specify the trust policy. If the configuration is for an existing IAM role that you own and you do not propose the trust policy, the access preview uses the existing trust policy for the role. The proposed trust policy cannot be an empty string. For more information about role trust policy limits, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\">IAM and STS quotas</a>.</p>"
    },
    "IamTrustPolicy": {
      "type": "string"
    },
    "InlineArchiveRule": {
      "type": "structure",
      "required": [
        "filter",
        "ruleName"
      ],
      "members": {
        "filter": {
          "shape": "FilterCriteriaMap",
          "documentation": "<p>The condition and values for a criterion.</p>"
        },
        "ruleName": {
          "shape": "Name",
          "documentation": "<p>The name of the rule.</p>"
        }
      },
      "documentation": "<p>An criterion statement in an archive rule. Each archive rule may have multiple criteria.</p>"
    },
    "InlineArchiveRulesList": {
      "type": "list",
      "member": {
        "shape": "InlineArchiveRule"
      }
    },
    "Integer": {
      "type": "integer",
      "box": true
    },
    "InternetConfiguration": {
      "type": "structure",
      "members": {},
      "documentation": "<p>This configuration sets the Amazon S3 access point network origin to <code>Internet</code>.</p>"
    },
    "IssuingAccount": {
      "type": "string"
    },
    "KmsConstraintsKey": {
      "type": "string"
    },
    "KmsConstraintsMap": {
      "type": "map",
      "key": {
        "shape": "KmsConstraintsKey"
      },
      "value": {
        "shape": "KmsConstraintsValue"
      }
    },
    "KmsConstraintsValue": {
      "type": "string"
    },
    "KmsGrantConfiguration": {
      "type": "structure",
      "required": [
        "granteePrincipal",
        "issuingAccount",
        "operations"
      ],
      "members": {
        "constraints": {
          "shape": "KmsGrantConstraints",
          "documentation": "<p>Use this structure to propose allowing <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operations</a> in the grant only when the operation request includes the specified <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">encryption context</a>.</p>"
        },
        "granteePrincipal": {
          "shape": "GranteePrincipal",
          "documentation": "<p>The principal that is given permission to perform the operations that the grant permits.</p>"
        },
        "issuingAccount": {
          "shape": "IssuingAccount",
          "documentation": "<p> The AWS account under which the grant was issued. The account is used to propose KMS grants issued by accounts other than the owner of the key.</p>"
        },
        "operations": {
          "shape": "KmsGrantOperationsList",
          "documentation": "<p>A list of operations that the grant permits.</p>"
        },
        "retiringPrincipal": {
          "shape": "RetiringPrincipal",
          "documentation": "<p>The principal that is given permission to retire the grant by using <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_RetireGrant.html\">RetireGrant</a> operation.</p>"
        }
      },
      "documentation": "<p>A proposed grant configuration for a KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateGrant.html\">CreateGrant</a>.</p>"
    },
    "KmsGrantConfigurationsList": {
      "type": "list",
      "member": {
        "shape": "KmsGrantConfiguration"
      }
    },
    "KmsGrantConstraints": {
      "type": "structure",
      "members": {
        "encryptionContextEquals": {
          "shape": "KmsConstraintsMap",
          "documentation": "<p>A list of key-value pairs that must match the encryption context in the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operation</a> request. The grant allows the operation only when the encryption context in the request is the same as the encryption context specified in this constraint.</p>"
        },
        "encryptionContextSubset": {
          "shape": "KmsConstraintsMap",
          "documentation": "<p>A list of key-value pairs that must be included in the encryption context of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operation</a> request. The grant allows the cryptographic operation only when the encryption context in the request includes the key-value pairs specified in this constraint, although it can include additional key-value pairs.</p>"
        }
      },
      "documentation": "<p>Use this structure to propose allowing <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operations</a> in the grant only when the operation request includes the specified <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">encryption context</a>. You can specify only one type of encryption context. An empty map is treated as not specified. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_GrantConstraints.html\">GrantConstraints</a>.</p>"
    },
    "KmsGrantOperation": {
      "type": "string",
      "enum": [
        "CreateGrant",
        "Decrypt",
        "DescribeKey",
        "Encrypt",
        "GenerateDataKey",
        "GenerateDataKeyPair",
        "GenerateDataKeyPairWithoutPlaintext",
        "GenerateDataKeyWithoutPlaintext",
        "GetPublicKey",
        "ReEncryptFrom",
        "ReEncryptTo",
        "RetireGrant",
        "Sign",
        "Verify"
      ]
    },
    "KmsGrantOperationsList": {
      "type": "list",
      "member": {
        "shape": "KmsGrantOperation"
      }
    },
    "KmsKeyConfiguration": {
      "type": "structure",
      "members": {
        "grants": {
          "shape": "KmsGrantConfigurationsList",
          "documentation": "<p>A list of proposed grant configurations for the KMS key. If the proposed grant configuration is for an existing key, the access preview uses the proposed list of grant configurations in place of the existing grants. Otherwise, the access preview uses the existing grants for the key.</p>"
        },
        "keyPolicies": {
          "shape": "KmsKeyPoliciesMap",
          "documentation": "<p>Resource policy configuration for the KMS key. The only valid value for the name of the key policy is <code>default</code>. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default\">Default key policy</a>.</p>"
        }
      },
      "documentation": "<p>Proposed access control configuration for a KMS key. You can propose a configuration for a new KMS key or an existing KMS key that you own by specifying the key policy and KMS grant configuration. If the configuration is for an existing key and you do not specify the key policy, the access preview uses the existing policy for the key. If the access preview is for a new resource and you do not specify the key policy, then the access preview uses the default key policy. The proposed key policy cannot be an empty string. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default\">Default key policy</a>. For more information about key policy limits, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/resource-limits.html\">Resource quotas</a>.</p> <p/>"
    },
    "KmsKeyPoliciesMap": {
      "type": "map",
      "key": {
        "shape": "PolicyName"
      },
      "value": {
        "shape": "KmsKeyPolicy"
      }
    },
    "KmsKeyPolicy": {
      "type": "string"
    },
    "ListAccessPreviewFindingsRequest": {
      "type": "structure",
      "required": [
        "accessPreviewId",
        "analyzerArn"
      ],
      "members": {
        "accessPreviewId": {
          "shape": "AccessPreviewId",
          "documentation": "<p>The unique ID for the access preview.</p>",
          "location": "uri",
          "locationName": "accessPreviewId"
        },
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> used to generate the access.</p>"
        },
        "filter": {
          "shape": "FilterCriteriaMap",
          "documentation": "<p>Criteria to filter the returned findings.</p>"
        },
        "maxResults": {
          "shape": "Integer",
          "documentation": "<p>The maximum number of results to return in the response.</p>"
        },
        "nextToken": {
          "shape": "Token",
          "documentation": "<p>A token used for pagination of results returned.</p>"
        }
      }
    },
    "ListAccessPreviewFindingsResponse": {
      "type": "structure",
      "required": [
        "findings"
      ],
      "members": {
        "findings": {
          "shape": "AccessPreviewFindingsList",
          "documentation": "<p>A list of access preview findings that match the specified filter criteria.</p>"
        },
        "nextToken": {
          "shape": "Token",
          "documentation": "<p>A token used for pagination of results returned.</p>"
        }
      }
    },
    "ListAccessPreviewsRequest": {
      "type": "structure",
      "required": [
        "analyzerArn"
      ],
      "members": {
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> used to generate the access preview.</p>",
          "location": "querystring",
          "locationName": "analyzerArn"
        },
        "maxResults": {
          "shape": "Integer",
          "documentation": "<p>The maximum number of results to return in the response.</p>",
          "location": "querystring",
          "locationName": "maxResults"
        },
        "nextToken": {
          "shape": "Token",
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "location": "querystring",
          "locationName": "nextToken"
        }
      }
    },
    "ListAccessPreviewsResponse": {
      "type": "structure",
      "required": [
        "accessPreviews"
      ],
      "members": {
        "accessPreviews": {
          "shape": "AccessPreviewsList",
          "documentation": "<p>A list of access previews retrieved for the analyzer.</p>"
        },
        "nextToken": {
          "shape": "Token",
          "documentation": "<p>A token used for pagination of results returned.</p>"
        }
      }
    },
    "ListAnalyzedResourcesRequest": {
      "type": "structure",
      "required": [
        "analyzerArn"
      ],
      "members": {
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> to retrieve a list of analyzed resources from.</p>"
        },
        "maxResults": {
          "shape": "Integer",
          "documentation": "<p>The maximum number of results to return in the response.</p>"
        },
        "nextToken": {
          "shape": "Token",
          "documentation": "<p>A token used for pagination of results returned.</p>"
        },
        "resourceType": {
          "shape": "ResourceType",
          "documentation": "<p>The type of resource.</p>"
        }
      },
      "documentation": "<p>Retrieves a list of resources that have been analyzed.</p>"
    },
    "ListAnalyzedResourcesResponse": {
      "type": "structure",
      "required": [
        "analyzedResources"
      ],
      "members": {
        "analyzedResources": {
          "shape": "AnalyzedResourcesList",
          "documentation": "<p>A list of resources that were analyzed.</p>"
        },
        "nextToken": {
          "shape": "Token",
          "documentation": "<p>A token used for pagination of results returned.</p>"
        }
      },
      "documentation": "<p>The response to the request.</p>"
    },
    "ListAnalyzersRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "shape": "Integer",
          "documentation": "<p>The maximum number of results to return in the response.</p>",
          "location": "querystring",
          "locationName": "maxResults"
        },
        "nextToken": {
          "shape": "Token",
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "location": "querystring",
          "locationName": "nextToken"
        },
        "type": {
          "shape": "Type",
          "documentation": "<p>The type of analyzer.</p>",
          "location": "querystring",
          "locationName": "type"
        }
      },
      "documentation": "<p>Retrieves a list of analyzers.</p>"
    },
    "ListAnalyzersResponse": {
      "type": "structure",
      "required": [
        "analyzers"
      ],
      "members": {
        "analyzers": {
          "shape": "AnalyzersList",
          "documentation": "<p>The analyzers retrieved.</p>"
        },
        "nextToken": {
          "shape": "Token",
          "documentation": "<p>A token used for pagination of results returned.</p>"
        }
      },
      "documentation": "<p>The response to the request.</p>"
    },
    "ListArchiveRulesRequest": {
      "type": "structure",
      "required": [
        "analyzerName"
      ],
      "members": {
        "analyzerName": {
          "shape": "Name",
          "documentation": "<p>The name of the analyzer to retrieve rules from.</p>",
          "location": "uri",
          "locationName": "analyzerName"
        },
        "maxResults": {
          "shape": "Integer",
          "documentation": "<p>The maximum number of results to return in the request.</p>",
          "location": "querystring",
          "locationName": "maxResults"
        },
        "nextToken": {
          "shape": "Token",
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "location": "querystring",
          "locationName": "nextToken"
        }
      },
      "documentation": "<p>Retrieves a list of archive rules created for the specified analyzer.</p>"
    },
    "ListArchiveRulesResponse": {
      "type": "structure",
      "required": [
        "archiveRules"
      ],
      "members": {
        "archiveRules": {
          "shape": "ArchiveRulesList",
          "documentation": "<p>A list of archive rules created for the specified analyzer.</p>"
        },
        "nextToken": {
          "shape": "Token",
          "documentation": "<p>A token used for pagination of results returned.</p>"
        }
      },
      "documentation": "<p>The response to the request.</p>"
    },
    "ListFindingsRequest": {
      "type": "structure",
      "required": [
        "analyzerArn"
      ],
      "members": {
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> to retrieve findings from.</p>"
        },
        "filter": {
          "shape": "FilterCriteriaMap",
          "documentation": "<p>A filter to match for the findings to return.</p>"
        },
        "maxResults": {
          "shape": "Integer",
          "documentation": "<p>The maximum number of results to return in the response.</p>"
        },
        "nextToken": {
          "shape": "Token",
          "documentation": "<p>A token used for pagination of results returned.</p>"
        },
        "sort": {
          "shape": "SortCriteria",
          "documentation": "<p>The sort order for the findings returned.</p>"
        }
      },
      "documentation": "<p>Retrieves a list of findings generated by the specified analyzer.</p>"
    },
    "ListFindingsResponse": {
      "type": "structure",
      "required": [
        "findings"
      ],
      "members": {
        "findings": {
          "shape": "FindingsList",
          "documentation": "<p>A list of findings retrieved from the analyzer that match the filter criteria specified, if any.</p>"
        },
        "nextToken": {
          "shape": "Token",
          "documentation": "<p>A token used for pagination of results returned.</p>"
        }
      },
      "documentation": "<p>The response to the request.</p>"
    },
    "ListTagsForResourceRequest": {
      "type": "structure",
      "required": [
        "resourceArn"
      ],
      "members": {
        "resourceArn": {
          "shape": "String",
          "documentation": "<p>The ARN of the resource to retrieve tags from.</p>",
          "location": "uri",
          "locationName": "resourceArn"
        }
      },
      "documentation": "<p>Retrieves a list of tags applied to the specified resource.</p>"
    },
    "ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "shape": "TagsMap",
          "documentation": "<p>The tags that are applied to the specified resource.</p>"
        }
      },
      "documentation": "<p>The response to the request.</p>"
    },
    "Name": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "^[A-Za-z][A-Za-z0-9_.-]*$"
    },
    "NetworkOriginConfiguration": {
      "type": "structure",
      "members": {
        "internetConfiguration": {
          "shape": "InternetConfiguration",
          "documentation": "<p>The configuration for the Amazon S3 access point with an <code>Internet</code> origin.</p>"
        },
        "vpcConfiguration": {
          "shape": "VpcConfiguration"
        }
      },
      "documentation": "<p>The proposed <code>InternetConfiguration</code> or <code>VpcConfiguration</code> to apply to the Amazon S3 Access point. You can make the access point accessible from the internet, or you can specify that all requests made through that access point must originate from a specific virtual private cloud (VPC). You can specify only one type of network configuration. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/creating-access-points.html\">Creating access points</a>.</p>",
      "union": true
    },
    "OrderBy": {
      "type": "string",
      "enum": [
        "ASC",
        "DESC"
      ]
    },
    "PolicyName": {
      "type": "string"
    },
    "PrincipalMap": {
      "type": "map",
      "key": {
        "shape": "String"
      },
      "value": {
        "shape": "String"
      }
    },
    "ReasonCode": {
      "type": "string",
      "enum": [
        "AWS_SERVICE_ACCESS_DISABLED",
        "DELEGATED_ADMINISTRATOR_DEREGISTERED",
        "ORGANIZATION_DELETED",
        "SERVICE_LINKED_ROLE_CREATION_FAILED"
      ]
    },
    "ResourceArn": {
      "type": "string",
      "pattern": "arn:[^:]*:[^:]*:[^:]*:[^:]*:.*$"
    },
    "ResourceType": {
      "type": "string",
      "enum": [
        "AWS::S3::Bucket",
        "AWS::IAM::Role",
        "AWS::SQS::Queue",
        "AWS::Lambda::Function",
        "AWS::Lambda::LayerVersion",
        "AWS::KMS::Key",
        "AWS::SecretsManager::Secret"
      ]
    },
    "RetiringPrincipal": {
      "type": "string"
    },
    "S3AccessPointConfiguration": {
      "type": "structure",
      "members": {
        "accessPointPolicy": {
          "shape": "AccessPointPolicy",
          "documentation": "<p>The access point policy.</p>"
        },
        "networkOrigin": {
          "shape": "NetworkOriginConfiguration",
          "documentation": "<p>The proposed <code>Internet</code> and <code>VpcConfiguration</code> to apply to this Amazon S3 access point. If the access preview is for a new resource and neither is specified, the access preview uses <code>Internet</code> for the network origin. If the access preview is for an existing resource and neither is specified, the access preview uses the exiting network origin.</p>"
        },
        "publicAccessBlock": {
          "shape": "S3PublicAccessBlockConfiguration",
          "documentation": "<p>The proposed <code>S3PublicAccessBlock</code> configuration to apply to this Amazon S3 Access Point.</p>"
        }
      },
      "documentation": "<p>The configuration for an Amazon S3 access point for the bucket. You can propose up to 10 access points per bucket. If the proposed Amazon S3 access point configuration is for an existing bucket, the access preview uses the proposed access point configuration in place of the existing access points. To propose an access point without a policy, you can provide an empty string as the access point policy. For more information, see <a href=\"https://docs.aws.amazon.com/https:/docs.aws.amazon.com/AmazonS3/latest/dev/creating-access-points.html\">Creating access points</a>. For more information about access point policy limits, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-points-restrictions-limitations.html\">Access points restrictions and limitations</a>.</p>"
    },
    "S3AccessPointConfigurationsMap": {
      "type": "map",
      "key": {
        "shape": "AccessPointArn"
      },
      "value": {
        "shape": "S3AccessPointConfiguration"
      }
    },
    "S3BucketAclGrantConfiguration": {
      "type": "structure",
      "required": [
        "grantee",
        "permission"
      ],
      "members": {
        "grantee": {
          "shape": "AclGrantee",
          "documentation": "<p>The grantee to whom you’re assigning access rights.</p>"
        },
        "permission": {
          "shape": "AclPermission",
          "documentation": "<p>The permissions being granted.</p>"
        }
      },
      "documentation": "<p>A proposed access control list grant configuration for an Amazon S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html#setting-acls\">How to Specify an ACL</a>.</p>"
    },
    "S3BucketAclGrantConfigurationsList": {
      "type": "list",
      "member": {
        "shape": "S3BucketAclGrantConfiguration"
      }
    },
    "S3BucketConfiguration": {
      "type": "structure",
      "members": {
        "accessPoints": {
          "shape": "S3AccessPointConfigurationsMap",
          "documentation": "<p>The configuration of Amazon S3 access points for the bucket.</p>"
        },
        "bucketAclGrants": {
          "shape": "S3BucketAclGrantConfigurationsList",
          "documentation": "<p>The proposed list of ACL grants for the Amazon S3 bucket. You can propose up to 100 ACL grants per bucket. If the proposed grant configuration is for an existing bucket, the access preview uses the proposed list of grant configurations in place of the existing grants. Otherwise, the access preview uses the existing grants for the bucket.</p>"
        },
        "bucketPolicy": {
          "shape": "S3BucketPolicy",
          "documentation": "<p>The proposed bucket policy for the Amazon S3 bucket.</p>"
        },
        "bucketPublicAccessBlock": {
          "shape": "S3PublicAccessBlockConfiguration",
          "documentation": "<p>The proposed block public access configuration for the Amazon S3 bucket.</p>"
        }
      },
      "documentation": "<p>Proposed access control configuration for an Amazon S3 bucket. You can propose a configuration for a new Amazon S3 bucket or an existing Amazon S3 bucket that you own by specifying the Amazon S3 bucket policy, bucket ACLs, bucket BPA settings, and Amazon S3 access points attached to the bucket. If the configuration is for an existing Amazon S3 bucket and you do not specify the Amazon S3 bucket policy, the access preview uses the existing policy attached to the bucket. If the access preview is for a new resource and you do not specify the Amazon S3 bucket policy, the access preview assumes a bucket without a policy. To propose deletion of an existing bucket policy, you can specify an empty string. For more information about bucket policy limits, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/example-bucket-policies.html\">Bucket Policy Examples</a>.</p>"
    },
    "S3BucketPolicy": {
      "type": "string"
    },
    "S3PublicAccessBlockConfiguration": {
      "type": "structure",
      "required": [
        "ignorePublicAcls",
        "restrictPublicBuckets"
      ],
      "members": {
        "ignorePublicAcls": {
          "shape": "Boolean",
          "documentation": "<p> Specifies whether Amazon S3 should ignore public ACLs for this bucket and objects in this bucket. </p>"
        },
        "restrictPublicBuckets": {
          "shape": "Boolean",
          "documentation": "<p> Specifies whether Amazon S3 should restrict public bucket policies for this bucket. </p>"
        }
      },
      "documentation": "<p>The <code>PublicAccessBlock</code> configuration to apply to this Amazon S3 bucket. If the proposed configuration is for an existing Amazon S3 bucket and the configuration is not specified, the access preview uses the existing setting. If the proposed configuration is for a new bucket and the configuration is not specified, the access preview uses <code>false</code>. If the proposed configuration is for a new access point and the access point BPA configuration is not specified, the access preview uses <code>true</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket-publicaccessblockconfiguration.html\">PublicAccessBlockConfiguration</a>. </p>"
    },
    "SecretsManagerSecretConfiguration": {
      "type": "structure",
      "members": {
        "kmsKeyId": {
          "shape": "SecretsManagerSecretKmsId",
          "documentation": "<p>The proposed ARN, key ID, or alias of the AWS KMS customer master key (CMK).</p>"
        },
        "secretPolicy": {
          "shape": "SecretsManagerSecretPolicy",
          "documentation": "<p>The proposed resource policy defining who can access or manage the secret.</p>"
        }
      },
      "documentation": "<p>The configuration for a Secrets Manager secret. For more information, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/apireference/API_CreateSecret.html\">CreateSecret</a>.</p> <p>You can propose a configuration for a new secret or an existing secret that you own by specifying the secret policy and optional KMS encryption key. If the configuration is for an existing secret and you do not specify the secret policy, the access preview uses the existing policy for the secret. If the access preview is for a new resource and you do not specify the policy, the access preview assumes a secret without a policy. To propose deletion of an existing policy, you can specify an empty string. If the proposed configuration is for a new secret and you do not specify the KMS key ID, the access preview uses the default CMK of the AWS account. If you specify an empty string for the KMS key ID, the access preview uses the default CMK of the AWS account. For more information about secret policy limits, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_limits.html\">Quotas for AWS Secrets Manager.</a>.</p>"
    },
    "SecretsManagerSecretKmsId": {
      "type": "string"
    },
    "SecretsManagerSecretPolicy": {
      "type": "string"
    },
    "SharedViaList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "SortCriteria": {
      "type": "structure",
      "members": {
        "attributeName": {
          "shape": "String",
          "documentation": "<p>The name of the attribute to sort on.</p>"
        },
        "orderBy": {
          "shape": "OrderBy",
          "documentation": "<p>The sort order, ascending or descending.</p>"
        }
      },
      "documentation": "<p>The criteria used to sort.</p>"
    },
    "SqsQueueConfiguration": {
      "type": "structure",
      "members": {
        "queuePolicy": {
          "shape": "SqsQueuePolicy",
          "documentation": "<p> The proposed resource policy for the SQS queue. </p>"
        }
      },
      "documentation": "<p>The proposed access control configuration for an SQS queue. You can propose a configuration for a new SQS queue or an existing SQS queue that you own by specifying the SQS policy. If the configuration is for an existing SQS queue and you do not specify the SQS policy, the access preview uses the existing SQS policy for the queue. If the access preview is for a new resource and you do not specify the policy, the access preview assumes an SQS queue without a policy. To propose deletion of an existing SQS queue policy, you can specify an empty string for the SQS policy. For more information about SQS policy limits, see <a href=\"https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/quotas-policies.html\">Quotas related to policies</a>.</p>"
    },
    "SqsQueuePolicy": {
      "type": "string"
    },
    "StartResourceScanRequest": {
      "type": "structure",
      "required": [
        "analyzerArn",
        "resourceArn"
      ],
      "members": {
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> to use to scan the policies applied to the specified resource.</p>"
        },
        "resourceArn": {
          "shape": "ResourceArn",
          "documentation": "<p>The ARN of the resource to scan.</p>"
        }
      },
      "documentation": "<p>Starts a scan of the policies applied to the specified resource.</p>"
    },
    "StatusReason": {
      "type": "structure",
      "required": [
        "code"
      ],
      "members": {
        "code": {
          "shape": "ReasonCode",
          "documentation": "<p>The reason code for the current status of the analyzer.</p>"
        }
      },
      "documentation": "<p>Provides more details about the current status of the analyzer. For example, if the creation for the analyzer fails, a <code>Failed</code> status is returned. For an analyzer with organization as the type, this failure can be due to an issue with creating the service-linked roles required in the member accounts of the AWS organization.</p>"
    },
    "String": {
      "type": "string"
    },
    "TagKeys": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "TagResourceRequest": {
      "type": "structure",
      "required": [
        "resourceArn",
        "tags"
      ],
      "members": {
        "resourceArn": {
          "shape": "String",
          "documentation": "<p>The ARN of the resource to add the tag to.</p>",
          "location": "uri",
          "locationName": "resourceArn"
        },
        "tags": {
          "shape": "TagsMap",
          "documentation": "<p>The tags to add to the resource.</p>"
        }
      },
      "documentation": "<p>Adds a tag to the specified resource.</p>"
    },
    "TagResourceResponse": {
      "type": "structure",
      "members": {},
      "documentation": "<p>The response to the request.</p>"
    },
    "TagsMap": {
      "type": "map",
      "key": {
        "shape": "String"
      },
      "value": {
        "shape": "String"
      }
    },
    "Timestamp": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "Token": {
      "type": "string"
    },
    "Type": {
      "type": "string",
      "enum": [
        "ACCOUNT",
        "ORGANIZATION"
      ]
    },
    "UntagResourceRequest": {
      "type": "structure",
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "members": {
        "resourceArn": {
          "shape": "String",
          "documentation": "<p>The ARN of the resource to remove the tag from.</p>",
          "location": "uri",
          "locationName": "resourceArn"
        },
        "tagKeys": {
          "shape": "TagKeys",
          "documentation": "<p>The key for the tag to add.</p>",
          "location": "querystring",
          "locationName": "tagKeys"
        }
      },
      "documentation": "<p>Removes a tag from the specified resource.</p>"
    },
    "UntagResourceResponse": {
      "type": "structure",
      "members": {},
      "documentation": "<p>The response to the request.</p>"
    },
    "UpdateArchiveRuleRequest": {
      "type": "structure",
      "required": [
        "analyzerName",
        "filter",
        "ruleName"
      ],
      "members": {
        "analyzerName": {
          "shape": "Name",
          "documentation": "<p>The name of the analyzer to update the archive rules for.</p>",
          "location": "uri",
          "locationName": "analyzerName"
        },
        "clientToken": {
          "shape": "String",
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true
        },
        "filter": {
          "shape": "FilterCriteriaMap",
          "documentation": "<p>A filter to match for the rules to update. Only rules that match the filter are updated.</p>"
        },
        "ruleName": {
          "shape": "Name",
          "documentation": "<p>The name of the rule to update.</p>",
          "location": "uri",
          "locationName": "ruleName"
        }
      },
      "documentation": "<p>Updates the specified archive rule.</p>"
    },
    "UpdateFindingsRequest": {
      "type": "structure",
      "required": [
        "analyzerArn",
        "status"
      ],
      "members": {
        "analyzerArn": {
          "shape": "AnalyzerArn",
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> that generated the findings to update.</p>"
        },
        "clientToken": {
          "shape": "String",
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true
        },
        "ids": {
          "shape": "FindingIdList",
          "documentation": "<p>The IDs of the findings to update.</p>"
        },
        "resourceArn": {
          "shape": "ResourceArn",
          "documentation": "<p>The ARN of the resource identified in the finding.</p>"
        },
        "status": {
          "shape": "FindingStatusUpdate",
          "documentation": "<p>The state represents the action to take to update the finding Status. Use <code>ARCHIVE</code> to change an Active finding to an Archived finding. Use <code>ACTIVE</code> to change an Archived finding to an Active finding.</p>"
        }
      },
      "documentation": "<p>Updates findings with the new values provided in the request.</p>"
    },
    "ValueList": {
      "type": "list",
      "member": {
        "shape": "String"
      },
      "max": 20,
      "min": 1
    },
    "VpcConfiguration": {
      "type": "structure",
      "required": [
        "vpcId"
      ],
      "members": {
        "vpcId": {
          "shape": "VpcId",
          "documentation": "<p> If this field is specified, this access point will only allow connections from the specified VPC ID. </p>"
        }
      },
      "documentation": "<p> The proposed virtual private cloud (VPC) configuration for the Amazon S3 access point. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_control_VpcConfiguration.html\">VpcConfiguration</a>. </p>"
    },
    "VpcId": {
      "type": "string",
      "pattern": "^vpc-([0-9a-f]){8}(([0-9a-f]){9})?$"
    }
  },
  "documentation": "<p>AWS IAM Access Analyzer helps identify potential resource-access risks by enabling you to identify any policies that grant access to an external principal. It does this by using logic-based reasoning to analyze resource-based policies in your AWS environment. An external principal can be another AWS account, a root user, an IAM user or role, a federated user, an AWS service, or an anonymous user. You can also use Access Analyzer to preview and validate public and cross-account access to your resources before deploying permissions changes. This guide describes the AWS IAM Access Analyzer operations that you can call programmatically. For general information about Access Analyzer, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/what-is-access-analyzer.html\">AWS IAM Access Analyzer</a> in the <b>IAM User Guide</b>.</p> <p>To start using Access Analyzer, you first need to create an analyzer.</p>"
}