{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-11-01",
    "endpointPrefix": "access-analyzer",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Access Analyzer",
    "serviceId": "AccessAnalyzer",
    "signatureVersion": "v4",
    "signingName": "access-analyzer",
    "uid": "accessanalyzer-2019-11-01"
  },
  "operations": {
    "ApplyArchiveRule": {
      "http": {
        "method": "PUT",
        "requestUri": "/archive-rule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn",
          "ruleName"
        ],
        "members": {
          "analyzerArn": {},
          "clientToken": {
            "idempotencyToken": true
          },
          "ruleName": {}
        }
      },
      "idempotent": true
    },
    "CreateAccessPreview": {
      "http": {
        "method": "PUT",
        "requestUri": "/access-preview",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn",
          "configurations"
        ],
        "members": {
          "analyzerArn": {},
          "clientToken": {
            "idempotencyToken": true
          },
          "configurations": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {}
        }
      },
      "idempotent": true
    },
    "CreateAnalyzer": {
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName",
          "type"
        ],
        "members": {
          "analyzerName": {},
          "archiveRules": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "filter",
                "ruleName"
              ],
              "members": {
                "filter": {
                  "shape": "S1i"
                },
                "ruleName": {}
              }
            }
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "S1l"
          },
          "type": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {}
        }
      },
      "idempotent": true
    },
    "CreateArchiveRule": {
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer/{analyzerName}/archive-rule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName",
          "filter",
          "ruleName"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "filter": {
            "shape": "S1i"
          },
          "ruleName": {}
        }
      },
      "idempotent": true
    },
    "DeleteAnalyzer": {
      "http": {
        "method": "DELETE",
        "requestUri": "/analyzer/{analyzerName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          }
        }
      },
      "idempotent": true
    },
    "DeleteArchiveRule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName",
          "ruleName"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          },
          "ruleName": {
            "location": "uri",
            "locationName": "ruleName"
          }
        }
      },
      "idempotent": true
    },
    "GetAccessPreview": {
      "http": {
        "method": "GET",
        "requestUri": "/access-preview/{accessPreviewId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "accessPreviewId",
          "analyzerArn"
        ],
        "members": {
          "accessPreviewId": {
            "location": "uri",
            "locationName": "accessPreviewId"
          },
          "analyzerArn": {
            "location": "querystring",
            "locationName": "analyzerArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "accessPreview"
        ],
        "members": {
          "accessPreview": {
            "type": "structure",
            "required": [
              "analyzerArn",
              "configurations",
              "createdAt",
              "id",
              "status"
            ],
            "members": {
              "analyzerArn": {},
              "configurations": {
                "shape": "S6"
              },
              "createdAt": {
                "shape": "S1u"
              },
              "id": {},
              "status": {},
              "statusReason": {
                "shape": "S1w"
              }
            }
          }
        }
      }
    },
    "GetAnalyzedResource": {
      "http": {
        "method": "GET",
        "requestUri": "/analyzed-resource",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn",
          "resourceArn"
        ],
        "members": {
          "analyzerArn": {
            "location": "querystring",
            "locationName": "analyzerArn"
          },
          "resourceArn": {
            "location": "querystring",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resource": {
            "type": "structure",
            "required": [
              "analyzedAt",
              "createdAt",
              "isPublic",
              "resourceArn",
              "resourceOwnerAccount",
              "resourceType",
              "updatedAt"
            ],
            "members": {
              "actions": {
                "shape": "S22"
              },
              "analyzedAt": {
                "shape": "S1u"
              },
              "createdAt": {
                "shape": "S1u"
              },
              "error": {},
              "isPublic": {
                "type": "boolean"
              },
              "resourceArn": {},
              "resourceOwnerAccount": {},
              "resourceType": {},
              "sharedVia": {
                "type": "list",
                "member": {}
              },
              "status": {},
              "updatedAt": {
                "shape": "S1u"
              }
            }
          }
        }
      }
    },
    "GetAnalyzer": {
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analyzer"
        ],
        "members": {
          "analyzer": {
            "shape": "S28"
          }
        }
      }
    },
    "GetArchiveRule": {
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName",
          "ruleName"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          },
          "ruleName": {
            "location": "uri",
            "locationName": "ruleName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "archiveRule"
        ],
        "members": {
          "archiveRule": {
            "shape": "S2e"
          }
        }
      }
    },
    "GetFinding": {
      "http": {
        "method": "GET",
        "requestUri": "/finding/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn",
          "id"
        ],
        "members": {
          "analyzerArn": {
            "location": "querystring",
            "locationName": "analyzerArn"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "finding": {
            "type": "structure",
            "required": [
              "analyzedAt",
              "condition",
              "createdAt",
              "id",
              "resourceOwnerAccount",
              "resourceType",
              "status",
              "updatedAt"
            ],
            "members": {
              "action": {
                "shape": "S22"
              },
              "analyzedAt": {
                "shape": "S1u"
              },
              "condition": {
                "shape": "S2j"
              },
              "createdAt": {
                "shape": "S1u"
              },
              "error": {},
              "id": {},
              "isPublic": {
                "type": "boolean"
              },
              "principal": {
                "shape": "S2k"
              },
              "resource": {},
              "resourceOwnerAccount": {},
              "resourceType": {},
              "sources": {
                "shape": "S2l"
              },
              "status": {},
              "updatedAt": {
                "shape": "S1u"
              }
            }
          }
        }
      }
    },
    "ListAccessPreviewFindings": {
      "http": {
        "requestUri": "/access-preview/{accessPreviewId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "accessPreviewId",
          "analyzerArn"
        ],
        "members": {
          "accessPreviewId": {
            "location": "uri",
            "locationName": "accessPreviewId"
          },
          "analyzerArn": {},
          "filter": {
            "shape": "S1i"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "findings"
        ],
        "members": {
          "findings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "changeType",
                "createdAt",
                "id",
                "resourceOwnerAccount",
                "resourceType",
                "status"
              ],
              "members": {
                "action": {
                  "shape": "S22"
                },
                "changeType": {},
                "condition": {
                  "shape": "S2j"
                },
                "createdAt": {
                  "shape": "S1u"
                },
                "error": {},
                "existingFindingId": {},
                "existingFindingStatus": {},
                "id": {},
                "isPublic": {
                  "type": "boolean"
                },
                "principal": {
                  "shape": "S2k"
                },
                "resource": {},
                "resourceOwnerAccount": {},
                "resourceType": {},
                "sources": {
                  "shape": "S2l"
                },
                "status": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListAccessPreviews": {
      "http": {
        "method": "GET",
        "requestUri": "/access-preview",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn"
        ],
        "members": {
          "analyzerArn": {
            "location": "querystring",
            "locationName": "analyzerArn"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "accessPreviews"
        ],
        "members": {
          "accessPreviews": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "analyzerArn",
                "createdAt",
                "id",
                "status"
              ],
              "members": {
                "analyzerArn": {},
                "createdAt": {
                  "shape": "S1u"
                },
                "id": {},
                "status": {},
                "statusReason": {
                  "shape": "S1w"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListAnalyzedResources": {
      "http": {
        "requestUri": "/analyzed-resource",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn"
        ],
        "members": {
          "analyzerArn": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "resourceType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analyzedResources"
        ],
        "members": {
          "analyzedResources": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "resourceArn",
                "resourceOwnerAccount",
                "resourceType"
              ],
              "members": {
                "resourceArn": {},
                "resourceOwnerAccount": {},
                "resourceType": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListAnalyzers": {
      "http": {
        "method": "GET",
        "requestUri": "/analyzer",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "type": {
            "location": "querystring",
            "locationName": "type"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analyzers"
        ],
        "members": {
          "analyzers": {
            "type": "list",
            "member": {
              "shape": "S28"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListArchiveRules": {
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}/archive-rule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "archiveRules"
        ],
        "members": {
          "archiveRules": {
            "type": "list",
            "member": {
              "shape": "S2e"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListFindings": {
      "http": {
        "requestUri": "/finding",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn"
        ],
        "members": {
          "analyzerArn": {},
          "filter": {
            "shape": "S1i"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "sort": {
            "type": "structure",
            "members": {
              "attributeName": {},
              "orderBy": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "findings"
        ],
        "members": {
          "findings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "analyzedAt",
                "condition",
                "createdAt",
                "id",
                "resourceOwnerAccount",
                "resourceType",
                "status",
                "updatedAt"
              ],
              "members": {
                "action": {
                  "shape": "S22"
                },
                "analyzedAt": {
                  "shape": "S1u"
                },
                "condition": {
                  "shape": "S2j"
                },
                "createdAt": {
                  "shape": "S1u"
                },
                "error": {},
                "id": {},
                "isPublic": {
                  "type": "boolean"
                },
                "principal": {
                  "shape": "S2k"
                },
                "resource": {},
                "resourceOwnerAccount": {},
                "resourceType": {},
                "sources": {
                  "shape": "S2l"
                },
                "status": {},
                "updatedAt": {
                  "shape": "S1u"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "S1l"
          }
        }
      }
    },
    "StartResourceScan": {
      "http": {
        "requestUri": "/resource/scan",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn",
          "resourceArn"
        ],
        "members": {
          "analyzerArn": {},
          "resourceArn": {}
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "S1l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdateArchiveRule": {
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName",
          "filter",
          "ruleName"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "filter": {
            "shape": "S1i"
          },
          "ruleName": {
            "location": "uri",
            "locationName": "ruleName"
          }
        }
      },
      "idempotent": true
    },
    "UpdateFindings": {
      "http": {
        "method": "PUT",
        "requestUri": "/finding",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn",
          "status"
        ],
        "members": {
          "analyzerArn": {},
          "clientToken": {
            "idempotencyToken": true
          },
          "ids": {
            "type": "list",
            "member": {}
          },
          "resourceArn": {},
          "status": {}
        }
      },
      "idempotent": true
    },
    "ValidatePolicy": {
      "http": {
        "requestUri": "/policy/validation",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "policyDocument",
          "policyType"
        ],
        "members": {
          "locale": {},
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "policyDocument": {},
          "policyType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "findings"
        ],
        "members": {
          "findings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "findingDetails",
                "findingType",
                "issueCode",
                "learnMoreLink",
                "locations"
              ],
              "members": {
                "findingDetails": {},
                "findingType": {},
                "issueCode": {},
                "learnMoreLink": {},
                "locations": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "path",
                      "span"
                    ],
                    "members": {
                      "path": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "index": {
                              "type": "integer"
                            },
                            "key": {},
                            "substring": {
                              "type": "structure",
                              "required": [
                                "length",
                                "start"
                              ],
                              "members": {
                                "length": {
                                  "type": "integer"
                                },
                                "start": {
                                  "type": "integer"
                                }
                              }
                            },
                            "value": {}
                          },
                          "union": true
                        }
                      },
                      "span": {
                        "type": "structure",
                        "required": [
                          "end",
                          "start"
                        ],
                        "members": {
                          "end": {
                            "shape": "S49"
                          },
                          "start": {
                            "shape": "S49"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    }
  },
  "shapes": {
    "S6": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "iamRole": {
            "type": "structure",
            "members": {
              "trustPolicy": {}
            }
          },
          "kmsKey": {
            "type": "structure",
            "members": {
              "grants": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "granteePrincipal",
                    "issuingAccount",
                    "operations"
                  ],
                  "members": {
                    "constraints": {
                      "type": "structure",
                      "members": {
                        "encryptionContextEquals": {
                          "shape": "Sf"
                        },
                        "encryptionContextSubset": {
                          "shape": "Sf"
                        }
                      }
                    },
                    "granteePrincipal": {},
                    "issuingAccount": {},
                    "operations": {
                      "type": "list",
                      "member": {}
                    },
                    "retiringPrincipal": {}
                  }
                }
              },
              "keyPolicies": {
                "type": "map",
                "key": {},
                "value": {}
              }
            }
          },
          "s3Bucket": {
            "type": "structure",
            "members": {
              "accessPoints": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "structure",
                  "members": {
                    "accessPointPolicy": {},
                    "networkOrigin": {
                      "type": "structure",
                      "members": {
                        "internetConfiguration": {
                          "type": "structure",
                          "members": {}
                        },
                        "vpcConfiguration": {
                          "type": "structure",
                          "required": [
                            "vpcId"
                          ],
                          "members": {
                            "vpcId": {}
                          }
                        }
                      },
                      "union": true
                    },
                    "publicAccessBlock": {
                      "shape": "Sz"
                    }
                  }
                }
              },
              "bucketAclGrants": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "grantee",
                    "permission"
                  ],
                  "members": {
                    "grantee": {
                      "type": "structure",
                      "members": {
                        "id": {},
                        "uri": {}
                      },
                      "union": true
                    },
                    "permission": {}
                  }
                }
              },
              "bucketPolicy": {},
              "bucketPublicAccessBlock": {
                "shape": "Sz"
              }
            }
          },
          "secretsManagerSecret": {
            "type": "structure",
            "members": {
              "kmsKeyId": {},
              "secretPolicy": {}
            }
          },
          "sqsQueue": {
            "type": "structure",
            "members": {
              "queuePolicy": {}
            }
          }
        },
        "union": true
      }
    },
    "Sf": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sz": {
      "type": "structure",
      "required": [
        "ignorePublicAcls",
        "restrictPublicBuckets"
      ],
      "members": {
        "ignorePublicAcls": {
          "type": "boolean"
        },
        "restrictPublicBuckets": {
          "type": "boolean"
        }
      }
    },
    "S1i": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "contains": {
            "shape": "S1k"
          },
          "eq": {
            "shape": "S1k"
          },
          "exists": {
            "type": "boolean"
          },
          "neq": {
            "shape": "S1k"
          }
        }
      }
    },
    "S1k": {
      "type": "list",
      "member": {}
    },
    "S1l": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1u": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S1w": {
      "type": "structure",
      "required": [
        "code"
      ],
      "members": {
        "code": {}
      }
    },
    "S22": {
      "type": "list",
      "member": {}
    },
    "S28": {
      "type": "structure",
      "required": [
        "arn",
        "createdAt",
        "name",
        "status",
        "type"
      ],
      "members": {
        "arn": {},
        "createdAt": {
          "shape": "S1u"
        },
        "lastResourceAnalyzed": {},
        "lastResourceAnalyzedAt": {
          "shape": "S1u"
        },
        "name": {},
        "status": {},
        "statusReason": {
          "type": "structure",
          "required": [
            "code"
          ],
          "members": {
            "code": {}
          }
        },
        "tags": {
          "shape": "S1l"
        },
        "type": {}
      }
    },
    "S2e": {
      "type": "structure",
      "required": [
        "createdAt",
        "filter",
        "ruleName",
        "updatedAt"
      ],
      "members": {
        "createdAt": {
          "shape": "S1u"
        },
        "filter": {
          "shape": "S1i"
        },
        "ruleName": {},
        "updatedAt": {
          "shape": "S1u"
        }
      }
    },
    "S2j": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S2k": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S2l": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "type"
        ],
        "members": {
          "detail": {
            "type": "structure",
            "members": {
              "accessPointArn": {}
            }
          },
          "type": {}
        }
      }
    },
    "S49": {
      "type": "structure",
      "required": [
        "column",
        "line",
        "offset"
      ],
      "members": {
        "column": {
          "type": "integer"
        },
        "line": {
          "type": "integer"
        },
        "offset": {
          "type": "integer"
        }
      }
    }
  }
}