{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-11-01",
    "endpointPrefix": "access-analyzer",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Access Analyzer",
    "serviceId": "AccessAnalyzer",
    "signatureVersion": "v4",
    "signingName": "access-analyzer",
    "uid": "accessanalyzer-2019-11-01"
  },
  "operations": {
    "ApplyArchiveRule": {
      "http": {
        "method": "PUT",
        "requestUri": "/archive-rule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn",
          "ruleName"
        ],
        "members": {
          "analyzerArn": {},
          "ruleName": {},
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "idempotent": true
    },
    "CancelPolicyGeneration": {
      "http": {
        "method": "PUT",
        "requestUri": "/policy/generation/{jobId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "jobId"
        ],
        "members": {
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "CreateAccessPreview": {
      "http": {
        "method": "PUT",
        "requestUri": "/access-preview",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn",
          "configurations"
        ],
        "members": {
          "analyzerArn": {},
          "configurations": {
            "shape": "S9"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {}
        }
      },
      "idempotent": true
    },
    "CreateAnalyzer": {
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName",
          "type"
        ],
        "members": {
          "analyzerName": {},
          "type": {},
          "archiveRules": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ruleName",
                "filter"
              ],
              "members": {
                "ruleName": {},
                "filter": {
                  "shape": "S1m"
                }
              }
            }
          },
          "tags": {
            "shape": "S1p"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {}
        }
      },
      "idempotent": true
    },
    "CreateArchiveRule": {
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer/{analyzerName}/archive-rule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName",
          "ruleName",
          "filter"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          },
          "ruleName": {},
          "filter": {
            "shape": "S1m"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "idempotent": true
    },
    "DeleteAnalyzer": {
      "http": {
        "method": "DELETE",
        "requestUri": "/analyzer/{analyzerName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          }
        }
      },
      "idempotent": true
    },
    "DeleteArchiveRule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName",
          "ruleName"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          },
          "ruleName": {
            "location": "uri",
            "locationName": "ruleName"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          }
        }
      },
      "idempotent": true
    },
    "GetAccessPreview": {
      "http": {
        "method": "GET",
        "requestUri": "/access-preview/{accessPreviewId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "accessPreviewId",
          "analyzerArn"
        ],
        "members": {
          "accessPreviewId": {
            "location": "uri",
            "locationName": "accessPreviewId"
          },
          "analyzerArn": {
            "location": "querystring",
            "locationName": "analyzerArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "accessPreview"
        ],
        "members": {
          "accessPreview": {
            "type": "structure",
            "required": [
              "id",
              "analyzerArn",
              "configurations",
              "createdAt",
              "status"
            ],
            "members": {
              "id": {},
              "analyzerArn": {},
              "configurations": {
                "shape": "S9"
              },
              "createdAt": {
                "shape": "S1x"
              },
              "status": {},
              "statusReason": {
                "shape": "S1z"
              }
            }
          }
        }
      }
    },
    "GetAnalyzedResource": {
      "http": {
        "method": "GET",
        "requestUri": "/analyzed-resource",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn",
          "resourceArn"
        ],
        "members": {
          "analyzerArn": {
            "location": "querystring",
            "locationName": "analyzerArn"
          },
          "resourceArn": {
            "location": "querystring",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resource": {
            "type": "structure",
            "required": [
              "resourceArn",
              "resourceType",
              "createdAt",
              "analyzedAt",
              "updatedAt",
              "isPublic",
              "resourceOwnerAccount"
            ],
            "members": {
              "resourceArn": {},
              "resourceType": {},
              "createdAt": {
                "shape": "S1x"
              },
              "analyzedAt": {
                "shape": "S1x"
              },
              "updatedAt": {
                "shape": "S1x"
              },
              "isPublic": {
                "type": "boolean"
              },
              "actions": {
                "shape": "S26"
              },
              "sharedVia": {
                "type": "list",
                "member": {}
              },
              "status": {},
              "resourceOwnerAccount": {},
              "error": {}
            }
          }
        }
      }
    },
    "GetAnalyzer": {
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analyzer"
        ],
        "members": {
          "analyzer": {
            "shape": "S2b"
          }
        }
      }
    },
    "GetArchiveRule": {
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName",
          "ruleName"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          },
          "ruleName": {
            "location": "uri",
            "locationName": "ruleName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "archiveRule"
        ],
        "members": {
          "archiveRule": {
            "shape": "S2h"
          }
        }
      }
    },
    "GetFinding": {
      "http": {
        "method": "GET",
        "requestUri": "/finding/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn",
          "id"
        ],
        "members": {
          "analyzerArn": {
            "location": "querystring",
            "locationName": "analyzerArn"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "finding": {
            "type": "structure",
            "required": [
              "id",
              "resourceType",
              "condition",
              "createdAt",
              "analyzedAt",
              "updatedAt",
              "status",
              "resourceOwnerAccount"
            ],
            "members": {
              "id": {},
              "principal": {
                "shape": "S2m"
              },
              "action": {
                "shape": "S26"
              },
              "resource": {},
              "isPublic": {
                "type": "boolean"
              },
              "resourceType": {},
              "condition": {
                "shape": "S2n"
              },
              "createdAt": {
                "shape": "S1x"
              },
              "analyzedAt": {
                "shape": "S1x"
              },
              "updatedAt": {
                "shape": "S1x"
              },
              "status": {},
              "resourceOwnerAccount": {},
              "error": {},
              "sources": {
                "shape": "S2o"
              }
            }
          }
        }
      }
    },
    "GetGeneratedPolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/policy/generation/{jobId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "jobId"
        ],
        "members": {
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          },
          "includeResourcePlaceholders": {
            "location": "querystring",
            "locationName": "includeResourcePlaceholders",
            "type": "boolean"
          },
          "includeServiceLevelTemplate": {
            "location": "querystring",
            "locationName": "includeServiceLevelTemplate",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "jobDetails",
          "generatedPolicyResult"
        ],
        "members": {
          "jobDetails": {
            "type": "structure",
            "required": [
              "jobId",
              "status",
              "startedOn"
            ],
            "members": {
              "jobId": {},
              "status": {},
              "startedOn": {
                "shape": "S1x"
              },
              "completedOn": {
                "shape": "S1x"
              },
              "jobError": {
                "type": "structure",
                "required": [
                  "code",
                  "message"
                ],
                "members": {
                  "code": {},
                  "message": {}
                }
              }
            }
          },
          "generatedPolicyResult": {
            "type": "structure",
            "required": [
              "properties"
            ],
            "members": {
              "properties": {
                "type": "structure",
                "required": [
                  "principalArn"
                ],
                "members": {
                  "isComplete": {
                    "type": "boolean"
                  },
                  "principalArn": {},
                  "cloudTrailProperties": {
                    "type": "structure",
                    "required": [
                      "trailProperties",
                      "startTime",
                      "endTime"
                    ],
                    "members": {
                      "trailProperties": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "required": [
                            "cloudTrailArn"
                          ],
                          "members": {
                            "cloudTrailArn": {},
                            "regions": {
                              "shape": "S35"
                            },
                            "allRegions": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "startTime": {
                        "shape": "S1x"
                      },
                      "endTime": {
                        "shape": "S1x"
                      }
                    }
                  }
                }
              },
              "generatedPolicies": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "policy"
                  ],
                  "members": {
                    "policy": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "ListAccessPreviewFindings": {
      "http": {
        "requestUri": "/access-preview/{accessPreviewId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "accessPreviewId",
          "analyzerArn"
        ],
        "members": {
          "accessPreviewId": {
            "location": "uri",
            "locationName": "accessPreviewId"
          },
          "analyzerArn": {},
          "filter": {
            "shape": "S1m"
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "findings"
        ],
        "members": {
          "findings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "resourceType",
                "createdAt",
                "changeType",
                "status",
                "resourceOwnerAccount"
              ],
              "members": {
                "id": {},
                "existingFindingId": {},
                "existingFindingStatus": {},
                "principal": {
                  "shape": "S2m"
                },
                "action": {
                  "shape": "S26"
                },
                "condition": {
                  "shape": "S2n"
                },
                "resource": {},
                "isPublic": {
                  "type": "boolean"
                },
                "resourceType": {},
                "createdAt": {
                  "shape": "S1x"
                },
                "changeType": {},
                "status": {},
                "resourceOwnerAccount": {},
                "error": {},
                "sources": {
                  "shape": "S2o"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListAccessPreviews": {
      "http": {
        "method": "GET",
        "requestUri": "/access-preview",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn"
        ],
        "members": {
          "analyzerArn": {
            "location": "querystring",
            "locationName": "analyzerArn"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "accessPreviews"
        ],
        "members": {
          "accessPreviews": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "analyzerArn",
                "createdAt",
                "status"
              ],
              "members": {
                "id": {},
                "analyzerArn": {},
                "createdAt": {
                  "shape": "S1x"
                },
                "status": {},
                "statusReason": {
                  "shape": "S1z"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListAnalyzedResources": {
      "http": {
        "requestUri": "/analyzed-resource",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn"
        ],
        "members": {
          "analyzerArn": {},
          "resourceType": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analyzedResources"
        ],
        "members": {
          "analyzedResources": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "resourceArn",
                "resourceOwnerAccount",
                "resourceType"
              ],
              "members": {
                "resourceArn": {},
                "resourceOwnerAccount": {},
                "resourceType": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListAnalyzers": {
      "http": {
        "method": "GET",
        "requestUri": "/analyzer",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "type": {
            "location": "querystring",
            "locationName": "type"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analyzers"
        ],
        "members": {
          "analyzers": {
            "type": "list",
            "member": {
              "shape": "S2b"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListArchiveRules": {
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}/archive-rule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "archiveRules"
        ],
        "members": {
          "archiveRules": {
            "type": "list",
            "member": {
              "shape": "S2h"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListFindings": {
      "http": {
        "requestUri": "/finding",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn"
        ],
        "members": {
          "analyzerArn": {},
          "filter": {
            "shape": "S1m"
          },
          "sort": {
            "type": "structure",
            "members": {
              "attributeName": {},
              "orderBy": {}
            }
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "findings"
        ],
        "members": {
          "findings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "resourceType",
                "condition",
                "createdAt",
                "analyzedAt",
                "updatedAt",
                "status",
                "resourceOwnerAccount"
              ],
              "members": {
                "id": {},
                "principal": {
                  "shape": "S2m"
                },
                "action": {
                  "shape": "S26"
                },
                "resource": {},
                "isPublic": {
                  "type": "boolean"
                },
                "resourceType": {},
                "condition": {
                  "shape": "S2n"
                },
                "createdAt": {
                  "shape": "S1x"
                },
                "analyzedAt": {
                  "shape": "S1x"
                },
                "updatedAt": {
                  "shape": "S1x"
                },
                "status": {},
                "resourceOwnerAccount": {},
                "error": {},
                "sources": {
                  "shape": "S2o"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListPolicyGenerations": {
      "http": {
        "method": "GET",
        "requestUri": "/policy/generation",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "principalArn": {
            "location": "querystring",
            "locationName": "principalArn"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "policyGenerations"
        ],
        "members": {
          "policyGenerations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "jobId",
                "principalArn",
                "status",
                "startedOn"
              ],
              "members": {
                "jobId": {},
                "principalArn": {},
                "status": {},
                "startedOn": {
                  "shape": "S1x"
                },
                "completedOn": {
                  "shape": "S1x"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "S1p"
          }
        }
      }
    },
    "StartPolicyGeneration": {
      "http": {
        "method": "PUT",
        "requestUri": "/policy/generation",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "policyGenerationDetails"
        ],
        "members": {
          "policyGenerationDetails": {
            "type": "structure",
            "required": [
              "principalArn"
            ],
            "members": {
              "principalArn": {}
            }
          },
          "cloudTrailDetails": {
            "type": "structure",
            "required": [
              "trails",
              "accessRole",
              "startTime"
            ],
            "members": {
              "trails": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "cloudTrailArn"
                  ],
                  "members": {
                    "cloudTrailArn": {},
                    "regions": {
                      "shape": "S35"
                    },
                    "allRegions": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "accessRole": {},
              "startTime": {
                "shape": "S1x"
              },
              "endTime": {
                "shape": "S1x"
              }
            }
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "jobId"
        ],
        "members": {
          "jobId": {}
        }
      },
      "idempotent": true
    },
    "StartResourceScan": {
      "http": {
        "requestUri": "/resource/scan",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn",
          "resourceArn"
        ],
        "members": {
          "analyzerArn": {},
          "resourceArn": {}
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "S1p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdateArchiveRule": {
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerName",
          "ruleName",
          "filter"
        ],
        "members": {
          "analyzerName": {
            "location": "uri",
            "locationName": "analyzerName"
          },
          "ruleName": {
            "location": "uri",
            "locationName": "ruleName"
          },
          "filter": {
            "shape": "S1m"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "idempotent": true
    },
    "UpdateFindings": {
      "http": {
        "method": "PUT",
        "requestUri": "/finding",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "analyzerArn",
          "status"
        ],
        "members": {
          "analyzerArn": {},
          "status": {},
          "ids": {
            "type": "list",
            "member": {}
          },
          "resourceArn": {},
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "idempotent": true
    },
    "ValidatePolicy": {
      "http": {
        "requestUri": "/policy/validation",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "policyDocument",
          "policyType"
        ],
        "members": {
          "locale": {},
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "policyDocument": {},
          "policyType": {},
          "validatePolicyResourceType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "findings"
        ],
        "members": {
          "findings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "findingDetails",
                "findingType",
                "issueCode",
                "learnMoreLink",
                "locations"
              ],
              "members": {
                "findingDetails": {},
                "findingType": {},
                "issueCode": {},
                "learnMoreLink": {},
                "locations": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "path",
                      "span"
                    ],
                    "members": {
                      "path": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "index": {
                              "type": "integer"
                            },
                            "key": {},
                            "substring": {
                              "type": "structure",
                              "required": [
                                "start",
                                "length"
                              ],
                              "members": {
                                "start": {
                                  "type": "integer"
                                },
                                "length": {
                                  "type": "integer"
                                }
                              }
                            },
                            "value": {}
                          },
                          "union": true
                        }
                      },
                      "span": {
                        "type": "structure",
                        "required": [
                          "start",
                          "end"
                        ],
                        "members": {
                          "start": {
                            "shape": "S55"
                          },
                          "end": {
                            "shape": "S55"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    }
  },
  "shapes": {
    "S9": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "iamRole": {
            "type": "structure",
            "members": {
              "trustPolicy": {}
            }
          },
          "kmsKey": {
            "type": "structure",
            "members": {
              "keyPolicies": {
                "type": "map",
                "key": {},
                "value": {}
              },
              "grants": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "operations",
                    "granteePrincipal",
                    "issuingAccount"
                  ],
                  "members": {
                    "operations": {
                      "type": "list",
                      "member": {}
                    },
                    "granteePrincipal": {},
                    "retiringPrincipal": {},
                    "constraints": {
                      "type": "structure",
                      "members": {
                        "encryptionContextEquals": {
                          "shape": "Sp"
                        },
                        "encryptionContextSubset": {
                          "shape": "Sp"
                        }
                      }
                    },
                    "issuingAccount": {}
                  }
                }
              }
            }
          },
          "secretsManagerSecret": {
            "type": "structure",
            "members": {
              "kmsKeyId": {},
              "secretPolicy": {}
            }
          },
          "s3Bucket": {
            "type": "structure",
            "members": {
              "bucketPolicy": {},
              "bucketAclGrants": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "permission",
                    "grantee"
                  ],
                  "members": {
                    "permission": {},
                    "grantee": {
                      "type": "structure",
                      "members": {
                        "id": {},
                        "uri": {}
                      },
                      "union": true
                    }
                  }
                }
              },
              "bucketPublicAccessBlock": {
                "shape": "S14"
              },
              "accessPoints": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "structure",
                  "members": {
                    "accessPointPolicy": {},
                    "publicAccessBlock": {
                      "shape": "S14"
                    },
                    "networkOrigin": {
                      "type": "structure",
                      "members": {
                        "vpcConfiguration": {
                          "type": "structure",
                          "required": [
                            "vpcId"
                          ],
                          "members": {
                            "vpcId": {}
                          }
                        },
                        "internetConfiguration": {
                          "type": "structure",
                          "members": {}
                        }
                      },
                      "union": true
                    }
                  }
                }
              }
            }
          },
          "sqsQueue": {
            "type": "structure",
            "members": {
              "queuePolicy": {}
            }
          }
        },
        "union": true
      }
    },
    "Sp": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S14": {
      "type": "structure",
      "required": [
        "ignorePublicAcls",
        "restrictPublicBuckets"
      ],
      "members": {
        "ignorePublicAcls": {
          "type": "boolean"
        },
        "restrictPublicBuckets": {
          "type": "boolean"
        }
      }
    },
    "S1m": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "eq": {
            "shape": "S1o"
          },
          "neq": {
            "shape": "S1o"
          },
          "contains": {
            "shape": "S1o"
          },
          "exists": {
            "type": "boolean"
          }
        }
      }
    },
    "S1o": {
      "type": "list",
      "member": {}
    },
    "S1p": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1x": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S1z": {
      "type": "structure",
      "required": [
        "code"
      ],
      "members": {
        "code": {}
      }
    },
    "S26": {
      "type": "list",
      "member": {}
    },
    "S2b": {
      "type": "structure",
      "required": [
        "arn",
        "name",
        "type",
        "createdAt",
        "status"
      ],
      "members": {
        "arn": {},
        "name": {},
        "type": {},
        "createdAt": {
          "shape": "S1x"
        },
        "lastResourceAnalyzed": {},
        "lastResourceAnalyzedAt": {
          "shape": "S1x"
        },
        "tags": {
          "shape": "S1p"
        },
        "status": {},
        "statusReason": {
          "type": "structure",
          "required": [
            "code"
          ],
          "members": {
            "code": {}
          }
        }
      }
    },
    "S2h": {
      "type": "structure",
      "required": [
        "ruleName",
        "filter",
        "createdAt",
        "updatedAt"
      ],
      "members": {
        "ruleName": {},
        "filter": {
          "shape": "S1m"
        },
        "createdAt": {
          "shape": "S1x"
        },
        "updatedAt": {
          "shape": "S1x"
        }
      }
    },
    "S2m": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S2n": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S2o": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "type"
        ],
        "members": {
          "type": {},
          "detail": {
            "type": "structure",
            "members": {
              "accessPointArn": {}
            }
          }
        }
      }
    },
    "S35": {
      "type": "list",
      "member": {}
    },
    "S55": {
      "type": "structure",
      "required": [
        "line",
        "column",
        "offset"
      ],
      "members": {
        "line": {
          "type": "integer"
        },
        "column": {
          "type": "integer"
        },
        "offset": {
          "type": "integer"
        }
      }
    }
  }
}