{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-08-22",
    "endpointPrefix": "acm-pca",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "ACM-PCA",
    "serviceFullName": "AWS Certificate Manager Private Certificate Authority",
    "serviceId": "ACM PCA",
    "signatureVersion": "v4",
    "targetPrefix": "ACMPrivateCA",
    "uid": "acm-pca-2017-08-22"
  },
  "operations": {
    "CreateCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityConfiguration",
          "CertificateAuthorityType"
        ],
        "members": {
          "CertificateAuthorityConfiguration": {
            "shape": "S2"
          },
          "RevocationConfiguration": {
            "shape": "Se"
          },
          "CertificateAuthorityType": {},
          "IdempotencyToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CertificateAuthorityArn": {}
        }
      },
      "idempotent": true
    },
    "CreateCertificateAuthorityAuditReport": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "S3BucketName",
          "AuditReportResponseFormat"
        ],
        "members": {
          "CertificateAuthorityArn": {},
          "S3BucketName": {},
          "AuditReportResponseFormat": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuditReportId": {},
          "S3Key": {}
        }
      },
      "idempotent": true
    },
    "DeleteCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {},
          "PermanentDeletionTimeInDays": {
            "type": "integer"
          }
        }
      }
    },
    "DescribeCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CertificateAuthority": {
            "shape": "Sx"
          }
        }
      }
    },
    "DescribeCertificateAuthorityAuditReport": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "AuditReportId"
        ],
        "members": {
          "CertificateAuthorityArn": {},
          "AuditReportId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuditReportStatus": {},
          "S3BucketName": {},
          "S3Key": {},
          "CreatedAt": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "CertificateArn"
        ],
        "members": {
          "CertificateAuthorityArn": {},
          "CertificateArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Certificate": {},
          "CertificateChain": {}
        }
      }
    },
    "GetCertificateAuthorityCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Certificate": {},
          "CertificateChain": {}
        }
      }
    },
    "GetCertificateAuthorityCsr": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Csr": {}
        }
      }
    },
    "ImportCertificateAuthorityCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "Certificate",
          "CertificateChain"
        ],
        "members": {
          "CertificateAuthorityArn": {},
          "Certificate": {
            "type": "blob"
          },
          "CertificateChain": {
            "type": "blob"
          }
        }
      }
    },
    "IssueCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "Csr",
          "SigningAlgorithm",
          "Validity"
        ],
        "members": {
          "CertificateAuthorityArn": {},
          "Csr": {
            "type": "blob"
          },
          "SigningAlgorithm": {},
          "Validity": {
            "type": "structure",
            "required": [
              "Value",
              "Type"
            ],
            "members": {
              "Value": {
                "type": "long"
              },
              "Type": {}
            }
          },
          "IdempotencyToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CertificateArn": {}
        }
      },
      "idempotent": true
    },
    "ListCertificateAuthorities": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CertificateAuthorities": {
            "type": "list",
            "member": {
              "shape": "Sx"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTags": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S1t"
          },
          "NextToken": {}
        }
      }
    },
    "RestoreCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {}
        }
      }
    },
    "RevokeCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "CertificateSerial",
          "RevocationReason"
        ],
        "members": {
          "CertificateAuthorityArn": {},
          "CertificateSerial": {},
          "RevocationReason": {}
        }
      }
    },
    "TagCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "Tags"
        ],
        "members": {
          "CertificateAuthorityArn": {},
          "Tags": {
            "shape": "S1t"
          }
        }
      }
    },
    "UntagCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "Tags"
        ],
        "members": {
          "CertificateAuthorityArn": {},
          "Tags": {
            "shape": "S1t"
          }
        }
      }
    },
    "UpdateCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {},
          "RevocationConfiguration": {
            "shape": "Se"
          },
          "Status": {}
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "structure",
      "required": [
        "KeyAlgorithm",
        "SigningAlgorithm",
        "Subject"
      ],
      "members": {
        "KeyAlgorithm": {},
        "SigningAlgorithm": {},
        "Subject": {
          "type": "structure",
          "members": {
            "Country": {},
            "Organization": {},
            "OrganizationalUnit": {},
            "DistinguishedNameQualifier": {},
            "State": {},
            "CommonName": {},
            "SerialNumber": {},
            "Locality": {},
            "Title": {},
            "Surname": {},
            "GivenName": {},
            "Initials": {},
            "Pseudonym": {},
            "GenerationQualifier": {}
          }
        }
      }
    },
    "Se": {
      "type": "structure",
      "members": {
        "CrlConfiguration": {
          "type": "structure",
          "required": [
            "Enabled"
          ],
          "members": {
            "Enabled": {
              "type": "boolean"
            },
            "ExpirationInDays": {
              "type": "integer"
            },
            "CustomCname": {},
            "S3BucketName": {}
          }
        }
      }
    },
    "Sx": {
      "type": "structure",
      "members": {
        "Arn": {},
        "CreatedAt": {
          "type": "timestamp"
        },
        "LastStateChangeAt": {
          "type": "timestamp"
        },
        "Type": {},
        "Serial": {},
        "Status": {},
        "NotBefore": {
          "type": "timestamp"
        },
        "NotAfter": {
          "type": "timestamp"
        },
        "FailureReason": {},
        "CertificateAuthorityConfiguration": {
          "shape": "S2"
        },
        "RevocationConfiguration": {
          "shape": "Se"
        },
        "RestorableUntil": {
          "type": "timestamp"
        }
      }
    },
    "S1t": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    }
  }
}