{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-08-22",
    "endpointPrefix": "acm-pca",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "ACM-PCA",
    "serviceFullName": "AWS Certificate Manager Private Certificate Authority",
    "serviceId": "ACM PCA",
    "signatureVersion": "v4",
    "targetPrefix": "ACMPrivateCA",
    "uid": "acm-pca-2017-08-22"
  },
  "operations": {
    "CreateCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityConfiguration",
          "CertificateAuthorityType"
        ],
        "members": {
          "CertificateAuthorityConfiguration": {
            "shape": "S2"
          },
          "RevocationConfiguration": {
            "shape": "Se"
          },
          "CertificateAuthorityType": {
            "shape": "Sk"
          },
          "IdempotencyToken": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          }
        }
      },
      "idempotent": true
    },
    "CreateCertificateAuthorityAuditReport": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "S3BucketName",
          "AuditReportResponseFormat"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          },
          "S3BucketName": {},
          "AuditReportResponseFormat": {
            "type": "string",
            "enum": [
              "JSON",
              "CSV"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuditReportId": {
            "shape": "Ss"
          },
          "S3Key": {}
        }
      },
      "idempotent": true
    },
    "DeleteCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          },
          "PermanentDeletionTimeInDays": {
            "type": "integer",
            "max": 30,
            "min": 7
          }
        }
      }
    },
    "DescribeCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CertificateAuthority": {
            "shape": "Sx"
          }
        }
      }
    },
    "DescribeCertificateAuthorityAuditReport": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "AuditReportId"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          },
          "AuditReportId": {
            "shape": "Ss"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuditReportStatus": {
            "type": "string",
            "enum": [
              "CREATING",
              "SUCCESS",
              "FAILED"
            ]
          },
          "S3BucketName": {},
          "S3Key": {},
          "CreatedAt": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "CertificateArn"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          },
          "CertificateArn": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Certificate": {},
          "CertificateChain": {}
        }
      }
    },
    "GetCertificateAuthorityCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Certificate": {},
          "CertificateChain": {}
        }
      }
    },
    "GetCertificateAuthorityCsr": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Csr": {}
        }
      }
    },
    "ImportCertificateAuthorityCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "Certificate",
          "CertificateChain"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          },
          "Certificate": {
            "type": "blob",
            "max": 32768,
            "min": 1
          },
          "CertificateChain": {
            "type": "blob",
            "max": 2097152,
            "min": 0
          }
        }
      }
    },
    "IssueCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "Csr",
          "SigningAlgorithm",
          "Validity"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          },
          "Csr": {
            "type": "blob",
            "max": 32768,
            "min": 1
          },
          "SigningAlgorithm": {
            "shape": "S4"
          },
          "Validity": {
            "type": "structure",
            "required": [
              "Value",
              "Type"
            ],
            "members": {
              "Value": {
                "type": "long",
                "min": 1
              },
              "Type": {
                "type": "string",
                "enum": [
                  "END_DATE",
                  "ABSOLUTE",
                  "DAYS",
                  "MONTHS",
                  "YEARS"
                ]
              }
            }
          },
          "IdempotencyToken": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CertificateArn": {
            "shape": "Sn"
          }
        }
      },
      "idempotent": true
    },
    "ListCertificateAuthorities": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S1n"
          },
          "MaxResults": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CertificateAuthorities": {
            "type": "list",
            "member": {
              "shape": "Sx"
            }
          },
          "NextToken": {
            "shape": "S1n"
          }
        }
      }
    },
    "ListTags": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          },
          "NextToken": {
            "shape": "S1n"
          },
          "MaxResults": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S1t"
          },
          "NextToken": {
            "shape": "S1n"
          }
        }
      }
    },
    "RestoreCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          }
        }
      }
    },
    "RevokeCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "CertificateSerial",
          "RevocationReason"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          },
          "CertificateSerial": {
            "shape": "S9"
          },
          "RevocationReason": {
            "type": "string",
            "enum": [
              "UNSPECIFIED",
              "KEY_COMPROMISE",
              "CERTIFICATE_AUTHORITY_COMPROMISE",
              "AFFILIATION_CHANGED",
              "SUPERSEDED",
              "CESSATION_OF_OPERATION",
              "PRIVILEGE_WITHDRAWN",
              "A_A_COMPROMISE"
            ]
          }
        }
      }
    },
    "TagCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "Tags"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          },
          "Tags": {
            "shape": "S1t"
          }
        }
      }
    },
    "UntagCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn",
          "Tags"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          },
          "Tags": {
            "shape": "S1t"
          }
        }
      }
    },
    "UpdateCertificateAuthority": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateAuthorityArn"
        ],
        "members": {
          "CertificateAuthorityArn": {
            "shape": "Sn"
          },
          "RevocationConfiguration": {
            "shape": "Se"
          },
          "Status": {
            "shape": "Sz"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "structure",
      "required": [
        "KeyAlgorithm",
        "SigningAlgorithm",
        "Subject"
      ],
      "members": {
        "KeyAlgorithm": {
          "type": "string",
          "enum": [
            "RSA_2048",
            "RSA_4096",
            "EC_prime256v1",
            "EC_secp384r1"
          ]
        },
        "SigningAlgorithm": {
          "shape": "S4"
        },
        "Subject": {
          "type": "structure",
          "members": {
            "Country": {
              "type": "string",
              "pattern": "[A-Za-z]{2}"
            },
            "Organization": {
              "shape": "S7"
            },
            "OrganizationalUnit": {
              "shape": "S7"
            },
            "DistinguishedNameQualifier": {
              "type": "string",
              "max": 64,
              "min": 0,
              "pattern": "[a-zA-Z0-9'()+-.?:/= ]*"
            },
            "State": {
              "shape": "S9"
            },
            "CommonName": {
              "shape": "S7"
            },
            "SerialNumber": {
              "shape": "S7"
            },
            "Locality": {
              "shape": "S9"
            },
            "Title": {
              "shape": "S7"
            },
            "Surname": {
              "type": "string",
              "max": 40,
              "min": 0
            },
            "GivenName": {
              "type": "string",
              "max": 16,
              "min": 0
            },
            "Initials": {
              "type": "string",
              "max": 5,
              "min": 0
            },
            "Pseudonym": {
              "shape": "S9"
            },
            "GenerationQualifier": {
              "type": "string",
              "max": 3,
              "min": 0
            }
          }
        }
      }
    },
    "S4": {
      "type": "string",
      "enum": [
        "SHA256WITHECDSA",
        "SHA384WITHECDSA",
        "SHA512WITHECDSA",
        "SHA256WITHRSA",
        "SHA384WITHRSA",
        "SHA512WITHRSA"
      ]
    },
    "S7": {
      "type": "string",
      "max": 64,
      "min": 0
    },
    "S9": {
      "type": "string",
      "max": 128,
      "min": 0
    },
    "Se": {
      "type": "structure",
      "members": {
        "CrlConfiguration": {
          "type": "structure",
          "required": [
            "Enabled"
          ],
          "members": {
            "Enabled": {
              "type": "boolean"
            },
            "ExpirationInDays": {
              "type": "integer",
              "max": 5000,
              "min": 1
            },
            "CustomCname": {
              "type": "string",
              "max": 253,
              "min": 0
            },
            "S3BucketName": {
              "type": "string",
              "max": 255,
              "min": 3
            }
          }
        }
      }
    },
    "Sk": {
      "type": "string",
      "enum": [
        "SUBORDINATE"
      ]
    },
    "Sl": {
      "type": "string",
      "max": 36,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*"
    },
    "Sn": {
      "type": "string",
      "max": 200,
      "min": 5,
      "pattern": "arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:[\\w+=/,.@-]*:[0-9]+:[\\w+=,.@-]+(/[\\w+=/,.@-]+)*"
    },
    "Ss": {
      "type": "string",
      "max": 36,
      "min": 36,
      "pattern": "[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}"
    },
    "Sx": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "Sn"
        },
        "CreatedAt": {
          "type": "timestamp"
        },
        "LastStateChangeAt": {
          "type": "timestamp"
        },
        "Type": {
          "shape": "Sk"
        },
        "Serial": {},
        "Status": {
          "shape": "Sz"
        },
        "NotBefore": {
          "type": "timestamp"
        },
        "NotAfter": {
          "type": "timestamp"
        },
        "FailureReason": {
          "type": "string",
          "enum": [
            "REQUEST_TIMED_OUT",
            "UNSUPPORTED_ALGORITHM",
            "OTHER"
          ]
        },
        "CertificateAuthorityConfiguration": {
          "shape": "S2"
        },
        "RevocationConfiguration": {
          "shape": "Se"
        },
        "RestorableUntil": {
          "type": "timestamp"
        }
      }
    },
    "Sz": {
      "type": "string",
      "enum": [
        "CREATING",
        "PENDING_CERTIFICATE",
        "ACTIVE",
        "DELETED",
        "DISABLED",
        "EXPIRED",
        "FAILED"
      ]
    },
    "S1n": {
      "type": "string",
      "max": 500,
      "min": 1
    },
    "S1o": {
      "type": "integer",
      "max": 1000,
      "min": 1
    },
    "S1t": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key"
        ],
        "members": {
          "Key": {
            "type": "string",
            "max": 128,
            "min": 1,
            "pattern": "[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]*"
          },
          "Value": {
            "type": "string",
            "max": 256,
            "min": 0,
            "pattern": "[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]*"
          }
        }
      },
      "max": 50,
      "min": 1
    }
  }
}