{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-12-08",
    "endpointPrefix":"acm",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"ACM",
    "serviceFullName":"AWS Certificate Manager",
    "signatureVersion":"v4",
    "targetPrefix":"CertificateManager",
    "protocol":"json"
  },
  "documentation":"<fullname>AWS Certificate Manager</fullname> <p>Welcome to the AWS Certificate Manager (ACM) CLI Command Reference. This guide provides descriptions, syntax, and usage examples for each ACM CLI command. You can use AWS Certificate Manager to request ACM Certificates for your AWS-based websites and applications. For general information about using ACM and for more information about using the console, see the <a href=\"url-acm-ug;acm-overview.html\">AWS Certificate Manager User Guide</a>. For more information about using the ACM API, see the <a href=\"http://docs.aws.amazon.com/acm/latest/APIReference/Welcome.html\"> AWS Certificate Manager API Reference</a>. </p>",
  "operations":{
    "DeleteCertificate":{
      "name":"DeleteCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCertificateRequest"},
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p> The specified certificate cannot be found in the caller's account, or the caller's account cannot be found. </p>"
        },
        {
          "shape":"ResourceInUseException",
          "exception":true,
          "documentation":"<p> The certificate is in use by another AWS service in the caller's account. Remove the association and try again. </p>"
        },
        {
          "shape":"InvalidArnException",
          "exception":true,
          "documentation":"<p> The requested Amazon Resource Name (ARN) does not refer to an existing resource. </p>"
        }
      ],
      "documentation":"<p> Deletes an ACM Certificate and its associated private key. If this action succeeds, the certificate no longer appears in the list of ACM Certificates that can be displayed by calling the <a>ListCertificates</a> action or be retrieved by calling the <a>GetCertificate</a> action. The certificate will not be available for use by other AWS services.</p> <note>You cannot delete an ACM Certificate that is being used by another AWS service. To delete a certificate that is in use, the certificate association must first be removed. </note>"
    },
    "DescribeCertificate":{
      "name":"DescribeCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCertificateRequest"},
      "output":{"shape":"DescribeCertificateResponse"},
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p> The specified certificate cannot be found in the caller's account, or the caller's account cannot be found. </p>"
        },
        {
          "shape":"InvalidArnException",
          "exception":true,
          "documentation":"<p> The requested Amazon Resource Name (ARN) does not refer to an existing resource. </p>"
        }
      ],
      "documentation":"<p> Returns a list of the fields contained in the specified ACM Certificate. For example, this action returns the certificate status, a flag that indicates whether the certificate is associated with any other AWS service, and the date at which the certificate request was created. The ACM Certificate is specified on input by its Amazon Resource Name (ARN). </p>"
    },
    "GetCertificate":{
      "name":"GetCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCertificateRequest"},
      "output":{"shape":"GetCertificateResponse"},
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p> The specified certificate cannot be found in the caller's account, or the caller's account cannot be found. </p>"
        },
        {
          "shape":"RequestInProgressException",
          "exception":true,
          "documentation":"<p> The certificate request is in process and the certificate in your account has not yet been issued. </p>"
        },
        {
          "shape":"InvalidArnException",
          "exception":true,
          "documentation":"<p> The requested Amazon Resource Name (ARN) does not refer to an existing resource. </p>"
        }
      ],
      "documentation":"<p> Retrieves an ACM Certificate and certificate chain for the certificate specified by an ARN. The chain is an ordered list of certificates that contains the root certificate, intermediate certificates of subordinate CAs, and the ACM Certificate. The certificate and certificate chain are base64 encoded. If you want to decode the certificate chain to see the individual certificate fields, you can use OpenSSL. </p> <note> Currently, ACM Certificates can be used only with Elastic Load Balancing and Amazon CloudFront. </note>"
    },
    "ListCertificates":{
      "name":"ListCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCertificatesRequest"},
      "output":{"shape":"ListCertificatesResponse"},
      "documentation":"<p> Retrieves a list of the ACM Certificate ARNs, and the domain name for each ARN, owned by the calling account. You can filter the list based on the <code>CertificateStatuses</code> parameter, and you can display up to <code>MaxItems</code> certificates at one time. If you have more than <code>MaxItems</code> certificates, use the <code>NextToken</code> marker from the response object in your next call to the <code>ListCertificates</code> action to retrieve the next set of certificate ARNs. </p>"
    },
    "RequestCertificate":{
      "name":"RequestCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RequestCertificateRequest"},
      "output":{"shape":"RequestCertificateResponse"},
      "errors":[
        {
          "shape":"LimitExceededException",
          "exception":true,
          "documentation":"<p> An ACM limit has been exceeded. For example, you may have input more domains than are allowed or you've requested too many certificates for your account. See the exception message returned by ACM to determine which limit you have violated. For more information about ACM limits, see the <a href=\"http://docs.amazon.com/acm/latest/userguide/limits.html\">Limits</a> topic. </p>"
        },
        {
          "shape":"InvalidDomainValidationOptionsException",
          "exception":true,
          "documentation":"<p> One or more values in the <a>DomainValidationOption</a> structure is incorrect. </p>"
        }
      ],
      "documentation":"<p> Requests an ACM Certificate for use with other AWS services. To request an ACM Certificate, you must specify the fully qualified domain name (FQDN) for your site. You can also specify additional FQDNs if users can reach your site by using other names. For each domain name you specify, email is sent to the domain owner to request approval to issue the certificate. After receiving approval from the domain owner, the ACM Certificate is issued. For more information, see the <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/overview.html\"> AWS Certificate Manager User Guide </a>. </p>"
    },
    "ResendValidationEmail":{
      "name":"ResendValidationEmail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResendValidationEmailRequest"},
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p> The specified certificate cannot be found in the caller's account, or the caller's account cannot be found. </p>"
        },
        {
          "shape":"InvalidStateException",
          "exception":true,
          "documentation":"<p> Processing has reached an invalid state. For example, this exception can occur if the specified domain is not using email validation, or the current certificate status does not permit the requested operation. See the exception message returned by ACM to determine which state is not valid. </p>"
        },
        {
          "shape":"InvalidArnException",
          "exception":true,
          "documentation":"<p> The requested Amazon Resource Name (ARN) does not refer to an existing resource. </p>"
        },
        {
          "shape":"InvalidDomainValidationOptionsException",
          "exception":true,
          "documentation":"<p> One or more values in the <a>DomainValidationOption</a> structure is incorrect. </p>"
        }
      ],
      "documentation":"<p> Resends the email that requests domain ownership validation. The domain owner or an authorized representative must approve the ACM Certificate before it can be issued. The certificate can be approved by clicking a link in the mail to navigate to the Amazon certificate approval website and then clicking <b>I Approve</b>. However, the validation email can be blocked by spam filters. Therefore, if you do not receive the original mail, you can request that the mail be resent within 72 hours of requesting the ACM Certificate. If more than 72 hours have elapsed since your original request or since your last attempt to resend validation mail, you must request a new certificate. </p>"
    }
  },
  "shapes":{
    "Arn":{
      "type":"string",
      "min":20,
      "max":2048,
      "pattern":"arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:[\\w+=/,.@-]*:[0-9]+:[\\w+=,.@-]+(/[\\w+=/,.@-]+)*"
    },
    "CertificateBody":{
      "type":"string",
      "min":1,
      "max":524288,
      "pattern":"-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END CERTIFICATE-{5}(\\u000D?\\u000A)?"
    },
    "CertificateChain":{
      "type":"string",
      "min":1,
      "max":2097152,
      "pattern":"(-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END CERTIFICATE-{5}\\u000D?\\u000A)*-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END CERTIFICATE-{5}(\\u000D?\\u000A)?"
    },
    "CertificateDetail":{
      "type":"structure",
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p> Amazon Resource Name (ARN) of the certificate. This is of the form: </p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p> For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>. </p>"
        },
        "DomainName":{
          "shape":"DomainNameString",
          "documentation":"<p> Fully qualified domain name (FQDN), such as www.example.com or example.com, for the certificate. </p>"
        },
        "SubjectAlternativeNames":{
          "shape":"DomainList",
          "documentation":"<p> One or more domain names (subject alternative names) included in the certificate request. After the certificate is issued, this list includes the domain names bound to the public key contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website. </p>"
        },
        "DomainValidationOptions":{
          "shape":"DomainValidationList",
          "documentation":"<p> References a <a>DomainValidation</a> structure that contains the domain name in the certificate and the email address that can be used for validation. </p>"
        },
        "Serial":{
          "shape":"String",
          "documentation":"<p> String that contains the serial number of the certificate. </p>"
        },
        "Subject":{
          "shape":"String",
          "documentation":"<p> The X.500 distinguished name of the entity associated with the public key contained in the certificate. </p>"
        },
        "Issuer":{
          "shape":"String",
          "documentation":"<p> The X.500 distinguished name of the CA that issued and signed the certificate. </p>"
        },
        "CreatedAt":{
          "shape":"TStamp",
          "documentation":"<p> Time at which the certificate was requested. </p>"
        },
        "IssuedAt":{
          "shape":"TStamp",
          "documentation":"<p> Time at which the certificate was issued. </p>"
        },
        "Status":{
          "shape":"CertificateStatus",
          "documentation":"<p> A <code>CertificateStatus</code> enumeration value that can contain one of the following: <ul> <li>PENDING_VALIDATION</li> <li>ISSUED</li> <li>INACTIVE</li> <li>EXPIRED</li> <li>REVOKED</li> <li>FAILED</li> <li>VALIDATION_TIMED_OUT</li> </ul> </p>"
        },
        "RevokedAt":{
          "shape":"TStamp",
          "documentation":"<p> The time, if any, at which the certificate was revoked. This value exists only if the certificate has been revoked. </p>"
        },
        "RevocationReason":{
          "shape":"RevocationReason",
          "documentation":"<p> A <code>RevocationReason</code> enumeration value that indicates why the certificate was revoked. This value exists only if the certificate has been revoked. This can be one of the following vales: <ul> <li>UNSPECIFIED</li> <li>KEY_COMPROMISE</li> <li>CA_COMPROMISE</li> <li>AFFILIATION_CHANGED</li> <li>SUPERCEDED</li> <li>CESSATION_OF_OPERATION</li> <li>CERTIFICATE_HOLD</li> <li>REMOVE_FROM_CRL</li> <li>PRIVILEGE_WITHDRAWN</li> <li>A_A_COMPROMISE</li> </ul> </p>"
        },
        "NotBefore":{
          "shape":"TStamp",
          "documentation":"<p> Time before which the certificate is not valid. </p>"
        },
        "NotAfter":{
          "shape":"TStamp",
          "documentation":"<p> Time after which the certificate is not valid. </p>"
        },
        "KeyAlgorithm":{
          "shape":"KeyAlgorithm",
          "documentation":"<p> Asymmetric algorithm used to generate the public and private key pair. Currently the only supported value is <code>RSA_2048</code>. </p>"
        },
        "SignatureAlgorithm":{
          "shape":"String",
          "documentation":"<p> Algorithm used to generate a signature. Currently the only supported value is <code>SHA256WITHRSA</code>. </p>"
        },
        "InUseBy":{
          "shape":"InUseList",
          "documentation":"<p> List that identifies ARNs that are using the certificate. A single ACM Certificate can be used by multiple AWS resources. </p>"
        }
      },
      "documentation":"<p> This structure is returned in the response object of the <a>DescribeCertificate</a> action. </p>"
    },
    "CertificateStatus":{
      "type":"string",
      "enum":[
        "PENDING_VALIDATION",
        "ISSUED",
        "INACTIVE",
        "EXPIRED",
        "VALIDATION_TIMED_OUT",
        "REVOKED",
        "FAILED"
      ]
    },
    "CertificateStatuses":{
      "type":"list",
      "member":{"shape":"CertificateStatus"}
    },
    "CertificateSummary":{
      "type":"structure",
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p> Amazon Resource Name (ARN) of the certificate. This is of the form: </p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p> For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>. </p>"
        },
        "DomainName":{
          "shape":"DomainNameString",
          "documentation":"<p> Fully qualified domain name (FQDN), such as www.example.com or example.com, for the certificate. </p>"
        }
      },
      "documentation":"<p> This structure is returned in the response object of <a>ListCertificates</a> action. </p>"
    },
    "CertificateSummaryList":{
      "type":"list",
      "member":{"shape":"CertificateSummary"}
    },
    "DeleteCertificateRequest":{
      "type":"structure",
      "required":["CertificateArn"],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p> String that contains the ARN of the ACM Certificate to be deleted. This must be of the form: </p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p> For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>. </p>"
        }
      }
    },
    "DescribeCertificateRequest":{
      "type":"structure",
      "required":["CertificateArn"],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p> String that contains an ACM Certificate ARN. The ARN must be of the form: </p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p> For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>. </p>"
        }
      }
    },
    "DescribeCertificateResponse":{
      "type":"structure",
      "members":{
        "Certificate":{
          "shape":"CertificateDetail",
          "documentation":"<p>Contains a <a>CertificateDetail</a> structure that lists the fields of an ACM Certificate.</p>"
        }
      }
    },
    "DomainList":{
      "type":"list",
      "member":{"shape":"DomainNameString"},
      "min":1,
      "max":1000
    },
    "DomainNameString":{
      "type":"string",
      "min":1,
      "max":253,
      "pattern":"^(\\*\\.)?(((?!-)[A-Za-z0-9-]{0,62}[A-Za-z0-9])\\.)+((?!-)[A-Za-z0-9-]{1,62}[A-Za-z0-9])$"
    },
    "DomainValidation":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainNameString",
          "documentation":"<p> Fully Qualified Domain Name (FQDN) of the form <code>www.example.com or </code><code>example.com</code> </p>"
        },
        "ValidationEmails":{
          "shape":"ValidationEmailList",
          "documentation":"<p> A list of contact address for the domain registrant. </p>"
        },
        "ValidationDomain":{
          "shape":"DomainNameString",
          "documentation":"<p> The base validation domain that acts as the suffix of the email addresses that are used to send the emails. </p>"
        }
      },
      "documentation":"<p> Structure that contains the domain name, the base validation domain to which validation email is sent, and the email addresses used to validate the domain identity. </p>"
    },
    "DomainValidationList":{
      "type":"list",
      "member":{"shape":"DomainValidation"},
      "min":1,
      "max":1000
    },
    "DomainValidationOption":{
      "type":"structure",
      "required":[
        "DomainName",
        "ValidationDomain"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainNameString",
          "documentation":"<p> Fully Qualified Domain Name (FQDN) of the certificate being requested. </p>"
        },
        "ValidationDomain":{
          "shape":"DomainNameString",
          "documentation":"<p> The domain to which validation email is sent. This is the base validation domain that will act as the suffix of the email addresses. This must be the same as the <code>DomainName</code> value or a superdomain of the <code>DomainName</code> value. For example, if you requested a certificate for <code>site.subdomain.example.com</code> and specify a <b>ValidationDomain</b> of <code>subdomain.example.com</code>, ACM sends email to the domain registrant, technical contact, and administrative contact in WHOIS for the base domain and the and the following five addresses: <ul> <li>admin@subdomain.example.com</li> <li>administrator@subdomain.example.com</li> <li>hostmaster@subdomain.example.com</li> <li>postmaster@subdomain.example.com</li> <li>webmaster@subdomain.example.com</li> </ul> </p>"
        }
      },
      "documentation":"<p> This structure is used in the request object of the <a>RequestCertificate</a> action. </p>"
    },
    "DomainValidationOptionList":{
      "type":"list",
      "member":{"shape":"DomainValidationOption"},
      "min":1,
      "max":1000
    },
    "GetCertificateRequest":{
      "type":"structure",
      "required":["CertificateArn"],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p> String that contains a certificate ARN in the following format: </p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p> For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>. </p>"
        }
      }
    },
    "GetCertificateResponse":{
      "type":"structure",
      "members":{
        "Certificate":{
          "shape":"CertificateBody",
          "documentation":"<p> String that contains the ACM Certificate represented by the ARN specified at input. </p>"
        },
        "CertificateChain":{
          "shape":"CertificateChain",
          "documentation":"<p> The certificate chain that contains the root certificate issued by the certificate authority (CA). </p>"
        }
      }
    },
    "IdempotencyToken":{
      "type":"string",
      "min":1,
      "max":32,
      "pattern":"\\w+"
    },
    "InUseList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "InvalidArnException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true,
      "documentation":"<p> The requested Amazon Resource Name (ARN) does not refer to an existing resource. </p>"
    },
    "InvalidDomainValidationOptionsException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true,
      "documentation":"<p> One or more values in the <a>DomainValidationOption</a> structure is incorrect. </p>"
    },
    "InvalidStateException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true,
      "documentation":"<p> Processing has reached an invalid state. For example, this exception can occur if the specified domain is not using email validation, or the current certificate status does not permit the requested operation. See the exception message returned by ACM to determine which state is not valid. </p>"
    },
    "KeyAlgorithm":{
      "type":"string",
      "enum":[
        "RSA_2048",
        "EC_prime256v1"
      ]
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true,
      "documentation":"<p> An ACM limit has been exceeded. For example, you may have input more domains than are allowed or you've requested too many certificates for your account. See the exception message returned by ACM to determine which limit you have violated. For more information about ACM limits, see the <a href=\"http://docs.amazon.com/acm/latest/userguide/limits.html\">Limits</a> topic. </p>"
    },
    "ListCertificatesRequest":{
      "type":"structure",
      "members":{
        "CertificateStatuses":{
          "shape":"CertificateStatuses",
          "documentation":"<p> Identifies the statuses of the ACM Certificates for which you want to retrieve the ARNs. This can be one or more of the following values: <ul> <li><code>PENDING_VALIDATION</code></li> <li><code>ISSUED</code></li> <li><code>INACTIVE</code></li> <li><code>EXPIRED</code></li> <li><code>VALIDATION_TIMED_OUT</code></li> <li><code>REVOKED</code></li> <li><code>FAILED</code></li> </ul> </p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> String that contains an opaque marker of the next ACM Certificate ARN to be displayed. Use this parameter when paginating results, and only in a subsequent request after you've received a response where the results have been truncated. Set it to an empty string the first time you call this action, and set it to the value of the <code>NextToken</code> element you receive in the response object for subsequent calls. </p>"
        },
        "MaxItems":{
          "shape":"MaxItems",
          "documentation":"<p> Specify this parameter when paginating results to indicate the maximum number of ACM Certificates that you want to display for each response. If there are additional certificates beyond the maximum you specify, use the <code>NextToken</code> value in your next call to the <code>ListCertificates</code> action. </p>"
        }
      }
    },
    "ListCertificatesResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> If the list has been truncated, this value is present and should be used for the <code>NextToken</code> input parameter on your next call to <code>ListCertificates</code>. </p>"
        },
        "CertificateSummaryList":{
          "shape":"CertificateSummaryList",
          "documentation":"<p> A list of the certificate ARNs. </p>"
        }
      }
    },
    "MaxItems":{
      "type":"integer",
      "min":1,
      "max":1000
    },
    "NextToken":{
      "type":"string",
      "min":1,
      "max":320,
      "pattern":"[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*"
    },
    "RequestCertificateRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainNameString",
          "documentation":"<p> Fully qualified domain name (FQDN), such as www.example.com, of the site you want to secure with an ACM Certificate. Use an asterisk (*) to create a wildcard certificate that protects several sites in the same domain. For example, *.example.com protects www.example.com, site.example.com, and images.example.com. </p>"
        },
        "SubjectAlternativeNames":{
          "shape":"DomainList",
          "documentation":"<p> Additional FQDNs to be included in the Subject Alternative Name extension of the ACM Certificate. For example, add the name www.example.net to a certificate for which the <code>DomainName</code> field is www.example.com if users can reach your site by using either name. </p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p> Customer chosen string that can be used to distinguish between calls to <code>RequestCertificate</code>. Idempotency tokens time out after one hour. Therefore, if you call <code>RequestCertificate</code> multiple times with the same idempotency token within one hour, ACM recognizes that you are requesting only one certificate and will issue only one. If you change the idempotency token for each call, ACM recognizes that you are requesting multiple certificates. </p>"
        },
        "DomainValidationOptions":{
          "shape":"DomainValidationOptionList",
          "documentation":"<p> The base validation domain that will act as the suffix of the email addresses that are used to send the emails. This must be the same as the <code>Domain</code> value or a superdomain of the <code>Domain</code> value. For example, if you requested a certificate for <code>www.example.com</code> and specify <b>DomainValidationOptions</b> of <code>example.com</code>, ACM sends email to the domain registrant, technical contact, and administrative contact in WHOIS and the following five addresses: <ul> <li>admin@example.com</li> <li>administrator@example.com</li> <li>hostmaster@example.com</li> <li>postmaster@example.com</li> <li>webmaster@example.com</li> </ul> </p>"
        }
      }
    },
    "RequestCertificateResponse":{
      "type":"structure",
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p> String that contains the ARN of the issued certificate. This must be of the form: </p> <p> <code>arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p>"
        }
      }
    },
    "RequestInProgressException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true,
      "documentation":"<p> The certificate request is in process and the certificate in your account has not yet been issued. </p>"
    },
    "ResendValidationEmailRequest":{
      "type":"structure",
      "required":[
        "CertificateArn",
        "Domain",
        "ValidationDomain"
      ],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p> String that contains the ARN of the requested certificate. The certificate ARN is generated and returned by <a>RequestCertificate</a> as soon as the request is made. By default, using this parameter causes email to be sent to all top-level domains you specified in the certificate request. </p> <p> The ARN must be of the form: </p> <p> <code>arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p>"
        },
        "Domain":{
          "shape":"DomainNameString",
          "documentation":"<p> The Fully Qualified Domain Name (FQDN) of the certificate that needs to be validated. </p>"
        },
        "ValidationDomain":{
          "shape":"DomainNameString",
          "documentation":"<p> The base validation domain that will act as the suffix of the email addresses that are used to send the emails. This must be the same as the <code>Domain</code> value or a superdomain of the <code>Domain</code> value. For example, if you requested a certificate for <code>site.subdomain.example.com</code> and specify a <b>ValidationDomain</b> of <code>subdomain.example.com</code>, ACM sends email to the domain registrant, technical contact, and administrative contact in WHOIS and the following five addresses: <ul> <li>admin@subdomain.example.com</li> <li>administrator@subdomain.example.com</li> <li>hostmaster@subdomain.example.com</li> <li>postmaster@subdomain.example.com</li> <li>webmaster@subdomain.example.com</li> </ul> </p>"
        }
      }
    },
    "ResourceInUseException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true,
      "documentation":"<p> The certificate is in use by another AWS service in the caller's account. Remove the association and try again. </p>"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true,
      "documentation":"<p> The specified certificate cannot be found in the caller's account, or the caller's account cannot be found. </p>"
    },
    "RevocationReason":{
      "type":"string",
      "enum":[
        "UNSPECIFIED",
        "KEY_COMPROMISE",
        "CA_COMPROMISE",
        "AFFILIATION_CHANGED",
        "SUPERCEDED",
        "CESSATION_OF_OPERATION",
        "CERTIFICATE_HOLD",
        "REMOVE_FROM_CRL",
        "PRIVILEGE_WITHDRAWN",
        "A_A_COMPROMISE"
      ]
    },
    "String":{"type":"string"},
    "TStamp":{"type":"timestamp"},
    "ValidationEmailList":{
      "type":"list",
      "member":{"shape":"String"}
    }
  },
  "examples":{
  }
}
