{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-11-09",
    "endpointPrefix": "a4b",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Alexa For Business",
    "serviceId": "Alexa For Business",
    "signatureVersion": "v4",
    "targetPrefix": "AlexaForBusiness",
    "uid": "alexaforbusiness-2017-11-09"
  },
  "operations": {
    "ApproveSkill": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId"
        ],
        "members": {
          "SkillId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateContactWithAddressBook": {
      "input": {
        "type": "structure",
        "required": [
          "ContactArn",
          "AddressBookArn"
        ],
        "members": {
          "ContactArn": {},
          "AddressBookArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateDeviceWithRoom": {
      "input": {
        "type": "structure",
        "members": {
          "DeviceArn": {},
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateSkillGroupWithRoom": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {},
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateSkillWithSkillGroup": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId"
        ],
        "members": {
          "SkillGroupArn": {},
          "SkillId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateSkillWithUsers": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId"
        ],
        "members": {
          "OrganizationArn": {},
          "SkillId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateAddressBook": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AddressBookArn": {}
        }
      }
    },
    "CreateBusinessReportSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "Format",
          "ContentRange"
        ],
        "members": {
          "ScheduleName": {},
          "S3BucketName": {},
          "S3KeyPrefix": {},
          "Format": {},
          "ContentRange": {
            "shape": "Sp"
          },
          "Recurrence": {
            "shape": "Sr"
          },
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ScheduleArn": {}
        }
      }
    },
    "CreateConferenceProvider": {
      "input": {
        "type": "structure",
        "required": [
          "ConferenceProviderName",
          "ConferenceProviderType",
          "MeetingSetting"
        ],
        "members": {
          "ConferenceProviderName": {},
          "ConferenceProviderType": {},
          "IPDialIn": {
            "shape": "Sx"
          },
          "PSTNDialIn": {
            "shape": "S10"
          },
          "MeetingSetting": {
            "shape": "S15"
          },
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConferenceProviderArn": {}
        }
      }
    },
    "CreateContact": {
      "input": {
        "type": "structure",
        "required": [
          "FirstName"
        ],
        "members": {
          "DisplayName": {},
          "FirstName": {},
          "LastName": {},
          "PhoneNumber": {
            "shape": "S1a"
          },
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContactArn": {}
        }
      }
    },
    "CreateProfile": {
      "input": {
        "type": "structure",
        "required": [
          "ProfileName",
          "Timezone",
          "Address",
          "DistanceUnit",
          "TemperatureUnit",
          "WakeWord"
        ],
        "members": {
          "ProfileName": {},
          "Timezone": {},
          "Address": {},
          "DistanceUnit": {},
          "TemperatureUnit": {},
          "WakeWord": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "SetupModeDisabled": {
            "type": "boolean"
          },
          "MaxVolumeLimit": {
            "type": "integer"
          },
          "PSTNEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProfileArn": {}
        }
      }
    },
    "CreateRoom": {
      "input": {
        "type": "structure",
        "required": [
          "RoomName"
        ],
        "members": {
          "RoomName": {},
          "Description": {},
          "ProfileArn": {},
          "ProviderCalendarId": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "S1q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomArn": {}
        }
      }
    },
    "CreateSkillGroup": {
      "input": {
        "type": "structure",
        "required": [
          "SkillGroupName"
        ],
        "members": {
          "SkillGroupName": {},
          "Description": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {}
        }
      }
    },
    "CreateUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserId"
        ],
        "members": {
          "UserId": {},
          "FirstName": {},
          "LastName": {},
          "Email": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "S1q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserArn": {}
        }
      }
    },
    "DeleteAddressBook": {
      "input": {
        "type": "structure",
        "required": [
          "AddressBookArn"
        ],
        "members": {
          "AddressBookArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteBusinessReportSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "ScheduleArn"
        ],
        "members": {
          "ScheduleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteConferenceProvider": {
      "input": {
        "type": "structure",
        "required": [
          "ConferenceProviderArn"
        ],
        "members": {
          "ConferenceProviderArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteContact": {
      "input": {
        "type": "structure",
        "required": [
          "ContactArn"
        ],
        "members": {
          "ContactArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDevice": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceArn"
        ],
        "members": {
          "DeviceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteProfile": {
      "input": {
        "type": "structure",
        "members": {
          "ProfileArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRoom": {
      "input": {
        "type": "structure",
        "members": {
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRoomSkillParameter": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId",
          "ParameterKey"
        ],
        "members": {
          "RoomArn": {},
          "SkillId": {},
          "ParameterKey": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSkillAuthorization": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId"
        ],
        "members": {
          "SkillId": {},
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSkillGroup": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteUser": {
      "input": {
        "type": "structure",
        "required": [
          "EnrollmentId"
        ],
        "members": {
          "UserArn": {},
          "EnrollmentId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateContactFromAddressBook": {
      "input": {
        "type": "structure",
        "required": [
          "ContactArn",
          "AddressBookArn"
        ],
        "members": {
          "ContactArn": {},
          "AddressBookArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateDeviceFromRoom": {
      "input": {
        "type": "structure",
        "members": {
          "DeviceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateSkillFromSkillGroup": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId"
        ],
        "members": {
          "SkillGroupArn": {},
          "SkillId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateSkillFromUsers": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId"
        ],
        "members": {
          "OrganizationArn": {},
          "SkillId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateSkillGroupFromRoom": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {},
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ForgetSmartHomeAppliances": {
      "input": {
        "type": "structure",
        "required": [
          "RoomArn"
        ],
        "members": {
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAddressBook": {
      "input": {
        "type": "structure",
        "required": [
          "AddressBookArn"
        ],
        "members": {
          "AddressBookArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AddressBook": {
            "type": "structure",
            "members": {
              "AddressBookArn": {},
              "Name": {},
              "Description": {}
            }
          }
        }
      }
    },
    "GetConferencePreference": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Preference": {
            "shape": "S3a"
          }
        }
      }
    },
    "GetConferenceProvider": {
      "input": {
        "type": "structure",
        "required": [
          "ConferenceProviderArn"
        ],
        "members": {
          "ConferenceProviderArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConferenceProvider": {
            "shape": "S3d"
          }
        }
      }
    },
    "GetContact": {
      "input": {
        "type": "structure",
        "required": [
          "ContactArn"
        ],
        "members": {
          "ContactArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Contact": {
            "type": "structure",
            "members": {
              "ContactArn": {},
              "DisplayName": {},
              "FirstName": {},
              "LastName": {},
              "PhoneNumber": {
                "shape": "S1a"
              }
            }
          }
        }
      }
    },
    "GetDevice": {
      "input": {
        "type": "structure",
        "members": {
          "DeviceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Device": {
            "type": "structure",
            "members": {
              "DeviceArn": {},
              "DeviceSerialNumber": {},
              "DeviceType": {},
              "DeviceName": {},
              "SoftwareVersion": {},
              "MacAddress": {},
              "RoomArn": {},
              "DeviceStatus": {},
              "DeviceStatusInfo": {
                "shape": "S3q"
              }
            }
          }
        }
      }
    },
    "GetProfile": {
      "input": {
        "type": "structure",
        "members": {
          "ProfileArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Profile": {
            "type": "structure",
            "members": {
              "ProfileArn": {},
              "ProfileName": {},
              "IsDefault": {
                "type": "boolean"
              },
              "Address": {},
              "Timezone": {},
              "DistanceUnit": {},
              "TemperatureUnit": {},
              "WakeWord": {},
              "SetupModeDisabled": {
                "type": "boolean"
              },
              "MaxVolumeLimit": {
                "type": "integer"
              },
              "PSTNEnabled": {
                "type": "boolean"
              },
              "AddressBookArn": {}
            }
          }
        }
      }
    },
    "GetRoom": {
      "input": {
        "type": "structure",
        "members": {
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Room": {
            "type": "structure",
            "members": {
              "RoomArn": {},
              "RoomName": {},
              "Description": {},
              "ProviderCalendarId": {},
              "ProfileArn": {}
            }
          }
        }
      }
    },
    "GetRoomSkillParameter": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId",
          "ParameterKey"
        ],
        "members": {
          "RoomArn": {},
          "SkillId": {},
          "ParameterKey": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomSkillParameter": {
            "shape": "S43"
          }
        }
      }
    },
    "GetSkillGroup": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillGroup": {
            "type": "structure",
            "members": {
              "SkillGroupArn": {},
              "SkillGroupName": {},
              "Description": {}
            }
          }
        }
      }
    },
    "ListBusinessReportSchedules": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BusinessReportSchedules": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ScheduleArn": {},
                "ScheduleName": {},
                "S3BucketName": {},
                "S3KeyPrefix": {},
                "Format": {},
                "ContentRange": {
                  "shape": "Sp"
                },
                "Recurrence": {
                  "shape": "Sr"
                },
                "LastBusinessReport": {
                  "type": "structure",
                  "members": {
                    "Status": {},
                    "FailureCode": {},
                    "S3Location": {
                      "type": "structure",
                      "members": {
                        "Path": {},
                        "BucketName": {}
                      }
                    },
                    "DeliveryTime": {
                      "type": "timestamp"
                    },
                    "DownloadUrl": {}
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListConferenceProviders": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConferenceProviders": {
            "type": "list",
            "member": {
              "shape": "S3d"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDeviceEvents": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceArn"
        ],
        "members": {
          "DeviceArn": {},
          "EventType": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DeviceEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Type": {},
                "Value": {},
                "Timestamp": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSkills": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {},
          "EnablementType": {},
          "SkillType": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SkillId": {},
                "SkillName": {},
                "SupportsLinking": {
                  "type": "boolean"
                },
                "EnablementType": {},
                "SkillType": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSkillsStoreCategories": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CategoryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CategoryId": {
                  "type": "long"
                },
                "CategoryName": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSkillsStoreSkillsByCategory": {
      "input": {
        "type": "structure",
        "required": [
          "CategoryId"
        ],
        "members": {
          "CategoryId": {
            "type": "long"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillsStoreSkills": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SkillId": {},
                "SkillName": {},
                "ShortDescription": {},
                "IconUrl": {},
                "SampleUtterances": {
                  "type": "list",
                  "member": {}
                },
                "SkillDetails": {
                  "type": "structure",
                  "members": {
                    "ProductDescription": {},
                    "InvocationPhrase": {},
                    "ReleaseDate": {},
                    "EndUserLicenseAgreement": {},
                    "GenericKeywords": {
                      "type": "list",
                      "member": {}
                    },
                    "BulletPoints": {
                      "type": "list",
                      "member": {}
                    },
                    "NewInThisVersionBulletPoints": {
                      "type": "list",
                      "member": {}
                    },
                    "SkillTypes": {
                      "type": "list",
                      "member": {}
                    },
                    "Reviews": {
                      "type": "map",
                      "key": {},
                      "value": {}
                    },
                    "DeveloperInfo": {
                      "type": "structure",
                      "members": {
                        "DeveloperName": {},
                        "PrivacyPolicy": {},
                        "Email": {},
                        "Url": {}
                      }
                    }
                  }
                },
                "SupportsLinking": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSmartHomeAppliances": {
      "input": {
        "type": "structure",
        "required": [
          "RoomArn"
        ],
        "members": {
          "RoomArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SmartHomeAppliances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FriendlyName": {},
                "Description": {},
                "ManufacturerName": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTags": {
      "input": {
        "type": "structure",
        "required": [
          "Arn"
        ],
        "members": {
          "Arn": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S1q"
          },
          "NextToken": {}
        }
      }
    },
    "PutConferencePreference": {
      "input": {
        "type": "structure",
        "required": [
          "ConferencePreference"
        ],
        "members": {
          "ConferencePreference": {
            "shape": "S3a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutRoomSkillParameter": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId",
          "RoomSkillParameter"
        ],
        "members": {
          "RoomArn": {},
          "SkillId": {},
          "RoomSkillParameter": {
            "shape": "S43"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutSkillAuthorization": {
      "input": {
        "type": "structure",
        "required": [
          "AuthorizationResult",
          "SkillId"
        ],
        "members": {
          "AuthorizationResult": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
          },
          "SkillId": {},
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RegisterAVSDevice": {
      "input": {
        "type": "structure",
        "required": [
          "ClientId",
          "UserCode",
          "ProductId",
          "DeviceSerialNumber",
          "AmazonId"
        ],
        "members": {
          "ClientId": {},
          "UserCode": {},
          "ProductId": {},
          "DeviceSerialNumber": {},
          "AmazonId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DeviceArn": {}
        }
      }
    },
    "RejectSkill": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId"
        ],
        "members": {
          "SkillId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ResolveRoom": {
      "input": {
        "type": "structure",
        "required": [
          "UserId",
          "SkillId"
        ],
        "members": {
          "UserId": {},
          "SkillId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomArn": {},
          "RoomName": {},
          "RoomSkillParameters": {
            "type": "list",
            "member": {
              "shape": "S43"
            }
          }
        }
      }
    },
    "RevokeInvitation": {
      "input": {
        "type": "structure",
        "members": {
          "UserArn": {},
          "EnrollmentId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SearchAddressBooks": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S70"
          },
          "SortCriteria": {
            "shape": "S75"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AddressBooks": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AddressBookArn": {},
                "Name": {},
                "Description": {}
              }
            }
          },
          "NextToken": {},
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchContacts": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S70"
          },
          "SortCriteria": {
            "shape": "S75"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Contacts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ContactArn": {},
                "DisplayName": {},
                "FirstName": {},
                "LastName": {},
                "PhoneNumber": {
                  "shape": "S1a"
                }
              }
            }
          },
          "NextToken": {},
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchDevices": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "shape": "S70"
          },
          "SortCriteria": {
            "shape": "S75"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Devices": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DeviceArn": {},
                "DeviceSerialNumber": {},
                "DeviceType": {},
                "DeviceName": {},
                "SoftwareVersion": {},
                "MacAddress": {},
                "DeviceStatus": {},
                "RoomArn": {},
                "RoomName": {},
                "DeviceStatusInfo": {
                  "shape": "S3q"
                }
              }
            }
          },
          "NextToken": {},
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchProfiles": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "shape": "S70"
          },
          "SortCriteria": {
            "shape": "S75"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Profiles": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ProfileArn": {},
                "ProfileName": {},
                "IsDefault": {
                  "type": "boolean"
                },
                "Address": {},
                "Timezone": {},
                "DistanceUnit": {},
                "TemperatureUnit": {},
                "WakeWord": {}
              }
            }
          },
          "NextToken": {},
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchRooms": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "shape": "S70"
          },
          "SortCriteria": {
            "shape": "S75"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Rooms": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RoomArn": {},
                "RoomName": {},
                "Description": {},
                "ProviderCalendarId": {},
                "ProfileArn": {},
                "ProfileName": {}
              }
            }
          },
          "NextToken": {},
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchSkillGroups": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "shape": "S70"
          },
          "SortCriteria": {
            "shape": "S75"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SkillGroupArn": {},
                "SkillGroupName": {},
                "Description": {}
              }
            }
          },
          "NextToken": {},
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchUsers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "shape": "S70"
          },
          "SortCriteria": {
            "shape": "S75"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Users": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "UserArn": {},
                "FirstName": {},
                "LastName": {},
                "Email": {},
                "EnrollmentStatus": {},
                "EnrollmentId": {}
              }
            }
          },
          "NextToken": {},
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SendInvitation": {
      "input": {
        "type": "structure",
        "members": {
          "UserArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartDeviceSync": {
      "input": {
        "type": "structure",
        "required": [
          "Features"
        ],
        "members": {
          "RoomArn": {},
          "DeviceArn": {},
          "Features": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartSmartHomeApplianceDiscovery": {
      "input": {
        "type": "structure",
        "required": [
          "RoomArn"
        ],
        "members": {
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "Arn",
          "Tags"
        ],
        "members": {
          "Arn": {},
          "Tags": {
            "shape": "S1q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "Arn",
          "TagKeys"
        ],
        "members": {
          "Arn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateAddressBook": {
      "input": {
        "type": "structure",
        "required": [
          "AddressBookArn"
        ],
        "members": {
          "AddressBookArn": {},
          "Name": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateBusinessReportSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "ScheduleArn"
        ],
        "members": {
          "ScheduleArn": {},
          "S3BucketName": {},
          "S3KeyPrefix": {},
          "Format": {},
          "ScheduleName": {},
          "Recurrence": {
            "shape": "Sr"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateConferenceProvider": {
      "input": {
        "type": "structure",
        "required": [
          "ConferenceProviderArn",
          "ConferenceProviderType",
          "MeetingSetting"
        ],
        "members": {
          "ConferenceProviderArn": {},
          "ConferenceProviderType": {},
          "IPDialIn": {
            "shape": "Sx"
          },
          "PSTNDialIn": {
            "shape": "S10"
          },
          "MeetingSetting": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateContact": {
      "input": {
        "type": "structure",
        "required": [
          "ContactArn"
        ],
        "members": {
          "ContactArn": {},
          "DisplayName": {},
          "FirstName": {},
          "LastName": {},
          "PhoneNumber": {
            "shape": "S1a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDevice": {
      "input": {
        "type": "structure",
        "members": {
          "DeviceArn": {},
          "DeviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateProfile": {
      "input": {
        "type": "structure",
        "members": {
          "ProfileArn": {},
          "ProfileName": {},
          "IsDefault": {
            "type": "boolean"
          },
          "Timezone": {},
          "Address": {},
          "DistanceUnit": {},
          "TemperatureUnit": {},
          "WakeWord": {},
          "SetupModeDisabled": {
            "type": "boolean"
          },
          "MaxVolumeLimit": {
            "type": "integer"
          },
          "PSTNEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRoom": {
      "input": {
        "type": "structure",
        "members": {
          "RoomArn": {},
          "RoomName": {},
          "Description": {},
          "ProviderCalendarId": {},
          "ProfileArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateSkillGroup": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {},
          "SkillGroupName": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "Sp": {
      "type": "structure",
      "members": {
        "Interval": {}
      }
    },
    "Sr": {
      "type": "structure",
      "members": {
        "StartDate": {}
      }
    },
    "Sx": {
      "type": "structure",
      "required": [
        "Endpoint",
        "CommsProtocol"
      ],
      "members": {
        "Endpoint": {},
        "CommsProtocol": {}
      }
    },
    "S10": {
      "type": "structure",
      "required": [
        "CountryCode",
        "PhoneNumber",
        "OneClickIdDelay",
        "OneClickPinDelay"
      ],
      "members": {
        "CountryCode": {},
        "PhoneNumber": {},
        "OneClickIdDelay": {},
        "OneClickPinDelay": {}
      }
    },
    "S15": {
      "type": "structure",
      "required": [
        "RequirePin"
      ],
      "members": {
        "RequirePin": {}
      }
    },
    "S1a": {
      "type": "string",
      "sensitive": true
    },
    "S1q": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "S3a": {
      "type": "structure",
      "members": {
        "DefaultConferenceProviderArn": {}
      }
    },
    "S3d": {
      "type": "structure",
      "members": {
        "Arn": {},
        "Name": {},
        "Type": {},
        "IPDialIn": {
          "shape": "Sx"
        },
        "PSTNDialIn": {
          "shape": "S10"
        },
        "MeetingSetting": {
          "shape": "S15"
        }
      }
    },
    "S3q": {
      "type": "structure",
      "members": {
        "DeviceStatusDetails": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Code": {}
            }
          }
        },
        "ConnectionStatus": {}
      }
    },
    "S43": {
      "type": "structure",
      "required": [
        "ParameterKey",
        "ParameterValue"
      ],
      "members": {
        "ParameterKey": {},
        "ParameterValue": {}
      }
    },
    "S70": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Values"
        ],
        "members": {
          "Key": {},
          "Values": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "S75": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    }
  }
}