{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-11-09",
    "endpointPrefix": "a4b",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Alexa For Business",
    "serviceId": "Alexa For Business",
    "signatureVersion": "v4",
    "targetPrefix": "AlexaForBusiness",
    "uid": "alexaforbusiness-2017-11-09"
  },
  "operations": {
    "ApproveSkill": {
      "name": "ApproveSkill",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ApproveSkillRequest"
      },
      "output": {
        "shape": "ApproveSkillResponse"
      },
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Associates a skill with the organization under the customer's AWS account. If a skill is private, the user implicitly accepts access to this skill during enablement.</p>"
    },
    "AssociateContactWithAddressBook": {
      "name": "AssociateContactWithAddressBook",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateContactWithAddressBookRequest"
      },
      "output": {
        "shape": "AssociateContactWithAddressBookResponse"
      },
      "errors": [
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Associates a contact with a given address book.</p>"
    },
    "AssociateDeviceWithRoom": {
      "name": "AssociateDeviceWithRoom",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateDeviceWithRoomRequest"
      },
      "output": {
        "shape": "AssociateDeviceWithRoomResponse"
      },
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "DeviceNotRegisteredException"
        }
      ],
      "documentation": "<p>Associates a device with a given room. This applies all the settings from the room profile to the device, and all the skills in any skill groups added to that room. This operation requires the device to be online, or else a manual sync is required. </p>"
    },
    "AssociateSkillGroupWithRoom": {
      "name": "AssociateSkillGroupWithRoom",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateSkillGroupWithRoomRequest"
      },
      "output": {
        "shape": "AssociateSkillGroupWithRoomResponse"
      },
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Associates a skill group with a given room. This enables all skills in the associated skill group on all devices in the room.</p>"
    },
    "AssociateSkillWithSkillGroup": {
      "name": "AssociateSkillWithSkillGroup",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateSkillWithSkillGroupRequest"
      },
      "output": {
        "shape": "AssociateSkillWithSkillGroupResponse"
      },
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Associates a skill with a skill group.</p>"
    },
    "CreateAddressBook": {
      "name": "CreateAddressBook",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAddressBookRequest"
      },
      "output": {
        "shape": "CreateAddressBookResponse"
      },
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Creates an address book with the specified details.</p>"
    },
    "CreateConferenceProvider": {
      "name": "CreateConferenceProvider",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConferenceProviderRequest"
      },
      "output": {
        "shape": "CreateConferenceProviderResponse"
      },
      "errors": [
        {
          "shape": "AlreadyExistsException"
        }
      ],
      "documentation": "<p>Adds a new conference provider under the user's AWS account.</p>"
    },
    "CreateContact": {
      "name": "CreateContact",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateContactRequest"
      },
      "output": {
        "shape": "CreateContactResponse"
      },
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Creates a contact with the specified details.</p>"
    },
    "CreateProfile": {
      "name": "CreateProfile",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProfileRequest"
      },
      "output": {
        "shape": "CreateProfileResponse"
      },
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Creates a new room profile with the specified details.</p>"
    },
    "CreateRoom": {
      "name": "CreateRoom",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRoomRequest"
      },
      "output": {
        "shape": "CreateRoomResponse"
      },
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "documentation": "<p>Creates a room with the specified details.</p>"
    },
    "CreateSkillGroup": {
      "name": "CreateSkillGroup",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSkillGroupRequest"
      },
      "output": {
        "shape": "CreateSkillGroupResponse"
      },
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Creates a skill group with a specified name and description.</p>"
    },
    "CreateUser": {
      "name": "CreateUser",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserRequest"
      },
      "output": {
        "shape": "CreateUserResponse"
      },
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Creates a user.</p>"
    },
    "DeleteAddressBook": {
      "name": "DeleteAddressBook",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAddressBookRequest"
      },
      "output": {
        "shape": "DeleteAddressBookResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Deletes an address book by the address book ARN.</p>"
    },
    "DeleteConferenceProvider": {
      "name": "DeleteConferenceProvider",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConferenceProviderRequest"
      },
      "output": {
        "shape": "DeleteConferenceProviderResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Deletes a conference provider.</p>"
    },
    "DeleteContact": {
      "name": "DeleteContact",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteContactRequest"
      },
      "output": {
        "shape": "DeleteContactResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Deletes a contact by the contact ARN.</p>"
    },
    "DeleteDevice": {
      "name": "DeleteDevice",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDeviceRequest"
      },
      "output": {
        "shape": "DeleteDeviceResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidCertificateAuthorityException"
        }
      ],
      "documentation": "<p>Removes a device from Alexa For Business.</p>"
    },
    "DeleteProfile": {
      "name": "DeleteProfile",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProfileRequest"
      },
      "output": {
        "shape": "DeleteProfileResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Deletes a room profile by the profile ARN.</p>"
    },
    "DeleteRoom": {
      "name": "DeleteRoom",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRoomRequest"
      },
      "output": {
        "shape": "DeleteRoomResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Deletes a room by the room ARN.</p>"
    },
    "DeleteRoomSkillParameter": {
      "name": "DeleteRoomSkillParameter",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRoomSkillParameterRequest"
      },
      "output": {
        "shape": "DeleteRoomSkillParameterResponse"
      },
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Deletes room skill parameter details by room, skill, and parameter key ID.</p>"
    },
    "DeleteSkillAuthorization": {
      "name": "DeleteSkillAuthorization",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSkillAuthorizationRequest"
      },
      "output": {
        "shape": "DeleteSkillAuthorizationResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Unlinks a third-party account from a skill.</p>"
    },
    "DeleteSkillGroup": {
      "name": "DeleteSkillGroup",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSkillGroupRequest"
      },
      "output": {
        "shape": "DeleteSkillGroupResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Deletes a skill group by skill group ARN.</p>"
    },
    "DeleteUser": {
      "name": "DeleteUser",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserRequest"
      },
      "output": {
        "shape": "DeleteUserResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Deletes a specified user by user ARN and enrollment ARN.</p>"
    },
    "DisassociateContactFromAddressBook": {
      "name": "DisassociateContactFromAddressBook",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateContactFromAddressBookRequest"
      },
      "output": {
        "shape": "DisassociateContactFromAddressBookResponse"
      },
      "documentation": "<p>Disassociates a contact from a given address book.</p>"
    },
    "DisassociateDeviceFromRoom": {
      "name": "DisassociateDeviceFromRoom",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateDeviceFromRoomRequest"
      },
      "output": {
        "shape": "DisassociateDeviceFromRoomResponse"
      },
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "DeviceNotRegisteredException"
        }
      ],
      "documentation": "<p>Disassociates a device from its current room. The device continues to be connected to the Wi-Fi network and is still registered to the account. The device settings and skills are removed from the room.</p>"
    },
    "DisassociateSkillFromSkillGroup": {
      "name": "DisassociateSkillFromSkillGroup",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateSkillFromSkillGroupRequest"
      },
      "output": {
        "shape": "DisassociateSkillFromSkillGroupResponse"
      },
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Disassociates a skill from a skill group.</p>"
    },
    "DisassociateSkillGroupFromRoom": {
      "name": "DisassociateSkillGroupFromRoom",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateSkillGroupFromRoomRequest"
      },
      "output": {
        "shape": "DisassociateSkillGroupFromRoomResponse"
      },
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Disassociates a skill group from a specified room. This disables all skills in the skill group on all devices in the room.</p>"
    },
    "ForgetSmartHomeAppliances": {
      "name": "ForgetSmartHomeAppliances",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ForgetSmartHomeAppliancesRequest"
      },
      "output": {
        "shape": "ForgetSmartHomeAppliancesResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Forgets smart home appliances associated to a room.</p>"
    },
    "GetAddressBook": {
      "name": "GetAddressBook",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAddressBookRequest"
      },
      "output": {
        "shape": "GetAddressBookResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Gets address the book details by the address book ARN.</p>"
    },
    "GetConferencePreference": {
      "name": "GetConferencePreference",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConferencePreferenceRequest"
      },
      "output": {
        "shape": "GetConferencePreferenceResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Retrieves the existing conference preferences.</p>"
    },
    "GetConferenceProvider": {
      "name": "GetConferenceProvider",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConferenceProviderRequest"
      },
      "output": {
        "shape": "GetConferenceProviderResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Gets details about a specific conference provider.</p>"
    },
    "GetContact": {
      "name": "GetContact",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetContactRequest"
      },
      "output": {
        "shape": "GetContactResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Gets the contact details by the contact ARN.</p>"
    },
    "GetDevice": {
      "name": "GetDevice",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeviceRequest"
      },
      "output": {
        "shape": "GetDeviceResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Gets the details of a device by device ARN.</p>"
    },
    "GetProfile": {
      "name": "GetProfile",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetProfileRequest"
      },
      "output": {
        "shape": "GetProfileResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Gets the details of a room profile by profile ARN.</p>"
    },
    "GetRoom": {
      "name": "GetRoom",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRoomRequest"
      },
      "output": {
        "shape": "GetRoomResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Gets room details by room ARN.</p>"
    },
    "GetRoomSkillParameter": {
      "name": "GetRoomSkillParameter",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRoomSkillParameterRequest"
      },
      "output": {
        "shape": "GetRoomSkillParameterResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Gets room skill parameter details by room, skill, and parameter key ARN.</p>"
    },
    "GetSkillGroup": {
      "name": "GetSkillGroup",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSkillGroupRequest"
      },
      "output": {
        "shape": "GetSkillGroupResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Gets skill group details by skill group ARN.</p>"
    },
    "ListConferenceProviders": {
      "name": "ListConferenceProviders",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListConferenceProvidersRequest"
      },
      "output": {
        "shape": "ListConferenceProvidersResponse"
      },
      "documentation": "<p>Lists conference providers under a specific AWS account.</p>"
    },
    "ListDeviceEvents": {
      "name": "ListDeviceEvents",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDeviceEventsRequest"
      },
      "output": {
        "shape": "ListDeviceEventsResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Lists the device event history, including device connection status, for up to 30 days.</p>"
    },
    "ListSkills": {
      "name": "ListSkills",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSkillsRequest"
      },
      "output": {
        "shape": "ListSkillsResponse"
      },
      "documentation": "<p>Lists all enabled skills in a specific skill group.</p>"
    },
    "ListSkillsStoreCategories": {
      "name": "ListSkillsStoreCategories",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSkillsStoreCategoriesRequest"
      },
      "output": {
        "shape": "ListSkillsStoreCategoriesResponse"
      },
      "documentation": "<p>Lists all categories in the Alexa skill store.</p>"
    },
    "ListSkillsStoreSkillsByCategory": {
      "name": "ListSkillsStoreSkillsByCategory",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSkillsStoreSkillsByCategoryRequest"
      },
      "output": {
        "shape": "ListSkillsStoreSkillsByCategoryResponse"
      },
      "documentation": "<p>Lists all skills in the Alexa skill store by category.</p>"
    },
    "ListSmartHomeAppliances": {
      "name": "ListSmartHomeAppliances",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSmartHomeAppliancesRequest"
      },
      "output": {
        "shape": "ListSmartHomeAppliancesResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Lists all of the smart home appliances associated with a room.</p>"
    },
    "ListTags": {
      "name": "ListTags",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsRequest"
      },
      "output": {
        "shape": "ListTagsResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Lists all tags for the specified resource.</p>"
    },
    "PutConferencePreference": {
      "name": "PutConferencePreference",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutConferencePreferenceRequest"
      },
      "output": {
        "shape": "PutConferencePreferenceResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Sets the conference preferences on a specific conference provider at the account level.</p>"
    },
    "PutRoomSkillParameter": {
      "name": "PutRoomSkillParameter",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutRoomSkillParameterRequest"
      },
      "output": {
        "shape": "PutRoomSkillParameterResponse"
      },
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Updates room skill parameter details by room, skill, and parameter key ID. Not all skills have a room skill parameter.</p>"
    },
    "PutSkillAuthorization": {
      "name": "PutSkillAuthorization",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutSkillAuthorizationRequest"
      },
      "output": {
        "shape": "PutSkillAuthorizationResponse"
      },
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Links a user's account to a third-party skill provider. If this API is called by an assumed IAM role, the skill being linked must be a private skill, and the skill must be owned by the AWS account that assumed the IAM role.</p>"
    },
    "RegisterAVSDevice": {
      "name": "RegisterAVSDevice",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterAVSDeviceRequest"
      },
      "output": {
        "shape": "RegisterAVSDeviceResponse"
      },
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidDeviceException"
        }
      ],
      "documentation": "<p>Registers an Alexa-enabled device built by an Original Equipment Manufacturer (OEM) using Alexa Voice Service (AVS).</p>"
    },
    "RejectSkill": {
      "name": "RejectSkill",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RejectSkillRequest"
      },
      "output": {
        "shape": "RejectSkillResponse"
      },
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Disassociates a skill from the organization under a user's AWS account. If the skill is a private skill, it moves to an AcceptStatus of PENDING. Any private or public skill that is rejected can be added later by calling the ApproveSkill API. </p>"
    },
    "ResolveRoom": {
      "name": "ResolveRoom",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResolveRoomRequest"
      },
      "output": {
        "shape": "ResolveRoomResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Determines the details for the room from which a skill request was invoked. This operation is used by skill developers.</p>"
    },
    "RevokeInvitation": {
      "name": "RevokeInvitation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RevokeInvitationRequest"
      },
      "output": {
        "shape": "RevokeInvitationResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Revokes an invitation and invalidates the enrollment URL.</p>"
    },
    "SearchAddressBooks": {
      "name": "SearchAddressBooks",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchAddressBooksRequest"
      },
      "output": {
        "shape": "SearchAddressBooksResponse"
      },
      "documentation": "<p>Searches address books and lists the ones that meet a set of filter and sort criteria.</p>"
    },
    "SearchContacts": {
      "name": "SearchContacts",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchContactsRequest"
      },
      "output": {
        "shape": "SearchContactsResponse"
      },
      "documentation": "<p>Searches contacts and lists the ones that meet a set of filter and sort criteria.</p>"
    },
    "SearchDevices": {
      "name": "SearchDevices",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchDevicesRequest"
      },
      "output": {
        "shape": "SearchDevicesResponse"
      },
      "documentation": "<p>Searches devices and lists the ones that meet a set of filter criteria.</p>"
    },
    "SearchProfiles": {
      "name": "SearchProfiles",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchProfilesRequest"
      },
      "output": {
        "shape": "SearchProfilesResponse"
      },
      "documentation": "<p>Searches room profiles and lists the ones that meet a set of filter criteria.</p>"
    },
    "SearchRooms": {
      "name": "SearchRooms",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchRoomsRequest"
      },
      "output": {
        "shape": "SearchRoomsResponse"
      },
      "documentation": "<p>Searches rooms and lists the ones that meet a set of filter and sort criteria.</p>"
    },
    "SearchSkillGroups": {
      "name": "SearchSkillGroups",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchSkillGroupsRequest"
      },
      "output": {
        "shape": "SearchSkillGroupsResponse"
      },
      "documentation": "<p>Searches skill groups and lists the ones that meet a set of filter and sort criteria.</p>"
    },
    "SearchUsers": {
      "name": "SearchUsers",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchUsersRequest"
      },
      "output": {
        "shape": "SearchUsersResponse"
      },
      "documentation": "<p>Searches users and lists the ones that meet a set of filter and sort criteria.</p>"
    },
    "SendInvitation": {
      "name": "SendInvitation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendInvitationRequest"
      },
      "output": {
        "shape": "SendInvitationResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InvalidUserStatusException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Sends an enrollment invitation email with a URL to a user. The URL is valid for 72 hours or until you call this operation again, whichever comes first. </p>"
    },
    "StartDeviceSync": {
      "name": "StartDeviceSync",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDeviceSyncRequest"
      },
      "output": {
        "shape": "StartDeviceSyncResponse"
      },
      "errors": [
        {
          "shape": "DeviceNotRegisteredException"
        }
      ],
      "documentation": "<p>Resets a device and its account to the known default settings, by clearing all information and settings set by previous users.</p>"
    },
    "StartSmartHomeApplianceDiscovery": {
      "name": "StartSmartHomeApplianceDiscovery",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartSmartHomeApplianceDiscoveryRequest"
      },
      "output": {
        "shape": "StartSmartHomeApplianceDiscoveryResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Initiates the discovery of any smart home appliances associated with the room.</p>"
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "output": {
        "shape": "TagResourceResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Adds metadata tags to a specified resource.</p>"
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "output": {
        "shape": "UntagResourceResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Removes metadata tags from a specified resource.</p>"
    },
    "UpdateAddressBook": {
      "name": "UpdateAddressBook",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAddressBookRequest"
      },
      "output": {
        "shape": "UpdateAddressBookResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NameInUseException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Updates address book details by the address book ARN.</p>"
    },
    "UpdateConferenceProvider": {
      "name": "UpdateConferenceProvider",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateConferenceProviderRequest"
      },
      "output": {
        "shape": "UpdateConferenceProviderResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "documentation": "<p>Updates an existing conference provider's settings.</p>"
    },
    "UpdateContact": {
      "name": "UpdateContact",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateContactRequest"
      },
      "output": {
        "shape": "UpdateContactResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Updates the contact details by the contact ARN.</p>"
    },
    "UpdateDevice": {
      "name": "UpdateDevice",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDeviceRequest"
      },
      "output": {
        "shape": "UpdateDeviceResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "DeviceNotRegisteredException"
        }
      ],
      "documentation": "<p>Updates the device name by device ARN.</p>"
    },
    "UpdateProfile": {
      "name": "UpdateProfile",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateProfileRequest"
      },
      "output": {
        "shape": "UpdateProfileResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NameInUseException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Updates an existing room profile by room profile ARN.</p>"
    },
    "UpdateRoom": {
      "name": "UpdateRoom",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRoomRequest"
      },
      "output": {
        "shape": "UpdateRoomResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NameInUseException"
        }
      ],
      "documentation": "<p>Updates room details by room ARN.</p>"
    },
    "UpdateSkillGroup": {
      "name": "UpdateSkillGroup",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateSkillGroupRequest"
      },
      "output": {
        "shape": "UpdateSkillGroupResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NameInUseException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "documentation": "<p>Updates skill group details by skill group ARN.</p>"
    }
  },
  "shapes": {
    "Address": {
      "type": "string",
      "max": 500,
      "min": 1
    },
    "AddressBook": {
      "type": "structure",
      "members": {
        "AddressBookArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the address book.</p>"
        },
        "Name": {
          "shape": "AddressBookName",
          "documentation": "<p>The name of the address book.</p>"
        },
        "Description": {
          "shape": "AddressBookDescription",
          "documentation": "<p>The description of the address book.</p>"
        }
      },
      "documentation": "<p>An address book with attributes.</p>"
    },
    "AddressBookData": {
      "type": "structure",
      "members": {
        "AddressBookArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the address book.</p>"
        },
        "Name": {
          "shape": "AddressBookName",
          "documentation": "<p>The name of the address book.</p>"
        },
        "Description": {
          "shape": "AddressBookDescription",
          "documentation": "<p>The description of the address book.</p>"
        }
      },
      "documentation": "<p>Information related to an address book.</p>"
    },
    "AddressBookDataList": {
      "type": "list",
      "member": {
        "shape": "AddressBookData"
      }
    },
    "AddressBookDescription": {
      "type": "string",
      "max": 200,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "AddressBookName": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "AmazonId": {
      "type": "string",
      "pattern": "[a-zA-Z0-9]{1,18}"
    },
    "ApplianceDescription": {
      "type": "string"
    },
    "ApplianceFriendlyName": {
      "type": "string"
    },
    "ApplianceManufacturerName": {
      "type": "string"
    },
    "ApproveSkillRequest": {
      "type": "structure",
      "required": [
        "SkillId"
      ],
      "members": {
        "SkillId": {
          "shape": "SkillId",
          "documentation": "<p>The unique identifier of the skill.</p>"
        }
      }
    },
    "ApproveSkillResponse": {
      "type": "structure",
      "members": {}
    },
    "Arn": {
      "type": "string",
      "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}"
    },
    "AssociateContactWithAddressBookRequest": {
      "type": "structure",
      "required": [
        "ContactArn",
        "AddressBookArn"
      ],
      "members": {
        "ContactArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the contact to associate with an address book.</p>"
        },
        "AddressBookArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the address book with which to associate the contact.</p>"
        }
      }
    },
    "AssociateContactWithAddressBookResponse": {
      "type": "structure",
      "members": {}
    },
    "AssociateDeviceWithRoomRequest": {
      "type": "structure",
      "members": {
        "DeviceArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the device to associate to a room. Required.</p>"
        },
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the room with which to associate the device. Required.</p>"
        }
      }
    },
    "AssociateDeviceWithRoomResponse": {
      "type": "structure",
      "members": {}
    },
    "AssociateSkillGroupWithRoomRequest": {
      "type": "structure",
      "members": {
        "SkillGroupArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the skill group to associate with a room. Required.</p>"
        },
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the room with which to associate the skill group. Required.</p>"
        }
      }
    },
    "AssociateSkillGroupWithRoomResponse": {
      "type": "structure",
      "members": {}
    },
    "AssociateSkillWithSkillGroupRequest": {
      "type": "structure",
      "required": [
        "SkillId"
      ],
      "members": {
        "SkillGroupArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the skill group to associate the skill to.</p>"
        },
        "SkillId": {
          "shape": "SkillId",
          "documentation": "<p>The unique identifier of the skill.</p>"
        }
      }
    },
    "AssociateSkillWithSkillGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "AuthorizationResult": {
      "type": "map",
      "key": {
        "shape": "Key"
      },
      "value": {
        "shape": "Value"
      },
      "sensitive": true
    },
    "Boolean": {
      "type": "boolean"
    },
    "BulletPoint": {
      "type": "string"
    },
    "BulletPoints": {
      "type": "list",
      "member": {
        "shape": "BulletPoint"
      }
    },
    "Category": {
      "type": "structure",
      "members": {
        "CategoryId": {
          "shape": "CategoryId",
          "documentation": "<p>The ID of the skill store category.</p>"
        },
        "CategoryName": {
          "shape": "CategoryName",
          "documentation": "<p>The name of the skill store category.</p>"
        }
      },
      "documentation": "<p>The skill store category that is shown. Alexa skills are assigned a specific skill category during creation, such as News, Social, and Sports.</p>"
    },
    "CategoryId": {
      "type": "long",
      "min": 1
    },
    "CategoryList": {
      "type": "list",
      "member": {
        "shape": "Category"
      }
    },
    "CategoryName": {
      "type": "string"
    },
    "ClientId": {
      "type": "string",
      "pattern": "^\\S+{1,256}$"
    },
    "ClientRequestToken": {
      "type": "string",
      "documentation": "User specified token that is used to support idempotency during Create Resource",
      "max": 150,
      "min": 10,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
    },
    "CommsProtocol": {
      "type": "string",
      "enum": [
        "SIP",
        "SIPS",
        "H323"
      ]
    },
    "ConferencePreference": {
      "type": "structure",
      "members": {
        "DefaultConferenceProviderArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the default conference provider.</p>"
        }
      },
      "documentation": "<p>The default conference provider that is used if no other scheduled meetings are detected.</p>"
    },
    "ConferenceProvider": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the newly created conference provider.</p>"
        },
        "Name": {
          "shape": "ConferenceProviderName",
          "documentation": "<p>The name of the conference provider.</p>"
        },
        "Type": {
          "shape": "ConferenceProviderType",
          "documentation": "<p>The type of conference providers.</p>"
        },
        "IPDialIn": {
          "shape": "IPDialIn",
          "documentation": "<p>The IP endpoint and protocol for calling.</p>"
        },
        "PSTNDialIn": {
          "shape": "PSTNDialIn",
          "documentation": "<p>The information for PSTN conferencing.</p>"
        },
        "MeetingSetting": {
          "shape": "MeetingSetting",
          "documentation": "<p>The meeting settings for the conference provider.</p>"
        }
      },
      "documentation": "<p>An entity that provides a conferencing solution. Alexa for Business acts as the voice interface and mediator that connects users to their preferred conference provider. Examples of conference providers include Amazon Chime, Zoom, Cisco, and Polycom. </p>"
    },
    "ConferenceProviderName": {
      "type": "string",
      "max": 50,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "ConferenceProviderType": {
      "type": "string",
      "enum": [
        "CHIME",
        "BLUEJEANS",
        "FUZE",
        "GOOGLE_HANGOUTS",
        "POLYCOM",
        "RINGCENTRAL",
        "SKYPE_FOR_BUSINESS",
        "WEBEX",
        "ZOOM",
        "CUSTOM"
      ]
    },
    "ConferenceProvidersList": {
      "type": "list",
      "member": {
        "shape": "ConferenceProvider"
      }
    },
    "ConnectionStatus": {
      "type": "string",
      "enum": [
        "ONLINE",
        "OFFLINE"
      ]
    },
    "Contact": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the contact.</p>"
        },
        "DisplayName": {
          "shape": "ContactName",
          "documentation": "<p>The name of the contact to display on the console.</p>"
        },
        "FirstName": {
          "shape": "ContactName",
          "documentation": "<p>The first name of the contact, used to call the contact on the device.</p>"
        },
        "LastName": {
          "shape": "ContactName",
          "documentation": "<p>The last name of the contact, used to call the contact on the device.</p>"
        },
        "PhoneNumber": {
          "shape": "E164PhoneNumber",
          "documentation": "<p>The phone number of the contact.</p>"
        }
      },
      "documentation": "<p>A contact with attributes.</p>"
    },
    "ContactData": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the contact.</p>"
        },
        "DisplayName": {
          "shape": "ContactName",
          "documentation": "<p>The name of the contact to display on the console.</p>"
        },
        "FirstName": {
          "shape": "ContactName",
          "documentation": "<p>The first name of the contact, used to call the contact on the device.</p>"
        },
        "LastName": {
          "shape": "ContactName",
          "documentation": "<p>The last name of the contact, used to call the contact on the device.</p>"
        },
        "PhoneNumber": {
          "shape": "E164PhoneNumber",
          "documentation": "<p>The phone number of the contact.</p>"
        }
      },
      "documentation": "<p>Information related to a contact.</p>"
    },
    "ContactDataList": {
      "type": "list",
      "member": {
        "shape": "ContactData"
      }
    },
    "ContactName": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "CountryCode": {
      "type": "string",
      "pattern": "\\d{1,3}"
    },
    "CreateAddressBookRequest": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {
          "shape": "AddressBookName",
          "documentation": "<p>The name of the address book.</p>"
        },
        "Description": {
          "shape": "AddressBookDescription",
          "documentation": "<p>The description of the address book.</p>"
        },
        "ClientRequestToken": {
          "shape": "ClientRequestToken",
          "documentation": "<p>A unique, user-specified identifier for the request that ensures idempotency.</p>",
          "idempotencyToken": true
        }
      }
    },
    "CreateAddressBookResponse": {
      "type": "structure",
      "members": {
        "AddressBookArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the newly created address book.</p>"
        }
      }
    },
    "CreateConferenceProviderRequest": {
      "type": "structure",
      "required": [
        "ConferenceProviderName",
        "ConferenceProviderType",
        "MeetingSetting"
      ],
      "members": {
        "ConferenceProviderName": {
          "shape": "ConferenceProviderName",
          "documentation": "<p>The name of the conference provider.</p>"
        },
        "ConferenceProviderType": {
          "shape": "ConferenceProviderType",
          "documentation": "<p>A string that represents a type within a list of predefined types.</p>"
        },
        "IPDialIn": {
          "shape": "IPDialIn",
          "documentation": "<p>The IP endpoint and protocol for calling.</p>"
        },
        "PSTNDialIn": {
          "shape": "PSTNDialIn",
          "documentation": "<p>The information for PSTN conferencing.</p>"
        },
        "MeetingSetting": {
          "shape": "MeetingSetting",
          "documentation": "<p>The meeting settings for the conference provider.</p>"
        },
        "ClientRequestToken": {
          "shape": "ClientRequestToken",
          "documentation": "<p>The request token of the client.</p>",
          "idempotencyToken": true
        }
      }
    },
    "CreateConferenceProviderResponse": {
      "type": "structure",
      "members": {
        "ConferenceProviderArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the newly created conference provider.</p>"
        }
      }
    },
    "CreateContactRequest": {
      "type": "structure",
      "required": [
        "FirstName",
        "PhoneNumber"
      ],
      "members": {
        "DisplayName": {
          "shape": "ContactName",
          "documentation": "<p>The name of the contact to display on the console.</p>"
        },
        "FirstName": {
          "shape": "ContactName",
          "documentation": "<p>The first name of the contact that is used to call the contact on the device.</p>"
        },
        "LastName": {
          "shape": "ContactName",
          "documentation": "<p>The last name of the contact that is used to call the contact on the device.</p>"
        },
        "PhoneNumber": {
          "shape": "E164PhoneNumber",
          "documentation": "<p>The phone number of the contact in E.164 format.</p>"
        },
        "ClientRequestToken": {
          "shape": "ClientRequestToken",
          "documentation": "<p>A unique, user-specified identifier for this request that ensures idempotency.</p>",
          "idempotencyToken": true
        }
      }
    },
    "CreateContactResponse": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the newly created address book.</p>"
        }
      }
    },
    "CreateProfileRequest": {
      "type": "structure",
      "required": [
        "ProfileName",
        "Timezone",
        "Address",
        "DistanceUnit",
        "TemperatureUnit",
        "WakeWord"
      ],
      "members": {
        "ProfileName": {
          "shape": "ProfileName",
          "documentation": "<p>The name of a room profile.</p>"
        },
        "Timezone": {
          "shape": "Timezone",
          "documentation": "<p>The time zone used by a room profile.</p>"
        },
        "Address": {
          "shape": "Address",
          "documentation": "<p>The valid address for the room.</p>"
        },
        "DistanceUnit": {
          "shape": "DistanceUnit",
          "documentation": "<p>The distance unit to be used by devices in the profile.</p>"
        },
        "TemperatureUnit": {
          "shape": "TemperatureUnit",
          "documentation": "<p>The temperature unit to be used by devices in the profile.</p>"
        },
        "WakeWord": {
          "shape": "WakeWord",
          "documentation": "<p>A wake word for Alexa, Echo, Amazon, or a computer.</p>"
        },
        "ClientRequestToken": {
          "shape": "ClientRequestToken",
          "documentation": "<p>The user-specified token that is used during the creation of a profile.</p>",
          "idempotencyToken": true
        },
        "SetupModeDisabled": {
          "shape": "Boolean",
          "documentation": "<p>Whether room profile setup is enabled.</p>"
        },
        "MaxVolumeLimit": {
          "shape": "MaxVolumeLimit",
          "documentation": "<p>The maximum volume limit for a room profile.</p>"
        },
        "PSTNEnabled": {
          "shape": "Boolean",
          "documentation": "<p>Whether PSTN calling is enabled.</p>"
        }
      }
    },
    "CreateProfileResponse": {
      "type": "structure",
      "members": {
        "ProfileArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the newly created room profile in the response.</p>"
        }
      }
    },
    "CreateRoomRequest": {
      "type": "structure",
      "required": [
        "RoomName"
      ],
      "members": {
        "RoomName": {
          "shape": "RoomName",
          "documentation": "<p>The name for the room.</p>"
        },
        "Description": {
          "shape": "RoomDescription",
          "documentation": "<p>The description for the room.</p>"
        },
        "ProfileArn": {
          "shape": "Arn",
          "documentation": "<p>The profile ARN for the room.</p>"
        },
        "ProviderCalendarId": {
          "shape": "ProviderCalendarId",
          "documentation": "<p>The calendar ARN for the room.</p>"
        },
        "ClientRequestToken": {
          "shape": "ClientRequestToken",
          "documentation": "<p>A unique, user-specified identifier for this request that ensures idempotency. </p>",
          "idempotencyToken": true
        },
        "Tags": {
          "shape": "TagList",
          "documentation": "<p>The tags for the room.</p>"
        }
      }
    },
    "CreateRoomResponse": {
      "type": "structure",
      "members": {
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the newly created room in the response.</p>"
        }
      }
    },
    "CreateSkillGroupRequest": {
      "type": "structure",
      "required": [
        "SkillGroupName"
      ],
      "members": {
        "SkillGroupName": {
          "shape": "SkillGroupName",
          "documentation": "<p>The name for the skill group.</p>"
        },
        "Description": {
          "shape": "SkillGroupDescription",
          "documentation": "<p>The description for the skill group.</p>"
        },
        "ClientRequestToken": {
          "shape": "ClientRequestToken",
          "documentation": "<p>A unique, user-specified identifier for this request that ensures idempotency. </p>",
          "idempotencyToken": true
        }
      }
    },
    "CreateSkillGroupResponse": {
      "type": "structure",
      "members": {
        "SkillGroupArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the newly created skill group in the response.</p>"
        }
      }
    },
    "CreateUserRequest": {
      "type": "structure",
      "required": [
        "UserId"
      ],
      "members": {
        "UserId": {
          "shape": "user_UserId",
          "documentation": "<p>The ARN for the user.</p>"
        },
        "FirstName": {
          "shape": "user_FirstName",
          "documentation": "<p>The first name for the user.</p>"
        },
        "LastName": {
          "shape": "user_LastName",
          "documentation": "<p>The last name for the user.</p>"
        },
        "Email": {
          "shape": "Email",
          "documentation": "<p>The email address for the user.</p>"
        },
        "ClientRequestToken": {
          "shape": "ClientRequestToken",
          "documentation": "<p>A unique, user-specified identifier for this request that ensures idempotency. </p>",
          "idempotencyToken": true
        },
        "Tags": {
          "shape": "TagList",
          "documentation": "<p>The tags for the user.</p>"
        }
      }
    },
    "CreateUserResponse": {
      "type": "structure",
      "members": {
        "UserArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the newly created user in the response.</p>"
        }
      }
    },
    "DeleteAddressBookRequest": {
      "type": "structure",
      "required": [
        "AddressBookArn"
      ],
      "members": {
        "AddressBookArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the address book to delete.</p>"
        }
      }
    },
    "DeleteAddressBookResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteConferenceProviderRequest": {
      "type": "structure",
      "required": [
        "ConferenceProviderArn"
      ],
      "members": {
        "ConferenceProviderArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the conference provider.</p>"
        }
      }
    },
    "DeleteConferenceProviderResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteContactRequest": {
      "type": "structure",
      "required": [
        "ContactArn"
      ],
      "members": {
        "ContactArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the contact to delete.</p>"
        }
      }
    },
    "DeleteContactResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteDeviceRequest": {
      "type": "structure",
      "required": [
        "DeviceArn"
      ],
      "members": {
        "DeviceArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the device for which to request details.</p>"
        }
      }
    },
    "DeleteDeviceResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteProfileRequest": {
      "type": "structure",
      "members": {
        "ProfileArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the room profile to delete. Required.</p>"
        }
      }
    },
    "DeleteProfileResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteRoomRequest": {
      "type": "structure",
      "members": {
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the room to delete. Required.</p>"
        }
      }
    },
    "DeleteRoomResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteRoomSkillParameterRequest": {
      "type": "structure",
      "required": [
        "SkillId",
        "ParameterKey"
      ],
      "members": {
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the room from which to remove the room skill parameter details.</p>"
        },
        "SkillId": {
          "shape": "SkillId",
          "documentation": "<p>The ID of the skill from which to remove the room skill parameter details.</p>"
        },
        "ParameterKey": {
          "shape": "RoomSkillParameterKey",
          "documentation": "<p>The room skill parameter key for which to remove details.</p>"
        }
      }
    },
    "DeleteRoomSkillParameterResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteSkillAuthorizationRequest": {
      "type": "structure",
      "required": [
        "SkillId"
      ],
      "members": {
        "SkillId": {
          "shape": "SkillId",
          "documentation": "<p>The unique identifier of a skill.</p>"
        },
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The room that the skill is authorized for.</p>"
        }
      }
    },
    "DeleteSkillAuthorizationResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteSkillGroupRequest": {
      "type": "structure",
      "members": {
        "SkillGroupArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the skill group to delete. Required.</p>"
        }
      }
    },
    "DeleteSkillGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteUserRequest": {
      "type": "structure",
      "required": [
        "EnrollmentId"
      ],
      "members": {
        "UserArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the user to delete in the organization. Required.</p>"
        },
        "EnrollmentId": {
          "shape": "EnrollmentId",
          "documentation": "<p>The ARN of the user's enrollment in the organization. Required.</p>"
        }
      }
    },
    "DeleteUserResponse": {
      "type": "structure",
      "members": {}
    },
    "DeveloperInfo": {
      "type": "structure",
      "members": {
        "DeveloperName": {
          "shape": "DeveloperName",
          "documentation": "<p>The name of the developer.</p>"
        },
        "PrivacyPolicy": {
          "shape": "PrivacyPolicy",
          "documentation": "<p>The URL of the privacy policy.</p>"
        },
        "Email": {
          "shape": "Email",
          "documentation": "<p>The email of the developer.</p>"
        },
        "Url": {
          "shape": "Url",
          "documentation": "<p>The website of the developer.</p>"
        }
      },
      "documentation": "<p>The details about the developer that published the skill.</p>"
    },
    "DeveloperName": {
      "type": "string"
    },
    "Device": {
      "type": "structure",
      "members": {
        "DeviceArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of a device.</p>"
        },
        "DeviceSerialNumber": {
          "shape": "DeviceSerialNumber",
          "documentation": "<p>The serial number of a device.</p>"
        },
        "DeviceType": {
          "shape": "DeviceType",
          "documentation": "<p>The type of a device.</p>"
        },
        "DeviceName": {
          "shape": "DeviceName",
          "documentation": "<p>The name of a device.</p>"
        },
        "SoftwareVersion": {
          "shape": "SoftwareVersion",
          "documentation": "<p>The software version of a device.</p>"
        },
        "MacAddress": {
          "shape": "MacAddress",
          "documentation": "<p>The MAC address of a device.</p>"
        },
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The room ARN of a device.</p>"
        },
        "DeviceStatus": {
          "shape": "DeviceStatus",
          "documentation": "<p>The status of a device. If the status is not READY, check the DeviceStatusInfo value for details.</p>"
        },
        "DeviceStatusInfo": {
          "shape": "DeviceStatusInfo",
          "documentation": "<p>Detailed information about a device's status.</p>"
        }
      },
      "documentation": "<p>A device with attributes.</p>"
    },
    "DeviceData": {
      "type": "structure",
      "members": {
        "DeviceArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of a device.</p>"
        },
        "DeviceSerialNumber": {
          "shape": "DeviceSerialNumber",
          "documentation": "<p>The serial number of a device.</p>"
        },
        "DeviceType": {
          "shape": "DeviceType",
          "documentation": "<p>The type of a device.</p>"
        },
        "DeviceName": {
          "shape": "DeviceName",
          "documentation": "<p>The name of a device.</p>"
        },
        "SoftwareVersion": {
          "shape": "SoftwareVersion",
          "documentation": "<p>The software version of a device.</p>"
        },
        "MacAddress": {
          "shape": "MacAddress",
          "documentation": "<p>The MAC address of a device.</p>"
        },
        "DeviceStatus": {
          "shape": "DeviceStatus",
          "documentation": "<p>The status of a device.</p>"
        },
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The room ARN associated with a device.</p>"
        },
        "RoomName": {
          "shape": "RoomName",
          "documentation": "<p>The name of the room associated with a device.</p>"
        },
        "DeviceStatusInfo": {
          "shape": "DeviceStatusInfo",
          "documentation": "<p>Detailed information about a device's status.</p>"
        }
      },
      "documentation": "<p>Device attributes.</p>"
    },
    "DeviceDataList": {
      "type": "list",
      "member": {
        "shape": "DeviceData"
      }
    },
    "DeviceEvent": {
      "type": "structure",
      "members": {
        "Type": {
          "shape": "DeviceEventType",
          "documentation": "<p>The type of device event.</p>"
        },
        "Value": {
          "shape": "DeviceEventValue",
          "documentation": "<p>The value of the event.</p>"
        },
        "Timestamp": {
          "shape": "Timestamp",
          "documentation": "<p>The time (in epoch) when the event occurred. </p>"
        }
      },
      "documentation": "<p>The list of device events.</p>"
    },
    "DeviceEventList": {
      "type": "list",
      "member": {
        "shape": "DeviceEvent"
      }
    },
    "DeviceEventType": {
      "type": "string",
      "enum": [
        "CONNECTION_STATUS",
        "DEVICE_STATUS"
      ]
    },
    "DeviceEventValue": {
      "type": "string"
    },
    "DeviceName": {
      "type": "string",
      "max": 100,
      "min": 2,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "DeviceSerialNumber": {
      "type": "string",
      "pattern": "[a-zA-Z0-9]{1,200}"
    },
    "DeviceSerialNumberForAVS": {
      "type": "string",
      "pattern": "^[a-zA-Z0-9]{1,50}$"
    },
    "DeviceStatus": {
      "type": "string",
      "enum": [
        "READY",
        "PENDING",
        "WAS_OFFLINE",
        "DEREGISTERED"
      ]
    },
    "DeviceStatusDetail": {
      "type": "structure",
      "members": {
        "Code": {
          "shape": "DeviceStatusDetailCode",
          "documentation": "<p>The device status detail code.</p>"
        }
      },
      "documentation": "<p>Details of a device’s status.</p>"
    },
    "DeviceStatusDetailCode": {
      "type": "string",
      "enum": [
        "DEVICE_SOFTWARE_UPDATE_NEEDED",
        "DEVICE_WAS_OFFLINE"
      ]
    },
    "DeviceStatusDetails": {
      "type": "list",
      "member": {
        "shape": "DeviceStatusDetail"
      }
    },
    "DeviceStatusInfo": {
      "type": "structure",
      "members": {
        "DeviceStatusDetails": {
          "shape": "DeviceStatusDetails",
          "documentation": "<p>One or more device status detail descriptions.</p>"
        },
        "ConnectionStatus": {
          "shape": "ConnectionStatus",
          "documentation": "<p>The latest available information about the connection status of a device. </p>"
        }
      },
      "documentation": "<p>Detailed information about a device's status.</p>"
    },
    "DeviceType": {
      "type": "string",
      "pattern": "[a-zA-Z0-9]{1,200}"
    },
    "DisassociateContactFromAddressBookRequest": {
      "type": "structure",
      "required": [
        "ContactArn",
        "AddressBookArn"
      ],
      "members": {
        "ContactArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the contact to disassociate from an address book.</p>"
        },
        "AddressBookArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the address from which to disassociate the contact.</p>"
        }
      }
    },
    "DisassociateContactFromAddressBookResponse": {
      "type": "structure",
      "members": {}
    },
    "DisassociateDeviceFromRoomRequest": {
      "type": "structure",
      "members": {
        "DeviceArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the device to disassociate from a room. Required.</p>"
        }
      }
    },
    "DisassociateDeviceFromRoomResponse": {
      "type": "structure",
      "members": {}
    },
    "DisassociateSkillFromSkillGroupRequest": {
      "type": "structure",
      "required": [
        "SkillId"
      ],
      "members": {
        "SkillGroupArn": {
          "shape": "Arn",
          "documentation": "<p>The unique identifier of a skill.</p>"
        },
        "SkillId": {
          "shape": "SkillId",
          "documentation": "<p>The ARN of a skill group to associate to a skill.</p>"
        }
      }
    },
    "DisassociateSkillFromSkillGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "DisassociateSkillGroupFromRoomRequest": {
      "type": "structure",
      "members": {
        "SkillGroupArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the skill group to disassociate from a room. Required.</p>"
        },
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the room from which the skill group is to be disassociated. Required.</p>"
        }
      }
    },
    "DisassociateSkillGroupFromRoomResponse": {
      "type": "structure",
      "members": {}
    },
    "DistanceUnit": {
      "type": "string",
      "enum": [
        "METRIC",
        "IMPERIAL"
      ]
    },
    "E164PhoneNumber": {
      "type": "string",
      "pattern": "^\\+\\d{8,}$"
    },
    "Email": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "([0-9a-zA-Z]([+-.\\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\\w]*[0-9a-zA-Z]\\.)+[a-zA-Z]{2,9})"
    },
    "EnablementType": {
      "type": "string",
      "enum": [
        "ENABLED",
        "PENDING"
      ]
    },
    "EnablementTypeFilter": {
      "type": "string",
      "enum": [
        "ENABLED",
        "PENDING"
      ]
    },
    "EndUserLicenseAgreement": {
      "type": "string"
    },
    "Endpoint": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "EnrollmentId": {
      "type": "string",
      "max": 128,
      "min": 0
    },
    "EnrollmentStatus": {
      "type": "string",
      "enum": [
        "INITIALIZED",
        "PENDING",
        "REGISTERED",
        "DISASSOCIATING",
        "DEREGISTERING"
      ]
    },
    "Feature": {
      "type": "string",
      "enum": [
        "BLUETOOTH",
        "VOLUME",
        "NOTIFICATIONS",
        "LISTS",
        "SKILLS",
        "ALL"
      ]
    },
    "Features": {
      "type": "list",
      "member": {
        "shape": "Feature"
      }
    },
    "Filter": {
      "type": "structure",
      "required": [
        "Key",
        "Values"
      ],
      "members": {
        "Key": {
          "shape": "FilterKey",
          "documentation": "<p>The key of a filter.</p>"
        },
        "Values": {
          "shape": "FilterValueList",
          "documentation": "<p>The values of a filter.</p>"
        }
      },
      "documentation": "<p>A filter name and value pair that is used to return a more specific list of results. Filters can be used to match a set of resources by various criteria.</p>"
    },
    "FilterKey": {
      "type": "string",
      "max": 500,
      "min": 1
    },
    "FilterList": {
      "type": "list",
      "member": {
        "shape": "Filter"
      },
      "max": 25
    },
    "FilterValue": {
      "type": "string",
      "max": 500,
      "min": 1
    },
    "FilterValueList": {
      "type": "list",
      "member": {
        "shape": "FilterValue"
      },
      "max": 5
    },
    "ForgetSmartHomeAppliancesRequest": {
      "type": "structure",
      "required": [
        "RoomArn"
      ],
      "members": {
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The room that the appliances are associated with.</p>"
        }
      }
    },
    "ForgetSmartHomeAppliancesResponse": {
      "type": "structure",
      "members": {}
    },
    "GenericKeyword": {
      "type": "string"
    },
    "GenericKeywords": {
      "type": "list",
      "member": {
        "shape": "GenericKeyword"
      }
    },
    "GetAddressBookRequest": {
      "type": "structure",
      "required": [
        "AddressBookArn"
      ],
      "members": {
        "AddressBookArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the address book for which to request details.</p>"
        }
      }
    },
    "GetAddressBookResponse": {
      "type": "structure",
      "members": {
        "AddressBook": {
          "shape": "AddressBook",
          "documentation": "<p>The details of the requested address book.</p>"
        }
      }
    },
    "GetConferencePreferenceRequest": {
      "type": "structure",
      "members": {}
    },
    "GetConferencePreferenceResponse": {
      "type": "structure",
      "members": {
        "Preference": {
          "shape": "ConferencePreference",
          "documentation": "<p>The conference preference.</p>"
        }
      }
    },
    "GetConferenceProviderRequest": {
      "type": "structure",
      "required": [
        "ConferenceProviderArn"
      ],
      "members": {
        "ConferenceProviderArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the newly created conference provider.</p>"
        }
      }
    },
    "GetConferenceProviderResponse": {
      "type": "structure",
      "members": {
        "ConferenceProvider": {
          "shape": "ConferenceProvider",
          "documentation": "<p>The conference provider.</p>"
        }
      }
    },
    "GetContactRequest": {
      "type": "structure",
      "required": [
        "ContactArn"
      ],
      "members": {
        "ContactArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the contact for which to request details.</p>"
        }
      }
    },
    "GetContactResponse": {
      "type": "structure",
      "members": {
        "Contact": {
          "shape": "Contact",
          "documentation": "<p>The details of the requested contact.</p>"
        }
      }
    },
    "GetDeviceRequest": {
      "type": "structure",
      "members": {
        "DeviceArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the device for which to request details. Required.</p>"
        }
      }
    },
    "GetDeviceResponse": {
      "type": "structure",
      "members": {
        "Device": {
          "shape": "Device",
          "documentation": "<p>The details of the device requested. Required.</p>"
        }
      }
    },
    "GetProfileRequest": {
      "type": "structure",
      "members": {
        "ProfileArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the room profile for which to request details. Required.</p>"
        }
      }
    },
    "GetProfileResponse": {
      "type": "structure",
      "members": {
        "Profile": {
          "shape": "Profile",
          "documentation": "<p>The details of the room profile requested. Required.</p>"
        }
      }
    },
    "GetRoomRequest": {
      "type": "structure",
      "members": {
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the room for which to request details. Required.</p>"
        }
      }
    },
    "GetRoomResponse": {
      "type": "structure",
      "members": {
        "Room": {
          "shape": "Room",
          "documentation": "<p>The details of the room requested.</p>"
        }
      }
    },
    "GetRoomSkillParameterRequest": {
      "type": "structure",
      "required": [
        "SkillId",
        "ParameterKey"
      ],
      "members": {
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the room from which to get the room skill parameter details. </p>"
        },
        "SkillId": {
          "shape": "SkillId",
          "documentation": "<p>The ARN of the skill from which to get the room skill parameter details. Required.</p>"
        },
        "ParameterKey": {
          "shape": "RoomSkillParameterKey",
          "documentation": "<p>The room skill parameter key for which to get details. Required.</p>"
        }
      }
    },
    "GetRoomSkillParameterResponse": {
      "type": "structure",
      "members": {
        "RoomSkillParameter": {
          "shape": "RoomSkillParameter",
          "documentation": "<p>The details of the room skill parameter requested. Required.</p>"
        }
      }
    },
    "GetSkillGroupRequest": {
      "type": "structure",
      "members": {
        "SkillGroupArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the skill group for which to get details. Required.</p>"
        }
      }
    },
    "GetSkillGroupResponse": {
      "type": "structure",
      "members": {
        "SkillGroup": {
          "shape": "SkillGroup",
          "documentation": "<p>The details of the skill group requested. Required.</p>"
        }
      }
    },
    "IPDialIn": {
      "type": "structure",
      "required": [
        "Endpoint",
        "CommsProtocol"
      ],
      "members": {
        "Endpoint": {
          "shape": "Endpoint",
          "documentation": "<p>The IP address.</p>"
        },
        "CommsProtocol": {
          "shape": "CommsProtocol",
          "documentation": "<p>The protocol, including SIP, SIPS, and H323.</p>"
        }
      },
      "documentation": "<p>The IP endpoint and protocol for calling.</p>"
    },
    "IconUrl": {
      "type": "string"
    },
    "InvocationPhrase": {
      "type": "string"
    },
    "Key": {
      "type": "string",
      "min": 1
    },
    "ListConferenceProvidersRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>The tokens used for pagination.</p>"
        },
        "MaxResults": {
          "shape": "MaxResults",
          "documentation": "<p>The maximum number of conference providers to be return per paginated calls.</p>"
        }
      }
    },
    "ListConferenceProvidersResponse": {
      "type": "structure",
      "members": {
        "ConferenceProviders": {
          "shape": "ConferenceProvidersList",
          "documentation": "<p>The conference providers.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>The tokens used for pagination.</p>"
        }
      }
    },
    "ListDeviceEventsRequest": {
      "type": "structure",
      "required": [
        "DeviceArn"
      ],
      "members": {
        "DeviceArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of a device.</p>"
        },
        "EventType": {
          "shape": "DeviceEventType",
          "documentation": "<p>The event type to filter device events. If EventType isn't specified, this returns a list of all device events in reverse chronological order. If EventType is specified, this returns a list of device events for that EventType in reverse chronological order. </p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response only includes results beyond the token, up to the value specified by MaxResults. When the end of results is reached, the response has a value of null.</p>"
        },
        "MaxResults": {
          "shape": "MaxResults",
          "documentation": "<p>The maximum number of results to include in the response. The default value is 50. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved. </p>"
        }
      }
    },
    "ListDeviceEventsResponse": {
      "type": "structure",
      "members": {
        "DeviceEvents": {
          "shape": "DeviceEventList",
          "documentation": "<p>The device events requested for the device ARN.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>The token returned to indicate that there is more data available.</p>"
        }
      }
    },
    "ListSkillsRequest": {
      "type": "structure",
      "members": {
        "SkillGroupArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the skill group for which to list enabled skills. Required.</p>"
        },
        "EnablementType": {
          "shape": "EnablementTypeFilter",
          "documentation": "<p>Whether the skill is enabled under the user's account, or if it requires linking to be used.</p>"
        },
        "SkillType": {
          "shape": "SkillTypeFilter",
          "documentation": "<p>Whether the skill is publicly available or is a private skill.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by <code>MaxResults</code>. Required.</p>"
        },
        "MaxResults": {
          "shape": "SkillListMaxResults",
          "documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved. Required.</p>"
        }
      }
    },
    "ListSkillsResponse": {
      "type": "structure",
      "members": {
        "SkillSummaries": {
          "shape": "SkillSummaryList",
          "documentation": "<p>The list of enabled skills requested. Required.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>The token returned to indicate that there is more data available.</p>"
        }
      }
    },
    "ListSkillsStoreCategoriesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>The tokens used for pagination.</p>"
        },
        "MaxResults": {
          "shape": "MaxResults",
          "documentation": "<p>The maximum number of categories returned per paginated calls.</p>"
        }
      }
    },
    "ListSkillsStoreCategoriesResponse": {
      "type": "structure",
      "members": {
        "CategoryList": {
          "shape": "CategoryList",
          "documentation": "<p>The list of categories.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>The tokens used for pagination.</p>"
        }
      }
    },
    "ListSkillsStoreSkillsByCategoryRequest": {
      "type": "structure",
      "required": [
        "CategoryId"
      ],
      "members": {
        "CategoryId": {
          "shape": "CategoryId",
          "documentation": "<p>The category ID for which the skills are being retrieved from the skill store.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>The tokens used for pagination.</p>"
        },
        "MaxResults": {
          "shape": "SkillListMaxResults",
          "documentation": "<p>The maximum number of skills returned per paginated calls.</p>"
        }
      }
    },
    "ListSkillsStoreSkillsByCategoryResponse": {
      "type": "structure",
      "members": {
        "SkillsStoreSkills": {
          "shape": "SkillsStoreSkillList",
          "documentation": "<p>The skill store skills.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>The tokens used for pagination.</p>"
        }
      }
    },
    "ListSmartHomeAppliancesRequest": {
      "type": "structure",
      "required": [
        "RoomArn"
      ],
      "members": {
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The room that the appliances are associated with.</p>"
        },
        "MaxResults": {
          "shape": "MaxResults",
          "documentation": "<p>The maximum number of appliances to be return per paginated calls.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>The tokens used for pagination.</p>"
        }
      }
    },
    "ListSmartHomeAppliancesResponse": {
      "type": "structure",
      "members": {
        "SmartHomeAppliances": {
          "shape": "SmartHomeApplianceList",
          "documentation": "<p>The smart home appliances.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>The tokens used for pagination.</p>"
        }
      }
    },
    "ListTagsRequest": {
      "type": "structure",
      "required": [
        "Arn"
      ],
      "members": {
        "Arn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the specified resource for which to list tags.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by <code>MaxResults</code>. </p>"
        },
        "MaxResults": {
          "shape": "MaxResults",
          "documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved.</p>"
        }
      }
    },
    "ListTagsResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "shape": "TagList",
          "documentation": "<p>The tags requested for the specified resource.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "documentation": "<p>The token returned to indicate that there is more data available.</p>"
        }
      }
    },
    "MacAddress": {
      "type": "string"
    },
    "MaxResults": {
      "type": "integer",
      "max": 50,
      "min": 1
    },
    "MaxVolumeLimit": {
      "type": "integer"
    },
    "MeetingSetting": {
      "type": "structure",
      "required": [
        "RequirePin"
      ],
      "members": {
        "RequirePin": {
          "shape": "RequirePin",
          "documentation": "<p>The values that indicate whether the pin is always required.</p>"
        }
      },
      "documentation": "<p>The values that indicate whether a pin is always required (YES), never required (NO), or OPTIONAL.</p> <ul> <li> <p>If YES, Alexa will always ask for a meeting pin.</p> </li> <li> <p>If NO, Alexa will never ask for a meeting pin.</p> </li> <li> <p>If OPTIONAL, Alexa will ask if you have a meeting pin and if the customer responds with yes, it will ask for the meeting pin.</p> </li> </ul>"
    },
    "NewInThisVersionBulletPoints": {
      "type": "list",
      "member": {
        "shape": "BulletPoint"
      }
    },
    "NextToken": {
      "type": "string",
      "max": 1000,
      "min": 1
    },
    "OneClickIdDelay": {
      "type": "string",
      "max": 2,
      "min": 1
    },
    "OneClickPinDelay": {
      "type": "string",
      "max": 2,
      "min": 1
    },
    "PSTNDialIn": {
      "type": "structure",
      "required": [
        "CountryCode",
        "PhoneNumber",
        "OneClickIdDelay",
        "OneClickPinDelay"
      ],
      "members": {
        "CountryCode": {
          "shape": "CountryCode",
          "documentation": "<p>The zip code.</p>"
        },
        "PhoneNumber": {
          "shape": "PhoneNumber",
          "documentation": "<p>The phone number to call to join the conference.</p>"
        },
        "OneClickIdDelay": {
          "shape": "OneClickIdDelay",
          "documentation": "<p>The delay duration before Alexa enters the conference ID with dual-tone multi-frequency (DTMF). Each number on the dial pad corresponds to a DTMF tone, which is how we send data over the telephone network.</p>"
        },
        "OneClickPinDelay": {
          "shape": "OneClickPinDelay",
          "documentation": "<p>The delay duration before Alexa enters the conference pin with dual-tone multi-frequency (DTMF). Each number on the dial pad corresponds to a DTMF tone, which is how we send data over the telephone network.</p>"
        }
      },
      "documentation": "<p>The information for public switched telephone network (PSTN) conferencing.</p>"
    },
    "PhoneNumber": {
      "type": "string",
      "pattern": "\\d{10}"
    },
    "PrivacyPolicy": {
      "type": "string"
    },
    "ProductDescription": {
      "type": "string"
    },
    "ProductId": {
      "type": "string",
      "pattern": "^[a-zA-Z0-9_]{1,256}$"
    },
    "Profile": {
      "type": "structure",
      "members": {
        "ProfileArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of a room profile.</p>"
        },
        "ProfileName": {
          "shape": "ProfileName",
          "documentation": "<p>The name of a room profile.</p>"
        },
        "IsDefault": {
          "shape": "Boolean",
          "documentation": "<p>Retrieves if the profile is default or not.</p>"
        },
        "Address": {
          "shape": "Address",
          "documentation": "<p>The address of a room profile.</p>"
        },
        "Timezone": {
          "shape": "Timezone",
          "documentation": "<p>The time zone of a room profile.</p>"
        },
        "DistanceUnit": {
          "shape": "DistanceUnit",
          "documentation": "<p>The distance unit of a room profile.</p>"
        },
        "TemperatureUnit": {
          "shape": "TemperatureUnit",
          "documentation": "<p>The temperature unit of a room profile.</p>"
        },
        "WakeWord": {
          "shape": "WakeWord",
          "documentation": "<p>The wake word of a room profile.</p>"
        },
        "SetupModeDisabled": {
          "shape": "Boolean",
          "documentation": "<p>The setup mode of a room profile.</p>"
        },
        "MaxVolumeLimit": {
          "shape": "MaxVolumeLimit",
          "documentation": "<p>The max volume limit of a room profile.</p>"
        },
        "PSTNEnabled": {
          "shape": "Boolean",
          "documentation": "<p>The PSTN setting of a room profile.</p>"
        },
        "AddressBookArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the address book.</p>"
        }
      },
      "documentation": "<p>A room profile with attributes.</p>"
    },
    "ProfileData": {
      "type": "structure",
      "members": {
        "ProfileArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of a room profile.</p>"
        },
        "ProfileName": {
          "shape": "ProfileName",
          "documentation": "<p>The name of a room profile.</p>"
        },
        "IsDefault": {
          "shape": "Boolean",
          "documentation": "<p>Retrieves if the profile data is default or not.</p>"
        },
        "Address": {
          "shape": "Address",
          "documentation": "<p>The address of a room profile.</p>"
        },
        "Timezone": {
          "shape": "Timezone",
          "documentation": "<p>The timezone of a room profile.</p>"
        },
        "DistanceUnit": {
          "shape": "DistanceUnit",
          "documentation": "<p>The distance unit of a room profile.</p>"
        },
        "TemperatureUnit": {
          "shape": "TemperatureUnit",
          "documentation": "<p>The temperature unit of a room profile.</p>"
        },
        "WakeWord": {
          "shape": "WakeWord",
          "documentation": "<p>The wake word of a room profile.</p>"
        }
      },
      "documentation": "<p>The data of a room profile.</p>"
    },
    "ProfileDataList": {
      "type": "list",
      "member": {
        "shape": "ProfileData"
      }
    },
    "ProfileName": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "ProviderCalendarId": {
      "type": "string",
      "max": 100,
      "min": 0
    },
    "PutConferencePreferenceRequest": {
      "type": "structure",
      "required": [
        "ConferencePreference"
      ],
      "members": {
        "ConferencePreference": {
          "shape": "ConferencePreference",
          "documentation": "<p>The conference preference of a specific conference provider.</p>"
        }
      }
    },
    "PutConferencePreferenceResponse": {
      "type": "structure",
      "members": {}
    },
    "PutRoomSkillParameterRequest": {
      "type": "structure",
      "required": [
        "SkillId",
        "RoomSkillParameter"
      ],
      "members": {
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the room associated with the room skill parameter. Required.</p>"
        },
        "SkillId": {
          "shape": "SkillId",
          "documentation": "<p>The ARN of the skill associated with the room skill parameter. Required.</p>"
        },
        "RoomSkillParameter": {
          "shape": "RoomSkillParameter",
          "documentation": "<p>The updated room skill parameter. Required.</p>"
        }
      }
    },
    "PutRoomSkillParameterResponse": {
      "type": "structure",
      "members": {}
    },
    "PutSkillAuthorizationRequest": {
      "type": "structure",
      "required": [
        "AuthorizationResult",
        "SkillId"
      ],
      "members": {
        "AuthorizationResult": {
          "shape": "AuthorizationResult",
          "documentation": "<p>The authorization result specific to OAUTH code grant output. \"Code” must be populated in the AuthorizationResult map to establish the authorization.</p>"
        },
        "SkillId": {
          "shape": "SkillId",
          "documentation": "<p>The unique identifier of a skill.</p>"
        },
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The room that the skill is authorized for.</p>"
        }
      }
    },
    "PutSkillAuthorizationResponse": {
      "type": "structure",
      "members": {}
    },
    "RegisterAVSDeviceRequest": {
      "type": "structure",
      "required": [
        "ClientId",
        "UserCode",
        "ProductId",
        "DeviceSerialNumber",
        "AmazonId"
      ],
      "members": {
        "ClientId": {
          "shape": "ClientId",
          "documentation": "<p>The client ID of the OEM used for code-based linking authorization on an AVS device.</p>"
        },
        "UserCode": {
          "shape": "UserCode",
          "documentation": "<p>The code that is obtained after your AVS device has made a POST request to LWA as a part of the Device Authorization Request component of the OAuth code-based linking specification.</p>"
        },
        "ProductId": {
          "shape": "ProductId",
          "documentation": "<p>The product ID used to identify your AVS device during authorization.</p>"
        },
        "DeviceSerialNumber": {
          "shape": "DeviceSerialNumberForAVS",
          "documentation": "<p>The key generated by the OEM that uniquely identifies a specified instance of your AVS device.</p>"
        },
        "AmazonId": {
          "shape": "AmazonId",
          "documentation": "<p>The device type ID for your AVS device generated by Amazon when the OEM creates a new product on Amazon's Developer Console.</p>"
        }
      }
    },
    "RegisterAVSDeviceResponse": {
      "type": "structure",
      "members": {
        "DeviceArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the device.</p>"
        }
      }
    },
    "RejectSkillRequest": {
      "type": "structure",
      "required": [
        "SkillId"
      ],
      "members": {
        "SkillId": {
          "shape": "SkillId",
          "documentation": "<p>The unique identifier of the skill.</p>"
        }
      }
    },
    "RejectSkillResponse": {
      "type": "structure",
      "members": {}
    },
    "ReleaseDate": {
      "type": "string"
    },
    "RequirePin": {
      "type": "string",
      "enum": [
        "YES",
        "NO",
        "OPTIONAL"
      ]
    },
    "ResolveRoomRequest": {
      "type": "structure",
      "required": [
        "UserId",
        "SkillId"
      ],
      "members": {
        "UserId": {
          "shape": "UserId",
          "documentation": "<p>The ARN of the user. Required.</p>"
        },
        "SkillId": {
          "shape": "SkillId",
          "documentation": "<p>The ARN of the skill that was requested. Required.</p>"
        }
      }
    },
    "ResolveRoomResponse": {
      "type": "structure",
      "members": {
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the room from which the skill request was invoked.</p>"
        },
        "RoomName": {
          "shape": "RoomName",
          "documentation": "<p>The name of the room from which the skill request was invoked.</p>"
        },
        "RoomSkillParameters": {
          "shape": "RoomSkillParameters",
          "documentation": "<p>Response to get the room profile request. Required.</p>"
        }
      }
    },
    "ReviewKey": {
      "type": "string"
    },
    "ReviewValue": {
      "type": "string"
    },
    "Reviews": {
      "type": "map",
      "key": {
        "shape": "ReviewKey"
      },
      "value": {
        "shape": "ReviewValue"
      }
    },
    "RevokeInvitationRequest": {
      "type": "structure",
      "members": {
        "UserArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the user for whom to revoke an enrollment invitation. Required.</p>"
        },
        "EnrollmentId": {
          "shape": "EnrollmentId",
          "documentation": "<p>The ARN of the enrollment invitation to revoke. Required.</p>"
        }
      }
    },
    "RevokeInvitationResponse": {
      "type": "structure",
      "members": {}
    },
    "Room": {
      "type": "structure",
      "members": {
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of a room.</p>"
        },
        "RoomName": {
          "shape": "RoomName",
          "documentation": "<p>The name of a room.</p>"
        },
        "Description": {
          "shape": "RoomDescription",
          "documentation": "<p>The description of a room.</p>"
        },
        "ProviderCalendarId": {
          "shape": "ProviderCalendarId",
          "documentation": "<p>The provider calendar ARN of a room.</p>"
        },
        "ProfileArn": {
          "shape": "Arn",
          "documentation": "<p>The profile ARN of a room.</p>"
        }
      },
      "documentation": "<p>A room with attributes.</p>"
    },
    "RoomData": {
      "type": "structure",
      "members": {
        "RoomArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of a room.</p>"
        },
        "RoomName": {
          "shape": "RoomName",
          "documentation": "<p>The name of a room.</p>"
        },
        "Description": {
          "shape": "RoomDescription",
          "documentation": "<p>The description of a room.</p>"
        },
        "ProviderCalendarId": {
          "shape": "ProviderCalendarId",
          "documentation": "<p>The provider calendar ARN of a room.</p>"
        },
        "ProfileArn": {
          "shape": "Arn",
          "documentation": "<p>The profile ARN of a room.</p>"
        },
        "ProfileName": {
          "shape": "ProfileName",
          "documentation": "<p>The profile name of a room.</p>"
        }
      },
      "documentation": "<p>The data of a room.</p>"
    },
    "RoomDataList": {
      "type": "list",
      "member": {
        "shape": "RoomData"
      }
    },
    "RoomDescription": {
      "type": "string",
      "max": 200,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "RoomName": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "RoomSkillParameter": {
      "type": "structure",
      "required": [
        "ParameterKey",
        "ParameterValue"
      ],
      "members": {
        "ParameterKey": {
          "shape": "RoomSkillParameterKey",
[...]
