{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-11-09",
    "endpointPrefix": "a4b",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Alexa For Business",
    "signatureVersion": "v4",
    "targetPrefix": "AlexaForBusiness",
    "uid": "alexaforbusiness-2017-11-09"
  },
  "operations": {
    "AssociateDeviceWithRoom": {
      "input": {
        "type": "structure",
        "members": {
          "DeviceArn": {},
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateSkillGroupWithRoom": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {},
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateProfile": {
      "input": {
        "type": "structure",
        "required": [
          "ProfileName",
          "Timezone",
          "Address",
          "DistanceUnit",
          "TemperatureUnit",
          "WakeWord"
        ],
        "members": {
          "ProfileName": {},
          "Timezone": {},
          "Address": {},
          "DistanceUnit": {},
          "TemperatureUnit": {},
          "WakeWord": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "SetupModeDisabled": {
            "type": "boolean"
          },
          "MaxVolumeLimit": {
            "type": "integer"
          },
          "PSTNEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProfileArn": {}
        }
      }
    },
    "CreateRoom": {
      "input": {
        "type": "structure",
        "required": [
          "RoomName"
        ],
        "members": {
          "RoomName": {},
          "Description": {},
          "ProfileArn": {},
          "ProviderCalendarId": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomArn": {}
        }
      }
    },
    "CreateSkillGroup": {
      "input": {
        "type": "structure",
        "required": [
          "SkillGroupName"
        ],
        "members": {
          "SkillGroupName": {},
          "Description": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {}
        }
      }
    },
    "CreateUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserId"
        ],
        "members": {
          "UserId": {},
          "FirstName": {},
          "LastName": {},
          "Email": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserArn": {}
        }
      }
    },
    "DeleteProfile": {
      "input": {
        "type": "structure",
        "members": {
          "ProfileArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRoom": {
      "input": {
        "type": "structure",
        "members": {
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRoomSkillParameter": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId",
          "ParameterKey"
        ],
        "members": {
          "RoomArn": {},
          "SkillId": {},
          "ParameterKey": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSkillGroup": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteUser": {
      "input": {
        "type": "structure",
        "required": [
          "EnrollmentId"
        ],
        "members": {
          "UserArn": {},
          "EnrollmentId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateDeviceFromRoom": {
      "input": {
        "type": "structure",
        "members": {
          "DeviceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateSkillGroupFromRoom": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {},
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetDevice": {
      "input": {
        "type": "structure",
        "members": {
          "DeviceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Device": {
            "type": "structure",
            "members": {
              "DeviceArn": {},
              "DeviceSerialNumber": {},
              "DeviceType": {},
              "DeviceName": {},
              "SoftwareVersion": {},
              "MacAddress": {},
              "RoomArn": {},
              "DeviceStatus": {}
            }
          }
        }
      }
    },
    "GetProfile": {
      "input": {
        "type": "structure",
        "members": {
          "ProfileArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Profile": {
            "type": "structure",
            "members": {
              "ProfileArn": {},
              "ProfileName": {},
              "Address": {},
              "Timezone": {},
              "DistanceUnit": {},
              "TemperatureUnit": {},
              "WakeWord": {},
              "SetupModeDisabled": {
                "type": "boolean"
              },
              "MaxVolumeLimit": {
                "type": "integer"
              },
              "PSTNEnabled": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "GetRoom": {
      "input": {
        "type": "structure",
        "members": {
          "RoomArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Room": {
            "type": "structure",
            "members": {
              "RoomArn": {},
              "RoomName": {},
              "Description": {},
              "ProviderCalendarId": {},
              "ProfileArn": {}
            }
          }
        }
      }
    },
    "GetRoomSkillParameter": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId",
          "ParameterKey"
        ],
        "members": {
          "RoomArn": {},
          "SkillId": {},
          "ParameterKey": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomSkillParameter": {
            "shape": "S1y"
          }
        }
      }
    },
    "GetSkillGroup": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillGroup": {
            "type": "structure",
            "members": {
              "SkillGroupArn": {},
              "SkillGroupName": {},
              "Description": {}
            }
          }
        }
      }
    },
    "ListSkills": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SkillId": {},
                "SkillName": {},
                "SupportsLinking": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTags": {
      "input": {
        "type": "structure",
        "required": [
          "Arn"
        ],
        "members": {
          "Arn": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Sl"
          },
          "NextToken": {}
        }
      }
    },
    "PutRoomSkillParameter": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId",
          "RoomSkillParameter"
        ],
        "members": {
          "RoomArn": {},
          "SkillId": {},
          "RoomSkillParameter": {
            "shape": "S1y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ResolveRoom": {
      "input": {
        "type": "structure",
        "required": [
          "UserId",
          "SkillId"
        ],
        "members": {
          "UserId": {},
          "SkillId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomArn": {},
          "RoomName": {},
          "RoomSkillParameters": {
            "type": "list",
            "member": {
              "shape": "S1y"
            }
          }
        }
      }
    },
    "RevokeInvitation": {
      "input": {
        "type": "structure",
        "members": {
          "UserArn": {},
          "EnrollmentId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SearchDevices": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "shape": "S2n"
          },
          "SortCriteria": {
            "shape": "S2s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Devices": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DeviceArn": {},
                "DeviceSerialNumber": {},
                "DeviceType": {},
                "DeviceName": {},
                "SoftwareVersion": {},
                "MacAddress": {},
                "DeviceStatus": {},
                "RoomArn": {},
                "RoomName": {}
              }
            }
          },
          "NextToken": {},
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchProfiles": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "shape": "S2n"
          },
          "SortCriteria": {
            "shape": "S2s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Profiles": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ProfileArn": {},
                "ProfileName": {},
                "Address": {},
                "Timezone": {},
                "DistanceUnit": {},
                "TemperatureUnit": {},
                "WakeWord": {}
              }
            }
          },
          "NextToken": {},
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchRooms": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "shape": "S2n"
          },
          "SortCriteria": {
            "shape": "S2s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Rooms": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RoomArn": {},
                "RoomName": {},
                "Description": {},
                "ProviderCalendarId": {},
                "ProfileArn": {},
                "ProfileName": {}
              }
            }
          },
          "NextToken": {},
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchSkillGroups": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "shape": "S2n"
          },
          "SortCriteria": {
            "shape": "S2s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SkillGroupArn": {},
                "SkillGroupName": {},
                "Description": {}
              }
            }
          },
          "NextToken": {},
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchUsers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "shape": "S2n"
          },
          "SortCriteria": {
            "shape": "S2s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Users": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "UserArn": {},
                "FirstName": {},
                "LastName": {},
                "Email": {},
                "EnrollmentStatus": {},
                "EnrollmentId": {}
              }
            }
          },
          "NextToken": {},
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SendInvitation": {
      "input": {
        "type": "structure",
        "members": {
          "UserArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartDeviceSync": {
      "input": {
        "type": "structure",
        "required": [
          "Features"
        ],
        "members": {
          "RoomArn": {},
          "DeviceArn": {},
          "Features": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "Arn",
          "Tags"
        ],
        "members": {
          "Arn": {},
          "Tags": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "Arn",
          "TagKeys"
        ],
        "members": {
          "Arn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDevice": {
      "input": {
        "type": "structure",
        "members": {
          "DeviceArn": {},
          "DeviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateProfile": {
      "input": {
        "type": "structure",
        "members": {
          "ProfileArn": {},
          "ProfileName": {},
          "Timezone": {},
          "Address": {},
          "DistanceUnit": {},
          "TemperatureUnit": {},
          "WakeWord": {},
          "SetupModeDisabled": {
            "type": "boolean"
          },
          "MaxVolumeLimit": {
            "type": "integer"
          },
          "PSTNEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRoom": {
      "input": {
        "type": "structure",
        "members": {
          "RoomArn": {},
          "RoomName": {},
          "Description": {},
          "ProviderCalendarId": {},
          "ProfileArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateSkillGroup": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {},
          "SkillGroupName": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "Sl": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "S1y": {
      "type": "structure",
      "required": [
        "ParameterKey",
        "ParameterValue"
      ],
      "members": {
        "ParameterKey": {},
        "ParameterValue": {}
      }
    },
    "S2n": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Values"
        ],
        "members": {
          "Key": {},
          "Values": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "S2s": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    }
  }
}