{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-11-09",
    "endpointPrefix": "a4b",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Alexa For Business",
    "serviceId": "Alexa For Business",
    "signatureVersion": "v4",
    "targetPrefix": "AlexaForBusiness",
    "uid": "alexaforbusiness-2017-11-09"
  },
  "operations": {
    "AssociateContactWithAddressBook": {
      "input": {
        "type": "structure",
        "required": [
          "ContactArn",
          "AddressBookArn"
        ],
        "members": {
          "ContactArn": {
            "shape": "S2"
          },
          "AddressBookArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateDeviceWithRoom": {
      "input": {
        "type": "structure",
        "members": {
          "DeviceArn": {
            "shape": "S2"
          },
          "RoomArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateSkillGroupWithRoom": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {
            "shape": "S2"
          },
          "RoomArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateAddressBook": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S9"
          },
          "Description": {
            "shape": "Sa"
          },
          "ClientRequestToken": {
            "shape": "Sb",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AddressBookArn": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateContact": {
      "input": {
        "type": "structure",
        "required": [
          "FirstName",
          "PhoneNumber"
        ],
        "members": {
          "DisplayName": {
            "shape": "Se"
          },
          "FirstName": {
            "shape": "Se"
          },
          "LastName": {
            "shape": "Se"
          },
          "PhoneNumber": {
            "shape": "Sf"
          },
          "ClientRequestToken": {
            "shape": "Sb",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContactArn": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateProfile": {
      "input": {
        "type": "structure",
        "required": [
          "ProfileName",
          "Timezone",
          "Address",
          "DistanceUnit",
          "TemperatureUnit",
          "WakeWord"
        ],
        "members": {
          "ProfileName": {
            "shape": "Si"
          },
          "Timezone": {
            "shape": "Sj"
          },
          "Address": {
            "shape": "Sk"
          },
          "DistanceUnit": {
            "shape": "Sl"
          },
          "TemperatureUnit": {
            "shape": "Sm"
          },
          "WakeWord": {
            "shape": "Sn"
          },
          "ClientRequestToken": {
            "shape": "Sb",
            "idempotencyToken": true
          },
          "SetupModeDisabled": {
            "type": "boolean"
          },
          "MaxVolumeLimit": {
            "type": "integer"
          },
          "PSTNEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProfileArn": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateRoom": {
      "input": {
        "type": "structure",
        "required": [
          "RoomName"
        ],
        "members": {
          "RoomName": {
            "shape": "Ss"
          },
          "Description": {
            "shape": "St"
          },
          "ProfileArn": {
            "shape": "S2"
          },
          "ProviderCalendarId": {
            "shape": "Su"
          },
          "ClientRequestToken": {
            "shape": "Sb",
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomArn": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateSkillGroup": {
      "input": {
        "type": "structure",
        "required": [
          "SkillGroupName"
        ],
        "members": {
          "SkillGroupName": {
            "shape": "S11"
          },
          "Description": {
            "shape": "S12"
          },
          "ClientRequestToken": {
            "shape": "Sb",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserId"
        ],
        "members": {
          "UserId": {
            "type": "string",
            "max": 128,
            "min": 1,
            "pattern": "[a-zA-Z0-9@_+.-]*"
          },
          "FirstName": {
            "shape": "S16"
          },
          "LastName": {
            "shape": "S17"
          },
          "Email": {
            "shape": "S18"
          },
          "ClientRequestToken": {
            "shape": "Sb",
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserArn": {
            "shape": "S2"
          }
        }
      }
    },
    "DeleteAddressBook": {
      "input": {
        "type": "structure",
        "required": [
          "AddressBookArn"
        ],
        "members": {
          "AddressBookArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteContact": {
      "input": {
        "type": "structure",
        "required": [
          "ContactArn"
        ],
        "members": {
          "ContactArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteProfile": {
      "input": {
        "type": "structure",
        "members": {
          "ProfileArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRoom": {
      "input": {
        "type": "structure",
        "members": {
          "RoomArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRoomSkillParameter": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId",
          "ParameterKey"
        ],
        "members": {
          "RoomArn": {
            "shape": "S2"
          },
          "SkillId": {
            "shape": "S1j"
          },
          "ParameterKey": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSkillGroup": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteUser": {
      "input": {
        "type": "structure",
        "required": [
          "EnrollmentId"
        ],
        "members": {
          "UserArn": {
            "shape": "S2"
          },
          "EnrollmentId": {
            "shape": "S1p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateContactFromAddressBook": {
      "input": {
        "type": "structure",
        "required": [
          "ContactArn",
          "AddressBookArn"
        ],
        "members": {
          "ContactArn": {
            "shape": "S2"
          },
          "AddressBookArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateDeviceFromRoom": {
      "input": {
        "type": "structure",
        "members": {
          "DeviceArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateSkillGroupFromRoom": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {
            "shape": "S2"
          },
          "RoomArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAddressBook": {
      "input": {
        "type": "structure",
        "required": [
          "AddressBookArn"
        ],
        "members": {
          "AddressBookArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AddressBook": {
            "type": "structure",
            "members": {
              "AddressBookArn": {
                "shape": "S2"
              },
              "Name": {
                "shape": "S9"
              },
              "Description": {
                "shape": "Sa"
              }
            }
          }
        }
      }
    },
    "GetContact": {
      "input": {
        "type": "structure",
        "required": [
          "ContactArn"
        ],
        "members": {
          "ContactArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Contact": {
            "type": "structure",
            "members": {
              "ContactArn": {
                "shape": "S2"
              },
              "DisplayName": {
                "shape": "Se"
              },
              "FirstName": {
                "shape": "Se"
              },
              "LastName": {
                "shape": "Se"
              },
              "PhoneNumber": {
                "shape": "Sf"
              }
            }
          }
        }
      }
    },
    "GetDevice": {
      "input": {
        "type": "structure",
        "members": {
          "DeviceArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Device": {
            "type": "structure",
            "members": {
              "DeviceArn": {
                "shape": "S2"
              },
              "DeviceSerialNumber": {
                "shape": "S26"
              },
              "DeviceType": {
                "shape": "S27"
              },
              "DeviceName": {
                "shape": "S28"
              },
              "SoftwareVersion": {},
              "MacAddress": {},
              "RoomArn": {
                "shape": "S2"
              },
              "DeviceStatus": {
                "shape": "S2b"
              },
              "DeviceStatusInfo": {
                "shape": "S2c"
              }
            }
          }
        }
      }
    },
    "GetProfile": {
      "input": {
        "type": "structure",
        "members": {
          "ProfileArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Profile": {
            "type": "structure",
            "members": {
              "ProfileArn": {
                "shape": "S2"
              },
              "ProfileName": {
                "shape": "Si"
              },
              "Address": {
                "shape": "Sk"
              },
              "Timezone": {
                "shape": "Sj"
              },
              "DistanceUnit": {
                "shape": "Sl"
              },
              "TemperatureUnit": {
                "shape": "Sm"
              },
              "WakeWord": {
                "shape": "Sn"
              },
              "SetupModeDisabled": {
                "type": "boolean"
              },
              "MaxVolumeLimit": {
                "type": "integer"
              },
              "PSTNEnabled": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "GetRoom": {
      "input": {
        "type": "structure",
        "members": {
          "RoomArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Room": {
            "type": "structure",
            "members": {
              "RoomArn": {
                "shape": "S2"
              },
              "RoomName": {
                "shape": "Ss"
              },
              "Description": {
                "shape": "St"
              },
              "ProviderCalendarId": {
                "shape": "Su"
              },
              "ProfileArn": {
                "shape": "S2"
              }
            }
          }
        }
      }
    },
    "GetRoomSkillParameter": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId",
          "ParameterKey"
        ],
        "members": {
          "RoomArn": {
            "shape": "S2"
          },
          "SkillId": {
            "shape": "S1j"
          },
          "ParameterKey": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomSkillParameter": {
            "shape": "S2p"
          }
        }
      }
    },
    "GetSkillGroup": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillGroup": {
            "type": "structure",
            "members": {
              "SkillGroupArn": {
                "shape": "S2"
              },
              "SkillGroupName": {
                "shape": "S11"
              },
              "Description": {
                "shape": "S12"
              }
            }
          }
        }
      }
    },
    "ListDeviceEvents": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceArn"
        ],
        "members": {
          "DeviceArn": {
            "shape": "S2"
          },
          "EventType": {
            "shape": "S2v"
          },
          "NextToken": {
            "shape": "S2w"
          },
          "MaxResults": {
            "shape": "S2x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DeviceEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Type": {
                  "shape": "S2v"
                },
                "Value": {},
                "Timestamp": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S2w"
          }
        }
      }
    },
    "ListSkills": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {
            "shape": "S2"
          },
          "NextToken": {
            "shape": "S2w"
          },
          "MaxResults": {
            "type": "integer",
            "max": 10,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SkillId": {
                  "shape": "S1j"
                },
                "SkillName": {
                  "type": "string",
                  "max": 100,
                  "min": 1,
                  "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
                },
                "SupportsLinking": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S2w"
          }
        }
      }
    },
    "ListTags": {
      "input": {
        "type": "structure",
        "required": [
          "Arn"
        ],
        "members": {
          "Arn": {
            "shape": "S2"
          },
          "NextToken": {
            "shape": "S2w"
          },
          "MaxResults": {
            "shape": "S2x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Sv"
          },
          "NextToken": {
            "shape": "S2w"
          }
        }
      }
    },
    "PutRoomSkillParameter": {
      "input": {
        "type": "structure",
        "required": [
          "SkillId",
          "RoomSkillParameter"
        ],
        "members": {
          "RoomArn": {
            "shape": "S2"
          },
          "SkillId": {
            "shape": "S1j"
          },
          "RoomSkillParameter": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ResolveRoom": {
      "input": {
        "type": "structure",
        "required": [
          "UserId",
          "SkillId"
        ],
        "members": {
          "UserId": {
            "type": "string",
            "pattern": "amzn1\\.[A-Za-z0-9+-\\/=.]{1,300}"
          },
          "SkillId": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomArn": {
            "shape": "S2"
          },
          "RoomName": {
            "shape": "Ss"
          },
          "RoomSkillParameters": {
            "type": "list",
            "member": {
              "shape": "S2p"
            }
          }
        }
      }
    },
    "RevokeInvitation": {
      "input": {
        "type": "structure",
        "members": {
          "UserArn": {
            "shape": "S2"
          },
          "EnrollmentId": {
            "shape": "S1p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SearchAddressBooks": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3l"
          },
          "SortCriteria": {
            "shape": "S3q"
          },
          "NextToken": {
            "shape": "S2w"
          },
          "MaxResults": {
            "shape": "S2x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AddressBooks": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AddressBookArn": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S9"
                },
                "Description": {
                  "shape": "Sa"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S2w"
          },
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchContacts": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3l"
          },
          "SortCriteria": {
            "shape": "S3q"
          },
          "NextToken": {
            "shape": "S2w"
          },
          "MaxResults": {
            "shape": "S2x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Contacts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ContactArn": {
                  "shape": "S2"
                },
                "DisplayName": {
                  "shape": "Se"
                },
                "FirstName": {
                  "shape": "Se"
                },
                "LastName": {
                  "shape": "Se"
                },
                "PhoneNumber": {
                  "shape": "Sf"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S2w"
          },
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchDevices": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S2w"
          },
          "MaxResults": {
            "shape": "S2x"
          },
          "Filters": {
            "shape": "S3l"
          },
          "SortCriteria": {
            "shape": "S3q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Devices": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DeviceArn": {
                  "shape": "S2"
                },
                "DeviceSerialNumber": {
                  "shape": "S26"
                },
                "DeviceType": {
                  "shape": "S27"
                },
                "DeviceName": {
                  "shape": "S28"
                },
                "SoftwareVersion": {},
                "MacAddress": {},
                "DeviceStatus": {
                  "shape": "S2b"
                },
                "RoomArn": {
                  "shape": "S2"
                },
                "RoomName": {
                  "shape": "Ss"
                },
                "DeviceStatusInfo": {
                  "shape": "S2c"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S2w"
          },
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchProfiles": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S2w"
          },
          "MaxResults": {
            "shape": "S2x"
          },
          "Filters": {
            "shape": "S3l"
          },
          "SortCriteria": {
            "shape": "S3q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Profiles": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ProfileArn": {
                  "shape": "S2"
                },
                "ProfileName": {
                  "shape": "Si"
                },
                "Address": {
                  "shape": "Sk"
                },
                "Timezone": {
                  "shape": "Sj"
                },
                "DistanceUnit": {
                  "shape": "Sl"
                },
                "TemperatureUnit": {
                  "shape": "Sm"
                },
                "WakeWord": {
                  "shape": "Sn"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S2w"
          },
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchRooms": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S2w"
          },
          "MaxResults": {
            "shape": "S2x"
          },
          "Filters": {
            "shape": "S3l"
          },
          "SortCriteria": {
            "shape": "S3q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Rooms": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RoomArn": {
                  "shape": "S2"
                },
                "RoomName": {
                  "shape": "Ss"
                },
                "Description": {
                  "shape": "St"
                },
                "ProviderCalendarId": {
                  "shape": "Su"
                },
                "ProfileArn": {
                  "shape": "S2"
                },
                "ProfileName": {
                  "shape": "Si"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S2w"
          },
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchSkillGroups": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S2w"
          },
          "MaxResults": {
            "shape": "S2x"
          },
          "Filters": {
            "shape": "S3l"
          },
          "SortCriteria": {
            "shape": "S3q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SkillGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SkillGroupArn": {
                  "shape": "S2"
                },
                "SkillGroupName": {
                  "shape": "S11"
                },
                "Description": {
                  "shape": "S12"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S2w"
          },
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SearchUsers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S2w"
          },
          "MaxResults": {
            "shape": "S2x"
          },
          "Filters": {
            "shape": "S3l"
          },
          "SortCriteria": {
            "shape": "S3q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Users": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "UserArn": {
                  "shape": "S2"
                },
                "FirstName": {
                  "shape": "S16"
                },
                "LastName": {
                  "shape": "S17"
                },
                "Email": {
                  "shape": "S18"
                },
                "EnrollmentStatus": {
                  "type": "string",
                  "enum": [
                    "INITIALIZED",
                    "PENDING",
                    "REGISTERED",
                    "DISASSOCIATING",
                    "DEREGISTERING"
                  ]
                },
                "EnrollmentId": {
                  "shape": "S1p"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S2w"
          },
          "TotalCount": {
            "type": "integer"
          }
        }
      }
    },
    "SendInvitation": {
      "input": {
        "type": "structure",
        "members": {
          "UserArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartDeviceSync": {
      "input": {
        "type": "structure",
        "required": [
          "Features"
        ],
        "members": {
          "RoomArn": {
            "shape": "S2"
          },
          "DeviceArn": {
            "shape": "S2"
          },
          "Features": {
            "type": "list",
            "member": {
              "type": "string",
              "enum": [
                "BLUETOOTH",
                "VOLUME",
                "NOTIFICATIONS",
                "LISTS",
                "SKILLS",
                "ALL"
              ]
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "Arn",
          "Tags"
        ],
        "members": {
          "Arn": {
            "shape": "S2"
          },
          "Tags": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "Arn",
          "TagKeys"
        ],
        "members": {
          "Arn": {
            "shape": "S2"
          },
          "TagKeys": {
            "type": "list",
            "member": {
              "shape": "Sx"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateAddressBook": {
      "input": {
        "type": "structure",
        "required": [
          "AddressBookArn"
        ],
        "members": {
          "AddressBookArn": {
            "shape": "S2"
          },
          "Name": {
            "shape": "S9"
          },
          "Description": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateContact": {
      "input": {
        "type": "structure",
        "required": [
          "ContactArn"
        ],
        "members": {
          "ContactArn": {
            "shape": "S2"
          },
          "DisplayName": {
            "shape": "Se"
          },
          "FirstName": {
            "shape": "Se"
          },
          "LastName": {
            "shape": "Se"
          },
          "PhoneNumber": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDevice": {
      "input": {
        "type": "structure",
        "members": {
          "DeviceArn": {
            "shape": "S2"
          },
          "DeviceName": {
            "shape": "S28"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateProfile": {
      "input": {
        "type": "structure",
        "members": {
          "ProfileArn": {
            "shape": "S2"
          },
          "ProfileName": {
            "shape": "Si"
          },
          "Timezone": {
            "shape": "Sj"
          },
          "Address": {
            "shape": "Sk"
          },
          "DistanceUnit": {
            "shape": "Sl"
          },
          "TemperatureUnit": {
            "shape": "Sm"
          },
          "WakeWord": {
            "shape": "Sn"
          },
          "SetupModeDisabled": {
            "type": "boolean"
          },
          "MaxVolumeLimit": {
            "type": "integer"
          },
          "PSTNEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRoom": {
      "input": {
        "type": "structure",
        "members": {
          "RoomArn": {
            "shape": "S2"
          },
          "RoomName": {
            "shape": "Ss"
          },
          "Description": {
            "shape": "St"
          },
          "ProviderCalendarId": {
            "shape": "Su"
          },
          "ProfileArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateSkillGroup": {
      "input": {
        "type": "structure",
        "members": {
          "SkillGroupArn": {
            "shape": "S2"
          },
          "SkillGroupName": {
            "shape": "S11"
          },
          "Description": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}"
    },
    "S9": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "Sa": {
      "type": "string",
      "max": 200,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "Sb": {
      "type": "string",
      "max": 150,
      "min": 10,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
    },
    "Se": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "Sf": {
      "type": "string",
      "pattern": "^\\+\\d{8,}$"
    },
    "Si": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "Sj": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "Sk": {
      "type": "string",
      "max": 500,
      "min": 1
    },
    "Sl": {
      "type": "string",
      "enum": [
        "METRIC",
        "IMPERIAL"
      ]
    },
    "Sm": {
      "type": "string",
      "enum": [
        "FAHRENHEIT",
        "CELSIUS"
      ]
    },
    "Sn": {
      "type": "string",
      "enum": [
        "ALEXA",
        "AMAZON",
        "ECHO",
        "COMPUTER"
      ]
    },
    "Ss": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "St": {
      "type": "string",
      "max": 200,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "Su": {
      "type": "string",
      "max": 100,
      "min": 0
    },
    "Sv": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {
            "shape": "Sx"
          },
          "Value": {
            "type": "string",
            "max": 256,
            "min": 0,
            "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
          }
        }
      }
    },
    "Sx": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "S11": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "S12": {
      "type": "string",
      "max": 200,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "S16": {
      "type": "string",
      "max": 30,
      "min": 0,
      "pattern": "([A-Za-z\\-' 0-9._]|\\p{IsLetter})*"
    },
    "S17": {
      "type": "string",
      "max": 30,
      "min": 0,
      "pattern": "([A-Za-z\\-' 0-9._]|\\p{IsLetter})*"
    },
    "S18": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "([0-9a-zA-Z]([+-.\\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\\w]*[0-9a-zA-Z]\\.)+[a-zA-Z]{2,9})"
    },
    "S1j": {
      "type": "string",
      "pattern": "(^amzn1\\.ask\\.skill\\.[0-9a-f\\-]{1,200})|(^amzn1\\.echo-sdk-ams\\.app\\.[0-9a-f\\-]{1,200})"
    },
    "S1k": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S1p": {
      "type": "string",
      "max": 128,
      "min": 0
    },
    "S26": {
      "type": "string",
      "pattern": "[a-zA-Z0-9]{1,200}"
    },
    "S27": {
      "type": "string",
      "pattern": "[a-zA-Z0-9]{1,200}"
    },
    "S28": {
      "type": "string",
      "max": 100,
      "min": 2,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
    },
    "S2b": {
      "type": "string",
      "enum": [
        "READY",
        "PENDING",
        "WAS_OFFLINE",
        "DEREGISTERED"
      ]
    },
    "S2c": {
      "type": "structure",
      "members": {
        "DeviceStatusDetails": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Code": {
                "type": "string",
                "enum": [
                  "DEVICE_SOFTWARE_UPDATE_NEEDED",
                  "DEVICE_WAS_OFFLINE"
                ]
              }
            }
          }
        },
        "ConnectionStatus": {
          "type": "string",
          "enum": [
            "ONLINE",
            "OFFLINE"
          ]
        }
      }
    },
    "S2p": {
      "type": "structure",
      "required": [
        "ParameterKey",
        "ParameterValue"
      ],
      "members": {
        "ParameterKey": {
          "shape": "S1k"
        },
        "ParameterValue": {
          "type": "string",
          "max": 512,
          "min": 1
        }
      }
    },
    "S2v": {
      "type": "string",
      "enum": [
        "CONNECTION_STATUS",
        "DEVICE_STATUS"
      ]
    },
    "S2w": {
      "type": "string",
      "max": 1000,
      "min": 1
    },
    "S2x": {
      "type": "integer",
      "max": 50,
      "min": 1
    },
    "S3l": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Values"
        ],
        "members": {
          "Key": {
            "type": "string",
            "max": 500,
            "min": 1
          },
          "Values": {
            "type": "list",
            "member": {
              "type": "string",
              "max": 500,
              "min": 1
            },
            "max": 5
          }
        }
      },
      "max": 25
    },
    "S3q": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {
            "type": "string",
            "max": 500,
            "min": 1
          },
          "Value": {
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          }
        }
      },
      "max": 25
    }
  }
}