{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-08-01",
    "endpointPrefix": "aps",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Prometheus Service",
    "serviceId": "amp",
    "signatureVersion": "v4",
    "signingName": "aps",
    "uid": "amp-2020-08-01"
  },
  "operations": {
    "CreateAlertManagerDefinition": {
      "http": {
        "requestUri": "/workspaces/{workspaceId}/alertmanager/definition",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId",
          "data"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "data": {
            "type": "blob"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "status"
        ],
        "members": {
          "status": {
            "shape": "S6"
          }
        }
      },
      "idempotent": true
    },
    "CreateLoggingConfiguration": {
      "http": {
        "requestUri": "/workspaces/{workspaceId}/logging",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId",
          "logGroupArn"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "logGroupArn": {},
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "status"
        ],
        "members": {
          "status": {
            "shape": "Sc"
          }
        }
      },
      "idempotent": true
    },
    "CreateRuleGroupsNamespace": {
      "http": {
        "requestUri": "/workspaces/{workspaceId}/rulegroupsnamespaces",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId",
          "name",
          "data"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "name": {},
          "data": {
            "type": "blob"
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "name",
          "arn",
          "status"
        ],
        "members": {
          "name": {},
          "arn": {},
          "status": {
            "shape": "Sm"
          },
          "tags": {
            "shape": "Sh"
          }
        }
      },
      "idempotent": true
    },
    "CreateScraper": {
      "http": {
        "requestUri": "/scrapers",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "scrapeConfiguration",
          "source",
          "destination"
        ],
        "members": {
          "alias": {},
          "scrapeConfiguration": {
            "shape": "Sq"
          },
          "source": {
            "shape": "Ss"
          },
          "destination": {
            "shape": "Sz"
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "scraperId",
          "arn",
          "status"
        ],
        "members": {
          "scraperId": {},
          "arn": {},
          "status": {
            "shape": "S15"
          },
          "tags": {
            "shape": "Sh"
          }
        }
      },
      "idempotent": true
    },
    "CreateWorkspace": {
      "http": {
        "requestUri": "/workspaces",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "alias": {},
          "clientToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "Sh"
          },
          "kmsKeyArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "workspaceId",
          "arn",
          "status"
        ],
        "members": {
          "workspaceId": {},
          "arn": {},
          "status": {
            "shape": "S1b"
          },
          "tags": {
            "shape": "Sh"
          },
          "kmsKeyArn": {}
        }
      },
      "idempotent": true
    },
    "DeleteAlertManagerDefinition": {
      "http": {
        "method": "DELETE",
        "requestUri": "/workspaces/{workspaceId}/alertmanager/definition",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          }
        }
      },
      "idempotent": true
    },
    "DeleteLoggingConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/workspaces/{workspaceId}/logging",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          }
        }
      },
      "idempotent": true
    },
    "DeleteRuleGroupsNamespace": {
      "http": {
        "method": "DELETE",
        "requestUri": "/workspaces/{workspaceId}/rulegroupsnamespaces/{name}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId",
          "name"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          }
        }
      },
      "idempotent": true
    },
    "DeleteScraper": {
      "http": {
        "method": "DELETE",
        "requestUri": "/scrapers/{scraperId}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "scraperId"
        ],
        "members": {
          "scraperId": {
            "location": "uri",
            "locationName": "scraperId"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "scraperId",
          "status"
        ],
        "members": {
          "scraperId": {},
          "status": {
            "shape": "S15"
          }
        }
      },
      "idempotent": true
    },
    "DeleteWorkspace": {
      "http": {
        "method": "DELETE",
        "requestUri": "/workspaces/{workspaceId}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          }
        }
      },
      "idempotent": true
    },
    "DescribeAlertManagerDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/workspaces/{workspaceId}/alertmanager/definition",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "alertManagerDefinition"
        ],
        "members": {
          "alertManagerDefinition": {
            "type": "structure",
            "required": [
              "status",
              "data",
              "createdAt",
              "modifiedAt"
            ],
            "members": {
              "status": {
                "shape": "S6"
              },
              "data": {
                "type": "blob"
              },
              "createdAt": {
                "type": "timestamp"
              },
              "modifiedAt": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "DescribeLoggingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/workspaces/{workspaceId}/logging",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "loggingConfiguration"
        ],
        "members": {
          "loggingConfiguration": {
            "type": "structure",
            "required": [
              "status",
              "workspace",
              "logGroupArn",
              "createdAt",
              "modifiedAt"
            ],
            "members": {
              "status": {
                "shape": "Sc"
              },
              "workspace": {},
              "logGroupArn": {},
              "createdAt": {
                "type": "timestamp"
              },
              "modifiedAt": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "DescribeRuleGroupsNamespace": {
      "http": {
        "method": "GET",
        "requestUri": "/workspaces/{workspaceId}/rulegroupsnamespaces/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId",
          "name"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ruleGroupsNamespace"
        ],
        "members": {
          "ruleGroupsNamespace": {
            "type": "structure",
            "required": [
              "arn",
              "name",
              "status",
              "data",
              "createdAt",
              "modifiedAt"
            ],
            "members": {
              "arn": {},
              "name": {},
              "status": {
                "shape": "Sm"
              },
              "data": {
                "type": "blob"
              },
              "createdAt": {
                "type": "timestamp"
              },
              "modifiedAt": {
                "type": "timestamp"
              },
              "tags": {
                "shape": "Sh"
              }
            }
          }
        }
      }
    },
    "DescribeScraper": {
      "http": {
        "method": "GET",
        "requestUri": "/scrapers/{scraperId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "scraperId"
        ],
        "members": {
          "scraperId": {
            "location": "uri",
            "locationName": "scraperId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "scraper"
        ],
        "members": {
          "scraper": {
            "type": "structure",
            "required": [
              "scraperId",
              "arn",
              "roleArn",
              "status",
              "createdAt",
              "lastModifiedAt",
              "scrapeConfiguration",
              "source",
              "destination"
            ],
            "members": {
              "alias": {},
              "scraperId": {},
              "arn": {},
              "roleArn": {},
              "status": {
                "shape": "S15"
              },
              "createdAt": {
                "type": "timestamp"
              },
              "lastModifiedAt": {
                "type": "timestamp"
              },
              "tags": {
                "shape": "Sh"
              },
              "statusReason": {},
              "scrapeConfiguration": {
                "shape": "Sq"
              },
              "source": {
                "shape": "Ss"
              },
              "destination": {
                "shape": "Sz"
              }
            }
          }
        }
      }
    },
    "DescribeWorkspace": {
      "http": {
        "method": "GET",
        "requestUri": "/workspaces/{workspaceId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "workspace"
        ],
        "members": {
          "workspace": {
            "type": "structure",
            "required": [
              "workspaceId",
              "arn",
              "status",
              "createdAt"
            ],
            "members": {
              "workspaceId": {},
              "alias": {},
              "arn": {},
              "status": {
                "shape": "S1b"
              },
              "prometheusEndpoint": {},
              "createdAt": {
                "type": "timestamp"
              },
              "tags": {
                "shape": "Sh"
              },
              "kmsKeyArn": {}
            }
          }
        }
      }
    },
    "GetDefaultScraperConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/scraperconfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "configuration"
        ],
        "members": {
          "configuration": {
            "type": "blob"
          }
        }
      }
    },
    "ListRuleGroupsNamespaces": {
      "http": {
        "method": "GET",
        "requestUri": "/workspaces/{workspaceId}/rulegroupsnamespaces",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "name": {
            "location": "querystring",
            "locationName": "name"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ruleGroupsNamespaces"
        ],
        "members": {
          "ruleGroupsNamespaces": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "name",
                "status",
                "createdAt",
                "modifiedAt"
              ],
              "members": {
                "arn": {},
                "name": {},
                "status": {
                  "shape": "Sm"
                },
                "createdAt": {
                  "type": "timestamp"
                },
                "modifiedAt": {
                  "type": "timestamp"
                },
                "tags": {
                  "shape": "Sh"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListScrapers": {
      "http": {
        "method": "GET",
        "requestUri": "/scrapers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "location": "querystring",
            "type": "map",
            "key": {},
            "value": {
              "type": "list",
              "member": {}
            }
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "scrapers"
        ],
        "members": {
          "scrapers": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "scraperId",
                "arn",
                "roleArn",
                "status",
                "createdAt",
                "lastModifiedAt",
                "source",
                "destination"
              ],
              "members": {
                "alias": {},
                "scraperId": {},
                "arn": {},
                "roleArn": {},
                "status": {
                  "shape": "S15"
                },
                "createdAt": {
                  "type": "timestamp"
                },
                "lastModifiedAt": {
                  "type": "timestamp"
                },
                "tags": {
                  "shape": "Sh"
                },
                "statusReason": {},
                "source": {
                  "shape": "Ss"
                },
                "destination": {
                  "shape": "Sz"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "Sh"
          }
        }
      }
    },
    "ListWorkspaces": {
      "http": {
        "method": "GET",
        "requestUri": "/workspaces",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "alias": {
            "location": "querystring",
            "locationName": "alias"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "workspaces"
        ],
        "members": {
          "workspaces": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "workspaceId",
                "arn",
                "status",
                "createdAt"
              ],
              "members": {
                "workspaceId": {},
                "alias": {},
                "arn": {},
                "status": {
                  "shape": "S1b"
                },
                "createdAt": {
                  "type": "timestamp"
                },
                "tags": {
                  "shape": "Sh"
                },
                "kmsKeyArn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "PutAlertManagerDefinition": {
      "http": {
        "method": "PUT",
        "requestUri": "/workspaces/{workspaceId}/alertmanager/definition",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId",
          "data"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "data": {
            "type": "blob"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "status"
        ],
        "members": {
          "status": {
            "shape": "S6"
          }
        }
      },
      "idempotent": true
    },
    "PutRuleGroupsNamespace": {
      "http": {
        "method": "PUT",
        "requestUri": "/workspaces/{workspaceId}/rulegroupsnamespaces/{name}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId",
          "name",
          "data"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "data": {
            "type": "blob"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "name",
          "arn",
          "status"
        ],
        "members": {
          "name": {},
          "arn": {},
          "status": {
            "shape": "Sm"
          },
          "tags": {
            "shape": "Sh"
          }
        }
      },
      "idempotent": true
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdateLoggingConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/workspaces/{workspaceId}/logging",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId",
          "logGroupArn"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "logGroupArn": {},
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "status"
        ],
        "members": {
          "status": {
            "shape": "Sc"
          }
        }
      },
      "idempotent": true
    },
    "UpdateWorkspaceAlias": {
      "http": {
        "requestUri": "/workspaces/{workspaceId}/alias",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "workspaceId"
        ],
        "members": {
          "workspaceId": {
            "location": "uri",
            "locationName": "workspaceId"
          },
          "alias": {},
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S6": {
      "type": "structure",
      "required": [
        "statusCode"
      ],
      "members": {
        "statusCode": {},
        "statusReason": {}
      }
    },
    "Sc": {
      "type": "structure",
      "required": [
        "statusCode"
      ],
      "members": {
        "statusCode": {},
        "statusReason": {}
      }
    },
    "Sh": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sm": {
      "type": "structure",
      "required": [
        "statusCode"
      ],
      "members": {
        "statusCode": {},
        "statusReason": {}
      }
    },
    "Sq": {
      "type": "structure",
      "members": {
        "configurationBlob": {
          "type": "blob"
        }
      },
      "union": true
    },
    "Ss": {
      "type": "structure",
      "members": {
        "eksConfiguration": {
          "type": "structure",
          "required": [
            "clusterArn",
            "subnetIds"
          ],
          "members": {
            "clusterArn": {},
            "securityGroupIds": {
              "type": "list",
              "member": {}
            },
            "subnetIds": {
              "type": "list",
              "member": {}
            }
          }
        }
      },
      "union": true
    },
    "Sz": {
      "type": "structure",
      "members": {
        "ampConfiguration": {
          "type": "structure",
          "required": [
            "workspaceArn"
          ],
          "members": {
            "workspaceArn": {}
          }
        }
      },
      "union": true
    },
    "S15": {
      "type": "structure",
      "required": [
        "statusCode"
      ],
      "members": {
        "statusCode": {}
      }
    },
    "S1b": {
      "type": "structure",
      "required": [
        "statusCode"
      ],
      "members": {
        "statusCode": {}
      }
    }
  }
}