{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2021-08-11",
    "endpointPrefix": "amplifyuibuilder",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Amplify UI Builder",
    "serviceId": "AmplifyUIBuilder",
    "signatureVersion": "v4",
    "signingName": "amplifyuibuilder",
    "uid": "amplifyuibuilder-2021-08-11"
  },
  "operations": {
    "CreateComponent": {
      "http": {
        "requestUri": "/app/{appId}/environment/{environmentName}/components",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appId",
          "componentToCreate",
          "environmentName"
        ],
        "members": {
          "appId": {
            "location": "uri",
            "locationName": "appId"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          },
          "componentToCreate": {
            "type": "structure",
            "required": [
              "bindingProperties",
              "componentType",
              "name",
              "overrides",
              "properties",
              "variants"
            ],
            "members": {
              "bindingProperties": {
                "shape": "S4"
              },
              "children": {
                "shape": "S9"
              },
              "collectionProperties": {
                "shape": "Sj"
              },
              "componentType": {},
              "name": {},
              "overrides": {
                "shape": "Sr"
              },
              "properties": {
                "shape": "Sb"
              },
              "sourceId": {},
              "tags": {
                "shape": "St"
              },
              "variants": {
                "shape": "Sw"
              }
            }
          },
          "environmentName": {
            "location": "uri",
            "locationName": "environmentName"
          }
        },
        "payload": "componentToCreate"
      },
      "output": {
        "type": "structure",
        "members": {
          "entity": {
            "shape": "S10"
          }
        },
        "payload": "entity"
      },
      "idempotent": true
    },
    "CreateTheme": {
      "http": {
        "requestUri": "/app/{appId}/environment/{environmentName}/themes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appId",
          "environmentName",
          "themeToCreate"
        ],
        "members": {
          "appId": {
            "location": "uri",
            "locationName": "appId"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          },
          "environmentName": {
            "location": "uri",
            "locationName": "environmentName"
          },
          "themeToCreate": {
            "type": "structure",
            "required": [
              "name",
              "values"
            ],
            "members": {
              "name": {},
              "overrides": {
                "shape": "S16"
              },
              "tags": {
                "shape": "St"
              },
              "values": {
                "shape": "S16"
              }
            }
          }
        },
        "payload": "themeToCreate"
      },
      "output": {
        "type": "structure",
        "members": {
          "entity": {
            "shape": "S1a"
          }
        },
        "payload": "entity"
      },
      "idempotent": true
    },
    "DeleteComponent": {
      "http": {
        "method": "DELETE",
        "requestUri": "/app/{appId}/environment/{environmentName}/components/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appId",
          "environmentName",
          "id"
        ],
        "members": {
          "appId": {
            "location": "uri",
            "locationName": "appId"
          },
          "environmentName": {
            "location": "uri",
            "locationName": "environmentName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "idempotent": true
    },
    "DeleteTheme": {
      "http": {
        "method": "DELETE",
        "requestUri": "/app/{appId}/environment/{environmentName}/themes/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appId",
          "environmentName",
          "id"
        ],
        "members": {
          "appId": {
            "location": "uri",
            "locationName": "appId"
          },
          "environmentName": {
            "location": "uri",
            "locationName": "environmentName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "idempotent": true
    },
    "ExchangeCodeForToken": {
      "http": {
        "requestUri": "/tokens/{provider}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "provider",
          "request"
        ],
        "members": {
          "provider": {
            "location": "uri",
            "locationName": "provider"
          },
          "request": {
            "type": "structure",
            "required": [
              "code",
              "redirectUri"
            ],
            "members": {
              "code": {
                "type": "string",
                "sensitive": true
              },
              "redirectUri": {}
            }
          }
        },
        "payload": "request"
      },
      "output": {
        "type": "structure",
        "required": [
          "accessToken",
          "expiresIn",
          "refreshToken"
        ],
        "members": {
          "accessToken": {
            "shape": "S1i"
          },
          "expiresIn": {
            "type": "integer"
          },
          "refreshToken": {
            "shape": "S1i"
          }
        }
      }
    },
    "ExportComponents": {
      "http": {
        "method": "GET",
        "requestUri": "/export/app/{appId}/environment/{environmentName}/components",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appId",
          "environmentName"
        ],
        "members": {
          "appId": {
            "location": "uri",
            "locationName": "appId"
          },
          "environmentName": {
            "location": "uri",
            "locationName": "environmentName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "entities"
        ],
        "members": {
          "entities": {
            "type": "list",
            "member": {
              "shape": "S10"
            }
          }
        }
      }
    },
    "ExportThemes": {
      "http": {
        "method": "GET",
        "requestUri": "/export/app/{appId}/environment/{environmentName}/themes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appId",
          "environmentName"
        ],
        "members": {
          "appId": {
            "location": "uri",
            "locationName": "appId"
          },
          "environmentName": {
            "location": "uri",
            "locationName": "environmentName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "entities"
        ],
        "members": {
          "entities": {
            "type": "list",
            "member": {
              "shape": "S1a"
            }
          }
        }
      }
    },
    "GetComponent": {
      "http": {
        "method": "GET",
        "requestUri": "/app/{appId}/environment/{environmentName}/components/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appId",
          "environmentName",
          "id"
        ],
        "members": {
          "appId": {
            "location": "uri",
            "locationName": "appId"
          },
          "environmentName": {
            "location": "uri",
            "locationName": "environmentName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "component": {
            "shape": "S10"
          }
        },
        "payload": "component"
      }
    },
    "GetTheme": {
      "http": {
        "method": "GET",
        "requestUri": "/app/{appId}/environment/{environmentName}/themes/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appId",
          "environmentName",
          "id"
        ],
        "members": {
          "appId": {
            "location": "uri",
            "locationName": "appId"
          },
          "environmentName": {
            "location": "uri",
            "locationName": "environmentName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "theme": {
            "shape": "S1a"
          }
        },
        "payload": "theme"
      }
    },
    "ListComponents": {
      "http": {
        "method": "GET",
        "requestUri": "/app/{appId}/environment/{environmentName}/components",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appId",
          "environmentName"
        ],
        "members": {
          "appId": {
            "location": "uri",
            "locationName": "appId"
          },
          "environmentName": {
            "location": "uri",
            "locationName": "environmentName"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "entities"
        ],
        "members": {
          "entities": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "appId",
                "componentType",
                "environmentName",
                "id",
                "name"
              ],
              "members": {
                "appId": {},
                "componentType": {},
                "environmentName": {},
                "id": {},
                "name": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListThemes": {
      "http": {
        "method": "GET",
        "requestUri": "/app/{appId}/environment/{environmentName}/themes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appId",
          "environmentName"
        ],
        "members": {
          "appId": {
            "location": "uri",
            "locationName": "appId"
          },
          "environmentName": {
            "location": "uri",
            "locationName": "environmentName"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "entities"
        ],
        "members": {
          "entities": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "appId",
                "environmentName",
                "id",
                "name"
              ],
              "members": {
                "appId": {},
                "environmentName": {},
                "id": {},
                "name": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "RefreshToken": {
      "http": {
        "requestUri": "/tokens/{provider}/refresh",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "provider",
          "refreshTokenBody"
        ],
        "members": {
          "provider": {
            "location": "uri",
            "locationName": "provider"
          },
          "refreshTokenBody": {
            "type": "structure",
            "required": [
              "token"
            ],
            "members": {
              "token": {
                "type": "string",
                "sensitive": true
              }
            }
          }
        },
        "payload": "refreshTokenBody"
      },
      "output": {
        "type": "structure",
        "required": [
          "accessToken",
          "expiresIn"
        ],
        "members": {
          "accessToken": {
            "type": "string",
            "sensitive": true
          },
          "expiresIn": {
            "type": "integer"
          }
        }
      }
    },
    "UpdateComponent": {
      "http": {
        "method": "PATCH",
        "requestUri": "/app/{appId}/environment/{environmentName}/components/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appId",
          "environmentName",
          "id",
          "updatedComponent"
        ],
        "members": {
          "appId": {
            "location": "uri",
            "locationName": "appId"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          },
          "environmentName": {
            "location": "uri",
            "locationName": "environmentName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          },
          "updatedComponent": {
            "type": "structure",
            "members": {
              "bindingProperties": {
                "shape": "S4"
              },
              "children": {
                "shape": "S9"
              },
              "collectionProperties": {
                "shape": "Sj"
              },
              "componentType": {},
              "id": {},
              "name": {},
              "overrides": {
                "shape": "Sr"
              },
              "properties": {
                "shape": "Sb"
              },
              "sourceId": {},
              "variants": {
                "shape": "Sw"
              }
            }
          }
        },
        "payload": "updatedComponent"
      },
      "output": {
        "type": "structure",
        "members": {
          "entity": {
            "shape": "S10"
          }
        },
        "payload": "entity"
      },
      "idempotent": true
    },
    "UpdateTheme": {
      "http": {
        "method": "PATCH",
        "requestUri": "/app/{appId}/environment/{environmentName}/themes/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appId",
          "environmentName",
          "id",
          "updatedTheme"
        ],
        "members": {
          "appId": {
            "location": "uri",
            "locationName": "appId"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          },
          "environmentName": {
            "location": "uri",
            "locationName": "environmentName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          },
          "updatedTheme": {
            "type": "structure",
            "required": [
              "values"
            ],
            "members": {
              "id": {},
              "name": {},
              "overrides": {
                "shape": "S16"
              },
              "values": {
                "shape": "S16"
              }
            }
          }
        },
        "payload": "updatedTheme"
      },
      "output": {
        "type": "structure",
        "members": {
          "entity": {
            "shape": "S1a"
          }
        },
        "payload": "entity"
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S4": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "bindingProperties": {
            "type": "structure",
            "members": {
              "bucket": {},
              "defaultValue": {},
              "field": {},
              "key": {},
              "model": {},
              "predicates": {
                "shape": "S7"
              },
              "userAttribute": {}
            }
          },
          "defaultValue": {},
          "type": {}
        }
      }
    },
    "S7": {
      "type": "list",
      "member": {
        "shape": "S8"
      }
    },
    "S8": {
      "type": "structure",
      "members": {
        "and": {
          "shape": "S7"
        },
        "field": {},
        "operand": {},
        "operator": {},
        "or": {
          "shape": "S7"
        }
      }
    },
    "S9": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "componentType",
          "name",
          "properties"
        ],
        "members": {
          "children": {
            "shape": "S9"
          },
          "componentType": {},
          "name": {},
          "properties": {
            "shape": "Sb"
          }
        }
      }
    },
    "Sb": {
      "type": "map",
      "key": {},
      "value": {
        "shape": "Sc"
      }
    },
    "Sc": {
      "type": "structure",
      "members": {
        "bindingProperties": {
          "shape": "Sd"
        },
        "bindings": {
          "type": "map",
          "key": {},
          "value": {
            "type": "structure",
            "required": [
              "element",
              "property"
            ],
            "members": {
              "element": {},
              "property": {}
            }
          }
        },
        "collectionBindingProperties": {
          "shape": "Sd"
        },
        "concat": {
          "type": "list",
          "member": {
            "shape": "Sc"
          }
        },
        "condition": {
          "type": "structure",
          "members": {
            "else": {
              "shape": "Sc"
            },
            "field": {},
            "operand": {},
            "operator": {},
            "property": {},
            "then": {
              "shape": "Sc"
            }
          }
        },
        "configured": {
          "type": "boolean"
        },
        "defaultValue": {},
        "event": {},
        "importedValue": {},
        "model": {},
        "type": {},
        "userAttribute": {},
        "value": {}
      }
    },
    "Sd": {
      "type": "structure",
      "required": [
        "property"
      ],
      "members": {
        "field": {},
        "property": {}
      }
    },
    "Sj": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "required": [
          "model"
        ],
        "members": {
          "identifiers": {
            "type": "list",
            "member": {}
          },
          "model": {},
          "predicate": {
            "shape": "S8"
          },
          "sort": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "direction",
                "field"
              ],
              "members": {
                "direction": {},
                "field": {}
              }
            }
          }
        }
      }
    },
    "Sr": {
      "type": "map",
      "key": {},
      "value": {
        "type": "map",
        "key": {},
        "value": {}
      }
    },
    "St": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sw": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "overrides": {
            "shape": "Sr"
          },
          "variantValues": {
            "type": "map",
            "key": {},
            "value": {}
          }
        }
      }
    },
    "S10": {
      "type": "structure",
      "required": [
        "appId",
        "bindingProperties",
        "componentType",
        "createdAt",
        "environmentName",
        "id",
        "name",
        "overrides",
        "properties",
        "variants"
      ],
      "members": {
        "appId": {},
        "bindingProperties": {
          "shape": "S4"
        },
        "children": {
          "shape": "S9"
        },
        "collectionProperties": {
          "shape": "Sj"
        },
        "componentType": {},
        "createdAt": {
          "shape": "S11"
        },
        "environmentName": {},
        "id": {},
        "modifiedAt": {
          "shape": "S11"
        },
        "name": {},
        "overrides": {
          "shape": "Sr"
        },
        "properties": {
          "shape": "Sb"
        },
        "sourceId": {},
        "tags": {
          "shape": "St"
        },
        "variants": {
          "shape": "Sw"
        }
      }
    },
    "S11": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S16": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "key": {},
          "value": {
            "type": "structure",
            "members": {
              "children": {
                "shape": "S16"
              },
              "value": {}
            }
          }
        }
      }
    },
    "S1a": {
      "type": "structure",
      "required": [
        "appId",
        "createdAt",
        "environmentName",
        "id",
        "name",
        "values"
      ],
      "members": {
        "appId": {},
        "createdAt": {
          "shape": "S11"
        },
        "environmentName": {},
        "id": {},
        "modifiedAt": {
          "shape": "S11"
        },
        "name": {},
        "overrides": {
          "shape": "S16"
        },
        "tags": {
          "shape": "St"
        },
        "values": {
          "shape": "S16"
        }
      }
    },
    "S1i": {
      "type": "string",
      "sensitive": true
    }
  }
}