{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-01-25",
    "endpointPrefix": "appmesh",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS App Mesh",
    "serviceId": "App Mesh",
    "signatureVersion": "v4",
    "signingName": "appmesh",
    "uid": "appmesh-2019-01-25"
  },
  "operations": {
    "CreateGatewayRoute": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "gatewayRouteName",
          "meshName",
          "spec",
          "virtualGatewayName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "gatewayRouteName": {},
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S5"
          },
          "tags": {
            "shape": "Sf"
          },
          "virtualGatewayName": {
            "location": "uri",
            "locationName": "virtualGatewayName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "gatewayRoute"
        ],
        "members": {
          "gatewayRoute": {
            "shape": "Sk"
          }
        },
        "payload": "gatewayRoute"
      },
      "idempotent": true
    },
    "CreateMesh": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {},
          "spec": {
            "shape": "Ss"
          },
          "tags": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "mesh"
        ],
        "members": {
          "mesh": {
            "shape": "Sw"
          }
        },
        "payload": "mesh"
      },
      "idempotent": true
    },
    "CreateRoute": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "routeName",
          "spec",
          "virtualRouterName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "routeName": {},
          "spec": {
            "shape": "S10"
          },
          "tags": {
            "shape": "Sf"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "route"
        ],
        "members": {
          "route": {
            "shape": "S26"
          }
        },
        "payload": "route"
      },
      "idempotent": true
    },
    "CreateVirtualGateway": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateways",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualGatewayName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S2a"
          },
          "tags": {
            "shape": "Sf"
          },
          "virtualGatewayName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualGateway"
        ],
        "members": {
          "virtualGateway": {
            "shape": "S3a"
          }
        },
        "payload": "virtualGateway"
      },
      "idempotent": true
    },
    "CreateVirtualNode": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualNodeName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S3e"
          },
          "tags": {
            "shape": "Sf"
          },
          "virtualNodeName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualNode"
        ],
        "members": {
          "virtualNode": {
            "shape": "S4p"
          }
        },
        "payload": "virtualNode"
      },
      "idempotent": true
    },
    "CreateVirtualRouter": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualRouterName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S4t"
          },
          "tags": {
            "shape": "Sf"
          },
          "virtualRouterName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualRouter"
        ],
        "members": {
          "virtualRouter": {
            "shape": "S4x"
          }
        },
        "payload": "virtualRouter"
      },
      "idempotent": true
    },
    "CreateVirtualService": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualServiceName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S51"
          },
          "tags": {
            "shape": "Sf"
          },
          "virtualServiceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualService"
        ],
        "members": {
          "virtualService": {
            "shape": "S56"
          }
        },
        "payload": "virtualService"
      },
      "idempotent": true
    },
    "DeleteGatewayRoute": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes/{gatewayRouteName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "gatewayRouteName",
          "meshName",
          "virtualGatewayName"
        ],
        "members": {
          "gatewayRouteName": {
            "location": "uri",
            "locationName": "gatewayRouteName"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualGatewayName": {
            "location": "uri",
            "locationName": "virtualGatewayName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "gatewayRoute"
        ],
        "members": {
          "gatewayRoute": {
            "shape": "Sk"
          }
        },
        "payload": "gatewayRoute"
      },
      "idempotent": true
    },
    "DeleteMesh": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "mesh"
        ],
        "members": {
          "mesh": {
            "shape": "Sw"
          }
        },
        "payload": "mesh"
      },
      "idempotent": true
    },
    "DeleteRoute": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "routeName",
          "virtualRouterName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "routeName": {
            "location": "uri",
            "locationName": "routeName"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "route"
        ],
        "members": {
          "route": {
            "shape": "S26"
          }
        },
        "payload": "route"
      },
      "idempotent": true
    },
    "DeleteVirtualGateway": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateways/{virtualGatewayName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualGatewayName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualGatewayName": {
            "location": "uri",
            "locationName": "virtualGatewayName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualGateway"
        ],
        "members": {
          "virtualGateway": {
            "shape": "S3a"
          }
        },
        "payload": "virtualGateway"
      },
      "idempotent": true
    },
    "DeleteVirtualNode": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualNodeName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualNodeName": {
            "location": "uri",
            "locationName": "virtualNodeName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualNode"
        ],
        "members": {
          "virtualNode": {
            "shape": "S4p"
          }
        },
        "payload": "virtualNode"
      },
      "idempotent": true
    },
    "DeleteVirtualRouter": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualRouterName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualRouter"
        ],
        "members": {
          "virtualRouter": {
            "shape": "S4x"
          }
        },
        "payload": "virtualRouter"
      },
      "idempotent": true
    },
    "DeleteVirtualService": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualServiceName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualServiceName": {
            "location": "uri",
            "locationName": "virtualServiceName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualService"
        ],
        "members": {
          "virtualService": {
            "shape": "S56"
          }
        },
        "payload": "virtualService"
      },
      "idempotent": true
    },
    "DescribeGatewayRoute": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes/{gatewayRouteName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "gatewayRouteName",
          "meshName",
          "virtualGatewayName"
        ],
        "members": {
          "gatewayRouteName": {
            "location": "uri",
            "locationName": "gatewayRouteName"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualGatewayName": {
            "location": "uri",
            "locationName": "virtualGatewayName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "gatewayRoute"
        ],
        "members": {
          "gatewayRoute": {
            "shape": "Sk"
          }
        },
        "payload": "gatewayRoute"
      }
    },
    "DescribeMesh": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "mesh"
        ],
        "members": {
          "mesh": {
            "shape": "Sw"
          }
        },
        "payload": "mesh"
      }
    },
    "DescribeRoute": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "routeName",
          "virtualRouterName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "routeName": {
            "location": "uri",
            "locationName": "routeName"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "route"
        ],
        "members": {
          "route": {
            "shape": "S26"
          }
        },
        "payload": "route"
      }
    },
    "DescribeVirtualGateway": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateways/{virtualGatewayName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualGatewayName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualGatewayName": {
            "location": "uri",
            "locationName": "virtualGatewayName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualGateway"
        ],
        "members": {
          "virtualGateway": {
            "shape": "S3a"
          }
        },
        "payload": "virtualGateway"
      }
    },
    "DescribeVirtualNode": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualNodeName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualNodeName": {
            "location": "uri",
            "locationName": "virtualNodeName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualNode"
        ],
        "members": {
          "virtualNode": {
            "shape": "S4p"
          }
        },
        "payload": "virtualNode"
      }
    },
    "DescribeVirtualRouter": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualRouterName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualRouter"
        ],
        "members": {
          "virtualRouter": {
            "shape": "S4x"
          }
        },
        "payload": "virtualRouter"
      }
    },
    "DescribeVirtualService": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualServiceName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualServiceName": {
            "location": "uri",
            "locationName": "virtualServiceName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualService"
        ],
        "members": {
          "virtualService": {
            "shape": "S56"
          }
        },
        "payload": "virtualService"
      }
    },
    "ListGatewayRoutes": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualGatewayName"
        ],
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "virtualGatewayName": {
            "location": "uri",
            "locationName": "virtualGatewayName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "gatewayRoutes"
        ],
        "members": {
          "gatewayRoutes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "gatewayRouteName",
                "lastUpdatedAt",
                "meshName",
                "meshOwner",
                "resourceOwner",
                "version",
                "virtualGatewayName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "gatewayRouteName": {},
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "meshName": {},
                "meshOwner": {},
                "resourceOwner": {},
                "version": {
                  "type": "long"
                },
                "virtualGatewayName": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListMeshes": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "meshes"
        ],
        "members": {
          "meshes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastUpdatedAt",
                "meshName",
                "meshOwner",
                "resourceOwner",
                "version"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "meshName": {},
                "meshOwner": {},
                "resourceOwner": {},
                "version": {
                  "type": "long"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListRoutes": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualRouterName"
        ],
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "routes"
        ],
        "members": {
          "nextToken": {},
          "routes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastUpdatedAt",
                "meshName",
                "meshOwner",
                "resourceOwner",
                "routeName",
                "version",
                "virtualRouterName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "meshName": {},
                "meshOwner": {},
                "resourceOwner": {},
                "routeName": {},
                "version": {
                  "type": "long"
                },
                "virtualRouterName": {}
              }
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/tags",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "resourceArn": {
            "location": "querystring",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "tags"
        ],
        "members": {
          "nextToken": {},
          "tags": {
            "shape": "Sf"
          }
        }
      }
    },
    "ListVirtualGateways": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateways",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualGateways"
        ],
        "members": {
          "nextToken": {},
          "virtualGateways": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastUpdatedAt",
                "meshName",
                "meshOwner",
                "resourceOwner",
                "version",
                "virtualGatewayName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "meshName": {},
                "meshOwner": {},
                "resourceOwner": {},
                "version": {
                  "type": "long"
                },
                "virtualGatewayName": {}
              }
            }
          }
        }
      }
    },
    "ListVirtualNodes": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualNodes"
        ],
        "members": {
          "nextToken": {},
          "virtualNodes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastUpdatedAt",
                "meshName",
                "meshOwner",
                "resourceOwner",
                "version",
                "virtualNodeName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "meshName": {},
                "meshOwner": {},
                "resourceOwner": {},
                "version": {
                  "type": "long"
                },
                "virtualNodeName": {}
              }
            }
          }
        }
      }
    },
    "ListVirtualRouters": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualRouters"
        ],
        "members": {
          "nextToken": {},
          "virtualRouters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastUpdatedAt",
                "meshName",
                "meshOwner",
                "resourceOwner",
                "version",
                "virtualRouterName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "meshName": {},
                "meshOwner": {},
                "resourceOwner": {},
                "version": {
                  "type": "long"
                },
                "virtualRouterName": {}
              }
            }
          }
        }
      }
    },
    "ListVirtualServices": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualServices"
        ],
        "members": {
          "nextToken": {},
          "virtualServices": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastUpdatedAt",
                "meshName",
                "meshOwner",
                "resourceOwner",
                "version",
                "virtualServiceName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "meshName": {},
                "meshOwner": {},
                "resourceOwner": {},
                "version": {
                  "type": "long"
                },
                "virtualServiceName": {}
              }
            }
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/tag",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "querystring",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UntagResource": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/untag",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "querystring",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdateGatewayRoute": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes/{gatewayRouteName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "gatewayRouteName",
          "meshName",
          "spec",
          "virtualGatewayName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "gatewayRouteName": {
            "location": "uri",
            "locationName": "gatewayRouteName"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S5"
          },
          "virtualGatewayName": {
            "location": "uri",
            "locationName": "virtualGatewayName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "gatewayRoute"
        ],
        "members": {
          "gatewayRoute": {
            "shape": "Sk"
          }
        },
        "payload": "gatewayRoute"
      },
      "idempotent": true
    },
    "UpdateMesh": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "spec": {
            "shape": "Ss"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "mesh"
        ],
        "members": {
          "mesh": {
            "shape": "Sw"
          }
        },
        "payload": "mesh"
      },
      "idempotent": true
    },
    "UpdateRoute": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "routeName",
          "spec",
          "virtualRouterName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "routeName": {
            "location": "uri",
            "locationName": "routeName"
          },
          "spec": {
            "shape": "S10"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "route"
        ],
        "members": {
          "route": {
            "shape": "S26"
          }
        },
        "payload": "route"
      },
      "idempotent": true
    },
    "UpdateVirtualGateway": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateways/{virtualGatewayName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualGatewayName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S2a"
          },
          "virtualGatewayName": {
            "location": "uri",
            "locationName": "virtualGatewayName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualGateway"
        ],
        "members": {
          "virtualGateway": {
            "shape": "S3a"
          }
        },
        "payload": "virtualGateway"
      },
      "idempotent": true
    },
    "UpdateVirtualNode": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualNodeName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S3e"
          },
          "virtualNodeName": {
            "location": "uri",
            "locationName": "virtualNodeName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualNode"
        ],
        "members": {
          "virtualNode": {
            "shape": "S4p"
          }
        },
        "payload": "virtualNode"
      },
      "idempotent": true
    },
    "UpdateVirtualRouter": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualRouterName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S4t"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualRouter"
        ],
        "members": {
          "virtualRouter": {
            "shape": "S4x"
          }
        },
        "payload": "virtualRouter"
      },
      "idempotent": true
    },
    "UpdateVirtualService": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualServiceName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S51"
          },
          "virtualServiceName": {
            "location": "uri",
            "locationName": "virtualServiceName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualService"
        ],
        "members": {
          "virtualService": {
            "shape": "S56"
          }
        },
        "payload": "virtualService"
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S5": {
      "type": "structure",
      "members": {
        "grpcRoute": {
          "type": "structure",
          "required": [
            "action",
            "match"
          ],
          "members": {
            "action": {
              "type": "structure",
              "required": [
                "target"
              ],
              "members": {
                "target": {
                  "shape": "S8"
                }
              }
            },
            "match": {
              "type": "structure",
              "members": {
                "serviceName": {}
              }
            }
          }
        },
        "http2Route": {
          "shape": "Sc"
        },
        "httpRoute": {
          "shape": "Sc"
        }
      }
    },
    "S8": {
      "type": "structure",
      "required": [
        "virtualService"
      ],
      "members": {
        "virtualService": {
          "type": "structure",
          "required": [
            "virtualServiceName"
          ],
          "members": {
            "virtualServiceName": {}
          }
        }
      }
    },
    "Sc": {
      "type": "structure",
      "required": [
        "action",
        "match"
      ],
      "members": {
        "action": {
          "type": "structure",
          "required": [
            "target"
          ],
          "members": {
            "target": {
              "shape": "S8"
            }
          }
        },
        "match": {
          "type": "structure",
          "required": [
            "prefix"
          ],
          "members": {
            "prefix": {}
          }
        }
      }
    },
    "Sf": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "key",
          "value"
        ],
        "members": {
          "key": {},
          "value": {}
        }
      }
    },
    "Sk": {
      "type": "structure",
      "required": [
        "gatewayRouteName",
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualGatewayName"
      ],
      "members": {
        "gatewayRouteName": {},
        "meshName": {},
        "metadata": {
          "shape": "Sl"
        },
        "spec": {
          "shape": "S5"
        },
        "status": {
          "type": "structure",
          "required": [
            "status"
          ],
          "members": {
            "status": {}
          }
        },
        "virtualGatewayName": {}
      }
    },
    "Sl": {
      "type": "structure",
      "required": [
        "arn",
        "createdAt",
        "lastUpdatedAt",
        "meshOwner",
        "resourceOwner",
        "uid",
        "version"
      ],
      "members": {
        "arn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "lastUpdatedAt": {
          "type": "timestamp"
        },
        "meshOwner": {},
        "resourceOwner": {},
        "uid": {},
        "version": {
          "type": "long"
        }
      }
    },
    "Ss": {
      "type": "structure",
      "members": {
        "egressFilter": {
          "type": "structure",
          "required": [
            "type"
          ],
          "members": {
            "type": {}
          }
        }
      }
    },
    "Sw": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "spec",
        "status"
      ],
      "members": {
        "meshName": {},
        "metadata": {
          "shape": "Sl"
        },
        "spec": {
          "shape": "Ss"
        },
        "status": {
          "type": "structure",
          "members": {
            "status": {}
          }
        }
      }
    },
    "S10": {
      "type": "structure",
      "members": {
        "grpcRoute": {
          "type": "structure",
          "required": [
            "action",
            "match"
          ],
          "members": {
            "action": {
              "type": "structure",
              "required": [
                "weightedTargets"
              ],
              "members": {
                "weightedTargets": {
                  "shape": "S13"
                }
              }
            },
            "match": {
              "type": "structure",
              "members": {
                "metadata": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "name"
                    ],
                    "members": {
                      "invert": {
                        "type": "boolean"
                      },
                      "match": {
                        "type": "structure",
                        "members": {
                          "exact": {},
                          "prefix": {},
                          "range": {
                            "shape": "S1c"
                          },
                          "regex": {},
                          "suffix": {}
                        },
                        "union": true
                      },
                      "name": {}
                    }
                  }
                },
                "methodName": {},
                "serviceName": {}
              }
            },
            "retryPolicy": {
              "type": "structure",
              "required": [
                "maxRetries",
                "perRetryTimeout"
              ],
              "members": {
                "grpcRetryEvents": {
                  "type": "list",
                  "member": {}
                },
                "httpRetryEvents": {
                  "shape": "S1i"
                },
                "maxRetries": {
                  "type": "long"
                },
                "perRetryTimeout": {
                  "shape": "S1l"
                },
                "tcpRetryEvents": {
                  "shape": "S1o"
                }
              }
            },
            "timeout": {
              "shape": "S1q"
            }
          }
        },
        "http2Route": {
          "shape": "S1r"
        },
        "httpRoute": {
          "shape": "S1r"
        },
        "priority": {
          "type": "integer"
        },
        "tcpRoute": {
          "type": "structure",
          "required": [
            "action"
          ],
          "members": {
            "action": {
              "type": "structure",
              "required": [
                "weightedTargets"
              ],
              "members": {
                "weightedTargets": {
                  "shape": "S13"
                }
              }
            },
            "timeout": {
              "shape": "S24"
            }
          }
        }
      }
    },
    "S13": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "virtualNode",
          "weight"
        ],
        "members": {
          "virtualNode": {},
          "weight": {
            "type": "integer"
          }
        }
      }
    },
    "S1c": {
      "type": "structure",
      "required": [
        "end",
        "start"
      ],
      "members": {
        "end": {
          "type": "long"
        },
        "start": {
          "type": "long"
        }
      }
    },
    "S1i": {
      "type": "list",
      "member": {}
    },
    "S1l": {
      "type": "structure",
      "members": {
        "unit": {},
        "value": {
          "type": "long"
        }
      }
    },
    "S1o": {
      "type": "list",
      "member": {}
    },
    "S1q": {
      "type": "structure",
      "members": {
        "idle": {
          "shape": "S1l"
        },
        "perRequest": {
          "shape": "S1l"
        }
      }
    },
    "S1r": {
      "type": "structure",
      "required": [
        "action",
        "match"
      ],
      "members": {
        "action": {
          "type": "structure",
          "required": [
            "weightedTargets"
          ],
          "members": {
            "weightedTargets": {
              "shape": "S13"
            }
          }
        },
        "match": {
          "type": "structure",
          "required": [
            "prefix"
          ],
          "members": {
            "headers": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "name"
                ],
                "members": {
                  "invert": {
                    "type": "boolean"
                  },
                  "match": {
                    "type": "structure",
                    "members": {
                      "exact": {},
                      "prefix": {},
                      "range": {
                        "shape": "S1c"
                      },
                      "regex": {},
                      "suffix": {}
                    },
                    "union": true
                  },
                  "name": {}
                }
              }
            },
            "method": {},
            "prefix": {},
            "scheme": {}
          }
        },
        "retryPolicy": {
          "type": "structure",
          "required": [
            "maxRetries",
            "perRetryTimeout"
          ],
          "members": {
            "httpRetryEvents": {
              "shape": "S1i"
            },
            "maxRetries": {
              "type": "long"
            },
            "perRetryTimeout": {
              "shape": "S1l"
            },
            "tcpRetryEvents": {
              "shape": "S1o"
            }
          }
        },
        "timeout": {
          "shape": "S20"
        }
      }
    },
    "S20": {
      "type": "structure",
      "members": {
        "idle": {
          "shape": "S1l"
        },
        "perRequest": {
          "shape": "S1l"
        }
      }
    },
    "S24": {
      "type": "structure",
      "members": {
        "idle": {
          "shape": "S1l"
        }
      }
    },
    "S26": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "routeName",
        "spec",
        "status",
        "virtualRouterName"
      ],
      "members": {
        "meshName": {},
        "metadata": {
          "shape": "Sl"
        },
        "routeName": {},
        "spec": {
          "shape": "S10"
        },
        "status": {
          "type": "structure",
          "required": [
            "status"
          ],
          "members": {
            "status": {}
          }
        },
        "virtualRouterName": {}
      }
    },
    "S2a": {
      "type": "structure",
      "required": [
        "listeners"
      ],
      "members": {
        "backendDefaults": {
          "type": "structure",
          "members": {
            "clientPolicy": {
              "type": "structure",
              "members": {
                "tls": {
                  "type": "structure",
                  "required": [
                    "validation"
                  ],
                  "members": {
                    "enforce": {
                      "type": "boolean"
                    },
                    "ports": {
                      "shape": "S2e"
                    },
                    "validation": {
                      "type": "structure",
                      "required": [
                        "trust"
                      ],
                      "members": {
                        "trust": {
                          "type": "structure",
                          "members": {
                            "acm": {
                              "type": "structure",
                              "required": [
                                "certificateAuthorityArns"
                              ],
                              "members": {
                                "certificateAuthorityArns": {
                                  "type": "list",
                                  "member": {}
                                }
                              }
                            },
                            "file": {
                              "type": "structure",
                              "required": [
                                "certificateChain"
                              ],
                              "members": {
                                "certificateChain": {}
                              }
                            }
                          },
                          "union": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "listeners": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "portMapping"
            ],
            "members": {
              "connectionPool": {
                "type": "structure",
                "members": {
                  "grpc": {
                    "type": "structure",
                    "required": [
                      "maxRequests"
                    ],
                    "members": {
                      "maxRequests": {
                        "type": "integer"
                      }
                    }
                  },
                  "http": {
                    "type": "structure",
                    "required": [
                      "maxConnections"
                    ],
                    "members": {
                      "maxConnections": {
                        "type": "integer"
                      },
                      "maxPendingRequests": {
                        "type": "integer"
                      }
                    }
                  },
                  "http2": {
                    "type": "structure",
                    "required": [
                      "maxRequests"
                    ],
                    "members": {
                      "maxRequests": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "union": true
              },
              "healthCheck": {
                "type": "structure",
                "required": [
                  "healthyThreshold",
                  "intervalMillis",
                  "protocol",
                  "timeoutMillis",
                  "unhealthyThreshold"
                ],
                "members": {
                  "healthyThreshold": {
                    "type": "integer"
                  },
                  "intervalMillis": {
                    "type": "long"
                  },
                  "path": {},
                  "port": {
                    "type": "integer"
                  },
                  "protocol": {},
                  "timeoutMillis": {
                    "type": "long"
                  },
                  "unhealthyThreshold": {
                    "type": "integer"
                  }
                }
              },
              "portMapping": {
                "type": "structure",
                "required": [
                  "port",
                  "protocol"
                ],
                "members": {
                  "port": {
                    "type": "integer"
                  },
                  "protocol": {}
                }
              },
              "tls": {
                "type": "structure",
                "required": [
                  "certificate",
                  "mode"
                ],
                "members": {
                  "certificate": {
                    "type": "structure",
                    "members": {
                      "acm": {
                        "type": "structure",
                        "required": [
                          "certificateArn"
                        ],
                        "members": {
                          "certificateArn": {}
                        }
                      },
                      "file": {
                        "type": "structure",
                        "required": [
                          "certificateChain",
                          "privateKey"
                        ],
                        "members": {
                          "certificateChain": {},
                          "privateKey": {}
                        }
                      }
                    },
                    "union": true
                  },
                  "mode": {}
                }
              }
            }
          }
        },
        "logging": {
          "type": "structure",
          "members": {
            "accessLog": {
              "type": "structure",
              "members": {
                "file": {
                  "type": "structure",
                  "required": [
                    "path"
                  ],
                  "members": {
                    "path": {}
                  }
                }
              },
              "union": true
            }
          }
        }
      }
    },
    "S2e": {
      "type": "list",
      "member": {
        "type": "integer"
      }
    },
    "S3a": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualGatewayName"
      ],
      "members": {
        "meshName": {},
        "metadata": {
          "shape": "Sl"
        },
        "spec": {
          "shape": "S2a"
        },
        "status": {
          "type": "structure",
          "required": [
            "status"
          ],
          "members": {
            "status": {}
          }
        },
        "virtualGatewayName": {}
      }
    },
    "S3e": {
      "type": "structure",
      "members": {
        "backendDefaults": {
          "type": "structure",
          "members": {
            "clientPolicy": {
              "shape": "S3g"
            }
          }
        },
        "backends": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "virtualService": {
                "type": "structure",
                "required": [
                  "virtualServiceName"
                ],
                "members": {
                  "clientPolicy": {
                    "shape": "S3g"
                  },
                  "virtualServiceName": {}
                }
              }
            },
            "union": true
          }
        },
        "listeners": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "portMapping"
            ],
            "members": {
              "connectionPool": {
                "type": "structure",
                "members": {
                  "grpc": {
                    "type": "structure",
                    "required": [
                      "maxRequests"
                    ],
                    "members": {
                      "maxRequests": {
                        "type": "integer"
                      }
                    }
                  },
                  "http": {
                    "type": "structure",
                    "required": [
                      "maxConnections"
                    ],
                    "members": {
                      "maxConnections": {
                        "type": "integer"
                      },
                      "maxPendingRequests": {
                        "type": "integer"
                      }
                    }
                  },
                  "http2": {
                    "type": "structure",
                    "required": [
                      "maxRequests"
                    ],
                    "members": {
                      "maxRequests": {
                        "type": "integer"
                      }
                    }
                  },
                  "tcp": {
                    "type": "structure",
                    "required": [
                      "maxConnections"
                    ],
                    "members": {
                      "maxConnections": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "union": true
              },
              "healthCheck": {
                "type": "structure",
                "required": [
                  "healthyThreshold",
                  "intervalMillis",
                  "protocol",
                  "timeoutMillis",
                  "unhealthyThreshold"
                ],
                "members": {
                  "healthyThreshold": {
                    "type": "integer"
                  },
                  "intervalMillis": {
                    "type": "long"
                  },
                  "path": {},
                  "port": {
                    "type": "integer"
                  },
                  "protocol": {},
                  "timeoutMillis": {
                    "type": "long"
                  },
                  "unhealthyThreshold": {
                    "type": "integer"
                  }
                }
              },
              "outlierDetection": {
                "type": "structure",
                "required": [
                  "baseEjectionDuration",
                  "interval",
                  "maxEjectionPercent",
                  "maxServerErrors"
                ],
                "members": {
                  "baseEjectionDuration": {
                    "shape": "S1l"
                  },
                  "interval": {
                    "shape": "S1l"
                  },
                  "maxEjectionPercent": {
                    "type": "integer"
                  },
                  "maxServerErrors": {
                    "type": "long"
                  }
                }
              },
              "portMapping": {
                "shape": "S45"
              },
              "timeout": {
                "type": "structure",
                "members": {
                  "grpc": {
                    "shape": "S1q"
                  },
                  "http": {
                    "shape": "S20"
                  },
                  "http2": {
                    "shape": "S20"
                  },
                  "tcp": {
                    "shape": "S24"
                  }
                },
                "union": true
              },
              "tls": {
                "type": "structure",
                "required": [
                  "certificate",
                  "mode"
                ],
                "members": {
                  "certificate": {
                    "type": "structure",
                    "members": {
                      "acm": {
                        "type": "structure",
                        "required": [
                          "certificateArn"
                        ],
                        "members": {
                          "certificateArn": {}
                        }
                      },
                      "file": {
                        "type": "structure",
                        "required": [
                          "certificateChain",
                          "privateKey"
                        ],
                        "members": {
                          "certificateChain": {},
                          "privateKey": {}
                        }
                      }
                    },
                    "union": true
                  },
                  "mode": {}
                }
              }
            }
          }
        },
        "logging": {
          "type": "structure",
          "members": {
            "accessLog": {
              "type": "structure",
              "members": {
                "file": {
                  "type": "structure",
                  "required": [
                    "path"
                  ],
                  "members": {
                    "path": {}
                  }
                }
              },
              "union": true
            }
          }
        },
        "serviceDiscovery": {
          "type": "structure",
          "members": {
            "awsCloudMap": {
              "type": "structure",
              "required": [
                "namespaceName",
                "serviceName"
              ],
              "members": {
                "attributes": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "key",
                      "value"
                    ],
                    "members": {
                      "key": {},
                      "value": {}
                    }
                  }
                },
                "namespaceName": {},
                "serviceName": {}
              }
            },
            "dns": {
              "type": "structure",
              "required": [
                "hostname"
              ],
              "members": {
                "hostname": {}
              }
            }
          },
          "union": true
        }
      }
    },
    "S3g": {
      "type": "structure",
      "members": {
        "tls": {
          "type": "structure",
          "required": [
            "validation"
          ],
          "members": {
            "enforce": {
              "type": "boolean"
            },
            "ports": {
              "shape": "S2e"
            },
            "validation": {
              "type": "structure",
              "required": [
                "trust"
              ],
              "members": {
                "trust": {
                  "type": "structure",
                  "members": {
                    "acm": {
                      "type": "structure",
                      "required": [
                        "certificateAuthorityArns"
                      ],
                      "members": {
                        "certificateAuthorityArns": {
                          "type": "list",
                          "member": {}
                        }
                      }
                    },
                    "file": {
                      "type": "structure",
                      "required": [
                        "certificateChain"
                      ],
                      "members": {
                        "certificateChain": {}
                      }
                    }
                  },
                  "union": true
                }
              }
            }
          }
        }
      }
    },
    "S45": {
      "type": "structure",
      "required": [
        "port",
        "protocol"
      ],
      "members": {
        "port": {
          "type": "integer"
        },
        "protocol": {}
      }
    },
    "S4p": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualNodeName"
      ],
      "members": {
        "meshName": {},
        "metadata": {
          "shape": "Sl"
        },
        "spec": {
          "shape": "S3e"
        },
        "status": {
          "type": "structure",
          "required": [
            "status"
          ],
          "members": {
            "status": {}
          }
        },
        "virtualNodeName": {}
      }
    },
    "S4t": {
      "type": "structure",
      "members": {
        "listeners": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "portMapping"
            ],
            "members": {
              "portMapping": {
                "shape": "S45"
              }
            }
          }
        }
      }
    },
    "S4x": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualRouterName"
      ],
      "members": {
        "meshName": {},
        "metadata": {
          "shape": "Sl"
        },
        "spec": {
          "shape": "S4t"
        },
        "status": {
          "type": "structure",
          "required": [
            "status"
          ],
          "members": {
            "status": {}
          }
        },
        "virtualRouterName": {}
      }
    },
    "S51": {
      "type": "structure",
      "members": {
        "provider": {
          "type": "structure",
          "members": {
            "virtualNode": {
              "type": "structure",
              "required": [
                "virtualNodeName"
              ],
              "members": {
                "virtualNodeName": {}
              }
            },
            "virtualRouter": {
              "type": "structure",
              "required": [
                "virtualRouterName"
              ],
              "members": {
                "virtualRouterName": {}
              }
            }
          },
          "union": true
        }
      }
    },
    "S56": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualServiceName"
      ],
      "members": {
        "meshName": {},
        "metadata": {
          "shape": "Sl"
        },
        "spec": {
          "shape": "S51"
        },
        "status": {
          "type": "structure",
          "required": [
            "status"
          ],
          "members": {
            "status": {}
          }
        },
        "virtualServiceName": {}
      }
    }
  }
}