{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-01-25",
    "endpointPrefix": "appmesh",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS App Mesh",
    "serviceId": "App Mesh",
    "signatureVersion": "v4",
    "signingName": "appmesh",
    "uid": "appmesh-2019-01-25"
  },
  "documentation": "<p>AWS App Mesh is a service mesh based on the Envoy proxy that makes it easy to monitor and\n         control containerized microservices. App Mesh standardizes how your microservices\n         communicate, giving you end-to-end visibility and helping to ensure high-availability for\n         your applications.</p>\n         <p>App Mesh gives you consistent visibility and network traffic controls for every\n         microservice in an application. You can use App Mesh with Amazon ECS\n         (using the Amazon EC2 launch type), Amazon EKS, and Kubernetes on AWS.</p>\n         <note>\n            <p>App Mesh supports containerized microservice applications that use service discovery\n            naming for their components. To use App Mesh, you must have a containerized application\n            running on Amazon EC2 instances, hosted in either Amazon ECS, Amazon EKS, or Kubernetes on AWS. For\n            more information about service discovery on Amazon ECS, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html\">Service Discovery</a> in the\n               <i>Amazon Elastic Container Service Developer Guide</i>. Kubernetes <code>kube-dns</code> and\n               <code>coredns</code> are supported. For more information, see <a href=\"https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/\">DNS\n               for Services and Pods</a> in the Kubernetes documentation.</p>\n         </note>",
  "operations": {
    "CreateMesh": {
      "name": "CreateMesh",
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateMeshInput"
      },
      "output": {
        "shape": "CreateMeshOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Creates a new service mesh. A service mesh is a logical boundary for network traffic\n         between the services that reside within it.</p>\n         <p>After you create your service mesh, you can create virtual services, virtual nodes,\n         virtual routers, and routes to distribute traffic between the applications in your\n         mesh.</p>",
      "idempotent": true
    },
    "CreateRoute": {
      "name": "CreateRoute",
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateRouteInput"
      },
      "output": {
        "shape": "CreateRouteOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Creates a new route that is associated with a virtual router.</p>\n         <p>You can use the <code>prefix</code> parameter in your route specification for path-based\n         routing of requests. For example, if your virtual router service name is\n            <code>my-service.local</code>, and you want the route to match requests to\n            <code>my-service.local/metrics</code>, then your prefix should be\n         <code>/metrics</code>.</p>\n         <p>If your route matches a request, you can distribute traffic to one or more target\n         virtual nodes with relative weighting.</p>",
      "idempotent": true
    },
    "CreateVirtualNode": {
      "name": "CreateVirtualNode",
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateVirtualNodeInput"
      },
      "output": {
        "shape": "CreateVirtualNodeOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Creates a new virtual node within a service mesh.</p>\n         <p>A virtual node acts as logical pointer to a particular task group, such as an Amazon ECS\n         service or a Kubernetes deployment. When you create a virtual node, you must specify the\n         DNS service discovery hostname for your task group.</p>\n         <p>Any inbound traffic that your virtual node expects should be specified as a\n            <code>listener</code>. Any outbound traffic that your virtual node expects to reach\n         should be specified as a <code>backend</code>.</p>\n         <p>The response metadata for your new virtual node contains the <code>arn</code> that is\n         associated with the virtual node. Set this value (either the full ARN or the truncated\n         resource name, for example, <code>mesh/default/virtualNode/simpleapp</code>, as the\n            <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's Envoy\n         proxy container in your task definition or pod spec. This is then mapped to the\n            <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n         <note>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>",
      "idempotent": true
    },
    "CreateVirtualRouter": {
      "name": "CreateVirtualRouter",
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateVirtualRouterInput"
      },
      "output": {
        "shape": "CreateVirtualRouterOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Creates a new virtual router within a service mesh.</p>\n         <p>Any inbound traffic that your virtual router expects should be specified as a\n            <code>listener</code>. </p>\n         <p>Virtual routers handle traffic for one or more service names within your mesh. After you\n         create your virtual router, create and associate routes for your virtual router that direct\n         incoming requests to different virtual nodes.</p>",
      "idempotent": true
    },
    "CreateVirtualService": {
      "name": "CreateVirtualService",
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateVirtualServiceInput"
      },
      "output": {
        "shape": "CreateVirtualServiceOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Creates a virtual service within a service mesh.</p>\n         <p>A virtual service is an abstraction of a real service that is either provided by a\n         virtual node directly, or indirectly by means of a virtual router. Dependent services call\n         your virtual service by its <code>virtualServiceName</code>, and those requests are routed\n         to the virtual node or virtual router that is specified as the provider for the virtual\n         service.</p>",
      "idempotent": true
    },
    "DeleteMesh": {
      "name": "DeleteMesh",
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteMeshInput"
      },
      "output": {
        "shape": "DeleteMeshOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Deletes an existing service mesh.</p>\n         <p>You must delete all resources (virtual services, routes, virtual routers, virtual nodes)\n         in the service mesh before you can delete the mesh itself.</p>",
      "idempotent": true
    },
    "DeleteRoute": {
      "name": "DeleteRoute",
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteRouteInput"
      },
      "output": {
        "shape": "DeleteRouteOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Deletes an existing route.</p>",
      "idempotent": true
    },
    "DeleteVirtualNode": {
      "name": "DeleteVirtualNode",
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteVirtualNodeInput"
      },
      "output": {
        "shape": "DeleteVirtualNodeOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Deletes an existing virtual node.</p>\n         <p>You must delete any virtual services that list a virtual node as a service provider\n         before you can delete the virtual node itself.</p>",
      "idempotent": true
    },
    "DeleteVirtualRouter": {
      "name": "DeleteVirtualRouter",
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteVirtualRouterInput"
      },
      "output": {
        "shape": "DeleteVirtualRouterOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Deletes an existing virtual router.</p>\n         <p>You must delete any routes associated with the virtual router before you can delete the\n         router itself.</p>",
      "idempotent": true
    },
    "DeleteVirtualService": {
      "name": "DeleteVirtualService",
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteVirtualServiceInput"
      },
      "output": {
        "shape": "DeleteVirtualServiceOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Deletes an existing virtual service.</p>",
      "idempotent": true
    },
    "DescribeMesh": {
      "name": "DescribeMesh",
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMeshInput"
      },
      "output": {
        "shape": "DescribeMeshOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Describes an existing service mesh.</p>"
    },
    "DescribeRoute": {
      "name": "DescribeRoute",
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeRouteInput"
      },
      "output": {
        "shape": "DescribeRouteOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Describes an existing route.</p>"
    },
    "DescribeVirtualNode": {
      "name": "DescribeVirtualNode",
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVirtualNodeInput"
      },
      "output": {
        "shape": "DescribeVirtualNodeOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Describes an existing virtual node.</p>"
    },
    "DescribeVirtualRouter": {
      "name": "DescribeVirtualRouter",
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVirtualRouterInput"
      },
      "output": {
        "shape": "DescribeVirtualRouterOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Describes an existing virtual router.</p>"
    },
    "DescribeVirtualService": {
      "name": "DescribeVirtualService",
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVirtualServiceInput"
      },
      "output": {
        "shape": "DescribeVirtualServiceOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Describes an existing virtual service.</p>"
    },
    "ListMeshes": {
      "name": "ListMeshes",
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMeshesInput"
      },
      "output": {
        "shape": "ListMeshesOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Returns a list of existing service meshes.</p>"
    },
    "ListRoutes": {
      "name": "ListRoutes",
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRoutesInput"
      },
      "output": {
        "shape": "ListRoutesOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Returns a list of existing routes in a service mesh.</p>"
    },
    "ListVirtualNodes": {
      "name": "ListVirtualNodes",
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVirtualNodesInput"
      },
      "output": {
        "shape": "ListVirtualNodesOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Returns a list of existing virtual nodes.</p>"
    },
    "ListVirtualRouters": {
      "name": "ListVirtualRouters",
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVirtualRoutersInput"
      },
      "output": {
        "shape": "ListVirtualRoutersOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Returns a list of existing virtual routers in a service mesh.</p>"
    },
    "ListVirtualServices": {
      "name": "ListVirtualServices",
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVirtualServicesInput"
      },
      "output": {
        "shape": "ListVirtualServicesOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Returns a list of existing virtual services in a service mesh.</p>"
    },
    "UpdateRoute": {
      "name": "UpdateRoute",
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRouteInput"
      },
      "output": {
        "shape": "UpdateRouteOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Updates an existing route for a specified service mesh and virtual router.</p>",
      "idempotent": true
    },
    "UpdateVirtualNode": {
      "name": "UpdateVirtualNode",
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateVirtualNodeInput"
      },
      "output": {
        "shape": "UpdateVirtualNodeOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Updates an existing virtual node in a specified service mesh.</p>",
      "idempotent": true
    },
    "UpdateVirtualRouter": {
      "name": "UpdateVirtualRouter",
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateVirtualRouterInput"
      },
      "output": {
        "shape": "UpdateVirtualRouterOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Updates an existing virtual router in a specified service mesh.</p>",
      "idempotent": true
    },
    "UpdateVirtualService": {
      "name": "UpdateVirtualService",
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateVirtualServiceInput"
      },
      "output": {
        "shape": "UpdateVirtualServiceOutput"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "documentation": "<p>Updates an existing virtual service in a specified service mesh.</p>",
      "idempotent": true
    }
  },
  "shapes": {
    "VirtualRouterListener": {
      "type": "structure",
      "required": [
        "portMapping"
      ],
      "members": {
        "portMapping": {
          "shape": "PortMapping"
        }
      },
      "documentation": "<p>An object representing a virtual router listener.</p>"
    },
    "UpdateVirtualNodeInput": {
      "type": "structure",
      "required": [
        "meshName",
        "spec",
        "virtualNodeName"
      ],
      "members": {
        "clientToken": {
          "shape": "String",
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the virtual node resides in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "spec": {
          "shape": "VirtualNodeSpec",
          "documentation": "<p>The new virtual node specification to apply. This overwrites the existing data.</p>"
        },
        "virtualNodeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual node to update.</p>",
          "location": "uri",
          "locationName": "virtualNodeName"
        }
      },
      "documentation": ""
    },
    "DeleteMeshInput": {
      "type": "structure",
      "required": [
        "meshName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh to delete.</p>",
          "location": "uri",
          "locationName": "meshName"
        }
      },
      "documentation": ""
    },
    "CreateVirtualServiceInput": {
      "type": "structure",
      "required": [
        "meshName",
        "spec",
        "virtualServiceName"
      ],
      "members": {
        "clientToken": {
          "shape": "String",
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh in which to create the virtual service.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "spec": {
          "shape": "VirtualServiceSpec",
          "documentation": "<p>The virtual service specification to apply.</p>"
        },
        "virtualServiceName": {
          "shape": "ServiceName",
          "documentation": "<p>The name to use for the virtual service.</p>"
        }
      },
      "documentation": ""
    },
    "VirtualRouterStatusCode": {
      "type": "string",
      "enum": [
        "ACTIVE",
        "DELETED",
        "INACTIVE"
      ]
    },
    "UpdateVirtualRouterInput": {
      "type": "structure",
      "required": [
        "meshName",
        "spec",
        "virtualRouterName"
      ],
      "members": {
        "clientToken": {
          "shape": "String",
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the virtual router resides in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "spec": {
          "shape": "VirtualRouterSpec",
          "documentation": "<p>The new virtual router specification to apply. This overwrites the existing data.</p>"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual router to update.</p>",
          "location": "uri",
          "locationName": "virtualRouterName"
        }
      },
      "documentation": ""
    },
    "CreateVirtualNodeOutput": {
      "type": "structure",
      "required": [
        "virtualNode"
      ],
      "members": {
        "virtualNode": {
          "shape": "VirtualNodeData",
          "documentation": "<p>The full description of your virtual node following the create call.</p>"
        }
      },
      "documentation": "",
      "payload": "virtualNode"
    },
    "Long": {
      "type": "long",
      "box": true
    },
    "UpdateVirtualRouterOutput": {
      "type": "structure",
      "required": [
        "virtualRouter"
      ],
      "members": {
        "virtualRouter": {
          "shape": "VirtualRouterData",
          "documentation": "<p>A full description of the virtual router that was updated.</p>"
        }
      },
      "documentation": "",
      "payload": "virtualRouter"
    },
    "DescribeMeshOutput": {
      "type": "structure",
      "required": [
        "mesh"
      ],
      "members": {
        "mesh": {
          "shape": "MeshData",
          "documentation": "<p>The full description of your service mesh.</p>"
        }
      },
      "documentation": "",
      "payload": "mesh"
    },
    "DeleteVirtualRouterInput": {
      "type": "structure",
      "required": [
        "meshName",
        "virtualRouterName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh to delete the virtual router in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual router to delete.</p>",
          "location": "uri",
          "locationName": "virtualRouterName"
        }
      },
      "documentation": ""
    },
    "ListVirtualRoutersOutput": {
      "type": "structure",
      "required": [
        "virtualRouters"
      ],
      "members": {
        "nextToken": {
          "shape": "String",
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListVirtualRouters</code>\n         request. When the results of a <code>ListVirtualRouters</code> request exceed\n         <code>limit</code>, you can use this value to retrieve the next page of\n         results. This value is <code>null</code> when there are no more results to\n         return.</p>"
        },
        "virtualRouters": {
          "shape": "VirtualRouterList",
          "documentation": "<p>The list of existing virtual routers for the specified service mesh.</p>"
        }
      },
      "documentation": ""
    },
    "DescribeRouteInput": {
      "type": "structure",
      "required": [
        "meshName",
        "routeName",
        "virtualRouterName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the route resides in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "routeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the route to describe.</p>",
          "location": "uri",
          "locationName": "routeName"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual router that the route is associated with.</p>",
          "location": "uri",
          "locationName": "virtualRouterName"
        }
      },
      "documentation": ""
    },
    "DeleteRouteOutput": {
      "type": "structure",
      "required": [
        "route"
      ],
      "members": {
        "route": {
          "shape": "RouteData",
          "documentation": "<p>The route that was deleted.</p>"
        }
      },
      "documentation": "",
      "payload": "route"
    },
    "ResourceMetadata": {
      "type": "structure",
      "required": [
        "arn",
        "createdAt",
        "lastUpdatedAt",
        "uid",
        "version"
      ],
      "members": {
        "arn": {
          "shape": "Arn",
          "documentation": "<p>The full Amazon Resource Name (ARN) for the resource.</p>\n         <note>\n            <p>After you create a virtual node, set this value (either the full ARN or the\n            truncated resource name, for example, <code>mesh/default/virtualNode/simpleapp</code>,\n            as the <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's\n            Envoy proxy container in your task definition or pod spec. This is then mapped to the\n               <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>"
        },
        "createdAt": {
          "shape": "Timestamp",
          "documentation": "<p>The Unix epoch timestamp in seconds for when the resource was created.</p>"
        },
        "lastUpdatedAt": {
          "shape": "Timestamp",
          "documentation": "<p>The Unix epoch timestamp in seconds for when the resource was last updated.</p>"
        },
        "uid": {
          "shape": "String",
          "documentation": "<p>The unique identifier for the resource.</p>"
        },
        "version": {
          "shape": "Long",
          "documentation": "<p>The version of the resource. Resources are created at version 1, and this version is\n         incremented each time that they're updated.</p>"
        }
      },
      "documentation": "<p>An object representing metadata for a resource.</p>"
    },
    "Listeners": {
      "type": "list",
      "member": {
        "shape": "Listener"
      }
    },
    "Backends": {
      "type": "list",
      "member": {
        "shape": "Backend"
      }
    },
    "PortProtocol": {
      "type": "string",
      "enum": [
        "http",
        "tcp"
      ]
    },
    "UpdateVirtualNodeOutput": {
      "type": "structure",
      "required": [
        "virtualNode"
      ],
      "members": {
        "virtualNode": {
          "shape": "VirtualNodeData",
          "documentation": "<p>A full description of the virtual node that was updated.</p>"
        }
      },
      "documentation": "",
      "payload": "virtualNode"
    },
    "ListRoutesOutput": {
      "type": "structure",
      "required": [
        "routes"
      ],
      "members": {
        "nextToken": {
          "shape": "String",
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListRoutes</code>\n         request. When the results of a <code>ListRoutes</code> request exceed\n         <code>limit</code>, you can use this value to retrieve the next page of\n         results. This value is <code>null</code> when there are no more results to\n         return.</p>"
        },
        "routes": {
          "shape": "RouteList",
          "documentation": "<p>The list of existing routes for the specified service mesh and virtual router.</p>"
        }
      },
      "documentation": ""
    },
    "VirtualServiceBackend": {
      "type": "structure",
      "required": [
        "virtualServiceName"
      ],
      "members": {
        "virtualServiceName": {
          "shape": "ServiceName",
          "documentation": "<p>The name of the virtual service that is acting as a virtual node backend.</p>"
        }
      },
      "documentation": "<p>An object representing a virtual service backend for a virtual node.</p>"
    },
    "VirtualNodeStatusCode": {
      "type": "string",
      "enum": [
        "ACTIVE",
        "DELETED",
        "INACTIVE"
      ]
    },
    "ServiceName": {
      "type": "string"
    },
    "UpdateVirtualServiceInput": {
      "type": "structure",
      "required": [
        "meshName",
        "spec",
        "virtualServiceName"
      ],
      "members": {
        "clientToken": {
          "shape": "String",
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the virtual service resides in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "spec": {
          "shape": "VirtualServiceSpec",
          "documentation": "<p>The new virtual service specification to apply. This overwrites the existing\n         data.</p>"
        },
        "virtualServiceName": {
          "shape": "ServiceName",
          "documentation": "<p>The name of the virtual service to update.</p>",
          "location": "uri",
          "locationName": "virtualServiceName"
        }
      },
      "documentation": ""
    },
    "HealthCheckThreshold": {
      "type": "integer",
      "min": 2,
      "max": 10
    },
    "UpdateRouteOutput": {
      "type": "structure",
      "required": [
        "route"
      ],
      "members": {
        "route": {
          "shape": "RouteData",
          "documentation": "<p>A full description of the route that was updated.</p>"
        }
      },
      "documentation": "",
      "payload": "route"
    },
    "PercentInt": {
      "type": "integer",
      "min": 0,
      "max": 100
    },
    "HttpRouteAction": {
      "type": "structure",
      "required": [
        "weightedTargets"
      ],
      "members": {
        "weightedTargets": {
          "shape": "WeightedTargets",
          "documentation": "<p>The targets that traffic is routed to when a request matches the route. You can specify\n         one or more targets and their relative weights to distribute traffic with.</p>"
        }
      },
      "documentation": "<p>An object representing the traffic distribution requirements for matched HTTP\n         requests.</p>"
    },
    "ListRoutesInput": {
      "type": "structure",
      "required": [
        "meshName",
        "virtualRouterName"
      ],
      "members": {
        "limit": {
          "shape": "ListRoutesLimit",
          "documentation": "<p>The maximum number of results returned by <code>ListRoutes</code> in paginated output.\n         When you use this parameter, <code>ListRoutes</code> returns only <code>limit</code>\n         results in a single page along with a <code>nextToken</code> response element. You can see the\n         remaining results of the initial request by sending another\n            <code>ListRoutes</code> request with the returned <code>nextToken</code> value. This\n         value can be between 1 and 100. If you don't use this parameter,\n         <code>ListRoutes</code> returns up to 100 results and a\n            <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit"
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh in which to list routes.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "nextToken": {
          "shape": "String",
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n         <code>ListRoutes</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "nextToken"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual router to list routes in.</p>",
          "location": "uri",
          "locationName": "virtualRouterName"
        }
      },
      "documentation": ""
    },
    "HealthCheckPolicy": {
      "type": "structure",
      "required": [
        "healthyThreshold",
        "intervalMillis",
        "protocol",
        "timeoutMillis",
        "unhealthyThreshold"
      ],
      "members": {
        "healthyThreshold": {
          "shape": "HealthCheckThreshold",
          "documentation": "<p>The number of consecutive successful health checks that must occur before declaring\n         listener healthy.</p>"
        },
        "intervalMillis": {
          "shape": "HealthCheckIntervalMillis",
          "documentation": "<p>The time period in milliseconds between each health check execution.</p>"
        },
        "path": {
          "shape": "String",
          "documentation": "<p>The destination path for the health check request. This is required only if the\n         specified protocol is HTTP. If the protocol is TCP, this parameter is ignored.</p>"
        },
        "port": {
          "shape": "PortNumber",
          "documentation": "<p>The destination port for the health check request. This port must match the port defined\n         in the <a>PortMapping</a> for the listener.</p>"
        },
        "protocol": {
          "shape": "PortProtocol",
          "documentation": "<p>The protocol for the health check request.</p>"
        },
        "timeoutMillis": {
          "shape": "HealthCheckTimeoutMillis",
          "documentation": "<p>The amount of time to wait when receiving a response from the health check, in\n         milliseconds.</p>"
        },
        "unhealthyThreshold": {
          "shape": "HealthCheckThreshold",
          "documentation": "<p>The number of consecutive failed health checks that must occur before declaring a\n         virtual node unhealthy. </p>"
        }
      },
      "documentation": "<p>An object representing the health check policy for a virtual node's listener.</p>"
    },
    "VirtualServiceRef": {
      "type": "structure",
      "required": [
        "arn",
        "meshName",
        "virtualServiceName"
      ],
      "members": {
        "arn": {
          "shape": "Arn",
          "documentation": "<p>The full Amazon Resource Name (ARN) for the virtual service.</p>"
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the virtual service resides in.</p>"
        },
        "virtualServiceName": {
          "shape": "ServiceName",
          "documentation": "<p>The name of the virtual service.</p>"
        }
      },
      "documentation": "<p>An object representing a virtual service returned by a list operation.</p>"
    },
    "VirtualServiceList": {
      "type": "list",
      "member": {
        "shape": "VirtualServiceRef"
      }
    },
    "VirtualNodeStatus": {
      "type": "structure",
      "required": [
        "status"
      ],
      "members": {
        "status": {
          "shape": "VirtualNodeStatusCode",
          "documentation": "<p>The current status of the virtual node.</p>"
        }
      },
      "documentation": "<p>An object representing the current status of the virtual node.</p>"
    },
    "VirtualRouterRef": {
      "type": "structure",
      "required": [
        "arn",
        "meshName",
        "virtualRouterName"
      ],
      "members": {
        "arn": {
          "shape": "Arn",
          "documentation": "<p>The full Amazon Resource Name (ARN) for the virtual router.</p>"
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the virtual router resides in.</p>"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual router.</p>"
        }
      },
      "documentation": "<p>An object representing a virtual router returned by a list operation.</p>"
    },
    "VirtualServiceData": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualServiceName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the virtual service resides in.</p>"
        },
        "metadata": {
          "shape": "ResourceMetadata"
        },
        "spec": {
          "shape": "VirtualServiceSpec",
          "documentation": "<p>The specifications of the virtual service.</p>"
        },
        "status": {
          "shape": "VirtualServiceStatus",
          "documentation": "<p>The current status of the virtual service.</p>"
        },
        "virtualServiceName": {
          "shape": "ServiceName",
          "documentation": "<p>The name of the virtual service.</p>"
        }
      },
      "documentation": "<p>An object representing a virtual service returned by a describe operation.</p>"
    },
    "DescribeVirtualServiceOutput": {
      "type": "structure",
      "required": [
        "virtualService"
      ],
      "members": {
        "virtualService": {
          "shape": "VirtualServiceData",
          "documentation": "<p>The full description of your virtual service.</p>"
        }
      },
      "documentation": "",
      "payload": "virtualService"
    },
    "VirtualNodeRef": {
      "type": "structure",
      "required": [
        "arn",
        "meshName",
        "virtualNodeName"
      ],
      "members": {
        "arn": {
          "shape": "Arn",
          "documentation": "<p>The full Amazon Resource Name (ARN) for the virtual node.</p>"
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the virtual node resides in.</p>"
        },
        "virtualNodeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual node.</p>"
        }
      },
      "documentation": "<p>An object representing a virtual node returned by a list operation.</p>"
    },
    "CreateMeshInput": {
      "type": "structure",
      "required": [
        "meshName"
      ],
      "members": {
        "clientToken": {
          "shape": "String",
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name to use for the service mesh.</p>"
        }
      },
      "documentation": ""
    },
    "DescribeVirtualNodeOutput": {
      "type": "structure",
      "required": [
        "virtualNode"
      ],
      "members": {
        "virtualNode": {
          "shape": "VirtualNodeData",
          "documentation": "<p>The full description of your virtual node.</p>"
        }
      },
      "documentation": "",
      "payload": "virtualNode"
    },
    "CreateRouteOutput": {
      "type": "structure",
      "required": [
        "route"
      ],
      "members": {
        "route": {
          "shape": "RouteData",
          "documentation": "<p>The full description of your mesh following the create call.</p>"
        }
      },
      "documentation": "",
      "payload": "route"
    },
    "DnsServiceDiscovery": {
      "type": "structure",
      "required": [
        "hostname"
      ],
      "members": {
        "hostname": {
          "shape": "Hostname",
          "documentation": "<p>Specifies the DNS service discovery hostname for the virtual node. </p>"
        }
      },
      "documentation": "<p>An object representing the DNS service discovery information for your virtual\n         node.</p>"
    },
    "DescribeVirtualServiceInput": {
      "type": "structure",
      "required": [
        "meshName",
        "virtualServiceName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the virtual service resides in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "virtualServiceName": {
          "shape": "ServiceName",
          "documentation": "<p>The name of the virtual service to describe.</p>",
          "location": "uri",
          "locationName": "virtualServiceName"
        }
      },
      "documentation": ""
    },
    "ListVirtualServicesLimit": {
      "type": "integer",
      "box": true,
      "min": 1,
      "max": 100
    },
    "DeleteRouteInput": {
      "type": "structure",
      "required": [
        "meshName",
        "routeName",
        "virtualRouterName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh to delete the route in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "routeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the route to delete.</p>",
          "location": "uri",
          "locationName": "routeName"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual router to delete the route in.</p>",
          "location": "uri",
          "locationName": "virtualRouterName"
        }
      },
      "documentation": ""
    },
    "VirtualNodeData": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualNodeName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the virtual node resides in.</p>"
        },
        "metadata": {
          "shape": "ResourceMetadata",
          "documentation": "<p>The associated metadata for the virtual node.</p>"
        },
        "spec": {
          "shape": "VirtualNodeSpec",
          "documentation": "<p>The specifications of the virtual node.</p>"
        },
        "status": {
          "shape": "VirtualNodeStatus",
          "documentation": "<p>The current status for the virtual node.</p>"
        },
        "virtualNodeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual node.</p>"
        }
      },
      "documentation": "<p>An object representing a virtual node returned by a describe operation.</p>"
    },
    "VirtualServiceSpec": {
      "type": "structure",
      "members": {
        "provider": {
          "shape": "VirtualServiceProvider",
          "documentation": "<p>The App Mesh object that is acting as the provider for a virtual service. You can specify\n         a single virtual node or virtual router.</p>"
        }
      },
      "documentation": "<p>An object representing the specification of a virtual service.</p>"
    },
    "Backend": {
      "type": "structure",
      "members": {
        "virtualService": {
          "shape": "VirtualServiceBackend",
          "documentation": "<p>Specifies a virtual service to use as a backend for a virtual node. </p>"
        }
      },
      "documentation": "<p>An object representing the backends that a virtual node is expected to send outbound\n         traffic to. </p>"
    },
    "ListVirtualRoutersLimit": {
      "type": "integer",
      "box": true,
      "min": 1,
      "max": 100
    },
    "HealthCheckIntervalMillis": {
      "type": "long",
      "box": true,
      "min": 5000,
      "max": 300000
    },
    "VirtualRouterList": {
      "type": "list",
      "member": {
        "shape": "VirtualRouterRef"
      }
    },
    "ListMeshesInput": {
      "type": "structure",
      "members": {
        "limit": {
          "shape": "ListMeshesLimit",
          "documentation": "<p>The maximum number of results returned by <code>ListMeshes</code> in paginated output.\n         When you use this parameter, <code>ListMeshes</code> returns only <code>limit</code>\n         results in a single page along with a <code>nextToken</code> response element. You can see the\n         remaining results of the initial request by sending another\n            <code>ListMeshes</code> request with the returned <code>nextToken</code> value. This\n         value can be between 1 and 100. If you don't use this parameter,\n         <code>ListMeshes</code> returns up to 100 results and a\n            <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit"
        },
        "nextToken": {
          "shape": "String",
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n         <code>ListMeshes</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>\n         <note>\n            <p>This token should be treated as an opaque identifier that is only used to\n                retrieve the next items in a list and not for other programmatic purposes.</p>\n        </note>",
          "location": "querystring",
          "locationName": "nextToken"
        }
      },
      "documentation": ""
    },
    "Arn": {
      "type": "string"
    },
    "VirtualNodeList": {
      "type": "list",
      "member": {
        "shape": "VirtualNodeRef"
      }
    },
    "ListVirtualRoutersInput": {
      "type": "structure",
      "required": [
        "meshName"
      ],
      "members": {
        "limit": {
          "shape": "ListVirtualRoutersLimit",
          "documentation": "<p>The maximum number of results returned by <code>ListVirtualRouters</code> in paginated\n         output. When you use this parameter, <code>ListVirtualRouters</code> returns only\n            <code>limit</code> results in a single page along with a <code>nextToken</code> response\n         element. You can see the remaining results of the initial request  by sending another\n            <code>ListVirtualRouters</code> request with the returned <code>nextToken</code> value.\n         This value can be between 1 and 100. If you don't use this parameter, \n         <code>ListVirtualRouters</code> returns up to 100 results and\n         a <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit"
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh to list virtual routers in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "nextToken": {
          "shape": "String",
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n         <code>ListVirtualRouters</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "nextToken"
        }
      },
      "documentation": ""
    },
    "VirtualRouterData": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualRouterName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the virtual router resides in.</p>"
        },
        "metadata": {
          "shape": "ResourceMetadata",
          "documentation": "<p>The associated metadata for the virtual router.</p>"
        },
        "spec": {
          "shape": "VirtualRouterSpec",
          "documentation": "<p>The specifications of the virtual router.</p>"
        },
        "status": {
          "shape": "VirtualRouterStatus",
          "documentation": "<p>The current status of the virtual router.</p>"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual router.</p>"
        }
      },
      "documentation": "<p>An object representing a virtual router returned by a describe operation.</p>"
    },
    "ListVirtualServicesInput": {
      "type": "structure",
      "required": [
        "meshName"
      ],
      "members": {
        "limit": {
          "shape": "ListVirtualServicesLimit",
          "documentation": "<p>The maximum number of results returned by <code>ListVirtualServices</code> in paginated\n         output. When you use this parameter, <code>ListVirtualServices</code> returns only\n            <code>limit</code> results in a single page along with a <code>nextToken</code> response\n         element. You can see the remaining results of the initial request by sending another\n            <code>ListVirtualServices</code> request with the returned <code>nextToken</code> value.\n         This value can be between 1 and 100. If you don't use this parameter,\n         <code>ListVirtualServices</code> returns up to 100 results and\n         a <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit"
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh to list virtual services in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "nextToken": {
          "shape": "String",
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n            <code>ListVirtualServices</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "nextToken"
        }
      },
      "documentation": ""
    },
    "CreateVirtualRouterInput": {
      "type": "structure",
      "required": [
        "meshName",
        "spec",
        "virtualRouterName"
      ],
      "members": {
        "clientToken": {
          "shape": "String",
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh to create the virtual router in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "spec": {
          "shape": "VirtualRouterSpec",
          "documentation": "<p>The virtual router specification to apply.</p>"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The name to use for the virtual router.</p>"
        }
      },
      "documentation": ""
    },
    "ListVirtualNodesInput": {
      "type": "structure",
      "required": [
        "meshName"
      ],
      "members": {
        "limit": {
          "shape": "ListVirtualNodesLimit",
          "documentation": "<p>The maximum number of results returned by <code>ListVirtualNodes</code> in paginated\n         output. When you use this parameter, <code>ListVirtualNodes</code> returns only\n            <code>limit</code> results in a single page along with a <code>nextToken</code> response\n         element. You can see the remaining results of the initial request by sending another\n            <code>ListVirtualNodes</code> request with the returned <code>nextToken</code> value.\n         This value can be between 1 and 100. If you don't use this parameter,\n         <code>ListVirtualNodes</code> returns up to 100 results and a\n            <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit"
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh to list virtual nodes in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "nextToken": {
          "shape": "String",
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n         <code>ListVirtualNodes</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "nextToken"
        }
      },
      "documentation": ""
    },
    "DescribeVirtualRouterOutput": {
      "type": "structure",
      "required": [
        "virtualRouter"
      ],
      "members": {
        "virtualRouter": {
          "shape": "VirtualRouterData",
          "documentation": "<p>The full description of your virtual router.</p>"
        }
      },
      "documentation": "",
      "payload": "virtualRouter"
    },
    "CreateMeshOutput": {
      "type": "structure",
      "required": [
        "mesh"
      ],
      "members": {
        "mesh": {
          "shape": "MeshData",
          "documentation": "<p>The full description of your service mesh following the create call.</p>"
        }
      },
      "documentation": "",
      "payload": "mesh"
    },
    "CreateVirtualRouterOutput": {
      "type": "structure",
      "required": [
        "virtualRouter"
      ],
      "members": {
        "virtualRouter": {
          "shape": "VirtualRouterData",
          "documentation": "<p>The full description of your virtual router following the create call.</p>"
        }
      },
      "documentation": "",
      "payload": "virtualRouter"
    },
    "VirtualServiceStatus": {
      "type": "structure",
      "required": [
        "status"
      ],
      "members": {
        "status": {
          "shape": "VirtualServiceStatusCode",
          "documentation": "<p>The current status of the virtual service.</p>"
        }
      },
      "documentation": "<p>An object representing the status of a virtual service.</p>"
    },
    "ListVirtualNodesLimit": {
      "type": "integer",
      "box": true,
      "min": 1,
      "max": 100
    },
    "HealthCheckTimeoutMillis": {
      "type": "long",
      "box": true,
      "min": 2000,
      "max": 60000
    },
    "ListMeshesLimit": {
      "type": "integer",
      "box": true,
      "min": 1,
      "max": 100
    },
    "ResourceName": {
      "type": "string",
      "min": 1,
      "max": 255
    },
    "VirtualRouterSpec": {
      "type": "structure",
      "required": [
        "listeners"
      ],
      "members": {
        "listeners": {
          "shape": "VirtualRouterListeners",
          "documentation": "<p>The listeners that the virtual router is expected to receive inbound traffic from. Currently only one listener is supported per virtual router.</p>"
        }
      },
      "documentation": "<p>An object representing the specification of a virtual router.</p>"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "VirtualNodeSpec": {
      "type": "structure",
      "members": {
        "backends": {
          "shape": "Backends",
          "documentation": "<p>The backends that the virtual node is expected to send outbound traffic to.</p>"
        },
        "listeners": {
          "shape": "Listeners",
          "documentation": "<p>The listeners that the virtual node is expected to receive inbound traffic from. Currently only one listener is supported per virtual node.</p>"
        },
        "serviceDiscovery": {
          "shape": "ServiceDiscovery",
          "documentation": "<p>The service discovery information for the virtual node.</p>"
        }
      },
      "documentation": "<p>An object representing the specification of a virtual node.</p>"
    },
    "ListMeshesOutput": {
      "type": "structure",
      "required": [
        "meshes"
      ],
      "members": {
        "meshes": {
          "shape": "MeshList",
          "documentation": "<p>The list of existing service meshes.</p>"
        },
        "nextToken": {
          "shape": "String",
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListMeshes</code>\n         request. When the results of a <code>ListMeshes</code> request exceed\n         <code>limit</code>, you can use this value to retrieve the next page of\n         results. This value is <code>null</code> when there are no more results to\n         return.</p>"
        }
      },
      "documentation": ""
    },
    "VirtualRouterListeners": {
      "type": "list",
      "member": {
        "shape": "VirtualRouterListener"
      }
    },
    "DescribeRouteOutput": {
      "type": "structure",
      "required": [
        "route"
      ],
      "members": {
        "route": {
          "shape": "RouteData",
          "documentation": "<p>The full description of your route.</p>"
        }
      },
      "documentation": "",
      "payload": "route"
    },
    "HttpRouteMatch": {
      "type": "structure",
      "required": [
        "prefix"
      ],
      "members": {
        "prefix": {
          "shape": "String",
          "documentation": "<p>Specifies the path to match requests with. This parameter must always start with\n            <code>/</code>, which by itself matches all requests to the virtual router service name.\n         You can also match for path-based routing of requests. For example, if your virtual router\n         service name is <code>my-service.local</code> and you want the route to match requests to\n            <code>my-service.local/metrics</code>, your prefix should be\n         <code>/metrics</code>.</p>"
        }
      },
      "documentation": "<p>An object representing the requirements for a route to match HTTP requests for a virtual\n         router.</p>"
    },
    "MeshList": {
      "type": "list",
      "member": {
        "shape": "MeshRef"
      }
    },
    "MeshRef": {
      "type": "structure",
      "required": [
        "arn",
        "meshName"
      ],
      "members": {
        "arn": {
          "shape": "Arn",
          "documentation": "<p>The full Amazon Resource Name (ARN) of the service mesh.</p>"
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh.</p>"
        }
      },
      "documentation": "<p>An object representing a service mesh returned by a list operation.</p>"
    },
    "MeshStatusCode": {
      "type": "string",
      "enum": [
        "ACTIVE",
        "DELETED",
        "INACTIVE"
      ]
    },
    "PortMapping": {
      "type": "structure",
      "required": [
        "port",
        "protocol"
      ],
      "members": {
        "port": {
          "shape": "PortNumber",
          "documentation": "<p>The port used for the port mapping.</p>"
        },
        "protocol": {
          "shape": "PortProtocol",
          "documentation": "<p>The protocol used for the port mapping.</p>"
        }
      },
      "documentation": "<p>An object representing a virtual node or virtual router listener port mapping.</p>"
    },
    "MeshData": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "status"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh.</p>"
        },
        "metadata": {
          "shape": "ResourceMetadata",
          "documentation": "<p>The associated metadata for the service mesh.</p>"
        },
        "status": {
          "shape": "MeshStatus",
          "documentation": "<p>The status of the service mesh.</p>"
        }
      },
      "documentation": "<p>An object representing a service mesh returned by a describe operation.</p>"
    },
    "VirtualRouterStatus": {
      "type": "structure",
      "required": [
        "status"
      ],
      "members": {
        "status": {
          "shape": "VirtualRouterStatusCode",
          "documentation": "<p>The current status of the virtual router.</p>"
        }
      },
      "documentation": "<p>An object representing the status of a virtual router. </p>"
    },
    "ListVirtualServicesOutput": {
      "type": "structure",
      "required": [
        "virtualServices"
      ],
      "members": {
        "nextToken": {
          "shape": "String",
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListVirtualServices</code>\n         request. When the results of a <code>ListVirtualServices</code> request exceed\n            <code>limit</code>, you can use this value to retrieve the next page of results. This\n         value is <code>null</code> when there are no more results to return.</p>"
        },
        "virtualServices": {
          "shape": "VirtualServiceList",
          "documentation": "<p>The list of existing virtual services for the specified service mesh.</p>"
        }
      },
      "documentation": ""
    },
    "WeightedTarget": {
      "type": "structure",
      "required": [
        "virtualNode",
        "weight"
      ],
      "members": {
        "virtualNode": {
          "shape": "ResourceName",
          "documentation": "<p>The virtual node to associate with the weighted target.</p>"
        },
        "weight": {
          "shape": "PercentInt",
          "documentation": "<p>The relative weight of the weighted target.</p>"
        }
      },
      "documentation": "<p>An object representing a target and its relative weight. Traffic is distributed across\n         targets according to their relative weight. For example, a weighted target with a relative\n         weight of 50 receives five times as much traffic as one with a relative weight of\n         10.</p>"
    },
    "DescribeVirtualNodeInput": {
      "type": "structure",
      "required": [
        "meshName",
        "virtualNodeName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the virtual node resides in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "virtualNodeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual node to describe.</p>",
          "location": "uri",
          "locationName": "virtualNodeName"
        }
      },
      "documentation": ""
    },
    "RouteStatus": {
      "type": "structure",
      "required": [
        "status"
      ],
      "members": {
        "status": {
          "shape": "RouteStatusCode",
          "documentation": "<p>The current status for the route.</p>"
        }
      },
      "documentation": "<p>An object representing the current status of a route.</p>"
    },
    "RouteRef": {
      "type": "structure",
      "required": [
        "arn",
        "meshName",
        "routeName",
        "virtualRouterName"
      ],
      "members": {
        "arn": {
          "shape": "Arn",
          "documentation": "<p>The full Amazon Resource Name (ARN) for the route.</p>"
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the route resides in.</p>"
        },
        "routeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the route.</p>"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The virtual router that the route is associated with.</p>"
        }
      },
      "documentation": "<p>An object representing a route returned by a list operation.</p>"
    },
    "Listener": {
      "type": "structure",
      "required": [
        "portMapping"
      ],
      "members": {
        "healthCheck": {
          "shape": "HealthCheckPolicy",
          "documentation": "<p>The health check information for the listener.</p>"
        },
        "portMapping": {
          "shape": "PortMapping",
          "documentation": "<p>The port mapping information for the listener.</p>"
        }
      },
      "documentation": "<p>An object representing a listener for a virtual node.</p>"
    },
    "DeleteVirtualNodeInput": {
      "type": "structure",
      "required": [
        "meshName",
        "virtualNodeName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh to delete the virtual node in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "virtualNodeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual node to delete.</p>",
          "location": "uri",
          "locationName": "virtualNodeName"
        }
      },
      "documentation": ""
    },
    "RouteData": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "routeName",
        "spec",
        "status",
        "virtualRouterName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the route resides in.</p>"
        },
        "metadata": {
          "shape": "ResourceMetadata",
          "documentation": "<p>The associated metadata for the route.</p>"
        },
        "routeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the route.</p>"
        },
        "spec": {
          "shape": "RouteSpec",
          "documentation": "<p>The specifications of the route.</p>"
        },
        "status": {
          "shape": "RouteStatus",
          "documentation": "<p>The status of the route.</p>"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The virtual router that the route is associated with.</p>"
        }
      },
      "documentation": "<p>An object representing a route returned by a describe operation.</p>"
    },
    "RouteStatusCode": {
      "type": "string",
      "enum": [
        "ACTIVE",
        "DELETED",
        "INACTIVE"
      ]
    },
    "ListRoutesLimit": {
      "type": "integer",
      "box": true,
      "min": 1,
      "max": 100
    },
    "DeleteVirtualServiceOutput": {
      "type": "structure",
      "required": [
        "virtualService"
      ],
      "members": {
        "virtualService": {
          "shape": "VirtualServiceData",
          "documentation": "<p>The virtual service that was deleted.</p>"
        }
      },
      "documentation": "",
      "payload": "virtualService"
    },
    "VirtualNodeServiceProvider": {
      "type": "structure",
      "required": [
        "virtualNodeName"
      ],
      "members": {
        "virtualNodeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual node that is acting as a service provider.</p>"
        }
      },
      "documentation": "<p>An object representing a virtual node service provider.</p>"
    },
    "DescribeVirtualRouterInput": {
      "type": "structure",
      "required": [
        "meshName",
        "virtualRouterName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the virtual router resides in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual router to describe.</p>",
          "location": "uri",
          "locationName": "virtualRouterName"
        }
      },
      "documentation": ""
    },
    "RouteList": {
      "type": "list",
      "member": {
        "shape": "RouteRef"
      }
    },
    "DeleteMeshOutput": {
      "type": "structure",
      "required": [
        "mesh"
      ],
      "members": {
        "mesh": {
          "shape": "MeshData",
          "documentation": "<p>The service mesh that was deleted.</p>"
        }
      },
      "documentation": "",
      "payload": "mesh"
    },
    "Hostname": {
      "type": "string"
    },
    "PortNumber": {
      "type": "integer",
      "min": 1,
      "max": 65535
    },
    "CreateRouteInput": {
      "type": "structure",
      "required": [
        "meshName",
        "routeName",
        "spec",
        "virtualRouterName"
      ],
      "members": {
        "clientToken": {
          "shape": "String",
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh in which to create the route.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "routeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name to use for the route.</p>"
        },
        "spec": {
          "shape": "RouteSpec",
          "documentation": "<p>The route specification to apply.</p>"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual router in which to create the route.</p>",
          "location": "uri",
          "locationName": "virtualRouterName"
        }
      },
      "documentation": ""
    },
    "WeightedTargets": {
      "type": "list",
      "member": {
        "shape": "WeightedTarget"
      }
    },
    "VirtualServiceProvider": {
      "type": "structure",
      "members": {
        "virtualNode": {
          "shape": "VirtualNodeServiceProvider",
          "documentation": "<p>The virtual node associated with a virtual service.</p>"
        },
        "virtualRouter": {
          "shape": "VirtualRouterServiceProvider",
          "documentation": "<p>The virtual router associated with a virtual service.</p>"
        }
      },
      "documentation": "<p>An object representing the provider for a virtual service.</p>"
    },
    "String": {
      "type": "string"
    },
    "UpdateVirtualServiceOutput": {
      "type": "structure",
      "required": [
        "virtualService"
      ],
      "members": {
        "virtualService": {
          "shape": "VirtualServiceData",
          "documentation": "<p>A full description of the virtual service that was updated.</p>"
        }
      },
      "documentation": "",
      "payload": "virtualService"
    },
    "UpdateRouteInput": {
      "type": "structure",
      "required": [
        "meshName",
        "routeName",
        "spec",
        "virtualRouterName"
      ],
      "members": {
        "clientToken": {
          "shape": "String",
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh that the route resides in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "routeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the route to update.</p>",
          "location": "uri",
          "locationName": "routeName"
        },
        "spec": {
          "shape": "RouteSpec",
          "documentation": "<p>The new route specification to apply. This overwrites the existing data.</p>"
        },
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual router that the route is associated with.</p>",
          "location": "uri",
          "locationName": "virtualRouterName"
        }
      },
      "documentation": ""
    },
    "MeshStatus": {
      "type": "structure",
      "members": {
        "status": {
          "shape": "MeshStatusCode",
          "documentation": "<p>The current mesh status.</p>"
        }
      },
      "documentation": "<p>An object representing the status of a service mesh.</p>"
    },
    "CreateVirtualNodeInput": {
      "type": "structure",
      "required": [
        "meshName",
        "spec",
        "virtualNodeName"
      ],
      "members": {
        "clientToken": {
          "shape": "String",
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true
        },
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh in which to create the virtual node.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "spec": {
          "shape": "VirtualNodeSpec",
          "documentation": "<p>The virtual node specification to apply.</p>"
        },
        "virtualNodeName": {
          "shape": "ResourceName",
          "documentation": "<p>The name to use for the virtual node.</p>"
        }
      },
      "documentation": ""
    },
    "RouteSpec": {
      "type": "structure",
      "members": {
        "httpRoute": {
          "shape": "HttpRoute",
          "documentation": "<p>The HTTP routing information for the route.</p>"
        }
      },
      "documentation": "<p>An object representing the specification of a route.</p>"
    },
    "HttpRoute": {
      "type": "structure",
      "required": [
        "action",
        "match"
      ],
      "members": {
        "action": {
          "shape": "HttpRouteAction",
          "documentation": "<p>The action to take if a match is determined.</p>"
        },
        "match": {
          "shape": "HttpRouteMatch",
          "documentation": "<p>The criteria for determining an HTTP request match.</p>"
        }
      },
      "documentation": "<p>An object representing the HTTP routing specification for a route.</p>"
    },
    "DescribeMeshInput": {
      "type": "structure",
      "required": [
        "meshName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh to describe.</p>",
          "location": "uri",
          "locationName": "meshName"
        }
      },
      "documentation": ""
    },
    "CreateVirtualServiceOutput": {
      "type": "structure",
      "required": [
        "virtualService"
      ],
      "members": {
        "virtualService": {
          "shape": "VirtualServiceData",
          "documentation": "<p>The full description of your virtual service following the create call.</p>"
        }
      },
      "documentation": "",
      "payload": "virtualService"
    },
    "VirtualRouterServiceProvider": {
      "type": "structure",
      "required": [
        "virtualRouterName"
      ],
      "members": {
        "virtualRouterName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the virtual router that is acting as a service provider.</p>"
        }
      },
      "documentation": "<p>An object representing a virtual node service provider.</p>"
    },
    "DeleteVirtualServiceInput": {
      "type": "structure",
      "required": [
        "meshName",
        "virtualServiceName"
      ],
      "members": {
        "meshName": {
          "shape": "ResourceName",
          "documentation": "<p>The name of the service mesh to delete the virtual service in.</p>",
          "location": "uri",
          "locationName": "meshName"
        },
        "virtualServiceName": {
          "shape": "ServiceName",
          "documentation": "<p>The name of the virtual service to delete.</p>",
          "location": "uri",
          "locationName": "virtualServiceName"
        }
      },
      "documentation": ""
    },
    "ServiceDiscovery": {
      "type": "structure",
      "members": {
        "dns": {
          "shape": "DnsServiceDiscovery",
          "documentation": "<p>Specifies the DNS information for the virtual node.</p>"
        }
      },
      "documentation": "<p>An object representing the service discovery information for a virtual node.</p>"
    },
    "ListVirtualNodesOutput": {
      "type": "structure",
      "required": [
        "virtualNodes"
      ],
      "members": {
        "nextToken": {
          "shape": "String",
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListVirtualNodes</code>\n         request. When the results of a <code>ListVirtualNodes</code> request exceed\n         <code>limit</code>, you can use this value to retrieve the next page of\n         results. This value is <code>null</code> when there are no more results to\n         return.</p>"
        },
        "virtualNodes": {
          "shape": "VirtualNodeList",
          "documentation": "<p>The list of existing virtual nodes for the specified service mesh.</p>"
        }
      },
      "documentation": ""
    },
    "DeleteVirtualRouterOutput": {
      "type": "structure",
      "required": [
        "virtualRouter"
      ],
      "members": {
        "virtualRouter": {
          "shape": "VirtualRouterData",
          "documentation": "<p>The virtual router that was deleted.</p>"
        }
      },
      "documentation": "",
      "payload": "virtualRouter"
    },
    "VirtualServiceStatusCode": {
      "type": "string",
      "enum": [
        "ACTIVE",
        "DELETED",
        "INACTIVE"
      ]
    },
    "DeleteVirtualNodeOutput": {
      "type": "structure",
      "required": [
        "virtualNode"
      ],
      "members": {
        "virtualNode": {
          "shape": "VirtualNodeData",
          "documentation": "<p>The virtual node that was deleted.</p>"
        }
      },
      "documentation": "",
      "payload": "virtualNode"
    }
  }
}