{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-01-25",
    "endpointPrefix": "appmesh",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS App Mesh",
    "serviceId": "App Mesh",
    "signatureVersion": "v4",
    "signingName": "appmesh",
    "uid": "appmesh-2019-01-25"
  },
  "operations": {
    "CreateMesh": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {},
          "spec": {
            "shape": "S4"
          },
          "tags": {
            "shape": "S7",
            "tags": [
              "not-preview"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "mesh"
        ],
        "members": {
          "mesh": {
            "shape": "Sc"
          }
        },
        "payload": "mesh"
      },
      "idempotent": true
    },
    "CreateRoute": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "routeName",
          "spec",
          "virtualRouterName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "routeName": {},
          "spec": {
            "shape": "Sl"
          },
          "tags": {
            "shape": "S7",
            "tags": [
              "not-preview"
            ]
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "route"
        ],
        "members": {
          "route": {
            "shape": "S1s"
          }
        },
        "payload": "route"
      },
      "idempotent": true
    },
    "CreateVirtualNode": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualNodeName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S1w"
          },
          "tags": {
            "shape": "S7",
            "tags": [
              "not-preview"
            ]
          },
          "virtualNodeName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualNode"
        ],
        "members": {
          "virtualNode": {
            "shape": "S32"
          }
        },
        "payload": "virtualNode"
      },
      "idempotent": true
    },
    "CreateVirtualRouter": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualRouterName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S36"
          },
          "tags": {
            "shape": "S7",
            "tags": [
              "not-preview"
            ]
          },
          "virtualRouterName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualRouter"
        ],
        "members": {
          "virtualRouter": {
            "shape": "S3a"
          }
        },
        "payload": "virtualRouter"
      },
      "idempotent": true
    },
    "CreateVirtualService": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualServiceName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S3e"
          },
          "tags": {
            "shape": "S7",
            "tags": [
              "not-preview"
            ]
          },
          "virtualServiceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualService"
        ],
        "members": {
          "virtualService": {
            "shape": "S3j"
          }
        },
        "payload": "virtualService"
      },
      "idempotent": true
    },
    "DeleteMesh": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "mesh"
        ],
        "members": {
          "mesh": {
            "shape": "Sc"
          }
        },
        "payload": "mesh"
      },
      "idempotent": true
    },
    "DeleteRoute": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "routeName",
          "virtualRouterName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "routeName": {
            "location": "uri",
            "locationName": "routeName"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "route"
        ],
        "members": {
          "route": {
            "shape": "S1s"
          }
        },
        "payload": "route"
      },
      "idempotent": true
    },
    "DeleteVirtualNode": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualNodeName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualNodeName": {
            "location": "uri",
            "locationName": "virtualNodeName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualNode"
        ],
        "members": {
          "virtualNode": {
            "shape": "S32"
          }
        },
        "payload": "virtualNode"
      },
      "idempotent": true
    },
    "DeleteVirtualRouter": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualRouterName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualRouter"
        ],
        "members": {
          "virtualRouter": {
            "shape": "S3a"
          }
        },
        "payload": "virtualRouter"
      },
      "idempotent": true
    },
    "DeleteVirtualService": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualServiceName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualServiceName": {
            "location": "uri",
            "locationName": "virtualServiceName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualService"
        ],
        "members": {
          "virtualService": {
            "shape": "S3j"
          }
        },
        "payload": "virtualService"
      },
      "idempotent": true
    },
    "DescribeMesh": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "mesh"
        ],
        "members": {
          "mesh": {
            "shape": "Sc"
          }
        },
        "payload": "mesh"
      }
    },
    "DescribeRoute": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "routeName",
          "virtualRouterName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "routeName": {
            "location": "uri",
            "locationName": "routeName"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "route"
        ],
        "members": {
          "route": {
            "shape": "S1s"
          }
        },
        "payload": "route"
      }
    },
    "DescribeVirtualNode": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualNodeName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualNodeName": {
            "location": "uri",
            "locationName": "virtualNodeName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualNode"
        ],
        "members": {
          "virtualNode": {
            "shape": "S32"
          }
        },
        "payload": "virtualNode"
      }
    },
    "DescribeVirtualRouter": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualRouterName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualRouter"
        ],
        "members": {
          "virtualRouter": {
            "shape": "S3a"
          }
        },
        "payload": "virtualRouter"
      }
    },
    "DescribeVirtualService": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualServiceName"
        ],
        "members": {
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "virtualServiceName": {
            "location": "uri",
            "locationName": "virtualServiceName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualService"
        ],
        "members": {
          "virtualService": {
            "shape": "S3j"
          }
        },
        "payload": "virtualService"
      }
    },
    "ListMeshes": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "meshes"
        ],
        "members": {
          "meshes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastUpdatedAt",
                "meshName",
                "meshOwner",
                "resourceOwner",
                "version"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "meshName": {},
                "meshOwner": {},
                "resourceOwner": {},
                "version": {
                  "type": "long"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListRoutes": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "virtualRouterName"
        ],
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "routes"
        ],
        "members": {
          "nextToken": {},
          "routes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastUpdatedAt",
                "meshName",
                "meshOwner",
                "resourceOwner",
                "routeName",
                "version",
                "virtualRouterName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "meshName": {},
                "meshOwner": {},
                "resourceOwner": {},
                "routeName": {},
                "version": {
                  "type": "long"
                },
                "virtualRouterName": {}
              }
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/tags",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "resourceArn": {
            "location": "querystring",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "tags"
        ],
        "members": {
          "nextToken": {},
          "tags": {
            "shape": "S7"
          }
        }
      }
    },
    "ListVirtualNodes": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualNodes"
        ],
        "members": {
          "nextToken": {},
          "virtualNodes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastUpdatedAt",
                "meshName",
                "meshOwner",
                "resourceOwner",
                "version",
                "virtualNodeName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "meshName": {},
                "meshOwner": {},
                "resourceOwner": {},
                "version": {
                  "type": "long"
                },
                "virtualNodeName": {}
              }
            }
          }
        }
      }
    },
    "ListVirtualRouters": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualRouters"
        ],
        "members": {
          "nextToken": {},
          "virtualRouters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastUpdatedAt",
                "meshName",
                "meshOwner",
                "resourceOwner",
                "version",
                "virtualRouterName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "meshName": {},
                "meshOwner": {},
                "resourceOwner": {},
                "version": {
                  "type": "long"
                },
                "virtualRouterName": {}
              }
            }
          }
        }
      }
    },
    "ListVirtualServices": {
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "limit": {
            "location": "querystring",
            "locationName": "limit",
            "type": "integer"
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualServices"
        ],
        "members": {
          "nextToken": {},
          "virtualServices": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastUpdatedAt",
                "meshName",
                "meshOwner",
                "resourceOwner",
                "version",
                "virtualServiceName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "meshName": {},
                "meshOwner": {},
                "resourceOwner": {},
                "version": {
                  "type": "long"
                },
                "virtualServiceName": {}
              }
            }
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/tag",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "querystring",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UntagResource": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/untag",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "querystring",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdateMesh": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "spec": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "mesh"
        ],
        "members": {
          "mesh": {
            "shape": "Sc"
          }
        },
        "payload": "mesh"
      },
      "idempotent": true
    },
    "UpdateRoute": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "routeName",
          "spec",
          "virtualRouterName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "routeName": {
            "location": "uri",
            "locationName": "routeName"
          },
          "spec": {
            "shape": "Sl"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "route"
        ],
        "members": {
          "route": {
            "shape": "S1s"
          }
        },
        "payload": "route"
      },
      "idempotent": true
    },
    "UpdateVirtualNode": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualNodeName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S1w"
          },
          "virtualNodeName": {
            "location": "uri",
            "locationName": "virtualNodeName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualNode"
        ],
        "members": {
          "virtualNode": {
            "shape": "S32"
          }
        },
        "payload": "virtualNode"
      },
      "idempotent": true
    },
    "UpdateVirtualRouter": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualRouterName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S36"
          },
          "virtualRouterName": {
            "location": "uri",
            "locationName": "virtualRouterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualRouter"
        ],
        "members": {
          "virtualRouter": {
            "shape": "S3a"
          }
        },
        "payload": "virtualRouter"
      },
      "idempotent": true
    },
    "UpdateVirtualService": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "meshName",
          "spec",
          "virtualServiceName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "meshName": {
            "location": "uri",
            "locationName": "meshName"
          },
          "meshOwner": {
            "location": "querystring",
            "locationName": "meshOwner"
          },
          "spec": {
            "shape": "S3e"
          },
          "virtualServiceName": {
            "location": "uri",
            "locationName": "virtualServiceName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "virtualService"
        ],
        "members": {
          "virtualService": {
            "shape": "S3j"
          }
        },
        "payload": "virtualService"
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S4": {
      "type": "structure",
      "members": {
        "egressFilter": {
          "type": "structure",
          "required": [
            "type"
          ],
          "members": {
            "type": {}
          }
        }
      }
    },
    "S7": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "key"
        ],
        "members": {
          "key": {},
          "value": {}
        }
      }
    },
    "Sc": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "spec",
        "status"
      ],
      "members": {
        "meshName": {},
        "metadata": {
          "shape": "Sd"
        },
        "spec": {
          "shape": "S4"
        },
        "status": {
          "type": "structure",
          "members": {
            "status": {}
          }
        }
      }
    },
    "Sd": {
      "type": "structure",
      "required": [
        "arn",
        "createdAt",
        "lastUpdatedAt",
        "meshOwner",
        "resourceOwner",
        "uid",
        "version"
      ],
      "members": {
        "arn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "lastUpdatedAt": {
          "type": "timestamp"
        },
        "meshOwner": {},
        "resourceOwner": {},
        "uid": {},
        "version": {
          "type": "long"
        }
      }
    },
    "Sl": {
      "type": "structure",
      "members": {
        "grpcRoute": {
          "type": "structure",
          "required": [
            "action",
            "match"
          ],
          "members": {
            "action": {
              "type": "structure",
              "required": [
                "weightedTargets"
              ],
              "members": {
                "weightedTargets": {
                  "shape": "So"
                }
              }
            },
            "match": {
              "type": "structure",
              "members": {
                "metadata": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "name"
                    ],
                    "members": {
                      "invert": {
                        "type": "boolean"
                      },
                      "match": {
                        "type": "structure",
                        "members": {
                          "exact": {},
                          "prefix": {},
                          "range": {
                            "shape": "Sx"
                          },
                          "regex": {},
                          "suffix": {}
                        }
                      },
                      "name": {}
                    }
                  }
                },
                "methodName": {},
                "serviceName": {}
              }
            },
            "retryPolicy": {
              "type": "structure",
              "required": [
                "maxRetries",
                "perRetryTimeout"
              ],
              "members": {
                "grpcRetryEvents": {
                  "type": "list",
                  "member": {}
                },
                "httpRetryEvents": {
                  "shape": "S14"
                },
                "maxRetries": {
                  "type": "long"
                },
                "perRetryTimeout": {
                  "shape": "S17"
                },
                "tcpRetryEvents": {
                  "shape": "S1a"
                }
              }
            },
            "timeout": {
              "shape": "S1c"
            }
          }
        },
        "http2Route": {
          "shape": "S1d"
        },
        "httpRoute": {
          "shape": "S1d"
        },
        "priority": {
          "type": "integer"
        },
        "tcpRoute": {
          "type": "structure",
          "required": [
            "action"
          ],
          "members": {
            "action": {
              "type": "structure",
              "required": [
                "weightedTargets"
              ],
              "members": {
                "weightedTargets": {
                  "shape": "So"
                }
              }
            },
            "timeout": {
              "shape": "S1q"
            }
          }
        }
      }
    },
    "So": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "virtualNode",
          "weight"
        ],
        "members": {
          "virtualNode": {},
          "weight": {
            "type": "integer"
          }
        }
      }
    },
    "Sx": {
      "type": "structure",
      "required": [
        "end",
        "start"
      ],
      "members": {
        "end": {
          "type": "long"
        },
        "start": {
          "type": "long"
        }
      }
    },
    "S14": {
      "type": "list",
      "member": {}
    },
    "S17": {
      "type": "structure",
      "members": {
        "unit": {},
        "value": {
          "type": "long"
        }
      }
    },
    "S1a": {
      "type": "list",
      "member": {}
    },
    "S1c": {
      "type": "structure",
      "members": {
        "idle": {
          "shape": "S17"
        },
        "perRequest": {
          "shape": "S17"
        }
      }
    },
    "S1d": {
      "type": "structure",
      "required": [
        "action",
        "match"
      ],
      "members": {
        "action": {
          "type": "structure",
          "required": [
            "weightedTargets"
          ],
          "members": {
            "weightedTargets": {
              "shape": "So"
            }
          }
        },
        "match": {
          "type": "structure",
          "required": [
            "prefix"
          ],
          "members": {
            "headers": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "name"
                ],
                "members": {
                  "invert": {
                    "type": "boolean"
                  },
                  "match": {
                    "type": "structure",
                    "members": {
                      "exact": {},
                      "prefix": {},
                      "range": {
                        "shape": "Sx"
                      },
                      "regex": {},
                      "suffix": {}
                    }
                  },
                  "name": {}
                }
              }
            },
            "method": {},
            "prefix": {},
            "scheme": {}
          }
        },
        "retryPolicy": {
          "type": "structure",
          "required": [
            "maxRetries",
            "perRetryTimeout"
          ],
          "members": {
            "httpRetryEvents": {
              "shape": "S14"
            },
            "maxRetries": {
              "type": "long"
            },
            "perRetryTimeout": {
              "shape": "S17"
            },
            "tcpRetryEvents": {
              "shape": "S1a"
            }
          }
        },
        "timeout": {
          "shape": "S1m"
        }
      }
    },
    "S1m": {
      "type": "structure",
      "members": {
        "idle": {
          "shape": "S17"
        },
        "perRequest": {
          "shape": "S17"
        }
      }
    },
    "S1q": {
      "type": "structure",
      "members": {
        "idle": {
          "shape": "S17"
        }
      }
    },
    "S1s": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "routeName",
        "spec",
        "status",
        "virtualRouterName"
      ],
      "members": {
        "meshName": {},
        "metadata": {
          "shape": "Sd"
        },
        "routeName": {},
        "spec": {
          "shape": "Sl"
        },
        "status": {
          "type": "structure",
          "required": [
            "status"
          ],
          "members": {
            "status": {}
          }
        },
        "virtualRouterName": {}
      }
    },
    "S1w": {
      "type": "structure",
      "members": {
        "backendDefaults": {
          "type": "structure",
          "members": {
            "clientPolicy": {
              "shape": "S1y"
            }
          }
        },
        "backends": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "virtualService": {
                "type": "structure",
                "required": [
                  "virtualServiceName"
                ],
                "members": {
                  "clientPolicy": {
                    "shape": "S1y"
                  },
                  "virtualServiceName": {}
                }
              }
            }
          }
        },
        "listeners": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "portMapping"
            ],
            "members": {
              "healthCheck": {
                "type": "structure",
                "required": [
                  "healthyThreshold",
                  "intervalMillis",
                  "protocol",
                  "timeoutMillis",
                  "unhealthyThreshold"
                ],
                "members": {
                  "healthyThreshold": {
                    "type": "integer"
                  },
                  "intervalMillis": {
                    "type": "long"
                  },
                  "path": {},
                  "port": {
                    "type": "integer"
                  },
                  "protocol": {},
                  "timeoutMillis": {
                    "type": "long"
                  },
                  "unhealthyThreshold": {
                    "type": "integer"
                  }
                }
              },
              "portMapping": {
                "shape": "S2i"
              },
              "timeout": {
                "type": "structure",
                "members": {
                  "grpc": {
                    "shape": "S1c"
                  },
                  "http": {
                    "shape": "S1m"
                  },
                  "http2": {
                    "shape": "S1m"
                  },
                  "tcp": {
                    "shape": "S1q"
                  }
                }
              },
              "tls": {
                "type": "structure",
                "required": [
                  "certificate",
                  "mode"
                ],
                "members": {
                  "certificate": {
                    "type": "structure",
                    "members": {
                      "acm": {
                        "type": "structure",
                        "required": [
                          "certificateArn"
                        ],
                        "members": {
                          "certificateArn": {}
                        }
                      },
                      "file": {
                        "type": "structure",
                        "required": [
                          "certificateChain",
                          "privateKey"
                        ],
                        "members": {
                          "certificateChain": {},
                          "privateKey": {}
                        }
                      }
                    }
                  },
                  "mode": {}
                }
              }
            }
          }
        },
        "logging": {
          "type": "structure",
          "members": {
            "accessLog": {
              "type": "structure",
              "members": {
                "file": {
                  "type": "structure",
                  "required": [
                    "path"
                  ],
                  "members": {
                    "path": {}
                  }
                }
              }
            }
          }
        },
        "serviceDiscovery": {
          "type": "structure",
          "members": {
            "awsCloudMap": {
              "type": "structure",
              "required": [
                "namespaceName",
                "serviceName"
              ],
              "members": {
                "attributes": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "key",
                      "value"
                    ],
                    "members": {
                      "key": {},
                      "value": {}
                    }
                  }
                },
                "namespaceName": {},
                "serviceName": {}
              }
            },
            "dns": {
              "type": "structure",
              "required": [
                "hostname"
              ],
              "members": {
                "hostname": {}
              }
            }
          }
        }
      }
    },
    "S1y": {
      "type": "structure",
      "members": {
        "tls": {
          "type": "structure",
          "required": [
            "validation"
          ],
          "members": {
            "enforce": {
              "type": "boolean"
            },
            "ports": {
              "type": "list",
              "member": {
                "type": "integer"
              }
            },
            "validation": {
              "type": "structure",
              "required": [
                "trust"
              ],
              "members": {
                "trust": {
                  "type": "structure",
                  "members": {
                    "acm": {
                      "type": "structure",
                      "required": [
                        "certificateAuthorityArns"
                      ],
                      "members": {
                        "certificateAuthorityArns": {
                          "type": "list",
                          "member": {}
                        }
                      }
                    },
                    "file": {
                      "type": "structure",
                      "required": [
                        "certificateChain"
                      ],
                      "members": {
                        "certificateChain": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "S2i": {
      "type": "structure",
      "required": [
        "port",
        "protocol"
      ],
      "members": {
        "port": {
          "type": "integer"
        },
        "protocol": {}
      }
    },
    "S32": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualNodeName"
      ],
      "members": {
        "meshName": {},
        "metadata": {
          "shape": "Sd"
        },
        "spec": {
          "shape": "S1w"
        },
        "status": {
          "type": "structure",
          "required": [
            "status"
          ],
          "members": {
            "status": {}
          }
        },
        "virtualNodeName": {}
      }
    },
    "S36": {
      "type": "structure",
      "members": {
        "listeners": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "portMapping"
            ],
            "members": {
              "portMapping": {
                "shape": "S2i"
              }
            }
          }
        }
      }
    },
    "S3a": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualRouterName"
      ],
      "members": {
        "meshName": {},
        "metadata": {
          "shape": "Sd"
        },
        "spec": {
          "shape": "S36"
        },
        "status": {
          "type": "structure",
          "required": [
            "status"
          ],
          "members": {
            "status": {}
          }
        },
        "virtualRouterName": {}
      }
    },
    "S3e": {
      "type": "structure",
      "members": {
        "provider": {
          "type": "structure",
          "members": {
            "virtualNode": {
              "type": "structure",
              "required": [
                "virtualNodeName"
              ],
              "members": {
                "virtualNodeName": {}
              }
            },
            "virtualRouter": {
              "type": "structure",
              "required": [
                "virtualRouterName"
              ],
              "members": {
                "virtualRouterName": {}
              }
            }
          }
        }
      }
    },
    "S3j": {
      "type": "structure",
      "required": [
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualServiceName"
      ],
      "members": {
        "meshName": {},
        "metadata": {
          "shape": "Sd"
        },
        "spec": {
          "shape": "S3e"
        },
        "status": {
          "type": "structure",
          "required": [
            "status"
          ],
          "members": {
            "status": {}
          }
        },
        "virtualServiceName": {}
      }
    }
  }
}