{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-12-01",
    "endpointPrefix": "appstream2",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon AppStream",
    "serviceId": "AppStream",
    "signatureVersion": "v4",
    "signingName": "appstream",
    "targetPrefix": "PhotonAdminProxyService",
    "uid": "appstream-2016-12-01"
  },
  "operations": {
    "AssociateApplicationFleet": {
      "input": {
        "type": "structure",
        "required": [
          "FleetName",
          "ApplicationArn"
        ],
        "members": {
          "FleetName": {},
          "ApplicationArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationFleetAssociation": {
            "shape": "S5"
          }
        }
      }
    },
    "AssociateFleet": {
      "input": {
        "type": "structure",
        "required": [
          "FleetName",
          "StackName"
        ],
        "members": {
          "FleetName": {},
          "StackName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "BatchAssociateUserStack": {
      "input": {
        "type": "structure",
        "required": [
          "UserStackAssociations"
        ],
        "members": {
          "UserStackAssociations": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "errors": {
            "shape": "Sg"
          }
        }
      }
    },
    "BatchDisassociateUserStack": {
      "input": {
        "type": "structure",
        "required": [
          "UserStackAssociations"
        ],
        "members": {
          "UserStackAssociations": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "errors": {
            "shape": "Sg"
          }
        }
      }
    },
    "CopyImage": {
      "input": {
        "type": "structure",
        "required": [
          "SourceImageName",
          "DestinationImageName",
          "DestinationRegion"
        ],
        "members": {
          "SourceImageName": {},
          "DestinationImageName": {},
          "DestinationRegion": {},
          "DestinationImageDescription": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DestinationImageName": {}
        }
      }
    },
    "CreateAppBlock": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "SourceS3Location",
          "SetupScriptDetails"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "DisplayName": {},
          "SourceS3Location": {
            "shape": "Sr"
          },
          "SetupScriptDetails": {
            "shape": "Su"
          },
          "Tags": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppBlock": {
            "shape": "S10"
          }
        }
      }
    },
    "CreateApplication": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "IconS3Location",
          "LaunchPath",
          "Platforms",
          "InstanceFamilies",
          "AppBlockArn"
        ],
        "members": {
          "Name": {},
          "DisplayName": {},
          "Description": {},
          "IconS3Location": {
            "shape": "Sr"
          },
          "LaunchPath": {},
          "WorkingDirectory": {},
          "LaunchParameters": {},
          "Platforms": {
            "shape": "S13"
          },
          "InstanceFamilies": {
            "shape": "S15"
          },
          "AppBlockArn": {},
          "Tags": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Application": {
            "shape": "S17"
          }
        }
      }
    },
    "CreateDirectoryConfig": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryName",
          "OrganizationalUnitDistinguishedNames"
        ],
        "members": {
          "DirectoryName": {},
          "OrganizationalUnitDistinguishedNames": {
            "shape": "S1b"
          },
          "ServiceAccountCredentials": {
            "shape": "S1d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryConfig": {
            "shape": "S1h"
          }
        }
      }
    },
    "CreateFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "InstanceType"
        ],
        "members": {
          "Name": {},
          "ImageName": {},
          "ImageArn": {},
          "InstanceType": {},
          "FleetType": {},
          "ComputeCapacity": {
            "shape": "S1k"
          },
          "VpcConfig": {
            "shape": "S1l"
          },
          "MaxUserDurationInSeconds": {
            "type": "integer"
          },
          "DisconnectTimeoutInSeconds": {
            "type": "integer"
          },
          "Description": {},
          "DisplayName": {},
          "EnableDefaultInternetAccess": {
            "type": "boolean"
          },
          "DomainJoinInfo": {
            "shape": "S1p"
          },
          "Tags": {
            "shape": "Sw"
          },
          "IdleDisconnectTimeoutInSeconds": {
            "type": "integer"
          },
          "IamRoleArn": {},
          "StreamView": {},
          "Platform": {},
          "MaxConcurrentSessions": {
            "type": "integer"
          },
          "UsbDeviceFilterStrings": {
            "shape": "S1r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Fleet": {
            "shape": "S1u"
          }
        }
      }
    },
    "CreateImageBuilder": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "InstanceType"
        ],
        "members": {
          "Name": {},
          "ImageName": {},
          "ImageArn": {},
          "InstanceType": {},
          "Description": {},
          "DisplayName": {},
          "VpcConfig": {
            "shape": "S1l"
          },
          "IamRoleArn": {},
          "EnableDefaultInternetAccess": {
            "type": "boolean"
          },
          "DomainJoinInfo": {
            "shape": "S1p"
          },
          "AppstreamAgentVersion": {},
          "Tags": {
            "shape": "Sw"
          },
          "AccessEndpoints": {
            "shape": "S22"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilder": {
            "shape": "S26"
          }
        }
      }
    },
    "CreateImageBuilderStreamingURL": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Validity": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingURL": {},
          "Expires": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateStack": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "DisplayName": {},
          "StorageConnectors": {
            "shape": "S2h"
          },
          "RedirectURL": {},
          "FeedbackURL": {},
          "UserSettings": {
            "shape": "S2p"
          },
          "ApplicationSettings": {
            "shape": "S2t"
          },
          "Tags": {
            "shape": "Sw"
          },
          "AccessEndpoints": {
            "shape": "S22"
          },
          "EmbedHostDomains": {
            "shape": "S2v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Stack": {
            "shape": "S2y"
          }
        }
      }
    },
    "CreateStreamingURL": {
      "input": {
        "type": "structure",
        "required": [
          "StackName",
          "FleetName",
          "UserId"
        ],
        "members": {
          "StackName": {},
          "FleetName": {},
          "UserId": {},
          "ApplicationId": {},
          "Validity": {
            "type": "long"
          },
          "SessionContext": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingURL": {},
          "Expires": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateUpdatedImage": {
      "input": {
        "type": "structure",
        "required": [
          "existingImageName",
          "newImageName"
        ],
        "members": {
          "existingImageName": {},
          "newImageName": {},
          "newImageDescription": {},
          "newImageDisplayName": {},
          "newImageTags": {
            "shape": "Sw"
          },
          "dryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "image": {
            "shape": "S38"
          },
          "canUpdateImage": {
            "type": "boolean"
          }
        }
      }
    },
    "CreateUsageReportSubscription": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "S3BucketName": {},
          "Schedule": {}
        }
      }
    },
    "CreateUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "AuthenticationType"
        ],
        "members": {
          "UserName": {
            "shape": "Sc"
          },
          "MessageAction": {},
          "FirstName": {
            "shape": "S3k"
          },
          "LastName": {
            "shape": "S3k"
          },
          "AuthenticationType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteAppBlock": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteApplication": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDirectoryConfig": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryName"
        ],
        "members": {
          "DirectoryName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteImage": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Image": {
            "shape": "S38"
          }
        }
      }
    },
    "DeleteImageBuilder": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilder": {
            "shape": "S26"
          }
        }
      }
    },
    "DeleteImagePermissions": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "SharedAccountId"
        ],
        "members": {
          "Name": {},
          "SharedAccountId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteStack": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteUsageReportSubscription": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "AuthenticationType"
        ],
        "members": {
          "UserName": {
            "shape": "Sc"
          },
          "AuthenticationType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeAppBlocks": {
      "input": {
        "type": "structure",
        "members": {
          "Arns": {
            "shape": "S48"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppBlocks": {
            "type": "list",
            "member": {
              "shape": "S10"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeApplicationFleetAssociations": {
      "input": {
        "type": "structure",
        "members": {
          "FleetName": {},
          "ApplicationArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationFleetAssociations": {
            "type": "list",
            "member": {
              "shape": "S5"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeApplications": {
      "input": {
        "type": "structure",
        "members": {
          "Arns": {
            "shape": "S48"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Applications": {
            "shape": "S3d"
          },
          "NextToken": {}
        }
      }
    },
    "DescribeDirectoryConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryNames": {
            "type": "list",
            "member": {}
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryConfigs": {
            "type": "list",
            "member": {
              "shape": "S1h"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeFleets": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S15"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Fleets": {
            "type": "list",
            "member": {
              "shape": "S1u"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeImageBuilders": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S15"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilders": {
            "type": "list",
            "member": {
              "shape": "S26"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeImagePermissions": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "MaxResults": {
            "type": "integer"
          },
          "SharedAwsAccountIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "SharedImagePermissionsList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "sharedAccountId",
                "imagePermissions"
              ],
              "members": {
                "sharedAccountId": {},
                "imagePermissions": {
                  "shape": "S3e"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeImages": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S15"
          },
          "Arns": {
            "shape": "S48"
          },
          "Type": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Images": {
            "type": "list",
            "member": {
              "shape": "S38"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeSessions": {
      "input": {
        "type": "structure",
        "required": [
          "StackName",
          "FleetName"
        ],
        "members": {
          "StackName": {},
          "FleetName": {},
          "UserId": {},
          "NextToken": {},
          "Limit": {
            "type": "integer"
          },
          "AuthenticationType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Sessions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "UserId",
                "StackName",
                "FleetName",
                "State"
              ],
              "members": {
                "Id": {},
                "UserId": {},
                "StackName": {},
                "FleetName": {},
                "State": {},
                "ConnectionState": {},
                "StartTime": {
                  "type": "timestamp"
                },
                "MaxExpirationTime": {
                  "type": "timestamp"
                },
                "AuthenticationType": {},
                "NetworkAccessConfiguration": {
                  "shape": "S2a"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeStacks": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S15"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Stacks": {
            "type": "list",
            "member": {
              "shape": "S2y"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeUsageReportSubscriptions": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UsageReportSubscriptions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "S3BucketName": {},
                "Schedule": {},
                "LastGeneratedReportDate": {
                  "type": "timestamp"
                },
                "SubscriptionErrors": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "ErrorCode": {},
                      "ErrorMessage": {}
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeUserStackAssociations": {
      "input": {
        "type": "structure",
        "members": {
          "StackName": {},
          "UserName": {
            "shape": "Sc"
          },
          "AuthenticationType": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserStackAssociations": {
            "shape": "Sa"
          },
          "NextToken": {}
        }
      }
    },
    "DescribeUsers": {
      "input": {
        "type": "structure",
        "required": [
          "AuthenticationType"
        ],
        "members": {
          "AuthenticationType": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Users": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AuthenticationType"
              ],
              "members": {
                "Arn": {},
                "UserName": {
                  "shape": "Sc"
                },
                "Enabled": {
                  "type": "boolean"
                },
                "Status": {},
                "FirstName": {
                  "shape": "S3k"
                },
                "LastName": {
                  "shape": "S3k"
                },
                "CreatedTime": {
                  "type": "timestamp"
                },
                "AuthenticationType": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisableUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "AuthenticationType"
        ],
        "members": {
          "UserName": {
            "shape": "Sc"
          },
          "AuthenticationType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateApplicationFleet": {
      "input": {
        "type": "structure",
        "required": [
          "FleetName",
          "ApplicationArn"
        ],
        "members": {
          "FleetName": {},
          "ApplicationArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFleet": {
      "input": {
        "type": "structure",
        "required": [
          "FleetName",
          "StackName"
        ],
        "members": {
          "FleetName": {},
          "StackName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "AuthenticationType"
        ],
        "members": {
          "UserName": {
            "shape": "Sc"
          },
          "AuthenticationType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ExpireSession": {
      "input": {
        "type": "structure",
        "required": [
          "SessionId"
        ],
        "members": {
          "SessionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListAssociatedFleets": {
      "input": {
        "type": "structure",
        "required": [
          "StackName"
        ],
        "members": {
          "StackName": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S15"
          },
          "NextToken": {}
        }
      }
    },
    "ListAssociatedStacks": {
      "input": {
        "type": "structure",
        "required": [
          "FleetName"
        ],
        "members": {
          "FleetName": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S15"
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Sw"
          }
        }
      }
    },
    "StartFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartImageBuilder": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "AppstreamAgentVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilder": {
            "shape": "S26"
          }
        }
      }
    },
    "StopFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopImageBuilder": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilder": {
            "shape": "S26"
          }
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateApplication": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "DisplayName": {},
          "Description": {},
          "IconS3Location": {
            "shape": "Sr"
          },
          "LaunchPath": {},
          "WorkingDirectory": {},
          "LaunchParameters": {},
          "AppBlockArn": {},
          "AttributesToDelete": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Application": {
            "shape": "S17"
          }
        }
      }
    },
    "UpdateDirectoryConfig": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryName"
        ],
        "members": {
          "DirectoryName": {},
          "OrganizationalUnitDistinguishedNames": {
            "shape": "S1b"
          },
          "ServiceAccountCredentials": {
            "shape": "S1d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryConfig": {
            "shape": "S1h"
          }
        }
      }
    },
    "UpdateFleet": {
      "input": {
        "type": "structure",
        "members": {
          "ImageName": {},
          "ImageArn": {},
          "Name": {},
          "InstanceType": {},
          "ComputeCapacity": {
            "shape": "S1k"
          },
          "VpcConfig": {
            "shape": "S1l"
          },
          "MaxUserDurationInSeconds": {
            "type": "integer"
          },
          "DisconnectTimeoutInSeconds": {
            "type": "integer"
          },
          "DeleteVpcConfig": {
            "deprecated": true,
            "type": "boolean"
          },
          "Description": {},
          "DisplayName": {},
          "EnableDefaultInternetAccess": {
            "type": "boolean"
          },
          "DomainJoinInfo": {
            "shape": "S1p"
          },
          "IdleDisconnectTimeoutInSeconds": {
            "type": "integer"
          },
          "AttributesToDelete": {
            "type": "list",
            "member": {}
          },
          "IamRoleArn": {},
          "StreamView": {},
          "Platform": {},
          "MaxConcurrentSessions": {
            "type": "integer"
          },
          "UsbDeviceFilterStrings": {
            "shape": "S1r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Fleet": {
            "shape": "S1u"
          }
        }
      }
    },
    "UpdateImagePermissions": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "SharedAccountId",
          "ImagePermissions"
        ],
        "members": {
          "Name": {},
          "SharedAccountId": {},
          "ImagePermissions": {
            "shape": "S3e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateStack": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "DisplayName": {},
          "Description": {},
          "Name": {},
          "StorageConnectors": {
            "shape": "S2h"
          },
          "DeleteStorageConnectors": {
            "deprecated": true,
            "type": "boolean"
          },
          "RedirectURL": {},
          "FeedbackURL": {},
          "AttributesToDelete": {
            "type": "list",
            "member": {}
          },
          "UserSettings": {
            "shape": "S2p"
          },
          "ApplicationSettings": {
            "shape": "S2t"
          },
          "AccessEndpoints": {
            "shape": "S22"
          },
          "EmbedHostDomains": {
            "shape": "S2v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Stack": {
            "shape": "S2y"
          }
        }
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "structure",
      "required": [
        "FleetName",
        "ApplicationArn"
      ],
      "members": {
        "FleetName": {},
        "ApplicationArn": {}
      }
    },
    "Sa": {
      "type": "list",
      "member": {
        "shape": "Sb"
      }
    },
    "Sb": {
      "type": "structure",
      "required": [
        "StackName",
        "UserName",
        "AuthenticationType"
      ],
      "members": {
        "StackName": {},
        "UserName": {
          "shape": "Sc"
        },
        "AuthenticationType": {},
        "SendEmailNotification": {
          "type": "boolean"
        }
      }
    },
    "Sc": {
      "type": "string",
      "sensitive": true
    },
    "Sg": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "UserStackAssociation": {
            "shape": "Sb"
          },
          "ErrorCode": {},
          "ErrorMessage": {}
        }
      }
    },
    "Sr": {
      "type": "structure",
      "required": [
        "S3Bucket",
        "S3Key"
      ],
      "members": {
        "S3Bucket": {},
        "S3Key": {}
      }
    },
    "Su": {
      "type": "structure",
      "required": [
        "ScriptS3Location",
        "ExecutablePath",
        "TimeoutInSeconds"
      ],
      "members": {
        "ScriptS3Location": {
          "shape": "Sr"
        },
        "ExecutablePath": {},
        "ExecutableParameters": {},
        "TimeoutInSeconds": {
          "type": "integer"
        }
      }
    },
    "Sw": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S10": {
      "type": "structure",
      "required": [
        "Name",
        "Arn",
        "SetupScriptDetails"
      ],
      "members": {
        "Name": {},
        "Arn": {},
        "Description": {},
        "DisplayName": {},
        "SourceS3Location": {
          "shape": "Sr"
        },
        "SetupScriptDetails": {
          "shape": "Su"
        },
        "CreatedTime": {
          "type": "timestamp"
        }
      }
    },
    "S13": {
      "type": "list",
      "member": {}
    },
    "S15": {
      "type": "list",
      "member": {}
    },
    "S17": {
      "type": "structure",
      "members": {
        "Name": {},
        "DisplayName": {},
        "IconURL": {},
        "LaunchPath": {},
        "LaunchParameters": {},
        "Enabled": {
          "type": "boolean"
        },
        "Metadata": {
          "type": "map",
          "key": {},
          "value": {}
        },
        "WorkingDirectory": {},
        "Description": {},
        "Arn": {},
        "AppBlockArn": {},
        "IconS3Location": {
          "shape": "Sr"
        },
        "Platforms": {
          "shape": "S13"
        },
        "InstanceFamilies": {
          "shape": "S15"
        },
        "CreatedTime": {
          "type": "timestamp"
        }
      }
    },
    "S1b": {
      "type": "list",
      "member": {}
    },
    "S1d": {
      "type": "structure",
      "required": [
        "AccountName",
        "AccountPassword"
      ],
      "members": {
        "AccountName": {
          "type": "string",
          "sensitive": true
        },
        "AccountPassword": {
          "type": "string",
          "sensitive": true
        }
      }
    },
    "S1h": {
      "type": "structure",
      "required": [
        "DirectoryName"
      ],
      "members": {
        "DirectoryName": {},
        "OrganizationalUnitDistinguishedNames": {
          "shape": "S1b"
        },
        "ServiceAccountCredentials": {
          "shape": "S1d"
        },
        "CreatedTime": {
          "type": "timestamp"
        }
      }
    },
    "S1k": {
      "type": "structure",
      "required": [
        "DesiredInstances"
      ],
      "members": {
        "DesiredInstances": {
          "type": "integer"
        }
      }
    },
    "S1l": {
      "type": "structure",
      "members": {
        "SubnetIds": {
          "type": "list",
          "member": {}
        },
        "SecurityGroupIds": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S1p": {
      "type": "structure",
      "members": {
        "DirectoryName": {},
        "OrganizationalUnitDistinguishedName": {}
      }
    },
    "S1r": {
      "type": "list",
      "member": {}
    },
    "S1u": {
      "type": "structure",
      "required": [
        "Arn",
        "Name",
        "InstanceType",
        "ComputeCapacityStatus",
        "State"
      ],
      "members": {
        "Arn": {},
        "Name": {},
        "DisplayName": {},
        "Description": {},
        "ImageName": {},
        "ImageArn": {},
        "InstanceType": {},
        "FleetType": {},
        "ComputeCapacityStatus": {
          "type": "structure",
          "required": [
            "Desired"
          ],
          "members": {
            "Desired": {
              "type": "integer"
            },
            "Running": {
              "type": "integer"
            },
            "InUse": {
              "type": "integer"
            },
            "Available": {
              "type": "integer"
            }
          }
        },
        "MaxUserDurationInSeconds": {
          "type": "integer"
        },
        "DisconnectTimeoutInSeconds": {
          "type": "integer"
        },
        "State": {},
        "VpcConfig": {
          "shape": "S1l"
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "FleetErrors": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ErrorCode": {},
              "ErrorMessage": {}
            }
          }
        },
        "EnableDefaultInternetAccess": {
          "type": "boolean"
        },
        "DomainJoinInfo": {
          "shape": "S1p"
        },
        "IdleDisconnectTimeoutInSeconds": {
          "type": "integer"
        },
        "IamRoleArn": {},
        "StreamView": {},
        "Platform": {},
        "MaxConcurrentSessions": {
          "type": "integer"
        },
        "UsbDeviceFilterStrings": {
          "shape": "S1r"
        }
      }
    },
    "S22": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "EndpointType"
        ],
        "members": {
          "EndpointType": {},
          "VpceId": {}
        }
      }
    },
    "S26": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "Arn": {},
        "ImageArn": {},
        "Description": {},
        "DisplayName": {},
        "VpcConfig": {
          "shape": "S1l"
        },
        "InstanceType": {},
        "Platform": {},
        "IamRoleArn": {},
        "State": {},
        "StateChangeReason": {
          "type": "structure",
          "members": {
            "Code": {},
            "Message": {}
          }
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "EnableDefaultInternetAccess": {
          "type": "boolean"
        },
        "DomainJoinInfo": {
          "shape": "S1p"
        },
        "NetworkAccessConfiguration": {
          "shape": "S2a"
        },
        "ImageBuilderErrors": {
          "shape": "S2b"
        },
        "AppstreamAgentVersion": {},
        "AccessEndpoints": {
          "shape": "S22"
        }
      }
    },
    "S2a": {
      "type": "structure",
      "members": {
        "EniPrivateIpAddress": {},
        "EniId": {}
      }
    },
    "S2b": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ErrorCode": {},
          "ErrorMessage": {},
          "ErrorTimestamp": {
            "type": "timestamp"
          }
        }
      }
    },
    "S2h": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ConnectorType"
        ],
        "members": {
          "ConnectorType": {},
          "ResourceIdentifier": {},
          "Domains": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "S2p": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Action",
          "Permission"
        ],
        "members": {
          "Action": {},
          "Permission": {}
        }
      }
    },
    "S2t": {
      "type": "structure",
      "required": [
        "Enabled"
      ],
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "SettingsGroup": {}
      }
    },
    "S2v": {
      "type": "list",
      "member": {}
    },
    "S2y": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Arn": {},
        "Name": {},
        "Description": {},
        "DisplayName": {},
        "CreatedTime": {
          "type": "timestamp"
        },
        "StorageConnectors": {
          "shape": "S2h"
        },
        "RedirectURL": {},
        "FeedbackURL": {},
        "StackErrors": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ErrorCode": {},
              "ErrorMessage": {}
            }
          }
        },
        "UserSettings": {
          "shape": "S2p"
        },
        "ApplicationSettings": {
          "type": "structure",
          "members": {
            "Enabled": {
              "type": "boolean"
            },
            "SettingsGroup": {},
            "S3BucketName": {}
          }
        },
        "AccessEndpoints": {
          "shape": "S22"
        },
        "EmbedHostDomains": {
          "shape": "S2v"
        }
      }
    },
    "S38": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "Arn": {},
        "BaseImageArn": {},
        "DisplayName": {},
        "State": {},
        "Visibility": {},
        "ImageBuilderSupported": {
          "type": "boolean"
        },
        "ImageBuilderName": {},
        "Platform": {},
        "Description": {},
        "StateChangeReason": {
          "type": "structure",
          "members": {
            "Code": {},
            "Message": {}
          }
        },
        "Applications": {
          "shape": "S3d"
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "PublicBaseImageReleasedDate": {
          "type": "timestamp"
        },
        "AppstreamAgentVersion": {},
        "ImagePermissions": {
          "shape": "S3e"
        },
        "ImageErrors": {
          "shape": "S2b"
        }
      }
    },
    "S3d": {
      "type": "list",
      "member": {
        "shape": "S17"
      }
    },
    "S3e": {
      "type": "structure",
      "members": {
        "allowFleet": {
          "type": "boolean"
        },
        "allowImageBuilder": {
          "type": "boolean"
        }
      }
    },
    "S3k": {
      "type": "string",
      "sensitive": true
    },
    "S48": {
      "type": "list",
      "member": {}
    }
  }
}