{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-12-01",
    "endpointPrefix": "appstream2",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon AppStream",
    "serviceId": "AppStream",
    "signatureVersion": "v4",
    "signingName": "appstream",
    "targetPrefix": "PhotonAdminProxyService",
    "uid": "appstream-2016-12-01"
  },
  "operations": {
    "AssociateFleet": {
      "input": {
        "type": "structure",
        "required": [
          "FleetName",
          "StackName"
        ],
        "members": {
          "FleetName": {
            "shape": "S2"
          },
          "StackName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CopyImage": {
      "input": {
        "type": "structure",
        "required": [
          "SourceImageName",
          "DestinationImageName",
          "DestinationRegion"
        ],
        "members": {
          "SourceImageName": {
            "shape": "S5"
          },
          "DestinationImageName": {
            "shape": "S5"
          },
          "DestinationRegion": {
            "type": "string",
            "max": 32,
            "min": 1
          },
          "DestinationImageDescription": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DestinationImageName": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateDirectoryConfig": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryName",
          "OrganizationalUnitDistinguishedNames",
          "ServiceAccountCredentials"
        ],
        "members": {
          "DirectoryName": {},
          "OrganizationalUnitDistinguishedNames": {
            "shape": "Sb"
          },
          "ServiceAccountCredentials": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryConfig": {
            "shape": "Sh"
          }
        }
      }
    },
    "CreateFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "InstanceType",
          "ComputeCapacity"
        ],
        "members": {
          "Name": {
            "shape": "S5"
          },
          "ImageName": {
            "shape": "S2"
          },
          "ImageArn": {
            "shape": "Sk"
          },
          "InstanceType": {
            "shape": "S2"
          },
          "FleetType": {
            "shape": "Sl"
          },
          "ComputeCapacity": {
            "shape": "Sm"
          },
          "VpcConfig": {
            "shape": "So"
          },
          "MaxUserDurationInSeconds": {
            "type": "integer"
          },
          "DisconnectTimeoutInSeconds": {
            "type": "integer"
          },
          "Description": {
            "shape": "S7"
          },
          "DisplayName": {
            "shape": "Sr"
          },
          "EnableDefaultInternetAccess": {
            "type": "boolean"
          },
          "DomainJoinInfo": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Fleet": {
            "shape": "Sv"
          }
        }
      }
    },
    "CreateImageBuilder": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "InstanceType"
        ],
        "members": {
          "Name": {
            "shape": "S5"
          },
          "ImageName": {
            "shape": "S2"
          },
          "ImageArn": {
            "shape": "Sk"
          },
          "InstanceType": {
            "shape": "S2"
          },
          "Description": {
            "shape": "S7"
          },
          "DisplayName": {
            "shape": "Sr"
          },
          "VpcConfig": {
            "shape": "So"
          },
          "EnableDefaultInternetAccess": {
            "type": "boolean"
          },
          "DomainJoinInfo": {
            "shape": "St"
          },
          "AppstreamAgentVersion": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilder": {
            "shape": "S14"
          }
        }
      }
    },
    "CreateImageBuilderStreamingURL": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          },
          "Validity": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingURL": {
            "shape": "S2"
          },
          "Expires": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateStack": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S5"
          },
          "Description": {
            "shape": "S7"
          },
          "DisplayName": {
            "shape": "Sr"
          },
          "StorageConnectors": {
            "shape": "S1f"
          },
          "RedirectURL": {
            "shape": "S1l"
          },
          "FeedbackURL": {
            "shape": "S1m"
          },
          "UserSettings": {
            "shape": "S1n"
          },
          "ApplicationSettings": {
            "shape": "S1r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Stack": {
            "shape": "S1v"
          }
        }
      }
    },
    "CreateStreamingURL": {
      "input": {
        "type": "structure",
        "required": [
          "StackName",
          "FleetName",
          "UserId"
        ],
        "members": {
          "StackName": {
            "shape": "S2"
          },
          "FleetName": {
            "shape": "S2"
          },
          "UserId": {
            "type": "string",
            "max": 32,
            "min": 2,
            "pattern": "[\\w+=,.@-]*"
          },
          "ApplicationId": {
            "shape": "S2"
          },
          "Validity": {
            "type": "long"
          },
          "SessionContext": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingURL": {
            "shape": "S2"
          },
          "Expires": {
            "type": "timestamp"
          }
        }
      }
    },
    "DeleteDirectoryConfig": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryName"
        ],
        "members": {
          "DirectoryName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteImage": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Image": {
            "shape": "S29"
          }
        }
      }
    },
    "DeleteImageBuilder": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilder": {
            "shape": "S14"
          }
        }
      }
    },
    "DeleteImagePermissions": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "SharedAccountId"
        ],
        "members": {
          "Name": {
            "shape": "S5"
          },
          "SharedAccountId": {
            "shape": "S2l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteStack": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeDirectoryConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryNames": {
            "type": "list",
            "member": {}
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryConfigs": {
            "type": "list",
            "member": {
              "shape": "Sh"
            }
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      }
    },
    "DescribeFleets": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S2u"
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Fleets": {
            "type": "list",
            "member": {
              "shape": "Sv"
            }
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      }
    },
    "DescribeImageBuilders": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S2u"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilders": {
            "type": "list",
            "member": {
              "shape": "S14"
            }
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      }
    },
    "DescribeImagePermissions": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S5"
          },
          "MaxResults": {
            "type": "integer",
            "max": 500,
            "min": 0
          },
          "SharedAwsAccountIds": {
            "type": "list",
            "member": {
              "shape": "S2l"
            },
            "max": 5,
            "min": 1
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S5"
          },
          "SharedImagePermissionsList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "sharedAccountId",
                "imagePermissions"
              ],
              "members": {
                "sharedAccountId": {
                  "shape": "S2l"
                },
                "imagePermissions": {
                  "shape": "S2h"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      }
    },
    "DescribeImages": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S2u"
          },
          "Arns": {
            "type": "list",
            "member": {
              "shape": "Sk"
            }
          },
          "Type": {
            "shape": "S2b"
          },
          "NextToken": {
            "shape": "S2"
          },
          "MaxResults": {
            "type": "integer",
            "max": 25,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Images": {
            "type": "list",
            "member": {
              "shape": "S29"
            }
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      }
    },
    "DescribeSessions": {
      "input": {
        "type": "structure",
        "required": [
          "StackName",
          "FleetName"
        ],
        "members": {
          "StackName": {
            "shape": "S2"
          },
          "FleetName": {
            "shape": "S2"
          },
          "UserId": {
            "shape": "S3c"
          },
          "NextToken": {
            "shape": "S2"
          },
          "Limit": {
            "type": "integer"
          },
          "AuthenticationType": {
            "shape": "S3d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Sessions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "UserId",
                "StackName",
                "FleetName",
                "State"
              ],
              "members": {
                "Id": {
                  "shape": "S2"
                },
                "UserId": {
                  "shape": "S3c"
                },
                "StackName": {
                  "shape": "S2"
                },
                "FleetName": {
                  "shape": "S2"
                },
                "State": {
                  "type": "string",
                  "enum": [
                    "ACTIVE",
                    "PENDING",
                    "EXPIRED"
                  ]
                },
                "AuthenticationType": {
                  "shape": "S3d"
                },
                "NetworkAccessConfiguration": {
                  "type": "structure",
                  "members": {
                    "EniPrivateIpAddress": {
                      "shape": "S2"
                    },
                    "EniId": {
                      "shape": "S2"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      }
    },
    "DescribeStacks": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S2u"
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Stacks": {
            "type": "list",
            "member": {
              "shape": "S1v"
            }
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      }
    },
    "DisassociateFleet": {
      "input": {
        "type": "structure",
        "required": [
          "FleetName",
          "StackName"
        ],
        "members": {
          "FleetName": {
            "shape": "S2"
          },
          "StackName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ExpireSession": {
      "input": {
        "type": "structure",
        "required": [
          "SessionId"
        ],
        "members": {
          "SessionId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListAssociatedFleets": {
      "input": {
        "type": "structure",
        "required": [
          "StackName"
        ],
        "members": {
          "StackName": {
            "shape": "S2"
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S2u"
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      }
    },
    "ListAssociatedStacks": {
      "input": {
        "type": "structure",
        "required": [
          "FleetName"
        ],
        "members": {
          "FleetName": {
            "shape": "S2"
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S2u"
          },
          "NextToken": {
            "shape": "S2"
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3w"
          }
        }
      }
    },
    "StartFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartImageBuilder": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          },
          "AppstreamAgentVersion": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilder": {
            "shape": "S14"
          }
        }
      }
    },
    "StopFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopImageBuilder": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilder": {
            "shape": "S14"
          }
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "shape": "Sk"
          },
          "Tags": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "shape": "Sk"
          },
          "TagKeys": {
            "type": "list",
            "member": {
              "shape": "S3x"
            },
            "max": 50,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDirectoryConfig": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryName"
        ],
        "members": {
          "DirectoryName": {},
          "OrganizationalUnitDistinguishedNames": {
            "shape": "Sb"
          },
          "ServiceAccountCredentials": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryConfig": {
            "shape": "Sh"
          }
        }
      }
    },
    "UpdateFleet": {
      "input": {
        "type": "structure",
        "members": {
          "ImageName": {
            "shape": "S2"
          },
          "ImageArn": {
            "shape": "Sk"
          },
          "Name": {
            "shape": "S2"
          },
          "InstanceType": {
            "shape": "S2"
          },
          "ComputeCapacity": {
            "shape": "Sm"
          },
          "VpcConfig": {
            "shape": "So"
          },
          "MaxUserDurationInSeconds": {
            "type": "integer"
          },
          "DisconnectTimeoutInSeconds": {
            "type": "integer"
          },
          "DeleteVpcConfig": {
            "deprecated": true,
            "type": "boolean"
          },
          "Description": {
            "shape": "S7"
          },
          "DisplayName": {
            "shape": "Sr"
          },
          "EnableDefaultInternetAccess": {
            "type": "boolean"
          },
          "DomainJoinInfo": {
            "shape": "St"
          },
          "AttributesToDelete": {
            "type": "list",
            "member": {
              "type": "string",
              "enum": [
                "VPC_CONFIGURATION",
                "VPC_CONFIGURATION_SECURITY_GROUP_IDS",
                "DOMAIN_JOIN_INFO"
              ]
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Fleet": {
            "shape": "Sv"
          }
        }
      }
    },
    "UpdateImagePermissions": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "SharedAccountId",
          "ImagePermissions"
        ],
        "members": {
          "Name": {
            "shape": "S5"
          },
          "SharedAccountId": {
            "shape": "S2l"
          },
          "ImagePermissions": {
            "shape": "S2h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateStack": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "DisplayName": {
            "shape": "Sr"
          },
          "Description": {
            "shape": "S7"
          },
          "Name": {
            "shape": "S2"
          },
          "StorageConnectors": {
            "shape": "S1f"
          },
          "DeleteStorageConnectors": {
            "deprecated": true,
            "type": "boolean"
          },
          "RedirectURL": {
            "shape": "S1l"
          },
          "FeedbackURL": {
            "shape": "S1m"
          },
          "AttributesToDelete": {
            "type": "list",
            "member": {
              "type": "string",
              "enum": [
                "STORAGE_CONNECTORS",
                "STORAGE_CONNECTOR_HOMEFOLDERS",
                "STORAGE_CONNECTOR_GOOGLE_DRIVE",
                "STORAGE_CONNECTOR_ONE_DRIVE",
                "REDIRECT_URL",
                "FEEDBACK_URL",
                "THEME_NAME",
                "USER_SETTINGS"
              ]
            }
          },
          "UserSettings": {
            "shape": "S1n"
          },
          "ApplicationSettings": {
            "shape": "S1r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Stack": {
            "shape": "S1v"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "min": 1
    },
    "S5": {
      "type": "string",
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]{0,100}$"
    },
    "S7": {
      "type": "string",
      "max": 256
    },
    "Sb": {
      "type": "list",
      "member": {
        "shape": "Sc"
      }
    },
    "Sc": {
      "type": "string",
      "max": 2000
    },
    "Sd": {
      "type": "structure",
      "required": [
        "AccountName",
        "AccountPassword"
      ],
      "members": {
        "AccountName": {
          "type": "string",
          "min": 1,
          "sensitive": true
        },
        "AccountPassword": {
          "type": "string",
          "max": 127,
          "min": 1,
          "sensitive": true
        }
      }
    },
    "Sh": {
      "type": "structure",
      "required": [
        "DirectoryName"
      ],
      "members": {
        "DirectoryName": {},
        "OrganizationalUnitDistinguishedNames": {
          "shape": "Sb"
        },
        "ServiceAccountCredentials": {
          "shape": "Sd"
        },
        "CreatedTime": {
          "type": "timestamp"
        }
      }
    },
    "Sk": {
      "type": "string",
      "pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
    },
    "Sl": {
      "type": "string",
      "enum": [
        "ALWAYS_ON",
        "ON_DEMAND"
      ]
    },
    "Sm": {
      "type": "structure",
      "required": [
        "DesiredInstances"
      ],
      "members": {
        "DesiredInstances": {
          "type": "integer"
        }
      }
    },
    "So": {
      "type": "structure",
      "members": {
        "SubnetIds": {
          "type": "list",
          "member": {
            "shape": "S2"
          }
        },
        "SecurityGroupIds": {
          "type": "list",
          "member": {
            "shape": "S2"
          },
          "max": 5
        }
      }
    },
    "Sr": {
      "type": "string",
      "max": 100
    },
    "St": {
      "type": "structure",
      "members": {
        "DirectoryName": {},
        "OrganizationalUnitDistinguishedName": {
          "shape": "Sc"
        }
      }
    },
    "Sv": {
      "type": "structure",
      "required": [
        "Arn",
        "Name",
        "InstanceType",
        "ComputeCapacityStatus",
        "State"
      ],
      "members": {
        "Arn": {
          "shape": "Sk"
        },
        "Name": {
          "shape": "S2"
        },
        "DisplayName": {
          "shape": "S2"
        },
        "Description": {
          "shape": "S2"
        },
        "ImageName": {
          "shape": "S2"
        },
        "ImageArn": {
          "shape": "Sk"
        },
        "InstanceType": {
          "shape": "S2"
        },
        "FleetType": {
          "shape": "Sl"
        },
        "ComputeCapacityStatus": {
          "type": "structure",
          "required": [
            "Desired"
          ],
          "members": {
            "Desired": {
              "type": "integer"
            },
            "Running": {
              "type": "integer"
            },
            "InUse": {
              "type": "integer"
            },
            "Available": {
              "type": "integer"
            }
          }
        },
        "MaxUserDurationInSeconds": {
          "type": "integer"
        },
        "DisconnectTimeoutInSeconds": {
          "type": "integer"
        },
        "State": {
          "type": "string",
          "enum": [
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED"
          ]
        },
        "VpcConfig": {
          "shape": "So"
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "FleetErrors": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ErrorCode": {
                "shape": "S10"
              },
              "ErrorMessage": {
                "shape": "S2"
              }
            }
          }
        },
        "EnableDefaultInternetAccess": {
          "type": "boolean"
        },
        "DomainJoinInfo": {
          "shape": "St"
        }
      }
    },
    "S10": {
      "type": "string",
      "enum": [
        "IAM_SERVICE_ROLE_MISSING_ENI_DESCRIBE_ACTION",
        "IAM_SERVICE_ROLE_MISSING_ENI_CREATE_ACTION",
        "IAM_SERVICE_ROLE_MISSING_ENI_DELETE_ACTION",
        "NETWORK_INTERFACE_LIMIT_EXCEEDED",
        "INTERNAL_SERVICE_ERROR",
        "IAM_SERVICE_ROLE_IS_MISSING",
        "SUBNET_HAS_INSUFFICIENT_IP_ADDRESSES",
        "IAM_SERVICE_ROLE_MISSING_DESCRIBE_SUBNET_ACTION",
        "SUBNET_NOT_FOUND",
        "IMAGE_NOT_FOUND",
        "INVALID_SUBNET_CONFIGURATION",
        "SECURITY_GROUPS_NOT_FOUND",
        "IGW_NOT_ATTACHED",
        "IAM_SERVICE_ROLE_MISSING_DESCRIBE_SECURITY_GROUPS_ACTION",
        "DOMAIN_JOIN_ERROR_FILE_NOT_FOUND",
        "DOMAIN_JOIN_ERROR_ACCESS_DENIED",
        "DOMAIN_JOIN_ERROR_LOGON_FAILURE",
        "DOMAIN_JOIN_ERROR_INVALID_PARAMETER",
        "DOMAIN_JOIN_ERROR_MORE_DATA",
        "DOMAIN_JOIN_ERROR_NO_SUCH_DOMAIN",
        "DOMAIN_JOIN_ERROR_NOT_SUPPORTED",
        "DOMAIN_JOIN_NERR_INVALID_WORKGROUP_NAME",
        "DOMAIN_JOIN_NERR_WORKSTATION_NOT_STARTED",
        "DOMAIN_JOIN_ERROR_DS_MACHINE_ACCOUNT_QUOTA_EXCEEDED",
        "DOMAIN_JOIN_NERR_PASSWORD_EXPIRED",
        "DOMAIN_JOIN_INTERNAL_SERVICE_ERROR"
      ]
    },
    "S12": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "S14": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {
          "shape": "S2"
        },
        "Arn": {
          "shape": "Sk"
        },
        "ImageArn": {
          "shape": "Sk"
        },
        "Description": {
          "shape": "S2"
        },
        "DisplayName": {
          "shape": "S2"
        },
        "VpcConfig": {
          "shape": "So"
        },
        "InstanceType": {
          "shape": "S2"
        },
        "Platform": {
          "shape": "S15"
        },
        "State": {
          "type": "string",
          "enum": [
            "PENDING",
            "UPDATING_AGENT",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "REBOOTING",
            "SNAPSHOTTING",
            "DELETING",
            "FAILED"
          ]
        },
        "StateChangeReason": {
          "type": "structure",
          "members": {
            "Code": {
              "type": "string",
              "enum": [
                "INTERNAL_ERROR",
                "IMAGE_UNAVAILABLE"
              ]
            },
            "Message": {
              "shape": "S2"
            }
          }
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "EnableDefaultInternetAccess": {
          "type": "boolean"
        },
        "DomainJoinInfo": {
          "shape": "St"
        },
        "ImageBuilderErrors": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ErrorCode": {
                "shape": "S10"
              },
              "ErrorMessage": {
                "shape": "S2"
              },
              "ErrorTimestamp": {
                "type": "timestamp"
              }
            }
          }
        },
        "AppstreamAgentVersion": {
          "shape": "S12"
        }
      }
    },
    "S15": {
      "type": "string",
      "enum": [
        "WINDOWS"
      ]
    },
    "S1f": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ConnectorType"
        ],
        "members": {
          "ConnectorType": {
            "type": "string",
            "enum": [
              "HOMEFOLDERS",
              "GOOGLE_DRIVE",
              "ONE_DRIVE"
            ]
          },
          "ResourceIdentifier": {
            "type": "string",
            "min": 1
          },
          "Domains": {
            "type": "list",
            "member": {
              "type": "string",
              "max": 64
            },
            "max": 10
          }
        }
      }
    },
    "S1l": {
      "type": "string",
      "max": 1000
    },
    "S1m": {
      "type": "string",
      "max": 1000
    },
    "S1n": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Action",
          "Permission"
        ],
        "members": {
          "Action": {
            "type": "string",
            "enum": [
              "CLIPBOARD_COPY_FROM_LOCAL_DEVICE",
              "CLIPBOARD_COPY_TO_LOCAL_DEVICE",
              "FILE_UPLOAD",
              "FILE_DOWNLOAD",
              "PRINTING_TO_LOCAL_DEVICE"
            ]
          },
          "Permission": {
            "type": "string",
            "enum": [
              "ENABLED",
              "DISABLED"
            ]
          }
        }
      },
      "min": 1
    },
    "S1r": {
      "type": "structure",
      "required": [
        "Enabled"
      ],
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "SettingsGroup": {
          "shape": "S1t"
        }
      }
    },
    "S1t": {
      "type": "string",
      "max": 100
    },
    "S1v": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Arn": {
          "shape": "Sk"
        },
        "Name": {
          "shape": "S2"
        },
        "Description": {
          "shape": "S2"
        },
        "DisplayName": {
          "shape": "S2"
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "StorageConnectors": {
          "shape": "S1f"
        },
        "RedirectURL": {
          "shape": "S1l"
        },
        "FeedbackURL": {
          "shape": "S1m"
        },
        "StackErrors": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ErrorCode": {
                "type": "string",
                "enum": [
                  "STORAGE_CONNECTOR_ERROR",
                  "INTERNAL_SERVICE_ERROR"
                ]
              },
              "ErrorMessage": {
                "shape": "S2"
              }
            }
          }
        },
        "UserSettings": {
          "shape": "S1n"
        },
        "ApplicationSettings": {
          "type": "structure",
          "members": {
            "Enabled": {
              "type": "boolean"
            },
            "SettingsGroup": {
              "shape": "S1t"
            },
            "S3BucketName": {
              "shape": "S2"
            }
          }
        }
      }
    },
    "S29": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {
          "shape": "S2"
        },
        "Arn": {
          "shape": "Sk"
        },
        "BaseImageArn": {
          "shape": "Sk"
        },
        "DisplayName": {
          "shape": "S2"
        },
        "State": {
          "type": "string",
          "enum": [
            "PENDING",
            "AVAILABLE",
            "FAILED",
            "COPYING",
            "DELETING"
          ]
        },
        "Visibility": {
          "shape": "S2b"
        },
        "ImageBuilderSupported": {
          "type": "boolean"
        },
        "Platform": {
          "shape": "S15"
        },
        "Description": {
          "shape": "S2"
        },
        "StateChangeReason": {
          "type": "structure",
          "members": {
            "Code": {
              "type": "string",
              "enum": [
                "INTERNAL_ERROR",
                "IMAGE_BUILDER_NOT_AVAILABLE",
                "IMAGE_COPY_FAILURE"
              ]
            },
            "Message": {
              "shape": "S2"
            }
          }
        },
        "Applications": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Name": {
                "shape": "S2"
              },
              "DisplayName": {
                "shape": "S2"
              },
              "IconURL": {
                "shape": "S2"
              },
              "LaunchPath": {
                "shape": "S2"
              },
              "LaunchParameters": {
                "shape": "S2"
              },
              "Enabled": {
                "type": "boolean"
              },
              "Metadata": {
                "type": "map",
                "key": {
                  "shape": "S2"
                },
                "value": {
                  "shape": "S2"
                }
              }
            }
          }
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "PublicBaseImageReleasedDate": {
          "type": "timestamp"
        },
        "AppstreamAgentVersion": {
          "shape": "S12"
        },
        "ImagePermissions": {
          "shape": "S2h"
        }
      }
    },
    "S2b": {
      "type": "string",
      "enum": [
        "PUBLIC",
        "PRIVATE",
        "SHARED"
      ]
    },
    "S2h": {
      "type": "structure",
      "members": {
        "allowFleet": {
          "type": "boolean"
        },
        "allowImageBuilder": {
          "type": "boolean"
        }
      }
    },
    "S2l": {
      "type": "string",
      "pattern": "^\\d+$"
    },
    "S2u": {
      "type": "list",
      "member": {
        "shape": "S2"
      }
    },
    "S3c": {
      "type": "string",
      "max": 32,
      "min": 2
    },
    "S3d": {
      "type": "string",
      "enum": [
        "API",
        "SAML",
        "USERPOOL"
      ]
    },
    "S3w": {
      "type": "map",
      "key": {
        "shape": "S3x"
      },
      "value": {
        "type": "string",
        "max": 256,
        "min": 0,
        "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      },
      "max": 50,
      "min": 1
    },
    "S3x": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^(^(?!aws:).[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    }
  }
}