{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-25",
    "endpointPrefix": "appsync",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "AWSAppSync",
    "serviceFullName": "AWS AppSync",
    "serviceId": "AppSync",
    "signatureVersion": "v4",
    "signingName": "appsync",
    "uid": "appsync-2017-07-25"
  },
  "operations": {
    "CreateApiKey": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/apikeys"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "description": {},
          "expires": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "apiKey": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateDataSource": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/datasources"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "name",
          "type"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "name": {},
          "description": {},
          "type": {},
          "serviceRoleArn": {},
          "dynamodbConfig": {
            "shape": "S9"
          },
          "lambdaConfig": {
            "shape": "Sb"
          },
          "elasticsearchConfig": {
            "shape": "Sc"
          },
          "httpConfig": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "dataSource": {
            "shape": "Sf"
          }
        }
      }
    },
    "CreateGraphqlApi": {
      "http": {
        "requestUri": "/v1/apis"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "authenticationType"
        ],
        "members": {
          "name": {},
          "logConfig": {
            "shape": "Sh"
          },
          "authenticationType": {},
          "userPoolConfig": {
            "shape": "Sk"
          },
          "openIDConnectConfig": {
            "shape": "Sm"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "graphqlApi": {
            "shape": "So"
          }
        }
      }
    },
    "CreateResolver": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName",
          "fieldName",
          "dataSourceName",
          "requestMappingTemplate"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "fieldName": {},
          "dataSourceName": {},
          "requestMappingTemplate": {},
          "responseMappingTemplate": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resolver": {
            "shape": "St"
          }
        }
      }
    },
    "CreateType": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/types"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "definition",
          "format"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "definition": {},
          "format": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "type": {
            "shape": "Sx"
          }
        }
      }
    },
    "DeleteApiKey": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/apikeys/{id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "id"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDataSource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/datasources/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "name"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteGraphqlApi": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteResolver": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName",
          "fieldName"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "fieldName": {
            "location": "uri",
            "locationName": "fieldName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteType": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetDataSource": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/datasources/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "name"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "dataSource": {
            "shape": "Sf"
          }
        }
      }
    },
    "GetGraphqlApi": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "graphqlApi": {
            "shape": "So"
          }
        }
      }
    },
    "GetIntrospectionSchema": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/schema"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "format"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "format": {
            "location": "querystring",
            "locationName": "format"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "schema": {
            "type": "blob"
          }
        },
        "payload": "schema"
      }
    },
    "GetResolver": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName",
          "fieldName"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "fieldName": {
            "location": "uri",
            "locationName": "fieldName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resolver": {
            "shape": "St"
          }
        }
      }
    },
    "GetSchemaCreationStatus": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/schemacreation"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "status": {},
          "details": {}
        }
      }
    },
    "GetType": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName",
          "format"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "format": {
            "location": "querystring",
            "locationName": "format"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "type": {
            "shape": "Sx"
          }
        }
      }
    },
    "ListApiKeys": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/apikeys"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "apiKeys": {
            "type": "list",
            "member": {
              "shape": "S5"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListDataSources": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/datasources"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "dataSources": {
            "type": "list",
            "member": {
              "shape": "Sf"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListGraphqlApis": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "graphqlApis": {
            "type": "list",
            "member": {
              "shape": "So"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListResolvers": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resolvers": {
            "type": "list",
            "member": {
              "shape": "St"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTypes": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/types"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "format"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "format": {
            "location": "querystring",
            "locationName": "format"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "types": {
            "type": "list",
            "member": {
              "shape": "Sx"
            }
          },
          "nextToken": {}
        }
      }
    },
    "StartSchemaCreation": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/schemacreation"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "definition"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "definition": {
            "type": "blob"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "status": {}
        }
      }
    },
    "UpdateApiKey": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/apikeys/{id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "id"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          },
          "description": {},
          "expires": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "apiKey": {
            "shape": "S5"
          }
        }
      }
    },
    "UpdateDataSource": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/datasources/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "name",
          "type"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "description": {},
          "type": {},
          "serviceRoleArn": {},
          "dynamodbConfig": {
            "shape": "S9"
          },
          "lambdaConfig": {
            "shape": "Sb"
          },
          "elasticsearchConfig": {
            "shape": "Sc"
          },
          "httpConfig": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "dataSource": {
            "shape": "Sf"
          }
        }
      }
    },
    "UpdateGraphqlApi": {
      "http": {
        "requestUri": "/v1/apis/{apiId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "name"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "name": {},
          "logConfig": {
            "shape": "Sh"
          },
          "authenticationType": {},
          "userPoolConfig": {
            "shape": "Sk"
          },
          "openIDConnectConfig": {
            "shape": "Sm"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "graphqlApi": {
            "shape": "So"
          }
        }
      }
    },
    "UpdateResolver": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName",
          "fieldName",
          "dataSourceName",
          "requestMappingTemplate"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "fieldName": {
            "location": "uri",
            "locationName": "fieldName"
          },
          "dataSourceName": {},
          "requestMappingTemplate": {},
          "responseMappingTemplate": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resolver": {
            "shape": "St"
          }
        }
      }
    },
    "UpdateType": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/types/{typeName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName",
          "format"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "definition": {},
          "format": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "type": {
            "shape": "Sx"
          }
        }
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "structure",
      "members": {
        "id": {},
        "description": {},
        "expires": {
          "type": "long"
        }
      }
    },
    "S9": {
      "type": "structure",
      "required": [
        "tableName",
        "awsRegion"
      ],
      "members": {
        "tableName": {},
        "awsRegion": {},
        "useCallerCredentials": {
          "type": "boolean"
        }
      }
    },
    "Sb": {
      "type": "structure",
      "required": [
        "lambdaFunctionArn"
      ],
      "members": {
        "lambdaFunctionArn": {}
      }
    },
    "Sc": {
      "type": "structure",
      "required": [
        "endpoint",
        "awsRegion"
      ],
      "members": {
        "endpoint": {},
        "awsRegion": {}
      }
    },
    "Sd": {
      "type": "structure",
      "members": {
        "endpoint": {}
      }
    },
    "Sf": {
      "type": "structure",
      "members": {
        "dataSourceArn": {},
        "name": {},
        "description": {},
        "type": {},
        "serviceRoleArn": {},
        "dynamodbConfig": {
          "shape": "S9"
        },
        "lambdaConfig": {
          "shape": "Sb"
        },
        "elasticsearchConfig": {
          "shape": "Sc"
        },
        "httpConfig": {
          "shape": "Sd"
        }
      }
    },
    "Sh": {
      "type": "structure",
      "required": [
        "fieldLogLevel",
        "cloudWatchLogsRoleArn"
      ],
      "members": {
        "fieldLogLevel": {},
        "cloudWatchLogsRoleArn": {}
      }
    },
    "Sk": {
      "type": "structure",
      "required": [
        "userPoolId",
        "awsRegion",
        "defaultAction"
      ],
      "members": {
        "userPoolId": {},
        "awsRegion": {},
        "defaultAction": {},
        "appIdClientRegex": {}
      }
    },
    "Sm": {
      "type": "structure",
      "required": [
        "issuer"
      ],
      "members": {
        "issuer": {},
        "clientId": {},
        "iatTTL": {
          "type": "long"
        },
        "authTTL": {
          "type": "long"
        }
      }
    },
    "So": {
      "type": "structure",
      "members": {
        "name": {},
        "apiId": {},
        "authenticationType": {},
        "logConfig": {
          "shape": "Sh"
        },
        "userPoolConfig": {
          "shape": "Sk"
        },
        "openIDConnectConfig": {
          "shape": "Sm"
        },
        "arn": {},
        "uris": {
          "type": "map",
          "key": {},
          "value": {}
        }
      }
    },
    "St": {
      "type": "structure",
      "members": {
        "typeName": {},
        "fieldName": {},
        "dataSourceName": {},
        "resolverArn": {},
        "requestMappingTemplate": {},
        "responseMappingTemplate": {}
      }
    },
    "Sx": {
      "type": "structure",
      "members": {
        "name": {},
        "description": {},
        "arn": {},
        "definition": {},
        "format": {}
      }
    }
  }
}