{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-12-01",
    "endpointPrefix": "appstream2",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon AppStream",
    "serviceId": "AppStream",
    "signatureVersion": "v4",
    "signingName": "appstream",
    "targetPrefix": "PhotonAdminProxyService",
    "uid": "appstream-2016-12-01"
  },
  "operations": {
    "AssociateFleet": {
      "input": {
        "type": "structure",
        "required": [
          "FleetName",
          "StackName"
        ],
        "members": {
          "FleetName": {},
          "StackName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CopyImage": {
      "input": {
        "type": "structure",
        "required": [
          "SourceImageName",
          "DestinationImageName",
          "DestinationRegion"
        ],
        "members": {
          "SourceImageName": {},
          "DestinationImageName": {},
          "DestinationRegion": {},
          "DestinationImageDescription": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DestinationImageName": {}
        }
      }
    },
    "CreateDirectoryConfig": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryName",
          "OrganizationalUnitDistinguishedNames",
          "ServiceAccountCredentials"
        ],
        "members": {
          "DirectoryName": {},
          "OrganizationalUnitDistinguishedNames": {
            "shape": "Sb"
          },
          "ServiceAccountCredentials": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryConfig": {
            "shape": "Sh"
          }
        }
      }
    },
    "CreateFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "InstanceType",
          "ComputeCapacity"
        ],
        "members": {
          "Name": {},
          "ImageName": {},
          "ImageArn": {},
          "InstanceType": {},
          "FleetType": {},
          "ComputeCapacity": {
            "shape": "Sm"
          },
          "VpcConfig": {
            "shape": "So"
          },
          "MaxUserDurationInSeconds": {
            "type": "integer"
          },
          "DisconnectTimeoutInSeconds": {
            "type": "integer"
          },
          "Description": {},
          "DisplayName": {},
          "EnableDefaultInternetAccess": {
            "type": "boolean"
          },
          "DomainJoinInfo": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Fleet": {
            "shape": "Sv"
          }
        }
      }
    },
    "CreateImageBuilder": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "InstanceType"
        ],
        "members": {
          "Name": {},
          "ImageName": {},
          "ImageArn": {},
          "InstanceType": {},
          "Description": {},
          "DisplayName": {},
          "VpcConfig": {
            "shape": "So"
          },
          "EnableDefaultInternetAccess": {
            "type": "boolean"
          },
          "DomainJoinInfo": {
            "shape": "St"
          },
          "AppstreamAgentVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilder": {
            "shape": "S14"
          }
        }
      }
    },
    "CreateImageBuilderStreamingURL": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Validity": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingURL": {},
          "Expires": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateStack": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "DisplayName": {},
          "StorageConnectors": {
            "shape": "S1f"
          },
          "RedirectURL": {},
          "FeedbackURL": {},
          "UserSettings": {
            "shape": "S1n"
          },
          "ApplicationSettings": {
            "shape": "S1r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Stack": {
            "shape": "S1v"
          }
        }
      }
    },
    "CreateStreamingURL": {
      "input": {
        "type": "structure",
        "required": [
          "StackName",
          "FleetName",
          "UserId"
        ],
        "members": {
          "StackName": {},
          "FleetName": {},
          "UserId": {},
          "ApplicationId": {},
          "Validity": {
            "type": "long"
          },
          "SessionContext": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingURL": {},
          "Expires": {
            "type": "timestamp"
          }
        }
      }
    },
    "DeleteDirectoryConfig": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryName"
        ],
        "members": {
          "DirectoryName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteImage": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Image": {
            "shape": "S29"
          }
        }
      }
    },
    "DeleteImageBuilder": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilder": {
            "shape": "S14"
          }
        }
      }
    },
    "DeleteImagePermissions": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "SharedAccountId"
        ],
        "members": {
          "Name": {},
          "SharedAccountId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteStack": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeDirectoryConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryNames": {
            "type": "list",
            "member": {}
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryConfigs": {
            "type": "list",
            "member": {
              "shape": "Sh"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeFleets": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S2u"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Fleets": {
            "type": "list",
            "member": {
              "shape": "Sv"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeImageBuilders": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S2u"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilders": {
            "type": "list",
            "member": {
              "shape": "S14"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeImagePermissions": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "MaxResults": {
            "type": "integer"
          },
          "SharedAwsAccountIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "SharedImagePermissionsList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "sharedAccountId",
                "imagePermissions"
              ],
              "members": {
                "sharedAccountId": {},
                "imagePermissions": {
                  "shape": "S2h"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeImages": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S2u"
          },
          "Arns": {
            "type": "list",
            "member": {}
          },
          "Type": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Images": {
            "type": "list",
            "member": {
              "shape": "S29"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeSessions": {
      "input": {
        "type": "structure",
        "required": [
          "StackName",
          "FleetName"
        ],
        "members": {
          "StackName": {},
          "FleetName": {},
          "UserId": {},
          "NextToken": {},
          "Limit": {
            "type": "integer"
          },
          "AuthenticationType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Sessions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "UserId",
                "StackName",
                "FleetName",
                "State"
              ],
              "members": {
                "Id": {},
                "UserId": {},
                "StackName": {},
                "FleetName": {},
                "State": {},
                "AuthenticationType": {},
                "NetworkAccessConfiguration": {
                  "type": "structure",
                  "members": {
                    "EniPrivateIpAddress": {},
                    "EniId": {}
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeStacks": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S2u"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Stacks": {
            "type": "list",
            "member": {
              "shape": "S1v"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisassociateFleet": {
      "input": {
        "type": "structure",
        "required": [
          "FleetName",
          "StackName"
        ],
        "members": {
          "FleetName": {},
          "StackName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ExpireSession": {
      "input": {
        "type": "structure",
        "required": [
          "SessionId"
        ],
        "members": {
          "SessionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListAssociatedFleets": {
      "input": {
        "type": "structure",
        "required": [
          "StackName"
        ],
        "members": {
          "StackName": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S2u"
          },
          "NextToken": {}
        }
      }
    },
    "ListAssociatedStacks": {
      "input": {
        "type": "structure",
        "required": [
          "FleetName"
        ],
        "members": {
          "FleetName": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S2u"
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3w"
          }
        }
      }
    },
    "StartFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartImageBuilder": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "AppstreamAgentVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilder": {
            "shape": "S14"
          }
        }
      }
    },
    "StopFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopImageBuilder": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageBuilder": {
            "shape": "S14"
          }
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDirectoryConfig": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryName"
        ],
        "members": {
          "DirectoryName": {},
          "OrganizationalUnitDistinguishedNames": {
            "shape": "Sb"
          },
          "ServiceAccountCredentials": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryConfig": {
            "shape": "Sh"
          }
        }
      }
    },
    "UpdateFleet": {
      "input": {
        "type": "structure",
        "members": {
          "ImageName": {},
          "ImageArn": {},
          "Name": {},
          "InstanceType": {},
          "ComputeCapacity": {
            "shape": "Sm"
          },
          "VpcConfig": {
            "shape": "So"
          },
          "MaxUserDurationInSeconds": {
            "type": "integer"
          },
          "DisconnectTimeoutInSeconds": {
            "type": "integer"
          },
          "DeleteVpcConfig": {
            "deprecated": true,
            "type": "boolean"
          },
          "Description": {},
          "DisplayName": {},
          "EnableDefaultInternetAccess": {
            "type": "boolean"
          },
          "DomainJoinInfo": {
            "shape": "St"
          },
          "AttributesToDelete": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Fleet": {
            "shape": "Sv"
          }
        }
      }
    },
    "UpdateImagePermissions": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "SharedAccountId",
          "ImagePermissions"
        ],
        "members": {
          "Name": {},
          "SharedAccountId": {},
          "ImagePermissions": {
            "shape": "S2h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateStack": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "DisplayName": {},
          "Description": {},
          "Name": {},
          "StorageConnectors": {
            "shape": "S1f"
          },
          "DeleteStorageConnectors": {
            "deprecated": true,
            "type": "boolean"
          },
          "RedirectURL": {},
          "FeedbackURL": {},
          "AttributesToDelete": {
            "type": "list",
            "member": {}
          },
          "UserSettings": {
            "shape": "S1n"
          },
          "ApplicationSettings": {
            "shape": "S1r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Stack": {
            "shape": "S1v"
          }
        }
      }
    }
  },
  "shapes": {
    "Sb": {
      "type": "list",
      "member": {}
    },
    "Sd": {
      "type": "structure",
      "required": [
        "AccountName",
        "AccountPassword"
      ],
      "members": {
        "AccountName": {
          "type": "string",
          "sensitive": true
        },
        "AccountPassword": {
          "type": "string",
          "sensitive": true
        }
      }
    },
    "Sh": {
      "type": "structure",
      "required": [
        "DirectoryName"
      ],
      "members": {
        "DirectoryName": {},
        "OrganizationalUnitDistinguishedNames": {
          "shape": "Sb"
        },
        "ServiceAccountCredentials": {
          "shape": "Sd"
        },
        "CreatedTime": {
          "type": "timestamp"
        }
      }
    },
    "Sm": {
      "type": "structure",
      "required": [
        "DesiredInstances"
      ],
      "members": {
        "DesiredInstances": {
          "type": "integer"
        }
      }
    },
    "So": {
      "type": "structure",
      "members": {
        "SubnetIds": {
          "type": "list",
          "member": {}
        },
        "SecurityGroupIds": {
          "type": "list",
          "member": {}
        }
      }
    },
    "St": {
      "type": "structure",
      "members": {
        "DirectoryName": {},
        "OrganizationalUnitDistinguishedName": {}
      }
    },
    "Sv": {
      "type": "structure",
      "required": [
        "Arn",
        "Name",
        "InstanceType",
        "ComputeCapacityStatus",
        "State"
      ],
      "members": {
        "Arn": {},
        "Name": {},
        "DisplayName": {},
        "Description": {},
        "ImageName": {},
        "ImageArn": {},
        "InstanceType": {},
        "FleetType": {},
        "ComputeCapacityStatus": {
          "type": "structure",
          "required": [
            "Desired"
          ],
          "members": {
            "Desired": {
              "type": "integer"
            },
            "Running": {
              "type": "integer"
            },
            "InUse": {
              "type": "integer"
            },
            "Available": {
              "type": "integer"
            }
          }
        },
        "MaxUserDurationInSeconds": {
          "type": "integer"
        },
        "DisconnectTimeoutInSeconds": {
          "type": "integer"
        },
        "State": {},
        "VpcConfig": {
          "shape": "So"
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "FleetErrors": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ErrorCode": {},
              "ErrorMessage": {}
            }
          }
        },
        "EnableDefaultInternetAccess": {
          "type": "boolean"
        },
        "DomainJoinInfo": {
          "shape": "St"
        }
      }
    },
    "S14": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "Arn": {},
        "ImageArn": {},
        "Description": {},
        "DisplayName": {},
        "VpcConfig": {
          "shape": "So"
        },
        "InstanceType": {},
        "Platform": {},
        "State": {},
        "StateChangeReason": {
          "type": "structure",
          "members": {
            "Code": {},
            "Message": {}
          }
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "EnableDefaultInternetAccess": {
          "type": "boolean"
        },
        "DomainJoinInfo": {
          "shape": "St"
        },
        "ImageBuilderErrors": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ErrorCode": {},
              "ErrorMessage": {},
              "ErrorTimestamp": {
                "type": "timestamp"
              }
            }
          }
        },
        "AppstreamAgentVersion": {}
      }
    },
    "S1f": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ConnectorType"
        ],
        "members": {
          "ConnectorType": {},
          "ResourceIdentifier": {},
          "Domains": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "S1n": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Action",
          "Permission"
        ],
        "members": {
          "Action": {},
          "Permission": {}
        }
      }
    },
    "S1r": {
      "type": "structure",
      "required": [
        "Enabled"
      ],
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "SettingsGroup": {}
      }
    },
    "S1v": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Arn": {},
        "Name": {},
        "Description": {},
        "DisplayName": {},
        "CreatedTime": {
          "type": "timestamp"
        },
        "StorageConnectors": {
          "shape": "S1f"
        },
        "RedirectURL": {},
        "FeedbackURL": {},
        "StackErrors": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ErrorCode": {},
              "ErrorMessage": {}
            }
          }
        },
        "UserSettings": {
          "shape": "S1n"
        },
        "ApplicationSettings": {
          "type": "structure",
          "members": {
            "Enabled": {
              "type": "boolean"
            },
            "SettingsGroup": {},
            "S3BucketName": {}
          }
        }
      }
    },
    "S29": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "Arn": {},
        "BaseImageArn": {},
        "DisplayName": {},
        "State": {},
        "Visibility": {},
        "ImageBuilderSupported": {
          "type": "boolean"
        },
        "Platform": {},
        "Description": {},
        "StateChangeReason": {
          "type": "structure",
          "members": {
            "Code": {},
            "Message": {}
          }
        },
        "Applications": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Name": {},
              "DisplayName": {},
              "IconURL": {},
              "LaunchPath": {},
              "LaunchParameters": {},
              "Enabled": {
                "type": "boolean"
              },
              "Metadata": {
                "type": "map",
                "key": {},
                "value": {}
              }
            }
          }
        },
        "CreatedTime": {
          "type": "timestamp"
        },
        "PublicBaseImageReleasedDate": {
          "type": "timestamp"
        },
        "AppstreamAgentVersion": {},
        "ImagePermissions": {
          "shape": "S2h"
        }
      }
    },
    "S2h": {
      "type": "structure",
      "members": {
        "allowFleet": {
          "type": "boolean"
        },
        "allowImageBuilder": {
          "type": "boolean"
        }
      }
    },
    "S2u": {
      "type": "list",
      "member": {}
    },
    "S3w": {
      "type": "map",
      "key": {},
      "value": {}
    }
  }
}