{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-25",
    "endpointPrefix": "appsync",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "AWSAppSync",
    "serviceFullName": "AWS AppSync",
    "serviceId": "AppSync",
    "signatureVersion": "v4",
    "signingName": "appsync",
    "uid": "appsync-2017-07-25"
  },
  "operations": {
    "AssociateApi": {
      "http": {
        "requestUri": "/v1/domainnames/{domainName}/apiassociation"
      },
      "input": {
        "type": "structure",
        "required": [
          "domainName",
          "apiId"
        ],
        "members": {
          "domainName": {
            "location": "uri",
            "locationName": "domainName"
          },
          "apiId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "apiAssociation": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateApiCache": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/ApiCaches"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "ttl",
          "apiCachingBehavior",
          "type"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "ttl": {
            "type": "long"
          },
          "transitEncryptionEnabled": {
            "type": "boolean"
          },
          "atRestEncryptionEnabled": {
            "type": "boolean"
          },
          "apiCachingBehavior": {},
          "type": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "apiCache": {
            "shape": "Sd"
          }
        }
      }
    },
    "CreateApiKey": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/apikeys"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "description": {},
          "expires": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "apiKey": {
            "shape": "Sh"
          }
        }
      }
    },
    "CreateDataSource": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/datasources"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "name",
          "type"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "name": {},
          "description": {},
          "type": {},
          "serviceRoleArn": {},
          "dynamodbConfig": {
            "shape": "Sl"
          },
          "lambdaConfig": {
            "shape": "Sn"
          },
          "elasticsearchConfig": {
            "shape": "So"
          },
          "openSearchServiceConfig": {
            "shape": "Sp"
          },
          "httpConfig": {
            "shape": "Sq"
          },
          "relationalDatabaseConfig": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "dataSource": {
            "shape": "Sy"
          }
        }
      }
    },
    "CreateDomainName": {
      "http": {
        "requestUri": "/v1/domainnames"
      },
      "input": {
        "type": "structure",
        "required": [
          "domainName",
          "certificateArn"
        ],
        "members": {
          "domainName": {},
          "certificateArn": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domainNameConfig": {
            "shape": "S13"
          }
        }
      }
    },
    "CreateFunction": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/functions"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "name",
          "dataSourceName",
          "functionVersion"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "name": {},
          "description": {},
          "dataSourceName": {},
          "requestMappingTemplate": {},
          "responseMappingTemplate": {},
          "functionVersion": {},
          "syncConfig": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "functionConfiguration": {
            "shape": "S1b"
          }
        }
      }
    },
    "CreateGraphqlApi": {
      "http": {
        "requestUri": "/v1/apis"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "authenticationType"
        ],
        "members": {
          "name": {},
          "logConfig": {
            "shape": "S1d"
          },
          "authenticationType": {},
          "userPoolConfig": {
            "shape": "S1g"
          },
          "openIDConnectConfig": {
            "shape": "S1i"
          },
          "tags": {
            "shape": "S1j"
          },
          "additionalAuthenticationProviders": {
            "shape": "S1m"
          },
          "xrayEnabled": {
            "type": "boolean"
          },
          "lambdaAuthorizerConfig": {
            "shape": "S1p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "graphqlApi": {
            "shape": "S1s"
          }
        }
      }
    },
    "CreateResolver": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName",
          "fieldName"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "fieldName": {},
          "dataSourceName": {},
          "requestMappingTemplate": {},
          "responseMappingTemplate": {},
          "kind": {},
          "pipelineConfig": {
            "shape": "S1w"
          },
          "syncConfig": {
            "shape": "S16"
          },
          "cachingConfig": {
            "shape": "S1y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resolver": {
            "shape": "S21"
          }
        }
      }
    },
    "CreateType": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/types"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "definition",
          "format"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "definition": {},
          "format": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "type": {
            "shape": "S25"
          }
        }
      }
    },
    "DeleteApiCache": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/ApiCaches"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteApiKey": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/apikeys/{id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "id"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDataSource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/datasources/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "name"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDomainName": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/domainnames/{domainName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "domainName"
        ],
        "members": {
          "domainName": {
            "location": "uri",
            "locationName": "domainName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteFunction": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/functions/{functionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "functionId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "functionId": {
            "location": "uri",
            "locationName": "functionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteGraphqlApi": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteResolver": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName",
          "fieldName"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "fieldName": {
            "location": "uri",
            "locationName": "fieldName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteType": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateApi": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/domainnames/{domainName}/apiassociation"
      },
      "input": {
        "type": "structure",
        "required": [
          "domainName"
        ],
        "members": {
          "domainName": {
            "location": "uri",
            "locationName": "domainName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "FlushApiCache": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/FlushCache"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetApiAssociation": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/domainnames/{domainName}/apiassociation"
      },
      "input": {
        "type": "structure",
        "required": [
          "domainName"
        ],
        "members": {
          "domainName": {
            "location": "uri",
            "locationName": "domainName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "apiAssociation": {
            "shape": "S5"
          }
        }
      }
    },
    "GetApiCache": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/ApiCaches"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "apiCache": {
            "shape": "Sd"
          }
        }
      }
    },
    "GetDataSource": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/datasources/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "name"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "dataSource": {
            "shape": "Sy"
          }
        }
      }
    },
    "GetDomainName": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/domainnames/{domainName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "domainName"
        ],
        "members": {
          "domainName": {
            "location": "uri",
            "locationName": "domainName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domainNameConfig": {
            "shape": "S13"
          }
        }
      }
    },
    "GetFunction": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/functions/{functionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "functionId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "functionId": {
            "location": "uri",
            "locationName": "functionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "functionConfiguration": {
            "shape": "S1b"
          }
        }
      }
    },
    "GetGraphqlApi": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "graphqlApi": {
            "shape": "S1s"
          }
        }
      }
    },
    "GetIntrospectionSchema": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/schema"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "format"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "format": {
            "location": "querystring",
            "locationName": "format"
          },
          "includeDirectives": {
            "location": "querystring",
            "locationName": "includeDirectives",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "schema": {
            "type": "blob"
          }
        },
        "payload": "schema"
      }
    },
    "GetResolver": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName",
          "fieldName"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "fieldName": {
            "location": "uri",
            "locationName": "fieldName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resolver": {
            "shape": "S21"
          }
        }
      }
    },
    "GetSchemaCreationStatus": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/schemacreation"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "status": {},
          "details": {}
        }
      }
    },
    "GetType": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName",
          "format"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "format": {
            "location": "querystring",
            "locationName": "format"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "type": {
            "shape": "S25"
          }
        }
      }
    },
    "ListApiKeys": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/apikeys"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "apiKeys": {
            "type": "list",
            "member": {
              "shape": "Sh"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListDataSources": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/datasources"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "dataSources": {
            "type": "list",
            "member": {
              "shape": "Sy"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListDomainNames": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/domainnames"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domainNameConfigs": {
            "type": "list",
            "member": {
              "shape": "S13"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListFunctions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/functions"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "functions": {
            "type": "list",
            "member": {
              "shape": "S1b"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListGraphqlApis": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "graphqlApis": {
            "type": "list",
            "member": {
              "shape": "S1s"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListResolvers": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resolvers": {
            "shape": "S3x"
          },
          "nextToken": {}
        }
      }
    },
    "ListResolversByFunction": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/functions/{functionId}/resolvers"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "functionId"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "functionId": {
            "location": "uri",
            "locationName": "functionId"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resolvers": {
            "shape": "S3x"
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "S1j"
          }
        }
      }
    },
    "ListTypes": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/types"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "format"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "format": {
            "location": "querystring",
            "locationName": "format"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "types": {
            "type": "list",
            "member": {
              "shape": "S25"
            }
          },
          "nextToken": {}
        }
      }
    },
    "StartSchemaCreation": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/schemacreation"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "definition"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "definition": {
            "type": "blob"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "status": {}
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/v1/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateApiCache": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/ApiCaches/update"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "ttl",
          "apiCachingBehavior",
          "type"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "ttl": {
            "type": "long"
          },
          "apiCachingBehavior": {},
          "type": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "apiCache": {
            "shape": "Sd"
          }
        }
      }
    },
    "UpdateApiKey": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/apikeys/{id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "id"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          },
          "description": {},
          "expires": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "apiKey": {
            "shape": "Sh"
          }
        }
      }
    },
    "UpdateDataSource": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/datasources/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "name",
          "type"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "description": {},
          "type": {},
          "serviceRoleArn": {},
          "dynamodbConfig": {
            "shape": "Sl"
          },
          "lambdaConfig": {
            "shape": "Sn"
          },
          "elasticsearchConfig": {
            "shape": "So"
          },
          "openSearchServiceConfig": {
            "shape": "Sp"
          },
          "httpConfig": {
            "shape": "Sq"
          },
          "relationalDatabaseConfig": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "dataSource": {
            "shape": "Sy"
          }
        }
      }
    },
    "UpdateDomainName": {
      "http": {
        "requestUri": "/v1/domainnames/{domainName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "domainName"
        ],
        "members": {
          "domainName": {
            "location": "uri",
            "locationName": "domainName"
          },
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domainNameConfig": {
            "shape": "S13"
          }
        }
      }
    },
    "UpdateFunction": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/functions/{functionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "name",
          "functionId",
          "dataSourceName",
          "functionVersion"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "name": {},
          "description": {},
          "functionId": {
            "location": "uri",
            "locationName": "functionId"
          },
          "dataSourceName": {},
          "requestMappingTemplate": {},
          "responseMappingTemplate": {},
          "functionVersion": {},
          "syncConfig": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "functionConfiguration": {
            "shape": "S1b"
          }
        }
      }
    },
    "UpdateGraphqlApi": {
      "http": {
        "requestUri": "/v1/apis/{apiId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "name"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "name": {},
          "logConfig": {
            "shape": "S1d"
          },
          "authenticationType": {},
          "userPoolConfig": {
            "shape": "S1g"
          },
          "openIDConnectConfig": {
            "shape": "S1i"
          },
          "additionalAuthenticationProviders": {
            "shape": "S1m"
          },
          "xrayEnabled": {
            "type": "boolean"
          },
          "lambdaAuthorizerConfig": {
            "shape": "S1p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "graphqlApi": {
            "shape": "S1s"
          }
        }
      }
    },
    "UpdateResolver": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName",
          "fieldName"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "fieldName": {
            "location": "uri",
            "locationName": "fieldName"
          },
          "dataSourceName": {},
          "requestMappingTemplate": {},
          "responseMappingTemplate": {},
          "kind": {},
          "pipelineConfig": {
            "shape": "S1w"
          },
          "syncConfig": {
            "shape": "S16"
          },
          "cachingConfig": {
            "shape": "S1y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resolver": {
            "shape": "S21"
          }
        }
      }
    },
    "UpdateType": {
      "http": {
        "requestUri": "/v1/apis/{apiId}/types/{typeName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "apiId",
          "typeName",
          "format"
        ],
        "members": {
          "apiId": {
            "location": "uri",
            "locationName": "apiId"
          },
          "typeName": {
            "location": "uri",
            "locationName": "typeName"
          },
          "definition": {},
          "format": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "type": {
            "shape": "S25"
          }
        }
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "structure",
      "members": {
        "domainName": {},
        "apiId": {},
        "associationStatus": {},
        "deploymentDetail": {}
      }
    },
    "Sd": {
      "type": "structure",
      "members": {
        "ttl": {
          "type": "long"
        },
        "apiCachingBehavior": {},
        "transitEncryptionEnabled": {
          "type": "boolean"
        },
        "atRestEncryptionEnabled": {
          "type": "boolean"
        },
        "type": {},
        "status": {}
      }
    },
    "Sh": {
      "type": "structure",
      "members": {
        "id": {},
        "description": {},
        "expires": {
          "type": "long"
        },
        "deletes": {
          "type": "long"
        }
      }
    },
    "Sl": {
      "type": "structure",
      "required": [
        "tableName",
        "awsRegion"
      ],
      "members": {
        "tableName": {},
        "awsRegion": {},
        "useCallerCredentials": {
          "type": "boolean"
        },
        "deltaSyncConfig": {
          "type": "structure",
          "members": {
            "baseTableTTL": {
              "type": "long"
            },
            "deltaSyncTableName": {},
            "deltaSyncTableTTL": {
              "type": "long"
            }
          }
        },
        "versioned": {
          "type": "boolean"
        }
      }
    },
    "Sn": {
      "type": "structure",
      "required": [
        "lambdaFunctionArn"
      ],
      "members": {
        "lambdaFunctionArn": {}
      }
    },
    "So": {
      "type": "structure",
      "required": [
        "endpoint",
        "awsRegion"
      ],
      "members": {
        "endpoint": {},
        "awsRegion": {}
      }
    },
    "Sp": {
      "type": "structure",
      "required": [
        "endpoint",
        "awsRegion"
      ],
      "members": {
        "endpoint": {},
        "awsRegion": {}
      }
    },
    "Sq": {
      "type": "structure",
      "members": {
        "endpoint": {},
        "authorizationConfig": {
          "type": "structure",
          "required": [
            "authorizationType"
          ],
          "members": {
            "authorizationType": {},
            "awsIamConfig": {
              "type": "structure",
              "members": {
                "signingRegion": {},
                "signingServiceName": {}
              }
            }
          }
        }
      }
    },
    "Su": {
      "type": "structure",
      "members": {
        "relationalDatabaseSourceType": {},
        "rdsHttpEndpointConfig": {
          "type": "structure",
          "members": {
            "awsRegion": {},
            "dbClusterIdentifier": {},
            "databaseName": {},
            "schema": {},
            "awsSecretStoreArn": {}
          }
        }
      }
    },
    "Sy": {
      "type": "structure",
      "members": {
        "dataSourceArn": {},
        "name": {},
        "description": {},
        "type": {},
        "serviceRoleArn": {},
        "dynamodbConfig": {
          "shape": "Sl"
        },
        "lambdaConfig": {
          "shape": "Sn"
        },
        "elasticsearchConfig": {
          "shape": "So"
        },
        "openSearchServiceConfig": {
          "shape": "Sp"
        },
        "httpConfig": {
          "shape": "Sq"
        },
        "relationalDatabaseConfig": {
          "shape": "Su"
        }
      }
    },
    "S13": {
      "type": "structure",
      "members": {
        "domainName": {},
        "description": {},
        "certificateArn": {},
        "appsyncDomainName": {},
        "hostedZoneId": {}
      }
    },
    "S16": {
      "type": "structure",
      "members": {
        "conflictHandler": {},
        "conflictDetection": {},
        "lambdaConflictHandlerConfig": {
          "type": "structure",
          "members": {
            "lambdaConflictHandlerArn": {}
          }
        }
      }
    },
    "S1b": {
      "type": "structure",
      "members": {
        "functionId": {},
        "functionArn": {},
        "name": {},
        "description": {},
        "dataSourceName": {},
        "requestMappingTemplate": {},
        "responseMappingTemplate": {},
        "functionVersion": {},
        "syncConfig": {
          "shape": "S16"
        }
      }
    },
    "S1d": {
      "type": "structure",
      "required": [
        "fieldLogLevel",
        "cloudWatchLogsRoleArn"
      ],
      "members": {
        "fieldLogLevel": {},
        "cloudWatchLogsRoleArn": {},
        "excludeVerboseContent": {
          "type": "boolean"
        }
      }
    },
    "S1g": {
      "type": "structure",
      "required": [
        "userPoolId",
        "awsRegion",
        "defaultAction"
      ],
      "members": {
        "userPoolId": {},
        "awsRegion": {},
        "defaultAction": {},
        "appIdClientRegex": {}
      }
    },
    "S1i": {
      "type": "structure",
      "required": [
        "issuer"
      ],
      "members": {
        "issuer": {},
        "clientId": {},
        "iatTTL": {
          "type": "long"
        },
        "authTTL": {
          "type": "long"
        }
      }
    },
    "S1j": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1m": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "authenticationType": {},
          "openIDConnectConfig": {
            "shape": "S1i"
          },
          "userPoolConfig": {
            "type": "structure",
            "required": [
              "userPoolId",
              "awsRegion"
            ],
            "members": {
              "userPoolId": {},
              "awsRegion": {},
              "appIdClientRegex": {}
            }
          },
          "lambdaAuthorizerConfig": {
            "shape": "S1p"
          }
        }
      }
    },
    "S1p": {
      "type": "structure",
      "required": [
        "authorizerUri"
      ],
      "members": {
        "authorizerResultTtlInSeconds": {
          "type": "integer"
        },
        "authorizerUri": {},
        "identityValidationExpression": {}
      }
    },
    "S1s": {
      "type": "structure",
      "members": {
        "name": {},
        "apiId": {},
        "authenticationType": {},
        "logConfig": {
          "shape": "S1d"
        },
        "userPoolConfig": {
          "shape": "S1g"
        },
        "openIDConnectConfig": {
          "shape": "S1i"
        },
        "arn": {},
        "uris": {
          "type": "map",
          "key": {},
          "value": {}
        },
        "tags": {
          "shape": "S1j"
        },
        "additionalAuthenticationProviders": {
          "shape": "S1m"
        },
        "xrayEnabled": {
          "type": "boolean"
        },
        "wafWebAclArn": {},
        "lambdaAuthorizerConfig": {
          "shape": "S1p"
        }
      }
    },
    "S1w": {
      "type": "structure",
      "members": {
        "functions": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S1y": {
      "type": "structure",
      "members": {
        "ttl": {
          "type": "long"
        },
        "cachingKeys": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S21": {
      "type": "structure",
      "members": {
        "typeName": {},
        "fieldName": {},
        "dataSourceName": {},
        "resolverArn": {},
        "requestMappingTemplate": {},
        "responseMappingTemplate": {},
        "kind": {},
        "pipelineConfig": {
          "shape": "S1w"
        },
        "syncConfig": {
          "shape": "S16"
        },
        "cachingConfig": {
          "shape": "S1y"
        }
      }
    },
    "S25": {
      "type": "structure",
      "members": {
        "name": {},
        "description": {},
        "arn": {},
        "definition": {},
        "format": {}
      }
    },
    "S3x": {
      "type": "list",
      "member": {
        "shape": "S21"
      }
    }
  }
}