{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-05-18",
    "endpointPrefix": "athena",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Athena",
    "serviceId": "Athena",
    "signatureVersion": "v4",
    "targetPrefix": "AmazonAthena",
    "uid": "athena-2017-05-18"
  },
  "operations": {
    "BatchGetNamedQuery": {
      "input": {
        "type": "structure",
        "required": [
          "NamedQueryIds"
        ],
        "members": {
          "NamedQueryIds": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NamedQueries": {
            "type": "list",
            "member": {
              "shape": "S6"
            }
          },
          "UnprocessedNamedQueryIds": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "NamedQueryId": {},
                "ErrorCode": {
                  "shape": "Sd"
                },
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchGetQueryExecution": {
      "input": {
        "type": "structure",
        "required": [
          "QueryExecutionIds"
        ],
        "members": {
          "QueryExecutionIds": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "QueryExecutions": {
            "type": "list",
            "member": {
              "shape": "Sk"
            }
          },
          "UnprocessedQueryExecutionIds": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "QueryExecutionId": {},
                "ErrorCode": {
                  "shape": "Sd"
                },
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "CreateNamedQuery": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Database",
          "QueryString"
        ],
        "members": {
          "Name": {
            "shape": "S7"
          },
          "Description": {
            "shape": "S8"
          },
          "Database": {
            "shape": "S9"
          },
          "QueryString": {
            "shape": "Sa"
          },
          "ClientRequestToken": {
            "shape": "Sy",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NamedQueryId": {}
        }
      },
      "idempotent": true
    },
    "DeleteNamedQuery": {
      "input": {
        "type": "structure",
        "required": [
          "NamedQueryId"
        ],
        "members": {
          "NamedQueryId": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "GetNamedQuery": {
      "input": {
        "type": "structure",
        "required": [
          "NamedQueryId"
        ],
        "members": {
          "NamedQueryId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NamedQuery": {
            "shape": "S6"
          }
        }
      }
    },
    "GetQueryExecution": {
      "input": {
        "type": "structure",
        "required": [
          "QueryExecutionId"
        ],
        "members": {
          "QueryExecutionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "QueryExecution": {
            "shape": "Sk"
          }
        }
      }
    },
    "GetQueryResults": {
      "input": {
        "type": "structure",
        "required": [
          "QueryExecutionId"
        ],
        "members": {
          "QueryExecutionId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer",
            "max": 1000,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResultSet": {
            "type": "structure",
            "members": {
              "Rows": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Data": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "VarCharValue": {}
                        }
                      }
                    }
                  }
                }
              },
              "ResultSetMetadata": {
                "type": "structure",
                "members": {
                  "ColumnInfo": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "required": [
                        "Name",
                        "Type"
                      ],
                      "members": {
                        "CatalogName": {},
                        "SchemaName": {},
                        "TableName": {},
                        "Name": {},
                        "Label": {},
                        "Type": {},
                        "Precision": {
                          "type": "integer"
                        },
                        "Scale": {
                          "type": "integer"
                        },
                        "Nullable": {
                          "type": "string",
                          "enum": [
                            "NOT_NULL",
                            "NULLABLE",
                            "UNKNOWN"
                          ]
                        },
                        "CaseSensitive": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListNamedQueries": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer",
            "max": 50,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NamedQueryIds": {
            "shape": "S2"
          },
          "NextToken": {}
        }
      }
    },
    "ListQueryExecutions": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer",
            "max": 50,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "QueryExecutionIds": {
            "shape": "Sg"
          },
          "NextToken": {}
        }
      }
    },
    "StartQueryExecution": {
      "input": {
        "type": "structure",
        "required": [
          "QueryString",
          "ResultConfiguration"
        ],
        "members": {
          "QueryString": {
            "shape": "Sa"
          },
          "ClientRequestToken": {
            "shape": "Sy",
            "idempotencyToken": true
          },
          "QueryExecutionContext": {
            "shape": "Sp"
          },
          "ResultConfiguration": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "QueryExecutionId": {}
        }
      },
      "idempotent": true
    },
    "StopQueryExecution": {
      "input": {
        "type": "structure",
        "required": [
          "QueryExecutionId"
        ],
        "members": {
          "QueryExecutionId": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {},
      "max": 50,
      "min": 1
    },
    "S6": {
      "type": "structure",
      "required": [
        "Name",
        "Database",
        "QueryString"
      ],
      "members": {
        "Name": {
          "shape": "S7"
        },
        "Description": {
          "shape": "S8"
        },
        "Database": {
          "shape": "S9"
        },
        "QueryString": {
          "shape": "Sa"
        },
        "NamedQueryId": {}
      }
    },
    "S7": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S8": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "S9": {
      "type": "string",
      "max": 32,
      "min": 1
    },
    "Sa": {
      "type": "string",
      "max": 262144,
      "min": 1
    },
    "Sd": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "Sg": {
      "type": "list",
      "member": {},
      "max": 50,
      "min": 1
    },
    "Sk": {
      "type": "structure",
      "members": {
        "QueryExecutionId": {},
        "Query": {
          "shape": "Sa"
        },
        "ResultConfiguration": {
          "shape": "Sl"
        },
        "QueryExecutionContext": {
          "shape": "Sp"
        },
        "Status": {
          "type": "structure",
          "members": {
            "State": {
              "type": "string",
              "enum": [
                "QUEUED",
                "RUNNING",
                "SUCCEEDED",
                "FAILED",
                "CANCELLED"
              ]
            },
            "StateChangeReason": {},
            "SubmissionDateTime": {
              "type": "timestamp"
            },
            "CompletionDateTime": {
              "type": "timestamp"
            }
          }
        },
        "Statistics": {
          "type": "structure",
          "members": {
            "EngineExecutionTimeInMillis": {
              "type": "long"
            },
            "DataScannedInBytes": {
              "type": "long"
            }
          }
        }
      }
    },
    "Sl": {
      "type": "structure",
      "required": [
        "OutputLocation"
      ],
      "members": {
        "OutputLocation": {},
        "EncryptionConfiguration": {
          "type": "structure",
          "required": [
            "EncryptionOption"
          ],
          "members": {
            "EncryptionOption": {
              "type": "string",
              "enum": [
                "SSE_S3",
                "SSE_KMS",
                "CSE_KMS"
              ]
            },
            "KmsKey": {}
          }
        }
      }
    },
    "Sp": {
      "type": "structure",
      "members": {
        "Database": {
          "shape": "S9"
        }
      }
    },
    "Sy": {
      "type": "string",
      "max": 128,
      "min": 32
    }
  }
}