{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-01-06",
    "endpointPrefix": "autoscaling",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Auto Scaling Plans",
    "serviceId": "Auto Scaling Plans",
    "signatureVersion": "v4",
    "signingName": "autoscaling-plans",
    "targetPrefix": "AnyScaleScalingPlannerFrontendService",
    "uid": "autoscaling-plans-2018-01-06"
  },
  "operations": {
    "CreateScalingPlan": {
      "input": {
        "type": "structure",
        "required": [
          "ScalingPlanName",
          "ApplicationSource",
          "ScalingInstructions"
        ],
        "members": {
          "ScalingPlanName": {
            "shape": "S2"
          },
          "ApplicationSource": {
            "shape": "S3"
          },
          "ScalingInstructions": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ScalingPlanVersion"
        ],
        "members": {
          "ScalingPlanVersion": {
            "type": "long"
          }
        }
      }
    },
    "DeleteScalingPlan": {
      "input": {
        "type": "structure",
        "required": [
          "ScalingPlanName",
          "ScalingPlanVersion"
        ],
        "members": {
          "ScalingPlanName": {
            "shape": "S2"
          },
          "ScalingPlanVersion": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeScalingPlanResources": {
      "input": {
        "type": "structure",
        "required": [
          "ScalingPlanName",
          "ScalingPlanVersion"
        ],
        "members": {
          "ScalingPlanName": {
            "shape": "S2"
          },
          "ScalingPlanVersion": {
            "type": "long"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ScalingPlanResources": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ScalingPlanName",
                "ScalingPlanVersion",
                "ServiceNamespace",
                "ResourceId",
                "ScalableDimension",
                "ScalingStatusCode"
              ],
              "members": {
                "ScalingPlanName": {
                  "shape": "S2"
                },
                "ScalingPlanVersion": {
                  "type": "long"
                },
                "ServiceNamespace": {
                  "shape": "Sc"
                },
                "ResourceId": {
                  "shape": "Sd"
                },
                "ScalableDimension": {
                  "shape": "Se"
                },
                "ScalingPolicies": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "PolicyName",
                      "PolicyType"
                    ],
                    "members": {
                      "PolicyName": {
                        "type": "string",
                        "max": 256,
                        "min": 1,
                        "pattern": "\\p{Print}+"
                      },
                      "PolicyType": {
                        "type": "string",
                        "enum": [
                          "TargetTrackingScaling"
                        ]
                      },
                      "TargetTrackingConfiguration": {
                        "shape": "Sh"
                      }
                    }
                  }
                },
                "ScalingStatusCode": {
                  "type": "string",
                  "enum": [
                    "Inactive",
                    "PartiallyActive",
                    "Active"
                  ]
                },
                "ScalingStatusMessage": {
                  "shape": "S4"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeScalingPlans": {
      "input": {
        "type": "structure",
        "members": {
          "ScalingPlanNames": {
            "type": "list",
            "member": {
              "shape": "S2"
            }
          },
          "ScalingPlanVersion": {
            "type": "long"
          },
          "ApplicationSources": {
            "type": "list",
            "member": {
              "shape": "S3"
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ScalingPlans": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ScalingPlanName",
                "ScalingPlanVersion",
                "ApplicationSource",
                "ScalingInstructions",
                "StatusCode"
              ],
              "members": {
                "ScalingPlanName": {
                  "shape": "S2"
                },
                "ScalingPlanVersion": {
                  "type": "long"
                },
                "ApplicationSource": {
                  "shape": "S3"
                },
                "ScalingInstructions": {
                  "shape": "Sa"
                },
                "StatusCode": {
                  "type": "string",
                  "enum": [
                    "Active",
                    "ActiveWithProblems",
                    "CreationInProgress",
                    "CreationFailed",
                    "DeletionInProgress",
                    "DeletionFailed",
                    "UpdateInProgress",
                    "UpdateFailed"
                  ]
                },
                "StatusMessage": {
                  "shape": "S4"
                },
                "StatusStartTime": {
                  "type": "timestamp"
                },
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "UpdateScalingPlan": {
      "input": {
        "type": "structure",
        "required": [
          "ScalingPlanName",
          "ScalingPlanVersion"
        ],
        "members": {
          "ApplicationSource": {
            "shape": "S3"
          },
          "ScalingPlanName": {
            "shape": "S2"
          },
          "ScalingInstructions": {
            "shape": "Sa"
          },
          "ScalingPlanVersion": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\p{Print}&&[^|:/]]+"
    },
    "S3": {
      "type": "structure",
      "members": {
        "CloudFormationStackARN": {
          "shape": "S4"
        },
        "TagFilters": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Key": {
                "type": "string",
                "max": 128,
                "min": 1,
                "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
              },
              "Values": {
                "type": "list",
                "member": {
                  "type": "string",
                  "max": 256,
                  "min": 1,
                  "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                }
              }
            }
          }
        }
      }
    },
    "S4": {
      "type": "string",
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "Sa": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ServiceNamespace",
          "ResourceId",
          "ScalableDimension",
          "MinCapacity",
          "MaxCapacity",
          "TargetTrackingConfigurations"
        ],
        "members": {
          "ServiceNamespace": {
            "shape": "Sc"
          },
          "ResourceId": {
            "shape": "Sd"
          },
          "ScalableDimension": {
            "shape": "Se"
          },
          "MinCapacity": {
            "type": "integer"
          },
          "MaxCapacity": {
            "type": "integer"
          },
          "TargetTrackingConfigurations": {
            "type": "list",
            "member": {
              "shape": "Sh"
            }
          }
        }
      }
    },
    "Sc": {
      "type": "string",
      "enum": [
        "autoscaling",
        "ecs",
        "ec2",
        "rds",
        "dynamodb"
      ]
    },
    "Sd": {
      "type": "string",
      "max": 1600,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "Se": {
      "type": "string",
      "enum": [
        "autoscaling:autoScalingGroup:DesiredCapacity",
        "ecs:service:DesiredCount",
        "ec2:spot-fleet-request:TargetCapacity",
        "rds:cluster:ReadReplicaCount",
        "dynamodb:table:ReadCapacityUnits",
        "dynamodb:table:WriteCapacityUnits",
        "dynamodb:index:ReadCapacityUnits",
        "dynamodb:index:WriteCapacityUnits"
      ]
    },
    "Sh": {
      "type": "structure",
      "required": [
        "TargetValue"
      ],
      "members": {
        "PredefinedScalingMetricSpecification": {
          "type": "structure",
          "required": [
            "PredefinedScalingMetricType"
          ],
          "members": {
            "PredefinedScalingMetricType": {
              "type": "string",
              "enum": [
                "ASGAverageCPUUtilization",
                "ASGAverageNetworkIn",
                "ASGAverageNetworkOut",
                "DynamoDBReadCapacityUtilization",
                "DynamoDBWriteCapacityUtilization",
                "ECSServiceAverageCPUUtilization",
                "ECSServiceAverageMemoryUtilization",
                "ALBRequestCountPerTarget",
                "RDSReaderAverageCPUUtilization",
                "RDSReaderAverageDatabaseConnections",
                "EC2SpotFleetRequestAverageCPUUtilization",
                "EC2SpotFleetRequestAverageNetworkIn",
                "EC2SpotFleetRequestAverageNetworkOut"
              ]
            },
            "ResourceLabel": {
              "type": "string",
              "max": 1023,
              "min": 1
            }
          }
        },
        "CustomizedScalingMetricSpecification": {
          "type": "structure",
          "required": [
            "MetricName",
            "Namespace",
            "Statistic"
          ],
          "members": {
            "MetricName": {},
            "Namespace": {},
            "Dimensions": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Name",
                  "Value"
                ],
                "members": {
                  "Name": {},
                  "Value": {}
                }
              }
            },
            "Statistic": {
              "type": "string",
              "enum": [
                "Average",
                "Minimum",
                "Maximum",
                "SampleCount",
                "Sum"
              ]
            },
            "Unit": {}
          }
        },
        "TargetValue": {
          "type": "double"
        },
        "DisableScaleIn": {
          "type": "boolean"
        },
        "ScaleOutCooldown": {
          "type": "integer"
        },
        "ScaleInCooldown": {
          "type": "integer"
        },
        "EstimatedInstanceWarmup": {
          "type": "integer"
        }
      }
    }
  }
}