{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2011-01-01",
    "endpointPrefix": "autoscaling",
    "protocol": "query",
    "serviceFullName": "Auto Scaling",
    "serviceId": "Auto Scaling",
    "signatureVersion": "v4",
    "uid": "autoscaling-2011-01-01",
    "xmlNamespace": "http://autoscaling.amazonaws.com/doc/2011-01-01/"
  },
  "operations": {
    "AttachInstances": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName"
        ],
        "members": {
          "InstanceIds": {
            "shape": "S2"
          },
          "AutoScalingGroupName": {
            "shape": "S4"
          }
        }
      }
    },
    "AttachLoadBalancerTargetGroups": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "TargetGroupARNs"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "TargetGroupARNs": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "resultWrapper": "AttachLoadBalancerTargetGroupsResult",
        "type": "structure",
        "members": {}
      }
    },
    "AttachLoadBalancers": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "LoadBalancerNames"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "LoadBalancerNames": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "resultWrapper": "AttachLoadBalancersResult",
        "type": "structure",
        "members": {}
      }
    },
    "BatchDeleteScheduledAction": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "ScheduledActionNames"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "ScheduledActionNames": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "resultWrapper": "BatchDeleteScheduledActionResult",
        "type": "structure",
        "members": {
          "FailedScheduledActions": {
            "shape": "Sg"
          }
        }
      }
    },
    "BatchPutScheduledUpdateGroupAction": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "ScheduledUpdateGroupActions"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "ScheduledUpdateGroupActions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ScheduledActionName"
              ],
              "members": {
                "ScheduledActionName": {
                  "shape": "Sb"
                },
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "Recurrence": {
                  "shape": "Sb"
                },
                "MinSize": {
                  "type": "integer"
                },
                "MaxSize": {
                  "type": "integer"
                },
                "DesiredCapacity": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "output": {
        "resultWrapper": "BatchPutScheduledUpdateGroupActionResult",
        "type": "structure",
        "members": {
          "FailedScheduledUpdateGroupActions": {
            "shape": "Sg"
          }
        }
      }
    },
    "CompleteLifecycleAction": {
      "input": {
        "type": "structure",
        "required": [
          "LifecycleHookName",
          "AutoScalingGroupName",
          "LifecycleActionResult"
        ],
        "members": {
          "LifecycleHookName": {
            "shape": "St"
          },
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "LifecycleActionToken": {
            "shape": "Su"
          },
          "LifecycleActionResult": {},
          "InstanceId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "resultWrapper": "CompleteLifecycleActionResult",
        "type": "structure",
        "members": {}
      }
    },
    "CreateAutoScalingGroup": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "MinSize",
          "MaxSize"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "Sb"
          },
          "LaunchConfigurationName": {
            "shape": "S4"
          },
          "LaunchTemplate": {
            "shape": "Sy"
          },
          "InstanceId": {
            "shape": "S3"
          },
          "MinSize": {
            "type": "integer"
          },
          "MaxSize": {
            "type": "integer"
          },
          "DesiredCapacity": {
            "type": "integer"
          },
          "DefaultCooldown": {
            "type": "integer"
          },
          "AvailabilityZones": {
            "shape": "S11"
          },
          "LoadBalancerNames": {
            "shape": "Sa"
          },
          "TargetGroupARNs": {
            "shape": "S6"
          },
          "HealthCheckType": {
            "shape": "S12"
          },
          "HealthCheckGracePeriod": {
            "type": "integer"
          },
          "PlacementGroup": {
            "shape": "Sb"
          },
          "VPCZoneIdentifier": {
            "shape": "S14"
          },
          "TerminationPolicies": {
            "shape": "S15"
          },
          "NewInstancesProtectedFromScaleIn": {
            "type": "boolean"
          },
          "LifecycleHookSpecificationList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "LifecycleHookName",
                "LifecycleTransition"
              ],
              "members": {
                "LifecycleHookName": {
                  "shape": "St"
                },
                "LifecycleTransition": {},
                "NotificationMetadata": {
                  "shape": "S1b"
                },
                "HeartbeatTimeout": {
                  "type": "integer"
                },
                "DefaultResult": {},
                "NotificationTargetARN": {
                  "shape": "S1d"
                },
                "RoleARN": {
                  "shape": "S4"
                }
              }
            }
          },
          "Tags": {
            "shape": "S1e"
          },
          "ServiceLinkedRoleARN": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateLaunchConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LaunchConfigurationName"
        ],
        "members": {
          "LaunchConfigurationName": {
            "shape": "Sb"
          },
          "ImageId": {
            "shape": "Sb"
          },
          "KeyName": {
            "shape": "Sb"
          },
          "SecurityGroups": {
            "shape": "S1k"
          },
          "ClassicLinkVPCId": {
            "shape": "Sb"
          },
          "ClassicLinkVPCSecurityGroups": {
            "shape": "S1l"
          },
          "UserData": {
            "shape": "S1m"
          },
          "InstanceId": {
            "shape": "S3"
          },
          "InstanceType": {
            "shape": "Sb"
          },
          "KernelId": {
            "shape": "Sb"
          },
          "RamdiskId": {
            "shape": "Sb"
          },
          "BlockDeviceMappings": {
            "shape": "S1n"
          },
          "InstanceMonitoring": {
            "shape": "S1w"
          },
          "SpotPrice": {
            "shape": "S1y"
          },
          "IamInstanceProfile": {
            "shape": "S16"
          },
          "EbsOptimized": {
            "type": "boolean"
          },
          "AssociatePublicIpAddress": {
            "type": "boolean"
          },
          "PlacementTenancy": {
            "shape": "Si"
          }
        }
      }
    },
    "CreateOrUpdateTags": {
      "input": {
        "type": "structure",
        "required": [
          "Tags"
        ],
        "members": {
          "Tags": {
            "shape": "S1e"
          }
        }
      }
    },
    "DeleteAutoScalingGroup": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "ForceDelete": {
            "type": "boolean"
          }
        }
      }
    },
    "DeleteLaunchConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LaunchConfigurationName"
        ],
        "members": {
          "LaunchConfigurationName": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteLifecycleHook": {
      "input": {
        "type": "structure",
        "required": [
          "LifecycleHookName",
          "AutoScalingGroupName"
        ],
        "members": {
          "LifecycleHookName": {
            "shape": "St"
          },
          "AutoScalingGroupName": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteLifecycleHookResult",
        "type": "structure",
        "members": {}
      }
    },
    "DeleteNotificationConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "TopicARN"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "TopicARN": {
            "shape": "S4"
          }
        }
      }
    },
    "DeletePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyName"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "PolicyName": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteScheduledAction": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "ScheduledActionName"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "ScheduledActionName": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "Tags"
        ],
        "members": {
          "Tags": {
            "shape": "S1e"
          }
        }
      }
    },
    "DescribeAccountLimits": {
      "output": {
        "resultWrapper": "DescribeAccountLimitsResult",
        "type": "structure",
        "members": {
          "MaxNumberOfAutoScalingGroups": {
            "type": "integer"
          },
          "MaxNumberOfLaunchConfigurations": {
            "type": "integer"
          },
          "NumberOfAutoScalingGroups": {
            "type": "integer"
          },
          "NumberOfLaunchConfigurations": {
            "type": "integer"
          }
        }
      }
    },
    "DescribeAdjustmentTypes": {
      "output": {
        "resultWrapper": "DescribeAdjustmentTypesResult",
        "type": "structure",
        "members": {
          "AdjustmentTypes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AdjustmentType": {
                  "shape": "Sb"
                }
              }
            }
          }
        }
      }
    },
    "DescribeAutoScalingGroups": {
      "input": {
        "type": "structure",
        "members": {
          "AutoScalingGroupNames": {
            "shape": "S2k"
          },
          "NextToken": {
            "shape": "Sj"
          },
          "MaxRecords": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeAutoScalingGroupsResult",
        "type": "structure",
        "required": [
          "AutoScalingGroups"
        ],
        "members": {
          "AutoScalingGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AutoScalingGroupName",
                "MinSize",
                "MaxSize",
                "DesiredCapacity",
                "DefaultCooldown",
                "AvailabilityZones",
                "HealthCheckType",
                "CreatedTime"
              ],
              "members": {
                "AutoScalingGroupName": {
                  "shape": "Sb"
                },
                "AutoScalingGroupARN": {
                  "shape": "S4"
                },
                "LaunchConfigurationName": {
                  "shape": "Sb"
                },
                "LaunchTemplate": {
                  "shape": "Sy"
                },
                "MinSize": {
                  "type": "integer"
                },
                "MaxSize": {
                  "type": "integer"
                },
                "DesiredCapacity": {
                  "type": "integer"
                },
                "DefaultCooldown": {
                  "type": "integer"
                },
                "AvailabilityZones": {
                  "shape": "S11"
                },
                "LoadBalancerNames": {
                  "shape": "Sa"
                },
                "TargetGroupARNs": {
                  "shape": "S6"
                },
                "HealthCheckType": {
                  "shape": "S12"
                },
                "HealthCheckGracePeriod": {
                  "type": "integer"
                },
                "Instances": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "InstanceId",
                      "AvailabilityZone",
                      "LifecycleState",
                      "HealthStatus",
                      "ProtectedFromScaleIn"
                    ],
                    "members": {
                      "InstanceId": {
                        "shape": "S3"
                      },
                      "AvailabilityZone": {
                        "shape": "Sb"
                      },
                      "LifecycleState": {
                        "type": "string",
                        "enum": [
                          "Pending",
                          "Pending:Wait",
                          "Pending:Proceed",
                          "Quarantined",
                          "InService",
                          "Terminating",
                          "Terminating:Wait",
                          "Terminating:Proceed",
                          "Terminated",
                          "Detaching",
                          "Detached",
                          "EnteringStandby",
                          "Standby"
                        ]
                      },
                      "HealthStatus": {
                        "shape": "S12"
                      },
                      "LaunchConfigurationName": {
                        "shape": "Sb"
                      },
                      "LaunchTemplate": {
                        "shape": "Sy"
                      },
                      "ProtectedFromScaleIn": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "CreatedTime": {
                  "type": "timestamp"
                },
                "SuspendedProcesses": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "ProcessName": {
                        "shape": "Sb"
                      },
                      "SuspensionReason": {
                        "shape": "Sb"
                      }
                    }
                  }
                },
                "PlacementGroup": {
                  "shape": "Sb"
                },
                "VPCZoneIdentifier": {
                  "shape": "S14"
                },
                "EnabledMetrics": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Metric": {
                        "shape": "Sb"
                      },
                      "Granularity": {
                        "shape": "Sb"
                      }
                    }
                  }
                },
                "Status": {
                  "shape": "Sb"
                },
                "Tags": {
                  "shape": "S2w"
                },
                "TerminationPolicies": {
                  "shape": "S15"
                },
                "NewInstancesProtectedFromScaleIn": {
                  "type": "boolean"
                },
                "ServiceLinkedRoleARN": {
                  "shape": "S4"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sj"
          }
        }
      }
    },
    "DescribeAutoScalingInstances": {
      "input": {
        "type": "structure",
        "members": {
          "InstanceIds": {
            "shape": "S2"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "NextToken": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeAutoScalingInstancesResult",
        "type": "structure",
        "members": {
          "AutoScalingInstances": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "InstanceId",
                "AutoScalingGroupName",
                "AvailabilityZone",
                "LifecycleState",
                "HealthStatus",
                "ProtectedFromScaleIn"
              ],
              "members": {
                "InstanceId": {
                  "shape": "S3"
                },
                "AutoScalingGroupName": {
                  "shape": "Sb"
                },
                "AvailabilityZone": {
                  "shape": "Sb"
                },
                "LifecycleState": {
                  "shape": "S12"
                },
                "HealthStatus": {
                  "shape": "S12"
                },
                "LaunchConfigurationName": {
                  "shape": "Sb"
                },
                "LaunchTemplate": {
                  "shape": "Sy"
                },
                "ProtectedFromScaleIn": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sj"
          }
        }
      }
    },
    "DescribeAutoScalingNotificationTypes": {
      "output": {
        "resultWrapper": "DescribeAutoScalingNotificationTypesResult",
        "type": "structure",
        "members": {
          "AutoScalingNotificationTypes": {
            "shape": "S33"
          }
        }
      }
    },
    "DescribeLaunchConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "LaunchConfigurationNames": {
            "type": "list",
            "member": {
              "shape": "S4"
            }
          },
          "NextToken": {
            "shape": "Sj"
          },
          "MaxRecords": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeLaunchConfigurationsResult",
        "type": "structure",
        "required": [
          "LaunchConfigurations"
        ],
        "members": {
          "LaunchConfigurations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "LaunchConfigurationName",
                "ImageId",
                "InstanceType",
                "CreatedTime"
              ],
              "members": {
                "LaunchConfigurationName": {
                  "shape": "Sb"
                },
                "LaunchConfigurationARN": {
                  "shape": "S4"
                },
                "ImageId": {
                  "shape": "Sb"
                },
                "KeyName": {
                  "shape": "Sb"
                },
                "SecurityGroups": {
                  "shape": "S1k"
                },
                "ClassicLinkVPCId": {
                  "shape": "Sb"
                },
                "ClassicLinkVPCSecurityGroups": {
                  "shape": "S1l"
                },
                "UserData": {
                  "shape": "S1m"
                },
                "InstanceType": {
                  "shape": "Sb"
                },
                "KernelId": {
                  "shape": "Sb"
                },
                "RamdiskId": {
                  "shape": "Sb"
                },
                "BlockDeviceMappings": {
                  "shape": "S1n"
                },
                "InstanceMonitoring": {
                  "shape": "S1w"
                },
                "SpotPrice": {
                  "shape": "S1y"
                },
                "IamInstanceProfile": {
                  "shape": "S16"
                },
                "CreatedTime": {
                  "type": "timestamp"
                },
                "EbsOptimized": {
                  "type": "boolean"
                },
                "AssociatePublicIpAddress": {
                  "type": "boolean"
                },
                "PlacementTenancy": {
                  "shape": "Si"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sj"
          }
        }
      }
    },
    "DescribeLifecycleHookTypes": {
      "output": {
        "resultWrapper": "DescribeLifecycleHookTypesResult",
        "type": "structure",
        "members": {
          "LifecycleHookTypes": {
            "shape": "S33"
          }
        }
      }
    },
    "DescribeLifecycleHooks": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "LifecycleHookNames": {
            "type": "list",
            "member": {
              "shape": "St"
            },
            "max": 50
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeLifecycleHooksResult",
        "type": "structure",
        "members": {
          "LifecycleHooks": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "LifecycleHookName": {
                  "shape": "St"
                },
                "AutoScalingGroupName": {
                  "shape": "S4"
                },
                "LifecycleTransition": {},
                "NotificationTargetARN": {
                  "shape": "S4"
                },
                "RoleARN": {
                  "shape": "S4"
                },
                "NotificationMetadata": {
                  "shape": "S1b"
                },
                "HeartbeatTimeout": {
                  "type": "integer"
                },
                "GlobalTimeout": {
                  "type": "integer"
                },
                "DefaultResult": {}
              }
            }
          }
        }
      }
    },
    "DescribeLoadBalancerTargetGroups": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "NextToken": {
            "shape": "Sj"
          },
          "MaxRecords": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeLoadBalancerTargetGroupsResult",
        "type": "structure",
        "members": {
          "LoadBalancerTargetGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "LoadBalancerTargetGroupARN": {
                  "shape": "S7"
                },
                "State": {
                  "shape": "Sb"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sj"
          }
        }
      }
    },
    "DescribeLoadBalancers": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "NextToken": {
            "shape": "Sj"
          },
          "MaxRecords": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeLoadBalancersResult",
        "type": "structure",
        "members": {
          "LoadBalancers": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "LoadBalancerName": {
                  "shape": "Sb"
                },
                "State": {
                  "shape": "Sb"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sj"
          }
        }
      }
    },
    "DescribeMetricCollectionTypes": {
      "output": {
        "resultWrapper": "DescribeMetricCollectionTypesResult",
        "type": "structure",
        "members": {
          "Metrics": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Metric": {
                  "shape": "Sb"
                }
              }
            }
          },
          "Granularities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Granularity": {
                  "shape": "Sb"
                }
              }
            }
          }
        }
      }
    },
    "DescribeNotificationConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "AutoScalingGroupNames": {
            "shape": "S2k"
          },
          "NextToken": {
            "shape": "Sj"
          },
          "MaxRecords": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeNotificationConfigurationsResult",
        "type": "structure",
        "required": [
          "NotificationConfigurations"
        ],
        "members": {
          "NotificationConfigurations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AutoScalingGroupName": {
                  "shape": "S4"
                },
                "TopicARN": {
                  "shape": "S4"
                },
                "NotificationType": {
                  "shape": "Sb"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sj"
          }
        }
      }
    },
    "DescribePolicies": {
      "input": {
        "type": "structure",
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "PolicyNames": {
            "type": "list",
            "member": {
              "shape": "S4"
            }
          },
          "PolicyTypes": {
            "type": "list",
            "member": {
              "shape": "Si"
            }
          },
          "NextToken": {
            "shape": "Sj"
          },
          "MaxRecords": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribePoliciesResult",
        "type": "structure",
        "members": {
          "ScalingPolicies": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AutoScalingGroupName": {
                  "shape": "Sb"
                },
                "PolicyName": {
                  "shape": "Sb"
                },
                "PolicyARN": {
                  "shape": "S4"
                },
                "PolicyType": {
                  "shape": "Si"
                },
                "AdjustmentType": {
                  "shape": "Sb"
                },
                "MinAdjustmentStep": {
                  "shape": "S43"
                },
                "MinAdjustmentMagnitude": {
                  "type": "integer"
                },
                "ScalingAdjustment": {
                  "type": "integer"
                },
                "Cooldown": {
                  "type": "integer"
                },
                "StepAdjustments": {
                  "shape": "S46"
                },
                "MetricAggregationType": {
                  "shape": "S12"
                },
                "EstimatedInstanceWarmup": {
                  "type": "integer"
                },
                "Alarms": {
                  "shape": "S4a"
                },
                "TargetTrackingConfiguration": {
                  "shape": "S4c"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sj"
          }
        }
      }
    },
    "DescribeScalingActivities": {
      "input": {
        "type": "structure",
        "members": {
          "ActivityIds": {
            "type": "list",
            "member": {
              "shape": "Sj"
            }
          },
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "NextToken": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeScalingActivitiesResult",
        "type": "structure",
        "required": [
          "Activities"
        ],
        "members": {
          "Activities": {
            "shape": "S4s"
          },
          "NextToken": {
            "shape": "Sj"
          }
        }
      }
    },
    "DescribeScalingProcessTypes": {
      "output": {
        "resultWrapper": "DescribeScalingProcessTypesResult",
        "type": "structure",
        "members": {
          "Processes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProcessName"
              ],
              "members": {
                "ProcessName": {
                  "shape": "Sb"
                }
              }
            }
          }
        }
      }
    },
    "DescribeScheduledActions": {
      "input": {
        "type": "structure",
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "ScheduledActionNames": {
            "shape": "Se"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "NextToken": {
            "shape": "Sj"
          },
          "MaxRecords": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeScheduledActionsResult",
        "type": "structure",
        "members": {
          "ScheduledUpdateGroupActions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AutoScalingGroupName": {
                  "shape": "Sb"
                },
                "ScheduledActionName": {
                  "shape": "Sb"
                },
                "ScheduledActionARN": {
                  "shape": "S4"
                },
                "Time": {
                  "type": "timestamp"
                },
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "Recurrence": {
                  "shape": "Sb"
                },
                "MinSize": {
                  "type": "integer"
                },
                "MaxSize": {
                  "type": "integer"
                },
                "DesiredCapacity": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sj"
          }
        }
      }
    },
    "DescribeTags": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "shape": "Sj"
                },
                "Values": {
                  "type": "list",
                  "member": {
                    "shape": "Sj"
                  }
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sj"
          },
          "MaxRecords": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeTagsResult",
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S2w"
          },
          "NextToken": {
            "shape": "Sj"
          }
        }
      }
    },
    "DescribeTerminationPolicyTypes": {
      "output": {
        "resultWrapper": "DescribeTerminationPolicyTypesResult",
        "type": "structure",
        "members": {
          "TerminationPolicyTypes": {
            "shape": "S15"
          }
        }
      }
    },
    "DetachInstances": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "ShouldDecrementDesiredCapacity"
        ],
        "members": {
          "InstanceIds": {
            "shape": "S2"
          },
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "ShouldDecrementDesiredCapacity": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DetachInstancesResult",
        "type": "structure",
        "members": {
          "Activities": {
            "shape": "S4s"
          }
        }
      }
    },
    "DetachLoadBalancerTargetGroups": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "TargetGroupARNs"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "TargetGroupARNs": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "resultWrapper": "DetachLoadBalancerTargetGroupsResult",
        "type": "structure",
        "members": {}
      }
    },
    "DetachLoadBalancers": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "LoadBalancerNames"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "LoadBalancerNames": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "resultWrapper": "DetachLoadBalancersResult",
        "type": "structure",
        "members": {}
      }
    },
    "DisableMetricsCollection": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "Metrics": {
            "shape": "S5h"
          }
        }
      }
    },
    "EnableMetricsCollection": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "Granularity"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "Metrics": {
            "shape": "S5h"
          },
          "Granularity": {
            "shape": "Sb"
          }
        }
      }
    },
    "EnterStandby": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "ShouldDecrementDesiredCapacity"
        ],
        "members": {
          "InstanceIds": {
            "shape": "S2"
          },
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "ShouldDecrementDesiredCapacity": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "EnterStandbyResult",
        "type": "structure",
        "members": {
          "Activities": {
            "shape": "S4s"
          }
        }
      }
    },
    "ExecutePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyName"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "PolicyName": {
            "shape": "S4"
          },
          "HonorCooldown": {
            "type": "boolean"
          },
          "MetricValue": {
            "type": "double"
          },
          "BreachThreshold": {
            "type": "double"
          }
        }
      }
    },
    "ExitStandby": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName"
        ],
        "members": {
          "InstanceIds": {
            "shape": "S2"
          },
          "AutoScalingGroupName": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "resultWrapper": "ExitStandbyResult",
        "type": "structure",
        "members": {
          "Activities": {
            "shape": "S4s"
          }
        }
      }
    },
    "PutLifecycleHook": {
      "input": {
        "type": "structure",
        "required": [
          "LifecycleHookName",
          "AutoScalingGroupName"
        ],
        "members": {
          "LifecycleHookName": {
            "shape": "St"
          },
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "LifecycleTransition": {},
          "RoleARN": {
            "shape": "S4"
          },
          "NotificationTargetARN": {
            "shape": "S1d"
          },
          "NotificationMetadata": {
            "shape": "S1b"
          },
          "HeartbeatTimeout": {
            "type": "integer"
          },
          "DefaultResult": {}
        }
      },
      "output": {
        "resultWrapper": "PutLifecycleHookResult",
        "type": "structure",
        "members": {}
      }
    },
    "PutNotificationConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "TopicARN",
          "NotificationTypes"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "TopicARN": {
            "shape": "S4"
          },
          "NotificationTypes": {
            "shape": "S33"
          }
        }
      }
    },
    "PutScalingPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "PolicyName"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "PolicyName": {
            "shape": "Sb"
          },
          "PolicyType": {
            "shape": "Si"
          },
          "AdjustmentType": {
            "shape": "Sb"
          },
          "MinAdjustmentStep": {
            "shape": "S43"
          },
          "MinAdjustmentMagnitude": {
            "type": "integer"
          },
          "ScalingAdjustment": {
            "type": "integer"
          },
          "Cooldown": {
            "type": "integer"
          },
          "MetricAggregationType": {
            "shape": "S12"
          },
          "StepAdjustments": {
            "shape": "S46"
          },
          "EstimatedInstanceWarmup": {
            "type": "integer"
          },
          "TargetTrackingConfiguration": {
            "shape": "S4c"
          }
        }
      },
      "output": {
        "resultWrapper": "PutScalingPolicyResult",
        "type": "structure",
        "members": {
          "PolicyARN": {
            "shape": "S4"
          },
          "Alarms": {
            "shape": "S4a"
          }
        }
      }
    },
    "PutScheduledUpdateGroupAction": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "ScheduledActionName"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "ScheduledActionName": {
            "shape": "Sb"
          },
          "Time": {
            "type": "timestamp"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "Recurrence": {
            "shape": "Sb"
          },
          "MinSize": {
            "type": "integer"
          },
          "MaxSize": {
            "type": "integer"
          },
          "DesiredCapacity": {
            "type": "integer"
          }
        }
      }
    },
    "RecordLifecycleActionHeartbeat": {
      "input": {
        "type": "structure",
        "required": [
          "LifecycleHookName",
          "AutoScalingGroupName"
        ],
        "members": {
          "LifecycleHookName": {
            "shape": "St"
          },
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "LifecycleActionToken": {
            "shape": "Su"
          },
          "InstanceId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "resultWrapper": "RecordLifecycleActionHeartbeatResult",
        "type": "structure",
        "members": {}
      }
    },
    "ResumeProcesses": {
      "input": {
        "shape": "S5x"
      }
    },
    "SetDesiredCapacity": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName",
          "DesiredCapacity"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "DesiredCapacity": {
            "type": "integer"
          },
          "HonorCooldown": {
            "type": "boolean"
          }
        }
      }
    },
    "SetInstanceHealth": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceId",
          "HealthStatus"
        ],
        "members": {
          "InstanceId": {
            "shape": "S3"
          },
          "HealthStatus": {
            "shape": "S12"
          },
          "ShouldRespectGracePeriod": {
            "type": "boolean"
          }
        }
      }
    },
    "SetInstanceProtection": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceIds",
          "AutoScalingGroupName",
          "ProtectedFromScaleIn"
        ],
        "members": {
          "InstanceIds": {
            "shape": "S2"
          },
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "ProtectedFromScaleIn": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "SetInstanceProtectionResult",
        "type": "structure",
        "members": {}
      }
    },
    "SuspendProcesses": {
      "input": {
        "shape": "S5x"
      }
    },
    "TerminateInstanceInAutoScalingGroup": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceId",
          "ShouldDecrementDesiredCapacity"
        ],
        "members": {
          "InstanceId": {
            "shape": "S3"
          },
          "ShouldDecrementDesiredCapacity": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "TerminateInstanceInAutoScalingGroupResult",
        "type": "structure",
        "members": {
          "Activity": {
            "shape": "S4t"
          }
        }
      }
    },
    "UpdateAutoScalingGroup": {
      "input": {
        "type": "structure",
        "required": [
          "AutoScalingGroupName"
        ],
        "members": {
          "AutoScalingGroupName": {
            "shape": "S4"
          },
          "LaunchConfigurationName": {
            "shape": "S4"
          },
          "LaunchTemplate": {
            "shape": "Sy"
          },
          "MinSize": {
            "type": "integer"
          },
          "MaxSize": {
            "type": "integer"
          },
          "DesiredCapacity": {
            "type": "integer"
          },
          "DefaultCooldown": {
            "type": "integer"
          },
          "AvailabilityZones": {
            "shape": "S11"
          },
          "HealthCheckType": {
            "shape": "S12"
          },
          "HealthCheckGracePeriod": {
            "type": "integer"
          },
          "PlacementGroup": {
            "shape": "Sb"
          },
          "VPCZoneIdentifier": {
            "shape": "S14"
          },
          "TerminationPolicies": {
            "shape": "S15"
          },
          "NewInstancesProtectedFromScaleIn": {
            "type": "boolean"
          },
          "ServiceLinkedRoleARN": {
            "shape": "S4"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {
        "shape": "S3"
      }
    },
    "S3": {
      "type": "string",
      "max": 19,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S4": {
      "type": "string",
      "max": 1600,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S6": {
      "type": "list",
      "member": {
        "shape": "S7"
      }
    },
    "S7": {
      "type": "string",
      "max": 511,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "Sa": {
      "type": "list",
      "member": {
        "shape": "Sb"
      }
    },
    "Sb": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "Se": {
      "type": "list",
      "member": {
        "shape": "S4"
      }
    },
    "Sg": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ScheduledActionName"
        ],
        "members": {
          "ScheduledActionName": {
            "shape": "Sb"
          },
          "ErrorCode": {
            "shape": "Si"
          },
          "ErrorMessage": {
            "shape": "Sj"
          }
        }
      }
    },
    "Si": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "Sj": {
      "type": "string",
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "St": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "[A-Za-z0-9\\-_\\/]+"
    },
    "Su": {
      "type": "string",
      "max": 36,
      "min": 36
    },
    "Sy": {
      "type": "structure",
      "members": {
        "LaunchTemplateId": {
          "shape": "Sb"
        },
        "LaunchTemplateName": {
          "type": "string",
          "max": 128,
          "min": 3,
          "pattern": "[a-zA-Z0-9\\(\\)\\.-/_]+"
        },
        "Version": {
          "shape": "Sb"
        }
      }
    },
    "S11": {
      "type": "list",
      "member": {
        "shape": "Sb"
      },
      "min": 1
    },
    "S12": {
      "type": "string",
      "max": 32,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S14": {
      "type": "string",
      "max": 2047,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S15": {
      "type": "list",
      "member": {
        "shape": "S16"
      }
    },
    "S16": {
      "type": "string",
      "max": 1600,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S1b": {
      "type": "string",
      "max": 1023,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S1d": {
      "type": "string",
      "max": 1600,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S1e": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key"
        ],
        "members": {
          "ResourceId": {
            "shape": "Sj"
          },
          "ResourceType": {
            "shape": "Sj"
          },
          "Key": {
            "shape": "S1g"
          },
          "Value": {
            "shape": "S1h"
          },
          "PropagateAtLaunch": {
            "type": "boolean"
          }
        }
      }
    },
    "S1g": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S1h": {
      "type": "string",
      "max": 256,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S1k": {
      "type": "list",
      "member": {
        "shape": "Sj"
      }
    },
    "S1l": {
      "type": "list",
      "member": {
        "shape": "Sb"
      }
    },
    "S1m": {
      "type": "string",
      "max": 21847,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S1n": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "DeviceName"
        ],
        "members": {
          "VirtualName": {
            "shape": "Sb"
          },
          "DeviceName": {
            "shape": "Sb"
          },
          "Ebs": {
            "type": "structure",
            "members": {
              "SnapshotId": {
                "shape": "Sb"
              },
              "VolumeSize": {
                "type": "integer",
                "max": 16384,
                "min": 1
              },
              "VolumeType": {
                "type": "string",
                "max": 255,
                "min": 1
              },
              "DeleteOnTermination": {
                "type": "boolean"
              },
              "Iops": {
                "type": "integer",
                "max": 20000,
                "min": 100
              },
              "Encrypted": {
                "type": "boolean"
              }
            }
          },
          "NoDevice": {
            "type": "boolean"
          }
        }
      }
    },
    "S1w": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        }
      }
    },
    "S1y": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S2k": {
      "type": "list",
      "member": {
        "shape": "S4"
      }
    },
    "S2w": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ResourceId": {
            "shape": "Sj"
          },
          "ResourceType": {
            "shape": "Sj"
          },
          "Key": {
            "shape": "S1g"
          },
          "Value": {
            "shape": "S1h"
          },
          "PropagateAtLaunch": {
            "type": "boolean"
          }
        }
      }
    },
    "S33": {
      "type": "list",
      "member": {
        "shape": "Sb"
      }
    },
    "S43": {
      "type": "integer",
      "deprecated": true
    },
    "S46": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ScalingAdjustment"
        ],
        "members": {
          "MetricIntervalLowerBound": {
            "type": "double"
          },
          "MetricIntervalUpperBound": {
            "type": "double"
          },
          "ScalingAdjustment": {
            "type": "integer"
          }
        }
      }
    },
    "S4a": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AlarmName": {
            "shape": "Sb"
          },
          "AlarmARN": {
            "shape": "S4"
          }
        }
      }
    },
    "S4c": {
      "type": "structure",
      "required": [
        "TargetValue"
      ],
      "members": {
        "PredefinedMetricSpecification": {
          "type": "structure",
          "required": [
            "PredefinedMetricType"
          ],
          "members": {
            "PredefinedMetricType": {
              "type": "string",
              "enum": [
                "ASGAverageCPUUtilization",
                "ASGAverageNetworkIn",
                "ASGAverageNetworkOut",
                "ALBRequestCountPerTarget"
              ]
            },
            "ResourceLabel": {
              "shape": "S1b"
            }
          }
        },
        "CustomizedMetricSpecification": {
          "type": "structure",
          "required": [
            "MetricName",
            "Namespace",
            "Statistic"
          ],
          "members": {
            "MetricName": {},
            "Namespace": {},
            "Dimensions": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Name",
                  "Value"
                ],
                "members": {
                  "Name": {},
                  "Value": {}
                }
              }
            },
            "Statistic": {
              "type": "string",
              "enum": [
                "Average",
                "Minimum",
                "Maximum",
                "SampleCount",
                "Sum"
              ]
            },
            "Unit": {}
          }
        },
        "TargetValue": {
          "type": "double"
        },
        "DisableScaleIn": {
          "type": "boolean"
        }
      }
    },
    "S4s": {
      "type": "list",
      "member": {
        "shape": "S4t"
      }
    },
    "S4t": {
      "type": "structure",
      "required": [
        "ActivityId",
        "AutoScalingGroupName",
        "Cause",
        "StartTime",
        "StatusCode"
      ],
      "members": {
        "ActivityId": {
          "shape": "Sj"
        },
        "AutoScalingGroupName": {
          "shape": "Sb"
        },
        "Description": {
          "shape": "Sj"
        },
        "Cause": {
          "shape": "S1b"
        },
        "StartTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        },
        "StatusCode": {
          "type": "string",
          "enum": [
            "PendingSpotBidPlacement",
            "WaitingForSpotInstanceRequestId",
            "WaitingForSpotInstanceId",
            "WaitingForInstanceId",
            "PreInService",
            "InProgress",
            "WaitingForELBConnectionDraining",
            "MidLifecycleAction",
            "WaitingForInstanceWarmup",
            "Successful",
            "Failed",
            "Cancelled"
          ]
        },
        "StatusMessage": {
          "shape": "Sb"
        },
        "Progress": {
          "type": "integer"
        },
        "Details": {
          "shape": "Sj"
        }
      }
    },
    "S5h": {
      "type": "list",
      "member": {
        "shape": "Sb"
      }
    },
    "S5x": {
      "type": "structure",
      "required": [
        "AutoScalingGroupName"
      ],
      "members": {
        "AutoScalingGroupName": {
          "shape": "S4"
        },
        "ScalingProcesses": {
          "type": "list",
          "member": {
            "shape": "Sb"
          }
        }
      }
    }
  }
}