{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-05-31",
    "endpointPrefix": "mgh",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Migration Hub",
    "serviceId": "Migration Hub",
    "signatureVersion": "v4",
    "targetPrefix": "AWSMigrationHub",
    "uid": "AWSMigrationHub-2017-05-31"
  },
  "operations": {
    "AssociateCreatedArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "ProgressUpdateStream",
          "MigrationTaskName",
          "CreatedArtifact"
        ],
        "members": {
          "ProgressUpdateStream": {
            "shape": "S2"
          },
          "MigrationTaskName": {
            "shape": "S3"
          },
          "CreatedArtifact": {
            "shape": "S4"
          },
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateDiscoveredResource": {
      "input": {
        "type": "structure",
        "required": [
          "ProgressUpdateStream",
          "MigrationTaskName",
          "DiscoveredResource"
        ],
        "members": {
          "ProgressUpdateStream": {
            "shape": "S2"
          },
          "MigrationTaskName": {
            "shape": "S3"
          },
          "DiscoveredResource": {
            "shape": "Sa"
          },
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateProgressUpdateStream": {
      "input": {
        "type": "structure",
        "required": [
          "ProgressUpdateStreamName"
        ],
        "members": {
          "ProgressUpdateStreamName": {
            "shape": "S2"
          },
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteProgressUpdateStream": {
      "input": {
        "type": "structure",
        "required": [
          "ProgressUpdateStreamName"
        ],
        "members": {
          "ProgressUpdateStreamName": {
            "shape": "S2"
          },
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeApplicationState": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationId"
        ],
        "members": {
          "ApplicationId": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationStatus": {
            "shape": "Sl"
          },
          "LastUpdatedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeMigrationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ProgressUpdateStream",
          "MigrationTaskName"
        ],
        "members": {
          "ProgressUpdateStream": {
            "shape": "S2"
          },
          "MigrationTaskName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MigrationTask": {
            "type": "structure",
            "members": {
              "ProgressUpdateStream": {
                "shape": "S2"
              },
              "MigrationTaskName": {
                "shape": "S3"
              },
              "Task": {
                "shape": "Sq"
              },
              "UpdateDateTime": {
                "type": "timestamp"
              },
              "ResourceAttributeList": {
                "type": "list",
                "member": {
                  "shape": "Sv"
                },
                "max": 100,
                "min": 0
              }
            }
          }
        }
      }
    },
    "DisassociateCreatedArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "ProgressUpdateStream",
          "MigrationTaskName",
          "CreatedArtifactName"
        ],
        "members": {
          "ProgressUpdateStream": {
            "shape": "S2"
          },
          "MigrationTaskName": {
            "shape": "S3"
          },
          "CreatedArtifactName": {
            "shape": "S5"
          },
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateDiscoveredResource": {
      "input": {
        "type": "structure",
        "required": [
          "ProgressUpdateStream",
          "MigrationTaskName",
          "ConfigurationId"
        ],
        "members": {
          "ProgressUpdateStream": {
            "shape": "S2"
          },
          "MigrationTaskName": {
            "shape": "S3"
          },
          "ConfigurationId": {
            "shape": "Sb"
          },
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ImportMigrationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ProgressUpdateStream",
          "MigrationTaskName"
        ],
        "members": {
          "ProgressUpdateStream": {
            "shape": "S2"
          },
          "MigrationTaskName": {
            "shape": "S3"
          },
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListCreatedArtifacts": {
      "input": {
        "type": "structure",
        "required": [
          "ProgressUpdateStream",
          "MigrationTaskName"
        ],
        "members": {
          "ProgressUpdateStream": {
            "shape": "S2"
          },
          "MigrationTaskName": {
            "shape": "S3"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer",
            "max": 10,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "CreatedArtifactList": {
            "type": "list",
            "member": {
              "shape": "S4"
            }
          }
        }
      }
    },
    "ListDiscoveredResources": {
      "input": {
        "type": "structure",
        "required": [
          "ProgressUpdateStream",
          "MigrationTaskName"
        ],
        "members": {
          "ProgressUpdateStream": {
            "shape": "S2"
          },
          "MigrationTaskName": {
            "shape": "S3"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer",
            "max": 10,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DiscoveredResourceList": {
            "type": "list",
            "member": {
              "shape": "Sa"
            }
          }
        }
      }
    },
    "ListMigrationTasks": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "shape": "S1e"
          },
          "ResourceName": {
            "type": "string",
            "max": 1600,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MigrationTaskSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ProgressUpdateStream": {
                  "shape": "S2"
                },
                "MigrationTaskName": {
                  "shape": "S3"
                },
                "Status": {
                  "shape": "Sr"
                },
                "ProgressPercent": {
                  "shape": "St"
                },
                "StatusDetail": {
                  "shape": "Ss"
                },
                "UpdateDateTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListProgressUpdateStreams": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "shape": "S1e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProgressUpdateStreamSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ProgressUpdateStreamName": {
                  "shape": "S2"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "NotifyApplicationState": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationId",
          "Status"
        ],
        "members": {
          "ApplicationId": {
            "shape": "Sj"
          },
          "Status": {
            "shape": "Sl"
          },
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "NotifyMigrationTaskState": {
      "input": {
        "type": "structure",
        "required": [
          "ProgressUpdateStream",
          "MigrationTaskName",
          "Task",
          "UpdateDateTime",
          "NextUpdateSeconds"
        ],
        "members": {
          "ProgressUpdateStream": {
            "shape": "S2"
          },
          "MigrationTaskName": {
            "shape": "S3"
          },
          "Task": {
            "shape": "Sq"
          },
          "UpdateDateTime": {
            "type": "timestamp"
          },
          "NextUpdateSeconds": {
            "type": "integer",
            "min": 0
          },
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutResourceAttributes": {
      "input": {
        "type": "structure",
        "required": [
          "ProgressUpdateStream",
          "MigrationTaskName",
          "ResourceAttributeList"
        ],
        "members": {
          "ProgressUpdateStream": {
            "shape": "S2"
          },
          "MigrationTaskName": {
            "shape": "S3"
          },
          "ResourceAttributeList": {
            "type": "list",
            "member": {
              "shape": "Sv"
            },
            "max": 100,
            "min": 1
          },
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 50,
      "min": 1,
      "pattern": "[^/:|\\000-\\037]+"
    },
    "S3": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[^:|]+"
    },
    "S4": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {
          "shape": "S5"
        },
        "Description": {
          "type": "string",
          "max": 500,
          "min": 0
        }
      }
    },
    "S5": {
      "type": "string",
      "max": 1600,
      "min": 1,
      "pattern": "arn:[a-z-]+:[a-z0-9-]+:(?:[a-z0-9-]+|):(?:[0-9]{12}|):.*"
    },
    "Sa": {
      "type": "structure",
      "required": [
        "ConfigurationId"
      ],
      "members": {
        "ConfigurationId": {
          "shape": "Sb"
        },
        "Description": {
          "type": "string",
          "max": 500,
          "min": 0
        }
      }
    },
    "Sb": {
      "type": "string",
      "min": 1
    },
    "Sj": {
      "type": "string",
      "max": 1600,
      "min": 1
    },
    "Sl": {
      "type": "string",
      "enum": [
        "NOT_STARTED",
        "IN_PROGRESS",
        "COMPLETED"
      ]
    },
    "Sq": {
      "type": "structure",
      "required": [
        "Status"
      ],
      "members": {
        "Status": {
          "shape": "Sr"
        },
        "StatusDetail": {
          "shape": "Ss"
        },
        "ProgressPercent": {
          "shape": "St"
        }
      }
    },
    "Sr": {
      "type": "string",
      "enum": [
        "NOT_STARTED",
        "IN_PROGRESS",
        "FAILED",
        "COMPLETED"
      ]
    },
    "Ss": {
      "type": "string",
      "max": 500,
      "min": 0
    },
    "St": {
      "type": "integer",
      "max": 100,
      "min": 0
    },
    "Sv": {
      "type": "structure",
      "required": [
        "Type",
        "Value"
      ],
      "members": {
        "Type": {
          "type": "string",
          "enum": [
            "IPV4_ADDRESS",
            "IPV6_ADDRESS",
            "MAC_ADDRESS",
            "FQDN",
            "VM_MANAGER_ID",
            "VM_MANAGED_OBJECT_REFERENCE",
            "VM_NAME",
            "VM_PATH",
            "BIOS_ID",
            "MOTHERBOARD_SERIAL_NUMBER"
          ]
        },
        "Value": {
          "type": "string",
          "max": 256,
          "min": 1
        }
      }
    },
    "S1e": {
      "type": "integer",
      "max": 100,
      "min": 1
    }
  }
}