{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-08-10",
    "endpointPrefix": "batch",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "AWS Batch",
    "serviceFullName": "AWS Batch",
    "serviceId": "Batch",
    "signatureVersion": "v4",
    "uid": "batch-2016-08-10"
  },
  "operations": {
    "CancelJob": {
      "http": {
        "requestUri": "/v1/canceljob"
      },
      "input": {
        "type": "structure",
        "required": [
          "jobId",
          "reason"
        ],
        "members": {
          "jobId": {},
          "reason": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateComputeEnvironment": {
      "http": {
        "requestUri": "/v1/createcomputeenvironment"
      },
      "input": {
        "type": "structure",
        "required": [
          "computeEnvironmentName",
          "type",
          "serviceRole"
        ],
        "members": {
          "computeEnvironmentName": {},
          "type": {},
          "state": {},
          "computeResources": {
            "shape": "S7"
          },
          "serviceRole": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "computeEnvironmentName": {},
          "computeEnvironmentArn": {}
        }
      }
    },
    "CreateJobQueue": {
      "http": {
        "requestUri": "/v1/createjobqueue"
      },
      "input": {
        "type": "structure",
        "required": [
          "jobQueueName",
          "priority",
          "computeEnvironmentOrder"
        ],
        "members": {
          "jobQueueName": {},
          "state": {},
          "priority": {
            "type": "integer"
          },
          "computeEnvironmentOrder": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "jobQueueName",
          "jobQueueArn"
        ],
        "members": {
          "jobQueueName": {},
          "jobQueueArn": {}
        }
      }
    },
    "DeleteComputeEnvironment": {
      "http": {
        "requestUri": "/v1/deletecomputeenvironment"
      },
      "input": {
        "type": "structure",
        "required": [
          "computeEnvironment"
        ],
        "members": {
          "computeEnvironment": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteJobQueue": {
      "http": {
        "requestUri": "/v1/deletejobqueue"
      },
      "input": {
        "type": "structure",
        "required": [
          "jobQueue"
        ],
        "members": {
          "jobQueue": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeregisterJobDefinition": {
      "http": {
        "requestUri": "/v1/deregisterjobdefinition"
      },
      "input": {
        "type": "structure",
        "required": [
          "jobDefinition"
        ],
        "members": {
          "jobDefinition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeComputeEnvironments": {
      "http": {
        "requestUri": "/v1/describecomputeenvironments"
      },
      "input": {
        "type": "structure",
        "members": {
          "computeEnvironments": {
            "shape": "Sb"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "computeEnvironments": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "computeEnvironmentName",
                "computeEnvironmentArn",
                "ecsClusterArn"
              ],
              "members": {
                "computeEnvironmentName": {},
                "computeEnvironmentArn": {},
                "ecsClusterArn": {},
                "type": {},
                "state": {},
                "status": {},
                "statusReason": {},
                "computeResources": {
                  "shape": "S7"
                },
                "serviceRole": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeJobDefinitions": {
      "http": {
        "requestUri": "/v1/describejobdefinitions"
      },
      "input": {
        "type": "structure",
        "members": {
          "jobDefinitions": {
            "shape": "Sb"
          },
          "maxResults": {
            "type": "integer"
          },
          "jobDefinitionName": {},
          "status": {},
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "jobDefinitions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "jobDefinitionName",
                "jobDefinitionArn",
                "revision",
                "type"
              ],
              "members": {
                "jobDefinitionName": {},
                "jobDefinitionArn": {},
                "revision": {
                  "type": "integer"
                },
                "status": {},
                "type": {},
                "parameters": {
                  "shape": "Sz"
                },
                "retryStrategy": {
                  "shape": "S10"
                },
                "containerProperties": {
                  "shape": "S11"
                },
                "timeout": {
                  "shape": "S1r"
                },
                "nodeProperties": {
                  "shape": "S1s"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeJobQueues": {
      "http": {
        "requestUri": "/v1/describejobqueues"
      },
      "input": {
        "type": "structure",
        "members": {
          "jobQueues": {
            "shape": "Sb"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "jobQueues": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "jobQueueName",
                "jobQueueArn",
                "state",
                "priority",
                "computeEnvironmentOrder"
              ],
              "members": {
                "jobQueueName": {},
                "jobQueueArn": {},
                "state": {},
                "status": {},
                "statusReason": {},
                "priority": {
                  "type": "integer"
                },
                "computeEnvironmentOrder": {
                  "shape": "Sh"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeJobs": {
      "http": {
        "requestUri": "/v1/describejobs"
      },
      "input": {
        "type": "structure",
        "required": [
          "jobs"
        ],
        "members": {
          "jobs": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "jobs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "jobName",
                "jobId",
                "jobQueue",
                "status",
                "startedAt",
                "jobDefinition"
              ],
              "members": {
                "jobName": {},
                "jobId": {},
                "jobQueue": {},
                "status": {},
                "attempts": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "container": {
                        "type": "structure",
                        "members": {
                          "containerInstanceArn": {},
                          "taskArn": {},
                          "exitCode": {
                            "type": "integer"
                          },
                          "reason": {},
                          "logStreamName": {},
                          "networkInterfaces": {
                            "shape": "S28"
                          }
                        }
                      },
                      "startedAt": {
                        "type": "long"
                      },
                      "stoppedAt": {
                        "type": "long"
                      },
                      "statusReason": {}
                    }
                  }
                },
                "statusReason": {},
                "createdAt": {
                  "type": "long"
                },
                "retryStrategy": {
                  "shape": "S10"
                },
                "startedAt": {
                  "type": "long"
                },
                "stoppedAt": {
                  "type": "long"
                },
                "dependsOn": {
                  "shape": "S2b"
                },
                "jobDefinition": {},
                "parameters": {
                  "shape": "Sz"
                },
                "container": {
                  "type": "structure",
                  "members": {
                    "image": {},
                    "vcpus": {
                      "type": "integer"
                    },
                    "memory": {
                      "type": "integer"
                    },
                    "command": {
                      "shape": "Sb"
                    },
                    "jobRoleArn": {},
                    "executionRoleArn": {},
                    "volumes": {
                      "shape": "S12"
                    },
                    "environment": {
                      "shape": "S15"
                    },
                    "mountPoints": {
                      "shape": "S17"
                    },
                    "readonlyRootFilesystem": {
                      "type": "boolean"
                    },
                    "ulimits": {
                      "shape": "S1a"
                    },
                    "privileged": {
                      "type": "boolean"
                    },
                    "user": {},
                    "exitCode": {
                      "type": "integer"
                    },
                    "reason": {},
                    "containerInstanceArn": {},
                    "taskArn": {},
                    "logStreamName": {},
                    "instanceType": {},
                    "networkInterfaces": {
                      "shape": "S28"
                    },
                    "resourceRequirements": {
                      "shape": "S1c"
                    },
                    "linuxParameters": {
                      "shape": "S1f"
                    },
                    "logConfiguration": {
                      "shape": "S1m"
                    },
                    "secrets": {
                      "shape": "S1p"
                    }
                  }
                },
                "nodeDetails": {
                  "type": "structure",
                  "members": {
                    "nodeIndex": {
                      "type": "integer"
                    },
                    "isMainNode": {
                      "type": "boolean"
                    }
                  }
                },
                "nodeProperties": {
                  "shape": "S1s"
                },
                "arrayProperties": {
                  "type": "structure",
                  "members": {
                    "statusSummary": {
                      "type": "map",
                      "key": {},
                      "value": {
                        "type": "integer"
                      }
                    },
                    "size": {
                      "type": "integer"
                    },
                    "index": {
                      "type": "integer"
                    }
                  }
                },
                "timeout": {
                  "shape": "S1r"
                }
              }
            }
          }
        }
      }
    },
    "ListJobs": {
      "http": {
        "requestUri": "/v1/listjobs"
      },
      "input": {
        "type": "structure",
        "members": {
          "jobQueue": {},
          "arrayJobId": {},
          "multiNodeJobId": {},
          "jobStatus": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "jobSummaryList"
        ],
        "members": {
          "jobSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "jobId",
                "jobName"
              ],
              "members": {
                "jobId": {},
                "jobName": {},
                "createdAt": {
                  "type": "long"
                },
                "status": {},
                "statusReason": {},
                "startedAt": {
                  "type": "long"
                },
                "stoppedAt": {
                  "type": "long"
                },
                "container": {
                  "type": "structure",
                  "members": {
                    "exitCode": {
                      "type": "integer"
                    },
                    "reason": {}
                  }
                },
                "arrayProperties": {
                  "type": "structure",
                  "members": {
                    "size": {
                      "type": "integer"
                    },
                    "index": {
                      "type": "integer"
                    }
                  }
                },
                "nodeProperties": {
                  "type": "structure",
                  "members": {
                    "isMainNode": {
                      "type": "boolean"
                    },
                    "numNodes": {
                      "type": "integer"
                    },
                    "nodeIndex": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "RegisterJobDefinition": {
      "http": {
        "requestUri": "/v1/registerjobdefinition"
      },
      "input": {
        "type": "structure",
        "required": [
          "jobDefinitionName",
          "type"
        ],
        "members": {
          "jobDefinitionName": {},
          "type": {},
          "parameters": {
            "shape": "Sz"
          },
          "containerProperties": {
            "shape": "S11"
          },
          "nodeProperties": {
            "shape": "S1s"
          },
          "retryStrategy": {
            "shape": "S10"
          },
          "timeout": {
            "shape": "S1r"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "jobDefinitionName",
          "jobDefinitionArn",
          "revision"
        ],
        "members": {
          "jobDefinitionName": {},
          "jobDefinitionArn": {},
          "revision": {
            "type": "integer"
          }
        }
      }
    },
    "SubmitJob": {
      "http": {
        "requestUri": "/v1/submitjob"
      },
      "input": {
        "type": "structure",
        "required": [
          "jobName",
          "jobQueue",
          "jobDefinition"
        ],
        "members": {
          "jobName": {},
          "jobQueue": {},
          "arrayProperties": {
            "type": "structure",
            "members": {
              "size": {
                "type": "integer"
              }
            }
          },
          "dependsOn": {
            "shape": "S2b"
          },
          "jobDefinition": {},
          "parameters": {
            "shape": "Sz"
          },
          "containerOverrides": {
            "shape": "S2u"
          },
          "nodeOverrides": {
            "type": "structure",
            "members": {
              "numNodes": {
                "type": "integer"
              },
              "nodePropertyOverrides": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "targetNodes"
                  ],
                  "members": {
                    "targetNodes": {},
                    "containerOverrides": {
                      "shape": "S2u"
                    }
                  }
                }
              }
            }
          },
          "retryStrategy": {
            "shape": "S10"
          },
          "timeout": {
            "shape": "S1r"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "jobName",
          "jobId"
        ],
        "members": {
          "jobName": {},
          "jobId": {}
        }
      }
    },
    "TerminateJob": {
      "http": {
        "requestUri": "/v1/terminatejob"
      },
      "input": {
        "type": "structure",
        "required": [
          "jobId",
          "reason"
        ],
        "members": {
          "jobId": {},
          "reason": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateComputeEnvironment": {
      "http": {
        "requestUri": "/v1/updatecomputeenvironment"
      },
      "input": {
        "type": "structure",
        "required": [
          "computeEnvironment"
        ],
        "members": {
          "computeEnvironment": {},
          "state": {},
          "computeResources": {
            "type": "structure",
            "members": {
              "minvCpus": {
                "type": "integer"
              },
              "maxvCpus": {
                "type": "integer"
              },
              "desiredvCpus": {
                "type": "integer"
              }
            }
          },
          "serviceRole": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "computeEnvironmentName": {},
          "computeEnvironmentArn": {}
        }
      }
    },
    "UpdateJobQueue": {
      "http": {
        "requestUri": "/v1/updatejobqueue"
      },
      "input": {
        "type": "structure",
        "required": [
          "jobQueue"
        ],
        "members": {
          "jobQueue": {},
          "state": {},
          "priority": {
            "type": "integer"
          },
          "computeEnvironmentOrder": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "jobQueueName": {},
          "jobQueueArn": {}
        }
      }
    }
  },
  "shapes": {
    "S7": {
      "type": "structure",
      "required": [
        "type",
        "minvCpus",
        "maxvCpus",
        "instanceTypes",
        "subnets",
        "instanceRole"
      ],
      "members": {
        "type": {},
        "allocationStrategy": {},
        "minvCpus": {
          "type": "integer"
        },
        "maxvCpus": {
          "type": "integer"
        },
        "desiredvCpus": {
          "type": "integer"
        },
        "instanceTypes": {
          "shape": "Sb"
        },
        "imageId": {},
        "subnets": {
          "shape": "Sb"
        },
        "securityGroupIds": {
          "shape": "Sb"
        },
        "ec2KeyPair": {},
        "instanceRole": {},
        "tags": {
          "type": "map",
          "key": {},
          "value": {}
        },
        "placementGroup": {},
        "bidPercentage": {
          "type": "integer"
        },
        "spotIamFleetRole": {},
        "launchTemplate": {
          "type": "structure",
          "members": {
            "launchTemplateId": {},
            "launchTemplateName": {},
            "version": {}
          }
        }
      }
    },
    "Sb": {
      "type": "list",
      "member": {}
    },
    "Sh": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "order",
          "computeEnvironment"
        ],
        "members": {
          "order": {
            "type": "integer"
          },
          "computeEnvironment": {}
        }
      }
    },
    "Sz": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S10": {
      "type": "structure",
      "members": {
        "attempts": {
          "type": "integer"
        }
      }
    },
    "S11": {
      "type": "structure",
      "members": {
        "image": {},
        "vcpus": {
          "type": "integer"
        },
        "memory": {
          "type": "integer"
        },
        "command": {
          "shape": "Sb"
        },
        "jobRoleArn": {},
        "executionRoleArn": {},
        "volumes": {
          "shape": "S12"
        },
        "environment": {
          "shape": "S15"
        },
        "mountPoints": {
          "shape": "S17"
        },
        "readonlyRootFilesystem": {
          "type": "boolean"
        },
        "privileged": {
          "type": "boolean"
        },
        "ulimits": {
          "shape": "S1a"
        },
        "user": {},
        "instanceType": {},
        "resourceRequirements": {
          "shape": "S1c"
        },
        "linuxParameters": {
          "shape": "S1f"
        },
        "logConfiguration": {
          "shape": "S1m"
        },
        "secrets": {
          "shape": "S1p"
        }
      }
    },
    "S12": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "host": {
            "type": "structure",
            "members": {
              "sourcePath": {}
            }
          },
          "name": {}
        }
      }
    },
    "S15": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "value": {}
        }
      }
    },
    "S17": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "containerPath": {},
          "readOnly": {
            "type": "boolean"
          },
          "sourceVolume": {}
        }
      }
    },
    "S1a": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "hardLimit",
          "name",
          "softLimit"
        ],
        "members": {
          "hardLimit": {
            "type": "integer"
          },
          "name": {},
          "softLimit": {
            "type": "integer"
          }
        }
      }
    },
    "S1c": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "value",
          "type"
        ],
        "members": {
          "value": {},
          "type": {}
        }
      }
    },
    "S1f": {
      "type": "structure",
      "members": {
        "devices": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "hostPath"
            ],
            "members": {
              "hostPath": {},
              "containerPath": {},
              "permissions": {
                "type": "list",
                "member": {}
              }
            }
          }
        },
        "initProcessEnabled": {
          "type": "boolean"
        },
        "sharedMemorySize": {
          "type": "integer"
        },
        "tmpfs": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "containerPath",
              "size"
            ],
            "members": {
              "containerPath": {},
              "size": {
                "type": "integer"
              },
              "mountOptions": {
                "shape": "Sb"
              }
            }
          }
        },
        "maxSwap": {
          "type": "integer"
        },
        "swappiness": {
          "type": "integer"
        }
      }
    },
    "S1m": {
      "type": "structure",
      "required": [
        "logDriver"
      ],
      "members": {
        "logDriver": {},
        "options": {
          "type": "map",
          "key": {},
          "value": {}
        },
        "secretOptions": {
          "shape": "S1p"
        }
      }
    },
    "S1p": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "valueFrom"
        ],
        "members": {
          "name": {},
          "valueFrom": {}
        }
      }
    },
    "S1r": {
      "type": "structure",
      "members": {
        "attemptDurationSeconds": {
          "type": "integer"
        }
      }
    },
    "S1s": {
      "type": "structure",
      "required": [
        "numNodes",
        "mainNode",
        "nodeRangeProperties"
      ],
      "members": {
        "numNodes": {
          "type": "integer"
        },
        "mainNode": {
          "type": "integer"
        },
        "nodeRangeProperties": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "targetNodes"
            ],
            "members": {
              "targetNodes": {},
              "container": {
                "shape": "S11"
              }
            }
          }
        }
      }
    },
    "S28": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "attachmentId": {},
          "ipv6Address": {},
          "privateIpv4Address": {}
        }
      }
    },
    "S2b": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "jobId": {},
          "type": {}
        }
      }
    },
    "S2u": {
      "type": "structure",
      "members": {
        "vcpus": {
          "type": "integer"
        },
        "memory": {
          "type": "integer"
        },
        "command": {
          "shape": "Sb"
        },
        "instanceType": {},
        "environment": {
          "shape": "S15"
        },
        "resourceRequirements": {
          "shape": "S1c"
        }
      }
    }
  }
}