{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2023-04-20",
    "endpointPrefix": "bedrock",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Bedrock",
    "serviceId": "Bedrock",
    "signatureVersion": "v4",
    "signingName": "bedrock",
    "uid": "bedrock-2023-04-20"
  },
  "operations": {
    "CreateModelCustomizationJob": {
      "http": {
        "requestUri": "/model-customization-jobs",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "baseModelIdentifier",
          "customModelName",
          "hyperParameters",
          "jobName",
          "outputDataConfig",
          "roleArn",
          "trainingDataConfig"
        ],
        "members": {
          "baseModelIdentifier": {},
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "customModelKmsKeyId": {},
          "customModelName": {},
          "customModelTags": {
            "shape": "S6"
          },
          "hyperParameters": {
            "shape": "Sa"
          },
          "jobName": {},
          "jobTags": {
            "shape": "S6"
          },
          "outputDataConfig": {
            "shape": "Sd"
          },
          "roleArn": {},
          "trainingDataConfig": {
            "shape": "Sg"
          },
          "validationDataConfig": {
            "shape": "Sh"
          },
          "vpcConfig": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "jobArn"
        ],
        "members": {
          "jobArn": {}
        }
      },
      "idempotent": true
    },
    "DeleteCustomModel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/custom-models/{modelIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "modelIdentifier"
        ],
        "members": {
          "modelIdentifier": {
            "location": "uri",
            "locationName": "modelIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteModelInvocationLoggingConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/logging/modelinvocations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "GetCustomModel": {
      "http": {
        "method": "GET",
        "requestUri": "/custom-models/{modelIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "modelIdentifier"
        ],
        "members": {
          "modelIdentifier": {
            "location": "uri",
            "locationName": "modelIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "baseModelArn",
          "creationTime",
          "jobArn",
          "modelArn",
          "modelName",
          "outputDataConfig",
          "trainingDataConfig"
        ],
        "members": {
          "baseModelArn": {},
          "creationTime": {
            "shape": "Sz"
          },
          "hyperParameters": {
            "shape": "Sa"
          },
          "jobArn": {},
          "jobName": {},
          "modelArn": {},
          "modelKmsKeyArn": {},
          "modelName": {},
          "outputDataConfig": {
            "shape": "Sd"
          },
          "trainingDataConfig": {
            "shape": "Sg"
          },
          "trainingMetrics": {
            "shape": "S11"
          },
          "validationDataConfig": {
            "shape": "Sh"
          },
          "validationMetrics": {
            "shape": "S13"
          }
        }
      }
    },
    "GetFoundationModel": {
      "http": {
        "method": "GET",
        "requestUri": "/foundation-models/{modelIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "modelIdentifier"
        ],
        "members": {
          "modelIdentifier": {
            "location": "uri",
            "locationName": "modelIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "modelDetails": {
            "type": "structure",
            "required": [
              "modelArn",
              "modelId"
            ],
            "members": {
              "customizationsSupported": {
                "shape": "S18"
              },
              "inferenceTypesSupported": {
                "shape": "S1a"
              },
              "inputModalities": {
                "shape": "S1c"
              },
              "modelArn": {},
              "modelId": {},
              "modelName": {},
              "outputModalities": {
                "shape": "S1c"
              },
              "providerName": {},
              "responseStreamingSupported": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "GetModelCustomizationJob": {
      "http": {
        "method": "GET",
        "requestUri": "/model-customization-jobs/{jobIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "jobIdentifier"
        ],
        "members": {
          "jobIdentifier": {
            "location": "uri",
            "locationName": "jobIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "baseModelArn",
          "creationTime",
          "hyperParameters",
          "jobArn",
          "jobName",
          "outputDataConfig",
          "outputModelName",
          "roleArn",
          "trainingDataConfig",
          "validationDataConfig"
        ],
        "members": {
          "baseModelArn": {},
          "clientRequestToken": {},
          "creationTime": {
            "shape": "Sz"
          },
          "endTime": {
            "shape": "Sz"
          },
          "failureMessage": {},
          "hyperParameters": {
            "shape": "Sa"
          },
          "jobArn": {},
          "jobName": {},
          "lastModifiedTime": {
            "shape": "Sz"
          },
          "outputDataConfig": {
            "shape": "Sd"
          },
          "outputModelArn": {},
          "outputModelKmsKeyArn": {},
          "outputModelName": {},
          "roleArn": {},
          "status": {},
          "trainingDataConfig": {
            "shape": "Sg"
          },
          "trainingMetrics": {
            "shape": "S11"
          },
          "validationDataConfig": {
            "shape": "Sh"
          },
          "validationMetrics": {
            "shape": "S13"
          },
          "vpcConfig": {
            "shape": "Sk"
          }
        }
      }
    },
    "GetModelInvocationLoggingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/logging/modelinvocations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "loggingConfig": {
            "shape": "S1q"
          }
        }
      }
    },
    "ListCustomModels": {
      "http": {
        "method": "GET",
        "requestUri": "/custom-models",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "baseModelArnEquals": {
            "location": "querystring",
            "locationName": "baseModelArnEquals"
          },
          "creationTimeAfter": {
            "shape": "Sz",
            "location": "querystring",
            "locationName": "creationTimeAfter"
          },
          "creationTimeBefore": {
            "shape": "Sz",
            "location": "querystring",
            "locationName": "creationTimeBefore"
          },
          "foundationModelArnEquals": {
            "location": "querystring",
            "locationName": "foundationModelArnEquals"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nameContains": {
            "location": "querystring",
            "locationName": "nameContains"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "sortBy": {
            "location": "querystring",
            "locationName": "sortBy"
          },
          "sortOrder": {
            "location": "querystring",
            "locationName": "sortOrder"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "modelSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "baseModelArn",
                "baseModelName",
                "creationTime",
                "modelArn",
                "modelName"
              ],
              "members": {
                "baseModelArn": {},
                "baseModelName": {},
                "creationTime": {
                  "shape": "Sz"
                },
                "modelArn": {},
                "modelName": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListFoundationModels": {
      "http": {
        "method": "GET",
        "requestUri": "/foundation-models",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "byCustomizationType": {
            "location": "querystring",
            "locationName": "byCustomizationType"
          },
          "byInferenceType": {
            "location": "querystring",
            "locationName": "byInferenceType"
          },
          "byOutputModality": {
            "location": "querystring",
            "locationName": "byOutputModality"
          },
          "byProvider": {
            "location": "querystring",
            "locationName": "byProvider"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "modelSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "modelArn",
                "modelId"
              ],
              "members": {
                "customizationsSupported": {
                  "shape": "S18"
                },
                "inferenceTypesSupported": {
                  "shape": "S1a"
                },
                "inputModalities": {
                  "shape": "S1c"
                },
                "modelArn": {},
                "modelId": {},
                "modelName": {},
                "outputModalities": {
                  "shape": "S1c"
                },
                "providerName": {},
                "responseStreamingSupported": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "ListModelCustomizationJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/model-customization-jobs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "creationTimeAfter": {
            "shape": "Sz",
            "location": "querystring",
            "locationName": "creationTimeAfter"
          },
          "creationTimeBefore": {
            "shape": "Sz",
            "location": "querystring",
            "locationName": "creationTimeBefore"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nameContains": {
            "location": "querystring",
            "locationName": "nameContains"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "sortBy": {
            "location": "querystring",
            "locationName": "sortBy"
          },
          "sortOrder": {
            "location": "querystring",
            "locationName": "sortOrder"
          },
          "statusEquals": {
            "location": "querystring",
            "locationName": "statusEquals"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "modelCustomizationJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "baseModelArn",
                "creationTime",
                "jobArn",
                "jobName",
                "status"
              ],
              "members": {
                "baseModelArn": {},
                "creationTime": {
                  "shape": "Sz"
                },
                "customModelArn": {},
                "customModelName": {},
                "endTime": {
                  "shape": "Sz"
                },
                "jobArn": {},
                "jobName": {},
                "lastModifiedTime": {
                  "shape": "Sz"
                },
                "status": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "requestUri": "/listTagsForResource",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceARN"
        ],
        "members": {
          "resourceARN": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "S6"
          }
        }
      }
    },
    "PutModelInvocationLoggingConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/logging/modelinvocations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "loggingConfig"
        ],
        "members": {
          "loggingConfig": {
            "shape": "S1q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "StopModelCustomizationJob": {
      "http": {
        "requestUri": "/model-customization-jobs/{jobIdentifier}/stop",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "jobIdentifier"
        ],
        "members": {
          "jobIdentifier": {
            "location": "uri",
            "locationName": "jobIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "TagResource": {
      "http": {
        "requestUri": "/tagResource",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceARN",
          "tags"
        ],
        "members": {
          "resourceARN": {},
          "tags": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "requestUri": "/untagResource",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceARN",
          "tagKeys"
        ],
        "members": {
          "resourceARN": {},
          "tagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S6": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "key",
          "value"
        ],
        "members": {
          "key": {},
          "value": {}
        }
      }
    },
    "Sa": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sd": {
      "type": "structure",
      "required": [
        "s3Uri"
      ],
      "members": {
        "s3Uri": {}
      }
    },
    "Sg": {
      "type": "structure",
      "required": [
        "s3Uri"
      ],
      "members": {
        "s3Uri": {}
      }
    },
    "Sh": {
      "type": "structure",
      "required": [
        "validators"
      ],
      "members": {
        "validators": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "s3Uri"
            ],
            "members": {
              "s3Uri": {}
            }
          }
        }
      }
    },
    "Sk": {
      "type": "structure",
      "required": [
        "securityGroupIds",
        "subnetIds"
      ],
      "members": {
        "securityGroupIds": {
          "type": "list",
          "member": {}
        },
        "subnetIds": {
          "type": "list",
          "member": {}
        }
      }
    },
    "Sz": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S11": {
      "type": "structure",
      "members": {
        "trainingLoss": {
          "type": "float"
        }
      }
    },
    "S13": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "validationLoss": {
            "type": "float"
          }
        }
      }
    },
    "S18": {
      "type": "list",
      "member": {}
    },
    "S1a": {
      "type": "list",
      "member": {}
    },
    "S1c": {
      "type": "list",
      "member": {}
    },
    "S1q": {
      "type": "structure",
      "members": {
        "cloudWatchConfig": {
          "type": "structure",
          "required": [
            "logGroupName",
            "roleArn"
          ],
          "members": {
            "largeDataDeliveryS3Config": {
              "shape": "S1s"
            },
            "logGroupName": {},
            "roleArn": {}
          }
        },
        "embeddingDataDeliveryEnabled": {
          "type": "boolean"
        },
        "imageDataDeliveryEnabled": {
          "type": "boolean"
        },
        "s3Config": {
          "shape": "S1s"
        },
        "textDataDeliveryEnabled": {
          "type": "boolean"
        }
      }
    },
    "S1s": {
      "type": "structure",
      "required": [
        "bucketName"
      ],
      "members": {
        "bucketName": {},
        "keyPrefix": {}
      }
    }
  }
}