{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-10-20",
    "endpointPrefix": "budgets",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWSBudgets",
    "serviceFullName": "AWS Budgets",
    "serviceId": "Budgets",
    "signatureVersion": "v4",
    "targetPrefix": "AWSBudgetServiceGateway",
    "uid": "budgets-2016-10-20"
  },
  "operations": {
    "CreateBudget": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Budget"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "Budget": {
            "shape": "S3"
          },
          "NotificationsWithSubscribers": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Notification",
                "Subscribers"
              ],
              "members": {
                "Notification": {
                  "shape": "Sk"
                },
                "Subscribers": {
                  "shape": "Sp"
                }
              }
            },
            "max": 5
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateNotification": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BudgetName",
          "Notification",
          "Subscribers"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "BudgetName": {
            "shape": "S4"
          },
          "Notification": {
            "shape": "Sk"
          },
          "Subscribers": {
            "shape": "Sp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateSubscriber": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BudgetName",
          "Notification",
          "Subscriber"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "BudgetName": {
            "shape": "S4"
          },
          "Notification": {
            "shape": "Sk"
          },
          "Subscriber": {
            "shape": "Sq"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteBudget": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BudgetName"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "BudgetName": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteNotification": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BudgetName",
          "Notification"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "BudgetName": {
            "shape": "S4"
          },
          "Notification": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSubscriber": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BudgetName",
          "Notification",
          "Subscriber"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "BudgetName": {
            "shape": "S4"
          },
          "Notification": {
            "shape": "Sk"
          },
          "Subscriber": {
            "shape": "Sq"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeBudget": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BudgetName"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "BudgetName": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Budget": {
            "shape": "S3"
          }
        }
      }
    },
    "DescribeBudgets": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "MaxResults": {
            "shape": "S17"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Budgets": {
            "type": "list",
            "member": {
              "shape": "S3"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeNotificationsForBudget": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BudgetName"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "BudgetName": {
            "shape": "S4"
          },
          "MaxResults": {
            "shape": "S17"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Notifications": {
            "type": "list",
            "member": {
              "shape": "Sk"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeSubscribersForNotification": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BudgetName",
          "Notification"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "BudgetName": {
            "shape": "S4"
          },
          "Notification": {
            "shape": "Sk"
          },
          "MaxResults": {
            "shape": "S17"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Subscribers": {
            "shape": "Sp"
          },
          "NextToken": {}
        }
      }
    },
    "UpdateBudget": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "NewBudget"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "NewBudget": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateNotification": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BudgetName",
          "OldNotification",
          "NewNotification"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "BudgetName": {
            "shape": "S4"
          },
          "OldNotification": {
            "shape": "Sk"
          },
          "NewNotification": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateSubscriber": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BudgetName",
          "Notification",
          "OldSubscriber",
          "NewSubscriber"
        ],
        "members": {
          "AccountId": {
            "shape": "S2"
          },
          "BudgetName": {
            "shape": "S4"
          },
          "Notification": {
            "shape": "Sk"
          },
          "OldSubscriber": {
            "shape": "Sq"
          },
          "NewSubscriber": {
            "shape": "Sq"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 12,
      "min": 12
    },
    "S3": {
      "type": "structure",
      "required": [
        "BudgetName",
        "TimeUnit",
        "BudgetType"
      ],
      "members": {
        "BudgetName": {
          "shape": "S4"
        },
        "BudgetLimit": {
          "shape": "S5"
        },
        "CostFilters": {
          "type": "map",
          "key": {},
          "value": {
            "type": "list",
            "member": {}
          }
        },
        "CostTypes": {
          "type": "structure",
          "members": {
            "IncludeTax": {
              "type": "boolean"
            },
            "IncludeSubscription": {
              "type": "boolean"
            },
            "UseBlended": {
              "type": "boolean"
            },
            "IncludeRefund": {
              "type": "boolean"
            },
            "IncludeCredit": {
              "type": "boolean"
            },
            "IncludeUpfront": {
              "type": "boolean"
            },
            "IncludeRecurring": {
              "type": "boolean"
            },
            "IncludeOtherSubscription": {
              "type": "boolean"
            },
            "IncludeSupport": {
              "type": "boolean"
            },
            "IncludeDiscount": {
              "type": "boolean"
            },
            "UseAmortized": {
              "type": "boolean"
            }
          }
        },
        "TimeUnit": {
          "type": "string",
          "enum": [
            "DAILY",
            "MONTHLY",
            "QUARTERLY",
            "ANNUALLY"
          ]
        },
        "TimePeriod": {
          "type": "structure",
          "members": {
            "Start": {
              "type": "timestamp"
            },
            "End": {
              "type": "timestamp"
            }
          }
        },
        "CalculatedSpend": {
          "type": "structure",
          "required": [
            "ActualSpend"
          ],
          "members": {
            "ActualSpend": {
              "shape": "S5"
            },
            "ForecastedSpend": {
              "shape": "S5"
            }
          }
        },
        "BudgetType": {
          "type": "string",
          "enum": [
            "USAGE",
            "COST",
            "RI_UTILIZATION",
            "RI_COVERAGE"
          ]
        }
      }
    },
    "S4": {
      "type": "string",
      "max": 100,
      "pattern": "[^:\\\\]+"
    },
    "S5": {
      "type": "structure",
      "required": [
        "Amount",
        "Unit"
      ],
      "members": {
        "Amount": {
          "type": "string",
          "pattern": "([0-9]*\\.)?[0-9]+"
        },
        "Unit": {
          "type": "string",
          "min": 1
        }
      }
    },
    "Sk": {
      "type": "structure",
      "required": [
        "NotificationType",
        "ComparisonOperator",
        "Threshold"
      ],
      "members": {
        "NotificationType": {
          "type": "string",
          "enum": [
            "ACTUAL",
            "FORECASTED"
          ]
        },
        "ComparisonOperator": {
          "type": "string",
          "enum": [
            "GREATER_THAN",
            "LESS_THAN",
            "EQUAL_TO"
          ]
        },
        "Threshold": {
          "type": "double",
          "max": 1000000000,
          "min": 0.1
        },
        "ThresholdType": {
          "type": "string",
          "enum": [
            "PERCENTAGE",
            "ABSOLUTE_VALUE"
          ]
        }
      }
    },
    "Sp": {
      "type": "list",
      "member": {
        "shape": "Sq"
      },
      "max": 11,
      "min": 1
    },
    "Sq": {
      "type": "structure",
      "required": [
        "SubscriptionType",
        "Address"
      ],
      "members": {
        "SubscriptionType": {
          "type": "string",
          "enum": [
            "SNS",
            "EMAIL"
          ]
        },
        "Address": {
          "type": "string",
          "min": 1
        }
      }
    },
    "S17": {
      "type": "integer",
      "max": 100,
      "min": 1
    }
  }
}