{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-10-25",
    "endpointPrefix":"ce",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"AWS Cost Explorer",
    "serviceFullName":"AWS Cost Explorer Service",
    "serviceId":"Cost Explorer",
    "signatureVersion":"v4",
    "signingName":"ce",
    "targetPrefix":"AWSInsightsIndexService",
    "uid":"ce-2017-10-25"
  },
  "operations":{
    "GetCostAndUsage":{
      "name":"GetCostAndUsage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCostAndUsageRequest"},
      "output":{"shape":"GetCostAndUsageResponse"},
      "errors":[
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Retrieve cost and usage metrics for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>AWS Service</code> or <code>AvailabilityZone</code>, in a specific time range. See the <code>GetDimensionValues</code> action for a complete list of the valid dimensions. Master accounts in an organization have access to all member accounts.</p>"
    },
    "GetDimensionValues":{
      "name":"GetDimensionValues",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDimensionValuesRequest"},
      "output":{"shape":"GetDimensionValuesResponse"},
      "errors":[
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>You can use <code>GetDimensionValues</code> to retrieve all available filter values for a specific filter over a period of time. You can search the dimension values for an arbitrary string. </p>"
    },
    "GetReservationUtilization":{
      "name":"GetReservationUtilization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetReservationUtilizationRequest"},
      "output":{"shape":"GetReservationUtilizationResponse"},
      "errors":[
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>You can retrieve the Reservation utilization for your account. Master accounts in an organization have access to their associated member accounts. You can filter data by dimensions in a time period. You can use <code>GetDimensionValues</code> to determine the possible dimension values. Currently, you can group only by <code>SUBSCRIPTION_ID</code>. </p>"
    },
    "GetTags":{
      "name":"GetTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTagsRequest"},
      "output":{"shape":"GetTagsResponse"},
      "errors":[
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>You can query for available tag keys and tag values for a specified period. You can search the tag values for an arbitrary string. </p>"
    }
  },
  "shapes":{
    "AttributeType":{"type":"string"},
    "AttributeValue":{"type":"string"},
    "Attributes":{
      "type":"map",
      "key":{"shape":"AttributeType"},
      "value":{"shape":"AttributeValue"}
    },
    "Context":{
      "type":"string",
      "enum":[
        "COST_AND_USAGE",
        "RESERVATIONS"
      ]
    },
    "DateInterval":{
      "type":"structure",
      "required":[
        "Start",
        "End"
      ],
      "members":{
        "Start":{
          "shape":"YearMonthDay",
          "documentation":"<p>The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, then the cost and usage data is retrieved starting at <code>2017-01-01</code> up to the end date.</p>"
        },
        "End":{
          "shape":"YearMonthDay",
          "documentation":"<p>The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if the <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from the start date but not including <code>2017-05-01</code>.</p>"
        }
      },
      "documentation":"<p>The time period that you want the usage and costs for. </p>"
    },
    "Dimension":{
      "type":"string",
      "enum":[
        "AZ",
        "INSTANCE_TYPE",
        "LINKED_ACCOUNT",
        "OPERATION",
        "PURCHASE_TYPE",
        "REGION",
        "SERVICE",
        "USAGE_TYPE",
        "USAGE_TYPE_GROUP",
        "RECORD_TYPE",
        "OPERATING_SYSTEM",
        "TENANCY",
        "SCOPE",
        "PLATFORM",
        "SUBSCRIPTION_ID"
      ]
    },
    "DimensionValues":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"Dimension",
          "documentation":"<p>The names of the metadata types that you can use to filter and group your results. For example, <code>AZ</code> returns a list of Availability Zones.</p>"
        },
        "Values":{
          "shape":"Values",
          "documentation":"<p>The metadata values that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p>"
        }
      },
      "documentation":"<p>The metadata that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p>"
    },
    "DimensionValuesWithAttributes":{
      "type":"structure",
      "members":{
        "Value":{
          "shape":"Value",
          "documentation":"<p>The value of a dimension with a specific attribute.</p>"
        },
        "Attributes":{
          "shape":"Attributes",
          "documentation":"<p>The attribute that applies to a specific <code>Dimension</code>.</p>"
        }
      },
      "documentation":"<p>The metadata of a specific type that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p>"
    },
    "DimensionValuesWithAttributesList":{
      "type":"list",
      "member":{"shape":"DimensionValuesWithAttributes"}
    },
    "Entity":{"type":"string"},
    "ErrorMessage":{"type":"string"},
    "Estimated":{"type":"boolean"},
    "Expression":{
      "type":"structure",
      "members":{
        "Or":{
          "shape":"Expressions",
          "documentation":"<p>Return results that match either <code>Dimension</code>.</p>"
        },
        "And":{
          "shape":"Expressions",
          "documentation":"<p>Return results that match both <code>Dimension</code> objects.</p>"
        },
        "Not":{
          "shape":"Expression",
          "documentation":"<p>Return results that don't match <code>Dimension</code>.</p>"
        },
        "Dimensions":{
          "shape":"DimensionValues",
          "documentation":"<p>The specific <code>Dimension</code> to use for <code>Expression</code>.</p>"
        },
        "Tags":{
          "shape":"TagValues",
          "documentation":"<p>The specific <code>Tag</code> to use for <code>Expression</code>.</p>"
        }
      },
      "documentation":"<p>Use <code>Expression</code> to filter by cost or by usage. There are two patterns: </p> <ul> <li> <p>Simple dimension values - You can set the dimension name and values for the filters that you plan to use. For example, you can filter for <code>InstanceType==m4.xlarge OR InstanceType==c4.large</code>. The <code>Expression</code> for that looks like this.</p> <p> <code>{ \"Dimensions\": { \"Key\": \"InstanceType\", \"Values\": [ \"m4.xlarge\", “c4.large” ] } }</code> </p> <p>The list of dimension values are OR'd together to retrieve cost or usage data. You can create <code>Expression</code> and <code>DimensionValues</code> objects using either <code>with*</code> methods or <code>set*</code> methods in multiple lines. </p> </li> <li> <p>Compound dimension values with logical operations - You can use multiple <code>Expression</code> types and the logical operators <code>AND/OR/NOT</code> to create a list of one or more <code>Expression</code> objects. This allows you to filter on more advanced options. For example, you can filter on <code>((InstanceType == m4.large OR InstanceType == m3.large) OR (Tag.Type == Type1)) AND (UsageType != DataTransfer)</code>. The <code>Expression</code> for that looks like this.</p> <p> <code>{ \"And\": [ {\"Or\": [ {\"Dimensions\": { \"Key\": \"InstanceType\", \"Values\": [ \"m4.x.large\", \"c4.large\" ] }}, {\"Tag\": { \"Key\": \"TagName\", \"Values\": [\"Value1\"] } } ]}, {\"Not\": {\"dimensions\": { \"Key\": \"UsageType\", \"Values\": [\"DataTransfer\"] }}} ] } </code> </p> <note> <p>Because each <code>Expression</code> can have only one operator, the service returns an error if more than one is specified. The following example shows an Expression object that will create an error.</p> </note> <p> <code> { \"And\": [ ... ], \"DimensionValues\": { \"Dimension\": \"UsageType\", \"Values\": [ \"DataTransfer\" ] } } </code> </p> </li> </ul>"
    },
    "Expressions":{
      "type":"list",
      "member":{"shape":"Expression"}
    },
    "GetCostAndUsageRequest":{
      "type":"structure",
      "members":{
        "TimePeriod":{
          "shape":"DateInterval",
          "documentation":"<p>Sets the start and end dates for retrieving AWS costs. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.</p>"
        },
        "Granularity":{
          "shape":"Granularity",
          "documentation":"<p>Sets the AWS cost granularity to <code>MONTHLY</code> or <code>DAILY</code>.</p>"
        },
        "Filter":{
          "shape":"Expression",
          "documentation":"<p>Filters AWS costs by different dimensions. For example, you can specify <code>Service</code> and <code>Linked Account</code> and get the costs associated with that account's usage of that service. You can nest <code>Expression</code> objects to define any combination of dimension filters. For more information, see the <code>Expression</code> object or <code>More Examples</code>. </p>"
        },
        "Metrics":{
          "shape":"MetricNames",
          "documentation":"<p>Which metrics are returned in the query. For more information about blended and unblended rates, see https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/. </p> <p>Valid values are <code>BlendedCost</code>, <code>UnblendedCost</code>, and <code>UsageQuantity</code>.</p> <note> <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage numbers without taking into account the units. For example, if you aggregate <code>usageQuantity</code> across all of EC2, the results aren't meaningful because EC2 compute hours and data transfer are measured in different units (for example, hours vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by <code>UsageType</code> or <code>UsageTypeGroups</code>. </p> </note>"
        },
        "GroupBy":{
          "shape":"GroupDefinitions",
          "documentation":"<p>You can group AWS costs using up to two different groups, either dimensions, tag keys, or both.</p> <p>When you group by tag key, you get all tag values, including empty strings.</p> <p>Valid values are: <code>AZ</code>, <code>INSTANCE_TYPE</code>, <code>LINKED_ACCCOUNT</code>, <code>OPERATION</code>, <code>PURCHASE_TYPE</code>, <code>SERVICE</code>, <code>USAGE_TYPE</code>, <code>TAGS</code>, and <code>PLATFORM</code>.</p>"
        },
        "NextPageToken":{
          "shape":"NextPageToken",
          "documentation":"<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
        }
      }
    },
    "GetCostAndUsageResponse":{
      "type":"structure",
      "members":{
        "NextPageToken":{
          "shape":"NextPageToken",
          "documentation":"<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
        },
        "GroupDefinitions":{
          "shape":"GroupDefinitions",
          "documentation":"<p>The groups specified by the the <code>Filter</code> or <code>GroupBy</code> parameters in the request.</p>"
        },
        "ResultsByTime":{
          "shape":"ResultsByTime",
          "documentation":"<p>The time period covered by the results in the response.</p>"
        }
      }
    },
    "GetDimensionValuesRequest":{
      "type":"structure",
      "required":[
        "TimePeriod",
        "Dimension"
      ],
      "members":{
        "SearchString":{
          "shape":"SearchString",
          "documentation":"<p>The value that you want to search the filter values for.</p>"
        },
        "TimePeriod":{
          "shape":"DateInterval",
          "documentation":"<p>The start and end dates for retrieving the dimension values. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.</p>"
        },
        "Dimension":{
          "shape":"Dimension",
          "documentation":"<p>The name of the dimension. Different <code>Dimensions</code>are available for different <code>Context</code>s. For more information, see <code>Context</code>.</p>"
        },
        "Context":{
          "shape":"Context",
          "documentation":"<p>The context for the call to <code>GetDimensionValues</code>. This can be <code>RESERVED_INSTANCE</code> or <code>COST_AND_USAGE</code>. The default value is <code>COST_AND_USAGE</code>. If the context is set to <code>RESERVED_INSTANCE</code>, the resulting dimension values can be used in the <code>GetReservationUtilization</code> action. If the context is set to <code>COST_AND_USAGE</code>, , the resulting dimension values can be used in the <code>GetCostAndUsage</code> operation.</p> <p>If you set the context to <code>CostAndUsage</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is us-east-1a.</p> </li> <li> <p>InstanceType - The type of EC2 instance. An example is m4.xlarge.</p> </li> <li> <p>LinkedAccount - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account</p> </li> <li> <p>Operation - The action performed. Examples include RunInstance and CreateBucket.</p> </li> <li> <p>PurchaseType - The reservation type of the purchase to which this usage is related. Examples include: On Demand Instances and Standard Reserved Instances</p> </li> <li> <p>Service - The AWS service such as DynamoDB.</p> </li> <li> <p>UsageType -The type of usage. An example is DataTransfer-In-Bytes. The response for the GetDimensionValues action includes a unit attribute, examples of which include GB and Hrs.</p> </li> <li> <p>UsageTypeGroup - The grouping of common usage types. An example is EC2: CloudWatch – Alarms. The response for this action includes a unit attribute.</p> </li> <li> <p>RecordType - The different types of charges such as RI fees, usage costs, tax refunds, and credits</p> </li> </ul> <p>If you set the context to <code>ReservedInstance</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is us-east-1a.</p> </li> <li> <p>InstanceType - The type of EC2 instance. An example is m4.xlarge.</p> </li> <li> <p>LinkedAccount - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account</p> </li> <li> <p>Platform - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>Region - The AWS region.</p> </li> <li> <p>Scope - The scope of a reserved instance (RI). Values are regional or a single availability zone.</p> </li> <li> <p>Tenancy - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul>"
        },
        "NextPageToken":{
          "shape":"NextPageToken",
          "documentation":"<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
        }
      }
    },
    "GetDimensionValuesResponse":{
      "type":"structure",
      "required":[
        "DimensionValues",
        "ReturnSize",
        "TotalSize"
      ],
      "members":{
        "DimensionValues":{
          "shape":"DimensionValuesWithAttributesList",
          "documentation":"<p>The filters that you used to filter your request. Some dimensions are available only for a specific context:</p> <p>If you set the context to <code>CostAndUsage</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is us-east-1a.</p> </li> <li> <p>InstanceType - The type of EC2 instance. An example is m4.xlarge.</p> </li> <li> <p>LinkedAccount - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account</p> </li> <li> <p>Operation - The action performed. Examples include RunInstance and CreateBucket.</p> </li> <li> <p>PurchaseType - The reservation type of the purchase to which this usage is related. Examples include: On Demand Instances and Standard Reserved Instances</p> </li> <li> <p>Service - The AWS service such as DynamoDB.</p> </li> <li> <p>UsageType -The type of usage. An example is DataTransfer-In-Bytes. The response for the GetDimensionValues action includes a unit attribute, examples of which include GB and Hrs.</p> </li> <li> <p>UsageTypeGroup - The grouping of common usage types. An example is EC2: CloudWatch – Alarms. The response for this action includes a unit attribute.</p> </li> <li> <p>RecordType - The different types of charges such as RI fees, usage costs, tax refunds, and credits</p> </li> </ul> <p>If you set the context to <code>ReservedInstance</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is us-east-1a.</p> </li> <li> <p>InstanceType - The type of EC2 instance. An example is m4.xlarge.</p> </li> <li> <p>LinkedAccount - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account</p> </li> <li> <p>Platform - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>Region - The AWS region.</p> </li> <li> <p>Scope - The scope of a reserved instance (RI). Values are regional or a single availability zone.</p> </li> <li> <p>Tenancy - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul>"
        },
        "ReturnSize":{
          "shape":"PageSize",
          "documentation":"<p>The number of results that AWS returned at one time.</p>"
        },
        "TotalSize":{
          "shape":"PageSize",
          "documentation":"<p>The total number of search results.</p>"
        },
        "NextPageToken":{
          "shape":"NextPageToken",
          "documentation":"<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
        }
      }
    },
    "GetReservationUtilizationRequest":{
      "type":"structure",
      "required":["TimePeriod"],
      "members":{
        "TimePeriod":{
          "shape":"DateInterval",
          "documentation":"<p>Sets the start and end dates for retrieving reserve instance (RI) utilization. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>. </p>"
        },
        "GroupBy":{
          "shape":"GroupDefinitions",
          "documentation":"<p>Groups only by <code>SubscriptionId</code>. Metadata is included.</p>"
        },
        "Granularity":{
          "shape":"Granularity",
          "documentation":"<p>Sets the AWS cost granularity to <code>MONTHLY</code> or <code>DAILY</code>. If both <code>GroupBy</code> and <code>granularity</code> are not set, <code>GetReservationUtilization</code> defaults to <code>DAILY</code>. If <code>GroupBy</code> is set, <code>Granularity</code> can't be set, and the response object doesn't include <code>MONTHLY</code> or <code>DAILY</code> granularity.</p>"
        },
        "Filter":{
          "shape":"Expression",
          "documentation":"<p>Filters utilization data by using different dimensions. <code>GetReservationUtilization</code> uses the same <code>Expression</code> object as the other operations, but only <code>AND</code> is supported among each dimension, and nesting is supported up to only one level deep. If there are multiple values for a dimension, they are OR'd together.</p>"
        },
        "NextPageToken":{
          "shape":"NextPageToken",
          "documentation":"<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
        }
      }
    },
    "GetReservationUtilizationResponse":{
      "type":"structure",
      "required":["UtilizationsByTime"],
      "members":{
        "UtilizationsByTime":{
          "shape":"UtilizationsByTime",
          "documentation":"<p>The amount of time that you utilized your RIs.</p>"
        },
        "Total":{
          "shape":"ReservationAggregates",
          "documentation":"<p>The total amount of time that you utilized your RIs.</p>"
        },
        "NextPageToken":{
          "shape":"NextPageToken",
          "documentation":"<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
        }
      }
    },
    "GetTagsRequest":{
      "type":"structure",
      "required":["TimePeriod"],
      "members":{
        "SearchString":{
          "shape":"SearchString",
          "documentation":"<p>The value that you want to search for.</p>"
        },
        "TimePeriod":{
          "shape":"DateInterval",
          "documentation":"<p>The start and end dates for retrieving the dimension values. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.</p>"
        },
        "TagKey":{
          "shape":"TagKey",
          "documentation":"<p>The key of the tag that you want to return values for.</p>"
        },
        "NextPageToken":{
          "shape":"NextPageToken",
          "documentation":"<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
        }
      }
    },
    "GetTagsResponse":{
      "type":"structure",
      "required":[
        "Tags",
        "ReturnSize",
        "TotalSize"
      ],
      "members":{
        "NextPageToken":{
          "shape":"NextPageToken",
          "documentation":"<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags that match your request.</p>"
        },
        "ReturnSize":{
          "shape":"PageSize",
          "documentation":"<p>The number of query results that AWS returns at a time.</p>"
        },
        "TotalSize":{
          "shape":"PageSize",
          "documentation":"<p>The total number of query results.</p>"
        }
      }
    },
    "Granularity":{
      "type":"string",
      "enum":[
        "DAILY",
        "MONTHLY"
      ]
    },
    "Group":{
      "type":"structure",
      "members":{
        "Keys":{
          "shape":"Keys",
          "documentation":"<p>The keys included in this group.</p>"
        },
        "Metrics":{
          "shape":"Metrics",
          "documentation":"<p>The metrics included in this group.</p>"
        }
      },
      "documentation":"<p>One level of grouped data within the results.</p>"
    },
    "GroupDefinition":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"GroupDefinitionType",
          "documentation":"<p>The string that represents the type of group.</p>"
        },
        "Key":{
          "shape":"GroupDefinitionKey",
          "documentation":"<p>The string that represents a key for a specified group.</p>"
        }
      },
      "documentation":"<p>Represents a group when you specify a group by criteria, or in the response to a query with a specific grouping.</p>"
    },
    "GroupDefinitionKey":{"type":"string"},
    "GroupDefinitionType":{
      "type":"string",
      "enum":[
        "DIMENSION",
        "TAG"
      ]
    },
    "GroupDefinitions":{
      "type":"list",
      "member":{"shape":"GroupDefinition"}
    },
    "Groups":{
      "type":"list",
      "member":{"shape":"Group"}
    },
    "Key":{"type":"string"},
    "Keys":{
      "type":"list",
      "member":{"shape":"Key"}
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>You made too many calls in a short period of time. Try again later.</p>",
      "exception":true
    },
    "MetricAmount":{"type":"string"},
    "MetricName":{"type":"string"},
    "MetricNames":{
      "type":"list",
      "member":{"shape":"MetricName"}
    },
    "MetricUnit":{"type":"string"},
    "MetricValue":{
      "type":"structure",
      "members":{
        "Amount":{
          "shape":"MetricAmount",
          "documentation":"<p>The actual number that represents the metric.</p>"
        },
        "Unit":{
          "shape":"MetricUnit",
          "documentation":"<p>The unit that the metric is given in.</p>"
        }
      },
      "documentation":"<p>The aggregated value for a metric.</p>"
    },
    "Metrics":{
      "type":"map",
      "key":{"shape":"MetricName"},
      "value":{"shape":"MetricValue"}
    },
    "NextPageToken":{"type":"string"},
    "PageSize":{"type":"integer"},
    "PurchasedHours":{"type":"string"},
    "ReservationAggregates":{
      "type":"structure",
      "members":{
        "UtilizationPercentage":{
          "shape":"UtilizationPercentage",
          "documentation":"<p>The percentage of RI time that you used.</p>"
        },
        "PurchasedHours":{
          "shape":"PurchasedHours",
          "documentation":"<p>How many RI hours you purchased.</p>"
        },
        "TotalActualHours":{
          "shape":"TotalActualHours",
          "documentation":"<p>The total number of RI hours that you used.</p>"
        },
        "UnusedHours":{
          "shape":"UnusedHours",
          "documentation":"<p>The number of RI hours that you didn't use.</p>"
        }
      },
      "documentation":"<p>The aggregated numbers for your RI usage.</p>"
    },
    "ReservationGroupKey":{"type":"string"},
    "ReservationGroupValue":{"type":"string"},
    "ReservationUtilizationGroup":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"ReservationGroupKey",
          "documentation":"<p>The key for a specific RI attribute.</p>"
        },
        "Value":{
          "shape":"ReservationGroupValue",
          "documentation":"<p>The value of a specific RI attribute.</p>"
        },
        "Attributes":{
          "shape":"Attributes",
          "documentation":"<p>The attributes for this group of RIs.</p>"
        },
        "Utilization":{
          "shape":"ReservationAggregates",
          "documentation":"<p>How much you used this group of RIs.</p>"
        }
      },
      "documentation":"<p>A group of RIs that share a set of attributes.</p>"
    },
    "ReservationUtilizationGroups":{
      "type":"list",
      "member":{"shape":"ReservationUtilizationGroup"}
    },
    "ResultByTime":{
      "type":"structure",
      "members":{
        "TimePeriod":{
          "shape":"DateInterval",
          "documentation":"<p>The time period covered by a result.</p>"
        },
        "Total":{
          "shape":"Metrics",
          "documentation":"<p>The total amount of cost or usage accrued during the time period.</p>"
        },
        "Groups":{
          "shape":"Groups",
          "documentation":"<p>The groups that are included in this time period.</p>"
        },
        "Estimated":{
          "shape":"Estimated",
          "documentation":"<p>Whether or not this result is estimated.</p>"
        }
      },
      "documentation":"<p>The result that is associated with a time period.</p>"
    },
    "ResultsByTime":{
      "type":"list",
      "member":{"shape":"ResultByTime"}
    },
    "SearchString":{"type":"string"},
    "TagKey":{"type":"string"},
    "TagList":{
      "type":"list",
      "member":{"shape":"Entity"}
    },
    "TagValues":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"TagKey",
          "documentation":"<p>The key for a tag.</p>"
        },
        "Values":{
          "shape":"Values",
          "documentation":"<p>The specific value of a tag.</p>"
        }
      },
      "documentation":"<p>The values that are available for a tag.</p>"
    },
    "TotalActualHours":{"type":"string"},
    "UnusedHours":{"type":"string"},
    "UtilizationByTime":{
      "type":"structure",
      "members":{
        "TimePeriod":{
          "shape":"DateInterval",
          "documentation":"<p>The period of time over which this utilization was used.</p>"
        },
        "Groups":{
          "shape":"ReservationUtilizationGroups",
          "documentation":"<p>The groups that are included in this utilization result.</p>"
        },
        "Total":{
          "shape":"ReservationAggregates",
          "documentation":"<p>The total number of RI hours that were used.</p>"
        }
      },
      "documentation":"<p>The amount of utilization, in hours.</p>"
    },
    "UtilizationPercentage":{"type":"string"},
    "UtilizationsByTime":{
      "type":"list",
      "member":{"shape":"UtilizationByTime"}
    },
    "Value":{"type":"string"},
    "Values":{
      "type":"list",
      "member":{"shape":"Value"}
    },
    "YearMonthDay":{
      "type":"string",
      "pattern":"\\d{4}-\\d{2}-\\d{2}"
    }
  },
  "documentation":"<p>The Cost Explorer API allows you to programmatically query your cost and usage data. You can query for aggregated data such as total monthly costs or total daily usage. You can also query for granular data, such as the number of daily write operations for DynamoDB database tables in your production environment. </p> <p>Service Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul> <li> <p>https://ce.us-east-1.amazonaws.com</p> </li> </ul>"
}
