{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-10-25",
    "endpointPrefix": "ce",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWS Cost Explorer",
    "serviceFullName": "AWS Cost Explorer Service",
    "serviceId": "Cost Explorer",
    "signatureVersion": "v4",
    "signingName": "ce",
    "targetPrefix": "AWSInsightsIndexService",
    "uid": "ce-2017-10-25"
  },
  "operations": {
    "GetCostAndUsage": {
      "input": {
        "type": "structure",
        "members": {
          "TimePeriod": {
            "shape": "S2"
          },
          "Granularity": {},
          "Filter": {
            "shape": "S5"
          },
          "Metrics": {
            "type": "list",
            "member": {}
          },
          "GroupBy": {
            "shape": "Sf"
          },
          "NextPageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextPageToken": {},
          "GroupDefinitions": {
            "shape": "Sf"
          },
          "ResultsByTime": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TimePeriod": {
                  "shape": "S2"
                },
                "Total": {
                  "shape": "Sn"
                },
                "Groups": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Keys": {
                        "type": "list",
                        "member": {}
                      },
                      "Metrics": {
                        "shape": "Sn"
                      }
                    }
                  }
                },
                "Estimated": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "GetDimensionValues": {
      "input": {
        "type": "structure",
        "required": [
          "TimePeriod",
          "Dimension"
        ],
        "members": {
          "SearchString": {},
          "TimePeriod": {
            "shape": "S2"
          },
          "Dimension": {},
          "Context": {},
          "NextPageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DimensionValues",
          "ReturnSize",
          "TotalSize"
        ],
        "members": {
          "DimensionValues": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Value": {},
                "Attributes": {
                  "shape": "S12"
                }
              }
            }
          },
          "ReturnSize": {
            "type": "integer"
          },
          "TotalSize": {
            "type": "integer"
          },
          "NextPageToken": {}
        }
      }
    },
    "GetReservationCoverage": {
      "input": {
        "type": "structure",
        "required": [
          "TimePeriod"
        ],
        "members": {
          "TimePeriod": {
            "shape": "S2"
          },
          "GroupBy": {
            "shape": "Sf"
          },
          "Granularity": {},
          "Filter": {
            "shape": "S5"
          },
          "NextPageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CoveragesByTime"
        ],
        "members": {
          "CoveragesByTime": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TimePeriod": {
                  "shape": "S2"
                },
                "Groups": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Attributes": {
                        "shape": "S12"
                      },
                      "Coverage": {
                        "shape": "S1c"
                      }
                    }
                  }
                },
                "Total": {
                  "shape": "S1c"
                }
              }
            }
          },
          "Total": {
            "shape": "S1c"
          },
          "NextPageToken": {}
        }
      }
    },
    "GetReservationUtilization": {
      "input": {
        "type": "structure",
        "required": [
          "TimePeriod"
        ],
        "members": {
          "TimePeriod": {
            "shape": "S2"
          },
          "GroupBy": {
            "shape": "Sf"
          },
          "Granularity": {},
          "Filter": {
            "shape": "S5"
          },
          "NextPageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "UtilizationsByTime"
        ],
        "members": {
          "UtilizationsByTime": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TimePeriod": {
                  "shape": "S2"
                },
                "Groups": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Key": {},
                      "Value": {},
                      "Attributes": {
                        "shape": "S12"
                      },
                      "Utilization": {
                        "shape": "S1q"
                      }
                    }
                  }
                },
                "Total": {
                  "shape": "S1q"
                }
              }
            }
          },
          "Total": {
            "shape": "S1q"
          },
          "NextPageToken": {}
        }
      }
    },
    "GetTags": {
      "input": {
        "type": "structure",
        "required": [
          "TimePeriod"
        ],
        "members": {
          "SearchString": {},
          "TimePeriod": {
            "shape": "S2"
          },
          "TagKey": {},
          "NextPageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Tags",
          "ReturnSize",
          "TotalSize"
        ],
        "members": {
          "NextPageToken": {},
          "Tags": {
            "type": "list",
            "member": {}
          },
          "ReturnSize": {
            "type": "integer"
          },
          "TotalSize": {
            "type": "integer"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "structure",
      "required": [
        "Start",
        "End"
      ],
      "members": {
        "Start": {},
        "End": {}
      }
    },
    "S5": {
      "type": "structure",
      "members": {
        "Or": {
          "shape": "S6"
        },
        "And": {
          "shape": "S6"
        },
        "Not": {
          "shape": "S5"
        },
        "Dimensions": {
          "type": "structure",
          "members": {
            "Key": {},
            "Values": {
              "shape": "S9"
            }
          }
        },
        "Tags": {
          "type": "structure",
          "members": {
            "Key": {},
            "Values": {
              "shape": "S9"
            }
          }
        }
      }
    },
    "S6": {
      "type": "list",
      "member": {
        "shape": "S5"
      }
    },
    "S9": {
      "type": "list",
      "member": {}
    },
    "Sf": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Type": {},
          "Key": {}
        }
      }
    },
    "Sn": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "Amount": {},
          "Unit": {}
        }
      }
    },
    "S12": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1c": {
      "type": "structure",
      "members": {
        "CoverageHours": {
          "type": "structure",
          "members": {
            "OnDemandHours": {},
            "ReservedHours": {},
            "TotalRunningHours": {},
            "CoverageHoursPercentage": {}
          }
        }
      }
    },
    "S1q": {
      "type": "structure",
      "members": {
        "UtilizationPercentage": {},
        "PurchasedHours": {},
        "TotalActualHours": {},
        "UnusedHours": {}
      }
    }
  }
}