{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2022-08-03",
    "endpointPrefix": "voice-chime",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Chime SDK Voice",
    "serviceId": "Chime SDK Voice",
    "signatureVersion": "v4",
    "signingName": "chime",
    "uid": "chime-sdk-voice-2022-08-03"
  },
  "operations": {
    "AssociatePhoneNumbersWithVoiceConnector": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}?operation=associate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "E164PhoneNumbers"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "E164PhoneNumbers": {
            "shape": "S3"
          },
          "ForceAssociate": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "S7"
          }
        }
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroup": {
      "http": {
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=associate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId",
          "E164PhoneNumbers"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          },
          "E164PhoneNumbers": {
            "shape": "S3"
          },
          "ForceAssociate": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "S7"
          }
        }
      }
    },
    "BatchDeletePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers?operation=batch-delete",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberIds"
        ],
        "members": {
          "PhoneNumberIds": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "S7"
          }
        }
      }
    },
    "BatchUpdatePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers?operation=batch-update",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "UpdatePhoneNumberRequestItems"
        ],
        "members": {
          "UpdatePhoneNumberRequestItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "PhoneNumberId"
              ],
              "members": {
                "PhoneNumberId": {
                  "shape": "S9"
                },
                "ProductType": {},
                "CallingName": {
                  "shape": "Sl"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "S7"
          }
        }
      }
    },
    "CreatePhoneNumberOrder": {
      "http": {
        "requestUri": "/phone-number-orders",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductType",
          "E164PhoneNumbers"
        ],
        "members": {
          "ProductType": {},
          "E164PhoneNumbers": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberOrder": {
            "shape": "Sp"
          }
        }
      }
    },
    "CreateProxySession": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ParticipantPhoneNumbers",
          "Capabilities",
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "ParticipantPhoneNumbers": {
            "type": "list",
            "member": {
              "shape": "S4"
            }
          },
          "Name": {
            "type": "string",
            "sensitive": true
          },
          "ExpiryMinutes": {
            "type": "integer"
          },
          "Capabilities": {
            "shape": "S12"
          },
          "NumberSelectionBehavior": {},
          "GeoMatchLevel": {},
          "GeoMatchParams": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProxySession": {
            "shape": "S1a"
          }
        }
      }
    },
    "CreateSipMediaApplication": {
      "http": {
        "requestUri": "/sip-media-applications",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsRegion",
          "Name",
          "Endpoints"
        ],
        "members": {
          "AwsRegion": {},
          "Name": {},
          "Endpoints": {
            "shape": "S1h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplication": {
            "shape": "S1l"
          }
        }
      }
    },
    "CreateSipMediaApplicationCall": {
      "http": {
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}/calls",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "FromPhoneNumber",
          "ToPhoneNumber",
          "SipMediaApplicationId"
        ],
        "members": {
          "FromPhoneNumber": {
            "shape": "S4"
          },
          "ToPhoneNumber": {
            "shape": "S4"
          },
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          },
          "SipHeaders": {
            "type": "map",
            "key": {
              "shape": "S1o"
            },
            "value": {
              "shape": "S1o"
            }
          },
          "ArgumentsMap": {
            "type": "map",
            "key": {
              "shape": "S1o"
            },
            "value": {
              "shape": "S1o"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplicationCall": {
            "shape": "S1r"
          }
        }
      }
    },
    "CreateSipRule": {
      "http": {
        "requestUri": "/sip-rules",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "TriggerType",
          "TriggerValue"
        ],
        "members": {
          "Name": {},
          "TriggerType": {},
          "TriggerValue": {},
          "Disabled": {
            "type": "boolean"
          },
          "TargetApplications": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipRule": {
            "shape": "S1z"
          }
        }
      }
    },
    "CreateVoiceConnector": {
      "http": {
        "requestUri": "/voice-connectors",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RequireEncryption"
        ],
        "members": {
          "Name": {},
          "AwsRegion": {},
          "RequireEncryption": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S25"
          }
        }
      }
    },
    "CreateVoiceConnectorGroup": {
      "http": {
        "requestUri": "/voice-connector-groups",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "VoiceConnectorItems": {
            "shape": "S28"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroup": {
            "shape": "S2c"
          }
        }
      }
    },
    "DeletePhoneNumber": {
      "http": {
        "method": "DELETE",
        "requestUri": "/phone-numbers/{phoneNumberId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "shape": "S9",
            "location": "uri",
            "locationName": "phoneNumberId"
          }
        }
      }
    },
    "DeleteProxySession": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "ProxySessionId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "ProxySessionId": {
            "location": "uri",
            "locationName": "proxySessionId"
          }
        }
      }
    },
    "DeleteSipMediaApplication": {
      "http": {
        "method": "DELETE",
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "SipMediaApplicationId"
        ],
        "members": {
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          }
        }
      }
    },
    "DeleteSipRule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/sip-rules/{sipRuleId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "SipRuleId"
        ],
        "members": {
          "SipRuleId": {
            "location": "uri",
            "locationName": "sipRuleId"
          }
        }
      }
    },
    "DeleteVoiceConnector": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorEmergencyCallingConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/emergency-calling-configuration",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          }
        }
      }
    },
    "DeleteVoiceConnectorOrigination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorProxy": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorStreamingConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorTermination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorTerminationCredentials": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials?operation=delete",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Usernames",
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Usernames": {
            "shape": "S2p"
          }
        }
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnector": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}?operation=disassociate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "E164PhoneNumbers"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "E164PhoneNumbers": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "S7"
          }
        }
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnectorGroup": {
      "http": {
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=disassociate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId",
          "E164PhoneNumbers"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          },
          "E164PhoneNumbers": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "S7"
          }
        }
      }
    },
    "GetGlobalSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/settings",
        "responseCode": 200
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S2v"
          }
        }
      }
    },
    "GetPhoneNumber": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-numbers/{phoneNumberId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "shape": "S9",
            "location": "uri",
            "locationName": "phoneNumberId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumber": {
            "shape": "S2y"
          }
        }
      }
    },
    "GetPhoneNumberOrder": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-number-orders/{phoneNumberOrderId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberOrderId"
        ],
        "members": {
          "PhoneNumberOrderId": {
            "location": "uri",
            "locationName": "phoneNumberOrderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberOrder": {
            "shape": "Sp"
          }
        }
      }
    },
    "GetPhoneNumberSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/settings/phone-number",
        "responseCode": 200
      },
      "output": {
        "type": "structure",
        "members": {
          "CallingName": {
            "shape": "Sl"
          },
          "CallingNameUpdatedTimestamp": {
            "shape": "Sw"
          }
        }
      }
    },
    "GetProxySession": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "ProxySessionId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "ProxySessionId": {
            "location": "uri",
            "locationName": "proxySessionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProxySession": {
            "shape": "S1a"
          }
        }
      }
    },
    "GetSipMediaApplication": {
      "http": {
        "method": "GET",
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SipMediaApplicationId"
        ],
        "members": {
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplication": {
            "shape": "S1l"
          }
        }
      }
    },
    "GetSipMediaApplicationAlexaSkillConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}/alexa-skill-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SipMediaApplicationId"
        ],
        "members": {
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplicationAlexaSkillConfiguration": {
            "shape": "S3g"
          }
        }
      }
    },
    "GetSipMediaApplicationLoggingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}/logging-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SipMediaApplicationId"
        ],
        "members": {
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplicationLoggingConfiguration": {
            "shape": "S3m"
          }
        }
      }
    },
    "GetSipRule": {
      "http": {
        "method": "GET",
        "requestUri": "/sip-rules/{sipRuleId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SipRuleId"
        ],
        "members": {
          "SipRuleId": {
            "location": "uri",
            "locationName": "sipRuleId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipRule": {
            "shape": "S1z"
          }
        }
      }
    },
    "GetVoiceConnector": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S25"
          }
        }
      }
    },
    "GetVoiceConnectorEmergencyCallingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/emergency-calling-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EmergencyCallingConfiguration": {
            "shape": "S3t"
          }
        }
      }
    },
    "GetVoiceConnectorGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroup": {
            "shape": "S2c"
          }
        }
      }
    },
    "GetVoiceConnectorLoggingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S40"
          }
        }
      }
    },
    "GetVoiceConnectorOrigination": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Origination": {
            "shape": "S43"
          }
        }
      }
    },
    "GetVoiceConnectorProxy": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Proxy": {
            "shape": "S4c"
          }
        }
      }
    },
    "GetVoiceConnectorStreamingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingConfiguration": {
            "shape": "S4h"
          }
        }
      }
    },
    "GetVoiceConnectorTermination": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Termination": {
            "shape": "S4o"
          }
        }
      }
    },
    "GetVoiceConnectorTerminationHealth": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/health",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TerminationHealth": {
            "type": "structure",
            "members": {
              "Timestamp": {
                "shape": "Sw"
              },
              "Source": {}
            }
          }
        }
      }
    },
    "ListAvailableVoiceConnectorRegions": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connector-regions",
        "responseCode": 200
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorRegions": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "ListPhoneNumberOrders": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-number-orders",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberOrders": {
            "type": "list",
            "member": {
              "shape": "Sp"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPhoneNumbers": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-numbers"
      },
      "input": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "querystring",
            "locationName": "status"
          },
          "ProductType": {
            "location": "querystring",
            "locationName": "product-type"
          },
          "FilterName": {
            "location": "querystring",
            "locationName": "filter-name"
          },
          "FilterValue": {
            "location": "querystring",
            "locationName": "filter-value"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumbers": {
            "type": "list",
            "member": {
              "shape": "S2y"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListProxySessions": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Status": {
            "location": "querystring",
            "locationName": "status"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProxySessions": {
            "type": "list",
            "member": {
              "shape": "S1a"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSipMediaApplications": {
      "http": {
        "method": "GET",
        "requestUri": "/sip-media-applications",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplications": {
            "type": "list",
            "member": {
              "shape": "S1l"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSipRules": {
      "http": {
        "method": "GET",
        "requestUri": "/sip-rules",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "SipMediaApplicationId": {
            "location": "querystring",
            "locationName": "sip-media-application"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipRules": {
            "type": "list",
            "member": {
              "shape": "S1z"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSupportedPhoneNumberCountries": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-number-countries",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductType"
        ],
        "members": {
          "ProductType": {
            "location": "querystring",
            "locationName": "product-type"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberCountries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CountryCode": {},
                "SupportedPhoneNumberTypes": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          }
        }
      }
    },
    "ListVoiceConnectorGroups": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connector-groups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroups": {
            "type": "list",
            "member": {
              "shape": "S2c"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListVoiceConnectorTerminationCredentials": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Usernames": {
            "shape": "S2p"
          }
        }
      }
    },
    "ListVoiceConnectors": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectors": {
            "type": "list",
            "member": {
              "shape": "S25"
            }
          },
          "NextToken": {}
        }
      }
    },
    "PutSipMediaApplicationAlexaSkillConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}/alexa-skill-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SipMediaApplicationId"
        ],
        "members": {
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          },
          "SipMediaApplicationAlexaSkillConfiguration": {
            "shape": "S3g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplicationAlexaSkillConfiguration": {
            "shape": "S3g"
          }
        }
      }
    },
    "PutSipMediaApplicationLoggingConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}/logging-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SipMediaApplicationId"
        ],
        "members": {
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          },
          "SipMediaApplicationLoggingConfiguration": {
            "shape": "S3m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplicationLoggingConfiguration": {
            "shape": "S3m"
          }
        }
      }
    },
    "PutVoiceConnectorEmergencyCallingConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/emergency-calling-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "EmergencyCallingConfiguration"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "EmergencyCallingConfiguration": {
            "shape": "S3t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EmergencyCallingConfiguration": {
            "shape": "S3t"
          }
        }
      }
    },
    "PutVoiceConnectorLoggingConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "LoggingConfiguration"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "LoggingConfiguration": {
            "shape": "S40"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S40"
          }
        }
      }
    },
    "PutVoiceConnectorOrigination": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "Origination"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Origination": {
            "shape": "S43"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Origination": {
            "shape": "S43"
          }
        }
      }
    },
    "PutVoiceConnectorProxy": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy"
      },
      "input": {
        "type": "structure",
        "required": [
          "DefaultSessionExpiryMinutes",
          "PhoneNumberPoolCountries",
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "DefaultSessionExpiryMinutes": {
            "type": "integer"
          },
          "PhoneNumberPoolCountries": {
            "type": "list",
            "member": {}
          },
          "FallBackPhoneNumber": {
            "shape": "S4"
          },
          "Disabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Proxy": {
            "shape": "S4c"
          }
        }
      }
    },
    "PutVoiceConnectorStreamingConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "StreamingConfiguration"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "StreamingConfiguration": {
            "shape": "S4h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingConfiguration": {
            "shape": "S4h"
          }
        }
      }
    },
    "PutVoiceConnectorTermination": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "Termination"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Termination": {
            "shape": "S4o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Termination": {
            "shape": "S4o"
          }
        }
      }
    },
    "PutVoiceConnectorTerminationCredentials": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials?operation=put",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Credentials": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Username": {
                  "shape": "S1o"
                },
                "Password": {
                  "shape": "S1o"
                }
              }
            }
          }
        }
      }
    },
    "RestorePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers/{phoneNumberId}?operation=restore",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "shape": "S9",
            "location": "uri",
            "locationName": "phoneNumberId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumber": {
            "shape": "S2y"
          }
        }
      }
    },
    "SearchAvailablePhoneNumbers": {
      "http": {
        "method": "GET",
        "requestUri": "/search?type=phone-numbers"
      },
      "input": {
        "type": "structure",
        "members": {
          "AreaCode": {
            "location": "querystring",
            "locationName": "area-code"
          },
          "City": {
            "location": "querystring",
            "locationName": "city"
          },
          "Country": {
            "location": "querystring",
            "locationName": "country"
          },
          "State": {
            "location": "querystring",
            "locationName": "state"
          },
          "TollFreePrefix": {
            "location": "querystring",
            "locationName": "toll-free-prefix"
          },
          "PhoneNumberType": {
            "location": "querystring",
            "locationName": "phone-number-type"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "E164PhoneNumbers": {
            "shape": "S3"
          },
          "NextToken": {}
        }
      }
    },
    "UpdateGlobalSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/settings",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S2v"
          }
        }
      }
    },
    "UpdatePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers/{phoneNumberId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "shape": "S9",
            "location": "uri",
            "locationName": "phoneNumberId"
          },
          "ProductType": {},
          "CallingName": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumber": {
            "shape": "S2y"
          }
        }
      }
    },
    "UpdatePhoneNumberSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/settings/phone-number",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "CallingName"
        ],
        "members": {
          "CallingName": {
            "shape": "Sl"
          }
        }
      }
    },
    "UpdateProxySession": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Capabilities",
          "VoiceConnectorId",
          "ProxySessionId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "ProxySessionId": {
            "location": "uri",
            "locationName": "proxySessionId"
          },
          "Capabilities": {
            "shape": "S12"
          },
          "ExpiryMinutes": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProxySession": {
            "shape": "S1a"
          }
        }
      }
    },
    "UpdateSipMediaApplication": {
      "http": {
        "method": "PUT",
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SipMediaApplicationId"
        ],
        "members": {
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          },
          "Name": {},
          "Endpoints": {
            "shape": "S1h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplication": {
            "shape": "S1l"
          }
        }
      }
    },
    "UpdateSipMediaApplicationCall": {
      "http": {
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}/calls/{transactionId}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "SipMediaApplicationId",
          "TransactionId",
          "Arguments"
        ],
        "members": {
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          },
          "TransactionId": {
            "location": "uri",
            "locationName": "transactionId"
          },
          "Arguments": {
            "type": "map",
            "key": {
              "shape": "S1o"
            },
            "value": {
              "shape": "S1o"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplicationCall": {
            "shape": "S1r"
          }
        }
      }
    },
    "UpdateSipRule": {
      "http": {
        "method": "PUT",
        "requestUri": "/sip-rules/{sipRuleId}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "SipRuleId",
          "Name"
        ],
        "members": {
          "SipRuleId": {
            "location": "uri",
            "locationName": "sipRuleId"
          },
          "Name": {},
          "Disabled": {
            "type": "boolean"
          },
          "TargetApplications": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipRule": {
            "shape": "S1z"
          }
        }
      }
    },
    "UpdateVoiceConnector": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "Name",
          "RequireEncryption"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Name": {},
          "RequireEncryption": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S25"
          }
        }
      }
    },
    "UpdateVoiceConnectorGroup": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId",
          "Name",
          "VoiceConnectorItems"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          },
          "Name": {},
          "VoiceConnectorItems": {
            "shape": "S28"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroup": {
            "shape": "S2c"
          }
        }
      }
    },
    "ValidateE911Address": {
      "http": {
        "requestUri": "/emergency-calling/address",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "StreetNumber",
          "StreetInfo",
          "City",
          "State",
          "Country",
          "PostalCode"
        ],
        "members": {
          "AwsAccountId": {},
          "StreetNumber": {
            "shape": "S9"
          },
          "StreetInfo": {
            "shape": "S9"
          },
          "City": {
            "shape": "S9"
          },
          "State": {
            "shape": "S9"
          },
          "Country": {
            "shape": "S9"
          },
          "PostalCode": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ValidationResult": {
            "type": "integer"
          },
          "AddressExternalId": {},
          "Address": {
            "type": "structure",
            "members": {
              "streetName": {
                "shape": "S9"
              },
              "streetSuffix": {
                "shape": "S9"
              },
              "postDirectional": {
                "shape": "S9"
              },
              "preDirectional": {
                "shape": "S9"
              },
              "streetNumber": {
                "shape": "S9"
              },
              "city": {
                "shape": "S9"
              },
              "state": {
                "shape": "S9"
              },
              "postalCode": {
                "shape": "S9"
              },
              "postalCodePlus4": {
                "shape": "S9"
              },
              "country": {
                "shape": "S9"
              }
            }
          },
          "CandidateAddressList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "streetInfo": {
                  "shape": "S9"
                },
                "streetNumber": {
                  "shape": "S9"
                },
                "city": {
                  "shape": "S9"
                },
                "state": {
                  "shape": "S9"
                },
                "postalCode": {
                  "shape": "S9"
                },
                "postalCodePlus4": {
                  "shape": "S9"
                },
                "country": {
                  "shape": "S9"
                }
              }
            }
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {
        "shape": "S4"
      }
    },
    "S4": {
      "type": "string",
      "sensitive": true
    },
    "S7": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PhoneNumberId": {
            "shape": "S9"
          },
          "ErrorCode": {},
          "ErrorMessage": {}
        }
      }
    },
    "S9": {
      "type": "string",
      "sensitive": true
    },
    "Sl": {
      "type": "string",
      "sensitive": true
    },
    "Sp": {
      "type": "structure",
      "members": {
        "PhoneNumberOrderId": {},
        "ProductType": {},
        "Status": {},
        "OrderType": {},
        "OrderedPhoneNumbers": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "E164PhoneNumber": {
                "shape": "S4"
              },
              "Status": {}
            }
          }
        },
        "CreatedTimestamp": {
          "shape": "Sw"
        },
        "UpdatedTimestamp": {
          "shape": "Sw"
        }
      }
    },
    "Sw": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S12": {
      "type": "list",
      "member": {}
    },
    "S16": {
      "type": "structure",
      "required": [
        "Country",
        "AreaCode"
      ],
      "members": {
        "Country": {},
        "AreaCode": {}
      }
    },
    "S1a": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {},
        "ProxySessionId": {},
        "Name": {},
        "Status": {},
        "ExpiryMinutes": {
          "type": "integer"
        },
        "Capabilities": {
          "shape": "S12"
        },
        "CreatedTimestamp": {
          "shape": "Sw"
        },
        "UpdatedTimestamp": {
          "shape": "Sw"
        },
        "EndedTimestamp": {
          "shape": "Sw"
        },
        "Participants": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "PhoneNumber": {
                "shape": "S4"
              },
              "ProxyPhoneNumber": {
                "shape": "S4"
              }
            }
          }
        },
        "NumberSelectionBehavior": {},
        "GeoMatchLevel": {},
        "GeoMatchParams": {
          "shape": "S16"
        }
      }
    },
    "S1h": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "LambdaArn": {
            "type": "string",
            "sensitive": true
          }
        }
      }
    },
    "S1l": {
      "type": "structure",
      "members": {
        "SipMediaApplicationId": {},
        "AwsRegion": {},
        "Name": {},
        "Endpoints": {
          "shape": "S1h"
        },
        "CreatedTimestamp": {
          "shape": "Sw"
        },
        "UpdatedTimestamp": {
          "shape": "Sw"
        }
      }
    },
    "S1o": {
      "type": "string",
      "sensitive": true
    },
    "S1r": {
      "type": "structure",
      "members": {
        "TransactionId": {}
      }
    },
    "S1v": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "SipMediaApplicationId": {},
          "Priority": {
            "type": "integer"
          },
          "AwsRegion": {}
        }
      }
    },
    "S1z": {
      "type": "structure",
      "members": {
        "SipRuleId": {},
        "Name": {},
        "Disabled": {
          "type": "boolean"
        },
        "TriggerType": {},
        "TriggerValue": {},
        "TargetApplications": {
          "shape": "S1v"
        },
        "CreatedTimestamp": {
          "shape": "Sw"
        },
        "UpdatedTimestamp": {
          "shape": "Sw"
        }
      }
    },
    "S25": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {},
        "AwsRegion": {},
        "Name": {},
        "OutboundHostName": {},
        "RequireEncryption": {
          "type": "boolean"
        },
        "CreatedTimestamp": {
          "shape": "Sw"
        },
        "UpdatedTimestamp": {
          "shape": "Sw"
        },
        "VoiceConnectorArn": {}
      }
    },
    "S28": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "Priority"
        ],
        "members": {
          "VoiceConnectorId": {},
          "Priority": {
            "type": "integer"
          }
        }
      }
    },
    "S2c": {
      "type": "structure",
      "members": {
        "VoiceConnectorGroupId": {},
        "Name": {},
        "VoiceConnectorItems": {
          "shape": "S28"
        },
        "CreatedTimestamp": {
          "shape": "Sw"
        },
        "UpdatedTimestamp": {
          "shape": "Sw"
        },
        "VoiceConnectorGroupArn": {}
      }
    },
    "S2p": {
      "type": "list",
      "member": {
        "shape": "S1o"
      }
    },
    "S2v": {
      "type": "structure",
      "members": {
        "CdrBucket": {}
      }
    },
    "S2y": {
      "type": "structure",
      "members": {
        "PhoneNumberId": {
          "shape": "S9"
        },
        "E164PhoneNumber": {
          "shape": "S4"
        },
        "Country": {},
        "Type": {},
        "ProductType": {},
        "Status": {},
        "Capabilities": {
          "type": "structure",
          "members": {
            "InboundCall": {
              "type": "boolean"
            },
            "OutboundCall": {
              "type": "boolean"
            },
            "InboundSMS": {
              "type": "boolean"
            },
            "OutboundSMS": {
              "type": "boolean"
            },
            "InboundMMS": {
              "type": "boolean"
            },
            "OutboundMMS": {
              "type": "boolean"
            }
          }
        },
        "Associations": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Value": {},
              "Name": {},
              "AssociatedTimestamp": {
                "shape": "Sw"
              }
            }
          }
        },
        "CallingName": {
          "shape": "Sl"
        },
        "CallingNameStatus": {},
        "CreatedTimestamp": {
          "shape": "Sw"
        },
        "UpdatedTimestamp": {
          "shape": "Sw"
        },
        "DeletionTimestamp": {
          "shape": "Sw"
        },
        "OrderId": {}
      }
    },
    "S3g": {
      "type": "structure",
      "required": [
        "AlexaSkillStatus",
        "AlexaSkillIds"
      ],
      "members": {
        "AlexaSkillStatus": {},
        "AlexaSkillIds": {
          "type": "list",
          "member": {
            "type": "string",
            "sensitive": true
          }
        }
      }
    },
    "S3m": {
      "type": "structure",
      "members": {
        "EnableSipMediaApplicationMessageLogs": {
          "type": "boolean"
        }
      }
    },
    "S3t": {
      "type": "structure",
      "members": {
        "DNIS": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "EmergencyPhoneNumber",
              "CallingCountry"
            ],
            "members": {
              "EmergencyPhoneNumber": {
                "shape": "S4"
              },
              "TestPhoneNumber": {
                "shape": "S4"
              },
              "CallingCountry": {}
            }
          }
        }
      }
    },
    "S40": {
      "type": "structure",
      "members": {
        "EnableSIPLogs": {
          "type": "boolean"
        }
      }
    },
    "S43": {
      "type": "structure",
      "members": {
        "Routes": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Host": {},
              "Port": {
                "type": "integer"
              },
              "Protocol": {},
              "Priority": {
                "type": "integer"
              },
              "Weight": {
                "type": "integer"
              }
            }
          }
        },
        "Disabled": {
          "type": "boolean"
        }
      }
    },
    "S4c": {
      "type": "structure",
      "members": {
        "DefaultSessionExpiryMinutes": {
          "type": "integer"
        },
        "Disabled": {
          "type": "boolean"
        },
        "FallBackPhoneNumber": {
          "shape": "S4"
        },
        "PhoneNumberCountries": {
          "shape": "S4e"
        }
      }
    },
    "S4e": {
      "type": "list",
      "member": {}
    },
    "S4h": {
      "type": "structure",
      "required": [
        "DataRetentionInHours",
        "Disabled"
      ],
      "members": {
        "DataRetentionInHours": {
          "type": "integer"
        },
        "Disabled": {
          "type": "boolean"
        },
        "StreamingNotificationTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "NotificationTarget": {}
            }
          }
        }
      }
    },
    "S4o": {
      "type": "structure",
      "members": {
        "CpsLimit": {
          "type": "integer"
        },
        "DefaultPhoneNumber": {
          "shape": "S4"
        },
        "CallingRegions": {
          "type": "list",
          "member": {}
        },
        "CidrAllowedList": {
          "shape": "S4e"
        },
        "Disabled": {
          "type": "boolean"
        }
      }
    }
  }
}