{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-05-01",
    "endpointPrefix": "chime",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Chime",
    "serviceId": "Chime",
    "signatureVersion": "v4",
    "uid": "chime-2018-05-01"
  },
  "operations": {
    "AssociatePhoneNumberWithUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=associate-phone-number",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId",
          "E164PhoneNumber"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          },
          "E164PhoneNumber": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociatePhoneNumbersWithVoiceConnector": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}?operation=associate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "E164PhoneNumbers"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "E164PhoneNumbers": {
            "shape": "S7"
          },
          "ForceAssociate": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroup": {
      "http": {
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=associate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId",
          "E164PhoneNumbers"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          },
          "E164PhoneNumbers": {
            "shape": "S7"
          },
          "ForceAssociate": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "AssociateSigninDelegateGroupsWithAccount": {
      "http": {
        "requestUri": "/accounts/{accountId}?operation=associate-signin-delegate-groups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "SigninDelegateGroups"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "SigninDelegateGroups": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "BatchCreateAttendee": {
      "http": {
        "requestUri": "/meetings/{meetingId}/attendees?operation=batch-create",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId",
          "Attendees"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          },
          "Attendees": {
            "type": "list",
            "member": {
              "shape": "Sm"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attendees": {
            "shape": "St"
          },
          "Errors": {
            "shape": "Sw"
          }
        }
      }
    },
    "BatchCreateChannelMembership": {
      "http": {
        "requestUri": "/channels/{channelArn}/memberships?operation=batch-create",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArns"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "Type": {},
          "MemberArns": {
            "type": "list",
            "member": {}
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BatchChannelMemberships": {
            "type": "structure",
            "members": {
              "InvitedBy": {
                "shape": "S14"
              },
              "Type": {},
              "Members": {
                "type": "list",
                "member": {
                  "shape": "S14"
                }
              },
              "ChannelArn": {}
            }
          },
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "MemberArn": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "BatchCreateRoomMembership": {
      "http": {
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships?operation=batch-create",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId",
          "MembershipItemList"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          },
          "MembershipItemList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "MemberId": {},
                "Role": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "MemberId": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchDeletePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers?operation=batch-delete",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberIds"
        ],
        "members": {
          "PhoneNumberIds": {
            "shape": "S1h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "BatchSuspendUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users?operation=suspend",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserIdList"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserIdList": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserErrors": {
            "shape": "S1m"
          }
        }
      }
    },
    "BatchUnsuspendUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users?operation=unsuspend",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserIdList"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserIdList": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserErrors": {
            "shape": "S1m"
          }
        }
      }
    },
    "BatchUpdatePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers?operation=batch-update",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "UpdatePhoneNumberRequestItems"
        ],
        "members": {
          "UpdatePhoneNumberRequestItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "PhoneNumberId"
              ],
              "members": {
                "PhoneNumberId": {},
                "ProductType": {},
                "CallingName": {
                  "shape": "S1u"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "BatchUpdateUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UpdateUserRequestItems"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UpdateUserRequestItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "UserId"
              ],
              "members": {
                "UserId": {},
                "LicenseType": {},
                "UserType": {},
                "AlexaForBusinessMetadata": {
                  "shape": "S21"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserErrors": {
            "shape": "S1m"
          }
        }
      }
    },
    "CreateAccount": {
      "http": {
        "requestUri": "/accounts",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Account": {
            "shape": "S28"
          }
        }
      }
    },
    "CreateAppInstance": {
      "http": {
        "requestUri": "/app-instances",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ClientRequestToken"
        ],
        "members": {
          "Name": {
            "shape": "S2d"
          },
          "Metadata": {
            "shape": "S2e"
          },
          "ClientRequestToken": {
            "shape": "S2f",
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "S2g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppInstanceArn": {}
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "CreateAppInstanceAdmin": {
      "http": {
        "requestUri": "/app-instances/{appInstanceArn}/admins",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceAdminArn",
          "AppInstanceArn"
        ],
        "members": {
          "AppInstanceAdminArn": {},
          "AppInstanceArn": {
            "location": "uri",
            "locationName": "appInstanceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppInstanceAdmin": {
            "shape": "S14"
          },
          "AppInstanceArn": {}
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "CreateAppInstanceUser": {
      "http": {
        "requestUri": "/app-instance-users",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceArn",
          "AppInstanceUserId",
          "Name",
          "ClientRequestToken"
        ],
        "members": {
          "AppInstanceArn": {},
          "AppInstanceUserId": {
            "type": "string",
            "sensitive": true
          },
          "Name": {
            "shape": "S2m"
          },
          "Metadata": {
            "shape": "S2e"
          },
          "ClientRequestToken": {
            "shape": "S2f",
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "S2g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppInstanceUserArn": {}
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "CreateAttendee": {
      "http": {
        "requestUri": "/meetings/{meetingId}/attendees",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId",
          "ExternalUserId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          },
          "ExternalUserId": {
            "shape": "Sn"
          },
          "Tags": {
            "shape": "So"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attendee": {
            "shape": "Su"
          }
        }
      }
    },
    "CreateBot": {
      "http": {
        "requestUri": "/accounts/{accountId}/bots",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "DisplayName",
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "DisplayName": {
            "shape": "S23"
          },
          "Domain": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bot": {
            "shape": "S2s"
          }
        }
      }
    },
    "CreateChannel": {
      "http": {
        "requestUri": "/channels",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceArn",
          "Name",
          "ClientRequestToken"
        ],
        "members": {
          "AppInstanceArn": {},
          "Name": {
            "shape": "S2d"
          },
          "Mode": {},
          "Privacy": {},
          "Metadata": {
            "shape": "S2e"
          },
          "ClientRequestToken": {
            "shape": "S2f",
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "S2g"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {}
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "CreateChannelBan": {
      "http": {
        "requestUri": "/channels/{channelArn}/bans",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MemberArn": {},
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "Member": {
            "shape": "S14"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "CreateChannelMembership": {
      "http": {
        "requestUri": "/channels/{channelArn}/memberships",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArn",
          "Type"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MemberArn": {},
          "Type": {},
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "Member": {
            "shape": "S14"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "CreateChannelModerator": {
      "http": {
        "requestUri": "/channels/{channelArn}/moderators",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChannelModeratorArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "ChannelModeratorArn": {},
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "ChannelModerator": {
            "shape": "S14"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "CreateMeeting": {
      "http": {
        "requestUri": "/meetings",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ClientRequestToken"
        ],
        "members": {
          "ClientRequestToken": {
            "shape": "S2f",
            "idempotencyToken": true
          },
          "ExternalMeetingId": {
            "shape": "S35"
          },
          "MeetingHostId": {
            "shape": "Sn"
          },
          "MediaRegion": {},
          "Tags": {
            "shape": "S36"
          },
          "NotificationsConfiguration": {
            "shape": "S37"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Meeting": {
            "shape": "S3a"
          }
        }
      }
    },
    "CreateMeetingDialOut": {
      "http": {
        "requestUri": "/meetings/{meetingId}/dial-outs",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId",
          "FromPhoneNumber",
          "ToPhoneNumber",
          "JoinToken"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          },
          "FromPhoneNumber": {
            "shape": "S3"
          },
          "ToPhoneNumber": {
            "shape": "S3"
          },
          "JoinToken": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransactionId": {}
        }
      }
    },
    "CreateMeetingWithAttendees": {
      "http": {
        "requestUri": "/meetings?operation=create-attendees",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ClientRequestToken"
        ],
        "members": {
          "ClientRequestToken": {
            "shape": "S2f",
            "idempotencyToken": true
          },
          "ExternalMeetingId": {
            "shape": "S35"
          },
          "MeetingHostId": {
            "shape": "Sn"
          },
          "MediaRegion": {},
          "Tags": {
            "shape": "S36"
          },
          "NotificationsConfiguration": {
            "shape": "S37"
          },
          "Attendees": {
            "type": "list",
            "member": {
              "shape": "Sm"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Meeting": {
            "shape": "S3a"
          },
          "Attendees": {
            "shape": "St"
          },
          "Errors": {
            "shape": "Sw"
          }
        }
      }
    },
    "CreatePhoneNumberOrder": {
      "http": {
        "requestUri": "/phone-number-orders",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductType",
          "E164PhoneNumbers"
        ],
        "members": {
          "ProductType": {},
          "E164PhoneNumbers": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberOrder": {
            "shape": "S3k"
          }
        }
      }
    },
    "CreateProxySession": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ParticipantPhoneNumbers",
          "Capabilities",
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "ParticipantPhoneNumbers": {
            "type": "list",
            "member": {
              "shape": "S3"
            }
          },
          "Name": {
            "type": "string",
            "sensitive": true
          },
          "ExpiryMinutes": {
            "type": "integer"
          },
          "Capabilities": {
            "shape": "S3u"
          },
          "NumberSelectionBehavior": {},
          "GeoMatchLevel": {},
          "GeoMatchParams": {
            "shape": "S3y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProxySession": {
            "shape": "S42"
          }
        }
      }
    },
    "CreateRoom": {
      "http": {
        "requestUri": "/accounts/{accountId}/rooms",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Name"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "Name": {
            "shape": "S23"
          },
          "ClientRequestToken": {
            "shape": "S2f",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Room": {
            "shape": "S49"
          }
        }
      }
    },
    "CreateRoomMembership": {
      "http": {
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId",
          "MemberId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          },
          "MemberId": {},
          "Role": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomMembership": {
            "shape": "S4c"
          }
        }
      }
    },
    "CreateSipMediaApplication": {
      "http": {
        "requestUri": "/sip-media-applications",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsRegion",
          "Name",
          "Endpoints"
        ],
        "members": {
          "AwsRegion": {},
          "Name": {},
          "Endpoints": {
            "shape": "S4h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplication": {
            "shape": "S4l"
          }
        }
      }
    },
    "CreateSipMediaApplicationCall": {
      "http": {
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}/calls",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "FromPhoneNumber",
          "ToPhoneNumber",
          "SipMediaApplicationId"
        ],
        "members": {
          "FromPhoneNumber": {
            "shape": "S3"
          },
          "ToPhoneNumber": {
            "shape": "S3"
          },
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplicationCall": {
            "type": "structure",
            "members": {
              "TransactionId": {}
            }
          }
        }
      }
    },
    "CreateSipRule": {
      "http": {
        "requestUri": "/sip-rules",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "TriggerType",
          "TriggerValue",
          "TargetApplications"
        ],
        "members": {
          "Name": {},
          "TriggerType": {},
          "TriggerValue": {},
          "Disabled": {
            "type": "boolean"
          },
          "TargetApplications": {
            "shape": "S4s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipRule": {
            "shape": "S4w"
          }
        }
      }
    },
    "CreateUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users?operation=create",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "Username": {},
          "Email": {
            "shape": "S4y"
          },
          "UserType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S50"
          }
        }
      }
    },
    "CreateVoiceConnector": {
      "http": {
        "requestUri": "/voice-connectors",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RequireEncryption"
        ],
        "members": {
          "Name": {},
          "AwsRegion": {},
          "RequireEncryption": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S57"
          }
        }
      }
    },
    "CreateVoiceConnectorGroup": {
      "http": {
        "requestUri": "/voice-connector-groups",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "VoiceConnectorItems": {
            "shape": "S5a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroup": {
            "shape": "S5e"
          }
        }
      }
    },
    "DeleteAccount": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteAppInstance": {
      "http": {
        "method": "DELETE",
        "requestUri": "/app-instances/{appInstanceArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceArn"
        ],
        "members": {
          "AppInstanceArn": {
            "location": "uri",
            "locationName": "appInstanceArn"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "DeleteAppInstanceAdmin": {
      "http": {
        "method": "DELETE",
        "requestUri": "/app-instances/{appInstanceArn}/admins/{appInstanceAdminArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceAdminArn",
          "AppInstanceArn"
        ],
        "members": {
          "AppInstanceAdminArn": {
            "location": "uri",
            "locationName": "appInstanceAdminArn"
          },
          "AppInstanceArn": {
            "location": "uri",
            "locationName": "appInstanceArn"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "DeleteAppInstanceStreamingConfigurations": {
      "http": {
        "method": "DELETE",
        "requestUri": "/app-instances/{appInstanceArn}/streaming-configurations",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceArn"
        ],
        "members": {
          "AppInstanceArn": {
            "location": "uri",
            "locationName": "appInstanceArn"
          }
        }
      }
    },
    "DeleteAppInstanceUser": {
      "http": {
        "method": "DELETE",
        "requestUri": "/app-instance-users/{appInstanceUserArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceUserArn"
        ],
        "members": {
          "AppInstanceUserArn": {
            "location": "uri",
            "locationName": "appInstanceUserArn"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "DeleteAttendee": {
      "http": {
        "method": "DELETE",
        "requestUri": "/meetings/{meetingId}/attendees/{attendeeId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId",
          "AttendeeId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          },
          "AttendeeId": {
            "location": "uri",
            "locationName": "attendeeId"
          }
        }
      }
    },
    "DeleteChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "DeleteChannelBan": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/bans/{memberArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MemberArn": {
            "location": "uri",
            "locationName": "memberArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "DeleteChannelMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/memberships/{memberArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MemberArn": {
            "location": "uri",
            "locationName": "memberArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "DeleteChannelMessage": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/messages/{messageId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MessageId"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MessageId": {
            "location": "uri",
            "locationName": "messageId"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "DeleteChannelModerator": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/moderators/{channelModeratorArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChannelModeratorArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "ChannelModeratorArn": {
            "location": "uri",
            "locationName": "channelModeratorArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "DeleteEventsConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      }
    },
    "DeleteMeeting": {
      "http": {
        "method": "DELETE",
        "requestUri": "/meetings/{meetingId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          }
        }
      }
    },
    "DeletePhoneNumber": {
      "http": {
        "method": "DELETE",
        "requestUri": "/phone-numbers/{phoneNumberId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "location": "uri",
            "locationName": "phoneNumberId"
          }
        }
      }
    },
    "DeleteProxySession": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "ProxySessionId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "ProxySessionId": {
            "location": "uri",
            "locationName": "proxySessionId"
          }
        }
      }
    },
    "DeleteRoom": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          }
        }
      }
    },
    "DeleteRoomMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships/{memberId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId",
          "MemberId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          },
          "MemberId": {
            "location": "uri",
            "locationName": "memberId"
          }
        }
      }
    },
    "DeleteSipMediaApplication": {
      "http": {
        "method": "DELETE",
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "SipMediaApplicationId"
        ],
        "members": {
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          }
        }
      }
    },
    "DeleteSipRule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/sip-rules/{sipRuleId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "SipRuleId"
        ],
        "members": {
          "SipRuleId": {
            "location": "uri",
            "locationName": "sipRuleId"
          }
        }
      }
    },
    "DeleteVoiceConnector": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorEmergencyCallingConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/emergency-calling-configuration",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          }
        }
      }
    },
    "DeleteVoiceConnectorOrigination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorProxy": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorStreamingConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorTermination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorTerminationCredentials": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials?operation=delete",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Usernames",
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Usernames": {
            "shape": "S68"
          }
        }
      }
    },
    "DescribeAppInstance": {
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceArn"
        ],
        "members": {
          "AppInstanceArn": {
            "location": "uri",
            "locationName": "appInstanceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppInstance": {
            "type": "structure",
            "members": {
              "AppInstanceArn": {},
              "Name": {
                "shape": "S2d"
              },
              "Metadata": {
                "shape": "S2e"
              },
              "CreatedTimestamp": {
                "type": "timestamp"
              },
              "LastUpdatedTimestamp": {
                "type": "timestamp"
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "DescribeAppInstanceAdmin": {
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}/admins/{appInstanceAdminArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceAdminArn",
          "AppInstanceArn"
        ],
        "members": {
          "AppInstanceAdminArn": {
            "location": "uri",
            "locationName": "appInstanceAdminArn"
          },
          "AppInstanceArn": {
            "location": "uri",
            "locationName": "appInstanceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppInstanceAdmin": {
            "type": "structure",
            "members": {
              "Admin": {
                "shape": "S14"
              },
              "AppInstanceArn": {},
              "CreatedTimestamp": {
                "type": "timestamp"
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "DescribeAppInstanceUser": {
      "http": {
        "method": "GET",
        "requestUri": "/app-instance-users/{appInstanceUserArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceUserArn"
        ],
        "members": {
          "AppInstanceUserArn": {
            "location": "uri",
            "locationName": "appInstanceUserArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppInstanceUser": {
            "type": "structure",
            "members": {
              "AppInstanceUserArn": {},
              "Name": {
                "shape": "S2m"
              },
              "CreatedTimestamp": {
                "type": "timestamp"
              },
              "Metadata": {
                "shape": "S2e"
              },
              "LastUpdatedTimestamp": {
                "type": "timestamp"
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "DescribeChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channel": {
            "type": "structure",
            "members": {
              "Name": {
                "shape": "S2d"
              },
              "ChannelArn": {},
              "Mode": {},
              "Privacy": {},
              "Metadata": {
                "shape": "S2e"
              },
              "CreatedBy": {
                "shape": "S14"
              },
              "CreatedTimestamp": {
                "type": "timestamp"
              },
              "LastMessageTimestamp": {
                "type": "timestamp"
              },
              "LastUpdatedTimestamp": {
                "type": "timestamp"
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "DescribeChannelBan": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/bans/{memberArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MemberArn": {
            "location": "uri",
            "locationName": "memberArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelBan": {
            "type": "structure",
            "members": {
              "Member": {
                "shape": "S14"
              },
              "ChannelArn": {},
              "CreatedTimestamp": {
                "type": "timestamp"
              },
              "CreatedBy": {
                "shape": "S14"
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "DescribeChannelMembership": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/memberships/{memberArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MemberArn": {
            "location": "uri",
            "locationName": "memberArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelMembership": {
            "type": "structure",
            "members": {
              "InvitedBy": {
                "shape": "S14"
              },
              "Type": {},
              "Member": {
                "shape": "S14"
              },
              "ChannelArn": {},
              "CreatedTimestamp": {
                "type": "timestamp"
              },
              "LastUpdatedTimestamp": {
                "type": "timestamp"
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "DescribeChannelMembershipForAppInstanceUser": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}?scope=app-instance-user-membership",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "AppInstanceUserArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "AppInstanceUserArn": {
            "location": "querystring",
            "locationName": "app-instance-user-arn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelMembership": {
            "shape": "S6u"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "DescribeChannelModeratedByAppInstanceUser": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}?scope=app-instance-user-moderated-channel",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "AppInstanceUserArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "AppInstanceUserArn": {
            "location": "querystring",
            "locationName": "app-instance-user-arn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channel": {
            "shape": "S6z"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "DescribeChannelModerator": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/moderators/{channelModeratorArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChannelModeratorArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "ChannelModeratorArn": {
            "location": "uri",
            "locationName": "channelModeratorArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelModerator": {
            "type": "structure",
            "members": {
              "Moderator": {
                "shape": "S14"
              },
              "ChannelArn": {},
              "CreatedTimestamp": {
                "type": "timestamp"
              },
              "CreatedBy": {
                "shape": "S14"
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "DisassociatePhoneNumberFromUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=disassociate-phone-number",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnector": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}?operation=disassociate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "E164PhoneNumbers"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "E164PhoneNumbers": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnectorGroup": {
      "http": {
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=disassociate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId",
          "E164PhoneNumbers"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          },
          "E164PhoneNumbers": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "DisassociateSigninDelegateGroupsFromAccount": {
      "http": {
        "requestUri": "/accounts/{accountId}?operation=disassociate-signin-delegate-groups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "GroupNames"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "GroupNames": {
            "shape": "S1h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Account": {
            "shape": "S28"
          }
        }
      }
    },
    "GetAccountSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/settings"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountSettings": {
            "shape": "S7f"
          }
        }
      }
    },
    "GetAppInstanceRetentionSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}/retention-settings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceArn"
        ],
        "members": {
          "AppInstanceArn": {
            "location": "uri",
            "locationName": "appInstanceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppInstanceRetentionSettings": {
            "shape": "S7i"
          },
          "InitiateDeletionTimestamp": {
            "type": "timestamp"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "GetAppInstanceStreamingConfigurations": {
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}/streaming-configurations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceArn"
        ],
        "members": {
          "AppInstanceArn": {
            "location": "uri",
            "locationName": "appInstanceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppInstanceStreamingConfigurations": {
            "shape": "S7n"
          }
        }
      }
    },
    "GetAttendee": {
      "http": {
        "method": "GET",
        "requestUri": "/meetings/{meetingId}/attendees/{attendeeId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId",
          "AttendeeId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          },
          "AttendeeId": {
            "location": "uri",
            "locationName": "attendeeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attendee": {
            "shape": "Su"
          }
        }
      }
    },
    "GetBot": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots/{botId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bot": {
            "shape": "S2s"
          }
        }
      }
    },
    "GetChannelMessage": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/messages/{messageId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MessageId"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MessageId": {
            "location": "uri",
            "locationName": "messageId"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelMessage": {
            "type": "structure",
            "members": {
              "ChannelArn": {},
              "MessageId": {},
              "Content": {
                "shape": "S7x"
              },
              "Metadata": {
                "shape": "S2e"
              },
              "Type": {},
              "CreatedTimestamp": {
                "type": "timestamp"
              },
              "LastEditedTimestamp": {
                "type": "timestamp"
              },
              "LastUpdatedTimestamp": {
                "type": "timestamp"
              },
              "Sender": {
                "shape": "S14"
              },
              "Redacted": {
                "type": "boolean"
              },
              "Persistence": {}
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "GetEventsConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventsConfiguration": {
            "shape": "S83"
          }
        }
      }
    },
    "GetGlobalSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/settings",
        "responseCode": 200
      },
      "output": {
        "type": "structure",
        "members": {
          "BusinessCalling": {
            "shape": "S85"
          },
          "VoiceConnector": {
            "shape": "S86"
          }
        }
      }
    },
    "GetMeeting": {
      "http": {
        "method": "GET",
        "requestUri": "/meetings/{meetingId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Meeting": {
            "shape": "S3a"
          }
        }
      }
    },
    "GetMessagingSessionEndpoint": {
      "http": {
        "method": "GET",
        "requestUri": "/endpoints/messaging-session",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Endpoint": {
            "type": "structure",
            "members": {
              "Url": {}
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "GetPhoneNumber": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-numbers/{phoneNumberId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "location": "uri",
            "locationName": "phoneNumberId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumber": {
            "shape": "S8f"
          }
        }
      }
    },
    "GetPhoneNumberOrder": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-number-orders/{phoneNumberOrderId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberOrderId"
        ],
        "members": {
          "PhoneNumberOrderId": {
            "location": "uri",
            "locationName": "phoneNumberOrderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberOrder": {
            "shape": "S3k"
          }
        }
      }
    },
    "GetPhoneNumberSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/settings/phone-number",
        "responseCode": 200
      },
      "output": {
        "type": "structure",
        "members": {
          "CallingName": {
            "shape": "S1u"
          },
          "CallingNameUpdatedTimestamp": {
            "shape": "S2a"
          }
        }
      }
    },
    "GetProxySession": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "ProxySessionId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "ProxySessionId": {
            "location": "uri",
            "locationName": "proxySessionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProxySession": {
            "shape": "S42"
          }
        }
      }
    },
    "GetRetentionSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/retention-settings"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RetentionSettings": {
            "shape": "S8v"
          },
          "InitiateDeletionTimestamp": {
            "shape": "S2a"
          }
        }
      }
    },
    "GetRoom": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Room": {
            "shape": "S49"
          }
        }
      }
    },
    "GetSipMediaApplication": {
      "http": {
        "method": "GET",
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SipMediaApplicationId"
        ],
        "members": {
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplication": {
            "shape": "S4l"
          }
        }
      }
    },
    "GetSipMediaApplicationLoggingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}/logging-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SipMediaApplicationId"
        ],
        "members": {
          "SipMediaApplicationId": {
            "location": "uri",
            "locationName": "sipMediaApplicationId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipMediaApplicationLoggingConfiguration": {
            "shape": "S94"
          }
        }
      }
    },
    "GetSipRule": {
      "http": {
        "method": "GET",
        "requestUri": "/sip-rules/{sipRuleId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SipRuleId"
        ],
        "members": {
          "SipRuleId": {
            "location": "uri",
            "locationName": "sipRuleId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SipRule": {
            "shape": "S4w"
          }
        }
      }
    },
    "GetUser": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/users/{userId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S50"
          }
        }
      }
    },
    "GetUserSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/users/{userId}/settings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserSettings": {
            "shape": "S9b"
          }
        }
      }
    },
    "GetVoiceConnector": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S57"
          }
        }
      }
    },
    "GetVoiceConnectorEmergencyCallingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/emergency-calling-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EmergencyCallingConfiguration": {
            "shape": "S9h"
          }
        }
      }
    },
    "GetVoiceConnectorGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroup": {
            "shape": "S5e"
          }
        }
      }
    },
    "GetVoiceConnectorLoggingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S9o"
          }
        }
      }
    },
    "GetVoiceConnectorOrigination": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Origination": {
            "shape": "S9r"
          }
        }
      }
    },
    "GetVoiceConnectorProxy": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Proxy": {
            "shape": "Sa0"
          }
        }
      }
    },
    "GetVoiceConnectorStreamingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingConfiguration": {
            "shape": "Sa5"
          }
        }
      }
    },
    "GetVoiceConnectorTermination": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Termination": {
            "shape": "Sac"
          }
        }
      }
    },
    "GetVoiceConnectorTerminationHealth": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/health",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TerminationHealth": {
            "type": "structure",
            "members": {
              "Timestamp": {
                "shape": "S2a"
              },
              "Source": {}
            }
          }
        }
      }
    },
    "InviteUsers": {
      "http": {
        "requestUri": "/accounts/{accountId}/users?operation=add",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserEmailList"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserEmailList": {
            "type": "list",
            "member": {
              "shape": "S4y"
            }
          },
          "UserType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Invites": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "InviteId": {},
                "Status": {},
                "EmailAddress": {
                  "shape": "S4y"
                },
                "EmailStatus": {}
              }
            }
          }
        }
      }
    },
    "ListAccounts": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "location": "querystring",
            "locationName": "name"
          },
          "UserEmail": {
            "shape": "S4y",
            "location": "querystring",
            "locationName": "user-email"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Accounts": {
            "type": "list",
            "member": {
              "shape": "S28"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListAppInstanceAdmins": {
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}/admins",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceArn"
        ],
        "members": {
          "AppInstanceArn": {
            "location": "uri",
            "locationName": "appInstanceArn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "Sav",
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppInstanceArn": {},
          "AppInstanceAdmins": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Admin": {
                  "shape": "S14"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sav"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "ListAppInstanceUsers": {
      "http": {
        "method": "GET",
        "requestUri": "/app-instance-users",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceArn"
        ],
        "members": {
          "AppInstanceArn": {
            "location": "querystring",
            "locationName": "app-instance-arn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "Sav",
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppInstanceArn": {},
          "AppInstanceUsers": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AppInstanceUserArn": {},
                "Name": {
                  "shape": "S2m"
                },
                "Metadata": {
                  "shape": "S2e"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sav"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "ListAppInstances": {
      "http": {
        "method": "GET",
        "requestUri": "/app-instances",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "Sav",
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppInstances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AppInstanceArn": {},
                "Name": {
                  "shape": "S2d"
                },
                "Metadata": {
                  "shape": "S2e"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sav"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "identity-"
      }
    },
    "ListAttendeeTags": {
      "http": {
        "method": "GET",
        "requestUri": "/meetings/{meetingId}/attendees/{attendeeId}/tags",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId",
          "AttendeeId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          },
          "AttendeeId": {
            "location": "uri",
            "locationName": "attendeeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S2g"
          }
        }
      }
    },
    "ListAttendees": {
      "http": {
        "method": "GET",
        "requestUri": "/meetings/{meetingId}/attendees",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attendees": {
            "shape": "St"
          },
          "NextToken": {}
        }
      }
    },
    "ListBots": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bots": {
            "type": "list",
            "member": {
              "shape": "S2s"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListChannelBans": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/bans",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "Sav",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "NextToken": {
            "shape": "Sav"
          },
          "ChannelBans": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Member": {
                  "shape": "S14"
                }
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "ListChannelMemberships": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/memberships",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "Type": {
            "location": "querystring",
            "locationName": "type"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "Sav",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "ChannelMemberships": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Member": {
                  "shape": "S14"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sav"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "ListChannelMembershipsForAppInstanceUser": {
      "http": {
        "method": "GET",
        "requestUri": "/channels?scope=app-instance-user-memberships",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AppInstanceUserArn": {
            "location": "querystring",
            "locationName": "app-instance-user-arn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "Sav",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelMemberships": {
            "type": "list",
            "member": {
              "shape": "S6u"
            }
          },
          "NextToken": {
            "shape": "Sav"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "ListChannelMessages": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/messages",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "SortOrder": {
            "location": "querystring",
            "locationName": "sort-order"
          },
          "NotBefore": {
            "location": "querystring",
            "locationName": "not-before",
            "type": "timestamp"
          },
          "NotAfter": {
            "location": "querystring",
            "locationName": "not-after",
            "type": "timestamp"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "Sav",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "NextToken": {
            "shape": "Sav"
          },
          "ChannelMessages": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "MessageId": {},
                "Content": {
                  "shape": "S7x"
                },
                "Metadata": {
                  "shape": "S2e"
                },
                "Type": {},
                "CreatedTimestamp": {
                  "type": "timestamp"
                },
                "LastUpdatedTimestamp": {
                  "type": "timestamp"
                },
                "LastEditedTimestamp": {
                  "type": "timestamp"
                },
                "Sender": {
                  "shape": "S14"
                },
                "Redacted": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "ListChannelModerators": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/moderators",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "Sav",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "NextToken": {
            "shape": "Sav"
          },
          "ChannelModerators": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Moderator": {
                  "shape": "S14"
                }
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "ListChannels": {
      "http": {
        "method": "GET",
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceArn"
        ],
        "members": {
          "AppInstanceArn": {
            "location": "querystring",
            "locationName": "app-instance-arn"
          },
          "Privacy": {
            "location": "querystring",
            "locationName": "privacy"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "Sav",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channels": {
            "type": "list",
            "member": {
              "shape": "S6v"
            }
          },
          "NextToken": {
            "shape": "Sav"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "ListChannelsModeratedByAppInstanceUser": {
      "http": {
        "method": "GET",
        "requestUri": "/channels?scope=app-instance-user-moderated-channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AppInstanceUserArn": {
            "location": "querystring",
            "locationName": "app-instance-user-arn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "Sav",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channels": {
            "type": "list",
            "member": {
              "shape": "S6z"
            }
          },
          "NextToken": {
            "shape": "Sav"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "messaging-"
      }
    },
    "ListMeetingTags": {
      "http": {
        "method": "GET",
        "requestUri": "/meetings/{meetingId}/tags",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S2g"
          }
        }
      }
    },
    "ListMeetings": {
      "http": {
        "method": "GET",
        "requestUri": "/meetings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Meetings": {
            "type": "list",
            "member": {
              "shape": "S3a"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPhoneNumberOrders": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-number-orders",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberOrders": {
            "type": "list",
            "member": {
              "shape": "S3k"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPhoneNumbers": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-numbers"
      },
      "input": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "querystring",
            "locationName": "status"
          },
          "ProductType": {
            "location": "querystring",
            "locationName": "product-type"
          },
          "FilterName": {
            "location": "querystring",
            "locationName": "filter-name"
          },
          "FilterValue": {
            "location": "querystring",
            "locationName": "filter-value"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumbers": {
            "type": "list",
            "member": {
              "shape": "S8f"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListProxySessions": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Status": {
            "location": "querystring",
            "locationName": "status"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProxySessions": {
            "type": "list",
            "member": {
              "shape": "S42"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListRoomMemberships": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships",
[...]
