{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-05-01",
    "endpointPrefix": "chime",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Chime",
    "serviceId": "Chime",
    "signatureVersion": "v4",
    "uid": "chime-2018-05-01"
  },
  "operations": {
    "AssociatePhoneNumberWithUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=associate-phone-number",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId",
          "E164PhoneNumber"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          },
          "E164PhoneNumber": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociatePhoneNumbersWithVoiceConnector": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}?operation=associate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "E164PhoneNumbers": {
            "shape": "S7"
          },
          "ForceAssociate": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroup": {
      "http": {
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=associate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          },
          "E164PhoneNumbers": {
            "shape": "S7"
          },
          "ForceAssociate": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "AssociateSigninDelegateGroupsWithAccount": {
      "http": {
        "requestUri": "/accounts/{accountId}?operation=associate-signin-delegate-groups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "SigninDelegateGroups"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "SigninDelegateGroups": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "BatchCreateAttendee": {
      "http": {
        "requestUri": "/meetings/{meetingId}/attendees?operation=batch-create",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId",
          "Attendees"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          },
          "Attendees": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ExternalUserId"
              ],
              "members": {
                "ExternalUserId": {
                  "shape": "Sn"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attendees": {
            "shape": "Sp"
          },
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ExternalUserId": {
                  "shape": "Sn"
                },
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchCreateRoomMembership": {
      "http": {
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships?operation=batch-create",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId",
          "MembershipItemList"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          },
          "MembershipItemList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "MemberId": {},
                "Role": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "MemberId": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchDeletePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers?operation=batch-delete",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberIds"
        ],
        "members": {
          "PhoneNumberIds": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "BatchSuspendUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users?operation=suspend",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserIdList"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserIdList": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserErrors": {
            "shape": "S17"
          }
        }
      }
    },
    "BatchUnsuspendUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users?operation=unsuspend",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserIdList"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserIdList": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserErrors": {
            "shape": "S17"
          }
        }
      }
    },
    "BatchUpdatePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers?operation=batch-update",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "UpdatePhoneNumberRequestItems"
        ],
        "members": {
          "UpdatePhoneNumberRequestItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "PhoneNumberId"
              ],
              "members": {
                "PhoneNumberId": {},
                "ProductType": {},
                "CallingName": {
                  "shape": "S1f"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "BatchUpdateUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UpdateUserRequestItems"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UpdateUserRequestItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "UserId"
              ],
              "members": {
                "UserId": {},
                "LicenseType": {},
                "UserType": {},
                "AlexaForBusinessMetadata": {
                  "shape": "S1m"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserErrors": {
            "shape": "S17"
          }
        }
      }
    },
    "CreateAccount": {
      "http": {
        "requestUri": "/accounts",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Account": {
            "shape": "S1t"
          }
        }
      }
    },
    "CreateAttendee": {
      "http": {
        "requestUri": "/meetings/{meetingId}/attendees",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId",
          "ExternalUserId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          },
          "ExternalUserId": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attendee": {
            "shape": "Sq"
          }
        }
      }
    },
    "CreateBot": {
      "http": {
        "requestUri": "/accounts/{accountId}/bots",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "DisplayName",
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "DisplayName": {
            "shape": "S1o"
          },
          "Domain": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bot": {
            "shape": "S21"
          }
        }
      }
    },
    "CreateMeeting": {
      "http": {
        "requestUri": "/meetings",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ClientRequestToken"
        ],
        "members": {
          "ClientRequestToken": {
            "shape": "S24",
            "idempotencyToken": true
          },
          "MeetingHostId": {
            "shape": "Sn"
          },
          "MediaRegion": {},
          "NotificationsConfiguration": {
            "type": "structure",
            "members": {
              "SnsTopicArn": {
                "shape": "S26"
              },
              "SqsQueueArn": {
                "shape": "S26"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Meeting": {
            "shape": "S28"
          }
        }
      }
    },
    "CreatePhoneNumberOrder": {
      "http": {
        "requestUri": "/phone-number-orders",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductType",
          "E164PhoneNumbers"
        ],
        "members": {
          "ProductType": {},
          "E164PhoneNumbers": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberOrder": {
            "shape": "S2d"
          }
        }
      }
    },
    "CreateProxySession": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ParticipantPhoneNumbers",
          "Capabilities",
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "ParticipantPhoneNumbers": {
            "type": "list",
            "member": {
              "shape": "S3"
            }
          },
          "Name": {
            "type": "string",
            "sensitive": true
          },
          "ExpiryMinutes": {
            "type": "integer"
          },
          "Capabilities": {
            "shape": "S2n"
          },
          "NumberSelectionBehavior": {},
          "GeoMatchLevel": {},
          "GeoMatchParams": {
            "shape": "S2r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProxySession": {
            "shape": "S2v"
          }
        }
      }
    },
    "CreateRoom": {
      "http": {
        "requestUri": "/accounts/{accountId}/rooms",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Name"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "Name": {
            "shape": "S1o"
          },
          "ClientRequestToken": {
            "shape": "S24",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Room": {
            "shape": "S32"
          }
        }
      }
    },
    "CreateRoomMembership": {
      "http": {
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId",
          "MemberId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          },
          "MemberId": {},
          "Role": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomMembership": {
            "shape": "S35"
          }
        }
      }
    },
    "CreateUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users?operation=create",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "Username": {},
          "Email": {
            "shape": "S39"
          },
          "UserType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S3b"
          }
        }
      }
    },
    "CreateVoiceConnector": {
      "http": {
        "requestUri": "/voice-connectors",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RequireEncryption"
        ],
        "members": {
          "Name": {},
          "AwsRegion": {},
          "RequireEncryption": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S3i"
          }
        }
      }
    },
    "CreateVoiceConnectorGroup": {
      "http": {
        "requestUri": "/voice-connector-groups",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "VoiceConnectorItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroup": {
            "shape": "S3p"
          }
        }
      }
    },
    "DeleteAccount": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteAttendee": {
      "http": {
        "method": "DELETE",
        "requestUri": "/meetings/{meetingId}/attendees/{attendeeId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId",
          "AttendeeId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          },
          "AttendeeId": {
            "location": "uri",
            "locationName": "attendeeId"
          }
        }
      }
    },
    "DeleteEventsConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      }
    },
    "DeleteMeeting": {
      "http": {
        "method": "DELETE",
        "requestUri": "/meetings/{meetingId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          }
        }
      }
    },
    "DeletePhoneNumber": {
      "http": {
        "method": "DELETE",
        "requestUri": "/phone-numbers/{phoneNumberId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "location": "uri",
            "locationName": "phoneNumberId"
          }
        }
      }
    },
    "DeleteProxySession": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "ProxySessionId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "ProxySessionId": {
            "location": "uri",
            "locationName": "proxySessionId"
          }
        }
      }
    },
    "DeleteRoom": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          }
        }
      }
    },
    "DeleteRoomMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships/{memberId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId",
          "MemberId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          },
          "MemberId": {
            "location": "uri",
            "locationName": "memberId"
          }
        }
      }
    },
    "DeleteVoiceConnector": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          }
        }
      }
    },
    "DeleteVoiceConnectorOrigination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorProxy": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorStreamingConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorTermination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorTerminationCredentials": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials?operation=delete",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Usernames": {
            "shape": "S46"
          }
        }
      }
    },
    "DisassociatePhoneNumberFromUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=disassociate-phone-number",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnector": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}?operation=disassociate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "E164PhoneNumbers": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnectorGroup": {
      "http": {
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=disassociate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          },
          "E164PhoneNumbers": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "DisassociateSigninDelegateGroupsFromAccount": {
      "http": {
        "requestUri": "/accounts/{accountId}?operation=disassociate-signin-delegate-groups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "GroupNames"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "GroupNames": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Account": {
            "shape": "S1t"
          }
        }
      }
    },
    "GetAccountSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/settings"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountSettings": {
            "shape": "S4j"
          }
        }
      }
    },
    "GetAttendee": {
      "http": {
        "method": "GET",
        "requestUri": "/meetings/{meetingId}/attendees/{attendeeId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId",
          "AttendeeId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          },
          "AttendeeId": {
            "location": "uri",
            "locationName": "attendeeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attendee": {
            "shape": "Sq"
          }
        }
      }
    },
    "GetBot": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots/{botId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bot": {
            "shape": "S21"
          }
        }
      }
    },
    "GetEventsConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventsConfiguration": {
            "shape": "S4q"
          }
        }
      }
    },
    "GetGlobalSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/settings",
        "responseCode": 200
      },
      "output": {
        "type": "structure",
        "members": {
          "BusinessCalling": {
            "shape": "S4s"
          },
          "VoiceConnector": {
            "shape": "S4t"
          }
        }
      }
    },
    "GetMeeting": {
      "http": {
        "method": "GET",
        "requestUri": "/meetings/{meetingId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Meeting": {
            "shape": "S28"
          }
        }
      }
    },
    "GetPhoneNumber": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-numbers/{phoneNumberId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "location": "uri",
            "locationName": "phoneNumberId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumber": {
            "shape": "S4y"
          }
        }
      }
    },
    "GetPhoneNumberOrder": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-number-orders/{phoneNumberOrderId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberOrderId"
        ],
        "members": {
          "PhoneNumberOrderId": {
            "location": "uri",
            "locationName": "phoneNumberOrderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberOrder": {
            "shape": "S2d"
          }
        }
      }
    },
    "GetPhoneNumberSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/settings/phone-number",
        "responseCode": 200
      },
      "output": {
        "type": "structure",
        "members": {
          "CallingName": {
            "shape": "S1f"
          },
          "CallingNameUpdatedTimestamp": {
            "shape": "S1v"
          }
        }
      }
    },
    "GetProxySession": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "ProxySessionId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "ProxySessionId": {
            "location": "uri",
            "locationName": "proxySessionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProxySession": {
            "shape": "S2v"
          }
        }
      }
    },
    "GetRoom": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Room": {
            "shape": "S32"
          }
        }
      }
    },
    "GetUser": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/users/{userId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S3b"
          }
        }
      }
    },
    "GetUserSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/users/{userId}/settings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserSettings": {
            "shape": "S5h"
          }
        }
      }
    },
    "GetVoiceConnector": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S3i"
          }
        }
      }
    },
    "GetVoiceConnectorGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroup": {
            "shape": "S3p"
          }
        }
      }
    },
    "GetVoiceConnectorLoggingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S5p"
          }
        }
      }
    },
    "GetVoiceConnectorOrigination": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Origination": {
            "shape": "S5s"
          }
        }
      }
    },
    "GetVoiceConnectorProxy": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Proxy": {
            "shape": "S61"
          }
        }
      }
    },
    "GetVoiceConnectorStreamingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingConfiguration": {
            "shape": "S66"
          }
        }
      }
    },
    "GetVoiceConnectorTermination": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Termination": {
            "shape": "S6a"
          }
        }
      }
    },
    "GetVoiceConnectorTerminationHealth": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/health",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TerminationHealth": {
            "type": "structure",
            "members": {
              "Timestamp": {
                "shape": "S1v"
              },
              "Source": {}
            }
          }
        }
      }
    },
    "InviteUsers": {
      "http": {
        "requestUri": "/accounts/{accountId}/users?operation=add",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserEmailList"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserEmailList": {
            "type": "list",
            "member": {
              "shape": "S39"
            }
          },
          "UserType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Invites": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "InviteId": {},
                "Status": {},
                "EmailAddress": {
                  "shape": "S39"
                },
                "EmailStatus": {}
              }
            }
          }
        }
      }
    },
    "ListAccounts": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "location": "querystring",
            "locationName": "name"
          },
          "UserEmail": {
            "shape": "S39",
            "location": "querystring",
            "locationName": "user-email"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Accounts": {
            "type": "list",
            "member": {
              "shape": "S1t"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListAttendees": {
      "http": {
        "method": "GET",
        "requestUri": "/meetings/{meetingId}/attendees",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MeetingId"
        ],
        "members": {
          "MeetingId": {
            "location": "uri",
            "locationName": "meetingId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attendees": {
            "shape": "Sp"
          },
          "NextToken": {}
        }
      }
    },
    "ListBots": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bots": {
            "type": "list",
            "member": {
              "shape": "S21"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMeetings": {
      "http": {
        "method": "GET",
        "requestUri": "/meetings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Meetings": {
            "type": "list",
            "member": {
              "shape": "S28"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPhoneNumberOrders": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-number-orders",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberOrders": {
            "type": "list",
            "member": {
              "shape": "S2d"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPhoneNumbers": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-numbers"
      },
      "input": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "querystring",
            "locationName": "status"
          },
          "ProductType": {
            "location": "querystring",
            "locationName": "product-type"
          },
          "FilterName": {
            "location": "querystring",
            "locationName": "filter-name"
          },
          "FilterValue": {
            "location": "querystring",
            "locationName": "filter-value"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumbers": {
            "type": "list",
            "member": {
              "shape": "S4y"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListProxySessions": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Status": {
            "location": "querystring",
            "locationName": "status"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProxySessions": {
            "type": "list",
            "member": {
              "shape": "S2v"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListRoomMemberships": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomMemberships": {
            "type": "list",
            "member": {
              "shape": "S35"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListRooms": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/rooms",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "MemberId": {
            "location": "querystring",
            "locationName": "member-id"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Rooms": {
            "type": "list",
            "member": {
              "shape": "S32"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListUsers": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/users",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserEmail": {
            "shape": "S39",
            "location": "querystring",
            "locationName": "user-email"
          },
          "UserType": {
            "location": "querystring",
            "locationName": "user-type"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Users": {
            "type": "list",
            "member": {
              "shape": "S3b"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListVoiceConnectorGroups": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connector-groups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroups": {
            "type": "list",
            "member": {
              "shape": "S3p"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListVoiceConnectorTerminationCredentials": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Usernames": {
            "shape": "S46"
          }
        }
      }
    },
    "ListVoiceConnectors": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectors": {
            "type": "list",
            "member": {
              "shape": "S3i"
            }
          },
          "NextToken": {}
        }
      }
    },
    "LogoutUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=logout",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEventsConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          },
          "OutboundEventsHTTPSEndpoint": {
            "shape": "S1o"
          },
          "LambdaFunctionArn": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventsConfiguration": {
            "shape": "S4q"
          }
        }
      }
    },
    "PutVoiceConnectorLoggingConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "LoggingConfiguration"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "LoggingConfiguration": {
            "shape": "S5p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S5p"
          }
        }
      }
    },
    "PutVoiceConnectorOrigination": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "Origination"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Origination": {
            "shape": "S5s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Origination": {
            "shape": "S5s"
          }
        }
      }
    },
    "PutVoiceConnectorProxy": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy"
      },
      "input": {
        "type": "structure",
        "required": [
          "DefaultSessionExpiryMinutes",
          "PhoneNumberPoolCountries",
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "DefaultSessionExpiryMinutes": {
            "type": "integer"
          },
          "PhoneNumberPoolCountries": {
            "type": "list",
            "member": {}
          },
          "FallBackPhoneNumber": {
            "shape": "S3"
          },
          "Disabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Proxy": {
            "shape": "S61"
          }
        }
      }
    },
    "PutVoiceConnectorStreamingConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "StreamingConfiguration"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "StreamingConfiguration": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingConfiguration": {
            "shape": "S66"
          }
        }
      }
    },
    "PutVoiceConnectorTermination": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "Termination"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Termination": {
            "shape": "S6a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Termination": {
            "shape": "S6a"
          }
        }
      }
    },
    "PutVoiceConnectorTerminationCredentials": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials?operation=put",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Credentials": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Username": {
                  "shape": "S1o"
                },
                "Password": {
                  "shape": "S1o"
                }
              }
            }
          }
        }
      }
    },
    "RegenerateSecurityToken": {
      "http": {
        "requestUri": "/accounts/{accountId}/bots/{botId}?operation=regenerate-security-token",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bot": {
            "shape": "S21"
          }
        }
      }
    },
    "ResetPersonalPIN": {
      "http": {
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=reset-personal-pin",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S3b"
          }
        }
      }
    },
    "RestorePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers/{phoneNumberId}?operation=restore",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "location": "uri",
            "locationName": "phoneNumberId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumber": {
            "shape": "S4y"
          }
        }
      }
    },
    "SearchAvailablePhoneNumbers": {
      "http": {
        "method": "GET",
        "requestUri": "/search?type=phone-numbers"
      },
      "input": {
        "type": "structure",
        "members": {
          "AreaCode": {
            "location": "querystring",
            "locationName": "area-code"
          },
          "City": {
            "location": "querystring",
            "locationName": "city"
          },
          "Country": {
            "location": "querystring",
            "locationName": "country"
          },
          "State": {
            "location": "querystring",
            "locationName": "state"
          },
          "TollFreePrefix": {
            "location": "querystring",
            "locationName": "toll-free-prefix"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "E164PhoneNumbers": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateAccount": {
      "http": {
        "requestUri": "/accounts/{accountId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Account": {
            "shape": "S1t"
          }
        }
      }
    },
    "UpdateAccountSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{accountId}/settings",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "AccountSettings"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "AccountSettings": {
            "shape": "S4j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateBot": {
      "http": {
        "requestUri": "/accounts/{accountId}/bots/{botId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          },
          "Disabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bot": {
            "shape": "S21"
          }
        }
      }
    },
    "UpdateGlobalSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/settings",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "BusinessCalling",
          "VoiceConnector"
        ],
        "members": {
          "BusinessCalling": {
            "shape": "S4s"
          },
          "VoiceConnector": {
            "shape": "S4t"
          }
        }
      }
    },
    "UpdatePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers/{phoneNumberId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "location": "uri",
            "locationName": "phoneNumberId"
          },
          "ProductType": {},
          "CallingName": {
            "shape": "S1f"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumber": {
            "shape": "S4y"
          }
        }
      }
    },
    "UpdatePhoneNumberSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/settings/phone-number",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "CallingName"
        ],
        "members": {
          "CallingName": {
            "shape": "S1f"
          }
        }
      }
    },
    "UpdateProxySession": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Capabilities",
          "VoiceConnectorId",
          "ProxySessionId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "ProxySessionId": {
            "location": "uri",
            "locationName": "proxySessionId"
          },
          "Capabilities": {
            "shape": "S2n"
          },
          "ExpiryMinutes": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProxySession": {
            "shape": "S2v"
          }
        }
      }
    },
    "UpdateRoom": {
      "http": {
        "requestUri": "/accounts/{accountId}/rooms/{roomId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          },
          "Name": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Room": {
            "shape": "S32"
          }
        }
      }
    },
    "UpdateRoomMembership": {
      "http": {
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships/{memberId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "RoomId",
          "MemberId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "RoomId": {
            "location": "uri",
            "locationName": "roomId"
          },
          "MemberId": {
            "location": "uri",
            "locationName": "memberId"
          },
          "Role": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RoomMembership": {
            "shape": "S35"
          }
        }
      }
    },
    "UpdateUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users/{userId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          },
          "LicenseType": {},
          "UserType": {},
          "AlexaForBusinessMetadata": {
            "shape": "S1m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S3b"
          }
        }
      }
    },
    "UpdateUserSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{accountId}/users/{userId}/settings",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId",
          "UserSettings"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          },
          "UserSettings": {
            "shape": "S5h"
          }
        }
      }
    },
    "UpdateVoiceConnector": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "Name",
          "RequireEncryption"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Name": {},
          "RequireEncryption": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S3i"
          }
        }
      }
    },
    "UpdateVoiceConnectorGroup": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId",
          "Name",
          "VoiceConnectorItems"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          },
          "Name": {},
          "VoiceConnectorItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroup": {
            "shape": "S3p"
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "string",
      "sensitive": true
    },
    "S7": {
      "type": "list",
      "member": {
        "shape": "S3"
      }
    },
    "Sa": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PhoneNumberId": {},
          "ErrorCode": {},
          "ErrorMessage": {}
        }
      }
    },
    "Sg": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "GroupName": {}
        }
      }
    },
    "Sn": {
      "type": "string",
      "sensitive": true
    },
    "Sp": {
      "type": "list",
      "member": {
        "shape": "Sq"
      }
    },
    "Sq": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "shape": "Sn"
        },
        "AttendeeId": {},
        "JoinToken": {
          "type": "string",
          "sensitive": true
        }
      }
    },
    "S12": {
      "type": "list",
      "member": {}
    },
    "S15": {
      "type": "list",
      "member": {}
    },
    "S17": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "UserId": {},
          "ErrorCode": {},
          "ErrorMessage": {}
        }
      }
    },
    "S1f": {
      "type": "string",
      "sensitive": true
    },
    "S1m": {
      "type": "structure",
      "members": {
        "IsAlexaForBusinessEnabled": {
          "type": "boolean"
        },
        "AlexaForBusinessRoomArn": {
          "shape": "S1o"
        }
      }
    },
    "S1o": {
      "type": "string",
      "sensitive": true
    },
    "S1t": {
      "type": "structure",
      "required": [
        "AwsAccountId",
        "AccountId",
        "Name"
      ],
      "members": {
        "AwsAccountId": {},
        "AccountId": {},
        "Name": {},
        "AccountType": {},
        "CreatedTimestamp": {
          "shape": "S1v"
        },
        "DefaultLicense": {},
        "SupportedLicenses": {
          "type": "list",
          "member": {}
        },
        "SigninDelegateGroups": {
          "shape": "Sg"
        }
      }
    },
    "S1v": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S21": {
      "type": "structure",
      "members": {
        "BotId": {},
        "UserId": {},
        "DisplayName": {
          "shape": "S1o"
        },
        "BotType": {},
        "Disabled": {
          "type": "boolean"
        },
        "CreatedTimestamp": {
          "shape": "S1v"
        },
        "UpdatedTimestamp": {
          "shape": "S1v"
        },
        "BotEmail": {
          "shape": "S1o"
        },
        "SecurityToken": {
          "shape": "S1o"
        }
      }
    },
    "S24": {
      "type": "string",
      "sensitive": true
    },
    "S26": {
      "type": "string",
      "sensitive": true
    },
    "S28": {
      "type": "structure",
      "members": {
        "MeetingId": {},
        "MediaPlacement": {
          "type": "structure",
          "members": {
            "AudioHostUrl": {},
            "AudioFallbackUrl": {},
            "ScreenDataUrl": {},
            "ScreenSharingUrl": {},
            "ScreenViewingUrl": {},
            "SignalingUrl": {},
            "TurnControlUrl": {}
          }
        },
        "MediaRegion": {}
      }
    },
    "S2d": {
      "type": "structure",
      "members": {
        "PhoneNumberOrderId": {},
        "ProductType": {},
        "Status": {},
        "OrderedPhoneNumbers": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "E164PhoneNumber": {
                "shape": "S3"
              },
              "Status": {}
            }
          }
        },
        "CreatedTimestamp": {
          "shape": "S1v"
        },
        "UpdatedTimestamp": {
          "shape": "S1v"
        }
      }
    },
    "S2n": {
      "type": "list",
      "member": {}
    },
    "S2r": {
      "type": "structure",
      "required": [
        "Country",
        "AreaCode"
      ],
      "members": {
        "Country": {},
        "AreaCode": {}
      }
    },
    "S2v": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {},
        "ProxySessionId": {},
        "Name": {},
        "Status": {},
        "ExpiryMinutes": {
          "type": "integer"
        },
        "Capabilities": {
          "shape": "S2n"
        },
        "CreatedTimestamp": {
          "shape": "S1v"
        },
        "UpdatedTimestamp": {
          "shape": "S1v"
        },
        "EndedTimestamp": {
          "shape": "S1v"
        },
        "Participants": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "PhoneNumber": {
                "shape": "S3"
              },
              "ProxyPhoneNumber": {
                "shape": "S3"
              }
            }
          }
        },
        "NumberSelectionBehavior": {},
        "GeoMatchLevel": {},
        "GeoMatchParams": {
          "shape": "S2r"
        }
      }
    },
    "S32": {
      "type": "structure",
      "members": {
        "RoomId": {},
        "Name": {
          "shape": "S1o"
        },
        "AccountId": {},
        "CreatedBy": {},
        "CreatedTimestamp": {
          "shape": "S1v"
        },
        "UpdatedTimestamp": {
          "shape": "S1v"
        }
      }
    },
    "S35": {
      "type": "structure",
      "members": {
        "RoomId": {},
        "Member": {
          "type": "structure",
          "members": {
            "MemberId": {},
            "MemberType": {},
            "Email": {
              "shape": "S1o"
            },
            "FullName": {
              "shape": "S1o"
            },
            "AccountId": {}
          }
        },
        "Role": {},
        "InvitedBy": {},
        "UpdatedTimestamp": {
          "shape": "S1v"
        }
      }
    },
    "S39": {
      "type": "string",
      "sensitive": true
    },
    "S3b": {
      "type": "structure",
      "required": [
        "UserId"
      ],
      "members": {
        "UserId": {},
        "AccountId": {},
        "PrimaryEmail": {
          "shape": "S39"
        },
        "PrimaryProvisionedNumber": {
          "shape": "S1o"
        },
        "DisplayName": {
          "shape": "S1o"
        },
        "LicenseType": {},
        "UserType": {},
        "UserRegistrationStatus": {},
        "UserInvitationStatus": {},
        "RegisteredOn": {
          "shape": "S1v"
        },
        "InvitedOn": {
          "shape": "S1v"
        },
        "AlexaForBusinessMetadata": {
          "shape": "S1m"
        },
        "PersonalPIN": {}
      }
    },
    "S3i": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {},
        "AwsRegion": {},
        "Name": {},
        "OutboundHostName": {},
        "RequireEncryption": {
          "type": "boolean"
        },
        "CreatedTimestamp": {
          "shape": "S1v"
        },
        "UpdatedTimestamp": {
          "shape": "S1v"
        }
      }
    },
    "S3l": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "Priority"
        ],
        "members": {
          "VoiceConnectorId": {},
          "Priority": {
            "type": "integer"
          }
        }
      }
    },
    "S3p": {
      "type": "structure",
      "members": {
        "VoiceConnectorGroupId": {},
        "Name": {},
        "VoiceConnectorItems": {
          "shape": "S3l"
        },
        "CreatedTimestamp": {
          "shape": "S1v"
        },
        "UpdatedTimestamp": {
          "shape": "S1v"
        }
      }
    },
    "S46": {
      "type": "list",
      "member": {
        "shape": "S1o"
      }
    },
    "S4j": {
      "type": "structure",
      "members": {
        "DisableRemoteControl": {
          "type": "boolean"
        },
        "EnableDialOut": {
          "type": "boolean"
        }
      }
    },
    "S4q": {
      "type": "structure",
      "members": {
        "BotId": {},
        "OutboundEventsHTTPSEndpoint": {
          "shape": "S1o"
        },
        "LambdaFunctionArn": {
          "shape": "S1o"
        }
      }
    },
    "S4s": {
      "type": "structure",
      "members": {
        "CdrBucket": {}
      }
    },
    "S4t": {
      "type": "structure",
      "members": {
        "CdrBucket": {}
      }
    },
    "S4y": {
      "type": "structure",
      "members": {
        "PhoneNumberId": {},
        "E164PhoneNumber": {
          "shape": "S3"
        },
        "Type": {},
        "ProductType": {},
        "Status": {},
        "Capabilities": {
          "type": "structure",
          "members": {
            "InboundCall": {
              "type": "boolean"
            },
            "OutboundCall": {
              "type": "boolean"
            },
            "InboundSMS": {
              "type": "boolean"
            },
            "OutboundSMS": {
              "type": "boolean"
            },
            "InboundMMS": {
              "type": "boolean"
            },
            "OutboundMMS": {
              "type": "boolean"
            }
          }
        },
        "Associations": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Value": {},
              "Name": {},
              "AssociatedTimestamp": {
                "shape": "S1v"
              }
            }
          }
        },
        "CallingName": {
          "shape": "S1f"
        },
        "CallingNameStatus": {},
        "CreatedTimestamp": {
          "shape": "S1v"
        },
        "UpdatedTimestamp": {
          "shape": "S1v"
        },
        "DeletionTimestamp": {
          "shape": "S1v"
        }
      }
    },
    "S5h": {
      "type": "structure",
      "required": [
        "Telephony"
      ],
      "members": {
        "Telephony": {
          "type": "structure",
          "required": [
            "InboundCalling",
            "OutboundCalling",
            "SMS"
          ],
          "members": {
            "InboundCalling": {
              "type": "boolean"
            },
            "OutboundCalling": {
              "type": "boolean"
            },
            "SMS": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "S5p": {
      "type": "structure",
      "members": {
        "EnableSIPLogs": {
          "type": "boolean"
        }
      }
    },
    "S5s": {
      "type": "structure",
      "members": {
        "Routes": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Host": {},
              "Port": {
                "type": "integer"
              },
              "Protocol": {},
              "Priority": {
                "type": "integer"
              },
              "Weight": {
                "type": "integer"
              }
            }
          }
        },
        "Disabled": {
          "type": "boolean"
        }
      }
    },
    "S61": {
      "type": "structure",
      "members": {
        "DefaultSessionExpiryMinutes": {
          "type": "integer"
        },
        "Disabled": {
          "type": "boolean"
        },
        "FallBackPhoneNumber": {
          "shape": "S3"
        },
        "PhoneNumberCountries": {
          "shape": "S63"
        }
      }
    },
    "S63": {
      "type": "list",
      "member": {}
    },
    "S66": {
      "type": "structure",
      "required": [
        "DataRetentionInHours"
      ],
      "members": {
        "DataRetentionInHours": {
          "type": "integer"
        },
        "Disabled": {
          "type": "boolean"
        }
      }
    },
    "S6a": {
      "type": "structure",
      "members": {
        "CpsLimit": {
          "type": "integer"
        },
        "DefaultPhoneNumber": {
          "shape": "S3"
        },
        "CallingRegions": {
          "type": "list",
          "member": {}
        },
        "CidrAllowedList": {
          "shape": "S63"
        },
        "Disabled": {
          "type": "boolean"
        }
      }
    }
  }
}