{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2021-05-15",
    "endpointPrefix": "messaging-chime",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Chime SDK Messaging",
    "serviceId": "Chime SDK Messaging",
    "signatureVersion": "v4",
    "signingName": "chime",
    "uid": "chime-sdk-messaging-2021-05-15"
  },
  "operations": {
    "BatchCreateChannelMembership": {
      "http": {
        "requestUri": "/channels/{channelArn}/memberships?operation=batch-create",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArns",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "Type": {},
          "MemberArns": {
            "type": "list",
            "member": {}
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BatchChannelMemberships": {
            "type": "structure",
            "members": {
              "InvitedBy": {
                "shape": "S7"
              },
              "Type": {},
              "Members": {
                "type": "list",
                "member": {
                  "shape": "S7"
                }
              },
              "ChannelArn": {}
            }
          },
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "MemberArn": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "CreateChannel": {
      "http": {
        "requestUri": "/channels",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceArn",
          "Name",
          "ClientRequestToken",
          "ChimeBearer"
        ],
        "members": {
          "AppInstanceArn": {},
          "Name": {
            "shape": "Sf"
          },
          "Mode": {},
          "Privacy": {},
          "Metadata": {
            "shape": "Si"
          },
          "ClientRequestToken": {
            "shape": "Sj",
            "idempotencyToken": true
          },
          "Tags": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Key",
                "Value"
              ],
              "members": {
                "Key": {
                  "type": "string",
                  "sensitive": true
                },
                "Value": {
                  "type": "string",
                  "sensitive": true
                }
              }
            }
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {}
        }
      }
    },
    "CreateChannelBan": {
      "http": {
        "requestUri": "/channels/{channelArn}/bans",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MemberArn": {},
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "Member": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateChannelMembership": {
      "http": {
        "requestUri": "/channels/{channelArn}/memberships",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArn",
          "Type",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MemberArn": {},
          "Type": {},
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "Member": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateChannelModerator": {
      "http": {
        "requestUri": "/channels/{channelArn}/moderators",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChannelModeratorArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "ChannelModeratorArn": {},
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "ChannelModerator": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      }
    },
    "DeleteChannelBan": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/bans/{memberArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MemberArn": {
            "location": "uri",
            "locationName": "memberArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      }
    },
    "DeleteChannelMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/memberships/{memberArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MemberArn": {
            "location": "uri",
            "locationName": "memberArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      }
    },
    "DeleteChannelMessage": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/messages/{messageId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MessageId",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MessageId": {
            "location": "uri",
            "locationName": "messageId"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      }
    },
    "DeleteChannelModerator": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/moderators/{channelModeratorArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChannelModeratorArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "ChannelModeratorArn": {
            "location": "uri",
            "locationName": "channelModeratorArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      }
    },
    "DescribeChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channel": {
            "type": "structure",
            "members": {
              "Name": {
                "shape": "Sf"
              },
              "ChannelArn": {},
              "Mode": {},
              "Privacy": {},
              "Metadata": {
                "shape": "Si"
              },
              "CreatedBy": {
                "shape": "S7"
              },
              "CreatedTimestamp": {
                "type": "timestamp"
              },
              "LastMessageTimestamp": {
                "type": "timestamp"
              },
              "LastUpdatedTimestamp": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "DescribeChannelBan": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/bans/{memberArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MemberArn": {
            "location": "uri",
            "locationName": "memberArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelBan": {
            "type": "structure",
            "members": {
              "Member": {
                "shape": "S7"
              },
              "ChannelArn": {},
              "CreatedTimestamp": {
                "type": "timestamp"
              },
              "CreatedBy": {
                "shape": "S7"
              }
            }
          }
        }
      }
    },
    "DescribeChannelMembership": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/memberships/{memberArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MemberArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MemberArn": {
            "location": "uri",
            "locationName": "memberArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelMembership": {
            "type": "structure",
            "members": {
              "InvitedBy": {
                "shape": "S7"
              },
              "Type": {},
              "Member": {
                "shape": "S7"
              },
              "ChannelArn": {},
              "CreatedTimestamp": {
                "type": "timestamp"
              },
              "LastUpdatedTimestamp": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "DescribeChannelMembershipForAppInstanceUser": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}?scope=app-instance-user-membership",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "AppInstanceUserArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "AppInstanceUserArn": {
            "location": "querystring",
            "locationName": "app-instance-user-arn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelMembership": {
            "shape": "S1d"
          }
        }
      }
    },
    "DescribeChannelModeratedByAppInstanceUser": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}?scope=app-instance-user-moderated-channel",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "AppInstanceUserArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "AppInstanceUserArn": {
            "location": "querystring",
            "locationName": "app-instance-user-arn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channel": {
            "shape": "S1i"
          }
        }
      }
    },
    "DescribeChannelModerator": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/moderators/{channelModeratorArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChannelModeratorArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "ChannelModeratorArn": {
            "location": "uri",
            "locationName": "channelModeratorArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelModerator": {
            "type": "structure",
            "members": {
              "Moderator": {
                "shape": "S7"
              },
              "ChannelArn": {},
              "CreatedTimestamp": {
                "type": "timestamp"
              },
              "CreatedBy": {
                "shape": "S7"
              }
            }
          }
        }
      }
    },
    "GetChannelMessage": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/messages/{messageId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MessageId",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MessageId": {
            "location": "uri",
            "locationName": "messageId"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelMessage": {
            "type": "structure",
            "members": {
              "ChannelArn": {},
              "MessageId": {},
              "Content": {
                "shape": "S1p"
              },
              "Metadata": {
                "shape": "Si"
              },
              "Type": {},
              "CreatedTimestamp": {
                "type": "timestamp"
              },
              "LastEditedTimestamp": {
                "type": "timestamp"
              },
              "LastUpdatedTimestamp": {
                "type": "timestamp"
              },
              "Sender": {
                "shape": "S7"
              },
              "Redacted": {
                "type": "boolean"
              },
              "Persistence": {}
            }
          }
        }
      }
    },
    "GetMessagingSessionEndpoint": {
      "http": {
        "method": "GET",
        "requestUri": "/endpoints/messaging-session",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Endpoint": {
            "type": "structure",
            "members": {
              "Url": {}
            }
          }
        }
      }
    },
    "ListChannelBans": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/bans",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "S1z",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "NextToken": {
            "shape": "S1z"
          },
          "ChannelBans": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Member": {
                  "shape": "S7"
                }
              }
            }
          }
        }
      }
    },
    "ListChannelMemberships": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/memberships",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "Type": {
            "location": "querystring",
            "locationName": "type"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "S1z",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "ChannelMemberships": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Member": {
                  "shape": "S7"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1z"
          }
        }
      }
    },
    "ListChannelMembershipsForAppInstanceUser": {
      "http": {
        "method": "GET",
        "requestUri": "/channels?scope=app-instance-user-memberships",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChimeBearer"
        ],
        "members": {
          "AppInstanceUserArn": {
            "location": "querystring",
            "locationName": "app-instance-user-arn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "S1z",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelMemberships": {
            "type": "list",
            "member": {
              "shape": "S1d"
            }
          },
          "NextToken": {
            "shape": "S1z"
          }
        }
      }
    },
    "ListChannelMessages": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/messages",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "SortOrder": {
            "location": "querystring",
            "locationName": "sort-order"
          },
          "NotBefore": {
            "location": "querystring",
            "locationName": "not-before",
            "type": "timestamp"
          },
          "NotAfter": {
            "location": "querystring",
            "locationName": "not-after",
            "type": "timestamp"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "S1z",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "NextToken": {
            "shape": "S1z"
          },
          "ChannelMessages": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "MessageId": {},
                "Content": {
                  "shape": "S1p"
                },
                "Metadata": {
                  "shape": "Si"
                },
                "Type": {},
                "CreatedTimestamp": {
                  "type": "timestamp"
                },
                "LastUpdatedTimestamp": {
                  "type": "timestamp"
                },
                "LastEditedTimestamp": {
                  "type": "timestamp"
                },
                "Sender": {
                  "shape": "S7"
                },
                "Redacted": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "ListChannelModerators": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/moderators",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "S1z",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "NextToken": {
            "shape": "S1z"
          },
          "ChannelModerators": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Moderator": {
                  "shape": "S7"
                }
              }
            }
          }
        }
      }
    },
    "ListChannels": {
      "http": {
        "method": "GET",
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AppInstanceArn",
          "ChimeBearer"
        ],
        "members": {
          "AppInstanceArn": {
            "location": "querystring",
            "locationName": "app-instance-arn"
          },
          "Privacy": {
            "location": "querystring",
            "locationName": "privacy"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "S1z",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channels": {
            "type": "list",
            "member": {
              "shape": "S1e"
            }
          },
          "NextToken": {
            "shape": "S1z"
          }
        }
      }
    },
    "ListChannelsModeratedByAppInstanceUser": {
      "http": {
        "method": "GET",
        "requestUri": "/channels?scope=app-instance-user-moderated-channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChimeBearer"
        ],
        "members": {
          "AppInstanceUserArn": {
            "location": "querystring",
            "locationName": "app-instance-user-arn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "shape": "S1z",
            "location": "querystring",
            "locationName": "next-token"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channels": {
            "type": "list",
            "member": {
              "shape": "S1i"
            }
          },
          "NextToken": {
            "shape": "S1z"
          }
        }
      }
    },
    "RedactChannelMessage": {
      "http": {
        "requestUri": "/channels/{channelArn}/messages/{messageId}?operation=redact",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MessageId",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MessageId": {
            "location": "uri",
            "locationName": "messageId"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "MessageId": {}
        }
      }
    },
    "SendChannelMessage": {
      "http": {
        "requestUri": "/channels/{channelArn}/messages",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "Content",
          "Type",
          "Persistence",
          "ClientRequestToken",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "Content": {
            "type": "string",
            "sensitive": true
          },
          "Type": {},
          "Persistence": {},
          "Metadata": {
            "shape": "Si"
          },
          "ClientRequestToken": {
            "shape": "Sj",
            "idempotencyToken": true
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "MessageId": {}
        }
      }
    },
    "UpdateChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{channelArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "Name",
          "Mode",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "Name": {
            "shape": "Sf"
          },
          "Mode": {},
          "Metadata": {
            "shape": "Si"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {}
        }
      }
    },
    "UpdateChannelMessage": {
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{channelArn}/messages/{messageId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "MessageId",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "MessageId": {
            "location": "uri",
            "locationName": "messageId"
          },
          "Content": {
            "shape": "S1p"
          },
          "Metadata": {
            "shape": "Si"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {},
          "MessageId": {}
        }
      }
    },
    "UpdateChannelReadMarker": {
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{channelArn}/readMarker",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelArn",
          "ChimeBearer"
        ],
        "members": {
          "ChannelArn": {
            "location": "uri",
            "locationName": "channelArn"
          },
          "ChimeBearer": {
            "location": "header",
            "locationName": "x-amz-chime-bearer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelArn": {}
        }
      }
    }
  },
  "shapes": {
    "S7": {
      "type": "structure",
      "members": {
        "Arn": {},
        "Name": {
          "type": "string",
          "sensitive": true
        }
      }
    },
    "Sf": {
      "type": "string",
      "sensitive": true
    },
    "Si": {
      "type": "string",
      "sensitive": true
    },
    "Sj": {
      "type": "string",
      "sensitive": true
    },
    "S1d": {
      "type": "structure",
      "members": {
        "ChannelSummary": {
          "shape": "S1e"
        },
        "AppInstanceUserMembershipSummary": {
          "type": "structure",
          "members": {
            "Type": {},
            "ReadMarkerTimestamp": {
              "type": "timestamp"
            }
          }
        }
      }
    },
    "S1e": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "Sf"
        },
        "ChannelArn": {},
        "Mode": {},
        "Privacy": {},
        "Metadata": {
          "shape": "Si"
        },
        "LastMessageTimestamp": {
          "type": "timestamp"
        }
      }
    },
    "S1i": {
      "type": "structure",
      "members": {
        "ChannelSummary": {
          "shape": "S1e"
        }
      }
    },
    "S1p": {
      "type": "string",
      "sensitive": true
    },
    "S1z": {
      "type": "string",
      "sensitive": true
    }
  }
}