{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-05-01",
    "endpointPrefix": "chime",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Chime",
    "serviceId": "Chime",
    "signatureVersion": "v4",
    "uid": "chime-2018-05-01"
  },
  "operations": {
    "AssociatePhoneNumberWithUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=associate-phone-number",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId",
          "E164PhoneNumber"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          },
          "E164PhoneNumber": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociatePhoneNumbersWithVoiceConnector": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}?operation=associate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "E164PhoneNumbers": {
            "shape": "S7"
          },
          "ForceAssociate": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroup": {
      "http": {
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=associate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          },
          "E164PhoneNumbers": {
            "shape": "S7"
          },
          "ForceAssociate": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "BatchDeletePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers?operation=batch-delete",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberIds"
        ],
        "members": {
          "PhoneNumberIds": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "BatchSuspendUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users?operation=suspend",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserIdList"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserIdList": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserErrors": {
            "shape": "Sl"
          }
        }
      }
    },
    "BatchUnsuspendUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users?operation=unsuspend",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserIdList"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserIdList": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserErrors": {
            "shape": "Sl"
          }
        }
      }
    },
    "BatchUpdatePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers?operation=batch-update",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "UpdatePhoneNumberRequestItems"
        ],
        "members": {
          "UpdatePhoneNumberRequestItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "PhoneNumberId"
              ],
              "members": {
                "PhoneNumberId": {},
                "ProductType": {},
                "CallingName": {
                  "shape": "St"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "BatchUpdateUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UpdateUserRequestItems"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UpdateUserRequestItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "UserId"
              ],
              "members": {
                "UserId": {},
                "LicenseType": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserErrors": {
            "shape": "Sl"
          }
        }
      }
    },
    "CreateAccount": {
      "http": {
        "requestUri": "/accounts",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Account": {
            "shape": "S13"
          }
        }
      }
    },
    "CreateBot": {
      "http": {
        "requestUri": "/accounts/{accountId}/bots",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "DisplayName",
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "DisplayName": {
            "shape": "S18"
          },
          "Domain": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bot": {
            "shape": "S1a"
          }
        }
      }
    },
    "CreatePhoneNumberOrder": {
      "http": {
        "requestUri": "/phone-number-orders",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "ProductType",
          "E164PhoneNumbers"
        ],
        "members": {
          "ProductType": {},
          "E164PhoneNumbers": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberOrder": {
            "shape": "S1e"
          }
        }
      }
    },
    "CreateVoiceConnector": {
      "http": {
        "requestUri": "/voice-connectors",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RequireEncryption"
        ],
        "members": {
          "Name": {},
          "AwsRegion": {},
          "RequireEncryption": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S1p"
          }
        }
      }
    },
    "CreateVoiceConnectorGroup": {
      "http": {
        "requestUri": "/voice-connector-groups",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "VoiceConnectorItems": {
            "shape": "S1s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroup": {
            "shape": "S1w"
          }
        }
      }
    },
    "DeleteAccount": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteEventsConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      }
    },
    "DeletePhoneNumber": {
      "http": {
        "method": "DELETE",
        "requestUri": "/phone-numbers/{phoneNumberId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "location": "uri",
            "locationName": "phoneNumberId"
          }
        }
      }
    },
    "DeleteVoiceConnector": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          }
        }
      }
    },
    "DeleteVoiceConnectorOrigination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorStreamingConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorTermination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      }
    },
    "DeleteVoiceConnectorTerminationCredentials": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials?operation=delete",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Usernames": {
            "shape": "S27"
          }
        }
      }
    },
    "DisassociatePhoneNumberFromUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=disassociate-phone-number",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnector": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}?operation=disassociate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "E164PhoneNumbers": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnectorGroup": {
      "http": {
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=disassociate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          },
          "E164PhoneNumbers": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberErrors": {
            "shape": "Sa"
          }
        }
      }
    },
    "GetAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Account": {
            "shape": "S13"
          }
        }
      }
    },
    "GetAccountSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/settings"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountSettings": {
            "shape": "S2i"
          }
        }
      }
    },
    "GetBot": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots/{botId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bot": {
            "shape": "S1a"
          }
        }
      }
    },
    "GetEventsConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventsConfiguration": {
            "shape": "S2n"
          }
        }
      }
    },
    "GetGlobalSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/settings",
        "responseCode": 200
      },
      "output": {
        "type": "structure",
        "members": {
          "BusinessCalling": {
            "shape": "S2p"
          },
          "VoiceConnector": {
            "shape": "S2q"
          }
        }
      }
    },
    "GetPhoneNumber": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-numbers/{phoneNumberId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "location": "uri",
            "locationName": "phoneNumberId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumber": {
            "shape": "S2t"
          }
        }
      }
    },
    "GetPhoneNumberOrder": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-number-orders/{phoneNumberOrderId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberOrderId"
        ],
        "members": {
          "PhoneNumberOrderId": {
            "location": "uri",
            "locationName": "phoneNumberOrderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberOrder": {
            "shape": "S1e"
          }
        }
      }
    },
    "GetPhoneNumberSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/settings/phone-number",
        "responseCode": 200
      },
      "output": {
        "type": "structure",
        "members": {
          "CallingName": {
            "shape": "St"
          },
          "CallingNameUpdatedTimestamp": {
            "shape": "S15"
          }
        }
      }
    },
    "GetUser": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/users/{userId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S36"
          }
        }
      }
    },
    "GetUserSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/users/{userId}/settings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserSettings": {
            "shape": "S3c"
          }
        }
      }
    },
    "GetVoiceConnector": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S1p"
          }
        }
      }
    },
    "GetVoiceConnectorGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroup": {
            "shape": "S1w"
          }
        }
      }
    },
    "GetVoiceConnectorLoggingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S3k"
          }
        }
      }
    },
    "GetVoiceConnectorOrigination": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Origination": {
            "shape": "S3n"
          }
        }
      }
    },
    "GetVoiceConnectorStreamingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingConfiguration": {
            "shape": "S3w"
          }
        }
      }
    },
    "GetVoiceConnectorTermination": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Termination": {
            "shape": "S40"
          }
        }
      }
    },
    "GetVoiceConnectorTerminationHealth": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/health",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TerminationHealth": {
            "type": "structure",
            "members": {
              "Timestamp": {
                "shape": "S15"
              },
              "Source": {}
            }
          }
        }
      }
    },
    "InviteUsers": {
      "http": {
        "requestUri": "/accounts/{accountId}/users?operation=add",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserEmailList"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserEmailList": {
            "type": "list",
            "member": {
              "shape": "S37"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Invites": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "InviteId": {},
                "Status": {},
                "EmailAddress": {
                  "shape": "S37"
                },
                "EmailStatus": {}
              }
            }
          }
        }
      }
    },
    "ListAccounts": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "location": "querystring",
            "locationName": "name"
          },
          "UserEmail": {
            "shape": "S37",
            "location": "querystring",
            "locationName": "user-email"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Accounts": {
            "type": "list",
            "member": {
              "shape": "S13"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListBots": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bots": {
            "type": "list",
            "member": {
              "shape": "S1a"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPhoneNumberOrders": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-number-orders",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumberOrders": {
            "type": "list",
            "member": {
              "shape": "S1e"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPhoneNumbers": {
      "http": {
        "method": "GET",
        "requestUri": "/phone-numbers"
      },
      "input": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "querystring",
            "locationName": "status"
          },
          "ProductType": {
            "location": "querystring",
            "locationName": "product-type"
          },
          "FilterName": {
            "location": "querystring",
            "locationName": "filter-name"
          },
          "FilterValue": {
            "location": "querystring",
            "locationName": "filter-value"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumbers": {
            "type": "list",
            "member": {
              "shape": "S2t"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListUsers": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/users",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserEmail": {
            "shape": "S37",
            "location": "querystring",
            "locationName": "user-email"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Users": {
            "type": "list",
            "member": {
              "shape": "S36"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListVoiceConnectorGroups": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connector-groups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroups": {
            "type": "list",
            "member": {
              "shape": "S1w"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListVoiceConnectorTerminationCredentials": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Usernames": {
            "shape": "S27"
          }
        }
      }
    },
    "ListVoiceConnectors": {
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectors": {
            "type": "list",
            "member": {
              "shape": "S1p"
            }
          },
          "NextToken": {}
        }
      }
    },
    "LogoutUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=logout",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEventsConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          },
          "OutboundEventsHTTPSEndpoint": {
            "shape": "S18"
          },
          "LambdaFunctionArn": {
            "shape": "S18"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventsConfiguration": {
            "shape": "S2n"
          }
        }
      }
    },
    "PutVoiceConnectorLoggingConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "LoggingConfiguration"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "LoggingConfiguration": {
            "shape": "S3k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoggingConfiguration": {
            "shape": "S3k"
          }
        }
      }
    },
    "PutVoiceConnectorOrigination": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "Origination"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Origination": {
            "shape": "S3n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Origination": {
            "shape": "S3n"
          }
        }
      }
    },
    "PutVoiceConnectorStreamingConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "StreamingConfiguration"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "StreamingConfiguration": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamingConfiguration": {
            "shape": "S3w"
          }
        }
      }
    },
    "PutVoiceConnectorTermination": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "Termination"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Termination": {
            "shape": "S40"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Termination": {
            "shape": "S40"
          }
        }
      }
    },
    "PutVoiceConnectorTerminationCredentials": {
      "http": {
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials?operation=put",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Credentials": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Username": {
                  "shape": "S18"
                },
                "Password": {
                  "shape": "S18"
                }
              }
            }
          }
        }
      }
    },
    "RegenerateSecurityToken": {
      "http": {
        "requestUri": "/accounts/{accountId}/bots/{botId}?operation=regenerate-security-token",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bot": {
            "shape": "S1a"
          }
        }
      }
    },
    "ResetPersonalPIN": {
      "http": {
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=reset-personal-pin",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S36"
          }
        }
      }
    },
    "RestorePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers/{phoneNumberId}?operation=restore",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "location": "uri",
            "locationName": "phoneNumberId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumber": {
            "shape": "S2t"
          }
        }
      }
    },
    "SearchAvailablePhoneNumbers": {
      "http": {
        "method": "GET",
        "requestUri": "/search?type=phone-numbers"
      },
      "input": {
        "type": "structure",
        "members": {
          "AreaCode": {
            "location": "querystring",
            "locationName": "area-code"
          },
          "City": {
            "location": "querystring",
            "locationName": "city"
          },
          "Country": {
            "location": "querystring",
            "locationName": "country"
          },
          "State": {
            "location": "querystring",
            "locationName": "state"
          },
          "TollFreePrefix": {
            "location": "querystring",
            "locationName": "toll-free-prefix"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "E164PhoneNumbers": {
            "shape": "S7"
          }
        }
      }
    },
    "UpdateAccount": {
      "http": {
        "requestUri": "/accounts/{accountId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Account": {
            "shape": "S13"
          }
        }
      }
    },
    "UpdateAccountSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{accountId}/settings",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "AccountSettings"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "AccountSettings": {
            "shape": "S2i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateBot": {
      "http": {
        "requestUri": "/accounts/{accountId}/bots/{botId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "BotId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "BotId": {
            "location": "uri",
            "locationName": "botId"
          },
          "Disabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bot": {
            "shape": "S1a"
          }
        }
      }
    },
    "UpdateGlobalSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/settings",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "BusinessCalling",
          "VoiceConnector"
        ],
        "members": {
          "BusinessCalling": {
            "shape": "S2p"
          },
          "VoiceConnector": {
            "shape": "S2q"
          }
        }
      }
    },
    "UpdatePhoneNumber": {
      "http": {
        "requestUri": "/phone-numbers/{phoneNumberId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PhoneNumberId"
        ],
        "members": {
          "PhoneNumberId": {
            "location": "uri",
            "locationName": "phoneNumberId"
          },
          "ProductType": {},
          "CallingName": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PhoneNumber": {
            "shape": "S2t"
          }
        }
      }
    },
    "UpdatePhoneNumberSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/settings/phone-number",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "CallingName"
        ],
        "members": {
          "CallingName": {
            "shape": "St"
          }
        }
      }
    },
    "UpdateUser": {
      "http": {
        "requestUri": "/accounts/{accountId}/users/{userId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          },
          "LicenseType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S36"
          }
        }
      }
    },
    "UpdateUserSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{accountId}/users/{userId}/settings",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "UserId",
          "UserSettings"
        ],
        "members": {
          "AccountId": {
            "location": "uri",
            "locationName": "accountId"
          },
          "UserId": {
            "location": "uri",
            "locationName": "userId"
          },
          "UserSettings": {
            "shape": "S3c"
          }
        }
      }
    },
    "UpdateVoiceConnector": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "Name",
          "RequireEncryption"
        ],
        "members": {
          "VoiceConnectorId": {
            "location": "uri",
            "locationName": "voiceConnectorId"
          },
          "Name": {},
          "RequireEncryption": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnector": {
            "shape": "S1p"
          }
        }
      }
    },
    "UpdateVoiceConnectorGroup": {
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "VoiceConnectorGroupId",
          "Name",
          "VoiceConnectorItems"
        ],
        "members": {
          "VoiceConnectorGroupId": {
            "location": "uri",
            "locationName": "voiceConnectorGroupId"
          },
          "Name": {},
          "VoiceConnectorItems": {
            "shape": "S1s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceConnectorGroup": {
            "shape": "S1w"
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "string",
      "sensitive": true
    },
    "S7": {
      "type": "list",
      "member": {
        "shape": "S3"
      }
    },
    "Sa": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PhoneNumberId": {},
          "ErrorCode": {},
          "ErrorMessage": {}
        }
      }
    },
    "Sj": {
      "type": "list",
      "member": {}
    },
    "Sl": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "UserId": {},
          "ErrorCode": {},
          "ErrorMessage": {}
        }
      }
    },
    "St": {
      "type": "string",
      "sensitive": true
    },
    "S13": {
      "type": "structure",
      "required": [
        "AwsAccountId",
        "AccountId",
        "Name"
      ],
      "members": {
        "AwsAccountId": {},
        "AccountId": {},
        "Name": {},
        "AccountType": {},
        "CreatedTimestamp": {
          "shape": "S15"
        },
        "DefaultLicense": {},
        "SupportedLicenses": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S15": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S18": {
      "type": "string",
      "sensitive": true
    },
    "S1a": {
      "type": "structure",
      "members": {
        "BotId": {},
        "UserId": {},
        "DisplayName": {
          "shape": "S18"
        },
        "BotType": {},
        "Disabled": {
          "type": "boolean"
        },
        "CreatedTimestamp": {
          "shape": "S15"
        },
        "UpdatedTimestamp": {
          "shape": "S15"
        },
        "BotEmail": {
          "shape": "S18"
        },
        "SecurityToken": {
          "shape": "S18"
        }
      }
    },
    "S1e": {
      "type": "structure",
      "members": {
        "PhoneNumberOrderId": {},
        "ProductType": {},
        "Status": {},
        "OrderedPhoneNumbers": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "E164PhoneNumber": {
                "shape": "S3"
              },
              "Status": {}
            }
          }
        },
        "CreatedTimestamp": {
          "shape": "S15"
        },
        "UpdatedTimestamp": {
          "shape": "S15"
        }
      }
    },
    "S1p": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {},
        "AwsRegion": {},
        "Name": {},
        "OutboundHostName": {},
        "RequireEncryption": {
          "type": "boolean"
        },
        "CreatedTimestamp": {
          "shape": "S15"
        },
        "UpdatedTimestamp": {
          "shape": "S15"
        }
      }
    },
    "S1s": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "VoiceConnectorId",
          "Priority"
        ],
        "members": {
          "VoiceConnectorId": {},
          "Priority": {
            "type": "integer"
          }
        }
      }
    },
    "S1w": {
      "type": "structure",
      "members": {
        "VoiceConnectorGroupId": {},
        "Name": {},
        "VoiceConnectorItems": {
          "shape": "S1s"
        },
        "CreatedTimestamp": {
          "shape": "S15"
        },
        "UpdatedTimestamp": {
          "shape": "S15"
        }
      }
    },
    "S27": {
      "type": "list",
      "member": {
        "shape": "S18"
      }
    },
    "S2i": {
      "type": "structure",
      "members": {
        "DisableRemoteControl": {
          "type": "boolean"
        },
        "EnableDialOut": {
          "type": "boolean"
        }
      }
    },
    "S2n": {
      "type": "structure",
      "members": {
        "BotId": {},
        "OutboundEventsHTTPSEndpoint": {
          "shape": "S18"
        },
        "LambdaFunctionArn": {
          "shape": "S18"
        }
      }
    },
    "S2p": {
      "type": "structure",
      "members": {
        "CdrBucket": {}
      }
    },
    "S2q": {
      "type": "structure",
      "members": {
        "CdrBucket": {}
      }
    },
    "S2t": {
      "type": "structure",
      "members": {
        "PhoneNumberId": {},
        "E164PhoneNumber": {
          "shape": "S3"
        },
        "Type": {},
        "ProductType": {},
        "Status": {},
        "Capabilities": {
          "type": "structure",
          "members": {
            "InboundCall": {
              "type": "boolean"
            },
            "OutboundCall": {
              "type": "boolean"
            },
            "InboundSMS": {
              "type": "boolean"
            },
            "OutboundSMS": {
              "type": "boolean"
            },
            "InboundMMS": {
              "type": "boolean"
            },
            "OutboundMMS": {
              "type": "boolean"
            }
          }
        },
        "Associations": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Value": {},
              "Name": {},
              "AssociatedTimestamp": {
                "shape": "S15"
              }
            }
          }
        },
        "CallingName": {
          "shape": "St"
        },
        "CallingNameStatus": {},
        "CreatedTimestamp": {
          "shape": "S15"
        },
        "UpdatedTimestamp": {
          "shape": "S15"
        },
        "DeletionTimestamp": {
          "shape": "S15"
        }
      }
    },
    "S36": {
      "type": "structure",
      "required": [
        "UserId"
      ],
      "members": {
        "UserId": {},
        "AccountId": {},
        "PrimaryEmail": {
          "shape": "S37"
        },
        "PrimaryProvisionedNumber": {
          "shape": "S18"
        },
        "DisplayName": {
          "shape": "S18"
        },
        "LicenseType": {},
        "UserRegistrationStatus": {},
        "UserInvitationStatus": {},
        "RegisteredOn": {
          "shape": "S15"
        },
        "InvitedOn": {
          "shape": "S15"
        },
        "PersonalPIN": {}
      }
    },
    "S37": {
      "type": "string",
      "sensitive": true
    },
    "S3c": {
      "type": "structure",
      "required": [
        "Telephony"
      ],
      "members": {
        "Telephony": {
          "type": "structure",
          "required": [
            "InboundCalling",
            "OutboundCalling",
            "SMS"
          ],
          "members": {
            "InboundCalling": {
              "type": "boolean"
            },
            "OutboundCalling": {
              "type": "boolean"
            },
            "SMS": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "S3k": {
      "type": "structure",
      "members": {
        "EnableSIPLogs": {
          "type": "boolean"
        }
      }
    },
    "S3n": {
      "type": "structure",
      "members": {
        "Routes": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Host": {},
              "Port": {
                "type": "integer"
              },
              "Protocol": {},
              "Priority": {
                "type": "integer"
              },
              "Weight": {
                "type": "integer"
              }
            }
          }
        },
        "Disabled": {
          "type": "boolean"
        }
      }
    },
    "S3w": {
      "type": "structure",
      "required": [
        "DataRetentionInHours"
      ],
      "members": {
        "DataRetentionInHours": {
          "type": "integer"
        },
        "Disabled": {
          "type": "boolean"
        }
      }
    },
    "S40": {
      "type": "structure",
      "members": {
        "CpsLimit": {
          "type": "integer"
        },
        "DefaultPhoneNumber": {
          "shape": "S3"
        },
        "CallingRegions": {
          "type": "list",
          "member": {}
        },
        "CidrAllowedList": {
          "type": "list",
          "member": {}
        },
        "Disabled": {
          "type": "boolean"
        }
      }
    }
  }
}