{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2022-02-17",
    "endpointPrefix": "cleanrooms",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Clean Rooms Service",
    "serviceId": "CleanRooms",
    "signatureVersion": "v4",
    "signingName": "cleanrooms",
    "uid": "cleanrooms-2022-02-17"
  },
  "operations": {
    "BatchGetSchema": {
      "http": {
        "requestUri": "/collaborations/{collaborationIdentifier}/batch-schema",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "names"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "names": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "schemas",
          "errors"
        ],
        "members": {
          "schemas": {
            "type": "list",
            "member": {
              "shape": "S7"
            }
          },
          "errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "code",
                "message"
              ],
              "members": {
                "name": {},
                "code": {},
                "message": {}
              }
            }
          }
        }
      }
    },
    "CreateCollaboration": {
      "http": {
        "requestUri": "/collaborations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "members",
          "name",
          "description",
          "creatorMemberAbilities",
          "creatorDisplayName",
          "queryLogStatus"
        ],
        "members": {
          "members": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "accountId",
                "memberAbilities",
                "displayName"
              ],
              "members": {
                "accountId": {},
                "memberAbilities": {
                  "shape": "Sr"
                },
                "displayName": {}
              }
            }
          },
          "name": {},
          "description": {},
          "creatorMemberAbilities": {
            "shape": "Sr"
          },
          "creatorDisplayName": {},
          "dataEncryptionMetadata": {
            "shape": "Sw"
          },
          "queryLogStatus": {},
          "tags": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaboration"
        ],
        "members": {
          "collaboration": {
            "shape": "S13"
          }
        }
      }
    },
    "CreateConfiguredTable": {
      "http": {
        "requestUri": "/configuredTables",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "tableReference",
          "allowedColumns",
          "analysisMethod"
        ],
        "members": {
          "name": {},
          "description": {},
          "tableReference": {
            "shape": "S17"
          },
          "allowedColumns": {
            "shape": "S1a"
          },
          "analysisMethod": {},
          "tags": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTable"
        ],
        "members": {
          "configuredTable": {
            "shape": "S1c"
          }
        }
      },
      "idempotent": true
    },
    "CreateConfiguredTableAnalysisRule": {
      "http": {
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier",
          "analysisRuleType",
          "analysisRulePolicy"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "analysisRuleType": {},
          "analysisRulePolicy": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRule"
        ],
        "members": {
          "analysisRule": {
            "shape": "S21"
          }
        }
      },
      "idempotent": true
    },
    "CreateConfiguredTableAssociation": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "membershipIdentifier",
          "configuredTableIdentifier",
          "roleArn"
        ],
        "members": {
          "name": {},
          "description": {},
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "configuredTableIdentifier": {},
          "roleArn": {},
          "tags": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableAssociation"
        ],
        "members": {
          "configuredTableAssociation": {
            "shape": "S26"
          }
        }
      }
    },
    "CreateMembership": {
      "http": {
        "requestUri": "/memberships",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "queryLogStatus"
        ],
        "members": {
          "collaborationIdentifier": {},
          "queryLogStatus": {},
          "tags": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "membership"
        ],
        "members": {
          "membership": {
            "shape": "S2b"
          }
        }
      }
    },
    "DeleteCollaboration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/collaborations/{collaborationIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteConfiguredTable": {
      "http": {
        "method": "DELETE",
        "requestUri": "/configuredTables/{configuredTableIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteConfiguredTableAnalysisRule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier",
          "analysisRuleType"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "analysisRuleType": {
            "location": "uri",
            "locationName": "analysisRuleType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteConfiguredTableAssociation": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredTableAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredTableAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteMember": {
      "http": {
        "method": "DELETE",
        "requestUri": "/collaborations/{collaborationIdentifier}/member/{accountId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "accountId"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "accountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "GetCollaboration": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaboration"
        ],
        "members": {
          "collaboration": {
            "shape": "S13"
          }
        }
      }
    },
    "GetConfiguredTable": {
      "http": {
        "method": "GET",
        "requestUri": "/configuredTables/{configuredTableIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTable"
        ],
        "members": {
          "configuredTable": {
            "shape": "S1c"
          }
        }
      }
    },
    "GetConfiguredTableAnalysisRule": {
      "http": {
        "method": "GET",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier",
          "analysisRuleType"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "analysisRuleType": {
            "location": "uri",
            "locationName": "analysisRuleType"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRule"
        ],
        "members": {
          "analysisRule": {
            "shape": "S21"
          }
        }
      }
    },
    "GetConfiguredTableAssociation": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredTableAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredTableAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableAssociation"
        ],
        "members": {
          "configuredTableAssociation": {
            "shape": "S26"
          }
        }
      }
    },
    "GetMembership": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "membership"
        ],
        "members": {
          "membership": {
            "shape": "S2b"
          }
        }
      }
    },
    "GetProtectedQuery": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "protectedQueryIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "protectedQueryIdentifier": {
            "location": "uri",
            "locationName": "protectedQueryIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "protectedQuery"
        ],
        "members": {
          "protectedQuery": {
            "shape": "S33"
          }
        }
      }
    },
    "GetSchema": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/schemas/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "name"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "schema"
        ],
        "members": {
          "schema": {
            "shape": "S7"
          }
        }
      }
    },
    "GetSchemaAnalysisRule": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/schemas/{name}/analysisRule/{type}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "name",
          "type"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "type": {
            "location": "uri",
            "locationName": "type"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRule"
        ],
        "members": {
          "analysisRule": {
            "type": "structure",
            "required": [
              "collaborationId",
              "type",
              "name",
              "createTime",
              "updateTime",
              "policy"
            ],
            "members": {
              "collaborationId": {},
              "type": {},
              "name": {},
              "createTime": {
                "type": "timestamp"
              },
              "updateTime": {
                "type": "timestamp"
              },
              "policy": {
                "type": "structure",
                "members": {
                  "v1": {
                    "type": "structure",
                    "members": {
                      "list": {
                        "shape": "S1k"
                      },
                      "aggregation": {
                        "shape": "S1o"
                      }
                    },
                    "union": true
                  }
                },
                "union": true
              }
            }
          }
        }
      }
    },
    "ListCollaborations": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "memberStatus": {
            "location": "querystring",
            "locationName": "memberStatus"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationList"
        ],
        "members": {
          "nextToken": {},
          "collaborationList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "name",
                "creatorAccountId",
                "creatorDisplayName",
                "createTime",
                "updateTime",
                "memberStatus"
              ],
              "members": {
                "id": {},
                "arn": {},
                "name": {},
                "creatorAccountId": {},
                "creatorDisplayName": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "memberStatus": {},
                "membershipId": {},
                "membershipArn": {}
              }
            }
          }
        }
      }
    },
    "ListConfiguredTableAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableAssociationSummaries"
        ],
        "members": {
          "configuredTableAssociationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "configuredTableId",
                "membershipId",
                "membershipArn",
                "name",
                "createTime",
                "updateTime",
                "id",
                "arn"
              ],
              "members": {
                "configuredTableId": {},
                "membershipId": {},
                "membershipArn": {},
                "name": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "id": {},
                "arn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListConfiguredTables": {
      "http": {
        "method": "GET",
        "requestUri": "/configuredTables",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableSummaries"
        ],
        "members": {
          "configuredTableSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "name",
                "createTime",
                "updateTime",
                "analysisRuleTypes",
                "analysisMethod"
              ],
              "members": {
                "id": {},
                "arn": {},
                "name": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "analysisRuleTypes": {
                  "shape": "S1e"
                },
                "analysisMethod": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/members",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "memberSummaries"
        ],
        "members": {
          "nextToken": {},
          "memberSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "accountId",
                "status",
                "displayName",
                "abilities",
                "createTime",
                "updateTime"
              ],
              "members": {
                "accountId": {},
                "status": {},
                "displayName": {},
                "abilities": {
                  "shape": "Sr"
                },
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "membershipId": {},
                "membershipArn": {}
              }
            }
          }
        }
      }
    },
    "ListMemberships": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "membershipSummaries"
        ],
        "members": {
          "nextToken": {},
          "membershipSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "collaborationArn",
                "collaborationId",
                "collaborationCreatorAccountId",
                "collaborationCreatorDisplayName",
                "collaborationName",
                "createTime",
                "updateTime",
                "status",
                "memberAbilities"
              ],
              "members": {
                "id": {},
                "arn": {},
                "collaborationArn": {},
                "collaborationId": {},
                "collaborationCreatorAccountId": {},
                "collaborationCreatorDisplayName": {},
                "collaborationName": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "status": {},
                "memberAbilities": {
                  "shape": "Sr"
                }
              }
            }
          }
        }
      }
    },
    "ListProtectedQueries": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "protectedQueries"
        ],
        "members": {
          "nextToken": {},
          "protectedQueries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "membershipId",
                "membershipArn",
                "createTime",
                "status"
              ],
              "members": {
                "id": {},
                "membershipId": {},
                "membershipArn": {},
                "createTime": {
                  "type": "timestamp"
                },
                "status": {}
              }
            }
          }
        }
      }
    },
    "ListSchemas": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/schemas",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "schemaType": {
            "location": "querystring",
            "locationName": "schemaType"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "schemaSummaries"
        ],
        "members": {
          "schemaSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "type",
                "creatorAccountId",
                "createTime",
                "updateTime",
                "collaborationId",
                "collaborationArn",
                "analysisRuleTypes"
              ],
              "members": {
                "name": {},
                "type": {},
                "creatorAccountId": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "collaborationId": {},
                "collaborationArn": {},
                "analysisRuleTypes": {
                  "shape": "Sc"
                },
                "analysisMethod": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "tags"
        ],
        "members": {
          "tags": {
            "shape": "Sz"
          }
        }
      }
    },
    "StartProtectedQuery": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "type",
          "membershipIdentifier",
          "sqlParameters",
          "resultConfiguration"
        ],
        "members": {
          "type": {},
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "sqlParameters": {
            "shape": "S34"
          },
          "resultConfiguration": {
            "shape": "S37"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "protectedQuery"
        ],
        "members": {
          "protectedQuery": {
            "shape": "S33"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCollaboration": {
      "http": {
        "method": "PATCH",
        "requestUri": "/collaborations/{collaborationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "name": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaboration"
        ],
        "members": {
          "collaboration": {
            "shape": "S13"
          }
        }
      }
    },
    "UpdateConfiguredTable": {
      "http": {
        "method": "PATCH",
        "requestUri": "/configuredTables/{configuredTableIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "name": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTable"
        ],
        "members": {
          "configuredTable": {
            "shape": "S1c"
          }
        }
      }
    },
    "UpdateConfiguredTableAnalysisRule": {
      "http": {
        "method": "PATCH",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier",
          "analysisRuleType",
          "analysisRulePolicy"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "analysisRuleType": {
            "location": "uri",
            "locationName": "analysisRuleType"
          },
          "analysisRulePolicy": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRule"
        ],
        "members": {
          "analysisRule": {
            "shape": "S21"
          }
        }
      }
    },
    "UpdateConfiguredTableAssociation": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredTableAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredTableAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "description": {},
          "roleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableAssociation"
        ],
        "members": {
          "configuredTableAssociation": {
            "shape": "S26"
          }
        }
      }
    },
    "UpdateMembership": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "queryLogStatus": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "membership"
        ],
        "members": {
          "membership": {
            "shape": "S2b"
          }
        }
      }
    },
    "UpdateProtectedQuery": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "protectedQueryIdentifier",
          "targetStatus"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "protectedQueryIdentifier": {
            "location": "uri",
            "locationName": "protectedQueryIdentifier"
          },
          "targetStatus": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "protectedQuery"
        ],
        "members": {
          "protectedQuery": {
            "shape": "S33"
          }
        }
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S7": {
      "type": "structure",
      "required": [
        "columns",
        "partitionKeys",
        "analysisRuleTypes",
        "creatorAccountId",
        "name",
        "collaborationId",
        "collaborationArn",
        "description",
        "createTime",
        "updateTime",
        "type"
      ],
      "members": {
        "columns": {
          "shape": "S8"
        },
        "partitionKeys": {
          "shape": "S8"
        },
        "analysisRuleTypes": {
          "shape": "Sc"
        },
        "analysisMethod": {},
        "creatorAccountId": {},
        "name": {},
        "collaborationId": {},
        "collaborationArn": {},
        "description": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "type": {}
      }
    },
    "S8": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "type"
        ],
        "members": {
          "name": {},
          "type": {}
        }
      }
    },
    "Sc": {
      "type": "list",
      "member": {}
    },
    "Sr": {
      "type": "list",
      "member": {}
    },
    "Sw": {
      "type": "structure",
      "required": [
        "allowCleartext",
        "allowDuplicates",
        "allowJoinsOnColumnsWithDifferentNames",
        "preserveNulls"
      ],
      "members": {
        "allowCleartext": {
          "type": "boolean"
        },
        "allowDuplicates": {
          "type": "boolean"
        },
        "allowJoinsOnColumnsWithDifferentNames": {
          "type": "boolean"
        },
        "preserveNulls": {
          "type": "boolean"
        }
      }
    },
    "Sz": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S13": {
      "type": "structure",
      "required": [
        "id",
        "arn",
        "name",
        "creatorAccountId",
        "creatorDisplayName",
        "createTime",
        "updateTime",
        "memberStatus",
        "queryLogStatus"
      ],
      "members": {
        "id": {},
        "arn": {},
        "name": {},
        "description": {},
        "creatorAccountId": {},
        "creatorDisplayName": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "memberStatus": {},
        "membershipId": {},
        "membershipArn": {},
        "dataEncryptionMetadata": {
          "shape": "Sw"
        },
        "queryLogStatus": {}
      }
    },
    "S17": {
      "type": "structure",
      "members": {
        "glue": {
          "type": "structure",
          "required": [
            "tableName",
            "databaseName"
          ],
          "members": {
            "tableName": {},
            "databaseName": {}
          }
        }
      },
      "union": true
    },
    "S1a": {
      "type": "list",
      "member": {}
    },
    "S1c": {
      "type": "structure",
      "required": [
        "id",
        "arn",
        "name",
        "tableReference",
        "createTime",
        "updateTime",
        "analysisRuleTypes",
        "analysisMethod",
        "allowedColumns"
      ],
      "members": {
        "id": {},
        "arn": {},
        "name": {},
        "description": {},
        "tableReference": {
          "shape": "S17"
        },
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "analysisRuleTypes": {
          "shape": "S1e"
        },
        "analysisMethod": {},
        "allowedColumns": {
          "shape": "S1a"
        }
      }
    },
    "S1e": {
      "type": "list",
      "member": {}
    },
    "S1i": {
      "type": "structure",
      "members": {
        "v1": {
          "type": "structure",
          "members": {
            "list": {
              "shape": "S1k"
            },
            "aggregation": {
              "shape": "S1o"
            }
          },
          "union": true
        }
      },
      "union": true
    },
    "S1k": {
      "type": "structure",
      "required": [
        "joinColumns",
        "listColumns"
      ],
      "members": {
        "joinColumns": {
          "type": "list",
          "member": {}
        },
        "listColumns": {
          "shape": "S1n"
        }
      }
    },
    "S1n": {
      "type": "list",
      "member": {}
    },
    "S1o": {
      "type": "structure",
      "required": [
        "aggregateColumns",
        "joinColumns",
        "dimensionColumns",
        "scalarFunctions",
        "outputConstraints"
      ],
      "members": {
        "aggregateColumns": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "columnNames",
              "function"
            ],
            "members": {
              "columnNames": {
                "type": "list",
                "member": {}
              },
              "function": {}
            }
          }
        },
        "joinColumns": {
          "shape": "S1n"
        },
        "joinRequired": {},
        "dimensionColumns": {
          "shape": "S1n"
        },
        "scalarFunctions": {
          "type": "list",
          "member": {}
        },
        "outputConstraints": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "columnName",
              "minimum",
              "type"
            ],
            "members": {
              "columnName": {},
              "minimum": {
                "type": "integer"
              },
              "type": {}
            }
          }
        }
      }
    },
    "S21": {
      "type": "structure",
      "required": [
        "configuredTableId",
        "configuredTableArn",
        "policy",
        "type",
        "createTime",
        "updateTime"
      ],
      "members": {
        "configuredTableId": {},
        "configuredTableArn": {},
        "policy": {
          "shape": "S1i"
        },
        "type": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        }
      }
    },
    "S26": {
      "type": "structure",
      "required": [
        "arn",
        "id",
        "configuredTableId",
        "configuredTableArn",
        "membershipId",
        "membershipArn",
        "roleArn",
        "name",
        "createTime",
        "updateTime"
      ],
      "members": {
        "arn": {},
        "id": {},
        "configuredTableId": {},
        "configuredTableArn": {},
        "membershipId": {},
        "membershipArn": {},
        "roleArn": {},
        "name": {},
        "description": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        }
      }
    },
    "S2b": {
      "type": "structure",
      "required": [
        "id",
        "arn",
        "collaborationArn",
        "collaborationId",
        "collaborationCreatorAccountId",
        "collaborationCreatorDisplayName",
        "collaborationName",
        "createTime",
        "updateTime",
        "status",
        "memberAbilities",
        "queryLogStatus"
      ],
      "members": {
        "id": {},
        "arn": {},
        "collaborationArn": {},
        "collaborationId": {},
        "collaborationCreatorAccountId": {},
        "collaborationCreatorDisplayName": {},
        "collaborationName": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "status": {},
        "memberAbilities": {
          "shape": "Sr"
        },
        "queryLogStatus": {}
      }
    },
    "S33": {
      "type": "structure",
      "required": [
        "id",
        "membershipId",
        "membershipArn",
        "createTime",
        "sqlParameters",
        "status",
        "resultConfiguration"
      ],
      "members": {
        "id": {},
        "membershipId": {},
        "membershipArn": {},
        "createTime": {
          "type": "timestamp"
        },
        "sqlParameters": {
          "shape": "S34"
        },
        "status": {},
        "resultConfiguration": {
          "shape": "S37"
        },
        "statistics": {
          "type": "structure",
          "members": {
            "totalDurationInMillis": {
              "type": "long"
            }
          }
        },
        "result": {
          "type": "structure",
          "required": [
            "output"
          ],
          "members": {
            "output": {
              "type": "structure",
              "members": {
                "s3": {
                  "type": "structure",
                  "required": [
                    "location"
                  ],
                  "members": {
                    "location": {}
                  }
                }
              },
              "union": true
            }
          }
        },
        "error": {
          "type": "structure",
          "required": [
            "message",
            "code"
          ],
          "members": {
            "message": {},
            "code": {}
          }
        }
      }
    },
    "S34": {
      "type": "structure",
      "required": [
        "queryString"
      ],
      "members": {
        "queryString": {}
      },
      "sensitive": true
    },
    "S37": {
      "type": "structure",
      "required": [
        "outputConfiguration"
      ],
      "members": {
        "outputConfiguration": {
          "type": "structure",
          "members": {
            "s3": {
              "type": "structure",
              "required": [
                "resultFormat",
                "bucket"
              ],
              "members": {
                "resultFormat": {},
                "bucket": {},
                "keyPrefix": {}
              }
            }
          },
          "union": true
        }
      }
    }
  }
}