{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2022-02-17",
    "endpointPrefix": "cleanrooms",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Clean Rooms Service",
    "serviceId": "CleanRooms",
    "signatureVersion": "v4",
    "signingName": "cleanrooms",
    "uid": "cleanrooms-2022-02-17"
  },
  "operations": {
    "BatchGetCollaborationAnalysisTemplate": {
      "http": {
        "requestUri": "/collaborations/{collaborationIdentifier}/batch-analysistemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "analysisTemplateArns"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "analysisTemplateArns": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationAnalysisTemplates",
          "errors"
        ],
        "members": {
          "collaborationAnalysisTemplates": {
            "type": "list",
            "member": {
              "shape": "S7"
            }
          },
          "errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "code",
                "message"
              ],
              "members": {
                "arn": {},
                "code": {},
                "message": {}
              }
            }
          }
        }
      }
    },
    "BatchGetSchema": {
      "http": {
        "requestUri": "/collaborations/{collaborationIdentifier}/batch-schema",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "names"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "names": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "schemas",
          "errors"
        ],
        "members": {
          "schemas": {
            "type": "list",
            "member": {
              "shape": "Sx"
            }
          },
          "errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "code",
                "message"
              ],
              "members": {
                "name": {},
                "code": {},
                "message": {}
              }
            }
          }
        }
      }
    },
    "BatchGetSchemaAnalysisRule": {
      "http": {
        "requestUri": "/collaborations/{collaborationIdentifier}/batch-schema-analysis-rule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "schemaAnalysisRuleRequests"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "schemaAnalysisRuleRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "type"
              ],
              "members": {
                "name": {},
                "type": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRules",
          "errors"
        ],
        "members": {
          "analysisRules": {
            "type": "list",
            "member": {
              "shape": "S1m"
            }
          },
          "errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "type",
                "code",
                "message"
              ],
              "members": {
                "name": {},
                "type": {},
                "code": {},
                "message": {}
              }
            }
          }
        }
      }
    },
    "CreateAnalysisTemplate": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "name",
          "format",
          "source"
        ],
        "members": {
          "description": {},
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "name": {},
          "format": {},
          "source": {
            "shape": "Sj"
          },
          "tags": {
            "shape": "S2i"
          },
          "analysisParameters": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisTemplate"
        ],
        "members": {
          "analysisTemplate": {
            "shape": "S2m"
          }
        }
      }
    },
    "CreateCollaboration": {
      "http": {
        "requestUri": "/collaborations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "members",
          "name",
          "description",
          "creatorMemberAbilities",
          "creatorDisplayName",
          "queryLogStatus"
        ],
        "members": {
          "members": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "accountId",
                "memberAbilities",
                "displayName"
              ],
              "members": {
                "accountId": {},
                "memberAbilities": {
                  "shape": "S2r"
                },
                "displayName": {},
                "paymentConfiguration": {
                  "shape": "S2u"
                }
              }
            }
          },
          "name": {},
          "description": {},
          "creatorMemberAbilities": {
            "shape": "S2r"
          },
          "creatorDisplayName": {},
          "dataEncryptionMetadata": {
            "shape": "S2z"
          },
          "queryLogStatus": {},
          "tags": {
            "shape": "S2i"
          },
          "creatorPaymentConfiguration": {
            "shape": "S2u"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaboration"
        ],
        "members": {
          "collaboration": {
            "shape": "S32"
          }
        }
      }
    },
    "CreateConfiguredAudienceModelAssociation": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "configuredAudienceModelArn",
          "configuredAudienceModelAssociationName",
          "manageResourcePolicies"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "configuredAudienceModelArn": {},
          "configuredAudienceModelAssociationName": {},
          "manageResourcePolicies": {
            "type": "boolean"
          },
          "tags": {
            "shape": "S2i"
          },
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociation"
        ],
        "members": {
          "configuredAudienceModelAssociation": {
            "shape": "S38"
          }
        }
      }
    },
    "CreateConfiguredTable": {
      "http": {
        "requestUri": "/configuredTables",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "tableReference",
          "allowedColumns",
          "analysisMethod"
        ],
        "members": {
          "name": {},
          "description": {},
          "tableReference": {
            "shape": "S3c"
          },
          "allowedColumns": {
            "shape": "S3g"
          },
          "analysisMethod": {},
          "tags": {
            "shape": "S2i"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTable"
        ],
        "members": {
          "configuredTable": {
            "shape": "S3i"
          }
        }
      },
      "idempotent": true
    },
    "CreateConfiguredTableAnalysisRule": {
      "http": {
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier",
          "analysisRuleType",
          "analysisRulePolicy"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "analysisRuleType": {},
          "analysisRulePolicy": {
            "shape": "S3o"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRule"
        ],
        "members": {
          "analysisRule": {
            "shape": "S3r"
          }
        }
      },
      "idempotent": true
    },
    "CreateConfiguredTableAssociation": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "membershipIdentifier",
          "configuredTableIdentifier",
          "roleArn"
        ],
        "members": {
          "name": {},
          "description": {},
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "configuredTableIdentifier": {},
          "roleArn": {},
          "tags": {
            "shape": "S2i"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableAssociation"
        ],
        "members": {
          "configuredTableAssociation": {
            "shape": "S3v"
          }
        }
      }
    },
    "CreateMembership": {
      "http": {
        "requestUri": "/memberships",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "queryLogStatus"
        ],
        "members": {
          "collaborationIdentifier": {},
          "queryLogStatus": {},
          "tags": {
            "shape": "S2i"
          },
          "defaultResultConfiguration": {
            "shape": "S3z"
          },
          "paymentConfiguration": {
            "shape": "S45"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "membership"
        ],
        "members": {
          "membership": {
            "shape": "S48"
          }
        }
      }
    },
    "CreatePrivacyBudgetTemplate": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "autoRefresh",
          "privacyBudgetType",
          "parameters"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "autoRefresh": {},
          "privacyBudgetType": {},
          "parameters": {
            "type": "structure",
            "members": {
              "differentialPrivacy": {
                "type": "structure",
                "required": [
                  "epsilon",
                  "usersNoisePerQuery"
                ],
                "members": {
                  "epsilon": {
                    "type": "integer"
                  },
                  "usersNoisePerQuery": {
                    "type": "integer"
                  }
                }
              }
            },
            "union": true
          },
          "tags": {
            "shape": "S2i"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "privacyBudgetTemplate"
        ],
        "members": {
          "privacyBudgetTemplate": {
            "shape": "S4i"
          }
        }
      }
    },
    "DeleteAnalysisTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "analysisTemplateIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "analysisTemplateIdentifier": {
            "location": "uri",
            "locationName": "analysisTemplateIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteCollaboration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/collaborations/{collaborationIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteConfiguredAudienceModelAssociation": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredAudienceModelAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredAudienceModelAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteConfiguredTable": {
      "http": {
        "method": "DELETE",
        "requestUri": "/configuredTables/{configuredTableIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteConfiguredTableAnalysisRule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier",
          "analysisRuleType"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "analysisRuleType": {
            "location": "uri",
            "locationName": "analysisRuleType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteConfiguredTableAssociation": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredTableAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredTableAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteMember": {
      "http": {
        "method": "DELETE",
        "requestUri": "/collaborations/{collaborationIdentifier}/member/{accountId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "accountId"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "accountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeletePrivacyBudgetTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "privacyBudgetTemplateIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "privacyBudgetTemplateIdentifier": {
            "location": "uri",
            "locationName": "privacyBudgetTemplateIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "GetAnalysisTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "analysisTemplateIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "analysisTemplateIdentifier": {
            "location": "uri",
            "locationName": "analysisTemplateIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisTemplate"
        ],
        "members": {
          "analysisTemplate": {
            "shape": "S2m"
          }
        }
      }
    },
    "GetCollaboration": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaboration"
        ],
        "members": {
          "collaboration": {
            "shape": "S32"
          }
        }
      }
    },
    "GetCollaborationAnalysisTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/analysistemplates/{analysisTemplateArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "analysisTemplateArn"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "analysisTemplateArn": {
            "location": "uri",
            "locationName": "analysisTemplateArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationAnalysisTemplate"
        ],
        "members": {
          "collaborationAnalysisTemplate": {
            "shape": "S7"
          }
        }
      }
    },
    "GetCollaborationConfiguredAudienceModelAssociation": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "configuredAudienceModelAssociationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "configuredAudienceModelAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredAudienceModelAssociationIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationConfiguredAudienceModelAssociation"
        ],
        "members": {
          "collaborationConfiguredAudienceModelAssociation": {
            "type": "structure",
            "required": [
              "id",
              "arn",
              "collaborationId",
              "collaborationArn",
              "configuredAudienceModelArn",
              "name",
              "creatorAccountId",
              "createTime",
              "updateTime"
            ],
            "members": {
              "id": {},
              "arn": {},
              "collaborationId": {},
              "collaborationArn": {},
              "configuredAudienceModelArn": {},
              "name": {},
              "description": {},
              "creatorAccountId": {},
              "createTime": {
                "type": "timestamp"
              },
              "updateTime": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "GetCollaborationPrivacyBudgetTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "privacyBudgetTemplateIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "privacyBudgetTemplateIdentifier": {
            "location": "uri",
            "locationName": "privacyBudgetTemplateIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationPrivacyBudgetTemplate"
        ],
        "members": {
          "collaborationPrivacyBudgetTemplate": {
            "type": "structure",
            "required": [
              "id",
              "arn",
              "collaborationId",
              "collaborationArn",
              "creatorAccountId",
              "createTime",
              "updateTime",
              "privacyBudgetType",
              "autoRefresh",
              "parameters"
            ],
            "members": {
              "id": {},
              "arn": {},
              "collaborationId": {},
              "collaborationArn": {},
              "creatorAccountId": {},
              "createTime": {
                "type": "timestamp"
              },
              "updateTime": {
                "type": "timestamp"
              },
              "privacyBudgetType": {},
              "autoRefresh": {},
              "parameters": {
                "shape": "S4l"
              }
            }
          }
        }
      }
    },
    "GetConfiguredAudienceModelAssociation": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredAudienceModelAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredAudienceModelAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociation"
        ],
        "members": {
          "configuredAudienceModelAssociation": {
            "shape": "S38"
          }
        }
      }
    },
    "GetConfiguredTable": {
      "http": {
        "method": "GET",
        "requestUri": "/configuredTables/{configuredTableIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTable"
        ],
        "members": {
          "configuredTable": {
            "shape": "S3i"
          }
        }
      }
    },
    "GetConfiguredTableAnalysisRule": {
      "http": {
        "method": "GET",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier",
          "analysisRuleType"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "analysisRuleType": {
            "location": "uri",
            "locationName": "analysisRuleType"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRule"
        ],
        "members": {
          "analysisRule": {
            "shape": "S3r"
          }
        }
      }
    },
    "GetConfiguredTableAssociation": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredTableAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredTableAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableAssociation"
        ],
        "members": {
          "configuredTableAssociation": {
            "shape": "S3v"
          }
        }
      }
    },
    "GetMembership": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "membership"
        ],
        "members": {
          "membership": {
            "shape": "S48"
          }
        }
      }
    },
    "GetPrivacyBudgetTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "privacyBudgetTemplateIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "privacyBudgetTemplateIdentifier": {
            "location": "uri",
            "locationName": "privacyBudgetTemplateIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "privacyBudgetTemplate"
        ],
        "members": {
          "privacyBudgetTemplate": {
            "shape": "S4i"
          }
        }
      }
    },
    "GetProtectedQuery": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "protectedQueryIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "protectedQueryIdentifier": {
            "location": "uri",
            "locationName": "protectedQueryIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "protectedQuery"
        ],
        "members": {
          "protectedQuery": {
            "shape": "S5x"
          }
        }
      }
    },
    "GetSchema": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/schemas/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "name"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "schema"
        ],
        "members": {
          "schema": {
            "shape": "Sx"
          }
        }
      }
    },
    "GetSchemaAnalysisRule": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/schemas/{name}/analysisRule/{type}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "name",
          "type"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "type": {
            "location": "uri",
            "locationName": "type"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRule"
        ],
        "members": {
          "analysisRule": {
            "shape": "S1m"
          }
        }
      }
    },
    "ListAnalysisTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisTemplateSummaries"
        ],
        "members": {
          "nextToken": {},
          "analysisTemplateSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createTime",
                "id",
                "name",
                "updateTime",
                "membershipArn",
                "membershipId",
                "collaborationArn",
                "collaborationId"
              ],
              "members": {
                "arn": {},
                "createTime": {
                  "type": "timestamp"
                },
                "id": {},
                "name": {},
                "updateTime": {
                  "type": "timestamp"
                },
                "membershipArn": {},
                "membershipId": {},
                "collaborationArn": {},
                "collaborationId": {},
                "description": {}
              }
            }
          }
        }
      }
    },
    "ListCollaborationAnalysisTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/analysistemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationAnalysisTemplateSummaries"
        ],
        "members": {
          "nextToken": {},
          "collaborationAnalysisTemplateSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createTime",
                "id",
                "name",
                "updateTime",
                "collaborationArn",
                "collaborationId",
                "creatorAccountId"
              ],
              "members": {
                "arn": {},
                "createTime": {
                  "type": "timestamp"
                },
                "id": {},
                "name": {},
                "updateTime": {
                  "type": "timestamp"
                },
                "collaborationArn": {},
                "collaborationId": {},
                "creatorAccountId": {},
                "description": {}
              }
            }
          }
        }
      }
    },
    "ListCollaborationConfiguredAudienceModelAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/configuredaudiencemodelassociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationConfiguredAudienceModelAssociationSummaries"
        ],
        "members": {
          "collaborationConfiguredAudienceModelAssociationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createTime",
                "id",
                "name",
                "updateTime",
                "collaborationArn",
                "collaborationId",
                "creatorAccountId"
              ],
              "members": {
                "arn": {},
                "createTime": {
                  "type": "timestamp"
                },
                "id": {},
                "name": {},
                "updateTime": {
                  "type": "timestamp"
                },
                "collaborationArn": {},
                "collaborationId": {},
                "creatorAccountId": {},
                "description": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListCollaborationPrivacyBudgetTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/privacybudgettemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationPrivacyBudgetTemplateSummaries"
        ],
        "members": {
          "nextToken": {},
          "collaborationPrivacyBudgetTemplateSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "collaborationId",
                "collaborationArn",
                "creatorAccountId",
                "privacyBudgetType",
                "createTime",
                "updateTime"
              ],
              "members": {
                "id": {},
                "arn": {},
                "collaborationId": {},
                "collaborationArn": {},
                "creatorAccountId": {},
                "privacyBudgetType": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListCollaborationPrivacyBudgets": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/privacybudgets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "privacyBudgetType"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "privacyBudgetType": {
            "location": "querystring",
            "locationName": "privacyBudgetType"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationPrivacyBudgetSummaries"
        ],
        "members": {
          "collaborationPrivacyBudgetSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "privacyBudgetTemplateId",
                "privacyBudgetTemplateArn",
                "collaborationId",
                "collaborationArn",
                "creatorAccountId",
                "type",
                "createTime",
                "updateTime",
                "budget"
              ],
              "members": {
                "id": {},
                "privacyBudgetTemplateId": {},
                "privacyBudgetTemplateArn": {},
                "collaborationId": {},
                "collaborationArn": {},
                "creatorAccountId": {},
                "type": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "budget": {
                  "shape": "S79"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListCollaborations": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "memberStatus": {
            "location": "querystring",
            "locationName": "memberStatus"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationList"
        ],
        "members": {
          "nextToken": {},
          "collaborationList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "name",
                "creatorAccountId",
                "creatorDisplayName",
                "createTime",
                "updateTime",
                "memberStatus"
              ],
              "members": {
                "id": {},
                "arn": {},
                "name": {},
                "creatorAccountId": {},
                "creatorDisplayName": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "memberStatus": {},
                "membershipId": {},
                "membershipArn": {}
              }
            }
          }
        }
      }
    },
    "ListConfiguredAudienceModelAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociationSummaries"
        ],
        "members": {
          "configuredAudienceModelAssociationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "membershipId",
                "membershipArn",
                "collaborationArn",
                "collaborationId",
                "createTime",
                "updateTime",
                "id",
                "arn",
                "name",
                "configuredAudienceModelArn"
              ],
              "members": {
                "membershipId": {},
                "membershipArn": {},
                "collaborationArn": {},
                "collaborationId": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "id": {},
                "arn": {},
                "name": {},
                "configuredAudienceModelArn": {},
                "description": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListConfiguredTableAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableAssociationSummaries"
        ],
        "members": {
          "configuredTableAssociationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "configuredTableId",
                "membershipId",
                "membershipArn",
                "name",
                "createTime",
                "updateTime",
                "id",
                "arn"
              ],
              "members": {
                "configuredTableId": {},
                "membershipId": {},
                "membershipArn": {},
                "name": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "id": {},
                "arn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListConfiguredTables": {
      "http": {
        "method": "GET",
        "requestUri": "/configuredTables",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableSummaries"
        ],
        "members": {
          "configuredTableSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "name",
                "createTime",
                "updateTime",
                "analysisRuleTypes",
                "analysisMethod"
              ],
              "members": {
                "id": {},
                "arn": {},
                "name": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "analysisRuleTypes": {
                  "shape": "S3k"
                },
                "analysisMethod": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/members",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "memberSummaries"
        ],
        "members": {
          "nextToken": {},
          "memberSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "accountId",
                "status",
                "displayName",
                "abilities",
                "createTime",
                "updateTime",
                "paymentConfiguration"
              ],
              "members": {
                "accountId": {},
                "status": {},
                "displayName": {},
                "abilities": {
                  "shape": "S2r"
                },
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "membershipId": {},
                "membershipArn": {},
                "paymentConfiguration": {
                  "shape": "S2u"
                }
              }
            }
          }
        }
      }
    },
    "ListMemberships": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "membershipSummaries"
        ],
        "members": {
          "nextToken": {},
          "membershipSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "collaborationArn",
                "collaborationId",
                "collaborationCreatorAccountId",
                "collaborationCreatorDisplayName",
                "collaborationName",
                "createTime",
                "updateTime",
                "status",
                "memberAbilities",
                "paymentConfiguration"
              ],
              "members": {
                "id": {},
                "arn": {},
                "collaborationArn": {},
                "collaborationId": {},
                "collaborationCreatorAccountId": {},
                "collaborationCreatorDisplayName": {},
                "collaborationName": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "status": {},
                "memberAbilities": {
                  "shape": "S2r"
                },
                "paymentConfiguration": {
                  "shape": "S45"
                }
              }
            }
          }
        }
      }
    },
    "ListPrivacyBudgetTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "privacyBudgetTemplateSummaries"
        ],
        "members": {
          "nextToken": {},
          "privacyBudgetTemplateSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "membershipId",
                "membershipArn",
                "collaborationId",
                "collaborationArn",
                "privacyBudgetType",
                "createTime",
                "updateTime"
              ],
              "members": {
                "id": {},
                "arn": {},
                "membershipId": {},
                "membershipArn": {},
                "collaborationId": {},
                "collaborationArn": {},
                "privacyBudgetType": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListPrivacyBudgets": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "privacyBudgetType"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "privacyBudgetType": {
            "location": "querystring",
            "locationName": "privacyBudgetType"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "privacyBudgetSummaries"
        ],
        "members": {
          "privacyBudgetSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "privacyBudgetTemplateId",
                "privacyBudgetTemplateArn",
                "membershipId",
                "membershipArn",
                "collaborationId",
                "collaborationArn",
                "type",
                "createTime",
                "updateTime",
                "budget"
              ],
              "members": {
                "id": {},
                "privacyBudgetTemplateId": {},
                "privacyBudgetTemplateArn": {},
                "membershipId": {},
                "membershipArn": {},
                "collaborationId": {},
                "collaborationArn": {},
                "type": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "budget": {
                  "shape": "S79"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListProtectedQueries": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "protectedQueries"
        ],
        "members": {
          "nextToken": {},
          "protectedQueries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "membershipId",
                "membershipArn",
                "createTime",
                "status"
              ],
              "members": {
                "id": {},
                "membershipId": {},
                "membershipArn": {},
                "createTime": {
                  "type": "timestamp"
                },
                "status": {}
              }
            }
          }
        }
      }
    },
    "ListSchemas": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/schemas",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "schemaType": {
            "location": "querystring",
            "locationName": "schemaType"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "schemaSummaries"
        ],
        "members": {
          "schemaSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "type",
                "creatorAccountId",
                "createTime",
                "updateTime",
                "collaborationId",
                "collaborationArn",
                "analysisRuleTypes"
              ],
              "members": {
                "name": {},
                "type": {},
                "creatorAccountId": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "collaborationId": {},
                "collaborationArn": {},
                "analysisRuleTypes": {
                  "shape": "S12"
                },
                "analysisMethod": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "tags"
        ],
        "members": {
          "tags": {
            "shape": "S2i"
          }
        }
      }
    },
    "PreviewPrivacyImpact": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/previewprivacyimpact",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "parameters"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "parameters": {
            "type": "structure",
            "members": {
              "differentialPrivacy": {
                "type": "structure",
                "required": [
                  "epsilon",
                  "usersNoisePerQuery"
                ],
                "members": {
                  "epsilon": {
                    "type": "integer"
                  },
                  "usersNoisePerQuery": {
                    "type": "integer"
                  }
                }
              }
            },
            "union": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "privacyImpact"
        ],
        "members": {
          "privacyImpact": {
            "type": "structure",
            "members": {
              "differentialPrivacy": {
                "type": "structure",
                "required": [
                  "aggregations"
                ],
                "members": {
                  "aggregations": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "required": [
                        "type",
                        "maxCount"
                      ],
                      "members": {
                        "type": {},
                        "maxCount": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            },
            "union": true
          }
        }
      }
    },
    "StartProtectedQuery": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "type",
          "membershipIdentifier",
          "sqlParameters"
        ],
        "members": {
          "type": {},
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "sqlParameters": {
            "shape": "S5y"
          },
          "resultConfiguration": {
            "shape": "S62"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "protectedQuery"
        ],
        "members": {
          "protectedQuery": {
            "shape": "S5x"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "S2i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateAnalysisTemplate": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "analysisTemplateIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "analysisTemplateIdentifier": {
            "location": "uri",
            "locationName": "analysisTemplateIdentifier"
          },
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisTemplate"
        ],
        "members": {
          "analysisTemplate": {
            "shape": "S2m"
          }
        }
      }
    },
    "UpdateCollaboration": {
      "http": {
        "method": "PATCH",
        "requestUri": "/collaborations/{collaborationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "name": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaboration"
        ],
        "members": {
          "collaboration": {
            "shape": "S32"
          }
        }
      }
    },
    "UpdateConfiguredAudienceModelAssociation": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredAudienceModelAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredAudienceModelAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "description": {},
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociation"
        ],
        "members": {
          "configuredAudienceModelAssociation": {
            "shape": "S38"
          }
        }
      }
    },
    "UpdateConfiguredTable": {
      "http": {
        "method": "PATCH",
        "requestUri": "/configuredTables/{configuredTableIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "name": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTable"
        ],
        "members": {
          "configuredTable": {
            "shape": "S3i"
          }
        }
      }
    },
    "UpdateConfiguredTableAnalysisRule": {
      "http": {
        "method": "PATCH",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier",
          "analysisRuleType",
          "analysisRulePolicy"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "analysisRuleType": {
            "location": "uri",
            "locationName": "analysisRuleType"
          },
          "analysisRulePolicy": {
            "shape": "S3o"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRule"
        ],
        "members": {
          "analysisRule": {
            "shape": "S3r"
          }
        }
      }
    },
    "UpdateConfiguredTableAssociation": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredTableAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredTableAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "description": {},
          "roleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableAssociation"
        ],
        "members": {
          "configuredTableAssociation": {
            "shape": "S3v"
          }
        }
      }
    },
    "UpdateMembership": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "queryLogStatus": {},
          "defaultResultConfiguration": {
            "shape": "S3z"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "membership"
        ],
        "members": {
          "membership": {
            "shape": "S48"
          }
        }
      }
    },
    "UpdatePrivacyBudgetTemplate": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "privacyBudgetTemplateIdentifier",
          "privacyBudgetType"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "privacyBudgetTemplateIdentifier": {
            "location": "uri",
            "locationName": "privacyBudgetTemplateIdentifier"
          },
          "privacyBudgetType": {},
          "parameters": {
            "type": "structure",
            "members": {
              "differentialPrivacy": {
                "type": "structure",
                "members": {
                  "epsilon": {
                    "type": "integer"
                  },
                  "usersNoisePerQuery": {
                    "type": "integer"
                  }
                }
              }
            },
            "union": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "privacyBudgetTemplate"
        ],
        "members": {
          "privacyBudgetTemplate": {
            "shape": "S4i"
          }
        }
      }
    },
    "UpdateProtectedQuery": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "protectedQueryIdentifier",
          "targetStatus"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "protectedQueryIdentifier": {
            "location": "uri",
            "locationName": "protectedQueryIdentifier"
          },
          "targetStatus": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "protectedQuery"
        ],
        "members": {
          "protectedQuery": {
            "shape": "S5x"
          }
        }
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S7": {
      "type": "structure",
      "required": [
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "creatorAccountId",
        "name",
        "createTime",
        "updateTime",
        "schema",
        "format",
        "source"
      ],
      "members": {
        "id": {},
        "arn": {},
        "collaborationId": {},
        "collaborationArn": {},
        "description": {},
        "creatorAccountId": {},
        "name": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "schema": {
          "shape": "Sf"
        },
        "format": {},
        "source": {
          "shape": "Sj"
        },
        "analysisParameters": {
          "shape": "Sl"
        }
      }
    },
    "Sf": {
      "type": "structure",
      "members": {
        "referencedTables": {
          "type": "list",
          "member": {}
        }
      }
    },
    "Sj": {
      "type": "structure",
      "members": {
        "text": {}
      },
      "sensitive": true,
      "union": true
    },
    "Sl": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "type"
        ],
        "members": {
          "name": {},
          "type": {},
          "defaultValue": {}
        },
        "sensitive": true
      }
    },
    "Sx": {
      "type": "structure",
      "required": [
        "columns",
        "partitionKeys",
        "analysisRuleTypes",
        "creatorAccountId",
        "name",
        "collaborationId",
        "collaborationArn",
        "description",
        "createTime",
        "updateTime",
        "type",
        "schemaStatusDetails"
      ],
      "members": {
        "columns": {
          "shape": "Sy"
        },
        "partitionKeys": {
          "shape": "Sy"
        },
        "analysisRuleTypes": {
          "shape": "S12"
        },
        "analysisMethod": {},
        "creatorAccountId": {},
        "name": {},
        "collaborationId": {},
        "collaborationArn": {},
        "description": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "type": {},
        "schemaStatusDetails": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "status"
            ],
            "members": {
              "status": {},
              "reasons": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "code",
                    "message"
                  ],
                  "members": {
                    "code": {},
                    "message": {}
                  }
                }
              },
              "analysisRuleType": {},
              "configurations": {
                "type": "list",
                "member": {}
              }
            }
          }
        }
      }
    },
    "Sy": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "type"
        ],
        "members": {
          "name": {},
          "type": {}
        }
      }
    },
    "S12": {
      "type": "list",
      "member": {}
    },
    "S1m": {
      "type": "structure",
      "required": [
        "collaborationId",
        "type",
        "name",
        "createTime",
        "updateTime",
        "policy"
      ],
      "members": {
        "collaborationId": {},
        "type": {},
        "name": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "policy": {
          "type": "structure",
          "members": {
            "v1": {
              "type": "structure",
              "members": {
                "list": {
                  "shape": "S1p"
                },
                "aggregation": {
                  "shape": "S1v"
                },
                "custom": {
                  "shape": "S27"
                }
              },
              "union": true
            }
          },
          "union": true
        }
      }
    },
    "S1p": {
      "type": "structure",
      "required": [
        "joinColumns",
        "listColumns"
      ],
      "members": {
        "joinColumns": {
          "type": "list",
          "member": {}
        },
        "allowedJoinOperators": {
          "shape": "S1s"
        },
        "listColumns": {
          "shape": "S1u"
        }
      }
    },
    "S1s": {
      "type": "list",
      "member": {}
    },
    "S1u": {
      "type": "list",
      "member": {}
    },
    "S1v": {
      "type": "structure",
      "required": [
        "aggregateColumns",
        "joinColumns",
        "dimensionColumns",
        "scalarFunctions",
        "outputConstraints"
      ],
      "members": {
        "aggregateColumns": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "columnNames",
              "function"
            ],
            "members": {
              "columnNames": {
                "type": "list",
                "member": {}
              },
              "function": {}
            }
          }
        },
        "joinColumns": {
          "shape": "S1u"
        },
        "joinRequired": {},
        "allowedJoinOperators": {
          "shape": "S1s"
        },
        "dimensionColumns": {
          "shape": "S1u"
        },
        "scalarFunctions": {
          "type": "list",
          "member": {}
        },
        "outputConstraints": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "columnName",
              "minimum",
              "type"
            ],
            "members": {
              "columnName": {},
              "minimum": {
                "type": "integer"
              },
              "type": {}
            }
          }
        }
      }
    },
    "S27": {
      "type": "structure",
      "required": [
        "allowedAnalyses"
      ],
      "members": {
        "allowedAnalyses": {
          "type": "list",
          "member": {}
        },
        "allowedAnalysisProviders": {
          "type": "list",
          "member": {}
        },
        "differentialPrivacy": {
          "type": "structure",
          "required": [
            "columns"
          ],
          "members": {
            "columns": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "name"
                ],
                "members": {
                  "name": {}
                }
              }
            }
          }
        }
      }
    },
    "S2i": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S2m": {
      "type": "structure",
      "required": [
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "membershipId",
        "membershipArn",
        "name",
        "createTime",
        "updateTime",
        "schema",
        "format",
        "source"
      ],
      "members": {
        "id": {},
        "arn": {},
        "collaborationId": {},
        "collaborationArn": {},
        "membershipId": {},
        "membershipArn": {},
        "description": {},
        "name": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "schema": {
          "shape": "Sf"
        },
        "format": {},
        "source": {
          "shape": "Sj"
        },
        "analysisParameters": {
          "shape": "Sl"
        }
      }
    },
    "S2r": {
      "type": "list",
      "member": {}
    },
    "S2u": {
      "type": "structure",
      "required": [
        "queryCompute"
      ],
      "members": {
        "queryCompute": {
          "type": "structure",
          "required": [
            "isResponsible"
          ],
          "members": {
            "isResponsible": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "S2z": {
      "type": "structure",
      "required": [
        "allowCleartext",
        "allowDuplicates",
        "allowJoinsOnColumnsWithDifferentNames",
        "preserveNulls"
      ],
      "members": {
        "allowCleartext": {
          "type": "boolean"
        },
        "allowDuplicates": {
          "type": "boolean"
        },
        "allowJoinsOnColumnsWithDifferentNames": {
          "type": "boolean"
        },
        "preserveNulls": {
          "type": "boolean"
        }
      }
    },
    "S32": {
      "type": "structure",
      "required": [
        "id",
        "arn",
        "name",
        "creatorAccountId",
        "creatorDisplayName",
        "createTime",
        "updateTime",
        "memberStatus",
        "queryLogStatus"
      ],
      "members": {
        "id": {},
        "arn": {},
        "name": {},
        "description": {},
        "creatorAccountId": {},
        "creatorDisplayName": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "memberStatus": {},
        "membershipId": {},
        "membershipArn": {},
        "dataEncryptionMetadata": {
          "shape": "S2z"
        },
        "queryLogStatus": {}
      }
    },
    "S38": {
      "type": "structure",
      "required": [
        "id",
        "arn",
        "configuredAudienceModelArn",
        "membershipId",
        "membershipArn",
        "collaborationId",
        "collaborationArn",
        "name",
        "manageResourcePolicies",
        "createTime",
        "updateTime"
      ],
      "members": {
        "id": {},
        "arn": {},
        "configuredAudienceModelArn": {},
        "membershipId": {},
        "membershipArn": {},
        "collaborationId": {},
        "collaborationArn": {},
        "name": {},
        "manageResourcePolicies": {
          "type": "boolean"
        },
        "description": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        }
      }
    },
    "S3c": {
      "type": "structure",
      "members": {
        "glue": {
          "type": "structure",
          "required": [
            "tableName",
            "databaseName"
          ],
          "members": {
            "tableName": {},
            "databaseName": {}
          }
        }
      },
      "union": true
    },
    "S3g": {
      "type": "list",
      "member": {}
    },
    "S3i": {
      "type": "structure",
      "required": [
        "id",
        "arn",
        "name",
        "tableReference",
        "createTime",
        "updateTime",
        "analysisRuleTypes",
        "analysisMethod",
        "allowedColumns"
      ],
      "members": {
        "id": {},
        "arn": {},
        "name": {},
        "description": {},
        "tableReference": {
          "shape": "S3c"
        },
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "analysisRuleTypes": {
          "shape": "S3k"
        },
        "analysisMethod": {},
        "allowedColumns": {
          "shape": "S3g"
        }
      }
    },
    "S3k": {
      "type": "list",
      "member": {}
    },
    "S3o": {
      "type": "structure",
      "members": {
        "v1": {
          "type": "structure",
          "members": {
            "list": {
              "shape": "S1p"
            },
            "aggregation": {
              "shape": "S1v"
            },
            "custom": {
              "shape": "S27"
            }
          },
          "union": true
        }
      },
      "union": true
    },
    "S3r": {
      "type": "structure",
      "required": [
        "configuredTableId",
        "configuredTableArn",
        "policy",
        "type",
        "createTime",
        "updateTime"
      ],
      "members": {
        "configuredTableId": {},
        "configuredTableArn": {},
        "policy": {
          "shape": "S3o"
        },
        "type": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        }
      }
    },
    "S3v": {
      "type": "structure",
      "required": [
        "arn",
        "id",
        "configuredTableId",
        "configuredTableArn",
        "membershipId",
        "membershipArn",
        "roleArn",
        "name",
        "createTime",
        "updateTime"
      ],
      "members": {
        "arn": {},
        "id": {},
        "configuredTableId": {},
        "configuredTableArn": {},
        "membershipId": {},
        "membershipArn": {},
        "roleArn": {},
        "name": {},
        "description": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        }
      }
    },
    "S3z": {
      "type": "structure",
      "required": [
        "outputConfiguration"
      ],
      "members": {
        "outputConfiguration": {
          "type": "structure",
          "members": {
            "s3": {
              "shape": "S41"
            }
          },
          "union": true
        },
        "roleArn": {}
      }
    },
    "S41": {
      "type": "structure",
      "required": [
        "resultFormat",
        "bucket"
      ],
      "members": {
        "resultFormat": {},
        "bucket": {},
        "keyPrefix": {}
      }
    },
    "S45": {
      "type": "structure",
      "required": [
        "queryCompute"
      ],
      "members": {
        "queryCompute": {
          "type": "structure",
          "required": [
            "isResponsible"
          ],
          "members": {
            "isResponsible": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "S48": {
      "type": "structure",
      "required": [
        "id",
        "arn",
        "collaborationArn",
        "collaborationId",
        "collaborationCreatorAccountId",
        "collaborationCreatorDisplayName",
        "collaborationName",
        "createTime",
        "updateTime",
        "status",
        "memberAbilities",
        "queryLogStatus",
        "paymentConfiguration"
      ],
      "members": {
        "id": {},
        "arn": {},
        "collaborationArn": {},
        "collaborationId": {},
        "collaborationCreatorAccountId": {},
        "collaborationCreatorDisplayName": {},
        "collaborationName": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "status": {},
        "memberAbilities": {
          "shape": "S2r"
        },
        "queryLogStatus": {},
        "defaultResultConfiguration": {
          "shape": "S3z"
        },
        "paymentConfiguration": {
          "shape": "S45"
        }
      }
    },
    "S4i": {
      "type": "structure",
      "required": [
        "id",
        "arn",
        "membershipId",
        "membershipArn",
        "collaborationId",
        "collaborationArn",
        "createTime",
        "updateTime",
        "privacyBudgetType",
        "autoRefresh",
        "parameters"
      ],
      "members": {
        "id": {},
        "arn": {},
        "membershipId": {},
        "membershipArn": {},
        "collaborationId": {},
        "collaborationArn": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "privacyBudgetType": {},
        "autoRefresh": {},
        "parameters": {
          "shape": "S4l"
        }
      }
    },
    "S4l": {
      "type": "structure",
      "members": {
        "differentialPrivacy": {
          "type": "structure",
          "required": [
            "epsilon",
            "usersNoisePerQuery"
          ],
          "members": {
            "epsilon": {
              "type": "integer"
            },
            "usersNoisePerQuery": {
              "type": "integer"
            }
          }
        }
      },
      "union": true
    },
    "S5x": {
      "type": "structure",
      "required": [
        "id",
        "membershipId",
        "membershipArn",
        "createTime",
        "status"
      ],
      "members": {
        "id": {},
        "membershipId": {},
        "membershipArn": {},
        "createTime": {
          "type": "timestamp"
        },
        "sqlParameters": {
          "shape": "S5y"
        },
        "status": {},
        "resultConfiguration": {
          "shape": "S62"
        },
        "statistics": {
          "type": "structure",
          "members": {
            "totalDurationInMillis": {
              "type": "long"
            }
          }
        },
        "result": {
          "type": "structure",
          "required": [
            "output"
          ],
          "members": {
            "output": {
              "type": "structure",
              "members": {
                "s3": {
                  "type": "structure",
                  "required": [
                    "location"
                  ],
                  "members": {
                    "location": {}
                  }
                },
                "memberList": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "accountId"
                    ],
                    "members": {
                      "accountId": {}
                    }
                  }
                }
              },
              "union": true
            }
          }
        },
        "error": {
          "type": "structure",
          "required": [
            "message",
            "code"
          ],
          "members": {
            "message": {},
            "code": {}
          }
        },
        "differentialPrivacy": {
          "type": "structure",
          "required": [
            "sensitivityParameters"
          ],
          "members": {
            "sensitivityParameters": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "aggregationType",
                  "aggregationExpression",
                  "userContributionLimit"
                ],
                "members": {
                  "aggregationType": {},
                  "aggregationExpression": {},
                  "userContributionLimit": {
                    "type": "integer"
                  },
                  "minColumnValue": {
                    "type": "float"
                  },
                  "maxColumnValue": {
                    "type": "float"
                  }
                }
              }
            }
          }
        }
      }
    },
    "S5y": {
      "type": "structure",
      "members": {
        "queryString": {},
        "analysisTemplateArn": {},
        "parameters": {
          "type": "map",
          "key": {},
          "value": {}
        }
      },
      "sensitive": true
    },
    "S62": {
      "type": "structure",
      "required": [
        "outputConfiguration"
      ],
      "members": {
        "outputConfiguration": {
          "type": "structure",
          "members": {
            "s3": {
              "shape": "S41"
            }
          },
          "union": true
        }
      }
    },
    "S79": {
      "type": "structure",
      "members": {
        "differentialPrivacy": {
          "type": "structure",
          "required": [
            "aggregations",
            "epsilon"
          ],
          "members": {
            "aggregations": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "type",
                  "maxCount",
                  "remainingCount"
                ],
                "members": {
                  "type": {},
                  "maxCount": {
                    "type": "integer"
                  },
                  "remainingCount": {
                    "type": "integer"
                  }
                }
              }
            },
            "epsilon": {
              "type": "integer"
            }
          }
        }
      },
      "union": true
    }
  }
}