{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2022-02-17",
    "auth": [
      "aws.auth#sigv4"
    ],
    "endpointPrefix": "cleanrooms",
    "protocol": "rest-json",
    "protocols": [
      "rest-json"
    ],
    "serviceFullName": "AWS Clean Rooms Service",
    "serviceId": "CleanRooms",
    "signatureVersion": "v4",
    "signingName": "cleanrooms",
    "uid": "cleanrooms-2022-02-17"
  },
  "operations": {
    "BatchGetCollaborationAnalysisTemplate": {
      "http": {
        "requestUri": "/collaborations/{collaborationIdentifier}/batch-analysistemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "analysisTemplateArns"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "analysisTemplateArns": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationAnalysisTemplates",
          "errors"
        ],
        "members": {
          "collaborationAnalysisTemplates": {
            "type": "list",
            "member": {
              "shape": "S7"
            }
          },
          "errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "code",
                "message"
              ],
              "members": {
                "arn": {},
                "code": {},
                "message": {}
              }
            }
          }
        }
      }
    },
    "BatchGetSchema": {
      "http": {
        "requestUri": "/collaborations/{collaborationIdentifier}/batch-schema",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "names"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "names": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "schemas",
          "errors"
        ],
        "members": {
          "schemas": {
            "type": "list",
            "member": {
              "shape": "S13"
            }
          },
          "errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "code",
                "message"
              ],
              "members": {
                "name": {},
                "code": {},
                "message": {}
              }
            }
          }
        }
      }
    },
    "BatchGetSchemaAnalysisRule": {
      "http": {
        "requestUri": "/collaborations/{collaborationIdentifier}/batch-schema-analysis-rule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "schemaAnalysisRuleRequests"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "schemaAnalysisRuleRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "type"
              ],
              "members": {
                "name": {},
                "type": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRules",
          "errors"
        ],
        "members": {
          "analysisRules": {
            "type": "list",
            "member": {
              "shape": "S1x"
            }
          },
          "errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "type",
                "code",
                "message"
              ],
              "members": {
                "name": {},
                "type": {},
                "code": {},
                "message": {}
              }
            }
          }
        }
      }
    },
    "CreateAnalysisTemplate": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "name",
          "format",
          "source"
        ],
        "members": {
          "description": {},
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "name": {},
          "format": {},
          "source": {
            "shape": "Sj"
          },
          "tags": {
            "shape": "S2y"
          },
          "analysisParameters": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisTemplate"
        ],
        "members": {
          "analysisTemplate": {
            "shape": "S32"
          }
        }
      }
    },
    "CreateCollaboration": {
      "http": {
        "requestUri": "/collaborations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "members",
          "name",
          "description",
          "creatorMemberAbilities",
          "creatorDisplayName",
          "queryLogStatus"
        ],
        "members": {
          "members": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "accountId",
                "memberAbilities",
                "displayName"
              ],
              "members": {
                "accountId": {},
                "memberAbilities": {
                  "shape": "S37"
                },
                "displayName": {},
                "paymentConfiguration": {
                  "shape": "S3a"
                }
              }
            }
          },
          "name": {},
          "description": {},
          "creatorMemberAbilities": {
            "shape": "S37"
          },
          "creatorDisplayName": {},
          "dataEncryptionMetadata": {
            "shape": "S3f"
          },
          "queryLogStatus": {},
          "tags": {
            "shape": "S2y"
          },
          "creatorPaymentConfiguration": {
            "shape": "S3a"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaboration"
        ],
        "members": {
          "collaboration": {
            "shape": "S3i"
          }
        }
      }
    },
    "CreateConfiguredAudienceModelAssociation": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "configuredAudienceModelArn",
          "configuredAudienceModelAssociationName",
          "manageResourcePolicies"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "configuredAudienceModelArn": {},
          "configuredAudienceModelAssociationName": {},
          "manageResourcePolicies": {
            "type": "boolean"
          },
          "tags": {
            "shape": "S2y"
          },
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociation"
        ],
        "members": {
          "configuredAudienceModelAssociation": {
            "shape": "S3o"
          }
        }
      }
    },
    "CreateConfiguredTable": {
      "http": {
        "requestUri": "/configuredTables",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "tableReference",
          "allowedColumns",
          "analysisMethod"
        ],
        "members": {
          "name": {},
          "description": {},
          "tableReference": {
            "shape": "S3s"
          },
          "allowedColumns": {
            "shape": "S3w"
          },
          "analysisMethod": {},
          "tags": {
            "shape": "S2y"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTable"
        ],
        "members": {
          "configuredTable": {
            "shape": "S3y"
          }
        }
      },
      "idempotent": true
    },
    "CreateConfiguredTableAnalysisRule": {
      "http": {
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier",
          "analysisRuleType",
          "analysisRulePolicy"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "analysisRuleType": {},
          "analysisRulePolicy": {
            "shape": "S44"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRule"
        ],
        "members": {
          "analysisRule": {
            "shape": "S47"
          }
        }
      },
      "idempotent": true
    },
    "CreateConfiguredTableAssociation": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "membershipIdentifier",
          "configuredTableIdentifier",
          "roleArn"
        ],
        "members": {
          "name": {},
          "description": {},
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "configuredTableIdentifier": {},
          "roleArn": {},
          "tags": {
            "shape": "S2y"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableAssociation"
        ],
        "members": {
          "configuredTableAssociation": {
            "shape": "S4b"
          }
        }
      }
    },
    "CreateIdMappingTable": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/idmappingtables",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "name",
          "inputReferenceConfig"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "name": {},
          "description": {},
          "inputReferenceConfig": {
            "shape": "S4e"
          },
          "tags": {
            "shape": "S2y"
          },
          "kmsKeyArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "idMappingTable"
        ],
        "members": {
          "idMappingTable": {
            "shape": "S4i"
          }
        }
      }
    },
    "CreateIdNamespaceAssociation": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/idnamespaceassociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "inputReferenceConfig",
          "name"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "inputReferenceConfig": {
            "shape": "S4m"
          },
          "tags": {
            "shape": "S2y"
          },
          "name": {},
          "description": {},
          "idMappingConfig": {
            "shape": "S4p"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "idNamespaceAssociation"
        ],
        "members": {
          "idNamespaceAssociation": {
            "shape": "S4r"
          }
        }
      }
    },
    "CreateMembership": {
      "http": {
        "requestUri": "/memberships",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "queryLogStatus"
        ],
        "members": {
          "collaborationIdentifier": {},
          "queryLogStatus": {},
          "tags": {
            "shape": "S2y"
          },
          "defaultResultConfiguration": {
            "shape": "S4z"
          },
          "paymentConfiguration": {
            "shape": "S55"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "membership"
        ],
        "members": {
          "membership": {
            "shape": "S58"
          }
        }
      }
    },
    "CreatePrivacyBudgetTemplate": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "autoRefresh",
          "privacyBudgetType",
          "parameters"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "autoRefresh": {},
          "privacyBudgetType": {},
          "parameters": {
            "type": "structure",
            "members": {
              "differentialPrivacy": {
                "type": "structure",
                "required": [
                  "epsilon",
                  "usersNoisePerQuery"
                ],
                "members": {
                  "epsilon": {
                    "type": "integer"
                  },
                  "usersNoisePerQuery": {
                    "type": "integer"
                  }
                }
              }
            },
            "union": true
          },
          "tags": {
            "shape": "S2y"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "privacyBudgetTemplate"
        ],
        "members": {
          "privacyBudgetTemplate": {
            "shape": "S5i"
          }
        }
      }
    },
    "DeleteAnalysisTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "analysisTemplateIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "analysisTemplateIdentifier": {
            "location": "uri",
            "locationName": "analysisTemplateIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteCollaboration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/collaborations/{collaborationIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteConfiguredAudienceModelAssociation": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredAudienceModelAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredAudienceModelAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteConfiguredTable": {
      "http": {
        "method": "DELETE",
        "requestUri": "/configuredTables/{configuredTableIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteConfiguredTableAnalysisRule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier",
          "analysisRuleType"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "analysisRuleType": {
            "location": "uri",
            "locationName": "analysisRuleType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteConfiguredTableAssociation": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredTableAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredTableAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteIdMappingTable": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/idmappingtables/{idMappingTableIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "idMappingTableIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "idMappingTableIdentifier": {
            "location": "uri",
            "locationName": "idMappingTableIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteIdNamespaceAssociation": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/idnamespaceassociations/{idNamespaceAssociationIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "idNamespaceAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "idNamespaceAssociationIdentifier": {
            "location": "uri",
            "locationName": "idNamespaceAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteMember": {
      "http": {
        "method": "DELETE",
        "requestUri": "/collaborations/{collaborationIdentifier}/member/{accountId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "accountId"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "accountId": {
            "location": "uri",
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeletePrivacyBudgetTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "privacyBudgetTemplateIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "privacyBudgetTemplateIdentifier": {
            "location": "uri",
            "locationName": "privacyBudgetTemplateIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "GetAnalysisTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "analysisTemplateIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "analysisTemplateIdentifier": {
            "location": "uri",
            "locationName": "analysisTemplateIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisTemplate"
        ],
        "members": {
          "analysisTemplate": {
            "shape": "S32"
          }
        }
      }
    },
    "GetCollaboration": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaboration"
        ],
        "members": {
          "collaboration": {
            "shape": "S3i"
          }
        }
      }
    },
    "GetCollaborationAnalysisTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/analysistemplates/{analysisTemplateArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "analysisTemplateArn"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "analysisTemplateArn": {
            "location": "uri",
            "locationName": "analysisTemplateArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationAnalysisTemplate"
        ],
        "members": {
          "collaborationAnalysisTemplate": {
            "shape": "S7"
          }
        }
      }
    },
    "GetCollaborationConfiguredAudienceModelAssociation": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "configuredAudienceModelAssociationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "configuredAudienceModelAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredAudienceModelAssociationIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationConfiguredAudienceModelAssociation"
        ],
        "members": {
          "collaborationConfiguredAudienceModelAssociation": {
            "type": "structure",
            "required": [
              "id",
              "arn",
              "collaborationId",
              "collaborationArn",
              "configuredAudienceModelArn",
              "name",
              "creatorAccountId",
              "createTime",
              "updateTime"
            ],
            "members": {
              "id": {},
              "arn": {},
              "collaborationId": {},
              "collaborationArn": {},
              "configuredAudienceModelArn": {},
              "name": {},
              "description": {},
              "creatorAccountId": {},
              "createTime": {
                "type": "timestamp"
              },
              "updateTime": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "GetCollaborationIdNamespaceAssociation": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/idnamespaceassociations/{idNamespaceAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "idNamespaceAssociationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "idNamespaceAssociationIdentifier": {
            "location": "uri",
            "locationName": "idNamespaceAssociationIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationIdNamespaceAssociation"
        ],
        "members": {
          "collaborationIdNamespaceAssociation": {
            "type": "structure",
            "required": [
              "id",
              "arn",
              "collaborationId",
              "collaborationArn",
              "name",
              "creatorAccountId",
              "createTime",
              "updateTime",
              "inputReferenceConfig",
              "inputReferenceProperties"
            ],
            "members": {
              "id": {},
              "arn": {},
              "collaborationId": {},
              "collaborationArn": {},
              "name": {},
              "description": {},
              "creatorAccountId": {},
              "createTime": {
                "type": "timestamp"
              },
              "updateTime": {
                "type": "timestamp"
              },
              "inputReferenceConfig": {
                "shape": "S4m"
              },
              "inputReferenceProperties": {
                "shape": "S4u"
              },
              "idMappingConfig": {
                "shape": "S4p"
              }
            }
          }
        }
      }
    },
    "GetCollaborationPrivacyBudgetTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "privacyBudgetTemplateIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "privacyBudgetTemplateIdentifier": {
            "location": "uri",
            "locationName": "privacyBudgetTemplateIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationPrivacyBudgetTemplate"
        ],
        "members": {
          "collaborationPrivacyBudgetTemplate": {
            "type": "structure",
            "required": [
              "id",
              "arn",
              "collaborationId",
              "collaborationArn",
              "creatorAccountId",
              "createTime",
              "updateTime",
              "privacyBudgetType",
              "autoRefresh",
              "parameters"
            ],
            "members": {
              "id": {},
              "arn": {},
              "collaborationId": {},
              "collaborationArn": {},
              "creatorAccountId": {},
              "createTime": {
                "type": "timestamp"
              },
              "updateTime": {
                "type": "timestamp"
              },
              "privacyBudgetType": {},
              "autoRefresh": {},
              "parameters": {
                "shape": "S5l"
              }
            }
          }
        }
      }
    },
    "GetConfiguredAudienceModelAssociation": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredAudienceModelAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredAudienceModelAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociation"
        ],
        "members": {
          "configuredAudienceModelAssociation": {
            "shape": "S3o"
          }
        }
      }
    },
    "GetConfiguredTable": {
      "http": {
        "method": "GET",
        "requestUri": "/configuredTables/{configuredTableIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTable"
        ],
        "members": {
          "configuredTable": {
            "shape": "S3y"
          }
        }
      }
    },
    "GetConfiguredTableAnalysisRule": {
      "http": {
        "method": "GET",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier",
          "analysisRuleType"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "analysisRuleType": {
            "location": "uri",
            "locationName": "analysisRuleType"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRule"
        ],
        "members": {
          "analysisRule": {
            "shape": "S47"
          }
        }
      }
    },
    "GetConfiguredTableAssociation": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredTableAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredTableAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableAssociation"
        ],
        "members": {
          "configuredTableAssociation": {
            "shape": "S4b"
          }
        }
      }
    },
    "GetIdMappingTable": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/idmappingtables/{idMappingTableIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "idMappingTableIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "idMappingTableIdentifier": {
            "location": "uri",
            "locationName": "idMappingTableIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "idMappingTable"
        ],
        "members": {
          "idMappingTable": {
            "shape": "S4i"
          }
        }
      }
    },
    "GetIdNamespaceAssociation": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/idnamespaceassociations/{idNamespaceAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "idNamespaceAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "idNamespaceAssociationIdentifier": {
            "location": "uri",
            "locationName": "idNamespaceAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "idNamespaceAssociation"
        ],
        "members": {
          "idNamespaceAssociation": {
            "shape": "S4r"
          }
        }
      }
    },
    "GetMembership": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "membership"
        ],
        "members": {
          "membership": {
            "shape": "S58"
          }
        }
      }
    },
    "GetPrivacyBudgetTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "privacyBudgetTemplateIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "privacyBudgetTemplateIdentifier": {
            "location": "uri",
            "locationName": "privacyBudgetTemplateIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "privacyBudgetTemplate"
        ],
        "members": {
          "privacyBudgetTemplate": {
            "shape": "S5i"
          }
        }
      }
    },
    "GetProtectedQuery": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "protectedQueryIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "protectedQueryIdentifier": {
            "location": "uri",
            "locationName": "protectedQueryIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "protectedQuery"
        ],
        "members": {
          "protectedQuery": {
            "shape": "S78"
          }
        }
      }
    },
    "GetSchema": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/schemas/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "name"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "schema"
        ],
        "members": {
          "schema": {
            "shape": "S13"
          }
        }
      }
    },
    "GetSchemaAnalysisRule": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/schemas/{name}/analysisRule/{type}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "name",
          "type"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "type": {
            "location": "uri",
            "locationName": "type"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRule"
        ],
        "members": {
          "analysisRule": {
            "shape": "S1x"
          }
        }
      }
    },
    "ListAnalysisTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisTemplateSummaries"
        ],
        "members": {
          "nextToken": {},
          "analysisTemplateSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createTime",
                "id",
                "name",
                "updateTime",
                "membershipArn",
                "membershipId",
                "collaborationArn",
                "collaborationId"
              ],
              "members": {
                "arn": {},
                "createTime": {
                  "type": "timestamp"
                },
                "id": {},
                "name": {},
                "updateTime": {
                  "type": "timestamp"
                },
                "membershipArn": {},
                "membershipId": {},
                "collaborationArn": {},
                "collaborationId": {},
                "description": {}
              }
            }
          }
        }
      }
    },
    "ListCollaborationAnalysisTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/analysistemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationAnalysisTemplateSummaries"
        ],
        "members": {
          "nextToken": {},
          "collaborationAnalysisTemplateSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createTime",
                "id",
                "name",
                "updateTime",
                "collaborationArn",
                "collaborationId",
                "creatorAccountId"
              ],
              "members": {
                "arn": {},
                "createTime": {
                  "type": "timestamp"
                },
                "id": {},
                "name": {},
                "updateTime": {
                  "type": "timestamp"
                },
                "collaborationArn": {},
                "collaborationId": {},
                "creatorAccountId": {},
                "description": {}
              }
            }
          }
        }
      }
    },
    "ListCollaborationConfiguredAudienceModelAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/configuredaudiencemodelassociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationConfiguredAudienceModelAssociationSummaries"
        ],
        "members": {
          "collaborationConfiguredAudienceModelAssociationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createTime",
                "id",
                "name",
                "updateTime",
                "collaborationArn",
                "collaborationId",
                "creatorAccountId"
              ],
              "members": {
                "arn": {},
                "createTime": {
                  "type": "timestamp"
                },
                "id": {},
                "name": {},
                "updateTime": {
                  "type": "timestamp"
                },
                "collaborationArn": {},
                "collaborationId": {},
                "creatorAccountId": {},
                "description": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListCollaborationIdNamespaceAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/idnamespaceassociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationIdNamespaceAssociationSummaries"
        ],
        "members": {
          "nextToken": {},
          "collaborationIdNamespaceAssociationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createTime",
                "id",
                "updateTime",
                "collaborationArn",
                "collaborationId",
                "creatorAccountId",
                "inputReferenceConfig",
                "name",
                "inputReferenceProperties"
              ],
              "members": {
                "arn": {},
                "createTime": {
                  "type": "timestamp"
                },
                "id": {},
                "updateTime": {
                  "type": "timestamp"
                },
                "collaborationArn": {},
                "collaborationId": {},
                "creatorAccountId": {},
                "inputReferenceConfig": {
                  "shape": "S4m"
                },
                "name": {},
                "description": {},
                "inputReferenceProperties": {
                  "shape": "S8g"
                }
              }
            }
          }
        }
      }
    },
    "ListCollaborationPrivacyBudgetTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/privacybudgettemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationPrivacyBudgetTemplateSummaries"
        ],
        "members": {
          "nextToken": {},
          "collaborationPrivacyBudgetTemplateSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "collaborationId",
                "collaborationArn",
                "creatorAccountId",
                "privacyBudgetType",
                "createTime",
                "updateTime"
              ],
              "members": {
                "id": {},
                "arn": {},
                "collaborationId": {},
                "collaborationArn": {},
                "creatorAccountId": {},
                "privacyBudgetType": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListCollaborationPrivacyBudgets": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/privacybudgets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier",
          "privacyBudgetType"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "privacyBudgetType": {
            "location": "querystring",
            "locationName": "privacyBudgetType"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationPrivacyBudgetSummaries"
        ],
        "members": {
          "collaborationPrivacyBudgetSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "privacyBudgetTemplateId",
                "privacyBudgetTemplateArn",
                "collaborationId",
                "collaborationArn",
                "creatorAccountId",
                "type",
                "createTime",
                "updateTime",
                "budget"
              ],
              "members": {
                "id": {},
                "privacyBudgetTemplateId": {},
                "privacyBudgetTemplateArn": {},
                "collaborationId": {},
                "collaborationArn": {},
                "creatorAccountId": {},
                "type": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "budget": {
                  "shape": "S8p"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListCollaborations": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "memberStatus": {
            "location": "querystring",
            "locationName": "memberStatus"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaborationList"
        ],
        "members": {
          "nextToken": {},
          "collaborationList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "name",
                "creatorAccountId",
                "creatorDisplayName",
                "createTime",
                "updateTime",
                "memberStatus"
              ],
              "members": {
                "id": {},
                "arn": {},
                "name": {},
                "creatorAccountId": {},
                "creatorDisplayName": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "memberStatus": {},
                "membershipId": {},
                "membershipArn": {}
              }
            }
          }
        }
      }
    },
    "ListConfiguredAudienceModelAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociationSummaries"
        ],
        "members": {
          "configuredAudienceModelAssociationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "membershipId",
                "membershipArn",
                "collaborationArn",
                "collaborationId",
                "createTime",
                "updateTime",
                "id",
                "arn",
                "name",
                "configuredAudienceModelArn"
              ],
              "members": {
                "membershipId": {},
                "membershipArn": {},
                "collaborationArn": {},
                "collaborationId": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "id": {},
                "arn": {},
                "name": {},
                "configuredAudienceModelArn": {},
                "description": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListConfiguredTableAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableAssociationSummaries"
        ],
        "members": {
          "configuredTableAssociationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "configuredTableId",
                "membershipId",
                "membershipArn",
                "name",
                "createTime",
                "updateTime",
                "id",
                "arn"
              ],
              "members": {
                "configuredTableId": {},
                "membershipId": {},
                "membershipArn": {},
                "name": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "id": {},
                "arn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListConfiguredTables": {
      "http": {
        "method": "GET",
        "requestUri": "/configuredTables",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableSummaries"
        ],
        "members": {
          "configuredTableSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "name",
                "createTime",
                "updateTime",
                "analysisRuleTypes",
                "analysisMethod"
              ],
              "members": {
                "id": {},
                "arn": {},
                "name": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "analysisRuleTypes": {
                  "shape": "S40"
                },
                "analysisMethod": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListIdMappingTables": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/idmappingtables",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "idMappingTableSummaries"
        ],
        "members": {
          "idMappingTableSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "collaborationArn",
                "collaborationId",
                "membershipId",
                "membershipArn",
                "createTime",
                "updateTime",
                "id",
                "arn",
                "inputReferenceConfig",
                "name"
              ],
              "members": {
                "collaborationArn": {},
                "collaborationId": {},
                "membershipId": {},
                "membershipArn": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "id": {},
                "arn": {},
                "description": {},
                "inputReferenceConfig": {
                  "shape": "S4e"
                },
                "name": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListIdNamespaceAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/idnamespaceassociations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "idNamespaceAssociationSummaries"
        ],
        "members": {
          "nextToken": {},
          "idNamespaceAssociationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "membershipId",
                "membershipArn",
                "collaborationArn",
                "collaborationId",
                "createTime",
                "updateTime",
                "id",
                "arn",
                "inputReferenceConfig",
                "name",
                "inputReferenceProperties"
              ],
              "members": {
                "membershipId": {},
                "membershipArn": {},
                "collaborationArn": {},
                "collaborationId": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "id": {},
                "arn": {},
                "inputReferenceConfig": {
                  "shape": "S4m"
                },
                "name": {},
                "description": {},
                "inputReferenceProperties": {
                  "shape": "S8g"
                }
              }
            }
          }
        }
      }
    },
    "ListMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/members",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "memberSummaries"
        ],
        "members": {
          "nextToken": {},
          "memberSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "accountId",
                "status",
                "displayName",
                "abilities",
                "createTime",
                "updateTime",
                "paymentConfiguration"
              ],
              "members": {
                "accountId": {},
                "status": {},
                "displayName": {},
                "abilities": {
                  "shape": "S37"
                },
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "membershipId": {},
                "membershipArn": {},
                "paymentConfiguration": {
                  "shape": "S3a"
                }
              }
            }
          }
        }
      }
    },
    "ListMemberships": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "membershipSummaries"
        ],
        "members": {
          "nextToken": {},
          "membershipSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "collaborationArn",
                "collaborationId",
                "collaborationCreatorAccountId",
                "collaborationCreatorDisplayName",
                "collaborationName",
                "createTime",
                "updateTime",
                "status",
                "memberAbilities",
                "paymentConfiguration"
              ],
              "members": {
                "id": {},
                "arn": {},
                "collaborationArn": {},
                "collaborationId": {},
                "collaborationCreatorAccountId": {},
                "collaborationCreatorDisplayName": {},
                "collaborationName": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "status": {},
                "memberAbilities": {
                  "shape": "S37"
                },
                "paymentConfiguration": {
                  "shape": "S55"
                }
              }
            }
          }
        }
      }
    },
    "ListPrivacyBudgetTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "privacyBudgetTemplateSummaries"
        ],
        "members": {
          "nextToken": {},
          "privacyBudgetTemplateSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "arn",
                "membershipId",
                "membershipArn",
                "collaborationId",
                "collaborationArn",
                "privacyBudgetType",
                "createTime",
                "updateTime"
              ],
              "members": {
                "id": {},
                "arn": {},
                "membershipId": {},
                "membershipArn": {},
                "collaborationId": {},
                "collaborationArn": {},
                "privacyBudgetType": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListPrivacyBudgets": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "privacyBudgetType"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "privacyBudgetType": {
            "location": "querystring",
            "locationName": "privacyBudgetType"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "privacyBudgetSummaries"
        ],
        "members": {
          "privacyBudgetSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "privacyBudgetTemplateId",
                "privacyBudgetTemplateArn",
                "membershipId",
                "membershipArn",
                "collaborationId",
                "collaborationArn",
                "type",
                "createTime",
                "updateTime",
                "budget"
              ],
              "members": {
                "id": {},
                "privacyBudgetTemplateId": {},
                "privacyBudgetTemplateArn": {},
                "membershipId": {},
                "membershipArn": {},
                "collaborationId": {},
                "collaborationArn": {},
                "type": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "budget": {
                  "shape": "S8p"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListProtectedQueries": {
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "protectedQueries"
        ],
        "members": {
          "nextToken": {},
          "protectedQueries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "membershipId",
                "membershipArn",
                "createTime",
                "status"
              ],
              "members": {
                "id": {},
                "membershipId": {},
                "membershipArn": {},
                "createTime": {
                  "type": "timestamp"
                },
                "status": {}
              }
            }
          }
        }
      }
    },
    "ListSchemas": {
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/schemas",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "schemaType": {
            "location": "querystring",
            "locationName": "schemaType"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "schemaSummaries"
        ],
        "members": {
          "schemaSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "type",
                "creatorAccountId",
                "createTime",
                "updateTime",
                "collaborationId",
                "collaborationArn",
                "analysisRuleTypes"
              ],
              "members": {
                "name": {},
                "type": {},
                "creatorAccountId": {},
                "createTime": {
                  "type": "timestamp"
                },
                "updateTime": {
                  "type": "timestamp"
                },
                "collaborationId": {},
                "collaborationArn": {},
                "analysisRuleTypes": {
                  "shape": "S18"
                },
                "analysisMethod": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "tags"
        ],
        "members": {
          "tags": {
            "shape": "S2y"
          }
        }
      }
    },
    "PopulateIdMappingTable": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/idmappingtables/{idMappingTableIdentifier}/populate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "idMappingTableIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "idMappingTableIdentifier": {
            "location": "uri",
            "locationName": "idMappingTableIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "idMappingJobId"
        ],
        "members": {
          "idMappingJobId": {}
        }
      }
    },
    "PreviewPrivacyImpact": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/previewprivacyimpact",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "parameters"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "parameters": {
            "type": "structure",
            "members": {
              "differentialPrivacy": {
                "type": "structure",
                "required": [
                  "epsilon",
                  "usersNoisePerQuery"
                ],
                "members": {
                  "epsilon": {
                    "type": "integer"
                  },
                  "usersNoisePerQuery": {
                    "type": "integer"
                  }
                }
              }
            },
            "union": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "privacyImpact"
        ],
        "members": {
          "privacyImpact": {
            "type": "structure",
            "members": {
              "differentialPrivacy": {
                "type": "structure",
                "required": [
                  "aggregations"
                ],
                "members": {
                  "aggregations": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "required": [
                        "type",
                        "maxCount"
                      ],
                      "members": {
                        "type": {},
                        "maxCount": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            },
            "union": true
          }
        }
      }
    },
    "StartProtectedQuery": {
      "http": {
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "type",
          "membershipIdentifier",
          "sqlParameters"
        ],
        "members": {
          "type": {},
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "sqlParameters": {
            "shape": "S79"
          },
          "resultConfiguration": {
            "shape": "S7d"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "protectedQuery"
        ],
        "members": {
          "protectedQuery": {
            "shape": "S78"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "S2y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateAnalysisTemplate": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "analysisTemplateIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "analysisTemplateIdentifier": {
            "location": "uri",
            "locationName": "analysisTemplateIdentifier"
          },
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisTemplate"
        ],
        "members": {
          "analysisTemplate": {
            "shape": "S32"
          }
        }
      }
    },
    "UpdateCollaboration": {
      "http": {
        "method": "PATCH",
        "requestUri": "/collaborations/{collaborationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "collaborationIdentifier"
        ],
        "members": {
          "collaborationIdentifier": {
            "location": "uri",
            "locationName": "collaborationIdentifier"
          },
          "name": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "collaboration"
        ],
        "members": {
          "collaboration": {
            "shape": "S3i"
          }
        }
      }
    },
    "UpdateConfiguredAudienceModelAssociation": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredAudienceModelAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredAudienceModelAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "description": {},
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredAudienceModelAssociation"
        ],
        "members": {
          "configuredAudienceModelAssociation": {
            "shape": "S3o"
          }
        }
      }
    },
    "UpdateConfiguredTable": {
      "http": {
        "method": "PATCH",
        "requestUri": "/configuredTables/{configuredTableIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "name": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTable"
        ],
        "members": {
          "configuredTable": {
            "shape": "S3y"
          }
        }
      }
    },
    "UpdateConfiguredTableAnalysisRule": {
      "http": {
        "method": "PATCH",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableIdentifier",
          "analysisRuleType",
          "analysisRulePolicy"
        ],
        "members": {
          "configuredTableIdentifier": {
            "location": "uri",
            "locationName": "configuredTableIdentifier"
          },
          "analysisRuleType": {
            "location": "uri",
            "locationName": "analysisRuleType"
          },
          "analysisRulePolicy": {
            "shape": "S44"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "analysisRule"
        ],
        "members": {
          "analysisRule": {
            "shape": "S47"
          }
        }
      }
    },
    "UpdateConfiguredTableAssociation": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuredTableAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "configuredTableAssociationIdentifier": {
            "location": "uri",
            "locationName": "configuredTableAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "description": {},
          "roleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuredTableAssociation"
        ],
        "members": {
          "configuredTableAssociation": {
            "shape": "S4b"
          }
        }
      }
    },
    "UpdateIdMappingTable": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/idmappingtables/{idMappingTableIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "idMappingTableIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "idMappingTableIdentifier": {
            "location": "uri",
            "locationName": "idMappingTableIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "description": {},
          "kmsKeyArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "idMappingTable"
        ],
        "members": {
          "idMappingTable": {
            "shape": "S4i"
          }
        }
      }
    },
    "UpdateIdNamespaceAssociation": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/idnamespaceassociations/{idNamespaceAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "idNamespaceAssociationIdentifier",
          "membershipIdentifier"
        ],
        "members": {
          "idNamespaceAssociationIdentifier": {
            "location": "uri",
            "locationName": "idNamespaceAssociationIdentifier"
          },
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "name": {},
          "description": {},
          "idMappingConfig": {
            "shape": "S4p"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "idNamespaceAssociation"
        ],
        "members": {
          "idNamespaceAssociation": {
            "shape": "S4r"
          }
        }
      }
    },
    "UpdateMembership": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "queryLogStatus": {},
          "defaultResultConfiguration": {
            "shape": "S4z"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "membership"
        ],
        "members": {
          "membership": {
            "shape": "S58"
          }
        }
      }
    },
    "UpdatePrivacyBudgetTemplate": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "privacyBudgetTemplateIdentifier",
          "privacyBudgetType"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "privacyBudgetTemplateIdentifier": {
            "location": "uri",
            "locationName": "privacyBudgetTemplateIdentifier"
          },
          "privacyBudgetType": {},
          "parameters": {
            "type": "structure",
            "members": {
              "differentialPrivacy": {
                "type": "structure",
                "members": {
                  "epsilon": {
                    "type": "integer"
                  },
                  "usersNoisePerQuery": {
                    "type": "integer"
                  }
                }
              }
            },
            "union": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "privacyBudgetTemplate"
        ],
        "members": {
          "privacyBudgetTemplate": {
            "shape": "S5i"
          }
        }
      }
    },
    "UpdateProtectedQuery": {
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "membershipIdentifier",
          "protectedQueryIdentifier",
          "targetStatus"
        ],
        "members": {
          "membershipIdentifier": {
            "location": "uri",
            "locationName": "membershipIdentifier"
          },
          "protectedQueryIdentifier": {
            "location": "uri",
            "locationName": "protectedQueryIdentifier"
          },
          "targetStatus": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "protectedQuery"
        ],
        "members": {
          "protectedQuery": {
            "shape": "S78"
          }
        }
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S7": {
      "type": "structure",
      "required": [
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "creatorAccountId",
        "name",
        "createTime",
        "updateTime",
        "schema",
        "format",
        "source"
      ],
      "members": {
        "id": {},
        "arn": {},
        "collaborationId": {},
        "collaborationArn": {},
        "description": {},
        "creatorAccountId": {},
        "name": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "schema": {
          "shape": "Sf"
        },
        "format": {},
        "source": {
          "shape": "Sj"
        },
        "analysisParameters": {
          "shape": "Sl"
        },
        "validations": {
          "shape": "Sq"
        }
      }
    },
    "Sf": {
      "type": "structure",
      "members": {
        "referencedTables": {
          "type": "list",
          "member": {}
        }
      }
    },
    "Sj": {
      "type": "structure",
      "members": {
        "text": {}
      },
      "sensitive": true,
      "union": true
    },
    "Sl": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "type"
        ],
        "members": {
          "name": {},
          "type": {},
          "defaultValue": {}
        },
        "sensitive": true
      }
    },
    "Sq": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "type",
          "status"
        ],
        "members": {
          "type": {},
          "status": {},
          "reasons": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "message"
              ],
              "members": {
                "message": {}
              }
            }
          }
        }
      }
    },
    "S13": {
      "type": "structure",
      "required": [
        "columns",
        "partitionKeys",
        "analysisRuleTypes",
        "creatorAccountId",
        "name",
        "collaborationId",
        "collaborationArn",
        "description",
        "createTime",
        "updateTime",
        "type",
        "schemaStatusDetails"
      ],
      "members": {
        "columns": {
          "shape": "S14"
        },
        "partitionKeys": {
          "shape": "S14"
        },
        "analysisRuleTypes": {
          "shape": "S18"
        },
        "analysisMethod": {},
        "creatorAccountId": {},
        "name": {},
        "collaborationId": {},
        "collaborationArn": {},
        "description": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "type": {},
        "schemaStatusDetails": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "status"
            ],
            "members": {
              "status": {},
              "reasons": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "code",
                    "message"
                  ],
                  "members": {
                    "code": {},
                    "message": {}
                  }
                }
              },
              "analysisRuleType": {},
              "configurations": {
                "type": "list",
                "member": {}
              }
            }
          }
        },
        "schemaTypeProperties": {
          "type": "structure",
          "members": {
            "idMappingTable": {
              "type": "structure",
              "required": [
                "idMappingTableInputSource"
              ],
              "members": {
                "idMappingTableInputSource": {
                  "shape": "S1n"
                }
              }
            }
          },
          "union": true
        }
      }
    },
    "S14": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "type"
        ],
        "members": {
          "name": {},
          "type": {}
        }
      }
    },
    "S18": {
      "type": "list",
      "member": {}
    },
    "S1n": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "idNamespaceAssociationId",
          "type"
        ],
        "members": {
          "idNamespaceAssociationId": {},
          "type": {}
        }
      }
    },
    "S1x": {
      "type": "structure",
      "required": [
        "collaborationId",
        "type",
        "name",
        "createTime",
        "updateTime",
        "policy"
      ],
      "members": {
        "collaborationId": {},
        "type": {},
        "name": {},
        "createTime": {
          "type": "timestamp"
        },
        "updateTime": {
          "type": "timestamp"
        },
        "policy": {
          "type": "structure",
          "members": {
            "v1": {
              "type": "structure",
              "members": {
                "list": {
                  "shape": "S20"
                },
                "aggregation": {
                  "shape": "S26"
                },
                "custom": {
                  "shape": "S2i"
                },
                "idMappingTable": {
                  "type": "structure",
                  "required": [
                    "joinColumns",
                    "queryConstraints"
                  ],
                  "members": {
                    "joinColumns": {
                      "type": "list",
                      "member": {}
                    },
                    "queryConstraints": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "requireOverlap": {
                            "type": "structure",
                            "members": {
                              "columns": {
                                "shape": "S25"
                              }
                            }
                          }
                        },
                        "union": true
                      }
                    },
                    "dimensionColumns": {
                      "shape": "S25"
                    }
                  }
                }
              },
              "union": true
            }
          },
          "union": true
        }
      }
    },
    "S20": {
      "type": "structure",
      "required": [
        "joinColumns",
        "listColumns"
      ],
      "members": {
        "joinColumns": {
[...]
