{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-04-28",
    "endpointPrefix": "cloudhsmv2",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "CloudHSM V2",
    "serviceFullName": "AWS CloudHSM V2",
    "serviceId": "CloudHSM V2",
    "signatureVersion": "v4",
    "signingName": "cloudhsm",
    "targetPrefix": "BaldrApiService",
    "uid": "cloudhsmv2-2017-04-28"
  },
  "operations": {
    "CopyBackupToRegion": {
      "input": {
        "type": "structure",
        "required": [
          "DestinationRegion",
          "BackupId"
        ],
        "members": {
          "DestinationRegion": {
            "shape": "S2"
          },
          "BackupId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DestinationBackup": {
            "type": "structure",
            "members": {
              "CreateTimestamp": {
                "type": "timestamp"
              },
              "SourceRegion": {
                "shape": "S2"
              },
              "SourceBackup": {
                "shape": "S3"
              },
              "SourceCluster": {
                "shape": "S7"
              }
            }
          }
        }
      }
    },
    "CreateCluster": {
      "input": {
        "type": "structure",
        "required": [
          "SubnetIds",
          "HsmType"
        ],
        "members": {
          "SubnetIds": {
            "type": "list",
            "member": {
              "shape": "Sa"
            },
            "max": 10,
            "min": 1
          },
          "HsmType": {
            "shape": "Sb"
          },
          "SourceBackupId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Cluster": {
            "shape": "Sd"
          }
        }
      }
    },
    "CreateHsm": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId",
          "AvailabilityZone"
        ],
        "members": {
          "ClusterId": {
            "shape": "S7"
          },
          "AvailabilityZone": {
            "shape": "Sh"
          },
          "IpAddress": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Hsm": {
            "shape": "Sg"
          }
        }
      }
    },
    "DeleteBackup": {
      "input": {
        "type": "structure",
        "required": [
          "BackupId"
        ],
        "members": {
          "BackupId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Backup": {
            "shape": "Sz"
          }
        }
      }
    },
    "DeleteCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Cluster": {
            "shape": "Sd"
          }
        }
      }
    },
    "DeleteHsm": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {
            "shape": "S7"
          },
          "HsmId": {
            "shape": "Sk"
          },
          "EniId": {
            "shape": "Si"
          },
          "EniIp": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "HsmId": {
            "shape": "Sk"
          }
        }
      }
    },
    "DescribeBackups": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S16"
          },
          "MaxResults": {
            "shape": "S17"
          },
          "Filters": {
            "shape": "S18"
          },
          "SortAscending": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Backups": {
            "type": "list",
            "member": {
              "shape": "Sz"
            }
          },
          "NextToken": {
            "shape": "S16"
          }
        }
      }
    },
    "DescribeClusters": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S18"
          },
          "NextToken": {
            "shape": "S16"
          },
          "MaxResults": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Clusters": {
            "type": "list",
            "member": {
              "shape": "Sd"
            }
          },
          "NextToken": {
            "shape": "S16"
          }
        }
      }
    },
    "InitializeCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId",
          "SignedCert",
          "TrustAnchor"
        ],
        "members": {
          "ClusterId": {
            "shape": "S7"
          },
          "SignedCert": {
            "shape": "Su"
          },
          "TrustAnchor": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "State": {
            "shape": "Sp"
          },
          "StateMessage": {
            "shape": "Sq"
          }
        }
      }
    },
    "ListTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId"
        ],
        "members": {
          "ResourceId": {
            "shape": "S7"
          },
          "NextToken": {
            "shape": "S16"
          },
          "MaxResults": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TagList"
        ],
        "members": {
          "TagList": {
            "shape": "S1l"
          },
          "NextToken": {
            "shape": "S16"
          }
        }
      }
    },
    "RestoreBackup": {
      "input": {
        "type": "structure",
        "required": [
          "BackupId"
        ],
        "members": {
          "BackupId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Backup": {
            "shape": "Sz"
          }
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "TagList"
        ],
        "members": {
          "ResourceId": {
            "shape": "S7"
          },
          "TagList": {
            "shape": "S1l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "TagKeyList"
        ],
        "members": {
          "ResourceId": {
            "shape": "S7"
          },
          "TagKeyList": {
            "type": "list",
            "member": {
              "shape": "S1n"
            },
            "max": 50,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d"
    },
    "S3": {
      "type": "string",
      "pattern": "backup-[2-7a-zA-Z]{11,16}"
    },
    "S7": {
      "type": "string",
      "pattern": "cluster-[2-7a-zA-Z]{11,16}"
    },
    "Sa": {
      "type": "string",
      "pattern": "subnet-[0-9a-fA-F]{8,17}"
    },
    "Sb": {
      "type": "string",
      "pattern": "(hsm1\\.medium)"
    },
    "Sd": {
      "type": "structure",
      "members": {
        "BackupPolicy": {
          "type": "string",
          "enum": [
            "DEFAULT"
          ]
        },
        "ClusterId": {
          "shape": "S7"
        },
        "CreateTimestamp": {
          "type": "timestamp"
        },
        "Hsms": {
          "type": "list",
          "member": {
            "shape": "Sg"
          }
        },
        "HsmType": {
          "shape": "Sb"
        },
        "PreCoPassword": {
          "type": "string",
          "max": 32,
          "min": 7
        },
        "SecurityGroup": {
          "type": "string",
          "pattern": "sg-[0-9a-fA-F]"
        },
        "SourceBackupId": {
          "shape": "S3"
        },
        "State": {
          "shape": "Sp"
        },
        "StateMessage": {
          "shape": "Sq"
        },
        "SubnetMapping": {
          "type": "map",
          "key": {
            "shape": "Sh"
          },
          "value": {
            "shape": "Sa"
          }
        },
        "VpcId": {
          "type": "string",
          "pattern": "vpc-[0-9a-fA-F]"
        },
        "Certificates": {
          "type": "structure",
          "members": {
            "ClusterCsr": {
              "shape": "Su"
            },
            "HsmCertificate": {
              "shape": "Su"
            },
            "AwsHardwareCertificate": {
              "shape": "Su"
            },
            "ManufacturerHardwareCertificate": {
              "shape": "Su"
            },
            "ClusterCertificate": {
              "shape": "Su"
            }
          }
        }
      }
    },
    "Sg": {
      "type": "structure",
      "required": [
        "HsmId"
      ],
      "members": {
        "AvailabilityZone": {
          "shape": "Sh"
        },
        "ClusterId": {
          "shape": "S7"
        },
        "SubnetId": {
          "shape": "Sa"
        },
        "EniId": {
          "shape": "Si"
        },
        "EniIp": {
          "shape": "Sj"
        },
        "HsmId": {
          "shape": "Sk"
        },
        "State": {
          "type": "string",
          "enum": [
            "CREATE_IN_PROGRESS",
            "ACTIVE",
            "DEGRADED",
            "DELETE_IN_PROGRESS",
            "DELETED"
          ]
        },
        "StateMessage": {}
      }
    },
    "Sh": {
      "type": "string",
      "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d[a-z]"
    },
    "Si": {
      "type": "string",
      "pattern": "eni-[0-9a-fA-F]{8,17}"
    },
    "Sj": {
      "type": "string",
      "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}"
    },
    "Sk": {
      "type": "string",
      "pattern": "hsm-[2-7a-zA-Z]{11,16}"
    },
    "Sp": {
      "type": "string",
      "enum": [
        "CREATE_IN_PROGRESS",
        "UNINITIALIZED",
        "INITIALIZE_IN_PROGRESS",
        "INITIALIZED",
        "ACTIVE",
        "UPDATE_IN_PROGRESS",
        "DELETE_IN_PROGRESS",
        "DELETED",
        "DEGRADED"
      ]
    },
    "Sq": {
      "type": "string",
      "max": 300,
      "pattern": ".*"
    },
    "Su": {
      "type": "string",
      "max": 5000,
      "pattern": "[a-zA-Z0-9+-/=\\s]*"
    },
    "Sz": {
      "type": "structure",
      "required": [
        "BackupId"
      ],
      "members": {
        "BackupId": {
          "shape": "S3"
        },
        "BackupState": {
          "type": "string",
          "enum": [
            "CREATE_IN_PROGRESS",
            "READY",
            "DELETED",
            "PENDING_DELETION"
          ]
        },
        "ClusterId": {
          "shape": "S7"
        },
        "CreateTimestamp": {
          "type": "timestamp"
        },
        "CopyTimestamp": {
          "type": "timestamp"
        },
        "SourceRegion": {
          "shape": "S2"
        },
        "SourceBackup": {
          "shape": "S3"
        },
        "SourceCluster": {
          "shape": "S7"
        },
        "DeleteTimestamp": {
          "type": "timestamp"
        }
      }
    },
    "S16": {
      "type": "string",
      "max": 256,
      "pattern": ".*"
    },
    "S17": {
      "type": "integer",
      "max": 100,
      "min": 1
    },
    "S18": {
      "type": "map",
      "key": {
        "type": "string",
        "pattern": "[a-zA-Z0-9_-]+"
      },
      "value": {
        "type": "list",
        "member": {}
      }
    },
    "S1l": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {
            "shape": "S1n"
          },
          "Value": {
            "type": "string",
            "max": 256,
            "min": 0,
            "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
          }
        }
      },
      "max": 50,
      "min": 1
    },
    "S1n": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    }
  }
}