{
  "metadata": {
    "apiVersion": "2013-01-01",
    "endpointPrefix": "cloudsearch",
    "serviceFullName": "Amazon CloudSearch",
    "signatureVersion": "v4",
    "xmlNamespace": "http://cloudsearch.amazonaws.com/doc/2013-01-01/",
    "protocol": "query"
  },
  "operations": {
    "BuildSuggesters": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {}
        }
      },
      "output": {
        "resultWrapper": "BuildSuggestersResult",
        "type": "structure",
        "members": {
          "FieldNames": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {}
        }
      },
      "output": {
        "resultWrapper": "CreateDomainResult",
        "type": "structure",
        "members": {
          "DomainStatus": {
            "shape": "S8"
          }
        }
      }
    },
    "DefineAnalysisScheme": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AnalysisScheme"
        ],
        "members": {
          "DomainName": {},
          "AnalysisScheme": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "resultWrapper": "DefineAnalysisSchemeResult",
        "type": "structure",
        "required": [
          "AnalysisScheme"
        ],
        "members": {
          "AnalysisScheme": {
            "shape": "So"
          }
        }
      }
    },
    "DefineExpression": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "Expression"
        ],
        "members": {
          "DomainName": {},
          "Expression": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "resultWrapper": "DefineExpressionResult",
        "type": "structure",
        "required": [
          "Expression"
        ],
        "members": {
          "Expression": {
            "shape": "Sx"
          }
        }
      }
    },
    "DefineIndexField": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "IndexField"
        ],
        "members": {
          "DomainName": {},
          "IndexField": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "resultWrapper": "DefineIndexFieldResult",
        "type": "structure",
        "required": [
          "IndexField"
        ],
        "members": {
          "IndexField": {
            "shape": "S1i"
          }
        }
      }
    },
    "DefineSuggester": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "Suggester"
        ],
        "members": {
          "DomainName": {},
          "Suggester": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "resultWrapper": "DefineSuggesterResult",
        "type": "structure",
        "required": [
          "Suggester"
        ],
        "members": {
          "Suggester": {
            "shape": "S1o"
          }
        }
      }
    },
    "DeleteAnalysisScheme": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AnalysisSchemeName"
        ],
        "members": {
          "DomainName": {},
          "AnalysisSchemeName": {}
        }
      },
      "output": {
        "resultWrapper": "DeleteAnalysisSchemeResult",
        "type": "structure",
        "required": [
          "AnalysisScheme"
        ],
        "members": {
          "AnalysisScheme": {
            "shape": "So"
          }
        }
      }
    },
    "DeleteDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {}
        }
      },
      "output": {
        "resultWrapper": "DeleteDomainResult",
        "type": "structure",
        "members": {
          "DomainStatus": {
            "shape": "S8"
          }
        }
      }
    },
    "DeleteExpression": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "ExpressionName"
        ],
        "members": {
          "DomainName": {},
          "ExpressionName": {}
        }
      },
      "output": {
        "resultWrapper": "DeleteExpressionResult",
        "type": "structure",
        "required": [
          "Expression"
        ],
        "members": {
          "Expression": {
            "shape": "Sx"
          }
        }
      }
    },
    "DeleteIndexField": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "IndexFieldName"
        ],
        "members": {
          "DomainName": {},
          "IndexFieldName": {}
        }
      },
      "output": {
        "resultWrapper": "DeleteIndexFieldResult",
        "type": "structure",
        "required": [
          "IndexField"
        ],
        "members": {
          "IndexField": {
            "shape": "S1i"
          }
        }
      }
    },
    "DeleteSuggester": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "SuggesterName"
        ],
        "members": {
          "DomainName": {},
          "SuggesterName": {}
        }
      },
      "output": {
        "resultWrapper": "DeleteSuggesterResult",
        "type": "structure",
        "required": [
          "Suggester"
        ],
        "members": {
          "Suggester": {
            "shape": "S1o"
          }
        }
      }
    },
    "DescribeAnalysisSchemes": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {},
          "AnalysisSchemeNames": {
            "shape": "S4"
          },
          "Deployed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeAnalysisSchemesResult",
        "type": "structure",
        "required": [
          "AnalysisSchemes"
        ],
        "members": {
          "AnalysisSchemes": {
            "type": "list",
            "member": {
              "shape": "So"
            }
          }
        }
      }
    },
    "DescribeAvailabilityOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {},
          "Deployed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeAvailabilityOptionsResult",
        "type": "structure",
        "members": {
          "AvailabilityOptions": {
            "shape": "S24"
          }
        }
      }
    },
    "DescribeDomains": {
      "input": {
        "type": "structure",
        "members": {
          "DomainNames": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeDomainsResult",
        "type": "structure",
        "required": [
          "DomainStatusList"
        ],
        "members": {
          "DomainStatusList": {
            "type": "list",
            "member": {
              "shape": "S8"
            }
          }
        }
      }
    },
    "DescribeExpressions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {},
          "ExpressionNames": {
            "shape": "S4"
          },
          "Deployed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeExpressionsResult",
        "type": "structure",
        "required": [
          "Expressions"
        ],
        "members": {
          "Expressions": {
            "type": "list",
            "member": {
              "shape": "Sx"
            }
          }
        }
      }
    },
    "DescribeIndexFields": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {},
          "FieldNames": {
            "shape": "S4"
          },
          "Deployed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeIndexFieldsResult",
        "type": "structure",
        "required": [
          "IndexFields"
        ],
        "members": {
          "IndexFields": {
            "type": "list",
            "member": {
              "shape": "S1i"
            }
          }
        }
      }
    },
    "DescribeScalingParameters": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {}
        }
      },
      "output": {
        "resultWrapper": "DescribeScalingParametersResult",
        "type": "structure",
        "required": [
          "ScalingParameters"
        ],
        "members": {
          "ScalingParameters": {
            "shape": "S2i"
          }
        }
      }
    },
    "DescribeServiceAccessPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {},
          "Deployed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeServiceAccessPoliciesResult",
        "type": "structure",
        "required": [
          "AccessPolicies"
        ],
        "members": {
          "AccessPolicies": {
            "shape": "S2n"
          }
        }
      }
    },
    "DescribeSuggesters": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {},
          "SuggesterNames": {
            "shape": "S4"
          },
          "Deployed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeSuggestersResult",
        "type": "structure",
        "required": [
          "Suggesters"
        ],
        "members": {
          "Suggesters": {
            "type": "list",
            "member": {
              "shape": "S1o"
            }
          }
        }
      }
    },
    "IndexDocuments": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {}
        }
      },
      "output": {
        "resultWrapper": "IndexDocumentsResult",
        "type": "structure",
        "members": {
          "FieldNames": {
            "shape": "S4"
          }
        }
      }
    },
    "ListDomainNames": {
      "output": {
        "resultWrapper": "ListDomainNamesResult",
        "type": "structure",
        "members": {
          "DomainNames": {
            "type": "map",
            "key": {},
            "value": {}
          }
        }
      }
    },
    "UpdateAvailabilityOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "MultiAZ"
        ],
        "members": {
          "DomainName": {},
          "MultiAZ": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateAvailabilityOptionsResult",
        "type": "structure",
        "members": {
          "AvailabilityOptions": {
            "shape": "S24"
          }
        }
      }
    },
    "UpdateScalingParameters": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "ScalingParameters"
        ],
        "members": {
          "DomainName": {},
          "ScalingParameters": {
            "shape": "S2j"
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateScalingParametersResult",
        "type": "structure",
        "required": [
          "ScalingParameters"
        ],
        "members": {
          "ScalingParameters": {
            "shape": "S2i"
          }
        }
      }
    },
    "UpdateServiceAccessPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AccessPolicies"
        ],
        "members": {
          "DomainName": {},
          "AccessPolicies": {}
        }
      },
      "output": {
        "resultWrapper": "UpdateServiceAccessPoliciesResult",
        "type": "structure",
        "required": [
          "AccessPolicies"
        ],
        "members": {
          "AccessPolicies": {
            "shape": "S2n"
          }
        }
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "list",
      "member": {}
    },
    "S8": {
      "type": "structure",
      "required": [
        "DomainId",
        "DomainName",
        "RequiresIndexDocuments"
      ],
      "members": {
        "DomainId": {},
        "DomainName": {},
        "ARN": {},
        "Created": {
          "type": "boolean"
        },
        "Deleted": {
          "type": "boolean"
        },
        "DocService": {
          "shape": "Sc"
        },
        "SearchService": {
          "shape": "Sc"
        },
        "RequiresIndexDocuments": {
          "type": "boolean"
        },
        "Processing": {
          "type": "boolean"
        },
        "SearchInstanceType": {},
        "SearchPartitionCount": {
          "type": "integer"
        },
        "SearchInstanceCount": {
          "type": "integer"
        }
      }
    },
    "Sc": {
      "type": "structure",
      "members": {
        "Endpoint": {}
      }
    },
    "Si": {
      "type": "structure",
      "required": [
        "AnalysisSchemeName",
        "AnalysisSchemeLanguage"
      ],
      "members": {
        "AnalysisSchemeName": {},
        "AnalysisSchemeLanguage": {},
        "AnalysisOptions": {
          "type": "structure",
          "members": {
            "Synonyms": {},
            "Stopwords": {},
            "StemmingDictionary": {},
            "AlgorithmicStemming": {}
          }
        }
      }
    },
    "So": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "Si"
        },
        "Status": {
          "shape": "Sp"
        }
      }
    },
    "Sp": {
      "type": "structure",
      "required": [
        "CreationDate",
        "UpdateDate",
        "State"
      ],
      "members": {
        "CreationDate": {
          "type": "timestamp"
        },
        "UpdateDate": {
          "type": "timestamp"
        },
        "UpdateVersion": {
          "type": "integer"
        },
        "State": {},
        "PendingDeletion": {
          "type": "boolean"
        }
      }
    },
    "Su": {
      "type": "structure",
      "required": [
        "ExpressionName",
        "ExpressionValue"
      ],
      "members": {
        "ExpressionName": {},
        "ExpressionValue": {}
      }
    },
    "Sx": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "Su"
        },
        "Status": {
          "shape": "Sp"
        }
      }
    },
    "Sz": {
      "type": "structure",
      "required": [
        "IndexFieldName",
        "IndexFieldType"
      ],
      "members": {
        "IndexFieldName": {},
        "IndexFieldType": {},
        "IntOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "type": "long"
            },
            "SourceField": {},
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            },
            "SortEnabled": {
              "type": "boolean"
            }
          }
        },
        "DoubleOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "type": "double"
            },
            "SourceField": {},
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            },
            "SortEnabled": {
              "type": "boolean"
            }
          }
        },
        "LiteralOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {},
            "SourceField": {},
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            },
            "SortEnabled": {
              "type": "boolean"
            }
          }
        },
        "TextOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {},
            "SourceField": {},
            "ReturnEnabled": {
              "type": "boolean"
            },
            "SortEnabled": {
              "type": "boolean"
            },
            "HighlightEnabled": {
              "type": "boolean"
            },
            "AnalysisScheme": {}
          }
        },
        "DateOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {},
            "SourceField": {},
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            },
            "SortEnabled": {
              "type": "boolean"
            }
          }
        },
        "LatLonOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {},
            "SourceField": {},
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            },
            "SortEnabled": {
              "type": "boolean"
            }
          }
        },
        "IntArrayOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "type": "long"
            },
            "SourceFields": {},
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            }
          }
        },
        "DoubleArrayOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "type": "double"
            },
            "SourceFields": {},
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            }
          }
        },
        "LiteralArrayOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {},
            "SourceFields": {},
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            }
          }
        },
        "TextArrayOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {},
            "SourceFields": {},
            "ReturnEnabled": {
              "type": "boolean"
            },
            "HighlightEnabled": {
              "type": "boolean"
            },
            "AnalysisScheme": {}
          }
        },
        "DateArrayOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {},
            "SourceFields": {},
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "S1i": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "Sz"
        },
        "Status": {
          "shape": "Sp"
        }
      }
    },
    "S1k": {
      "type": "structure",
      "required": [
        "SuggesterName",
        "DocumentSuggesterOptions"
      ],
      "members": {
        "SuggesterName": {},
        "DocumentSuggesterOptions": {
          "type": "structure",
          "required": [
            "SourceField"
          ],
          "members": {
            "SourceField": {},
            "FuzzyMatching": {},
            "SortExpression": {}
          }
        }
      }
    },
    "S1o": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "S1k"
        },
        "Status": {
          "shape": "Sp"
        }
      }
    },
    "S24": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "type": "boolean"
        },
        "Status": {
          "shape": "Sp"
        }
      }
    },
    "S2i": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "S2j"
        },
        "Status": {
          "shape": "Sp"
        }
      }
    },
    "S2j": {
      "type": "structure",
      "members": {
        "DesiredInstanceType": {},
        "DesiredReplicationCount": {
          "type": "integer"
        },
        "DesiredPartitionCount": {
          "type": "integer"
        }
      }
    },
    "S2n": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {},
        "Status": {
          "shape": "Sp"
        }
      }
    }
  }
}