{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2010-05-15",
    "endpointPrefix": "cloudformation",
    "protocol": "query",
    "serviceFullName": "AWS CloudFormation",
    "serviceId": "CloudFormation",
    "signatureVersion": "v4",
    "uid": "cloudformation-2010-05-15",
    "xmlNamespace": "http://cloudformation.amazonaws.com/doc/2010-05-15/"
  },
  "operations": {
    "CancelUpdateStack": {
      "input": {
        "type": "structure",
        "required": [
          "StackName"
        ],
        "members": {
          "StackName": {},
          "ClientRequestToken": {
            "shape": "S3"
          }
        }
      }
    },
    "ContinueUpdateRollback": {
      "input": {
        "type": "structure",
        "required": [
          "StackName"
        ],
        "members": {
          "StackName": {
            "shape": "S5"
          },
          "RoleARN": {
            "shape": "S6"
          },
          "ResourcesToSkip": {
            "type": "list",
            "member": {
              "type": "string",
              "pattern": "[a-zA-Z0-9]+|[a-zA-Z][-a-zA-Z0-9]*\\.[a-zA-Z0-9]+"
            }
          },
          "ClientRequestToken": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "resultWrapper": "ContinueUpdateRollbackResult",
        "type": "structure",
        "members": {}
      }
    },
    "CreateChangeSet": {
      "input": {
        "type": "structure",
        "required": [
          "StackName",
          "ChangeSetName"
        ],
        "members": {
          "StackName": {
            "shape": "S5"
          },
          "TemplateBody": {
            "shape": "Sb"
          },
          "TemplateURL": {
            "shape": "Sc"
          },
          "UsePreviousTemplate": {
            "type": "boolean"
          },
          "Parameters": {
            "shape": "Se"
          },
          "Capabilities": {
            "shape": "Sj"
          },
          "ResourceTypes": {
            "shape": "Sl"
          },
          "RoleARN": {
            "shape": "S6"
          },
          "RollbackConfiguration": {
            "shape": "Sn"
          },
          "NotificationARNs": {
            "shape": "St"
          },
          "Tags": {
            "shape": "Sv"
          },
          "ChangeSetName": {
            "shape": "Sz"
          },
          "ClientToken": {
            "type": "string",
            "max": 128,
            "min": 1
          },
          "Description": {
            "shape": "S11"
          },
          "ChangeSetType": {
            "type": "string",
            "enum": [
              "CREATE",
              "UPDATE"
            ]
          }
        }
      },
      "output": {
        "resultWrapper": "CreateChangeSetResult",
        "type": "structure",
        "members": {
          "Id": {
            "shape": "S14"
          },
          "StackId": {}
        }
      }
    },
    "CreateStack": {
      "input": {
        "type": "structure",
        "required": [
          "StackName"
        ],
        "members": {
          "StackName": {},
          "TemplateBody": {
            "shape": "Sb"
          },
          "TemplateURL": {
            "shape": "Sc"
          },
          "Parameters": {
            "shape": "Se"
          },
          "DisableRollback": {
            "type": "boolean"
          },
          "RollbackConfiguration": {
            "shape": "Sn"
          },
          "TimeoutInMinutes": {
            "shape": "S18"
          },
          "NotificationARNs": {
            "shape": "St"
          },
          "Capabilities": {
            "shape": "Sj"
          },
          "ResourceTypes": {
            "shape": "Sl"
          },
          "RoleARN": {
            "shape": "S6"
          },
          "OnFailure": {
            "type": "string",
            "enum": [
              "DO_NOTHING",
              "ROLLBACK",
              "DELETE"
            ]
          },
          "StackPolicyBody": {
            "shape": "S1a"
          },
          "StackPolicyURL": {
            "shape": "S1b"
          },
          "Tags": {
            "shape": "Sv"
          },
          "ClientRequestToken": {
            "shape": "S3"
          },
          "EnableTerminationProtection": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateStackResult",
        "type": "structure",
        "members": {
          "StackId": {}
        }
      }
    },
    "CreateStackInstances": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName",
          "Accounts",
          "Regions"
        ],
        "members": {
          "StackSetName": {},
          "Accounts": {
            "shape": "S1g"
          },
          "Regions": {
            "shape": "S1i"
          },
          "ParameterOverrides": {
            "shape": "Se"
          },
          "OperationPreferences": {
            "shape": "S1k"
          },
          "OperationId": {
            "shape": "S3",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "resultWrapper": "CreateStackInstancesResult",
        "type": "structure",
        "members": {
          "OperationId": {
            "shape": "S3"
          }
        }
      }
    },
    "CreateStackSet": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName"
        ],
        "members": {
          "StackSetName": {},
          "Description": {
            "shape": "S11"
          },
          "TemplateBody": {
            "shape": "Sb"
          },
          "TemplateURL": {
            "shape": "Sc"
          },
          "Parameters": {
            "shape": "Se"
          },
          "Capabilities": {
            "shape": "Sj"
          },
          "Tags": {
            "shape": "Sv"
          },
          "AdministrationRoleARN": {
            "shape": "S6"
          },
          "ExecutionRoleName": {
            "shape": "S1r"
          },
          "ClientRequestToken": {
            "shape": "S3",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "resultWrapper": "CreateStackSetResult",
        "type": "structure",
        "members": {
          "StackSetId": {}
        }
      }
    },
    "DeleteChangeSet": {
      "input": {
        "type": "structure",
        "required": [
          "ChangeSetName"
        ],
        "members": {
          "ChangeSetName": {
            "shape": "S1v"
          },
          "StackName": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteChangeSetResult",
        "type": "structure",
        "members": {}
      }
    },
    "DeleteStack": {
      "input": {
        "type": "structure",
        "required": [
          "StackName"
        ],
        "members": {
          "StackName": {},
          "RetainResources": {
            "type": "list",
            "member": {}
          },
          "RoleARN": {
            "shape": "S6"
          },
          "ClientRequestToken": {
            "shape": "S3"
          }
        }
      }
    },
    "DeleteStackInstances": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName",
          "Accounts",
          "Regions",
          "RetainStacks"
        ],
        "members": {
          "StackSetName": {},
          "Accounts": {
            "shape": "S1g"
          },
          "Regions": {
            "shape": "S1i"
          },
          "OperationPreferences": {
            "shape": "S1k"
          },
          "RetainStacks": {
            "type": "boolean"
          },
          "OperationId": {
            "shape": "S3",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteStackInstancesResult",
        "type": "structure",
        "members": {
          "OperationId": {
            "shape": "S3"
          }
        }
      }
    },
    "DeleteStackSet": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName"
        ],
        "members": {
          "StackSetName": {}
        }
      },
      "output": {
        "resultWrapper": "DeleteStackSetResult",
        "type": "structure",
        "members": {}
      }
    },
    "DescribeAccountLimits": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeAccountLimitsResult",
        "type": "structure",
        "members": {
          "AccountLimits": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Value": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "DescribeChangeSet": {
      "input": {
        "type": "structure",
        "required": [
          "ChangeSetName"
        ],
        "members": {
          "ChangeSetName": {
            "shape": "S1v"
          },
          "StackName": {
            "shape": "S5"
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeChangeSetResult",
        "type": "structure",
        "members": {
          "ChangeSetName": {
            "shape": "Sz"
          },
          "ChangeSetId": {
            "shape": "S14"
          },
          "StackId": {},
          "StackName": {},
          "Description": {
            "shape": "S11"
          },
          "Parameters": {
            "shape": "Se"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "ExecutionStatus": {
            "shape": "S2f"
          },
          "Status": {
            "shape": "S2g"
          },
          "StatusReason": {},
          "NotificationARNs": {
            "shape": "St"
          },
          "RollbackConfiguration": {
            "shape": "Sn"
          },
          "Capabilities": {
            "shape": "Sj"
          },
          "Tags": {
            "shape": "Sv"
          },
          "Changes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Type": {
                  "type": "string",
                  "enum": [
                    "Resource"
                  ]
                },
                "ResourceChange": {
                  "type": "structure",
                  "members": {
                    "Action": {
                      "type": "string",
                      "enum": [
                        "Add",
                        "Modify",
                        "Remove"
                      ]
                    },
                    "LogicalResourceId": {},
                    "PhysicalResourceId": {},
                    "ResourceType": {
                      "shape": "Sm"
                    },
                    "Replacement": {
                      "type": "string",
                      "enum": [
                        "True",
                        "False",
                        "Conditional"
                      ]
                    },
                    "Scope": {
                      "type": "list",
                      "member": {
                        "shape": "S2q"
                      }
                    },
                    "Details": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "Target": {
                            "type": "structure",
                            "members": {
                              "Attribute": {
                                "shape": "S2q"
                              },
                              "Name": {},
                              "RequiresRecreation": {
                                "type": "string",
                                "enum": [
                                  "Never",
                                  "Conditionally",
                                  "Always"
                                ]
                              }
                            }
                          },
                          "Evaluation": {
                            "type": "string",
                            "enum": [
                              "Static",
                              "Dynamic"
                            ]
                          },
                          "ChangeSource": {
                            "type": "string",
                            "enum": [
                              "ResourceReference",
                              "ParameterReference",
                              "ResourceAttribute",
                              "DirectModification",
                              "Automatic"
                            ]
                          },
                          "CausingEntity": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "DescribeStackEvents": {
      "input": {
        "type": "structure",
        "members": {
          "StackName": {},
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeStackEventsResult",
        "type": "structure",
        "members": {
          "StackEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StackId",
                "EventId",
                "StackName",
                "Timestamp"
              ],
              "members": {
                "StackId": {},
                "EventId": {},
                "StackName": {},
                "LogicalResourceId": {},
                "PhysicalResourceId": {},
                "ResourceType": {
                  "shape": "Sm"
                },
                "Timestamp": {
                  "type": "timestamp"
                },
                "ResourceStatus": {
                  "shape": "S35"
                },
                "ResourceStatusReason": {},
                "ResourceProperties": {},
                "ClientRequestToken": {
                  "shape": "S3"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "DescribeStackInstance": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName",
          "StackInstanceAccount",
          "StackInstanceRegion"
        ],
        "members": {
          "StackSetName": {},
          "StackInstanceAccount": {
            "shape": "S1h"
          },
          "StackInstanceRegion": {}
        }
      },
      "output": {
        "resultWrapper": "DescribeStackInstanceResult",
        "type": "structure",
        "members": {
          "StackInstance": {
            "type": "structure",
            "members": {
              "StackSetId": {},
              "Region": {},
              "Account": {
                "shape": "S1h"
              },
              "StackId": {},
              "ParameterOverrides": {
                "shape": "Se"
              },
              "Status": {
                "shape": "S3b"
              },
              "StatusReason": {}
            }
          }
        }
      }
    },
    "DescribeStackResource": {
      "input": {
        "type": "structure",
        "required": [
          "StackName",
          "LogicalResourceId"
        ],
        "members": {
          "StackName": {},
          "LogicalResourceId": {}
        }
      },
      "output": {
        "resultWrapper": "DescribeStackResourceResult",
        "type": "structure",
        "members": {
          "StackResourceDetail": {
            "type": "structure",
            "required": [
              "LogicalResourceId",
              "ResourceType",
              "LastUpdatedTimestamp",
              "ResourceStatus"
            ],
            "members": {
              "StackName": {},
              "StackId": {},
              "LogicalResourceId": {},
              "PhysicalResourceId": {},
              "ResourceType": {
                "shape": "Sm"
              },
              "LastUpdatedTimestamp": {
                "type": "timestamp"
              },
              "ResourceStatus": {
                "shape": "S35"
              },
              "ResourceStatusReason": {},
              "Description": {
                "shape": "S11"
              },
              "Metadata": {}
            }
          }
        }
      }
    },
    "DescribeStackResources": {
      "input": {
        "type": "structure",
        "members": {
          "StackName": {},
          "LogicalResourceId": {},
          "PhysicalResourceId": {}
        }
      },
      "output": {
        "resultWrapper": "DescribeStackResourcesResult",
        "type": "structure",
        "members": {
          "StackResources": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "LogicalResourceId",
                "ResourceType",
                "Timestamp",
                "ResourceStatus"
              ],
              "members": {
                "StackName": {},
                "StackId": {},
                "LogicalResourceId": {},
                "PhysicalResourceId": {},
                "ResourceType": {
                  "shape": "Sm"
                },
                "Timestamp": {
                  "type": "timestamp"
                },
                "ResourceStatus": {
                  "shape": "S35"
                },
                "ResourceStatusReason": {},
                "Description": {
                  "shape": "S11"
                }
              }
            }
          }
        }
      }
    },
    "DescribeStackSet": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName"
        ],
        "members": {
          "StackSetName": {}
        }
      },
      "output": {
        "resultWrapper": "DescribeStackSetResult",
        "type": "structure",
        "members": {
          "StackSet": {
            "type": "structure",
            "members": {
              "StackSetName": {},
              "StackSetId": {},
              "Description": {
                "shape": "S11"
              },
              "Status": {
                "shape": "S3o"
              },
              "TemplateBody": {
                "shape": "Sb"
              },
              "Parameters": {
                "shape": "Se"
              },
              "Capabilities": {
                "shape": "Sj"
              },
              "Tags": {
                "shape": "Sv"
              },
              "StackSetARN": {},
              "AdministrationRoleARN": {
                "shape": "S6"
              },
              "ExecutionRoleName": {
                "shape": "S1r"
              }
            }
          }
        }
      }
    },
    "DescribeStackSetOperation": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName",
          "OperationId"
        ],
        "members": {
          "StackSetName": {},
          "OperationId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeStackSetOperationResult",
        "type": "structure",
        "members": {
          "StackSetOperation": {
            "type": "structure",
            "members": {
              "OperationId": {
                "shape": "S3"
              },
              "StackSetId": {},
              "Action": {
                "shape": "S3t"
              },
              "Status": {
                "shape": "S3u"
              },
              "OperationPreferences": {
                "shape": "S1k"
              },
              "RetainStacks": {
                "type": "boolean"
              },
              "AdministrationRoleARN": {
                "shape": "S6"
              },
              "ExecutionRoleName": {
                "shape": "S1r"
              },
              "CreationTimestamp": {
                "type": "timestamp"
              },
              "EndTimestamp": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "DescribeStacks": {
      "input": {
        "type": "structure",
        "members": {
          "StackName": {},
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeStacksResult",
        "type": "structure",
        "members": {
          "Stacks": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StackName",
                "CreationTime",
                "StackStatus"
              ],
              "members": {
                "StackId": {},
                "StackName": {},
                "ChangeSetId": {
                  "shape": "S14"
                },
                "Description": {
                  "shape": "S11"
                },
                "Parameters": {
                  "shape": "Se"
                },
                "CreationTime": {
                  "type": "timestamp"
                },
                "DeletionTime": {
                  "type": "timestamp"
                },
                "LastUpdatedTime": {
                  "type": "timestamp"
                },
                "RollbackConfiguration": {
                  "shape": "Sn"
                },
                "StackStatus": {
                  "shape": "S42"
                },
                "StackStatusReason": {},
                "DisableRollback": {
                  "type": "boolean"
                },
                "NotificationARNs": {
                  "shape": "St"
                },
                "TimeoutInMinutes": {
                  "shape": "S18"
                },
                "Capabilities": {
                  "shape": "Sj"
                },
                "Outputs": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "OutputKey": {},
                      "OutputValue": {},
                      "Description": {
                        "shape": "S11"
                      },
                      "ExportName": {}
                    }
                  }
                },
                "RoleARN": {
                  "shape": "S6"
                },
                "Tags": {
                  "shape": "Sv"
                },
                "EnableTerminationProtection": {
                  "type": "boolean"
                },
                "ParentId": {},
                "RootId": {}
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "EstimateTemplateCost": {
      "input": {
        "type": "structure",
        "members": {
          "TemplateBody": {
            "shape": "Sb"
          },
          "TemplateURL": {
            "shape": "Sc"
          },
          "Parameters": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "resultWrapper": "EstimateTemplateCostResult",
        "type": "structure",
        "members": {
          "Url": {}
        }
      }
    },
    "ExecuteChangeSet": {
      "input": {
        "type": "structure",
        "required": [
          "ChangeSetName"
        ],
        "members": {
          "ChangeSetName": {
            "shape": "S1v"
          },
          "StackName": {
            "shape": "S5"
          },
          "ClientRequestToken": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "resultWrapper": "ExecuteChangeSetResult",
        "type": "structure",
        "members": {}
      }
    },
    "GetStackPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "StackName"
        ],
        "members": {
          "StackName": {}
        }
      },
      "output": {
        "resultWrapper": "GetStackPolicyResult",
        "type": "structure",
        "members": {
          "StackPolicyBody": {
            "shape": "S1a"
          }
        }
      }
    },
    "GetTemplate": {
      "input": {
        "type": "structure",
        "members": {
          "StackName": {},
          "ChangeSetName": {
            "shape": "S1v"
          },
          "TemplateStage": {
            "shape": "S4h"
          }
        }
      },
      "output": {
        "resultWrapper": "GetTemplateResult",
        "type": "structure",
        "members": {
          "TemplateBody": {
            "shape": "Sb"
          },
          "StagesAvailable": {
            "type": "list",
            "member": {
              "shape": "S4h"
            }
          }
        }
      }
    },
    "GetTemplateSummary": {
      "input": {
        "type": "structure",
        "members": {
          "TemplateBody": {
            "shape": "Sb"
          },
          "TemplateURL": {
            "shape": "Sc"
          },
          "StackName": {
            "shape": "S5"
          },
          "StackSetName": {
            "shape": "S4l"
          }
        }
      },
      "output": {
        "resultWrapper": "GetTemplateSummaryResult",
        "type": "structure",
        "members": {
          "Parameters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ParameterKey": {},
                "DefaultValue": {},
                "ParameterType": {},
                "NoEcho": {
                  "type": "boolean"
                },
                "Description": {
                  "shape": "S11"
                },
                "ParameterConstraints": {
                  "type": "structure",
                  "members": {
                    "AllowedValues": {
                      "type": "list",
                      "member": {}
                    }
                  }
                }
              }
            }
          },
          "Description": {
            "shape": "S11"
          },
          "Capabilities": {
            "shape": "Sj"
          },
          "CapabilitiesReason": {},
          "ResourceTypes": {
            "shape": "Sl"
          },
          "Version": {},
          "Metadata": {},
          "DeclaredTransforms": {
            "shape": "S4w"
          }
        }
      }
    },
    "ListChangeSets": {
      "input": {
        "type": "structure",
        "required": [
          "StackName"
        ],
        "members": {
          "StackName": {
            "shape": "S5"
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "resultWrapper": "ListChangeSetsResult",
        "type": "structure",
        "members": {
          "Summaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StackId": {},
                "StackName": {},
                "ChangeSetId": {
                  "shape": "S14"
                },
                "ChangeSetName": {
                  "shape": "Sz"
                },
                "ExecutionStatus": {
                  "shape": "S2f"
                },
                "Status": {
                  "shape": "S2g"
                },
                "StatusReason": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "Description": {
                  "shape": "S11"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "ListExports": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "resultWrapper": "ListExportsResult",
        "type": "structure",
        "members": {
          "Exports": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ExportingStackId": {},
                "Name": {},
                "Value": {}
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "ListImports": {
      "input": {
        "type": "structure",
        "required": [
          "ExportName"
        ],
        "members": {
          "ExportName": {},
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "resultWrapper": "ListImportsResult",
        "type": "structure",
        "members": {
          "Imports": {
            "type": "list",
            "member": {}
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "ListStackInstances": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName"
        ],
        "members": {
          "StackSetName": {},
          "NextToken": {
            "shape": "S26"
          },
          "MaxResults": {
            "shape": "S5b"
          },
          "StackInstanceAccount": {
            "shape": "S1h"
          },
          "StackInstanceRegion": {}
        }
      },
      "output": {
        "resultWrapper": "ListStackInstancesResult",
        "type": "structure",
        "members": {
          "Summaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StackSetId": {},
                "Region": {},
                "Account": {
                  "shape": "S1h"
                },
                "StackId": {},
                "Status": {
                  "shape": "S3b"
                },
                "StatusReason": {}
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "ListStackResources": {
      "input": {
        "type": "structure",
        "required": [
          "StackName"
        ],
        "members": {
          "StackName": {},
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "resultWrapper": "ListStackResourcesResult",
        "type": "structure",
        "members": {
          "StackResourceSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "LogicalResourceId",
                "ResourceType",
                "LastUpdatedTimestamp",
                "ResourceStatus"
              ],
              "members": {
                "LogicalResourceId": {},
                "PhysicalResourceId": {},
                "ResourceType": {
                  "shape": "Sm"
                },
                "LastUpdatedTimestamp": {
                  "type": "timestamp"
                },
                "ResourceStatus": {
                  "shape": "S35"
                },
                "ResourceStatusReason": {}
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "ListStackSetOperationResults": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName",
          "OperationId"
        ],
        "members": {
          "StackSetName": {},
          "OperationId": {
            "shape": "S3"
          },
          "NextToken": {
            "shape": "S26"
          },
          "MaxResults": {
            "shape": "S5b"
          }
        }
      },
      "output": {
        "resultWrapper": "ListStackSetOperationResultsResult",
        "type": "structure",
        "members": {
          "Summaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Account": {
                  "shape": "S1h"
                },
                "Region": {},
                "Status": {
                  "type": "string",
                  "enum": [
                    "PENDING",
                    "RUNNING",
                    "SUCCEEDED",
                    "FAILED",
                    "CANCELLED"
                  ]
                },
                "StatusReason": {},
                "AccountGateResult": {
                  "type": "structure",
                  "members": {
                    "Status": {
                      "type": "string",
                      "enum": [
                        "SUCCEEDED",
                        "FAILED",
                        "SKIPPED"
                      ]
                    },
                    "StatusReason": {}
                  }
                }
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "ListStackSetOperations": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName"
        ],
        "members": {
          "StackSetName": {},
          "NextToken": {
            "shape": "S26"
          },
          "MaxResults": {
            "shape": "S5b"
          }
        }
      },
      "output": {
        "resultWrapper": "ListStackSetOperationsResult",
        "type": "structure",
        "members": {
          "Summaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "OperationId": {
                  "shape": "S3"
                },
                "Action": {
                  "shape": "S3t"
                },
                "Status": {
                  "shape": "S3u"
                },
                "CreationTimestamp": {
                  "type": "timestamp"
                },
                "EndTimestamp": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "ListStackSets": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S26"
          },
          "MaxResults": {
            "shape": "S5b"
          },
          "Status": {
            "shape": "S3o"
          }
        }
      },
      "output": {
        "resultWrapper": "ListStackSetsResult",
        "type": "structure",
        "members": {
          "Summaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StackSetName": {},
                "StackSetId": {},
                "Description": {
                  "shape": "S11"
                },
                "Status": {
                  "shape": "S3o"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "ListStacks": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S26"
          },
          "StackStatusFilter": {
            "type": "list",
            "member": {
              "shape": "S42"
            }
          }
        }
      },
      "output": {
        "resultWrapper": "ListStacksResult",
        "type": "structure",
        "members": {
          "StackSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StackName",
                "CreationTime",
                "StackStatus"
              ],
              "members": {
                "StackId": {},
                "StackName": {},
                "TemplateDescription": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastUpdatedTime": {
                  "type": "timestamp"
                },
                "DeletionTime": {
                  "type": "timestamp"
                },
                "StackStatus": {
                  "shape": "S42"
                },
                "StackStatusReason": {},
                "ParentId": {},
                "RootId": {}
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "SetStackPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "StackName"
        ],
        "members": {
          "StackName": {},
          "StackPolicyBody": {
            "shape": "S1a"
          },
          "StackPolicyURL": {
            "shape": "S1b"
          }
        }
      }
    },
    "SignalResource": {
      "input": {
        "type": "structure",
        "required": [
          "StackName",
          "LogicalResourceId",
          "UniqueId",
          "Status"
        ],
        "members": {
          "StackName": {
            "shape": "S5"
          },
          "LogicalResourceId": {},
          "UniqueId": {
            "type": "string",
            "max": 64,
            "min": 1
          },
          "Status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "FAILURE"
            ]
          }
        }
      }
    },
    "StopStackSetOperation": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName",
          "OperationId"
        ],
        "members": {
          "StackSetName": {},
          "OperationId": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "resultWrapper": "StopStackSetOperationResult",
        "type": "structure",
        "members": {}
      }
    },
    "UpdateStack": {
      "input": {
        "type": "structure",
        "required": [
          "StackName"
        ],
        "members": {
          "StackName": {},
          "TemplateBody": {
            "shape": "Sb"
          },
          "TemplateURL": {
            "shape": "Sc"
          },
          "UsePreviousTemplate": {
            "type": "boolean"
          },
          "StackPolicyDuringUpdateBody": {
            "type": "string",
            "max": 16384,
            "min": 1
          },
          "StackPolicyDuringUpdateURL": {
            "type": "string",
            "max": 1350,
            "min": 1
          },
          "Parameters": {
            "shape": "Se"
          },
          "Capabilities": {
            "shape": "Sj"
          },
          "ResourceTypes": {
            "shape": "Sl"
          },
          "RoleARN": {
            "shape": "S6"
          },
          "RollbackConfiguration": {
            "shape": "Sn"
          },
          "StackPolicyBody": {
            "shape": "S1a"
          },
          "StackPolicyURL": {
            "shape": "S1b"
          },
          "NotificationARNs": {
            "shape": "St"
          },
          "Tags": {
            "shape": "Sv"
          },
          "ClientRequestToken": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateStackResult",
        "type": "structure",
        "members": {
          "StackId": {}
        }
      }
    },
    "UpdateStackInstances": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName",
          "Accounts",
          "Regions"
        ],
        "members": {
          "StackSetName": {
            "shape": "S4l"
          },
          "Accounts": {
            "shape": "S1g"
          },
          "Regions": {
            "shape": "S1i"
          },
          "ParameterOverrides": {
            "shape": "Se"
          },
          "OperationPreferences": {
            "shape": "S1k"
          },
          "OperationId": {
            "shape": "S3",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateStackInstancesResult",
        "type": "structure",
        "members": {
          "OperationId": {
            "shape": "S3"
          }
        }
      }
    },
    "UpdateStackSet": {
      "input": {
        "type": "structure",
        "required": [
          "StackSetName"
        ],
        "members": {
          "StackSetName": {},
          "Description": {
            "shape": "S11"
          },
          "TemplateBody": {
            "shape": "Sb"
          },
          "TemplateURL": {
            "shape": "Sc"
          },
          "UsePreviousTemplate": {
            "type": "boolean"
          },
          "Parameters": {
            "shape": "Se"
          },
          "Capabilities": {
            "shape": "Sj"
          },
          "Tags": {
            "shape": "Sv"
          },
          "OperationPreferences": {
            "shape": "S1k"
          },
          "AdministrationRoleARN": {
            "shape": "S6"
          },
          "ExecutionRoleName": {
            "shape": "S1r"
          },
          "OperationId": {
            "shape": "S3",
            "idempotencyToken": true
          },
          "Accounts": {
            "shape": "S1g"
          },
          "Regions": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateStackSetResult",
        "type": "structure",
        "members": {
          "OperationId": {
            "shape": "S3"
          }
        }
      }
    },
    "UpdateTerminationProtection": {
      "input": {
        "type": "structure",
        "required": [
          "EnableTerminationProtection",
          "StackName"
        ],
        "members": {
          "EnableTerminationProtection": {
            "type": "boolean"
          },
          "StackName": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateTerminationProtectionResult",
        "type": "structure",
        "members": {
          "StackId": {}
        }
      }
    },
    "ValidateTemplate": {
      "input": {
        "type": "structure",
        "members": {
          "TemplateBody": {
            "shape": "Sb"
          },
          "TemplateURL": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "resultWrapper": "ValidateTemplateResult",
        "type": "structure",
        "members": {
          "Parameters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ParameterKey": {},
                "DefaultValue": {},
                "NoEcho": {
                  "type": "boolean"
                },
                "Description": {
                  "shape": "S11"
                }
              }
            }
          },
          "Description": {
            "shape": "S11"
          },
          "Capabilities": {
            "shape": "Sj"
          },
          "CapabilitiesReason": {},
          "DeclaredTransforms": {
            "shape": "S4w"
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9][-a-zA-Z0-9]*"
    },
    "S5": {
      "type": "string",
      "min": 1,
      "pattern": "([a-zA-Z][-a-zA-Z0-9]*)|(arn:\\b(aws|aws-us-gov|aws-cn)\\b:[-a-zA-Z0-9:/._+]*)"
    },
    "S6": {
      "type": "string",
      "max": 2048,
      "min": 20
    },
    "Sb": {
      "type": "string",
      "min": 1
    },
    "Sc": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "Se": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ParameterKey": {},
          "ParameterValue": {},
          "UsePreviousValue": {
            "type": "boolean"
          },
          "ResolvedValue": {}
        }
      }
    },
    "Sj": {
      "type": "list",
      "member": {
        "type": "string",
        "enum": [
          "CAPABILITY_IAM",
          "CAPABILITY_NAMED_IAM"
        ]
      }
    },
    "Sl": {
      "type": "list",
      "member": {
        "shape": "Sm"
      }
    },
    "Sm": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "Sn": {
      "type": "structure",
      "members": {
        "RollbackTriggers": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Arn",
              "Type"
            ],
            "members": {
              "Arn": {},
              "Type": {}
            }
          },
          "max": 5
        },
        "MonitoringTimeInMinutes": {
          "type": "integer",
          "max": 180,
          "min": 0
        }
      }
    },
    "St": {
      "type": "list",
      "member": {},
      "max": 5
    },
    "Sv": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {
            "type": "string",
            "max": 128,
            "min": 1
          },
          "Value": {
            "type": "string",
            "max": 256,
            "min": 1
          }
        }
      },
      "max": 50
    },
    "Sz": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z][-a-zA-Z0-9]*"
    },
    "S11": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "S14": {
      "type": "string",
      "min": 1,
      "pattern": "arn:[-a-zA-Z0-9:/]*"
    },
    "S18": {
      "type": "integer",
      "min": 1
    },
    "S1a": {
      "type": "string",
      "max": 16384,
      "min": 1
    },
    "S1b": {
      "type": "string",
      "max": 1350,
      "min": 1
    },
    "S1g": {
      "type": "list",
      "member": {
        "shape": "S1h"
      }
    },
    "S1h": {
      "type": "string",
      "pattern": "[0-9]{12}"
    },
    "S1i": {
      "type": "list",
      "member": {}
    },
    "S1k": {
      "type": "structure",
      "members": {
        "RegionOrder": {
          "shape": "S1i"
        },
        "FailureToleranceCount": {
          "type": "integer",
          "min": 0
        },
        "FailureTolerancePercentage": {
          "type": "integer",
          "max": 100,
          "min": 0
        },
        "MaxConcurrentCount": {
          "type": "integer",
          "min": 1
        },
        "MaxConcurrentPercentage": {
          "type": "integer",
          "max": 100,
          "min": 1
        }
      }
    },
    "S1r": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z_0-9+=,.@-]+"
    },
    "S1v": {
      "type": "string",
      "max": 1600,
      "min": 1,
      "pattern": "[a-zA-Z][-a-zA-Z0-9]*|arn:[-a-zA-Z0-9:/]*"
    },
    "S26": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "S2f": {
      "type": "string",
      "enum": [
        "UNAVAILABLE",
        "AVAILABLE",
        "EXECUTE_IN_PROGRESS",
        "EXECUTE_COMPLETE",
        "EXECUTE_FAILED",
        "OBSOLETE"
      ]
    },
    "S2g": {
      "type": "string",
      "enum": [
        "CREATE_PENDING",
        "CREATE_IN_PROGRESS",
        "CREATE_COMPLETE",
        "DELETE_COMPLETE",
        "FAILED"
      ]
    },
    "S2q": {
      "type": "string",
      "enum": [
        "Properties",
        "Metadata",
        "CreationPolicy",
        "UpdatePolicy",
        "DeletionPolicy",
        "Tags"
      ]
    },
    "S35": {
      "type": "string",
      "enum": [
        "CREATE_IN_PROGRESS",
        "CREATE_FAILED",
        "CREATE_COMPLETE",
        "DELETE_IN_PROGRESS",
        "DELETE_FAILED",
        "DELETE_COMPLETE",
        "DELETE_SKIPPED",
        "UPDATE_IN_PROGRESS",
        "UPDATE_FAILED",
        "UPDATE_COMPLETE"
      ]
    },
    "S3b": {
      "type": "string",
      "enum": [
        "CURRENT",
        "OUTDATED",
        "INOPERABLE"
      ]
    },
    "S3o": {
      "type": "string",
      "enum": [
        "ACTIVE",
        "DELETED"
      ]
    },
    "S3t": {
      "type": "string",
      "enum": [
        "CREATE",
        "UPDATE",
        "DELETE"
      ]
    },
    "S3u": {
      "type": "string",
      "enum": [
        "RUNNING",
        "SUCCEEDED",
        "FAILED",
        "STOPPING",
        "STOPPED"
      ]
    },
    "S42": {
      "type": "string",
      "enum": [
        "CREATE_IN_PROGRESS",
        "CREATE_FAILED",
        "CREATE_COMPLETE",
        "ROLLBACK_IN_PROGRESS",
        "ROLLBACK_FAILED",
        "ROLLBACK_COMPLETE",
        "DELETE_IN_PROGRESS",
        "DELETE_FAILED",
        "DELETE_COMPLETE",
        "UPDATE_IN_PROGRESS",
        "UPDATE_COMPLETE_CLEANUP_IN_PROGRESS",
        "UPDATE_COMPLETE",
        "UPDATE_ROLLBACK_IN_PROGRESS",
        "UPDATE_ROLLBACK_FAILED",
        "UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS",
        "UPDATE_ROLLBACK_COMPLETE",
        "REVIEW_IN_PROGRESS"
      ]
    },
    "S4h": {
      "type": "string",
      "enum": [
        "Original",
        "Processed"
      ]
    },
    "S4l": {
      "type": "string",
      "pattern": "[a-zA-Z][-a-zA-Z0-9]*(?::[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12})?"
    },
    "S4w": {
      "type": "list",
      "member": {}
    },
    "S5b": {
      "type": "integer",
      "max": 100,
      "min": 1
    }
  }
}