{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2010-05-15",
    "endpointPrefix":"cloudformation",
    "protocol":"query",
    "serviceFullName":"AWS CloudFormation",
    "signatureVersion":"v4",
    "uid":"cloudformation-2010-05-15",
    "xmlNamespace":"http://cloudformation.amazonaws.com/doc/2010-05-15/"
  },
  "operations":{
    "CancelUpdateStack":{
      "name":"CancelUpdateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelUpdateStackInput"},
      "errors":[
        {"shape":"TokenAlreadyExistsException"}
      ],
      "documentation":"<p>Cancels an update on the specified stack. If the call completes successfully, the stack rolls back the update and reverts to the previous stack configuration.</p> <note> <p>You can cancel only stacks that are in the UPDATE_IN_PROGRESS state.</p> </note>"
    },
    "ContinueUpdateRollback":{
      "name":"ContinueUpdateRollback",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ContinueUpdateRollbackInput"},
      "output":{
        "shape":"ContinueUpdateRollbackOutput",
        "resultWrapper":"ContinueUpdateRollbackResult"
      },
      "errors":[
        {"shape":"TokenAlreadyExistsException"}
      ],
      "documentation":"<p>For a specified stack that is in the <code>UPDATE_ROLLBACK_FAILED</code> state, continues rolling it back to the <code>UPDATE_ROLLBACK_COMPLETE</code> state. Depending on the cause of the failure, you can manually <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\"> fix the error</a> and continue the rollback. By continuing the rollback, you can return your stack to a working state (the <code>UPDATE_ROLLBACK_COMPLETE</code> state), and then try to update the stack again.</p> <p>A stack goes into the <code>UPDATE_ROLLBACK_FAILED</code> state when AWS CloudFormation cannot roll back all changes after a failed stack update. For example, you might have a stack that is rolling back to an old database instance that was deleted outside of AWS CloudFormation. Because AWS CloudFormation doesn't know the database was deleted, it assumes that the database instance still exists and attempts to roll back to it, causing the update rollback to fail.</p>"
    },
    "CreateChangeSet":{
      "name":"CreateChangeSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateChangeSetInput"},
      "output":{
        "shape":"CreateChangeSetOutput",
        "resultWrapper":"CreateChangeSetResult"
      },
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InsufficientCapabilitiesException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a list of changes that will be applied to a stack so that you can review the changes before executing them. You can create a change set for a stack that doesn't exist or an existing stack. If you create a change set for a stack that doesn't exist, the change set shows all of the resources that AWS CloudFormation will create. If you create a change set for an existing stack, AWS CloudFormation compares the stack's information with the information that you submit in the change set and lists the differences. Use change sets to understand which resources AWS CloudFormation will create or change, and how it will change resources in an existing stack, before you create or update a stack.</p> <p>To create a change set for a stack that doesn't exist, for the <code>ChangeSetType</code> parameter, specify <code>CREATE</code>. To create a change set for an existing stack, specify <code>UPDATE</code> for the <code>ChangeSetType</code> parameter. After the <code>CreateChangeSet</code> call successfully completes, AWS CloudFormation starts creating the change set. To check the status of the change set or to review it, use the <a>DescribeChangeSet</a> action.</p> <p>When you are satisfied with the changes the change set will make, execute the change set by using the <a>ExecuteChangeSet</a> action. AWS CloudFormation doesn't make changes until you execute the change set.</p>"
    },
    "CreateStack":{
      "name":"CreateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStackInput"},
      "output":{
        "shape":"CreateStackOutput",
        "resultWrapper":"CreateStackResult"
      },
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"TokenAlreadyExistsException"},
        {"shape":"InsufficientCapabilitiesException"}
      ],
      "documentation":"<p>Creates a stack as specified in the template. After the call completes successfully, the stack creation starts. You can check the status of the stack via the <a>DescribeStacks</a> API.</p>"
    },
    "CreateStackInstances":{
      "name":"CreateStackInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStackInstancesInput"},
      "output":{
        "shape":"CreateStackInstancesOutput",
        "resultWrapper":"CreateStackInstancesResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"OperationInProgressException"},
        {"shape":"OperationIdAlreadyExistsException"},
        {"shape":"StaleRequestException"},
        {"shape":"InvalidOperationException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates stack instances for the specified accounts, within the specified regions. A stack instance refers to a stack in a specific account and region. <code>Accounts</code> and <code>Regions</code> are required parameters—you must specify at least one account and one region. </p>"
    },
    "CreateStackSet":{
      "name":"CreateStackSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStackSetInput"},
      "output":{
        "shape":"CreateStackSetOutput",
        "resultWrapper":"CreateStackSetResult"
      },
      "errors":[
        {"shape":"NameAlreadyExistsException"},
        {"shape":"CreatedButModifiedException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a stack set.</p>"
    },
    "DeleteChangeSet":{
      "name":"DeleteChangeSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteChangeSetInput"},
      "output":{
        "shape":"DeleteChangeSetOutput",
        "resultWrapper":"DeleteChangeSetResult"
      },
      "errors":[
        {"shape":"InvalidChangeSetStatusException"}
      ],
      "documentation":"<p>Deletes the specified change set. Deleting change sets ensures that no one executes the wrong change set.</p> <p>If the call successfully completes, AWS CloudFormation successfully deleted the change set.</p>"
    },
    "DeleteStack":{
      "name":"DeleteStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStackInput"},
      "errors":[
        {"shape":"TokenAlreadyExistsException"}
      ],
      "documentation":"<p>Deletes a specified stack. Once the call completes successfully, stack deletion starts. Deleted stacks do not show up in the <a>DescribeStacks</a> API if the deletion has been completed successfully.</p>"
    },
    "DeleteStackInstances":{
      "name":"DeleteStackInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStackInstancesInput"},
      "output":{
        "shape":"DeleteStackInstancesOutput",
        "resultWrapper":"DeleteStackInstancesResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"OperationInProgressException"},
        {"shape":"OperationIdAlreadyExistsException"},
        {"shape":"StaleRequestException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Deletes stack instances for the specified accounts, in the specified regions. </p>"
    },
    "DeleteStackSet":{
      "name":"DeleteStackSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStackSetInput"},
      "output":{
        "shape":"DeleteStackSetOutput",
        "resultWrapper":"DeleteStackSetResult"
      },
      "errors":[
        {"shape":"StackSetNotEmptyException"},
        {"shape":"OperationInProgressException"}
      ],
      "documentation":"<p>Deletes a stack set. Before you can delete a stack set, all of its member stack instances must be deleted. For more information about how to do this, see <a>DeleteStackInstances</a>. </p>"
    },
    "DescribeAccountLimits":{
      "name":"DescribeAccountLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountLimitsInput"},
      "output":{
        "shape":"DescribeAccountLimitsOutput",
        "resultWrapper":"DescribeAccountLimitsResult"
      },
      "documentation":"<p>Retrieves your account's AWS CloudFormation limits, such as the maximum number of stacks that you can create in your account.</p>"
    },
    "DescribeChangeSet":{
      "name":"DescribeChangeSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeChangeSetInput"},
      "output":{
        "shape":"DescribeChangeSetOutput",
        "resultWrapper":"DescribeChangeSetResult"
      },
      "errors":[
        {"shape":"ChangeSetNotFoundException"}
      ],
      "documentation":"<p>Returns the inputs for the change set and a list of changes that AWS CloudFormation will make if you execute the change set. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-changesets.html\">Updating Stacks Using Change Sets</a> in the AWS CloudFormation User Guide.</p>"
    },
    "DescribeStackEvents":{
      "name":"DescribeStackEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackEventsInput"},
      "output":{
        "shape":"DescribeStackEventsOutput",
        "resultWrapper":"DescribeStackEventsResult"
      },
      "documentation":"<p>Returns all stack related events for a specified stack in reverse chronological order. For more information about a stack's event history, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/concept-stack.html\">Stacks</a> in the AWS CloudFormation User Guide.</p> <note> <p>You can list events for stacks that have failed to create or have been deleted by specifying the unique stack identifier (stack ID).</p> </note>"
    },
    "DescribeStackInstance":{
      "name":"DescribeStackInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackInstanceInput"},
      "output":{
        "shape":"DescribeStackInstanceOutput",
        "resultWrapper":"DescribeStackInstanceResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"StackInstanceNotFoundException"}
      ],
      "documentation":"<p>Returns the stack instance that's associated with the specified stack set, AWS account, and region.</p> <p>For a list of stack instances that are associated with a specific stack set, use <a>ListStackInstances</a>.</p>"
    },
    "DescribeStackResource":{
      "name":"DescribeStackResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackResourceInput"},
      "output":{
        "shape":"DescribeStackResourceOutput",
        "resultWrapper":"DescribeStackResourceResult"
      },
      "documentation":"<p>Returns a description of the specified resource in the specified stack.</p> <p>For deleted stacks, DescribeStackResource returns resource information for up to 90 days after the stack has been deleted.</p>"
    },
    "DescribeStackResources":{
      "name":"DescribeStackResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackResourcesInput"},
      "output":{
        "shape":"DescribeStackResourcesOutput",
        "resultWrapper":"DescribeStackResourcesResult"
      },
      "documentation":"<p>Returns AWS resource descriptions for running and deleted stacks. If <code>StackName</code> is specified, all the associated resources that are part of the stack are returned. If <code>PhysicalResourceId</code> is specified, the associated resources of the stack that the resource belongs to are returned.</p> <note> <p>Only the first 100 resources will be returned. If your stack has more resources than this, you should use <code>ListStackResources</code> instead.</p> </note> <p>For deleted stacks, <code>DescribeStackResources</code> returns resource information for up to 90 days after the stack has been deleted.</p> <p>You must specify either <code>StackName</code> or <code>PhysicalResourceId</code>, but not both. In addition, you can specify <code>LogicalResourceId</code> to filter the returned result. For more information about resources, the <code>LogicalResourceId</code> and <code>PhysicalResourceId</code>, go to the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/\">AWS CloudFormation User Guide</a>.</p> <note> <p>A <code>ValidationError</code> is returned if you specify both <code>StackName</code> and <code>PhysicalResourceId</code> in the same request.</p> </note>"
    },
    "DescribeStackSet":{
      "name":"DescribeStackSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackSetInput"},
      "output":{
        "shape":"DescribeStackSetOutput",
        "resultWrapper":"DescribeStackSetResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"}
      ],
      "documentation":"<p>Returns the description of the specified stack set. </p>"
    },
    "DescribeStackSetOperation":{
      "name":"DescribeStackSetOperation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackSetOperationInput"},
      "output":{
        "shape":"DescribeStackSetOperationOutput",
        "resultWrapper":"DescribeStackSetOperationResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"OperationNotFoundException"}
      ],
      "documentation":"<p>Returns the description of the specified stack set operation. </p>"
    },
    "DescribeStacks":{
      "name":"DescribeStacks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStacksInput"},
      "output":{
        "shape":"DescribeStacksOutput",
        "resultWrapper":"DescribeStacksResult"
      },
      "documentation":"<p>Returns the description for the specified stack; if no stack name was specified, then it returns the description for all the stacks created.</p> <note> <p>If the stack does not exist, an <code>AmazonCloudFormationException</code> is returned.</p> </note>"
    },
    "EstimateTemplateCost":{
      "name":"EstimateTemplateCost",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EstimateTemplateCostInput"},
      "output":{
        "shape":"EstimateTemplateCostOutput",
        "resultWrapper":"EstimateTemplateCostResult"
      },
      "documentation":"<p>Returns the estimated monthly cost of a template. The return value is an AWS Simple Monthly Calculator URL with a query string that describes the resources required to run the template.</p>"
    },
    "ExecuteChangeSet":{
      "name":"ExecuteChangeSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExecuteChangeSetInput"},
      "output":{
        "shape":"ExecuteChangeSetOutput",
        "resultWrapper":"ExecuteChangeSetResult"
      },
      "errors":[
        {"shape":"InvalidChangeSetStatusException"},
        {"shape":"ChangeSetNotFoundException"},
        {"shape":"InsufficientCapabilitiesException"},
        {"shape":"TokenAlreadyExistsException"}
      ],
      "documentation":"<p>Updates a stack using the input information that was provided when the specified change set was created. After the call successfully completes, AWS CloudFormation starts updating the stack. Use the <a>DescribeStacks</a> action to view the status of the update.</p> <p>When you execute a change set, AWS CloudFormation deletes all other change sets associated with the stack because they aren't valid for the updated stack.</p> <p>If a stack policy is associated with the stack, AWS CloudFormation enforces the policy during the update. You can't specify a temporary stack policy that overrides the current policy.</p>"
    },
    "GetStackPolicy":{
      "name":"GetStackPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetStackPolicyInput"},
      "output":{
        "shape":"GetStackPolicyOutput",
        "resultWrapper":"GetStackPolicyResult"
      },
      "documentation":"<p>Returns the stack policy for a specified stack. If a stack doesn't have a policy, a null value is returned.</p>"
    },
    "GetTemplate":{
      "name":"GetTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTemplateInput"},
      "output":{
        "shape":"GetTemplateOutput",
        "resultWrapper":"GetTemplateResult"
      },
      "errors":[
        {"shape":"ChangeSetNotFoundException"}
      ],
      "documentation":"<p>Returns the template body for a specified stack. You can get the template for running or deleted stacks.</p> <p>For deleted stacks, GetTemplate returns the template for up to 90 days after the stack has been deleted.</p> <note> <p> If the template does not exist, a <code>ValidationError</code> is returned. </p> </note>"
    },
    "GetTemplateSummary":{
      "name":"GetTemplateSummary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTemplateSummaryInput"},
      "output":{
        "shape":"GetTemplateSummaryOutput",
        "resultWrapper":"GetTemplateSummaryResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"}
      ],
      "documentation":"<p>Returns information about a new or existing template. The <code>GetTemplateSummary</code> action is useful for viewing parameter information, such as default parameter values and parameter types, before you create or update a stack or stack set.</p> <p>You can use the <code>GetTemplateSummary</code> action when you submit a template, or you can get template information for a stack set, or a running or deleted stack.</p> <p>For deleted stacks, <code>GetTemplateSummary</code> returns the template information for up to 90 days after the stack has been deleted. If the template does not exist, a <code>ValidationError</code> is returned.</p>"
    },
    "ListChangeSets":{
      "name":"ListChangeSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListChangeSetsInput"},
      "output":{
        "shape":"ListChangeSetsOutput",
        "resultWrapper":"ListChangeSetsResult"
      },
      "documentation":"<p>Returns the ID and status of each active change set for a stack. For example, AWS CloudFormation lists change sets that are in the <code>CREATE_IN_PROGRESS</code> or <code>CREATE_PENDING</code> state.</p>"
    },
    "ListExports":{
      "name":"ListExports",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListExportsInput"},
      "output":{
        "shape":"ListExportsOutput",
        "resultWrapper":"ListExportsResult"
      },
      "documentation":"<p>Lists all exported output values in the account and region in which you call this action. Use this action to see the exported output values that you can import into other stacks. To import values, use the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-importvalue.html\"> <code>Fn::ImportValue</code> </a> function. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-exports.html\"> AWS CloudFormation Export Stack Output Values</a>.</p>"
    },
    "ListImports":{
      "name":"ListImports",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListImportsInput"},
      "output":{
        "shape":"ListImportsOutput",
        "resultWrapper":"ListImportsResult"
      },
      "documentation":"<p>Lists all stacks that are importing an exported output value. To modify or remove an exported output value, first use this action to see which stacks are using it. To see the exported output values in your account, see <a>ListExports</a>. </p> <p>For more information about importing an exported output value, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-importvalue.html\"> <code>Fn::ImportValue</code> </a> function. </p>"
    },
    "ListStackInstances":{
      "name":"ListStackInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackInstancesInput"},
      "output":{
        "shape":"ListStackInstancesOutput",
        "resultWrapper":"ListStackInstancesResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"}
      ],
      "documentation":"<p>Returns summary information about stack instances that are associated with the specified stack set. You can filter for stack instances that are associated with a specific AWS account name or region.</p>"
    },
    "ListStackResources":{
      "name":"ListStackResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackResourcesInput"},
      "output":{
        "shape":"ListStackResourcesOutput",
        "resultWrapper":"ListStackResourcesResult"
      },
      "documentation":"<p>Returns descriptions of all resources of the specified stack.</p> <p>For deleted stacks, ListStackResources returns resource information for up to 90 days after the stack has been deleted.</p>"
    },
    "ListStackSetOperationResults":{
      "name":"ListStackSetOperationResults",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackSetOperationResultsInput"},
      "output":{
        "shape":"ListStackSetOperationResultsOutput",
        "resultWrapper":"ListStackSetOperationResultsResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"OperationNotFoundException"}
      ],
      "documentation":"<p>Returns summary information about the results of a stack set operation. </p>"
    },
    "ListStackSetOperations":{
      "name":"ListStackSetOperations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackSetOperationsInput"},
      "output":{
        "shape":"ListStackSetOperationsOutput",
        "resultWrapper":"ListStackSetOperationsResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"}
      ],
      "documentation":"<p>Returns summary information about operations performed on a stack set. </p>"
    },
    "ListStackSets":{
      "name":"ListStackSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackSetsInput"},
      "output":{
        "shape":"ListStackSetsOutput",
        "resultWrapper":"ListStackSetsResult"
      },
      "documentation":"<p>Returns summary information about stack sets that are associated with the user.</p>"
    },
    "ListStacks":{
      "name":"ListStacks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStacksInput"},
      "output":{
        "shape":"ListStacksOutput",
        "resultWrapper":"ListStacksResult"
      },
      "documentation":"<p>Returns the summary information for stacks whose status matches the specified StackStatusFilter. Summary information for stacks that have been deleted is kept for 90 days after the stack is deleted. If no StackStatusFilter is specified, summary information for all stacks is returned (including existing stacks and stacks that have been deleted).</p>"
    },
    "SetStackPolicy":{
      "name":"SetStackPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetStackPolicyInput"},
      "documentation":"<p>Sets a stack policy for a specified stack.</p>"
    },
    "SignalResource":{
      "name":"SignalResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SignalResourceInput"},
      "documentation":"<p>Sends a signal to the specified resource with a success or failure status. You can use the SignalResource API in conjunction with a creation policy or update policy. AWS CloudFormation doesn't proceed with a stack creation or update until resources receive the required number of signals or the timeout period is exceeded. The SignalResource API is useful in cases where you want to send signals from anywhere other than an Amazon EC2 instance.</p>"
    },
    "StopStackSetOperation":{
      "name":"StopStackSetOperation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopStackSetOperationInput"},
      "output":{
        "shape":"StopStackSetOperationOutput",
        "resultWrapper":"StopStackSetOperationResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"OperationNotFoundException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Stops an in-progress operation on a stack set and its associated stack instances. </p>"
    },
    "UpdateStack":{
      "name":"UpdateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStackInput"},
      "output":{
        "shape":"UpdateStackOutput",
        "resultWrapper":"UpdateStackResult"
      },
      "errors":[
        {"shape":"InsufficientCapabilitiesException"},
        {"shape":"TokenAlreadyExistsException"}
      ],
      "documentation":"<p>Updates a stack as specified in the template. After the call completes successfully, the stack update starts. You can check the status of the stack via the <a>DescribeStacks</a> action.</p> <p>To get a copy of the template for an existing stack, you can use the <a>GetTemplate</a> action.</p> <p>For more information about creating an update template, updating a stack, and monitoring the progress of the update, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks.html\">Updating a Stack</a>.</p>"
    },
    "UpdateStackSet":{
      "name":"UpdateStackSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStackSetInput"},
      "output":{
        "shape":"UpdateStackSetOutput",
        "resultWrapper":"UpdateStackSetResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"OperationInProgressException"},
        {"shape":"OperationIdAlreadyExistsException"},
        {"shape":"StaleRequestException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Updates the stack set and <i>all</i> associated stack instances.</p> <p>Even if the stack set operation created by updating the stack set fails (completely or partially, below or above a specified failure tolerance), the stack set is updated with your changes. Subsequent <a>CreateStackInstances</a> calls on the specified stack set use the updated stack set.</p>"
    },
    "ValidateTemplate":{
      "name":"ValidateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ValidateTemplateInput"},
      "output":{
        "shape":"ValidateTemplateOutput",
        "resultWrapper":"ValidateTemplateResult"
      },
      "documentation":"<p>Validates a specified template. AWS CloudFormation first checks if the template is valid JSON. If it isn't, AWS CloudFormation checks if the template is valid YAML. If both these checks fail, AWS CloudFormation returns a template validation error.</p>"
    }
  },
  "shapes":{
    "Account":{
      "type":"string",
      "pattern":"[0-9]{12}"
    },
    "AccountGateResult":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"AccountGateStatus",
          "documentation":"<p>The status of the account gate function.</p> <ul> <li> <p> <code>SUCCEEDED</code>: The account gate function has determined that the account and region passes any requirements for a stack set operation to occur. AWS CloudFormation proceeds with the stack operation in that account and region. </p> </li> <li> <p> <code>FAILED</code>: The account gate function has determined that the account and region does not meet the requirements for a stack set operation to occur. AWS CloudFormation cancels the stack set operation in that account and region, and sets the stack set operation result status for that account and region to <code>FAILED</code>. </p> </li> <li> <p> <code>SKIPPED</code>: AWS CloudFormation has skipped calling the account gate function for this account and region, for one of the following reasons:</p> <ul> <li> <p>An account gate function has not been specified for the account and region. AWS CloudFormation proceeds with the stack set operation in this account and region.</p> </li> <li> <p>The <code>AWSCloudFormationStackSetExecutionRole</code> of the stack set adminstration account lacks permissions to invoke the function. AWS CloudFormation proceeds with the stack set operation in this account and region.</p> </li> <li> <p>Either no action is necessary, or no action is possible, on the stack. AWS CloudFormation skips the stack set operation in this account and region.</p> </li> </ul> </li> </ul>"
        },
        "StatusReason":{
          "shape":"AccountGateStatusReason",
          "documentation":"<p>The reason for the account gate status assigned to this account and region for the stack set operation.</p>"
        }
      },
      "documentation":"<p>Structure that contains the results of the account gate function which AWS CloudFormation invokes, if present, before proceeding with a stack set operation in an account and region.</p> <p>For each account and region, AWS CloudFormation lets you specify a Lamdba function that encapsulates any requirements that must be met before CloudFormation can proceed with a stack set operation in that account and region. CloudFormation invokes the function each time a stack set operation is requested for that account and region; if the function returns <code>FAILED</code>, CloudFormation cancels the operation in that account and region, and sets the stack set operation result status for that account and region to <code>FAILED</code>. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-account-gating.html\">Configuring a target account gate</a>.</p>"
    },
    "AccountGateStatus":{
      "type":"string",
      "enum":[
        "SUCCEEDED",
        "FAILED",
        "SKIPPED"
      ]
    },
    "AccountGateStatusReason":{"type":"string"},
    "AccountLimit":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"LimitName",
          "documentation":"<p>The name of the account limit. Currently, the only account limit is <code>StackLimit</code>.</p>"
        },
        "Value":{
          "shape":"LimitValue",
          "documentation":"<p>The value that is associated with the account limit name.</p>"
        }
      },
      "documentation":"<p>The AccountLimit data type.</p>"
    },
    "AccountLimitList":{
      "type":"list",
      "member":{"shape":"AccountLimit"}
    },
    "AccountList":{
      "type":"list",
      "member":{"shape":"Account"}
    },
    "AllowedValue":{"type":"string"},
    "AllowedValues":{
      "type":"list",
      "member":{"shape":"AllowedValue"}
    },
    "AlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The resource with the name requested already exists.</p>",
      "error":{
        "code":"AlreadyExistsException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Arn":{"type":"string"},
    "CancelUpdateStackInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique stack ID that is associated with the stack.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>A unique identifier for this <code>CancelUpdateStack</code> request. Specify this token if you plan to retry requests so that AWS CloudFormation knows that you're not attempting to cancel an update on a stack with the same name. You might retry <code>CancelUpdateStack</code> requests to ensure that AWS CloudFormation successfully received them.</p>"
        }
      },
      "documentation":"<p>The input for the <a>CancelUpdateStack</a> action.</p>"
    },
    "Capabilities":{
      "type":"list",
      "member":{"shape":"Capability"}
    },
    "CapabilitiesReason":{"type":"string"},
    "Capability":{
      "type":"string",
      "enum":[
        "CAPABILITY_IAM",
        "CAPABILITY_NAMED_IAM"
      ]
    },
    "CausingEntity":{"type":"string"},
    "Change":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"ChangeType",
          "documentation":"<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>"
        },
        "ResourceChange":{
          "shape":"ResourceChange",
          "documentation":"<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>"
        }
      },
      "documentation":"<p>The <code>Change</code> structure describes the changes AWS CloudFormation will perform if you execute the change set.</p>"
    },
    "ChangeAction":{
      "type":"string",
      "enum":[
        "Add",
        "Modify",
        "Remove"
      ]
    },
    "ChangeSetId":{
      "type":"string",
      "min":1,
      "pattern":"arn:[-a-zA-Z0-9:/]*"
    },
    "ChangeSetName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z][-a-zA-Z0-9]*"
    },
    "ChangeSetNameOrId":{
      "type":"string",
      "max":1600,
      "min":1,
      "pattern":"[a-zA-Z][-a-zA-Z0-9]*|arn:[-a-zA-Z0-9:/]*"
    },
    "ChangeSetNotFoundException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified change set name or ID doesn't exit. To view valid change sets for a stack, use the <code>ListChangeSets</code> action.</p>",
      "error":{
        "code":"ChangeSetNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ChangeSetStatus":{
      "type":"string",
      "enum":[
        "CREATE_PENDING",
        "CREATE_IN_PROGRESS",
        "CREATE_COMPLETE",
        "DELETE_COMPLETE",
        "FAILED"
      ]
    },
    "ChangeSetStatusReason":{"type":"string"},
    "ChangeSetSummaries":{
      "type":"list",
      "member":{"shape":"ChangeSetSummary"}
    },
    "ChangeSetSummary":{
      "type":"structure",
      "members":{
        "StackId":{
          "shape":"StackId",
          "documentation":"<p>The ID of the stack with which the change set is associated.</p>"
        },
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name of the stack with which the change set is associated.</p>"
        },
        "ChangeSetId":{
          "shape":"ChangeSetId",
          "documentation":"<p>The ID of the change set.</p>"
        },
        "ChangeSetName":{
          "shape":"ChangeSetName",
          "documentation":"<p>The name of the change set.</p>"
        },
        "ExecutionStatus":{
          "shape":"ExecutionStatus",
          "documentation":"<p>If the change set execution status is <code>AVAILABLE</code>, you can execute the change set. If you can’t execute the change set, the status indicates why. For example, a change set might be in an <code>UNAVAILABLE</code> state because AWS CloudFormation is still creating it or in an <code>OBSOLETE</code> state because the stack was already updated.</p>"
        },
        "Status":{
          "shape":"ChangeSetStatus",
          "documentation":"<p>The state of the change set, such as <code>CREATE_IN_PROGRESS</code>, <code>CREATE_COMPLETE</code>, or <code>FAILED</code>.</p>"
        },
        "StatusReason":{
          "shape":"ChangeSetStatusReason",
          "documentation":"<p>A description of the change set's status. For example, if your change set is in the <code>FAILED</code> state, AWS CloudFormation shows the error message.</p>"
        },
        "CreationTime":{
          "shape":"CreationTime",
          "documentation":"<p>The start time when the change set was created, in UTC.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>Descriptive information about the change set.</p>"
        }
      },
      "documentation":"<p>The <code>ChangeSetSummary</code> structure describes a change set, its status, and the stack with which it's associated.</p>"
    },
    "ChangeSetType":{
      "type":"string",
      "enum":[
        "CREATE",
        "UPDATE"
      ]
    },
    "ChangeSource":{
      "type":"string",
      "enum":[
        "ResourceReference",
        "ParameterReference",
        "ResourceAttribute",
        "DirectModification",
        "Automatic"
      ]
    },
    "ChangeType":{
      "type":"string",
      "enum":["Resource"]
    },
    "Changes":{
      "type":"list",
      "member":{"shape":"Change"}
    },
    "ClientRequestToken":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9][-a-zA-Z0-9]*"
    },
    "ClientToken":{
      "type":"string",
      "max":128,
      "min":1
    },
    "ContinueUpdateRollbackInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackNameOrId",
          "documentation":"<p>The name or the unique ID of the stack that you want to continue rolling back.</p> <note> <p>Don't specify the name of a nested stack (a stack that was created by using the <code>AWS::CloudFormation::Stack</code> resource). Instead, use this operation on the parent stack (the stack that contains the <code>AWS::CloudFormation::Stack</code> resource).</p> </note>"
        },
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role that AWS CloudFormation assumes to roll back the stack. AWS CloudFormation uses the role's credentials to make calls on your behalf. AWS CloudFormation always uses this role for all future operations on the stack. As long as users have permission to operate on the stack, AWS CloudFormation uses this role even if the users don't have permission to pass it. Ensure that the role grants least privilege.</p> <p>If you don't specify a value, AWS CloudFormation uses the role that was previously associated with the stack. If no role is available, AWS CloudFormation uses a temporary session that is generated from your user credentials.</p>"
        },
        "ResourcesToSkip":{
          "shape":"ResourcesToSkip",
          "documentation":"<p>A list of the logical IDs of the resources that AWS CloudFormation skips during the continue update rollback operation. You can specify only resources that are in the <code>UPDATE_FAILED</code> state because a rollback failed. You can't specify resources that are in the <code>UPDATE_FAILED</code> state for other reasons, for example, because an update was cancelled. To check why a resource update failed, use the <a>DescribeStackResources</a> action, and view the resource status reason. </p> <important> <p>Specify this property to skip rolling back resources that AWS CloudFormation can't successfully roll back. We recommend that you <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\"> troubleshoot</a> resources before skipping them. AWS CloudFormation sets the status of the specified resources to <code>UPDATE_COMPLETE</code> and continues to roll back the stack. After the rollback is complete, the state of the skipped resources will be inconsistent with the state of the resources in the stack template. Before performing another stack update, you must update the stack or resources to be consistent with each other. If you don't, subsequent stack updates might fail, and the stack will become unrecoverable. </p> </important> <p>Specify the minimum number of resources required to successfully roll back your stack. For example, a failed resource update might cause dependent resources to fail. In this case, it might not be necessary to skip the dependent resources. </p> <p>To skip resources that are part of nested stacks, use the following format: <code>NestedStackName.ResourceLogicalID</code>. If you want to specify the logical ID of a stack resource (<code>Type: AWS::CloudFormation::Stack</code>) in the <code>ResourcesToSkip</code> list, then its corresponding embedded stack must be in one of the following states: <code>DELETE_IN_PROGRESS</code>, <code>DELETE_COMPLETE</code>, or <code>DELETE_FAILED</code>. </p> <note> <p>Don't confuse a child stack's name with its corresponding logical ID defined in the parent stack. For an example of a continue update rollback operation with nested stacks, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-continueupdaterollback.html#nested-stacks\">Using ResourcesToSkip to recover a nested stacks hierarchy</a>. </p> </note>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>A unique identifier for this <code>ContinueUpdateRollback</code> request. Specify this token if you plan to retry requests so that AWS CloudFormation knows that you're not attempting to continue the rollback to a stack with the same name. You might retry <code>ContinueUpdateRollback</code> requests to ensure that AWS CloudFormation successfully received them.</p>"
        }
      },
      "documentation":"<p>The input for the <a>ContinueUpdateRollback</a> action.</p>"
    },
    "ContinueUpdateRollbackOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The output for a <a>ContinueUpdateRollback</a> action.</p>"
    },
    "CreateChangeSetInput":{
      "type":"structure",
      "required":[
        "StackName",
        "ChangeSetName"
      ],
      "members":{
        "StackName":{
          "shape":"StackNameOrId",
          "documentation":"<p>The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates the change set by comparing this stack's information with the information that you submit, such as a modified template or different parameter input values.</p>"
        },
        "TemplateBody":{
          "shape":"TemplateBody",
          "documentation":"<p>A structure that contains the body of the revised template, with a minimum length of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by comparing this template with the template of the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>"
        },
        "TemplateURL":{
          "shape":"TemplateURL",
          "documentation":"<p>The location of the file that contains the revised template. The URL must point to a template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation generates the change set by comparing this template with the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>"
        },
        "UsePreviousTemplate":{
          "shape":"UsePreviousTemplate",
          "documentation":"<p>Whether to reuse the template that is associated with the stack to create the change set.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"<p>A list of <code>Parameter</code> structures that specify input parameters for the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.</p>"
        },
        "Capabilities":{
          "shape":"Capabilities",
          "documentation":"<p>A list of values that you must specify before AWS CloudFormation can update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account, for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.</p>"
        },
        "ResourceTypes":{
          "shape":"ResourceTypes",
          "documentation":"<p>The template resource types that you have permissions to work with if you execute this change set, such as <code>AWS::EC2::Instance</code>, <code>AWS::EC2::*</code>, or <code>Custom::MyCustomInstance</code>.</p> <p>If the list of resource types doesn't include a resource type that you're updating, the stack update fails. By default, AWS CloudFormation grants permissions to all resource types. AWS Identity and Access Management (IAM) uses this parameter for condition keys in IAM policies for AWS CloudFormation. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html\">Controlling Access with AWS Identity and Access Management</a> in the AWS CloudFormation User Guide.</p>"
        },
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role that AWS CloudFormation assumes when executing the change set. AWS CloudFormation uses the role's credentials to make calls on your behalf. AWS CloudFormation uses this role for all future operations on the stack. As long as users have permission to operate on the stack, AWS CloudFormation uses this role even if the users don't have permission to pass it. Ensure that the role grants least privilege.</p> <p>If you don't specify a value, AWS CloudFormation uses the role that was previously associated with the stack. If no role is available, AWS CloudFormation uses a temporary session that is generated from your user credentials.</p>"
        },
        "RollbackConfiguration":{
          "shape":"RollbackConfiguration",
          "documentation":"<p>The rollback triggers for AWS CloudFormation to monitor during stack creation and updating operations, and for the specified monitoring period afterwards.</p>"
        },
        "NotificationARNs":{
          "shape":"NotificationARNs",
          "documentation":"<p>The Amazon Resource Names (ARNs) of Amazon Simple Notification Service (Amazon SNS) topics that AWS CloudFormation associates with the stack. To remove all associated notification topics, specify an empty list.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Key-value pairs to associate with this stack. AWS CloudFormation also propagates these tags to resources in the stack. You can specify a maximum of 50 tags.</p>"
        },
        "ChangeSetName":{
          "shape":"ChangeSetName",
          "documentation":"<p>The name of the change set. The name must be unique among all change sets that are associated with the specified stack.</p> <p>A change set name can contain only alphanumeric, case sensitive characters and hyphens. It must start with an alphabetic character and cannot exceed 128 characters.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique identifier for this <code>CreateChangeSet</code> request. Specify this token if you plan to retry requests so that AWS CloudFormation knows that you're not attempting to create another change set with the same name. You might retry <code>CreateChangeSet</code> requests to ensure that AWS CloudFormation successfully received them.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description to help you identify this change set.</p>"
        },
        "ChangeSetType":{
          "shape":"ChangeSetType",
          "documentation":"<p>The type of change set operation. To create a change set for a new stack, specify <code>CREATE</code>. To create a change set for an existing stack, specify <code>UPDATE</code>.</p> <p>If you create a change set for a new stack, AWS Cloudformation creates a stack with a unique stack ID, but no template or resources. The stack will be in the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-describing-stacks.html#d0e11995\"> <code>REVIEW_IN_PROGRESS</code> </a> state until you execute the change set.</p> <p>By default, AWS CloudFormation specifies <code>UPDATE</code>. You can't use the <code>UPDATE</code> type to create a change set for a new stack or the <code>CREATE</code> type to create a change set for an existing stack.</p>"
        }
      },
      "documentation":"<p>The input for the <a>CreateChangeSet</a> action.</p>"
    },
    "CreateChangeSetOutput":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ChangeSetId",
          "documentation":"<p>The Amazon Resource Name (ARN) of the change set.</p>"
        },
        "StackId":{
          "shape":"StackId",
          "documentation":"<p>The unique ID of the stack.</p>"
        }
      },
      "documentation":"<p>The output for the <a>CreateChangeSet</a> action.</p>"
    },
    "CreateStackInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name that is associated with the stack. The name must be unique in the region in which you are creating the stack.</p> <note> <p>A stack name can contain only alphanumeric characters (case sensitive) and hyphens. It must start with an alphabetic character and cannot be longer than 128 characters.</p> </note>"
        },
        "TemplateBody":{
          "shape":"TemplateBody",
          "documentation":"<p>Structure containing the template body with a minimum length of 1 byte and a maximum length of 51,200 bytes. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify either the <code>TemplateBody</code> or the <code>TemplateURL</code> parameter, but not both.</p>"
        },
        "TemplateURL":{
          "shape":"TemplateURL",
          "documentation":"<p>Location of file containing the template body. The URL must point to a template (max size: 460,800 bytes) that is located in an Amazon S3 bucket. For more information, go to the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify either the <code>TemplateBody</code> or the <code>TemplateURL</code> parameter, but not both.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"<p>A list of <code>Parameter</code> structures that specify input parameters for the stack. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.</p>"
        },
        "DisableRollback":{
          "shape":"DisableRollback",
          "documentation":"<p>Set to <code>true</code> to disable rollback of the stack if stack creation failed. You can specify either <code>DisableRollback</code> or <code>OnFailure</code>, but not both.</p> <p>Default: <code>false</code> </p>"
        },
        "RollbackConfiguration":{
          "shape":"RollbackConfiguration",
          "documentation":"<p>The rollback triggers for AWS CloudFormation to monitor during stack creation and updating operations, and for the specified monitoring period afterwards.</p>"
        },
        "TimeoutInMinutes":{
          "shape":"TimeoutMinutes",
          "documentation":"<p>The amount of time that can pass before the stack status becomes CREATE_FAILED; if <code>DisableRollback</code> is not set or is set to <code>false</code>, the stack will be rolled back.</p>"
        },
        "NotificationARNs":{
          "shape":"NotificationARNs",
          "documentation":"<p>The Simple Notification Service (SNS) topic ARNs to publish stack related events. You can find your SNS topic ARNs using the SNS console or your Command Line Interface (CLI).</p>"
        },
        "Capabilities":{
          "shape":"Capabilities",
          "documentation":"<p>A list of values that you must specify before AWS CloudFormation can create certain stacks. Some stack templates might include resources that can affect permissions in your AWS account, for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.</p>"
        },
        "ResourceTypes":{
          "shape":"ResourceTypes",
          "documentation":"<p>The template resource types that you have permissions to work with for this create stack action, such as <code>AWS::EC2::Instance</code>, <code>AWS::EC2::*</code>, or <code>Custom::MyCustomInstance</code>. Use the following syntax to describe template resource types: <code>AWS::*</code> (for all AWS resource), <code>Custom::*</code> (for all custom resources), <code>Custom::<i>logical_ID</i> </code> (for a specific custom resource), <code>AWS::<i>service_name</i>::*</code> (for all resources of a particular AWS service), and <code>AWS::<i>service_name</i>::<i>resource_logical_ID</i> </code> (for a specific AWS resource).</p> <p>If the list of resource types doesn't include a resource that you're creating, the stack creation fails. By default, AWS CloudFormation grants permissions to all resource types. AWS Identity and Access Management (IAM) uses this parameter for AWS CloudFormation-specific condition keys in IAM policies. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html\">Controlling Access with AWS Identity and Access Management</a>.</p>"
        },
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role that AWS CloudFormation assumes to create the stack. AWS CloudFormation uses the role's credentials to make calls on your behalf. AWS CloudFormation always uses this role for all future operations on the stack. As long as users have permission to operate on the stack, AWS CloudFormation uses this role even if the users don't have permission to pass it. Ensure that the role grants least privilege.</p> <p>If you don't specify a value, AWS CloudFormation uses the role that was previously associated with the stack. If no role is available, AWS CloudFormation uses a temporary session that is generated from your user credentials.</p>"
        },
        "OnFailure":{
          "shape":"OnFailure",
          "documentation":"<p>Determines what action will be taken if stack creation fails. This must be one of: DO_NOTHING, ROLLBACK, or DELETE. You can specify either <code>OnFailure</code> or <code>DisableRollback</code>, but not both.</p> <p>Default: <code>ROLLBACK</code> </p>"
        },
        "StackPolicyBody":{
          "shape":"StackPolicyBody",
          "documentation":"<p>Structure containing the stack policy body. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/protect-stack-resources.html\"> Prevent Updates to Stack Resources</a> in the <i>AWS CloudFormation User Guide</i>. You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code> parameter, but not both.</p>"
        },
        "StackPolicyURL":{
          "shape":"StackPolicyURL",
          "documentation":"<p>Location of a file containing the stack policy. The URL must point to a policy (maximum size: 16 KB) located in an S3 bucket in the same region as the stack. You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code> parameter, but not both.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Key-value pairs to associate with this stack. AWS CloudFormation also propagates these tags to the resources created in the stack. A maximum number of 50 tags can be specified.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>A unique identifier for this <code>CreateStack</code> request. Specify this token if you plan to retry requests so that AWS CloudFormation knows that you're not attempting to create a stack with the same name. You might retry <code>CreateStack</code> requests to ensure that AWS CloudFormation successfully received them.</p> <p>All events triggered by a given stack operation are assigned the same client request token, which you can use to track operations. For example, if you execute a <code>CreateStack</code> operation with the token <code>token1</code>, then all the <code>StackEvents</code> generated by that operation will have <code>ClientRequestToken</code> set as <code>token1</code>.</p> <p>In the console, stack operations display the client request token on the Events tab. Stack operations that are initiated from the console use the token format <i>Console-StackOperation-ID</i>, which helps you easily identify the stack operation . For example, if you create a stack using the console, each stack event would be assigned the same token in the following format: <code>Console-CreateStack-7f59c3cf-00d2-40c7-b2ff-e75db0987002</code>. </p>"
        }
      },
      "documentation":"<p>The input for <a>CreateStack</a> action.</p>"
    },
    "CreateStackInstancesInput":{
      "type":"structure",
      "required":[
        "StackSetName",
        "Accounts",
        "Regions"
      ],
      "members":{
        "StackSetName":{
          "shape":"StackSetName",
          "documentation":"<p>The name or unique ID of the stack set that you want to create stack instances from.</p>"
        },
        "Accounts":{
          "shape":"AccountList",
          "documentation":"<p>The names of one or more AWS accounts that you want to create stack instances in the specified region(s) for.</p>"
        },
        "Regions":{
          "shape":"RegionList",
          "documentation":"<p>The names of one or more regions where you want to create stack instances using the specified AWS account(s). </p>"
        },
        "OperationPreferences":{
          "shape":"StackSetOperationPreferences",
          "documentation":"<p>Preferences for how AWS CloudFormation performs this stack set operation.</p>"
        },
        "OperationId":{
          "shape":"ClientRequestToken",
          "documentation":"<p>The unique identifier for this stack set operation. </p> <p>The operation ID also functions as an idempotency token, to ensure that AWS CloudFormation performs the stack set operation only once, even if you retry the request multiple times. You might retry stack set operation requests to ensure that AWS CloudFormation successfully received them.</p> <p>If you don't specify an operation ID, the SDK generates one automatically. </p> <p>Repeating this stack set operation with a new operation ID retries all stack instances whose status is <code>OUTDATED</code>. </p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateStackInstancesOutput":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"ClientRequestToken",
          "documentation":"<p>The unique identifier for this stack set operation.</p>"
        }
      }
    },
    "CreateStackOutput":{
      "type":"structure",
      "members":{
        "StackId":{
          "shape":"StackId",
          "documentation":"<p>Unique identifier of the stack.</p>"
        }
      },
      "documentation":"<p>The output for a <a>CreateStack</a> action.</p>"
    },
    "CreateStackSetInput":{
      "type":"structure",
      "required":["StackSetName"],
      "members":{
        "StackSetName":{
          "shape":"StackSetName",
          "documentation":"<p>The name to associate with the stack set. The name must be unique in the region where you create your stack set.</p> <note> <p>A stack name can contain only alphanumeric characters (case-sensitive) and hyphens. It must start with an alphabetic character and can't be longer than 128 characters.</p> </note>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description of the stack set. You can use the description to identify the stack set's purpose or other important information.</p>"
        },
        "TemplateBody":{
          "shape":"TemplateBody",
          "documentation":"<p>The structure that contains the template body, with a minimum length of 1 byte and a maximum length of 51,200 bytes. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify either the TemplateBody or the TemplateURL parameter, but not both.</p>"
        },
        "TemplateURL":{
          "shape":"TemplateURL",
          "documentation":"<p>The location of the file that contains the template body. The URL must point to a template (maximum size: 460,800 bytes) that's located in an Amazon S3 bucket. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify either the TemplateBody or the TemplateURL parameter, but not both.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"<p>The input parameters for the stack set template. </p>"
        },
        "Capabilities":{
          "shape":"Capabilities",
          "documentation":"<p>A list of values that you must specify before AWS CloudFormation can create certain stack sets. Some stack set templates might include resources that can affect permissions in your AWS account—for example, by creating new AWS Identity and Access Management (IAM) users. For those stack sets, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>The only valid values are CAPABILITY_IAM and CAPABILITY_NAMED_IAM. The following resources require you to specify this parameter: </p> <ul> <li> <p>AWS::IAM::AccessKey</p> </li> <li> <p>AWS::IAM::Group</p> </li> <li> <p>AWS::IAM::InstanceProfile</p> </li> <li> <p>AWS::IAM::Policy</p> </li> <li> <p>AWS::IAM::Role</p> </li> <li> <p>AWS::IAM::User</p> </li> <li> <p>AWS::IAM::UserToGroupAddition</p> </li> </ul> <p>If your stack template contains these resources, we recommend that you review all permissions that are associated with them and edit their permissions if necessary.</p> <p>If you have IAM resources, you can specify either capability. If you have IAM resources with custom names, you must specify CAPABILITY_NAMED_IAM. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates.</a> </p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The key-value pairs to associate with this stack set and the stacks created from it. AWS CloudFormation also propagates these tags to supported resources that are created in the stacks. A maximum number of 50 tags can be specified.</p> <p>If you specify tags as part of a <code>CreateStackSet</code> action, AWS CloudFormation checks to see if you have the required IAM permission to tag resources. If you don't, the entire <code>CreateStackSet</code> action fails with an <code>access denied</code> error, and the stack set is not created.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>A unique identifier for this <code>CreateStackSet</code> request. Specify this token if you plan to retry requests so that AWS CloudFormation knows that you're not attempting to create another stack set with the same name. You might retry <code>CreateStackSet</code> requests to ensure that AWS CloudFormation successfully received them.</p> <p>If you don't specify an operation ID, the SDK generates one automatically. </p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateStackSetOutput":{
      "type":"structure",
      "members":{
        "StackSetId":{
          "shape":"StackSetId",
          "documentation":"<p>The ID of the stack set that you're creating.</p>"
        }
      }
    },
    "CreatedButModifiedException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified resource exists, but has been changed.</p>",
      "error":{
        "code":"CreatedButModifiedException",
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreationTime":{"type":"timestamp"},
    "DeleteChangeSetInput":{
      "type":"structure",
      "required":["ChangeSetName"],
      "members":{
        "ChangeSetName":{
          "shape":"ChangeSetNameOrId",
          "documentation":"<p>The name or Amazon Resource Name (ARN) of the change set that you want to delete.</p>"
        },
        "StackName":{
          "shape":"StackNameOrId",
          "documentation":"<p>If you specified the name of a change set to delete, specify the stack name or ID (ARN) that is associated with it.</p>"
        }
      },
      "documentation":"<p>The input for the <a>DeleteChangeSet</a> action.</p>"
    },
    "DeleteChangeSetOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The output for the <a>DeleteChangeSet</a> action.</p>"
    },
    "DeleteStackInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique stack ID that is associated with the stack.</p>"
        },
        "RetainResources":{
          "shape":"RetainResources",
          "documentation":"<p>For stacks in the <code>DELETE_FAILED</code> state, a list of resource logical IDs that are associated with the resources you want to retain. During deletion, AWS CloudFormation deletes the stack but does not delete the retained resources.</p> <p>Retaining resources is useful when you cannot delete a resource, such as a non-empty S3 bucket, but you want to delete the stack.</p>"
        },
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role that AWS CloudFormation assumes to delete the stack. AWS CloudFormation uses the role's credentials to make calls on your behalf.</p> <p>If you don't specify a value, AWS CloudFormation uses the role that was previously associated with the stack. If no role is available, AWS CloudFormation uses a temporary session that is generated from your user credentials.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>A unique identifier for this <code>DeleteStack</code> request. Specify this token if you plan to retry requests so that AWS CloudFormation knows that you're not attempting to delete a stack with the same name. You might retry <code>DeleteStack</code> requests to ensure that AWS CloudFormation successfully received them.</p> <p>All events triggered by a given stack operation are assigned the same client request token, which you can use to track operations. For example, if you execute a <code>CreateStack</code> operation with the token <code>token1</code>, then all the <code>StackEvents</code> generated by that operation will have <code>ClientRequestToken</code> set as <code>token1</code>.</p> <p>In the console, stack operations display the client request token on the Events tab. Stack operations that are initiated from the console use the token format <i>Console-StackOperation-ID</i>, which helps you easily identify the stack operation . For example, if you create a stack using the console, each stack event would be assigned the same token in the following format: <code>Console-CreateStack-7f59c3cf-00d2-40c7-b2ff-e75db0987002</code>. </p>"
        }
      },
      "documentation":"<p>The input for <a>DeleteStack</a> action.</p>"
    },
    "DeleteStackInstancesInput":{
      "type":"structure",
      "required":[
        "StackSetName",
        "Accounts",
        "Regions",
        "RetainStacks"
      ],
      "members":{
        "StackSetName":{
          "shape":"StackSetName",
          "documentation":"<p>The name or unique ID of the stack set that you want to delete stack instances for.</p>"
        },
        "Accounts":{
          "shape":"AccountList",
          "documentation":"<p>The names of the AWS accounts that you want to delete stack instances for.</p>"
        },
        "Regions":{
          "shape":"RegionList",
          "documentation":"<p>The regions where you want to delete stack set instances. </p>"
        },
        "OperationPreferences":{
          "shape":"StackSetOperationPreferences",
          "documentation":"<p>Preferences for how AWS CloudFormation performs this stack set operation.</p>"
        },
        "RetainStacks":{
          "shape":"RetainStacks",
          "documentation":"<p>Removes the stack instances from the specified stack set, but doesn't delete the stacks. You can't reassociate a retained stack or add an existing, saved stack to a new stack set.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-concepts.html#stackset-ops-options\">Stack set operation options</a>.</p>"
        },
        "OperationId":{
          "shape":"ClientRequestToken",
          "documentation":"<p>The unique identifier for this stack set operation. </p> <p>If you don't specify an operation ID, the SDK generates one automatically. </p> <p>The operation ID also functions as an idempotency token, to ensure that AWS CloudFormation performs the stack set operation only once, even if you retry the request multiple times. You can retry stack set operation requests to ensure that AWS CloudFormation successfully received them.</p> <p>Repeating this stack set operation with a new operation ID retries all stack instances whose status is <code>OUTDATED</code>. </p>",
          "idempotencyToken":true
        }
      }
    },
    "DeleteStackInstancesOutput":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"ClientRequestToken",
          "documentation":"<p>The unique identifier for this stack set operation.</p>"
        }
      }
    },
    "DeleteStackSetInput":{
      "type":"structure",
      "required":["StackSetName"],
      "members":{
        "StackSetName":{
          "shape":"StackSetName",
          "documentation":"<p>The name or unique ID of the stack set that you're deleting. You can obtain this value by running <a>ListStackSets</a>.</p>"
        }
      }
    },
    "DeleteStackSetOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeletionTime":{"type":"timestamp"},
    "DescribeAccountLimitsInput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>A string that identifies the next page of limits that you want to retrieve.</p>"
        }
      },
      "documentation":"<p>The input for the <a>DescribeAccountLimits</a> action.</p>"
    },
    "DescribeAccountLimitsOutput":{
      "type":"structure",
      "members":{
        "AccountLimits":{
          "shape":"AccountLimitList",
          "documentation":"<p>An account limit structure that contain a list of AWS CloudFormation account limits and their values.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the output exceeds 1 MB in size, a string that identifies the next page of limits. If no additional page exists, this value is null.</p>"
        }
      },
      "documentation":"<p>The output for the <a>DescribeAccountLimits</a> action.</p>"
    },
    "DescribeChangeSetInput":{
      "type":"structure",
      "required":["ChangeSetName"],
      "members":{
        "ChangeSetName":{
          "shape":"ChangeSetNameOrId",
          "documentation":"<p>The name or Amazon Resource Name (ARN) of the change set that you want to describe.</p>"
        },
        "StackName":{
          "shape":"StackNameOrId",
          "documentation":"<p>If you specified the name of a change set, specify the stack name or ID (ARN) of the change set you want to describe.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>A string (provided by the <a>DescribeChangeSet</a> response output) that identifies the next page of information that you want to retrieve.</p>"
        }
      },
      "documentation":"<p>The input for the <a>DescribeChangeSet</a> action.</p>"
    },
    "DescribeChangeSetOutput":{
      "type":"structure",
      "members":{
        "ChangeSetName":{
          "shape":"ChangeSetName",
          "documentation":"<p>The name of the change set.</p>"
        },
        "ChangeSetId":{
          "shape":"ChangeSetId",
          "documentation":"<p>The ARN of the change set.</p>"
        },
        "StackId":{
          "shape":"StackId",
          "documentation":"<p>The ARN of the stack that is associated with the change set.</p>"
        },
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name of the stack that is associated with the change set.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>Information about the change set.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"<p>A list of <code>Parameter</code> structures that describes the input parameters and their values used to create the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.</p>"
        },
        "CreationTime":{
          "shape":"CreationTime",
          "documentation":"<p>The start time when the change set was created, in UTC.</p>"
        },
        "ExecutionStatus":{
          "shape":"ExecutionStatus",
          "documentation":"<p>If the change set execution status is <code>AVAILABLE</code>, you can execute the change set. If you can’t execute the change set, the status indicates why. For example, a change set might be in an <code>UNAVAILABLE</code> state because AWS CloudFormation is still creating it or in an <code>OBSOLETE</code> state because the stack was already updated.</p>"
        },
        "Status":{
          "shape":"ChangeSetStatus",
          "documentation":"<p>The current status of the change set, such as <code>CREATE_IN_PROGRESS</code>, <code>CREATE_COMPLETE</code>, or <code>FAILED</code>.</p>"
        },
        "StatusReason":{
          "shape":"ChangeSetStatusReason",
          "documentation":"<p>A description of the change set's status. For example, if your attempt to create a change set failed, AWS CloudFormation shows the error message.</p>"
        },
        "NotificationARNs":{
          "shape":"NotificationARNs",
          "documentation":"<p>The ARNs of the Amazon Simple Notification Service (Amazon SNS) topics that will be associated with the stack if you execute the change set.</p>"
        },
        "RollbackConfiguration":{
          "shape":"RollbackConfiguration",
          "documentation":"<p>The rollback triggers for AWS CloudFormation to monitor during stack creation and updating operations, and for the specified monitoring period afterwards.</p>"
        },
        "Capabilities":{
          "shape":"Capabilities",
          "documentation":"<p>If you execute the change set, the list of capabilities that were explicitly acknowledged when the change set was created.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>If you execute the change set, the tags that will be associated with the stack.</p>"
        },
        "Changes":{
          "shape":"Changes",
          "documentation":"<p>A list of <code>Change</code> structures that describes the resources AWS CloudFormation changes if you execute the change set.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the output exceeds 1 MB, a string that identifies the next page of changes. If there is no additional page, this value is null.</p>"
        }
      },
      "documentation":"<p>The output for the <a>DescribeChangeSet</a> action.</p>"
    },
    "DescribeStackEventsInput":{
      "type":"structure",
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique stack ID that is associated with the stack, which are not always interchangeable:</p> <ul> <li> <p>Running stacks: You can specify either the stack's name or its unique stack ID.</p> </li> <li> <p>Deleted stacks: You must specify the unique stack ID.</p> </li> </ul> <p>Default: There is no default value.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>A string that identifies the next page of events that you want to retrieve.</p>"
        }
      },
      "documentation":"<p>The input for <a>DescribeStackEvents</a> action.</p>"
    },
    "DescribeStackEventsOutput":{
      "type":"structure",
      "members":{
        "StackEvents":{
          "shape":"StackEvents",
          "documentation":"<p>A list of <code>StackEvents</code> structures.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the output exceeds 1 MB in size, a string that identifies the next page of events. If no additional page exists, this value is null.</p>"
        }
      },
      "documentation":"<p>The output for a <a>DescribeStackEvents</a> action.</p>"
    },
    "DescribeStackInstanceInput":{
      "type":"structure",
      "required":[
        "StackSetName",
        "StackInstanceAccount",
        "StackInstanceRegion"
      ],
      "members":{
        "StackSetName":{
          "shape":"StackSetName",
          "documentation":"<p>The name or the unique stack ID of the stack set that you want to get stack instance information for.</p>"
        },
        "StackInstanceAccount":{
          "shape":"Account",
          "documentation":"<p>The ID of an AWS account that's associated with this stack instance.</p>"
        },
        "StackInstanceRegion":{
          "shape":"Region",
          "documentation":"<p>The name of a region that's associated with this stack instance.</p>"
        }
      }
    },
    "DescribeStackInstanceOutput":{
      "type":"structure",
      "members":{
        "StackInstance":{
          "shape":"StackInstance",
          "documentation":"<p>The stack instance that matches the specified request parameters.</p>"
        }
      }
    },
    "DescribeStackResourceInput":{
      "type":"structure",
      "required":[
        "StackName",
        "LogicalResourceId"
      ],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique stack ID that is associated with the stack, which are not always interchangeable:</p> <ul> <li> <p>Running stacks: You can specify either the stack's name or its unique stack ID.</p> </li> <li> <p>Deleted stacks: You must specify the unique stack ID.</p> </li> </ul> <p>Default: There is no default value.</p>"
        },
        "LogicalResourceId":{
          "shape":"LogicalResourceId",
          "documentation":"<p>The logical name of the resource as specified in the template.</p> <p>Default: There is no default value.</p>"
        }
      },
      "documentation":"<p>The input for <a>DescribeStackResource</a> action.</p>"
    },
    "DescribeStackResourceOutput":{
      "type":"structure",
      "members":{
        "StackResourceDetail":{
          "shape":"StackResourceDetail",
          "documentation":"<p>A <code>StackResourceDetail</code> structure containing the description of the specified resource in the specified stack.</p>"
        }
      },
      "documentation":"<p>The output for a <a>DescribeStackResource</a> action.</p>"
    },
    "DescribeStackResourcesInput":{
      "type":"structure",
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique stack ID that is associated with the stack, which are not always interchangeable:</p> <ul> <li> <p>Running stacks: You can specify either the stack's name or its unique stack ID.</p> </li> <li> <p>Deleted stacks: You must specify the unique stack ID.</p> </li> </ul> <p>Default: There is no default value.</p> <p>Required: Conditional. If you do not specify <code>StackName</code>, you must specify <code>PhysicalResourceId</code>.</p>"
        },
        "LogicalResourceId":{
          "shape":"LogicalResourceId",
          "documentation":"<p>The logical name of the resource as specified in the template.</p> <p>Default: There is no default value.</p>"
        },
        "PhysicalResourceId":{
          "shape":"PhysicalResourceId",
          "documentation":"<p>The name or unique identifier that corresponds to a physical instance ID of a resource supported by AWS CloudFormation.</p> <p>For example, for an Amazon Elastic Compute Cloud (EC2) instance, <code>PhysicalResourceId</code> corresponds to the <code>InstanceId</code>. You can pass the EC2 <code>InstanceId</code> to <code>DescribeStackResources</code> to find which stack the instance belongs to and what other resources are part of the stack.</p> <p>Required: Conditional. If you do not specify <code>PhysicalResourceId</code>, you must specify <code>StackName</code>.</p> <p>Default: There is no default value.</p>"
        }
      },
      "documentation":"<p>The input for <a>DescribeStackResources</a> action.</p>"
    },
    "DescribeStackResourcesOutput":{
      "type":"structure",
      "members":{
        "StackResources":{
          "shape":"StackResources",
          "documentation":"<p>A list of <code>StackResource</code> structures.</p>"
        }
      },
      "documentation":"<p>The output for a <a>DescribeStackResources</a> action.</p>"
    },
    "DescribeStackSetInput":{
      "type":"structure",
      "required":["StackSetName"],
      "members":{
        "StackSetName":{
          "shape":"StackSetName",
          "documentation":"<p>The name or unique ID of the stack set whose description you want.</p>"
        }
      }
    },
    "DescribeStackSetOperationInput":{
      "type":"structure",
      "required":[
        "StackSetName",
        "OperationId"
      ],
      "members":{
        "StackSetName":{
          "shape":"StackSetName",
          "documentation":"<p>The name or the unique stack ID of the stack set for the stack operation.</p>"
        },
        "OperationId":{
          "shape":"ClientRequestToken",
          "documentation":"<p>The unique ID of the stack set operation. </p>"
        }
      }
    },
    "DescribeStackSetOperationOutput":{
      "type":"structure",
      "members":{
        "StackSetOperation":{
          "shape":"StackSetOperation",
          "documentation":"<p>The specified stack set operation.</p>"
        }
      }
    },
    "DescribeStackSetOutput":{
      "type":"structure",
      "members":{
        "StackSet":{
          "shape":"StackSet",
          "documentation":"<p>The specified stack set.</p>"
        }
      }
    },
    "DescribeStacksInput":{
      "type":"structure",
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique stack ID that is associated with the stack, which are not always interchangeable:</p> <ul> <li> <p>Running stacks: You can specify either the stack's name or its unique stack ID.</p> </li> <li> <p>Deleted stacks: You must specify the unique stack ID.</p> </li> </ul> <p>Default: There is no default value.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>A string that identifies the next page of stacks that you want to retrieve.</p>"
        }
      },
      "documentation":"<p>The input for <a>DescribeStacks</a> action.</p>"
    },
    "DescribeStacksOutput":{
      "type":"structure",
      "members":{
        "Stacks":{
          "shape":"Stacks",
          "documentation":"<p>A list of stack structures.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the output exceeds 1 MB in size, a string that identifies the next page of stacks. If no additional page exists, this value is null.</p>"
        }
      },
      "documentation":"<p>The output for a <a>DescribeStacks</a> action.</p>"
    },
    "Description":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "DisableRollback":{"type":"boolean"},
    "EstimateTemplateCostInput":{
      "type":"structure",
      "members":{
        "TemplateBody":{
          "shape":"TemplateBody",
          "documentation":"<p>Structure containing the template body with a minimum length of 1 byte and a maximum length of 51,200 bytes. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.)</p> <p>Conditional: You must pass <code>TemplateBody</code> or <code>TemplateURL</code>. If both are passed, only <code>TemplateBody</code> is used.</p>"
        },
        "TemplateURL":{
          "shape":"TemplateURL",
          "documentation":"<p>Location of file containing the template body. The URL must point to a template that is located in an Amazon S3 bucket. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must pass <code>TemplateURL</code> or <code>TemplateBody</code>. If both are passed, only <code>TemplateBody</code> is used.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"<p>A list of <code>Parameter</code> structures that specify input parameters.</p>"
        }
      },
      "documentation":"<p>The input for an <a>EstimateTemplateCost</a> action.</p>"
    },
    "EstimateTemplateCostOutput":{
      "type":"structure",
      "members":{
        "Url":{
          "shape":"Url",
          "documentation":"<p>An AWS Simple Monthly Calculator URL with a query string that describes the resources required to run the template.</p>"
        }
      },
      "documentation":"<p>The output for a <a>EstimateTemplateCost</a> action.</p>"
    },
    "EvaluationType":{
      "type":"string",
      "enum":[
        "Static",
        "Dynamic"
      ]
    },
    "EventId":{"type":"string"},
    "ExecuteChangeSetInput":{
      "type":"structure",
      "required":["ChangeSetName"],
      "members":{
        "ChangeSetName":{
          "shape":"ChangeSetNameOrId",
          "documentation":"<p>The name or ARN of the change set that you want use to update the specified stack.</p>"
        },
        "StackName":{
          "shape":"StackNameOrId",
          "documentation":"<p>If you specified the name of a change set, specify the stack name or ID (ARN) that is associated with the change set you want to execute.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>A unique identifier for this <code>ExecuteChangeSet</code> request. Specify this token if you plan to retry requests so that AWS CloudFormation knows that you're not attempting to execute a change set to update a stack with the same name. You might retry <code>ExecuteChangeSet</code> requests to ensure that AWS CloudFormation successfully received them.</p>"
        }
      },
      "documentation":"<p>The input for the <a>ExecuteChangeSet</a> action.</p>"
    },
    "ExecuteChangeSetOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The output for the <a>ExecuteChangeSet</a> action.</p>"
    },
    "ExecutionStatus":{
      "type":"string",
      "enum":[
        "UNAVAILABLE",
        "AVAILABLE",
        "EXECUTE_IN_PROGRESS",
        "EXECUTE_COMPLETE",
        "EXECUTE_FAILED",
        "OBSOLETE"
      ]
    },
    "Export":{
      "type":"structure",
      "members":{
        "ExportingStackId":{
          "shape":"StackId",
          "documentation":"<p>The stack that contains the exported output name and value.</p>"
        },
        "Name":{
          "shape":"ExportName",
          "documentation":"<p>The name of exported output value. Use this name and the <code>Fn::ImportValue</code> function to import the associated value into other stacks. The name is defined in the <code>Export</code> field in the associated stack's <code>Outputs</code> section.</p>"
        },
        "Value":{
          "shape":"ExportValue",
          "documentation":"<p>The value of the exported output, such as a resource physical ID. This value is defined in the <code>Export</code> field in the associated stack's <code>Outputs</code> section.</p>"
        }
      },
      "documentation":"<p>The <code>Export</code> structure describes the exported output values for a stack.</p>"
    },
    "ExportName":{"type":"string"},
    "ExportValue":{"type":"string"},
    "Exports":{
      "type":"list",
      "member":{"shape":"Export"}
    },
    "FailureToleranceCount":{
      "type":"integer",
      "min":0
    },
    "FailureTolerancePercentage":{
      "type":"integer",
      "max":100,
      "min":0
    },
    "GetStackPolicyInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or unique stack ID that is associated with the stack whose policy you want to get.</p>"
        }
      },
      "documentation":"<p>The input for the <a>GetStackPolicy</a> action.</p>"
    },
    "GetStackPolicyOutput":{
      "type":"structure",
      "members":{
        "StackPolicyBody":{
          "shape":"StackPolicyBody",
          "documentation":"<p>Structure containing the stack policy body. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/protect-stack-resources.html\"> Prevent Updates to Stack Resources</a> in the AWS CloudFormation User Guide.)</p>"
        }
      },
      "documentation":"<p>The output for the <a>GetStackPolicy</a> action.</p>"
    },
    "GetTemplateInput":{
      "type":"structure",
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique stack ID that is associated with the stack, which are not always interchangeable:</p> <ul> <li> <p>Running stacks: You can specify either the stack's name or its unique stack ID.</p> </li> <li> <p>Deleted stacks: You must specify the unique stack ID.</p> </li> </ul> <p>Default: There is no default value.</p>"
        },
        "ChangeSetName":{
          "shape":"ChangeSetNameOrId",
          "documentation":"<p>The name or Amazon Resource Name (ARN) of a change set for which AWS CloudFormation returns the associated template. If you specify a name, you must also specify the <code>StackName</code>.</p>"
        },
        "TemplateStage":{
          "shape":"TemplateStage",
          "documentation":"<p>For templates that include transforms, the stage of the template that AWS CloudFormation returns. To get the user-submitted template, specify <code>Original</code>. To get the template after AWS CloudFormation has processed all transforms, specify <code>Processed</code>. </p> <p>If the template doesn't include transforms, <code>Original</code> and <code>Processed</code> return the same template. By default, AWS CloudFormation specifies <code>Original</code>. </p>"
        }
      },
      "documentation":"<p>The input for a <a>GetTemplate</a> action.</p>"
    },
    "GetTemplateOutput":{
      "type":"structure",
      "members":{
        "TemplateBody":{
          "shape":"TemplateBody",
          "documentation":"<p>Structure containing the template body. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.)</p> <p>AWS CloudFormation returns the same template that was used when the stack was created.</p>"
        },
        "StagesAvailable":{
          "shape":"StageList",
          "documentation":"<p>The stage of the template that you can retrieve. For stacks, the <code>Original</code> and <code>Processed</code> templates are always available. For change sets, the <code>Original</code> template is always available. After AWS CloudFormation finishes creating the change set, the <code>Processed</code> template becomes available.</p>"
        }
      },
      "documentation":"<p>The output for <a>GetTemplate</a> action.</p>"
    },
    "GetTemplateSummaryInput":{
      "type":"structure",
      "members":{
        "TemplateBody":{
          "shape":"TemplateBody",
          "documentation":"<p>Structure containing the template body with a minimum length of 1 byte and a maximum length of 51,200 bytes. For more information about templates, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify only one of the following parameters: <code>StackName</code>, <code>StackSetName</code>, <code>TemplateBody</code>, or <code>TemplateURL</code>.</p>"
        },
        "TemplateURL":{
          "shape":"TemplateURL",
[...]
