{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2014-05-30",
    "endpointPrefix": "cloudhsm",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "CloudHSM",
    "serviceFullName": "Amazon CloudHSM",
    "serviceId": "CloudHSM",
    "signatureVersion": "v4",
    "targetPrefix": "CloudHsmFrontendService",
    "uid": "cloudhsm-2014-05-30"
  },
  "operations": {
    "AddTagsToResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagList"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S2"
          },
          "TagList": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Status"
        ],
        "members": {
          "Status": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateHapg": {
      "input": {
        "type": "structure",
        "required": [
          "Label"
        ],
        "members": {
          "Label": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "HapgArn": {
            "shape": "Sb"
          }
        }
      }
    },
    "CreateHsm": {
      "input": {
        "type": "structure",
        "required": [
          "SubnetId",
          "SshKey",
          "IamRoleArn",
          "SubscriptionType"
        ],
        "members": {
          "SubnetId": {
            "shape": "Sd",
            "locationName": "SubnetId"
          },
          "SshKey": {
            "shape": "Se",
            "locationName": "SshKey"
          },
          "EniIp": {
            "shape": "Sf",
            "locationName": "EniIp"
          },
          "IamRoleArn": {
            "shape": "Sg",
            "locationName": "IamRoleArn"
          },
          "ExternalId": {
            "shape": "Sh",
            "locationName": "ExternalId"
          },
          "SubscriptionType": {
            "shape": "Si",
            "locationName": "SubscriptionType"
          },
          "ClientToken": {
            "locationName": "ClientToken",
            "type": "string",
            "pattern": "[a-zA-Z0-9]{1,64}"
          },
          "SyslogIp": {
            "shape": "Sf",
            "locationName": "SyslogIp"
          }
        },
        "locationName": "CreateHsmRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "HsmArn": {
            "shape": "Sl"
          }
        }
      }
    },
    "CreateLunaClient": {
      "input": {
        "type": "structure",
        "required": [
          "Certificate"
        ],
        "members": {
          "Label": {
            "type": "string",
            "pattern": "[a-zA-Z0-9_.-]{2,64}"
          },
          "Certificate": {
            "shape": "So"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClientArn": {
            "shape": "Sq"
          }
        }
      }
    },
    "DeleteHapg": {
      "input": {
        "type": "structure",
        "required": [
          "HapgArn"
        ],
        "members": {
          "HapgArn": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Status"
        ],
        "members": {
          "Status": {
            "shape": "S2"
          }
        }
      }
    },
    "DeleteHsm": {
      "input": {
        "type": "structure",
        "required": [
          "HsmArn"
        ],
        "members": {
          "HsmArn": {
            "shape": "Sl",
            "locationName": "HsmArn"
          }
        },
        "locationName": "DeleteHsmRequest"
      },
      "output": {
        "type": "structure",
        "required": [
          "Status"
        ],
        "members": {
          "Status": {
            "shape": "S2"
          }
        }
      }
    },
    "DeleteLunaClient": {
      "input": {
        "type": "structure",
        "required": [
          "ClientArn"
        ],
        "members": {
          "ClientArn": {
            "shape": "Sq"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Status"
        ],
        "members": {
          "Status": {
            "shape": "S2"
          }
        }
      }
    },
    "DescribeHapg": {
      "input": {
        "type": "structure",
        "required": [
          "HapgArn"
        ],
        "members": {
          "HapgArn": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "HapgArn": {
            "shape": "Sb"
          },
          "HapgSerial": {
            "shape": "S2"
          },
          "HsmsLastActionFailed": {
            "shape": "Sz"
          },
          "HsmsPendingDeletion": {
            "shape": "Sz"
          },
          "HsmsPendingRegistration": {
            "shape": "Sz"
          },
          "Label": {
            "shape": "S9"
          },
          "LastModifiedTimestamp": {
            "shape": "S10"
          },
          "PartitionSerialList": {
            "shape": "S11"
          },
          "State": {
            "type": "string",
            "enum": [
              "READY",
              "UPDATING",
              "DEGRADED"
            ]
          }
        }
      }
    },
    "DescribeHsm": {
      "input": {
        "type": "structure",
        "members": {
          "HsmArn": {
            "shape": "Sl"
          },
          "HsmSerialNumber": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "HsmArn": {
            "shape": "Sl"
          },
          "Status": {
            "type": "string",
            "enum": [
              "PENDING",
              "RUNNING",
              "UPDATING",
              "SUSPENDED",
              "TERMINATING",
              "TERMINATED",
              "DEGRADED"
            ]
          },
          "StatusDetails": {
            "shape": "S2"
          },
          "AvailabilityZone": {
            "shape": "S18"
          },
          "EniId": {
            "type": "string",
            "pattern": "eni-[0-9a-f]{8}"
          },
          "EniIp": {
            "shape": "Sf"
          },
          "SubscriptionType": {
            "shape": "Si"
          },
          "SubscriptionStartDate": {
            "shape": "S10"
          },
          "SubscriptionEndDate": {
            "shape": "S10"
          },
          "VpcId": {
            "type": "string",
            "pattern": "vpc-[0-9a-f]{8}"
          },
          "SubnetId": {
            "shape": "Sd"
          },
          "IamRoleArn": {
            "shape": "Sg"
          },
          "SerialNumber": {
            "shape": "S15"
          },
          "VendorName": {
            "shape": "S2"
          },
          "HsmType": {
            "shape": "S2"
          },
          "SoftwareVersion": {
            "shape": "S2"
          },
          "SshPublicKey": {
            "shape": "Se"
          },
          "SshKeyLastUpdated": {
            "shape": "S10"
          },
          "ServerCertUri": {
            "shape": "S2"
          },
          "ServerCertLastUpdated": {
            "shape": "S10"
          },
          "Partitions": {
            "type": "list",
            "member": {
              "type": "string",
              "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}/partition-[0-9]{6,12}"
            }
          }
        }
      }
    },
    "DescribeLunaClient": {
      "input": {
        "type": "structure",
        "members": {
          "ClientArn": {
            "shape": "Sq"
          },
          "CertificateFingerprint": {
            "shape": "S1e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClientArn": {
            "shape": "Sq"
          },
          "Certificate": {
            "shape": "So"
          },
          "CertificateFingerprint": {
            "shape": "S1e"
          },
          "LastModifiedTimestamp": {
            "shape": "S10"
          },
          "Label": {
            "shape": "S9"
          }
        }
      }
    },
    "GetConfig": {
      "input": {
        "type": "structure",
        "required": [
          "ClientArn",
          "ClientVersion",
          "HapgList"
        ],
        "members": {
          "ClientArn": {
            "shape": "Sq"
          },
          "ClientVersion": {
            "type": "string",
            "enum": [
              "5.1",
              "5.3"
            ]
          },
          "HapgList": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigType": {
            "shape": "S2"
          },
          "ConfigFile": {
            "shape": "S2"
          },
          "ConfigCred": {
            "shape": "S2"
          }
        }
      }
    },
    "ListAvailableZones": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "AZList": {
            "type": "list",
            "member": {
              "shape": "S18"
            }
          }
        }
      }
    },
    "ListHapgs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HapgList"
        ],
        "members": {
          "HapgList": {
            "shape": "S1i"
          },
          "NextToken": {
            "shape": "S1o"
          }
        }
      }
    },
    "ListHsms": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "HsmList": {
            "shape": "Sz"
          },
          "NextToken": {
            "shape": "S1o"
          }
        }
      }
    },
    "ListLunaClients": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ClientList"
        ],
        "members": {
          "ClientList": {
            "type": "list",
            "member": {
              "shape": "Sq"
            }
          },
          "NextToken": {
            "shape": "S1o"
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TagList"
        ],
        "members": {
          "TagList": {
            "shape": "S3"
          }
        }
      }
    },
    "ModifyHapg": {
      "input": {
        "type": "structure",
        "required": [
          "HapgArn"
        ],
        "members": {
          "HapgArn": {
            "shape": "Sb"
          },
          "Label": {
            "shape": "S9"
          },
          "PartitionSerialList": {
            "shape": "S11"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "HapgArn": {
            "shape": "Sb"
          }
        }
      }
    },
    "ModifyHsm": {
      "input": {
        "type": "structure",
        "required": [
          "HsmArn"
        ],
        "members": {
          "HsmArn": {
            "shape": "Sl",
            "locationName": "HsmArn"
          },
          "SubnetId": {
            "shape": "Sd",
            "locationName": "SubnetId"
          },
          "EniIp": {
            "shape": "Sf",
            "locationName": "EniIp"
          },
          "IamRoleArn": {
            "shape": "Sg",
            "locationName": "IamRoleArn"
          },
          "ExternalId": {
            "shape": "Sh",
            "locationName": "ExternalId"
          },
          "SyslogIp": {
            "shape": "Sf",
            "locationName": "SyslogIp"
          }
        },
        "locationName": "ModifyHsmRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "HsmArn": {
            "shape": "Sl"
          }
        }
      }
    },
    "ModifyLunaClient": {
      "input": {
        "type": "structure",
        "required": [
          "ClientArn",
          "Certificate"
        ],
        "members": {
          "ClientArn": {
            "shape": "Sq"
          },
          "Certificate": {
            "shape": "So"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClientArn": {
            "shape": "Sq"
          }
        }
      }
    },
    "RemoveTagsFromResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeyList"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S2"
          },
          "TagKeyList": {
            "type": "list",
            "member": {
              "shape": "S5"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Status"
        ],
        "members": {
          "Status": {
            "shape": "S2"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "pattern": "[\\w :+=./\\\\-]*"
    },
    "S3": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {
            "shape": "S5"
          },
          "Value": {
            "type": "string",
            "max": 256,
            "min": 0
          }
        }
      }
    },
    "S5": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S9": {
      "type": "string",
      "pattern": "[a-zA-Z0-9_.-]{1,64}"
    },
    "Sb": {
      "type": "string",
      "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hapg-[0-9a-f]{8}"
    },
    "Sd": {
      "type": "string",
      "pattern": "subnet-[0-9a-f]{8}"
    },
    "Se": {
      "type": "string",
      "pattern": "[a-zA-Z0-9+/= ._:\\\\@-]*"
    },
    "Sf": {
      "type": "string",
      "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}"
    },
    "Sg": {
      "type": "string",
      "pattern": "arn:aws(-iso)?:iam::[0-9]{12}:role/[a-zA-Z0-9_\\+=,\\.\\-@]{1,64}"
    },
    "Sh": {
      "type": "string",
      "pattern": "[\\w :+=./-]*"
    },
    "Si": {
      "type": "string",
      "enum": [
        "PRODUCTION"
      ]
    },
    "Sl": {
      "type": "string",
      "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}"
    },
    "So": {
      "type": "string",
      "max": 2400,
      "min": 600,
      "pattern": "[\\w :+=./\\n-]*"
    },
    "Sq": {
      "type": "string",
      "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:client-[0-9a-f]{8}"
    },
    "Sz": {
      "type": "list",
      "member": {
        "shape": "Sl"
      }
    },
    "S10": {
      "type": "string",
      "pattern": "\\d*"
    },
    "S11": {
      "type": "list",
      "member": {
        "type": "string",
        "pattern": "\\d{6,12}"
      }
    },
    "S15": {
      "type": "string",
      "pattern": "\\d{1,16}"
    },
    "S18": {
      "type": "string",
      "pattern": "[a-zA-Z0-9\\-]*"
    },
    "S1e": {
      "type": "string",
      "pattern": "([0-9a-fA-F][0-9a-fA-F]:){15}[0-9a-fA-F][0-9a-fA-F]"
    },
    "S1i": {
      "type": "list",
      "member": {
        "shape": "Sb"
      }
    },
    "S1o": {
      "type": "string",
      "pattern": "[a-zA-Z0-9+/]*"
    }
  }
}