{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-05-10",
    "endpointPrefix": "clouddirectory",
    "protocol": "rest-json",
    "serviceFullName": "Amazon CloudDirectory",
    "signatureVersion": "v4",
    "signingName": "clouddirectory",
    "uid": "clouddirectory-2016-05-10"
  },
  "operations": {
    "AddFacetToObject": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/facets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "SchemaFacet",
          "ObjectReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "SchemaFacet": {
            "shape": "S3"
          },
          "ObjectAttributeList": {
            "shape": "S5"
          },
          "ObjectReference": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ApplySchema": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/apply",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PublishedSchemaArn",
          "DirectoryArn"
        ],
        "members": {
          "PublishedSchemaArn": {},
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppliedSchemaArn": {},
          "DirectoryArn": {}
        }
      }
    },
    "AttachObject": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/attach",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "ParentReference",
          "ChildReference",
          "LinkName"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "ParentReference": {
            "shape": "Sf"
          },
          "ChildReference": {
            "shape": "Sf"
          },
          "LinkName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AttachedObjectIdentifier": {}
        }
      }
    },
    "AttachPolicy": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/policy/attach",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PolicyReference",
          "ObjectReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "PolicyReference": {
            "shape": "Sf"
          },
          "ObjectReference": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AttachToIndex": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/index/attach",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "IndexReference",
          "TargetReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "IndexReference": {
            "shape": "Sf"
          },
          "TargetReference": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AttachedObjectIdentifier": {}
        }
      }
    },
    "BatchRead": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/batchread",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "Operations"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "Operations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ListObjectAttributes": {
                  "type": "structure",
                  "required": [
                    "ObjectReference"
                  ],
                  "members": {
                    "ObjectReference": {
                      "shape": "Sf"
                    },
                    "NextToken": {},
                    "MaxResults": {
                      "type": "integer"
                    },
                    "FacetFilter": {
                      "shape": "S3"
                    }
                  }
                },
                "ListObjectChildren": {
                  "type": "structure",
                  "required": [
                    "ObjectReference"
                  ],
                  "members": {
                    "ObjectReference": {
                      "shape": "Sf"
                    },
                    "NextToken": {},
                    "MaxResults": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "ConsistencyLevel": {
            "location": "header",
            "locationName": "x-amz-consistency-level"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Responses": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SuccessfulResponse": {
                  "type": "structure",
                  "members": {
                    "ListObjectAttributes": {
                      "type": "structure",
                      "members": {
                        "Attributes": {
                          "shape": "S5"
                        },
                        "NextToken": {}
                      }
                    },
                    "ListObjectChildren": {
                      "type": "structure",
                      "members": {
                        "Children": {
                          "shape": "S16"
                        },
                        "NextToken": {}
                      }
                    }
                  }
                },
                "ExceptionResponse": {
                  "type": "structure",
                  "members": {
                    "Type": {},
                    "Message": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "BatchWrite": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/batchwrite",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "Operations"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "Operations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CreateObject": {
                  "type": "structure",
                  "required": [
                    "SchemaFacet",
                    "ObjectAttributeList",
                    "ParentReference",
                    "LinkName",
                    "BatchReferenceName"
                  ],
                  "members": {
                    "SchemaFacet": {
                      "shape": "S1e"
                    },
                    "ObjectAttributeList": {
                      "shape": "S5"
                    },
                    "ParentReference": {
                      "shape": "Sf"
                    },
                    "LinkName": {},
                    "BatchReferenceName": {}
                  }
                },
                "AttachObject": {
                  "type": "structure",
                  "required": [
                    "ParentReference",
                    "ChildReference",
                    "LinkName"
                  ],
                  "members": {
                    "ParentReference": {
                      "shape": "Sf"
                    },
                    "ChildReference": {
                      "shape": "Sf"
                    },
                    "LinkName": {}
                  }
                },
                "DetachObject": {
                  "type": "structure",
                  "required": [
                    "ParentReference",
                    "LinkName",
                    "BatchReferenceName"
                  ],
                  "members": {
                    "ParentReference": {
                      "shape": "Sf"
                    },
                    "LinkName": {},
                    "BatchReferenceName": {}
                  }
                },
                "UpdateObjectAttributes": {
                  "type": "structure",
                  "required": [
                    "ObjectReference",
                    "AttributeUpdates"
                  ],
                  "members": {
                    "ObjectReference": {
                      "shape": "Sf"
                    },
                    "AttributeUpdates": {
                      "shape": "S1j"
                    }
                  }
                },
                "DeleteObject": {
                  "type": "structure",
                  "required": [
                    "ObjectReference"
                  ],
                  "members": {
                    "ObjectReference": {
                      "shape": "Sf"
                    }
                  }
                },
                "AddFacetToObject": {
                  "type": "structure",
                  "required": [
                    "SchemaFacet",
                    "ObjectAttributeList",
                    "ObjectReference"
                  ],
                  "members": {
                    "SchemaFacet": {
                      "shape": "S3"
                    },
                    "ObjectAttributeList": {
                      "shape": "S5"
                    },
                    "ObjectReference": {
                      "shape": "Sf"
                    }
                  }
                },
                "RemoveFacetFromObject": {
                  "type": "structure",
                  "required": [
                    "SchemaFacet",
                    "ObjectReference"
                  ],
                  "members": {
                    "SchemaFacet": {
                      "shape": "S3"
                    },
                    "ObjectReference": {
                      "shape": "Sf"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Responses": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CreateObject": {
                  "type": "structure",
                  "members": {
                    "ObjectIdentifier": {}
                  }
                },
                "AttachObject": {
                  "type": "structure",
                  "members": {
                    "attachedObjectIdentifier": {}
                  }
                },
                "DetachObject": {
                  "type": "structure",
                  "members": {
                    "detachedObjectIdentifier": {}
                  }
                },
                "UpdateObjectAttributes": {
                  "type": "structure",
                  "members": {
                    "ObjectIdentifier": {}
                  }
                },
                "DeleteObject": {
                  "type": "structure",
                  "members": {}
                },
                "AddFacetToObject": {
                  "type": "structure",
                  "members": {}
                },
                "RemoveFacetFromObject": {
                  "type": "structure",
                  "members": {}
                }
              }
            }
          }
        }
      }
    },
    "CreateDirectory": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/directory/create",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "SchemaArn"
        ],
        "members": {
          "Name": {},
          "SchemaArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "Name",
          "ObjectIdentifier",
          "AppliedSchemaArn"
        ],
        "members": {
          "DirectoryArn": {},
          "Name": {},
          "ObjectIdentifier": {},
          "AppliedSchemaArn": {}
        }
      }
    },
    "CreateFacet": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/facet/create",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SchemaArn",
          "Name",
          "ObjectType"
        ],
        "members": {
          "SchemaArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "Name": {},
          "Attributes": {
            "shape": "S25"
          },
          "ObjectType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateIndex": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/index",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "OrderedIndexedAttributeList",
          "IsUnique"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "OrderedIndexedAttributeList": {
            "type": "list",
            "member": {
              "shape": "S7"
            }
          },
          "IsUnique": {
            "type": "boolean"
          },
          "ParentReference": {
            "shape": "Sf"
          },
          "LinkName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ObjectIdentifier": {}
        }
      }
    },
    "CreateObject": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "SchemaFacets"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "SchemaFacets": {
            "shape": "S1e"
          },
          "ObjectAttributeList": {
            "shape": "S5"
          },
          "ParentReference": {
            "shape": "Sf"
          },
          "LinkName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ObjectIdentifier": {}
        }
      }
    },
    "CreateSchema": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/create",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArn": {}
        }
      }
    },
    "DeleteDirectory": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/directory",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DirectoryArn"
        ],
        "members": {
          "DirectoryArn": {}
        }
      }
    },
    "DeleteFacet": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/facet/delete",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SchemaArn",
          "Name"
        ],
        "members": {
          "SchemaArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteObject": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/delete",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "ObjectReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "ObjectReference": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSchema": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SchemaArn"
        ],
        "members": {
          "SchemaArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArn": {}
        }
      }
    },
    "DetachFromIndex": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/index/detach",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "IndexReference",
          "TargetReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "IndexReference": {
            "shape": "Sf"
          },
          "TargetReference": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DetachedObjectIdentifier": {}
        }
      }
    },
    "DetachObject": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/detach",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "ParentReference",
          "LinkName"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "ParentReference": {
            "shape": "Sf"
          },
          "LinkName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DetachedObjectIdentifier": {}
        }
      }
    },
    "DetachPolicy": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/policy/detach",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "PolicyReference",
          "ObjectReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "PolicyReference": {
            "shape": "Sf"
          },
          "ObjectReference": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableDirectory": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/directory/disable",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DirectoryArn"
        ],
        "members": {
          "DirectoryArn": {}
        }
      }
    },
    "EnableDirectory": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/directory/enable",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DirectoryArn"
        ],
        "members": {
          "DirectoryArn": {}
        }
      }
    },
    "GetDirectory": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/directory/get",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Directory"
        ],
        "members": {
          "Directory": {
            "shape": "S3d"
          }
        }
      }
    },
    "GetFacet": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/facet",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SchemaArn",
          "Name"
        ],
        "members": {
          "SchemaArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Facet": {
            "type": "structure",
            "members": {
              "Name": {},
              "ObjectType": {}
            }
          }
        }
      }
    },
    "GetObjectInformation": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/object/information",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "ObjectReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "ObjectReference": {
            "shape": "Sf"
          },
          "ConsistencyLevel": {
            "location": "header",
            "locationName": "x-amz-consistency-level"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaFacets": {
            "shape": "S1e"
          },
          "ObjectIdentifier": {}
        }
      }
    },
    "GetSchemaAsJson": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/json",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SchemaArn"
        ],
        "members": {
          "SchemaArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "Document": {}
        }
      }
    },
    "ListAppliedSchemaArns": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/applied",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn"
        ],
        "members": {
          "DirectoryArn": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArns": {
            "shape": "S3q"
          },
          "NextToken": {}
        }
      }
    },
    "ListAttachedIndices": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/object/indices",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "TargetReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "TargetReference": {
            "shape": "Sf"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "ConsistencyLevel": {
            "location": "header",
            "locationName": "x-amz-consistency-level"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IndexAttachments": {
            "shape": "S3t"
          },
          "NextToken": {}
        }
      }
    },
    "ListDevelopmentSchemaArns": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/development",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArns": {
            "shape": "S3q"
          },
          "NextToken": {}
        }
      }
    },
    "ListDirectories": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/directory/list",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "state": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Directories"
        ],
        "members": {
          "Directories": {
            "type": "list",
            "member": {
              "shape": "S3d"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListFacetAttributes": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/facet/attributes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SchemaArn",
          "Name"
        ],
        "members": {
          "SchemaArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "Name": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attributes": {
            "shape": "S25"
          },
          "NextToken": {}
        }
      }
    },
    "ListFacetNames": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/facet/list",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SchemaArn"
        ],
        "members": {
          "SchemaArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FacetNames": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListIndex": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/index/targets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "IndexReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "RangesOnIndexedValues": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AttributeKey": {
                  "shape": "S7"
                },
                "Range": {
                  "type": "structure",
                  "required": [
                    "StartMode",
                    "EndMode"
                  ],
                  "members": {
                    "StartMode": {},
                    "StartValue": {
                      "shape": "S9"
                    },
                    "EndMode": {},
                    "EndValue": {
                      "shape": "S9"
                    }
                  }
                }
              }
            }
          },
          "IndexReference": {
            "shape": "Sf"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "ConsistencyLevel": {
            "location": "header",
            "locationName": "x-amz-consistency-level"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IndexAttachments": {
            "shape": "S3t"
          },
          "NextToken": {}
        }
      }
    },
    "ListObjectAttributes": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/object/attributes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "ObjectReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "ObjectReference": {
            "shape": "Sf"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "ConsistencyLevel": {
            "location": "header",
            "locationName": "x-amz-consistency-level"
          },
          "FacetFilter": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attributes": {
            "shape": "S5"
          },
          "NextToken": {}
        }
      }
    },
    "ListObjectChildren": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/object/children",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "ObjectReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "ObjectReference": {
            "shape": "Sf"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "ConsistencyLevel": {
            "location": "header",
            "locationName": "x-amz-consistency-level"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Children": {
            "shape": "S16"
          },
          "NextToken": {}
        }
      }
    },
    "ListObjectParentPaths": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/object/parentpaths",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "ObjectReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "ObjectReference": {
            "shape": "Sf"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PathToObjectIdentifiersList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Path": {},
                "ObjectIdentifiers": {
                  "shape": "S4k"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListObjectParents": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/object/parent",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "ObjectReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "ObjectReference": {
            "shape": "Sf"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "ConsistencyLevel": {
            "location": "header",
            "locationName": "x-amz-consistency-level"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Parents": {
            "type": "map",
            "key": {},
            "value": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListObjectPolicies": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/object/policy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "ObjectReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "ObjectReference": {
            "shape": "Sf"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "ConsistencyLevel": {
            "location": "header",
            "locationName": "x-amz-consistency-level"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AttachedPolicyIds": {
            "shape": "S4k"
          },
          "NextToken": {}
        }
      }
    },
    "ListPolicyAttachments": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/policy/attachment",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "PolicyReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "PolicyReference": {
            "shape": "Sf"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "ConsistencyLevel": {
            "location": "header",
            "locationName": "x-amz-consistency-level"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ObjectIdentifiers": {
            "shape": "S4k"
          },
          "NextToken": {}
        }
      }
    },
    "ListPublishedSchemaArns": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/published",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArns": {
            "shape": "S3q"
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/tags",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S4x"
          },
          "NextToken": {}
        }
      }
    },
    "LookupPolicy": {
      "http": {
        "requestUri": "/amazonclouddirectory/2017-01-11/policy/lookup",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "ObjectReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "ObjectReference": {
            "shape": "Sf"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyToPathList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Path": {},
                "Policies": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "PolicyId": {},
                      "ObjectIdentifier": {},
                      "PolicyType": {}
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "PublishSchema": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/publish",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DevelopmentSchemaArn",
          "Version"
        ],
        "members": {
          "DevelopmentSchemaArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "Version": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PublishedSchemaArn": {}
        }
      }
    },
    "PutSchemaFromJson": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/json",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SchemaArn",
          "Document"
        ],
        "members": {
          "SchemaArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "Document": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {}
        }
      }
    },
    "RemoveFacetFromObject": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/facets/delete",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "SchemaFacet",
          "ObjectReference"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "SchemaFacet": {
            "shape": "S3"
          },
          "ObjectReference": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TagResource": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/tags/add",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S4x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/tags/remove",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateFacet": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/facet",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SchemaArn",
          "Name"
        ],
        "members": {
          "SchemaArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "Name": {},
          "AttributeUpdates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Attribute": {
                  "shape": "S26"
                },
                "Action": {}
              }
            }
          },
          "ObjectType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateObjectAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/update",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DirectoryArn",
          "ObjectReference",
          "AttributeUpdates"
        ],
        "members": {
          "DirectoryArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "ObjectReference": {
            "shape": "Sf"
          },
          "AttributeUpdates": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ObjectIdentifier": {}
        }
      }
    },
    "UpdateSchema": {
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/update",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SchemaArn",
          "Name"
        ],
        "members": {
          "SchemaArn": {
            "location": "header",
            "locationName": "x-amz-data-partition"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArn": {}
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "structure",
      "members": {
        "SchemaArn": {},
        "FacetName": {}
      }
    },
    "S5": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {
            "shape": "S7"
          },
          "Value": {
            "shape": "S9"
          }
        }
      }
    },
    "S7": {
      "type": "structure",
      "required": [
        "SchemaArn",
        "FacetName",
        "Name"
      ],
      "members": {
        "SchemaArn": {},
        "FacetName": {},
        "Name": {}
      }
    },
    "S9": {
      "type": "structure",
      "members": {
        "StringValue": {},
        "BinaryValue": {
          "type": "blob"
        },
        "BooleanValue": {
          "type": "boolean"
        },
        "NumberValue": {},
        "DatetimeValue": {
          "type": "timestamp"
        }
      }
    },
    "Sf": {
      "type": "structure",
      "members": {
        "Selector": {}
      }
    },
    "S16": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1e": {
      "type": "list",
      "member": {
        "shape": "S3"
      }
    },
    "S1j": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ObjectAttributeKey": {
            "shape": "S7"
          },
          "ObjectAttributeAction": {
            "type": "structure",
            "members": {
              "ObjectAttributeActionType": {},
              "ObjectAttributeUpdateValue": {
                "shape": "S9"
              }
            }
          }
        }
      }
    },
    "S25": {
      "type": "list",
      "member": {
        "shape": "S26"
      }
    },
    "S26": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "AttributeDefinition": {
          "type": "structure",
          "required": [
            "Type"
          ],
          "members": {
            "Type": {},
            "DefaultValue": {
              "shape": "S9"
            },
            "IsImmutable": {
              "type": "boolean"
            },
            "Rules": {
              "type": "map",
              "key": {},
              "value": {
                "type": "structure",
                "members": {
                  "Type": {},
                  "Parameters": {
                    "type": "map",
                    "key": {},
                    "value": {}
                  }
                }
              }
            }
          }
        },
        "AttributeReference": {
          "type": "structure",
          "required": [
            "TargetFacetName",
            "TargetAttributeName"
          ],
          "members": {
            "TargetFacetName": {},
            "TargetAttributeName": {}
          }
        },
        "RequiredBehavior": {}
      }
    },
    "S3d": {
      "type": "structure",
      "members": {
        "Name": {},
        "DirectoryArn": {},
        "State": {},
        "CreationDateTime": {
          "type": "timestamp"
        }
      }
    },
    "S3q": {
      "type": "list",
      "member": {}
    },
    "S3t": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "IndexedAttributes": {
            "shape": "S5"
          },
          "ObjectIdentifier": {}
        }
      }
    },
    "S4k": {
      "type": "list",
      "member": {}
    },
    "S4x": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    }
  }
}