{
  "metadata": {
    "apiVersion": "2011-02-01",
    "endpointPrefix": "cloudsearch",
    "serviceFullName": "Amazon CloudSearch",
    "serviceId": "CloudSearch",
    "signatureVersion": "v4",
    "xmlNamespace": "http://cloudsearch.amazonaws.com/doc/2011-02-01/",
    "protocol": "query"
  },
  "operations": {
    "CreateDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateDomainResult",
        "type": "structure",
        "members": {
          "DomainStatus": {
            "shape": "S4"
          }
        }
      }
    },
    "DefineIndexField": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "IndexField"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "IndexField": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "resultWrapper": "DefineIndexFieldResult",
        "type": "structure",
        "required": [
          "IndexField"
        ],
        "members": {
          "IndexField": {
            "shape": "Sx"
          }
        }
      }
    },
    "DefineRankExpression": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "RankExpression"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "RankExpression": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "resultWrapper": "DefineRankExpressionResult",
        "type": "structure",
        "required": [
          "RankExpression"
        ],
        "members": {
          "RankExpression": {
            "shape": "S15"
          }
        }
      }
    },
    "DeleteDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteDomainResult",
        "type": "structure",
        "members": {
          "DomainStatus": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteIndexField": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "IndexFieldName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "IndexFieldName": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteIndexFieldResult",
        "type": "structure",
        "required": [
          "IndexField"
        ],
        "members": {
          "IndexField": {
            "shape": "Sx"
          }
        }
      }
    },
    "DeleteRankExpression": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "RankName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "RankName": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteRankExpressionResult",
        "type": "structure",
        "required": [
          "RankExpression"
        ],
        "members": {
          "RankExpression": {
            "shape": "S15"
          }
        }
      }
    },
    "DescribeAvailabilityOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeAvailabilityOptionsResult",
        "type": "structure",
        "members": {
          "AvailabilityOptions": {
            "shape": "S1e"
          }
        }
      }
    },
    "DescribeDefaultSearchField": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeDefaultSearchFieldResult",
        "type": "structure",
        "required": [
          "DefaultSearchField"
        ],
        "members": {
          "DefaultSearchField": {
            "shape": "S1i"
          }
        }
      }
    },
    "DescribeDomains": {
      "input": {
        "type": "structure",
        "members": {
          "DomainNames": {
            "type": "list",
            "member": {
              "shape": "S2"
            }
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeDomainsResult",
        "type": "structure",
        "required": [
          "DomainStatusList"
        ],
        "members": {
          "DomainStatusList": {
            "type": "list",
            "member": {
              "shape": "S4"
            }
          }
        }
      }
    },
    "DescribeIndexFields": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "FieldNames": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeIndexFieldsResult",
        "type": "structure",
        "required": [
          "IndexFields"
        ],
        "members": {
          "IndexFields": {
            "type": "list",
            "member": {
              "shape": "Sx"
            }
          }
        }
      }
    },
    "DescribeRankExpressions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "RankNames": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeRankExpressionsResult",
        "type": "structure",
        "required": [
          "RankExpressions"
        ],
        "members": {
          "RankExpressions": {
            "type": "list",
            "member": {
              "shape": "S15"
            }
          }
        }
      }
    },
    "DescribeServiceAccessPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeServiceAccessPoliciesResult",
        "type": "structure",
        "required": [
          "AccessPolicies"
        ],
        "members": {
          "AccessPolicies": {
            "shape": "S1w"
          }
        }
      }
    },
    "DescribeStemmingOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeStemmingOptionsResult",
        "type": "structure",
        "required": [
          "Stems"
        ],
        "members": {
          "Stems": {
            "shape": "S20"
          }
        }
      }
    },
    "DescribeStopwordOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeStopwordOptionsResult",
        "type": "structure",
        "required": [
          "Stopwords"
        ],
        "members": {
          "Stopwords": {
            "shape": "S24"
          }
        }
      }
    },
    "DescribeSynonymOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeSynonymOptionsResult",
        "type": "structure",
        "required": [
          "Synonyms"
        ],
        "members": {
          "Synonyms": {
            "shape": "S28"
          }
        }
      }
    },
    "IndexDocuments": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "IndexDocumentsResult",
        "type": "structure",
        "members": {
          "FieldNames": {
            "shape": "S1o"
          }
        }
      }
    },
    "UpdateAvailabilityOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "MultiAZ"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "MultiAZ": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateAvailabilityOptionsResult",
        "type": "structure",
        "members": {
          "AvailabilityOptions": {
            "shape": "S1e"
          }
        }
      }
    },
    "UpdateDefaultSearchField": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "DefaultSearchField"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "DefaultSearchField": {}
        }
      },
      "output": {
        "resultWrapper": "UpdateDefaultSearchFieldResult",
        "type": "structure",
        "required": [
          "DefaultSearchField"
        ],
        "members": {
          "DefaultSearchField": {
            "shape": "S1i"
          }
        }
      }
    },
    "UpdateServiceAccessPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AccessPolicies"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "AccessPolicies": {}
        }
      },
      "output": {
        "resultWrapper": "UpdateServiceAccessPoliciesResult",
        "type": "structure",
        "required": [
          "AccessPolicies"
        ],
        "members": {
          "AccessPolicies": {
            "shape": "S1w"
          }
        }
      }
    },
    "UpdateStemmingOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "Stems"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "Stems": {}
        }
      },
      "output": {
        "resultWrapper": "UpdateStemmingOptionsResult",
        "type": "structure",
        "required": [
          "Stems"
        ],
        "members": {
          "Stems": {
            "shape": "S20"
          }
        }
      }
    },
    "UpdateStopwordOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "Stopwords"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "Stopwords": {}
        }
      },
      "output": {
        "resultWrapper": "UpdateStopwordOptionsResult",
        "type": "structure",
        "required": [
          "Stopwords"
        ],
        "members": {
          "Stopwords": {
            "shape": "S24"
          }
        }
      }
    },
    "UpdateSynonymOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "Synonyms"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "Synonyms": {}
        }
      },
      "output": {
        "resultWrapper": "UpdateSynonymOptionsResult",
        "type": "structure",
        "required": [
          "Synonyms"
        ],
        "members": {
          "Synonyms": {
            "shape": "S28"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "min": 3,
      "max": 28,
      "pattern": "[a-z][a-z0-9\\-]+"
    },
    "S4": {
      "type": "structure",
      "required": [
        "DomainId",
        "DomainName",
        "RequiresIndexDocuments"
      ],
      "members": {
        "DomainId": {
          "type": "string",
          "min": 1,
          "max": 64
        },
        "DomainName": {
          "shape": "S2"
        },
        "Created": {
          "type": "boolean"
        },
        "Deleted": {
          "type": "boolean"
        },
        "NumSearchableDocs": {
          "type": "long",
          "min": 0
        },
        "DocService": {
          "shape": "S8"
        },
        "SearchService": {
          "shape": "S8"
        },
        "RequiresIndexDocuments": {
          "type": "boolean"
        },
        "Processing": {
          "type": "boolean"
        },
        "SearchInstanceType": {},
        "SearchPartitionCount": {
          "type": "integer",
          "min": 1
        },
        "SearchInstanceCount": {
          "type": "integer",
          "min": 1
        }
      }
    },
    "S8": {
      "type": "structure",
      "members": {
        "Arn": {},
        "Endpoint": {}
      }
    },
    "Sf": {
      "type": "structure",
      "required": [
        "IndexFieldName",
        "IndexFieldType"
      ],
      "members": {
        "IndexFieldName": {
          "shape": "Sg"
        },
        "IndexFieldType": {
          "type": "string",
          "enum": [
            "uint",
            "literal",
            "text"
          ]
        },
        "UIntOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "shape": "Sj"
            }
          }
        },
        "LiteralOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "shape": "Sl"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "FacetEnabled": {
              "type": "boolean"
            },
            "ResultEnabled": {
              "type": "boolean"
            }
          }
        },
        "TextOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "shape": "Sl"
            },
            "FacetEnabled": {
              "type": "boolean"
            },
            "ResultEnabled": {
              "type": "boolean"
            },
            "TextProcessor": {
              "shape": "Sg"
            }
          }
        },
        "SourceAttributes": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "SourceDataFunction"
            ],
            "members": {
              "SourceDataFunction": {
                "type": "string",
                "enum": [
                  "Copy",
                  "TrimTitle",
                  "Map"
                ]
              },
              "SourceDataCopy": {
                "type": "structure",
                "required": [
                  "SourceName"
                ],
                "members": {
                  "SourceName": {
                    "shape": "Sg"
                  },
                  "DefaultValue": {
                    "shape": "Sl"
                  }
                }
              },
              "SourceDataTrimTitle": {
                "type": "structure",
                "required": [
                  "SourceName"
                ],
                "members": {
                  "SourceName": {
                    "shape": "Sg"
                  },
                  "DefaultValue": {
                    "shape": "Sl"
                  },
                  "Separator": {},
                  "Language": {
                    "type": "string",
                    "pattern": "[a-zA-Z]{2,8}(?:-[a-zA-Z]{2,8})*"
                  }
                }
              },
              "SourceDataMap": {
                "type": "structure",
                "required": [
                  "SourceName"
                ],
                "members": {
                  "SourceName": {
                    "shape": "Sg"
                  },
                  "DefaultValue": {
                    "shape": "Sl"
                  },
                  "Cases": {
                    "type": "map",
                    "key": {
                      "shape": "Sl"
                    },
                    "value": {
                      "shape": "Sl"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Sg": {
      "type": "string",
      "min": 1,
      "max": 64,
      "pattern": "[a-z][a-z0-9_]*"
    },
    "Sj": {
      "type": "integer",
      "min": 0
    },
    "Sl": {
      "type": "string",
      "min": 0,
      "max": 1024
    },
    "Sx": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "Sf"
        },
        "Status": {
          "shape": "Sy"
        }
      }
    },
    "Sy": {
      "type": "structure",
      "required": [
        "CreationDate",
        "UpdateDate",
        "State"
      ],
      "members": {
        "CreationDate": {
          "type": "timestamp"
        },
        "UpdateDate": {
          "type": "timestamp"
        },
        "UpdateVersion": {
          "shape": "Sj"
        },
        "State": {
          "type": "string",
          "enum": [
            "RequiresIndexDocuments",
            "Processing",
            "Active"
          ]
        },
        "PendingDeletion": {
          "type": "boolean"
        }
      }
    },
    "S12": {
      "type": "structure",
      "required": [
        "RankName",
        "RankExpression"
      ],
      "members": {
        "RankName": {
          "shape": "Sg"
        },
        "RankExpression": {
          "type": "string",
          "min": 1,
          "max": 10240
        }
      }
    },
    "S15": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "S12"
        },
        "Status": {
          "shape": "Sy"
        }
      }
    },
    "S1e": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "type": "boolean"
        },
        "Status": {
          "shape": "Sy"
        }
      }
    },
    "S1i": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "Sg"
        },
        "Status": {
          "shape": "Sy"
        }
      }
    },
    "S1o": {
      "type": "list",
      "member": {
        "shape": "Sg"
      }
    },
    "S1w": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {},
        "Status": {
          "shape": "Sy"
        }
      }
    },
    "S20": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {},
        "Status": {
          "shape": "Sy"
        }
      }
    },
    "S24": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {},
        "Status": {
          "shape": "Sy"
        }
      }
    },
    "S28": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {},
        "Status": {
          "shape": "Sy"
        }
      }
    }
  }
}