{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2013-01-01",
    "endpointPrefix": "cloudsearch",
    "serviceFullName": "Amazon CloudSearch",
    "serviceId": "CloudSearch",
    "signatureVersion": "v4",
    "xmlNamespace": "http://cloudsearch.amazonaws.com/doc/2013-01-01/",
    "protocol": "query",
    "uid": "cloudsearch-2013-01-01"
  },
  "operations": {
    "BuildSuggesters": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "BuildSuggestersResult",
        "type": "structure",
        "members": {
          "FieldNames": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateDomainResult",
        "type": "structure",
        "members": {
          "DomainStatus": {
            "shape": "S8"
          }
        }
      }
    },
    "DefineAnalysisScheme": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AnalysisScheme"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "AnalysisScheme": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "resultWrapper": "DefineAnalysisSchemeResult",
        "type": "structure",
        "required": [
          "AnalysisScheme"
        ],
        "members": {
          "AnalysisScheme": {
            "shape": "Ss"
          }
        }
      }
    },
    "DefineExpression": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "Expression"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "Expression": {
            "shape": "Sy"
          }
        }
      },
      "output": {
        "resultWrapper": "DefineExpressionResult",
        "type": "structure",
        "required": [
          "Expression"
        ],
        "members": {
          "Expression": {
            "shape": "S11"
          }
        }
      }
    },
    "DefineIndexField": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "IndexField"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "IndexField": {
            "shape": "S13"
          }
        }
      },
      "output": {
        "resultWrapper": "DefineIndexFieldResult",
        "type": "structure",
        "required": [
          "IndexField"
        ],
        "members": {
          "IndexField": {
            "shape": "S1n"
          }
        }
      }
    },
    "DefineSuggester": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "Suggester"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "Suggester": {
            "shape": "S1p"
          }
        }
      },
      "output": {
        "resultWrapper": "DefineSuggesterResult",
        "type": "structure",
        "required": [
          "Suggester"
        ],
        "members": {
          "Suggester": {
            "shape": "S1t"
          }
        }
      }
    },
    "DeleteAnalysisScheme": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AnalysisSchemeName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "AnalysisSchemeName": {
            "shape": "Sm"
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteAnalysisSchemeResult",
        "type": "structure",
        "required": [
          "AnalysisScheme"
        ],
        "members": {
          "AnalysisScheme": {
            "shape": "Ss"
          }
        }
      }
    },
    "DeleteDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteDomainResult",
        "type": "structure",
        "members": {
          "DomainStatus": {
            "shape": "S8"
          }
        }
      }
    },
    "DeleteExpression": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "ExpressionName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "ExpressionName": {
            "shape": "Sm"
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteExpressionResult",
        "type": "structure",
        "required": [
          "Expression"
        ],
        "members": {
          "Expression": {
            "shape": "S11"
          }
        }
      }
    },
    "DeleteIndexField": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "IndexFieldName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "IndexFieldName": {
            "shape": "S14"
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteIndexFieldResult",
        "type": "structure",
        "required": [
          "IndexField"
        ],
        "members": {
          "IndexField": {
            "shape": "S1n"
          }
        }
      }
    },
    "DeleteSuggester": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "SuggesterName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "SuggesterName": {
            "shape": "Sm"
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteSuggesterResult",
        "type": "structure",
        "required": [
          "Suggester"
        ],
        "members": {
          "Suggester": {
            "shape": "S1t"
          }
        }
      }
    },
    "DescribeAnalysisSchemes": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "AnalysisSchemeNames": {
            "shape": "S25"
          },
          "Deployed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeAnalysisSchemesResult",
        "type": "structure",
        "required": [
          "AnalysisSchemes"
        ],
        "members": {
          "AnalysisSchemes": {
            "type": "list",
            "member": {
              "shape": "Ss"
            }
          }
        }
      }
    },
    "DescribeAvailabilityOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "Deployed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeAvailabilityOptionsResult",
        "type": "structure",
        "members": {
          "AvailabilityOptions": {
            "shape": "S2a"
          }
        }
      }
    },
    "DescribeDomains": {
      "input": {
        "type": "structure",
        "members": {
          "DomainNames": {
            "type": "list",
            "member": {
              "shape": "S2"
            }
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeDomainsResult",
        "type": "structure",
        "required": [
          "DomainStatusList"
        ],
        "members": {
          "DomainStatusList": {
            "type": "list",
            "member": {
              "shape": "S8"
            }
          }
        }
      }
    },
    "DescribeExpressions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "ExpressionNames": {
            "shape": "S25"
          },
          "Deployed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeExpressionsResult",
        "type": "structure",
        "required": [
          "Expressions"
        ],
        "members": {
          "Expressions": {
            "type": "list",
            "member": {
              "shape": "S11"
            }
          }
        }
      }
    },
    "DescribeIndexFields": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "FieldNames": {
            "type": "list",
            "member": {
              "shape": "S14"
            }
          },
          "Deployed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeIndexFieldsResult",
        "type": "structure",
        "required": [
          "IndexFields"
        ],
        "members": {
          "IndexFields": {
            "type": "list",
            "member": {
              "shape": "S1n"
            }
          }
        }
      }
    },
    "DescribeScalingParameters": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeScalingParametersResult",
        "type": "structure",
        "required": [
          "ScalingParameters"
        ],
        "members": {
          "ScalingParameters": {
            "shape": "S2p"
          }
        }
      }
    },
    "DescribeServiceAccessPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "Deployed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeServiceAccessPoliciesResult",
        "type": "structure",
        "required": [
          "AccessPolicies"
        ],
        "members": {
          "AccessPolicies": {
            "shape": "S2u"
          }
        }
      }
    },
    "DescribeSuggesters": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "SuggesterNames": {
            "shape": "S25"
          },
          "Deployed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeSuggestersResult",
        "type": "structure",
        "required": [
          "Suggesters"
        ],
        "members": {
          "Suggesters": {
            "type": "list",
            "member": {
              "shape": "S1t"
            }
          }
        }
      }
    },
    "IndexDocuments": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "IndexDocumentsResult",
        "type": "structure",
        "members": {
          "FieldNames": {
            "shape": "S4"
          }
        }
      }
    },
    "ListDomainNames": {
      "output": {
        "resultWrapper": "ListDomainNamesResult",
        "type": "structure",
        "members": {
          "DomainNames": {
            "type": "map",
            "key": {
              "shape": "S2"
            },
            "value": {}
          }
        }
      }
    },
    "UpdateAvailabilityOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "MultiAZ"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "MultiAZ": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateAvailabilityOptionsResult",
        "type": "structure",
        "members": {
          "AvailabilityOptions": {
            "shape": "S2a"
          }
        }
      }
    },
    "UpdateScalingParameters": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "ScalingParameters"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "ScalingParameters": {
            "shape": "S2q"
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateScalingParametersResult",
        "type": "structure",
        "required": [
          "ScalingParameters"
        ],
        "members": {
          "ScalingParameters": {
            "shape": "S2p"
          }
        }
      }
    },
    "UpdateServiceAccessPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AccessPolicies"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "AccessPolicies": {}
        }
      },
      "output": {
        "resultWrapper": "UpdateServiceAccessPoliciesResult",
        "type": "structure",
        "required": [
          "AccessPolicies"
        ],
        "members": {
          "AccessPolicies": {
            "shape": "S2u"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "min": 3,
      "max": 28,
      "pattern": "[a-z][a-z0-9\\-]+"
    },
    "S4": {
      "type": "list",
      "member": {
        "shape": "S5"
      }
    },
    "S5": {
      "type": "string",
      "min": 1,
      "max": 64,
      "pattern": "[a-z][a-z0-9_]*"
    },
    "S8": {
      "type": "structure",
      "required": [
        "DomainId",
        "DomainName",
        "RequiresIndexDocuments"
      ],
      "members": {
        "DomainId": {
          "type": "string",
          "min": 1,
          "max": 64
        },
        "DomainName": {
          "shape": "S2"
        },
        "ARN": {},
        "Created": {
          "type": "boolean"
        },
        "Deleted": {
          "type": "boolean"
        },
        "DocService": {
          "shape": "Sc"
        },
        "SearchService": {
          "shape": "Sc"
        },
        "RequiresIndexDocuments": {
          "type": "boolean"
        },
        "Processing": {
          "type": "boolean"
        },
        "SearchInstanceType": {},
        "SearchPartitionCount": {
          "type": "integer",
          "min": 1
        },
        "SearchInstanceCount": {
          "type": "integer",
          "min": 1
        },
        "Limits": {
          "type": "structure",
          "required": [
            "MaximumReplicationCount",
            "MaximumPartitionCount"
          ],
          "members": {
            "MaximumReplicationCount": {
              "type": "integer",
              "min": 1
            },
            "MaximumPartitionCount": {
              "type": "integer",
              "min": 1
            }
          }
        }
      }
    },
    "Sc": {
      "type": "structure",
      "members": {
        "Endpoint": {}
      }
    },
    "Sl": {
      "type": "structure",
      "required": [
        "AnalysisSchemeName",
        "AnalysisSchemeLanguage"
      ],
      "members": {
        "AnalysisSchemeName": {
          "shape": "Sm"
        },
        "AnalysisSchemeLanguage": {
          "type": "string",
          "enum": [
            "ar",
            "bg",
            "ca",
            "cs",
            "da",
            "de",
            "el",
            "en",
            "es",
            "eu",
            "fa",
            "fi",
            "fr",
            "ga",
            "gl",
            "he",
            "hi",
            "hu",
            "hy",
            "id",
            "it",
            "ja",
            "ko",
            "lv",
            "mul",
            "nl",
            "no",
            "pt",
            "ro",
            "ru",
            "sv",
            "th",
            "tr",
            "zh-Hans",
            "zh-Hant"
          ]
        },
        "AnalysisOptions": {
          "type": "structure",
          "members": {
            "Synonyms": {},
            "Stopwords": {},
            "StemmingDictionary": {},
            "JapaneseTokenizationDictionary": {},
            "AlgorithmicStemming": {
              "type": "string",
              "enum": [
                "none",
                "minimal",
                "light",
                "full"
              ]
            }
          }
        }
      }
    },
    "Sm": {
      "type": "string",
      "min": 1,
      "max": 64,
      "pattern": "[a-z][a-z0-9_]*"
    },
    "Ss": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "Sl"
        },
        "Status": {
          "shape": "St"
        }
      }
    },
    "St": {
      "type": "structure",
      "required": [
        "CreationDate",
        "UpdateDate",
        "State"
      ],
      "members": {
        "CreationDate": {
          "type": "timestamp"
        },
        "UpdateDate": {
          "type": "timestamp"
        },
        "UpdateVersion": {
          "shape": "Sv"
        },
        "State": {
          "type": "string",
          "enum": [
            "RequiresIndexDocuments",
            "Processing",
            "Active",
            "FailedToValidate"
          ]
        },
        "PendingDeletion": {
          "type": "boolean"
        }
      }
    },
    "Sv": {
      "type": "integer",
      "min": 0
    },
    "Sy": {
      "type": "structure",
      "required": [
        "ExpressionName",
        "ExpressionValue"
      ],
      "members": {
        "ExpressionName": {
          "shape": "Sm"
        },
        "ExpressionValue": {
          "type": "string",
          "min": 1,
          "max": 10240
        }
      }
    },
    "S11": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "Sy"
        },
        "Status": {
          "shape": "St"
        }
      }
    },
    "S13": {
      "type": "structure",
      "required": [
        "IndexFieldName",
        "IndexFieldType"
      ],
      "members": {
        "IndexFieldName": {
          "shape": "S14"
        },
        "IndexFieldType": {
          "type": "string",
          "enum": [
            "int",
            "double",
            "literal",
            "text",
            "date",
            "latlon",
            "int-array",
            "double-array",
            "literal-array",
            "text-array",
            "date-array"
          ]
        },
        "IntOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "type": "long"
            },
            "SourceField": {
              "shape": "S5"
            },
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            },
            "SortEnabled": {
              "type": "boolean"
            }
          }
        },
        "DoubleOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "type": "double"
            },
            "SourceField": {
              "shape": "S5"
            },
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            },
            "SortEnabled": {
              "type": "boolean"
            }
          }
        },
        "LiteralOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "shape": "S1b"
            },
            "SourceField": {
              "shape": "S5"
            },
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            },
            "SortEnabled": {
              "type": "boolean"
            }
          }
        },
        "TextOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "shape": "S1b"
            },
            "SourceField": {
              "shape": "S5"
            },
            "ReturnEnabled": {
              "type": "boolean"
            },
            "SortEnabled": {
              "type": "boolean"
            },
            "HighlightEnabled": {
              "type": "boolean"
            },
            "AnalysisScheme": {
              "shape": "S1d"
            }
          }
        },
        "DateOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "shape": "S1b"
            },
            "SourceField": {
              "shape": "S5"
            },
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            },
            "SortEnabled": {
              "type": "boolean"
            }
          }
        },
        "LatLonOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "shape": "S1b"
            },
            "SourceField": {
              "shape": "S5"
            },
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            },
            "SortEnabled": {
              "type": "boolean"
            }
          }
        },
        "IntArrayOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "type": "long"
            },
            "SourceFields": {
              "shape": "S1h"
            },
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            }
          }
        },
        "DoubleArrayOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "type": "double"
            },
            "SourceFields": {
              "shape": "S1h"
            },
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            }
          }
        },
        "LiteralArrayOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "shape": "S1b"
            },
            "SourceFields": {
              "shape": "S1h"
            },
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            }
          }
        },
        "TextArrayOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "shape": "S1b"
            },
            "SourceFields": {
              "shape": "S1h"
            },
            "ReturnEnabled": {
              "type": "boolean"
            },
            "HighlightEnabled": {
              "type": "boolean"
            },
            "AnalysisScheme": {
              "shape": "S1d"
            }
          }
        },
        "DateArrayOptions": {
          "type": "structure",
          "members": {
            "DefaultValue": {
              "shape": "S1b"
            },
            "SourceFields": {
              "shape": "S1h"
            },
            "FacetEnabled": {
              "type": "boolean"
            },
            "SearchEnabled": {
              "type": "boolean"
            },
            "ReturnEnabled": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "S14": {
      "type": "string",
      "min": 1,
      "max": 64,
      "pattern": "([a-z][a-z0-9_]*\\*?|\\*[a-z0-9_]*)"
    },
    "S1b": {
      "type": "string",
      "min": 0,
      "max": 1024
    },
    "S1d": {
      "type": "string",
      "pattern": "[\\S]+"
    },
    "S1h": {
      "type": "string",
      "pattern": "\\s*[a-z*][a-z0-9_]*\\*?\\s*(,\\s*[a-z*][a-z0-9_]*\\*?\\s*)*"
    },
    "S1n": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "S13"
        },
        "Status": {
          "shape": "St"
        }
      }
    },
    "S1p": {
      "type": "structure",
      "required": [
        "SuggesterName",
        "DocumentSuggesterOptions"
      ],
      "members": {
        "SuggesterName": {
          "shape": "Sm"
        },
        "DocumentSuggesterOptions": {
          "type": "structure",
          "required": [
            "SourceField"
          ],
          "members": {
            "SourceField": {
              "shape": "S5"
            },
            "FuzzyMatching": {
              "type": "string",
              "enum": [
                "none",
                "low",
                "high"
              ]
            },
            "SortExpression": {}
          }
        }
      }
    },
    "S1t": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "S1p"
        },
        "Status": {
          "shape": "St"
        }
      }
    },
    "S25": {
      "type": "list",
      "member": {
        "shape": "Sm"
      }
    },
    "S2a": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "type": "boolean"
        },
        "Status": {
          "shape": "St"
        }
      }
    },
    "S2p": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {
          "shape": "S2q"
        },
        "Status": {
          "shape": "St"
        }
      }
    },
    "S2q": {
      "type": "structure",
      "members": {
        "DesiredInstanceType": {
          "type": "string",
          "enum": [
            "search.m1.small",
            "search.m1.large",
            "search.m2.xlarge",
            "search.m2.2xlarge",
            "search.m3.medium",
            "search.m3.large",
            "search.m3.xlarge",
            "search.m3.2xlarge"
          ]
        },
        "DesiredReplicationCount": {
          "shape": "Sv"
        },
        "DesiredPartitionCount": {
          "shape": "Sv"
        }
      }
    },
    "S2u": {
      "type": "structure",
      "required": [
        "Options",
        "Status"
      ],
      "members": {
        "Options": {},
        "Status": {
          "shape": "St"
        }
      }
    }
  }
}