{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2013-11-01",
    "endpointPrefix":"cloudtrail",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"CloudTrail",
    "serviceFullName":"AWS CloudTrail",
    "signatureVersion":"v4",
    "targetPrefix":"com.amazonaws.cloudtrail.v20131101.CloudTrail_20131101",
    "protocol":"json"
  },
  "documentation":"<fullname>AWS CloudTrail</fullname> <p>This is the CloudTrail API Reference. It provides descriptions of actions, data types, common parameters, and common errors for CloudTrail.</p> <p>CloudTrail is a web service that records AWS API calls for your AWS account and delivers log files to an Amazon S3 bucket. The recorded information includes the identity of the user, the start time of the AWS API call, the source IP address, the request parameters, and the response elements returned by the service.</p> <note> As an alternative to using the API, you can use one of the AWS SDKs, which consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWSCloudTrail. For example, the SDKs take care of cryptographically signing requests, managing errors, and retrying requests automatically. For information about the AWS SDKs, including how to download and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services page</a>. </note> <p>See the CloudTrail User Guide for information about the data that is included with each AWS API call listed in the log files.</p>",
  "operations":{
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AddTagsRequest",
        "documentation":"<p>Specifies the tags to add to a trail.</p>"
      },
      "output":{
        "shape":"AddTagsResponse",
        "documentation":"<p> Returns the objects or data listed below if successful. Otherwise, returns an error. </p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the specified resource is not found.</p>"
        },
        {
          "shape":"CloudTrailARNInvalidException",
          "error":{
            "code":"CloudTrailARNInvalid",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>. </p>"
        },
        {
          "shape":"ResourceTypeNotSupportedException",
          "error":{
            "code":"ResourceTypeNotSupported",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the specified resource type is not supported by CloudTrail.</p>"
        },
        {
          "shape":"TagsLimitExceededException",
          "error":{
            "code":"TagsLimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The number of tags per trail has exceeded the permitted amount. Currently, the limit is 10.</p>"
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</li> <li>Start with a letter or number, and end with a letter or number</li> <li>Be between 3 and 128 characters</li> <li>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</li> <li>Not be in IP address format (for example, 192.168.5.4)</li> </ul>"
        },
        {
          "shape":"InvalidTagParameterException",
          "error":{
            "code":"InvalidTagParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the key or value specified for the tag does not match the regular expression <code>^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-@]*)$</code>.</p>"
        },
        {
          "shape":"UnsupportedOperationException",
          "error":{
            "code":"UnsupportedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not supported. For example, this exception will occur if an attempt is made to tag a trail and tagging is not supported in the current region.</p>"
        },
        {
          "shape":"OperationNotPermittedException",
          "error":{
            "code":"OperationNotPermitted",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not permitted.</p>"
        }
      ],
      "documentation":"<p>Adds one or more tags to a trail, up to a limit of 10. Tags must be unique per trail. Overwrites an existing tag's value when a new value is specified for an existing tag key. If you specify a key without a value, the tag will be created with the specified key and a value of null.</p>"
    },
    "CreateTrail":{
      "name":"CreateTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateTrailRequest",
        "documentation":"<p>Specifies the settings for each trail.</p>"
      },
      "output":{
        "shape":"CreateTrailResponse",
        "documentation":"Returns the objects or data listed below if successful. Otherwise, returns an error."
      },
      "errors":[
        {
          "shape":"MaximumNumberOfTrailsExceededException",
          "error":{
            "code":"MaximumNumberOfTrailsExceeded",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the maximum number of trails is reached.</p>"
        },
        {
          "shape":"TrailAlreadyExistsException",
          "error":{
            "code":"TrailAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the specified trail already exists.</p>"
        },
        {
          "shape":"S3BucketDoesNotExistException",
          "error":{
            "code":"S3BucketDoesNotExist",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the specified S3 bucket does not exist.</p>"
        },
        {
          "shape":"InsufficientS3BucketPolicyException",
          "error":{
            "code":"InsufficientS3BucketPolicy",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the policy on the S3 bucket is not sufficient.</p>"
        },
        {
          "shape":"InsufficientSnsTopicPolicyException",
          "error":{
            "code":"InsufficientSnsTopicPolicy",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the policy on the SNS topic is not sufficient.</p>"
        },
        {
          "shape":"InsufficientEncryptionPolicyException",
          "error":{
            "code":"InsufficientEncryptionPolicy",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the policy on the S3 bucket or KMS key is not sufficient."
        },
        {
          "shape":"InvalidS3BucketNameException",
          "error":{
            "code":"InvalidS3BucketName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided S3 bucket name is not valid.</p>"
        },
        {
          "shape":"InvalidS3PrefixException",
          "error":{
            "code":"InvalidS3Prefix",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided S3 prefix is not valid.</p>"
        },
        {
          "shape":"InvalidSnsTopicNameException",
          "error":{
            "code":"InvalidSnsTopicName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided SNS topic name is not valid.</p>"
        },
        {
          "shape":"InvalidKmsKeyIdException",
          "error":{
            "code":"InvalidKmsKeyId",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the KMS key ARN is invalid."
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</li> <li>Start with a letter or number, and end with a letter or number</li> <li>Be between 3 and 128 characters</li> <li>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</li> <li>Not be in IP address format (for example, 192.168.5.4)</li> </ul>"
        },
        {
          "shape":"TrailNotProvidedException",
          "error":{
            "code":"TrailNotProvided",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is deprecated.</p>"
        },
        {
          "shape":"KmsKeyNotFoundException",
          "error":{
            "code":"KmsKeyNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the KMS key does not exist, or when the S3 bucket and the KMS key are not in the same region."
        },
        {
          "shape":"KmsKeyDisabledException",
          "error":{
            "code":"KmsKeyDisabled",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the KMS key is disabled.</p>"
        },
        {
          "shape":"InvalidCloudWatchLogsLogGroupArnException",
          "error":{
            "code":"InvalidCloudWatchLogsLogGroupArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided CloudWatch log group is not valid.</p>"
        },
        {
          "shape":"InvalidCloudWatchLogsRoleArnException",
          "error":{
            "code":"InvalidCloudWatchLogsRoleArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided role is not valid.</p>"
        },
        {
          "shape":"CloudWatchLogsDeliveryUnavailableException",
          "error":{
            "code":"CloudWatchLogsDeliveryUnavailable",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Cannot set a CloudWatch Logs delivery for this region.</p>"
        },
        {
          "shape":"UnsupportedOperationException",
          "error":{
            "code":"UnsupportedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not supported. For example, this exception will occur if an attempt is made to tag a trail and tagging is not supported in the current region.</p>"
        },
        {
          "shape":"OperationNotPermittedException",
          "error":{
            "code":"OperationNotPermitted",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not permitted.</p>"
        }
      ],
      "documentation":"<p>Creates a trail that specifies the settings for delivery of log data to an Amazon S3 bucket. </p>"
    },
    "DeleteTrail":{
      "name":"DeleteTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteTrailRequest",
        "documentation":"<a>The request that specifies the name of a trail to delete.</a>"
      },
      "output":{
        "shape":"DeleteTrailResponse",
        "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"TrailNotFoundException",
          "error":{
            "code":"TrailNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the trail with the given name is not found.</p>"
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</li> <li>Start with a letter or number, and end with a letter or number</li> <li>Be between 3 and 128 characters</li> <li>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</li> <li>Not be in IP address format (for example, 192.168.5.4)</li> </ul>"
        }
      ],
      "documentation":"<p>Deletes a trail. This operation must be called from the region in which the trail was created.</p>"
    },
    "DescribeTrails":{
      "name":"DescribeTrails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeTrailsRequest",
        "documentation":"<p>Returns information about the trail.</p>"
      },
      "output":{
        "shape":"DescribeTrailsResponse",
        "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"UnsupportedOperationException",
          "error":{
            "code":"UnsupportedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not supported. For example, this exception will occur if an attempt is made to tag a trail and tagging is not supported in the current region.</p>"
        },
        {
          "shape":"OperationNotPermittedException",
          "error":{
            "code":"OperationNotPermitted",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not permitted.</p>"
        }
      ],
      "documentation":"<p>Retrieves settings for the trail associated with the current region for your account.</p>"
    },
    "GetTrailStatus":{
      "name":"GetTrailStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetTrailStatusRequest",
        "documentation":"<p>The name of a trail about which you want the current status.</p>"
      },
      "output":{
        "shape":"GetTrailStatusResponse",
        "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"TrailNotFoundException",
          "error":{
            "code":"TrailNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the trail with the given name is not found.</p>"
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</li> <li>Start with a letter or number, and end with a letter or number</li> <li>Be between 3 and 128 characters</li> <li>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</li> <li>Not be in IP address format (for example, 192.168.5.4)</li> </ul>"
        }
      ],
      "documentation":"<p>Returns a JSON-formatted list of information about the specified trail. Fields include information on delivery errors, Amazon SNS and Amazon S3 errors, and start and stop logging times for each trail. This operation returns trail status from a single region. To return trail status from all regions, you must call the operation on each region.</p>"
    },
    "ListPublicKeys":{
      "name":"ListPublicKeys",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListPublicKeysRequest",
        "documentation":"<p>Requests the public keys for a specified time range.</p>"
      },
      "output":{
        "shape":"ListPublicKeysResponse",
        "documentation":"Returns the objects or data listed below if successful. Otherwise, returns an error."
      },
      "errors":[
        {
          "shape":"InvalidTimeRangeException",
          "error":{
            "code":"InvalidTimeRange",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Occurs if the timestamp values are invalid. Either the start time occurs after the end time or the time range is outside the range of possible values. </p>"
        },
        {
          "shape":"UnsupportedOperationException",
          "error":{
            "code":"UnsupportedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not supported. For example, this exception will occur if an attempt is made to tag a trail and tagging is not supported in the current region.</p>"
        },
        {
          "shape":"OperationNotPermittedException",
          "error":{
            "code":"OperationNotPermitted",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not permitted.</p>"
        },
        {
          "shape":"InvalidTokenException",
          "error":{
            "code":"InvalidToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Reserved for future use.</p>"
        }
      ],
      "documentation":"<p>Returns all public keys whose private keys were used to sign the digest files within the specified time range. The public key is needed to validate digest files that were signed with its corresponding private key.</p> <note>CloudTrail uses different private/public key pairs per region. Each digest file is signed with a private key unique to its region. Therefore, when you validate a digest file from a particular region, you must look in the same region for its corresponding public key.</note>"
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListTagsRequest",
        "documentation":"<p>Specifies a list of trail tags to return.</p>"
      },
      "output":{
        "shape":"ListTagsResponse",
        "documentation":"<p> Returns the objects or data listed below if successful. Otherwise, returns an error. </p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the specified resource is not found.</p>"
        },
        {
          "shape":"CloudTrailARNInvalidException",
          "error":{
            "code":"CloudTrailARNInvalid",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>. </p>"
        },
        {
          "shape":"ResourceTypeNotSupportedException",
          "error":{
            "code":"ResourceTypeNotSupported",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the specified resource type is not supported by CloudTrail.</p>"
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</li> <li>Start with a letter or number, and end with a letter or number</li> <li>Be between 3 and 128 characters</li> <li>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</li> <li>Not be in IP address format (for example, 192.168.5.4)</li> </ul>"
        },
        {
          "shape":"UnsupportedOperationException",
          "error":{
            "code":"UnsupportedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not supported. For example, this exception will occur if an attempt is made to tag a trail and tagging is not supported in the current region.</p>"
        },
        {
          "shape":"OperationNotPermittedException",
          "error":{
            "code":"OperationNotPermitted",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not permitted.</p>"
        },
        {
          "shape":"InvalidTokenException",
          "error":{
            "code":"InvalidToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Reserved for future use.</p>"
        }
      ],
      "documentation":"<p>Lists the tags for the trail in the current region.</p>"
    },
    "LookupEvents":{
      "name":"LookupEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"LookupEventsRequest",
        "documentation":"<p>Contains a request for LookupEvents.</p>"
      },
      "output":{
        "shape":"LookupEventsResponse",
        "documentation":"<p>Contains a response to a LookupEvents action.</p>"
      },
      "errors":[
        {
          "shape":"InvalidLookupAttributesException",
          "error":{
            "code":"InvalidLookupAttributes",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Occurs when an invalid lookup attribute is specified.</p>"
        },
        {
          "shape":"InvalidTimeRangeException",
          "error":{
            "code":"InvalidTimeRange",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Occurs if the timestamp values are invalid. Either the start time occurs after the end time or the time range is outside the range of possible values. </p>"
        },
        {
          "shape":"InvalidMaxResultsException",
          "error":{
            "code":"InvalidMaxResults",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown if the limit specified is invalid. </p>"
        },
        {
          "shape":"InvalidNextTokenException",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Invalid token or token that was previously used in a request with different parameters. This exception is thrown if the token is invalid. </p>"
        }
      ],
      "documentation":"<p>Looks up API activity events captured by CloudTrail that create, update, or delete resources in your account. Events for a region can be looked up for the times in which you had CloudTrail turned on in that region during the last seven days. Lookup supports five different attributes: time range (defined by a start time and end time), user name, event name, resource type, and resource name. All attributes are optional. The maximum number of attributes that can be specified in any one lookup request are time range and one other attribute. The default number of results returned is 10, with a maximum of 50 possible. The response includes a token that you can use to get the next page of results. </p> <important>The rate of lookup requests is limited to one per second per account. If this limit is exceeded, a throttling error occurs. </important> <important>Events that occurred during the selected time range will not be available for lookup if CloudTrail logging was not enabled when the events occurred.</important>"
    },
    "RemoveTags":{
      "name":"RemoveTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RemoveTagsRequest",
        "documentation":"<p>Specifies the tags to remove from a trail.</p>"
      },
      "output":{
        "shape":"RemoveTagsResponse",
        "documentation":"<p> Returns the objects or data listed below if successful. Otherwise, returns an error. </p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{
            "code":"ResourceNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the specified resource is not found.</p>"
        },
        {
          "shape":"CloudTrailARNInvalidException",
          "error":{
            "code":"CloudTrailARNInvalid",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>. </p>"
        },
        {
          "shape":"ResourceTypeNotSupportedException",
          "error":{
            "code":"ResourceTypeNotSupported",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the specified resource type is not supported by CloudTrail.</p>"
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</li> <li>Start with a letter or number, and end with a letter or number</li> <li>Be between 3 and 128 characters</li> <li>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</li> <li>Not be in IP address format (for example, 192.168.5.4)</li> </ul>"
        },
        {
          "shape":"InvalidTagParameterException",
          "error":{
            "code":"InvalidTagParameter",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the key or value specified for the tag does not match the regular expression <code>^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-@]*)$</code>.</p>"
        },
        {
          "shape":"UnsupportedOperationException",
          "error":{
            "code":"UnsupportedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not supported. For example, this exception will occur if an attempt is made to tag a trail and tagging is not supported in the current region.</p>"
        },
        {
          "shape":"OperationNotPermittedException",
          "error":{
            "code":"OperationNotPermitted",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not permitted.</p>"
        }
      ],
      "documentation":"<p>Removes the specified tags from a trail.</p>"
    },
    "StartLogging":{
      "name":"StartLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"StartLoggingRequest",
        "documentation":"<p>The request to CloudTrail to start logging AWS API calls for an account.</p>"
      },
      "output":{
        "shape":"StartLoggingResponse",
        "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"TrailNotFoundException",
          "error":{
            "code":"TrailNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the trail with the given name is not found.</p>"
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</li> <li>Start with a letter or number, and end with a letter or number</li> <li>Be between 3 and 128 characters</li> <li>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</li> <li>Not be in IP address format (for example, 192.168.5.4)</li> </ul>"
        }
      ],
      "documentation":"<p>Starts the recording of AWS API calls and log file delivery for a trail. </p>"
    },
    "StopLogging":{
      "name":"StopLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"StopLoggingRequest",
        "documentation":"<p>Passes the request to CloudTrail to stop logging AWS API calls for the specified account.</p>"
      },
      "output":{
        "shape":"StopLoggingResponse",
        "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"TrailNotFoundException",
          "error":{
            "code":"TrailNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the trail with the given name is not found.</p>"
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</li> <li>Start with a letter or number, and end with a letter or number</li> <li>Be between 3 and 128 characters</li> <li>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</li> <li>Not be in IP address format (for example, 192.168.5.4)</li> </ul>"
        }
      ],
      "documentation":"<p>Suspends the recording of AWS API calls and log file delivery for the specified trail. Under most circumstances, there is no need to use this action. You can update a trail without stopping it first. This action is the only way to stop recording. </p>"
    },
    "UpdateTrail":{
      "name":"UpdateTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateTrailRequest",
        "documentation":"<p>Specifies settings to update for the trail.</p>"
      },
      "output":{
        "shape":"UpdateTrailResponse",
        "documentation":"Returns the objects or data listed below if successful. Otherwise, returns an error."
      },
      "errors":[
        {
          "shape":"S3BucketDoesNotExistException",
          "error":{
            "code":"S3BucketDoesNotExist",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the specified S3 bucket does not exist.</p>"
        },
        {
          "shape":"InsufficientS3BucketPolicyException",
          "error":{
            "code":"InsufficientS3BucketPolicy",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the policy on the S3 bucket is not sufficient.</p>"
        },
        {
          "shape":"InsufficientSnsTopicPolicyException",
          "error":{
            "code":"InsufficientSnsTopicPolicy",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the policy on the SNS topic is not sufficient.</p>"
        },
        {
          "shape":"InsufficientEncryptionPolicyException",
          "error":{
            "code":"InsufficientEncryptionPolicy",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the policy on the S3 bucket or KMS key is not sufficient."
        },
        {
          "shape":"TrailNotFoundException",
          "error":{
            "code":"TrailNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the trail with the given name is not found.</p>"
        },
        {
          "shape":"InvalidS3BucketNameException",
          "error":{
            "code":"InvalidS3BucketName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided S3 bucket name is not valid.</p>"
        },
        {
          "shape":"InvalidS3PrefixException",
          "error":{
            "code":"InvalidS3Prefix",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided S3 prefix is not valid.</p>"
        },
        {
          "shape":"InvalidSnsTopicNameException",
          "error":{
            "code":"InvalidSnsTopicName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided SNS topic name is not valid.</p>"
        },
        {
          "shape":"InvalidKmsKeyIdException",
          "error":{
            "code":"InvalidKmsKeyId",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the KMS key ARN is invalid."
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</li> <li>Start with a letter or number, and end with a letter or number</li> <li>Be between 3 and 128 characters</li> <li>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</li> <li>Not be in IP address format (for example, 192.168.5.4)</li> </ul>"
        },
        {
          "shape":"TrailNotProvidedException",
          "error":{
            "code":"TrailNotProvided",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is deprecated.</p>"
        },
        {
          "shape":"KmsKeyNotFoundException",
          "error":{
            "code":"KmsKeyNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the KMS key does not exist, or when the S3 bucket and the KMS key are not in the same region."
        },
        {
          "shape":"KmsKeyDisabledException",
          "error":{
            "code":"KmsKeyDisabled",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the KMS key is disabled.</p>"
        },
        {
          "shape":"InvalidCloudWatchLogsLogGroupArnException",
          "error":{
            "code":"InvalidCloudWatchLogsLogGroupArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided CloudWatch log group is not valid.</p>"
        },
        {
          "shape":"InvalidCloudWatchLogsRoleArnException",
          "error":{
            "code":"InvalidCloudWatchLogsRoleArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the provided role is not valid.</p>"
        },
        {
          "shape":"CloudWatchLogsDeliveryUnavailableException",
          "error":{
            "code":"CloudWatchLogsDeliveryUnavailable",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Cannot set a CloudWatch Logs delivery for this region.</p>"
        },
        {
          "shape":"UnsupportedOperationException",
          "error":{
            "code":"UnsupportedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not supported. For example, this exception will occur if an attempt is made to tag a trail and tagging is not supported in the current region.</p>"
        },
        {
          "shape":"OperationNotPermittedException",
          "error":{
            "code":"OperationNotPermitted",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>This exception is thrown when the requested operation is not permitted.</p>"
        }
      ],
      "documentation":"<p>Updates the settings that specify delivery of log files. Changes to a trail do not require stopping the CloudTrail service. Use this action to designate an existing bucket for log delivery. If the existing bucket has previously been a target for CloudTrail log files, an IAM policy exists for the bucket. </p>"
    }
  },
  "shapes":{
    "AddTagsRequest":{
      "type":"structure",
      "required":["ResourceId"],
      "members":{
        "ResourceId":{
          "shape":"String",
          "documentation":"<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>.</p>"
        },
        "TagsList":{
          "shape":"TagsList",
          "documentation":"<p>Contains a list of CloudTrail tags, up to a limit of 10.</p>"
        }
      },
      "documentation":"<p>Specifies the tags to add to a trail.</p>"
    },
    "AddTagsResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> Returns the objects or data listed below if successful. Otherwise, returns an error. </p>"
    },
    "Boolean":{"type":"boolean"},
    "ByteBuffer":{"type":"blob"},
    "CloudTrailARNInvalidException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"CloudTrailARNInvalid",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>. </p>"
    },
    "CloudWatchLogsDeliveryUnavailableException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"CloudWatchLogsDeliveryUnavailable",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Cannot set a CloudWatch Logs delivery for this region.</p>"
    },
    "CreateTrailRequest":{
      "type":"structure",
      "required":[
        "Name",
        "S3BucketName"
      ],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</li> <li>Start with a letter or number, and end with a letter or number</li> <li>Be between 3 and 128 characters</li> <li>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</li> <li>Not be in IP address format (for example, 192.168.5.4)</li> </ul>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>"
        },
        "S3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.</p>"
        },
        "SnsTopicName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.</p>"
        },
        "IncludeGlobalServiceEvents":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is publishing events from global services such as IAM to the log files. </p>"
        },
        "EnableLogFileValidation":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether log file integrity validation is enabled. The default is false.</p> <note>When you disable log file integrity validation, the chain of digest files is broken after one hour. CloudTrail will not create digest files for log files that were delivered during a period in which log file integrity validation was disabled. For example, if you enable log file integrity validation at noon on January 1, disable it at noon on January 2, and re-enable it at noon on January 10, digest files will not be created for the log files delivered from noon on January 2 to noon on January 10. The same applies whenever you stop CloudTrail logging or delete a trail.</note>"
        },
        "CloudWatchLogsLogGroupArn":{
          "shape":"String",
          "documentation":"<p>Specifies a log group name using an Amazon Resource Name (ARN), a unique identifier that represents the log group to which CloudTrail logs will be delivered. Not required unless you specify CloudWatchLogsRoleArn.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"String",
          "documentation":"<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>Specifies the KMS key ID to use to encrypt the logs delivered by CloudTrail. The value can be a an alias name prefixed by \"alias/\", a fully specified ARN to an alias, a fully specified ARN to a key, or a globally unique identifier.</p> <p>Examples:</p> <ul> <li>alias/MyAliasName</li> <li>arn:aws:kms:us-east-1:123456789012:alias/MyAliasName</li> <li>arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</li> <li>12345678-1234-1234-1234-123456789012</li> </ul>"
        }
      },
      "documentation":"<p>Specifies the settings for each trail.</p>"
    },
    "CreateTrailResponse":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the trail.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon S3 bucket designated for publishing log files.</p>"
        },
        "S3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>.</p>"
        },
        "SnsTopicName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery.</p>"
        },
        "IncludeGlobalServiceEvents":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is publishing events from global services such as IAM to the log files. </p>"
        },
        "TrailARN":{
          "shape":"String",
          "documentation":"<p>Specifies the ARN of the trail that was created.</p>"
        },
        "LogFileValidationEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether log file integrity validation is enabled.</p>"
        },
        "CloudWatchLogsLogGroupArn":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the log group to which CloudTrail logs will be delivered.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"String",
          "documentation":"<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>Specifies the KMS key ID that encrypts the logs delivered by CloudTrail. The value is a fully specified ARN to a KMS key in the format:</p> <code>arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</code>"
        }
      },
      "documentation":"Returns the objects or data listed below if successful. Otherwise, returns an error."
    },
    "Date":{"type":"timestamp"},
    "DeleteTrailRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>.</p>"
        }
      },
      "documentation":"<a>The request that specifies the name of a trail to delete.</a>"
    },
    "DeleteTrailResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "DescribeTrailsRequest":{
      "type":"structure",
      "members":{
        "trailNameList":{
          "shape":"TrailNameList",
          "documentation":"<p>Specifies a list of trail names, trail ARNs, or both, of the trails to describe. The format of a trail ARN is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>. If an empty list is specified, information for the trail in the current region is returned.</p>"
        }
      },
      "documentation":"<p>Returns information about the trail.</p>"
    },
    "DescribeTrailsResponse":{
      "type":"structure",
      "members":{
        "trailList":{
          "shape":"TrailList",
          "documentation":"<p>The list of trail objects.</p>"
        }
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "Event":{
      "type":"structure",
      "members":{
        "EventId":{
          "shape":"String",
          "documentation":"<p>The CloudTrail ID of the event returned.</p>"
        },
        "EventName":{
          "shape":"String",
          "documentation":"<p>The name of the event returned.</p>"
        },
        "EventTime":{
          "shape":"Date",
          "documentation":"<p>The date and time of the event returned.</p>"
        },
        "Username":{
          "shape":"String",
          "documentation":"<p>A user name or role name of the requester that called the API in the event returned.</p>"
        },
        "Resources":{
          "shape":"ResourceList",
          "documentation":"<p>A list of resources referenced by the event returned.</p>"
        },
        "CloudTrailEvent":{
          "shape":"String",
          "documentation":"<p>A JSON string that contains a representation of the event returned.</p>"
        }
      },
      "documentation":"<p>Contains information about an event that was returned by a lookup request. The result includes a representation of a CloudTrail event. </p>"
    },
    "EventsList":{
      "type":"list",
      "member":{"shape":"Event"}
    },
    "GetTrailStatusRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name or the CloudTrail ARN of the trail for which you are requesting status. The format of a trail ARN is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>.</p>"
        }
      },
      "documentation":"<p>The name of a trail about which you want the current status.</p>"
    },
    "GetTrailStatusResponse":{
      "type":"structure",
      "members":{
        "IsLogging":{
          "shape":"Boolean",
          "documentation":"<p>Whether the CloudTrail is currently logging AWS API calls.</p>"
        },
        "LatestDeliveryError":{
          "shape":"String",
          "documentation":"<p>Displays any Amazon S3 error that CloudTrail encountered when attempting to deliver log files to the designated bucket. For more information see the topic <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html\">Error Responses</a> in the Amazon S3 API Reference. </p> <note>This error occurs only when there is a problem with the destination S3 bucket and will not occur for timeouts. To resolve the issue, create a new bucket and call <code>UpdateTrail</code> to specify the new bucket, or fix the existing objects so that CloudTrail can again write to the bucket. </note>"
        },
        "LatestNotificationError":{
          "shape":"String",
          "documentation":"<p>Displays any Amazon SNS error that CloudTrail encountered when attempting to send a notification. For more information about Amazon SNS errors, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/welcome.html\">Amazon SNS Developer Guide</a>. </p>"
        },
        "LatestDeliveryTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the date and time that CloudTrail last delivered log files to an account's Amazon S3 bucket.</p>"
        },
        "LatestNotificationTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the date and time of the most recent Amazon SNS notification that CloudTrail has written a new log file to an account's Amazon S3 bucket. </p>"
        },
        "StartLoggingTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the most recent date and time when CloudTrail started recording API calls for an AWS account. </p>"
        },
        "StopLoggingTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the most recent date and time when CloudTrail stopped recording API calls for an AWS account. </p>"
        },
        "LatestCloudWatchLogsDeliveryError":{
          "shape":"String",
          "documentation":"<p>Displays any CloudWatch Logs error that CloudTrail encountered when attempting to deliver logs to CloudWatch Logs.</p>"
        },
        "LatestCloudWatchLogsDeliveryTime":{
          "shape":"Date",
          "documentation":"<p>Displays the most recent date and time when CloudTrail delivered logs to CloudWatch Logs.</p>"
        },
        "LatestDigestDeliveryTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the date and time that CloudTrail last delivered a digest file to an account's Amazon S3 bucket.</p>"
        },
        "LatestDigestDeliveryError":{
          "shape":"String",
          "documentation":"<p>Displays any Amazon S3 error that CloudTrail encountered when attempting to deliver a digest file to the designated bucket. For more information see the topic <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html\">Error Responses</a> in the Amazon S3 API Reference. </p> <note>This error occurs only when there is a problem with the destination S3 bucket and will not occur for timeouts. To resolve the issue, create a new bucket and call <code>UpdateTrail</code> to specify the new bucket, or fix the existing objects so that CloudTrail can again write to the bucket. </note>"
        },
        "LatestDeliveryAttemptTime":{
          "shape":"String",
          "documentation":"<p>This field is deprecated.</p>"
        },
        "LatestNotificationAttemptTime":{
          "shape":"String",
          "documentation":"<p>This field is deprecated.</p>"
        },
        "LatestNotificationAttemptSucceeded":{
          "shape":"String",
          "documentation":"<p>This field is deprecated.</p>"
        },
        "LatestDeliveryAttemptSucceeded":{
          "shape":"String",
          "documentation":"<p>This field is deprecated.</p>"
        },
        "TimeLoggingStarted":{
          "shape":"String",
          "documentation":"<p>This field is deprecated.</p>"
        },
        "TimeLoggingStopped":{
          "shape":"String",
          "documentation":"<p>This field is deprecated.</p>"
        }
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "InsufficientEncryptionPolicyException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InsufficientEncryptionPolicy",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the policy on the S3 bucket or KMS key is not sufficient."
    },
    "InsufficientS3BucketPolicyException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InsufficientS3BucketPolicy",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the policy on the S3 bucket is not sufficient.</p>"
    },
    "InsufficientSnsTopicPolicyException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InsufficientSnsTopicPolicy",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the policy on the SNS topic is not sufficient.</p>"
    },
    "InvalidCloudWatchLogsLogGroupArnException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidCloudWatchLogsLogGroupArn",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the provided CloudWatch log group is not valid.</p>"
    },
    "InvalidCloudWatchLogsRoleArnException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidCloudWatchLogsRoleArn",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the provided role is not valid.</p>"
    },
    "InvalidKmsKeyIdException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidKmsKeyId",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the KMS key ARN is invalid."
    },
    "InvalidLookupAttributesException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidLookupAttributes",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Occurs when an invalid lookup attribute is specified.</p>"
    },
    "InvalidMaxResultsException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidMaxResults",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown if the limit specified is invalid. </p>"
    },
    "InvalidNextTokenException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidNextToken",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Invalid token or token that was previously used in a request with different parameters. This exception is thrown if the token is invalid. </p>"
    },
    "InvalidS3BucketNameException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidS3BucketName",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the provided S3 bucket name is not valid.</p>"
    },
    "InvalidS3PrefixException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidS3Prefix",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the provided S3 prefix is not valid.</p>"
    },
    "InvalidSnsTopicNameException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidSnsTopicName",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the provided SNS topic name is not valid.</p>"
    },
    "InvalidTagParameterException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidTagParameter",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the key or value specified for the tag does not match the regular expression <code>^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-@]*)$</code>.</p>"
    },
    "InvalidTimeRangeException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidTimeRange",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Occurs if the timestamp values are invalid. Either the start time occurs after the end time or the time range is outside the range of possible values. </p>"
    },
    "InvalidTokenException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidToken",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Reserved for future use.</p>"
    },
    "InvalidTrailNameException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidTrailName",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</li> <li>Start with a letter or number, and end with a letter or number</li> <li>Be between 3 and 128 characters</li> <li>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</li> <li>Not be in IP address format (for example, 192.168.5.4)</li> </ul>"
    },
    "KmsKeyDisabledException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"KmsKeyDisabled",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the KMS key is disabled.</p>"
    },
    "KmsKeyNotFoundException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"KmsKeyNotFound",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the KMS key does not exist, or when the S3 bucket and the KMS key are not in the same region."
    },
    "ListPublicKeysRequest":{
      "type":"structure",
      "members":{
        "StartTime":{
          "shape":"Date",
          "documentation":"<p>Optionally specifies, in UTC, the start of the time range to look up public keys for CloudTrail digest files. If not specified, the current time is used, and the current public key is returned. </p>"
        },
        "EndTime":{
          "shape":"Date",
          "documentation":"<p>Optionally specifies, in UTC, the end of the time range to look up public keys for CloudTrail digest files. If not specified, the current time is used. </p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>Reserved for future use.</p>"
        }
      },
      "documentation":"<p>Requests the public keys for a specified time range.</p>"
    },
    "ListPublicKeysResponse":{
      "type":"structure",
      "members":{
        "PublicKeyList":{
          "shape":"PublicKeyList",
          "documentation":"<p>Contains an array of PublicKey objects.</p> <note>The returned public keys may have validity time ranges that overlap.</note>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>Reserved for future use.</p>"
        }
      },
      "documentation":"Returns the objects or data listed below if successful. Otherwise, returns an error."
    },
    "ListTagsRequest":{
      "type":"structure",
      "required":["ResourceIdList"],
      "members":{
        "ResourceIdList":{
          "shape":"ResourceIdList",
          "documentation":"<p>Specifies a list of trail ARNs whose tags will be listed. The list has a limit of 20 ARNs. The format of a trail ARN is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>.</p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>Reserved for future use.</p>"
        }
      },
      "documentation":"<p>Specifies a list of trail tags to return.</p>"
    },
    "ListTagsResponse":{
      "type":"structure",
      "members":{
        "ResourceTagList":{"shape":"ResourceTagList"},
        "NextToken":{
          "shape":"String",
          "documentation":"<p> Reserved for future use. </p>"
        }
      },
      "documentation":"<p> Returns the objects or data listed below if successful. Otherwise, returns an error. </p>"
    },
    "LookupAttribute":{
      "type":"structure",
      "required":[
        "AttributeKey",
        "AttributeValue"
      ],
      "members":{
        "AttributeKey":{
          "shape":"LookupAttributeKey",
          "documentation":"<p>Specifies an attribute on which to filter the events returned.</p>"
        },
        "AttributeValue":{
          "shape":"String",
          "documentation":"<p>Specifies a value for the specified AttributeKey.</p>"
        }
      },
      "documentation":"<p>Specifies an attribute and value that filter the events returned.</p>"
    },
    "LookupAttributeKey":{
      "type":"string",
      "enum":[
        "EventId",
        "EventName",
        "Username",
        "ResourceType",
        "ResourceName"
      ]
    },
    "LookupAttributesList":{
      "type":"list",
      "member":{"shape":"LookupAttribute"}
    },
    "LookupEventsRequest":{
      "type":"structure",
      "members":{
        "LookupAttributes":{
          "shape":"LookupAttributesList",
          "documentation":"<p>Contains a list of lookup attributes. Currently the list can contain only one item.</p>"
        },
        "StartTime":{
          "shape":"Date",
          "documentation":"<p>Specifies that only events that occur after or at the specified time are returned. If the specified start time is after the specified end time, an error is returned.</p>"
        },
        "EndTime":{
          "shape":"Date",
          "documentation":"<p>Specifies that only events that occur before or at the specified time are returned. If the specified end time is before the specified start time, an error is returned.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The number of events to return. Possible values are 1 through 50. The default is 10.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token to use to get the next page of results after a previous API call. This token must be passed in with the same parameters that were specified in the the original call. For example, if the original call specified an AttributeKey of 'Username' with a value of 'root', the call with NextToken should include those same parameters.</p>"
        }
      },
      "documentation":"<p>Contains a request for LookupEvents.</p>"
    },
    "LookupEventsResponse":{
      "type":"structure",
      "members":{
        "Events":{
          "shape":"EventsList",
          "documentation":"<p>A list of events returned based on the lookup attributes specified and the CloudTrail event. The events list is sorted by time. The most recent event is listed first.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token to use to get the next page of results after a previous API call. If the token does not appear, there are no more results to return. The token must be passed in with the same parameters as the previous call. For example, if the original call specified an AttributeKey of 'Username' with a value of 'root', the call with NextToken should include those same parameters.</p>"
        }
      },
      "documentation":"<p>Contains a response to a LookupEvents action.</p>"
    },
    "MaxResults":{
      "type":"integer",
      "min":1,
      "max":50
    },
    "MaximumNumberOfTrailsExceededException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"MaximumNumberOfTrailsExceeded",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the maximum number of trails is reached.</p>"
    },
    "NextToken":{"type":"string"},
    "OperationNotPermittedException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"OperationNotPermitted",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the requested operation is not permitted.</p>"
    },
    "PublicKey":{
      "type":"structure",
      "members":{
        "Value":{
          "shape":"ByteBuffer",
          "documentation":"<p>The DER encoded public key value in PKCS#1 format.</p>"
        },
        "ValidityStartTime":{
          "shape":"Date",
          "documentation":"<p>The starting time of validity of the public key.</p>"
        },
        "ValidityEndTime":{
          "shape":"Date",
          "documentation":"<p>The ending time of validity of the public key.</p>"
        },
        "Fingerprint":{
          "shape":"String",
          "documentation":"<p>The fingerprint of the public key.</p>"
        }
      },
      "documentation":"<p>Contains information about a returned public key.</p>"
    },
    "PublicKeyList":{
      "type":"list",
      "member":{"shape":"PublicKey"}
    },
    "RemoveTagsRequest":{
      "type":"structure",
      "required":["ResourceId"],
      "members":{
        "ResourceId":{
          "shape":"String",
          "documentation":"<p>Specifies the ARN of the trail from which tags should be removed. The format of a trail ARN is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>.</p>"
        },
        "TagsList":{
          "shape":"TagsList",
          "documentation":"<p>Specifies a list of tags to be removed. </p>"
        }
      },
      "documentation":"<p>Specifies the tags to remove from a trail.</p>"
    },
    "RemoveTagsResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> Returns the objects or data listed below if successful. Otherwise, returns an error. </p>"
    },
    "Resource":{
      "type":"structure",
      "members":{
        "ResourceType":{
          "shape":"String",
          "documentation":"<p>The type of a resource referenced by the event returned. When the resource type cannot be determined, null is returned. Some examples of resource types are: <b>Instance</b> for EC2, <b>Trail</b> for CloudTrail, <b>DBInstance</b> for RDS, and <b>AccessKey</b> for IAM. For a list of resource types supported for event lookup, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/lookup_supported_resourcetypes.html\">Resource Types Supported for Event Lookup</a>.</p>"
        },
        "ResourceName":{
          "shape":"String",
          "documentation":"<p>The name of the resource referenced by the event returned. These are user-created names whose values will depend on the environment. For example, the resource name might be \"auto-scaling-test-group\" for an Auto Scaling Group or \"i-1234567\" for an EC2 Instance.</p>"
        }
      },
      "documentation":"<p>Specifies the type and name of a resource referenced by an event.</p>"
    },
    "ResourceIdList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "ResourceList":{
      "type":"list",
      "member":{"shape":"Resource"},
      "documentation":"<p>A list of resources referenced by the event returned.</p>"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ResourceNotFound",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the specified resource is not found.</p>"
    },
    "ResourceTag":{
      "type":"structure",
      "members":{
        "ResourceId":{
          "shape":"String",
          "documentation":"<p>Specifies the ARN of the resource.</p>"
        },
        "TagsList":{"shape":"TagsList"}
      },
      "documentation":"<p>A resource tag.</p>"
    },
    "ResourceTagList":{
      "type":"list",
      "member":{"shape":"ResourceTag"},
      "documentation":"<p>A list of resource tags.</p>"
    },
    "ResourceTypeNotSupportedException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ResourceTypeNotSupported",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the specified resource type is not supported by CloudTrail.</p>"
    },
    "S3BucketDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"S3BucketDoesNotExist",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the specified S3 bucket does not exist.</p>"
    },
    "StartLoggingRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name or the CloudTrail ARN of the trail for which CloudTrail logs AWS API calls. The format of a trail ARN is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>.</p>"
        }
      },
      "documentation":"<p>The request to CloudTrail to start logging AWS API calls for an account.</p>"
    },
    "StartLoggingResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "StopLoggingRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name or the CloudTrail ARN of the trail for which CloudTrail will stop logging AWS API calls. The format of a trail ARN is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>.</p>"
        }
      },
      "documentation":"<p>Passes the request to CloudTrail to stop logging AWS API calls for the specified account.</p>"
    },
    "StopLoggingResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "String":{"type":"string"},
    "Tag":{
      "type":"structure",
      "required":["Key"],
      "members":{
        "Key":{
          "shape":"String",
          "documentation":"<p>The key in a key-value pair. The key must be must be no longer than 128 Unicode characters. The key must be unique for the resource to which it applies.</p>"
        },
        "Value":{
          "shape":"String",
          "documentation":"<p>The value in a key-value pair of a tag. The value must be no longer than 256 Unicode characters.</p>"
        }
      },
      "documentation":"<p>A custom key-value pair associated with a resource such as a CloudTrail trail.</p>"
    },
    "TagsLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TagsLimitExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The number of tags per trail has exceeded the permitted amount. Currently, the limit is 10.</p>"
    },
    "TagsList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "documentation":"<p>A list of tags.</p>"
    },
    "Trail":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Name of the trail set by calling <a>CreateTrail</a>. The maximum length is 128 characters.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>Name of the Amazon S3 bucket into which CloudTrail delivers your trail files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>"
        },
        "S3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>.The maximum length is 200 characters.</p>"
        },
        "SnsTopicName":{
          "shape":"String",
          "documentation":"<p>Name of the existing Amazon SNS topic that CloudTrail uses to notify the account owner when new CloudTrail log files have been delivered. The maximum length is 256 characters.</p>"
        },
        "IncludeGlobalServiceEvents":{
          "shape":"Boolean",
          "documentation":"<p>Set to <b>True</b> to include AWS API calls from AWS global services such as IAM. Otherwise, <b>False</b>.</p>"
        },
        "TrailARN":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name of the trail. The <code>TrailARN</code> format is <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>.</p>"
        },
        "LogFileValidationEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether log file validation is enabled.</p>"
        },
        "CloudWatchLogsLogGroupArn":{
          "shape":"String",
          "documentation":"<p>Specifies an Amazon Resource Name (ARN), a unique identifier that represents the log group to which CloudTrail logs will be delivered.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"String",
          "documentation":"<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>Specifies the KMS key ID that encrypts the logs delivered by CloudTrail. The value is a fully specified ARN to a KMS key in the format:</p> <code>arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</code>"
        }
      },
      "documentation":"<p>The settings for a trail.</p>"
    },
    "TrailAlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TrailAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the specified trail already exists.</p>"
    },
    "TrailList":{
      "type":"list",
      "member":{"shape":"Trail"}
    },
    "TrailNameList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "TrailNotFoundException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TrailNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the trail with the given name is not found.</p>"
    },
    "TrailNotProvidedException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TrailNotProvided",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is deprecated.</p>"
    },
    "UnsupportedOperationException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"UnsupportedOperation",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>This exception is thrown when the requested operation is not supported. For example, this exception will occur if an attempt is made to tag a trail and tagging is not supported in the current region.</p>"
    },
    "UpdateTrailRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the trail or trail ARN. If <code>Name</code> is a trail name, the string must meet the following requirements:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</li> <li>Start with a letter or number, and end with a letter or number</li> <li>Be between 3 and 128 characters</li> <li>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</li> <li>Not be in IP address format (for example, 192.168.5.4)</li> </ul> <p>If <code>Name</code> is a trail ARN, it must be in the format <code>arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail</code>.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>"
        },
        "S3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.</p>"
        },
        "SnsTopicName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.</p>"
        },
        "IncludeGlobalServiceEvents":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is publishing events from global services such as IAM to the log files. </p>"
        },
        "EnableLogFileValidation":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether log file validation is enabled. The default is false.</p> <note>When you disable log file integrity validation, the chain of digest files is broken after one hour. CloudTrail will not create digest files for log files that were delivered during a period in which log file integrity validation was disabled. For example, if you enable log file integrity validation at noon on January 1, disable it at noon on January 2, and re-enable it at noon on January 10, digest files will not be created for the log files delivered from noon on January 2 to noon on January 10. The same applies whenever you stop CloudTrail logging or delete a trail.</note>"
        },
        "CloudWatchLogsLogGroupArn":{
          "shape":"String",
          "documentation":"<p>Specifies a log group name using an Amazon Resource Name (ARN), a unique identifier that represents the log group to which CloudTrail logs will be delivered. Not required unless you specify CloudWatchLogsRoleArn.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"String",
          "documentation":"<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>Specifies the KMS key ID to use to encrypt the logs delivered by CloudTrail. The value can be a an alias name prefixed by \"alias/\", a fully specified ARN to an alias, a fully specified ARN to a key, or a globally unique identifier.</p> <p>Examples:</p> <ul> <li>alias/MyAliasName</li> <li>arn:aws:kms:us-east-1:123456789012:alias/MyAliasName</li> <li>arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</li> <li>12345678-1234-1234-1234-123456789012</li> </ul>"
        }
      },
      "documentation":"<p>Specifies settings to update for the trail.</p>"
    },
    "UpdateTrailResponse":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the trail.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon S3 bucket designated for publishing log files.</p>"
        },
        "S3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>.</p>"
        },
        "SnsTopicName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery.</p>"
        },
        "IncludeGlobalServiceEvents":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is publishing events from global services such as IAM to the log files. </p>"
        },
        "TrailARN":{
          "shape":"String",
          "documentation":"<p>Specifies the ARN of the trail that was updated.</p>"
        },
        "LogFileValidationEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether log file integrity validation is enabled.</p>"
        },
        "CloudWatchLogsLogGroupArn":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the log group to which CloudTrail logs will be delivered.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"String",
          "documentation":"<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>Specifies the KMS key ID that encrypts the logs delivered by CloudTrail. The value is a fully specified ARN to a KMS key in the format:</p> <code>arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</code>"
        }
      },
      "documentation":"Returns the objects or data listed below if successful. Otherwise, returns an error."
    }
  },
  "examples":{
  }
}
