{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-07-09",
    "endpointPrefix": "codepipeline",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "CodePipeline",
    "serviceFullName": "AWS CodePipeline",
    "serviceId": "CodePipeline",
    "signatureVersion": "v4",
    "targetPrefix": "CodePipeline_20150709",
    "uid": "codepipeline-2015-07-09"
  },
  "operations": {
    "AcknowledgeJob": {
      "input": {
        "type": "structure",
        "required": [
          "jobId",
          "nonce"
        ],
        "members": {
          "jobId": {
            "shape": "S2"
          },
          "nonce": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "status": {
            "shape": "S5"
          }
        }
      }
    },
    "AcknowledgeThirdPartyJob": {
      "input": {
        "type": "structure",
        "required": [
          "jobId",
          "nonce",
          "clientToken"
        ],
        "members": {
          "jobId": {
            "shape": "S7"
          },
          "nonce": {
            "shape": "S3"
          },
          "clientToken": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "status": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateCustomActionType": {
      "input": {
        "type": "structure",
        "required": [
          "category",
          "provider",
          "version",
          "inputArtifactDetails",
          "outputArtifactDetails"
        ],
        "members": {
          "category": {
            "shape": "Sb"
          },
          "provider": {
            "shape": "Sc"
          },
          "version": {
            "shape": "Sd"
          },
          "settings": {
            "shape": "Se"
          },
          "configurationProperties": {
            "shape": "Sh"
          },
          "inputArtifactDetails": {
            "shape": "Sn"
          },
          "outputArtifactDetails": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "actionType"
        ],
        "members": {
          "actionType": {
            "shape": "Sr"
          }
        }
      }
    },
    "CreatePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "pipeline"
        ],
        "members": {
          "pipeline": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "pipeline": {
            "shape": "Sv"
          }
        }
      }
    },
    "DeleteCustomActionType": {
      "input": {
        "type": "structure",
        "required": [
          "category",
          "provider",
          "version"
        ],
        "members": {
          "category": {
            "shape": "Sb"
          },
          "provider": {
            "shape": "Sc"
          },
          "version": {
            "shape": "Sd"
          }
        }
      }
    },
    "DeletePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "Sw"
          }
        }
      }
    },
    "DeleteWebhook": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S1r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeregisterWebhookWithThirdParty": {
      "input": {
        "type": "structure",
        "members": {
          "webhookName": {
            "shape": "S1r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableStageTransition": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineName",
          "stageName",
          "transitionType",
          "reason"
        ],
        "members": {
          "pipelineName": {
            "shape": "Sw"
          },
          "stageName": {
            "shape": "S16"
          },
          "transitionType": {
            "shape": "S1w"
          },
          "reason": {
            "shape": "S1x"
          }
        }
      }
    },
    "EnableStageTransition": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineName",
          "stageName",
          "transitionType"
        ],
        "members": {
          "pipelineName": {
            "shape": "Sw"
          },
          "stageName": {
            "shape": "S16"
          },
          "transitionType": {
            "shape": "S1w"
          }
        }
      }
    },
    "GetJobDetails": {
      "input": {
        "type": "structure",
        "required": [
          "jobId"
        ],
        "members": {
          "jobId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "jobDetails": {
            "type": "structure",
            "members": {
              "id": {
                "shape": "S2"
              },
              "data": {
                "shape": "S22"
              },
              "accountId": {
                "shape": "S2k"
              }
            }
          }
        }
      }
    },
    "GetPipeline": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "Sw"
          },
          "version": {
            "shape": "S1m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "pipeline": {
            "shape": "Sv"
          },
          "metadata": {
            "type": "structure",
            "members": {
              "pipelineArn": {
                "type": "string",
                "pattern": "arn:aws(-[\\w]+)*:codepipeline:.+:[0-9]{12}:.+"
              },
              "created": {
                "type": "timestamp"
              },
              "updated": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "GetPipelineExecution": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineName",
          "pipelineExecutionId"
        ],
        "members": {
          "pipelineName": {
            "shape": "Sw"
          },
          "pipelineExecutionId": {
            "shape": "S2r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "pipelineExecution": {
            "type": "structure",
            "members": {
              "pipelineName": {
                "shape": "Sw"
              },
              "pipelineVersion": {
                "shape": "S1m"
              },
              "pipelineExecutionId": {
                "shape": "S2r"
              },
              "status": {
                "shape": "S2u"
              },
              "artifactRevisions": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "name": {
                      "shape": "S1j"
                    },
                    "revisionId": {
                      "shape": "S29"
                    },
                    "revisionChangeIdentifier": {
                      "shape": "S2x"
                    },
                    "revisionSummary": {
                      "shape": "S2y"
                    },
                    "created": {
                      "type": "timestamp"
                    },
                    "revisionUrl": {
                      "shape": "Sf"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetPipelineState": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "pipelineName": {
            "shape": "Sw"
          },
          "pipelineVersion": {
            "shape": "S1m"
          },
          "stageStates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "stageName": {
                  "shape": "S16"
                },
                "inboundTransitionState": {
                  "type": "structure",
                  "members": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "lastChangedBy": {},
                    "lastChangedAt": {
                      "type": "timestamp"
                    },
                    "disabledReason": {
                      "shape": "S1x"
                    }
                  }
                },
                "actionStates": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "actionName": {
                        "shape": "S1d"
                      },
                      "currentRevision": {
                        "shape": "S39"
                      },
                      "latestExecution": {
                        "type": "structure",
                        "members": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "InProgress",
                              "Succeeded",
                              "Failed"
                            ]
                          },
                          "summary": {
                            "shape": "S3c"
                          },
                          "lastStatusChange": {
                            "type": "timestamp"
                          },
                          "token": {},
                          "lastUpdatedBy": {},
                          "externalExecutionId": {
                            "shape": "S3f"
                          },
                          "externalExecutionUrl": {
                            "shape": "Sf"
                          },
                          "percentComplete": {
                            "shape": "S3g"
                          },
                          "errorDetails": {
                            "type": "structure",
                            "members": {
                              "code": {},
                              "message": {
                                "shape": "S3j"
                              }
                            }
                          }
                        }
                      },
                      "entityUrl": {
                        "shape": "Sf"
                      },
                      "revisionUrl": {
                        "shape": "Sf"
                      }
                    }
                  }
                },
                "latestExecution": {
                  "type": "structure",
                  "required": [
                    "pipelineExecutionId",
                    "status"
                  ],
                  "members": {
                    "pipelineExecutionId": {
                      "shape": "S2r"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "InProgress",
                        "Failed",
                        "Succeeded"
                      ]
                    }
                  }
                }
              }
            }
          },
          "created": {
            "type": "timestamp"
          },
          "updated": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetThirdPartyJobDetails": {
      "input": {
        "type": "structure",
        "required": [
          "jobId",
          "clientToken"
        ],
        "members": {
          "jobId": {
            "shape": "S7"
          },
          "clientToken": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "jobDetails": {
            "type": "structure",
            "members": {
              "id": {
                "shape": "S7"
              },
              "data": {
                "type": "structure",
                "members": {
                  "actionTypeId": {
                    "shape": "Ss"
                  },
                  "actionConfiguration": {
                    "shape": "S23"
                  },
                  "pipelineContext": {
                    "shape": "S24"
                  },
                  "inputArtifacts": {
                    "shape": "S27"
                  },
                  "outputArtifacts": {
                    "shape": "S27"
                  },
                  "artifactCredentials": {
                    "shape": "S2f"
                  },
                  "continuationToken": {
                    "shape": "S2j"
                  },
                  "encryptionKey": {
                    "shape": "S11"
                  }
                }
              },
              "nonce": {
                "shape": "S3"
              }
            }
          }
        }
      }
    },
    "ListActionTypes": {
      "input": {
        "type": "structure",
        "members": {
          "actionOwnerFilter": {
            "shape": "St"
          },
          "nextToken": {
            "shape": "S3r"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "actionTypes"
        ],
        "members": {
          "actionTypes": {
            "type": "list",
            "member": {
              "shape": "Sr"
            }
          },
          "nextToken": {
            "shape": "S3r"
          }
        }
      }
    },
    "ListPipelineExecutions": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineName"
        ],
        "members": {
          "pipelineName": {
            "shape": "Sw"
          },
          "maxResults": {
            "shape": "S3v"
          },
          "nextToken": {
            "shape": "S3r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "pipelineExecutionSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "pipelineExecutionId": {
                  "shape": "S2r"
                },
                "status": {
                  "shape": "S2u"
                },
                "startTime": {
                  "type": "timestamp"
                },
                "lastUpdateTime": {
                  "type": "timestamp"
                },
                "sourceRevisions": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "actionName"
                    ],
                    "members": {
                      "actionName": {
                        "shape": "S1d"
                      },
                      "revisionId": {
                        "shape": "S29"
                      },
                      "revisionSummary": {
                        "shape": "S2y"
                      },
                      "revisionUrl": {
                        "shape": "Sf"
                      }
                    }
                  }
                }
              }
            }
          },
          "nextToken": {
            "shape": "S3r"
          }
        }
      }
    },
    "ListPipelines": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "shape": "S3r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "pipelines": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {
                  "shape": "Sw"
                },
                "version": {
                  "shape": "S1m"
                },
                "created": {
                  "type": "timestamp"
                },
                "updated": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {
            "shape": "S3r"
          }
        }
      }
    },
    "ListWebhooks": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S3r"
          },
          "MaxResults": {
            "shape": "S3v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "webhooks": {
            "type": "list",
            "member": {
              "shape": "S48"
            }
          },
          "NextToken": {
            "shape": "S3r"
          }
        }
      }
    },
    "PollForJobs": {
      "input": {
        "type": "structure",
        "required": [
          "actionTypeId"
        ],
        "members": {
          "actionTypeId": {
            "shape": "Ss"
          },
          "maxBatchSize": {
            "shape": "S4o"
          },
          "queryParam": {
            "type": "map",
            "key": {
              "shape": "Sj"
            },
            "value": {
              "type": "string",
              "max": 50,
              "min": 1,
              "pattern": "[a-zA-Z0-9_-]+"
            },
            "max": 1,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "jobs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "id": {
                  "shape": "S2"
                },
                "data": {
                  "shape": "S22"
                },
                "nonce": {
                  "shape": "S3"
                },
                "accountId": {
                  "shape": "S2k"
                }
              }
            }
          }
        }
      }
    },
    "PollForThirdPartyJobs": {
      "input": {
        "type": "structure",
        "required": [
          "actionTypeId"
        ],
        "members": {
          "actionTypeId": {
            "shape": "Ss"
          },
          "maxBatchSize": {
            "shape": "S4o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "jobs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "clientId": {
                  "type": "string",
                  "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
                },
                "jobId": {
                  "shape": "S2"
                }
              }
            }
          }
        }
      }
    },
    "PutActionRevision": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineName",
          "stageName",
          "actionName",
          "actionRevision"
        ],
        "members": {
          "pipelineName": {
            "shape": "Sw"
          },
          "stageName": {
            "shape": "S16"
          },
          "actionName": {
            "shape": "S1d"
          },
          "actionRevision": {
            "shape": "S39"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "newRevision": {
            "type": "boolean"
          },
          "pipelineExecutionId": {
            "shape": "S2r"
          }
        }
      }
    },
    "PutApprovalResult": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineName",
          "stageName",
          "actionName",
          "result",
          "token"
        ],
        "members": {
          "pipelineName": {
            "shape": "Sw"
          },
          "stageName": {
            "shape": "S16"
          },
          "actionName": {
            "shape": "S1d"
          },
          "result": {
            "type": "structure",
            "required": [
              "summary",
              "status"
            ],
            "members": {
              "summary": {
                "type": "string",
                "max": 512,
                "min": 0
              },
              "status": {
                "type": "string",
                "enum": [
                  "Approved",
                  "Rejected"
                ]
              }
            }
          },
          "token": {
            "type": "string",
            "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "approvedAt": {
            "type": "timestamp"
          }
        }
      }
    },
    "PutJobFailureResult": {
      "input": {
        "type": "structure",
        "required": [
          "jobId",
          "failureDetails"
        ],
        "members": {
          "jobId": {
            "shape": "S2"
          },
          "failureDetails": {
            "shape": "S58"
          }
        }
      }
    },
    "PutJobSuccessResult": {
      "input": {
        "type": "structure",
        "required": [
          "jobId"
        ],
        "members": {
          "jobId": {
            "shape": "S2"
          },
          "currentRevision": {
            "shape": "S5b"
          },
          "continuationToken": {
            "shape": "S2j"
          },
          "executionDetails": {
            "shape": "S5d"
          }
        }
      }
    },
    "PutThirdPartyJobFailureResult": {
      "input": {
        "type": "structure",
        "required": [
          "jobId",
          "clientToken",
          "failureDetails"
        ],
        "members": {
          "jobId": {
            "shape": "S7"
          },
          "clientToken": {
            "shape": "S8"
          },
          "failureDetails": {
            "shape": "S58"
          }
        }
      }
    },
    "PutThirdPartyJobSuccessResult": {
      "input": {
        "type": "structure",
        "required": [
          "jobId",
          "clientToken"
        ],
        "members": {
          "jobId": {
            "shape": "S7"
          },
          "clientToken": {
            "shape": "S8"
          },
          "currentRevision": {
            "shape": "S5b"
          },
          "continuationToken": {
            "shape": "S2j"
          },
          "executionDetails": {
            "shape": "S5d"
          }
        }
      }
    },
    "PutWebhook": {
      "input": {
        "type": "structure",
        "required": [
          "webhook"
        ],
        "members": {
          "webhook": {
            "shape": "S49"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "webhook": {
            "shape": "S48"
          }
        }
      }
    },
    "RegisterWebhookWithThirdParty": {
      "input": {
        "type": "structure",
        "members": {
          "webhookName": {
            "shape": "S1r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RetryStageExecution": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineName",
          "stageName",
          "pipelineExecutionId",
          "retryMode"
        ],
        "members": {
          "pipelineName": {
            "shape": "Sw"
          },
          "stageName": {
            "shape": "S16"
          },
          "pipelineExecutionId": {
            "shape": "S2r"
          },
          "retryMode": {
            "type": "string",
            "enum": [
              "FAILED_ACTIONS"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "pipelineExecutionId": {
            "shape": "S2r"
          }
        }
      }
    },
    "StartPipelineExecution": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "pipelineExecutionId": {
            "shape": "S2r"
          }
        }
      }
    },
    "UpdatePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "pipeline"
        ],
        "members": {
          "pipeline": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "pipeline": {
            "shape": "Sv"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "S3": {
      "type": "string",
      "max": 50,
      "min": 1
    },
    "S5": {
      "type": "string",
      "enum": [
        "Created",
        "Queued",
        "Dispatched",
        "InProgress",
        "TimedOut",
        "Succeeded",
        "Failed"
      ]
    },
    "S7": {
      "type": "string",
      "max": 512,
      "min": 1
    },
    "S8": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "Sb": {
      "type": "string",
      "enum": [
        "Source",
        "Build",
        "Deploy",
        "Test",
        "Invoke",
        "Approval"
      ]
    },
    "Sc": {
      "type": "string",
      "max": 25,
      "min": 1,
      "pattern": "[0-9A-Za-z_-]+"
    },
    "Sd": {
      "type": "string",
      "max": 9,
      "min": 1,
      "pattern": "[0-9A-Za-z_-]+"
    },
    "Se": {
      "type": "structure",
      "members": {
        "thirdPartyConfigurationUrl": {
          "shape": "Sf"
        },
        "entityUrlTemplate": {
          "shape": "Sg"
        },
        "executionUrlTemplate": {
          "shape": "Sg"
        },
        "revisionUrlTemplate": {
          "shape": "Sg"
        }
      }
    },
    "Sf": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "Sg": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "Sh": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "required",
          "key",
          "secret"
        ],
        "members": {
          "name": {
            "shape": "Sj"
          },
          "required": {
            "type": "boolean"
          },
          "key": {
            "type": "boolean"
          },
          "secret": {
            "type": "boolean"
          },
          "queryable": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "max": 160,
            "min": 1
          },
          "type": {
            "type": "string",
            "enum": [
              "String",
              "Number",
              "Boolean"
            ]
          }
        }
      },
      "max": 10
    },
    "Sj": {
      "type": "string",
      "max": 50,
      "min": 1
    },
    "Sn": {
      "type": "structure",
      "required": [
        "minimumCount",
        "maximumCount"
      ],
      "members": {
        "minimumCount": {
          "type": "integer",
          "max": 5,
          "min": 0
        },
        "maximumCount": {
          "type": "integer",
          "max": 5,
          "min": 0
        }
      }
    },
    "Sr": {
      "type": "structure",
      "required": [
        "id",
        "inputArtifactDetails",
        "outputArtifactDetails"
      ],
      "members": {
        "id": {
          "shape": "Ss"
        },
        "settings": {
          "shape": "Se"
        },
        "actionConfigurationProperties": {
          "shape": "Sh"
        },
        "inputArtifactDetails": {
          "shape": "Sn"
        },
        "outputArtifactDetails": {
          "shape": "Sn"
        }
      }
    },
    "Ss": {
      "type": "structure",
      "required": [
        "category",
        "owner",
        "provider",
        "version"
      ],
      "members": {
        "category": {
          "shape": "Sb"
        },
        "owner": {
          "shape": "St"
        },
        "provider": {
          "shape": "Sc"
        },
        "version": {
          "shape": "Sd"
        }
      }
    },
    "St": {
      "type": "string",
      "enum": [
        "AWS",
        "ThirdParty",
        "Custom"
      ]
    },
    "Sv": {
      "type": "structure",
      "required": [
        "name",
        "roleArn",
        "artifactStore",
        "stages"
      ],
      "members": {
        "name": {
          "shape": "Sw"
        },
        "roleArn": {
          "shape": "Sx"
        },
        "artifactStore": {
          "type": "structure",
          "required": [
            "type",
            "location"
          ],
          "members": {
            "type": {
              "type": "string",
              "enum": [
                "S3"
              ]
            },
            "location": {
              "type": "string",
              "max": 63,
              "min": 3,
              "pattern": "[a-zA-Z0-9\\-\\.]+"
            },
            "encryptionKey": {
              "shape": "S11"
            }
          }
        },
        "stages": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "name",
              "actions"
            ],
            "members": {
              "name": {
                "shape": "S16"
              },
              "blockers": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "name",
                    "type"
                  ],
                  "members": {
                    "name": {
                      "type": "string",
                      "max": 100,
                      "min": 1
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "Schedule"
                      ]
                    }
                  }
                }
              },
              "actions": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "name",
                    "actionTypeId"
                  ],
                  "members": {
                    "name": {
                      "shape": "S1d"
                    },
                    "actionTypeId": {
                      "shape": "Ss"
                    },
                    "runOrder": {
                      "type": "integer",
                      "max": 999,
                      "min": 1
                    },
                    "configuration": {
                      "shape": "S1f"
                    },
                    "outputArtifacts": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "required": [
                          "name"
                        ],
                        "members": {
                          "name": {
                            "shape": "S1j"
                          }
                        }
                      }
                    },
                    "inputArtifacts": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "required": [
                          "name"
                        ],
                        "members": {
                          "name": {
                            "shape": "S1j"
                          }
                        }
                      }
                    },
                    "roleArn": {
                      "shape": "Sx"
                    }
                  }
                }
              }
            }
          }
        },
        "version": {
          "shape": "S1m"
        }
      }
    },
    "Sw": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[A-Za-z0-9.@\\-_]+"
    },
    "Sx": {
      "type": "string",
      "max": 1024,
      "pattern": "arn:aws(-[\\w]+)*:iam::[0-9]{12}:role/.*"
    },
    "S11": {
      "type": "structure",
      "required": [
        "id",
        "type"
      ],
      "members": {
        "id": {
          "type": "string",
          "max": 100,
          "min": 1
        },
        "type": {
          "type": "string",
          "enum": [
            "KMS"
          ]
        }
      }
    },
    "S16": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[A-Za-z0-9.@\\-_]+"
    },
    "S1d": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[A-Za-z0-9.@\\-_]+"
    },
    "S1f": {
      "type": "map",
      "key": {
        "shape": "Sj"
      },
      "value": {
        "type": "string",
        "max": 1000,
        "min": 1
      }
    },
    "S1j": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z0-9_\\-]+"
    },
    "S1m": {
      "type": "integer",
      "min": 1
    },
    "S1r": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[A-Za-z0-9.@\\-_]+"
    },
    "S1w": {
      "type": "string",
      "enum": [
        "Inbound",
        "Outbound"
      ]
    },
    "S1x": {
      "type": "string",
      "max": 300,
      "min": 1,
      "pattern": "[a-zA-Z0-9!@ \\(\\)\\.\\*\\?\\-]+"
    },
    "S22": {
      "type": "structure",
      "members": {
        "actionTypeId": {
          "shape": "Ss"
        },
        "actionConfiguration": {
          "shape": "S23"
        },
        "pipelineContext": {
          "shape": "S24"
        },
        "inputArtifacts": {
          "shape": "S27"
        },
        "outputArtifacts": {
          "shape": "S27"
        },
        "artifactCredentials": {
          "shape": "S2f"
        },
        "continuationToken": {
          "shape": "S2j"
        },
        "encryptionKey": {
          "shape": "S11"
        }
      }
    },
    "S23": {
      "type": "structure",
      "members": {
        "configuration": {
          "shape": "S1f"
        }
      }
    },
    "S24": {
      "type": "structure",
      "members": {
        "pipelineName": {
          "shape": "Sw"
        },
        "stage": {
          "type": "structure",
          "members": {
            "name": {
              "shape": "S16"
            }
          }
        },
        "action": {
          "type": "structure",
          "members": {
            "name": {
              "shape": "S1d"
            }
          }
        }
      }
    },
    "S27": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S1j"
          },
          "revision": {
            "shape": "S29"
          },
          "location": {
            "type": "structure",
            "members": {
              "type": {
                "type": "string",
                "enum": [
                  "S3"
                ]
              },
              "s3Location": {
                "type": "structure",
                "required": [
                  "bucketName",
                  "objectKey"
                ],
                "members": {
                  "bucketName": {},
                  "objectKey": {}
                }
              }
            }
          }
        }
      }
    },
    "S29": {
      "type": "string",
      "max": 1500,
      "min": 1
    },
    "S2f": {
      "type": "structure",
      "required": [
        "accessKeyId",
        "secretAccessKey",
        "sessionToken"
      ],
      "members": {
        "accessKeyId": {},
        "secretAccessKey": {},
        "sessionToken": {}
      },
      "sensitive": true
    },
    "S2j": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "S2k": {
      "type": "string",
      "pattern": "[0-9]{12}"
    },
    "S2r": {
      "type": "string",
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "S2u": {
      "type": "string",
      "enum": [
        "InProgress",
        "Succeeded",
        "Superseded",
        "Failed"
      ]
    },
    "S2x": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "S2y": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "S39": {
      "type": "structure",
      "required": [
        "revisionId",
        "revisionChangeId",
        "created"
      ],
      "members": {
        "revisionId": {
          "shape": "S29"
        },
        "revisionChangeId": {
          "shape": "S2x"
        },
        "created": {
          "type": "timestamp"
        }
      }
    },
    "S3c": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "S3f": {
      "type": "string",
      "max": 1500,
      "min": 1
    },
    "S3g": {
      "type": "integer",
      "max": 100,
      "min": 0
    },
    "S3j": {
      "type": "string",
      "max": 5000,
      "min": 1
    },
    "S3r": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "S3v": {
      "type": "integer",
      "max": 100,
      "min": 1
    },
    "S48": {
      "type": "structure",
      "required": [
        "definition",
        "url"
      ],
      "members": {
        "definition": {
          "shape": "S49"
        },
        "url": {
          "type": "string",
          "max": 1000,
          "min": 1
        },
        "errorMessage": {},
        "errorCode": {},
        "lastTriggered": {
          "type": "timestamp"
        },
        "arn": {}
      }
    },
    "S49": {
      "type": "structure",
      "required": [
        "name",
        "targetPipeline",
        "targetAction",
        "filters",
        "authentication",
        "authenticationConfiguration"
      ],
      "members": {
        "name": {
          "shape": "S1r"
        },
        "targetPipeline": {
          "shape": "Sw"
        },
        "targetAction": {
          "shape": "S1d"
        },
        "filters": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "jsonPath"
            ],
            "members": {
              "jsonPath": {
                "type": "string",
                "max": 150,
                "min": 1
              },
              "matchEquals": {
                "type": "string",
                "max": 150,
                "min": 1
              }
            }
          },
          "max": 5
        },
        "authentication": {
          "type": "string",
          "enum": [
            "GITHUB_HMAC",
            "IP",
            "UNAUTHENTICATED"
          ]
        },
        "authenticationConfiguration": {
          "type": "structure",
          "members": {
            "AllowedIPRange": {
              "type": "string",
              "max": 100,
              "min": 1
            },
            "SecretToken": {
              "type": "string",
              "max": 100,
              "min": 1
            }
          }
        }
      }
    },
    "S4o": {
      "type": "integer",
      "min": 1
    },
    "S58": {
      "type": "structure",
      "required": [
        "type",
        "message"
      ],
      "members": {
        "type": {
          "type": "string",
          "enum": [
            "JobFailed",
            "ConfigurationError",
            "PermissionError",
            "RevisionOutOfSync",
            "RevisionUnavailable",
            "SystemUnavailable"
          ]
        },
        "message": {
          "shape": "S3j"
        },
        "externalExecutionId": {
          "shape": "S3f"
        }
      }
    },
    "S5b": {
      "type": "structure",
      "required": [
        "revision",
        "changeIdentifier"
      ],
      "members": {
        "revision": {
          "shape": "S29"
        },
        "changeIdentifier": {
          "shape": "S2x"
        },
        "created": {
          "type": "timestamp"
        },
        "revisionSummary": {
          "shape": "S2y"
        }
      }
    },
    "S5d": {
      "type": "structure",
      "members": {
        "summary": {
          "shape": "S3c"
        },
        "externalExecutionId": {
          "shape": "S3f"
        },
        "percentComplete": {
          "shape": "S3g"
        }
      }
    }
  }
}