{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2022-09-28",
    "endpointPrefix": "codecatalyst",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon CodeCatalyst",
    "serviceId": "CodeCatalyst",
    "signatureVersion": "bearer",
    "signingName": "codecatalyst",
    "uid": "codecatalyst-2022-09-28"
  },
  "operations": {
    "CreateAccessToken": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/accessTokens",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {},
          "expiresTime": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "secret",
          "name",
          "expiresTime",
          "accessTokenId"
        ],
        "members": {
          "secret": {
            "type": "string",
            "sensitive": true
          },
          "name": {},
          "expiresTime": {
            "shape": "S3"
          },
          "accessTokenId": {}
        }
      }
    },
    "CreateDevEnvironment": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "instanceType",
          "persistentStorage"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "repositories": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "repositoryName"
              ],
              "members": {
                "repositoryName": {},
                "branchName": {}
              }
            }
          },
          "clientToken": {},
          "alias": {},
          "ides": {
            "shape": "Sf"
          },
          "instanceType": {},
          "inactivityTimeoutMinutes": {
            "type": "integer"
          },
          "persistentStorage": {
            "type": "structure",
            "required": [
              "sizeInGiB"
            ],
            "members": {
              "sizeInGiB": {
                "type": "integer"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id"
        ],
        "members": {
          "spaceName": {},
          "projectName": {},
          "id": {}
        }
      },
      "idempotent": true
    },
    "CreateProject": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/spaces/{spaceName}/projects",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "displayName"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "displayName": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "spaceName": {},
          "name": {},
          "displayName": {},
          "description": {}
        }
      },
      "idempotent": true
    },
    "CreateSourceRepositoryBranch": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{sourceRepositoryName}/branches/{name}",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "sourceRepositoryName",
          "name"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "sourceRepositoryName": {
            "location": "uri",
            "locationName": "sourceRepositoryName"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "headCommitId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ref": {},
          "name": {},
          "lastUpdatedTime": {
            "shape": "S3"
          },
          "headCommitId": {}
        }
      },
      "idempotent": true
    },
    "DeleteAccessToken": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/accessTokens/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteDevEnvironment": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id"
        ],
        "members": {
          "spaceName": {},
          "projectName": {},
          "id": {}
        }
      },
      "idempotent": true
    },
    "GetDevEnvironment": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id",
          "lastUpdatedTime",
          "creatorId",
          "status",
          "repositories",
          "instanceType",
          "inactivityTimeoutMinutes",
          "persistentStorage"
        ],
        "members": {
          "spaceName": {},
          "projectName": {},
          "id": {},
          "lastUpdatedTime": {
            "shape": "S3"
          },
          "creatorId": {},
          "status": {},
          "statusReason": {},
          "repositories": {
            "shape": "S16"
          },
          "alias": {},
          "ides": {
            "shape": "S19"
          },
          "instanceType": {},
          "inactivityTimeoutMinutes": {
            "type": "integer"
          },
          "persistentStorage": {
            "shape": "S1d"
          }
        }
      }
    },
    "GetProject": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/spaces/{spaceName}/projects/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "name"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "spaceName": {},
          "name": {},
          "displayName": {},
          "description": {}
        }
      }
    },
    "GetSourceRepositoryCloneUrls": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{sourceRepositoryName}/cloneUrls",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "sourceRepositoryName"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "sourceRepositoryName": {
            "location": "uri",
            "locationName": "sourceRepositoryName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "https"
        ],
        "members": {
          "https": {}
        }
      }
    },
    "GetSpace": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/spaces/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "name",
          "regionName"
        ],
        "members": {
          "name": {},
          "regionName": {},
          "displayName": {},
          "description": {}
        }
      }
    },
    "GetSubscription": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/spaces/{spaceName}/subscription",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "subscriptionType": {},
          "awsAccountName": {}
        }
      }
    },
    "GetUserDetails": {
      "http": {
        "method": "GET",
        "requestUri": "/userDetails",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "id": {
            "location": "querystring",
            "locationName": "id"
          },
          "userName": {
            "location": "querystring",
            "locationName": "userName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "userId": {},
          "userName": {},
          "displayName": {},
          "primaryEmail": {
            "type": "structure",
            "members": {
              "email": {},
              "verified": {
                "type": "boolean"
              }
            }
          },
          "version": {}
        }
      }
    },
    "ListAccessTokens": {
      "http": {
        "requestUri": "/v1/accessTokens",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "items"
        ],
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "name"
              ],
              "members": {
                "id": {},
                "name": {},
                "expiresTime": {
                  "shape": "S3"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListDevEnvironments": {
      "http": {
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "key",
                "values"
              ],
              "members": {
                "key": {},
                "values": {
                  "shape": "S23"
                },
                "comparisonOperator": {}
              }
            }
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "items"
        ],
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "lastUpdatedTime",
                "creatorId",
                "status",
                "repositories",
                "instanceType",
                "inactivityTimeoutMinutes",
                "persistentStorage"
              ],
              "members": {
                "spaceName": {},
                "projectName": {},
                "id": {},
                "lastUpdatedTime": {
                  "shape": "S3"
                },
                "creatorId": {},
                "status": {},
                "statusReason": {},
                "repositories": {
                  "shape": "S16"
                },
                "alias": {},
                "ides": {
                  "shape": "S19"
                },
                "instanceType": {},
                "inactivityTimeoutMinutes": {
                  "type": "integer"
                },
                "persistentStorage": {
                  "shape": "S1d"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListEventLogs": {
      "http": {
        "requestUri": "/v1/spaces/{spaceName}/eventLogs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "startTime",
          "endTime"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "startTime": {
            "shape": "S3"
          },
          "endTime": {
            "shape": "S3"
          },
          "eventName": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "items"
        ],
        "members": {
          "nextToken": {},
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "eventName",
                "eventType",
                "eventCategory",
                "eventSource",
                "eventTime",
                "operationType",
                "userIdentity"
              ],
              "members": {
                "id": {},
                "eventName": {},
                "eventType": {},
                "eventCategory": {},
                "eventSource": {},
                "eventTime": {
                  "shape": "S3"
                },
                "operationType": {},
                "userIdentity": {
                  "type": "structure",
                  "required": [
                    "userType",
                    "principalId"
                  ],
                  "members": {
                    "userType": {},
                    "principalId": {},
                    "userName": {},
                    "awsAccountId": {}
                  }
                },
                "projectInformation": {
                  "type": "structure",
                  "members": {
                    "name": {},
                    "projectId": {}
                  }
                },
                "requestId": {},
                "requestPayload": {
                  "shape": "S2l"
                },
                "responsePayload": {
                  "shape": "S2l"
                },
                "errorCode": {},
                "sourceIpAddress": {},
                "userAgent": {}
              }
            }
          }
        }
      }
    },
    "ListProjects": {
      "http": {
        "requestUri": "/v1/spaces/{spaceName}/projects",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "key",
                "values"
              ],
              "members": {
                "key": {},
                "values": {
                  "shape": "S23"
                },
                "comparisonOperator": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name"
              ],
              "members": {
                "name": {},
                "displayName": {},
                "description": {}
              }
            }
          }
        }
      }
    },
    "ListSourceRepositories": {
      "http": {
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "name",
                "lastUpdatedTime",
                "createdTime"
              ],
              "members": {
                "id": {},
                "name": {},
                "description": {},
                "lastUpdatedTime": {
                  "shape": "S34"
                },
                "createdTime": {
                  "shape": "S34"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListSourceRepositoryBranches": {
      "http": {
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{sourceRepositoryName}/branches",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "sourceRepositoryName"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "sourceRepositoryName": {
            "location": "uri",
            "locationName": "sourceRepositoryName"
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "items"
        ],
        "members": {
          "nextToken": {},
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ref": {},
                "name": {},
                "lastUpdatedTime": {
                  "shape": "S3"
                },
                "headCommitId": {}
              }
            }
          }
        }
      }
    },
    "ListSpaces": {
      "http": {
        "requestUri": "/v1/spaces",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "regionName"
              ],
              "members": {
                "name": {},
                "regionName": {},
                "displayName": {},
                "description": {}
              }
            }
          }
        }
      }
    },
    "StartDevEnvironment": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}/start",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          },
          "ides": {
            "shape": "Sf"
          },
          "instanceType": {},
          "inactivityTimeoutMinutes": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id",
          "status"
        ],
        "members": {
          "spaceName": {},
          "projectName": {},
          "id": {},
          "status": {}
        }
      },
      "idempotent": true
    },
    "StartDevEnvironmentSession": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}/session",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id",
          "sessionConfiguration"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          },
          "sessionConfiguration": {
            "type": "structure",
            "required": [
              "sessionType"
            ],
            "members": {
              "sessionType": {},
              "executeCommandSessionConfiguration": {
                "type": "structure",
                "required": [
                  "command"
                ],
                "members": {
                  "command": {},
                  "arguments": {
                    "type": "list",
                    "member": {}
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "accessDetails",
          "spaceName",
          "projectName",
          "id"
        ],
        "members": {
          "accessDetails": {
            "type": "structure",
            "required": [
              "streamUrl",
              "tokenValue"
            ],
            "members": {
              "streamUrl": {
                "shape": "S3r"
              },
              "tokenValue": {
                "shape": "S3r"
              }
            },
            "sensitive": true
          },
          "sessionId": {},
          "spaceName": {},
          "projectName": {},
          "id": {}
        }
      }
    },
    "StopDevEnvironment": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}/stop",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id",
          "status"
        ],
        "members": {
          "spaceName": {},
          "projectName": {},
          "id": {},
          "status": {}
        }
      },
      "idempotent": true
    },
    "StopDevEnvironmentSession": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}/session/{sessionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id",
          "sessionId"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          },
          "sessionId": {
            "location": "uri",
            "locationName": "sessionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id",
          "sessionId"
        ],
        "members": {
          "spaceName": {},
          "projectName": {},
          "id": {},
          "sessionId": {}
        }
      },
      "idempotent": true
    },
    "UpdateDevEnvironment": {
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "spaceName",
          "projectName",
          "id"
        ],
        "members": {
          "spaceName": {
            "location": "uri",
            "locationName": "spaceName"
          },
          "projectName": {
            "location": "uri",
            "locationName": "projectName"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          },
          "alias": {},
          "ides": {
            "shape": "Sf"
          },
          "instanceType": {},
          "inactivityTimeoutMinutes": {
            "type": "integer"
          },
          "clientToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "id",
          "spaceName",
          "projectName"
        ],
        "members": {
          "id": {},
          "spaceName": {},
          "projectName": {},
          "alias": {},
          "ides": {
            "shape": "Sf"
          },
          "instanceType": {},
          "inactivityTimeoutMinutes": {
            "type": "integer"
          },
          "clientToken": {}
        }
      },
      "idempotent": true
    },
    "VerifySession": {
      "http": {
        "method": "GET",
        "requestUri": "/session",
        "responseCode": 200
      },
      "output": {
        "type": "structure",
        "members": {
          "identity": {}
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "Sf": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "runtime": {},
          "name": {}
        }
      }
    },
    "S16": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "repositoryName"
        ],
        "members": {
          "repositoryName": {},
          "branchName": {}
        }
      }
    },
    "S19": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "runtime": {},
          "name": {}
        }
      }
    },
    "S1d": {
      "type": "structure",
      "required": [
        "sizeInGiB"
      ],
      "members": {
        "sizeInGiB": {
          "type": "integer"
        }
      }
    },
    "S23": {
      "type": "list",
      "member": {}
    },
    "S2l": {
      "type": "structure",
      "members": {
        "contentType": {},
        "data": {}
      }
    },
    "S34": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S3r": {
      "type": "string",
      "sensitive": true
    }
  }
}