{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2014-10-06",
    "endpointPrefix": "codedeploy",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "CodeDeploy",
    "serviceFullName": "AWS CodeDeploy",
    "serviceId": "CodeDeploy",
    "signatureVersion": "v4",
    "targetPrefix": "CodeDeploy_20141006",
    "timestampFormat": "unixTimestamp",
    "uid": "codedeploy-2014-10-06"
  },
  "operations": {
    "AddTagsToOnPremisesInstances": {
      "input": {
        "type": "structure",
        "required": [
          "tags",
          "instanceNames"
        ],
        "members": {
          "tags": {
            "shape": "S2"
          },
          "instanceNames": {
            "shape": "S6"
          }
        }
      }
    },
    "BatchGetApplicationRevisions": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName",
          "revisions"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "revisions": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "errorMessage": {},
          "revisions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "revisionLocation": {
                  "shape": "Sb"
                },
                "genericRevisionInfo": {
                  "shape": "St"
                }
              }
            }
          }
        }
      }
    },
    "BatchGetApplications": {
      "input": {
        "type": "structure",
        "required": [
          "applicationNames"
        ],
        "members": {
          "applicationNames": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "applicationsInfo": {
            "type": "list",
            "member": {
              "shape": "S12"
            }
          }
        }
      }
    },
    "BatchGetDeploymentGroups": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName",
          "deploymentGroupNames"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "deploymentGroupNames": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deploymentGroupsInfo": {
            "type": "list",
            "member": {
              "shape": "S1a"
            }
          },
          "errorMessage": {}
        }
      }
    },
    "BatchGetDeploymentInstances": {
      "input": {
        "type": "structure",
        "required": [
          "deploymentId",
          "instanceIds"
        ],
        "members": {
          "deploymentId": {},
          "instanceIds": {
            "shape": "S2r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instancesSummary": {
            "type": "list",
            "member": {
              "shape": "S2v"
            }
          },
          "errorMessage": {}
        }
      }
    },
    "BatchGetDeployments": {
      "input": {
        "type": "structure",
        "required": [
          "deploymentIds"
        ],
        "members": {
          "deploymentIds": {
            "shape": "S38"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deploymentsInfo": {
            "type": "list",
            "member": {
              "shape": "S3b"
            }
          }
        }
      }
    },
    "BatchGetOnPremisesInstances": {
      "input": {
        "type": "structure",
        "required": [
          "instanceNames"
        ],
        "members": {
          "instanceNames": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instanceInfos": {
            "type": "list",
            "member": {
              "shape": "S3q"
            }
          }
        }
      }
    },
    "ContinueDeployment": {
      "input": {
        "type": "structure",
        "members": {
          "deploymentId": {}
        }
      }
    },
    "CreateApplication": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "computePlatform": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "applicationId": {}
        }
      }
    },
    "CreateDeployment": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "deploymentGroupName": {
            "shape": "Sw"
          },
          "revision": {
            "shape": "Sb"
          },
          "deploymentConfigName": {
            "shape": "S1c"
          },
          "description": {},
          "ignoreApplicationStopFailures": {
            "type": "boolean"
          },
          "targetInstances": {
            "shape": "S3i"
          },
          "autoRollbackConfiguration": {
            "shape": "S1y"
          },
          "updateOutdatedInstancesOnly": {
            "type": "boolean"
          },
          "fileExistsBehavior": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deploymentId": {}
        }
      }
    },
    "CreateDeploymentConfig": {
      "input": {
        "type": "structure",
        "required": [
          "deploymentConfigName"
        ],
        "members": {
          "deploymentConfigName": {
            "shape": "S1c"
          },
          "minimumHealthyHosts": {
            "shape": "S40"
          },
          "trafficRoutingConfig": {
            "shape": "S43"
          },
          "computePlatform": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deploymentConfigId": {}
        }
      }
    },
    "CreateDeploymentGroup": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName",
          "deploymentGroupName",
          "serviceRoleArn"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "deploymentGroupName": {
            "shape": "Sw"
          },
          "deploymentConfigName": {
            "shape": "S1c"
          },
          "ec2TagFilters": {
            "shape": "S1d"
          },
          "onPremisesInstanceTagFilters": {
            "shape": "S1g"
          },
          "autoScalingGroups": {
            "shape": "S3j"
          },
          "serviceRoleArn": {},
          "triggerConfigurations": {
            "shape": "S1o"
          },
          "alarmConfiguration": {
            "shape": "S1u"
          },
          "autoRollbackConfiguration": {
            "shape": "S1y"
          },
          "deploymentStyle": {
            "shape": "S21"
          },
          "blueGreenDeploymentConfiguration": {
            "shape": "S24"
          },
          "loadBalancerInfo": {
            "shape": "S2c"
          },
          "ec2TagSet": {
            "shape": "S2m"
          },
          "onPremisesTagSet": {
            "shape": "S2o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deploymentGroupId": {}
        }
      }
    },
    "DeleteApplication": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          }
        }
      }
    },
    "DeleteDeploymentConfig": {
      "input": {
        "type": "structure",
        "required": [
          "deploymentConfigName"
        ],
        "members": {
          "deploymentConfigName": {
            "shape": "S1c"
          }
        }
      }
    },
    "DeleteDeploymentGroup": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName",
          "deploymentGroupName"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "deploymentGroupName": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "hooksNotCleanedUp": {
            "shape": "S1j"
          }
        }
      }
    },
    "DeleteGitHubAccountToken": {
      "input": {
        "type": "structure",
        "members": {
          "tokenName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tokenName": {}
        }
      }
    },
    "DeregisterOnPremisesInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {}
        }
      }
    },
    "GetApplication": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "application": {
            "shape": "S12"
          }
        }
      }
    },
    "GetApplicationRevision": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName",
          "revision"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "revision": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "revision": {
            "shape": "Sb"
          },
          "revisionInfo": {
            "shape": "St"
          }
        }
      }
    },
    "GetDeployment": {
      "input": {
        "type": "structure",
        "required": [
          "deploymentId"
        ],
        "members": {
          "deploymentId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deploymentInfo": {
            "shape": "S3b"
          }
        }
      }
    },
    "GetDeploymentConfig": {
      "input": {
        "type": "structure",
        "required": [
          "deploymentConfigName"
        ],
        "members": {
          "deploymentConfigName": {
            "shape": "S1c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deploymentConfigInfo": {
            "type": "structure",
            "members": {
              "deploymentConfigId": {},
              "deploymentConfigName": {
                "shape": "S1c"
              },
              "minimumHealthyHosts": {
                "shape": "S40"
              },
              "createTime": {
                "type": "timestamp"
              },
              "computePlatform": {
                "shape": "S16"
              },
              "trafficRoutingConfig": {
                "shape": "S43"
              }
            }
          }
        }
      }
    },
    "GetDeploymentGroup": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName",
          "deploymentGroupName"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "deploymentGroupName": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deploymentGroupInfo": {
            "shape": "S1a"
          }
        }
      }
    },
    "GetDeploymentInstance": {
      "input": {
        "type": "structure",
        "required": [
          "deploymentId",
          "instanceId"
        ],
        "members": {
          "deploymentId": {},
          "instanceId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instanceSummary": {
            "shape": "S2v"
          }
        }
      }
    },
    "GetOnPremisesInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instanceInfo": {
            "shape": "S3q"
          }
        }
      }
    },
    "ListApplicationRevisions": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "sortBy": {
            "type": "string",
            "enum": [
              "registerTime",
              "firstUsedTime",
              "lastUsedTime"
            ]
          },
          "sortOrder": {
            "type": "string",
            "enum": [
              "ascending",
              "descending"
            ]
          },
          "s3Bucket": {},
          "s3KeyPrefix": {},
          "deployed": {
            "type": "string",
            "enum": [
              "include",
              "exclude",
              "ignore"
            ]
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "revisions": {
            "shape": "Sa"
          },
          "nextToken": {}
        }
      }
    },
    "ListApplications": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "applications": {
            "shape": "Sz"
          },
          "nextToken": {}
        }
      }
    },
    "ListDeploymentConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deploymentConfigsList": {
            "type": "list",
            "member": {
              "shape": "S1c"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListDeploymentGroups": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "deploymentGroups": {
            "shape": "Sv"
          },
          "nextToken": {}
        }
      }
    },
    "ListDeploymentInstances": {
      "input": {
        "type": "structure",
        "required": [
          "deploymentId"
        ],
        "members": {
          "deploymentId": {},
          "nextToken": {},
          "instanceStatusFilter": {
            "type": "list",
            "member": {
              "shape": "S2w"
            }
          },
          "instanceTypeFilter": {
            "type": "list",
            "member": {
              "shape": "S36"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instancesList": {
            "shape": "S2r"
          },
          "nextToken": {}
        }
      }
    },
    "ListDeployments": {
      "input": {
        "type": "structure",
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "deploymentGroupName": {
            "shape": "Sw"
          },
          "includeOnlyStatuses": {
            "type": "list",
            "member": {
              "shape": "S2l"
            }
          },
          "createTimeRange": {
            "type": "structure",
            "members": {
              "start": {
                "type": "timestamp"
              },
              "end": {
                "type": "timestamp"
              }
            }
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deployments": {
            "shape": "S38"
          },
          "nextToken": {}
        }
      }
    },
    "ListGitHubAccountTokenNames": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tokenNameList": {
            "type": "list",
            "member": {}
          },
          "nextToken": {}
        }
      }
    },
    "ListOnPremisesInstances": {
      "input": {
        "type": "structure",
        "members": {
          "registrationStatus": {
            "type": "string",
            "enum": [
              "Registered",
              "Deregistered"
            ]
          },
          "tagFilters": {
            "shape": "S1g"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instanceNames": {
            "shape": "S6"
          },
          "nextToken": {}
        }
      }
    },
    "PutLifecycleEventHookExecutionStatus": {
      "input": {
        "type": "structure",
        "members": {
          "deploymentId": {},
          "lifecycleEventHookExecutionId": {},
          "status": {
            "shape": "S35"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "lifecycleEventHookExecutionId": {}
        }
      }
    },
    "RegisterApplicationRevision": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName",
          "revision"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "description": {},
          "revision": {
            "shape": "Sb"
          }
        }
      }
    },
    "RegisterOnPremisesInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {},
          "iamSessionArn": {},
          "iamUserArn": {}
        }
      }
    },
    "RemoveTagsFromOnPremisesInstances": {
      "input": {
        "type": "structure",
        "required": [
          "tags",
          "instanceNames"
        ],
        "members": {
          "tags": {
            "shape": "S2"
          },
          "instanceNames": {
            "shape": "S6"
          }
        }
      }
    },
    "SkipWaitTimeForInstanceTermination": {
      "input": {
        "type": "structure",
        "members": {
          "deploymentId": {}
        }
      }
    },
    "StopDeployment": {
      "input": {
        "type": "structure",
        "required": [
          "deploymentId"
        ],
        "members": {
          "deploymentId": {},
          "autoRollbackEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "status": {
            "type": "string",
            "enum": [
              "Pending",
              "Succeeded"
            ]
          },
          "statusMessage": {}
        }
      }
    },
    "UpdateApplication": {
      "input": {
        "type": "structure",
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "newApplicationName": {
            "shape": "S9"
          }
        }
      }
    },
    "UpdateDeploymentGroup": {
      "input": {
        "type": "structure",
        "required": [
          "applicationName",
          "currentDeploymentGroupName"
        ],
        "members": {
          "applicationName": {
            "shape": "S9"
          },
          "currentDeploymentGroupName": {
            "shape": "Sw"
          },
          "newDeploymentGroupName": {
            "shape": "Sw"
          },
          "deploymentConfigName": {
            "shape": "S1c"
          },
          "ec2TagFilters": {
            "shape": "S1d"
          },
          "onPremisesInstanceTagFilters": {
            "shape": "S1g"
          },
          "autoScalingGroups": {
            "shape": "S3j"
          },
          "serviceRoleArn": {},
          "triggerConfigurations": {
            "shape": "S1o"
          },
          "alarmConfiguration": {
            "shape": "S1u"
          },
          "autoRollbackConfiguration": {
            "shape": "S1y"
          },
          "deploymentStyle": {
            "shape": "S21"
          },
          "blueGreenDeploymentConfiguration": {
            "shape": "S24"
          },
          "loadBalancerInfo": {
            "shape": "S2c"
          },
          "ec2TagSet": {
            "shape": "S2m"
          },
          "onPremisesTagSet": {
            "shape": "S2o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "hooksNotCleanedUp": {
            "shape": "S1j"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "S6": {
      "type": "list",
      "member": {}
    },
    "S9": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "Sa": {
      "type": "list",
      "member": {
        "shape": "Sb"
      }
    },
    "Sb": {
      "type": "structure",
      "members": {
        "revisionType": {
          "type": "string",
          "enum": [
            "S3",
            "GitHub",
            "String"
          ]
        },
        "s3Location": {
          "type": "structure",
          "members": {
            "bucket": {},
            "key": {},
            "bundleType": {
              "type": "string",
              "enum": [
                "tar",
                "tgz",
                "zip",
                "YAML",
                "JSON"
              ]
            },
            "version": {},
            "eTag": {}
          }
        },
        "gitHubLocation": {
          "type": "structure",
          "members": {
            "repository": {},
            "commitId": {}
          }
        },
        "string": {
          "type": "structure",
          "members": {
            "content": {},
            "sha256": {}
          }
        }
      }
    },
    "St": {
      "type": "structure",
      "members": {
        "description": {},
        "deploymentGroups": {
          "shape": "Sv"
        },
        "firstUsedTime": {
          "type": "timestamp"
        },
        "lastUsedTime": {
          "type": "timestamp"
        },
        "registerTime": {
          "type": "timestamp"
        }
      }
    },
    "Sv": {
      "type": "list",
      "member": {
        "shape": "Sw"
      }
    },
    "Sw": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "Sz": {
      "type": "list",
      "member": {
        "shape": "S9"
      }
    },
    "S12": {
      "type": "structure",
      "members": {
        "applicationId": {},
        "applicationName": {
          "shape": "S9"
        },
        "createTime": {
          "type": "timestamp"
        },
        "linkedToGitHub": {
          "type": "boolean"
        },
        "gitHubAccountName": {},
        "computePlatform": {
          "shape": "S16"
        }
      }
    },
    "S16": {
      "type": "string",
      "enum": [
        "Server",
        "Lambda"
      ]
    },
    "S1a": {
      "type": "structure",
      "members": {
        "applicationName": {
          "shape": "S9"
        },
        "deploymentGroupId": {},
        "deploymentGroupName": {
          "shape": "Sw"
        },
        "deploymentConfigName": {
          "shape": "S1c"
        },
        "ec2TagFilters": {
          "shape": "S1d"
        },
        "onPremisesInstanceTagFilters": {
          "shape": "S1g"
        },
        "autoScalingGroups": {
          "shape": "S1j"
        },
        "serviceRoleArn": {},
        "targetRevision": {
          "shape": "Sb"
        },
        "triggerConfigurations": {
          "shape": "S1o"
        },
        "alarmConfiguration": {
          "shape": "S1u"
        },
        "autoRollbackConfiguration": {
          "shape": "S1y"
        },
        "deploymentStyle": {
          "shape": "S21"
        },
        "blueGreenDeploymentConfiguration": {
          "shape": "S24"
        },
        "loadBalancerInfo": {
          "shape": "S2c"
        },
        "lastSuccessfulDeployment": {
          "shape": "S2j"
        },
        "lastAttemptedDeployment": {
          "shape": "S2j"
        },
        "ec2TagSet": {
          "shape": "S2m"
        },
        "onPremisesTagSet": {
          "shape": "S2o"
        },
        "computePlatform": {
          "shape": "S16"
        }
      }
    },
    "S1c": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "S1d": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {},
          "Type": {
            "type": "string",
            "enum": [
              "KEY_ONLY",
              "VALUE_ONLY",
              "KEY_AND_VALUE"
            ]
          }
        }
      }
    },
    "S1g": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {},
          "Type": {
            "type": "string",
            "enum": [
              "KEY_ONLY",
              "VALUE_ONLY",
              "KEY_AND_VALUE"
            ]
          }
        }
      }
    },
    "S1j": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "hook": {}
        }
      }
    },
    "S1o": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "triggerName": {},
          "triggerTargetArn": {},
          "triggerEvents": {
            "type": "list",
            "member": {
              "type": "string",
              "enum": [
                "DeploymentStart",
                "DeploymentSuccess",
                "DeploymentFailure",
                "DeploymentStop",
                "DeploymentRollback",
                "DeploymentReady",
                "InstanceStart",
                "InstanceSuccess",
                "InstanceFailure",
                "InstanceReady"
              ]
            }
          }
        }
      }
    },
    "S1u": {
      "type": "structure",
      "members": {
        "enabled": {
          "type": "boolean"
        },
        "ignorePollAlarmFailure": {
          "type": "boolean"
        },
        "alarms": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "name": {}
            }
          }
        }
      }
    },
    "S1y": {
      "type": "structure",
      "members": {
        "enabled": {
          "type": "boolean"
        },
        "events": {
          "type": "list",
          "member": {
            "type": "string",
            "enum": [
              "DEPLOYMENT_FAILURE",
              "DEPLOYMENT_STOP_ON_ALARM",
              "DEPLOYMENT_STOP_ON_REQUEST"
            ]
          }
        }
      }
    },
    "S21": {
      "type": "structure",
      "members": {
        "deploymentType": {
          "type": "string",
          "enum": [
            "IN_PLACE",
            "BLUE_GREEN"
          ]
        },
        "deploymentOption": {
          "type": "string",
          "enum": [
            "WITH_TRAFFIC_CONTROL",
            "WITHOUT_TRAFFIC_CONTROL"
          ]
        }
      }
    },
    "S24": {
      "type": "structure",
      "members": {
        "terminateBlueInstancesOnDeploymentSuccess": {
          "type": "structure",
          "members": {
            "action": {
              "type": "string",
              "enum": [
                "TERMINATE",
                "KEEP_ALIVE"
              ]
            },
            "terminationWaitTimeInMinutes": {
              "type": "integer"
            }
          }
        },
        "deploymentReadyOption": {
          "type": "structure",
          "members": {
            "actionOnTimeout": {
              "type": "string",
              "enum": [
                "CONTINUE_DEPLOYMENT",
                "STOP_DEPLOYMENT"
              ]
            },
            "waitTimeInMinutes": {
              "type": "integer"
            }
          }
        },
        "greenFleetProvisioningOption": {
          "type": "structure",
          "members": {
            "action": {
              "type": "string",
              "enum": [
                "DISCOVER_EXISTING",
                "COPY_AUTO_SCALING_GROUP"
              ]
            }
          }
        }
      }
    },
    "S2c": {
      "type": "structure",
      "members": {
        "elbInfoList": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "name": {}
            }
          }
        },
        "targetGroupInfoList": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "name": {}
            }
          }
        }
      }
    },
    "S2j": {
      "type": "structure",
      "members": {
        "deploymentId": {},
        "status": {
          "shape": "S2l"
        },
        "endTime": {
          "type": "timestamp"
        },
        "createTime": {
          "type": "timestamp"
        }
      }
    },
    "S2l": {
      "type": "string",
      "enum": [
        "Created",
        "Queued",
        "InProgress",
        "Succeeded",
        "Failed",
        "Stopped",
        "Ready"
      ]
    },
    "S2m": {
      "type": "structure",
      "members": {
        "ec2TagSetList": {
          "type": "list",
          "member": {
            "shape": "S1d"
          }
        }
      }
    },
    "S2o": {
      "type": "structure",
      "members": {
        "onPremisesTagSetList": {
          "type": "list",
          "member": {
            "shape": "S1g"
          }
        }
      }
    },
    "S2r": {
      "type": "list",
      "member": {}
    },
    "S2v": {
      "type": "structure",
      "members": {
        "deploymentId": {},
        "instanceId": {},
        "status": {
          "shape": "S2w"
        },
        "lastUpdatedAt": {
          "type": "timestamp"
        },
        "lifecycleEvents": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "lifecycleEventName": {},
              "diagnostics": {
                "type": "structure",
                "members": {
                  "errorCode": {
                    "type": "string",
                    "enum": [
                      "Success",
                      "ScriptMissing",
                      "ScriptNotExecutable",
                      "ScriptTimedOut",
                      "ScriptFailed",
                      "UnknownError"
                    ]
                  },
                  "scriptName": {},
                  "message": {},
                  "logTail": {}
                }
              },
              "startTime": {
                "type": "timestamp"
              },
              "endTime": {
                "type": "timestamp"
              },
              "status": {
                "shape": "S35"
              }
            }
          }
        },
        "instanceType": {
          "shape": "S36"
        }
      }
    },
    "S2w": {
      "type": "string",
      "enum": [
        "Pending",
        "InProgress",
        "Succeeded",
        "Failed",
        "Skipped",
        "Unknown",
        "Ready"
      ]
    },
    "S35": {
      "type": "string",
      "enum": [
        "Pending",
        "InProgress",
        "Succeeded",
        "Failed",
        "Skipped",
        "Unknown"
      ]
    },
    "S36": {
      "type": "string",
      "enum": [
        "Blue",
        "Green"
      ]
    },
    "S38": {
      "type": "list",
      "member": {}
    },
    "S3b": {
      "type": "structure",
      "members": {
        "applicationName": {
          "shape": "S9"
        },
        "deploymentGroupName": {
          "shape": "Sw"
        },
        "deploymentConfigName": {
          "shape": "S1c"
        },
        "deploymentId": {},
        "previousRevision": {
          "shape": "Sb"
        },
        "revision": {
          "shape": "Sb"
        },
        "status": {
          "shape": "S2l"
        },
        "errorInformation": {
          "type": "structure",
          "members": {
            "code": {
              "type": "string",
              "enum": [
                "DEPLOYMENT_GROUP_MISSING",
                "APPLICATION_MISSING",
                "REVISION_MISSING",
                "IAM_ROLE_MISSING",
                "IAM_ROLE_PERMISSIONS",
                "NO_EC2_SUBSCRIPTION",
                "OVER_MAX_INSTANCES",
                "NO_INSTANCES",
                "TIMEOUT",
                "HEALTH_CONSTRAINTS_INVALID",
                "HEALTH_CONSTRAINTS",
                "INTERNAL_ERROR",
                "THROTTLED",
                "ALARM_ACTIVE",
                "AGENT_ISSUE",
                "AUTO_SCALING_IAM_ROLE_PERMISSIONS",
                "AUTO_SCALING_CONFIGURATION",
                "MANUAL_STOP",
                "MISSING_BLUE_GREEN_DEPLOYMENT_CONFIGURATION",
                "MISSING_ELB_INFORMATION",
                "MISSING_GITHUB_TOKEN",
                "ELASTIC_LOAD_BALANCING_INVALID",
                "ELB_INVALID_INSTANCE",
                "INVALID_LAMBDA_CONFIGURATION",
                "INVALID_LAMBDA_FUNCTION",
                "HOOK_EXECUTION_FAILURE"
              ]
            },
            "message": {}
          }
        },
        "createTime": {
          "type": "timestamp"
        },
        "startTime": {
          "type": "timestamp"
        },
        "completeTime": {
          "type": "timestamp"
        },
        "deploymentOverview": {
          "type": "structure",
          "members": {
            "Pending": {
              "type": "long"
            },
            "InProgress": {
              "type": "long"
            },
            "Succeeded": {
              "type": "long"
            },
            "Failed": {
              "type": "long"
            },
            "Skipped": {
              "type": "long"
            },
            "Ready": {
              "type": "long"
            }
          }
        },
        "description": {},
        "creator": {
          "type": "string",
          "enum": [
            "user",
            "autoscaling",
            "codeDeployRollback"
          ]
        },
        "ignoreApplicationStopFailures": {
          "type": "boolean"
        },
        "autoRollbackConfiguration": {
          "shape": "S1y"
        },
        "updateOutdatedInstancesOnly": {
          "type": "boolean"
        },
        "rollbackInfo": {
          "type": "structure",
          "members": {
            "rollbackDeploymentId": {},
            "rollbackTriggeringDeploymentId": {},
            "rollbackMessage": {}
          }
        },
        "deploymentStyle": {
          "shape": "S21"
        },
        "targetInstances": {
          "shape": "S3i"
        },
        "instanceTerminationWaitTimeStarted": {
          "type": "boolean"
        },
        "blueGreenDeploymentConfiguration": {
          "shape": "S24"
        },
        "loadBalancerInfo": {
          "shape": "S2c"
        },
        "additionalDeploymentStatusInfo": {
          "type": "string",
          "deprecated": true
        },
        "fileExistsBehavior": {
          "shape": "S3l"
        },
        "deploymentStatusMessages": {
          "type": "list",
          "member": {}
        },
        "computePlatform": {
          "shape": "S16"
        }
      }
    },
    "S3i": {
      "type": "structure",
      "members": {
        "tagFilters": {
          "shape": "S1d"
        },
        "autoScalingGroups": {
          "shape": "S3j"
        },
        "ec2TagSet": {
          "shape": "S2m"
        }
      }
    },
    "S3j": {
      "type": "list",
      "member": {}
    },
    "S3l": {
      "type": "string",
      "enum": [
        "DISALLOW",
        "OVERWRITE",
        "RETAIN"
      ]
    },
    "S3q": {
      "type": "structure",
      "members": {
        "instanceName": {},
        "iamSessionArn": {},
        "iamUserArn": {},
        "instanceArn": {},
        "registerTime": {
          "type": "timestamp"
        },
        "deregisterTime": {
          "type": "timestamp"
        },
        "tags": {
          "shape": "S2"
        }
      }
    },
    "S40": {
      "type": "structure",
      "members": {
        "value": {
          "type": "integer"
        },
        "type": {
          "type": "string",
          "enum": [
            "HOST_COUNT",
            "FLEET_PERCENT"
          ]
        }
      }
    },
    "S43": {
      "type": "structure",
      "members": {
        "type": {
          "type": "string",
          "enum": [
            "TimeBasedCanary",
            "TimeBasedLinear",
            "AllAtOnce"
          ]
        },
        "timeBasedCanary": {
          "type": "structure",
          "members": {
            "canaryPercentage": {
              "type": "integer"
            },
            "canaryInterval": {
              "type": "integer"
            }
          }
        },
        "timeBasedLinear": {
          "type": "structure",
          "members": {
            "linearPercentage": {
              "type": "integer"
            },
            "linearInterval": {
              "type": "integer"
            }
          }
        }
      }
    }
  }
}