{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-10-06",
    "endpointPrefix": "codebuild",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS CodeBuild",
    "serviceId": "CodeBuild",
    "signatureVersion": "v4",
    "targetPrefix": "CodeBuild_20161006",
    "uid": "codebuild-2016-10-06"
  },
  "operations": {
    "BatchDeleteBuilds": {
      "input": {
        "type": "structure",
        "required": [
          "ids"
        ],
        "members": {
          "ids": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "buildsDeleted": {
            "shape": "S2"
          },
          "buildsNotDeleted": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "id": {
                  "shape": "S3"
                },
                "statusCode": {}
              }
            }
          }
        }
      }
    },
    "BatchGetBuilds": {
      "input": {
        "type": "structure",
        "required": [
          "ids"
        ],
        "members": {
          "ids": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "builds": {
            "type": "list",
            "member": {
              "shape": "Sb"
            }
          },
          "buildsNotFound": {
            "shape": "S2"
          }
        }
      }
    },
    "BatchGetProjects": {
      "input": {
        "type": "structure",
        "required": [
          "names"
        ],
        "members": {
          "names": {
            "shape": "S1e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "projects": {
            "type": "list",
            "member": {
              "shape": "S1h"
            }
          },
          "projectsNotFound": {
            "shape": "S1e"
          }
        }
      }
    },
    "CreateProject": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "source",
          "artifacts",
          "environment",
          "serviceRole"
        ],
        "members": {
          "name": {
            "shape": "S1i"
          },
          "description": {
            "shape": "S1j"
          },
          "source": {
            "shape": "Sk"
          },
          "secondarySources": {
            "shape": "Sq"
          },
          "artifacts": {
            "shape": "S1k"
          },
          "secondaryArtifacts": {
            "shape": "S1o"
          },
          "cache": {
            "shape": "Sv"
          },
          "environment": {
            "shape": "Sx"
          },
          "serviceRole": {
            "shape": "S3"
          },
          "timeoutInMinutes": {
            "shape": "S1p"
          },
          "encryptionKey": {
            "shape": "S3"
          },
          "tags": {
            "shape": "S1q"
          },
          "vpcConfig": {
            "shape": "S19"
          },
          "badgeEnabled": {
            "type": "boolean"
          },
          "logsConfig": {
            "shape": "S1w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "project": {
            "shape": "S1h"
          }
        }
      }
    },
    "CreateWebhook": {
      "input": {
        "type": "structure",
        "required": [
          "projectName"
        ],
        "members": {
          "projectName": {
            "shape": "S1i"
          },
          "branchFilter": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "webhook": {
            "shape": "S1u"
          }
        }
      }
    },
    "DeleteProject": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWebhook": {
      "input": {
        "type": "structure",
        "required": [
          "projectName"
        ],
        "members": {
          "projectName": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "InvalidateProjectCache": {
      "input": {
        "type": "structure",
        "required": [
          "projectName"
        ],
        "members": {
          "projectName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListBuilds": {
      "input": {
        "type": "structure",
        "members": {
          "sortOrder": {
            "shape": "S28"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ids": {
            "shape": "S2"
          },
          "nextToken": {}
        }
      }
    },
    "ListBuildsForProject": {
      "input": {
        "type": "structure",
        "required": [
          "projectName"
        ],
        "members": {
          "projectName": {
            "shape": "S3"
          },
          "sortOrder": {
            "shape": "S28"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ids": {
            "shape": "S2"
          },
          "nextToken": {}
        }
      }
    },
    "ListCuratedEnvironmentImages": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "platforms": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "platform": {
                  "type": "string",
                  "enum": [
                    "DEBIAN",
                    "AMAZON_LINUX",
                    "UBUNTU",
                    "WINDOWS_SERVER"
                  ]
                },
                "languages": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "language": {
                        "type": "string",
                        "enum": [
                          "JAVA",
                          "PYTHON",
                          "NODE_JS",
                          "RUBY",
                          "GOLANG",
                          "DOCKER",
                          "ANDROID",
                          "DOTNET",
                          "BASE"
                        ]
                      },
                      "images": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "name": {},
                            "description": {},
                            "versions": {
                              "type": "list",
                              "member": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "ListProjects": {
      "input": {
        "type": "structure",
        "members": {
          "sortBy": {
            "type": "string",
            "enum": [
              "NAME",
              "CREATED_TIME",
              "LAST_MODIFIED_TIME"
            ]
          },
          "sortOrder": {
            "shape": "S28"
          },
          "nextToken": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "projects": {
            "shape": "S1e"
          }
        }
      }
    },
    "StartBuild": {
      "input": {
        "type": "structure",
        "required": [
          "projectName"
        ],
        "members": {
          "projectName": {
            "shape": "S3"
          },
          "secondarySourcesOverride": {
            "shape": "Sq"
          },
          "secondarySourcesVersionOverride": {
            "shape": "Sr"
          },
          "sourceVersion": {},
          "artifactsOverride": {
            "shape": "S1k"
          },
          "secondaryArtifactsOverride": {
            "shape": "S1o"
          },
          "environmentVariablesOverride": {
            "shape": "S10"
          },
          "sourceTypeOverride": {
            "shape": "Sl"
          },
          "sourceLocationOverride": {},
          "sourceAuthOverride": {
            "shape": "Sn"
          },
          "gitCloneDepthOverride": {
            "shape": "Sm"
          },
          "buildspecOverride": {},
          "insecureSslOverride": {
            "type": "boolean"
          },
          "reportBuildStatusOverride": {
            "type": "boolean"
          },
          "environmentTypeOverride": {
            "shape": "Sy"
          },
          "imageOverride": {
            "shape": "S3"
          },
          "computeTypeOverride": {
            "shape": "Sz"
          },
          "certificateOverride": {},
          "cacheOverride": {
            "shape": "Sv"
          },
          "serviceRoleOverride": {
            "shape": "S3"
          },
          "privilegedModeOverride": {
            "type": "boolean"
          },
          "timeoutInMinutesOverride": {
            "shape": "S1p"
          },
          "idempotencyToken": {},
          "logsConfigOverride": {
            "shape": "S1w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "build": {
            "shape": "Sb"
          }
        }
      }
    },
    "StopBuild": {
      "input": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "build": {
            "shape": "Sb"
          }
        }
      }
    },
    "UpdateProject": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S3"
          },
          "description": {
            "shape": "S1j"
          },
          "source": {
            "shape": "Sk"
          },
          "secondarySources": {
            "shape": "Sq"
          },
          "artifacts": {
            "shape": "S1k"
          },
          "secondaryArtifacts": {
            "shape": "S1o"
          },
          "cache": {
            "shape": "Sv"
          },
          "environment": {
            "shape": "Sx"
          },
          "serviceRole": {
            "shape": "S3"
          },
          "timeoutInMinutes": {
            "shape": "S1p"
          },
          "encryptionKey": {
            "shape": "S3"
          },
          "tags": {
            "shape": "S1q"
          },
          "vpcConfig": {
            "shape": "S19"
          },
          "badgeEnabled": {
            "type": "boolean"
          },
          "logsConfig": {
            "shape": "S1w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "project": {
            "shape": "S1h"
          }
        }
      }
    },
    "UpdateWebhook": {
      "input": {
        "type": "structure",
        "required": [
          "projectName"
        ],
        "members": {
          "projectName": {
            "shape": "S1i"
          },
          "branchFilter": {},
          "rotateSecret": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "webhook": {
            "shape": "S1u"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {
        "shape": "S3"
      },
      "max": 100,
      "min": 1
    },
    "S3": {
      "type": "string",
      "min": 1
    },
    "Sb": {
      "type": "structure",
      "members": {
        "id": {
          "shape": "S3"
        },
        "arn": {
          "shape": "S3"
        },
        "startTime": {
          "type": "timestamp"
        },
        "endTime": {
          "type": "timestamp"
        },
        "currentPhase": {},
        "buildStatus": {
          "shape": "Sd"
        },
        "sourceVersion": {
          "shape": "S3"
        },
        "projectName": {
          "shape": "S3"
        },
        "phases": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "phaseType": {
                "type": "string",
                "enum": [
                  "SUBMITTED",
                  "PROVISIONING",
                  "DOWNLOAD_SOURCE",
                  "INSTALL",
                  "PRE_BUILD",
                  "BUILD",
                  "POST_BUILD",
                  "UPLOAD_ARTIFACTS",
                  "FINALIZING",
                  "COMPLETED"
                ]
              },
              "phaseStatus": {
                "shape": "Sd"
              },
              "startTime": {
                "type": "timestamp"
              },
              "endTime": {
                "type": "timestamp"
              },
              "durationInSeconds": {
                "type": "long"
              },
              "contexts": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "statusCode": {},
                    "message": {}
                  }
                }
              }
            }
          }
        },
        "source": {
          "shape": "Sk"
        },
        "secondarySources": {
          "shape": "Sq"
        },
        "secondarySourceVersions": {
          "shape": "Sr"
        },
        "artifacts": {
          "shape": "St"
        },
        "secondaryArtifacts": {
          "type": "list",
          "member": {
            "shape": "St"
          },
          "max": 12,
          "min": 0
        },
        "cache": {
          "shape": "Sv"
        },
        "environment": {
          "shape": "Sx"
        },
        "serviceRole": {
          "shape": "S3"
        },
        "logs": {
          "type": "structure",
          "members": {
            "groupName": {},
            "streamName": {},
            "deepLink": {},
            "s3DeepLink": {},
            "cloudWatchLogs": {
              "shape": "S14"
            },
            "s3Logs": {
              "shape": "S16"
            }
          }
        },
        "timeoutInMinutes": {
          "type": "integer"
        },
        "buildComplete": {
          "type": "boolean"
        },
        "initiator": {},
        "vpcConfig": {
          "shape": "S19"
        },
        "networkInterface": {
          "type": "structure",
          "members": {
            "subnetId": {
              "shape": "S3"
            },
            "networkInterfaceId": {
              "shape": "S3"
            }
          }
        },
        "encryptionKey": {
          "shape": "S3"
        }
      }
    },
    "Sd": {
      "type": "string",
      "enum": [
        "SUCCEEDED",
        "FAILED",
        "FAULT",
        "TIMED_OUT",
        "IN_PROGRESS",
        "STOPPED"
      ]
    },
    "Sk": {
      "type": "structure",
      "required": [
        "type"
      ],
      "members": {
        "type": {
          "shape": "Sl"
        },
        "location": {},
        "gitCloneDepth": {
          "shape": "Sm"
        },
        "buildspec": {},
        "auth": {
          "shape": "Sn"
        },
        "reportBuildStatus": {
          "type": "boolean"
        },
        "insecureSsl": {
          "type": "boolean"
        },
        "sourceIdentifier": {}
      }
    },
    "Sl": {
      "type": "string",
      "enum": [
        "CODECOMMIT",
        "CODEPIPELINE",
        "GITHUB",
        "S3",
        "BITBUCKET",
        "GITHUB_ENTERPRISE",
        "NO_SOURCE"
      ]
    },
    "Sm": {
      "type": "integer",
      "min": 0
    },
    "Sn": {
      "type": "structure",
      "required": [
        "type"
      ],
      "members": {
        "type": {
          "type": "string",
          "enum": [
            "OAUTH"
          ]
        },
        "resource": {}
      }
    },
    "Sq": {
      "type": "list",
      "member": {
        "shape": "Sk"
      },
      "max": 12,
      "min": 0
    },
    "Sr": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "sourceIdentifier",
          "sourceVersion"
        ],
        "members": {
          "sourceIdentifier": {},
          "sourceVersion": {}
        }
      },
      "max": 12,
      "min": 0
    },
    "St": {
      "type": "structure",
      "members": {
        "location": {},
        "sha256sum": {},
        "md5sum": {},
        "overrideArtifactName": {
          "type": "boolean"
        },
        "encryptionDisabled": {
          "type": "boolean"
        },
        "artifactIdentifier": {}
      }
    },
    "Sv": {
      "type": "structure",
      "required": [
        "type"
      ],
      "members": {
        "type": {
          "type": "string",
          "enum": [
            "NO_CACHE",
            "S3"
          ]
        },
        "location": {}
      }
    },
    "Sx": {
      "type": "structure",
      "required": [
        "type",
        "image",
        "computeType"
      ],
      "members": {
        "type": {
          "shape": "Sy"
        },
        "image": {
          "shape": "S3"
        },
        "computeType": {
          "shape": "Sz"
        },
        "environmentVariables": {
          "shape": "S10"
        },
        "privilegedMode": {
          "type": "boolean"
        },
        "certificate": {}
      }
    },
    "Sy": {
      "type": "string",
      "enum": [
        "WINDOWS_CONTAINER",
        "LINUX_CONTAINER"
      ]
    },
    "Sz": {
      "type": "string",
      "enum": [
        "BUILD_GENERAL1_SMALL",
        "BUILD_GENERAL1_MEDIUM",
        "BUILD_GENERAL1_LARGE"
      ]
    },
    "S10": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "value"
        ],
        "members": {
          "name": {
            "shape": "S3"
          },
          "value": {},
          "type": {
            "type": "string",
            "enum": [
              "PLAINTEXT",
              "PARAMETER_STORE"
            ]
          }
        }
      }
    },
    "S14": {
      "type": "structure",
      "required": [
        "status"
      ],
      "members": {
        "status": {
          "shape": "S15"
        },
        "groupName": {},
        "streamName": {}
      }
    },
    "S15": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "S16": {
      "type": "structure",
      "required": [
        "status"
      ],
      "members": {
        "status": {
          "shape": "S15"
        },
        "location": {}
      }
    },
    "S19": {
      "type": "structure",
      "members": {
        "vpcId": {
          "shape": "S3"
        },
        "subnets": {
          "type": "list",
          "member": {
            "shape": "S3"
          },
          "max": 16
        },
        "securityGroupIds": {
          "type": "list",
          "member": {
            "shape": "S3"
          },
          "max": 5
        }
      }
    },
    "S1e": {
      "type": "list",
      "member": {
        "shape": "S3"
      },
      "max": 100,
      "min": 1
    },
    "S1h": {
      "type": "structure",
      "members": {
        "name": {
          "shape": "S1i"
        },
        "arn": {},
        "description": {
          "shape": "S1j"
        },
        "source": {
          "shape": "Sk"
        },
        "secondarySources": {
          "shape": "Sq"
        },
        "artifacts": {
          "shape": "S1k"
        },
        "secondaryArtifacts": {
          "shape": "S1o"
        },
        "cache": {
          "shape": "Sv"
        },
        "environment": {
          "shape": "Sx"
        },
        "serviceRole": {
          "shape": "S3"
        },
        "timeoutInMinutes": {
          "shape": "S1p"
        },
        "encryptionKey": {
          "shape": "S3"
        },
        "tags": {
          "shape": "S1q"
        },
        "created": {
          "type": "timestamp"
        },
        "lastModified": {
          "type": "timestamp"
        },
        "webhook": {
          "shape": "S1u"
        },
        "vpcConfig": {
          "shape": "S19"
        },
        "badge": {
          "type": "structure",
          "members": {
            "badgeEnabled": {
              "type": "boolean"
            },
            "badgeRequestUrl": {}
          }
        },
        "logsConfig": {
          "shape": "S1w"
        }
      }
    },
    "S1i": {
      "type": "string",
      "max": 255,
      "min": 2,
      "pattern": "[A-Za-z0-9][A-Za-z0-9\\-_]{1,254}"
    },
    "S1j": {
      "type": "string",
      "max": 255,
      "min": 0
    },
    "S1k": {
      "type": "structure",
      "required": [
        "type"
      ],
      "members": {
        "type": {
          "type": "string",
          "enum": [
            "CODEPIPELINE",
            "S3",
            "NO_ARTIFACTS"
          ]
        },
        "location": {},
        "path": {},
        "namespaceType": {
          "type": "string",
          "enum": [
            "NONE",
            "BUILD_ID"
          ]
        },
        "name": {},
        "packaging": {
          "type": "string",
          "enum": [
            "NONE",
            "ZIP"
          ]
        },
        "overrideArtifactName": {
          "type": "boolean"
        },
        "encryptionDisabled": {
          "type": "boolean"
        },
        "artifactIdentifier": {}
      }
    },
    "S1o": {
      "type": "list",
      "member": {
        "shape": "S1k"
      },
      "max": 12,
      "min": 0
    },
    "S1p": {
      "type": "integer",
      "max": 480,
      "min": 5
    },
    "S1q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "key": {
            "type": "string",
            "max": 127,
            "min": 1,
            "pattern": "^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=@+\\\\-]*)$"
          },
          "value": {
            "type": "string",
            "max": 255,
            "min": 1,
            "pattern": "^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=@+\\\\-]*)$"
          }
        }
      },
      "max": 50,
      "min": 0
    },
    "S1u": {
      "type": "structure",
      "members": {
        "url": {
          "shape": "S3"
        },
        "payloadUrl": {
          "shape": "S3"
        },
        "secret": {
          "shape": "S3"
        },
        "branchFilter": {},
        "lastModifiedSecret": {
          "type": "timestamp"
        }
      }
    },
    "S1w": {
      "type": "structure",
      "members": {
        "cloudWatchLogs": {
          "shape": "S14"
        },
        "s3Logs": {
          "shape": "S16"
        }
      }
    },
    "S28": {
      "type": "string",
      "enum": [
        "ASCENDING",
        "DESCENDING"
      ]
    }
  }
}