{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-07-09",
    "endpointPrefix":"codepipeline",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"CodePipeline",
    "serviceFullName":"AWS CodePipeline",
    "signatureVersion":"v4",
    "targetPrefix":"CodePipeline_20150709"
  },
  "operations":{
    "AcknowledgeJob":{
      "name":"AcknowledgeJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcknowledgeJobInput"},
      "output":{"shape":"AcknowledgeJobOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidNonceException"},
        {"shape":"JobNotFoundException"}
      ],
      "documentation":"<p>Returns information about a specified job and whether that job has been received by the job worker. Only used for custom actions.</p> <examples></examples>"
    },
    "AcknowledgeThirdPartyJob":{
      "name":"AcknowledgeThirdPartyJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcknowledgeThirdPartyJobInput"},
      "output":{"shape":"AcknowledgeThirdPartyJobOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidNonceException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InvalidClientTokenException"}
      ],
      "documentation":"<p>Confirms a job worker has received the specified job. Only used for partner actions.</p>"
    },
    "CreateCustomActionType":{
      "name":"CreateCustomActionType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCustomActionTypeInput"},
      "output":{"shape":"CreateCustomActionTypeOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a new custom action that can be used in all pipelines associated with the AWS account. Only used for custom actions.</p> <examples></examples>"
    },
    "CreatePipeline":{
      "name":"CreatePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePipelineInput"},
      "output":{"shape":"CreatePipelineOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNameInUseException"},
        {"shape":"InvalidStageDeclarationException"},
        {"shape":"InvalidActionDeclarationException"},
        {"shape":"InvalidBlockerDeclarationException"},
        {"shape":"InvalidStructureException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a pipeline.</p> <examples></examples>"
    },
    "DeleteCustomActionType":{
      "name":"DeleteCustomActionType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCustomActionTypeInput"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Marks a custom action as deleted. PollForJobs for the custom action will fail after the action is marked for deletion. Only used for custom actions.</p> <important><p>You cannot recreate a custom action after it has been deleted unless you increase the version number of the action.</p></important> <examples></examples>"
    },
    "DeletePipeline":{
      "name":"DeletePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePipelineInput"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes the specified pipeline.</p> <examples></examples>"
    },
    "DisableStageTransition":{
      "name":"DisableStageTransition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableStageTransitionInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"StageNotFoundException"}
      ],
      "documentation":"<p>Prevents artifacts in a pipeline from transitioning to the next stage in the pipeline. </p> <examples></examples>"
    },
    "EnableStageTransition":{
      "name":"EnableStageTransition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableStageTransitionInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"StageNotFoundException"}
      ],
      "documentation":"<p>Enables artifacts in a pipeline to transition to a stage in a pipeline.</p> <examples></examples>"
    },
    "GetJobDetails":{
      "name":"GetJobDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobDetailsInput"},
      "output":{"shape":"GetJobDetailsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"JobNotFoundException"}
      ],
      "documentation":"<p>Returns information about a job. Only used for custom actions.</p> <important><p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts. Additionally, this API returns any secret values defined for the action.</p></important> <examples></examples>"
    },
    "GetPipeline":{
      "name":"GetPipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPipelineInput"},
      "output":{"shape":"GetPipelineOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"PipelineVersionNotFoundException"}
      ],
      "documentation":"<p>Returns the metadata, structure, stages, and actions of a pipeline. Can be used to return the entire structure of a pipeline in JSON format, which can then be modified and used to update the pipeline structure with <a>UpdatePipeline</a>.</p> <examples></examples>"
    },
    "GetPipelineState":{
      "name":"GetPipelineState",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPipelineStateInput"},
      "output":{"shape":"GetPipelineStateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"}
      ],
      "documentation":"<p>Returns information about the state of a pipeline, including the stages, actions, and details about the last run of the pipeline.</p> <examples></examples>"
    },
    "GetThirdPartyJobDetails":{
      "name":"GetThirdPartyJobDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetThirdPartyJobDetailsInput"},
      "output":{"shape":"GetThirdPartyJobDetailsOutput"},
      "errors":[
        {"shape":"JobNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidClientTokenException"},
        {"shape":"InvalidJobException"}
      ],
      "documentation":"<p>Requests the details of a job for a third party action. Only used for partner actions.</p> <important><p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts. Additionally, this API returns any secret values defined for the action.</p></important>"
    },
    "ListActionTypes":{
      "name":"ListActionTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListActionTypesInput"},
      "output":{"shape":"ListActionTypesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Gets a summary of all AWS CodePipeline action types associated with your account.</p>"
    },
    "ListPipelines":{
      "name":"ListPipelines",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPipelinesInput"},
      "output":{"shape":"ListPipelinesOutput"},
      "errors":[
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Gets a summary of all of the pipelines associated with your account.</p> <examples></examples>"
    },
    "PollForJobs":{
      "name":"PollForJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PollForJobsInput"},
      "output":{"shape":"PollForJobsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ActionTypeNotFoundException"}
      ],
      "documentation":"<p>Returns information about any jobs for AWS CodePipeline to act upon.</p> <important><p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts. Additionally, this API returns any secret values defined for the action.</p></important> <examples></examples>"
    },
    "PollForThirdPartyJobs":{
      "name":"PollForThirdPartyJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PollForThirdPartyJobsInput"},
      "output":{"shape":"PollForThirdPartyJobsOutput"},
      "errors":[
        {"shape":"ActionTypeNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Determines whether there are any third party jobs for a job worker to act on. Only used for partner actions.</p> <important><p>When this API is called, AWS CodePipeline returns temporary credentials for the Amazon S3 bucket used to store artifacts for the pipeline, if the action requires access to that Amazon S3 bucket for input or output artifacts.</p></important>"
    },
    "PutActionRevision":{
      "name":"PutActionRevision",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutActionRevisionInput"},
      "output":{"shape":"PutActionRevisionOutput"},
      "errors":[
        {"shape":"PipelineNotFoundException"},
        {"shape":"StageNotFoundException"},
        {"shape":"ActionNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Provides information to AWS CodePipeline about new revisions to a source.</p>"
    },
    "PutJobFailureResult":{
      "name":"PutJobFailureResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutJobFailureResultInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InvalidJobStateException"}
      ],
      "documentation":"<p>Represents the failure of a job as returned to the pipeline by a job worker. Only used for custom actions.</p>"
    },
    "PutJobSuccessResult":{
      "name":"PutJobSuccessResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutJobSuccessResultInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InvalidJobStateException"}
      ],
      "documentation":"<p>Represents the success of a job as returned to the pipeline by a job worker. Only used for custom actions.</p>"
    },
    "PutThirdPartyJobFailureResult":{
      "name":"PutThirdPartyJobFailureResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutThirdPartyJobFailureResultInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InvalidJobStateException"},
        {"shape":"InvalidClientTokenException"}
      ],
      "documentation":"<p>Represents the failure of a third party job as returned to the pipeline by a job worker. Only used for partner actions.</p>"
    },
    "PutThirdPartyJobSuccessResult":{
      "name":"PutThirdPartyJobSuccessResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutThirdPartyJobSuccessResultInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InvalidJobStateException"},
        {"shape":"InvalidClientTokenException"}
      ],
      "documentation":"<p>Represents the success of a third party job as returned to the pipeline by a job worker. Only used for partner actions.</p>"
    },
    "StartPipelineExecution":{
      "name":"StartPipelineExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartPipelineExecutionInput"},
      "output":{"shape":"StartPipelineExecutionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"}
      ],
      "documentation":"<p>Starts the specified pipeline. Specifically, it begins processing the latest commit to the source location specified as part of the pipeline.</p> <examples></examples>"
    },
    "UpdatePipeline":{
      "name":"UpdatePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePipelineInput"},
      "output":{"shape":"UpdatePipelineOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidStageDeclarationException"},
        {"shape":"InvalidActionDeclarationException"},
        {"shape":"InvalidBlockerDeclarationException"},
        {"shape":"InvalidStructureException"}
      ],
      "documentation":"<p>Updates a specified pipeline with edits or changes to its structure. Use a JSON file with the pipeline structure in conjunction with UpdatePipeline to provide the full structure of the pipeline. Updating the pipeline increases the version number of the pipeline by 1.</p> <examples></examples>"
    }
  },
  "shapes":{
    "AWSSessionCredentials":{
      "type":"structure",
      "required":[
        "accessKeyId",
        "secretAccessKey",
        "sessionToken"
      ],
      "members":{
        "accessKeyId":{
          "shape":"AccessKeyId",
          "documentation":"<p>The access key for the session.</p>"
        },
        "secretAccessKey":{
          "shape":"SecretAccessKey",
          "documentation":"<p>The secret access key for the session.</p>"
        },
        "sessionToken":{
          "shape":"SessionToken",
          "documentation":"<p>The token for the session.</p>"
        }
      },
      "documentation":"<p>Represents an AWS session credentials object. These credentials are temporary credentials that are issued by AWS Secure Token Service (STS). They can be used to access input and output artifacts in the Amazon S3 bucket used to store artifact for the pipeline in AWS CodePipeline.</p>",
      "sensitive":true
    },
    "AccessKeyId":{"type":"string"},
    "AccountId":{
      "type":"string",
      "pattern":"[0-9]{12}"
    },
    "AcknowledgeJobInput":{
      "type":"structure",
      "required":[
        "jobId",
        "nonce"
      ],
      "members":{
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>"
        },
        "nonce":{
          "shape":"Nonce",
          "documentation":"<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>"
        }
      },
      "documentation":"<p>Represents the input of an acknowledge job action.</p>"
    },
    "AcknowledgeJobOutput":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"JobStatus",
          "documentation":"<p>Whether the job worker has received the specified job.</p>"
        }
      },
      "documentation":"<p>Represents the output of an acknowledge job action.</p>"
    },
    "AcknowledgeThirdPartyJobInput":{
      "type":"structure",
      "required":[
        "jobId",
        "nonce",
        "clientToken"
      ],
      "members":{
        "jobId":{
          "shape":"ThirdPartyJobId",
          "documentation":"<p>The unique system-generated ID of the job.</p>"
        },
        "nonce":{
          "shape":"Nonce",
          "documentation":"<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The clientToken portion of the clientId and clientToken pair used to verify that the calling entity is allowed access to the job and its details.</p>"
        }
      },
      "documentation":"<p>Represents the input of an acknowledge third party job action.</p>"
    },
    "AcknowledgeThirdPartyJobOutput":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"JobStatus",
          "documentation":"<p>The status information for the third party job, if any.</p>"
        }
      },
      "documentation":"<p>Represents the output of an acknowledge third party job action.</p>"
    },
    "ActionCategory":{
      "type":"string",
      "enum":[
        "Source",
        "Build",
        "Deploy",
        "Test",
        "Invoke"
      ]
    },
    "ActionConfiguration":{
      "type":"structure",
      "members":{
        "configuration":{
          "shape":"ActionConfigurationMap",
          "documentation":"<p>The configuration data for the action.</p>"
        }
      },
      "documentation":"<p>Represents information about an action configuration.</p>"
    },
    "ActionConfigurationKey":{
      "type":"string",
      "max":50,
      "min":1
    },
    "ActionConfigurationMap":{
      "type":"map",
      "key":{"shape":"ActionConfigurationKey"},
      "value":{"shape":"ActionConfigurationValue"}
    },
    "ActionConfigurationProperty":{
      "type":"structure",
      "required":[
        "name",
        "required",
        "key",
        "secret"
      ],
      "members":{
        "name":{
          "shape":"ActionConfigurationKey",
          "documentation":"<p>The name of the action configuration property.</p>"
        },
        "required":{
          "shape":"Boolean",
          "documentation":"<p>Whether the configuration property is a required value.</p>"
        },
        "key":{
          "shape":"Boolean",
          "documentation":"<p>Whether the configuration property is a key.</p>"
        },
        "secret":{
          "shape":"Boolean",
          "documentation":"<p>Whether the configuration property is secret. Secrets are hidden from all calls except for GetJobDetails, GetThirdPartyJobDetails, PollForJobs, and PollForThirdPartyJobs.</p> <p>When updating a pipeline, passing * * * * * without changing any other values of the action will preserve the prior value of the secret.</p>"
        },
        "queryable":{
          "shape":"Boolean",
          "documentation":"<p>Indicates that the proprety will be used in conjunction with PollForJobs. When creating a custom action, an action can have up to one queryable property. If it has one, that property must be both required and not secret.</p> <p>If you create a pipeline with a custom action type, and that custom action contains a queryable property, the value for that configuration property is subject to additional restrictions. The value must be less than or equal to twenty (20) characters. The value can contain only alphanumeric characters, underscores, and hyphens.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the action configuration property that will be displayed to users.</p>"
        },
        "type":{
          "shape":"ActionConfigurationPropertyType",
          "documentation":"<p>The type of the configuration property.</p>"
        }
      },
      "documentation":"<p>Represents information about an action configuration property.</p>"
    },
    "ActionConfigurationPropertyList":{
      "type":"list",
      "member":{"shape":"ActionConfigurationProperty"},
      "max":10
    },
    "ActionConfigurationPropertyType":{
      "type":"string",
      "enum":[
        "String",
        "Number",
        "Boolean"
      ]
    },
    "ActionConfigurationQueryableValue":{
      "type":"string",
      "max":20,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "ActionConfigurationValue":{
      "type":"string",
      "max":250,
      "min":1
    },
    "ActionContext":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"ActionName",
          "documentation":"<p>The name of the action within the context of a job.</p>"
        }
      },
      "documentation":"<p>Represents the context of an action within the stage of a pipeline to a job worker.</p>"
    },
    "ActionDeclaration":{
      "type":"structure",
      "required":[
        "name",
        "actionTypeId"
      ],
      "members":{
        "name":{
          "shape":"ActionName",
          "documentation":"<p>The action declaration's name.</p>"
        },
        "actionTypeId":{
          "shape":"ActionTypeId",
          "documentation":"<p>The configuration information for the action type. </p>"
        },
        "runOrder":{
          "shape":"ActionRunOrder",
          "documentation":"<p>The order in which actions are run.</p>"
        },
        "configuration":{
          "shape":"ActionConfigurationMap",
          "documentation":"<p>The action declaration's configuration.</p>"
        },
        "outputArtifacts":{
          "shape":"OutputArtifactList",
          "documentation":"<p>The name or ID of the result of the action declaration, such as a test or build artifact.</p>"
        },
        "inputArtifacts":{
          "shape":"InputArtifactList",
          "documentation":"<p>The name or ID of the artifact consumed by the action, such as a test or build artifact.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of the IAM service role that will perform the declared action. This is assumed through the roleArn for the pipeline.</p>"
        }
      },
      "documentation":"<p>Represents information about an action declaration.</p>"
    },
    "ActionExecution":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"ActionExecutionStatus",
          "documentation":"<p>The status of the action, or for a completed action, the last status of the action.</p>"
        },
        "summary":{
          "shape":"ExecutionSummary",
          "documentation":"<p>A summary of the run of the action.</p>"
        },
        "lastStatusChange":{
          "shape":"Timestamp",
          "documentation":"<p>The last status change of the action.</p>"
        },
        "externalExecutionId":{
          "shape":"ExecutionId",
          "documentation":"<p>The external ID of the run of the action.</p>"
        },
        "externalExecutionUrl":{
          "shape":"Url",
          "documentation":"<p>The URL of a resource external to AWS that will be used when running the action, for example an external repository URL.</p>"
        },
        "percentComplete":{
          "shape":"Percentage",
          "documentation":"<p>A percentage of completeness of the action as it runs.</p>"
        },
        "errorDetails":{
          "shape":"ErrorDetails",
          "documentation":"<p>The details of an error returned by a URL external to AWS.</p>"
        }
      },
      "documentation":"<p>Represents information about how an action runs.</p>"
    },
    "ActionExecutionStatus":{
      "type":"string",
      "enum":[
        "InProgress",
        "Succeeded",
        "Failed"
      ]
    },
    "ActionName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[A-Za-z0-9.@\\-_]+"
    },
    "ActionNotFoundException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified action cannot be found.</p>",
      "exception":true
    },
    "ActionOwner":{
      "type":"string",
      "enum":[
        "AWS",
        "ThirdParty",
        "Custom"
      ]
    },
    "ActionProvider":{
      "type":"string",
      "max":25,
      "min":1,
      "pattern":"[0-9A-Za-z_-]+"
    },
    "ActionRevision":{
      "type":"structure",
      "required":[
        "revisionId",
        "revisionChangeId",
        "created"
      ],
      "members":{
        "revisionId":{
          "shape":"Revision",
          "documentation":"<p>The system-generated unique ID that identifies the revision number of the action.</p>"
        },
        "revisionChangeId":{
          "shape":"RevisionChangeIdentifier",
          "documentation":"<p>The unique identifier of the change that set the state to this revision, for example a deployment ID or timestamp.</p>"
        },
        "created":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time when the most recent version of the action was created, in timestamp format.</p>"
        }
      },
      "documentation":"<p>Represents information about the version (or revision) of an action.</p>"
    },
    "ActionRunOrder":{
      "type":"integer",
      "max":999,
      "min":1
    },
    "ActionState":{
      "type":"structure",
      "members":{
        "actionName":{
          "shape":"ActionName",
          "documentation":"<p>The name of the action.</p>"
        },
        "currentRevision":{"shape":"ActionRevision"},
        "latestExecution":{"shape":"ActionExecution"},
        "entityUrl":{
          "shape":"Url",
          "documentation":"<p>A URL link for more information about the state of the action, such as a deployment group details page.</p>"
        },
        "revisionUrl":{
          "shape":"Url",
          "documentation":"<p>A URL link for more information about the revision, such as a commit details page.</p>"
        }
      },
      "documentation":"<p>Represents information about the state of an action.</p>"
    },
    "ActionStateList":{
      "type":"list",
      "member":{"shape":"ActionState"}
    },
    "ActionType":{
      "type":"structure",
      "required":[
        "id",
        "inputArtifactDetails",
        "outputArtifactDetails"
      ],
      "members":{
        "id":{"shape":"ActionTypeId"},
        "settings":{
          "shape":"ActionTypeSettings",
          "documentation":"<p>The settings for the action type.</p>"
        },
        "actionConfigurationProperties":{
          "shape":"ActionConfigurationPropertyList",
          "documentation":"<p>The configuration properties for the action type.</p>"
        },
        "inputArtifactDetails":{
          "shape":"ArtifactDetails",
          "documentation":"<p>The details of the input artifact for the action, such as its commit ID.</p>"
        },
        "outputArtifactDetails":{
          "shape":"ArtifactDetails",
          "documentation":"<p>The details of the output artifact of the action, such as its commit ID.</p>"
        }
      },
      "documentation":"<p>Returns information about the details of an action type. </p>"
    },
    "ActionTypeId":{
      "type":"structure",
      "required":[
        "category",
        "owner",
        "provider",
        "version"
      ],
      "members":{
        "category":{
          "shape":"ActionCategory",
          "documentation":"<p>A category defines what kind of action can be taken in the stage, and constrains the provider type for the action. Valid categories are limited to one of the values below. </p>"
        },
        "owner":{
          "shape":"ActionOwner",
          "documentation":"<p>The creator of the action being called. </p>"
        },
        "provider":{
          "shape":"ActionProvider",
          "documentation":"<p>The provider of the service being called by the action. Valid providers are determined by the action category. For example, an action in the Deploy category type might have a provider of AWS CodeDeploy, which would be specified as CodeDeploy.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>A string that identifies the action type. </p>"
        }
      },
      "documentation":"<p>Represents information about an action type.</p>"
    },
    "ActionTypeList":{
      "type":"list",
      "member":{"shape":"ActionType"}
    },
    "ActionTypeNotFoundException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified action type cannot be found.</p>",
      "exception":true
    },
    "ActionTypeSettings":{
      "type":"structure",
      "members":{
        "thirdPartyConfigurationUrl":{
          "shape":"Url",
          "documentation":"<p>The URL of a sign-up page where users can sign up for an external service and perform initial configuration of the action provided by that service. </p>"
        },
        "entityUrlTemplate":{
          "shape":"UrlTemplate",
          "documentation":"<p>The URL returned to the AWS CodePipeline console that provides a deep link to the resources of the external system, such as the configuration page for an AWS CodeDeploy deployment group. This link is provided as part of the action display within the pipeline.</p>"
        },
        "executionUrlTemplate":{
          "shape":"UrlTemplate",
          "documentation":"<p>The URL returned to the AWS CodePipeline console that contains a link to the top-level landing page for the external system, such as console page for AWS CodeDeploy. This link is shown on the pipeline view page in the AWS CodePipeline console and provides a link to the execution entity of the external action.</p>"
        },
        "revisionUrlTemplate":{
          "shape":"UrlTemplate",
          "documentation":"<p>The URL returned to the AWS CodePipeline console that contains a link to the page where customers can update or change the configuration of the external action.</p>"
        }
      },
      "documentation":"<p>Returns information about the settings for an action type. </p>"
    },
    "Artifact":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"ArtifactName",
          "documentation":"<p>The artifact's name.</p>"
        },
        "revision":{
          "shape":"Revision",
          "documentation":"<p>The artifact's revision ID. Depending on the type of object, this could be a commit ID (GitHub) or a revision ID (Amazon S3).</p>"
        },
        "location":{
          "shape":"ArtifactLocation",
          "documentation":"<p>The location of an artifact.</p>"
        }
      },
      "documentation":"<p>Represents information about an artifact that will be worked upon by actions in the pipeline.</p>"
    },
    "ArtifactDetails":{
      "type":"structure",
      "required":[
        "minimumCount",
        "maximumCount"
      ],
      "members":{
        "minimumCount":{
          "shape":"MinimumArtifactCount",
          "documentation":"<p>The minimum number of artifacts allowed for the action type.</p>"
        },
        "maximumCount":{
          "shape":"MaximumArtifactCount",
          "documentation":"<p>The maximum number of artifacts allowed for the action type.</p>"
        }
      },
      "documentation":"<p>Returns information about the details of an artifact.</p>"
    },
    "ArtifactList":{
      "type":"list",
      "member":{"shape":"Artifact"}
    },
    "ArtifactLocation":{
      "type":"structure",
      "members":{
        "type":{
          "shape":"ArtifactLocationType",
          "documentation":"<p>The type of artifact in the location.</p>"
        },
        "s3Location":{
          "shape":"S3ArtifactLocation",
          "documentation":"<p>The Amazon S3 bucket that contains the artifact.</p>"
        }
      },
      "documentation":"<p>Represents information about the location of an artifact.</p>"
    },
    "ArtifactLocationType":{
      "type":"string",
      "enum":["S3"]
    },
    "ArtifactName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z0-9_\\-]+"
    },
    "ArtifactStore":{
      "type":"structure",
      "required":[
        "type",
        "location"
      ],
      "members":{
        "type":{
          "shape":"ArtifactStoreType",
          "documentation":"<p>The type of the artifact store, such as S3.</p>"
        },
        "location":{
          "shape":"ArtifactStoreLocation",
          "documentation":"<p>The location for storing the artifacts for a pipeline, such as an S3 bucket or folder.</p>"
        },
        "encryptionKey":{
          "shape":"EncryptionKey",
          "documentation":"<p>The encryption key used to encrypt the data in the artifact store, such as an AWS Key Management Service (AWS KMS) key. If this is undefined, the default key for Amazon S3 is used.</p>"
        }
      },
      "documentation":"<p>The Amazon S3 location where artifacts are stored for the pipeline. If this Amazon S3 bucket is created manually, it must meet the requirements for AWS CodePipeline. For more information, see the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/concepts.html#CPS3Bucket\">Concepts</a>.</p>"
    },
    "ArtifactStoreLocation":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"[a-zA-Z0-9\\-\\.]+"
    },
    "ArtifactStoreType":{
      "type":"string",
      "enum":["S3"]
    },
    "BlockerDeclaration":{
      "type":"structure",
      "required":[
        "name",
        "type"
      ],
      "members":{
        "name":{
          "shape":"BlockerName",
          "documentation":"<p>Reserved for future use.</p>"
        },
        "type":{
          "shape":"BlockerType",
          "documentation":"<p>Reserved for future use.</p>"
        }
      },
      "documentation":"<p>Reserved for future use.</p>"
    },
    "BlockerName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "BlockerType":{
      "type":"string",
      "enum":["Schedule"]
    },
    "Boolean":{"type":"boolean"},
    "ClientId":{
      "type":"string",
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "ClientToken":{"type":"string"},
    "Code":{"type":"string"},
    "ContinuationToken":{"type":"string"},
    "CreateCustomActionTypeInput":{
      "type":"structure",
      "required":[
        "category",
        "provider",
        "version",
        "inputArtifactDetails",
        "outputArtifactDetails"
      ],
      "members":{
        "category":{
          "shape":"ActionCategory",
          "documentation":"<p>The category of the custom action, such as a source action or a build action.</p> <note>Although Source is listed as a valid value, it is not currently functional. This value is reserved for future use.</note>"
        },
        "provider":{
          "shape":"ActionProvider",
          "documentation":"<p>The provider of the service used in the custom action, such as AWS CodeDeploy.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>The version number of the custom action. </p>"
        },
        "settings":{"shape":"ActionTypeSettings"},
        "configurationProperties":{
          "shape":"ActionConfigurationPropertyList",
          "documentation":"<p>The configuration properties for the custom action.</p> <note>You can refer to a name in the configuration properties of the custom action within the URL templates by following the format of {Config:<i>name</i>}, as long as the configuration property is both required and not secret. For more information, see <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/how-to-create-custom-action.html\">Create a Custom Action for a Pipeline</a>.</note>"
        },
        "inputArtifactDetails":{"shape":"ArtifactDetails"},
        "outputArtifactDetails":{"shape":"ArtifactDetails"}
      },
      "documentation":"<p>Represents the input of a create custom action operation. </p>"
    },
    "CreateCustomActionTypeOutput":{
      "type":"structure",
      "required":["actionType"],
      "members":{
        "actionType":{"shape":"ActionType"}
      },
      "documentation":"<p>Represents the output of a create custom action operation.</p>"
    },
    "CreatePipelineInput":{
      "type":"structure",
      "required":["pipeline"],
      "members":{
        "pipeline":{"shape":"PipelineDeclaration"}
      },
      "documentation":"<p>Represents the input of a create pipeline action.</p>"
    },
    "CreatePipelineOutput":{
      "type":"structure",
      "members":{
        "pipeline":{"shape":"PipelineDeclaration"}
      },
      "documentation":"<p>Represents the output of a create pipeline action.</p>"
    },
    "CurrentRevision":{
      "type":"structure",
      "required":[
        "revision",
        "changeIdentifier"
      ],
      "members":{
        "revision":{
          "shape":"Revision",
          "documentation":"<p>The revision ID of the current version of an artifact.</p>"
        },
        "changeIdentifier":{
          "shape":"RevisionChangeIdentifier",
          "documentation":"<p>The change identifier for the current revision.</p>"
        }
      },
      "documentation":"<p>Represents information about a current revision.</p>"
    },
    "DeleteCustomActionTypeInput":{
      "type":"structure",
      "required":[
        "category",
        "provider",
        "version"
      ],
      "members":{
        "category":{
          "shape":"ActionCategory",
          "documentation":"<p>The category of the custom action that you want to delete, such as source or deploy.</p>"
        },
        "provider":{
          "shape":"ActionProvider",
          "documentation":"<p>The provider of the service used in the custom action, such as AWS CodeDeploy.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>The version of the custom action to delete.</p>"
        }
      },
      "documentation":"<p>Represents the input of a delete custom action operation. The custom action will be marked as deleted.</p>"
    },
    "DeletePipelineInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline to be deleted.</p>"
        }
      },
      "documentation":"<p>Represents the input of a delete pipeline action.</p>"
    },
    "Description":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "DisableStageTransitionInput":{
      "type":"structure",
      "required":[
        "pipelineName",
        "stageName",
        "transitionType",
        "reason"
      ],
      "members":{
        "pipelineName":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline in which you want to disable the flow of artifacts from one stage to another.</p>"
        },
        "stageName":{
          "shape":"StageName",
          "documentation":"<p>The name of the stage where you want to disable the inbound or outbound transition of artifacts. </p>"
        },
        "transitionType":{
          "shape":"StageTransitionType",
          "documentation":"<p>Specifies whether artifacts will be prevented from transitioning into the stage and being processed by the actions in that stage (inbound), or prevented from transitioning from the stage after they have been processed by the actions in that stage (outbound).</p>"
        },
        "reason":{
          "shape":"DisabledReason",
          "documentation":"<p>The reason given to the user why a stage is disabled, such as waiting for manual approval or manual tests. This message is displayed in the pipeline console UI.</p>"
        }
      },
      "documentation":"<p>Represents the input of a disable stage transition input action.</p>"
    },
    "DisabledReason":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"[a-zA-Z0-9!@ \\(\\)\\.\\*\\?\\-]+"
    },
    "EnableStageTransitionInput":{
      "type":"structure",
      "required":[
        "pipelineName",
        "stageName",
        "transitionType"
      ],
      "members":{
        "pipelineName":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline in which you want to enable the flow of artifacts from one stage to another.</p>"
        },
        "stageName":{
          "shape":"StageName",
          "documentation":"<p>The name of the stage where you want to enable the transition of artifacts, either into the stage (inbound) or from that stage to the next stage (outbound).</p>"
        },
        "transitionType":{
          "shape":"StageTransitionType",
          "documentation":"<p>Specifies whether artifacts will be allowed to enter the stage and be processed by the actions in that stage (inbound) or whether already-processed artifacts will be allowed to transition to the next stage (outbound).</p>"
        }
      },
      "documentation":"<p>Represents the input of an enable stage transition action.</p>"
    },
    "Enabled":{"type":"boolean"},
    "EncryptionKey":{
      "type":"structure",
      "required":[
        "id",
        "type"
      ],
      "members":{
        "id":{
          "shape":"EncryptionKeyId",
          "documentation":"<p>The ID used to identify the key. For an AWS KMS key, this is the key ID or key ARN.</p>"
        },
        "type":{
          "shape":"EncryptionKeyType",
          "documentation":"<p>The type of encryption key, such as an AWS Key Management Service (AWS KMS) key. When creating or updating a pipeline, the value must be set to 'KMS'.</p>"
        }
      },
      "documentation":"<p>Represents information about the key used to encrypt data in the artifact store, such as an AWS Key Management Service (AWS KMS) key.</p>"
    },
    "EncryptionKeyId":{
      "type":"string",
      "max":100,
      "min":1
    },
    "EncryptionKeyType":{
      "type":"string",
      "enum":["KMS"]
    },
    "ErrorDetails":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"Code",
          "documentation":"<p>The system ID or error number code of the error.</p>"
        },
        "message":{
          "shape":"Message",
          "documentation":"<p>The text of the error message.</p>"
        }
      },
      "documentation":"<p>Represents information about an error in AWS CodePipeline.</p>"
    },
    "ExecutionDetails":{
      "type":"structure",
      "members":{
        "summary":{
          "shape":"ExecutionSummary",
          "documentation":"<p>The summary of the current status of the actions.</p>"
        },
        "externalExecutionId":{
          "shape":"ExecutionId",
          "documentation":"<p>The system-generated unique ID of this action used to identify this job worker in any external systems, such as AWS CodeDeploy.</p>"
        },
        "percentComplete":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of work completed on the action, represented on a scale of zero to one hundred percent.</p>"
        }
      },
      "documentation":"<p>The details of the actions taken and results produced on an artifact as it passes through stages in the pipeline.</p>"
    },
    "ExecutionId":{
      "type":"string",
      "max":1500,
      "min":1
    },
    "ExecutionSummary":{"type":"string"},
    "FailureDetails":{
      "type":"structure",
      "required":[
        "type",
        "message"
      ],
      "members":{
        "type":{
          "shape":"FailureType",
          "documentation":"<p>The type of the failure.</p>"
        },
        "message":{
          "shape":"Message",
          "documentation":"<p>The message about the failure.</p>"
        },
        "externalExecutionId":{
          "shape":"ExecutionId",
          "documentation":"<p>The external ID of the run of the action that failed.</p>"
        }
      },
      "documentation":"<p>Represents information about failure details.</p>"
    },
    "FailureType":{
      "type":"string",
      "enum":[
        "JobFailed",
        "ConfigurationError",
        "PermissionError",
        "RevisionOutOfSync",
        "RevisionUnavailable",
        "SystemUnavailable"
      ]
    },
    "GetJobDetailsInput":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The unique system-generated ID for the job.</p>"
        }
      },
      "documentation":"<p>Represents the input of a get job details action.</p>"
    },
    "GetJobDetailsOutput":{
      "type":"structure",
      "members":{
        "jobDetails":{
          "shape":"JobDetails",
          "documentation":"<p>The details of the job. </p> <note> <p>If AWSSessionCredentials is used, a long-running job can call GetJobDetails again to obtain new credentials.</p> </note>"
        }
      },
      "documentation":"<p>Represents the output of a get job details action.</p>"
    },
    "GetPipelineInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline for which you want to get information. Pipeline names must be unique under an Amazon Web Services (AWS) user account.</p>"
        },
        "version":{
          "shape":"PipelineVersion",
          "documentation":"<p>The version number of the pipeline. If you do not specify a version, defaults to the most current version.</p>"
        }
      },
      "documentation":"<p>Represents the input of a get pipeline action.</p>"
    },
    "GetPipelineOutput":{
      "type":"structure",
      "members":{
        "pipeline":{"shape":"PipelineDeclaration"}
      },
      "documentation":"<p>Represents the output of a get pipeline action.</p>"
    },
    "GetPipelineStateInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline about which you want to get information.</p>"
        }
      },
      "documentation":"<p>Represents the input of a get pipeline state action.</p>"
    },
    "GetPipelineStateOutput":{
      "type":"structure",
      "members":{
        "pipelineName":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline for which you want to get the state.</p>"
        },
        "pipelineVersion":{
          "shape":"PipelineVersion",
          "documentation":"<p>The version number of the pipeline.</p> <note>A newly-created pipeline is always assigned a version number of <code>1</code>.</note>"
        },
        "stageStates":{
          "shape":"StageStateList",
          "documentation":"<p>A list of the pipeline stage output information, including stage name, state, most recent run details, whether the stage is disabled, and other data. </p>"
        },
        "created":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the pipeline was created, in timestamp format.</p>"
        },
        "updated":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the pipeline was last updated, in timestamp format.</p>"
        }
      },
      "documentation":"<p>Represents the output of a get pipeline state action.</p>"
    },
    "GetThirdPartyJobDetailsInput":{
      "type":"structure",
      "required":[
        "jobId",
        "clientToken"
      ],
      "members":{
        "jobId":{
          "shape":"ThirdPartyJobId",
          "documentation":"<p>The unique system-generated ID used for identifying the job.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The clientToken portion of the clientId and clientToken pair used to verify that the calling entity is allowed access to the job and its details.</p>"
        }
      },
      "documentation":"<p>Represents the input of a get third party job details action.</p>"
    },
    "GetThirdPartyJobDetailsOutput":{
      "type":"structure",
      "members":{
        "jobDetails":{
          "shape":"ThirdPartyJobDetails",
          "documentation":"<p>The details of the job, including any protected values defined for the job. </p>"
        }
      },
      "documentation":"<p>Represents the output of a get third party job details action. </p>"
    },
    "InputArtifact":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"ArtifactName",
          "documentation":"<p>The name of the artifact to be worked on, for example, \"My App\".</p> <p>The input artifact of an action must exactly match the output artifact declared in a preceding action, but the input artifact does not have to be the next action in strict sequence from the action that provided the output artifact. Actions in parallel can declare different output artifacts, which are in turn consumed by different following actions.</p>"
        }
      },
      "documentation":"<p>Represents information about an artifact to be worked on, such as a test or build artifact.</p>"
    },
    "InputArtifactList":{
      "type":"list",
      "member":{"shape":"InputArtifact"}
    },
    "InvalidActionDeclarationException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified action declaration was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidBlockerDeclarationException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Reserved for future use.</p>",
      "exception":true
    },
    "InvalidClientTokenException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The client token was specified in an invalid format</p>",
      "exception":true
    },
    "InvalidJobException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified job was specified in an invalid format or cannot be found.</p>",
      "exception":true
    },
    "InvalidJobStateException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified job state was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidNextTokenException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The next token was specified in an invalid format. Make sure that the next token you provided is the token returned by a previous call.</p>",
      "exception":true
    },
    "InvalidNonceException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified nonce was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidStageDeclarationException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified stage declaration was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidStructureException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified structure was specified in an invalid format.</p>",
      "exception":true
    },
    "Job":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"JobId",
          "documentation":"<p>The unique system-generated ID of the job.</p>"
        },
        "data":{
          "shape":"JobData",
          "documentation":"<p>Additional data about a job.</p>"
        },
        "nonce":{
          "shape":"Nonce",
          "documentation":"<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>"
        },
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The ID of the AWS account to use when performing the job.</p>"
        }
      },
      "documentation":"<p>Represents information about a job.</p>"
    },
    "JobData":{
      "type":"structure",
      "members":{
        "actionTypeId":{"shape":"ActionTypeId"},
        "actionConfiguration":{"shape":"ActionConfiguration"},
        "pipelineContext":{"shape":"PipelineContext"},
        "inputArtifacts":{
          "shape":"ArtifactList",
          "documentation":"<p>The artifact supplied to the job.</p>"
        },
        "outputArtifacts":{
          "shape":"ArtifactList",
          "documentation":"<p>The output of the job.</p>"
        },
        "artifactCredentials":{"shape":"AWSSessionCredentials"},
        "continuationToken":{
          "shape":"ContinuationToken",
          "documentation":"<p>A system-generated token, such as a AWS CodeDeploy deployment ID, that a job requires in order to continue the job asynchronously.</p>"
        },
        "encryptionKey":{"shape":"EncryptionKey"}
      },
      "documentation":"<p>Represents additional information about a job required for a job worker to complete the job. </p>"
    },
    "JobDetails":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"JobId",
          "documentation":"<p>The unique system-generated ID of the job.</p>"
        },
        "data":{"shape":"JobData"},
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The AWS account ID associated with the job.</p>"
        }
      },
      "documentation":"<p>Represents information about the details of a job.</p>"
    },
    "JobId":{
      "type":"string",
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "JobList":{
      "type":"list",
      "member":{"shape":"Job"}
    },
    "JobNotFoundException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified job was specified in an invalid format or cannot be found.</p>",
      "exception":true
    },
    "JobStatus":{
      "type":"string",
      "enum":[
        "Created",
        "Queued",
        "Dispatched",
        "InProgress",
        "TimedOut",
        "Succeeded",
        "Failed"
      ]
    },
    "LastChangedAt":{"type":"timestamp"},
    "LastChangedBy":{"type":"string"},
    "LimitExceededException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The number of pipelines associated with the AWS account has exceeded the limit allowed for the account.</p>",
      "exception":true
    },
    "ListActionTypesInput":{
      "type":"structure",
      "members":{
        "actionOwnerFilter":{
          "shape":"ActionOwner",
          "documentation":"<p>Filters the list of action types to those created by a specified entity.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>An identifier that was returned from the previous list action types call, which can be used to return the next set of action types in the list.</p>"
        }
      },
      "documentation":"<p>Represents the input of a list action types action.</p>"
    },
    "ListActionTypesOutput":{
      "type":"structure",
      "required":["actionTypes"],
      "members":{
        "actionTypes":{
          "shape":"ActionTypeList",
          "documentation":"<p>Provides details of the action types.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the amount of returned information is significantly large, an identifier is also returned which can be used in a subsequent list action types call to return the next set of action types in the list.</p>"
        }
      },
      "documentation":"<p>Represents the output of a list action types action.</p>"
    },
    "ListPipelinesInput":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>An identifier that was returned from the previous list pipelines call, which can be used to return the next set of pipelines in the list.</p>"
        }
      },
      "documentation":"<p>Represents the input of a list pipelines action. </p>"
    },
    "ListPipelinesOutput":{
      "type":"structure",
      "members":{
        "pipelines":{
          "shape":"PipelineList",
          "documentation":"<p>The list of pipelines.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the amount of returned information is significantly large, an identifier is also returned which can be used in a subsequent list pipelines call to return the next set of pipelines in the list.</p>"
        }
      },
      "documentation":"<p>Represents the output of a list pipelines action.</p>"
    },
    "MaxBatchSize":{
      "type":"integer",
      "min":1
    },
    "MaximumArtifactCount":{
      "type":"integer",
      "max":5,
      "min":0
    },
    "Message":{"type":"string"},
    "MinimumArtifactCount":{
      "type":"integer",
      "max":5,
      "min":0
    },
    "NextToken":{"type":"string"},
    "Nonce":{"type":"string"},
    "OutputArtifact":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"ArtifactName",
          "documentation":"<p>The name of the output of an artifact, such as \"My App\". </p> <p>The input artifact of an action must exactly match the output artifact declared in a preceding action, but the input artifact does not have to be the next action in strict sequence from the action that provided the output artifact. Actions in parallel can declare different output artifacts, which are in turn consumed by different following actions.</p> <p>Output artifact names must be unique within a pipeline.</p>"
        }
      },
      "documentation":"<p>Represents information about the output of an action.</p>"
    },
    "OutputArtifactList":{
      "type":"list",
      "member":{"shape":"OutputArtifact"}
    },
    "Percentage":{
      "type":"integer",
      "max":100,
      "min":0
    },
    "PipelineContext":{
      "type":"structure",
      "members":{
        "pipelineName":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline. This is a user-specified value. Pipeline names must be unique across all pipeline names under an Amazon Web Services account.</p>"
        },
        "stage":{
          "shape":"StageContext",
          "documentation":"<p>The stage of the pipeline.</p>"
        },
        "action":{"shape":"ActionContext"}
      },
      "documentation":"<p>Represents information about a pipeline to a job worker.</p>"
    },
    "PipelineDeclaration":{
      "type":"structure",
      "required":[
        "name",
        "roleArn",
        "artifactStore",
        "stages"
      ],
      "members":{
        "name":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the action to be performed. </p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.</p>"
        },
        "artifactStore":{"shape":"ArtifactStore"},
        "stages":{
          "shape":"PipelineStageDeclarationList",
          "documentation":"<p>The stage in which to perform the action. </p>"
        },
        "version":{
          "shape":"PipelineVersion",
          "documentation":"<p>The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.</p>"
        }
      },
      "documentation":"<p>Represents the structure of actions and stages to be performed in the pipeline. </p>"
    },
    "PipelineExecutionId":{
      "type":"string",
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "PipelineList":{
      "type":"list",
      "member":{"shape":"PipelineSummary"}
    },
    "PipelineName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[A-Za-z0-9.@\\-_]+"
    },
    "PipelineNameInUseException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified pipeline name is already in use.</p>",
      "exception":true
    },
    "PipelineNotFoundException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified pipeline was specified in an invalid format or cannot be found.</p>",
      "exception":true
    },
    "PipelineStageDeclarationList":{
      "type":"list",
      "member":{"shape":"StageDeclaration"}
    },
    "PipelineSummary":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline.</p>"
        },
        "version":{
          "shape":"PipelineVersion",
          "documentation":"<p>The version number of the pipeline.</p>"
        },
        "created":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the pipeline was created, in timestamp format.</p>"
        },
        "updated":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time of the last update to the pipeline, in timestamp format.</p>"
        }
      },
      "documentation":"<p>Returns a summary of a pipeline.</p>"
    },
    "PipelineVersion":{
      "type":"integer",
      "min":1
    },
    "PipelineVersionNotFoundException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified pipeline version was specified in an invalid format or cannot be found.</p>",
      "exception":true
    },
    "PollForJobsInput":{
      "type":"structure",
      "required":["actionTypeId"],
      "members":{
        "actionTypeId":{"shape":"ActionTypeId"},
        "maxBatchSize":{
          "shape":"MaxBatchSize",
          "documentation":"<p>The maximum number of jobs to return in a poll for jobs call.</p>"
        },
        "queryParam":{
          "shape":"QueryParamMap",
          "documentation":"<p>A map of property names and values. For an action type with no queryable properties, this value must be null or an empty map. For an action type with a queryable property, you must supply that property as a key in the map. Only jobs whose action configuration matches the mapped value will be returned.</p>"
        }
      },
      "documentation":"<p>Represents the input of a poll for jobs action.</p>"
    },
    "PollForJobsOutput":{
      "type":"structure",
      "members":{
        "jobs":{
          "shape":"JobList",
          "documentation":"<p>Information about the jobs to take action on.</p>"
        }
      },
      "documentation":"<p>Represents the output of a poll for jobs action.</p>"
    },
    "PollForThirdPartyJobsInput":{
      "type":"structure",
      "required":["actionTypeId"],
      "members":{
        "actionTypeId":{"shape":"ActionTypeId"},
        "maxBatchSize":{
          "shape":"MaxBatchSize",
          "documentation":"<p>The maximum number of jobs to return in a poll for jobs call.</p>"
        }
      },
      "documentation":"<p>Represents the input of a poll for third party jobs action.</p>"
    },
    "PollForThirdPartyJobsOutput":{
      "type":"structure",
      "members":{
        "jobs":{
          "shape":"ThirdPartyJobList",
          "documentation":"<p>Information about the jobs to take action on.</p>"
        }
      },
      "documentation":"<p>Represents the output of a poll for third party jobs action.</p>"
    },
    "PutActionRevisionInput":{
      "type":"structure",
      "required":[
        "pipelineName",
        "stageName",
        "actionName",
        "actionRevision"
      ],
      "members":{
        "pipelineName":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline that will start processing the revision to the source.</p>"
        },
        "stageName":{
          "shape":"StageName",
          "documentation":"<p>The name of the stage that contains the action that will act upon the revision.</p>"
        },
        "actionName":{
          "shape":"ActionName",
          "documentation":"<p>The name of the action that will process the revision.</p>"
        },
        "actionRevision":{"shape":"ActionRevision"}
      },
      "documentation":"<p>Represents the input of a put action revision action.</p>"
    },
    "PutActionRevisionOutput":{
      "type":"structure",
      "members":{
        "newRevision":{
          "shape":"Boolean",
          "documentation":"<p>The new revision number or ID for the revision after the action completes.</p>"
        },
        "pipelineExecutionId":{
          "shape":"PipelineExecutionId",
          "documentation":"<p>The ID of the current workflow state of the pipeline. </p>"
        }
      },
      "documentation":"<p>Represents the output of a put action revision action.</p>"
    },
    "PutJobFailureResultInput":{
      "type":"structure",
      "required":[
        "jobId",
        "failureDetails"
      ],
      "members":{
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The unique system-generated ID of the job that failed. This is the same ID returned from PollForJobs.</p>"
        },
        "failureDetails":{
          "shape":"FailureDetails",
          "documentation":"<p>The details about the failure of a job. </p>"
        }
      },
      "documentation":"<p>Represents the input of a put job failure result action. </p>"
    },
    "PutJobSuccessResultInput":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The unique system-generated ID of the job that succeeded. This is the same ID returned from PollForJobs.</p>"
        },
        "currentRevision":{
          "shape":"CurrentRevision",
          "documentation":"<p>The ID of the current revision of the artifact successfully worked upon by the job. </p>"
        },
        "continuationToken":{
          "shape":"ContinuationToken",
          "documentation":"<p>A token generated by a job worker, such as an AWS CodeDeploy deployment ID, that a successful job provides to identify a custom action in progress. Future jobs will use this token in order to identify the running instance of the action. It can be reused to return additional information about the progress of the custom action. When the action is complete, no continuation token should be supplied. </p>"
        },
        "executionDetails":{
          "shape":"ExecutionDetails",
          "documentation":"<p>The execution details of the successful job, such as the actions taken by the job worker. </p>"
        }
      },
      "documentation":"<p>Represents the input of a put job success result action. </p>"
    },
    "PutThirdPartyJobFailureResultInput":{
      "type":"structure",
      "required":[
        "jobId",
        "clientToken",
        "failureDetails"
      ],
      "members":{
        "jobId":{
          "shape":"ThirdPartyJobId",
          "documentation":"<p>The ID of the job that failed. This is the same ID returned from PollForThirdPartyJobs.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The clientToken portion of the clientId and clientToken pair used to verify that the calling entity is allowed access to the job and its details.</p>"
        },
        "failureDetails":{"shape":"FailureDetails"}
      },
      "documentation":"<p>Represents the input of a third party job failure result action.</p>"
    },
    "PutThirdPartyJobSuccessResultInput":{
      "type":"structure",
      "required":[
        "jobId",
        "clientToken"
      ],
      "members":{
        "jobId":{
          "shape":"ThirdPartyJobId",
          "documentation":"<p>The ID of the job that successfully completed. This is the same ID returned from PollForThirdPartyJobs.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The clientToken portion of the clientId and clientToken pair used to verify that the calling entity is allowed access to the job and its details.</p>"
        },
        "currentRevision":{"shape":"CurrentRevision"},
        "continuationToken":{
          "shape":"ContinuationToken",
          "documentation":"<p>A token generated by a job worker, such as an AWS CodeDeploy deployment ID, that a successful job provides to identify a partner action in progress. Future jobs will use this token in order to identify the running instance of the action. It can be reused to return additional information about the progress of the partner action. When the action is complete, no continuation token should be supplied. </p>"
        },
        "executionDetails":{"shape":"ExecutionDetails"}
      },
      "documentation":"<p>Represents the input of a put third party job success result action.</p>"
    },
    "QueryParamMap":{
      "type":"map",
      "key":{"shape":"ActionConfigurationKey"},
      "value":{"shape":"ActionConfigurationQueryableValue"},
      "max":1,
      "min":0
    },
    "Revision":{
      "type":"string",
      "max":1500,
      "min":1
    },
    "RevisionChangeIdentifier":{
      "type":"string",
      "max":100,
      "min":1
    },
    "RoleArn":{
      "type":"string",
      "pattern":"arn:[^:]+:iam::[0-9]{12}:role/.*"
    },
    "S3ArtifactLocation":{
      "type":"structure",
      "required":[
        "bucketName",
        "objectKey"
      ],
      "members":{
        "bucketName":{
          "shape":"S3BucketName",
          "documentation":"<p>The name of the Amazon S3 bucket. </p>"
        },
        "objectKey":{
          "shape":"S3ObjectKey",
          "documentation":"<p>The key of the object in the Amazon S3 bucket, which uniquely identifies the object in the bucket. </p>"
        }
      },
      "documentation":"<p>The location of the Amazon S3 bucket that contains a revision.</p>"
    },
    "S3BucketName":{"type":"string"},
    "S3ObjectKey":{"type":"string"},
    "SecretAccessKey":{"type":"string"},
    "SessionToken":{"type":"string"},
    "StageActionDeclarationList":{
      "type":"list",
      "member":{"shape":"ActionDeclaration"}
    },
    "StageBlockerDeclarationList":{
      "type":"list",
      "member":{"shape":"BlockerDeclaration"}
    },
    "StageContext":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"StageName",
          "documentation":"<p>The name of the stage.</p>"
        }
      },
      "documentation":"<p>Represents information about a stage to a job worker.</p>"
    },
    "StageDeclaration":{
      "type":"structure",
      "required":[
        "name",
        "actions"
      ],
      "members":{
        "name":{
          "shape":"StageName",
          "documentation":"<p>The name of the stage.</p>"
        },
        "blockers":{
          "shape":"StageBlockerDeclarationList",
          "documentation":"<p>Reserved for future use.</p>"
        },
        "actions":{
          "shape":"StageActionDeclarationList",
          "documentation":"<p>The actions included in a stage.</p>"
        }
      },
      "documentation":"<p>Represents information about a stage and its definition.</p>"
    },
    "StageName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[A-Za-z0-9.@\\-_]+"
    },
    "StageNotFoundException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified stage was specified in an invalid format or cannot be found.</p>",
      "exception":true
    },
    "StageState":{
      "type":"structure",
      "members":{
        "stageName":{
          "shape":"StageName",
          "documentation":"<p>The name of the stage.</p>"
        },
        "inboundTransitionState":{
          "shape":"TransitionState",
          "documentation":"<p>The state of the inbound transition, which is either enabled or disabled.</p>"
        },
        "actionStates":{
          "shape":"ActionStateList",
          "documentation":"<p>The state of the stage.</p>"
        }
      },
      "documentation":"<p>Represents information about the state of the stage.</p>"
    },
    "StageStateList":{
      "type":"list",
      "member":{"shape":"StageState"}
    },
    "StageTransitionType":{
      "type":"string",
      "enum":[
        "Inbound",
        "Outbound"
      ]
    },
    "StartPipelineExecutionInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline to start.</p>"
        }
      },
      "documentation":"<p>Represents the input of a start pipeline execution action.</p>"
    },
    "StartPipelineExecutionOutput":{
      "type":"structure",
      "members":{
        "pipelineExecutionId":{
          "shape":"PipelineExecutionId",
          "documentation":"<p>The unique system-generated ID of the pipeline that was started.</p>"
        }
      },
      "documentation":"<p>Represents the output of a start pipeline execution action.</p>"
    },
    "ThirdPartyJob":{
      "type":"structure",
      "members":{
        "clientId":{
          "shape":"ClientId",
          "documentation":"<p>The clientToken portion of the clientId and clientToken pair used to verify that the calling entity is allowed access to the job and its details.</p>"
        },
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier used to identify the job in AWS CodePipeline.</p>"
        }
      },
      "documentation":"<p>A response to a PollForThirdPartyJobs request returned by AWS CodePipeline when there is a job to be worked upon by a partner action.</p>"
    },
    "ThirdPartyJobData":{
      "type":"structure",
      "members":{
        "actionTypeId":{"shape":"ActionTypeId"},
        "actionConfiguration":{"shape":"ActionConfiguration"},
        "pipelineContext":{"shape":"PipelineContext"},
        "inputArtifacts":{
          "shape":"ArtifactList",
          "documentation":"<p>The name of the artifact that will be worked upon by the action, if any. This name might be system-generated, such as \"MyApp\", or might be defined by the user when the action is created. The input artifact name must match the name of an output artifact generated by an action in an earlier action or stage of the pipeline.</p>"
        },
        "outputArtifacts":{
          "shape":"ArtifactList",
          "documentation":"<p>The name of the artifact that will be the result of the action, if any. This name might be system-generated, such as \"MyBuiltApp\", or might be defined by the user when the action is created.</p>"
        },
        "artifactCredentials":{"shape":"AWSSessionCredentials"},
        "continuationToken":{
          "shape":"ContinuationToken",
          "documentation":"<p>A system-generated token, such as a AWS CodeDeploy deployment ID, that a job requires in order to continue the job asynchronously.</p>"
        },
        "encryptionKey":{
          "shape":"EncryptionKey",
          "documentation":"<p>The encryption key used to encrypt and decrypt data in the artifact store for the pipeline, such as an AWS Key Management Service (AWS KMS) key. This is optional and might not be present.</p>"
        }
      },
      "documentation":"<p>Represents information about the job data for a partner action.</p>"
    },
    "ThirdPartyJobDetails":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"ThirdPartyJobId",
          "documentation":"<p>The identifier used to identify the job details in AWS CodePipeline.</p>"
        },
        "data":{
          "shape":"ThirdPartyJobData",
          "documentation":"<p>The data to be returned by the third party job worker.</p>"
        },
        "nonce":{
          "shape":"Nonce",
          "documentation":"<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. This number must be returned in the response.</p>"
        }
      },
      "documentation":"<p>The details of a job sent in response to a GetThirdPartyJobDetails request.</p>"
    },
    "ThirdPartyJobId":{
      "type":"string",
      "max":512,
      "min":1
    },
    "ThirdPartyJobList":{
      "type":"list",
      "member":{"shape":"ThirdPartyJob"}
    },
    "Timestamp":{"type":"timestamp"},
    "TransitionState":{
      "type":"structure",
      "members":{
        "enabled":{
          "shape":"Enabled",
          "documentation":"<p>Whether the transition between stages is enabled (true) or disabled (false).</p>"
        },
        "lastChangedBy":{
          "shape":"LastChangedBy",
          "documentation":"<p>The ID of the user who last changed the transition state.</p>"
        },
        "lastChangedAt":{
          "shape":"LastChangedAt",
          "documentation":"<p>The timestamp when the transition state was last changed.</p>"
        },
        "disabledReason":{
          "shape":"DisabledReason",
          "documentation":"<p>The user-specified reason why the transition between two stages of a pipeline was disabled.</p>"
        }
      },
      "documentation":"<p>Represents information about the state of transitions between one stage and another stage.</p>"
    },
    "UpdatePipelineInput":{
      "type":"structure",
      "required":["pipeline"],
      "members":{
        "pipeline":{
          "shape":"PipelineDeclaration",
          "documentation":"<p>The name of the pipeline to be updated.</p>"
        }
      },
      "documentation":"<p>Represents the input of an update pipeline action.</p>"
    },
    "UpdatePipelineOutput":{
      "type":"structure",
      "members":{
        "pipeline":{
          "shape":"PipelineDeclaration",
          "documentation":"<p>The structure of the updated pipeline.</p>"
        }
      },
      "documentation":"<p>Represents the output of an update pipeline action.</p>"
    },
    "Url":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "UrlTemplate":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "ValidationException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The validation was specified in an invalid format.</p>",
      "exception":true
    },
    "Version":{
      "type":"string",
      "max":9,
      "min":1,
      "pattern":"[0-9A-Za-z_-]+"
    }
  },
  "documentation":"<fullname>AWS CodePipeline</fullname> <b>Overview</b> <p>This is the AWS CodePipeline API Reference. This guide provides descriptions of the actions and data types for AWS CodePipeline. Some functionality for your pipeline is only configurable through the API. For additional information, see the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/welcome.html\">AWS CodePipeline User Guide</a>.</p> <p>You can use the AWS CodePipeline API to work with pipelines, stages, actions, gates, and transitions, as described below.</p> <p><i>Pipelines</i> are models of automated release processes. Each pipeline is uniquely named, and consists of actions, gates, and stages. </p> <p>You can work with pipelines by calling: <ul><li><a>CreatePipeline</a>, which creates a uniquely-named pipeline.</li> <li><a>DeletePipeline</a>, which deletes the specified pipeline.</li> <li><a>GetPipeline</a>, which returns information about a pipeline structure.</li> <li><a>GetPipelineState</a>, which returns information about the current state of the stages and actions of a pipeline.</li> <li> <a>ListPipelines</a>, which gets a summary of all of the pipelines associated with your account.</li> <li><a>StartPipelineExecution</a>, which runs the the most recent revision of an artifact through the pipeline.</li> <li><a>UpdatePipeline</a>, which updates a pipeline with edits or changes to the structure of the pipeline.</li> </ul></p> <p>Pipelines include <i>stages</i>, which are which are logical groupings of gates and actions. Each stage contains one or more actions that must complete before the next stage begins. A stage will result in success or failure. If a stage fails, then the pipeline stops at that stage and will remain stopped until either a new version of an artifact appears in the source location, or a user takes action to re-run the most recent artifact through the pipeline. You can call <a>GetPipelineState</a>, which displays the status of a pipeline, including the status of stages in the pipeline, or <a>GetPipeline</a>, which returns the entire structure of the pipeline, including the stages of that pipeline. For more information about the structure of stages and actions, also refer to the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/pipeline-structure.html\">AWS CodePipeline Pipeline Structure Reference</a>.</p> <p>Pipeline stages include <i>actions</i>, which are categorized into categories such as source or build actions performed within a stage of a pipeline. For example, you can use a source action to import artifacts into a pipeline from a source such as Amazon S3. Like stages, you do not work with actions directly in most cases, but you do define and interact with actions when working with pipeline operations such as <a>CreatePipeline</a> and <a>GetPipelineState</a>. </p> <p>Pipelines also include <i>transitions</i>, which allow the transition of artifacts from one stage to the next in a pipeline after the actions in one stage complete.</p> <p>You can work with transitions by calling:</p> <ul> <li><a>DisableStageTransition</a>, which prevents artifacts from transitioning to the next stage in a pipeline.</li> <li><a>EnableStageTransition</a>, which enables transition of artifacts between stages in a pipeline. </li> </ul> <p><b>Using the API to integrate with AWS CodePipeline</b></p> <p>For third-party integrators or developers who want to create their own integrations with AWS CodePipeline, the expected sequence varies from the standard API user. In order to integrate with AWS CodePipeline, developers will need to work with the following items:</p> <ul> <li>Jobs, which are instances of an action. For example, a job for a source action might import a revision of an artifact from a source. <p>You can work with jobs by calling:</p> <ul> <li><a>AcknowledgeJob</a>, which confirms whether a job worker has received the specified job,</li> <li><a>GetJobDetails</a>, which returns the details of a job,</li> <li><a>PollForJobs</a>, which determines whether there are any jobs to act upon, </li> <li><a>PutJobFailureResult</a>, which provides details of a job failure, and</li> <li><a>PutJobSuccessResult</a>, which provides details of a job success.</li> </ul></li> <li>Third party jobs, which are instances of an action created by a partner action and integrated into AWS CodePipeline. Partner actions are created by members of the AWS Partner Network. <p>You can work with third party jobs by calling:</p> <ul><li><a>AcknowledgeThirdPartyJob</a>, which confirms whether a job worker has received the specified job,</li> <li><a>GetThirdPartyJobDetails</a>, which requests the details of a job for a partner action,</li> <li><a>PollForThirdPartyJobs</a>, which determines whether there are any jobs to act upon, </li> <li><a>PutThirdPartyJobFailureResult</a>, which provides details of a job failure, and</li> <li><a>PutThirdPartyJobSuccessResult</a>, which provides details of a job success.</li> </ul></li> </ul>"
}
