{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-04-19",
    "endpointPrefix": "codestar",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "CodeStar",
    "serviceFullName": "AWS CodeStar",
    "serviceId": "CodeStar",
    "signatureVersion": "v4",
    "targetPrefix": "CodeStar_20170419",
    "uid": "codestar-2017-04-19"
  },
  "operations": {
    "AssociateTeamMember": {
      "input": {
        "type": "structure",
        "required": [
          "projectId",
          "userArn",
          "projectRole"
        ],
        "members": {
          "projectId": {
            "shape": "S2"
          },
          "clientRequestToken": {
            "shape": "S3"
          },
          "userArn": {
            "shape": "S4"
          },
          "projectRole": {
            "shape": "S5"
          },
          "remoteAccessAllowed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "clientRequestToken": {
            "shape": "S3"
          }
        }
      }
    },
    "CreateProject": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "id"
        ],
        "members": {
          "name": {
            "shape": "S9"
          },
          "id": {
            "shape": "S2"
          },
          "description": {
            "shape": "Sa"
          },
          "clientRequestToken": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "id",
          "arn"
        ],
        "members": {
          "id": {
            "shape": "S2"
          },
          "arn": {
            "shape": "Sc"
          },
          "clientRequestToken": {
            "shape": "S3"
          },
          "projectTemplateId": {
            "shape": "Sd"
          }
        }
      }
    },
    "CreateUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "userArn",
          "displayName",
          "emailAddress"
        ],
        "members": {
          "userArn": {
            "shape": "S4"
          },
          "displayName": {
            "shape": "Sf"
          },
          "emailAddress": {
            "shape": "Sg"
          },
          "sshPublicKey": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "userArn"
        ],
        "members": {
          "userArn": {
            "shape": "S4"
          },
          "displayName": {
            "shape": "Sf"
          },
          "emailAddress": {
            "shape": "Sg"
          },
          "sshPublicKey": {
            "shape": "Sh"
          },
          "createdTimestamp": {
            "type": "timestamp"
          },
          "lastModifiedTimestamp": {
            "type": "timestamp"
          }
        }
      }
    },
    "DeleteProject": {
      "input": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {
            "shape": "S2"
          },
          "clientRequestToken": {
            "shape": "S3"
          },
          "deleteStack": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "stackId": {
            "shape": "So"
          },
          "projectArn": {
            "shape": "Sc"
          }
        }
      }
    },
    "DeleteUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "userArn"
        ],
        "members": {
          "userArn": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "userArn"
        ],
        "members": {
          "userArn": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeProject": {
      "input": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S9"
          },
          "id": {
            "shape": "S2"
          },
          "arn": {
            "shape": "Sc"
          },
          "description": {
            "shape": "Sa"
          },
          "clientRequestToken": {
            "shape": "S3"
          },
          "createdTimeStamp": {
            "type": "timestamp"
          },
          "stackId": {
            "shape": "So"
          },
          "projectTemplateId": {
            "shape": "Sd"
          }
        }
      }
    },
    "DescribeUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "userArn"
        ],
        "members": {
          "userArn": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "userArn",
          "createdTimestamp",
          "lastModifiedTimestamp"
        ],
        "members": {
          "userArn": {
            "shape": "S4"
          },
          "displayName": {
            "shape": "Sf"
          },
          "emailAddress": {
            "shape": "Sg"
          },
          "sshPublicKey": {
            "shape": "Sh"
          },
          "createdTimestamp": {
            "type": "timestamp"
          },
          "lastModifiedTimestamp": {
            "type": "timestamp"
          }
        }
      }
    },
    "DisassociateTeamMember": {
      "input": {
        "type": "structure",
        "required": [
          "projectId",
          "userArn"
        ],
        "members": {
          "projectId": {
            "shape": "S2"
          },
          "userArn": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListProjects": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "shape": "Sy"
          },
          "maxResults": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "projects"
        ],
        "members": {
          "projects": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "projectId": {
                  "shape": "S2"
                },
                "projectArn": {
                  "shape": "Sc"
                }
              }
            }
          },
          "nextToken": {
            "shape": "Sy"
          }
        }
      }
    },
    "ListResources": {
      "input": {
        "type": "structure",
        "required": [
          "projectId"
        ],
        "members": {
          "projectId": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "Sy"
          },
          "maxResults": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resources": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id"
              ],
              "members": {
                "id": {
                  "type": "string",
                  "min": 11,
                  "pattern": "^arn\\:aws\\:\\S.*\\:.*"
                }
              }
            }
          },
          "nextToken": {
            "shape": "Sy"
          }
        }
      }
    },
    "ListTagsForProject": {
      "input": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "Sy"
          },
          "maxResults": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "S1a"
          },
          "nextToken": {
            "shape": "Sy"
          }
        }
      }
    },
    "ListTeamMembers": {
      "input": {
        "type": "structure",
        "required": [
          "projectId"
        ],
        "members": {
          "projectId": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "Sy"
          },
          "maxResults": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "teamMembers"
        ],
        "members": {
          "teamMembers": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "userArn",
                "projectRole"
              ],
              "members": {
                "userArn": {
                  "shape": "S4"
                },
                "projectRole": {
                  "shape": "S5"
                },
                "remoteAccessAllowed": {
                  "type": "boolean"
                }
              }
            }
          },
          "nextToken": {
            "shape": "Sy"
          }
        }
      }
    },
    "ListUserProfiles": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "shape": "Sy"
          },
          "maxResults": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "userProfiles"
        ],
        "members": {
          "userProfiles": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "userArn": {
                  "shape": "S4"
                },
                "displayName": {
                  "shape": "Sf"
                },
                "emailAddress": {
                  "shape": "Sg"
                },
                "sshPublicKey": {
                  "shape": "Sh"
                }
              }
            }
          },
          "nextToken": {
            "shape": "Sy"
          }
        }
      }
    },
    "TagProject": {
      "input": {
        "type": "structure",
        "required": [
          "id",
          "tags"
        ],
        "members": {
          "id": {
            "shape": "S2"
          },
          "tags": {
            "shape": "S1a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "S1a"
          }
        }
      }
    },
    "UntagProject": {
      "input": {
        "type": "structure",
        "required": [
          "id",
          "tags"
        ],
        "members": {
          "id": {
            "shape": "S2"
          },
          "tags": {
            "type": "list",
            "member": {
              "shape": "S1b"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateProject": {
      "input": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {
            "shape": "S2"
          },
          "name": {
            "shape": "S9"
          },
          "description": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateTeamMember": {
      "input": {
        "type": "structure",
        "required": [
          "projectId",
          "userArn"
        ],
        "members": {
          "projectId": {
            "shape": "S2"
          },
          "userArn": {
            "shape": "S4"
          },
          "projectRole": {
            "shape": "S5"
          },
          "remoteAccessAllowed": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "userArn": {
            "shape": "S4"
          },
          "projectRole": {
            "shape": "S5"
          },
          "remoteAccessAllowed": {
            "type": "boolean"
          }
        }
      }
    },
    "UpdateUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "userArn"
        ],
        "members": {
          "userArn": {
            "shape": "S4"
          },
          "displayName": {
            "shape": "Sf"
          },
          "emailAddress": {
            "shape": "Sg"
          },
          "sshPublicKey": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "userArn"
        ],
        "members": {
          "userArn": {
            "shape": "S4"
          },
          "displayName": {
            "shape": "Sf"
          },
          "emailAddress": {
            "shape": "Sg"
          },
          "sshPublicKey": {
            "shape": "Sh"
          },
          "createdTimestamp": {
            "type": "timestamp"
          },
          "lastModifiedTimestamp": {
            "type": "timestamp"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 15,
      "min": 2,
      "pattern": "^[a-z][a-z0-9-]+$"
    },
    "S3": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "^[\\w:/-]+$"
    },
    "S4": {
      "type": "string",
      "max": 95,
      "min": 32,
      "pattern": "^arn:aws:iam::\\d{12}:user(?:(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F))[\\w+=,.@-]+$"
    },
    "S5": {
      "type": "string",
      "pattern": "^(Owner|Viewer|Contributor)$"
    },
    "S9": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "^\\S(.*\\S)?$",
      "sensitive": true
    },
    "Sa": {
      "type": "string",
      "max": 1024,
      "pattern": "^$|^\\S(.*\\S)?$",
      "sensitive": true
    },
    "Sc": {
      "type": "string",
      "pattern": "^arn:aws[^:\\s]*:codestar:[^:\\s]+:[0-9]{12}:project\\/[a-z]([a-z0-9|-])+$"
    },
    "Sd": {
      "type": "string",
      "min": 1,
      "pattern": "^arn:aws[^:\\s]{0,5}:codestar:[^:\\s]+::project-template\\/[a-z0-9-]+$"
    },
    "Sf": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "^\\S(.*\\S)?$"
    },
    "Sg": {
      "type": "string",
      "max": 128,
      "min": 3,
      "pattern": "^[\\w-.+]+@[\\w-.+]+$",
      "sensitive": true
    },
    "Sh": {
      "type": "string",
      "max": 16384,
      "pattern": "^[\\t\\r\\n\\u0020-\\u00FF]*$"
    },
    "So": {
      "type": "string",
      "pattern": "^arn:aws[^:\\s]*:cloudformation:[^:\\s]+:[0-9]{12}:stack\\/[^:\\s]+\\/[^:\\s]+$"
    },
    "Sy": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "^[\\w/+=]+$"
    },
    "Sz": {
      "type": "integer",
      "max": 100,
      "min": 1
    },
    "S1a": {
      "type": "map",
      "key": {
        "shape": "S1b"
      },
      "value": {
        "type": "string",
        "max": 256,
        "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "S1b": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    }
  }
}