{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-10-06",
    "endpointPrefix":"codedeploy",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"CodeDeploy",
    "serviceFullName":"AWS CodeDeploy",
    "signatureVersion":"v4",
    "targetPrefix":"CodeDeploy_20141006",
    "timestampFormat":"unixTimestamp",
    "uid":"codedeploy-2014-10-06"
  },
  "operations":{
    "AddTagsToOnPremisesInstances":{
      "name":"AddTagsToOnPremisesInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToOnPremisesInstancesInput"},
      "errors":[
        {"shape":"InstanceNameRequiredException"},
        {"shape":"TagRequiredException"},
        {"shape":"InvalidTagException"},
        {"shape":"TagLimitExceededException"},
        {"shape":"InstanceLimitExceededException"},
        {"shape":"InstanceNotRegisteredException"}
      ],
      "documentation":"<p>Adds tags to on-premises instances.</p>"
    },
    "BatchGetApplicationRevisions":{
      "name":"BatchGetApplicationRevisions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetApplicationRevisionsInput"},
      "output":{"shape":"BatchGetApplicationRevisionsOutput"},
      "errors":[
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"RevisionRequiredException"},
        {"shape":"InvalidRevisionException"},
        {"shape":"BatchLimitExceededException"}
      ],
      "documentation":"<p>Gets information about one or more application revisions.</p>"
    },
    "BatchGetApplications":{
      "name":"BatchGetApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetApplicationsInput"},
      "output":{"shape":"BatchGetApplicationsOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"BatchLimitExceededException"}
      ],
      "documentation":"<p>Gets information about one or more applications.</p>"
    },
    "BatchGetDeploymentGroups":{
      "name":"BatchGetDeploymentGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetDeploymentGroupsInput"},
      "output":{"shape":"BatchGetDeploymentGroupsOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"BatchLimitExceededException"}
      ],
      "documentation":"<p>Get information about one or more deployment groups.</p>"
    },
    "BatchGetDeploymentInstances":{
      "name":"BatchGetDeploymentInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetDeploymentInstancesInput"},
      "output":{"shape":"BatchGetDeploymentInstancesOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"InstanceIdRequiredException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"InvalidInstanceNameException"},
        {"shape":"BatchLimitExceededException"}
      ],
      "documentation":"<p>Gets information about one or more instance that are part of a deployment group.</p>"
    },
    "BatchGetDeployments":{
      "name":"BatchGetDeployments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetDeploymentsInput"},
      "output":{"shape":"BatchGetDeploymentsOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"BatchLimitExceededException"}
      ],
      "documentation":"<p>Gets information about one or more deployments.</p>"
    },
    "BatchGetOnPremisesInstances":{
      "name":"BatchGetOnPremisesInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetOnPremisesInstancesInput"},
      "output":{"shape":"BatchGetOnPremisesInstancesOutput"},
      "errors":[
        {"shape":"InstanceNameRequiredException"},
        {"shape":"InvalidInstanceNameException"},
        {"shape":"BatchLimitExceededException"}
      ],
      "documentation":"<p>Gets information about one or more on-premises instances.</p>"
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateApplicationInput"},
      "output":{"shape":"CreateApplicationOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationAlreadyExistsException"},
        {"shape":"ApplicationLimitExceededException"}
      ],
      "documentation":"<p>Creates an application.</p>"
    },
    "CreateDeployment":{
      "name":"CreateDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDeploymentInput"},
      "output":{"shape":"CreateDeploymentOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"DeploymentGroupDoesNotExistException"},
        {"shape":"RevisionRequiredException"},
        {"shape":"RevisionDoesNotExistException"},
        {"shape":"InvalidRevisionException"},
        {"shape":"InvalidDeploymentConfigNameException"},
        {"shape":"DeploymentConfigDoesNotExistException"},
        {"shape":"DescriptionTooLongException"},
        {"shape":"DeploymentLimitExceededException"},
        {"shape":"InvalidAutoRollbackConfigException"}
      ],
      "documentation":"<p>Deploys an application revision through the specified deployment group.</p>"
    },
    "CreateDeploymentConfig":{
      "name":"CreateDeploymentConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDeploymentConfigInput"},
      "output":{"shape":"CreateDeploymentConfigOutput"},
      "errors":[
        {"shape":"InvalidDeploymentConfigNameException"},
        {"shape":"DeploymentConfigNameRequiredException"},
        {"shape":"DeploymentConfigAlreadyExistsException"},
        {"shape":"InvalidMinimumHealthyHostValueException"},
        {"shape":"DeploymentConfigLimitExceededException"}
      ],
      "documentation":"<p>Creates a deployment configuration.</p>"
    },
    "CreateDeploymentGroup":{
      "name":"CreateDeploymentGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDeploymentGroupInput"},
      "output":{"shape":"CreateDeploymentGroupOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"DeploymentGroupAlreadyExistsException"},
        {"shape":"InvalidEC2TagException"},
        {"shape":"InvalidTagException"},
        {"shape":"InvalidAutoScalingGroupException"},
        {"shape":"InvalidDeploymentConfigNameException"},
        {"shape":"DeploymentConfigDoesNotExistException"},
        {"shape":"RoleRequiredException"},
        {"shape":"InvalidRoleException"},
        {"shape":"DeploymentGroupLimitExceededException"},
        {"shape":"LifecycleHookLimitExceededException"},
        {"shape":"InvalidTriggerConfigException"},
        {"shape":"TriggerTargetsLimitExceededException"},
        {"shape":"InvalidAlarmConfigException"},
        {"shape":"AlarmsLimitExceededException"},
        {"shape":"InvalidAutoRollbackConfigException"}
      ],
      "documentation":"<p>Creates a deployment group to which application revisions will be deployed.</p>"
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationInput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"}
      ],
      "documentation":"<p>Deletes an application.</p>"
    },
    "DeleteDeploymentConfig":{
      "name":"DeleteDeploymentConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDeploymentConfigInput"},
      "errors":[
        {"shape":"InvalidDeploymentConfigNameException"},
        {"shape":"DeploymentConfigNameRequiredException"},
        {"shape":"DeploymentConfigInUseException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Deletes a deployment configuration.</p> <note> <p>A deployment configuration cannot be deleted if it is currently in use. Predefined configurations cannot be deleted.</p> </note>"
    },
    "DeleteDeploymentGroup":{
      "name":"DeleteDeploymentGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDeploymentGroupInput"},
      "output":{"shape":"DeleteDeploymentGroupOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"InvalidRoleException"}
      ],
      "documentation":"<p>Deletes a deployment group.</p>"
    },
    "DeregisterOnPremisesInstance":{
      "name":"DeregisterOnPremisesInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterOnPremisesInstanceInput"},
      "errors":[
        {"shape":"InstanceNameRequiredException"},
        {"shape":"InvalidInstanceNameException"}
      ],
      "documentation":"<p>Deregisters an on-premises instance.</p>"
    },
    "GetApplication":{
      "name":"GetApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetApplicationInput"},
      "output":{"shape":"GetApplicationOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"}
      ],
      "documentation":"<p>Gets information about an application.</p>"
    },
    "GetApplicationRevision":{
      "name":"GetApplicationRevision",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetApplicationRevisionInput"},
      "output":{"shape":"GetApplicationRevisionOutput"},
      "errors":[
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"RevisionDoesNotExistException"},
        {"shape":"RevisionRequiredException"},
        {"shape":"InvalidRevisionException"}
      ],
      "documentation":"<p>Gets information about an application revision.</p>"
    },
    "GetDeployment":{
      "name":"GetDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeploymentInput"},
      "output":{"shape":"GetDeploymentOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"DeploymentDoesNotExistException"}
      ],
      "documentation":"<p>Gets information about a deployment.</p>"
    },
    "GetDeploymentConfig":{
      "name":"GetDeploymentConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeploymentConfigInput"},
      "output":{"shape":"GetDeploymentConfigOutput"},
      "errors":[
        {"shape":"InvalidDeploymentConfigNameException"},
        {"shape":"DeploymentConfigNameRequiredException"},
        {"shape":"DeploymentConfigDoesNotExistException"}
      ],
      "documentation":"<p>Gets information about a deployment configuration.</p>"
    },
    "GetDeploymentGroup":{
      "name":"GetDeploymentGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeploymentGroupInput"},
      "output":{"shape":"GetDeploymentGroupOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"DeploymentGroupDoesNotExistException"}
      ],
      "documentation":"<p>Gets information about a deployment group.</p>"
    },
    "GetDeploymentInstance":{
      "name":"GetDeploymentInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeploymentInstanceInput"},
      "output":{"shape":"GetDeploymentInstanceOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"InstanceIdRequiredException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"InstanceDoesNotExistException"},
        {"shape":"InvalidInstanceNameException"}
      ],
      "documentation":"<p>Gets information about an instance as part of a deployment.</p>"
    },
    "GetOnPremisesInstance":{
      "name":"GetOnPremisesInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOnPremisesInstanceInput"},
      "output":{"shape":"GetOnPremisesInstanceOutput"},
      "errors":[
        {"shape":"InstanceNameRequiredException"},
        {"shape":"InstanceNotRegisteredException"},
        {"shape":"InvalidInstanceNameException"}
      ],
      "documentation":"<p>Gets information about an on-premises instance.</p>"
    },
    "ListApplicationRevisions":{
      "name":"ListApplicationRevisions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListApplicationRevisionsInput"},
      "output":{"shape":"ListApplicationRevisionsOutput"},
      "errors":[
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"InvalidSortByException"},
        {"shape":"InvalidSortOrderException"},
        {"shape":"InvalidBucketNameFilterException"},
        {"shape":"InvalidKeyPrefixFilterException"},
        {"shape":"BucketNameFilterRequiredException"},
        {"shape":"InvalidDeployedStateFilterException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Lists information about revisions for an application.</p>"
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListApplicationsInput"},
      "output":{"shape":"ListApplicationsOutput"},
      "errors":[
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Lists the applications registered with the applicable IAM user or AWS account.</p>"
    },
    "ListDeploymentConfigs":{
      "name":"ListDeploymentConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeploymentConfigsInput"},
      "output":{"shape":"ListDeploymentConfigsOutput"},
      "errors":[
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Lists the deployment configurations with the applicable IAM user or AWS account.</p>"
    },
    "ListDeploymentGroups":{
      "name":"ListDeploymentGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeploymentGroupsInput"},
      "output":{"shape":"ListDeploymentGroupsOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Lists the deployment groups for an application registered with the applicable IAM user or AWS account.</p>"
    },
    "ListDeploymentInstances":{
      "name":"ListDeploymentInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeploymentInstancesInput"},
      "output":{"shape":"ListDeploymentInstancesOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"DeploymentNotStartedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"InvalidInstanceStatusException"}
      ],
      "documentation":"<p>Lists the instance for a deployment associated with the applicable IAM user or AWS account.</p>"
    },
    "ListDeployments":{
      "name":"ListDeployments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeploymentsInput"},
      "output":{"shape":"ListDeploymentsOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"DeploymentGroupDoesNotExistException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"InvalidTimeRangeException"},
        {"shape":"InvalidDeploymentStatusException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Lists the deployments in a deployment group for an application registered with the applicable IAM user or AWS account.</p>"
    },
    "ListOnPremisesInstances":{
      "name":"ListOnPremisesInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOnPremisesInstancesInput"},
      "output":{"shape":"ListOnPremisesInstancesOutput"},
      "errors":[
        {"shape":"InvalidRegistrationStatusException"},
        {"shape":"InvalidTagFilterException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Gets a list of names for one or more on-premises instances.</p> <p>Unless otherwise specified, both registered and deregistered on-premises instance names will be listed. To list only registered or deregistered on-premises instance names, use the registration status parameter.</p>"
    },
    "RegisterApplicationRevision":{
      "name":"RegisterApplicationRevision",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterApplicationRevisionInput"},
      "errors":[
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"DescriptionTooLongException"},
        {"shape":"RevisionRequiredException"},
        {"shape":"InvalidRevisionException"}
      ],
      "documentation":"<p>Registers with AWS CodeDeploy a revision for the specified application.</p>"
    },
    "RegisterOnPremisesInstance":{
      "name":"RegisterOnPremisesInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterOnPremisesInstanceInput"},
      "errors":[
        {"shape":"InstanceNameAlreadyRegisteredException"},
        {"shape":"IamUserArnAlreadyRegisteredException"},
        {"shape":"InstanceNameRequiredException"},
        {"shape":"IamUserArnRequiredException"},
        {"shape":"InvalidInstanceNameException"},
        {"shape":"InvalidIamUserArnException"}
      ],
      "documentation":"<p>Registers an on-premises instance.</p>"
    },
    "RemoveTagsFromOnPremisesInstances":{
      "name":"RemoveTagsFromOnPremisesInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromOnPremisesInstancesInput"},
      "errors":[
        {"shape":"InstanceNameRequiredException"},
        {"shape":"TagRequiredException"},
        {"shape":"InvalidTagException"},
        {"shape":"TagLimitExceededException"},
        {"shape":"InstanceLimitExceededException"},
        {"shape":"InstanceNotRegisteredException"}
      ],
      "documentation":"<p>Removes one or more tags from one or more on-premises instances.</p>"
    },
    "StopDeployment":{
      "name":"StopDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDeploymentInput"},
      "output":{"shape":"StopDeploymentOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"DeploymentAlreadyCompletedException"},
        {"shape":"InvalidDeploymentIdException"}
      ],
      "documentation":"<p>Attempts to stop an ongoing deployment.</p>"
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateApplicationInput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationAlreadyExistsException"},
        {"shape":"ApplicationDoesNotExistException"}
      ],
      "documentation":"<p>Changes the name of an application.</p>"
    },
    "UpdateDeploymentGroup":{
      "name":"UpdateDeploymentGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDeploymentGroupInput"},
      "output":{"shape":"UpdateDeploymentGroupOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"DeploymentGroupAlreadyExistsException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"DeploymentGroupDoesNotExistException"},
        {"shape":"InvalidEC2TagException"},
        {"shape":"InvalidTagException"},
        {"shape":"InvalidAutoScalingGroupException"},
        {"shape":"InvalidDeploymentConfigNameException"},
        {"shape":"DeploymentConfigDoesNotExistException"},
        {"shape":"InvalidRoleException"},
        {"shape":"LifecycleHookLimitExceededException"},
        {"shape":"InvalidTriggerConfigException"},
        {"shape":"TriggerTargetsLimitExceededException"},
        {"shape":"InvalidAlarmConfigException"},
        {"shape":"AlarmsLimitExceededException"},
        {"shape":"InvalidAutoRollbackConfigException"}
      ],
      "documentation":"<p>Changes information about a deployment group.</p>"
    }
  },
  "shapes":{
    "AddTagsToOnPremisesInstancesInput":{
      "type":"structure",
      "required":[
        "tags",
        "instanceNames"
      ],
      "members":{
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>"
        },
        "instanceNames":{
          "shape":"InstanceNameList",
          "documentation":"<p>The names of the on-premises instances to which to add tags.</p>"
        }
      },
      "documentation":"<p>Represents the input of, and adds tags to, an on-premises instance operation.</p>"
    },
    "Alarm":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AlarmName",
          "documentation":"<p>The name of the alarm. Maximum length is 255 characters. Each alarm name can be used only once in a list of alarms.</p>"
        }
      },
      "documentation":"<p>Information about an alarm.</p>"
    },
    "AlarmConfiguration":{
      "type":"structure",
      "members":{
        "enabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the alarm configuration is enabled.</p>"
        },
        "ignorePollAlarmFailure":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether a deployment should continue if information about the current state of alarms cannot be retrieved from Amazon CloudWatch. The default value is false.</p> <ul> <li> <p>true: The deployment will proceed even if alarm status information can't be retrieved from Amazon CloudWatch.</p> </li> <li> <p>false: The deployment will stop if alarm status information can't be retrieved from Amazon CloudWatch.</p> </li> </ul>"
        },
        "alarms":{
          "shape":"AlarmList",
          "documentation":"<p>A list of alarms configured for the deployment group. A maximum of 10 alarms can be added to a deployment group.</p>"
        }
      },
      "documentation":"<p>Information about alarms associated with the deployment group.</p>"
    },
    "AlarmList":{
      "type":"list",
      "member":{"shape":"Alarm"}
    },
    "AlarmName":{"type":"string"},
    "AlarmsLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The maximum number of alarms for a deployment group (10) was exceeded.</p>",
      "exception":true
    },
    "ApplicationAlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>An application with the specified name already exists with the applicable IAM user or AWS account.</p>",
      "exception":true
    },
    "ApplicationDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The application does not exist with the applicable IAM user or AWS account.</p>",
      "exception":true
    },
    "ApplicationId":{"type":"string"},
    "ApplicationInfo":{
      "type":"structure",
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The application ID.</p>"
        },
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The application name.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the application was created.</p>"
        },
        "linkedToGitHub":{
          "shape":"Boolean",
          "documentation":"<p>True if the user has authenticated with GitHub for the specified application; otherwise, false.</p>"
        }
      },
      "documentation":"<p>Information about an application.</p>"
    },
    "ApplicationLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>More applications were attempted to be created than are allowed.</p>",
      "exception":true
    },
    "ApplicationName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "ApplicationNameRequiredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The minimum number of required application names was not specified.</p>",
      "exception":true
    },
    "ApplicationRevisionSortBy":{
      "type":"string",
      "enum":[
        "registerTime",
        "firstUsedTime",
        "lastUsedTime"
      ]
    },
    "ApplicationsInfoList":{
      "type":"list",
      "member":{"shape":"ApplicationInfo"}
    },
    "ApplicationsList":{
      "type":"list",
      "member":{"shape":"ApplicationName"}
    },
    "AutoRollbackConfiguration":{
      "type":"structure",
      "members":{
        "enabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether a defined automatic rollback configuration is currently enabled.</p>"
        },
        "events":{
          "shape":"AutoRollbackEventsList",
          "documentation":"<p>The event type or types that trigger a rollback.</p>"
        }
      },
      "documentation":"<p>Information about a configuration for automatically rolling back to a previous version of an application revision when a deployment doesn't complete successfully.</p>"
    },
    "AutoRollbackEvent":{
      "type":"string",
      "enum":[
        "DEPLOYMENT_FAILURE",
        "DEPLOYMENT_STOP_ON_ALARM",
        "DEPLOYMENT_STOP_ON_REQUEST"
      ]
    },
    "AutoRollbackEventsList":{
      "type":"list",
      "member":{"shape":"AutoRollbackEvent"}
    },
    "AutoScalingGroup":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AutoScalingGroupName",
          "documentation":"<p>The Auto Scaling group name.</p>"
        },
        "hook":{
          "shape":"AutoScalingGroupHook",
          "documentation":"<p>An Auto Scaling lifecycle event hook name.</p>"
        }
      },
      "documentation":"<p>Information about an Auto Scaling group.</p>"
    },
    "AutoScalingGroupHook":{"type":"string"},
    "AutoScalingGroupList":{
      "type":"list",
      "member":{"shape":"AutoScalingGroup"}
    },
    "AutoScalingGroupName":{"type":"string"},
    "AutoScalingGroupNameList":{
      "type":"list",
      "member":{"shape":"AutoScalingGroupName"}
    },
    "BatchGetApplicationRevisionsInput":{
      "type":"structure",
      "required":[
        "applicationName",
        "revisions"
      ],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an AWS CodeDeploy application about which to get revision information.</p>"
        },
        "revisions":{
          "shape":"RevisionLocationList",
          "documentation":"<p>Information to get about the application revisions, including type and location.</p>"
        }
      },
      "documentation":"<p>Represents the input of a batch get application revisions operation.</p>"
    },
    "BatchGetApplicationRevisionsOutput":{
      "type":"structure",
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application that corresponds to the revisions.</p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>Information about errors that may have occurred during the API call.</p>"
        },
        "revisions":{
          "shape":"RevisionInfoList",
          "documentation":"<p>Additional information about the revisions, including the type and location.</p>"
        }
      },
      "documentation":"<p>Represents the output of a batch get application revisions operation.</p>"
    },
    "BatchGetApplicationsInput":{
      "type":"structure",
      "members":{
        "applicationNames":{
          "shape":"ApplicationsList",
          "documentation":"<p>A list of application names separated by spaces.</p>"
        }
      },
      "documentation":"<p>Represents the input of a batch get applications operation.</p>"
    },
    "BatchGetApplicationsOutput":{
      "type":"structure",
      "members":{
        "applicationsInfo":{
          "shape":"ApplicationsInfoList",
          "documentation":"<p>Information about the applications.</p>"
        }
      },
      "documentation":"<p>Represents the output of a batch get applications operation.</p>"
    },
    "BatchGetDeploymentGroupsInput":{
      "type":"structure",
      "required":[
        "applicationName",
        "deploymentGroupNames"
      ],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>"
        },
        "deploymentGroupNames":{
          "shape":"DeploymentGroupsList",
          "documentation":"<p>The deployment groups' names.</p>"
        }
      },
      "documentation":"<p>Represents the input of a batch get deployment groups operation.</p>"
    },
    "BatchGetDeploymentGroupsOutput":{
      "type":"structure",
      "members":{
        "deploymentGroupsInfo":{
          "shape":"DeploymentGroupInfoList",
          "documentation":"<p>Information about the deployment groups.</p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>Information about errors that may have occurred during the API call.</p>"
        }
      },
      "documentation":"<p>Represents the output of a batch get deployment groups operation.</p>"
    },
    "BatchGetDeploymentInstancesInput":{
      "type":"structure",
      "required":[
        "deploymentId",
        "instanceIds"
      ],
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p>The unique ID of a deployment.</p>"
        },
        "instanceIds":{
          "shape":"InstancesList",
          "documentation":"<p>The unique IDs of instances in the deployment group.</p>"
        }
      },
      "documentation":"<p>Represents the input of a batch get deployment instances operation.</p>"
    },
    "BatchGetDeploymentInstancesOutput":{
      "type":"structure",
      "members":{
        "instancesSummary":{
          "shape":"InstanceSummaryList",
          "documentation":"<p>Information about the instance.</p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>Information about errors that may have occurred during the API call.</p>"
        }
      },
      "documentation":"<p>Represents the output of a batch get deployment instance operation.</p>"
    },
    "BatchGetDeploymentsInput":{
      "type":"structure",
      "members":{
        "deploymentIds":{
          "shape":"DeploymentsList",
          "documentation":"<p>A list of deployment IDs, separated by spaces.</p>"
        }
      },
      "documentation":"<p>Represents the input of a batch get deployments operation.</p>"
    },
    "BatchGetDeploymentsOutput":{
      "type":"structure",
      "members":{
        "deploymentsInfo":{
          "shape":"DeploymentsInfoList",
          "documentation":"<p>Information about the deployments.</p>"
        }
      },
      "documentation":"<p>Represents the output of a batch get deployments operation.</p>"
    },
    "BatchGetOnPremisesInstancesInput":{
      "type":"structure",
      "members":{
        "instanceNames":{
          "shape":"InstanceNameList",
          "documentation":"<p>The names of the on-premises instances about which to get information.</p>"
        }
      },
      "documentation":"<p>Represents the input of a batch get on-premises instances operation.</p>"
    },
    "BatchGetOnPremisesInstancesOutput":{
      "type":"structure",
      "members":{
        "instanceInfos":{
          "shape":"InstanceInfoList",
          "documentation":"<p>Information about the on-premises instances.</p>"
        }
      },
      "documentation":"<p>Represents the output of a batch get on-premises instances operation.</p>"
    },
    "BatchLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>",
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "BucketNameFilterRequiredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>A bucket name is required, but was not provided.</p>",
      "exception":true
    },
    "BundleType":{
      "type":"string",
      "enum":[
        "tar",
        "tgz",
        "zip"
      ]
    },
    "CommitId":{"type":"string"},
    "CreateApplicationInput":{
      "type":"structure",
      "required":["applicationName"],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application. This name must be unique with the applicable IAM user or AWS account.</p>"
        }
      },
      "documentation":"<p>Represents the input of a create application operation.</p>"
    },
    "CreateApplicationOutput":{
      "type":"structure",
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>A unique application ID.</p>"
        }
      },
      "documentation":"<p>Represents the output of a create application operation.</p>"
    },
    "CreateDeploymentConfigInput":{
      "type":"structure",
      "required":["deploymentConfigName"],
      "members":{
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>The name of the deployment configuration to create.</p>"
        },
        "minimumHealthyHosts":{
          "shape":"MinimumHealthyHosts",
          "documentation":"<p>The minimum number of healthy instances that should be available at any time during the deployment. There are two parameters expected in the input: type and value.</p> <p>The type parameter takes either of the following values:</p> <ul> <li> <p>HOST_COUNT: The value parameter represents the minimum number of healthy instances as an absolute value.</p> </li> <li> <p>FLEET_PERCENT: The value parameter represents the minimum number of healthy instances as a percentage of the total number of instances in the deployment. If you specify FLEET_PERCENT, at the start of the deployment, AWS CodeDeploy converts the percentage to the equivalent number of instance and rounds up fractional instances.</p> </li> </ul> <p>The value parameter takes an integer.</p> <p>For example, to set a minimum of 95% healthy instance, specify a type of FLEET_PERCENT and a value of 95.</p>"
        }
      },
      "documentation":"<p>Represents the input of a create deployment configuration operation.</p>"
    },
    "CreateDeploymentConfigOutput":{
      "type":"structure",
      "members":{
        "deploymentConfigId":{
          "shape":"DeploymentConfigId",
          "documentation":"<p>A unique deployment configuration ID.</p>"
        }
      },
      "documentation":"<p>Represents the output of a create deployment configuration operation.</p>"
    },
    "CreateDeploymentGroupInput":{
      "type":"structure",
      "required":[
        "applicationName",
        "deploymentGroupName",
        "serviceRoleArn"
      ],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>"
        },
        "deploymentGroupName":{
          "shape":"DeploymentGroupName",
          "documentation":"<p>The name of a new deployment group for the specified application.</p>"
        },
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>If specified, the deployment configuration name can be either one of the predefined configurations provided with AWS CodeDeploy or a custom deployment configuration that you create by calling the create deployment configuration operation.</p> <note> <p>CodeDeployDefault.OneAtATime is the default deployment configuration. It is used if a configuration isn't specified for the deployment or the deployment group.</p> </note> <p>The predefined deployment configurations include the following:</p> <ul> <li> <p> <b>CodeDeployDefault.AllAtOnce</b> attempts to deploy an application revision to as many instances as possible at once. The status of the overall deployment will be displayed as <b>Succeeded</b> if the application revision is deployed to one or more of the instances. The status of the overall deployment will be displayed as <b>Failed</b> if the application revision is not deployed to any of the instances. Using an example of nine instances, CodeDeployDefault.AllAtOnce will attempt to deploy to all nine instances at once. The overall deployment will succeed if deployment to even a single instance is successful; it will fail only if deployments to all nine instances fail. </p> </li> <li> <p> <b>CodeDeployDefault.HalfAtATime</b> deploys to up to half of the instances at a time (with fractions rounded down). The overall deployment succeeds if the application revision is deployed to at least half of the instances (with fractions rounded up); otherwise, the deployment fails. In the example of nine instances, it will deploy to up to four instances at a time. The overall deployment succeeds if deployment to five or more instances succeed; otherwise, the deployment fails. The deployment may be successfully deployed to some instances even if the overall deployment fails.</p> </li> <li> <p> <b>CodeDeployDefault.OneAtATime</b> deploys the application revision to only one instance at a time.</p> <p>For deployment groups that contain more than one instance:</p> <ul> <li> <p>The overall deployment succeeds if the application revision is deployed to all of the instances. The exception to this rule is if deployment to the last instance fails, the overall deployment still succeeds. This is because AWS CodeDeploy allows only one instance at a time to be taken offline with the CodeDeployDefault.OneAtATime configuration.</p> </li> <li> <p>The overall deployment fails as soon as the application revision fails to be deployed to any but the last instance. The deployment may be successfully deployed to some instances even if the overall deployment fails.</p> </li> <li> <p>In an example using nine instances, it will deploy to one instance at a time. The overall deployment succeeds if deployment to the first eight instances is successful; the overall deployment fails if deployment to any of the first eight instances fails.</p> </li> </ul> <p>For deployment groups that contain only one instance, the overall deployment is successful only if deployment to the single instance is successful</p> </li> </ul>"
        },
        "ec2TagFilters":{
          "shape":"EC2TagFilterList",
          "documentation":"<p>The Amazon EC2 tags on which to filter.</p>"
        },
        "onPremisesInstanceTagFilters":{
          "shape":"TagFilterList",
          "documentation":"<p>The on-premises instance tags on which to filter.</p>"
        },
        "autoScalingGroups":{
          "shape":"AutoScalingGroupNameList",
          "documentation":"<p>A list of associated Auto Scaling groups.</p>"
        },
        "serviceRoleArn":{
          "shape":"Role",
          "documentation":"<p>A service role ARN that allows AWS CodeDeploy to act on the user's behalf when interacting with AWS services.</p>"
        },
        "triggerConfigurations":{
          "shape":"TriggerConfigList",
          "documentation":"<p>Information about triggers to create when the deployment group is created. For examples, see <a href=\"http://docs.aws.amazon.com/codedeploy/latest/userguide/how-to-notify-sns.html\">Create a Trigger for an AWS CodeDeploy Event</a> in the AWS CodeDeploy User Guide.</p>"
        },
        "alarmConfiguration":{
          "shape":"AlarmConfiguration",
          "documentation":"<p>Information to add about Amazon CloudWatch alarms when the deployment group is created. </p>"
        },
        "autoRollbackConfiguration":{
          "shape":"AutoRollbackConfiguration",
          "documentation":"<p>Configuration information for an automatic rollback that is added when a deployment group is created.</p>"
        }
      },
      "documentation":"<p>Represents the input of a create deployment group operation.</p>"
    },
    "CreateDeploymentGroupOutput":{
      "type":"structure",
      "members":{
        "deploymentGroupId":{
          "shape":"DeploymentGroupId",
          "documentation":"<p>A unique deployment group ID.</p>"
        }
      },
      "documentation":"<p>Represents the output of a create deployment group operation.</p>"
    },
    "CreateDeploymentInput":{
      "type":"structure",
      "required":["applicationName"],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>"
        },
        "deploymentGroupName":{
          "shape":"DeploymentGroupName",
          "documentation":"<p>The name of the deployment group.</p>"
        },
        "revision":{
          "shape":"RevisionLocation",
          "documentation":"<p>The type and location of the revision to deploy.</p>"
        },
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>The name of a deployment configuration associated with the applicable IAM user or AWS account.</p> <p>If not specified, the value configured in the deployment group will be used as the default. If the deployment group does not have a deployment configuration associated with it, then CodeDeployDefault.OneAtATime will be used by default.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A comment about the deployment.</p>"
        },
        "ignoreApplicationStopFailures":{
          "shape":"Boolean",
          "documentation":"<p>If set to true, then if the deployment causes the ApplicationStop deployment lifecycle event to an instance to fail, the deployment to that instance will not be considered to have failed at that point and will continue on to the BeforeInstall deployment lifecycle event.</p> <p>If set to false or not specified, then if the deployment causes the ApplicationStop deployment lifecycle event to fail to an instance, the deployment to that instance will stop, and the deployment to that instance will be considered to have failed.</p>"
        },
        "autoRollbackConfiguration":{
          "shape":"AutoRollbackConfiguration",
          "documentation":"<p>Configuration information for an automatic rollback that is added when a deployment is created.</p>"
        },
        "updateOutdatedInstancesOnly":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether to deploy to all instances or only to instances that are not running the latest application revision.</p>"
        }
      },
      "documentation":"<p>Represents the input of a create deployment operation.</p>"
    },
    "CreateDeploymentOutput":{
      "type":"structure",
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p>A unique deployment ID.</p>"
        }
      },
      "documentation":"<p>Represents the output of a create deployment operation.</p>"
    },
    "DeleteApplicationInput":{
      "type":"structure",
      "required":["applicationName"],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>"
        }
      },
      "documentation":"<p>Represents the input of a delete application operation.</p>"
    },
    "DeleteDeploymentConfigInput":{
      "type":"structure",
      "required":["deploymentConfigName"],
      "members":{
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>The name of a deployment configuration associated with the applicable IAM user or AWS account.</p>"
        }
      },
      "documentation":"<p>Represents the input of a delete deployment configuration operation.</p>"
    },
    "DeleteDeploymentGroupInput":{
      "type":"structure",
      "required":[
        "applicationName",
        "deploymentGroupName"
      ],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>"
        },
        "deploymentGroupName":{
          "shape":"DeploymentGroupName",
          "documentation":"<p>The name of an existing deployment group for the specified application.</p>"
        }
      },
      "documentation":"<p>Represents the input of a delete deployment group operation.</p>"
    },
    "DeleteDeploymentGroupOutput":{
      "type":"structure",
      "members":{
        "hooksNotCleanedUp":{
          "shape":"AutoScalingGroupList",
          "documentation":"<p>If the output contains no data, and the corresponding deployment group contained at least one Auto Scaling group, AWS CodeDeploy successfully removed all corresponding Auto Scaling lifecycle event hooks from the Amazon EC2 instances in the Auto Scaling group. If the output contains data, AWS CodeDeploy could not remove some Auto Scaling lifecycle event hooks from the Amazon EC2 instances in the Auto Scaling group.</p>"
        }
      },
      "documentation":"<p>Represents the output of a delete deployment group operation.</p>"
    },
    "DeploymentAlreadyCompletedException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The deployment is already complete.</p>",
      "exception":true
    },
    "DeploymentConfigAlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>A deployment configuration with the specified name already exists with the applicable IAM user or AWS account.</p>",
      "exception":true
    },
    "DeploymentConfigDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The deployment configuration does not exist with the applicable IAM user or AWS account.</p>",
      "exception":true
    },
    "DeploymentConfigId":{"type":"string"},
    "DeploymentConfigInUseException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The deployment configuration is still in use.</p>",
      "exception":true
    },
    "DeploymentConfigInfo":{
      "type":"structure",
      "members":{
        "deploymentConfigId":{
          "shape":"DeploymentConfigId",
          "documentation":"<p>The deployment configuration ID.</p>"
        },
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>The deployment configuration name.</p>"
        },
        "minimumHealthyHosts":{
          "shape":"MinimumHealthyHosts",
          "documentation":"<p>Information about the number or percentage of minimum healthy instance.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the deployment configuration was created.</p>"
        }
      },
      "documentation":"<p>Information about a deployment configuration.</p>"
    },
    "DeploymentConfigLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The deployment configurations limit was exceeded.</p>",
      "exception":true
    },
    "DeploymentConfigName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "DeploymentConfigNameRequiredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The deployment configuration name was not specified.</p>",
      "exception":true
    },
    "DeploymentConfigsList":{
      "type":"list",
      "member":{"shape":"DeploymentConfigName"}
    },
    "DeploymentCreator":{
      "type":"string",
      "enum":[
        "user",
        "autoscaling",
        "codeDeployRollback"
      ]
    },
    "DeploymentDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The deployment does not exist with the applicable IAM user or AWS account.</p>",
      "exception":true
    },
    "DeploymentGroupAlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>A deployment group with the specified name already exists with the applicable IAM user or AWS account.</p>",
      "exception":true
    },
    "DeploymentGroupDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The named deployment group does not exist with the applicable IAM user or AWS account.</p>",
      "exception":true
    },
    "DeploymentGroupId":{"type":"string"},
    "DeploymentGroupInfo":{
      "type":"structure",
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The application name.</p>"
        },
        "deploymentGroupId":{
          "shape":"DeploymentGroupId",
          "documentation":"<p>The deployment group ID.</p>"
        },
        "deploymentGroupName":{
          "shape":"DeploymentGroupName",
          "documentation":"<p>The deployment group name.</p>"
        },
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>The deployment configuration name.</p>"
        },
        "ec2TagFilters":{
          "shape":"EC2TagFilterList",
          "documentation":"<p>The Amazon EC2 tags on which to filter.</p>"
        },
        "onPremisesInstanceTagFilters":{
          "shape":"TagFilterList",
          "documentation":"<p>The on-premises instance tags on which to filter.</p>"
        },
        "autoScalingGroups":{
          "shape":"AutoScalingGroupList",
          "documentation":"<p>A list of associated Auto Scaling groups.</p>"
        },
        "serviceRoleArn":{
          "shape":"Role",
          "documentation":"<p>A service role ARN.</p>"
        },
        "targetRevision":{
          "shape":"RevisionLocation",
          "documentation":"<p>Information about the deployment group's target revision, including type and location.</p>"
        },
        "triggerConfigurations":{
          "shape":"TriggerConfigList",
          "documentation":"<p>Information about triggers associated with the deployment group.</p>"
        },
        "alarmConfiguration":{
          "shape":"AlarmConfiguration",
          "documentation":"<p>A list of alarms associated with the deployment group.</p>"
        },
        "autoRollbackConfiguration":{
          "shape":"AutoRollbackConfiguration",
          "documentation":"<p>Information about the automatic rollback configuration associated with the deployment group.</p>"
        }
      },
      "documentation":"<p>Information about a deployment group.</p>"
    },
    "DeploymentGroupInfoList":{
      "type":"list",
      "member":{"shape":"DeploymentGroupInfo"}
    },
    "DeploymentGroupLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> The deployment groups limit was exceeded.</p>",
      "exception":true
    },
    "DeploymentGroupName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "DeploymentGroupNameRequiredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The deployment group name was not specified.</p>",
      "exception":true
    },
    "DeploymentGroupsList":{
      "type":"list",
      "member":{"shape":"DeploymentGroupName"}
    },
    "DeploymentId":{"type":"string"},
    "DeploymentIdRequiredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>At least one deployment ID must be specified.</p>",
      "exception":true
    },
    "DeploymentInfo":{
      "type":"structure",
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The application name.</p>"
        },
        "deploymentGroupName":{
          "shape":"DeploymentGroupName",
          "documentation":"<p>The deployment group name.</p>"
        },
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>The deployment configuration name.</p>"
        },
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p>The deployment ID.</p>"
        },
        "revision":{
          "shape":"RevisionLocation",
          "documentation":"<p>Information about the location of stored application artifacts and the service from which to retrieve them.</p>"
        },
        "status":{
          "shape":"DeploymentStatus",
          "documentation":"<p>The current state of the deployment as a whole.</p>"
        },
        "errorInformation":{
          "shape":"ErrorInformation",
          "documentation":"<p>Information about any error associated with this deployment.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp indicating when the deployment was created.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp indicating when the deployment was deployed to the deployment group.</p> <p>In some cases, the reported value of the start time may be later than the complete time. This is due to differences in the clock settings of back-end servers that participate in the deployment process.</p>"
        },
        "completeTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp indicating when the deployment was complete.</p>"
        },
        "deploymentOverview":{
          "shape":"DeploymentOverview",
          "documentation":"<p>A summary of the deployment status of the instances in the deployment.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A comment about the deployment.</p>"
        },
        "creator":{
          "shape":"DeploymentCreator",
          "documentation":"<p>The means by which the deployment was created:</p> <ul> <li> <p>user: A user created the deployment.</p> </li> <li> <p>autoscaling: Auto Scaling created the deployment.</p> </li> <li> <p>codeDeployRollback: A rollback process created the deployment.</p> </li> </ul>"
        },
        "ignoreApplicationStopFailures":{
          "shape":"Boolean",
          "documentation":"<p>If true, then if the deployment causes the ApplicationStop deployment lifecycle event to an instance to fail, the deployment to that instance will not be considered to have failed at that point and will continue on to the BeforeInstall deployment lifecycle event.</p> <p>If false or not specified, then if the deployment causes the ApplicationStop deployment lifecycle event to an instance to fail, the deployment to that instance will stop, and the deployment to that instance will be considered to have failed.</p>"
        },
        "autoRollbackConfiguration":{
          "shape":"AutoRollbackConfiguration",
          "documentation":"<p>Information about the automatic rollback configuration associated with the deployment.</p>"
        },
        "updateOutdatedInstancesOnly":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether only instances that are not running the latest application revision are to be deployed to.</p>"
        },
        "rollbackInfo":{
          "shape":"RollbackInfo",
          "documentation":"<p>Information about a deployment rollback.</p>"
        }
      },
      "documentation":"<p>Information about a deployment.</p>"
    },
    "DeploymentLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The number of allowed deployments was exceeded.</p>",
      "exception":true
    },
    "DeploymentNotStartedException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified deployment has not started.</p>",
      "exception":true
    },
    "DeploymentOverview":{
      "type":"structure",
      "members":{
        "Pending":{
          "shape":"InstanceCount",
          "documentation":"<p>The number of instances in the deployment in a pending state.</p>"
        },
        "InProgress":{
          "shape":"InstanceCount",
          "documentation":"<p>The number of instances in which the deployment is in progress.</p>"
        },
        "Succeeded":{
          "shape":"InstanceCount",
          "documentation":"<p>The number of instances in the deployment to which revisions have been successfully deployed.</p>"
        },
        "Failed":{
          "shape":"InstanceCount",
          "documentation":"<p>The number of instances in the deployment in a failed state.</p>"
        },
        "Skipped":{
          "shape":"InstanceCount",
          "documentation":"<p>The number of instances in the deployment in a skipped state.</p>"
        }
      },
      "documentation":"<p>Information about the deployment status of the instances in the deployment.</p>"
    },
    "DeploymentStatus":{
      "type":"string",
      "enum":[
        "Created",
        "Queued",
        "InProgress",
        "Succeeded",
        "Failed",
        "Stopped"
      ]
    },
    "DeploymentStatusList":{
      "type":"list",
      "member":{"shape":"DeploymentStatus"}
    },
    "DeploymentsInfoList":{
      "type":"list",
      "member":{"shape":"DeploymentInfo"}
    },
    "DeploymentsList":{
      "type":"list",
      "member":{"shape":"DeploymentId"}
    },
    "DeregisterOnPremisesInstanceInput":{
      "type":"structure",
      "required":["instanceName"],
      "members":{
        "instanceName":{
          "shape":"InstanceName",
          "documentation":"<p>The name of the on-premises instance to deregister.</p>"
        }
      },
      "documentation":"<p>Represents the input of a deregister on-premises instance operation.</p>"
    },
    "Description":{"type":"string"},
    "DescriptionTooLongException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The description is too long.</p>",
      "exception":true
    },
    "Diagnostics":{
      "type":"structure",
      "members":{
        "errorCode":{
          "shape":"LifecycleErrorCode",
          "documentation":"<p>The associated error code:</p> <ul> <li> <p>Success: The specified script ran.</p> </li> <li> <p>ScriptMissing: The specified script was not found in the specified location.</p> </li> <li> <p>ScriptNotExecutable: The specified script is not a recognized executable file type.</p> </li> <li> <p>ScriptTimedOut: The specified script did not finish running in the specified time period.</p> </li> <li> <p>ScriptFailed: The specified script failed to run as expected.</p> </li> <li> <p>UnknownError: The specified script did not run for an unknown reason.</p> </li> </ul>"
        },
        "scriptName":{
          "shape":"ScriptName",
          "documentation":"<p>The name of the script.</p>"
        },
        "message":{
          "shape":"LifecycleMessage",
          "documentation":"<p>The message associated with the error.</p>"
        },
        "logTail":{
          "shape":"LogTail",
          "documentation":"<p>The last portion of the diagnostic log.</p> <p>If available, AWS CodeDeploy returns up to the last 4 KB of the diagnostic log.</p>"
        }
      },
      "documentation":"<p>Diagnostic information about executable scripts that are part of a deployment.</p>"
    },
    "EC2TagFilter":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"Key",
          "documentation":"<p>The tag filter key.</p>"
        },
        "Value":{
          "shape":"Value",
          "documentation":"<p>The tag filter value.</p>"
        },
        "Type":{
          "shape":"EC2TagFilterType",
          "documentation":"<p>The tag filter type:</p> <ul> <li> <p>KEY_ONLY: Key only.</p> </li> <li> <p>VALUE_ONLY: Value only.</p> </li> <li> <p>KEY_AND_VALUE: Key and value.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Information about a tag filter.</p>"
    },
    "EC2TagFilterList":{
      "type":"list",
      "member":{"shape":"EC2TagFilter"}
    },
    "EC2TagFilterType":{
      "type":"string",
      "enum":[
        "KEY_ONLY",
        "VALUE_ONLY",
        "KEY_AND_VALUE"
      ]
    },
    "ETag":{"type":"string"},
    "ErrorCode":{
      "type":"string",
      "enum":[
        "DEPLOYMENT_GROUP_MISSING",
        "APPLICATION_MISSING",
        "REVISION_MISSING",
        "IAM_ROLE_MISSING",
        "IAM_ROLE_PERMISSIONS",
        "NO_EC2_SUBSCRIPTION",
        "OVER_MAX_INSTANCES",
        "NO_INSTANCES",
        "TIMEOUT",
        "HEALTH_CONSTRAINTS_INVALID",
        "HEALTH_CONSTRAINTS",
        "INTERNAL_ERROR",
        "THROTTLED",
        "ALARM_ACTIVE",
        "AGENT_ISSUE",
        "AUTO_SCALING_IAM_ROLE_PERMISSIONS",
        "AUTO_SCALING_CONFIGURATION",
        "MANUAL_STOP"
      ]
    },
    "ErrorInformation":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"ErrorCode",
          "documentation":"<p>The error code:</p> <ul> <li> <p>APPLICATION_MISSING: The application was missing. This error code will most likely be raised if the application is deleted after the deployment is created but before it is started.</p> </li> <li> <p>DEPLOYMENT_GROUP_MISSING: The deployment group was missing. This error code will most likely be raised if the deployment group is deleted after the deployment is created but before it is started.</p> </li> <li> <p>HEALTH_CONSTRAINTS: The deployment failed on too many instances to be successfully deployed within the instance health constraints specified.</p> </li> <li> <p>HEALTH_CONSTRAINTS_INVALID: The revision cannot be successfully deployed within the instance health constraints specified.</p> </li> <li> <p>IAM_ROLE_MISSING: The service role cannot be accessed.</p> </li> <li> <p>IAM_ROLE_PERMISSIONS: The service role does not have the correct permissions.</p> </li> <li> <p>INTERNAL_ERROR: There was an internal error.</p> </li> <li> <p>NO_EC2_SUBSCRIPTION: The calling account is not subscribed to the Amazon EC2 service.</p> </li> <li> <p>NO_INSTANCES: No instance were specified, or no instance can be found.</p> </li> <li> <p>OVER_MAX_INSTANCES: The maximum number of instance was exceeded.</p> </li> <li> <p>THROTTLED: The operation was throttled because the calling account exceeded the throttling limits of one or more AWS services.</p> </li> <li> <p>TIMEOUT: The deployment has timed out.</p> </li> <li> <p>REVISION_MISSING: The revision ID was missing. This error code will most likely be raised if the revision is deleted after the deployment is created but before it is started.</p> </li> </ul>"
        },
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>An accompanying error message.</p>"
        }
      },
      "documentation":"<p>Information about a deployment error.</p>"
    },
    "ErrorMessage":{"type":"string"},
    "GenericRevisionInfo":{
      "type":"structure",
      "members":{
        "description":{
          "shape":"Description",
          "documentation":"<p>A comment about the revision.</p>"
        },
        "deploymentGroups":{
          "shape":"DeploymentGroupsList",
          "documentation":"<p>The deployment groups for which this is the current target revision.</p>"
        },
        "firstUsedTime":{
          "shape":"Timestamp",
          "documentation":"<p>When the revision was first used by AWS CodeDeploy.</p>"
        },
        "lastUsedTime":{
          "shape":"Timestamp",
          "documentation":"<p>When the revision was last used by AWS CodeDeploy.</p>"
        },
        "registerTime":{
          "shape":"Timestamp",
          "documentation":"<p>When the revision was registered with AWS CodeDeploy.</p>"
        }
      },
      "documentation":"<p>Information about an application revision.</p>"
    },
    "GetApplicationInput":{
      "type":"structure",
      "required":["applicationName"],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>"
        }
      },
      "documentation":"<p>Represents the input of a get application operation.</p>"
    },
    "GetApplicationOutput":{
      "type":"structure",
      "members":{
        "application":{
          "shape":"ApplicationInfo",
          "documentation":"<p>Information about the application.</p>"
        }
      },
      "documentation":"<p>Represents the output of a get application operation.</p>"
    },
    "GetApplicationRevisionInput":{
      "type":"structure",
      "required":[
        "applicationName",
        "revision"
      ],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application that corresponds to the revision.</p>"
        },
        "revision":{
          "shape":"RevisionLocation",
          "documentation":"<p>Information about the application revision to get, including type and location.</p>"
        }
      },
      "documentation":"<p>Represents the input of a get application revision operation.</p>"
    },
    "GetApplicationRevisionOutput":{
      "type":"structure",
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application that corresponds to the revision.</p>"
        },
        "revision":{
          "shape":"RevisionLocation",
          "documentation":"<p>Additional information about the revision, including type and location.</p>"
        },
        "revisionInfo":{
          "shape":"GenericRevisionInfo",
          "documentation":"<p>General information about the revision.</p>"
        }
      },
      "documentation":"<p>Represents the output of a get application revision operation.</p>"
    },
    "GetDeploymentConfigInput":{
      "type":"structure",
      "required":["deploymentConfigName"],
      "members":{
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>The name of a deployment configuration associated with the applicable IAM user or AWS account.</p>"
        }
      },
      "documentation":"<p>Represents the input of a get deployment configuration operation.</p>"
    },
    "GetDeploymentConfigOutput":{
      "type":"structure",
      "members":{
        "deploymentConfigInfo":{
          "shape":"DeploymentConfigInfo",
          "documentation":"<p>Information about the deployment configuration.</p>"
        }
      },
      "documentation":"<p>Represents the output of a get deployment configuration operation.</p>"
    },
    "GetDeploymentGroupInput":{
      "type":"structure",
      "required":[
        "applicationName",
        "deploymentGroupName"
      ],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>"
        },
        "deploymentGroupName":{
          "shape":"DeploymentGroupName",
          "documentation":"<p>The name of an existing deployment group for the specified application.</p>"
        }
      },
      "documentation":"<p>Represents the input of a get deployment group operation.</p>"
    },
    "GetDeploymentGroupOutput":{
      "type":"structure",
      "members":{
        "deploymentGroupInfo":{
          "shape":"DeploymentGroupInfo",
          "documentation":"<p>Information about the deployment group.</p>"
        }
      },
      "documentation":"<p>Represents the output of a get deployment group operation.</p>"
    },
    "GetDeploymentInput":{
      "type":"structure",
      "required":["deploymentId"],
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p>A deployment ID associated with the applicable IAM user or AWS account.</p>"
        }
      },
      "documentation":"<p>Represents the input of a get deployment operation.</p>"
    },
    "GetDeploymentInstanceInput":{
      "type":"structure",
      "required":[
        "deploymentId",
        "instanceId"
      ],
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p>The unique ID of a deployment.</p>"
        },
        "instanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The unique ID of an instance in the deployment group.</p>"
        }
      },
      "documentation":"<p>Represents the input of a get deployment instance operation.</p>"
    },
    "GetDeploymentInstanceOutput":{
      "type":"structure",
      "members":{
        "instanceSummary":{
          "shape":"InstanceSummary",
          "documentation":"<p>Information about the instance.</p>"
        }
      },
      "documentation":"<p>Represents the output of a get deployment instance operation.</p>"
    },
    "GetDeploymentOutput":{
      "type":"structure",
      "members":{
        "deploymentInfo":{
          "shape":"DeploymentInfo",
          "documentation":"<p>Information about the deployment.</p>"
        }
      },
      "documentation":"<p>Represents the output of a get deployment operation.</p>"
    },
    "GetOnPremisesInstanceInput":{
      "type":"structure",
      "required":["instanceName"],
      "members":{
        "instanceName":{
          "shape":"InstanceName",
          "documentation":"<p>The name of the on-premises instance about which to get information.</p>"
        }
      },
      "documentation":"<p>Represents the input of a get on-premises instance operation.</p>"
    },
    "GetOnPremisesInstanceOutput":{
      "type":"structure",
      "members":{
        "instanceInfo":{
          "shape":"InstanceInfo",
          "documentation":"<p>Information about the on-premises instance.</p>"
        }
      },
      "documentation":"<p>Represents the output of a get on-premises instance operation.</p>"
    },
    "GitHubLocation":{
      "type":"structure",
      "members":{
        "repository":{
          "shape":"Repository",
          "documentation":"<p>The GitHub account and repository pair that stores a reference to the commit that represents the bundled artifacts for the application revision. </p> <p>Specified as account/repository.</p>"
        },
        "commitId":{
          "shape":"CommitId",
          "documentation":"<p>The SHA1 commit ID of the GitHub commit that represents the bundled artifacts for the application revision.</p>"
        }
      },
      "documentation":"<p>Information about the location of application artifacts stored in GitHub.</p>"
    },
    "IamUserArn":{"type":"string"},
    "IamUserArnAlreadyRegisteredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified IAM user ARN is already registered with an on-premises instance.</p>",
      "exception":true
    },
    "IamUserArnRequiredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>An IAM user ARN was not specified.</p>",
      "exception":true
    },
    "InstanceArn":{"type":"string"},
    "InstanceCount":{"type":"long"},
    "InstanceDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified instance does not exist in the deployment group.</p>",
      "exception":true
    },
    "InstanceId":{"type":"string"},
    "InstanceIdRequiredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The instance ID was not specified.</p>",
      "exception":true
    },
    "InstanceInfo":{
      "type":"structure",
      "members":{
        "instanceName":{
          "shape":"InstanceName",
          "documentation":"<p>The name of the on-premises instance.</p>"
        },
        "iamUserArn":{
          "shape":"IamUserArn",
          "documentation":"<p>The IAM user ARN associated with the on-premises instance.</p>"
        },
        "instanceArn":{
          "shape":"InstanceArn",
          "documentation":"<p>The ARN of the on-premises instance.</p>"
        },
        "registerTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the on-premises instance was registered.</p>"
        },
        "deregisterTime":{
          "shape":"Timestamp",
          "documentation":"<p>If the on-premises instance was deregistered, the time at which the on-premises instance was deregistered.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The tags currently associated with the on-premises instance.</p>"
        }
      },
      "documentation":"<p>Information about an on-premises instance.</p>"
    },
    "InstanceInfoList":{
      "type":"list",
      "member":{"shape":"InstanceInfo"}
    },
    "InstanceLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The maximum number of allowed on-premises instances in a single call was exceeded.</p>",
      "exception":true
    },
    "InstanceName":{"type":"string"},
    "InstanceNameAlreadyRegisteredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified on-premises instance name is already registered.</p>",
      "exception":true
    },
    "InstanceNameList":{
      "type":"list",
      "member":{"shape":"InstanceName"}
    },
    "InstanceNameRequiredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>An on-premises instance name was not specified.</p>",
      "exception":true
    },
    "InstanceNotRegisteredException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified on-premises instance is not registered.</p>",
      "exception":true
    },
    "InstanceStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Succeeded",
        "Failed",
        "Skipped",
        "Unknown"
      ]
    },
    "InstanceStatusList":{
      "type":"list",
      "member":{"shape":"InstanceStatus"}
    },
    "InstanceSummary":{
      "type":"structure",
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p>The deployment ID.</p>"
        },
        "instanceId":{
          "shape":"InstanceId",
          "documentation":"<p>The instance ID.</p>"
        },
        "status":{
          "shape":"InstanceStatus",
          "documentation":"<p>The deployment status for this instance:</p> <ul> <li> <p>Pending: The deployment is pending for this instance.</p> </li> <li> <p>In Progress: The deployment is in progress for this instance.</p> </li> <li> <p>Succeeded: The deployment has succeeded for this instance.</p> </li> <li> <p>Failed: The deployment has failed for this instance.</p> </li> <li> <p>Skipped: The deployment has been skipped for this instance.</p> </li> <li> <p>Unknown: The deployment status is unknown for this instance.</p> </li> </ul>"
        },
        "lastUpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp indicating when the instance information was last updated.</p>"
        },
        "lifecycleEvents":{
          "shape":"LifecycleEventList",
          "documentation":"<p>A list of lifecycle events for this instance.</p>"
        }
      },
      "documentation":"<p>Information about an instance in a deployment.</p>"
    },
    "InstanceSummaryList":{
      "type":"list",
      "member":{"shape":"InstanceSummary"}
    },
    "InstancesList":{
      "type":"list",
      "member":{"shape":"InstanceId"}
    },
    "InvalidAlarmConfigException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The format of the alarm configuration is invalid. Possible causes include:</p> <ul> <li> <p>The alarm list is null.</p> </li> <li> <p>The alarm object is null.</p> </li> <li> <p>The alarm name is empty or null or exceeds the 255 character limit.</p> </li> <li> <p>Two alarms with the same name have been specified.</p> </li> <li> <p>The alarm configuration is enabled but the alarm list is empty.</p> </li> </ul>",
      "exception":true
    },
    "InvalidApplicationNameException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The application name was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidAutoRollbackConfigException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The automatic rollback configuration was specified in an invalid format. For example, automatic rollback is enabled but an invalid triggering event type or no event types were listed.</p>",
      "exception":true
    },
    "InvalidAutoScalingGroupException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The Auto Scaling group was specified in an invalid format or does not exist.</p>",
      "exception":true
    },
    "InvalidBucketNameFilterException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The bucket name either doesn't exist or was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidDeployedStateFilterException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The deployed state filter was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidDeploymentConfigNameException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The deployment configuration name was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidDeploymentGroupNameException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The deployment group name was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidDeploymentIdException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>At least one of the deployment IDs was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidDeploymentStatusException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified deployment status doesn't exist or cannot be determined.</p>",
      "exception":true
    },
    "InvalidEC2TagException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The tag was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidIamUserArnException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The IAM user ARN was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidInstanceNameException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified on-premises instance name was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidInstanceStatusException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified instance status does not exist.</p>",
      "exception":true
    },
    "InvalidKeyPrefixFilterException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified key prefix filter was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidMinimumHealthyHostValueException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The minimum healthy instance value was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidNextTokenException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The next token was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidOperationException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>An invalid operation was detected.</p>",
      "exception":true
    },
    "InvalidRegistrationStatusException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The registration status was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidRevisionException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The revision was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidRoleException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The service role ARN was specified in an invalid format. Or, if an Auto Scaling group was specified, the specified service role does not grant the appropriate permissions to Auto Scaling.</p>",
      "exception":true
    },
    "InvalidSortByException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The column name to sort by is either not present or was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidSortOrderException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The sort order was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidTagException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified tag was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidTagFilterException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified tag filter was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidTimeRangeException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified time range was specified in an invalid format.</p>",
      "exception":true
    },
    "InvalidTriggerConfigException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The trigger was specified in an invalid format.</p>",
      "exception":true
    },
    "Key":{"type":"string"},
    "LifecycleErrorCode":{
      "type":"string",
      "enum":[
        "Success",
        "ScriptMissing",
        "ScriptNotExecutable",
        "ScriptTimedOut",
        "ScriptFailed",
        "UnknownError"
      ]
    },
    "LifecycleEvent":{
      "type":"structure",
      "members":{
        "lifecycleEventName":{
          "shape":"LifecycleEventName",
          "documentation":"<p>The deployment lifecycle event name, such as ApplicationStop, BeforeInstall, AfterInstall, ApplicationStart, or ValidateService.</p>"
        },
        "diagnostics":{
          "shape":"Diagnostics",
          "documentation":"<p>Diagnostic information about the deployment lifecycle event.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp indicating when the deployment lifecycle event started.</p>"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp indicating when the deployment lifecycle event ended.</p>"
        },
        "status":{
          "shape":"LifecycleEventStatus",
          "documentation":"<p>The deployment lifecycle event status:</p> <ul> <li> <p>Pending: The deployment lifecycle event is pending.</p> </li> <li> <p>InProgress: The deployment lifecycle event is in progress.</p> </li> <li> <p>Succeeded: The deployment lifecycle event ran successfully.</p> </li> <li> <p>Failed: The deployment lifecycle event has failed.</p> </li> <li> <p>Skipped: The deployment lifecycle event has been skipped.</p> </li> <li> <p>Unknown: The deployment lifecycle event is unknown.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Information about a deployment lifecycle event.</p>"
    },
    "LifecycleEventList":{
      "type":"list",
      "member":{"shape":"LifecycleEvent"}
    },
    "LifecycleEventName":{"type":"string"},
    "LifecycleEventStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Succeeded",
        "Failed",
        "Skipped",
        "Unknown"
      ]
    },
    "LifecycleHookLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The limit for lifecycle hooks was exceeded.</p>",
      "exception":true
    },
    "LifecycleMessage":{"type":"string"},
    "ListApplicationRevisionsInput":{
      "type":"structure",
      "required":["applicationName"],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>"
        },
        "sortBy":{
          "shape":"ApplicationRevisionSortBy",
          "documentation":"<p>The column name to use to sort the list results:</p> <ul> <li> <p>registerTime: Sort by the time the revisions were registered with AWS CodeDeploy.</p> </li> <li> <p>firstUsedTime: Sort by the time the revisions were first used in a deployment.</p> </li> <li> <p>lastUsedTime: Sort by the time the revisions were last used in a deployment.</p> </li> </ul> <p>If not specified or set to null, the results will be returned in an arbitrary order.</p>"
        },
        "sortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>The order in which to sort the list results:</p> <ul> <li> <p>ascending: ascending order.</p> </li> <li> <p>descending: descending order.</p> </li> </ul> <p>If not specified, the results will be sorted in ascending order.</p> <p>If set to null, the results will be sorted in an arbitrary order.</p>"
        },
        "s3Bucket":{
          "shape":"S3Bucket",
          "documentation":"<p>An Amazon S3 bucket name to limit the search for revisions.</p> <p>If set to null, all of the user's buckets will be searched.</p>"
        },
        "s3KeyPrefix":{
          "shape":"S3Key",
          "documentation":"<p>A key prefix for the set of Amazon S3 objects to limit the search for revisions.</p>"
        },
        "deployed":{
          "shape":"ListStateFilterAction",
          "documentation":"<p>Whether to list revisions based on whether the revision is the target revision of an deployment group:</p> <ul> <li> <p>include: List revisions that are target revisions of a deployment group.</p> </li> <li> <p>exclude: Do not list revisions that are target revisions of a deployment group.</p> </li> <li> <p>ignore: List all revisions.</p> </li> </ul>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>An identifier returned from the previous list application revisions call. It can be used to return the next set of applications in the list.</p>"
        }
      },
      "documentation":"<p>Represents the input of a list application revisions operation.</p>"
    },
    "ListApplicationRevisionsOutput":{
      "type":"structure",
      "members":{
        "revisions":{
          "shape":"RevisionLocationList",
          "documentation":"<p>A list of locations that contain the matching revisions.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>If a large amount of information is returned, an identifier will also be returned. It can be used in a subsequent list application revisions call to return the next set of application revisions in the list.</p>"
        }
      },
      "documentation":"<p>Represents the output of a list application revisions operation.</p>"
    },
    "ListApplicationsInput":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>An identifier returned from the previous list applications call. It can be used to return the next set of applications in the list.</p>"
        }
      },
      "documentation":"<p>Represents the input of a list applications operation.</p>"
    },
    "ListApplicationsOutput":{
      "type":"structure",
      "members":{
        "applications":{
          "shape":"ApplicationsList",
          "documentation":"<p>A list of application names.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>If a large amount of information is returned, an identifier is also returned. It can be used in a subsequent list applications call to return the next set of applications, will also be returned. in the list.</p>"
        }
      },
      "documentation":"<p>Represents the output of a list applications operation.</p>"
    },
    "ListDeploymentConfigsInput":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>An identifier returned from the previous list deployment configurations call. It can be used to return the next set of deployment configurations in the list. </p>"
        }
      },
      "documentation":"<p>Represents the input of a list deployment configurations operation.</p>"
    },
    "ListDeploymentConfigsOutput":{
      "type":"structure",
      "members":{
        "deploymentConfigsList":{
          "shape":"DeploymentConfigsList",
          "documentation":"<p>A list of deployment configurations, including built-in configurations such as CodeDeployDefault.OneAtATime.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>If a large amount of information is returned, an identifier is also returned. It can be used in a subsequent list deployment configurations call to return the next set of deployment configurations in the list.</p>"
        }
      },
      "documentation":"<p>Represents the output of a list deployment configurations operation.</p>"
    },
    "ListDeploymentGroupsInput":{
      "type":"structure",
      "required":["applicationName"],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>An identifier returned from the previous list deployment groups call. It can be used to return the next set of deployment groups in the list.</p>"
        }
      },
      "documentation":"<p>Represents the input of a list deployment groups operation.</p>"
    },
    "ListDeploymentGroupsOutput":{
      "type":"structure",
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The application name.</p>"
        },
        "deploymentGroups":{
          "shape":"DeploymentGroupsList",
          "documentation":"<p>A list of corresponding deployment group names.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>If a large amount of information is returned, an identifier is also returned. It can be used in a subsequent list deployment groups call to return the next set of deployment groups in the list.</p>"
        }
      },
      "documentation":"<p>Represents the output of a list deployment groups operation.</p>"
    },
    "ListDeploymentInstancesInput":{
      "type":"structure",
      "required":["deploymentId"],
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p>The unique ID of a deployment.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>An identifier returned from the previous list deployment instances call. It can be used to return the next set of deployment instances in the list.</p>"
        },
        "instanceStatusFilter":{
          "shape":"InstanceStatusList",
          "documentation":"<p>A subset of instances to list by status:</p> <ul> <li> <p>Pending: Include those instance with pending deployments.</p> </li> <li> <p>InProgress: Include those instance where deployments are still in progress.</p> </li> <li> <p>Succeeded: Include those instances with successful deployments.</p> </li> <li> <p>Failed: Include those instance with failed deployments.</p> </li> <li> <p>Skipped: Include those instance with skipped deployments.</p> </li> <li> <p>Unknown: Include those instance with deployments in an unknown state.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Represents the input of a list deployment instances operation.</p>"
    },
    "ListDeploymentInstancesOutput":{
      "type":"structure",
      "members":{
        "instancesList":{
          "shape":"InstancesList",
          "documentation":"<p>A list of instance IDs.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>If a large amount of information is returned, an identifier is also returned. It can be used in a subsequent list deployment instances call to return the next set of deployment instances in the list.</p>"
        }
      },
      "documentation":"<p>Represents the output of a list deployment instances operation.</p>"
    },
    "ListDeploymentsInput":{
      "type":"structure",
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>"
        },
        "deploymentGroupName":{
          "shape":"DeploymentGroupName",
          "documentation":"<p>The name of an existing deployment group for the specified application.</p>"
        },
        "includeOnlyStatuses":{
          "shape":"DeploymentStatusList",
          "documentation":"<p>A subset of deployments to list by status:</p> <ul> <li> <p>Created: Include created deployments in the resulting list.</p> </li> <li> <p>Queued: Include queued deployments in the resulting list.</p> </li> <li> <p>In Progress: Include in-progress deployments in the resulting list.</p> </li> <li> <p>Succeeded: Include successful deployments in the resulting list.</p> </li> <li> <p>Failed: Include failed deployments in the resulting list.</p> </li> <li> <p>Stopped: Include stopped deployments in the resulting list.</p> </li> </ul>"
        },
        "createTimeRange":{
          "shape":"TimeRange",
          "documentation":"<p>A time range (start and end) for returning a subset of the list of deployments.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>An identifier returned from the previous list deployments call. It can be used to return the next set of deployments in the list.</p>"
        }
      },
      "documentation":"<p>Represents the input of a list deployments operation.</p>"
    },
    "ListDeploymentsOutput":{
      "type":"structure",
      "members":{
        "deployments":{
          "shape":"DeploymentsList",
          "documentation":"<p>A list of deployment IDs.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>If a large amount of information is returned, an identifier is also returned. It can be used in a subsequent list deployments call to return the next set of deployments in the list.</p>"
        }
      },
      "documentation":"<p>Represents the output of a list deployments operation.</p>"
    },
    "ListOnPremisesInstancesInput":{
      "type":"structure",
      "members":{
        "registrationStatus":{
          "shape":"RegistrationStatus",
[...]
