{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-04-18",
    "endpointPrefix": "cognito-idp",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Cognito Identity Provider",
    "serviceId": "Cognito Identity Provider",
    "signatureVersion": "v4",
    "targetPrefix": "AWSCognitoIdentityProviderService",
    "uid": "cognito-idp-2016-04-18"
  },
  "operations": {
    "AddCustomAttributes": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "CustomAttributes"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "CustomAttributes": {
            "type": "list",
            "member": {
              "shape": "S4"
            },
            "max": 25,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminAddUserToGroup": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username",
          "GroupName"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          },
          "GroupName": {
            "shape": "Se"
          }
        }
      }
    },
    "AdminConfirmSignUp": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminCreateUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          },
          "UserAttributes": {
            "shape": "Si"
          },
          "ValidationData": {
            "shape": "Si"
          },
          "TemporaryPassword": {
            "shape": "Sm"
          },
          "ForceAliasCreation": {
            "type": "boolean"
          },
          "MessageAction": {
            "type": "string",
            "enum": [
              "RESEND",
              "SUPPRESS"
            ]
          },
          "DesiredDeliveryMediums": {
            "type": "list",
            "member": {
              "shape": "Sq"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "Ss"
          }
        }
      }
    },
    "AdminDeleteUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          }
        }
      }
    },
    "AdminDeleteUserAttributes": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username",
          "UserAttributeNames"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          },
          "UserAttributeNames": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminDisableProviderForUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "User"
        ],
        "members": {
          "UserPoolId": {},
          "User": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminDisableUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminEnableUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminForgetDevice": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username",
          "DeviceKey"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          },
          "DeviceKey": {
            "shape": "S1a"
          }
        }
      }
    },
    "AdminGetDevice": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceKey",
          "UserPoolId",
          "Username"
        ],
        "members": {
          "DeviceKey": {
            "shape": "S1a"
          },
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Device"
        ],
        "members": {
          "Device": {
            "shape": "S1d"
          }
        }
      }
    },
    "AdminGetUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Username"
        ],
        "members": {
          "Username": {
            "shape": "Sd"
          },
          "UserAttributes": {
            "shape": "Si"
          },
          "UserCreateDate": {
            "type": "timestamp"
          },
          "UserLastModifiedDate": {
            "type": "timestamp"
          },
          "Enabled": {
            "type": "boolean"
          },
          "UserStatus": {
            "shape": "Su"
          },
          "MFAOptions": {
            "shape": "Sv"
          },
          "PreferredMfaSetting": {},
          "UserMFASettingList": {
            "shape": "S1g"
          }
        }
      }
    },
    "AdminInitiateAuth": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "ClientId",
          "AuthFlow"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ClientId": {
            "shape": "S1i"
          },
          "AuthFlow": {
            "shape": "S1j"
          },
          "AuthParameters": {
            "shape": "S1k"
          },
          "ClientMetadata": {
            "shape": "S1l"
          },
          "AnalyticsMetadata": {
            "shape": "S1m"
          },
          "ContextData": {
            "shape": "S1n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChallengeName": {
            "shape": "S1r"
          },
          "Session": {
            "shape": "S1s"
          },
          "ChallengeParameters": {
            "shape": "S1t"
          },
          "AuthenticationResult": {
            "shape": "S1u"
          }
        }
      }
    },
    "AdminLinkProviderForUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "DestinationUser",
          "SourceUser"
        ],
        "members": {
          "UserPoolId": {},
          "DestinationUser": {
            "shape": "S12"
          },
          "SourceUser": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminListDevices": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          },
          "Limit": {
            "shape": "S21"
          },
          "PaginationToken": {
            "shape": "S22"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Devices": {
            "shape": "S24"
          },
          "PaginationToken": {
            "shape": "S22"
          }
        }
      }
    },
    "AdminListGroupsForUser": {
      "input": {
        "type": "structure",
        "required": [
          "Username",
          "UserPoolId"
        ],
        "members": {
          "Username": {
            "shape": "Sd"
          },
          "UserPoolId": {
            "shape": "S2"
          },
          "Limit": {
            "shape": "S21"
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Groups": {
            "shape": "S28"
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "AdminListUserAuthEvents": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          },
          "MaxResults": {
            "shape": "S21"
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EventId": {},
                "EventType": {
                  "type": "string",
                  "enum": [
                    "SignIn",
                    "SignUp",
                    "ForgotPassword"
                  ]
                },
                "CreationDate": {
                  "type": "timestamp"
                },
                "EventResponse": {
                  "type": "string",
                  "enum": [
                    "Success",
                    "Failure"
                  ]
                },
                "EventRisk": {
                  "type": "structure",
                  "members": {
                    "RiskDecision": {
                      "type": "string",
                      "enum": [
                        "NoRisk",
                        "AccountTakeover",
                        "Block"
                      ]
                    },
                    "RiskLevel": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High"
                      ]
                    }
                  }
                },
                "ChallengeResponses": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "ChallengeName": {
                        "type": "string",
                        "enum": [
                          "Password",
                          "Mfa"
                        ]
                      },
                      "ChallengeResponse": {
                        "type": "string",
                        "enum": [
                          "Success",
                          "Failure"
                        ]
                      }
                    }
                  }
                },
                "EventContextData": {
                  "type": "structure",
                  "members": {
                    "IpAddress": {},
                    "DeviceName": {},
                    "Timezone": {},
                    "City": {},
                    "Country": {}
                  }
                },
                "EventFeedback": {
                  "type": "structure",
                  "required": [
                    "FeedbackValue",
                    "Provider"
                  ],
                  "members": {
                    "FeedbackValue": {
                      "shape": "S2s"
                    },
                    "Provider": {},
                    "FeedbackDate": {
                      "type": "timestamp"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "AdminRemoveUserFromGroup": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username",
          "GroupName"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          },
          "GroupName": {
            "shape": "Se"
          }
        }
      }
    },
    "AdminResetUserPassword": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminRespondToAuthChallenge": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "ClientId",
          "ChallengeName"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ClientId": {
            "shape": "S1i"
          },
          "ChallengeName": {
            "shape": "S1r"
          },
          "ChallengeResponses": {
            "shape": "S2x"
          },
          "Session": {
            "shape": "S1s"
          },
          "AnalyticsMetadata": {
            "shape": "S1m"
          },
          "ContextData": {
            "shape": "S1n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChallengeName": {
            "shape": "S1r"
          },
          "Session": {
            "shape": "S1s"
          },
          "ChallengeParameters": {
            "shape": "S1t"
          },
          "AuthenticationResult": {
            "shape": "S1u"
          }
        }
      }
    },
    "AdminSetUserMFAPreference": {
      "input": {
        "type": "structure",
        "required": [
          "Username",
          "UserPoolId"
        ],
        "members": {
          "SMSMfaSettings": {
            "shape": "S30"
          },
          "SoftwareTokenMfaSettings": {
            "shape": "S31"
          },
          "Username": {
            "shape": "Sd"
          },
          "UserPoolId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminSetUserSettings": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username",
          "MFAOptions"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          },
          "MFAOptions": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminUpdateAuthEventFeedback": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username",
          "EventId",
          "FeedbackValue"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          },
          "EventId": {
            "shape": "S36"
          },
          "FeedbackValue": {
            "shape": "S2s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminUpdateDeviceStatus": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username",
          "DeviceKey"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          },
          "DeviceKey": {
            "shape": "S1a"
          },
          "DeviceRememberedStatus": {
            "shape": "S39"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminUpdateUserAttributes": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username",
          "UserAttributes"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          },
          "UserAttributes": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AdminUserGlobalSignOut": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateSoftwareToken": {
      "input": {
        "type": "structure",
        "members": {
          "AccessToken": {
            "shape": "S1v"
          },
          "Session": {
            "shape": "S1s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecretCode": {
            "type": "string",
            "min": 16,
            "pattern": "[A-Za-z0-9]+",
            "sensitive": true
          },
          "Session": {
            "shape": "S1s"
          }
        }
      }
    },
    "ChangePassword": {
      "input": {
        "type": "structure",
        "required": [
          "PreviousPassword",
          "ProposedPassword",
          "AccessToken"
        ],
        "members": {
          "PreviousPassword": {
            "shape": "Sm"
          },
          "ProposedPassword": {
            "shape": "Sm"
          },
          "AccessToken": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "authtype": "none"
    },
    "ConfirmDevice": {
      "input": {
        "type": "structure",
        "required": [
          "AccessToken",
          "DeviceKey"
        ],
        "members": {
          "AccessToken": {
            "shape": "S1v"
          },
          "DeviceKey": {
            "shape": "S1a"
          },
          "DeviceSecretVerifierConfig": {
            "type": "structure",
            "members": {
              "PasswordVerifier": {},
              "Salt": {}
            }
          },
          "DeviceName": {
            "type": "string",
            "max": 1024,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserConfirmationNecessary": {
            "type": "boolean"
          }
        }
      }
    },
    "ConfirmForgotPassword": {
      "input": {
        "type": "structure",
        "required": [
          "ClientId",
          "Username",
          "ConfirmationCode",
          "Password"
        ],
        "members": {
          "ClientId": {
            "shape": "S1i"
          },
          "SecretHash": {
            "shape": "S3p"
          },
          "Username": {
            "shape": "Sd"
          },
          "ConfirmationCode": {
            "shape": "S3q"
          },
          "Password": {
            "shape": "Sm"
          },
          "AnalyticsMetadata": {
            "shape": "S1m"
          },
          "UserContextData": {
            "shape": "S3r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "authtype": "none"
    },
    "ConfirmSignUp": {
      "input": {
        "type": "structure",
        "required": [
          "ClientId",
          "Username",
          "ConfirmationCode"
        ],
        "members": {
          "ClientId": {
            "shape": "S1i"
          },
          "SecretHash": {
            "shape": "S3p"
          },
          "Username": {
            "shape": "Sd"
          },
          "ConfirmationCode": {
            "shape": "S3q"
          },
          "ForceAliasCreation": {
            "type": "boolean"
          },
          "AnalyticsMetadata": {
            "shape": "S1m"
          },
          "UserContextData": {
            "shape": "S3r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "authtype": "none"
    },
    "CreateGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "UserPoolId"
        ],
        "members": {
          "GroupName": {
            "shape": "Se"
          },
          "UserPoolId": {
            "shape": "S2"
          },
          "Description": {
            "shape": "S2a"
          },
          "RoleArn": {
            "shape": "S2b"
          },
          "Precedence": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "S29"
          }
        }
      }
    },
    "CreateIdentityProvider": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "ProviderName",
          "ProviderType",
          "ProviderDetails"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ProviderName": {
            "type": "string",
            "max": 32,
            "min": 1,
            "pattern": "[^_][\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}][^_]+"
          },
          "ProviderType": {
            "shape": "S3z"
          },
          "ProviderDetails": {
            "shape": "S40"
          },
          "AttributeMapping": {
            "shape": "S41"
          },
          "IdpIdentifiers": {
            "shape": "S43"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "IdentityProvider"
        ],
        "members": {
          "IdentityProvider": {
            "shape": "S46"
          }
        }
      }
    },
    "CreateResourceServer": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Identifier",
          "Name"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Identifier": {
            "shape": "S48"
          },
          "Name": {
            "shape": "S49"
          },
          "Scopes": {
            "shape": "S4a"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResourceServer"
        ],
        "members": {
          "ResourceServer": {
            "shape": "S4f"
          }
        }
      }
    },
    "CreateUserImportJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "UserPoolId",
          "CloudWatchLogsRoleArn"
        ],
        "members": {
          "JobName": {
            "shape": "S4h"
          },
          "UserPoolId": {
            "shape": "S2"
          },
          "CloudWatchLogsRoleArn": {
            "shape": "S2b"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserImportJob": {
            "shape": "S4j"
          }
        }
      }
    },
    "CreateUserPool": {
      "input": {
        "type": "structure",
        "required": [
          "PoolName"
        ],
        "members": {
          "PoolName": {
            "shape": "S4q"
          },
          "Policies": {
            "shape": "S4r"
          },
          "LambdaConfig": {
            "shape": "S4u"
          },
          "AutoVerifiedAttributes": {
            "shape": "S4v"
          },
          "AliasAttributes": {
            "shape": "S4x"
          },
          "UsernameAttributes": {
            "shape": "S4z"
          },
          "SmsVerificationMessage": {
            "shape": "S51"
          },
          "EmailVerificationMessage": {
            "shape": "S52"
          },
          "EmailVerificationSubject": {
            "shape": "S53"
          },
          "VerificationMessageTemplate": {
            "shape": "S54"
          },
          "SmsAuthenticationMessage": {
            "shape": "S51"
          },
          "MfaConfiguration": {
            "shape": "S58"
          },
          "DeviceConfiguration": {
            "shape": "S59"
          },
          "EmailConfiguration": {
            "shape": "S5a"
          },
          "SmsConfiguration": {
            "shape": "S5c"
          },
          "UserPoolTags": {
            "shape": "S5d"
          },
          "AdminCreateUserConfig": {
            "shape": "S5e"
          },
          "Schema": {
            "shape": "S5h"
          },
          "UserPoolAddOns": {
            "shape": "S5i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserPool": {
            "shape": "S5l"
          }
        }
      }
    },
    "CreateUserPoolClient": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "ClientName"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ClientName": {
            "shape": "S5p"
          },
          "GenerateSecret": {
            "type": "boolean"
          },
          "RefreshTokenValidity": {
            "shape": "S5r"
          },
          "ReadAttributes": {
            "shape": "S5s"
          },
          "WriteAttributes": {
            "shape": "S5s"
          },
          "ExplicitAuthFlows": {
            "shape": "S5u"
          },
          "SupportedIdentityProviders": {
            "shape": "S5w"
          },
          "CallbackURLs": {
            "shape": "S5x"
          },
          "LogoutURLs": {
            "shape": "S5z"
          },
          "DefaultRedirectURI": {
            "shape": "S5y"
          },
          "AllowedOAuthFlows": {
            "shape": "S60"
          },
          "AllowedOAuthScopes": {
            "shape": "S62"
          },
          "AllowedOAuthFlowsUserPoolClient": {
            "type": "boolean"
          },
          "AnalyticsConfiguration": {
            "shape": "S64"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserPoolClient": {
            "shape": "S67"
          }
        }
      }
    },
    "CreateUserPoolDomain": {
      "input": {
        "type": "structure",
        "required": [
          "Domain",
          "UserPoolId"
        ],
        "members": {
          "Domain": {
            "shape": "S5n"
          },
          "UserPoolId": {
            "shape": "S2"
          },
          "CustomDomainConfig": {
            "shape": "S6a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CloudFrontDomain": {
            "shape": "S5n"
          }
        }
      }
    },
    "DeleteGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "UserPoolId"
        ],
        "members": {
          "GroupName": {
            "shape": "Se"
          },
          "UserPoolId": {
            "shape": "S2"
          }
        }
      }
    },
    "DeleteIdentityProvider": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "ProviderName"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ProviderName": {
            "shape": "S13"
          }
        }
      }
    },
    "DeleteResourceServer": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Identifier"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Identifier": {
            "shape": "S48"
          }
        }
      }
    },
    "DeleteUser": {
      "input": {
        "type": "structure",
        "required": [
          "AccessToken"
        ],
        "members": {
          "AccessToken": {
            "shape": "S1v"
          }
        }
      },
      "authtype": "none"
    },
    "DeleteUserAttributes": {
      "input": {
        "type": "structure",
        "required": [
          "UserAttributeNames",
          "AccessToken"
        ],
        "members": {
          "UserAttributeNames": {
            "shape": "Sz"
          },
          "AccessToken": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "authtype": "none"
    },
    "DeleteUserPool": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          }
        }
      }
    },
    "DeleteUserPoolClient": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "ClientId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ClientId": {
            "shape": "S1i"
          }
        }
      }
    },
    "DeleteUserPoolDomain": {
      "input": {
        "type": "structure",
        "required": [
          "Domain",
          "UserPoolId"
        ],
        "members": {
          "Domain": {
            "shape": "S5n"
          },
          "UserPoolId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeIdentityProvider": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "ProviderName"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ProviderName": {
            "shape": "S13"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "IdentityProvider"
        ],
        "members": {
          "IdentityProvider": {
            "shape": "S46"
          }
        }
      }
    },
    "DescribeResourceServer": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Identifier"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Identifier": {
            "shape": "S48"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResourceServer"
        ],
        "members": {
          "ResourceServer": {
            "shape": "S4f"
          }
        }
      }
    },
    "DescribeRiskConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ClientId": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "RiskConfiguration"
        ],
        "members": {
          "RiskConfiguration": {
            "shape": "S6s"
          }
        }
      }
    },
    "DescribeUserImportJob": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "JobId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "JobId": {
            "shape": "S4k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserImportJob": {
            "shape": "S4j"
          }
        }
      }
    },
    "DescribeUserPool": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserPool": {
            "shape": "S5l"
          }
        }
      }
    },
    "DescribeUserPoolClient": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "ClientId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ClientId": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserPoolClient": {
            "shape": "S67"
          }
        }
      }
    },
    "DescribeUserPoolDomain": {
      "input": {
        "type": "structure",
        "required": [
          "Domain"
        ],
        "members": {
          "Domain": {
            "shape": "S5n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainDescription": {
            "type": "structure",
            "members": {
              "UserPoolId": {
                "shape": "S2"
              },
              "AWSAccountId": {},
              "Domain": {
                "shape": "S5n"
              },
              "S3Bucket": {
                "type": "string",
                "max": 1024,
                "min": 3,
                "pattern": "^[0-9A-Za-z\\.\\-_]*(?<!\\.)$"
              },
              "CloudFrontDistribution": {},
              "Version": {
                "type": "string",
                "max": 20,
                "min": 1
              },
              "Status": {
                "type": "string",
                "enum": [
                  "CREATING",
                  "DELETING",
                  "UPDATING",
                  "ACTIVE",
                  "FAILED"
                ]
              },
              "CustomDomainConfig": {
                "shape": "S6a"
              }
            }
          }
        }
      }
    },
    "ForgetDevice": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceKey"
        ],
        "members": {
          "AccessToken": {
            "shape": "S1v"
          },
          "DeviceKey": {
            "shape": "S1a"
          }
        }
      }
    },
    "ForgotPassword": {
      "input": {
        "type": "structure",
        "required": [
          "ClientId",
          "Username"
        ],
        "members": {
          "ClientId": {
            "shape": "S1i"
          },
          "SecretHash": {
            "shape": "S3p"
          },
          "UserContextData": {
            "shape": "S3r"
          },
          "Username": {
            "shape": "Sd"
          },
          "AnalyticsMetadata": {
            "shape": "S1m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CodeDeliveryDetails": {
            "shape": "S7q"
          }
        }
      },
      "authtype": "none"
    },
    "GetCSVHeader": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "CSVHeader": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "GetDevice": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceKey"
        ],
        "members": {
          "DeviceKey": {
            "shape": "S1a"
          },
          "AccessToken": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Device"
        ],
        "members": {
          "Device": {
            "shape": "S1d"
          }
        }
      }
    },
    "GetGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "UserPoolId"
        ],
        "members": {
          "GroupName": {
            "shape": "Se"
          },
          "UserPoolId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "S29"
          }
        }
      }
    },
    "GetIdentityProviderByIdentifier": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "IdpIdentifier"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "IdpIdentifier": {
            "shape": "S44"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "IdentityProvider"
        ],
        "members": {
          "IdentityProvider": {
            "shape": "S46"
          }
        }
      }
    },
    "GetSigningCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Certificate": {}
        }
      }
    },
    "GetUICustomization": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ClientId": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "UICustomization"
        ],
        "members": {
          "UICustomization": {
            "shape": "S84"
          }
        }
      }
    },
    "GetUser": {
      "input": {
        "type": "structure",
        "required": [
          "AccessToken"
        ],
        "members": {
          "AccessToken": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Username",
          "UserAttributes"
        ],
        "members": {
          "Username": {
            "shape": "Sd"
          },
          "UserAttributes": {
            "shape": "Si"
          },
          "MFAOptions": {
            "shape": "Sv"
          },
          "PreferredMfaSetting": {},
          "UserMFASettingList": {
            "shape": "S1g"
          }
        }
      },
      "authtype": "none"
    },
    "GetUserAttributeVerificationCode": {
      "input": {
        "type": "structure",
        "required": [
          "AccessToken",
          "AttributeName"
        ],
        "members": {
          "AccessToken": {
            "shape": "S1v"
          },
          "AttributeName": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CodeDeliveryDetails": {
            "shape": "S7q"
          }
        }
      },
      "authtype": "none"
    },
    "GetUserPoolMfaConfig": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SmsMfaConfiguration": {
            "shape": "S8e"
          },
          "SoftwareTokenMfaConfiguration": {
            "shape": "S8f"
          },
          "MfaConfiguration": {
            "shape": "S58"
          }
        }
      }
    },
    "GlobalSignOut": {
      "input": {
        "type": "structure",
        "required": [
          "AccessToken"
        ],
        "members": {
          "AccessToken": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "InitiateAuth": {
      "input": {
        "type": "structure",
        "required": [
          "AuthFlow",
          "ClientId"
        ],
        "members": {
          "AuthFlow": {
            "shape": "S1j"
          },
          "AuthParameters": {
            "shape": "S1k"
          },
          "ClientMetadata": {
            "shape": "S1l"
          },
          "ClientId": {
            "shape": "S1i"
          },
          "AnalyticsMetadata": {
            "shape": "S1m"
          },
          "UserContextData": {
            "shape": "S3r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChallengeName": {
            "shape": "S1r"
          },
          "Session": {
            "shape": "S1s"
          },
          "ChallengeParameters": {
            "shape": "S1t"
          },
          "AuthenticationResult": {
            "shape": "S1u"
          }
        }
      }
    },
    "ListDevices": {
      "input": {
        "type": "structure",
        "required": [
          "AccessToken"
        ],
        "members": {
          "AccessToken": {
            "shape": "S1v"
          },
          "Limit": {
            "shape": "S21"
          },
          "PaginationToken": {
            "shape": "S22"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Devices": {
            "shape": "S24"
          },
          "PaginationToken": {
            "shape": "S22"
          }
        }
      }
    },
    "ListGroups": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Limit": {
            "shape": "S21"
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Groups": {
            "shape": "S28"
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "ListIdentityProviders": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "MaxResults": {
            "type": "integer",
            "max": 60,
            "min": 1
          },
          "NextToken": {
            "shape": "S8q"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Providers"
        ],
        "members": {
          "Providers": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ProviderName": {
                  "shape": "S13"
                },
                "ProviderType": {
                  "shape": "S3z"
                },
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "CreationDate": {
                  "type": "timestamp"
                }
              }
            },
            "max": 50,
            "min": 0
          },
          "NextToken": {
            "shape": "S8q"
          }
        }
      }
    },
    "ListResourceServers": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "MaxResults": {
            "type": "integer",
            "max": 50,
            "min": 1
          },
          "NextToken": {
            "shape": "S8q"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResourceServers"
        ],
        "members": {
          "ResourceServers": {
            "type": "list",
            "member": {
              "shape": "S4f"
            }
          },
          "NextToken": {
            "shape": "S8q"
          }
        }
      }
    },
    "ListUserImportJobs": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "MaxResults"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "MaxResults": {
            "shape": "S8z"
          },
          "PaginationToken": {
            "shape": "S8q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserImportJobs": {
            "type": "list",
            "member": {
              "shape": "S4j"
            },
            "max": 50,
            "min": 1
          },
          "PaginationToken": {
            "shape": "S8q"
          }
        }
      }
    },
    "ListUserPoolClients": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "MaxResults": {
            "type": "integer",
            "max": 60,
            "min": 1
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserPoolClients": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ClientId": {
                  "shape": "S1i"
                },
                "UserPoolId": {
                  "shape": "S2"
                },
                "ClientName": {
                  "shape": "S5p"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "ListUserPools": {
      "input": {
        "type": "structure",
        "required": [
          "MaxResults"
        ],
        "members": {
          "NextToken": {
            "shape": "S8q"
          },
          "MaxResults": {
            "shape": "S8z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserPools": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S4q"
                },
                "LambdaConfig": {
                  "shape": "S4u"
                },
                "Status": {
                  "shape": "S5m"
                },
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "CreationDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S8q"
          }
        }
      }
    },
    "ListUsers": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "AttributesToGet": {
            "type": "list",
            "member": {
              "shape": "Sk"
            }
          },
          "Limit": {
            "shape": "S21"
          },
          "PaginationToken": {
            "shape": "S22"
          },
          "Filter": {
            "type": "string",
            "max": 256
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Users": {
            "shape": "S9f"
          },
          "PaginationToken": {
            "shape": "S22"
          }
        }
      }
    },
    "ListUsersInGroup": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "GroupName"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "GroupName": {
            "shape": "Se"
          },
          "Limit": {
            "shape": "S21"
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Users": {
            "shape": "S9f"
          },
          "NextToken": {
            "shape": "S26"
          }
        }
      }
    },
    "ResendConfirmationCode": {
      "input": {
        "type": "structure",
        "required": [
          "ClientId",
          "Username"
        ],
        "members": {
          "ClientId": {
            "shape": "S1i"
          },
          "SecretHash": {
            "shape": "S3p"
          },
          "UserContextData": {
            "shape": "S3r"
          },
          "Username": {
            "shape": "Sd"
          },
          "AnalyticsMetadata": {
            "shape": "S1m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CodeDeliveryDetails": {
            "shape": "S7q"
          }
        }
      },
      "authtype": "none"
    },
    "RespondToAuthChallenge": {
      "input": {
        "type": "structure",
        "required": [
          "ClientId",
          "ChallengeName"
        ],
        "members": {
          "ClientId": {
            "shape": "S1i"
          },
          "ChallengeName": {
            "shape": "S1r"
          },
          "Session": {
            "shape": "S1s"
          },
          "ChallengeResponses": {
            "shape": "S2x"
          },
          "AnalyticsMetadata": {
            "shape": "S1m"
          },
          "UserContextData": {
            "shape": "S3r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChallengeName": {
            "shape": "S1r"
          },
          "Session": {
            "shape": "S1s"
          },
          "ChallengeParameters": {
            "shape": "S1t"
          },
          "AuthenticationResult": {
            "shape": "S1u"
          }
        }
      }
    },
    "SetRiskConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ClientId": {
            "shape": "S1i"
          },
          "CompromisedCredentialsRiskConfiguration": {
            "shape": "S6t"
          },
          "AccountTakeoverRiskConfiguration": {
            "shape": "S6y"
          },
          "RiskExceptionConfiguration": {
            "shape": "S77"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "RiskConfiguration"
        ],
        "members": {
          "RiskConfiguration": {
            "shape": "S6s"
          }
        }
      }
    },
    "SetUICustomization": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ClientId": {
            "shape": "S1i"
          },
          "CSS": {},
          "ImageFile": {
            "type": "blob"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "UICustomization"
        ],
        "members": {
          "UICustomization": {
            "shape": "S84"
          }
        }
      }
    },
    "SetUserMFAPreference": {
      "input": {
        "type": "structure",
        "required": [
          "AccessToken"
        ],
        "members": {
          "SMSMfaSettings": {
            "shape": "S30"
          },
          "SoftwareTokenMfaSettings": {
            "shape": "S31"
          },
          "AccessToken": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SetUserPoolMfaConfig": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "SmsMfaConfiguration": {
            "shape": "S8e"
          },
          "SoftwareTokenMfaConfiguration": {
            "shape": "S8f"
          },
          "MfaConfiguration": {
            "shape": "S58"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SmsMfaConfiguration": {
            "shape": "S8e"
          },
          "SoftwareTokenMfaConfiguration": {
            "shape": "S8f"
          },
          "MfaConfiguration": {
            "shape": "S58"
          }
        }
      }
    },
    "SetUserSettings": {
      "input": {
        "type": "structure",
        "required": [
          "AccessToken",
          "MFAOptions"
        ],
        "members": {
          "AccessToken": {
            "shape": "S1v"
          },
          "MFAOptions": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "authtype": "none"
    },
    "SignUp": {
      "input": {
        "type": "structure",
        "required": [
          "ClientId",
          "Username",
          "Password"
        ],
        "members": {
          "ClientId": {
            "shape": "S1i"
          },
          "SecretHash": {
            "shape": "S3p"
          },
          "Username": {
            "shape": "Sd"
          },
          "Password": {
            "shape": "Sm"
          },
          "UserAttributes": {
            "shape": "Si"
          },
          "ValidationData": {
            "shape": "Si"
          },
          "AnalyticsMetadata": {
            "shape": "S1m"
          },
          "UserContextData": {
            "shape": "S3r"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "UserConfirmed",
          "UserSub"
        ],
        "members": {
          "UserConfirmed": {
            "type": "boolean"
          },
          "CodeDeliveryDetails": {
            "shape": "S7q"
          },
          "UserSub": {}
        }
      },
      "authtype": "none"
    },
    "StartUserImportJob": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "JobId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "JobId": {
            "shape": "S4k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserImportJob": {
            "shape": "S4j"
          }
        }
      }
    },
    "StopUserImportJob": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "JobId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "JobId": {
            "shape": "S4k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserImportJob": {
            "shape": "S4j"
          }
        }
      }
    },
    "UpdateAuthEventFeedback": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Username",
          "EventId",
          "FeedbackToken",
          "FeedbackValue"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Username": {
            "shape": "Sd"
          },
          "EventId": {
            "shape": "S36"
          },
          "FeedbackToken": {
            "shape": "S1v"
          },
          "FeedbackValue": {
            "shape": "S2s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDeviceStatus": {
      "input": {
        "type": "structure",
        "required": [
          "AccessToken",
          "DeviceKey"
        ],
        "members": {
          "AccessToken": {
            "shape": "S1v"
          },
          "DeviceKey": {
            "shape": "S1a"
          },
          "DeviceRememberedStatus": {
            "shape": "S39"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "UserPoolId"
        ],
        "members": {
          "GroupName": {
            "shape": "Se"
          },
          "UserPoolId": {
            "shape": "S2"
          },
          "Description": {
            "shape": "S2a"
          },
          "RoleArn": {
            "shape": "S2b"
          },
          "Precedence": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "S29"
          }
        }
      }
    },
    "UpdateIdentityProvider": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "ProviderName"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ProviderName": {
            "shape": "S13"
          },
          "ProviderDetails": {
            "shape": "S40"
          },
          "AttributeMapping": {
            "shape": "S41"
          },
          "IdpIdentifiers": {
            "shape": "S43"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "IdentityProvider"
        ],
        "members": {
          "IdentityProvider": {
            "shape": "S46"
          }
        }
      }
    },
    "UpdateResourceServer": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "Identifier",
          "Name"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Identifier": {
            "shape": "S48"
          },
          "Name": {
            "shape": "S49"
          },
          "Scopes": {
            "shape": "S4a"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResourceServer"
        ],
        "members": {
          "ResourceServer": {
            "shape": "S4f"
          }
        }
      }
    },
    "UpdateUserAttributes": {
      "input": {
        "type": "structure",
        "required": [
          "UserAttributes",
          "AccessToken"
        ],
        "members": {
          "UserAttributes": {
            "shape": "Si"
          },
          "AccessToken": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CodeDeliveryDetailsList": {
            "type": "list",
            "member": {
              "shape": "S7q"
            }
          }
        }
      },
      "authtype": "none"
    },
    "UpdateUserPool": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "Policies": {
            "shape": "S4r"
          },
          "LambdaConfig": {
            "shape": "S4u"
          },
          "AutoVerifiedAttributes": {
            "shape": "S4v"
          },
          "SmsVerificationMessage": {
            "shape": "S51"
          },
          "EmailVerificationMessage": {
            "shape": "S52"
          },
          "EmailVerificationSubject": {
            "shape": "S53"
          },
          "VerificationMessageTemplate": {
            "shape": "S54"
          },
          "SmsAuthenticationMessage": {
            "shape": "S51"
          },
          "MfaConfiguration": {
            "shape": "S58"
          },
          "DeviceConfiguration": {
            "shape": "S59"
          },
          "EmailConfiguration": {
            "shape": "S5a"
          },
          "SmsConfiguration": {
            "shape": "S5c"
          },
          "UserPoolTags": {
            "shape": "S5d"
          },
          "AdminCreateUserConfig": {
            "shape": "S5e"
          },
          "UserPoolAddOns": {
            "shape": "S5i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateUserPoolClient": {
      "input": {
        "type": "structure",
        "required": [
          "UserPoolId",
          "ClientId"
        ],
        "members": {
          "UserPoolId": {
            "shape": "S2"
          },
          "ClientId": {
            "shape": "S1i"
          },
          "ClientName": {
            "shape": "S5p"
          },
          "RefreshTokenValidity": {
            "shape": "S5r"
          },
          "ReadAttributes": {
            "shape": "S5s"
          },
          "WriteAttributes": {
            "shape": "S5s"
          },
          "ExplicitAuthFlows": {
            "shape": "S5u"
          },
          "SupportedIdentityProviders": {
            "shape": "S5w"
          },
          "CallbackURLs": {
            "shape": "S5x"
          },
          "LogoutURLs": {
            "shape": "S5z"
          },
          "DefaultRedirectURI": {
            "shape": "S5y"
          },
          "AllowedOAuthFlows": {
            "shape": "S60"
          },
          "AllowedOAuthScopes": {
            "shape": "S62"
          },
          "AllowedOAuthFlowsUserPoolClient": {
            "type": "boolean"
          },
          "AnalyticsConfiguration": {
            "shape": "S64"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserPoolClient": {
            "shape": "S67"
          }
        }
      }
    },
    "VerifySoftwareToken": {
      "input": {
        "type": "structure",
        "required": [
          "UserCode"
        ],
        "members": {
          "AccessToken": {
            "shape": "S1v"
          },
          "Session": {
            "shape": "S1s"
          },
          "UserCode": {
            "type": "string",
            "max": 6,
            "min": 6,
            "pattern": "[0-9]+"
          },
          "FriendlyDeviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "ERROR"
            ]
          },
          "Session": {
            "shape": "S1s"
          }
        }
      }
    },
    "VerifyUserAttribute": {
      "input": {
        "type": "structure",
        "required": [
          "AccessToken",
          "AttributeName",
          "Code"
        ],
        "members": {
          "AccessToken": {
            "shape": "S1v"
          },
          "AttributeName": {
            "shape": "Sk"
          },
          "Code": {
            "shape": "S3q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "authtype": "none"
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 55,
      "min": 1,
      "pattern": "[\\w-]+_[0-9a-zA-Z]+"
    },
    "S4": {
      "type": "structure",
      "members": {
        "Name": {
          "type": "string",
          "max": 20,
          "min": 1,
          "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
        },
        "AttributeDataType": {
          "type": "string",
          "enum": [
            "String",
            "Number",
            "DateTime",
            "Boolean"
          ]
        },
        "DeveloperOnlyAttribute": {
          "type": "boolean"
        },
        "Mutable": {
          "type": "boolean"
        },
        "Required": {
          "type": "boolean"
        },
        "NumberAttributeConstraints": {
          "type": "structure",
          "members": {
            "MinValue": {},
            "MaxValue": {}
          }
        },
        "StringAttributeConstraints": {
          "type": "structure",
          "members": {
            "MinLength": {},
            "MaxLength": {}
          }
        }
      }
    },
    "Sd": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
      "sensitive": true
    },
    "Se": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
    },
    "Si": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "Sk"
          },
          "Value": {
            "type": "string",
            "max": 2048,
            "sensitive": true
          }
        }
      }
    },
    "Sk": {
      "type": "string",
      "max": 32,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
    },
    "Sm": {
      "type": "string",
      "max": 256,
      "min": 6,
      "pattern": "[\\S]+",
      "sensitive": true
    },
    "Sq": {
      "type": "string",
      "enum": [
        "SMS",
        "EMAIL"
      ]
    },
    "Ss": {
      "type": "structure",
      "members": {
        "Username": {
          "shape": "Sd"
        },
        "Attributes": {
          "shape": "Si"
        },
        "UserCreateDate": {
          "type": "timestamp"
        },
        "UserLastModifiedDate": {
          "type": "timestamp"
        },
        "Enabled": {
          "type": "boolean"
        },
        "UserStatus": {
          "shape": "Su"
        },
        "MFAOptions": {
          "shape": "Sv"
        }
      }
    },
    "Su": {
      "type": "string",
      "enum": [
        "UNCONFIRMED",
        "CONFIRMED",
        "ARCHIVED",
        "COMPROMISED",
        "UNKNOWN",
        "RESET_REQUIRED",
        "FORCE_CHANGE_PASSWORD"
      ]
    },
    "Sv": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "DeliveryMedium": {
            "shape": "Sq"
          },
          "AttributeName": {
            "shape": "Sk"
          }
        }
      }
    },
    "Sz": {
      "type": "list",
      "member": {
        "shape": "Sk"
      }
    },
    "S12": {
      "type": "structure",
      "members": {
        "ProviderName": {
          "shape": "S13"
        },
        "ProviderAttributeName": {},
        "ProviderAttributeValue": {}
      }
    },
    "S13": {
      "type": "string",
      "max": 32,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
    },
    "S1a": {
      "type": "string",
      "max": 55,
      "min": 1,
      "pattern": "[\\w-]+_[0-9a-f-]+"
    },
    "S1d": {
      "type": "structure",
      "members": {
        "DeviceKey": {
          "shape": "S1a"
        },
        "DeviceAttributes": {
          "shape": "Si"
        },
        "DeviceCreateDate": {
          "type": "timestamp"
        },
        "DeviceLastModifiedDate": {
          "type": "timestamp"
        },
        "DeviceLastAuthenticatedDate": {
          "type": "timestamp"
        }
      }
    },
    "S1g": {
      "type": "list",
      "member": {}
    },
    "S1i": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w+]+",
      "sensitive": true
    },
    "S1j": {
      "type": "string",
      "enum": [
        "USER_SRP_AUTH",
        "REFRESH_TOKEN_AUTH",
        "REFRESH_TOKEN",
        "CUSTOM_AUTH",
        "ADMIN_NO_SRP_AUTH",
        "USER_PASSWORD_AUTH"
      ]
    },
    "S1k": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1l": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1m": {
      "type": "structure",
      "members": {
        "AnalyticsEndpointId": {}
      }
    },
    "S1n": {
      "type": "structure",
      "required": [
        "IpAddress",
        "ServerName",
        "ServerPath",
        "HttpHeaders"
      ],
      "members": {
        "IpAddress": {},
        "ServerName": {},
        "ServerPath": {},
        "HttpHeaders": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "headerName": {},
              "headerValue": {}
            }
          }
        },
        "EncodedData": {}
      }
    },
    "S1r": {
      "type": "string",
      "enum": [
        "SMS_MFA",
        "SOFTWARE_TOKEN_MFA",
        "SELECT_MFA_TYPE",
        "MFA_SETUP",
        "PASSWORD_VERIFIER",
        "CUSTOM_CHALLENGE",
        "DEVICE_SRP_AUTH",
        "DEVICE_PASSWORD_VERIFIER",
        "ADMIN_NO_SRP_AUTH",
        "NEW_PASSWORD_REQUIRED"
      ]
    },
    "S1s": {
      "type": "string",
      "max": 2048,
      "min": 20
    },
    "S1t": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1u": {
      "type": "structure",
      "members": {
        "AccessToken": {
          "shape": "S1v"
        },
        "ExpiresIn": {
          "type": "integer"
        },
        "TokenType": {},
        "RefreshToken": {
          "shape": "S1v"
        },
        "IdToken": {
          "shape": "S1v"
        },
        "NewDeviceMetadata": {
          "type": "structure",
          "members": {
            "DeviceKey": {
              "shape": "S1a"
            },
            "DeviceGroupKey": {}
          }
        }
      }
    },
    "S1v": {
      "type": "string",
      "pattern": "[A-Za-z0-9-_=.]+",
      "sensitive": true
    },
    "S21": {
      "type": "integer",
      "max": 60,
      "min": 0
    },
    "S22": {
      "type": "string",
      "min": 1,
      "pattern": "[\\S]+"
    },
    "S24": {
      "type": "list",
      "member": {
        "shape": "S1d"
      }
    },
    "S26": {
      "type": "string",
      "min": 1,
      "pattern": "[\\S]+"
    },
    "S28": {
      "type": "list",
      "member": {
        "shape": "S29"
      }
    },
    "S29": {
      "type": "structure",
      "members": {
        "GroupName": {
          "shape": "Se"
        },
        "UserPoolId": {
          "shape": "S2"
        },
        "Description": {
          "shape": "S2a"
        },
        "RoleArn": {
          "shape": "S2b"
        },
        "Precedence": {
          "shape": "S2c"
        },
        "LastModifiedDate": {
          "type": "timestamp"
        },
        "CreationDate": {
          "type": "timestamp"
        }
      }
    },
    "S2a": {
      "type": "string",
      "max": 2048
    },
    "S2b": {
      "type": "string",
      "max": 2048,
      "min": 20,
      "pattern": "arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:([\\w+=/,.@-]*)?:[0-9]+:[\\w+=/,.@-]+(:[\\w+=/,.@-]+)?(:[\\w+=/,.@-]+)?"
    },
    "S2c": {
      "type": "integer",
      "min": 0
    },
    "S2s": {
      "type": "string",
      "enum": [
        "Valid",
        "Invalid"
      ]
    },
    "S2x": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S30": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "PreferredMfa": {
          "type": "boolean"
        }
      }
    },
    "S31": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "PreferredMfa": {
          "type": "boolean"
        }
      }
    },
    "S36": {
      "type": "string",
      "max": 50,
      "min": 1,
      "pattern": "[\\w+-]+"
    },
    "S39": {
      "type": "string",
      "enum": [
        "remembered",
        "not_remembered"
      ]
    },
    "S3p": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w+=/]+",
      "sensitive": true
    },
    "S3q": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "[\\S]+"
    },
    "S3r": {
      "type": "structure",
      "members": {
        "EncodedData": {}
      }
    },
    "S3z": {
      "type": "string",
      "enum": [
        "SAML",
        "Facebook",
        "Google",
        "LoginWithAmazon",
        "OIDC"
      ]
    },
    "S40": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S41": {
      "type": "map",
      "key": {
        "type": "string",
        "max": 32,
        "min": 1
      },
      "value": {}
    },
    "S43": {
      "type": "list",
      "member": {
        "shape": "S44"
      },
      "max": 50,
      "min": 0
    },
    "S44": {
      "type": "string",
      "max": 40,
      "min": 1,
      "pattern": "[\\w\\s+=.@-]+"
    },
    "S46": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "shape": "S2"
        },
        "ProviderName": {
          "shape": "S13"
        },
        "ProviderType": {
          "shape": "S3z"
        },
        "ProviderDetails": {
          "shape": "S40"
        },
        "AttributeMapping": {
          "shape": "S41"
        },
        "IdpIdentifiers": {
          "shape": "S43"
        },
        "LastModifiedDate": {
          "type": "timestamp"
        },
        "CreationDate": {
          "type": "timestamp"
        }
      }
    },
    "S48": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[\\x21\\x23-\\x5B\\x5D-\\x7E]+"
    },
    "S49": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[\\w\\s+=,.@-]+"
    },
    "S4a": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ScopeName",
          "ScopeDescription"
        ],
        "members": {
          "ScopeName": {
            "type": "string",
            "max": 256,
            "min": 1,
            "pattern": "[\\x21\\x23-\\x2E\\x30-\\x5B\\x5D-\\x7E]+"
          },
          "ScopeDescription": {
            "type": "string",
            "max": 256,
            "min": 1
          }
        }
      },
      "max": 25
    },
    "S4f": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "shape": "S2"
        },
        "Identifier": {
          "shape": "S48"
        },
        "Name": {
          "shape": "S49"
        },
        "Scopes": {
          "shape": "S4a"
        }
      }
    },
    "S4h": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w\\s+=,.@-]+"
    },
    "S4j": {
      "type": "structure",
      "members": {
        "JobName": {
          "shape": "S4h"
        },
        "JobId": {
          "shape": "S4k"
        },
        "UserPoolId": {
          "shape": "S2"
        },
        "PreSignedUrl": {
          "type": "string",
          "max": 2048,
          "min": 0
        },
        "CreationDate": {
          "type": "timestamp"
        },
        "StartDate": {
          "type": "timestamp"
        },
        "CompletionDate": {
          "type": "timestamp"
        },
        "Status": {
          "type": "string",
          "enum": [
            "Created",
            "Pending",
            "InProgress",
            "Stopping",
            "Expired",
            "Stopped",
            "Failed",
            "Succeeded"
          ]
        },
        "CloudWatchLogsRoleArn": {
          "shape": "S2b"
        },
        "ImportedUsers": {
          "type": "long"
        },
        "SkippedUsers": {
          "type": "long"
        },
        "FailedUsers": {
          "type": "long"
        },
        "CompletionMessage": {
          "type": "string",
          "max": 128,
          "min": 1,
          "pattern": "[\\w]+"
        }
      }
    },
    "S4k": {
      "type": "string",
      "max": 55,
      "min": 1,
      "pattern": "import-[0-9a-zA-Z-]+"
    },
    "S4q": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w\\s+=,.@-]+"
    },
    "S4r": {
      "type": "structure",
      "members": {
        "PasswordPolicy": {
          "type": "structure",
          "members": {
            "MinimumLength": {
              "type": "integer",
              "max": 99,
              "min": 6
            },
            "RequireUppercase": {
              "type": "boolean"
            },
            "RequireLowercase": {
              "type": "boolean"
            },
            "RequireNumbers": {
              "type": "boolean"
            },
            "RequireSymbols": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "S4u": {
      "type": "structure",
      "members": {
        "PreSignUp": {
          "shape": "S2b"
        },
        "CustomMessage": {
          "shape": "S2b"
        },
        "PostConfirmation": {
          "shape": "S2b"
        },
        "PreAuthentication": {
          "shape": "S2b"
        },
        "PostAuthentication": {
          "shape": "S2b"
        },
        "DefineAuthChallenge": {
          "shape": "S2b"
        },
        "CreateAuthChallenge": {
          "shape": "S2b"
        },
        "VerifyAuthChallengeResponse": {
          "shape": "S2b"
        },
        "PreTokenGeneration": {
          "shape": "S2b"
        },
        "UserMigration": {
          "shape": "S2b"
        }
      }
    },
    "S4v": {
      "type": "list",
      "member": {
        "type": "string",
        "enum": [
          "phone_number",
          "email"
        ]
      }
    },
    "S4x": {
      "type": "list",
      "member": {
        "type": "string",
        "enum": [
          "phone_number",
          "email",
          "preferred_username"
        ]
      }
    },
    "S4z": {
      "type": "list",
      "member": {
        "type": "string",
        "enum": [
          "phone_number",
          "email"
        ]
      }
    },
    "S51": {
      "type": "string",
      "max": 140,
      "min": 6,
      "pattern": ".*\\{####\\}.*"
    },
    "S52": {
      "type": "string",
      "max": 20000,
      "min": 6,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]*\\{####\\}[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]*"
    },
    "S53": {
      "type": "string",
      "max": 140,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s]+"
    },
    "S54": {
      "type": "structure",
      "members": {
        "SmsMessage": {
          "shape": "S51"
        },
        "EmailMessage": {
          "shape": "S52"
        },
        "EmailSubject": {
          "shape": "S53"
        },
        "EmailMessageByLink": {
          "type": "string",
          "max": 20000,
          "min": 6,
          "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]*\\{##[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]*##\\}[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]*"
        },
        "EmailSubjectByLink": {
          "type": "string",
          "max": 140,
          "min": 1,
          "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s]+"
        },
        "DefaultEmailOption": {
          "type": "string",
          "enum": [
            "CONFIRM_WITH_LINK",
            "CONFIRM_WITH_CODE"
          ]
        }
      }
    },
    "S58": {
      "type": "string",
      "enum": [
        "OFF",
        "ON",
        "OPTIONAL"
      ]
    },
    "S59": {
      "type": "structure",
      "members": {
        "ChallengeRequiredOnNewDevice": {
          "type": "boolean"
        },
        "DeviceOnlyRememberedOnUserPrompt": {
          "type": "boolean"
        }
      }
    },
    "S5a": {
      "type": "structure",
      "members": {
        "SourceArn": {
          "shape": "S2b"
        },
        "ReplyToEmailAddress": {
          "type": "string",
          "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+@[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
        }
      }
    },
    "S5c": {
      "type": "structure",
      "required": [
        "SnsCallerArn"
      ],
      "members": {
        "SnsCallerArn": {
          "shape": "S2b"
        },
        "ExternalId": {}
      }
    },
    "S5d": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S5e": {
      "type": "structure",
      "members": {
        "AllowAdminCreateUserOnly": {
          "type": "boolean"
        },
        "UnusedAccountValidityDays": {
          "type": "integer",
          "max": 365,
          "min": 0
        },
        "InviteMessageTemplate": {
          "type": "structure",
          "members": {
            "SMSMessage": {
              "shape": "S51"
            },
            "EmailMessage": {
              "shape": "S52"
            },
            "EmailSubject": {
              "shape": "S53"
            }
          }
        }
      }
    },
    "S5h": {
      "type": "list",
      "member": {
        "shape": "S4"
      },
      "max": 50,
      "min": 1
    },
    "S5i": {
      "type": "structure",
      "required": [
        "AdvancedSecurityMode"
      ],
      "members": {
        "AdvancedSecurityMode": {
          "type": "string",
          "enum": [
            "OFF",
            "AUDIT",
            "ENFORCED"
          ]
        }
      }
    },
    "S5l": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S2"
        },
        "Name": {
          "shape": "S4q"
        },
        "Policies": {
          "shape": "S4r"
        },
        "LambdaConfig": {
          "shape": "S4u"
        },
        "Status": {
          "shape": "S5m"
        },
        "LastModifiedDate": {
          "type": "timestamp"
        },
        "CreationDate": {
          "type": "timestamp"
        },
        "SchemaAttributes": {
          "shape": "S5h"
        },
        "AutoVerifiedAttributes": {
          "shape": "S4v"
        },
        "AliasAttributes": {
          "shape": "S4x"
        },
        "UsernameAttributes": {
          "shape": "S4z"
        },
        "SmsVerificationMessage": {
          "shape": "S51"
        },
        "EmailVerificationMessage": {
          "shape": "S52"
        },
        "EmailVerificationSubject": {
          "shape": "S53"
        },
        "VerificationMessageTemplate": {
          "shape": "S54"
        },
        "SmsAuthenticationMessage": {
          "shape": "S51"
        },
        "MfaConfiguration": {
          "shape": "S58"
        },
        "DeviceConfiguration": {
          "shape": "S59"
        },
        "EstimatedNumberOfUsers": {
          "type": "integer"
        },
        "EmailConfiguration": {
          "shape": "S5a"
        },
        "SmsConfiguration": {
          "shape": "S5c"
        },
        "UserPoolTags": {
          "shape": "S5d"
        },
        "SmsConfigurationFailure": {},
        "EmailConfigurationFailure": {},
        "Domain": {
          "shape": "S5n"
        },
        "CustomDomain": {
          "shape": "S5n"
        },
        "AdminCreateUserConfig": {
          "shape": "S5e"
        },
        "UserPoolAddOns": {
          "shape": "S5i"
        },
        "Arn": {
          "shape": "S2b"
        }
      }
    },
    "S5m": {
      "type": "string",
      "enum": [
        "Enabled",
        "Disabled"
      ]
    },
    "S5n": {
      "type": "string",
      "max": 63,
      "min": 1,
      "pattern": "^[a-z0-9](?:[a-z0-9\\-]{0,61}[a-z0-9])?$"
    },
    "S5p": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w\\s+=,.@-]+"
    },
    "S5r": {
      "type": "integer",
      "max": 3650,
      "min": 0
    },
    "S5s": {
      "type": "list",
      "member": {
        "type": "string",
        "max": 2048,
        "min": 1
      }
    },
    "S5u": {
      "type": "list",
      "member": {
        "type": "string",
        "enum": [
          "ADMIN_NO_SRP_AUTH",
          "CUSTOM_AUTH_FLOW_ONLY",
          "USER_PASSWORD_AUTH"
        ]
      }
    },
    "S5w": {
      "type": "list",
      "member": {
        "shape": "S13"
      }
    },
    "S5x": {
      "type": "list",
      "member": {
        "shape": "S5y"
      },
      "max": 100,
      "min": 0
    },
    "S5y": {
      "type": "string",
      "max": 1024,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
    },
    "S5z": {
      "type": "list",
      "member": {
        "shape": "S5y"
      },
      "max": 100,
      "min": 0
    },
    "S60": {
      "type": "list",
      "member": {
        "type": "string",
        "enum": [
          "code",
          "implicit",
          "client_credentials"
        ]
      },
      "max": 3,
      "min": 0
    },
    "S62": {
      "type": "list",
      "member": {
        "type": "string",
        "max": 256,
        "min": 1,
        "pattern": "[\\x21\\x23-\\x5B\\x5D-\\x7E]+"
      },
      "max": 25
    },
    "S64": {
      "type": "structure",
      "required": [
        "ApplicationId",
        "RoleArn",
        "ExternalId"
      ],
      "members": {
        "ApplicationId": {
          "type": "string",
          "pattern": "^[0-9a-fA-F]+$"
        },
        "RoleArn": {
          "shape": "S2b"
        },
        "ExternalId": {},
        "UserDataShared": {
          "type": "boolean"
        }
      }
    },
    "S67": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "shape": "S2"
        },
        "ClientName": {
          "shape": "S5p"
        },
        "ClientId": {
          "shape": "S1i"
        },
        "ClientSecret": {
          "type": "string",
          "max": 64,
          "min": 1,
          "pattern": "[\\w+]+",
          "sensitive": true
        },
        "LastModifiedDate": {
          "type": "timestamp"
        },
        "CreationDate": {
          "type": "timestamp"
        },
        "RefreshTokenValidity": {
          "shape": "S5r"
        },
        "ReadAttributes": {
          "shape": "S5s"
        },
        "WriteAttributes": {
          "shape": "S5s"
        },
        "ExplicitAuthFlows": {
          "shape": "S5u"
        },
        "SupportedIdentityProviders": {
          "shape": "S5w"
        },
        "CallbackURLs": {
          "shape": "S5x"
        },
        "LogoutURLs": {
          "shape": "S5z"
        },
        "DefaultRedirectURI": {
          "shape": "S5y"
        },
        "AllowedOAuthFlows": {
          "shape": "S60"
        },
        "AllowedOAuthScopes": {
          "shape": "S62"
        },
        "AllowedOAuthFlowsUserPoolClient": {
          "type": "boolean"
        },
        "AnalyticsConfiguration": {
          "shape": "S64"
        }
      }
    },
    "S6a": {
      "type": "structure",
      "required": [
        "CertificateArn"
      ],
      "members": {
        "CertificateArn": {
          "shape": "S2b"
        }
      }
    },
    "S6s": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "shape": "S2"
        },
        "ClientId": {
          "shape": "S1i"
        },
        "CompromisedCredentialsRiskConfiguration": {
          "shape": "S6t"
        },
        "AccountTakeoverRiskConfiguration": {
          "shape": "S6y"
        },
        "RiskExceptionConfiguration": {
          "shape": "S77"
        },
        "LastModifiedDate": {
          "type": "timestamp"
        }
      }
    },
    "S6t": {
      "type": "structure",
      "required": [
        "Actions"
      ],
      "members": {
        "EventFilter": {
          "type": "list",
          "member": {
            "type": "string",
            "enum": [
              "SIGN_IN",
              "PASSWORD_CHANGE",
              "SIGN_UP"
            ]
          }
        },
        "Actions": {
          "type": "structure",
          "required": [
            "EventAction"
          ],
          "members": {
            "EventAction": {
              "type": "string",
              "enum": [
                "BLOCK",
                "NO_ACTION"
              ]
            }
          }
        }
      }
    },
    "S6y": {
      "type": "structure",
      "required": [
        "Actions"
      ],
      "members": {
        "NotifyConfiguration": {
          "type": "structure",
          "required": [
            "SourceArn"
          ],
          "members": {
            "From": {},
            "ReplyTo": {},
            "SourceArn": {
              "shape": "S2b"
            },
            "BlockEmail": {
              "shape": "S70"
            },
            "NoActionEmail": {
              "shape": "S70"
            },
            "MfaEmail": {
              "shape": "S70"
            }
          }
        },
        "Actions": {
          "type": "structure",
          "members": {
            "LowAction": {
              "shape": "S74"
            },
            "MediumAction": {
              "shape": "S74"
            },
            "HighAction": {
              "shape": "S74"
            }
          }
        }
      }
    },
    "S70": {
      "type": "structure",
      "required": [
        "Subject"
      ],
      "members": {
        "Subject": {
          "type": "string",
          "max": 140,
          "min": 1,
          "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s]+"
        },
        "HtmlBody": {
          "shape": "S72"
        },
        "TextBody": {
          "shape": "S72"
        }
      }
    },
    "S72": {
      "type": "string",
      "max": 20000,
      "min": 6,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]+"
    },
    "S74": {
      "type": "structure",
      "required": [
        "Notify",
        "EventAction"
      ],
      "members": {
        "Notify": {
          "type": "boolean"
        },
        "EventAction": {
          "type": "string",
          "enum": [
            "BLOCK",
            "MFA_IF_CONFIGURED",
            "MFA_REQUIRED",
            "NO_ACTION"
          ]
        }
      }
    },
    "S77": {
      "type": "structure",
      "members": {
        "BlockedIPRangeList": {
          "type": "list",
          "member": {},
          "max": 20
        },
        "SkippedIPRangeList": {
          "type": "list",
          "member": {},
          "max": 20
        }
      }
    },
    "S7q": {
      "type": "structure",
      "members": {
        "Destination": {},
        "DeliveryMedium": {
          "shape": "Sq"
        },
        "AttributeName": {
          "shape": "Sk"
        }
      }
    },
    "S84": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "shape": "S2"
        },
        "ClientId": {
          "shape": "S1i"
        },
        "ImageUrl": {},
        "CSS": {},
        "CSSVersion": {},
        "LastModifiedDate": {
          "type": "timestamp"
        },
        "CreationDate": {
          "type": "timestamp"
        }
      }
    },
    "S8e": {
      "type": "structure",
      "members": {
        "SmsAuthenticationMessage": {
          "shape": "S51"
        },
        "SmsConfiguration": {
          "shape": "S5c"
        }
      }
    },
    "S8f": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        }
      }
    },
    "S8q": {
      "type": "string",
      "min": 1,
      "pattern": "[\\S]+"
    },
    "S8z": {
      "type": "integer",
      "max": 60,
      "min": 1
    },
    "S9f": {
      "type": "list",
      "member": {
        "shape": "Ss"
      }
    }
  }
}