{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2016-04-18",
    "endpointPrefix":"cognito-idp",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon Cognito Identity Provider",
    "signatureVersion":"v4",
    "targetPrefix":"AWSCognitoIdentityProviderService"
  },
  "operations":{
    "AddCustomAttributes":{
      "name":"AddCustomAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddCustomAttributesRequest"},
      "output":{"shape":"AddCustomAttributesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserImportInProgressException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Adds additional user attributes to the user pool schema.</p>"
    },
    "AdminConfirmSignUp":{
      "name":"AdminConfirmSignUp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminConfirmSignUpRequest"},
      "output":{"shape":"AdminConfirmSignUpResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"TooManyFailedAttemptsException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Confirms user registration as an admin without using a confirmation code. Works on any user.</p>"
    },
    "AdminCreateUser":{
      "name":"AdminCreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminCreateUserRequest"},
      "output":{"shape":"AdminCreateUserResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UsernameExistsException"},
        {"shape":"InvalidPasswordException"},
        {"shape":"CodeDeliveryFailureException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InvalidSmsRoleAccessPolicyException"},
        {"shape":"InvalidSmsRoleTrustRelationshipException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UnsupportedUserStateException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Creates a new user in the specified user pool and sends a welcome message via email or phone (SMS). This message is based on a template that you configured in your call to CreateUserPool or UpdateUserPool. This template includes your custom sign-up instructions and placeholders for user name and temporary password.</p> <p>Requires developer credentials.</p>"
    },
    "AdminDeleteUser":{
      "name":"AdminDeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminDeleteUserRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Deletes a user as an administrator. Works on any user.</p>"
    },
    "AdminDeleteUserAttributes":{
      "name":"AdminDeleteUserAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminDeleteUserAttributesRequest"},
      "output":{"shape":"AdminDeleteUserAttributesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Deletes the user attributes in a user pool as an administrator. Works on any user.</p>"
    },
    "AdminDisableUser":{
      "name":"AdminDisableUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminDisableUserRequest"},
      "output":{"shape":"AdminDisableUserResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Disables the specified user as an administrator. Works on any user.</p>"
    },
    "AdminEnableUser":{
      "name":"AdminEnableUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminEnableUserRequest"},
      "output":{"shape":"AdminEnableUserResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Enables the specified user as an administrator. Works on any user.</p>"
    },
    "AdminForgetDevice":{
      "name":"AdminForgetDevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminForgetDeviceRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Forgets the device, as an administrator.</p>"
    },
    "AdminGetDevice":{
      "name":"AdminGetDevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminGetDeviceRequest"},
      "output":{"shape":"AdminGetDeviceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalErrorException"},
        {"shape":"NotAuthorizedException"}
      ],
      "documentation":"<p>Gets the device, as an administrator.</p>"
    },
    "AdminGetUser":{
      "name":"AdminGetUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminGetUserRequest"},
      "output":{"shape":"AdminGetUserResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Gets the specified user by user name in a user pool as an administrator. Works on any user.</p>"
    },
    "AdminInitiateAuth":{
      "name":"AdminInitiateAuth",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminInitiateAuthRequest"},
      "output":{"shape":"AdminInitiateAuthResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalErrorException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"MFAMethodNotFoundException"},
        {"shape":"InvalidSmsRoleAccessPolicyException"},
        {"shape":"InvalidSmsRoleTrustRelationshipException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"}
      ],
      "documentation":"<p>Initiates the authentication flow, as an administrator.</p>"
    },
    "AdminListDevices":{
      "name":"AdminListDevices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminListDevicesRequest"},
      "output":{"shape":"AdminListDevicesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalErrorException"},
        {"shape":"NotAuthorizedException"}
      ],
      "documentation":"<p>Lists devices, as an administrator.</p>"
    },
    "AdminResetUserPassword":{
      "name":"AdminResetUserPassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminResetUserPasswordRequest"},
      "output":{"shape":"AdminResetUserPasswordResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Resets the specified user's password in a user pool as an administrator. Works on any user.</p> <p>When a developer calls this API, the current password is invalidated, so it must be changed. If a user tries to sign in after the API is called, the app will get a PasswordResetRequiredException exception back and should direct the user down the flow to reset the password, which is the same as the forgot password flow. In addition, if the user pool has phone verification selected and a verified phone number exists for the user, or if email verification is selected and a verified email exists for the user, calling this API will also result in sending a message to the end user with the code to change their password.</p>"
    },
    "AdminRespondToAuthChallenge":{
      "name":"AdminRespondToAuthChallenge",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminRespondToAuthChallengeRequest"},
      "output":{"shape":"AdminRespondToAuthChallengeResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"CodeMismatchException"},
        {"shape":"ExpiredCodeException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"InvalidPasswordException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"InternalErrorException"},
        {"shape":"MFAMethodNotFoundException"},
        {"shape":"InvalidSmsRoleAccessPolicyException"},
        {"shape":"InvalidSmsRoleTrustRelationshipException"},
        {"shape":"AliasExistsException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"}
      ],
      "documentation":"<p>Responds to an authentication challenge, as an administrator.</p>"
    },
    "AdminSetUserSettings":{
      "name":"AdminSetUserSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminSetUserSettingsRequest"},
      "output":{"shape":"AdminSetUserSettingsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Sets all the user settings for a specified user name. Works on any user.</p>"
    },
    "AdminUpdateDeviceStatus":{
      "name":"AdminUpdateDeviceStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminUpdateDeviceStatusRequest"},
      "output":{"shape":"AdminUpdateDeviceStatusResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Updates the device status as an administrator.</p>"
    },
    "AdminUpdateUserAttributes":{
      "name":"AdminUpdateUserAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminUpdateUserAttributesRequest"},
      "output":{"shape":"AdminUpdateUserAttributesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"AliasExistsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Updates the specified user's attributes, including developer attributes, as an administrator. Works on any user.</p>"
    },
    "AdminUserGlobalSignOut":{
      "name":"AdminUserGlobalSignOut",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdminUserGlobalSignOutRequest"},
      "output":{"shape":"AdminUserGlobalSignOutResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Signs out users from all devices, as an administrator.</p>"
    },
    "ChangePassword":{
      "name":"ChangePassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ChangePasswordRequest"},
      "output":{"shape":"ChangePasswordResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidPasswordException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Changes the password for a specified user in a user pool.</p>",
      "authtype":"none"
    },
    "ConfirmDevice":{
      "name":"ConfirmDevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConfirmDeviceRequest"},
      "output":{"shape":"ConfirmDeviceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InvalidPasswordException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"UsernameExistsException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Confirms tracking of the device. This API call is the call that beings device tracking.</p>"
    },
    "ConfirmForgotPassword":{
      "name":"ConfirmForgotPassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConfirmForgotPasswordRequest"},
      "output":{"shape":"ConfirmForgotPasswordResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidPasswordException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"CodeMismatchException"},
        {"shape":"ExpiredCodeException"},
        {"shape":"TooManyFailedAttemptsException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Allows a user to enter a code provided when they reset their password to update their password.</p>",
      "authtype":"none"
    },
    "ConfirmSignUp":{
      "name":"ConfirmSignUp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConfirmSignUpRequest"},
      "output":{"shape":"ConfirmSignUpResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"TooManyFailedAttemptsException"},
        {"shape":"CodeMismatchException"},
        {"shape":"ExpiredCodeException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"AliasExistsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Confirms registration of a user and handles the existing alias from a previous user.</p>",
      "authtype":"none"
    },
    "CreateUserImportJob":{
      "name":"CreateUserImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserImportJobRequest"},
      "output":{"shape":"CreateUserImportJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Creates the user import job.</p>"
    },
    "CreateUserPool":{
      "name":"CreateUserPool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserPoolRequest"},
      "output":{"shape":"CreateUserPoolResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidSmsRoleAccessPolicyException"},
        {"shape":"InvalidSmsRoleTrustRelationshipException"},
        {"shape":"InvalidEmailRoleAccessPolicyException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Creates a new Amazon Cognito user pool and sets the password policy for the pool.</p>"
    },
    "CreateUserPoolClient":{
      "name":"CreateUserPoolClient",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserPoolClientRequest"},
      "output":{"shape":"CreateUserPoolClientResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Creates the user pool client.</p>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Allows a user to delete one's self.</p>",
      "authtype":"none"
    },
    "DeleteUserAttributes":{
      "name":"DeleteUserAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserAttributesRequest"},
      "output":{"shape":"DeleteUserAttributesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Deletes the attributes for a user.</p>",
      "authtype":"none"
    },
    "DeleteUserPool":{
      "name":"DeleteUserPool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserPoolRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserImportInProgressException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Deletes the specified Amazon Cognito user pool.</p>"
    },
    "DeleteUserPoolClient":{
      "name":"DeleteUserPoolClient",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserPoolClientRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Allows the developer to delete the user pool client.</p>"
    },
    "DescribeUserImportJob":{
      "name":"DescribeUserImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUserImportJobRequest"},
      "output":{"shape":"DescribeUserImportJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Describes the user import job.</p>"
    },
    "DescribeUserPool":{
      "name":"DescribeUserPool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUserPoolRequest"},
      "output":{"shape":"DescribeUserPoolResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Returns the configuration information and metadata of the specified user pool.</p>"
    },
    "DescribeUserPoolClient":{
      "name":"DescribeUserPoolClient",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUserPoolClientRequest"},
      "output":{"shape":"DescribeUserPoolClientResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Client method for returning the configuration information and metadata of the specified user pool client.</p>"
    },
    "ForgetDevice":{
      "name":"ForgetDevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ForgetDeviceRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Forgets the specified device.</p>"
    },
    "ForgotPassword":{
      "name":"ForgotPassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ForgotPasswordRequest"},
      "output":{"shape":"ForgotPasswordResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidSmsRoleAccessPolicyException"},
        {"shape":"InvalidSmsRoleTrustRelationshipException"},
        {"shape":"InvalidEmailRoleAccessPolicyException"},
        {"shape":"CodeDeliveryFailureException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Retrieves the password for the specified client ID or username.</p>",
      "authtype":"none"
    },
    "GetCSVHeader":{
      "name":"GetCSVHeader",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCSVHeaderRequest"},
      "output":{"shape":"GetCSVHeaderResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Gets the header information for the .csv file to be used as input for the user import job.</p>"
    },
    "GetDevice":{
      "name":"GetDevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeviceRequest"},
      "output":{"shape":"GetDeviceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Gets the device.</p>"
    },
    "GetUser":{
      "name":"GetUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserRequest"},
      "output":{"shape":"GetUserResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Gets the user attributes and metadata for a user.</p>",
      "authtype":"none"
    },
    "GetUserAttributeVerificationCode":{
      "name":"GetUserAttributeVerificationCode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserAttributeVerificationCodeRequest"},
      "output":{"shape":"GetUserAttributeVerificationCodeResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"InvalidSmsRoleAccessPolicyException"},
        {"shape":"InvalidSmsRoleTrustRelationshipException"},
        {"shape":"InvalidEmailRoleAccessPolicyException"},
        {"shape":"CodeDeliveryFailureException"},
        {"shape":"LimitExceededException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Gets the user attribute verification code for the specified attribute name.</p>",
      "authtype":"none"
    },
    "GlobalSignOut":{
      "name":"GlobalSignOut",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GlobalSignOutRequest"},
      "output":{"shape":"GlobalSignOutResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Signs out users from all devices.</p>"
    },
    "InitiateAuth":{
      "name":"InitiateAuth",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"InitiateAuthRequest"},
      "output":{"shape":"InitiateAuthResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Initiates the authentication flow.</p>"
    },
    "ListDevices":{
      "name":"ListDevices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDevicesRequest"},
      "output":{"shape":"ListDevicesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Lists the devices.</p>"
    },
    "ListUserImportJobs":{
      "name":"ListUserImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserImportJobsRequest"},
      "output":{"shape":"ListUserImportJobsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Lists the user import jobs.</p>"
    },
    "ListUserPoolClients":{
      "name":"ListUserPoolClients",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserPoolClientsRequest"},
      "output":{"shape":"ListUserPoolClientsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Lists the clients that have been created for the specified user pool.</p>"
    },
    "ListUserPools":{
      "name":"ListUserPools",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserPoolsRequest"},
      "output":{"shape":"ListUserPoolsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Lists the user pools associated with an AWS account.</p>"
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Lists the users in the Amazon Cognito user pool.</p>"
    },
    "ResendConfirmationCode":{
      "name":"ResendConfirmationCode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResendConfirmationCodeRequest"},
      "output":{"shape":"ResendConfirmationCodeResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidSmsRoleAccessPolicyException"},
        {"shape":"InvalidSmsRoleTrustRelationshipException"},
        {"shape":"InvalidEmailRoleAccessPolicyException"},
        {"shape":"CodeDeliveryFailureException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Resends the confirmation (for confirmation of registration) to a specific user in the user pool.</p>",
      "authtype":"none"
    },
    "RespondToAuthChallenge":{
      "name":"RespondToAuthChallenge",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RespondToAuthChallengeRequest"},
      "output":{"shape":"RespondToAuthChallengeResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"CodeMismatchException"},
        {"shape":"ExpiredCodeException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"InvalidPasswordException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"MFAMethodNotFoundException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InvalidSmsRoleAccessPolicyException"},
        {"shape":"InvalidSmsRoleTrustRelationshipException"},
        {"shape":"AliasExistsException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Responds to the authentication challenge.</p>"
    },
    "SetUserSettings":{
      "name":"SetUserSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetUserSettingsRequest"},
      "output":{"shape":"SetUserSettingsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Sets the user settings like multi-factor authentication (MFA). If MFA is to be removed for a particular attribute pass the attribute with code delivery as null. If null list is passed, all MFA options are removed.</p>",
      "authtype":"none"
    },
    "SignUp":{
      "name":"SignUp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SignUpRequest"},
      "output":{"shape":"SignUpResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InvalidPasswordException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"UsernameExistsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidSmsRoleAccessPolicyException"},
        {"shape":"InvalidSmsRoleTrustRelationshipException"},
        {"shape":"InvalidEmailRoleAccessPolicyException"},
        {"shape":"CodeDeliveryFailureException"}
      ],
      "documentation":"<p>Registers the user in the specified user pool and creates a user name, password, and user attributes.</p>",
      "authtype":"none"
    },
    "StartUserImportJob":{
      "name":"StartUserImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartUserImportJobRequest"},
      "output":{"shape":"StartUserImportJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalErrorException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"NotAuthorizedException"}
      ],
      "documentation":"<p>Starts the user import.</p>"
    },
    "StopUserImportJob":{
      "name":"StopUserImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopUserImportJobRequest"},
      "output":{"shape":"StopUserImportJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalErrorException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"NotAuthorizedException"}
      ],
      "documentation":"<p>Stops the user import job.</p>"
    },
    "UpdateDeviceStatus":{
      "name":"UpdateDeviceStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDeviceStatusRequest"},
      "output":{"shape":"UpdateDeviceStatusResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InvalidUserPoolConfigurationException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Updates the device status.</p>"
    },
    "UpdateUserAttributes":{
      "name":"UpdateUserAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateUserAttributesRequest"},
      "output":{"shape":"UpdateUserAttributesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"CodeMismatchException"},
        {"shape":"ExpiredCodeException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UnexpectedLambdaException"},
        {"shape":"UserLambdaValidationException"},
        {"shape":"InvalidLambdaResponseException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"AliasExistsException"},
        {"shape":"InvalidSmsRoleAccessPolicyException"},
        {"shape":"InvalidSmsRoleTrustRelationshipException"},
        {"shape":"InvalidEmailRoleAccessPolicyException"},
        {"shape":"CodeDeliveryFailureException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Allows a user to update a specific attribute (one at a time).</p>",
      "authtype":"none"
    },
    "UpdateUserPool":{
      "name":"UpdateUserPool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateUserPoolRequest"},
      "output":{"shape":"UpdateUserPoolResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"UserImportInProgressException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidSmsRoleAccessPolicyException"},
        {"shape":"InvalidSmsRoleTrustRelationshipException"},
        {"shape":"InvalidEmailRoleAccessPolicyException"}
      ],
      "documentation":"<p>Updates the specified user pool with the specified attributes.</p>"
    },
    "UpdateUserPoolClient":{
      "name":"UpdateUserPoolClient",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateUserPoolClientRequest"},
      "output":{"shape":"UpdateUserPoolClientResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Allows the developer to update the specified user pool client and password policy.</p>"
    },
    "VerifyUserAttribute":{
      "name":"VerifyUserAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifyUserAttributeRequest"},
      "output":{"shape":"VerifyUserAttributeResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"CodeMismatchException"},
        {"shape":"ExpiredCodeException"},
        {"shape":"NotAuthorizedException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"PasswordResetRequiredException"},
        {"shape":"UserNotFoundException"},
        {"shape":"UserNotConfirmedException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Verifies the specified user attributes in the user pool.</p>",
      "authtype":"none"
    }
  },
  "shapes":{
    "AddCustomAttributesRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "CustomAttributes"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool where you want to add custom attributes.</p>"
        },
        "CustomAttributes":{
          "shape":"CustomAttributesListType",
          "documentation":"<p>An array of custom attributes, such as Mutable and Name.</p>"
        }
      },
      "documentation":"<p>Represents the request to add custom attributes.</p>"
    },
    "AddCustomAttributesResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Represents the response from the server for the request to add custom attributes.</p>"
    },
    "AdminConfirmSignUpRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for which you want to confirm user registration.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name for which you want to confirm user registration.</p>"
        }
      },
      "documentation":"<p>Represents the request to confirm user registration.</p>"
    },
    "AdminConfirmSignUpResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Represents the response from the server for the request to confirm registration.</p>"
    },
    "AdminCreateUserConfigType":{
      "type":"structure",
      "members":{
        "AllowAdminCreateUserOnly":{
          "shape":"BooleanType",
          "documentation":"<p>Set to True if only the administrator is allowed to create user profiles. Set to False if users can sign themselves up via an app.</p>"
        },
        "UnusedAccountValidityDays":{
          "shape":"AdminCreateUserUnusedAccountValidityDaysType",
          "documentation":"<p>The user account expiration limit, in days, after which the account is no longer usable. To reset the account after that time limit, you must call AdminCreateUser again, specifying \"RESEND\" for the MessageAction parameter.</p>"
        },
        "InviteMessageTemplate":{
          "shape":"MessageTemplateType",
          "documentation":"<p>The message template to be used for the welcome message to new users.</p>"
        }
      },
      "documentation":"<p>The type of configuration for creating a new user profile.</p>"
    },
    "AdminCreateUserRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool where the user will be created.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The username for the user. Must be unique within the user pool. Must be a UTF-8 string between 1 and 128 characters. After the user is created, the username cannot be changed.</p>"
        },
        "UserAttributes":{
          "shape":"AttributeListType",
          "documentation":"<p>An array of name-value pairs that contain user attributes and attribute values to be set for the user to be created. You can create a user without specifying any attributes other than Username. However, any attributes that you specify as required (in CreateUserPool or in the <b>Attributes</b> tab of the console) must be supplied either by you (in your call to AdminCreateUser) or by the user (when he or she signs up in response to your welcome message).</p> <p>To send a message inviting the user to sign up, you must specify the user's email address or phone number. This can be done in your call to AdminCreateUser or in the <b>Users</b> tab of the Amazon Cognito console for managing your user pools.</p> <p>In your call to AdminCreateUser, you can set the email_verified attribute to True, and you can set the phone_number_verified attribute to True. (You cannot do this by calling other operations such as AdminUpdateUserAttributes.)</p> <ul> <li> <p> <b>email</b>: The email address of the user to whom the message that contains the code and username will be sent. Required if the email_verified attribute is set to True, or if \"EMAIL\" is specified in the DesiredDeliveryMediums parameter.</p> </li> <li> <p> <b>phone_number</b>: The phone number of the user to whom the message that contains the code and username will be sent. Required if the phone_number_verified attribute is set to True, or if \"SMS\" is specified in the DesiredDeliveryMediums parameter.</p> </li> </ul>"
        },
        "ValidationData":{
          "shape":"AttributeListType",
          "documentation":"<p>The user's validation data. This is an array of name-value pairs that contain user attributes and attribute values that you can use for custom validation, such as restricting the types of user accounts that can be registered. For example, you might choose to allow or disallow user sign-up based on the user's domain.</p> <p>To configure custom validation, you must create a Pre Sign-up Lambda trigger for the user pool as described in the Amazon Cognito Developer Guide. The Lambda trigger receives the validation data and uses it in the validation process.</p> <p>The user's validation data is not persisted.</p>"
        },
        "TemporaryPassword":{
          "shape":"PasswordType",
          "documentation":"<p>The user's temporary password. This password must conform to the password policy that you specified when you created the user pool.</p> <p>The temporary password is valid only once. To complete the Admin Create User flow, the user must enter the temporary password in the sign-in page along with a new password to be used in all future sign-ins.</p> <p>This parameter is not required. If you do not specify a value, Amazon Cognito generates one for you.</p> <p>The temporary password can only be used until the user account expiration limit that you specified when you created the user pool. To reset the account after that time limit, you must call AdminCreateUser again, specifying \"RESEND\" for the MessageAction parameter.</p>"
        },
        "ForceAliasCreation":{
          "shape":"ForceAliasCreation",
          "documentation":"<p>This parameter is only used if the phone_number_verified or email_verified attribute is set to True. Otherwise, it is ignored.</p> <p>If this parameter is set to True and the phone number or email address specified in the UserAttributes parameter already exists as an alias with a different user, the API call will migrate the alias from the previous user to the newly created user. The previous user will no longer be able to log in using that alias.</p> <p>If this parameter is set to False, the API throws an AliasExistsException error if the alias already exists. The default value is False.</p>"
        },
        "MessageAction":{
          "shape":"MessageActionType",
          "documentation":"<p>Set to \"RESEND\" to resend the invitation message to a user that already exists and reset the expiration limit on the user's account. Set to \"SUPPRESS\" to suppress sending the message. Only one value can be specified.</p>"
        },
        "DesiredDeliveryMediums":{
          "shape":"DeliveryMediumListType",
          "documentation":"<p>Specify \"EMAIL\" if email will be used to send the welcome message. Specify \"SMS\" if the phone number will be used. The default value is \"SMS\". More than one value can be specified.</p>"
        }
      },
      "documentation":"<p>Represents the request to create a user in the specified user pool.</p>"
    },
    "AdminCreateUserResponse":{
      "type":"structure",
      "members":{
        "User":{
          "shape":"UserType",
          "documentation":"<p>The user returned in the request to create a new user.</p>"
        }
      },
      "documentation":"<p>Represents the response from the server to the request to create the user.</p>"
    },
    "AdminCreateUserUnusedAccountValidityDaysType":{
      "type":"integer",
      "max":90,
      "min":0
    },
    "AdminDeleteUserAttributesRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username",
        "UserAttributeNames"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool where you want to delete user attributes.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name of the user from which you would like to delete attributes.</p>"
        },
        "UserAttributeNames":{
          "shape":"AttributeNameListType",
          "documentation":"<p>An array of strings representing the user attribute names you wish to delete.</p>"
        }
      },
      "documentation":"<p>Represents the request to delete user attributes as an administrator.</p>"
    },
    "AdminDeleteUserAttributesResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Represents the response received from the server for a request to delete user attributes.</p>"
    },
    "AdminDeleteUserRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool where you want to delete the user.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name of the user you wish to delete.</p>"
        }
      },
      "documentation":"<p>Represents the request to delete a user as an administrator.</p>"
    },
    "AdminDisableUserRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool where you want to disable the user.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name of the user you wish to disable.</p>"
        }
      },
      "documentation":"<p>Represents the request to disable any user as an administrator.</p>"
    },
    "AdminDisableUserResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Represents the response received from the server to disable the user as an administrator.</p>"
    },
    "AdminEnableUserRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool where you want to enable the user.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name of the user you wish to ebable.</p>"
        }
      },
      "documentation":"<p>Represents the request that enables the user as an administrator.</p>"
    },
    "AdminEnableUserResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Represents the response from the server for the request to enable a user as an administrator.</p>"
    },
    "AdminForgetDeviceRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username",
        "DeviceKey"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name.</p>"
        },
        "DeviceKey":{
          "shape":"DeviceKeyType",
          "documentation":"<p>The device key.</p>"
        }
      },
      "documentation":"<p>Sends the forgot device request, as an administrator.</p>"
    },
    "AdminGetDeviceRequest":{
      "type":"structure",
      "required":[
        "DeviceKey",
        "UserPoolId",
        "Username"
      ],
      "members":{
        "DeviceKey":{
          "shape":"DeviceKeyType",
          "documentation":"<p>The device key.</p>"
        },
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name.</p>"
        }
      },
      "documentation":"<p>Represents the request to get the device, as an administrator.</p>"
    },
    "AdminGetDeviceResponse":{
      "type":"structure",
      "required":["Device"],
      "members":{
        "Device":{
          "shape":"DeviceType",
          "documentation":"<p>The device.</p>"
        }
      },
      "documentation":"<p>Gets the device response, as an administrator.</p>"
    },
    "AdminGetUserRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool where you want to get information about the user.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name of the user you wish to retrieve.</p>"
        }
      },
      "documentation":"<p>Represents the request to get the specified user as an administrator.</p>"
    },
    "AdminGetUserResponse":{
      "type":"structure",
      "required":["Username"],
      "members":{
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name of the user about whom you are receiving information.</p>"
        },
        "UserAttributes":{
          "shape":"AttributeListType",
          "documentation":"<p>An array of name-value pairs representing user attributes.</p>"
        },
        "UserCreateDate":{
          "shape":"DateType",
          "documentation":"<p>The date the user was created.</p>"
        },
        "UserLastModifiedDate":{
          "shape":"DateType",
          "documentation":"<p>The date the user was last modified.</p>"
        },
        "Enabled":{
          "shape":"BooleanType",
          "documentation":"<p>Indicates that the status is enabled.</p>"
        },
        "UserStatus":{
          "shape":"UserStatusType",
          "documentation":"<p>The user status. Can be one of the following:</p> <ul> <li> <p>UNCONFIRMED - User has been created but not confirmed.</p> </li> <li> <p>CONFIRMED - User has been confirmed.</p> </li> <li> <p>ARCHIVED - User is no longer active.</p> </li> <li> <p>COMPROMISED - User is disabled due to a potential security threat.</p> </li> <li> <p>UNKNOWN - User status is not known.</p> </li> </ul>"
        },
        "MFAOptions":{
          "shape":"MFAOptionListType",
          "documentation":"<p>Specifies the options for MFA (e.g., email or phone number).</p>"
        }
      },
      "documentation":"<p>Represents the response from the server from the request to get the specified user as an administrator.</p>"
    },
    "AdminInitiateAuthRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "ClientId",
        "AuthFlow"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The ID of the Amazon Cognito user pool.</p>"
        },
        "ClientId":{
          "shape":"ClientIdType",
          "documentation":"<p>The client app ID.</p>"
        },
        "AuthFlow":{
          "shape":"AuthFlowType",
          "documentation":"<p>The authentication flow.</p>"
        },
        "AuthParameters":{
          "shape":"AuthParametersType",
          "documentation":"<p>The authentication parameters.</p>"
        },
        "ClientMetadata":{
          "shape":"ClientMetadataType",
          "documentation":"<p>The client app metadata.</p>"
        }
      },
      "documentation":"<p>Initiates the authorization request, as an administrator.</p>"
    },
    "AdminInitiateAuthResponse":{
      "type":"structure",
      "members":{
        "ChallengeName":{
          "shape":"ChallengeNameType",
          "documentation":"<p>The name of the challenge.</p>"
        },
        "Session":{
          "shape":"SessionType",
          "documentation":"<p>The session.</p>"
        },
        "ChallengeParameters":{
          "shape":"ChallengeParametersType",
          "documentation":"<p>The challenge parameters.</p>"
        },
        "AuthenticationResult":{
          "shape":"AuthenticationResultType",
          "documentation":"<p>The result of the authentication response.</p>"
        }
      },
      "documentation":"<p>Initiates the authentication response, as an administrator.</p>"
    },
    "AdminListDevicesRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name.</p>"
        },
        "Limit":{
          "shape":"QueryLimitType",
          "documentation":"<p>The limit of the devices request.</p>"
        },
        "PaginationToken":{
          "shape":"SearchPaginationTokenType",
          "documentation":"<p>The pagination token.</p>"
        }
      },
      "documentation":"<p>Represents the request to list devices, as an administrator.</p>"
    },
    "AdminListDevicesResponse":{
      "type":"structure",
      "members":{
        "Devices":{
          "shape":"DeviceListType",
          "documentation":"<p>The devices in the list of devices response.</p>"
        },
        "PaginationToken":{
          "shape":"SearchPaginationTokenType",
          "documentation":"<p>The pagination token.</p>"
        }
      },
      "documentation":"<p>Lists the device's response, as an administrator.</p>"
    },
    "AdminResetUserPasswordRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool where you want to reset the user's password.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name of the user whose password you wish to reset.</p>"
        }
      },
      "documentation":"<p>Represents the request to reset a user's password as an administrator.</p>"
    },
    "AdminResetUserPasswordResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Represents the response from the server to reset a user password as an administrator.</p>"
    },
    "AdminRespondToAuthChallengeRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "ClientId",
        "ChallengeName"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The ID of the Amazon Cognito user pool.</p>"
        },
        "ClientId":{
          "shape":"ClientIdType",
          "documentation":"<p>The client ID.</p>"
        },
        "ChallengeName":{
          "shape":"ChallengeNameType",
          "documentation":"<p>The name of the challenge.</p>"
        },
        "ChallengeResponses":{
          "shape":"ChallengeResponsesType",
          "documentation":"<p>The challenge response.</p>"
        },
        "Session":{
          "shape":"SessionType",
          "documentation":"<p>The session.</p>"
        }
      },
      "documentation":"<p>The request to respond to the authentication challenge, as an administrator.</p>"
    },
    "AdminRespondToAuthChallengeResponse":{
      "type":"structure",
      "members":{
        "ChallengeName":{
          "shape":"ChallengeNameType",
          "documentation":"<p>The name of the challenge.</p>"
        },
        "Session":{
          "shape":"SessionType",
          "documentation":"<p>The session.</p>"
        },
        "ChallengeParameters":{
          "shape":"ChallengeParametersType",
          "documentation":"<p>The challenge parameters.</p>"
        },
        "AuthenticationResult":{
          "shape":"AuthenticationResultType",
          "documentation":"<p>The result returned by the server in response to the authentication request.</p>"
        }
      },
      "documentation":"<p>Responds to the authentication challenge, as an administrator.</p>"
    },
    "AdminSetUserSettingsRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username",
        "MFAOptions"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool where you want to set the user's settings, such as MFA options.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name of the user for whom you wish to set user settings.</p>"
        },
        "MFAOptions":{
          "shape":"MFAOptionListType",
          "documentation":"<p>Specifies the options for MFA (e.g., email or phone number).</p>"
        }
      },
      "documentation":"<p>Represents the request to set user settings as an administrator.</p>"
    },
    "AdminSetUserSettingsResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Represents the response from the server to set user settings as an administrator.</p>"
    },
    "AdminUpdateDeviceStatusRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username",
        "DeviceKey"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID&gt;</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name.</p>"
        },
        "DeviceKey":{
          "shape":"DeviceKeyType",
          "documentation":"<p>The device key.</p>"
        },
        "DeviceRememberedStatus":{
          "shape":"DeviceRememberedStatusType",
          "documentation":"<p>The status indicating whether a device has been remembered or not.</p>"
        }
      },
      "documentation":"<p>The request to update the device status, as an administrator.</p>"
    },
    "AdminUpdateDeviceStatusResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The status response from the request to update the device, as an administrator.</p>"
    },
    "AdminUpdateUserAttributesRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username",
        "UserAttributes"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool where you want to update user attributes.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name of the user for whom you want to update user attributes.</p>"
        },
        "UserAttributes":{
          "shape":"AttributeListType",
          "documentation":"<p>An array of name-value pairs representing user attributes.</p>"
        }
      },
      "documentation":"<p>Represents the request to update the user's attributes as an administrator.</p>"
    },
    "AdminUpdateUserAttributesResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Represents the response from the server for the request to update user attributes as an administrator.</p>"
    },
    "AdminUserGlobalSignOutRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "Username"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name.</p>"
        }
      },
      "documentation":"<p>The request to sign out of all devices, as an administrator.</p>"
    },
    "AdminUserGlobalSignOutResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The global sign-out response, as an administrator.</p>"
    },
    "AliasAttributeType":{
      "type":"string",
      "enum":[
        "phone_number",
        "email",
        "preferred_username"
      ]
    },
    "AliasAttributesListType":{
      "type":"list",
      "member":{"shape":"AliasAttributeType"}
    },
    "AliasExistsException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"MessageType",
          "documentation":"<p>The message sent to the user when an alias exists.</p>"
        }
      },
      "documentation":"<p>This exception is thrown when a user tries to confirm the account with an email or phone number that has already been supplied as an alias from a different account. This exception tells user that an account with this email or phone already exists.</p>",
      "exception":true
    },
    "ArnType":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:([\\w+=/,.@-]*)?:[0-9]+:[\\w+=/,.@-]+(:[\\w+=/,.@-]+)?(:[\\w+=/,.@-]+)?"
    },
    "AttributeDataType":{
      "type":"string",
      "enum":[
        "String",
        "Number",
        "DateTime",
        "Boolean"
      ]
    },
    "AttributeListType":{
      "type":"list",
      "member":{"shape":"AttributeType"}
    },
    "AttributeNameListType":{
      "type":"list",
      "member":{"shape":"AttributeNameType"}
    },
    "AttributeNameType":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
    },
    "AttributeType":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"AttributeNameType",
          "documentation":"<p>The name of the attribute.</p>"
        },
        "Value":{
          "shape":"AttributeValueType",
          "documentation":"<p>The value of the attribute.</p>"
        }
      },
      "documentation":"<p>Specifies whether the attribute is standard or custom.</p>"
    },
    "AttributeValueType":{
      "type":"string",
      "max":2048,
      "sensitive":true
    },
    "AuthFlowType":{
      "type":"string",
      "enum":[
        "USER_SRP_AUTH",
        "REFRESH_TOKEN_AUTH",
        "REFRESH_TOKEN",
        "CUSTOM_AUTH",
        "ADMIN_NO_SRP_AUTH"
      ]
    },
    "AuthParametersType":{
      "type":"map",
      "key":{"shape":"StringType"},
      "value":{"shape":"StringType"}
    },
    "AuthenticationResultType":{
      "type":"structure",
      "members":{
        "AccessToken":{
          "shape":"TokenModelType",
          "documentation":"<p>The access token of the authentication result.</p>"
        },
        "ExpiresIn":{
          "shape":"IntegerType",
          "documentation":"<p>The expiration period of the authentication result.</p>"
        },
        "TokenType":{
          "shape":"StringType",
          "documentation":"<p>The token type of the authentication result.</p>"
        },
        "RefreshToken":{
          "shape":"TokenModelType",
          "documentation":"<p>The refresh token of the authentication result.</p>"
        },
        "IdToken":{
          "shape":"TokenModelType",
          "documentation":"<p>The ID token of the authentication result.</p>"
        },
        "NewDeviceMetadata":{
          "shape":"NewDeviceMetadataType",
          "documentation":"<p>The new device metadata from an authentication result.</p>"
        }
      },
      "documentation":"<p>The result type of the authentication result.</p>"
    },
    "BooleanType":{"type":"boolean"},
    "ChallengeNameType":{
      "type":"string",
      "enum":[
        "SMS_MFA",
        "PASSWORD_VERIFIER",
        "CUSTOM_CHALLENGE",
        "DEVICE_SRP_AUTH",
        "DEVICE_PASSWORD_VERIFIER",
        "ADMIN_NO_SRP_AUTH",
        "NEW_PASSWORD_REQUIRED"
      ]
    },
    "ChallengeParametersType":{
      "type":"map",
      "key":{"shape":"StringType"},
      "value":{"shape":"StringType"}
    },
    "ChallengeResponsesType":{
      "type":"map",
      "key":{"shape":"StringType"},
      "value":{"shape":"StringType"}
    },
    "ChangePasswordRequest":{
      "type":"structure",
      "required":[
        "PreviousPassword",
        "ProposedPassword"
      ],
      "members":{
        "PreviousPassword":{
          "shape":"PasswordType",
          "documentation":"<p>The old password in the change password request.</p>"
        },
        "ProposedPassword":{
          "shape":"PasswordType",
          "documentation":"<p>The new password in the change password request.</p>"
        },
        "AccessToken":{
          "shape":"TokenModelType",
          "documentation":"<p>The access token in the change password request.</p>"
        }
      },
      "documentation":"<p>Represents the request to change a user password.</p>"
    },
    "ChangePasswordResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The response from the server to the change password request.</p>"
    },
    "ClientIdType":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w+]+",
      "sensitive":true
    },
    "ClientMetadataType":{
      "type":"map",
      "key":{"shape":"StringType"},
      "value":{"shape":"StringType"}
    },
    "ClientNameType":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w\\s+=,.@-]+"
    },
    "ClientPermissionListType":{
      "type":"list",
      "member":{"shape":"ClientPermissionType"}
    },
    "ClientPermissionType":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "ClientSecretType":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[\\w+]+",
      "sensitive":true
    },
    "CodeDeliveryDetailsListType":{
      "type":"list",
      "member":{"shape":"CodeDeliveryDetailsType"}
    },
    "CodeDeliveryDetailsType":{
      "type":"structure",
      "members":{
        "Destination":{
          "shape":"StringType",
          "documentation":"<p>The destination for the code delivery details.</p>"
        },
        "DeliveryMedium":{
          "shape":"DeliveryMediumType",
          "documentation":"<p>The delivery medium (email message or phone number).</p>"
        },
        "AttributeName":{
          "shape":"AttributeNameType",
          "documentation":"<p>The name of the attribute in the code delivery details type.</p>"
        }
      },
      "documentation":"<p>The type of code delivery details being returned from the server.</p>"
    },
    "CodeDeliveryFailureException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"MessageType",
          "documentation":"<p>The message sent when a verification code fails to deliver successfully.</p>"
        }
      },
      "documentation":"<p>This exception is thrown when a verification code fails to deliver successfully.</p>",
      "exception":true
    },
    "CodeMismatchException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"MessageType",
          "documentation":"<p>The message provided when the code mismatch exception is thrown.</p>"
        }
      },
      "documentation":"<p>This exception is thrown if the provided code does not match what the server was expecting.</p>",
      "exception":true
    },
    "CompletionMessageType":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w]+"
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"MessageType",
          "documentation":"<p>The message provided when the concurrent exception is thrown.</p>"
        }
      },
      "documentation":"<p>This exception is thrown if two or more modifications are happening concurrently.</p>",
      "exception":true
    },
    "ConfirmDeviceRequest":{
      "type":"structure",
      "required":[
        "AccessToken",
        "DeviceKey"
      ],
      "members":{
        "AccessToken":{
          "shape":"TokenModelType",
          "documentation":"<p>The access token.</p>"
        },
        "DeviceKey":{
          "shape":"DeviceKeyType",
          "documentation":"<p>The device key.</p>"
        },
        "DeviceSecretVerifierConfig":{
          "shape":"DeviceSecretVerifierConfigType",
          "documentation":"<p>The configuration of the device secret verifier.</p>"
        },
        "DeviceName":{
          "shape":"DeviceNameType",
          "documentation":"<p>The device name.</p>"
        }
      },
      "documentation":"<p>Confirms the device request.</p>"
    },
    "ConfirmDeviceResponse":{
      "type":"structure",
      "members":{
        "UserConfirmationNecessary":{
          "shape":"BooleanType",
          "documentation":"<p>Indicates whether the user confirmation is necessary to confirm the device response.</p>"
        }
      },
      "documentation":"<p>Confirms the device response.</p>"
    },
    "ConfirmForgotPasswordRequest":{
      "type":"structure",
      "required":[
        "ClientId",
        "Username",
        "ConfirmationCode",
        "Password"
      ],
      "members":{
        "ClientId":{
          "shape":"ClientIdType",
          "documentation":"<p>The ID of the client associated with the user pool.</p>"
        },
        "SecretHash":{
          "shape":"SecretHashType",
          "documentation":"<p>A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name of the user for whom you want to enter a code to retrieve a forgotten password.</p>"
        },
        "ConfirmationCode":{
          "shape":"ConfirmationCodeType",
          "documentation":"<p>The confirmation code sent by a user's request to retrieve a forgotten password.</p>"
        },
        "Password":{
          "shape":"PasswordType",
          "documentation":"<p>The password sent by sent by a user's request to retrieve a forgotten password.</p>"
        }
      },
      "documentation":"<p>The request representing the confirmation for a password reset.</p>"
    },
    "ConfirmForgotPasswordResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The response from the server that results from a user's request to retrieve a forgotten password.</p>"
    },
    "ConfirmSignUpRequest":{
      "type":"structure",
      "required":[
        "ClientId",
        "Username",
        "ConfirmationCode"
      ],
      "members":{
        "ClientId":{
          "shape":"ClientIdType",
          "documentation":"<p>The ID of the client associated with the user pool.</p>"
        },
        "SecretHash":{
          "shape":"SecretHashType",
          "documentation":"<p>A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name of the user whose registration you wish to confirm.</p>"
        },
        "ConfirmationCode":{
          "shape":"ConfirmationCodeType",
          "documentation":"<p>The confirmation code sent by a user's request to confirm registration.</p>"
        },
        "ForceAliasCreation":{
          "shape":"ForceAliasCreation",
          "documentation":"<p>Boolean to be specified to force user confirmation irrespective of existing alias. By default set to False. If this parameter is set to True and the phone number/email used for sign up confirmation already exists as an alias with a different user, the API call will migrate the alias from the previous user to the newly created user being confirmed. If set to False, the API will throw an <b>AliasExistsException</b> error.</p>"
        }
      },
      "documentation":"<p>Represents the request to confirm registration of a user.</p>"
    },
    "ConfirmSignUpResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Represents the response from the server for the registration confirmation.</p>"
    },
    "ConfirmationCodeType":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[\\S]+"
    },
    "CreateUserImportJobRequest":{
      "type":"structure",
      "required":[
        "JobName",
        "UserPoolId",
        "CloudWatchLogsRoleArn"
      ],
      "members":{
        "JobName":{
          "shape":"UserImportJobNameType",
          "documentation":"<p>The job name for the user import job.</p>"
        },
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool that the users are being imported into.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"ArnType",
          "documentation":"<p>The role ARN for the Amazon CloudWatch Logging role for the user import job.</p>"
        }
      },
      "documentation":"<p>Represents the request to create the user import job.</p>"
    },
    "CreateUserImportJobResponse":{
      "type":"structure",
      "members":{
        "UserImportJob":{
          "shape":"UserImportJobType",
          "documentation":"<p>The job object that represents the user import job.</p>"
        }
      },
      "documentation":"<p>Represents the response from the server to the request to create the user import job.</p>"
    },
    "CreateUserPoolClientRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "ClientName"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool where you want to create a user pool client.</p>"
        },
        "ClientName":{
          "shape":"ClientNameType",
          "documentation":"<p>The client name for the user pool client you would like to create.</p>"
        },
        "GenerateSecret":{
          "shape":"GenerateSecret",
          "documentation":"<p>Boolean to specify whether you want to generate a secret for the user pool client being created.</p>"
        },
        "RefreshTokenValidity":{
          "shape":"RefreshTokenValidityType",
          "documentation":"<p>Refreshes the token validity.</p>"
        },
        "ReadAttributes":{
          "shape":"ClientPermissionListType",
          "documentation":"<p>The read attributes.</p>"
        },
        "WriteAttributes":{
          "shape":"ClientPermissionListType",
          "documentation":"<p>The write attributes.</p>"
        },
        "ExplicitAuthFlows":{
          "shape":"ExplicitAuthFlowsListType",
          "documentation":"<p>The explicit authentication flows.</p>"
        }
      },
      "documentation":"<p>Represents the request to create a user pool client.</p>"
    },
    "CreateUserPoolClientResponse":{
      "type":"structure",
      "members":{
        "UserPoolClient":{
          "shape":"UserPoolClientType",
          "documentation":"<p>The user pool client that was just created.</p>"
        }
      },
      "documentation":"<p>Represents the response from the server to create a user pool client.</p>"
    },
    "CreateUserPoolRequest":{
      "type":"structure",
      "required":["PoolName"],
      "members":{
        "PoolName":{
          "shape":"UserPoolNameType",
          "documentation":"<p>A string used to name the user pool.</p>"
        },
        "Policies":{
          "shape":"UserPoolPolicyType",
          "documentation":"<p>The policies associated with the new user pool.</p>"
        },
        "LambdaConfig":{
          "shape":"LambdaConfigType",
          "documentation":"<p>The Lambda trigger configuration information for the new user pool.</p>"
        },
        "AutoVerifiedAttributes":{
          "shape":"VerifiedAttributesListType",
          "documentation":"<p>The attributes to be auto-verified. Possible values: <b>email</b>, <b>phone_number</b>.</p>"
        },
        "AliasAttributes":{
          "shape":"AliasAttributesListType",
          "documentation":"<p>Attributes supported as an alias for this user pool. Possible values: <b>phone_number</b>, <b>email</b>, or <b>preferred_username</b>.</p>"
        },
        "SmsVerificationMessage":{
          "shape":"SmsVerificationMessageType",
          "documentation":"<p>A string representing the SMS verification message.</p>"
        },
        "EmailVerificationMessage":{
          "shape":"EmailVerificationMessageType",
          "documentation":"<p>A string representing the email verification message.</p>"
        },
        "EmailVerificationSubject":{
          "shape":"EmailVerificationSubjectType",
          "documentation":"<p>A string representing the email verification subject.</p>"
        },
        "SmsAuthenticationMessage":{
          "shape":"SmsVerificationMessageType",
          "documentation":"<p>A string representing the SMS authentication message.</p>"
        },
        "MfaConfiguration":{
          "shape":"UserPoolMfaType",
          "documentation":"<p>Specifies MFA configuration details.</p>"
        },
        "DeviceConfiguration":{
          "shape":"DeviceConfigurationType",
          "documentation":"<p>The device configuration.</p>"
        },
        "EmailConfiguration":{
          "shape":"EmailConfigurationType",
          "documentation":"<p>The email configuration.</p>"
        },
        "SmsConfiguration":{
          "shape":"SmsConfigurationType",
          "documentation":"<p>The SMS configuration.</p>"
        },
        "AdminCreateUserConfig":{
          "shape":"AdminCreateUserConfigType",
          "documentation":"<p>The configuration for AdminCreateUser requests.</p>"
        },
        "Schema":{
          "shape":"SchemaAttributesListType",
          "documentation":"<p>An array of schema attributes for the new user pool. These attributes can be standard or custom attributes.</p>"
        }
      },
      "documentation":"<p>Represents the request to create a user pool.</p>"
    },
    "CreateUserPoolResponse":{
      "type":"structure",
      "members":{
        "UserPool":{
          "shape":"UserPoolType",
          "documentation":"<p>A container for the user pool details.</p>"
        }
      },
      "documentation":"<p>Represents the response from the server for the request to create a user pool.</p>"
    },
    "CustomAttributeNameType":{
      "type":"string",
      "max":20,
      "min":1,
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
    },
    "CustomAttributesListType":{
      "type":"list",
      "member":{"shape":"SchemaAttributeType"},
      "max":25,
      "min":1
    },
    "DateType":{"type":"timestamp"},
    "DeleteUserAttributesRequest":{
      "type":"structure",
      "required":["UserAttributeNames"],
      "members":{
        "UserAttributeNames":{
          "shape":"AttributeNameListType",
          "documentation":"<p>An array of strings representing the user attribute names you wish to delete.</p>"
        },
        "AccessToken":{
          "shape":"TokenModelType",
          "documentation":"<p>The access token used in the request to delete user attributes.</p>"
        }
      },
      "documentation":"<p>Represents the request to delete user attributes.</p>"
    },
    "DeleteUserAttributesResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Represents the response from the server to delete user attributes.</p>"
    },
    "DeleteUserPoolClientRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "ClientId"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool where you want to delete the client.</p>"
        },
        "ClientId":{
          "shape":"ClientIdType",
          "documentation":"<p>The ID of the client associated with the user pool.</p>"
        }
      },
      "documentation":"<p>Represents the request to delete a user pool client.</p>"
    },
    "DeleteUserPoolRequest":{
      "type":"structure",
      "required":["UserPoolId"],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool you want to delete.</p>"
        }
      },
      "documentation":"<p>Represents the request to delete a user pool.</p>"
    },
    "DeleteUserRequest":{
      "type":"structure",
      "members":{
        "AccessToken":{
          "shape":"TokenModelType",
          "documentation":"<p>The access token from a request to delete a user.</p>"
        }
      },
      "documentation":"<p>Represents the request to delete a user.</p>"
    },
    "DeliveryMediumListType":{
      "type":"list",
      "member":{"shape":"DeliveryMediumType"}
    },
    "DeliveryMediumType":{
      "type":"string",
      "enum":[
        "SMS",
        "EMAIL"
      ]
    },
    "DescribeUserImportJobRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "JobId"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool that the users are being imported into.</p>"
        },
        "JobId":{
          "shape":"UserImportJobIdType",
          "documentation":"<p>The job ID for the user import job.</p>"
        }
      },
      "documentation":"<p>Represents the request to describe the user import job.</p>"
    },
    "DescribeUserImportJobResponse":{
      "type":"structure",
      "members":{
        "UserImportJob":{
          "shape":"UserImportJobType",
          "documentation":"<p>The job object that represents the user import job.</p>"
        }
      },
      "documentation":"<p>Represents the response from the server to the request to describe the user import job.</p>"
    },
    "DescribeUserPoolClientRequest":{
      "type":"structure",
      "required":[
        "UserPoolId",
        "ClientId"
      ],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool you want to describe.</p>"
        },
        "ClientId":{
          "shape":"ClientIdType",
          "documentation":"<p>The ID of the client associated with the user pool.</p>"
        }
      },
      "documentation":"<p>Represents the request to describe a user pool client.</p>"
    },
    "DescribeUserPoolClientResponse":{
      "type":"structure",
      "members":{
        "UserPoolClient":{
          "shape":"UserPoolClientType",
          "documentation":"<p>The user pool client from a server response to describe the user pool client.</p>"
        }
      },
      "documentation":"<p>Represents the response from the server from a request to describe the user pool client.</p>"
    },
    "DescribeUserPoolRequest":{
      "type":"structure",
      "required":["UserPoolId"],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool you want to describe.</p>"
        }
      },
      "documentation":"<p>Represents the request to describe the user pool.</p>"
    },
    "DescribeUserPoolResponse":{
      "type":"structure",
      "members":{
        "UserPool":{
          "shape":"UserPoolType",
          "documentation":"<p>The container of metadata returned by the server to describe the pool.</p>"
        }
      },
      "documentation":"<p>Represents the response to describe the user pool.</p>"
    },
    "DeviceConfigurationType":{
      "type":"structure",
      "members":{
        "ChallengeRequiredOnNewDevice":{
          "shape":"BooleanType",
          "documentation":"<p>Indicates whether a challenge is required on a new device. Only applicable to a new device.</p>"
        },
        "DeviceOnlyRememberedOnUserPrompt":{
          "shape":"BooleanType",
          "documentation":"<p>If true, a device is only remembered on user prompt.</p>"
        }
      },
      "documentation":"<p>The type of configuration for the user pool's device tracking.</p>"
    },
    "DeviceKeyType":{
      "type":"string",
      "max":55,
      "min":1,
      "pattern":"[\\w-]+_[0-9a-f-]+"
    },
    "DeviceListType":{
      "type":"list",
      "member":{"shape":"DeviceType"}
    },
    "DeviceNameType":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "DeviceRememberedStatusType":{
      "type":"string",
      "enum":[
        "remembered",
        "not_remembered"
      ]
    },
    "DeviceSecretVerifierConfigType":{
      "type":"structure",
      "members":{
        "PasswordVerifier":{
          "shape":"StringType",
          "documentation":"<p>The password verifier.</p>"
        },
        "Salt":{
          "shape":"StringType",
          "documentation":"<p>The salt.</p>"
        }
      },
      "documentation":"<p>The device verifier against which it will be authenticated.</p>"
    },
    "DeviceType":{
      "type":"structure",
      "members":{
        "DeviceKey":{
          "shape":"DeviceKeyType",
          "documentation":"<p>The device key.</p>"
        },
        "DeviceAttributes":{
          "shape":"AttributeListType",
          "documentation":"<p>The device attributes.</p>"
        },
        "DeviceCreateDate":{
          "shape":"DateType",
          "documentation":"<p>The creation date of the device.</p>"
        },
        "DeviceLastModifiedDate":{
          "shape":"DateType",
          "documentation":"<p>The last modified date of the device.</p>"
        },
        "DeviceLastAuthenticatedDate":{
          "shape":"DateType",
          "documentation":"<p>The date in which the device was last authenticated.</p>"
        }
      },
      "documentation":"<p>The device type.</p>"
    },
    "EmailAddressType":{
      "type":"string",
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+@[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
    },
    "EmailConfigurationType":{
      "type":"structure",
      "members":{
        "SourceArn":{
          "shape":"ArnType",
          "documentation":"<p>The Amazon Resource Name (ARN) of the email source.</p>"
        },
        "ReplyToEmailAddress":{
          "shape":"EmailAddressType",
          "documentation":"<p>The REPLY-TO email address.</p>"
        }
      },
      "documentation":"<p>The email configuration type.</p>"
    },
    "EmailVerificationMessageType":{
      "type":"string",
      "max":2048,
      "min":6,
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]*\\{####\\}[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]*"
    },
    "EmailVerificationSubjectType":{
      "type":"string",
      "max":140,
      "min":1,
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s]+"
    },
    "ExpiredCodeException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"MessageType",
          "documentation":"<p>The message returned when the expired code exception is thrown.</p>"
        }
      },
      "documentation":"<p>This exception is thrown if a code has expired.</p>",
      "exception":true
    },
    "ExplicitAuthFlowsListType":{
      "type":"list",
      "member":{"shape":"ExplicitAuthFlowsType"}
    },
    "ExplicitAuthFlowsType":{
      "type":"string",
      "enum":[
        "ADMIN_NO_SRP_AUTH",
        "CUSTOM_AUTH_FLOW_ONLY"
      ]
    },
    "ForceAliasCreation":{"type":"boolean"},
    "ForgetDeviceRequest":{
      "type":"structure",
      "required":["DeviceKey"],
      "members":{
        "AccessToken":{
          "shape":"TokenModelType",
          "documentation":"<p>The access token for the forgotten device request.</p>"
        },
        "DeviceKey":{
          "shape":"DeviceKeyType",
          "documentation":"<p>The device key.</p>"
        }
      },
      "documentation":"<p>Represents the request to forget the device.</p>"
    },
    "ForgotPasswordRequest":{
      "type":"structure",
      "required":[
        "ClientId",
        "Username"
      ],
      "members":{
        "ClientId":{
          "shape":"ClientIdType",
          "documentation":"<p>The ID of the client associated with the user pool.</p>"
        },
        "SecretHash":{
          "shape":"SecretHashType",
          "documentation":"<p>A keyed-hash message authentication code (HMAC) calculated using the secret key of a user pool client and username plus the client ID in the message.</p>"
        },
        "Username":{
          "shape":"UsernameType",
          "documentation":"<p>The user name of the user for whom you want to enter a code to reset a forgotten password.</p>"
        }
      },
      "documentation":"<p>Represents the request to reset a user's password.</p>"
    },
    "ForgotPasswordResponse":{
      "type":"structure",
      "members":{
        "CodeDeliveryDetails":{
          "shape":"CodeDeliveryDetailsType",
          "documentation":"<p>The code delivery details returned by the server in response to the request to reset a password.</p>"
        }
      },
      "documentation":"<p>Respresents the response from the server regarding the request to reset a password.</p>"
    },
    "GenerateSecret":{"type":"boolean"},
    "GetCSVHeaderRequest":{
      "type":"structure",
      "required":["UserPoolId"],
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool that the users are to be imported into.</p>"
        }
      },
      "documentation":"<p>Represents the request to get the header information for the .csv file for the user import job.</p>"
    },
    "GetCSVHeaderResponse":{
      "type":"structure",
      "members":{
        "UserPoolId":{
          "shape":"UserPoolIdType",
          "documentation":"<p>The user pool ID for the user pool that the users are to be imported into.</p>"
        },
        "CSVHeader":{
          "shape":"ListOfStringTypes",
          "documentation":"<p>The header information for the .csv file for the user import job.</p>"
        }
      },
[...]
