{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2014-06-30",
    "endpointPrefix": "cognito-identity",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Cognito Identity",
    "serviceId": "Cognito Identity",
    "signatureVersion": "v4",
    "targetPrefix": "AWSCognitoIdentityService",
    "uid": "cognito-identity-2014-06-30"
  },
  "operations": {
    "CreateIdentityPool": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityPoolName",
          "AllowUnauthenticatedIdentities"
        ],
        "members": {
          "IdentityPoolName": {
            "shape": "S2"
          },
          "AllowUnauthenticatedIdentities": {
            "type": "boolean"
          },
          "SupportedLoginProviders": {
            "shape": "S4"
          },
          "DeveloperProviderName": {
            "shape": "S7"
          },
          "OpenIdConnectProviderARNs": {
            "shape": "S8"
          },
          "CognitoIdentityProviders": {
            "shape": "Sa"
          },
          "SamlProviderARNs": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "shape": "Sg"
      }
    },
    "DeleteIdentities": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityIdsToDelete"
        ],
        "members": {
          "IdentityIdsToDelete": {
            "type": "list",
            "member": {
              "shape": "Sk"
            },
            "max": 60,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedIdentityIds": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "IdentityId": {
                  "shape": "Sk"
                },
                "ErrorCode": {
                  "type": "string",
                  "enum": [
                    "AccessDenied",
                    "InternalServerError"
                  ]
                }
              }
            },
            "max": 60
          }
        }
      }
    },
    "DeleteIdentityPool": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityPoolId"
        ],
        "members": {
          "IdentityPoolId": {
            "shape": "Sh"
          }
        }
      }
    },
    "DescribeIdentity": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityId"
        ],
        "members": {
          "IdentityId": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "shape": "Sr"
      }
    },
    "DescribeIdentityPool": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityPoolId"
        ],
        "members": {
          "IdentityPoolId": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "shape": "Sg"
      }
    },
    "GetCredentialsForIdentity": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityId"
        ],
        "members": {
          "IdentityId": {
            "shape": "Sk"
          },
          "Logins": {
            "shape": "Sw"
          },
          "CustomRoleArn": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityId": {
            "shape": "Sk"
          },
          "Credentials": {
            "type": "structure",
            "members": {
              "AccessKeyId": {},
              "SecretKey": {},
              "SessionToken": {},
              "Expiration": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "GetId": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityPoolId"
        ],
        "members": {
          "AccountId": {
            "type": "string",
            "max": 15,
            "min": 1,
            "pattern": "\\d+"
          },
          "IdentityPoolId": {
            "shape": "Sh"
          },
          "Logins": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityId": {
            "shape": "Sk"
          }
        }
      }
    },
    "GetIdentityPoolRoles": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityPoolId"
        ],
        "members": {
          "IdentityPoolId": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityPoolId": {
            "shape": "Sh"
          },
          "Roles": {
            "shape": "S18"
          },
          "RoleMappings": {
            "shape": "S1a"
          }
        }
      }
    },
    "GetOpenIdToken": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityId"
        ],
        "members": {
          "IdentityId": {
            "shape": "Sk"
          },
          "Logins": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityId": {
            "shape": "Sk"
          },
          "Token": {}
        }
      }
    },
    "GetOpenIdTokenForDeveloperIdentity": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityPoolId",
          "Logins"
        ],
        "members": {
          "IdentityPoolId": {
            "shape": "Sh"
          },
          "IdentityId": {
            "shape": "Sk"
          },
          "Logins": {
            "shape": "Sw"
          },
          "TokenDuration": {
            "type": "long",
            "max": 86400,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityId": {
            "shape": "Sk"
          },
          "Token": {}
        }
      }
    },
    "ListIdentities": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityPoolId",
          "MaxResults"
        ],
        "members": {
          "IdentityPoolId": {
            "shape": "Sh"
          },
          "MaxResults": {
            "shape": "S1r"
          },
          "NextToken": {
            "shape": "S1s"
          },
          "HideDisabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityPoolId": {
            "shape": "Sh"
          },
          "Identities": {
            "type": "list",
            "member": {
              "shape": "Sr"
            }
          },
          "NextToken": {
            "shape": "S1s"
          }
        }
      }
    },
    "ListIdentityPools": {
      "input": {
        "type": "structure",
        "required": [
          "MaxResults"
        ],
        "members": {
          "MaxResults": {
            "shape": "S1r"
          },
          "NextToken": {
            "shape": "S1s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityPools": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "IdentityPoolId": {
                  "shape": "Sh"
                },
                "IdentityPoolName": {
                  "shape": "S2"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S1s"
          }
        }
      }
    },
    "LookupDeveloperIdentity": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityPoolId"
        ],
        "members": {
          "IdentityPoolId": {
            "shape": "Sh"
          },
          "IdentityId": {
            "shape": "Sk"
          },
          "DeveloperUserIdentifier": {
            "shape": "S21"
          },
          "MaxResults": {
            "shape": "S1r"
          },
          "NextToken": {
            "shape": "S1s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityId": {
            "shape": "Sk"
          },
          "DeveloperUserIdentifierList": {
            "type": "list",
            "member": {
              "shape": "S21"
            }
          },
          "NextToken": {
            "shape": "S1s"
          }
        }
      }
    },
    "MergeDeveloperIdentities": {
      "input": {
        "type": "structure",
        "required": [
          "SourceUserIdentifier",
          "DestinationUserIdentifier",
          "DeveloperProviderName",
          "IdentityPoolId"
        ],
        "members": {
          "SourceUserIdentifier": {
            "shape": "S21"
          },
          "DestinationUserIdentifier": {
            "shape": "S21"
          },
          "DeveloperProviderName": {
            "shape": "S7"
          },
          "IdentityPoolId": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityId": {
            "shape": "Sk"
          }
        }
      }
    },
    "SetIdentityPoolRoles": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityPoolId",
          "Roles"
        ],
        "members": {
          "IdentityPoolId": {
            "shape": "Sh"
          },
          "Roles": {
            "shape": "S18"
          },
          "RoleMappings": {
            "shape": "S1a"
          }
        }
      }
    },
    "UnlinkDeveloperIdentity": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityId",
          "IdentityPoolId",
          "DeveloperProviderName",
          "DeveloperUserIdentifier"
        ],
        "members": {
          "IdentityId": {
            "shape": "Sk"
          },
          "IdentityPoolId": {
            "shape": "Sh"
          },
          "DeveloperProviderName": {
            "shape": "S7"
          },
          "DeveloperUserIdentifier": {
            "shape": "S21"
          }
        }
      }
    },
    "UnlinkIdentity": {
      "input": {
        "type": "structure",
        "required": [
          "IdentityId",
          "Logins",
          "LoginsToRemove"
        ],
        "members": {
          "IdentityId": {
            "shape": "Sk"
          },
          "Logins": {
            "shape": "Sw"
          },
          "LoginsToRemove": {
            "shape": "Ss"
          }
        }
      }
    },
    "UpdateIdentityPool": {
      "input": {
        "shape": "Sg"
      },
      "output": {
        "shape": "Sg"
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w ]+"
    },
    "S4": {
      "type": "map",
      "key": {
        "shape": "S5"
      },
      "value": {
        "type": "string",
        "max": 128,
        "min": 1,
        "pattern": "[\\w.;_/-]+"
      },
      "max": 10
    },
    "S5": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S7": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w._-]+"
    },
    "S8": {
      "type": "list",
      "member": {
        "shape": "S9"
      }
    },
    "S9": {
      "type": "string",
      "max": 2048,
      "min": 20
    },
    "Sa": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ProviderName": {
            "type": "string",
            "max": 128,
            "min": 1,
            "pattern": "[\\w._:/-]+"
          },
          "ClientId": {
            "type": "string",
            "max": 128,
            "min": 1,
            "pattern": "[\\w_]+"
          },
          "ServerSideTokenCheck": {
            "type": "boolean"
          }
        }
      }
    },
    "Sf": {
      "type": "list",
      "member": {
        "shape": "S9"
      }
    },
    "Sg": {
      "type": "structure",
      "required": [
        "IdentityPoolId",
        "IdentityPoolName",
        "AllowUnauthenticatedIdentities"
      ],
      "members": {
        "IdentityPoolId": {
          "shape": "Sh"
        },
        "IdentityPoolName": {
          "shape": "S2"
        },
        "AllowUnauthenticatedIdentities": {
          "type": "boolean"
        },
        "SupportedLoginProviders": {
          "shape": "S4"
        },
        "DeveloperProviderName": {
          "shape": "S7"
        },
        "OpenIdConnectProviderARNs": {
          "shape": "S8"
        },
        "CognitoIdentityProviders": {
          "shape": "Sa"
        },
        "SamlProviderARNs": {
          "shape": "Sf"
        }
      }
    },
    "Sh": {
      "type": "string",
      "max": 55,
      "min": 1,
      "pattern": "[\\w-]+:[0-9a-f-]+"
    },
    "Sk": {
      "type": "string",
      "max": 55,
      "min": 1,
      "pattern": "[\\w-]+:[0-9a-f-]+"
    },
    "Sr": {
      "type": "structure",
      "members": {
        "IdentityId": {
          "shape": "Sk"
        },
        "Logins": {
          "shape": "Ss"
        },
        "CreationDate": {
          "type": "timestamp"
        },
        "LastModifiedDate": {
          "type": "timestamp"
        }
      }
    },
    "Ss": {
      "type": "list",
      "member": {
        "shape": "S5"
      }
    },
    "Sw": {
      "type": "map",
      "key": {
        "shape": "S5"
      },
      "value": {
        "type": "string",
        "max": 50000,
        "min": 1
      },
      "max": 10
    },
    "S18": {
      "type": "map",
      "key": {
        "type": "string",
        "pattern": "(un)?authenticated"
      },
      "value": {
        "shape": "S9"
      },
      "max": 2
    },
    "S1a": {
      "type": "map",
      "key": {
        "shape": "S5"
      },
      "value": {
        "type": "structure",
        "required": [
          "Type"
        ],
        "members": {
          "Type": {
            "type": "string",
            "enum": [
              "Token",
              "Rules"
            ]
          },
          "AmbiguousRoleResolution": {
            "type": "string",
            "enum": [
              "AuthenticatedRole",
              "Deny"
            ]
          },
          "RulesConfiguration": {
            "type": "structure",
            "required": [
              "Rules"
            ],
            "members": {
              "Rules": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "Claim",
                    "MatchType",
                    "Value",
                    "RoleARN"
                  ],
                  "members": {
                    "Claim": {
                      "type": "string",
                      "max": 64,
                      "min": 1,
                      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
                    },
                    "MatchType": {
                      "type": "string",
                      "enum": [
                        "Equals",
                        "Contains",
                        "StartsWith",
                        "NotEqual"
                      ]
                    },
                    "Value": {
                      "type": "string",
                      "max": 128,
                      "min": 1
                    },
                    "RoleARN": {
                      "shape": "S9"
                    }
                  }
                },
                "max": 25,
                "min": 1
              }
            }
          }
        }
      },
      "max": 10
    },
    "S1r": {
      "type": "integer",
      "max": 60,
      "min": 1
    },
    "S1s": {
      "type": "string",
      "min": 1,
      "pattern": "[\\S]+"
    },
    "S21": {
      "type": "string",
      "max": 1024,
      "min": 1
    }
  }
}