{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-11-27",
    "endpointPrefix": "comprehend",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Comprehend",
    "serviceId": "Comprehend",
    "signatureVersion": "v4",
    "signingName": "comprehend",
    "targetPrefix": "Comprehend_20171127",
    "uid": "comprehend-2017-11-27"
  },
  "operations": {
    "BatchDetectDominantLanguage": {
      "input": {
        "type": "structure",
        "required": [
          "TextList"
        ],
        "members": {
          "TextList": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResultList",
          "ErrorList"
        ],
        "members": {
          "ResultList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Index": {
                  "type": "integer"
                },
                "Languages": {
                  "shape": "S8"
                }
              }
            }
          },
          "ErrorList": {
            "shape": "Sb"
          }
        }
      }
    },
    "BatchDetectEntities": {
      "input": {
        "type": "structure",
        "required": [
          "TextList",
          "LanguageCode"
        ],
        "members": {
          "TextList": {
            "shape": "S2"
          },
          "LanguageCode": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResultList",
          "ErrorList"
        ],
        "members": {
          "ResultList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Index": {
                  "type": "integer"
                },
                "Entities": {
                  "shape": "Si"
                }
              }
            }
          },
          "ErrorList": {
            "shape": "Sb"
          }
        }
      }
    },
    "BatchDetectKeyPhrases": {
      "input": {
        "type": "structure",
        "required": [
          "TextList",
          "LanguageCode"
        ],
        "members": {
          "TextList": {
            "shape": "S2"
          },
          "LanguageCode": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResultList",
          "ErrorList"
        ],
        "members": {
          "ResultList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Index": {
                  "type": "integer"
                },
                "KeyPhrases": {
                  "shape": "Sp"
                }
              }
            }
          },
          "ErrorList": {
            "shape": "Sb"
          }
        }
      }
    },
    "BatchDetectSentiment": {
      "input": {
        "type": "structure",
        "required": [
          "TextList",
          "LanguageCode"
        ],
        "members": {
          "TextList": {
            "shape": "S2"
          },
          "LanguageCode": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResultList",
          "ErrorList"
        ],
        "members": {
          "ResultList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Index": {
                  "type": "integer"
                },
                "Sentiment": {
                  "shape": "Sv"
                },
                "SentimentScore": {
                  "shape": "Sw"
                }
              }
            }
          },
          "ErrorList": {
            "shape": "Sb"
          }
        }
      }
    },
    "BatchDetectSyntax": {
      "input": {
        "type": "structure",
        "required": [
          "TextList",
          "LanguageCode"
        ],
        "members": {
          "TextList": {
            "shape": "S2"
          },
          "LanguageCode": {
            "shape": "Sy"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResultList",
          "ErrorList"
        ],
        "members": {
          "ResultList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Index": {
                  "type": "integer"
                },
                "SyntaxTokens": {
                  "shape": "S12"
                }
              }
            }
          },
          "ErrorList": {
            "shape": "Sb"
          }
        }
      }
    },
    "DescribeDominantLanguageDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DominantLanguageDetectionJobProperties": {
            "shape": "S19"
          }
        }
      }
    },
    "DescribeEntitiesDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EntitiesDetectionJobProperties": {
            "shape": "S1l"
          }
        }
      }
    },
    "DescribeKeyPhrasesDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "KeyPhrasesDetectionJobProperties": {
            "shape": "S1o"
          }
        }
      }
    },
    "DescribeSentimentDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SentimentDetectionJobProperties": {
            "shape": "S1r"
          }
        }
      }
    },
    "DescribeTopicsDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TopicsDetectionJobProperties": {
            "shape": "S1u"
          }
        }
      }
    },
    "DetectDominantLanguage": {
      "input": {
        "type": "structure",
        "required": [
          "Text"
        ],
        "members": {
          "Text": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Languages": {
            "shape": "S8"
          }
        }
      }
    },
    "DetectEntities": {
      "input": {
        "type": "structure",
        "required": [
          "Text",
          "LanguageCode"
        ],
        "members": {
          "Text": {
            "shape": "S3"
          },
          "LanguageCode": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Entities": {
            "shape": "Si"
          }
        }
      }
    },
    "DetectKeyPhrases": {
      "input": {
        "type": "structure",
        "required": [
          "Text",
          "LanguageCode"
        ],
        "members": {
          "Text": {
            "shape": "S3"
          },
          "LanguageCode": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "KeyPhrases": {
            "shape": "Sp"
          }
        }
      }
    },
    "DetectSentiment": {
      "input": {
        "type": "structure",
        "required": [
          "Text",
          "LanguageCode"
        ],
        "members": {
          "Text": {
            "shape": "S3"
          },
          "LanguageCode": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Sentiment": {
            "shape": "Sv"
          },
          "SentimentScore": {
            "shape": "Sw"
          }
        }
      }
    },
    "DetectSyntax": {
      "input": {
        "type": "structure",
        "required": [
          "Text",
          "LanguageCode"
        ],
        "members": {
          "Text": {
            "shape": "S3"
          },
          "LanguageCode": {
            "shape": "Sy"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SyntaxTokens": {
            "shape": "S12"
          }
        }
      }
    },
    "ListDominantLanguageDetectionJobs": {
      "input": {
        "type": "structure",
        "members": {
          "Filter": {
            "type": "structure",
            "members": {
              "JobName": {
                "shape": "S1a"
              },
              "JobStatus": {
                "shape": "S1b"
              },
              "SubmitTimeBefore": {
                "type": "timestamp"
              },
              "SubmitTimeAfter": {
                "type": "timestamp"
              }
            }
          },
          "NextToken": {
            "shape": "S3"
          },
          "MaxResults": {
            "shape": "S27"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DominantLanguageDetectionJobPropertiesList": {
            "type": "list",
            "member": {
              "shape": "S19"
            }
          },
          "NextToken": {
            "shape": "S3"
          }
        }
      }
    },
    "ListEntitiesDetectionJobs": {
      "input": {
        "type": "structure",
        "members": {
          "Filter": {
            "type": "structure",
            "members": {
              "JobName": {
                "shape": "S1a"
              },
              "JobStatus": {
                "shape": "S1b"
              },
              "SubmitTimeBefore": {
                "type": "timestamp"
              },
              "SubmitTimeAfter": {
                "type": "timestamp"
              }
            }
          },
          "NextToken": {
            "shape": "S3"
          },
          "MaxResults": {
            "shape": "S27"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EntitiesDetectionJobPropertiesList": {
            "type": "list",
            "member": {
              "shape": "S1l"
            }
          },
          "NextToken": {
            "shape": "S3"
          }
        }
      }
    },
    "ListKeyPhrasesDetectionJobs": {
      "input": {
        "type": "structure",
        "members": {
          "Filter": {
            "type": "structure",
            "members": {
              "JobName": {
                "shape": "S1a"
              },
              "JobStatus": {
                "shape": "S1b"
              },
              "SubmitTimeBefore": {
                "type": "timestamp"
              },
              "SubmitTimeAfter": {
                "type": "timestamp"
              }
            }
          },
          "NextToken": {
            "shape": "S3"
          },
          "MaxResults": {
            "shape": "S27"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "KeyPhrasesDetectionJobPropertiesList": {
            "type": "list",
            "member": {
              "shape": "S1o"
            }
          },
          "NextToken": {
            "shape": "S3"
          }
        }
      }
    },
    "ListSentimentDetectionJobs": {
      "input": {
        "type": "structure",
        "members": {
          "Filter": {
            "type": "structure",
            "members": {
              "JobName": {
                "shape": "S1a"
              },
              "JobStatus": {
                "shape": "S1b"
              },
              "SubmitTimeBefore": {
                "type": "timestamp"
              },
              "SubmitTimeAfter": {
                "type": "timestamp"
              }
            }
          },
          "NextToken": {
            "shape": "S3"
          },
          "MaxResults": {
            "shape": "S27"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SentimentDetectionJobPropertiesList": {
            "type": "list",
            "member": {
              "shape": "S1r"
            }
          },
          "NextToken": {
            "shape": "S3"
          }
        }
      }
    },
    "ListTopicsDetectionJobs": {
      "input": {
        "type": "structure",
        "members": {
          "Filter": {
            "type": "structure",
            "members": {
              "JobName": {
                "shape": "S1a"
              },
              "JobStatus": {
                "shape": "S1b"
              },
              "SubmitTimeBefore": {
                "type": "timestamp"
              },
              "SubmitTimeAfter": {
                "type": "timestamp"
              }
            }
          },
          "NextToken": {
            "shape": "S3"
          },
          "MaxResults": {
            "shape": "S27"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TopicsDetectionJobPropertiesList": {
            "type": "list",
            "member": {
              "shape": "S1u"
            }
          },
          "NextToken": {
            "shape": "S3"
          }
        }
      }
    },
    "StartDominantLanguageDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "InputDataConfig",
          "OutputDataConfig",
          "DataAccessRoleArn"
        ],
        "members": {
          "InputDataConfig": {
            "shape": "S1e"
          },
          "OutputDataConfig": {
            "shape": "S1h"
          },
          "DataAccessRoleArn": {
            "shape": "S1i"
          },
          "JobName": {
            "shape": "S1a"
          },
          "ClientRequestToken": {
            "shape": "S2r",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S17"
          },
          "JobStatus": {
            "shape": "S1b"
          }
        }
      }
    },
    "StartEntitiesDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "InputDataConfig",
          "OutputDataConfig",
          "DataAccessRoleArn",
          "LanguageCode"
        ],
        "members": {
          "InputDataConfig": {
            "shape": "S1e"
          },
          "OutputDataConfig": {
            "shape": "S1h"
          },
          "DataAccessRoleArn": {
            "shape": "S1i"
          },
          "JobName": {
            "shape": "S1a"
          },
          "LanguageCode": {
            "shape": "Se"
          },
          "ClientRequestToken": {
            "shape": "S2r",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S17"
          },
          "JobStatus": {
            "shape": "S1b"
          }
        }
      }
    },
    "StartKeyPhrasesDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "InputDataConfig",
          "OutputDataConfig",
          "DataAccessRoleArn",
          "LanguageCode"
        ],
        "members": {
          "InputDataConfig": {
            "shape": "S1e"
          },
          "OutputDataConfig": {
            "shape": "S1h"
          },
          "DataAccessRoleArn": {
            "shape": "S1i"
          },
          "JobName": {
            "shape": "S1a"
          },
          "LanguageCode": {
            "shape": "Se"
          },
          "ClientRequestToken": {
            "shape": "S2r",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S17"
          },
          "JobStatus": {
            "shape": "S1b"
          }
        }
      }
    },
    "StartSentimentDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "InputDataConfig",
          "OutputDataConfig",
          "DataAccessRoleArn",
          "LanguageCode"
        ],
        "members": {
          "InputDataConfig": {
            "shape": "S1e"
          },
          "OutputDataConfig": {
            "shape": "S1h"
          },
          "DataAccessRoleArn": {
            "shape": "S1i"
          },
          "JobName": {
            "shape": "S1a"
          },
          "LanguageCode": {
            "shape": "Se"
          },
          "ClientRequestToken": {
            "shape": "S2r",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S17"
          },
          "JobStatus": {
            "shape": "S1b"
          }
        }
      }
    },
    "StartTopicsDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "InputDataConfig",
          "OutputDataConfig",
          "DataAccessRoleArn"
        ],
        "members": {
          "InputDataConfig": {
            "shape": "S1e"
          },
          "OutputDataConfig": {
            "shape": "S1h"
          },
          "DataAccessRoleArn": {
            "shape": "S1i"
          },
          "JobName": {
            "shape": "S1a"
          },
          "NumberOfTopics": {
            "type": "integer",
            "max": 100,
            "min": 1
          },
          "ClientRequestToken": {
            "shape": "S2r",
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S17"
          },
          "JobStatus": {
            "shape": "S1b"
          }
        }
      }
    },
    "StopDominantLanguageDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S17"
          },
          "JobStatus": {
            "shape": "S1b"
          }
        }
      }
    },
    "StopEntitiesDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S17"
          },
          "JobStatus": {
            "shape": "S1b"
          }
        }
      }
    },
    "StopKeyPhrasesDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S17"
          },
          "JobStatus": {
            "shape": "S1b"
          }
        }
      }
    },
    "StopSentimentDetectionJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S17"
          },
          "JobStatus": {
            "shape": "S1b"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {
        "shape": "S3"
      }
    },
    "S3": {
      "type": "string",
      "min": 1
    },
    "S8": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "LanguageCode": {
            "shape": "S3"
          },
          "Score": {
            "type": "float"
          }
        }
      }
    },
    "Sb": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Index": {
            "type": "integer"
          },
          "ErrorCode": {
            "shape": "S3"
          },
          "ErrorMessage": {
            "shape": "S3"
          }
        }
      }
    },
    "Se": {
      "type": "string",
      "enum": [
        "en",
        "es"
      ]
    },
    "Si": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Score": {
            "type": "float"
          },
          "Type": {
            "type": "string",
            "enum": [
              "PERSON",
              "LOCATION",
              "ORGANIZATION",
              "COMMERCIAL_ITEM",
              "EVENT",
              "DATE",
              "QUANTITY",
              "TITLE",
              "OTHER"
            ]
          },
          "Text": {
            "shape": "S3"
          },
          "BeginOffset": {
            "type": "integer"
          },
          "EndOffset": {
            "type": "integer"
          }
        }
      }
    },
    "Sp": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Score": {
            "type": "float"
          },
          "Text": {
            "shape": "S3"
          },
          "BeginOffset": {
            "type": "integer"
          },
          "EndOffset": {
            "type": "integer"
          }
        }
      }
    },
    "Sv": {
      "type": "string",
      "enum": [
        "POSITIVE",
        "NEGATIVE",
        "NEUTRAL",
        "MIXED"
      ]
    },
    "Sw": {
      "type": "structure",
      "members": {
        "Positive": {
          "type": "float"
        },
        "Negative": {
          "type": "float"
        },
        "Neutral": {
          "type": "float"
        },
        "Mixed": {
          "type": "float"
        }
      }
    },
    "Sy": {
      "type": "string",
      "enum": [
        "en"
      ]
    },
    "S12": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "TokenId": {
            "type": "integer"
          },
          "Text": {
            "shape": "S3"
          },
          "BeginOffset": {
            "type": "integer"
          },
          "EndOffset": {
            "type": "integer"
          },
          "PartOfSpeech": {
            "type": "structure",
            "members": {
              "Tag": {
                "type": "string",
                "enum": [
                  "ADJ",
                  "ADP",
                  "ADV",
                  "AUX",
                  "CONJ",
                  "DET",
                  "INTJ",
                  "NOUN",
                  "NUM",
                  "O",
                  "PART",
                  "PRON",
                  "PROPN",
                  "PUNCT",
                  "SCONJ",
                  "SYM",
                  "VERB"
                ]
              },
              "Score": {
                "type": "float"
              }
            }
          }
        }
      }
    },
    "S17": {
      "type": "string",
      "max": 32,
      "min": 1
    },
    "S19": {
      "type": "structure",
      "members": {
        "JobId": {
          "shape": "S17"
        },
        "JobName": {
          "shape": "S1a"
        },
        "JobStatus": {
          "shape": "S1b"
        },
        "Message": {},
        "SubmitTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        },
        "InputDataConfig": {
          "shape": "S1e"
        },
        "OutputDataConfig": {
          "shape": "S1h"
        },
        "DataAccessRoleArn": {
          "shape": "S1i"
        }
      }
    },
    "S1a": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
    },
    "S1b": {
      "type": "string",
      "enum": [
        "SUBMITTED",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED",
        "STOP_REQUESTED",
        "STOPPED"
      ]
    },
    "S1e": {
      "type": "structure",
      "required": [
        "S3Uri"
      ],
      "members": {
        "S3Uri": {
          "shape": "S1f"
        },
        "InputFormat": {
          "type": "string",
          "enum": [
            "ONE_DOC_PER_FILE",
            "ONE_DOC_PER_LINE"
          ]
        }
      }
    },
    "S1f": {
      "type": "string",
      "max": 1024,
      "pattern": "s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?"
    },
    "S1h": {
      "type": "structure",
      "required": [
        "S3Uri"
      ],
      "members": {
        "S3Uri": {
          "shape": "S1f"
        }
      }
    },
    "S1i": {
      "type": "string",
      "pattern": "arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+"
    },
    "S1l": {
      "type": "structure",
      "members": {
        "JobId": {
          "shape": "S17"
        },
        "JobName": {
          "shape": "S1a"
        },
        "JobStatus": {
          "shape": "S1b"
        },
        "Message": {},
        "SubmitTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        },
        "InputDataConfig": {
          "shape": "S1e"
        },
        "OutputDataConfig": {
          "shape": "S1h"
        },
        "LanguageCode": {
          "shape": "Se"
        },
        "DataAccessRoleArn": {
          "shape": "S1i"
        }
      }
    },
    "S1o": {
      "type": "structure",
      "members": {
        "JobId": {
          "shape": "S17"
        },
        "JobName": {
          "shape": "S1a"
        },
        "JobStatus": {
          "shape": "S1b"
        },
        "Message": {},
        "SubmitTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        },
        "InputDataConfig": {
          "shape": "S1e"
        },
        "OutputDataConfig": {
          "shape": "S1h"
        },
        "LanguageCode": {
          "shape": "Se"
        },
        "DataAccessRoleArn": {
          "shape": "S1i"
        }
      }
    },
    "S1r": {
      "type": "structure",
      "members": {
        "JobId": {
          "shape": "S17"
        },
        "JobName": {
          "shape": "S1a"
        },
        "JobStatus": {
          "shape": "S1b"
        },
        "Message": {},
        "SubmitTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        },
        "InputDataConfig": {
          "shape": "S1e"
        },
        "OutputDataConfig": {
          "shape": "S1h"
        },
        "LanguageCode": {
          "shape": "Se"
        },
        "DataAccessRoleArn": {
          "shape": "S1i"
        }
      }
    },
    "S1u": {
      "type": "structure",
      "members": {
        "JobId": {
          "shape": "S17"
        },
        "JobName": {
          "shape": "S1a"
        },
        "JobStatus": {
          "shape": "S1b"
        },
        "Message": {},
        "SubmitTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        },
        "InputDataConfig": {
          "shape": "S1e"
        },
        "OutputDataConfig": {
          "shape": "S1h"
        },
        "NumberOfTopics": {
          "type": "integer"
        }
      }
    },
    "S27": {
      "type": "integer",
      "max": 500,
      "min": 1
    },
    "S2r": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-]+$"
    }
  }
}