{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-11-01",
    "endpointPrefix": "compute-optimizer",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceFullName": "AWS Compute Optimizer",
    "serviceId": "Compute Optimizer",
    "signatureVersion": "v4",
    "signingName": "compute-optimizer",
    "targetPrefix": "ComputeOptimizerService",
    "uid": "compute-optimizer-2019-11-01"
  },
  "operations": {
    "GetAutoScalingGroupRecommendations": {
      "input": {
        "type": "structure",
        "members": {
          "accountIds": {
            "shape": "S2"
          },
          "autoScalingGroupArns": {
            "type": "list",
            "member": {}
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "autoScalingGroupRecommendations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "accountId": {},
                "autoScalingGroupArn": {},
                "autoScalingGroupName": {},
                "finding": {},
                "utilizationMetrics": {
                  "shape": "Si"
                },
                "lookBackPeriodInDays": {
                  "type": "double"
                },
                "currentConfiguration": {
                  "shape": "So"
                },
                "recommendationOptions": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "configuration": {
                        "shape": "So"
                      },
                      "projectedUtilizationMetrics": {
                        "shape": "Sv"
                      },
                      "performanceRisk": {
                        "type": "double"
                      },
                      "rank": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "lastRefreshTimestamp": {
                  "type": "timestamp"
                }
              }
            }
          },
          "errors": {
            "shape": "Sz"
          }
        }
      }
    },
    "GetEC2InstanceRecommendations": {
      "input": {
        "type": "structure",
        "members": {
          "instanceArns": {
            "type": "list",
            "member": {}
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S8"
          },
          "accountIds": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "instanceRecommendations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "instanceArn": {},
                "accountId": {},
                "instanceName": {},
                "currentInstanceType": {},
                "finding": {},
                "utilizationMetrics": {
                  "shape": "Si"
                },
                "lookBackPeriodInDays": {
                  "type": "double"
                },
                "recommendationOptions": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "instanceType": {},
                      "projectedUtilizationMetrics": {
                        "shape": "Sv"
                      },
                      "performanceRisk": {
                        "type": "double"
                      },
                      "rank": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "recommendationSources": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "recommendationSourceArn": {},
                      "recommendationSourceType": {}
                    }
                  }
                },
                "lastRefreshTimestamp": {
                  "type": "timestamp"
                }
              }
            }
          },
          "errors": {
            "shape": "Sz"
          }
        }
      }
    },
    "GetEC2RecommendationProjectedMetrics": {
      "input": {
        "type": "structure",
        "required": [
          "instanceArn",
          "stat",
          "period",
          "startTime",
          "endTime"
        ],
        "members": {
          "instanceArn": {},
          "stat": {},
          "period": {
            "type": "integer"
          },
          "startTime": {
            "type": "timestamp"
          },
          "endTime": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "recommendedOptionProjectedMetrics": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "recommendedInstanceType": {},
                "rank": {
                  "type": "integer"
                },
                "projectedMetrics": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "timestamps": {
                        "type": "list",
                        "member": {
                          "type": "timestamp"
                        }
                      },
                      "values": {
                        "type": "list",
                        "member": {
                          "type": "double"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetEnrollmentStatus": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "status": {},
          "statusReason": {},
          "memberAccountsEnrolled": {
            "type": "boolean"
          }
        }
      }
    },
    "GetRecommendationSummaries": {
      "input": {
        "type": "structure",
        "members": {
          "accountIds": {
            "shape": "S2"
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "recommendationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "summaries": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "value": {
                        "type": "double"
                      }
                    }
                  }
                },
                "recommendationResourceType": {},
                "accountId": {}
              }
            }
          }
        }
      }
    },
    "UpdateEnrollmentStatus": {
      "input": {
        "type": "structure",
        "required": [
          "status"
        ],
        "members": {
          "status": {},
          "includeMemberAccounts": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "status": {},
          "statusReason": {}
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {}
    },
    "S8": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "values": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "Si": {
      "type": "list",
      "member": {
        "shape": "Sj"
      }
    },
    "Sj": {
      "type": "structure",
      "members": {
        "name": {},
        "statistic": {},
        "value": {
          "type": "double"
        }
      }
    },
    "So": {
      "type": "structure",
      "members": {
        "desiredCapacity": {
          "type": "integer"
        },
        "minSize": {
          "type": "integer"
        },
        "maxSize": {
          "type": "integer"
        },
        "instanceType": {}
      }
    },
    "Sv": {
      "type": "list",
      "member": {
        "shape": "Sj"
      }
    },
    "Sz": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "identifier": {},
          "code": {},
          "message": {}
        }
      }
    }
  }
}