{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2014-11-12",
    "endpointPrefix": "config",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Config Service",
    "serviceFullName": "AWS Config",
    "serviceId": "Config Service",
    "signatureVersion": "v4",
    "targetPrefix": "StarlingDoveService",
    "uid": "config-2014-11-12"
  },
  "operations": {
    "BatchGetResourceConfig": {
      "input": {
        "type": "structure",
        "required": [
          "resourceKeys"
        ],
        "members": {
          "resourceKeys": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "baseConfigurationItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "version": {},
                "accountId": {
                  "shape": "Sa"
                },
                "configurationItemCaptureTime": {
                  "type": "timestamp"
                },
                "configurationItemStatus": {
                  "shape": "Sc"
                },
                "configurationStateId": {},
                "arn": {},
                "resourceType": {
                  "shape": "S4"
                },
                "resourceId": {
                  "shape": "S5"
                },
                "resourceName": {},
                "awsRegion": {
                  "shape": "Sg"
                },
                "availabilityZone": {},
                "resourceCreationTime": {
                  "type": "timestamp"
                },
                "configuration": {},
                "supplementaryConfiguration": {
                  "shape": "Sk"
                }
              }
            }
          },
          "unprocessedResourceKeys": {
            "shape": "S2"
          }
        }
      }
    },
    "DeleteAggregationAuthorization": {
      "input": {
        "type": "structure",
        "required": [
          "AuthorizedAccountId",
          "AuthorizedAwsRegion"
        ],
        "members": {
          "AuthorizedAccountId": {
            "shape": "Sa"
          },
          "AuthorizedAwsRegion": {
            "shape": "Sg"
          }
        }
      }
    },
    "DeleteConfigRule": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigRuleName"
        ],
        "members": {
          "ConfigRuleName": {
            "shape": "Sp"
          }
        }
      }
    },
    "DeleteConfigurationAggregator": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationAggregatorName"
        ],
        "members": {
          "ConfigurationAggregatorName": {
            "shape": "Sr"
          }
        }
      }
    },
    "DeleteConfigurationRecorder": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationRecorderName"
        ],
        "members": {
          "ConfigurationRecorderName": {
            "shape": "St"
          }
        }
      }
    },
    "DeleteDeliveryChannel": {
      "input": {
        "type": "structure",
        "required": [
          "DeliveryChannelName"
        ],
        "members": {
          "DeliveryChannelName": {
            "shape": "Sv"
          }
        }
      }
    },
    "DeleteEvaluationResults": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigRuleName"
        ],
        "members": {
          "ConfigRuleName": {
            "shape": "Sp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePendingAggregationRequest": {
      "input": {
        "type": "structure",
        "required": [
          "RequesterAccountId",
          "RequesterAwsRegion"
        ],
        "members": {
          "RequesterAccountId": {
            "shape": "Sa"
          },
          "RequesterAwsRegion": {
            "shape": "Sg"
          }
        }
      }
    },
    "DeleteRetentionConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "RetentionConfigurationName"
        ],
        "members": {
          "RetentionConfigurationName": {
            "shape": "S10"
          }
        }
      }
    },
    "DeliverConfigSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "deliveryChannelName"
        ],
        "members": {
          "deliveryChannelName": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "configSnapshotId": {}
        }
      }
    },
    "DescribeAggregateComplianceByConfigRules": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationAggregatorName"
        ],
        "members": {
          "ConfigurationAggregatorName": {
            "shape": "Sr"
          },
          "Filters": {
            "type": "structure",
            "members": {
              "ConfigRuleName": {
                "shape": "S16"
              },
              "ComplianceType": {
                "shape": "S17"
              },
              "AccountId": {
                "shape": "Sa"
              },
              "AwsRegion": {
                "shape": "Sg"
              }
            }
          },
          "Limit": {
            "shape": "S18"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AggregateComplianceByConfigRules": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ConfigRuleName": {
                  "shape": "S16"
                },
                "Compliance": {
                  "shape": "S1d"
                },
                "AccountId": {
                  "shape": "Sa"
                },
                "AwsRegion": {
                  "shape": "Sg"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeAggregationAuthorizations": {
      "input": {
        "type": "structure",
        "members": {
          "Limit": {
            "shape": "S1i"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AggregationAuthorizations": {
            "type": "list",
            "member": {
              "shape": "S1l"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeComplianceByConfigRule": {
      "input": {
        "type": "structure",
        "members": {
          "ConfigRuleNames": {
            "shape": "S1o"
          },
          "ComplianceTypes": {
            "shape": "S1p"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ComplianceByConfigRules": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ConfigRuleName": {
                  "shape": "Sp"
                },
                "Compliance": {
                  "shape": "S1d"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeComplianceByResource": {
      "input": {
        "type": "structure",
        "members": {
          "ResourceType": {
            "shape": "S1u"
          },
          "ResourceId": {
            "shape": "S1v"
          },
          "ComplianceTypes": {
            "shape": "S1p"
          },
          "Limit": {
            "shape": "S1i"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ComplianceByResources": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceType": {
                  "shape": "S1u"
                },
                "ResourceId": {
                  "shape": "S1v"
                },
                "Compliance": {
                  "shape": "S1d"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeConfigRuleEvaluationStatus": {
      "input": {
        "type": "structure",
        "members": {
          "ConfigRuleNames": {
            "shape": "S1o"
          },
          "NextToken": {},
          "Limit": {
            "type": "integer",
            "max": 50,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigRulesEvaluationStatus": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ConfigRuleName": {
                  "shape": "Sp"
                },
                "ConfigRuleArn": {},
                "ConfigRuleId": {},
                "LastSuccessfulInvocationTime": {
                  "type": "timestamp"
                },
                "LastFailedInvocationTime": {
                  "type": "timestamp"
                },
                "LastSuccessfulEvaluationTime": {
                  "type": "timestamp"
                },
                "LastFailedEvaluationTime": {
                  "type": "timestamp"
                },
                "FirstActivatedTime": {
                  "type": "timestamp"
                },
                "LastErrorCode": {},
                "LastErrorMessage": {},
                "FirstEvaluationStarted": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeConfigRules": {
      "input": {
        "type": "structure",
        "members": {
          "ConfigRuleNames": {
            "shape": "S1o"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigRules": {
            "type": "list",
            "member": {
              "shape": "S27"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeConfigurationAggregatorSourcesStatus": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationAggregatorName"
        ],
        "members": {
          "ConfigurationAggregatorName": {
            "shape": "Sr"
          },
          "UpdateStatus": {
            "type": "list",
            "member": {
              "shape": "S2n"
            },
            "min": 1
          },
          "NextToken": {},
          "Limit": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AggregatedSourceStatusList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SourceId": {},
                "SourceType": {
                  "type": "string",
                  "enum": [
                    "ACCOUNT",
                    "ORGANIZATION"
                  ]
                },
                "AwsRegion": {
                  "shape": "Sg"
                },
                "LastUpdateStatus": {
                  "shape": "S2n"
                },
                "LastUpdateTime": {
                  "type": "timestamp"
                },
                "LastErrorCode": {},
                "LastErrorMessage": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeConfigurationAggregators": {
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationAggregatorNames": {
            "type": "list",
            "member": {
              "shape": "Sr"
            },
            "max": 10,
            "min": 0
          },
          "NextToken": {},
          "Limit": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationAggregators": {
            "type": "list",
            "member": {
              "shape": "S2w"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeConfigurationRecorderStatus": {
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationRecorderNames": {
            "shape": "S34"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationRecordersStatus": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "lastStartTime": {
                  "type": "timestamp"
                },
                "lastStopTime": {
                  "type": "timestamp"
                },
                "recording": {
                  "type": "boolean"
                },
                "lastStatus": {
                  "type": "string",
                  "enum": [
                    "Pending",
                    "Success",
                    "Failure"
                  ]
                },
                "lastErrorCode": {},
                "lastErrorMessage": {},
                "lastStatusChangeTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "DescribeConfigurationRecorders": {
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationRecorderNames": {
            "shape": "S34"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationRecorders": {
            "type": "list",
            "member": {
              "shape": "S3c"
            }
          }
        }
      }
    },
    "DescribeDeliveryChannelStatus": {
      "input": {
        "type": "structure",
        "members": {
          "DeliveryChannelNames": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DeliveryChannelsStatus": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "configSnapshotDeliveryInfo": {
                  "shape": "S3m"
                },
                "configHistoryDeliveryInfo": {
                  "shape": "S3m"
                },
                "configStreamDeliveryInfo": {
                  "type": "structure",
                  "members": {
                    "lastStatus": {
                      "shape": "S3n"
                    },
                    "lastErrorCode": {},
                    "lastErrorMessage": {},
                    "lastStatusChangeTime": {
                      "type": "timestamp"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeDeliveryChannels": {
      "input": {
        "type": "structure",
        "members": {
          "DeliveryChannelNames": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DeliveryChannels": {
            "type": "list",
            "member": {
              "shape": "S3s"
            }
          }
        }
      }
    },
    "DescribePendingAggregationRequests": {
      "input": {
        "type": "structure",
        "members": {
          "Limit": {
            "type": "integer",
            "max": 20,
            "min": 0
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PendingAggregationRequests": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RequesterAccountId": {
                  "shape": "Sa"
                },
                "RequesterAwsRegion": {
                  "shape": "Sg"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeRetentionConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "RetentionConfigurationNames": {
            "type": "list",
            "member": {
              "shape": "S10"
            },
            "max": 1,
            "min": 0
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RetentionConfigurations": {
            "type": "list",
            "member": {
              "shape": "S43"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetAggregateComplianceDetailsByConfigRule": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationAggregatorName",
          "ConfigRuleName",
          "AccountId",
          "AwsRegion"
        ],
        "members": {
          "ConfigurationAggregatorName": {
            "shape": "Sr"
          },
          "ConfigRuleName": {
            "shape": "S16"
          },
          "AccountId": {
            "shape": "Sa"
          },
          "AwsRegion": {
            "shape": "Sg"
          },
          "ComplianceType": {
            "shape": "S17"
          },
          "Limit": {
            "shape": "S1i"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AggregateEvaluationResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EvaluationResultIdentifier": {
                  "shape": "S49"
                },
                "ComplianceType": {
                  "shape": "S17"
                },
                "ResultRecordedTime": {
                  "type": "timestamp"
                },
                "ConfigRuleInvokedTime": {
                  "type": "timestamp"
                },
                "Annotation": {
                  "shape": "S1u"
                },
                "AccountId": {
                  "shape": "Sa"
                },
                "AwsRegion": {
                  "shape": "Sg"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetAggregateConfigRuleComplianceSummary": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationAggregatorName"
        ],
        "members": {
          "ConfigurationAggregatorName": {
            "shape": "Sr"
          },
          "Filters": {
            "type": "structure",
            "members": {
              "AccountId": {
                "shape": "Sa"
              },
              "AwsRegion": {
                "shape": "Sg"
              }
            }
          },
          "GroupByKey": {
            "type": "string",
            "enum": [
              "ACCOUNT_ID",
              "AWS_REGION"
            ]
          },
          "Limit": {
            "shape": "S18"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupByKey": {
            "shape": "S1u"
          },
          "AggregateComplianceCounts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "GroupName": {
                  "shape": "S1u"
                },
                "ComplianceSummary": {
                  "shape": "S4h"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetComplianceDetailsByConfigRule": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigRuleName"
        ],
        "members": {
          "ConfigRuleName": {
            "shape": "Sp"
          },
          "ComplianceTypes": {
            "shape": "S1p"
          },
          "Limit": {
            "shape": "S1i"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EvaluationResults": {
            "shape": "S4k"
          },
          "NextToken": {}
        }
      }
    },
    "GetComplianceDetailsByResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceType",
          "ResourceId"
        ],
        "members": {
          "ResourceType": {
            "shape": "S1u"
          },
          "ResourceId": {
            "shape": "S1v"
          },
          "ComplianceTypes": {
            "shape": "S1p"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EvaluationResults": {
            "shape": "S4k"
          },
          "NextToken": {}
        }
      }
    },
    "GetComplianceSummaryByConfigRule": {
      "output": {
        "type": "structure",
        "members": {
          "ComplianceSummary": {
            "shape": "S4h"
          }
        }
      }
    },
    "GetComplianceSummaryByResourceType": {
      "input": {
        "type": "structure",
        "members": {
          "ResourceTypes": {
            "shape": "S4q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ComplianceSummariesByResourceType": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceType": {
                  "shape": "S1u"
                },
                "ComplianceSummary": {
                  "shape": "S4h"
                }
              }
            }
          }
        }
      }
    },
    "GetDiscoveredResourceCounts": {
      "input": {
        "type": "structure",
        "members": {
          "resourceTypes": {
            "shape": "S4q"
          },
          "limit": {
            "shape": "S1i"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "totalDiscoveredResources": {
            "type": "long"
          },
          "resourceCounts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "resourceType": {
                  "shape": "S4"
                },
                "count": {
                  "type": "long"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetResourceConfigHistory": {
      "input": {
        "type": "structure",
        "required": [
          "resourceType",
          "resourceId"
        ],
        "members": {
          "resourceType": {
            "shape": "S4"
          },
          "resourceId": {
            "shape": "S5"
          },
          "laterTime": {
            "type": "timestamp"
          },
          "earlierTime": {
            "type": "timestamp"
          },
          "chronologicalOrder": {
            "type": "string",
            "enum": [
              "Reverse",
              "Forward"
            ]
          },
          "limit": {
            "shape": "S1i"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "configurationItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "version": {},
                "accountId": {
                  "shape": "Sa"
                },
                "configurationItemCaptureTime": {
                  "type": "timestamp"
                },
                "configurationItemStatus": {
                  "shape": "Sc"
                },
                "configurationStateId": {},
                "configurationItemMD5Hash": {},
                "arn": {},
                "resourceType": {
                  "shape": "S4"
                },
                "resourceId": {
                  "shape": "S5"
                },
                "resourceName": {},
                "awsRegion": {
                  "shape": "Sg"
                },
                "availabilityZone": {},
                "resourceCreationTime": {
                  "type": "timestamp"
                },
                "tags": {
                  "type": "map",
                  "key": {},
                  "value": {}
                },
                "relatedEvents": {
                  "type": "list",
                  "member": {}
                },
                "relationships": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "resourceType": {
                        "shape": "S4"
                      },
                      "resourceId": {
                        "shape": "S5"
                      },
                      "resourceName": {},
                      "relationshipName": {}
                    }
                  }
                },
                "configuration": {},
                "supplementaryConfiguration": {
                  "shape": "Sk"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListDiscoveredResources": {
      "input": {
        "type": "structure",
        "required": [
          "resourceType"
        ],
        "members": {
          "resourceType": {
            "shape": "S4"
          },
          "resourceIds": {
            "type": "list",
            "member": {
              "shape": "S5"
            }
          },
          "resourceName": {},
          "limit": {
            "shape": "S1i"
          },
          "includeDeletedResources": {
            "type": "boolean"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourceIdentifiers": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "resourceType": {
                  "shape": "S4"
                },
                "resourceId": {
                  "shape": "S5"
                },
                "resourceName": {},
                "resourceDeletionTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "PutAggregationAuthorization": {
      "input": {
        "type": "structure",
        "required": [
          "AuthorizedAccountId",
          "AuthorizedAwsRegion"
        ],
        "members": {
          "AuthorizedAccountId": {
            "shape": "Sa"
          },
          "AuthorizedAwsRegion": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AggregationAuthorization": {
            "shape": "S1l"
          }
        }
      }
    },
    "PutConfigRule": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigRule"
        ],
        "members": {
          "ConfigRule": {
            "shape": "S27"
          }
        }
      }
    },
    "PutConfigurationAggregator": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationAggregatorName"
        ],
        "members": {
          "ConfigurationAggregatorName": {
            "shape": "Sr"
          },
          "AccountAggregationSources": {
            "shape": "S2y"
          },
          "OrganizationAggregationSource": {
            "shape": "S32"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationAggregator": {
            "shape": "S2w"
          }
        }
      }
    },
    "PutConfigurationRecorder": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationRecorder"
        ],
        "members": {
          "ConfigurationRecorder": {
            "shape": "S3c"
          }
        }
      }
    },
    "PutDeliveryChannel": {
      "input": {
        "type": "structure",
        "required": [
          "DeliveryChannel"
        ],
        "members": {
          "DeliveryChannel": {
            "shape": "S3s"
          }
        }
      }
    },
    "PutEvaluations": {
      "input": {
        "type": "structure",
        "required": [
          "ResultToken"
        ],
        "members": {
          "Evaluations": {
            "shape": "S5t"
          },
          "ResultToken": {},
          "TestMode": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedEvaluations": {
            "shape": "S5t"
          }
        }
      }
    },
    "PutRetentionConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "RetentionPeriodInDays"
        ],
        "members": {
          "RetentionPeriodInDays": {
            "shape": "S44"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RetentionConfiguration": {
            "shape": "S43"
          }
        }
      }
    },
    "StartConfigRulesEvaluation": {
      "input": {
        "type": "structure",
        "members": {
          "ConfigRuleNames": {
            "type": "list",
            "member": {
              "shape": "Sp"
            },
            "max": 25,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartConfigurationRecorder": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationRecorderName"
        ],
        "members": {
          "ConfigurationRecorderName": {
            "shape": "St"
          }
        }
      }
    },
    "StopConfigurationRecorder": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationRecorderName"
        ],
        "members": {
          "ConfigurationRecorderName": {
            "shape": "St"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "resourceType",
          "resourceId"
        ],
        "members": {
          "resourceType": {
            "shape": "S4"
          },
          "resourceId": {
            "shape": "S5"
          }
        }
      },
      "max": 100,
      "min": 1
    },
    "S4": {
      "type": "string",
      "enum": [
        "AWS::EC2::CustomerGateway",
        "AWS::EC2::EIP",
        "AWS::EC2::Host",
        "AWS::EC2::Instance",
        "AWS::EC2::InternetGateway",
        "AWS::EC2::NetworkAcl",
        "AWS::EC2::NetworkInterface",
        "AWS::EC2::RouteTable",
        "AWS::EC2::SecurityGroup",
        "AWS::EC2::Subnet",
        "AWS::CloudTrail::Trail",
        "AWS::EC2::Volume",
        "AWS::EC2::VPC",
        "AWS::EC2::VPNConnection",
        "AWS::EC2::VPNGateway",
        "AWS::IAM::Group",
        "AWS::IAM::Policy",
        "AWS::IAM::Role",
        "AWS::IAM::User",
        "AWS::ACM::Certificate",
        "AWS::RDS::DBInstance",
        "AWS::RDS::DBSubnetGroup",
        "AWS::RDS::DBSecurityGroup",
        "AWS::RDS::DBSnapshot",
        "AWS::RDS::EventSubscription",
        "AWS::ElasticLoadBalancingV2::LoadBalancer",
        "AWS::S3::Bucket",
        "AWS::SSM::ManagedInstanceInventory",
        "AWS::Redshift::Cluster",
        "AWS::Redshift::ClusterSnapshot",
        "AWS::Redshift::ClusterParameterGroup",
        "AWS::Redshift::ClusterSecurityGroup",
        "AWS::Redshift::ClusterSubnetGroup",
        "AWS::Redshift::EventSubscription",
        "AWS::CloudWatch::Alarm",
        "AWS::CloudFormation::Stack",
        "AWS::DynamoDB::Table",
        "AWS::AutoScaling::AutoScalingGroup",
        "AWS::AutoScaling::LaunchConfiguration",
        "AWS::AutoScaling::ScalingPolicy",
        "AWS::AutoScaling::ScheduledAction",
        "AWS::CodeBuild::Project",
        "AWS::WAF::RateBasedRule",
        "AWS::WAF::Rule",
        "AWS::WAF::WebACL",
        "AWS::WAFRegional::RateBasedRule",
        "AWS::WAFRegional::Rule",
        "AWS::WAFRegional::WebACL",
        "AWS::CloudFront::Distribution",
        "AWS::CloudFront::StreamingDistribution",
        "AWS::WAF::RuleGroup",
        "AWS::WAFRegional::RuleGroup",
        "AWS::Lambda::Function",
        "AWS::ElasticBeanstalk::Application",
        "AWS::ElasticBeanstalk::ApplicationVersion",
        "AWS::ElasticBeanstalk::Environment",
        "AWS::ElasticLoadBalancing::LoadBalancer",
        "AWS::XRay::EncryptionConfig"
      ]
    },
    "S5": {
      "type": "string",
      "max": 768,
      "min": 1
    },
    "Sa": {
      "type": "string",
      "pattern": "\\d{12}"
    },
    "Sc": {
      "type": "string",
      "enum": [
        "OK",
        "ResourceDiscovered",
        "ResourceNotRecorded",
        "ResourceDeleted",
        "ResourceDeletedNotRecorded"
      ]
    },
    "Sg": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "Sk": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sp": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "Sr": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[\\w\\-]+"
    },
    "St": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "Sv": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S10": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[\\w\\-]+"
    },
    "S16": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "S17": {
      "type": "string",
      "enum": [
        "COMPLIANT",
        "NON_COMPLIANT",
        "NOT_APPLICABLE",
        "INSUFFICIENT_DATA"
      ]
    },
    "S18": {
      "type": "integer",
      "max": 1000,
      "min": 0
    },
    "S1d": {
      "type": "structure",
      "members": {
        "ComplianceType": {
          "shape": "S17"
        },
        "ComplianceContributorCount": {
          "shape": "S1e"
        }
      }
    },
    "S1e": {
      "type": "structure",
      "members": {
        "CappedCount": {
          "type": "integer"
        },
        "CapExceeded": {
          "type": "boolean"
        }
      }
    },
    "S1i": {
      "type": "integer",
      "max": 100,
      "min": 0
    },
    "S1l": {
      "type": "structure",
      "members": {
        "AggregationAuthorizationArn": {},
        "AuthorizedAccountId": {
          "shape": "Sa"
        },
        "AuthorizedAwsRegion": {
          "shape": "Sg"
        },
        "CreationTime": {
          "type": "timestamp"
        }
      }
    },
    "S1o": {
      "type": "list",
      "member": {
        "shape": "Sp"
      },
      "max": 25,
      "min": 0
    },
    "S1p": {
      "type": "list",
      "member": {
        "shape": "S17"
      },
      "max": 3,
      "min": 0
    },
    "S1u": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S1v": {
      "type": "string",
      "max": 768,
      "min": 1
    },
    "S27": {
      "type": "structure",
      "required": [
        "Source"
      ],
      "members": {
        "ConfigRuleName": {
          "shape": "Sp"
        },
        "ConfigRuleArn": {},
        "ConfigRuleId": {},
        "Description": {
          "type": "string",
          "max": 256,
          "min": 0
        },
        "Scope": {
          "type": "structure",
          "members": {
            "ComplianceResourceTypes": {
              "type": "list",
              "member": {
                "shape": "S1u"
              },
              "max": 100,
              "min": 0
            },
            "TagKey": {
              "type": "string",
              "max": 128,
              "min": 1
            },
            "TagValue": {
              "shape": "S1u"
            },
            "ComplianceResourceId": {
              "shape": "S1v"
            }
          }
        },
        "Source": {
          "type": "structure",
          "required": [
            "Owner",
            "SourceIdentifier"
          ],
          "members": {
            "Owner": {
              "type": "string",
              "enum": [
                "CUSTOM_LAMBDA",
                "AWS"
              ]
            },
            "SourceIdentifier": {
              "shape": "S1u"
            },
            "SourceDetails": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "EventSource": {
                    "type": "string",
                    "enum": [
                      "aws.config"
                    ]
                  },
                  "MessageType": {
                    "type": "string",
                    "enum": [
                      "ConfigurationItemChangeNotification",
                      "ConfigurationSnapshotDeliveryCompleted",
                      "ScheduledNotification",
                      "OversizedConfigurationItemChangeNotification"
                    ]
                  },
                  "MaximumExecutionFrequency": {
                    "shape": "S2i"
                  }
                }
              },
              "max": 25,
              "min": 0
            }
          }
        },
        "InputParameters": {
          "type": "string",
          "max": 1024,
          "min": 1
        },
        "MaximumExecutionFrequency": {
          "shape": "S2i"
        },
        "ConfigRuleState": {
          "type": "string",
          "enum": [
            "ACTIVE",
            "DELETING",
            "DELETING_RESULTS",
            "EVALUATING"
          ]
        },
        "CreatedBy": {
          "shape": "S1u"
        }
      }
    },
    "S2i": {
      "type": "string",
      "enum": [
        "One_Hour",
        "Three_Hours",
        "Six_Hours",
        "Twelve_Hours",
        "TwentyFour_Hours"
      ]
    },
    "S2n": {
      "type": "string",
      "enum": [
        "FAILED",
        "SUCCEEDED",
        "OUTDATED"
      ]
    },
    "S2w": {
      "type": "structure",
      "members": {
        "ConfigurationAggregatorName": {
          "shape": "Sr"
        },
        "ConfigurationAggregatorArn": {
          "type": "string",
          "pattern": "arn:aws[a-z\\-]*:config:[a-z\\-\\d]+:\\d+:config-aggregator/config-aggregator-[a-z\\d]+"
        },
        "AccountAggregationSources": {
          "shape": "S2y"
        },
        "OrganizationAggregationSource": {
          "shape": "S32"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "LastUpdatedTime": {
          "type": "timestamp"
        }
      }
    },
    "S2y": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "type": "list",
            "member": {
              "shape": "Sa"
            },
            "min": 1
          },
          "AllAwsRegions": {
            "type": "boolean"
          },
          "AwsRegions": {
            "shape": "S31"
          }
        }
      },
      "max": 1,
      "min": 0
    },
    "S31": {
      "type": "list",
      "member": {},
      "min": 1
    },
    "S32": {
      "type": "structure",
      "required": [
        "RoleArn"
      ],
      "members": {
        "RoleArn": {},
        "AwsRegions": {
          "shape": "S31"
        },
        "AllAwsRegions": {
          "type": "boolean"
        }
      }
    },
    "S34": {
      "type": "list",
      "member": {
        "shape": "St"
      }
    },
    "S3c": {
      "type": "structure",
      "members": {
        "name": {
          "shape": "St"
        },
        "roleARN": {},
        "recordingGroup": {
          "type": "structure",
          "members": {
            "allSupported": {
              "type": "boolean"
            },
            "includeGlobalResourceTypes": {
              "type": "boolean"
            },
            "resourceTypes": {
              "type": "list",
              "member": {
                "shape": "S4"
              }
            }
          }
        }
      }
    },
    "S3i": {
      "type": "list",
      "member": {
        "shape": "Sv"
      }
    },
    "S3m": {
      "type": "structure",
      "members": {
        "lastStatus": {
          "shape": "S3n"
        },
        "lastErrorCode": {},
        "lastErrorMessage": {},
        "lastAttemptTime": {
          "type": "timestamp"
        },
        "lastSuccessfulTime": {
          "type": "timestamp"
        },
        "nextDeliveryTime": {
          "type": "timestamp"
        }
      }
    },
    "S3n": {
      "type": "string",
      "enum": [
        "Success",
        "Failure",
        "Not_Applicable"
      ]
    },
    "S3s": {
      "type": "structure",
      "members": {
        "name": {
          "shape": "Sv"
        },
        "s3BucketName": {},
        "s3KeyPrefix": {},
        "snsTopicARN": {},
        "configSnapshotDeliveryProperties": {
          "type": "structure",
          "members": {
            "deliveryFrequency": {
              "shape": "S2i"
            }
          }
        }
      }
    },
    "S43": {
      "type": "structure",
      "required": [
        "Name",
        "RetentionPeriodInDays"
      ],
      "members": {
        "Name": {
          "shape": "S10"
        },
        "RetentionPeriodInDays": {
          "shape": "S44"
        }
      }
    },
    "S44": {
      "type": "integer",
      "max": 2557,
      "min": 30
    },
    "S49": {
      "type": "structure",
      "members": {
        "EvaluationResultQualifier": {
          "type": "structure",
          "members": {
            "ConfigRuleName": {
              "shape": "Sp"
            },
            "ResourceType": {
              "shape": "S1u"
            },
            "ResourceId": {
              "shape": "S1v"
            }
          }
        },
        "OrderingTimestamp": {
          "type": "timestamp"
        }
      }
    },
    "S4h": {
      "type": "structure",
      "members": {
        "CompliantResourceCount": {
          "shape": "S1e"
        },
        "NonCompliantResourceCount": {
          "shape": "S1e"
        },
        "ComplianceSummaryTimestamp": {
          "type": "timestamp"
        }
      }
    },
    "S4k": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "EvaluationResultIdentifier": {
            "shape": "S49"
          },
          "ComplianceType": {
            "shape": "S17"
          },
          "ResultRecordedTime": {
            "type": "timestamp"
          },
          "ConfigRuleInvokedTime": {
            "type": "timestamp"
          },
          "Annotation": {
            "shape": "S1u"
          },
          "ResultToken": {}
        }
      }
    },
    "S4q": {
      "type": "list",
      "member": {
        "shape": "S1u"
      },
      "max": 20,
      "min": 0
    },
    "S5t": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ComplianceResourceType",
          "ComplianceResourceId",
          "ComplianceType",
          "OrderingTimestamp"
        ],
        "members": {
          "ComplianceResourceType": {
            "shape": "S1u"
          },
          "ComplianceResourceId": {
            "shape": "S1v"
          },
          "ComplianceType": {
            "shape": "S17"
          },
          "Annotation": {
            "shape": "S1u"
          },
          "OrderingTimestamp": {
            "type": "timestamp"
          }
        }
      },
      "max": 100,
      "min": 0
    }
  }
}