{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-11-12",
    "endpointPrefix":"config",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"Config Service",
    "serviceFullName":"AWS Config",
    "signatureVersion":"v4",
    "targetPrefix":"StarlingDoveService",
    "protocol":"json"
  },
  "documentation":"<fullname>AWS Config</fullname> <p>AWS Config provides a way to keep track of the configurations of all the AWS resources associated with your AWS account. You can use AWS Config to get the current and historical configurations of each AWS resource and also to get information about the relationship between the resources. An AWS resource can be an Amazon Compute Cloud (Amazon EC2) instance, an Elastic Block Store (EBS) volume, an Elastic network Interface (ENI), or a security group. For a complete list of resources currently supported by AWS Config, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html#supported-resources\">Supported AWS Resources</a>.</p> <p>You can access and manage AWS Config through the AWS Management Console, the AWS Command Line Interface (AWS CLI), the AWS Config API, or the AWS SDKs for AWS Config</p> <p>This reference guide contains documentation for the AWS Config API and the AWS CLI commands that you can use to manage AWS Config.</p> <p>The AWS Config API uses the Signature Version 4 protocol for signing requests. For more information about how to sign a request with this protocol, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>For detailed information about AWS Config features and their associated actions or commands, as well as how to work with AWS Management Console, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/WhatIsConfig.html\">What Is AWS Config?</a> in the <i>AWS Config Developer Guide</i>.</p>",
  "operations":{
    "DeleteDeliveryChannel":{
      "name":"DeleteDeliveryChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteDeliveryChannelRequest",
        "documentation":"<p> The input for the <a>DeleteDeliveryChannel</a> action. The action accepts the following data in JSON format. </p>"
      },
      "errors":[
        {
          "shape":"NoSuchDeliveryChannelException",
          "exception":true,
          "documentation":"<p>You have specified a delivery channel that does not exist.</p>"
        },
        {
          "shape":"LastDeliveryChannelDeleteFailedException",
          "exception":true,
          "documentation":"<p>You cannot delete the delivery channel you specified because the configuration recorder is running.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified delivery channel.</p> <p>The delivery channel cannot be deleted if it is the only delivery channel and the configuration recorder is still running. To delete the delivery channel, stop the running configuration recorder using the <a>StopConfigurationRecorder</a> action.</p>"
    },
    "DeliverConfigSnapshot":{
      "name":"DeliverConfigSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeliverConfigSnapshotRequest",
        "documentation":"<p> The input for the <a>DeliverConfigSnapshot</a> action. </p>"
      },
      "output":{
        "shape":"DeliverConfigSnapshotResponse",
        "documentation":"<p> The output for the <a>DeliverConfigSnapshot</a> action in JSON format. </p>"
      },
      "errors":[
        {
          "shape":"NoSuchDeliveryChannelException",
          "exception":true,
          "documentation":"<p>You have specified a delivery channel that does not exist.</p>"
        },
        {
          "shape":"NoAvailableConfigurationRecorderException",
          "exception":true,
          "documentation":"<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>"
        },
        {
          "shape":"NoRunningConfigurationRecorderException",
          "exception":true,
          "documentation":"<p>There is no configuration recorder running.</p>"
        }
      ],
      "documentation":"<p>Schedules delivery of a configuration snapshot to the Amazon S3 bucket in the specified delivery channel. After the delivery has started, AWS Config sends following notifications using an Amazon SNS topic that you have specified.</p> <ul> <li>Notification of starting the delivery.</li> <li>Notification of delivery completed, if the delivery was successfully completed.</li> <li>Notification of delivery failure, if the delivery failed to complete.</li> </ul>"
    },
    "DescribeConfigurationRecorderStatus":{
      "name":"DescribeConfigurationRecorderStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeConfigurationRecorderStatusRequest",
        "documentation":"<p>The input for the <a>DescribeConfigurationRecorderStatus</a> action.</p>"
      },
      "output":{
        "shape":"DescribeConfigurationRecorderStatusResponse",
        "documentation":"<p>The output for the <a>DescribeConfigurationRecorderStatus</a> action in JSON format.</p>"
      },
      "errors":[
        {
          "shape":"NoSuchConfigurationRecorderException",
          "exception":true,
          "documentation":"<p>You have specified a configuration recorder that does not exist.</p>"
        }
      ],
      "documentation":"<p>Returns the current status of the specified configuration recorder. If a configuration recorder is not specified, this action returns the status of all configuration recorder associated with the account.</p> <note>Currently, you can specify only one configuration recorder per account.</note>"
    },
    "DescribeConfigurationRecorders":{
      "name":"DescribeConfigurationRecorders",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeConfigurationRecordersRequest",
        "documentation":"<p>The input for the <a>DescribeConfigurationRecorders</a> action.</p>"
      },
      "output":{
        "shape":"DescribeConfigurationRecordersResponse",
        "documentation":"<p>The output for the <a>DescribeConfigurationRecorders</a> action.</p>"
      },
      "errors":[
        {
          "shape":"NoSuchConfigurationRecorderException",
          "exception":true,
          "documentation":"<p>You have specified a configuration recorder that does not exist.</p>"
        }
      ],
      "documentation":"<p>Returns the name of one or more specified configuration recorders. If the recorder name is not specified, this action returns the names of all the configuration recorders associated with the account. </p> <note> <p>Currently, you can specify only one configuration recorder per account.</p> </note>"
    },
    "DescribeDeliveryChannelStatus":{
      "name":"DescribeDeliveryChannelStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeDeliveryChannelStatusRequest",
        "documentation":"<p>The input for the <a>DeliveryChannelStatus</a> action.</p>"
      },
      "output":{
        "shape":"DescribeDeliveryChannelStatusResponse",
        "documentation":"<p>The output for the <a>DescribeDeliveryChannelStatus</a> action.</p>"
      },
      "errors":[
        {
          "shape":"NoSuchDeliveryChannelException",
          "exception":true,
          "documentation":"<p>You have specified a delivery channel that does not exist.</p>"
        }
      ],
      "documentation":"<p>Returns the current status of the specified delivery channel. If a delivery channel is not specified, this action returns the current status of all delivery channels associated with the account. </p> <note>Currently, you can specify only one delivery channel per account.</note>"
    },
    "DescribeDeliveryChannels":{
      "name":"DescribeDeliveryChannels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeDeliveryChannelsRequest",
        "documentation":"<p>The input for the <a>DescribeDeliveryChannels</a> action.</p>"
      },
      "output":{
        "shape":"DescribeDeliveryChannelsResponse",
        "documentation":"<p>The output for the <a>DescribeDeliveryChannels</a> action.</p>"
      },
      "errors":[
        {
          "shape":"NoSuchDeliveryChannelException",
          "exception":true,
          "documentation":"<p>You have specified a delivery channel that does not exist.</p>"
        }
      ],
      "documentation":"<p>Returns details about the specified delivery channel. If a delivery channel is not specified, this action returns the details of all delivery channels associated with the account. </p> <note> <p>Currently, you can specify only one delivery channel per account.</p></note>"
    },
    "GetResourceConfigHistory":{
      "name":"GetResourceConfigHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetResourceConfigHistoryRequest",
        "documentation":"<p>The input for the <a>GetResourceConfigHistory</a> action.</p>"
      },
      "output":{
        "shape":"GetResourceConfigHistoryResponse",
        "documentation":"<p>The output for the <a>GetResourceConfigHistory</a> action.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>The requested action is not valid.</p>"
        },
        {
          "shape":"InvalidTimeRangeException",
          "exception":true,
          "documentation":"<p>The specified time range is not valid. The earlier time is not chronologically before the later time.</p>"
        },
        {
          "shape":"InvalidLimitException",
          "exception":true,
          "documentation":"<p>The specified limit is outside the allowable range.</p>"
        },
        {
          "shape":"InvalidNextTokenException",
          "exception":true,
          "documentation":"<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>"
        },
        {
          "shape":"NoAvailableConfigurationRecorderException",
          "exception":true,
          "documentation":"<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>"
        },
        {
          "shape":"ResourceNotDiscoveredException",
          "exception":true,
          "documentation":"<p>You have specified a resource that is either unknown or has not been discovered.</p>"
        }
      ],
      "documentation":"<p>Returns a list of configuration items for the specified resource. The list contains details about each state of the resource during the specified time interval.</p> <p>The response is paginated, and by default, AWS Config returns a limit of 10 configuration items per page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string, and to get the next page of results, run the request again and enter this string for the <code>nextToken</code> parameter.</p> <note> <p>Each call to the API is limited to span a duration of seven days. It is likely that the number of records returned is smaller than the specified <code>limit</code>. In such cases, you can make another call, using the <code>nextToken</code>.</p> </note>"
    },
    "ListDiscoveredResources":{
      "name":"ListDiscoveredResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDiscoveredResourcesRequest"},
      "output":{"shape":"ListDiscoveredResourcesResponse"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>The requested action is not valid.</p>"
        },
        {
          "shape":"InvalidLimitException",
          "exception":true,
          "documentation":"<p>The specified limit is outside the allowable range.</p>"
        },
        {
          "shape":"InvalidNextTokenException",
          "exception":true,
          "documentation":"<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>"
        },
        {
          "shape":"NoAvailableConfigurationRecorderException",
          "exception":true,
          "documentation":"<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>"
        }
      ],
      "documentation":"<p>Accepts a resource type and returns a list of resource identifiers for the resources of that type. A resource identifier includes the resource type, ID, and (if available) the custom resource name. The results consist of resources that AWS Config has discovered, including those that AWS Config is not currently recording. You can narrow the results to include only resources that have specific resource IDs or a resource name.</p> <note>You can specify either resource IDs or a resource name but not both in the same request.</note> <p>The response is paginated, and by default AWS Config lists 100 resource identifiers on each page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string, and to get the next page of results, run the request again and enter this string for the <code>nextToken</code> parameter.</p>"
    },
    "PutConfigurationRecorder":{
      "name":"PutConfigurationRecorder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"PutConfigurationRecorderRequest",
        "documentation":"<p>The input for the <a>PutConfigurationRecorder</a> action.</p>"
      },
      "errors":[
        {
          "shape":"MaxNumberOfConfigurationRecordersExceededException",
          "exception":true,
          "documentation":"<p>You have reached the limit on the number of recorders you can create.</p>"
        },
        {
          "shape":"InvalidConfigurationRecorderNameException",
          "exception":true,
          "documentation":"<p>You have provided a configuration recorder name that is not valid.</p>"
        },
        {
          "shape":"InvalidRoleException",
          "exception":true,
          "documentation":"<p>You have provided a null or empty role ARN.</p>"
        },
        {
          "shape":"InvalidRecordingGroupException",
          "exception":true,
          "documentation":"<p>AWS Config throws an exception if the recording group does not contain a valid list of resource types. Invalid values could also be incorrectly formatted.</p>"
        }
      ],
      "documentation":"<p>Creates a new configuration recorder to record the selected resource configurations. </p> <p>You can use this action to change the role <code>roleARN</code> and/or the <code>recordingGroup</code> of an existing recorder. To change the role, call the action on the existing configuration recorder and specify a role.</p> <note> <p>Currently, you can specify only one configuration recorder per account.</p> <p>If <code>ConfigurationRecorder</code> does not have the <b>recordingGroup</b> parameter specified, the default is to record all supported resource types.</p> </note>"
    },
    "PutDeliveryChannel":{
      "name":"PutDeliveryChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"PutDeliveryChannelRequest",
        "documentation":"<p>The input for the <a>PutDeliveryChannel</a> action.</p>"
      },
      "errors":[
        {
          "shape":"MaxNumberOfDeliveryChannelsExceededException",
          "exception":true,
          "documentation":"<p>You have reached the limit on the number of delivery channels you can create.</p>"
        },
        {
          "shape":"NoAvailableConfigurationRecorderException",
          "exception":true,
          "documentation":"<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>"
        },
        {
          "shape":"InvalidDeliveryChannelNameException",
          "exception":true,
          "documentation":"<p>The specified delivery channel name is not valid.</p>"
        },
        {
          "shape":"NoSuchBucketException",
          "exception":true,
          "documentation":"<p>The specified Amazon S3 bucket does not exist.</p>"
        },
        {
          "shape":"InvalidS3KeyPrefixException",
          "exception":true,
          "documentation":"<p>The specified Amazon S3 key prefix is not valid.</p>"
        },
        {
          "shape":"InvalidSNSTopicARNException",
          "exception":true,
          "documentation":"<p>The specified Amazon SNS topic does not exist.</p>"
        },
        {
          "shape":"InsufficientDeliveryPolicyException",
          "exception":true,
          "documentation":"<p>Your Amazon S3 bucket policy does not permit AWS Config to write to it.</p>"
        }
      ],
      "documentation":"<p>Creates a new delivery channel object to deliver the configuration information to an Amazon S3 bucket, and to an Amazon SNS topic. </p> <p>You can use this action to change the Amazon S3 bucket or an Amazon SNS topic of the existing delivery channel. To change the Amazon S3 bucket or an Amazon SNS topic, call this action and specify the changed values for the S3 bucket and the SNS topic. If you specify a different value for either the S3 bucket or the SNS topic, this action will keep the existing value for the parameter that is not changed. </p> <note> <p>Currently, you can specify only one delivery channel per account.</p> </note>"
    },
    "StartConfigurationRecorder":{
      "name":"StartConfigurationRecorder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"StartConfigurationRecorderRequest",
        "documentation":"<p>The input for the <a>StartConfigurationRecorder</a> action.</p>"
      },
      "errors":[
        {
          "shape":"NoSuchConfigurationRecorderException",
          "exception":true,
          "documentation":"<p>You have specified a configuration recorder that does not exist.</p>"
        },
        {
          "shape":"NoAvailableDeliveryChannelException",
          "exception":true,
          "documentation":"<p>There is no delivery channel available to record configurations.</p>"
        }
      ],
      "documentation":"<p>Starts recording configurations of the AWS resources you have selected to record in your AWS account.</p> <p>You must have created at least one delivery channel to successfully start the configuration recorder.</p>"
    },
    "StopConfigurationRecorder":{
      "name":"StopConfigurationRecorder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"StopConfigurationRecorderRequest",
        "documentation":"<p><p>The input for the <a>StopConfigurationRecorder</a> action.</p></p>"
      },
      "errors":[
        {
          "shape":"NoSuchConfigurationRecorderException",
          "exception":true,
          "documentation":"<p>You have specified a configuration recorder that does not exist.</p>"
        }
      ],
      "documentation":"<p>Stops recording configurations of the AWS resources you have selected to record in your AWS account.</p>"
    }
  },
  "shapes":{
    "ARN":{"type":"string"},
    "AccountId":{"type":"string"},
    "AllSupported":{"type":"boolean"},
    "AvailabilityZone":{"type":"string"},
    "AwsRegion":{"type":"string"},
    "Boolean":{"type":"boolean"},
    "ChannelName":{
      "type":"string",
      "min":1,
      "max":256
    },
    "ChronologicalOrder":{
      "type":"string",
      "enum":[
        "Reverse",
        "Forward"
      ]
    },
    "ConfigExportDeliveryInfo":{
      "type":"structure",
      "members":{
        "lastStatus":{
          "shape":"DeliveryStatus",
          "documentation":"<p>Status of the last attempted delivery.</p>"
        },
        "lastErrorCode":{
          "shape":"String",
          "documentation":"<p>The error code from the last attempted delivery.</p>"
        },
        "lastErrorMessage":{
          "shape":"String",
          "documentation":"<p>The error message from the last attempted delivery.</p>"
        },
        "lastAttemptTime":{
          "shape":"Date",
          "documentation":"<p>The time of the last attempted delivery.</p>"
        },
        "lastSuccessfulTime":{
          "shape":"Date",
          "documentation":"<p>The time of the last successful delivery.</p>"
        }
      },
      "documentation":"<p>A list that contains the status of the delivery of either the snapshot or the configuration history to the specified Amazon S3 bucket.</p>"
    },
    "ConfigStreamDeliveryInfo":{
      "type":"structure",
      "members":{
        "lastStatus":{
          "shape":"DeliveryStatus",
          "documentation":"<p>Status of the last attempted delivery.</p> <p><b>Note</b> Providing an SNS topic on a <a href=\"http://docs.aws.amazon.com/config/latest/APIReference/API_DeliveryChannel.html\">DeliveryChannel</a> for AWS Config is optional. If the SNS delivery is turned off, the last status will be <b>Not_Applicable</b>.</p>"
        },
        "lastErrorCode":{
          "shape":"String",
          "documentation":"<p>The error code from the last attempted delivery.</p>"
        },
        "lastErrorMessage":{
          "shape":"String",
          "documentation":"<p>The error message from the last attempted delivery.</p>"
        },
        "lastStatusChangeTime":{
          "shape":"Date",
          "documentation":"<p>The time from the last status change.</p>"
        }
      },
      "documentation":"<p>A list that contains the status of the delivery of the configuration stream notification to the Amazon SNS topic. </p>"
    },
    "Configuration":{"type":"string"},
    "ConfigurationItem":{
      "type":"structure",
      "members":{
        "version":{
          "shape":"Version",
          "documentation":"<p>The version number of the resource configuration.</p>"
        },
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The 12 digit AWS account ID associated with the resource.</p>"
        },
        "configurationItemCaptureTime":{
          "shape":"ConfigurationItemCaptureTime",
          "documentation":"<p>The time when the configuration recording was initiated.</p>"
        },
        "configurationItemStatus":{
          "shape":"ConfigurationItemStatus",
          "documentation":"<p>The configuration item status.</p>"
        },
        "configurationStateId":{
          "shape":"ConfigurationStateId",
          "documentation":"<p>An identifier that indicates the ordering of the configuration items of a resource.</p>"
        },
        "configurationItemMD5Hash":{
          "shape":"ConfigurationItemMD5Hash",
          "documentation":"<p>Unique MD5 hash that represents the configuration item's state.</p> <p>You can use MD5 hash to compare the states of two or more configuration items that are associated with the same resource.</p>"
        },
        "arn":{
          "shape":"ARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource.</p>"
        },
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of AWS resource.</p>"
        },
        "resourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the resource (for example., <code>sg-xxxxxx</code>).</p>"
        },
        "resourceName":{
          "shape":"ResourceName",
          "documentation":"<p>The custom name of the resource, if available.</p>"
        },
        "awsRegion":{
          "shape":"AwsRegion",
          "documentation":"<p>The region where the resource resides.</p>"
        },
        "availabilityZone":{
          "shape":"AvailabilityZone",
          "documentation":"<p>The Availability Zone associated with the resource.</p>"
        },
        "resourceCreationTime":{
          "shape":"ResourceCreationTime",
          "documentation":"<p>The time stamp when the resource was created. </p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A mapping of key value tags associated with the resource.</p>"
        },
        "relatedEvents":{
          "shape":"RelatedEventList",
          "documentation":"<p>A list of CloudTrail event IDs.</p> <p>A populated field indicates that the current configuration was initiated by the events recorded in the CloudTrail log. For more information about CloudTrail, see <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/what_is_cloud_trail_top_level.html\">What is AWS CloudTrail?</a>.</p> <p>An empty field indicates that the current configuration was not initiated by any event.</p>"
        },
        "relationships":{
          "shape":"RelationshipList",
          "documentation":"<p>A list of related AWS resources.</p>"
        },
        "configuration":{
          "shape":"Configuration",
          "documentation":"<p>The description of the resource configuration.</p>"
        }
      },
      "documentation":"<p>A list that contains detailed configurations of a specified resource.</p> <note> <p>Currently, the list does not contain information about non-AWS components (for example, applications on your Amazon EC2 instances). </p> </note>"
    },
    "ConfigurationItemCaptureTime":{"type":"timestamp"},
    "ConfigurationItemList":{
      "type":"list",
      "member":{"shape":"ConfigurationItem"}
    },
    "ConfigurationItemMD5Hash":{"type":"string"},
    "ConfigurationItemStatus":{
      "type":"string",
      "enum":[
        "Ok",
        "Failed",
        "Discovered",
        "Deleted"
      ]
    },
    "ConfigurationRecorder":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"RecorderName",
          "documentation":"<p>The name of the recorder. By default, AWS Config automatically assigns the name \"default\" when creating the configuration recorder. You cannot change the assigned name.</p>"
        },
        "roleARN":{
          "shape":"String",
          "documentation":"<p>Amazon Resource Name (ARN) of the IAM role used to describe the AWS resources associated with the account.</p>"
        },
        "recordingGroup":{
          "shape":"RecordingGroup",
          "documentation":"<p>The recording group specifies either to record configurations for all supported resources or to provide a list of resource types to record. The list of resource types must be a subset of supported resource types.</p>"
        }
      },
      "documentation":"<p>An object that represents the recording of configuration changes of an AWS resource.</p>"
    },
    "ConfigurationRecorderList":{
      "type":"list",
      "member":{"shape":"ConfigurationRecorder"}
    },
    "ConfigurationRecorderNameList":{
      "type":"list",
      "member":{"shape":"RecorderName"}
    },
    "ConfigurationRecorderStatus":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the configuration recorder.</p>"
        },
        "lastStartTime":{
          "shape":"Date",
          "documentation":"<p>The time the recorder was last started.</p>"
        },
        "lastStopTime":{
          "shape":"Date",
          "documentation":"<p>The time the recorder was last stopped.</p>"
        },
        "recording":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the recorder is currently recording or not.</p>"
        },
        "lastStatus":{
          "shape":"RecorderStatus",
          "documentation":"<p>The last (previous) status of the recorder.</p>"
        },
        "lastErrorCode":{
          "shape":"String",
          "documentation":"<p>The error code indicating that the recording failed.</p>"
        },
        "lastErrorMessage":{
          "shape":"String",
          "documentation":"<p>The message indicating that the recording failed due to an error.</p>"
        },
        "lastStatusChangeTime":{
          "shape":"Date",
          "documentation":"<p>The time when the status was last changed.</p>"
        }
      },
      "documentation":"<p>The current status of the configuration recorder.</p>"
    },
    "ConfigurationRecorderStatusList":{
      "type":"list",
      "member":{"shape":"ConfigurationRecorderStatus"}
    },
    "ConfigurationStateId":{"type":"string"},
    "Date":{"type":"timestamp"},
    "DeleteDeliveryChannelRequest":{
      "type":"structure",
      "required":["DeliveryChannelName"],
      "members":{
        "DeliveryChannelName":{
          "shape":"ChannelName",
          "documentation":"<p>The name of the delivery channel to delete.</p>"
        }
      },
      "documentation":"<p> The input for the <a>DeleteDeliveryChannel</a> action. The action accepts the following data in JSON format. </p>"
    },
    "DeliverConfigSnapshotRequest":{
      "type":"structure",
      "required":["deliveryChannelName"],
      "members":{
        "deliveryChannelName":{
          "shape":"ChannelName",
          "documentation":"<p>The name of the delivery channel through which the snapshot is delivered.</p>"
        }
      },
      "documentation":"<p> The input for the <a>DeliverConfigSnapshot</a> action. </p>"
    },
    "DeliverConfigSnapshotResponse":{
      "type":"structure",
      "members":{
        "configSnapshotId":{
          "shape":"String",
          "documentation":"<p>The ID of the snapshot that is being created.</p>"
        }
      },
      "documentation":"<p> The output for the <a>DeliverConfigSnapshot</a> action in JSON format. </p>"
    },
    "DeliveryChannel":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"ChannelName",
          "documentation":"<p>The name of the delivery channel. By default, AWS Config automatically assigns the name \"default\" when creating the delivery channel. You cannot change the assigned name. </p>"
        },
        "s3BucketName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon S3 bucket used to store configuration history for the delivery channel.</p>"
        },
        "s3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>The prefix for the specified Amazon S3 bucket.</p>"
        },
        "snsTopicARN":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the SNS topic that AWS Config delivers notifications to.</p>"
        }
      },
      "documentation":"<p>A logical container used for storing the configuration changes of an AWS resource.</p>"
    },
    "DeliveryChannelList":{
      "type":"list",
      "member":{"shape":"DeliveryChannel"}
    },
    "DeliveryChannelNameList":{
      "type":"list",
      "member":{"shape":"ChannelName"}
    },
    "DeliveryChannelStatus":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the delivery channel.</p>"
        },
        "configSnapshotDeliveryInfo":{
          "shape":"ConfigExportDeliveryInfo",
          "documentation":"<p>A list containing the status of the delivery of the snapshot to the specified Amazon S3 bucket.</p>"
        },
        "configHistoryDeliveryInfo":{
          "shape":"ConfigExportDeliveryInfo",
          "documentation":"<p>A list that contains the status of the delivery of the configuration history to the specified Amazon S3 bucket.</p>"
        },
        "configStreamDeliveryInfo":{
          "shape":"ConfigStreamDeliveryInfo",
          "documentation":"<p>A list containing the status of the delivery of the configuration stream notification to the specified Amazon SNS topic.</p>"
        }
      },
      "documentation":"<p>The status of a specified delivery channel.</p> <p>Valid values: <code>Success</code> | <code>Failure</code></p>"
    },
    "DeliveryChannelStatusList":{
      "type":"list",
      "member":{"shape":"DeliveryChannelStatus"}
    },
    "DeliveryStatus":{
      "type":"string",
      "enum":[
        "Success",
        "Failure",
        "Not_Applicable"
      ]
    },
    "DescribeConfigurationRecorderStatusRequest":{
      "type":"structure",
      "members":{
        "ConfigurationRecorderNames":{
          "shape":"ConfigurationRecorderNameList",
          "documentation":"<p>The name(s) of the configuration recorder. If the name is not specified, the action returns the current status of all the configuration recorders associated with the account. </p>"
        }
      },
      "documentation":"<p>The input for the <a>DescribeConfigurationRecorderStatus</a> action.</p>"
    },
    "DescribeConfigurationRecorderStatusResponse":{
      "type":"structure",
      "members":{
        "ConfigurationRecordersStatus":{
          "shape":"ConfigurationRecorderStatusList",
          "documentation":"<p> A list that contains status of the specified recorders. </p>"
        }
      },
      "documentation":"<p>The output for the <a>DescribeConfigurationRecorderStatus</a> action in JSON format.</p>"
    },
    "DescribeConfigurationRecordersRequest":{
      "type":"structure",
      "members":{
        "ConfigurationRecorderNames":{
          "shape":"ConfigurationRecorderNameList",
          "documentation":"<p>A list of configuration recorder names.</p>"
        }
      },
      "documentation":"<p>The input for the <a>DescribeConfigurationRecorders</a> action.</p>"
    },
    "DescribeConfigurationRecordersResponse":{
      "type":"structure",
      "members":{
        "ConfigurationRecorders":{
          "shape":"ConfigurationRecorderList",
          "documentation":"<p>A list that contains the descriptions of the specified configuration recorders.</p>"
        }
      },
      "documentation":"<p>The output for the <a>DescribeConfigurationRecorders</a> action.</p>"
    },
    "DescribeDeliveryChannelStatusRequest":{
      "type":"structure",
      "members":{
        "DeliveryChannelNames":{
          "shape":"DeliveryChannelNameList",
          "documentation":"<p>A list of delivery channel names.</p>"
        }
      },
      "documentation":"<p>The input for the <a>DeliveryChannelStatus</a> action.</p>"
    },
    "DescribeDeliveryChannelStatusResponse":{
      "type":"structure",
      "members":{
        "DeliveryChannelsStatus":{
          "shape":"DeliveryChannelStatusList",
          "documentation":"<p>A list that contains the status of a specified delivery channel.</p>"
        }
      },
      "documentation":"<p>The output for the <a>DescribeDeliveryChannelStatus</a> action.</p>"
    },
    "DescribeDeliveryChannelsRequest":{
      "type":"structure",
      "members":{
        "DeliveryChannelNames":{
          "shape":"DeliveryChannelNameList",
          "documentation":"<p>A list of delivery channel names.</p>"
        }
      },
      "documentation":"<p>The input for the <a>DescribeDeliveryChannels</a> action.</p>"
    },
    "DescribeDeliveryChannelsResponse":{
      "type":"structure",
      "members":{
        "DeliveryChannels":{
          "shape":"DeliveryChannelList",
          "documentation":"<p>A list that contains the descriptions of the specified delivery channel.</p>"
        }
      },
      "documentation":"<p>The output for the <a>DescribeDeliveryChannels</a> action.</p>"
    },
    "EarlierTime":{"type":"timestamp"},
    "GetResourceConfigHistoryRequest":{
      "type":"structure",
      "required":[
        "resourceType",
        "resourceId"
      ],
      "members":{
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The resource type.</p>"
        },
        "resourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the resource (for example., <code>sg-xxxxxx</code>).</p>"
        },
        "laterTime":{
          "shape":"LaterTime",
          "documentation":"<p>The time stamp that indicates a later time. If not specified, current time is taken.</p>"
        },
        "earlierTime":{
          "shape":"EarlierTime",
          "documentation":"<p>The time stamp that indicates an earlier time. If not specified, the action returns paginated results that contain configuration items that start from when the first configuration item was recorded.</p>"
        },
        "chronologicalOrder":{
          "shape":"ChronologicalOrder",
          "documentation":"<p>The chronological order for configuration items listed. By default the results are listed in reverse chronological order.</p>"
        },
        "limit":{
          "shape":"Limit",
          "documentation":"<p>The maximum number of configuration items returned on each page. The default is 10. You cannot specify a limit greater than 100. If you specify 0, AWS Config uses the default.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>nextToken</code> string returned on a previous page that you use to get the next page of results in a paginated response.</p>"
        }
      },
      "documentation":"<p>The input for the <a>GetResourceConfigHistory</a> action.</p>"
    },
    "GetResourceConfigHistoryResponse":{
      "type":"structure",
      "members":{
        "configurationItems":{
          "shape":"ConfigurationItemList",
          "documentation":"<p>A list that contains the configuration history of one or more resources.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>"
        }
      },
      "documentation":"<p>The output for the <a>GetResourceConfigHistory</a> action.</p>"
    },
    "InsufficientDeliveryPolicyException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>Your Amazon S3 bucket policy does not permit AWS Config to write to it.</p>"
    },
    "InvalidConfigurationRecorderNameException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>You have provided a configuration recorder name that is not valid.</p>"
    },
    "InvalidDeliveryChannelNameException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>The specified delivery channel name is not valid.</p>"
    },
    "InvalidLimitException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>The specified limit is outside the allowable range.</p>"
    },
    "InvalidNextTokenException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>The specified next token is invalid. Specify the <code>nextToken</code> string that was returned in the previous response to get the next page of results.</p>"
    },
    "InvalidRecordingGroupException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>AWS Config throws an exception if the recording group does not contain a valid list of resource types. Invalid values could also be incorrectly formatted.</p>"
    },
    "InvalidRoleException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>You have provided a null or empty role ARN.</p>"
    },
    "InvalidS3KeyPrefixException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>The specified Amazon S3 key prefix is not valid.</p>"
    },
    "InvalidSNSTopicARNException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>The specified Amazon SNS topic does not exist.</p>"
    },
    "InvalidTimeRangeException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>The specified time range is not valid. The earlier time is not chronologically before the later time.</p>"
    },
    "LastDeliveryChannelDeleteFailedException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>You cannot delete the delivery channel you specified because the configuration recorder is running.</p>"
    },
    "LaterTime":{"type":"timestamp"},
    "Limit":{
      "type":"integer",
      "min":0,
      "max":100
    },
    "ListDiscoveredResourcesRequest":{
      "type":"structure",
      "required":["resourceType"],
      "members":{
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of resources that you want AWS Config to list in the response.</p>"
        },
        "resourceIds":{
          "shape":"ResourceIdList",
          "documentation":"<p>The IDs of only those resources that you want AWS Config to list in the response. If you do not specify this parameter, AWS Config lists all resources of the specified type that it has discovered.</p>"
        },
        "resourceName":{
          "shape":"ResourceName",
          "documentation":"<p>The custom name of only those resources that you want AWS Config to list in the response. If you do not specify this parameter, AWS Config lists all resources of the specified type that it has discovered.</p>"
        },
        "limit":{
          "shape":"Limit",
          "documentation":"<p>The maximum number of resource identifiers returned on each page. The default is 100. You cannot specify a limit greater than 100. If you specify 0, AWS Config uses the default.</p>"
        },
        "includeDeletedResources":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether AWS Config includes deleted resources in the results. By default, deleted resources are not included.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>nextToken</code> string returned on a previous page that you use to get the next page of results in a paginated response.</p>"
        }
      }
    },
    "ListDiscoveredResourcesResponse":{
      "type":"structure",
      "members":{
        "resourceIdentifiers":{
          "shape":"ResourceIdentifierList",
          "documentation":"<p>The details that identify a resource that is discovered by AWS Config, including the resource type, ID, and (if available) the custom resource name.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The string that you use in a subsequent request to get the next page of results in a paginated response.</p>"
        }
      }
    },
    "MaxNumberOfConfigurationRecordersExceededException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>You have reached the limit on the number of recorders you can create.</p>"
    },
    "MaxNumberOfDeliveryChannelsExceededException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>You have reached the limit on the number of delivery channels you can create.</p>"
    },
    "Name":{"type":"string"},
    "NextToken":{"type":"string"},
    "NoAvailableConfigurationRecorderException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>There are no configuration recorders available to provide the role needed to describe your resources. Create a configuration recorder.</p>"
    },
    "NoAvailableDeliveryChannelException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>There is no delivery channel available to record configurations.</p>"
    },
    "NoRunningConfigurationRecorderException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>There is no configuration recorder running.</p>"
    },
    "NoSuchBucketException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>The specified Amazon S3 bucket does not exist.</p>"
    },
    "NoSuchConfigurationRecorderException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>You have specified a configuration recorder that does not exist.</p>"
    },
    "NoSuchDeliveryChannelException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>You have specified a delivery channel that does not exist.</p>"
    },
    "PutConfigurationRecorderRequest":{
      "type":"structure",
      "required":["ConfigurationRecorder"],
      "members":{
        "ConfigurationRecorder":{
          "shape":"ConfigurationRecorder",
          "documentation":"<p>The configuration recorder object that records each configuration change made to the resources.</p>"
        }
      },
      "documentation":"<p>The input for the <a>PutConfigurationRecorder</a> action.</p>"
    },
    "PutDeliveryChannelRequest":{
      "type":"structure",
      "required":["DeliveryChannel"],
      "members":{
        "DeliveryChannel":{
          "shape":"DeliveryChannel",
          "documentation":"<p>The configuration delivery channel object that delivers the configuration information to an Amazon S3 bucket, and to an Amazon SNS topic.</p>"
        }
      },
      "documentation":"<p>The input for the <a>PutDeliveryChannel</a> action.</p>"
    },
    "RecorderName":{
      "type":"string",
      "min":1,
      "max":256
    },
    "RecorderStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "Success",
        "Failure"
      ]
    },
    "RecordingGroup":{
      "type":"structure",
      "members":{
        "allSupported":{
          "shape":"AllSupported",
          "documentation":"<p>Records all supported resource types in the recording group. For a list of supported resource types, see <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html#supported-resources\">Supported resource types</a>. If you specify <b>allSupported</b>, you cannot enumerate a list of <b>resourceTypes</b>. </p>"
        },
        "resourceTypes":{
          "shape":"ResourceTypeList",
          "documentation":"<p>A comma-separated list of strings representing valid AWS resource types (for example, <code>AWS::EC2::Instance</code> or <code>AWS::CloudTrail::Trail</code>). <b>resourceTypes</b> is only valid if you have chosen not to select <b>allSupported</b>. For a list of valid <b>resourceTypes</b> values, see the <b>resourceType Value</b> column in the following topic: <a href=\"http://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html#supported-resources\">Supported AWS Resource Types</a>.</p>"
        }
      },
      "documentation":"<p>The group of AWS resource types that AWS Config records when starting the configuration recorder.</p> <p><b>recordingGroup</b> can have one and only one parameter. Choose either <b>allSupported</b> or <b>resourceTypes</b>.</p>"
    },
    "RelatedEvent":{"type":"string"},
    "RelatedEventList":{
      "type":"list",
      "member":{"shape":"RelatedEvent"}
    },
    "Relationship":{
      "type":"structure",
      "members":{
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The resource type of the related resource.</p>"
        },
        "resourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the related resource (for example, <code>sg-xxxxxx</code>).</p>"
        },
        "resourceName":{
          "shape":"ResourceName",
          "documentation":"<p>The custom name of the related resource, if available.</p>"
        },
        "relationshipName":{
          "shape":"RelationshipName",
          "documentation":"<p>The type of relationship with the related resource.</p>"
        }
      },
      "documentation":"<p>The relationship of the related resource to the main resource.</p>"
    },
    "RelationshipList":{
      "type":"list",
      "member":{"shape":"Relationship"}
    },
    "RelationshipName":{"type":"string"},
    "ResourceCreationTime":{"type":"timestamp"},
    "ResourceDeletionTime":{"type":"timestamp"},
    "ResourceId":{"type":"string"},
    "ResourceIdList":{
      "type":"list",
      "member":{"shape":"ResourceId"}
    },
    "ResourceIdentifier":{
      "type":"structure",
      "members":{
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of resource.</p>"
        },
        "resourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the resource (for example., <code>sg-xxxxxx</code>).</p>"
        },
        "resourceName":{
          "shape":"ResourceName",
          "documentation":"<p>The custom name of the resource (if available).</p>"
        },
        "resourceDeletionTime":{
          "shape":"ResourceDeletionTime",
          "documentation":"<p>The time that the resource was deleted.</p>"
        }
      },
      "documentation":"<p>The details that identify a resource that is discovered by AWS Config, including the resource type, ID, and (if available) the custom resource name.</p>"
    },
    "ResourceIdentifierList":{
      "type":"list",
      "member":{"shape":"ResourceIdentifier"}
    },
    "ResourceName":{"type":"string"},
    "ResourceNotDiscoveredException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>You have specified a resource that is either unknown or has not been discovered.</p>"
    },
    "ResourceType":{
      "type":"string",
      "enum":[
        "AWS::EC2::CustomerGateway",
        "AWS::EC2::EIP",
        "AWS::EC2::Instance",
        "AWS::EC2::InternetGateway",
        "AWS::EC2::NetworkAcl",
        "AWS::EC2::NetworkInterface",
        "AWS::EC2::RouteTable",
        "AWS::EC2::SecurityGroup",
        "AWS::EC2::Subnet",
        "AWS::CloudTrail::Trail",
        "AWS::EC2::Volume",
        "AWS::EC2::VPC",
        "AWS::EC2::VPNConnection",
        "AWS::EC2::VPNGateway"
      ]
    },
    "ResourceTypeList":{
      "type":"list",
      "member":{"shape":"ResourceType"}
    },
    "StartConfigurationRecorderRequest":{
      "type":"structure",
      "required":["ConfigurationRecorderName"],
      "members":{
        "ConfigurationRecorderName":{
          "shape":"RecorderName",
          "documentation":"<p>The name of the recorder object that records each configuration change made to the resources.</p>"
        }
      },
      "documentation":"<p>The input for the <a>StartConfigurationRecorder</a> action.</p>"
    },
    "StopConfigurationRecorderRequest":{
      "type":"structure",
      "required":["ConfigurationRecorderName"],
      "members":{
        "ConfigurationRecorderName":{
          "shape":"RecorderName",
          "documentation":"<p>The name of the recorder object that records each configuration change made to the resources.</p>"
        }
      },
      "documentation":"<p><p>The input for the <a>StopConfigurationRecorder</a> action.</p></p>"
    },
    "String":{"type":"string"},
    "Tags":{
      "type":"map",
      "key":{"shape":"Name"},
      "value":{"shape":"Value"}
    },
    "ValidationException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>The requested action is not valid.</p>"
    },
    "Value":{"type":"string"},
    "Version":{"type":"string"}
  },
  "examples":{
  }
}
