{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-25",
    "endpointPrefix": "databrew",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Glue DataBrew",
    "serviceId": "DataBrew",
    "signatureVersion": "v4",
    "signingName": "databrew",
    "uid": "databrew-2017-07-25"
  },
  "operations": {
    "BatchDeleteRecipeVersion": {
      "http": {
        "requestUri": "/recipes/{name}/batchDeleteRecipeVersion"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RecipeVersions"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "RecipeVersions": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ErrorCode": {},
                "ErrorMessage": {},
                "RecipeVersion": {}
              }
            }
          }
        }
      }
    },
    "CreateDataset": {
      "http": {
        "requestUri": "/datasets"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Input"
        ],
        "members": {
          "Name": {},
          "Format": {},
          "FormatOptions": {
            "shape": "Sd"
          },
          "Input": {
            "shape": "So"
          },
          "PathOptions": {
            "shape": "S12"
          },
          "Tags": {
            "shape": "S1l"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "CreateProfileJob": {
      "http": {
        "requestUri": "/profileJobs"
      },
      "input": {
        "type": "structure",
        "required": [
          "DatasetName",
          "Name",
          "OutputLocation",
          "RoleArn"
        ],
        "members": {
          "DatasetName": {},
          "EncryptionKeyArn": {},
          "EncryptionMode": {},
          "Name": {},
          "LogSubscription": {},
          "MaxCapacity": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "OutputLocation": {
            "shape": "Sp"
          },
          "Configuration": {
            "shape": "S1w"
          },
          "ValidationConfigurations": {
            "shape": "S2f"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S1l"
          },
          "Timeout": {
            "type": "integer"
          },
          "JobSample": {
            "shape": "S2j"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "CreateProject": {
      "http": {
        "requestUri": "/projects"
      },
      "input": {
        "type": "structure",
        "required": [
          "DatasetName",
          "Name",
          "RecipeName",
          "RoleArn"
        ],
        "members": {
          "DatasetName": {},
          "Name": {},
          "RecipeName": {},
          "Sample": {
            "shape": "S2p"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S1l"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "CreateRecipe": {
      "http": {
        "requestUri": "/recipes"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Steps"
        ],
        "members": {
          "Description": {},
          "Name": {},
          "Steps": {
            "shape": "S2v"
          },
          "Tags": {
            "shape": "S1l"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "CreateRecipeJob": {
      "http": {
        "requestUri": "/recipeJobs"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RoleArn"
        ],
        "members": {
          "DatasetName": {},
          "EncryptionKeyArn": {},
          "EncryptionMode": {},
          "Name": {},
          "LogSubscription": {},
          "MaxCapacity": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "Outputs": {
            "shape": "S35"
          },
          "DataCatalogOutputs": {
            "shape": "S3d"
          },
          "DatabaseOutputs": {
            "shape": "S3h"
          },
          "ProjectName": {},
          "RecipeReference": {
            "shape": "S3k"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S1l"
          },
          "Timeout": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "CreateRuleset": {
      "http": {
        "requestUri": "/rulesets"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "TargetArn",
          "Rules"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "TargetArn": {},
          "Rules": {
            "shape": "S3p"
          },
          "Tags": {
            "shape": "S1l"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "CreateSchedule": {
      "http": {
        "requestUri": "/schedules"
      },
      "input": {
        "type": "structure",
        "required": [
          "CronExpression",
          "Name"
        ],
        "members": {
          "JobNames": {
            "shape": "S3z"
          },
          "CronExpression": {},
          "Tags": {
            "shape": "S1l"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteDataset": {
      "http": {
        "method": "DELETE",
        "requestUri": "/datasets/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteJob": {
      "http": {
        "method": "DELETE",
        "requestUri": "/jobs/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteProject": {
      "http": {
        "method": "DELETE",
        "requestUri": "/projects/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteRecipeVersion": {
      "http": {
        "method": "DELETE",
        "requestUri": "/recipes/{name}/recipeVersion/{recipeVersion}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RecipeVersion"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "RecipeVersion": {
            "location": "uri",
            "locationName": "recipeVersion"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name",
          "RecipeVersion"
        ],
        "members": {
          "Name": {},
          "RecipeVersion": {}
        }
      }
    },
    "DeleteRuleset": {
      "http": {
        "method": "DELETE",
        "requestUri": "/rulesets/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteSchedule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/schedules/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "DescribeDataset": {
      "http": {
        "method": "GET",
        "requestUri": "/datasets/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name",
          "Input"
        ],
        "members": {
          "CreatedBy": {},
          "CreateDate": {
            "type": "timestamp"
          },
          "Name": {},
          "Format": {},
          "FormatOptions": {
            "shape": "Sd"
          },
          "Input": {
            "shape": "So"
          },
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "LastModifiedBy": {},
          "Source": {},
          "PathOptions": {
            "shape": "S12"
          },
          "Tags": {
            "shape": "S1l"
          },
          "ResourceArn": {}
        }
      }
    },
    "DescribeJob": {
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CreateDate": {
            "type": "timestamp"
          },
          "CreatedBy": {},
          "DatasetName": {},
          "EncryptionKeyArn": {},
          "EncryptionMode": {},
          "Name": {},
          "Type": {},
          "LastModifiedBy": {},
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "LogSubscription": {},
          "MaxCapacity": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "Outputs": {
            "shape": "S35"
          },
          "DataCatalogOutputs": {
            "shape": "S3d"
          },
          "DatabaseOutputs": {
            "shape": "S3h"
          },
          "ProjectName": {},
          "ProfileConfiguration": {
            "shape": "S1w"
          },
          "ValidationConfigurations": {
            "shape": "S2f"
          },
          "RecipeReference": {
            "shape": "S3k"
          },
          "ResourceArn": {},
          "RoleArn": {},
          "Tags": {
            "shape": "S1l"
          },
          "Timeout": {
            "type": "integer"
          },
          "JobSample": {
            "shape": "S2j"
          }
        }
      }
    },
    "DescribeJobRun": {
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{name}/jobRun/{runId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "RunId": {
            "location": "uri",
            "locationName": "runId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "Attempt": {
            "type": "integer"
          },
          "CompletedOn": {
            "type": "timestamp"
          },
          "DatasetName": {},
          "ErrorMessage": {},
          "ExecutionTime": {
            "type": "integer"
          },
          "JobName": {},
          "ProfileConfiguration": {
            "shape": "S1w"
          },
          "ValidationConfigurations": {
            "shape": "S2f"
          },
          "RunId": {},
          "State": {},
          "LogSubscription": {},
          "LogGroupName": {},
          "Outputs": {
            "shape": "S35"
          },
          "DataCatalogOutputs": {
            "shape": "S3d"
          },
          "DatabaseOutputs": {
            "shape": "S3h"
          },
          "RecipeReference": {
            "shape": "S3k"
          },
          "StartedBy": {},
          "StartedOn": {
            "type": "timestamp"
          },
          "JobSample": {
            "shape": "S2j"
          }
        }
      }
    },
    "DescribeProject": {
      "http": {
        "method": "GET",
        "requestUri": "/projects/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CreateDate": {
            "type": "timestamp"
          },
          "CreatedBy": {},
          "DatasetName": {},
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "LastModifiedBy": {},
          "Name": {},
          "RecipeName": {},
          "ResourceArn": {},
          "Sample": {
            "shape": "S2p"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S1l"
          },
          "SessionStatus": {},
          "OpenedBy": {},
          "OpenDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeRecipe": {
      "http": {
        "method": "GET",
        "requestUri": "/recipes/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "RecipeVersion": {
            "location": "querystring",
            "locationName": "recipeVersion"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CreatedBy": {},
          "CreateDate": {
            "type": "timestamp"
          },
          "LastModifiedBy": {},
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "ProjectName": {},
          "PublishedBy": {},
          "PublishedDate": {
            "type": "timestamp"
          },
          "Description": {},
          "Name": {},
          "Steps": {
            "shape": "S2v"
          },
          "Tags": {
            "shape": "S1l"
          },
          "ResourceArn": {},
          "RecipeVersion": {}
        }
      }
    },
    "DescribeRuleset": {
      "http": {
        "method": "GET",
        "requestUri": "/rulesets/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "TargetArn": {},
          "Rules": {
            "shape": "S3p"
          },
          "CreateDate": {
            "type": "timestamp"
          },
          "CreatedBy": {},
          "LastModifiedBy": {},
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "ResourceArn": {},
          "Tags": {
            "shape": "S1l"
          }
        }
      }
    },
    "DescribeSchedule": {
      "http": {
        "method": "GET",
        "requestUri": "/schedules/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CreateDate": {
            "type": "timestamp"
          },
          "CreatedBy": {},
          "JobNames": {
            "shape": "S3z"
          },
          "LastModifiedBy": {},
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "ResourceArn": {},
          "CronExpression": {},
          "Tags": {
            "shape": "S1l"
          },
          "Name": {}
        }
      }
    },
    "ListDatasets": {
      "http": {
        "method": "GET",
        "requestUri": "/datasets"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Datasets"
        ],
        "members": {
          "Datasets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Input"
              ],
              "members": {
                "AccountId": {},
                "CreatedBy": {},
                "CreateDate": {
                  "type": "timestamp"
                },
                "Name": {},
                "Format": {},
                "FormatOptions": {
                  "shape": "Sd"
                },
                "Input": {
                  "shape": "So"
                },
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "LastModifiedBy": {},
                "Source": {},
                "PathOptions": {
                  "shape": "S12"
                },
                "Tags": {
                  "shape": "S1l"
                },
                "ResourceArn": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListJobRuns": {
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{name}/jobRuns"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobRuns"
        ],
        "members": {
          "JobRuns": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Attempt": {
                  "type": "integer"
                },
                "CompletedOn": {
                  "type": "timestamp"
                },
                "DatasetName": {},
                "ErrorMessage": {},
                "ExecutionTime": {
                  "type": "integer"
                },
                "JobName": {},
                "RunId": {},
                "State": {},
                "LogSubscription": {},
                "LogGroupName": {},
                "Outputs": {
                  "shape": "S35"
                },
                "DataCatalogOutputs": {
                  "shape": "S3d"
                },
                "DatabaseOutputs": {
                  "shape": "S3h"
                },
                "RecipeReference": {
                  "shape": "S3k"
                },
                "StartedBy": {},
                "StartedOn": {
                  "type": "timestamp"
                },
                "JobSample": {
                  "shape": "S2j"
                },
                "ValidationConfigurations": {
                  "shape": "S2f"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/jobs"
      },
      "input": {
        "type": "structure",
        "members": {
          "DatasetName": {
            "location": "querystring",
            "locationName": "datasetName"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "ProjectName": {
            "location": "querystring",
            "locationName": "projectName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Jobs"
        ],
        "members": {
          "Jobs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name"
              ],
              "members": {
                "AccountId": {},
                "CreatedBy": {},
                "CreateDate": {
                  "type": "timestamp"
                },
                "DatasetName": {},
                "EncryptionKeyArn": {},
                "EncryptionMode": {},
                "Name": {},
                "Type": {},
                "LastModifiedBy": {},
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "LogSubscription": {},
                "MaxCapacity": {
                  "type": "integer"
                },
                "MaxRetries": {
                  "type": "integer"
                },
                "Outputs": {
                  "shape": "S35"
                },
                "DataCatalogOutputs": {
                  "shape": "S3d"
                },
                "DatabaseOutputs": {
                  "shape": "S3h"
                },
                "ProjectName": {},
                "RecipeReference": {
                  "shape": "S3k"
                },
                "ResourceArn": {},
                "RoleArn": {},
                "Timeout": {
                  "type": "integer"
                },
                "Tags": {
                  "shape": "S1l"
                },
                "JobSample": {
                  "shape": "S2j"
                },
                "ValidationConfigurations": {
                  "shape": "S2f"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListProjects": {
      "http": {
        "method": "GET",
        "requestUri": "/projects"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Projects"
        ],
        "members": {
          "Projects": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "RecipeName"
              ],
              "members": {
                "AccountId": {},
                "CreateDate": {
                  "type": "timestamp"
                },
                "CreatedBy": {},
                "DatasetName": {},
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "LastModifiedBy": {},
                "Name": {},
                "RecipeName": {},
                "ResourceArn": {},
                "Sample": {
                  "shape": "S2p"
                },
                "Tags": {
                  "shape": "S1l"
                },
                "RoleArn": {},
                "OpenedBy": {},
                "OpenDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListRecipeVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/recipeVersions"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "Name": {
            "location": "querystring",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Recipes"
        ],
        "members": {
          "NextToken": {},
          "Recipes": {
            "shape": "S5t"
          }
        }
      }
    },
    "ListRecipes": {
      "http": {
        "method": "GET",
        "requestUri": "/recipes"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "RecipeVersion": {
            "location": "querystring",
            "locationName": "recipeVersion"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Recipes"
        ],
        "members": {
          "Recipes": {
            "shape": "S5t"
          },
          "NextToken": {}
        }
      }
    },
    "ListRulesets": {
      "http": {
        "method": "GET",
        "requestUri": "/rulesets"
      },
      "input": {
        "type": "structure",
        "members": {
          "TargetArn": {
            "location": "querystring",
            "locationName": "targetArn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Rulesets"
        ],
        "members": {
          "Rulesets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "TargetArn"
              ],
              "members": {
                "AccountId": {},
                "CreatedBy": {},
                "CreateDate": {
                  "type": "timestamp"
                },
                "Description": {},
                "LastModifiedBy": {},
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "Name": {},
                "ResourceArn": {},
                "RuleCount": {
                  "type": "integer"
                },
                "Tags": {
                  "shape": "S1l"
                },
                "TargetArn": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSchedules": {
      "http": {
        "method": "GET",
        "requestUri": "/schedules"
      },
      "input": {
        "type": "structure",
        "members": {
          "JobName": {
            "location": "querystring",
            "locationName": "jobName"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Schedules"
        ],
        "members": {
          "Schedules": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name"
              ],
              "members": {
                "AccountId": {},
                "CreatedBy": {},
                "CreateDate": {
                  "type": "timestamp"
                },
                "JobNames": {
                  "shape": "S3z"
                },
                "LastModifiedBy": {},
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "ResourceArn": {},
                "CronExpression": {},
                "Tags": {
                  "shape": "S1l"
                },
                "Name": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S1l"
          }
        }
      }
    },
    "PublishRecipe": {
      "http": {
        "requestUri": "/recipes/{name}/publishRecipe"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Description": {},
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "SendProjectSessionAction": {
      "http": {
        "method": "PUT",
        "requestUri": "/projects/{name}/sendProjectSessionAction"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Preview": {
            "type": "boolean"
          },
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "RecipeStep": {
            "shape": "S2w"
          },
          "StepIndex": {
            "type": "integer"
          },
          "ClientSessionId": {
            "shape": "S6d"
          },
          "ViewFrame": {
            "type": "structure",
            "required": [
              "StartColumnIndex"
            ],
            "members": {
              "StartColumnIndex": {
                "type": "integer"
              },
              "ColumnRange": {
                "type": "integer"
              },
              "HiddenColumns": {
                "type": "list",
                "member": {}
              },
              "StartRowIndex": {
                "type": "integer"
              },
              "RowRange": {
                "type": "integer"
              },
              "Analytics": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Result": {},
          "Name": {},
          "ActionId": {
            "type": "integer"
          }
        }
      }
    },
    "StartJobRun": {
      "http": {
        "requestUri": "/jobs/{name}/startJobRun"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "RunId"
        ],
        "members": {
          "RunId": {}
        }
      }
    },
    "StartProjectSession": {
      "http": {
        "method": "PUT",
        "requestUri": "/projects/{name}/startProjectSession"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "AssumeControl": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "ClientSessionId": {
            "shape": "S6d"
          }
        }
      }
    },
    "StopJobRun": {
      "http": {
        "requestUri": "/jobs/{name}/jobRun/{runId}/stopJobRun"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "RunId": {
            "location": "uri",
            "locationName": "runId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "RunId"
        ],
        "members": {
          "RunId": {}
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "Tags": {
            "shape": "S1l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDataset": {
      "http": {
        "method": "PUT",
        "requestUri": "/datasets/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Input"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "Format": {},
          "FormatOptions": {
            "shape": "Sd"
          },
          "Input": {
            "shape": "So"
          },
          "PathOptions": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "UpdateProfileJob": {
      "http": {
        "method": "PUT",
        "requestUri": "/profileJobs/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "OutputLocation",
          "RoleArn"
        ],
        "members": {
          "Configuration": {
            "shape": "S1w"
          },
          "EncryptionKeyArn": {},
          "EncryptionMode": {},
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "LogSubscription": {},
          "MaxCapacity": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "OutputLocation": {
            "shape": "Sp"
          },
          "ValidationConfigurations": {
            "shape": "S2f"
          },
          "RoleArn": {},
          "Timeout": {
            "type": "integer"
          },
          "JobSample": {
            "shape": "S2j"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "UpdateProject": {
      "http": {
        "method": "PUT",
        "requestUri": "/projects/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "RoleArn",
          "Name"
        ],
        "members": {
          "Sample": {
            "shape": "S2p"
          },
          "RoleArn": {},
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "Name": {}
        }
      }
    },
    "UpdateRecipe": {
      "http": {
        "method": "PUT",
        "requestUri": "/recipes/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Description": {},
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "Steps": {
            "shape": "S2v"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "UpdateRecipeJob": {
      "http": {
        "method": "PUT",
        "requestUri": "/recipeJobs/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RoleArn"
        ],
        "members": {
          "EncryptionKeyArn": {},
          "EncryptionMode": {},
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "LogSubscription": {},
          "MaxCapacity": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "Outputs": {
            "shape": "S35"
          },
          "DataCatalogOutputs": {
            "shape": "S3d"
          },
          "DatabaseOutputs": {
            "shape": "S3h"
          },
          "RoleArn": {},
          "Timeout": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "UpdateRuleset": {
      "http": {
        "method": "PUT",
        "requestUri": "/rulesets/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Rules"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "Description": {},
          "Rules": {
            "shape": "S3p"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "UpdateSchedule": {
      "http": {
        "method": "PUT",
        "requestUri": "/schedules/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "CronExpression",
          "Name"
        ],
        "members": {
          "JobNames": {
            "shape": "S3z"
          },
          "CronExpression": {},
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    }
  },
  "shapes": {
    "Sd": {
      "type": "structure",
      "members": {
        "Json": {
          "type": "structure",
          "members": {
            "MultiLine": {
              "type": "boolean"
            }
          }
        },
        "Excel": {
          "type": "structure",
          "members": {
            "SheetNames": {
              "type": "list",
              "member": {}
            },
            "SheetIndexes": {
              "type": "list",
              "member": {
                "type": "integer"
              }
            },
            "HeaderRow": {
              "type": "boolean"
            }
          }
        },
        "Csv": {
          "type": "structure",
          "members": {
            "Delimiter": {},
            "HeaderRow": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "So": {
      "type": "structure",
      "members": {
        "S3InputDefinition": {
          "shape": "Sp"
        },
        "DataCatalogInputDefinition": {
          "type": "structure",
          "required": [
            "DatabaseName",
            "TableName"
          ],
          "members": {
            "CatalogId": {},
            "DatabaseName": {},
            "TableName": {},
            "TempDirectory": {
              "shape": "Sp"
            }
          }
        },
        "DatabaseInputDefinition": {
          "type": "structure",
          "required": [
            "GlueConnectionName"
          ],
          "members": {
            "GlueConnectionName": {},
            "DatabaseTableName": {},
            "TempDirectory": {
              "shape": "Sp"
            },
            "QueryString": {}
          }
        },
        "Metadata": {
          "type": "structure",
          "members": {
            "SourceArn": {}
          }
        }
      }
    },
    "Sp": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {},
        "Key": {}
      }
    },
    "S12": {
      "type": "structure",
      "members": {
        "LastModifiedDateCondition": {
          "shape": "S13"
        },
        "FilesLimit": {
          "type": "structure",
          "required": [
            "MaxFiles"
          ],
          "members": {
            "MaxFiles": {
              "type": "integer"
            },
            "OrderedBy": {},
            "Order": {}
          }
        },
        "Parameters": {
          "type": "map",
          "key": {},
          "value": {
            "type": "structure",
            "required": [
              "Name",
              "Type"
            ],
            "members": {
              "Name": {},
              "Type": {},
              "DatetimeOptions": {
                "type": "structure",
                "required": [
                  "Format"
                ],
                "members": {
                  "Format": {},
                  "TimezoneOffset": {},
                  "LocaleCode": {}
                }
              },
              "CreateColumn": {
                "type": "boolean"
              },
              "Filter": {
                "shape": "S13"
              }
            }
          }
        }
      }
    },
    "S13": {
      "type": "structure",
      "required": [
        "Expression",
        "ValuesMap"
      ],
      "members": {
        "Expression": {},
        "ValuesMap": {
          "shape": "S15"
        }
      }
    },
    "S15": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1l": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1w": {
      "type": "structure",
      "members": {
        "DatasetStatisticsConfiguration": {
          "shape": "S1x"
        },
        "ProfileColumns": {
          "shape": "S25"
        },
        "ColumnStatisticsConfigurations": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Statistics"
            ],
            "members": {
              "Selectors": {
                "shape": "S25"
              },
              "Statistics": {
                "shape": "S1x"
              }
            }
          }
        },
        "EntityDetectorConfiguration": {
          "type": "structure",
          "required": [
            "EntityTypes"
          ],
          "members": {
            "EntityTypes": {
              "type": "list",
              "member": {}
            },
            "AllowedStatistics": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Statistics"
                ],
                "members": {
                  "Statistics": {
                    "shape": "S1y"
                  }
                }
              }
            }
          }
        }
      }
    },
    "S1x": {
      "type": "structure",
      "members": {
        "IncludedStatistics": {
          "shape": "S1y"
        },
        "Overrides": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Statistic",
              "Parameters"
            ],
            "members": {
              "Statistic": {},
              "Parameters": {
                "shape": "S22"
              }
            }
          }
        }
      }
    },
    "S1y": {
      "type": "list",
      "member": {}
    },
    "S22": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S25": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Regex": {},
          "Name": {}
        }
      }
    },
    "S2f": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "RulesetArn"
        ],
        "members": {
          "RulesetArn": {},
          "ValidationMode": {}
        }
      }
    },
    "S2j": {
      "type": "structure",
      "members": {
        "Mode": {},
        "Size": {
          "type": "long"
        }
      }
    },
    "S2p": {
      "type": "structure",
      "required": [
        "Type"
      ],
      "members": {
        "Size": {
          "type": "integer"
        },
        "Type": {}
      }
    },
    "S2v": {
      "type": "list",
      "member": {
        "shape": "S2w"
      }
    },
    "S2w": {
      "type": "structure",
      "required": [
        "Action"
      ],
      "members": {
        "Action": {
          "type": "structure",
          "required": [
            "Operation"
          ],
          "members": {
            "Operation": {},
            "Parameters": {
              "shape": "S22"
            }
          }
        },
        "ConditionExpressions": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Condition",
              "TargetColumn"
            ],
            "members": {
              "Condition": {},
              "Value": {},
              "TargetColumn": {}
            }
          }
        }
      }
    },
    "S35": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Location"
        ],
        "members": {
          "CompressionFormat": {},
          "Format": {},
          "PartitionColumns": {
            "type": "list",
            "member": {}
          },
          "Location": {
            "shape": "Sp"
          },
          "Overwrite": {
            "type": "boolean"
          },
          "FormatOptions": {
            "type": "structure",
            "members": {
              "Csv": {
                "type": "structure",
                "members": {
                  "Delimiter": {}
                }
              }
            }
          }
        }
      }
    },
    "S3d": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "S3Options": {
            "type": "structure",
            "required": [
              "Location"
            ],
            "members": {
              "Location": {
                "shape": "Sp"
              }
            }
          },
          "DatabaseOptions": {
            "shape": "S3g"
          },
          "Overwrite": {
            "type": "boolean"
          }
        }
      }
    },
    "S3g": {
      "type": "structure",
      "required": [
        "TableName"
      ],
      "members": {
        "TempDirectory": {
          "shape": "Sp"
        },
        "TableName": {}
      }
    },
    "S3h": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "GlueConnectionName",
          "DatabaseOptions"
        ],
        "members": {
          "GlueConnectionName": {},
          "DatabaseOptions": {
            "shape": "S3g"
          },
          "DatabaseOutputMode": {}
        }
      }
    },
    "S3k": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "RecipeVersion": {}
      }
    },
    "S3p": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "CheckExpression"
        ],
        "members": {
          "Name": {},
          "Disabled": {
            "type": "boolean"
          },
          "CheckExpression": {},
          "SubstitutionMap": {
            "shape": "S15"
          },
          "Threshold": {
            "type": "structure",
            "required": [
              "Value"
            ],
            "members": {
              "Value": {
                "type": "double"
              },
              "Type": {},
              "Unit": {}
            }
          },
          "ColumnSelectors": {
            "shape": "S25"
          }
        }
      }
    },
    "S3z": {
      "type": "list",
      "member": {}
    },
    "S5t": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CreatedBy": {},
          "CreateDate": {
            "type": "timestamp"
          },
          "LastModifiedBy": {},
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "ProjectName": {},
          "PublishedBy": {},
          "PublishedDate": {
            "type": "timestamp"
          },
          "Description": {},
          "Name": {},
          "ResourceArn": {},
          "Steps": {
            "shape": "S2v"
          },
          "Tags": {
            "shape": "S1l"
          },
          "RecipeVersion": {}
        }
      }
    },
    "S6d": {
      "type": "string",
      "sensitive": true
    }
  }
}