{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-05-10",
    "endpointPrefix": "datazone",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon DataZone",
    "serviceId": "DataZone",
    "signatureVersion": "v4",
    "signingName": "datazone",
    "uid": "datazone-2018-05-10"
  },
  "operations": {
    "AcceptPredictions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/domains/{domainIdentifier}/assets/{identifier}/accept-predictions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "acceptChoices": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "predictionTarget"
              ],
              "members": {
                "editedValue": {
                  "type": "string",
                  "sensitive": true
                },
                "predictionChoice": {
                  "type": "integer"
                },
                "predictionTarget": {}
              }
            }
          },
          "acceptRule": {
            "type": "structure",
            "members": {
              "rule": {},
              "threshold": {
                "type": "float"
              }
            }
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "revision": {
            "location": "querystring",
            "locationName": "revision"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assetId",
          "domainId",
          "revision"
        ],
        "members": {
          "assetId": {},
          "domainId": {},
          "revision": {}
        }
      },
      "idempotent": true
    },
    "AcceptSubscriptionRequest": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-requests/{identifier}/accept",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "decisionComment": {
            "shape": "Sh"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "id",
          "requestReason",
          "status",
          "subscribedListings",
          "subscribedPrincipals",
          "updatedAt"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "decisionComment": {
            "shape": "Sh"
          },
          "domainId": {},
          "id": {},
          "requestReason": {
            "shape": "Sm"
          },
          "reviewerId": {},
          "status": {},
          "subscribedListings": {
            "type": "list",
            "member": {
              "shape": "Sp"
            }
          },
          "subscribedPrincipals": {
            "type": "list",
            "member": {
              "shape": "S16"
            }
          },
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      },
      "idempotent": true
    },
    "AssociateEnvironmentRole": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/roles/{environmentRoleArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "environmentRoleArn"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "uri",
            "locationName": "environmentIdentifier"
          },
          "environmentRoleArn": {
            "location": "uri",
            "locationName": "environmentRoleArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelMetadataGenerationRun": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/metadata-generation-runs/{identifier}/cancel",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelSubscription": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/domains/{domainIdentifier}/subscriptions/{identifier}/cancel",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "id",
          "status",
          "subscribedListing",
          "subscribedPrincipal",
          "updatedAt"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "id": {},
          "retainPermissions": {
            "type": "boolean"
          },
          "status": {},
          "subscribedListing": {
            "shape": "Sp"
          },
          "subscribedPrincipal": {
            "shape": "S16"
          },
          "subscriptionRequestId": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      },
      "idempotent": true
    },
    "CreateAsset": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/assets",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "name",
          "owningProjectIdentifier",
          "typeIdentifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "externalIdentifier": {
            "shape": "S1n"
          },
          "formsInput": {
            "shape": "S1o"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "name": {
            "shape": "S1v"
          },
          "owningProjectIdentifier": {},
          "predictionConfiguration": {
            "shape": "S1w"
          },
          "typeIdentifier": {},
          "typeRevision": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "formsOutput",
          "id",
          "name",
          "owningProjectId",
          "revision",
          "typeIdentifier",
          "typeRevision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "externalIdentifier": {
            "shape": "S1n"
          },
          "firstRevisionCreatedAt": {
            "type": "timestamp"
          },
          "firstRevisionCreatedBy": {},
          "formsOutput": {
            "shape": "S20"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "id": {},
          "latestTimeSeriesDataPointFormsOutput": {
            "shape": "S23"
          },
          "listing": {
            "shape": "S29"
          },
          "name": {
            "shape": "S1v"
          },
          "owningProjectId": {},
          "predictionConfiguration": {
            "shape": "S1w"
          },
          "readOnlyFormsOutput": {
            "shape": "S20"
          },
          "revision": {},
          "typeIdentifier": {},
          "typeRevision": {}
        }
      },
      "idempotent": true
    },
    "CreateAssetFilter": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/assets/{assetIdentifier}/filters",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "assetIdentifier",
          "configuration",
          "domainIdentifier",
          "name"
        ],
        "members": {
          "assetIdentifier": {
            "location": "uri",
            "locationName": "assetIdentifier"
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "configuration": {
            "shape": "S2c"
          },
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "name": {
            "shape": "S2w"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assetId",
          "configuration",
          "domainId",
          "id",
          "name"
        ],
        "members": {
          "assetId": {},
          "configuration": {
            "shape": "S2c"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "effectiveColumnNames": {
            "shape": "S2e"
          },
          "effectiveRowFilter": {},
          "errorMessage": {},
          "id": {},
          "name": {
            "shape": "S2w"
          },
          "status": {}
        }
      },
      "idempotent": true
    },
    "CreateAssetRevision": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/assets/{identifier}/revisions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier",
          "name"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "formsInput": {
            "shape": "S1o"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "name": {
            "shape": "S1v"
          },
          "predictionConfiguration": {
            "shape": "S1w"
          },
          "typeRevision": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "formsOutput",
          "id",
          "name",
          "owningProjectId",
          "revision",
          "typeIdentifier",
          "typeRevision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "externalIdentifier": {
            "shape": "S1n"
          },
          "firstRevisionCreatedAt": {
            "type": "timestamp"
          },
          "firstRevisionCreatedBy": {},
          "formsOutput": {
            "shape": "S20"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "id": {},
          "latestTimeSeriesDataPointFormsOutput": {
            "shape": "S23"
          },
          "listing": {
            "shape": "S29"
          },
          "name": {
            "shape": "S1v"
          },
          "owningProjectId": {},
          "predictionConfiguration": {
            "shape": "S1w"
          },
          "readOnlyFormsOutput": {
            "shape": "S20"
          },
          "revision": {},
          "typeIdentifier": {},
          "typeRevision": {}
        }
      },
      "idempotent": true
    },
    "CreateAssetType": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/asset-types",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "formsInput",
          "name",
          "owningProjectIdentifier"
        ],
        "members": {
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "formsInput": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "required": [
                "typeIdentifier",
                "typeRevision"
              ],
              "members": {
                "required": {
                  "type": "boolean"
                },
                "typeIdentifier": {},
                "typeRevision": {}
              }
            }
          },
          "name": {},
          "owningProjectIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "formsOutput",
          "name",
          "revision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "formsOutput": {
            "shape": "S36"
          },
          "name": {},
          "originDomainId": {},
          "originProjectId": {},
          "owningProjectId": {},
          "revision": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "CreateDataProduct": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/data-products",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "name",
          "owningProjectIdentifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "description": {
            "shape": "S39"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "formsInput": {
            "shape": "S1o"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "items": {
            "shape": "S3a"
          },
          "name": {
            "shape": "S3f"
          },
          "owningProjectIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "id",
          "name",
          "owningProjectId",
          "revision",
          "status"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "S39"
          },
          "domainId": {},
          "firstRevisionCreatedAt": {
            "type": "timestamp"
          },
          "firstRevisionCreatedBy": {},
          "formsOutput": {
            "shape": "S20"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "id": {},
          "items": {
            "shape": "S3a"
          },
          "name": {
            "shape": "S3f"
          },
          "owningProjectId": {},
          "revision": {},
          "status": {}
        }
      },
      "idempotent": true
    },
    "CreateDataProductRevision": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/data-products/{identifier}/revisions",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier",
          "name"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "description": {
            "shape": "S39"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "formsInput": {
            "shape": "S1o"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "items": {
            "shape": "S3a"
          },
          "name": {
            "shape": "S3f"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "id",
          "name",
          "owningProjectId",
          "revision",
          "status"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "S39"
          },
          "domainId": {},
          "firstRevisionCreatedAt": {
            "type": "timestamp"
          },
          "firstRevisionCreatedBy": {},
          "formsOutput": {
            "shape": "S20"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "id": {},
          "items": {
            "shape": "S3a"
          },
          "name": {
            "shape": "S3f"
          },
          "owningProjectId": {},
          "revision": {},
          "status": {}
        }
      },
      "idempotent": true
    },
    "CreateDataSource": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/data-sources",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "name",
          "projectIdentifier",
          "type"
        ],
        "members": {
          "assetFormsInput": {
            "shape": "S1o"
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "configuration": {
            "shape": "S3m"
          },
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "enableSetting": {},
          "environmentIdentifier": {},
          "name": {
            "shape": "S47"
          },
          "projectIdentifier": {},
          "publishOnImport": {
            "type": "boolean"
          },
          "recommendation": {
            "shape": "S48"
          },
          "schedule": {
            "shape": "S49"
          },
          "type": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "environmentId",
          "id",
          "name",
          "projectId"
        ],
        "members": {
          "assetFormsOutput": {
            "shape": "S20"
          },
          "configuration": {
            "shape": "S4e"
          },
          "createdAt": {
            "shape": "S4n"
          },
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "enableSetting": {},
          "environmentId": {},
          "errorMessage": {
            "shape": "S4o"
          },
          "id": {},
          "lastRunAt": {
            "shape": "S4n"
          },
          "lastRunErrorMessage": {
            "shape": "S4o"
          },
          "lastRunStatus": {},
          "name": {
            "shape": "S47"
          },
          "projectId": {},
          "publishOnImport": {
            "type": "boolean"
          },
          "recommendation": {
            "shape": "S48"
          },
          "schedule": {
            "shape": "S49"
          },
          "status": {},
          "type": {},
          "updatedAt": {
            "shape": "S4n"
          }
        }
      },
      "idempotent": true
    },
    "CreateDomain": {
      "http": {
        "requestUri": "/v2/domains",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainExecutionRole",
          "name"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "description": {},
          "domainExecutionRole": {},
          "kmsKeyIdentifier": {},
          "name": {},
          "singleSignOn": {
            "shape": "S4w"
          },
          "tags": {
            "shape": "S4z"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "arn": {},
          "description": {},
          "domainExecutionRole": {},
          "id": {},
          "kmsKeyIdentifier": {},
          "name": {},
          "portalUrl": {},
          "singleSignOn": {
            "shape": "S4w"
          },
          "status": {},
          "tags": {
            "shape": "S4z"
          }
        }
      },
      "idempotent": true
    },
    "CreateEnvironment": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/environments",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentProfileIdentifier",
          "name",
          "projectIdentifier"
        ],
        "members": {
          "description": {},
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentAccountIdentifier": {},
          "environmentAccountRegion": {},
          "environmentBlueprintIdentifier": {},
          "environmentProfileIdentifier": {},
          "glossaryTerms": {
            "shape": "S1t"
          },
          "name": {},
          "projectIdentifier": {},
          "userParameters": {
            "shape": "S56"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdBy",
          "domainId",
          "name",
          "projectId",
          "provider"
        ],
        "members": {
          "awsAccountId": {},
          "awsAccountRegion": {},
          "createdAt": {
            "shape": "S5b"
          },
          "createdBy": {},
          "deploymentProperties": {
            "shape": "S5c"
          },
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "environmentActions": {
            "shape": "S5f"
          },
          "environmentBlueprintId": {},
          "environmentProfileId": {},
          "glossaryTerms": {
            "shape": "S1t"
          },
          "id": {},
          "lastDeployment": {
            "shape": "S5l"
          },
          "name": {
            "shape": "S5r"
          },
          "projectId": {},
          "provider": {},
          "provisionedResources": {
            "shape": "S5s"
          },
          "provisioningProperties": {
            "shape": "S5u"
          },
          "status": {},
          "updatedAt": {
            "shape": "S5b"
          },
          "userParameters": {
            "shape": "S5x"
          }
        }
      }
    },
    "CreateEnvironmentAction": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/actions",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "name",
          "parameters"
        ],
        "members": {
          "description": {},
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "uri",
            "locationName": "environmentIdentifier"
          },
          "name": {},
          "parameters": {
            "shape": "S61"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "environmentId",
          "id",
          "name",
          "parameters"
        ],
        "members": {
          "description": {},
          "domainId": {},
          "environmentId": {},
          "id": {},
          "name": {},
          "parameters": {
            "shape": "S61"
          }
        }
      }
    },
    "CreateEnvironmentProfile": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/environment-profiles",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentBlueprintIdentifier",
          "name",
          "projectIdentifier"
        ],
        "members": {
          "awsAccountId": {},
          "awsAccountRegion": {},
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentBlueprintIdentifier": {},
          "name": {
            "shape": "S66"
          },
          "projectIdentifier": {},
          "userParameters": {
            "shape": "S56"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdBy",
          "domainId",
          "environmentBlueprintId",
          "id",
          "name"
        ],
        "members": {
          "awsAccountId": {},
          "awsAccountRegion": {},
          "createdAt": {
            "shape": "S5b"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "environmentBlueprintId": {},
          "id": {},
          "name": {
            "shape": "S66"
          },
          "projectId": {},
          "updatedAt": {
            "shape": "S5b"
          },
          "userParameters": {
            "shape": "S5x"
          }
        }
      }
    },
    "CreateFormType": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/form-types",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "model",
          "name",
          "owningProjectIdentifier"
        ],
        "members": {
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "model": {
            "shape": "S69"
          },
          "name": {
            "shape": "S22"
          },
          "owningProjectIdentifier": {},
          "status": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "name",
          "revision"
        ],
        "members": {
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "name": {
            "shape": "S22"
          },
          "originDomainId": {},
          "originProjectId": {},
          "owningProjectId": {},
          "revision": {}
        }
      }
    },
    "CreateGlossary": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/glossaries",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "name",
          "owningProjectIdentifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "description": {
            "shape": "S6e"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "name": {
            "shape": "S6f"
          },
          "owningProjectIdentifier": {},
          "status": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "id",
          "name",
          "owningProjectId"
        ],
        "members": {
          "description": {
            "shape": "S6e"
          },
          "domainId": {},
          "id": {},
          "name": {
            "shape": "S6f"
          },
          "owningProjectId": {},
          "status": {}
        }
      },
      "idempotent": true
    },
    "CreateGlossaryTerm": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/glossary-terms",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "glossaryIdentifier",
          "name"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "glossaryIdentifier": {},
          "longDescription": {
            "shape": "S6k"
          },
          "name": {
            "shape": "Sy"
          },
          "shortDescription": {
            "shape": "Sz"
          },
          "status": {},
          "termRelations": {
            "shape": "S6m"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "glossaryId",
          "id",
          "name",
          "status"
        ],
        "members": {
          "domainId": {},
          "glossaryId": {},
          "id": {},
          "longDescription": {
            "shape": "S6k"
          },
          "name": {
            "shape": "Sy"
          },
          "shortDescription": {
            "shape": "Sz"
          },
          "status": {},
          "termRelations": {
            "shape": "S6m"
          }
        }
      },
      "idempotent": true
    },
    "CreateGroupProfile": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/group-profiles",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "groupIdentifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "groupIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domainId": {},
          "groupName": {
            "shape": "S6t"
          },
          "id": {},
          "status": {}
        }
      },
      "idempotent": true
    },
    "CreateListingChangeSet": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/listings/change-set",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "action",
          "domainIdentifier",
          "entityIdentifier",
          "entityType"
        ],
        "members": {
          "action": {},
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "entityIdentifier": {},
          "entityRevision": {},
          "entityType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "listingId",
          "listingRevision",
          "status"
        ],
        "members": {
          "listingId": {},
          "listingRevision": {},
          "status": {}
        }
      }
    },
    "CreateProject": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/projects",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "name"
        ],
        "members": {
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "name": {
            "shape": "S18"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdBy",
          "domainId",
          "id",
          "name"
        ],
        "members": {
          "createdAt": {
            "shape": "S5b"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "failureReasons": {
            "shape": "S72"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "id": {},
          "lastUpdatedAt": {
            "shape": "S5b"
          },
          "name": {
            "shape": "S18"
          },
          "projectStatus": {}
        }
      }
    },
    "CreateProjectMembership": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/createMembership",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "designation",
          "domainIdentifier",
          "member",
          "projectIdentifier"
        ],
        "members": {
          "designation": {},
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "member": {
            "shape": "S77"
          },
          "projectIdentifier": {
            "location": "uri",
            "locationName": "projectIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateSubscriptionGrant": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-grants",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "grantedEntity",
          "subscriptionTargetIdentifier"
        ],
        "members": {
          "assetTargetNames": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "assetId",
                "targetName"
              ],
              "members": {
                "assetId": {},
                "targetName": {}
              }
            }
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {},
          "grantedEntity": {
            "type": "structure",
            "members": {
              "listing": {
                "type": "structure",
                "required": [
                  "identifier",
                  "revision"
                ],
                "members": {
                  "identifier": {},
                  "revision": {}
                }
              }
            },
            "union": true
          },
          "subscriptionTargetIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "grantedEntity",
          "id",
          "status",
          "subscriptionTargetId",
          "updatedAt"
        ],
        "members": {
          "assets": {
            "shape": "S7g"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "grantedEntity": {
            "shape": "S7k"
          },
          "id": {},
          "status": {},
          "subscriptionId": {
            "deprecated": true,
            "deprecatedMessage": "Multiple subscriptions can exist for a single grant"
          },
          "subscriptionTargetId": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "CreateSubscriptionRequest": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-requests",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "requestReason",
          "subscribedListings",
          "subscribedPrincipals"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "requestReason": {
            "shape": "Sm"
          },
          "subscribedListings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "identifier"
              ],
              "members": {
                "identifier": {}
              }
            }
          },
          "subscribedPrincipals": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "project": {
                  "type": "structure",
                  "members": {
                    "identifier": {}
                  }
                }
              },
              "union": true
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "id",
          "requestReason",
          "status",
          "subscribedListings",
          "subscribedPrincipals",
          "updatedAt"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "decisionComment": {
            "shape": "Sh"
          },
          "domainId": {},
          "id": {},
          "requestReason": {
            "shape": "Sm"
          },
          "reviewerId": {},
          "status": {},
          "subscribedListings": {
            "type": "list",
            "member": {
              "shape": "Sp"
            }
          },
          "subscribedPrincipals": {
            "type": "list",
            "member": {
              "shape": "S16"
            }
          },
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "CreateSubscriptionTarget": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "applicableAssetTypes",
          "authorizedPrincipals",
          "domainIdentifier",
          "environmentIdentifier",
          "manageAccessRole",
          "name",
          "subscriptionTargetConfig",
          "type"
        ],
        "members": {
          "applicableAssetTypes": {
            "shape": "S7y"
          },
          "authorizedPrincipals": {
            "shape": "S7z"
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "uri",
            "locationName": "environmentIdentifier"
          },
          "manageAccessRole": {},
          "name": {
            "shape": "S81"
          },
          "provider": {},
          "subscriptionTargetConfig": {
            "shape": "S82"
          },
          "type": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "applicableAssetTypes",
          "authorizedPrincipals",
          "createdAt",
          "createdBy",
          "domainId",
          "environmentId",
          "id",
          "manageAccessRole",
          "name",
          "projectId",
          "provider",
          "subscriptionTargetConfig",
          "type"
        ],
        "members": {
          "applicableAssetTypes": {
            "shape": "S7y"
          },
          "authorizedPrincipals": {
            "shape": "S7z"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "environmentId": {},
          "id": {},
          "manageAccessRole": {},
          "name": {
            "shape": "S81"
          },
          "projectId": {},
          "provider": {},
          "subscriptionTargetConfig": {
            "shape": "S82"
          },
          "type": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "CreateUserProfile": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/user-profiles",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "userIdentifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "userIdentifier": {},
          "userType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "details": {
            "shape": "S89"
          },
          "domainId": {},
          "id": {},
          "status": {},
          "type": {}
        }
      },
      "idempotent": true
    },
    "DeleteAsset": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/assets/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteAssetFilter": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/assets/{assetIdentifier}/filters/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "assetIdentifier",
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "assetIdentifier": {
            "location": "uri",
            "locationName": "assetIdentifier"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "idempotent": true
    },
    "DeleteAssetType": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/asset-types/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDataProduct": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/data-products/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteDataSource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/data-sources/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "retainPermissionsOnRevokeFailure": {
            "location": "querystring",
            "locationName": "retainPermissionsOnRevokeFailure",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "environmentId",
          "id",
          "name",
          "projectId"
        ],
        "members": {
          "assetFormsOutput": {
            "shape": "S20"
          },
          "configuration": {
            "shape": "S4e"
          },
          "createdAt": {
            "shape": "S4n"
          },
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "enableSetting": {},
          "environmentId": {},
          "errorMessage": {
            "shape": "S4o"
          },
          "id": {},
          "lastRunAt": {
            "shape": "S4n"
          },
          "lastRunErrorMessage": {
            "shape": "S4o"
          },
          "lastRunStatus": {},
          "name": {
            "shape": "S47"
          },
          "projectId": {},
          "publishOnImport": {
            "type": "boolean"
          },
          "retainPermissionsOnRevokeFailure": {
            "type": "boolean"
          },
          "schedule": {
            "shape": "S49"
          },
          "selfGrantStatus": {
            "shape": "S8r"
          },
          "status": {},
          "type": {},
          "updatedAt": {
            "shape": "S4n"
          }
        }
      },
      "idempotent": true
    },
    "DeleteDomain": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{identifier}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "identifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "skipDeletionCheck": {
            "location": "querystring",
            "locationName": "skipDeletionCheck",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "status"
        ],
        "members": {
          "status": {}
        }
      },
      "idempotent": true
    },
    "DeleteEnvironment": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "idempotent": true
    },
    "DeleteEnvironmentAction": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/actions/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "uri",
            "locationName": "environmentIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "idempotent": true
    },
    "DeleteEnvironmentBlueprintConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentBlueprintIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentBlueprintIdentifier": {
            "location": "uri",
            "locationName": "environmentBlueprintIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteEnvironmentProfile": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "idempotent": true
    },
    "DeleteFormType": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/form-types/{formTypeIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "formTypeIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "formTypeIdentifier": {
            "location": "uri",
            "locationName": "formTypeIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteGlossary": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/glossaries/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteGlossaryTerm": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/glossary-terms/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteListing": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/listings/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteProject": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/projects/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "skipDeletionCheck": {
            "location": "querystring",
            "locationName": "skipDeletionCheck",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteProjectMembership": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/deleteMembership",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "member",
          "projectIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "member": {
            "shape": "S77"
          },
          "projectIdentifier": {
            "location": "uri",
            "locationName": "projectIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteSubscriptionGrant": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-grants/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "grantedEntity",
          "id",
          "status",
          "subscriptionTargetId",
          "updatedAt"
        ],
        "members": {
          "assets": {
            "shape": "S7g"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "grantedEntity": {
            "shape": "S7k"
          },
          "id": {},
          "status": {},
          "subscriptionId": {
            "deprecated": true,
            "deprecatedMessage": "Multiple subscriptions can exist for a single grant"
          },
          "subscriptionTargetId": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "DeleteSubscriptionRequest": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-requests/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      }
    },
    "DeleteSubscriptionTarget": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "uri",
            "locationName": "environmentIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      }
    },
    "DeleteTimeSeriesDataPoints": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/time-series-data-points",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "entityIdentifier",
          "entityType",
          "formName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "entityIdentifier": {
            "location": "uri",
            "locationName": "entityIdentifier"
          },
          "entityType": {
            "location": "uri",
            "locationName": "entityType"
          },
          "formName": {
            "location": "querystring",
            "locationName": "formName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DisassociateEnvironmentRole": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/roles/{environmentRoleArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "environmentRoleArn"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "uri",
            "locationName": "environmentIdentifier"
          },
          "environmentRoleArn": {
            "location": "uri",
            "locationName": "environmentRoleArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAsset": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/assets/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "revision": {
            "location": "querystring",
            "locationName": "revision"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "formsOutput",
          "id",
          "name",
          "owningProjectId",
          "revision",
          "typeIdentifier",
          "typeRevision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "externalIdentifier": {
            "shape": "S1n"
          },
          "firstRevisionCreatedAt": {
            "type": "timestamp"
          },
          "firstRevisionCreatedBy": {},
          "formsOutput": {
            "shape": "S20"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "id": {},
          "latestTimeSeriesDataPointFormsOutput": {
            "shape": "S23"
          },
          "listing": {
            "shape": "S29"
          },
          "name": {
            "shape": "S1v"
          },
          "owningProjectId": {},
          "readOnlyFormsOutput": {
            "shape": "S20"
          },
          "revision": {},
          "typeIdentifier": {},
          "typeRevision": {}
        }
      }
    },
    "GetAssetFilter": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/assets/{assetIdentifier}/filters/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "assetIdentifier",
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "assetIdentifier": {
            "location": "uri",
            "locationName": "assetIdentifier"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assetId",
          "configuration",
          "domainId",
          "id",
          "name"
        ],
        "members": {
          "assetId": {},
          "configuration": {
            "shape": "S2c"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "effectiveColumnNames": {
            "shape": "S2e"
          },
          "effectiveRowFilter": {},
          "errorMessage": {},
          "id": {},
          "name": {
            "shape": "S2w"
          },
          "status": {}
        }
      }
    },
    "GetAssetType": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/asset-types/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "revision": {
            "location": "querystring",
            "locationName": "revision"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "formsOutput",
          "name",
          "owningProjectId",
          "revision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "formsOutput": {
            "shape": "S36"
          },
          "name": {},
          "originDomainId": {},
          "originProjectId": {},
          "owningProjectId": {},
          "revision": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetDataProduct": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/data-products/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "revision": {
            "location": "querystring",
            "locationName": "revision"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "id",
          "name",
          "owningProjectId",
          "revision",
          "status"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "S39"
          },
          "domainId": {},
          "firstRevisionCreatedAt": {
            "type": "timestamp"
          },
          "firstRevisionCreatedBy": {},
          "formsOutput": {
            "shape": "S20"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "id": {},
          "items": {
            "shape": "S3a"
          },
          "name": {
            "shape": "S3f"
          },
          "owningProjectId": {},
          "revision": {},
          "status": {}
        }
      }
    },
    "GetDataSource": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/data-sources/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "environmentId",
          "id",
          "name",
          "projectId"
        ],
        "members": {
          "assetFormsOutput": {
            "shape": "S20"
          },
          "configuration": {
            "shape": "S4e"
          },
          "createdAt": {
            "shape": "S4n"
          },
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "enableSetting": {},
          "environmentId": {},
          "errorMessage": {
            "shape": "S4o"
          },
          "id": {},
          "lastRunAssetCount": {
            "type": "integer"
          },
          "lastRunAt": {
            "shape": "S4n"
          },
          "lastRunErrorMessage": {
            "shape": "S4o"
          },
          "lastRunStatus": {},
          "name": {
            "shape": "S47"
          },
          "projectId": {},
          "publishOnImport": {
            "type": "boolean"
          },
          "recommendation": {
            "shape": "S48"
          },
          "schedule": {
            "shape": "S49"
          },
          "selfGrantStatus": {
            "shape": "S8r"
          },
          "status": {},
          "type": {},
          "updatedAt": {
            "shape": "S4n"
          }
        }
      }
    },
    "GetDataSourceRun": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/data-source-runs/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "dataSourceId",
          "domainId",
          "id",
          "projectId",
          "status",
          "type",
          "updatedAt"
        ],
        "members": {
          "createdAt": {
            "shape": "S4n"
          },
          "dataSourceConfigurationSnapshot": {},
          "dataSourceId": {},
          "domainId": {},
          "errorMessage": {
            "shape": "S4o"
          },
          "id": {},
          "projectId": {},
          "runStatisticsForAssets": {
            "shape": "Sa4"
          },
          "startedAt": {
            "shape": "S4n"
          },
          "status": {},
          "stoppedAt": {
            "shape": "S4n"
          },
          "type": {},
          "updatedAt": {
            "shape": "S4n"
          }
        }
      }
    },
    "GetDomain": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "identifier"
        ],
        "members": {
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainExecutionRole",
          "id",
          "status"
        ],
        "members": {
          "arn": {},
          "createdAt": {
            "type": "timestamp"
          },
          "description": {},
          "domainExecutionRole": {},
          "id": {},
          "kmsKeyIdentifier": {},
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "name": {},
          "portalUrl": {},
          "singleSignOn": {
            "shape": "S4w"
          },
          "status": {},
          "tags": {
            "shape": "S4z"
          }
        }
      }
    },
    "GetEnvironment": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdBy",
          "domainId",
          "name",
          "projectId",
          "provider"
        ],
        "members": {
          "awsAccountId": {},
          "awsAccountRegion": {},
          "createdAt": {
            "shape": "S5b"
          },
          "createdBy": {},
          "deploymentProperties": {
            "shape": "S5c"
          },
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "environmentActions": {
            "shape": "S5f"
          },
          "environmentBlueprintId": {},
          "environmentProfileId": {},
          "glossaryTerms": {
            "shape": "S1t"
          },
          "id": {},
          "lastDeployment": {
            "shape": "S5l"
          },
          "name": {
            "shape": "S5r"
          },
          "projectId": {},
          "provider": {},
          "provisionedResources": {
            "shape": "S5s"
          },
          "provisioningProperties": {
            "shape": "S5u"
          },
          "status": {},
          "updatedAt": {
            "shape": "S5b"
          },
          "userParameters": {
            "shape": "S5x"
          }
        }
      }
    },
    "GetEnvironmentAction": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/actions/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "uri",
            "locationName": "environmentIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "environmentId",
          "id",
          "name",
          "parameters"
        ],
        "members": {
          "description": {},
          "domainId": {},
          "environmentId": {},
          "id": {},
          "name": {},
          "parameters": {
            "shape": "S61"
          }
        }
      }
    },
    "GetEnvironmentBlueprint": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-blueprints/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "id",
          "name",
          "provider",
          "provisioningProperties"
        ],
        "members": {
          "createdAt": {
            "shape": "S5b"
          },
          "deploymentProperties": {
            "shape": "S5c"
          },
          "description": {
            "shape": "Sq"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "id": {},
          "name": {},
          "provider": {},
          "provisioningProperties": {
            "shape": "S5u"
          },
          "updatedAt": {
            "shape": "S5b"
          },
          "userParameters": {
            "shape": "S5x"
          }
        }
      }
    },
    "GetEnvironmentBlueprintConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentBlueprintIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentBlueprintIdentifier": {
            "location": "uri",
            "locationName": "environmentBlueprintIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "environmentBlueprintId"
        ],
        "members": {
          "createdAt": {
            "shape": "S5b"
          },
          "domainId": {},
          "enabledRegions": {
            "shape": "Sah"
          },
          "environmentBlueprintId": {},
          "manageAccessRoleArn": {},
          "provisioningConfigurations": {
            "shape": "Saj"
          },
          "provisioningRoleArn": {},
          "regionalParameters": {
            "shape": "Sao"
          },
          "updatedAt": {
            "shape": "S5b"
          }
        }
      }
    },
    "GetEnvironmentCredentials": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/credentials",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "uri",
            "locationName": "environmentIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "accessKeyId": {},
          "expiration": {
            "shape": "S5b"
          },
          "secretAccessKey": {},
          "sessionToken": {}
        },
        "sensitive": true
      }
    },
    "GetEnvironmentProfile": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdBy",
          "domainId",
          "environmentBlueprintId",
          "id",
          "name"
        ],
        "members": {
          "awsAccountId": {},
          "awsAccountRegion": {},
          "createdAt": {
            "shape": "S5b"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "environmentBlueprintId": {},
          "id": {},
          "name": {
            "shape": "S66"
          },
          "projectId": {},
          "updatedAt": {
            "shape": "S5b"
          },
          "userParameters": {
            "shape": "S5x"
          }
        }
      }
    },
    "GetFormType": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/form-types/{formTypeIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "formTypeIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "formTypeIdentifier": {
            "location": "uri",
            "locationName": "formTypeIdentifier"
          },
          "revision": {
            "location": "querystring",
            "locationName": "revision"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "model",
          "name",
          "revision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "imports": {
            "shape": "Saw"
          },
          "model": {
            "shape": "S69"
          },
          "name": {
            "shape": "S22"
          },
          "originDomainId": {},
          "originProjectId": {},
          "owningProjectId": {},
          "revision": {},
          "status": {}
        }
      }
    },
    "GetGlossary": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/glossaries/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "id",
          "name",
          "owningProjectId",
          "status"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "S6e"
          },
          "domainId": {},
          "id": {},
          "name": {
            "shape": "S6f"
          },
          "owningProjectId": {},
          "status": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetGlossaryTerm": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/glossary-terms/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "glossaryId",
          "id",
          "name",
          "status"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "glossaryId": {},
          "id": {},
          "longDescription": {
            "shape": "S6k"
          },
          "name": {
            "shape": "Sy"
          },
          "shortDescription": {
            "shape": "Sz"
          },
          "status": {},
          "termRelations": {
            "shape": "S6m"
          },
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetGroupProfile": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/group-profiles/{groupIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "groupIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "groupIdentifier": {
            "location": "uri",
            "locationName": "groupIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domainId": {},
          "groupName": {
            "shape": "S6t"
          },
          "id": {},
          "status": {}
        }
      }
    },
    "GetIamPortalLoginUrl": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/get-portal-login-url",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "userProfileId"
        ],
        "members": {
          "authCodeUrl": {},
          "userProfileId": {}
        }
      }
    },
    "GetLineageNode": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/lineage/nodes/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "eventTimestamp": {
            "location": "querystring",
            "locationName": "timestamp",
            "type": "timestamp"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "id",
          "typeName"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {},
          "domainId": {},
          "downstreamNodes": {
            "shape": "Sb9"
          },
          "eventTimestamp": {
            "type": "timestamp"
          },
          "formsOutput": {
            "shape": "S20"
          },
          "id": {},
          "name": {},
          "sourceIdentifier": {},
          "typeName": {},
          "typeRevision": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {},
          "upstreamNodes": {
            "shape": "Sb9"
          }
        }
      }
    },
    "GetListing": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/listings/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "listingRevision": {
            "location": "querystring",
            "locationName": "listingRevision"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "id",
          "listingRevision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "id": {},
          "item": {
            "type": "structure",
            "members": {
              "assetListing": {
                "type": "structure",
                "members": {
                  "assetId": {},
                  "assetRevision": {},
                  "assetType": {},
                  "createdAt": {
                    "type": "timestamp"
                  },
                  "forms": {},
                  "glossaryTerms": {
                    "shape": "Sw"
                  },
                  "latestTimeSeriesDataPointForms": {
                    "shape": "S23"
                  },
                  "owningProjectId": {}
                }
              },
              "dataProductListing": {
                "type": "structure",
                "members": {
                  "createdAt": {
                    "type": "timestamp"
                  },
                  "dataProductId": {},
                  "dataProductRevision": {},
                  "forms": {},
                  "glossaryTerms": {
                    "shape": "Sw"
                  },
                  "items": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "glossaryTerms": {
                          "shape": "Sw"
                        },
                        "listingId": {},
                        "listingRevision": {}
                      }
                    }
                  },
                  "owningProjectId": {}
                }
              }
            },
            "union": true
          },
          "listingRevision": {},
          "name": {},
          "status": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetMetadataGenerationRun": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/metadata-generation-runs/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "id",
          "owningProjectId"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "id": {},
          "owningProjectId": {},
          "status": {},
          "target": {
            "shape": "Sbm"
          },
          "type": {}
        }
      }
    },
    "GetProject": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/projects/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdBy",
          "domainId",
          "id",
          "name"
        ],
        "members": {
          "createdAt": {
            "shape": "S5b"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "failureReasons": {
            "shape": "S72"
          },
          "glossaryTerms": {
            "shape": "S1t"
          },
          "id": {},
          "lastUpdatedAt": {
            "shape": "S5b"
          },
          "name": {
            "shape": "S18"
          },
          "projectStatus": {}
        }
      }
    },
    "GetSubscription": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/subscriptions/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "id",
          "status",
          "subscribedListing",
          "subscribedPrincipal",
          "updatedAt"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "id": {},
          "retainPermissions": {
            "type": "boolean"
          },
          "status": {},
          "subscribedListing": {
            "shape": "Sp"
          },
          "subscribedPrincipal": {
            "shape": "S16"
          },
          "subscriptionRequestId": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetSubscriptionGrant": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-grants/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "grantedEntity",
          "id",
          "status",
          "subscriptionTargetId",
          "updatedAt"
        ],
        "members": {
          "assets": {
            "shape": "S7g"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "grantedEntity": {
            "shape": "S7k"
          },
          "id": {},
          "status": {},
          "subscriptionId": {
            "deprecated": true,
            "deprecatedMessage": "Multiple subscriptions can exist for a single grant"
          },
          "subscriptionTargetId": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetSubscriptionRequestDetails": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-requests/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "id",
          "requestReason",
          "status",
          "subscribedListings",
          "subscribedPrincipals",
          "updatedAt"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "decisionComment": {
            "shape": "Sh"
          },
          "domainId": {},
          "id": {},
          "requestReason": {
            "shape": "Sm"
          },
          "reviewerId": {},
          "status": {},
          "subscribedListings": {
            "type": "list",
            "member": {
              "shape": "Sp"
            }
          },
          "subscribedPrincipals": {
            "type": "list",
            "member": {
              "shape": "S16"
            }
          },
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetSubscriptionTarget": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "uri",
            "locationName": "environmentIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "applicableAssetTypes",
          "authorizedPrincipals",
          "createdAt",
          "createdBy",
          "domainId",
          "environmentId",
          "id",
          "manageAccessRole",
          "name",
          "projectId",
          "provider",
          "subscriptionTargetConfig",
          "type"
        ],
        "members": {
          "applicableAssetTypes": {
            "shape": "S7y"
          },
[...]
