{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2012-10-29",
    "endpointPrefix": "datapipeline",
    "jsonVersion": "1.1",
    "serviceFullName": "AWS Data Pipeline",
    "serviceId": "Data Pipeline",
    "signatureVersion": "v4",
    "targetPrefix": "DataPipeline",
    "protocol": "json",
    "uid": "datapipeline-2012-10-29"
  },
  "operations": {
    "ActivatePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineId"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          },
          "parameterValues": {
            "shape": "S3"
          },
          "startTimestamp": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AddTags": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineId",
          "tags"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          },
          "tags": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreatePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "uniqueId"
        ],
        "members": {
          "name": {
            "shape": "S2"
          },
          "uniqueId": {
            "shape": "S2"
          },
          "description": {
            "shape": "Sg"
          },
          "tags": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "pipelineId"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          }
        }
      }
    },
    "DeactivatePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineId"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          },
          "cancelActive": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineId"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          }
        }
      }
    },
    "DescribeObjects": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineId",
          "objectIds"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          },
          "objectIds": {
            "shape": "Sn"
          },
          "evaluateExpressions": {
            "type": "boolean"
          },
          "marker": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "pipelineObjects"
        ],
        "members": {
          "pipelineObjects": {
            "shape": "Sq"
          },
          "marker": {
            "shape": "Sg"
          },
          "hasMoreResults": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribePipelines": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineIds"
        ],
        "members": {
          "pipelineIds": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "pipelineDescriptionList"
        ],
        "members": {
          "pipelineDescriptionList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "pipelineId",
                "name",
                "fields"
              ],
              "members": {
                "pipelineId": {
                  "shape": "S2"
                },
                "name": {
                  "shape": "S2"
                },
                "fields": {
                  "shape": "Ss"
                },
                "description": {
                  "shape": "Sg"
                },
                "tags": {
                  "shape": "Sa"
                }
              }
            }
          }
        }
      }
    },
    "EvaluateExpression": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineId",
          "objectId",
          "expression"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          },
          "objectId": {
            "shape": "S2"
          },
          "expression": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "evaluatedExpression"
        ],
        "members": {
          "evaluatedExpression": {
            "shape": "Sz"
          }
        }
      }
    },
    "GetPipelineDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineId"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          },
          "version": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "pipelineObjects": {
            "shape": "Sq"
          },
          "parameterObjects": {
            "shape": "S13"
          },
          "parameterValues": {
            "shape": "S3"
          }
        }
      }
    },
    "ListPipelines": {
      "input": {
        "type": "structure",
        "members": {
          "marker": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "pipelineIdList"
        ],
        "members": {
          "pipelineIdList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "id": {
                  "shape": "S2"
                },
                "name": {
                  "shape": "S2"
                }
              }
            }
          },
          "marker": {
            "shape": "Sg"
          },
          "hasMoreResults": {
            "type": "boolean"
          }
        }
      }
    },
    "PollForTask": {
      "input": {
        "type": "structure",
        "required": [
          "workerGroup"
        ],
        "members": {
          "workerGroup": {
            "shape": "Sg"
          },
          "hostname": {
            "shape": "S2"
          },
          "instanceIdentity": {
            "type": "structure",
            "members": {
              "document": {
                "shape": "Sg"
              },
              "signature": {
                "shape": "Sg"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "taskObject": {
            "type": "structure",
            "members": {
              "taskId": {
                "shape": "S1h"
              },
              "pipelineId": {
                "shape": "S2"
              },
              "attemptId": {
                "shape": "S2"
              },
              "objects": {
                "type": "map",
                "key": {
                  "shape": "S2"
                },
                "value": {
                  "shape": "Sr"
                }
              }
            }
          }
        }
      }
    },
    "PutPipelineDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineId",
          "pipelineObjects"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          },
          "pipelineObjects": {
            "shape": "Sq"
          },
          "parameterObjects": {
            "shape": "S13"
          },
          "parameterValues": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "errored"
        ],
        "members": {
          "validationErrors": {
            "shape": "S1l"
          },
          "validationWarnings": {
            "shape": "S1p"
          },
          "errored": {
            "type": "boolean"
          }
        }
      }
    },
    "QueryObjects": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineId",
          "sphere"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          },
          "query": {
            "type": "structure",
            "members": {
              "selectors": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "fieldName": {
                      "shape": "Sg"
                    },
                    "operator": {
                      "type": "structure",
                      "members": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "EQ",
                            "REF_EQ",
                            "LE",
                            "GE",
                            "BETWEEN"
                          ]
                        },
                        "values": {
                          "shape": "S1x"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "sphere": {
            "shape": "Sg"
          },
          "marker": {
            "shape": "Sg"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ids": {
            "shape": "Sn"
          },
          "marker": {
            "shape": "Sg"
          },
          "hasMoreResults": {
            "type": "boolean"
          }
        }
      }
    },
    "RemoveTags": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineId",
          "tagKeys"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          },
          "tagKeys": {
            "shape": "S1x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ReportTaskProgress": {
      "input": {
        "type": "structure",
        "required": [
          "taskId"
        ],
        "members": {
          "taskId": {
            "shape": "S1h"
          },
          "fields": {
            "shape": "Ss"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "canceled"
        ],
        "members": {
          "canceled": {
            "type": "boolean"
          }
        }
      }
    },
    "ReportTaskRunnerHeartbeat": {
      "input": {
        "type": "structure",
        "required": [
          "taskrunnerId"
        ],
        "members": {
          "taskrunnerId": {
            "shape": "S2"
          },
          "workerGroup": {
            "shape": "Sg"
          },
          "hostname": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "terminate"
        ],
        "members": {
          "terminate": {
            "type": "boolean"
          }
        }
      }
    },
    "SetStatus": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineId",
          "objectIds",
          "status"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          },
          "objectIds": {
            "shape": "Sn"
          },
          "status": {
            "shape": "Sg"
          }
        }
      }
    },
    "SetTaskStatus": {
      "input": {
        "type": "structure",
        "required": [
          "taskId",
          "taskStatus"
        ],
        "members": {
          "taskId": {
            "shape": "S1h"
          },
          "taskStatus": {
            "type": "string",
            "enum": [
              "FINISHED",
              "FAILED",
              "FALSE"
            ]
          },
          "errorId": {
            "shape": "Sg"
          },
          "errorMessage": {},
          "errorStackTrace": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ValidatePipelineDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "pipelineId",
          "pipelineObjects"
        ],
        "members": {
          "pipelineId": {
            "shape": "S2"
          },
          "pipelineObjects": {
            "shape": "Sq"
          },
          "parameterObjects": {
            "shape": "S13"
          },
          "parameterValues": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "errored"
        ],
        "members": {
          "validationErrors": {
            "shape": "S1l"
          },
          "validationWarnings": {
            "shape": "S1p"
          },
          "errored": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "min": 1,
      "max": 1024,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S3": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "id",
          "stringValue"
        ],
        "members": {
          "id": {
            "shape": "S5"
          },
          "stringValue": {
            "shape": "S6"
          }
        }
      }
    },
    "S5": {
      "type": "string",
      "min": 1,
      "max": 256,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S6": {
      "type": "string",
      "min": 0,
      "max": 10240,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "Sa": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "key",
          "value"
        ],
        "members": {
          "key": {
            "type": "string",
            "min": 1,
            "max": 128
          },
          "value": {
            "type": "string",
            "min": 0,
            "max": 256
          }
        }
      },
      "min": 0,
      "max": 10
    },
    "Sg": {
      "type": "string",
      "min": 0,
      "max": 1024,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "Sn": {
      "type": "list",
      "member": {
        "shape": "S2"
      }
    },
    "Sq": {
      "type": "list",
      "member": {
        "shape": "Sr"
      }
    },
    "Sr": {
      "type": "structure",
      "required": [
        "id",
        "name",
        "fields"
      ],
      "members": {
        "id": {
          "shape": "S2"
        },
        "name": {
          "shape": "S2"
        },
        "fields": {
          "shape": "Ss"
        }
      }
    },
    "Ss": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "key"
        ],
        "members": {
          "key": {
            "shape": "S5"
          },
          "stringValue": {
            "shape": "S6"
          },
          "refValue": {
            "shape": "S5"
          }
        }
      }
    },
    "Sz": {
      "type": "string",
      "min": 0,
      "max": 20971520,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S13": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "id",
          "attributes"
        ],
        "members": {
          "id": {
            "shape": "S5"
          },
          "attributes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "key",
                "stringValue"
              ],
              "members": {
                "key": {
                  "type": "string",
                  "min": 1,
                  "max": 256,
                  "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                },
                "stringValue": {
                  "type": "string",
                  "min": 0,
                  "max": 10240,
                  "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                }
              }
            }
          }
        }
      }
    },
    "S1h": {
      "type": "string",
      "min": 1,
      "max": 2048,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S1l": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "id": {
            "shape": "S2"
          },
          "errors": {
            "shape": "S1n"
          }
        }
      }
    },
    "S1n": {
      "type": "list",
      "member": {
        "type": "string",
        "min": 0,
        "max": 10000,
        "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
      }
    },
    "S1p": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "id": {
            "shape": "S2"
          },
          "warnings": {
            "shape": "S1n"
          }
        }
      }
    },
    "S1x": {
      "type": "list",
      "member": {
        "shape": "Sg"
      }
    }
  }
}