{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-05-10",
    "endpointPrefix": "datazone",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon DataZone",
    "serviceId": "DataZone",
    "signatureVersion": "v4",
    "signingName": "datazone",
    "uid": "datazone-2018-05-10"
  },
  "operations": {
    "AcceptPredictions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/domains/{domainIdentifier}/assets/{identifier}/accept-predictions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "acceptChoices": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "predictionTarget"
              ],
              "members": {
                "editedValue": {
                  "type": "string",
                  "sensitive": true
                },
                "predictionChoice": {
                  "type": "integer"
                },
                "predictionTarget": {}
              }
            }
          },
          "acceptRule": {
            "type": "structure",
            "members": {
              "rule": {},
              "threshold": {
                "type": "float"
              }
            }
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "revision": {
            "location": "querystring",
            "locationName": "revision"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assetId",
          "domainId",
          "revision"
        ],
        "members": {
          "assetId": {},
          "domainId": {},
          "revision": {}
        }
      },
      "idempotent": true
    },
    "AcceptSubscriptionRequest": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-requests/{identifier}/accept",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "decisionComment": {
            "shape": "Sh"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "id",
          "requestReason",
          "status",
          "subscribedListings",
          "subscribedPrincipals",
          "updatedAt"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "decisionComment": {
            "shape": "Sh"
          },
          "domainId": {},
          "id": {},
          "requestReason": {
            "shape": "Sm"
          },
          "reviewerId": {},
          "status": {},
          "subscribedListings": {
            "type": "list",
            "member": {
              "shape": "Sp"
            }
          },
          "subscribedPrincipals": {
            "type": "list",
            "member": {
              "shape": "S13"
            }
          },
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      },
      "idempotent": true
    },
    "CancelMetadataGenerationRun": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/metadata-generation-runs/{identifier}/cancel",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelSubscription": {
      "http": {
        "method": "PUT",
        "requestUri": "/v2/domains/{domainIdentifier}/subscriptions/{identifier}/cancel",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "id",
          "status",
          "subscribedListing",
          "subscribedPrincipal",
          "updatedAt"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "id": {},
          "retainPermissions": {
            "type": "boolean"
          },
          "status": {},
          "subscribedListing": {
            "shape": "Sp"
          },
          "subscribedPrincipal": {
            "shape": "S13"
          },
          "subscriptionRequestId": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      },
      "idempotent": true
    },
    "CreateAsset": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/assets",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "name",
          "owningProjectIdentifier",
          "typeIdentifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "externalIdentifier": {
            "shape": "S1h"
          },
          "formsInput": {
            "shape": "S1i"
          },
          "glossaryTerms": {
            "shape": "S1n"
          },
          "name": {
            "shape": "S1p"
          },
          "owningProjectIdentifier": {},
          "predictionConfiguration": {
            "shape": "S1q"
          },
          "typeIdentifier": {},
          "typeRevision": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "formsOutput",
          "id",
          "name",
          "owningProjectId",
          "revision",
          "typeIdentifier",
          "typeRevision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "externalIdentifier": {
            "shape": "S1h"
          },
          "firstRevisionCreatedAt": {
            "type": "timestamp"
          },
          "firstRevisionCreatedBy": {},
          "formsOutput": {
            "shape": "S1u"
          },
          "glossaryTerms": {
            "shape": "S1n"
          },
          "id": {},
          "listing": {
            "shape": "S1x"
          },
          "name": {
            "shape": "S1p"
          },
          "owningProjectId": {},
          "predictionConfiguration": {
            "shape": "S1q"
          },
          "readOnlyFormsOutput": {
            "shape": "S1u"
          },
          "revision": {},
          "typeIdentifier": {},
          "typeRevision": {}
        }
      },
      "idempotent": true
    },
    "CreateAssetRevision": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/assets/{identifier}/revisions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier",
          "name"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "formsInput": {
            "shape": "S1i"
          },
          "glossaryTerms": {
            "shape": "S1n"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "name": {
            "shape": "S1p"
          },
          "predictionConfiguration": {
            "shape": "S1q"
          },
          "typeRevision": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "formsOutput",
          "id",
          "name",
          "owningProjectId",
          "revision",
          "typeIdentifier",
          "typeRevision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "externalIdentifier": {
            "shape": "S1h"
          },
          "firstRevisionCreatedAt": {
            "type": "timestamp"
          },
          "firstRevisionCreatedBy": {},
          "formsOutput": {
            "shape": "S1u"
          },
          "glossaryTerms": {
            "shape": "S1n"
          },
          "id": {},
          "listing": {
            "shape": "S1x"
          },
          "name": {
            "shape": "S1p"
          },
          "owningProjectId": {},
          "predictionConfiguration": {
            "shape": "S1q"
          },
          "readOnlyFormsOutput": {
            "shape": "S1u"
          },
          "revision": {},
          "typeIdentifier": {},
          "typeRevision": {}
        }
      },
      "idempotent": true
    },
    "CreateAssetType": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/asset-types",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "formsInput",
          "name",
          "owningProjectIdentifier"
        ],
        "members": {
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "formsInput": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "required": [
                "typeIdentifier",
                "typeRevision"
              ],
              "members": {
                "required": {
                  "type": "boolean"
                },
                "typeIdentifier": {},
                "typeRevision": {}
              }
            }
          },
          "name": {},
          "owningProjectIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "formsOutput",
          "name",
          "revision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "formsOutput": {
            "shape": "S25"
          },
          "name": {},
          "originDomainId": {},
          "originProjectId": {},
          "owningProjectId": {},
          "revision": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "CreateDataSource": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/data-sources",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "name",
          "projectIdentifier",
          "type"
        ],
        "members": {
          "assetFormsInput": {
            "shape": "S1i"
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "configuration": {
            "shape": "S28"
          },
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "enableSetting": {},
          "environmentIdentifier": {},
          "name": {
            "shape": "S2t"
          },
          "projectIdentifier": {},
          "publishOnImport": {
            "type": "boolean"
          },
          "recommendation": {
            "shape": "S2u"
          },
          "schedule": {
            "shape": "S2v"
          },
          "type": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "environmentId",
          "id",
          "name",
          "projectId"
        ],
        "members": {
          "assetFormsOutput": {
            "shape": "S1u"
          },
          "configuration": {
            "shape": "S30"
          },
          "createdAt": {
            "shape": "S39"
          },
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "enableSetting": {},
          "environmentId": {},
          "errorMessage": {
            "shape": "S3b"
          },
          "id": {},
          "lastRunAt": {
            "shape": "S39"
          },
          "lastRunErrorMessage": {
            "shape": "S3b"
          },
          "lastRunStatus": {},
          "name": {
            "shape": "S2t"
          },
          "projectId": {},
          "publishOnImport": {
            "type": "boolean"
          },
          "recommendation": {
            "shape": "S2u"
          },
          "schedule": {
            "shape": "S2v"
          },
          "status": {},
          "type": {},
          "updatedAt": {
            "shape": "S39"
          }
        }
      },
      "idempotent": true
    },
    "CreateDomain": {
      "http": {
        "requestUri": "/v2/domains",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainExecutionRole",
          "name"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "description": {},
          "domainExecutionRole": {},
          "kmsKeyIdentifier": {},
          "name": {},
          "singleSignOn": {
            "shape": "S3j"
          },
          "tags": {
            "shape": "S3m"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "arn": {},
          "description": {},
          "domainExecutionRole": {},
          "id": {},
          "kmsKeyIdentifier": {},
          "name": {},
          "portalUrl": {},
          "singleSignOn": {
            "shape": "S3j"
          },
          "status": {},
          "tags": {
            "shape": "S3m"
          }
        }
      },
      "idempotent": true
    },
    "CreateEnvironment": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/environments",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentProfileIdentifier",
          "name",
          "projectIdentifier"
        ],
        "members": {
          "description": {},
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentProfileIdentifier": {},
          "glossaryTerms": {
            "shape": "S1n"
          },
          "name": {},
          "projectIdentifier": {},
          "userParameters": {
            "shape": "S3t"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdBy",
          "domainId",
          "environmentProfileId",
          "name",
          "projectId",
          "provider"
        ],
        "members": {
          "awsAccountId": {},
          "awsAccountRegion": {},
          "createdAt": {
            "shape": "S3y"
          },
          "createdBy": {},
          "deploymentProperties": {
            "shape": "S3z"
          },
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "environmentActions": {
            "shape": "S42"
          },
          "environmentBlueprintId": {},
          "environmentProfileId": {},
          "glossaryTerms": {
            "shape": "S1n"
          },
          "id": {},
          "lastDeployment": {
            "shape": "S48"
          },
          "name": {
            "shape": "S4e"
          },
          "projectId": {},
          "provider": {},
          "provisionedResources": {
            "shape": "S4f"
          },
          "provisioningProperties": {
            "shape": "S4h"
          },
          "status": {},
          "updatedAt": {
            "shape": "S3y"
          },
          "userParameters": {
            "shape": "S4k"
          }
        }
      }
    },
    "CreateEnvironmentProfile": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/environment-profiles",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentBlueprintIdentifier",
          "name",
          "projectIdentifier"
        ],
        "members": {
          "awsAccountId": {},
          "awsAccountRegion": {},
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentBlueprintIdentifier": {},
          "name": {
            "shape": "S4o"
          },
          "projectIdentifier": {},
          "userParameters": {
            "shape": "S3t"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdBy",
          "domainId",
          "environmentBlueprintId",
          "id",
          "name"
        ],
        "members": {
          "awsAccountId": {},
          "awsAccountRegion": {},
          "createdAt": {
            "shape": "S3y"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "environmentBlueprintId": {},
          "id": {},
          "name": {
            "shape": "S4o"
          },
          "projectId": {},
          "updatedAt": {
            "shape": "S3y"
          },
          "userParameters": {
            "shape": "S4k"
          }
        }
      }
    },
    "CreateFormType": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/form-types",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "model",
          "name",
          "owningProjectIdentifier"
        ],
        "members": {
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "model": {
            "shape": "S4r"
          },
          "name": {
            "shape": "S1w"
          },
          "owningProjectIdentifier": {},
          "status": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "name",
          "revision"
        ],
        "members": {
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "name": {
            "shape": "S1w"
          },
          "originDomainId": {},
          "originProjectId": {},
          "owningProjectId": {},
          "revision": {}
        }
      }
    },
    "CreateGlossary": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/glossaries",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "name",
          "owningProjectIdentifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "description": {
            "shape": "S4w"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "name": {
            "shape": "S4x"
          },
          "owningProjectIdentifier": {},
          "status": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "id",
          "name",
          "owningProjectId"
        ],
        "members": {
          "description": {
            "shape": "S4w"
          },
          "domainId": {},
          "id": {},
          "name": {
            "shape": "S4x"
          },
          "owningProjectId": {},
          "status": {}
        }
      },
      "idempotent": true
    },
    "CreateGlossaryTerm": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/glossary-terms",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "glossaryIdentifier",
          "name"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "glossaryIdentifier": {},
          "longDescription": {
            "shape": "S52"
          },
          "name": {
            "shape": "Sy"
          },
          "shortDescription": {
            "shape": "Sz"
          },
          "status": {},
          "termRelations": {
            "shape": "S54"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "glossaryId",
          "id",
          "name",
          "status"
        ],
        "members": {
          "domainId": {},
          "glossaryId": {},
          "id": {},
          "longDescription": {
            "shape": "S52"
          },
          "name": {
            "shape": "Sy"
          },
          "shortDescription": {
            "shape": "Sz"
          },
          "status": {},
          "termRelations": {
            "shape": "S54"
          }
        }
      },
      "idempotent": true
    },
    "CreateGroupProfile": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/group-profiles",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "groupIdentifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "groupIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domainId": {},
          "groupName": {
            "shape": "S5b"
          },
          "id": {},
          "status": {}
        }
      },
      "idempotent": true
    },
    "CreateListingChangeSet": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/listings/change-set",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "action",
          "domainIdentifier",
          "entityIdentifier",
          "entityType"
        ],
        "members": {
          "action": {},
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "entityIdentifier": {},
          "entityRevision": {},
          "entityType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "listingId",
          "listingRevision",
          "status"
        ],
        "members": {
          "listingId": {},
          "listingRevision": {},
          "status": {}
        }
      }
    },
    "CreateProject": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/projects",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "name"
        ],
        "members": {
          "description": {
            "shape": "Sq"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "glossaryTerms": {
            "shape": "S1n"
          },
          "name": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdBy",
          "domainId",
          "id",
          "name"
        ],
        "members": {
          "createdAt": {
            "shape": "S3y"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "failureReasons": {
            "shape": "S5l"
          },
          "glossaryTerms": {
            "shape": "S1n"
          },
          "id": {},
          "lastUpdatedAt": {
            "shape": "S3y"
          },
          "name": {
            "shape": "S15"
          },
          "projectStatus": {}
        }
      }
    },
    "CreateProjectMembership": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/createMembership",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "designation",
          "domainIdentifier",
          "member",
          "projectIdentifier"
        ],
        "members": {
          "designation": {},
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "member": {
            "shape": "S5q"
          },
          "projectIdentifier": {
            "location": "uri",
            "locationName": "projectIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateSubscriptionGrant": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-grants",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "grantedEntity",
          "subscriptionTargetIdentifier"
        ],
        "members": {
          "assetTargetNames": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "assetId",
                "targetName"
              ],
              "members": {
                "assetId": {},
                "targetName": {}
              }
            }
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {},
          "grantedEntity": {
            "type": "structure",
            "members": {
              "listing": {
                "type": "structure",
                "required": [
                  "identifier",
                  "revision"
                ],
                "members": {
                  "identifier": {},
                  "revision": {}
                }
              }
            },
            "union": true
          },
          "subscriptionTargetIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "grantedEntity",
          "id",
          "status",
          "subscriptionTargetId",
          "updatedAt"
        ],
        "members": {
          "assets": {
            "shape": "S5z"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "grantedEntity": {
            "shape": "S64"
          },
          "id": {},
          "status": {},
          "subscriptionId": {},
          "subscriptionTargetId": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "CreateSubscriptionRequest": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-requests",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "requestReason",
          "subscribedListings",
          "subscribedPrincipals"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "requestReason": {
            "shape": "Sm"
          },
          "subscribedListings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "identifier"
              ],
              "members": {
                "identifier": {}
              }
            }
          },
          "subscribedPrincipals": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "project": {
                  "type": "structure",
                  "members": {
                    "identifier": {}
                  }
                }
              },
              "union": true
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "id",
          "requestReason",
          "status",
          "subscribedListings",
          "subscribedPrincipals",
          "updatedAt"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "decisionComment": {
            "shape": "Sh"
          },
          "domainId": {},
          "id": {},
          "requestReason": {
            "shape": "Sm"
          },
          "reviewerId": {},
          "status": {},
          "subscribedListings": {
            "type": "list",
            "member": {
              "shape": "Sp"
            }
          },
          "subscribedPrincipals": {
            "type": "list",
            "member": {
              "shape": "S13"
            }
          },
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "CreateSubscriptionTarget": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "applicableAssetTypes",
          "authorizedPrincipals",
          "domainIdentifier",
          "environmentIdentifier",
          "manageAccessRole",
          "name",
          "subscriptionTargetConfig",
          "type"
        ],
        "members": {
          "applicableAssetTypes": {
            "shape": "S6i"
          },
          "authorizedPrincipals": {
            "shape": "S6j"
          },
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "uri",
            "locationName": "environmentIdentifier"
          },
          "manageAccessRole": {},
          "name": {
            "shape": "S6l"
          },
          "provider": {},
          "subscriptionTargetConfig": {
            "shape": "S6m"
          },
          "type": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "applicableAssetTypes",
          "authorizedPrincipals",
          "createdAt",
          "createdBy",
          "domainId",
          "environmentId",
          "id",
          "manageAccessRole",
          "name",
          "projectId",
          "provider",
          "subscriptionTargetConfig",
          "type"
        ],
        "members": {
          "applicableAssetTypes": {
            "shape": "S6i"
          },
          "authorizedPrincipals": {
            "shape": "S6j"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "environmentId": {},
          "id": {},
          "manageAccessRole": {},
          "name": {
            "shape": "S6l"
          },
          "projectId": {},
          "provider": {},
          "subscriptionTargetConfig": {
            "shape": "S6m"
          },
          "type": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "CreateUserProfile": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/user-profiles",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "userIdentifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "userIdentifier": {},
          "userType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "details": {
            "shape": "S6t"
          },
          "domainId": {},
          "id": {},
          "status": {},
          "type": {}
        }
      },
      "idempotent": true
    },
    "DeleteAsset": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/assets/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteAssetType": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/asset-types/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDataSource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/data-sources/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "environmentId",
          "id",
          "name",
          "projectId"
        ],
        "members": {
          "assetFormsOutput": {
            "shape": "S1u"
          },
          "configuration": {
            "shape": "S30"
          },
          "createdAt": {
            "shape": "S39"
          },
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "enableSetting": {},
          "environmentId": {},
          "errorMessage": {
            "shape": "S3b"
          },
          "id": {},
          "lastRunAt": {
            "shape": "S39"
          },
          "lastRunErrorMessage": {
            "shape": "S3b"
          },
          "lastRunStatus": {},
          "name": {
            "shape": "S2t"
          },
          "projectId": {},
          "publishOnImport": {
            "type": "boolean"
          },
          "schedule": {
            "shape": "S2v"
          },
          "status": {},
          "type": {},
          "updatedAt": {
            "shape": "S39"
          }
        }
      },
      "idempotent": true
    },
    "DeleteDomain": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{identifier}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "identifier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "skipDeletionCheck": {
            "location": "querystring",
            "locationName": "skipDeletionCheck",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "status"
        ],
        "members": {
          "status": {}
        }
      },
      "idempotent": true
    },
    "DeleteEnvironment": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "idempotent": true
    },
    "DeleteEnvironmentBlueprintConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentBlueprintIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentBlueprintIdentifier": {
            "location": "uri",
            "locationName": "environmentBlueprintIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteEnvironmentProfile": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "idempotent": true
    },
    "DeleteFormType": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/form-types/{formTypeIdentifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "formTypeIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "formTypeIdentifier": {
            "location": "uri",
            "locationName": "formTypeIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteGlossary": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/glossaries/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteGlossaryTerm": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/glossary-terms/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteListing": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/listings/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteProject": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/projects/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "skipDeletionCheck": {
            "location": "querystring",
            "locationName": "skipDeletionCheck",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteProjectMembership": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/deleteMembership",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "member",
          "projectIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "member": {
            "shape": "S5q"
          },
          "projectIdentifier": {
            "location": "uri",
            "locationName": "projectIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteSubscriptionGrant": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-grants/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "grantedEntity",
          "id",
          "status",
          "subscriptionTargetId",
          "updatedAt"
        ],
        "members": {
          "assets": {
            "shape": "S5z"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "grantedEntity": {
            "shape": "S64"
          },
          "id": {},
          "status": {},
          "subscriptionId": {},
          "subscriptionTargetId": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "DeleteSubscriptionRequest": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-requests/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      }
    },
    "DeleteSubscriptionTarget": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets/{identifier}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "uri",
            "locationName": "environmentIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      }
    },
    "GetAsset": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/assets/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "revision": {
            "location": "querystring",
            "locationName": "revision"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "formsOutput",
          "id",
          "name",
          "owningProjectId",
          "revision",
          "typeIdentifier",
          "typeRevision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "externalIdentifier": {
            "shape": "S1h"
          },
          "firstRevisionCreatedAt": {
            "type": "timestamp"
          },
          "firstRevisionCreatedBy": {},
          "formsOutput": {
            "shape": "S1u"
          },
          "glossaryTerms": {
            "shape": "S1n"
          },
          "id": {},
          "listing": {
            "shape": "S1x"
          },
          "name": {
            "shape": "S1p"
          },
          "owningProjectId": {},
          "readOnlyFormsOutput": {
            "shape": "S1u"
          },
          "revision": {},
          "typeIdentifier": {},
          "typeRevision": {}
        }
      }
    },
    "GetAssetType": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/asset-types/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "revision": {
            "location": "querystring",
            "locationName": "revision"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "formsOutput",
          "name",
          "owningProjectId",
          "revision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "formsOutput": {
            "shape": "S25"
          },
          "name": {},
          "originDomainId": {},
          "originProjectId": {},
          "owningProjectId": {},
          "revision": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetDataSource": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/data-sources/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "environmentId",
          "id",
          "name",
          "projectId"
        ],
        "members": {
          "assetFormsOutput": {
            "shape": "S1u"
          },
          "configuration": {
            "shape": "S30"
          },
          "createdAt": {
            "shape": "S39"
          },
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "enableSetting": {},
          "environmentId": {},
          "errorMessage": {
            "shape": "S3b"
          },
          "id": {},
          "lastRunAssetCount": {
            "type": "integer"
          },
          "lastRunAt": {
            "shape": "S39"
          },
          "lastRunErrorMessage": {
            "shape": "S3b"
          },
          "lastRunStatus": {},
          "name": {
            "shape": "S2t"
          },
          "projectId": {},
          "publishOnImport": {
            "type": "boolean"
          },
          "recommendation": {
            "shape": "S2u"
          },
          "schedule": {
            "shape": "S2v"
          },
          "status": {},
          "type": {},
          "updatedAt": {
            "shape": "S39"
          }
        }
      }
    },
    "GetDataSourceRun": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/data-source-runs/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "dataSourceId",
          "domainId",
          "id",
          "projectId",
          "status",
          "type",
          "updatedAt"
        ],
        "members": {
          "createdAt": {
            "shape": "S39"
          },
          "dataSourceConfigurationSnapshot": {},
          "dataSourceId": {},
          "domainId": {},
          "errorMessage": {
            "shape": "S3b"
          },
          "id": {},
          "projectId": {},
          "runStatisticsForAssets": {
            "shape": "S83"
          },
          "startedAt": {
            "shape": "S39"
          },
          "status": {},
          "stoppedAt": {
            "shape": "S39"
          },
          "type": {},
          "updatedAt": {
            "shape": "S39"
          }
        }
      }
    },
    "GetDomain": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "identifier"
        ],
        "members": {
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainExecutionRole",
          "id",
          "status"
        ],
        "members": {
          "arn": {},
          "createdAt": {
            "type": "timestamp"
          },
          "description": {},
          "domainExecutionRole": {},
          "id": {},
          "kmsKeyIdentifier": {},
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "name": {},
          "portalUrl": {},
          "singleSignOn": {
            "shape": "S3j"
          },
          "status": {},
          "tags": {
            "shape": "S3m"
          }
        }
      }
    },
    "GetEnvironment": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdBy",
          "domainId",
          "environmentProfileId",
          "name",
          "projectId",
          "provider"
        ],
        "members": {
          "awsAccountId": {},
          "awsAccountRegion": {},
          "createdAt": {
            "shape": "S3y"
          },
          "createdBy": {},
          "deploymentProperties": {
            "shape": "S3z"
          },
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "environmentActions": {
            "shape": "S42"
          },
          "environmentBlueprintId": {},
          "environmentProfileId": {},
          "glossaryTerms": {
            "shape": "S1n"
          },
          "id": {},
          "lastDeployment": {
            "shape": "S48"
          },
          "name": {
            "shape": "S4e"
          },
          "projectId": {},
          "provider": {},
          "provisionedResources": {
            "shape": "S4f"
          },
          "provisioningProperties": {
            "shape": "S4h"
          },
          "status": {},
          "updatedAt": {
            "shape": "S3y"
          },
          "userParameters": {
            "shape": "S4k"
          }
        }
      }
    },
    "GetEnvironmentBlueprint": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-blueprints/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "id",
          "name",
          "provider",
          "provisioningProperties"
        ],
        "members": {
          "createdAt": {
            "shape": "S3y"
          },
          "deploymentProperties": {
            "shape": "S3z"
          },
          "description": {
            "shape": "Sq"
          },
          "glossaryTerms": {
            "shape": "S1n"
          },
          "id": {},
          "name": {},
          "provider": {},
          "provisioningProperties": {
            "shape": "S4h"
          },
          "updatedAt": {
            "shape": "S3y"
          },
          "userParameters": {
            "shape": "S4k"
          }
        }
      }
    },
    "GetEnvironmentBlueprintConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentBlueprintIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentBlueprintIdentifier": {
            "location": "uri",
            "locationName": "environmentBlueprintIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "environmentBlueprintId"
        ],
        "members": {
          "createdAt": {
            "shape": "S3y"
          },
          "domainId": {},
          "enabledRegions": {
            "shape": "S8e"
          },
          "environmentBlueprintId": {},
          "manageAccessRoleArn": {},
          "provisioningRoleArn": {},
          "regionalParameters": {
            "shape": "S8g"
          },
          "updatedAt": {
            "shape": "S3y"
          }
        }
      }
    },
    "GetEnvironmentProfile": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdBy",
          "domainId",
          "environmentBlueprintId",
          "id",
          "name"
        ],
        "members": {
          "awsAccountId": {},
          "awsAccountRegion": {},
          "createdAt": {
            "shape": "S3y"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "environmentBlueprintId": {},
          "id": {},
          "name": {
            "shape": "S4o"
          },
          "projectId": {},
          "updatedAt": {
            "shape": "S3y"
          },
          "userParameters": {
            "shape": "S4k"
          }
        }
      }
    },
    "GetFormType": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/form-types/{formTypeIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "formTypeIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "formTypeIdentifier": {
            "location": "uri",
            "locationName": "formTypeIdentifier"
          },
          "revision": {
            "location": "querystring",
            "locationName": "revision"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "model",
          "name",
          "revision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "imports": {
            "shape": "S8m"
          },
          "model": {
            "shape": "S4r"
          },
          "name": {
            "shape": "S1w"
          },
          "originDomainId": {},
          "originProjectId": {},
          "owningProjectId": {},
          "revision": {},
          "status": {}
        }
      }
    },
    "GetGlossary": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/glossaries/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "id",
          "name",
          "owningProjectId",
          "status"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "S4w"
          },
          "domainId": {},
          "id": {},
          "name": {
            "shape": "S4x"
          },
          "owningProjectId": {},
          "status": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetGlossaryTerm": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/glossary-terms/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "glossaryId",
          "id",
          "name",
          "status"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "glossaryId": {},
          "id": {},
          "longDescription": {
            "shape": "S52"
          },
          "name": {
            "shape": "Sy"
          },
          "shortDescription": {
            "shape": "Sz"
          },
          "status": {},
          "termRelations": {
            "shape": "S54"
          },
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetGroupProfile": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/group-profiles/{groupIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "groupIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "groupIdentifier": {
            "location": "uri",
            "locationName": "groupIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domainId": {},
          "groupName": {
            "shape": "S5b"
          },
          "id": {},
          "status": {}
        }
      }
    },
    "GetIamPortalLoginUrl": {
      "http": {
        "requestUri": "/v2/domains/{domainIdentifier}/get-portal-login-url",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "userProfileId"
        ],
        "members": {
          "authCodeUrl": {},
          "userProfileId": {}
        }
      }
    },
    "GetListing": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/listings/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "listingRevision": {
            "location": "querystring",
            "locationName": "listingRevision"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "id",
          "listingRevision"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "id": {},
          "item": {
            "type": "structure",
            "members": {
              "assetListing": {
                "type": "structure",
                "members": {
                  "assetId": {},
                  "assetRevision": {},
                  "assetType": {},
                  "createdAt": {
                    "type": "timestamp"
                  },
                  "forms": {},
                  "glossaryTerms": {
                    "shape": "Sw"
                  },
                  "owningProjectId": {}
                }
              }
            },
            "union": true
          },
          "listingRevision": {},
          "name": {},
          "status": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetMetadataGenerationRun": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/metadata-generation-runs/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "domainId",
          "id",
          "owningProjectId"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "id": {},
          "owningProjectId": {},
          "status": {},
          "target": {
            "shape": "S93"
          },
          "type": {}
        }
      }
    },
    "GetProject": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/projects/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdBy",
          "domainId",
          "id",
          "name"
        ],
        "members": {
          "createdAt": {
            "shape": "S3y"
          },
          "createdBy": {},
          "description": {
            "shape": "Sq"
          },
          "domainId": {},
          "failureReasons": {
            "shape": "S5l"
          },
          "glossaryTerms": {
            "shape": "S1n"
          },
          "id": {},
          "lastUpdatedAt": {
            "shape": "S3y"
          },
          "name": {
            "shape": "S15"
          },
          "projectStatus": {}
        }
      }
    },
    "GetSubscription": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/subscriptions/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "id",
          "status",
          "subscribedListing",
          "subscribedPrincipal",
          "updatedAt"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "id": {},
          "retainPermissions": {
            "type": "boolean"
          },
          "status": {},
          "subscribedListing": {
            "shape": "Sp"
          },
          "subscribedPrincipal": {
            "shape": "S13"
          },
          "subscriptionRequestId": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetSubscriptionGrant": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-grants/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "grantedEntity",
          "id",
          "status",
          "subscriptionTargetId",
          "updatedAt"
        ],
        "members": {
          "assets": {
            "shape": "S5z"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "grantedEntity": {
            "shape": "S64"
          },
          "id": {},
          "status": {},
          "subscriptionId": {},
          "subscriptionTargetId": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetSubscriptionRequestDetails": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/subscription-requests/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "domainId",
          "id",
          "requestReason",
          "status",
          "subscribedListings",
          "subscribedPrincipals",
          "updatedAt"
        ],
        "members": {
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "decisionComment": {
            "shape": "Sh"
          },
          "domainId": {},
          "id": {},
          "requestReason": {
            "shape": "Sm"
          },
          "reviewerId": {},
          "status": {},
          "subscribedListings": {
            "type": "list",
            "member": {
              "shape": "Sp"
            }
          },
          "subscribedPrincipals": {
            "type": "list",
            "member": {
              "shape": "S13"
            }
          },
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetSubscriptionTarget": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets/{identifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "environmentIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "uri",
            "locationName": "environmentIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "applicableAssetTypes",
          "authorizedPrincipals",
          "createdAt",
          "createdBy",
          "domainId",
          "environmentId",
          "id",
          "manageAccessRole",
          "name",
          "projectId",
          "provider",
          "subscriptionTargetConfig",
          "type"
        ],
        "members": {
          "applicableAssetTypes": {
            "shape": "S6i"
          },
          "authorizedPrincipals": {
            "shape": "S6j"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "createdBy": {},
          "domainId": {},
          "environmentId": {},
          "id": {},
          "manageAccessRole": {},
          "name": {
            "shape": "S6l"
          },
          "projectId": {},
          "provider": {},
          "subscriptionTargetConfig": {
            "shape": "S6m"
          },
          "type": {},
          "updatedAt": {
            "type": "timestamp"
          },
          "updatedBy": {}
        }
      }
    },
    "GetUserProfile": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/user-profiles/{userIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "userIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "type": {
            "location": "querystring",
            "locationName": "type"
          },
          "userIdentifier": {
            "location": "uri",
            "locationName": "userIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "details": {
            "shape": "S6t"
          },
          "domainId": {},
          "id": {},
          "status": {},
          "type": {}
        }
      }
    },
    "ListAssetRevisions": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/assets/{identifier}/revisions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "createdAt": {
                  "type": "timestamp"
                },
                "createdBy": {},
                "domainId": {},
                "id": {},
                "revision": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListDataSourceRunActivities": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/data-source-runs/{identifier}/activities",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "identifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "identifier": {
            "location": "uri",
            "locationName": "identifier"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "items"
        ],
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "createdAt",
                "dataAssetStatus",
                "dataSourceRunId",
                "database",
                "projectId",
                "technicalName",
                "updatedAt"
              ],
              "members": {
                "createdAt": {
                  "shape": "S39"
                },
                "dataAssetId": {},
                "dataAssetStatus": {},
                "dataSourceRunId": {},
                "database": {
                  "shape": "S2t"
                },
                "errorMessage": {
                  "shape": "S3b"
                },
                "projectId": {},
                "technicalDescription": {
                  "shape": "Sq"
                },
                "technicalName": {
                  "shape": "S2t"
                },
                "updatedAt": {
                  "shape": "S39"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListDataSourceRuns": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/data-sources/{dataSourceIdentifier}/runs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "dataSourceIdentifier",
          "domainIdentifier"
        ],
        "members": {
          "dataSourceIdentifier": {
            "location": "uri",
            "locationName": "dataSourceIdentifier"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "items"
        ],
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "createdAt",
                "dataSourceId",
                "id",
                "projectId",
                "status",
                "type",
                "updatedAt"
              ],
              "members": {
                "createdAt": {
                  "shape": "S39"
                },
                "dataSourceId": {},
                "errorMessage": {
                  "shape": "S3b"
                },
                "id": {},
                "projectId": {},
                "runStatisticsForAssets": {
                  "shape": "S83"
                },
                "startedAt": {
                  "shape": "S39"
                },
                "status": {},
                "stoppedAt": {
                  "shape": "S39"
                },
                "type": {},
                "updatedAt": {
                  "shape": "S39"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListDataSources": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/data-sources",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "projectIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentIdentifier": {
            "location": "querystring",
            "locationName": "environmentIdentifier"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "name": {
            "shape": "S2t",
            "location": "querystring",
            "locationName": "name"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "projectIdentifier": {
            "location": "querystring",
            "locationName": "projectIdentifier"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          },
          "type": {
            "location": "querystring",
            "locationName": "type"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "items"
        ],
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "dataSourceId",
                "domainId",
                "environmentId",
                "name",
                "status",
                "type"
              ],
              "members": {
                "createdAt": {
                  "shape": "S39"
                },
                "dataSourceId": {},
                "domainId": {},
                "enableSetting": {},
                "environmentId": {},
                "lastRunAssetCount": {
                  "type": "integer"
                },
                "lastRunAt": {
                  "shape": "S39"
                },
                "lastRunErrorMessage": {
                  "shape": "S3b"
                },
                "lastRunStatus": {},
                "name": {
                  "shape": "S2t"
                },
                "schedule": {
                  "shape": "S2v"
                },
                "status": {},
                "type": {},
                "updatedAt": {
                  "shape": "S39"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListDomains": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "items"
        ],
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "id",
                "managedAccountId",
                "name",
                "status"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "description": {
                  "type": "string",
                  "sensitive": true
                },
                "id": {},
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "managedAccountId": {},
                "name": {
                  "type": "string",
                  "sensitive": true
                },
                "portalUrl": {},
                "status": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListEnvironmentBlueprintConfigurations": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-blueprint-configurations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "domainId",
                "environmentBlueprintId"
              ],
              "members": {
                "createdAt": {
                  "shape": "S3y"
                },
                "domainId": {},
                "enabledRegions": {
                  "shape": "S8e"
                },
                "environmentBlueprintId": {},
                "manageAccessRoleArn": {},
                "provisioningRoleArn": {},
                "regionalParameters": {
                  "shape": "S8g"
                },
                "updatedAt": {
                  "shape": "S3y"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListEnvironmentBlueprints": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-blueprints",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier"
        ],
        "members": {
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "managed": {
            "location": "querystring",
            "locationName": "managed",
            "type": "boolean"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "name": {
            "location": "querystring",
            "locationName": "name"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "items"
        ],
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "id",
                "name",
                "provider",
                "provisioningProperties"
              ],
              "members": {
                "createdAt": {
                  "shape": "S3y"
                },
                "description": {
                  "shape": "Sq"
                },
                "id": {},
                "name": {},
                "provider": {},
                "provisioningProperties": {
                  "shape": "S4h"
                },
                "updatedAt": {
                  "shape": "S3y"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListEnvironmentProfiles": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environment-profiles",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier"
        ],
        "members": {
          "awsAccountId": {
            "location": "querystring",
            "locationName": "awsAccountId"
          },
          "awsAccountRegion": {
            "location": "querystring",
            "locationName": "awsAccountRegion"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentBlueprintIdentifier": {
            "location": "querystring",
            "locationName": "environmentBlueprintIdentifier"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "name": {
            "shape": "S4o",
            "location": "querystring",
            "locationName": "name"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "projectIdentifier": {
            "location": "querystring",
            "locationName": "projectIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "items"
        ],
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "createdBy",
                "domainId",
                "environmentBlueprintId",
                "id",
                "name"
              ],
              "members": {
                "awsAccountId": {},
                "awsAccountRegion": {},
                "createdAt": {
                  "shape": "S3y"
                },
                "createdBy": {},
                "description": {
                  "shape": "Sq"
                },
                "domainId": {},
                "environmentBlueprintId": {},
                "id": {},
                "name": {
                  "shape": "S4o"
                },
                "projectId": {},
                "updatedAt": {
                  "shape": "S3y"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListEnvironments": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/environments",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "domainIdentifier",
          "projectIdentifier"
        ],
        "members": {
          "awsAccountId": {
            "location": "querystring",
            "locationName": "awsAccountId"
          },
          "awsAccountRegion": {
            "location": "querystring",
            "locationName": "awsAccountRegion"
          },
          "domainIdentifier": {
            "location": "uri",
            "locationName": "domainIdentifier"
          },
          "environmentBlueprintIdentifier": {
            "location": "querystring",
            "locationName": "environmentBlueprintIdentifier"
          },
          "environmentProfileIdentifier": {
            "location": "querystring",
            "locationName": "environmentProfileIdentifier"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "name": {
            "location": "querystring",
            "locationName": "name"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "projectIdentifier": {
            "location": "querystring",
            "locationName": "projectIdentifier"
          },
          "provider": {
            "location": "querystring",
            "locationName": "provider"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "items"
        ],
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "createdBy",
                "domainId",
                "environmentProfileId",
                "name",
                "projectId",
                "provider"
              ],
              "members": {
                "awsAccountId": {},
                "awsAccountRegion": {},
                "createdAt": {
                  "shape": "S3y"
                },
                "createdBy": {},
                "description": {
                  "shape": "Sq"
                },
                "domainId": {},
                "environmentProfileId": {},
                "id": {},
                "name": {
                  "shape": "S4e"
                },
                "projectId": {},
                "provider": {},
                "status": {},
                "updatedAt": {
                  "shape": "S3y"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListMetadataGenerationRuns": {
      "http": {
        "method": "GET",
        "requestUri": "/v2/domains/{domainIdentifier}/metadata-generation-runs",
[...]
