{
  "metadata":{
    "apiVersion":"2012-10-29",
    "endpointPrefix":"datapipeline",
    "jsonVersion":"1.1",
    "serviceFullName":"AWS Data Pipeline",
    "signatureVersion":"v4",
    "targetPrefix":"DataPipeline",
    "protocol":"json"
  },
  "documentation":"<p> \n            This is the <i>AWS Data Pipeline API Reference</i>. This guide provides descriptions and\n            samples of the AWS Data Pipeline API.\n        </p>\n        \n        <p>\n            AWS Data Pipeline is a web service that configures and manages a data-driven workflow called a pipeline. AWS Data Pipeline handles the details of scheduling and ensuring that data dependencies are met so your application can focus on processing the data.</p>\n        \n        <p>\n            The AWS Data Pipeline API implements two main sets of functionality. The first set of actions configure the pipeline in the web service. You call these actions to create a pipeline and define data sources, schedules, dependencies, and the transforms to be performed on the data.\n        </p>\n        \n        <p>\n            The second set of actions are used by a task runner application that calls the AWS Data Pipeline API to receive the next task ready for processing. The logic for performing the task, such as querying the data, running data analysis, or converting the data from one format to another, is contained within the task runner. The task runner performs the task assigned to it by the web service, reporting progress to the web service as it does so. When the task is done, the task runner reports the final success or failure of the task to the web service.\n        </p>\n        \n        <p>\n            AWS Data Pipeline provides an open-source implementation of a task runner called AWS Data Pipeline Task Runner. AWS Data Pipeline Task Runner provides logic for common data management scenarios, such as performing database queries and running data analysis using Amazon Elastic MapReduce (Amazon EMR). You can use AWS Data Pipeline Task Runner as your task runner, or you can write your own task runner to provide custom data management.\n        </p>\n        \n            \n        <p>\n            The AWS Data Pipeline API uses the Signature Version 4 protocol for signing requests. For more information about how to sign a request with this protocol, see  \n            <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>. In the code examples in this reference, the Signature Version 4 Request parameters are represented as AuthParams.\n        </p>",
  "operations":{
    "ActivatePipeline":{
      "name":"ActivatePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ActivatePipelineInput",
        "documentation":"<p>The input of the ActivatePipeline action.</p>"
      },
      "output":{
        "shape":"ActivatePipelineOutput",
        "documentation":"<p>Contains the output from the <a>ActivatePipeline</a> action.</p>"
      },
      "errors":[
        {
          "shape":"PipelineNotFoundException",
          "exception":true,
          "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
        },
        {
          "shape":"PipelineDeletedException",
          "exception":true,
          "documentation":"<p>The specified pipeline has been deleted.</p>"
        },
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        }
      ],
      "documentation":"<p>\n            Validates a pipeline and initiates processing. If the pipeline does not pass validation, activation fails.\n        </p>\n        <p>\n            Call this action to start processing pipeline tasks of a pipeline you've created using the <a>CreatePipeline</a> and <a>PutPipelineDefinition</a> actions. A pipeline cannot be modified after it has been successfully activated. \n        </p>\n        <examples>\n            <request>\n                \nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.ActivatePipeline\nContent-Length: 39\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\"}\n\n            </request>\n            <response>\n                \nHTTP/1.1 200 \nx-amzn-RequestId: ee19d5bf-074e-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 2\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{}\n                \n            </response>\n        </examples>"
    },
    "CreatePipeline":{
      "name":"CreatePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreatePipelineInput",
        "documentation":"<p>The input for the <a>CreatePipeline</a> action.</p>"
      },
      "output":{
        "shape":"CreatePipelineOutput",
        "documentation":"<p>Contains the output from the <a>CreatePipeline</a> action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        }
      ],
      "documentation":"<p>Creates a new empty pipeline. When this action succeeds, you can then use the <a>PutPipelineDefinition</a> action to populate the pipeline.</p> \n        \n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.CreatePipeline\nContent-Length: 91\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"name\": \"myPipeline\",\n \"uniqueId\": \"123456789\",\n \"description\": \"This is my first pipeline\"}\n \n            </request>\n            \n            <response>\n                \nHTTP/1.1 200 \nx-amzn-RequestId: b16911ce-0774-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 40\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\"}\n         \n            </response>\n        </examples>"
    },
    "DeletePipeline":{
      "name":"DeletePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeletePipelineInput",
        "documentation":"<p>The input for the <a>DeletePipeline</a> action.</p>"
      },
      "errors":[
        {
          "shape":"PipelineNotFoundException",
          "exception":true,
          "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
        },
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        }
      ],
      "documentation":"<p>\n            Permanently deletes a pipeline, its pipeline definition and its run history. You cannot query or restore a deleted pipeline. AWS Data Pipeline will attempt to cancel instances associated with the pipeline that are currently being processed by task runners. Deleting a pipeline cannot be undone.\n        </p>\n        <p> \n            To temporarily pause a pipeline instead of deleting it, call <a>SetStatus</a> with the status set to Pause on individual components. Components that are paused by <a>SetStatus</a> can be resumed.\n        </p>\n        \n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.DeletePipeline\nContent-Length: 50\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\"}\n\n            </request>\n            \n            <response>\n                 \nx-amzn-RequestId: b7a88c81-0754-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 0\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\nUnexpected response: 200, OK, undefined\n        \n            </response>\n        </examples>"
    },
    "DescribeObjects":{
      "name":"DescribeObjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeObjectsInput",
        "documentation":"<p> The <a>DescribeObjects</a> action returns the object definitions for a specified set of object identifiers. You can filter the results to named fields and used markers to page through the results. </p>"
      },
      "output":{
        "shape":"DescribeObjectsOutput",
        "documentation":"<p>If <code>True</code>, there are more results that can be returned in another call to <a>DescribeObjects</a>.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        },
        {
          "shape":"PipelineNotFoundException",
          "exception":true,
          "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
        },
        {
          "shape":"PipelineDeletedException",
          "exception":true,
          "documentation":"<p>The specified pipeline has been deleted.</p>"
        }
      ],
      "documentation":"<p>\n           Returns the object definitions for a set of objects associated with the pipeline. Object definitions are composed of a set of fields that define the properties of the object. \n        </p>\n        \n        <examples>\n            \n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.DescribeObjects\nContent-Length: 98\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\",\n \"objectIds\": \n  [\"Schedule\"],\n \"evaluateExpressions\": true}\n\n            </request>\n            \n            <response>\n\nx-amzn-RequestId: 4c18ea5d-0777-11e2-8a14-21bb8a1f50ef\nContent-Type: application/x-amz-json-1.1\nContent-Length: 1488\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"hasMoreResults\": false, \n \"pipelineObjects\": \n  [\n    {\"fields\": \n      [\n        {\"key\": \"startDateTime\", \n         \"stringValue\": \"2012-12-12T00:00:00\"}, \n        {\"key\": \"parent\", \n         \"refValue\": \"Default\"}, \n        {\"key\": \"@sphere\", \n         \"stringValue\": \"COMPONENT\"}, \n        {\"key\": \"type\", \n         \"stringValue\": \"Schedule\"}, \n        {\"key\": \"period\", \n         \"stringValue\": \"1 hour\"}, \n        {\"key\": \"endDateTime\", \n         \"stringValue\": \"2012-12-21T18:00:00\"}, \n        {\"key\": \"@version\", \n         \"stringValue\": \"1\"}, \n        {\"key\": \"@status\", \n         \"stringValue\": \"PENDING\"}, \n        {\"key\": \"@pipelineId\", \n         \"stringValue\": \"df-06372391ZG65EXAMPLE\"}\n      ], \n     \"id\": \"Schedule\", \n     \"name\": \"Schedule\"}\n  ]\n}\n         \n            </response>\n        </examples>"
    },
    "DescribePipelines":{
      "name":"DescribePipelines",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribePipelinesInput",
        "documentation":"<p>The input to the <a>DescribePipelines</a> action.</p>"
      },
      "output":{
        "shape":"DescribePipelinesOutput",
        "documentation":"<p>Contains the output from the <a>DescribePipelines</a> action.</p>"
      },
      "errors":[
        {
          "shape":"PipelineNotFoundException",
          "exception":true,
          "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
        },
        {
          "shape":"PipelineDeletedException",
          "exception":true,
          "documentation":"<p>The specified pipeline has been deleted.</p>"
        },
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        }
      ],
      "documentation":"<p>\n            Retrieve metadata about one or more pipelines. The information retrieved includes the name of the pipeline, the pipeline identifier, its current state, and the user account that owns the pipeline. Using account credentials, you can retrieve metadata  about pipelines that you or your IAM users have created. If you are using an IAM user account, you can retrieve metadata about only those pipelines you have read permission for.\n        </p>\n        <p>\n            To retrieve the full pipeline definition instead of metadata about the pipeline, call the <a>GetPipelineDefinition</a> action.\n        </p>\n        \n        \n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.DescribePipelines\nContent-Length: 70\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineIds\": \n  [\"df-08785951KAKJEXAMPLE\"]\n}\n\n            </request>\n            \n\n            <response>\n             \nx-amzn-RequestId: 02870eb7-0736-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 767\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"pipelineDescriptionList\": \n  [\n    {\"description\": \"This is my first pipeline\", \n     \"fields\": \n      [\n        {\"key\": \"@pipelineState\", \n         \"stringValue\": \"SCHEDULED\"}, \n        {\"key\": \"description\", \n         \"stringValue\": \"This is my first pipeline\"}, \n        {\"key\": \"name\", \n         \"stringValue\": \"myPipeline\"}, \n        {\"key\": \"@creationTime\", \n         \"stringValue\": \"2012-12-13T01:24:06\"}, \n        {\"key\": \"@id\", \n         \"stringValue\": \"df-0937003356ZJEXAMPLE\"}, \n        {\"key\": \"@sphere\", \n         \"stringValue\": \"PIPELINE\"}, \n        {\"key\": \"@version\", \n         \"stringValue\": \"1\"}, \n        {\"key\": \"@userId\", \n         \"stringValue\": \"924374875933\"}, \n        {\"key\": \"@accountId\", \n         \"stringValue\": \"924374875933\"}, \n        {\"key\": \"uniqueId\", \n         \"stringValue\": \"1234567890\"}\n      ], \n     \"name\": \"myPipeline\", \n     \"pipelineId\": \"df-0937003356ZJEXAMPLE\"}\n  ]\n}\n</response>\n        </examples>"
    },
    "EvaluateExpression":{
      "name":"EvaluateExpression",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"EvaluateExpressionInput",
        "documentation":"<p>The input for the <a>EvaluateExpression</a> action.</p>"
      },
      "output":{
        "shape":"EvaluateExpressionOutput",
        "documentation":"<p>Contains the output from the <a>EvaluateExpression</a> action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"TaskNotFoundException",
          "exception":true,
          "documentation":"<p>The specified task was not found. </p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        },
        {
          "shape":"PipelineNotFoundException",
          "exception":true,
          "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
        },
        {
          "shape":"PipelineDeletedException",
          "exception":true,
          "documentation":"<p>The specified pipeline has been deleted.</p>"
        }
      ],
      "documentation":"<p>Evaluates a string in the context of a specified object. A task runner can use this action to evaluate SQL queries stored in Amazon S3. </p>\n        \n        \n        \n        <examples>\n            <request>\n                \nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.DescribePipelines\nContent-Length: 164\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-08785951KAKJEXAMPLE\",\n        \"objectId\": \"Schedule\",\n        \"expression\": \"Transform started at #{startDateTime} and finished at #{endDateTime}\"}\n\n            </request>\n            \n            \n            <response>\n                 \nx-amzn-RequestId: 02870eb7-0736-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 103\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"evaluatedExpression\": \"Transform started at 2012-12-12T00:00:00 and finished at 2012-12-21T18:00:00\"}\n</response>\n        </examples>"
    },
    "GetPipelineDefinition":{
      "name":"GetPipelineDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetPipelineDefinitionInput",
        "documentation":"<p>The input for the <a>GetPipelineDefinition</a> action.</p>"
      },
      "output":{
        "shape":"GetPipelineDefinitionOutput",
        "documentation":"<p>Contains the output from the <a>GetPipelineDefinition</a> action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        },
        {
          "shape":"PipelineNotFoundException",
          "exception":true,
          "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
        },
        {
          "shape":"PipelineDeletedException",
          "exception":true,
          "documentation":"<p>The specified pipeline has been deleted.</p>"
        }
      ],
      "documentation":"<p>Returns the definition of the specified pipeline. You can call <a>GetPipelineDefinition</a> to retrieve the pipeline definition you provided using <a>PutPipelineDefinition</a>.</p>\n\n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.GetPipelineDefinition\nContent-Length: 40\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\"}\n\n            </request>\n            <response>\n                \nx-amzn-RequestId: e28309e5-0776-11e2-8a14-21bb8a1f50ef\nContent-Type: application/x-amz-json-1.1\nContent-Length: 890\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"pipelineObjects\": \n  [\n    {\"fields\": \n      [\n        {\"key\": \"workerGroup\", \n         \"stringValue\": \"workerGroup\"}\n      ], \n     \"id\": \"Default\", \n     \"name\": \"Default\"}, \n    {\"fields\": \n      [\n        {\"key\": \"startDateTime\", \n         \"stringValue\": \"2012-09-25T17:00:00\"}, \n        {\"key\": \"type\", \n         \"stringValue\": \"Schedule\"}, \n        {\"key\": \"period\", \n         \"stringValue\": \"1 hour\"}, \n        {\"key\": \"endDateTime\", \n         \"stringValue\": \"2012-09-25T18:00:00\"}\n      ], \n     \"id\": \"Schedule\", \n     \"name\": \"Schedule\"}, \n    {\"fields\": \n      [\n        {\"key\": \"schedule\", \n         \"refValue\": \"Schedule\"}, \n        {\"key\": \"command\", \n         \"stringValue\": \"echo hello\"}, \n        {\"key\": \"parent\", \n         \"refValue\": \"Default\"}, \n        {\"key\": \"type\", \n         \"stringValue\": \"ShellCommandActivity\"}\n      ], \n     \"id\": \"SayHello\", \n     \"name\": \"SayHello\"}\n  ]\n}\n\n            </response>\n        </examples>"
    },
    "ListPipelines":{
      "name":"ListPipelines",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListPipelinesInput",
        "documentation":"<p>The input to the <a>ListPipelines</a> action.</p>"
      },
      "output":{
        "shape":"ListPipelinesOutput",
        "documentation":"<p>Contains the output from the <a>ListPipelines</a> action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        }
      ],
      "documentation":"<p>Returns a list of pipeline identifiers for all active pipelines. Identifiers are returned only for pipelines you have permission to access. </p> \n        \n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.ListPipelines\nContent-Length: 14\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{}\n\n            </request>\n            \n            <response>\n                \nStatus:\nx-amzn-RequestId: b3104dc5-0734-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 39\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"PipelineIdList\": \n  [\n    {\"id\": \"df-08785951KAKJEXAMPLE\",\n     \"name\": \"MyPipeline\"}, \n    {\"id\": \"df-08662578ISYEXAMPLE\", \n     \"name\": \"MySecondPipeline\"}\n  ]\n}         \n            </response>\n        </examples>"
    },
    "PollForTask":{
      "name":"PollForTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"PollForTaskInput",
        "documentation":"<p>The data type passed in as input to the PollForTask action.</p>"
      },
      "output":{
        "shape":"PollForTaskOutput",
        "documentation":"<p>Contains the output from the PollForTask action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        },
        {
          "shape":"TaskNotFoundException",
          "exception":true,
          "documentation":"<p>The specified task was not found. </p>"
        }
      ],
      "documentation":"<p>\n            Task runners call this action to receive a task to perform from AWS Data Pipeline. The task runner specifies which tasks it can perform by setting a value for the workerGroup parameter of the <a>PollForTask</a> call. The task returned by <a>PollForTask</a> may come from any of the pipelines that match the workerGroup value passed in by the task runner and that was launched using the IAM user credentials specified by the task runner.\n        </p>\n        <p>\n            If tasks are ready in the work queue, <a>PollForTask</a> returns a response immediately. If no tasks are available in the queue, <a>PollForTask</a> uses long-polling and holds on to a poll connection for up to a 90 seconds during which time the first newly scheduled task is handed to the task runner. To accomodate this, set the socket timeout in your task runner to 90 seconds. The task runner should not call <a>PollForTask</a> again on the same <code>workerGroup</code> until it receives a response, and this may take up to 90 seconds.\n        </p>\n\n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.PollForTask\nContent-Length: 59\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"workerGroup\": \"MyworkerGroup\",\n \"hostname\": \"example.com\"}\n\n            </request>\n            \n            <response>\n \nx-amzn-RequestId: 41c713d2-0775-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 39\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"taskObject\": \n  {\"attemptId\": \"@SayHello_2012-12-12T00:00:00_Attempt=1\", \n   \"objects\": \n    {\"@SayHello_2012-12-12T00:00:00_Attempt=1\": \n      {\"fields\": \n        [\n          {\"key\": \"@componentParent\", \n           \"refValue\": \"SayHello\"}, \n          {\"key\": \"@scheduledStartTime\", \n           \"stringValue\": \"2012-12-12T00:00:00\"}, \n          {\"key\": \"parent\", \n           \"refValue\": \"SayHello\"}, \n          {\"key\": \"@sphere\", \n           \"stringValue\": \"ATTEMPT\"}, \n          {\"key\": \"workerGroup\", \n           \"stringValue\": \"workerGroup\"}, \n          {\"key\": \"@instanceParent\", \n           \"refValue\": \"@SayHello_2012-12-12T00:00:00\"}, \n          {\"key\": \"type\", \n           \"stringValue\": \"ShellCommandActivity\"}, \n          {\"key\": \"@status\", \n           \"stringValue\": \"WAITING_FOR_RUNNER\"}, \n          {\"key\": \"@version\", \n           \"stringValue\": \"1\"}, \n          {\"key\": \"schedule\", \n           \"refValue\": \"Schedule\"}, \n          {\"key\": \"@actualStartTime\", \n           \"stringValue\": \"2012-12-13T01:40:50\"}, \n          {\"key\": \"command\", \n           \"stringValue\": \"echo hello\"}, \n          {\"key\": \"@scheduledEndTime\", \n           \"stringValue\": \"2012-12-12T01:00:00\"}, \n          {\"key\": \"@activeInstances\", \n           \"refValue\": \"@SayHello_2012-12-12T00:00:00\"}, \n          {\"key\": \"@pipelineId\", \n           \"stringValue\": \"df-0937003356ZJEXAMPLE\"}\n        ], \n       \"id\": \"@SayHello_2012-12-12T00:00:00_Attempt=1\", \n       \"name\": \"@SayHello_2012-12-12T00:00:00_Attempt=1\"}\n    }, \n   \"pipelineId\": \"df-0937003356ZJEXAMPLE\", \n   \"taskId\": \"2xaM4wRs5zOsIH+g9U3oVHfAgAlbSqU6XduncB0HhZ3xMnmvfePZPn4dIbYXHyWyRK+cU15MqDHwdrvftx/4wv+sNS4w34vJfv7QA9aOoOazW28l1GYSb2ZRR0N0paiQp+d1MhSKo10hOTWOsVK5S5Lnx9Qm6omFgXHyIvZRIvTlrQMpr1xuUrflyGOfbFOGpOLpvPE172MYdqpZKnbSS4TcuqgQKSWV2833fEubI57DPOP7ghWa2TcYeSIv4pdLYG53fTuwfbnbdc98g2LNUQzSVhSnt7BoqyNwht2aQ6b/UHg9A80+KVpuXuqmz3m1MXwHFgxjdmuesXNOrrlGpeLCcRWD+aGo0RN1NqhQRzNAig8V4GlaPTQzMsRCljKqvrIyAoP3Tt2XEGsHkkQo12rEX8Z90957XX2qKRwhruwYzqGkSLWjINoLdAxUJdpRXRc5DJTrBd3D5mdzn7kY1l7NEh4kFHJDt3Cx4Z3Mk8MYCACyCk/CEyy9DwuPi66cLz0NBcgbCM5LKjTBOwo1m+am+pvM1kSposE9FPP1+RFGb8k6jQBTJx3TRz1yKilnGXQTZ5xvdOFpJrklIT0OXP1MG3+auM9FlJA+1dX90QoNJE5z7axmK//MOGXUdkqFe2kiDkorqjxwDvc0Js9pVKfKvAmW8YqUbmI9l0ERpWCXXnLVHNmPWz3jaPY+OBAmuJWDmxB/Z8p94aEDg4BVXQ7LvsKQ3DLYhaB7yJ390CJT+i0mm+EBqY60V6YikPSWDFrYQ/NPi2b1DgE19mX8zHqw8qprIl4yh1Ckx2Iige4En/N5ktOoIxnASxAw/TzcE2skxdw5KlHDF+UTj71m16CR/dIaKlXijlfNlNzUBo/bNSadCQn3G5NoO501wPKI:XO50TgDNyo8EXAMPLE/g==:1\"}\n}\n         \n            </response>\n        </examples>"
    },
    "PutPipelineDefinition":{
      "name":"PutPipelineDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"PutPipelineDefinitionInput",
        "documentation":"<p>The input of the <a>PutPipelineDefinition</a> action.</p>"
      },
      "output":{
        "shape":"PutPipelineDefinitionOutput",
        "documentation":"<p>Contains the output of the <a>PutPipelineDefinition</a> action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        },
        {
          "shape":"PipelineNotFoundException",
          "exception":true,
          "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
        },
        {
          "shape":"PipelineDeletedException",
          "exception":true,
          "documentation":"<p>The specified pipeline has been deleted.</p>"
        }
      ],
      "documentation":"<p>Adds tasks, schedules, and preconditions that control the behavior of the pipeline. You can use PutPipelineDefinition to populate a new pipeline.\n        </p>\n        <p>\n            <a>PutPipelineDefinition</a> also validates the configuration as it adds it to the pipeline. Changes to the pipeline are saved unless one of the following three validation errors exists in the pipeline.\n            <ol>\n                <li>An object is missing a name or identifier field.</li>\n                <li>A string or reference field is empty.</li>\n                <li>The number of objects in the pipeline exceeds the maximum allowed objects.</li>\n            </ol>\n        </p>\n        <p>\n            Pipeline object definitions are passed to the <a>PutPipelineDefinition</a> action and returned by the <a>GetPipelineDefinition</a> action. \n        </p>\n        <examples>\n            <example>\n                <name>Example 1</name>\n                <description>\n                    This example sets an valid pipeline configuration and returns success.\n                </description>\n            <request>\n                \nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.PutPipelineDefinition\nContent-Length: 914\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-0937003356ZJEXAMPLE\",\n \"pipelineObjects\": \n  [\n   {\"id\": \"Default\",\n     \"name\": \"Default\",\n     \"fields\": \n      [\n        {\"key\": \"workerGroup\", \n         \"stringValue\": \"workerGroup\"}\n      ]\n    }, \n    {\"id\": \"Schedule\",\n     \"name\": \"Schedule\",\n     \"fields\": \n      [\n       {\"key\": \"startDateTime\", \n         \"stringValue\": \"2012-12-12T00:00:00\"}, \n        {\"key\": \"type\", \n         \"stringValue\": \"Schedule\"}, \n        {\"key\": \"period\", \n         \"stringValue\": \"1 hour\"}, \n        {\"key\": \"endDateTime\", \n         \"stringValue\": \"2012-12-21T18:00:00\"}\n      ]\n    },\n    {\"id\": \"SayHello\",\n     \"name\": \"SayHello\",\n     \"fields\": \n      [\n        {\"key\": \"type\", \n         \"stringValue\": \"ShellCommandActivity\"},\n        {\"key\": \"command\", \n         \"stringValue\": \"echo hello\"},\n        {\"key\": \"parent\", \n         \"refValue\": \"Default\"},\n        {\"key\": \"schedule\", \n         \"refValue\": \"Schedule\"}\n      ]\n    }\n  ]\n}\n                \n            </request>\n            <response>\n                \nHTTP/1.1 200 \nx-amzn-RequestId: f74afc14-0754-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 18\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"errored\": false}\n\n                \n            </response>\n            </example>\n            <example>\n                <name>Example 2</name>\n                <description>\n                    This example sets an invalid pipeline configuration (the value for <code>workerGroup</code> is an empty string) and returns an error message.\n                </description>\n                <request>\n                    \nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.PutPipelineDefinition\nContent-Length: 903\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\",\n \"pipelineObjects\": \n  [\n    {\"id\": \"Default\",\n     \"name\": \"Default\",\n     \"fields\": \n      [\n        {\"key\": \"workerGroup\", \n         \"stringValue\": \"\"}\n      ]\n    }, \n    {\"id\": \"Schedule\",\n     \"name\": \"Schedule\",\n     \"fields\": \n      [\n       {\"key\": \"startDateTime\", \n         \"stringValue\": \"2012-09-25T17:00:00\"}, \n        {\"key\": \"type\", \n         \"stringValue\": \"Schedule\"}, \n        {\"key\": \"period\", \n         \"stringValue\": \"1 hour\"}, \n        {\"key\": \"endDateTime\", \n         \"stringValue\": \"2012-09-25T18:00:00\"}\n      ]\n    },\n    {\"id\": \"SayHello\",\n     \"name\": \"SayHello\",\n     \"fields\": \n      [\n        {\"key\": \"type\", \n         \"stringValue\": \"ShellCommandActivity\"},\n        {\"key\": \"command\", \n         \"stringValue\": \"echo hello\"},\n        {\"key\": \"parent\", \n         \"refValue\": \"Default\"},\n        {\"key\": \"schedule\", \n         \"refValue\": \"Schedule\"}\n \n      ]\n    }\n  ]\n}\n                                    \n                </request>\n                <response>\n                    \nHTTP/1.1 200 \nx-amzn-RequestId: f74afc14-0754-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 18\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"__type\": \"com.amazon.setl.webservice#InvalidRequestException\", \n \"message\": \"Pipeline definition has errors: Could not save the pipeline definition due to FATAL errors: [com.amazon.setl.webservice.ValidationError@108d7ea9] Please call Validate to validate your pipeline\"}\n\n                \n                </response>\n            </example>\n        </examples>"
    },
    "QueryObjects":{
      "name":"QueryObjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"QueryObjectsInput",
        "documentation":"<p>The input for the <a>QueryObjects</a> action.</p>"
      },
      "output":{
        "shape":"QueryObjectsOutput",
        "documentation":"<p>Contains the output from the <a>QueryObjects</a> action.</p>"
      },
      "errors":[
        {
          "shape":"PipelineNotFoundException",
          "exception":true,
          "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
        },
        {
          "shape":"PipelineDeletedException",
          "exception":true,
          "documentation":"<p>The specified pipeline has been deleted.</p>"
        },
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        }
      ],
      "documentation":"<p>Queries a pipeline for the names of objects that match a specified set of conditions.</p>\n        \n        <p>The objects returned by <a>QueryObjects</a> are paginated and then filtered by the value you set for query. This means the action may return an empty result set with a value set for marker. If <code>HasMoreResults</code> is set to <code>True</code>, you should continue to call <a>QueryObjects</a>, passing in the returned value for marker, until <code>HasMoreResults</code> returns <code>False</code>.</p>\n\n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.QueryObjects\nContent-Length: 123\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\",\n \"query\": \n  {\"selectors\": \n    [\n    ]\n  },\n \"sphere\": \"PO\",\n \"marker\": \"\",\n \"limit\": 10}\n\n            </request>\n            \n           \n            <response>\n\nx-amzn-RequestId: 14d704c1-0775-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 72\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"hasMoreResults\": false, \n \"ids\": \n  [\"@SayHello_1_2012-09-25T17:00:00\"]\n}\n         </response>\n        </examples>"
    },
    "ReportTaskProgress":{
      "name":"ReportTaskProgress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ReportTaskProgressInput",
        "documentation":"<p>The input for the ReportTaskProgress action.</p>"
      },
      "output":{
        "shape":"ReportTaskProgressOutput",
        "documentation":"<p>Contains the output from the ReportTaskProgress action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        },
        {
          "shape":"TaskNotFoundException",
          "exception":true,
          "documentation":"<p>The specified task was not found. </p>"
        },
        {
          "shape":"PipelineNotFoundException",
          "exception":true,
          "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
        },
        {
          "shape":"PipelineDeletedException",
          "exception":true,
          "documentation":"<p>The specified pipeline has been deleted.</p>"
        }
      ],
      "documentation":"<p>\n            Updates the AWS Data Pipeline service on the progress of the calling task runner. When the task runner is assigned a task, it should call ReportTaskProgress to acknowledge that it has the task within 2 minutes. If the web service does not recieve this acknowledgement within the 2 minute window, it will assign the task in a subsequent <a>PollForTask</a> call. After this initial acknowledgement, the task runner only needs to report progress every 15 minutes to maintain its ownership of the task. You can change this reporting time from 15 minutes by specifying a <code>reportProgressTimeout</code> field in your pipeline.\n            \n            \n            \n            If a task runner does not report its status after 5 minutes, AWS Data Pipeline will assume that the task runner is unable to process the task and will reassign the task in a subsequent response to <a>PollForTask</a>. task runners should call <a>ReportTaskProgress</a> every 60 seconds.\n        </p>\n        \n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.ReportTaskProgress\nContent-Length: 832\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"taskId\": \"aaGgHT4LuH0T0Y0oLrJRjas5qH0d8cDPADxqq3tn+zCWGELkCdV2JprLreXm1oxeP5EFZHFLJ69kjSsLYE0iYHYBYVGBrB+E/pYq7ANEEeGJFnSBMRiXZVA+8UJ3OzcInvXeinqBmBaKwii7hnnKb/AXjXiNTXyxgydX1KAyg1AxkwBYG4cfPYMZbuEbQJFJvv5C/2+GVXz1w94nKYTeUeepwUOFOuRLS6JVtZoYwpF56E+Yfk1IcGpFOvCZ01B4Bkuu7x3J+MD/j6kJgZLAgbCJQtI3eiW3kdGmX0p0I2BdY1ZsX6b4UiSvM3OMj6NEHJCJL4E0ZfitnhCoe24Kvjo6C2hFbZq+ei/HPgSXBQMSagkr4vS9c0ChzxH2+LNYvec6bY4kymkaZI1dvOzmpa0FcnGf5AjSK4GpsViZ/ujz6zxFv81qBXzjF0/4M1775rjV1VUdyKaixiA/sJiACNezqZqETidp8d24BDPRhGsj6pBCrnelqGFrk/gXEXUsJ+xwMifRC8UVwiKekpAvHUywVk7Ku4jH/n3i2VoLRP6FXwpUbelu34iiZ9czpXyLtyPKwxa87dlrnRVURwkcVjOt2Mcrcaqe+cbWHvNRhyrPkkdfSF3ac8/wfgVbXvLEB2k9mKc67aD9rvdc1PKX09Tk8BKklsMTpZ3TRCd4NzQlJKigMe8Jat9+1tKj4Ole5ZzW6uyTu2s2iFjEV8KXu4MaiRJyNKCdKeGhhZWY37Qk4NBK4Ppgu+C6Y41dpfOh288SLDEVx0/UySlqOEdhba7c6BiPp5r3hKj3mk9lFy5OYp1aoGLeeFmjXveTnPdf2gkWqXXg7AUbJ7jEs1F0lKZQg4szep2gcKyAJXgvXLfJJHcha8Lfb/Ee7wYmyOcAaRpDBoFNSbtoVXar46teIrpho+ZDvynUXvU0grHWGOk=:wn3SgymHZM99bEXAMPLE\",\n \"fields\": \n  [\n    {\"key\": \"percentComplete\",\n     \"stringValue\": \"50\"}\n  ]\n}\n\n            </request>\n            \n            <response>\n\nx-amzn-RequestId: 640bd023-0775-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 18\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"canceled\": false}\n         \n</response>\n        </examples>"
    },
    "ReportTaskRunnerHeartbeat":{
      "name":"ReportTaskRunnerHeartbeat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ReportTaskRunnerHeartbeatInput",
        "documentation":"<p>The input for the ReportTaskRunnerHeartbeat action.</p>"
      },
      "output":{
        "shape":"ReportTaskRunnerHeartbeatOutput",
        "documentation":"<p>Contains the output from the <a>ReportTaskRunnerHeartbeat</a> action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        }
      ],
      "documentation":"<p>Task runners call <a>ReportTaskRunnerHeartbeat</a> every 15 minutes to indicate that they are operational. In the case of AWS Data Pipeline Task Runner launched on a resource managed by AWS Data Pipeline, the web service can use this call to detect when the task runner application has failed and restart a new instance.</p>\n        \n        <examples>\n            <request>           \n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.ReportTaskRunnerHeartbeat\nContent-Length: 84\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"taskrunnerId\": \"1234567890\",\n \"workerGroup\": \"wg-12345\",\n \"hostname\": \"example.com\"}\n\n            </request>\n            \n            <response>\n\nStatus:\nx-amzn-RequestId: b3104dc5-0734-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 20\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"terminate\": false}\n         \n            </response>\n        </examples>"
    },
    "SetStatus":{
      "name":"SetStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SetStatusInput",
        "documentation":"<p>The input to the <a>SetStatus</a> action.</p>"
      },
      "errors":[
        {
          "shape":"PipelineNotFoundException",
          "exception":true,
          "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
        },
        {
          "shape":"PipelineDeletedException",
          "exception":true,
          "documentation":"<p>The specified pipeline has been deleted.</p>"
        },
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        }
      ],
      "documentation":"<p>Requests that the status of an array of physical or logical pipeline objects be updated in the pipeline. This update may not occur immediately, but is eventually consistent. The status that can be set depends on the type of object.</p>\n        \n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.SetStatus\nContent-Length: 100\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-0634701J7KEXAMPLE\", \n \"objectIds\": \n  [\"o-08600941GHJWMBR9E2\"], \n \"status\": \"pause\"}\n\n            </request>\n            \n            <response>\n\nx-amzn-RequestId: e83b8ab7-076a-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 0\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\nUnexpected response: 200, OK, undefined\n        \n            </response>\n        </examples>"
    },
    "SetTaskStatus":{
      "name":"SetTaskStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SetTaskStatusInput",
        "documentation":"<p>The input of the SetTaskStatus action.</p>"
      },
      "output":{
        "shape":"SetTaskStatusOutput",
        "documentation":"<p>The output from the <a>SetTaskStatus</a> action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"TaskNotFoundException",
          "exception":true,
          "documentation":"<p>The specified task was not found. </p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        },
        {
          "shape":"PipelineNotFoundException",
          "exception":true,
          "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
        },
        {
          "shape":"PipelineDeletedException",
          "exception":true,
          "documentation":"<p>The specified pipeline has been deleted.</p>"
        }
      ],
      "documentation":"<p>\n            Notifies AWS Data Pipeline that a task is completed and provides information about the final status. The task runner calls this action regardless of whether the task was sucessful. The task runner does not need to call <a>SetTaskStatus</a> for tasks that are canceled by the web service during a call to <a>ReportTaskProgress</a>.\n        </p>\n        \n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.SetTaskStatus\nContent-Length: 847\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"taskId\": \"aaGgHT4LuH0T0Y0oLrJRjas5qH0d8cDPADxqq3tn+zCWGELkCdV2JprLreXm1oxeP5EFZHFLJ69kjSsLYE0iYHYBYVGBrB+E/pYq7ANEEeGJFnSBMRiXZVA+8UJ3OzcInvXeinqBmBaKwii7hnnKb/AXjXiNTXyxgydX1KAyg1AxkwBYG4cfPYMZbuEbQJFJvv5C/2+GVXz1w94nKYTeUeepwUOFOuRLS6JVtZoYwpF56E+Yfk1IcGpFOvCZ01B4Bkuu7x3J+MD/j6kJgZLAgbCJQtI3eiW3kdGmX0p0I2BdY1ZsX6b4UiSvM3OMj6NEHJCJL4E0ZfitnhCoe24Kvjo6C2hFbZq+ei/HPgSXBQMSagkr4vS9c0ChzxH2+LNYvec6bY4kymkaZI1dvOzmpa0FcnGf5AjSK4GpsViZ/ujz6zxFv81qBXzjF0/4M1775rjV1VUdyKaixiA/sJiACNezqZqETidp8d24BDPRhGsj6pBCrnelqGFrk/gXEXUsJ+xwMifRC8UVwiKekpAvHUywVk7Ku4jH/n3i2VoLRP6FXwpUbelu34iiZ9czpXyLtyPKwxa87dlrnRVURwkcVjOt2Mcrcaqe+cbWHvNRhyrPkkdfSF3ac8/wfgVbXvLEB2k9mKc67aD9rvdc1PKX09Tk8BKklsMTpZ3TRCd4NzQlJKigMe8Jat9+1tKj4Ole5ZzW6uyTu2s2iFjEV8KXu4MaiRJyNKCdKeGhhZWY37Qk4NBK4Ppgu+C6Y41dpfOh288SLDEVx0/UySlqOEdhba7c6BiPp5r3hKj3mk9lFy5OYp1aoGLeeFmjXveTnPdf2gkWqXXg7AUbJ7jEs1F0lKZQg4szep2gcKyAJXgvXLfJJHcha8Lfb/Ee7wYmyOcAaRpDBoFNSbtoVXar46teIrpho+ZDvynUXvU0grHWGOk=:wn3SgymHZM99bEXAMPLE\",\n \"taskStatus\": \"FINISHED\"}\n \n            </request>\n            \n            <response>\n\nx-amzn-RequestId: 8c8deb53-0788-11e2-af9c-6bc7a6be6qr8 \nContent-Type: application/x-amz-json-1.1\nContent-Length: 0\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{}\n         \n            </response>\n        </examples>"
    },
    "ValidatePipelineDefinition":{
      "name":"ValidatePipelineDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ValidatePipelineDefinitionInput",
        "documentation":"<p>The input of the <a>ValidatePipelineDefinition</a> action.</p>"
      },
      "output":{
        "shape":"ValidatePipelineDefinitionOutput",
        "documentation":"<p>Contains the output from the <a>ValidatePipelineDefinition</a> action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceError",
          "exception":true,
          "fault":true,
          "documentation":"<p>An internal service error occurred.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
        },
        {
          "shape":"PipelineNotFoundException",
          "exception":true,
          "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
        },
        {
          "shape":"PipelineDeletedException",
          "exception":true,
          "documentation":"<p>The specified pipeline has been deleted.</p>"
        }
      ],
      "documentation":"<p>Tests the pipeline definition with a set of validation checks to ensure that it is well formed and can run without error. </p>\n\n        <examples>\n            <example>\n                <name>Example 1</name>\n                <description>\n                    This example sets an valid pipeline configuration and returns success.\n                </description>\n            <request>\n                \nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.ValidatePipelineDefinition\nContent-Length: 936\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\",\n \"pipelineObjects\": \n  [\n    {\"id\": \"Default\",\n     \"name\": \"Default\",\n     \"fields\": \n      [\n        {\"key\": \"workerGroup\", \n         \"stringValue\": \"MyworkerGroup\"}\n      ]\n    }, \n    {\"id\": \"Schedule\",\n     \"name\": \"Schedule\",\n     \"fields\": \n      [\n       {\"key\": \"startDateTime\", \n         \"stringValue\": \"2012-09-25T17:00:00\"}, \n        {\"key\": \"type\", \n         \"stringValue\": \"Schedule\"}, \n        {\"key\": \"period\", \n         \"stringValue\": \"1 hour\"}, \n        {\"key\": \"endDateTime\", \n         \"stringValue\": \"2012-09-25T18:00:00\"}\n      ]\n    },\n    {\"id\": \"SayHello\",\n     \"name\": \"SayHello\",\n     \"fields\": \n      [\n        {\"key\": \"type\", \n         \"stringValue\": \"ShellCommandActivity\"},\n        {\"key\": \"command\", \n         \"stringValue\": \"echo hello\"},\n        {\"key\": \"parent\", \n         \"refValue\": \"Default\"},\n        {\"key\": \"schedule\", \n         \"refValue\": \"Schedule\"}\n \n      ]\n    }\n  ]\n}\n                \n            </request>\n            <response>\n                \nx-amzn-RequestId: 92c9f347-0776-11e2-8a14-21bb8a1f50ef\nContent-Type: application/x-amz-json-1.1\nContent-Length: 18\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"errored\": false}\n                \n            </response>\n            </example>\n            <example>\n             <name>Example 2</name>\n            <description>\n                This example sets an invalid pipeline configuration and returns the associated set of validation errors.\n            </description>\n            \n            <request>\n                \nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.ValidatePipelineDefinition\nContent-Length: 903\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\",\n \"pipelineObjects\": \n  [\n    {\"id\": \"Default\",\n     \"name\": \"Default\",\n     \"fields\": \n      [\n        {\"key\": \"workerGroup\", \n         \"stringValue\": \"MyworkerGroup\"}\n      ]\n    }, \n    {\"id\": \"Schedule\",\n     \"name\": \"Schedule\",\n     \"fields\": \n      [\n       {\"key\": \"startDateTime\", \n         \"stringValue\": \"bad-time\"}, \n        {\"key\": \"type\", \n         \"stringValue\": \"Schedule\"}, \n        {\"key\": \"period\", \n         \"stringValue\": \"1 hour\"}, \n        {\"key\": \"endDateTime\", \n         \"stringValue\": \"2012-09-25T18:00:00\"}\n      ]\n    },\n    {\"id\": \"SayHello\",\n     \"name\": \"SayHello\",\n     \"fields\": \n      [\n        {\"key\": \"type\", \n         \"stringValue\": \"ShellCommandActivity\"},\n        {\"key\": \"command\", \n         \"stringValue\": \"echo hello\"},\n        {\"key\": \"parent\", \n         \"refValue\": \"Default\"},\n        {\"key\": \"schedule\", \n         \"refValue\": \"Schedule\"}\n \n      ]\n    }\n  ]\n}\n                \n            </request>\n            <response>\n                \nx-amzn-RequestId: 496a1f5a-0e6a-11e2-a61c-bd6312c92ddd\nContent-Type: application/x-amz-json-1.1\nContent-Length: 278\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"errored\": true, \n \"validationErrors\": \n  [\n    {\"errors\": \n      [\"INVALID_FIELD_VALUE:  'startDateTime' value must be a literal datetime value.\"], \n     \"id\": \"Schedule\"}\n  ]\n}\n                \n            </response>\n                </example>\n        </examples>"
    }
  },
  "shapes":{
    "ActivatePipelineInput":{
      "type":"structure",
      "required":["pipelineId"],
      "members":{
        "pipelineId":{
          "shape":"id",
          "documentation":"<p>The identifier of the pipeline to activate. </p>"
        }
      },
      "documentation":"<p>The input of the ActivatePipeline action.</p>"
    },
    "ActivatePipelineOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Contains the output from the <a>ActivatePipeline</a> action.</p>"
    },
    "CreatePipelineInput":{
      "type":"structure",
      "required":[
        "name",
        "uniqueId"
      ],
      "members":{
        "name":{
          "shape":"id",
          "documentation":"<p>\n            The name of the new pipeline. You can use the same name for multiple pipelines associated with your AWS account, because AWS Data Pipeline assigns each new pipeline a unique pipeline identifier.\n        </p>"
        },
        "uniqueId":{
          "shape":"id",
          "documentation":"<p>\n            A unique identifier that you specify. This identifier is not the same as the pipeline identifier assigned by AWS Data Pipeline. You are responsible for defining the format and ensuring the uniqueness of this identifier. You use this parameter to ensure idempotency during repeated calls to <a>CreatePipeline</a>. For example, if the first call to <a>CreatePipeline</a> does not return a clear success, you can pass in the same unique identifier and pipeline name combination on a subsequent call to <a>CreatePipeline</a>. <a>CreatePipeline</a> ensures that if a pipeline already exists with the same name and unique identifier, a new pipeline will not be created. Instead, you'll receive the pipeline identifier from the previous attempt. The uniqueness of the name and unique identifier combination is scoped to the AWS account or IAM user credentials.\n        </p>"
        },
        "description":{
          "shape":"string",
          "documentation":"<p>The description of the new pipeline.</p>"
        }
      },
      "documentation":"<p>The input for the <a>CreatePipeline</a> action.</p>"
    },
    "CreatePipelineOutput":{
      "type":"structure",
      "required":["pipelineId"],
      "members":{
        "pipelineId":{
          "shape":"id",
          "documentation":"<p>The ID that AWS Data Pipeline assigns the newly created pipeline. The ID is a string of the form: df-06372391ZG65EXAMPLE.</p>"
        }
      },
      "documentation":"<p>Contains the output from the <a>CreatePipeline</a> action.</p>"
    },
    "DeletePipelineInput":{
      "type":"structure",
      "required":["pipelineId"],
      "members":{
        "pipelineId":{
          "shape":"id",
          "documentation":"<p>The identifier of the pipeline to be deleted.</p>"
        }
      },
      "documentation":"<p>The input for the <a>DeletePipeline</a> action.</p>"
    },
    "DescribeObjectsInput":{
      "type":"structure",
      "required":[
        "pipelineId",
        "objectIds"
      ],
      "members":{
        "pipelineId":{
          "shape":"id",
          "documentation":"<p>Identifier of the pipeline that contains the object definitions.</p>"
        },
        "objectIds":{
          "shape":"idList",
          "documentation":"<p>Identifiers of the pipeline objects that contain the definitions to be described. You can pass as many as 25 identifiers in a single call to DescribeObjects.</p>"
        },
        "evaluateExpressions":{
          "shape":"boolean",
          "documentation":"<p>Indicates whether any expressions in the object should be evaluated when the object descriptions are returned.</p>"
        },
        "marker":{
          "shape":"string",
          "documentation":"<p>The starting point for the results to be returned. The first time you call <a>DescribeObjects</a>, this value should be empty. As long as the action returns <code>HasMoreResults</code> as <code>True</code>, you can call <a>DescribeObjects</a> again and pass the marker value from the response to retrieve the next set of results.</p>"
        }
      },
      "documentation":"<p> The <a>DescribeObjects</a> action returns the object definitions for a specified set of object identifiers. You can filter the results to named fields and used markers to page through the results. </p>"
    },
    "DescribeObjectsOutput":{
      "type":"structure",
      "required":["pipelineObjects"],
      "members":{
        "pipelineObjects":{
          "shape":"PipelineObjectList",
          "documentation":"<p>An array of object definitions that are returned by the call to <a>DescribeObjects</a>.</p>"
        },
        "marker":{
          "shape":"string",
          "documentation":"<p>\n            The starting point for the next page of results. To view the next page of results, call <a>DescribeObjects</a> again with this marker value.\n        </p>"
        },
        "hasMoreResults":{
          "shape":"boolean",
          "documentation":"<p>If <code>True</code>, there are more pages of results to return.</p>"
        }
      },
      "documentation":"<p>If <code>True</code>, there are more results that can be returned in another call to <a>DescribeObjects</a>.</p>"
    },
    "DescribePipelinesInput":{
      "type":"structure",
      "required":["pipelineIds"],
      "members":{
        "pipelineIds":{
          "shape":"idList",
          "documentation":"<p>Identifiers of the pipelines to describe. You can pass as many as 25 identifiers in a single call to <a>DescribePipelines</a>. You can obtain pipeline identifiers by calling <a>ListPipelines</a>.</p>"
        }
      },
      "documentation":"<p>The input to the <a>DescribePipelines</a> action.</p>"
    },
    "DescribePipelinesOutput":{
      "type":"structure",
      "required":["pipelineDescriptionList"],
      "members":{
        "pipelineDescriptionList":{
          "shape":"PipelineDescriptionList",
          "documentation":"<p>An array of descriptions returned for the specified pipelines.</p>"
        }
      },
      "documentation":"<p>Contains the output from the <a>DescribePipelines</a> action.</p>"
    },
    "EvaluateExpressionInput":{
      "type":"structure",
      "required":[
        "pipelineId",
        "objectId",
        "expression"
      ],
      "members":{
        "pipelineId":{
          "shape":"id",
          "documentation":"<p>The identifier of the pipeline.</p>"
        },
        "objectId":{
          "shape":"id",
          "documentation":"<p>The identifier of the object.</p>"
        },
        "expression":{
          "shape":"longString",
          "documentation":"<p>The expression to evaluate.</p>"
        }
      },
      "documentation":"<p>The input for the <a>EvaluateExpression</a> action.</p>"
    },
    "EvaluateExpressionOutput":{
      "type":"structure",
      "required":["evaluatedExpression"],
      "members":{
        "evaluatedExpression":{
          "shape":"longString",
          "documentation":"<p>The evaluated expression.</p>"
        }
      },
      "documentation":"<p>Contains the output from the <a>EvaluateExpression</a> action.</p>"
    },
    "Field":{
      "type":"structure",
      "required":["key"],
      "members":{
        "key":{
          "shape":"fieldNameString",
          "documentation":"<p>The field identifier.</p>"
        },
        "stringValue":{
          "shape":"fieldStringValue",
          "documentation":"<p>The field value, expressed as a String.</p>"
        },
        "refValue":{
          "shape":"fieldNameString",
          "documentation":"<p>The field value, expressed as the identifier of another object.</p>"
        }
      },
      "documentation":"<p>A key-value pair that describes a property of a pipeline object. The value is specified as either a string value (<code>StringValue</code>) or a reference to another object (<code>RefValue</code>) but not as both.</p>"
    },
    "GetPipelineDefinitionInput":{
      "type":"structure",
      "required":["pipelineId"],
      "members":{
        "pipelineId":{
          "shape":"id",
          "documentation":"<p>The identifier of the pipeline.</p>"
        },
        "version":{
          "shape":"string",
          "documentation":"<p>The version of the pipeline definition to retrieve. This parameter accepts the values <code>latest</code> (default) and <code>active</code>. Where <code>latest</code> indicates the last definition saved to the pipeline and <code>active</code> indicates the last definition of the pipeline that was activated.</p>"
        }
      },
      "documentation":"<p>The input for the <a>GetPipelineDefinition</a> action.</p>"
    },
    "GetPipelineDefinitionOutput":{
      "type":"structure",
      "members":{
        "pipelineObjects":{
          "shape":"PipelineObjectList",
          "documentation":"<p>An array of objects defined in the pipeline.</p>"
        }
      },
      "documentation":"<p>Contains the output from the <a>GetPipelineDefinition</a> action.</p>"
    },
    "InstanceIdentity":{
      "type":"structure",
      "members":{
        "document":{
          "shape":"string",
          "documentation":"<p>A description of an Amazon EC2 instance that is generated when the instance is launched and exposed to the instance via the instance metadata service in the form of a JSON representation of an object.</p>"
        },
        "signature":{
          "shape":"string",
          "documentation":"<p>A signature which can be used to verify the accuracy and authenticity of the information provided in the instance identity document.</p>"
        }
      },
      "documentation":"<p><p>Identity information for the Amazon EC2 instance that is hosting the task runner. You can get this value by calling a metadata URI from the EC2 instance. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AESDG-chapter-instancedata.html\">Instance Metadata</a> in the <i>Amazon Elastic Compute Cloud User Guide.</i> Passing in this value proves that your task runner is running on an EC2 instance, and ensures the proper AWS Data Pipeline service charges are applied to your pipeline.</p></p>"
    },
    "InternalServiceError":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>Description of the error message.</p>"
        }
      },
      "exception":true,
      "fault":true,
      "documentation":"<p>An internal service error occurred.</p>"
    },
    "InvalidRequestException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>Description of the error message.</p>"
        }
      },
      "exception":true,
      "documentation":"<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>"
    },
    "ListPipelinesInput":{
      "type":"structure",
      "members":{
        "marker":{
          "shape":"string",
          "documentation":"<p>The starting point for the results to be returned. The first time you call <a>ListPipelines</a>, this value should be empty. As long as the action returns <code>HasMoreResults</code> as <code>True</code>, you can call <a>ListPipelines</a> again and pass the marker value from the response to retrieve the next set of results.</p>"
        }
      },
      "documentation":"<p>The input to the <a>ListPipelines</a> action.</p>"
    },
    "ListPipelinesOutput":{
      "type":"structure",
      "required":["pipelineIdList"],
      "members":{
        "pipelineIdList":{
          "shape":"pipelineList",
          "documentation":"<p>\n            A list of all the pipeline identifiers that your account has permission to access.  If you require additional information about the pipelines, you can use these identifiers to call <a>DescribePipelines</a> and <a>GetPipelineDefinition</a>.\n        </p>"
        },
        "marker":{
          "shape":"string",
          "documentation":"<p>If not null, indicates the starting point for the set of pipeline identifiers that the next call to <a>ListPipelines</a> will retrieve. If null, there are no more pipeline identifiers.</p>"
        },
        "hasMoreResults":{
          "shape":"boolean",
          "documentation":"<p>If <code>True</code>, there are more results that can be obtained by a subsequent call to <a>ListPipelines</a>.</p>"
        }
      },
      "documentation":"<p>Contains the output from the <a>ListPipelines</a> action.</p>"
    },
    "Operator":{
      "type":"structure",
      "members":{
        "type":{
          "shape":"OperatorType",
          "documentation":"<p>\n            The logical operation to be performed: equal (<code>EQ</code>), equal reference (<code>REF_EQ</code>), less than or equal (<code>LE</code>), greater than or equal (<code>GE</code>), or between (<code>BETWEEN</code>). Equal reference (<code>REF_EQ</code>) can be used only with reference fields. The other comparison types can be used only with String fields. The comparison types you can use apply only to certain object fields, as detailed below.  \n        </p>\n        <p>\n          The comparison operators EQ and REF_EQ act on the following fields:\n        </p>\n        <ul>\n            <li>name</li>\n            <li>@sphere</li>\n            <li>parent</li>\n            <li>@componentParent</li>\n            <li>@instanceParent</li>\n            <li>@status</li>\n            <li>@scheduledStartTime</li>\n            <li>@scheduledEndTime</li>\n            <li>@actualStartTime</li>\n            <li>@actualEndTime</li>\n        </ul>\n        \n        <p>\n            The comparison operators <code>GE</code>, <code>LE</code>, and <code>BETWEEN</code> act on the following fields:\n        </p>\n        <ul>\n            <li>@scheduledStartTime</li>\n            <li>@scheduledEndTime</li>\n            <li>@actualStartTime</li>\n            <li>@actualEndTime</li>\n        </ul>\n        <p>Note that fields beginning with the at sign (@) are read-only and set by the web service. When you name fields, you should choose names containing only alpha-numeric values, as symbols may be reserved by AWS Data Pipeline. User-defined fields that you add to a pipeline should prefix their name with the string \"my\".</p>"
        },
        "values":{
          "shape":"stringList",
          "documentation":"<p>The value that the actual field value will be compared with.</p>"
        }
      },
      "documentation":"<p>Contains a logical operation for comparing the value of a field with a specified value.</p>"
    },
    "OperatorType":{
      "type":"string",
      "enum":[
        "EQ",
        "REF_EQ",
        "LE",
        "GE",
        "BETWEEN"
      ]
    },
    "PipelineDeletedException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>Description of the error message.</p>"
        }
      },
      "exception":true,
      "documentation":"<p>The specified pipeline has been deleted.</p>"
    },
    "PipelineDescription":{
      "type":"structure",
      "required":[
        "pipelineId",
        "name",
        "fields"
      ],
      "members":{
        "pipelineId":{
          "shape":"id",
          "documentation":"<p>The pipeline identifier that was assigned by AWS Data Pipeline. This is a string of the form <code>df-297EG78HU43EEXAMPLE</code>.</p>"
        },
        "name":{
          "shape":"id",
          "documentation":"<p>Name of the pipeline.</p>"
        },
        "fields":{
          "shape":"fieldList",
          "documentation":"<p>A list of read-only fields that contain metadata about the pipeline: @userId, @accountId, and @pipelineState.</p>"
        },
        "description":{
          "shape":"string",
          "documentation":"<p>Description of the pipeline.</p>"
        }
      },
      "documentation":"<p>Contains pipeline metadata.</p>"
    },
    "PipelineDescriptionList":{
      "type":"list",
      "member":{"shape":"PipelineDescription"}
    },
    "PipelineIdName":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"id",
          "documentation":"<p>Identifier of the pipeline that was assigned by AWS Data Pipeline. This is a string of the form <code>df-297EG78HU43EEXAMPLE</code>.</p>"
        },
        "name":{
          "shape":"id",
          "documentation":"<p>Name of the pipeline.</p>"
        }
      },
      "documentation":"<p>Contains the name and identifier of a pipeline.</p>"
    },
    "PipelineNotFoundException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>Description of the error message.</p>"
        }
      },
      "exception":true,
      "documentation":"<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>"
    },
    "PipelineObject":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "fields"
      ],
      "members":{
        "id":{
          "shape":"id",
          "documentation":"<p>Identifier of the object.</p>"
        },
        "name":{
          "shape":"id",
          "documentation":"<p>Name of the object.</p>"
        },
        "fields":{
          "shape":"fieldList",
          "documentation":"<p>Key-value pairs that define the properties of the object.</p>"
        }
      },
      "documentation":"<p>Contains information about a pipeline object. This can be a logical, physical, or physical attempt pipeline object. The complete set of components of a pipeline defines the pipeline.</p>"
    },
    "PipelineObjectList":{
      "type":"list",
      "member":{"shape":"PipelineObject"}
    },
    "PipelineObjectMap":{
      "type":"map",
      "key":{"shape":"id"},
      "value":{"shape":"PipelineObject"}
    },
    "PollForTaskInput":{
      "type":"structure",
      "required":["workerGroup"],
      "members":{
        "workerGroup":{
          "shape":"string",
          "documentation":"<p>Indicates the type of task the task runner is configured to accept and process. The worker group is set as a field on objects in the pipeline when they are created. You can only specify a single value for <code>workerGroup</code> in the call to <a>PollForTask</a>. There are no wildcard values permitted in <code>workerGroup</code>, the string must be an exact, case-sensitive, match.\n        </p>"
        },
        "hostname":{
          "shape":"id",
          "documentation":"<p>The public DNS name of the calling task runner.</p>"
        },
        "instanceIdentity":{
          "shape":"InstanceIdentity",
          "documentation":"<p>Identity information for the Amazon EC2 instance that is hosting the task runner. You can get this value by calling the URI,  <code>http://169.254.169.254/latest/meta-data/instance-id</code>, from the EC2 instance. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AESDG-chapter-instancedata.html\">Instance Metadata</a> in the <i>Amazon Elastic Compute Cloud User Guide.</i> Passing in this value proves that your task runner is running on an EC2 instance, and ensures the proper AWS Data Pipeline service charges are applied to your pipeline.</p>"
        }
      },
      "documentation":"<p>The data type passed in as input to the PollForTask action.</p>"
    },
    "PollForTaskOutput":{
      "type":"structure",
      "members":{
        "taskObject":{
          "shape":"TaskObject",
          "documentation":"<p>An instance of <a>PollForTaskResult</a>, which contains an instance of <a>TaskObject</a>. The returned object contains all the information needed to complete the task that is being assigned to the task runner. One of the fields returned in this object is taskId, which contains an identifier for the task being assigned. The calling task runner  uses taskId in subsequent calls to <a>ReportTaskProgress</a> and <a>SetTaskStatus</a>.</p>"
        }
      },
      "documentation":"<p>Contains the output from the PollForTask action.</p>"
    },
    "PutPipelineDefinitionInput":{
      "type":"structure",
      "required":[
        "pipelineId",
        "pipelineObjects"
      ],
      "members":{
        "pipelineId":{
          "shape":"id",
          "documentation":"<p>The identifier of the pipeline to be configured.</p>"
        },
        "pipelineObjects":{
          "shape":"PipelineObjectList",
          "documentation":"<p>The objects that define the pipeline. These will overwrite the existing pipeline definition.</p>"
        }
      },
      "documentation":"<p>The input of the <a>PutPipelineDefinition</a> action.</p>"
    },
    "PutPipelineDefinitionOutput":{
      "type":"structure",
      "required":["errored"],
      "members":{
        "validationErrors":{
          "shape":"ValidationErrors",
          "documentation":"<p>A list of the validation errors that are associated with the objects defined in <code>pipelineObjects</code>.</p>"
        },
        "validationWarnings":{
          "shape":"ValidationWarnings",
          "documentation":"<p>A list of the validation warnings that are associated with the objects defined in <code>pipelineObjects</code>.</p>"
        },
        "errored":{
          "shape":"boolean",
          "documentation":"<p>If <code>True</code>, there were validation errors. If errored is <code>True</code>, the pipeline definition is stored but cannot be activated until you correct the pipeline and call <a>PutPipelineDefinition</a> to commit the corrected pipeline.</p>"
        }
      },
      "documentation":"<p>Contains the output of the <a>PutPipelineDefinition</a> action.</p>"
    },
    "Query":{
      "type":"structure",
      "members":{
        "selectors":{
          "shape":"SelectorList",
          "documentation":"<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>"
        }
      },
      "documentation":"<p>Defines the query to run against an object.</p>"
    },
    "QueryObjectsInput":{
      "type":"structure",
      "required":[
        "pipelineId",
        "sphere"
      ],
      "members":{
        "pipelineId":{
          "shape":"id",
          "documentation":"<p>Identifier of the pipeline to be queried for object names.</p>"
        },
        "query":{
          "shape":"Query",
          "documentation":"<p>\n            Query that defines the objects to be returned. The <a>Query</a> object can contain a maximum of ten selectors. \n            The conditions in the query are limited to top-level String fields in the object. \n            These filters can be applied to components, instances, and attempts. \n        </p>"
        },
        "sphere":{
          "shape":"string",
          "documentation":"<p>\n            Specifies whether the query applies to components or instances.\t\n            Allowable values: <code>COMPONENT</code>, <code>INSTANCE</code>, <code>ATTEMPT</code>.\n        </p>"
        },
        "marker":{
          "shape":"string",
          "documentation":"<p>\n            The starting point for the results to be returned. The first time you call <a>QueryObjects</a>, this value should be empty. As long as the action returns <code>HasMoreResults</code> as <code>True</code>, you can call <a>QueryObjects</a> again and pass the marker value from the response to retrieve the next set of results.\n        </p>"
        },
        "limit":{
          "shape":"int",
          "documentation":"<p>Specifies the maximum number of object names that <a>QueryObjects</a> will return in a single call. The default value is 100. </p>"
        }
      },
      "documentation":"<p>The input for the <a>QueryObjects</a> action.</p>"
    },
    "QueryObjectsOutput":{
      "type":"structure",
      "members":{
        "ids":{
          "shape":"idList",
          "documentation":"<p>A list of identifiers that match the query selectors.</p>"
        },
        "marker":{
          "shape":"string",
          "documentation":"<p>\n            The starting point for the results to be returned. As long as the action returns <code>HasMoreResults</code> as <code>True</code>, you can call <a>QueryObjects</a> again and pass the marker value from the response to retrieve the next set of results.\n        </p>"
        },
        "hasMoreResults":{
          "shape":"boolean",
          "documentation":"<p>If <code>True</code>, there are more results that can be obtained by a subsequent call to <a>QueryObjects</a>.</p>"
        }
      },
      "documentation":"<p>Contains the output from the <a>QueryObjects</a> action.</p>"
    },
    "ReportTaskProgressInput":{
      "type":"structure",
      "required":["taskId"],
      "members":{
        "taskId":{
          "shape":"taskId",
          "documentation":"<p>Identifier of the task assigned to the task runner. This value is provided in the <a>TaskObject</a> that the service returns with the response for the <a>PollForTask</a> action.</p>"
        }
      },
      "documentation":"<p>The input for the ReportTaskProgress action.</p>"
    },
    "ReportTaskProgressOutput":{
      "type":"structure",
      "required":["canceled"],
      "members":{
        "canceled":{
          "shape":"boolean",
          "documentation":"<p>If <code>True</code>, the calling task runner should cancel processing of the task. The task runner does not need to call <a>SetTaskStatus</a> for canceled tasks.</p>"
        }
      },
      "documentation":"<p>Contains the output from the ReportTaskProgress action.</p>"
    },
    "ReportTaskRunnerHeartbeatInput":{
      "type":"structure",
      "required":["taskrunnerId"],
      "members":{
        "taskrunnerId":{
          "shape":"id",
          "documentation":"<p>The identifier of the task runner. This value should be unique across your AWS account. In the case of AWS Data Pipeline Task Runner launched on a resource managed by AWS Data Pipeline, the web service provides a unique identifier when it launches the application. If you have written a custom task runner, you should assign a unique identifier for the task runner.</p>"
        },
        "workerGroup":{
          "shape":"string",
          "documentation":"<p>Indicates the type of task the task runner is configured to accept and process. The worker group is set as a field on objects in the pipeline when they are created. You can only specify a single value for <code>workerGroup</code> in the call to <a>ReportTaskRunnerHeartbeat</a>. There are no wildcard values permitted in <code>workerGroup</code>, the string must be an exact, case-sensitive, match.</p>"
        },
        "hostname":{
          "shape":"id",
          "documentation":"<p>The public DNS name of the calling task runner.</p>"
        }
      },
      "documentation":"<p>The input for the ReportTaskRunnerHeartbeat action.</p>"
    },
    "ReportTaskRunnerHeartbeatOutput":{
      "type":"structure",
      "required":["terminate"],
      "members":{
        "terminate":{
          "shape":"boolean",
          "documentation":"<p>Indicates whether the calling task runner should terminate. If <code>True</code>, the task runner that called <a>ReportTaskRunnerHeartbeat</a> should terminate. </p>"
        }
      },
      "documentation":"<p>Contains the output from the <a>ReportTaskRunnerHeartbeat</a> action.</p>"
    },
    "Selector":{
      "type":"structure",
      "members":{
        "fieldName":{
          "shape":"string",
          "documentation":"<p>The name of the field that the operator will be applied to. The field name is the \"key\" portion of the field definition in the pipeline definition syntax that is used by the AWS Data Pipeline API. If the field is not set on the object, the condition fails.</p>"
        },
        "operator":{"shape":"Operator"}
      },
      "documentation":"<p>A comparision that is used to determine whether a query should return this object.</p>"
    },
    "SelectorList":{
      "type":"list",
      "member":{"shape":"Selector"},
      "documentation":"<p>The list of Selectors that define queries on individual fields.</p>"
    },
    "SetStatusInput":{
      "type":"structure",
      "required":[
        "pipelineId",
        "objectIds",
        "status"
      ],
      "members":{
        "pipelineId":{
          "shape":"id",
          "documentation":"<p>Identifies the pipeline that contains the objects.</p>"
        },
        "objectIds":{
          "shape":"idList",
          "documentation":"<p>Identifies an array of objects. The corresponding objects can be either physical or components, but not a mix of both types.</p>"
        },
        "status":{
          "shape":"string",
          "documentation":"<p>Specifies the status to be set on all the objects in <code>objectIds</code>. For components, this can be either <code>PAUSE</code> or <code>RESUME</code>. For instances, this can be either <code>CANCEL</code>, <code>RERUN</code>, or <code>MARK_FINISHED</code>.</p>"
        }
      },
      "documentation":"<p>The input to the <a>SetStatus</a> action.</p>"
    },
    "SetTaskStatusInput":{
      "type":"structure",
      "required":[
        "taskId",
        "taskStatus"
      ],
      "members":{
        "taskId":{
          "shape":"taskId",
          "documentation":"<p>Identifies the task assigned to the task runner. This value is set in the <a>TaskObject</a> that is returned by the <a>PollForTask</a> action.</p>"
        },
        "taskStatus":{
          "shape":"TaskStatus",
          "documentation":"<p>If <code>FINISHED</code>, the task successfully completed. If <code>FAILED</code> the task ended unsuccessfully. The <code>FALSE</code> value is used by preconditions.</p>"
        },
        "errorId":{
          "shape":"string",
          "documentation":"<p>If an error occurred during the task, this value specifies an id value that represents the error. This value is set on the physical attempt object. It is used to display error information to the user. It should not start with string \"Service_\" which is reserved by the system.</p>"
        },
        "errorMessage":{
          "shape":"errorMessage",
          "documentation":"<p>If an error occurred during the task, this value specifies a text description of the error. This value is set on the physical attempt object. It is used to display error information to the user. The web service does not parse this value.</p>"
        },
        "errorStackTrace":{
          "shape":"string",
          "documentation":"<p>If an error occurred during the task, this value specifies the stack trace associated with the error. This value is set on the physical attempt object. It is used to display error information to the user. The web service does not parse this value.</p>"
        }
      },
      "documentation":"<p>The input of the SetTaskStatus action.</p>"
    },
    "SetTaskStatusOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The output from the <a>SetTaskStatus</a> action.</p>"
    },
    "TaskNotFoundException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>Description of the error message.</p>"
        }
      },
      "exception":true,
      "documentation":"<p>The specified task was not found. </p>"
    },
    "TaskObject":{
      "type":"structure",
      "members":{
        "taskId":{
          "shape":"taskId",
          "documentation":"<p>An internal identifier for the task. This ID is passed to the <a>SetTaskStatus</a> and <a>ReportTaskProgress</a> actions.</p>"
        },
        "pipelineId":{
          "shape":"id",
          "documentation":"<p>Identifier of the pipeline that provided the task.</p>"
        },
        "attemptId":{
          "shape":"id",
          "documentation":"<p>Identifier of the pipeline task attempt object. AWS Data Pipeline uses this value to track how many times a task is attempted.</p>"
        },
        "objects":{
          "shape":"PipelineObjectMap",
          "documentation":"<p>Connection information for the location where the task runner will publish the output of the task.</p>"
        }
      },
      "documentation":"<p>Contains information about a pipeline task that is assigned to a task runner.</p>"
    },
    "TaskStatus":{
      "type":"string",
      "enum":[
        "FINISHED",
        "FAILED",
        "FALSE"
      ]
    },
    "ValidatePipelineDefinitionInput":{
      "type":"structure",
      "required":[
        "pipelineId",
        "pipelineObjects"
      ],
      "members":{
        "pipelineId":{
          "shape":"id",
          "documentation":"<p>Identifies the pipeline whose definition is to be validated.</p>"
        },
        "pipelineObjects":{
          "shape":"PipelineObjectList",
          "documentation":"<p>A list of objects that define the pipeline changes to validate against the pipeline.</p>"
        }
      },
      "documentation":"<p>The input of the <a>ValidatePipelineDefinition</a> action.</p>"
    },
    "ValidatePipelineDefinitionOutput":{
      "type":"structure",
      "required":["errored"],
      "members":{
        "validationErrors":{
          "shape":"ValidationErrors",
          "documentation":"<p>Lists the validation errors that were found by <a>ValidatePipelineDefinition</a>.</p>"
        },
        "validationWarnings":{
          "shape":"ValidationWarnings",
          "documentation":"<p>Lists the validation warnings that were found by <a>ValidatePipelineDefinition</a>.</p>"
        },
        "errored":{
          "shape":"boolean",
          "documentation":"<p>If <code>True</code>, there were validation errors.</p>"
        }
      },
      "documentation":"<p>Contains the output from the <a>ValidatePipelineDefinition</a> action.</p>"
    },
    "ValidationError":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"id",
          "documentation":"<p>The identifier of the object that contains the validation error.</p>"
        },
        "errors":{
          "shape":"validationMessages",
          "documentation":"<p>A description of the validation error.</p>"
        }
      },
      "documentation":"<p>Defines a validation error returned by <a>PutPipelineDefinition</a> or <a>ValidatePipelineDefinition</a>. Validation errors prevent pipeline activation. The set of validation errors that can be returned are defined by AWS Data Pipeline.</p>"
    },
    "ValidationErrors":{
      "type":"list",
      "member":{"shape":"ValidationError"}
    },
    "ValidationWarning":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"id",
          "documentation":"<p>The identifier of the object that contains the validation warning.</p>"
        },
        "warnings":{
          "shape":"validationMessages",
          "documentation":"<p>A description of the validation warning.</p>"
        }
      },
      "documentation":"<p>Defines a validation warning returned by <a>PutPipelineDefinition</a> or <a>ValidatePipelineDefinition</a>. Validation warnings do not prevent pipeline activation. The set of validation warnings that can be returned are defined by AWS Data Pipeline.</p>"
    },
    "ValidationWarnings":{
      "type":"list",
      "member":{"shape":"ValidationWarning"}
    },
    "boolean":{"type":"boolean"},
    "errorMessage":{"type":"string"},
    "fieldList":{
      "type":"list",
      "member":{"shape":"Field"}
    },
    "fieldNameString":{
      "type":"string",
      "min":1,
      "max":256,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "fieldStringValue":{
      "type":"string",
      "min":0,
      "max":10240,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "id":{
      "type":"string",
      "min":1,
      "max":1024,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "idList":{
      "type":"list",
      "member":{"shape":"id"}
    },
    "int":{"type":"integer"},
    "longString":{
      "type":"string",
      "min":0,
      "max":20971520,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "pipelineList":{
      "type":"list",
      "member":{"shape":"PipelineIdName"}
    },
    "string":{
      "type":"string",
      "min":0,
      "max":1024,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "stringList":{
      "type":"list",
      "member":{"shape":"string"}
    },
    "taskId":{
      "type":"string",
      "min":1,
      "max":2048,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "validationMessage":{
      "type":"string",
      "min":0,
      "max":10000,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "validationMessages":{
      "type":"list",
      "member":{"shape":"validationMessage"}
    }
  }
}
