{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-25",
    "endpointPrefix": "databrew",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Glue DataBrew",
    "serviceId": "DataBrew",
    "signatureVersion": "v4",
    "signingName": "databrew",
    "uid": "databrew-2017-07-25"
  },
  "operations": {
    "BatchDeleteRecipeVersion": {
      "http": {
        "requestUri": "/recipes/{name}/batchDeleteRecipeVersion"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RecipeVersions"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "RecipeVersions": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ErrorCode": {},
                "ErrorMessage": {},
                "RecipeVersion": {}
              }
            }
          }
        }
      }
    },
    "CreateDataset": {
      "http": {
        "requestUri": "/datasets"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Input"
        ],
        "members": {
          "Name": {},
          "FormatOptions": {
            "shape": "Sc"
          },
          "Input": {
            "shape": "Sk"
          },
          "Tags": {
            "shape": "Ss"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "CreateProfileJob": {
      "http": {
        "requestUri": "/profileJobs"
      },
      "input": {
        "type": "structure",
        "required": [
          "DatasetName",
          "Name",
          "OutputLocation",
          "RoleArn"
        ],
        "members": {
          "DatasetName": {},
          "EncryptionKeyArn": {},
          "EncryptionMode": {},
          "Name": {},
          "LogSubscription": {},
          "MaxCapacity": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "OutputLocation": {
            "shape": "Sl"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "Ss"
          },
          "Timeout": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "CreateProject": {
      "http": {
        "requestUri": "/projects"
      },
      "input": {
        "type": "structure",
        "required": [
          "DatasetName",
          "Name",
          "RecipeName",
          "RoleArn"
        ],
        "members": {
          "DatasetName": {},
          "Name": {},
          "RecipeName": {},
          "Sample": {
            "shape": "S18"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "Ss"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "CreateRecipe": {
      "http": {
        "requestUri": "/recipes"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Steps"
        ],
        "members": {
          "Description": {},
          "Name": {},
          "Steps": {
            "shape": "S1e"
          },
          "Tags": {
            "shape": "Ss"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "CreateRecipeJob": {
      "http": {
        "requestUri": "/recipeJobs"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Outputs",
          "RoleArn"
        ],
        "members": {
          "DatasetName": {},
          "EncryptionKeyArn": {},
          "EncryptionMode": {},
          "Name": {},
          "LogSubscription": {},
          "MaxCapacity": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "Outputs": {
            "shape": "S1s"
          },
          "ProjectName": {},
          "RecipeReference": {
            "shape": "S1z"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "Ss"
          },
          "Timeout": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "CreateSchedule": {
      "http": {
        "requestUri": "/schedules"
      },
      "input": {
        "type": "structure",
        "required": [
          "CronExpression",
          "Name"
        ],
        "members": {
          "JobNames": {
            "shape": "S22"
          },
          "CronExpression": {},
          "Tags": {
            "shape": "Ss"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteDataset": {
      "http": {
        "method": "DELETE",
        "requestUri": "/datasets/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteJob": {
      "http": {
        "method": "DELETE",
        "requestUri": "/jobs/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteProject": {
      "http": {
        "method": "DELETE",
        "requestUri": "/projects/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteRecipeVersion": {
      "http": {
        "method": "DELETE",
        "requestUri": "/recipes/{name}/recipeVersion/{recipeVersion}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RecipeVersion"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "RecipeVersion": {
            "location": "uri",
            "locationName": "recipeVersion"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name",
          "RecipeVersion"
        ],
        "members": {
          "Name": {},
          "RecipeVersion": {}
        }
      }
    },
    "DeleteSchedule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/schedules/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "DescribeDataset": {
      "http": {
        "method": "GET",
        "requestUri": "/datasets/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name",
          "Input"
        ],
        "members": {
          "CreatedBy": {},
          "CreateDate": {
            "type": "timestamp"
          },
          "Name": {},
          "FormatOptions": {
            "shape": "Sc"
          },
          "Input": {
            "shape": "Sk"
          },
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "LastModifiedBy": {},
          "Source": {},
          "Tags": {
            "shape": "Ss"
          },
          "ResourceArn": {}
        }
      }
    },
    "DescribeJob": {
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CreateDate": {
            "type": "timestamp"
          },
          "CreatedBy": {},
          "DatasetName": {},
          "EncryptionKeyArn": {},
          "EncryptionMode": {},
          "Name": {},
          "Type": {},
          "LastModifiedBy": {},
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "LogSubscription": {},
          "MaxCapacity": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "Outputs": {
            "shape": "S1s"
          },
          "ProjectName": {},
          "RecipeReference": {
            "shape": "S1z"
          },
          "ResourceArn": {},
          "RoleArn": {},
          "Tags": {
            "shape": "Ss"
          },
          "Timeout": {
            "type": "integer"
          }
        }
      }
    },
    "DescribeProject": {
      "http": {
        "method": "GET",
        "requestUri": "/projects/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CreateDate": {
            "type": "timestamp"
          },
          "CreatedBy": {},
          "DatasetName": {},
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "LastModifiedBy": {},
          "Name": {},
          "RecipeName": {},
          "ResourceArn": {},
          "Sample": {
            "shape": "S18"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "Ss"
          },
          "SessionStatus": {},
          "OpenedBy": {},
          "OpenDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeRecipe": {
      "http": {
        "method": "GET",
        "requestUri": "/recipes/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "RecipeVersion": {
            "location": "querystring",
            "locationName": "recipeVersion"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CreatedBy": {},
          "CreateDate": {
            "type": "timestamp"
          },
          "LastModifiedBy": {},
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "ProjectName": {},
          "PublishedBy": {},
          "PublishedDate": {
            "type": "timestamp"
          },
          "Description": {},
          "Name": {},
          "Steps": {
            "shape": "S1e"
          },
          "Tags": {
            "shape": "Ss"
          },
          "ResourceArn": {},
          "RecipeVersion": {}
        }
      }
    },
    "DescribeSchedule": {
      "http": {
        "method": "GET",
        "requestUri": "/schedules/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CreateDate": {
            "type": "timestamp"
          },
          "CreatedBy": {},
          "JobNames": {
            "shape": "S22"
          },
          "LastModifiedBy": {},
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "ResourceArn": {},
          "CronExpression": {},
          "Tags": {
            "shape": "Ss"
          },
          "Name": {}
        }
      }
    },
    "ListDatasets": {
      "http": {
        "method": "GET",
        "requestUri": "/datasets"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Datasets"
        ],
        "members": {
          "Datasets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Input"
              ],
              "members": {
                "AccountId": {},
                "CreatedBy": {},
                "CreateDate": {
                  "type": "timestamp"
                },
                "Name": {},
                "FormatOptions": {
                  "shape": "Sc"
                },
                "Input": {
                  "shape": "Sk"
                },
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "LastModifiedBy": {},
                "Source": {},
                "Tags": {
                  "shape": "Ss"
                },
                "ResourceArn": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListJobRuns": {
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{name}/jobRuns"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobRuns"
        ],
        "members": {
          "JobRuns": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Attempt": {
                  "type": "integer"
                },
                "CompletedOn": {
                  "type": "timestamp"
                },
                "DatasetName": {},
                "ErrorMessage": {},
                "ExecutionTime": {
                  "type": "integer"
                },
                "JobName": {},
                "RunId": {},
                "State": {},
                "LogSubscription": {},
                "LogGroupName": {},
                "Outputs": {
                  "shape": "S1s"
                },
                "RecipeReference": {
                  "shape": "S1z"
                },
                "StartedBy": {},
                "StartedOn": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/jobs"
      },
      "input": {
        "type": "structure",
        "members": {
          "DatasetName": {
            "location": "querystring",
            "locationName": "datasetName"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "ProjectName": {
            "location": "querystring",
            "locationName": "projectName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Jobs"
        ],
        "members": {
          "Jobs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name"
              ],
              "members": {
                "AccountId": {},
                "CreatedBy": {},
                "CreateDate": {
                  "type": "timestamp"
                },
                "DatasetName": {},
                "EncryptionKeyArn": {},
                "EncryptionMode": {},
                "Name": {},
                "Type": {},
                "LastModifiedBy": {},
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "LogSubscription": {},
                "MaxCapacity": {
                  "type": "integer"
                },
                "MaxRetries": {
                  "type": "integer"
                },
                "Outputs": {
                  "shape": "S1s"
                },
                "ProjectName": {},
                "RecipeReference": {
                  "shape": "S1z"
                },
                "ResourceArn": {},
                "RoleArn": {},
                "Timeout": {
                  "type": "integer"
                },
                "Tags": {
                  "shape": "Ss"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListProjects": {
      "http": {
        "method": "GET",
        "requestUri": "/projects"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Projects"
        ],
        "members": {
          "Projects": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "RecipeName"
              ],
              "members": {
                "AccountId": {},
                "CreateDate": {
                  "type": "timestamp"
                },
                "CreatedBy": {},
                "DatasetName": {},
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "LastModifiedBy": {},
                "Name": {},
                "RecipeName": {},
                "ResourceArn": {},
                "Sample": {
                  "shape": "S18"
                },
                "Tags": {
                  "shape": "Ss"
                },
                "RoleArn": {},
                "OpenedBy": {},
                "OpenDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListRecipeVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/recipeVersions"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "Name": {
            "location": "querystring",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Recipes"
        ],
        "members": {
          "NextToken": {},
          "Recipes": {
            "shape": "S3q"
          }
        }
      }
    },
    "ListRecipes": {
      "http": {
        "method": "GET",
        "requestUri": "/recipes"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "RecipeVersion": {
            "location": "querystring",
            "locationName": "recipeVersion"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Recipes"
        ],
        "members": {
          "Recipes": {
            "shape": "S3q"
          },
          "NextToken": {}
        }
      }
    },
    "ListSchedules": {
      "http": {
        "method": "GET",
        "requestUri": "/schedules"
      },
      "input": {
        "type": "structure",
        "members": {
          "JobName": {
            "location": "querystring",
            "locationName": "jobName"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Schedules"
        ],
        "members": {
          "Schedules": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name"
              ],
              "members": {
                "AccountId": {},
                "CreatedBy": {},
                "CreateDate": {
                  "type": "timestamp"
                },
                "JobNames": {
                  "shape": "S22"
                },
                "LastModifiedBy": {},
                "LastModifiedDate": {
                  "type": "timestamp"
                },
                "ResourceArn": {},
                "CronExpression": {},
                "Tags": {
                  "shape": "Ss"
                },
                "Name": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Ss"
          }
        }
      }
    },
    "PublishRecipe": {
      "http": {
        "requestUri": "/recipes/{name}/publishRecipe"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Description": {},
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "SendProjectSessionAction": {
      "http": {
        "method": "PUT",
        "requestUri": "/projects/{name}/sendProjectSessionAction"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Preview": {
            "type": "boolean"
          },
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "RecipeStep": {
            "shape": "S1f"
          },
          "StepIndex": {
            "type": "integer"
          },
          "ClientSessionId": {},
          "ViewFrame": {
            "type": "structure",
            "required": [
              "StartColumnIndex"
            ],
            "members": {
              "StartColumnIndex": {
                "type": "integer"
              },
              "ColumnRange": {
                "type": "integer"
              },
              "HiddenColumns": {
                "type": "list",
                "member": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Result": {},
          "Name": {},
          "ActionId": {
            "type": "integer"
          }
        }
      }
    },
    "StartJobRun": {
      "http": {
        "requestUri": "/jobs/{name}/startJobRun"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "RunId"
        ],
        "members": {
          "RunId": {}
        }
      }
    },
    "StartProjectSession": {
      "http": {
        "method": "PUT",
        "requestUri": "/projects/{name}/startProjectSession"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "AssumeControl": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "ClientSessionId": {}
        }
      }
    },
    "StopJobRun": {
      "http": {
        "requestUri": "/jobs/{name}/jobRun/{runId}/stopJobRun"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "RunId": {
            "location": "uri",
            "locationName": "runId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "RunId"
        ],
        "members": {
          "RunId": {}
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "Tags": {
            "shape": "Ss"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDataset": {
      "http": {
        "method": "PUT",
        "requestUri": "/datasets/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Input"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "FormatOptions": {
            "shape": "Sc"
          },
          "Input": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "UpdateProfileJob": {
      "http": {
        "method": "PUT",
        "requestUri": "/profileJobs/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "OutputLocation",
          "RoleArn"
        ],
        "members": {
          "EncryptionKeyArn": {},
          "EncryptionMode": {},
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "LogSubscription": {},
          "MaxCapacity": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "OutputLocation": {
            "shape": "Sl"
          },
          "RoleArn": {},
          "Timeout": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "UpdateProject": {
      "http": {
        "method": "PUT",
        "requestUri": "/projects/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "RoleArn",
          "Name"
        ],
        "members": {
          "Sample": {
            "shape": "S18"
          },
          "RoleArn": {},
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "Name": {}
        }
      }
    },
    "UpdateRecipe": {
      "http": {
        "method": "PUT",
        "requestUri": "/recipes/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Description": {},
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "Steps": {
            "shape": "S1e"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "UpdateRecipeJob": {
      "http": {
        "method": "PUT",
        "requestUri": "/recipeJobs/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Outputs",
          "RoleArn"
        ],
        "members": {
          "EncryptionKeyArn": {},
          "EncryptionMode": {},
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "LogSubscription": {},
          "MaxCapacity": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "Outputs": {
            "shape": "S1s"
          },
          "RoleArn": {},
          "Timeout": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    },
    "UpdateSchedule": {
      "http": {
        "method": "PUT",
        "requestUri": "/schedules/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "CronExpression",
          "Name"
        ],
        "members": {
          "JobNames": {
            "shape": "S22"
          },
          "CronExpression": {},
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      }
    }
  },
  "shapes": {
    "Sc": {
      "type": "structure",
      "members": {
        "Json": {
          "type": "structure",
          "members": {
            "MultiLine": {
              "type": "boolean"
            }
          }
        },
        "Excel": {
          "type": "structure",
          "members": {
            "SheetNames": {
              "type": "list",
              "member": {}
            },
            "SheetIndexes": {
              "type": "list",
              "member": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "Sk": {
      "type": "structure",
      "members": {
        "S3InputDefinition": {
          "shape": "Sl"
        },
        "DataCatalogInputDefinition": {
          "type": "structure",
          "required": [
            "DatabaseName",
            "TableName"
          ],
          "members": {
            "CatalogId": {},
            "DatabaseName": {},
            "TableName": {},
            "TempDirectory": {
              "shape": "Sl"
            }
          }
        }
      }
    },
    "Sl": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {},
        "Key": {}
      }
    },
    "Ss": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S18": {
      "type": "structure",
      "required": [
        "Type"
      ],
      "members": {
        "Size": {
          "type": "integer"
        },
        "Type": {}
      }
    },
    "S1e": {
      "type": "list",
      "member": {
        "shape": "S1f"
      }
    },
    "S1f": {
      "type": "structure",
      "required": [
        "Action"
      ],
      "members": {
        "Action": {
          "type": "structure",
          "required": [
            "Operation"
          ],
          "members": {
            "Operation": {},
            "Parameters": {
              "type": "map",
              "key": {},
              "value": {}
            }
          }
        },
        "ConditionExpressions": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Condition",
              "TargetColumn"
            ],
            "members": {
              "Condition": {},
              "Value": {},
              "TargetColumn": {}
            }
          }
        }
      }
    },
    "S1s": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Location"
        ],
        "members": {
          "CompressionFormat": {},
          "Format": {},
          "PartitionColumns": {
            "type": "list",
            "member": {}
          },
          "Location": {
            "shape": "Sl"
          },
          "Overwrite": {
            "type": "boolean"
          }
        }
      }
    },
    "S1z": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "RecipeVersion": {}
      }
    },
    "S22": {
      "type": "list",
      "member": {}
    },
    "S3q": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CreatedBy": {},
          "CreateDate": {
            "type": "timestamp"
          },
          "LastModifiedBy": {},
          "LastModifiedDate": {
            "type": "timestamp"
          },
          "ProjectName": {},
          "PublishedBy": {},
          "PublishedDate": {
            "type": "timestamp"
          },
          "Description": {},
          "Name": {},
          "ResourceArn": {},
          "Steps": {
            "shape": "S1e"
          },
          "Tags": {
            "shape": "Ss"
          },
          "RecipeVersion": {}
        }
      }
    }
  }
}