{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2023-10-12",
    "endpointPrefix": "deadline",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWSDeadlineCloud",
    "serviceId": "deadline",
    "signatureVersion": "v4",
    "signingName": "deadline",
    "uid": "deadline-2023-10-12"
  },
  "operations": {
    "AssociateMemberToFarm": {
      "http": {
        "method": "PUT",
        "requestUri": "/2023-10-12/farms/{farmId}/members/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "identityStoreId",
          "membershipLevel",
          "principalId",
          "principalType"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "identityStoreId": {},
          "membershipLevel": {},
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          },
          "principalType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "AssociateMemberToFleet": {
      "http": {
        "method": "PUT",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/members/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId",
          "identityStoreId",
          "membershipLevel",
          "principalId",
          "principalType"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          },
          "identityStoreId": {},
          "membershipLevel": {},
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          },
          "principalType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "AssociateMemberToJob": {
      "http": {
        "method": "PUT",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "identityStoreId",
          "jobId",
          "membershipLevel",
          "principalId",
          "principalType",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "identityStoreId": {},
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          },
          "membershipLevel": {},
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          },
          "principalType": {},
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "AssociateMemberToQueue": {
      "http": {
        "method": "PUT",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/members/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "identityStoreId",
          "membershipLevel",
          "principalId",
          "principalType",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "identityStoreId": {},
          "membershipLevel": {},
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          },
          "principalType": {},
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "AssumeFleetRoleForRead": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/read-roles",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "credentials"
        ],
        "members": {
          "credentials": {
            "shape": "Sj"
          }
        },
        "sensitive": true
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "AssumeFleetRoleForWorker": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/fleet-roles",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId",
          "workerId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          },
          "workerId": {
            "location": "uri",
            "locationName": "workerId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "credentials"
        ],
        "members": {
          "credentials": {
            "shape": "Sj"
          }
        },
        "sensitive": true
      },
      "endpoint": {
        "hostPrefix": "scheduling."
      }
    },
    "AssumeQueueRoleForRead": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/read-roles",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "credentials"
        ],
        "members": {
          "credentials": {
            "shape": "Sj"
          }
        },
        "sensitive": true
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "AssumeQueueRoleForUser": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/user-roles",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "credentials"
        ],
        "members": {
          "credentials": {
            "shape": "Sj"
          }
        },
        "sensitive": true
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "AssumeQueueRoleForWorker": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/queue-roles",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId",
          "queueId",
          "workerId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          },
          "queueId": {
            "location": "querystring",
            "locationName": "queueId"
          },
          "workerId": {
            "location": "uri",
            "locationName": "workerId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "credentials": {
            "shape": "Sj"
          }
        },
        "sensitive": true
      },
      "endpoint": {
        "hostPrefix": "scheduling."
      }
    },
    "BatchGetJobEntity": {
      "http": {
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/batchGetJobEntity",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId",
          "identifiers",
          "workerId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          },
          "identifiers": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "environmentDetails": {
                  "type": "structure",
                  "required": [
                    "environmentId",
                    "jobId"
                  ],
                  "members": {
                    "environmentId": {},
                    "jobId": {}
                  }
                },
                "jobAttachmentDetails": {
                  "type": "structure",
                  "required": [
                    "jobId"
                  ],
                  "members": {
                    "jobId": {}
                  }
                },
                "jobDetails": {
                  "type": "structure",
                  "required": [
                    "jobId"
                  ],
                  "members": {
                    "jobId": {}
                  }
                },
                "stepDetails": {
                  "type": "structure",
                  "required": [
                    "jobId",
                    "stepId"
                  ],
                  "members": {
                    "jobId": {},
                    "stepId": {}
                  }
                }
              },
              "union": true
            }
          },
          "workerId": {
            "location": "uri",
            "locationName": "workerId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "entities",
          "errors"
        ],
        "members": {
          "entities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "environmentDetails": {
                  "type": "structure",
                  "required": [
                    "environmentId",
                    "jobId",
                    "schemaVersion",
                    "template"
                  ],
                  "members": {
                    "environmentId": {},
                    "jobId": {},
                    "schemaVersion": {},
                    "template": {
                      "shape": "S1b"
                    }
                  }
                },
                "jobAttachmentDetails": {
                  "type": "structure",
                  "required": [
                    "attachments",
                    "jobId"
                  ],
                  "members": {
                    "attachments": {
                      "shape": "S1d"
                    },
                    "jobId": {}
                  }
                },
                "jobDetails": {
                  "type": "structure",
                  "required": [
                    "jobId",
                    "logGroupName",
                    "schemaVersion"
                  ],
                  "members": {
                    "jobAttachmentSettings": {
                      "shape": "S1p"
                    },
                    "jobId": {},
                    "jobRunAsUser": {
                      "shape": "S1s"
                    },
                    "logGroupName": {},
                    "parameters": {
                      "shape": "S20"
                    },
                    "pathMappingRules": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "required": [
                          "destinationPath",
                          "sourcePath",
                          "sourcePathFormat"
                        ],
                        "members": {
                          "destinationPath": {},
                          "sourcePath": {},
                          "sourcePathFormat": {}
                        },
                        "sensitive": true
                      }
                    },
                    "queueRoleArn": {},
                    "schemaVersion": {}
                  }
                },
                "stepDetails": {
                  "type": "structure",
                  "required": [
                    "dependencies",
                    "jobId",
                    "schemaVersion",
                    "stepId",
                    "template"
                  ],
                  "members": {
                    "dependencies": {
                      "type": "list",
                      "member": {}
                    },
                    "jobId": {},
                    "schemaVersion": {},
                    "stepId": {},
                    "template": {
                      "shape": "S1b"
                    }
                  }
                }
              },
              "union": true
            }
          },
          "errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "environmentDetails": {
                  "type": "structure",
                  "required": [
                    "code",
                    "environmentId",
                    "jobId",
                    "message"
                  ],
                  "members": {
                    "code": {},
                    "environmentId": {},
                    "jobId": {},
                    "message": {}
                  }
                },
                "jobAttachmentDetails": {
                  "type": "structure",
                  "required": [
                    "code",
                    "jobId",
                    "message"
                  ],
                  "members": {
                    "code": {},
                    "jobId": {},
                    "message": {}
                  }
                },
                "jobDetails": {
                  "type": "structure",
                  "required": [
                    "code",
                    "jobId",
                    "message"
                  ],
                  "members": {
                    "code": {},
                    "jobId": {},
                    "message": {}
                  }
                },
                "stepDetails": {
                  "type": "structure",
                  "required": [
                    "code",
                    "jobId",
                    "message",
                    "stepId"
                  ],
                  "members": {
                    "code": {},
                    "jobId": {},
                    "message": {},
                    "stepId": {}
                  }
                }
              },
              "union": true
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "scheduling."
      }
    },
    "CopyJobTemplate": {
      "http": {
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/template",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "jobId",
          "queueId",
          "targetS3Location"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          },
          "targetS3Location": {
            "type": "structure",
            "required": [
              "bucketName",
              "key"
            ],
            "members": {
              "bucketName": {},
              "key": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "templateType"
        ],
        "members": {
          "templateType": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "CreateBudget": {
      "http": {
        "requestUri": "/2023-10-12/farms/{farmId}/budgets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "actions",
          "approximateDollarLimit",
          "displayName",
          "farmId",
          "schedule",
          "usageTrackingResource"
        ],
        "members": {
          "actions": {
            "shape": "S2o"
          },
          "approximateDollarLimit": {
            "type": "float"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "description": {
            "shape": "S2q"
          },
          "displayName": {},
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "schedule": {
            "shape": "S2w"
          },
          "usageTrackingResource": {
            "shape": "S30"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "budgetId"
        ],
        "members": {
          "budgetId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "CreateFarm": {
      "http": {
        "requestUri": "/2023-10-12/farms",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "displayName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "description": {
            "shape": "S2q"
          },
          "displayName": {},
          "kmsKeyArn": {},
          "tags": {
            "shape": "S35"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "farmId"
        ],
        "members": {
          "farmId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "CreateFleet": {
      "http": {
        "requestUri": "/2023-10-12/farms/{farmId}/fleets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "configuration",
          "displayName",
          "farmId",
          "maxWorkerCount",
          "roleArn"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "configuration": {
            "shape": "S38"
          },
          "description": {
            "shape": "S2q"
          },
          "displayName": {},
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "maxWorkerCount": {
            "type": "integer"
          },
          "minWorkerCount": {
            "type": "integer"
          },
          "roleArn": {},
          "tags": {
            "shape": "S35"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "fleetId"
        ],
        "members": {
          "fleetId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "CreateJob": {
      "http": {
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "priority",
          "queueId",
          "template",
          "templateType"
        ],
        "members": {
          "attachments": {
            "shape": "S1d"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "maxFailedTasksCount": {
            "type": "integer"
          },
          "maxRetriesPerTask": {
            "type": "integer"
          },
          "parameters": {
            "shape": "S20"
          },
          "priority": {
            "type": "integer"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          },
          "storageProfileId": {},
          "targetTaskRunStatus": {},
          "template": {
            "type": "string",
            "sensitive": true
          },
          "templateType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "jobId"
        ],
        "members": {
          "jobId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "CreateLicenseEndpoint": {
      "http": {
        "requestUri": "/2023-10-12/license-endpoints",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "securityGroupIds",
          "subnetIds",
          "vpcId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "securityGroupIds": {
            "type": "list",
            "member": {}
          },
          "subnetIds": {
            "type": "list",
            "member": {}
          },
          "tags": {
            "shape": "S35"
          },
          "vpcId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "licenseEndpointId"
        ],
        "members": {
          "licenseEndpointId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "CreateMonitor": {
      "http": {
        "requestUri": "/2023-10-12/monitors",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "displayName",
          "identityCenterInstanceArn",
          "roleArn",
          "subdomain"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "displayName": {},
          "identityCenterInstanceArn": {},
          "roleArn": {},
          "subdomain": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "identityCenterApplicationArn",
          "monitorId"
        ],
        "members": {
          "identityCenterApplicationArn": {},
          "monitorId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "CreateQueue": {
      "http": {
        "requestUri": "/2023-10-12/farms/{farmId}/queues",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "displayName",
          "farmId"
        ],
        "members": {
          "allowedStorageProfileIds": {
            "shape": "S4v"
          },
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "defaultBudgetAction": {},
          "description": {
            "shape": "S2q"
          },
          "displayName": {},
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "jobAttachmentSettings": {
            "shape": "S1p"
          },
          "jobRunAsUser": {
            "shape": "S1s"
          },
          "requiredFileSystemLocationNames": {
            "shape": "S4x"
          },
          "roleArn": {},
          "tags": {
            "shape": "S35"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "queueId"
        ],
        "members": {
          "queueId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "CreateQueueEnvironment": {
      "http": {
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/environments",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "priority",
          "queueId",
          "template",
          "templateType"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "priority": {
            "type": "integer"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          },
          "template": {
            "shape": "S51"
          },
          "templateType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "queueEnvironmentId"
        ],
        "members": {
          "queueEnvironmentId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "CreateQueueFleetAssociation": {
      "http": {
        "method": "PUT",
        "requestUri": "/2023-10-12/farms/{farmId}/queue-fleet-associations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {},
          "queueId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "CreateStorageProfile": {
      "http": {
        "requestUri": "/2023-10-12/farms/{farmId}/storage-profiles",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "displayName",
          "farmId",
          "osFamily"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "displayName": {},
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fileSystemLocations": {
            "shape": "S58"
          },
          "osFamily": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "storageProfileId"
        ],
        "members": {
          "storageProfileId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "CreateWorker": {
      "http": {
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          },
          "hostProperties": {
            "shape": "S5e"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "workerId"
        ],
        "members": {
          "workerId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "scheduling."
      },
      "idempotent": true
    },
    "DeleteBudget": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/budgets/{budgetId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "budgetId",
          "farmId"
        ],
        "members": {
          "budgetId": {
            "location": "uri",
            "locationName": "budgetId"
          },
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DeleteFarm": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DeleteFleet": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DeleteLicenseEndpoint": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/license-endpoints/{licenseEndpointId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "licenseEndpointId"
        ],
        "members": {
          "licenseEndpointId": {
            "location": "uri",
            "locationName": "licenseEndpointId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DeleteMeteredProduct": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/license-endpoints/{licenseEndpointId}/metered-products/{productId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "licenseEndpointId",
          "productId"
        ],
        "members": {
          "licenseEndpointId": {
            "location": "uri",
            "locationName": "licenseEndpointId"
          },
          "productId": {
            "location": "uri",
            "locationName": "productId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DeleteMonitor": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/monitors/{monitorId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "monitorId"
        ],
        "members": {
          "monitorId": {
            "location": "uri",
            "locationName": "monitorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DeleteQueue": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DeleteQueueEnvironment": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/environments/{queueEnvironmentId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "queueEnvironmentId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "queueEnvironmentId": {
            "location": "uri",
            "locationName": "queueEnvironmentId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DeleteQueueFleetAssociation": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/queue-fleet-associations/{queueId}/{fleetId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DeleteStorageProfile": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/storage-profiles/{storageProfileId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "storageProfileId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "storageProfileId": {
            "location": "uri",
            "locationName": "storageProfileId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DeleteWorker": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId",
          "workerId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          },
          "workerId": {
            "location": "uri",
            "locationName": "workerId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DisassociateMemberFromFarm": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/members/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "principalId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DisassociateMemberFromFleet": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/members/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId",
          "principalId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          },
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DisassociateMemberFromJob": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "jobId",
          "principalId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          },
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "DisassociateMemberFromQueue": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/members/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "principalId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "management."
      },
      "idempotent": true
    },
    "GetBudget": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/budgets/{budgetId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "budgetId",
          "farmId"
        ],
        "members": {
          "budgetId": {
            "location": "uri",
            "locationName": "budgetId"
          },
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "actions",
          "approximateDollarLimit",
          "budgetId",
          "createdAt",
          "createdBy",
          "displayName",
          "schedule",
          "status",
          "usageTrackingResource",
          "usages"
        ],
        "members": {
          "actions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "thresholdPercentage",
                "type"
              ],
              "members": {
                "description": {
                  "shape": "S2q"
                },
                "thresholdPercentage": {
                  "type": "float"
                },
                "type": {}
              }
            }
          },
          "approximateDollarLimit": {
            "type": "float"
          },
          "budgetId": {},
          "createdAt": {
            "shape": "S6l"
          },
          "createdBy": {},
          "description": {
            "shape": "S2q"
          },
          "displayName": {},
          "queueStoppedAt": {
            "shape": "S6n"
          },
          "schedule": {
            "shape": "S2w"
          },
          "status": {},
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {},
          "usageTrackingResource": {
            "shape": "S30"
          },
          "usages": {
            "shape": "S6q"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetFarm": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "displayName",
          "farmId",
          "kmsKeyArn"
        ],
        "members": {
          "createdAt": {
            "shape": "S6l"
          },
          "createdBy": {},
          "description": {
            "shape": "S2q"
          },
          "displayName": {},
          "farmId": {},
          "kmsKeyArn": {},
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetFleet": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "configuration",
          "createdAt",
          "createdBy",
          "displayName",
          "farmId",
          "fleetId",
          "maxWorkerCount",
          "minWorkerCount",
          "roleArn",
          "status",
          "workerCount"
        ],
        "members": {
          "autoScalingStatus": {},
          "capabilities": {
            "type": "structure",
            "members": {
              "amounts": {
                "type": "list",
                "member": {
                  "shape": "S3k"
                }
              },
              "attributes": {
                "type": "list",
                "member": {
                  "shape": "S3o"
                }
              }
            }
          },
          "configuration": {
            "shape": "S38"
          },
          "createdAt": {
            "shape": "S6l"
          },
          "createdBy": {},
          "description": {
            "shape": "S2q"
          },
          "displayName": {},
          "farmId": {},
          "fleetId": {},
          "maxWorkerCount": {
            "type": "integer"
          },
          "minWorkerCount": {
            "type": "integer"
          },
          "roleArn": {},
          "status": {},
          "targetWorkerCount": {
            "type": "integer"
          },
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {},
          "workerCount": {
            "type": "integer"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetJob": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "jobId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "jobId",
          "lifecycleStatus",
          "lifecycleStatusMessage",
          "name",
          "priority"
        ],
        "members": {
          "attachments": {
            "shape": "S1d"
          },
          "createdAt": {
            "shape": "S6l"
          },
          "createdBy": {},
          "description": {
            "type": "string",
            "sensitive": true
          },
          "endedAt": {
            "shape": "S73"
          },
          "jobId": {},
          "lifecycleStatus": {},
          "lifecycleStatusMessage": {},
          "maxFailedTasksCount": {
            "type": "integer"
          },
          "maxRetriesPerTask": {
            "type": "integer"
          },
          "name": {},
          "parameters": {
            "shape": "S20"
          },
          "priority": {
            "type": "integer"
          },
          "startedAt": {
            "shape": "S76"
          },
          "storageProfileId": {},
          "targetTaskRunStatus": {},
          "taskRunStatus": {},
          "taskRunStatusCounts": {
            "shape": "S79"
          },
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetLicenseEndpoint": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/license-endpoints/{licenseEndpointId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "licenseEndpointId"
        ],
        "members": {
          "licenseEndpointId": {
            "location": "uri",
            "locationName": "licenseEndpointId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "licenseEndpointId",
          "status",
          "statusMessage"
        ],
        "members": {
          "dnsName": {},
          "licenseEndpointId": {},
          "securityGroupIds": {
            "type": "list",
            "member": {}
          },
          "status": {},
          "statusMessage": {},
          "subnetIds": {
            "type": "list",
            "member": {}
          },
          "vpcId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetMonitor": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/monitors/{monitorId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "monitorId"
        ],
        "members": {
          "monitorId": {
            "location": "uri",
            "locationName": "monitorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "displayName",
          "identityCenterApplicationArn",
          "identityCenterInstanceArn",
          "monitorId",
          "roleArn",
          "subdomain",
          "url"
        ],
        "members": {
          "createdAt": {
            "shape": "S6l"
          },
          "createdBy": {},
          "displayName": {},
          "identityCenterApplicationArn": {},
          "identityCenterInstanceArn": {},
          "monitorId": {},
          "roleArn": {},
          "subdomain": {},
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {},
          "url": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetQueue": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "defaultBudgetAction",
          "displayName",
          "farmId",
          "queueId",
          "status"
        ],
        "members": {
          "allowedStorageProfileIds": {
            "shape": "S4v"
          },
          "blockedReason": {},
          "createdAt": {
            "shape": "S6l"
          },
          "createdBy": {},
          "defaultBudgetAction": {},
          "description": {
            "shape": "S2q"
          },
          "displayName": {},
          "farmId": {},
          "jobAttachmentSettings": {
            "shape": "S1p"
          },
          "jobRunAsUser": {
            "shape": "S1s"
          },
          "queueId": {},
          "requiredFileSystemLocationNames": {
            "shape": "S4x"
          },
          "roleArn": {},
          "status": {},
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetQueueEnvironment": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/environments/{queueEnvironmentId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "queueEnvironmentId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "queueEnvironmentId": {
            "location": "uri",
            "locationName": "queueEnvironmentId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "name",
          "priority",
          "queueEnvironmentId",
          "template",
          "templateType"
        ],
        "members": {
          "createdAt": {
            "shape": "S6l"
          },
          "createdBy": {},
          "name": {},
          "priority": {
            "type": "integer"
          },
          "queueEnvironmentId": {},
          "template": {
            "shape": "S51"
          },
          "templateType": {},
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetQueueFleetAssociation": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queue-fleet-associations/{queueId}/{fleetId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "fleetId",
          "queueId",
          "status"
        ],
        "members": {
          "createdAt": {
            "shape": "S6l"
          },
          "createdBy": {},
          "fleetId": {},
          "queueId": {},
          "status": {},
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetSession": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/sessions/{sessionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "jobId",
          "queueId",
          "sessionId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          },
          "sessionId": {
            "location": "uri",
            "locationName": "sessionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "fleetId",
          "lifecycleStatus",
          "log",
          "sessionId",
          "startedAt",
          "workerId"
        ],
        "members": {
          "endedAt": {
            "shape": "S73"
          },
          "fleetId": {},
          "hostProperties": {
            "shape": "S7x"
          },
          "lifecycleStatus": {},
          "log": {
            "shape": "S7z"
          },
          "sessionId": {},
          "startedAt": {
            "shape": "S76"
          },
          "targetLifecycleStatus": {},
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {},
          "workerId": {},
          "workerLog": {
            "shape": "S7z"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetSessionAction": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/session-actions/{sessionActionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "jobId",
          "queueId",
          "sessionActionId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          },
          "sessionActionId": {
            "location": "uri",
            "locationName": "sessionActionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "definition",
          "sessionActionId",
          "sessionId",
          "status"
        ],
        "members": {
          "definition": {
            "type": "structure",
            "members": {
              "envEnter": {
                "type": "structure",
                "required": [
                  "environmentId"
                ],
                "members": {
                  "environmentId": {}
                }
              },
              "envExit": {
                "type": "structure",
                "required": [
                  "environmentId"
                ],
                "members": {
                  "environmentId": {}
                }
              },
              "syncInputJobAttachments": {
                "type": "structure",
                "members": {
                  "stepId": {}
                }
              },
              "taskRun": {
                "type": "structure",
                "required": [
                  "parameters",
                  "stepId",
                  "taskId"
                ],
                "members": {
                  "parameters": {
                    "shape": "S8d"
                  },
                  "stepId": {},
                  "taskId": {}
                }
              }
            },
            "union": true
          },
          "endedAt": {
            "shape": "S73"
          },
          "processExitCode": {
            "type": "integer"
          },
          "progressMessage": {
            "shape": "S8h"
          },
          "progressPercent": {
            "type": "float"
          },
          "sessionActionId": {},
          "sessionId": {},
          "startedAt": {
            "shape": "S76"
          },
          "status": {},
          "workerUpdatedAt": {
            "shape": "S8k"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetSessionsStatisticsAggregation": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/sessions-statistics-aggregation",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "aggregationId",
          "farmId"
        ],
        "members": {
          "aggregationId": {
            "location": "querystring",
            "locationName": "aggregationId"
          },
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "status"
        ],
        "members": {
          "nextToken": {},
          "statistics": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "costInUsd",
                "count",
                "runtimeInSeconds"
              ],
              "members": {
                "aggregationEndTime": {
                  "shape": "Sl"
                },
                "aggregationStartTime": {
                  "shape": "Sl"
                },
                "costInUsd": {
                  "shape": "S8r"
                },
                "count": {
                  "type": "integer"
                },
                "fleetId": {},
                "instanceType": {},
                "jobId": {},
                "jobName": {},
                "licenseProduct": {},
                "queueId": {},
                "runtimeInSeconds": {
                  "shape": "S8r"
                },
                "usageType": {},
                "userId": {}
              }
            }
          },
          "status": {},
          "statusMessage": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetStep": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "jobId",
          "queueId",
          "stepId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          },
          "stepId": {
            "location": "uri",
            "locationName": "stepId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "lifecycleStatus",
          "name",
          "stepId",
          "taskRunStatus",
          "taskRunStatusCounts"
        ],
        "members": {
          "createdAt": {
            "shape": "S6l"
          },
          "createdBy": {},
          "dependencyCounts": {
            "shape": "S8z"
          },
          "description": {
            "type": "string",
            "sensitive": true
          },
          "endedAt": {
            "shape": "S73"
          },
          "lifecycleStatus": {},
          "lifecycleStatusMessage": {},
          "name": {},
          "parameterSpace": {
            "shape": "S93"
          },
          "requiredCapabilities": {
            "type": "structure",
            "required": [
              "amounts",
              "attributes"
            ],
            "members": {
              "amounts": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "name"
                  ],
                  "members": {
                    "max": {
                      "type": "double"
                    },
                    "min": {
                      "type": "double"
                    },
                    "name": {},
                    "value": {
                      "type": "double"
                    }
                  }
                }
              },
              "attributes": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "name"
                  ],
                  "members": {
                    "allOf": {
                      "shape": "S9e"
                    },
                    "anyOf": {
                      "shape": "S9e"
                    },
                    "name": {}
                  }
                }
              }
            }
          },
          "startedAt": {
            "shape": "S76"
          },
          "stepId": {},
          "targetTaskRunStatus": {},
          "taskRunStatus": {},
          "taskRunStatusCounts": {
            "shape": "S79"
          },
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetStorageProfile": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/storage-profiles/{storageProfileId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "storageProfileId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "storageProfileId": {
            "location": "uri",
            "locationName": "storageProfileId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "displayName",
          "osFamily",
          "storageProfileId"
        ],
        "members": {
          "createdAt": {
            "shape": "S6l"
          },
          "createdBy": {},
          "displayName": {},
          "fileSystemLocations": {
            "shape": "S58"
          },
          "osFamily": {},
          "storageProfileId": {},
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetStorageProfileForQueue": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/storage-profiles/{storageProfileId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "queueId",
          "storageProfileId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          },
          "storageProfileId": {
            "location": "uri",
            "locationName": "storageProfileId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "displayName",
          "osFamily",
          "storageProfileId"
        ],
        "members": {
          "displayName": {},
          "fileSystemLocations": {
            "shape": "S58"
          },
          "osFamily": {},
          "storageProfileId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetTask": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/tasks/{taskId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "jobId",
          "queueId",
          "stepId",
          "taskId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          },
          "stepId": {
            "location": "uri",
            "locationName": "stepId"
          },
          "taskId": {
            "location": "uri",
            "locationName": "taskId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "runStatus",
          "taskId"
        ],
        "members": {
          "createdAt": {
            "shape": "S6l"
          },
          "createdBy": {},
          "endedAt": {
            "shape": "S73"
          },
          "failureRetryCount": {
            "type": "integer"
          },
          "latestSessionActionId": {},
          "parameters": {
            "shape": "S8d"
          },
          "runStatus": {},
          "startedAt": {
            "shape": "S76"
          },
          "targetRunStatus": {},
          "taskId": {},
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "GetWorker": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId",
          "workerId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          },
          "workerId": {
            "location": "uri",
            "locationName": "workerId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "createdAt",
          "createdBy",
          "farmId",
          "fleetId",
          "status",
          "workerId"
        ],
        "members": {
          "createdAt": {
            "shape": "S6l"
          },
          "createdBy": {},
          "farmId": {},
          "fleetId": {},
          "hostProperties": {
            "shape": "S7x"
          },
          "log": {
            "shape": "S7z"
          },
          "status": {},
          "updatedAt": {
            "shape": "S6n"
          },
          "updatedBy": {},
          "workerId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListAvailableMeteredProducts": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/metered-products",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "meteredProducts"
        ],
        "members": {
          "meteredProducts": {
            "shape": "S9t"
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListBudgets": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/budgets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "budgets"
        ],
        "members": {
          "budgets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "approximateDollarLimit",
                "budgetId",
                "createdAt",
                "createdBy",
                "displayName",
                "status",
                "usageTrackingResource",
                "usages"
              ],
              "members": {
                "approximateDollarLimit": {
                  "type": "float"
                },
                "budgetId": {},
                "createdAt": {
                  "shape": "S6l"
                },
                "createdBy": {},
                "description": {
                  "shape": "S2q"
                },
                "displayName": {},
                "status": {},
                "updatedAt": {
                  "shape": "S6n"
                },
                "updatedBy": {},
                "usageTrackingResource": {
                  "shape": "S30"
                },
                "usages": {
                  "shape": "S6q"
                }
              }
            }
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListFarmMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/members",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "members"
        ],
        "members": {
          "members": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "farmId",
                "identityStoreId",
                "membershipLevel",
                "principalId",
                "principalType"
              ],
              "members": {
                "farmId": {},
                "identityStoreId": {},
                "membershipLevel": {},
                "principalId": {},
                "principalType": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListFarms": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "principalId": {
            "location": "querystring",
            "locationName": "principalId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "farms"
        ],
        "members": {
          "farms": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "createdAt",
                "createdBy",
                "displayName",
                "farmId"
              ],
              "members": {
                "createdAt": {
                  "shape": "S6l"
                },
                "createdBy": {},
                "displayName": {},
                "farmId": {},
                "kmsKeyArn": {},
                "updatedAt": {
                  "shape": "S6n"
                },
                "updatedBy": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListFleetMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/members",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "fleetId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "uri",
            "locationName": "fleetId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "members"
        ],
        "members": {
          "members": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "farmId",
                "fleetId",
                "identityStoreId",
                "membershipLevel",
                "principalId",
                "principalType"
              ],
              "members": {
                "farmId": {},
                "fleetId": {},
                "identityStoreId": {},
                "membershipLevel": {},
                "principalId": {},
                "principalType": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListFleets": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId"
        ],
        "members": {
          "displayName": {
            "location": "querystring",
            "locationName": "displayName"
          },
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "principalId": {
            "location": "querystring",
            "locationName": "principalId"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "fleets"
        ],
        "members": {
          "fleets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "configuration",
                "createdAt",
                "createdBy",
                "displayName",
                "farmId",
                "fleetId",
                "maxWorkerCount",
                "minWorkerCount",
                "status",
                "workerCount"
              ],
              "members": {
                "autoScalingStatus": {},
                "configuration": {
                  "shape": "S38"
                },
                "createdAt": {
                  "shape": "S6l"
                },
                "createdBy": {},
                "displayName": {},
                "farmId": {},
                "fleetId": {},
                "maxWorkerCount": {
                  "type": "integer"
                },
                "minWorkerCount": {
                  "type": "integer"
                },
                "status": {},
                "targetWorkerCount": {
                  "type": "integer"
                },
                "updatedAt": {
                  "shape": "S6n"
                },
                "updatedBy": {},
                "workerCount": {
                  "type": "integer"
                }
              }
            }
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListJobMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "jobId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "members"
        ],
        "members": {
          "members": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "farmId",
                "identityStoreId",
                "jobId",
                "membershipLevel",
                "principalId",
                "principalType",
                "queueId"
              ],
              "members": {
                "farmId": {},
                "identityStoreId": {},
                "jobId": {},
                "membershipLevel": {},
                "principalId": {},
                "principalType": {},
                "queueId": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "principalId": {
            "location": "querystring",
            "locationName": "principalId"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "jobs"
        ],
        "members": {
          "jobs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "createdAt",
                "createdBy",
                "jobId",
                "lifecycleStatus",
                "lifecycleStatusMessage",
                "name",
                "priority"
              ],
              "members": {
                "createdAt": {
                  "shape": "S6l"
                },
                "createdBy": {},
                "endedAt": {
                  "shape": "S73"
                },
                "jobId": {},
                "lifecycleStatus": {},
                "lifecycleStatusMessage": {},
                "maxFailedTasksCount": {
                  "type": "integer"
                },
                "maxRetriesPerTask": {
                  "type": "integer"
                },
                "name": {},
                "priority": {
                  "type": "integer"
                },
                "startedAt": {
                  "shape": "S76"
                },
                "targetTaskRunStatus": {},
                "taskRunStatus": {},
                "taskRunStatusCounts": {
                  "shape": "S79"
                },
                "updatedAt": {
                  "shape": "S6n"
                },
                "updatedBy": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListLicenseEndpoints": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/license-endpoints",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "licenseEndpoints"
        ],
        "members": {
          "licenseEndpoints": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "licenseEndpointId": {},
                "status": {},
                "statusMessage": {},
                "vpcId": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListMeteredProducts": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/license-endpoints/{licenseEndpointId}/metered-products",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "licenseEndpointId"
        ],
        "members": {
          "licenseEndpointId": {
            "location": "uri",
            "locationName": "licenseEndpointId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "meteredProducts"
        ],
        "members": {
          "meteredProducts": {
            "shape": "S9t"
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListMonitors": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/monitors",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "monitors"
        ],
        "members": {
          "monitors": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "createdAt",
                "createdBy",
                "displayName",
                "identityCenterApplicationArn",
                "identityCenterInstanceArn",
                "monitorId",
                "roleArn",
                "subdomain",
                "url"
              ],
              "members": {
                "createdAt": {
                  "shape": "S6l"
                },
                "createdBy": {},
                "displayName": {},
                "identityCenterApplicationArn": {},
                "identityCenterInstanceArn": {},
                "monitorId": {},
                "roleArn": {},
                "subdomain": {},
                "updatedAt": {
                  "shape": "S6n"
                },
                "updatedBy": {},
                "url": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListQueueEnvironments": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/environments",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environments"
        ],
        "members": {
          "environments": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "priority",
                "queueEnvironmentId"
              ],
              "members": {
                "name": {},
                "priority": {
                  "type": "integer"
                },
                "queueEnvironmentId": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListQueueFleetAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queue-fleet-associations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "fleetId": {
            "location": "querystring",
            "locationName": "fleetId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "queueId": {
            "location": "querystring",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "queueFleetAssociations"
        ],
        "members": {
          "nextToken": {},
          "queueFleetAssociations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "createdAt",
                "createdBy",
                "fleetId",
                "queueId",
                "status"
              ],
              "members": {
                "createdAt": {
                  "shape": "S6l"
                },
                "createdBy": {},
                "fleetId": {},
                "queueId": {},
                "status": {},
                "updatedAt": {
                  "shape": "S6n"
                },
                "updatedBy": {}
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListQueueMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/members",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "members"
        ],
        "members": {
          "members": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "farmId",
                "identityStoreId",
                "membershipLevel",
                "principalId",
                "principalType",
                "queueId"
              ],
              "members": {
                "farmId": {},
                "identityStoreId": {},
                "membershipLevel": {},
                "principalId": {},
                "principalType": {},
                "queueId": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListQueues": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "principalId": {
            "location": "querystring",
            "locationName": "principalId"
          },
          "status": {
            "location": "querystring",
            "locationName": "status"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "queues"
        ],
        "members": {
          "nextToken": {},
          "queues": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "createdAt",
                "createdBy",
                "defaultBudgetAction",
                "displayName",
                "farmId",
                "queueId",
                "status"
              ],
              "members": {
                "blockedReason": {},
                "createdAt": {
                  "shape": "S6l"
                },
                "createdBy": {},
                "defaultBudgetAction": {},
                "displayName": {},
                "farmId": {},
                "queueId": {},
                "status": {},
                "updatedAt": {
                  "shape": "S6n"
                },
                "updatedBy": {}
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "management."
      }
    },
    "ListSessionActions": {
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/session-actions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "farmId",
          "jobId",
          "queueId"
        ],
        "members": {
          "farmId": {
            "location": "uri",
            "locationName": "farmId"
          },
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "queueId": {
            "location": "uri",
            "locationName": "queueId"
          },
          "sessionId": {
            "location": "querystring",
            "locationName": "sessionId"
          },
          "taskId": {
            "location": "querystring",
            "locationName": "taskId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "sessionActions"
        ],
        "members": {
          "nextToken": {},
          "sessionActions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "definition",
                "sessionActionId",
                "status"
              ],
              "members": {
                "definition": {
                  "type": "structure",
                  "members": {
                    "envEnter": {
                      "type": "structure",
                      "required": [
                        "environmentId"
                      ],
                      "members": {
                        "environmentId": {}
                      }
                    },
                    "envExit": {
                      "type": "structure",
                      "required": [
                        "environmentId"
                      ],
                      "members": {
                        "environmentId": {}
                      }
                    },
                    "syncInputJobAttachments": {
                      "type": "structure",
[...]
