{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-06-23",
    "endpointPrefix": "devicefarm",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Device Farm",
    "serviceId": "Device Farm",
    "signatureVersion": "v4",
    "targetPrefix": "DeviceFarm_20150623",
    "uid": "devicefarm-2015-06-23"
  },
  "operations": {
    "CreateDevicePool": {
      "input": {
        "type": "structure",
        "required": [
          "projectArn",
          "name",
          "rules"
        ],
        "members": {
          "projectArn": {
            "shape": "S2"
          },
          "name": {
            "shape": "S3"
          },
          "description": {
            "shape": "S4"
          },
          "rules": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "devicePool": {
            "shape": "Sb"
          }
        }
      }
    },
    "CreateInstanceProfile": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S3"
          },
          "description": {
            "shape": "S4"
          },
          "packageCleanup": {
            "type": "boolean"
          },
          "excludeAppPackagesFromCleanup": {
            "shape": "Sf"
          },
          "rebootAfterUse": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instanceProfile": {
            "shape": "Sh"
          }
        }
      }
    },
    "CreateNetworkProfile": {
      "input": {
        "type": "structure",
        "required": [
          "projectArn",
          "name"
        ],
        "members": {
          "projectArn": {
            "shape": "S2"
          },
          "name": {
            "shape": "S3"
          },
          "description": {
            "shape": "S4"
          },
          "type": {
            "shape": "Sj"
          },
          "uplinkBandwidthBits": {
            "type": "long"
          },
          "downlinkBandwidthBits": {
            "type": "long"
          },
          "uplinkDelayMs": {
            "type": "long"
          },
          "downlinkDelayMs": {
            "type": "long"
          },
          "uplinkJitterMs": {
            "type": "long"
          },
          "downlinkJitterMs": {
            "type": "long"
          },
          "uplinkLossPercent": {
            "shape": "Sl"
          },
          "downlinkLossPercent": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkProfile": {
            "shape": "Sn"
          }
        }
      }
    },
    "CreateProject": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S3"
          },
          "defaultJobTimeoutMinutes": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "project": {
            "shape": "Sr"
          }
        }
      }
    },
    "CreateRemoteAccessSession": {
      "input": {
        "type": "structure",
        "required": [
          "projectArn",
          "deviceArn"
        ],
        "members": {
          "projectArn": {
            "shape": "S2"
          },
          "deviceArn": {
            "shape": "S2"
          },
          "instanceArn": {
            "shape": "S2"
          },
          "sshPublicKey": {
            "type": "string",
            "max": 8192,
            "min": 0
          },
          "remoteDebugEnabled": {
            "type": "boolean"
          },
          "remoteRecordEnabled": {
            "type": "boolean"
          },
          "remoteRecordAppArn": {
            "shape": "S2"
          },
          "name": {
            "shape": "S3"
          },
          "clientId": {
            "shape": "Sv"
          },
          "configuration": {
            "type": "structure",
            "members": {
              "billingMethod": {
                "shape": "Sx"
              },
              "vpceConfigurationArns": {
                "shape": "Sy"
              }
            }
          },
          "interactionMode": {
            "shape": "Sz"
          },
          "skipAppResign": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "remoteAccessSession": {
            "shape": "S11"
          }
        }
      }
    },
    "CreateUpload": {
      "input": {
        "type": "structure",
        "required": [
          "projectArn",
          "name",
          "type"
        ],
        "members": {
          "projectArn": {
            "shape": "S2"
          },
          "name": {
            "shape": "S3"
          },
          "type": {
            "shape": "S1j"
          },
          "contentType": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "upload": {
            "shape": "S1m"
          }
        }
      }
    },
    "CreateVPCEConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "vpceConfigurationName",
          "vpceServiceName",
          "serviceDnsName"
        ],
        "members": {
          "vpceConfigurationName": {
            "shape": "S1s"
          },
          "vpceServiceName": {
            "shape": "S1t"
          },
          "serviceDnsName": {
            "shape": "S1u"
          },
          "vpceConfigurationDescription": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "vpceConfiguration": {
            "shape": "S1x"
          }
        }
      }
    },
    "DeleteDevicePool": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteInstanceProfile": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteNetworkProfile": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteProject": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRemoteAccessSession": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRun": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteUpload": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteVPCEConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAccountSettings": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "accountSettings": {
            "type": "structure",
            "members": {
              "awsAccountNumber": {
                "type": "string",
                "max": 16,
                "min": 2
              },
              "unmeteredDevices": {
                "shape": "S2i"
              },
              "unmeteredRemoteAccessDevices": {
                "shape": "S2i"
              },
              "maxJobTimeoutMinutes": {
                "type": "integer"
              },
              "trialMinutes": {
                "type": "structure",
                "members": {
                  "total": {
                    "type": "double"
                  },
                  "remaining": {
                    "type": "double"
                  }
                }
              },
              "maxSlots": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "integer"
                }
              },
              "defaultJobTimeoutMinutes": {
                "type": "integer"
              },
              "skipAppResign": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "GetDevice": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "device": {
            "shape": "S14"
          }
        }
      }
    },
    "GetDeviceInstance": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deviceInstance": {
            "shape": "S1c"
          }
        }
      }
    },
    "GetDevicePool": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "devicePool": {
            "shape": "Sb"
          }
        }
      }
    },
    "GetDevicePoolCompatibility": {
      "input": {
        "type": "structure",
        "required": [
          "devicePoolArn"
        ],
        "members": {
          "devicePoolArn": {
            "shape": "S2"
          },
          "appArn": {
            "shape": "S2"
          },
          "testType": {
            "shape": "S2s"
          },
          "test": {
            "shape": "S2t"
          },
          "configuration": {
            "shape": "S2w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "compatibleDevices": {
            "shape": "S34"
          },
          "incompatibleDevices": {
            "shape": "S34"
          }
        }
      }
    },
    "GetInstanceProfile": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instanceProfile": {
            "shape": "Sh"
          }
        }
      }
    },
    "GetJob": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "job": {
            "shape": "S3c"
          }
        }
      }
    },
    "GetNetworkProfile": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkProfile": {
            "shape": "Sn"
          }
        }
      }
    },
    "GetOfferingStatus": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "current": {
            "shape": "S3k"
          },
          "nextPeriod": {
            "shape": "S3k"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "GetProject": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "project": {
            "shape": "Sr"
          }
        }
      }
    },
    "GetRemoteAccessSession": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "remoteAccessSession": {
            "shape": "S11"
          }
        }
      }
    },
    "GetRun": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "run": {
            "shape": "S41"
          }
        }
      }
    },
    "GetSuite": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "suite": {
            "shape": "S45"
          }
        }
      }
    },
    "GetTest": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "test": {
            "shape": "S48"
          }
        }
      }
    },
    "GetUpload": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "upload": {
            "shape": "S1m"
          }
        }
      }
    },
    "GetVPCEConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "vpceConfiguration": {
            "shape": "S1x"
          }
        }
      }
    },
    "InstallToRemoteAccessSession": {
      "input": {
        "type": "structure",
        "required": [
          "remoteAccessSessionArn",
          "appArn"
        ],
        "members": {
          "remoteAccessSessionArn": {
            "shape": "S2"
          },
          "appArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "appUpload": {
            "shape": "S1m"
          }
        }
      }
    },
    "ListArtifacts": {
      "input": {
        "type": "structure",
        "required": [
          "arn",
          "type"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "type": {
            "type": "string",
            "enum": [
              "SCREENSHOT",
              "FILE",
              "LOG"
            ]
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "artifacts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {
                  "shape": "S2"
                },
                "name": {
                  "shape": "S3"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "SCREENSHOT",
                    "DEVICE_LOG",
                    "MESSAGE_LOG",
                    "VIDEO_LOG",
                    "RESULT_LOG",
                    "SERVICE_LOG",
                    "WEBKIT_LOG",
                    "INSTRUMENTATION_OUTPUT",
                    "EXERCISER_MONKEY_OUTPUT",
                    "CALABASH_JSON_OUTPUT",
                    "CALABASH_PRETTY_OUTPUT",
                    "CALABASH_STANDARD_OUTPUT",
                    "CALABASH_JAVA_XML_OUTPUT",
                    "AUTOMATION_OUTPUT",
                    "APPIUM_SERVER_OUTPUT",
                    "APPIUM_JAVA_OUTPUT",
                    "APPIUM_JAVA_XML_OUTPUT",
                    "APPIUM_PYTHON_OUTPUT",
                    "APPIUM_PYTHON_XML_OUTPUT",
                    "EXPLORER_EVENT_LOG",
                    "EXPLORER_SUMMARY_LOG",
                    "APPLICATION_CRASH_REPORT",
                    "XCTEST_LOG",
                    "VIDEO",
                    "CUSTOMER_ARTIFACT",
                    "CUSTOMER_ARTIFACT_LOG",
                    "TESTSPEC_OUTPUT"
                  ]
                },
                "extension": {},
                "url": {
                  "shape": "S1o"
                }
              }
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListDeviceInstances": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deviceInstances": {
            "shape": "S1b"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListDevicePools": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "type": {
            "shape": "Sc"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "devicePools": {
            "type": "list",
            "member": {
              "shape": "Sb"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListDevices": {
      "input": {
        "type": "structure",
        "members": {
          "arn": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "devices": {
            "type": "list",
            "member": {
              "shape": "S14"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListInstanceProfiles": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instanceProfiles": {
            "type": "list",
            "member": {
              "shape": "Sh"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListJobs": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "jobs": {
            "type": "list",
            "member": {
              "shape": "S3c"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListNetworkProfiles": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "type": {
            "shape": "Sj"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkProfiles": {
            "type": "list",
            "member": {
              "shape": "Sn"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListOfferingPromotions": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "offeringPromotions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "id": {
                  "shape": "S56"
                },
                "description": {
                  "shape": "S4"
                }
              }
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListOfferingTransactions": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "offeringTransactions": {
            "type": "list",
            "member": {
              "shape": "S5a"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListOfferings": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "offerings": {
            "type": "list",
            "member": {
              "shape": "S3o"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListProjects": {
      "input": {
        "type": "structure",
        "members": {
          "arn": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "projects": {
            "type": "list",
            "member": {
              "shape": "Sr"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListRemoteAccessSessions": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "remoteAccessSessions": {
            "type": "list",
            "member": {
              "shape": "S11"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListRuns": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "runs": {
            "type": "list",
            "member": {
              "shape": "S41"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListSamples": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "samples": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {
                  "shape": "S2"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "CPU",
                    "MEMORY",
                    "THREADS",
                    "RX_RATE",
                    "TX_RATE",
                    "RX",
                    "TX",
                    "NATIVE_FRAMES",
                    "NATIVE_FPS",
                    "NATIVE_MIN_DRAWTIME",
                    "NATIVE_AVG_DRAWTIME",
                    "NATIVE_MAX_DRAWTIME",
                    "OPENGL_FRAMES",
                    "OPENGL_FPS",
                    "OPENGL_MIN_DRAWTIME",
                    "OPENGL_AVG_DRAWTIME",
                    "OPENGL_MAX_DRAWTIME"
                  ]
                },
                "url": {
                  "shape": "S1o"
                }
              }
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListSuites": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "suites": {
            "type": "list",
            "member": {
              "shape": "S45"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListTests": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tests": {
            "type": "list",
            "member": {
              "shape": "S48"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListUniqueProblems": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "uniqueProblems": {
            "type": "map",
            "key": {
              "shape": "S13"
            },
            "value": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "message": {
                    "shape": "S4"
                  },
                  "problems": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "run": {
                          "shape": "S66"
                        },
                        "job": {
                          "shape": "S66"
                        },
                        "suite": {
                          "shape": "S66"
                        },
                        "test": {
                          "shape": "S66"
                        },
                        "device": {
                          "shape": "S14"
                        },
                        "result": {
                          "shape": "S13"
                        },
                        "message": {
                          "shape": "S4"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListUploads": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "type": {
            "shape": "S1j"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "uploads": {
            "type": "list",
            "member": {
              "shape": "S1m"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "ListVPCEConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "vpceConfigurations": {
            "type": "list",
            "member": {
              "shape": "S1x"
            }
          },
          "nextToken": {
            "shape": "S3i"
          }
        }
      }
    },
    "PurchaseOffering": {
      "input": {
        "type": "structure",
        "members": {
          "offeringId": {
            "shape": "S3l"
          },
          "quantity": {
            "type": "integer"
          },
          "offeringPromotionId": {
            "shape": "S56"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "offeringTransaction": {
            "shape": "S5a"
          }
        }
      }
    },
    "RenewOffering": {
      "input": {
        "type": "structure",
        "members": {
          "offeringId": {
            "shape": "S3l"
          },
          "quantity": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "offeringTransaction": {
            "shape": "S5a"
          }
        }
      }
    },
    "ScheduleRun": {
      "input": {
        "type": "structure",
        "required": [
          "projectArn",
          "devicePoolArn",
          "test"
        ],
        "members": {
          "projectArn": {
            "shape": "S2"
          },
          "appArn": {
            "shape": "S2"
          },
          "devicePoolArn": {
            "shape": "S2"
          },
          "name": {
            "shape": "S3"
          },
          "test": {
            "shape": "S2t"
          },
          "configuration": {
            "shape": "S2w"
          },
          "executionConfiguration": {
            "type": "structure",
            "members": {
              "jobTimeoutMinutes": {
                "type": "integer"
              },
              "accountsCleanup": {
                "type": "boolean"
              },
              "appPackagesCleanup": {
                "type": "boolean"
              },
              "videoCapture": {
                "type": "boolean"
              },
              "skipAppResign": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "run": {
            "shape": "S41"
          }
        }
      }
    },
    "StopJob": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "job": {
            "shape": "S3c"
          }
        }
      }
    },
    "StopRemoteAccessSession": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "remoteAccessSession": {
            "shape": "S11"
          }
        }
      }
    },
    "StopRun": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "run": {
            "shape": "S41"
          }
        }
      }
    },
    "UpdateDeviceInstance": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "profileArn": {
            "shape": "S2"
          },
          "labels": {
            "shape": "S1d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deviceInstance": {
            "shape": "S1c"
          }
        }
      }
    },
    "UpdateDevicePool": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "name": {
            "shape": "S3"
          },
          "description": {
            "shape": "S4"
          },
          "rules": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "devicePool": {
            "shape": "Sb"
          }
        }
      }
    },
    "UpdateInstanceProfile": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "name": {
            "shape": "S3"
          },
          "description": {
            "shape": "S4"
          },
          "packageCleanup": {
            "type": "boolean"
          },
          "excludeAppPackagesFromCleanup": {
            "shape": "Sf"
          },
          "rebootAfterUse": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instanceProfile": {
            "shape": "Sh"
          }
        }
      }
    },
    "UpdateNetworkProfile": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "name": {
            "shape": "S3"
          },
          "description": {
            "shape": "S4"
          },
          "type": {
            "shape": "Sj"
          },
          "uplinkBandwidthBits": {
            "type": "long"
          },
          "downlinkBandwidthBits": {
            "type": "long"
          },
          "uplinkDelayMs": {
            "type": "long"
          },
          "downlinkDelayMs": {
            "type": "long"
          },
          "uplinkJitterMs": {
            "type": "long"
          },
          "downlinkJitterMs": {
            "type": "long"
          },
          "uplinkLossPercent": {
            "shape": "Sl"
          },
          "downlinkLossPercent": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkProfile": {
            "shape": "Sn"
          }
        }
      }
    },
    "UpdateProject": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "name": {
            "shape": "S3"
          },
          "defaultJobTimeoutMinutes": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "project": {
            "shape": "Sr"
          }
        }
      }
    },
    "UpdateUpload": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "name": {
            "shape": "S3"
          },
          "contentType": {
            "shape": "S1k"
          },
          "editContent": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "upload": {
            "shape": "S1m"
          }
        }
      }
    },
    "UpdateVPCEConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "arn"
        ],
        "members": {
          "arn": {
            "shape": "S2"
          },
          "vpceConfigurationName": {
            "shape": "S1s"
          },
          "vpceServiceName": {
            "shape": "S1t"
          },
          "serviceDnsName": {
            "shape": "S1u"
          },
          "vpceConfigurationDescription": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "vpceConfiguration": {
            "shape": "S1x"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "min": 32
    },
    "S3": {
      "type": "string",
      "max": 256,
      "min": 0
    },
    "S4": {
      "type": "string",
      "max": 16384,
      "min": 0
    },
    "S5": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "attribute": {
            "shape": "S7"
          },
          "operator": {
            "type": "string",
            "enum": [
              "EQUALS",
              "LESS_THAN",
              "GREATER_THAN",
              "IN",
              "NOT_IN",
              "CONTAINS"
            ]
          },
          "value": {}
        }
      }
    },
    "S7": {
      "type": "string",
      "enum": [
        "ARN",
        "PLATFORM",
        "FORM_FACTOR",
        "MANUFACTURER",
        "REMOTE_ACCESS_ENABLED",
        "REMOTE_DEBUG_ENABLED",
        "APPIUM_VERSION",
        "INSTANCE_ARN",
        "INSTANCE_LABELS",
        "FLEET_TYPE"
      ]
    },
    "Sb": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "name": {
          "shape": "S3"
        },
        "description": {
          "shape": "S4"
        },
        "type": {
          "shape": "Sc"
        },
        "rules": {
          "shape": "S5"
        }
      }
    },
    "Sc": {
      "type": "string",
      "enum": [
        "CURATED",
        "PRIVATE"
      ]
    },
    "Sf": {
      "type": "list",
      "member": {}
    },
    "Sh": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "packageCleanup": {
          "type": "boolean"
        },
        "excludeAppPackagesFromCleanup": {
          "shape": "Sf"
        },
        "rebootAfterUse": {
          "type": "boolean"
        },
        "name": {
          "shape": "S3"
        },
        "description": {
          "shape": "S4"
        }
      }
    },
    "Sj": {
      "type": "string",
      "enum": [
        "CURATED",
        "PRIVATE"
      ]
    },
    "Sl": {
      "type": "integer",
      "max": 100,
      "min": 0
    },
    "Sn": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "name": {
          "shape": "S3"
        },
        "description": {
          "shape": "S4"
        },
        "type": {
          "shape": "Sj"
        },
        "uplinkBandwidthBits": {
          "type": "long"
        },
        "downlinkBandwidthBits": {
          "type": "long"
        },
        "uplinkDelayMs": {
          "type": "long"
        },
        "downlinkDelayMs": {
          "type": "long"
        },
        "uplinkJitterMs": {
          "type": "long"
        },
        "downlinkJitterMs": {
          "type": "long"
        },
        "uplinkLossPercent": {
          "shape": "Sl"
        },
        "downlinkLossPercent": {
          "shape": "Sl"
        }
      }
    },
    "Sr": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "name": {
          "shape": "S3"
        },
        "defaultJobTimeoutMinutes": {
          "type": "integer"
        },
        "created": {
          "type": "timestamp"
        }
      }
    },
    "Sv": {
      "type": "string",
      "max": 64,
      "min": 0
    },
    "Sx": {
      "type": "string",
      "enum": [
        "METERED",
        "UNMETERED"
      ]
    },
    "Sy": {
      "type": "list",
      "member": {
        "shape": "S2"
      }
    },
    "Sz": {
      "type": "string",
      "enum": [
        "INTERACTIVE",
        "NO_VIDEO",
        "VIDEO_ONLY"
      ],
      "max": 64,
      "min": 0
    },
    "S11": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "name": {
          "shape": "S3"
        },
        "created": {
          "type": "timestamp"
        },
        "status": {
          "shape": "S12"
        },
        "result": {
          "shape": "S13"
        },
        "message": {
          "shape": "S4"
        },
        "started": {
          "type": "timestamp"
        },
        "stopped": {
          "type": "timestamp"
        },
        "device": {
          "shape": "S14"
        },
        "instanceArn": {
          "shape": "S2"
        },
        "remoteDebugEnabled": {
          "type": "boolean"
        },
        "remoteRecordEnabled": {
          "type": "boolean"
        },
        "remoteRecordAppArn": {
          "shape": "S2"
        },
        "hostAddress": {
          "type": "string",
          "max": 1024
        },
        "clientId": {
          "shape": "Sv"
        },
        "billingMethod": {
          "shape": "Sx"
        },
        "deviceMinutes": {
          "shape": "S1g"
        },
        "endpoint": {},
        "deviceUdid": {},
        "interactionMode": {
          "shape": "Sz"
        },
        "skipAppResign": {
          "type": "boolean"
        }
      }
    },
    "S12": {
      "type": "string",
      "enum": [
        "PENDING",
        "PENDING_CONCURRENCY",
        "PENDING_DEVICE",
        "PROCESSING",
        "SCHEDULING",
        "PREPARING",
        "RUNNING",
        "COMPLETED",
        "STOPPING"
      ]
    },
    "S13": {
      "type": "string",
      "enum": [
        "PENDING",
        "PASSED",
        "WARNED",
        "FAILED",
        "SKIPPED",
        "ERRORED",
        "STOPPED"
      ]
    },
    "S14": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "name": {
          "shape": "S3"
        },
        "manufacturer": {},
        "model": {},
        "modelId": {},
        "formFactor": {
          "type": "string",
          "enum": [
            "PHONE",
            "TABLET"
          ]
        },
        "platform": {
          "shape": "S16"
        },
        "os": {},
        "cpu": {
          "type": "structure",
          "members": {
            "frequency": {},
            "architecture": {},
            "clock": {
              "type": "double"
            }
          }
        },
        "resolution": {
          "type": "structure",
          "members": {
            "width": {
              "type": "integer"
            },
            "height": {
              "type": "integer"
            }
          }
        },
        "heapSize": {
          "type": "long"
        },
        "memory": {
          "type": "long"
        },
        "image": {},
        "carrier": {},
        "radio": {},
        "remoteAccessEnabled": {
          "type": "boolean"
        },
        "remoteDebugEnabled": {
          "type": "boolean"
        },
        "fleetType": {},
        "fleetName": {},
        "instances": {
          "shape": "S1b"
        }
      }
    },
    "S16": {
      "type": "string",
      "enum": [
        "ANDROID",
        "IOS"
      ]
    },
    "S1b": {
      "type": "list",
      "member": {
        "shape": "S1c"
      }
    },
    "S1c": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "deviceArn": {
          "shape": "S2"
        },
        "labels": {
          "shape": "S1d"
        },
        "status": {
          "type": "string",
          "enum": [
            "IN_USE",
            "PREPARING",
            "AVAILABLE",
            "NOT_AVAILABLE"
          ]
        },
        "udid": {},
        "instanceProfile": {
          "shape": "Sh"
        }
      }
    },
    "S1d": {
      "type": "list",
      "member": {}
    },
    "S1g": {
      "type": "structure",
      "members": {
        "total": {
          "type": "double"
        },
        "metered": {
          "type": "double"
        },
        "unmetered": {
          "type": "double"
        }
      }
    },
    "S1j": {
      "type": "string",
      "enum": [
        "ANDROID_APP",
        "IOS_APP",
        "WEB_APP",
        "EXTERNAL_DATA",
        "APPIUM_JAVA_JUNIT_TEST_PACKAGE",
        "APPIUM_JAVA_TESTNG_TEST_PACKAGE",
        "APPIUM_PYTHON_TEST_PACKAGE",
        "APPIUM_WEB_JAVA_JUNIT_TEST_PACKAGE",
        "APPIUM_WEB_JAVA_TESTNG_TEST_PACKAGE",
        "APPIUM_WEB_PYTHON_TEST_PACKAGE",
        "CALABASH_TEST_PACKAGE",
        "INSTRUMENTATION_TEST_PACKAGE",
        "UIAUTOMATION_TEST_PACKAGE",
        "UIAUTOMATOR_TEST_PACKAGE",
        "XCTEST_TEST_PACKAGE",
        "XCTEST_UI_TEST_PACKAGE",
        "APPIUM_JAVA_JUNIT_TEST_SPEC",
        "APPIUM_JAVA_TESTNG_TEST_SPEC",
        "APPIUM_PYTHON_TEST_SPEC",
        "APPIUM_WEB_JAVA_JUNIT_TEST_SPEC",
        "APPIUM_WEB_JAVA_TESTNG_TEST_SPEC",
        "APPIUM_WEB_PYTHON_TEST_SPEC",
        "INSTRUMENTATION_TEST_SPEC",
        "XCTEST_UI_TEST_SPEC"
      ]
    },
    "S1k": {
      "type": "string",
      "max": 64,
      "min": 0
    },
    "S1m": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "name": {
          "shape": "S3"
        },
        "created": {
          "type": "timestamp"
        },
        "type": {
          "shape": "S1j"
        },
        "status": {
          "type": "string",
          "enum": [
            "INITIALIZED",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "url": {
          "shape": "S1o"
        },
        "metadata": {
          "type": "string",
          "max": 8192,
          "min": 0
        },
        "contentType": {
          "shape": "S1k"
        },
        "message": {
          "shape": "S4"
        },
        "category": {
          "type": "string",
          "enum": [
            "CURATED",
            "PRIVATE"
          ]
        }
      }
    },
    "S1o": {
      "type": "string",
      "max": 2048,
      "min": 0
    },
    "S1s": {
      "type": "string",
      "max": 1024,
      "min": 0
    },
    "S1t": {
      "type": "string",
      "max": 2048,
      "min": 0
    },
    "S1u": {
      "type": "string",
      "max": 2048,
      "min": 0
    },
    "S1v": {
      "type": "string",
      "max": 2048,
      "min": 0
    },
    "S1x": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "vpceConfigurationName": {
          "shape": "S1s"
        },
        "vpceServiceName": {
          "shape": "S1t"
        },
        "serviceDnsName": {
          "shape": "S1u"
        },
        "vpceConfigurationDescription": {
          "shape": "S1v"
        }
      }
    },
    "S2i": {
      "type": "map",
      "key": {
        "shape": "S16"
      },
      "value": {
        "type": "integer"
      }
    },
    "S2s": {
      "type": "string",
      "enum": [
        "BUILTIN_FUZZ",
        "BUILTIN_EXPLORER",
        "WEB_PERFORMANCE_PROFILE",
        "APPIUM_JAVA_JUNIT",
        "APPIUM_JAVA_TESTNG",
        "APPIUM_PYTHON",
        "APPIUM_WEB_JAVA_JUNIT",
        "APPIUM_WEB_JAVA_TESTNG",
        "APPIUM_WEB_PYTHON",
        "CALABASH",
        "INSTRUMENTATION",
        "UIAUTOMATION",
        "UIAUTOMATOR",
        "XCTEST",
        "XCTEST_UI",
        "REMOTE_ACCESS_RECORD",
        "REMOTE_ACCESS_REPLAY"
      ]
    },
    "S2t": {
      "type": "structure",
      "required": [
        "type"
      ],
      "members": {
        "type": {
          "shape": "S2s"
        },
        "testPackageArn": {
          "shape": "S2"
        },
        "testSpecArn": {
          "shape": "S2"
        },
        "filter": {
          "type": "string",
          "max": 8192,
          "min": 0
        },
        "parameters": {
          "type": "map",
          "key": {},
          "value": {}
        }
      }
    },
    "S2w": {
      "type": "structure",
      "members": {
        "extraDataPackageArn": {
          "shape": "S2"
        },
        "networkProfileArn": {
          "shape": "S2"
        },
        "locale": {},
        "location": {
          "shape": "S2x"
        },
        "vpceConfigurationArns": {
          "shape": "Sy"
        },
        "customerArtifactPaths": {
          "shape": "S2y"
        },
        "radios": {
          "shape": "S32"
        },
        "auxiliaryApps": {
          "shape": "Sy"
        },
        "billingMethod": {
          "shape": "Sx"
        }
      }
    },
    "S2x": {
      "type": "structure",
      "required": [
        "latitude",
        "longitude"
      ],
      "members": {
        "latitude": {
          "type": "double"
        },
        "longitude": {
          "type": "double"
        }
      }
    },
    "S2y": {
      "type": "structure",
      "members": {
        "iosPaths": {
          "type": "list",
          "member": {}
        },
        "androidPaths": {
          "type": "list",
          "member": {}
        },
        "deviceHostPaths": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S32": {
      "type": "structure",
      "members": {
        "wifi": {
          "type": "boolean"
        },
        "bluetooth": {
          "type": "boolean"
        },
        "nfc": {
          "type": "boolean"
        },
        "gps": {
          "type": "boolean"
        }
      }
    },
    "S34": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "device": {
            "shape": "S14"
          },
          "compatible": {
            "type": "boolean"
          },
          "incompatibilityMessages": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "message": {
                  "shape": "S4"
                },
                "type": {
                  "shape": "S7"
                }
              }
            }
          }
        }
      }
    },
    "S3c": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "name": {
          "shape": "S3"
        },
        "type": {
          "shape": "S2s"
        },
        "created": {
          "type": "timestamp"
        },
        "status": {
          "shape": "S12"
        },
        "result": {
          "shape": "S13"
        },
        "started": {
          "type": "timestamp"
        },
        "stopped": {
          "type": "timestamp"
        },
        "counters": {
          "shape": "S3d"
        },
        "message": {
          "shape": "S4"
        },
        "device": {
          "shape": "S14"
        },
        "instanceArn": {
          "shape": "S2"
        },
        "deviceMinutes": {
          "shape": "S1g"
        },
        "videoEndpoint": {},
        "videoCapture": {
          "type": "boolean"
        }
      }
    },
    "S3d": {
      "type": "structure",
      "members": {
        "total": {
          "type": "integer"
        },
        "passed": {
          "type": "integer"
        },
        "failed": {
          "type": "integer"
        },
        "warned": {
          "type": "integer"
        },
        "errored": {
          "type": "integer"
        },
        "stopped": {
          "type": "integer"
        },
        "skipped": {
          "type": "integer"
        }
      }
    },
    "S3i": {
      "type": "string",
      "max": 1024,
      "min": 4
    },
    "S3k": {
      "type": "map",
      "key": {
        "shape": "S3l"
      },
      "value": {
        "shape": "S3m"
      }
    },
    "S3l": {
      "type": "string",
      "min": 32
    },
    "S3m": {
      "type": "structure",
      "members": {
        "type": {
          "type": "string",
          "enum": [
            "PURCHASE",
            "RENEW",
            "SYSTEM"
          ]
        },
        "offering": {
          "shape": "S3o"
        },
        "quantity": {
          "type": "integer"
        },
        "effectiveOn": {
          "type": "timestamp"
        }
      }
    },
    "S3o": {
      "type": "structure",
      "members": {
        "id": {
          "shape": "S3l"
        },
        "description": {
          "shape": "S4"
        },
        "type": {
          "type": "string",
          "enum": [
            "RECURRING"
          ]
        },
        "platform": {
          "shape": "S16"
        },
        "recurringCharges": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "cost": {
                "shape": "S3s"
              },
              "frequency": {
                "type": "string",
                "enum": [
                  "MONTHLY"
                ]
              }
            }
          }
        }
      }
    },
    "S3s": {
      "type": "structure",
      "members": {
        "amount": {
          "type": "double"
        },
        "currencyCode": {
          "type": "string",
          "enum": [
            "USD"
          ]
        }
      }
    },
    "S41": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "name": {
          "shape": "S3"
        },
        "type": {
          "shape": "S2s"
        },
        "platform": {
          "shape": "S16"
        },
        "created": {
          "type": "timestamp"
        },
        "status": {
          "shape": "S12"
        },
        "result": {
          "shape": "S13"
        },
        "started": {
          "type": "timestamp"
        },
        "stopped": {
          "type": "timestamp"
        },
        "counters": {
          "shape": "S3d"
        },
        "message": {
          "shape": "S4"
        },
        "totalJobs": {
          "type": "integer"
        },
        "completedJobs": {
          "type": "integer"
        },
        "billingMethod": {
          "shape": "Sx"
        },
        "deviceMinutes": {
          "shape": "S1g"
        },
        "networkProfile": {
          "shape": "Sn"
        },
        "parsingResultUrl": {},
        "resultCode": {
          "type": "string",
          "enum": [
            "PARSING_FAILED",
            "VPC_ENDPOINT_SETUP_FAILED"
          ]
        },
        "seed": {
          "type": "integer"
        },
        "appUpload": {
          "shape": "S2"
        },
        "eventCount": {
          "type": "integer"
        },
        "jobTimeoutMinutes": {
          "type": "integer"
        },
        "devicePoolArn": {
          "shape": "S2"
        },
        "locale": {},
        "radios": {
          "shape": "S32"
        },
        "location": {
          "shape": "S2x"
        },
        "customerArtifactPaths": {
          "shape": "S2y"
        },
        "webUrl": {},
        "skipAppResign": {
          "type": "boolean"
        },
        "testSpecArn": {
          "shape": "S2"
        }
      }
    },
    "S45": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "name": {
          "shape": "S3"
        },
        "type": {
          "shape": "S2s"
        },
        "created": {
          "type": "timestamp"
        },
        "status": {
          "shape": "S12"
        },
        "result": {
          "shape": "S13"
        },
        "started": {
          "type": "timestamp"
        },
        "stopped": {
          "type": "timestamp"
        },
        "counters": {
          "shape": "S3d"
        },
        "message": {
          "shape": "S4"
        },
        "deviceMinutes": {
          "shape": "S1g"
        }
      }
    },
    "S48": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "name": {
          "shape": "S3"
        },
        "type": {
          "shape": "S2s"
        },
        "created": {
          "type": "timestamp"
        },
        "status": {
          "shape": "S12"
        },
        "result": {
          "shape": "S13"
        },
        "started": {
          "type": "timestamp"
        },
        "stopped": {
          "type": "timestamp"
        },
        "counters": {
          "shape": "S3d"
        },
        "message": {
          "shape": "S4"
        },
        "deviceMinutes": {
          "shape": "S1g"
        }
      }
    },
    "S56": {
      "type": "string",
      "min": 4
    },
    "S5a": {
      "type": "structure",
      "members": {
        "offeringStatus": {
          "shape": "S3m"
        },
        "transactionId": {
          "type": "string",
          "min": 32
        },
        "offeringPromotionId": {
          "shape": "S56"
        },
        "createdOn": {
          "type": "timestamp"
        },
        "cost": {
          "shape": "S3s"
        }
      }
    },
    "S66": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S2"
        },
        "name": {
          "shape": "S3"
        }
      }
    }
  }
}