{
  "metadata": {
    "apiVersion": "2020-12-01",
    "endpointPrefix": "devops-guru",
    "signingName": "devops-guru",
    "serviceFullName": "Amazon DevOps Guru",
    "serviceId": "DevOps Guru",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "devops-guru-2020-12-01",
    "signatureVersion": "v4"
  },
  "operations": {
    "AddNotificationChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Config": {
            "shape": "S2"
          }
        },
        "required": [
          "Config"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Id": {}
        }
      }
    },
    "DescribeAccountHealth": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/health",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "MetricsAnalyzed": {
            "type": "integer"
          },
          "OpenProactiveInsights": {
            "type": "integer"
          },
          "OpenReactiveInsights": {
            "type": "integer"
          }
        }
      }
    },
    "DescribeAccountOverview": {
      "http": {
        "requestUri": "/accounts/overview",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "FromTime": {
            "shape": "Sb"
          },
          "ToTime": {
            "shape": "Sb"
          }
        },
        "required": [
          "FromTime"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "MeanTimeToRecoverInMilliseconds": {
            "type": "long"
          },
          "ProactiveInsights": {
            "type": "integer"
          },
          "ReactiveInsights": {
            "type": "integer"
          }
        }
      }
    },
    "DescribeAnomaly": {
      "http": {
        "method": "GET",
        "requestUri": "/anomalies/{Id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        },
        "required": [
          "Id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ProactiveAnomaly": {
            "type": "structure",
            "members": {
              "AnomalyTimeRange": {
                "shape": "Si"
              },
              "AssociatedInsightId": {},
              "Id": {},
              "Limit": {
                "type": "double"
              },
              "PredictionTimeRange": {
                "shape": "Sl"
              },
              "ResourceCollection": {
                "shape": "Sm"
              },
              "Severity": {},
              "SourceDetails": {
                "shape": "Sr"
              },
              "Status": {},
              "UpdateTime": {
                "shape": "Sb"
              }
            }
          },
          "ReactiveAnomaly": {
            "type": "structure",
            "members": {
              "AnomalyTimeRange": {
                "shape": "Si"
              },
              "AssociatedInsightId": {},
              "Id": {},
              "ResourceCollection": {
                "shape": "Sm"
              },
              "Severity": {},
              "SourceDetails": {
                "shape": "Sr"
              },
              "Status": {}
            }
          }
        }
      }
    },
    "DescribeInsight": {
      "http": {
        "method": "GET",
        "requestUri": "/insights/{Id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        },
        "required": [
          "Id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ProactiveInsight": {
            "type": "structure",
            "members": {
              "Id": {},
              "InsightTimeRange": {
                "shape": "S12"
              },
              "Name": {},
              "PredictionTimeRange": {
                "shape": "Sl"
              },
              "ResourceCollection": {
                "shape": "Sm"
              },
              "Severity": {},
              "SsmOpsItemId": {},
              "Status": {}
            }
          },
          "ReactiveInsight": {
            "type": "structure",
            "members": {
              "Id": {},
              "InsightTimeRange": {
                "shape": "S12"
              },
              "Name": {},
              "ResourceCollection": {
                "shape": "Sm"
              },
              "Severity": {},
              "SsmOpsItemId": {},
              "Status": {}
            }
          }
        }
      }
    },
    "DescribeResourceCollectionHealth": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/health/resource-collection/{ResourceCollectionType}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "ResourceCollectionType": {
            "location": "uri",
            "locationName": "ResourceCollectionType"
          }
        },
        "required": [
          "ResourceCollectionType"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CloudFormation": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Insight": {
                  "type": "structure",
                  "members": {
                    "MeanTimeToRecoverInMilliseconds": {
                      "type": "long"
                    },
                    "OpenProactiveInsights": {
                      "type": "integer"
                    },
                    "OpenReactiveInsights": {
                      "type": "integer"
                    }
                  }
                },
                "StackName": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeServiceIntegration": {
      "http": {
        "method": "GET",
        "requestUri": "/service-integrations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "ServiceIntegration": {
            "type": "structure",
            "members": {
              "OpsCenter": {
                "type": "structure",
                "members": {
                  "OptInStatus": {}
                }
              }
            }
          }
        }
      }
    },
    "GetResourceCollection": {
      "http": {
        "method": "GET",
        "requestUri": "/resource-collections/{ResourceCollectionType}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "ResourceCollectionType": {
            "location": "uri",
            "locationName": "ResourceCollectionType"
          }
        },
        "required": [
          "ResourceCollectionType"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "ResourceCollection": {
            "type": "structure",
            "members": {
              "CloudFormation": {
                "type": "structure",
                "members": {
                  "StackNames": {
                    "shape": "So"
                  }
                }
              }
            }
          }
        }
      }
    },
    "ListAnomaliesForInsight": {
      "http": {
        "requestUri": "/anomalies/insight/{InsightId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InsightId": {
            "location": "uri",
            "locationName": "InsightId"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "StartTimeRange": {
            "shape": "S1o"
          }
        },
        "required": [
          "InsightId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "ProactiveAnomalies": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AnomalyTimeRange": {
                  "shape": "Si"
                },
                "AssociatedInsightId": {},
                "Id": {},
                "Limit": {
                  "type": "double"
                },
                "PredictionTimeRange": {
                  "shape": "Sl"
                },
                "ResourceCollection": {
                  "shape": "Sm"
                },
                "Severity": {},
                "SourceDetails": {
                  "shape": "Sr"
                },
                "Status": {},
                "UpdateTime": {
                  "shape": "Sb"
                }
              }
            }
          },
          "ReactiveAnomalies": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AnomalyTimeRange": {
                  "shape": "Si"
                },
                "AssociatedInsightId": {},
                "Id": {},
                "ResourceCollection": {
                  "shape": "Sm"
                },
                "Severity": {},
                "SourceDetails": {
                  "shape": "Sr"
                },
                "Status": {}
              }
            }
          }
        }
      }
    },
    "ListEvents": {
      "http": {
        "requestUri": "/events",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "type": "structure",
            "members": {
              "DataSource": {},
              "EventClass": {},
              "EventSource": {},
              "EventTimeRange": {
                "type": "structure",
                "members": {
                  "FromTime": {
                    "shape": "Sb"
                  },
                  "ToTime": {
                    "shape": "Sb"
                  }
                },
                "required": [
                  "ToTime",
                  "FromTime"
                ]
              },
              "InsightId": {},
              "ResourceCollection": {
                "shape": "Sm"
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        },
        "required": [
          "Filters"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Events": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DataSource": {},
                "EventClass": {},
                "EventSource": {},
                "Id": {},
                "Name": {},
                "ResourceCollection": {
                  "shape": "Sm"
                },
                "Resources": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Arn": {},
                      "Name": {},
                      "Type": {}
                    }
                  }
                },
                "Time": {
                  "shape": "Sb"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListInsights": {
      "http": {
        "requestUri": "/insights",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "StatusFilter": {
            "type": "structure",
            "members": {
              "Any": {
                "type": "structure",
                "members": {
                  "StartTimeRange": {
                    "shape": "S1o"
                  },
                  "Type": {}
                },
                "required": [
                  "Type",
                  "StartTimeRange"
                ]
              },
              "Closed": {
                "type": "structure",
                "members": {
                  "EndTimeRange": {
                    "type": "structure",
                    "members": {
                      "FromTime": {
                        "shape": "Sb"
                      },
                      "ToTime": {
                        "shape": "Sb"
                      }
                    }
                  },
                  "Type": {}
                },
                "required": [
                  "Type",
                  "EndTimeRange"
                ]
              },
              "Ongoing": {
                "type": "structure",
                "members": {
                  "Type": {}
                },
                "required": [
                  "Type"
                ]
              }
            }
          }
        },
        "required": [
          "StatusFilter"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "ProactiveInsights": {
            "shape": "S2i"
          },
          "ReactiveInsights": {
            "shape": "S2k"
          }
        }
      }
    },
    "ListNotificationChannels": {
      "http": {
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channels": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Config": {
                  "shape": "S2"
                },
                "Id": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListRecommendations": {
      "http": {
        "requestUri": "/recommendations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InsightId": {},
          "NextToken": {}
        },
        "required": [
          "InsightId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Recommendations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Description": {},
                "Link": {},
                "Name": {},
                "Reason": {},
                "RelatedAnomalies": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Resources": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Name": {},
                            "Type": {}
                          }
                        }
                      },
                      "SourceDetails": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "CloudWatchMetrics": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "MetricName": {},
                                  "Namespace": {}
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "RelatedEvents": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Name": {},
                      "Resources": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Name": {},
                            "Type": {}
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PutFeedback": {
      "http": {
        "method": "PUT",
        "requestUri": "/feedback",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InsightFeedback": {
            "type": "structure",
            "members": {
              "Feedback": {},
              "Id": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RemoveNotificationChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{Id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        },
        "required": [
          "Id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SearchInsights": {
      "http": {
        "requestUri": "/insights/search",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "type": "structure",
            "members": {
              "ResourceCollection": {
                "shape": "Sm"
              },
              "Severities": {
                "type": "list",
                "member": {}
              },
              "Statuses": {
                "type": "list",
                "member": {}
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "StartTimeRange": {
            "shape": "S1o"
          },
          "Type": {}
        },
        "required": [
          "Type",
          "StartTimeRange"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "ProactiveInsights": {
            "shape": "S2i"
          },
          "ReactiveInsights": {
            "shape": "S2k"
          }
        }
      }
    },
    "UpdateResourceCollection": {
      "http": {
        "method": "PUT",
        "requestUri": "/resource-collections",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Action": {},
          "ResourceCollection": {
            "type": "structure",
            "members": {
              "CloudFormation": {
                "type": "structure",
                "members": {
                  "StackNames": {
                    "shape": "So"
                  }
                }
              }
            }
          }
        },
        "required": [
          "Action",
          "ResourceCollection"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateServiceIntegration": {
      "http": {
        "method": "PUT",
        "requestUri": "/service-integrations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ServiceIntegration": {
            "type": "structure",
            "members": {
              "OpsCenter": {
                "type": "structure",
                "members": {
                  "OptInStatus": {}
                }
              }
            }
          }
        },
        "required": [
          "ServiceIntegration"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "structure",
      "members": {
        "Sns": {
          "type": "structure",
          "members": {
            "TopicArn": {}
          }
        }
      },
      "required": [
        "Sns"
      ]
    },
    "Sb": {
      "type": "timestamp",
      "timestampFormat": "unixTimestamp"
    },
    "Si": {
      "type": "structure",
      "members": {
        "EndTime": {
          "shape": "Sb"
        },
        "StartTime": {
          "shape": "Sb"
        }
      },
      "required": [
        "StartTime"
      ]
    },
    "Sl": {
      "type": "structure",
      "members": {
        "EndTime": {
          "shape": "Sb"
        },
        "StartTime": {
          "shape": "Sb"
        }
      },
      "required": [
        "StartTime"
      ]
    },
    "Sm": {
      "type": "structure",
      "members": {
        "CloudFormation": {
          "type": "structure",
          "members": {
            "StackNames": {
              "shape": "So"
            }
          }
        }
      }
    },
    "So": {
      "type": "list",
      "member": {}
    },
    "Sr": {
      "type": "structure",
      "members": {
        "CloudWatchMetrics": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Dimensions": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {},
                    "Value": {}
                  }
                }
              },
              "MetricName": {},
              "Namespace": {},
              "Period": {
                "type": "integer"
              },
              "Stat": {},
              "Unit": {}
            }
          }
        }
      }
    },
    "S12": {
      "type": "structure",
      "members": {
        "EndTime": {
          "shape": "Sb"
        },
        "StartTime": {
          "shape": "Sb"
        }
      },
      "required": [
        "StartTime"
      ]
    },
    "S1o": {
      "type": "structure",
      "members": {
        "FromTime": {
          "shape": "Sb"
        },
        "ToTime": {
          "shape": "Sb"
        }
      }
    },
    "S2i": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Id": {},
          "InsightTimeRange": {
            "shape": "S12"
          },
          "Name": {},
          "PredictionTimeRange": {
            "shape": "Sl"
          },
          "ResourceCollection": {
            "shape": "Sm"
          },
          "Severity": {},
          "Status": {}
        }
      }
    },
    "S2k": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Id": {},
          "InsightTimeRange": {
            "shape": "S12"
          },
          "Name": {},
          "ResourceCollection": {
            "shape": "Sm"
          },
          "Severity": {},
          "Status": {}
        }
      }
    }
  }
}