{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-12-01",
    "endpointPrefix": "devops-guru",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon DevOps Guru",
    "serviceId": "DevOps Guru",
    "signatureVersion": "v4",
    "signingName": "devops-guru",
    "uid": "devops-guru-2020-12-01"
  },
  "operations": {
    "AddNotificationChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Config"
        ],
        "members": {
          "Config": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      }
    },
    "DeleteInsight": {
      "http": {
        "method": "DELETE",
        "requestUri": "/insights/{Id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeAccountHealth": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/health",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "OpenReactiveInsights",
          "OpenProactiveInsights",
          "MetricsAnalyzed",
          "ResourceHours"
        ],
        "members": {
          "OpenReactiveInsights": {
            "type": "integer"
          },
          "OpenProactiveInsights": {
            "type": "integer"
          },
          "MetricsAnalyzed": {
            "type": "integer"
          },
          "ResourceHours": {
            "type": "long"
          }
        }
      }
    },
    "DescribeAccountOverview": {
      "http": {
        "requestUri": "/accounts/overview",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FromTime"
        ],
        "members": {
          "FromTime": {
            "type": "timestamp"
          },
          "ToTime": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ReactiveInsights",
          "ProactiveInsights",
          "MeanTimeToRecoverInMilliseconds"
        ],
        "members": {
          "ReactiveInsights": {
            "type": "integer"
          },
          "ProactiveInsights": {
            "type": "integer"
          },
          "MeanTimeToRecoverInMilliseconds": {
            "type": "long"
          }
        }
      }
    },
    "DescribeAnomaly": {
      "http": {
        "method": "GET",
        "requestUri": "/anomalies/{Id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          },
          "AccountId": {
            "location": "querystring",
            "locationName": "AccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProactiveAnomaly": {
            "type": "structure",
            "members": {
              "Id": {},
              "Severity": {},
              "Status": {},
              "UpdateTime": {
                "type": "timestamp"
              },
              "AnomalyTimeRange": {
                "shape": "Sy"
              },
              "AnomalyReportedTimeRange": {
                "shape": "Sz"
              },
              "PredictionTimeRange": {
                "shape": "S10"
              },
              "SourceDetails": {
                "shape": "S11"
              },
              "AssociatedInsightId": {},
              "ResourceCollection": {
                "shape": "S26"
              },
              "Limit": {
                "type": "double"
              },
              "SourceMetadata": {
                "shape": "S2g"
              },
              "AnomalyResources": {
                "shape": "S2k"
              }
            }
          },
          "ReactiveAnomaly": {
            "type": "structure",
            "members": {
              "Id": {},
              "Severity": {},
              "Status": {},
              "AnomalyTimeRange": {
                "shape": "Sy"
              },
              "AnomalyReportedTimeRange": {
                "shape": "Sz"
              },
              "SourceDetails": {
                "shape": "S11"
              },
              "AssociatedInsightId": {},
              "ResourceCollection": {
                "shape": "S26"
              },
              "Type": {},
              "Name": {},
              "Description": {},
              "CausalAnomalyId": {},
              "AnomalyResources": {
                "shape": "S2k"
              }
            }
          }
        }
      }
    },
    "DescribeEventSourcesConfig": {
      "http": {
        "requestUri": "/event-sources",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "EventSources": {
            "shape": "S2s"
          }
        }
      }
    },
    "DescribeFeedback": {
      "http": {
        "requestUri": "/feedback",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InsightId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InsightFeedback": {
            "shape": "S2x"
          }
        }
      }
    },
    "DescribeInsight": {
      "http": {
        "method": "GET",
        "requestUri": "/insights/{Id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          },
          "AccountId": {
            "location": "querystring",
            "locationName": "AccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProactiveInsight": {
            "type": "structure",
            "members": {
              "Id": {},
              "Name": {},
              "Severity": {},
              "Status": {},
              "InsightTimeRange": {
                "shape": "S34"
              },
              "PredictionTimeRange": {
                "shape": "S10"
              },
              "ResourceCollection": {
                "shape": "S26"
              },
              "SsmOpsItemId": {},
              "Description": {}
            }
          },
          "ReactiveInsight": {
            "type": "structure",
            "members": {
              "Id": {},
              "Name": {},
              "Severity": {},
              "Status": {},
              "InsightTimeRange": {
                "shape": "S34"
              },
              "ResourceCollection": {
                "shape": "S26"
              },
              "SsmOpsItemId": {},
              "Description": {}
            }
          }
        }
      }
    },
    "DescribeOrganizationHealth": {
      "http": {
        "requestUri": "/organization/health",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AccountIds": {
            "shape": "S39"
          },
          "OrganizationalUnitIds": {
            "shape": "S3a"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "OpenReactiveInsights",
          "OpenProactiveInsights",
          "MetricsAnalyzed",
          "ResourceHours"
        ],
        "members": {
          "OpenReactiveInsights": {
            "type": "integer"
          },
          "OpenProactiveInsights": {
            "type": "integer"
          },
          "MetricsAnalyzed": {
            "type": "integer"
          },
          "ResourceHours": {
            "type": "long"
          }
        }
      }
    },
    "DescribeOrganizationOverview": {
      "http": {
        "requestUri": "/organization/overview",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FromTime"
        ],
        "members": {
          "FromTime": {
            "type": "timestamp"
          },
          "ToTime": {
            "type": "timestamp"
          },
          "AccountIds": {
            "shape": "S39"
          },
          "OrganizationalUnitIds": {
            "shape": "S3a"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ReactiveInsights",
          "ProactiveInsights"
        ],
        "members": {
          "ReactiveInsights": {
            "type": "integer"
          },
          "ProactiveInsights": {
            "type": "integer"
          }
        }
      }
    },
    "DescribeOrganizationResourceCollectionHealth": {
      "http": {
        "requestUri": "/organization/health/resource-collection",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "OrganizationResourceCollectionType"
        ],
        "members": {
          "OrganizationResourceCollectionType": {},
          "AccountIds": {
            "shape": "S39"
          },
          "OrganizationalUnitIds": {
            "shape": "S3a"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CloudFormation": {
            "shape": "S3k"
          },
          "Service": {
            "shape": "S3n"
          },
          "Account": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountId": {},
                "Insight": {
                  "type": "structure",
                  "members": {
                    "OpenProactiveInsights": {
                      "type": "integer"
                    },
                    "OpenReactiveInsights": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {},
          "Tags": {
            "shape": "S3u"
          }
        }
      }
    },
    "DescribeResourceCollectionHealth": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/health/resource-collection/{ResourceCollectionType}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceCollectionType"
        ],
        "members": {
          "ResourceCollectionType": {
            "location": "uri",
            "locationName": "ResourceCollectionType"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CloudFormation": {
            "shape": "S3k"
          },
          "Service": {
            "shape": "S3n"
          },
          "NextToken": {},
          "Tags": {
            "shape": "S3u"
          }
        }
      }
    },
    "DescribeServiceIntegration": {
      "http": {
        "method": "GET",
        "requestUri": "/service-integrations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "ServiceIntegration": {
            "type": "structure",
            "members": {
              "OpsCenter": {
                "type": "structure",
                "members": {
                  "OptInStatus": {}
                }
              },
              "LogsAnomalyDetection": {
                "type": "structure",
                "members": {
                  "OptInStatus": {}
                }
              }
            }
          }
        }
      }
    },
    "GetCostEstimation": {
      "http": {
        "method": "GET",
        "requestUri": "/cost-estimation",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceCollection": {
            "shape": "S47"
          },
          "Status": {},
          "Costs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Type": {},
                "State": {},
                "Count": {
                  "type": "integer"
                },
                "UnitCost": {
                  "type": "double"
                },
                "Cost": {
                  "type": "double"
                }
              }
            }
          },
          "TimeRange": {
            "type": "structure",
            "members": {
              "StartTime": {
                "type": "timestamp"
              },
              "EndTime": {
                "type": "timestamp"
              }
            }
          },
          "TotalCost": {
            "type": "double"
          },
          "NextToken": {}
        }
      }
    },
    "GetResourceCollection": {
      "http": {
        "method": "GET",
        "requestUri": "/resource-collections/{ResourceCollectionType}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceCollectionType"
        ],
        "members": {
          "ResourceCollectionType": {
            "location": "uri",
            "locationName": "ResourceCollectionType"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceCollection": {
            "type": "structure",
            "members": {
              "CloudFormation": {
                "type": "structure",
                "members": {
                  "StackNames": {
                    "shape": "S28"
                  }
                }
              },
              "Tags": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "AppBoundaryKey",
                    "TagValues"
                  ],
                  "members": {
                    "AppBoundaryKey": {},
                    "TagValues": {
                      "shape": "S2d"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListAnomaliesForInsight": {
      "http": {
        "requestUri": "/anomalies/insight/{InsightId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightId"
        ],
        "members": {
          "InsightId": {
            "location": "uri",
            "locationName": "InsightId"
          },
          "StartTimeRange": {
            "shape": "S4r"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "AccountId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProactiveAnomalies": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Severity": {},
                "Status": {},
                "UpdateTime": {
                  "type": "timestamp"
                },
                "AnomalyTimeRange": {
                  "shape": "Sy"
                },
                "AnomalyReportedTimeRange": {
                  "shape": "Sz"
                },
                "PredictionTimeRange": {
                  "shape": "S10"
                },
                "SourceDetails": {
                  "shape": "S11"
                },
                "AssociatedInsightId": {},
                "ResourceCollection": {
                  "shape": "S26"
                },
                "Limit": {
                  "type": "double"
                },
                "SourceMetadata": {
                  "shape": "S2g"
                },
                "AnomalyResources": {
                  "shape": "S2k"
                }
              }
            }
          },
          "ReactiveAnomalies": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Severity": {},
                "Status": {},
                "AnomalyTimeRange": {
                  "shape": "Sy"
                },
                "AnomalyReportedTimeRange": {
                  "shape": "Sz"
                },
                "SourceDetails": {
                  "shape": "S11"
                },
                "AssociatedInsightId": {},
                "ResourceCollection": {
                  "shape": "S26"
                },
                "Type": {},
                "Name": {},
                "Description": {},
                "CausalAnomalyId": {},
                "AnomalyResources": {
                  "shape": "S2k"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListAnomalousLogGroups": {
      "http": {
        "requestUri": "/list-log-anomalies",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightId"
        ],
        "members": {
          "InsightId": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InsightId",
          "AnomalousLogGroups"
        ],
        "members": {
          "InsightId": {},
          "AnomalousLogGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "LogGroupName": {},
                "ImpactStartTime": {
                  "type": "timestamp"
                },
                "ImpactEndTime": {
                  "type": "timestamp"
                },
                "NumberOfLogLinesScanned": {
                  "type": "integer"
                },
                "LogAnomalyShowcases": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "LogAnomalyClasses": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "LogStreamName": {},
                            "LogAnomalyType": {},
                            "LogAnomalyToken": {},
                            "LogEventId": {},
                            "Explanation": {},
                            "NumberOfLogLinesOccurrences": {
                              "type": "integer"
                            },
                            "LogEventTimestamp": {
                              "type": "timestamp"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListEvents": {
      "http": {
        "requestUri": "/events",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Filters"
        ],
        "members": {
          "Filters": {
            "type": "structure",
            "members": {
              "InsightId": {},
              "EventTimeRange": {
                "type": "structure",
                "required": [
                  "FromTime",
                  "ToTime"
                ],
                "members": {
                  "FromTime": {
                    "type": "timestamp"
                  },
                  "ToTime": {
                    "type": "timestamp"
                  }
                }
              },
              "EventClass": {},
              "EventSource": {},
              "DataSource": {},
              "ResourceCollection": {
                "shape": "S26"
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "AccountId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Events"
        ],
        "members": {
          "Events": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceCollection": {
                  "shape": "S26"
                },
                "Id": {},
                "Time": {
                  "type": "timestamp"
                },
                "EventSource": {},
                "Name": {},
                "DataSource": {},
                "EventClass": {},
                "Resources": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Type": {},
                      "Name": {},
                      "Arn": {}
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListInsights": {
      "http": {
        "requestUri": "/insights",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "StatusFilter"
        ],
        "members": {
          "StatusFilter": {
            "shape": "S5x"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProactiveInsights": {
            "shape": "S65"
          },
          "ReactiveInsights": {
            "shape": "S6b"
          },
          "NextToken": {}
        }
      }
    },
    "ListMonitoredResources": {
      "http": {
        "requestUri": "/monitoredResources",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Filters"
        ],
        "members": {
          "Filters": {
            "type": "structure",
            "required": [
              "ResourcePermission",
              "ResourceTypeFilters"
            ],
            "members": {
              "ResourcePermission": {},
              "ResourceTypeFilters": {
                "type": "list",
                "member": {}
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoredResourceIdentifiers"
        ],
        "members": {
          "MonitoredResourceIdentifiers": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "MonitoredResourceName": {},
                "Type": {},
                "ResourcePermission": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListNotificationChannels": {
      "http": {
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channels": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Config": {
                  "shape": "S2"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListOrganizationInsights": {
      "http": {
        "requestUri": "/organization/insights",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "StatusFilter"
        ],
        "members": {
          "StatusFilter": {
            "shape": "S5x"
          },
          "MaxResults": {
            "type": "integer"
          },
          "AccountIds": {
            "type": "list",
            "member": {}
          },
          "OrganizationalUnitIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProactiveInsights": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "AccountId": {},
                "OrganizationalUnitId": {},
                "Name": {},
                "Severity": {},
                "Status": {},
                "InsightTimeRange": {
                  "shape": "S34"
                },
                "PredictionTimeRange": {
                  "shape": "S10"
                },
                "ResourceCollection": {
                  "shape": "S26"
                },
                "ServiceCollection": {
                  "shape": "S67"
                }
              }
            }
          },
          "ReactiveInsights": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "AccountId": {},
                "OrganizationalUnitId": {},
                "Name": {},
                "Severity": {},
                "Status": {},
                "InsightTimeRange": {
                  "shape": "S34"
                },
                "ResourceCollection": {
                  "shape": "S26"
                },
                "ServiceCollection": {
                  "shape": "S67"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListRecommendations": {
      "http": {
        "requestUri": "/recommendations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "InsightId"
        ],
        "members": {
          "InsightId": {},
          "NextToken": {},
          "Locale": {},
          "AccountId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Recommendations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Description": {},
                "Link": {},
                "Name": {},
                "Reason": {},
                "RelatedEvents": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Name": {},
                      "Resources": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Name": {},
                            "Type": {}
                          }
                        }
                      }
                    }
                  }
                },
                "RelatedAnomalies": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Resources": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "Name": {},
                            "Type": {}
                          }
                        }
                      },
                      "SourceDetails": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "CloudWatchMetrics": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "MetricName": {},
                                  "Namespace": {}
                                }
                              }
                            }
                          }
                        }
                      },
                      "AnomalyId": {}
                    }
                  }
                },
                "Category": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "PutFeedback": {
      "http": {
        "method": "PUT",
        "requestUri": "/feedback",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InsightFeedback": {
            "shape": "S2x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RemoveNotificationChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{Id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SearchInsights": {
      "http": {
        "requestUri": "/insights/search",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "StartTimeRange",
          "Type"
        ],
        "members": {
          "StartTimeRange": {
            "shape": "S4r"
          },
          "Filters": {
            "type": "structure",
            "members": {
              "Severities": {
                "shape": "S6"
              },
              "Statuses": {
                "shape": "S7y"
              },
              "ResourceCollection": {
                "shape": "S26"
              },
              "ServiceCollection": {
                "shape": "S67"
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Type": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProactiveInsights": {
            "shape": "S65"
          },
          "ReactiveInsights": {
            "shape": "S6b"
          },
          "NextToken": {}
        }
      }
    },
    "SearchOrganizationInsights": {
      "http": {
        "requestUri": "/organization/insights/search",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds",
          "StartTimeRange",
          "Type"
        ],
        "members": {
          "AccountIds": {
            "type": "list",
            "member": {}
          },
          "StartTimeRange": {
            "shape": "S4r"
          },
          "Filters": {
            "type": "structure",
            "members": {
              "Severities": {
                "shape": "S6"
              },
              "Statuses": {
                "shape": "S7y"
              },
              "ResourceCollection": {
                "shape": "S26"
              },
              "ServiceCollection": {
                "shape": "S67"
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Type": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ProactiveInsights": {
            "shape": "S65"
          },
          "ReactiveInsights": {
            "shape": "S6b"
          },
          "NextToken": {}
        }
      }
    },
    "StartCostEstimation": {
      "http": {
        "method": "PUT",
        "requestUri": "/cost-estimation",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceCollection"
        ],
        "members": {
          "ResourceCollection": {
            "shape": "S47"
          },
          "ClientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateEventSourcesConfig": {
      "http": {
        "method": "PUT",
        "requestUri": "/event-sources",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "EventSources": {
            "shape": "S2s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateResourceCollection": {
      "http": {
        "method": "PUT",
        "requestUri": "/resource-collections",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Action",
          "ResourceCollection"
        ],
        "members": {
          "Action": {},
          "ResourceCollection": {
            "type": "structure",
            "members": {
              "CloudFormation": {
                "type": "structure",
                "members": {
                  "StackNames": {
                    "type": "list",
                    "member": {}
                  }
                }
              },
              "Tags": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "AppBoundaryKey",
                    "TagValues"
                  ],
                  "members": {
                    "AppBoundaryKey": {},
                    "TagValues": {
                      "type": "list",
                      "member": {}
                    }
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateServiceIntegration": {
      "http": {
        "method": "PUT",
        "requestUri": "/service-integrations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ServiceIntegration"
        ],
        "members": {
          "ServiceIntegration": {
            "type": "structure",
            "members": {
              "OpsCenter": {
                "type": "structure",
                "members": {
                  "OptInStatus": {}
                }
              },
              "LogsAnomalyDetection": {
                "type": "structure",
                "members": {
                  "OptInStatus": {}
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "structure",
      "required": [
        "Sns"
      ],
      "members": {
        "Sns": {
          "type": "structure",
          "members": {
            "TopicArn": {}
          }
        },
        "Filters": {
          "type": "structure",
          "members": {
            "Severities": {
              "shape": "S6"
            },
            "MessageTypes": {
              "type": "list",
              "member": {}
            }
          }
        }
      }
    },
    "S6": {
      "type": "list",
      "member": {}
    },
    "Sy": {
      "type": "structure",
      "required": [
        "StartTime"
      ],
      "members": {
        "StartTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        }
      }
    },
    "Sz": {
      "type": "structure",
      "required": [
        "OpenTime"
      ],
      "members": {
        "OpenTime": {
          "type": "timestamp"
        },
        "CloseTime": {
          "type": "timestamp"
        }
      }
    },
    "S10": {
      "type": "structure",
      "required": [
        "StartTime"
      ],
      "members": {
        "StartTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        }
      }
    },
    "S11": {
      "type": "structure",
      "members": {
        "CloudWatchMetrics": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "MetricName": {},
              "Namespace": {},
              "Dimensions": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {},
                    "Value": {}
                  }
                }
              },
              "Stat": {},
              "Unit": {},
              "Period": {
                "type": "integer"
              },
              "MetricDataSummary": {
                "type": "structure",
                "members": {
                  "TimestampMetricValuePairList": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "Timestamp": {
                          "type": "timestamp"
                        },
                        "MetricValue": {
                          "type": "double"
                        }
                      }
                    }
                  },
                  "StatusCode": {}
                }
              }
            }
          }
        },
        "PerformanceInsightsMetrics": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "MetricDisplayName": {},
              "Unit": {},
              "MetricQuery": {
                "shape": "S1m"
              },
              "ReferenceData": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {},
                    "ComparisonValues": {
                      "type": "structure",
                      "members": {
                        "ReferenceScalar": {
                          "type": "structure",
                          "members": {
                            "Value": {
                              "type": "double"
                            }
                          }
                        },
                        "ReferenceMetric": {
                          "type": "structure",
                          "members": {
                            "MetricQuery": {
                              "shape": "S1m"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "StatsAtAnomaly": {
                "shape": "S23"
              },
              "StatsAtBaseline": {
                "shape": "S23"
              }
            }
          }
        }
      }
    },
    "S1m": {
      "type": "structure",
      "members": {
        "Metric": {},
        "GroupBy": {
          "type": "structure",
          "members": {
            "Group": {},
            "Dimensions": {
              "type": "list",
              "member": {}
            },
            "Limit": {
              "type": "integer"
            }
          }
        },
        "Filter": {
          "type": "map",
          "key": {},
          "value": {}
        }
      }
    },
    "S23": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Type": {},
          "Value": {
            "type": "double"
          }
        }
      }
    },
    "S26": {
      "type": "structure",
      "members": {
        "CloudFormation": {
          "type": "structure",
          "members": {
            "StackNames": {
              "shape": "S28"
            }
          }
        },
        "Tags": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "AppBoundaryKey",
              "TagValues"
            ],
            "members": {
              "AppBoundaryKey": {},
              "TagValues": {
                "shape": "S2d"
              }
            }
          }
        }
      }
    },
    "S28": {
      "type": "list",
      "member": {}
    },
    "S2d": {
      "type": "list",
      "member": {}
    },
    "S2g": {
      "type": "structure",
      "members": {
        "Source": {},
        "SourceResourceName": {},
        "SourceResourceType": {}
      }
    },
    "S2k": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Type": {}
        }
      }
    },
    "S2s": {
      "type": "structure",
      "members": {
        "AmazonCodeGuruProfiler": {
          "type": "structure",
          "members": {
            "Status": {}
          }
        }
      }
    },
    "S2x": {
      "type": "structure",
      "members": {
        "Id": {},
        "Feedback": {}
      }
    },
    "S34": {
      "type": "structure",
      "required": [
        "StartTime"
      ],
      "members": {
        "StartTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        }
      }
    },
    "S39": {
      "type": "list",
      "member": {}
    },
    "S3a": {
      "type": "list",
      "member": {}
    },
    "S3k": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "StackName": {},
          "Insight": {
            "shape": "S3m"
          }
        }
      }
    },
    "S3m": {
      "type": "structure",
      "members": {
        "OpenProactiveInsights": {
          "type": "integer"
        },
        "OpenReactiveInsights": {
          "type": "integer"
        },
        "MeanTimeToRecoverInMilliseconds": {
          "type": "long"
        }
      }
    },
    "S3n": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ServiceName": {},
          "Insight": {
            "type": "structure",
            "members": {
              "OpenProactiveInsights": {
                "type": "integer"
              },
              "OpenReactiveInsights": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "S3u": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AppBoundaryKey": {},
          "TagValue": {},
          "Insight": {
            "shape": "S3m"
          }
        }
      }
    },
    "S47": {
      "type": "structure",
      "members": {
        "CloudFormation": {
          "type": "structure",
          "members": {
            "StackNames": {
              "type": "list",
              "member": {}
            }
          }
        },
        "Tags": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "AppBoundaryKey",
              "TagValues"
            ],
            "members": {
              "AppBoundaryKey": {},
              "TagValues": {
                "type": "list",
                "member": {}
              }
            }
          }
        }
      }
    },
    "S4r": {
      "type": "structure",
      "members": {
        "FromTime": {
          "type": "timestamp"
        },
        "ToTime": {
          "type": "timestamp"
        }
      }
    },
    "S5x": {
      "type": "structure",
      "members": {
        "Ongoing": {
          "type": "structure",
          "required": [
            "Type"
          ],
          "members": {
            "Type": {}
          }
        },
        "Closed": {
          "type": "structure",
          "required": [
            "Type",
            "EndTimeRange"
          ],
          "members": {
            "Type": {},
            "EndTimeRange": {
              "type": "structure",
              "members": {
                "FromTime": {
                  "type": "timestamp"
                },
                "ToTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        },
        "Any": {
          "type": "structure",
          "required": [
            "Type",
            "StartTimeRange"
          ],
          "members": {
            "Type": {},
            "StartTimeRange": {
              "shape": "S4r"
            }
          }
        }
      }
    },
    "S65": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Id": {},
          "Name": {},
          "Severity": {},
          "Status": {},
          "InsightTimeRange": {
            "shape": "S34"
          },
          "PredictionTimeRange": {
            "shape": "S10"
          },
          "ResourceCollection": {
            "shape": "S26"
          },
          "ServiceCollection": {
            "shape": "S67"
          },
          "AssociatedResourceArns": {
            "shape": "S69"
          }
        }
      }
    },
    "S67": {
      "type": "structure",
      "members": {
        "ServiceNames": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S69": {
      "type": "list",
      "member": {}
    },
    "S6b": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Id": {},
          "Name": {},
          "Severity": {},
          "Status": {},
          "InsightTimeRange": {
            "shape": "S34"
          },
          "ResourceCollection": {
            "shape": "S26"
          },
          "ServiceCollection": {
            "shape": "S67"
          },
          "AssociatedResourceArns": {
            "shape": "S69"
          }
        }
      }
    },
    "S7y": {
      "type": "list",
      "member": {}
    }
  }
}