{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-01-01",
    "endpointPrefix": "dms",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Database Migration Service",
    "serviceId": "Database Migration Service",
    "signatureVersion": "v4",
    "targetPrefix": "AmazonDMSv20160101",
    "uid": "dms-2016-01-01"
  },
  "operations": {
    "AddTagsToResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointIdentifier",
          "EndpointType",
          "EngineName"
        ],
        "members": {
          "EndpointIdentifier": {},
          "EndpointType": {},
          "EngineName": {},
          "Username": {},
          "Password": {
            "shape": "S8"
          },
          "ServerName": {},
          "Port": {
            "type": "integer"
          },
          "DatabaseName": {},
          "ExtraConnectionAttributes": {},
          "KmsKeyId": {},
          "Tags": {
            "shape": "S3"
          },
          "CertificateArn": {},
          "SslMode": {},
          "ServiceAccessRoleArn": {},
          "ExternalTableDefinition": {},
          "DynamoDbSettings": {
            "shape": "Sb"
          },
          "S3Settings": {
            "shape": "Sc"
          },
          "DmsTransferSettings": {
            "shape": "Se"
          },
          "MongoDbSettings": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Endpoint": {
            "shape": "Sk"
          }
        }
      }
    },
    "CreateEventSubscription": {
      "input": {
        "type": "structure",
        "required": [
          "SubscriptionName",
          "SnsTopicArn"
        ],
        "members": {
          "SubscriptionName": {},
          "SnsTopicArn": {},
          "SourceType": {},
          "EventCategories": {
            "shape": "Sm"
          },
          "SourceIds": {
            "shape": "Sn"
          },
          "Enabled": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventSubscription": {
            "shape": "Sq"
          }
        }
      }
    },
    "CreateReplicationInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceIdentifier",
          "ReplicationInstanceClass"
        ],
        "members": {
          "ReplicationInstanceIdentifier": {},
          "AllocatedStorage": {
            "type": "integer"
          },
          "ReplicationInstanceClass": {},
          "VpcSecurityGroupIds": {
            "shape": "St"
          },
          "AvailabilityZone": {},
          "ReplicationSubnetGroupIdentifier": {},
          "PreferredMaintenanceWindow": {},
          "MultiAZ": {
            "type": "boolean"
          },
          "EngineVersion": {},
          "AutoMinorVersionUpgrade": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S3"
          },
          "KmsKeyId": {},
          "PubliclyAccessible": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationInstance": {
            "shape": "Sv"
          }
        }
      }
    },
    "CreateReplicationSubnetGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationSubnetGroupIdentifier",
          "ReplicationSubnetGroupDescription",
          "SubnetIds"
        ],
        "members": {
          "ReplicationSubnetGroupIdentifier": {},
          "ReplicationSubnetGroupDescription": {},
          "SubnetIds": {
            "shape": "S18"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationSubnetGroup": {
            "shape": "S10"
          }
        }
      }
    },
    "CreateReplicationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskIdentifier",
          "SourceEndpointArn",
          "TargetEndpointArn",
          "ReplicationInstanceArn",
          "MigrationType",
          "TableMappings"
        ],
        "members": {
          "ReplicationTaskIdentifier": {},
          "SourceEndpointArn": {},
          "TargetEndpointArn": {},
          "ReplicationInstanceArn": {},
          "MigrationType": {},
          "TableMappings": {},
          "ReplicationTaskSettings": {},
          "CdcStartTime": {
            "type": "timestamp"
          },
          "CdcStartPosition": {},
          "CdcStopPosition": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S1d"
          }
        }
      }
    },
    "DeleteCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateArn"
        ],
        "members": {
          "CertificateArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Certificate": {
            "shape": "S1i"
          }
        }
      }
    },
    "DeleteEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Endpoint": {
            "shape": "Sk"
          }
        }
      }
    },
    "DeleteEventSubscription": {
      "input": {
        "type": "structure",
        "required": [
          "SubscriptionName"
        ],
        "members": {
          "SubscriptionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventSubscription": {
            "shape": "Sq"
          }
        }
      }
    },
    "DeleteReplicationInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceArn"
        ],
        "members": {
          "ReplicationInstanceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationInstance": {
            "shape": "Sv"
          }
        }
      }
    },
    "DeleteReplicationSubnetGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationSubnetGroupIdentifier"
        ],
        "members": {
          "ReplicationSubnetGroupIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteReplicationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn"
        ],
        "members": {
          "ReplicationTaskArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S1d"
          }
        }
      }
    },
    "DescribeAccountAttributes": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountQuotas": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountQuotaName": {},
                "Used": {
                  "type": "long"
                },
                "Max": {
                  "type": "long"
                }
              }
            }
          }
        }
      }
    },
    "DescribeCertificates": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S1z"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "Certificates": {
            "type": "list",
            "member": {
              "shape": "S1i"
            }
          }
        }
      }
    },
    "DescribeConnections": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S1z"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "Connections": {
            "type": "list",
            "member": {
              "shape": "S27"
            }
          }
        }
      }
    },
    "DescribeEndpointTypes": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S1z"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "SupportedEndpointTypes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EngineName": {},
                "SupportsCDC": {
                  "type": "boolean"
                },
                "EndpointType": {},
                "EngineDisplayName": {}
              }
            }
          }
        }
      }
    },
    "DescribeEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S1z"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "Endpoints": {
            "type": "list",
            "member": {
              "shape": "Sk"
            }
          }
        }
      }
    },
    "DescribeEventCategories": {
      "input": {
        "type": "structure",
        "members": {
          "SourceType": {},
          "Filters": {
            "shape": "S1z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventCategoryGroupList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SourceType": {},
                "EventCategories": {
                  "shape": "Sm"
                }
              }
            }
          }
        }
      }
    },
    "DescribeEventSubscriptions": {
      "input": {
        "type": "structure",
        "members": {
          "SubscriptionName": {},
          "Filters": {
            "shape": "S1z"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "EventSubscriptionsList": {
            "type": "list",
            "member": {
              "shape": "Sq"
            }
          }
        }
      }
    },
    "DescribeEvents": {
      "input": {
        "type": "structure",
        "members": {
          "SourceIdentifier": {},
          "SourceType": {},
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "Duration": {
            "type": "integer"
          },
          "EventCategories": {
            "shape": "Sm"
          },
          "Filters": {
            "shape": "S1z"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "Events": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SourceIdentifier": {},
                "SourceType": {},
                "Message": {},
                "EventCategories": {
                  "shape": "Sm"
                },
                "Date": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "DescribeOrderableReplicationInstances": {
      "input": {
        "type": "structure",
        "members": {
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OrderableReplicationInstances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EngineVersion": {},
                "ReplicationInstanceClass": {},
                "StorageType": {},
                "MinAllocatedStorage": {
                  "type": "integer"
                },
                "MaxAllocatedStorage": {
                  "type": "integer"
                },
                "DefaultAllocatedStorage": {
                  "type": "integer"
                },
                "IncludedAllocatedStorage": {
                  "type": "integer"
                }
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "DescribeRefreshSchemasStatus": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RefreshSchemasStatus": {
            "shape": "S2x"
          }
        }
      }
    },
    "DescribeReplicationInstanceTaskLogs": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceArn"
        ],
        "members": {
          "ReplicationInstanceArn": {},
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationInstanceArn": {},
          "ReplicationInstanceTaskLogs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ReplicationTaskName": {},
                "ReplicationTaskArn": {},
                "ReplicationInstanceTaskLogSize": {
                  "type": "long"
                }
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "DescribeReplicationInstances": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S1z"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "ReplicationInstances": {
            "type": "list",
            "member": {
              "shape": "Sv"
            }
          }
        }
      }
    },
    "DescribeReplicationSubnetGroups": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S1z"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "ReplicationSubnetGroups": {
            "type": "list",
            "member": {
              "shape": "S10"
            }
          }
        }
      }
    },
    "DescribeReplicationTaskAssessmentResults": {
      "input": {
        "type": "structure",
        "members": {
          "ReplicationTaskArn": {},
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "BucketName": {},
          "ReplicationTaskAssessmentResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ReplicationTaskIdentifier": {},
                "ReplicationTaskArn": {},
                "ReplicationTaskLastAssessmentDate": {
                  "type": "timestamp"
                },
                "AssessmentStatus": {},
                "AssessmentResultsFile": {},
                "AssessmentResults": {},
                "S3ObjectUrl": {}
              }
            }
          }
        }
      }
    },
    "DescribeReplicationTasks": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S1z"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "ReplicationTasks": {
            "type": "list",
            "member": {
              "shape": "S1d"
            }
          }
        }
      }
    },
    "DescribeSchemas": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {},
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "Schemas": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "DescribeTableStatistics": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn"
        ],
        "members": {
          "ReplicationTaskArn": {},
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {},
          "Filters": {
            "shape": "S1z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTaskArn": {},
          "TableStatistics": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SchemaName": {},
                "TableName": {},
                "Inserts": {
                  "type": "long"
                },
                "Deletes": {
                  "type": "long"
                },
                "Updates": {
                  "type": "long"
                },
                "Ddls": {
                  "type": "long"
                },
                "FullLoadRows": {
                  "type": "long"
                },
                "FullLoadCondtnlChkFailedRows": {
                  "type": "long"
                },
                "FullLoadErrorRows": {
                  "type": "long"
                },
                "LastUpdateTime": {
                  "type": "timestamp"
                },
                "TableState": {},
                "ValidationPendingRecords": {
                  "type": "long"
                },
                "ValidationFailedRecords": {
                  "type": "long"
                },
                "ValidationSuspendedRecords": {
                  "type": "long"
                },
                "ValidationState": {},
                "ValidationStateDetails": {}
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "ImportCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateIdentifier"
        ],
        "members": {
          "CertificateIdentifier": {},
          "CertificatePem": {},
          "CertificateWallet": {
            "type": "blob"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Certificate": {
            "shape": "S1i"
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TagList": {
            "shape": "S3"
          }
        }
      }
    },
    "ModifyEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {},
          "EndpointIdentifier": {},
          "EndpointType": {},
          "EngineName": {},
          "Username": {},
          "Password": {
            "shape": "S8"
          },
          "ServerName": {},
          "Port": {
            "type": "integer"
          },
          "DatabaseName": {},
          "ExtraConnectionAttributes": {},
          "CertificateArn": {},
          "SslMode": {},
          "ServiceAccessRoleArn": {},
          "ExternalTableDefinition": {},
          "DynamoDbSettings": {
            "shape": "Sb"
          },
          "S3Settings": {
            "shape": "Sc"
          },
          "DmsTransferSettings": {
            "shape": "Se"
          },
          "MongoDbSettings": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Endpoint": {
            "shape": "Sk"
          }
        }
      }
    },
    "ModifyEventSubscription": {
      "input": {
        "type": "structure",
        "required": [
          "SubscriptionName"
        ],
        "members": {
          "SubscriptionName": {},
          "SnsTopicArn": {},
          "SourceType": {},
          "EventCategories": {
            "shape": "Sm"
          },
          "Enabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventSubscription": {
            "shape": "Sq"
          }
        }
      }
    },
    "ModifyReplicationInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceArn"
        ],
        "members": {
          "ReplicationInstanceArn": {},
          "AllocatedStorage": {
            "type": "integer"
          },
          "ApplyImmediately": {
            "type": "boolean"
          },
          "ReplicationInstanceClass": {},
          "VpcSecurityGroupIds": {
            "shape": "St"
          },
          "PreferredMaintenanceWindow": {},
          "MultiAZ": {
            "type": "boolean"
          },
          "EngineVersion": {},
          "AllowMajorVersionUpgrade": {
            "type": "boolean"
          },
          "AutoMinorVersionUpgrade": {
            "type": "boolean"
          },
          "ReplicationInstanceIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationInstance": {
            "shape": "Sv"
          }
        }
      }
    },
    "ModifyReplicationSubnetGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationSubnetGroupIdentifier",
          "SubnetIds"
        ],
        "members": {
          "ReplicationSubnetGroupIdentifier": {},
          "ReplicationSubnetGroupDescription": {},
          "SubnetIds": {
            "shape": "S18"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationSubnetGroup": {
            "shape": "S10"
          }
        }
      }
    },
    "ModifyReplicationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn"
        ],
        "members": {
          "ReplicationTaskArn": {},
          "ReplicationTaskIdentifier": {},
          "MigrationType": {},
          "TableMappings": {},
          "ReplicationTaskSettings": {},
          "CdcStartTime": {
            "type": "timestamp"
          },
          "CdcStartPosition": {},
          "CdcStopPosition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S1d"
          }
        }
      }
    },
    "RebootReplicationInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceArn"
        ],
        "members": {
          "ReplicationInstanceArn": {},
          "ForceFailover": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationInstance": {
            "shape": "Sv"
          }
        }
      }
    },
    "RefreshSchemas": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointArn",
          "ReplicationInstanceArn"
        ],
        "members": {
          "EndpointArn": {},
          "ReplicationInstanceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RefreshSchemasStatus": {
            "shape": "S2x"
          }
        }
      }
    },
    "ReloadTables": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn",
          "TablesToReload"
        ],
        "members": {
          "ReplicationTaskArn": {},
          "TablesToReload": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SchemaName": {},
                "TableName": {}
              }
            }
          },
          "ReloadOption": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTaskArn": {}
        }
      }
    },
    "RemoveTagsFromResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartReplicationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn",
          "StartReplicationTaskType"
        ],
        "members": {
          "ReplicationTaskArn": {},
          "StartReplicationTaskType": {},
          "CdcStartTime": {
            "type": "timestamp"
          },
          "CdcStartPosition": {},
          "CdcStopPosition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S1d"
          }
        }
      }
    },
    "StartReplicationTaskAssessment": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn"
        ],
        "members": {
          "ReplicationTaskArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S1d"
          }
        }
      }
    },
    "StopReplicationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn"
        ],
        "members": {
          "ReplicationTaskArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S1d"
          }
        }
      }
    },
    "TestConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceArn",
          "EndpointArn"
        ],
        "members": {
          "ReplicationInstanceArn": {},
          "EndpointArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "S27"
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "S8": {
      "type": "string",
      "sensitive": true
    },
    "Sb": {
      "type": "structure",
      "required": [
        "ServiceAccessRoleArn"
      ],
      "members": {
        "ServiceAccessRoleArn": {}
      }
    },
    "Sc": {
      "type": "structure",
      "members": {
        "ServiceAccessRoleArn": {},
        "ExternalTableDefinition": {},
        "CsvRowDelimiter": {},
        "CsvDelimiter": {},
        "BucketFolder": {},
        "BucketName": {},
        "CompressionType": {}
      }
    },
    "Se": {
      "type": "structure",
      "members": {
        "ServiceAccessRoleArn": {},
        "BucketName": {}
      }
    },
    "Sf": {
      "type": "structure",
      "members": {
        "Username": {},
        "Password": {
          "shape": "S8"
        },
        "ServerName": {},
        "Port": {
          "type": "integer"
        },
        "DatabaseName": {},
        "AuthType": {},
        "AuthMechanism": {},
        "NestingLevel": {},
        "ExtractDocId": {},
        "DocsToInvestigate": {},
        "AuthSource": {},
        "KmsKeyId": {}
      }
    },
    "Sk": {
      "type": "structure",
      "members": {
        "EndpointIdentifier": {},
        "EndpointType": {},
        "EngineName": {},
        "EngineDisplayName": {},
        "Username": {},
        "ServerName": {},
        "Port": {
          "type": "integer"
        },
        "DatabaseName": {},
        "ExtraConnectionAttributes": {},
        "Status": {},
        "KmsKeyId": {},
        "EndpointArn": {},
        "CertificateArn": {},
        "SslMode": {},
        "ServiceAccessRoleArn": {},
        "ExternalTableDefinition": {},
        "ExternalId": {},
        "DynamoDbSettings": {
          "shape": "Sb"
        },
        "S3Settings": {
          "shape": "Sc"
        },
        "DmsTransferSettings": {
          "shape": "Se"
        },
        "MongoDbSettings": {
          "shape": "Sf"
        }
      }
    },
    "Sm": {
      "type": "list",
      "member": {}
    },
    "Sn": {
      "type": "list",
      "member": {}
    },
    "Sq": {
      "type": "structure",
      "members": {
        "CustomerAwsId": {},
        "CustSubscriptionId": {},
        "SnsTopicArn": {},
        "Status": {},
        "SubscriptionCreationTime": {},
        "SourceType": {},
        "SourceIdsList": {
          "shape": "Sn"
        },
        "EventCategoriesList": {
          "shape": "Sm"
        },
        "Enabled": {
          "type": "boolean"
        }
      }
    },
    "St": {
      "type": "list",
      "member": {}
    },
    "Sv": {
      "type": "structure",
      "members": {
        "ReplicationInstanceIdentifier": {},
        "ReplicationInstanceClass": {},
        "ReplicationInstanceStatus": {},
        "AllocatedStorage": {
          "type": "integer"
        },
        "InstanceCreateTime": {
          "type": "timestamp"
        },
        "VpcSecurityGroups": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "VpcSecurityGroupId": {},
              "Status": {}
            }
          }
        },
        "AvailabilityZone": {},
        "ReplicationSubnetGroup": {
          "shape": "S10"
        },
        "PreferredMaintenanceWindow": {},
        "PendingModifiedValues": {
          "type": "structure",
          "members": {
            "ReplicationInstanceClass": {},
            "AllocatedStorage": {
              "type": "integer"
            },
            "MultiAZ": {
              "type": "boolean"
            },
            "EngineVersion": {}
          }
        },
        "MultiAZ": {
          "type": "boolean"
        },
        "EngineVersion": {},
        "AutoMinorVersionUpgrade": {
          "type": "boolean"
        },
        "KmsKeyId": {},
        "ReplicationInstanceArn": {},
        "ReplicationInstancePublicIpAddress": {
          "deprecated": true
        },
        "ReplicationInstancePrivateIpAddress": {
          "deprecated": true
        },
        "ReplicationInstancePublicIpAddresses": {
          "type": "list",
          "member": {}
        },
        "ReplicationInstancePrivateIpAddresses": {
          "type": "list",
          "member": {}
        },
        "PubliclyAccessible": {
          "type": "boolean"
        },
        "SecondaryAvailabilityZone": {},
        "FreeUntil": {
          "type": "timestamp"
        }
      }
    },
    "S10": {
      "type": "structure",
      "members": {
        "ReplicationSubnetGroupIdentifier": {},
        "ReplicationSubnetGroupDescription": {},
        "VpcId": {},
        "SubnetGroupStatus": {},
        "Subnets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "SubnetIdentifier": {},
              "SubnetAvailabilityZone": {
                "type": "structure",
                "members": {
                  "Name": {}
                }
              },
              "SubnetStatus": {}
            }
          }
        }
      }
    },
    "S18": {
      "type": "list",
      "member": {}
    },
    "S1d": {
      "type": "structure",
      "members": {
        "ReplicationTaskIdentifier": {},
        "SourceEndpointArn": {},
        "TargetEndpointArn": {},
        "ReplicationInstanceArn": {},
        "MigrationType": {},
        "TableMappings": {},
        "ReplicationTaskSettings": {},
        "Status": {},
        "LastFailureMessage": {},
        "StopReason": {},
        "ReplicationTaskCreationDate": {
          "type": "timestamp"
        },
        "ReplicationTaskStartDate": {
          "type": "timestamp"
        },
        "CdcStartPosition": {},
        "CdcStopPosition": {},
        "RecoveryCheckpoint": {},
        "ReplicationTaskArn": {},
        "ReplicationTaskStats": {
          "type": "structure",
          "members": {
            "FullLoadProgressPercent": {
              "type": "integer"
            },
            "ElapsedTimeMillis": {
              "type": "long"
            },
            "TablesLoaded": {
              "type": "integer"
            },
            "TablesLoading": {
              "type": "integer"
            },
            "TablesQueued": {
              "type": "integer"
            },
            "TablesErrored": {
              "type": "integer"
            }
          }
        }
      }
    },
    "S1i": {
      "type": "structure",
      "members": {
        "CertificateIdentifier": {},
        "CertificateCreationDate": {
          "type": "timestamp"
        },
        "CertificatePem": {},
        "CertificateWallet": {
          "type": "blob"
        },
        "CertificateArn": {},
        "CertificateOwner": {},
        "ValidFromDate": {
          "type": "timestamp"
        },
        "ValidToDate": {
          "type": "timestamp"
        },
        "SigningAlgorithm": {},
        "KeyLength": {
          "type": "integer"
        }
      }
    },
    "S1z": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Values"
        ],
        "members": {
          "Name": {},
          "Values": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "S27": {
      "type": "structure",
      "members": {
        "ReplicationInstanceArn": {},
        "EndpointArn": {},
        "Status": {},
        "LastFailureMessage": {},
        "EndpointIdentifier": {},
        "ReplicationInstanceIdentifier": {}
      }
    },
    "S2x": {
      "type": "structure",
      "members": {
        "EndpointArn": {},
        "ReplicationInstanceArn": {},
        "Status": {},
        "LastRefreshDate": {
          "type": "timestamp"
        },
        "LastFailureMessage": {}
      }
    }
  }
}