{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-01-01",
    "endpointPrefix": "dms",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Database Migration Service",
    "serviceId": "Database Migration Service",
    "signatureVersion": "v4",
    "targetPrefix": "AmazonDMSv20160101",
    "uid": "dms-2016-01-01"
  },
  "operations": {
    "AddTagsToResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ApplyPendingMaintenanceAction": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceArn",
          "ApplyAction",
          "OptInType"
        ],
        "members": {
          "ReplicationInstanceArn": {},
          "ApplyAction": {},
          "OptInType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourcePendingMaintenanceActions": {
            "shape": "S8"
          }
        }
      }
    },
    "BatchStartRecommendations": {
      "input": {
        "type": "structure",
        "members": {
          "Data": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "DatabaseId",
                "Settings"
              ],
              "members": {
                "DatabaseId": {},
                "Settings": {
                  "shape": "Sf"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ErrorEntries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DatabaseId": {},
                "Message": {},
                "Code": {}
              }
            }
          }
        }
      }
    },
    "CancelReplicationTaskAssessmentRun": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskAssessmentRunArn"
        ],
        "members": {
          "ReplicationTaskAssessmentRunArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTaskAssessmentRun": {
            "shape": "Sl"
          }
        }
      }
    },
    "CreateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointIdentifier",
          "EndpointType",
          "EngineName"
        ],
        "members": {
          "EndpointIdentifier": {},
          "EndpointType": {},
          "EngineName": {},
          "Username": {},
          "Password": {
            "shape": "Sq"
          },
          "ServerName": {},
          "Port": {
            "type": "integer"
          },
          "DatabaseName": {},
          "ExtraConnectionAttributes": {},
          "KmsKeyId": {},
          "Tags": {
            "shape": "S3"
          },
          "CertificateArn": {},
          "SslMode": {},
          "ServiceAccessRoleArn": {},
          "ExternalTableDefinition": {},
          "DynamoDbSettings": {
            "shape": "St"
          },
          "S3Settings": {
            "shape": "Su"
          },
          "DmsTransferSettings": {
            "shape": "S14"
          },
          "MongoDbSettings": {
            "shape": "S15"
          },
          "KinesisSettings": {
            "shape": "S19"
          },
          "KafkaSettings": {
            "shape": "S1b"
          },
          "ElasticsearchSettings": {
            "shape": "S1d"
          },
          "NeptuneSettings": {
            "shape": "S1e"
          },
          "RedshiftSettings": {
            "shape": "S1f"
          },
          "PostgreSQLSettings": {
            "shape": "S1g"
          },
          "MySQLSettings": {
            "shape": "S1i"
          },
          "OracleSettings": {
            "shape": "S1k"
          },
          "SybaseSettings": {
            "shape": "S1n"
          },
          "MicrosoftSQLServerSettings": {
            "shape": "S1o"
          },
          "IBMDb2Settings": {
            "shape": "S1q"
          },
          "ResourceIdentifier": {},
          "DocDbSettings": {
            "shape": "S1r"
          },
          "RedisSettings": {
            "shape": "S1s"
          },
          "GcpMySQLSettings": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Endpoint": {
            "shape": "S1x"
          }
        }
      }
    },
    "CreateEventSubscription": {
      "input": {
        "type": "structure",
        "required": [
          "SubscriptionName",
          "SnsTopicArn"
        ],
        "members": {
          "SubscriptionName": {},
          "SnsTopicArn": {},
          "SourceType": {},
          "EventCategories": {
            "shape": "S1z"
          },
          "SourceIds": {
            "shape": "S20"
          },
          "Enabled": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventSubscription": {
            "shape": "S22"
          }
        }
      }
    },
    "CreateFleetAdvisorCollector": {
      "input": {
        "type": "structure",
        "required": [
          "CollectorName",
          "ServiceAccessRoleArn",
          "S3BucketName"
        ],
        "members": {
          "CollectorName": {},
          "Description": {},
          "ServiceAccessRoleArn": {},
          "S3BucketName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CollectorReferencedId": {},
          "CollectorName": {},
          "Description": {},
          "ServiceAccessRoleArn": {},
          "S3BucketName": {}
        }
      }
    },
    "CreateReplicationInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceIdentifier",
          "ReplicationInstanceClass"
        ],
        "members": {
          "ReplicationInstanceIdentifier": {},
          "AllocatedStorage": {
            "type": "integer"
          },
          "ReplicationInstanceClass": {},
          "VpcSecurityGroupIds": {
            "shape": "S27"
          },
          "AvailabilityZone": {},
          "ReplicationSubnetGroupIdentifier": {},
          "PreferredMaintenanceWindow": {},
          "MultiAZ": {
            "type": "boolean"
          },
          "EngineVersion": {},
          "AutoMinorVersionUpgrade": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S3"
          },
          "KmsKeyId": {},
          "PubliclyAccessible": {
            "type": "boolean"
          },
          "DnsNameServers": {},
          "ResourceIdentifier": {},
          "NetworkType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationInstance": {
            "shape": "S29"
          }
        }
      }
    },
    "CreateReplicationSubnetGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationSubnetGroupIdentifier",
          "ReplicationSubnetGroupDescription",
          "SubnetIds"
        ],
        "members": {
          "ReplicationSubnetGroupIdentifier": {},
          "ReplicationSubnetGroupDescription": {},
          "SubnetIds": {
            "shape": "S2m"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationSubnetGroup": {
            "shape": "S2c"
          }
        }
      }
    },
    "CreateReplicationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskIdentifier",
          "SourceEndpointArn",
          "TargetEndpointArn",
          "ReplicationInstanceArn",
          "MigrationType",
          "TableMappings"
        ],
        "members": {
          "ReplicationTaskIdentifier": {},
          "SourceEndpointArn": {},
          "TargetEndpointArn": {},
          "ReplicationInstanceArn": {},
          "MigrationType": {},
          "TableMappings": {},
          "ReplicationTaskSettings": {},
          "CdcStartTime": {
            "type": "timestamp"
          },
          "CdcStartPosition": {},
          "CdcStopPosition": {},
          "Tags": {
            "shape": "S3"
          },
          "TaskData": {},
          "ResourceIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S2r"
          }
        }
      }
    },
    "DeleteCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateArn"
        ],
        "members": {
          "CertificateArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Certificate": {
            "shape": "S2w"
          }
        }
      }
    },
    "DeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointArn",
          "ReplicationInstanceArn"
        ],
        "members": {
          "EndpointArn": {},
          "ReplicationInstanceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "S30"
          }
        }
      }
    },
    "DeleteEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Endpoint": {
            "shape": "S1x"
          }
        }
      }
    },
    "DeleteEventSubscription": {
      "input": {
        "type": "structure",
        "required": [
          "SubscriptionName"
        ],
        "members": {
          "SubscriptionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventSubscription": {
            "shape": "S22"
          }
        }
      }
    },
    "DeleteFleetAdvisorCollector": {
      "input": {
        "type": "structure",
        "required": [
          "CollectorReferencedId"
        ],
        "members": {
          "CollectorReferencedId": {}
        }
      }
    },
    "DeleteFleetAdvisorDatabases": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseIds"
        ],
        "members": {
          "DatabaseIds": {
            "shape": "S2g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DatabaseIds": {
            "shape": "S2g"
          }
        }
      }
    },
    "DeleteReplicationInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceArn"
        ],
        "members": {
          "ReplicationInstanceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationInstance": {
            "shape": "S29"
          }
        }
      }
    },
    "DeleteReplicationSubnetGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationSubnetGroupIdentifier"
        ],
        "members": {
          "ReplicationSubnetGroupIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteReplicationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn"
        ],
        "members": {
          "ReplicationTaskArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S2r"
          }
        }
      }
    },
    "DeleteReplicationTaskAssessmentRun": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskAssessmentRunArn"
        ],
        "members": {
          "ReplicationTaskAssessmentRunArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTaskAssessmentRun": {
            "shape": "Sl"
          }
        }
      }
    },
    "DescribeAccountAttributes": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountQuotas": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountQuotaName": {},
                "Used": {
                  "type": "long"
                },
                "Max": {
                  "type": "long"
                }
              }
            }
          },
          "UniqueAccountIdentifier": {}
        }
      }
    },
    "DescribeApplicableIndividualAssessments": {
      "input": {
        "type": "structure",
        "members": {
          "ReplicationTaskArn": {},
          "ReplicationInstanceArn": {},
          "SourceEngineName": {},
          "TargetEngineName": {},
          "MigrationType": {},
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IndividualAssessmentNames": {
            "type": "list",
            "member": {}
          },
          "Marker": {}
        }
      }
    },
    "DescribeCertificates": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "Certificates": {
            "type": "list",
            "member": {
              "shape": "S2w"
            }
          }
        }
      }
    },
    "DescribeConnections": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "Connections": {
            "type": "list",
            "member": {
              "shape": "S30"
            }
          }
        }
      }
    },
    "DescribeEndpointSettings": {
      "input": {
        "type": "structure",
        "required": [
          "EngineName"
        ],
        "members": {
          "EngineName": {},
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "EndpointSettings": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Type": {},
                "EnumValues": {
                  "type": "list",
                  "member": {}
                },
                "Sensitive": {
                  "type": "boolean"
                },
                "Units": {},
                "Applicability": {},
                "IntValueMin": {
                  "type": "integer"
                },
                "IntValueMax": {
                  "type": "integer"
                },
                "DefaultValue": {}
              }
            }
          }
        }
      }
    },
    "DescribeEndpointTypes": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "SupportedEndpointTypes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EngineName": {},
                "SupportsCDC": {
                  "type": "boolean"
                },
                "EndpointType": {},
                "ReplicationInstanceEngineMinimumVersion": {},
                "EngineDisplayName": {}
              }
            }
          }
        }
      }
    },
    "DescribeEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "Endpoints": {
            "type": "list",
            "member": {
              "shape": "S1x"
            }
          }
        }
      }
    },
    "DescribeEventCategories": {
      "input": {
        "type": "structure",
        "members": {
          "SourceType": {},
          "Filters": {
            "shape": "S3o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventCategoryGroupList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SourceType": {},
                "EventCategories": {
                  "shape": "S1z"
                }
              }
            }
          }
        }
      }
    },
    "DescribeEventSubscriptions": {
      "input": {
        "type": "structure",
        "members": {
          "SubscriptionName": {},
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "EventSubscriptionsList": {
            "type": "list",
            "member": {
              "shape": "S22"
            }
          }
        }
      }
    },
    "DescribeEvents": {
      "input": {
        "type": "structure",
        "members": {
          "SourceIdentifier": {},
          "SourceType": {},
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "Duration": {
            "type": "integer"
          },
          "EventCategories": {
            "shape": "S1z"
          },
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "Events": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SourceIdentifier": {},
                "SourceType": {},
                "Message": {},
                "EventCategories": {
                  "shape": "S1z"
                },
                "Date": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "DescribeFleetAdvisorCollectors": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Collectors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CollectorReferencedId": {},
                "CollectorName": {},
                "CollectorVersion": {},
                "VersionStatus": {},
                "Description": {},
                "S3BucketName": {},
                "ServiceAccessRoleArn": {},
                "CollectorHealthCheck": {
                  "type": "structure",
                  "members": {
                    "CollectorStatus": {},
                    "LocalCollectorS3Access": {
                      "type": "boolean"
                    },
                    "WebCollectorS3Access": {
                      "type": "boolean"
                    },
                    "WebCollectorGrantedRoleBasedAccess": {
                      "type": "boolean"
                    }
                  }
                },
                "LastDataReceived": {},
                "RegisteredDate": {},
                "CreatedDate": {},
                "ModifiedDate": {},
                "InventoryData": {
                  "type": "structure",
                  "members": {
                    "NumberOfDatabases": {
                      "type": "integer"
                    },
                    "NumberOfSchemas": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeFleetAdvisorDatabases": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Databases": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DatabaseId": {},
                "DatabaseName": {},
                "IpAddress": {},
                "NumberOfSchemas": {
                  "type": "long"
                },
                "Server": {
                  "shape": "S4y"
                },
                "SoftwareDetails": {
                  "type": "structure",
                  "members": {
                    "Engine": {},
                    "EngineVersion": {},
                    "EngineEdition": {},
                    "ServicePack": {},
                    "SupportLevel": {},
                    "OsArchitecture": {
                      "type": "integer"
                    },
                    "Tooltip": {}
                  }
                },
                "Collectors": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "CollectorReferencedId": {},
                      "CollectorName": {}
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeFleetAdvisorLsaAnalysis": {
      "input": {
        "type": "structure",
        "members": {
          "MaxRecords": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Analysis": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "LsaAnalysisId": {},
                "Status": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeFleetAdvisorSchemaObjectSummary": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetAdvisorSchemaObjects": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SchemaId": {},
                "ObjectType": {},
                "NumberOfObjects": {
                  "type": "long"
                },
                "CodeLineCount": {
                  "type": "long"
                },
                "CodeSize": {
                  "type": "long"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeFleetAdvisorSchemas": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetAdvisorSchemas": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CodeLineCount": {
                  "type": "long"
                },
                "CodeSize": {
                  "type": "long"
                },
                "Complexity": {},
                "Server": {
                  "shape": "S4y"
                },
                "DatabaseInstance": {
                  "type": "structure",
                  "members": {
                    "DatabaseId": {},
                    "DatabaseName": {},
                    "DatabaseIpAddress": {},
                    "DatabaseEngine": {}
                  }
                },
                "SchemaId": {},
                "SchemaName": {},
                "OriginalSchema": {
                  "type": "structure",
                  "members": {
                    "SchemaId": {},
                    "SchemaName": {},
                    "DatabaseId": {},
                    "DatabaseName": {},
                    "DatabaseIpAddress": {}
                  }
                },
                "Similarity": {
                  "type": "double"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeOrderableReplicationInstances": {
      "input": {
        "type": "structure",
        "members": {
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OrderableReplicationInstances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EngineVersion": {},
                "ReplicationInstanceClass": {},
                "StorageType": {},
                "MinAllocatedStorage": {
                  "type": "integer"
                },
                "MaxAllocatedStorage": {
                  "type": "integer"
                },
                "DefaultAllocatedStorage": {
                  "type": "integer"
                },
                "IncludedAllocatedStorage": {
                  "type": "integer"
                },
                "AvailabilityZones": {
                  "type": "list",
                  "member": {}
                },
                "ReleaseStatus": {}
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "DescribePendingMaintenanceActions": {
      "input": {
        "type": "structure",
        "members": {
          "ReplicationInstanceArn": {},
          "Filters": {
            "shape": "S3o"
          },
          "Marker": {},
          "MaxRecords": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PendingMaintenanceActions": {
            "type": "list",
            "member": {
              "shape": "S8"
            }
          },
          "Marker": {}
        }
      }
    },
    "DescribeRecommendationLimitations": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Limitations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DatabaseId": {},
                "EngineName": {},
                "Name": {},
                "Description": {},
                "Impact": {},
                "Type": {}
              }
            }
          }
        }
      }
    },
    "DescribeRecommendations": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Recommendations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DatabaseId": {},
                "EngineName": {},
                "CreatedDate": {},
                "Status": {},
                "Preferred": {
                  "type": "boolean"
                },
                "Settings": {
                  "shape": "Sf"
                },
                "Data": {
                  "type": "structure",
                  "members": {
                    "RdsEngine": {
                      "type": "structure",
                      "members": {
                        "RequirementsToTarget": {
                          "type": "structure",
                          "members": {
                            "EngineEdition": {},
                            "InstanceVcpu": {
                              "type": "double"
                            },
                            "InstanceMemory": {
                              "type": "double"
                            },
                            "StorageSize": {
                              "type": "integer"
                            },
                            "StorageIops": {
                              "type": "integer"
                            },
                            "DeploymentOption": {}
                          }
                        },
                        "TargetConfiguration": {
                          "type": "structure",
                          "members": {
                            "EngineEdition": {},
                            "InstanceType": {},
                            "InstanceVcpu": {
                              "type": "double"
                            },
                            "InstanceMemory": {
                              "type": "double"
                            },
                            "StorageType": {},
                            "StorageSize": {
                              "type": "integer"
                            },
                            "StorageIops": {
                              "type": "integer"
                            },
                            "DeploymentOption": {}
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeRefreshSchemasStatus": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RefreshSchemasStatus": {
            "shape": "S64"
          }
        }
      }
    },
    "DescribeReplicationInstanceTaskLogs": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceArn"
        ],
        "members": {
          "ReplicationInstanceArn": {},
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationInstanceArn": {},
          "ReplicationInstanceTaskLogs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ReplicationTaskName": {},
                "ReplicationTaskArn": {},
                "ReplicationInstanceTaskLogSize": {
                  "type": "long"
                }
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "DescribeReplicationInstances": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "ReplicationInstances": {
            "type": "list",
            "member": {
              "shape": "S29"
            }
          }
        }
      }
    },
    "DescribeReplicationSubnetGroups": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "ReplicationSubnetGroups": {
            "type": "list",
            "member": {
              "shape": "S2c"
            }
          }
        }
      }
    },
    "DescribeReplicationTaskAssessmentResults": {
      "input": {
        "type": "structure",
        "members": {
          "ReplicationTaskArn": {},
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "BucketName": {},
          "ReplicationTaskAssessmentResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ReplicationTaskIdentifier": {},
                "ReplicationTaskArn": {},
                "ReplicationTaskLastAssessmentDate": {
                  "type": "timestamp"
                },
                "AssessmentStatus": {},
                "AssessmentResultsFile": {},
                "AssessmentResults": {},
                "S3ObjectUrl": {}
              }
            }
          }
        }
      }
    },
    "DescribeReplicationTaskAssessmentRuns": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "ReplicationTaskAssessmentRuns": {
            "type": "list",
            "member": {
              "shape": "Sl"
            }
          }
        }
      }
    },
    "DescribeReplicationTaskIndividualAssessments": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "ReplicationTaskIndividualAssessments": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ReplicationTaskIndividualAssessmentArn": {},
                "ReplicationTaskAssessmentRunArn": {},
                "IndividualAssessmentName": {},
                "Status": {},
                "ReplicationTaskIndividualAssessmentStartDate": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "DescribeReplicationTasks": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S3o"
          },
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {},
          "WithoutSettings": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "ReplicationTasks": {
            "type": "list",
            "member": {
              "shape": "S2r"
            }
          }
        }
      }
    },
    "DescribeSchemas": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {},
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Marker": {},
          "Schemas": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "DescribeTableStatistics": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn"
        ],
        "members": {
          "ReplicationTaskArn": {},
          "MaxRecords": {
            "type": "integer"
          },
          "Marker": {},
          "Filters": {
            "shape": "S3o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTaskArn": {},
          "TableStatistics": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SchemaName": {},
                "TableName": {},
                "Inserts": {
                  "type": "long"
                },
                "Deletes": {
                  "type": "long"
                },
                "Updates": {
                  "type": "long"
                },
                "Ddls": {
                  "type": "long"
                },
                "AppliedInserts": {
                  "type": "long"
                },
                "AppliedDeletes": {
                  "type": "long"
                },
                "AppliedUpdates": {
                  "type": "long"
                },
                "AppliedDdls": {
                  "type": "long"
                },
                "FullLoadRows": {
                  "type": "long"
                },
                "FullLoadCondtnlChkFailedRows": {
                  "type": "long"
                },
                "FullLoadErrorRows": {
                  "type": "long"
                },
                "FullLoadStartTime": {
                  "type": "timestamp"
                },
                "FullLoadEndTime": {
                  "type": "timestamp"
                },
                "FullLoadReloaded": {
                  "type": "boolean"
                },
                "LastUpdateTime": {
                  "type": "timestamp"
                },
                "TableState": {},
                "ValidationPendingRecords": {
                  "type": "long"
                },
                "ValidationFailedRecords": {
                  "type": "long"
                },
                "ValidationSuspendedRecords": {
                  "type": "long"
                },
                "ValidationState": {},
                "ValidationStateDetails": {}
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "ImportCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateIdentifier"
        ],
        "members": {
          "CertificateIdentifier": {},
          "CertificatePem": {
            "shape": "Sq"
          },
          "CertificateWallet": {
            "type": "blob"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Certificate": {
            "shape": "S2w"
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {},
          "ResourceArnList": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TagList": {
            "shape": "S3"
          }
        }
      }
    },
    "ModifyEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {},
          "EndpointIdentifier": {},
          "EndpointType": {},
          "EngineName": {},
          "Username": {},
          "Password": {
            "shape": "Sq"
          },
          "ServerName": {},
          "Port": {
            "type": "integer"
          },
          "DatabaseName": {},
          "ExtraConnectionAttributes": {},
          "CertificateArn": {},
          "SslMode": {},
          "ServiceAccessRoleArn": {},
          "ExternalTableDefinition": {},
          "DynamoDbSettings": {
            "shape": "St"
          },
          "S3Settings": {
            "shape": "Su"
          },
          "DmsTransferSettings": {
            "shape": "S14"
          },
          "MongoDbSettings": {
            "shape": "S15"
          },
          "KinesisSettings": {
            "shape": "S19"
          },
          "KafkaSettings": {
            "shape": "S1b"
          },
          "ElasticsearchSettings": {
            "shape": "S1d"
          },
          "NeptuneSettings": {
            "shape": "S1e"
          },
          "RedshiftSettings": {
            "shape": "S1f"
          },
          "PostgreSQLSettings": {
            "shape": "S1g"
          },
          "MySQLSettings": {
            "shape": "S1i"
          },
          "OracleSettings": {
            "shape": "S1k"
          },
          "SybaseSettings": {
            "shape": "S1n"
          },
          "MicrosoftSQLServerSettings": {
            "shape": "S1o"
          },
          "IBMDb2Settings": {
            "shape": "S1q"
          },
          "DocDbSettings": {
            "shape": "S1r"
          },
          "RedisSettings": {
            "shape": "S1s"
          },
          "ExactSettings": {
            "type": "boolean"
          },
          "GcpMySQLSettings": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Endpoint": {
            "shape": "S1x"
          }
        }
      }
    },
    "ModifyEventSubscription": {
      "input": {
        "type": "structure",
        "required": [
          "SubscriptionName"
        ],
        "members": {
          "SubscriptionName": {},
          "SnsTopicArn": {},
          "SourceType": {},
          "EventCategories": {
            "shape": "S1z"
          },
          "Enabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventSubscription": {
            "shape": "S22"
          }
        }
      }
    },
    "ModifyReplicationInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceArn"
        ],
        "members": {
          "ReplicationInstanceArn": {},
          "AllocatedStorage": {
            "type": "integer"
          },
          "ApplyImmediately": {
            "type": "boolean"
          },
          "ReplicationInstanceClass": {},
          "VpcSecurityGroupIds": {
            "shape": "S27"
          },
          "PreferredMaintenanceWindow": {},
          "MultiAZ": {
            "type": "boolean"
          },
          "EngineVersion": {},
          "AllowMajorVersionUpgrade": {
            "type": "boolean"
          },
          "AutoMinorVersionUpgrade": {
            "type": "boolean"
          },
          "ReplicationInstanceIdentifier": {},
          "NetworkType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationInstance": {
            "shape": "S29"
          }
        }
      }
    },
    "ModifyReplicationSubnetGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationSubnetGroupIdentifier",
          "SubnetIds"
        ],
        "members": {
          "ReplicationSubnetGroupIdentifier": {},
          "ReplicationSubnetGroupDescription": {},
          "SubnetIds": {
            "shape": "S2m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationSubnetGroup": {
            "shape": "S2c"
          }
        }
      }
    },
    "ModifyReplicationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn"
        ],
        "members": {
          "ReplicationTaskArn": {},
          "ReplicationTaskIdentifier": {},
          "MigrationType": {},
          "TableMappings": {},
          "ReplicationTaskSettings": {},
          "CdcStartTime": {
            "type": "timestamp"
          },
          "CdcStartPosition": {},
          "CdcStopPosition": {},
          "TaskData": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S2r"
          }
        }
      }
    },
    "MoveReplicationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn",
          "TargetReplicationInstanceArn"
        ],
        "members": {
          "ReplicationTaskArn": {},
          "TargetReplicationInstanceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S2r"
          }
        }
      }
    },
    "RebootReplicationInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceArn"
        ],
        "members": {
          "ReplicationInstanceArn": {},
          "ForceFailover": {
            "type": "boolean"
          },
          "ForcePlannedFailover": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationInstance": {
            "shape": "S29"
          }
        }
      }
    },
    "RefreshSchemas": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointArn",
          "ReplicationInstanceArn"
        ],
        "members": {
          "EndpointArn": {},
          "ReplicationInstanceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RefreshSchemasStatus": {
            "shape": "S64"
          }
        }
      }
    },
    "ReloadTables": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn",
          "TablesToReload"
        ],
        "members": {
          "ReplicationTaskArn": {},
          "TablesToReload": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "SchemaName",
                "TableName"
              ],
              "members": {
                "SchemaName": {},
                "TableName": {}
              }
            }
          },
          "ReloadOption": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTaskArn": {}
        }
      }
    },
    "RemoveTagsFromResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RunFleetAdvisorLsaAnalysis": {
      "output": {
        "type": "structure",
        "members": {
          "LsaAnalysisId": {},
          "Status": {}
        }
      }
    },
    "StartRecommendations": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseId",
          "Settings"
        ],
        "members": {
          "DatabaseId": {},
          "Settings": {
            "shape": "Sf"
          }
        }
      }
    },
    "StartReplicationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn",
          "StartReplicationTaskType"
        ],
        "members": {
          "ReplicationTaskArn": {},
          "StartReplicationTaskType": {},
          "CdcStartTime": {
            "type": "timestamp"
          },
          "CdcStartPosition": {},
          "CdcStopPosition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S2r"
          }
        }
      }
    },
    "StartReplicationTaskAssessment": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn"
        ],
        "members": {
          "ReplicationTaskArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S2r"
          }
        }
      }
    },
    "StartReplicationTaskAssessmentRun": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn",
          "ServiceAccessRoleArn",
          "ResultLocationBucket",
          "AssessmentRunName"
        ],
        "members": {
          "ReplicationTaskArn": {},
          "ServiceAccessRoleArn": {},
          "ResultLocationBucket": {},
          "ResultLocationFolder": {},
          "ResultEncryptionMode": {},
          "ResultKmsKeyArn": {},
          "AssessmentRunName": {},
          "IncludeOnly": {
            "type": "list",
            "member": {}
          },
          "Exclude": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTaskAssessmentRun": {
            "shape": "Sl"
          }
        }
      }
    },
    "StopReplicationTask": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationTaskArn"
        ],
        "members": {
          "ReplicationTaskArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReplicationTask": {
            "shape": "S2r"
          }
        }
      }
    },
    "TestConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ReplicationInstanceArn",
          "EndpointArn"
        ],
        "members": {
          "ReplicationInstanceArn": {},
          "EndpointArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "S30"
          }
        }
      }
    },
    "UpdateSubscriptionsToEventBridge": {
      "input": {
        "type": "structure",
        "members": {
          "ForceMove": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Result": {}
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {},
          "ResourceArn": {}
        }
      }
    },
    "S8": {
      "type": "structure",
      "members": {
        "ResourceIdentifier": {},
        "PendingMaintenanceActionDetails": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Action": {},
              "AutoAppliedAfterDate": {
                "type": "timestamp"
              },
              "ForcedApplyDate": {
                "type": "timestamp"
              },
              "OptInStatus": {},
              "CurrentApplyDate": {
                "type": "timestamp"
              },
              "Description": {}
            }
          }
        }
      }
    },
    "Sf": {
      "type": "structure",
      "required": [
        "InstanceSizingType",
        "WorkloadType"
      ],
      "members": {
        "InstanceSizingType": {},
        "WorkloadType": {}
      }
    },
    "Sl": {
      "type": "structure",
      "members": {
        "ReplicationTaskAssessmentRunArn": {},
        "ReplicationTaskArn": {},
        "Status": {},
        "ReplicationTaskAssessmentRunCreationDate": {
          "type": "timestamp"
        },
        "AssessmentProgress": {
          "type": "structure",
          "members": {
            "IndividualAssessmentCount": {
              "type": "integer"
            },
            "IndividualAssessmentCompletedCount": {
              "type": "integer"
            }
          }
        },
        "LastFailureMessage": {},
        "ServiceAccessRoleArn": {},
        "ResultLocationBucket": {},
        "ResultLocationFolder": {},
        "ResultEncryptionMode": {},
        "ResultKmsKeyArn": {},
        "AssessmentRunName": {}
      }
    },
    "Sq": {
      "type": "string",
      "sensitive": true
    },
    "St": {
      "type": "structure",
      "required": [
        "ServiceAccessRoleArn"
      ],
      "members": {
        "ServiceAccessRoleArn": {}
      }
    },
    "Su": {
      "type": "structure",
      "members": {
        "ServiceAccessRoleArn": {},
        "ExternalTableDefinition": {},
        "CsvRowDelimiter": {},
        "CsvDelimiter": {},
        "BucketFolder": {},
        "BucketName": {},
        "CompressionType": {},
        "EncryptionMode": {},
        "ServerSideEncryptionKmsKeyId": {},
        "DataFormat": {},
        "EncodingType": {},
        "DictPageSizeLimit": {
          "type": "integer"
        },
        "RowGroupLength": {
          "type": "integer"
        },
        "DataPageSize": {
          "type": "integer"
        },
        "ParquetVersion": {},
        "EnableStatistics": {
          "type": "boolean"
        },
        "IncludeOpForFullLoad": {
          "type": "boolean"
        },
        "CdcInsertsOnly": {
          "type": "boolean"
        },
        "TimestampColumnName": {},
        "ParquetTimestampInMillisecond": {
          "type": "boolean"
        },
        "CdcInsertsAndUpdates": {
          "type": "boolean"
        },
        "DatePartitionEnabled": {
          "type": "boolean"
        },
        "DatePartitionSequence": {},
        "DatePartitionDelimiter": {},
        "UseCsvNoSupValue": {
          "type": "boolean"
        },
        "CsvNoSupValue": {},
        "PreserveTransactions": {
          "type": "boolean"
        },
        "CdcPath": {},
        "UseTaskStartTimeForFullLoadTimestamp": {
          "type": "boolean"
        },
        "CannedAclForObjects": {},
        "AddColumnName": {
          "type": "boolean"
        },
        "CdcMaxBatchInterval": {
          "type": "integer"
        },
        "CdcMinFileSize": {
          "type": "integer"
        },
        "CsvNullValue": {},
        "IgnoreHeaderRows": {
          "type": "integer"
        },
        "MaxFileSize": {
          "type": "integer"
        },
        "Rfc4180": {
          "type": "boolean"
        },
        "DatePartitionTimezone": {},
        "AddTrailingPaddingCharacter": {
          "type": "boolean"
        },
        "ExpectedBucketOwner": {}
      }
    },
    "S14": {
      "type": "structure",
      "members": {
        "ServiceAccessRoleArn": {},
        "BucketName": {}
      }
    },
    "S15": {
      "type": "structure",
      "members": {
        "Username": {},
        "Password": {
          "shape": "Sq"
        },
        "ServerName": {},
        "Port": {
          "type": "integer"
        },
        "DatabaseName": {},
        "AuthType": {},
        "AuthMechanism": {},
        "NestingLevel": {},
        "ExtractDocId": {},
        "DocsToInvestigate": {},
        "AuthSource": {},
        "KmsKeyId": {},
        "SecretsManagerAccessRoleArn": {},
        "SecretsManagerSecretId": {}
      }
    },
    "S19": {
      "type": "structure",
      "members": {
        "StreamArn": {},
        "MessageFormat": {},
        "ServiceAccessRoleArn": {},
        "IncludeTransactionDetails": {
          "type": "boolean"
        },
        "IncludePartitionValue": {
          "type": "boolean"
        },
        "PartitionIncludeSchemaTable": {
          "type": "boolean"
        },
        "IncludeTableAlterOperations": {
          "type": "boolean"
        },
        "IncludeControlDetails": {
          "type": "boolean"
        },
        "IncludeNullAndEmpty": {
          "type": "boolean"
        },
        "NoHexPrefix": {
          "type": "boolean"
        }
      }
    },
    "S1b": {
      "type": "structure",
      "members": {
        "Broker": {},
        "Topic": {},
        "MessageFormat": {},
        "IncludeTransactionDetails": {
          "type": "boolean"
        },
        "IncludePartitionValue": {
          "type": "boolean"
        },
        "PartitionIncludeSchemaTable": {
          "type": "boolean"
        },
        "IncludeTableAlterOperations": {
          "type": "boolean"
        },
        "IncludeControlDetails": {
          "type": "boolean"
        },
        "MessageMaxBytes": {
          "type": "integer"
        },
        "IncludeNullAndEmpty": {
          "type": "boolean"
        },
        "SecurityProtocol": {},
        "SslClientCertificateArn": {},
        "SslClientKeyArn": {},
        "SslClientKeyPassword": {
          "shape": "Sq"
        },
        "SslCaCertificateArn": {},
        "SaslUsername": {},
        "SaslPassword": {
          "shape": "Sq"
        },
        "NoHexPrefix": {
          "type": "boolean"
        }
      }
    },
    "S1d": {
      "type": "structure",
      "required": [
        "ServiceAccessRoleArn",
        "EndpointUri"
      ],
      "members": {
        "ServiceAccessRoleArn": {},
        "EndpointUri": {},
        "FullLoadErrorPercentage": {
          "type": "integer"
        },
        "ErrorRetryDuration": {
          "type": "integer"
        },
        "UseNewMappingType": {
          "type": "boolean"
        }
      }
    },
    "S1e": {
      "type": "structure",
      "required": [
        "S3BucketName",
        "S3BucketFolder"
      ],
      "members": {
        "ServiceAccessRoleArn": {},
        "S3BucketName": {},
        "S3BucketFolder": {},
        "ErrorRetryDuration": {
          "type": "integer"
        },
        "MaxFileSize": {
          "type": "integer"
        },
        "MaxRetryCount": {
          "type": "integer"
        },
        "IamAuthEnabled": {
          "type": "boolean"
        }
      }
    },
    "S1f": {
      "type": "structure",
      "members": {
        "AcceptAnyDate": {
          "type": "boolean"
        },
        "AfterConnectScript": {},
        "BucketFolder": {},
        "BucketName": {},
        "CaseSensitiveNames": {
          "type": "boolean"
        },
        "CompUpdate": {
          "type": "boolean"
        },
        "ConnectionTimeout": {
          "type": "integer"
        },
        "DatabaseName": {},
        "DateFormat": {},
        "EmptyAsNull": {
          "type": "boolean"
        },
        "EncryptionMode": {},
        "ExplicitIds": {
          "type": "boolean"
        },
        "FileTransferUploadStreams": {
          "type": "integer"
        },
        "LoadTimeout": {
          "type": "integer"
        },
        "MaxFileSize": {
          "type": "integer"
        },
        "Password": {
          "shape": "Sq"
        },
        "Port": {
          "type": "integer"
        },
        "RemoveQuotes": {
          "type": "boolean"
        },
        "ReplaceInvalidChars": {},
        "ReplaceChars": {},
        "ServerName": {},
        "ServiceAccessRoleArn": {},
        "ServerSideEncryptionKmsKeyId": {},
        "TimeFormat": {},
        "TrimBlanks": {
          "type": "boolean"
        },
        "TruncateColumns": {
          "type": "boolean"
        },
        "Username": {},
        "WriteBufferSize": {
          "type": "integer"
        },
        "SecretsManagerAccessRoleArn": {},
        "SecretsManagerSecretId": {}
      }
    },
    "S1g": {
      "type": "structure",
      "members": {
        "AfterConnectScript": {},
        "CaptureDdls": {
          "type": "boolean"
        },
        "MaxFileSize": {
          "type": "integer"
        },
        "DatabaseName": {},
        "DdlArtifactsSchema": {},
        "ExecuteTimeout": {
          "type": "integer"
        },
        "FailTasksOnLobTruncation": {
          "type": "boolean"
        },
        "HeartbeatEnable": {
          "type": "boolean"
        },
        "HeartbeatSchema": {},
        "HeartbeatFrequency": {
          "type": "integer"
        },
        "Password": {
          "shape": "Sq"
        },
        "Port": {
          "type": "integer"
        },
        "ServerName": {},
        "Username": {},
        "SlotName": {},
        "PluginName": {},
        "SecretsManagerAccessRoleArn": {},
        "SecretsManagerSecretId": {},
        "TrimSpaceInChar": {
          "type": "boolean"
        }
      }
    },
    "S1i": {
      "type": "structure",
      "members": {
        "AfterConnectScript": {},
        "CleanSourceMetadataOnMismatch": {
          "type": "boolean"
        },
        "DatabaseName": {},
        "EventsPollInterval": {
          "type": "integer"
        },
        "TargetDbType": {},
        "MaxFileSize": {
          "type": "integer"
        },
        "ParallelLoadThreads": {
          "type": "integer"
        },
        "Password": {
          "shape": "Sq"
        },
        "Port": {
          "type": "integer"
        },
        "ServerName": {},
        "ServerTimezone": {},
        "Username": {},
        "SecretsManagerAccessRoleArn": {},
        "SecretsManagerSecretId": {}
      }
    },
    "S1k": {
      "type": "structure",
      "members": {
        "AddSupplementalLogging": {
          "type": "boolean"
        },
        "ArchivedLogDestId": {
          "type": "integer"
        },
        "AdditionalArchivedLogDestId": {
          "type": "integer"
        },
        "ExtraArchivedLogDestIds": {
          "type": "list",
          "member": {
            "type": "integer"
          }
        },
        "AllowSelectNestedTables": {
          "type": "boolean"
        },
        "ParallelAsmReadThreads": {
          "type": "integer"
        },
        "ReadAheadBlocks": {
          "type": "integer"
        },
        "AccessAlternateDirectly": {
          "type": "boolean"
        },
        "UseAlternateFolderForOnline": {
          "type": "boolean"
        },
        "OraclePathPrefix": {},
        "UsePathPrefix": {},
        "ReplacePathPrefix": {
          "type": "boolean"
        },
        "EnableHomogenousTablespace": {
          "type": "boolean"
        },
        "DirectPathNoLog": {
          "type": "boolean"
        },
        "ArchivedLogsOnly": {
          "type": "boolean"
        },
        "AsmPassword": {
          "shape": "Sq"
        },
        "AsmServer": {},
        "AsmUser": {},
        "CharLengthSemantics": {},
        "DatabaseName": {},
        "DirectPathParallelLoad": {
          "type": "boolean"
        },
        "FailTasksOnLobTruncation": {
          "type": "boolean"
        },
        "NumberDatatypeScale": {
          "type": "integer"
        },
        "Password": {
          "shape": "Sq"
        },
        "Port": {
          "type": "integer"
        },
        "ReadTableSpaceName": {
          "type": "boolean"
        },
        "RetryInterval": {
          "type": "integer"
        },
        "SecurityDbEncryption": {
          "shape": "Sq"
        },
        "SecurityDbEncryptionName": {},
        "ServerName": {},
        "SpatialDataOptionToGeoJsonFunctionName": {},
        "StandbyDelayTime": {
          "type": "integer"
        },
        "Username": {},
        "UseBFile": {
          "type": "boolean"
        },
        "UseDirectPathFullLoad": {
          "type": "boolean"
        },
        "UseLogminerReader": {
          "type": "boolean"
        },
        "SecretsManagerAccessRoleArn": {},
        "SecretsManagerSecretId": {},
        "SecretsManagerOracleAsmAccessRoleArn": {},
        "SecretsManagerOracleAsmSecretId": {},
        "TrimSpaceInChar": {
          "type": "boolean"
        }
      }
    },
    "S1n": {
      "type": "structure",
      "members": {
        "DatabaseName": {},
        "Password": {
          "shape": "Sq"
        },
        "Port": {
          "type": "integer"
        },
        "ServerName": {},
        "Username": {},
        "SecretsManagerAccessRoleArn": {},
        "SecretsManagerSecretId": {}
      }
    },
    "S1o": {
      "type": "structure",
      "members": {
        "Port": {
          "type": "integer"
        },
        "BcpPacketSize": {
          "type": "integer"
        },
        "DatabaseName": {},
        "ControlTablesFileGroup": {},
        "Password": {
          "shape": "Sq"
        },
        "QuerySingleAlwaysOnNode": {
          "type": "boolean"
        },
        "ReadBackupOnly": {
          "type": "boolean"
        },
        "SafeguardPolicy": {},
        "ServerName": {},
        "Username": {},
        "UseBcpFullLoad": {
          "type": "boolean"
        },
        "UseThirdPartyBackupDevice": {
          "type": "boolean"
        },
        "SecretsManagerAccessRoleArn": {},
        "SecretsManagerSecretId": {},
        "TrimSpaceInChar": {
          "type": "boolean"
        }
      }
    },
    "S1q": {
      "type": "structure",
      "members": {
        "DatabaseName": {},
        "Password": {
          "shape": "Sq"
        },
        "Port": {
          "type": "integer"
        },
        "ServerName": {},
        "SetDataCaptureChanges": {
          "type": "boolean"
        },
        "CurrentLsn": {},
        "MaxKBytesPerRead": {
          "type": "integer"
        },
        "Username": {},
        "SecretsManagerAccessRoleArn": {},
        "SecretsManagerSecretId": {}
      }
    },
    "S1r": {
      "type": "structure",
      "members": {
        "Username": {},
        "Password": {
          "shape": "Sq"
        },
        "ServerName": {},
        "Port": {
          "type": "integer"
        },
        "DatabaseName": {},
        "NestingLevel": {},
        "ExtractDocId": {
          "type": "boolean"
        },
        "DocsToInvestigate": {
          "type": "integer"
        },
        "KmsKeyId": {},
        "SecretsManagerAccessRoleArn": {},
        "SecretsManagerSecretId": {}
      }
    },
    "S1s": {
      "type": "structure",
      "required": [
        "ServerName",
        "Port"
      ],
      "members": {
        "ServerName": {},
        "Port": {
          "type": "integer"
        },
        "SslSecurityProtocol": {},
        "AuthType": {},
        "AuthUserName": {},
        "AuthPassword": {
          "shape": "Sq"
        },
        "SslCaCertificateArn": {}
      }
    },
    "S1v": {
      "type": "structure",
      "members": {
        "AfterConnectScript": {},
        "CleanSourceMetadataOnMismatch": {
          "type": "boolean"
        },
        "DatabaseName": {},
        "EventsPollInterval": {
          "type": "integer"
        },
        "TargetDbType": {},
        "MaxFileSize": {
          "type": "integer"
        },
        "ParallelLoadThreads": {
          "type": "integer"
        },
        "Password": {
          "shape": "Sq"
        },
        "Port": {
          "type": "integer"
        },
        "ServerName": {},
        "ServerTimezone": {},
        "Username": {},
        "SecretsManagerAccessRoleArn": {},
        "SecretsManagerSecretId": {}
      }
    },
    "S1x": {
      "type": "structure",
      "members": {
        "EndpointIdentifier": {},
        "EndpointType": {},
        "EngineName": {},
        "EngineDisplayName": {},
        "Username": {},
        "ServerName": {},
        "Port": {
          "type": "integer"
        },
        "DatabaseName": {},
        "ExtraConnectionAttributes": {},
        "Status": {},
        "KmsKeyId": {},
        "EndpointArn": {},
        "CertificateArn": {},
        "SslMode": {},
        "ServiceAccessRoleArn": {},
        "ExternalTableDefinition": {},
        "ExternalId": {},
        "DynamoDbSettings": {
          "shape": "St"
        },
        "S3Settings": {
          "shape": "Su"
        },
        "DmsTransferSettings": {
          "shape": "S14"
        },
        "MongoDbSettings": {
          "shape": "S15"
        },
        "KinesisSettings": {
          "shape": "S19"
        },
        "KafkaSettings": {
          "shape": "S1b"
        },
        "ElasticsearchSettings": {
          "shape": "S1d"
        },
        "NeptuneSettings": {
          "shape": "S1e"
        },
        "RedshiftSettings": {
          "shape": "S1f"
        },
        "PostgreSQLSettings": {
          "shape": "S1g"
        },
        "MySQLSettings": {
          "shape": "S1i"
        },
        "OracleSettings": {
          "shape": "S1k"
        },
        "SybaseSettings": {
          "shape": "S1n"
        },
        "MicrosoftSQLServerSettings": {
          "shape": "S1o"
        },
        "IBMDb2Settings": {
          "shape": "S1q"
        },
        "DocDbSettings": {
          "shape": "S1r"
        },
        "RedisSettings": {
          "shape": "S1s"
        },
        "GcpMySQLSettings": {
          "shape": "S1v"
        }
      }
    },
    "S1z": {
      "type": "list",
      "member": {}
    },
    "S20": {
      "type": "list",
      "member": {}
    },
    "S22": {
      "type": "structure",
      "members": {
        "CustomerAwsId": {},
        "CustSubscriptionId": {},
        "SnsTopicArn": {},
        "Status": {},
        "SubscriptionCreationTime": {},
        "SourceType": {},
        "SourceIdsList": {
          "shape": "S20"
        },
        "EventCategoriesList": {
          "shape": "S1z"
        },
        "Enabled": {
          "type": "boolean"
        }
      }
    },
    "S27": {
      "type": "list",
      "member": {}
    },
    "S29": {
      "type": "structure",
      "members": {
        "ReplicationInstanceIdentifier": {},
        "ReplicationInstanceClass": {},
        "ReplicationInstanceStatus": {},
        "AllocatedStorage": {
          "type": "integer"
        },
        "InstanceCreateTime": {
          "type": "timestamp"
        },
        "VpcSecurityGroups": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "VpcSecurityGroupId": {},
              "Status": {}
            }
          }
        },
        "AvailabilityZone": {},
        "ReplicationSubnetGroup": {
          "shape": "S2c"
        },
        "PreferredMaintenanceWindow": {},
        "PendingModifiedValues": {
          "type": "structure",
          "members": {
            "ReplicationInstanceClass": {},
            "AllocatedStorage": {
              "type": "integer"
            },
            "MultiAZ": {
              "type": "boolean"
            },
            "EngineVersion": {},
            "NetworkType": {}
          }
        },
        "MultiAZ": {
          "type": "boolean"
        },
        "EngineVersion": {},
        "AutoMinorVersionUpgrade": {
          "type": "boolean"
        },
        "KmsKeyId": {},
        "ReplicationInstanceArn": {},
        "ReplicationInstancePublicIpAddress": {
          "deprecated": true
        },
        "ReplicationInstancePrivateIpAddress": {
          "deprecated": true
        },
        "ReplicationInstancePublicIpAddresses": {
          "type": "list",
          "member": {}
        },
        "ReplicationInstancePrivateIpAddresses": {
          "type": "list",
          "member": {}
        },
        "ReplicationInstanceIpv6Addresses": {
          "type": "list",
          "member": {}
        },
        "PubliclyAccessible": {
          "type": "boolean"
        },
        "SecondaryAvailabilityZone": {},
        "FreeUntil": {
          "type": "timestamp"
        },
        "DnsNameServers": {},
        "NetworkType": {}
      }
    },
    "S2c": {
      "type": "structure",
      "members": {
        "ReplicationSubnetGroupIdentifier": {},
        "ReplicationSubnetGroupDescription": {},
        "VpcId": {},
        "SubnetGroupStatus": {},
        "Subnets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "SubnetIdentifier": {},
              "SubnetAvailabilityZone": {
                "type": "structure",
                "members": {
                  "Name": {}
                }
              },
              "SubnetStatus": {}
            }
          }
        },
        "SupportedNetworkTypes": {
          "shape": "S2g"
        }
      }
    },
    "S2g": {
      "type": "list",
      "member": {}
    },
    "S2m": {
      "type": "list",
      "member": {}
    },
    "S2r": {
      "type": "structure",
      "members": {
        "ReplicationTaskIdentifier": {},
        "SourceEndpointArn": {},
        "TargetEndpointArn": {},
        "ReplicationInstanceArn": {},
        "MigrationType": {},
        "TableMappings": {},
        "ReplicationTaskSettings": {},
        "Status": {},
        "LastFailureMessage": {},
        "StopReason": {},
        "ReplicationTaskCreationDate": {
          "type": "timestamp"
        },
        "ReplicationTaskStartDate": {
          "type": "timestamp"
        },
        "CdcStartPosition": {},
        "CdcStopPosition": {},
        "RecoveryCheckpoint": {},
        "ReplicationTaskArn": {},
        "ReplicationTaskStats": {
          "type": "structure",
          "members": {
            "FullLoadProgressPercent": {
              "type": "integer"
            },
            "ElapsedTimeMillis": {
              "type": "long"
            },
            "TablesLoaded": {
              "type": "integer"
            },
            "TablesLoading": {
              "type": "integer"
            },
            "TablesQueued": {
              "type": "integer"
            },
            "TablesErrored": {
              "type": "integer"
            },
            "FreshStartDate": {
              "type": "timestamp"
            },
            "StartDate": {
              "type": "timestamp"
            },
            "StopDate": {
              "type": "timestamp"
            },
            "FullLoadStartDate": {
              "type": "timestamp"
            },
            "FullLoadFinishDate": {
              "type": "timestamp"
            }
          }
        },
        "TaskData": {},
        "TargetReplicationInstanceArn": {}
      }
    },
    "S2w": {
      "type": "structure",
      "members": {
        "CertificateIdentifier": {},
        "CertificateCreationDate": {
          "type": "timestamp"
        },
        "CertificatePem": {},
        "CertificateWallet": {
          "type": "blob"
        },
        "CertificateArn": {},
        "CertificateOwner": {},
        "ValidFromDate": {
          "type": "timestamp"
        },
        "ValidToDate": {
          "type": "timestamp"
        },
        "SigningAlgorithm": {},
        "KeyLength": {
          "type": "integer"
        }
      }
    },
    "S30": {
      "type": "structure",
      "members": {
        "ReplicationInstanceArn": {},
        "EndpointArn": {},
        "Status": {},
        "LastFailureMessage": {},
        "EndpointIdentifier": {},
        "ReplicationInstanceIdentifier": {}
      }
    },
    "S3o": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Values"
        ],
        "members": {
          "Name": {},
          "Values": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "S4y": {
      "type": "structure",
      "members": {
        "ServerId": {},
        "IpAddress": {},
        "ServerName": {}
      }
    },
    "S64": {
      "type": "structure",
      "members": {
        "EndpointArn": {},
        "ReplicationInstanceArn": {},
        "Status": {},
        "LastRefreshDate": {
          "type": "timestamp"
        },
        "LastFailureMessage": {}
      }
    }
  }
}