{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-02-26",
    "endpointPrefix": "drs",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "drs",
    "serviceFullName": "Elastic Disaster Recovery Service",
    "serviceId": "drs",
    "signatureVersion": "v4",
    "signingName": "drs",
    "uid": "drs-2020-02-26"
  },
  "operations": {
    "CreateExtendedSourceServer": {
      "http": {
        "requestUri": "/CreateExtendedSourceServer",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerArn"
        ],
        "members": {
          "sourceServerArn": {},
          "tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "sourceServer": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateReplicationConfigurationTemplate": {
      "http": {
        "requestUri": "/CreateReplicationConfigurationTemplate",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "associateDefaultSecurityGroup",
          "bandwidthThrottling",
          "createPublicIP",
          "dataPlaneRouting",
          "defaultLargeStagingDiskType",
          "ebsEncryption",
          "pitPolicy",
          "replicationServerInstanceType",
          "replicationServersSecurityGroupsIDs",
          "stagingAreaSubnetId",
          "stagingAreaTags",
          "useDedicatedReplicationServer"
        ],
        "members": {
          "associateDefaultSecurityGroup": {
            "type": "boolean"
          },
          "bandwidthThrottling": {
            "type": "long"
          },
          "createPublicIP": {
            "type": "boolean"
          },
          "dataPlaneRouting": {},
          "defaultLargeStagingDiskType": {},
          "ebsEncryption": {},
          "ebsEncryptionKeyArn": {},
          "pitPolicy": {
            "shape": "S1m"
          },
          "replicationServerInstanceType": {},
          "replicationServersSecurityGroupsIDs": {
            "shape": "S1q"
          },
          "stagingAreaSubnetId": {},
          "stagingAreaTags": {
            "shape": "S3"
          },
          "tags": {
            "shape": "S3"
          },
          "useDedicatedReplicationServer": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "shape": "S1t"
      }
    },
    "DeleteJob": {
      "http": {
        "requestUri": "/DeleteJob",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "jobID"
        ],
        "members": {
          "jobID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteRecoveryInstance": {
      "http": {
        "requestUri": "/DeleteRecoveryInstance",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "recoveryInstanceID"
        ],
        "members": {
          "recoveryInstanceID": {}
        }
      }
    },
    "DeleteReplicationConfigurationTemplate": {
      "http": {
        "requestUri": "/DeleteReplicationConfigurationTemplate",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "replicationConfigurationTemplateID"
        ],
        "members": {
          "replicationConfigurationTemplateID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteSourceServer": {
      "http": {
        "requestUri": "/DeleteSourceServer",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DescribeJobLogItems": {
      "http": {
        "requestUri": "/DescribeJobLogItems",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "jobID"
        ],
        "members": {
          "jobID": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "event": {},
                "eventData": {
                  "type": "structure",
                  "members": {
                    "conversionProperties": {
                      "type": "structure",
                      "members": {
                        "dataTimestamp": {},
                        "forceUefi": {
                          "type": "boolean"
                        },
                        "rootVolumeName": {},
                        "volumeToConversionMap": {
                          "type": "map",
                          "key": {},
                          "value": {
                            "type": "map",
                            "key": {},
                            "value": {}
                          }
                        },
                        "volumeToVolumeSize": {
                          "type": "map",
                          "key": {},
                          "value": {
                            "type": "long"
                          }
                        }
                      }
                    },
                    "conversionServerID": {},
                    "rawError": {},
                    "sourceServerID": {},
                    "targetInstanceID": {}
                  }
                },
                "logDateTime": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeJobs": {
      "http": {
        "requestUri": "/DescribeJobs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "type": "structure",
            "members": {
              "fromDate": {},
              "jobIDs": {
                "type": "list",
                "member": {}
              },
              "toDate": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "shape": "S2j"
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeRecoveryInstances": {
      "http": {
        "requestUri": "/DescribeRecoveryInstances",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "type": "structure",
            "members": {
              "recoveryInstanceIDs": {
                "type": "list",
                "member": {}
              },
              "sourceServerIDs": {
                "type": "list",
                "member": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "dataReplicationInfo": {
                  "type": "structure",
                  "members": {
                    "dataReplicationError": {
                      "type": "structure",
                      "members": {
                        "error": {},
                        "rawError": {}
                      }
                    },
                    "dataReplicationInitiation": {
                      "type": "structure",
                      "members": {
                        "startDateTime": {},
                        "steps": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "name": {},
                              "status": {}
                            }
                          }
                        }
                      }
                    },
                    "dataReplicationState": {},
                    "etaDateTime": {},
                    "lagDuration": {},
                    "replicatedDisks": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "backloggedStorageBytes": {
                            "type": "long"
                          },
                          "deviceName": {},
                          "replicatedStorageBytes": {
                            "type": "long"
                          },
                          "rescannedStorageBytes": {
                            "type": "long"
                          },
                          "totalStorageBytes": {
                            "type": "long"
                          }
                        }
                      }
                    },
                    "stagingAvailabilityZone": {}
                  }
                },
                "ec2InstanceID": {},
                "ec2InstanceState": {},
                "failback": {
                  "type": "structure",
                  "members": {
                    "agentLastSeenByServiceDateTime": {},
                    "elapsedReplicationDuration": {},
                    "failbackClientID": {},
                    "failbackClientLastSeenByServiceDateTime": {},
                    "failbackInitiationTime": {},
                    "failbackJobID": {},
                    "failbackLaunchType": {},
                    "failbackToOriginalServer": {
                      "type": "boolean"
                    },
                    "firstByteDateTime": {},
                    "state": {}
                  }
                },
                "isDrill": {
                  "type": "boolean"
                },
                "jobID": {},
                "originAvailabilityZone": {},
                "originEnvironment": {},
                "pointInTimeSnapshotDateTime": {},
                "recoveryInstanceID": {},
                "recoveryInstanceProperties": {
                  "type": "structure",
                  "members": {
                    "cpus": {
                      "shape": "S13"
                    },
                    "disks": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "bytes": {
                            "type": "long"
                          },
                          "ebsVolumeID": {},
                          "internalDeviceName": {}
                        }
                      }
                    },
                    "identificationHints": {
                      "shape": "S17"
                    },
                    "lastUpdatedDateTime": {},
                    "networkInterfaces": {
                      "shape": "S19"
                    },
                    "os": {
                      "shape": "S1d"
                    },
                    "ramBytes": {
                      "type": "long"
                    }
                  }
                },
                "sourceServerID": {},
                "tags": {
                  "shape": "S3"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeRecoverySnapshots": {
      "http": {
        "requestUri": "/DescribeRecoverySnapshots",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "filters": {
            "type": "structure",
            "members": {
              "fromDateTime": {},
              "toDateTime": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "order": {},
          "sourceServerID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "expectedTimestamp",
                "snapshotID",
                "sourceServerID"
              ],
              "members": {
                "ebsSnapshots": {
                  "type": "list",
                  "member": {}
                },
                "expectedTimestamp": {},
                "snapshotID": {},
                "sourceServerID": {},
                "timestamp": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeReplicationConfigurationTemplates": {
      "http": {
        "requestUri": "/DescribeReplicationConfigurationTemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "replicationConfigurationTemplateIDs": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "shape": "S1t"
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeSourceServers": {
      "http": {
        "requestUri": "/DescribeSourceServers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "type": "structure",
            "members": {
              "hardwareId": {},
              "sourceServerIDs": {
                "type": "list",
                "member": {}
              },
              "stagingAccountIDs": {
                "type": "list",
                "member": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "shape": "S7"
            }
          },
          "nextToken": {}
        }
      }
    },
    "DisconnectRecoveryInstance": {
      "http": {
        "requestUri": "/DisconnectRecoveryInstance",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "recoveryInstanceID"
        ],
        "members": {
          "recoveryInstanceID": {}
        }
      }
    },
    "DisconnectSourceServer": {
      "http": {
        "requestUri": "/DisconnectSourceServer",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "S7"
      }
    },
    "GetFailbackReplicationConfiguration": {
      "http": {
        "requestUri": "/GetFailbackReplicationConfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "recoveryInstanceID"
        ],
        "members": {
          "recoveryInstanceID": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "recoveryInstanceID"
        ],
        "members": {
          "bandwidthThrottling": {
            "type": "long"
          },
          "name": {},
          "recoveryInstanceID": {},
          "usePrivateIP": {
            "type": "boolean"
          }
        }
      }
    },
    "GetLaunchConfiguration": {
      "http": {
        "requestUri": "/GetLaunchConfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "S43"
      }
    },
    "GetReplicationConfiguration": {
      "http": {
        "requestUri": "/GetReplicationConfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "S49"
      }
    },
    "InitializeService": {
      "http": {
        "requestUri": "/InitializeService",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListExtensibleSourceServers": {
      "http": {
        "requestUri": "/ListExtensibleSourceServers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "stagingAccountID"
        ],
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "stagingAccountID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "hostname": {},
                "tags": {
                  "shape": "S3"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListStagingAccounts": {
      "http": {
        "method": "GET",
        "requestUri": "/ListStagingAccounts",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "accounts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "accountID": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "S3"
          }
        }
      }
    },
    "RetryDataReplication": {
      "http": {
        "requestUri": "/RetryDataReplication",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "S7"
      }
    },
    "ReverseReplication": {
      "http": {
        "requestUri": "/ReverseReplication",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "recoveryInstanceID"
        ],
        "members": {
          "recoveryInstanceID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "reversedDirectionSourceServerArn": {}
        }
      }
    },
    "StartFailbackLaunch": {
      "http": {
        "requestUri": "/StartFailbackLaunch",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "recoveryInstanceIDs"
        ],
        "members": {
          "recoveryInstanceIDs": {
            "type": "list",
            "member": {}
          },
          "tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "job": {
            "shape": "S2j"
          }
        }
      }
    },
    "StartRecovery": {
      "http": {
        "requestUri": "/StartRecovery",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServers"
        ],
        "members": {
          "isDrill": {
            "type": "boolean"
          },
          "sourceServers": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "sourceServerID"
              ],
              "members": {
                "recoverySnapshotID": {},
                "sourceServerID": {}
              }
            }
          },
          "tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "job": {
            "shape": "S2j"
          }
        }
      }
    },
    "StartReplication": {
      "http": {
        "requestUri": "/StartReplication",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "sourceServer": {
            "shape": "S7"
          }
        }
      }
    },
    "StopFailback": {
      "http": {
        "requestUri": "/StopFailback",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "recoveryInstanceID"
        ],
        "members": {
          "recoveryInstanceID": {}
        }
      }
    },
    "StopReplication": {
      "http": {
        "requestUri": "/StopReplication",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "sourceServer": {
            "shape": "S7"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "S3"
          }
        }
      },
      "idempotent": true
    },
    "TerminateRecoveryInstances": {
      "http": {
        "requestUri": "/TerminateRecoveryInstances",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "recoveryInstanceIDs"
        ],
        "members": {
          "recoveryInstanceIDs": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "job": {
            "shape": "S2j"
          }
        }
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {},
            "sensitive": true
          }
        }
      },
      "idempotent": true
    },
    "UpdateFailbackReplicationConfiguration": {
      "http": {
        "requestUri": "/UpdateFailbackReplicationConfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "recoveryInstanceID"
        ],
        "members": {
          "bandwidthThrottling": {
            "type": "long"
          },
          "name": {},
          "recoveryInstanceID": {},
          "usePrivateIP": {
            "type": "boolean"
          }
        }
      }
    },
    "UpdateLaunchConfiguration": {
      "http": {
        "requestUri": "/UpdateLaunchConfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "copyPrivateIp": {
            "type": "boolean"
          },
          "copyTags": {
            "type": "boolean"
          },
          "launchDisposition": {},
          "licensing": {
            "shape": "S45"
          },
          "name": {},
          "sourceServerID": {},
          "targetInstanceTypeRightSizingMethod": {}
        }
      },
      "output": {
        "shape": "S43"
      },
      "idempotent": true
    },
    "UpdateReplicationConfiguration": {
      "http": {
        "requestUri": "/UpdateReplicationConfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "associateDefaultSecurityGroup": {
            "type": "boolean"
          },
          "bandwidthThrottling": {
            "type": "long"
          },
          "createPublicIP": {
            "type": "boolean"
          },
          "dataPlaneRouting": {},
          "defaultLargeStagingDiskType": {},
          "ebsEncryption": {},
          "ebsEncryptionKeyArn": {},
          "name": {},
          "pitPolicy": {
            "shape": "S1m"
          },
          "replicatedDisks": {
            "shape": "S4a"
          },
          "replicationServerInstanceType": {},
          "replicationServersSecurityGroupsIDs": {
            "shape": "S1q"
          },
          "sourceServerID": {},
          "stagingAreaSubnetId": {},
          "stagingAreaTags": {
            "shape": "S3"
          },
          "useDedicatedReplicationServer": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "shape": "S49"
      },
      "idempotent": true
    },
    "UpdateReplicationConfigurationTemplate": {
      "http": {
        "requestUri": "/UpdateReplicationConfigurationTemplate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "replicationConfigurationTemplateID"
        ],
        "members": {
          "arn": {},
          "associateDefaultSecurityGroup": {
            "type": "boolean"
          },
          "bandwidthThrottling": {
            "type": "long"
          },
          "createPublicIP": {
            "type": "boolean"
          },
          "dataPlaneRouting": {},
          "defaultLargeStagingDiskType": {},
          "ebsEncryption": {},
          "ebsEncryptionKeyArn": {},
          "pitPolicy": {
            "shape": "S1m"
          },
          "replicationConfigurationTemplateID": {},
          "replicationServerInstanceType": {},
          "replicationServersSecurityGroupsIDs": {
            "shape": "S1q"
          },
          "stagingAreaSubnetId": {},
          "stagingAreaTags": {
            "shape": "S3"
          },
          "useDedicatedReplicationServer": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "shape": "S1t"
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "map",
      "key": {},
      "value": {},
      "sensitive": true
    },
    "S7": {
      "type": "structure",
      "members": {
        "arn": {},
        "dataReplicationInfo": {
          "type": "structure",
          "members": {
            "dataReplicationError": {
              "type": "structure",
              "members": {
                "error": {},
                "rawError": {}
              }
            },
            "dataReplicationInitiation": {
              "type": "structure",
              "members": {
                "nextAttemptDateTime": {},
                "startDateTime": {},
                "steps": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "status": {}
                    }
                  }
                }
              }
            },
            "dataReplicationState": {},
            "etaDateTime": {},
            "lagDuration": {},
            "replicatedDisks": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "backloggedStorageBytes": {
                    "type": "long"
                  },
                  "deviceName": {},
                  "replicatedStorageBytes": {
                    "type": "long"
                  },
                  "rescannedStorageBytes": {
                    "type": "long"
                  },
                  "totalStorageBytes": {
                    "type": "long"
                  }
                }
              }
            },
            "stagingAvailabilityZone": {}
          }
        },
        "lastLaunchResult": {},
        "lifeCycle": {
          "type": "structure",
          "members": {
            "addedToServiceDateTime": {},
            "elapsedReplicationDuration": {},
            "firstByteDateTime": {},
            "lastLaunch": {
              "type": "structure",
              "members": {
                "initiated": {
                  "type": "structure",
                  "members": {
                    "apiCallDateTime": {},
                    "jobID": {},
                    "type": {}
                  }
                },
                "status": {}
              }
            },
            "lastSeenByServiceDateTime": {}
          }
        },
        "recoveryInstanceId": {},
        "replicationDirection": {},
        "reversedDirectionSourceServerArn": {},
        "sourceCloudProperties": {
          "type": "structure",
          "members": {
            "originAccountID": {},
            "originAvailabilityZone": {},
            "originRegion": {}
          }
        },
        "sourceProperties": {
          "type": "structure",
          "members": {
            "cpus": {
              "shape": "S13"
            },
            "disks": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "bytes": {
                    "type": "long"
                  },
                  "deviceName": {}
                }
              }
            },
            "identificationHints": {
              "shape": "S17"
            },
            "lastUpdatedDateTime": {},
            "networkInterfaces": {
              "shape": "S19"
            },
            "os": {
              "shape": "S1d"
            },
            "ramBytes": {
              "type": "long"
            },
            "recommendedInstanceType": {}
          }
        },
        "sourceServerID": {},
        "stagingArea": {
          "type": "structure",
          "members": {
            "errorMessage": {},
            "stagingAccountID": {},
            "stagingSourceServerArn": {},
            "status": {}
          }
        },
        "tags": {
          "shape": "S3"
        }
      }
    },
    "S13": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "cores": {
            "type": "long"
          },
          "modelName": {}
        }
      }
    },
    "S17": {
      "type": "structure",
      "members": {
        "awsInstanceID": {},
        "fqdn": {},
        "hostname": {},
        "vmWareUuid": {}
      }
    },
    "S19": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ips": {
            "type": "list",
            "member": {}
          },
          "isPrimary": {
            "type": "boolean"
          },
          "macAddress": {}
        }
      }
    },
    "S1d": {
      "type": "structure",
      "members": {
        "fullString": {}
      }
    },
    "S1m": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "interval",
          "retentionDuration",
          "units"
        ],
        "members": {
          "enabled": {
            "type": "boolean"
          },
          "interval": {
            "type": "integer"
          },
          "retentionDuration": {
            "type": "integer"
          },
          "ruleID": {
            "type": "long"
          },
          "units": {}
        }
      }
    },
    "S1q": {
      "type": "list",
      "member": {}
    },
    "S1t": {
      "type": "structure",
      "required": [
        "replicationConfigurationTemplateID"
      ],
      "members": {
        "arn": {},
        "associateDefaultSecurityGroup": {
          "type": "boolean"
        },
        "bandwidthThrottling": {
          "type": "long"
        },
        "createPublicIP": {
          "type": "boolean"
        },
        "dataPlaneRouting": {},
        "defaultLargeStagingDiskType": {},
        "ebsEncryption": {},
        "ebsEncryptionKeyArn": {},
        "pitPolicy": {
          "shape": "S1m"
        },
        "replicationConfigurationTemplateID": {},
        "replicationServerInstanceType": {},
        "replicationServersSecurityGroupsIDs": {
          "shape": "S1q"
        },
        "stagingAreaSubnetId": {},
        "stagingAreaTags": {
          "shape": "S3"
        },
        "tags": {
          "shape": "S3"
        },
        "useDedicatedReplicationServer": {
          "type": "boolean"
        }
      }
    },
    "S2j": {
      "type": "structure",
      "required": [
        "jobID"
      ],
      "members": {
        "arn": {},
        "creationDateTime": {},
        "endDateTime": {},
        "initiatedBy": {},
        "jobID": {},
        "participatingServers": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "launchStatus": {},
              "recoveryInstanceID": {},
              "sourceServerID": {}
            }
          }
        },
        "status": {},
        "tags": {
          "shape": "S3"
        },
        "type": {}
      }
    },
    "S43": {
      "type": "structure",
      "members": {
        "copyPrivateIp": {
          "type": "boolean"
        },
        "copyTags": {
          "type": "boolean"
        },
        "ec2LaunchTemplateID": {},
        "launchDisposition": {},
        "licensing": {
          "shape": "S45"
        },
        "name": {},
        "sourceServerID": {},
        "targetInstanceTypeRightSizingMethod": {}
      }
    },
    "S45": {
      "type": "structure",
      "members": {
        "osByol": {
          "type": "boolean"
        }
      }
    },
    "S49": {
      "type": "structure",
      "members": {
        "associateDefaultSecurityGroup": {
          "type": "boolean"
        },
        "bandwidthThrottling": {
          "type": "long"
        },
        "createPublicIP": {
          "type": "boolean"
        },
        "dataPlaneRouting": {},
        "defaultLargeStagingDiskType": {},
        "ebsEncryption": {},
        "ebsEncryptionKeyArn": {},
        "name": {},
        "pitPolicy": {
          "shape": "S1m"
        },
        "replicatedDisks": {
          "shape": "S4a"
        },
        "replicationServerInstanceType": {},
        "replicationServersSecurityGroupsIDs": {
          "shape": "S1q"
        },
        "sourceServerID": {},
        "stagingAreaSubnetId": {},
        "stagingAreaTags": {
          "shape": "S3"
        },
        "useDedicatedReplicationServer": {
          "type": "boolean"
        }
      }
    },
    "S4a": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "deviceName": {},
          "iops": {
            "type": "long"
          },
          "isBootDisk": {
            "type": "boolean"
          },
          "optimizedStagingDiskType": {},
          "stagingDiskType": {},
          "throughput": {
            "type": "long"
          }
        }
      }
    }
  }
}