{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-04-16",
    "endpointPrefix": "ds",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Directory Service",
    "serviceFullName": "AWS Directory Service",
    "serviceId": "Directory Service",
    "signatureVersion": "v4",
    "targetPrefix": "DirectoryService_20150416",
    "uid": "ds-2015-04-16"
  },
  "operations": {
    "AcceptSharedDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "SharedDirectoryId"
        ],
        "members": {
          "SharedDirectoryId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SharedDirectory": {
            "shape": "S4"
          }
        }
      }
    },
    "AddIpRoutes": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "IpRoutes"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "IpRoutes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CidrIp": {
                  "shape": "Se"
                },
                "Description": {
                  "shape": "Sf"
                }
              }
            }
          },
          "UpdateSecurityGroupForDirectoryControllers": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AddTagsToResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "Tags"
        ],
        "members": {
          "ResourceId": {
            "shape": "Sj"
          },
          "Tags": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelSchemaExtension": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "SchemaExtensionId"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "SchemaExtensionId": {
            "shape": "Sq"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ConnectDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Password",
          "Size",
          "ConnectSettings"
        ],
        "members": {
          "Name": {
            "shape": "St"
          },
          "ShortName": {
            "shape": "Su"
          },
          "Password": {
            "shape": "Sv"
          },
          "Description": {
            "shape": "Sf"
          },
          "Size": {
            "shape": "Sw"
          },
          "ConnectSettings": {
            "type": "structure",
            "required": [
              "VpcId",
              "SubnetIds",
              "CustomerDnsIps",
              "CustomerUserName"
            ],
            "members": {
              "VpcId": {
                "shape": "Sy"
              },
              "SubnetIds": {
                "shape": "Sz"
              },
              "CustomerDnsIps": {
                "shape": "S11"
              },
              "CustomerUserName": {
                "shape": "S13"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateAlias": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "Alias"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "Alias": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "Alias": {
            "shape": "S16"
          }
        }
      }
    },
    "CreateComputer": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "ComputerName",
          "Password"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "ComputerName": {
            "shape": "S19"
          },
          "Password": {
            "type": "string",
            "max": 64,
            "min": 8,
            "pattern": "[\\u0020-\\u00FF]+",
            "sensitive": true
          },
          "OrganizationalUnitDistinguishedName": {
            "type": "string",
            "max": 2000,
            "min": 1
          },
          "ComputerAttributes": {
            "shape": "S1c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Computer": {
            "type": "structure",
            "members": {
              "ComputerId": {
                "type": "string",
                "max": 256,
                "min": 1,
                "pattern": "[&\\w+-.@]+"
              },
              "ComputerName": {
                "shape": "S19"
              },
              "ComputerAttributes": {
                "shape": "S1c"
              }
            }
          }
        }
      }
    },
    "CreateConditionalForwarder": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RemoteDomainName",
          "DnsIpAddrs"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "RemoteDomainName": {
            "shape": "S1k"
          },
          "DnsIpAddrs": {
            "shape": "S11"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Password",
          "Size"
        ],
        "members": {
          "Name": {
            "shape": "St"
          },
          "ShortName": {
            "shape": "Su"
          },
          "Password": {
            "shape": "S1n"
          },
          "Description": {
            "shape": "Sf"
          },
          "Size": {
            "shape": "Sw"
          },
          "VpcSettings": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateLogSubscription": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "LogGroupName"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "LogGroupName": {
            "shape": "S1r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateMicrosoftAD": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Password",
          "VpcSettings"
        ],
        "members": {
          "Name": {
            "shape": "St"
          },
          "ShortName": {
            "shape": "Su"
          },
          "Password": {
            "shape": "S1n"
          },
          "Description": {
            "shape": "Sf"
          },
          "VpcSettings": {
            "shape": "S1o"
          },
          "Edition": {
            "shape": "S1u"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "Name": {
            "shape": "S1x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SnapshotId": {
            "shape": "S1z"
          }
        }
      }
    },
    "CreateTrust": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RemoteDomainName",
          "TrustPassword",
          "TrustDirection"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "RemoteDomainName": {
            "shape": "S1k"
          },
          "TrustPassword": {
            "type": "string",
            "max": 128,
            "min": 1,
            "sensitive": true
          },
          "TrustDirection": {
            "shape": "S22"
          },
          "TrustType": {
            "shape": "S23"
          },
          "ConditionalForwarderIpAddrs": {
            "shape": "S11"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrustId": {
            "shape": "S25"
          }
        }
      }
    },
    "DeleteConditionalForwarder": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RemoteDomainName"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "RemoteDomainName": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {
            "shape": "S2"
          }
        }
      }
    },
    "DeleteLogSubscription": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "SnapshotId"
        ],
        "members": {
          "SnapshotId": {
            "shape": "S1z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SnapshotId": {
            "shape": "S1z"
          }
        }
      }
    },
    "DeleteTrust": {
      "input": {
        "type": "structure",
        "required": [
          "TrustId"
        ],
        "members": {
          "TrustId": {
            "shape": "S25"
          },
          "DeleteAssociatedConditionalForwarder": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrustId": {
            "shape": "S25"
          }
        }
      }
    },
    "DeregisterEventTopic": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "TopicName"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "TopicName": {
            "shape": "S2i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeConditionalForwarders": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "RemoteDomainNames": {
            "type": "list",
            "member": {
              "shape": "S1k"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConditionalForwarders": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RemoteDomainName": {
                  "shape": "S1k"
                },
                "DnsIpAddrs": {
                  "shape": "S11"
                },
                "ReplicationScope": {
                  "type": "string",
                  "enum": [
                    "Domain"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "DescribeDirectories": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryIds": {
            "shape": "S2r"
          },
          "NextToken": {},
          "Limit": {
            "shape": "S2t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryDescriptions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "St"
                },
                "ShortName": {
                  "shape": "Su"
                },
                "Size": {
                  "shape": "Sw"
                },
                "Edition": {
                  "shape": "S1u"
                },
                "Alias": {
                  "shape": "S16"
                },
                "AccessUrl": {
                  "type": "string",
                  "max": 128,
                  "min": 1
                },
                "Description": {
                  "shape": "Sf"
                },
                "DnsIpAddrs": {
                  "shape": "S11"
                },
                "Stage": {
                  "type": "string",
                  "enum": [
                    "Requested",
                    "Creating",
                    "Created",
                    "Active",
                    "Inoperable",
                    "Impaired",
                    "Restoring",
                    "RestoreFailed",
                    "Deleting",
                    "Deleted",
                    "Failed"
                  ]
                },
                "ShareStatus": {
                  "shape": "S7"
                },
                "ShareMethod": {
                  "shape": "S6"
                },
                "ShareNotes": {
                  "shape": "S8"
                },
                "LaunchTime": {
                  "type": "timestamp"
                },
                "StageLastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "Type": {
                  "type": "string",
                  "enum": [
                    "SimpleAD",
                    "ADConnector",
                    "MicrosoftAD",
                    "SharedMicrosoftAD"
                  ]
                },
                "VpcSettings": {
                  "shape": "S31"
                },
                "ConnectSettings": {
                  "type": "structure",
                  "members": {
                    "VpcId": {
                      "shape": "Sy"
                    },
                    "SubnetIds": {
                      "shape": "Sz"
                    },
                    "CustomerUserName": {
                      "shape": "S13"
                    },
                    "SecurityGroupId": {
                      "shape": "S32"
                    },
                    "AvailabilityZones": {
                      "shape": "S33"
                    },
                    "ConnectIps": {
                      "type": "list",
                      "member": {
                        "shape": "S12"
                      }
                    }
                  }
                },
                "RadiusSettings": {
                  "shape": "S37"
                },
                "RadiusStatus": {
                  "shape": "S3h"
                },
                "StageReason": {},
                "SsoEnabled": {
                  "type": "boolean"
                },
                "DesiredNumberOfDomainControllers": {
                  "shape": "S3k"
                },
                "OwnerDirectoryDescription": {
                  "type": "structure",
                  "members": {
                    "DirectoryId": {
                      "shape": "S2"
                    },
                    "AccountId": {
                      "shape": "S5"
                    },
                    "DnsIpAddrs": {
                      "shape": "S11"
                    },
                    "VpcSettings": {
                      "shape": "S31"
                    },
                    "RadiusSettings": {
                      "shape": "S37"
                    },
                    "RadiusStatus": {
                      "shape": "S3h"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeDomainControllers": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "DomainControllerIds": {
            "type": "list",
            "member": {
              "shape": "S3o"
            }
          },
          "NextToken": {},
          "Limit": {
            "shape": "S2t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainControllers": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {
                  "shape": "S2"
                },
                "DomainControllerId": {
                  "shape": "S3o"
                },
                "DnsIpAddr": {
                  "shape": "S12"
                },
                "VpcId": {
                  "shape": "Sy"
                },
                "SubnetId": {
                  "shape": "S10"
                },
                "AvailabilityZone": {},
                "Status": {
                  "type": "string",
                  "enum": [
                    "Creating",
                    "Active",
                    "Impaired",
                    "Restoring",
                    "Deleting",
                    "Deleted",
                    "Failed"
                  ]
                },
                "StatusReason": {},
                "LaunchTime": {
                  "type": "timestamp"
                },
                "StatusLastUpdatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeEventTopics": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "TopicNames": {
            "type": "list",
            "member": {
              "shape": "S2i"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventTopics": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {
                  "shape": "S2"
                },
                "TopicName": {
                  "shape": "S2i"
                },
                "TopicArn": {},
                "CreatedDateTime": {
                  "type": "timestamp"
                },
                "Status": {
                  "type": "string",
                  "enum": [
                    "Registered",
                    "Topic not found",
                    "Failed",
                    "Deleted"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "DescribeSharedDirectories": {
      "input": {
        "type": "structure",
        "required": [
          "OwnerDirectoryId"
        ],
        "members": {
          "OwnerDirectoryId": {
            "shape": "S2"
          },
          "SharedDirectoryIds": {
            "shape": "S2r"
          },
          "NextToken": {},
          "Limit": {
            "shape": "S2t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SharedDirectories": {
            "type": "list",
            "member": {
              "shape": "S4"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeSnapshots": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "SnapshotIds": {
            "type": "list",
            "member": {
              "shape": "S1z"
            }
          },
          "NextToken": {},
          "Limit": {
            "shape": "S2t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Snapshots": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {
                  "shape": "S2"
                },
                "SnapshotId": {
                  "shape": "S1z"
                },
                "Type": {
                  "type": "string",
                  "enum": [
                    "Auto",
                    "Manual"
                  ]
                },
                "Name": {
                  "shape": "S1x"
                },
                "Status": {
                  "type": "string",
                  "enum": [
                    "Creating",
                    "Completed",
                    "Failed"
                  ]
                },
                "StartTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeTrusts": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "TrustIds": {
            "type": "list",
            "member": {
              "shape": "S25"
            }
          },
          "NextToken": {},
          "Limit": {
            "shape": "S2t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trusts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {
                  "shape": "S2"
                },
                "TrustId": {
                  "shape": "S25"
                },
                "RemoteDomainName": {
                  "shape": "S1k"
                },
                "TrustType": {
                  "shape": "S23"
                },
                "TrustDirection": {
                  "shape": "S22"
                },
                "TrustState": {
                  "type": "string",
                  "enum": [
                    "Creating",
                    "Created",
                    "Verifying",
                    "VerifyFailed",
                    "Verified",
                    "Deleting",
                    "Deleted",
                    "Failed"
                  ]
                },
                "CreatedDateTime": {
                  "type": "timestamp"
                },
                "LastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "StateLastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "TrustStateReason": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisableRadius": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableSso": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "UserName": {
            "shape": "S13"
          },
          "Password": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableRadius": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RadiusSettings"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "RadiusSettings": {
            "shape": "S37"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableSso": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "UserName": {
            "shape": "S13"
          },
          "Password": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetDirectoryLimits": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryLimits": {
            "type": "structure",
            "members": {
              "CloudOnlyDirectoriesLimit": {
                "shape": "S2t"
              },
              "CloudOnlyDirectoriesCurrentCount": {
                "shape": "S2t"
              },
              "CloudOnlyDirectoriesLimitReached": {
                "type": "boolean"
              },
              "CloudOnlyMicrosoftADLimit": {
                "shape": "S2t"
              },
              "CloudOnlyMicrosoftADCurrentCount": {
                "shape": "S2t"
              },
              "CloudOnlyMicrosoftADLimitReached": {
                "type": "boolean"
              },
              "ConnectedDirectoriesLimit": {
                "shape": "S2t"
              },
              "ConnectedDirectoriesCurrentCount": {
                "shape": "S2t"
              },
              "ConnectedDirectoriesLimitReached": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "GetSnapshotLimits": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SnapshotLimits": {
            "type": "structure",
            "members": {
              "ManualSnapshotsLimit": {
                "shape": "S2t"
              },
              "ManualSnapshotsCurrentCount": {
                "shape": "S2t"
              },
              "ManualSnapshotsLimitReached": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "ListIpRoutes": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "NextToken": {},
          "Limit": {
            "shape": "S2t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IpRoutesInfo": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {
                  "shape": "S2"
                },
                "CidrIp": {
                  "shape": "Se"
                },
                "IpRouteStatusMsg": {
                  "type": "string",
                  "enum": [
                    "Adding",
                    "Added",
                    "Removing",
                    "Removed",
                    "AddFailed",
                    "RemoveFailed"
                  ]
                },
                "AddedDateTime": {
                  "type": "timestamp"
                },
                "IpRouteStatusReason": {},
                "Description": {
                  "shape": "Sf"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListLogSubscriptions": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "NextToken": {},
          "Limit": {
            "shape": "S2t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LogSubscriptions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {
                  "shape": "S2"
                },
                "LogGroupName": {
                  "shape": "S1r"
                },
                "SubscriptionCreatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSchemaExtensions": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "NextToken": {},
          "Limit": {
            "shape": "S2t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaExtensionsInfo": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {
                  "shape": "S2"
                },
                "SchemaExtensionId": {
                  "shape": "Sq"
                },
                "Description": {
                  "shape": "Sf"
                },
                "SchemaExtensionStatus": {
                  "type": "string",
                  "enum": [
                    "Initializing",
                    "CreatingSnapshot",
                    "UpdatingSchema",
                    "Replicating",
                    "CancelInProgress",
                    "RollbackInProgress",
                    "Cancelled",
                    "Failed",
                    "Completed"
                  ]
                },
                "SchemaExtensionStatusReason": {},
                "StartDateTime": {
                  "type": "timestamp"
                },
                "EndDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId"
        ],
        "members": {
          "ResourceId": {
            "shape": "Sj"
          },
          "NextToken": {},
          "Limit": {
            "shape": "S2t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Sk"
          },
          "NextToken": {}
        }
      }
    },
    "RegisterEventTopic": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "TopicName"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "TopicName": {
            "shape": "S2i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RejectSharedDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "SharedDirectoryId"
        ],
        "members": {
          "SharedDirectoryId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SharedDirectoryId": {
            "shape": "S2"
          }
        }
      }
    },
    "RemoveIpRoutes": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "CidrIps"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "CidrIps": {
            "type": "list",
            "member": {
              "shape": "Se"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RemoveTagsFromResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "TagKeys"
        ],
        "members": {
          "ResourceId": {
            "shape": "Sj"
          },
          "TagKeys": {
            "type": "list",
            "member": {
              "shape": "Sm"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ResetUserPassword": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "UserName",
          "NewPassword"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "UserName": {
            "type": "string",
            "max": 64,
            "min": 1,
            "pattern": "^(?!.*\\\\|.*\"|.*\\/|.*\\[|.*\\]|.*:|.*;|.*\\||.*=|.*,|.*\\+|.*\\*|.*\\?|.*<|.*>|.*@).*$"
          },
          "NewPassword": {
            "type": "string",
            "max": 127,
            "min": 1,
            "sensitive": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RestoreFromSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "SnapshotId"
        ],
        "members": {
          "SnapshotId": {
            "shape": "S1z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ShareDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "ShareTarget",
          "ShareMethod"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "ShareNotes": {
            "shape": "S8"
          },
          "ShareTarget": {
            "type": "structure",
            "required": [
              "Id",
              "Type"
            ],
            "members": {
              "Id": {
                "shape": "S65"
              },
              "Type": {
                "shape": "S66"
              }
            }
          },
          "ShareMethod": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SharedDirectoryId": {
            "shape": "S2"
          }
        }
      }
    },
    "StartSchemaExtension": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "CreateSnapshotBeforeSchemaExtension",
          "LdifContent",
          "Description"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "CreateSnapshotBeforeSchemaExtension": {
            "type": "boolean"
          },
          "LdifContent": {
            "type": "string",
            "max": 500000,
            "min": 1
          },
          "Description": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaExtensionId": {
            "shape": "Sq"
          }
        }
      }
    },
    "UnshareDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "UnshareTarget"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "UnshareTarget": {
            "type": "structure",
            "required": [
              "Id",
              "Type"
            ],
            "members": {
              "Id": {
                "shape": "S65"
              },
              "Type": {
                "shape": "S66"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SharedDirectoryId": {
            "shape": "S2"
          }
        }
      }
    },
    "UpdateConditionalForwarder": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RemoteDomainName",
          "DnsIpAddrs"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "RemoteDomainName": {
            "shape": "S1k"
          },
          "DnsIpAddrs": {
            "shape": "S11"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateNumberOfDomainControllers": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "DesiredNumber"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "DesiredNumber": {
            "shape": "S3k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRadius": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RadiusSettings"
        ],
        "members": {
          "DirectoryId": {
            "shape": "S2"
          },
          "RadiusSettings": {
            "shape": "S37"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "VerifyTrust": {
      "input": {
        "type": "structure",
        "required": [
          "TrustId"
        ],
        "members": {
          "TrustId": {
            "shape": "S25"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrustId": {
            "shape": "S25"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "pattern": "^d-[0-9a-f]{10}$"
    },
    "S4": {
      "type": "structure",
      "members": {
        "OwnerAccountId": {
          "shape": "S5"
        },
        "OwnerDirectoryId": {
          "shape": "S2"
        },
        "ShareMethod": {
          "shape": "S6"
        },
        "SharedAccountId": {
          "shape": "S5"
        },
        "SharedDirectoryId": {
          "shape": "S2"
        },
        "ShareStatus": {
          "shape": "S7"
        },
        "ShareNotes": {
          "shape": "S8"
        },
        "CreatedDateTime": {
          "type": "timestamp"
        },
        "LastUpdatedDateTime": {
          "type": "timestamp"
        }
      }
    },
    "S5": {
      "type": "string",
      "pattern": "^(\\d{12})$"
    },
    "S6": {
      "type": "string",
      "enum": [
        "ORGANIZATIONS",
        "HANDSHAKE"
      ]
    },
    "S7": {
      "type": "string",
      "enum": [
        "Shared",
        "PendingAcceptance",
        "Rejected",
        "Rejecting",
        "RejectFailed",
        "Sharing",
        "ShareFailed",
        "Deleted",
        "Deleting"
      ]
    },
    "S8": {
      "type": "string",
      "max": 1024,
      "sensitive": true
    },
    "Se": {
      "type": "string",
      "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/([1-9]|[1-2][0-9]|3[0-2]))$"
    },
    "Sf": {
      "type": "string",
      "max": 128,
      "min": 0,
      "pattern": "^([a-zA-Z0-9_])[\\\\a-zA-Z0-9_@#%*+=:?./!\\s-]*$"
    },
    "Sj": {
      "type": "string",
      "pattern": "^[d]-[0-9a-f]{10}$"
    },
    "Sk": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {
            "shape": "Sm"
          },
          "Value": {
            "type": "string",
            "max": 256,
            "min": 0,
            "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
          }
        }
      }
    },
    "Sm": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "Sq": {
      "type": "string",
      "pattern": "^e-[0-9a-f]{10}$"
    },
    "St": {
      "type": "string",
      "pattern": "^([a-zA-Z0-9]+[\\\\.-])+([a-zA-Z0-9])+$"
    },
    "Su": {
      "type": "string",
      "pattern": "^[^\\\\/:*?\\\"\\<\\>|.]+[^\\\\/:*?\\\"<>|]*$"
    },
    "Sv": {
      "type": "string",
      "max": 128,
      "min": 1,
      "sensitive": true
    },
    "Sw": {
      "type": "string",
      "enum": [
        "Small",
        "Large"
      ]
    },
    "Sy": {
      "type": "string",
      "pattern": "^(vpc-[0-9a-f]{8}|vpc-[0-9a-f]{17})$"
    },
    "Sz": {
      "type": "list",
      "member": {
        "shape": "S10"
      }
    },
    "S10": {
      "type": "string",
      "pattern": "^(subnet-[0-9a-f]{8}|subnet-[0-9a-f]{17})$"
    },
    "S11": {
      "type": "list",
      "member": {
        "shape": "S12"
      }
    },
    "S12": {
      "type": "string",
      "pattern": "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
    },
    "S13": {
      "type": "string",
      "min": 1,
      "pattern": "[a-zA-Z0-9._-]+"
    },
    "S16": {
      "type": "string",
      "max": 62,
      "min": 1,
      "pattern": "^(?!d-)([\\da-zA-Z]+)([-]*[\\da-zA-Z])*"
    },
    "S19": {
      "type": "string",
      "max": 15,
      "min": 1
    },
    "S1c": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {
            "type": "string",
            "min": 1
          },
          "Value": {}
        }
      }
    },
    "S1k": {
      "type": "string",
      "pattern": "^([a-zA-Z0-9]+[\\\\.-])+([a-zA-Z0-9])+[.]?$"
    },
    "S1n": {
      "type": "string",
      "pattern": "(?=^.{8,64}$)((?=.*\\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\\d)(?=.*[^A-Za-z0-9\\s])(?=.*[a-z])|(?=.*[^A-Za-z0-9\\s])(?=.*[A-Z])(?=.*[a-z])|(?=.*\\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9\\s]))^.*",
      "sensitive": true
    },
    "S1o": {
      "type": "structure",
      "required": [
        "VpcId",
        "SubnetIds"
      ],
      "members": {
        "VpcId": {
          "shape": "Sy"
        },
        "SubnetIds": {
          "shape": "Sz"
        }
      }
    },
    "S1r": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "[-._/#A-Za-z0-9]+"
    },
    "S1u": {
      "type": "string",
      "enum": [
        "Enterprise",
        "Standard"
      ]
    },
    "S1x": {
      "type": "string",
      "max": 128,
      "min": 0,
      "pattern": "^([a-zA-Z0-9_])[\\\\a-zA-Z0-9_@#%*+=:?./!\\s-]*$"
    },
    "S1z": {
      "type": "string",
      "pattern": "^s-[0-9a-f]{10}$"
    },
    "S22": {
      "type": "string",
      "enum": [
        "One-Way: Outgoing",
        "One-Way: Incoming",
        "Two-Way"
      ]
    },
    "S23": {
      "type": "string",
      "enum": [
        "Forest"
      ]
    },
    "S25": {
      "type": "string",
      "pattern": "^t-[0-9a-f]{10}$"
    },
    "S2i": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[a-zA-Z0-9_-]+"
    },
    "S2r": {
      "type": "list",
      "member": {
        "shape": "S2"
      }
    },
    "S2t": {
      "type": "integer",
      "min": 0
    },
    "S31": {
      "type": "structure",
      "members": {
        "VpcId": {
          "shape": "Sy"
        },
        "SubnetIds": {
          "shape": "Sz"
        },
        "SecurityGroupId": {
          "shape": "S32"
        },
        "AvailabilityZones": {
          "shape": "S33"
        }
      }
    },
    "S32": {
      "type": "string",
      "pattern": "^(sg-[0-9a-f]{8}|sg-[0-9a-f]{17})$"
    },
    "S33": {
      "type": "list",
      "member": {}
    },
    "S37": {
      "type": "structure",
      "members": {
        "RadiusServers": {
          "type": "list",
          "member": {
            "type": "string",
            "max": 256,
            "min": 1
          }
        },
        "RadiusPort": {
          "type": "integer",
          "max": 65535,
          "min": 1025
        },
        "RadiusTimeout": {
          "type": "integer",
          "max": 20,
          "min": 1
        },
        "RadiusRetries": {
          "type": "integer",
          "max": 10,
          "min": 0
        },
        "SharedSecret": {
          "type": "string",
          "max": 512,
          "min": 8,
          "sensitive": true
        },
        "AuthenticationProtocol": {
          "type": "string",
          "enum": [
            "PAP",
            "CHAP",
            "MS-CHAPv1",
            "MS-CHAPv2"
          ]
        },
        "DisplayLabel": {
          "type": "string",
          "max": 64,
          "min": 1
        },
        "UseSameUsername": {
          "type": "boolean"
        }
      }
    },
    "S3h": {
      "type": "string",
      "enum": [
        "Creating",
        "Completed",
        "Failed"
      ]
    },
    "S3k": {
      "type": "integer",
      "min": 2
    },
    "S3o": {
      "type": "string",
      "pattern": "^dc-[0-9a-f]{10}$"
    },
    "S65": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "S66": {
      "type": "string",
      "enum": [
        "ACCOUNT"
      ]
    }
  }
}