{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-04-16",
    "endpointPrefix": "ds",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Directory Service",
    "serviceFullName": "AWS Directory Service",
    "signatureVersion": "v4",
    "targetPrefix": "DirectoryService_20150416"
  },
  "operations": {
    "ConnectDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Password",
          "Size",
          "ConnectSettings"
        ],
        "members": {
          "Name": {},
          "ShortName": {},
          "Password": {
            "shape": "S4"
          },
          "Description": {},
          "Size": {},
          "ConnectSettings": {
            "type": "structure",
            "required": [
              "VpcId",
              "SubnetIds",
              "CustomerDnsIps",
              "CustomerUserName"
            ],
            "members": {
              "VpcId": {},
              "SubnetIds": {
                "shape": "S9"
              },
              "CustomerDnsIps": {
                "shape": "Sb"
              },
              "CustomerUserName": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {}
        }
      }
    },
    "CreateAlias": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "Alias"
        ],
        "members": {
          "DirectoryId": {},
          "Alias": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {},
          "Alias": {}
        }
      }
    },
    "CreateComputer": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "ComputerName",
          "Password"
        ],
        "members": {
          "DirectoryId": {},
          "ComputerName": {},
          "Password": {
            "type": "string",
            "sensitive": true
          },
          "OrganizationalUnitDistinguishedName": {},
          "ComputerAttributes": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Computer": {
            "type": "structure",
            "members": {
              "ComputerId": {},
              "ComputerName": {},
              "ComputerAttributes": {
                "shape": "Sn"
              }
            }
          }
        }
      }
    },
    "CreateDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Password",
          "Size"
        ],
        "members": {
          "Name": {},
          "ShortName": {},
          "Password": {
            "shape": "Sv"
          },
          "Description": {},
          "Size": {},
          "VpcSettings": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {}
        }
      }
    },
    "CreateMicrosoftAD": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Password",
          "VpcSettings"
        ],
        "members": {
          "Name": {},
          "ShortName": {},
          "Password": {
            "shape": "Sv"
          },
          "Description": {},
          "VpcSettings": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {}
        }
      }
    },
    "CreateSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SnapshotId": {}
        }
      }
    },
    "CreateTrust": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RemoteDomainName",
          "TrustPassword",
          "TrustDirection"
        ],
        "members": {
          "DirectoryId": {},
          "RemoteDomainName": {},
          "TrustPassword": {
            "type": "string",
            "sensitive": true
          },
          "TrustDirection": {},
          "TrustType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrustId": {}
        }
      }
    },
    "DeleteDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {}
        }
      }
    },
    "DeleteSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "SnapshotId"
        ],
        "members": {
          "SnapshotId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SnapshotId": {}
        }
      }
    },
    "DeleteTrust": {
      "input": {
        "type": "structure",
        "required": [
          "TrustId"
        ],
        "members": {
          "TrustId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrustId": {}
        }
      }
    },
    "DescribeDirectories": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryDescriptions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {},
                "Name": {},
                "ShortName": {},
                "Size": {},
                "Alias": {},
                "AccessUrl": {},
                "Description": {},
                "DnsIpAddrs": {
                  "shape": "Sb"
                },
                "Stage": {},
                "LaunchTime": {
                  "type": "timestamp"
                },
                "StageLastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "Type": {},
                "VpcSettings": {
                  "type": "structure",
                  "members": {
                    "VpcId": {},
                    "SubnetIds": {
                      "shape": "S9"
                    },
                    "SecurityGroupId": {},
                    "AvailabilityZones": {
                      "shape": "S1v"
                    }
                  }
                },
                "ConnectSettings": {
                  "type": "structure",
                  "members": {
                    "VpcId": {},
                    "SubnetIds": {
                      "shape": "S9"
                    },
                    "CustomerUserName": {},
                    "SecurityGroupId": {},
                    "AvailabilityZones": {
                      "shape": "S1v"
                    },
                    "ConnectIps": {
                      "type": "list",
                      "member": {}
                    }
                  }
                },
                "RadiusSettings": {
                  "shape": "S1z"
                },
                "RadiusStatus": {},
                "StageReason": {},
                "SsoEnabled": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeSnapshots": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryId": {},
          "SnapshotIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Snapshots": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {},
                "SnapshotId": {},
                "Type": {},
                "Name": {},
                "Status": {},
                "StartTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeTrusts": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryId": {},
          "TrustIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trusts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {},
                "TrustId": {},
                "RemoteDomainName": {},
                "TrustType": {},
                "TrustDirection": {},
                "TrustState": {},
                "CreatedDateTime": {
                  "type": "timestamp"
                },
                "LastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "StateLastUpdatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisableRadius": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableSso": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {},
          "UserName": {},
          "Password": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableRadius": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RadiusSettings"
        ],
        "members": {
          "DirectoryId": {},
          "RadiusSettings": {
            "shape": "S1z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableSso": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {},
          "UserName": {},
          "Password": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetDirectoryLimits": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryLimits": {
            "type": "structure",
            "members": {
              "CloudOnlyDirectoriesLimit": {
                "type": "integer"
              },
              "CloudOnlyDirectoriesCurrentCount": {
                "type": "integer"
              },
              "CloudOnlyDirectoriesLimitReached": {
                "type": "boolean"
              },
              "CloudOnlyMicrosoftADLimit": {
                "type": "integer"
              },
              "CloudOnlyMicrosoftADCurrentCount": {
                "type": "integer"
              },
              "CloudOnlyMicrosoftADLimitReached": {
                "type": "boolean"
              },
              "ConnectedDirectoriesLimit": {
                "type": "integer"
              },
              "ConnectedDirectoriesCurrentCount": {
                "type": "integer"
              },
              "ConnectedDirectoriesLimitReached": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "GetSnapshotLimits": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SnapshotLimits": {
            "type": "structure",
            "members": {
              "ManualSnapshotsLimit": {
                "type": "integer"
              },
              "ManualSnapshotsCurrentCount": {
                "type": "integer"
              },
              "ManualSnapshotsLimitReached": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "RestoreFromSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "SnapshotId"
        ],
        "members": {
          "SnapshotId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRadius": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RadiusSettings"
        ],
        "members": {
          "DirectoryId": {},
          "RadiusSettings": {
            "shape": "S1z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "VerifyTrust": {
      "input": {
        "type": "structure",
        "required": [
          "TrustId"
        ],
        "members": {
          "TrustId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrustId": {}
        }
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "string",
      "sensitive": true
    },
    "S9": {
      "type": "list",
      "member": {}
    },
    "Sb": {
      "type": "list",
      "member": {}
    },
    "Sn": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Value": {}
        }
      }
    },
    "Sv": {
      "type": "string",
      "sensitive": true
    },
    "Sw": {
      "type": "structure",
      "required": [
        "VpcId",
        "SubnetIds"
      ],
      "members": {
        "VpcId": {},
        "SubnetIds": {
          "shape": "S9"
        }
      }
    },
    "S1v": {
      "type": "list",
      "member": {}
    },
    "S1z": {
      "type": "structure",
      "members": {
        "RadiusServers": {
          "type": "list",
          "member": {}
        },
        "RadiusPort": {
          "type": "integer"
        },
        "RadiusTimeout": {
          "type": "integer"
        },
        "RadiusRetries": {
          "type": "integer"
        },
        "SharedSecret": {
          "type": "string",
          "sensitive": true
        },
        "AuthenticationProtocol": {},
        "DisplayLabel": {},
        "UseSameUsername": {
          "type": "boolean"
        }
      }
    }
  }
}