{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-04-16",
    "endpointPrefix": "ds",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Directory Service",
    "serviceFullName": "AWS Directory Service",
    "signatureVersion": "v4",
    "targetPrefix": "DirectoryService_20150416"
  },
  "operations": {
    "AddTagsToResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "Tags"
        ],
        "members": {
          "ResourceId": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ConnectDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Password",
          "Size",
          "ConnectSettings"
        ],
        "members": {
          "Name": {},
          "ShortName": {},
          "Password": {
            "shape": "Sb"
          },
          "Description": {},
          "Size": {},
          "ConnectSettings": {
            "type": "structure",
            "required": [
              "VpcId",
              "SubnetIds",
              "CustomerDnsIps",
              "CustomerUserName"
            ],
            "members": {
              "VpcId": {},
              "SubnetIds": {
                "shape": "Sg"
              },
              "CustomerDnsIps": {
                "shape": "Si"
              },
              "CustomerUserName": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {}
        }
      }
    },
    "CreateAlias": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "Alias"
        ],
        "members": {
          "DirectoryId": {},
          "Alias": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {},
          "Alias": {}
        }
      }
    },
    "CreateComputer": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "ComputerName",
          "Password"
        ],
        "members": {
          "DirectoryId": {},
          "ComputerName": {},
          "Password": {
            "type": "string",
            "sensitive": true
          },
          "OrganizationalUnitDistinguishedName": {},
          "ComputerAttributes": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Computer": {
            "type": "structure",
            "members": {
              "ComputerId": {},
              "ComputerName": {},
              "ComputerAttributes": {
                "shape": "Su"
              }
            }
          }
        }
      }
    },
    "CreateConditionalForwarder": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RemoteDomainName",
          "DnsIpAddrs"
        ],
        "members": {
          "DirectoryId": {},
          "RemoteDomainName": {},
          "DnsIpAddrs": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Password",
          "Size"
        ],
        "members": {
          "Name": {},
          "ShortName": {},
          "Password": {
            "shape": "S15"
          },
          "Description": {},
          "Size": {},
          "VpcSettings": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {}
        }
      }
    },
    "CreateMicrosoftAD": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Password",
          "VpcSettings"
        ],
        "members": {
          "Name": {},
          "ShortName": {},
          "Password": {
            "shape": "S15"
          },
          "Description": {},
          "VpcSettings": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {}
        }
      }
    },
    "CreateSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SnapshotId": {}
        }
      }
    },
    "CreateTrust": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RemoteDomainName",
          "TrustPassword",
          "TrustDirection"
        ],
        "members": {
          "DirectoryId": {},
          "RemoteDomainName": {},
          "TrustPassword": {
            "type": "string",
            "sensitive": true
          },
          "TrustDirection": {},
          "TrustType": {},
          "ConditionalForwarderIpAddrs": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrustId": {}
        }
      }
    },
    "DeleteConditionalForwarder": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RemoteDomainName"
        ],
        "members": {
          "DirectoryId": {},
          "RemoteDomainName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDirectory": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryId": {}
        }
      }
    },
    "DeleteSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "SnapshotId"
        ],
        "members": {
          "SnapshotId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SnapshotId": {}
        }
      }
    },
    "DeleteTrust": {
      "input": {
        "type": "structure",
        "required": [
          "TrustId"
        ],
        "members": {
          "TrustId": {},
          "DeleteAssociatedConditionalForwarder": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrustId": {}
        }
      }
    },
    "DeregisterEventTopic": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "TopicName"
        ],
        "members": {
          "DirectoryId": {},
          "TopicName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeConditionalForwarders": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {},
          "RemoteDomainNames": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConditionalForwarders": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RemoteDomainName": {},
                "DnsIpAddrs": {
                  "shape": "Si"
                },
                "ReplicationScope": {}
              }
            }
          }
        }
      }
    },
    "DescribeDirectories": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryDescriptions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {},
                "Name": {},
                "ShortName": {},
                "Size": {},
                "Alias": {},
                "AccessUrl": {},
                "Description": {},
                "DnsIpAddrs": {
                  "shape": "Si"
                },
                "Stage": {},
                "LaunchTime": {
                  "type": "timestamp"
                },
                "StageLastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "Type": {},
                "VpcSettings": {
                  "type": "structure",
                  "members": {
                    "VpcId": {},
                    "SubnetIds": {
                      "shape": "Sg"
                    },
                    "SecurityGroupId": {},
                    "AvailabilityZones": {
                      "shape": "S2g"
                    }
                  }
                },
                "ConnectSettings": {
                  "type": "structure",
                  "members": {
                    "VpcId": {},
                    "SubnetIds": {
                      "shape": "Sg"
                    },
                    "CustomerUserName": {},
                    "SecurityGroupId": {},
                    "AvailabilityZones": {
                      "shape": "S2g"
                    },
                    "ConnectIps": {
                      "type": "list",
                      "member": {}
                    }
                  }
                },
                "RadiusSettings": {
                  "shape": "S2k"
                },
                "RadiusStatus": {},
                "StageReason": {},
                "SsoEnabled": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeEventTopics": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryId": {},
          "TopicNames": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventTopics": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {},
                "TopicName": {},
                "TopicArn": {},
                "CreatedDateTime": {
                  "type": "timestamp"
                },
                "Status": {}
              }
            }
          }
        }
      }
    },
    "DescribeSnapshots": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryId": {},
          "SnapshotIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Snapshots": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {},
                "SnapshotId": {},
                "Type": {},
                "Name": {},
                "Status": {},
                "StartTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeTrusts": {
      "input": {
        "type": "structure",
        "members": {
          "DirectoryId": {},
          "TrustIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trusts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DirectoryId": {},
                "TrustId": {},
                "RemoteDomainName": {},
                "TrustType": {},
                "TrustDirection": {},
                "TrustState": {},
                "CreatedDateTime": {
                  "type": "timestamp"
                },
                "LastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "StateLastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "TrustStateReason": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisableRadius": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableSso": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {},
          "UserName": {},
          "Password": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableRadius": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RadiusSettings"
        ],
        "members": {
          "DirectoryId": {},
          "RadiusSettings": {
            "shape": "S2k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableSso": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {},
          "UserName": {},
          "Password": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetDirectoryLimits": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "DirectoryLimits": {
            "type": "structure",
            "members": {
              "CloudOnlyDirectoriesLimit": {
                "type": "integer"
              },
              "CloudOnlyDirectoriesCurrentCount": {
                "type": "integer"
              },
              "CloudOnlyDirectoriesLimitReached": {
                "type": "boolean"
              },
              "CloudOnlyMicrosoftADLimit": {
                "type": "integer"
              },
              "CloudOnlyMicrosoftADCurrentCount": {
                "type": "integer"
              },
              "CloudOnlyMicrosoftADLimitReached": {
                "type": "boolean"
              },
              "ConnectedDirectoriesLimit": {
                "type": "integer"
              },
              "ConnectedDirectoriesCurrentCount": {
                "type": "integer"
              },
              "ConnectedDirectoriesLimitReached": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "GetSnapshotLimits": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId"
        ],
        "members": {
          "DirectoryId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SnapshotLimits": {
            "type": "structure",
            "members": {
              "ManualSnapshotsLimit": {
                "type": "integer"
              },
              "ManualSnapshotsCurrentCount": {
                "type": "integer"
              },
              "ManualSnapshotsLimitReached": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId"
        ],
        "members": {
          "ResourceId": {},
          "NextToken": {},
          "Limit": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3"
          },
          "NextToken": {}
        }
      }
    },
    "RegisterEventTopic": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "TopicName"
        ],
        "members": {
          "DirectoryId": {},
          "TopicName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RemoveTagsFromResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "TagKeys"
        ],
        "members": {
          "ResourceId": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RestoreFromSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "SnapshotId"
        ],
        "members": {
          "SnapshotId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateConditionalForwarder": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RemoteDomainName",
          "DnsIpAddrs"
        ],
        "members": {
          "DirectoryId": {},
          "RemoteDomainName": {},
          "DnsIpAddrs": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRadius": {
      "input": {
        "type": "structure",
        "required": [
          "DirectoryId",
          "RadiusSettings"
        ],
        "members": {
          "DirectoryId": {},
          "RadiusSettings": {
            "shape": "S2k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "VerifyTrust": {
      "input": {
        "type": "structure",
        "required": [
          "TrustId"
        ],
        "members": {
          "TrustId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrustId": {}
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "Sb": {
      "type": "string",
      "sensitive": true
    },
    "Sg": {
      "type": "list",
      "member": {}
    },
    "Si": {
      "type": "list",
      "member": {}
    },
    "Su": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Value": {}
        }
      }
    },
    "S15": {
      "type": "string",
      "sensitive": true
    },
    "S16": {
      "type": "structure",
      "required": [
        "VpcId",
        "SubnetIds"
      ],
      "members": {
        "VpcId": {},
        "SubnetIds": {
          "shape": "Sg"
        }
      }
    },
    "S2g": {
      "type": "list",
      "member": {}
    },
    "S2k": {
      "type": "structure",
      "members": {
        "RadiusServers": {
          "type": "list",
          "member": {}
        },
        "RadiusPort": {
          "type": "integer"
        },
        "RadiusTimeout": {
          "type": "integer"
        },
        "RadiusRetries": {
          "type": "integer"
        },
        "SharedSecret": {
          "type": "string",
          "sensitive": true
        },
        "AuthenticationProtocol": {},
        "DisplayLabel": {},
        "UseSameUsername": {
          "type": "boolean"
        }
      }
    }
  }
}