{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2012-08-10",
    "endpointPrefix": "dynamodb",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceAbbreviation": "DynamoDB",
    "serviceFullName": "Amazon DynamoDB",
    "serviceId": "DynamoDB",
    "signatureVersion": "v4",
    "targetPrefix": "DynamoDB_20120810",
    "uid": "dynamodb-2012-08-10"
  },
  "operations": {
    "BatchGetItem": {
      "input": {
        "type": "structure",
        "required": [
          "RequestItems"
        ],
        "members": {
          "RequestItems": {
            "shape": "S2"
          },
          "ReturnConsumedCapacity": {
            "shape": "So"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Responses": {
            "type": "map",
            "key": {
              "shape": "S3"
            },
            "value": {
              "shape": "Sr"
            }
          },
          "UnprocessedKeys": {
            "shape": "S2"
          },
          "ConsumedCapacity": {
            "shape": "St"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "BatchWriteItem": {
      "input": {
        "type": "structure",
        "required": [
          "RequestItems"
        ],
        "members": {
          "RequestItems": {
            "shape": "S10"
          },
          "ReturnConsumedCapacity": {
            "shape": "So"
          },
          "ReturnItemCollectionMetrics": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnprocessedItems": {
            "shape": "S10"
          },
          "ItemCollectionMetrics": {
            "type": "map",
            "key": {
              "shape": "S3"
            },
            "value": {
              "type": "list",
              "member": {
                "shape": "S1a"
              }
            }
          },
          "ConsumedCapacity": {
            "shape": "St"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "CreateBackup": {
      "input": {
        "type": "structure",
        "required": [
          "TableName",
          "BackupName"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          },
          "BackupName": {
            "shape": "S1f"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BackupDetails": {
            "shape": "S1h"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "CreateGlobalTable": {
      "input": {
        "type": "structure",
        "required": [
          "GlobalTableName",
          "ReplicationGroup"
        ],
        "members": {
          "GlobalTableName": {
            "shape": "S3"
          },
          "ReplicationGroup": {
            "shape": "S1p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GlobalTableDescription": {
            "shape": "S1t"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "CreateTable": {
      "input": {
        "type": "structure",
        "required": [
          "AttributeDefinitions",
          "TableName",
          "KeySchema",
          "ProvisionedThroughput"
        ],
        "members": {
          "AttributeDefinitions": {
            "shape": "S1z"
          },
          "TableName": {
            "shape": "S3"
          },
          "KeySchema": {
            "shape": "S23"
          },
          "LocalSecondaryIndexes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "IndexName",
                "KeySchema",
                "Projection"
              ],
              "members": {
                "IndexName": {
                  "shape": "Sy"
                },
                "KeySchema": {
                  "shape": "S23"
                },
                "Projection": {
                  "shape": "S28"
                }
              }
            }
          },
          "GlobalSecondaryIndexes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "IndexName",
                "KeySchema",
                "Projection",
                "ProvisionedThroughput"
              ],
              "members": {
                "IndexName": {
                  "shape": "Sy"
                },
                "KeySchema": {
                  "shape": "S23"
                },
                "Projection": {
                  "shape": "S28"
                },
                "ProvisionedThroughput": {
                  "shape": "S2e"
                }
              }
            }
          },
          "ProvisionedThroughput": {
            "shape": "S2e"
          },
          "StreamSpecification": {
            "shape": "S2g"
          },
          "SSESpecification": {
            "shape": "S2j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableDescription": {
            "shape": "S2o"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "DeleteBackup": {
      "input": {
        "type": "structure",
        "required": [
          "BackupArn"
        ],
        "members": {
          "BackupArn": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BackupDescription": {
            "shape": "S39"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "DeleteItem": {
      "input": {
        "type": "structure",
        "required": [
          "TableName",
          "Key"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          },
          "Key": {
            "shape": "S6"
          },
          "Expected": {
            "shape": "S3m"
          },
          "ConditionalOperator": {
            "shape": "S3r"
          },
          "ReturnValues": {
            "shape": "S3s"
          },
          "ReturnConsumedCapacity": {
            "shape": "So"
          },
          "ReturnItemCollectionMetrics": {
            "shape": "S16"
          },
          "ConditionExpression": {},
          "ExpressionAttributeNames": {
            "shape": "Sm"
          },
          "ExpressionAttributeValues": {
            "shape": "S3u"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attributes": {
            "shape": "Ss"
          },
          "ConsumedCapacity": {
            "shape": "Su"
          },
          "ItemCollectionMetrics": {
            "shape": "S1a"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "DeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "TableName"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableDescription": {
            "shape": "S2o"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "DescribeBackup": {
      "input": {
        "type": "structure",
        "required": [
          "BackupArn"
        ],
        "members": {
          "BackupArn": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BackupDescription": {
            "shape": "S39"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "DescribeContinuousBackups": {
      "input": {
        "type": "structure",
        "required": [
          "TableName"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContinuousBackupsDescription": {
            "shape": "S43"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "DescribeEndpoints": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "Endpoints"
        ],
        "members": {
          "Endpoints": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Address",
                "CachePeriodInMinutes"
              ],
              "members": {
                "Address": {},
                "CachePeriodInMinutes": {
                  "type": "long"
                }
              }
            }
          }
        }
      },
      "endpointoperation": true
    },
    "DescribeGlobalTable": {
      "input": {
        "type": "structure",
        "required": [
          "GlobalTableName"
        ],
        "members": {
          "GlobalTableName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GlobalTableDescription": {
            "shape": "S1t"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "DescribeGlobalTableSettings": {
      "input": {
        "type": "structure",
        "required": [
          "GlobalTableName"
        ],
        "members": {
          "GlobalTableName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GlobalTableName": {
            "shape": "S3"
          },
          "ReplicaSettings": {
            "shape": "S4f"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "DescribeLimits": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountMaxReadCapacityUnits": {
            "shape": "S2f"
          },
          "AccountMaxWriteCapacityUnits": {
            "shape": "S2f"
          },
          "TableMaxReadCapacityUnits": {
            "shape": "S2f"
          },
          "TableMaxWriteCapacityUnits": {
            "shape": "S2f"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "DescribeTable": {
      "input": {
        "type": "structure",
        "required": [
          "TableName"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Table": {
            "shape": "S2o"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "DescribeTimeToLive": {
      "input": {
        "type": "structure",
        "required": [
          "TableName"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TimeToLiveDescription": {
            "shape": "S3i"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "GetItem": {
      "input": {
        "type": "structure",
        "required": [
          "TableName",
          "Key"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          },
          "Key": {
            "shape": "S6"
          },
          "AttributesToGet": {
            "shape": "Sj"
          },
          "ConsistentRead": {
            "type": "boolean"
          },
          "ReturnConsumedCapacity": {
            "shape": "So"
          },
          "ProjectionExpression": {},
          "ExpressionAttributeNames": {
            "shape": "Sm"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Item": {
            "shape": "Ss"
          },
          "ConsumedCapacity": {
            "shape": "Su"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "ListBackups": {
      "input": {
        "type": "structure",
        "members": {
          "TableName": {
            "shape": "S3"
          },
          "Limit": {
            "type": "integer",
            "max": 100,
            "min": 1
          },
          "TimeRangeLowerBound": {
            "type": "timestamp"
          },
          "TimeRangeUpperBound": {
            "type": "timestamp"
          },
          "ExclusiveStartBackupArn": {
            "shape": "S1i"
          },
          "BackupType": {
            "type": "string",
            "enum": [
              "USER",
              "SYSTEM",
              "ALL"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BackupSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TableName": {
                  "shape": "S3"
                },
                "TableId": {
                  "shape": "S2t"
                },
                "TableArn": {},
                "BackupArn": {
                  "shape": "S1i"
                },
                "BackupName": {
                  "shape": "S1f"
                },
                "BackupCreationDateTime": {
                  "type": "timestamp"
                },
                "BackupExpiryDateTime": {
                  "type": "timestamp"
                },
                "BackupStatus": {
                  "shape": "S1k"
                },
                "BackupType": {
                  "shape": "S1l"
                },
                "BackupSizeBytes": {
                  "shape": "S1j"
                }
              }
            }
          },
          "LastEvaluatedBackupArn": {
            "shape": "S1i"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "ListGlobalTables": {
      "input": {
        "type": "structure",
        "members": {
          "ExclusiveStartGlobalTableName": {
            "shape": "S3"
          },
          "Limit": {
            "shape": "S58"
          },
          "RegionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GlobalTables": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "GlobalTableName": {
                  "shape": "S3"
                },
                "ReplicationGroup": {
                  "shape": "S1p"
                }
              }
            }
          },
          "LastEvaluatedGlobalTableName": {
            "shape": "S3"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "ListTables": {
      "input": {
        "type": "structure",
        "members": {
          "ExclusiveStartTableName": {
            "shape": "S3"
          },
          "Limit": {
            "type": "integer",
            "max": 100,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableNames": {
            "type": "list",
            "member": {
              "shape": "S3"
            }
          },
          "LastEvaluatedTableName": {
            "shape": "S3"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "ListTagsOfResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S5h"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S5k"
          },
          "NextToken": {}
        }
      },
      "endpointdiscovery": {}
    },
    "PutItem": {
      "input": {
        "type": "structure",
        "required": [
          "TableName",
          "Item"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          },
          "Item": {
            "shape": "S14"
          },
          "Expected": {
            "shape": "S3m"
          },
          "ReturnValues": {
            "shape": "S3s"
          },
          "ReturnConsumedCapacity": {
            "shape": "So"
          },
          "ReturnItemCollectionMetrics": {
            "shape": "S16"
          },
          "ConditionalOperator": {
            "shape": "S3r"
          },
          "ConditionExpression": {},
          "ExpressionAttributeNames": {
            "shape": "Sm"
          },
          "ExpressionAttributeValues": {
            "shape": "S3u"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attributes": {
            "shape": "Ss"
          },
          "ConsumedCapacity": {
            "shape": "Su"
          },
          "ItemCollectionMetrics": {
            "shape": "S1a"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "Query": {
      "input": {
        "type": "structure",
        "required": [
          "TableName"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          },
          "IndexName": {
            "shape": "Sy"
          },
          "Select": {
            "shape": "S5r"
          },
          "AttributesToGet": {
            "shape": "Sj"
          },
          "Limit": {
            "shape": "S58"
          },
          "ConsistentRead": {
            "type": "boolean"
          },
          "KeyConditions": {
            "type": "map",
            "key": {
              "shape": "S7"
            },
            "value": {
              "shape": "S5t"
            }
          },
          "QueryFilter": {
            "shape": "S5u"
          },
          "ConditionalOperator": {
            "shape": "S3r"
          },
          "ScanIndexForward": {
            "type": "boolean"
          },
          "ExclusiveStartKey": {
            "shape": "S6"
          },
          "ReturnConsumedCapacity": {
            "shape": "So"
          },
          "ProjectionExpression": {},
          "FilterExpression": {},
          "KeyConditionExpression": {},
          "ExpressionAttributeNames": {
            "shape": "Sm"
          },
          "ExpressionAttributeValues": {
            "shape": "S3u"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Items": {
            "shape": "Sr"
          },
          "Count": {
            "type": "integer"
          },
          "ScannedCount": {
            "type": "integer"
          },
          "LastEvaluatedKey": {
            "shape": "S6"
          },
          "ConsumedCapacity": {
            "shape": "Su"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "RestoreTableFromBackup": {
      "input": {
        "type": "structure",
        "required": [
          "TargetTableName",
          "BackupArn"
        ],
        "members": {
          "TargetTableName": {
            "shape": "S3"
          },
          "BackupArn": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableDescription": {
            "shape": "S2o"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "RestoreTableToPointInTime": {
      "input": {
        "type": "structure",
        "required": [
          "SourceTableName",
          "TargetTableName"
        ],
        "members": {
          "SourceTableName": {
            "shape": "S3"
          },
          "TargetTableName": {
            "shape": "S3"
          },
          "UseLatestRestorableTime": {
            "type": "boolean"
          },
          "RestoreDateTime": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableDescription": {
            "shape": "S2o"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "Scan": {
      "input": {
        "type": "structure",
        "required": [
          "TableName"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          },
          "IndexName": {
            "shape": "Sy"
          },
          "AttributesToGet": {
            "shape": "Sj"
          },
          "Limit": {
            "shape": "S58"
          },
          "Select": {
            "shape": "S5r"
          },
          "ScanFilter": {
            "shape": "S5u"
          },
          "ConditionalOperator": {
            "shape": "S3r"
          },
          "ExclusiveStartKey": {
            "shape": "S6"
          },
          "ReturnConsumedCapacity": {
            "shape": "So"
          },
          "TotalSegments": {
            "type": "integer",
            "max": 1000000,
            "min": 1
          },
          "Segment": {
            "type": "integer",
            "max": 999999,
            "min": 0
          },
          "ProjectionExpression": {},
          "FilterExpression": {},
          "ExpressionAttributeNames": {
            "shape": "Sm"
          },
          "ExpressionAttributeValues": {
            "shape": "S3u"
          },
          "ConsistentRead": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Items": {
            "shape": "Sr"
          },
          "Count": {
            "type": "integer"
          },
          "ScannedCount": {
            "type": "integer"
          },
          "LastEvaluatedKey": {
            "shape": "S6"
          },
          "ConsumedCapacity": {
            "shape": "Su"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S5h"
          },
          "Tags": {
            "shape": "S5k"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S5h"
          },
          "TagKeys": {
            "type": "list",
            "member": {
              "shape": "S5m"
            }
          }
        }
      },
      "endpointdiscovery": {}
    },
    "UpdateContinuousBackups": {
      "input": {
        "type": "structure",
        "required": [
          "TableName",
          "PointInTimeRecoverySpecification"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          },
          "PointInTimeRecoverySpecification": {
            "type": "structure",
            "required": [
              "PointInTimeRecoveryEnabled"
            ],
            "members": {
              "PointInTimeRecoveryEnabled": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContinuousBackupsDescription": {
            "shape": "S43"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "UpdateGlobalTable": {
      "input": {
        "type": "structure",
        "required": [
          "GlobalTableName",
          "ReplicaUpdates"
        ],
        "members": {
          "GlobalTableName": {
            "shape": "S3"
          },
          "ReplicaUpdates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Create": {
                  "type": "structure",
                  "required": [
                    "RegionName"
                  ],
                  "members": {
                    "RegionName": {}
                  }
                },
                "Delete": {
                  "type": "structure",
                  "required": [
                    "RegionName"
                  ],
                  "members": {
                    "RegionName": {}
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GlobalTableDescription": {
            "shape": "S1t"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "UpdateGlobalTableSettings": {
      "input": {
        "type": "structure",
        "required": [
          "GlobalTableName"
        ],
        "members": {
          "GlobalTableName": {
            "shape": "S3"
          },
          "GlobalTableProvisionedWriteCapacityUnits": {
            "shape": "S2f"
          },
          "GlobalTableProvisionedWriteCapacityAutoScalingSettingsUpdate": {
            "shape": "S6j"
          },
          "GlobalTableGlobalSecondaryIndexSettingsUpdate": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "IndexName"
              ],
              "members": {
                "IndexName": {
                  "shape": "Sy"
                },
                "ProvisionedWriteCapacityUnits": {
                  "shape": "S2f"
                },
                "ProvisionedWriteCapacityAutoScalingSettingsUpdate": {
                  "shape": "S6j"
                }
              }
            },
            "max": 20,
            "min": 1
          },
          "ReplicaSettingsUpdate": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "RegionName"
              ],
              "members": {
                "RegionName": {},
                "ReplicaProvisionedReadCapacityUnits": {
                  "shape": "S2f"
                },
                "ReplicaProvisionedReadCapacityAutoScalingSettingsUpdate": {
                  "shape": "S6j"
                },
                "ReplicaGlobalSecondaryIndexSettingsUpdate": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "IndexName"
                    ],
                    "members": {
                      "IndexName": {
                        "shape": "Sy"
                      },
                      "ProvisionedReadCapacityUnits": {
                        "shape": "S2f"
                      },
                      "ProvisionedReadCapacityAutoScalingSettingsUpdate": {
                        "shape": "S6j"
                      }
                    }
                  },
                  "max": 20,
                  "min": 1
                }
              }
            },
            "max": 50,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GlobalTableName": {
            "shape": "S3"
          },
          "ReplicaSettings": {
            "shape": "S4f"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "UpdateItem": {
      "input": {
        "type": "structure",
        "required": [
          "TableName",
          "Key"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          },
          "Key": {
            "shape": "S6"
          },
          "AttributeUpdates": {
            "type": "map",
            "key": {
              "shape": "S7"
            },
            "value": {
              "type": "structure",
              "members": {
                "Value": {
                  "shape": "S8"
                },
                "Action": {
                  "type": "string",
                  "enum": [
                    "ADD",
                    "PUT",
                    "DELETE"
                  ]
                }
              }
            }
          },
          "Expected": {
            "shape": "S3m"
          },
          "ConditionalOperator": {
            "shape": "S3r"
          },
          "ReturnValues": {
            "shape": "S3s"
          },
          "ReturnConsumedCapacity": {
            "shape": "So"
          },
          "ReturnItemCollectionMetrics": {
            "shape": "S16"
          },
          "UpdateExpression": {},
          "ConditionExpression": {},
          "ExpressionAttributeNames": {
            "shape": "Sm"
          },
          "ExpressionAttributeValues": {
            "shape": "S3u"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Attributes": {
            "shape": "Ss"
          },
          "ConsumedCapacity": {
            "shape": "Su"
          },
          "ItemCollectionMetrics": {
            "shape": "S1a"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "UpdateTable": {
      "input": {
        "type": "structure",
        "required": [
          "TableName"
        ],
        "members": {
          "AttributeDefinitions": {
            "shape": "S1z"
          },
          "TableName": {
            "shape": "S3"
          },
          "ProvisionedThroughput": {
            "shape": "S2e"
          },
          "GlobalSecondaryIndexUpdates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Update": {
                  "type": "structure",
                  "required": [
                    "IndexName",
                    "ProvisionedThroughput"
                  ],
                  "members": {
                    "IndexName": {
                      "shape": "Sy"
                    },
                    "ProvisionedThroughput": {
                      "shape": "S2e"
                    }
                  }
                },
                "Create": {
                  "type": "structure",
                  "required": [
                    "IndexName",
                    "KeySchema",
                    "Projection",
                    "ProvisionedThroughput"
                  ],
                  "members": {
                    "IndexName": {
                      "shape": "Sy"
                    },
                    "KeySchema": {
                      "shape": "S23"
                    },
                    "Projection": {
                      "shape": "S28"
                    },
                    "ProvisionedThroughput": {
                      "shape": "S2e"
                    }
                  }
                },
                "Delete": {
                  "type": "structure",
                  "required": [
                    "IndexName"
                  ],
                  "members": {
                    "IndexName": {
                      "shape": "Sy"
                    }
                  }
                }
              }
            }
          },
          "StreamSpecification": {
            "shape": "S2g"
          },
          "SSESpecification": {
            "shape": "S2j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableDescription": {
            "shape": "S2o"
          }
        }
      },
      "endpointdiscovery": {}
    },
    "UpdateTimeToLive": {
      "input": {
        "type": "structure",
        "required": [
          "TableName",
          "TimeToLiveSpecification"
        ],
        "members": {
          "TableName": {
            "shape": "S3"
          },
          "TimeToLiveSpecification": {
            "shape": "S78"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TimeToLiveSpecification": {
            "shape": "S78"
          }
        }
      },
      "endpointdiscovery": {}
    }
  },
  "shapes": {
    "S2": {
      "type": "map",
      "key": {
        "shape": "S3"
      },
      "value": {
        "type": "structure",
        "required": [
          "Keys"
        ],
        "members": {
          "Keys": {
            "type": "list",
            "member": {
              "shape": "S6"
            },
            "max": 100,
            "min": 1
          },
          "AttributesToGet": {
            "shape": "Sj"
          },
          "ConsistentRead": {
            "type": "boolean"
          },
          "ProjectionExpression": {},
          "ExpressionAttributeNames": {
            "shape": "Sm"
          }
        }
      },
      "max": 100,
      "min": 1
    },
    "S3": {
      "type": "string",
      "max": 255,
      "min": 3,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "S6": {
      "type": "map",
      "key": {
        "shape": "S7"
      },
      "value": {
        "shape": "S8"
      }
    },
    "S7": {
      "type": "string",
      "max": 65535
    },
    "S8": {
      "type": "structure",
      "members": {
        "S": {},
        "N": {},
        "B": {
          "type": "blob"
        },
        "SS": {
          "type": "list",
          "member": {}
        },
        "NS": {
          "type": "list",
          "member": {}
        },
        "BS": {
          "type": "list",
          "member": {
            "type": "blob"
          }
        },
        "M": {
          "type": "map",
          "key": {
            "shape": "S7"
          },
          "value": {
            "shape": "S8"
          }
        },
        "L": {
          "type": "list",
          "member": {
            "shape": "S8"
          }
        },
        "NULL": {
          "type": "boolean"
        },
        "BOOL": {
          "type": "boolean"
        }
      }
    },
    "Sj": {
      "type": "list",
      "member": {
        "shape": "S7"
      },
      "min": 1
    },
    "Sm": {
      "type": "map",
      "key": {},
      "value": {
        "shape": "S7"
      }
    },
    "So": {
      "type": "string",
      "enum": [
        "INDEXES",
        "TOTAL",
        "NONE"
      ]
    },
    "Sr": {
      "type": "list",
      "member": {
        "shape": "Ss"
      }
    },
    "Ss": {
      "type": "map",
      "key": {
        "shape": "S7"
      },
      "value": {
        "shape": "S8"
      }
    },
    "St": {
      "type": "list",
      "member": {
        "shape": "Su"
      }
    },
    "Su": {
      "type": "structure",
      "members": {
        "TableName": {
          "shape": "S3"
        },
        "CapacityUnits": {
          "type": "double"
        },
        "Table": {
          "shape": "Sw"
        },
        "LocalSecondaryIndexes": {
          "shape": "Sx"
        },
        "GlobalSecondaryIndexes": {
          "shape": "Sx"
        }
      }
    },
    "Sw": {
      "type": "structure",
      "members": {
        "CapacityUnits": {
          "type": "double"
        }
      }
    },
    "Sx": {
      "type": "map",
      "key": {
        "shape": "Sy"
      },
      "value": {
        "shape": "Sw"
      }
    },
    "Sy": {
      "type": "string",
      "max": 255,
      "min": 3,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "S10": {
      "type": "map",
      "key": {
        "shape": "S3"
      },
      "value": {
        "type": "list",
        "member": {
          "type": "structure",
          "members": {
            "PutRequest": {
              "type": "structure",
              "required": [
                "Item"
              ],
              "members": {
                "Item": {
                  "shape": "S14"
                }
              }
            },
            "DeleteRequest": {
              "type": "structure",
              "required": [
                "Key"
              ],
              "members": {
                "Key": {
                  "shape": "S6"
                }
              }
            }
          }
        },
        "max": 25,
        "min": 1
      },
      "max": 25,
      "min": 1
    },
    "S14": {
      "type": "map",
      "key": {
        "shape": "S7"
      },
      "value": {
        "shape": "S8"
      }
    },
    "S16": {
      "type": "string",
      "enum": [
        "SIZE",
        "NONE"
      ]
    },
    "S1a": {
      "type": "structure",
      "members": {
        "ItemCollectionKey": {
          "type": "map",
          "key": {
            "shape": "S7"
          },
          "value": {
            "shape": "S8"
          }
        },
        "SizeEstimateRangeGB": {
          "type": "list",
          "member": {
            "type": "double"
          }
        }
      }
    },
    "S1f": {
      "type": "string",
      "max": 255,
      "min": 3,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "S1h": {
      "type": "structure",
      "required": [
        "BackupArn",
        "BackupName",
        "BackupStatus",
        "BackupType",
        "BackupCreationDateTime"
      ],
      "members": {
        "BackupArn": {
          "shape": "S1i"
        },
        "BackupName": {
          "shape": "S1f"
        },
        "BackupSizeBytes": {
          "shape": "S1j"
        },
        "BackupStatus": {
          "shape": "S1k"
        },
        "BackupType": {
          "shape": "S1l"
        },
        "BackupCreationDateTime": {
          "type": "timestamp"
        },
        "BackupExpiryDateTime": {
          "type": "timestamp"
        }
      }
    },
    "S1i": {
      "type": "string",
      "max": 1024,
      "min": 37
    },
    "S1j": {
      "type": "long",
      "min": 0
    },
    "S1k": {
      "type": "string",
      "enum": [
        "CREATING",
        "DELETED",
        "AVAILABLE"
      ]
    },
    "S1l": {
      "type": "string",
      "enum": [
        "USER",
        "SYSTEM"
      ]
    },
    "S1p": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "RegionName": {}
        }
      }
    },
    "S1t": {
      "type": "structure",
      "members": {
        "ReplicationGroup": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "RegionName": {}
            }
          }
        },
        "GlobalTableArn": {},
        "CreationDateTime": {
          "type": "timestamp"
        },
        "GlobalTableStatus": {
          "type": "string",
          "enum": [
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "GlobalTableName": {
          "shape": "S3"
        }
      }
    },
    "S1z": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "AttributeName",
          "AttributeType"
        ],
        "members": {
          "AttributeName": {
            "shape": "S21"
          },
          "AttributeType": {
            "type": "string",
            "enum": [
              "S",
              "N",
              "B"
            ]
          }
        }
      }
    },
    "S21": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S23": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "AttributeName",
          "KeyType"
        ],
        "members": {
          "AttributeName": {
            "shape": "S21"
          },
          "KeyType": {
            "type": "string",
            "enum": [
              "HASH",
              "RANGE"
            ]
          }
        }
      },
      "max": 2,
      "min": 1
    },
    "S28": {
      "type": "structure",
      "members": {
        "ProjectionType": {
          "type": "string",
          "enum": [
            "ALL",
            "KEYS_ONLY",
            "INCLUDE"
          ]
        },
        "NonKeyAttributes": {
          "type": "list",
          "member": {
            "type": "string",
            "max": 255,
            "min": 1
          },
          "max": 20,
          "min": 1
        }
      }
    },
    "S2e": {
      "type": "structure",
      "required": [
        "ReadCapacityUnits",
        "WriteCapacityUnits"
      ],
      "members": {
        "ReadCapacityUnits": {
          "shape": "S2f"
        },
        "WriteCapacityUnits": {
          "shape": "S2f"
        }
      }
    },
    "S2f": {
      "type": "long",
      "min": 1
    },
    "S2g": {
      "type": "structure",
      "members": {
        "StreamEnabled": {
          "type": "boolean"
        },
        "StreamViewType": {
          "type": "string",
          "enum": [
            "NEW_IMAGE",
            "OLD_IMAGE",
            "NEW_AND_OLD_IMAGES",
            "KEYS_ONLY"
          ]
        }
      }
    },
    "S2j": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "SSEType": {
          "shape": "S2l"
        },
        "KMSMasterKeyId": {}
      }
    },
    "S2l": {
      "type": "string",
      "enum": [
        "AES256",
        "KMS"
      ]
    },
    "S2o": {
      "type": "structure",
      "members": {
        "AttributeDefinitions": {
          "shape": "S1z"
        },
        "TableName": {
          "shape": "S3"
        },
        "KeySchema": {
          "shape": "S23"
        },
        "TableStatus": {
          "type": "string",
          "enum": [
            "CREATING",
            "UPDATING",
            "DELETING",
            "ACTIVE"
          ]
        },
        "CreationDateTime": {
          "type": "timestamp"
        },
        "ProvisionedThroughput": {
          "shape": "S2q"
        },
        "TableSizeBytes": {
          "type": "long"
        },
        "ItemCount": {
          "type": "long"
        },
        "TableArn": {},
        "TableId": {
          "shape": "S2t"
        },
        "LocalSecondaryIndexes": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "IndexName": {
                "shape": "Sy"
              },
              "KeySchema": {
                "shape": "S23"
              },
              "Projection": {
                "shape": "S28"
              },
              "IndexSizeBytes": {
                "type": "long"
              },
              "ItemCount": {
                "type": "long"
              },
              "IndexArn": {}
            }
          }
        },
        "GlobalSecondaryIndexes": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "IndexName": {
                "shape": "Sy"
              },
              "KeySchema": {
                "shape": "S23"
              },
              "Projection": {
                "shape": "S28"
              },
              "IndexStatus": {
                "shape": "S2y"
              },
              "Backfilling": {
                "type": "boolean"
              },
              "ProvisionedThroughput": {
                "shape": "S2q"
              },
              "IndexSizeBytes": {
                "type": "long"
              },
              "ItemCount": {
                "type": "long"
              },
              "IndexArn": {}
            }
          }
        },
        "StreamSpecification": {
          "shape": "S2g"
        },
        "LatestStreamLabel": {},
        "LatestStreamArn": {
          "type": "string",
          "max": 1024,
          "min": 37
        },
        "RestoreSummary": {
          "type": "structure",
          "required": [
            "RestoreDateTime",
            "RestoreInProgress"
          ],
          "members": {
            "SourceBackupArn": {
              "shape": "S1i"
            },
            "SourceTableArn": {},
            "RestoreDateTime": {
              "type": "timestamp"
            },
            "RestoreInProgress": {
              "type": "boolean"
            }
          }
        },
        "SSEDescription": {
          "shape": "S34"
        }
      }
    },
    "S2q": {
      "type": "structure",
      "members": {
        "LastIncreaseDateTime": {
          "type": "timestamp"
        },
        "LastDecreaseDateTime": {
          "type": "timestamp"
        },
        "NumberOfDecreasesToday": {
          "shape": "S2f"
        },
        "ReadCapacityUnits": {
          "shape": "S2f"
        },
        "WriteCapacityUnits": {
          "shape": "S2f"
        }
      }
    },
    "S2t": {
      "type": "string",
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "S2y": {
      "type": "string",
      "enum": [
        "CREATING",
        "UPDATING",
        "DELETING",
        "ACTIVE"
      ]
    },
    "S34": {
      "type": "structure",
      "members": {
        "Status": {
          "type": "string",
          "enum": [
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "UPDATING"
          ]
        },
        "SSEType": {
          "shape": "S2l"
        },
        "KMSMasterKeyArn": {}
      }
    },
    "S39": {
      "type": "structure",
      "members": {
        "BackupDetails": {
          "shape": "S1h"
        },
        "SourceTableDetails": {
          "type": "structure",
          "required": [
            "TableName",
            "TableId",
            "KeySchema",
            "TableCreationDateTime",
            "ProvisionedThroughput"
          ],
          "members": {
            "TableName": {
              "shape": "S3"
            },
            "TableId": {
              "shape": "S2t"
            },
            "TableArn": {},
            "TableSizeBytes": {
              "type": "long"
            },
            "KeySchema": {
              "shape": "S23"
            },
            "TableCreationDateTime": {
              "type": "timestamp"
            },
            "ProvisionedThroughput": {
              "shape": "S2e"
            },
            "ItemCount": {
              "type": "long",
              "min": 0
            }
          }
        },
        "SourceTableFeatureDetails": {
          "type": "structure",
          "members": {
            "LocalSecondaryIndexes": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "IndexName": {
                    "shape": "Sy"
                  },
                  "KeySchema": {
                    "shape": "S23"
                  },
                  "Projection": {
                    "shape": "S28"
                  }
                }
              }
            },
            "GlobalSecondaryIndexes": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "IndexName": {
                    "shape": "Sy"
                  },
                  "KeySchema": {
                    "shape": "S23"
                  },
                  "Projection": {
                    "shape": "S28"
                  },
                  "ProvisionedThroughput": {
                    "shape": "S2e"
                  }
                }
              }
            },
            "StreamDescription": {
              "shape": "S2g"
            },
            "TimeToLiveDescription": {
              "shape": "S3i"
            },
            "SSEDescription": {
              "shape": "S34"
            }
          }
        }
      }
    },
    "S3i": {
      "type": "structure",
      "members": {
        "TimeToLiveStatus": {
          "type": "string",
          "enum": [
            "ENABLING",
            "DISABLING",
            "ENABLED",
            "DISABLED"
          ]
        },
        "AttributeName": {
          "shape": "S3k"
        }
      }
    },
    "S3k": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S3m": {
      "type": "map",
      "key": {
        "shape": "S7"
      },
      "value": {
        "type": "structure",
        "members": {
          "Value": {
            "shape": "S8"
          },
          "Exists": {
            "type": "boolean"
          },
          "ComparisonOperator": {
            "shape": "S3p"
          },
          "AttributeValueList": {
            "shape": "S3q"
          }
        }
      }
    },
    "S3p": {
      "type": "string",
      "enum": [
        "EQ",
        "NE",
        "IN",
        "LE",
        "LT",
        "GE",
        "GT",
        "BETWEEN",
        "NOT_NULL",
        "NULL",
        "CONTAINS",
        "NOT_CONTAINS",
        "BEGINS_WITH"
      ]
    },
    "S3q": {
      "type": "list",
      "member": {
        "shape": "S8"
      }
    },
    "S3r": {
      "type": "string",
      "enum": [
        "AND",
        "OR"
      ]
    },
    "S3s": {
      "type": "string",
      "enum": [
        "NONE",
        "ALL_OLD",
        "UPDATED_OLD",
        "ALL_NEW",
        "UPDATED_NEW"
      ]
    },
    "S3u": {
      "type": "map",
      "key": {},
      "value": {
        "shape": "S8"
      }
    },
    "S43": {
      "type": "structure",
      "required": [
        "ContinuousBackupsStatus"
      ],
      "members": {
        "ContinuousBackupsStatus": {
          "type": "string",
          "enum": [
            "ENABLED",
            "DISABLED"
          ]
        },
        "PointInTimeRecoveryDescription": {
          "type": "structure",
          "members": {
            "PointInTimeRecoveryStatus": {
              "type": "string",
              "enum": [
                "ENABLED",
                "DISABLED"
              ]
            },
            "EarliestRestorableDateTime": {
              "type": "timestamp"
            },
            "LatestRestorableDateTime": {
              "type": "timestamp"
            }
          }
        }
      }
    },
    "S4f": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "RegionName"
        ],
        "members": {
          "RegionName": {},
          "ReplicaStatus": {
            "type": "string",
            "enum": [
              "CREATING",
              "UPDATING",
              "DELETING",
              "ACTIVE"
            ]
          },
          "ReplicaProvisionedReadCapacityUnits": {
            "shape": "S2f"
          },
          "ReplicaProvisionedReadCapacityAutoScalingSettings": {
            "shape": "S4i"
          },
          "ReplicaProvisionedWriteCapacityUnits": {
            "shape": "S2f"
          },
          "ReplicaProvisionedWriteCapacityAutoScalingSettings": {
            "shape": "S4i"
          },
          "ReplicaGlobalSecondaryIndexSettings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "IndexName"
              ],
              "members": {
                "IndexName": {
                  "shape": "Sy"
                },
                "IndexStatus": {
                  "shape": "S2y"
                },
                "ProvisionedReadCapacityUnits": {
                  "shape": "S2f"
                },
                "ProvisionedReadCapacityAutoScalingSettings": {
                  "shape": "S4i"
                },
                "ProvisionedWriteCapacityUnits": {
                  "shape": "S2f"
                },
                "ProvisionedWriteCapacityAutoScalingSettings": {
                  "shape": "S4i"
                }
              }
            }
          }
        }
      }
    },
    "S4i": {
      "type": "structure",
      "members": {
        "MinimumUnits": {
          "shape": "S2f"
        },
        "MaximumUnits": {
          "shape": "S2f"
        },
        "AutoScalingDisabled": {
          "type": "boolean"
        },
        "AutoScalingRoleArn": {},
        "ScalingPolicies": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "PolicyName": {
                "shape": "S4l"
              },
              "TargetTrackingScalingPolicyConfiguration": {
                "type": "structure",
                "required": [
                  "TargetValue"
                ],
                "members": {
                  "DisableScaleIn": {
                    "type": "boolean"
                  },
                  "ScaleInCooldown": {
                    "type": "integer"
                  },
                  "ScaleOutCooldown": {
                    "type": "integer"
                  },
                  "TargetValue": {
                    "type": "double"
                  }
                }
              }
            }
          }
        }
      }
    },
    "S4l": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "\\p{Print}+"
    },
    "S58": {
      "type": "integer",
      "min": 1
    },
    "S5h": {
      "type": "string",
      "max": 1283,
      "min": 1
    },
    "S5k": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {
            "shape": "S5m"
          },
          "Value": {
            "type": "string",
            "max": 256,
            "min": 0
          }
        }
      }
    },
    "S5m": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S5r": {
      "type": "string",
      "enum": [
        "ALL_ATTRIBUTES",
        "ALL_PROJECTED_ATTRIBUTES",
        "SPECIFIC_ATTRIBUTES",
        "COUNT"
      ]
    },
    "S5t": {
      "type": "structure",
      "required": [
        "ComparisonOperator"
      ],
      "members": {
        "AttributeValueList": {
          "shape": "S3q"
        },
        "ComparisonOperator": {
          "shape": "S3p"
        }
      }
    },
    "S5u": {
      "type": "map",
      "key": {
        "shape": "S7"
      },
      "value": {
        "shape": "S5t"
      }
    },
    "S6j": {
      "type": "structure",
      "members": {
        "MinimumUnits": {
          "shape": "S2f"
        },
        "MaximumUnits": {
          "shape": "S2f"
        },
        "AutoScalingDisabled": {
          "type": "boolean"
        },
        "AutoScalingRoleArn": {
          "type": "string",
          "max": 1600,
          "min": 1,
          "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
        },
        "ScalingPolicyUpdate": {
          "type": "structure",
          "required": [
            "TargetTrackingScalingPolicyConfiguration"
          ],
          "members": {
            "PolicyName": {
              "shape": "S4l"
            },
            "TargetTrackingScalingPolicyConfiguration": {
              "type": "structure",
              "required": [
                "TargetValue"
              ],
              "members": {
                "DisableScaleIn": {
                  "type": "boolean"
                },
                "ScaleInCooldown": {
                  "type": "integer"
                },
                "ScaleOutCooldown": {
                  "type": "integer"
                },
                "TargetValue": {
                  "type": "double"
                }
              }
            }
          }
        }
      }
    },
    "S78": {
      "type": "structure",
      "required": [
        "Enabled",
        "AttributeName"
      ],
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "AttributeName": {
          "shape": "S3k"
        }
      }
    }
  }
}