{
  "metadata": {
    "apiVersion": "2014-06-15",
    "protocol": "query",
    "resultWrapped": false,
    "signatureVersion": "v2",
    "serviceFullName": "Amazon Elastic Compute Cloud",
    "serviceAbbreviation": "Amazon EC2",
    "endpointPrefix": "ec2",
    "xmlNamespace": "http://ec2.amazonaws.com/doc/2014-06-15"
  },
  "operations": {
    "AcceptVpcPeeringConnection": {
      "input": {
        "type": "structure",
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VpcPeeringConnectionId": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VpcPeeringConnection": {
            "type": "structure",
            "locationName": "vpcPeeringConnection",
            "members": {
              "AccepterVpcInfo": {
                "type": "structure",
                "locationName": "accepterVpcInfo",
                "members": {
                  "CidrBlock": {
                    "type": "string",
                    "locationName": "cidrBlock"
                  },
                  "OwnerId": {
                    "type": "string",
                    "locationName": "ownerId"
                  },
                  "VpcId": {
                    "type": "string",
                    "locationName": "vpcId"
                  }
                }
              },
              "ExpirationTime": {
                "type": "timestamp",
                "locationName": "expirationTime"
              },
              "RequesterVpcInfo": {
                "type": "structure",
                "locationName": "requesterVpcInfo",
                "members": {
                  "CidrBlock": {
                    "type": "string",
                    "locationName": "cidrBlock"
                  },
                  "OwnerId": {
                    "type": "string",
                    "locationName": "ownerId"
                  },
                  "VpcId": {
                    "type": "string",
                    "locationName": "vpcId"
                  }
                }
              },
              "Status": {
                "type": "structure",
                "locationName": "status",
                "members": {
                  "Code": {
                    "type": "string",
                    "locationName": "code"
                  },
                  "Message": {
                    "type": "string",
                    "locationName": "message"
                  }
                }
              },
              "Tags": {
                "type": "list",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "locationName": "value"
                    }
                  }
                }
              },
              "VpcPeeringConnectionId": {
                "type": "string",
                "locationName": "vpcPeeringConnectionId"
              }
            }
          }
        }
      }
    },
    "AllocateAddress": {
      "input": {
        "type": "structure",
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "Domain": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PublicIp": {
            "type": "string",
            "locationName": "publicIp"
          },
          "Domain": {
            "type": "string",
            "locationName": "domain"
          },
          "AllocationId": {
            "type": "string",
            "locationName": "allocationId"
          }
        }
      }
    },
    "AssignPrivateIpAddresses": {
      "input": {
        "type": "structure",
        "required": [
          "NetworkInterfaceId"
        ],
        "members": {
          "NetworkInterfaceId": {
            "type": "string"
          },
          "PrivateIpAddresses": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "string",
              "locationName": "PrivateIpAddress"
            }
          },
          "SecondaryPrivateIpAddressCount": {
            "type": "integer"
          },
          "AllowReassignment": {
            "type": "boolean"
          }
        }
      },
      "output": null
    },
    "AssociateAddress": {
      "input": {
        "type": "structure",
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "InstanceId": {
            "type": "string"
          },
          "PublicIp": {
            "type": "string"
          },
          "AllocationId": {
            "type": "string"
          },
          "NetworkInterfaceId": {
            "type": "string"
          },
          "PrivateIpAddress": {
            "type": "string"
          },
          "AllowReassociation": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssociationId": {
            "type": "string",
            "locationName": "associationId"
          }
        }
      }
    },
    "AssociateDhcpOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DhcpOptionsId",
          "VpcId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "DhcpOptionsId": {
            "type": "string"
          },
          "VpcId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "AssociateRouteTable": {
      "input": {
        "type": "structure",
        "required": [
          "SubnetId",
          "RouteTableId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "SubnetId": {
            "type": "string"
          },
          "RouteTableId": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssociationId": {
            "type": "string",
            "locationName": "associationId"
          }
        }
      }
    },
    "AttachInternetGateway": {
      "input": {
        "type": "structure",
        "required": [
          "InternetGatewayId",
          "VpcId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "InternetGatewayId": {
            "type": "string"
          },
          "VpcId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "AttachNetworkInterface": {
      "input": {
        "type": "structure",
        "required": [
          "NetworkInterfaceId",
          "InstanceId",
          "DeviceIndex"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "NetworkInterfaceId": {
            "type": "string"
          },
          "InstanceId": {
            "type": "string"
          },
          "DeviceIndex": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AttachmentId": {
            "type": "string",
            "locationName": "attachmentId"
          }
        }
      }
    },
    "AttachVolume": {
      "input": {
        "type": "structure",
        "required": [
          "VolumeId",
          "InstanceId",
          "Device"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VolumeId": {
            "type": "string"
          },
          "InstanceId": {
            "type": "string"
          },
          "Device": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "locationName": "attachment",
        "members": {
          "VolumeId": {
            "type": "string",
            "locationName": "volumeId"
          },
          "InstanceId": {
            "type": "string",
            "locationName": "instanceId"
          },
          "Device": {
            "type": "string",
            "locationName": "device"
          },
          "State": {
            "type": "string",
            "locationName": "status"
          },
          "AttachTime": {
            "type": "timestamp",
            "locationName": "attachTime"
          },
          "DeleteOnTermination": {
            "type": "boolean",
            "locationName": "deleteOnTermination"
          }
        }
      }
    },
    "AttachVpnGateway": {
      "input": {
        "type": "structure",
        "required": [
          "VpnGatewayId",
          "VpcId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VpnGatewayId": {
            "type": "string"
          },
          "VpcId": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VpcAttachment": {
            "type": "structure",
            "locationName": "attachment",
            "members": {
              "VpcId": {
                "type": "string",
                "locationName": "vpcId"
              },
              "State": {
                "type": "string",
                "locationName": "state"
              }
            }
          }
        }
      }
    },
    "AuthorizeSecurityGroupEgress": {
      "input": {
        "type": "structure",
        "required": [
          "GroupId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "GroupId": {
            "type": "string"
          },
          "SourceSecurityGroupName": {
            "type": "string"
          },
          "SourceSecurityGroupOwnerId": {
            "type": "string"
          },
          "IpProtocol": {
            "type": "string"
          },
          "FromPort": {
            "type": "integer"
          },
          "ToPort": {
            "type": "integer"
          },
          "CidrIp": {
            "type": "string"
          },
          "IpPermissions": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "structure",
              "members": {
                "IpProtocol": {
                  "type": "string"
                },
                "FromPort": {
                  "type": "integer"
                },
                "ToPort": {
                  "type": "integer"
                },
                "UserIdGroupPairs": {
                  "type": "list",
                  "flattened": true,
                  "member": {
                    "type": "structure",
                    "locationName": "Groups",
                    "members": {
                      "UserId": {
                        "type": "string"
                      },
                      "GroupName": {
                        "type": "string"
                      },
                      "GroupId": {
                        "type": "string"
                      }
                    }
                  }
                },
                "IpRanges": {
                  "type": "list",
                  "flattened": true,
                  "member": {
                    "type": "structure",
                    "members": {
                      "CidrIp": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "output": null
    },
    "AuthorizeSecurityGroupIngress": {
      "input": {
        "type": "structure",
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "GroupName": {
            "type": "string"
          },
          "GroupId": {
            "type": "string"
          },
          "SourceSecurityGroupName": {
            "type": "string"
          },
          "SourceSecurityGroupOwnerId": {
            "type": "string"
          },
          "IpProtocol": {
            "type": "string"
          },
          "FromPort": {
            "type": "integer"
          },
          "ToPort": {
            "type": "integer"
          },
          "CidrIp": {
            "type": "string"
          },
          "IpPermissions": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "structure",
              "members": {
                "IpProtocol": {
                  "type": "string"
                },
                "FromPort": {
                  "type": "integer"
                },
                "ToPort": {
                  "type": "integer"
                },
                "UserIdGroupPairs": {
                  "type": "list",
                  "flattened": true,
                  "member": {
                    "type": "structure",
                    "locationName": "Groups",
                    "members": {
                      "UserId": {
                        "type": "string"
                      },
                      "GroupName": {
                        "type": "string"
                      },
                      "GroupId": {
                        "type": "string"
                      }
                    }
                  }
                },
                "IpRanges": {
                  "type": "list",
                  "flattened": true,
                  "member": {
                    "type": "structure",
                    "members": {
                      "CidrIp": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "output": null
    },
    "BundleInstance": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "InstanceId": {
            "type": "string"
          },
          "Storage": {
            "type": "structure",
            "members": {
              "S3": {
                "type": "structure",
                "members": {
                  "Bucket": {
                    "type": "string"
                  },
                  "Prefix": {
                    "type": "string"
                  },
                  "AWSAccessKeyId": {
                    "type": "string"
                  },
                  "UploadPolicy": {
                    "type": "blob"
                  },
                  "UploadPolicySignature": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BundleTask": {
            "type": "structure",
            "locationName": "bundleInstanceTask",
            "members": {
              "InstanceId": {
                "type": "string",
                "locationName": "instanceId"
              },
              "BundleId": {
                "type": "string",
                "locationName": "bundleId"
              },
              "State": {
                "type": "string",
                "locationName": "state"
              },
              "StartTime": {
                "type": "timestamp",
                "locationName": "startTime"
              },
              "UpdateTime": {
                "type": "timestamp",
                "locationName": "updateTime"
              },
              "Storage": {
                "type": "structure",
                "locationName": "storage",
                "members": {
                  "S3": {
                    "type": "structure",
                    "members": {
                      "Bucket": {
                        "type": "string",
                        "locationName": "bucket"
                      },
                      "Prefix": {
                        "type": "string",
                        "locationName": "prefix"
                      },
                      "AWSAccessKeyId": {
                        "type": "string"
                      },
                      "UploadPolicy": {
                        "type": "string",
                        "locationName": "uploadPolicy"
                      },
                      "UploadPolicySignature": {
                        "type": "string",
                        "locationName": "uploadPolicySignature"
                      }
                    }
                  }
                }
              },
              "Progress": {
                "type": "string",
                "locationName": "progress"
              },
              "BundleTaskError": {
                "type": "structure",
                "locationName": "error",
                "members": {
                  "Code": {
                    "type": "string",
                    "locationName": "code"
                  },
                  "Message": {
                    "type": "string",
                    "locationName": "message"
                  }
                }
              }
            }
          }
        }
      }
    },
    "CancelBundleTask": {
      "input": {
        "type": "structure",
        "required": [
          "BundleId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "BundleId": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BundleTask": {
            "type": "structure",
            "locationName": "bundleInstanceTask",
            "members": {
              "InstanceId": {
                "type": "string",
                "locationName": "instanceId"
              },
              "BundleId": {
                "type": "string",
                "locationName": "bundleId"
              },
              "State": {
                "type": "string",
                "locationName": "state"
              },
              "StartTime": {
                "type": "timestamp",
                "locationName": "startTime"
              },
              "UpdateTime": {
                "type": "timestamp",
                "locationName": "updateTime"
              },
              "Storage": {
                "type": "structure",
                "locationName": "storage",
                "members": {
                  "S3": {
                    "type": "structure",
                    "members": {
                      "Bucket": {
                        "type": "string",
                        "locationName": "bucket"
                      },
                      "Prefix": {
                        "type": "string",
                        "locationName": "prefix"
                      },
                      "AWSAccessKeyId": {
                        "type": "string"
                      },
                      "UploadPolicy": {
                        "type": "string",
                        "locationName": "uploadPolicy"
                      },
                      "UploadPolicySignature": {
                        "type": "string",
                        "locationName": "uploadPolicySignature"
                      }
                    }
                  }
                }
              },
              "Progress": {
                "type": "string",
                "locationName": "progress"
              },
              "BundleTaskError": {
                "type": "structure",
                "locationName": "error",
                "members": {
                  "Code": {
                    "type": "string",
                    "locationName": "code"
                  },
                  "Message": {
                    "type": "string",
                    "locationName": "message"
                  }
                }
              }
            }
          }
        }
      }
    },
    "CancelConversionTask": {
      "input": {
        "type": "structure",
        "required": [
          "ConversionTaskId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "ConversionTaskId": {
            "type": "string"
          },
          "ReasonMessage": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "CancelExportTask": {
      "input": {
        "type": "structure",
        "required": [
          "ExportTaskId"
        ],
        "members": {
          "ExportTaskId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "CancelReservedInstancesListing": {
      "input": {
        "type": "structure",
        "required": [
          "ReservedInstancesListingId"
        ],
        "members": {
          "ReservedInstancesListingId": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReservedInstancesListings": {
            "type": "list",
            "locationName": "reservedInstancesListingsSet",
            "member": {
              "type": "structure",
              "locationName": "item",
              "members": {
                "ReservedInstancesListingId": {
                  "type": "string",
                  "locationName": "reservedInstancesListingId"
                },
                "ReservedInstancesId": {
                  "type": "string",
                  "locationName": "reservedInstancesId"
                },
                "CreateDate": {
                  "type": "timestamp",
                  "locationName": "createDate"
                },
                "UpdateDate": {
                  "type": "timestamp",
                  "locationName": "updateDate"
                },
                "Status": {
                  "type": "string",
                  "locationName": "status"
                },
                "StatusMessage": {
                  "type": "string",
                  "locationName": "statusMessage"
                },
                "InstanceCounts": {
                  "type": "list",
                  "locationName": "instanceCounts",
                  "member": {
                    "type": "structure",
                    "locationName": "item",
                    "members": {
                      "State": {
                        "type": "string",
                        "locationName": "state"
                      },
                      "InstanceCount": {
                        "type": "integer",
                        "locationName": "instanceCount"
                      }
                    }
                  }
                },
                "PriceSchedules": {
                  "type": "list",
                  "locationName": "priceSchedules",
                  "member": {
                    "type": "structure",
                    "locationName": "item",
                    "members": {
                      "Term": {
                        "type": "long",
                        "locationName": "term"
                      },
                      "Price": {
                        "type": "double",
                        "locationName": "price"
                      },
                      "CurrencyCode": {
                        "type": "string",
                        "locationName": "currencyCode"
                      },
                      "Active": {
                        "type": "boolean",
                        "locationName": "active"
                      }
                    }
                  }
                },
                "Tags": {
                  "type": "list",
                  "locationName": "tagSet",
                  "member": {
                    "type": "structure",
                    "locationName": "item",
                    "members": {
                      "Key": {
                        "type": "string",
                        "locationName": "key"
                      },
                      "Value": {
                        "type": "string",
                        "locationName": "value"
                      }
                    }
                  }
                },
                "ClientToken": {
                  "type": "string",
                  "locationName": "clientToken"
                }
              }
            }
          }
        }
      }
    },
    "CancelSpotInstanceRequests": {
      "input": {
        "type": "structure",
        "required": [
          "SpotInstanceRequestIds"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "SpotInstanceRequestIds": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "string",
              "locationName": "SpotInstanceRequestId"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CancelledSpotInstanceRequests": {
            "type": "list",
            "locationName": "spotInstanceRequestSet",
            "member": {
              "type": "structure",
              "locationName": "item",
              "members": {
                "SpotInstanceRequestId": {
                  "type": "string",
                  "locationName": "spotInstanceRequestId"
                },
                "State": {
                  "type": "string",
                  "locationName": "state"
                }
              }
            }
          }
        }
      }
    },
    "ConfirmProductInstance": {
      "input": {
        "type": "structure",
        "required": [
          "ProductCode",
          "InstanceId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "ProductCode": {
            "type": "string"
          },
          "InstanceId": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OwnerId": {
            "type": "string",
            "locationName": "ownerId"
          }
        }
      }
    },
    "CopyImage": {
      "input": {
        "type": "structure",
        "required": [
          "SourceRegion",
          "SourceImageId",
          "Name"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "SourceRegion": {
            "type": "string"
          },
          "SourceImageId": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ClientToken": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageId": {
            "type": "string",
            "locationName": "imageId"
          }
        }
      }
    },
    "CopySnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "SourceRegion",
          "SourceSnapshotId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "SourceRegion": {
            "type": "string"
          },
          "SourceSnapshotId": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "DestinationRegion": {
            "type": "string"
          },
          "PresignedUrl": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SnapshotId": {
            "type": "string",
            "locationName": "snapshotId"
          }
        }
      }
    },
    "CreateCustomerGateway": {
      "input": {
        "type": "structure",
        "required": [
          "Type",
          "PublicIp",
          "BgpAsn"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "Type": {
            "type": "string"
          },
          "PublicIp": {
            "type": "string",
            "locationName": "IpAddress"
          },
          "BgpAsn": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CustomerGateway": {
            "type": "structure",
            "locationName": "customerGateway",
            "members": {
              "CustomerGatewayId": {
                "type": "string",
                "locationName": "customerGatewayId"
              },
              "State": {
                "type": "string",
                "locationName": "state"
              },
              "Type": {
                "type": "string",
                "locationName": "type"
              },
              "IpAddress": {
                "type": "string",
                "locationName": "ipAddress"
              },
              "BgpAsn": {
                "type": "string",
                "locationName": "bgpAsn"
              },
              "Tags": {
                "type": "list",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "locationName": "value"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "CreateDhcpOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DhcpConfigurations"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "DhcpConfigurations": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "structure",
              "locationName": "DhcpConfiguration",
              "members": {
                "Key": {
                  "type": "string"
                },
                "Values": {
                  "type": "list",
                  "flattened": true,
                  "member": {
                    "type": "string",
                    "locationName": "Value"
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DhcpOptions": {
            "type": "structure",
            "locationName": "dhcpOptions",
            "members": {
              "DhcpOptionsId": {
                "type": "string",
                "locationName": "dhcpOptionsId"
              },
              "DhcpConfigurations": {
                "type": "list",
                "locationName": "dhcpConfigurationSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Values": {
                      "type": "list",
                      "locationName": "valueSet",
                      "member": {
                        "type": "string",
                        "locationName": "item"
                      }
                    }
                  }
                }
              },
              "Tags": {
                "type": "list",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "locationName": "value"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "CreateImage": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceId",
          "Name"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "InstanceId": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "NoReboot": {
            "type": "boolean"
          },
          "BlockDeviceMappings": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "structure",
              "locationName": "BlockDeviceMapping",
              "members": {
                "VirtualName": {
                  "type": "string"
                },
                "DeviceName": {
                  "type": "string"
                },
                "Ebs": {
                  "type": "structure",
                  "members": {
                    "SnapshotId": {
                      "type": "string"
                    },
                    "VolumeSize": {
                      "type": "integer"
                    },
                    "DeleteOnTermination": {
                      "type": "boolean"
                    },
                    "VolumeType": {
                      "type": "string"
                    },
                    "Iops": {
                      "type": "integer"
                    },
                    "Encrypted": {
                      "type": "boolean"
                    }
                  }
                },
                "NoDevice": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageId": {
            "type": "string",
            "locationName": "imageId"
          }
        }
      }
    },
    "CreateInstanceExportTask": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceId"
        ],
        "members": {
          "Description": {
            "type": "string"
          },
          "InstanceId": {
            "type": "string"
          },
          "TargetEnvironment": {
            "type": "string"
          },
          "ExportToS3Task": {
            "type": "structure",
            "locationName": "ExportToS3",
            "members": {
              "DiskImageFormat": {
                "type": "string"
              },
              "ContainerFormat": {
                "type": "string"
              },
              "S3Bucket": {
                "type": "string"
              },
              "S3Prefix": {
                "type": "string"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExportTask": {
            "type": "structure",
            "locationName": "exportTask",
            "members": {
              "ExportTaskId": {
                "type": "string",
                "locationName": "exportTaskId"
              },
              "Description": {
                "type": "string",
                "locationName": "description"
              },
              "State": {
                "type": "string",
                "locationName": "state"
              },
              "StatusMessage": {
                "type": "string",
                "locationName": "statusMessage"
              },
              "InstanceExportDetails": {
                "type": "structure",
                "locationName": "instanceExport",
                "members": {
                  "InstanceId": {
                    "type": "string",
                    "locationName": "instanceId"
                  },
                  "TargetEnvironment": {
                    "type": "string",
                    "locationName": "targetEnvironment"
                  }
                }
              },
              "ExportToS3Task": {
                "type": "structure",
                "locationName": "exportToS3",
                "members": {
                  "DiskImageFormat": {
                    "type": "string",
                    "locationName": "diskImageFormat"
                  },
                  "ContainerFormat": {
                    "type": "string",
                    "locationName": "containerFormat"
                  },
                  "S3Bucket": {
                    "type": "string",
                    "locationName": "s3Bucket"
                  },
                  "S3Key": {
                    "type": "string",
                    "locationName": "s3Key"
                  }
                }
              }
            }
          }
        }
      }
    },
    "CreateInternetGateway": {
      "input": {
        "type": "structure",
        "members": {
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InternetGateway": {
            "type": "structure",
            "locationName": "internetGateway",
            "members": {
              "InternetGatewayId": {
                "type": "string",
                "locationName": "internetGatewayId"
              },
              "Attachments": {
                "type": "list",
                "locationName": "attachmentSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "VpcId": {
                      "type": "string",
                      "locationName": "vpcId"
                    },
                    "State": {
                      "type": "string",
                      "locationName": "state"
                    }
                  }
                }
              },
              "Tags": {
                "type": "list",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "locationName": "value"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "CreateKeyPair": {
      "input": {
        "type": "structure",
        "required": [
          "KeyName"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "KeyName": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "KeyName": {
            "type": "string",
            "locationName": "keyName"
          },
          "KeyFingerprint": {
            "type": "string",
            "locationName": "keyFingerprint"
          },
          "KeyMaterial": {
            "type": "string",
            "locationName": "keyMaterial"
          }
        }
      }
    },
    "CreateNetworkAcl": {
      "input": {
        "type": "structure",
        "required": [
          "VpcId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VpcId": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NetworkAcl": {
            "type": "structure",
            "locationName": "networkAcl",
            "members": {
              "NetworkAclId": {
                "type": "string",
                "locationName": "networkAclId"
              },
              "VpcId": {
                "type": "string",
                "locationName": "vpcId"
              },
              "IsDefault": {
                "type": "boolean",
                "locationName": "default"
              },
              "Entries": {
                "type": "list",
                "locationName": "entrySet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "RuleNumber": {
                      "type": "integer",
                      "locationName": "ruleNumber"
                    },
                    "Protocol": {
                      "type": "string",
                      "locationName": "protocol"
                    },
                    "RuleAction": {
                      "type": "string",
                      "locationName": "ruleAction"
                    },
                    "Egress": {
                      "type": "boolean",
                      "locationName": "egress"
                    },
                    "CidrBlock": {
                      "type": "string",
                      "locationName": "cidrBlock"
                    },
                    "IcmpTypeCode": {
                      "type": "structure",
                      "locationName": "icmpTypeCode",
                      "members": {
                        "Type": {
                          "type": "integer",
                          "locationName": "type"
                        },
                        "Code": {
                          "type": "integer",
                          "locationName": "code"
                        }
                      }
                    },
                    "PortRange": {
                      "type": "structure",
                      "locationName": "portRange",
                      "members": {
                        "From": {
                          "type": "integer",
                          "locationName": "from"
                        },
                        "To": {
                          "type": "integer",
                          "locationName": "to"
                        }
                      }
                    }
                  }
                }
              },
              "Associations": {
                "type": "list",
                "locationName": "associationSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "NetworkAclAssociationId": {
                      "type": "string",
                      "locationName": "networkAclAssociationId"
                    },
                    "NetworkAclId": {
                      "type": "string",
                      "locationName": "networkAclId"
                    },
                    "SubnetId": {
                      "type": "string",
                      "locationName": "subnetId"
                    }
                  }
                }
              },
              "Tags": {
                "type": "list",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "locationName": "value"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "CreateNetworkAclEntry": {
      "input": {
        "type": "structure",
        "required": [
          "NetworkAclId",
          "RuleNumber",
          "Protocol",
          "RuleAction",
          "Egress",
          "CidrBlock"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "NetworkAclId": {
            "type": "string"
          },
          "RuleNumber": {
            "type": "integer"
          },
          "Protocol": {
            "type": "string"
          },
          "RuleAction": {
            "type": "string"
          },
          "Egress": {
            "type": "boolean"
          },
          "CidrBlock": {
            "type": "string"
          },
          "IcmpTypeCode": {
            "type": "structure",
            "locationName": "Icmp",
            "members": {
              "Type": {
                "type": "integer"
              },
              "Code": {
                "type": "integer"
              }
            }
          },
          "PortRange": {
            "type": "structure",
            "members": {
              "From": {
                "type": "integer"
              },
              "To": {
                "type": "integer"
              }
            }
          }
        }
      },
      "output": null
    },
    "CreateNetworkInterface": {
      "input": {
        "type": "structure",
        "required": [
          "SubnetId"
        ],
        "members": {
          "SubnetId": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "PrivateIpAddress": {
            "type": "string"
          },
          "Groups": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "string",
              "locationName": "SecurityGroupId"
            }
          },
          "PrivateIpAddresses": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "structure",
              "required": [
                "PrivateIpAddress"
              ],
              "members": {
                "PrivateIpAddress": {
                  "type": "string"
                },
                "Primary": {
                  "type": "boolean"
                }
              }
            }
          },
          "SecondaryPrivateIpAddressCount": {
            "type": "integer"
          },
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NetworkInterface": {
            "type": "structure",
            "locationName": "networkInterface",
            "members": {
              "NetworkInterfaceId": {
                "type": "string",
                "locationName": "networkInterfaceId"
              },
              "SubnetId": {
                "type": "string",
                "locationName": "subnetId"
              },
              "VpcId": {
                "type": "string",
                "locationName": "vpcId"
              },
              "AvailabilityZone": {
                "type": "string",
                "locationName": "availabilityZone"
              },
              "Description": {
                "type": "string",
                "locationName": "description"
              },
              "OwnerId": {
                "type": "string",
                "locationName": "ownerId"
              },
              "RequesterId": {
                "type": "string",
                "locationName": "requesterId"
              },
              "RequesterManaged": {
                "type": "boolean",
                "locationName": "requesterManaged"
              },
              "Status": {
                "type": "string",
                "locationName": "status"
              },
              "MacAddress": {
                "type": "string",
                "locationName": "macAddress"
              },
              "PrivateIpAddress": {
                "type": "string",
                "locationName": "privateIpAddress"
              },
              "PrivateDnsName": {
                "type": "string",
                "locationName": "privateDnsName"
              },
              "SourceDestCheck": {
                "type": "boolean",
                "locationName": "sourceDestCheck"
              },
              "Groups": {
                "type": "list",
                "locationName": "groupSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "GroupName": {
                      "type": "string",
                      "locationName": "groupName"
                    },
                    "GroupId": {
                      "type": "string",
                      "locationName": "groupId"
                    }
                  }
                }
              },
              "Attachment": {
                "type": "structure",
                "locationName": "attachment",
                "members": {
                  "AttachmentId": {
                    "type": "string",
                    "locationName": "attachmentId"
                  },
                  "InstanceId": {
                    "type": "string",
                    "locationName": "instanceId"
                  },
                  "InstanceOwnerId": {
                    "type": "string",
                    "locationName": "instanceOwnerId"
                  },
                  "DeviceIndex": {
                    "type": "integer",
                    "locationName": "deviceIndex"
                  },
                  "Status": {
                    "type": "string",
                    "locationName": "status"
                  },
                  "AttachTime": {
                    "type": "timestamp",
                    "locationName": "attachTime"
                  },
                  "DeleteOnTermination": {
                    "type": "boolean",
                    "locationName": "deleteOnTermination"
                  }
                }
              },
              "Association": {
                "type": "structure",
                "locationName": "association",
                "members": {
                  "PublicIp": {
                    "type": "string",
                    "locationName": "publicIp"
                  },
                  "PublicDnsName": {
                    "type": "string",
                    "locationName": "publicDnsName"
                  },
                  "IpOwnerId": {
                    "type": "string",
                    "locationName": "ipOwnerId"
                  },
                  "AllocationId": {
                    "type": "string",
                    "locationName": "allocationId"
                  },
                  "AssociationId": {
                    "type": "string",
                    "locationName": "associationId"
                  }
                }
              },
              "TagSet": {
                "type": "list",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "locationName": "value"
                    }
                  }
                }
              },
              "PrivateIpAddresses": {
                "type": "list",
                "locationName": "privateIpAddressesSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "PrivateIpAddress": {
                      "type": "string",
                      "locationName": "privateIpAddress"
                    },
                    "PrivateDnsName": {
                      "type": "string",
                      "locationName": "privateDnsName"
                    },
                    "Primary": {
                      "type": "boolean",
                      "locationName": "primary"
                    },
                    "Association": {
                      "type": "structure",
                      "locationName": "association",
                      "members": {
                        "PublicIp": {
                          "type": "string",
                          "locationName": "publicIp"
                        },
                        "PublicDnsName": {
                          "type": "string",
                          "locationName": "publicDnsName"
                        },
                        "IpOwnerId": {
                          "type": "string",
                          "locationName": "ipOwnerId"
                        },
                        "AllocationId": {
                          "type": "string",
                          "locationName": "allocationId"
                        },
                        "AssociationId": {
                          "type": "string",
                          "locationName": "associationId"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "CreatePlacementGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "Strategy"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "GroupName": {
            "type": "string"
          },
          "Strategy": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "CreateReservedInstancesListing": {
      "input": {
        "type": "structure",
        "required": [
          "ReservedInstancesId",
          "InstanceCount",
          "PriceSchedules",
          "ClientToken"
        ],
        "members": {
          "ReservedInstancesId": {
            "type": "string"
          },
          "InstanceCount": {
            "type": "integer"
          },
          "PriceSchedules": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "structure",
              "members": {
                "Term": {
                  "type": "long"
                },
                "Price": {
                  "type": "double"
                },
                "CurrencyCode": {
                  "type": "string"
                }
              }
            }
          },
          "ClientToken": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReservedInstancesListings": {
            "type": "list",
            "locationName": "reservedInstancesListingsSet",
            "member": {
              "type": "structure",
              "locationName": "item",
              "members": {
                "ReservedInstancesListingId": {
                  "type": "string",
                  "locationName": "reservedInstancesListingId"
                },
                "ReservedInstancesId": {
                  "type": "string",
                  "locationName": "reservedInstancesId"
                },
                "CreateDate": {
                  "type": "timestamp",
                  "locationName": "createDate"
                },
                "UpdateDate": {
                  "type": "timestamp",
                  "locationName": "updateDate"
                },
                "Status": {
                  "type": "string",
                  "locationName": "status"
                },
                "StatusMessage": {
                  "type": "string",
                  "locationName": "statusMessage"
                },
                "InstanceCounts": {
                  "type": "list",
                  "locationName": "instanceCounts",
                  "member": {
                    "type": "structure",
                    "locationName": "item",
                    "members": {
                      "State": {
                        "type": "string",
                        "locationName": "state"
                      },
                      "InstanceCount": {
                        "type": "integer",
                        "locationName": "instanceCount"
                      }
                    }
                  }
                },
                "PriceSchedules": {
                  "type": "list",
                  "locationName": "priceSchedules",
                  "member": {
                    "type": "structure",
                    "locationName": "item",
                    "members": {
                      "Term": {
                        "type": "long",
                        "locationName": "term"
                      },
                      "Price": {
                        "type": "double",
                        "locationName": "price"
                      },
                      "CurrencyCode": {
                        "type": "string",
                        "locationName": "currencyCode"
                      },
                      "Active": {
                        "type": "boolean",
                        "locationName": "active"
                      }
                    }
                  }
                },
                "Tags": {
                  "type": "list",
                  "locationName": "tagSet",
                  "member": {
                    "type": "structure",
                    "locationName": "item",
                    "members": {
                      "Key": {
                        "type": "string",
                        "locationName": "key"
                      },
                      "Value": {
                        "type": "string",
                        "locationName": "value"
                      }
                    }
                  }
                },
                "ClientToken": {
                  "type": "string",
                  "locationName": "clientToken"
                }
              }
            }
          }
        }
      }
    },
    "CreateRoute": {
      "input": {
        "type": "structure",
        "required": [
          "RouteTableId",
          "DestinationCidrBlock"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "RouteTableId": {
            "type": "string"
          },
          "DestinationCidrBlock": {
            "type": "string"
          },
          "GatewayId": {
            "type": "string"
          },
          "InstanceId": {
            "type": "string"
          },
          "NetworkInterfaceId": {
            "type": "string"
          },
          "VpcPeeringConnectionId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "CreateRouteTable": {
      "input": {
        "type": "structure",
        "required": [
          "VpcId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VpcId": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RouteTable": {
            "type": "structure",
            "locationName": "routeTable",
            "members": {
              "RouteTableId": {
                "type": "string",
                "locationName": "routeTableId"
              },
              "VpcId": {
                "type": "string",
                "locationName": "vpcId"
              },
              "Routes": {
                "type": "list",
                "locationName": "routeSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "DestinationCidrBlock": {
                      "type": "string",
                      "locationName": "destinationCidrBlock"
                    },
                    "GatewayId": {
                      "type": "string",
                      "locationName": "gatewayId"
                    },
                    "InstanceId": {
                      "type": "string",
                      "locationName": "instanceId"
                    },
                    "InstanceOwnerId": {
                      "type": "string",
                      "locationName": "instanceOwnerId"
                    },
                    "NetworkInterfaceId": {
                      "type": "string",
                      "locationName": "networkInterfaceId"
                    },
                    "VpcPeeringConnectionId": {
                      "type": "string",
                      "locationName": "vpcPeeringConnectionId"
                    },
                    "State": {
                      "type": "string",
                      "locationName": "state"
                    },
                    "Origin": {
                      "type": "string",
                      "locationName": "origin"
                    }
                  }
                }
              },
              "Associations": {
                "type": "list",
                "locationName": "associationSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "RouteTableAssociationId": {
                      "type": "string",
                      "locationName": "routeTableAssociationId"
                    },
                    "RouteTableId": {
                      "type": "string",
                      "locationName": "routeTableId"
                    },
                    "SubnetId": {
                      "type": "string",
                      "locationName": "subnetId"
                    },
                    "Main": {
                      "type": "boolean",
                      "locationName": "main"
                    }
                  }
                }
              },
              "Tags": {
                "type": "list",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "locationName": "value"
                    }
                  }
                }
              },
              "PropagatingVgws": {
                "type": "list",
                "locationName": "propagatingVgwSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "GatewayId": {
                      "type": "string",
                      "locationName": "gatewayId"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "CreateSecurityGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "Description"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "GroupName": {
            "type": "string"
          },
          "Description": {
            "type": "string",
            "locationName": "GroupDescription"
          },
          "VpcId": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupId": {
            "type": "string",
            "locationName": "groupId"
          }
        }
      }
    },
    "CreateSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "VolumeId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VolumeId": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "locationName": "snapshot",
        "members": {
          "SnapshotId": {
            "type": "string",
            "locationName": "snapshotId"
          },
          "VolumeId": {
            "type": "string",
            "locationName": "volumeId"
          },
          "State": {
            "type": "string",
            "locationName": "status"
          },
          "StartTime": {
            "type": "timestamp",
            "locationName": "startTime"
          },
          "Progress": {
            "type": "string",
            "locationName": "progress"
          },
          "OwnerId": {
            "type": "string",
            "locationName": "ownerId"
          },
          "Description": {
            "type": "string",
            "locationName": "description"
          },
          "VolumeSize": {
            "type": "integer",
            "locationName": "volumeSize"
          },
          "OwnerAlias": {
            "type": "string",
            "locationName": "ownerAlias"
          },
          "Encrypted": {
            "type": "boolean",
            "locationName": "encrypted"
          }
        }
      }
    },
    "CreateSpotDatafeedSubscription": {
      "input": {
        "type": "structure",
        "required": [
          "Bucket"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "Bucket": {
            "type": "string"
          },
          "Prefix": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SpotDatafeedSubscription": {
            "type": "structure",
            "locationName": "spotDatafeedSubscription",
            "members": {
              "OwnerId": {
                "type": "string",
                "locationName": "ownerId"
              },
              "Bucket": {
                "type": "string",
                "locationName": "bucket"
              },
              "Prefix": {
                "type": "string",
                "locationName": "prefix"
              },
              "State": {
                "type": "string",
                "locationName": "state"
              },
              "Fault": {
                "type": "structure",
                "locationName": "fault",
                "members": {
                  "Code": {
                    "type": "string",
                    "locationName": "code"
                  },
                  "Message": {
                    "type": "string",
                    "locationName": "message"
                  }
                }
              }
            }
          }
        }
      }
    },
    "CreateSubnet": {
      "input": {
        "type": "structure",
        "required": [
          "VpcId",
          "CidrBlock"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VpcId": {
            "type": "string"
          },
          "CidrBlock": {
            "type": "string"
          },
          "AvailabilityZone": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Subnet": {
            "type": "structure",
            "locationName": "subnet",
            "members": {
              "SubnetId": {
                "type": "string",
                "locationName": "subnetId"
              },
              "State": {
                "type": "string",
                "locationName": "state"
              },
              "VpcId": {
                "type": "string",
                "locationName": "vpcId"
              },
              "CidrBlock": {
                "type": "string",
                "locationName": "cidrBlock"
              },
              "AvailableIpAddressCount": {
                "type": "integer",
                "locationName": "availableIpAddressCount"
              },
              "AvailabilityZone": {
                "type": "string",
                "locationName": "availabilityZone"
              },
              "DefaultForAz": {
                "type": "boolean",
                "locationName": "defaultForAz"
              },
              "MapPublicIpOnLaunch": {
                "type": "boolean",
                "locationName": "mapPublicIpOnLaunch"
              },
              "Tags": {
                "type": "list",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "locationName": "value"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "CreateTags": {
      "input": {
        "type": "structure",
        "required": [
          "Resources",
          "Tags"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "Resources": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "string",
              "locationName": "ResourceId"
            }
          },
          "Tags": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "structure",
              "locationName": "Tag",
              "members": {
                "Key": {
                  "type": "string"
                },
                "Value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "output": null
    },
    "CreateVolume": {
      "input": {
        "type": "structure",
        "required": [
          "AvailabilityZone"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "Size": {
            "type": "integer"
          },
          "SnapshotId": {
            "type": "string"
          },
          "AvailabilityZone": {
            "type": "string"
          },
          "VolumeType": {
            "type": "string"
          },
          "Iops": {
            "type": "integer"
          },
          "Encrypted": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "locationName": "volume",
        "members": {
          "VolumeId": {
            "type": "string",
            "locationName": "volumeId"
          },
          "Size": {
            "type": "integer",
            "locationName": "size"
          },
          "SnapshotId": {
            "type": "string",
            "locationName": "snapshotId"
          },
          "AvailabilityZone": {
            "type": "string",
            "locationName": "availabilityZone"
          },
          "State": {
            "type": "string",
            "locationName": "status"
          },
          "CreateTime": {
            "type": "timestamp",
            "locationName": "createTime"
          },
          "Attachments": {
            "type": "list",
            "locationName": "attachmentSet",
            "member": {
              "type": "structure",
              "locationName": "item",
              "members": {
                "VolumeId": {
                  "type": "string",
                  "locationName": "volumeId"
                },
                "InstanceId": {
                  "type": "string",
                  "locationName": "instanceId"
                },
                "Device": {
                  "type": "string",
                  "locationName": "device"
                },
                "State": {
                  "type": "string",
                  "locationName": "status"
                },
                "AttachTime": {
                  "type": "timestamp",
                  "locationName": "attachTime"
                },
                "DeleteOnTermination": {
                  "type": "boolean",
                  "locationName": "deleteOnTermination"
                }
              }
            }
          },
          "Tags": {
            "type": "list",
            "locationName": "tagSet",
            "member": {
              "type": "structure",
              "locationName": "item",
              "members": {
                "Key": {
                  "type": "string",
                  "locationName": "key"
                },
                "Value": {
                  "type": "string",
                  "locationName": "value"
                }
              }
            }
          },
          "VolumeType": {
            "type": "string",
            "locationName": "volumeType"
          },
          "Iops": {
            "type": "integer",
            "locationName": "iops"
          },
          "Encrypted": {
            "type": "boolean",
            "locationName": "encrypted"
          }
        }
      }
    },
    "CreateVpc": {
      "input": {
        "type": "structure",
        "required": [
          "CidrBlock"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "CidrBlock": {
            "type": "string"
          },
          "InstanceTenancy": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Vpc": {
            "type": "structure",
            "locationName": "vpc",
            "members": {
              "VpcId": {
                "type": "string",
                "locationName": "vpcId"
              },
              "State": {
                "type": "string",
                "locationName": "state"
              },
              "CidrBlock": {
                "type": "string",
                "locationName": "cidrBlock"
              },
              "DhcpOptionsId": {
                "type": "string",
                "locationName": "dhcpOptionsId"
              },
              "Tags": {
                "type": "list",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "locationName": "value"
                    }
                  }
                }
              },
              "InstanceTenancy": {
                "type": "string",
                "locationName": "instanceTenancy"
              },
              "IsDefault": {
                "type": "boolean",
                "locationName": "isDefault"
              }
            }
          }
        }
      }
    },
    "CreateVpcPeeringConnection": {
      "input": {
        "type": "structure",
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VpcId": {
            "type": "string"
          },
          "PeerVpcId": {
            "type": "string"
          },
          "PeerOwnerId": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VpcPeeringConnection": {
            "type": "structure",
            "locationName": "vpcPeeringConnection",
            "members": {
              "AccepterVpcInfo": {
                "type": "structure",
                "locationName": "accepterVpcInfo",
                "members": {
                  "CidrBlock": {
                    "type": "string",
                    "locationName": "cidrBlock"
                  },
                  "OwnerId": {
                    "type": "string",
                    "locationName": "ownerId"
                  },
                  "VpcId": {
                    "type": "string",
                    "locationName": "vpcId"
                  }
                }
              },
              "ExpirationTime": {
                "type": "timestamp",
                "locationName": "expirationTime"
              },
              "RequesterVpcInfo": {
                "type": "structure",
                "locationName": "requesterVpcInfo",
                "members": {
                  "CidrBlock": {
                    "type": "string",
                    "locationName": "cidrBlock"
                  },
                  "OwnerId": {
                    "type": "string",
                    "locationName": "ownerId"
                  },
                  "VpcId": {
                    "type": "string",
                    "locationName": "vpcId"
                  }
                }
              },
              "Status": {
                "type": "structure",
                "locationName": "status",
                "members": {
                  "Code": {
                    "type": "string",
                    "locationName": "code"
                  },
                  "Message": {
                    "type": "string",
                    "locationName": "message"
                  }
                }
              },
              "Tags": {
                "type": "list",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "locationName": "value"
                    }
                  }
                }
              },
              "VpcPeeringConnectionId": {
                "type": "string",
                "locationName": "vpcPeeringConnectionId"
              }
            }
          }
        }
      }
    },
    "CreateVpnConnection": {
      "input": {
        "type": "structure",
        "required": [
          "Type",
          "CustomerGatewayId",
          "VpnGatewayId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "Type": {
            "type": "string"
          },
          "CustomerGatewayId": {
            "type": "string"
          },
          "VpnGatewayId": {
            "type": "string"
          },
          "Options": {
            "type": "structure",
            "members": {
              "StaticRoutesOnly": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VpnConnection": {
            "type": "structure",
            "locationName": "vpnConnection",
            "members": {
              "VpnConnectionId": {
                "type": "string",
                "locationName": "vpnConnectionId"
              },
              "State": {
                "type": "string",
                "locationName": "state"
              },
              "CustomerGatewayConfiguration": {
                "type": "string",
                "locationName": "customerGatewayConfiguration"
              },
              "Type": {
                "type": "string",
                "locationName": "type"
              },
              "CustomerGatewayId": {
                "type": "string",
                "locationName": "customerGatewayId"
              },
              "VpnGatewayId": {
                "type": "string",
                "locationName": "vpnGatewayId"
              },
              "Tags": {
                "type": "list",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "locationName": "value"
                    }
                  }
                }
              },
              "VgwTelemetry": {
                "type": "list",
                "locationName": "vgwTelemetry",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "OutsideIpAddress": {
                      "type": "string",
                      "locationName": "outsideIpAddress"
                    },
                    "Status": {
                      "type": "string",
                      "locationName": "status"
                    },
                    "LastStatusChange": {
                      "type": "timestamp",
                      "locationName": "lastStatusChange"
                    },
                    "StatusMessage": {
                      "type": "string",
                      "locationName": "statusMessage"
                    },
                    "AcceptedRouteCount": {
                      "type": "integer",
                      "locationName": "acceptedRouteCount"
                    }
                  }
                }
              },
              "Options": {
                "type": "structure",
                "locationName": "options",
                "members": {
                  "StaticRoutesOnly": {
                    "type": "boolean",
                    "locationName": "staticRoutesOnly"
                  }
                }
              },
              "Routes": {
                "type": "list",
                "locationName": "routes",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "DestinationCidrBlock": {
                      "type": "string",
                      "locationName": "destinationCidrBlock"
                    },
                    "Source": {
                      "type": "string",
                      "locationName": "source"
                    },
                    "State": {
                      "type": "string",
                      "locationName": "state"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "CreateVpnConnectionRoute": {
      "input": {
        "type": "structure",
        "required": [
          "VpnConnectionId",
          "DestinationCidrBlock"
        ],
        "members": {
          "VpnConnectionId": {
            "type": "string"
          },
          "DestinationCidrBlock": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "CreateVpnGateway": {
      "input": {
        "type": "structure",
        "required": [
          "Type"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "Type": {
            "type": "string"
          },
          "AvailabilityZone": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VpnGateway": {
            "type": "structure",
            "locationName": "vpnGateway",
            "members": {
              "VpnGatewayId": {
                "type": "string",
                "locationName": "vpnGatewayId"
              },
              "State": {
                "type": "string",
                "locationName": "state"
              },
              "Type": {
                "type": "string",
                "locationName": "type"
              },
              "AvailabilityZone": {
                "type": "string",
                "locationName": "availabilityZone"
              },
              "VpcAttachments": {
                "type": "list",
                "locationName": "attachments",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "VpcId": {
                      "type": "string",
                      "locationName": "vpcId"
                    },
                    "State": {
                      "type": "string",
                      "locationName": "state"
                    }
                  }
                }
              },
              "Tags": {
                "type": "list",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "locationName": "value"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "DeleteCustomerGateway": {
      "input": {
        "type": "structure",
        "required": [
          "CustomerGatewayId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "CustomerGatewayId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteDhcpOptions": {
      "input": {
        "type": "structure",
        "required": [
          "DhcpOptionsId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "DhcpOptionsId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteInternetGateway": {
      "input": {
        "type": "structure",
        "required": [
          "InternetGatewayId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "InternetGatewayId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteKeyPair": {
      "input": {
        "type": "structure",
        "required": [
          "KeyName"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "KeyName": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteNetworkAcl": {
      "input": {
        "type": "structure",
        "required": [
          "NetworkAclId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "NetworkAclId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteNetworkAclEntry": {
      "input": {
        "type": "structure",
        "required": [
          "NetworkAclId",
          "RuleNumber",
          "Egress"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "NetworkAclId": {
            "type": "string"
          },
          "RuleNumber": {
            "type": "integer"
          },
          "Egress": {
            "type": "boolean"
          }
        }
      },
      "output": null
    },
    "DeleteNetworkInterface": {
      "input": {
        "type": "structure",
        "required": [
          "NetworkInterfaceId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "NetworkInterfaceId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeletePlacementGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "GroupName": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteRoute": {
      "input": {
        "type": "structure",
        "required": [
          "RouteTableId",
          "DestinationCidrBlock"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "RouteTableId": {
            "type": "string"
          },
          "DestinationCidrBlock": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteRouteTable": {
      "input": {
        "type": "structure",
        "required": [
          "RouteTableId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "RouteTableId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteSecurityGroup": {
      "input": {
        "type": "structure",
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "GroupName": {
            "type": "string"
          },
          "GroupId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "SnapshotId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "SnapshotId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteSpotDatafeedSubscription": {
      "input": {
        "type": "structure",
        "members": {
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": null
    },
    "DeleteSubnet": {
      "input": {
        "type": "structure",
        "required": [
          "SubnetId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "SubnetId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "Resources"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "Resources": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "string",
              "locationName": "ResourceId"
            }
          },
          "Tags": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "structure",
              "locationName": "Tag",
              "members": {
                "Key": {
                  "type": "string"
                },
                "Value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "output": null
    },
    "DeleteVolume": {
      "input": {
        "type": "structure",
        "required": [
          "VolumeId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VolumeId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteVpc": {
      "input": {
        "type": "structure",
        "required": [
          "VpcId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VpcId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteVpcPeeringConnection": {
      "input": {
        "type": "structure",
        "required": [
          "VpcPeeringConnectionId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VpcPeeringConnectionId": {
            "type": "string"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Return": {
            "type": "boolean",
            "locationName": "return"
          }
        }
      }
    },
    "DeleteVpnConnection": {
      "input": {
        "type": "structure",
        "required": [
          "VpnConnectionId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VpnConnectionId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteVpnConnectionRoute": {
      "input": {
        "type": "structure",
        "required": [
          "VpnConnectionId",
          "DestinationCidrBlock"
        ],
        "members": {
          "VpnConnectionId": {
            "type": "string"
          },
          "DestinationCidrBlock": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeleteVpnGateway": {
      "input": {
        "type": "structure",
        "required": [
          "VpnGatewayId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "VpnGatewayId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DeregisterImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "ImageId": {
            "type": "string"
          }
        }
      },
      "output": null
    },
    "DescribeAccountAttributes": {
      "input": {
        "type": "structure",
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "AttributeNames": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "string",
              "locationName": "AttributeName"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountAttributes": {
            "type": "list",
            "locationName": "accountAttributeSet",
            "member": {
              "type": "structure",
              "locationName": "item",
              "members": {
                "AttributeName": {
                  "type": "string",
                  "locationName": "attributeName"
                },
                "AttributeValues": {
                  "type": "list",
                  "locationName": "attributeValueSet",
                  "member": {
                    "type": "structure",
                    "locationName": "item",
                    "members": {
                      "AttributeValue": {
                        "type": "string",
                        "locationName": "attributeValue"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeAddresses": {
      "input": {
        "type": "structure",
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "PublicIps": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "string",
              "locationName": "PublicIp"
            }
          },
          "Filters": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "structure",
              "locationName": "Filter",
              "members": {
                "Name": {
                  "type": "string"
                },
                "Values": {
                  "type": "list",
                  "flattened": true,
                  "member": {
                    "type": "string",
                    "locationName": "Value"
                  }
                }
              }
            }
          },
          "AllocationIds": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "string",
              "locationName": "AllocationId"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Addresses": {
            "type": "list",
            "locationName": "addressesSet",
            "member": {
              "type": "structure",
              "locationName": "item",
              "members": {
                "InstanceId": {
                  "type": "string",
                  "locationName": "instanceId"
                },
                "PublicIp": {
                  "type": "string",
                  "locationName": "publicIp"
                },
                "AllocationId": {
                  "type": "string",
                  "locationName": "allocationId"
                },
                "AssociationId": {
                  "type": "string",
                  "locationName": "associationId"
                },
                "Domain": {
                  "type": "string",
                  "locationName": "domain"
                },
                "NetworkInterfaceId": {
                  "type": "string",
                  "locationName": "networkInterfaceId"
                },
                "NetworkInterfaceOwnerId": {
                  "type": "string",
                  "locationName": "networkInterfaceOwnerId"
                },
                "PrivateIpAddress": {
                  "type": "string",
                  "locationName": "privateIpAddress"
                }
              }
            }
          }
        }
      }
    },
    "DescribeAvailabilityZones": {
      "input": {
        "type": "structure",
        "members": {
          "DryRun": {
            "type": "boolean"
          },
          "ZoneNames": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "string",
              "locationName": "ZoneName"
            }
          },
          "Filters": {
            "type": "list",
            "flattened": true,
            "member": {
              "type": "structure",
              "locationName": "Filter",
              "members": {
                "Name": {
                  "type": "string"
                },
                "Values": {
                  "type": "list",
                  "flattened": true,
                  "member": {
                    "type": "string",
                    "locationName": "Value"
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AvailabilityZones": {
            "type": "list",
[...]
