{
  "documentation": "\n\t\t<fullname>Amazon Elastic Compute Cloud</fullname>\n        <p>Amazon Elastic Compute Cloud (Amazon EC2) provides resizable computing\n        capacity in the Amazon Web Services (AWS) cloud. Using Amazon EC2 eliminates\n        your need to invest in hardware up front, so you can develop and deploy\n        applications faster.</p>\n    ",
  "metadata": {
    "apiVersion": "2014-06-15",
    "protocol": "query",
    "resultWrapped": false,
    "signatureVersion": "v2",
    "serviceFullName": "Amazon Elastic Compute Cloud",
    "serviceAbbreviation": "Amazon EC2",
    "endpointPrefix": "ec2",
    "xmlNamespace": "http://ec2.amazonaws.com/doc/2014-06-15"
  },
  "operations": {
    "AcceptVpcPeeringConnection": {
      "name": "AcceptVpcPeeringConnection",
      "input": {
        "type": "structure",
        "documentation": "\n  ",
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n  "
          },
          "VpcPeeringConnectionId": {
            "type": "string",
            "documentation": "\n    <p>The ID of the VPC peering connection.</p>\n  "
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "\n  ",
        "members": {
          "VpcPeeringConnection": {
            "type": "structure",
            "documentation": "\n    <p>Information about the VPC peering connection.</p>\n  ",
            "locationName": "vpcPeeringConnection",
            "members": {
              "AccepterVpcInfo": {
                "type": "structure",
                "documentation": "\n    <p>The information of the peer VPC.</p>\n  ",
                "locationName": "accepterVpcInfo",
                "members": {
                  "CidrBlock": {
                    "type": "string",
                    "documentation": "\n    <p>The CIDR block for the VPC.</p>\n  ",
                    "locationName": "cidrBlock"
                  },
                  "OwnerId": {
                    "type": "string",
                    "documentation": "\n    <p>The AWS account ID of the VPC owner.</p>\n  ",
                    "locationName": "ownerId"
                  },
                  "VpcId": {
                    "type": "string",
                    "documentation": "\n    <p>The ID of the VPC.</p>\n  ",
                    "locationName": "vpcId"
                  }
                }
              },
              "ExpirationTime": {
                "type": "timestamp",
                "documentation": "\n    <p>The time that an unaccepted VPC peering connection will expire.</p>\n  ",
                "locationName": "expirationTime"
              },
              "RequesterVpcInfo": {
                "type": "structure",
                "documentation": "\n    <p>The information of the requester VPC.</p>\n  ",
                "locationName": "requesterVpcInfo",
                "members": {
                  "CidrBlock": {
                    "type": "string",
                    "documentation": "\n    <p>The CIDR block for the VPC.</p>\n  ",
                    "locationName": "cidrBlock"
                  },
                  "OwnerId": {
                    "type": "string",
                    "documentation": "\n    <p>The AWS account ID of the VPC owner.</p>\n  ",
                    "locationName": "ownerId"
                  },
                  "VpcId": {
                    "type": "string",
                    "documentation": "\n    <p>The ID of the VPC.</p>\n  ",
                    "locationName": "vpcId"
                  }
                }
              },
              "Status": {
                "type": "structure",
                "documentation": "\n    <p>The status of the VPC peering connection.</p>\n  ",
                "locationName": "status",
                "members": {
                  "Code": {
                    "type": "string",
                    "documentation": "\n    <p>The status of the VPC peering connection.</p>\n  ",
                    "locationName": "code"
                  },
                  "Message": {
                    "type": "string",
                    "documentation": "\n    <p>A message that provides more information about the status, if applicable.</p>\n  ",
                    "locationName": "message"
                  }
                }
              },
              "Tags": {
                "type": "list",
                "documentation": "\n    <p>Any tags assigned to the resource.</p>\n  ",
                "locationName": "tagSet",
                "member": {
                  "type": "structure",
                  "documentation": "\n    <p>Describes a tag.</p>\n   ",
                  "locationName": "item",
                  "members": {
                    "Key": {
                      "type": "string",
                      "documentation": "\n    <p>The key of the tag. </p>\n    <p>Constraints: Tag keys are case-sensitive and accept a maximum of 127 Unicode\n     characters. May not begin with <code>aws:</code></p>\n   ",
                      "locationName": "key"
                    },
                    "Value": {
                      "type": "string",
                      "documentation": "\n    <p>The value of the tag.</p>\n    <p>Constraints: Tag values are case-sensitive and accept a maximum of 255 Unicode\n     characters.</p>\n   ",
                      "locationName": "value"
                    }
                  }
                }
              },
              "VpcPeeringConnectionId": {
                "type": "string",
                "documentation": "\n    <p>The ID of the VPC peering connection.</p>\n  ",
                "locationName": "vpcPeeringConnectionId"
              }
            }
          }
        }
      },
      "errors": [

      ],
      "documentation": "\n    <p>Accept a VPC peering connection request. To accept a request, the VPC peering connection\n      must be in the <code>pending-acceptance</code> state, and you must be the owner of\n      the peer VPC. Use the <code>DescribeVpcPeeringConnections</code> request to\n      view your outstanding VPC peering connection requests.</p>\n    <examples>\n      <example>\n        <name>Example</name>\n        <description>This example accepts the specified VPC peering connection\n          request.</description>\n        <queryrequest> https://ec2.amazonaws.com/?Action=AcceptVpcPeeringConnection\n&amp;vpcPeeringConnectionId=pcx-1a2b3c4d\n&amp;AUTHPARAMS</queryrequest>\n        <queryresponse>&lt;AcceptVpcPeeringConnectionResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-06-15/\"&gt;\n   &lt;requestId&gt;7a62c49f-347e-4fc4-9331-6e8eEXAMPLE&lt;/requestId&gt;\n   &lt;vpcPeeringConnection&gt;\n   &lt;vpcPeeringConnectionId&gt;pcx-1a2b3c4d&lt;/vpcPeeringConnectionId&gt;\n   &lt;requesterVpcInfo&gt;\n     &lt;ownerId&gt;123456789012&lt;/ownerId&gt;\n     &lt;vpcId&gt;vpc-1a2b3c4d&lt;/vpcId&gt;\n     &lt;cidrBlock&gt;10.0.0.0/28&lt;/cidrBlock&gt;\n   &lt;/requesterVpcInfo&gt;\n   &lt;accepterVpcInfo&gt;\n     &lt;ownerId&gt;777788889999&lt;/ownerId&gt;\n     &lt;vpcId&gt;vpc-111aaa22&lt;/vpcId&gt;\n     &lt;cidrBlock&gt;10.0.1.0/28&lt;/cidrBlock&gt;\n   &lt;/accepterVpcInfo&gt;\n   &lt;status&gt;\n     &lt;code&gt;active&lt;/code&gt;\n     &lt;message&gt;Active&lt;/message&gt;\n    &lt;/status&gt;\n   &lt;tagSet/&gt;\n  &lt;/vpcPeeringConnection&gt;\n &lt;/AcceptVpcPeeringConnectionResponse&gt;\"</queryresponse>\n      </example>\n    </examples>\n  "
    },
    "AllocateAddress": {
      "name": "AllocateAddress",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "Domain": {
            "type": "string",
            "enum": [
              "vpc",
              "standard"
            ],
            "documentation": "\n     <p>Set to <code>vpc</code> to allocate the address for use with instances in a VPC.</p>\n     <p>Default: The address is for use with instances in EC2-Classic.</p>\n   "
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "\n   ",
        "members": {
          "PublicIp": {
            "type": "string",
            "documentation": "\n     <p>The Elastic IP address.</p>\n   ",
            "locationName": "publicIp"
          },
          "Domain": {
            "type": "string",
            "enum": [
              "vpc",
              "standard"
            ],
            "documentation": "\n     <p>Indicates whether this Elastic IP address is for use with instances\n\t\t\t\tin EC2-Classic (<code>standard</code>) or instances in a VPC (<code>vpc</code>).</p>\n   ",
            "locationName": "domain"
          },
          "AllocationId": {
            "type": "string",
            "documentation": "\n     <p>[EC2-VPC] The ID that AWS assigns to represent the allocation of\n\t\t\t\tthe Elastic IP address for use with instances in a VPC.</p>\n   ",
            "locationName": "allocationId"
          }
        }
      },
      "errors": [

      ],
      "documentation": "\n     <p>Acquires an Elastic IP address.</p>\n     <p>An Elastic IP address is for use either in the EC2-Classic platform or in a VPC.\n\t\t\t\tFor more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html\">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example for EC2-Classic</name>\n       <description>This example request allocates an Elastic IP address for use with instances in EC2-Classic.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AllocateAddress\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AllocateAddressResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-10-01/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;publicIp&gt;192.0.2.1&lt;/publicIp&gt;\n   &lt;domain&gt;standard&lt;/domain&gt;\n&lt;/AllocateAddressResponse&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example for EC2-VPC</name>\n       <description>This example request allocates an Elastic IP address for use with instances in a VPC.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AllocateAddress\nDomain=vpc\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AllocateAddressResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-10-01/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;publicIp&gt;198.51.100.1&lt;/publicIp&gt;\n   &lt;domain&gt;vpc&lt;/domain&gt;\n   &lt;allocationId&gt;eipalloc-5723d13e&lt;/allocationId&gt;\n&lt;/AllocateAddressResponse&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "AssignPrivateIpAddresses": {
      "name": "AssignPrivateIpAddresses",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "NetworkInterfaceId"
        ],
        "members": {
          "NetworkInterfaceId": {
            "type": "string",
            "documentation": "\n     <p>The ID of the network interface.</p>\n   "
          },
          "PrivateIpAddresses": {
            "type": "list",
            "documentation": "\n     <p>One or more IP addresses to be assigned as a secondary private IP address to\n\t\t\t\tthe network interface.</p>\n\t\t <p>If you don't specify an IP address, Amazon EC2 automatically\n\t\t\t\tselects an IP address within the subnet range.</p>\n   ",
            "flattened": true,
            "member": {
              "type": "string",
              "documentation": null,
              "locationName": "PrivateIpAddress"
            }
          },
          "SecondaryPrivateIpAddressCount": {
            "type": "integer",
            "documentation": "\n     <p>The number of secondary IP addresses to assign to the network interface.</p>\n   "
          },
          "AllowReassignment": {
            "type": "boolean",
            "documentation": "\n     <p>Indicates whether to allow an IP address that is already assigned\n\t\t\t\tto another network interface or instance to be reassigned to the\n\t\t\t\tspecified network interface.</p>\n   "
          }
        }
      },
      "output": null,
      "errors": [

      ],
      "documentation": "\n     <p>Assigns one or more secondary private IP addresses to the specified network interface. You\n\t\t\t\tcan specify one or more specific secondary IP addresses, or\n\t\t\t\tyou can specify the number of secondary IP addresses to be automatically assigned\n\t\t\t\twithin the subnet's CIDR block range. The number of secondary IP addresses that you\n\t\t\t\tcan assign to an instance varies by instance type. For information about\n\t\t\t\tinstance types, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html\">Instance Types</a> \n\t\t\t\tin the <i>Amazon Elastic Compute Cloud User Guide</i>. For more information about Elastic IP\n\t\t\t\taddresses, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html\">Elastic IP\n\t\t\t\tAddresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <p>AssignPrivateIpAddresses is available only in EC2-VPC.</p>\n     <examples>\n      <example>\n       <name>Example 1</name>\n       <description>This example assigns two secondary private IP addresses (<code>10.0.2.1</code> and\n\t\t\t\t\t<code>10.0.2.11</code>) to the specified network interface.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssignPrivateIpAddresses\n&amp;NetworkInterfaceId=eni-d83388b1\n&amp;PrivateIpAddress.0=10.0.2.1\n&amp;PrivateIpAddress.1=10.0.2.11\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AssignPrivateIpAddresses xmlns=\"http://ec2.amazonaws.com/doc/2014-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;return&gt;true&lt;/return&gt;\n&lt;/AssignPrivateIpAddresses&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example 2</name>\n       <description>This example assigns two secondary private IP addresses to the specified network\n\t\t\t\t\tinterface. Amazon EC2 automatically assigns these IP addresses from the available IP\n\t\t\t\t\taddresses within the subnet's CIDR block range.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssignPrivateIpAddresses\n&amp;NetworkInterfaceId=eni-d83388b1\n&amp;SecondaryPrivateIpAddressCount=2\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AssignPrivateIpAddresses xmlns=\"http://ec2.amazonaws.com/doc/2014-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;return&gt;true&lt;/return&gt;\n&lt;/AssignPrivateIpAddresses&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "AssociateAddress": {
      "name": "AssociateAddress",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "InstanceId": {
            "type": "string",
            "documentation": "\n     <p>The ID of the instance. The operation fails if\n\t\t\t\tyou specify an instance ID unless exactly one network interface is\n\t\t\t\tattached.</p>\n   "
          },
          "PublicIp": {
            "type": "string",
            "documentation": "\n     <p>The Elastic IP address.</p>\n   "
          },
          "AllocationId": {
            "type": "string",
            "documentation": "\n     <p>[EC2-VPC] The allocation ID. This is required for EC2-VPC.</p>\n   "
          },
          "NetworkInterfaceId": {
            "type": "string",
            "documentation": "\n     <p>[EC2-VPC] The ID of the network interface. If the instance has more than one \n        network interface, you must specify a network interface ID.</p>\n   "
          },
          "PrivateIpAddress": {
            "type": "string",
            "documentation": "\n     <p>[EC2-VPC] The primary or secondary private IP address to associate\n\t\t\t\twith the Elastic IP address. If no private IP address is specified, the\n\t\t\t\tElastic IP address is associated with the primary private IP\n\t\t\t\taddress.</p>\n   "
          },
          "AllowReassociation": {
            "type": "boolean",
            "documentation": "\n     <p>[EC2-VPC] Allows an Elastic IP address that is already associated\n\t\t\t\twith an instance or network interface to be re-associated with the\n\t\t\t\tspecified instance or network interface. Otherwise, the operation\n\t\t\t\tfails.</p>\n     <p>Default: <code>false</code></p>\n   "
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "\n   ",
        "members": {
          "AssociationId": {
            "type": "string",
            "documentation": "\n     <p>[EC2-VPC] The ID that represents the association of the Elastic IP\n\t\t\t\taddress with an instance.</p>\n   ",
            "locationName": "associationId"
          }
        }
      },
      "errors": [

      ],
      "documentation": "\n     <p>Associates an Elastic IP address with an instance or a network interface.</p>\n     <p>An Elastic IP address is for use in either the EC2-Classic platform or in a VPC.\n\t\t\t\tFor more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html\">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <p>[EC2-Classic, default VPC] If the Elastic IP address is already associated with a different\n\t\t\t\tinstance, it is disassociated from that instance and associated with the specified\n\t\t\t\tinstance.</p>\n     <p>[EC2-VPC] If you don't specify a private IP address, the Elastic IP address is\n\t\t\t\tassociated with the primary IP address. If the Elastic IP address is already\n\t\t\t\tassociated with a different instance or a network interface, you get an error unless\n\t\t\t\tyou allow reassociation.</p>\n     <p>This is an idempotent operation. If you perform the operation more than once, Amazon EC2\n\t\t\t\tdoesn't return an error.</p>\n     <examples>\n      <example>\n       <name>Example for EC2-Classic</name>\n       <description>This example request associates an Elastic IP address with an instance in\n\t\t\t\t\tEC2-Classic.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssociateAddress\n&amp;InstanceId=i-2ea64347\n&amp;PublicIp=192.0.2.1\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AssociateAddressResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-10-01/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;return&gt;true&lt;/return&gt;\n&lt;/AssociateAddressResponse&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example for EC2-VPC</name>\n       <description>This example request associates a Elastic IP address with an instance in a VPC.\n\t\t\t\t\tThe <code>AllowReassignment</code> parameter allows the Elastic IP address to be associated with \n\t\t\t\t\tthe specified instance even if it's already associated with a different instance or a network interface.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssociateAddress\n&amp;InstanceId=i-4fd2431a\n&amp;AllocationId=eipalloc-5723d13e\n&amp;AllowReassignment=true\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AssociateAddressResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-10-01/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt;\n   &lt;associationId&gt;eipassoc-fc5ca095&lt;/associationId&gt;\n&lt;/AssociateAddressResponse&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "AssociateDhcpOptions": {
      "name": "AssociateDhcpOptions",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "DhcpOptionsId",
          "VpcId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "DhcpOptionsId": {
            "type": "string",
            "documentation": "\n     <p>The ID of the DHCP options set, or <code>default</code> to associate \n        no DHCP options with the VPC.</p>\n   "
          },
          "VpcId": {
            "type": "string",
            "documentation": "\n     <p>The ID of the VPC.</p>\n   "
          }
        }
      },
      "output": null,
      "errors": [

      ],
      "documentation": "\n\t\t <p>Associates a set of DHCP options (that you've previously created) with the\n\t\t\t  specified VPC, or associates no DHCP options with the VPC.</p>\n\t\t <p>After you associate the options with the VPC, any existing instances and all new\n \t\t\t  instances that you launch in that VPC use the options. You don't need to restart or\n\t \t\t  relaunch the instances. They automatically pick up the changes within a few hours,\n\t\t \t  depending on how frequently the instance renews its DHCP lease. You can\n\t\t\t  explicitly renew the lease using the operating system on the instance.</p>\n\t\t <p>For more information,\n\t\t\t  see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_DHCP_Options.html\">DHCP Options Sets</a> \n\t\t\t  in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example 1</name>\n       <description>This example associates the DHCP options with the ID <code>dopt-7a8b9c2d</code> with the VPC\n\t\t\t\t\twith the ID <code>vpc-1a2b3c4d</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssociateDhcpOptions \n&amp;DhcpOptionsId=dopt-7a8b9c2d\n&amp;VpcId=vpc-1a2b3c4d\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AssociateDhcpOptionsResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-06-15/\"&gt;\n   &lt;requestId&gt;7a62c49f-347e-4fc4-9331-6e8eEXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt; \n&lt;/AssociateDhcpOptionsResponse&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example 2</name>\n       <description>This example changes the VPC with the ID <code>vpc-1a2b3c4d</code> to have no \n\t\t\t\t\tassociated DHCP options set.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssociateDhcpOptions \n&amp;DhcpOptionsId=default\n&amp;VpcId=vpc-1a2b3c4d\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AssociateDhcpOptionsResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-06-15/\"&gt;\n   &lt;requestId&gt;7a62c49f-347e-4fc4-9331-6e8eEXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt; \n&lt;/AssociateDhcpOptionsResponse&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "AssociateRouteTable": {
      "name": "AssociateRouteTable",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "SubnetId",
          "RouteTableId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "SubnetId": {
            "type": "string",
            "documentation": "\n\t\t <p>The ID of the subnet.</p>\n   "
          },
          "RouteTableId": {
            "type": "string",
            "documentation": "\n\t\t <p>The ID of the route table.</p>\n   "
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "\n   ",
        "members": {
          "AssociationId": {
            "type": "string",
            "documentation": "\n\t\t <p>The route table association ID (needed to disassociate the route table).</p>\n   ",
            "locationName": "associationId"
          }
        }
      },
      "errors": [

      ],
      "documentation": "\n     <p>Associates a subnet with a route table. The subnet and route table must be in the same VPC.\n\t\t\t\tThis association causes traffic originating from the subnet to be routed according\n\t\t\t\tto the routes in the route table. The action returns an association ID, which you\n\t\t\t\tneed in order to disassociate the route table from the subnet later. A route table\n\t\t\t\tcan be associated with multiple subnets.</p>\n\t\t <p>For more information about route tables, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Route_Tables.html\">Route Tables</a> in the\n\t\t\t\t<i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example associates a route table with the ID <code>rtb-e4ad488d</code> with a subnet with\n\t\t\t\t\tthe ID <code>subnet-15ad487c</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AssociateRouteTable\n&amp;RouteTableId=rtb-e4ad488d\n&amp;SubnetId=subnet-15ad487c</queryrequest>\n       <queryresponse>&lt;AssociateRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;associationId&gt;rtbassoc-f8ad4891&lt;/associationId&gt;\n&lt;/AssociateRouteTableResponse&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "AttachInternetGateway": {
      "name": "AttachInternetGateway",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "InternetGatewayId",
          "VpcId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "InternetGatewayId": {
            "type": "string",
            "documentation": "\n\t\t <p>The ID of the Internet gateway.</p>\n   "
          },
          "VpcId": {
            "type": "string",
            "documentation": "\n\t\t <p>The ID of the VPC.</p>\n   "
          }
        }
      },
      "output": null,
      "errors": [

      ],
      "documentation": "\n\t\t <p>Attaches an Internet gateway to a VPC, enabling connectivity between the Internet\n\t\t\t\tand the VPC. For more information about your VPC and Internet gateway, see the\n\t\t\t\t<a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/\">Amazon Virtual Private Cloud User Guide</a>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example attaches the Internet gateway with the ID <code>igw-eaad4883</code> to the VPC with\n\t\t\t\t\tthe ID <code>vpc-11ad4878</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AttachInternetGateway\n&amp;InternetGatewayId=igw-eaad4883\n&amp;VpcId=vpc-11ad4878\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AttachInternetGatewayResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-06-15/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt; \n   &lt;return&gt;true&lt;/return&gt;\n&lt;/AttachInternetGatewayResponse&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "AttachNetworkInterface": {
      "name": "AttachNetworkInterface",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "NetworkInterfaceId",
          "InstanceId",
          "DeviceIndex"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "NetworkInterfaceId": {
            "type": "string",
            "documentation": "\n\t\t <p>The ID of the network interface.</p>\n   "
          },
          "InstanceId": {
            "type": "string",
            "documentation": "\n\t\t <p>The ID of the instance.</p>\n   "
          },
          "DeviceIndex": {
            "type": "integer",
            "documentation": "\n\t\t <p>The index of the device for the network interface attachment.</p>\n   "
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "\n   ",
        "members": {
          "AttachmentId": {
            "type": "string",
            "documentation": "\n\t\t <p>The ID of the network interface attachment.</p>\n   ",
            "locationName": "attachmentId"
          }
        }
      },
      "errors": [

      ],
      "documentation": "\n\t\t <p>Attaches a network interface to an instance.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example attaches the specified network interface \n\t\t\t\t\tto the specified instance.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AttachNetworkInterface\n&amp;DeviceIndex=1\n&amp;InstanceId=i-9cc316fe\n&amp;NetworkInterfaceId=eni-ffda3197\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AttachNetworkInterfaceResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-06-15/\"&gt;\n    &lt;requestId&gt;ace8cd1e-e685-4e44-90fb-92014d907212&lt;/requestId&gt;\n    &lt;attachmentId&gt;eni-attach-d94b09b0&lt;/attachmentId&gt;\n&lt;/AttachNetworkInterfaceResponse&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "AttachVolume": {
      "name": "AttachVolume",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "VolumeId",
          "InstanceId",
          "Device"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "VolumeId": {
            "type": "string",
            "documentation": "\n  <p>The ID of the Amazon EBS volume. The volume and instance must be within the same Availability\n   Zone.</p>\n "
          },
          "InstanceId": {
            "type": "string",
            "documentation": "\n  <p>The ID of the instance.</p>\n "
          },
          "Device": {
            "type": "string",
            "documentation": "\n  <p>The device name to expose to the instance (for example, <code>/dev/sdh</code> or\n    <code>xvdh</code>).</p>\n "
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "\n   ",
        "locationName": "attachment",
        "members": {
          "VolumeId": {
            "type": "string",
            "documentation": "\n  <p>The ID of the volume.</p>\n ",
            "locationName": "volumeId"
          },
          "InstanceId": {
            "type": "string",
            "documentation": "\n  <p>The ID of the instance.</p>\n ",
            "locationName": "instanceId"
          },
          "Device": {
            "type": "string",
            "documentation": "\n  <p>The device name.</p>\n ",
            "locationName": "device"
          },
          "State": {
            "type": "string",
            "enum": [
              "attaching",
              "attached",
              "detaching",
              "detached"
            ],
            "documentation": "\n  <p>The attachment state of the volume.</p>\n ",
            "locationName": "status"
          },
          "AttachTime": {
            "type": "timestamp",
            "documentation": "\n  <p>The time stamp when the attachment initiated.</p>\n ",
            "locationName": "attachTime"
          },
          "DeleteOnTermination": {
            "type": "boolean",
            "documentation": "\n     <p>Indicates whether the Amazon EBS volume is deleted on instance termination.</p>\n   ",
            "locationName": "deleteOnTermination"
          }
        }
      },
      "errors": [

      ],
      "documentation": "\n    <p>Attaches an Amazon EBS volume to a running or stopped instance and exposes it to the instance\n     with the specified device name.</p>\n     <p>Encrypted Amazon EBS volumes may only be attached to\n       instances that support Amazon EBS encryption. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html\">Amazon EBS Encryption</a> in the\n       <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <p>For a list of supported device names, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-attaching-volume.html\">Attaching an Amazon EBS Volume to an Instance</a>. Any device names that aren't reserved\n      for instance store volumes can be used for Amazon EBS volumes. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/InstanceStorage.html\">Amazon EC2 Instance Store</a> in the\n        <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n    <p>If a volume has an AWS Marketplace product code:</p>\n    <ul>\n     <li>The volume can only be attached as the root device of a stopped instance.</li>\n     <li>You must be subscribed to the AWS Marketplace code that is on the volume.</li>\n     <li>The configuration (instance type, operating system) of the instance must support that\n      specific AWS Marketplace code. For example, you cannot take a volume from a Windows instance\n      and attach it to a Linux instance.</li>\n     <li>AWS Marketplace product codes are copied from the volume to the instance.</li>\n    </ul>\n     <p>For an overview of the AWS Marketplace, see <a href=\"https://aws.amazon.com/marketplace/help/200900000\">https://aws.amazon.com/marketplace/help/200900000</a>. For more information about how to use the AWS\n      Marketplace, see <a href=\"https://aws.amazon.com/marketplace\">AWS Marketplace</a>.</p>\n     <p>For more information about Amazon EBS volumes, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-attaching-volume.html\">Attaching Amazon EBS Volumes</a> in the\n       <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n  <examples>\n   <example>\n    <name>Example 1</name>\n    <description>This example request attaches the volume with the ID <code>vol-1a2b3c4d</code> to\n     the instance with the ID <code>i-1a2b3c4d</code> and exposes it as\n     <code>/dev/sdh</code>.</description>\n    <queryrequest>https://ec2.amazonaws.com/?Action=AttachVolume\n&amp;VolumeId=vol-1a2b3c4d\n&amp;InstanceId=i-1a2b3c4d\n&amp;Device=/dev/sdh\n&amp;AUTHPARAMS</queryrequest>\n    <queryresponse>&lt;AttachVolumeResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-05-01/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;volumeId&gt;vol-1a2b3c4d&lt;/volumeId&gt;\n  &lt;instanceId&gt;i-1a2b3c4d&lt;/instanceId&gt;\n  &lt;device&gt;/dev/sdh&lt;/device&gt;\n  &lt;status&gt;attaching&lt;/status&gt;\n  &lt;attachTime&gt;YYYY-MM-DDTHH:MM:SS.000Z&lt;/attachTime&gt;\n&lt;/AttachVolumeResponse&gt;</queryresponse>\n   </example>\n  </examples>\n  \n   "
    },
    "AttachVpnGateway": {
      "name": "AttachVpnGateway",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "VpnGatewayId",
          "VpcId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "VpnGatewayId": {
            "type": "string",
            "documentation": "\n\t\t <p>The ID of the virtual private gateway.</p>\n   "
          },
          "VpcId": {
            "type": "string",
            "documentation": "\n\t\t <p>The ID of the VPC.</p>\n   "
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "\n   ",
        "members": {
          "VpcAttachment": {
            "type": "structure",
            "documentation": "\n\t\t <p>Information about the attachment.</p>\n   ",
            "locationName": "attachment",
            "members": {
              "VpcId": {
                "type": "string",
                "documentation": "\n\t\t <p>The ID of the VPC.</p>\n   ",
                "locationName": "vpcId"
              },
              "State": {
                "type": "string",
                "enum": [
                  "attaching",
                  "attached",
                  "detaching",
                  "detached"
                ],
                "documentation": "\n\t\t <p>The current state of the attachment.</p>\n   ",
                "locationName": "state"
              }
            }
          }
        }
      },
      "errors": [

      ],
      "documentation": "\n\t\t <p>Attaches a virtual private gateway to a VPC. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_VPN.html\">Adding a Hardware Virtual Private Gateway\n\t\t\t\t\tto Your VPC</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example attaches the virtual private gateway with the ID <code>vgw-8db04f81</code> to the VPC with the ID\n\t\t\t\t\t<code>vpc-1a2b3c4d</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AttachVpnGateway\n&amp;VpnGatewayId=vgw-8db04f81\n&amp;VpcId=vpc-1a2b3c4d\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AttachVpnGatewayResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-06-15/\"&gt;\n   &lt;requestId&gt;7a62c49f-347e-4fc4-9331-6e8eEXAMPLE&lt;/requestId&gt;\n   &lt;attachment&gt;\n      &lt;vpcId&gt;vpc-1a2b3c4d&lt;/vpcId&gt;\n      &lt;state&gt;attaching&lt;/state&gt;\n   &lt;/attachment&gt;\n&lt;/AttachVpnGatewayResponse&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "AuthorizeSecurityGroupEgress": {
      "name": "AuthorizeSecurityGroupEgress",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "GroupId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "GroupId": {
            "type": "string",
            "documentation": "\n     <p>The ID of the security group.</p>\n   "
          },
          "SourceSecurityGroupName": {
            "type": "string",
            "documentation": "\n     <p>[EC2-Classic, default VPC] The name of the source security group. You can't specify a source security group and a CIDR IP address range.</p>\n   "
          },
          "SourceSecurityGroupOwnerId": {
            "type": "string",
            "documentation": "\n     <p>The ID of the source security group. You can't specify a source security group and a CIDR IP address range.</p>\n   "
          },
          "IpProtocol": {
            "type": "string",
            "documentation": "\n     <p>The IP protocol name (<code>tcp</code>, <code>udp</code>, <code>icmp</code>) or number \n        (see <a href=\"http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>). \n        Use <code>-1</code> to specify all.</p>\n   "
          },
          "FromPort": {
            "type": "integer",
            "documentation": "\n     <p>The start of port range for the TCP and UDP protocols, or an ICMP type number. For the ICMP type number, \n        use <code>-1</code> to specify all ICMP types.</p>\n   "
          },
          "ToPort": {
            "type": "integer",
            "documentation": "\n     <p>The end of port range for the TCP and UDP protocols, or an ICMP code number. For the ICMP code number, \n        use <code>-1</code> to specify all ICMP codes for the ICMP type.</p>\n   "
          },
          "CidrIp": {
            "type": "string",
            "documentation": "\n     <p>The CIDR IP address range. You can't specify this parameter when specifying a source security group.</p>\n   "
          },
          "IpPermissions": {
            "type": "list",
            "documentation": "\n     <p></p>\n   ",
            "flattened": true,
            "member": {
              "type": "structure",
              "documentation": "\n\t\t <p>Describes a security group rule.</p>\n   ",
              "members": {
                "IpProtocol": {
                  "type": "string",
                  "documentation": "\n\t\t <p>The protocol.</p>\n\t\t <p>When you call <a>DescribeSecurityGroups</a>, the protocol value\n\t\t\t\treturned is the number. Exception: For TCP, UDP, and ICMP, the\n\t\t\t\tvalue returned is the name (for example, <code>tcp</code>,\n\t\t\t\t<code>udp</code>, or <code>icmp</code>). For a list of\n\t\t\t\tprotocol numbers, see <a href=\"http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>\n   "
                },
                "FromPort": {
                  "type": "integer",
                  "documentation": "\n\t\t <p>The start of port range for the TCP and UDP protocols, or an ICMP type number. A\n\t\t\t\tvalue of <code>-1</code> indicates all ICMP types.</p>\n   "
                },
                "ToPort": {
                  "type": "integer",
                  "documentation": "\n\t\t <p>The end of port range for the TCP and UDP protocols, or an ICMP code. A value of <code>-1</code>\n\t\t\t\tindicates all ICMP codes for the specified ICMP type.</p>\n   "
                },
                "UserIdGroupPairs": {
                  "type": "list",
                  "documentation": "\n\t\t <p>One or more security group and AWS account ID pairs.</p>\n   ",
                  "flattened": true,
                  "member": {
                    "type": "structure",
                    "documentation": "\n     <p>Describes a security group and AWS account ID pair for EC2-Classic.</p>\n   ",
                    "locationName": "Groups",
                    "members": {
                      "UserId": {
                        "type": "string",
                        "documentation": "\n     <p>The ID of an AWS account.</p>\n   "
                      },
                      "GroupName": {
                        "type": "string",
                        "documentation": "\n     <p>The ID of the security group owned by the specified AWS account.</p>\n   "
                      },
                      "GroupId": {
                        "type": "string",
                        "documentation": "\n     <p>The name of the security group in the specified AWS account.</p>\n   "
                      }
                    }
                  }
                },
                "IpRanges": {
                  "type": "list",
                  "documentation": "\n\t\t <p>One or more IP ranges.</p>\n   ",
                  "flattened": true,
                  "member": {
                    "type": "structure",
                    "documentation": "\n\t\t <p>Describes an IP range.</p>\n   ",
                    "members": {
                      "CidrIp": {
                        "type": "string",
                        "documentation": "\n\t\t <p>The CIDR range. You can either specify a CIDR range or a source security group, not both.</p>\n   "
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "output": null,
      "errors": [

      ],
      "documentation": "\n     <p>Adds one or more egress rules to a security group for use with a VPC.\n\t\t\t\tSpecifically, this action permits instances to send traffic to one or more\n\t\t\t\tCIDR IP address ranges, or to one or more security groups\tfor the same VPC.</p>\n\t\t\t<important>\n\t\t\t\t<p>You can have up to 50 rules per security group (covering both ingress and\n\t\t\t\t\tegress rules).</p>\n\t\t\t</important>\n     <p>A security group is for use with instances either in the EC2-Classic platform or in a specific VPC.\n\t\t\t\tThis action doesn't apply to security groups for use in EC2-Classic. \n\t\t\t\tFor more information, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html\">Security Groups for Your VPC</a> in\n\t\t\t\tthe <i>Amazon Virtual Private Cloud User Guide</i>.</p>\n     <p>Each rule consists of the protocol (for example, TCP), plus either a CIDR range or\n\t\t\t\ta source group. For the TCP and UDP protocols, you must also specify the destination\n\t\t\t\tport or port range. For the ICMP protocol, you must also specify the ICMP type and\n\t\t\t\tcode. You can use -1 for the type or code to mean all types or all codes.</p>\n     <p>Rule changes are propagated to affected instances as quickly as possible. However,\n\t\t\t\ta small delay might occur.</p>\n     <examples>\n      <example>\n       <name>Example 1</name>\n       <description>This example request grants your security group with the ID <code>sg-1a2b3c4d</code> access to the\n\t\t\t\t\t<code>192.0.2.0/24</code> and <code>198.51.100.0/24</code> address ranges on TCP port 80.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AuthorizeSecurityGroupEgress\n&amp;GroupId=sg-1a2b3c4d\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=80\n&amp;IpPermissions.1.ToPort=80\n&amp;IpPermissions.1.IpRanges.1.CidrIp=192.0.2.0/24\n&amp;IpPermissions.1.IpRanges.2.CidrIp=198.51.100.0/24\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AuthorizeSecurityGroupEgressResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-10-01/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt;\n&lt;/AuthorizeSecurityGroupEgressResponse&gt;</queryresponse>\n      </example>\n      <example>\n       <name>Example 2</name>\n       <description>This example request grants egress access from the security group with the ID <code>sg-1a2b3c4d</code> \n\t\t\t\t\tto the security group with the ID <code>sg-9a8d7f5c</code> on TCP port 1433.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AuthorizeSecurityGroupEgress\n&amp;GroupId=sg-1a2b3c4d\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=1433\n&amp;IpPermissions.1.ToPort=1433\n&amp;IpPermissions.1.Groups.1.GroupId=sg-9a8d7f5c\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;AuthorizeSecurityGroupEgressResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-10-01/\"&gt;\n   &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n   &lt;return&gt;true&lt;/return&gt;\n&lt;/AuthorizeSecurityGroupEgressResponse&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "AuthorizeSecurityGroupIngress": {
      "name": "AuthorizeSecurityGroupIngress",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "GroupName": {
            "type": "string",
            "documentation": "\n     <p>[EC2-Classic, default VPC] The name of the security group.</p>\n   "
          },
          "GroupId": {
            "type": "string",
            "documentation": "\n     <p>The ID of the security group.</p>\n   "
          },
          "SourceSecurityGroupName": {
            "type": "string",
            "documentation": "\n     <p>[EC2-Classic, default VPC] The name of the source security group. You can't specify a source security group and a CIDR IP address range.</p>\n   "
          },
          "SourceSecurityGroupOwnerId": {
            "type": "string",
            "documentation": "\n     <p>The ID of the source security group. You can't specify a source security group and a CIDR IP address range.</p>\n   "
          },
          "IpProtocol": {
            "type": "string",
            "documentation": "\n     <p>The IP protocol name (<code>tcp</code>, <code>udp</code>, <code>icmp</code>) or number \n        (see <a href=\"http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>). \n        Use <code>-1</code> to specify all.</p>\n   "
          },
          "FromPort": {
            "type": "integer",
            "documentation": "\n     <p>The start of port range for the TCP and UDP protocols, or an ICMP type number. For the ICMP type number, \n        use <code>-1</code> to specify all ICMP types.</p>\n   "
          },
          "ToPort": {
            "type": "integer",
            "documentation": "\n     <p>The end of port range for the TCP and UDP protocols, or an ICMP code number. For the ICMP code number, \n        use <code>-1</code> to specify all ICMP codes for the ICMP type.</p>\n   "
          },
          "CidrIp": {
            "type": "string",
            "documentation": "\n     <p>The CIDR IP address range. You can't specify this parameter when specifying a source security group.</p>\n   "
          },
          "IpPermissions": {
            "type": "list",
            "documentation": "\n     <p></p>\n   ",
            "flattened": true,
            "member": {
              "type": "structure",
              "documentation": "\n\t\t <p>Describes a security group rule.</p>\n   ",
              "members": {
                "IpProtocol": {
                  "type": "string",
                  "documentation": "\n\t\t <p>The protocol.</p>\n\t\t <p>When you call <a>DescribeSecurityGroups</a>, the protocol value\n\t\t\t\treturned is the number. Exception: For TCP, UDP, and ICMP, the\n\t\t\t\tvalue returned is the name (for example, <code>tcp</code>,\n\t\t\t\t<code>udp</code>, or <code>icmp</code>). For a list of\n\t\t\t\tprotocol numbers, see <a href=\"http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>\n   "
                },
                "FromPort": {
                  "type": "integer",
                  "documentation": "\n\t\t <p>The start of port range for the TCP and UDP protocols, or an ICMP type number. A\n\t\t\t\tvalue of <code>-1</code> indicates all ICMP types.</p>\n   "
                },
                "ToPort": {
                  "type": "integer",
                  "documentation": "\n\t\t <p>The end of port range for the TCP and UDP protocols, or an ICMP code. A value of <code>-1</code>\n\t\t\t\tindicates all ICMP codes for the specified ICMP type.</p>\n   "
                },
                "UserIdGroupPairs": {
                  "type": "list",
                  "documentation": "\n\t\t <p>One or more security group and AWS account ID pairs.</p>\n   ",
                  "flattened": true,
                  "member": {
                    "type": "structure",
                    "documentation": "\n     <p>Describes a security group and AWS account ID pair for EC2-Classic.</p>\n   ",
                    "locationName": "Groups",
                    "members": {
                      "UserId": {
                        "type": "string",
                        "documentation": "\n     <p>The ID of an AWS account.</p>\n   "
                      },
                      "GroupName": {
                        "type": "string",
                        "documentation": "\n     <p>The ID of the security group owned by the specified AWS account.</p>\n   "
                      },
                      "GroupId": {
                        "type": "string",
                        "documentation": "\n     <p>The name of the security group in the specified AWS account.</p>\n   "
                      }
                    }
                  }
                },
                "IpRanges": {
                  "type": "list",
                  "documentation": "\n\t\t <p>One or more IP ranges.</p>\n   ",
                  "flattened": true,
                  "member": {
                    "type": "structure",
                    "documentation": "\n\t\t <p>Describes an IP range.</p>\n   ",
                    "members": {
                      "CidrIp": {
                        "type": "string",
                        "documentation": "\n\t\t <p>The CIDR range. You can either specify a CIDR range or a source security group, not both.</p>\n   "
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "output": null,
      "errors": [

      ],
      "documentation": "\n     <p>Adds one or more ingress rules to a security group.</p>\n\t\t\t<important>\n\t\t\t\t<p>EC2-Classic: You can have up to 100 rules per group.</p>\n\t\t\t\t<p>EC2-VPC: You can have up to 50 rules per group (covering both ingress and\n\t\t\t\t\tegress rules).</p>\n\t\t\t</important>\n     <p>Rule changes are propagated to instances within the security group as quickly as\n\t\t\t\tpossible. However, a small delay might occur.</p>\n     <p>[EC2-Classic] This action gives one or more CIDR IP address ranges permission to\n\t\t\t\taccess a security group in your account, or gives one or more security groups\n\t\t\t\t(called the <i>source groups</i>) permission to access a security\n\t\t\t\tgroup for your account. A source group can be for your own AWS account, or another.</p>\n     <p>[EC2-VPC] This action gives one or more CIDR IP address ranges permission to\n\t\t\t\taccess a security group in your VPC, or gives one or more other security groups\n\t\t\t\t(called the <i>source groups</i>) permission to access a security\n\t\t\t\tgroup for your VPC. The security groups must all be for the same VPC.</p>\n     <examples>\n      <example>\n       <name>Example 1</name>\n       <description>This example request grants TCP port 80 access from the <code>192.0.2.0/24</code>\n\t\t\t\t\tand <code>198.51.100.0/24</code> address ranges to the security group for EC2-Classic \n\t\t\t\t\tnamed <code>websrv</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AuthorizeSecurityGroupIngress\n&amp;GroupName=websrv\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=80\n&amp;IpPermissions.1.ToPort=80\n&amp;IpPermissions.1.IpRanges.1.CidrIp=192.0.2.0/24\n&amp;IpPermissions.1.IpRanges.2.CidrIp=198.51.100.0/24\n&amp;AUTHPARAMS</queryrequest>\n      </example>\n      <example>\n       <name>Example 2</name>\n       <description>This example request grants TCP port 80\n\t\t\t\t\taccess from the source group for EC2-Classic named <code>OtherAccountGroup</code> (in AWS\n\t\t\t\t\taccount <code>123456789012</code>) to the security group for EC2-Classic named <code>websrv</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AuthorizeSecurityGroupIngress\n&amp;GroupName=websrv\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=80\n&amp;IpPermissions.1.ToPort=80\n&amp;IpPermissions.1.Groups.1.GroupName=OtherAccountGroup\n&amp;IpPermissions.1.Groups.1.UserId=123456789012\n&amp;AUTHPARAMS</queryrequest>\n      </example>\n      <example>\n       <name>Example 3</name>\n       <description>This example request grants TCP port\n\t\t\t\t\t80 access from the source group named <code>OtherGroupInMyVPC</code>\n\t\t\t\t\t(with the ID <code>sg-2a2b3c4d</code>) to the security group named <code>VpcWebServers</code> \n\t\t\t\t\t(with the ID <code>sg-1a2b3c4d</code>). In EC2-VPC, you must use the security group IDs in \n\t\t\t\t\ta request, not the security group names. In this example, your AWS account ID is <code>123456789012</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=AuthorizeSecurityGroupIngress\n&amp;GroupId=sg-1a2b3c4d\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=80\n&amp;IpPermissions.1.ToPort=80\n&amp;IpPermissions.1.Groups.1.GroupId=sg-2a2b3c4d\n&amp;IpPermissions.1.Groups.1.UserId=123456789012\n&amp;AUTHPARAMS</queryrequest>\n      </example>\n      <example>\n       <name>Example 4</name>\n       <description>This example request grants your local\n\t\t\t\t\tsystem the ability to use SSH (port 22) to connect to any instance in the security group\n\t\t\t\t\tnamed <code>default</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/\n?Action=AuthorizeSecurityGroupIngress\n&amp;GroupName=default\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=22\n&amp;IpPermissions.1.ToPort=22\n&amp;IpPermissions.1.IpRanges.1.CidrIp=<i>your-local-system's-public-ip-address</i>/32\n&amp;AUTHPARAMS</queryrequest>\n      </example>\n      <example>\n       <name>Example 5</name>\n       <description>This example request grants your local system\n\t\t\t\t\tthe ability to use Remote Desktop (port 3389) to connect to any instance in the security group\n\t\t\t\t\tnamed <code>default</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/\n?Action=AuthorizeSecurityGroupIngress\n&amp;GroupName=default\n&amp;IpPermissions.1.IpProtocol=tcp\n&amp;IpPermissions.1.FromPort=3389\n&amp;IpPermissions.1.ToPort=3389\n&amp;IpPermissions.1.IpRanges.1.CidrIp=<i>your-local-system's-public-ip-address</i>/32</queryrequest>\n      </example>\n     </examples>\n   "
    },
    "BundleInstance": {
      "name": "BundleInstance",
      "input": {
        "type": "structure",
        "documentation": "   \n   ",
        "required": [
          "InstanceId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "   \n   "
          },
          "InstanceId": {
            "type": "string",
            "documentation": "   \n     <p>The ID of the instance to bundle.</p>\n   "
          },
          "Storage": {
            "type": "structure",
            "documentation": "   \n     <p>The bucket in which to store the AMI. You can specify a bucket that\n\t\t\t\tyou already own or a new bucket that Amazon EC2 creates on your behalf.\n\t\t\t\tIf you specify a bucket that belongs to someone else, Amazon EC2 returns\n\t\t\t\tan error.</p>\n   ",
            "members": {
              "S3": {
                "type": "structure",
                "documentation": "\n     <p>An Amazon S3 storage location.</p>\n   ",
                "members": {
                  "Bucket": {
                    "type": "string",
                    "documentation": "\n     <p>The bucket in which to store the AMI. You can specify a bucket that you already own or a new bucket that Amazon EC2 creates on your behalf. If you specify a bucket that belongs to someone else, Amazon EC2 returns an error.</p>\n   "
                  },
                  "Prefix": {
                    "type": "string",
                    "documentation": "\n     <p>The beginning of the file name of the AMI.</p>\n   "
                  },
                  "AWSAccessKeyId": {
                    "type": "string",
                    "documentation": "\n     <p>The access key ID of the owner of the bucket. Before you specify a value for your access key ID, review and follow the guidance  \n       in <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-access-keys-best-practices.html\">Best Practices for Managing AWS Access Keys</a>.</p>\n   "
                  },
                  "UploadPolicy": {
                    "type": "blob",
                    "documentation": "\n     <p>A Base64-encoded Amazon S3 upload policy that gives Amazon EC2 permission to upload items into Amazon S3 on your behalf.</p>\n   "
                  },
                  "UploadPolicySignature": {
                    "type": "string",
                    "documentation": "\n     <p>The signature of the Base64 encoded JSON document.</p>\n   "
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "   \n   ",
        "members": {
          "BundleTask": {
            "type": "structure",
            "documentation": "   \n     <p>Information about the bundle task.</p>\n   ",
            "locationName": "bundleInstanceTask",
            "members": {
              "InstanceId": {
                "type": "string",
                "documentation": "   \n     <p>The ID of the instance associated with this bundle task.</p>\n   ",
                "locationName": "instanceId"
              },
              "BundleId": {
                "type": "string",
                "documentation": "   \n     <p>The ID for this bundle task.</p>\n   ",
                "locationName": "bundleId"
              },
              "State": {
                "type": "string",
                "enum": [
                  "pending",
                  "waiting-for-shutdown",
                  "bundling",
                  "storing",
                  "cancelling",
                  "complete",
                  "failed"
                ],
                "documentation": "   \n     <p>The state of the task.</p>\n   ",
                "locationName": "state"
              },
              "StartTime": {
                "type": "timestamp",
                "documentation": "   \n     <p>The time this task started.</p>\n   ",
                "locationName": "startTime"
              },
              "UpdateTime": {
                "type": "timestamp",
                "documentation": "   \n     <p>The time of the most recent update for the task.</p>\n   ",
                "locationName": "updateTime"
              },
              "Storage": {
                "type": "structure",
                "documentation": "   \n     <p>The Amazon S3 storage locations.</p>\n   ",
                "locationName": "storage",
                "members": {
                  "S3": {
                    "type": "structure",
                    "documentation": "\n     <p>An Amazon S3 storage location.</p>\n   ",
                    "members": {
                      "Bucket": {
                        "type": "string",
                        "documentation": "\n     <p>The bucket in which to store the AMI. You can specify a bucket that you already own or a new bucket that Amazon EC2 creates on your behalf. If you specify a bucket that belongs to someone else, Amazon EC2 returns an error.</p>\n   ",
                        "locationName": "bucket"
                      },
                      "Prefix": {
                        "type": "string",
                        "documentation": "\n     <p>The beginning of the file name of the AMI.</p>\n   ",
                        "locationName": "prefix"
                      },
                      "AWSAccessKeyId": {
                        "type": "string",
                        "documentation": "\n     <p>The access key ID of the owner of the bucket. Before you specify a value for your access key ID, review and follow the guidance  \n       in <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-access-keys-best-practices.html\">Best Practices for Managing AWS Access Keys</a>.</p>\n   "
                      },
                      "UploadPolicy": {
                        "type": "string",
                        "documentation": "\n     <p>A Base64-encoded Amazon S3 upload policy that gives Amazon EC2 permission to upload items into Amazon S3 on your behalf.</p>\n   ",
                        "locationName": "uploadPolicy"
                      },
                      "UploadPolicySignature": {
                        "type": "string",
                        "documentation": "\n     <p>The signature of the Base64 encoded JSON document.</p>\n   ",
                        "locationName": "uploadPolicySignature"
                      }
                    }
                  }
                }
              },
              "Progress": {
                "type": "string",
                "documentation": "   \n     <p>The level of task completion, as a percent (for example, 20%).</p>\n   ",
                "locationName": "progress"
              },
              "BundleTaskError": {
                "type": "structure",
                "documentation": "   \n     <p>If the task fails, a description of the error.</p>\n   ",
                "locationName": "error",
                "members": {
                  "Code": {
                    "type": "string",
                    "documentation": "   \n     <p>The error code.</p>\n   ",
                    "locationName": "code"
                  },
                  "Message": {
                    "type": "string",
                    "documentation": "   \n     <p>The error message.</p>\n   ",
                    "locationName": "message"
                  }
                }
              }
            }
          }
        }
      },
      "errors": [

      ],
      "documentation": "   \n     <p>Bundles an Amazon instance store-backed Windows instance.</p>\n     <p>During bundling, only the root device volume (C:\\) is bundled. Data on other\n\t\t\t\tinstance store volumes is not preserved.</p>\n     <note>\n       <p>This procedure is not applicable for Linux/Unix instances or Windows instances\n          that are backed by Amazon EBS.</p>\n\t\t\t</note>\n     <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/Creating_InstanceStoreBacked_WinAMI.html\">Creating an Instance Store-Backed Windows AMI</a>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>\n         <p>This example request bundles the specified instance.</p>\n         <p>Before you specify a value for your access key ID, review and follow the guidance  \n           in <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-access-keys-best-practices.html\">Best Practices for Managing AWS Access Keys</a>.</p>\n       </description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=BundleInstance\n&amp;InstanceId=i-e468cd8d\n&amp;Storage.S3.AWSAccessKeyId='AKIAIOSFODNN7EXAMPLE'\n&amp;Storage.S3.Bucket=myawsbucket \n&amp;Storage.S3.Prefix=winami\n&amp;Storage.S3.UploadPolicy=eyJleHBpcmF0aW9uIjogIjIwMDgtMDgtMzBUMDg6NDk6MD\nlaIiwiY29uZGl0aW9ucyI6IFt7ImJ1Y2tldCI6ICJteS1idWNrZXQifSxbInN0YXJ0cy13aXRoIiwgI\niRrZXkiLCAibXktbmV3LWltYWdlIl0seyJhY2wiOiAiZWMyLWJ1bmRsZS1yZWFkIn1dfEXAMPLE\n&amp;Storage.S3.UploadPolicySignature=fh5tyyyQD8W4COEthj3nlGNEXAMPLE \n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;BundleInstanceResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-02-01/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;bundleInstanceTask&gt;\n      &lt;instanceId&gt;i-12345678&lt;/instanceId&gt;\n      &lt;bundleId&gt;bun-c1a540a8&lt;/bundleId&gt;\n      &lt;state&gt;bundling&lt;/state&gt;\n      &lt;startTime&gt;2008-10-07T11:41:50.000Z&lt;/startTime&gt;\n      &lt;updateTime&gt;2008-10-07T11:51:50.000Z&lt;/updateTime&gt;\n      &lt;progress&gt;70%&lt;/progress&gt;\n      &lt;storage&gt;\n        &lt;S3&gt;\n          &lt;bucket&gt;myawsbucket&lt;/bucket&gt;\n          &lt;prefix&gt;winami&lt;/prefix&gt;\n        &lt;/S3&gt;\n      &lt;/storage&gt;\n  &lt;/bundleInstanceTask&gt;\n&lt;/BundleInstanceResponse&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "CancelBundleTask": {
      "name": "CancelBundleTask",
      "input": {
        "type": "structure",
        "documentation": "   \n   ",
        "required": [
          "BundleId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "   \n   "
          },
          "BundleId": {
            "type": "string",
            "documentation": "   \n     <p>The ID of the bundle task.</p>\n   "
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "   \n   ",
        "members": {
          "BundleTask": {
            "type": "structure",
            "documentation": "   \n     <p>The bundle task.</p>\n   ",
            "locationName": "bundleInstanceTask",
            "members": {
              "InstanceId": {
                "type": "string",
                "documentation": "   \n     <p>The ID of the instance associated with this bundle task.</p>\n   ",
                "locationName": "instanceId"
              },
              "BundleId": {
                "type": "string",
                "documentation": "   \n     <p>The ID for this bundle task.</p>\n   ",
                "locationName": "bundleId"
              },
              "State": {
                "type": "string",
                "enum": [
                  "pending",
                  "waiting-for-shutdown",
                  "bundling",
                  "storing",
                  "cancelling",
                  "complete",
                  "failed"
                ],
                "documentation": "   \n     <p>The state of the task.</p>\n   ",
                "locationName": "state"
              },
              "StartTime": {
                "type": "timestamp",
                "documentation": "   \n     <p>The time this task started.</p>\n   ",
                "locationName": "startTime"
              },
              "UpdateTime": {
                "type": "timestamp",
                "documentation": "   \n     <p>The time of the most recent update for the task.</p>\n   ",
                "locationName": "updateTime"
              },
              "Storage": {
                "type": "structure",
                "documentation": "   \n     <p>The Amazon S3 storage locations.</p>\n   ",
                "locationName": "storage",
                "members": {
                  "S3": {
                    "type": "structure",
                    "documentation": "\n     <p>An Amazon S3 storage location.</p>\n   ",
                    "members": {
                      "Bucket": {
                        "type": "string",
                        "documentation": "\n     <p>The bucket in which to store the AMI. You can specify a bucket that you already own or a new bucket that Amazon EC2 creates on your behalf. If you specify a bucket that belongs to someone else, Amazon EC2 returns an error.</p>\n   ",
                        "locationName": "bucket"
                      },
                      "Prefix": {
                        "type": "string",
                        "documentation": "\n     <p>The beginning of the file name of the AMI.</p>\n   ",
                        "locationName": "prefix"
                      },
                      "AWSAccessKeyId": {
                        "type": "string",
                        "documentation": "\n     <p>The access key ID of the owner of the bucket. Before you specify a value for your access key ID, review and follow the guidance  \n       in <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-access-keys-best-practices.html\">Best Practices for Managing AWS Access Keys</a>.</p>\n   "
                      },
                      "UploadPolicy": {
                        "type": "string",
                        "documentation": "\n     <p>A Base64-encoded Amazon S3 upload policy that gives Amazon EC2 permission to upload items into Amazon S3 on your behalf.</p>\n   ",
                        "locationName": "uploadPolicy"
                      },
                      "UploadPolicySignature": {
                        "type": "string",
                        "documentation": "\n     <p>The signature of the Base64 encoded JSON document.</p>\n   ",
                        "locationName": "uploadPolicySignature"
                      }
                    }
                  }
                }
              },
              "Progress": {
                "type": "string",
                "documentation": "   \n     <p>The level of task completion, as a percent (for example, 20%).</p>\n   ",
                "locationName": "progress"
              },
              "BundleTaskError": {
                "type": "structure",
                "documentation": "   \n     <p>If the task fails, a description of the error.</p>\n   ",
                "locationName": "error",
                "members": {
                  "Code": {
                    "type": "string",
                    "documentation": "   \n     <p>The error code.</p>\n   ",
                    "locationName": "code"
                  },
                  "Message": {
                    "type": "string",
                    "documentation": "   \n     <p>The error message.</p>\n   ",
                    "locationName": "message"
                  }
                }
              }
            }
          }
        }
      },
      "errors": [

      ],
      "documentation": "   \n     <p>Cancels a bundling operation for an instance store-backed Windows instance.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example request cancels the specified bundle task.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CancelBundleTask\n&amp;BundleId=bun-cla322b9\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CancelBundleTaskResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-02-01/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;bundleInstanceTask&gt;\n      &lt;instanceId&gt;i-12345678&lt;/instanceId&gt;\n      &lt;bundleId&gt;bun-cla322b9&lt;/bundleId&gt;\n      &lt;state&gt;canceling&lt;/state&gt;\n      &lt;startTime&gt;2008-10-07T11:41:50.000Z&lt;/startTime&gt;\n      &lt;updateTime&gt;2008-10-07T11:51:50.000Z&lt;/updateTime&gt;\n      &lt;progress&gt;20%&lt;/progress&gt;\n      &lt;storage&gt;\n        &lt;S3&gt;\n          &lt;bucket&gt;myawsbucket&lt;/bucket&gt;\n          &lt;prefix&gt;my-new-image&lt;/prefix&gt;\n        &lt;/S3&gt;\n      &lt;/storage&gt;\n  &lt;/bundleInstanceTask&gt;\n&lt;/CancelBundleTaskResponse&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "CancelConversionTask": {
      "name": "CancelConversionTask",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "ConversionTaskId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "ConversionTaskId": {
            "type": "string",
            "documentation": "\n    <p>The ID of the conversion task.</p>\n   "
          },
          "ReasonMessage": {
            "type": "string",
            "documentation": "\n   "
          }
        }
      },
      "output": null,
      "errors": [

      ],
      "documentation": "\n    <p>Cancels an active conversion task. The task can be the import of an instance or volume. The\n     action removes all artifacts of the conversion, including a partially uploaded volume or\n     instance. If the conversion is complete or is in the process of transferring the final disk\n     image, the command fails and returns an exception.</p>\n    \n    <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/UploadingYourInstancesandVolumes.html\">Using the Command Line Tools to Import Your Virtual Machine to Amazon\n     EC2</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n    <examples>\n     <example>\n      <name>Example</name>\n      <description>This example request cancels the conversion task with the ID <code>import-i-fh95npoc</code>.</description>        \n      <queryrequest>https://ec2.amazonaws.com/?Action=CancelConversionTask\n&amp;ConversionTaskId=import-i-fh95npoc\n&amp;AUTHPARAMS</queryrequest>\n      <queryresponse><CancelConversionTaskResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\">\n   <requestId>59dbff89-35bd-4eac-99ed-be587EXAMPLE</requestId>\n   <return>true</return>\n</CancelConversionTaskResponse></queryresponse>\n     </example>\n    </examples>\n   "
    },
    "CancelExportTask": {
      "name": "CancelExportTask",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "ExportTaskId"
        ],
        "members": {
          "ExportTaskId": {
            "type": "string",
            "documentation": "\n    <p>The ID of the export task. This is the ID\n     returned by <code>CreateInstanceExportTask</code>.</p>\n   "
          }
        }
      },
      "output": null,
      "errors": [

      ],
      "documentation": "\n    <p>Cancels an active export task. The request removes all artifacts of the export,\n     including any partially-created Amazon S3 objects. If the export task is complete or\n     is in the process of transferring the final disk image, the command fails and\n     returns an error.</p>\n    <examples>\n     <example>\n      <name>Example</name>\n      <description>This example request cancels the export task with the ID <code>export-i-1234wxyz</code>.</description>        \n      <queryrequest>https://ec2.amazonaws.com/?Action=CancelExportTask\n       &amp;exportTaskId=export-i-1234wxyz\n       &amp;AUTHPARAMS</queryrequest>\n      <queryresponse><CancelExportTask xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\">\n<requestId>59dbff89-35bd-4eac-99ed-be587EXAMPLE</requestId>\n<return>true</return>\n</CancelExportTask></queryresponse>\n     </example>\n    </examples>\n   "
    },
    "CancelReservedInstancesListing": {
      "name": "CancelReservedInstancesListing",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "ReservedInstancesListingId"
        ],
        "members": {
          "ReservedInstancesListingId": {
            "type": "string",
            "documentation": "\n     <p>The ID of the Reserved Instance listing.</p>\n   "
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "\n   ",
        "members": {
          "ReservedInstancesListings": {
            "type": "list",
            "documentation": "\n     <p>The Reserved Instance listing.</p>\n   ",
            "locationName": "reservedInstancesListingsSet",
            "member": {
              "type": "structure",
              "documentation": "\n     <p>Describes a Reserved Instance listing.</p>\n   ",
              "locationName": "item",
              "members": {
                "ReservedInstancesListingId": {
                  "type": "string",
                  "documentation": "\n     <p>The ID of the Reserved Instance listing.</p>\n   ",
                  "locationName": "reservedInstancesListingId"
                },
                "ReservedInstancesId": {
                  "type": "string",
                  "documentation": "\n     <p>The ID of the Reserved Instance.</p>\n   ",
                  "locationName": "reservedInstancesId"
                },
                "CreateDate": {
                  "type": "timestamp",
                  "documentation": "\n     <p>The time the listing was created.</p>\n   ",
                  "locationName": "createDate"
                },
                "UpdateDate": {
                  "type": "timestamp",
                  "documentation": "\n     <p>The last modified timestamp of the listing.</p>\n   ",
                  "locationName": "updateDate"
                },
                "Status": {
                  "type": "string",
                  "enum": [
                    "active",
                    "pending",
                    "cancelled",
                    "closed"
                  ],
                  "documentation": "\n     <p>The status of the Reserved Instance listing.</p>\n   ",
                  "locationName": "status"
                },
                "StatusMessage": {
                  "type": "string",
                  "documentation": "\n     <p>The reason for the current status of the Reserved Instance listing. \n\t\t\t\tThe response can be blank.</p>\n   ",
                  "locationName": "statusMessage"
                },
                "InstanceCounts": {
                  "type": "list",
                  "documentation": "\n     <p>The number of instances in this state.</p>\n   ",
                  "locationName": "instanceCounts",
                  "member": {
                    "type": "structure",
                    "documentation": "\n     <p>Describes a Reserved Instance listing state.</p>\n   ",
                    "locationName": "item",
                    "members": {
                      "State": {
                        "type": "string",
                        "enum": [
                          "available",
                          "sold",
                          "cancelled",
                          "pending"
                        ],
                        "documentation": "\n     <p>The states of the listed Reserved Instances.</p>\n   ",
                        "locationName": "state"
                      },
                      "InstanceCount": {
                        "type": "integer",
                        "documentation": "\n     <p>he number of listed Reserved Instances in the state specified by the <code>state</code>.</p>\n   ",
                        "locationName": "instanceCount"
                      }
                    }
                  }
                },
                "PriceSchedules": {
                  "type": "list",
                  "documentation": "\n     <p>The price of the Reserved Instance listing.</p>\n   ",
                  "locationName": "priceSchedules",
                  "member": {
                    "type": "structure",
                    "documentation": "\n     <p>Describes the price for a Reserved Instance.</p>\n   ",
                    "locationName": "item",
                    "members": {
                      "Term": {
                        "type": "long",
                        "documentation": "\n     <p>The number of months remaining in the reservation. For example, 2 is the second \n\t\t\t\tto the last month before the capacity reservation expires.</p>\n   ",
                        "locationName": "term"
                      },
                      "Price": {
                        "type": "double",
                        "documentation": "\n     <p>The fixed price for the term.</p>\n   ",
                        "locationName": "price"
                      },
                      "CurrencyCode": {
                        "type": "string",
                        "enum": [
                          "USD"
                        ],
                        "documentation": "\n     <p>The currency for transacting the Reserved Instance resale.\n\t\t\t\tAt this time, the only supported currency is <code>USD</code>.</p>\n   ",
                        "locationName": "currencyCode"
                      },
                      "Active": {
                        "type": "boolean",
                        "documentation": "\n     <p>The current price schedule, as determined by the term remaining for the \n\t\t\t\tReserved Instance in the listing.</p>\n     <p>A specific price schedule is always in effect, \n\t\t\t\tbut only one price schedule can be active at any time. Take, for example, a \n\t\t\t\tReserved Instance listing that has five months remaining in its term. When you \n\t\t\t\tspecify price schedules for five months and two months, this means that \n\t\t\t\tschedule 1, covering the first three months of the remaining term, will be active during months 5, 4, and 3. \n\t\t\t\tThen schedule 2, covering the last two months of the term, will be active for months 2 and 1.</p>\n   ",
                        "locationName": "active"
                      }
                    }
                  }
                },
                "Tags": {
                  "type": "list",
                  "documentation": "\n     <p>Any tags assigned to the resource.</p>\n   ",
                  "locationName": "tagSet",
                  "member": {
                    "type": "structure",
                    "documentation": "\n    <p>Describes a tag.</p>\n   ",
                    "locationName": "item",
                    "members": {
                      "Key": {
                        "type": "string",
                        "documentation": "\n    <p>The key of the tag. </p>\n    <p>Constraints: Tag keys are case-sensitive and accept a maximum of 127 Unicode\n     characters. May not begin with <code>aws:</code></p>\n   ",
                        "locationName": "key"
                      },
                      "Value": {
                        "type": "string",
                        "documentation": "\n    <p>The value of the tag.</p>\n    <p>Constraints: Tag values are case-sensitive and accept a maximum of 255 Unicode\n     characters.</p>\n   ",
                        "locationName": "value"
                      }
                    }
                  }
                },
                "ClientToken": {
                  "type": "string",
                  "documentation": "\n     <p>The idempotency token you provided when you created the listing.</p>\n   ",
                  "locationName": "clientToken"
                }
              }
            }
          }
        }
      },
      "errors": [

      ],
      "documentation": "\n     <p>Cancels the specified Reserved Instance listing in the Reserved Instance Marketplace.</p>\n     <p>For more information, see \n        <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ri-market-general.html\">Reserved Instance Marketplace</a> \n        in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example request cancels a Reserved Instance listing in the Reserved Instance Marketplace.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CancelReservedInstancesListing\n&amp;ReservedInstancesListingId=3ebe97b5-f273-43b6-a204-7a18cEXAMPLE\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse><CancelReservedInstancesListingResponse>\n    <requestId>bec2cf62-98ef-434a-8a15-886fcexample</requestId>\n    <reservedInstancesListingsSet>\n        <item>\n            <reservedInstancesListingId>3ebe97b5-f273-43b6-a204-7a18cEXAMPLE</reservedInstancesListingId>\n            <reservedInstancesId>e5a2ff3b-7d14-494f-90af-0b5d0EXAMPLE</reservedInstancesId>\n            <createDate>2012-07-12T16:55:28.000Z</createDate>\n            <updateDate>2012-07-12T16:55:28.000Z</updateDate>\n            <status>cancelled</status>\n            <statusMessage>CANCELLED</statusMessage>\n            <instanceCounts>\n                <item>\n                    <state>Available</state>\n                    <instanceCount>0</instanceCount>\n                </item>\n                <item>\n                    <state>Sold</state>\n                    <instanceCount>0</instanceCount>\n                </item>\n                <item>\n                    <state>Cancelled</state>\n                    <instanceCount>1</instanceCount>\n                </item>\n                <item>\n                    <state>Pending</state>\n                    <instanceCount>0</instanceCount>\n                </item>\n            </instanceCounts>\n            <priceSchedules>\n                <item>\n                    <term>5</term>\n                    <price>166.64</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>4</term>\n                    <price>133.32</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>3</term>\n                    <price>99.99</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>2</term>\n                    <price>66.66</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n                <item>\n                    <term>1</term>\n                    <price>33.33</price>\n                    <currencyCode>USD</currencyCode>\n                    <active>false</active>\n                </item>\n            </priceSchedules>\n            <tagSet/>\n            <clientToken>XqJIt1342112125076</clientToken>\n        </item>\n    </reservedInstancesListingsSet>\n</CancelReservedInstancesListingResponse></queryresponse>\n      </example>\n     </examples>\n   "
    },
    "CancelSpotInstanceRequests": {
      "name": "CancelSpotInstanceRequests",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "SpotInstanceRequestIds"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "SpotInstanceRequestIds": {
            "type": "list",
            "documentation": "\n     <p>One or more Spot Instance request IDs.</p>\n   ",
            "flattened": true,
            "member": {
              "type": "string",
              "documentation": null,
              "locationName": "SpotInstanceRequestId"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "\n   ",
        "members": {
          "CancelledSpotInstanceRequests": {
            "type": "list",
            "documentation": "\n     <p>One or more Spot Instance requests.</p>\n   ",
            "locationName": "spotInstanceRequestSet",
            "member": {
              "type": "structure",
              "documentation": "\n     <p>Describes a request to cancel a Spot Instance.</p>\n   ",
              "locationName": "item",
              "members": {
                "SpotInstanceRequestId": {
                  "type": "string",
                  "documentation": "\n     <p>The ID of the Spot Instance request.</p>\n   ",
                  "locationName": "spotInstanceRequestId"
                },
                "State": {
                  "type": "string",
                  "enum": [
                    "active",
                    "open",
                    "closed",
                    "cancelled",
                    "completed"
                  ],
                  "documentation": "\n     <p>The state of the Spot Instance request.</p>\n   ",
                  "locationName": "state"
                }
              }
            }
          }
        }
      },
      "errors": [

      ],
      "documentation": "\n     <p>Cancels one or more Spot Instance requests. Spot Instances are instances that\n\t\t\t\tAmazon EC2 starts on your behalf when the maximum price that you specify exceeds the\n\t\t\t\tcurrent Spot Price. Amazon EC2 periodically sets the Spot Price based on available\n\t\t\t\tSpot Instance capacity and current Spot Instance requests. For more information\n\t\t\t\tabout Spot Instances, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-spot-instances.html\">Spot\n\t\t\t\t\tInstances</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <important>\n       <p>Canceling a Spot Instance request does not terminate running Spot Instances\n\t\t\t\t\tassociated with the request.</p>\n     </important>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example cancels the specified Spot Instance request.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CancelSpotInstanceRequests\n&amp;SpotInstanceRequestId.1=sir-1a2b3c4d\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CancelSpotInstanceRequestsResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-06-15/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;spotInstanceRequestSet&gt;\n    &lt;item&gt;\n      &lt;spotInstanceRequestId&gt;sir-1a2b3c4d&lt;/spotInstanceRequestId&gt;\n      &lt;state&gt;cancelled&lt;/state&gt;\n    &lt;/item&gt;\n  &lt;/spotInstanceRequestSet&gt;\n&lt;/CancelSpotInstanceRequestsResponse&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "ConfirmProductInstance": {
      "name": "ConfirmProductInstance",
      "input": {
        "type": "structure",
        "documentation": "\n   ",
        "required": [
          "ProductCode",
          "InstanceId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "ProductCode": {
            "type": "string",
            "documentation": "\n     <p>The product code. This must be an Amazon DevPay product code that you own.</p>\n   "
          },
          "InstanceId": {
            "type": "string",
            "documentation": "\n     <p>The ID of the instance.</p>\n   "
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "\n   ",
        "members": {
          "OwnerId": {
            "type": "string",
            "documentation": "\n     <p>The AWS account ID of the instance owner. This is only present if the product code\n\t\t\t\tis attached to the instance.</p>\n   ",
            "locationName": "ownerId"
          }
        }
      },
      "errors": [

      ],
      "documentation": "\n     <p>Determines whether a product code is associated with an instance. This action can\n\t\t\t\tonly be used by the owner of the product code. It is useful when a product code\n\t\t\t\towner needs to verify whether another user's instance is eligible for\n\t\t\t\tsupport.</p>\n    <examples>\n     <example>\n      <name>Example</name>\n      <description>This example determines whether the specified product code is associated with the\n\t\t\t\t\tspecified instance.</description>\n      <queryrequest>https://ec2.amazonaws.com/?Action=ConfirmProductInstance\n&amp;ProductCode=774F4FF8\n&amp;InstanceId=i-10a64379\n&amp;AUTHPARAMS</queryrequest>\n      <queryresponse>&lt;ConfirmProductInstanceResponse xmlns=\"http://ec2.amazonaws.com/doc/2013-10-01/\"&gt;\n  &lt;requestId&gt;59dbff89-35bd-4eac-99ed-be587EXAMPLE&lt;/requestId&gt;\n  &lt;return&gt;true&lt;/return&gt;\n  &lt;ownerId&gt;111122223333&lt;/ownerId&gt;\n&lt;/ConfirmProductInstanceResponse&gt;</queryresponse>\n     </example>\n    </examples>\n   "
    },
    "CopyImage": {
      "name": "CopyImage",
      "input": {
        "type": "structure",
        "documentation": "   \n   ",
        "required": [
          "SourceRegion",
          "SourceImageId",
          "Name"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "   \n   "
          },
          "SourceRegion": {
            "type": "string",
            "documentation": "\n     <p>The name of the region that contains the AMI to copy.</p>\n   "
          },
          "SourceImageId": {
            "type": "string",
            "documentation": "\n     <p>The ID of the AMI to copy.</p>\n   "
          },
          "Name": {
            "type": "string",
            "documentation": "\n     <p>The name of the new AMI in the destination region.</p>\n   "
          },
          "Description": {
            "type": "string",
            "documentation": " \n     <p>A description for the new AMI in the destination region.</p>\n   "
          },
          "ClientToken": {
            "type": "string",
            "documentation": "   \n     <p>Unique, case-sensitive identifier you provide to ensure\n\t\t\t\tidempotency of the request. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to Ensure Idempotency</a> in the \n\t\t\t  <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n   "
          }
        }
      },
      "output": {
        "type": "structure",
        "documentation": "   \n   ",
        "members": {
          "ImageId": {
            "type": "string",
            "documentation": "   \n     <p>The ID of the new AMI.</p>\n   ",
            "locationName": "imageId"
          }
        }
      },
      "errors": [

      ],
      "documentation": "   \n     <p>Initiates the copy of an AMI from the specified source region to the region in which the\n      request was made. You specify the destination region by using its endpoint when making the\n      request. AMIs that use encrypted Amazon EBS snapshots cannot be copied with this method.</p>\n     <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/CopyingAMIs.html\">Copying AMIs</a>\n        in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n     <examples>\n      <example>\n       <name>Example</name>\n       <description>This example request copies the AMI in <code>us-west-2</code> with the ID <code>ami-1a2b3c4d</code>,\n\t\t\t\t\tnaming the new AMI <code>My-Standard-AMI</code>.</description>\n       <queryrequest>https://ec2.amazonaws.com/?Action=CopyImage\n&amp;SourceRegion=us-west-2\n&amp;SourceImageId=ami-1a2b3c4d  \n&amp;Name=My-Standard-AMI\n&amp;Description=This%20is%20the%20new%20version%20of%20My-Standard-AMI     \n&amp;ClientToken=550e8400-e29b-41d4-a716-446655440000\n&amp;AUTHPARAMS</queryrequest>\n       <queryresponse>&lt;CopyImageResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-02-01/\"&gt;\n   &lt;requestId&gt;60bc441d-fa2c-494d-b155-5d6a3EXAMPLE&lt;/requestId&gt;\n   &lt;imageId&gt;ami-4d3c2b1a&lt;/imageId&gt;\n&lt;/CopyImageResponse&gt;</queryresponse>\n      </example>\n     </examples>\n   "
    },
    "CopySnapshot": {
      "name": "CopySnapshot",
      "input": {
        "type": "structure",
        "documentation": "\n\n ",
        "required": [
          "SourceRegion",
          "SourceSnapshotId"
        ],
        "members": {
          "DryRun": {
            "type": "boolean",
            "documentation": "\n   "
          },
          "SourceRegion": {
            "type": "string",
            "documentation": "\n  <p>The ID of the region that contains the snapshot to be copied.</p>\n "
          },
          "SourceSnapshotId": {
            "type": "string",
            "documentation": "\n  <p>The ID of the Amazon EBS snapshot to copy.</p>\n "
          },
          "Description": {
            "type": "string",
            "documentation": "\n  <p>A description for the new Amazon EBS snapshot.</p>\n "
          },
          "DestinationRegion": {
            "type": "string",
            "documentation": "\n    <p>The destination region of the snapshot copy operation. This parameter is required in the\n        <code>PresignedUrl</code>.</p>\n  "
          },
          "PresignedUrl": {
            "type": "string",
[...]
