{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-09-21",
    "endpointPrefix": "ecr",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Amazon ECR",
    "serviceFullName": "Amazon EC2 Container Registry",
    "serviceId": "ECR",
    "signatureVersion": "v4",
    "targetPrefix": "AmazonEC2ContainerRegistry_V20150921",
    "uid": "ecr-2015-09-21"
  },
  "operations": {
    "BatchCheckLayerAvailability": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName",
          "layerDigests"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "layerDigests": {
            "type": "list",
            "member": {
              "shape": "S5"
            },
            "max": 100,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "layers": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "layerDigest": {
                  "shape": "S9"
                },
                "layerAvailability": {
                  "type": "string",
                  "enum": [
                    "AVAILABLE",
                    "UNAVAILABLE"
                  ]
                },
                "layerSize": {
                  "type": "long"
                },
                "mediaType": {}
              }
            }
          },
          "failures": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "layerDigest": {
                  "shape": "S5"
                },
                "failureCode": {
                  "type": "string",
                  "enum": [
                    "InvalidLayerDigest",
                    "MissingLayerDigest"
                  ]
                },
                "failureReason": {}
              }
            }
          }
        }
      }
    },
    "BatchDeleteImage": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName",
          "imageIds"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "imageIds": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "imageIds": {
            "shape": "Si"
          },
          "failures": {
            "shape": "Sn"
          }
        }
      }
    },
    "BatchGetImage": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName",
          "imageIds"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "imageIds": {
            "shape": "Si"
          },
          "acceptedMediaTypes": {
            "type": "list",
            "member": {},
            "max": 100,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "images": {
            "type": "list",
            "member": {
              "shape": "Sv"
            }
          },
          "failures": {
            "shape": "Sn"
          }
        }
      }
    },
    "CompleteLayerUpload": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName",
          "uploadId",
          "layerDigests"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "uploadId": {
            "shape": "Sy"
          },
          "layerDigests": {
            "type": "list",
            "member": {
              "shape": "S9"
            },
            "max": 100,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "uploadId": {
            "shape": "Sy"
          },
          "layerDigest": {
            "shape": "S9"
          }
        }
      }
    },
    "CreateRepository": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName"
        ],
        "members": {
          "repositoryName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "repository": {
            "shape": "S13"
          }
        }
      }
    },
    "DeleteLifecyclePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "lifecyclePolicyText": {
            "shape": "S19"
          },
          "lastEvaluatedAt": {
            "type": "timestamp"
          }
        }
      }
    },
    "DeleteRepository": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "force": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "repository": {
            "shape": "S13"
          }
        }
      }
    },
    "DeleteRepositoryPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "policyText": {
            "shape": "S1g"
          }
        }
      }
    },
    "DescribeImages": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "imageIds": {
            "shape": "Si"
          },
          "nextToken": {},
          "maxResults": {
            "shape": "S1j"
          },
          "filter": {
            "type": "structure",
            "members": {
              "tagStatus": {
                "shape": "S1l"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "imageDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "registryId": {
                  "shape": "S2"
                },
                "repositoryName": {
                  "shape": "S3"
                },
                "imageDigest": {},
                "imageTags": {
                  "shape": "S1p"
                },
                "imageSizeInBytes": {
                  "type": "long"
                },
                "imagePushedAt": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeRepositories": {
      "input": {
        "type": "structure",
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryNames": {
            "type": "list",
            "member": {
              "shape": "S3"
            },
            "max": 100,
            "min": 1
          },
          "nextToken": {},
          "maxResults": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "repositories": {
            "type": "list",
            "member": {
              "shape": "S13"
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetAuthorizationToken": {
      "input": {
        "type": "structure",
        "members": {
          "registryIds": {
            "type": "list",
            "member": {
              "shape": "S2"
            },
            "max": 10,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "authorizationData": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "authorizationToken": {
                  "type": "string",
                  "pattern": "^\\S+$"
                },
                "expiresAt": {
                  "type": "timestamp"
                },
                "proxyEndpoint": {}
              }
            }
          }
        }
      }
    },
    "GetDownloadUrlForLayer": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName",
          "layerDigest"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "layerDigest": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "downloadUrl": {},
          "layerDigest": {
            "shape": "S9"
          }
        }
      }
    },
    "GetLifecyclePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "lifecyclePolicyText": {
            "shape": "S19"
          },
          "lastEvaluatedAt": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetLifecyclePolicyPreview": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "imageIds": {
            "shape": "Si"
          },
          "nextToken": {},
          "maxResults": {
            "shape": "S1j"
          },
          "filter": {
            "type": "structure",
            "members": {
              "tagStatus": {
                "shape": "S1l"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "lifecyclePolicyText": {
            "shape": "S19"
          },
          "status": {
            "shape": "S2b"
          },
          "nextToken": {},
          "previewResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "imageTags": {
                  "shape": "S1p"
                },
                "imageDigest": {},
                "imagePushedAt": {
                  "type": "timestamp"
                },
                "action": {
                  "type": "structure",
                  "members": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "EXPIRE"
                      ]
                    }
                  }
                },
                "appliedRulePriority": {
                  "type": "integer",
                  "min": 1
                }
              }
            }
          },
          "summary": {
            "type": "structure",
            "members": {
              "expiringImageTotalCount": {
                "type": "integer",
                "min": 0
              }
            }
          }
        }
      }
    },
    "GetRepositoryPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "policyText": {
            "shape": "S1g"
          }
        }
      }
    },
    "InitiateLayerUpload": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "uploadId": {
            "shape": "Sy"
          },
          "partSize": {
            "shape": "S2n"
          }
        }
      }
    },
    "ListImages": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "nextToken": {},
          "maxResults": {
            "shape": "S1j"
          },
          "filter": {
            "type": "structure",
            "members": {
              "tagStatus": {
                "shape": "S1l"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "imageIds": {
            "shape": "Si"
          },
          "nextToken": {}
        }
      }
    },
    "PutImage": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName",
          "imageManifest"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "imageManifest": {},
          "imageTag": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "image": {
            "shape": "Sv"
          }
        }
      }
    },
    "PutLifecyclePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName",
          "lifecyclePolicyText"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "lifecyclePolicyText": {
            "shape": "S19"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "lifecyclePolicyText": {
            "shape": "S19"
          }
        }
      }
    },
    "SetRepositoryPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName",
          "policyText"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "policyText": {
            "shape": "S1g"
          },
          "force": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "policyText": {
            "shape": "S1g"
          }
        }
      }
    },
    "StartLifecyclePolicyPreview": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "lifecyclePolicyText": {
            "shape": "S19"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "lifecyclePolicyText": {
            "shape": "S19"
          },
          "status": {
            "shape": "S2b"
          }
        }
      }
    },
    "UploadLayerPart": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName",
          "uploadId",
          "partFirstByte",
          "partLastByte",
          "layerPartBlob"
        ],
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "uploadId": {
            "shape": "Sy"
          },
          "partFirstByte": {
            "shape": "S2n"
          },
          "partLastByte": {
            "shape": "S2n"
          },
          "layerPartBlob": {
            "type": "blob"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "registryId": {
            "shape": "S2"
          },
          "repositoryName": {
            "shape": "S3"
          },
          "uploadId": {
            "shape": "Sy"
          },
          "lastByteReceived": {
            "shape": "S2n"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "pattern": "[0-9]{12}"
    },
    "S3": {
      "type": "string",
      "max": 256,
      "min": 2,
      "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*"
    },
    "S5": {
      "type": "string",
      "max": 1000,
      "min": 0
    },
    "S9": {
      "type": "string",
      "pattern": "[a-zA-Z0-9-_+.]+:[a-fA-F0-9]+"
    },
    "Si": {
      "type": "list",
      "member": {
        "shape": "Sj"
      },
      "max": 100,
      "min": 1
    },
    "Sj": {
      "type": "structure",
      "members": {
        "imageDigest": {},
        "imageTag": {}
      }
    },
    "Sn": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "imageId": {
            "shape": "Sj"
          },
          "failureCode": {
            "type": "string",
            "enum": [
              "InvalidImageDigest",
              "InvalidImageTag",
              "ImageTagDoesNotMatchDigest",
              "ImageNotFound",
              "MissingDigestAndTag"
            ]
          },
          "failureReason": {}
        }
      }
    },
    "Sv": {
      "type": "structure",
      "members": {
        "registryId": {
          "shape": "S2"
        },
        "repositoryName": {
          "shape": "S3"
        },
        "imageId": {
          "shape": "Sj"
        },
        "imageManifest": {}
      }
    },
    "Sy": {
      "type": "string",
      "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
    },
    "S13": {
      "type": "structure",
      "members": {
        "repositoryArn": {},
        "registryId": {
          "shape": "S2"
        },
        "repositoryName": {
          "shape": "S3"
        },
        "repositoryUri": {},
        "createdAt": {
          "type": "timestamp"
        }
      }
    },
    "S19": {
      "type": "string",
      "max": 10240,
      "min": 100
    },
    "S1g": {
      "type": "string",
      "max": 10240,
      "min": 0
    },
    "S1j": {
      "type": "integer",
      "max": 100,
      "min": 1
    },
    "S1l": {
      "type": "string",
      "enum": [
        "TAGGED",
        "UNTAGGED"
      ]
    },
    "S1p": {
      "type": "list",
      "member": {}
    },
    "S2b": {
      "type": "string",
      "enum": [
        "IN_PROGRESS",
        "COMPLETE",
        "EXPIRED",
        "FAILED"
      ]
    },
    "S2n": {
      "type": "long",
      "min": 0
    }
  }
}