{
  "metadata": {
    "apiVersion": "2014-11-13",
    "endpointPrefix": "ecs",
    "serviceAbbreviation": "Amazon ECS",
    "serviceFullName": "Amazon EC2 Container Service",
    "signatureVersion": "v4",
    "signingName": "ecs",
    "xmlNamespace": "http://ecs.amazonaws.com/doc/2014-11-13/",
    "protocol": "query"
  },
  "operations": {
    "CreateCluster": {
      "input": {
        "type": "structure",
        "members": {
          "clusterName": {}
        }
      },
      "output": {
        "resultWrapper": "CreateClusterResult",
        "type": "structure",
        "members": {
          "cluster": {
            "shape": "S4"
          }
        }
      }
    },
    "DeregisterContainerInstance": {
      "input": {
        "type": "structure",
        "required": [
          "containerInstance"
        ],
        "members": {
          "cluster": {},
          "containerInstance": {},
          "force": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "DeregisterContainerInstanceResult",
        "type": "structure",
        "members": {
          "containerInstance": {
            "shape": "S8"
          }
        }
      }
    },
    "DeregisterTaskDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "taskDefinition"
        ],
        "members": {
          "taskDefinition": {}
        }
      },
      "output": {
        "resultWrapper": "DeregisterTaskDefinitionResult",
        "type": "structure",
        "members": {
          "taskDefinition": {
            "shape": "Si"
          }
        }
      }
    },
    "DescribeClusters": {
      "input": {
        "type": "structure",
        "members": {
          "clusters": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeClustersResult",
        "type": "structure",
        "members": {
          "clusters": {
            "type": "list",
            "member": {
              "shape": "S4"
            }
          },
          "failures": {
            "shape": "Ss"
          }
        }
      }
    },
    "DescribeContainerInstances": {
      "input": {
        "type": "structure",
        "required": [
          "containerInstances"
        ],
        "members": {
          "cluster": {},
          "containerInstances": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeContainerInstancesResult",
        "type": "structure",
        "members": {
          "containerInstances": {
            "type": "list",
            "member": {
              "shape": "S8"
            }
          },
          "failures": {
            "shape": "Ss"
          }
        }
      }
    },
    "DescribeTaskDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "taskDefinition"
        ],
        "members": {
          "taskDefinition": {}
        }
      },
      "output": {
        "resultWrapper": "DescribeTaskDefinitionResult",
        "type": "structure",
        "members": {
          "taskDefinition": {
            "shape": "Si"
          }
        }
      }
    },
    "DescribeTasks": {
      "input": {
        "type": "structure",
        "required": [
          "tasks"
        ],
        "members": {
          "cluster": {},
          "tasks": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeTasksResult",
        "type": "structure",
        "members": {
          "tasks": {
            "shape": "S11"
          },
          "failures": {
            "shape": "Ss"
          }
        }
      }
    },
    "DiscoverPollEndpoint": {
      "input": {
        "type": "structure",
        "members": {
          "containerInstance": {}
        }
      },
      "output": {
        "resultWrapper": "DiscoverPollEndpointResult",
        "type": "structure",
        "members": {
          "endpoint": {}
        }
      }
    },
    "ListClusters": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "ListClustersResult",
        "type": "structure",
        "members": {
          "clusterArns": {
            "shape": "Se"
          },
          "nextToken": {}
        }
      }
    },
    "ListContainerInstances": {
      "input": {
        "type": "structure",
        "members": {
          "cluster": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "ListContainerInstancesResult",
        "type": "structure",
        "members": {
          "containerInstanceArns": {
            "shape": "Se"
          },
          "nextToken": {}
        }
      }
    },
    "ListTaskDefinitions": {
      "input": {
        "type": "structure",
        "members": {
          "familyPrefix": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "ListTaskDefinitionsResult",
        "type": "structure",
        "members": {
          "taskDefinitionArns": {
            "shape": "Se"
          },
          "nextToken": {}
        }
      }
    },
    "ListTasks": {
      "input": {
        "type": "structure",
        "members": {
          "cluster": {},
          "containerInstance": {},
          "family": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "ListTasksResult",
        "type": "structure",
        "members": {
          "taskArns": {
            "shape": "Se"
          },
          "nextToken": {}
        }
      }
    },
    "RegisterContainerInstance": {
      "input": {
        "type": "structure",
        "members": {
          "cluster": {},
          "instanceIdentityDocument": {},
          "instanceIdentityDocumentSignature": {},
          "totalResources": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "resultWrapper": "RegisterContainerInstanceResult",
        "type": "structure",
        "members": {
          "containerInstance": {
            "shape": "S8"
          }
        }
      }
    },
    "RegisterTaskDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "family",
          "containerDefinitions"
        ],
        "members": {
          "family": {},
          "containerDefinitions": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "resultWrapper": "RegisterTaskDefinitionResult",
        "type": "structure",
        "members": {
          "taskDefinition": {
            "shape": "Si"
          }
        }
      }
    },
    "RunTask": {
      "input": {
        "type": "structure",
        "required": [
          "taskDefinition"
        ],
        "members": {
          "cluster": {},
          "taskDefinition": {},
          "overrides": {
            "shape": "S13"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "RunTaskResult",
        "type": "structure",
        "members": {
          "tasks": {
            "shape": "S11"
          }
        }
      }
    },
    "StartTask": {
      "input": {
        "type": "structure",
        "required": [
          "taskDefinition",
          "containerInstances"
        ],
        "members": {
          "cluster": {},
          "taskDefinition": {},
          "overrides": {
            "shape": "S13"
          },
          "containerInstances": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "resultWrapper": "StartTaskResult",
        "type": "structure",
        "members": {
          "tasks": {
            "shape": "S11"
          },
          "failures": {
            "shape": "Ss"
          }
        }
      }
    },
    "StopTask": {
      "input": {
        "type": "structure",
        "required": [
          "task"
        ],
        "members": {
          "cluster": {},
          "task": {}
        }
      },
      "output": {
        "resultWrapper": "StopTaskResult",
        "type": "structure",
        "members": {
          "task": {
            "shape": "S12"
          }
        }
      }
    },
    "SubmitContainerStateChange": {
      "input": {
        "type": "structure",
        "members": {
          "cluster": {},
          "task": {},
          "containerName": {},
          "status": {},
          "exitCode": {
            "type": "integer"
          },
          "reason": {},
          "networkBindings": {
            "shape": "S19"
          }
        }
      },
      "output": {
        "resultWrapper": "SubmitContainerStateChangeResult",
        "type": "structure",
        "members": {
          "acknowledgment": {}
        }
      }
    },
    "SubmitTaskStateChange": {
      "input": {
        "type": "structure",
        "members": {
          "cluster": {},
          "task": {},
          "status": {},
          "reason": {}
        }
      },
      "output": {
        "resultWrapper": "SubmitTaskStateChangeResult",
        "type": "structure",
        "members": {
          "acknowledgment": {}
        }
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "structure",
      "members": {
        "clusterArn": {},
        "clusterName": {},
        "status": {}
      }
    },
    "S8": {
      "type": "structure",
      "members": {
        "containerInstanceArn": {},
        "ec2InstanceId": {},
        "remainingResources": {
          "shape": "S9"
        },
        "registeredResources": {
          "shape": "S9"
        },
        "status": {},
        "agentConnected": {
          "type": "boolean"
        }
      }
    },
    "S9": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "type": {},
          "doubleValue": {
            "type": "double"
          },
          "longValue": {
            "type": "long"
          },
          "integerValue": {
            "type": "integer"
          },
          "stringSetValue": {
            "shape": "Se"
          }
        }
      }
    },
    "Se": {
      "type": "list",
      "member": {}
    },
    "Si": {
      "type": "structure",
      "members": {
        "taskDefinitionArn": {},
        "containerDefinitions": {
          "shape": "Sj"
        },
        "family": {},
        "revision": {
          "type": "integer"
        }
      }
    },
    "Sj": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "image": {},
          "cpu": {
            "type": "integer"
          },
          "memory": {
            "type": "integer"
          },
          "links": {
            "shape": "Se"
          },
          "portMappings": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "containerPort": {
                  "type": "integer"
                },
                "hostPort": {
                  "type": "integer"
                }
              }
            }
          },
          "essential": {
            "type": "boolean"
          },
          "entryPoint": {
            "shape": "Se"
          },
          "command": {
            "shape": "Se"
          },
          "environment": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "value": {}
              }
            }
          }
        }
      }
    },
    "Ss": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "arn": {},
          "reason": {}
        }
      }
    },
    "S11": {
      "type": "list",
      "member": {
        "shape": "S12"
      }
    },
    "S12": {
      "type": "structure",
      "members": {
        "taskArn": {},
        "clusterArn": {},
        "taskDefinitionArn": {},
        "containerInstanceArn": {},
        "overrides": {
          "shape": "S13"
        },
        "lastStatus": {},
        "desiredStatus": {},
        "containers": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "containerArn": {},
              "taskArn": {},
              "name": {},
              "lastStatus": {},
              "exitCode": {
                "type": "integer"
              },
              "reason": {},
              "networkBindings": {
                "shape": "S19"
              }
            }
          }
        }
      }
    },
    "S13": {
      "type": "structure",
      "members": {
        "containerOverrides": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "name": {},
              "command": {
                "shape": "Se"
              }
            }
          }
        }
      }
    },
    "S19": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "bindIP": {},
          "containerPort": {
            "type": "integer"
          },
          "hostPort": {
            "type": "integer"
          }
        }
      }
    }
  }
}