{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-11-01",
    "endpointPrefix": "eks",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Amazon EKS",
    "serviceFullName": "Amazon Elastic Kubernetes Service",
    "serviceId": "EKS",
    "signatureVersion": "v4",
    "signingName": "eks",
    "uid": "eks-2017-11-01"
  },
  "operations": {
    "CreateAddon": {
      "http": {
        "requestUri": "/clusters/{name}/addons"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "addonName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "addonName": {},
          "addonVersion": {},
          "serviceAccountRoleArn": {},
          "resolveConflicts": {},
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "addon": {
            "shape": "Sa"
          }
        }
      }
    },
    "CreateCluster": {
      "http": {
        "requestUri": "/clusters"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "roleArn",
          "resourcesVpcConfig"
        ],
        "members": {
          "name": {},
          "version": {},
          "roleArn": {},
          "resourcesVpcConfig": {
            "shape": "Sj"
          },
          "kubernetesNetworkConfig": {
            "type": "structure",
            "members": {
              "serviceIpv4Cidr": {}
            }
          },
          "logging": {
            "shape": "Sm"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "S6"
          },
          "encryptionConfig": {
            "shape": "Sr"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "cluster": {
            "shape": "Sv"
          }
        }
      }
    },
    "CreateFargateProfile": {
      "http": {
        "requestUri": "/clusters/{name}/fargate-profiles"
      },
      "input": {
        "type": "structure",
        "required": [
          "fargateProfileName",
          "clusterName",
          "podExecutionRoleArn"
        ],
        "members": {
          "fargateProfileName": {},
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "podExecutionRoleArn": {},
          "subnets": {
            "shape": "Sg"
          },
          "selectors": {
            "shape": "S14"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fargateProfile": {
            "shape": "S18"
          }
        }
      }
    },
    "CreateNodegroup": {
      "http": {
        "requestUri": "/clusters/{name}/node-groups"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "nodegroupName",
          "subnets",
          "nodeRole"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "nodegroupName": {},
          "scalingConfig": {
            "shape": "S1b"
          },
          "diskSize": {
            "type": "integer"
          },
          "subnets": {
            "shape": "Sg"
          },
          "instanceTypes": {
            "shape": "Sg"
          },
          "amiType": {},
          "remoteAccess": {
            "shape": "S1f"
          },
          "nodeRole": {},
          "labels": {
            "shape": "S1g"
          },
          "tags": {
            "shape": "S6"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "launchTemplate": {
            "shape": "S1j"
          },
          "capacityType": {},
          "version": {},
          "releaseVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nodegroup": {
            "shape": "S1m"
          }
        }
      }
    },
    "DeleteAddon": {
      "http": {
        "method": "DELETE",
        "requestUri": "/clusters/{name}/addons/{addonName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "addonName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "addonName": {
            "location": "uri",
            "locationName": "addonName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "addon": {
            "shape": "Sa"
          }
        }
      }
    },
    "DeleteCluster": {
      "http": {
        "method": "DELETE",
        "requestUri": "/clusters/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "cluster": {
            "shape": "Sv"
          }
        }
      }
    },
    "DeleteFargateProfile": {
      "http": {
        "method": "DELETE",
        "requestUri": "/clusters/{name}/fargate-profiles/{fargateProfileName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "fargateProfileName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "fargateProfileName": {
            "location": "uri",
            "locationName": "fargateProfileName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fargateProfile": {
            "shape": "S18"
          }
        }
      }
    },
    "DeleteNodegroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/clusters/{name}/node-groups/{nodegroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "nodegroupName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "nodegroupName": {
            "location": "uri",
            "locationName": "nodegroupName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nodegroup": {
            "shape": "S1m"
          }
        }
      }
    },
    "DescribeAddon": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/addons/{addonName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "addonName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "addonName": {
            "location": "uri",
            "locationName": "addonName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "addon": {
            "shape": "Sa"
          }
        }
      }
    },
    "DescribeAddonVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/addons/supported-versions"
      },
      "input": {
        "type": "structure",
        "members": {
          "kubernetesVersion": {
            "location": "querystring",
            "locationName": "kubernetesVersion"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "addonName": {
            "location": "querystring",
            "locationName": "addonName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "addons": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "addonName": {},
                "type": {},
                "addonVersions": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "addonVersion": {},
                      "architecture": {
                        "shape": "Sg"
                      },
                      "compatibilities": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "clusterVersion": {},
                            "platformVersions": {
                              "shape": "Sg"
                            },
                            "defaultVersion": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeCluster": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "cluster": {
            "shape": "Sv"
          }
        }
      }
    },
    "DescribeFargateProfile": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/fargate-profiles/{fargateProfileName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "fargateProfileName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "fargateProfileName": {
            "location": "uri",
            "locationName": "fargateProfileName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fargateProfile": {
            "shape": "S18"
          }
        }
      }
    },
    "DescribeNodegroup": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/node-groups/{nodegroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "nodegroupName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "nodegroupName": {
            "location": "uri",
            "locationName": "nodegroupName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nodegroup": {
            "shape": "S1m"
          }
        }
      }
    },
    "DescribeUpdate": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/updates/{updateId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "updateId"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "updateId": {
            "location": "uri",
            "locationName": "updateId"
          },
          "nodegroupName": {
            "location": "querystring",
            "locationName": "nodegroupName"
          },
          "addonName": {
            "location": "querystring",
            "locationName": "addonName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S2m"
          }
        }
      }
    },
    "ListAddons": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/addons"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "addons": {
            "shape": "Sg"
          },
          "nextToken": {}
        }
      }
    },
    "ListClusters": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters"
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "clusters": {
            "shape": "Sg"
          },
          "nextToken": {}
        }
      }
    },
    "ListFargateProfiles": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/fargate-profiles"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fargateProfileNames": {
            "shape": "Sg"
          },
          "nextToken": {}
        }
      }
    },
    "ListNodegroups": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/node-groups"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nodegroups": {
            "shape": "Sg"
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "S6"
          }
        }
      }
    },
    "ListUpdates": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/updates"
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "nodegroupName": {
            "location": "querystring",
            "locationName": "nodegroupName"
          },
          "addonName": {
            "location": "querystring",
            "locationName": "addonName"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "updateIds": {
            "shape": "Sg"
          },
          "nextToken": {}
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateAddon": {
      "http": {
        "requestUri": "/clusters/{name}/addons/{addonName}/update"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "addonName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "addonName": {
            "location": "uri",
            "locationName": "addonName"
          },
          "addonVersion": {},
          "serviceAccountRoleArn": {},
          "resolveConflicts": {},
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S2m"
          }
        }
      }
    },
    "UpdateClusterConfig": {
      "http": {
        "requestUri": "/clusters/{name}/update-config"
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "resourcesVpcConfig": {
            "shape": "Sj"
          },
          "logging": {
            "shape": "Sm"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S2m"
          }
        }
      }
    },
    "UpdateClusterVersion": {
      "http": {
        "requestUri": "/clusters/{name}/updates"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "version"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "version": {},
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S2m"
          }
        }
      }
    },
    "UpdateNodegroupConfig": {
      "http": {
        "requestUri": "/clusters/{name}/node-groups/{nodegroupName}/update-config"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "nodegroupName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "nodegroupName": {
            "location": "uri",
            "locationName": "nodegroupName"
          },
          "labels": {
            "type": "structure",
            "members": {
              "addOrUpdateLabels": {
                "shape": "S1g"
              },
              "removeLabels": {
                "type": "list",
                "member": {}
              }
            }
          },
          "scalingConfig": {
            "shape": "S1b"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S2m"
          }
        }
      }
    },
    "UpdateNodegroupVersion": {
      "http": {
        "requestUri": "/clusters/{name}/node-groups/{nodegroupName}/update-version"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "nodegroupName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "nodegroupName": {
            "location": "uri",
            "locationName": "nodegroupName"
          },
          "version": {},
          "releaseVersion": {},
          "launchTemplate": {
            "shape": "S1j"
          },
          "force": {
            "type": "boolean"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S2m"
          }
        }
      }
    }
  },
  "shapes": {
    "S6": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sa": {
      "type": "structure",
      "members": {
        "addonName": {},
        "clusterName": {},
        "status": {},
        "addonVersion": {},
        "health": {
          "type": "structure",
          "members": {
            "issues": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "code": {},
                  "message": {},
                  "resourceIds": {
                    "shape": "Sg"
                  }
                }
              }
            }
          }
        },
        "addonArn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "modifiedAt": {
          "type": "timestamp"
        },
        "serviceAccountRoleArn": {},
        "tags": {
          "shape": "S6"
        }
      }
    },
    "Sg": {
      "type": "list",
      "member": {}
    },
    "Sj": {
      "type": "structure",
      "members": {
        "subnetIds": {
          "shape": "Sg"
        },
        "securityGroupIds": {
          "shape": "Sg"
        },
        "endpointPublicAccess": {
          "type": "boolean"
        },
        "endpointPrivateAccess": {
          "type": "boolean"
        },
        "publicAccessCidrs": {
          "shape": "Sg"
        }
      }
    },
    "Sm": {
      "type": "structure",
      "members": {
        "clusterLogging": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "types": {
                "type": "list",
                "member": {}
              },
              "enabled": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "Sr": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "resources": {
            "shape": "Sg"
          },
          "provider": {
            "type": "structure",
            "members": {
              "keyArn": {}
            }
          }
        }
      }
    },
    "Sv": {
      "type": "structure",
      "members": {
        "name": {},
        "arn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "version": {},
        "endpoint": {},
        "roleArn": {},
        "resourcesVpcConfig": {
          "type": "structure",
          "members": {
            "subnetIds": {
              "shape": "Sg"
            },
            "securityGroupIds": {
              "shape": "Sg"
            },
            "clusterSecurityGroupId": {},
            "vpcId": {},
            "endpointPublicAccess": {
              "type": "boolean"
            },
            "endpointPrivateAccess": {
              "type": "boolean"
            },
            "publicAccessCidrs": {
              "shape": "Sg"
            }
          }
        },
        "kubernetesNetworkConfig": {
          "type": "structure",
          "members": {
            "serviceIpv4Cidr": {}
          }
        },
        "logging": {
          "shape": "Sm"
        },
        "identity": {
          "type": "structure",
          "members": {
            "oidc": {
              "type": "structure",
              "members": {
                "issuer": {}
              }
            }
          }
        },
        "status": {},
        "certificateAuthority": {
          "type": "structure",
          "members": {
            "data": {}
          }
        },
        "clientRequestToken": {},
        "platformVersion": {},
        "tags": {
          "shape": "S6"
        },
        "encryptionConfig": {
          "shape": "Sr"
        }
      }
    },
    "S14": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "namespace": {},
          "labels": {
            "type": "map",
            "key": {},
            "value": {}
          }
        }
      }
    },
    "S18": {
      "type": "structure",
      "members": {
        "fargateProfileName": {},
        "fargateProfileArn": {},
        "clusterName": {},
        "createdAt": {
          "type": "timestamp"
        },
        "podExecutionRoleArn": {},
        "subnets": {
          "shape": "Sg"
        },
        "selectors": {
          "shape": "S14"
        },
        "status": {},
        "tags": {
          "shape": "S6"
        }
      }
    },
    "S1b": {
      "type": "structure",
      "members": {
        "minSize": {
          "type": "integer"
        },
        "maxSize": {
          "type": "integer"
        },
        "desiredSize": {
          "type": "integer"
        }
      }
    },
    "S1f": {
      "type": "structure",
      "members": {
        "ec2SshKey": {},
        "sourceSecurityGroups": {
          "shape": "Sg"
        }
      }
    },
    "S1g": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1j": {
      "type": "structure",
      "members": {
        "name": {},
        "version": {},
        "id": {}
      }
    },
    "S1m": {
      "type": "structure",
      "members": {
        "nodegroupName": {},
        "nodegroupArn": {},
        "clusterName": {},
        "version": {},
        "releaseVersion": {},
        "createdAt": {
          "type": "timestamp"
        },
        "modifiedAt": {
          "type": "timestamp"
        },
        "status": {},
        "capacityType": {},
        "scalingConfig": {
          "shape": "S1b"
        },
        "instanceTypes": {
          "shape": "Sg"
        },
        "subnets": {
          "shape": "Sg"
        },
        "remoteAccess": {
          "shape": "S1f"
        },
        "amiType": {},
        "nodeRole": {},
        "labels": {
          "shape": "S1g"
        },
        "resources": {
          "type": "structure",
          "members": {
            "autoScalingGroups": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "name": {}
                }
              }
            },
            "remoteAccessSecurityGroup": {}
          }
        },
        "diskSize": {
          "type": "integer"
        },
        "health": {
          "type": "structure",
          "members": {
            "issues": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "code": {},
                  "message": {},
                  "resourceIds": {
                    "shape": "Sg"
                  }
                }
              }
            }
          }
        },
        "launchTemplate": {
          "shape": "S1j"
        },
        "tags": {
          "shape": "S6"
        }
      }
    },
    "S2m": {
      "type": "structure",
      "members": {
        "id": {},
        "status": {},
        "type": {},
        "params": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "type": {},
              "value": {}
            }
          }
        },
        "createdAt": {
          "type": "timestamp"
        },
        "errors": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "errorCode": {},
              "errorMessage": {},
              "resourceIds": {
                "shape": "Sg"
              }
            }
          }
        }
      }
    }
  }
}