{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-11-01",
    "endpointPrefix": "eks",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Amazon EKS",
    "serviceFullName": "Amazon Elastic Kubernetes Service",
    "serviceId": "EKS",
    "signatureVersion": "v4",
    "signingName": "eks",
    "uid": "eks-2017-11-01"
  },
  "operations": {
    "AssociateEncryptionConfig": {
      "http": {
        "requestUri": "/clusters/{name}/encryption-config/associate"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "encryptionConfig"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "encryptionConfig": {
            "shape": "S3"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S8"
          }
        }
      }
    },
    "AssociateIdentityProviderConfig": {
      "http": {
        "requestUri": "/clusters/{name}/identity-provider-configs/associate"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "oidc"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "oidc": {
            "type": "structure",
            "required": [
              "identityProviderConfigName",
              "issuerUrl",
              "clientId"
            ],
            "members": {
              "identityProviderConfigName": {},
              "issuerUrl": {},
              "clientId": {},
              "usernameClaim": {},
              "usernamePrefix": {},
              "groupsClaim": {},
              "groupsPrefix": {},
              "requiredClaims": {
                "shape": "Sk"
              }
            }
          },
          "tags": {
            "shape": "Sn"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S8"
          },
          "tags": {
            "shape": "Sn"
          }
        }
      }
    },
    "CreateAddon": {
      "http": {
        "requestUri": "/clusters/{name}/addons"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "addonName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "addonName": {},
          "addonVersion": {},
          "serviceAccountRoleArn": {},
          "resolveConflicts": {},
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "Sn"
          },
          "configurationValues": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "addon": {
            "shape": "Sw"
          }
        }
      }
    },
    "CreateCluster": {
      "http": {
        "requestUri": "/clusters"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "roleArn",
          "resourcesVpcConfig"
        ],
        "members": {
          "name": {},
          "version": {},
          "roleArn": {},
          "resourcesVpcConfig": {
            "shape": "S14"
          },
          "kubernetesNetworkConfig": {
            "type": "structure",
            "members": {
              "serviceIpv4Cidr": {},
              "ipFamily": {}
            }
          },
          "logging": {
            "shape": "S18"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "Sn"
          },
          "encryptionConfig": {
            "shape": "S3"
          },
          "outpostConfig": {
            "type": "structure",
            "required": [
              "outpostArns",
              "controlPlaneInstanceType"
            ],
            "members": {
              "outpostArns": {
                "shape": "S5"
              },
              "controlPlaneInstanceType": {},
              "controlPlanePlacement": {
                "type": "structure",
                "members": {
                  "groupName": {}
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "cluster": {
            "shape": "S1g"
          }
        }
      }
    },
    "CreateEksAnywhereSubscription": {
      "http": {
        "requestUri": "/eks-anywhere-subscriptions"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "term"
        ],
        "members": {
          "name": {},
          "term": {
            "shape": "S1x"
          },
          "licenseQuantity": {
            "type": "integer"
          },
          "licenseType": {},
          "autoRenew": {
            "type": "boolean"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "subscription": {
            "shape": "S22"
          }
        }
      }
    },
    "CreateFargateProfile": {
      "http": {
        "requestUri": "/clusters/{name}/fargate-profiles"
      },
      "input": {
        "type": "structure",
        "required": [
          "fargateProfileName",
          "clusterName",
          "podExecutionRoleArn"
        ],
        "members": {
          "fargateProfileName": {},
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "podExecutionRoleArn": {},
          "subnets": {
            "shape": "S5"
          },
          "selectors": {
            "shape": "S24"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fargateProfile": {
            "shape": "S28"
          }
        }
      }
    },
    "CreateNodegroup": {
      "http": {
        "requestUri": "/clusters/{name}/node-groups"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "nodegroupName",
          "subnets",
          "nodeRole"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "nodegroupName": {},
          "scalingConfig": {
            "shape": "S2b"
          },
          "diskSize": {
            "type": "integer"
          },
          "subnets": {
            "shape": "S5"
          },
          "instanceTypes": {
            "shape": "S5"
          },
          "amiType": {},
          "remoteAccess": {
            "shape": "S2g"
          },
          "nodeRole": {},
          "labels": {
            "shape": "S2h"
          },
          "taints": {
            "shape": "S2k"
          },
          "tags": {
            "shape": "Sn"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "launchTemplate": {
            "shape": "S2p"
          },
          "updateConfig": {
            "shape": "S2q"
          },
          "capacityType": {},
          "version": {},
          "releaseVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nodegroup": {
            "shape": "S2v"
          }
        }
      }
    },
    "DeleteAddon": {
      "http": {
        "method": "DELETE",
        "requestUri": "/clusters/{name}/addons/{addonName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "addonName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "addonName": {
            "location": "uri",
            "locationName": "addonName"
          },
          "preserve": {
            "location": "querystring",
            "locationName": "preserve",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "addon": {
            "shape": "Sw"
          }
        }
      }
    },
    "DeleteCluster": {
      "http": {
        "method": "DELETE",
        "requestUri": "/clusters/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "cluster": {
            "shape": "S1g"
          }
        }
      }
    },
    "DeleteEksAnywhereSubscription": {
      "http": {
        "method": "DELETE",
        "requestUri": "/eks-anywhere-subscriptions/{id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "subscription": {
            "shape": "S22"
          }
        }
      }
    },
    "DeleteFargateProfile": {
      "http": {
        "method": "DELETE",
        "requestUri": "/clusters/{name}/fargate-profiles/{fargateProfileName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "fargateProfileName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "fargateProfileName": {
            "location": "uri",
            "locationName": "fargateProfileName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fargateProfile": {
            "shape": "S28"
          }
        }
      }
    },
    "DeleteNodegroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/clusters/{name}/node-groups/{nodegroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "nodegroupName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "nodegroupName": {
            "location": "uri",
            "locationName": "nodegroupName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nodegroup": {
            "shape": "S2v"
          }
        }
      }
    },
    "DeregisterCluster": {
      "http": {
        "method": "DELETE",
        "requestUri": "/cluster-registrations/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "cluster": {
            "shape": "S1g"
          }
        }
      }
    },
    "DescribeAddon": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/addons/{addonName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "addonName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "addonName": {
            "location": "uri",
            "locationName": "addonName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "addon": {
            "shape": "Sw"
          }
        }
      }
    },
    "DescribeAddonConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/addons/configuration-schemas"
      },
      "input": {
        "type": "structure",
        "required": [
          "addonName",
          "addonVersion"
        ],
        "members": {
          "addonName": {
            "location": "querystring",
            "locationName": "addonName"
          },
          "addonVersion": {
            "location": "querystring",
            "locationName": "addonVersion"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "addonName": {},
          "addonVersion": {},
          "configurationSchema": {}
        }
      }
    },
    "DescribeAddonVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/addons/supported-versions"
      },
      "input": {
        "type": "structure",
        "members": {
          "kubernetesVersion": {
            "location": "querystring",
            "locationName": "kubernetesVersion"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "addonName": {
            "location": "querystring",
            "locationName": "addonName"
          },
          "types": {
            "shape": "S5",
            "location": "querystring",
            "locationName": "types"
          },
          "publishers": {
            "shape": "S5",
            "location": "querystring",
            "locationName": "publishers"
          },
          "owners": {
            "shape": "S5",
            "location": "querystring",
            "locationName": "owners"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "addons": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "addonName": {},
                "type": {},
                "addonVersions": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "addonVersion": {},
                      "architecture": {
                        "shape": "S5"
                      },
                      "compatibilities": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "clusterVersion": {},
                            "platformVersions": {
                              "shape": "S5"
                            },
                            "defaultVersion": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "requiresConfiguration": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "publisher": {},
                "owner": {},
                "marketplaceInformation": {
                  "shape": "S12"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeCluster": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "cluster": {
            "shape": "S1g"
          }
        }
      }
    },
    "DescribeEksAnywhereSubscription": {
      "http": {
        "method": "GET",
        "requestUri": "/eks-anywhere-subscriptions/{id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "subscription": {
            "shape": "S22"
          }
        }
      }
    },
    "DescribeFargateProfile": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/fargate-profiles/{fargateProfileName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "fargateProfileName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "fargateProfileName": {
            "location": "uri",
            "locationName": "fargateProfileName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fargateProfile": {
            "shape": "S28"
          }
        }
      }
    },
    "DescribeIdentityProviderConfig": {
      "http": {
        "requestUri": "/clusters/{name}/identity-provider-configs/describe"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "identityProviderConfig"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "identityProviderConfig": {
            "shape": "S40"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "identityProviderConfig": {
            "type": "structure",
            "members": {
              "oidc": {
                "type": "structure",
                "members": {
                  "identityProviderConfigName": {},
                  "identityProviderConfigArn": {},
                  "clusterName": {},
                  "issuerUrl": {},
                  "clientId": {},
                  "usernameClaim": {},
                  "usernamePrefix": {},
                  "groupsClaim": {},
                  "groupsPrefix": {},
                  "requiredClaims": {
                    "shape": "Sk"
                  },
                  "tags": {
                    "shape": "Sn"
                  },
                  "status": {}
                }
              }
            }
          }
        }
      }
    },
    "DescribeNodegroup": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/node-groups/{nodegroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "nodegroupName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "nodegroupName": {
            "location": "uri",
            "locationName": "nodegroupName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nodegroup": {
            "shape": "S2v"
          }
        }
      }
    },
    "DescribeUpdate": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/updates/{updateId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "updateId"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "updateId": {
            "location": "uri",
            "locationName": "updateId"
          },
          "nodegroupName": {
            "location": "querystring",
            "locationName": "nodegroupName"
          },
          "addonName": {
            "location": "querystring",
            "locationName": "addonName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S8"
          }
        }
      }
    },
    "DisassociateIdentityProviderConfig": {
      "http": {
        "requestUri": "/clusters/{name}/identity-provider-configs/disassociate"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "identityProviderConfig"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "identityProviderConfig": {
            "shape": "S40"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S8"
          }
        }
      }
    },
    "ListAddons": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/addons"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "addons": {
            "shape": "S5"
          },
          "nextToken": {}
        }
      }
    },
    "ListClusters": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters"
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "include": {
            "location": "querystring",
            "locationName": "include",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "clusters": {
            "shape": "S5"
          },
          "nextToken": {}
        }
      }
    },
    "ListEksAnywhereSubscriptions": {
      "http": {
        "method": "GET",
        "requestUri": "/eks-anywhere-subscriptions"
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "includeStatus": {
            "location": "querystring",
            "locationName": "includeStatus",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "subscriptions": {
            "type": "list",
            "member": {
              "shape": "S22"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListFargateProfiles": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/fargate-profiles"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fargateProfileNames": {
            "shape": "S5"
          },
          "nextToken": {}
        }
      }
    },
    "ListIdentityProviderConfigs": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/identity-provider-configs"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "identityProviderConfigs": {
            "type": "list",
            "member": {
              "shape": "S40"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListNodegroups": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/node-groups"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nodegroups": {
            "shape": "S5"
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "Sn"
          }
        }
      }
    },
    "ListUpdates": {
      "http": {
        "method": "GET",
        "requestUri": "/clusters/{name}/updates"
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "nodegroupName": {
            "location": "querystring",
            "locationName": "nodegroupName"
          },
          "addonName": {
            "location": "querystring",
            "locationName": "addonName"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "updateIds": {
            "shape": "S5"
          },
          "nextToken": {}
        }
      }
    },
    "RegisterCluster": {
      "http": {
        "requestUri": "/cluster-registrations"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "connectorConfig"
        ],
        "members": {
          "name": {},
          "connectorConfig": {
            "type": "structure",
            "required": [
              "roleArn",
              "provider"
            ],
            "members": {
              "roleArn": {},
              "provider": {}
            }
          },
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "cluster": {
            "shape": "S1g"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "Sn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateAddon": {
      "http": {
        "requestUri": "/clusters/{name}/addons/{addonName}/update"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "addonName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "addonName": {
            "location": "uri",
            "locationName": "addonName"
          },
          "addonVersion": {},
          "serviceAccountRoleArn": {},
          "resolveConflicts": {},
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "configurationValues": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S8"
          }
        }
      }
    },
    "UpdateClusterConfig": {
      "http": {
        "requestUri": "/clusters/{name}/update-config"
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "resourcesVpcConfig": {
            "shape": "S14"
          },
          "logging": {
            "shape": "S18"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S8"
          }
        }
      }
    },
    "UpdateClusterVersion": {
      "http": {
        "requestUri": "/clusters/{name}/updates"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "version"
        ],
        "members": {
          "name": {
            "location": "uri",
            "locationName": "name"
          },
          "version": {},
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S8"
          }
        }
      }
    },
    "UpdateEksAnywhereSubscription": {
      "http": {
        "requestUri": "/eks-anywhere-subscriptions/{id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "id",
          "autoRenew"
        ],
        "members": {
          "id": {
            "location": "uri",
            "locationName": "id"
          },
          "autoRenew": {
            "type": "boolean"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "subscription": {
            "shape": "S22"
          }
        }
      }
    },
    "UpdateNodegroupConfig": {
      "http": {
        "requestUri": "/clusters/{name}/node-groups/{nodegroupName}/update-config"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "nodegroupName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "nodegroupName": {
            "location": "uri",
            "locationName": "nodegroupName"
          },
          "labels": {
            "type": "structure",
            "members": {
              "addOrUpdateLabels": {
                "shape": "S2h"
              },
              "removeLabels": {
                "type": "list",
                "member": {}
              }
            }
          },
          "taints": {
            "type": "structure",
            "members": {
              "addOrUpdateTaints": {
                "shape": "S2k"
              },
              "removeTaints": {
                "shape": "S2k"
              }
            }
          },
          "scalingConfig": {
            "shape": "S2b"
          },
          "updateConfig": {
            "shape": "S2q"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S8"
          }
        }
      }
    },
    "UpdateNodegroupVersion": {
      "http": {
        "requestUri": "/clusters/{name}/node-groups/{nodegroupName}/update-version"
      },
      "input": {
        "type": "structure",
        "required": [
          "clusterName",
          "nodegroupName"
        ],
        "members": {
          "clusterName": {
            "location": "uri",
            "locationName": "name"
          },
          "nodegroupName": {
            "location": "uri",
            "locationName": "nodegroupName"
          },
          "version": {},
          "releaseVersion": {},
          "launchTemplate": {
            "shape": "S2p"
          },
          "force": {
            "type": "boolean"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "update": {
            "shape": "S8"
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "resources": {
            "shape": "S5"
          },
          "provider": {
            "type": "structure",
            "members": {
              "keyArn": {}
            }
          }
        }
      }
    },
    "S5": {
      "type": "list",
      "member": {}
    },
    "S8": {
      "type": "structure",
      "members": {
        "id": {},
        "status": {},
        "type": {},
        "params": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "type": {},
              "value": {}
            }
          }
        },
        "createdAt": {
          "type": "timestamp"
        },
        "errors": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "errorCode": {},
              "errorMessage": {},
              "resourceIds": {
                "shape": "S5"
              }
            }
          }
        }
      }
    },
    "Sk": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sn": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sw": {
      "type": "structure",
      "members": {
        "addonName": {},
        "clusterName": {},
        "status": {},
        "addonVersion": {},
        "health": {
          "type": "structure",
          "members": {
            "issues": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "code": {},
                  "message": {},
                  "resourceIds": {
                    "shape": "S5"
                  }
                }
              }
            }
          }
        },
        "addonArn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "modifiedAt": {
          "type": "timestamp"
        },
        "serviceAccountRoleArn": {},
        "tags": {
          "shape": "Sn"
        },
        "publisher": {},
        "owner": {},
        "marketplaceInformation": {
          "shape": "S12"
        },
        "configurationValues": {}
      }
    },
    "S12": {
      "type": "structure",
      "members": {
        "productId": {},
        "productUrl": {}
      }
    },
    "S14": {
      "type": "structure",
      "members": {
        "subnetIds": {
          "shape": "S5"
        },
        "securityGroupIds": {
          "shape": "S5"
        },
        "endpointPublicAccess": {
          "type": "boolean"
        },
        "endpointPrivateAccess": {
          "type": "boolean"
        },
        "publicAccessCidrs": {
          "shape": "S5"
        }
      }
    },
    "S18": {
      "type": "structure",
      "members": {
        "clusterLogging": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "types": {
                "type": "list",
                "member": {}
              },
              "enabled": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "S1g": {
      "type": "structure",
      "members": {
        "name": {},
        "arn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "version": {},
        "endpoint": {},
        "roleArn": {},
        "resourcesVpcConfig": {
          "type": "structure",
          "members": {
            "subnetIds": {
              "shape": "S5"
            },
            "securityGroupIds": {
              "shape": "S5"
            },
            "clusterSecurityGroupId": {},
            "vpcId": {},
            "endpointPublicAccess": {
              "type": "boolean"
            },
            "endpointPrivateAccess": {
              "type": "boolean"
            },
            "publicAccessCidrs": {
              "shape": "S5"
            }
          }
        },
        "kubernetesNetworkConfig": {
          "type": "structure",
          "members": {
            "serviceIpv4Cidr": {},
            "serviceIpv6Cidr": {},
            "ipFamily": {}
          }
        },
        "logging": {
          "shape": "S18"
        },
        "identity": {
          "type": "structure",
          "members": {
            "oidc": {
              "type": "structure",
              "members": {
                "issuer": {}
              }
            }
          }
        },
        "status": {},
        "certificateAuthority": {
          "type": "structure",
          "members": {
            "data": {}
          }
        },
        "clientRequestToken": {},
        "platformVersion": {},
        "tags": {
          "shape": "Sn"
        },
        "encryptionConfig": {
          "shape": "S3"
        },
        "connectorConfig": {
          "type": "structure",
          "members": {
            "activationId": {},
            "activationCode": {},
            "activationExpiry": {
              "type": "timestamp"
            },
            "provider": {},
            "roleArn": {}
          }
        },
        "id": {},
        "health": {
          "type": "structure",
          "members": {
            "issues": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "code": {},
                  "message": {},
                  "resourceIds": {
                    "shape": "S5"
                  }
                }
              }
            }
          }
        },
        "outpostConfig": {
          "type": "structure",
          "required": [
            "outpostArns",
            "controlPlaneInstanceType"
          ],
          "members": {
            "outpostArns": {
              "shape": "S5"
            },
            "controlPlaneInstanceType": {},
            "controlPlanePlacement": {
              "type": "structure",
              "members": {
                "groupName": {}
              }
            }
          }
        }
      }
    },
    "S1x": {
      "type": "structure",
      "members": {
        "duration": {
          "type": "integer"
        },
        "unit": {}
      }
    },
    "S22": {
      "type": "structure",
      "members": {
        "id": {},
        "arn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "effectiveDate": {
          "type": "timestamp"
        },
        "expirationDate": {
          "type": "timestamp"
        },
        "licenseQuantity": {
          "type": "integer"
        },
        "licenseType": {},
        "term": {
          "shape": "S1x"
        },
        "status": {},
        "autoRenew": {
          "type": "boolean"
        },
        "licenseArns": {
          "shape": "S5"
        },
        "tags": {
          "shape": "Sn"
        }
      }
    },
    "S24": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "namespace": {},
          "labels": {
            "type": "map",
            "key": {},
            "value": {}
          }
        }
      }
    },
    "S28": {
      "type": "structure",
      "members": {
        "fargateProfileName": {},
        "fargateProfileArn": {},
        "clusterName": {},
        "createdAt": {
          "type": "timestamp"
        },
        "podExecutionRoleArn": {},
        "subnets": {
          "shape": "S5"
        },
        "selectors": {
          "shape": "S24"
        },
        "status": {},
        "tags": {
          "shape": "Sn"
        }
      }
    },
    "S2b": {
      "type": "structure",
      "members": {
        "minSize": {
          "type": "integer"
        },
        "maxSize": {
          "type": "integer"
        },
        "desiredSize": {
          "type": "integer"
        }
      }
    },
    "S2g": {
      "type": "structure",
      "members": {
        "ec2SshKey": {},
        "sourceSecurityGroups": {
          "shape": "S5"
        }
      }
    },
    "S2h": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S2k": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "key": {},
          "value": {},
          "effect": {}
        }
      }
    },
    "S2p": {
      "type": "structure",
      "members": {
        "name": {},
        "version": {},
        "id": {}
      }
    },
    "S2q": {
      "type": "structure",
      "members": {
        "maxUnavailable": {
          "type": "integer"
        },
        "maxUnavailablePercentage": {
          "type": "integer"
        }
      }
    },
    "S2v": {
      "type": "structure",
      "members": {
        "nodegroupName": {},
        "nodegroupArn": {},
        "clusterName": {},
        "version": {},
        "releaseVersion": {},
        "createdAt": {
          "type": "timestamp"
        },
        "modifiedAt": {
          "type": "timestamp"
        },
        "status": {},
        "capacityType": {},
        "scalingConfig": {
          "shape": "S2b"
        },
        "instanceTypes": {
          "shape": "S5"
        },
        "subnets": {
          "shape": "S5"
        },
        "remoteAccess": {
          "shape": "S2g"
        },
        "amiType": {},
        "nodeRole": {},
        "labels": {
          "shape": "S2h"
        },
        "taints": {
          "shape": "S2k"
        },
        "resources": {
          "type": "structure",
          "members": {
            "autoScalingGroups": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "name": {}
                }
              }
            },
            "remoteAccessSecurityGroup": {}
          }
        },
        "diskSize": {
          "type": "integer"
        },
        "health": {
          "type": "structure",
          "members": {
            "issues": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "code": {},
                  "message": {},
                  "resourceIds": {
                    "shape": "S5"
                  }
                }
              }
            }
          }
        },
        "updateConfig": {
          "shape": "S2q"
        },
        "launchTemplate": {
          "shape": "S2p"
        },
        "tags": {
          "shape": "Sn"
        }
      }
    },
    "S40": {
      "type": "structure",
      "required": [
        "type",
        "name"
      ],
      "members": {
        "type": {},
        "name": {}
      }
    }
  }
}