{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2009-03-31",
    "endpointPrefix": "elasticmapreduce",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Amazon EMR",
    "serviceFullName": "Amazon Elastic MapReduce",
    "serviceId": "EMR",
    "signatureVersion": "v4",
    "targetPrefix": "ElasticMapReduce",
    "timestampFormat": "unixTimestamp",
    "uid": "elasticmapreduce-2009-03-31"
  },
  "operations": {
    "AddInstanceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId",
          "InstanceFleet"
        ],
        "members": {
          "ClusterId": {
            "shape": "S2"
          },
          "InstanceFleet": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterId": {
            "shape": "S2"
          },
          "InstanceFleetId": {}
        }
      }
    },
    "AddInstanceGroups": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceGroups",
          "JobFlowId"
        ],
        "members": {
          "InstanceGroups": {
            "shape": "Sq"
          },
          "JobFlowId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobFlowId": {
            "shape": "S2"
          },
          "InstanceGroupIds": {
            "type": "list",
            "member": {
              "shape": "S2"
            }
          }
        }
      }
    },
    "AddJobFlowSteps": {
      "input": {
        "type": "structure",
        "required": [
          "JobFlowId",
          "Steps"
        ],
        "members": {
          "JobFlowId": {
            "shape": "S2"
          },
          "Steps": {
            "shape": "S1b"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StepIds": {
            "shape": "S1k"
          }
        }
      }
    },
    "AddTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "Tags"
        ],
        "members": {
          "ResourceId": {},
          "Tags": {
            "shape": "S1n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelSteps": {
      "input": {
        "type": "structure",
        "members": {
          "ClusterId": {
            "shape": "S2"
          },
          "StepIds": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CancelStepsInfoList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StepId": {},
                "Status": {
                  "type": "string",
                  "enum": [
                    "SUBMITTED",
                    "FAILED"
                  ]
                },
                "Reason": {}
              }
            }
          }
        }
      }
    },
    "CreateSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "SecurityConfiguration"
        ],
        "members": {
          "Name": {
            "shape": "S1h"
          },
          "SecurityConfiguration": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name",
          "CreationDateTime"
        ],
        "members": {
          "Name": {
            "shape": "S1h"
          },
          "CreationDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DeleteSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S1h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Cluster": {
            "type": "structure",
            "members": {
              "Id": {},
              "Name": {},
              "Status": {
                "shape": "S25"
              },
              "Ec2InstanceAttributes": {
                "type": "structure",
                "members": {
                  "Ec2KeyName": {},
                  "Ec2SubnetId": {},
                  "RequestedEc2SubnetIds": {
                    "shape": "S2b"
                  },
                  "Ec2AvailabilityZone": {},
                  "RequestedEc2AvailabilityZones": {
                    "shape": "S2b"
                  },
                  "IamInstanceProfile": {},
                  "EmrManagedMasterSecurityGroup": {},
                  "EmrManagedSlaveSecurityGroup": {},
                  "ServiceAccessSecurityGroup": {},
                  "AdditionalMasterSecurityGroups": {
                    "shape": "S2c"
                  },
                  "AdditionalSlaveSecurityGroups": {
                    "shape": "S2c"
                  }
                }
              },
              "InstanceCollectionType": {
                "type": "string",
                "enum": [
                  "INSTANCE_FLEET",
                  "INSTANCE_GROUP"
                ]
              },
              "LogUri": {},
              "RequestedAmiVersion": {},
              "RunningAmiVersion": {},
              "ReleaseLabel": {},
              "AutoTerminate": {
                "type": "boolean"
              },
              "TerminationProtected": {
                "type": "boolean"
              },
              "VisibleToAllUsers": {
                "type": "boolean"
              },
              "Applications": {
                "shape": "S2f"
              },
              "Tags": {
                "shape": "S1n"
              },
              "ServiceRole": {},
              "NormalizedInstanceHours": {
                "type": "integer"
              },
              "MasterPublicDnsName": {},
              "Configurations": {
                "shape": "Sh"
              },
              "SecurityConfiguration": {
                "shape": "S1h"
              },
              "AutoScalingRole": {
                "shape": "S1h"
              },
              "ScaleDownBehavior": {
                "shape": "S2h"
              },
              "CustomAmiId": {
                "shape": "S2"
              },
              "EbsRootVolumeSize": {
                "type": "integer"
              },
              "RepoUpgradeOnBoot": {
                "shape": "S2i"
              },
              "KerberosAttributes": {
                "shape": "S2j"
              }
            }
          }
        }
      }
    },
    "DescribeJobFlows": {
      "input": {
        "type": "structure",
        "members": {
          "CreatedAfter": {
            "type": "timestamp"
          },
          "CreatedBefore": {
            "type": "timestamp"
          },
          "JobFlowIds": {
            "shape": "S1i"
          },
          "JobFlowStates": {
            "type": "list",
            "member": {
              "shape": "S2m"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobFlows": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "JobFlowId",
                "Name",
                "ExecutionStatusDetail",
                "Instances"
              ],
              "members": {
                "JobFlowId": {
                  "shape": "S2"
                },
                "Name": {
                  "shape": "S2"
                },
                "LogUri": {
                  "shape": "S1h"
                },
                "AmiVersion": {
                  "shape": "S2"
                },
                "ExecutionStatusDetail": {
                  "type": "structure",
                  "required": [
                    "State",
                    "CreationDateTime"
                  ],
                  "members": {
                    "State": {
                      "shape": "S2m"
                    },
                    "CreationDateTime": {
                      "type": "timestamp"
                    },
                    "StartDateTime": {
                      "type": "timestamp"
                    },
                    "ReadyDateTime": {
                      "type": "timestamp"
                    },
                    "EndDateTime": {
                      "type": "timestamp"
                    },
                    "LastStateChangeReason": {
                      "shape": "S1h"
                    }
                  }
                },
                "Instances": {
                  "type": "structure",
                  "required": [
                    "MasterInstanceType",
                    "SlaveInstanceType",
                    "InstanceCount"
                  ],
                  "members": {
                    "MasterInstanceType": {
                      "shape": "S8"
                    },
                    "MasterPublicDnsName": {
                      "shape": "S1h"
                    },
                    "MasterInstanceId": {
                      "shape": "S1h"
                    },
                    "SlaveInstanceType": {
                      "shape": "S8"
                    },
                    "InstanceCount": {
                      "type": "integer"
                    },
                    "InstanceGroups": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "required": [
                          "Market",
                          "InstanceRole",
                          "InstanceType",
                          "InstanceRequestCount",
                          "InstanceRunningCount",
                          "State",
                          "CreationDateTime"
                        ],
                        "members": {
                          "InstanceGroupId": {
                            "shape": "S2"
                          },
                          "Name": {
                            "shape": "S2"
                          },
                          "Market": {
                            "shape": "Ss"
                          },
                          "InstanceRole": {
                            "shape": "St"
                          },
                          "BidPrice": {
                            "shape": "S2"
                          },
                          "InstanceType": {
                            "shape": "S8"
                          },
                          "InstanceRequestCount": {
                            "type": "integer"
                          },
                          "InstanceRunningCount": {
                            "type": "integer"
                          },
                          "State": {
                            "shape": "S2u"
                          },
                          "LastStateChangeReason": {
                            "shape": "S1h"
                          },
                          "CreationDateTime": {
                            "type": "timestamp"
                          },
                          "StartDateTime": {
                            "type": "timestamp"
                          },
                          "ReadyDateTime": {
                            "type": "timestamp"
                          },
                          "EndDateTime": {
                            "type": "timestamp"
                          }
                        }
                      }
                    },
                    "NormalizedInstanceHours": {
                      "type": "integer"
                    },
                    "Ec2KeyName": {
                      "shape": "S2"
                    },
                    "Ec2SubnetId": {
                      "shape": "S2"
                    },
                    "Placement": {
                      "shape": "S2v"
                    },
                    "KeepJobFlowAliveWhenNoSteps": {
                      "type": "boolean"
                    },
                    "TerminationProtected": {
                      "type": "boolean"
                    },
                    "HadoopVersion": {
                      "shape": "S2"
                    }
                  }
                },
                "Steps": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "StepConfig",
                      "ExecutionStatusDetail"
                    ],
                    "members": {
                      "StepConfig": {
                        "shape": "S1c"
                      },
                      "ExecutionStatusDetail": {
                        "type": "structure",
                        "required": [
                          "State",
                          "CreationDateTime"
                        ],
                        "members": {
                          "State": {
                            "type": "string",
                            "enum": [
                              "PENDING",
                              "RUNNING",
                              "CONTINUE",
                              "COMPLETED",
                              "CANCELLED",
                              "FAILED",
                              "INTERRUPTED"
                            ]
                          },
                          "CreationDateTime": {
                            "type": "timestamp"
                          },
                          "StartDateTime": {
                            "type": "timestamp"
                          },
                          "EndDateTime": {
                            "type": "timestamp"
                          },
                          "LastStateChangeReason": {
                            "shape": "S1h"
                          }
                        }
                      }
                    }
                  }
                },
                "BootstrapActions": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "BootstrapActionConfig": {
                        "shape": "S32"
                      }
                    }
                  }
                },
                "SupportedProducts": {
                  "shape": "S34"
                },
                "VisibleToAllUsers": {
                  "type": "boolean"
                },
                "JobFlowRole": {
                  "shape": "S1h"
                },
                "ServiceRole": {
                  "shape": "S1h"
                },
                "AutoScalingRole": {
                  "shape": "S1h"
                },
                "ScaleDownBehavior": {
                  "shape": "S2h"
                }
              }
            }
          }
        }
      },
      "deprecated": true
    },
    "DescribeSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S1h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S1h"
          },
          "SecurityConfiguration": {},
          "CreationDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeStep": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId",
          "StepId"
        ],
        "members": {
          "ClusterId": {},
          "StepId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Step": {
            "type": "structure",
            "members": {
              "Id": {},
              "Name": {},
              "Config": {
                "shape": "S3a"
              },
              "ActionOnFailure": {
                "shape": "S1d"
              },
              "Status": {
                "shape": "S3b"
              }
            }
          }
        }
      }
    },
    "ListBootstrapActions": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {},
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BootstrapActions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "ScriptPath": {},
                "Args": {
                  "shape": "S2c"
                }
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "ListClusters": {
      "input": {
        "type": "structure",
        "members": {
          "CreatedAfter": {
            "type": "timestamp"
          },
          "CreatedBefore": {
            "type": "timestamp"
          },
          "ClusterStates": {
            "type": "list",
            "member": {
              "shape": "S26"
            }
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Clusters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Name": {},
                "Status": {
                  "shape": "S25"
                },
                "NormalizedInstanceHours": {
                  "type": "integer"
                }
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "ListInstanceFleets": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {},
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InstanceFleets": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Name": {
                  "shape": "S2"
                },
                "Status": {
                  "type": "structure",
                  "members": {
                    "State": {
                      "type": "string",
                      "enum": [
                        "PROVISIONING",
                        "BOOTSTRAPPING",
                        "RUNNING",
                        "RESIZING",
                        "SUSPENDED",
                        "TERMINATING",
                        "TERMINATED"
                      ]
                    },
                    "StateChangeReason": {
                      "type": "structure",
                      "members": {
                        "Code": {
                          "type": "string",
                          "enum": [
                            "INTERNAL_ERROR",
                            "VALIDATION_ERROR",
                            "INSTANCE_FAILURE",
                            "CLUSTER_TERMINATED"
                          ]
                        },
                        "Message": {}
                      }
                    },
                    "Timeline": {
                      "type": "structure",
                      "members": {
                        "CreationDateTime": {
                          "type": "timestamp"
                        },
                        "ReadyDateTime": {
                          "type": "timestamp"
                        },
                        "EndDateTime": {
                          "type": "timestamp"
                        }
                      }
                    }
                  }
                },
                "InstanceFleetType": {
                  "shape": "S4"
                },
                "TargetOnDemandCapacity": {
                  "shape": "S5"
                },
                "TargetSpotCapacity": {
                  "shape": "S5"
                },
                "ProvisionedOnDemandCapacity": {
                  "shape": "S5"
                },
                "ProvisionedSpotCapacity": {
                  "shape": "S5"
                },
                "InstanceTypeSpecifications": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "InstanceType": {
                        "shape": "S8"
                      },
                      "WeightedCapacity": {
                        "shape": "S5"
                      },
                      "BidPrice": {
                        "shape": "S2"
                      },
                      "BidPriceAsPercentageOfOnDemandPrice": {
                        "shape": "S9"
                      },
                      "Configurations": {
                        "shape": "Sh"
                      },
                      "EbsBlockDevices": {
                        "shape": "S42"
                      },
                      "EbsOptimized": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "LaunchSpecifications": {
                  "shape": "Sk"
                }
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "ListInstanceGroups": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {},
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InstanceGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Name": {},
                "Market": {
                  "shape": "Ss"
                },
                "InstanceGroupType": {
                  "shape": "S49"
                },
                "BidPrice": {},
                "InstanceType": {
                  "shape": "S8"
                },
                "RequestedInstanceCount": {
                  "type": "integer"
                },
                "RunningInstanceCount": {
                  "type": "integer"
                },
                "Status": {
                  "type": "structure",
                  "members": {
                    "State": {
                      "shape": "S2u"
                    },
                    "StateChangeReason": {
                      "type": "structure",
                      "members": {
                        "Code": {
                          "type": "string",
                          "enum": [
                            "INTERNAL_ERROR",
                            "VALIDATION_ERROR",
                            "INSTANCE_FAILURE",
                            "CLUSTER_TERMINATED"
                          ]
                        },
                        "Message": {}
                      }
                    },
                    "Timeline": {
                      "type": "structure",
                      "members": {
                        "CreationDateTime": {
                          "type": "timestamp"
                        },
                        "ReadyDateTime": {
                          "type": "timestamp"
                        },
                        "EndDateTime": {
                          "type": "timestamp"
                        }
                      }
                    }
                  }
                },
                "Configurations": {
                  "shape": "Sh"
                },
                "EbsBlockDevices": {
                  "shape": "S42"
                },
                "EbsOptimized": {
                  "type": "boolean"
                },
                "ShrinkPolicy": {
                  "shape": "S4e"
                },
                "AutoScalingPolicy": {
                  "shape": "S4i"
                }
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "ListInstances": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {},
          "InstanceGroupId": {},
          "InstanceGroupTypes": {
            "type": "list",
            "member": {
              "shape": "S49"
            }
          },
          "InstanceFleetId": {},
          "InstanceFleetType": {
            "shape": "S4"
          },
          "InstanceStates": {
            "type": "list",
            "member": {
              "shape": "S4q"
            }
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Instances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Ec2InstanceId": {},
                "PublicDnsName": {},
                "PublicIpAddress": {},
                "PrivateDnsName": {},
                "PrivateIpAddress": {},
                "Status": {
                  "type": "structure",
                  "members": {
                    "State": {
                      "shape": "S4q"
                    },
                    "StateChangeReason": {
                      "type": "structure",
                      "members": {
                        "Code": {
                          "type": "string",
                          "enum": [
                            "INTERNAL_ERROR",
                            "VALIDATION_ERROR",
                            "INSTANCE_FAILURE",
                            "BOOTSTRAP_FAILURE",
                            "CLUSTER_TERMINATED"
                          ]
                        },
                        "Message": {}
                      }
                    },
                    "Timeline": {
                      "type": "structure",
                      "members": {
                        "CreationDateTime": {
                          "type": "timestamp"
                        },
                        "ReadyDateTime": {
                          "type": "timestamp"
                        },
                        "EndDateTime": {
                          "type": "timestamp"
                        }
                      }
                    }
                  }
                },
                "InstanceGroupId": {},
                "InstanceFleetId": {},
                "Market": {
                  "shape": "Ss"
                },
                "InstanceType": {
                  "shape": "S8"
                },
                "EbsVolumes": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Device": {},
                      "VolumeId": {}
                    }
                  }
                }
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "ListSecurityConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityConfigurations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "shape": "S1h"
                },
                "CreationDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "ListSteps": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId"
        ],
        "members": {
          "ClusterId": {},
          "StepStates": {
            "type": "list",
            "member": {
              "shape": "S3c"
            }
          },
          "StepIds": {
            "shape": "S1i"
          },
          "Marker": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Steps": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Name": {},
                "Config": {
                  "shape": "S3a"
                },
                "ActionOnFailure": {
                  "shape": "S1d"
                },
                "Status": {
                  "shape": "S3b"
                }
              }
            }
          },
          "Marker": {}
        }
      }
    },
    "ModifyInstanceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId",
          "InstanceFleet"
        ],
        "members": {
          "ClusterId": {},
          "InstanceFleet": {
            "type": "structure",
            "required": [
              "InstanceFleetId"
            ],
            "members": {
              "InstanceFleetId": {},
              "TargetOnDemandCapacity": {
                "shape": "S5"
              },
              "TargetSpotCapacity": {
                "shape": "S5"
              }
            }
          }
        }
      }
    },
    "ModifyInstanceGroups": {
      "input": {
        "type": "structure",
        "members": {
          "ClusterId": {},
          "InstanceGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "InstanceGroupId"
              ],
              "members": {
                "InstanceGroupId": {
                  "shape": "S2"
                },
                "InstanceCount": {
                  "type": "integer"
                },
                "EC2InstanceIdsToTerminate": {
                  "type": "list",
                  "member": {}
                },
                "ShrinkPolicy": {
                  "shape": "S4e"
                }
              }
            }
          }
        }
      }
    },
    "PutAutoScalingPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId",
          "InstanceGroupId",
          "AutoScalingPolicy"
        ],
        "members": {
          "ClusterId": {},
          "InstanceGroupId": {},
          "AutoScalingPolicy": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterId": {},
          "InstanceGroupId": {},
          "AutoScalingPolicy": {
            "shape": "S4i"
          }
        }
      }
    },
    "RemoveAutoScalingPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterId",
          "InstanceGroupId"
        ],
        "members": {
          "ClusterId": {},
          "InstanceGroupId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RemoveTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "TagKeys"
        ],
        "members": {
          "ResourceId": {},
          "TagKeys": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RunJobFlow": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Instances"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          },
          "LogUri": {
            "shape": "S1h"
          },
          "AdditionalInfo": {
            "shape": "S1h"
          },
          "AmiVersion": {
            "shape": "S2"
          },
          "ReleaseLabel": {
            "shape": "S2"
          },
          "Instances": {
            "type": "structure",
            "members": {
              "MasterInstanceType": {
                "shape": "S8"
              },
              "SlaveInstanceType": {
                "shape": "S8"
              },
              "InstanceCount": {
                "type": "integer"
              },
              "InstanceGroups": {
                "shape": "Sq"
              },
              "InstanceFleets": {
                "type": "list",
                "member": {
                  "shape": "S3"
                }
              },
              "Ec2KeyName": {
                "shape": "S2"
              },
              "Placement": {
                "shape": "S2v"
              },
              "KeepJobFlowAliveWhenNoSteps": {
                "type": "boolean"
              },
              "TerminationProtected": {
                "type": "boolean"
              },
              "HadoopVersion": {
                "shape": "S2"
              },
              "Ec2SubnetId": {
                "shape": "S2"
              },
              "Ec2SubnetIds": {
                "shape": "S2b"
              },
              "EmrManagedMasterSecurityGroup": {
                "shape": "S2"
              },
              "EmrManagedSlaveSecurityGroup": {
                "shape": "S2"
              },
              "ServiceAccessSecurityGroup": {
                "shape": "S2"
              },
              "AdditionalMasterSecurityGroups": {
                "shape": "S5o"
              },
              "AdditionalSlaveSecurityGroups": {
                "shape": "S5o"
              }
            }
          },
          "Steps": {
            "shape": "S1b"
          },
          "BootstrapActions": {
            "type": "list",
            "member": {
              "shape": "S32"
            }
          },
          "SupportedProducts": {
            "shape": "S34"
          },
          "NewSupportedProducts": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "shape": "S2"
                },
                "Args": {
                  "shape": "S1i"
                }
              }
            }
          },
          "Applications": {
            "shape": "S2f"
          },
          "Configurations": {
            "shape": "Sh"
          },
          "VisibleToAllUsers": {
            "type": "boolean"
          },
          "JobFlowRole": {
            "shape": "S1h"
          },
          "ServiceRole": {
            "shape": "S1h"
          },
          "Tags": {
            "shape": "S1n"
          },
          "SecurityConfiguration": {
            "shape": "S1h"
          },
          "AutoScalingRole": {
            "shape": "S1h"
          },
          "ScaleDownBehavior": {
            "shape": "S2h"
          },
          "CustomAmiId": {
            "shape": "S2"
          },
          "EbsRootVolumeSize": {
            "type": "integer"
          },
          "RepoUpgradeOnBoot": {
            "shape": "S2i"
          },
          "KerberosAttributes": {
            "shape": "S2j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobFlowId": {
            "shape": "S2"
          }
        }
      }
    },
    "SetTerminationProtection": {
      "input": {
        "type": "structure",
        "required": [
          "JobFlowIds",
          "TerminationProtected"
        ],
        "members": {
          "JobFlowIds": {
            "shape": "S1i"
          },
          "TerminationProtected": {
            "type": "boolean"
          }
        }
      }
    },
    "SetVisibleToAllUsers": {
      "input": {
        "type": "structure",
        "required": [
          "JobFlowIds",
          "VisibleToAllUsers"
        ],
        "members": {
          "JobFlowIds": {
            "shape": "S1i"
          },
          "VisibleToAllUsers": {
            "type": "boolean"
          }
        }
      }
    },
    "TerminateJobFlows": {
      "input": {
        "type": "structure",
        "required": [
          "JobFlowIds"
        ],
        "members": {
          "JobFlowIds": {
            "shape": "S1i"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 256,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S3": {
      "type": "structure",
      "required": [
        "InstanceFleetType"
      ],
      "members": {
        "Name": {
          "shape": "S2"
        },
        "InstanceFleetType": {
          "shape": "S4"
        },
        "TargetOnDemandCapacity": {
          "shape": "S5"
        },
        "TargetSpotCapacity": {
          "shape": "S5"
        },
        "InstanceTypeConfigs": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "InstanceType"
            ],
            "members": {
              "InstanceType": {
                "shape": "S8"
              },
              "WeightedCapacity": {
                "shape": "S5"
              },
              "BidPrice": {
                "shape": "S2"
              },
              "BidPriceAsPercentageOfOnDemandPrice": {
                "shape": "S9"
              },
              "EbsConfiguration": {
                "shape": "Sa"
              },
              "Configurations": {
                "shape": "Sh"
              }
            }
          }
        },
        "LaunchSpecifications": {
          "shape": "Sk"
        }
      }
    },
    "S4": {
      "type": "string",
      "enum": [
        "MASTER",
        "CORE",
        "TASK"
      ]
    },
    "S5": {
      "type": "integer",
      "min": 0
    },
    "S8": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S9": {
      "type": "double",
      "min": 0
    },
    "Sa": {
      "type": "structure",
      "members": {
        "EbsBlockDeviceConfigs": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "VolumeSpecification"
            ],
            "members": {
              "VolumeSpecification": {
                "shape": "Sd"
              },
              "VolumesPerInstance": {
                "type": "integer"
              }
            }
          }
        },
        "EbsOptimized": {
          "type": "boolean"
        }
      }
    },
    "Sd": {
      "type": "structure",
      "required": [
        "VolumeType",
        "SizeInGB"
      ],
      "members": {
        "VolumeType": {},
        "Iops": {
          "type": "integer"
        },
        "SizeInGB": {
          "type": "integer"
        }
      }
    },
    "Sh": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Classification": {},
          "Configurations": {
            "shape": "Sh"
          },
          "Properties": {
            "shape": "Sj"
          }
        }
      }
    },
    "Sj": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sk": {
      "type": "structure",
      "required": [
        "SpotSpecification"
      ],
      "members": {
        "SpotSpecification": {
          "type": "structure",
          "required": [
            "TimeoutDurationMinutes",
            "TimeoutAction"
          ],
          "members": {
            "TimeoutDurationMinutes": {
              "shape": "S5"
            },
            "TimeoutAction": {
              "type": "string",
              "enum": [
                "SWITCH_TO_ON_DEMAND",
                "TERMINATE_CLUSTER"
              ]
            },
            "BlockDurationMinutes": {
              "shape": "S5"
            }
          }
        }
      }
    },
    "Sq": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "InstanceRole",
          "InstanceType",
          "InstanceCount"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          },
          "Market": {
            "shape": "Ss"
          },
          "InstanceRole": {
            "shape": "St"
          },
          "BidPrice": {
            "shape": "S2"
          },
          "InstanceType": {
            "shape": "S8"
          },
          "InstanceCount": {
            "type": "integer"
          },
          "Configurations": {
            "shape": "Sh"
          },
          "EbsConfiguration": {
            "shape": "Sa"
          },
          "AutoScalingPolicy": {
            "shape": "Su"
          }
        }
      }
    },
    "Ss": {
      "type": "string",
      "enum": [
        "ON_DEMAND",
        "SPOT"
      ]
    },
    "St": {
      "type": "string",
      "enum": [
        "MASTER",
        "CORE",
        "TASK"
      ]
    },
    "Su": {
      "type": "structure",
      "required": [
        "Constraints",
        "Rules"
      ],
      "members": {
        "Constraints": {
          "shape": "Sv"
        },
        "Rules": {
          "shape": "Sw"
        }
      }
    },
    "Sv": {
      "type": "structure",
      "required": [
        "MinCapacity",
        "MaxCapacity"
      ],
      "members": {
        "MinCapacity": {
          "type": "integer"
        },
        "MaxCapacity": {
          "type": "integer"
        }
      }
    },
    "Sw": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Action",
          "Trigger"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "Action": {
            "type": "structure",
            "required": [
              "SimpleScalingPolicyConfiguration"
            ],
            "members": {
              "Market": {
                "shape": "Ss"
              },
              "SimpleScalingPolicyConfiguration": {
                "type": "structure",
                "required": [
                  "ScalingAdjustment"
                ],
                "members": {
                  "AdjustmentType": {
                    "type": "string",
                    "enum": [
                      "CHANGE_IN_CAPACITY",
                      "PERCENT_CHANGE_IN_CAPACITY",
                      "EXACT_CAPACITY"
                    ]
                  },
                  "ScalingAdjustment": {
                    "type": "integer"
                  },
                  "CoolDown": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "Trigger": {
            "type": "structure",
            "required": [
              "CloudWatchAlarmDefinition"
            ],
            "members": {
              "CloudWatchAlarmDefinition": {
                "type": "structure",
                "required": [
                  "ComparisonOperator",
                  "MetricName",
                  "Period",
                  "Threshold"
                ],
                "members": {
                  "ComparisonOperator": {
                    "type": "string",
                    "enum": [
                      "GREATER_THAN_OR_EQUAL",
                      "GREATER_THAN",
                      "LESS_THAN",
                      "LESS_THAN_OR_EQUAL"
                    ]
                  },
                  "EvaluationPeriods": {
                    "type": "integer"
                  },
                  "MetricName": {},
                  "Namespace": {},
                  "Period": {
                    "type": "integer"
                  },
                  "Statistic": {
                    "type": "string",
                    "enum": [
                      "SAMPLE_COUNT",
                      "AVERAGE",
                      "SUM",
                      "MINIMUM",
                      "MAXIMUM"
                    ]
                  },
                  "Threshold": {
                    "shape": "S9"
                  },
                  "Unit": {
                    "type": "string",
                    "enum": [
                      "NONE",
                      "SECONDS",
                      "MICRO_SECONDS",
                      "MILLI_SECONDS",
                      "BYTES",
                      "KILO_BYTES",
                      "MEGA_BYTES",
                      "GIGA_BYTES",
                      "TERA_BYTES",
                      "BITS",
                      "KILO_BITS",
                      "MEGA_BITS",
                      "GIGA_BITS",
                      "TERA_BITS",
                      "PERCENT",
                      "COUNT",
                      "BYTES_PER_SECOND",
                      "KILO_BYTES_PER_SECOND",
                      "MEGA_BYTES_PER_SECOND",
                      "GIGA_BYTES_PER_SECOND",
                      "TERA_BYTES_PER_SECOND",
                      "BITS_PER_SECOND",
                      "KILO_BITS_PER_SECOND",
                      "MEGA_BITS_PER_SECOND",
                      "GIGA_BITS_PER_SECOND",
                      "TERA_BITS_PER_SECOND",
                      "COUNT_PER_SECOND"
                    ]
                  },
                  "Dimensions": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "Key": {},
                        "Value": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "S1b": {
      "type": "list",
      "member": {
        "shape": "S1c"
      }
    },
    "S1c": {
      "type": "structure",
      "required": [
        "Name",
        "HadoopJarStep"
      ],
      "members": {
        "Name": {
          "shape": "S2"
        },
        "ActionOnFailure": {
          "shape": "S1d"
        },
        "HadoopJarStep": {
          "type": "structure",
          "required": [
            "Jar"
          ],
          "members": {
            "Properties": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "Key": {
                    "shape": "S1h"
                  },
                  "Value": {
                    "shape": "S1h"
                  }
                }
              }
            },
            "Jar": {
              "shape": "S1h"
            },
            "MainClass": {
              "shape": "S1h"
            },
            "Args": {
              "shape": "S1i"
            }
          }
        }
      }
    },
    "S1d": {
      "type": "string",
      "enum": [
        "TERMINATE_JOB_FLOW",
        "TERMINATE_CLUSTER",
        "CANCEL_AND_WAIT",
        "CONTINUE"
      ]
    },
    "S1h": {
      "type": "string",
      "max": 10280,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S1i": {
      "type": "list",
      "member": {
        "shape": "S1h"
      }
    },
    "S1k": {
      "type": "list",
      "member": {
        "shape": "S2"
      }
    },
    "S1n": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "S25": {
      "type": "structure",
      "members": {
        "State": {
          "shape": "S26"
        },
        "StateChangeReason": {
          "type": "structure",
          "members": {
            "Code": {
              "type": "string",
              "enum": [
                "INTERNAL_ERROR",
                "VALIDATION_ERROR",
                "INSTANCE_FAILURE",
                "INSTANCE_FLEET_TIMEOUT",
                "BOOTSTRAP_FAILURE",
                "USER_REQUEST",
                "STEP_FAILURE",
                "ALL_STEPS_COMPLETED"
              ]
            },
            "Message": {}
          }
        },
        "Timeline": {
          "type": "structure",
          "members": {
            "CreationDateTime": {
              "type": "timestamp"
            },
            "ReadyDateTime": {
              "type": "timestamp"
            },
            "EndDateTime": {
              "type": "timestamp"
            }
          }
        }
      }
    },
    "S26": {
      "type": "string",
      "enum": [
        "STARTING",
        "BOOTSTRAPPING",
        "RUNNING",
        "WAITING",
        "TERMINATING",
        "TERMINATED",
        "TERMINATED_WITH_ERRORS"
      ]
    },
    "S2b": {
      "type": "list",
      "member": {
        "shape": "S2"
      }
    },
    "S2c": {
      "type": "list",
      "member": {}
    },
    "S2f": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Version": {},
          "Args": {
            "shape": "S2c"
          },
          "AdditionalInfo": {
            "shape": "Sj"
          }
        }
      }
    },
    "S2h": {
      "type": "string",
      "enum": [
        "TERMINATE_AT_INSTANCE_HOUR",
        "TERMINATE_AT_TASK_COMPLETION"
      ]
    },
    "S2i": {
      "type": "string",
      "enum": [
        "SECURITY",
        "NONE"
      ]
    },
    "S2j": {
      "type": "structure",
      "required": [
        "Realm",
        "KdcAdminPassword"
      ],
      "members": {
        "Realm": {
          "shape": "S2"
        },
        "KdcAdminPassword": {
          "shape": "S2"
        },
        "CrossRealmTrustPrincipalPassword": {
          "shape": "S2"
        },
        "ADDomainJoinUser": {
          "shape": "S2"
        },
        "ADDomainJoinPassword": {
          "shape": "S2"
        }
      }
    },
    "S2m": {
      "type": "string",
      "enum": [
        "STARTING",
        "BOOTSTRAPPING",
        "RUNNING",
        "WAITING",
        "SHUTTING_DOWN",
        "TERMINATED",
        "COMPLETED",
        "FAILED"
      ]
    },
    "S2u": {
      "type": "string",
      "enum": [
        "PROVISIONING",
        "BOOTSTRAPPING",
        "RUNNING",
        "RESIZING",
        "SUSPENDED",
        "TERMINATING",
        "TERMINATED",
        "ARRESTED",
        "SHUTTING_DOWN",
        "ENDED"
      ]
    },
    "S2v": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "shape": "S1h"
        },
        "AvailabilityZones": {
          "shape": "S2b"
        }
      }
    },
    "S32": {
      "type": "structure",
      "required": [
        "Name",
        "ScriptBootstrapAction"
      ],
      "members": {
        "Name": {
          "shape": "S2"
        },
        "ScriptBootstrapAction": {
          "type": "structure",
          "required": [
            "Path"
          ],
          "members": {
            "Path": {
              "shape": "S1h"
            },
            "Args": {
              "shape": "S1i"
            }
          }
        }
      }
    },
    "S34": {
      "type": "list",
      "member": {
        "shape": "S2"
      }
    },
    "S3a": {
      "type": "structure",
      "members": {
        "Jar": {},
        "Properties": {
          "shape": "Sj"
        },
        "MainClass": {},
        "Args": {
          "shape": "S2c"
        }
      }
    },
    "S3b": {
      "type": "structure",
      "members": {
        "State": {
          "shape": "S3c"
        },
        "StateChangeReason": {
          "type": "structure",
          "members": {
            "Code": {
              "type": "string",
              "enum": [
                "NONE"
              ]
            },
            "Message": {}
          }
        },
        "FailureDetails": {
          "type": "structure",
          "members": {
            "Reason": {},
            "Message": {},
            "LogFile": {}
          }
        },
        "Timeline": {
          "type": "structure",
          "members": {
            "CreationDateTime": {
              "type": "timestamp"
            },
            "StartDateTime": {
              "type": "timestamp"
            },
            "EndDateTime": {
              "type": "timestamp"
            }
          }
        }
      }
    },
    "S3c": {
      "type": "string",
      "enum": [
        "PENDING",
        "CANCEL_PENDING",
        "RUNNING",
        "COMPLETED",
        "CANCELLED",
        "FAILED",
        "INTERRUPTED"
      ]
    },
    "S42": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "VolumeSpecification": {
            "shape": "Sd"
          },
          "Device": {}
        }
      }
    },
    "S49": {
      "type": "string",
      "enum": [
        "MASTER",
        "CORE",
        "TASK"
      ]
    },
    "S4e": {
      "type": "structure",
      "members": {
        "DecommissionTimeout": {
          "type": "integer"
        },
        "InstanceResizePolicy": {
          "type": "structure",
          "members": {
            "InstancesToTerminate": {
              "shape": "S4g"
            },
            "InstancesToProtect": {
              "shape": "S4g"
            },
            "InstanceTerminationTimeout": {
              "type": "integer"
            }
          }
        }
      }
    },
    "S4g": {
      "type": "list",
      "member": {}
    },
    "S4i": {
      "type": "structure",
      "members": {
        "Status": {
          "type": "structure",
          "members": {
            "State": {
              "type": "string",
              "enum": [
                "PENDING",
                "ATTACHING",
                "ATTACHED",
                "DETACHING",
                "DETACHED",
                "FAILED"
              ]
            },
            "StateChangeReason": {
              "type": "structure",
              "members": {
                "Code": {
                  "type": "string",
                  "enum": [
                    "USER_REQUEST",
                    "PROVISION_FAILURE",
                    "CLEANUP_FAILURE"
                  ]
                },
                "Message": {}
              }
            }
          }
        },
        "Constraints": {
          "shape": "Sv"
        },
        "Rules": {
          "shape": "Sw"
        }
      }
    },
    "S4q": {
      "type": "string",
      "enum": [
        "AWAITING_FULFILLMENT",
        "PROVISIONING",
        "BOOTSTRAPPING",
        "RUNNING",
        "TERMINATED"
      ]
    },
    "S5o": {
      "type": "list",
      "member": {
        "shape": "S2"
      }
    }
  }
}