{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2012-09-25",
    "endpointPrefix": "elastictranscoder",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Elastic Transcoder",
    "serviceId": "Elastic Transcoder",
    "signatureVersion": "v4",
    "uid": "elastictranscoder-2012-09-25"
  },
  "operations": {
    "CancelJob": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2012-09-25/jobs/{Id}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateJob": {
      "http": {
        "requestUri": "/2012-09-25/jobs",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "PipelineId"
        ],
        "members": {
          "PipelineId": {
            "shape": "S2"
          },
          "Input": {
            "shape": "S5"
          },
          "Inputs": {
            "shape": "St"
          },
          "Output": {
            "shape": "Su"
          },
          "Outputs": {
            "type": "list",
            "member": {
              "shape": "Su"
            },
            "max": 30
          },
          "OutputKeyPrefix": {
            "shape": "Sm"
          },
          "Playlists": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "shape": "S1j"
                },
                "Format": {
                  "shape": "S1k"
                },
                "OutputKeys": {
                  "shape": "S1l"
                },
                "HlsContentProtection": {
                  "shape": "S1m"
                },
                "PlayReadyDrm": {
                  "shape": "S1q"
                }
              }
            },
            "max": 30
          },
          "UserMetadata": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "shape": "S1y"
          }
        }
      }
    },
    "CreatePipeline": {
      "http": {
        "requestUri": "/2012-09-25/pipelines",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "InputBucket",
          "Role"
        ],
        "members": {
          "Name": {
            "shape": "So"
          },
          "InputBucket": {
            "shape": "S27"
          },
          "OutputBucket": {
            "shape": "S27"
          },
          "Role": {
            "shape": "S28"
          },
          "AwsKmsKeyArn": {
            "shape": "S29"
          },
          "Notifications": {
            "shape": "S2a"
          },
          "ContentConfig": {
            "shape": "S2c"
          },
          "ThumbnailConfig": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Pipeline": {
            "shape": "S2l"
          },
          "Warnings": {
            "shape": "S2n"
          }
        }
      }
    },
    "CreatePreset": {
      "http": {
        "requestUri": "/2012-09-25/presets",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Container"
        ],
        "members": {
          "Name": {
            "shape": "So"
          },
          "Description": {
            "shape": "S21"
          },
          "Container": {
            "shape": "S2q"
          },
          "Video": {
            "shape": "S2r"
          },
          "Audio": {
            "shape": "S37"
          },
          "Thumbnails": {
            "shape": "S3i"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Preset": {
            "shape": "S3m"
          },
          "Warning": {}
        }
      }
    },
    "DeletePipeline": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2012-09-25/pipelines/{Id}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePreset": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2012-09-25/presets/{Id}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListJobsByPipeline": {
      "http": {
        "method": "GET",
        "requestUri": "/2012-09-25/jobsByPipeline/{PipelineId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PipelineId"
        ],
        "members": {
          "PipelineId": {
            "shape": "S2",
            "location": "uri",
            "locationName": "PipelineId"
          },
          "Ascending": {
            "shape": "S3t",
            "location": "querystring",
            "locationName": "Ascending"
          },
          "PageToken": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "PageToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "shape": "S3v"
          },
          "NextPageToken": {
            "shape": "S2"
          }
        }
      }
    },
    "ListJobsByStatus": {
      "http": {
        "method": "GET",
        "requestUri": "/2012-09-25/jobsByStatus/{Status}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Status"
        ],
        "members": {
          "Status": {
            "shape": "S20",
            "location": "uri",
            "locationName": "Status"
          },
          "Ascending": {
            "shape": "S3t",
            "location": "querystring",
            "locationName": "Ascending"
          },
          "PageToken": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "PageToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "shape": "S3v"
          },
          "NextPageToken": {
            "shape": "S2"
          }
        }
      }
    },
    "ListPipelines": {
      "http": {
        "method": "GET",
        "requestUri": "/2012-09-25/pipelines"
      },
      "input": {
        "type": "structure",
        "members": {
          "Ascending": {
            "shape": "S3t",
            "location": "querystring",
            "locationName": "Ascending"
          },
          "PageToken": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "PageToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Pipelines": {
            "type": "list",
            "member": {
              "shape": "S2l"
            }
          },
          "NextPageToken": {
            "shape": "S2"
          }
        }
      }
    },
    "ListPresets": {
      "http": {
        "method": "GET",
        "requestUri": "/2012-09-25/presets"
      },
      "input": {
        "type": "structure",
        "members": {
          "Ascending": {
            "shape": "S3t",
            "location": "querystring",
            "locationName": "Ascending"
          },
          "PageToken": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "PageToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Presets": {
            "type": "list",
            "member": {
              "shape": "S3m"
            }
          },
          "NextPageToken": {
            "shape": "S2"
          }
        }
      }
    },
    "ReadJob": {
      "http": {
        "method": "GET",
        "requestUri": "/2012-09-25/jobs/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "shape": "S1y"
          }
        }
      }
    },
    "ReadPipeline": {
      "http": {
        "method": "GET",
        "requestUri": "/2012-09-25/pipelines/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Pipeline": {
            "shape": "S2l"
          },
          "Warnings": {
            "shape": "S2n"
          }
        }
      }
    },
    "ReadPreset": {
      "http": {
        "method": "GET",
        "requestUri": "/2012-09-25/presets/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Preset": {
            "shape": "S3m"
          }
        }
      }
    },
    "TestRole": {
      "http": {
        "requestUri": "/2012-09-25/roleTests",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Role",
          "InputBucket",
          "OutputBucket",
          "Topics"
        ],
        "members": {
          "Role": {
            "shape": "S28"
          },
          "InputBucket": {
            "shape": "S27"
          },
          "OutputBucket": {
            "shape": "S27"
          },
          "Topics": {
            "type": "list",
            "member": {
              "shape": "S2b"
            },
            "max": 30
          }
        },
        "deprecated": true
      },
      "output": {
        "type": "structure",
        "members": {
          "Success": {
            "type": "string",
            "pattern": "(^true$)|(^false$)"
          },
          "Messages": {
            "type": "list",
            "member": {}
          }
        },
        "deprecated": true
      },
      "deprecated": true
    },
    "UpdatePipeline": {
      "http": {
        "method": "PUT",
        "requestUri": "/2012-09-25/pipelines/{Id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          },
          "Name": {
            "shape": "So"
          },
          "InputBucket": {
            "shape": "S27"
          },
          "Role": {
            "shape": "S28"
          },
          "AwsKmsKeyArn": {
            "shape": "S29"
          },
          "Notifications": {
            "shape": "S2a"
          },
          "ContentConfig": {
            "shape": "S2c"
          },
          "ThumbnailConfig": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Pipeline": {
            "shape": "S2l"
          },
          "Warnings": {
            "shape": "S2n"
          }
        }
      }
    },
    "UpdatePipelineNotifications": {
      "http": {
        "requestUri": "/2012-09-25/pipelines/{Id}/notifications"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "Notifications"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          },
          "Notifications": {
            "shape": "S2a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Pipeline": {
            "shape": "S2l"
          }
        }
      }
    },
    "UpdatePipelineStatus": {
      "http": {
        "requestUri": "/2012-09-25/pipelines/{Id}/status"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "Status"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          },
          "Status": {
            "shape": "S2m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Pipeline": {
            "shape": "S2l"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "pattern": "^\\d{13}-\\w{6}$"
    },
    "S5": {
      "type": "structure",
      "members": {
        "Key": {
          "shape": "S6"
        },
        "FrameRate": {
          "shape": "S7"
        },
        "Resolution": {
          "shape": "S8"
        },
        "AspectRatio": {
          "shape": "S9"
        },
        "Interlaced": {
          "type": "string",
          "pattern": "(^auto$)|(^true$)|(^false$)"
        },
        "Container": {
          "type": "string",
          "pattern": "(^auto$)|(^3gp$)|(^asf$)|(^avi$)|(^divx$)|(^flv$)|(^mkv$)|(^mov$)|(^mp4$)|(^mpeg$)|(^mpeg-ps$)|(^mpeg-ts$)|(^mxf$)|(^ogg$)|(^ts$)|(^vob$)|(^wav$)|(^webm$)|(^mp3$)|(^m4a$)|(^aac$)"
        },
        "Encryption": {
          "shape": "Sc"
        },
        "TimeSpan": {
          "shape": "Sg"
        },
        "InputCaptions": {
          "type": "structure",
          "members": {
            "MergePolicy": {
              "shape": "Sj"
            },
            "CaptionSources": {
              "shape": "Sk"
            }
          }
        },
        "DetectedProperties": {
          "type": "structure",
          "members": {
            "Width": {
              "type": "integer"
            },
            "Height": {
              "type": "integer"
            },
            "FrameRate": {
              "shape": "Sr"
            },
            "FileSize": {
              "type": "long"
            },
            "DurationMillis": {
              "type": "long"
            }
          }
        }
      }
    },
    "S6": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "S7": {
      "type": "string",
      "pattern": "(^auto$)|(^10$)|(^15$)|(^23.97$)|(^24$)|(^25$)|(^29.97$)|(^30$)|(^50$)|(^60$)"
    },
    "S8": {
      "type": "string",
      "pattern": "(^auto$)|(^\\d{1,5}x\\d{1,5}$)"
    },
    "S9": {
      "type": "string",
      "pattern": "(^auto$)|(^1:1$)|(^4:3$)|(^3:2$)|(^16:9$)"
    },
    "Sc": {
      "type": "structure",
      "members": {
        "Mode": {
          "type": "string",
          "pattern": "(^s3$)|(^s3-aws-kms$)|(^aes-cbc-pkcs7$)|(^aes-ctr$)|(^aes-gcm$)"
        },
        "Key": {
          "shape": "Se"
        },
        "KeyMd5": {
          "shape": "Se"
        },
        "InitializationVector": {
          "shape": "Sf"
        }
      }
    },
    "Se": {
      "type": "string",
      "pattern": "^$|(^(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}==|[A-Za-z0-9\\+/]{3}=)?$)"
    },
    "Sf": {
      "type": "string",
      "max": 255,
      "min": 0
    },
    "Sg": {
      "type": "structure",
      "members": {
        "StartTime": {
          "shape": "Sh"
        },
        "Duration": {
          "shape": "Sh"
        }
      }
    },
    "Sh": {
      "type": "string",
      "pattern": "(^\\d{1,5}(\\.\\d{0,3})?$)|(^([0-1]?[0-9]:|2[0-3]:)?([0-5]?[0-9]:)?[0-5]?[0-9](\\.\\d{0,3})?$)"
    },
    "Sj": {
      "type": "string",
      "pattern": "(^MergeOverride$)|(^MergeRetain$)|(^Override$)"
    },
    "Sk": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {
            "shape": "S6"
          },
          "Language": {
            "shape": "Sm"
          },
          "TimeOffset": {
            "type": "string",
            "pattern": "(^[+-]?\\d{1,5}(\\.\\d{0,3})?$)|(^[+-]?([0-1]?[0-9]:|2[0-3]:)?([0-5]?[0-9]:)?[0-5]?[0-9](\\.\\d{0,3})?$)"
          },
          "Label": {
            "shape": "So"
          },
          "Encryption": {
            "shape": "Sc"
          }
        }
      },
      "max": 20
    },
    "Sm": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "So": {
      "type": "string",
      "max": 40,
      "min": 1
    },
    "Sr": {
      "type": "string",
      "pattern": "^\\d{1,5}(\\.\\d{0,5})?$"
    },
    "St": {
      "type": "list",
      "member": {
        "shape": "S5"
      },
      "max": 200
    },
    "Su": {
      "type": "structure",
      "members": {
        "Key": {
          "shape": "Sm"
        },
        "ThumbnailPattern": {
          "shape": "Sv"
        },
        "ThumbnailEncryption": {
          "shape": "Sc"
        },
        "Rotate": {
          "shape": "Sw"
        },
        "PresetId": {
          "shape": "S2"
        },
        "SegmentDuration": {
          "shape": "Sr"
        },
        "Watermarks": {
          "shape": "Sx"
        },
        "AlbumArt": {
          "shape": "S11"
        },
        "Composition": {
          "shape": "S19",
          "deprecated": true
        },
        "Captions": {
          "shape": "S1b"
        },
        "Encryption": {
          "shape": "Sc"
        }
      }
    },
    "Sv": {
      "type": "string",
      "pattern": "(^$)|(^.*\\{count\\}.*$)"
    },
    "Sw": {
      "type": "string",
      "pattern": "(^auto$)|(^0$)|(^90$)|(^180$)|(^270$)"
    },
    "Sx": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PresetWatermarkId": {
            "shape": "Sz"
          },
          "InputKey": {
            "shape": "S10"
          },
          "Encryption": {
            "shape": "Sc"
          }
        }
      }
    },
    "Sz": {
      "type": "string",
      "max": 40,
      "min": 1
    },
    "S10": {
      "type": "string",
      "max": 1024,
      "min": 1,
      "pattern": "(^.{1,1020}.jpg$)|(^.{1,1019}.jpeg$)|(^.{1,1020}.png$)"
    },
    "S11": {
      "type": "structure",
      "members": {
        "MergePolicy": {
          "type": "string",
          "pattern": "(^Replace$)|(^Prepend$)|(^Append$)|(^Fallback$)"
        },
        "Artwork": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "InputKey": {
                "shape": "S10"
              },
              "MaxWidth": {
                "shape": "S15"
              },
              "MaxHeight": {
                "shape": "S15"
              },
              "SizingPolicy": {
                "shape": "S16"
              },
              "PaddingPolicy": {
                "shape": "S17"
              },
              "AlbumArtFormat": {
                "shape": "S18"
              },
              "Encryption": {
                "shape": "Sc"
              }
            }
          }
        }
      }
    },
    "S15": {
      "type": "string",
      "pattern": "(^auto$)|(^\\d{2,4}$)"
    },
    "S16": {
      "type": "string",
      "pattern": "(^Fit$)|(^Fill$)|(^Stretch$)|(^Keep$)|(^ShrinkToFit$)|(^ShrinkToFill$)"
    },
    "S17": {
      "type": "string",
      "pattern": "(^Pad$)|(^NoPad$)"
    },
    "S18": {
      "type": "string",
      "pattern": "(^jpg$)|(^png$)"
    },
    "S19": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "TimeSpan": {
            "shape": "Sg"
          }
        },
        "deprecated": true
      },
      "deprecated": true
    },
    "S1b": {
      "type": "structure",
      "members": {
        "MergePolicy": {
          "shape": "Sj",
          "deprecated": true
        },
        "CaptionSources": {
          "shape": "Sk",
          "deprecated": true
        },
        "CaptionFormats": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Format": {
                "type": "string",
                "pattern": "(^mov-text$)|(^srt$)|(^scc$)|(^webvtt$)|(^dfxp$)|(^cea-708$)"
              },
              "Pattern": {
                "type": "string",
                "pattern": "(^$)|(^.*\\{language\\}.*$)"
              },
              "Encryption": {
                "shape": "Sc"
              }
            }
          },
          "max": 4
        }
      }
    },
    "S1j": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S1k": {
      "type": "string",
      "pattern": "(^HLSv3$)|(^HLSv4$)|(^Smooth$)|(^MPEG-DASH$)"
    },
    "S1l": {
      "type": "list",
      "member": {
        "shape": "Sm"
      },
      "max": 30
    },
    "S1m": {
      "type": "structure",
      "members": {
        "Method": {
          "type": "string",
          "pattern": "(^aes-128$)"
        },
        "Key": {
          "shape": "Se"
        },
        "KeyMd5": {
          "shape": "Se"
        },
        "InitializationVector": {
          "shape": "Sf"
        },
        "LicenseAcquisitionUrl": {
          "type": "string",
          "max": 512,
          "min": 0
        },
        "KeyStoragePolicy": {
          "type": "string",
          "pattern": "(^NoStore$)|(^WithVariantPlaylists$)"
        }
      }
    },
    "S1q": {
      "type": "structure",
      "members": {
        "Format": {
          "type": "string",
          "pattern": "(^microsoft$)|(^discretix-3.0$)"
        },
        "Key": {
          "shape": "S1s"
        },
        "KeyMd5": {
          "shape": "S1s"
        },
        "KeyId": {
          "type": "string",
          "pattern": "(^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}$)|(^[0-9A-Fa-f]{32}$)"
        },
        "InitializationVector": {
          "shape": "Sf"
        },
        "LicenseAcquisitionUrl": {
          "type": "string",
          "max": 512,
          "min": 1
        }
      }
    },
    "S1s": {
      "type": "string",
      "pattern": "(^(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}==|[A-Za-z0-9\\+/]{3}=)?$)"
    },
    "S1v": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1y": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S2"
        },
        "Arn": {},
        "PipelineId": {
          "shape": "S2"
        },
        "Input": {
          "shape": "S5"
        },
        "Inputs": {
          "shape": "St"
        },
        "Output": {
          "shape": "S1z"
        },
        "Outputs": {
          "type": "list",
          "member": {
            "shape": "S1z"
          }
        },
        "OutputKeyPrefix": {
          "shape": "Sm"
        },
        "Playlists": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Name": {
                "shape": "S1j"
              },
              "Format": {
                "shape": "S1k"
              },
              "OutputKeys": {
                "shape": "S1l"
              },
              "HlsContentProtection": {
                "shape": "S1m"
              },
              "PlayReadyDrm": {
                "shape": "S1q"
              },
              "Status": {
                "shape": "S20"
              },
              "StatusDetail": {
                "shape": "S21"
              }
            }
          }
        },
        "Status": {
          "shape": "S20"
        },
        "UserMetadata": {
          "shape": "S1v"
        },
        "Timing": {
          "type": "structure",
          "members": {
            "SubmitTimeMillis": {
              "type": "long"
            },
            "StartTimeMillis": {
              "type": "long"
            },
            "FinishTimeMillis": {
              "type": "long"
            }
          }
        }
      }
    },
    "S1z": {
      "type": "structure",
      "members": {
        "Id": {},
        "Key": {
          "shape": "Sm"
        },
        "ThumbnailPattern": {
          "shape": "Sv"
        },
        "ThumbnailEncryption": {
          "shape": "Sc"
        },
        "Rotate": {
          "shape": "Sw"
        },
        "PresetId": {
          "shape": "S2"
        },
        "SegmentDuration": {
          "shape": "Sr"
        },
        "Status": {
          "shape": "S20"
        },
        "StatusDetail": {
          "shape": "S21"
        },
        "Duration": {
          "type": "long"
        },
        "Width": {
          "type": "integer"
        },
        "Height": {
          "type": "integer"
        },
        "FrameRate": {
          "shape": "Sr"
        },
        "FileSize": {
          "type": "long"
        },
        "DurationMillis": {
          "type": "long"
        },
        "Watermarks": {
          "shape": "Sx"
        },
        "AlbumArt": {
          "shape": "S11"
        },
        "Composition": {
          "shape": "S19",
          "deprecated": true
        },
        "Captions": {
          "shape": "S1b"
        },
        "Encryption": {
          "shape": "Sc"
        },
        "AppliedColorSpaceConversion": {}
      }
    },
    "S20": {
      "type": "string",
      "pattern": "(^Submitted$)|(^Progressing$)|(^Complete$)|(^Canceled$)|(^Error$)"
    },
    "S21": {
      "type": "string",
      "max": 255,
      "min": 0
    },
    "S27": {
      "type": "string",
      "pattern": "^(\\w|\\.|-){1,255}$"
    },
    "S28": {
      "type": "string",
      "pattern": "^arn:aws:iam::\\w{12}:role/.+$"
    },
    "S29": {
      "type": "string",
      "max": 255,
      "min": 0
    },
    "S2a": {
      "type": "structure",
      "members": {
        "Progressing": {
          "shape": "S2b"
        },
        "Completed": {
          "shape": "S2b"
        },
        "Warning": {
          "shape": "S2b"
        },
        "Error": {
          "shape": "S2b"
        }
      }
    },
    "S2b": {
      "type": "string",
      "pattern": "(^$)|(^arn:aws:sns:.*:\\w{12}:.+$)"
    },
    "S2c": {
      "type": "structure",
      "members": {
        "Bucket": {
          "shape": "S27"
        },
        "StorageClass": {
          "type": "string",
          "pattern": "(^ReducedRedundancy$)|(^Standard$)"
        },
        "Permissions": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "GranteeType": {
                "type": "string",
                "pattern": "(^Canonical$)|(^Email$)|(^Group$)"
              },
              "Grantee": {
                "type": "string",
                "max": 255,
                "min": 1
              },
              "Access": {
                "type": "list",
                "member": {
                  "type": "string",
                  "pattern": "(^FullControl$)|(^Read$)|(^ReadAcp$)|(^WriteAcp$)"
                },
                "max": 30
              }
            }
          },
          "max": 30
        }
      }
    },
    "S2l": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S2"
        },
        "Arn": {},
        "Name": {
          "shape": "So"
        },
        "Status": {
          "shape": "S2m"
        },
        "InputBucket": {
          "shape": "S27"
        },
        "OutputBucket": {
          "shape": "S27"
        },
        "Role": {
          "shape": "S28"
        },
        "AwsKmsKeyArn": {
          "shape": "S29"
        },
        "Notifications": {
          "shape": "S2a"
        },
        "ContentConfig": {
          "shape": "S2c"
        },
        "ThumbnailConfig": {
          "shape": "S2c"
        }
      }
    },
    "S2m": {
      "type": "string",
      "pattern": "(^Active$)|(^Paused$)"
    },
    "S2n": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Code": {},
          "Message": {}
        }
      }
    },
    "S2q": {
      "type": "string",
      "pattern": "(^mp4$)|(^ts$)|(^webm$)|(^mp3$)|(^flac$)|(^oga$)|(^ogg$)|(^fmp4$)|(^mpg$)|(^flv$)|(^gif$)|(^mxf$)|(^wav$)|(^mp2$)"
    },
    "S2r": {
      "type": "structure",
      "members": {
        "Codec": {
          "type": "string",
          "pattern": "(^H\\.264$)|(^vp8$)|(^vp9$)|(^mpeg2$)|(^gif$)"
        },
        "CodecOptions": {
          "type": "map",
          "key": {
            "shape": "S2u"
          },
          "value": {
            "shape": "S2u"
          },
          "max": 30
        },
        "KeyframesMaxDist": {
          "type": "string",
          "pattern": "^\\d{1,6}$"
        },
        "FixedGOP": {
          "type": "string",
          "pattern": "(^true$)|(^false$)"
        },
        "BitRate": {
          "type": "string",
          "pattern": "(^\\d{2,5}$)|(^auto$)"
        },
        "FrameRate": {
          "shape": "S7"
        },
        "MaxFrameRate": {
          "type": "string",
          "pattern": "(^10$)|(^15$)|(^23.97$)|(^24$)|(^25$)|(^29.97$)|(^30$)|(^50$)|(^60$)"
        },
        "Resolution": {
          "shape": "S8"
        },
        "AspectRatio": {
          "shape": "S9"
        },
        "MaxWidth": {
          "shape": "S15"
        },
        "MaxHeight": {
          "shape": "S15"
        },
        "DisplayAspectRatio": {
          "shape": "S9"
        },
        "SizingPolicy": {
          "shape": "S16"
        },
        "PaddingPolicy": {
          "shape": "S17"
        },
        "Watermarks": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Id": {
                "shape": "Sz"
              },
              "MaxWidth": {
                "shape": "S31"
              },
              "MaxHeight": {
                "shape": "S31"
              },
              "SizingPolicy": {
                "type": "string",
                "pattern": "(^Fit$)|(^Stretch$)|(^ShrinkToFit$)"
              },
              "HorizontalAlign": {
                "type": "string",
                "pattern": "(^Left$)|(^Right$)|(^Center$)"
              },
              "HorizontalOffset": {
                "shape": "S31"
              },
              "VerticalAlign": {
                "type": "string",
                "pattern": "(^Top$)|(^Bottom$)|(^Center$)"
              },
              "VerticalOffset": {
                "shape": "S31"
              },
              "Opacity": {
                "type": "string",
                "pattern": "^\\d{1,3}(\\.\\d{0,20})?$"
              },
              "Target": {
                "type": "string",
                "pattern": "(^Content$)|(^Frame$)"
              }
            }
          }
        }
      }
    },
    "S2u": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S31": {
      "type": "string",
      "pattern": "(^\\d{1,3}(\\.\\d{0,5})?%$)|(^\\d{1,4}?px$)"
    },
    "S37": {
      "type": "structure",
      "members": {
        "Codec": {
          "type": "string",
          "pattern": "(^AAC$)|(^vorbis$)|(^mp3$)|(^mp2$)|(^pcm$)|(^flac$)"
        },
        "SampleRate": {
          "type": "string",
          "pattern": "(^auto$)|(^22050$)|(^32000$)|(^44100$)|(^48000$)|(^96000$)|(^192000$)"
        },
        "BitRate": {
          "type": "string",
          "pattern": "^\\d{1,3}$"
        },
        "Channels": {
          "type": "string",
          "pattern": "(^auto$)|(^0$)|(^1$)|(^2$)"
        },
        "AudioPackingMode": {
          "type": "string",
          "pattern": "(^SingleTrack$)|(^OneChannelPerTrack$)|(^OneChannelPerTrackWithMosTo8Tracks$)"
        },
        "CodecOptions": {
          "type": "structure",
          "members": {
            "Profile": {
              "type": "string",
              "pattern": "(^auto$)|(^AAC-LC$)|(^HE-AAC$)|(^HE-AACv2$)"
            },
            "BitDepth": {
              "type": "string",
              "pattern": "(^8$)|(^16$)|(^24$)|(^32$)"
            },
            "BitOrder": {
              "type": "string",
              "pattern": "(^LittleEndian$)"
            },
            "Signed": {
              "type": "string",
              "pattern": "(^Unsigned$)|(^Signed$)"
            }
          }
        }
      }
    },
    "S3i": {
      "type": "structure",
      "members": {
        "Format": {
          "shape": "S18"
        },
        "Interval": {
          "type": "string",
          "pattern": "^\\d{1,5}$"
        },
        "Resolution": {
          "type": "string",
          "pattern": "^\\d{1,5}x\\d{1,5}$"
        },
        "AspectRatio": {
          "shape": "S9"
        },
        "MaxWidth": {
          "shape": "S15"
        },
        "MaxHeight": {
          "shape": "S15"
        },
        "SizingPolicy": {
          "shape": "S16"
        },
        "PaddingPolicy": {
          "shape": "S17"
        }
      }
    },
    "S3m": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S2"
        },
        "Arn": {},
        "Name": {
          "shape": "So"
        },
        "Description": {
          "shape": "S21"
        },
        "Container": {
          "shape": "S2q"
        },
        "Audio": {
          "shape": "S37"
        },
        "Video": {
          "shape": "S2r"
        },
        "Thumbnails": {
          "shape": "S3i"
        },
        "Type": {
          "type": "string",
          "pattern": "(^System$)|(^Custom$)"
        }
      }
    },
    "S3t": {
      "type": "string",
      "pattern": "(^true$)|(^false$)"
    },
    "S3v": {
      "type": "list",
      "member": {
        "shape": "S1y"
      }
    }
  }
}