{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2010-12-01",
    "endpointPrefix": "elasticbeanstalk",
    "protocol": "query",
    "serviceAbbreviation": "Elastic Beanstalk",
    "serviceFullName": "AWS Elastic Beanstalk",
    "serviceId": "Elastic Beanstalk",
    "signatureVersion": "v4",
    "uid": "elasticbeanstalk-2010-12-01",
    "xmlNamespace": "http://elasticbeanstalk.amazonaws.com/docs/2010-12-01/"
  },
  "operations": {
    "AbortEnvironmentUpdate": {
      "input": {
        "type": "structure",
        "members": {
          "EnvironmentId": {},
          "EnvironmentName": {
            "shape": "S3"
          }
        }
      }
    },
    "ApplyEnvironmentManagedAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionId"
        ],
        "members": {
          "EnvironmentName": {},
          "EnvironmentId": {},
          "ActionId": {}
        }
      },
      "output": {
        "resultWrapper": "ApplyEnvironmentManagedActionResult",
        "type": "structure",
        "members": {
          "ActionId": {},
          "ActionDescription": {},
          "ActionType": {
            "shape": "S7"
          },
          "Status": {}
        }
      }
    },
    "CheckDNSAvailability": {
      "input": {
        "type": "structure",
        "required": [
          "CNAMEPrefix"
        ],
        "members": {
          "CNAMEPrefix": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "resultWrapper": "CheckDNSAvailabilityResult",
        "type": "structure",
        "members": {
          "Available": {
            "type": "boolean"
          },
          "FullyQualifiedCNAME": {
            "shape": "Sc"
          }
        }
      }
    },
    "ComposeEnvironments": {
      "input": {
        "type": "structure",
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "GroupName": {
            "shape": "Sf"
          },
          "VersionLabels": {
            "type": "list",
            "member": {
              "shape": "Sh"
            }
          }
        }
      },
      "output": {
        "shape": "Si",
        "resultWrapper": "ComposeEnvironmentsResult"
      }
    },
    "CreateApplication": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "Description": {
            "shape": "So"
          },
          "ResourceLifecycleConfig": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "shape": "S1d",
        "resultWrapper": "CreateApplicationResult"
      }
    },
    "CreateApplicationVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "VersionLabel"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "VersionLabel": {
            "shape": "Sh"
          },
          "Description": {
            "shape": "So"
          },
          "SourceBuildInformation": {
            "shape": "S1j"
          },
          "SourceBundle": {
            "shape": "S1n"
          },
          "BuildConfiguration": {
            "type": "structure",
            "required": [
              "CodeBuildServiceRole",
              "Image"
            ],
            "members": {
              "ArtifactName": {},
              "CodeBuildServiceRole": {
                "shape": "S1r"
              },
              "ComputeType": {
                "type": "string",
                "enum": [
                  "BUILD_GENERAL1_SMALL",
                  "BUILD_GENERAL1_MEDIUM",
                  "BUILD_GENERAL1_LARGE"
                ]
              },
              "Image": {
                "shape": "S1r"
              },
              "TimeoutInMinutes": {
                "type": "integer"
              }
            }
          },
          "AutoCreateApplication": {
            "type": "boolean"
          },
          "Process": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "shape": "S1v",
        "resultWrapper": "CreateApplicationVersionResult"
      }
    },
    "CreateConfigurationTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "TemplateName"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "TemplateName": {
            "shape": "Sn"
          },
          "SolutionStackName": {},
          "PlatformArn": {},
          "SourceConfiguration": {
            "type": "structure",
            "members": {
              "ApplicationName": {
                "shape": "Se"
              },
              "TemplateName": {
                "shape": "Sn"
              }
            }
          },
          "EnvironmentId": {},
          "Description": {
            "shape": "So"
          },
          "OptionSettings": {
            "shape": "S21"
          }
        }
      },
      "output": {
        "shape": "S27",
        "resultWrapper": "CreateConfigurationTemplateResult"
      }
    },
    "CreateEnvironment": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "EnvironmentName": {
            "shape": "S3"
          },
          "GroupName": {
            "shape": "Sf"
          },
          "Description": {
            "shape": "So"
          },
          "CNAMEPrefix": {
            "shape": "S9"
          },
          "Tier": {
            "shape": "S11"
          },
          "Tags": {
            "type": "list",
            "member": {
              "shape": "S2b"
            }
          },
          "VersionLabel": {
            "shape": "Sh"
          },
          "TemplateName": {
            "shape": "Sn"
          },
          "SolutionStackName": {},
          "PlatformArn": {},
          "OptionSettings": {
            "shape": "S21"
          },
          "OptionsToRemove": {
            "shape": "S2e"
          }
        }
      },
      "output": {
        "shape": "Sk",
        "resultWrapper": "CreateEnvironmentResult"
      }
    },
    "CreatePlatformVersion": {
      "input": {
        "type": "structure",
        "required": [
          "PlatformName",
          "PlatformVersion",
          "PlatformDefinitionBundle"
        ],
        "members": {
          "PlatformName": {},
          "PlatformVersion": {},
          "PlatformDefinitionBundle": {
            "shape": "S1n"
          },
          "EnvironmentName": {
            "shape": "S3"
          },
          "OptionSettings": {
            "shape": "S21"
          }
        }
      },
      "output": {
        "resultWrapper": "CreatePlatformVersionResult",
        "type": "structure",
        "members": {
          "PlatformSummary": {
            "shape": "S2k"
          },
          "Builder": {
            "type": "structure",
            "members": {
              "ARN": {}
            }
          }
        }
      }
    },
    "CreateStorageLocation": {
      "output": {
        "resultWrapper": "CreateStorageLocationResult",
        "type": "structure",
        "members": {
          "S3Bucket": {
            "shape": "S1o"
          }
        }
      }
    },
    "DeleteApplication": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "TerminateEnvByForce": {
            "type": "boolean"
          }
        }
      }
    },
    "DeleteApplicationVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "VersionLabel"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "VersionLabel": {
            "shape": "Sh"
          },
          "DeleteSourceBundle": {
            "type": "boolean"
          }
        }
      }
    },
    "DeleteConfigurationTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "TemplateName"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "TemplateName": {
            "shape": "Sn"
          }
        }
      }
    },
    "DeleteEnvironmentConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "EnvironmentName"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "EnvironmentName": {
            "shape": "S3"
          }
        }
      }
    },
    "DeletePlatformVersion": {
      "input": {
        "type": "structure",
        "members": {
          "PlatformArn": {}
        }
      },
      "output": {
        "resultWrapper": "DeletePlatformVersionResult",
        "type": "structure",
        "members": {
          "PlatformSummary": {
            "shape": "S2k"
          }
        }
      }
    },
    "DescribeAccountAttributes": {
      "output": {
        "resultWrapper": "DescribeAccountAttributesResult",
        "type": "structure",
        "members": {
          "ResourceQuotas": {
            "type": "structure",
            "members": {
              "ApplicationQuota": {
                "shape": "S37"
              },
              "ApplicationVersionQuota": {
                "shape": "S37"
              },
              "EnvironmentQuota": {
                "shape": "S37"
              },
              "ConfigurationTemplateQuota": {
                "shape": "S37"
              },
              "CustomPlatformQuota": {
                "shape": "S37"
              }
            }
          }
        }
      }
    },
    "DescribeApplicationVersions": {
      "input": {
        "type": "structure",
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "VersionLabels": {
            "shape": "S1g"
          },
          "MaxRecords": {
            "shape": "S39"
          },
          "NextToken": {}
        }
      },
      "output": {
        "resultWrapper": "DescribeApplicationVersionsResult",
        "type": "structure",
        "members": {
          "ApplicationVersions": {
            "type": "list",
            "member": {
              "shape": "S1w"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeApplications": {
      "input": {
        "type": "structure",
        "members": {
          "ApplicationNames": {
            "type": "list",
            "member": {
              "shape": "Se"
            }
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeApplicationsResult",
        "type": "structure",
        "members": {
          "Applications": {
            "type": "list",
            "member": {
              "shape": "S1e"
            }
          }
        }
      }
    },
    "DescribeConfigurationOptions": {
      "input": {
        "type": "structure",
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "TemplateName": {
            "shape": "Sn"
          },
          "EnvironmentName": {
            "shape": "S3"
          },
          "SolutionStackName": {},
          "PlatformArn": {},
          "Options": {
            "shape": "S2e"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeConfigurationOptionsResult",
        "type": "structure",
        "members": {
          "SolutionStackName": {},
          "PlatformArn": {},
          "Options": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Namespace": {},
                "Name": {},
                "DefaultValue": {},
                "ChangeSeverity": {},
                "UserDefined": {
                  "type": "boolean"
                },
                "ValueType": {
                  "type": "string",
                  "enum": [
                    "Scalar",
                    "List"
                  ]
                },
                "ValueOptions": {
                  "type": "list",
                  "member": {}
                },
                "MinValue": {
                  "type": "integer"
                },
                "MaxValue": {
                  "type": "integer"
                },
                "MaxLength": {
                  "type": "integer"
                },
                "Regex": {
                  "type": "structure",
                  "members": {
                    "Pattern": {},
                    "Label": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeConfigurationSettings": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "TemplateName": {
            "shape": "Sn"
          },
          "EnvironmentName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeConfigurationSettingsResult",
        "type": "structure",
        "members": {
          "ConfigurationSettings": {
            "type": "list",
            "member": {
              "shape": "S27"
            }
          }
        }
      }
    },
    "DescribeEnvironmentHealth": {
      "input": {
        "type": "structure",
        "members": {
          "EnvironmentName": {
            "shape": "S3"
          },
          "EnvironmentId": {},
          "AttributeNames": {
            "type": "list",
            "member": {
              "type": "string",
              "enum": [
                "Status",
                "Color",
                "Causes",
                "ApplicationMetrics",
                "InstancesHealth",
                "All",
                "HealthStatus",
                "RefreshedAt"
              ]
            }
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeEnvironmentHealthResult",
        "type": "structure",
        "members": {
          "EnvironmentName": {
            "shape": "S3"
          },
          "HealthStatus": {},
          "Status": {
            "shape": "Su"
          },
          "Color": {},
          "Causes": {
            "shape": "S43"
          },
          "ApplicationMetrics": {
            "shape": "S45"
          },
          "InstancesHealth": {
            "type": "structure",
            "members": {
              "NoData": {
                "type": "integer"
              },
              "Unknown": {
                "type": "integer"
              },
              "Pending": {
                "type": "integer"
              },
              "Ok": {
                "type": "integer"
              },
              "Info": {
                "type": "integer"
              },
              "Warning": {
                "type": "integer"
              },
              "Degraded": {
                "type": "integer"
              },
              "Severe": {
                "type": "integer"
              }
            }
          },
          "RefreshedAt": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeEnvironmentManagedActionHistory": {
      "input": {
        "type": "structure",
        "members": {
          "EnvironmentId": {},
          "EnvironmentName": {
            "shape": "S3"
          },
          "NextToken": {},
          "MaxItems": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeEnvironmentManagedActionHistoryResult",
        "type": "structure",
        "members": {
          "ManagedActionHistoryItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ActionId": {},
                "ActionType": {
                  "shape": "S7"
                },
                "ActionDescription": {},
                "FailureType": {
                  "type": "string",
                  "enum": [
                    "UpdateCancelled",
                    "CancellationFailed",
                    "RollbackFailed",
                    "RollbackSuccessful",
                    "InternalFailure",
                    "InvalidEnvironmentState",
                    "PermissionsError"
                  ]
                },
                "Status": {
                  "type": "string",
                  "enum": [
                    "Completed",
                    "Failed",
                    "Unknown"
                  ]
                },
                "FailureDescription": {},
                "ExecutedTime": {
                  "type": "timestamp"
                },
                "FinishedTime": {
                  "type": "timestamp"
                }
              }
            },
            "max": 100,
            "min": 1
          },
          "NextToken": {}
        }
      }
    },
    "DescribeEnvironmentManagedActions": {
      "input": {
        "type": "structure",
        "members": {
          "EnvironmentName": {},
          "EnvironmentId": {},
          "Status": {
            "shape": "S4l"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeEnvironmentManagedActionsResult",
        "type": "structure",
        "members": {
          "ManagedActions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ActionId": {},
                "ActionDescription": {},
                "ActionType": {
                  "shape": "S7"
                },
                "Status": {
                  "shape": "S4l"
                },
                "WindowStartTime": {
                  "type": "timestamp"
                }
              }
            },
            "max": 100,
            "min": 1
          }
        }
      }
    },
    "DescribeEnvironmentResources": {
      "input": {
        "type": "structure",
        "members": {
          "EnvironmentId": {},
          "EnvironmentName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeEnvironmentResourcesResult",
        "type": "structure",
        "members": {
          "EnvironmentResources": {
            "type": "structure",
            "members": {
              "EnvironmentName": {
                "shape": "S3"
              },
              "AutoScalingGroups": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {}
                  }
                }
              },
              "Instances": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Id": {}
                  }
                }
              },
              "LaunchConfigurations": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {}
                  }
                }
              },
              "LoadBalancers": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {}
                  }
                }
              },
              "Triggers": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {}
                  }
                }
              },
              "Queues": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {},
                    "URL": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeEnvironments": {
      "input": {
        "type": "structure",
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "VersionLabel": {
            "shape": "Sh"
          },
          "EnvironmentIds": {
            "type": "list",
            "member": {}
          },
          "EnvironmentNames": {
            "type": "list",
            "member": {
              "shape": "S3"
            }
          },
          "IncludeDeleted": {
            "type": "boolean"
          },
          "IncludedDeletedBackTo": {
            "type": "timestamp"
          },
          "MaxRecords": {
            "shape": "S39"
          },
          "NextToken": {}
        }
      },
      "output": {
        "shape": "Si",
        "resultWrapper": "DescribeEnvironmentsResult"
      }
    },
    "DescribeEvents": {
      "input": {
        "type": "structure",
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "VersionLabel": {
            "shape": "Sh"
          },
          "TemplateName": {
            "shape": "Sn"
          },
          "EnvironmentId": {},
          "EnvironmentName": {
            "shape": "S3"
          },
          "PlatformArn": {},
          "RequestId": {},
          "Severity": {
            "shape": "S5c"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "MaxRecords": {
            "shape": "S39"
          },
          "NextToken": {}
        }
      },
      "output": {
        "resultWrapper": "DescribeEventsResult",
        "type": "structure",
        "members": {
          "Events": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EventDate": {
                  "type": "timestamp"
                },
                "Message": {},
                "ApplicationName": {
                  "shape": "Se"
                },
                "VersionLabel": {
                  "shape": "Sh"
                },
                "TemplateName": {
                  "shape": "Sn"
                },
                "EnvironmentName": {
                  "shape": "S3"
                },
                "PlatformArn": {},
                "RequestId": {},
                "Severity": {
                  "shape": "S5c"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeInstancesHealth": {
      "input": {
        "type": "structure",
        "members": {
          "EnvironmentName": {
            "shape": "S3"
          },
          "EnvironmentId": {},
          "AttributeNames": {
            "type": "list",
            "member": {
              "type": "string",
              "enum": [
                "HealthStatus",
                "Color",
                "Causes",
                "ApplicationMetrics",
                "RefreshedAt",
                "LaunchedAt",
                "System",
                "Deployment",
                "AvailabilityZone",
                "InstanceType",
                "All"
              ]
            }
          },
          "NextToken": {
            "shape": "S5n"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeInstancesHealthResult",
        "type": "structure",
        "members": {
          "InstanceHealthList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "InstanceId": {
                  "type": "string",
                  "max": 255,
                  "min": 1
                },
                "HealthStatus": {},
                "Color": {},
                "Causes": {
                  "shape": "S43"
                },
                "LaunchedAt": {
                  "type": "timestamp"
                },
                "ApplicationMetrics": {
                  "shape": "S45"
                },
                "System": {
                  "type": "structure",
                  "members": {
                    "CPUUtilization": {
                      "type": "structure",
                      "members": {
                        "User": {
                          "type": "double"
                        },
                        "Nice": {
                          "type": "double"
                        },
                        "System": {
                          "type": "double"
                        },
                        "Idle": {
                          "type": "double"
                        },
                        "IOWait": {
                          "type": "double"
                        },
                        "IRQ": {
                          "type": "double"
                        },
                        "SoftIRQ": {
                          "type": "double"
                        },
                        "Privileged": {
                          "type": "double"
                        }
                      }
                    },
                    "LoadAverage": {
                      "type": "list",
                      "member": {
                        "type": "double"
                      }
                    }
                  }
                },
                "Deployment": {
                  "type": "structure",
                  "members": {
                    "VersionLabel": {},
                    "DeploymentId": {
                      "type": "long"
                    },
                    "Status": {},
                    "DeploymentTime": {
                      "type": "timestamp"
                    }
                  }
                },
                "AvailabilityZone": {},
                "InstanceType": {}
              }
            }
          },
          "RefreshedAt": {
            "type": "timestamp"
          },
          "NextToken": {
            "shape": "S5n"
          }
        }
      }
    },
    "DescribePlatformVersion": {
      "input": {
        "type": "structure",
        "members": {
          "PlatformArn": {}
        }
      },
      "output": {
        "resultWrapper": "DescribePlatformVersionResult",
        "type": "structure",
        "members": {
          "PlatformDescription": {
            "type": "structure",
            "members": {
              "PlatformArn": {},
              "PlatformOwner": {},
              "PlatformName": {},
              "PlatformVersion": {},
              "SolutionStackName": {},
              "PlatformStatus": {
                "shape": "S2m"
              },
              "DateCreated": {
                "type": "timestamp"
              },
              "DateUpdated": {
                "type": "timestamp"
              },
              "PlatformCategory": {},
              "Description": {
                "shape": "So"
              },
              "Maintainer": {},
              "OperatingSystemName": {},
              "OperatingSystemVersion": {},
              "ProgrammingLanguages": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {},
                    "Version": {}
                  }
                }
              },
              "Frameworks": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {},
                    "Version": {}
                  }
                }
              },
              "CustomAmiList": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "VirtualizationType": {},
                    "ImageId": {}
                  }
                }
              },
              "SupportedTierList": {
                "shape": "S2q"
              },
              "SupportedAddonList": {
                "shape": "S2s"
              }
            }
          }
        }
      }
    },
    "ListAvailableSolutionStacks": {
      "output": {
        "resultWrapper": "ListAvailableSolutionStacksResult",
        "type": "structure",
        "members": {
          "SolutionStacks": {
            "type": "list",
            "member": {}
          },
          "SolutionStackDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SolutionStackName": {},
                "PermittedFileTypes": {
                  "type": "list",
                  "member": {
                    "type": "string",
                    "max": 100,
                    "min": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "ListPlatformVersions": {
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Type": {},
                "Operator": {},
                "Values": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "MaxRecords": {
            "type": "integer",
            "min": 1
          },
          "NextToken": {}
        }
      },
      "output": {
        "resultWrapper": "ListPlatformVersionsResult",
        "type": "structure",
        "members": {
          "PlatformSummaryList": {
            "type": "list",
            "member": {
              "shape": "S2k"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "resultWrapper": "ListTagsForResourceResult",
        "type": "structure",
        "members": {
          "ResourceArn": {},
          "ResourceTags": {
            "shape": "S6v"
          }
        }
      }
    },
    "RebuildEnvironment": {
      "input": {
        "type": "structure",
        "members": {
          "EnvironmentId": {},
          "EnvironmentName": {
            "shape": "S3"
          }
        }
      }
    },
    "RequestEnvironmentInfo": {
      "input": {
        "type": "structure",
        "required": [
          "InfoType"
        ],
        "members": {
          "EnvironmentId": {},
          "EnvironmentName": {
            "shape": "S3"
          },
          "InfoType": {
            "shape": "S6y"
          }
        }
      }
    },
    "RestartAppServer": {
      "input": {
        "type": "structure",
        "members": {
          "EnvironmentId": {},
          "EnvironmentName": {
            "shape": "S3"
          }
        }
      }
    },
    "RetrieveEnvironmentInfo": {
      "input": {
        "type": "structure",
        "required": [
          "InfoType"
        ],
        "members": {
          "EnvironmentId": {},
          "EnvironmentName": {
            "shape": "S3"
          },
          "InfoType": {
            "shape": "S6y"
          }
        }
      },
      "output": {
        "resultWrapper": "RetrieveEnvironmentInfoResult",
        "type": "structure",
        "members": {
          "EnvironmentInfo": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "InfoType": {
                  "shape": "S6y"
                },
                "Ec2InstanceId": {},
                "SampleTimestamp": {
                  "type": "timestamp"
                },
                "Message": {}
              }
            }
          }
        }
      }
    },
    "SwapEnvironmentCNAMEs": {
      "input": {
        "type": "structure",
        "members": {
          "SourceEnvironmentId": {},
          "SourceEnvironmentName": {
            "shape": "S3"
          },
          "DestinationEnvironmentId": {},
          "DestinationEnvironmentName": {
            "shape": "S3"
          }
        }
      }
    },
    "TerminateEnvironment": {
      "input": {
        "type": "structure",
        "members": {
          "EnvironmentId": {},
          "EnvironmentName": {
            "shape": "S3"
          },
          "TerminateResources": {
            "type": "boolean"
          },
          "ForceTerminate": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "shape": "Sk",
        "resultWrapper": "TerminateEnvironmentResult"
      }
    },
    "UpdateApplication": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "Description": {
            "shape": "So"
          }
        }
      },
      "output": {
        "shape": "S1d",
        "resultWrapper": "UpdateApplicationResult"
      }
    },
    "UpdateApplicationResourceLifecycle": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "ResourceLifecycleConfig"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "ResourceLifecycleConfig": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateApplicationResourceLifecycleResult",
        "type": "structure",
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "ResourceLifecycleConfig": {
            "shape": "S17"
          }
        }
      }
    },
    "UpdateApplicationVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "VersionLabel"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "VersionLabel": {
            "shape": "Sh"
          },
          "Description": {
            "shape": "So"
          }
        }
      },
      "output": {
        "shape": "S1v",
        "resultWrapper": "UpdateApplicationVersionResult"
      }
    },
    "UpdateConfigurationTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "TemplateName"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "TemplateName": {
            "shape": "Sn"
          },
          "Description": {
            "shape": "So"
          },
          "OptionSettings": {
            "shape": "S21"
          },
          "OptionsToRemove": {
            "shape": "S2e"
          }
        }
      },
      "output": {
        "shape": "S27",
        "resultWrapper": "UpdateConfigurationTemplateResult"
      }
    },
    "UpdateEnvironment": {
      "input": {
        "type": "structure",
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "EnvironmentId": {},
          "EnvironmentName": {
            "shape": "S3"
          },
          "GroupName": {
            "shape": "Sf"
          },
          "Description": {
            "shape": "So"
          },
          "Tier": {
            "shape": "S11"
          },
          "VersionLabel": {
            "shape": "Sh"
          },
          "TemplateName": {
            "shape": "Sn"
          },
          "SolutionStackName": {},
          "PlatformArn": {},
          "OptionSettings": {
            "shape": "S21"
          },
          "OptionsToRemove": {
            "shape": "S2e"
          }
        }
      },
      "output": {
        "shape": "Sk",
        "resultWrapper": "UpdateEnvironmentResult"
      }
    },
    "UpdateTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {},
          "TagsToAdd": {
            "shape": "S6v"
          },
          "TagsToRemove": {
            "type": "list",
            "member": {
              "shape": "S2c"
            }
          }
        }
      }
    },
    "ValidateConfigurationSettings": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "OptionSettings"
        ],
        "members": {
          "ApplicationName": {
            "shape": "Se"
          },
          "TemplateName": {
            "shape": "Sn"
          },
          "EnvironmentName": {
            "shape": "S3"
          },
          "OptionSettings": {
            "shape": "S21"
          }
        }
      },
      "output": {
        "resultWrapper": "ValidateConfigurationSettingsResult",
        "type": "structure",
        "members": {
          "Messages": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Message": {},
                "Severity": {
                  "type": "string",
                  "enum": [
                    "error",
                    "warning"
                  ]
                },
                "Namespace": {},
                "OptionName": {}
              }
            }
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "string",
      "max": 40,
      "min": 4
    },
    "S7": {
      "type": "string",
      "enum": [
        "InstanceRefresh",
        "PlatformUpdate",
        "Unknown"
      ]
    },
    "S9": {
      "type": "string",
      "max": 63,
      "min": 4
    },
    "Sc": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "Se": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "Sf": {
      "type": "string",
      "max": 19,
      "min": 1
    },
    "Sh": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "Si": {
      "type": "structure",
      "members": {
        "Environments": {
          "type": "list",
          "member": {
            "shape": "Sk"
          }
        },
        "NextToken": {}
      }
    },
    "Sk": {
      "type": "structure",
      "members": {
        "EnvironmentName": {
          "shape": "S3"
        },
        "EnvironmentId": {},
        "ApplicationName": {
          "shape": "Se"
        },
        "VersionLabel": {
          "shape": "Sh"
        },
        "SolutionStackName": {},
        "PlatformArn": {},
        "TemplateName": {
          "shape": "Sn"
        },
        "Description": {
          "shape": "So"
        },
        "EndpointURL": {},
        "CNAME": {
          "shape": "Sc"
        },
        "DateCreated": {
          "type": "timestamp"
        },
        "DateUpdated": {
          "type": "timestamp"
        },
        "Status": {
          "type": "string",
          "enum": [
            "Launching",
            "Updating",
            "Ready",
            "Terminating",
            "Terminated"
          ]
        },
        "AbortableOperationInProgress": {
          "type": "boolean"
        },
        "Health": {
          "shape": "Su"
        },
        "HealthStatus": {
          "type": "string",
          "enum": [
            "NoData",
            "Unknown",
            "Pending",
            "Ok",
            "Info",
            "Warning",
            "Degraded",
            "Severe",
            "Suspended"
          ]
        },
        "Resources": {
          "type": "structure",
          "members": {
            "LoadBalancer": {
              "type": "structure",
              "members": {
                "LoadBalancerName": {},
                "Domain": {},
                "Listeners": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Protocol": {},
                      "Port": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Tier": {
          "shape": "S11"
        },
        "EnvironmentLinks": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "LinkName": {},
              "EnvironmentName": {}
            }
          }
        },
        "EnvironmentArn": {}
      }
    },
    "Sn": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "So": {
      "type": "string",
      "max": 200
    },
    "Su": {
      "type": "string",
      "enum": [
        "Green",
        "Yellow",
        "Red",
        "Grey"
      ]
    },
    "S11": {
      "type": "structure",
      "members": {
        "Name": {},
        "Type": {},
        "Version": {}
      }
    },
    "S17": {
      "type": "structure",
      "members": {
        "ServiceRole": {},
        "VersionLifecycleConfig": {
          "type": "structure",
          "members": {
            "MaxCountRule": {
              "type": "structure",
              "required": [
                "Enabled"
              ],
              "members": {
                "Enabled": {
                  "type": "boolean"
                },
                "MaxCount": {
                  "type": "integer"
                },
                "DeleteSourceFromS3": {
                  "type": "boolean"
                }
              }
            },
            "MaxAgeRule": {
              "type": "structure",
              "required": [
                "Enabled"
              ],
              "members": {
                "Enabled": {
                  "type": "boolean"
                },
                "MaxAgeInDays": {
                  "type": "integer"
                },
                "DeleteSourceFromS3": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "S1d": {
      "type": "structure",
      "members": {
        "Application": {
          "shape": "S1e"
        }
      }
    },
    "S1e": {
      "type": "structure",
      "members": {
        "ApplicationArn": {},
        "ApplicationName": {
          "shape": "Se"
        },
        "Description": {
          "shape": "So"
        },
        "DateCreated": {
          "type": "timestamp"
        },
        "DateUpdated": {
          "type": "timestamp"
        },
        "Versions": {
          "shape": "S1g"
        },
        "ConfigurationTemplates": {
          "type": "list",
          "member": {
            "shape": "Sn"
          }
        },
        "ResourceLifecycleConfig": {
          "shape": "S17"
        }
      }
    },
    "S1g": {
      "type": "list",
      "member": {
        "shape": "Sh"
      }
    },
    "S1j": {
      "type": "structure",
      "required": [
        "SourceType",
        "SourceRepository",
        "SourceLocation"
      ],
      "members": {
        "SourceType": {
          "type": "string",
          "enum": [
            "Git",
            "Zip"
          ]
        },
        "SourceRepository": {
          "type": "string",
          "enum": [
            "CodeCommit",
            "S3"
          ]
        },
        "SourceLocation": {
          "type": "string",
          "max": 255,
          "min": 3,
          "pattern": ".+/.+"
        }
      }
    },
    "S1n": {
      "type": "structure",
      "members": {
        "S3Bucket": {
          "shape": "S1o"
        },
        "S3Key": {
          "type": "string",
          "max": 1024
        }
      }
    },
    "S1o": {
      "type": "string",
      "max": 255
    },
    "S1r": {
      "type": "string",
      "pattern": ".*\\S.*"
    },
    "S1v": {
      "type": "structure",
      "members": {
        "ApplicationVersion": {
          "shape": "S1w"
        }
      }
    },
    "S1w": {
      "type": "structure",
      "members": {
        "ApplicationVersionArn": {},
        "ApplicationName": {
          "shape": "Se"
        },
        "Description": {
          "shape": "So"
        },
        "VersionLabel": {
          "shape": "Sh"
        },
        "SourceBuildInformation": {
          "shape": "S1j"
        },
        "BuildArn": {},
        "SourceBundle": {
          "shape": "S1n"
        },
        "DateCreated": {
          "type": "timestamp"
        },
        "DateUpdated": {
          "type": "timestamp"
        },
        "Status": {
          "type": "string",
          "enum": [
            "Processed",
            "Unprocessed",
            "Failed",
            "Processing",
            "Building"
          ]
        }
      }
    },
    "S21": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ResourceName": {
            "shape": "S23"
          },
          "Namespace": {},
          "OptionName": {},
          "Value": {}
        }
      }
    },
    "S23": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S27": {
      "type": "structure",
      "members": {
        "SolutionStackName": {},
        "PlatformArn": {},
        "ApplicationName": {
          "shape": "Se"
        },
        "TemplateName": {
          "shape": "Sn"
        },
        "Description": {
          "shape": "So"
        },
        "EnvironmentName": {
          "shape": "S3"
        },
        "DeploymentStatus": {
          "type": "string",
          "enum": [
            "deployed",
            "pending",
            "failed"
          ]
        },
        "DateCreated": {
          "type": "timestamp"
        },
        "DateUpdated": {
          "type": "timestamp"
        },
        "OptionSettings": {
          "shape": "S21"
        }
      }
    },
    "S2b": {
      "type": "structure",
      "members": {
        "Key": {
          "shape": "S2c"
        },
        "Value": {
          "type": "string",
          "max": 256,
          "min": 1
        }
      }
    },
    "S2c": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S2e": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ResourceName": {
            "shape": "S23"
          },
          "Namespace": {},
          "OptionName": {}
        }
      }
    },
    "S2k": {
      "type": "structure",
      "members": {
        "PlatformArn": {},
        "PlatformOwner": {},
        "PlatformStatus": {
          "shape": "S2m"
        },
        "PlatformCategory": {},
        "OperatingSystemName": {},
        "OperatingSystemVersion": {},
        "SupportedTierList": {
          "shape": "S2q"
        },
        "SupportedAddonList": {
          "shape": "S2s"
        }
      }
    },
    "S2m": {
      "type": "string",
      "enum": [
        "Creating",
        "Failed",
        "Ready",
        "Deleting",
        "Deleted"
      ]
    },
    "S2q": {
      "type": "list",
      "member": {}
    },
    "S2s": {
      "type": "list",
      "member": {}
    },
    "S37": {
      "type": "structure",
      "members": {
        "Maximum": {
          "type": "integer"
        }
      }
    },
    "S39": {
      "type": "integer",
      "max": 1000,
      "min": 1
    },
    "S43": {
      "type": "list",
      "member": {
        "type": "string",
        "max": 255,
        "min": 1
      }
    },
    "S45": {
      "type": "structure",
      "members": {
        "Duration": {
          "type": "integer"
        },
        "RequestCount": {
          "type": "integer"
        },
        "StatusCodes": {
          "type": "structure",
          "members": {
            "Status2xx": {
              "type": "integer"
            },
            "Status3xx": {
              "type": "integer"
            },
            "Status4xx": {
              "type": "integer"
            },
            "Status5xx": {
              "type": "integer"
            }
          }
        },
        "Latency": {
          "type": "structure",
          "members": {
            "P999": {
              "type": "double"
            },
            "P99": {
              "type": "double"
            },
            "P95": {
              "type": "double"
            },
            "P90": {
              "type": "double"
            },
            "P85": {
              "type": "double"
            },
            "P75": {
              "type": "double"
            },
            "P50": {
              "type": "double"
            },
            "P10": {
              "type": "double"
            }
          }
        }
      }
    },
    "S4l": {
      "type": "string",
      "enum": [
        "Scheduled",
        "Pending",
        "Running",
        "Unknown"
      ]
    },
    "S5c": {
      "type": "string",
      "enum": [
        "TRACE",
        "DEBUG",
        "INFO",
        "WARN",
        "ERROR",
        "FATAL"
      ]
    },
    "S5n": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "S6v": {
      "type": "list",
      "member": {
        "shape": "S2b"
      }
    },
    "S6y": {
      "type": "string",
      "enum": [
        "tail",
        "bundle"
      ]
    }
  }
}