{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2010-12-01",
    "endpointPrefix":"email",
    "serviceAbbreviation":"Amazon SES",
    "serviceFullName":"Amazon Simple Email Service",
    "signatureVersion":"v4",
    "signingName":"ses",
    "xmlNamespace":"http://ses.amazonaws.com/doc/2010-12-01/",
    "protocol":"query"
  },
  "documentation":"<fullname>Amazon Simple Email Service</fullname> <p> This is the API Reference for Amazon Simple Email Service (Amazon SES). This documentation is intended to be used in conjunction with the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/Welcome.html\">Amazon SES Developer Guide</a>. </p> <note>For a list of Amazon SES endpoints to use in service requests, see <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/regions.html\">Regions and Amazon SES</a> in the Amazon SES Developer Guide. </note>",
  "operations":{
    "CloneReceiptRuleSet":{
      "name":"CloneReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CloneReceiptRuleSetRequest"},
      "output":{
        "shape":"CloneReceiptRuleSetResponse",
        "resultWrapper":"CloneReceiptRuleSetResult"
      },
      "errors":[
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule set does not exist.</p>"
        },
        {
          "shape":"AlreadyExistsException",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a resource could not be created due to a naming conflict.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a resource could not be created due to service limits. For a list of Amazon SES limits, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/limits.html\">Amazon SES Developer Guide</a>.</p>"
        }
      ],
      "documentation":"<p>Creates a receipt rule set by cloning an existing one. All receipt rules and configurations are copied to the new receipt rule set and are completely independent of the source rule set.</p> <p>For information about setting up rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "CreateReceiptFilter":{
      "name":"CreateReceiptFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReceiptFilterRequest"},
      "output":{
        "shape":"CreateReceiptFilterResponse",
        "resultWrapper":"CreateReceiptFilterResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a resource could not be created due to service limits. For a list of Amazon SES limits, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/limits.html\">Amazon SES Developer Guide</a>.</p>"
        },
        {
          "shape":"AlreadyExistsException",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a resource could not be created due to a naming conflict.</p>"
        }
      ],
      "documentation":"<p>Creates a new IP address filter.</p> <p>For information about setting up IP address filters, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "CreateReceiptRule":{
      "name":"CreateReceiptRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReceiptRuleRequest"},
      "output":{
        "shape":"CreateReceiptRuleResponse",
        "resultWrapper":"CreateReceiptRuleResult"
      },
      "errors":[
        {
          "shape":"InvalidSnsTopicException",
          "error":{
            "code":"InvalidSnsTopic",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided Amazon SNS topic is invalid, or that Amazon SES could not publish to the topic, possibly due to permissions issues. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p>"
        },
        {
          "shape":"InvalidS3ConfigurationException",
          "error":{
            "code":"InvalidS3Configuration",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided Amazon S3 bucket or AWS KMS encryption key is invalid, or that Amazon SES could not publish to the bucket, possibly due to permissions issues. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p>"
        },
        {
          "shape":"InvalidLambdaFunctionException",
          "error":{
            "code":"InvalidLambdaFunction",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided AWS Lambda function is invalid, or that Amazon SES could not execute the provided function, possibly due to permissions issues. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p>"
        },
        {
          "shape":"AlreadyExistsException",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a resource could not be created due to a naming conflict.</p>"
        },
        {
          "shape":"RuleDoesNotExistException",
          "error":{
            "code":"RuleDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule does not exist.</p>"
        },
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule set does not exist.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a resource could not be created due to service limits. For a list of Amazon SES limits, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/limits.html\">Amazon SES Developer Guide</a>.</p>"
        }
      ],
      "documentation":"<p>Creates a receipt rule.</p> <p>For information about setting up receipt rules, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "CreateReceiptRuleSet":{
      "name":"CreateReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReceiptRuleSetRequest"},
      "output":{
        "shape":"CreateReceiptRuleSetResponse",
        "resultWrapper":"CreateReceiptRuleSetResult"
      },
      "errors":[
        {
          "shape":"AlreadyExistsException",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a resource could not be created due to a naming conflict.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a resource could not be created due to service limits. For a list of Amazon SES limits, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/limits.html\">Amazon SES Developer Guide</a>.</p>"
        }
      ],
      "documentation":"<p>Creates an empty receipt rule set.</p> <p>For information about setting up receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "DeleteIdentity":{
      "name":"DeleteIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteIdentityRequest",
        "documentation":"<p>Represents a request instructing the service to delete an identity from the list of identities for the AWS Account.</p>"
      },
      "output":{
        "shape":"DeleteIdentityResponse",
        "documentation":"<p>An empty element. Receiving this element indicates that the request completed successfully.</p>",
        "resultWrapper":"DeleteIdentityResult"
      },
      "documentation":"<p>Deletes the specified identity (email address or domain) from the list of verified identities.</p> <p>This action is throttled at one request per second.</p>"
    },
    "DeleteIdentityPolicy":{
      "name":"DeleteIdentityPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteIdentityPolicyRequest",
        "documentation":"<p>Represents a request instructing the service to delete an authorization policy applying to an identity.</p> <p>This request succeeds regardless of whether the specified policy exists.</p>"
      },
      "output":{
        "shape":"DeleteIdentityPolicyResponse",
        "documentation":"<p>An empty element. Receiving this element indicates that the request completed successfully.</p>",
        "resultWrapper":"DeleteIdentityPolicyResult"
      },
      "documentation":"<p>Deletes the specified sending authorization policy for the given identity (email address or domain). This API returns successfully even if a policy with the specified name does not exist.</p> <note>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "DeleteReceiptFilter":{
      "name":"DeleteReceiptFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReceiptFilterRequest"},
      "output":{
        "shape":"DeleteReceiptFilterResponse",
        "resultWrapper":"DeleteReceiptFilterResult"
      },
      "documentation":"<p>Deletes the specified IP address filter.</p> <p>For information about managing IP address filters, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-ip-filters.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "DeleteReceiptRule":{
      "name":"DeleteReceiptRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReceiptRuleRequest"},
      "output":{
        "shape":"DeleteReceiptRuleResponse",
        "resultWrapper":"DeleteReceiptRuleResult"
      },
      "errors":[
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule set does not exist.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified receipt rule.</p> <p>For information about managing receipt rules, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rules.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "DeleteReceiptRuleSet":{
      "name":"DeleteReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReceiptRuleSetRequest"},
      "output":{
        "shape":"DeleteReceiptRuleSetResponse",
        "resultWrapper":"DeleteReceiptRuleSetResult"
      },
      "errors":[
        {
          "shape":"CannotDeleteException",
          "error":{
            "code":"CannotDelete",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the delete operation could not be completed.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified receipt rule set and all of the receipt rules it contains.</p> <note>The currently active rule set cannot be deleted.</note> <p>For information about managing receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "DeleteVerifiedEmailAddress":{
      "name":"DeleteVerifiedEmailAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteVerifiedEmailAddressRequest",
        "documentation":"<p>Represents a request instructing the service to delete an address from the list of verified email addresses.</p>"
      },
      "documentation":"<p>Deletes the specified email address from the list of verified addresses.</p> <important>The DeleteVerifiedEmailAddress action is deprecated as of the May 15, 2012 release of Domain Verification. The DeleteIdentity action is now preferred.</important> <p>This action is throttled at one request per second.</p>"
    },
    "DescribeActiveReceiptRuleSet":{
      "name":"DescribeActiveReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeActiveReceiptRuleSetRequest"},
      "output":{
        "shape":"DescribeActiveReceiptRuleSetResponse",
        "resultWrapper":"DescribeActiveReceiptRuleSetResult"
      },
      "documentation":"<p>Returns the metadata and receipt rules for the receipt rule set that is currently active.</p> <p>For information about setting up receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "DescribeReceiptRule":{
      "name":"DescribeReceiptRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReceiptRuleRequest"},
      "output":{
        "shape":"DescribeReceiptRuleResponse",
        "resultWrapper":"DescribeReceiptRuleResult"
      },
      "errors":[
        {
          "shape":"RuleDoesNotExistException",
          "error":{
            "code":"RuleDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule does not exist.</p>"
        },
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule set does not exist.</p>"
        }
      ],
      "documentation":"<p>Returns the details of the specified receipt rule.</p> <p>For information about setting up receipt rules, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "DescribeReceiptRuleSet":{
      "name":"DescribeReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReceiptRuleSetRequest"},
      "output":{
        "shape":"DescribeReceiptRuleSetResponse",
        "resultWrapper":"DescribeReceiptRuleSetResult"
      },
      "errors":[
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule set does not exist.</p>"
        }
      ],
      "documentation":"<p>Returns the details of the specified receipt rule set.</p> <p>For information about managing receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "GetIdentityDkimAttributes":{
      "name":"GetIdentityDkimAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetIdentityDkimAttributesRequest",
        "documentation":"<p>Given a list of verified identities, describes their DKIM attributes. The DKIM attributes of an email address identity includes whether DKIM signing is individually enabled or disabled for that address. The DKIM attributes of a domain name identity includes whether DKIM signing is enabled, as well as the DNS records (tokens) that must remain published in the domain name's DNS.</p>"
      },
      "output":{
        "shape":"GetIdentityDkimAttributesResponse",
        "documentation":"<p>Represents a list of all the DKIM attributes for the specified identity.</p>",
        "resultWrapper":"GetIdentityDkimAttributesResult"
      },
      "documentation":"<p>Returns the current status of Easy DKIM signing for an entity. For domain name identities, this action also returns the DKIM tokens that are required for Easy DKIM signing, and whether Amazon SES has successfully verified that these tokens have been published.</p> <p>This action takes a list of identities as input and returns the following information for each:</p> <ul> <li>Whether Easy DKIM signing is enabled or disabled.</li> <li>A set of DKIM tokens that represent the identity. If the identity is an email address, the tokens represent the domain of that address.</li> <li>Whether Amazon SES has successfully verified the DKIM tokens published in the domain's DNS. This information is only returned for domain name identities, not for email addresses.</li> </ul> <p>This action is throttled at one request per second and can only get DKIM attributes for up to 100 identities at a time.</p> <p>For more information about creating DNS records using DKIM tokens, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim-dns-records.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "GetIdentityNotificationAttributes":{
      "name":"GetIdentityNotificationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdentityNotificationAttributesRequest"},
      "output":{
        "shape":"GetIdentityNotificationAttributesResponse",
        "documentation":"<p>Describes whether an identity has Amazon Simple Notification Service (Amazon SNS) topics set for bounce, complaint, and/or delivery notifications, and specifies whether feedback forwarding is enabled for bounce and complaint notifications.</p>",
        "resultWrapper":"GetIdentityNotificationAttributesResult"
      },
      "documentation":"<p>Given a list of verified identities (email addresses and/or domains), returns a structure describing identity notification attributes.</p> <p>This action is throttled at one request per second and can only get notification attributes for up to 100 identities at a time.</p> <p>For more information about using notifications with Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/notifications.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "GetIdentityPolicies":{
      "name":"GetIdentityPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetIdentityPoliciesRequest",
        "documentation":"<p>Represents a request instructing the service to retrieve the text of a list of authorization policies applying to an identity. </p>"
      },
      "output":{
        "shape":"GetIdentityPoliciesResponse",
        "documentation":"<p>Represents a map of policy names to policies returned from a successful <code>GetIdentityPolicies</code> request. </p>",
        "resultWrapper":"GetIdentityPoliciesResult"
      },
      "documentation":"<p>Returns the requested sending authorization policies for the given identity (email address or domain). The policies are returned as a map of policy names to policy contents. You can retrieve a maximum of 20 policies at a time.</p> <note>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "GetIdentityVerificationAttributes":{
      "name":"GetIdentityVerificationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetIdentityVerificationAttributesRequest",
        "documentation":"<p>Represents a request instructing the service to provide the verification attributes for a list of identities.</p>"
      },
      "output":{
        "shape":"GetIdentityVerificationAttributesResponse",
        "documentation":"<p>Represents the verification attributes for a list of identities.</p>",
        "resultWrapper":"GetIdentityVerificationAttributesResult"
      },
      "documentation":"<p>Given a list of identities (email addresses and/or domains), returns the verification status and (for domain identities) the verification token for each identity.</p> <p>This action is throttled at one request per second and can only get verification attributes for up to 100 identities at a time.</p>"
    },
    "GetSendQuota":{
      "name":"GetSendQuota",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetSendQuotaResponse",
        "documentation":"<p>Represents the user's current activity limits returned from a successful <code>GetSendQuota</code> request. </p>",
        "resultWrapper":"GetSendQuotaResult"
      },
      "documentation":"<p>Returns the user's current sending limits.</p> <p>This action is throttled at one request per second.</p>"
    },
    "GetSendStatistics":{
      "name":"GetSendStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetSendStatisticsResponse",
        "documentation":"<p>Represents a list of <code>SendDataPoint</code> items returned from a successful <code>GetSendStatistics</code> request. This list contains aggregated data from the previous two weeks of sending activity. </p>",
        "resultWrapper":"GetSendStatisticsResult"
      },
      "documentation":"<p>Returns the user's sending statistics. The result is a list of data points, representing the last two weeks of sending activity. </p> <p>Each data point in the list contains statistics for a 15-minute interval.</p> <p>This action is throttled at one request per second.</p>"
    },
    "ListIdentities":{
      "name":"ListIdentities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListIdentitiesRequest",
        "documentation":"<p>Represents a request instructing the service to list all identities for the AWS Account.</p>"
      },
      "output":{
        "shape":"ListIdentitiesResponse",
        "documentation":"<p>Represents a list of all verified identities for the AWS Account.</p>",
        "resultWrapper":"ListIdentitiesResult"
      },
      "documentation":"<p>Returns a list containing all of the identities (email addresses and domains) for a specific AWS Account, regardless of verification status.</p> <p>This action is throttled at one request per second.</p>"
    },
    "ListIdentityPolicies":{
      "name":"ListIdentityPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListIdentityPoliciesRequest",
        "documentation":"<p>Represents a request instructing the service to list all authorization policies, by name, applying to an identity.</p>"
      },
      "output":{
        "shape":"ListIdentityPoliciesResponse",
        "documentation":"<p>Represents a list of policy names returned from a successful <code>ListIdentityPolicies</code> request. </p>",
        "resultWrapper":"ListIdentityPoliciesResult"
      },
      "documentation":"<p>Returns a list of sending authorization policies that are attached to the given identity (email address or domain). This API returns only a list. If you want the actual policy content, you can use <code>GetIdentityPolicies</code>.</p> <note>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "ListReceiptFilters":{
      "name":"ListReceiptFilters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListReceiptFiltersRequest"},
      "output":{
        "shape":"ListReceiptFiltersResponse",
        "resultWrapper":"ListReceiptFiltersResult"
      },
      "documentation":"<p>Lists the IP address filters associated with your account.</p> <p>For information about managing IP address filters, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-ip-filters.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "ListReceiptRuleSets":{
      "name":"ListReceiptRuleSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListReceiptRuleSetsRequest"},
      "output":{
        "shape":"ListReceiptRuleSetsResponse",
        "resultWrapper":"ListReceiptRuleSetsResult"
      },
      "documentation":"<p>Lists the receipt rule sets that exist under your AWS account. If there are additional receipt rule sets to be retrieved, you will receive a <code>NextToken</code> that you can provide to the next call to <code>ListReceiptRuleSets</code> to retrieve the additional entries.</p> <p>For information about managing receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "ListVerifiedEmailAddresses":{
      "name":"ListVerifiedEmailAddresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ListVerifiedEmailAddressesResponse",
        "documentation":"<p>Represents a list of all the email addresses verified for the current user.</p>",
        "resultWrapper":"ListVerifiedEmailAddressesResult"
      },
      "documentation":"<p>Returns a list containing all of the email addresses that have been verified.</p> <important>The ListVerifiedEmailAddresses action is deprecated as of the May 15, 2012 release of Domain Verification. The ListIdentities action is now preferred.</important> <p>This action is throttled at one request per second.</p>"
    },
    "PutIdentityPolicy":{
      "name":"PutIdentityPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"PutIdentityPolicyRequest",
        "documentation":"<p>Represents a request instructing the service to apply an authorization policy to an identity.</p>"
      },
      "output":{
        "shape":"PutIdentityPolicyResponse",
        "documentation":"<p>An empty element. Receiving this element indicates that the request completed successfully.</p>",
        "resultWrapper":"PutIdentityPolicyResult"
      },
      "errors":[
        {
          "shape":"InvalidPolicyException",
          "error":{
            "code":"InvalidPolicy",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided policy is invalid. Check the error stack for more information about what caused the error.</p>"
        }
      ],
      "documentation":"<p>Adds or updates a sending authorization policy for the specified identity (email address or domain).</p> <note>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "ReorderReceiptRuleSet":{
      "name":"ReorderReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReorderReceiptRuleSetRequest"},
      "output":{
        "shape":"ReorderReceiptRuleSetResponse",
        "resultWrapper":"ReorderReceiptRuleSetResult"
      },
      "errors":[
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule set does not exist.</p>"
        },
        {
          "shape":"RuleDoesNotExistException",
          "error":{
            "code":"RuleDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule does not exist.</p>"
        }
      ],
      "documentation":"<p>Reorders the receipt rules within a receipt rule set.</p> <note>All of the rules in the rule set must be represented in this request. That is, this API will return an error if the reorder request doesn’t explicitly position all of the rules.</note> <p>For information about managing receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "SendBounce":{
      "name":"SendBounce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SendBounceRequest",
        "documentation":"<p>Request object for sending a simple/complex bounce. It contains all of the information needed to generate a basic DSN or a fully-customized DSN.</p>"
      },
      "output":{
        "shape":"SendBounceResponse",
        "resultWrapper":"SendBounceResult"
      },
      "errors":[
        {
          "shape":"MessageRejected",
          "error":{
            "code":"MessageRejected",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the action failed, and the message could not be sent. Check the error stack for more information about what caused the error.</p>"
        }
      ],
      "documentation":"<p>Generates and sends a bounce message to the sender of an email you received through Amazon SES. You can only use this API on an email up to 24 hours after you receive it.</p> <note>You cannot use this API to send generic bounces for mail that was not received by Amazon SES.</note> <p>For information about receiving email through Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "SendEmail":{
      "name":"SendEmail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SendEmailRequest",
        "documentation":"<p>Represents a request instructing the service to send a single email message.</p> <p>This datatype can be used in application code to compose a message consisting of source, destination, message, reply-to, and return-path parts. This object can then be sent using the <code>SendEmail</code> action. </p>"
      },
      "output":{
        "shape":"SendEmailResponse",
        "documentation":"<p>Represents a unique message ID returned from a successful <code>SendEmail</code> request. </p>",
        "resultWrapper":"SendEmailResult"
      },
      "errors":[
        {
          "shape":"MessageRejected",
          "error":{
            "code":"MessageRejected",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the action failed, and the message could not be sent. Check the error stack for more information about what caused the error.</p>"
        }
      ],
      "documentation":"<p>Composes an email message based on input data, and then immediately queues the message for sending. </p> <p>There are several important points to know about <code>SendEmail</code>:</p> <ul> <li>You can only send email from verified email addresses and domains; otherwise, you will get an \"Email address not verified\" error. If your account is still in the Amazon SES sandbox, you must also verify every recipient email address except for the recipients provided by the Amazon SES mailbox simulator. For more information, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/verify-addresses-and-domains.html\">Amazon SES Developer Guide</a>.</li> <li>The total size of the message cannot exceed 10 MB. This includes any attachments that are part of the message.</li> <li>Amazon SES has a limit on the total number of recipients per message. The combined number of To:, CC: and BCC: email addresses cannot exceed 50. If you need to send an email message to a larger audience, you can divide your recipient list into groups of 50 or fewer, and then call Amazon SES repeatedly to send the message to each group.</li> <li>For every message that you send, the total number of recipients (To:, CC: and BCC:) is counted against your sending quota - the maximum number of emails you can send in a 24-hour period. For information about your sending quota, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/manage-sending-limits.html\">Amazon SES Developer Guide</a>.</li> </ul>"
    },
    "SendRawEmail":{
      "name":"SendRawEmail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SendRawEmailRequest",
        "documentation":"<p>Represents a request instructing the service to send a raw email message.</p> <p>This datatype can be used in application code to compose a message consisting of source, destination, and raw message text. This object can then be sent using the <code>SendRawEmail</code> action. </p>"
      },
      "output":{
        "shape":"SendRawEmailResponse",
        "documentation":"<p>Represents a unique message ID returned from a successful <code>SendRawEmail</code> request. </p>",
        "resultWrapper":"SendRawEmailResult"
      },
      "errors":[
        {
          "shape":"MessageRejected",
          "error":{
            "code":"MessageRejected",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the action failed, and the message could not be sent. Check the error stack for more information about what caused the error.</p>"
        }
      ],
      "documentation":"<p>Sends an email message, with header and content specified by the client. The <code>SendRawEmail</code> action is useful for sending multipart MIME emails. The raw text of the message must comply with Internet email standards; otherwise, the message cannot be sent. </p> <p>There are several important points to know about <code>SendRawEmail</code>:</p> <ul> <li>You can only send email from verified email addresses and domains; otherwise, you will get an \"Email address not verified\" error. If your account is still in the Amazon SES sandbox, you must also verify every recipient email address except for the recipients provided by the Amazon SES mailbox simulator. For more information, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/verify-addresses-and-domains.html\">Amazon SES Developer Guide</a>.</li> <li>The total size of the message cannot exceed 10 MB. This includes any attachments that are part of the message.</li> <li>Amazon SES has a limit on the total number of recipients per message. The combined number of To:, CC: and BCC: email addresses cannot exceed 50. If you need to send an email message to a larger audience, you can divide your recipient list into groups of 50 or fewer, and then call Amazon SES repeatedly to send the message to each group.</li> <li>The To:, CC:, and BCC: headers in the raw message can contain a group list. Note that each recipient in a group list counts towards the 50-recipient limit.</li> <li>For every message that you send, the total number of recipients (To:, CC: and BCC:) is counted against your sending quota - the maximum number of emails you can send in a 24-hour period. For information about your sending quota, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/manage-sending-limits.html\">Amazon SES Developer Guide</a>.</li> <li>If you are using sending authorization to send on behalf of another user, <code>SendRawEmail</code> enables you to specify the cross-account identity for the email's \"Source,\" \"From,\" and \"Return-Path\" parameters in one of two ways: you can pass optional parameters <code>SourceArn</code>, <code>FromArn</code>, and/or <code>ReturnPathArn</code> to the API, or you can include the following X-headers in the header of your raw email: <ul> <li><code>X-SES-SOURCE-ARN</code></li> <li><code>X-SES-FROM-ARN</code></li> <li><code>X-SES-RETURN-PATH-ARN</code></li> </ul> <important>Do not include these X-headers in the DKIM signature, because they are removed by Amazon SES before sending the email.</important> For the most common sending authorization use case, we recommend that you specify the <code>SourceIdentityArn</code> and do not specify either the <code>FromIdentityArn</code> or <code>ReturnPathIdentityArn</code>. (The same note applies to the corresponding X-headers.) If you only specify the <code>SourceIdentityArn</code>, Amazon SES will simply set the \"From\" address and the \"Return Path\" address to the identity specified in <code>SourceIdentityArn</code>. For more information about sending authorization, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</li> </ul>"
    },
    "SetActiveReceiptRuleSet":{
      "name":"SetActiveReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetActiveReceiptRuleSetRequest"},
      "output":{
        "shape":"SetActiveReceiptRuleSetResponse",
        "resultWrapper":"SetActiveReceiptRuleSetResult"
      },
      "errors":[
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule set does not exist.</p>"
        }
      ],
      "documentation":"<p>Sets the specified receipt rule set as the active receipt rule set.</p> <note>To disable your email-receiving through Amazon SES completely, you can call this API with RuleSetName set to null.</note> <p>For information about managing receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "SetIdentityDkimEnabled":{
      "name":"SetIdentityDkimEnabled",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SetIdentityDkimEnabledRequest",
        "documentation":"<p>Represents a request instructing the service to enable or disable DKIM signing for an identity.</p>"
      },
      "output":{
        "shape":"SetIdentityDkimEnabledResponse",
        "documentation":"<p>An empty element. Receiving this element indicates that the request completed successfully.</p>",
        "resultWrapper":"SetIdentityDkimEnabledResult"
      },
      "documentation":"<p>Enables or disables Easy DKIM signing of email sent from an identity:</p> <ul> <li>If Easy DKIM signing is enabled for a domain name identity (e.g., <code>example.com</code>), then Amazon SES will DKIM-sign all email sent by addresses under that domain name (e.g., <code>user@example.com</code>).</li> <li>If Easy DKIM signing is enabled for an email address, then Amazon SES will DKIM-sign all email sent by that email address.</li> </ul> <p>For email addresses (e.g., <code>user@example.com</code>), you can only enable Easy DKIM signing if the corresponding domain (e.g., <code>example.com</code>) has been set up for Easy DKIM using the AWS Console or the <code>VerifyDomainDkim</code> action.</p> <p>This action is throttled at one request per second.</p> <p>For more information about Easy DKIM signing, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "SetIdentityFeedbackForwardingEnabled":{
      "name":"SetIdentityFeedbackForwardingEnabled",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetIdentityFeedbackForwardingEnabledRequest"},
      "output":{
        "shape":"SetIdentityFeedbackForwardingEnabledResponse",
        "documentation":"<p>An empty element. Receiving this element indicates that the request completed successfully.</p>",
        "resultWrapper":"SetIdentityFeedbackForwardingEnabledResult"
      },
      "documentation":"<p>Given an identity (email address or domain), enables or disables whether Amazon SES forwards bounce and complaint notifications as email. Feedback forwarding can only be disabled when Amazon Simple Notification Service (Amazon SNS) topics are specified for both bounces and complaints.</p> <note>Feedback forwarding does not apply to delivery notifications. Delivery notifications are only available through Amazon SNS.</note> <p>This action is throttled at one request per second.</p> <p>For more information about using notifications with Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/notifications.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "SetIdentityNotificationTopic":{
      "name":"SetIdentityNotificationTopic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SetIdentityNotificationTopicRequest",
        "documentation":"<p>Represents a request to set or clear an identity's notification topic.</p>"
      },
      "output":{
        "shape":"SetIdentityNotificationTopicResponse",
        "documentation":"<p>An empty element. Receiving this element indicates that the request completed successfully.</p>",
        "resultWrapper":"SetIdentityNotificationTopicResult"
      },
      "documentation":"<p>Given an identity (email address or domain), sets the Amazon Simple Notification Service (Amazon SNS) topic to which Amazon SES will publish bounce, complaint, and/or delivery notifications for emails sent with that identity as the <code>Source</code>.</p> <note>Unless feedback forwarding is enabled, you must specify Amazon SNS topics for bounce and complaint notifications. For more information, see <code>SetIdentityFeedbackForwardingEnabled</code>. </note> <p>This action is throttled at one request per second.</p> <p>For more information about feedback notification, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/notifications.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "SetReceiptRulePosition":{
      "name":"SetReceiptRulePosition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetReceiptRulePositionRequest"},
      "output":{
        "shape":"SetReceiptRulePositionResponse",
        "resultWrapper":"SetReceiptRulePositionResult"
      },
      "errors":[
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule set does not exist.</p>"
        },
        {
          "shape":"RuleDoesNotExistException",
          "error":{
            "code":"RuleDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule does not exist.</p>"
        }
      ],
      "documentation":"<p>Sets the position of the specified receipt rule in the receipt rule set.</p> <p>For information about managing receipt rules, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rules.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "UpdateReceiptRule":{
      "name":"UpdateReceiptRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateReceiptRuleRequest"},
      "output":{
        "shape":"UpdateReceiptRuleResponse",
        "resultWrapper":"UpdateReceiptRuleResult"
      },
      "errors":[
        {
          "shape":"InvalidSnsTopicException",
          "error":{
            "code":"InvalidSnsTopic",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided Amazon SNS topic is invalid, or that Amazon SES could not publish to the topic, possibly due to permissions issues. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p>"
        },
        {
          "shape":"InvalidS3ConfigurationException",
          "error":{
            "code":"InvalidS3Configuration",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided Amazon S3 bucket or AWS KMS encryption key is invalid, or that Amazon SES could not publish to the bucket, possibly due to permissions issues. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p>"
        },
        {
          "shape":"InvalidLambdaFunctionException",
          "error":{
            "code":"InvalidLambdaFunction",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided AWS Lambda function is invalid, or that Amazon SES could not execute the provided function, possibly due to permissions issues. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p>"
        },
        {
          "shape":"RuleSetDoesNotExistException",
          "error":{
            "code":"RuleSetDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule set does not exist.</p>"
        },
        {
          "shape":"RuleDoesNotExistException",
          "error":{
            "code":"RuleDoesNotExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that the provided receipt rule does not exist.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Indicates that a resource could not be created due to service limits. For a list of Amazon SES limits, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/limits.html\">Amazon SES Developer Guide</a>.</p>"
        }
      ],
      "documentation":"<p>Updates a receipt rule.</p> <p>For information about managing receipt rules, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rules.html\">Amazon SES Developer Guide</a>.</p> <p>This action is throttled at one request per second.</p>"
    },
    "VerifyDomainDkim":{
      "name":"VerifyDomainDkim",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"VerifyDomainDkimRequest",
        "documentation":"<p>Represents a request instructing the service to begin DKIM verification for a domain.</p>"
      },
      "output":{
        "shape":"VerifyDomainDkimResponse",
        "documentation":"<p>Represents the DNS records that must be published in the domain name's DNS to complete DKIM setup.</p>",
        "resultWrapper":"VerifyDomainDkimResult"
      },
      "documentation":"<p>Returns a set of DKIM tokens for a domain. DKIM <i>tokens</i> are character strings that represent your domain's identity. Using these tokens, you will need to create DNS CNAME records that point to DKIM public keys hosted by Amazon SES. Amazon Web Services will eventually detect that you have updated your DNS records; this detection process may take up to 72 hours. Upon successful detection, Amazon SES will be able to DKIM-sign email originating from that domain.</p> <p>This action is throttled at one request per second.</p> <p>To enable or disable Easy DKIM signing for a domain, use the <code>SetIdentityDkimEnabled</code> action.</p> <p>For more information about creating DNS records using DKIM tokens, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim-dns-records.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "VerifyDomainIdentity":{
      "name":"VerifyDomainIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"VerifyDomainIdentityRequest",
        "documentation":"<p>Represents a request instructing the service to begin domain verification.</p>"
      },
      "output":{
        "shape":"VerifyDomainIdentityResponse",
        "documentation":"<p>Represents a token used for domain ownership verification.</p>",
        "resultWrapper":"VerifyDomainIdentityResult"
      },
      "documentation":"<p>Verifies a domain.</p> <p>This action is throttled at one request per second.</p>"
    },
    "VerifyEmailAddress":{
      "name":"VerifyEmailAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"VerifyEmailAddressRequest",
        "documentation":"<p>Represents a request instructing the service to begin email address verification.</p>"
      },
      "documentation":"<p>Verifies an email address. This action causes a confirmation email message to be sent to the specified address.</p> <important>The VerifyEmailAddress action is deprecated as of the May 15, 2012 release of Domain Verification. The VerifyEmailIdentity action is now preferred.</important> <p>This action is throttled at one request per second.</p>"
    },
    "VerifyEmailIdentity":{
      "name":"VerifyEmailIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"VerifyEmailIdentityRequest",
        "documentation":"<p>Represents a request instructing the service to begin email address verification.</p>"
      },
      "output":{
        "shape":"VerifyEmailIdentityResponse",
        "documentation":"<p>An empty element. Receiving this element indicates that the request completed successfully.</p>",
        "resultWrapper":"VerifyEmailIdentityResult"
      },
      "documentation":"<p>Verifies an email address. This action causes a confirmation email message to be sent to the specified address.</p> <p>This action is throttled at one request per second.</p>"
    }
  },
  "shapes":{
    "AddHeaderAction":{
      "type":"structure",
      "required":[
        "HeaderName",
        "HeaderValue"
      ],
      "members":{
        "HeaderName":{
          "shape":"HeaderName",
          "documentation":"<p>The name of the header to add. Must be between 1 and 50 characters, inclusive, and consist of alphanumeric (a-z, A-Z, 0-9) characters and dashes only.</p>"
        },
        "HeaderValue":{
          "shape":"HeaderValue",
          "documentation":"<p>Must be less than 2048 characters, and must not contain newline characters (\"\\r\" or \"\\n\").</p>"
        }
      },
      "documentation":"<p>When included in a receipt rule, this action adds a header to the received email.</p> <p>For information about adding a header using a receipt rule, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-action-add-header.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "Address":{"type":"string"},
    "AddressList":{
      "type":"list",
      "member":{"shape":"Address"}
    },
    "AlreadyExistsException":{
      "type":"structure",
      "members":{
        "Name":{"shape":"RuleOrRuleSetName"}
      },
      "error":{
        "code":"AlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Indicates that a resource could not be created due to a naming conflict.</p>"
    },
    "AmazonResourceName":{"type":"string"},
    "ArrivalDate":{"type":"timestamp"},
    "Body":{
      "type":"structure",
      "members":{
        "Text":{
          "shape":"Content",
          "documentation":"<p>The content of the message, in text format. Use this for text-based email clients, or clients on high-latency networks (such as mobile devices). </p>"
        },
        "Html":{
          "shape":"Content",
          "documentation":"<p>The content of the message, in HTML format. Use this for email clients that can process HTML. You can include clickable links, formatted text, and much more in an HTML message. </p>"
        }
      },
      "documentation":"<p>Represents the body of the message. You can specify text, HTML, or both. If you use both, then the message should display correctly in the widest variety of email clients. </p>"
    },
    "BounceAction":{
      "type":"structure",
      "required":[
        "SmtpReplyCode",
        "Message",
        "Sender"
      ],
      "members":{
        "TopicArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon SNS topic to notify when the bounce action is taken. An example of an Amazon SNS topic ARN is <code>arn:aws:sns:us-west-2:123456789012:MyTopic</code>. For more information about Amazon SNS topics, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon SNS Developer Guide</a>.</p>"
        },
        "SmtpReplyCode":{
          "shape":"BounceSmtpReplyCode",
          "documentation":"<p>The SMTP reply code, as defined by <a href=\"https://tools.ietf.org/html/rfc5321\">RFC 5321</a>.</p>"
        },
        "StatusCode":{
          "shape":"BounceStatusCode",
          "documentation":"<p>The SMTP enhanced status code, as defined by <a href=\"https://tools.ietf.org/html/rfc3463\">RFC 3463</a>.</p>"
        },
        "Message":{
          "shape":"BounceMessage",
          "documentation":"<p>Human-readable text to include in the bounce message.</p>"
        },
        "Sender":{
          "shape":"Address",
          "documentation":"<p>The email address of the sender of the bounced email. This is the address from which the bounce message will be sent.</p>"
        }
      },
      "documentation":"<p>When included in a receipt rule, this action rejects the received email by returning a bounce response to the sender and, optionally, publishes a notification to Amazon Simple Notification Service (Amazon SNS).</p> <p>For information about sending a bounce message in response to a received email, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-action-bounce.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "BounceMessage":{"type":"string"},
    "BounceSmtpReplyCode":{"type":"string"},
    "BounceStatusCode":{"type":"string"},
    "BounceType":{
      "type":"string",
      "enum":[
        "DoesNotExist",
        "MessageTooLarge",
        "ExceededQuota",
        "ContentRejected",
        "Undefined",
        "TemporaryFailure"
      ]
    },
    "BouncedRecipientInfo":{
      "type":"structure",
      "required":["Recipient"],
      "members":{
        "Recipient":{
          "shape":"Address",
          "documentation":"<p>The email address of the recipient of the bounced email.</p>"
        },
        "RecipientArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>This parameter is used only for sending authorization. It is the ARN of the identity that is associated with the sending authorization policy that permits you to receive email for the recipient of the bounced email. For more information about sending authorization, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p>"
        },
        "BounceType":{
          "shape":"BounceType",
          "documentation":"<p>The reason for the bounce. You must provide either this parameter or <code>RecipientDsnFields</code>.</p>"
        },
        "RecipientDsnFields":{
          "shape":"RecipientDsnFields",
          "documentation":"<p>Recipient-related DSN fields, most of which would normally be filled in automatically when provided with a <code>BounceType</code>. You must provide either this parameter or <code>BounceType</code>.</p>"
        }
      },
      "documentation":"<p>Recipient-related information to include in the Delivery Status Notification (DSN) when an email that Amazon SES receives on your behalf bounces.</p> <p>For information about receiving email through Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "BouncedRecipientInfoList":{
      "type":"list",
      "member":{"shape":"BouncedRecipientInfo"}
    },
    "CannotDeleteException":{
      "type":"structure",
      "members":{
        "Name":{"shape":"RuleOrRuleSetName"}
      },
      "error":{
        "code":"CannotDelete",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Indicates that the delete operation could not be completed.</p>"
    },
    "Charset":{"type":"string"},
    "Cidr":{"type":"string"},
    "CloneReceiptRuleSetRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "OriginalRuleSetName"
      ],
      "members":{
        "RuleSetName":{
          "shape":"ReceiptRuleSetName",
          "documentation":"<p>The name of the rule set to create. The name must:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-).</li> <li>Start and end with a letter or number.</li> <li>Contain less than 64 characters.</li> </ul>"
        },
        "OriginalRuleSetName":{
          "shape":"ReceiptRuleSetName",
          "documentation":"<p>The name of the rule set to clone.</p>"
        }
      }
    },
    "CloneReceiptRuleSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Content":{
      "type":"structure",
      "required":["Data"],
      "members":{
        "Data":{
          "shape":"MessageData",
          "documentation":"<p>The textual data of the content.</p>"
        },
        "Charset":{
          "shape":"Charset",
          "documentation":"<p>The character set of the content.</p>"
        }
      },
      "documentation":"<p>Represents textual data, plus an optional character set specification.</p> <p>By default, the text must be 7-bit ASCII, due to the constraints of the SMTP protocol. If the text must contain any other characters, then you must also specify a character set. Examples include UTF-8, ISO-8859-1, and Shift_JIS. </p>"
    },
    "Counter":{"type":"long"},
    "CreateReceiptFilterRequest":{
      "type":"structure",
      "required":["Filter"],
      "members":{
        "Filter":{
          "shape":"ReceiptFilter",
          "documentation":"<p>A data structure that describes the IP address filter to create, which consists of a name, an IP address range, and whether to allow or block mail from it.</p>"
        }
      }
    },
    "CreateReceiptFilterResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateReceiptRuleRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "Rule"
      ],
      "members":{
        "RuleSetName":{
          "shape":"ReceiptRuleSetName",
          "documentation":"<p>The name of the rule set to which to add the rule.</p>"
        },
        "After":{
          "shape":"ReceiptRuleName",
          "documentation":"<p>The name of an existing rule after which the new rule will be placed. If this parameter is null, the new rule will be inserted at the beginning of the rule list.</p>"
        },
        "Rule":{
          "shape":"ReceiptRule",
          "documentation":"<p>A data structure that contains the specified rule's name, actions, recipients, domains, enabled status, scan status, and TLS policy.</p>"
        }
      }
    },
    "CreateReceiptRuleResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateReceiptRuleSetRequest":{
      "type":"structure",
      "required":["RuleSetName"],
      "members":{
        "RuleSetName":{
          "shape":"ReceiptRuleSetName",
          "documentation":"<p>The name of the rule set to create. The name must:</p> <ul> <li>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-).</li> <li>Start and end with a letter or number.</li> <li>Contain less than 64 characters.</li> </ul>"
        }
      }
    },
    "CreateReceiptRuleSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteIdentityPolicyRequest":{
      "type":"structure",
      "required":[
        "Identity",
        "PolicyName"
      ],
      "members":{
        "Identity":{
          "shape":"Identity",
          "documentation":"<p>The identity that is associated with the policy that you want to delete. You can specify the identity by using its name or by using its Amazon Resource Name (ARN). Examples: <code>user@example.com</code>, <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p> <p>To successfully call this API, you must own the identity.</p>"
        },
        "PolicyName":{
          "shape":"PolicyName",
          "documentation":"<p>The name of the policy to be deleted.</p>"
        }
      },
      "documentation":"<p>Represents a request instructing the service to delete an authorization policy applying to an identity.</p> <p>This request succeeds regardless of whether the specified policy exists.</p>"
    },
    "DeleteIdentityPolicyResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>An empty element. Receiving this element indicates that the request completed successfully.</p>"
    },
    "DeleteIdentityRequest":{
      "type":"structure",
      "required":["Identity"],
      "members":{
        "Identity":{
          "shape":"Identity",
          "documentation":"<p>The identity to be removed from the list of identities for the AWS Account.</p>"
        }
      },
      "documentation":"<p>Represents a request instructing the service to delete an identity from the list of identities for the AWS Account.</p>"
    },
    "DeleteIdentityResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>An empty element. Receiving this element indicates that the request completed successfully.</p>"
    },
    "DeleteReceiptFilterRequest":{
      "type":"structure",
      "required":["FilterName"],
      "members":{
        "FilterName":{
          "shape":"ReceiptFilterName",
          "documentation":"<p>The name of the IP address filter to delete.</p>"
        }
      }
    },
    "DeleteReceiptFilterResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteReceiptRuleRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "RuleName"
      ],
      "members":{
        "RuleSetName":{
          "shape":"ReceiptRuleSetName",
          "documentation":"<p>The name of the receipt rule set that contains the receipt rule to delete.</p>"
        },
        "RuleName":{
          "shape":"ReceiptRuleName",
          "documentation":"<p>The name of the receipt rule to delete.</p>"
        }
      }
    },
    "DeleteReceiptRuleResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteReceiptRuleSetRequest":{
      "type":"structure",
      "required":["RuleSetName"],
      "members":{
        "RuleSetName":{
          "shape":"ReceiptRuleSetName",
          "documentation":"<p>The name of the receipt rule set to delete.</p>"
        }
      }
    },
    "DeleteReceiptRuleSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteVerifiedEmailAddressRequest":{
      "type":"structure",
      "required":["EmailAddress"],
      "members":{
        "EmailAddress":{
          "shape":"Address",
          "documentation":"<p>An email address to be removed from the list of verified addresses.</p>"
        }
      },
      "documentation":"<p>Represents a request instructing the service to delete an address from the list of verified email addresses.</p>"
    },
    "DescribeActiveReceiptRuleSetRequest":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeActiveReceiptRuleSetResponse":{
      "type":"structure",
      "members":{
        "Metadata":{
          "shape":"ReceiptRuleSetMetadata",
          "documentation":"<p>The metadata for the currently active receipt rule set. The metadata consists of the rule set name and a timestamp of when the rule set was created.</p>"
        },
        "Rules":{
          "shape":"ReceiptRulesList",
          "documentation":"<p>The receipt rules that belong to the active rule set.</p>"
        }
      }
    },
    "DescribeReceiptRuleRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "RuleName"
      ],
      "members":{
        "RuleSetName":{
          "shape":"ReceiptRuleSetName",
          "documentation":"<p>The name of the receipt rule set to which the receipt rule belongs.</p>"
        },
        "RuleName":{
          "shape":"ReceiptRuleName",
          "documentation":"<p>The name of the receipt rule.</p>"
        }
      }
    },
    "DescribeReceiptRuleResponse":{
      "type":"structure",
      "members":{
        "Rule":{
          "shape":"ReceiptRule",
          "documentation":"<p>A data structure that contains the specified receipt rule's name, actions, recipients, domains, enabled status, scan status, and Transport Layer Security (TLS) policy.</p>"
        }
      }
    },
    "DescribeReceiptRuleSetRequest":{
      "type":"structure",
      "required":["RuleSetName"],
      "members":{
        "RuleSetName":{
          "shape":"ReceiptRuleSetName",
          "documentation":"<p>The name of the receipt rule set to describe.</p>"
        }
      }
    },
    "DescribeReceiptRuleSetResponse":{
      "type":"structure",
      "members":{
        "Metadata":{
          "shape":"ReceiptRuleSetMetadata",
          "documentation":"<p>The metadata for the receipt rule set, which consists of the rule set name and the timestamp of when the rule set was created.</p>"
        },
        "Rules":{
          "shape":"ReceiptRulesList",
          "documentation":"<p>A list of the receipt rules that belong to the specified receipt rule set.</p>"
        }
      }
    },
    "Destination":{
      "type":"structure",
      "members":{
        "ToAddresses":{
          "shape":"AddressList",
          "documentation":"<p>The To: field(s) of the message.</p>"
        },
        "CcAddresses":{
          "shape":"AddressList",
          "documentation":"<p>The CC: field(s) of the message.</p>"
        },
        "BccAddresses":{
          "shape":"AddressList",
          "documentation":"<p>The BCC: field(s) of the message.</p>"
        }
      },
      "documentation":"<p>Represents the destination of the message, consisting of To:, CC:, and BCC: fields.</p> <p> By default, the string must be 7-bit ASCII. If the text must contain any other characters, then you must use MIME encoded-word syntax (RFC 2047) instead of a literal string. MIME encoded-word syntax uses the following form: <code>=?charset?encoding?encoded-text?=</code>. For more information, see <a href=\"http://tools.ietf.org/html/rfc2047\">RFC 2047</a>. </p>"
    },
    "DiagnosticCode":{"type":"string"},
    "DkimAttributes":{
      "type":"map",
      "key":{"shape":"Identity"},
      "value":{"shape":"IdentityDkimAttributes"}
    },
    "Domain":{"type":"string"},
    "DsnAction":{
      "type":"string",
      "enum":[
        "failed",
        "delayed",
        "delivered",
        "relayed",
        "expanded"
      ]
    },
    "DsnStatus":{"type":"string"},
    "Enabled":{"type":"boolean"},
    "Explanation":{"type":"string"},
    "ExtensionField":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{
          "shape":"ExtensionFieldName",
          "documentation":"<p>The name of the header to add. Must be between 1 and 50 characters, inclusive, and consist of alphanumeric (a-z, A-Z, 0-9) characters and dashes only.</p>"
        },
        "Value":{
          "shape":"ExtensionFieldValue",
          "documentation":"<p>The value of the header to add. Must be less than 2048 characters, and must not contain newline characters (\"\\r\" or \"\\n\").</p>"
        }
      },
      "documentation":"<p>Additional X-headers to include in the Delivery Status Notification (DSN) when an email that Amazon SES receives on your behalf bounces.</p> <p>For information about receiving email through Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "ExtensionFieldList":{
      "type":"list",
      "member":{"shape":"ExtensionField"}
    },
    "ExtensionFieldName":{"type":"string"},
    "ExtensionFieldValue":{"type":"string"},
    "GetIdentityDkimAttributesRequest":{
      "type":"structure",
      "required":["Identities"],
      "members":{
        "Identities":{
          "shape":"IdentityList",
          "documentation":"<p>A list of one or more verified identities - email addresses, domains, or both.</p>"
        }
      },
      "documentation":"<p>Given a list of verified identities, describes their DKIM attributes. The DKIM attributes of an email address identity includes whether DKIM signing is individually enabled or disabled for that address. The DKIM attributes of a domain name identity includes whether DKIM signing is enabled, as well as the DNS records (tokens) that must remain published in the domain name's DNS.</p>"
    },
    "GetIdentityDkimAttributesResponse":{
      "type":"structure",
      "required":["DkimAttributes"],
      "members":{
        "DkimAttributes":{
          "shape":"DkimAttributes",
          "documentation":"<p>The DKIM attributes for an email address or a domain. </p>"
        }
      },
      "documentation":"<p>Represents a list of all the DKIM attributes for the specified identity.</p>"
    },
    "GetIdentityNotificationAttributesRequest":{
      "type":"structure",
      "required":["Identities"],
      "members":{
        "Identities":{
          "shape":"IdentityList",
          "documentation":"<p>A list of one or more identities. You can specify an identity by using its name or by using its Amazon Resource Name (ARN). Examples: <code>user@example.com</code>, <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p>"
        }
      }
    },
    "GetIdentityNotificationAttributesResponse":{
      "type":"structure",
      "required":["NotificationAttributes"],
      "members":{
        "NotificationAttributes":{
          "shape":"NotificationAttributes",
          "documentation":"<p>A map of Identity to IdentityNotificationAttributes.</p>"
        }
      },
      "documentation":"<p>Describes whether an identity has Amazon Simple Notification Service (Amazon SNS) topics set for bounce, complaint, and/or delivery notifications, and specifies whether feedback forwarding is enabled for bounce and complaint notifications.</p>"
    },
    "GetIdentityPoliciesRequest":{
      "type":"structure",
      "required":[
        "Identity",
        "PolicyNames"
      ],
      "members":{
        "Identity":{
          "shape":"Identity",
          "documentation":"<p>The identity for which the policies will be retrieved. You can specify an identity by using its name or by using its Amazon Resource Name (ARN). Examples: <code>user@example.com</code>, <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p> <p>To successfully call this API, you must own the identity.</p>"
        },
        "PolicyNames":{
          "shape":"PolicyNameList",
          "documentation":"<p>A list of the names of policies to be retrieved. You can retrieve a maximum of 20 policies at a time. If you do not know the names of the policies that are attached to the identity, you can use <code>ListIdentityPolicies</code>.</p>"
        }
      },
      "documentation":"<p>Represents a request instructing the service to retrieve the text of a list of authorization policies applying to an identity. </p>"
    },
    "GetIdentityPoliciesResponse":{
      "type":"structure",
      "required":["Policies"],
      "members":{
        "Policies":{
          "shape":"PolicyMap",
          "documentation":"<p>A map of policy names to policies.</p>"
        }
      },
      "documentation":"<p>Represents a map of policy names to policies returned from a successful <code>GetIdentityPolicies</code> request. </p>"
    },
    "GetIdentityVerificationAttributesRequest":{
      "type":"structure",
      "required":["Identities"],
      "members":{
        "Identities":{
          "shape":"IdentityList",
          "documentation":"<p>A list of identities.</p>"
        }
      },
      "documentation":"<p>Represents a request instructing the service to provide the verification attributes for a list of identities.</p>"
    },
    "GetIdentityVerificationAttributesResponse":{
      "type":"structure",
      "required":["VerificationAttributes"],
      "members":{
        "VerificationAttributes":{
          "shape":"VerificationAttributes",
          "documentation":"<p>A map of Identities to IdentityVerificationAttributes objects.</p>"
        }
      },
      "documentation":"<p>Represents the verification attributes for a list of identities.</p>"
    },
    "GetSendQuotaResponse":{
      "type":"structure",
      "members":{
        "Max24HourSend":{
          "shape":"Max24HourSend",
          "documentation":"<p>The maximum number of emails the user is allowed to send in a 24-hour interval. A value of -1 signifies an unlimited quota.</p>"
        },
        "MaxSendRate":{
          "shape":"MaxSendRate",
          "documentation":"<p>The maximum number of emails that Amazon SES can accept from the user's account per second.</p> <note>The rate at which Amazon SES accepts the user's messages might be less than the maximum send rate.</note>"
        },
        "SentLast24Hours":{
          "shape":"SentLast24Hours",
          "documentation":"<p>The number of emails sent during the previous 24 hours.</p>"
        }
      },
      "documentation":"<p>Represents the user's current activity limits returned from a successful <code>GetSendQuota</code> request. </p>"
    },
    "GetSendStatisticsResponse":{
      "type":"structure",
      "members":{
        "SendDataPoints":{
          "shape":"SendDataPointList",
          "documentation":"<p>A list of data points, each of which represents 15 minutes of activity.</p>"
        }
      },
      "documentation":"<p>Represents a list of <code>SendDataPoint</code> items returned from a successful <code>GetSendStatistics</code> request. This list contains aggregated data from the previous two weeks of sending activity. </p>"
    },
    "HeaderName":{"type":"string"},
    "HeaderValue":{"type":"string"},
    "Identity":{"type":"string"},
    "IdentityDkimAttributes":{
      "type":"structure",
      "required":[
        "DkimEnabled",
        "DkimVerificationStatus"
      ],
      "members":{
        "DkimEnabled":{
          "shape":"Enabled",
          "documentation":"<p>True if DKIM signing is enabled for email sent from the identity; false otherwise.</p>"
        },
        "DkimVerificationStatus":{
          "shape":"VerificationStatus",
          "documentation":"<p>Describes whether Amazon SES has successfully verified the DKIM DNS records (tokens) published in the domain name's DNS. (This only applies to domain identities, not email address identities.)</p>"
        },
        "DkimTokens":{
          "shape":"VerificationTokenList",
          "documentation":"<p>A set of character strings that represent the domain's identity. Using these tokens, you will need to create DNS CNAME records that point to DKIM public keys hosted by Amazon SES. Amazon Web Services will eventually detect that you have updated your DNS records; this detection process may take up to 72 hours. Upon successful detection, Amazon SES will be able to DKIM-sign email originating from that domain. (This only applies to domain identities, not email address identities.)</p> <p>For more information about creating DNS records using DKIM tokens, go to the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim-dns-records.html\">Amazon SES Developer Guide</a>.</p>"
        }
      },
      "documentation":"<p>Represents the DKIM attributes of a verified email address or a domain.</p>"
    },
    "IdentityList":{
      "type":"list",
      "member":{"shape":"Identity"}
    },
    "IdentityNotificationAttributes":{
      "type":"structure",
      "required":[
        "BounceTopic",
        "ComplaintTopic",
        "DeliveryTopic",
        "ForwardingEnabled"
      ],
      "members":{
        "BounceTopic":{
          "shape":"NotificationTopic",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon SNS topic where Amazon SES will publish bounce notifications.</p>"
        },
        "ComplaintTopic":{
          "shape":"NotificationTopic",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon SNS topic where Amazon SES will publish complaint notifications.</p>"
        },
        "DeliveryTopic":{
          "shape":"NotificationTopic",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon SNS topic where Amazon SES will publish delivery notifications.</p>"
        },
        "ForwardingEnabled":{
          "shape":"Enabled",
          "documentation":"<p>Describes whether Amazon SES will forward bounce and complaint notifications as email. <code>true</code> indicates that Amazon SES will forward bounce and complaint notifications as email, while <code>false</code> indicates that bounce and complaint notifications will be published only to the specified bounce and complaint Amazon SNS topics.</p>"
        }
      },
      "documentation":"<p>Represents the notification attributes of an identity, including whether an identity has Amazon Simple Notification Service (Amazon SNS) topics set for bounce, complaint, and/or delivery notifications, and whether feedback forwarding is enabled for bounce and complaint notifications.</p>"
    },
    "IdentityType":{
      "type":"string",
      "enum":[
        "EmailAddress",
        "Domain"
      ]
    },
    "IdentityVerificationAttributes":{
      "type":"structure",
      "required":["VerificationStatus"],
      "members":{
        "VerificationStatus":{
          "shape":"VerificationStatus",
          "documentation":"<p>The verification status of the identity: \"Pending\", \"Success\", \"Failed\", or \"TemporaryFailure\".</p>"
        },
        "VerificationToken":{
          "shape":"VerificationToken",
          "documentation":"<p>The verification token for a domain identity. Null for email address identities.</p>"
        }
      },
      "documentation":"<p>Represents the verification attributes of a single identity.</p>"
    },
    "InvalidLambdaFunctionException":{
      "type":"structure",
      "members":{
        "FunctionArn":{"shape":"AmazonResourceName"}
      },
      "error":{
        "code":"InvalidLambdaFunction",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Indicates that the provided AWS Lambda function is invalid, or that Amazon SES could not execute the provided function, possibly due to permissions issues. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "InvalidPolicyException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidPolicy",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Indicates that the provided policy is invalid. Check the error stack for more information about what caused the error.</p>"
    },
    "InvalidS3ConfigurationException":{
      "type":"structure",
      "members":{
        "Bucket":{"shape":"S3BucketName"}
      },
      "error":{
        "code":"InvalidS3Configuration",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Indicates that the provided Amazon S3 bucket or AWS KMS encryption key is invalid, or that Amazon SES could not publish to the bucket, possibly due to permissions issues. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "InvalidSnsTopicException":{
      "type":"structure",
      "members":{
        "Topic":{"shape":"AmazonResourceName"}
      },
      "error":{
        "code":"InvalidSnsTopic",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Indicates that the provided Amazon SNS topic is invalid, or that Amazon SES could not publish to the topic, possibly due to permissions issues. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "InvocationType":{
      "type":"string",
      "enum":[
        "Event",
        "RequestResponse"
      ]
    },
    "LambdaAction":{
      "type":"structure",
      "required":["FunctionArn"],
      "members":{
        "TopicArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon SNS topic to notify when the Lambda action is taken. An example of an Amazon SNS topic ARN is <code>arn:aws:sns:us-west-2:123456789012:MyTopic</code>. For more information about Amazon SNS topics, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon SNS Developer Guide</a>.</p>"
        },
        "FunctionArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the AWS Lambda function. An example of an AWS Lambda function ARN is <code>arn:aws:lambda:us-west-2:account-id:function:MyFunction</code>. For more information about AWS Lambda, see the <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">AWS Lambda Developer Guide</a>.</p>"
        },
        "InvocationType":{
          "shape":"InvocationType",
          "documentation":"<p>The invocation type of the AWS Lambda function. An invocation type of <code>RequestResponse</code> means that the execution of the function will immediately result in a response, and a value of <code>Event</code> means that the function will be invoked asynchronously. The default value is <code>Event</code>. For information about AWS Lambda invocation types, see the <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/API_Invoke.html\">AWS Lambda Developer Guide</a>.</p> <important>There is a 30-second timeout on <code>RequestResponse</code> invocations. You should use <code>Event</code> invocation in most cases. Use <code>RequestResponse</code> only when you want to make a mail flow decision, such as whether to stop the receipt rule or the receipt rule set.</important>"
        }
      },
      "documentation":"<p>When included in a receipt rule, this action calls an AWS Lambda function and, optionally, publishes a notification to Amazon Simple Notification Service (Amazon SNS).</p> <p>To enable Amazon SES to call your AWS Lambda function or to publish to an Amazon SNS topic of another account, Amazon SES must have permission to access those resources. For information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p> <p>For information about using AWS Lambda actions in receipt rules, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-action-lambda.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "LastAttemptDate":{"type":"timestamp"},
    "LimitExceededException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"LimitExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Indicates that a resource could not be created due to service limits. For a list of Amazon SES limits, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/limits.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "ListIdentitiesRequest":{
      "type":"structure",
      "members":{
        "IdentityType":{
          "shape":"IdentityType",
          "documentation":"<p>The type of the identities to list. Possible values are \"EmailAddress\" and \"Domain\". If this parameter is omitted, then all identities will be listed.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token to use for pagination.</p>"
        },
        "MaxItems":{
          "shape":"MaxItems",
          "documentation":"<p>The maximum number of identities per page. Possible values are 1-1000 inclusive.</p>"
        }
      },
      "documentation":"<p>Represents a request instructing the service to list all identities for the AWS Account.</p>"
    },
    "ListIdentitiesResponse":{
      "type":"structure",
      "required":["Identities"],
      "members":{
        "Identities":{
          "shape":"IdentityList",
          "documentation":"<p>A list of identities.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token used for pagination.</p>"
        }
      },
      "documentation":"<p>Represents a list of all verified identities for the AWS Account.</p>"
    },
    "ListIdentityPoliciesRequest":{
      "type":"structure",
      "required":["Identity"],
      "members":{
        "Identity":{
          "shape":"Identity",
          "documentation":"<p>The identity that is associated with the policy for which the policies will be listed. You can specify an identity by using its name or by using its Amazon Resource Name (ARN). Examples: <code>user@example.com</code>, <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p> <p>To successfully call this API, you must own the identity.</p>"
        }
      },
      "documentation":"<p>Represents a request instructing the service to list all authorization policies, by name, applying to an identity.</p>"
    },
    "ListIdentityPoliciesResponse":{
      "type":"structure",
      "required":["PolicyNames"],
      "members":{
        "PolicyNames":{
          "shape":"PolicyNameList",
          "documentation":"<p>A list of names of policies that apply to the specified identity.</p>"
        }
      },
      "documentation":"<p>Represents a list of policy names returned from a successful <code>ListIdentityPolicies</code> request. </p>"
    },
    "ListReceiptFiltersRequest":{
      "type":"structure",
      "members":{
      }
    },
    "ListReceiptFiltersResponse":{
      "type":"structure",
      "members":{
        "Filters":{
          "shape":"ReceiptFilterList",
          "documentation":"<p>A list of IP address filter data structures, which each consist of a name, an IP address range, and whether to allow or block mail from it.</p>"
        }
      }
    },
    "ListReceiptRuleSetsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>A token returned from a previous call to <code>ListReceiptRuleSets</code> to indicate the position in the receipt rule set list.</p>"
        }
      }
    },
    "ListReceiptRuleSetsResponse":{
      "type":"structure",
      "members":{
        "RuleSets":{
          "shape":"ReceiptRuleSetsLists",
          "documentation":"<p>The metadata for the currently active receipt rule set. The metadata consists of the rule set name and the timestamp of when the rule set was created.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>A token indicating that there are additional receipt rule sets available to be listed. Pass this token to successive calls of <code>ListReceiptRuleSets</code> to retrieve up to 100 receipt rule sets at a time.</p>"
        }
      }
    },
    "ListVerifiedEmailAddressesResponse":{
      "type":"structure",
      "members":{
        "VerifiedEmailAddresses":{
          "shape":"AddressList",
          "documentation":"<p>A list of email addresses that have been verified.</p>"
        }
      },
      "documentation":"<p>Represents a list of all the email addresses verified for the current user.</p>"
    },
    "Max24HourSend":{"type":"double"},
    "MaxItems":{"type":"integer"},
    "MaxSendRate":{"type":"double"},
    "Message":{
      "type":"structure",
      "required":[
        "Subject",
        "Body"
      ],
      "members":{
        "Subject":{
          "shape":"Content",
          "documentation":"<p>The subject of the message: A short summary of the content, which will appear in the recipient's inbox.</p>"
        },
        "Body":{
          "shape":"Body",
          "documentation":"<p>The message body.</p>"
        }
      },
      "documentation":"<p>Represents the message to be sent, composed of a subject and a body.</p>"
    },
    "MessageData":{"type":"string"},
    "MessageDsn":{
      "type":"structure",
      "required":["ReportingMta"],
      "members":{
        "ReportingMta":{
          "shape":"ReportingMta",
          "documentation":"<p>The reporting MTA that attempted to deliver the message, formatted as specified in <a href=\"https://tools.ietf.org/html/rfc3464\">RFC 3464</a> (<code>mta-name-type; mta-name</code>). The default value is <code>dns; inbound-smtp.[region].amazonaws.com</code>.</p>"
        },
        "ArrivalDate":{
          "shape":"ArrivalDate",
          "documentation":"<p>When the message was received by the reporting mail transfer agent (MTA), in <a href=\"https://www.ietf.org/rfc/rfc0822.txt\">RFC 822</a> date-time format.</p>"
        },
        "ExtensionFields":{
          "shape":"ExtensionFieldList",
          "documentation":"<p>Additional X-headers to include in the DSN.</p>"
        }
      },
      "documentation":"<p>Message-related information to include in the Delivery Status Notification (DSN) when an email that Amazon SES receives on your behalf bounces.</p> <p>For information about receiving email through Amazon SES, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "MessageId":{"type":"string"},
    "MessageRejected":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"MessageRejected",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Indicates that the action failed, and the message could not be sent. Check the error stack for more information about what caused the error.</p>"
    },
    "NextToken":{"type":"string"},
    "NotificationAttributes":{
      "type":"map",
      "key":{"shape":"Identity"},
      "value":{"shape":"IdentityNotificationAttributes"}
    },
    "NotificationTopic":{"type":"string"},
    "NotificationType":{
      "type":"string",
      "enum":[
        "Bounce",
        "Complaint",
        "Delivery"
      ]
    },
    "Policy":{
      "type":"string",
      "min":1,
      "documentation":"JSON representation of a valid policy."
    },
    "PolicyMap":{
      "type":"map",
      "key":{"shape":"PolicyName"},
      "value":{"shape":"Policy"}
    },
    "PolicyName":{
      "type":"string",
      "min":1,
      "max":64,
      "documentation":"Name of the policy."
    },
    "PolicyNameList":{
      "type":"list",
      "member":{"shape":"PolicyName"}
    },
    "PutIdentityPolicyRequest":{
      "type":"structure",
      "required":[
        "Identity",
        "PolicyName",
        "Policy"
      ],
      "members":{
        "Identity":{
          "shape":"Identity",
          "documentation":"<p>The identity to which the policy will apply. You can specify an identity by using its name or by using its Amazon Resource Name (ARN). Examples: <code>user@example.com</code>, <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p> <p>To successfully call this API, you must own the identity.</p>"
        },
        "PolicyName":{
          "shape":"PolicyName",
          "documentation":"<p>The name of the policy.</p> <p>The policy name cannot exceed 64 characters and can only include alphanumeric characters, dashes, and underscores.</p>"
        },
        "Policy":{
          "shape":"Policy",
          "documentation":"<p>The text of the policy in JSON format. The policy cannot exceed 4 KB.</p> <p>For information about the syntax of sending authorization policies, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization-policies.html\">Amazon SES Developer Guide</a>. </p>"
        }
      },
      "documentation":"<p>Represents a request instructing the service to apply an authorization policy to an identity.</p>"
    },
    "PutIdentityPolicyResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>An empty element. Receiving this element indicates that the request completed successfully.</p>"
    },
    "RawMessage":{
      "type":"structure",
      "required":["Data"],
      "members":{
        "Data":{
          "shape":"RawMessageData",
[...]
