{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-10-07",
    "endpointPrefix": "events",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon CloudWatch Events",
    "serviceId": "CloudWatch Events",
    "signatureVersion": "v4",
    "targetPrefix": "AWSEvents",
    "uid": "events-2015-10-07"
  },
  "operations": {
    "DeleteRule": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          }
        }
      }
    },
    "DescribeEventBus": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "Arn": {},
          "Policy": {}
        }
      }
    },
    "DescribeRule": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S2"
          },
          "Arn": {
            "shape": "S8"
          },
          "EventPattern": {},
          "ScheduleExpression": {
            "shape": "Sa"
          },
          "State": {
            "shape": "Sb"
          },
          "Description": {
            "shape": "Sc"
          },
          "RoleArn": {
            "shape": "Sd"
          }
        }
      }
    },
    "DisableRule": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          }
        }
      }
    },
    "EnableRule": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          }
        }
      }
    },
    "ListRuleNamesByTarget": {
      "input": {
        "type": "structure",
        "required": [
          "TargetArn"
        ],
        "members": {
          "TargetArn": {
            "shape": "Sh"
          },
          "NextToken": {
            "shape": "Si"
          },
          "Limit": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RuleNames": {
            "type": "list",
            "member": {
              "shape": "S2"
            }
          },
          "NextToken": {
            "shape": "Si"
          }
        }
      }
    },
    "ListRules": {
      "input": {
        "type": "structure",
        "members": {
          "NamePrefix": {
            "shape": "S2"
          },
          "NextToken": {
            "shape": "Si"
          },
          "Limit": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Rules": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "shape": "S2"
                },
                "Arn": {
                  "shape": "S8"
                },
                "EventPattern": {},
                "State": {
                  "shape": "Sb"
                },
                "Description": {
                  "shape": "Sc"
                },
                "ScheduleExpression": {
                  "shape": "Sa"
                },
                "RoleArn": {
                  "shape": "Sd"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Si"
          }
        }
      }
    },
    "ListTargetsByRule": {
      "input": {
        "type": "structure",
        "required": [
          "Rule"
        ],
        "members": {
          "Rule": {
            "shape": "S2"
          },
          "NextToken": {
            "shape": "Si"
          },
          "Limit": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Targets": {
            "shape": "Ss"
          },
          "NextToken": {
            "shape": "Si"
          }
        }
      }
    },
    "PutEvents": {
      "input": {
        "type": "structure",
        "required": [
          "Entries"
        ],
        "members": {
          "Entries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Time": {
                  "type": "timestamp"
                },
                "Source": {},
                "Resources": {
                  "type": "list",
                  "member": {}
                },
                "DetailType": {},
                "Detail": {}
              }
            },
            "max": 10,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedEntryCount": {
            "type": "integer"
          },
          "Entries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EventId": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "PutPermission": {
      "input": {
        "type": "structure",
        "required": [
          "Action",
          "Principal",
          "StatementId"
        ],
        "members": {
          "Action": {
            "type": "string",
            "max": 64,
            "min": 1,
            "pattern": "events:[a-zA-Z]+"
          },
          "Principal": {
            "type": "string",
            "max": 12,
            "min": 1,
            "pattern": "(\\d{12}|\\*)"
          },
          "StatementId": {
            "shape": "S22"
          }
        }
      }
    },
    "PutRule": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          },
          "ScheduleExpression": {
            "shape": "Sa"
          },
          "EventPattern": {},
          "State": {
            "shape": "Sb"
          },
          "Description": {
            "shape": "Sc"
          },
          "RoleArn": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RuleArn": {
            "shape": "S8"
          }
        }
      }
    },
    "PutTargets": {
      "input": {
        "type": "structure",
        "required": [
          "Rule",
          "Targets"
        ],
        "members": {
          "Rule": {
            "shape": "S2"
          },
          "Targets": {
            "shape": "Ss"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedEntryCount": {
            "type": "integer"
          },
          "FailedEntries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TargetId": {
                  "shape": "Su"
                },
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "RemovePermission": {
      "input": {
        "type": "structure",
        "required": [
          "StatementId"
        ],
        "members": {
          "StatementId": {
            "shape": "S22"
          }
        }
      }
    },
    "RemoveTargets": {
      "input": {
        "type": "structure",
        "required": [
          "Rule",
          "Ids"
        ],
        "members": {
          "Rule": {
            "shape": "S2"
          },
          "Ids": {
            "type": "list",
            "member": {
              "shape": "Su"
            },
            "max": 100,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedEntryCount": {
            "type": "integer"
          },
          "FailedEntries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TargetId": {
                  "shape": "Su"
                },
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "TestEventPattern": {
      "input": {
        "type": "structure",
        "required": [
          "EventPattern",
          "Event"
        ],
        "members": {
          "EventPattern": {},
          "Event": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Result": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "[\\.\\-_A-Za-z0-9]+"
    },
    "S8": {
      "type": "string",
      "max": 1600,
      "min": 1
    },
    "Sa": {
      "type": "string",
      "max": 256
    },
    "Sb": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "Sc": {
      "type": "string",
      "max": 512
    },
    "Sd": {
      "type": "string",
      "max": 1600,
      "min": 1
    },
    "Sh": {
      "type": "string",
      "max": 1600,
      "min": 1
    },
    "Si": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "Sj": {
      "type": "integer",
      "max": 100,
      "min": 1
    },
    "Ss": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Id",
          "Arn"
        ],
        "members": {
          "Id": {
            "shape": "Su"
          },
          "Arn": {
            "shape": "Sh"
          },
          "RoleArn": {
            "shape": "Sd"
          },
          "Input": {
            "type": "string",
            "max": 8192
          },
          "InputPath": {
            "shape": "Sw"
          },
          "InputTransformer": {
            "type": "structure",
            "required": [
              "InputTemplate"
            ],
            "members": {
              "InputPathsMap": {
                "type": "map",
                "key": {
                  "type": "string",
                  "max": 256,
                  "min": 1,
                  "pattern": "[A-Za-z0-9\\_\\-]+"
                },
                "value": {
                  "shape": "Sw"
                },
                "max": 10
              },
              "InputTemplate": {
                "type": "string",
                "max": 8192,
                "min": 1
              }
            }
          },
          "KinesisParameters": {
            "type": "structure",
            "required": [
              "PartitionKeyPath"
            ],
            "members": {
              "PartitionKeyPath": {
                "type": "string",
                "max": 256
              }
            }
          },
          "RunCommandParameters": {
            "type": "structure",
            "required": [
              "RunCommandTargets"
            ],
            "members": {
              "RunCommandTargets": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "Key",
                    "Values"
                  ],
                  "members": {
                    "Key": {
                      "type": "string",
                      "max": 128,
                      "min": 1,
                      "pattern": "^[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*$"
                    },
                    "Values": {
                      "type": "list",
                      "member": {
                        "type": "string",
                        "max": 256,
                        "min": 1
                      },
                      "max": 50,
                      "min": 1
                    }
                  }
                },
                "max": 5,
                "min": 1
              }
            }
          },
          "EcsParameters": {
            "type": "structure",
            "required": [
              "TaskDefinitionArn"
            ],
            "members": {
              "TaskDefinitionArn": {
                "type": "string",
                "max": 1600,
                "min": 1
              },
              "TaskCount": {
                "type": "integer",
                "min": 1
              },
              "LaunchType": {
                "type": "string",
                "enum": [
                  "EC2",
                  "FARGATE"
                ]
              },
              "NetworkConfiguration": {
                "type": "structure",
                "members": {
                  "awsvpcConfiguration": {
                    "type": "structure",
                    "required": [
                      "Subnets"
                    ],
                    "members": {
                      "Subnets": {
                        "shape": "S1f"
                      },
                      "SecurityGroups": {
                        "shape": "S1f"
                      },
                      "AssignPublicIp": {
                        "type": "string",
                        "enum": [
                          "ENABLED",
                          "DISABLED"
                        ]
                      }
                    }
                  }
                }
              },
              "PlatformVersion": {},
              "Group": {}
            }
          },
          "BatchParameters": {
            "type": "structure",
            "required": [
              "JobDefinition",
              "JobName"
            ],
            "members": {
              "JobDefinition": {},
              "JobName": {},
              "ArrayProperties": {
                "type": "structure",
                "members": {
                  "Size": {
                    "type": "integer"
                  }
                }
              },
              "RetryStrategy": {
                "type": "structure",
                "members": {
                  "Attempts": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "SqsParameters": {
            "type": "structure",
            "members": {
              "MessageGroupId": {}
            }
          }
        }
      },
      "max": 100,
      "min": 1
    },
    "Su": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "[\\.\\-_A-Za-z0-9]+"
    },
    "Sw": {
      "type": "string",
      "max": 256
    },
    "S1f": {
      "type": "list",
      "member": {}
    },
    "S22": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9-_]+"
    }
  }
}