{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-07-13",
    "endpointPrefix": "finspace-api",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "FinSpace Data",
    "serviceFullName": "FinSpace Public API",
    "serviceId": "finspace data",
    "signatureVersion": "v4",
    "signingName": "finspace-api",
    "uid": "finspace-2020-07-13"
  },
  "operations": {
    "CreateChangeset": {
      "http": {
        "requestUri": "/datasets/{datasetId}/changesetsv2"
      },
      "input": {
        "type": "structure",
        "required": [
          "datasetId",
          "changeType",
          "sourceParams",
          "formatParams"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "datasetId": {
            "location": "uri",
            "locationName": "datasetId"
          },
          "changeType": {},
          "sourceParams": {
            "shape": "S5"
          },
          "formatParams": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "datasetId": {},
          "changesetId": {}
        }
      }
    },
    "CreateDataView": {
      "http": {
        "requestUri": "/datasets/{datasetId}/dataviewsv2"
      },
      "input": {
        "type": "structure",
        "required": [
          "datasetId",
          "destinationTypeParams"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "datasetId": {
            "location": "uri",
            "locationName": "datasetId"
          },
          "autoUpdate": {
            "type": "boolean"
          },
          "sortColumns": {
            "shape": "Sd"
          },
          "partitionColumns": {
            "shape": "Sf"
          },
          "asOfTimestamp": {
            "type": "long"
          },
          "destinationTypeParams": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "datasetId": {},
          "dataViewId": {}
        }
      }
    },
    "CreateDataset": {
      "http": {
        "requestUri": "/datasetsv2"
      },
      "input": {
        "type": "structure",
        "required": [
          "datasetTitle",
          "kind",
          "datasetDescription",
          "permissionGroupParams",
          "alias"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "datasetTitle": {},
          "kind": {},
          "datasetDescription": {},
          "ownerInfo": {
            "shape": "Sp"
          },
          "permissionGroupParams": {
            "type": "structure",
            "members": {
              "permissionGroupId": {},
              "datasetPermissions": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "permission": {}
                  }
                }
              }
            }
          },
          "alias": {},
          "schemaDefinition": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "datasetId": {}
        }
      }
    },
    "DeleteDataset": {
      "http": {
        "method": "DELETE",
        "requestUri": "/datasetsv2/{datasetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "datasetId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "querystring",
            "locationName": "clientToken"
          },
          "datasetId": {
            "location": "uri",
            "locationName": "datasetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "datasetId": {}
        }
      }
    },
    "GetChangeset": {
      "http": {
        "method": "GET",
        "requestUri": "/datasets/{datasetId}/changesetsv2/{changesetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "datasetId",
          "changesetId"
        ],
        "members": {
          "datasetId": {
            "location": "uri",
            "locationName": "datasetId"
          },
          "changesetId": {
            "location": "uri",
            "locationName": "changesetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "changesetId": {},
          "changesetArn": {},
          "datasetId": {},
          "changeType": {},
          "sourceParams": {
            "shape": "S5"
          },
          "formatParams": {
            "shape": "S8"
          },
          "createTime": {
            "type": "long"
          },
          "status": {},
          "errorInfo": {
            "shape": "S1e"
          },
          "activeUntilTimestamp": {
            "type": "long"
          },
          "updatesChangesetId": {},
          "updatedByChangesetId": {}
        }
      }
    },
    "GetDataView": {
      "http": {
        "method": "GET",
        "requestUri": "/datasets/{datasetId}/dataviewsv2/{dataviewId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "dataViewId",
          "datasetId"
        ],
        "members": {
          "dataViewId": {
            "location": "uri",
            "locationName": "dataviewId"
          },
          "datasetId": {
            "location": "uri",
            "locationName": "datasetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "autoUpdate": {
            "type": "boolean"
          },
          "partitionColumns": {
            "shape": "Sf"
          },
          "datasetId": {},
          "asOfTimestamp": {
            "type": "long"
          },
          "errorInfo": {
            "shape": "S1j"
          },
          "lastModifiedTime": {
            "type": "long"
          },
          "createTime": {
            "type": "long"
          },
          "sortColumns": {
            "shape": "Sd"
          },
          "dataViewId": {},
          "dataViewArn": {},
          "destinationTypeParams": {
            "shape": "Sh"
          },
          "status": {}
        }
      }
    },
    "GetDataset": {
      "http": {
        "method": "GET",
        "requestUri": "/datasetsv2/{datasetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "datasetId"
        ],
        "members": {
          "datasetId": {
            "location": "uri",
            "locationName": "datasetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "datasetId": {},
          "datasetArn": {},
          "datasetTitle": {},
          "kind": {},
          "datasetDescription": {},
          "createTime": {
            "type": "long"
          },
          "lastModifiedTime": {
            "type": "long"
          },
          "schemaDefinition": {
            "shape": "Sz"
          },
          "alias": {},
          "status": {}
        }
      }
    },
    "GetProgrammaticAccessCredentials": {
      "http": {
        "method": "GET",
        "requestUri": "/credentials/programmatic"
      },
      "input": {
        "type": "structure",
        "required": [
          "environmentId"
        ],
        "members": {
          "durationInMinutes": {
            "location": "querystring",
            "locationName": "durationInMinutes",
            "type": "long"
          },
          "environmentId": {
            "location": "querystring",
            "locationName": "environmentId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "credentials": {
            "type": "structure",
            "members": {
              "accessKeyId": {},
              "secretAccessKey": {},
              "sessionToken": {}
            }
          },
          "durationInMinutes": {
            "type": "long"
          }
        }
      }
    },
    "GetWorkingLocation": {
      "http": {
        "requestUri": "/workingLocationV1"
      },
      "input": {
        "type": "structure",
        "members": {
          "locationType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "s3Uri": {},
          "s3Path": {},
          "s3Bucket": {}
        }
      }
    },
    "ListChangesets": {
      "http": {
        "method": "GET",
        "requestUri": "/datasets/{datasetId}/changesetsv2"
      },
      "input": {
        "type": "structure",
        "required": [
          "datasetId"
        ],
        "members": {
          "datasetId": {
            "location": "uri",
            "locationName": "datasetId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "changesets": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "changesetId": {},
                "changesetArn": {},
                "datasetId": {},
                "changeType": {},
                "sourceParams": {
                  "shape": "S5"
                },
                "formatParams": {
                  "shape": "S8"
                },
                "createTime": {
                  "type": "long"
                },
                "status": {},
                "errorInfo": {
                  "shape": "S1e"
                },
                "activeUntilTimestamp": {
                  "type": "long"
                },
                "updatesChangesetId": {},
                "updatedByChangesetId": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListDataViews": {
      "http": {
        "method": "GET",
        "requestUri": "/datasets/{datasetId}/dataviewsv2"
      },
      "input": {
        "type": "structure",
        "required": [
          "datasetId"
        ],
        "members": {
          "datasetId": {
            "location": "uri",
            "locationName": "datasetId"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "dataViews": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "dataViewId": {},
                "dataViewArn": {},
                "datasetId": {},
                "asOfTimestamp": {
                  "type": "long"
                },
                "partitionColumns": {
                  "shape": "Sf"
                },
                "sortColumns": {
                  "shape": "Sd"
                },
                "status": {},
                "errorInfo": {
                  "shape": "S1j"
                },
                "destinationTypeProperties": {
                  "shape": "Sh"
                },
                "autoUpdate": {
                  "type": "boolean"
                },
                "createTime": {
                  "type": "long"
                },
                "lastModifiedTime": {
                  "type": "long"
                }
              }
            }
          }
        }
      }
    },
    "ListDatasets": {
      "http": {
        "method": "GET",
        "requestUri": "/datasetsv2"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "datasets": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "datasetId": {},
                "datasetArn": {},
                "datasetTitle": {},
                "kind": {},
                "datasetDescription": {},
                "ownerInfo": {
                  "shape": "Sp"
                },
                "createTime": {
                  "type": "long"
                },
                "lastModifiedTime": {
                  "type": "long"
                },
                "schemaDefinition": {
                  "shape": "Sz"
                },
                "alias": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "UpdateChangeset": {
      "http": {
        "method": "PUT",
        "requestUri": "/datasets/{datasetId}/changesetsv2/{changesetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "datasetId",
          "changesetId",
          "sourceParams",
          "formatParams"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "datasetId": {
            "location": "uri",
            "locationName": "datasetId"
          },
          "changesetId": {
            "location": "uri",
            "locationName": "changesetId"
          },
          "sourceParams": {
            "shape": "S5"
          },
          "formatParams": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "changesetId": {},
          "datasetId": {}
        }
      }
    },
    "UpdateDataset": {
      "http": {
        "method": "PUT",
        "requestUri": "/datasetsv2/{datasetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "datasetId",
          "datasetTitle",
          "kind",
          "alias"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "datasetId": {
            "location": "uri",
            "locationName": "datasetId"
          },
          "datasetTitle": {},
          "kind": {},
          "datasetDescription": {},
          "alias": {},
          "schemaDefinition": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "datasetId": {}
        }
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S8": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sd": {
      "type": "list",
      "member": {}
    },
    "Sf": {
      "type": "list",
      "member": {}
    },
    "Sh": {
      "type": "structure",
      "required": [
        "destinationType"
      ],
      "members": {
        "destinationType": {}
      }
    },
    "Sp": {
      "type": "structure",
      "members": {
        "name": {},
        "phoneNumber": {},
        "email": {}
      }
    },
    "Sz": {
      "type": "structure",
      "members": {
        "tabularSchemaConfig": {
          "type": "structure",
          "members": {
            "columns": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "dataType": {},
                  "columnName": {},
                  "columnDescription": {}
                }
              }
            },
            "primaryKeyColumns": {
              "type": "list",
              "member": {}
            }
          }
        }
      }
    },
    "S1e": {
      "type": "structure",
      "members": {
        "errorMessage": {},
        "errorCategory": {}
      }
    },
    "S1j": {
      "type": "structure",
      "members": {
        "errorMessage": {},
        "errorCategory": {}
      }
    }
  }
}