{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-08-04",
    "endpointPrefix": "firehose",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Firehose",
    "serviceFullName": "Amazon Kinesis Firehose",
    "serviceId": "Firehose",
    "signatureVersion": "v4",
    "targetPrefix": "Firehose_20150804",
    "uid": "firehose-2015-08-04"
  },
  "operations": {
    "CreateDeliveryStream": {
      "input": {
        "type": "structure",
        "required": [
          "DeliveryStreamName"
        ],
        "members": {
          "DeliveryStreamName": {
            "shape": "S2"
          },
          "DeliveryStreamType": {
            "shape": "S3"
          },
          "KinesisStreamSourceConfiguration": {
            "type": "structure",
            "required": [
              "KinesisStreamARN",
              "RoleARN"
            ],
            "members": {
              "KinesisStreamARN": {
                "shape": "S5"
              },
              "RoleARN": {
                "shape": "S6"
              }
            }
          },
          "S3DestinationConfiguration": {
            "shape": "S7",
            "deprecated": true
          },
          "ExtendedS3DestinationConfiguration": {
            "type": "structure",
            "required": [
              "RoleARN",
              "BucketARN"
            ],
            "members": {
              "RoleARN": {
                "shape": "S6"
              },
              "BucketARN": {
                "shape": "S8"
              },
              "Prefix": {},
              "BufferingHints": {
                "shape": "Sa"
              },
              "CompressionFormat": {
                "shape": "Sd"
              },
              "EncryptionConfiguration": {
                "shape": "Se"
              },
              "CloudWatchLoggingOptions": {
                "shape": "Si"
              },
              "ProcessingConfiguration": {
                "shape": "Sn"
              },
              "S3BackupMode": {
                "shape": "Sv"
              },
              "S3BackupConfiguration": {
                "shape": "S7"
              },
              "DataFormatConversionConfiguration": {
                "shape": "Sw"
              }
            }
          },
          "RedshiftDestinationConfiguration": {
            "type": "structure",
            "required": [
              "RoleARN",
              "ClusterJDBCURL",
              "CopyCommand",
              "Username",
              "Password",
              "S3Configuration"
            ],
            "members": {
              "RoleARN": {
                "shape": "S6"
              },
              "ClusterJDBCURL": {
                "shape": "S1m"
              },
              "CopyCommand": {
                "shape": "S1n"
              },
              "Username": {
                "shape": "S1r"
              },
              "Password": {
                "shape": "S1s"
              },
              "RetryOptions": {
                "shape": "S1t"
              },
              "S3Configuration": {
                "shape": "S7"
              },
              "ProcessingConfiguration": {
                "shape": "Sn"
              },
              "S3BackupMode": {
                "shape": "S1v"
              },
              "S3BackupConfiguration": {
                "shape": "S7"
              },
              "CloudWatchLoggingOptions": {
                "shape": "Si"
              }
            }
          },
          "ElasticsearchDestinationConfiguration": {
            "type": "structure",
            "required": [
              "RoleARN",
              "DomainARN",
              "IndexName",
              "TypeName",
              "S3Configuration"
            ],
            "members": {
              "RoleARN": {
                "shape": "S6"
              },
              "DomainARN": {
                "shape": "S1x"
              },
              "IndexName": {
                "shape": "S1y"
              },
              "TypeName": {
                "shape": "S1z"
              },
              "IndexRotationPeriod": {
                "shape": "S20"
              },
              "BufferingHints": {
                "shape": "S21"
              },
              "RetryOptions": {
                "shape": "S24"
              },
              "S3BackupMode": {
                "shape": "S26"
              },
              "S3Configuration": {
                "shape": "S7"
              },
              "ProcessingConfiguration": {
                "shape": "Sn"
              },
              "CloudWatchLoggingOptions": {
                "shape": "Si"
              }
            }
          },
          "SplunkDestinationConfiguration": {
            "type": "structure",
            "required": [
              "HECEndpoint",
              "HECEndpointType",
              "HECToken",
              "S3Configuration"
            ],
            "members": {
              "HECEndpoint": {},
              "HECEndpointType": {
                "shape": "S29"
              },
              "HECToken": {},
              "HECAcknowledgmentTimeoutInSeconds": {
                "shape": "S2b"
              },
              "RetryOptions": {
                "shape": "S2c"
              },
              "S3BackupMode": {
                "shape": "S2e"
              },
              "S3Configuration": {
                "shape": "S7"
              },
              "ProcessingConfiguration": {
                "shape": "Sn"
              },
              "CloudWatchLoggingOptions": {
                "shape": "Si"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DeliveryStreamARN": {
            "shape": "S2g"
          }
        }
      }
    },
    "DeleteDeliveryStream": {
      "input": {
        "type": "structure",
        "required": [
          "DeliveryStreamName"
        ],
        "members": {
          "DeliveryStreamName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeDeliveryStream": {
      "input": {
        "type": "structure",
        "required": [
          "DeliveryStreamName"
        ],
        "members": {
          "DeliveryStreamName": {
            "shape": "S2"
          },
          "Limit": {
            "type": "integer",
            "max": 10000,
            "min": 1
          },
          "ExclusiveStartDestinationId": {
            "shape": "S2l"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeliveryStreamDescription"
        ],
        "members": {
          "DeliveryStreamDescription": {
            "type": "structure",
            "required": [
              "DeliveryStreamName",
              "DeliveryStreamARN",
              "DeliveryStreamStatus",
              "DeliveryStreamType",
              "VersionId",
              "Destinations",
              "HasMoreDestinations"
            ],
            "members": {
              "DeliveryStreamName": {
                "shape": "S2"
              },
              "DeliveryStreamARN": {
                "shape": "S2g"
              },
              "DeliveryStreamStatus": {
                "type": "string",
                "enum": [
                  "CREATING",
                  "DELETING",
                  "ACTIVE"
                ]
              },
              "DeliveryStreamType": {
                "shape": "S3"
              },
              "VersionId": {
                "shape": "S2p"
              },
              "CreateTimestamp": {
                "type": "timestamp"
              },
              "LastUpdateTimestamp": {
                "type": "timestamp"
              },
              "Source": {
                "type": "structure",
                "members": {
                  "KinesisStreamSourceDescription": {
                    "type": "structure",
                    "members": {
                      "KinesisStreamARN": {
                        "shape": "S5"
                      },
                      "RoleARN": {
                        "shape": "S6"
                      },
                      "DeliveryStartTimestamp": {
                        "type": "timestamp"
                      }
                    }
                  }
                }
              },
              "Destinations": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "DestinationId"
                  ],
                  "members": {
                    "DestinationId": {
                      "shape": "S2l"
                    },
                    "S3DestinationDescription": {
                      "shape": "S2w"
                    },
                    "ExtendedS3DestinationDescription": {
                      "type": "structure",
                      "required": [
                        "RoleARN",
                        "BucketARN",
                        "BufferingHints",
                        "CompressionFormat",
                        "EncryptionConfiguration"
                      ],
                      "members": {
                        "RoleARN": {
                          "shape": "S6"
                        },
                        "BucketARN": {
                          "shape": "S8"
                        },
                        "Prefix": {},
                        "BufferingHints": {
                          "shape": "Sa"
                        },
                        "CompressionFormat": {
                          "shape": "Sd"
                        },
                        "EncryptionConfiguration": {
                          "shape": "Se"
                        },
                        "CloudWatchLoggingOptions": {
                          "shape": "Si"
                        },
                        "ProcessingConfiguration": {
                          "shape": "Sn"
                        },
                        "S3BackupMode": {
                          "shape": "Sv"
                        },
                        "S3BackupDescription": {
                          "shape": "S2w"
                        },
                        "DataFormatConversionConfiguration": {
                          "shape": "Sw"
                        }
                      }
                    },
                    "RedshiftDestinationDescription": {
                      "type": "structure",
                      "required": [
                        "RoleARN",
                        "ClusterJDBCURL",
                        "CopyCommand",
                        "Username",
                        "S3DestinationDescription"
                      ],
                      "members": {
                        "RoleARN": {
                          "shape": "S6"
                        },
                        "ClusterJDBCURL": {
                          "shape": "S1m"
                        },
                        "CopyCommand": {
                          "shape": "S1n"
                        },
                        "Username": {
                          "shape": "S1r"
                        },
                        "RetryOptions": {
                          "shape": "S1t"
                        },
                        "S3DestinationDescription": {
                          "shape": "S2w"
                        },
                        "ProcessingConfiguration": {
                          "shape": "Sn"
                        },
                        "S3BackupMode": {
                          "shape": "S1v"
                        },
                        "S3BackupDescription": {
                          "shape": "S2w"
                        },
                        "CloudWatchLoggingOptions": {
                          "shape": "Si"
                        }
                      }
                    },
                    "ElasticsearchDestinationDescription": {
                      "type": "structure",
                      "members": {
                        "RoleARN": {
                          "shape": "S6"
                        },
                        "DomainARN": {
                          "shape": "S1x"
                        },
                        "IndexName": {
                          "shape": "S1y"
                        },
                        "TypeName": {
                          "shape": "S1z"
                        },
                        "IndexRotationPeriod": {
                          "shape": "S20"
                        },
                        "BufferingHints": {
                          "shape": "S21"
                        },
                        "RetryOptions": {
                          "shape": "S24"
                        },
                        "S3BackupMode": {
                          "shape": "S26"
                        },
                        "S3DestinationDescription": {
                          "shape": "S2w"
                        },
                        "ProcessingConfiguration": {
                          "shape": "Sn"
                        },
                        "CloudWatchLoggingOptions": {
                          "shape": "Si"
                        }
                      }
                    },
                    "SplunkDestinationDescription": {
                      "type": "structure",
                      "members": {
                        "HECEndpoint": {},
                        "HECEndpointType": {
                          "shape": "S29"
                        },
                        "HECToken": {},
                        "HECAcknowledgmentTimeoutInSeconds": {
                          "shape": "S2b"
                        },
                        "RetryOptions": {
                          "shape": "S2c"
                        },
                        "S3BackupMode": {
                          "shape": "S2e"
                        },
                        "S3DestinationDescription": {
                          "shape": "S2w"
                        },
                        "ProcessingConfiguration": {
                          "shape": "Sn"
                        },
                        "CloudWatchLoggingOptions": {
                          "shape": "Si"
                        }
                      }
                    }
                  }
                }
              },
              "HasMoreDestinations": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "ListDeliveryStreams": {
      "input": {
        "type": "structure",
        "members": {
          "Limit": {
            "type": "integer",
            "max": 10000,
            "min": 1
          },
          "DeliveryStreamType": {
            "shape": "S3"
          },
          "ExclusiveStartDeliveryStreamName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeliveryStreamNames",
          "HasMoreDeliveryStreams"
        ],
        "members": {
          "DeliveryStreamNames": {
            "type": "list",
            "member": {
              "shape": "S2"
            }
          },
          "HasMoreDeliveryStreams": {
            "type": "boolean"
          }
        }
      }
    },
    "ListTagsForDeliveryStream": {
      "input": {
        "type": "structure",
        "required": [
          "DeliveryStreamName"
        ],
        "members": {
          "DeliveryStreamName": {
            "shape": "S2"
          },
          "ExclusiveStartTagKey": {
            "shape": "S36"
          },
          "Limit": {
            "type": "integer",
            "max": 50,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Tags",
          "HasMoreTags"
        ],
        "members": {
          "Tags": {
            "type": "list",
            "member": {
              "shape": "S3a"
            },
            "max": 50,
            "min": 0
          },
          "HasMoreTags": {
            "type": "boolean"
          }
        }
      }
    },
    "PutRecord": {
      "input": {
        "type": "structure",
        "required": [
          "DeliveryStreamName",
          "Record"
        ],
        "members": {
          "DeliveryStreamName": {
            "shape": "S2"
          },
          "Record": {
            "shape": "S3d"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "RecordId"
        ],
        "members": {
          "RecordId": {
            "shape": "S3g"
          }
        }
      }
    },
    "PutRecordBatch": {
      "input": {
        "type": "structure",
        "required": [
          "DeliveryStreamName",
          "Records"
        ],
        "members": {
          "DeliveryStreamName": {
            "shape": "S2"
          },
          "Records": {
            "type": "list",
            "member": {
              "shape": "S3d"
            },
            "max": 500,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FailedPutCount",
          "RequestResponses"
        ],
        "members": {
          "FailedPutCount": {
            "shape": "S1c"
          },
          "RequestResponses": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RecordId": {
                  "shape": "S3g"
                },
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            },
            "max": 500,
            "min": 1
          }
        }
      }
    },
    "TagDeliveryStream": {
      "input": {
        "type": "structure",
        "required": [
          "DeliveryStreamName",
          "Tags"
        ],
        "members": {
          "DeliveryStreamName": {
            "shape": "S2"
          },
          "Tags": {
            "type": "list",
            "member": {
              "shape": "S3a"
            },
            "max": 50,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagDeliveryStream": {
      "input": {
        "type": "structure",
        "required": [
          "DeliveryStreamName",
          "TagKeys"
        ],
        "members": {
          "DeliveryStreamName": {
            "shape": "S2"
          },
          "TagKeys": {
            "type": "list",
            "member": {
              "shape": "S36"
            },
            "max": 50,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDestination": {
      "input": {
        "type": "structure",
        "required": [
          "DeliveryStreamName",
          "CurrentDeliveryStreamVersionId",
          "DestinationId"
        ],
        "members": {
          "DeliveryStreamName": {
            "shape": "S2"
          },
          "CurrentDeliveryStreamVersionId": {
            "shape": "S2p"
          },
          "DestinationId": {
            "shape": "S2l"
          },
          "S3DestinationUpdate": {
            "shape": "S3v",
            "deprecated": true
          },
          "ExtendedS3DestinationUpdate": {
            "type": "structure",
            "members": {
              "RoleARN": {
                "shape": "S6"
              },
              "BucketARN": {
                "shape": "S8"
              },
              "Prefix": {},
              "BufferingHints": {
                "shape": "Sa"
              },
              "CompressionFormat": {
                "shape": "Sd"
              },
              "EncryptionConfiguration": {
                "shape": "Se"
              },
              "CloudWatchLoggingOptions": {
                "shape": "Si"
              },
              "ProcessingConfiguration": {
                "shape": "Sn"
              },
              "S3BackupMode": {
                "shape": "Sv"
              },
              "S3BackupUpdate": {
                "shape": "S3v"
              },
              "DataFormatConversionConfiguration": {
                "shape": "Sw"
              }
            }
          },
          "RedshiftDestinationUpdate": {
            "type": "structure",
            "members": {
              "RoleARN": {
                "shape": "S6"
              },
              "ClusterJDBCURL": {
                "shape": "S1m"
              },
              "CopyCommand": {
                "shape": "S1n"
              },
              "Username": {
                "shape": "S1r"
              },
              "Password": {
                "shape": "S1s"
              },
              "RetryOptions": {
                "shape": "S1t"
              },
              "S3Update": {
                "shape": "S3v"
              },
              "ProcessingConfiguration": {
                "shape": "Sn"
              },
              "S3BackupMode": {
                "shape": "S1v"
              },
              "S3BackupUpdate": {
                "shape": "S3v"
              },
              "CloudWatchLoggingOptions": {
                "shape": "Si"
              }
            }
          },
          "ElasticsearchDestinationUpdate": {
            "type": "structure",
            "members": {
              "RoleARN": {
                "shape": "S6"
              },
              "DomainARN": {
                "shape": "S1x"
              },
              "IndexName": {
                "shape": "S1y"
              },
              "TypeName": {
                "shape": "S1z"
              },
              "IndexRotationPeriod": {
                "shape": "S20"
              },
              "BufferingHints": {
                "shape": "S21"
              },
              "RetryOptions": {
                "shape": "S24"
              },
              "S3Update": {
                "shape": "S3v"
              },
              "ProcessingConfiguration": {
                "shape": "Sn"
              },
              "CloudWatchLoggingOptions": {
                "shape": "Si"
              }
            }
          },
          "SplunkDestinationUpdate": {
            "type": "structure",
            "members": {
              "HECEndpoint": {},
              "HECEndpointType": {
                "shape": "S29"
              },
              "HECToken": {},
              "HECAcknowledgmentTimeoutInSeconds": {
                "shape": "S2b"
              },
              "RetryOptions": {
                "shape": "S2c"
              },
              "S3BackupMode": {
                "shape": "S2e"
              },
              "S3Update": {
                "shape": "S3v"
              },
              "ProcessingConfiguration": {
                "shape": "Sn"
              },
              "CloudWatchLoggingOptions": {
                "shape": "Si"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "S3": {
      "type": "string",
      "enum": [
        "DirectPut",
        "KinesisStreamAsSource"
      ]
    },
    "S5": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "arn:.*"
    },
    "S6": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "arn:.*"
    },
    "S7": {
      "type": "structure",
      "required": [
        "RoleARN",
        "BucketARN"
      ],
      "members": {
        "RoleARN": {
          "shape": "S6"
        },
        "BucketARN": {
          "shape": "S8"
        },
        "Prefix": {},
        "BufferingHints": {
          "shape": "Sa"
        },
        "CompressionFormat": {
          "shape": "Sd"
        },
        "EncryptionConfiguration": {
          "shape": "Se"
        },
        "CloudWatchLoggingOptions": {
          "shape": "Si"
        }
      }
    },
    "S8": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "arn:.*"
    },
    "Sa": {
      "type": "structure",
      "members": {
        "SizeInMBs": {
          "type": "integer",
          "max": 128,
          "min": 1
        },
        "IntervalInSeconds": {
          "type": "integer",
          "max": 900,
          "min": 60
        }
      }
    },
    "Sd": {
      "type": "string",
      "enum": [
        "UNCOMPRESSED",
        "GZIP",
        "ZIP",
        "Snappy"
      ]
    },
    "Se": {
      "type": "structure",
      "members": {
        "NoEncryptionConfig": {
          "type": "string",
          "enum": [
            "NoEncryption"
          ]
        },
        "KMSEncryptionConfig": {
          "type": "structure",
          "required": [
            "AWSKMSKeyARN"
          ],
          "members": {
            "AWSKMSKeyARN": {
              "type": "string",
              "max": 512,
              "min": 1,
              "pattern": "arn:.*"
            }
          }
        }
      }
    },
    "Si": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "LogGroupName": {},
        "LogStreamName": {}
      }
    },
    "Sn": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "Processors": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Type"
            ],
            "members": {
              "Type": {
                "type": "string",
                "enum": [
                  "Lambda"
                ]
              },
              "Parameters": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "ParameterName",
                    "ParameterValue"
                  ],
                  "members": {
                    "ParameterName": {
                      "type": "string",
                      "enum": [
                        "LambdaArn",
                        "NumberOfRetries",
                        "RoleArn",
                        "BufferSizeInMBs",
                        "BufferIntervalInSeconds"
                      ]
                    },
                    "ParameterValue": {
                      "type": "string",
                      "max": 512,
                      "min": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Sv": {
      "type": "string",
      "enum": [
        "Disabled",
        "Enabled"
      ]
    },
    "Sw": {
      "type": "structure",
      "members": {
        "SchemaConfiguration": {
          "type": "structure",
          "members": {
            "RoleARN": {
              "shape": "Sy"
            },
            "CatalogId": {
              "shape": "Sy"
            },
            "DatabaseName": {
              "shape": "Sy"
            },
            "TableName": {
              "shape": "Sy"
            },
            "Region": {
              "shape": "Sy"
            },
            "VersionId": {
              "shape": "Sy"
            }
          }
        },
        "InputFormatConfiguration": {
          "type": "structure",
          "members": {
            "Deserializer": {
              "type": "structure",
              "members": {
                "OpenXJsonSerDe": {
                  "type": "structure",
                  "members": {
                    "ConvertDotsInJsonKeysToUnderscores": {
                      "type": "boolean"
                    },
                    "CaseInsensitive": {
                      "type": "boolean"
                    },
                    "ColumnToJsonKeyMappings": {
                      "type": "map",
                      "key": {
                        "shape": "Sy"
                      },
                      "value": {
                        "shape": "S13"
                      }
                    }
                  }
                },
                "HiveJsonSerDe": {
                  "type": "structure",
                  "members": {
                    "TimestampFormats": {
                      "type": "list",
                      "member": {
                        "shape": "S13"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "OutputFormatConfiguration": {
          "type": "structure",
          "members": {
            "Serializer": {
              "type": "structure",
              "members": {
                "ParquetSerDe": {
                  "type": "structure",
                  "members": {
                    "BlockSizeBytes": {
                      "shape": "S19"
                    },
                    "PageSizeBytes": {
                      "type": "integer",
                      "min": 65536
                    },
                    "Compression": {
                      "type": "string",
                      "enum": [
                        "UNCOMPRESSED",
                        "GZIP",
                        "SNAPPY"
                      ]
                    },
                    "EnableDictionaryCompression": {
                      "type": "boolean"
                    },
                    "MaxPaddingBytes": {
                      "shape": "S1c"
                    },
                    "WriterVersion": {
                      "type": "string",
                      "enum": [
                        "V1",
                        "V2"
                      ]
                    }
                  }
                },
                "OrcSerDe": {
                  "type": "structure",
                  "members": {
                    "StripeSizeBytes": {
                      "type": "integer",
                      "min": 8388608
                    },
                    "BlockSizeBytes": {
                      "shape": "S19"
                    },
                    "RowIndexStride": {
                      "type": "integer",
                      "min": 1000
                    },
                    "EnablePadding": {
                      "type": "boolean"
                    },
                    "PaddingTolerance": {
                      "shape": "S1h"
                    },
                    "Compression": {
                      "type": "string",
                      "enum": [
                        "NONE",
                        "ZLIB",
                        "SNAPPY"
                      ]
                    },
                    "BloomFilterColumns": {
                      "type": "list",
                      "member": {
                        "shape": "Sy"
                      }
                    },
                    "BloomFilterFalsePositiveProbability": {
                      "shape": "S1h"
                    },
                    "DictionaryKeyThreshold": {
                      "shape": "S1h"
                    },
                    "FormatVersion": {
                      "type": "string",
                      "enum": [
                        "V0_11",
                        "V0_12"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "Enabled": {
          "type": "boolean"
        }
      }
    },
    "Sy": {
      "type": "string",
      "pattern": "^\\S+$"
    },
    "S13": {
      "type": "string",
      "pattern": "^(?!\\s*$).+"
    },
    "S19": {
      "type": "integer",
      "min": 67108864
    },
    "S1c": {
      "type": "integer",
      "min": 0
    },
    "S1h": {
      "type": "double",
      "max": 1,
      "min": 0
    },
    "S1m": {
      "type": "string",
      "min": 1,
      "pattern": "jdbc:(redshift|postgresql)://((?!-)[A-Za-z0-9-]{1,63}(?<!-)\\.)+redshift\\.amazonaws\\.com:\\d{1,5}/[a-zA-Z0-9_$]+"
    },
    "S1n": {
      "type": "structure",
      "required": [
        "DataTableName"
      ],
      "members": {
        "DataTableName": {
          "type": "string",
          "min": 1
        },
        "DataTableColumns": {},
        "CopyOptions": {}
      }
    },
    "S1r": {
      "type": "string",
      "min": 1,
      "sensitive": true
    },
    "S1s": {
      "type": "string",
      "min": 6,
      "sensitive": true
    },
    "S1t": {
      "type": "structure",
      "members": {
        "DurationInSeconds": {
          "type": "integer",
          "max": 7200,
          "min": 0
        }
      }
    },
    "S1v": {
      "type": "string",
      "enum": [
        "Disabled",
        "Enabled"
      ]
    },
    "S1x": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "arn:.*"
    },
    "S1y": {
      "type": "string",
      "max": 80,
      "min": 1
    },
    "S1z": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "S20": {
      "type": "string",
      "enum": [
        "NoRotation",
        "OneHour",
        "OneDay",
        "OneWeek",
        "OneMonth"
      ]
    },
    "S21": {
      "type": "structure",
      "members": {
        "IntervalInSeconds": {
          "type": "integer",
          "max": 900,
          "min": 60
        },
        "SizeInMBs": {
          "type": "integer",
          "max": 100,
          "min": 1
        }
      }
    },
    "S24": {
      "type": "structure",
      "members": {
        "DurationInSeconds": {
          "type": "integer",
          "max": 7200,
          "min": 0
        }
      }
    },
    "S26": {
      "type": "string",
      "enum": [
        "FailedDocumentsOnly",
        "AllDocuments"
      ]
    },
    "S29": {
      "type": "string",
      "enum": [
        "Raw",
        "Event"
      ]
    },
    "S2b": {
      "type": "integer",
      "max": 600,
      "min": 180
    },
    "S2c": {
      "type": "structure",
      "members": {
        "DurationInSeconds": {
          "type": "integer",
          "max": 7200,
          "min": 0
        }
      }
    },
    "S2e": {
      "type": "string",
      "enum": [
        "FailedEventsOnly",
        "AllEvents"
      ]
    },
    "S2g": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "arn:.*"
    },
    "S2l": {
      "type": "string",
      "max": 100,
      "min": 1
    },
    "S2p": {
      "type": "string",
      "max": 50,
      "min": 1,
      "pattern": "[0-9]+"
    },
    "S2w": {
      "type": "structure",
      "required": [
        "RoleARN",
        "BucketARN",
        "BufferingHints",
        "CompressionFormat",
        "EncryptionConfiguration"
      ],
      "members": {
        "RoleARN": {
          "shape": "S6"
        },
        "BucketARN": {
          "shape": "S8"
        },
        "Prefix": {},
        "BufferingHints": {
          "shape": "Sa"
        },
        "CompressionFormat": {
          "shape": "Sd"
        },
        "EncryptionConfiguration": {
          "shape": "Se"
        },
        "CloudWatchLoggingOptions": {
          "shape": "Si"
        }
      }
    },
    "S36": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S3a": {
      "type": "structure",
      "required": [
        "Key"
      ],
      "members": {
        "Key": {
          "shape": "S36"
        },
        "Value": {
          "type": "string",
          "max": 256,
          "min": 0
        }
      }
    },
    "S3d": {
      "type": "structure",
      "required": [
        "Data"
      ],
      "members": {
        "Data": {
          "type": "blob",
          "max": 1024000,
          "min": 0
        }
      }
    },
    "S3g": {
      "type": "string",
      "min": 1
    },
    "S3v": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "shape": "S6"
        },
        "BucketARN": {
          "shape": "S8"
        },
        "Prefix": {},
        "BufferingHints": {
          "shape": "Sa"
        },
        "CompressionFormat": {
          "shape": "Sd"
        },
        "EncryptionConfiguration": {
          "shape": "Se"
        },
        "CloudWatchLoggingOptions": {
          "shape": "Si"
        }
      }
    }
  }
}