{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-01-01",
    "endpointPrefix": "fms",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "FMS",
    "serviceFullName": "Firewall Management Service",
    "serviceId": "FMS",
    "signatureVersion": "v4",
    "targetPrefix": "AWSFMS_20180101",
    "uid": "fms-2018-01-01"
  },
  "operations": {
    "AssociateAdminAccount": {
      "input": {
        "type": "structure",
        "required": [
          "AdminAccount"
        ],
        "members": {
          "AdminAccount": {
            "shape": "S2"
          }
        }
      }
    },
    "DeleteNotificationChannel": {
      "input": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyId"
        ],
        "members": {
          "PolicyId": {
            "shape": "S5"
          }
        }
      }
    },
    "DisassociateAdminAccount": {
      "input": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAdminAccount": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "AdminAccount": {
            "shape": "S2"
          },
          "RoleStatus": {
            "type": "string",
            "enum": [
              "READY",
              "CREATING",
              "PENDING_DELETION",
              "DELETING",
              "DELETED"
            ]
          }
        }
      }
    },
    "GetComplianceDetail": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyId",
          "MemberAccount"
        ],
        "members": {
          "PolicyId": {
            "shape": "S5"
          },
          "MemberAccount": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyComplianceDetail": {
            "type": "structure",
            "members": {
              "PolicyOwner": {
                "shape": "S2"
              },
              "PolicyId": {
                "shape": "S5"
              },
              "MemberAccount": {
                "shape": "S2"
              },
              "Violators": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "ResourceId": {
                      "type": "string",
                      "max": 1024,
                      "min": 1
                    },
                    "ViolationReason": {
                      "type": "string",
                      "enum": [
                        "WEB_ACL_MISSING_RULE_GROUP",
                        "RESOURCE_MISSING_WEB_ACL",
                        "RESOURCE_INCORRECT_WEB_ACL"
                      ]
                    },
                    "ResourceType": {
                      "shape": "Sh"
                    }
                  }
                }
              },
              "EvaluationLimitExceeded": {
                "type": "boolean"
              },
              "ExpiredAt": {
                "type": "timestamp"
              },
              "IssueInfoMap": {
                "shape": "Sk"
              }
            }
          }
        }
      }
    },
    "GetNotificationChannel": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "SnsTopicArn": {
            "shape": "Sp"
          },
          "SnsRoleName": {
            "shape": "Sp"
          }
        }
      }
    },
    "GetPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyId"
        ],
        "members": {
          "PolicyId": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {
            "shape": "Ss"
          },
          "PolicyArn": {
            "shape": "Sp"
          }
        }
      }
    },
    "ListComplianceStatus": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyId"
        ],
        "members": {
          "PolicyId": {
            "shape": "S5"
          },
          "NextToken": {
            "shape": "S17"
          },
          "MaxResults": {
            "shape": "S18"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyComplianceStatusList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PolicyOwner": {
                  "shape": "S2"
                },
                "PolicyId": {
                  "shape": "S5"
                },
                "PolicyName": {
                  "shape": "St"
                },
                "MemberAccount": {
                  "shape": "S2"
                },
                "EvaluationResults": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "ComplianceStatus": {
                        "type": "string",
                        "enum": [
                          "COMPLIANT",
                          "NON_COMPLIANT"
                        ]
                      },
                      "ViolatorCount": {
                        "type": "long",
                        "min": 0
                      },
                      "EvaluationLimitExceeded": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "LastUpdated": {
                  "type": "timestamp"
                },
                "IssueInfoMap": {
                  "shape": "Sk"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S17"
          }
        }
      }
    },
    "ListMemberAccounts": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S17"
          },
          "MaxResults": {
            "shape": "S18"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MemberAccounts": {
            "type": "list",
            "member": {
              "shape": "S2"
            }
          },
          "NextToken": {
            "shape": "S17"
          }
        }
      }
    },
    "ListPolicies": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S17"
          },
          "MaxResults": {
            "shape": "S18"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PolicyArn": {
                  "shape": "Sp"
                },
                "PolicyId": {
                  "shape": "S5"
                },
                "PolicyName": {
                  "shape": "St"
                },
                "ResourceType": {
                  "shape": "Sh"
                },
                "SecurityServiceType": {
                  "shape": "Sw"
                },
                "RemediationEnabled": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S17"
          }
        }
      }
    },
    "PutNotificationChannel": {
      "input": {
        "type": "structure",
        "required": [
          "SnsTopicArn",
          "SnsRoleName"
        ],
        "members": {
          "SnsTopicArn": {
            "shape": "Sp"
          },
          "SnsRoleName": {
            "shape": "Sp"
          }
        }
      }
    },
    "PutPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "Policy"
        ],
        "members": {
          "Policy": {
            "shape": "Ss"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {
            "shape": "Ss"
          },
          "PolicyArn": {
            "shape": "Sp"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "S5": {
      "type": "string",
      "max": 36,
      "min": 36
    },
    "Sh": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "Sk": {
      "type": "map",
      "key": {
        "type": "string",
        "enum": [
          "AWSCONFIG",
          "AWSWAF"
        ]
      },
      "value": {
        "type": "string",
        "max": 1024,
        "min": 1
      }
    },
    "Sp": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "Ss": {
      "type": "structure",
      "required": [
        "PolicyName",
        "SecurityServicePolicyData",
        "ResourceType",
        "ExcludeResourceTags",
        "RemediationEnabled"
      ],
      "members": {
        "PolicyId": {
          "shape": "S5"
        },
        "PolicyName": {
          "shape": "St"
        },
        "PolicyUpdateToken": {
          "type": "string",
          "max": 1024,
          "min": 1
        },
        "SecurityServicePolicyData": {
          "type": "structure",
          "required": [
            "Type"
          ],
          "members": {
            "Type": {
              "shape": "Sw"
            },
            "ManagedServiceData": {
              "type": "string",
              "max": 1024,
              "min": 1
            }
          }
        },
        "ResourceType": {
          "shape": "Sh"
        },
        "ResourceTags": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Key"
            ],
            "members": {
              "Key": {
                "type": "string",
                "max": 128,
                "min": 1,
                "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
              },
              "Value": {
                "type": "string",
                "max": 256,
                "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
              }
            }
          },
          "max": 8,
          "min": 0
        },
        "ExcludeResourceTags": {
          "type": "boolean"
        },
        "RemediationEnabled": {
          "type": "boolean"
        },
        "IncludeMap": {
          "shape": "S12"
        },
        "ExcludeMap": {
          "shape": "S12"
        }
      }
    },
    "St": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "Sw": {
      "type": "string",
      "enum": [
        "WAF"
      ]
    },
    "S12": {
      "type": "map",
      "key": {
        "type": "string",
        "enum": [
          "ACCOUNT"
        ]
      },
      "value": {
        "type": "list",
        "member": {
          "type": "string",
          "max": 1024,
          "min": 1
        }
      }
    },
    "S17": {
      "type": "string",
      "min": 1
    },
    "S18": {
      "type": "integer",
      "max": 100,
      "min": 1
    }
  }
}