{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-11-15",
    "endpointPrefix": "frauddetector",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Fraud Detector",
    "serviceId": "FraudDetector",
    "signatureVersion": "v4",
    "targetPrefix": "AWSHawksNestServiceFacade",
    "uid": "frauddetector-2019-11-15"
  },
  "operations": {
    "BatchCreateVariable": {
      "input": {
        "type": "structure",
        "required": [
          "variableEntries"
        ],
        "members": {
          "variableEntries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "dataType": {},
                "dataSource": {},
                "defaultValue": {},
                "description": {},
                "variableType": {}
              }
            }
          },
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "code": {
                  "type": "integer"
                },
                "message": {}
              }
            }
          }
        }
      }
    },
    "BatchGetVariable": {
      "input": {
        "type": "structure",
        "required": [
          "names"
        ],
        "members": {
          "names": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "variables": {
            "shape": "Sg"
          },
          "errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "code": {
                  "type": "integer"
                },
                "message": {}
              }
            }
          }
        }
      }
    },
    "CreateDetectorVersion": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "rules"
        ],
        "members": {
          "detectorId": {},
          "description": {},
          "externalModelEndpoints": {
            "shape": "Sr"
          },
          "rules": {
            "shape": "Ss"
          },
          "modelVersions": {
            "shape": "Sv"
          },
          "ruleExecutionMode": {},
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "detectorId": {},
          "detectorVersionId": {},
          "status": {}
        }
      }
    },
    "CreateModel": {
      "input": {
        "type": "structure",
        "required": [
          "modelId",
          "modelType",
          "eventTypeName"
        ],
        "members": {
          "modelId": {},
          "modelType": {},
          "description": {},
          "eventTypeName": {},
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateModelVersion": {
      "input": {
        "type": "structure",
        "required": [
          "modelId",
          "modelType",
          "trainingDataSource",
          "trainingDataSchema"
        ],
        "members": {
          "modelId": {},
          "modelType": {},
          "trainingDataSource": {},
          "trainingDataSchema": {
            "shape": "S16"
          },
          "externalEventsDetail": {
            "shape": "S19"
          },
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "modelId": {},
          "modelType": {},
          "modelVersionNumber": {},
          "status": {}
        }
      }
    },
    "CreateRule": {
      "input": {
        "type": "structure",
        "required": [
          "ruleId",
          "detectorId",
          "expression",
          "language",
          "outcomes"
        ],
        "members": {
          "ruleId": {},
          "detectorId": {},
          "description": {},
          "expression": {
            "shape": "S1e"
          },
          "language": {},
          "outcomes": {
            "shape": "S1g"
          },
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "rule": {
            "shape": "St"
          }
        }
      }
    },
    "CreateVariable": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "dataType",
          "dataSource",
          "defaultValue"
        ],
        "members": {
          "name": {},
          "dataType": {},
          "dataSource": {},
          "defaultValue": {},
          "description": {},
          "variableType": {},
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDetector": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId"
        ],
        "members": {
          "detectorId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDetectorVersion": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "detectorVersionId"
        ],
        "members": {
          "detectorId": {},
          "detectorVersionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteEvent": {
      "input": {
        "type": "structure",
        "required": [
          "eventId",
          "eventTypeName"
        ],
        "members": {
          "eventId": {},
          "eventTypeName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRule": {
      "input": {
        "type": "structure",
        "required": [
          "rule"
        ],
        "members": {
          "rule": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeDetector": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId"
        ],
        "members": {
          "detectorId": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "detectorId": {},
          "detectorVersionSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "detectorVersionId": {},
                "status": {},
                "description": {},
                "lastUpdatedTime": {}
              }
            }
          },
          "nextToken": {},
          "arn": {}
        }
      }
    },
    "DescribeModelVersions": {
      "input": {
        "type": "structure",
        "members": {
          "modelId": {},
          "modelVersionNumber": {},
          "modelType": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "modelVersionDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "modelId": {},
                "modelType": {},
                "modelVersionNumber": {},
                "status": {},
                "trainingDataSource": {},
                "trainingDataSchema": {
                  "shape": "S16"
                },
                "externalEventsDetail": {
                  "shape": "S19"
                },
                "trainingResult": {
                  "type": "structure",
                  "members": {
                    "dataValidationMetrics": {
                      "type": "structure",
                      "members": {
                        "fileLevelMessages": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "title": {},
                              "content": {},
                              "type": {}
                            }
                          }
                        },
                        "fieldLevelMessages": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "fieldName": {},
                              "identifier": {},
                              "title": {},
                              "content": {},
                              "type": {}
                            }
                          }
                        }
                      }
                    },
                    "trainingMetrics": {
                      "type": "structure",
                      "members": {
                        "auc": {
                          "type": "float"
                        },
                        "metricDataPoints": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "fpr": {
                                "type": "float"
                              },
                              "precision": {
                                "type": "float"
                              },
                              "tpr": {
                                "type": "float"
                              },
                              "threshold": {
                                "type": "float"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "lastUpdatedTime": {},
                "createdTime": {},
                "arn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetDetectorVersion": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "detectorVersionId"
        ],
        "members": {
          "detectorId": {},
          "detectorVersionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "detectorId": {},
          "detectorVersionId": {},
          "description": {},
          "externalModelEndpoints": {
            "shape": "Sr"
          },
          "modelVersions": {
            "shape": "Sv"
          },
          "rules": {
            "shape": "Ss"
          },
          "status": {},
          "lastUpdatedTime": {},
          "createdTime": {},
          "ruleExecutionMode": {},
          "arn": {}
        }
      }
    },
    "GetDetectors": {
      "input": {
        "type": "structure",
        "members": {
          "detectorId": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "detectors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "detectorId": {},
                "description": {},
                "eventTypeName": {},
                "lastUpdatedTime": {},
                "createdTime": {},
                "arn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetEntityTypes": {
      "input": {
        "type": "structure",
        "members": {
          "name": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "entityTypes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "description": {},
                "lastUpdatedTime": {},
                "createdTime": {},
                "arn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetEventPrediction": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "eventId",
          "eventTypeName",
          "entities",
          "eventTimestamp",
          "eventVariables"
        ],
        "members": {
          "detectorId": {},
          "detectorVersionId": {},
          "eventId": {},
          "eventTypeName": {},
          "entities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "entityType": {},
                "entityId": {}
              }
            }
          },
          "eventTimestamp": {},
          "eventVariables": {
            "type": "map",
            "key": {},
            "value": {
              "type": "string",
              "sensitive": true
            }
          },
          "externalModelEndpointDataBlobs": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "members": {
                "byteBuffer": {
                  "type": "blob"
                },
                "contentType": {}
              }
            },
            "sensitive": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "modelScores": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "modelVersion": {
                  "shape": "Sw"
                },
                "scores": {
                  "type": "map",
                  "key": {},
                  "value": {
                    "type": "float"
                  }
                }
              }
            }
          },
          "ruleResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ruleId": {},
                "outcomes": {
                  "shape": "Sr"
                }
              }
            }
          }
        }
      }
    },
    "GetEventTypes": {
      "input": {
        "type": "structure",
        "members": {
          "name": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "eventTypes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "description": {},
                "eventVariables": {
                  "shape": "Sr"
                },
                "labels": {
                  "shape": "Sr"
                },
                "entityTypes": {
                  "shape": "S1g"
                },
                "lastUpdatedTime": {},
                "createdTime": {},
                "arn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetExternalModels": {
      "input": {
        "type": "structure",
        "members": {
          "modelEndpoint": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "externalModels": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "modelEndpoint": {},
                "eventTypeName": {},
                "modelSource": {},
                "invokeModelEndpointRoleArn": {},
                "inputConfiguration": {
                  "shape": "S3g"
                },
                "outputConfiguration": {
                  "shape": "S3j"
                },
                "modelEndpointStatus": {},
                "lastUpdatedTime": {},
                "createdTime": {},
                "arn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetKMSEncryptionKey": {
      "output": {
        "type": "structure",
        "members": {
          "kmsKey": {
            "type": "structure",
            "members": {
              "kmsEncryptionKeyArn": {}
            }
          }
        }
      }
    },
    "GetLabels": {
      "input": {
        "type": "structure",
        "members": {
          "name": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "labels": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "description": {},
                "lastUpdatedTime": {},
                "createdTime": {},
                "arn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetModelVersion": {
      "input": {
        "type": "structure",
        "required": [
          "modelId",
          "modelType",
          "modelVersionNumber"
        ],
        "members": {
          "modelId": {},
          "modelType": {},
          "modelVersionNumber": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "modelId": {},
          "modelType": {},
          "modelVersionNumber": {},
          "trainingDataSource": {},
          "trainingDataSchema": {
            "shape": "S16"
          },
          "externalEventsDetail": {
            "shape": "S19"
          },
          "status": {},
          "arn": {}
        }
      }
    },
    "GetModels": {
      "input": {
        "type": "structure",
        "members": {
          "modelId": {},
          "modelType": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "models": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "modelId": {},
                "modelType": {},
                "description": {},
                "eventTypeName": {},
                "createdTime": {},
                "lastUpdatedTime": {},
                "arn": {}
              }
            }
          }
        }
      }
    },
    "GetOutcomes": {
      "input": {
        "type": "structure",
        "members": {
          "name": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "outcomes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "description": {},
                "lastUpdatedTime": {},
                "createdTime": {},
                "arn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetRules": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId"
        ],
        "members": {
          "ruleId": {},
          "detectorId": {},
          "ruleVersion": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ruleDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ruleId": {},
                "description": {},
                "detectorId": {},
                "ruleVersion": {},
                "expression": {
                  "shape": "S1e"
                },
                "language": {},
                "outcomes": {
                  "shape": "S1g"
                },
                "lastUpdatedTime": {},
                "createdTime": {},
                "arn": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetVariables": {
      "input": {
        "type": "structure",
        "members": {
          "name": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "variables": {
            "shape": "Sg"
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceARN"
        ],
        "members": {
          "resourceARN": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "S5"
          },
          "nextToken": {}
        }
      }
    },
    "PutDetector": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "eventTypeName"
        ],
        "members": {
          "detectorId": {},
          "description": {},
          "eventTypeName": {},
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEntityType": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {},
          "description": {},
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEventType": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "eventVariables",
          "entityTypes"
        ],
        "members": {
          "name": {},
          "description": {},
          "eventVariables": {
            "shape": "S1g"
          },
          "labels": {
            "shape": "Sr"
          },
          "entityTypes": {
            "shape": "S1g"
          },
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutExternalModel": {
      "input": {
        "type": "structure",
        "required": [
          "modelEndpoint",
          "modelSource",
          "invokeModelEndpointRoleArn",
          "inputConfiguration",
          "outputConfiguration",
          "modelEndpointStatus"
        ],
        "members": {
          "modelEndpoint": {},
          "eventTypeName": {},
          "modelSource": {},
          "invokeModelEndpointRoleArn": {},
          "inputConfiguration": {
            "shape": "S3g"
          },
          "outputConfiguration": {
            "shape": "S3j"
          },
          "modelEndpointStatus": {},
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutKMSEncryptionKey": {
      "input": {
        "type": "structure",
        "required": [
          "kmsEncryptionKeyArn"
        ],
        "members": {
          "kmsEncryptionKeyArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutLabel": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {},
          "description": {},
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutOutcome": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {},
          "description": {},
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceARN",
          "tags"
        ],
        "members": {
          "resourceARN": {},
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceARN",
          "tagKeys"
        ],
        "members": {
          "resourceARN": {},
          "tagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDetectorVersion": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "detectorVersionId",
          "externalModelEndpoints",
          "rules"
        ],
        "members": {
          "detectorId": {},
          "detectorVersionId": {},
          "externalModelEndpoints": {
            "shape": "Sr"
          },
          "rules": {
            "shape": "Ss"
          },
          "description": {},
          "modelVersions": {
            "shape": "Sv"
          },
          "ruleExecutionMode": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDetectorVersionMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "detectorVersionId",
          "description"
        ],
        "members": {
          "detectorId": {},
          "detectorVersionId": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDetectorVersionStatus": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "detectorVersionId",
          "status"
        ],
        "members": {
          "detectorId": {},
          "detectorVersionId": {},
          "status": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateModel": {
      "input": {
        "type": "structure",
        "required": [
          "modelId",
          "modelType"
        ],
        "members": {
          "modelId": {},
          "modelType": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateModelVersion": {
      "input": {
        "type": "structure",
        "required": [
          "modelId",
          "modelType",
          "majorVersionNumber"
        ],
        "members": {
          "modelId": {},
          "modelType": {},
          "majorVersionNumber": {},
          "externalEventsDetail": {
            "shape": "S19"
          },
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "modelId": {},
          "modelType": {},
          "modelVersionNumber": {},
          "status": {}
        }
      }
    },
    "UpdateModelVersionStatus": {
      "input": {
        "type": "structure",
        "required": [
          "modelId",
          "modelType",
          "modelVersionNumber",
          "status"
        ],
        "members": {
          "modelId": {},
          "modelType": {},
          "modelVersionNumber": {},
          "status": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRuleMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "rule",
          "description"
        ],
        "members": {
          "rule": {
            "shape": "St"
          },
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRuleVersion": {
      "input": {
        "type": "structure",
        "required": [
          "rule",
          "expression",
          "language",
          "outcomes"
        ],
        "members": {
          "rule": {
            "shape": "St"
          },
          "description": {},
          "expression": {
            "shape": "S1e"
          },
          "language": {},
          "outcomes": {
            "shape": "S1g"
          },
          "tags": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "rule": {
            "shape": "St"
          }
        }
      }
    },
    "UpdateVariable": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {},
          "defaultValue": {},
          "description": {},
          "variableType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "key",
          "value"
        ],
        "members": {
          "key": {},
          "value": {}
        }
      }
    },
    "Sg": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "dataType": {},
          "dataSource": {},
          "defaultValue": {},
          "description": {},
          "variableType": {},
          "lastUpdatedTime": {},
          "createdTime": {},
          "arn": {}
        }
      }
    },
    "Sr": {
      "type": "list",
      "member": {}
    },
    "Ss": {
      "type": "list",
      "member": {
        "shape": "St"
      }
    },
    "St": {
      "type": "structure",
      "required": [
        "detectorId",
        "ruleId",
        "ruleVersion"
      ],
      "members": {
        "detectorId": {},
        "ruleId": {},
        "ruleVersion": {}
      }
    },
    "Sv": {
      "type": "list",
      "member": {
        "shape": "Sw"
      }
    },
    "Sw": {
      "type": "structure",
      "required": [
        "modelId",
        "modelType",
        "modelVersionNumber"
      ],
      "members": {
        "modelId": {},
        "modelType": {},
        "modelVersionNumber": {},
        "arn": {}
      }
    },
    "S16": {
      "type": "structure",
      "required": [
        "modelVariables",
        "labelSchema"
      ],
      "members": {
        "modelVariables": {
          "shape": "Sr"
        },
        "labelSchema": {
          "type": "structure",
          "required": [
            "labelMapper"
          ],
          "members": {
            "labelMapper": {
              "type": "map",
              "key": {},
              "value": {
                "shape": "Sr"
              }
            }
          }
        }
      }
    },
    "S19": {
      "type": "structure",
      "required": [
        "dataLocation",
        "dataAccessRoleArn"
      ],
      "members": {
        "dataLocation": {},
        "dataAccessRoleArn": {}
      }
    },
    "S1e": {
      "type": "string",
      "sensitive": true
    },
    "S1g": {
      "type": "list",
      "member": {}
    },
    "S3g": {
      "type": "structure",
      "required": [
        "useEventVariables"
      ],
      "members": {
        "format": {},
        "useEventVariables": {
          "type": "boolean"
        },
        "jsonInputTemplate": {},
        "csvInputTemplate": {}
      }
    },
    "S3j": {
      "type": "structure",
      "required": [
        "format"
      ],
      "members": {
        "format": {},
        "jsonKeyToVariableMap": {
          "type": "map",
          "key": {},
          "value": {}
        },
        "csvIndexToVariableMap": {
          "type": "map",
          "key": {},
          "value": {}
        }
      }
    }
  }
}