{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-11-15",
    "endpointPrefix": "frauddetector",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Fraud Detector",
    "serviceId": "FraudDetector",
    "signatureVersion": "v4",
    "targetPrefix": "AWSHawksNestServiceFacade",
    "uid": "frauddetector-2019-11-15"
  },
  "operations": {
    "BatchCreateVariable": {
      "input": {
        "type": "structure",
        "required": [
          "variableEntries"
        ],
        "members": {
          "variableEntries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "dataType": {},
                "dataSource": {},
                "defaultValue": {},
                "description": {},
                "variableType": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "code": {
                  "type": "integer"
                },
                "message": {}
              }
            }
          }
        }
      }
    },
    "BatchGetVariable": {
      "input": {
        "type": "structure",
        "required": [
          "names"
        ],
        "members": {
          "names": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "variables": {
            "shape": "Sc"
          },
          "errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "code": {
                  "type": "integer"
                },
                "message": {}
              }
            }
          }
        }
      }
    },
    "CreateDetectorVersion": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "rules"
        ],
        "members": {
          "detectorId": {},
          "description": {},
          "externalModelEndpoints": {
            "shape": "Sm"
          },
          "rules": {
            "shape": "Sn"
          },
          "modelVersions": {
            "shape": "Sq"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "detectorId": {},
          "detectorVersionId": {},
          "status": {}
        }
      }
    },
    "CreateModelVersion": {
      "input": {
        "type": "structure",
        "required": [
          "modelId",
          "modelType"
        ],
        "members": {
          "modelId": {},
          "modelType": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "modelId": {},
          "modelType": {},
          "modelVersionNumber": {},
          "status": {}
        }
      }
    },
    "CreateRule": {
      "input": {
        "type": "structure",
        "required": [
          "ruleId",
          "detectorId",
          "expression",
          "language",
          "outcomes"
        ],
        "members": {
          "ruleId": {},
          "detectorId": {},
          "description": {},
          "expression": {},
          "language": {},
          "outcomes": {
            "shape": "S10"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "rule": {
            "shape": "So"
          }
        }
      }
    },
    "CreateVariable": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "dataType",
          "dataSource",
          "defaultValue"
        ],
        "members": {
          "name": {},
          "dataType": {},
          "dataSource": {},
          "defaultValue": {},
          "description": {},
          "variableType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDetectorVersion": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "detectorVersionId"
        ],
        "members": {
          "detectorId": {},
          "detectorVersionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteEvent": {
      "input": {
        "type": "structure",
        "required": [
          "eventId"
        ],
        "members": {
          "eventId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeDetector": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId"
        ],
        "members": {
          "detectorId": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "detectorId": {},
          "detectorVersionSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "detectorVersionId": {},
                "status": {},
                "description": {},
                "lastUpdatedTime": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeModelVersions": {
      "input": {
        "type": "structure",
        "members": {
          "modelId": {},
          "modelVersionNumber": {},
          "modelType": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "modelVersionDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "modelId": {},
                "modelType": {},
                "modelVersionNumber": {},
                "description": {},
                "status": {},
                "trainingDataSource": {
                  "shape": "S1i"
                },
                "modelVariables": {
                  "shape": "S1l"
                },
                "labelSchema": {
                  "shape": "S1o"
                },
                "validationMetrics": {
                  "shape": "S1q"
                },
                "trainingMetrics": {
                  "shape": "S1q"
                },
                "lastUpdatedTime": {},
                "createdTime": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetDetectorVersion": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "detectorVersionId"
        ],
        "members": {
          "detectorId": {},
          "detectorVersionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "detectorId": {},
          "detectorVersionId": {},
          "description": {},
          "externalModelEndpoints": {
            "shape": "Sm"
          },
          "modelVersions": {
            "shape": "Sq"
          },
          "rules": {
            "shape": "Sn"
          },
          "status": {},
          "lastUpdatedTime": {},
          "createdTime": {}
        }
      }
    },
    "GetDetectors": {
      "input": {
        "type": "structure",
        "members": {
          "detectorId": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "detectors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "detectorId": {},
                "description": {},
                "lastUpdatedTime": {},
                "createdTime": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetExternalModels": {
      "input": {
        "type": "structure",
        "members": {
          "modelEndpoint": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "externalModels": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "modelEndpoint": {},
                "modelSource": {},
                "role": {
                  "shape": "S24"
                },
                "inputConfiguration": {
                  "shape": "S25"
                },
                "outputConfiguration": {
                  "shape": "S28"
                },
                "modelEndpointStatus": {},
                "lastUpdatedTime": {},
                "createdTime": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetModelVersion": {
      "input": {
        "type": "structure",
        "required": [
          "modelId",
          "modelType",
          "modelVersionNumber"
        ],
        "members": {
          "modelId": {},
          "modelType": {},
          "modelVersionNumber": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "modelId": {},
          "modelType": {},
          "modelVersionNumber": {},
          "description": {},
          "status": {}
        }
      }
    },
    "GetModels": {
      "input": {
        "type": "structure",
        "members": {
          "modelType": {},
          "modelId": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "models": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "modelId": {},
                "modelType": {},
                "description": {},
                "trainingDataSource": {
                  "shape": "S1i"
                },
                "modelVariables": {
                  "shape": "S1l"
                },
                "labelSchema": {
                  "shape": "S1o"
                },
                "lastUpdatedTime": {},
                "createdTime": {}
              }
            }
          }
        }
      }
    },
    "GetOutcomes": {
      "input": {
        "type": "structure",
        "members": {
          "name": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "outcomes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "description": {},
                "lastUpdatedTime": {},
                "createdTime": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetPrediction": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "eventId"
        ],
        "members": {
          "detectorId": {},
          "detectorVersionId": {},
          "eventId": {},
          "eventAttributes": {
            "type": "map",
            "key": {},
            "value": {
              "type": "string",
              "sensitive": true
            }
          },
          "externalModelEndpointDataBlobs": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "members": {
                "byteBuffer": {
                  "type": "blob"
                },
                "contentType": {}
              }
            },
            "sensitive": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "outcomes": {
            "shape": "Sm"
          },
          "modelScores": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "modelVersion": {
                  "shape": "Sr"
                },
                "scores": {
                  "type": "map",
                  "key": {},
                  "value": {
                    "type": "float"
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetRules": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId"
        ],
        "members": {
          "ruleId": {},
          "detectorId": {},
          "ruleVersion": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ruleDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ruleId": {},
                "description": {},
                "detectorId": {},
                "ruleVersion": {},
                "expression": {},
                "language": {},
                "outcomes": {
                  "shape": "S10"
                },
                "lastUpdatedTime": {},
                "createdTime": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetVariables": {
      "input": {
        "type": "structure",
        "members": {
          "name": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "variables": {
            "shape": "Sc"
          },
          "nextToken": {}
        }
      }
    },
    "PutDetector": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId"
        ],
        "members": {
          "detectorId": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutExternalModel": {
      "input": {
        "type": "structure",
        "required": [
          "modelEndpoint",
          "modelSource",
          "role",
          "inputConfiguration",
          "outputConfiguration",
          "modelEndpointStatus"
        ],
        "members": {
          "modelEndpoint": {},
          "modelSource": {},
          "role": {
            "shape": "S24"
          },
          "inputConfiguration": {
            "shape": "S25"
          },
          "outputConfiguration": {
            "shape": "S28"
          },
          "modelEndpointStatus": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutModel": {
      "input": {
        "type": "structure",
        "required": [
          "modelId",
          "modelType",
          "trainingDataSource",
          "modelVariables",
          "labelSchema"
        ],
        "members": {
          "modelId": {},
          "modelType": {},
          "description": {},
          "trainingDataSource": {
            "shape": "S1i"
          },
          "modelVariables": {
            "shape": "S1l"
          },
          "labelSchema": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutOutcome": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDetectorVersion": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "detectorVersionId",
          "externalModelEndpoints",
          "rules"
        ],
        "members": {
          "detectorId": {},
          "detectorVersionId": {},
          "externalModelEndpoints": {
            "shape": "Sm"
          },
          "rules": {
            "shape": "Sn"
          },
          "description": {},
          "modelVersions": {
            "shape": "Sq"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDetectorVersionMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "detectorVersionId",
          "description"
        ],
        "members": {
          "detectorId": {},
          "detectorVersionId": {},
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDetectorVersionStatus": {
      "input": {
        "type": "structure",
        "required": [
          "detectorId",
          "detectorVersionId",
          "status"
        ],
        "members": {
          "detectorId": {},
          "detectorVersionId": {},
          "status": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateModelVersion": {
      "input": {
        "type": "structure",
        "required": [
          "modelId",
          "modelType",
          "modelVersionNumber",
          "description",
          "status"
        ],
        "members": {
          "modelId": {},
          "modelType": {},
          "modelVersionNumber": {},
          "description": {},
          "status": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRuleMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "rule",
          "description"
        ],
        "members": {
          "rule": {
            "shape": "So"
          },
          "description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRuleVersion": {
      "input": {
        "type": "structure",
        "required": [
          "rule",
          "expression",
          "language",
          "outcomes"
        ],
        "members": {
          "rule": {
            "shape": "So"
          },
          "description": {},
          "expression": {},
          "language": {},
          "outcomes": {
            "shape": "S10"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "rule": {
            "shape": "So"
          }
        }
      }
    },
    "UpdateVariable": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {},
          "defaultValue": {},
          "description": {},
          "variableType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "Sc": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "dataType": {},
          "dataSource": {},
          "defaultValue": {},
          "description": {},
          "variableType": {},
          "lastUpdatedTime": {},
          "createdTime": {}
        }
      }
    },
    "Sm": {
      "type": "list",
      "member": {}
    },
    "Sn": {
      "type": "list",
      "member": {
        "shape": "So"
      }
    },
    "So": {
      "type": "structure",
      "required": [
        "detectorId",
        "ruleId",
        "ruleVersion"
      ],
      "members": {
        "detectorId": {},
        "ruleId": {},
        "ruleVersion": {}
      }
    },
    "Sq": {
      "type": "list",
      "member": {
        "shape": "Sr"
      }
    },
    "Sr": {
      "type": "structure",
      "required": [
        "modelId",
        "modelType",
        "modelVersionNumber"
      ],
      "members": {
        "modelId": {},
        "modelType": {},
        "modelVersionNumber": {}
      }
    },
    "S10": {
      "type": "list",
      "member": {}
    },
    "S1i": {
      "type": "structure",
      "required": [
        "dataLocation",
        "dataAccessRoleArn"
      ],
      "members": {
        "dataLocation": {},
        "dataAccessRoleArn": {}
      }
    },
    "S1l": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {},
          "index": {
            "type": "integer"
          }
        }
      }
    },
    "S1o": {
      "type": "structure",
      "required": [
        "labelKey",
        "labelMapper"
      ],
      "members": {
        "labelKey": {},
        "labelMapper": {
          "type": "map",
          "key": {},
          "value": {
            "shape": "Sm"
          }
        }
      }
    },
    "S1q": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S24": {
      "type": "structure",
      "required": [
        "arn",
        "name"
      ],
      "members": {
        "arn": {},
        "name": {}
      }
    },
    "S25": {
      "type": "structure",
      "required": [
        "isOpaque"
      ],
      "members": {
        "format": {},
        "isOpaque": {
          "type": "boolean"
        },
        "jsonInputTemplate": {},
        "csvInputTemplate": {}
      }
    },
    "S28": {
      "type": "structure",
      "required": [
        "format"
      ],
      "members": {
        "format": {},
        "jsonKeyToVariableMap": {
          "type": "map",
          "key": {},
          "value": {}
        },
        "csvIndexToVariableMap": {
          "type": "map",
          "key": {},
          "value": {}
        }
      }
    }
  }
}