{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-03-01",
    "endpointPrefix": "fsx",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon FSx",
    "serviceId": "FSx",
    "signatureVersion": "v4",
    "targetPrefix": "AWSSimbaAPIService_v20180301",
    "uid": "fsx-2018-03-01"
  },
  "operations": {
    "CancelDataRepositoryTask": {
      "input": {
        "type": "structure",
        "required": [
          "TaskId"
        ],
        "members": {
          "TaskId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Lifecycle": {},
          "TaskId": {}
        }
      },
      "idempotent": true
    },
    "CreateBackup": {
      "input": {
        "type": "structure",
        "required": [
          "FileSystemId"
        ],
        "members": {
          "FileSystemId": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Backup": {
            "shape": "Sd"
          }
        }
      },
      "idempotent": true
    },
    "CreateDataRepositoryTask": {
      "input": {
        "type": "structure",
        "required": [
          "Type",
          "FileSystemId",
          "Report"
        ],
        "members": {
          "Type": {},
          "Paths": {
            "shape": "S1q"
          },
          "FileSystemId": {},
          "Report": {
            "shape": "S1s"
          },
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataRepositoryTask": {
            "shape": "S1w"
          }
        }
      },
      "idempotent": true
    },
    "CreateFileSystem": {
      "input": {
        "type": "structure",
        "required": [
          "FileSystemType",
          "StorageCapacity",
          "SubnetIds"
        ],
        "members": {
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "FileSystemType": {},
          "StorageCapacity": {
            "type": "integer"
          },
          "SubnetIds": {
            "shape": "Su"
          },
          "SecurityGroupIds": {
            "shape": "S26"
          },
          "Tags": {
            "shape": "S8"
          },
          "KmsKeyId": {},
          "WindowsConfiguration": {
            "shape": "S28"
          },
          "LustreConfiguration": {
            "type": "structure",
            "members": {
              "WeeklyMaintenanceStartTime": {},
              "ImportPath": {},
              "ExportPath": {},
              "ImportedFileChunkSize": {
                "type": "integer"
              },
              "DeploymentType": {},
              "PerUnitStorageThroughput": {
                "type": "integer"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FileSystem": {
            "shape": "Sn"
          }
        }
      }
    },
    "CreateFileSystemFromBackup": {
      "input": {
        "type": "structure",
        "required": [
          "BackupId",
          "SubnetIds"
        ],
        "members": {
          "BackupId": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "SubnetIds": {
            "shape": "Su"
          },
          "SecurityGroupIds": {
            "shape": "S26"
          },
          "Tags": {
            "shape": "S8"
          },
          "WindowsConfiguration": {
            "shape": "S28"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FileSystem": {
            "shape": "Sn"
          }
        }
      }
    },
    "DeleteBackup": {
      "input": {
        "type": "structure",
        "required": [
          "BackupId"
        ],
        "members": {
          "BackupId": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BackupId": {},
          "Lifecycle": {}
        }
      },
      "idempotent": true
    },
    "DeleteFileSystem": {
      "input": {
        "type": "structure",
        "required": [
          "FileSystemId"
        ],
        "members": {
          "FileSystemId": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "WindowsConfiguration": {
            "type": "structure",
            "members": {
              "SkipFinalBackup": {
                "type": "boolean"
              },
              "FinalBackupTags": {
                "shape": "S8"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FileSystemId": {},
          "Lifecycle": {},
          "WindowsResponse": {
            "type": "structure",
            "members": {
              "FinalBackupId": {},
              "FinalBackupTags": {
                "shape": "S8"
              }
            }
          }
        }
      },
      "idempotent": true
    },
    "DescribeBackups": {
      "input": {
        "type": "structure",
        "members": {
          "BackupIds": {
            "type": "list",
            "member": {}
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Values": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Backups": {
            "type": "list",
            "member": {
              "shape": "Sd"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeDataRepositoryTasks": {
      "input": {
        "type": "structure",
        "members": {
          "TaskIds": {
            "type": "list",
            "member": {}
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Values": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataRepositoryTasks": {
            "type": "list",
            "member": {
              "shape": "S1w"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeFileSystems": {
      "input": {
        "type": "structure",
        "members": {
          "FileSystemIds": {
            "type": "list",
            "member": {}
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FileSystems": {
            "type": "list",
            "member": {
              "shape": "Sn"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN"
        ],
        "members": {
          "ResourceARN": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S8"
          },
          "NextToken": {}
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN",
          "Tags"
        ],
        "members": {
          "ResourceARN": {},
          "Tags": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN",
          "TagKeys"
        ],
        "members": {
          "ResourceARN": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdateFileSystem": {
      "input": {
        "type": "structure",
        "required": [
          "FileSystemId"
        ],
        "members": {
          "FileSystemId": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "WindowsConfiguration": {
            "type": "structure",
            "members": {
              "WeeklyMaintenanceStartTime": {},
              "DailyAutomaticBackupStartTime": {},
              "AutomaticBackupRetentionDays": {
                "type": "integer"
              },
              "SelfManagedActiveDirectoryConfiguration": {
                "type": "structure",
                "members": {
                  "UserName": {},
                  "Password": {
                    "shape": "S2a"
                  },
                  "DnsIps": {
                    "shape": "S16"
                  }
                }
              }
            }
          },
          "LustreConfiguration": {
            "type": "structure",
            "members": {
              "WeeklyMaintenanceStartTime": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FileSystem": {
            "shape": "Sn"
          }
        }
      }
    }
  },
  "shapes": {
    "S8": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "Sd": {
      "type": "structure",
      "required": [
        "BackupId",
        "Lifecycle",
        "Type",
        "CreationTime",
        "FileSystem"
      ],
      "members": {
        "BackupId": {},
        "Lifecycle": {},
        "FailureDetails": {
          "type": "structure",
          "members": {
            "Message": {}
          }
        },
        "Type": {},
        "ProgressPercent": {
          "type": "integer"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "KmsKeyId": {},
        "ResourceARN": {},
        "Tags": {
          "shape": "S8"
        },
        "FileSystem": {
          "shape": "Sn"
        },
        "DirectoryInformation": {
          "type": "structure",
          "members": {
            "DomainName": {},
            "ActiveDirectoryId": {}
          }
        }
      }
    },
    "Sn": {
      "type": "structure",
      "members": {
        "OwnerId": {},
        "CreationTime": {
          "type": "timestamp"
        },
        "FileSystemId": {},
        "FileSystemType": {},
        "Lifecycle": {},
        "FailureDetails": {
          "type": "structure",
          "members": {
            "Message": {}
          }
        },
        "StorageCapacity": {
          "type": "integer"
        },
        "VpcId": {},
        "SubnetIds": {
          "shape": "Su"
        },
        "NetworkInterfaceIds": {
          "type": "list",
          "member": {}
        },
        "DNSName": {},
        "KmsKeyId": {},
        "ResourceARN": {},
        "Tags": {
          "shape": "S8"
        },
        "WindowsConfiguration": {
          "type": "structure",
          "members": {
            "ActiveDirectoryId": {},
            "SelfManagedActiveDirectoryConfiguration": {
              "type": "structure",
              "members": {
                "DomainName": {},
                "OrganizationalUnitDistinguishedName": {},
                "FileSystemAdministratorsGroup": {},
                "UserName": {},
                "DnsIps": {
                  "shape": "S16"
                }
              }
            },
            "DeploymentType": {},
            "RemoteAdministrationEndpoint": {},
            "PreferredSubnetId": {},
            "PreferredFileServerIp": {},
            "ThroughputCapacity": {
              "type": "integer"
            },
            "MaintenanceOperationsInProgress": {
              "type": "list",
              "member": {}
            },
            "WeeklyMaintenanceStartTime": {},
            "DailyAutomaticBackupStartTime": {},
            "AutomaticBackupRetentionDays": {
              "type": "integer"
            },
            "CopyTagsToBackups": {
              "type": "boolean"
            }
          }
        },
        "LustreConfiguration": {
          "type": "structure",
          "members": {
            "WeeklyMaintenanceStartTime": {},
            "DataRepositoryConfiguration": {
              "type": "structure",
              "members": {
                "ImportPath": {},
                "ExportPath": {},
                "ImportedFileChunkSize": {
                  "type": "integer"
                }
              }
            },
            "DeploymentType": {},
            "PerUnitStorageThroughput": {
              "type": "integer"
            },
            "MountName": {}
          }
        }
      }
    },
    "Su": {
      "type": "list",
      "member": {}
    },
    "S16": {
      "type": "list",
      "member": {}
    },
    "S1q": {
      "type": "list",
      "member": {}
    },
    "S1s": {
      "type": "structure",
      "required": [
        "Enabled"
      ],
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "Path": {},
        "Format": {},
        "Scope": {}
      }
    },
    "S1w": {
      "type": "structure",
      "required": [
        "TaskId",
        "Lifecycle",
        "Type",
        "CreationTime",
        "FileSystemId"
      ],
      "members": {
        "TaskId": {},
        "Lifecycle": {},
        "Type": {},
        "CreationTime": {
          "type": "timestamp"
        },
        "StartTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        },
        "ResourceARN": {},
        "Tags": {
          "shape": "S8"
        },
        "FileSystemId": {},
        "Paths": {
          "shape": "S1q"
        },
        "FailureDetails": {
          "type": "structure",
          "members": {
            "Message": {}
          }
        },
        "Status": {
          "type": "structure",
          "members": {
            "TotalCount": {
              "type": "long"
            },
            "SucceededCount": {
              "type": "long"
            },
            "FailedCount": {
              "type": "long"
            },
            "LastUpdatedTime": {
              "type": "timestamp"
            }
          }
        },
        "Report": {
          "shape": "S1s"
        }
      }
    },
    "S26": {
      "type": "list",
      "member": {}
    },
    "S28": {
      "type": "structure",
      "required": [
        "ThroughputCapacity"
      ],
      "members": {
        "ActiveDirectoryId": {},
        "SelfManagedActiveDirectoryConfiguration": {
          "type": "structure",
          "required": [
            "DomainName",
            "UserName",
            "Password",
            "DnsIps"
          ],
          "members": {
            "DomainName": {},
            "OrganizationalUnitDistinguishedName": {},
            "FileSystemAdministratorsGroup": {},
            "UserName": {},
            "Password": {
              "shape": "S2a"
            },
            "DnsIps": {
              "shape": "S16"
            }
          }
        },
        "DeploymentType": {},
        "PreferredSubnetId": {},
        "ThroughputCapacity": {
          "type": "integer"
        },
        "WeeklyMaintenanceStartTime": {},
        "DailyAutomaticBackupStartTime": {},
        "AutomaticBackupRetentionDays": {
          "type": "integer"
        },
        "CopyTagsToBackups": {
          "type": "boolean"
        }
      }
    },
    "S2a": {
      "type": "string",
      "sensitive": true
    }
  }
}