{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-10-01",
    "endpointPrefix":"gamelift",
    "jsonVersion":"1.1",
    "serviceFullName":"Amazon GameLift",
    "signatureVersion":"v4",
    "targetPrefix":"GameLift",
    "protocol":"json"
  },
  "documentation":"<fullname>Amazon GameLift Service</fullname> <p>Welcome to the <i>Amazon GameLift API Reference</i>. Amazon GameLift is a managed Amazon Web Services (AWS) service for developers who need a scalable, server-based solution for multiplayer games. Amazon GameLift provides setup and deployment of game servers, and handles infrastructure scaling and session management.</p> <p>This reference describes the low-level service API for GameLift. You can call this API directly or use the <a href=\"https://aws.amazon.com/tools/#sdk\">AWS SDK</a> for your preferred language. The AWS SDK includes a set of high-level GameLift actions multiplayer game sessions. Alternatively, you can use the <a href=\"https://aws.amazon.com/cli/\">AWS command-line interface</a> (CLI) tool, which includes commands for GameLift. For administrative actions, you can also use the Amazon GameLift console. </p> <p><b>More Resources</b></p> <ul> <li> <a href=\"http://docs.aws.amazon.com/gamelift/latest/developerguide/\">Amazon GameLift Developer Guide</a>: Learn more about GameLift features and how to use them </li> <li> <a href=\"https://gamedev.amazon.com/forums/tutorials\">Lumberyard and GameLift Tutorials</a>: Get started fast with walkthroughs and sample projects</li> <li> <a href=\"https://aws.amazon.com/blogs/gamedev/\">GameDev Blog</a>: Stay up to date with new features and techniques</li> <li> <a href=\"https://gamedev.amazon.com/forums/spaces/123/gamelift-discussion.html\">GameDev Forums</a>: Connect with the GameDev community</li> </ul> <p><b>Manage Games and Players Through GameLift</b></p> <p>Call these actions from your game clients and/or services to create and manage multiplayer game sessions and player sessions.</p> <ul> <li> <b>Game sessions</b> <ul> <li><a>CreateGameSession</a></li> <li><a>DescribeGameSessions</a></li> <li><a>DescribeGameSessionDetails</a></li> <li><a>UpdateGameSession</a></li> <li><a>SearchGameSessions</a></li> </ul> </li> <li> <b>Player sessions</b> <ul> <li><a>CreatePlayerSession</a></li> <li><a>CreatePlayerSessions</a></li> <li><a>DescribePlayerSessions</a></li> </ul> </li> <li> <b>Other actions:</b> <ul> <li><a>GetGameSessionLogUrl</a></li> </ul> </li> </ul> <p><b>Set Up and Manage Game Servers</b></p> <p>Use these administrative actions to configure GameLift to host your game servers. When setting up GameLift, you'll need to (1) configure a build for your game and upload build files, and (2) set up one or more fleets to host game sessions. Once you've created and activated a fleet, you can assign aliases to it, scale capacity, track performance and utilization, etc.</p> <ul> <li> <b>Manage your builds:</b> <ul> <li><a>ListBuilds</a></li> <li><a>CreateBuild</a></li> <li><a>DescribeBuild</a></li> <li><a>UpdateBuild</a></li> <li><a>DeleteBuild</a></li> <li><a>RequestUploadCredentials</a></li> </ul> </li> <li> <b>Manage your fleets:</b> <ul> <li><a>ListFleets</a></li> <li><a>CreateFleet</a></li> <li>Describe fleets: <ul> <li><a>DescribeFleetAttributes</a></li> <li><a>DescribeFleetCapacity</a></li> <li><a>DescribeFleetPortSettings</a></li> <li><a>DescribeFleetUtilization</a></li> <li><a>DescribeEC2InstanceLimits</a></li> <li><a>DescribeFleetEvents</a></li> <li><a>DescribeRuntimeConfiguration</a></li> </ul> </li> <li>Update fleets: <ul> <li><a>UpdateFleetAttributes</a></li> <li><a>UpdateFleetCapacity</a></li> <li><a>UpdateFleetPortSettings</a></li> <li><a>UpdateRuntimeConfiguration</a></li> </ul> </li> <li><a>DeleteFleet</a></li> </ul> </li> <li> <b>Manage fleet aliases:</b> <ul> <li><a>ListAliases</a></li> <li><a>CreateAlias</a></li> <li><a>DescribeAlias</a></li> <li><a>UpdateAlias</a></li> <li><a>DeleteAlias</a></li> <li><a>ResolveAlias</a></li> </ul> </li> <li> <b>Manage autoscaling:</b> <ul> <li><a>PutScalingPolicy</a></li> <li><a>DescribeScalingPolicies</a></li> <li><a>DeleteScalingPolicy</a></li> </ul> </li> </ul> <p>To view changes to the API, see the GameLift <a href=\"http://docs.aws.amazon.com/gamelift/latest/developerguide/doc-history.html\">Document History</a> page.</p>",
  "operations":{
    "CreateAlias":{
      "name":"CreateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateAliasInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"CreateAliasOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"ConflictException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"LimitExceededException",
          "exception":true,
          "documentation":"<p>The requested operation would cause the resource to exceed the allowed service limit. Resolve the issue before retrying.</p>"
        }
      ],
      "documentation":"<p>Creates an alias for a fleet. You can use an alias to anonymize your fleet by referencing an alias instead of a specific fleet when you create game sessions. Amazon GameLift supports two types of routing strategies for aliases: simple and terminal. Use a simple alias to point to an active fleet. Use a terminal alias to display a message to incoming traffic instead of routing players to an active fleet. This option is useful when a game server is no longer supported but you want to provide better messaging than a standard 404 error.</p> <p>To create a fleet alias, specify an alias name, routing strategy, and optional description. If successful, a new alias record is returned, including an alias ID, which you can reference when creating a game session. To reassign the alias to another fleet ID, call <a>UpdateAlias</a>.</p>"
    },
    "CreateBuild":{
      "name":"CreateBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateBuildInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"CreateBuildOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"ConflictException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        }
      ],
      "documentation":"<p>Initializes a new build record and generates information required to upload a game build to Amazon GameLift. Once the build record has been created and its status is <code>INITIALIZED</code>, you can upload your game build.</p> <important> <p>Do not use this API action unless you are using your own Amazon Simple Storage Service (Amazon S3) client and need to manually upload your build files. Instead, to create a build, use the CLI command <code>upload-build</code>, which creates a new build record and uploads the build files in one step. (See the <a href=\"http://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-build-intro.html\">Amazon GameLift Developer Guide</a> help on packaging and uploading your build.) </p> </important> <p>To create a new build, identify the operating system of the game server binaries. All game servers in a build must use the same operating system. Optionally, specify a build name and version; this metadata is stored with other properties in the build record and is displayed in the GameLift console (it is not visible to players). If successful, this action returns the newly created build record along with the Amazon S3 storage location and AWS account credentials. Use the location and credentials to upload your game build.</p>"
    },
    "CreateFleet":{
      "name":"CreateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateFleetInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"CreateFleetOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"ConflictException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
        },
        {
          "shape":"LimitExceededException",
          "exception":true,
          "documentation":"<p>The requested operation would cause the resource to exceed the allowed service limit. Resolve the issue before retrying.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Creates a new fleet to run your game servers. A fleet is a set of Amazon Elastic Compute Cloud (Amazon EC2) instances, each of which can run multiple server processes to host game sessions. You configure a fleet to create instances with certain hardware specifications (see <a href=\"https://aws.amazon.com/ec2/instance-types/\">Amazon EC2 Instance Types</a> for more information), and deploy a specified game build to each instance. A newly created fleet passes through several statuses; once it reaches the <code>ACTIVE</code> status, it can begin hosting game sessions.</p> <p>To create a new fleet, provide a fleet name, an EC2 instance type, and a build ID of the game build to deploy. You can also configure the new fleet with the following settings: (1) a runtime configuration describing what server processes to run on each instance in the fleet (required to create fleet), (2) access permissions for inbound traffic, (3) fleet-wide game session protection, and (4) the location of default log files for GameLift to upload and store.</p> <p>If the <code>CreateFleet</code> call is successful, Amazon GameLift performs the following tasks:</p> <ul> <li>Creates a fleet record and sets the status to <code>NEW</code> (followed by other statuses as the fleet is activated).</li> <li>Sets the fleet's capacity to 1 \"desired\", which causes GameLift to start one new EC2 instance.</li> <li>Starts launching server processes on the instance. If the fleet is configured to run multiple server processes per instance, GameLift staggers each launch by a few seconds.</li> <li>Begins writing events to the fleet event log, which can be accessed in the GameLift console.</li> <li>Sets the fleet's status to <code>ACTIVE</code> once one server process in the fleet is ready to host a game session.</li> </ul> <p>After a fleet is created, use the following actions to change fleet properties and configuration:</p> <ul> <li> <a>UpdateFleetAttributes</a> -- Update fleet metadata, including name and description.</li> <li> <a>UpdateFleetCapacity</a> -- Increase or decrease the number of instances you want the fleet to maintain.</li> <li> <a>UpdateFleetPortSettings</a> -- Change the IP address and port ranges that allow access to incoming traffic.</li> <li> <a>UpdateRuntimeConfiguration</a> -- Change how server processes are launched in the fleet, including launch path, launch parameters, and the number of concurrent processes.</li> </ul>"
    },
    "CreateGameSession":{
      "name":"CreateGameSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateGameSessionInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"CreateGameSessionOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"ConflictException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidFleetStatusException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the fleet. Resolve the conflict before retrying.</p>"
        },
        {
          "shape":"TerminalRoutingStrategyException",
          "exception":true,
          "documentation":"<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"FleetCapacityExceededException",
          "exception":true,
          "documentation":"<p>The specified fleet has no available instances to fulfill a request to create a new game session. Such requests should only be retried once the fleet capacity has been increased. </p>"
        }
      ],
      "documentation":"<p>Creates a multiplayer game session for players. This action creates a game session record and assigns the new session to an instance in the specified fleet, which initializes a new server process to host the game session. A fleet must be in an <code>ACTIVE</code> status before a game session can be created in it.</p> <p>To create a game session, specify either a fleet ID or an alias ID and indicate the maximum number of players the game session allows. You can also provide a name and a set of properties for your game (optional). If successful, a <a>GameSession</a> object is returned containing session properties, including an IP address. By default, newly created game sessions are set to accept adding any new players to the game session. Use <a>UpdateGameSession</a> to change the creation policy.</p>"
    },
    "CreatePlayerSession":{
      "name":"CreatePlayerSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreatePlayerSessionInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"CreatePlayerSessionOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidGameSessionStatusException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the game instance. Clients should not retry such requests without resolving the conflict.</p>"
        },
        {
          "shape":"GameSessionFullException",
          "exception":true,
          "documentation":"<p>The game instance is currently full and cannot allow the requested player(s) to join. This exception occurs in response to a <a>CreatePlayerSession</a> request. </p>"
        },
        {
          "shape":"TerminalRoutingStrategyException",
          "exception":true,
          "documentation":"<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Adds a player to a game session and creates a player session record. A game session must be in an <code>ACTIVE</code> status, have a creation policy of <code>ALLOW_ALL</code>, and have an open player slot before players can be added to the session.</p> <p>To create a player session, specify a game session ID and player ID. If successful, the player is added to the game session and a new <a>PlayerSession</a> object is returned. </p>"
    },
    "CreatePlayerSessions":{
      "name":"CreatePlayerSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreatePlayerSessionsInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"CreatePlayerSessionsOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidGameSessionStatusException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the game instance. Clients should not retry such requests without resolving the conflict.</p>"
        },
        {
          "shape":"GameSessionFullException",
          "exception":true,
          "documentation":"<p>The game instance is currently full and cannot allow the requested player(s) to join. This exception occurs in response to a <a>CreatePlayerSession</a> request. </p>"
        },
        {
          "shape":"TerminalRoutingStrategyException",
          "exception":true,
          "documentation":"<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Adds a group of players to a game session. Similar to <a>CreatePlayerSession</a>, this action allows you to add multiple players in a single call, which is useful for games that provide party and/or matchmaking features. A game session must be in an <code>ACTIVE</code> status, have a creation policy of <code>ALLOW_ALL</code>, and have an open player slot before players can be added to the session.</p> <p>To create player sessions, specify a game session ID and a list of player IDs. If successful, the players are added to the game session and a set of new <a>PlayerSession</a> objects is returned. </p>"
    },
    "DeleteAlias":{
      "name":"DeleteAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteAliasInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        }
      ],
      "documentation":"<p>Deletes an alias. This action removes all record of the alias; game clients attempting to access a server process using the deleted alias receive an error. To delete an alias, specify the alias ID to be deleted.</p>"
    },
    "DeleteBuild":{
      "name":"DeleteBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteBuildInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        }
      ],
      "documentation":"<p>Deletes a build. This action permanently deletes the build record and any uploaded build files.</p> <p>To delete a build, specify its ID. Deleting a build does not affect the status of any active fleets using the build, but you can no longer create new fleets with the deleted build.</p>"
    },
    "DeleteFleet":{
      "name":"DeleteFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteFleetInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "errors":[
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"InvalidFleetStatusException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the fleet. Resolve the conflict before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        }
      ],
      "documentation":"<p>Deletes everything related to a fleet. Before deleting a fleet, you must set the fleet's desired capacity to zero. See <a>UpdateFleetCapacity</a>.</p> <p>This action removes the fleet's resources and the fleet record. Once a fleet is deleted, you can no longer use that fleet.</p>"
    },
    "DeleteScalingPolicy":{
      "name":"DeleteScalingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteScalingPolicyInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Deletes a fleet scaling policy. This action means that the policy is no longer in force and removes all record of it. To delete a scaling policy, specify both the scaling policy name and the fleet ID it is associated with. </p>"
    },
    "DescribeAlias":{
      "name":"DescribeAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeAliasInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribeAliasOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        }
      ],
      "documentation":"<p>Retrieves properties for a specified alias. To get the alias, specify an alias ID. If successful, an <a>Alias</a> object is returned.</p>"
    },
    "DescribeBuild":{
      "name":"DescribeBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeBuildInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribeBuildOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        }
      ],
      "documentation":"<p>Retrieves properties for a build. To get a build record, specify a build ID. If successful, an object containing the build properties is returned.</p>"
    },
    "DescribeEC2InstanceLimits":{
      "name":"DescribeEC2InstanceLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeEC2InstanceLimitsInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribeEC2InstanceLimitsOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Retrieves the following information for the specified EC2 instance type:</p> <ul> <li>maximum number of instances allowed per AWS account (service limit)</li> <li>current usage level for the AWS account </li> </ul> <p>Service limits vary depending on region. Available regions for GameLift can be found in the AWS Management Console for GameLift (see the drop-down list in the upper right corner).</p>"
    },
    "DescribeFleetAttributes":{
      "name":"DescribeFleetAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeFleetAttributesInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribeFleetAttributesOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Retrieves fleet properties, including metadata, status, and configuration, for one or more fleets. You can request attributes for all fleets, or specify a list of one or more fleet IDs. When requesting multiple fleets, use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>FleetAttributes</a> object is returned for each requested fleet ID. When specifying a list of fleet IDs, attribute objects are returned only for fleets that currently exist. </p> <note> <p>Some API actions may limit the number of fleet IDs allowed in one request. If a request exceeds this limit, the request fails and the error message includes the maximum allowed.</p> </note>"
    },
    "DescribeFleetCapacity":{
      "name":"DescribeFleetCapacity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeFleetCapacityInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribeFleetCapacityOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Retrieves the current status of fleet capacity for one or more fleets. This information includes the number of instances that have been requested for the fleet and the number currently active. You can request capacity for all fleets, or specify a list of one or more fleet IDs. When requesting multiple fleets, use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>FleetCapacity</a> object is returned for each requested fleet ID. When specifying a list of fleet IDs, attribute objects are returned only for fleets that currently exist. </p> <note> <p>Some API actions may limit the number of fleet IDs allowed in one request. If a request exceeds this limit, the request fails and the error message includes the maximum allowed.</p> </note>"
    },
    "DescribeFleetEvents":{
      "name":"DescribeFleetEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeFleetEventsInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribeFleetEventsOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        }
      ],
      "documentation":"<p>Retrieves entries from the specified fleet's event log. You can specify a time range to limit the result set. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a collection of event log entries matching the request are returned.</p>"
    },
    "DescribeFleetPortSettings":{
      "name":"DescribeFleetPortSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeFleetPortSettingsInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribeFleetPortSettingsOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Retrieves the inbound connection permissions for a fleet. Connection permissions include a range of IP addresses and port settings that incoming traffic can use to access server processes in the fleet. To get a fleet's inbound connection permissions, specify a fleet ID. If successful, a collection of <a>IpPermission</a> objects is returned for the requested fleet ID. If the requested fleet has been deleted, the result set is empty.</p>"
    },
    "DescribeFleetUtilization":{
      "name":"DescribeFleetUtilization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeFleetUtilizationInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribeFleetUtilizationOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Retrieves utilization statistics for one or more fleets. You can request utilization data for all fleets, or specify a list of one or more fleet IDs. When requesting multiple fleets, use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>FleetUtilization</a> object is returned for each requested fleet ID. When specifying a list of fleet IDs, utilization objects are returned only for fleets that currently exist. </p> <note> <p>Some API actions may limit the number of fleet IDs allowed in one request. If a request exceeds this limit, the request fails and the error message includes the maximum allowed.</p> </note>"
    },
    "DescribeGameSessionDetails":{
      "name":"DescribeGameSessionDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeGameSessionDetailsInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribeGameSessionDetailsOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"TerminalRoutingStrategyException",
          "exception":true,
          "documentation":"<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
        }
      ],
      "documentation":"<p>Retrieves properties, including the protection policy in force, for one or more game sessions. This action can be used in several ways: (1) provide a <code>GameSessionId</code> to request details for a specific game session; (2) provide either a <code>FleetId</code> or an <code>AliasId</code> to request properties for all game sessions running on a fleet. </p> <p>To get game session record(s), specify just one of the following: game session ID, fleet ID, or alias ID. You can filter this request by game session status. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>GameSessionDetail</a> object is returned for each session matching the request.</p>"
    },
    "DescribeGameSessions":{
      "name":"DescribeGameSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeGameSessionsInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribeGameSessionsOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"TerminalRoutingStrategyException",
          "exception":true,
          "documentation":"<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
        }
      ],
      "documentation":"<p>Retrieves properties for one or more game sessions. This action can be used in several ways: (1) provide a <code>GameSessionId</code> to request properties for a specific game session; (2) provide a <code>FleetId</code> or an <code>AliasId</code> to request properties for all game sessions running on a fleet. </p> <p>To get game session record(s), specify just one of the following: game session ID, fleet ID, or alias ID. You can filter this request by game session status. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>GameSession</a> object is returned for each session matching the request.</p>"
    },
    "DescribePlayerSessions":{
      "name":"DescribePlayerSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribePlayerSessionsInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribePlayerSessionsOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Retrieves properties for one or more player sessions. This action can be used in several ways: (1) provide a <code>PlayerSessionId</code> parameter to request properties for a specific player session; (2) provide a <code>GameSessionId</code> parameter to request properties for all player sessions in the specified game session; (3) provide a <code>PlayerId</code> parameter to request properties for all player sessions of a specified player. </p> <p>To get game session record(s), specify only one of the following: a player session ID, a game session ID, or a player ID. You can filter this request by player session status. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a <a>PlayerSession</a> object is returned for each session matching the request.</p>"
    },
    "DescribeRuntimeConfiguration":{
      "name":"DescribeRuntimeConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeRuntimeConfigurationInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribeRuntimeConfigurationOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        }
      ],
      "documentation":"<p>Retrieves the current runtime configuration for the specified fleet. The runtime configuration tells GameLift how to launch server processes on instances in the fleet.</p>"
    },
    "DescribeScalingPolicies":{
      "name":"DescribeScalingPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeScalingPoliciesInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"DescribeScalingPoliciesOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Retrieves all scaling policies applied to a fleet. </p> <p>To get a fleet's scaling policies, specify the fleet ID. You can filter this request by policy status, such as to retrieve only active scaling policies. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, set of <a>ScalingPolicy</a> objects is returned for the fleet.</p>"
    },
    "GetGameSessionLogUrl":{
      "name":"GetGameSessionLogUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetGameSessionLogUrlInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"GetGameSessionLogUrlOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        }
      ],
      "documentation":"<p>Retrieves the location of stored game session logs for a specified game session. When a game session is terminated, Amazon GameLift automatically stores the logs in Amazon S3. Use this URL to download the logs.</p> <note> <p>See the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_gamelift\">AWS Service Limits</a> page for maximum log file sizes. Log files that exceed this limit are not saved.</p> </note>"
    },
    "ListAliases":{
      "name":"ListAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListAliasesInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"ListAliasesOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        }
      ],
      "documentation":"<p>Retrieves a collection of alias records for this AWS account. You can filter the result set by alias name and/or routing strategy type. Use the pagination parameters to retrieve results in sequential pages. </p> <note> <p>Aliases are not listed in any particular order.</p> </note>"
    },
    "ListBuilds":{
      "name":"ListBuilds",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListBuildsInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"ListBuildsOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        }
      ],
      "documentation":"<p>Retrieves build records for all builds associated with the AWS account in use. You can limit results to builds that are in a specific status by using the <code>Status</code> parameter. Use the pagination parameters to retrieve results in a set of sequential pages. </p> <note> <p>Build records are not listed in any particular order.</p> </note>"
    },
    "ListFleets":{
      "name":"ListFleets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListFleetsInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"ListFleetsOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Retrieves a collection of fleet records for this AWS account. You can filter the result set by build ID. Use the pagination parameters to retrieve results in sequential pages. </p> <note> <p>Fleet records are not listed in any particular order.</p> </note>"
    },
    "PutScalingPolicy":{
      "name":"PutScalingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"PutScalingPolicyInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"PutScalingPolicyOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Creates or updates a scaling policy for a fleet. An active scaling policy prompts Amazon GameLift to track a certain metric for a fleet and automatically change the fleet's capacity in specific circumstances. Each scaling policy contains one rule statement. Fleets can have multiple scaling policies in force simultaneously.</p> <p>A scaling policy rule statement has the following structure:</p> <p>If <code>[MetricName]</code> is <code>[ComparisonOperator]</code> <code>[Threshold]</code> for <code>[EvaluationPeriods]</code> minutes, then <code>[ScalingAdjustmentType]</code> to/by <code>[ScalingAdjustment]</code>.</p> <p>For example, this policy: \"If the number of idle instances exceeds 20 for more than 15 minutes, then reduce the fleet capacity by 10 instances\" could be implemented as the following rule statement: </p> <p>If [IdleInstances] is [GreaterThanOrEqualToThreshold] [20] for [15] minutes, then [ChangeInCapacity] by [-10]. </p> <p>To create or update a scaling policy, specify a unique combination of name and fleet ID, and set the rule values. All parameters for this action are required. If successful, the policy name is returned. Scaling policies cannot be suspended or made inactive. To stop enforcing a scaling policy, call <a>DeleteScalingPolicy</a>.</p>"
    },
    "RequestUploadCredentials":{
      "name":"RequestUploadCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RequestUploadCredentialsInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"RequestUploadCredentialsOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        }
      ],
      "documentation":"<p>Retrieves a fresh set of upload credentials and the assigned Amazon S3 storage location for a specific build. Valid credentials are required to upload your game build files to Amazon S3.</p> <important> <p>Call this action only if you need credentials for a build created with <code><a>CreateBuild</a></code>. This is a rare situation; in most cases, builds are created using the CLI command <code>upload-build</code>, which creates a build record and also uploads build files. </p> </important> <p>Upload credentials are returned when you create the build, but they have a limited lifespan. You can get fresh credentials and use them to re-upload game files until the status of that build changes to <code>READY</code>. Once this happens, you must create a brand new build.</p>"
    },
    "ResolveAlias":{
      "name":"ResolveAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ResolveAliasInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"ResolveAliasOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"TerminalRoutingStrategyException",
          "exception":true,
          "documentation":"<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        }
      ],
      "documentation":"<p>Retrieves the fleet ID that a specified alias is currently pointing to. </p>"
    },
    "SearchGameSessions":{
      "name":"SearchGameSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SearchGameSessionsInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"SearchGameSessionsOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"TerminalRoutingStrategyException",
          "exception":true,
          "documentation":"<p>The service is unable to resolve the routing for a particular alias because it has a terminal <a>RoutingStrategy</a> associated with it. The message returned in this exception is the message defined in the routing strategy itself. Such requests should only be retried if the routing strategy for the specified alias is modified. </p>"
        }
      ],
      "documentation":"<p>Retrieves a list of game sessions in a fleet that match a set of search criteria and sorts them in a specified order. Currently game session searches are limited to a single fleet. Search results include only game sessions that are in ACTIVE status.</p> <p>You can search or sort by the following game session attributes:</p> <ul> <li> <b>gameSessionId</b> -- ID value assigned to a game session. This unique value is returned in a <a>GameSession</a> object when a new game session is created. </li> <li> <b>gameSessionName</b> -- Name assigned to a game session. This value is set when requesting a new game session with <a>CreateGameSession</a> or updating with <a>UpdateGameSession</a>. Game session names do not need to be unique to a game session.</li> <li> <b>creationTimeMillis</b> -- Value indicating when a game session was created. It is expressed in Unix time as milliseconds.</li> <li> <b>playerSessionCount</b> -- Number of players currently connected to a game session. This value changes rapidly as players join the session or drop out.</li> <li> <b>maximumSessions</b> -- Maximum number of player sessions allowed for a game session. This value is set when requesting a new game session with <a>CreateGameSession</a> or updating with <a>UpdateGameSession</a>.</li> <li> <b>hasAvailablePlayerSessions</b> -- Boolean value indicating whether or not a game session has reached its maximum number of players. When searching with this attribute, the search value must be <code>true</code> or <code>false</code>. It is highly recommended that all search requests include this filter attribute to optimize search performance and return only sessions that players can join. </li> </ul> <p>To search or sort, specify either a fleet ID or an alias ID, and provide a search filter expression, a sort expression, or both. Use the pagination parameters to retrieve results as a set of sequential pages. If successful, a collection of <a>GameSession</a> objects matching the request is returned.</p> <note> <p>Returned values for <code>playerSessionCount</code> and <code>hasAvailablePlayerSessions</code> change quickly as players join sessions and others drop out. Results should be considered a snapshot in time. Be sure to refresh search results often, and handle sessions that fill up before a player can join. </p> </note>"
    },
    "UpdateAlias":{
      "name":"UpdateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateAliasInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"UpdateAliasOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        }
      ],
      "documentation":"<p>Updates properties for an alias. To update properties, specify the alias ID to be updated and provide the information to be changed. To reassign an alias to another fleet, provide an updated routing strategy. If successful, the updated alias record is returned.</p>"
    },
    "UpdateBuild":{
      "name":"UpdateBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateBuildInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"UpdateBuildOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        }
      ],
      "documentation":"<p>Updates metadata in a build record, including the build name and version. To update the metadata, specify the build ID to update and provide the new values. If successful, a build object containing the updated metadata is returned. </p>"
    },
    "UpdateFleetAttributes":{
      "name":"UpdateFleetAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateFleetAttributesInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"UpdateFleetAttributesOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"ConflictException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
        },
        {
          "shape":"InvalidFleetStatusException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the fleet. Resolve the conflict before retrying.</p>"
        },
        {
          "shape":"LimitExceededException",
          "exception":true,
          "documentation":"<p>The requested operation would cause the resource to exceed the allowed service limit. Resolve the issue before retrying.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Updates fleet properties, including name and description, for a fleet. To update metadata, specify the fleet ID and the property values you want to change. If successful, the fleet ID for the updated fleet is returned.</p>"
    },
    "UpdateFleetCapacity":{
      "name":"UpdateFleetCapacity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateFleetCapacityInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"UpdateFleetCapacityOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"ConflictException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
        },
        {
          "shape":"LimitExceededException",
          "exception":true,
          "documentation":"<p>The requested operation would cause the resource to exceed the allowed service limit. Resolve the issue before retrying.</p>"
        },
        {
          "shape":"InvalidFleetStatusException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the fleet. Resolve the conflict before retrying.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Updates capacity settings for a fleet. Use this action to specify the number of EC2 instances (hosts) that you want this fleet to contain. Before calling this action, you may want to call <a>DescribeEC2InstanceLimits</a> to get the maximum capacity based on the fleet's EC2 instance type.</p> <p>If you're using autoscaling (see <a>PutScalingPolicy</a>), you may want to specify a minimum and/or maximum capacity. If you don't provide these, autoscaling can set capacity anywhere between zero and the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_gamelift\">service limits</a>.</p> <p>To update fleet capacity, specify the fleet ID and the number of instances you want the fleet to host. If successful, Amazon GameLift starts or terminates instances so that the fleet's active instance count matches the desired instance count. You can view a fleet's current capacity information by calling <a>DescribeFleetCapacity</a>. If the desired instance count is higher than the instance type's limit, the \"Limit Exceeded\" exception occurs.</p>"
    },
    "UpdateFleetPortSettings":{
      "name":"UpdateFleetPortSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateFleetPortSettingsInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"UpdateFleetPortSettingsOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"ConflictException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
        },
        {
          "shape":"InvalidFleetStatusException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the fleet. Resolve the conflict before retrying.</p>"
        },
        {
          "shape":"LimitExceededException",
          "exception":true,
          "documentation":"<p>The requested operation would cause the resource to exceed the allowed service limit. Resolve the issue before retrying.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        }
      ],
      "documentation":"<p>Updates port settings for a fleet. To update settings, specify the fleet ID to be updated and list the permissions you want to update. List the permissions you want to add in <code>InboundPermissionAuthorizations</code>, and permissions you want to remove in <code>InboundPermissionRevocations</code>. Permissions to be removed must match existing fleet permissions. If successful, the fleet ID for the updated fleet is returned.</p>"
    },
    "UpdateGameSession":{
      "name":"UpdateGameSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateGameSessionInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"UpdateGameSessionOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"ConflictException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"InvalidGameSessionStatusException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the game instance. Clients should not retry such requests without resolving the conflict.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        }
      ],
      "documentation":"<p>Updates game session properties. This includes the session name, maximum player count, protection policy, which controls whether or not an active game session can be terminated during a scale-down event, and the player session creation policy, which controls whether or not new players can join the session. To update a game session, specify the game session ID and the values you want to change. If successful, an updated <a>GameSession</a> object is returned. </p>"
    },
    "UpdateRuntimeConfiguration":{
      "name":"UpdateRuntimeConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateRuntimeConfigurationInput",
        "documentation":"<p>Represents the input for a request action.</p>"
      },
      "output":{
        "shape":"UpdateRuntimeConfigurationOutput",
        "documentation":"<p>Represents the returned data in response to a request action.</p>"
      },
      "errors":[
        {
          "shape":"UnauthorizedException",
          "exception":true,
          "documentation":"<p>The client failed authentication. Clients should not retry such requests</p>"
        },
        {
          "shape":"NotFoundException",
          "exception":true,
          "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>The service encountered an unrecoverable internal failure while processing the request. Clients can retry such requests, either immediately or after a back-off period.</p>"
        },
        {
          "shape":"InvalidRequestException",
          "exception":true,
          "documentation":"<p>One or more parameters specified as part of the request are invalid. Correct the invalid parameters before retrying.</p>"
        },
        {
          "shape":"InvalidFleetStatusException",
          "exception":true,
          "documentation":"<p>The requested operation would cause a conflict with the current state of a resource associated with the request and/or the fleet. Resolve the conflict before retrying.</p>"
        }
      ],
      "documentation":"<p>Updates the current runtime configuration for the specified fleet, which tells GameLift how to launch server processes on instances in the fleet. You can update a fleet's runtime configuration at any time after the fleet is created; it does not need to be in an <code>ACTIVE</code> status.</p> <p>To update runtime configuration, specify the fleet ID and provide a <code>RuntimeConfiguration</code> object with the updated collection of server process configurations.</p> <p>Each instance in a GameLift fleet checks regularly for an updated runtime configuration and changes how it launches server processes to comply with the latest version. Existing server processes are not affected by the update; they continue to run until they end, while GameLift simply adds new server processes to fit the current runtime configuration. As a result, the runtime configuration changes are applied gradually as existing processes shut down and new processes are launched in GameLift's normal process recycling activity.</p>"
    }
  },
  "shapes":{
    "Alias":{
      "type":"structure",
      "members":{
        "AliasId":{
          "shape":"AliasId",
          "documentation":"<p>Unique identifier for a fleet alias.</p>"
        },
        "Name":{
          "shape":"FreeText",
          "documentation":"<p>Descriptive label associated with an alias. Alias names do not need to be unique.</p>"
        },
        "Description":{
          "shape":"FreeText",
          "documentation":"<p>Human-readable description of an alias.</p>"
        },
        "RoutingStrategy":{"shape":"RoutingStrategy"},
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>Time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (ex: \"1469498468.057\".</p>"
        },
        "LastUpdatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>Time stamp indicating when this data object was last modified. Format is a number expressed in Unix time as milliseconds (ex: \"1469498468.057\".</p>"
        }
      },
      "documentation":"<p>Properties describing a fleet alias.</p>"
    },
    "AliasId":{
      "type":"string",
      "pattern":"^alias-\\S+"
    },
    "AliasList":{
      "type":"list",
      "member":{"shape":"Alias"}
    },
    "AwsCredentials":{
      "type":"structure",
      "members":{
        "AccessKeyId":{
          "shape":"NonEmptyString",
          "documentation":"<p>Access key for an AWS account.</p>"
        },
        "SecretAccessKey":{
          "shape":"NonEmptyString",
          "documentation":"<p>Secret key for an AWS account.</p>"
        },
        "SessionToken":{
          "shape":"NonEmptyString",
          "documentation":"<p>Token specific to a build ID.</p>"
        }
      },
      "sensitive":true,
      "documentation":"<p>AWS access credentials required to upload game build files to Amazon GameLift. These credentials are generated with <a>CreateBuild</a>, and are valid for a limited time. If they expire before you upload your game build, get a new set by calling <a>RequestUploadCredentials</a>.</p>"
    },
    "Build":{
      "type":"structure",
      "members":{
        "BuildId":{
          "shape":"BuildId",
          "documentation":"<p>Unique identifier for a build.</p>"
        },
        "Name":{
          "shape":"FreeText",
          "documentation":"<p>Descriptive label associated with a build. Build names do not need to be unique. It can be set using <a>CreateBuild</a> or <a>UpdateBuild</a>.</p>"
        },
        "Version":{
          "shape":"FreeText",
          "documentation":"<p>Version associated with this build. Version strings do not need to be unique to a build. This value can be set using <a>CreateBuild</a> or <a>UpdateBuild</a>.</p>"
        },
        "Status":{
          "shape":"BuildStatus",
          "documentation":"<p>Current status of the build.</p> <p>Possible build statuses include the following:</p> <ul><li><b>INITIALIZED</b> – A new build has been defined, but no files have been uploaded. You cannot create fleets for builds that are in this status. When a build is successfully created, the build status is set to this value. </li><li><b>READY</b> – The game build has been successfully uploaded. You can now create new fleets for this build.</li><li><b>FAILED</b> – The game build upload failed. You cannot create new fleets for this build. </li></ul>"
        },
        "SizeOnDisk":{
          "shape":"PositiveLong",
          "documentation":"<p>File size of the uploaded game build, expressed in bytes. When the build status is <code>INITIALIZED</code>, this value is 0.</p>"
        },
        "OperatingSystem":{
          "shape":"OperatingSystem",
          "documentation":"<p>Operating system that the game server binaries are built to run on. This value determines the type of fleet resources that you can use for this build.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>Time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (ex: \"1469498468.057\".</p>"
        }
      },
      "documentation":"<p>Properties describing a game build.</p>"
    },
    "BuildId":{
      "type":"string",
      "pattern":"^build-\\S+"
    },
    "BuildList":{
      "type":"list",
      "member":{"shape":"Build"}
    },
    "BuildStatus":{
      "type":"string",
      "enum":[
        "INITIALIZED",
        "READY",
        "FAILED"
      ]
    },
    "ComparisonOperatorType":{
      "type":"string",
      "enum":[
        "GreaterThanOrEqualToThreshold",
        "GreaterThanThreshold",
        "LessThanThreshold",
        "LessThanOrEqualToThreshold"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "exception":true,
      "documentation":"<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>"
    },
    "CreateAliasInput":{
      "type":"structure",
      "required":[
        "Name",
        "RoutingStrategy"
      ],
      "members":{
        "Name":{
          "shape":"NonZeroAndMaxString",
          "documentation":"<p>Descriptive label associated with an alias. Alias names do not need to be unique.</p>"
        },
        "Description":{
          "shape":"NonZeroAndMaxString",
          "documentation":"<p>Human-readable description of an alias.</p>"
        },
        "RoutingStrategy":{
          "shape":"RoutingStrategy",
          "documentation":"<p>Object specifying the fleet and routing type to use for the alias.</p>"
        }
      },
      "documentation":"<p>Represents the input for a request action.</p>"
    },
    "CreateAliasOutput":{
      "type":"structure",
      "members":{
        "Alias":{
          "shape":"Alias",
          "documentation":"<p>Object containing the newly created alias record.</p>"
        }
      },
      "documentation":"<p>Represents the returned data in response to a request action.</p>"
    },
    "CreateBuildInput":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"NonZeroAndMaxString",
          "documentation":"<p>Descriptive label associated with a build. Build names do not need to be unique. A build name can be changed later using <code><a>UpdateBuild</a></code>.</p>"
        },
        "Version":{
          "shape":"NonZeroAndMaxString",
[...]
