{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-10-01",
    "endpointPrefix": "gamelift",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon GameLift",
    "serviceId": "GameLift",
    "signatureVersion": "v4",
    "targetPrefix": "GameLift",
    "uid": "gamelift-2015-10-01"
  },
  "operations": {
    "AcceptMatch": {
      "input": {
        "type": "structure",
        "required": [
          "TicketId",
          "PlayerIds",
          "AcceptanceType"
        ],
        "members": {
          "TicketId": {
            "shape": "S2"
          },
          "PlayerIds": {
            "shape": "S3"
          },
          "AcceptanceType": {
            "type": "string",
            "enum": [
              "ACCEPT",
              "REJECT"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateAlias": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RoutingStrategy"
        ],
        "members": {
          "Name": {
            "shape": "S8"
          },
          "Description": {
            "shape": "S4"
          },
          "RoutingStrategy": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Alias": {
            "shape": "Se"
          }
        }
      }
    },
    "CreateBuild": {
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S4"
          },
          "Version": {
            "shape": "S4"
          },
          "StorageLocation": {
            "shape": "Sj"
          },
          "OperatingSystem": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Build": {
            "shape": "Sn"
          },
          "UploadCredentials": {
            "shape": "Sr"
          },
          "StorageLocation": {
            "shape": "Sj"
          }
        }
      }
    },
    "CreateFleet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "BuildId",
          "EC2InstanceType"
        ],
        "members": {
          "Name": {
            "shape": "S4"
          },
          "Description": {
            "shape": "S4"
          },
          "BuildId": {
            "shape": "So"
          },
          "ServerLaunchPath": {
            "shape": "S4"
          },
          "ServerLaunchParameters": {
            "shape": "S4"
          },
          "LogPaths": {
            "shape": "S3"
          },
          "EC2InstanceType": {
            "shape": "St"
          },
          "EC2InboundPermissions": {
            "shape": "Su"
          },
          "NewGameSessionProtectionPolicy": {
            "shape": "Sz"
          },
          "RuntimeConfiguration": {
            "shape": "S10"
          },
          "ResourceCreationLimitPolicy": {
            "shape": "S16"
          },
          "MetricGroups": {
            "shape": "S18"
          },
          "PeerVpcAwsAccountId": {
            "shape": "S4"
          },
          "PeerVpcId": {
            "shape": "S4"
          },
          "FleetType": {
            "shape": "S1a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetAttributes": {
            "shape": "S1c"
          }
        }
      }
    },
    "CreateGameSession": {
      "input": {
        "type": "structure",
        "required": [
          "MaximumPlayerSessionCount"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "AliasId": {
            "shape": "Sf"
          },
          "MaximumPlayerSessionCount": {
            "shape": "S17"
          },
          "Name": {
            "shape": "S4"
          },
          "GameProperties": {
            "shape": "S1h"
          },
          "CreatorId": {
            "shape": "S4"
          },
          "GameSessionId": {
            "shape": "S1l"
          },
          "IdempotencyToken": {
            "shape": "S1l"
          },
          "GameSessionData": {
            "shape": "S1m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GameSession": {
            "shape": "S1o"
          }
        }
      }
    },
    "CreateGameSessionQueue": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S1v"
          },
          "TimeoutInSeconds": {
            "shape": "S17"
          },
          "PlayerLatencyPolicies": {
            "shape": "S1w"
          },
          "Destinations": {
            "shape": "S1y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GameSessionQueue": {
            "shape": "S21"
          }
        }
      }
    },
    "CreateMatchmakingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "GameSessionQueueArns",
          "RequestTimeoutSeconds",
          "AcceptanceRequired",
          "RuleSetName"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          },
          "Description": {
            "shape": "S4"
          },
          "GameSessionQueueArns": {
            "shape": "S23"
          },
          "RequestTimeoutSeconds": {
            "shape": "S24"
          },
          "AcceptanceTimeoutSeconds": {
            "shape": "S25"
          },
          "AcceptanceRequired": {
            "type": "boolean"
          },
          "RuleSetName": {
            "shape": "S2"
          },
          "NotificationTarget": {
            "shape": "S27"
          },
          "AdditionalPlayerCount": {
            "shape": "S17"
          },
          "CustomEventData": {
            "shape": "S28"
          },
          "GameProperties": {
            "shape": "S1h"
          },
          "GameSessionData": {
            "shape": "S1m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Configuration": {
            "shape": "S2a"
          }
        }
      }
    },
    "CreateMatchmakingRuleSet": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RuleSetBody"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          },
          "RuleSetBody": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "RuleSet"
        ],
        "members": {
          "RuleSet": {
            "shape": "S2e"
          }
        }
      }
    },
    "CreatePlayerSession": {
      "input": {
        "type": "structure",
        "required": [
          "GameSessionId",
          "PlayerId"
        ],
        "members": {
          "GameSessionId": {
            "shape": "Sg"
          },
          "PlayerId": {
            "shape": "S4"
          },
          "PlayerData": {
            "shape": "S2g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PlayerSession": {
            "shape": "S2i"
          }
        }
      }
    },
    "CreatePlayerSessions": {
      "input": {
        "type": "structure",
        "required": [
          "GameSessionId",
          "PlayerIds"
        ],
        "members": {
          "GameSessionId": {
            "shape": "Sg"
          },
          "PlayerIds": {
            "type": "list",
            "member": {
              "shape": "S4"
            },
            "max": 25,
            "min": 1
          },
          "PlayerDataMap": {
            "type": "map",
            "key": {
              "shape": "S4"
            },
            "value": {
              "shape": "S2g"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PlayerSessions": {
            "shape": "S2p"
          }
        }
      }
    },
    "CreateVpcPeeringAuthorization": {
      "input": {
        "type": "structure",
        "required": [
          "GameLiftAwsAccountId",
          "PeerVpcId"
        ],
        "members": {
          "GameLiftAwsAccountId": {
            "shape": "S4"
          },
          "PeerVpcId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VpcPeeringAuthorization": {
            "shape": "S2s"
          }
        }
      }
    },
    "CreateVpcPeeringConnection": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId",
          "PeerVpcAwsAccountId",
          "PeerVpcId"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "PeerVpcAwsAccountId": {
            "shape": "S4"
          },
          "PeerVpcId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteAlias": {
      "input": {
        "type": "structure",
        "required": [
          "AliasId"
        ],
        "members": {
          "AliasId": {
            "shape": "Sf"
          }
        }
      }
    },
    "DeleteBuild": {
      "input": {
        "type": "structure",
        "required": [
          "BuildId"
        ],
        "members": {
          "BuildId": {
            "shape": "So"
          }
        }
      }
    },
    "DeleteFleet": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          }
        }
      }
    },
    "DeleteGameSessionQueue": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S1v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteMatchmakingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteScalingPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "FleetId"
        ],
        "members": {
          "Name": {
            "shape": "S4"
          },
          "FleetId": {
            "shape": "Sb"
          }
        }
      }
    },
    "DeleteVpcPeeringAuthorization": {
      "input": {
        "type": "structure",
        "required": [
          "GameLiftAwsAccountId",
          "PeerVpcId"
        ],
        "members": {
          "GameLiftAwsAccountId": {
            "shape": "S4"
          },
          "PeerVpcId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteVpcPeeringConnection": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId",
          "VpcPeeringConnectionId"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "VpcPeeringConnectionId": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeAlias": {
      "input": {
        "type": "structure",
        "required": [
          "AliasId"
        ],
        "members": {
          "AliasId": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Alias": {
            "shape": "Se"
          }
        }
      }
    },
    "DescribeBuild": {
      "input": {
        "type": "structure",
        "required": [
          "BuildId"
        ],
        "members": {
          "BuildId": {
            "shape": "So"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Build": {
            "shape": "Sn"
          }
        }
      }
    },
    "DescribeEC2InstanceLimits": {
      "input": {
        "type": "structure",
        "members": {
          "EC2InstanceType": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EC2InstanceLimits": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EC2InstanceType": {
                  "shape": "St"
                },
                "CurrentInstances": {
                  "shape": "S17"
                },
                "InstanceLimit": {
                  "shape": "S17"
                }
              }
            }
          }
        }
      }
    },
    "DescribeFleetAttributes": {
      "input": {
        "type": "structure",
        "members": {
          "FleetIds": {
            "shape": "S3g"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetAttributes": {
            "type": "list",
            "member": {
              "shape": "S1c"
            }
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeFleetCapacity": {
      "input": {
        "type": "structure",
        "members": {
          "FleetIds": {
            "shape": "S3g"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetCapacity": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FleetId": {
                  "shape": "Sb"
                },
                "InstanceType": {
                  "shape": "St"
                },
                "InstanceCounts": {
                  "type": "structure",
                  "members": {
                    "DESIRED": {
                      "shape": "S17"
                    },
                    "MINIMUM": {
                      "shape": "S17"
                    },
                    "MAXIMUM": {
                      "shape": "S17"
                    },
                    "PENDING": {
                      "shape": "S17"
                    },
                    "ACTIVE": {
                      "shape": "S17"
                    },
                    "IDLE": {
                      "shape": "S17"
                    },
                    "TERMINATING": {
                      "shape": "S17"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeFleetEvents": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Events": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EventId": {
                  "shape": "S4"
                },
                "ResourceId": {
                  "shape": "S4"
                },
                "EventCode": {
                  "type": "string",
                  "enum": [
                    "GENERIC_EVENT",
                    "FLEET_CREATED",
                    "FLEET_DELETED",
                    "FLEET_SCALING_EVENT",
                    "FLEET_STATE_DOWNLOADING",
                    "FLEET_STATE_VALIDATING",
                    "FLEET_STATE_BUILDING",
                    "FLEET_STATE_ACTIVATING",
                    "FLEET_STATE_ACTIVE",
                    "FLEET_STATE_ERROR",
                    "FLEET_INITIALIZATION_FAILED",
                    "FLEET_BINARY_DOWNLOAD_FAILED",
                    "FLEET_VALIDATION_LAUNCH_PATH_NOT_FOUND",
                    "FLEET_VALIDATION_EXECUTABLE_RUNTIME_FAILURE",
                    "FLEET_VALIDATION_TIMED_OUT",
                    "FLEET_ACTIVATION_FAILED",
                    "FLEET_ACTIVATION_FAILED_NO_INSTANCES",
                    "FLEET_NEW_GAME_SESSION_PROTECTION_POLICY_UPDATED",
                    "SERVER_PROCESS_INVALID_PATH",
                    "SERVER_PROCESS_SDK_INITIALIZATION_TIMEOUT",
                    "SERVER_PROCESS_PROCESS_READY_TIMEOUT",
                    "SERVER_PROCESS_CRASHED",
                    "SERVER_PROCESS_TERMINATED_UNHEALTHY",
                    "SERVER_PROCESS_FORCE_TERMINATED",
                    "SERVER_PROCESS_PROCESS_EXIT_TIMEOUT",
                    "GAME_SESSION_ACTIVATION_TIMEOUT",
                    "FLEET_CREATION_EXTRACTING_BUILD",
                    "FLEET_CREATION_RUNNING_INSTALLER",
                    "FLEET_CREATION_VALIDATING_RUNTIME_CONFIG",
                    "FLEET_VPC_PEERING_SUCCEEDED",
                    "FLEET_VPC_PEERING_FAILED",
                    "FLEET_VPC_PEERING_DELETED",
                    "INSTANCE_INTERRUPTED"
                  ]
                },
                "Message": {
                  "shape": "Sk"
                },
                "EventTime": {
                  "type": "timestamp"
                },
                "PreSignedLogUrl": {
                  "shape": "S4"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeFleetPortSettings": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InboundPermissions": {
            "shape": "Su"
          }
        }
      }
    },
    "DescribeFleetUtilization": {
      "input": {
        "type": "structure",
        "members": {
          "FleetIds": {
            "shape": "S3g"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetUtilization": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FleetId": {
                  "shape": "Sb"
                },
                "ActiveServerProcessCount": {
                  "shape": "S17"
                },
                "ActiveGameSessionCount": {
                  "shape": "S17"
                },
                "CurrentPlayerSessionCount": {
                  "shape": "S17"
                },
                "MaximumPlayerSessionCount": {
                  "shape": "S17"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeGameSessionDetails": {
      "input": {
        "type": "structure",
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "GameSessionId": {
            "shape": "Sg"
          },
          "AliasId": {
            "shape": "Sf"
          },
          "StatusFilter": {
            "shape": "S4"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GameSessionDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "GameSession": {
                  "shape": "S1o"
                },
                "ProtectionPolicy": {
                  "shape": "Sz"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeGameSessionPlacement": {
      "input": {
        "type": "structure",
        "required": [
          "PlacementId"
        ],
        "members": {
          "PlacementId": {
            "shape": "S1l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GameSessionPlacement": {
            "shape": "S45"
          }
        }
      }
    },
    "DescribeGameSessionQueues": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "type": "list",
            "member": {
              "shape": "S1v"
            }
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GameSessionQueues": {
            "type": "list",
            "member": {
              "shape": "S21"
            }
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeGameSessions": {
      "input": {
        "type": "structure",
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "GameSessionId": {
            "shape": "Sg"
          },
          "AliasId": {
            "shape": "Sf"
          },
          "StatusFilter": {
            "shape": "S4"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GameSessions": {
            "shape": "S4i"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeInstances": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "InstanceId": {
            "shape": "S4k"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Instances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FleetId": {
                  "shape": "Sb"
                },
                "InstanceId": {
                  "shape": "S4k"
                },
                "IpAddress": {},
                "OperatingSystem": {
                  "shape": "Sl"
                },
                "Type": {
                  "shape": "St"
                },
                "Status": {
                  "type": "string",
                  "enum": [
                    "PENDING",
                    "ACTIVE",
                    "TERMINATING"
                  ]
                },
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeMatchmaking": {
      "input": {
        "type": "structure",
        "required": [
          "TicketIds"
        ],
        "members": {
          "TicketIds": {
            "shape": "S4q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TicketList": {
            "type": "list",
            "member": {
              "shape": "S4t"
            }
          }
        }
      }
    },
    "DescribeMatchmakingConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "shape": "S4q"
          },
          "RuleSetName": {
            "shape": "S2"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Configurations": {
            "type": "list",
            "member": {
              "shape": "S2a"
            }
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeMatchmakingRuleSets": {
      "input": {
        "type": "structure",
        "members": {
          "Names": {
            "type": "list",
            "member": {
              "shape": "S2"
            },
            "max": 10,
            "min": 1
          },
          "Limit": {
            "type": "integer",
            "max": 10,
            "min": 1
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "RuleSets"
        ],
        "members": {
          "RuleSets": {
            "type": "list",
            "member": {
              "shape": "S2e"
            }
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribePlayerSessions": {
      "input": {
        "type": "structure",
        "members": {
          "GameSessionId": {
            "shape": "Sg"
          },
          "PlayerId": {
            "shape": "S4"
          },
          "PlayerSessionId": {
            "shape": "S2j"
          },
          "PlayerSessionStatusFilter": {
            "shape": "S4"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PlayerSessions": {
            "shape": "S2p"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeRuntimeConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RuntimeConfiguration": {
            "shape": "S10"
          }
        }
      }
    },
    "DescribeScalingPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "StatusFilter": {
            "shape": "S5j"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ScalingPolicies": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FleetId": {
                  "shape": "Sb"
                },
                "Name": {
                  "shape": "S4"
                },
                "Status": {
                  "shape": "S5j"
                },
                "ScalingAdjustment": {
                  "type": "integer"
                },
                "ScalingAdjustmentType": {
                  "shape": "S5o"
                },
                "ComparisonOperator": {
                  "shape": "S5p"
                },
                "Threshold": {
                  "type": "double"
                },
                "EvaluationPeriods": {
                  "shape": "S13"
                },
                "MetricName": {
                  "shape": "S5r"
                },
                "PolicyType": {
                  "shape": "S5s"
                },
                "TargetConfiguration": {
                  "shape": "S5t"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeVpcPeeringAuthorizations": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "VpcPeeringAuthorizations": {
            "type": "list",
            "member": {
              "shape": "S2s"
            }
          }
        }
      }
    },
    "DescribeVpcPeeringConnections": {
      "input": {
        "type": "structure",
        "members": {
          "FleetId": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VpcPeeringConnections": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FleetId": {
                  "shape": "Sb"
                },
                "IpV4CidrBlock": {
                  "shape": "S4"
                },
                "VpcPeeringConnectionId": {
                  "shape": "S4"
                },
                "Status": {
                  "type": "structure",
                  "members": {
                    "Code": {
                      "shape": "S4"
                    },
                    "Message": {
                      "shape": "S4"
                    }
                  }
                },
                "PeerVpcId": {
                  "shape": "S4"
                },
                "GameLiftVpcId": {
                  "shape": "S4"
                }
              }
            }
          }
        }
      }
    },
    "GetGameSessionLogUrl": {
      "input": {
        "type": "structure",
        "required": [
          "GameSessionId"
        ],
        "members": {
          "GameSessionId": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PreSignedUrl": {
            "shape": "S4"
          }
        }
      }
    },
    "GetInstanceAccess": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId",
          "InstanceId"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "InstanceId": {
            "shape": "S4k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InstanceAccess": {
            "type": "structure",
            "members": {
              "FleetId": {
                "shape": "Sb"
              },
              "InstanceId": {
                "shape": "S4k"
              },
              "IpAddress": {},
              "OperatingSystem": {
                "shape": "Sl"
              },
              "Credentials": {
                "type": "structure",
                "members": {
                  "UserName": {
                    "shape": "Sk"
                  },
                  "Secret": {
                    "shape": "Sk"
                  }
                },
                "sensitive": true
              }
            }
          }
        }
      }
    },
    "ListAliases": {
      "input": {
        "type": "structure",
        "members": {
          "RoutingStrategyType": {
            "shape": "Sa"
          },
          "Name": {
            "shape": "Sk"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Aliases": {
            "type": "list",
            "member": {
              "shape": "Se"
            }
          },
          "NextToken": {
            "shape": "Sk"
          }
        }
      }
    },
    "ListBuilds": {
      "input": {
        "type": "structure",
        "members": {
          "Status": {
            "shape": "Sp"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Builds": {
            "type": "list",
            "member": {
              "shape": "Sn"
            }
          },
          "NextToken": {
            "shape": "Sk"
          }
        }
      }
    },
    "ListFleets": {
      "input": {
        "type": "structure",
        "members": {
          "BuildId": {
            "shape": "So"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetIds": {
            "shape": "S3g"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "PutScalingPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "FleetId",
          "MetricName"
        ],
        "members": {
          "Name": {
            "shape": "S4"
          },
          "FleetId": {
            "shape": "Sb"
          },
          "ScalingAdjustment": {
            "type": "integer"
          },
          "ScalingAdjustmentType": {
            "shape": "S5o"
          },
          "Threshold": {
            "type": "double"
          },
          "ComparisonOperator": {
            "shape": "S5p"
          },
          "EvaluationPeriods": {
            "shape": "S13"
          },
          "MetricName": {
            "shape": "S5r"
          },
          "PolicyType": {
            "shape": "S5s"
          },
          "TargetConfiguration": {
            "shape": "S5t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S4"
          }
        }
      }
    },
    "RequestUploadCredentials": {
      "input": {
        "type": "structure",
        "required": [
          "BuildId"
        ],
        "members": {
          "BuildId": {
            "shape": "So"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UploadCredentials": {
            "shape": "Sr"
          },
          "StorageLocation": {
            "shape": "Sj"
          }
        }
      }
    },
    "ResolveAlias": {
      "input": {
        "type": "structure",
        "required": [
          "AliasId"
        ],
        "members": {
          "AliasId": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetId": {
            "shape": "Sb"
          }
        }
      }
    },
    "SearchGameSessions": {
      "input": {
        "type": "structure",
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "AliasId": {
            "shape": "Sf"
          },
          "FilterExpression": {
            "shape": "S4"
          },
          "SortExpression": {
            "shape": "S4"
          },
          "Limit": {
            "shape": "S13"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GameSessions": {
            "shape": "S4i"
          },
          "NextToken": {
            "shape": "S4"
          }
        }
      }
    },
    "StartFleetActions": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId",
          "Actions"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "Actions": {
            "shape": "S1e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartGameSessionPlacement": {
      "input": {
        "type": "structure",
        "required": [
          "PlacementId",
          "GameSessionQueueName",
          "MaximumPlayerSessionCount"
        ],
        "members": {
          "PlacementId": {
            "shape": "S1l"
          },
          "GameSessionQueueName": {
            "shape": "S1v"
          },
          "GameProperties": {
            "shape": "S1h"
          },
          "MaximumPlayerSessionCount": {
            "shape": "S17"
          },
          "GameSessionName": {
            "shape": "S4"
          },
          "PlayerLatencies": {
            "shape": "S47"
          },
          "DesiredPlayerSessions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PlayerId": {
                  "shape": "S4"
                },
                "PlayerData": {
                  "shape": "S2g"
                }
              }
            }
          },
          "GameSessionData": {
            "shape": "S1m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GameSessionPlacement": {
            "shape": "S45"
          }
        }
      }
    },
    "StartMatchBackfill": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationName",
          "GameSessionArn",
          "Players"
        ],
        "members": {
          "TicketId": {
            "shape": "S2"
          },
          "ConfigurationName": {
            "shape": "S2"
          },
          "GameSessionArn": {
            "shape": "Sg"
          },
          "Players": {
            "shape": "S4w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MatchmakingTicket": {
            "shape": "S4t"
          }
        }
      }
    },
    "StartMatchmaking": {
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationName",
          "Players"
        ],
        "members": {
          "TicketId": {
            "shape": "S2"
          },
          "ConfigurationName": {
            "shape": "S2"
          },
          "Players": {
            "shape": "S4w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MatchmakingTicket": {
            "shape": "S4t"
          }
        }
      }
    },
    "StopFleetActions": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId",
          "Actions"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "Actions": {
            "shape": "S1e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopGameSessionPlacement": {
      "input": {
        "type": "structure",
        "required": [
          "PlacementId"
        ],
        "members": {
          "PlacementId": {
            "shape": "S1l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GameSessionPlacement": {
            "shape": "S45"
          }
        }
      }
    },
    "StopMatchmaking": {
      "input": {
        "type": "structure",
        "required": [
          "TicketId"
        ],
        "members": {
          "TicketId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateAlias": {
      "input": {
        "type": "structure",
        "required": [
          "AliasId"
        ],
        "members": {
          "AliasId": {
            "shape": "Sf"
          },
          "Name": {
            "shape": "S8"
          },
          "Description": {
            "shape": "S4"
          },
          "RoutingStrategy": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Alias": {
            "shape": "Se"
          }
        }
      }
    },
    "UpdateBuild": {
      "input": {
        "type": "structure",
        "required": [
          "BuildId"
        ],
        "members": {
          "BuildId": {
            "shape": "So"
          },
          "Name": {
            "shape": "S4"
          },
          "Version": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Build": {
            "shape": "Sn"
          }
        }
      }
    },
    "UpdateFleetAttributes": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "Name": {
            "shape": "S4"
          },
          "Description": {
            "shape": "S4"
          },
          "NewGameSessionProtectionPolicy": {
            "shape": "Sz"
          },
          "ResourceCreationLimitPolicy": {
            "shape": "S16"
          },
          "MetricGroups": {
            "shape": "S18"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetId": {
            "shape": "Sb"
          }
        }
      }
    },
    "UpdateFleetCapacity": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "DesiredInstances": {
            "shape": "S17"
          },
          "MinSize": {
            "shape": "S17"
          },
          "MaxSize": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetId": {
            "shape": "Sb"
          }
        }
      }
    },
    "UpdateFleetPortSettings": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "InboundPermissionAuthorizations": {
            "shape": "Su"
          },
          "InboundPermissionRevocations": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FleetId": {
            "shape": "Sb"
          }
        }
      }
    },
    "UpdateGameSession": {
      "input": {
        "type": "structure",
        "required": [
          "GameSessionId"
        ],
        "members": {
          "GameSessionId": {
            "shape": "Sg"
          },
          "MaximumPlayerSessionCount": {
            "shape": "S17"
          },
          "Name": {
            "shape": "S4"
          },
          "PlayerSessionCreationPolicy": {
            "shape": "S1s"
          },
          "ProtectionPolicy": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GameSession": {
            "shape": "S1o"
          }
        }
      }
    },
    "UpdateGameSessionQueue": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S1v"
          },
          "TimeoutInSeconds": {
            "shape": "S17"
          },
          "PlayerLatencyPolicies": {
            "shape": "S1w"
          },
          "Destinations": {
            "shape": "S1y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GameSessionQueue": {
            "shape": "S21"
          }
        }
      }
    },
    "UpdateMatchmakingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          },
          "Description": {
            "shape": "S4"
          },
          "GameSessionQueueArns": {
            "shape": "S23"
          },
          "RequestTimeoutSeconds": {
            "shape": "S24"
          },
          "AcceptanceTimeoutSeconds": {
            "shape": "S25"
          },
          "AcceptanceRequired": {
            "type": "boolean"
          },
          "RuleSetName": {
            "shape": "S2"
          },
          "NotificationTarget": {
            "shape": "S27"
          },
          "AdditionalPlayerCount": {
            "shape": "S17"
          },
          "CustomEventData": {
            "shape": "S28"
          },
          "GameProperties": {
            "shape": "S1h"
          },
          "GameSessionData": {
            "shape": "S1m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Configuration": {
            "shape": "S2a"
          }
        }
      }
    },
    "UpdateRuntimeConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "FleetId",
          "RuntimeConfiguration"
        ],
        "members": {
          "FleetId": {
            "shape": "Sb"
          },
          "RuntimeConfiguration": {
            "shape": "S10"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RuntimeConfiguration": {
            "shape": "S10"
          }
        }
      }
    },
    "ValidateMatchmakingRuleSet": {
      "input": {
        "type": "structure",
        "required": [
          "RuleSetBody"
        ],
        "members": {
          "RuleSetBody": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Valid": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9-\\.]+"
    },
    "S3": {
      "type": "list",
      "member": {
        "shape": "S4"
      }
    },
    "S4": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "S8": {
      "type": "string",
      "max": 1024,
      "min": 1,
      "pattern": ".*\\S.*"
    },
    "S9": {
      "type": "structure",
      "members": {
        "Type": {
          "shape": "Sa"
        },
        "FleetId": {
          "shape": "Sb"
        },
        "Message": {}
      }
    },
    "Sa": {
      "type": "string",
      "enum": [
        "SIMPLE",
        "TERMINAL"
      ]
    },
    "Sb": {
      "type": "string",
      "pattern": "^fleet-\\S+"
    },
    "Se": {
      "type": "structure",
      "members": {
        "AliasId": {
          "shape": "Sf"
        },
        "Name": {
          "shape": "S8"
        },
        "AliasArn": {
          "shape": "Sg"
        },
        "Description": {},
        "RoutingStrategy": {
          "shape": "S9"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "LastUpdatedTime": {
          "type": "timestamp"
        }
      }
    },
    "Sf": {
      "type": "string",
      "pattern": "^alias-\\S+"
    },
    "Sg": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[a-zA-Z0-9:/-]+"
    },
    "Sj": {
      "type": "structure",
      "members": {
        "Bucket": {
          "shape": "Sk"
        },
        "Key": {
          "shape": "Sk"
        },
        "RoleArn": {
          "shape": "Sk"
        }
      }
    },
    "Sk": {
      "type": "string",
      "min": 1
    },
    "Sl": {
      "type": "string",
      "enum": [
        "WINDOWS_2012",
        "AMAZON_LINUX"
      ]
    },
    "Sn": {
      "type": "structure",
      "members": {
        "BuildId": {
          "shape": "So"
        },
        "Name": {},
        "Version": {},
        "Status": {
          "shape": "Sp"
        },
        "SizeOnDisk": {
          "type": "long",
          "min": 1
        },
        "OperatingSystem": {
          "shape": "Sl"
        },
        "CreationTime": {
          "type": "timestamp"
        }
      }
    },
    "So": {
      "type": "string",
      "pattern": "^build-\\S+"
    },
    "Sp": {
      "type": "string",
      "enum": [
        "INITIALIZED",
        "READY",
        "FAILED"
      ]
    },
    "Sr": {
      "type": "structure",
      "members": {
        "AccessKeyId": {
          "shape": "Sk"
        },
        "SecretAccessKey": {
          "shape": "Sk"
        },
        "SessionToken": {
          "shape": "Sk"
        }
      },
      "sensitive": true
    },
    "St": {
      "type": "string",
      "enum": [
        "t2.micro",
        "t2.small",
        "t2.medium",
        "t2.large",
        "c3.large",
        "c3.xlarge",
        "c3.2xlarge",
        "c3.4xlarge",
        "c3.8xlarge",
        "c4.large",
        "c4.xlarge",
        "c4.2xlarge",
        "c4.4xlarge",
        "c4.8xlarge",
        "r3.large",
        "r3.xlarge",
        "r3.2xlarge",
        "r3.4xlarge",
        "r3.8xlarge",
        "r4.large",
        "r4.xlarge",
        "r4.2xlarge",
        "r4.4xlarge",
        "r4.8xlarge",
        "r4.16xlarge",
        "m3.medium",
        "m3.large",
        "m3.xlarge",
        "m3.2xlarge",
        "m4.large",
        "m4.xlarge",
        "m4.2xlarge",
        "m4.4xlarge",
        "m4.10xlarge"
      ]
    },
    "Su": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "FromPort",
          "ToPort",
          "IpRange",
          "Protocol"
        ],
        "members": {
          "FromPort": {
            "shape": "Sw"
          },
          "ToPort": {
            "shape": "Sw"
          },
          "IpRange": {
            "type": "string",
            "pattern": "[^\\s]+"
          },
          "Protocol": {
            "type": "string",
            "enum": [
              "TCP",
              "UDP"
            ]
          }
        }
      },
      "max": 50
    },
    "Sw": {
      "type": "integer",
      "max": 60000,
      "min": 1
    },
    "Sz": {
      "type": "string",
      "enum": [
        "NoProtection",
        "FullProtection"
      ]
    },
    "S10": {
      "type": "structure",
      "members": {
        "ServerProcesses": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "LaunchPath",
              "ConcurrentExecutions"
            ],
            "members": {
              "LaunchPath": {
                "shape": "S4"
              },
              "Parameters": {
                "shape": "S4"
              },
              "ConcurrentExecutions": {
                "shape": "S13"
              }
            }
          },
          "max": 50,
          "min": 1
        },
        "MaxConcurrentGameSessionActivations": {
          "type": "integer",
          "max": 2147483647,
          "min": 1
        },
        "GameSessionActivationTimeoutSeconds": {
          "type": "integer",
          "max": 600,
          "min": 1
        }
      }
    },
    "S13": {
      "type": "integer",
      "min": 1
    },
    "S16": {
      "type": "structure",
      "members": {
        "NewGameSessionsPerCreator": {
          "shape": "S17"
        },
        "PolicyPeriodInMinutes": {
          "shape": "S17"
        }
      }
    },
    "S17": {
      "type": "integer",
      "min": 0
    },
    "S18": {
      "type": "list",
      "member": {
        "type": "string",
        "max": 255,
        "min": 1
      },
      "max": 1
    },
    "S1a": {
      "type": "string",
      "enum": [
        "ON_DEMAND",
        "SPOT"
      ]
    },
    "S1c": {
      "type": "structure",
      "members": {
        "FleetId": {
          "shape": "Sb"
        },
        "FleetArn": {
          "shape": "Sg"
        },
        "FleetType": {
          "shape": "S1a"
        },
        "InstanceType": {
          "shape": "St"
        },
        "Description": {
          "shape": "S4"
        },
        "Name": {
          "shape": "S4"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "TerminationTime": {
          "type": "timestamp"
        },
        "Status": {
          "type": "string",
          "enum": [
            "NEW",
            "DOWNLOADING",
            "VALIDATING",
            "BUILDING",
            "ACTIVATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "TERMINATED"
          ]
        },
        "BuildId": {
          "shape": "So"
        },
        "ServerLaunchPath": {
          "shape": "S4"
        },
        "ServerLaunchParameters": {
          "shape": "S4"
        },
        "LogPaths": {
          "shape": "S3"
        },
        "NewGameSessionProtectionPolicy": {
          "shape": "Sz"
        },
        "OperatingSystem": {
          "shape": "Sl"
        },
        "ResourceCreationLimitPolicy": {
          "shape": "S16"
        },
        "MetricGroups": {
          "shape": "S18"
        },
        "StoppedActions": {
          "shape": "S1e"
        }
      }
    },
    "S1e": {
      "type": "list",
      "member": {
        "type": "string",
        "enum": [
          "AUTO_SCALING"
        ]
      },
      "max": 1,
      "min": 1
    },
    "S1h": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {
            "type": "string",
            "max": 32
          },
          "Value": {
            "type": "string",
            "max": 96
          }
        }
      },
      "max": 16
    },
    "S1l": {
      "type": "string",
      "max": 48,
      "min": 1,
      "pattern": "[a-zA-Z0-9-]+"
    },
    "S1m": {
      "type": "string",
      "max": 4096,
      "min": 1
    },
    "S1o": {
      "type": "structure",
      "members": {
        "GameSessionId": {
          "shape": "S4"
        },
        "Name": {
          "shape": "S4"
        },
        "FleetId": {
          "shape": "Sb"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "TerminationTime": {
          "type": "timestamp"
        },
        "CurrentPlayerSessionCount": {
          "shape": "S17"
        },
        "MaximumPlayerSessionCount": {
          "shape": "S17"
        },
        "Status": {
          "type": "string",
          "enum": [
            "ACTIVE",
            "ACTIVATING",
            "TERMINATED",
            "TERMINATING",
            "ERROR"
          ]
        },
        "StatusReason": {
          "type": "string",
          "enum": [
            "INTERRUPTED"
          ]
        },
        "GameProperties": {
          "shape": "S1h"
        },
        "IpAddress": {},
        "Port": {
          "shape": "Sw"
        },
        "PlayerSessionCreationPolicy": {
          "shape": "S1s"
        },
        "CreatorId": {
          "shape": "S4"
        },
        "GameSessionData": {
          "shape": "S1m"
        },
        "MatchmakerData": {
          "shape": "S1t"
        }
      }
    },
    "S1s": {
      "type": "string",
      "enum": [
        "ACCEPT_ALL",
        "DENY_ALL"
      ]
    },
    "S1t": {
      "type": "string",
      "max": 390000,
      "min": 1
    },
    "S1v": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9-]+"
    },
    "S1w": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "MaximumIndividualPlayerLatencyMilliseconds": {
            "shape": "S17"
          },
          "PolicyDurationSeconds": {
            "shape": "S17"
          }
        }
      }
    },
    "S1y": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "DestinationArn": {
            "shape": "Sg"
          }
        }
      }
    },
    "S21": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "S1v"
        },
        "GameSessionQueueArn": {
          "shape": "Sg"
        },
        "TimeoutInSeconds": {
          "shape": "S17"
        },
        "PlayerLatencyPolicies": {
          "shape": "S1w"
        },
        "Destinations": {
          "shape": "S1y"
        }
      }
    },
    "S23": {
      "type": "list",
      "member": {
        "shape": "Sg"
      }
    },
    "S24": {
      "type": "integer",
      "max": 43200,
      "min": 1
    },
    "S25": {
      "type": "integer",
      "max": 600,
      "min": 1
    },
    "S27": {
      "type": "string",
      "max": 300,
      "min": 0,
      "pattern": "[a-zA-Z0-9:_/-]*"
    },
    "S28": {
      "type": "string",
      "max": 256,
      "min": 0
    },
    "S2a": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "S2"
        },
        "Description": {
          "shape": "S4"
        },
        "GameSessionQueueArns": {
          "shape": "S23"
        },
        "RequestTimeoutSeconds": {
          "shape": "S24"
        },
        "AcceptanceTimeoutSeconds": {
          "shape": "S25"
        },
        "AcceptanceRequired": {
          "type": "boolean"
        },
        "RuleSetName": {
          "shape": "S2"
        },
        "NotificationTarget": {
          "shape": "S27"
        },
        "AdditionalPlayerCount": {
          "shape": "S17"
        },
        "CustomEventData": {
          "shape": "S28"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "GameProperties": {
          "shape": "S1h"
        },
        "GameSessionData": {
          "shape": "S1m"
        }
      }
    },
    "S2c": {
      "type": "string",
      "max": 65535,
      "min": 1
    },
    "S2e": {
      "type": "structure",
      "required": [
        "RuleSetBody"
      ],
      "members": {
        "RuleSetName": {
          "shape": "S2"
        },
        "RuleSetBody": {
          "shape": "S2c"
        },
        "CreationTime": {
          "type": "timestamp"
        }
      }
    },
    "S2g": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "S2i": {
      "type": "structure",
      "members": {
        "PlayerSessionId": {
          "shape": "S2j"
        },
        "PlayerId": {
          "shape": "S4"
        },
        "GameSessionId": {
          "shape": "S4"
        },
        "FleetId": {
          "shape": "Sb"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "TerminationTime": {
          "type": "timestamp"
        },
        "Status": {
          "type": "string",
          "enum": [
            "RESERVED",
            "ACTIVE",
            "COMPLETED",
            "TIMEDOUT"
          ]
        },
        "IpAddress": {},
        "Port": {
          "shape": "Sw"
        },
        "PlayerData": {
          "shape": "S2g"
        }
      }
    },
    "S2j": {
      "type": "string",
      "pattern": "^psess-\\S+"
    },
    "S2p": {
      "type": "list",
      "member": {
        "shape": "S2i"
      }
    },
    "S2s": {
      "type": "structure",
      "members": {
        "GameLiftAwsAccountId": {
          "shape": "S4"
        },
        "PeerVpcAwsAccountId": {
          "shape": "S4"
        },
        "PeerVpcId": {
          "shape": "S4"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "ExpirationTime": {
          "type": "timestamp"
        }
      }
    },
    "S3g": {
      "type": "list",
      "member": {
        "shape": "Sb"
      },
      "min": 1
    },
    "S45": {
      "type": "structure",
      "members": {
        "PlacementId": {
          "shape": "S1l"
        },
        "GameSessionQueueName": {
          "shape": "S1v"
        },
        "Status": {
          "type": "string",
          "enum": [
            "PENDING",
            "FULFILLED",
            "CANCELLED",
            "TIMED_OUT"
          ]
        },
        "GameProperties": {
          "shape": "S1h"
        },
        "MaximumPlayerSessionCount": {
          "shape": "S17"
        },
        "GameSessionName": {
          "shape": "S4"
        },
        "GameSessionId": {
          "shape": "S4"
        },
        "GameSessionArn": {
          "shape": "S4"
        },
        "GameSessionRegion": {
          "shape": "S4"
        },
        "PlayerLatencies": {
          "shape": "S47"
        },
        "StartTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        },
        "IpAddress": {},
        "Port": {
          "shape": "Sw"
        },
        "PlacedPlayerSessions": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "PlayerId": {
                "shape": "S4"
              },
              "PlayerSessionId": {
                "shape": "S2j"
              }
            }
          }
        },
        "GameSessionData": {
          "shape": "S1m"
        },
        "MatchmakerData": {
          "shape": "S1t"
        }
      }
    },
    "S47": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PlayerId": {
            "shape": "S4"
          },
          "RegionIdentifier": {
            "shape": "S4"
          },
          "LatencyInMilliseconds": {
            "type": "float"
          }
        }
      }
    },
    "S4i": {
      "type": "list",
      "member": {
        "shape": "S1o"
      }
    },
    "S4k": {
      "type": "string",
      "pattern": "[a-zA-Z0-9\\.-]+"
    },
    "S4q": {
      "type": "list",
      "member": {
        "shape": "S2"
      }
    },
    "S4t": {
      "type": "structure",
      "members": {
        "TicketId": {
          "shape": "S2"
        },
        "ConfigurationName": {
          "shape": "S2"
        },
        "Status": {
          "type": "string",
          "enum": [
            "CANCELLED",
            "COMPLETED",
            "FAILED",
            "PLACING",
            "QUEUED",
            "REQUIRES_ACCEPTANCE",
            "SEARCHING",
            "TIMED_OUT"
          ]
        },
        "StatusReason": {},
        "StatusMessage": {},
        "StartTime": {
          "type": "timestamp"
        },
        "EndTime": {
          "type": "timestamp"
        },
        "Players": {
          "shape": "S4w"
        },
        "GameSessionConnectionInfo": {
          "type": "structure",
          "members": {
            "GameSessionArn": {
              "shape": "Sg"
            },
            "IpAddress": {},
            "Port": {
              "shape": "S13"
            },
            "MatchedPlayerSessions": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "PlayerId": {
                    "shape": "S4"
                  },
                  "PlayerSessionId": {
                    "shape": "S2j"
                  }
                }
              }
            }
          }
        },
        "EstimatedWaitTime": {
          "shape": "S17"
        }
      }
    },
    "S4w": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PlayerId": {
            "shape": "S4"
          },
          "PlayerAttributes": {
            "type": "map",
            "key": {
              "shape": "S4"
            },
            "value": {
              "type": "structure",
              "members": {
                "S": {
                  "shape": "S4"
                },
                "N": {
                  "type": "double"
                },
                "SL": {
                  "shape": "S3"
                },
                "SDM": {
                  "type": "map",
                  "key": {
                    "shape": "S4"
                  },
                  "value": {
                    "type": "double"
                  }
                }
              }
            }
          },
          "Team": {
            "shape": "S4"
          },
          "LatencyInMs": {
            "type": "map",
            "key": {
              "shape": "Sk"
            },
            "value": {
              "shape": "S13"
            }
          }
        }
      }
    },
    "S5j": {
      "type": "string",
      "enum": [
        "ACTIVE",
        "UPDATE_REQUESTED",
        "UPDATING",
        "DELETE_REQUESTED",
        "DELETING",
        "DELETED",
        "ERROR"
      ]
    },
    "S5o": {
      "type": "string",
      "enum": [
        "ChangeInCapacity",
        "ExactCapacity",
        "PercentChangeInCapacity"
      ]
    },
    "S5p": {
      "type": "string",
      "enum": [
        "GreaterThanOrEqualToThreshold",
        "GreaterThanThreshold",
        "LessThanThreshold",
        "LessThanOrEqualToThreshold"
      ]
    },
    "S5r": {
      "type": "string",
      "enum": [
        "ActivatingGameSessions",
        "ActiveGameSessions",
        "ActiveInstances",
        "AvailableGameSessions",
        "AvailablePlayerSessions",
        "CurrentPlayerSessions",
        "IdleInstances",
        "PercentAvailableGameSessions",
        "PercentIdleInstances",
        "QueueDepth",
        "WaitTime"
      ]
    },
    "S5s": {
      "type": "string",
      "enum": [
        "RuleBased",
        "TargetBased"
      ]
    },
    "S5t": {
      "type": "structure",
      "required": [
        "TargetValue"
      ],
      "members": {
        "TargetValue": {
          "type": "double"
        }
      }
    }
  }
}