{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-03-31",
    "endpointPrefix": "glue",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Glue",
    "serviceId": "Glue",
    "signatureVersion": "v4",
    "targetPrefix": "AWSGlue",
    "uid": "glue-2017-03-31"
  },
  "operations": {
    "BatchCreatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionInputList"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionInputList": {
            "type": "list",
            "member": {
              "shape": "S5"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "Sv"
          }
        }
      }
    },
    "BatchDeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionNameList"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionNameList": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Succeeded": {
            "shape": "Sm"
          },
          "Errors": {
            "type": "map",
            "key": {},
            "value": {
              "shape": "Sx"
            }
          }
        }
      }
    },
    "BatchDeletePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionsToDelete"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionsToDelete": {
            "type": "list",
            "member": {
              "shape": "S15"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "Sv"
          }
        }
      }
    },
    "BatchDeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TablesToDelete"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TablesToDelete": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TableName": {},
                "ErrorDetail": {
                  "shape": "Sx"
                }
              }
            }
          }
        }
      }
    },
    "BatchDeleteTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "VersionIds"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "VersionIds": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TableName": {},
                "VersionId": {},
                "ErrorDetail": {
                  "shape": "Sx"
                }
              }
            }
          }
        }
      }
    },
    "BatchGetCrawlers": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerNames"
        ],
        "members": {
          "CrawlerNames": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawlers": {
            "shape": "S1l"
          },
          "CrawlersNotFound": {
            "shape": "S1j"
          }
        }
      }
    },
    "BatchGetDevEndpoints": {
      "input": {
        "type": "structure",
        "required": [
          "DevEndpointNames"
        ],
        "members": {
          "DevEndpointNames": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoints": {
            "shape": "S2s"
          },
          "DevEndpointsNotFound": {
            "shape": "S2p"
          }
        }
      }
    },
    "BatchGetJobs": {
      "input": {
        "type": "structure",
        "required": [
          "JobNames"
        ],
        "members": {
          "JobNames": {
            "shape": "S34"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "shape": "S36"
          },
          "JobsNotFound": {
            "shape": "S34"
          }
        }
      }
    },
    "BatchGetPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionsToGet"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionsToGet": {
            "shape": "S3n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partitions": {
            "shape": "S3p"
          },
          "UnprocessedKeys": {
            "shape": "S3n"
          }
        }
      }
    },
    "BatchGetTriggers": {
      "input": {
        "type": "structure",
        "required": [
          "TriggerNames"
        ],
        "members": {
          "TriggerNames": {
            "shape": "S3s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Triggers": {
            "shape": "S3u"
          },
          "TriggersNotFound": {
            "shape": "S3s"
          }
        }
      }
    },
    "BatchGetWorkflows": {
      "input": {
        "type": "structure",
        "required": [
          "Names"
        ],
        "members": {
          "Names": {
            "shape": "S49"
          },
          "IncludeGraph": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workflows": {
            "type": "list",
            "member": {
              "shape": "S4c"
            }
          },
          "MissingWorkflows": {
            "shape": "S49"
          }
        }
      }
    },
    "BatchStopJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobRunIds"
        ],
        "members": {
          "JobName": {},
          "JobRunIds": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SuccessfulSubmissions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "JobName": {},
                "JobRunId": {}
              }
            }
          },
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "JobName": {},
                "JobRunId": {},
                "ErrorDetail": {
                  "shape": "Sx"
                }
              }
            }
          }
        }
      }
    },
    "BatchUpdatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "Entries"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "Entries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "PartitionValueList",
                "PartitionInput"
              ],
              "members": {
                "PartitionValueList": {
                  "shape": "S59"
                },
                "PartitionInput": {
                  "shape": "S5"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PartitionValueList": {
                  "shape": "S59"
                },
                "ErrorDetail": {
                  "shape": "Sx"
                }
              }
            }
          }
        }
      }
    },
    "CancelMLTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId",
          "TaskRunId"
        ],
        "members": {
          "TransformId": {},
          "TaskRunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {},
          "TaskRunId": {},
          "Status": {}
        }
      }
    },
    "CreateClassifier": {
      "input": {
        "type": "structure",
        "members": {
          "GrokClassifier": {
            "type": "structure",
            "required": [
              "Classification",
              "Name",
              "GrokPattern"
            ],
            "members": {
              "Classification": {},
              "Name": {},
              "GrokPattern": {},
              "CustomPatterns": {}
            }
          },
          "XMLClassifier": {
            "type": "structure",
            "required": [
              "Classification",
              "Name"
            ],
            "members": {
              "Classification": {},
              "Name": {},
              "RowTag": {}
            }
          },
          "JsonClassifier": {
            "type": "structure",
            "required": [
              "Name",
              "JsonPath"
            ],
            "members": {
              "Name": {},
              "JsonPath": {}
            }
          },
          "CsvClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Delimiter": {},
              "QuoteSymbol": {},
              "ContainsHeader": {},
              "Header": {
                "shape": "S5u"
              },
              "DisableValueTrimming": {
                "type": "boolean"
              },
              "AllowSingleColumn": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionInput"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionInput": {
            "shape": "S5x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Role",
          "Targets"
        ],
        "members": {
          "Name": {},
          "Role": {},
          "DatabaseName": {},
          "Description": {},
          "Targets": {
            "shape": "S1o"
          },
          "Schedule": {},
          "Classifiers": {
            "shape": "S26"
          },
          "TablePrefix": {},
          "SchemaChangePolicy": {
            "shape": "S27"
          },
          "Configuration": {},
          "CrawlerSecurityConfiguration": {},
          "Tags": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseInput": {
            "shape": "S6b"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "RoleArn"
        ],
        "members": {
          "EndpointName": {},
          "RoleArn": {},
          "SecurityGroupIds": {
            "shape": "S2v"
          },
          "SubnetId": {},
          "PublicKey": {},
          "PublicKeys": {
            "shape": "S31"
          },
          "NumberOfNodes": {
            "type": "integer"
          },
          "WorkerType": {},
          "GlueVersion": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "ExtraPythonLibsS3Path": {},
          "ExtraJarsS3Path": {},
          "SecurityConfiguration": {},
          "Tags": {
            "shape": "S66"
          },
          "Arguments": {
            "shape": "S32"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EndpointName": {},
          "Status": {},
          "SecurityGroupIds": {
            "shape": "S2v"
          },
          "SubnetId": {},
          "RoleArn": {},
          "YarnEndpointAddress": {},
          "ZeppelinRemoteSparkInterpreterPort": {
            "type": "integer"
          },
          "NumberOfNodes": {
            "type": "integer"
          },
          "WorkerType": {},
          "GlueVersion": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "AvailabilityZone": {},
          "VpcId": {},
          "ExtraPythonLibsS3Path": {},
          "ExtraJarsS3Path": {},
          "FailureReason": {},
          "SecurityConfiguration": {},
          "CreatedTimestamp": {
            "type": "timestamp"
          },
          "Arguments": {
            "shape": "S32"
          }
        }
      }
    },
    "CreateJob": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Role",
          "Command"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "LogUri": {},
          "Role": {},
          "ExecutionProperty": {
            "shape": "S3a"
          },
          "Command": {
            "shape": "S3c"
          },
          "DefaultArguments": {
            "shape": "S3f"
          },
          "NonOverridableArguments": {
            "shape": "S3f"
          },
          "Connections": {
            "shape": "S3g"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "AllocatedCapacity": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxCapacity": {
            "type": "double"
          },
          "SecurityConfiguration": {},
          "Tags": {
            "shape": "S66"
          },
          "NotificationProperty": {
            "shape": "S3k"
          },
          "GlueVersion": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "WorkerType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "CreateMLTransform": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "InputRecordTables",
          "Parameters",
          "Role"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "InputRecordTables": {
            "shape": "S6q"
          },
          "Parameters": {
            "shape": "S6s"
          },
          "Role": {},
          "GlueVersion": {},
          "MaxCapacity": {
            "type": "double"
          },
          "WorkerType": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "Tags": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {}
        }
      }
    },
    "CreatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionInput": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateScript": {
      "input": {
        "type": "structure",
        "members": {
          "DagNodes": {
            "shape": "S71"
          },
          "DagEdges": {
            "shape": "S79"
          },
          "Language": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PythonScript": {},
          "ScalaCode": {}
        }
      }
    },
    "CreateSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "EncryptionConfiguration"
        ],
        "members": {
          "Name": {},
          "EncryptionConfiguration": {
            "shape": "S7g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "CreatedTimestamp": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableInput": {
            "shape": "S7r"
          },
          "PartitionIndexes": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Keys",
                "IndexName"
              ],
              "members": {
                "Keys": {
                  "type": "list",
                  "member": {}
                },
                "IndexName": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Type",
          "Actions"
        ],
        "members": {
          "Name": {},
          "WorkflowName": {},
          "Type": {},
          "Schedule": {},
          "Predicate": {
            "shape": "S41"
          },
          "Actions": {
            "shape": "S3z"
          },
          "Description": {},
          "StartOnCreation": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "CreateUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionInput": {
            "shape": "S84"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "DefaultRunProperties": {
            "shape": "S4d"
          },
          "Tags": {
            "shape": "S66"
          },
          "MaxConcurrentRuns": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteClassifier": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteColumnStatisticsForPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues",
          "ColumnName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          },
          "ColumnName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteColumnStatisticsForTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "ColumnName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "ColumnName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionName"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobName": {}
        }
      }
    },
    "DeleteMLTransform": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {}
        }
      }
    },
    "DeletePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteResourcePolicy": {
      "input": {
        "type": "structure",
        "members": {
          "PolicyHashCondition": {},
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "VersionId"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "VersionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "GetCatalogImportStatus": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportStatus": {
            "type": "structure",
            "members": {
              "ImportCompleted": {
                "type": "boolean"
              },
              "ImportTime": {
                "type": "timestamp"
              },
              "ImportedBy": {}
            }
          }
        }
      }
    },
    "GetClassifier": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Classifier": {
            "shape": "S9g"
          }
        }
      }
    },
    "GetClassifiers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Classifiers": {
            "type": "list",
            "member": {
              "shape": "S9g"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetColumnStatisticsForPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues",
          "ColumnNames"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          },
          "ColumnNames": {
            "shape": "S9r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ColumnStatisticsList": {
            "shape": "S9t"
          },
          "Errors": {
            "shape": "Sab"
          }
        }
      }
    },
    "GetColumnStatisticsForTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "ColumnNames"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "ColumnNames": {
            "shape": "S9r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ColumnStatisticsList": {
            "shape": "S9t"
          },
          "Errors": {
            "shape": "Sab"
          }
        }
      }
    },
    "GetConnection": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {},
          "HidePassword": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "Sah"
          }
        }
      }
    },
    "GetConnections": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {},
          "Filter": {
            "type": "structure",
            "members": {
              "MatchCriteria": {
                "shape": "S5z"
              },
              "ConnectionType": {}
            }
          },
          "HidePassword": {
            "type": "boolean"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConnectionList": {
            "type": "list",
            "member": {
              "shape": "Sah"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawler": {
            "shape": "S1m"
          }
        }
      }
    },
    "GetCrawlerMetrics": {
      "input": {
        "type": "structure",
        "members": {
          "CrawlerNameList": {
            "shape": "S1j"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CrawlerMetricsList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CrawlerName": {},
                "TimeLeftSeconds": {
                  "type": "double"
                },
                "StillEstimating": {
                  "type": "boolean"
                },
                "LastRuntimeSeconds": {
                  "type": "double"
                },
                "MedianRuntimeSeconds": {
                  "type": "double"
                },
                "TablesCreated": {
                  "type": "integer"
                },
                "TablesUpdated": {
                  "type": "integer"
                },
                "TablesDeleted": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCrawlers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawlers": {
            "shape": "S1l"
          },
          "NextToken": {}
        }
      }
    },
    "GetDataCatalogEncryptionSettings": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataCatalogEncryptionSettings": {
            "shape": "Saw"
          }
        }
      }
    },
    "GetDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Database": {
            "shape": "Sb2"
          }
        }
      }
    },
    "GetDatabases": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "ResourceShareType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DatabaseList"
        ],
        "members": {
          "DatabaseList": {
            "type": "list",
            "member": {
              "shape": "Sb2"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetDataflowGraph": {
      "input": {
        "type": "structure",
        "members": {
          "PythonScript": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DagNodes": {
            "shape": "S71"
          },
          "DagEdges": {
            "shape": "S79"
          }
        }
      }
    },
    "GetDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoint": {
            "shape": "S2t"
          }
        }
      }
    },
    "GetDevEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoints": {
            "shape": "S2s"
          },
          "NextToken": {}
        }
      }
    },
    "GetJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "shape": "S37"
          }
        }
      }
    },
    "GetJobBookmark": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobBookmarkEntry": {
            "shape": "Sbj"
          }
        }
      }
    },
    "GetJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "RunId"
        ],
        "members": {
          "JobName": {},
          "RunId": {},
          "PredecessorsIncluded": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRun": {
            "shape": "S4p"
          }
        }
      }
    },
    "GetJobRuns": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRuns": {
            "shape": "S4o"
          },
          "NextToken": {}
        }
      }
    },
    "GetJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "shape": "S36"
          },
          "NextToken": {}
        }
      }
    },
    "GetMLTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId",
          "TaskRunId"
        ],
        "members": {
          "TransformId": {},
          "TaskRunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {},
          "TaskRunId": {},
          "Status": {},
          "LogGroupName": {},
          "Properties": {
            "shape": "Sbt"
          },
          "ErrorString": {},
          "StartedOn": {
            "type": "timestamp"
          },
          "LastModifiedOn": {
            "type": "timestamp"
          },
          "CompletedOn": {
            "type": "timestamp"
          },
          "ExecutionTime": {
            "type": "integer"
          }
        }
      }
    },
    "GetMLTaskRuns": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filter": {
            "type": "structure",
            "members": {
              "TaskRunType": {},
              "Status": {},
              "StartedBefore": {
                "type": "timestamp"
              },
              "StartedAfter": {
                "type": "timestamp"
              }
            }
          },
          "Sort": {
            "type": "structure",
            "required": [
              "Column",
              "SortDirection"
            ],
            "members": {
              "Column": {},
              "SortDirection": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TaskRuns": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TransformId": {},
                "TaskRunId": {},
                "Status": {},
                "LogGroupName": {},
                "Properties": {
                  "shape": "Sbt"
                },
                "ErrorString": {},
                "StartedOn": {
                  "type": "timestamp"
                },
                "LastModifiedOn": {
                  "type": "timestamp"
                },
                "CompletedOn": {
                  "type": "timestamp"
                },
                "ExecutionTime": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetMLTransform": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {},
          "Name": {},
          "Description": {},
          "Status": {},
          "CreatedOn": {
            "type": "timestamp"
          },
          "LastModifiedOn": {
            "type": "timestamp"
          },
          "InputRecordTables": {
            "shape": "S6q"
          },
          "Parameters": {
            "shape": "S6s"
          },
          "EvaluationMetrics": {
            "shape": "Scc"
          },
          "LabelCount": {
            "type": "integer"
          },
          "Schema": {
            "shape": "Sch"
          },
          "Role": {},
          "GlueVersion": {},
          "MaxCapacity": {
            "type": "double"
          },
          "WorkerType": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          }
        }
      }
    },
    "GetMLTransforms": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filter": {
            "shape": "Sck"
          },
          "Sort": {
            "shape": "Scl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Transforms"
        ],
        "members": {
          "Transforms": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TransformId": {},
                "Name": {},
                "Description": {},
                "Status": {},
                "CreatedOn": {
                  "type": "timestamp"
                },
                "LastModifiedOn": {
                  "type": "timestamp"
                },
                "InputRecordTables": {
                  "shape": "S6q"
                },
                "Parameters": {
                  "shape": "S6s"
                },
                "EvaluationMetrics": {
                  "shape": "Scc"
                },
                "LabelCount": {
                  "type": "integer"
                },
                "Schema": {
                  "shape": "Sch"
                },
                "Role": {},
                "GlueVersion": {},
                "MaxCapacity": {
                  "type": "double"
                },
                "WorkerType": {},
                "NumberOfWorkers": {
                  "type": "integer"
                },
                "Timeout": {
                  "type": "integer"
                },
                "MaxRetries": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetMapping": {
      "input": {
        "type": "structure",
        "required": [
          "Source"
        ],
        "members": {
          "Source": {
            "shape": "Scr"
          },
          "Sinks": {
            "shape": "Scs"
          },
          "Location": {
            "shape": "Sct"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Mapping"
        ],
        "members": {
          "Mapping": {
            "shape": "Scv"
          }
        }
      }
    },
    "GetPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partition": {
            "shape": "S3q"
          }
        }
      }
    },
    "GetPartitionIndexes": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PartitionIndexDescriptorList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "IndexName",
                "Keys",
                "IndexStatus"
              ],
              "members": {
                "IndexName": {},
                "Keys": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "Name",
                      "Type"
                    ],
                    "members": {
                      "Name": {},
                      "Type": {}
                    }
                  }
                },
                "IndexStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetPartitions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "Expression": {},
          "NextToken": {},
          "Segment": {
            "type": "structure",
            "required": [
              "SegmentNumber",
              "TotalSegments"
            ],
            "members": {
              "SegmentNumber": {
                "type": "integer"
              },
              "TotalSegments": {
                "type": "integer"
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partitions": {
            "shape": "S3p"
          },
          "NextToken": {}
        }
      }
    },
    "GetPlan": {
      "input": {
        "type": "structure",
        "required": [
          "Mapping",
          "Source"
        ],
        "members": {
          "Mapping": {
            "shape": "Scv"
          },
          "Source": {
            "shape": "Scr"
          },
          "Sinks": {
            "shape": "Scs"
          },
          "Location": {
            "shape": "Sct"
          },
          "Language": {},
          "AdditionalPlanOptionsMap": {
            "type": "map",
            "key": {},
            "value": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PythonScript": {},
          "ScalaCode": {}
        }
      }
    },
    "GetResourcePolicies": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GetResourcePoliciesResponseList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PolicyInJson": {},
                "PolicyHash": {},
                "CreateTime": {
                  "type": "timestamp"
                },
                "UpdateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetResourcePolicy": {
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyInJson": {},
          "PolicyHash": {},
          "CreateTime": {
            "type": "timestamp"
          },
          "UpdateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityConfiguration": {
            "shape": "Sdq"
          }
        }
      }
    },
    "GetSecurityConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityConfigurations": {
            "type": "list",
            "member": {
              "shape": "Sdq"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Table": {
            "shape": "Sdw"
          }
        }
      }
    },
    "GetTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "VersionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableVersion": {
            "shape": "Sdz"
          }
        }
      }
    },
    "GetTableVersions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableVersions": {
            "type": "list",
            "member": {
              "shape": "Sdz"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTables": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Expression": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableList": {
            "shape": "Se6"
          },
          "NextToken": {}
        }
      }
    },
    "GetTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S66"
          }
        }
      }
    },
    "GetTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trigger": {
            "shape": "S3v"
          }
        }
      }
    },
    "GetTriggers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DependentJobName": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Triggers": {
            "shape": "S3u"
          },
          "NextToken": {}
        }
      }
    },
    "GetUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserDefinedFunction": {
            "shape": "Sef"
          }
        }
      }
    },
    "GetUserDefinedFunctions": {
      "input": {
        "type": "structure",
        "required": [
          "Pattern"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Pattern": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserDefinedFunctions": {
            "type": "list",
            "member": {
              "shape": "Sef"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "IncludeGraph": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workflow": {
            "shape": "S4c"
          }
        }
      }
    },
    "GetWorkflowRun": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {},
          "RunId": {},
          "IncludeGraph": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Run": {
            "shape": "S4e"
          }
        }
      }
    },
    "GetWorkflowRunProperties": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RunProperties": {
            "shape": "S4d"
          }
        }
      }
    },
    "GetWorkflowRuns": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "IncludeGraph": {
            "type": "boolean"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Runs": {
            "type": "list",
            "member": {
              "shape": "S4e"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ImportCatalogToGlue": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListCrawlers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Tags": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CrawlerNames": {
            "shape": "S1j"
          },
          "NextToken": {}
        }
      }
    },
    "ListDevEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpointNames": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobNames": {
            "shape": "S34"
          },
          "NextToken": {}
        }
      }
    },
    "ListMLTransforms": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filter": {
            "shape": "Sck"
          },
          "Sort": {
            "shape": "Scl"
          },
          "Tags": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformIds"
        ],
        "members": {
          "TransformIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListTriggers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DependentJobName": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TriggerNames": {
            "shape": "S3s"
          },
          "NextToken": {}
        }
      }
    },
    "ListWorkflows": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workflows": {
            "shape": "S49"
          },
          "NextToken": {}
        }
      }
    },
    "PutDataCatalogEncryptionSettings": {
      "input": {
        "type": "structure",
        "required": [
          "DataCatalogEncryptionSettings"
        ],
        "members": {
          "CatalogId": {},
          "DataCatalogEncryptionSettings": {
            "shape": "Saw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutResourcePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyInJson"
        ],
        "members": {
          "PolicyInJson": {},
          "ResourceArn": {},
          "PolicyHashCondition": {},
          "PolicyExistsCondition": {},
          "EnableHybrid": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyHash": {}
        }
      }
    },
    "PutWorkflowRunProperties": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId",
          "RunProperties"
        ],
        "members": {
          "Name": {},
          "RunId": {},
          "RunProperties": {
            "shape": "S4d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ResetJobBookmark": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobBookmarkEntry": {
            "shape": "Sbj"
          }
        }
      }
    },
    "ResumeWorkflowRun": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId",
          "NodeIds"
        ],
        "members": {
          "Name": {},
          "RunId": {},
          "NodeIds": {
            "shape": "Sfj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RunId": {},
          "NodeIds": {
            "shape": "Sfj"
          }
        }
      }
    },
    "SearchTables": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {},
          "NextToken": {},
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Key": {},
                "Value": {},
                "Comparator": {}
              }
            }
          },
          "SearchText": {},
          "SortCriteria": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FieldName": {},
                "Sort": {}
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "ResourceShareType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "TableList": {
            "shape": "Se6"
          }
        }
      }
    },
    "StartCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartExportLabelsTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId",
          "OutputS3Path"
        ],
        "members": {
          "TransformId": {},
          "OutputS3Path": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TaskRunId": {}
        }
      }
    },
    "StartImportLabelsTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId",
          "InputS3Path"
        ],
        "members": {
          "TransformId": {},
          "InputS3Path": {},
          "ReplaceAllLabels": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TaskRunId": {}
        }
      }
    },
    "StartJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "JobRunId": {},
          "Arguments": {
            "shape": "S3f"
          },
          "AllocatedCapacity": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxCapacity": {
            "type": "double"
          },
          "SecurityConfiguration": {},
          "NotificationProperty": {
            "shape": "S3k"
          },
          "WorkerType": {},
          "NumberOfWorkers": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRunId": {}
        }
      }
    },
    "StartMLEvaluationTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TaskRunId": {}
        }
      }
    },
    "StartMLLabelingSetGenerationTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId",
          "OutputS3Path"
        ],
        "members": {
          "TransformId": {},
          "OutputS3Path": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TaskRunId": {}
        }
      }
    },
    "StartTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "StartWorkflowRun": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RunId": {}
        }
      }
    },
    "StopCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "StopWorkflowRun": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagsToAdd"
        ],
        "members": {
          "ResourceArn": {},
          "TagsToAdd": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagsToRemove"
        ],
        "members": {
          "ResourceArn": {},
          "TagsToRemove": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateClassifier": {
      "input": {
        "type": "structure",
        "members": {
          "GrokClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Classification": {},
              "GrokPattern": {},
              "CustomPatterns": {}
            }
          },
          "XMLClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Classification": {},
              "RowTag": {}
            }
          },
          "JsonClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "JsonPath": {}
            }
          },
          "CsvClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Delimiter": {},
              "QuoteSymbol": {},
              "ContainsHeader": {},
              "Header": {
                "shape": "S5u"
              },
              "DisableValueTrimming": {
                "type": "boolean"
              },
              "AllowSingleColumn": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateColumnStatisticsForPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues",
          "ColumnStatisticsList"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          },
          "ColumnStatisticsList": {
            "shape": "Sgv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "Sgx"
          }
        }
      }
    },
    "UpdateColumnStatisticsForTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "ColumnStatisticsList"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "ColumnStatisticsList": {
            "shape": "Sgv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "Sgx"
          }
        }
      }
    },
    "UpdateConnection": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ConnectionInput"
        ],
        "members": {
          "CatalogId": {},
          "Name": {},
          "ConnectionInput": {
            "shape": "S5x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Role": {},
          "DatabaseName": {},
          "Description": {},
          "Targets": {
            "shape": "S1o"
          },
          "Schedule": {},
          "Classifiers": {
            "shape": "S26"
          },
          "TablePrefix": {},
          "SchemaChangePolicy": {
            "shape": "S27"
          },
          "Configuration": {},
          "CrawlerSecurityConfiguration": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {},
          "Schedule": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "DatabaseInput"
        ],
        "members": {
          "CatalogId": {},
          "Name": {},
          "DatabaseInput": {
            "shape": "S6b"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {},
          "PublicKey": {},
          "AddPublicKeys": {
            "shape": "S31"
          },
          "DeletePublicKeys": {
            "shape": "S31"
          },
          "CustomLibraries": {
            "type": "structure",
            "members": {
              "ExtraPythonLibsS3Path": {},
              "ExtraJarsS3Path": {}
            }
          },
          "UpdateEtlLibraries": {
            "type": "boolean"
          },
          "DeleteArguments": {
            "shape": "S2v"
          },
          "AddArguments": {
            "shape": "S32"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobUpdate"
        ],
        "members": {
          "JobName": {},
          "JobUpdate": {
            "type": "structure",
            "members": {
              "Description": {},
              "LogUri": {},
              "Role": {},
              "ExecutionProperty": {
                "shape": "S3a"
              },
              "Command": {
                "shape": "S3c"
              },
              "DefaultArguments": {
                "shape": "S3f"
              },
              "NonOverridableArguments": {
                "shape": "S3f"
              },
              "Connections": {
                "shape": "S3g"
              },
              "MaxRetries": {
                "type": "integer"
              },
              "AllocatedCapacity": {
                "deprecated": true,
                "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
                "type": "integer"
              },
              "Timeout": {
                "type": "integer"
              },
              "MaxCapacity": {
                "type": "double"
              },
              "WorkerType": {},
              "NumberOfWorkers": {
                "type": "integer"
              },
              "SecurityConfiguration": {},
              "NotificationProperty": {
                "shape": "S3k"
              },
              "GlueVersion": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobName": {}
        }
      }
    },
    "UpdateMLTransform": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {},
          "Name": {},
          "Description": {},
          "Parameters": {
            "shape": "S6s"
          },
          "Role": {},
          "GlueVersion": {},
          "MaxCapacity": {
            "type": "double"
          },
          "WorkerType": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {}
        }
      }
    },
    "UpdatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValueList",
          "PartitionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValueList": {
            "shape": "S59"
          },
          "PartitionInput": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableInput": {
            "shape": "S7r"
          },
          "SkipArchive": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "TriggerUpdate"
        ],
        "members": {
          "Name": {},
          "TriggerUpdate": {
            "type": "structure",
            "members": {
              "Name": {},
              "Description": {},
              "Schedule": {},
              "Actions": {
                "shape": "S3z"
              },
              "Predicate": {
                "shape": "S41"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trigger": {
            "shape": "S3v"
          }
        }
      }
    },
    "UpdateUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName",
          "FunctionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {},
          "FunctionInput": {
            "shape": "S84"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "DefaultRunProperties": {
            "shape": "S4d"
          },
          "MaxConcurrentRuns": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "structure",
      "members": {
        "Values": {
          "shape": "S6"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "Parameters": {
          "shape": "Se"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        }
      }
    },
    "S6": {
      "type": "list",
      "member": {}
    },
    "S9": {
      "type": "structure",
      "members": {
        "Columns": {
          "shape": "Sa"
        },
        "Location": {},
        "InputFormat": {},
        "OutputFormat": {},
        "Compressed": {
          "type": "boolean"
        },
        "NumberOfBuckets": {
          "type": "integer"
        },
        "SerdeInfo": {
          "type": "structure",
          "members": {
            "Name": {},
            "SerializationLibrary": {},
            "Parameters": {
              "shape": "Se"
            }
          }
        },
        "BucketColumns": {
          "shape": "Sm"
        },
        "SortColumns": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Column",
              "SortOrder"
            ],
            "members": {
              "Column": {},
              "SortOrder": {
                "type": "integer"
              }
            }
          }
        },
        "Parameters": {
          "shape": "Se"
        },
        "SkewedInfo": {
          "type": "structure",
          "members": {
            "SkewedColumnNames": {
              "shape": "Sm"
            },
            "SkewedColumnValues": {
              "type": "list",
              "member": {}
            },
            "SkewedColumnValueLocationMaps": {
              "type": "map",
              "key": {},
              "value": {}
            }
          }
        },
        "StoredAsSubDirectories": {
          "type": "boolean"
        }
      }
    },
    "Sa": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Type": {},
          "Comment": {},
          "Parameters": {
            "shape": "Se"
          }
        }
      }
    },
    "Se": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sm": {
      "type": "list",
      "member": {}
    },
    "Sv": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PartitionValues": {
            "shape": "S6"
          },
          "ErrorDetail": {
            "shape": "Sx"
          }
        }
      }
    },
    "Sx": {
      "type": "structure",
      "members": {
        "ErrorCode": {},
        "ErrorMessage": {}
      }
    },
    "S15": {
      "type": "structure",
      "required": [
        "Values"
      ],
      "members": {
        "Values": {
          "shape": "S6"
        }
      }
    },
    "S1j": {
      "type": "list",
      "member": {}
    },
    "S1l": {
      "type": "list",
      "member": {
        "shape": "S1m"
      }
    },
    "S1m": {
      "type": "structure",
      "members": {
        "Name": {},
        "Role": {},
        "Targets": {
          "shape": "S1o"
        },
        "DatabaseName": {},
        "Description": {},
        "Classifiers": {
          "shape": "S26"
        },
        "SchemaChangePolicy": {
          "shape": "S27"
        },
        "State": {},
        "TablePrefix": {},
        "Schedule": {
          "type": "structure",
          "members": {
            "ScheduleExpression": {},
            "State": {}
          }
        },
        "CrawlElapsedTime": {
          "type": "long"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "LastUpdated": {
          "type": "timestamp"
        },
        "LastCrawl": {
          "type": "structure",
          "members": {
            "Status": {},
            "ErrorMessage": {},
            "LogGroup": {},
            "LogStream": {},
            "MessagePrefix": {},
            "StartTime": {
              "type": "timestamp"
            }
          }
        },
        "Version": {
          "type": "long"
        },
        "Configuration": {},
        "CrawlerSecurityConfiguration": {}
      }
    },
    "S1o": {
      "type": "structure",
      "members": {
        "S3Targets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Path": {},
              "Exclusions": {
                "shape": "S1s"
              },
              "ConnectionName": {}
            }
          }
        },
        "JdbcTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ConnectionName": {},
              "Path": {},
              "Exclusions": {
                "shape": "S1s"
              }
            }
          }
        },
        "MongoDBTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ConnectionName": {},
              "Path": {},
              "ScanAll": {
                "type": "boolean"
              }
            }
          }
        },
        "DynamoDBTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Path": {},
              "scanAll": {
                "type": "boolean"
              },
              "scanRate": {
                "type": "double"
              }
            }
          }
        },
        "CatalogTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "DatabaseName",
              "Tables"
            ],
            "members": {
              "DatabaseName": {},
              "Tables": {
                "type": "list",
                "member": {}
              }
            }
          }
        }
      }
    },
    "S1s": {
      "type": "list",
      "member": {}
    },
    "S26": {
      "type": "list",
      "member": {}
    },
    "S27": {
      "type": "structure",
      "members": {
        "UpdateBehavior": {},
        "DeleteBehavior": {}
      }
    },
    "S2p": {
      "type": "list",
      "member": {}
    },
    "S2s": {
      "type": "list",
      "member": {
        "shape": "S2t"
      }
    },
    "S2t": {
      "type": "structure",
      "members": {
        "EndpointName": {},
        "RoleArn": {},
        "SecurityGroupIds": {
          "shape": "S2v"
        },
        "SubnetId": {},
        "YarnEndpointAddress": {},
        "PrivateAddress": {},
        "ZeppelinRemoteSparkInterpreterPort": {
          "type": "integer"
        },
        "PublicAddress": {},
        "Status": {},
        "WorkerType": {},
        "GlueVersion": {},
        "NumberOfWorkers": {
          "type": "integer"
        },
        "NumberOfNodes": {
          "type": "integer"
        },
        "AvailabilityZone": {},
        "VpcId": {},
        "ExtraPythonLibsS3Path": {},
        "ExtraJarsS3Path": {},
        "FailureReason": {},
        "LastUpdateStatus": {},
        "CreatedTimestamp": {
          "type": "timestamp"
        },
        "LastModifiedTimestamp": {
          "type": "timestamp"
        },
        "PublicKey": {},
        "PublicKeys": {
          "shape": "S31"
        },
        "SecurityConfiguration": {},
        "Arguments": {
          "shape": "S32"
        }
      }
    },
    "S2v": {
      "type": "list",
      "member": {}
    },
    "S31": {
      "type": "list",
      "member": {}
    },
    "S32": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S34": {
      "type": "list",
      "member": {}
    },
    "S36": {
      "type": "list",
      "member": {
        "shape": "S37"
      }
    },
    "S37": {
      "type": "structure",
      "members": {
        "Name": {},
        "Description": {},
        "LogUri": {},
        "Role": {},
        "CreatedOn": {
          "type": "timestamp"
        },
        "LastModifiedOn": {
          "type": "timestamp"
        },
        "ExecutionProperty": {
          "shape": "S3a"
        },
        "Command": {
          "shape": "S3c"
        },
        "DefaultArguments": {
          "shape": "S3f"
        },
        "NonOverridableArguments": {
          "shape": "S3f"
        },
        "Connections": {
          "shape": "S3g"
        },
        "MaxRetries": {
          "type": "integer"
        },
        "AllocatedCapacity": {
          "deprecated": true,
          "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
          "type": "integer"
        },
        "Timeout": {
          "type": "integer"
        },
        "MaxCapacity": {
          "type": "double"
        },
        "WorkerType": {},
        "NumberOfWorkers": {
          "type": "integer"
        },
        "SecurityConfiguration": {},
        "NotificationProperty": {
          "shape": "S3k"
        },
        "GlueVersion": {}
      }
    },
    "S3a": {
      "type": "structure",
      "members": {
        "MaxConcurrentRuns": {
          "type": "integer"
        }
      }
    },
    "S3c": {
      "type": "structure",
      "members": {
        "Name": {},
        "ScriptLocation": {},
        "PythonVersion": {}
      }
    },
    "S3f": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S3g": {
      "type": "structure",
      "members": {
        "Connections": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S3k": {
      "type": "structure",
      "members": {
        "NotifyDelayAfter": {
          "type": "integer"
        }
      }
    },
    "S3n": {
      "type": "list",
      "member": {
        "shape": "S15"
      }
    },
    "S3p": {
      "type": "list",
      "member": {
        "shape": "S3q"
      }
    },
    "S3q": {
      "type": "structure",
      "members": {
        "Values": {
          "shape": "S6"
        },
        "DatabaseName": {},
        "TableName": {},
        "CreationTime": {
          "type": "timestamp"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "Parameters": {
          "shape": "Se"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        },
        "CatalogId": {}
      }
    },
    "S3s": {
      "type": "list",
      "member": {}
    },
    "S3u": {
      "type": "list",
      "member": {
        "shape": "S3v"
      }
    },
    "S3v": {
      "type": "structure",
      "members": {
        "Name": {},
        "WorkflowName": {},
        "Id": {},
        "Type": {},
        "State": {},
        "Description": {},
        "Schedule": {},
        "Actions": {
          "shape": "S3z"
        },
        "Predicate": {
          "shape": "S41"
        }
      }
    },
    "S3z": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "JobName": {},
          "Arguments": {
            "shape": "S3f"
          },
          "Timeout": {
            "type": "integer"
          },
          "SecurityConfiguration": {},
          "NotificationProperty": {
            "shape": "S3k"
          },
          "CrawlerName": {}
        }
      }
    },
    "S41": {
      "type": "structure",
      "members": {
        "Logical": {},
        "Conditions": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "LogicalOperator": {},
              "JobName": {},
              "State": {},
              "CrawlerName": {},
              "CrawlState": {}
            }
          }
        }
      }
    },
    "S49": {
      "type": "list",
      "member": {}
    },
    "S4c": {
      "type": "structure",
      "members": {
        "Name": {},
        "Description": {},
        "DefaultRunProperties": {
          "shape": "S4d"
        },
        "CreatedOn": {
          "type": "timestamp"
        },
        "LastModifiedOn": {
          "type": "timestamp"
        },
        "LastRun": {
          "shape": "S4e"
        },
        "Graph": {
          "shape": "S4i"
        },
        "MaxConcurrentRuns": {
          "type": "integer"
        }
      }
    },
    "S4d": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S4e": {
      "type": "structure",
      "members": {
        "Name": {},
        "WorkflowRunId": {},
        "PreviousRunId": {},
        "WorkflowRunProperties": {
          "shape": "S4d"
        },
        "StartedOn": {
          "type": "timestamp"
        },
        "CompletedOn": {
          "type": "timestamp"
        },
        "Status": {},
        "ErrorMessage": {},
        "Statistics": {
          "type": "structure",
          "members": {
            "TotalActions": {
              "type": "integer"
            },
            "TimeoutActions": {
              "type": "integer"
            },
            "FailedActions": {
              "type": "integer"
            },
            "StoppedActions": {
              "type": "integer"
            },
            "SucceededActions": {
              "type": "integer"
            },
            "RunningActions": {
              "type": "integer"
            }
          }
        },
        "Graph": {
          "shape": "S4i"
        }
      }
    },
    "S4i": {
      "type": "structure",
      "members": {
        "Nodes": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Type": {},
              "Name": {},
              "UniqueId": {},
              "TriggerDetails": {
                "type": "structure",
                "members": {
                  "Trigger": {
                    "shape": "S3v"
                  }
                }
              },
              "JobDetails": {
                "type": "structure",
                "members": {
                  "JobRuns": {
                    "shape": "S4o"
                  }
                }
              },
              "CrawlerDetails": {
                "type": "structure",
                "members": {
                  "Crawls": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "State": {},
                        "StartedOn": {
                          "type": "timestamp"
                        },
                        "CompletedOn": {
                          "type": "timestamp"
                        },
                        "ErrorMessage": {},
                        "LogGroup": {},
                        "LogStream": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Edges": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "SourceId": {},
              "DestinationId": {}
            }
          }
        }
      }
    },
    "S4o": {
      "type": "list",
      "member": {
        "shape": "S4p"
      }
    },
    "S4p": {
      "type": "structure",
      "members": {
        "Id": {},
        "Attempt": {
          "type": "integer"
        },
        "PreviousRunId": {},
        "TriggerName": {},
        "JobName": {},
        "StartedOn": {
          "type": "timestamp"
        },
        "LastModifiedOn": {
          "type": "timestamp"
        },
        "CompletedOn": {
          "type": "timestamp"
        },
        "JobRunState": {},
        "Arguments": {
          "shape": "S3f"
        },
        "ErrorMessage": {},
        "PredecessorRuns": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "JobName": {},
              "RunId": {}
            }
          }
        },
        "AllocatedCapacity": {
          "deprecated": true,
          "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
          "type": "integer"
        },
        "ExecutionTime": {
          "type": "integer"
        },
        "Timeout": {
          "type": "integer"
        },
        "MaxCapacity": {
          "type": "double"
        },
        "WorkerType": {},
        "NumberOfWorkers": {
          "type": "integer"
        },
        "SecurityConfiguration": {},
        "LogGroupName": {},
        "NotificationProperty": {
          "shape": "S3k"
        },
        "GlueVersion": {}
      }
    },
    "S59": {
      "type": "list",
      "member": {}
    },
    "S5u": {
      "type": "list",
      "member": {}
    },
    "S5x": {
      "type": "structure",
      "required": [
        "Name",
        "ConnectionType",
        "ConnectionProperties"
      ],
      "members": {
        "Name": {},
        "Description": {},
        "ConnectionType": {},
        "MatchCriteria": {
          "shape": "S5z"
        },
        "ConnectionProperties": {
          "shape": "S60"
        },
        "PhysicalConnectionRequirements": {
          "shape": "S62"
        }
      }
    },
    "S5z": {
      "type": "list",
      "member": {}
    },
    "S60": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S62": {
      "type": "structure",
      "members": {
        "SubnetId": {},
        "SecurityGroupIdList": {
          "type": "list",
          "member": {}
        },
        "AvailabilityZone": {}
      }
    },
    "S66": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S6b": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "Description": {},
        "LocationUri": {},
        "Parameters": {
          "shape": "Se"
        },
        "CreateTableDefaultPermissions": {
          "shape": "S6d"
        },
        "TargetDatabase": {
          "shape": "S6j"
        }
      }
    },
    "S6d": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Principal": {
            "type": "structure",
            "members": {
              "DataLakePrincipalIdentifier": {}
            }
          },
          "Permissions": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "S6j": {
      "type": "structure",
      "members": {
        "CatalogId": {},
        "DatabaseName": {}
      }
    },
    "S6q": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "DatabaseName": {},
          "TableName": {},
          "CatalogId": {},
          "ConnectionName": {}
        }
      }
    },
    "S6s": {
      "type": "structure",
      "required": [
        "TransformType"
      ],
      "members": {
        "TransformType": {},
        "FindMatchesParameters": {
          "type": "structure",
          "members": {
            "PrimaryKeyColumnName": {},
            "PrecisionRecallTradeoff": {
              "type": "double"
            },
            "AccuracyCostTradeoff": {
              "type": "double"
            },
            "EnforceProvidedLabels": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "S71": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Id",
          "NodeType",
          "Args"
        ],
        "members": {
          "Id": {},
          "NodeType": {},
          "Args": {
            "shape": "S75"
          },
          "LineNumber": {
            "type": "integer"
          }
        }
      }
    },
    "S75": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Value"
        ],
        "members": {
          "Name": {},
          "Value": {},
          "Param": {
            "type": "boolean"
          }
        }
      }
    },
    "S79": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Source",
          "Target"
        ],
        "members": {
          "Source": {},
          "Target": {},
          "TargetParameter": {}
        }
      }
    },
    "S7g": {
      "type": "structure",
      "members": {
        "S3Encryption": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "S3EncryptionMode": {},
              "KmsKeyArn": {}
            }
          }
        },
        "CloudWatchEncryption": {
          "type": "structure",
          "members": {
            "CloudWatchEncryptionMode": {},
            "KmsKeyArn": {}
          }
        },
        "JobBookmarksEncryption": {
          "type": "structure",
          "members": {
            "JobBookmarksEncryptionMode": {},
            "KmsKeyArn": {}
          }
        }
      }
    },
    "S7r": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "Description": {},
        "Owner": {},
        "LastAccessTime": {
          "type": "timestamp"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        },
        "Retention": {
          "type": "integer"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "PartitionKeys": {
          "shape": "Sa"
        },
        "ViewOriginalText": {},
        "ViewExpandedText": {},
        "TableType": {},
        "Parameters": {
          "shape": "Se"
        },
        "TargetTable": {
          "shape": "S7v"
        }
      }
    },
    "S7v": {
      "type": "structure",
      "members": {
        "CatalogId": {},
        "DatabaseName": {},
        "Name": {}
      }
    },
    "S84": {
      "type": "structure",
      "members": {
        "FunctionName": {},
        "ClassName": {},
        "OwnerName": {},
        "OwnerType": {},
        "ResourceUris": {
          "shape": "S86"
        }
      }
    },
    "S86": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ResourceType": {},
          "Uri": {}
        }
      }
    },
    "S9g": {
      "type": "structure",
      "members": {
        "GrokClassifier": {
          "type": "structure",
          "required": [
            "Name",
            "Classification",
            "GrokPattern"
          ],
          "members": {
            "Name": {},
            "Classification": {},
            "CreationTime": {
              "type": "timestamp"
            },
            "LastUpdated": {
              "type": "timestamp"
            },
            "Version": {
              "type": "long"
            },
            "GrokPattern": {},
            "CustomPatterns": {}
[...]
