{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-03-31",
    "endpointPrefix": "glue",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Glue",
    "serviceId": "Glue",
    "signatureVersion": "v4",
    "targetPrefix": "AWSGlue",
    "uid": "glue-2017-03-31"
  },
  "operations": {
    "BatchCreatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionInputList"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionInputList": {
            "type": "list",
            "member": {
              "shape": "S5"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "Sv"
          }
        }
      }
    },
    "BatchDeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionNameList"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionNameList": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Succeeded": {
            "shape": "Sm"
          },
          "Errors": {
            "type": "map",
            "key": {},
            "value": {
              "shape": "Sx"
            }
          }
        }
      }
    },
    "BatchDeletePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionsToDelete"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionsToDelete": {
            "type": "list",
            "member": {
              "shape": "S15"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "Sv"
          }
        }
      }
    },
    "BatchDeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TablesToDelete"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TablesToDelete": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TableName": {},
                "ErrorDetail": {
                  "shape": "Sx"
                }
              }
            }
          }
        }
      }
    },
    "BatchDeleteTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "VersionIds"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "VersionIds": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TableName": {},
                "VersionId": {},
                "ErrorDetail": {
                  "shape": "Sx"
                }
              }
            }
          }
        }
      }
    },
    "BatchGetCrawlers": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerNames"
        ],
        "members": {
          "CrawlerNames": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawlers": {
            "shape": "S1l"
          },
          "CrawlersNotFound": {
            "shape": "S1j"
          }
        }
      }
    },
    "BatchGetDevEndpoints": {
      "input": {
        "type": "structure",
        "required": [
          "DevEndpointNames"
        ],
        "members": {
          "DevEndpointNames": {
            "shape": "S2l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoints": {
            "shape": "S2o"
          },
          "DevEndpointsNotFound": {
            "shape": "S2l"
          }
        }
      }
    },
    "BatchGetJobs": {
      "input": {
        "type": "structure",
        "required": [
          "JobNames"
        ],
        "members": {
          "JobNames": {
            "shape": "S2x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "shape": "S2z"
          },
          "JobsNotFound": {
            "shape": "S2x"
          }
        }
      }
    },
    "BatchGetPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionsToGet"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionsToGet": {
            "shape": "S3j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partitions": {
            "shape": "S3l"
          },
          "UnprocessedKeys": {
            "shape": "S3j"
          }
        }
      }
    },
    "BatchGetTriggers": {
      "input": {
        "type": "structure",
        "required": [
          "TriggerNames"
        ],
        "members": {
          "TriggerNames": {
            "shape": "S3o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Triggers": {
            "shape": "S3q"
          },
          "TriggersNotFound": {
            "shape": "S3o"
          }
        }
      }
    },
    "BatchGetWorkflows": {
      "input": {
        "type": "structure",
        "required": [
          "Names"
        ],
        "members": {
          "Names": {
            "shape": "S45"
          },
          "IncludeGraph": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workflows": {
            "type": "list",
            "member": {
              "shape": "S49"
            }
          },
          "MissingWorkflows": {
            "shape": "S45"
          }
        }
      }
    },
    "BatchStopJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobRunIds"
        ],
        "members": {
          "JobName": {},
          "JobRunIds": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SuccessfulSubmissions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "JobName": {},
                "JobRunId": {}
              }
            }
          },
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "JobName": {},
                "JobRunId": {},
                "ErrorDetail": {
                  "shape": "Sx"
                }
              }
            }
          }
        }
      }
    },
    "CreateClassifier": {
      "input": {
        "type": "structure",
        "members": {
          "GrokClassifier": {
            "type": "structure",
            "required": [
              "Classification",
              "Name",
              "GrokPattern"
            ],
            "members": {
              "Classification": {},
              "Name": {},
              "GrokPattern": {},
              "CustomPatterns": {}
            }
          },
          "XMLClassifier": {
            "type": "structure",
            "required": [
              "Classification",
              "Name"
            ],
            "members": {
              "Classification": {},
              "Name": {},
              "RowTag": {}
            }
          },
          "JsonClassifier": {
            "type": "structure",
            "required": [
              "Name",
              "JsonPath"
            ],
            "members": {
              "Name": {},
              "JsonPath": {}
            }
          },
          "CsvClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Delimiter": {},
              "QuoteSymbol": {},
              "ContainsHeader": {},
              "Header": {
                "shape": "S5g"
              },
              "DisableValueTrimming": {
                "type": "boolean"
              },
              "AllowSingleColumn": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionInput"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionInput": {
            "shape": "S5j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Role",
          "Targets"
        ],
        "members": {
          "Name": {},
          "Role": {},
          "DatabaseName": {},
          "Description": {},
          "Targets": {
            "shape": "S1o"
          },
          "Schedule": {},
          "Classifiers": {
            "shape": "S22"
          },
          "TablePrefix": {},
          "SchemaChangePolicy": {
            "shape": "S23"
          },
          "Configuration": {},
          "CrawlerSecurityConfiguration": {},
          "Tags": {
            "shape": "S5s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseInput": {
            "shape": "S5x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "RoleArn"
        ],
        "members": {
          "EndpointName": {},
          "RoleArn": {},
          "SecurityGroupIds": {
            "shape": "S2r"
          },
          "SubnetId": {},
          "PublicKey": {},
          "PublicKeys": {
            "shape": "S2u"
          },
          "NumberOfNodes": {
            "type": "integer"
          },
          "ExtraPythonLibsS3Path": {},
          "ExtraJarsS3Path": {},
          "SecurityConfiguration": {},
          "Tags": {
            "shape": "S5s"
          },
          "Arguments": {
            "shape": "S2v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EndpointName": {},
          "Status": {},
          "SecurityGroupIds": {
            "shape": "S2r"
          },
          "SubnetId": {},
          "RoleArn": {},
          "YarnEndpointAddress": {},
          "ZeppelinRemoteSparkInterpreterPort": {
            "type": "integer"
          },
          "NumberOfNodes": {
            "type": "integer"
          },
          "AvailabilityZone": {},
          "VpcId": {},
          "ExtraPythonLibsS3Path": {},
          "ExtraJarsS3Path": {},
          "FailureReason": {},
          "SecurityConfiguration": {},
          "CreatedTimestamp": {
            "type": "timestamp"
          },
          "Arguments": {
            "shape": "S2v"
          }
        }
      }
    },
    "CreateJob": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Role",
          "Command"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "LogUri": {},
          "Role": {},
          "ExecutionProperty": {
            "shape": "S33"
          },
          "Command": {
            "shape": "S35"
          },
          "DefaultArguments": {
            "shape": "S38"
          },
          "Connections": {
            "shape": "S39"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "AllocatedCapacity": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxCapacity": {
            "type": "double"
          },
          "SecurityConfiguration": {},
          "Tags": {
            "shape": "S5s"
          },
          "NotificationProperty": {
            "shape": "S3g"
          },
          "NumberOfWorkers": {
            "type": "integer"
          },
          "WorkerType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "CreatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionInput": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateScript": {
      "input": {
        "type": "structure",
        "members": {
          "DagNodes": {
            "shape": "S67"
          },
          "DagEdges": {
            "shape": "S6f"
          },
          "Language": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PythonScript": {},
          "ScalaCode": {}
        }
      }
    },
    "CreateSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "EncryptionConfiguration"
        ],
        "members": {
          "Name": {},
          "EncryptionConfiguration": {
            "shape": "S6m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "CreatedTimestamp": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableInput": {
            "shape": "S6x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Type",
          "Actions"
        ],
        "members": {
          "Name": {},
          "WorkflowName": {},
          "Type": {},
          "Schedule": {},
          "Predicate": {
            "shape": "S3x"
          },
          "Actions": {
            "shape": "S3v"
          },
          "Description": {},
          "StartOnCreation": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S5s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "CreateUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionInput": {
            "shape": "S76"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "DefaultRunProperties": {
            "shape": "S4a"
          },
          "Tags": {
            "shape": "S5s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteClassifier": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionName"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobName": {}
        }
      }
    },
    "DeletePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteResourcePolicy": {
      "input": {
        "type": "structure",
        "members": {
          "PolicyHashCondition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "VersionId"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "VersionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "GetCatalogImportStatus": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportStatus": {
            "type": "structure",
            "members": {
              "ImportCompleted": {
                "type": "boolean"
              },
              "ImportTime": {
                "type": "timestamp"
              },
              "ImportedBy": {}
            }
          }
        }
      }
    },
    "GetClassifier": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Classifier": {
            "shape": "S8c"
          }
        }
      }
    },
    "GetClassifiers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Classifiers": {
            "type": "list",
            "member": {
              "shape": "S8c"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetConnection": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {},
          "HidePassword": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "S8o"
          }
        }
      }
    },
    "GetConnections": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {},
          "Filter": {
            "type": "structure",
            "members": {
              "MatchCriteria": {
                "shape": "S5l"
              },
              "ConnectionType": {}
            }
          },
          "HidePassword": {
            "type": "boolean"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConnectionList": {
            "type": "list",
            "member": {
              "shape": "S8o"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawler": {
            "shape": "S1m"
          }
        }
      }
    },
    "GetCrawlerMetrics": {
      "input": {
        "type": "structure",
        "members": {
          "CrawlerNameList": {
            "shape": "S1j"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CrawlerMetricsList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CrawlerName": {},
                "TimeLeftSeconds": {
                  "type": "double"
                },
                "StillEstimating": {
                  "type": "boolean"
                },
                "LastRuntimeSeconds": {
                  "type": "double"
                },
                "MedianRuntimeSeconds": {
                  "type": "double"
                },
                "TablesCreated": {
                  "type": "integer"
                },
                "TablesUpdated": {
                  "type": "integer"
                },
                "TablesDeleted": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCrawlers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawlers": {
            "shape": "S1l"
          },
          "NextToken": {}
        }
      }
    },
    "GetDataCatalogEncryptionSettings": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataCatalogEncryptionSettings": {
            "shape": "S94"
          }
        }
      }
    },
    "GetDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Database": {
            "shape": "S9a"
          }
        }
      }
    },
    "GetDatabases": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DatabaseList"
        ],
        "members": {
          "DatabaseList": {
            "type": "list",
            "member": {
              "shape": "S9a"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetDataflowGraph": {
      "input": {
        "type": "structure",
        "members": {
          "PythonScript": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DagNodes": {
            "shape": "S67"
          },
          "DagEdges": {
            "shape": "S6f"
          }
        }
      }
    },
    "GetDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoint": {
            "shape": "S2p"
          }
        }
      }
    },
    "GetDevEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoints": {
            "shape": "S2o"
          },
          "NextToken": {}
        }
      }
    },
    "GetJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "shape": "S30"
          }
        }
      }
    },
    "GetJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "RunId"
        ],
        "members": {
          "JobName": {},
          "RunId": {},
          "PredecessorsIncluded": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRun": {
            "shape": "S4l"
          }
        }
      }
    },
    "GetJobRuns": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRuns": {
            "shape": "S4k"
          },
          "NextToken": {}
        }
      }
    },
    "GetJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "shape": "S2z"
          },
          "NextToken": {}
        }
      }
    },
    "GetMapping": {
      "input": {
        "type": "structure",
        "required": [
          "Source"
        ],
        "members": {
          "Source": {
            "shape": "S9t"
          },
          "Sinks": {
            "shape": "S9u"
          },
          "Location": {
            "shape": "S9v"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Mapping"
        ],
        "members": {
          "Mapping": {
            "shape": "S9x"
          }
        }
      }
    },
    "GetPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partition": {
            "shape": "S3m"
          }
        }
      }
    },
    "GetPartitions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "Expression": {},
          "NextToken": {},
          "Segment": {
            "type": "structure",
            "required": [
              "SegmentNumber",
              "TotalSegments"
            ],
            "members": {
              "SegmentNumber": {
                "type": "integer"
              },
              "TotalSegments": {
                "type": "integer"
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partitions": {
            "shape": "S3l"
          },
          "NextToken": {}
        }
      }
    },
    "GetPlan": {
      "input": {
        "type": "structure",
        "required": [
          "Mapping",
          "Source"
        ],
        "members": {
          "Mapping": {
            "shape": "S9x"
          },
          "Source": {
            "shape": "S9t"
          },
          "Sinks": {
            "shape": "S9u"
          },
          "Location": {
            "shape": "S9v"
          },
          "Language": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PythonScript": {},
          "ScalaCode": {}
        }
      }
    },
    "GetResourcePolicy": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyInJson": {},
          "PolicyHash": {},
          "CreateTime": {
            "type": "timestamp"
          },
          "UpdateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityConfiguration": {
            "shape": "Sag"
          }
        }
      }
    },
    "GetSecurityConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityConfigurations": {
            "type": "list",
            "member": {
              "shape": "Sag"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Table": {
            "shape": "Sam"
          }
        }
      }
    },
    "GetTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "VersionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableVersion": {
            "shape": "Sap"
          }
        }
      }
    },
    "GetTableVersions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableVersions": {
            "type": "list",
            "member": {
              "shape": "Sap"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTables": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Expression": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableList": {
            "type": "list",
            "member": {
              "shape": "Sam"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S5s"
          }
        }
      }
    },
    "GetTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trigger": {
            "shape": "S3r"
          }
        }
      }
    },
    "GetTriggers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DependentJobName": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Triggers": {
            "shape": "S3q"
          },
          "NextToken": {}
        }
      }
    },
    "GetUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserDefinedFunction": {
            "shape": "Sb6"
          }
        }
      }
    },
    "GetUserDefinedFunctions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Pattern"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Pattern": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserDefinedFunctions": {
            "type": "list",
            "member": {
              "shape": "Sb6"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "IncludeGraph": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workflow": {
            "shape": "S49"
          }
        }
      }
    },
    "GetWorkflowRun": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {},
          "RunId": {},
          "IncludeGraph": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Run": {
            "shape": "S4b"
          }
        }
      }
    },
    "GetWorkflowRunProperties": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RunProperties": {
            "shape": "S4a"
          }
        }
      }
    },
    "GetWorkflowRuns": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "IncludeGraph": {
            "type": "boolean"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Runs": {
            "type": "list",
            "member": {
              "shape": "S4b"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ImportCatalogToGlue": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListCrawlers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Tags": {
            "shape": "S5s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CrawlerNames": {
            "shape": "S1j"
          },
          "NextToken": {}
        }
      }
    },
    "ListDevEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "S5s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpointNames": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "S5s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobNames": {
            "shape": "S2x"
          },
          "NextToken": {}
        }
      }
    },
    "ListTriggers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DependentJobName": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "S5s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TriggerNames": {
            "shape": "S3o"
          },
          "NextToken": {}
        }
      }
    },
    "ListWorkflows": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workflows": {
            "shape": "S45"
          },
          "NextToken": {}
        }
      }
    },
    "PutDataCatalogEncryptionSettings": {
      "input": {
        "type": "structure",
        "required": [
          "DataCatalogEncryptionSettings"
        ],
        "members": {
          "CatalogId": {},
          "DataCatalogEncryptionSettings": {
            "shape": "S94"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutResourcePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyInJson"
        ],
        "members": {
          "PolicyInJson": {},
          "PolicyHashCondition": {},
          "PolicyExistsCondition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyHash": {}
        }
      }
    },
    "PutWorkflowRunProperties": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId",
          "RunProperties"
        ],
        "members": {
          "Name": {},
          "RunId": {},
          "RunProperties": {
            "shape": "S4a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ResetJobBookmark": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobBookmarkEntry": {
            "type": "structure",
            "members": {
              "JobName": {},
              "Version": {
                "type": "integer"
              },
              "Run": {
                "type": "integer"
              },
              "Attempt": {
                "type": "integer"
              },
              "JobBookmark": {}
            }
          }
        }
      }
    },
    "StartCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "JobRunId": {},
          "Arguments": {
            "shape": "S38"
          },
          "AllocatedCapacity": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxCapacity": {
            "type": "double"
          },
          "SecurityConfiguration": {},
          "NotificationProperty": {
            "shape": "S3g"
          },
          "WorkerType": {},
          "NumberOfWorkers": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRunId": {}
        }
      }
    },
    "StartTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "StartWorkflowRun": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RunId": {}
        }
      }
    },
    "StopCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagsToAdd"
        ],
        "members": {
          "ResourceArn": {},
          "TagsToAdd": {
            "shape": "S5s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagsToRemove"
        ],
        "members": {
          "ResourceArn": {},
          "TagsToRemove": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateClassifier": {
      "input": {
        "type": "structure",
        "members": {
          "GrokClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Classification": {},
              "GrokPattern": {},
              "CustomPatterns": {}
            }
          },
          "XMLClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Classification": {},
              "RowTag": {}
            }
          },
          "JsonClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "JsonPath": {}
            }
          },
          "CsvClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Delimiter": {},
              "QuoteSymbol": {},
              "ContainsHeader": {},
              "Header": {
                "shape": "S5g"
              },
              "DisableValueTrimming": {
                "type": "boolean"
              },
              "AllowSingleColumn": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateConnection": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ConnectionInput"
        ],
        "members": {
          "CatalogId": {},
          "Name": {},
          "ConnectionInput": {
            "shape": "S5j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Role": {},
          "DatabaseName": {},
          "Description": {},
          "Targets": {
            "shape": "S1o"
          },
          "Schedule": {},
          "Classifiers": {
            "shape": "S22"
          },
          "TablePrefix": {},
          "SchemaChangePolicy": {
            "shape": "S23"
          },
          "Configuration": {},
          "CrawlerSecurityConfiguration": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {},
          "Schedule": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "DatabaseInput"
        ],
        "members": {
          "CatalogId": {},
          "Name": {},
          "DatabaseInput": {
            "shape": "S5x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {},
          "PublicKey": {},
          "AddPublicKeys": {
            "shape": "S2u"
          },
          "DeletePublicKeys": {
            "shape": "S2u"
          },
          "CustomLibraries": {
            "type": "structure",
            "members": {
              "ExtraPythonLibsS3Path": {},
              "ExtraJarsS3Path": {}
            }
          },
          "UpdateEtlLibraries": {
            "type": "boolean"
          },
          "DeleteArguments": {
            "shape": "S2r"
          },
          "AddArguments": {
            "shape": "S2v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobUpdate"
        ],
        "members": {
          "JobName": {},
          "JobUpdate": {
            "type": "structure",
            "members": {
              "Description": {},
              "LogUri": {},
              "Role": {},
              "ExecutionProperty": {
                "shape": "S33"
              },
              "Command": {
                "shape": "S35"
              },
              "DefaultArguments": {
                "shape": "S38"
              },
              "Connections": {
                "shape": "S39"
              },
              "MaxRetries": {
                "type": "integer"
              },
              "AllocatedCapacity": {
                "deprecated": true,
                "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
                "type": "integer"
              },
              "Timeout": {
                "type": "integer"
              },
              "MaxCapacity": {
                "type": "double"
              },
              "WorkerType": {},
              "NumberOfWorkers": {
                "type": "integer"
              },
              "SecurityConfiguration": {},
              "NotificationProperty": {
                "shape": "S3g"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobName": {}
        }
      }
    },
    "UpdatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValueList",
          "PartitionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValueList": {
            "type": "list",
            "member": {}
          },
          "PartitionInput": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableInput": {
            "shape": "S6x"
          },
          "SkipArchive": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "TriggerUpdate"
        ],
        "members": {
          "Name": {},
          "TriggerUpdate": {
            "type": "structure",
            "members": {
              "Name": {},
              "Description": {},
              "Schedule": {},
              "Actions": {
                "shape": "S3v"
              },
              "Predicate": {
                "shape": "S3x"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trigger": {
            "shape": "S3r"
          }
        }
      }
    },
    "UpdateUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName",
          "FunctionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {},
          "FunctionInput": {
            "shape": "S76"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "DefaultRunProperties": {
            "shape": "S4a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "structure",
      "members": {
        "Values": {
          "shape": "S6"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "Parameters": {
          "shape": "Sj"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        }
      }
    },
    "S6": {
      "type": "list",
      "member": {}
    },
    "S9": {
      "type": "structure",
      "members": {
        "Columns": {
          "shape": "Sa"
        },
        "Location": {},
        "InputFormat": {},
        "OutputFormat": {},
        "Compressed": {
          "type": "boolean"
        },
        "NumberOfBuckets": {
          "type": "integer"
        },
        "SerdeInfo": {
          "type": "structure",
          "members": {
            "Name": {},
            "SerializationLibrary": {},
            "Parameters": {
              "shape": "Sj"
            }
          }
        },
        "BucketColumns": {
          "shape": "Sm"
        },
        "SortColumns": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Column",
              "SortOrder"
            ],
            "members": {
              "Column": {},
              "SortOrder": {
                "type": "integer"
              }
            }
          }
        },
        "Parameters": {
          "shape": "Sj"
        },
        "SkewedInfo": {
          "type": "structure",
          "members": {
            "SkewedColumnNames": {
              "shape": "Sm"
            },
            "SkewedColumnValues": {
              "type": "list",
              "member": {}
            },
            "SkewedColumnValueLocationMaps": {
              "type": "map",
              "key": {},
              "value": {}
            }
          }
        },
        "StoredAsSubDirectories": {
          "type": "boolean"
        }
      }
    },
    "Sa": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Type": {},
          "Comment": {}
        }
      }
    },
    "Sj": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sm": {
      "type": "list",
      "member": {}
    },
    "Sv": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PartitionValues": {
            "shape": "S6"
          },
          "ErrorDetail": {
            "shape": "Sx"
          }
        }
      }
    },
    "Sx": {
      "type": "structure",
      "members": {
        "ErrorCode": {},
        "ErrorMessage": {}
      }
    },
    "S15": {
      "type": "structure",
      "required": [
        "Values"
      ],
      "members": {
        "Values": {
          "shape": "S6"
        }
      }
    },
    "S1j": {
      "type": "list",
      "member": {}
    },
    "S1l": {
      "type": "list",
      "member": {
        "shape": "S1m"
      }
    },
    "S1m": {
      "type": "structure",
      "members": {
        "Name": {},
        "Role": {},
        "Targets": {
          "shape": "S1o"
        },
        "DatabaseName": {},
        "Description": {},
        "Classifiers": {
          "shape": "S22"
        },
        "SchemaChangePolicy": {
          "shape": "S23"
        },
        "State": {},
        "TablePrefix": {},
        "Schedule": {
          "type": "structure",
          "members": {
            "ScheduleExpression": {},
            "State": {}
          }
        },
        "CrawlElapsedTime": {
          "type": "long"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "LastUpdated": {
          "type": "timestamp"
        },
        "LastCrawl": {
          "type": "structure",
          "members": {
            "Status": {},
            "ErrorMessage": {},
            "LogGroup": {},
            "LogStream": {},
            "MessagePrefix": {},
            "StartTime": {
              "type": "timestamp"
            }
          }
        },
        "Version": {
          "type": "long"
        },
        "Configuration": {},
        "CrawlerSecurityConfiguration": {}
      }
    },
    "S1o": {
      "type": "structure",
      "members": {
        "S3Targets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Path": {},
              "Exclusions": {
                "shape": "S1s"
              }
            }
          }
        },
        "JdbcTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ConnectionName": {},
              "Path": {},
              "Exclusions": {
                "shape": "S1s"
              }
            }
          }
        },
        "DynamoDBTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Path": {}
            }
          }
        },
        "CatalogTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "DatabaseName",
              "Tables"
            ],
            "members": {
              "DatabaseName": {},
              "Tables": {
                "type": "list",
                "member": {}
              }
            }
          }
        }
      }
    },
    "S1s": {
      "type": "list",
      "member": {}
    },
    "S22": {
      "type": "list",
      "member": {}
    },
    "S23": {
      "type": "structure",
      "members": {
        "UpdateBehavior": {},
        "DeleteBehavior": {}
      }
    },
    "S2l": {
      "type": "list",
      "member": {}
    },
    "S2o": {
      "type": "list",
      "member": {
        "shape": "S2p"
      }
    },
    "S2p": {
      "type": "structure",
      "members": {
        "EndpointName": {},
        "RoleArn": {},
        "SecurityGroupIds": {
          "shape": "S2r"
        },
        "SubnetId": {},
        "YarnEndpointAddress": {},
        "PrivateAddress": {},
        "ZeppelinRemoteSparkInterpreterPort": {
          "type": "integer"
        },
        "PublicAddress": {},
        "Status": {},
        "NumberOfNodes": {
          "type": "integer"
        },
        "AvailabilityZone": {},
        "VpcId": {},
        "ExtraPythonLibsS3Path": {},
        "ExtraJarsS3Path": {},
        "FailureReason": {},
        "LastUpdateStatus": {},
        "CreatedTimestamp": {
          "type": "timestamp"
        },
        "LastModifiedTimestamp": {
          "type": "timestamp"
        },
        "PublicKey": {},
        "PublicKeys": {
          "shape": "S2u"
        },
        "SecurityConfiguration": {},
        "Arguments": {
          "shape": "S2v"
        }
      }
    },
    "S2r": {
      "type": "list",
      "member": {}
    },
    "S2u": {
      "type": "list",
      "member": {}
    },
    "S2v": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S2x": {
      "type": "list",
      "member": {}
    },
    "S2z": {
      "type": "list",
      "member": {
        "shape": "S30"
      }
    },
    "S30": {
      "type": "structure",
      "members": {
        "Name": {},
        "Description": {},
        "LogUri": {},
        "Role": {},
        "CreatedOn": {
          "type": "timestamp"
        },
        "LastModifiedOn": {
          "type": "timestamp"
        },
        "ExecutionProperty": {
          "shape": "S33"
        },
        "Command": {
          "shape": "S35"
        },
        "DefaultArguments": {
          "shape": "S38"
        },
        "Connections": {
          "shape": "S39"
        },
        "MaxRetries": {
          "type": "integer"
        },
        "AllocatedCapacity": {
          "deprecated": true,
          "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
          "type": "integer"
        },
        "Timeout": {
          "type": "integer"
        },
        "MaxCapacity": {
          "type": "double"
        },
        "WorkerType": {},
        "NumberOfWorkers": {
          "type": "integer"
        },
        "SecurityConfiguration": {},
        "NotificationProperty": {
          "shape": "S3g"
        }
      }
    },
    "S33": {
      "type": "structure",
      "members": {
        "MaxConcurrentRuns": {
          "type": "integer"
        }
      }
    },
    "S35": {
      "type": "structure",
      "members": {
        "Name": {},
        "ScriptLocation": {},
        "PythonVersion": {}
      }
    },
    "S38": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S39": {
      "type": "structure",
      "members": {
        "Connections": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S3g": {
      "type": "structure",
      "members": {
        "NotifyDelayAfter": {
          "type": "integer"
        }
      }
    },
    "S3j": {
      "type": "list",
      "member": {
        "shape": "S15"
      }
    },
    "S3l": {
      "type": "list",
      "member": {
        "shape": "S3m"
      }
    },
    "S3m": {
      "type": "structure",
      "members": {
        "Values": {
          "shape": "S6"
        },
        "DatabaseName": {},
        "TableName": {},
        "CreationTime": {
          "type": "timestamp"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "Parameters": {
          "shape": "Sj"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        }
      }
    },
    "S3o": {
      "type": "list",
      "member": {}
    },
    "S3q": {
      "type": "list",
      "member": {
        "shape": "S3r"
      }
    },
    "S3r": {
      "type": "structure",
      "members": {
        "Name": {},
        "WorkflowName": {},
        "Id": {},
        "Type": {},
        "State": {},
        "Description": {},
        "Schedule": {},
        "Actions": {
          "shape": "S3v"
        },
        "Predicate": {
          "shape": "S3x"
        }
      }
    },
    "S3v": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "JobName": {},
          "Arguments": {
            "shape": "S38"
          },
          "Timeout": {
            "type": "integer"
          },
          "SecurityConfiguration": {},
          "NotificationProperty": {
            "shape": "S3g"
          },
          "CrawlerName": {}
        }
      }
    },
    "S3x": {
      "type": "structure",
      "members": {
        "Logical": {},
        "Conditions": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "LogicalOperator": {},
              "JobName": {},
              "State": {},
              "CrawlerName": {},
              "CrawlState": {}
            }
          }
        }
      }
    },
    "S45": {
      "type": "list",
      "member": {}
    },
    "S49": {
      "type": "structure",
      "members": {
        "Name": {},
        "Description": {},
        "DefaultRunProperties": {
          "shape": "S4a"
        },
        "CreatedOn": {
          "type": "timestamp"
        },
        "LastModifiedOn": {
          "type": "timestamp"
        },
        "LastRun": {
          "shape": "S4b"
        },
        "Graph": {
          "shape": "S4e"
        }
      }
    },
    "S4a": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S4b": {
      "type": "structure",
      "members": {
        "Name": {},
        "WorkflowRunId": {},
        "WorkflowRunProperties": {
          "shape": "S4a"
        },
        "StartedOn": {
          "type": "timestamp"
        },
        "CompletedOn": {
          "type": "timestamp"
        },
        "Status": {},
        "Statistics": {
          "type": "structure",
          "members": {
            "TotalActions": {
              "type": "integer"
            },
            "TimeoutActions": {
              "type": "integer"
            },
            "FailedActions": {
              "type": "integer"
            },
            "StoppedActions": {
              "type": "integer"
            },
            "SucceededActions": {
              "type": "integer"
            },
            "RunningActions": {
              "type": "integer"
            }
          }
        },
        "Graph": {
          "shape": "S4e"
        }
      }
    },
    "S4e": {
      "type": "structure",
      "members": {
        "Nodes": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Type": {},
              "Name": {},
              "UniqueId": {},
              "TriggerDetails": {
                "type": "structure",
                "members": {
                  "Trigger": {
                    "shape": "S3r"
                  }
                }
              },
              "JobDetails": {
                "type": "structure",
                "members": {
                  "JobRuns": {
                    "shape": "S4k"
                  }
                }
              },
              "CrawlerDetails": {
                "type": "structure",
                "members": {
                  "Crawls": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "State": {},
                        "StartedOn": {
                          "type": "timestamp"
                        },
                        "CompletedOn": {
                          "type": "timestamp"
                        },
                        "ErrorMessage": {},
                        "LogGroup": {},
                        "LogStream": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Edges": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "SourceId": {},
              "DestinationId": {}
            }
          }
        }
      }
    },
    "S4k": {
      "type": "list",
      "member": {
        "shape": "S4l"
      }
    },
    "S4l": {
      "type": "structure",
      "members": {
        "Id": {},
        "Attempt": {
          "type": "integer"
        },
        "PreviousRunId": {},
        "TriggerName": {},
        "JobName": {},
        "StartedOn": {
          "type": "timestamp"
        },
        "LastModifiedOn": {
          "type": "timestamp"
        },
        "CompletedOn": {
          "type": "timestamp"
        },
        "JobRunState": {},
        "Arguments": {
          "shape": "S38"
        },
        "ErrorMessage": {},
        "PredecessorRuns": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "JobName": {},
              "RunId": {}
            }
          }
        },
        "AllocatedCapacity": {
          "deprecated": true,
          "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
          "type": "integer"
        },
        "ExecutionTime": {
          "type": "integer"
        },
        "Timeout": {
          "type": "integer"
        },
        "MaxCapacity": {
          "type": "double"
        },
        "WorkerType": {},
        "NumberOfWorkers": {
          "type": "integer"
        },
        "SecurityConfiguration": {},
        "LogGroupName": {},
        "NotificationProperty": {
          "shape": "S3g"
        }
      }
    },
    "S5g": {
      "type": "list",
      "member": {}
    },
    "S5j": {
      "type": "structure",
      "required": [
        "Name",
        "ConnectionType",
        "ConnectionProperties"
      ],
      "members": {
        "Name": {},
        "Description": {},
        "ConnectionType": {},
        "MatchCriteria": {
          "shape": "S5l"
        },
        "ConnectionProperties": {
          "shape": "S5m"
        },
        "PhysicalConnectionRequirements": {
          "shape": "S5o"
        }
      }
    },
    "S5l": {
      "type": "list",
      "member": {}
    },
    "S5m": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S5o": {
      "type": "structure",
      "members": {
        "SubnetId": {},
        "SecurityGroupIdList": {
          "type": "list",
          "member": {}
        },
        "AvailabilityZone": {}
      }
    },
    "S5s": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S5x": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "Description": {},
        "LocationUri": {},
        "Parameters": {
          "shape": "Sj"
        }
      }
    },
    "S67": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Id",
          "NodeType",
          "Args"
        ],
        "members": {
          "Id": {},
          "NodeType": {},
          "Args": {
            "shape": "S6b"
          },
          "LineNumber": {
            "type": "integer"
          }
        }
      }
    },
    "S6b": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Value"
        ],
        "members": {
          "Name": {},
          "Value": {},
          "Param": {
            "type": "boolean"
          }
        }
      }
    },
    "S6f": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Source",
          "Target"
        ],
        "members": {
          "Source": {},
          "Target": {},
          "TargetParameter": {}
        }
      }
    },
    "S6m": {
      "type": "structure",
      "members": {
        "S3Encryption": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "S3EncryptionMode": {},
              "KmsKeyArn": {}
            }
          }
        },
        "CloudWatchEncryption": {
          "type": "structure",
          "members": {
            "CloudWatchEncryptionMode": {},
            "KmsKeyArn": {}
          }
        },
        "JobBookmarksEncryption": {
          "type": "structure",
          "members": {
            "JobBookmarksEncryptionMode": {},
            "KmsKeyArn": {}
          }
        }
      }
    },
    "S6x": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "Description": {},
        "Owner": {},
        "LastAccessTime": {
          "type": "timestamp"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        },
        "Retention": {
          "type": "integer"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "PartitionKeys": {
          "shape": "Sa"
        },
        "ViewOriginalText": {},
        "ViewExpandedText": {},
        "TableType": {},
        "Parameters": {
          "shape": "Sj"
        }
      }
    },
    "S76": {
      "type": "structure",
      "members": {
        "FunctionName": {},
        "ClassName": {},
        "OwnerName": {},
        "OwnerType": {},
        "ResourceUris": {
          "shape": "S78"
        }
      }
    },
    "S78": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ResourceType": {},
          "Uri": {}
        }
      }
    },
    "S8c": {
      "type": "structure",
      "members": {
        "GrokClassifier": {
          "type": "structure",
          "required": [
            "Name",
            "Classification",
            "GrokPattern"
          ],
          "members": {
            "Name": {},
            "Classification": {},
            "CreationTime": {
              "type": "timestamp"
            },
            "LastUpdated": {
              "type": "timestamp"
            },
            "Version": {
              "type": "long"
            },
            "GrokPattern": {},
            "CustomPatterns": {}
          }
        },
        "XMLClassifier": {
          "type": "structure",
          "required": [
            "Name",
            "Classification"
          ],
          "members": {
            "Name": {},
            "Classification": {},
            "CreationTime": {
              "type": "timestamp"
            },
            "LastUpdated": {
              "type": "timestamp"
            },
            "Version": {
              "type": "long"
            },
            "RowTag": {}
          }
        },
        "JsonClassifier": {
          "type": "structure",
          "required": [
            "Name",
            "JsonPath"
          ],
          "members": {
            "Name": {},
            "CreationTime": {
              "type": "timestamp"
            },
            "LastUpdated": {
              "type": "timestamp"
            },
            "Version": {
              "type": "long"
            },
            "JsonPath": {}
          }
        },
        "CsvClassifier": {
          "type": "structure",
          "required": [
            "Name"
          ],
          "members": {
            "Name": {},
            "CreationTime": {
              "type": "timestamp"
            },
            "LastUpdated": {
              "type": "timestamp"
            },
            "Version": {
              "type": "long"
            },
            "Delimiter": {},
            "QuoteSymbol": {},
            "ContainsHeader": {},
            "Header": {
              "shape": "S5g"
            },
            "DisableValueTrimming": {
              "type": "boolean"
            },
            "AllowSingleColumn": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "S8o": {
      "type": "structure",
      "members": {
        "Name": {},
        "Description": {},
        "ConnectionType": {},
        "MatchCriteria": {
          "shape": "S5l"
        },
        "ConnectionProperties": {
          "shape": "S5m"
        },
        "PhysicalConnectionRequirements": {
          "shape": "S5o"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "LastUpdatedTime": {
          "type": "timestamp"
        },
        "LastUpdatedBy": {}
      }
    },
    "S94": {
      "type": "structure",
      "members": {
        "EncryptionAtRest": {
          "type": "structure",
          "required": [
            "CatalogEncryptionMode"
          ],
          "members": {
            "CatalogEncryptionMode": {},
            "SseAwsKmsKeyId": {}
          }
        },
        "ConnectionPasswordEncryption": {
          "type": "structure",
          "required": [
            "ReturnConnectionPasswordEncrypted"
          ],
          "members": {
            "ReturnConnectionPasswordEncrypted": {
              "type": "boolean"
            },
            "AwsKmsKeyId": {}
          }
        }
      }
    },
    "S9a": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "Description": {},
        "LocationUri": {},
        "Parameters": {
          "shape": "Sj"
        },
        "CreateTime": {
          "type": "timestamp"
        }
      }
    },
    "S9t": {
      "type": "structure",
      "required": [
        "DatabaseName",
        "TableName"
      ],
      "members": {
        "DatabaseName": {},
        "TableName": {}
      }
    },
    "S9u": {
      "type": "list",
      "member": {
        "shape": "S9t"
      }
    },
    "S9v": {
      "type": "structure",
      "members": {
        "Jdbc": {
          "shape": "S6b"
        },
        "S3": {
          "shape": "S6b"
        },
        "DynamoDB": {
          "shape": "S6b"
        }
      }
    },
    "S9x": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "SourceTable": {},
          "SourcePath": {},
          "SourceType": {},
          "TargetTable": {},
          "TargetPath": {},
          "TargetType": {}
        }
      }
    },
    "Sag": {
      "type": "structure",
      "members": {
        "Name": {},
        "CreatedTimeStamp": {
          "type": "timestamp"
        },
        "EncryptionConfiguration": {
          "shape": "S6m"
        }
      }
    },
    "Sam": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "DatabaseName": {},
        "Description": {},
        "Owner": {},
        "CreateTime": {
          "type": "timestamp"
        },
        "UpdateTime": {
          "type": "timestamp"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        },
        "Retention": {
          "type": "integer"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "PartitionKeys": {
          "shape": "Sa"
        },
        "ViewOriginalText": {},
        "ViewExpandedText": {},
        "TableType": {},
        "Parameters": {
          "shape": "Sj"
        },
        "CreatedBy": {}
      }
    },
    "Sap": {
      "type": "structure",
      "members": {
        "Table": {
          "shape": "Sam"
        },
        "VersionId": {}
      }
    },
    "Sb6": {
      "type": "structure",
      "members": {
        "FunctionName": {},
        "ClassName": {},
        "OwnerName": {},
        "OwnerType": {},
        "CreateTime": {
          "type": "timestamp"
        },
        "ResourceUris": {
          "shape": "S78"
        }
      }
    }
  }
}