{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-03-31",
    "endpointPrefix": "glue",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Glue",
    "signatureVersion": "v4",
    "targetPrefix": "AWSGlue",
    "uid": "glue-2017-03-31"
  },
  "operations": {
    "BatchCreatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionInputList"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionInputList": {
            "type": "list",
            "member": {
              "shape": "S5"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "Sv"
          }
        }
      }
    },
    "BatchDeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionNameList"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionNameList": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Succeeded": {
            "shape": "Sm"
          },
          "Errors": {
            "type": "map",
            "key": {},
            "value": {
              "shape": "Sx"
            }
          }
        }
      }
    },
    "BatchDeletePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionsToDelete"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionsToDelete": {
            "type": "list",
            "member": {
              "shape": "S15"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "Sv"
          }
        }
      }
    },
    "BatchDeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TablesToDelete"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TablesToDelete": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TableName": {},
                "ErrorDetail": {
                  "shape": "Sx"
                }
              }
            }
          }
        }
      }
    },
    "BatchGetPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionsToGet"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionsToGet": {
            "shape": "S1d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partitions": {
            "shape": "S1f"
          },
          "UnprocessedKeys": {
            "shape": "S1d"
          }
        }
      }
    },
    "CreateClassifier": {
      "input": {
        "type": "structure",
        "members": {
          "GrokClassifier": {
            "type": "structure",
            "required": [
              "Classification",
              "Name",
              "GrokPattern"
            ],
            "members": {
              "Classification": {},
              "Name": {},
              "GrokPattern": {},
              "CustomPatterns": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionInput"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionInput": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Role",
          "DatabaseName",
          "Targets"
        ],
        "members": {
          "Name": {},
          "Role": {},
          "DatabaseName": {},
          "Description": {},
          "Targets": {
            "shape": "S1z"
          },
          "Schedule": {},
          "Classifiers": {
            "shape": "S28"
          },
          "TablePrefix": {},
          "SchemaChangePolicy": {
            "shape": "S2a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseInput": {
            "shape": "S2f"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "RoleArn",
          "SecurityGroupIds",
          "SubnetId"
        ],
        "members": {
          "EndpointName": {},
          "RoleArn": {},
          "SecurityGroupIds": {
            "shape": "S2k"
          },
          "SubnetId": {},
          "PublicKey": {},
          "NumberOfNodes": {
            "type": "integer"
          },
          "ExtraPythonLibsS3Path": {},
          "ExtraJarsS3Path": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EndpointName": {},
          "Status": {},
          "SecurityGroupIds": {
            "shape": "S2k"
          },
          "SubnetId": {},
          "RoleArn": {},
          "YarnEndpointAddress": {},
          "NumberOfNodes": {
            "type": "integer"
          },
          "AvailabilityZone": {},
          "VpcId": {},
          "ExtraPythonLibsS3Path": {},
          "ExtraJarsS3Path": {},
          "FailureReason": {},
          "CreatedTimestamp": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateJob": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Role",
          "Command"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "LogUri": {},
          "Role": {},
          "ExecutionProperty": {
            "shape": "S2r"
          },
          "Command": {
            "shape": "S2t"
          },
          "DefaultArguments": {
            "shape": "S2v"
          },
          "Connections": {
            "shape": "S2w"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "AllocatedCapacity": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "CreatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionInput": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateScript": {
      "input": {
        "type": "structure",
        "members": {
          "DagNodes": {
            "shape": "S32"
          },
          "DagEdges": {
            "shape": "S3a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PythonScript": {}
        }
      }
    },
    "CreateTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableInput": {
            "shape": "S3f"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Type",
          "Actions"
        ],
        "members": {
          "Name": {},
          "Type": {},
          "Schedule": {},
          "Predicate": {
            "shape": "S3m"
          },
          "Actions": {
            "shape": "S3s"
          },
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "CreateUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionInput": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteClassifier": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionName"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobName": {}
        }
      }
    },
    "DeletePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetCatalogImportStatus": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportStatus": {
            "type": "structure",
            "members": {
              "ImportCompleted": {
                "type": "boolean"
              },
              "ImportTime": {
                "type": "timestamp"
              },
              "ImportedBy": {}
            }
          }
        }
      }
    },
    "GetClassifier": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Classifier": {
            "shape": "S4r"
          }
        }
      }
    },
    "GetClassifiers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Classifiers": {
            "type": "list",
            "member": {
              "shape": "S4r"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetConnection": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "S51"
          }
        }
      }
    },
    "GetConnections": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {},
          "Filter": {
            "type": "structure",
            "members": {
              "MatchCriteria": {
                "shape": "S1q"
              },
              "ConnectionType": {}
            }
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConnectionList": {
            "type": "list",
            "member": {
              "shape": "S51"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawler": {
            "shape": "S58"
          }
        }
      }
    },
    "GetCrawlerMetrics": {
      "input": {
        "type": "structure",
        "members": {
          "CrawlerNameList": {
            "type": "list",
            "member": {}
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CrawlerMetricsList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CrawlerName": {},
                "TimeLeftSeconds": {
                  "type": "double"
                },
                "StillEstimating": {
                  "type": "boolean"
                },
                "LastRuntimeSeconds": {
                  "type": "double"
                },
                "MedianRuntimeSeconds": {
                  "type": "double"
                },
                "TablesCreated": {
                  "type": "integer"
                },
                "TablesUpdated": {
                  "type": "integer"
                },
                "TablesDeleted": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCrawlers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawlers": {
            "type": "list",
            "member": {
              "shape": "S58"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Database": {
            "shape": "S5t"
          }
        }
      }
    },
    "GetDatabases": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DatabaseList"
        ],
        "members": {
          "DatabaseList": {
            "type": "list",
            "member": {
              "shape": "S5t"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetDataflowGraph": {
      "input": {
        "type": "structure",
        "members": {
          "PythonScript": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DagNodes": {
            "shape": "S32"
          },
          "DagEdges": {
            "shape": "S3a"
          }
        }
      }
    },
    "GetDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoint": {
            "shape": "S61"
          }
        }
      }
    },
    "GetDevEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoints": {
            "type": "list",
            "member": {
              "shape": "S61"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "shape": "S67"
          }
        }
      }
    },
    "GetJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "RunId"
        ],
        "members": {
          "JobName": {},
          "RunId": {},
          "PredecessorsIncluded": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRun": {
            "shape": "S6c"
          }
        }
      }
    },
    "GetJobRuns": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRuns": {
            "type": "list",
            "member": {
              "shape": "S6c"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "type": "list",
            "member": {
              "shape": "S67"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetMapping": {
      "input": {
        "type": "structure",
        "required": [
          "Source"
        ],
        "members": {
          "Source": {
            "shape": "S6o"
          },
          "Sinks": {
            "shape": "S6p"
          },
          "Location": {
            "shape": "S6q"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Mapping"
        ],
        "members": {
          "Mapping": {
            "shape": "S6s"
          }
        }
      }
    },
    "GetPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partition": {
            "shape": "S1g"
          }
        }
      }
    },
    "GetPartitions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "Expression": {},
          "NextToken": {},
          "Segment": {
            "type": "structure",
            "required": [
              "SegmentNumber",
              "TotalSegments"
            ],
            "members": {
              "SegmentNumber": {
                "type": "integer"
              },
              "TotalSegments": {
                "type": "integer"
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partitions": {
            "shape": "S1f"
          },
          "NextToken": {}
        }
      }
    },
    "GetPlan": {
      "input": {
        "type": "structure",
        "required": [
          "Mapping",
          "Source"
        ],
        "members": {
          "Mapping": {
            "shape": "S6s"
          },
          "Source": {
            "shape": "S6o"
          },
          "Sinks": {
            "shape": "S6p"
          },
          "Location": {
            "shape": "S6q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PythonScript": {}
        }
      }
    },
    "GetTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Table": {
            "shape": "S78"
          }
        }
      }
    },
    "GetTableVersions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableVersions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Table": {
                  "shape": "S78"
                },
                "VersionId": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTables": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Expression": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableList": {
            "type": "list",
            "member": {
              "shape": "S78"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trigger": {
            "shape": "S7k"
          }
        }
      }
    },
    "GetTriggers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DependentJobName": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Triggers": {
            "type": "list",
            "member": {
              "shape": "S7k"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserDefinedFunction": {
            "shape": "S7r"
          }
        }
      }
    },
    "GetUserDefinedFunctions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Pattern"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Pattern": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserDefinedFunctions": {
            "type": "list",
            "member": {
              "shape": "S7r"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ImportCatalogToGlue": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ResetJobBookmark": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobBookmarkEntry": {
            "type": "structure",
            "members": {
              "JobName": {},
              "Version": {
                "type": "integer"
              },
              "Run": {
                "type": "integer"
              },
              "Attempt": {
                "type": "integer"
              },
              "JobBookmark": {}
            }
          }
        }
      }
    },
    "StartCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "JobRunId": {},
          "Arguments": {
            "shape": "S2v"
          },
          "AllocatedCapacity": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRunId": {}
        }
      }
    },
    "StartTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "StopCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "UpdateClassifier": {
      "input": {
        "type": "structure",
        "members": {
          "GrokClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Classification": {},
              "GrokPattern": {},
              "CustomPatterns": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateConnection": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ConnectionInput"
        ],
        "members": {
          "CatalogId": {},
          "Name": {},
          "ConnectionInput": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Role": {},
          "DatabaseName": {},
          "Description": {},
          "Targets": {
            "shape": "S1z"
          },
          "Schedule": {},
          "Classifiers": {
            "shape": "S28"
          },
          "TablePrefix": {},
          "SchemaChangePolicy": {
            "shape": "S2a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {},
          "Schedule": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "DatabaseInput"
        ],
        "members": {
          "CatalogId": {},
          "Name": {},
          "DatabaseInput": {
            "shape": "S2f"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {},
          "PublicKey": {},
          "CustomLibraries": {
            "type": "structure",
            "members": {
              "ExtraPythonLibsS3Path": {},
              "ExtraJarsS3Path": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobUpdate"
        ],
        "members": {
          "JobName": {},
          "JobUpdate": {
            "type": "structure",
            "members": {
              "Description": {},
              "LogUri": {},
              "Role": {},
              "ExecutionProperty": {
                "shape": "S2r"
              },
              "Command": {
                "shape": "S2t"
              },
              "DefaultArguments": {
                "shape": "S2v"
              },
              "Connections": {
                "shape": "S2w"
              },
              "MaxRetries": {
                "type": "integer"
              },
              "AllocatedCapacity": {
                "type": "integer"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobName": {}
        }
      }
    },
    "UpdatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValueList",
          "PartitionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValueList": {
            "type": "list",
            "member": {}
          },
          "PartitionInput": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableInput": {
            "shape": "S3f"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "TriggerUpdate"
        ],
        "members": {
          "Name": {},
          "TriggerUpdate": {
            "type": "structure",
            "members": {
              "Name": {},
              "Description": {},
              "Schedule": {},
              "Actions": {
                "shape": "S3s"
              },
              "Predicate": {
                "shape": "S3m"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trigger": {
            "shape": "S7k"
          }
        }
      }
    },
    "UpdateUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName",
          "FunctionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {},
          "FunctionInput": {
            "shape": "S3w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "structure",
      "members": {
        "Values": {
          "shape": "S6"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "Parameters": {
          "shape": "Sj"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        }
      }
    },
    "S6": {
      "type": "list",
      "member": {}
    },
    "S9": {
      "type": "structure",
      "members": {
        "Columns": {
          "shape": "Sa"
        },
        "Location": {},
        "InputFormat": {},
        "OutputFormat": {},
        "Compressed": {
          "type": "boolean"
        },
        "NumberOfBuckets": {
          "type": "integer"
        },
        "SerdeInfo": {
          "type": "structure",
          "members": {
            "Name": {},
            "SerializationLibrary": {},
            "Parameters": {
              "shape": "Sj"
            }
          }
        },
        "BucketColumns": {
          "shape": "Sm"
        },
        "SortColumns": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Column",
              "SortOrder"
            ],
            "members": {
              "Column": {},
              "SortOrder": {
                "type": "integer"
              }
            }
          }
        },
        "Parameters": {
          "shape": "Sj"
        },
        "SkewedInfo": {
          "type": "structure",
          "members": {
            "SkewedColumnNames": {
              "shape": "Sm"
            },
            "SkewedColumnValues": {
              "type": "list",
              "member": {}
            },
            "SkewedColumnValueLocationMaps": {
              "type": "map",
              "key": {},
              "value": {}
            }
          }
        },
        "StoredAsSubDirectories": {
          "type": "boolean"
        }
      }
    },
    "Sa": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Type": {},
          "Comment": {}
        }
      }
    },
    "Sj": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sm": {
      "type": "list",
      "member": {}
    },
    "Sv": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PartitionValues": {
            "shape": "S6"
          },
          "ErrorDetail": {
            "shape": "Sx"
          }
        }
      }
    },
    "Sx": {
      "type": "structure",
      "members": {
        "ErrorCode": {},
        "ErrorMessage": {}
      }
    },
    "S15": {
      "type": "structure",
      "required": [
        "Values"
      ],
      "members": {
        "Values": {
          "shape": "S6"
        }
      }
    },
    "S1d": {
      "type": "list",
      "member": {
        "shape": "S15"
      }
    },
    "S1f": {
      "type": "list",
      "member": {
        "shape": "S1g"
      }
    },
    "S1g": {
      "type": "structure",
      "members": {
        "Values": {
          "shape": "S6"
        },
        "DatabaseName": {},
        "TableName": {},
        "CreationTime": {
          "type": "timestamp"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "Parameters": {
          "shape": "Sj"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        }
      }
    },
    "S1o": {
      "type": "structure",
      "members": {
        "Name": {},
        "Description": {},
        "ConnectionType": {},
        "MatchCriteria": {
          "shape": "S1q"
        },
        "ConnectionProperties": {
          "shape": "S1r"
        },
        "PhysicalConnectionRequirements": {
          "shape": "S1t"
        }
      }
    },
    "S1q": {
      "type": "list",
      "member": {}
    },
    "S1r": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1t": {
      "type": "structure",
      "members": {
        "SubnetId": {},
        "SecurityGroupIdList": {
          "type": "list",
          "member": {}
        },
        "AvailabilityZone": {}
      }
    },
    "S1z": {
      "type": "structure",
      "members": {
        "S3Targets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Path": {},
              "Exclusions": {
                "shape": "S23"
              }
            }
          }
        },
        "JdbcTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ConnectionName": {},
              "Path": {},
              "Exclusions": {
                "shape": "S23"
              }
            }
          }
        }
      }
    },
    "S23": {
      "type": "list",
      "member": {}
    },
    "S28": {
      "type": "list",
      "member": {}
    },
    "S2a": {
      "type": "structure",
      "members": {
        "UpdateBehavior": {},
        "DeleteBehavior": {}
      }
    },
    "S2f": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "Description": {},
        "LocationUri": {},
        "Parameters": {
          "shape": "Sj"
        }
      }
    },
    "S2k": {
      "type": "list",
      "member": {}
    },
    "S2r": {
      "type": "structure",
      "members": {
        "MaxConcurrentRuns": {
          "type": "integer"
        }
      }
    },
    "S2t": {
      "type": "structure",
      "members": {
        "Name": {},
        "ScriptLocation": {}
      }
    },
    "S2v": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S2w": {
      "type": "structure",
      "members": {
        "Connections": {
          "shape": "S2k"
        }
      }
    },
    "S32": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Id",
          "NodeType",
          "Args"
        ],
        "members": {
          "Id": {},
          "NodeType": {},
          "Args": {
            "shape": "S36"
          },
          "LineNumber": {
            "type": "integer"
          }
        }
      }
    },
    "S36": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Value"
        ],
        "members": {
          "Name": {},
          "Value": {},
          "Param": {
            "type": "boolean"
          }
        }
      }
    },
    "S3a": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Source",
          "Target"
        ],
        "members": {
          "Source": {},
          "Target": {},
          "TargetParameter": {}
        }
      }
    },
    "S3f": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "Description": {},
        "Owner": {},
        "LastAccessTime": {
          "type": "timestamp"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        },
        "Retention": {
          "type": "integer"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "PartitionKeys": {
          "shape": "Sa"
        },
        "ViewOriginalText": {},
        "ViewExpandedText": {},
        "TableType": {},
        "Parameters": {
          "shape": "Sj"
        }
      }
    },
    "S3m": {
      "type": "structure",
      "members": {
        "Logical": {},
        "Conditions": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "LogicalOperator": {},
              "JobName": {},
              "State": {}
            }
          }
        }
      }
    },
    "S3s": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "JobName": {},
          "Arguments": {
            "shape": "S2v"
          }
        }
      }
    },
    "S3w": {
      "type": "structure",
      "members": {
        "FunctionName": {},
        "ClassName": {},
        "OwnerName": {},
        "OwnerType": {},
        "ResourceUris": {
          "shape": "S3y"
        }
      }
    },
    "S3y": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ResourceType": {},
          "Uri": {}
        }
      }
    },
    "S4r": {
      "type": "structure",
      "members": {
        "GrokClassifier": {
          "type": "structure",
          "required": [
            "Name",
            "Classification",
            "GrokPattern"
          ],
          "members": {
            "Name": {},
            "Classification": {},
            "CreationTime": {
              "type": "timestamp"
            },
            "LastUpdated": {
              "type": "timestamp"
            },
            "Version": {
              "type": "long"
            },
            "GrokPattern": {},
            "CustomPatterns": {}
          }
        }
      }
    },
    "S51": {
      "type": "structure",
      "members": {
        "Name": {},
        "Description": {},
        "ConnectionType": {},
        "MatchCriteria": {
          "shape": "S1q"
        },
        "ConnectionProperties": {
          "shape": "S1r"
        },
        "PhysicalConnectionRequirements": {
          "shape": "S1t"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "LastUpdatedTime": {
          "type": "timestamp"
        },
        "LastUpdatedBy": {}
      }
    },
    "S58": {
      "type": "structure",
      "members": {
        "Name": {},
        "Role": {},
        "Targets": {
          "shape": "S1z"
        },
        "DatabaseName": {},
        "Description": {},
        "Classifiers": {
          "shape": "S28"
        },
        "SchemaChangePolicy": {
          "shape": "S2a"
        },
        "State": {},
        "TablePrefix": {},
        "Schedule": {
          "type": "structure",
          "members": {
            "ScheduleExpression": {},
            "State": {}
          }
        },
        "CrawlElapsedTime": {
          "type": "long"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "LastUpdated": {
          "type": "timestamp"
        },
        "LastCrawl": {
          "type": "structure",
          "members": {
            "Status": {},
            "ErrorMessage": {},
            "LogGroup": {},
            "LogStream": {},
            "MessagePrefix": {},
            "StartTime": {
              "type": "timestamp"
            }
          }
        },
        "Version": {
          "type": "long"
        }
      }
    },
    "S5t": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "Description": {},
        "LocationUri": {},
        "Parameters": {
          "shape": "Sj"
        },
        "CreateTime": {
          "type": "timestamp"
        }
      }
    },
    "S61": {
      "type": "structure",
      "members": {
        "EndpointName": {},
        "RoleArn": {},
        "SecurityGroupIds": {
          "shape": "S2k"
        },
        "SubnetId": {},
        "YarnEndpointAddress": {},
        "PublicAddress": {},
        "Status": {},
        "NumberOfNodes": {
          "type": "integer"
        },
        "AvailabilityZone": {},
        "VpcId": {},
        "ExtraPythonLibsS3Path": {},
        "ExtraJarsS3Path": {},
        "FailureReason": {},
        "LastUpdateStatus": {},
        "CreatedTimestamp": {
          "type": "timestamp"
        },
        "LastModifiedTimestamp": {
          "type": "timestamp"
        },
        "PublicKey": {}
      }
    },
    "S67": {
      "type": "structure",
      "members": {
        "Name": {},
        "Description": {},
        "LogUri": {},
        "Role": {},
        "CreatedOn": {
          "type": "timestamp"
        },
        "LastModifiedOn": {
          "type": "timestamp"
        },
        "ExecutionProperty": {
          "shape": "S2r"
        },
        "Command": {
          "shape": "S2t"
        },
        "DefaultArguments": {
          "shape": "S2v"
        },
        "Connections": {
          "shape": "S2w"
        },
        "MaxRetries": {
          "type": "integer"
        },
        "AllocatedCapacity": {
          "type": "integer"
        }
      }
    },
    "S6c": {
      "type": "structure",
      "members": {
        "Id": {},
        "Attempt": {
          "type": "integer"
        },
        "PreviousRunId": {},
        "TriggerName": {},
        "JobName": {},
        "StartedOn": {
          "type": "timestamp"
        },
        "LastModifiedOn": {
          "type": "timestamp"
        },
        "CompletedOn": {
          "type": "timestamp"
        },
        "JobRunState": {},
        "Arguments": {
          "shape": "S2v"
        },
        "ErrorMessage": {},
        "PredecessorRuns": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "JobName": {},
              "RunId": {}
            }
          }
        },
        "AllocatedCapacity": {
          "type": "integer"
        }
      }
    },
    "S6o": {
      "type": "structure",
      "required": [
        "DatabaseName",
        "TableName"
      ],
      "members": {
        "DatabaseName": {},
        "TableName": {}
      }
    },
    "S6p": {
      "type": "list",
      "member": {
        "shape": "S6o"
      }
    },
    "S6q": {
      "type": "structure",
      "members": {
        "Jdbc": {
          "shape": "S36"
        },
        "S3": {
          "shape": "S36"
        }
      }
    },
    "S6s": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "SourceTable": {},
          "SourcePath": {},
          "SourceType": {},
          "TargetTable": {},
          "TargetPath": {},
          "TargetType": {}
        }
      }
    },
    "S78": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "DatabaseName": {},
        "Description": {},
        "Owner": {},
        "CreateTime": {
          "type": "timestamp"
        },
        "UpdateTime": {
          "type": "timestamp"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        },
        "Retention": {
          "type": "integer"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "PartitionKeys": {
          "shape": "Sa"
        },
        "ViewOriginalText": {},
        "ViewExpandedText": {},
        "TableType": {},
        "Parameters": {
          "shape": "Sj"
        },
        "CreatedBy": {}
      }
    },
    "S7k": {
      "type": "structure",
      "members": {
        "Name": {},
        "Id": {},
        "Type": {},
        "State": {},
        "Description": {},
        "Schedule": {},
        "Actions": {
          "shape": "S3s"
        },
        "Predicate": {
          "shape": "S3m"
        }
      }
    },
    "S7r": {
      "type": "structure",
      "members": {
        "FunctionName": {},
        "ClassName": {},
        "OwnerName": {},
        "OwnerType": {},
        "CreateTime": {
          "type": "timestamp"
        },
        "ResourceUris": {
          "shape": "S3y"
        }
      }
    }
  }
}