{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-03-31",
    "endpointPrefix": "glue",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Glue",
    "serviceId": "Glue",
    "signatureVersion": "v4",
    "targetPrefix": "AWSGlue",
    "uid": "glue-2017-03-31"
  },
  "operations": {
    "BatchCreatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionInputList"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionInputList": {
            "type": "list",
            "member": {
              "shape": "S5"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "S12"
          }
        }
      }
    },
    "BatchDeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionNameList"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionNameList": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Succeeded": {
            "shape": "Sn"
          },
          "Errors": {
            "type": "map",
            "key": {},
            "value": {
              "shape": "S14"
            }
          }
        }
      }
    },
    "BatchDeletePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionsToDelete"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionsToDelete": {
            "type": "list",
            "member": {
              "shape": "S1c"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "S12"
          }
        }
      }
    },
    "BatchDeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TablesToDelete"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TablesToDelete": {
            "type": "list",
            "member": {}
          },
          "TransactionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TableName": {},
                "ErrorDetail": {
                  "shape": "S14"
                }
              }
            }
          }
        }
      }
    },
    "BatchDeleteTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "VersionIds"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "VersionIds": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TableName": {},
                "VersionId": {},
                "ErrorDetail": {
                  "shape": "S14"
                }
              }
            }
          }
        }
      }
    },
    "BatchGetBlueprints": {
      "input": {
        "type": "structure",
        "required": [
          "Names"
        ],
        "members": {
          "Names": {
            "type": "list",
            "member": {}
          },
          "IncludeBlueprint": {
            "type": "boolean"
          },
          "IncludeParameterSpec": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Blueprints": {
            "type": "list",
            "member": {
              "shape": "S1w"
            }
          },
          "MissingBlueprints": {
            "shape": "S24"
          }
        }
      }
    },
    "BatchGetCrawlers": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerNames"
        ],
        "members": {
          "CrawlerNames": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawlers": {
            "shape": "S28"
          },
          "CrawlersNotFound": {
            "shape": "S26"
          }
        }
      }
    },
    "BatchGetCustomEntityTypes": {
      "input": {
        "type": "structure",
        "required": [
          "Names"
        ],
        "members": {
          "Names": {
            "shape": "S3n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CustomEntityTypes": {
            "shape": "S3p"
          },
          "CustomEntityTypesNotFound": {
            "shape": "S3n"
          }
        }
      }
    },
    "BatchGetDataQualityResult": {
      "input": {
        "type": "structure",
        "required": [
          "ResultIds"
        ],
        "members": {
          "ResultIds": {
            "shape": "S3t"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Results"
        ],
        "members": {
          "Results": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResultId": {},
                "Score": {
                  "type": "double"
                },
                "DataSource": {
                  "shape": "S3z"
                },
                "RulesetName": {},
                "EvaluationContext": {},
                "StartedOn": {
                  "type": "timestamp"
                },
                "CompletedOn": {
                  "type": "timestamp"
                },
                "JobName": {},
                "JobRunId": {},
                "RulesetEvaluationRunId": {},
                "RuleResults": {
                  "shape": "S42"
                }
              }
            }
          },
          "ResultsNotFound": {
            "shape": "S3t"
          }
        }
      }
    },
    "BatchGetDevEndpoints": {
      "input": {
        "type": "structure",
        "required": [
          "DevEndpointNames"
        ],
        "members": {
          "DevEndpointNames": {
            "shape": "S47"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoints": {
            "shape": "S49"
          },
          "DevEndpointsNotFound": {
            "shape": "S47"
          }
        }
      }
    },
    "BatchGetJobs": {
      "input": {
        "type": "structure",
        "required": [
          "JobNames"
        ],
        "members": {
          "JobNames": {
            "shape": "S4j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "shape": "S4l"
          },
          "JobsNotFound": {
            "shape": "S4j"
          }
        }
      }
    },
    "BatchGetPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionsToGet"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionsToGet": {
            "shape": "S9p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partitions": {
            "shape": "S9r"
          },
          "UnprocessedKeys": {
            "shape": "S9p"
          }
        }
      }
    },
    "BatchGetTriggers": {
      "input": {
        "type": "structure",
        "required": [
          "TriggerNames"
        ],
        "members": {
          "TriggerNames": {
            "shape": "S9u"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Triggers": {
            "shape": "S9w"
          },
          "TriggersNotFound": {
            "shape": "S9u"
          }
        }
      }
    },
    "BatchGetWorkflows": {
      "input": {
        "type": "structure",
        "required": [
          "Names"
        ],
        "members": {
          "Names": {
            "shape": "Sae"
          },
          "IncludeGraph": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workflows": {
            "type": "list",
            "member": {
              "shape": "Sah"
            }
          },
          "MissingWorkflows": {
            "shape": "Sae"
          }
        }
      }
    },
    "BatchStopJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobRunIds"
        ],
        "members": {
          "JobName": {},
          "JobRunIds": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SuccessfulSubmissions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "JobName": {},
                "JobRunId": {}
              }
            }
          },
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "JobName": {},
                "JobRunId": {},
                "ErrorDetail": {
                  "shape": "S14"
                }
              }
            }
          }
        }
      }
    },
    "BatchUpdatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "Entries"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "Entries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "PartitionValueList",
                "PartitionInput"
              ],
              "members": {
                "PartitionValueList": {
                  "shape": "Sbf"
                },
                "PartitionInput": {
                  "shape": "S5"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PartitionValueList": {
                  "shape": "Sbf"
                },
                "ErrorDetail": {
                  "shape": "S14"
                }
              }
            }
          }
        }
      }
    },
    "CancelDataQualityRuleRecommendationRun": {
      "input": {
        "type": "structure",
        "required": [
          "RunId"
        ],
        "members": {
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelDataQualityRulesetEvaluationRun": {
      "input": {
        "type": "structure",
        "required": [
          "RunId"
        ],
        "members": {
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelMLTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId",
          "TaskRunId"
        ],
        "members": {
          "TransformId": {},
          "TaskRunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {},
          "TaskRunId": {},
          "Status": {}
        }
      }
    },
    "CancelStatement": {
      "input": {
        "type": "structure",
        "required": [
          "SessionId",
          "Id"
        ],
        "members": {
          "SessionId": {},
          "Id": {
            "type": "integer"
          },
          "RequestOrigin": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CheckSchemaVersionValidity": {
      "input": {
        "type": "structure",
        "required": [
          "DataFormat",
          "SchemaDefinition"
        ],
        "members": {
          "DataFormat": {},
          "SchemaDefinition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Valid": {
            "type": "boolean"
          },
          "Error": {}
        }
      }
    },
    "CreateBlueprint": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "BlueprintLocation"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "BlueprintLocation": {},
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "CreateClassifier": {
      "input": {
        "type": "structure",
        "members": {
          "GrokClassifier": {
            "type": "structure",
            "required": [
              "Classification",
              "Name",
              "GrokPattern"
            ],
            "members": {
              "Classification": {},
              "Name": {},
              "GrokPattern": {},
              "CustomPatterns": {}
            }
          },
          "XMLClassifier": {
            "type": "structure",
            "required": [
              "Classification",
              "Name"
            ],
            "members": {
              "Classification": {},
              "Name": {},
              "RowTag": {}
            }
          },
          "JsonClassifier": {
            "type": "structure",
            "required": [
              "Name",
              "JsonPath"
            ],
            "members": {
              "Name": {},
              "JsonPath": {}
            }
          },
          "CsvClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Delimiter": {},
              "QuoteSymbol": {},
              "ContainsHeader": {},
              "Header": {
                "shape": "Sch"
              },
              "DisableValueTrimming": {
                "type": "boolean"
              },
              "AllowSingleColumn": {
                "type": "boolean"
              },
              "CustomDatatypeConfigured": {
                "type": "boolean"
              },
              "CustomDatatypes": {
                "shape": "Sci"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionInput"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionInput": {
            "shape": "Scl"
          },
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Role",
          "Targets"
        ],
        "members": {
          "Name": {},
          "Role": {},
          "DatabaseName": {},
          "Description": {},
          "Targets": {
            "shape": "S2b"
          },
          "Schedule": {},
          "Classifiers": {
            "shape": "S2y"
          },
          "TablePrefix": {},
          "SchemaChangePolicy": {
            "shape": "S31"
          },
          "RecrawlPolicy": {
            "shape": "S2z"
          },
          "LineageConfiguration": {
            "shape": "S34"
          },
          "LakeFormationConfiguration": {
            "shape": "S3k"
          },
          "Configuration": {},
          "CrawlerSecurityConfiguration": {},
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateCustomEntityType": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RegexString"
        ],
        "members": {
          "Name": {},
          "RegexString": {},
          "ContextWords": {
            "shape": "S3r"
          },
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "CreateDataQualityRuleset": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Ruleset"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "Ruleset": {},
          "Tags": {
            "shape": "Sc0"
          },
          "TargetTable": {
            "shape": "Scz"
          },
          "ClientToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      },
      "idempotent": true
    },
    "CreateDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseInput": {
            "shape": "Sd2"
          },
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "RoleArn"
        ],
        "members": {
          "EndpointName": {},
          "RoleArn": {},
          "SecurityGroupIds": {
            "shape": "S4c"
          },
          "SubnetId": {},
          "PublicKey": {},
          "PublicKeys": {
            "shape": "S4g"
          },
          "NumberOfNodes": {
            "type": "integer"
          },
          "WorkerType": {},
          "GlueVersion": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "ExtraPythonLibsS3Path": {},
          "ExtraJarsS3Path": {},
          "SecurityConfiguration": {},
          "Tags": {
            "shape": "Sc0"
          },
          "Arguments": {
            "shape": "S4h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EndpointName": {},
          "Status": {},
          "SecurityGroupIds": {
            "shape": "S4c"
          },
          "SubnetId": {},
          "RoleArn": {},
          "YarnEndpointAddress": {},
          "ZeppelinRemoteSparkInterpreterPort": {
            "type": "integer"
          },
          "NumberOfNodes": {
            "type": "integer"
          },
          "WorkerType": {},
          "GlueVersion": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "AvailabilityZone": {},
          "VpcId": {},
          "ExtraPythonLibsS3Path": {},
          "ExtraJarsS3Path": {},
          "FailureReason": {},
          "SecurityConfiguration": {},
          "CreatedTimestamp": {
            "type": "timestamp"
          },
          "Arguments": {
            "shape": "S4h"
          }
        }
      }
    },
    "CreateJob": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Role",
          "Command"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "LogUri": {},
          "Role": {},
          "ExecutionProperty": {
            "shape": "S4p"
          },
          "Command": {
            "shape": "S4r"
          },
          "DefaultArguments": {
            "shape": "S4u"
          },
          "NonOverridableArguments": {
            "shape": "S4u"
          },
          "Connections": {
            "shape": "S4v"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "AllocatedCapacity": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxCapacity": {
            "type": "double"
          },
          "SecurityConfiguration": {},
          "Tags": {
            "shape": "Sc0"
          },
          "NotificationProperty": {
            "shape": "S4z"
          },
          "GlueVersion": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "WorkerType": {},
          "CodeGenConfigurationNodes": {
            "shape": "S51"
          },
          "ExecutionClass": {},
          "SourceControlDetails": {
            "shape": "S9l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "CreateMLTransform": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "InputRecordTables",
          "Parameters",
          "Role"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "InputRecordTables": {
            "shape": "Sdj"
          },
          "Parameters": {
            "shape": "Sdk"
          },
          "Role": {},
          "GlueVersion": {},
          "MaxCapacity": {
            "type": "double"
          },
          "WorkerType": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "Tags": {
            "shape": "Sc0"
          },
          "TransformEncryption": {
            "shape": "Sdo"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {}
        }
      }
    },
    "CreatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionInput": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreatePartitionIndex": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionIndex"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionIndex": {
            "shape": "Sdv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateRegistry": {
      "input": {
        "type": "structure",
        "required": [
          "RegistryName"
        ],
        "members": {
          "RegistryName": {},
          "Description": {},
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegistryArn": {},
          "RegistryName": {},
          "Description": {},
          "Tags": {
            "shape": "Sc0"
          }
        }
      }
    },
    "CreateSchema": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaName",
          "DataFormat"
        ],
        "members": {
          "RegistryId": {
            "shape": "Se1"
          },
          "SchemaName": {},
          "DataFormat": {},
          "Compatibility": {},
          "Description": {},
          "Tags": {
            "shape": "Sc0"
          },
          "SchemaDefinition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegistryName": {},
          "RegistryArn": {},
          "SchemaName": {},
          "SchemaArn": {},
          "Description": {},
          "DataFormat": {},
          "Compatibility": {},
          "SchemaCheckpoint": {
            "type": "long"
          },
          "LatestSchemaVersion": {
            "type": "long"
          },
          "NextSchemaVersion": {
            "type": "long"
          },
          "SchemaStatus": {},
          "Tags": {
            "shape": "Sc0"
          },
          "SchemaVersionId": {},
          "SchemaVersionStatus": {}
        }
      }
    },
    "CreateScript": {
      "input": {
        "type": "structure",
        "members": {
          "DagNodes": {
            "shape": "Se8"
          },
          "DagEdges": {
            "shape": "Seg"
          },
          "Language": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PythonScript": {},
          "ScalaCode": {}
        }
      }
    },
    "CreateSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "EncryptionConfiguration"
        ],
        "members": {
          "Name": {},
          "EncryptionConfiguration": {
            "shape": "Sen"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "CreatedTimestamp": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateSession": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "Role",
          "Command"
        ],
        "members": {
          "Id": {},
          "Description": {},
          "Role": {},
          "Command": {
            "shape": "Sez"
          },
          "Timeout": {
            "type": "integer"
          },
          "IdleTimeout": {
            "type": "integer"
          },
          "DefaultArguments": {
            "shape": "Sf0"
          },
          "Connections": {
            "shape": "S4v"
          },
          "MaxCapacity": {
            "type": "double"
          },
          "NumberOfWorkers": {
            "type": "integer"
          },
          "WorkerType": {},
          "SecurityConfiguration": {},
          "GlueVersion": {},
          "Tags": {
            "shape": "Sc0"
          },
          "RequestOrigin": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Session": {
            "shape": "Sf3"
          }
        }
      }
    },
    "CreateTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableInput": {
            "shape": "Sf7"
          },
          "PartitionIndexes": {
            "type": "list",
            "member": {
              "shape": "Sdv"
            }
          },
          "TransactionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Type",
          "Actions"
        ],
        "members": {
          "Name": {},
          "WorkflowName": {},
          "Type": {},
          "Schedule": {},
          "Predicate": {
            "shape": "Sa3"
          },
          "Actions": {
            "shape": "Sa1"
          },
          "Description": {},
          "StartOnCreation": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "Sc0"
          },
          "EventBatchingCondition": {
            "shape": "Saa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "CreateUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionInput": {
            "shape": "Sfh"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "DefaultRunProperties": {
            "shape": "Sai"
          },
          "Tags": {
            "shape": "Sc0"
          },
          "MaxConcurrentRuns": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteBlueprint": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteClassifier": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteColumnStatisticsForPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues",
          "ColumnName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          },
          "ColumnName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteColumnStatisticsForTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "ColumnName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "ColumnName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionName"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteCustomEntityType": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteDataQualityRuleset": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobName": {}
        }
      }
    },
    "DeleteMLTransform": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {}
        }
      }
    },
    "DeletePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePartitionIndex": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "IndexName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "IndexName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRegistry": {
      "input": {
        "type": "structure",
        "required": [
          "RegistryId"
        ],
        "members": {
          "RegistryId": {
            "shape": "Se1"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegistryName": {},
          "RegistryArn": {},
          "Status": {}
        }
      }
    },
    "DeleteResourcePolicy": {
      "input": {
        "type": "structure",
        "members": {
          "PolicyHashCondition": {},
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSchema": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArn": {},
          "SchemaName": {},
          "Status": {}
        }
      }
    },
    "DeleteSchemaVersions": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId",
          "Versions"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sw"
          },
          "Versions": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaVersionErrors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VersionNumber": {
                  "type": "long"
                },
                "ErrorDetails": {
                  "type": "structure",
                  "members": {
                    "ErrorCode": {},
                    "ErrorMessage": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "DeleteSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSession": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {},
          "RequestOrigin": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Id": {}
        }
      }
    },
    "DeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Name": {},
          "TransactionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "VersionId"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "VersionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "GetBlueprint": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "IncludeBlueprint": {
            "type": "boolean"
          },
          "IncludeParameterSpec": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Blueprint": {
            "shape": "S1w"
          }
        }
      }
    },
    "GetBlueprintRun": {
      "input": {
        "type": "structure",
        "required": [
          "BlueprintName",
          "RunId"
        ],
        "members": {
          "BlueprintName": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BlueprintRun": {
            "shape": "She"
          }
        }
      }
    },
    "GetBlueprintRuns": {
      "input": {
        "type": "structure",
        "required": [
          "BlueprintName"
        ],
        "members": {
          "BlueprintName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BlueprintRuns": {
            "type": "list",
            "member": {
              "shape": "She"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCatalogImportStatus": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportStatus": {
            "type": "structure",
            "members": {
              "ImportCompleted": {
                "type": "boolean"
              },
              "ImportTime": {
                "type": "timestamp"
              },
              "ImportedBy": {}
            }
          }
        }
      }
    },
    "GetClassifier": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Classifier": {
            "shape": "Shs"
          }
        }
      }
    },
    "GetClassifiers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Classifiers": {
            "type": "list",
            "member": {
              "shape": "Shs"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetColumnStatisticsForPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues",
          "ColumnNames"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          },
          "ColumnNames": {
            "shape": "Si2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ColumnStatisticsList": {
            "shape": "Si4"
          },
          "Errors": {
            "shape": "Sim"
          }
        }
      }
    },
    "GetColumnStatisticsForTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "ColumnNames"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "ColumnNames": {
            "shape": "Si2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ColumnStatisticsList": {
            "shape": "Si4"
          },
          "Errors": {
            "shape": "Sim"
          }
        }
      }
    },
    "GetConnection": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {},
          "HidePassword": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "Sis"
          }
        }
      }
    },
    "GetConnections": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {},
          "Filter": {
            "type": "structure",
            "members": {
              "MatchCriteria": {
                "shape": "Scn"
              },
              "ConnectionType": {}
            }
          },
          "HidePassword": {
            "type": "boolean"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConnectionList": {
            "type": "list",
            "member": {
              "shape": "Sis"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawler": {
            "shape": "S29"
          }
        }
      }
    },
    "GetCrawlerMetrics": {
      "input": {
        "type": "structure",
        "members": {
          "CrawlerNameList": {
            "shape": "S26"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CrawlerMetricsList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CrawlerName": {},
                "TimeLeftSeconds": {
                  "type": "double"
                },
                "StillEstimating": {
                  "type": "boolean"
                },
                "LastRuntimeSeconds": {
                  "type": "double"
                },
                "MedianRuntimeSeconds": {
                  "type": "double"
                },
                "TablesCreated": {
                  "type": "integer"
                },
                "TablesUpdated": {
                  "type": "integer"
                },
                "TablesDeleted": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCrawlers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawlers": {
            "shape": "S28"
          },
          "NextToken": {}
        }
      }
    },
    "GetCustomEntityType": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "RegexString": {},
          "ContextWords": {
            "shape": "S3r"
          }
        }
      }
    },
    "GetDataCatalogEncryptionSettings": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataCatalogEncryptionSettings": {
            "shape": "Sj9"
          }
        }
      }
    },
    "GetDataQualityResult": {
      "input": {
        "type": "structure",
        "required": [
          "ResultId"
        ],
        "members": {
          "ResultId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResultId": {},
          "Score": {
            "type": "double"
          },
          "DataSource": {
            "shape": "S3z"
          },
          "RulesetName": {},
          "EvaluationContext": {},
          "StartedOn": {
            "type": "timestamp"
          },
          "CompletedOn": {
            "type": "timestamp"
          },
          "JobName": {},
          "JobRunId": {},
          "RulesetEvaluationRunId": {},
          "RuleResults": {
            "shape": "S42"
          }
        }
      }
    },
    "GetDataQualityRuleRecommendationRun": {
      "input": {
        "type": "structure",
        "required": [
          "RunId"
        ],
        "members": {
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RunId": {},
          "DataSource": {
            "shape": "S3z"
          },
          "Role": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "Status": {},
          "ErrorString": {},
          "StartedOn": {
            "type": "timestamp"
          },
          "LastModifiedOn": {
            "type": "timestamp"
          },
          "CompletedOn": {
            "type": "timestamp"
          },
          "ExecutionTime": {
            "type": "integer"
          },
          "RecommendedRuleset": {},
          "CreatedRulesetName": {}
        }
      }
    },
    "GetDataQualityRuleset": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "Description": {},
          "Ruleset": {},
          "TargetTable": {
            "shape": "Scz"
          },
          "CreatedOn": {
            "type": "timestamp"
          },
          "LastModifiedOn": {
            "type": "timestamp"
          },
          "RecommendationRunId": {}
        }
      }
    },
    "GetDataQualityRulesetEvaluationRun": {
      "input": {
        "type": "structure",
        "required": [
          "RunId"
        ],
        "members": {
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RunId": {},
          "DataSource": {
            "shape": "S3z"
          },
          "Role": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "AdditionalRunOptions": {
            "shape": "Sjl"
          },
          "Status": {},
          "ErrorString": {},
          "StartedOn": {
            "type": "timestamp"
          },
          "LastModifiedOn": {
            "type": "timestamp"
          },
          "CompletedOn": {
            "type": "timestamp"
          },
          "ExecutionTime": {
            "type": "integer"
          },
          "RulesetNames": {
            "shape": "Sjm"
          },
          "ResultIds": {
            "type": "list",
            "member": {}
          },
          "AdditionalDataSources": {
            "shape": "Sjo"
          }
        }
      }
    },
    "GetDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Database": {
            "shape": "Sjr"
          }
        }
      }
    },
    "GetDatabases": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "ResourceShareType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DatabaseList"
        ],
        "members": {
          "DatabaseList": {
            "type": "list",
            "member": {
              "shape": "Sjr"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetDataflowGraph": {
      "input": {
        "type": "structure",
        "members": {
          "PythonScript": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DagNodes": {
            "shape": "Se8"
          },
          "DagEdges": {
            "shape": "Seg"
          }
        }
      }
    },
    "GetDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoint": {
            "shape": "S4a"
          }
        }
      }
    },
    "GetDevEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoints": {
            "shape": "S49"
          },
          "NextToken": {}
        }
      }
    },
    "GetJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "shape": "S4m"
          }
        }
      }
    },
    "GetJobBookmark": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobBookmarkEntry": {
            "shape": "Sk9"
          }
        }
      }
    },
    "GetJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "RunId"
        ],
        "members": {
          "JobName": {},
          "RunId": {},
          "PredecessorsIncluded": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRun": {
            "shape": "Sat"
          }
        }
      }
    },
    "GetJobRuns": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRuns": {
            "shape": "Sas"
          },
          "NextToken": {}
        }
      }
    },
    "GetJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "shape": "S4l"
          },
          "NextToken": {}
        }
      }
    },
    "GetMLTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId",
          "TaskRunId"
        ],
        "members": {
          "TransformId": {},
          "TaskRunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {},
          "TaskRunId": {},
          "Status": {},
          "LogGroupName": {},
          "Properties": {
            "shape": "Skj"
          },
          "ErrorString": {},
          "StartedOn": {
            "type": "timestamp"
          },
          "LastModifiedOn": {
            "type": "timestamp"
          },
          "CompletedOn": {
            "type": "timestamp"
          },
          "ExecutionTime": {
            "type": "integer"
          }
        }
      }
    },
    "GetMLTaskRuns": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filter": {
            "type": "structure",
            "members": {
              "TaskRunType": {},
              "Status": {},
              "StartedBefore": {
                "type": "timestamp"
              },
              "StartedAfter": {
                "type": "timestamp"
              }
            }
          },
          "Sort": {
            "type": "structure",
            "required": [
              "Column",
              "SortDirection"
            ],
            "members": {
              "Column": {},
              "SortDirection": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TaskRuns": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TransformId": {},
                "TaskRunId": {},
                "Status": {},
                "LogGroupName": {},
                "Properties": {
                  "shape": "Skj"
                },
                "ErrorString": {},
                "StartedOn": {
                  "type": "timestamp"
                },
                "LastModifiedOn": {
                  "type": "timestamp"
                },
                "CompletedOn": {
                  "type": "timestamp"
                },
                "ExecutionTime": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetMLTransform": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {},
          "Name": {},
          "Description": {},
          "Status": {},
          "CreatedOn": {
            "type": "timestamp"
          },
          "LastModifiedOn": {
            "type": "timestamp"
          },
          "InputRecordTables": {
            "shape": "Sdj"
          },
          "Parameters": {
            "shape": "Sdk"
          },
          "EvaluationMetrics": {
            "shape": "Sl2"
          },
          "LabelCount": {
            "type": "integer"
          },
          "Schema": {
            "shape": "Sl9"
          },
          "Role": {},
          "GlueVersion": {},
          "MaxCapacity": {
            "type": "double"
          },
          "WorkerType": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "TransformEncryption": {
            "shape": "Sdo"
          }
        }
      }
    },
    "GetMLTransforms": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filter": {
            "shape": "Slc"
          },
          "Sort": {
            "shape": "Sld"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Transforms"
        ],
        "members": {
          "Transforms": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TransformId": {},
                "Name": {},
                "Description": {},
                "Status": {},
                "CreatedOn": {
                  "type": "timestamp"
                },
                "LastModifiedOn": {
                  "type": "timestamp"
                },
                "InputRecordTables": {
                  "shape": "Sdj"
                },
                "Parameters": {
                  "shape": "Sdk"
                },
                "EvaluationMetrics": {
                  "shape": "Sl2"
                },
                "LabelCount": {
                  "type": "integer"
                },
                "Schema": {
                  "shape": "Sl9"
                },
                "Role": {},
                "GlueVersion": {},
                "MaxCapacity": {
                  "type": "double"
                },
                "WorkerType": {},
                "NumberOfWorkers": {
                  "type": "integer"
                },
                "Timeout": {
                  "type": "integer"
                },
                "MaxRetries": {
                  "type": "integer"
                },
                "TransformEncryption": {
                  "shape": "Sdo"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetMapping": {
      "input": {
        "type": "structure",
        "required": [
          "Source"
        ],
        "members": {
          "Source": {
            "shape": "Slj"
          },
          "Sinks": {
            "shape": "Slk"
          },
          "Location": {
            "shape": "Sll"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Mapping"
        ],
        "members": {
          "Mapping": {
            "shape": "Sln"
          }
        }
      }
    },
    "GetPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partition": {
            "shape": "S9s"
          }
        }
      }
    },
    "GetPartitionIndexes": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PartitionIndexDescriptorList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "IndexName",
                "Keys",
                "IndexStatus"
              ],
              "members": {
                "IndexName": {},
                "Keys": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "Name",
                      "Type"
                    ],
                    "members": {
                      "Name": {},
                      "Type": {}
                    }
                  }
                },
                "IndexStatus": {},
                "BackfillErrors": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Code": {},
                      "Partitions": {
                        "type": "list",
                        "member": {
                          "shape": "S1c"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetPartitions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "Expression": {},
          "NextToken": {},
          "Segment": {
            "shape": "Sm7"
          },
          "MaxResults": {
            "type": "integer"
          },
          "ExcludeColumnSchema": {
            "type": "boolean"
          },
          "TransactionId": {},
          "QueryAsOfTime": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partitions": {
            "shape": "S9r"
          },
          "NextToken": {}
        }
      }
    },
    "GetPlan": {
      "input": {
        "type": "structure",
        "required": [
          "Mapping",
          "Source"
        ],
        "members": {
          "Mapping": {
            "shape": "Sln"
          },
          "Source": {
            "shape": "Slj"
          },
          "Sinks": {
            "shape": "Slk"
          },
          "Location": {
            "shape": "Sll"
          },
          "Language": {},
          "AdditionalPlanOptionsMap": {
            "type": "map",
            "key": {},
            "value": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PythonScript": {},
          "ScalaCode": {}
        }
      }
    },
    "GetRegistry": {
      "input": {
        "type": "structure",
        "required": [
          "RegistryId"
        ],
        "members": {
          "RegistryId": {
            "shape": "Se1"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegistryName": {},
          "RegistryArn": {},
          "Description": {},
          "Status": {},
          "CreatedTime": {},
          "UpdatedTime": {}
        }
      }
    },
    "GetResourcePolicies": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GetResourcePoliciesResponseList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PolicyInJson": {},
                "PolicyHash": {},
                "CreateTime": {
                  "type": "timestamp"
                },
                "UpdateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetResourcePolicy": {
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyInJson": {},
          "PolicyHash": {},
          "CreateTime": {
            "type": "timestamp"
          },
          "UpdateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetSchema": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegistryName": {},
          "RegistryArn": {},
          "SchemaName": {},
          "SchemaArn": {},
          "Description": {},
          "DataFormat": {},
          "Compatibility": {},
          "SchemaCheckpoint": {
            "type": "long"
          },
          "LatestSchemaVersion": {
            "type": "long"
          },
          "NextSchemaVersion": {
            "type": "long"
          },
          "SchemaStatus": {},
          "CreatedTime": {},
          "UpdatedTime": {}
        }
      }
    },
    "GetSchemaByDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId",
          "SchemaDefinition"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sw"
          },
          "SchemaDefinition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaVersionId": {},
          "SchemaArn": {},
          "DataFormat": {},
          "Status": {},
          "CreatedTime": {}
        }
      }
    },
    "GetSchemaVersion": {
      "input": {
        "type": "structure",
        "members": {
          "SchemaId": {
            "shape": "Sw"
          },
          "SchemaVersionId": {},
          "SchemaVersionNumber": {
            "shape": "Smu"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaVersionId": {},
          "SchemaDefinition": {},
          "DataFormat": {},
          "SchemaArn": {},
          "VersionNumber": {
            "type": "long"
          },
          "Status": {},
          "CreatedTime": {}
        }
      }
    },
    "GetSchemaVersionsDiff": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId",
          "FirstSchemaVersionNumber",
          "SecondSchemaVersionNumber",
          "SchemaDiffType"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sw"
          },
          "FirstSchemaVersionNumber": {
            "shape": "Smu"
          },
          "SecondSchemaVersionNumber": {
            "shape": "Smu"
          },
          "SchemaDiffType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Diff": {}
        }
      }
    },
    "GetSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityConfiguration": {
            "shape": "Sn3"
          }
        }
      }
    },
    "GetSecurityConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityConfigurations": {
            "type": "list",
            "member": {
              "shape": "Sn3"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetSession": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {},
          "RequestOrigin": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Session": {
            "shape": "Sf3"
          }
        }
      }
    },
    "GetStatement": {
      "input": {
        "type": "structure",
        "required": [
          "SessionId",
          "Id"
        ],
        "members": {
          "SessionId": {},
          "Id": {
            "type": "integer"
          },
          "RequestOrigin": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Statement": {
            "shape": "Snb"
          }
        }
      }
    },
    "GetTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Name": {},
          "TransactionId": {},
          "QueryAsOfTime": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Table": {
            "shape": "Sni"
          }
        }
      }
    },
    "GetTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "VersionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableVersion": {
            "shape": "Snm"
          }
        }
      }
    },
    "GetTableVersions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableVersions": {
            "type": "list",
            "member": {
              "shape": "Snm"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTables": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Expression": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "TransactionId": {},
          "QueryAsOfTime": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableList": {
            "shape": "Snt"
          },
          "NextToken": {}
        }
      }
    },
    "GetTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Sc0"
          }
        }
      }
    },
    "GetTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trigger": {
            "shape": "S9x"
          }
        }
      }
    },
    "GetTriggers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DependentJobName": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Triggers": {
            "shape": "S9w"
          },
          "NextToken": {}
        }
      }
    },
    "GetUnfilteredPartitionMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "CatalogId",
          "DatabaseName",
          "TableName",
          "PartitionValues",
          "SupportedPermissionTypes"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          },
          "AuditContext": {
            "shape": "So1"
          },
          "SupportedPermissionTypes": {
            "shape": "So4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partition": {
            "shape": "S9s"
          },
          "AuthorizedColumns": {
            "shape": "Sn"
          },
          "IsRegisteredWithLakeFormation": {
            "type": "boolean"
          }
        }
      }
    },
    "GetUnfilteredPartitionsMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "CatalogId",
          "DatabaseName",
          "TableName",
          "SupportedPermissionTypes"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "Expression": {},
          "AuditContext": {
            "shape": "So1"
          },
          "SupportedPermissionTypes": {
            "shape": "So4"
          },
          "NextToken": {},
          "Segment": {
            "shape": "Sm7"
          },
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UnfilteredPartitions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Partition": {
                  "shape": "S9s"
                },
                "AuthorizedColumns": {
                  "shape": "Sn"
                },
                "IsRegisteredWithLakeFormation": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetUnfilteredTableMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "CatalogId",
          "DatabaseName",
          "Name",
          "SupportedPermissionTypes"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Name": {},
          "AuditContext": {
            "shape": "So1"
          },
          "SupportedPermissionTypes": {
            "shape": "So4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Table": {
            "shape": "Sni"
          },
          "AuthorizedColumns": {
            "shape": "Sn"
          },
          "IsRegisteredWithLakeFormation": {
            "type": "boolean"
          },
          "CellFilters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ColumnName": {},
                "RowFilterExpression": {}
              }
            }
          }
        }
      }
    },
    "GetUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserDefinedFunction": {
            "shape": "Soh"
          }
        }
      }
    },
    "GetUserDefinedFunctions": {
      "input": {
        "type": "structure",
        "required": [
          "Pattern"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Pattern": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserDefinedFunctions": {
            "type": "list",
            "member": {
              "shape": "Soh"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "IncludeGraph": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workflow": {
            "shape": "Sah"
          }
        }
      }
    },
    "GetWorkflowRun": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {},
          "RunId": {},
          "IncludeGraph": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Run": {
            "shape": "Saj"
          }
        }
      }
    },
    "GetWorkflowRunProperties": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RunProperties": {
            "shape": "Sai"
          }
        }
      }
    },
    "GetWorkflowRuns": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "IncludeGraph": {
            "type": "boolean"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Runs": {
            "type": "list",
            "member": {
              "shape": "Saj"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ImportCatalogToGlue": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListBlueprints": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Blueprints": {
            "shape": "S24"
          },
          "NextToken": {}
        }
      }
    },
    "ListCrawlers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CrawlerNames": {
            "shape": "S26"
          },
          "NextToken": {}
        }
      }
    },
    "ListCrawls": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FieldName": {},
                "FilterOperator": {},
                "FieldValue": {}
              }
            }
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawls": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CrawlId": {},
                "State": {},
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "Summary": {},
                "ErrorMessage": {},
                "LogGroup": {},
                "LogStream": {},
                "MessagePrefix": {},
                "DPUHour": {
                  "type": "double"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCustomEntityTypes": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CustomEntityTypes": {
            "shape": "S3p"
          },
          "NextToken": {}
        }
      }
    },
    "ListDataQualityResults": {
      "input": {
        "type": "structure",
        "members": {
          "Filter": {
            "type": "structure",
            "members": {
              "DataSource": {
                "shape": "S3z"
              },
              "JobName": {},
              "JobRunId": {},
              "StartedAfter": {
                "type": "timestamp"
              },
              "StartedBefore": {
                "type": "timestamp"
              }
            }
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Results"
        ],
        "members": {
          "Results": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResultId": {},
                "DataSource": {
                  "shape": "S3z"
                },
                "JobName": {},
                "JobRunId": {},
                "StartedOn": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDataQualityRuleRecommendationRuns": {
      "input": {
        "type": "structure",
        "members": {
          "Filter": {
            "type": "structure",
            "required": [
              "DataSource"
            ],
            "members": {
              "DataSource": {
                "shape": "S3z"
              },
              "StartedBefore": {
                "type": "timestamp"
              },
              "StartedAfter": {
                "type": "timestamp"
              }
            }
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Runs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RunId": {},
                "Status": {},
                "StartedOn": {
                  "type": "timestamp"
                },
                "DataSource": {
                  "shape": "S3z"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDataQualityRulesetEvaluationRuns": {
      "input": {
        "type": "structure",
        "members": {
          "Filter": {
            "type": "structure",
            "required": [
              "DataSource"
            ],
            "members": {
              "DataSource": {
                "shape": "S3z"
              },
              "StartedBefore": {
                "type": "timestamp"
              },
              "StartedAfter": {
                "type": "timestamp"
              }
            }
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Runs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RunId": {},
                "Status": {},
                "StartedOn": {
                  "type": "timestamp"
                },
                "DataSource": {
                  "shape": "S3z"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDataQualityRulesets": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filter": {
            "type": "structure",
            "members": {
              "Name": {},
              "Description": {},
              "CreatedBefore": {
                "type": "timestamp"
              },
              "CreatedAfter": {
                "type": "timestamp"
              },
              "LastModifiedBefore": {
                "type": "timestamp"
              },
              "LastModifiedAfter": {
                "type": "timestamp"
              },
              "TargetTable": {
                "shape": "Scz"
              }
            }
          },
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Rulesets": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Description": {},
                "CreatedOn": {
                  "type": "timestamp"
                },
                "LastModifiedOn": {
                  "type": "timestamp"
                },
                "TargetTable": {
                  "shape": "Scz"
                },
                "RecommendationRunId": {},
                "RuleCount": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDevEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpointNames": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobNames": {
            "shape": "S4j"
          },
          "NextToken": {}
        }
      }
    },
    "ListMLTransforms": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filter": {
            "shape": "Slc"
          },
          "Sort": {
            "shape": "Sld"
          },
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformIds"
        ],
        "members": {
          "TransformIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListRegistries": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Registries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RegistryName": {},
                "RegistryArn": {},
                "Description": {},
                "Status": {},
                "CreatedTime": {},
                "UpdatedTime": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSchemaVersions": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sw"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Schemas": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SchemaArn": {},
                "SchemaVersionId": {},
                "VersionNumber": {
                  "type": "long"
                },
                "Status": {},
                "CreatedTime": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSchemas": {
      "input": {
        "type": "structure",
        "members": {
          "RegistryId": {
            "shape": "Se1"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Schemas": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RegistryName": {},
                "SchemaName": {},
                "SchemaArn": {},
                "Description": {},
                "SchemaStatus": {},
                "CreatedTime": {},
                "UpdatedTime": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSessions": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "Sc0"
          },
          "RequestOrigin": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Ids": {
            "type": "list",
            "member": {}
          },
          "Sessions": {
            "type": "list",
            "member": {
              "shape": "Sf3"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListStatements": {
      "input": {
        "type": "structure",
        "required": [
          "SessionId"
        ],
        "members": {
          "SessionId": {},
          "RequestOrigin": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Statements": {
            "type": "list",
            "member": {
              "shape": "Snb"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTriggers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DependentJobName": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "Sc0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TriggerNames": {
            "shape": "S9u"
          },
          "NextToken": {}
        }
      }
    },
    "ListWorkflows": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workflows": {
            "shape": "Sae"
          },
          "NextToken": {}
        }
      }
    },
    "PutDataCatalogEncryptionSettings": {
      "input": {
        "type": "structure",
        "required": [
          "DataCatalogEncryptionSettings"
        ],
        "members": {
          "CatalogId": {},
          "DataCatalogEncryptionSettings": {
            "shape": "Sj9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutResourcePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyInJson"
        ],
        "members": {
          "PolicyInJson": {},
          "ResourceArn": {},
          "PolicyHashCondition": {},
          "PolicyExistsCondition": {},
          "EnableHybrid": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyHash": {}
        }
      }
    },
    "PutSchemaVersionMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "MetadataKeyValue"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sw"
          },
          "SchemaVersionNumber": {
            "shape": "Smu"
          },
          "SchemaVersionId": {},
          "MetadataKeyValue": {
            "shape": "Sr1"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArn": {},
          "SchemaName": {},
          "RegistryName": {},
          "LatestVersion": {
            "type": "boolean"
          },
          "VersionNumber": {
            "type": "long"
          },
          "SchemaVersionId": {},
          "MetadataKey": {},
          "MetadataValue": {}
        }
      }
    },
    "PutWorkflowRunProperties": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId",
          "RunProperties"
        ],
        "members": {
          "Name": {},
          "RunId": {},
          "RunProperties": {
            "shape": "Sai"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "QuerySchemaVersionMetadata": {
      "input": {
        "type": "structure",
        "members": {
          "SchemaId": {
            "shape": "Sw"
          },
          "SchemaVersionNumber": {
            "shape": "Smu"
          },
          "SchemaVersionId": {},
          "MetadataList": {
            "type": "list",
            "member": {
              "shape": "Sr1"
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MetadataInfoMap": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "members": {
                "MetadataValue": {},
                "CreatedTime": {},
                "OtherMetadataValueList": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "MetadataValue": {},
                      "CreatedTime": {}
                    }
                  }
                }
              }
            }
          },
          "SchemaVersionId": {},
          "NextToken": {}
        }
      }
    },
    "RegisterSchemaVersion": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId",
          "SchemaDefinition"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sw"
          },
          "SchemaDefinition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaVersionId": {},
          "VersionNumber": {
            "type": "long"
          },
          "Status": {}
        }
      }
    },
    "RemoveSchemaVersionMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "MetadataKeyValue"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sw"
          },
          "SchemaVersionNumber": {
            "shape": "Smu"
          },
          "SchemaVersionId": {},
          "MetadataKeyValue": {
            "shape": "Sr1"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArn": {},
          "SchemaName": {},
          "RegistryName": {},
          "LatestVersion": {
            "type": "boolean"
          },
          "VersionNumber": {
            "type": "long"
          },
          "SchemaVersionId": {},
          "MetadataKey": {},
          "MetadataValue": {}
        }
      }
    },
    "ResetJobBookmark": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobBookmarkEntry": {
            "shape": "Sk9"
          }
        }
      }
    },
    "ResumeWorkflowRun": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId",
          "NodeIds"
        ],
        "members": {
          "Name": {},
          "RunId": {},
          "NodeIds": {
            "shape": "Srm"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RunId": {},
          "NodeIds": {
            "shape": "Srm"
          }
        }
      }
    },
    "RunStatement": {
[...]
