{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-03-31",
    "endpointPrefix": "glue",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Glue",
    "serviceId": "Glue",
    "signatureVersion": "v4",
    "targetPrefix": "AWSGlue",
    "uid": "glue-2017-03-31"
  },
  "operations": {
    "BatchCreatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionInputList"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionInputList": {
            "type": "list",
            "member": {
              "shape": "S5"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "S11"
          }
        }
      }
    },
    "BatchDeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionNameList"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionNameList": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Succeeded": {
            "shape": "Sm"
          },
          "Errors": {
            "type": "map",
            "key": {},
            "value": {
              "shape": "S13"
            }
          }
        }
      }
    },
    "BatchDeletePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionsToDelete"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionsToDelete": {
            "type": "list",
            "member": {
              "shape": "S1b"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "S11"
          }
        }
      }
    },
    "BatchDeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TablesToDelete"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TablesToDelete": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TableName": {},
                "ErrorDetail": {
                  "shape": "S13"
                }
              }
            }
          }
        }
      }
    },
    "BatchDeleteTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "VersionIds"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "VersionIds": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TableName": {},
                "VersionId": {},
                "ErrorDetail": {
                  "shape": "S13"
                }
              }
            }
          }
        }
      }
    },
    "BatchGetCrawlers": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerNames"
        ],
        "members": {
          "CrawlerNames": {
            "shape": "S1p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawlers": {
            "shape": "S1r"
          },
          "CrawlersNotFound": {
            "shape": "S1p"
          }
        }
      }
    },
    "BatchGetDevEndpoints": {
      "input": {
        "type": "structure",
        "required": [
          "DevEndpointNames"
        ],
        "members": {
          "DevEndpointNames": {
            "shape": "S2z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoints": {
            "shape": "S32"
          },
          "DevEndpointsNotFound": {
            "shape": "S2z"
          }
        }
      }
    },
    "BatchGetJobs": {
      "input": {
        "type": "structure",
        "required": [
          "JobNames"
        ],
        "members": {
          "JobNames": {
            "shape": "S3e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "shape": "S3g"
          },
          "JobsNotFound": {
            "shape": "S3e"
          }
        }
      }
    },
    "BatchGetPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionsToGet"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionsToGet": {
            "shape": "S3x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partitions": {
            "shape": "S3z"
          },
          "UnprocessedKeys": {
            "shape": "S3x"
          }
        }
      }
    },
    "BatchGetTriggers": {
      "input": {
        "type": "structure",
        "required": [
          "TriggerNames"
        ],
        "members": {
          "TriggerNames": {
            "shape": "S42"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Triggers": {
            "shape": "S44"
          },
          "TriggersNotFound": {
            "shape": "S42"
          }
        }
      }
    },
    "BatchGetWorkflows": {
      "input": {
        "type": "structure",
        "required": [
          "Names"
        ],
        "members": {
          "Names": {
            "shape": "S4j"
          },
          "IncludeGraph": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workflows": {
            "type": "list",
            "member": {
              "shape": "S4m"
            }
          },
          "MissingWorkflows": {
            "shape": "S4j"
          }
        }
      }
    },
    "BatchStopJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobRunIds"
        ],
        "members": {
          "JobName": {},
          "JobRunIds": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SuccessfulSubmissions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "JobName": {},
                "JobRunId": {}
              }
            }
          },
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "JobName": {},
                "JobRunId": {},
                "ErrorDetail": {
                  "shape": "S13"
                }
              }
            }
          }
        }
      }
    },
    "BatchUpdatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "Entries"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "Entries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "PartitionValueList",
                "PartitionInput"
              ],
              "members": {
                "PartitionValueList": {
                  "shape": "S5j"
                },
                "PartitionInput": {
                  "shape": "S5"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PartitionValueList": {
                  "shape": "S5j"
                },
                "ErrorDetail": {
                  "shape": "S13"
                }
              }
            }
          }
        }
      }
    },
    "CancelMLTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId",
          "TaskRunId"
        ],
        "members": {
          "TransformId": {},
          "TaskRunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {},
          "TaskRunId": {},
          "Status": {}
        }
      }
    },
    "CheckSchemaVersionValidity": {
      "input": {
        "type": "structure",
        "required": [
          "DataFormat",
          "SchemaDefinition"
        ],
        "members": {
          "DataFormat": {},
          "SchemaDefinition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Valid": {
            "type": "boolean"
          },
          "Error": {}
        }
      }
    },
    "CreateClassifier": {
      "input": {
        "type": "structure",
        "members": {
          "GrokClassifier": {
            "type": "structure",
            "required": [
              "Classification",
              "Name",
              "GrokPattern"
            ],
            "members": {
              "Classification": {},
              "Name": {},
              "GrokPattern": {},
              "CustomPatterns": {}
            }
          },
          "XMLClassifier": {
            "type": "structure",
            "required": [
              "Classification",
              "Name"
            ],
            "members": {
              "Classification": {},
              "Name": {},
              "RowTag": {}
            }
          },
          "JsonClassifier": {
            "type": "structure",
            "required": [
              "Name",
              "JsonPath"
            ],
            "members": {
              "Name": {},
              "JsonPath": {}
            }
          },
          "CsvClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Delimiter": {},
              "QuoteSymbol": {},
              "ContainsHeader": {},
              "Header": {
                "shape": "S6a"
              },
              "DisableValueTrimming": {
                "type": "boolean"
              },
              "AllowSingleColumn": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionInput"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionInput": {
            "shape": "S6d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Role",
          "Targets"
        ],
        "members": {
          "Name": {},
          "Role": {},
          "DatabaseName": {},
          "Description": {},
          "Targets": {
            "shape": "S1u"
          },
          "Schedule": {},
          "Classifiers": {
            "shape": "S2c"
          },
          "TablePrefix": {},
          "SchemaChangePolicy": {
            "shape": "S2f"
          },
          "RecrawlPolicy": {
            "shape": "S2d"
          },
          "LineageConfiguration": {
            "shape": "S2i"
          },
          "Configuration": {},
          "CrawlerSecurityConfiguration": {},
          "Tags": {
            "shape": "S6m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseInput": {
            "shape": "S6r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "RoleArn"
        ],
        "members": {
          "EndpointName": {},
          "RoleArn": {},
          "SecurityGroupIds": {
            "shape": "S35"
          },
          "SubnetId": {},
          "PublicKey": {},
          "PublicKeys": {
            "shape": "S3b"
          },
          "NumberOfNodes": {
            "type": "integer"
          },
          "WorkerType": {},
          "GlueVersion": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "ExtraPythonLibsS3Path": {},
          "ExtraJarsS3Path": {},
          "SecurityConfiguration": {},
          "Tags": {
            "shape": "S6m"
          },
          "Arguments": {
            "shape": "S3c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EndpointName": {},
          "Status": {},
          "SecurityGroupIds": {
            "shape": "S35"
          },
          "SubnetId": {},
          "RoleArn": {},
          "YarnEndpointAddress": {},
          "ZeppelinRemoteSparkInterpreterPort": {
            "type": "integer"
          },
          "NumberOfNodes": {
            "type": "integer"
          },
          "WorkerType": {},
          "GlueVersion": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "AvailabilityZone": {},
          "VpcId": {},
          "ExtraPythonLibsS3Path": {},
          "ExtraJarsS3Path": {},
          "FailureReason": {},
          "SecurityConfiguration": {},
          "CreatedTimestamp": {
            "type": "timestamp"
          },
          "Arguments": {
            "shape": "S3c"
          }
        }
      }
    },
    "CreateJob": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Role",
          "Command"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "LogUri": {},
          "Role": {},
          "ExecutionProperty": {
            "shape": "S3k"
          },
          "Command": {
            "shape": "S3m"
          },
          "DefaultArguments": {
            "shape": "S3p"
          },
          "NonOverridableArguments": {
            "shape": "S3p"
          },
          "Connections": {
            "shape": "S3q"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "AllocatedCapacity": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxCapacity": {
            "type": "double"
          },
          "SecurityConfiguration": {},
          "Tags": {
            "shape": "S6m"
          },
          "NotificationProperty": {
            "shape": "S3u"
          },
          "GlueVersion": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "WorkerType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "CreateMLTransform": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "InputRecordTables",
          "Parameters",
          "Role"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "InputRecordTables": {
            "shape": "S76"
          },
          "Parameters": {
            "shape": "S78"
          },
          "Role": {},
          "GlueVersion": {},
          "MaxCapacity": {
            "type": "double"
          },
          "WorkerType": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "Tags": {
            "shape": "S6m"
          },
          "TransformEncryption": {
            "shape": "S7d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {}
        }
      }
    },
    "CreatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionInput": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreatePartitionIndex": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionIndex"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionIndex": {
            "shape": "S7k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateRegistry": {
      "input": {
        "type": "structure",
        "required": [
          "RegistryName"
        ],
        "members": {
          "RegistryName": {},
          "Description": {},
          "Tags": {
            "shape": "S6m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegistryArn": {},
          "RegistryName": {},
          "Description": {},
          "Tags": {
            "shape": "S6m"
          }
        }
      }
    },
    "CreateSchema": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaName",
          "DataFormat"
        ],
        "members": {
          "RegistryId": {
            "shape": "S7q"
          },
          "SchemaName": {},
          "DataFormat": {},
          "Compatibility": {},
          "Description": {},
          "Tags": {
            "shape": "S6m"
          },
          "SchemaDefinition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegistryName": {},
          "RegistryArn": {},
          "SchemaName": {},
          "SchemaArn": {},
          "Description": {},
          "DataFormat": {},
          "Compatibility": {},
          "SchemaCheckpoint": {
            "type": "long"
          },
          "LatestSchemaVersion": {
            "type": "long"
          },
          "NextSchemaVersion": {
            "type": "long"
          },
          "SchemaStatus": {},
          "Tags": {
            "shape": "S6m"
          },
          "SchemaVersionId": {},
          "SchemaVersionStatus": {}
        }
      }
    },
    "CreateScript": {
      "input": {
        "type": "structure",
        "members": {
          "DagNodes": {
            "shape": "S7x"
          },
          "DagEdges": {
            "shape": "S85"
          },
          "Language": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PythonScript": {},
          "ScalaCode": {}
        }
      }
    },
    "CreateSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "EncryptionConfiguration"
        ],
        "members": {
          "Name": {},
          "EncryptionConfiguration": {
            "shape": "S8c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "CreatedTimestamp": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableInput": {
            "shape": "S8n"
          },
          "PartitionIndexes": {
            "type": "list",
            "member": {
              "shape": "S7k"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Type",
          "Actions"
        ],
        "members": {
          "Name": {},
          "WorkflowName": {},
          "Type": {},
          "Schedule": {},
          "Predicate": {
            "shape": "S4b"
          },
          "Actions": {
            "shape": "S49"
          },
          "Description": {},
          "StartOnCreation": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S6m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "CreateUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionInput": {
            "shape": "S8y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "DefaultRunProperties": {
            "shape": "S4n"
          },
          "Tags": {
            "shape": "S6m"
          },
          "MaxConcurrentRuns": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteClassifier": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteColumnStatisticsForPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues",
          "ColumnName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          },
          "ColumnName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteColumnStatisticsForTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "ColumnName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "ColumnName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionName"
        ],
        "members": {
          "CatalogId": {},
          "ConnectionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobName": {}
        }
      }
    },
    "DeleteMLTransform": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {}
        }
      }
    },
    "DeletePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePartitionIndex": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "IndexName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "IndexName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRegistry": {
      "input": {
        "type": "structure",
        "required": [
          "RegistryId"
        ],
        "members": {
          "RegistryId": {
            "shape": "S7q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegistryName": {},
          "RegistryArn": {},
          "Status": {}
        }
      }
    },
    "DeleteResourcePolicy": {
      "input": {
        "type": "structure",
        "members": {
          "PolicyHashCondition": {},
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSchema": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArn": {},
          "SchemaName": {},
          "Status": {}
        }
      }
    },
    "DeleteSchemaVersions": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId",
          "Versions"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sv"
          },
          "Versions": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaVersionErrors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VersionNumber": {
                  "type": "long"
                },
                "ErrorDetails": {
                  "type": "structure",
                  "members": {
                    "ErrorCode": {},
                    "ErrorMessage": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "DeleteSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "VersionId"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "VersionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "DeleteUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "GetCatalogImportStatus": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportStatus": {
            "type": "structure",
            "members": {
              "ImportCompleted": {
                "type": "boolean"
              },
              "ImportTime": {
                "type": "timestamp"
              },
              "ImportedBy": {}
            }
          }
        }
      }
    },
    "GetClassifier": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Classifier": {
            "shape": "Sao"
          }
        }
      }
    },
    "GetClassifiers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Classifiers": {
            "type": "list",
            "member": {
              "shape": "Sao"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetColumnStatisticsForPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues",
          "ColumnNames"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          },
          "ColumnNames": {
            "shape": "Saz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ColumnStatisticsList": {
            "shape": "Sb1"
          },
          "Errors": {
            "shape": "Sbj"
          }
        }
      }
    },
    "GetColumnStatisticsForTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "ColumnNames"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "ColumnNames": {
            "shape": "Saz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ColumnStatisticsList": {
            "shape": "Sb1"
          },
          "Errors": {
            "shape": "Sbj"
          }
        }
      }
    },
    "GetConnection": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {},
          "HidePassword": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "Sbp"
          }
        }
      }
    },
    "GetConnections": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {},
          "Filter": {
            "type": "structure",
            "members": {
              "MatchCriteria": {
                "shape": "S6f"
              },
              "ConnectionType": {}
            }
          },
          "HidePassword": {
            "type": "boolean"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConnectionList": {
            "type": "list",
            "member": {
              "shape": "Sbp"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawler": {
            "shape": "S1s"
          }
        }
      }
    },
    "GetCrawlerMetrics": {
      "input": {
        "type": "structure",
        "members": {
          "CrawlerNameList": {
            "shape": "S1p"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CrawlerMetricsList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CrawlerName": {},
                "TimeLeftSeconds": {
                  "type": "double"
                },
                "StillEstimating": {
                  "type": "boolean"
                },
                "LastRuntimeSeconds": {
                  "type": "double"
                },
                "MedianRuntimeSeconds": {
                  "type": "double"
                },
                "TablesCreated": {
                  "type": "integer"
                },
                "TablesUpdated": {
                  "type": "integer"
                },
                "TablesDeleted": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCrawlers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawlers": {
            "shape": "S1r"
          },
          "NextToken": {}
        }
      }
    },
    "GetDataCatalogEncryptionSettings": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataCatalogEncryptionSettings": {
            "shape": "Sc4"
          }
        }
      }
    },
    "GetDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Database": {
            "shape": "Sca"
          }
        }
      }
    },
    "GetDatabases": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "ResourceShareType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DatabaseList"
        ],
        "members": {
          "DatabaseList": {
            "type": "list",
            "member": {
              "shape": "Sca"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetDataflowGraph": {
      "input": {
        "type": "structure",
        "members": {
          "PythonScript": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DagNodes": {
            "shape": "S7x"
          },
          "DagEdges": {
            "shape": "S85"
          }
        }
      }
    },
    "GetDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoint": {
            "shape": "S33"
          }
        }
      }
    },
    "GetDevEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoints": {
            "shape": "S32"
          },
          "NextToken": {}
        }
      }
    },
    "GetJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "shape": "S3h"
          }
        }
      }
    },
    "GetJobBookmark": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobBookmarkEntry": {
            "shape": "Scs"
          }
        }
      }
    },
    "GetJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "RunId"
        ],
        "members": {
          "JobName": {},
          "RunId": {},
          "PredecessorsIncluded": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRun": {
            "shape": "S4z"
          }
        }
      }
    },
    "GetJobRuns": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRuns": {
            "shape": "S4y"
          },
          "NextToken": {}
        }
      }
    },
    "GetJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "shape": "S3g"
          },
          "NextToken": {}
        }
      }
    },
    "GetMLTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId",
          "TaskRunId"
        ],
        "members": {
          "TransformId": {},
          "TaskRunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {},
          "TaskRunId": {},
          "Status": {},
          "LogGroupName": {},
          "Properties": {
            "shape": "Sd2"
          },
          "ErrorString": {},
          "StartedOn": {
            "type": "timestamp"
          },
          "LastModifiedOn": {
            "type": "timestamp"
          },
          "CompletedOn": {
            "type": "timestamp"
          },
          "ExecutionTime": {
            "type": "integer"
          }
        }
      }
    },
    "GetMLTaskRuns": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filter": {
            "type": "structure",
            "members": {
              "TaskRunType": {},
              "Status": {},
              "StartedBefore": {
                "type": "timestamp"
              },
              "StartedAfter": {
                "type": "timestamp"
              }
            }
          },
          "Sort": {
            "type": "structure",
            "required": [
              "Column",
              "SortDirection"
            ],
            "members": {
              "Column": {},
              "SortDirection": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TaskRuns": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TransformId": {},
                "TaskRunId": {},
                "Status": {},
                "LogGroupName": {},
                "Properties": {
                  "shape": "Sd2"
                },
                "ErrorString": {},
                "StartedOn": {
                  "type": "timestamp"
                },
                "LastModifiedOn": {
                  "type": "timestamp"
                },
                "CompletedOn": {
                  "type": "timestamp"
                },
                "ExecutionTime": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetMLTransform": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {},
          "Name": {},
          "Description": {},
          "Status": {},
          "CreatedOn": {
            "type": "timestamp"
          },
          "LastModifiedOn": {
            "type": "timestamp"
          },
          "InputRecordTables": {
            "shape": "S76"
          },
          "Parameters": {
            "shape": "S78"
          },
          "EvaluationMetrics": {
            "shape": "Sdl"
          },
          "LabelCount": {
            "type": "integer"
          },
          "Schema": {
            "shape": "Sds"
          },
          "Role": {},
          "GlueVersion": {},
          "MaxCapacity": {
            "type": "double"
          },
          "WorkerType": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "TransformEncryption": {
            "shape": "S7d"
          }
        }
      }
    },
    "GetMLTransforms": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filter": {
            "shape": "Sdv"
          },
          "Sort": {
            "shape": "Sdw"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Transforms"
        ],
        "members": {
          "Transforms": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TransformId": {},
                "Name": {},
                "Description": {},
                "Status": {},
                "CreatedOn": {
                  "type": "timestamp"
                },
                "LastModifiedOn": {
                  "type": "timestamp"
                },
                "InputRecordTables": {
                  "shape": "S76"
                },
                "Parameters": {
                  "shape": "S78"
                },
                "EvaluationMetrics": {
                  "shape": "Sdl"
                },
                "LabelCount": {
                  "type": "integer"
                },
                "Schema": {
                  "shape": "Sds"
                },
                "Role": {},
                "GlueVersion": {},
                "MaxCapacity": {
                  "type": "double"
                },
                "WorkerType": {},
                "NumberOfWorkers": {
                  "type": "integer"
                },
                "Timeout": {
                  "type": "integer"
                },
                "MaxRetries": {
                  "type": "integer"
                },
                "TransformEncryption": {
                  "shape": "S7d"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetMapping": {
      "input": {
        "type": "structure",
        "required": [
          "Source"
        ],
        "members": {
          "Source": {
            "shape": "Se2"
          },
          "Sinks": {
            "shape": "Se3"
          },
          "Location": {
            "shape": "Se4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Mapping"
        ],
        "members": {
          "Mapping": {
            "shape": "Se6"
          }
        }
      }
    },
    "GetPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partition": {
            "shape": "S40"
          }
        }
      }
    },
    "GetPartitionIndexes": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PartitionIndexDescriptorList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "IndexName",
                "Keys",
                "IndexStatus"
              ],
              "members": {
                "IndexName": {},
                "Keys": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "Name",
                      "Type"
                    ],
                    "members": {
                      "Name": {},
                      "Type": {}
                    }
                  }
                },
                "IndexStatus": {},
                "BackfillErrors": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Code": {},
                      "Partitions": {
                        "type": "list",
                        "member": {
                          "shape": "S1b"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetPartitions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "Expression": {},
          "NextToken": {},
          "Segment": {
            "type": "structure",
            "required": [
              "SegmentNumber",
              "TotalSegments"
            ],
            "members": {
              "SegmentNumber": {
                "type": "integer"
              },
              "TotalSegments": {
                "type": "integer"
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "ExcludeColumnSchema": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partitions": {
            "shape": "S3z"
          },
          "NextToken": {}
        }
      }
    },
    "GetPlan": {
      "input": {
        "type": "structure",
        "required": [
          "Mapping",
          "Source"
        ],
        "members": {
          "Mapping": {
            "shape": "Se6"
          },
          "Source": {
            "shape": "Se2"
          },
          "Sinks": {
            "shape": "Se3"
          },
          "Location": {
            "shape": "Se4"
          },
          "Language": {},
          "AdditionalPlanOptionsMap": {
            "type": "map",
            "key": {},
            "value": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PythonScript": {},
          "ScalaCode": {}
        }
      }
    },
    "GetRegistry": {
      "input": {
        "type": "structure",
        "required": [
          "RegistryId"
        ],
        "members": {
          "RegistryId": {
            "shape": "S7q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegistryName": {},
          "RegistryArn": {},
          "Description": {},
          "Status": {},
          "CreatedTime": {},
          "UpdatedTime": {}
        }
      }
    },
    "GetResourcePolicies": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GetResourcePoliciesResponseList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PolicyInJson": {},
                "PolicyHash": {},
                "CreateTime": {
                  "type": "timestamp"
                },
                "UpdateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetResourcePolicy": {
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyInJson": {},
          "PolicyHash": {},
          "CreateTime": {
            "type": "timestamp"
          },
          "UpdateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetSchema": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegistryName": {},
          "RegistryArn": {},
          "SchemaName": {},
          "SchemaArn": {},
          "Description": {},
          "DataFormat": {},
          "Compatibility": {},
          "SchemaCheckpoint": {
            "type": "long"
          },
          "LatestSchemaVersion": {
            "type": "long"
          },
          "NextSchemaVersion": {
            "type": "long"
          },
          "SchemaStatus": {},
          "CreatedTime": {},
          "UpdatedTime": {}
        }
      }
    },
    "GetSchemaByDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId",
          "SchemaDefinition"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sv"
          },
          "SchemaDefinition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaVersionId": {},
          "SchemaArn": {},
          "DataFormat": {},
          "Status": {},
          "CreatedTime": {}
        }
      }
    },
    "GetSchemaVersion": {
      "input": {
        "type": "structure",
        "members": {
          "SchemaId": {
            "shape": "Sv"
          },
          "SchemaVersionId": {},
          "SchemaVersionNumber": {
            "shape": "Sfd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaVersionId": {},
          "SchemaDefinition": {},
          "DataFormat": {},
          "SchemaArn": {},
          "VersionNumber": {
            "type": "long"
          },
          "Status": {},
          "CreatedTime": {}
        }
      }
    },
    "GetSchemaVersionsDiff": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId",
          "FirstSchemaVersionNumber",
          "SecondSchemaVersionNumber",
          "SchemaDiffType"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sv"
          },
          "FirstSchemaVersionNumber": {
            "shape": "Sfd"
          },
          "SecondSchemaVersionNumber": {
            "shape": "Sfd"
          },
          "SchemaDiffType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Diff": {}
        }
      }
    },
    "GetSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityConfiguration": {
            "shape": "Sfm"
          }
        }
      }
    },
    "GetSecurityConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityConfigurations": {
            "type": "list",
            "member": {
              "shape": "Sfm"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Name"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Table": {
            "shape": "Sfs"
          }
        }
      }
    },
    "GetTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "VersionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableVersion": {
            "shape": "Sfv"
          }
        }
      }
    },
    "GetTableVersions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableVersions": {
            "type": "list",
            "member": {
              "shape": "Sfv"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTables": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Expression": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableList": {
            "shape": "Sg2"
          },
          "NextToken": {}
        }
      }
    },
    "GetTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S6m"
          }
        }
      }
    },
    "GetTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trigger": {
            "shape": "S45"
          }
        }
      }
    },
    "GetTriggers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DependentJobName": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Triggers": {
            "shape": "S44"
          },
          "NextToken": {}
        }
      }
    },
    "GetUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserDefinedFunction": {
            "shape": "Sgb"
          }
        }
      }
    },
    "GetUserDefinedFunctions": {
      "input": {
        "type": "structure",
        "required": [
          "Pattern"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "Pattern": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserDefinedFunctions": {
            "type": "list",
            "member": {
              "shape": "Sgb"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "IncludeGraph": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workflow": {
            "shape": "S4m"
          }
        }
      }
    },
    "GetWorkflowRun": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {},
          "RunId": {},
          "IncludeGraph": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Run": {
            "shape": "S4o"
          }
        }
      }
    },
    "GetWorkflowRunProperties": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RunProperties": {
            "shape": "S4n"
          }
        }
      }
    },
    "GetWorkflowRuns": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "IncludeGraph": {
            "type": "boolean"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Runs": {
            "type": "list",
            "member": {
              "shape": "S4o"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ImportCatalogToGlue": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListCrawlers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Tags": {
            "shape": "S6m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CrawlerNames": {
            "shape": "S1p"
          },
          "NextToken": {}
        }
      }
    },
    "ListDevEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "S6m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpointNames": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "S6m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobNames": {
            "shape": "S3e"
          },
          "NextToken": {}
        }
      }
    },
    "ListMLTransforms": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "Filter": {
            "shape": "Sdv"
          },
          "Sort": {
            "shape": "Sdw"
          },
          "Tags": {
            "shape": "S6m"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformIds"
        ],
        "members": {
          "TransformIds": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListRegistries": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Registries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RegistryName": {},
                "RegistryArn": {},
                "Description": {},
                "Status": {},
                "CreatedTime": {},
                "UpdatedTime": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSchemaVersions": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sv"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Schemas": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SchemaArn": {},
                "SchemaVersionId": {},
                "VersionNumber": {
                  "type": "long"
                },
                "Status": {},
                "CreatedTime": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSchemas": {
      "input": {
        "type": "structure",
        "members": {
          "RegistryId": {
            "shape": "S7q"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Schemas": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RegistryName": {},
                "SchemaName": {},
                "SchemaArn": {},
                "Description": {},
                "SchemaStatus": {},
                "CreatedTime": {},
                "UpdatedTime": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTriggers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DependentJobName": {},
          "MaxResults": {
            "type": "integer"
          },
          "Tags": {
            "shape": "S6m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TriggerNames": {
            "shape": "S42"
          },
          "NextToken": {}
        }
      }
    },
    "ListWorkflows": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Workflows": {
            "shape": "S4j"
          },
          "NextToken": {}
        }
      }
    },
    "PutDataCatalogEncryptionSettings": {
      "input": {
        "type": "structure",
        "required": [
          "DataCatalogEncryptionSettings"
        ],
        "members": {
          "CatalogId": {},
          "DataCatalogEncryptionSettings": {
            "shape": "Sc4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutResourcePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyInJson"
        ],
        "members": {
          "PolicyInJson": {},
          "ResourceArn": {},
          "PolicyHashCondition": {},
          "PolicyExistsCondition": {},
          "EnableHybrid": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyHash": {}
        }
      }
    },
    "PutSchemaVersionMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "MetadataKeyValue"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sv"
          },
          "SchemaVersionNumber": {
            "shape": "Sfd"
          },
          "SchemaVersionId": {},
          "MetadataKeyValue": {
            "shape": "Shp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArn": {},
          "SchemaName": {},
          "RegistryName": {},
          "LatestVersion": {
            "type": "boolean"
          },
          "VersionNumber": {
            "type": "long"
          },
          "SchemaVersionId": {},
          "MetadataKey": {},
          "MetadataValue": {}
        }
      }
    },
    "PutWorkflowRunProperties": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId",
          "RunProperties"
        ],
        "members": {
          "Name": {},
          "RunId": {},
          "RunProperties": {
            "shape": "S4n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "QuerySchemaVersionMetadata": {
      "input": {
        "type": "structure",
        "members": {
          "SchemaId": {
            "shape": "Sv"
          },
          "SchemaVersionNumber": {
            "shape": "Sfd"
          },
          "SchemaVersionId": {},
          "MetadataList": {
            "type": "list",
            "member": {
              "shape": "Shp"
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MetadataInfoMap": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "members": {
                "MetadataValue": {},
                "CreatedTime": {}
              }
            }
          },
          "SchemaVersionId": {},
          "NextToken": {}
        }
      }
    },
    "RegisterSchemaVersion": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId",
          "SchemaDefinition"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sv"
          },
          "SchemaDefinition": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaVersionId": {},
          "VersionNumber": {
            "type": "long"
          },
          "Status": {}
        }
      }
    },
    "RemoveSchemaVersionMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "MetadataKeyValue"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sv"
          },
          "SchemaVersionNumber": {
            "shape": "Sfd"
          },
          "SchemaVersionId": {},
          "MetadataKeyValue": {
            "shape": "Shp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArn": {},
          "SchemaName": {},
          "RegistryName": {},
          "LatestVersion": {
            "type": "boolean"
          },
          "VersionNumber": {
            "type": "long"
          },
          "SchemaVersionId": {},
          "MetadataKey": {},
          "MetadataValue": {}
        }
      }
    },
    "ResetJobBookmark": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobBookmarkEntry": {
            "shape": "Scs"
          }
        }
      }
    },
    "ResumeWorkflowRun": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId",
          "NodeIds"
        ],
        "members": {
          "Name": {},
          "RunId": {},
          "NodeIds": {
            "shape": "Si8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RunId": {},
          "NodeIds": {
            "shape": "Si8"
          }
        }
      }
    },
    "SearchTables": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {},
          "NextToken": {},
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Key": {},
                "Value": {},
                "Comparator": {}
              }
            }
          },
          "SearchText": {},
          "SortCriteria": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "FieldName": {},
                "Sort": {}
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "ResourceShareType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "TableList": {
            "shape": "Sg2"
          }
        }
      }
    },
    "StartCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartExportLabelsTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId",
          "OutputS3Path"
        ],
        "members": {
          "TransformId": {},
          "OutputS3Path": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TaskRunId": {}
        }
      }
    },
    "StartImportLabelsTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId",
          "InputS3Path"
        ],
        "members": {
          "TransformId": {},
          "InputS3Path": {},
          "ReplaceAllLabels": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TaskRunId": {}
        }
      }
    },
    "StartJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {},
          "JobRunId": {},
          "Arguments": {
            "shape": "S3p"
          },
          "AllocatedCapacity": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxCapacity": {
            "type": "double"
          },
          "SecurityConfiguration": {},
          "NotificationProperty": {
            "shape": "S3u"
          },
          "WorkerType": {},
          "NumberOfWorkers": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRunId": {}
        }
      }
    },
    "StartMLEvaluationTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TaskRunId": {}
        }
      }
    },
    "StartMLLabelingSetGenerationTaskRun": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId",
          "OutputS3Path"
        ],
        "members": {
          "TransformId": {},
          "OutputS3Path": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TaskRunId": {}
        }
      }
    },
    "StartTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "StartWorkflowRun": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RunId": {}
        }
      }
    },
    "StopCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    },
    "StopWorkflowRun": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RunId"
        ],
        "members": {
          "Name": {},
          "RunId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagsToAdd"
        ],
        "members": {
          "ResourceArn": {},
          "TagsToAdd": {
            "shape": "S6m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagsToRemove"
        ],
        "members": {
          "ResourceArn": {},
          "TagsToRemove": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateClassifier": {
      "input": {
        "type": "structure",
        "members": {
          "GrokClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Classification": {},
              "GrokPattern": {},
              "CustomPatterns": {}
            }
          },
          "XMLClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Classification": {},
              "RowTag": {}
            }
          },
          "JsonClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "JsonPath": {}
            }
          },
          "CsvClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {},
              "Delimiter": {},
              "QuoteSymbol": {},
              "ContainsHeader": {},
              "Header": {
                "shape": "S6a"
              },
              "DisableValueTrimming": {
                "type": "boolean"
              },
              "AllowSingleColumn": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateColumnStatisticsForPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues",
          "ColumnStatisticsList"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValues": {
            "shape": "S6"
          },
          "ColumnStatisticsList": {
            "shape": "Sjk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "Sjm"
          }
        }
      }
    },
    "UpdateColumnStatisticsForTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "ColumnStatisticsList"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "ColumnStatisticsList": {
            "shape": "Sjk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "Sjm"
          }
        }
      }
    },
    "UpdateConnection": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ConnectionInput"
        ],
        "members": {
          "CatalogId": {},
          "Name": {},
          "ConnectionInput": {
            "shape": "S6d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Role": {},
          "DatabaseName": {},
          "Description": {},
          "Targets": {
            "shape": "S1u"
          },
          "Schedule": {},
          "Classifiers": {
            "shape": "S2c"
          },
          "TablePrefix": {},
          "SchemaChangePolicy": {
            "shape": "S2f"
          },
          "RecrawlPolicy": {
            "shape": "S2d"
          },
          "LineageConfiguration": {
            "shape": "S2i"
          },
          "Configuration": {},
          "CrawlerSecurityConfiguration": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {},
          "Schedule": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "DatabaseInput"
        ],
        "members": {
          "CatalogId": {},
          "Name": {},
          "DatabaseInput": {
            "shape": "S6r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {},
          "PublicKey": {},
          "AddPublicKeys": {
            "shape": "S3b"
          },
          "DeletePublicKeys": {
            "shape": "S3b"
          },
          "CustomLibraries": {
            "type": "structure",
            "members": {
              "ExtraPythonLibsS3Path": {},
              "ExtraJarsS3Path": {}
            }
          },
          "UpdateEtlLibraries": {
            "type": "boolean"
          },
          "DeleteArguments": {
            "shape": "S35"
          },
          "AddArguments": {
            "shape": "S3c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobUpdate"
        ],
        "members": {
          "JobName": {},
          "JobUpdate": {
            "type": "structure",
            "members": {
              "Description": {},
              "LogUri": {},
              "Role": {},
              "ExecutionProperty": {
                "shape": "S3k"
              },
              "Command": {
                "shape": "S3m"
              },
              "DefaultArguments": {
                "shape": "S3p"
              },
              "NonOverridableArguments": {
                "shape": "S3p"
              },
              "Connections": {
                "shape": "S3q"
              },
              "MaxRetries": {
                "type": "integer"
              },
              "AllocatedCapacity": {
                "deprecated": true,
                "deprecatedMessage": "This property is deprecated, use MaxCapacity instead.",
                "type": "integer"
              },
              "Timeout": {
                "type": "integer"
              },
              "MaxCapacity": {
                "type": "double"
              },
              "WorkerType": {},
              "NumberOfWorkers": {
                "type": "integer"
              },
              "SecurityConfiguration": {},
              "NotificationProperty": {
                "shape": "S3u"
              },
              "GlueVersion": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobName": {}
        }
      }
    },
    "UpdateMLTransform": {
      "input": {
        "type": "structure",
        "required": [
          "TransformId"
        ],
        "members": {
          "TransformId": {},
          "Name": {},
          "Description": {},
          "Parameters": {
            "shape": "S78"
          },
          "Role": {},
          "GlueVersion": {},
          "MaxCapacity": {
            "type": "double"
          },
          "WorkerType": {},
          "NumberOfWorkers": {
            "type": "integer"
          },
          "Timeout": {
            "type": "integer"
          },
          "MaxRetries": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransformId": {}
        }
      }
    },
    "UpdatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValueList",
          "PartitionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableName": {},
          "PartitionValueList": {
            "shape": "S5j"
          },
          "PartitionInput": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRegistry": {
      "input": {
        "type": "structure",
        "required": [
          "RegistryId",
          "Description"
        ],
        "members": {
          "RegistryId": {
            "shape": "S7q"
          },
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegistryName": {},
          "RegistryArn": {}
        }
      }
    },
    "UpdateSchema": {
      "input": {
        "type": "structure",
        "required": [
          "SchemaId"
        ],
        "members": {
          "SchemaId": {
            "shape": "Sv"
          },
          "SchemaVersionNumber": {
            "shape": "Sfd"
          },
          "Compatibility": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SchemaArn": {},
          "SchemaName": {},
          "RegistryName": {}
        }
      }
    },
    "UpdateTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "TableInput": {
            "shape": "S8n"
          },
          "SkipArchive": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "TriggerUpdate"
        ],
        "members": {
          "Name": {},
          "TriggerUpdate": {
            "type": "structure",
            "members": {
              "Name": {},
              "Description": {},
              "Schedule": {},
              "Actions": {
                "shape": "S49"
              },
              "Predicate": {
                "shape": "S4b"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trigger": {
            "shape": "S45"
          }
        }
      }
    },
    "UpdateUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName",
          "FunctionInput"
        ],
        "members": {
          "CatalogId": {},
          "DatabaseName": {},
          "FunctionName": {},
          "FunctionInput": {
            "shape": "S8y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateWorkflow": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "DefaultRunProperties": {
            "shape": "S4n"
          },
          "MaxConcurrentRuns": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {}
        }
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "structure",
      "members": {
        "Values": {
          "shape": "S6"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "Parameters": {
          "shape": "Se"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        }
      }
    },
    "S6": {
      "type": "list",
      "member": {}
    },
    "S9": {
      "type": "structure",
      "members": {
        "Columns": {
          "shape": "Sa"
        },
        "Location": {},
        "InputFormat": {},
        "OutputFormat": {},
        "Compressed": {
          "type": "boolean"
        },
        "NumberOfBuckets": {
          "type": "integer"
        },
        "SerdeInfo": {
          "type": "structure",
          "members": {
            "Name": {},
            "SerializationLibrary": {},
            "Parameters": {
              "shape": "Se"
            }
          }
        },
        "BucketColumns": {
          "shape": "Sm"
        },
        "SortColumns": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Column",
              "SortOrder"
            ],
            "members": {
              "Column": {},
              "SortOrder": {
                "type": "integer"
              }
            }
          }
        },
        "Parameters": {
          "shape": "Se"
        },
        "SkewedInfo": {
          "type": "structure",
          "members": {
            "SkewedColumnNames": {
              "shape": "Sm"
            },
            "SkewedColumnValues": {
              "type": "list",
              "member": {}
            },
            "SkewedColumnValueLocationMaps": {
              "type": "map",
              "key": {},
              "value": {}
            }
          }
        },
        "StoredAsSubDirectories": {
          "type": "boolean"
        },
        "SchemaReference": {
          "type": "structure",
          "members": {
            "SchemaId": {
              "shape": "Sv"
            },
            "SchemaVersionId": {},
            "SchemaVersionNumber": {
              "type": "long"
            }
          }
        }
      }
    },
    "Sa": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {},
          "Type": {},
          "Comment": {},
          "Parameters": {
            "shape": "Se"
          }
        }
      }
    },
    "Se": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sm": {
      "type": "list",
      "member": {}
    },
    "Sv": {
      "type": "structure",
      "members": {
        "SchemaArn": {},
        "SchemaName": {},
        "RegistryName": {}
      }
    },
    "S11": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PartitionValues": {
            "shape": "S6"
          },
          "ErrorDetail": {
            "shape": "S13"
          }
        }
      }
    },
    "S13": {
      "type": "structure",
      "members": {
        "ErrorCode": {},
        "ErrorMessage": {}
      }
    },
    "S1b": {
      "type": "structure",
      "required": [
        "Values"
      ],
      "members": {
        "Values": {
          "shape": "S6"
        }
      }
    },
    "S1p": {
      "type": "list",
      "member": {}
    },
    "S1r": {
      "type": "list",
      "member": {
        "shape": "S1s"
      }
    },
    "S1s": {
      "type": "structure",
      "members": {
        "Name": {},
        "Role": {},
        "Targets": {
          "shape": "S1u"
        },
        "DatabaseName": {},
        "Description": {},
        "Classifiers": {
          "shape": "S2c"
        },
        "RecrawlPolicy": {
          "shape": "S2d"
        },
        "SchemaChangePolicy": {
          "shape": "S2f"
        },
        "LineageConfiguration": {
          "shape": "S2i"
        },
        "State": {},
        "TablePrefix": {},
        "Schedule": {
          "type": "structure",
          "members": {
            "ScheduleExpression": {},
            "State": {}
          }
        },
        "CrawlElapsedTime": {
          "type": "long"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "LastUpdated": {
          "type": "timestamp"
        },
        "LastCrawl": {
          "type": "structure",
          "members": {
            "Status": {},
            "ErrorMessage": {},
            "LogGroup": {},
            "LogStream": {},
            "MessagePrefix": {},
            "StartTime": {
              "type": "timestamp"
            }
          }
        },
        "Version": {
          "type": "long"
        },
        "Configuration": {},
        "CrawlerSecurityConfiguration": {}
      }
    },
    "S1u": {
      "type": "structure",
      "members": {
        "S3Targets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Path": {},
              "Exclusions": {
                "shape": "S1y"
              },
              "ConnectionName": {}
            }
          }
        },
        "JdbcTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ConnectionName": {},
              "Path": {},
              "Exclusions": {
                "shape": "S1y"
              }
            }
          }
        },
        "MongoDBTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ConnectionName": {},
              "Path": {},
              "ScanAll": {
                "type": "boolean"
              }
            }
          }
        },
        "DynamoDBTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Path": {},
              "scanAll": {
                "type": "boolean"
              },
              "scanRate": {
                "type": "double"
              }
            }
          }
        },
        "CatalogTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "DatabaseName",
              "Tables"
            ],
            "members": {
              "DatabaseName": {},
              "Tables": {
                "type": "list",
                "member": {}
              }
            }
          }
        }
      }
    },
    "S1y": {
      "type": "list",
      "member": {}
    },
    "S2c": {
      "type": "list",
      "member": {}
    },
    "S2d": {
      "type": "structure",
      "members": {
        "RecrawlBehavior": {}
      }
    },
    "S2f": {
      "type": "structure",
      "members": {
        "UpdateBehavior": {},
        "DeleteBehavior": {}
      }
    },
    "S2i": {
      "type": "structure",
      "members": {
        "CrawlerLineageSettings": {}
      }
    },
    "S2z": {
      "type": "list",
      "member": {}
    },
    "S32": {
      "type": "list",
      "member": {
        "shape": "S33"
      }
    },
    "S33": {
      "type": "structure",
      "members": {
        "EndpointName": {},
        "RoleArn": {},
        "SecurityGroupIds": {
          "shape": "S35"
        },
        "SubnetId": {},
        "YarnEndpointAddress": {},
        "PrivateAddress": {},
        "ZeppelinRemoteSparkInterpreterPort": {
          "type": "integer"
        },
        "PublicAddress": {},
        "Status": {},
        "WorkerType": {},
        "GlueVersion": {},
        "NumberOfWorkers": {
          "type": "integer"
        },
        "NumberOfNodes": {
          "type": "integer"
        },
        "AvailabilityZone": {},
        "VpcId": {},
        "ExtraPythonLibsS3Path": {},
        "ExtraJarsS3Path": {},
        "FailureReason": {},
        "LastUpdateStatus": {},
        "CreatedTimestamp": {
          "type": "timestamp"
[...]
