{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-03-31",
    "endpointPrefix": "glue",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Glue",
    "serviceId": "Glue",
    "signatureVersion": "v4",
    "targetPrefix": "AWSGlue",
    "uid": "glue-2017-03-31"
  },
  "operations": {
    "BatchCreatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionInputList"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableName": {
            "shape": "S3"
          },
          "PartitionInputList": {
            "type": "list",
            "member": {
              "shape": "S5"
            },
            "max": 100,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "Sv"
          }
        }
      }
    },
    "BatchDeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionNameList"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "ConnectionNameList": {
            "type": "list",
            "member": {
              "shape": "S3"
            },
            "max": 25,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Succeeded": {
            "shape": "Sm"
          },
          "Errors": {
            "type": "map",
            "key": {
              "shape": "S3"
            },
            "value": {
              "shape": "Sx"
            }
          }
        }
      }
    },
    "BatchDeletePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionsToDelete"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableName": {
            "shape": "S3"
          },
          "PartitionsToDelete": {
            "type": "list",
            "member": {
              "shape": "S15"
            },
            "max": 25,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "shape": "Sv"
          }
        }
      }
    },
    "BatchDeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TablesToDelete"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TablesToDelete": {
            "type": "list",
            "member": {
              "shape": "S3"
            },
            "max": 100,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TableName": {
                  "shape": "S3"
                },
                "ErrorDetail": {
                  "shape": "Sx"
                }
              }
            }
          }
        }
      }
    },
    "BatchDeleteTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "VersionIds"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableName": {
            "shape": "S3"
          },
          "VersionIds": {
            "type": "list",
            "member": {
              "shape": "S1e"
            },
            "max": 100,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TableName": {
                  "shape": "S3"
                },
                "VersionId": {
                  "shape": "S1e"
                },
                "ErrorDetail": {
                  "shape": "Sx"
                }
              }
            }
          }
        }
      }
    },
    "BatchGetPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionsToGet"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableName": {
            "shape": "S3"
          },
          "PartitionsToGet": {
            "shape": "S1j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partitions": {
            "shape": "S1l"
          },
          "UnprocessedKeys": {
            "shape": "S1j"
          }
        }
      }
    },
    "BatchStopJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobRunIds"
        ],
        "members": {
          "JobName": {
            "shape": "S3"
          },
          "JobRunIds": {
            "type": "list",
            "member": {
              "shape": "S1p"
            },
            "max": 25,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SuccessfulSubmissions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "JobName": {
                  "shape": "S3"
                },
                "JobRunId": {
                  "shape": "S1p"
                }
              }
            }
          },
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "JobName": {
                  "shape": "S3"
                },
                "JobRunId": {
                  "shape": "S1p"
                },
                "ErrorDetail": {
                  "shape": "Sx"
                }
              }
            }
          }
        }
      }
    },
    "CreateClassifier": {
      "input": {
        "type": "structure",
        "members": {
          "GrokClassifier": {
            "type": "structure",
            "required": [
              "Classification",
              "Name",
              "GrokPattern"
            ],
            "members": {
              "Classification": {},
              "Name": {
                "shape": "S3"
              },
              "GrokPattern": {
                "shape": "S1y"
              },
              "CustomPatterns": {
                "shape": "S1z"
              }
            }
          },
          "XMLClassifier": {
            "type": "structure",
            "required": [
              "Classification",
              "Name"
            ],
            "members": {
              "Classification": {},
              "Name": {
                "shape": "S3"
              },
              "RowTag": {}
            }
          },
          "JsonClassifier": {
            "type": "structure",
            "required": [
              "Name",
              "JsonPath"
            ],
            "members": {
              "Name": {
                "shape": "S3"
              },
              "JsonPath": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionInput"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "ConnectionInput": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Role",
          "DatabaseName",
          "Targets"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          },
          "Role": {},
          "DatabaseName": {},
          "Description": {
            "shape": "Sy"
          },
          "Targets": {
            "shape": "S2h"
          },
          "Schedule": {},
          "Classifiers": {
            "shape": "S2s"
          },
          "TablePrefix": {
            "shape": "S2t"
          },
          "SchemaChangePolicy": {
            "shape": "S2u"
          },
          "Configuration": {},
          "CrawlerSecurityConfiguration": {
            "shape": "S2y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseInput"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseInput": {
            "shape": "S31"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "RoleArn"
        ],
        "members": {
          "EndpointName": {},
          "RoleArn": {
            "shape": "S36"
          },
          "SecurityGroupIds": {
            "shape": "S37"
          },
          "SubnetId": {},
          "PublicKey": {},
          "PublicKeys": {
            "shape": "S38"
          },
          "NumberOfNodes": {
            "type": "integer"
          },
          "ExtraPythonLibsS3Path": {},
          "ExtraJarsS3Path": {},
          "SecurityConfiguration": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EndpointName": {},
          "Status": {},
          "SecurityGroupIds": {
            "shape": "S37"
          },
          "SubnetId": {},
          "RoleArn": {
            "shape": "S36"
          },
          "YarnEndpointAddress": {},
          "ZeppelinRemoteSparkInterpreterPort": {
            "type": "integer"
          },
          "NumberOfNodes": {
            "type": "integer"
          },
          "AvailabilityZone": {},
          "VpcId": {},
          "ExtraPythonLibsS3Path": {},
          "ExtraJarsS3Path": {},
          "FailureReason": {},
          "SecurityConfiguration": {
            "shape": "S3"
          },
          "CreatedTimestamp": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateJob": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Role",
          "Command"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          },
          "Description": {
            "shape": "Sy"
          },
          "LogUri": {},
          "Role": {},
          "ExecutionProperty": {
            "shape": "S3f"
          },
          "Command": {
            "shape": "S3h"
          },
          "DefaultArguments": {
            "shape": "S3j"
          },
          "Connections": {
            "shape": "S3k"
          },
          "MaxRetries": {
            "type": "integer"
          },
          "AllocatedCapacity": {
            "type": "integer"
          },
          "Timeout": {
            "shape": "S3m"
          },
          "NotificationProperty": {
            "shape": "S3n"
          },
          "SecurityConfiguration": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      }
    },
    "CreatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionInput"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableName": {
            "shape": "S3"
          },
          "PartitionInput": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateScript": {
      "input": {
        "type": "structure",
        "members": {
          "DagNodes": {
            "shape": "S3t"
          },
          "DagEdges": {
            "shape": "S41"
          },
          "Language": {
            "shape": "S43"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PythonScript": {},
          "ScalaCode": {}
        }
      }
    },
    "CreateSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "EncryptionConfiguration"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          },
          "EncryptionConfiguration": {
            "shape": "S48"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S3"
          },
          "CreatedTimestamp": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableInput"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableInput": {
            "shape": "S4j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Type",
          "Actions"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          },
          "Type": {
            "shape": "S4p"
          },
          "Schedule": {},
          "Predicate": {
            "shape": "S4q"
          },
          "Actions": {
            "shape": "S4w"
          },
          "Description": {
            "shape": "Sy"
          },
          "StartOnCreation": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      }
    },
    "CreateUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionInput"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "FunctionInput": {
            "shape": "S51"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteClassifier": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteConnection": {
      "input": {
        "type": "structure",
        "required": [
          "ConnectionName"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "ConnectionName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobName": {
            "shape": "S3"
          }
        }
      }
    },
    "DeletePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableName": {
            "shape": "S3"
          },
          "PartitionValues": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Name"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "VersionId"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableName": {
            "shape": "S3"
          },
          "VersionId": {
            "shape": "S1e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      }
    },
    "DeleteUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "FunctionName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetCatalogImportStatus": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportStatus": {
            "type": "structure",
            "members": {
              "ImportCompleted": {
                "type": "boolean"
              },
              "ImportTime": {
                "type": "timestamp"
              },
              "ImportedBy": {
                "shape": "S3"
              }
            }
          }
        }
      }
    },
    "GetClassifier": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Classifier": {
            "shape": "S60"
          }
        }
      }
    },
    "GetClassifiers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "S66"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Classifiers": {
            "type": "list",
            "member": {
              "shape": "S60"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetConnection": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "S6c"
          }
        }
      }
    },
    "GetConnections": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "Filter": {
            "type": "structure",
            "members": {
              "MatchCriteria": {
                "shape": "S28"
              },
              "ConnectionType": {
                "shape": "S27"
              }
            }
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConnectionList": {
            "type": "list",
            "member": {
              "shape": "S6c"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawler": {
            "shape": "S6j"
          }
        }
      }
    },
    "GetCrawlerMetrics": {
      "input": {
        "type": "structure",
        "members": {
          "CrawlerNameList": {
            "type": "list",
            "member": {
              "shape": "S3"
            },
            "max": 100,
            "min": 0
          },
          "MaxResults": {
            "shape": "S66"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CrawlerMetricsList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CrawlerName": {
                  "shape": "S3"
                },
                "TimeLeftSeconds": {
                  "shape": "S6y"
                },
                "StillEstimating": {
                  "type": "boolean"
                },
                "LastRuntimeSeconds": {
                  "shape": "S6y"
                },
                "MedianRuntimeSeconds": {
                  "shape": "S6y"
                },
                "TablesCreated": {
                  "shape": "S4k"
                },
                "TablesUpdated": {
                  "shape": "S4k"
                },
                "TablesDeleted": {
                  "shape": "S4k"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetCrawlers": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "S66"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Crawlers": {
            "type": "list",
            "member": {
              "shape": "S6j"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Database": {
            "shape": "S74"
          }
        }
      }
    },
    "GetDatabases": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DatabaseList"
        ],
        "members": {
          "DatabaseList": {
            "type": "list",
            "member": {
              "shape": "S74"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetDataflowGraph": {
      "input": {
        "type": "structure",
        "members": {
          "PythonScript": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DagNodes": {
            "shape": "S3t"
          },
          "DagEdges": {
            "shape": "S41"
          }
        }
      }
    },
    "GetDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoint": {
            "shape": "S7c"
          }
        }
      }
    },
    "GetDevEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "S66"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DevEndpoints": {
            "type": "list",
            "member": {
              "shape": "S7c"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "shape": "S7i"
          }
        }
      }
    },
    "GetJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "RunId"
        ],
        "members": {
          "JobName": {
            "shape": "S3"
          },
          "RunId": {
            "shape": "S1p"
          },
          "PredecessorsIncluded": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRun": {
            "shape": "S7l"
          }
        }
      }
    },
    "GetJobRuns": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {
            "shape": "S3"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRuns": {
            "type": "list",
            "member": {
              "shape": "S7l"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "type": "list",
            "member": {
              "shape": "S7i"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetMapping": {
      "input": {
        "type": "structure",
        "required": [
          "Source"
        ],
        "members": {
          "Source": {
            "shape": "S7y"
          },
          "Sinks": {
            "shape": "S7z"
          },
          "Location": {
            "shape": "S80"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Mapping"
        ],
        "members": {
          "Mapping": {
            "shape": "S82"
          }
        }
      }
    },
    "GetPartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValues"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableName": {
            "shape": "S3"
          },
          "PartitionValues": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partition": {
            "shape": "S1m"
          }
        }
      }
    },
    "GetPartitions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableName": {
            "shape": "S3"
          },
          "Expression": {
            "type": "string",
            "max": 2048,
            "min": 0,
            "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
          },
          "NextToken": {},
          "Segment": {
            "type": "structure",
            "required": [
              "SegmentNumber",
              "TotalSegments"
            ],
            "members": {
              "SegmentNumber": {
                "shape": "S4k"
              },
              "TotalSegments": {
                "type": "integer",
                "max": 10,
                "min": 1
              }
            }
          },
          "MaxResults": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Partitions": {
            "shape": "S1l"
          },
          "NextToken": {}
        }
      }
    },
    "GetPlan": {
      "input": {
        "type": "structure",
        "required": [
          "Mapping",
          "Source"
        ],
        "members": {
          "Mapping": {
            "shape": "S82"
          },
          "Source": {
            "shape": "S7y"
          },
          "Sinks": {
            "shape": "S7z"
          },
          "Location": {
            "shape": "S80"
          },
          "Language": {
            "shape": "S43"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PythonScript": {},
          "ScalaCode": {}
        }
      }
    },
    "GetSecurityConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityConfiguration": {
            "shape": "S8i"
          }
        }
      }
    },
    "GetSecurityConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "S66"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityConfigurations": {
            "type": "list",
            "member": {
              "shape": "S8i"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Name"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Table": {
            "shape": "S8o"
          }
        }
      }
    },
    "GetTableVersion": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableName": {
            "shape": "S3"
          },
          "VersionId": {
            "shape": "S1e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableVersion": {
            "shape": "S8r"
          }
        }
      }
    },
    "GetTableVersions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableName": {
            "shape": "S3"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableVersions": {
            "type": "list",
            "member": {
              "shape": "S8r"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTables": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "Expression": {
            "type": "string",
            "max": 2048,
            "min": 0,
            "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TableList": {
            "type": "list",
            "member": {
              "shape": "S8o"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trigger": {
            "shape": "S91"
          }
        }
      }
    },
    "GetTriggers": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DependentJobName": {
            "shape": "S3"
          },
          "MaxResults": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Triggers": {
            "type": "list",
            "member": {
              "shape": "S91"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "FunctionName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserDefinedFunction": {
            "shape": "S98"
          }
        }
      }
    },
    "GetUserDefinedFunctions": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "Pattern"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "Pattern": {
            "shape": "S3"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S66"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserDefinedFunctions": {
            "type": "list",
            "member": {
              "shape": "S98"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ImportCatalogToGlue": {
      "input": {
        "type": "structure",
        "members": {
          "CatalogId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutDataCatalogEncryptionSettings": {
      "input": {
        "type": "structure",
        "required": [
          "DataCatalogEncryptionSettings"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DataCatalogEncryptionSettings": {
            "type": "structure",
            "members": {
              "EncryptionAtRest": {
                "type": "structure",
                "required": [
                  "CatalogEncryptionMode"
                ],
                "members": {
                  "CatalogEncryptionMode": {
                    "type": "string",
                    "enum": [
                      "DISABLED",
                      "SSE-KMS"
                    ]
                  },
                  "SseAwsKmsKeyId": {
                    "shape": "S3"
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ResetJobBookmark": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobBookmarkEntry": {
            "type": "structure",
            "members": {
              "JobName": {},
              "Version": {
                "type": "integer"
              },
              "Run": {
                "type": "integer"
              },
              "Attempt": {
                "type": "integer"
              },
              "JobBookmark": {}
            }
          }
        }
      }
    },
    "StartCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartJobRun": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {
            "shape": "S3"
          },
          "JobRunId": {
            "shape": "S1p"
          },
          "Arguments": {
            "shape": "S3j"
          },
          "AllocatedCapacity": {
            "type": "integer"
          },
          "Timeout": {
            "shape": "S3m"
          },
          "NotificationProperty": {
            "shape": "S3n"
          },
          "SecurityConfiguration": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobRunId": {
            "shape": "S1p"
          }
        }
      }
    },
    "StartTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      }
    },
    "StopCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S3"
          }
        }
      }
    },
    "UpdateClassifier": {
      "input": {
        "type": "structure",
        "members": {
          "GrokClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {
                "shape": "S3"
              },
              "Classification": {},
              "GrokPattern": {
                "shape": "S1y"
              },
              "CustomPatterns": {
                "shape": "S1z"
              }
            }
          },
          "XMLClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {
                "shape": "S3"
              },
              "Classification": {},
              "RowTag": {}
            }
          },
          "JsonClassifier": {
            "type": "structure",
            "required": [
              "Name"
            ],
            "members": {
              "Name": {
                "shape": "S3"
              },
              "JsonPath": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateConnection": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ConnectionInput"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "Name": {
            "shape": "S3"
          },
          "ConnectionInput": {
            "shape": "S26"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCrawler": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          },
          "Role": {},
          "DatabaseName": {},
          "Description": {
            "type": "string",
            "max": 2048,
            "min": 0,
            "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
          },
          "Targets": {
            "shape": "S2h"
          },
          "Schedule": {},
          "Classifiers": {
            "shape": "S2s"
          },
          "TablePrefix": {
            "shape": "S2t"
          },
          "SchemaChangePolicy": {
            "shape": "S2u"
          },
          "Configuration": {},
          "CrawlerSecurityConfiguration": {
            "shape": "S2y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCrawlerSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "CrawlerName"
        ],
        "members": {
          "CrawlerName": {
            "shape": "S3"
          },
          "Schedule": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "DatabaseInput"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "Name": {
            "shape": "S3"
          },
          "DatabaseInput": {
            "shape": "S31"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDevEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {},
          "PublicKey": {},
          "AddPublicKeys": {
            "shape": "S38"
          },
          "DeletePublicKeys": {
            "shape": "S38"
          },
          "CustomLibraries": {
            "type": "structure",
            "members": {
              "ExtraPythonLibsS3Path": {},
              "ExtraJarsS3Path": {}
            }
          },
          "UpdateEtlLibraries": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobUpdate"
        ],
        "members": {
          "JobName": {
            "shape": "S3"
          },
          "JobUpdate": {
            "type": "structure",
            "members": {
              "Description": {
                "shape": "Sy"
              },
              "LogUri": {},
              "Role": {},
              "ExecutionProperty": {
                "shape": "S3f"
              },
              "Command": {
                "shape": "S3h"
              },
              "DefaultArguments": {
                "shape": "S3j"
              },
              "Connections": {
                "shape": "S3k"
              },
              "MaxRetries": {
                "type": "integer"
              },
              "AllocatedCapacity": {
                "type": "integer"
              },
              "Timeout": {
                "shape": "S3m"
              },
              "NotificationProperty": {
                "shape": "S3n"
              },
              "SecurityConfiguration": {
                "shape": "S3"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobName": {
            "shape": "S3"
          }
        }
      }
    },
    "UpdatePartition": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableName",
          "PartitionValueList",
          "PartitionInput"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableName": {
            "shape": "S3"
          },
          "PartitionValueList": {
            "type": "list",
            "member": {
              "shape": "S7"
            },
            "max": 100,
            "min": 0
          },
          "PartitionInput": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateTable": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "TableInput"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "TableInput": {
            "shape": "S4j"
          },
          "SkipArchive": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateTrigger": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "TriggerUpdate"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          },
          "TriggerUpdate": {
            "type": "structure",
            "members": {
              "Name": {
                "shape": "S3"
              },
              "Description": {
                "shape": "Sy"
              },
              "Schedule": {},
              "Actions": {
                "shape": "S4w"
              },
              "Predicate": {
                "shape": "S4q"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Trigger": {
            "shape": "S91"
          }
        }
      }
    },
    "UpdateUserDefinedFunction": {
      "input": {
        "type": "structure",
        "required": [
          "DatabaseName",
          "FunctionName",
          "FunctionInput"
        ],
        "members": {
          "CatalogId": {
            "shape": "S2"
          },
          "DatabaseName": {
            "shape": "S3"
          },
          "FunctionName": {
            "shape": "S3"
          },
          "FunctionInput": {
            "shape": "S51"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "S3": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "S5": {
      "type": "structure",
      "members": {
        "Values": {
          "shape": "S6"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "Parameters": {
          "shape": "Sj"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        }
      }
    },
    "S6": {
      "type": "list",
      "member": {
        "shape": "S7"
      }
    },
    "S7": {
      "type": "string",
      "max": 1024
    },
    "S9": {
      "type": "structure",
      "members": {
        "Columns": {
          "shape": "Sa"
        },
        "Location": {
          "type": "string",
          "max": 2056,
          "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
        },
        "InputFormat": {
          "shape": "Sf"
        },
        "OutputFormat": {
          "shape": "Sf"
        },
        "Compressed": {
          "type": "boolean"
        },
        "NumberOfBuckets": {
          "type": "integer"
        },
        "SerdeInfo": {
          "type": "structure",
          "members": {
            "Name": {
              "shape": "S3"
            },
            "SerializationLibrary": {
              "shape": "S3"
            },
            "Parameters": {
              "shape": "Sj"
            }
          }
        },
        "BucketColumns": {
          "shape": "Sm"
        },
        "SortColumns": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Column",
              "SortOrder"
            ],
            "members": {
              "Column": {
                "shape": "S3"
              },
              "SortOrder": {
                "type": "integer",
                "max": 1,
                "min": 0
              }
            }
          }
        },
        "Parameters": {
          "shape": "Sj"
        },
        "SkewedInfo": {
          "type": "structure",
          "members": {
            "SkewedColumnNames": {
              "shape": "Sm"
            },
            "SkewedColumnValues": {
              "type": "list",
              "member": {}
            },
            "SkewedColumnValueLocationMaps": {
              "type": "map",
              "key": {},
              "value": {}
            }
          }
        },
        "StoredAsSubDirectories": {
          "type": "boolean"
        }
      }
    },
    "Sa": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S3"
          },
          "Type": {
            "type": "string",
            "max": 131072,
            "min": 0,
            "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
          },
          "Comment": {
            "type": "string",
            "max": 255,
            "min": 0,
            "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
          }
        }
      }
    },
    "Sf": {
      "type": "string",
      "max": 128,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "Sj": {
      "type": "map",
      "key": {
        "type": "string",
        "max": 255,
        "min": 1,
        "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
      },
      "value": {
        "type": "string",
        "max": 512000
      }
    },
    "Sm": {
      "type": "list",
      "member": {
        "shape": "S3"
      }
    },
    "Sv": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PartitionValues": {
            "shape": "S6"
          },
          "ErrorDetail": {
            "shape": "Sx"
          }
        }
      }
    },
    "Sx": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "shape": "S3"
        },
        "ErrorMessage": {
          "shape": "Sy"
        }
      }
    },
    "Sy": {
      "type": "string",
      "max": 2048,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S15": {
      "type": "structure",
      "required": [
        "Values"
      ],
      "members": {
        "Values": {
          "shape": "S6"
        }
      }
    },
    "S1e": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "S1j": {
      "type": "list",
      "member": {
        "shape": "S15"
      },
      "max": 1000,
      "min": 0
    },
    "S1l": {
      "type": "list",
      "member": {
        "shape": "S1m"
      }
    },
    "S1m": {
      "type": "structure",
      "members": {
        "Values": {
          "shape": "S6"
        },
        "DatabaseName": {
          "shape": "S3"
        },
        "TableName": {
          "shape": "S3"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "Parameters": {
          "shape": "Sj"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        }
      }
    },
    "S1p": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "S1y": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\t]*"
    },
    "S1z": {
      "type": "string",
      "max": 16000,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S26": {
      "type": "structure",
      "required": [
        "Name",
        "ConnectionType",
        "ConnectionProperties"
      ],
      "members": {
        "Name": {
          "shape": "S3"
        },
        "Description": {
          "shape": "Sy"
        },
        "ConnectionType": {
          "shape": "S27"
        },
        "MatchCriteria": {
          "shape": "S28"
        },
        "ConnectionProperties": {
          "shape": "S29"
        },
        "PhysicalConnectionRequirements": {
          "shape": "S2b"
        }
      }
    },
    "S27": {
      "type": "string",
      "enum": [
        "JDBC",
        "SFTP"
      ]
    },
    "S28": {
      "type": "list",
      "member": {
        "shape": "S3"
      },
      "max": 10,
      "min": 0
    },
    "S29": {
      "type": "map",
      "key": {
        "type": "string",
        "enum": [
          "HOST",
          "PORT",
          "USERNAME",
          "PASSWORD",
          "JDBC_DRIVER_JAR_URI",
          "JDBC_DRIVER_CLASS_NAME",
          "JDBC_ENGINE",
          "JDBC_ENGINE_VERSION",
          "CONFIG_FILES",
          "INSTANCE_ID",
          "JDBC_CONNECTION_URL",
          "JDBC_ENFORCE_SSL"
        ]
      },
      "value": {
        "shape": "S7"
      },
      "max": 100,
      "min": 0
    },
    "S2b": {
      "type": "structure",
      "members": {
        "SubnetId": {
          "shape": "S3"
        },
        "SecurityGroupIdList": {
          "type": "list",
          "member": {
            "shape": "S3"
          },
          "max": 50,
          "min": 0
        },
        "AvailabilityZone": {
          "shape": "S3"
        }
      }
    },
    "S2h": {
      "type": "structure",
      "members": {
        "S3Targets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Path": {},
              "Exclusions": {
                "shape": "S2l"
              }
            }
          }
        },
        "JdbcTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "ConnectionName": {},
              "Path": {},
              "Exclusions": {
                "shape": "S2l"
              }
            }
          }
        },
        "DynamoDBTargets": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Path": {}
            }
          }
        }
      }
    },
    "S2l": {
      "type": "list",
      "member": {}
    },
    "S2s": {
      "type": "list",
      "member": {
        "shape": "S3"
      }
    },
    "S2t": {
      "type": "string",
      "max": 128,
      "min": 0
    },
    "S2u": {
      "type": "structure",
      "members": {
        "UpdateBehavior": {
          "type": "string",
          "enum": [
            "LOG",
            "UPDATE_IN_DATABASE"
          ]
        },
        "DeleteBehavior": {
          "type": "string",
          "enum": [
            "LOG",
            "DELETE_FROM_DATABASE",
            "DEPRECATE_IN_DATABASE"
          ]
        }
      }
    },
    "S2y": {
      "type": "string",
      "max": 128,
      "min": 0
    },
    "S31": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {
          "shape": "S3"
        },
        "Description": {
          "shape": "Sy"
        },
        "LocationUri": {
          "shape": "S32"
        },
        "Parameters": {
          "shape": "Sj"
        }
      }
    },
    "S32": {
      "type": "string",
      "max": 1024,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "S36": {
      "type": "string",
      "pattern": "arn:aws:iam::\\d{12}:role/.*"
    },
    "S37": {
      "type": "list",
      "member": {}
    },
    "S38": {
      "type": "list",
      "member": {},
      "max": 5
    },
    "S3f": {
      "type": "structure",
      "members": {
        "MaxConcurrentRuns": {
          "type": "integer"
        }
      }
    },
    "S3h": {
      "type": "structure",
      "members": {
        "Name": {},
        "ScriptLocation": {}
      }
    },
    "S3j": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S3k": {
      "type": "structure",
      "members": {
        "Connections": {
          "shape": "S37"
        }
      }
    },
    "S3m": {
      "type": "integer",
      "min": 1
    },
    "S3n": {
      "type": "structure",
      "members": {
        "NotifyDelayAfter": {
          "type": "integer",
          "min": 1
        }
      }
    },
    "S3t": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Id",
          "NodeType",
          "Args"
        ],
        "members": {
          "Id": {
            "shape": "S3v"
          },
          "NodeType": {},
          "Args": {
            "shape": "S3x"
          },
          "LineNumber": {
            "type": "integer"
          }
        }
      }
    },
    "S3v": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "[A-Za-z_][A-Za-z0-9_]*"
    },
    "S3x": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Value"
        ],
        "members": {
          "Name": {},
          "Value": {},
          "Param": {
            "type": "boolean"
          }
        }
      },
      "max": 50,
      "min": 0
    },
    "S41": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Source",
          "Target"
        ],
        "members": {
          "Source": {
            "shape": "S3v"
          },
          "Target": {
            "shape": "S3v"
          },
          "TargetParameter": {}
        }
      }
    },
    "S43": {
      "type": "string",
      "enum": [
        "PYTHON",
        "SCALA"
      ]
    },
    "S48": {
      "type": "structure",
      "members": {
        "S3Encryption": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "S3EncryptionMode": {
                "type": "string",
                "enum": [
                  "DISABLED",
                  "SSE-KMS",
                  "SSE-S3"
                ]
              },
              "KmsKeyArn": {
                "shape": "S4c"
              }
            }
          }
        },
        "CloudWatchEncryption": {
          "type": "structure",
          "members": {
            "CloudWatchEncryptionMode": {
              "type": "string",
              "enum": [
                "DISABLED",
                "SSE-KMS"
              ]
            },
            "KmsKeyArn": {
              "shape": "S4c"
            }
          }
        },
        "JobBookmarksEncryption": {
          "type": "structure",
          "members": {
            "JobBookmarksEncryptionMode": {
              "type": "string",
              "enum": [
                "DISABLED",
                "CSE-KMS"
              ]
            },
            "KmsKeyArn": {
              "shape": "S4c"
            }
          }
        }
      }
    },
    "S4c": {
      "type": "string",
      "pattern": "arn:aws:kms:.*"
    },
    "S4j": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {
          "shape": "S3"
        },
        "Description": {
          "shape": "Sy"
        },
        "Owner": {
          "shape": "S3"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        },
        "Retention": {
          "shape": "S4k"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "PartitionKeys": {
          "shape": "Sa"
        },
        "ViewOriginalText": {
          "shape": "S4l"
        },
        "ViewExpandedText": {
          "shape": "S4l"
        },
        "TableType": {
          "shape": "S4m"
        },
        "Parameters": {
          "shape": "Sj"
        }
      }
    },
    "S4k": {
      "type": "integer",
      "min": 0
    },
    "S4l": {
      "type": "string",
      "max": 409600
    },
    "S4m": {
      "type": "string",
      "max": 255
    },
    "S4p": {
      "type": "string",
      "enum": [
        "SCHEDULED",
        "CONDITIONAL",
        "ON_DEMAND"
      ]
    },
    "S4q": {
      "type": "structure",
      "members": {
        "Logical": {
          "type": "string",
          "enum": [
            "AND",
            "ANY"
          ]
        },
        "Conditions": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "LogicalOperator": {
                "type": "string",
                "enum": [
                  "EQUALS"
                ]
              },
              "JobName": {
                "shape": "S3"
              },
              "State": {
                "shape": "S4v"
              }
            }
          }
        }
      }
    },
    "S4v": {
      "type": "string",
      "enum": [
        "STARTING",
        "RUNNING",
        "STOPPING",
        "STOPPED",
        "SUCCEEDED",
        "FAILED",
        "TIMEOUT"
      ]
    },
    "S4w": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "JobName": {
            "shape": "S3"
          },
          "Arguments": {
            "shape": "S3j"
          },
          "Timeout": {
            "shape": "S3m"
          },
          "NotificationProperty": {
            "shape": "S3n"
          },
          "SecurityConfiguration": {
            "shape": "S3"
          }
        }
      }
    },
    "S51": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "S3"
        },
        "ClassName": {
          "shape": "S3"
        },
        "OwnerName": {
          "shape": "S3"
        },
        "OwnerType": {
          "shape": "S52"
        },
        "ResourceUris": {
          "shape": "S53"
        }
      }
    },
    "S52": {
      "type": "string",
      "enum": [
        "USER",
        "ROLE",
        "GROUP"
      ]
    },
    "S53": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ResourceType": {
            "type": "string",
            "enum": [
              "JAR",
              "FILE",
              "ARCHIVE"
            ]
          },
          "Uri": {
            "shape": "S32"
          }
        }
      },
      "max": 1000,
      "min": 0
    },
    "S60": {
      "type": "structure",
      "members": {
        "GrokClassifier": {
          "type": "structure",
          "required": [
            "Name",
            "Classification",
            "GrokPattern"
          ],
          "members": {
            "Name": {
              "shape": "S3"
            },
            "Classification": {},
            "CreationTime": {
              "type": "timestamp"
            },
            "LastUpdated": {
              "type": "timestamp"
            },
            "Version": {
              "type": "long"
            },
            "GrokPattern": {
              "shape": "S1y"
            },
            "CustomPatterns": {
              "shape": "S1z"
            }
          }
        },
        "XMLClassifier": {
          "type": "structure",
          "required": [
            "Name",
            "Classification"
          ],
          "members": {
            "Name": {
              "shape": "S3"
            },
            "Classification": {},
            "CreationTime": {
              "type": "timestamp"
            },
            "LastUpdated": {
              "type": "timestamp"
            },
            "Version": {
              "type": "long"
            },
            "RowTag": {}
          }
        },
        "JsonClassifier": {
          "type": "structure",
          "required": [
            "Name",
            "JsonPath"
          ],
          "members": {
            "Name": {
              "shape": "S3"
            },
            "CreationTime": {
              "type": "timestamp"
            },
            "LastUpdated": {
              "type": "timestamp"
            },
            "Version": {
              "type": "long"
            },
            "JsonPath": {}
          }
        }
      }
    },
    "S66": {
      "type": "integer",
      "max": 1000,
      "min": 1
    },
    "S6c": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "S3"
        },
        "Description": {
          "shape": "Sy"
        },
        "ConnectionType": {
          "shape": "S27"
        },
        "MatchCriteria": {
          "shape": "S28"
        },
        "ConnectionProperties": {
          "shape": "S29"
        },
        "PhysicalConnectionRequirements": {
          "shape": "S2b"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "LastUpdatedTime": {
          "type": "timestamp"
        },
        "LastUpdatedBy": {
          "shape": "S3"
        }
      }
    },
    "S6j": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "S3"
        },
        "Role": {},
        "Targets": {
          "shape": "S2h"
        },
        "DatabaseName": {},
        "Description": {
          "shape": "Sy"
        },
        "Classifiers": {
          "shape": "S2s"
        },
        "SchemaChangePolicy": {
          "shape": "S2u"
        },
        "State": {
          "type": "string",
          "enum": [
            "READY",
            "RUNNING",
            "STOPPING"
          ]
        },
        "TablePrefix": {
          "shape": "S2t"
        },
        "Schedule": {
          "type": "structure",
          "members": {
            "ScheduleExpression": {},
            "State": {
              "type": "string",
              "enum": [
                "SCHEDULED",
                "NOT_SCHEDULED",
                "TRANSITIONING"
              ]
            }
          }
        },
        "CrawlElapsedTime": {
          "type": "long"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "LastUpdated": {
          "type": "timestamp"
        },
        "LastCrawl": {
          "type": "structure",
          "members": {
            "Status": {
              "type": "string",
              "enum": [
                "SUCCEEDED",
                "CANCELLED",
                "FAILED"
              ]
            },
            "ErrorMessage": {
              "shape": "Sy"
            },
            "LogGroup": {
              "type": "string",
              "max": 512,
              "min": 1,
              "pattern": "[\\.\\-_/#A-Za-z0-9]+"
            },
            "LogStream": {
              "type": "string",
              "max": 512,
              "min": 1,
              "pattern": "[^:*]*"
            },
            "MessagePrefix": {
              "type": "string",
              "max": 255,
              "min": 1,
              "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
            },
            "StartTime": {
              "type": "timestamp"
            }
          }
        },
        "Version": {
          "type": "long"
        },
        "Configuration": {},
        "CrawlerSecurityConfiguration": {
          "shape": "S2y"
        }
      }
    },
    "S6y": {
      "type": "double",
      "min": 0
    },
    "S74": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {
          "shape": "S3"
        },
        "Description": {
          "shape": "Sy"
        },
        "LocationUri": {
          "shape": "S32"
        },
        "Parameters": {
          "shape": "Sj"
        },
        "CreateTime": {
          "type": "timestamp"
        }
      }
    },
    "S7c": {
      "type": "structure",
      "members": {
        "EndpointName": {},
        "RoleArn": {
          "shape": "S36"
        },
        "SecurityGroupIds": {
          "shape": "S37"
        },
        "SubnetId": {},
        "YarnEndpointAddress": {},
        "PrivateAddress": {},
        "ZeppelinRemoteSparkInterpreterPort": {
          "type": "integer"
        },
        "PublicAddress": {},
        "Status": {},
        "NumberOfNodes": {
          "type": "integer"
        },
        "AvailabilityZone": {},
        "VpcId": {},
        "ExtraPythonLibsS3Path": {},
        "ExtraJarsS3Path": {},
        "FailureReason": {},
        "LastUpdateStatus": {},
        "CreatedTimestamp": {
          "type": "timestamp"
        },
        "LastModifiedTimestamp": {
          "type": "timestamp"
        },
        "PublicKey": {},
        "PublicKeys": {
          "shape": "S38"
        },
        "SecurityConfiguration": {
          "shape": "S3"
        }
      }
    },
    "S7i": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "S3"
        },
        "Description": {
          "shape": "Sy"
        },
        "LogUri": {},
        "Role": {},
        "CreatedOn": {
          "type": "timestamp"
        },
        "LastModifiedOn": {
          "type": "timestamp"
        },
        "ExecutionProperty": {
          "shape": "S3f"
        },
        "Command": {
          "shape": "S3h"
        },
        "DefaultArguments": {
          "shape": "S3j"
        },
        "Connections": {
          "shape": "S3k"
        },
        "MaxRetries": {
          "type": "integer"
        },
        "AllocatedCapacity": {
          "type": "integer"
        },
        "Timeout": {
          "shape": "S3m"
        },
        "NotificationProperty": {
          "shape": "S3n"
        },
        "SecurityConfiguration": {
          "shape": "S3"
        }
      }
    },
    "S7l": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S1p"
        },
        "Attempt": {
          "type": "integer"
        },
        "PreviousRunId": {
          "shape": "S1p"
        },
        "TriggerName": {
          "shape": "S3"
        },
        "JobName": {
          "shape": "S3"
        },
        "StartedOn": {
          "type": "timestamp"
        },
        "LastModifiedOn": {
          "type": "timestamp"
        },
        "CompletedOn": {
          "type": "timestamp"
        },
        "JobRunState": {
          "shape": "S4v"
        },
        "Arguments": {
          "shape": "S3j"
        },
        "ErrorMessage": {},
        "PredecessorRuns": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "JobName": {
                "shape": "S3"
              },
              "RunId": {
                "shape": "S1p"
              }
            }
          }
        },
        "AllocatedCapacity": {
          "type": "integer"
        },
        "ExecutionTime": {
          "type": "integer"
        },
        "Timeout": {
          "shape": "S3m"
        },
        "NotificationProperty": {
          "shape": "S3n"
        },
        "SecurityConfiguration": {
          "shape": "S3"
        },
        "LogGroupName": {}
      }
    },
    "S7y": {
      "type": "structure",
      "required": [
        "DatabaseName",
        "TableName"
      ],
      "members": {
        "DatabaseName": {
          "shape": "S3"
        },
        "TableName": {
          "shape": "S3"
        }
      }
    },
    "S7z": {
      "type": "list",
      "member": {
        "shape": "S7y"
      }
    },
    "S80": {
      "type": "structure",
      "members": {
        "Jdbc": {
          "shape": "S3x"
        },
        "S3": {
          "shape": "S3x"
        },
        "DynamoDB": {
          "shape": "S3x"
        }
      }
    },
    "S82": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "SourceTable": {},
          "SourcePath": {},
          "SourceType": {},
          "TargetTable": {},
          "TargetPath": {},
          "TargetType": {}
        }
      }
    },
    "S8i": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "S3"
        },
        "CreatedTimeStamp": {
          "type": "timestamp"
        },
        "EncryptionConfiguration": {
          "shape": "S48"
        }
      }
    },
    "S8o": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {
          "shape": "S3"
        },
        "DatabaseName": {
          "shape": "S3"
        },
        "Description": {
          "shape": "Sy"
        },
        "Owner": {
          "shape": "S3"
        },
        "CreateTime": {
          "type": "timestamp"
        },
        "UpdateTime": {
          "type": "timestamp"
        },
        "LastAccessTime": {
          "type": "timestamp"
        },
        "LastAnalyzedTime": {
          "type": "timestamp"
        },
        "Retention": {
          "shape": "S4k"
        },
        "StorageDescriptor": {
          "shape": "S9"
        },
        "PartitionKeys": {
          "shape": "Sa"
        },
        "ViewOriginalText": {
          "shape": "S4l"
        },
        "ViewExpandedText": {
          "shape": "S4l"
        },
        "TableType": {
          "shape": "S4m"
        },
        "Parameters": {
          "shape": "Sj"
        },
        "CreatedBy": {
          "shape": "S3"
        }
      }
    },
    "S8r": {
      "type": "structure",
      "members": {
        "Table": {
          "shape": "S8o"
        },
        "VersionId": {
          "shape": "S1e"
        }
      }
    },
    "S91": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "S3"
        },
        "Id": {
          "shape": "S1p"
        },
        "Type": {
          "shape": "S4p"
        },
        "State": {
          "type": "string",
          "enum": [
            "CREATING",
            "CREATED",
            "ACTIVATING",
            "ACTIVATED",
            "DEACTIVATING",
            "DEACTIVATED",
            "DELETING",
            "UPDATING"
          ]
        },
        "Description": {
          "shape": "Sy"
        },
        "Schedule": {},
        "Actions": {
          "shape": "S4w"
        },
        "Predicate": {
          "shape": "S4q"
        }
      }
    },
    "S98": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "S3"
        },
        "ClassName": {
          "shape": "S3"
        },
        "OwnerName": {
          "shape": "S3"
        },
        "OwnerType": {
          "shape": "S52"
        },
        "CreateTime": {
          "type": "timestamp"
        },
        "ResourceUris": {
          "shape": "S53"
        }
      }
    }
  }
}