{
  "metadata": {
    "apiVersion": "2017-06-07",
    "endpointPrefix": "greengrass",
    "signingName": "greengrass",
    "serviceFullName": "AWS Greengrass",
    "serviceId": "Greengrass",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "greengrass-2017-06-07",
    "signatureVersion": "v4"
  },
  "operations": {
    "AssociateRoleToGroup": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/groups/{GroupId}/role",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          },
          "RoleArn": {}
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "AssociatedAt": {}
        }
      }
    },
    "AssociateServiceRoleToAccount": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/servicerole",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "RoleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssociatedAt": {}
        }
      }
    },
    "CreateConnectorDefinition": {
      "http": {
        "requestUri": "/greengrass/definition/connectors",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "InitialVersion": {
            "shape": "S7"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "CreateConnectorDefinitionVersion": {
      "http": {
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "ConnectorDefinitionId": {
            "location": "uri",
            "locationName": "ConnectorDefinitionId"
          },
          "Connectors": {
            "shape": "S8"
          }
        },
        "required": [
          "ConnectorDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "Version": {}
        }
      }
    },
    "CreateCoreDefinition": {
      "http": {
        "requestUri": "/greengrass/definition/cores",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "InitialVersion": {
            "shape": "Sf"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "CreateCoreDefinitionVersion": {
      "http": {
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "CoreDefinitionId": {
            "location": "uri",
            "locationName": "CoreDefinitionId"
          },
          "Cores": {
            "shape": "Sg"
          }
        },
        "required": [
          "CoreDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "Version": {}
        }
      }
    },
    "CreateDeployment": {
      "http": {
        "requestUri": "/greengrass/groups/{GroupId}/deployments",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "DeploymentId": {},
          "DeploymentType": {},
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          },
          "GroupVersionId": {}
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "DeploymentArn": {},
          "DeploymentId": {}
        }
      }
    },
    "CreateDeviceDefinition": {
      "http": {
        "requestUri": "/greengrass/definition/devices",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "InitialVersion": {
            "shape": "Sq"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "CreateDeviceDefinitionVersion": {
      "http": {
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "DeviceDefinitionId": {
            "location": "uri",
            "locationName": "DeviceDefinitionId"
          },
          "Devices": {
            "shape": "Sr"
          }
        },
        "required": [
          "DeviceDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "Version": {}
        }
      }
    },
    "CreateFunctionDefinition": {
      "http": {
        "requestUri": "/greengrass/definition/functions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "InitialVersion": {
            "shape": "Sx"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "CreateFunctionDefinitionVersion": {
      "http": {
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "DefaultConfig": {
            "shape": "Sy"
          },
          "FunctionDefinitionId": {
            "location": "uri",
            "locationName": "FunctionDefinitionId"
          },
          "Functions": {
            "shape": "S11"
          }
        },
        "required": [
          "FunctionDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "Version": {}
        }
      }
    },
    "CreateGroup": {
      "http": {
        "requestUri": "/greengrass/groups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "InitialVersion": {
            "shape": "S1g"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "CreateGroupCertificateAuthority": {
      "http": {
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          }
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupCertificateAuthorityArn": {}
        }
      }
    },
    "CreateGroupVersion": {
      "http": {
        "requestUri": "/greengrass/groups/{GroupId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "ConnectorDefinitionVersionArn": {},
          "CoreDefinitionVersionArn": {},
          "DeviceDefinitionVersionArn": {},
          "FunctionDefinitionVersionArn": {},
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          },
          "LoggerDefinitionVersionArn": {},
          "ResourceDefinitionVersionArn": {},
          "SubscriptionDefinitionVersionArn": {}
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "Version": {}
        }
      }
    },
    "CreateLoggerDefinition": {
      "http": {
        "requestUri": "/greengrass/definition/loggers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "InitialVersion": {
            "shape": "S1n"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "CreateLoggerDefinitionVersion": {
      "http": {
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "LoggerDefinitionId": {
            "location": "uri",
            "locationName": "LoggerDefinitionId"
          },
          "Loggers": {
            "shape": "S1o"
          }
        },
        "required": [
          "LoggerDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "Version": {}
        }
      }
    },
    "CreateResourceDefinition": {
      "http": {
        "requestUri": "/greengrass/definition/resources",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "InitialVersion": {
            "shape": "S1x"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "CreateResourceDefinitionVersion": {
      "http": {
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "ResourceDefinitionId": {
            "location": "uri",
            "locationName": "ResourceDefinitionId"
          },
          "Resources": {
            "shape": "S1y"
          }
        },
        "required": [
          "ResourceDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "Version": {}
        }
      }
    },
    "CreateSoftwareUpdateJob": {
      "http": {
        "requestUri": "/greengrass/updates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "S3UrlSignerRole": {},
          "SoftwareToUpdate": {},
          "UpdateAgentLogLevel": {},
          "UpdateTargets": {
            "type": "list",
            "member": {}
          },
          "UpdateTargetsArchitecture": {},
          "UpdateTargetsOperatingSystem": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IotJobArn": {},
          "IotJobId": {}
        }
      }
    },
    "CreateSubscriptionDefinition": {
      "http": {
        "requestUri": "/greengrass/definition/subscriptions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "InitialVersion": {
            "shape": "S2k"
          },
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "CreateSubscriptionDefinitionVersion": {
      "http": {
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "SubscriptionDefinitionId": {
            "location": "uri",
            "locationName": "SubscriptionDefinitionId"
          },
          "Subscriptions": {
            "shape": "S2l"
          }
        },
        "required": [
          "SubscriptionDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "Version": {}
        }
      }
    },
    "DeleteConnectorDefinition": {
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConnectorDefinitionId": {
            "location": "uri",
            "locationName": "ConnectorDefinitionId"
          }
        },
        "required": [
          "ConnectorDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteCoreDefinition": {
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "CoreDefinitionId": {
            "location": "uri",
            "locationName": "CoreDefinitionId"
          }
        },
        "required": [
          "CoreDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDeviceDefinition": {
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "DeviceDefinitionId": {
            "location": "uri",
            "locationName": "DeviceDefinitionId"
          }
        },
        "required": [
          "DeviceDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteFunctionDefinition": {
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "FunctionDefinitionId": {
            "location": "uri",
            "locationName": "FunctionDefinitionId"
          }
        },
        "required": [
          "FunctionDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/groups/{GroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          }
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteLoggerDefinition": {
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "LoggerDefinitionId": {
            "location": "uri",
            "locationName": "LoggerDefinitionId"
          }
        },
        "required": [
          "LoggerDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteResourceDefinition": {
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceDefinitionId": {
            "location": "uri",
            "locationName": "ResourceDefinitionId"
          }
        },
        "required": [
          "ResourceDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSubscriptionDefinition": {
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "SubscriptionDefinitionId": {
            "location": "uri",
            "locationName": "SubscriptionDefinitionId"
          }
        },
        "required": [
          "SubscriptionDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateRoleFromGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/groups/{GroupId}/role",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          }
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "DisassociatedAt": {}
        }
      }
    },
    "DisassociateServiceRoleFromAccount": {
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/servicerole",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "DisassociatedAt": {}
        }
      }
    },
    "GetAssociatedRole": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/role",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          }
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "AssociatedAt": {},
          "RoleArn": {}
        }
      }
    },
    "GetBulkDeploymentStatus": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/bulk/deployments/{BulkDeploymentId}/status",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BulkDeploymentId": {
            "location": "uri",
            "locationName": "BulkDeploymentId"
          }
        },
        "required": [
          "BulkDeploymentId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BulkDeploymentMetrics": {
            "type": "structure",
            "members": {
              "InvalidInputRecords": {
                "type": "integer"
              },
              "RecordsProcessed": {
                "type": "integer"
              },
              "RetryAttempts": {
                "type": "integer"
              }
            }
          },
          "BulkDeploymentStatus": {},
          "CreatedAt": {},
          "ErrorDetails": {
            "shape": "S3g"
          },
          "ErrorMessage": {}
        }
      }
    },
    "GetConnectivityInfo": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/things/{ThingName}/connectivityInfo",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ThingName": {
            "location": "uri",
            "locationName": "ThingName"
          }
        },
        "required": [
          "ThingName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ConnectivityInfo": {
            "shape": "S3k"
          },
          "Message": {
            "locationName": "message"
          }
        }
      }
    },
    "GetConnectorDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConnectorDefinitionId": {
            "location": "uri",
            "locationName": "ConnectorDefinitionId"
          }
        },
        "required": [
          "ConnectorDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "GetConnectorDefinitionVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}/versions/{ConnectorDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConnectorDefinitionId": {
            "location": "uri",
            "locationName": "ConnectorDefinitionId"
          },
          "ConnectorDefinitionVersionId": {
            "location": "uri",
            "locationName": "ConnectorDefinitionVersionId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "required": [
          "ConnectorDefinitionId",
          "ConnectorDefinitionVersionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Definition": {
            "shape": "S7"
          },
          "Id": {},
          "NextToken": {},
          "Version": {}
        }
      }
    },
    "GetCoreDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "CoreDefinitionId": {
            "location": "uri",
            "locationName": "CoreDefinitionId"
          }
        },
        "required": [
          "CoreDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "GetCoreDefinitionVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}/versions/{CoreDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "CoreDefinitionId": {
            "location": "uri",
            "locationName": "CoreDefinitionId"
          },
          "CoreDefinitionVersionId": {
            "location": "uri",
            "locationName": "CoreDefinitionVersionId"
          }
        },
        "required": [
          "CoreDefinitionId",
          "CoreDefinitionVersionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Definition": {
            "shape": "Sf"
          },
          "Id": {},
          "NextToken": {},
          "Version": {}
        }
      }
    },
    "GetDeploymentStatus": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/deployments/{DeploymentId}/status",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "DeploymentId": {
            "location": "uri",
            "locationName": "DeploymentId"
          },
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          }
        },
        "required": [
          "GroupId",
          "DeploymentId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "DeploymentStatus": {},
          "DeploymentType": {},
          "ErrorDetails": {
            "shape": "S3g"
          },
          "ErrorMessage": {},
          "UpdatedAt": {}
        }
      }
    },
    "GetDeviceDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "DeviceDefinitionId": {
            "location": "uri",
            "locationName": "DeviceDefinitionId"
          }
        },
        "required": [
          "DeviceDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "GetDeviceDefinitionVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}/versions/{DeviceDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "DeviceDefinitionId": {
            "location": "uri",
            "locationName": "DeviceDefinitionId"
          },
          "DeviceDefinitionVersionId": {
            "location": "uri",
            "locationName": "DeviceDefinitionVersionId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "required": [
          "DeviceDefinitionVersionId",
          "DeviceDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Definition": {
            "shape": "Sq"
          },
          "Id": {},
          "NextToken": {},
          "Version": {}
        }
      }
    },
    "GetFunctionDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "FunctionDefinitionId": {
            "location": "uri",
            "locationName": "FunctionDefinitionId"
          }
        },
        "required": [
          "FunctionDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "GetFunctionDefinitionVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}/versions/{FunctionDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "FunctionDefinitionId": {
            "location": "uri",
            "locationName": "FunctionDefinitionId"
          },
          "FunctionDefinitionVersionId": {
            "location": "uri",
            "locationName": "FunctionDefinitionVersionId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "required": [
          "FunctionDefinitionId",
          "FunctionDefinitionVersionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Definition": {
            "shape": "Sx"
          },
          "Id": {},
          "NextToken": {},
          "Version": {}
        }
      }
    },
    "GetGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          }
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "GetGroupCertificateAuthority": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities/{CertificateAuthorityId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "CertificateAuthorityId": {
            "location": "uri",
            "locationName": "CertificateAuthorityId"
          },
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          }
        },
        "required": [
          "CertificateAuthorityId",
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupCertificateAuthorityArn": {},
          "GroupCertificateAuthorityId": {},
          "PemEncodedCertificate": {}
        }
      }
    },
    "GetGroupCertificateConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities/configuration/expiry",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          }
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CertificateAuthorityExpiryInMilliseconds": {},
          "CertificateExpiryInMilliseconds": {},
          "GroupId": {}
        }
      }
    },
    "GetGroupVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/versions/{GroupVersionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          },
          "GroupVersionId": {
            "location": "uri",
            "locationName": "GroupVersionId"
          }
        },
        "required": [
          "GroupVersionId",
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Definition": {
            "shape": "S1g"
          },
          "Id": {},
          "Version": {}
        }
      }
    },
    "GetLoggerDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "LoggerDefinitionId": {
            "location": "uri",
            "locationName": "LoggerDefinitionId"
          }
        },
        "required": [
          "LoggerDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "GetLoggerDefinitionVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}/versions/{LoggerDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "LoggerDefinitionId": {
            "location": "uri",
            "locationName": "LoggerDefinitionId"
          },
          "LoggerDefinitionVersionId": {
            "location": "uri",
            "locationName": "LoggerDefinitionVersionId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "required": [
          "LoggerDefinitionVersionId",
          "LoggerDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Definition": {
            "shape": "S1n"
          },
          "Id": {},
          "Version": {}
        }
      }
    },
    "GetResourceDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceDefinitionId": {
            "location": "uri",
            "locationName": "ResourceDefinitionId"
          }
        },
        "required": [
          "ResourceDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "GetResourceDefinitionVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}/versions/{ResourceDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceDefinitionId": {
            "location": "uri",
            "locationName": "ResourceDefinitionId"
          },
          "ResourceDefinitionVersionId": {
            "location": "uri",
            "locationName": "ResourceDefinitionVersionId"
          }
        },
        "required": [
          "ResourceDefinitionVersionId",
          "ResourceDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Definition": {
            "shape": "S1x"
          },
          "Id": {},
          "Version": {}
        }
      }
    },
    "GetServiceRoleForAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/servicerole",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "AssociatedAt": {},
          "RoleArn": {}
        }
      }
    },
    "GetSubscriptionDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "SubscriptionDefinitionId": {
            "location": "uri",
            "locationName": "SubscriptionDefinitionId"
          }
        },
        "required": [
          "SubscriptionDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    },
    "GetSubscriptionDefinitionVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions/{SubscriptionDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "SubscriptionDefinitionId": {
            "location": "uri",
            "locationName": "SubscriptionDefinitionId"
          },
          "SubscriptionDefinitionVersionId": {
            "location": "uri",
            "locationName": "SubscriptionDefinitionVersionId"
          }
        },
        "required": [
          "SubscriptionDefinitionId",
          "SubscriptionDefinitionVersionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Definition": {
            "shape": "S2k"
          },
          "Id": {},
          "NextToken": {},
          "Version": {}
        }
      }
    },
    "ListBulkDeploymentDetailedReports": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/bulk/deployments/{BulkDeploymentId}/detailed-reports",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BulkDeploymentId": {
            "location": "uri",
            "locationName": "BulkDeploymentId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "required": [
          "BulkDeploymentId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Deployments": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CreatedAt": {},
                "DeploymentArn": {},
                "DeploymentId": {},
                "DeploymentStatus": {},
                "DeploymentType": {},
                "ErrorDetails": {
                  "shape": "S3g"
                },
                "ErrorMessage": {},
                "GroupArn": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListBulkDeployments": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/bulk/deployments",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BulkDeployments": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "BulkDeploymentArn": {},
                "BulkDeploymentId": {},
                "CreatedAt": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListConnectorDefinitionVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConnectorDefinitionId": {
            "location": "uri",
            "locationName": "ConnectorDefinitionId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "required": [
          "ConnectorDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Versions": {
            "shape": "S50"
          }
        }
      }
    },
    "ListConnectorDefinitions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/connectors",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Definitions": {
            "shape": "S54"
          },
          "NextToken": {}
        }
      }
    },
    "ListCoreDefinitionVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "CoreDefinitionId": {
            "location": "uri",
            "locationName": "CoreDefinitionId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "required": [
          "CoreDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Versions": {
            "shape": "S50"
          }
        }
      }
    },
    "ListCoreDefinitions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/cores",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Definitions": {
            "shape": "S54"
          },
          "NextToken": {}
        }
      }
    },
    "ListDeployments": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/deployments",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Deployments": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CreatedAt": {},
                "DeploymentArn": {},
                "DeploymentId": {},
                "DeploymentType": {},
                "GroupArn": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDeviceDefinitionVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "DeviceDefinitionId": {
            "location": "uri",
            "locationName": "DeviceDefinitionId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "required": [
          "DeviceDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Versions": {
            "shape": "S50"
          }
        }
      }
    },
    "ListDeviceDefinitions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/devices",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Definitions": {
            "shape": "S54"
          },
          "NextToken": {}
        }
      }
    },
    "ListFunctionDefinitionVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "FunctionDefinitionId": {
            "location": "uri",
            "locationName": "FunctionDefinitionId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "required": [
          "FunctionDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Versions": {
            "shape": "S50"
          }
        }
      }
    },
    "ListFunctionDefinitions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/functions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Definitions": {
            "shape": "S54"
          },
          "NextToken": {}
        }
      }
    },
    "ListGroupCertificateAuthorities": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          }
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupCertificateAuthorities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "GroupCertificateAuthorityArn": {},
                "GroupCertificateAuthorityId": {}
              }
            }
          }
        }
      }
    },
    "ListGroupVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Versions": {
            "shape": "S50"
          }
        }
      }
    },
    "ListGroups": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Groups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "CreationTimestamp": {},
                "Id": {},
                "LastUpdatedTimestamp": {},
                "LatestVersion": {},
                "LatestVersionArn": {},
                "Name": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListLoggerDefinitionVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "LoggerDefinitionId": {
            "location": "uri",
            "locationName": "LoggerDefinitionId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "required": [
          "LoggerDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Versions": {
            "shape": "S50"
          }
        }
      }
    },
    "ListLoggerDefinitions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/loggers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Definitions": {
            "shape": "S54"
          },
          "NextToken": {}
        }
      }
    },
    "ListResourceDefinitionVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "ResourceDefinitionId": {
            "location": "uri",
            "locationName": "ResourceDefinitionId"
          }
        },
        "required": [
          "ResourceDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Versions": {
            "shape": "S50"
          }
        }
      }
    },
    "ListResourceDefinitions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/resources",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Definitions": {
            "shape": "S54"
          },
          "NextToken": {}
        }
      }
    },
    "ListSubscriptionDefinitionVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "SubscriptionDefinitionId": {
            "location": "uri",
            "locationName": "SubscriptionDefinitionId"
          }
        },
        "required": [
          "SubscriptionDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Versions": {
            "shape": "S50"
          }
        }
      }
    },
    "ListSubscriptionDefinitions": {
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/subscriptions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Definitions": {
            "shape": "S54"
          },
          "NextToken": {}
        }
      }
    },
    "ResetDeployments": {
      "http": {
        "requestUri": "/greengrass/groups/{GroupId}/deployments/$reset",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "Force": {
            "type": "boolean"
          },
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          }
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "DeploymentArn": {},
          "DeploymentId": {}
        }
      }
    },
    "StartBulkDeployment": {
      "http": {
        "requestUri": "/greengrass/bulk/deployments",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AmznClientToken": {
            "location": "header",
            "locationName": "X-Amzn-Client-Token"
          },
          "ExecutionRoleArn": {},
          "InputFileUri": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BulkDeploymentArn": {},
          "BulkDeploymentId": {}
        }
      }
    },
    "StopBulkDeployment": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/bulk/deployments/{BulkDeploymentId}/$stop",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BulkDeploymentId": {
            "location": "uri",
            "locationName": "BulkDeploymentId"
          }
        },
        "required": [
          "BulkDeploymentId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateConnectivityInfo": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/things/{ThingName}/connectivityInfo",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConnectivityInfo": {
            "shape": "S3k"
          },
          "ThingName": {
            "location": "uri",
            "locationName": "ThingName"
          }
        },
        "required": [
          "ThingName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Message": {
            "locationName": "message"
          },
          "Version": {}
        }
      }
    },
    "UpdateConnectorDefinition": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConnectorDefinitionId": {
            "location": "uri",
            "locationName": "ConnectorDefinitionId"
          },
          "Name": {}
        },
        "required": [
          "ConnectorDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCoreDefinition": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "CoreDefinitionId": {
            "location": "uri",
            "locationName": "CoreDefinitionId"
          },
          "Name": {}
        },
        "required": [
          "CoreDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDeviceDefinition": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "DeviceDefinitionId": {
            "location": "uri",
            "locationName": "DeviceDefinitionId"
          },
          "Name": {}
        },
        "required": [
          "DeviceDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateFunctionDefinition": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "FunctionDefinitionId": {
            "location": "uri",
            "locationName": "FunctionDefinitionId"
          },
          "Name": {}
        },
        "required": [
          "FunctionDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateGroup": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/groups/{GroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          },
          "Name": {}
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateGroupCertificateConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities/configuration/expiry",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "CertificateExpiryInMilliseconds": {},
          "GroupId": {
            "location": "uri",
            "locationName": "GroupId"
          }
        },
        "required": [
          "GroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CertificateAuthorityExpiryInMilliseconds": {},
          "CertificateExpiryInMilliseconds": {},
          "GroupId": {}
        }
      }
    },
    "UpdateLoggerDefinition": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "LoggerDefinitionId": {
            "location": "uri",
            "locationName": "LoggerDefinitionId"
          },
          "Name": {}
        },
        "required": [
          "LoggerDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateResourceDefinition": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {},
          "ResourceDefinitionId": {
            "location": "uri",
            "locationName": "ResourceDefinitionId"
          }
        },
        "required": [
          "ResourceDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateSubscriptionDefinition": {
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {},
          "SubscriptionDefinitionId": {
            "location": "uri",
            "locationName": "SubscriptionDefinitionId"
          }
        },
        "required": [
          "SubscriptionDefinitionId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S7": {
      "type": "structure",
      "members": {
        "Connectors": {
          "shape": "S8"
        }
      }
    },
    "S8": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ConnectorArn": {},
          "Id": {},
          "Parameters": {
            "shape": "Sa"
          }
        },
        "required": []
      }
    },
    "Sa": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sf": {
      "type": "structure",
      "members": {
        "Cores": {
          "shape": "Sg"
        }
      }
    },
    "Sg": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "CertificateArn": {},
          "Id": {},
          "SyncShadow": {
            "type": "boolean"
          },
          "ThingArn": {}
        },
        "required": []
      }
    },
    "Sq": {
      "type": "structure",
      "members": {
        "Devices": {
          "shape": "Sr"
        }
      }
    },
    "Sr": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "CertificateArn": {},
          "Id": {},
          "SyncShadow": {
            "type": "boolean"
          },
          "ThingArn": {}
        },
        "required": []
      }
    },
    "Sx": {
      "type": "structure",
      "members": {
        "DefaultConfig": {
          "shape": "Sy"
        },
        "Functions": {
          "shape": "S11"
        }
      }
    },
    "Sy": {
      "type": "structure",
      "members": {
        "Execution": {
          "type": "structure",
          "members": {
            "IsolationMode": {}
          }
        }
      }
    },
    "S11": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "FunctionArn": {},
          "FunctionConfiguration": {
            "type": "structure",
            "members": {
              "EncodingType": {},
              "Environment": {
                "type": "structure",
                "members": {
                  "AccessSysfs": {
                    "type": "boolean"
                  },
                  "Execution": {
                    "type": "structure",
                    "members": {
                      "IsolationMode": {},
                      "RunAs": {
                        "type": "structure",
                        "members": {
                          "Gid": {
                            "type": "integer"
                          },
                          "Uid": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "ResourceAccessPolicies": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "Permission": {},
                        "ResourceId": {}
                      },
                      "required": []
                    }
                  },
                  "Variables": {
                    "shape": "Sa"
                  }
                }
              },
              "ExecArgs": {},
              "Executable": {},
              "MemorySize": {
                "type": "integer"
              },
              "Pinned": {
                "type": "boolean"
              },
              "Timeout": {
                "type": "integer"
              }
            }
          },
          "Id": {}
        },
        "required": []
      }
    },
    "S1g": {
      "type": "structure",
      "members": {
        "ConnectorDefinitionVersionArn": {},
        "CoreDefinitionVersionArn": {},
        "DeviceDefinitionVersionArn": {},
        "FunctionDefinitionVersionArn": {},
        "LoggerDefinitionVersionArn": {},
        "ResourceDefinitionVersionArn": {},
        "SubscriptionDefinitionVersionArn": {}
      }
    },
    "S1n": {
      "type": "structure",
      "members": {
        "Loggers": {
          "shape": "S1o"
        }
      }
    },
    "S1o": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Component": {},
          "Id": {},
          "Level": {},
          "Space": {
            "type": "integer"
          },
          "Type": {}
        },
        "required": []
      }
    },
    "S1x": {
      "type": "structure",
      "members": {
        "Resources": {
          "shape": "S1y"
        }
      }
    },
    "S1y": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Id": {},
          "Name": {},
          "ResourceDataContainer": {
            "type": "structure",
            "members": {
              "LocalDeviceResourceData": {
                "type": "structure",
                "members": {
                  "GroupOwnerSetting": {
                    "shape": "S22"
                  },
                  "SourcePath": {}
                }
              },
              "LocalVolumeResourceData": {
                "type": "structure",
                "members": {
                  "DestinationPath": {},
                  "GroupOwnerSetting": {
                    "shape": "S22"
                  },
                  "SourcePath": {}
                }
              },
              "S3MachineLearningModelResourceData": {
                "type": "structure",
                "members": {
                  "DestinationPath": {},
                  "S3Uri": {}
                }
              },
              "SageMakerMachineLearningModelResourceData": {
                "type": "structure",
                "members": {
                  "DestinationPath": {},
                  "SageMakerJobArn": {}
                }
              },
              "SecretsManagerSecretResourceData": {
                "type": "structure",
                "members": {
                  "ARN": {},
                  "AdditionalStagingLabelsToDownload": {
                    "type": "list",
                    "member": {}
                  }
                }
              }
            }
          }
        },
        "required": []
      }
    },
    "S22": {
      "type": "structure",
      "members": {
        "AutoAddGroupOwner": {
          "type": "boolean"
        },
        "GroupOwner": {}
      }
    },
    "S2k": {
      "type": "structure",
      "members": {
        "Subscriptions": {
          "shape": "S2l"
        }
      }
    },
    "S2l": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Id": {},
          "Source": {},
          "Subject": {},
          "Target": {}
        },
        "required": []
      }
    },
    "S3g": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "DetailedErrorCode": {},
          "DetailedErrorMessage": {}
        }
      }
    },
    "S3k": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "HostAddress": {},
          "Id": {},
          "Metadata": {},
          "PortNumber": {
            "type": "integer"
          }
        }
      }
    },
    "S50": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "Version": {}
        }
      }
    },
    "S54": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTimestamp": {},
          "Id": {},
          "LastUpdatedTimestamp": {},
          "LatestVersion": {},
          "LatestVersionArn": {},
          "Name": {}
        }
      }
    }
  }
}