{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-11-28",
    "endpointPrefix": "guardduty",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon GuardDuty",
    "serviceId": "GuardDuty",
    "signatureVersion": "v4",
    "signingName": "guardduty",
    "uid": "guardduty-2017-11-28"
  },
  "operations": {
    "AcceptAdministratorInvitation": {
      "http": {
        "requestUri": "/detector/{detectorId}/administrator",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "AdministratorId",
          "InvitationId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "AdministratorId": {
            "locationName": "administratorId"
          },
          "InvitationId": {
            "locationName": "invitationId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AcceptInvitation": {
      "http": {
        "requestUri": "/detector/{detectorId}/master",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "MasterId",
          "InvitationId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "MasterId": {
            "locationName": "masterId"
          },
          "InvitationId": {
            "locationName": "invitationId"
          }
        },
        "deprecated": true,
        "deprecatedMessage": "This input is deprecated, use AcceptAdministratorInvitationRequest instead"
      },
      "output": {
        "type": "structure",
        "members": {},
        "deprecated": true,
        "deprecatedMessage": "This output is deprecated, use AcceptAdministratorInvitationResponse instead"
      },
      "deprecated": true,
      "deprecatedMessage": "This operation is deprecated, use AcceptAdministratorInvitation instead"
    },
    "ArchiveFindings": {
      "http": {
        "requestUri": "/detector/{detectorId}/findings/archive",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "FindingIds"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "FindingIds": {
            "shape": "S8",
            "locationName": "findingIds"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDetector": {
      "http": {
        "requestUri": "/detector",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Enable"
        ],
        "members": {
          "Enable": {
            "locationName": "enable",
            "type": "boolean"
          },
          "ClientToken": {
            "idempotencyToken": true,
            "locationName": "clientToken"
          },
          "FindingPublishingFrequency": {
            "locationName": "findingPublishingFrequency"
          },
          "DataSources": {
            "shape": "Sf",
            "deprecated": true,
            "deprecatedMessage": "This parameter is deprecated, use Features instead",
            "locationName": "dataSources"
          },
          "Tags": {
            "shape": "Sl",
            "locationName": "tags"
          },
          "Features": {
            "shape": "So",
            "locationName": "features"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DetectorId": {
            "locationName": "detectorId"
          },
          "UnprocessedDataSources": {
            "locationName": "unprocessedDataSources",
            "type": "structure",
            "members": {
              "MalwareProtection": {
                "shape": "Su",
                "locationName": "malwareProtection"
              }
            }
          }
        }
      }
    },
    "CreateFilter": {
      "http": {
        "requestUri": "/detector/{detectorId}/filter",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "Name",
          "FindingCriteria"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "Name": {
            "locationName": "name"
          },
          "Description": {
            "locationName": "description"
          },
          "Action": {
            "locationName": "action"
          },
          "Rank": {
            "locationName": "rank",
            "type": "integer"
          },
          "FindingCriteria": {
            "shape": "S13",
            "locationName": "findingCriteria"
          },
          "ClientToken": {
            "idempotencyToken": true,
            "locationName": "clientToken"
          },
          "Tags": {
            "shape": "Sl",
            "locationName": "tags"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "locationName": "name"
          }
        }
      }
    },
    "CreateIPSet": {
      "http": {
        "requestUri": "/detector/{detectorId}/ipset",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "Name",
          "Format",
          "Location",
          "Activate"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "Name": {
            "locationName": "name"
          },
          "Format": {
            "locationName": "format"
          },
          "Location": {
            "locationName": "location"
          },
          "Activate": {
            "locationName": "activate",
            "type": "boolean"
          },
          "ClientToken": {
            "idempotencyToken": true,
            "locationName": "clientToken"
          },
          "Tags": {
            "shape": "Sl",
            "locationName": "tags"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "IpSetId"
        ],
        "members": {
          "IpSetId": {
            "locationName": "ipSetId"
          }
        }
      }
    },
    "CreateMembers": {
      "http": {
        "requestUri": "/detector/{detectorId}/member",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "AccountDetails"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "AccountDetails": {
            "locationName": "accountDetails",
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AccountId",
                "Email"
              ],
              "members": {
                "AccountId": {
                  "locationName": "accountId"
                },
                "Email": {
                  "locationName": "email"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "UnprocessedAccounts"
        ],
        "members": {
          "UnprocessedAccounts": {
            "shape": "S1o",
            "locationName": "unprocessedAccounts"
          }
        }
      }
    },
    "CreatePublishingDestination": {
      "http": {
        "requestUri": "/detector/{detectorId}/publishingDestination",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "DestinationType",
          "DestinationProperties"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "DestinationType": {
            "locationName": "destinationType"
          },
          "DestinationProperties": {
            "shape": "S1s",
            "locationName": "destinationProperties"
          },
          "ClientToken": {
            "idempotencyToken": true,
            "locationName": "clientToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DestinationId"
        ],
        "members": {
          "DestinationId": {
            "locationName": "destinationId"
          }
        }
      }
    },
    "CreateSampleFindings": {
      "http": {
        "requestUri": "/detector/{detectorId}/findings/create",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "FindingTypes": {
            "locationName": "findingTypes",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateThreatIntelSet": {
      "http": {
        "requestUri": "/detector/{detectorId}/threatintelset",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "Name",
          "Format",
          "Location",
          "Activate"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "Name": {
            "locationName": "name"
          },
          "Format": {
            "locationName": "format"
          },
          "Location": {
            "locationName": "location"
          },
          "Activate": {
            "locationName": "activate",
            "type": "boolean"
          },
          "ClientToken": {
            "idempotencyToken": true,
            "locationName": "clientToken"
          },
          "Tags": {
            "shape": "Sl",
            "locationName": "tags"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ThreatIntelSetId"
        ],
        "members": {
          "ThreatIntelSetId": {
            "locationName": "threatIntelSetId"
          }
        }
      }
    },
    "DeclineInvitations": {
      "http": {
        "requestUri": "/invitation/decline",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "S22",
            "locationName": "accountIds"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "UnprocessedAccounts"
        ],
        "members": {
          "UnprocessedAccounts": {
            "shape": "S1o",
            "locationName": "unprocessedAccounts"
          }
        }
      }
    },
    "DeleteDetector": {
      "http": {
        "method": "DELETE",
        "requestUri": "/detector/{detectorId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteFilter": {
      "http": {
        "method": "DELETE",
        "requestUri": "/detector/{detectorId}/filter/{filterName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "FilterName"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "FilterName": {
            "location": "uri",
            "locationName": "filterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteIPSet": {
      "http": {
        "method": "DELETE",
        "requestUri": "/detector/{detectorId}/ipset/{ipSetId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "IpSetId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "IpSetId": {
            "location": "uri",
            "locationName": "ipSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteInvitations": {
      "http": {
        "requestUri": "/invitation/delete",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountIds"
        ],
        "members": {
          "AccountIds": {
            "shape": "S22",
            "locationName": "accountIds"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "UnprocessedAccounts"
        ],
        "members": {
          "UnprocessedAccounts": {
            "shape": "S1o",
            "locationName": "unprocessedAccounts"
          }
        }
      }
    },
    "DeleteMembers": {
      "http": {
        "requestUri": "/detector/{detectorId}/member/delete",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "AccountIds"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "AccountIds": {
            "shape": "S22",
            "locationName": "accountIds"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "UnprocessedAccounts"
        ],
        "members": {
          "UnprocessedAccounts": {
            "shape": "S1o",
            "locationName": "unprocessedAccounts"
          }
        }
      }
    },
    "DeletePublishingDestination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/detector/{detectorId}/publishingDestination/{destinationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "DestinationId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "DestinationId": {
            "location": "uri",
            "locationName": "destinationId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteThreatIntelSet": {
      "http": {
        "method": "DELETE",
        "requestUri": "/detector/{detectorId}/threatintelset/{threatIntelSetId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "ThreatIntelSetId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "ThreatIntelSetId": {
            "location": "uri",
            "locationName": "threatIntelSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeMalwareScans": {
      "http": {
        "requestUri": "/detector/{detectorId}/malware-scans",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "NextToken": {
            "locationName": "nextToken"
          },
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "FilterCriteria": {
            "locationName": "filterCriteria",
            "type": "structure",
            "members": {
              "FilterCriterion": {
                "locationName": "filterCriterion",
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "CriterionKey": {
                      "locationName": "criterionKey"
                    },
                    "FilterCondition": {
                      "locationName": "filterCondition",
                      "type": "structure",
                      "members": {
                        "EqualsValue": {
                          "locationName": "equalsValue"
                        },
                        "GreaterThan": {
                          "locationName": "greaterThan",
                          "type": "long"
                        },
                        "LessThan": {
                          "locationName": "lessThan",
                          "type": "long"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "SortCriteria": {
            "shape": "S2r",
            "locationName": "sortCriteria"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Scans"
        ],
        "members": {
          "Scans": {
            "locationName": "scans",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DetectorId": {
                  "locationName": "detectorId"
                },
                "AdminDetectorId": {
                  "locationName": "adminDetectorId"
                },
                "ScanId": {
                  "locationName": "scanId"
                },
                "ScanStatus": {
                  "locationName": "scanStatus"
                },
                "FailureReason": {
                  "locationName": "failureReason"
                },
                "ScanStartTime": {
                  "locationName": "scanStartTime",
                  "type": "timestamp"
                },
                "ScanEndTime": {
                  "locationName": "scanEndTime",
                  "type": "timestamp"
                },
                "TriggerDetails": {
                  "locationName": "triggerDetails",
                  "type": "structure",
                  "members": {
                    "GuardDutyFindingId": {
                      "locationName": "guardDutyFindingId"
                    },
                    "Description": {
                      "locationName": "description"
                    }
                  }
                },
                "ResourceDetails": {
                  "locationName": "resourceDetails",
                  "type": "structure",
                  "members": {
                    "InstanceArn": {
                      "locationName": "instanceArn"
                    }
                  }
                },
                "ScanResultDetails": {
                  "locationName": "scanResultDetails",
                  "type": "structure",
                  "members": {
                    "ScanResult": {
                      "locationName": "scanResult"
                    }
                  }
                },
                "AccountId": {
                  "locationName": "accountId"
                },
                "TotalBytes": {
                  "locationName": "totalBytes",
                  "type": "long"
                },
                "FileCount": {
                  "locationName": "fileCount",
                  "type": "long"
                },
                "AttachedVolumes": {
                  "shape": "S34",
                  "locationName": "attachedVolumes"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "DescribeOrganizationConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/admin",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MemberAccountLimitReached"
        ],
        "members": {
          "AutoEnable": {
            "deprecated": true,
            "deprecatedMessage": "This field is deprecated, use AutoEnableOrganizationMembers instead",
            "locationName": "autoEnable",
            "type": "boolean"
          },
          "MemberAccountLimitReached": {
            "locationName": "memberAccountLimitReached",
            "type": "boolean"
          },
          "DataSources": {
            "deprecated": true,
            "deprecatedMessage": "This parameter is deprecated, use Features instead",
            "locationName": "dataSources",
            "type": "structure",
            "required": [
              "S3Logs"
            ],
            "members": {
              "S3Logs": {
                "locationName": "s3Logs",
                "type": "structure",
                "required": [
                  "AutoEnable"
                ],
                "members": {
                  "AutoEnable": {
                    "locationName": "autoEnable",
                    "type": "boolean"
                  }
                }
              },
              "Kubernetes": {
                "locationName": "kubernetes",
                "type": "structure",
                "required": [
                  "AuditLogs"
                ],
                "members": {
                  "AuditLogs": {
                    "locationName": "auditLogs",
                    "type": "structure",
                    "required": [
                      "AutoEnable"
                    ],
                    "members": {
                      "AutoEnable": {
                        "locationName": "autoEnable",
                        "type": "boolean"
                      }
                    }
                  }
                }
              },
              "MalwareProtection": {
                "locationName": "malwareProtection",
                "type": "structure",
                "members": {
                  "ScanEc2InstanceWithFindings": {
                    "locationName": "scanEc2InstanceWithFindings",
                    "type": "structure",
                    "members": {
                      "EbsVolumes": {
                        "locationName": "ebsVolumes",
                        "type": "structure",
                        "members": {
                          "AutoEnable": {
                            "locationName": "autoEnable",
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "Features": {
            "locationName": "features",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "locationName": "name"
                },
                "AutoEnable": {
                  "locationName": "autoEnable"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          },
          "AutoEnableOrganizationMembers": {
            "locationName": "autoEnableOrganizationMembers"
          }
        }
      }
    },
    "DescribePublishingDestination": {
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/publishingDestination/{destinationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "DestinationId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "DestinationId": {
            "location": "uri",
            "locationName": "destinationId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DestinationId",
          "DestinationType",
          "Status",
          "PublishingFailureStartTimestamp",
          "DestinationProperties"
        ],
        "members": {
          "DestinationId": {
            "locationName": "destinationId"
          },
          "DestinationType": {
            "locationName": "destinationType"
          },
          "Status": {
            "locationName": "status"
          },
          "PublishingFailureStartTimestamp": {
            "locationName": "publishingFailureStartTimestamp",
            "type": "long"
          },
          "DestinationProperties": {
            "shape": "S1s",
            "locationName": "destinationProperties"
          }
        }
      }
    },
    "DisableOrganizationAdminAccount": {
      "http": {
        "requestUri": "/admin/disable",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AdminAccountId"
        ],
        "members": {
          "AdminAccountId": {
            "locationName": "adminAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromAdministratorAccount": {
      "http": {
        "requestUri": "/detector/{detectorId}/administrator/disassociate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromMasterAccount": {
      "http": {
        "requestUri": "/detector/{detectorId}/master/disassociate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          }
        },
        "deprecated": true,
        "deprecatedMessage": "This input is deprecated, use DisassociateFromAdministratorAccountRequest instead"
      },
      "output": {
        "type": "structure",
        "members": {},
        "deprecated": true,
        "deprecatedMessage": "This output is deprecated, use DisassociateFromAdministratorAccountResponse instead"
      },
      "deprecated": true,
      "deprecatedMessage": "This operation is deprecated, use DisassociateFromAdministratorAccount instead"
    },
    "DisassociateMembers": {
      "http": {
        "requestUri": "/detector/{detectorId}/member/disassociate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "AccountIds"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "AccountIds": {
            "shape": "S22",
            "locationName": "accountIds"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "UnprocessedAccounts"
        ],
        "members": {
          "UnprocessedAccounts": {
            "shape": "S1o",
            "locationName": "unprocessedAccounts"
          }
        }
      }
    },
    "EnableOrganizationAdminAccount": {
      "http": {
        "requestUri": "/admin/enable",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AdminAccountId"
        ],
        "members": {
          "AdminAccountId": {
            "locationName": "adminAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAdministratorAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/administrator",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Administrator"
        ],
        "members": {
          "Administrator": {
            "locationName": "administrator",
            "type": "structure",
            "members": {
              "AccountId": {
                "locationName": "accountId"
              },
              "InvitationId": {
                "locationName": "invitationId"
              },
              "RelationshipStatus": {
                "locationName": "relationshipStatus"
              },
              "InvitedAt": {
                "locationName": "invitedAt"
              }
            }
          }
        }
      }
    },
    "GetDetector": {
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ServiceRole",
          "Status"
        ],
        "members": {
          "CreatedAt": {
            "locationName": "createdAt"
          },
          "FindingPublishingFrequency": {
            "locationName": "findingPublishingFrequency"
          },
          "ServiceRole": {
            "locationName": "serviceRole"
          },
          "Status": {
            "locationName": "status"
          },
          "UpdatedAt": {
            "locationName": "updatedAt"
          },
          "DataSources": {
            "shape": "S44",
            "deprecated": true,
            "deprecatedMessage": "This parameter is deprecated, use Features instead",
            "locationName": "dataSources"
          },
          "Tags": {
            "shape": "Sl",
            "locationName": "tags"
          },
          "Features": {
            "locationName": "features",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "locationName": "name"
                },
                "Status": {
                  "locationName": "status"
                },
                "UpdatedAt": {
                  "locationName": "updatedAt",
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "GetFilter": {
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/filter/{filterName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "FilterName"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "FilterName": {
            "location": "uri",
            "locationName": "filterName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name",
          "Action",
          "FindingCriteria"
        ],
        "members": {
          "Name": {
            "locationName": "name"
          },
          "Description": {
            "locationName": "description"
          },
          "Action": {
            "locationName": "action"
          },
          "Rank": {
            "locationName": "rank",
            "type": "integer"
          },
          "FindingCriteria": {
            "shape": "S13",
            "locationName": "findingCriteria"
          },
          "Tags": {
            "shape": "Sl",
            "locationName": "tags"
          }
        }
      }
    },
    "GetFindings": {
      "http": {
        "requestUri": "/detector/{detectorId}/findings/get",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "FindingIds"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "FindingIds": {
            "shape": "S8",
            "locationName": "findingIds"
          },
          "SortCriteria": {
            "shape": "S2r",
            "locationName": "sortCriteria"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Findings"
        ],
        "members": {
          "Findings": {
            "locationName": "findings",
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AccountId",
                "Arn",
                "CreatedAt",
                "Id",
                "Region",
                "Resource",
                "SchemaVersion",
                "Severity",
                "Type",
                "UpdatedAt"
              ],
              "members": {
                "AccountId": {
                  "locationName": "accountId"
                },
                "Arn": {
                  "locationName": "arn"
                },
                "Confidence": {
                  "locationName": "confidence",
                  "type": "double"
                },
                "CreatedAt": {
                  "locationName": "createdAt"
                },
                "Description": {
                  "locationName": "description"
                },
                "Id": {
                  "locationName": "id"
                },
                "Partition": {
                  "locationName": "partition"
                },
                "Region": {
                  "locationName": "region"
                },
                "Resource": {
                  "locationName": "resource",
                  "type": "structure",
                  "members": {
                    "AccessKeyDetails": {
                      "locationName": "accessKeyDetails",
                      "type": "structure",
                      "members": {
                        "AccessKeyId": {
                          "locationName": "accessKeyId"
                        },
                        "PrincipalId": {
                          "locationName": "principalId"
                        },
                        "UserName": {
                          "locationName": "userName"
                        },
                        "UserType": {
                          "locationName": "userType"
                        }
                      }
                    },
                    "S3BucketDetails": {
                      "locationName": "s3BucketDetails",
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "Arn": {
                            "locationName": "arn"
                          },
                          "Name": {
                            "locationName": "name"
                          },
                          "Type": {
                            "locationName": "type"
                          },
                          "CreatedAt": {
                            "locationName": "createdAt",
                            "type": "timestamp"
                          },
                          "Owner": {
                            "locationName": "owner",
                            "type": "structure",
                            "members": {
                              "Id": {
                                "locationName": "id"
                              }
                            }
                          },
                          "Tags": {
                            "shape": "S4q",
                            "locationName": "tags"
                          },
                          "DefaultServerSideEncryption": {
                            "locationName": "defaultServerSideEncryption",
                            "type": "structure",
                            "members": {
                              "EncryptionType": {
                                "locationName": "encryptionType"
                              },
                              "KmsMasterKeyArn": {
                                "locationName": "kmsMasterKeyArn"
                              }
                            }
                          },
                          "PublicAccess": {
                            "locationName": "publicAccess",
                            "type": "structure",
                            "members": {
                              "PermissionConfiguration": {
                                "locationName": "permissionConfiguration",
                                "type": "structure",
                                "members": {
                                  "BucketLevelPermissions": {
                                    "locationName": "bucketLevelPermissions",
                                    "type": "structure",
                                    "members": {
                                      "AccessControlList": {
                                        "locationName": "accessControlList",
                                        "type": "structure",
                                        "members": {
                                          "AllowsPublicReadAccess": {
                                            "locationName": "allowsPublicReadAccess",
                                            "type": "boolean"
                                          },
                                          "AllowsPublicWriteAccess": {
                                            "locationName": "allowsPublicWriteAccess",
                                            "type": "boolean"
                                          }
                                        }
                                      },
                                      "BucketPolicy": {
                                        "locationName": "bucketPolicy",
                                        "type": "structure",
                                        "members": {
                                          "AllowsPublicReadAccess": {
                                            "locationName": "allowsPublicReadAccess",
                                            "type": "boolean"
                                          },
                                          "AllowsPublicWriteAccess": {
                                            "locationName": "allowsPublicWriteAccess",
                                            "type": "boolean"
                                          }
                                        }
                                      },
                                      "BlockPublicAccess": {
                                        "shape": "S4y",
                                        "locationName": "blockPublicAccess"
                                      }
                                    }
                                  },
                                  "AccountLevelPermissions": {
                                    "locationName": "accountLevelPermissions",
                                    "type": "structure",
                                    "members": {
                                      "BlockPublicAccess": {
                                        "shape": "S4y",
                                        "locationName": "blockPublicAccess"
                                      }
                                    }
                                  }
                                }
                              },
                              "EffectivePermission": {
                                "locationName": "effectivePermission"
                              }
                            }
                          }
                        }
                      }
                    },
                    "InstanceDetails": {
                      "locationName": "instanceDetails",
                      "type": "structure",
                      "members": {
                        "AvailabilityZone": {
                          "locationName": "availabilityZone"
                        },
                        "IamInstanceProfile": {
                          "locationName": "iamInstanceProfile",
                          "type": "structure",
                          "members": {
                            "Arn": {
                              "locationName": "arn"
                            },
                            "Id": {
                              "locationName": "id"
                            }
                          }
                        },
                        "ImageDescription": {
                          "locationName": "imageDescription"
                        },
                        "ImageId": {
                          "locationName": "imageId"
                        },
                        "InstanceId": {
                          "locationName": "instanceId"
                        },
                        "InstanceState": {
                          "locationName": "instanceState"
                        },
                        "InstanceType": {
                          "locationName": "instanceType"
                        },
                        "OutpostArn": {
                          "locationName": "outpostArn"
                        },
                        "LaunchTime": {
                          "locationName": "launchTime"
                        },
                        "NetworkInterfaces": {
                          "locationName": "networkInterfaces",
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Ipv6Addresses": {
                                "locationName": "ipv6Addresses",
                                "type": "list",
                                "member": {}
                              },
                              "NetworkInterfaceId": {
                                "locationName": "networkInterfaceId"
                              },
                              "PrivateDnsName": {
                                "locationName": "privateDnsName"
                              },
                              "PrivateIpAddress": {
                                "locationName": "privateIpAddress"
                              },
                              "PrivateIpAddresses": {
                                "locationName": "privateIpAddresses",
                                "type": "list",
                                "member": {
                                  "type": "structure",
                                  "members": {
                                    "PrivateDnsName": {
                                      "locationName": "privateDnsName"
                                    },
                                    "PrivateIpAddress": {
                                      "locationName": "privateIpAddress"
                                    }
                                  }
                                }
                              },
                              "PublicDnsName": {
                                "locationName": "publicDnsName"
                              },
                              "PublicIp": {
                                "locationName": "publicIp"
                              },
                              "SecurityGroups": {
                                "locationName": "securityGroups",
                                "type": "list",
                                "member": {
                                  "type": "structure",
                                  "members": {
                                    "GroupId": {
                                      "locationName": "groupId"
                                    },
                                    "GroupName": {
                                      "locationName": "groupName"
                                    }
                                  }
                                }
                              },
                              "SubnetId": {
                                "locationName": "subnetId"
                              },
                              "VpcId": {
                                "locationName": "vpcId"
                              }
                            }
                          }
                        },
                        "Platform": {
                          "locationName": "platform"
                        },
                        "ProductCodes": {
                          "locationName": "productCodes",
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Code": {
                                "locationName": "productCodeId"
                              },
                              "ProductType": {
                                "locationName": "productCodeType"
                              }
                            }
                          }
                        },
                        "Tags": {
                          "shape": "S4q",
                          "locationName": "tags"
                        }
                      }
                    },
                    "EksClusterDetails": {
                      "locationName": "eksClusterDetails",
                      "type": "structure",
                      "members": {
                        "Name": {
                          "locationName": "name"
                        },
                        "Arn": {
                          "locationName": "arn"
                        },
                        "VpcId": {
                          "locationName": "vpcId"
                        },
                        "Status": {
                          "locationName": "status"
                        },
                        "Tags": {
                          "shape": "S4q",
                          "locationName": "tags"
                        },
                        "CreatedAt": {
                          "locationName": "createdAt",
                          "type": "timestamp"
                        }
                      }
                    },
                    "KubernetesDetails": {
                      "locationName": "kubernetesDetails",
                      "type": "structure",
                      "members": {
                        "KubernetesUserDetails": {
                          "locationName": "kubernetesUserDetails",
                          "type": "structure",
                          "members": {
                            "Username": {
                              "locationName": "username"
                            },
                            "Uid": {
                              "locationName": "uid"
                            },
                            "Groups": {
                              "locationName": "groups",
                              "type": "list",
                              "member": {}
                            }
                          }
                        },
                        "KubernetesWorkloadDetails": {
                          "locationName": "kubernetesWorkloadDetails",
                          "type": "structure",
                          "members": {
                            "Name": {
                              "locationName": "name"
                            },
                            "Type": {
                              "locationName": "type"
                            },
                            "Uid": {
                              "locationName": "uid"
                            },
                            "Namespace": {
                              "locationName": "namespace"
                            },
                            "HostNetwork": {
                              "locationName": "hostNetwork",
                              "type": "boolean"
                            },
                            "Containers": {
                              "shape": "S5g",
                              "locationName": "containers"
                            },
                            "Volumes": {
                              "shape": "S5l",
                              "locationName": "volumes"
                            }
                          }
                        }
                      }
                    },
                    "ResourceType": {
                      "locationName": "resourceType"
                    },
                    "EbsVolumeDetails": {
                      "locationName": "ebsVolumeDetails",
                      "type": "structure",
                      "members": {
                        "ScannedVolumeDetails": {
                          "shape": "S34",
                          "locationName": "scannedVolumeDetails"
                        },
                        "SkippedVolumeDetails": {
                          "shape": "S34",
                          "locationName": "skippedVolumeDetails"
                        }
                      }
                    },
                    "EcsClusterDetails": {
                      "locationName": "ecsClusterDetails",
                      "type": "structure",
                      "members": {
                        "Name": {
                          "locationName": "name"
                        },
                        "Arn": {
                          "locationName": "arn"
                        },
                        "Status": {
                          "locationName": "status"
                        },
                        "ActiveServicesCount": {
                          "locationName": "activeServicesCount",
                          "type": "integer"
                        },
                        "RegisteredContainerInstancesCount": {
                          "locationName": "registeredContainerInstancesCount",
                          "type": "integer"
                        },
                        "RunningTasksCount": {
                          "locationName": "runningTasksCount",
                          "type": "integer"
                        },
                        "Tags": {
                          "shape": "S4q",
                          "locationName": "tags"
                        },
                        "TaskDetails": {
                          "locationName": "taskDetails",
                          "type": "structure",
                          "members": {
                            "Arn": {
                              "locationName": "arn"
                            },
                            "DefinitionArn": {
                              "locationName": "definitionArn"
                            },
                            "Version": {
                              "locationName": "version"
                            },
                            "TaskCreatedAt": {
                              "locationName": "createdAt",
                              "type": "timestamp"
                            },
                            "StartedAt": {
                              "locationName": "startedAt",
                              "type": "timestamp"
                            },
                            "StartedBy": {
                              "locationName": "startedBy"
                            },
                            "Tags": {
                              "shape": "S4q",
                              "locationName": "tags"
                            },
                            "Volumes": {
                              "shape": "S5l",
                              "locationName": "volumes"
                            },
                            "Containers": {
                              "shape": "S5g",
                              "locationName": "containers"
                            },
                            "Group": {
                              "locationName": "group"
                            }
                          }
                        }
                      }
                    },
                    "ContainerDetails": {
                      "shape": "S5h",
                      "locationName": "containerDetails"
                    },
                    "RdsDbInstanceDetails": {
                      "locationName": "rdsDbInstanceDetails",
                      "type": "structure",
                      "members": {
                        "DbInstanceIdentifier": {
                          "locationName": "dbInstanceIdentifier"
                        },
                        "Engine": {
                          "locationName": "engine"
                        },
                        "EngineVersion": {
                          "locationName": "engineVersion"
                        },
                        "DbClusterIdentifier": {
                          "locationName": "dbClusterIdentifier"
                        },
                        "DbInstanceArn": {
                          "locationName": "dbInstanceArn"
                        },
                        "Tags": {
                          "shape": "S4q",
                          "locationName": "tags"
                        }
                      }
                    },
                    "RdsDbUserDetails": {
                      "locationName": "rdsDbUserDetails",
                      "type": "structure",
                      "members": {
                        "User": {
                          "locationName": "user"
                        },
                        "Application": {
                          "locationName": "application"
                        },
                        "Database": {
                          "locationName": "database"
                        },
                        "Ssl": {
                          "locationName": "ssl"
                        },
                        "AuthMethod": {
                          "locationName": "authMethod"
                        }
                      }
                    }
                  }
                },
                "SchemaVersion": {
                  "locationName": "schemaVersion"
                },
                "Service": {
                  "locationName": "service",
                  "type": "structure",
                  "members": {
                    "Action": {
                      "locationName": "action",
                      "type": "structure",
                      "members": {
                        "ActionType": {
                          "locationName": "actionType"
                        },
                        "AwsApiCallAction": {
                          "locationName": "awsApiCallAction",
                          "type": "structure",
                          "members": {
                            "Api": {
                              "locationName": "api"
                            },
                            "CallerType": {
                              "locationName": "callerType"
                            },
                            "DomainDetails": {
                              "locationName": "domainDetails",
                              "type": "structure",
                              "members": {
                                "Domain": {
                                  "locationName": "domain"
                                }
                              }
                            },
                            "ErrorCode": {
                              "locationName": "errorCode"
                            },
                            "UserAgent": {
                              "locationName": "userAgent"
                            },
                            "RemoteIpDetails": {
                              "shape": "S5x",
                              "locationName": "remoteIpDetails"
                            },
                            "ServiceName": {
                              "locationName": "serviceName"
                            },
                            "RemoteAccountDetails": {
                              "locationName": "remoteAccountDetails",
                              "type": "structure",
                              "members": {
                                "AccountId": {
                                  "locationName": "accountId"
                                },
                                "Affiliated": {
                                  "locationName": "affiliated",
                                  "type": "boolean"
                                }
                              }
                            },
                            "AffectedResources": {
                              "locationName": "affectedResources",
                              "type": "map",
                              "key": {},
                              "value": {}
                            }
                          }
                        },
                        "DnsRequestAction": {
                          "locationName": "dnsRequestAction",
                          "type": "structure",
                          "members": {
                            "Domain": {
                              "locationName": "domain"
                            },
                            "Protocol": {
                              "locationName": "protocol"
                            },
                            "Blocked": {
                              "locationName": "blocked",
                              "type": "boolean"
                            }
                          }
                        },
                        "NetworkConnectionAction": {
                          "locationName": "networkConnectionAction",
                          "type": "structure",
                          "members": {
                            "Blocked": {
                              "locationName": "blocked",
                              "type": "boolean"
                            },
                            "ConnectionDirection": {
                              "locationName": "connectionDirection"
                            },
                            "LocalPortDetails": {
                              "shape": "S66",
                              "locationName": "localPortDetails"
                            },
                            "Protocol": {
                              "locationName": "protocol"
                            },
                            "LocalIpDetails": {
                              "shape": "S67",
                              "locationName": "localIpDetails"
                            },
                            "RemoteIpDetails": {
                              "shape": "S5x",
                              "locationName": "remoteIpDetails"
                            },
                            "RemotePortDetails": {
                              "locationName": "remotePortDetails",
                              "type": "structure",
                              "members": {
                                "Port": {
                                  "locationName": "port",
                                  "type": "integer"
                                },
                                "PortName": {
                                  "locationName": "portName"
                                }
                              }
                            }
                          }
                        },
                        "PortProbeAction": {
                          "locationName": "portProbeAction",
                          "type": "structure",
                          "members": {
                            "Blocked": {
                              "locationName": "blocked",
                              "type": "boolean"
                            },
                            "PortProbeDetails": {
                              "locationName": "portProbeDetails",
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "LocalPortDetails": {
                                    "shape": "S66",
                                    "locationName": "localPortDetails"
                                  },
                                  "LocalIpDetails": {
                                    "shape": "S67",
                                    "locationName": "localIpDetails"
                                  },
                                  "RemoteIpDetails": {
                                    "shape": "S5x",
                                    "locationName": "remoteIpDetails"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "KubernetesApiCallAction": {
                          "locationName": "kubernetesApiCallAction",
                          "type": "structure",
                          "members": {
                            "RequestUri": {
                              "locationName": "requestUri"
                            },
                            "Verb": {
                              "locationName": "verb"
                            },
                            "SourceIps": {
                              "locationName": "sourceIps",
                              "type": "list",
                              "member": {}
                            },
                            "UserAgent": {
                              "locationName": "userAgent"
                            },
                            "RemoteIpDetails": {
                              "shape": "S5x",
                              "locationName": "remoteIpDetails"
                            },
                            "StatusCode": {
                              "locationName": "statusCode",
                              "type": "integer"
                            },
                            "Parameters": {
                              "locationName": "parameters"
                            }
                          }
                        },
                        "RdsLoginAttemptAction": {
                          "locationName": "rdsLoginAttemptAction",
                          "type": "structure",
                          "members": {
                            "RemoteIpDetails": {
                              "shape": "S5x",
                              "locationName": "remoteIpDetails"
                            },
                            "LoginAttributes": {
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "User": {
                                    "locationName": "user"
                                  },
                                  "Application": {
                                    "locationName": "application"
                                  },
                                  "FailedLoginAttempts": {
                                    "locationName": "failedLoginAttempts",
                                    "type": "integer"
                                  },
                                  "SuccessfulLoginAttempts": {
                                    "locationName": "successfulLoginAttempts",
                                    "type": "integer"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "Evidence": {
                      "locationName": "evidence",
                      "type": "structure",
                      "members": {
                        "ThreatIntelligenceDetails": {
                          "locationName": "threatIntelligenceDetails",
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "ThreatListName": {
                                "locationName": "threatListName"
                              },
                              "ThreatNames": {
                                "locationName": "threatNames",
                                "type": "list",
                                "member": {}
                              }
                            }
                          }
                        }
                      }
                    },
                    "Archived": {
                      "locationName": "archived",
                      "type": "boolean"
                    },
                    "Count": {
                      "locationName": "count",
                      "type": "integer"
                    },
                    "DetectorId": {
                      "locationName": "detectorId"
                    },
                    "EventFirstSeen": {
                      "locationName": "eventFirstSeen"
                    },
                    "EventLastSeen": {
                      "locationName": "eventLastSeen"
                    },
                    "ResourceRole": {
                      "locationName": "resourceRole"
                    },
                    "ServiceName": {
                      "locationName": "serviceName"
                    },
                    "UserFeedback": {
                      "locationName": "userFeedback"
                    },
                    "AdditionalInfo": {
                      "locationName": "additionalInfo",
                      "type": "structure",
                      "members": {
                        "Value": {
                          "locationName": "value"
                        },
                        "Type": {
                          "locationName": "type"
                        }
                      }
                    },
                    "FeatureName": {
                      "locationName": "featureName"
                    },
                    "EbsVolumeScanDetails": {
                      "locationName": "ebsVolumeScanDetails",
                      "type": "structure",
                      "members": {
                        "ScanId": {
                          "locationName": "scanId"
                        },
                        "ScanStartedAt": {
                          "locationName": "scanStartedAt",
                          "type": "timestamp"
                        },
                        "ScanCompletedAt": {
                          "locationName": "scanCompletedAt",
                          "type": "timestamp"
                        },
                        "TriggerFindingId": {
                          "locationName": "triggerFindingId"
                        },
                        "Sources": {
                          "locationName": "sources",
                          "type": "list",
                          "member": {}
                        },
                        "ScanDetections": {
                          "locationName": "scanDetections",
                          "type": "structure",
                          "members": {
                            "ScannedItemCount": {
                              "locationName": "scannedItemCount",
                              "type": "structure",
                              "members": {
                                "TotalGb": {
                                  "locationName": "totalGb",
                                  "type": "integer"
                                },
                                "Files": {
                                  "locationName": "files",
                                  "type": "integer"
                                },
                                "Volumes": {
                                  "locationName": "volumes",
                                  "type": "integer"
                                }
                              }
                            },
                            "ThreatsDetectedItemCount": {
                              "locationName": "threatsDetectedItemCount",
                              "type": "structure",
                              "members": {
                                "Files": {
                                  "locationName": "files",
                                  "type": "integer"
                                }
                              }
                            },
                            "HighestSeverityThreatDetails": {
                              "locationName": "highestSeverityThreatDetails",
                              "type": "structure",
                              "members": {
                                "Severity": {
                                  "locationName": "severity"
                                },
                                "ThreatName": {
                                  "locationName": "threatName"
                                },
                                "Count": {
                                  "locationName": "count",
                                  "type": "integer"
                                }
                              }
                            },
                            "ThreatDetectedByName": {
                              "locationName": "threatDetectedByName",
                              "type": "structure",
                              "members": {
                                "ItemCount": {
                                  "locationName": "itemCount",
                                  "type": "integer"
                                },
                                "UniqueThreatNameCount": {
                                  "locationName": "uniqueThreatNameCount",
                                  "type": "integer"
                                },
                                "Shortened": {
                                  "locationName": "shortened",
                                  "type": "boolean"
                                },
                                "ThreatNames": {
                                  "locationName": "threatNames",
                                  "type": "list",
                                  "member": {
                                    "type": "structure",
                                    "members": {
                                      "Name": {
                                        "locationName": "name"
                                      },
                                      "Severity": {
                                        "locationName": "severity"
                                      },
                                      "ItemCount": {
                                        "locationName": "itemCount",
                                        "type": "integer"
                                      },
                                      "FilePaths": {
                                        "locationName": "filePaths",
                                        "type": "list",
                                        "member": {
                                          "type": "structure",
                                          "members": {
                                            "FilePath": {
                                              "locationName": "filePath"
                                            },
                                            "VolumeArn": {
                                              "locationName": "volumeArn"
                                            },
                                            "Hash": {
                                              "locationName": "hash"
                                            },
                                            "FileName": {
                                              "locationName": "fileName"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Severity": {
                  "locationName": "severity",
                  "type": "double"
                },
                "Title": {
                  "locationName": "title"
                },
                "Type": {
                  "locationName": "type"
                },
                "UpdatedAt": {
                  "locationName": "updatedAt"
                }
              }
            }
          }
        }
      }
    },
    "GetFindingsStatistics": {
      "http": {
        "requestUri": "/detector/{detectorId}/findings/statistics",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "FindingStatisticTypes"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "FindingStatisticTypes": {
            "locationName": "findingStatisticTypes",
            "type": "list",
            "member": {}
          },
          "FindingCriteria": {
            "shape": "S13",
            "locationName": "findingCriteria"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FindingStatistics"
        ],
        "members": {
          "FindingStatistics": {
            "locationName": "findingStatistics",
            "type": "structure",
            "members": {
              "CountBySeverity": {
                "locationName": "countBySeverity",
                "type": "map",
                "key": {},
                "value": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "GetIPSet": {
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/ipset/{ipSetId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "IpSetId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "IpSetId": {
            "location": "uri",
            "locationName": "ipSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name",
          "Format",
          "Location",
          "Status"
        ],
        "members": {
          "Name": {
            "locationName": "name"
          },
          "Format": {
            "locationName": "format"
          },
          "Location": {
            "locationName": "location"
          },
          "Status": {
            "locationName": "status"
          },
          "Tags": {
            "shape": "Sl",
            "locationName": "tags"
          }
        }
      }
    },
    "GetInvitationsCount": {
      "http": {
        "method": "GET",
        "requestUri": "/invitation/count",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "InvitationsCount": {
            "locationName": "invitationsCount",
            "type": "integer"
          }
        }
      }
    },
    "GetMalwareScanSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/malware-scan-settings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ScanResourceCriteria": {
            "shape": "S7a",
            "locationName": "scanResourceCriteria"
          },
          "EbsSnapshotPreservation": {
            "locationName": "ebsSnapshotPreservation"
          }
        }
      }
    },
    "GetMasterAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/master",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          }
        },
        "deprecated": true,
        "deprecatedMessage": "This input is deprecated, use GetAdministratorAccountRequest instead"
      },
      "output": {
        "type": "structure",
        "required": [
          "Master"
        ],
        "members": {
          "Master": {
            "locationName": "master",
            "type": "structure",
            "members": {
              "AccountId": {
                "locationName": "accountId"
              },
              "InvitationId": {
                "locationName": "invitationId"
              },
              "RelationshipStatus": {
                "locationName": "relationshipStatus"
              },
              "InvitedAt": {
                "locationName": "invitedAt"
              }
            }
          }
        },
        "deprecated": true,
        "deprecatedMessage": "This output is deprecated, use GetAdministratorAccountResponse instead"
      },
      "deprecated": true,
      "deprecatedMessage": "This operation is deprecated, use GetAdministratorAccount instead"
    },
    "GetMemberDetectors": {
      "http": {
        "requestUri": "/detector/{detectorId}/member/detector/get",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "AccountIds"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "AccountIds": {
            "shape": "S22",
            "locationName": "accountIds"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MemberDataSourceConfigurations",
          "UnprocessedAccounts"
        ],
        "members": {
          "MemberDataSourceConfigurations": {
            "locationName": "members",
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AccountId"
              ],
              "members": {
                "AccountId": {
                  "locationName": "accountId"
                },
                "DataSources": {
                  "shape": "S44",
                  "deprecated": true,
                  "deprecatedMessage": "This parameter is deprecated, use Features instead",
                  "locationName": "dataSources"
                },
                "Features": {
                  "locationName": "features",
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Name": {
                        "locationName": "name"
                      },
                      "Status": {
                        "locationName": "status"
                      },
                      "UpdatedAt": {
                        "locationName": "updatedAt",
                        "type": "timestamp"
                      }
                    }
                  }
                }
              }
            }
          },
          "UnprocessedAccounts": {
            "shape": "S1o",
            "locationName": "unprocessedAccounts"
          }
        }
      }
    },
    "GetMembers": {
      "http": {
        "requestUri": "/detector/{detectorId}/member/get",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "AccountIds"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "AccountIds": {
            "shape": "S22",
            "locationName": "accountIds"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Members",
          "UnprocessedAccounts"
        ],
        "members": {
          "Members": {
            "shape": "S7s",
            "locationName": "members"
          },
          "UnprocessedAccounts": {
            "shape": "S1o",
            "locationName": "unprocessedAccounts"
          }
        }
      }
    },
    "GetRemainingFreeTrialDays": {
      "http": {
        "requestUri": "/detector/{detectorId}/freeTrial/daysRemaining",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "AccountIds": {
            "shape": "S22",
            "locationName": "accountIds"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Accounts": {
            "locationName": "accounts",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountId": {
                  "locationName": "accountId"
                },
                "DataSources": {
                  "deprecated": true,
                  "deprecatedMessage": "This parameter is deprecated, use Features instead",
                  "locationName": "dataSources",
                  "type": "structure",
                  "members": {
                    "CloudTrail": {
                      "shape": "S7z",
                      "locationName": "cloudTrail"
                    },
                    "DnsLogs": {
                      "shape": "S7z",
                      "locationName": "dnsLogs"
                    },
                    "FlowLogs": {
                      "shape": "S7z",
                      "locationName": "flowLogs"
                    },
                    "S3Logs": {
                      "shape": "S7z",
                      "locationName": "s3Logs"
                    },
                    "Kubernetes": {
                      "locationName": "kubernetes",
                      "type": "structure",
                      "members": {
                        "AuditLogs": {
                          "shape": "S7z",
                          "locationName": "auditLogs"
                        }
                      }
                    },
                    "MalwareProtection": {
                      "locationName": "malwareProtection",
                      "type": "structure",
                      "members": {
                        "ScanEc2InstanceWithFindings": {
                          "shape": "S7z",
                          "locationName": "scanEc2InstanceWithFindings"
                        }
                      }
                    }
                  }
                },
                "Features": {
                  "locationName": "features",
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Name": {
                        "locationName": "name"
                      },
                      "FreeTrialDaysRemaining": {
                        "locationName": "freeTrialDaysRemaining",
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "UnprocessedAccounts": {
            "shape": "S1o",
            "locationName": "unprocessedAccounts"
          }
        }
      }
    },
    "GetThreatIntelSet": {
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/threatintelset/{threatIntelSetId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "ThreatIntelSetId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "ThreatIntelSetId": {
            "location": "uri",
            "locationName": "threatIntelSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Name",
          "Format",
          "Location",
          "Status"
        ],
        "members": {
          "Name": {
            "locationName": "name"
          },
          "Format": {
            "locationName": "format"
          },
          "Location": {
            "locationName": "location"
          },
          "Status": {
            "locationName": "status"
          },
          "Tags": {
            "shape": "Sl",
            "locationName": "tags"
          }
        }
      }
    },
    "GetUsageStatistics": {
      "http": {
        "requestUri": "/detector/{detectorId}/usage/statistics",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "UsageStatisticType",
          "UsageCriteria"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "UsageStatisticType": {
            "locationName": "usageStatisticsType"
          },
          "UsageCriteria": {
            "locationName": "usageCriteria",
            "type": "structure",
            "members": {
              "AccountIds": {
                "shape": "S22",
                "locationName": "accountIds"
              },
              "DataSources": {
                "deprecated": true,
                "deprecatedMessage": "This parameter is deprecated, use Features instead",
                "locationName": "dataSources",
                "type": "list",
                "member": {}
              },
              "Resources": {
                "locationName": "resources",
                "type": "list",
                "member": {}
              },
              "Features": {
                "locationName": "features",
                "type": "list",
                "member": {}
              }
            }
          },
          "Unit": {
            "locationName": "unit"
          },
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UsageStatistics": {
            "locationName": "usageStatistics",
            "type": "structure",
            "members": {
              "SumByAccount": {
                "locationName": "sumByAccount",
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "AccountId": {
                      "locationName": "accountId"
                    },
                    "Total": {
                      "shape": "S8k",
                      "locationName": "total"
                    }
                  }
                }
              },
              "SumByDataSource": {
                "locationName": "sumByDataSource",
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "DataSource": {
                      "locationName": "dataSource"
                    },
                    "Total": {
                      "shape": "S8k",
                      "locationName": "total"
                    }
                  }
                }
              },
              "SumByResource": {
                "shape": "S8n",
                "locationName": "sumByResource"
              },
              "TopResources": {
                "shape": "S8n",
                "locationName": "topResources"
              },
              "SumByFeature": {
                "locationName": "sumByFeature",
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Feature": {
                      "locationName": "feature"
                    },
                    "Total": {
                      "shape": "S8k",
                      "locationName": "total"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "InviteMembers": {
      "http": {
        "requestUri": "/detector/{detectorId}/member/invite",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId",
          "AccountIds"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "AccountIds": {
            "shape": "S22",
            "locationName": "accountIds"
          },
          "DisableEmailNotification": {
            "locationName": "disableEmailNotification",
            "type": "boolean"
          },
          "Message": {
            "locationName": "message"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "UnprocessedAccounts"
        ],
        "members": {
          "UnprocessedAccounts": {
            "shape": "S1o",
            "locationName": "unprocessedAccounts"
          }
        }
      }
    },
    "ListDetectors": {
      "http": {
        "method": "GET",
        "requestUri": "/detector",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DetectorIds"
        ],
        "members": {
          "DetectorIds": {
            "locationName": "detectorIds",
            "type": "list",
            "member": {}
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListFilters": {
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/filter",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FilterNames"
        ],
        "members": {
          "FilterNames": {
            "locationName": "filterNames",
            "type": "list",
            "member": {}
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListFindings": {
      "http": {
        "requestUri": "/detector/{detectorId}/findings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "FindingCriteria": {
            "shape": "S13",
            "locationName": "findingCriteria"
          },
          "SortCriteria": {
            "shape": "S2r",
            "locationName": "sortCriteria"
          },
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FindingIds"
        ],
        "members": {
          "FindingIds": {
            "shape": "S8",
            "locationName": "findingIds"
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListIPSets": {
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/ipset",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "IpSetIds"
        ],
        "members": {
          "IpSetIds": {
            "locationName": "ipSetIds",
            "type": "list",
            "member": {}
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListInvitations": {
      "http": {
        "method": "GET",
        "requestUri": "/invitation",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Invitations": {
            "locationName": "invitations",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AccountId": {
                  "locationName": "accountId"
                },
                "InvitationId": {
                  "locationName": "invitationId"
                },
                "RelationshipStatus": {
                  "locationName": "relationshipStatus"
                },
                "InvitedAt": {
                  "locationName": "invitedAt"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/member",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "DetectorId"
        ],
        "members": {
          "DetectorId": {
            "location": "uri",
            "locationName": "detectorId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "OnlyAssociated": {
            "location": "querystring",
            "locationName": "onlyAssociated"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Members": {
            "shape": "S7s",
            "locationName": "members"
          },
          "NextToken": {
[...]
