{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-08-04",
    "endpointPrefix": "health",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWSHealth",
    "serviceFullName": "AWS Health APIs and Notifications",
    "serviceId": "Health",
    "signatureVersion": "v4",
    "targetPrefix": "AWSHealth_20160804",
    "uid": "health-2016-08-04"
  },
  "operations": {
    "DescribeAffectedEntities": {
      "input": {
        "type": "structure",
        "required": [
          "filter"
        ],
        "members": {
          "filter": {
            "type": "structure",
            "required": [
              "eventArns"
            ],
            "members": {
              "eventArns": {
                "shape": "S3"
              },
              "entityArns": {
                "shape": "S5"
              },
              "entityValues": {
                "shape": "S7"
              },
              "lastUpdatedTimes": {
                "shape": "S9"
              },
              "tags": {
                "shape": "Sc"
              },
              "statusCodes": {
                "type": "list",
                "member": {
                  "shape": "Sh"
                },
                "max": 3,
                "min": 1
              }
            }
          },
          "locale": {
            "shape": "Si"
          },
          "nextToken": {
            "shape": "Sj"
          },
          "maxResults": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "entities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "entityArn": {
                  "shape": "S6"
                },
                "eventArn": {
                  "shape": "S4"
                },
                "entityValue": {
                  "shape": "S8"
                },
                "awsAccountId": {
                  "type": "string",
                  "pattern": "[0-9]{12}"
                },
                "lastUpdatedTime": {
                  "type": "timestamp"
                },
                "statusCode": {
                  "shape": "Sh"
                },
                "tags": {
                  "shape": "Sd"
                }
              }
            }
          },
          "nextToken": {
            "shape": "Sj"
          }
        }
      },
      "idempotent": true
    },
    "DescribeEntityAggregates": {
      "input": {
        "type": "structure",
        "members": {
          "eventArns": {
            "type": "list",
            "member": {
              "shape": "S4"
            },
            "max": 50,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "entityAggregates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "eventArn": {
                  "shape": "S4"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "idempotent": true
    },
    "DescribeEventAggregates": {
      "input": {
        "type": "structure",
        "required": [
          "aggregateField"
        ],
        "members": {
          "filter": {
            "shape": "Sw"
          },
          "aggregateField": {
            "type": "string",
            "enum": [
              "eventTypeCategory"
            ]
          },
          "maxResults": {
            "shape": "Sk"
          },
          "nextToken": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "eventAggregates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "aggregateValue": {},
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "nextToken": {
            "shape": "Sj"
          }
        }
      },
      "idempotent": true
    },
    "DescribeEventDetails": {
      "input": {
        "type": "structure",
        "required": [
          "eventArns"
        ],
        "members": {
          "eventArns": {
            "shape": "S3"
          },
          "locale": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "successfulSet": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "event": {
                  "shape": "S1i"
                },
                "eventDescription": {
                  "type": "structure",
                  "members": {
                    "latestDescription": {}
                  }
                },
                "eventMetadata": {
                  "type": "map",
                  "key": {},
                  "value": {
                    "type": "string",
                    "max": 10240
                  }
                }
              }
            }
          },
          "failedSet": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "eventArn": {
                  "shape": "S4"
                },
                "errorName": {},
                "errorMessage": {}
              }
            }
          }
        }
      },
      "idempotent": true
    },
    "DescribeEventTypes": {
      "input": {
        "type": "structure",
        "members": {
          "filter": {
            "type": "structure",
            "members": {
              "eventTypeCodes": {
                "type": "list",
                "member": {
                  "shape": "S1j"
                },
                "max": 10,
                "min": 1
              },
              "services": {
                "shape": "Sz"
              },
              "eventTypeCategories": {
                "type": "list",
                "member": {
                  "shape": "S16"
                },
                "max": 10,
                "min": 1
              }
            }
          },
          "locale": {
            "shape": "Si"
          },
          "nextToken": {
            "shape": "Sj"
          },
          "maxResults": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "eventTypes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "service": {
                  "shape": "S10"
                },
                "code": {
                  "shape": "S1j"
                },
                "category": {
                  "shape": "S16"
                }
              }
            }
          },
          "nextToken": {
            "shape": "Sj"
          }
        }
      },
      "idempotent": true
    },
    "DescribeEvents": {
      "input": {
        "type": "structure",
        "members": {
          "filter": {
            "shape": "Sw"
          },
          "nextToken": {
            "shape": "Sj"
          },
          "maxResults": {
            "shape": "Sk"
          },
          "locale": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "events": {
            "type": "list",
            "member": {
              "shape": "S1i"
            }
          },
          "nextToken": {
            "shape": "Sj"
          }
        }
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {
        "shape": "S4"
      },
      "max": 10,
      "min": 1
    },
    "S4": {
      "type": "string",
      "max": 1600,
      "pattern": "arn:aws:health:[^:]*:[^:]*:event(?:/[\\w-]+){1}((?:/[\\w-]+){2})?"
    },
    "S5": {
      "type": "list",
      "member": {
        "shape": "S6"
      },
      "max": 100,
      "min": 1
    },
    "S6": {
      "type": "string",
      "max": 1600
    },
    "S7": {
      "type": "list",
      "member": {
        "shape": "S8"
      },
      "max": 100,
      "min": 1
    },
    "S8": {
      "type": "string",
      "max": 256
    },
    "S9": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "from": {
            "type": "timestamp"
          },
          "to": {
            "type": "timestamp"
          }
        }
      },
      "max": 10,
      "min": 1
    },
    "Sc": {
      "type": "list",
      "member": {
        "shape": "Sd"
      },
      "max": 50
    },
    "Sd": {
      "type": "map",
      "key": {
        "type": "string",
        "max": 127
      },
      "value": {
        "type": "string",
        "max": 255
      },
      "max": 50
    },
    "Sh": {
      "type": "string",
      "enum": [
        "IMPAIRED",
        "UNIMPAIRED",
        "UNKNOWN"
      ]
    },
    "Si": {
      "type": "string",
      "max": 256,
      "min": 2
    },
    "Sj": {
      "type": "string",
      "pattern": "[a-zA-Z0-9=/+_.-]{4,512}"
    },
    "Sk": {
      "type": "integer",
      "max": 100,
      "min": 10
    },
    "Sw": {
      "type": "structure",
      "members": {
        "eventArns": {
          "shape": "S3"
        },
        "eventTypeCodes": {
          "type": "list",
          "member": {
            "type": "string",
            "max": 100,
            "min": 3
          },
          "max": 10,
          "min": 1
        },
        "services": {
          "shape": "Sz"
        },
        "regions": {
          "type": "list",
          "member": {
            "shape": "S12"
          },
          "max": 10,
          "min": 1
        },
        "availabilityZones": {
          "type": "list",
          "member": {
            "shape": "S14"
          }
        },
        "startTimes": {
          "shape": "S9"
        },
        "endTimes": {
          "shape": "S9"
        },
        "lastUpdatedTimes": {
          "shape": "S9"
        },
        "entityArns": {
          "shape": "S5"
        },
        "entityValues": {
          "shape": "S7"
        },
        "eventTypeCategories": {
          "type": "list",
          "member": {
            "shape": "S16"
          },
          "max": 10,
          "min": 1
        },
        "tags": {
          "shape": "Sc"
        },
        "eventStatusCodes": {
          "type": "list",
          "member": {
            "shape": "S18"
          },
          "max": 6,
          "min": 1
        }
      }
    },
    "Sz": {
      "type": "list",
      "member": {
        "shape": "S10"
      },
      "max": 10,
      "min": 1
    },
    "S10": {
      "type": "string",
      "max": 30,
      "min": 2
    },
    "S12": {
      "type": "string",
      "pattern": "[^:/]{2,25}"
    },
    "S14": {
      "type": "string",
      "pattern": "[a-z]{2}\\-[0-9a-z\\-]{4,16}"
    },
    "S16": {
      "type": "string",
      "enum": [
        "issue",
        "accountNotification",
        "scheduledChange"
      ],
      "max": 255,
      "min": 3
    },
    "S18": {
      "type": "string",
      "enum": [
        "open",
        "closed",
        "upcoming"
      ]
    },
    "S1i": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "S4"
        },
        "service": {
          "shape": "S10"
        },
        "eventTypeCode": {
          "shape": "S1j"
        },
        "eventTypeCategory": {
          "shape": "S16"
        },
        "region": {
          "shape": "S12"
        },
        "availabilityZone": {
          "shape": "S14"
        },
        "startTime": {
          "type": "timestamp"
        },
        "endTime": {
          "type": "timestamp"
        },
        "lastUpdatedTime": {
          "type": "timestamp"
        },
        "statusCode": {
          "shape": "S18"
        }
      }
    },
    "S1j": {
      "type": "string",
      "max": 100,
      "min": 3
    }
  }
}