{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-08-04",
    "endpointPrefix": "health",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWSHealth",
    "serviceFullName": "AWS Health APIs and Notifications",
    "serviceId": "Health",
    "signatureVersion": "v4",
    "targetPrefix": "AWSHealth_20160804",
    "uid": "health-2016-08-04"
  },
  "operations": {
    "DescribeAffectedAccountsForOrganization": {
      "input": {
        "type": "structure",
        "required": [
          "eventArn"
        ],
        "members": {
          "eventArn": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "affectedAccounts": {
            "type": "list",
            "member": {}
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeAffectedEntities": {
      "input": {
        "type": "structure",
        "required": [
          "filter"
        ],
        "members": {
          "filter": {
            "type": "structure",
            "required": [
              "eventArns"
            ],
            "members": {
              "eventArns": {
                "shape": "Sa"
              },
              "entityArns": {
                "shape": "Sb"
              },
              "entityValues": {
                "shape": "Sd"
              },
              "lastUpdatedTimes": {
                "shape": "Sf"
              },
              "tags": {
                "shape": "Si"
              },
              "statusCodes": {
                "type": "list",
                "member": {}
              }
            }
          },
          "locale": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "entities": {
            "shape": "Sq"
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeAffectedEntitiesForOrganization": {
      "input": {
        "type": "structure",
        "required": [
          "organizationEntityFilters"
        ],
        "members": {
          "organizationEntityFilters": {
            "type": "list",
            "member": {
              "shape": "Sv"
            }
          },
          "locale": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "entities": {
            "shape": "Sq"
          },
          "failedSet": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "awsAccountId": {},
                "eventArn": {},
                "errorName": {},
                "errorMessage": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeEntityAggregates": {
      "input": {
        "type": "structure",
        "members": {
          "eventArns": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "entityAggregates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "eventArn": {},
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "idempotent": true
    },
    "DescribeEventAggregates": {
      "input": {
        "type": "structure",
        "required": [
          "aggregateField"
        ],
        "members": {
          "filter": {
            "shape": "S17"
          },
          "aggregateField": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "eventAggregates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "aggregateValue": {},
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeEventDetails": {
      "input": {
        "type": "structure",
        "required": [
          "eventArns"
        ],
        "members": {
          "eventArns": {
            "shape": "Sa"
          },
          "locale": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "successfulSet": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "event": {
                  "shape": "S1t"
                },
                "eventDescription": {
                  "shape": "S1v"
                },
                "eventMetadata": {
                  "shape": "S1x"
                }
              }
            }
          },
          "failedSet": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "eventArn": {},
                "errorName": {},
                "errorMessage": {}
              }
            }
          }
        }
      },
      "idempotent": true
    },
    "DescribeEventDetailsForOrganization": {
      "input": {
        "type": "structure",
        "required": [
          "organizationEventDetailFilters"
        ],
        "members": {
          "organizationEventDetailFilters": {
            "type": "list",
            "member": {
              "shape": "Sv"
            }
          },
          "locale": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "successfulSet": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "awsAccountId": {},
                "event": {
                  "shape": "S1t"
                },
                "eventDescription": {
                  "shape": "S1v"
                },
                "eventMetadata": {
                  "shape": "S1x"
                }
              }
            }
          },
          "failedSet": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "awsAccountId": {},
                "eventArn": {},
                "errorName": {},
                "errorMessage": {}
              }
            }
          }
        }
      },
      "idempotent": true
    },
    "DescribeEventTypes": {
      "input": {
        "type": "structure",
        "members": {
          "filter": {
            "type": "structure",
            "members": {
              "eventTypeCodes": {
                "type": "list",
                "member": {}
              },
              "services": {
                "shape": "S1a"
              },
              "eventTypeCategories": {
                "type": "list",
                "member": {}
              }
            }
          },
          "locale": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "eventTypes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "service": {},
                "code": {},
                "category": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeEvents": {
      "input": {
        "type": "structure",
        "members": {
          "filter": {
            "shape": "S17"
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "locale": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "events": {
            "type": "list",
            "member": {
              "shape": "S1t"
            }
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeEventsForOrganization": {
      "input": {
        "type": "structure",
        "members": {
          "filter": {
            "type": "structure",
            "members": {
              "eventTypeCodes": {
                "shape": "S18"
              },
              "awsAccountIds": {
                "type": "list",
                "member": {}
              },
              "services": {
                "shape": "S1a"
              },
              "regions": {
                "shape": "S1c"
              },
              "startTime": {
                "shape": "Sg"
              },
              "endTime": {
                "shape": "Sg"
              },
              "lastUpdatedTime": {
                "shape": "Sg"
              },
              "entityArns": {
                "shape": "Sb"
              },
              "entityValues": {
                "shape": "Sd"
              },
              "eventTypeCategories": {
                "shape": "S1g"
              },
              "eventStatusCodes": {
                "shape": "S1i"
              }
            }
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "locale": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "events": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "region": {},
                "startTime": {
                  "type": "timestamp"
                },
                "endTime": {
                  "type": "timestamp"
                },
                "lastUpdatedTime": {
                  "type": "timestamp"
                },
                "statusCode": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeHealthServiceStatusForOrganization": {
      "output": {
        "type": "structure",
        "members": {
          "healthServiceAccessStatusForOrganization": {}
        }
      },
      "idempotent": true
    },
    "DisableHealthServiceAccessForOrganization": {
      "idempotent": true
    },
    "EnableHealthServiceAccessForOrganization": {
      "idempotent": true
    }
  },
  "shapes": {
    "Sa": {
      "type": "list",
      "member": {}
    },
    "Sb": {
      "type": "list",
      "member": {}
    },
    "Sd": {
      "type": "list",
      "member": {}
    },
    "Sf": {
      "type": "list",
      "member": {
        "shape": "Sg"
      }
    },
    "Sg": {
      "type": "structure",
      "members": {
        "from": {
          "type": "timestamp"
        },
        "to": {
          "type": "timestamp"
        }
      }
    },
    "Si": {
      "type": "list",
      "member": {
        "shape": "Sj"
      }
    },
    "Sj": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sq": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "entityArn": {},
          "eventArn": {},
          "entityValue": {},
          "entityUrl": {},
          "awsAccountId": {},
          "lastUpdatedTime": {
            "type": "timestamp"
          },
          "statusCode": {},
          "tags": {
            "shape": "Sj"
          }
        }
      }
    },
    "Sv": {
      "type": "structure",
      "required": [
        "eventArn",
        "awsAccountId"
      ],
      "members": {
        "eventArn": {},
        "awsAccountId": {}
      }
    },
    "S17": {
      "type": "structure",
      "members": {
        "eventArns": {
          "shape": "Sa"
        },
        "eventTypeCodes": {
          "shape": "S18"
        },
        "services": {
          "shape": "S1a"
        },
        "regions": {
          "shape": "S1c"
        },
        "availabilityZones": {
          "type": "list",
          "member": {}
        },
        "startTimes": {
          "shape": "Sf"
        },
        "endTimes": {
          "shape": "Sf"
        },
        "lastUpdatedTimes": {
          "shape": "Sf"
        },
        "entityArns": {
          "shape": "Sb"
        },
        "entityValues": {
          "shape": "Sd"
        },
        "eventTypeCategories": {
          "shape": "S1g"
        },
        "tags": {
          "shape": "Si"
        },
        "eventStatusCodes": {
          "shape": "S1i"
        }
      }
    },
    "S18": {
      "type": "list",
      "member": {}
    },
    "S1a": {
      "type": "list",
      "member": {}
    },
    "S1c": {
      "type": "list",
      "member": {}
    },
    "S1g": {
      "type": "list",
      "member": {}
    },
    "S1i": {
      "type": "list",
      "member": {}
    },
    "S1t": {
      "type": "structure",
      "members": {
        "arn": {},
        "service": {},
        "eventTypeCode": {},
        "eventTypeCategory": {},
        "region": {},
        "availabilityZone": {},
        "startTime": {
          "type": "timestamp"
        },
        "endTime": {
          "type": "timestamp"
        },
        "lastUpdatedTime": {
          "type": "timestamp"
        },
        "statusCode": {}
      }
    },
    "S1v": {
      "type": "structure",
      "members": {
        "latestDescription": {}
      }
    },
    "S1x": {
      "type": "map",
      "key": {},
      "value": {}
    }
  }
}