{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-08-04",
    "endpointPrefix": "health",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWSHealth",
    "serviceFullName": "AWS Health APIs and Notifications",
    "serviceId": "Health",
    "signatureVersion": "v4",
    "targetPrefix": "AWSHealth_20160804",
    "uid": "health-2016-08-04"
  },
  "operations": {
    "DescribeAffectedAccountsForOrganization": {
      "input": {
        "type": "structure",
        "required": [
          "eventArn"
        ],
        "members": {
          "eventArn": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "affectedAccounts": {
            "type": "list",
            "member": {}
          },
          "eventScopeCode": {},
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeAffectedEntities": {
      "input": {
        "type": "structure",
        "required": [
          "filter"
        ],
        "members": {
          "filter": {
            "type": "structure",
            "required": [
              "eventArns"
            ],
            "members": {
              "eventArns": {
                "shape": "Sb"
              },
              "entityArns": {
                "shape": "Sc"
              },
              "entityValues": {
                "shape": "Se"
              },
              "lastUpdatedTimes": {
                "shape": "Sg"
              },
              "tags": {
                "shape": "Sj"
              },
              "statusCodes": {
                "type": "list",
                "member": {}
              }
            }
          },
          "locale": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "entities": {
            "shape": "Sr"
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeAffectedEntitiesForOrganization": {
      "input": {
        "type": "structure",
        "required": [
          "organizationEntityFilters"
        ],
        "members": {
          "organizationEntityFilters": {
            "type": "list",
            "member": {
              "shape": "Sw"
            }
          },
          "locale": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "entities": {
            "shape": "Sr"
          },
          "failedSet": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "awsAccountId": {},
                "eventArn": {},
                "errorName": {},
                "errorMessage": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeEntityAggregates": {
      "input": {
        "type": "structure",
        "members": {
          "eventArns": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "entityAggregates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "eventArn": {},
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "idempotent": true
    },
    "DescribeEventAggregates": {
      "input": {
        "type": "structure",
        "required": [
          "aggregateField"
        ],
        "members": {
          "filter": {
            "shape": "S18"
          },
          "aggregateField": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "eventAggregates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "aggregateValue": {},
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeEventDetails": {
      "input": {
        "type": "structure",
        "required": [
          "eventArns"
        ],
        "members": {
          "eventArns": {
            "shape": "Sb"
          },
          "locale": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "successfulSet": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "event": {
                  "shape": "S1u"
                },
                "eventDescription": {
                  "shape": "S1w"
                },
                "eventMetadata": {
                  "shape": "S1y"
                }
              }
            }
          },
          "failedSet": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "eventArn": {},
                "errorName": {},
                "errorMessage": {}
              }
            }
          }
        }
      },
      "idempotent": true
    },
    "DescribeEventDetailsForOrganization": {
      "input": {
        "type": "structure",
        "required": [
          "organizationEventDetailFilters"
        ],
        "members": {
          "organizationEventDetailFilters": {
            "type": "list",
            "member": {
              "shape": "Sw"
            }
          },
          "locale": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "successfulSet": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "awsAccountId": {},
                "event": {
                  "shape": "S1u"
                },
                "eventDescription": {
                  "shape": "S1w"
                },
                "eventMetadata": {
                  "shape": "S1y"
                }
              }
            }
          },
          "failedSet": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "awsAccountId": {},
                "eventArn": {},
                "errorName": {},
                "errorMessage": {}
              }
            }
          }
        }
      },
      "idempotent": true
    },
    "DescribeEventTypes": {
      "input": {
        "type": "structure",
        "members": {
          "filter": {
            "type": "structure",
            "members": {
              "eventTypeCodes": {
                "type": "list",
                "member": {}
              },
              "services": {
                "shape": "S1b"
              },
              "eventTypeCategories": {
                "type": "list",
                "member": {}
              }
            }
          },
          "locale": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "eventTypes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "service": {},
                "code": {},
                "category": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeEvents": {
      "input": {
        "type": "structure",
        "members": {
          "filter": {
            "shape": "S18"
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "locale": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "events": {
            "type": "list",
            "member": {
              "shape": "S1u"
            }
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeEventsForOrganization": {
      "input": {
        "type": "structure",
        "members": {
          "filter": {
            "type": "structure",
            "members": {
              "eventTypeCodes": {
                "shape": "S19"
              },
              "awsAccountIds": {
                "type": "list",
                "member": {}
              },
              "services": {
                "shape": "S1b"
              },
              "regions": {
                "shape": "S1d"
              },
              "startTime": {
                "shape": "Sh"
              },
              "endTime": {
                "shape": "Sh"
              },
              "lastUpdatedTime": {
                "shape": "Sh"
              },
              "entityArns": {
                "shape": "Sc"
              },
              "entityValues": {
                "shape": "Se"
              },
              "eventTypeCategories": {
                "shape": "S1h"
              },
              "eventStatusCodes": {
                "shape": "S1j"
              }
            }
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "locale": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "events": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "service": {},
                "eventTypeCode": {},
                "eventTypeCategory": {},
                "eventScopeCode": {},
                "region": {},
                "startTime": {
                  "type": "timestamp"
                },
                "endTime": {
                  "type": "timestamp"
                },
                "lastUpdatedTime": {
                  "type": "timestamp"
                },
                "statusCode": {}
              }
            }
          },
          "nextToken": {}
        }
      },
      "idempotent": true
    },
    "DescribeHealthServiceStatusForOrganization": {
      "output": {
        "type": "structure",
        "members": {
          "healthServiceAccessStatusForOrganization": {}
        }
      },
      "idempotent": true
    },
    "DisableHealthServiceAccessForOrganization": {
      "idempotent": true
    },
    "EnableHealthServiceAccessForOrganization": {
      "idempotent": true
    }
  },
  "shapes": {
    "Sb": {
      "type": "list",
      "member": {}
    },
    "Sc": {
      "type": "list",
      "member": {}
    },
    "Se": {
      "type": "list",
      "member": {}
    },
    "Sg": {
      "type": "list",
      "member": {
        "shape": "Sh"
      }
    },
    "Sh": {
      "type": "structure",
      "members": {
        "from": {
          "type": "timestamp"
        },
        "to": {
          "type": "timestamp"
        }
      }
    },
    "Sj": {
      "type": "list",
      "member": {
        "shape": "Sk"
      }
    },
    "Sk": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sr": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "entityArn": {},
          "eventArn": {},
          "entityValue": {},
          "entityUrl": {},
          "awsAccountId": {},
          "lastUpdatedTime": {
            "type": "timestamp"
          },
          "statusCode": {},
          "tags": {
            "shape": "Sk"
          }
        }
      }
    },
    "Sw": {
      "type": "structure",
      "required": [
        "eventArn"
      ],
      "members": {
        "eventArn": {},
        "awsAccountId": {}
      }
    },
    "S18": {
      "type": "structure",
      "members": {
        "eventArns": {
          "shape": "Sb"
        },
        "eventTypeCodes": {
          "shape": "S19"
        },
        "services": {
          "shape": "S1b"
        },
        "regions": {
          "shape": "S1d"
        },
        "availabilityZones": {
          "type": "list",
          "member": {}
        },
        "startTimes": {
          "shape": "Sg"
        },
        "endTimes": {
          "shape": "Sg"
        },
        "lastUpdatedTimes": {
          "shape": "Sg"
        },
        "entityArns": {
          "shape": "Sc"
        },
        "entityValues": {
          "shape": "Se"
        },
        "eventTypeCategories": {
          "shape": "S1h"
        },
        "tags": {
          "shape": "Sj"
        },
        "eventStatusCodes": {
          "shape": "S1j"
        }
      }
    },
    "S19": {
      "type": "list",
      "member": {}
    },
    "S1b": {
      "type": "list",
      "member": {}
    },
    "S1d": {
      "type": "list",
      "member": {}
    },
    "S1h": {
      "type": "list",
      "member": {}
    },
    "S1j": {
      "type": "list",
      "member": {}
    },
    "S1u": {
      "type": "structure",
      "members": {
        "arn": {},
        "service": {},
        "eventTypeCode": {},
        "eventTypeCategory": {},
        "region": {},
        "availabilityZone": {},
        "startTime": {
          "type": "timestamp"
        },
        "endTime": {
          "type": "timestamp"
        },
        "lastUpdatedTime": {
          "type": "timestamp"
        },
        "statusCode": {},
        "eventScopeCode": {}
      }
    },
    "S1w": {
      "type": "structure",
      "members": {
        "latestDescription": {}
      }
    },
    "S1y": {
      "type": "map",
      "key": {},
      "value": {}
    }
  }
}