{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2010-05-08",
    "endpointPrefix": "iam",
    "globalEndpoint": "iam.amazonaws.com",
    "protocol": "query",
    "serviceAbbreviation": "IAM",
    "serviceFullName": "AWS Identity and Access Management",
    "serviceId": "IAM",
    "signatureVersion": "v4",
    "uid": "iam-2010-05-08",
    "xmlNamespace": "https://iam.amazonaws.com/doc/2010-05-08/"
  },
  "operations": {
    "AddClientIDToOpenIDConnectProvider": {
      "input": {
        "type": "structure",
        "required": [
          "OpenIDConnectProviderArn",
          "ClientID"
        ],
        "members": {
          "OpenIDConnectProviderArn": {
            "shape": "S2"
          },
          "ClientID": {
            "shape": "S3"
          }
        }
      }
    },
    "AddRoleToInstanceProfile": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceProfileName",
          "RoleName"
        ],
        "members": {
          "InstanceProfileName": {
            "shape": "S5"
          },
          "RoleName": {
            "shape": "S6"
          }
        }
      }
    },
    "AddUserToGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "UserName"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          },
          "UserName": {
            "shape": "S9"
          }
        }
      }
    },
    "AttachGroupPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "PolicyArn"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          },
          "PolicyArn": {
            "shape": "S2"
          }
        }
      }
    },
    "AttachRolePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName",
          "PolicyArn"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "PolicyArn": {
            "shape": "S2"
          }
        }
      }
    },
    "AttachUserPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "PolicyArn"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "PolicyArn": {
            "shape": "S2"
          }
        }
      }
    },
    "ChangePassword": {
      "input": {
        "type": "structure",
        "required": [
          "OldPassword",
          "NewPassword"
        ],
        "members": {
          "OldPassword": {
            "shape": "Sf"
          },
          "NewPassword": {
            "shape": "Sf"
          }
        }
      }
    },
    "CreateAccessKey": {
      "input": {
        "type": "structure",
        "members": {
          "UserName": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateAccessKeyResult",
        "type": "structure",
        "required": [
          "AccessKey"
        ],
        "members": {
          "AccessKey": {
            "type": "structure",
            "required": [
              "UserName",
              "AccessKeyId",
              "Status",
              "SecretAccessKey"
            ],
            "members": {
              "UserName": {
                "shape": "Sd"
              },
              "AccessKeyId": {
                "shape": "Sj"
              },
              "Status": {
                "shape": "Sk"
              },
              "SecretAccessKey": {
                "type": "string",
                "sensitive": true
              },
              "CreateDate": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "CreateAccountAlias": {
      "input": {
        "type": "structure",
        "required": [
          "AccountAlias"
        ],
        "members": {
          "AccountAlias": {
            "shape": "So"
          }
        }
      }
    },
    "CreateGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "Path": {
            "shape": "Sq"
          },
          "GroupName": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateGroupResult",
        "type": "structure",
        "required": [
          "Group"
        ],
        "members": {
          "Group": {
            "shape": "Ss"
          }
        }
      }
    },
    "CreateInstanceProfile": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceProfileName"
        ],
        "members": {
          "InstanceProfileName": {
            "shape": "S5"
          },
          "Path": {
            "shape": "Sq"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateInstanceProfileResult",
        "type": "structure",
        "required": [
          "InstanceProfile"
        ],
        "members": {
          "InstanceProfile": {
            "shape": "Sw"
          }
        }
      }
    },
    "CreateLoginProfile": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "Password"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "Password": {
            "shape": "Sf"
          },
          "PasswordResetRequired": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateLoginProfileResult",
        "type": "structure",
        "required": [
          "LoginProfile"
        ],
        "members": {
          "LoginProfile": {
            "shape": "S17"
          }
        }
      }
    },
    "CreateOpenIDConnectProvider": {
      "input": {
        "type": "structure",
        "required": [
          "Url",
          "ThumbprintList"
        ],
        "members": {
          "Url": {
            "shape": "S19"
          },
          "ClientIDList": {
            "shape": "S1a"
          },
          "ThumbprintList": {
            "shape": "S1b"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateOpenIDConnectProviderResult",
        "type": "structure",
        "members": {
          "OpenIDConnectProviderArn": {
            "shape": "S2"
          }
        }
      }
    },
    "CreatePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyName",
          "PolicyDocument"
        ],
        "members": {
          "PolicyName": {
            "shape": "S1f"
          },
          "Path": {
            "shape": "S1g"
          },
          "PolicyDocument": {
            "shape": "Sz"
          },
          "Description": {
            "shape": "S1h"
          }
        }
      },
      "output": {
        "resultWrapper": "CreatePolicyResult",
        "type": "structure",
        "members": {
          "Policy": {
            "shape": "S1j"
          }
        }
      }
    },
    "CreatePolicyVersion": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyArn",
          "PolicyDocument"
        ],
        "members": {
          "PolicyArn": {
            "shape": "S2"
          },
          "PolicyDocument": {
            "shape": "Sz"
          },
          "SetAsDefault": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "resultWrapper": "CreatePolicyVersionResult",
        "type": "structure",
        "members": {
          "PolicyVersion": {
            "shape": "S1o"
          }
        }
      }
    },
    "CreateRole": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName",
          "AssumeRolePolicyDocument"
        ],
        "members": {
          "Path": {
            "shape": "Sq"
          },
          "RoleName": {
            "shape": "S6"
          },
          "AssumeRolePolicyDocument": {
            "shape": "Sz"
          },
          "Description": {
            "shape": "S10"
          },
          "MaxSessionDuration": {
            "shape": "S11"
          },
          "PermissionsBoundary": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateRoleResult",
        "type": "structure",
        "required": [
          "Role"
        ],
        "members": {
          "Role": {
            "shape": "Sy"
          }
        }
      }
    },
    "CreateSAMLProvider": {
      "input": {
        "type": "structure",
        "required": [
          "SAMLMetadataDocument",
          "Name"
        ],
        "members": {
          "SAMLMetadataDocument": {
            "shape": "S1s"
          },
          "Name": {
            "type": "string",
            "max": 128,
            "min": 1,
            "pattern": "[\\w._-]+"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateSAMLProviderResult",
        "type": "structure",
        "members": {
          "SAMLProviderArn": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateServiceLinkedRole": {
      "input": {
        "type": "structure",
        "required": [
          "AWSServiceName"
        ],
        "members": {
          "AWSServiceName": {
            "shape": "S8"
          },
          "Description": {
            "shape": "S10"
          },
          "CustomSuffix": {
            "type": "string",
            "max": 64,
            "min": 1,
            "pattern": "[\\w+=,.@-]+"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateServiceLinkedRoleResult",
        "type": "structure",
        "members": {
          "Role": {
            "shape": "Sy"
          }
        }
      }
    },
    "CreateServiceSpecificCredential": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "ServiceName"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "ServiceName": {}
        }
      },
      "output": {
        "resultWrapper": "CreateServiceSpecificCredentialResult",
        "type": "structure",
        "members": {
          "ServiceSpecificCredential": {
            "shape": "S21"
          }
        }
      }
    },
    "CreateUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserName"
        ],
        "members": {
          "Path": {
            "shape": "Sq"
          },
          "UserName": {
            "shape": "Sd"
          },
          "PermissionsBoundary": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateUserResult",
        "type": "structure",
        "members": {
          "User": {
            "shape": "S27"
          }
        }
      }
    },
    "CreateVirtualMFADevice": {
      "input": {
        "type": "structure",
        "required": [
          "VirtualMFADeviceName"
        ],
        "members": {
          "Path": {
            "shape": "Sq"
          },
          "VirtualMFADeviceName": {
            "type": "string",
            "min": 1,
            "pattern": "[\\w+=,.@-]+"
          }
        }
      },
      "output": {
        "resultWrapper": "CreateVirtualMFADeviceResult",
        "type": "structure",
        "required": [
          "VirtualMFADevice"
        ],
        "members": {
          "VirtualMFADevice": {
            "shape": "S2b"
          }
        }
      }
    },
    "DeactivateMFADevice": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "SerialNumber"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "SerialNumber": {
            "shape": "S2c"
          }
        }
      }
    },
    "DeleteAccessKey": {
      "input": {
        "type": "structure",
        "required": [
          "AccessKeyId"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "AccessKeyId": {
            "shape": "Sj"
          }
        }
      }
    },
    "DeleteAccountAlias": {
      "input": {
        "type": "structure",
        "required": [
          "AccountAlias"
        ],
        "members": {
          "AccountAlias": {
            "shape": "So"
          }
        }
      }
    },
    "DeleteAccountPasswordPolicy": {},
    "DeleteGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          }
        }
      }
    },
    "DeleteGroupPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "PolicyName"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          },
          "PolicyName": {
            "shape": "S1f"
          }
        }
      }
    },
    "DeleteInstanceProfile": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceProfileName"
        ],
        "members": {
          "InstanceProfileName": {
            "shape": "S5"
          }
        }
      }
    },
    "DeleteLoginProfile": {
      "input": {
        "type": "structure",
        "required": [
          "UserName"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          }
        }
      }
    },
    "DeleteOpenIDConnectProvider": {
      "input": {
        "type": "structure",
        "required": [
          "OpenIDConnectProviderArn"
        ],
        "members": {
          "OpenIDConnectProviderArn": {
            "shape": "S2"
          }
        }
      }
    },
    "DeletePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyArn"
        ],
        "members": {
          "PolicyArn": {
            "shape": "S2"
          }
        }
      }
    },
    "DeletePolicyVersion": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyArn",
          "VersionId"
        ],
        "members": {
          "PolicyArn": {
            "shape": "S2"
          },
          "VersionId": {
            "shape": "S1k"
          }
        }
      }
    },
    "DeleteRole": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          }
        }
      }
    },
    "DeleteRolePermissionsBoundary": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          }
        }
      }
    },
    "DeleteRolePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName",
          "PolicyName"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "PolicyName": {
            "shape": "S1f"
          }
        }
      }
    },
    "DeleteSAMLProvider": {
      "input": {
        "type": "structure",
        "required": [
          "SAMLProviderArn"
        ],
        "members": {
          "SAMLProviderArn": {
            "shape": "S2"
          }
        }
      }
    },
    "DeleteSSHPublicKey": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "SSHPublicKeyId"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "SSHPublicKeyId": {
            "shape": "S2t"
          }
        }
      }
    },
    "DeleteServerCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "ServerCertificateName"
        ],
        "members": {
          "ServerCertificateName": {
            "shape": "S2v"
          }
        }
      }
    },
    "DeleteServiceLinkedRole": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteServiceLinkedRoleResult",
        "type": "structure",
        "required": [
          "DeletionTaskId"
        ],
        "members": {
          "DeletionTaskId": {
            "shape": "S2y"
          }
        }
      }
    },
    "DeleteServiceSpecificCredential": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceSpecificCredentialId"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "ServiceSpecificCredentialId": {
            "shape": "S24"
          }
        }
      }
    },
    "DeleteSigningCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateId"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "CertificateId": {
            "shape": "S31"
          }
        }
      }
    },
    "DeleteUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserName"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          }
        }
      }
    },
    "DeleteUserPermissionsBoundary": {
      "input": {
        "type": "structure",
        "required": [
          "UserName"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          }
        }
      }
    },
    "DeleteUserPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "PolicyName"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "PolicyName": {
            "shape": "S1f"
          }
        }
      }
    },
    "DeleteVirtualMFADevice": {
      "input": {
        "type": "structure",
        "required": [
          "SerialNumber"
        ],
        "members": {
          "SerialNumber": {
            "shape": "S2c"
          }
        }
      }
    },
    "DetachGroupPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "PolicyArn"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          },
          "PolicyArn": {
            "shape": "S2"
          }
        }
      }
    },
    "DetachRolePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName",
          "PolicyArn"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "PolicyArn": {
            "shape": "S2"
          }
        }
      }
    },
    "DetachUserPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "PolicyArn"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "PolicyArn": {
            "shape": "S2"
          }
        }
      }
    },
    "EnableMFADevice": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "SerialNumber",
          "AuthenticationCode1",
          "AuthenticationCode2"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "SerialNumber": {
            "shape": "S2c"
          },
          "AuthenticationCode1": {
            "shape": "S3a"
          },
          "AuthenticationCode2": {
            "shape": "S3a"
          }
        }
      }
    },
    "GenerateCredentialReport": {
      "output": {
        "resultWrapper": "GenerateCredentialReportResult",
        "type": "structure",
        "members": {
          "State": {
            "type": "string",
            "enum": [
              "STARTED",
              "INPROGRESS",
              "COMPLETE"
            ]
          },
          "Description": {}
        }
      }
    },
    "GetAccessKeyLastUsed": {
      "input": {
        "type": "structure",
        "required": [
          "AccessKeyId"
        ],
        "members": {
          "AccessKeyId": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "resultWrapper": "GetAccessKeyLastUsedResult",
        "type": "structure",
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "AccessKeyLastUsed": {
            "type": "structure",
            "required": [
              "LastUsedDate",
              "ServiceName",
              "Region"
            ],
            "members": {
              "LastUsedDate": {
                "type": "timestamp"
              },
              "ServiceName": {},
              "Region": {}
            }
          }
        }
      }
    },
    "GetAccountAuthorizationDetails": {
      "input": {
        "type": "structure",
        "members": {
          "Filter": {
            "type": "list",
            "member": {
              "shape": "S3k"
            }
          },
          "MaxItems": {
            "shape": "S3l"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      },
      "output": {
        "resultWrapper": "GetAccountAuthorizationDetailsResult",
        "type": "structure",
        "members": {
          "UserDetailList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Path": {
                  "shape": "Sq"
                },
                "UserName": {
                  "shape": "Sd"
                },
                "UserId": {
                  "shape": "St"
                },
                "Arn": {
                  "shape": "S2"
                },
                "CreateDate": {
                  "type": "timestamp"
                },
                "UserPolicyList": {
                  "shape": "S3q"
                },
                "GroupList": {
                  "type": "list",
                  "member": {
                    "shape": "S8"
                  }
                },
                "AttachedManagedPolicies": {
                  "shape": "S3t"
                },
                "PermissionsBoundary": {
                  "shape": "S12"
                }
              }
            }
          },
          "GroupDetailList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Path": {
                  "shape": "Sq"
                },
                "GroupName": {
                  "shape": "S8"
                },
                "GroupId": {
                  "shape": "St"
                },
                "Arn": {
                  "shape": "S2"
                },
                "CreateDate": {
                  "type": "timestamp"
                },
                "GroupPolicyList": {
                  "shape": "S3q"
                },
                "AttachedManagedPolicies": {
                  "shape": "S3t"
                }
              }
            }
          },
          "RoleDetailList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Path": {
                  "shape": "Sq"
                },
                "RoleName": {
                  "shape": "S6"
                },
                "RoleId": {
                  "shape": "St"
                },
                "Arn": {
                  "shape": "S2"
                },
                "CreateDate": {
                  "type": "timestamp"
                },
                "AssumeRolePolicyDocument": {
                  "shape": "Sz"
                },
                "InstanceProfileList": {
                  "shape": "S3z"
                },
                "RolePolicyList": {
                  "shape": "S3q"
                },
                "AttachedManagedPolicies": {
                  "shape": "S3t"
                },
                "PermissionsBoundary": {
                  "shape": "S12"
                }
              }
            }
          },
          "Policies": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PolicyName": {
                  "shape": "S1f"
                },
                "PolicyId": {
                  "shape": "St"
                },
                "Arn": {
                  "shape": "S2"
                },
                "Path": {
                  "shape": "S1g"
                },
                "DefaultVersionId": {
                  "shape": "S1k"
                },
                "AttachmentCount": {
                  "type": "integer"
                },
                "PermissionsBoundaryUsageCount": {
                  "type": "integer"
                },
                "IsAttachable": {
                  "type": "boolean"
                },
                "Description": {
                  "shape": "S1h"
                },
                "CreateDate": {
                  "type": "timestamp"
                },
                "UpdateDate": {
                  "type": "timestamp"
                },
                "PolicyVersionList": {
                  "shape": "S42"
                }
              }
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "GetAccountPasswordPolicy": {
      "output": {
        "resultWrapper": "GetAccountPasswordPolicyResult",
        "type": "structure",
        "required": [
          "PasswordPolicy"
        ],
        "members": {
          "PasswordPolicy": {
            "type": "structure",
            "members": {
              "MinimumPasswordLength": {
                "shape": "S45"
              },
              "RequireSymbols": {
                "type": "boolean"
              },
              "RequireNumbers": {
                "type": "boolean"
              },
              "RequireUppercaseCharacters": {
                "type": "boolean"
              },
              "RequireLowercaseCharacters": {
                "type": "boolean"
              },
              "AllowUsersToChangePassword": {
                "type": "boolean"
              },
              "ExpirePasswords": {
                "type": "boolean"
              },
              "MaxPasswordAge": {
                "shape": "S46"
              },
              "PasswordReusePrevention": {
                "shape": "S47"
              },
              "HardExpiry": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "GetAccountSummary": {
      "output": {
        "resultWrapper": "GetAccountSummaryResult",
        "type": "structure",
        "members": {
          "SummaryMap": {
            "type": "map",
            "key": {
              "type": "string",
              "enum": [
                "Users",
                "UsersQuota",
                "Groups",
                "GroupsQuota",
                "ServerCertificates",
                "ServerCertificatesQuota",
                "UserPolicySizeQuota",
                "GroupPolicySizeQuota",
                "GroupsPerUserQuota",
                "SigningCertificatesPerUserQuota",
                "AccessKeysPerUserQuota",
                "MFADevices",
                "MFADevicesInUse",
                "AccountMFAEnabled",
                "AccountAccessKeysPresent",
                "AccountSigningCertificatesPresent",
                "AttachedPoliciesPerGroupQuota",
                "AttachedPoliciesPerRoleQuota",
                "AttachedPoliciesPerUserQuota",
                "Policies",
                "PoliciesQuota",
                "PolicySizeQuota",
                "PolicyVersionsInUse",
                "PolicyVersionsInUseQuota",
                "VersionsPerPolicyQuota"
              ]
            },
            "value": {
              "type": "integer"
            }
          }
        }
      }
    },
    "GetContextKeysForCustomPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyInputList"
        ],
        "members": {
          "PolicyInputList": {
            "shape": "S4e"
          }
        }
      },
      "output": {
        "shape": "S4f",
        "resultWrapper": "GetContextKeysForCustomPolicyResult"
      }
    },
    "GetContextKeysForPrincipalPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicySourceArn"
        ],
        "members": {
          "PolicySourceArn": {
            "shape": "S2"
          },
          "PolicyInputList": {
            "shape": "S4e"
          }
        }
      },
      "output": {
        "shape": "S4f",
        "resultWrapper": "GetContextKeysForPrincipalPolicyResult"
      }
    },
    "GetCredentialReport": {
      "output": {
        "resultWrapper": "GetCredentialReportResult",
        "type": "structure",
        "members": {
          "Content": {
            "type": "blob"
          },
          "ReportFormat": {
            "type": "string",
            "enum": [
              "text/csv"
            ]
          },
          "GeneratedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "GetGroupResult",
        "type": "structure",
        "required": [
          "Group",
          "Users"
        ],
        "members": {
          "Group": {
            "shape": "Ss"
          },
          "Users": {
            "shape": "S4o"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "GetGroupPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "PolicyName"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          },
          "PolicyName": {
            "shape": "S1f"
          }
        }
      },
      "output": {
        "resultWrapper": "GetGroupPolicyResult",
        "type": "structure",
        "required": [
          "GroupName",
          "PolicyName",
          "PolicyDocument"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          },
          "PolicyName": {
            "shape": "S1f"
          },
          "PolicyDocument": {
            "shape": "Sz"
          }
        }
      }
    },
    "GetInstanceProfile": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceProfileName"
        ],
        "members": {
          "InstanceProfileName": {
            "shape": "S5"
          }
        }
      },
      "output": {
        "resultWrapper": "GetInstanceProfileResult",
        "type": "structure",
        "required": [
          "InstanceProfile"
        ],
        "members": {
          "InstanceProfile": {
            "shape": "Sw"
          }
        }
      }
    },
    "GetLoginProfile": {
      "input": {
        "type": "structure",
        "required": [
          "UserName"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "resultWrapper": "GetLoginProfileResult",
        "type": "structure",
        "required": [
          "LoginProfile"
        ],
        "members": {
          "LoginProfile": {
            "shape": "S17"
          }
        }
      }
    },
    "GetOpenIDConnectProvider": {
      "input": {
        "type": "structure",
        "required": [
          "OpenIDConnectProviderArn"
        ],
        "members": {
          "OpenIDConnectProviderArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "GetOpenIDConnectProviderResult",
        "type": "structure",
        "members": {
          "Url": {
            "shape": "S19"
          },
          "ClientIDList": {
            "shape": "S1a"
          },
          "ThumbprintList": {
            "shape": "S1b"
          },
          "CreateDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyArn"
        ],
        "members": {
          "PolicyArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "GetPolicyResult",
        "type": "structure",
        "members": {
          "Policy": {
            "shape": "S1j"
          }
        }
      }
    },
    "GetPolicyVersion": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyArn",
          "VersionId"
        ],
        "members": {
          "PolicyArn": {
            "shape": "S2"
          },
          "VersionId": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "resultWrapper": "GetPolicyVersionResult",
        "type": "structure",
        "members": {
          "PolicyVersion": {
            "shape": "S1o"
          }
        }
      }
    },
    "GetRole": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "resultWrapper": "GetRoleResult",
        "type": "structure",
        "required": [
          "Role"
        ],
        "members": {
          "Role": {
            "shape": "Sy"
          }
        }
      }
    },
    "GetRolePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName",
          "PolicyName"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "PolicyName": {
            "shape": "S1f"
          }
        }
      },
      "output": {
        "resultWrapper": "GetRolePolicyResult",
        "type": "structure",
        "required": [
          "RoleName",
          "PolicyName",
          "PolicyDocument"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "PolicyName": {
            "shape": "S1f"
          },
          "PolicyDocument": {
            "shape": "Sz"
          }
        }
      }
    },
    "GetSAMLProvider": {
      "input": {
        "type": "structure",
        "required": [
          "SAMLProviderArn"
        ],
        "members": {
          "SAMLProviderArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "GetSAMLProviderResult",
        "type": "structure",
        "members": {
          "SAMLMetadataDocument": {
            "shape": "S1s"
          },
          "CreateDate": {
            "type": "timestamp"
          },
          "ValidUntil": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetSSHPublicKey": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "SSHPublicKeyId",
          "Encoding"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "SSHPublicKeyId": {
            "shape": "S2t"
          },
          "Encoding": {
            "type": "string",
            "enum": [
              "SSH",
              "PEM"
            ]
          }
        }
      },
      "output": {
        "resultWrapper": "GetSSHPublicKeyResult",
        "type": "structure",
        "members": {
          "SSHPublicKey": {
            "shape": "S5a"
          }
        }
      }
    },
    "GetServerCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "ServerCertificateName"
        ],
        "members": {
          "ServerCertificateName": {
            "shape": "S2v"
          }
        }
      },
      "output": {
        "resultWrapper": "GetServerCertificateResult",
        "type": "structure",
        "required": [
          "ServerCertificate"
        ],
        "members": {
          "ServerCertificate": {
            "type": "structure",
            "required": [
              "ServerCertificateMetadata",
              "CertificateBody"
            ],
            "members": {
              "ServerCertificateMetadata": {
                "shape": "S5g"
              },
              "CertificateBody": {
                "shape": "S5h"
              },
              "CertificateChain": {
                "shape": "S5i"
              }
            }
          }
        }
      }
    },
    "GetServiceLinkedRoleDeletionStatus": {
      "input": {
        "type": "structure",
        "required": [
          "DeletionTaskId"
        ],
        "members": {
          "DeletionTaskId": {
            "shape": "S2y"
          }
        }
      },
      "output": {
        "resultWrapper": "GetServiceLinkedRoleDeletionStatusResult",
        "type": "structure",
        "required": [
          "Status"
        ],
        "members": {
          "Status": {
            "type": "string",
            "enum": [
              "SUCCEEDED",
              "IN_PROGRESS",
              "FAILED",
              "NOT_STARTED"
            ]
          },
          "Reason": {
            "type": "structure",
            "members": {
              "Reason": {
                "type": "string",
                "max": 1000
              },
              "RoleUsageList": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Region": {
                      "type": "string",
                      "max": 100,
                      "min": 1
                    },
                    "Resources": {
                      "type": "list",
                      "member": {
                        "shape": "S2"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetUser": {
      "input": {
        "type": "structure",
        "members": {
          "UserName": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "resultWrapper": "GetUserResult",
        "type": "structure",
        "required": [
          "User"
        ],
        "members": {
          "User": {
            "shape": "S27"
          }
        }
      }
    },
    "GetUserPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "PolicyName"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "PolicyName": {
            "shape": "S1f"
          }
        }
      },
      "output": {
        "resultWrapper": "GetUserPolicyResult",
        "type": "structure",
        "required": [
          "UserName",
          "PolicyName",
          "PolicyDocument"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "PolicyName": {
            "shape": "S1f"
          },
          "PolicyDocument": {
            "shape": "Sz"
          }
        }
      }
    },
    "ListAccessKeys": {
      "input": {
        "type": "structure",
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListAccessKeysResult",
        "type": "structure",
        "required": [
          "AccessKeyMetadata"
        ],
        "members": {
          "AccessKeyMetadata": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "UserName": {
                  "shape": "Sd"
                },
                "AccessKeyId": {
                  "shape": "Sj"
                },
                "Status": {
                  "shape": "Sk"
                },
                "CreateDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListAccountAliases": {
      "input": {
        "type": "structure",
        "members": {
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListAccountAliasesResult",
        "type": "structure",
        "required": [
          "AccountAliases"
        ],
        "members": {
          "AccountAliases": {
            "type": "list",
            "member": {
              "shape": "So"
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListAttachedGroupPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          },
          "PathPrefix": {
            "shape": "S1g"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListAttachedGroupPoliciesResult",
        "type": "structure",
        "members": {
          "AttachedPolicies": {
            "shape": "S3t"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListAttachedRolePolicies": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "PathPrefix": {
            "shape": "S1g"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListAttachedRolePoliciesResult",
        "type": "structure",
        "members": {
          "AttachedPolicies": {
            "shape": "S3t"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListAttachedUserPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "UserName"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "PathPrefix": {
            "shape": "S1g"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListAttachedUserPoliciesResult",
        "type": "structure",
        "members": {
          "AttachedPolicies": {
            "shape": "S3t"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListEntitiesForPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyArn"
        ],
        "members": {
          "PolicyArn": {
            "shape": "S2"
          },
          "EntityFilter": {
            "shape": "S3k"
          },
          "PathPrefix": {
            "shape": "Sq"
          },
          "PolicyUsageFilter": {
            "shape": "S6a"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListEntitiesForPolicyResult",
        "type": "structure",
        "members": {
          "PolicyGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "GroupName": {
                  "shape": "S8"
                },
                "GroupId": {
                  "shape": "St"
                }
              }
            }
          },
          "PolicyUsers": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "UserName": {
                  "shape": "Sd"
                },
                "UserId": {
                  "shape": "St"
                }
              }
            }
          },
          "PolicyRoles": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RoleName": {
                  "shape": "S6"
                },
                "RoleId": {
                  "shape": "St"
                }
              }
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListGroupPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListGroupPoliciesResult",
        "type": "structure",
        "required": [
          "PolicyNames"
        ],
        "members": {
          "PolicyNames": {
            "shape": "S6k"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListGroups": {
      "input": {
        "type": "structure",
        "members": {
          "PathPrefix": {
            "shape": "S6m"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListGroupsResult",
        "type": "structure",
        "required": [
          "Groups"
        ],
        "members": {
          "Groups": {
            "shape": "S6o"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListGroupsForUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserName"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListGroupsForUserResult",
        "type": "structure",
        "required": [
          "Groups"
        ],
        "members": {
          "Groups": {
            "shape": "S6o"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListInstanceProfiles": {
      "input": {
        "type": "structure",
        "members": {
          "PathPrefix": {
            "shape": "S6m"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListInstanceProfilesResult",
        "type": "structure",
        "required": [
          "InstanceProfiles"
        ],
        "members": {
          "InstanceProfiles": {
            "shape": "S3z"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListInstanceProfilesForRole": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListInstanceProfilesForRoleResult",
        "type": "structure",
        "required": [
          "InstanceProfiles"
        ],
        "members": {
          "InstanceProfiles": {
            "shape": "S3z"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListMFADevices": {
      "input": {
        "type": "structure",
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListMFADevicesResult",
        "type": "structure",
        "required": [
          "MFADevices"
        ],
        "members": {
          "MFADevices": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "UserName",
                "SerialNumber",
                "EnableDate"
              ],
              "members": {
                "UserName": {
                  "shape": "Sd"
                },
                "SerialNumber": {
                  "shape": "S2c"
                },
                "EnableDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListOpenIDConnectProviders": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "resultWrapper": "ListOpenIDConnectProvidersResult",
        "type": "structure",
        "members": {
          "OpenIDConnectProviderList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {
                  "shape": "S2"
                }
              }
            }
          }
        }
      }
    },
    "ListPolicies": {
      "input": {
        "type": "structure",
        "members": {
          "Scope": {
            "type": "string",
            "enum": [
              "All",
              "AWS",
              "Local"
            ]
          },
          "OnlyAttached": {
            "type": "boolean"
          },
          "PathPrefix": {
            "shape": "S1g"
          },
          "PolicyUsageFilter": {
            "shape": "S6a"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListPoliciesResult",
        "type": "structure",
        "members": {
          "Policies": {
            "type": "list",
            "member": {
              "shape": "S1j"
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListPolicyVersions": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyArn"
        ],
        "members": {
          "PolicyArn": {
            "shape": "S2"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListPolicyVersionsResult",
        "type": "structure",
        "members": {
          "Versions": {
            "shape": "S42"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListRolePolicies": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListRolePoliciesResult",
        "type": "structure",
        "required": [
          "PolicyNames"
        ],
        "members": {
          "PolicyNames": {
            "shape": "S6k"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListRoles": {
      "input": {
        "type": "structure",
        "members": {
          "PathPrefix": {
            "shape": "S6m"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListRolesResult",
        "type": "structure",
        "required": [
          "Roles"
        ],
        "members": {
          "Roles": {
            "shape": "Sx"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListSAMLProviders": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "resultWrapper": "ListSAMLProvidersResult",
        "type": "structure",
        "members": {
          "SAMLProviderList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {
                  "shape": "S2"
                },
                "ValidUntil": {
                  "type": "timestamp"
                },
                "CreateDate": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListSSHPublicKeys": {
      "input": {
        "type": "structure",
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListSSHPublicKeysResult",
        "type": "structure",
        "members": {
          "SSHPublicKeys": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "UserName",
                "SSHPublicKeyId",
                "Status",
                "UploadDate"
              ],
              "members": {
                "UserName": {
                  "shape": "Sd"
                },
                "SSHPublicKeyId": {
                  "shape": "S2t"
                },
                "Status": {
                  "shape": "Sk"
                },
                "UploadDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListServerCertificates": {
      "input": {
        "type": "structure",
        "members": {
          "PathPrefix": {
            "shape": "S6m"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListServerCertificatesResult",
        "type": "structure",
        "required": [
          "ServerCertificateMetadataList"
        ],
        "members": {
          "ServerCertificateMetadataList": {
            "type": "list",
            "member": {
              "shape": "S5g"
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListServiceSpecificCredentials": {
      "input": {
        "type": "structure",
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "ServiceName": {}
        }
      },
      "output": {
        "resultWrapper": "ListServiceSpecificCredentialsResult",
        "type": "structure",
        "members": {
          "ServiceSpecificCredentials": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "UserName",
                "Status",
                "ServiceUserName",
                "CreateDate",
                "ServiceSpecificCredentialId",
                "ServiceName"
              ],
              "members": {
                "UserName": {
                  "shape": "Sd"
                },
                "Status": {
                  "shape": "Sk"
                },
                "ServiceUserName": {
                  "shape": "S22"
                },
                "CreateDate": {
                  "type": "timestamp"
                },
                "ServiceSpecificCredentialId": {
                  "shape": "S24"
                },
                "ServiceName": {}
              }
            }
          }
        }
      }
    },
    "ListSigningCertificates": {
      "input": {
        "type": "structure",
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListSigningCertificatesResult",
        "type": "structure",
        "required": [
          "Certificates"
        ],
        "members": {
          "Certificates": {
            "type": "list",
            "member": {
              "shape": "S7v"
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListUserPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "UserName"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListUserPoliciesResult",
        "type": "structure",
        "required": [
          "PolicyNames"
        ],
        "members": {
          "PolicyNames": {
            "shape": "S6k"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListUsers": {
      "input": {
        "type": "structure",
        "members": {
          "PathPrefix": {
            "shape": "S6m"
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListUsersResult",
        "type": "structure",
        "required": [
          "Users"
        ],
        "members": {
          "Users": {
            "shape": "S4o"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "ListVirtualMFADevices": {
      "input": {
        "type": "structure",
        "members": {
          "AssignmentStatus": {
            "type": "string",
            "enum": [
              "Assigned",
              "Unassigned",
              "Any"
            ]
          },
          "Marker": {
            "shape": "S3m"
          },
          "MaxItems": {
            "shape": "S3l"
          }
        }
      },
      "output": {
        "resultWrapper": "ListVirtualMFADevicesResult",
        "type": "structure",
        "required": [
          "VirtualMFADevices"
        ],
        "members": {
          "VirtualMFADevices": {
            "type": "list",
            "member": {
              "shape": "S2b"
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      }
    },
    "PutGroupPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "PolicyName",
          "PolicyDocument"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          },
          "PolicyName": {
            "shape": "S1f"
          },
          "PolicyDocument": {
            "shape": "Sz"
          }
        }
      }
    },
    "PutRolePermissionsBoundary": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName",
          "PermissionsBoundary"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "PermissionsBoundary": {
            "shape": "S2"
          }
        }
      }
    },
    "PutRolePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName",
          "PolicyName",
          "PolicyDocument"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "PolicyName": {
            "shape": "S1f"
          },
          "PolicyDocument": {
            "shape": "Sz"
          }
        }
      }
    },
    "PutUserPermissionsBoundary": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "PermissionsBoundary"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "PermissionsBoundary": {
            "shape": "S2"
          }
        }
      }
    },
    "PutUserPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "PolicyName",
          "PolicyDocument"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "PolicyName": {
            "shape": "S1f"
          },
          "PolicyDocument": {
            "shape": "Sz"
          }
        }
      }
    },
    "RemoveClientIDFromOpenIDConnectProvider": {
      "input": {
        "type": "structure",
        "required": [
          "OpenIDConnectProviderArn",
          "ClientID"
        ],
        "members": {
          "OpenIDConnectProviderArn": {
            "shape": "S2"
          },
          "ClientID": {
            "shape": "S3"
          }
        }
      }
    },
    "RemoveRoleFromInstanceProfile": {
      "input": {
        "type": "structure",
        "required": [
          "InstanceProfileName",
          "RoleName"
        ],
        "members": {
          "InstanceProfileName": {
            "shape": "S5"
          },
          "RoleName": {
            "shape": "S6"
          }
        }
      }
    },
    "RemoveUserFromGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "UserName"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          },
          "UserName": {
            "shape": "S9"
          }
        }
      }
    },
    "ResetServiceSpecificCredential": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceSpecificCredentialId"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "ServiceSpecificCredentialId": {
            "shape": "S24"
          }
        }
      },
      "output": {
        "resultWrapper": "ResetServiceSpecificCredentialResult",
        "type": "structure",
        "members": {
          "ServiceSpecificCredential": {
            "shape": "S21"
          }
        }
      }
    },
    "ResyncMFADevice": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "SerialNumber",
          "AuthenticationCode1",
          "AuthenticationCode2"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "SerialNumber": {
            "shape": "S2c"
          },
          "AuthenticationCode1": {
            "shape": "S3a"
          },
          "AuthenticationCode2": {
            "shape": "S3a"
          }
        }
      }
    },
    "SetDefaultPolicyVersion": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyArn",
          "VersionId"
        ],
        "members": {
          "PolicyArn": {
            "shape": "S2"
          },
          "VersionId": {
            "shape": "S1k"
          }
        }
      }
    },
    "SimulateCustomPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyInputList",
          "ActionNames"
        ],
        "members": {
          "PolicyInputList": {
            "shape": "S4e"
          },
          "ActionNames": {
            "shape": "S8h"
          },
          "ResourceArns": {
            "shape": "S8j"
          },
          "ResourcePolicy": {
            "shape": "Sz"
          },
          "ResourceOwner": {
            "shape": "S8k"
          },
          "CallerArn": {
            "shape": "S8k"
          },
          "ContextEntries": {
            "shape": "S8l"
          },
          "ResourceHandlingOption": {
            "shape": "S8q"
          },
          "MaxItems": {
            "shape": "S3l"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      },
      "output": {
        "shape": "S8r",
        "resultWrapper": "SimulateCustomPolicyResult"
      }
    },
    "SimulatePrincipalPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicySourceArn",
          "ActionNames"
        ],
        "members": {
          "PolicySourceArn": {
            "shape": "S2"
          },
          "PolicyInputList": {
            "shape": "S4e"
          },
          "ActionNames": {
            "shape": "S8h"
          },
          "ResourceArns": {
            "shape": "S8j"
          },
          "ResourcePolicy": {
            "shape": "Sz"
          },
          "ResourceOwner": {
            "shape": "S8k"
          },
          "CallerArn": {
            "shape": "S8k"
          },
          "ContextEntries": {
            "shape": "S8l"
          },
          "ResourceHandlingOption": {
            "shape": "S8q"
          },
          "MaxItems": {
            "shape": "S3l"
          },
          "Marker": {
            "shape": "S3m"
          }
        }
      },
      "output": {
        "shape": "S8r",
        "resultWrapper": "SimulatePrincipalPolicyResult"
      }
    },
    "UpdateAccessKey": {
      "input": {
        "type": "structure",
        "required": [
          "AccessKeyId",
          "Status"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "AccessKeyId": {
            "shape": "Sj"
          },
          "Status": {
            "shape": "Sk"
          }
        }
      }
    },
    "UpdateAccountPasswordPolicy": {
      "input": {
        "type": "structure",
        "members": {
          "MinimumPasswordLength": {
            "shape": "S45"
          },
          "RequireSymbols": {
            "type": "boolean"
          },
          "RequireNumbers": {
            "type": "boolean"
          },
          "RequireUppercaseCharacters": {
            "type": "boolean"
          },
          "RequireLowercaseCharacters": {
            "type": "boolean"
          },
          "AllowUsersToChangePassword": {
            "type": "boolean"
          },
          "MaxPasswordAge": {
            "shape": "S46"
          },
          "PasswordReusePrevention": {
            "shape": "S47"
          },
          "HardExpiry": {
            "type": "boolean"
          }
        }
      }
    },
    "UpdateAssumeRolePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName",
          "PolicyDocument"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "PolicyDocument": {
            "shape": "Sz"
          }
        }
      }
    },
    "UpdateGroup": {
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "GroupName": {
            "shape": "S8"
          },
          "NewPath": {
            "shape": "Sq"
          },
          "NewGroupName": {
            "shape": "S8"
          }
        }
      }
    },
    "UpdateLoginProfile": {
      "input": {
        "type": "structure",
        "required": [
          "UserName"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "Password": {
            "shape": "Sf"
          },
          "PasswordResetRequired": {
            "type": "boolean"
          }
        }
      }
    },
    "UpdateOpenIDConnectProviderThumbprint": {
      "input": {
        "type": "structure",
        "required": [
          "OpenIDConnectProviderArn",
          "ThumbprintList"
        ],
        "members": {
          "OpenIDConnectProviderArn": {
            "shape": "S2"
          },
          "ThumbprintList": {
            "shape": "S1b"
          }
        }
      }
    },
    "UpdateRole": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "Description": {
            "shape": "S10"
          },
          "MaxSessionDuration": {
            "shape": "S11"
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateRoleResult",
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRoleDescription": {
      "input": {
        "type": "structure",
        "required": [
          "RoleName",
          "Description"
        ],
        "members": {
          "RoleName": {
            "shape": "S6"
          },
          "Description": {
            "shape": "S10"
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateRoleDescriptionResult",
        "type": "structure",
        "members": {
          "Role": {
            "shape": "Sy"
          }
        }
      }
    },
    "UpdateSAMLProvider": {
      "input": {
        "type": "structure",
        "required": [
          "SAMLMetadataDocument",
          "SAMLProviderArn"
        ],
        "members": {
          "SAMLMetadataDocument": {
            "shape": "S1s"
          },
          "SAMLProviderArn": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "resultWrapper": "UpdateSAMLProviderResult",
        "type": "structure",
        "members": {
          "SAMLProviderArn": {
            "shape": "S2"
          }
        }
      }
    },
    "UpdateSSHPublicKey": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "SSHPublicKeyId",
          "Status"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "SSHPublicKeyId": {
            "shape": "S2t"
          },
          "Status": {
            "shape": "Sk"
          }
        }
      }
    },
    "UpdateServerCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "ServerCertificateName"
        ],
        "members": {
          "ServerCertificateName": {
            "shape": "S2v"
          },
          "NewPath": {
            "shape": "Sq"
          },
          "NewServerCertificateName": {
            "shape": "S2v"
          }
        }
      }
    },
    "UpdateServiceSpecificCredential": {
      "input": {
        "type": "structure",
        "required": [
          "ServiceSpecificCredentialId",
          "Status"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "ServiceSpecificCredentialId": {
            "shape": "S24"
          },
          "Status": {
            "shape": "Sk"
          }
        }
      }
    },
    "UpdateSigningCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateId",
          "Status"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "CertificateId": {
            "shape": "S31"
          },
          "Status": {
            "shape": "Sk"
          }
        }
      }
    },
    "UpdateUser": {
      "input": {
        "type": "structure",
        "required": [
          "UserName"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "NewPath": {
            "shape": "Sq"
          },
          "NewUserName": {
            "shape": "Sd"
          }
        }
      }
    },
    "UploadSSHPublicKey": {
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "SSHPublicKeyBody"
        ],
        "members": {
          "UserName": {
            "shape": "Sd"
          },
          "SSHPublicKeyBody": {
            "shape": "S5c"
          }
        }
      },
      "output": {
        "resultWrapper": "UploadSSHPublicKeyResult",
        "type": "structure",
        "members": {
          "SSHPublicKey": {
            "shape": "S5a"
          }
        }
      }
    },
    "UploadServerCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "ServerCertificateName",
          "CertificateBody",
          "PrivateKey"
        ],
        "members": {
          "Path": {
            "shape": "Sq"
          },
          "ServerCertificateName": {
            "shape": "S2v"
          },
          "CertificateBody": {
            "shape": "S5h"
          },
          "PrivateKey": {
            "type": "string",
            "max": 16384,
            "min": 1,
            "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
            "sensitive": true
          },
          "CertificateChain": {
            "shape": "S5i"
          }
        }
      },
      "output": {
        "resultWrapper": "UploadServerCertificateResult",
        "type": "structure",
        "members": {
          "ServerCertificateMetadata": {
            "shape": "S5g"
          }
        }
      }
    },
    "UploadSigningCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "CertificateBody"
        ],
        "members": {
          "UserName": {
            "shape": "S9"
          },
          "CertificateBody": {
            "shape": "S5h"
          }
        }
      },
      "output": {
        "resultWrapper": "UploadSigningCertificateResult",
        "type": "structure",
        "required": [
          "Certificate"
        ],
        "members": {
          "Certificate": {
            "shape": "S7v"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 2048,
      "min": 20
    },
    "S3": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S5": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w+=,.@-]+"
    },
    "S6": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "[\\w+=,.@-]+"
    },
    "S8": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w+=,.@-]+"
    },
    "S9": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w+=,.@-]+"
    },
    "Sd": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "[\\w+=,.@-]+"
    },
    "Sf": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
      "sensitive": true
    },
    "Sj": {
      "type": "string",
      "max": 128,
      "min": 16,
      "pattern": "[\\w]+"
    },
    "Sk": {
      "type": "string",
      "enum": [
        "Active",
        "Inactive"
      ]
    },
    "So": {
      "type": "string",
      "max": 63,
      "min": 3,
      "pattern": "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$"
    },
    "Sq": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "(\\u002F)|(\\u002F[\\u0021-\\u007F]+\\u002F)"
    },
    "Ss": {
      "type": "structure",
      "required": [
        "Path",
        "GroupName",
        "GroupId",
        "Arn",
        "CreateDate"
      ],
      "members": {
        "Path": {
          "shape": "Sq"
        },
        "GroupName": {
          "shape": "S8"
        },
        "GroupId": {
          "shape": "St"
        },
        "Arn": {
          "shape": "S2"
        },
        "CreateDate": {
          "type": "timestamp"
        }
      }
    },
    "St": {
      "type": "string",
      "max": 128,
      "min": 16,
      "pattern": "[\\w]+"
    },
    "Sw": {
      "type": "structure",
      "required": [
        "Path",
        "InstanceProfileName",
        "InstanceProfileId",
        "Arn",
        "CreateDate",
        "Roles"
      ],
      "members": {
        "Path": {
          "shape": "Sq"
        },
        "InstanceProfileName": {
          "shape": "S5"
        },
        "InstanceProfileId": {
          "shape": "St"
        },
        "Arn": {
          "shape": "S2"
        },
        "CreateDate": {
          "type": "timestamp"
        },
        "Roles": {
          "shape": "Sx"
        }
      }
    },
    "Sx": {
      "type": "list",
      "member": {
        "shape": "Sy"
      }
    },
    "Sy": {
      "type": "structure",
      "required": [
        "Path",
        "RoleName",
        "RoleId",
        "Arn",
        "CreateDate"
      ],
      "members": {
        "Path": {
          "shape": "Sq"
        },
        "RoleName": {
          "shape": "S6"
        },
        "RoleId": {
          "shape": "St"
        },
        "Arn": {
          "shape": "S2"
        },
        "CreateDate": {
          "type": "timestamp"
        },
        "AssumeRolePolicyDocument": {
          "shape": "Sz"
        },
        "Description": {
          "shape": "S10"
        },
        "MaxSessionDuration": {
          "shape": "S11"
        },
        "PermissionsBoundary": {
          "shape": "S12"
        }
      }
    },
    "Sz": {
      "type": "string",
      "max": 131072,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
    },
    "S10": {
      "type": "string",
      "max": 1000,
      "pattern": "[\\p{L}\\p{M}\\p{Z}\\p{S}\\p{N}\\p{P}]*"
    },
    "S11": {
      "type": "integer",
      "max": 43200,
      "min": 3600
    },
    "S12": {
      "type": "structure",
      "members": {
        "PermissionsBoundaryType": {
          "type": "string",
          "enum": [
            "PermissionsBoundaryPolicy"
          ]
        },
        "PermissionsBoundaryArn": {
          "shape": "S2"
        }
      }
    },
    "S17": {
      "type": "structure",
      "required": [
        "UserName",
        "CreateDate"
      ],
      "members": {
        "UserName": {
          "shape": "Sd"
        },
        "CreateDate": {
          "type": "timestamp"
        },
        "PasswordResetRequired": {
          "type": "boolean"
        }
      }
    },
    "S19": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S1a": {
      "type": "list",
      "member": {
        "shape": "S3"
      }
    },
    "S1b": {
      "type": "list",
      "member": {
        "type": "string",
        "max": 40,
        "min": 40
      }
    },
    "S1f": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w+=,.@-]+"
    },
    "S1g": {
      "type": "string",
      "pattern": "((/[A-Za-z0-9\\.,\\+@=_-]+)*)/"
    },
    "S1h": {
      "type": "string",
      "max": 1000
    },
    "S1j": {
      "type": "structure",
      "members": {
        "PolicyName": {
          "shape": "S1f"
        },
        "PolicyId": {
          "shape": "St"
        },
        "Arn": {
          "shape": "S2"
        },
        "Path": {
          "shape": "S1g"
        },
        "DefaultVersionId": {
          "shape": "S1k"
        },
        "AttachmentCount": {
          "type": "integer"
        },
        "PermissionsBoundaryUsageCount": {
          "type": "integer"
        },
        "IsAttachable": {
          "type": "boolean"
        },
        "Description": {
          "shape": "S1h"
        },
        "CreateDate": {
          "type": "timestamp"
        },
        "UpdateDate": {
          "type": "timestamp"
        }
      }
    },
    "S1k": {
      "type": "string",
      "pattern": "v[1-9][0-9]*(\\.[A-Za-z0-9-]*)?"
    },
    "S1o": {
      "type": "structure",
      "members": {
        "Document": {
          "shape": "Sz"
        },
        "VersionId": {
          "shape": "S1k"
        },
        "IsDefaultVersion": {
          "type": "boolean"
        },
        "CreateDate": {
          "type": "timestamp"
        }
      }
    },
    "S1s": {
      "type": "string",
      "max": 10000000,
      "min": 1000
    },
    "S21": {
      "type": "structure",
      "required": [
        "CreateDate",
        "ServiceName",
        "ServiceUserName",
        "ServicePassword",
        "ServiceSpecificCredentialId",
        "UserName",
        "Status"
      ],
      "members": {
        "CreateDate": {
          "type": "timestamp"
        },
        "ServiceName": {},
        "ServiceUserName": {
          "shape": "S22"
        },
        "ServicePassword": {
          "type": "string",
          "sensitive": true
        },
        "ServiceSpecificCredentialId": {
          "shape": "S24"
        },
        "UserName": {
          "shape": "Sd"
        },
        "Status": {
          "shape": "Sk"
        }
      }
    },
    "S22": {
      "type": "string",
      "max": 200,
      "min": 17,
      "pattern": "[\\w+=,.@-]+"
    },
    "S24": {
      "type": "string",
      "max": 128,
      "min": 20,
      "pattern": "[\\w]+"
    },
    "S27": {
      "type": "structure",
      "required": [
        "Path",
        "UserName",
        "UserId",
        "Arn",
        "CreateDate"
      ],
      "members": {
        "Path": {
          "shape": "Sq"
        },
        "UserName": {
          "shape": "Sd"
        },
        "UserId": {
          "shape": "St"
        },
        "Arn": {
          "shape": "S2"
        },
        "CreateDate": {
          "type": "timestamp"
        },
        "PasswordLastUsed": {
          "type": "timestamp"
        },
        "PermissionsBoundary": {
          "shape": "S12"
        }
      }
    },
    "S2b": {
      "type": "structure",
      "required": [
        "SerialNumber"
      ],
      "members": {
        "SerialNumber": {
          "shape": "S2c"
        },
        "Base32StringSeed": {
          "shape": "S2d"
        },
        "QRCodePNG": {
          "shape": "S2d"
        },
        "User": {
          "shape": "S27"
        },
        "EnableDate": {
          "type": "timestamp"
        }
      }
    },
    "S2c": {
      "type": "string",
      "max": 256,
      "min": 9,
      "pattern": "[\\w+=/:,.@-]+"
    },
    "S2d": {
      "type": "blob",
      "sensitive": true
    },
    "S2t": {
      "type": "string",
      "max": 128,
      "min": 20,
      "pattern": "[\\w]+"
    },
    "S2v": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w+=,.@-]+"
    },
    "S2y": {
      "type": "string",
      "max": 1000,
      "min": 1
    },
    "S31": {
      "type": "string",
      "max": 128,
      "min": 24,
      "pattern": "[\\w]+"
    },
    "S3a": {
      "type": "string",
      "max": 6,
      "min": 6,
      "pattern": "[\\d]+"
    },
    "S3k": {
      "type": "string",
      "enum": [
        "User",
        "Role",
        "Group",
        "LocalManagedPolicy",
        "AWSManagedPolicy"
      ]
    },
    "S3l": {
      "type": "integer",
      "max": 1000,
      "min": 1
    },
    "S3m": {
      "type": "string",
      "max": 320,
      "min": 1,
      "pattern": "[\\u0020-\\u00FF]+"
    },
    "S3q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PolicyName": {
            "shape": "S1f"
          },
          "PolicyDocument": {
            "shape": "Sz"
          }
        }
      }
    },
    "S3t": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PolicyName": {
            "shape": "S1f"
          },
          "PolicyArn": {
            "shape": "S2"
          }
        }
      }
    },
    "S3z": {
      "type": "list",
      "member": {
        "shape": "Sw"
      }
    },
    "S42": {
      "type": "list",
      "member": {
        "shape": "S1o"
      }
    },
    "S45": {
      "type": "integer",
      "max": 128,
      "min": 6
    },
    "S46": {
      "type": "integer",
      "max": 1095,
      "min": 1
    },
    "S47": {
      "type": "integer",
      "max": 24,
      "min": 1
    },
    "S4e": {
      "type": "list",
      "member": {
        "shape": "Sz"
      }
    },
    "S4f": {
      "type": "structure",
      "members": {
        "ContextKeyNames": {
          "shape": "S4g"
        }
      }
    },
    "S4g": {
      "type": "list",
      "member": {
        "shape": "S4h"
      }
    },
    "S4h": {
      "type": "string",
      "max": 256,
      "min": 5
    },
    "S4o": {
      "type": "list",
      "member": {
        "shape": "S27"
      }
    },
    "S5a": {
      "type": "structure",
      "required": [
        "UserName",
        "SSHPublicKeyId",
        "Fingerprint",
        "SSHPublicKeyBody",
        "Status"
      ],
      "members": {
        "UserName": {
          "shape": "Sd"
        },
        "SSHPublicKeyId": {
          "shape": "S2t"
        },
        "Fingerprint": {
          "type": "string",
          "max": 48,
          "min": 48,
          "pattern": "[:\\w]+"
        },
        "SSHPublicKeyBody": {
          "shape": "S5c"
        },
        "Status": {
          "shape": "Sk"
        },
        "UploadDate": {
          "type": "timestamp"
        }
      }
    },
    "S5c": {
      "type": "string",
      "max": 16384,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
    },
    "S5g": {
      "type": "structure",
      "required": [
        "Path",
        "ServerCertificateName",
        "ServerCertificateId",
        "Arn"
      ],
      "members": {
        "Path": {
          "shape": "Sq"
        },
        "ServerCertificateName": {
          "shape": "S2v"
        },
        "ServerCertificateId": {
          "shape": "St"
        },
        "Arn": {
          "shape": "S2"
        },
        "UploadDate": {
          "type": "timestamp"
        },
        "Expiration": {
          "type": "timestamp"
        }
      }
    },
    "S5h": {
      "type": "string",
      "max": 16384,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
    },
    "S5i": {
      "type": "string",
      "max": 2097152,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
    },
    "S6a": {
      "type": "string",
      "enum": [
        "PermissionsPolicy",
        "PermissionsBoundary"
      ]
    },
    "S6k": {
      "type": "list",
      "member": {
        "shape": "S1f"
      }
    },
    "S6m": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "\\u002F[\\u0021-\\u007F]*"
    },
    "S6o": {
      "type": "list",
      "member": {
        "shape": "Ss"
      }
    },
    "S7v": {
      "type": "structure",
      "required": [
        "UserName",
        "CertificateId",
        "CertificateBody",
        "Status"
      ],
      "members": {
        "UserName": {
          "shape": "Sd"
        },
        "CertificateId": {
          "shape": "S31"
        },
        "CertificateBody": {
          "shape": "S5h"
        },
        "Status": {
          "shape": "Sk"
        },
        "UploadDate": {
          "type": "timestamp"
        }
      }
    },
    "S8h": {
      "type": "list",
      "member": {
        "shape": "S8i"
      }
    },
    "S8i": {
      "type": "string",
      "max": 128,
      "min": 3
    },
    "S8j": {
      "type": "list",
      "member": {
        "shape": "S8k"
      }
    },
    "S8k": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "S8l": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ContextKeyName": {
            "shape": "S4h"
          },
          "ContextKeyValues": {
            "type": "list",
            "member": {}
          },
          "ContextKeyType": {
            "type": "string",
            "enum": [
              "string",
              "stringList",
              "numeric",
              "numericList",
              "boolean",
              "booleanList",
              "ip",
              "ipList",
              "binary",
              "binaryList",
              "date",
              "dateList"
            ]
          }
        }
      }
    },
    "S8q": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "S8r": {
      "type": "structure",
      "members": {
        "EvaluationResults": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "EvalActionName",
              "EvalDecision"
            ],
            "members": {
              "EvalActionName": {
                "shape": "S8i"
              },
              "EvalResourceName": {
                "shape": "S8k"
              },
              "EvalDecision": {
                "shape": "S8u"
              },
              "MatchedStatements": {
                "shape": "S8v"
              },
              "MissingContextValues": {
                "shape": "S4g"
              },
              "OrganizationsDecisionDetail": {
                "type": "structure",
                "members": {
                  "AllowedByOrganizations": {
                    "type": "boolean"
                  }
                }
              },
              "EvalDecisionDetails": {
                "shape": "S93"
              },
              "ResourceSpecificResults": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "EvalResourceName",
                    "EvalResourceDecision"
                  ],
                  "members": {
                    "EvalResourceName": {
                      "shape": "S8k"
                    },
                    "EvalResourceDecision": {
                      "shape": "S8u"
                    },
                    "MatchedStatements": {
                      "shape": "S8v"
                    },
                    "MissingContextValues": {
                      "shape": "S4g"
                    },
                    "EvalDecisionDetails": {
                      "shape": "S93"
                    }
                  }
                }
              }
            }
          }
        },
        "IsTruncated": {
          "type": "boolean"
        },
        "Marker": {
          "shape": "S3m"
        }
      }
    },
    "S8u": {
      "type": "string",
      "enum": [
        "allowed",
        "explicitDeny",
        "implicitDeny"
      ]
    },
    "S8v": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "SourcePolicyId": {},
          "SourcePolicyType": {
            "type": "string",
            "enum": [
              "user",
              "group",
              "role",
              "aws-managed",
              "user-managed",
              "resource",
              "none"
            ]
          },
          "StartPosition": {
            "shape": "S8z"
          },
          "EndPosition": {
            "shape": "S8z"
          }
        }
      }
    },
    "S8z": {
      "type": "structure",
      "members": {
        "Line": {
          "type": "integer"
        },
        "Column": {
          "type": "integer"
        }
      }
    },
    "S93": {
      "type": "map",
      "key": {
        "type": "string",
        "max": 256,
        "min": 3
      },
      "value": {
        "shape": "S8u"
      }
    }
  }
}