{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-12-02",
    "endpointPrefix": "imagebuilder",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "imagebuilder",
    "serviceFullName": "EC2 Image Builder",
    "serviceId": "imagebuilder",
    "signatureVersion": "v4",
    "signingName": "imagebuilder",
    "uid": "imagebuilder-2019-12-02"
  },
  "operations": {
    "CancelImageCreation": {
      "http": {
        "method": "PUT",
        "requestUri": "/CancelImageCreation"
      },
      "input": {
        "type": "structure",
        "required": [
          "imageBuildVersionArn",
          "clientToken"
        ],
        "members": {
          "imageBuildVersionArn": {},
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "clientToken": {},
          "imageBuildVersionArn": {}
        }
      }
    },
    "CreateComponent": {
      "http": {
        "method": "PUT",
        "requestUri": "/CreateComponent"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "semanticVersion",
          "platform",
          "clientToken"
        ],
        "members": {
          "name": {},
          "semanticVersion": {},
          "description": {},
          "changeDescription": {},
          "platform": {},
          "data": {},
          "uri": {},
          "kmsKeyId": {},
          "tags": {
            "shape": "Sc"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "clientToken": {},
          "componentBuildVersionArn": {}
        }
      }
    },
    "CreateDistributionConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/CreateDistributionConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "distributions",
          "clientToken"
        ],
        "members": {
          "name": {},
          "description": {},
          "distributions": {
            "shape": "Si"
          },
          "tags": {
            "shape": "Sc"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "clientToken": {},
          "distributionConfigurationArn": {}
        }
      }
    },
    "CreateImage": {
      "http": {
        "method": "PUT",
        "requestUri": "/CreateImage"
      },
      "input": {
        "type": "structure",
        "required": [
          "imageRecipeArn",
          "infrastructureConfigurationArn",
          "clientToken"
        ],
        "members": {
          "imageRecipeArn": {},
          "distributionConfigurationArn": {},
          "infrastructureConfigurationArn": {},
          "imageTestsConfiguration": {
            "shape": "Sw"
          },
          "tags": {
            "shape": "Sc"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "clientToken": {},
          "imageBuildVersionArn": {}
        }
      }
    },
    "CreateImagePipeline": {
      "http": {
        "method": "PUT",
        "requestUri": "/CreateImagePipeline"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "imageRecipeArn",
          "infrastructureConfigurationArn",
          "clientToken"
        ],
        "members": {
          "name": {},
          "description": {},
          "imageRecipeArn": {},
          "infrastructureConfigurationArn": {},
          "distributionConfigurationArn": {},
          "imageTestsConfiguration": {
            "shape": "Sw"
          },
          "schedule": {
            "shape": "S11"
          },
          "status": {},
          "tags": {
            "shape": "Sc"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "clientToken": {},
          "imagePipelineArn": {}
        }
      }
    },
    "CreateImageRecipe": {
      "http": {
        "method": "PUT",
        "requestUri": "/CreateImageRecipe"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "semanticVersion",
          "components",
          "parentImage",
          "clientToken"
        ],
        "members": {
          "name": {},
          "description": {},
          "semanticVersion": {},
          "components": {
            "shape": "S17"
          },
          "parentImage": {},
          "blockDeviceMappings": {
            "shape": "S1a"
          },
          "tags": {
            "shape": "Sc"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "clientToken": {},
          "imageRecipeArn": {}
        }
      }
    },
    "CreateInfrastructureConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/CreateInfrastructureConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "instanceProfileName",
          "clientToken"
        ],
        "members": {
          "name": {},
          "description": {},
          "instanceTypes": {
            "shape": "S1j"
          },
          "instanceProfileName": {},
          "securityGroupIds": {
            "shape": "S1l"
          },
          "subnetId": {},
          "logging": {
            "shape": "S1m"
          },
          "keyPair": {},
          "terminateInstanceOnFailure": {
            "type": "boolean"
          },
          "snsTopicArn": {},
          "tags": {
            "shape": "Sc"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "clientToken": {},
          "infrastructureConfigurationArn": {}
        }
      }
    },
    "DeleteComponent": {
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteComponent"
      },
      "input": {
        "type": "structure",
        "required": [
          "componentBuildVersionArn"
        ],
        "members": {
          "componentBuildVersionArn": {
            "location": "querystring",
            "locationName": "componentBuildVersionArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "componentBuildVersionArn": {}
        }
      }
    },
    "DeleteDistributionConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteDistributionConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "distributionConfigurationArn"
        ],
        "members": {
          "distributionConfigurationArn": {
            "location": "querystring",
            "locationName": "distributionConfigurationArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "distributionConfigurationArn": {}
        }
      }
    },
    "DeleteImage": {
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteImage"
      },
      "input": {
        "type": "structure",
        "required": [
          "imageBuildVersionArn"
        ],
        "members": {
          "imageBuildVersionArn": {
            "location": "querystring",
            "locationName": "imageBuildVersionArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "imageBuildVersionArn": {}
        }
      }
    },
    "DeleteImagePipeline": {
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteImagePipeline"
      },
      "input": {
        "type": "structure",
        "required": [
          "imagePipelineArn"
        ],
        "members": {
          "imagePipelineArn": {
            "location": "querystring",
            "locationName": "imagePipelineArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "imagePipelineArn": {}
        }
      }
    },
    "DeleteImageRecipe": {
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteImageRecipe"
      },
      "input": {
        "type": "structure",
        "required": [
          "imageRecipeArn"
        ],
        "members": {
          "imageRecipeArn": {
            "location": "querystring",
            "locationName": "imageRecipeArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "imageRecipeArn": {}
        }
      }
    },
    "DeleteInfrastructureConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteInfrastructureConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "infrastructureConfigurationArn"
        ],
        "members": {
          "infrastructureConfigurationArn": {
            "location": "querystring",
            "locationName": "infrastructureConfigurationArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "infrastructureConfigurationArn": {}
        }
      }
    },
    "GetComponent": {
      "http": {
        "method": "GET",
        "requestUri": "/GetComponent"
      },
      "input": {
        "type": "structure",
        "required": [
          "componentBuildVersionArn"
        ],
        "members": {
          "componentBuildVersionArn": {
            "location": "querystring",
            "locationName": "componentBuildVersionArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "component": {
            "type": "structure",
            "members": {
              "arn": {},
              "name": {},
              "version": {},
              "description": {},
              "changeDescription": {},
              "type": {},
              "platform": {},
              "owner": {},
              "data": {},
              "kmsKeyId": {},
              "encrypted": {
                "type": "boolean"
              },
              "dateCreated": {},
              "tags": {
                "shape": "Sc"
              }
            }
          }
        }
      }
    },
    "GetComponentPolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/GetComponentPolicy"
      },
      "input": {
        "type": "structure",
        "required": [
          "componentArn"
        ],
        "members": {
          "componentArn": {
            "location": "querystring",
            "locationName": "componentArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "policy": {}
        }
      }
    },
    "GetDistributionConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/GetDistributionConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "distributionConfigurationArn"
        ],
        "members": {
          "distributionConfigurationArn": {
            "location": "querystring",
            "locationName": "distributionConfigurationArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "distributionConfiguration": {
            "shape": "S2d"
          }
        }
      }
    },
    "GetImage": {
      "http": {
        "method": "GET",
        "requestUri": "/GetImage"
      },
      "input": {
        "type": "structure",
        "required": [
          "imageBuildVersionArn"
        ],
        "members": {
          "imageBuildVersionArn": {
            "location": "querystring",
            "locationName": "imageBuildVersionArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "image": {
            "type": "structure",
            "members": {
              "arn": {},
              "name": {},
              "version": {},
              "platform": {},
              "state": {
                "shape": "S2i"
              },
              "imageRecipe": {
                "shape": "S2k"
              },
              "sourcePipelineName": {},
              "sourcePipelineArn": {},
              "infrastructureConfiguration": {
                "shape": "S2l"
              },
              "distributionConfiguration": {
                "shape": "S2d"
              },
              "imageTestsConfiguration": {
                "shape": "Sw"
              },
              "dateCreated": {},
              "outputResources": {
                "shape": "S2m"
              },
              "tags": {
                "shape": "Sc"
              }
            }
          }
        }
      }
    },
    "GetImagePipeline": {
      "http": {
        "method": "GET",
        "requestUri": "/GetImagePipeline"
      },
      "input": {
        "type": "structure",
        "required": [
          "imagePipelineArn"
        ],
        "members": {
          "imagePipelineArn": {
            "location": "querystring",
            "locationName": "imagePipelineArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "imagePipeline": {
            "shape": "S2r"
          }
        }
      }
    },
    "GetImagePolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/GetImagePolicy"
      },
      "input": {
        "type": "structure",
        "required": [
          "imageArn"
        ],
        "members": {
          "imageArn": {
            "location": "querystring",
            "locationName": "imageArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "policy": {}
        }
      }
    },
    "GetImageRecipe": {
      "http": {
        "method": "GET",
        "requestUri": "/GetImageRecipe"
      },
      "input": {
        "type": "structure",
        "required": [
          "imageRecipeArn"
        ],
        "members": {
          "imageRecipeArn": {
            "location": "querystring",
            "locationName": "imageRecipeArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "imageRecipe": {
            "shape": "S2k"
          }
        }
      }
    },
    "GetImageRecipePolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/GetImageRecipePolicy"
      },
      "input": {
        "type": "structure",
        "required": [
          "imageRecipeArn"
        ],
        "members": {
          "imageRecipeArn": {
            "location": "querystring",
            "locationName": "imageRecipeArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "policy": {}
        }
      }
    },
    "GetInfrastructureConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/GetInfrastructureConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "infrastructureConfigurationArn"
        ],
        "members": {
          "infrastructureConfigurationArn": {
            "location": "querystring",
            "locationName": "infrastructureConfigurationArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "infrastructureConfiguration": {
            "shape": "S2l"
          }
        }
      }
    },
    "ImportComponent": {
      "http": {
        "method": "PUT",
        "requestUri": "/ImportComponent"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "semanticVersion",
          "type",
          "format",
          "platform",
          "clientToken"
        ],
        "members": {
          "name": {},
          "semanticVersion": {},
          "description": {},
          "changeDescription": {},
          "type": {},
          "format": {},
          "platform": {},
          "data": {},
          "uri": {},
          "kmsKeyId": {},
          "tags": {
            "shape": "Sc"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "clientToken": {},
          "componentBuildVersionArn": {}
        }
      }
    },
    "ListComponentBuildVersions": {
      "http": {
        "requestUri": "/ListComponentBuildVersions"
      },
      "input": {
        "type": "structure",
        "required": [
          "componentVersionArn"
        ],
        "members": {
          "componentVersionArn": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "componentSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "name": {},
                "version": {},
                "platform": {},
                "type": {},
                "owner": {},
                "description": {},
                "changeDescription": {},
                "dateCreated": {},
                "tags": {
                  "shape": "Sc"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListComponents": {
      "http": {
        "requestUri": "/ListComponents"
      },
      "input": {
        "type": "structure",
        "members": {
          "owner": {},
          "filters": {
            "shape": "S3b"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "componentVersionList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "name": {},
                "version": {},
                "description": {},
                "platform": {},
                "type": {},
                "owner": {},
                "dateCreated": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListDistributionConfigurations": {
      "http": {
        "requestUri": "/ListDistributionConfigurations"
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "shape": "S3b"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "distributionConfigurationSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "name": {},
                "description": {},
                "dateCreated": {},
                "dateUpdated": {},
                "tags": {
                  "shape": "Sc"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListImageBuildVersions": {
      "http": {
        "requestUri": "/ListImageBuildVersions"
      },
      "input": {
        "type": "structure",
        "required": [
          "imageVersionArn"
        ],
        "members": {
          "imageVersionArn": {},
          "filters": {
            "shape": "S3b"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "imageSummaryList": {
            "shape": "S3q"
          },
          "nextToken": {}
        }
      }
    },
    "ListImagePipelineImages": {
      "http": {
        "requestUri": "/ListImagePipelineImages"
      },
      "input": {
        "type": "structure",
        "required": [
          "imagePipelineArn"
        ],
        "members": {
          "imagePipelineArn": {},
          "filters": {
            "shape": "S3b"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "imageSummaryList": {
            "shape": "S3q"
          },
          "nextToken": {}
        }
      }
    },
    "ListImagePipelines": {
      "http": {
        "requestUri": "/ListImagePipelines"
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "shape": "S3b"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "imagePipelineList": {
            "type": "list",
            "member": {
              "shape": "S2r"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListImageRecipes": {
      "http": {
        "requestUri": "/ListImageRecipes"
      },
      "input": {
        "type": "structure",
        "members": {
          "owner": {},
          "filters": {
            "shape": "S3b"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "imageRecipeSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "name": {},
                "platform": {},
                "owner": {},
                "parentImage": {},
                "dateCreated": {},
                "tags": {
                  "shape": "Sc"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListImages": {
      "http": {
        "requestUri": "/ListImages"
      },
      "input": {
        "type": "structure",
        "members": {
          "owner": {},
          "filters": {
            "shape": "S3b"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "imageVersionList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "name": {},
                "version": {},
                "platform": {},
                "owner": {},
                "dateCreated": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListInfrastructureConfigurations": {
      "http": {
        "requestUri": "/ListInfrastructureConfigurations"
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "shape": "S3b"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "infrastructureConfigurationSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "name": {},
                "description": {},
                "dateCreated": {},
                "dateUpdated": {},
                "tags": {
                  "shape": "Sc"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "Sc"
          }
        }
      }
    },
    "PutComponentPolicy": {
      "http": {
        "method": "PUT",
        "requestUri": "/PutComponentPolicy"
      },
      "input": {
        "type": "structure",
        "required": [
          "componentArn",
          "policy"
        ],
        "members": {
          "componentArn": {},
          "policy": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "componentArn": {}
        }
      }
    },
    "PutImagePolicy": {
      "http": {
        "method": "PUT",
        "requestUri": "/PutImagePolicy"
      },
      "input": {
        "type": "structure",
        "required": [
          "imageArn",
          "policy"
        ],
        "members": {
          "imageArn": {},
          "policy": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "imageArn": {}
        }
      }
    },
    "PutImageRecipePolicy": {
      "http": {
        "method": "PUT",
        "requestUri": "/PutImageRecipePolicy"
      },
      "input": {
        "type": "structure",
        "required": [
          "imageRecipeArn",
          "policy"
        ],
        "members": {
          "imageRecipeArn": {},
          "policy": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "imageRecipeArn": {}
        }
      }
    },
    "StartImagePipelineExecution": {
      "http": {
        "method": "PUT",
        "requestUri": "/StartImagePipelineExecution"
      },
      "input": {
        "type": "structure",
        "required": [
          "imagePipelineArn",
          "clientToken"
        ],
        "members": {
          "imagePipelineArn": {},
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "clientToken": {},
          "imageBuildVersionArn": {}
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDistributionConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/UpdateDistributionConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "distributionConfigurationArn",
          "distributions",
          "clientToken"
        ],
        "members": {
          "distributionConfigurationArn": {},
          "description": {},
          "distributions": {
            "shape": "Si"
          },
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "clientToken": {},
          "distributionConfigurationArn": {}
        }
      }
    },
    "UpdateImagePipeline": {
      "http": {
        "method": "PUT",
        "requestUri": "/UpdateImagePipeline"
      },
      "input": {
        "type": "structure",
        "required": [
          "imagePipelineArn",
          "imageRecipeArn",
          "infrastructureConfigurationArn",
          "clientToken"
        ],
        "members": {
          "imagePipelineArn": {},
          "description": {},
          "imageRecipeArn": {},
          "infrastructureConfigurationArn": {},
          "distributionConfigurationArn": {},
          "imageTestsConfiguration": {
            "shape": "Sw"
          },
          "schedule": {
            "shape": "S11"
          },
          "status": {},
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "clientToken": {},
          "imagePipelineArn": {}
        }
      }
    },
    "UpdateInfrastructureConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/UpdateInfrastructureConfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "infrastructureConfigurationArn",
          "instanceProfileName",
          "clientToken"
        ],
        "members": {
          "infrastructureConfigurationArn": {},
          "description": {},
          "instanceTypes": {
            "shape": "S1j"
          },
          "instanceProfileName": {},
          "securityGroupIds": {
            "shape": "S1l"
          },
          "subnetId": {},
          "logging": {
            "shape": "S1m"
          },
          "keyPair": {},
          "terminateInstanceOnFailure": {
            "type": "boolean"
          },
          "snsTopicArn": {},
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "requestId": {},
          "clientToken": {},
          "infrastructureConfigurationArn": {}
        }
      }
    }
  },
  "shapes": {
    "Sc": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Si": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "region"
        ],
        "members": {
          "region": {},
          "amiDistributionConfiguration": {
            "type": "structure",
            "members": {
              "name": {},
              "description": {},
              "amiTags": {
                "shape": "Sc"
              },
              "launchPermission": {
                "type": "structure",
                "members": {
                  "userIds": {
                    "type": "list",
                    "member": {}
                  },
                  "userGroups": {
                    "type": "list",
                    "member": {}
                  }
                }
              }
            }
          },
          "licenseConfigurationArns": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "Sw": {
      "type": "structure",
      "members": {
        "imageTestsEnabled": {
          "type": "boolean"
        },
        "timeoutMinutes": {
          "type": "integer"
        }
      }
    },
    "S11": {
      "type": "structure",
      "members": {
        "scheduleExpression": {},
        "pipelineExecutionStartCondition": {}
      }
    },
    "S17": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "componentArn"
        ],
        "members": {
          "componentArn": {}
        }
      }
    },
    "S1a": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "deviceName": {},
          "ebs": {
            "type": "structure",
            "members": {
              "encrypted": {
                "type": "boolean"
              },
              "deleteOnTermination": {
                "type": "boolean"
              },
              "iops": {
                "type": "integer"
              },
              "kmsKeyId": {},
              "snapshotId": {},
              "volumeSize": {
                "type": "integer"
              },
              "volumeType": {}
            }
          },
          "virtualName": {},
          "noDevice": {}
        }
      }
    },
    "S1j": {
      "type": "list",
      "member": {}
    },
    "S1l": {
      "type": "list",
      "member": {}
    },
    "S1m": {
      "type": "structure",
      "members": {
        "s3Logs": {
          "type": "structure",
          "members": {
            "s3BucketName": {},
            "s3KeyPrefix": {}
          }
        }
      }
    },
    "S2d": {
      "type": "structure",
      "required": [
        "timeoutMinutes"
      ],
      "members": {
        "arn": {},
        "name": {},
        "description": {},
        "distributions": {
          "shape": "Si"
        },
        "timeoutMinutes": {
          "type": "integer"
        },
        "dateCreated": {},
        "dateUpdated": {},
        "tags": {
          "shape": "Sc"
        }
      }
    },
    "S2i": {
      "type": "structure",
      "members": {
        "status": {},
        "reason": {}
      }
    },
    "S2k": {
      "type": "structure",
      "members": {
        "arn": {},
        "name": {},
        "description": {},
        "platform": {},
        "owner": {},
        "version": {},
        "components": {
          "shape": "S17"
        },
        "parentImage": {},
        "blockDeviceMappings": {
          "shape": "S1a"
        },
        "dateCreated": {},
        "tags": {
          "shape": "Sc"
        }
      }
    },
    "S2l": {
      "type": "structure",
      "members": {
        "arn": {},
        "name": {},
        "description": {},
        "instanceTypes": {
          "shape": "S1j"
        },
        "instanceProfileName": {},
        "securityGroupIds": {
          "shape": "S1l"
        },
        "subnetId": {},
        "logging": {
          "shape": "S1m"
        },
        "keyPair": {},
        "terminateInstanceOnFailure": {
          "type": "boolean"
        },
        "snsTopicArn": {},
        "dateCreated": {},
        "dateUpdated": {},
        "tags": {
          "shape": "Sc"
        }
      }
    },
    "S2m": {
      "type": "structure",
      "members": {
        "amis": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "region": {},
              "image": {},
              "name": {},
              "description": {},
              "state": {
                "shape": "S2i"
              }
            }
          }
        }
      }
    },
    "S2r": {
      "type": "structure",
      "members": {
        "arn": {},
        "name": {},
        "description": {},
        "platform": {},
        "imageRecipeArn": {},
        "infrastructureConfigurationArn": {},
        "distributionConfigurationArn": {},
        "imageTestsConfiguration": {
          "shape": "Sw"
        },
        "schedule": {
          "shape": "S11"
        },
        "status": {},
        "dateCreated": {},
        "dateUpdated": {},
        "dateLastRun": {},
        "dateNextRun": {},
        "tags": {
          "shape": "Sc"
        }
      }
    },
    "S3b": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "values": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "S3q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "platform": {},
          "state": {
            "shape": "S2i"
          },
          "owner": {},
          "dateCreated": {},
          "outputResources": {
            "shape": "S2m"
          },
          "tags": {
            "shape": "Sc"
          }
        }
      }
    }
  }
}