{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-02-16",
    "endpointPrefix": "inspector",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Inspector",
    "serviceId": "Inspector",
    "signatureVersion": "v4",
    "targetPrefix": "InspectorService",
    "uid": "inspector-2016-02-16"
  },
  "operations": {
    "AddAttributesToFindings": {
      "input": {
        "type": "structure",
        "required": [
          "findingArns",
          "attributes"
        ],
        "members": {
          "findingArns": {
            "shape": "S2"
          },
          "attributes": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "failedItems"
        ],
        "members": {
          "failedItems": {
            "shape": "S9"
          }
        }
      }
    },
    "CreateAssessmentTarget": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentTargetName"
        ],
        "members": {
          "assessmentTargetName": {
            "shape": "Se"
          },
          "resourceGroupArn": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessmentTargetArn"
        ],
        "members": {
          "assessmentTargetArn": {
            "shape": "S3"
          }
        }
      }
    },
    "CreateAssessmentTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentTargetArn",
          "assessmentTemplateName",
          "durationInSeconds",
          "rulesPackageArns"
        ],
        "members": {
          "assessmentTargetArn": {
            "shape": "S3"
          },
          "assessmentTemplateName": {
            "shape": "Sh"
          },
          "durationInSeconds": {
            "shape": "Si"
          },
          "rulesPackageArns": {
            "shape": "Sj"
          },
          "userAttributesForFindings": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessmentTemplateArn"
        ],
        "members": {
          "assessmentTemplateArn": {
            "shape": "S3"
          }
        }
      }
    },
    "CreateExclusionsPreview": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentTemplateArn"
        ],
        "members": {
          "assessmentTemplateArn": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "previewToken"
        ],
        "members": {
          "previewToken": {
            "shape": "Sn"
          }
        }
      }
    },
    "CreateResourceGroup": {
      "input": {
        "type": "structure",
        "required": [
          "resourceGroupTags"
        ],
        "members": {
          "resourceGroupTags": {
            "shape": "Sp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "resourceGroupArn"
        ],
        "members": {
          "resourceGroupArn": {
            "shape": "S3"
          }
        }
      }
    },
    "DeleteAssessmentRun": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentRunArn"
        ],
        "members": {
          "assessmentRunArn": {
            "shape": "S3"
          }
        }
      }
    },
    "DeleteAssessmentTarget": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentTargetArn"
        ],
        "members": {
          "assessmentTargetArn": {
            "shape": "S3"
          }
        }
      }
    },
    "DeleteAssessmentTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentTemplateArn"
        ],
        "members": {
          "assessmentTemplateArn": {
            "shape": "S3"
          }
        }
      }
    },
    "DescribeAssessmentRuns": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentRunArns"
        ],
        "members": {
          "assessmentRunArns": {
            "shape": "Sy"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessmentRuns",
          "failedItems"
        ],
        "members": {
          "assessmentRuns": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "name",
                "assessmentTemplateArn",
                "state",
                "durationInSeconds",
                "rulesPackageArns",
                "userAttributesForFindings",
                "createdAt",
                "stateChangedAt",
                "dataCollected",
                "stateChanges",
                "notifications",
                "findingCounts"
              ],
              "members": {
                "arn": {
                  "shape": "S3"
                },
                "name": {
                  "shape": "S12"
                },
                "assessmentTemplateArn": {
                  "shape": "S3"
                },
                "state": {
                  "shape": "S13"
                },
                "durationInSeconds": {
                  "shape": "Si"
                },
                "rulesPackageArns": {
                  "type": "list",
                  "member": {
                    "shape": "S3"
                  },
                  "max": 50,
                  "min": 1
                },
                "userAttributesForFindings": {
                  "shape": "S4"
                },
                "createdAt": {
                  "type": "timestamp"
                },
                "startedAt": {
                  "type": "timestamp"
                },
                "completedAt": {
                  "type": "timestamp"
                },
                "stateChangedAt": {
                  "type": "timestamp"
                },
                "dataCollected": {
                  "type": "boolean"
                },
                "stateChanges": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "stateChangedAt",
                      "state"
                    ],
                    "members": {
                      "stateChangedAt": {
                        "type": "timestamp"
                      },
                      "state": {
                        "shape": "S13"
                      }
                    }
                  },
                  "max": 50,
                  "min": 0
                },
                "notifications": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "date",
                      "event",
                      "error"
                    ],
                    "members": {
                      "date": {
                        "type": "timestamp"
                      },
                      "event": {
                        "shape": "S1a"
                      },
                      "message": {
                        "shape": "S1b"
                      },
                      "error": {
                        "type": "boolean"
                      },
                      "snsTopicArn": {
                        "shape": "S3"
                      },
                      "snsPublishStatusCode": {
                        "type": "string",
                        "enum": [
                          "SUCCESS",
                          "TOPIC_DOES_NOT_EXIST",
                          "ACCESS_DENIED",
                          "INTERNAL_ERROR"
                        ]
                      }
                    }
                  },
                  "max": 50,
                  "min": 0
                },
                "findingCounts": {
                  "type": "map",
                  "key": {
                    "shape": "S1e"
                  },
                  "value": {
                    "type": "integer"
                  }
                }
              }
            },
            "max": 10,
            "min": 0
          },
          "failedItems": {
            "shape": "S9"
          }
        }
      }
    },
    "DescribeAssessmentTargets": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentTargetArns"
        ],
        "members": {
          "assessmentTargetArns": {
            "shape": "Sy"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessmentTargets",
          "failedItems"
        ],
        "members": {
          "assessmentTargets": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "name",
                "createdAt",
                "updatedAt"
              ],
              "members": {
                "arn": {
                  "shape": "S3"
                },
                "name": {
                  "shape": "Se"
                },
                "resourceGroupArn": {
                  "shape": "S3"
                },
                "createdAt": {
                  "type": "timestamp"
                },
                "updatedAt": {
                  "type": "timestamp"
                }
              }
            },
            "max": 10,
            "min": 0
          },
          "failedItems": {
            "shape": "S9"
          }
        }
      }
    },
    "DescribeAssessmentTemplates": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentTemplateArns"
        ],
        "members": {
          "assessmentTemplateArns": {
            "shape": "Sy"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessmentTemplates",
          "failedItems"
        ],
        "members": {
          "assessmentTemplates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "name",
                "assessmentTargetArn",
                "durationInSeconds",
                "rulesPackageArns",
                "userAttributesForFindings",
                "assessmentRunCount",
                "createdAt"
              ],
              "members": {
                "arn": {
                  "shape": "S3"
                },
                "name": {
                  "shape": "Sh"
                },
                "assessmentTargetArn": {
                  "shape": "S3"
                },
                "durationInSeconds": {
                  "shape": "Si"
                },
                "rulesPackageArns": {
                  "shape": "Sj"
                },
                "userAttributesForFindings": {
                  "shape": "S4"
                },
                "lastAssessmentRunArn": {
                  "shape": "S3"
                },
                "assessmentRunCount": {
                  "type": "integer"
                },
                "createdAt": {
                  "type": "timestamp"
                }
              }
            },
            "max": 10,
            "min": 0
          },
          "failedItems": {
            "shape": "S9"
          }
        }
      }
    },
    "DescribeCrossAccountAccessRole": {
      "output": {
        "type": "structure",
        "required": [
          "roleArn",
          "valid",
          "registeredAt"
        ],
        "members": {
          "roleArn": {
            "shape": "S3"
          },
          "valid": {
            "type": "boolean"
          },
          "registeredAt": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeExclusions": {
      "input": {
        "type": "structure",
        "required": [
          "exclusionArns"
        ],
        "members": {
          "exclusionArns": {
            "type": "list",
            "member": {
              "shape": "S3"
            },
            "max": 100,
            "min": 1
          },
          "locale": {
            "shape": "S1s"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "exclusions",
          "failedItems"
        ],
        "members": {
          "exclusions": {
            "type": "map",
            "key": {
              "shape": "S3"
            },
            "value": {
              "type": "structure",
              "required": [
                "arn",
                "title",
                "description",
                "recommendation",
                "scopes"
              ],
              "members": {
                "arn": {
                  "shape": "S3"
                },
                "title": {
                  "shape": "S1w"
                },
                "description": {
                  "shape": "S1w"
                },
                "recommendation": {
                  "shape": "S1w"
                },
                "scopes": {
                  "shape": "S1x"
                },
                "attributes": {
                  "shape": "S21"
                }
              }
            },
            "max": 100,
            "min": 1
          },
          "failedItems": {
            "shape": "S9"
          }
        }
      }
    },
    "DescribeFindings": {
      "input": {
        "type": "structure",
        "required": [
          "findingArns"
        ],
        "members": {
          "findingArns": {
            "shape": "Sy"
          },
          "locale": {
            "shape": "S1s"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "findings",
          "failedItems"
        ],
        "members": {
          "findings": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "attributes",
                "userAttributes",
                "createdAt",
                "updatedAt"
              ],
              "members": {
                "arn": {
                  "shape": "S3"
                },
                "schemaVersion": {
                  "shape": "S26"
                },
                "service": {
                  "type": "string",
                  "max": 128,
                  "min": 0
                },
                "serviceAttributes": {
                  "type": "structure",
                  "required": [
                    "schemaVersion"
                  ],
                  "members": {
                    "schemaVersion": {
                      "shape": "S26"
                    },
                    "assessmentRunArn": {
                      "shape": "S3"
                    },
                    "rulesPackageArn": {
                      "shape": "S3"
                    }
                  }
                },
                "assetType": {
                  "type": "string",
                  "enum": [
                    "ec2-instance"
                  ]
                },
                "assetAttributes": {
                  "type": "structure",
                  "required": [
                    "schemaVersion"
                  ],
                  "members": {
                    "schemaVersion": {
                      "shape": "S26"
                    },
                    "agentId": {
                      "shape": "S2b"
                    },
                    "autoScalingGroup": {
                      "shape": "S2c"
                    },
                    "amiId": {
                      "type": "string",
                      "max": 256,
                      "min": 0
                    },
                    "hostname": {
                      "shape": "S2e"
                    },
                    "ipv4Addresses": {
                      "type": "list",
                      "member": {
                        "shape": "S2g"
                      },
                      "max": 50,
                      "min": 0
                    }
                  }
                },
                "id": {
                  "type": "string",
                  "max": 128,
                  "min": 0
                },
                "title": {
                  "shape": "S1w"
                },
                "description": {
                  "shape": "S1w"
                },
                "recommendation": {
                  "shape": "S1w"
                },
                "severity": {
                  "shape": "S1e"
                },
                "numericSeverity": {
                  "type": "double",
                  "max": 10,
                  "min": 0
                },
                "confidence": {
                  "type": "integer",
                  "max": 10,
                  "min": 0
                },
                "indicatorOfCompromise": {
                  "type": "boolean"
                },
                "attributes": {
                  "shape": "S21"
                },
                "userAttributes": {
                  "shape": "S4"
                },
                "createdAt": {
                  "type": "timestamp"
                },
                "updatedAt": {
                  "type": "timestamp"
                }
              }
            },
            "max": 100,
            "min": 0
          },
          "failedItems": {
            "shape": "S9"
          }
        }
      }
    },
    "DescribeResourceGroups": {
      "input": {
        "type": "structure",
        "required": [
          "resourceGroupArns"
        ],
        "members": {
          "resourceGroupArns": {
            "shape": "Sy"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "resourceGroups",
          "failedItems"
        ],
        "members": {
          "resourceGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "tags",
                "createdAt"
              ],
              "members": {
                "arn": {
                  "shape": "S3"
                },
                "tags": {
                  "shape": "Sp"
                },
                "createdAt": {
                  "type": "timestamp"
                }
              }
            },
            "max": 10,
            "min": 0
          },
          "failedItems": {
            "shape": "S9"
          }
        }
      }
    },
    "DescribeRulesPackages": {
      "input": {
        "type": "structure",
        "required": [
          "rulesPackageArns"
        ],
        "members": {
          "rulesPackageArns": {
            "shape": "Sy"
          },
          "locale": {
            "shape": "S1s"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "rulesPackages",
          "failedItems"
        ],
        "members": {
          "rulesPackages": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "name",
                "version",
                "provider"
              ],
              "members": {
                "arn": {
                  "shape": "S3"
                },
                "name": {
                  "type": "string",
                  "max": 1000,
                  "min": 0
                },
                "version": {
                  "type": "string",
                  "max": 1000,
                  "min": 0
                },
                "provider": {
                  "type": "string",
                  "max": 1000,
                  "min": 0
                },
                "description": {
                  "shape": "S1w"
                }
              }
            },
            "max": 10,
            "min": 0
          },
          "failedItems": {
            "shape": "S9"
          }
        }
      }
    },
    "GetAssessmentReport": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentRunArn",
          "reportFileFormat",
          "reportType"
        ],
        "members": {
          "assessmentRunArn": {
            "shape": "S3"
          },
          "reportFileFormat": {
            "type": "string",
            "enum": [
              "HTML",
              "PDF"
            ]
          },
          "reportType": {
            "type": "string",
            "enum": [
              "FINDING",
              "FULL"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "status"
        ],
        "members": {
          "status": {
            "type": "string",
            "enum": [
              "WORK_IN_PROGRESS",
              "FAILED",
              "COMPLETED"
            ]
          },
          "url": {
            "type": "string",
            "max": 2048
          }
        }
      }
    },
    "GetExclusionsPreview": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentTemplateArn",
          "previewToken"
        ],
        "members": {
          "assessmentTemplateArn": {
            "shape": "S3"
          },
          "previewToken": {
            "shape": "Sn"
          },
          "nextToken": {
            "shape": "S32"
          },
          "maxResults": {
            "type": "integer"
          },
          "locale": {
            "shape": "S1s"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "previewStatus"
        ],
        "members": {
          "previewStatus": {
            "type": "string",
            "enum": [
              "WORK_IN_PROGRESS",
              "COMPLETED"
            ]
          },
          "exclusionPreviews": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "title",
                "description",
                "recommendation",
                "scopes"
              ],
              "members": {
                "title": {
                  "shape": "S1w"
                },
                "description": {
                  "shape": "S1w"
                },
                "recommendation": {
                  "shape": "S1w"
                },
                "scopes": {
                  "shape": "S1x"
                },
                "attributes": {
                  "shape": "S21"
                }
              }
            },
            "max": 100,
            "min": 0
          },
          "nextToken": {
            "shape": "S32"
          }
        }
      }
    },
    "GetTelemetryMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentRunArn"
        ],
        "members": {
          "assessmentRunArn": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "telemetryMetadata"
        ],
        "members": {
          "telemetryMetadata": {
            "shape": "S3a"
          }
        }
      }
    },
    "ListAssessmentRunAgents": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentRunArn"
        ],
        "members": {
          "assessmentRunArn": {
            "shape": "S3"
          },
          "filter": {
            "type": "structure",
            "required": [
              "agentHealths",
              "agentHealthCodes"
            ],
            "members": {
              "agentHealths": {
                "type": "list",
                "member": {
                  "shape": "S3h"
                },
                "max": 10,
                "min": 0
              },
              "agentHealthCodes": {
                "type": "list",
                "member": {
                  "shape": "S3j"
                },
                "max": 10,
                "min": 0
              }
            }
          },
          "nextToken": {
            "shape": "S32"
          },
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessmentRunAgents"
        ],
        "members": {
          "assessmentRunAgents": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "agentId",
                "assessmentRunArn",
                "agentHealth",
                "agentHealthCode",
                "telemetryMetadata"
              ],
              "members": {
                "agentId": {
                  "shape": "S2b"
                },
                "assessmentRunArn": {
                  "shape": "S3"
                },
                "agentHealth": {
                  "shape": "S3h"
                },
                "agentHealthCode": {
                  "shape": "S3j"
                },
                "agentHealthDetails": {
                  "shape": "S1b"
                },
                "autoScalingGroup": {
                  "shape": "S2c"
                },
                "telemetryMetadata": {
                  "shape": "S3a"
                }
              }
            },
            "max": 500,
            "min": 0
          },
          "nextToken": {
            "shape": "S32"
          }
        }
      }
    },
    "ListAssessmentRuns": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentTemplateArns": {
            "shape": "S3o"
          },
          "filter": {
            "type": "structure",
            "members": {
              "namePattern": {
                "shape": "S3q"
              },
              "states": {
                "type": "list",
                "member": {
                  "shape": "S13"
                },
                "max": 50,
                "min": 0
              },
              "durationRange": {
                "shape": "S3s"
              },
              "rulesPackageArns": {
                "shape": "S3t"
              },
              "startTimeRange": {
                "shape": "S3u"
              },
              "completionTimeRange": {
                "shape": "S3u"
              },
              "stateChangeTimeRange": {
                "shape": "S3u"
              }
            }
          },
          "nextToken": {
            "shape": "S32"
          },
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessmentRunArns"
        ],
        "members": {
          "assessmentRunArns": {
            "shape": "S3w"
          },
          "nextToken": {
            "shape": "S32"
          }
        }
      }
    },
    "ListAssessmentTargets": {
      "input": {
        "type": "structure",
        "members": {
          "filter": {
            "type": "structure",
            "members": {
              "assessmentTargetNamePattern": {
                "shape": "S3q"
              }
            }
          },
          "nextToken": {
            "shape": "S32"
          },
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessmentTargetArns"
        ],
        "members": {
          "assessmentTargetArns": {
            "shape": "S3w"
          },
          "nextToken": {
            "shape": "S32"
          }
        }
      }
    },
    "ListAssessmentTemplates": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentTargetArns": {
            "shape": "S3o"
          },
          "filter": {
            "type": "structure",
            "members": {
              "namePattern": {
                "shape": "S3q"
              },
              "durationRange": {
                "shape": "S3s"
              },
              "rulesPackageArns": {
                "shape": "S3t"
              }
            }
          },
          "nextToken": {
            "shape": "S32"
          },
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessmentTemplateArns"
        ],
        "members": {
          "assessmentTemplateArns": {
            "shape": "S3w"
          },
          "nextToken": {
            "shape": "S32"
          }
        }
      }
    },
    "ListEventSubscriptions": {
      "input": {
        "type": "structure",
        "members": {
          "resourceArn": {
            "shape": "S3"
          },
          "nextToken": {
            "shape": "S32"
          },
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "subscriptions"
        ],
        "members": {
          "subscriptions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "resourceArn",
                "topicArn",
                "eventSubscriptions"
              ],
              "members": {
                "resourceArn": {
                  "shape": "S3"
                },
                "topicArn": {
                  "shape": "S3"
                },
                "eventSubscriptions": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "event",
                      "subscribedAt"
                    ],
                    "members": {
                      "event": {
                        "shape": "S1a"
                      },
                      "subscribedAt": {
                        "type": "timestamp"
                      }
                    }
                  },
                  "max": 50,
                  "min": 1
                }
              }
            },
            "max": 50,
            "min": 0
          },
          "nextToken": {
            "shape": "S32"
          }
        }
      }
    },
    "ListExclusions": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentRunArn"
        ],
        "members": {
          "assessmentRunArn": {
            "shape": "S3"
          },
          "nextToken": {
            "shape": "S32"
          },
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "exclusionArns"
        ],
        "members": {
          "exclusionArns": {
            "shape": "S3w"
          },
          "nextToken": {
            "shape": "S32"
          }
        }
      }
    },
    "ListFindings": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentRunArns": {
            "shape": "S3o"
          },
          "filter": {
            "type": "structure",
            "members": {
              "agentIds": {
                "type": "list",
                "member": {
                  "shape": "S2b"
                },
                "max": 500,
                "min": 0
              },
              "autoScalingGroups": {
                "type": "list",
                "member": {
                  "shape": "S2c"
                },
                "max": 20,
                "min": 0
              },
              "ruleNames": {
                "type": "list",
                "member": {
                  "type": "string",
                  "max": 1000
                },
                "max": 50,
                "min": 0
              },
              "severities": {
                "type": "list",
                "member": {
                  "shape": "S1e"
                },
                "max": 50,
                "min": 0
              },
              "rulesPackageArns": {
                "shape": "S3t"
              },
              "attributes": {
                "shape": "S21"
              },
              "userAttributes": {
                "shape": "S21"
              },
              "creationTimeRange": {
                "shape": "S3u"
              }
            }
          },
          "nextToken": {
            "shape": "S32"
          },
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "findingArns"
        ],
        "members": {
          "findingArns": {
            "shape": "S3w"
          },
          "nextToken": {
            "shape": "S32"
          }
        }
      }
    },
    "ListRulesPackages": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "shape": "S32"
          },
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "rulesPackageArns"
        ],
        "members": {
          "rulesPackageArns": {
            "shape": "S3w"
          },
          "nextToken": {
            "shape": "S32"
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "tags"
        ],
        "members": {
          "tags": {
            "shape": "S4o"
          }
        }
      }
    },
    "PreviewAgents": {
      "input": {
        "type": "structure",
        "required": [
          "previewAgentsArn"
        ],
        "members": {
          "previewAgentsArn": {
            "shape": "S3"
          },
          "nextToken": {
            "shape": "S32"
          },
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "agentPreviews"
        ],
        "members": {
          "agentPreviews": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "agentId"
              ],
              "members": {
                "hostname": {
                  "shape": "S2e"
                },
                "agentId": {
                  "shape": "S2b"
                },
                "autoScalingGroup": {
                  "shape": "S2c"
                },
                "agentHealth": {
                  "shape": "S3h"
                },
                "agentVersion": {
                  "type": "string",
                  "max": 128,
                  "min": 1
                },
                "operatingSystem": {
                  "type": "string",
                  "max": 256,
                  "min": 1
                },
                "kernelVersion": {
                  "type": "string",
                  "max": 128,
                  "min": 1
                },
                "ipv4Address": {
                  "shape": "S2g"
                }
              }
            },
            "max": 100,
            "min": 0
          },
          "nextToken": {
            "shape": "S32"
          }
        }
      }
    },
    "RegisterCrossAccountAccessRole": {
      "input": {
        "type": "structure",
        "required": [
          "roleArn"
        ],
        "members": {
          "roleArn": {
            "shape": "S3"
          }
        }
      }
    },
    "RemoveAttributesFromFindings": {
      "input": {
        "type": "structure",
        "required": [
          "findingArns",
          "attributeKeys"
        ],
        "members": {
          "findingArns": {
            "shape": "S2"
          },
          "attributeKeys": {
            "type": "list",
            "member": {
              "shape": "S6"
            },
            "max": 10,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "failedItems"
        ],
        "members": {
          "failedItems": {
            "shape": "S9"
          }
        }
      }
    },
    "SetTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "shape": "S3"
          },
          "tags": {
            "shape": "S4o"
          }
        }
      }
    },
    "StartAssessmentRun": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentTemplateArn"
        ],
        "members": {
          "assessmentTemplateArn": {
            "shape": "S3"
          },
          "assessmentRunName": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessmentRunArn"
        ],
        "members": {
          "assessmentRunArn": {
            "shape": "S3"
          }
        }
      }
    },
    "StopAssessmentRun": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentRunArn"
        ],
        "members": {
          "assessmentRunArn": {
            "shape": "S3"
          },
          "stopAction": {
            "type": "string",
            "enum": [
              "START_EVALUATION",
              "SKIP_EVALUATION"
            ]
          }
        }
      }
    },
    "SubscribeToEvent": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "event",
          "topicArn"
        ],
        "members": {
          "resourceArn": {
            "shape": "S3"
          },
          "event": {
            "shape": "S1a"
          },
          "topicArn": {
            "shape": "S3"
          }
        }
      }
    },
    "UnsubscribeFromEvent": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "event",
          "topicArn"
        ],
        "members": {
          "resourceArn": {
            "shape": "S3"
          },
          "event": {
            "shape": "S1a"
          },
          "topicArn": {
            "shape": "S3"
          }
        }
      }
    },
    "UpdateAssessmentTarget": {
      "input": {
        "type": "structure",
        "required": [
          "assessmentTargetArn",
          "assessmentTargetName"
        ],
        "members": {
          "assessmentTargetArn": {
            "shape": "S3"
          },
          "assessmentTargetName": {
            "shape": "Se"
          },
          "resourceGroupArn": {
            "shape": "S3"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {
        "shape": "S3"
      },
      "max": 10,
      "min": 1
    },
    "S3": {
      "type": "string",
      "max": 300,
      "min": 1
    },
    "S4": {
      "type": "list",
      "member": {
        "shape": "S5"
      },
      "max": 10,
      "min": 0
    },
    "S5": {
      "type": "structure",
      "required": [
        "key"
      ],
      "members": {
        "key": {
          "shape": "S6"
        },
        "value": {
          "type": "string",
          "max": 256,
          "min": 1
        }
      }
    },
    "S6": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S9": {
      "type": "map",
      "key": {
        "shape": "S3"
      },
      "value": {
        "type": "structure",
        "required": [
          "failureCode",
          "retryable"
        ],
        "members": {
          "failureCode": {
            "type": "string",
            "enum": [
              "INVALID_ARN",
              "DUPLICATE_ARN",
              "ITEM_DOES_NOT_EXIST",
              "ACCESS_DENIED",
              "LIMIT_EXCEEDED",
              "INTERNAL_ERROR"
            ]
          },
          "retryable": {
            "type": "boolean"
          }
        }
      }
    },
    "Se": {
      "type": "string",
      "max": 140,
      "min": 1
    },
    "Sh": {
      "type": "string",
      "max": 140,
      "min": 1
    },
    "Si": {
      "type": "integer",
      "max": 86400,
      "min": 180
    },
    "Sj": {
      "type": "list",
      "member": {
        "shape": "S3"
      },
      "max": 50,
      "min": 0
    },
    "Sn": {
      "type": "string",
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "Sp": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "key"
        ],
        "members": {
          "key": {
            "shape": "Sr"
          },
          "value": {
            "shape": "Ss"
          }
        }
      },
      "max": 10,
      "min": 1
    },
    "Sr": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "Ss": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "Sy": {
      "type": "list",
      "member": {
        "shape": "S3"
      },
      "max": 10,
      "min": 1
    },
    "S12": {
      "type": "string",
      "max": 140,
      "min": 1
    },
    "S13": {
      "type": "string",
      "enum": [
        "CREATED",
        "START_DATA_COLLECTION_PENDING",
        "START_DATA_COLLECTION_IN_PROGRESS",
        "COLLECTING_DATA",
        "STOP_DATA_COLLECTION_PENDING",
        "DATA_COLLECTED",
        "START_EVALUATING_RULES_PENDING",
        "EVALUATING_RULES",
        "FAILED",
        "ERROR",
        "COMPLETED",
        "COMPLETED_WITH_ERRORS",
        "CANCELED"
      ]
    },
    "S1a": {
      "type": "string",
      "enum": [
        "ASSESSMENT_RUN_STARTED",
        "ASSESSMENT_RUN_COMPLETED",
        "ASSESSMENT_RUN_STATE_CHANGED",
        "FINDING_REPORTED",
        "OTHER"
      ]
    },
    "S1b": {
      "type": "string",
      "max": 1000,
      "min": 0
    },
    "S1e": {
      "type": "string",
      "enum": [
        "Low",
        "Medium",
        "High",
        "Informational",
        "Undefined"
      ]
    },
    "S1s": {
      "type": "string",
      "enum": [
        "EN_US"
      ]
    },
    "S1w": {
      "type": "string",
      "max": 20000,
      "min": 0
    },
    "S1x": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "key": {
            "type": "string",
            "enum": [
              "INSTANCE_ID",
              "RULES_PACKAGE_ARN"
            ]
          },
          "value": {}
        }
      },
      "min": 1
    },
    "S21": {
      "type": "list",
      "member": {
        "shape": "S5"
      },
      "max": 50,
      "min": 0
    },
    "S26": {
      "type": "integer",
      "min": 0
    },
    "S2b": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S2c": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S2e": {
      "type": "string",
      "max": 256,
      "min": 0
    },
    "S2g": {
      "type": "string",
      "max": 15,
      "min": 7
    },
    "S32": {
      "type": "string",
      "max": 300,
      "min": 1
    },
    "S3a": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "messageType",
          "count"
        ],
        "members": {
          "messageType": {
            "type": "string",
            "max": 300,
            "min": 1
          },
          "count": {
            "type": "long"
          },
          "dataSize": {
            "type": "long"
          }
        }
      },
      "max": 5000,
      "min": 0
    },
    "S3h": {
      "type": "string",
      "enum": [
        "HEALTHY",
        "UNHEALTHY",
        "UNKNOWN"
      ]
    },
    "S3j": {
      "type": "string",
      "enum": [
        "IDLE",
        "RUNNING",
        "SHUTDOWN",
        "UNHEALTHY",
        "THROTTLED",
        "UNKNOWN"
      ]
    },
    "S3o": {
      "type": "list",
      "member": {
        "shape": "S3"
      },
      "max": 50,
      "min": 0
    },
    "S3q": {
      "type": "string",
      "max": 140,
      "min": 1
    },
    "S3s": {
      "type": "structure",
      "members": {
        "minSeconds": {
          "shape": "Si"
        },
        "maxSeconds": {
          "shape": "Si"
        }
      }
    },
    "S3t": {
      "type": "list",
      "member": {
        "shape": "S3"
      },
      "max": 50,
      "min": 0
    },
    "S3u": {
      "type": "structure",
      "members": {
        "beginDate": {
          "type": "timestamp"
        },
        "endDate": {
          "type": "timestamp"
        }
      }
    },
    "S3w": {
      "type": "list",
      "member": {
        "shape": "S3"
      },
      "max": 100,
      "min": 0
    },
    "S4o": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "key"
        ],
        "members": {
          "key": {
            "shape": "Sr"
          },
          "value": {
            "shape": "Ss"
          }
        }
      },
      "max": 10,
      "min": 0
    }
  }
}