{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-08-18",
    "endpointPrefix": "inspector",
    "jsonVersion": "1.1",
    "serviceFullName": "Amazon Inspector",
    "signatureVersion": "v4",
    "targetPrefix": "InspectorService",
    "protocol": "json"
  },
  "operations": {
    "AddAttributesToFindings": {
      "input": {
        "type": "structure",
        "members": {
          "findingArns": {
            "shape": "S2"
          },
          "attributes": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    },
    "AttachAssessmentAndRulesPackage": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentArn": {},
          "rulesPackageArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    },
    "CreateApplication": {
      "input": {
        "type": "structure",
        "members": {
          "applicationName": {},
          "resourceGroupArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "applicationArn": {}
        }
      }
    },
    "CreateAssessment": {
      "input": {
        "type": "structure",
        "members": {
          "applicationArn": {},
          "assessmentName": {},
          "durationInSeconds": {
            "type": "integer"
          },
          "userAttributesForFindings": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "assessmentArn": {}
        }
      }
    },
    "CreateResourceGroup": {
      "input": {
        "type": "structure",
        "members": {
          "resourceGroupTags": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourceGroupArn": {}
        }
      }
    },
    "DeleteApplication": {
      "input": {
        "type": "structure",
        "members": {
          "applicationArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    },
    "DeleteAssessment": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    },
    "DeleteRun": {
      "input": {
        "type": "structure",
        "members": {
          "runArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    },
    "DescribeApplication": {
      "input": {
        "type": "structure",
        "members": {
          "applicationArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "application": {
            "type": "structure",
            "members": {
              "applicationArn": {},
              "applicationName": {},
              "resourceGroupArn": {}
            }
          }
        }
      }
    },
    "DescribeAssessment": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "assessment": {
            "type": "structure",
            "members": {
              "assessmentArn": {},
              "assessmentName": {},
              "applicationArn": {},
              "assessmentState": {},
              "failureMessage": {},
              "dataCollected": {
                "type": "boolean"
              },
              "startTime": {
                "type": "timestamp"
              },
              "endTime": {
                "type": "timestamp"
              },
              "durationInSeconds": {
                "type": "integer"
              },
              "userAttributesForFindings": {
                "shape": "S4"
              }
            }
          }
        }
      }
    },
    "DescribeCrossAccountAccessRole": {
      "output": {
        "type": "structure",
        "members": {
          "roleArn": {},
          "valid": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeFinding": {
      "input": {
        "type": "structure",
        "members": {
          "findingArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "finding": {
            "type": "structure",
            "members": {
              "findingArn": {},
              "runArn": {},
              "rulesPackageArn": {},
              "ruleName": {},
              "agentId": {},
              "autoScalingGroup": {},
              "severity": {},
              "finding": {
                "shape": "S18"
              },
              "description": {
                "shape": "S18"
              },
              "recommendation": {
                "shape": "S18"
              },
              "attributes": {
                "shape": "S4"
              },
              "userAttributes": {
                "shape": "S4"
              }
            }
          }
        }
      }
    },
    "DescribeResourceGroup": {
      "input": {
        "type": "structure",
        "members": {
          "resourceGroupArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourceGroup": {
            "type": "structure",
            "members": {
              "resourceGroupArn": {},
              "resourceGroupTags": {}
            }
          }
        }
      }
    },
    "DescribeRulesPackage": {
      "input": {
        "type": "structure",
        "members": {
          "rulesPackageArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "rulesPackage": {
            "type": "structure",
            "members": {
              "rulesPackageArn": {},
              "rulesPackageName": {},
              "version": {},
              "provider": {},
              "description": {
                "shape": "S18"
              }
            }
          }
        }
      }
    },
    "DescribeRun": {
      "input": {
        "type": "structure",
        "members": {
          "runArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "run": {
            "type": "structure",
            "members": {
              "runArn": {},
              "runName": {},
              "assessmentArn": {},
              "runState": {},
              "rulesPackages": {
                "shape": "S2"
              },
              "creationTime": {
                "type": "timestamp"
              },
              "completionTime": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "DetachAssessmentAndRulesPackage": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentArn": {},
          "rulesPackageArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    },
    "GetAssessmentTelemetry": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "telemetry": {
            "shape": "S1v"
          }
        }
      }
    },
    "ListApplications": {
      "input": {
        "type": "structure",
        "members": {
          "filter": {
            "type": "structure",
            "members": {
              "applicationNamePatterns": {
                "shape": "S24"
              }
            }
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "applicationArnList": {
            "shape": "S2"
          },
          "nextToken": {}
        }
      }
    },
    "ListAssessmentAgents": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentArn": {},
          "filter": {
            "type": "structure",
            "members": {
              "agentHealthList": {
                "type": "list",
                "member": {}
              }
            }
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "agentList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "agentId": {},
                "assessmentArn": {},
                "agentHealth": {},
                "agentHealthCode": {},
                "agentHealthDetails": {},
                "autoScalingGroup": {},
                "accountId": {},
                "telemetry": {
                  "shape": "S1v"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListAssessments": {
      "input": {
        "type": "structure",
        "members": {
          "applicationArns": {
            "shape": "S2"
          },
          "filter": {
            "shape": "S2k"
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "assessmentArnList": {
            "shape": "S2"
          },
          "nextToken": {}
        }
      }
    },
    "ListAttachedAssessments": {
      "input": {
        "type": "structure",
        "members": {
          "rulesPackageArn": {},
          "filter": {
            "shape": "S2k"
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "assessmentArnList": {
            "shape": "S2"
          },
          "nextToken": {}
        }
      }
    },
    "ListAttachedRulesPackages": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentArn": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "rulesPackageArnList": {
            "shape": "S2"
          },
          "nextToken": {}
        }
      }
    },
    "ListFindings": {
      "input": {
        "type": "structure",
        "members": {
          "runArns": {
            "shape": "S2"
          },
          "filter": {
            "type": "structure",
            "members": {
              "rulesPackageArns": {
                "shape": "S2"
              },
              "ruleNames": {
                "type": "list",
                "member": {}
              },
              "severities": {
                "type": "list",
                "member": {}
              },
              "attributes": {
                "shape": "S4"
              },
              "userAttributes": {
                "shape": "S4"
              }
            }
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "findingArnList": {
            "shape": "S2"
          },
          "nextToken": {}
        }
      }
    },
    "ListRulesPackages": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "rulesPackageArnList": {
            "shape": "S2"
          },
          "nextToken": {}
        }
      }
    },
    "ListRuns": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentArns": {
            "shape": "S2"
          },
          "filter": {
            "type": "structure",
            "members": {
              "runNamePatterns": {
                "shape": "S24"
              },
              "runStates": {
                "type": "list",
                "member": {}
              },
              "rulesPackages": {
                "shape": "S2"
              },
              "creationTime": {
                "shape": "S2m"
              },
              "completionTime": {
                "shape": "S2m"
              }
            }
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "runArnList": {
            "shape": "S2"
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "members": {
          "resourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tagList": {
            "shape": "S36"
          }
        }
      }
    },
    "LocalizeText": {
      "input": {
        "type": "structure",
        "members": {
          "localizedTexts": {
            "type": "list",
            "member": {
              "shape": "S18"
            }
          },
          "locale": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {},
          "results": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "PreviewAgentsForResourceGroup": {
      "input": {
        "type": "structure",
        "members": {
          "resourceGroupArn": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "agentPreviewList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "agentId": {},
                "autoScalingGroup": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "RegisterCrossAccountAccessRole": {
      "input": {
        "type": "structure",
        "members": {
          "roleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    },
    "RemoveAttributesFromFindings": {
      "input": {
        "type": "structure",
        "members": {
          "findingArns": {
            "shape": "S2"
          },
          "attributeKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    },
    "RunAssessment": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentArn": {},
          "runName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "runArn": {}
        }
      }
    },
    "SetTagsForResource": {
      "input": {
        "type": "structure",
        "members": {
          "resourceArn": {},
          "tags": {
            "shape": "S36"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    },
    "StartDataCollection": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    },
    "StopDataCollection": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    },
    "UpdateApplication": {
      "input": {
        "type": "structure",
        "members": {
          "applicationArn": {},
          "applicationName": {},
          "resourceGroupArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    },
    "UpdateAssessment": {
      "input": {
        "type": "structure",
        "members": {
          "assessmentArn": {},
          "assessmentName": {},
          "durationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "message": {}
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {}
    },
    "S4": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "key": {},
          "value": {}
        }
      }
    },
    "S18": {
      "type": "structure",
      "members": {
        "key": {
          "type": "structure",
          "members": {
            "facility": {},
            "id": {}
          }
        },
        "parameters": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "name": {},
              "value": {}
            }
          }
        }
      }
    },
    "S1v": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "status": {},
          "messageTypeTelemetries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "messageType": {},
                "count": {
                  "type": "long"
                },
                "dataSize": {
                  "type": "long"
                }
              }
            }
          }
        }
      }
    },
    "S24": {
      "type": "list",
      "member": {}
    },
    "S2k": {
      "type": "structure",
      "members": {
        "assessmentNamePatterns": {
          "shape": "S24"
        },
        "assessmentStates": {
          "type": "list",
          "member": {}
        },
        "dataCollected": {
          "type": "boolean"
        },
        "startTimeRange": {
          "shape": "S2m"
        },
        "endTimeRange": {
          "shape": "S2m"
        },
        "durationRange": {
          "type": "structure",
          "members": {
            "minimum": {
              "type": "integer"
            },
            "maximum": {
              "type": "integer"
            }
          }
        }
      }
    },
    "S2m": {
      "type": "structure",
      "members": {
        "minimum": {
          "type": "timestamp"
        },
        "maximum": {
          "type": "timestamp"
        }
      }
    },
    "S36": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    }
  },
  "examples": {}
}