{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2021-06-03",
    "endpointPrefix": "internetmonitor",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon CloudWatch Internet Monitor",
    "serviceId": "InternetMonitor",
    "signatureVersion": "v4",
    "signingName": "internetmonitor",
    "uid": "internetmonitor-2021-06-03"
  },
  "operations": {
    "CreateMonitor": {
      "http": {
        "requestUri": "/v20210603/Monitors",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MonitorName",
          "MaxCityNetworksToMonitor"
        ],
        "members": {
          "MonitorName": {},
          "Resources": {
            "shape": "S3"
          },
          "ClientToken": {
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "S6"
          },
          "MaxCityNetworksToMonitor": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Arn",
          "Status"
        ],
        "members": {
          "Arn": {},
          "Status": {}
        }
      },
      "idempotent": true
    },
    "DeleteMonitor": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20210603/Monitors/{MonitorName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MonitorName"
        ],
        "members": {
          "MonitorName": {
            "location": "uri",
            "locationName": "MonitorName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "GetHealthEvent": {
      "http": {
        "method": "GET",
        "requestUri": "/v20210603/Monitors/{MonitorName}/HealthEvents/{EventId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MonitorName",
          "EventId"
        ],
        "members": {
          "MonitorName": {
            "location": "uri",
            "locationName": "MonitorName"
          },
          "EventId": {
            "location": "uri",
            "locationName": "EventId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EventArn",
          "EventId",
          "StartedAt",
          "LastUpdatedAt",
          "ImpactedLocations",
          "Status",
          "ImpactType"
        ],
        "members": {
          "EventArn": {},
          "EventId": {},
          "StartedAt": {
            "shape": "Si"
          },
          "EndedAt": {
            "shape": "Si"
          },
          "CreatedAt": {
            "shape": "Si"
          },
          "LastUpdatedAt": {
            "shape": "Si"
          },
          "ImpactedLocations": {
            "shape": "Sj"
          },
          "Status": {},
          "PercentOfTotalTrafficImpacted": {
            "type": "double"
          },
          "ImpactType": {}
        }
      }
    },
    "GetMonitor": {
      "http": {
        "method": "GET",
        "requestUri": "/v20210603/Monitors/{MonitorName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MonitorName"
        ],
        "members": {
          "MonitorName": {
            "location": "uri",
            "locationName": "MonitorName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitorName",
          "MonitorArn",
          "Resources",
          "Status",
          "CreatedAt",
          "ModifiedAt",
          "MaxCityNetworksToMonitor"
        ],
        "members": {
          "MonitorName": {},
          "MonitorArn": {},
          "Resources": {
            "shape": "S3"
          },
          "Status": {},
          "CreatedAt": {
            "shape": "Si"
          },
          "ModifiedAt": {
            "shape": "Si"
          },
          "ProcessingStatus": {},
          "ProcessingStatusInfo": {},
          "Tags": {
            "shape": "S6"
          },
          "MaxCityNetworksToMonitor": {
            "type": "integer"
          }
        }
      }
    },
    "ListHealthEvents": {
      "http": {
        "method": "GET",
        "requestUri": "/v20210603/Monitors/{MonitorName}/HealthEvents",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MonitorName"
        ],
        "members": {
          "MonitorName": {
            "location": "uri",
            "locationName": "MonitorName"
          },
          "StartTime": {
            "shape": "Si",
            "location": "querystring",
            "locationName": "StartTime"
          },
          "EndTime": {
            "shape": "Si",
            "location": "querystring",
            "locationName": "EndTime"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "EventStatus": {
            "location": "querystring",
            "locationName": "EventStatus"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HealthEvents"
        ],
        "members": {
          "HealthEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "EventArn",
                "EventId",
                "StartedAt",
                "LastUpdatedAt",
                "ImpactedLocations",
                "Status",
                "ImpactType"
              ],
              "members": {
                "EventArn": {},
                "EventId": {},
                "StartedAt": {
                  "shape": "Si"
                },
                "EndedAt": {
                  "shape": "Si"
                },
                "CreatedAt": {
                  "shape": "Si"
                },
                "LastUpdatedAt": {
                  "shape": "Si"
                },
                "ImpactedLocations": {
                  "shape": "Sj"
                },
                "Status": {},
                "PercentOfTotalTrafficImpacted": {
                  "type": "double"
                },
                "ImpactType": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMonitors": {
      "http": {
        "method": "GET",
        "requestUri": "/v20210603/Monitors",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "MonitorStatus": {
            "location": "querystring",
            "locationName": "MonitorStatus"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Monitors"
        ],
        "members": {
          "Monitors": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "MonitorName",
                "MonitorArn",
                "Status"
              ],
              "members": {
                "MonitorName": {},
                "MonitorArn": {},
                "Status": {},
                "ProcessingStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S6"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "Tags": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdateMonitor": {
      "http": {
        "method": "PATCH",
        "requestUri": "/v20210603/Monitors/{MonitorName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "MonitorName"
        ],
        "members": {
          "MonitorName": {
            "location": "uri",
            "locationName": "MonitorName"
          },
          "ResourcesToAdd": {
            "shape": "S3"
          },
          "ResourcesToRemove": {
            "shape": "S3"
          },
          "Status": {},
          "ClientToken": {
            "idempotencyToken": true
          },
          "MaxCityNetworksToMonitor": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitorArn",
          "Status"
        ],
        "members": {
          "MonitorArn": {},
          "Status": {}
        }
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {}
    },
    "S6": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Si": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "Sj": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ASName",
          "ASNumber",
          "Country",
          "Status"
        ],
        "members": {
          "ASName": {},
          "ASNumber": {
            "type": "long"
          },
          "Country": {},
          "Subdivision": {},
          "Metro": {},
          "City": {},
          "Latitude": {
            "type": "double"
          },
          "Longitude": {
            "type": "double"
          },
          "CountryCode": {},
          "SubdivisionCode": {},
          "ServiceLocation": {},
          "Status": {},
          "CausedBy": {
            "type": "structure",
            "required": [
              "Networks",
              "AsPath",
              "NetworkEventType"
            ],
            "members": {
              "Networks": {
                "shape": "Sp"
              },
              "AsPath": {
                "shape": "Sp"
              },
              "NetworkEventType": {}
            }
          },
          "InternetHealth": {
            "type": "structure",
            "members": {
              "Availability": {
                "type": "structure",
                "members": {
                  "ExperienceScore": {
                    "type": "double"
                  },
                  "PercentOfTotalTrafficImpacted": {
                    "type": "double"
                  },
                  "PercentOfClientLocationImpacted": {
                    "type": "double"
                  }
                }
              },
              "Performance": {
                "type": "structure",
                "members": {
                  "ExperienceScore": {
                    "type": "double"
                  },
                  "PercentOfTotalTrafficImpacted": {
                    "type": "double"
                  },
                  "PercentOfClientLocationImpacted": {
                    "type": "double"
                  },
                  "RoundTripTime": {
                    "type": "structure",
                    "members": {
                      "P50": {
                        "type": "double"
                      },
                      "P90": {
                        "type": "double"
                      },
                      "P95": {
                        "type": "double"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Sp": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ASName",
          "ASNumber"
        ],
        "members": {
          "ASName": {},
          "ASNumber": {
            "type": "long"
          }
        }
      }
    }
  }
}