{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-05-14",
    "endpointPrefix": "projects.iot1click",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "AWS IoT 1-Click Projects",
    "serviceFullName": "AWS IoT 1-Click Projects Service",
    "serviceId": "IoT 1Click Projects",
    "signatureVersion": "v4",
    "signingName": "iot1click",
    "uid": "iot1click-projects-2018-05-14"
  },
  "operations": {
    "AssociateDeviceWithPlacement": {
      "http": {
        "method": "PUT",
        "requestUri": "/projects/{projectName}/placements/{placementName}/devices/{deviceTemplateName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "projectName",
          "placementName",
          "deviceId",
          "deviceTemplateName"
        ],
        "members": {
          "projectName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "projectName"
          },
          "placementName": {
            "shape": "S3",
            "location": "uri",
            "locationName": "placementName"
          },
          "deviceId": {
            "shape": "S4"
          },
          "deviceTemplateName": {
            "shape": "S5",
            "location": "uri",
            "locationName": "deviceTemplateName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreatePlacement": {
      "http": {
        "requestUri": "/projects/{projectName}/placements"
      },
      "input": {
        "type": "structure",
        "required": [
          "placementName",
          "projectName"
        ],
        "members": {
          "placementName": {
            "shape": "S3"
          },
          "projectName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "projectName"
          },
          "attributes": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateProject": {
      "http": {
        "requestUri": "/projects"
      },
      "input": {
        "type": "structure",
        "required": [
          "projectName"
        ],
        "members": {
          "projectName": {
            "shape": "S2"
          },
          "description": {
            "shape": "Sd"
          },
          "placementTemplate": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePlacement": {
      "http": {
        "method": "DELETE",
        "requestUri": "/projects/{projectName}/placements/{placementName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "placementName",
          "projectName"
        ],
        "members": {
          "placementName": {
            "shape": "S3",
            "location": "uri",
            "locationName": "placementName"
          },
          "projectName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "projectName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteProject": {
      "http": {
        "method": "DELETE",
        "requestUri": "/projects/{projectName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "projectName"
        ],
        "members": {
          "projectName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "projectName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribePlacement": {
      "http": {
        "method": "GET",
        "requestUri": "/projects/{projectName}/placements/{placementName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "placementName",
          "projectName"
        ],
        "members": {
          "placementName": {
            "shape": "S3",
            "location": "uri",
            "locationName": "placementName"
          },
          "projectName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "projectName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "placement"
        ],
        "members": {
          "placement": {
            "type": "structure",
            "required": [
              "projectName",
              "placementName",
              "attributes",
              "createdDate",
              "updatedDate"
            ],
            "members": {
              "projectName": {
                "shape": "S2"
              },
              "placementName": {
                "shape": "S3"
              },
              "attributes": {
                "shape": "S8"
              },
              "createdDate": {
                "type": "timestamp"
              },
              "updatedDate": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "DescribeProject": {
      "http": {
        "method": "GET",
        "requestUri": "/projects/{projectName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "projectName"
        ],
        "members": {
          "projectName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "projectName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "project"
        ],
        "members": {
          "project": {
            "type": "structure",
            "required": [
              "projectName",
              "createdDate",
              "updatedDate"
            ],
            "members": {
              "projectName": {
                "shape": "S2"
              },
              "description": {
                "shape": "Sd"
              },
              "createdDate": {
                "type": "timestamp"
              },
              "updatedDate": {
                "type": "timestamp"
              },
              "placementTemplate": {
                "shape": "Se"
              }
            }
          }
        }
      }
    },
    "DisassociateDeviceFromPlacement": {
      "http": {
        "method": "DELETE",
        "requestUri": "/projects/{projectName}/placements/{placementName}/devices/{deviceTemplateName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "projectName",
          "placementName",
          "deviceTemplateName"
        ],
        "members": {
          "projectName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "projectName"
          },
          "placementName": {
            "shape": "S3",
            "location": "uri",
            "locationName": "placementName"
          },
          "deviceTemplateName": {
            "shape": "S5",
            "location": "uri",
            "locationName": "deviceTemplateName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetDevicesInPlacement": {
      "http": {
        "method": "GET",
        "requestUri": "/projects/{projectName}/placements/{placementName}/devices"
      },
      "input": {
        "type": "structure",
        "required": [
          "projectName",
          "placementName"
        ],
        "members": {
          "projectName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "projectName"
          },
          "placementName": {
            "shape": "S3",
            "location": "uri",
            "locationName": "placementName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "devices"
        ],
        "members": {
          "devices": {
            "type": "map",
            "key": {
              "shape": "S5"
            },
            "value": {
              "shape": "S4"
            }
          }
        }
      }
    },
    "ListPlacements": {
      "http": {
        "method": "GET",
        "requestUri": "/projects/{projectName}/placements"
      },
      "input": {
        "type": "structure",
        "required": [
          "projectName"
        ],
        "members": {
          "projectName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "projectName"
          },
          "nextToken": {
            "shape": "S15",
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "shape": "S16",
            "location": "querystring",
            "locationName": "maxResults"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "placements"
        ],
        "members": {
          "placements": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "projectName",
                "placementName",
                "createdDate",
                "updatedDate"
              ],
              "members": {
                "projectName": {
                  "shape": "S2"
                },
                "placementName": {
                  "shape": "S3"
                },
                "createdDate": {
                  "type": "timestamp"
                },
                "updatedDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {
            "shape": "S15"
          }
        }
      }
    },
    "ListProjects": {
      "http": {
        "method": "GET",
        "requestUri": "/projects"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "shape": "S15",
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "shape": "S16",
            "location": "querystring",
            "locationName": "maxResults"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "projects"
        ],
        "members": {
          "projects": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "projectName",
                "createdDate",
                "updatedDate"
              ],
              "members": {
                "projectName": {
                  "shape": "S2"
                },
                "createdDate": {
                  "type": "timestamp"
                },
                "updatedDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {
            "shape": "S15"
          }
        }
      }
    },
    "UpdatePlacement": {
      "http": {
        "method": "PUT",
        "requestUri": "/projects/{projectName}/placements/{placementName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "placementName",
          "projectName"
        ],
        "members": {
          "placementName": {
            "shape": "S3",
            "location": "uri",
            "locationName": "placementName"
          },
          "projectName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "projectName"
          },
          "attributes": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateProject": {
      "http": {
        "method": "PUT",
        "requestUri": "/projects/{projectName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "projectName"
        ],
        "members": {
          "projectName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "projectName"
          },
          "description": {
            "shape": "Sd"
          },
          "placementTemplate": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^[0-9A-Za-z_-]+$"
    },
    "S3": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$"
    },
    "S4": {
      "type": "string",
      "max": 32,
      "min": 1
    },
    "S5": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$"
    },
    "S8": {
      "type": "map",
      "key": {
        "shape": "S9"
      },
      "value": {
        "type": "string",
        "max": 800
      }
    },
    "S9": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "Sd": {
      "type": "string",
      "max": 500,
      "min": 0
    },
    "Se": {
      "type": "structure",
      "members": {
        "defaultAttributes": {
          "type": "map",
          "key": {
            "shape": "S9"
          },
          "value": {
            "type": "string",
            "max": 800
          }
        },
        "deviceTemplates": {
          "type": "map",
          "key": {
            "shape": "S5"
          },
          "value": {
            "type": "structure",
            "members": {
              "deviceType": {
                "type": "string",
                "max": 128
              },
              "callbackOverrides": {
                "type": "map",
                "key": {
                  "type": "string",
                  "max": 128,
                  "min": 1
                },
                "value": {
                  "type": "string",
                  "max": 200
                }
              }
            }
          }
        }
      }
    },
    "S15": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "S16": {
      "type": "integer",
      "max": 250,
      "min": 1
    }
  }
}