{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-11-22",
    "endpointPrefix": "api.iotwireless",
    "protocol": "rest-json",
    "serviceFullName": "AWS IoT Wireless",
    "serviceId": "IoT Wireless",
    "signatureVersion": "v4",
    "signingName": "iotwireless",
    "uid": "iotwireless-2020-11-22"
  },
  "operations": {
    "AssociateAwsAccountWithPartnerAccount": {
      "http": {
        "requestUri": "/partner-accounts"
      },
      "input": {
        "type": "structure",
        "required": [
          "Sidewalk"
        ],
        "members": {
          "Sidewalk": {
            "shape": "S2"
          },
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Sidewalk": {
            "shape": "S2"
          },
          "Arn": {}
        }
      }
    },
    "AssociateWirelessDeviceWithThing": {
      "http": {
        "method": "PUT",
        "requestUri": "/wireless-devices/{Id}/thing",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "ThingArn"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          },
          "ThingArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AssociateWirelessGatewayWithCertificate": {
      "http": {
        "method": "PUT",
        "requestUri": "/wireless-gateways/{Id}/certificate"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IotCertificateId"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          },
          "IotCertificateId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IotCertificateId": {}
        }
      }
    },
    "AssociateWirelessGatewayWithThing": {
      "http": {
        "method": "PUT",
        "requestUri": "/wireless-gateways/{Id}/thing",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "ThingArn"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          },
          "ThingArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDestination": {
      "http": {
        "requestUri": "/destinations",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ExpressionType",
          "Expression",
          "RoleArn"
        ],
        "members": {
          "Name": {},
          "ExpressionType": {},
          "Expression": {},
          "Description": {},
          "RoleArn": {},
          "Tags": {
            "shape": "S6"
          },
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Name": {}
        }
      }
    },
    "CreateDeviceProfile": {
      "http": {
        "requestUri": "/device-profiles",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {},
          "LoRaWAN": {
            "shape": "Sw"
          },
          "Tags": {
            "shape": "S6"
          },
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Id": {}
        }
      }
    },
    "CreateServiceProfile": {
      "http": {
        "requestUri": "/service-profiles",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {},
          "LoRaWAN": {
            "type": "structure",
            "members": {
              "AddGwMetadata": {
                "type": "boolean"
              }
            }
          },
          "Tags": {
            "shape": "S6"
          },
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Id": {}
        }
      }
    },
    "CreateWirelessDevice": {
      "http": {
        "requestUri": "/wireless-devices",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Type",
          "DestinationName"
        ],
        "members": {
          "Type": {},
          "Name": {},
          "Description": {},
          "DestinationName": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "LoRaWAN": {
            "shape": "S1u"
          },
          "Tags": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Id": {}
        }
      }
    },
    "CreateWirelessGateway": {
      "http": {
        "requestUri": "/wireless-gateways",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "LoRaWAN"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "LoRaWAN": {
            "shape": "S2g"
          },
          "Tags": {
            "shape": "S6"
          },
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Id": {}
        }
      }
    },
    "CreateWirelessGatewayTask": {
      "http": {
        "requestUri": "/wireless-gateways/{Id}/tasks",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "WirelessGatewayTaskDefinitionId"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          },
          "WirelessGatewayTaskDefinitionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WirelessGatewayTaskDefinitionId": {},
          "Status": {}
        }
      }
    },
    "CreateWirelessGatewayTaskDefinition": {
      "http": {
        "requestUri": "/wireless-gateway-task-definitions",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "AutoCreateTasks"
        ],
        "members": {
          "AutoCreateTasks": {
            "type": "boolean"
          },
          "Name": {},
          "Update": {
            "shape": "S2r"
          },
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Id": {},
          "Arn": {}
        }
      }
    },
    "DeleteDestination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/destinations/{Name}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "Name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDeviceProfile": {
      "http": {
        "method": "DELETE",
        "requestUri": "/device-profiles/{Id}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteServiceProfile": {
      "http": {
        "method": "DELETE",
        "requestUri": "/service-profiles/{Id}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWirelessDevice": {
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-devices/{Id}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWirelessGateway": {
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-gateways/{Id}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWirelessGatewayTask": {
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-gateways/{Id}/tasks",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWirelessGatewayTaskDefinition": {
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-gateway-task-definitions/{Id}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateAwsAccountFromPartnerAccount": {
      "http": {
        "method": "DELETE",
        "requestUri": "/partner-accounts/{PartnerAccountId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "PartnerAccountId",
          "PartnerType"
        ],
        "members": {
          "PartnerAccountId": {
            "location": "uri",
            "locationName": "PartnerAccountId"
          },
          "PartnerType": {
            "location": "querystring",
            "locationName": "partnerType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateWirelessDeviceFromThing": {
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-devices/{Id}/thing",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateWirelessGatewayFromCertificate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-gateways/{Id}/certificate",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateWirelessGatewayFromThing": {
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-gateways/{Id}/thing",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetDestination": {
      "http": {
        "method": "GET",
        "requestUri": "/destinations/{Name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "Name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Name": {},
          "Expression": {},
          "ExpressionType": {},
          "Description": {},
          "RoleArn": {}
        }
      }
    },
    "GetDeviceProfile": {
      "http": {
        "method": "GET",
        "requestUri": "/device-profiles/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Name": {},
          "Id": {},
          "LoRaWAN": {
            "shape": "Sw"
          }
        }
      }
    },
    "GetPartnerAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/partner-accounts/{PartnerAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PartnerAccountId",
          "PartnerType"
        ],
        "members": {
          "PartnerAccountId": {
            "location": "uri",
            "locationName": "PartnerAccountId"
          },
          "PartnerType": {
            "location": "querystring",
            "locationName": "partnerType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Sidewalk": {
            "shape": "S3w"
          },
          "AccountLinked": {
            "type": "boolean"
          }
        }
      }
    },
    "GetServiceEndpoint": {
      "http": {
        "method": "GET",
        "requestUri": "/service-endpoint"
      },
      "input": {
        "type": "structure",
        "members": {
          "ServiceType": {
            "location": "querystring",
            "locationName": "serviceType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ServiceType": {},
          "ServiceEndpoint": {},
          "ServerTrust": {}
        }
      }
    },
    "GetServiceProfile": {
      "http": {
        "method": "GET",
        "requestUri": "/service-profiles/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Name": {},
          "Id": {},
          "LoRaWAN": {
            "type": "structure",
            "members": {
              "UlRate": {
                "type": "integer"
              },
              "UlBucketSize": {
                "type": "integer"
              },
              "UlRatePolicy": {},
              "DlRate": {
                "type": "integer"
              },
              "DlBucketSize": {
                "type": "integer"
              },
              "DlRatePolicy": {},
              "AddGwMetadata": {
                "type": "boolean"
              },
              "DevStatusReqFreq": {
                "type": "integer"
              },
              "ReportDevStatusBattery": {
                "type": "boolean"
              },
              "ReportDevStatusMargin": {
                "type": "boolean"
              },
              "DrMin": {
                "type": "integer"
              },
              "DrMax": {
                "type": "integer"
              },
              "ChannelMask": {},
              "PrAllowed": {
                "type": "boolean"
              },
              "HrAllowed": {
                "type": "boolean"
              },
              "RaAllowed": {
                "type": "boolean"
              },
              "NwkGeoLoc": {
                "type": "boolean"
              },
              "TargetPer": {
                "type": "integer"
              },
              "MinGwDiversity": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "GetWirelessDevice": {
      "http": {
        "method": "GET",
        "requestUri": "/wireless-devices/{Identifier}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Identifier",
          "IdentifierType"
        ],
        "members": {
          "Identifier": {
            "location": "uri",
            "locationName": "Identifier"
          },
          "IdentifierType": {
            "location": "querystring",
            "locationName": "identifierType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Type": {},
          "Name": {},
          "Description": {},
          "DestinationName": {},
          "Id": {},
          "Arn": {},
          "ThingName": {},
          "ThingArn": {},
          "LoRaWAN": {
            "shape": "S1u"
          },
          "Sidewalk": {
            "type": "structure",
            "members": {
              "SidewalkId": {},
              "SidewalkManufacturingSn": {},
              "DeviceCertificates": {
                "shape": "S4x"
              }
            }
          }
        }
      }
    },
    "GetWirelessDeviceStatistics": {
      "http": {
        "method": "GET",
        "requestUri": "/wireless-devices/{Id}/statistics",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "WirelessDeviceId"
        ],
        "members": {
          "WirelessDeviceId": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WirelessDeviceId": {},
          "LastUplinkReceivedAt": {},
          "LoRaWAN": {
            "type": "structure",
            "members": {
              "DevEui": {},
              "FPort": {
                "type": "integer"
              },
              "DataRate": {
                "type": "integer"
              },
              "Frequency": {
                "type": "integer"
              },
              "Timestamp": {},
              "Gateways": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "GatewayEui": {},
                    "Snr": {
                      "type": "double"
                    },
                    "Rssi": {
                      "type": "double"
                    }
                  }
                }
              }
            }
          },
          "Sidewalk": {
            "type": "structure",
            "members": {
              "Rssi": {
                "type": "integer"
              },
              "BatteryLevel": {},
              "Event": {},
              "DeviceState": {}
            }
          }
        }
      }
    },
    "GetWirelessGateway": {
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateways/{Identifier}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Identifier",
          "IdentifierType"
        ],
        "members": {
          "Identifier": {
            "location": "uri",
            "locationName": "Identifier"
          },
          "IdentifierType": {
            "location": "querystring",
            "locationName": "identifierType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "Id": {},
          "Description": {},
          "LoRaWAN": {
            "shape": "S2g"
          },
          "Arn": {},
          "ThingName": {},
          "ThingArn": {}
        }
      }
    },
    "GetWirelessGatewayCertificate": {
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateways/{Id}/certificate"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IotCertificateId": {},
          "LoRaWANNetworkServerCertificateId": {}
        }
      }
    },
    "GetWirelessGatewayFirmwareInformation": {
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateways/{Id}/firmware-information"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LoRaWAN": {
            "type": "structure",
            "members": {
              "CurrentVersion": {
                "shape": "S2w"
              }
            }
          }
        }
      }
    },
    "GetWirelessGatewayStatistics": {
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateways/{Id}/statistics",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "WirelessGatewayId"
        ],
        "members": {
          "WirelessGatewayId": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WirelessGatewayId": {},
          "LastUplinkReceivedAt": {},
          "ConnectionStatus": {}
        }
      }
    },
    "GetWirelessGatewayTask": {
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateways/{Id}/tasks"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WirelessGatewayId": {},
          "WirelessGatewayTaskDefinitionId": {},
          "LastUplinkReceivedAt": {},
          "TaskCreatedAt": {},
          "Status": {}
        }
      }
    },
    "GetWirelessGatewayTaskDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateway-task-definitions/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AutoCreateTasks": {
            "type": "boolean"
          },
          "Name": {},
          "Update": {
            "shape": "S2r"
          },
          "Arn": {}
        }
      }
    },
    "ListDestinations": {
      "http": {
        "method": "GET",
        "requestUri": "/destinations"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DestinationList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "Name": {},
                "ExpressionType": {},
                "Expression": {},
                "Description": {},
                "RoleArn": {}
              }
            }
          }
        }
      }
    },
    "ListDeviceProfiles": {
      "http": {
        "method": "GET",
        "requestUri": "/device-profiles"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "DeviceProfileList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "Name": {},
                "Id": {}
              }
            }
          }
        }
      }
    },
    "ListPartnerAccounts": {
      "http": {
        "method": "GET",
        "requestUri": "/partner-accounts"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Sidewalk": {
            "type": "list",
            "member": {
              "shape": "S3w"
            }
          }
        }
      }
    },
    "ListServiceProfiles": {
      "http": {
        "method": "GET",
        "requestUri": "/service-profiles"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "ServiceProfileList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "Name": {},
                "Id": {}
              }
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "querystring",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S6"
          }
        }
      }
    },
    "ListWirelessDevices": {
      "http": {
        "method": "GET",
        "requestUri": "/wireless-devices"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "DestinationName": {
            "location": "querystring",
            "locationName": "destinationName"
          },
          "DeviceProfileId": {
            "location": "querystring",
            "locationName": "deviceProfileId"
          },
          "ServiceProfileId": {
            "location": "querystring",
            "locationName": "serviceProfileId"
          },
          "WirelessDeviceType": {
            "location": "querystring",
            "locationName": "wirelessDeviceType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "WirelessDeviceList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "Id": {},
                "Type": {},
                "Name": {},
                "DestinationName": {},
                "LastUplinkReceivedAt": {},
                "LoRaWAN": {
                  "type": "structure",
                  "members": {
                    "DevEui": {}
                  }
                },
                "Sidewalk": {
                  "type": "structure",
                  "members": {
                    "AmazonId": {},
                    "SidewalkId": {},
                    "SidewalkManufacturingSn": {},
                    "DeviceCertificates": {
                      "shape": "S4x"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "ListWirelessGatewayTaskDefinitions": {
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateway-task-definitions"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "TaskDefinitionType": {
            "location": "querystring",
            "locationName": "taskDefinitionType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "TaskDefinitions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "LoRaWAN": {
                  "type": "structure",
                  "members": {
                    "CurrentVersion": {
                      "shape": "S2w"
                    },
                    "UpdateVersion": {
                      "shape": "S2w"
                    }
                  }
                },
                "Arn": {}
              }
            }
          }
        }
      }
    },
    "ListWirelessGateways": {
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateways"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "WirelessGatewayList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "Id": {},
                "Name": {},
                "Description": {},
                "LoRaWAN": {
                  "shape": "S2g"
                },
                "LastUplinkReceivedAt": {}
              }
            }
          }
        }
      }
    },
    "SendDataToWirelessDevice": {
      "http": {
        "requestUri": "/wireless-devices/{Id}/data",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "TransmitMode",
          "PayloadData"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          },
          "TransmitMode": {
            "type": "integer"
          },
          "PayloadData": {},
          "WirelessMetadata": {
            "type": "structure",
            "members": {
              "LoRaWAN": {
                "type": "structure",
                "members": {
                  "FPort": {
                    "type": "integer"
                  }
                }
              },
              "Sidewalk": {
                "type": "structure",
                "members": {
                  "Seq": {
                    "type": "integer"
                  },
                  "MessageType": {}
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageId": {}
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "querystring",
            "locationName": "resourceArn"
          },
          "Tags": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TestWirelessDevice": {
      "http": {
        "requestUri": "/wireless-devices/{Id}/test",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Result": {}
        }
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "querystring",
            "locationName": "resourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDestination": {
      "http": {
        "method": "PATCH",
        "requestUri": "/destinations/{Name}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "Name"
          },
          "ExpressionType": {},
          "Expression": {},
          "Description": {},
          "RoleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdatePartnerAccount": {
      "http": {
        "method": "PATCH",
        "requestUri": "/partner-accounts/{PartnerAccountId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Sidewalk",
          "PartnerAccountId",
          "PartnerType"
        ],
        "members": {
          "Sidewalk": {
            "type": "structure",
            "members": {
              "AppServerPrivateKey": {
                "shape": "S4"
              }
            }
          },
          "PartnerAccountId": {
            "location": "uri",
            "locationName": "PartnerAccountId"
          },
          "PartnerType": {
            "location": "querystring",
            "locationName": "partnerType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateWirelessDevice": {
      "http": {
        "method": "PATCH",
        "requestUri": "/wireless-devices/{Id}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          },
          "DestinationName": {},
          "Name": {},
          "Description": {},
          "LoRaWAN": {
            "type": "structure",
            "members": {
              "DeviceProfileId": {},
              "ServiceProfileId": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateWirelessGateway": {
      "http": {
        "method": "PATCH",
        "requestUri": "/wireless-gateways/{Id}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "Id"
          },
          "Name": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "structure",
      "members": {
        "AmazonId": {},
        "AppServerPrivateKey": {
          "shape": "S4"
        }
      }
    },
    "S4": {
      "type": "string",
      "sensitive": true
    },
    "S6": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "Sw": {
      "type": "structure",
      "members": {
        "SupportsClassB": {
          "type": "boolean"
        },
        "ClassBTimeout": {
          "type": "integer"
        },
        "PingSlotPeriod": {
          "type": "integer"
        },
        "PingSlotDr": {
          "type": "integer"
        },
        "PingSlotFreq": {
          "type": "integer"
        },
        "SupportsClassC": {
          "type": "boolean"
        },
        "ClassCTimeout": {
          "type": "integer"
        },
        "MacVersion": {},
        "RegParamsRevision": {},
        "RxDelay1": {
          "type": "integer"
        },
        "RxDrOffset1": {
          "type": "integer"
        },
        "RxDataRate2": {
          "type": "integer"
        },
        "RxFreq2": {
          "type": "integer"
        },
        "FactoryPresetFreqsList": {
          "type": "list",
          "member": {
            "type": "integer"
          }
        },
        "MaxEirp": {
          "type": "integer"
        },
        "MaxDutyCycle": {
          "type": "integer"
        },
        "RfRegion": {},
        "SupportsJoin": {
          "type": "boolean"
        },
        "Supports32BitFCnt": {
          "type": "boolean"
        }
      }
    },
    "S1u": {
      "type": "structure",
      "members": {
        "DevEui": {},
        "DeviceProfileId": {},
        "ServiceProfileId": {},
        "OtaaV1_1": {
          "type": "structure",
          "members": {
            "AppKey": {},
            "NwkKey": {},
            "JoinEui": {}
          }
        },
        "OtaaV1_0_x": {
          "type": "structure",
          "members": {
            "AppKey": {},
            "AppEui": {}
          }
        },
        "AbpV1_1": {
          "type": "structure",
          "members": {
            "DevAddr": {},
            "SessionKeys": {
              "type": "structure",
              "members": {
                "FNwkSIntKey": {},
                "SNwkSIntKey": {},
                "NwkSEncKey": {},
                "AppSKey": {}
              }
            }
          }
        },
        "AbpV1_0_x": {
          "type": "structure",
          "members": {
            "DevAddr": {},
            "SessionKeys": {
              "type": "structure",
              "members": {
                "NwkSKey": {},
                "AppSKey": {}
              }
            }
          }
        }
      }
    },
    "S2g": {
      "type": "structure",
      "members": {
        "GatewayEui": {},
        "RfRegion": {}
      }
    },
    "S2r": {
      "type": "structure",
      "members": {
        "UpdateDataSource": {},
        "UpdateDataRole": {},
        "LoRaWAN": {
          "type": "structure",
          "members": {
            "UpdateSignature": {},
            "SigKeyCrc": {
              "type": "long"
            },
            "CurrentVersion": {
              "shape": "S2w"
            },
            "UpdateVersion": {
              "shape": "S2w"
            }
          }
        }
      }
    },
    "S2w": {
      "type": "structure",
      "members": {
        "PackageVersion": {},
        "Model": {},
        "Station": {}
      }
    },
    "S3w": {
      "type": "structure",
      "members": {
        "AmazonId": {},
        "Fingerprint": {
          "type": "string",
          "sensitive": true
        },
        "Arn": {}
      }
    },
    "S4x": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "SigningAlg",
          "Value"
        ],
        "members": {
          "SigningAlg": {},
          "Value": {}
        }
      }
    }
  }
}