{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-07-14",
    "endpointPrefix": "ivs",
    "protocol": "rest-json",
    "serviceAbbreviation": "Amazon IVS",
    "serviceFullName": "Amazon Interactive Video Service",
    "serviceId": "ivs",
    "signatureVersion": "v4",
    "signingName": "ivs",
    "uid": "ivs-2020-07-14"
  },
  "operations": {
    "BatchGetChannel": {
      "name": "BatchGetChannel",
      "http": {
        "method": "POST",
        "requestUri": "/BatchGetChannel"
      },
      "input": {
        "shape": "BatchGetChannelRequest"
      },
      "output": {
        "shape": "BatchGetChannelResponse"
      },
      "documentation": "<p>Performs <a>GetChannel</a> on multiple ARNs simultaneously.</p>"
    },
    "BatchGetStreamKey": {
      "name": "BatchGetStreamKey",
      "http": {
        "method": "POST",
        "requestUri": "/BatchGetStreamKey"
      },
      "input": {
        "shape": "BatchGetStreamKeyRequest"
      },
      "output": {
        "shape": "BatchGetStreamKeyResponse"
      },
      "documentation": "<p>Performs <a>GetStreamKey</a> on multiple ARNs simultaneously.</p>"
    },
    "CreateChannel": {
      "name": "CreateChannel",
      "http": {
        "method": "POST",
        "requestUri": "/CreateChannel"
      },
      "input": {
        "shape": "CreateChannelRequest"
      },
      "output": {
        "shape": "CreateChannelResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "PendingVerification"
        }
      ],
      "documentation": "<p>Creates a new channel and an associated stream key to start streaming.</p>"
    },
    "CreateRecordingConfiguration": {
      "name": "CreateRecordingConfiguration",
      "http": {
        "method": "POST",
        "requestUri": "/CreateRecordingConfiguration"
      },
      "input": {
        "shape": "CreateRecordingConfigurationRequest"
      },
      "output": {
        "shape": "CreateRecordingConfigurationResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "PendingVerification"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "documentation": "<p>Creates a new recording configuration, used to enable recording to Amazon S3.</p> <p> <b>Known issue:</b> In the us-east-1 region, if you use the AWS CLI to create a recording configuration, it returns success even if the S3 bucket is in a different region. In this case, the <code>state</code> of the recording configuration is <code>CREATE_FAILED</code> (instead of <code>ACTIVE</code>). (In other regions, the CLI correctly returns failure if the bucket is in a different region.)</p> <p> <b>Workaround:</b> Ensure that your S3 bucket is in the same region as the recording configuration. If you create a recording configuration in a different region as your S3 bucket, delete that recording configuration and create a new one with an S3 bucket from the correct region.</p>"
    },
    "CreateStreamKey": {
      "name": "CreateStreamKey",
      "http": {
        "method": "POST",
        "requestUri": "/CreateStreamKey"
      },
      "input": {
        "shape": "CreateStreamKeyRequest"
      },
      "output": {
        "shape": "CreateStreamKeyResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "PendingVerification"
        }
      ],
      "documentation": "<p>Creates a stream key, used to initiate a stream, for the specified channel ARN.</p> <p>Note that <a>CreateChannel</a> creates a stream key. If you subsequently use CreateStreamKey on the same channel, it will fail because a stream key already exists and there is a limit of 1 stream key per channel. To reset the stream key on a channel, use <a>DeleteStreamKey</a> and then CreateStreamKey.</p>"
    },
    "DeleteChannel": {
      "name": "DeleteChannel",
      "http": {
        "method": "POST",
        "requestUri": "/DeleteChannel",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelRequest"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "PendingVerification"
        }
      ],
      "documentation": "<p>Deletes the specified channel and its associated stream keys.</p> <p>If you try to delete a live channel, you will get an error (409 ConflictException). To delete a channel that is live, call <a>StopStream</a>, wait for the Amazon EventBridge \"Stream End\" event (to verify that the stream's state was changed from Live to Offline), then call DeleteChannel. (See <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/eventbridge.html\"> Using EventBridge with Amazon IVS</a>.) </p>"
    },
    "DeletePlaybackKeyPair": {
      "name": "DeletePlaybackKeyPair",
      "http": {
        "method": "POST",
        "requestUri": "/DeletePlaybackKeyPair"
      },
      "input": {
        "shape": "DeletePlaybackKeyPairRequest"
      },
      "output": {
        "shape": "DeletePlaybackKeyPairResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "PendingVerification"
        }
      ],
      "documentation": "<p>Deletes a specified authorization key pair. This invalidates future viewer tokens generated using the key pair’s <code>privateKey</code>. For more information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private Channels</a> in the <i>Amazon IVS User Guide</i>.</p>"
    },
    "DeleteRecordingConfiguration": {
      "name": "DeleteRecordingConfiguration",
      "http": {
        "method": "POST",
        "requestUri": "/DeleteRecordingConfiguration"
      },
      "input": {
        "shape": "DeleteRecordingConfigurationRequest"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "documentation": "<p>Deletes the recording configuration for the specified ARN.</p> <p>If you try to delete a recording configuration that is associated with a channel, you will get an error (409 ConflictException). To avoid this, for all channels that reference the recording configuration, first use <a>UpdateChannel</a> to set the <code>recordingConfigurationArn</code> field to an empty string, then use DeleteRecordingConfiguration.</p>"
    },
    "DeleteStreamKey": {
      "name": "DeleteStreamKey",
      "http": {
        "method": "POST",
        "requestUri": "/DeleteStreamKey",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteStreamKeyRequest"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "PendingVerification"
        }
      ],
      "documentation": "<p>Deletes the stream key for the specified ARN, so it can no longer be used to stream.</p>"
    },
    "GetChannel": {
      "name": "GetChannel",
      "http": {
        "method": "POST",
        "requestUri": "/GetChannel"
      },
      "input": {
        "shape": "GetChannelRequest"
      },
      "output": {
        "shape": "GetChannelResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Gets the channel configuration for the specified channel ARN. See also <a>BatchGetChannel</a>.</p>"
    },
    "GetPlaybackKeyPair": {
      "name": "GetPlaybackKeyPair",
      "http": {
        "method": "POST",
        "requestUri": "/GetPlaybackKeyPair"
      },
      "input": {
        "shape": "GetPlaybackKeyPairRequest"
      },
      "output": {
        "shape": "GetPlaybackKeyPairResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Gets a specified playback authorization key pair and returns the <code>arn</code> and <code>fingerprint</code>. The <code>privateKey</code> held by the caller can be used to generate viewer authorization tokens, to grant viewers access to private channels. For more information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private Channels</a> in the <i>Amazon IVS User Guide</i>.</p>"
    },
    "GetRecordingConfiguration": {
      "name": "GetRecordingConfiguration",
      "http": {
        "method": "POST",
        "requestUri": "/GetRecordingConfiguration"
      },
      "input": {
        "shape": "GetRecordingConfigurationRequest"
      },
      "output": {
        "shape": "GetRecordingConfigurationResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "documentation": "<p>Gets the recording configuration for the specified ARN.</p>"
    },
    "GetStream": {
      "name": "GetStream",
      "http": {
        "method": "POST",
        "requestUri": "/GetStream"
      },
      "input": {
        "shape": "GetStreamRequest"
      },
      "output": {
        "shape": "GetStreamResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ChannelNotBroadcasting"
        }
      ],
      "documentation": "<p>Gets information about the active (live) stream on a specified channel.</p>"
    },
    "GetStreamKey": {
      "name": "GetStreamKey",
      "http": {
        "method": "POST",
        "requestUri": "/GetStreamKey"
      },
      "input": {
        "shape": "GetStreamKeyRequest"
      },
      "output": {
        "shape": "GetStreamKeyResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Gets stream-key information for a specified ARN.</p>"
    },
    "ImportPlaybackKeyPair": {
      "name": "ImportPlaybackKeyPair",
      "http": {
        "method": "POST",
        "requestUri": "/ImportPlaybackKeyPair"
      },
      "input": {
        "shape": "ImportPlaybackKeyPairRequest"
      },
      "output": {
        "shape": "ImportPlaybackKeyPairResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "PendingVerification"
        }
      ],
      "documentation": "<p>Imports the public portion of a new key pair and returns its <code>arn</code> and <code>fingerprint</code>. The <code>privateKey</code> can then be used to generate viewer authorization tokens, to grant viewers access to private channels. For more information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private Channels</a> in the <i>Amazon IVS User Guide</i>.</p>"
    },
    "ListChannels": {
      "name": "ListChannels",
      "http": {
        "method": "POST",
        "requestUri": "/ListChannels"
      },
      "input": {
        "shape": "ListChannelsRequest"
      },
      "output": {
        "shape": "ListChannelsResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "documentation": "<p>Gets summary information about all channels in your account, in the AWS region where the API request is processed. This list can be filtered to match a specified name or recording-configuration ARN. Filters are mutually exclusive and cannot be used together. If you try to use both filters, you will get an error (409 ConflictException).</p>"
    },
    "ListPlaybackKeyPairs": {
      "name": "ListPlaybackKeyPairs",
      "http": {
        "method": "POST",
        "requestUri": "/ListPlaybackKeyPairs"
      },
      "input": {
        "shape": "ListPlaybackKeyPairsRequest"
      },
      "output": {
        "shape": "ListPlaybackKeyPairsResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Gets summary information about playback key pairs. For more information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private Channels</a> in the <i>Amazon IVS User Guide</i>.</p>"
    },
    "ListRecordingConfigurations": {
      "name": "ListRecordingConfigurations",
      "http": {
        "method": "POST",
        "requestUri": "/ListRecordingConfigurations"
      },
      "input": {
        "shape": "ListRecordingConfigurationsRequest"
      },
      "output": {
        "shape": "ListRecordingConfigurationsResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "documentation": "<p>Gets summary information about all recording configurations in your account, in the AWS region where the API request is processed.</p>"
    },
    "ListStreamKeys": {
      "name": "ListStreamKeys",
      "http": {
        "method": "POST",
        "requestUri": "/ListStreamKeys"
      },
      "input": {
        "shape": "ListStreamKeysRequest"
      },
      "output": {
        "shape": "ListStreamKeysResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Gets summary information about stream keys for the specified channel.</p>"
    },
    "ListStreams": {
      "name": "ListStreams",
      "http": {
        "method": "POST",
        "requestUri": "/ListStreams"
      },
      "input": {
        "shape": "ListStreamsRequest"
      },
      "output": {
        "shape": "ListStreamsResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Gets summary information about live streams in your account, in the AWS region where the API request is processed.</p>"
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Gets information about AWS tags for the specified ARN.</p>"
    },
    "PutMetadata": {
      "name": "PutMetadata",
      "http": {
        "method": "POST",
        "requestUri": "/PutMetadata"
      },
      "input": {
        "shape": "PutMetadataRequest"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ChannelNotBroadcasting"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "documentation": "<p>Inserts metadata into the active stream of the specified channel. A maximum of 5 requests per second per channel is allowed, each with a maximum 1 KB payload. (If 5 TPS is not sufficient for your needs, we recommend batching your data into a single PutMetadata call.) Also see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/metadata.html\">Embedding Metadata within a Video Stream</a> in the <i>Amazon IVS User Guide</i>.</p>"
    },
    "StopStream": {
      "name": "StopStream",
      "http": {
        "method": "POST",
        "requestUri": "/StopStream"
      },
      "input": {
        "shape": "StopStreamRequest"
      },
      "output": {
        "shape": "StopStreamResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ChannelNotBroadcasting"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "StreamUnavailable"
        }
      ],
      "documentation": "<p>Disconnects the incoming RTMPS stream for the specified channel. Can be used in conjunction with <a>DeleteStreamKey</a> to prevent further streaming to a channel.</p> <note> <p>Many streaming client-software libraries automatically reconnect a dropped RTMPS session, so to stop the stream permanently, you may want to first revoke the <code>streamKey</code> attached to the channel.</p> </note>"
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "output": {
        "shape": "TagResourceResponse"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Adds or updates tags for the AWS resource with the specified ARN.</p>"
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "output": {
        "shape": "UntagResourceResponse"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "<p>Removes tags from the resource with the specified ARN.</p>"
    },
    "UpdateChannel": {
      "name": "UpdateChannel",
      "http": {
        "method": "POST",
        "requestUri": "/UpdateChannel"
      },
      "input": {
        "shape": "UpdateChannelRequest"
      },
      "output": {
        "shape": "UpdateChannelResponse"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "PendingVerification"
        }
      ],
      "documentation": "<p>Updates a channel's configuration. This does not affect an ongoing stream of this channel. You must stop and restart the stream for the changes to take effect.</p>"
    }
  },
  "shapes": {
    "BatchError": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "ResourceArn",
          "documentation": "<p>Channel ARN.</p>"
        },
        "code": {
          "shape": "errorCode",
          "documentation": "<p>Error code.</p>"
        },
        "message": {
          "shape": "errorMessage",
          "documentation": "<p>Error message, determined by the application.</p>"
        }
      },
      "documentation": "<p>Error related to a specific channel, specified by its ARN.</p>"
    },
    "BatchErrors": {
      "type": "list",
      "member": {
        "shape": "BatchError"
      }
    },
    "BatchGetChannelRequest": {
      "type": "structure",
      "required": [
        "arns"
      ],
      "members": {
        "arns": {
          "shape": "ChannelArnList",
          "documentation": "<p>Array of ARNs, one per channel.</p>"
        }
      }
    },
    "BatchGetChannelResponse": {
      "type": "structure",
      "members": {
        "channels": {
          "shape": "Channels"
        },
        "errors": {
          "shape": "BatchErrors",
          "documentation": "<p>Each error object is related to a specific ARN in the request.</p>"
        }
      }
    },
    "BatchGetStreamKeyRequest": {
      "type": "structure",
      "required": [
        "arns"
      ],
      "members": {
        "arns": {
          "shape": "StreamKeyArnList",
          "documentation": "<p>Array of ARNs, one per channel.</p>"
        }
      }
    },
    "BatchGetStreamKeyResponse": {
      "type": "structure",
      "members": {
        "streamKeys": {
          "shape": "StreamKeys"
        },
        "errors": {
          "shape": "BatchErrors"
        }
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "Channel": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "ChannelArn",
          "documentation": "<p>Channel ARN.</p>"
        },
        "name": {
          "shape": "ChannelName",
          "documentation": "<p>Channel name.</p>"
        },
        "latencyMode": {
          "shape": "ChannelLatencyMode",
          "documentation": "<p>Channel latency mode. Use <code>NORMAL</code> to broadcast and deliver live video up to Full HD. Use <code>LOW</code> for near-real-time interaction with viewers. Default: <code>LOW</code>. (Note: In the Amazon IVS console, <code>LOW</code> and <code>NORMAL</code> correspond to Ultra-low and Standard, respectively.)</p>"
        },
        "type": {
          "shape": "ChannelType",
          "documentation": "<p>Channel type, which determines the allowable resolution and bitrate. <i>If you exceed the allowable resolution or bitrate, the stream probably will disconnect immediately.</i> Default: <code>STANDARD</code>. Valid values:</p> <ul> <li> <p> <code>STANDARD</code>: Multiple qualities are generated from the original input, to automatically give viewers the best experience for their devices and network conditions. Vertical resolution can be up to 1080 and bitrate can be up to 8.5 Mbps.</p> </li> <li> <p> <code>BASIC</code>: Amazon IVS delivers the original input to viewers. The viewer’s video-quality choice is limited to the original input. Vertical resolution can be up to 480 and bitrate can be up to 1.5 Mbps.</p> </li> </ul>"
        },
        "recordingConfigurationArn": {
          "shape": "ChannelRecordingConfigurationArn",
          "documentation": "<p>Recording-configuration ARN. A value other than an empty string indicates that recording is enabled. Default: \"\" (empty string, recording is disabled).</p>"
        },
        "ingestEndpoint": {
          "shape": "IngestEndpoint",
          "documentation": "<p>Channel ingest endpoint, part of the definition of an ingest server, used when you set up streaming software.</p>"
        },
        "playbackUrl": {
          "shape": "PlaybackURL",
          "documentation": "<p>Channel playback URL.</p>"
        },
        "authorized": {
          "shape": "IsAuthorized",
          "documentation": "<p>Whether the channel is private (enabled for playback authorization). Default: <code>false</code>.</p>"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation": "<p>Object specifying a channel.</p>"
    },
    "ChannelArn": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^arn:aws:[is]vs:[a-z0-9-]+:[0-9]+:channel/[a-zA-Z0-9-]+$"
    },
    "ChannelArnList": {
      "type": "list",
      "member": {
        "shape": "ChannelArn"
      },
      "max": 50,
      "min": 1
    },
    "ChannelLatencyMode": {
      "type": "string",
      "enum": [
        "NORMAL",
        "LOW"
      ]
    },
    "ChannelList": {
      "type": "list",
      "member": {
        "shape": "ChannelSummary"
      }
    },
    "ChannelName": {
      "type": "string",
      "max": 128,
      "min": 0,
      "pattern": "^[a-zA-Z0-9-_]*$"
    },
    "ChannelRecordingConfigurationArn": {
      "type": "string",
      "max": 128,
      "min": 0,
      "pattern": "^$|^arn:aws:ivs:[a-z0-9-]+:[0-9]+:recording-configuration/[a-zA-Z0-9-]+$"
    },
    "ChannelSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "ChannelArn",
          "documentation": "<p>Channel ARN.</p>"
        },
        "name": {
          "shape": "ChannelName",
          "documentation": "<p>Channel name.</p>"
        },
        "latencyMode": {
          "shape": "ChannelLatencyMode",
          "documentation": "<p>Channel latency mode. Use <code>NORMAL</code> to broadcast and deliver live video up to Full HD. Use <code>LOW</code> for near-real-time interaction with viewers. Default: <code>LOW</code>. (Note: In the Amazon IVS console, <code>LOW</code> and <code>NORMAL</code> correspond to Ultra-low and Standard, respectively.)</p>"
        },
        "authorized": {
          "shape": "IsAuthorized",
          "documentation": "<p>Whether the channel is private (enabled for playback authorization). Default: <code>false</code>.</p>"
        },
        "recordingConfigurationArn": {
          "shape": "ChannelRecordingConfigurationArn",
          "documentation": "<p>Recording-configuration ARN. A value other than an empty string indicates that recording is enabled. Default: \"\" (empty string, recording is disabled).</p>"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation": "<p>Summary information about a channel.</p>"
    },
    "ChannelType": {
      "type": "string",
      "enum": [
        "BASIC",
        "STANDARD"
      ]
    },
    "Channels": {
      "type": "list",
      "member": {
        "shape": "Channel"
      }
    },
    "CreateChannelRequest": {
      "type": "structure",
      "members": {
        "name": {
          "shape": "ChannelName",
          "documentation": "<p>Channel name.</p>"
        },
        "latencyMode": {
          "shape": "ChannelLatencyMode",
          "documentation": "<p>Channel latency mode. Use <code>NORMAL</code> to broadcast and deliver live video up to Full HD. Use <code>LOW</code> for near-real-time interaction with viewers. (Note: In the Amazon IVS console, <code>LOW</code> and <code>NORMAL</code> correspond to Ultra-low and Standard, respectively.) Default: <code>LOW</code>.</p>"
        },
        "type": {
          "shape": "ChannelType",
          "documentation": "<p>Channel type, which determines the allowable resolution and bitrate. <i>If you exceed the allowable resolution or bitrate, the stream probably will disconnect immediately.</i> Default: <code>STANDARD</code>. Valid values:</p> <ul> <li> <p> <code>STANDARD</code>: Multiple qualities are generated from the original input, to automatically give viewers the best experience for their devices and network conditions. Vertical resolution can be up to 1080 and bitrate can be up to 8.5 Mbps.</p> </li> <li> <p> <code>BASIC</code>: Amazon IVS delivers the original input to viewers. The viewer’s video-quality choice is limited to the original input. Vertical resolution can be up to 480 and bitrate can be up to 1.5 Mbps.</p> </li> </ul>"
        },
        "authorized": {
          "shape": "Boolean",
          "documentation": "<p>Whether the channel is private (enabled for playback authorization). Default: <code>false</code>.</p>"
        },
        "recordingConfigurationArn": {
          "shape": "ChannelRecordingConfigurationArn",
          "documentation": "<p>Recording-configuration ARN. Default: \"\" (empty string, recording is disabled).</p>"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      }
    },
    "CreateChannelResponse": {
      "type": "structure",
      "members": {
        "channel": {
          "shape": "Channel"
        },
        "streamKey": {
          "shape": "StreamKey"
        }
      }
    },
    "CreateRecordingConfigurationRequest": {
      "type": "structure",
      "required": [
        "destinationConfiguration"
      ],
      "members": {
        "name": {
          "shape": "RecordingConfigurationName",
          "documentation": "<p>An arbitrary string (a nickname) that helps the customer identify that resource. The value does not need to be unique.</p>"
        },
        "destinationConfiguration": {
          "shape": "DestinationConfiguration",
          "documentation": "<p>A complex type that contains a destination configuration for where recorded video will be stored.</p>"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      }
    },
    "CreateRecordingConfigurationResponse": {
      "type": "structure",
      "members": {
        "recordingConfiguration": {
          "shape": "RecordingConfiguration"
        }
      }
    },
    "CreateStreamKeyRequest": {
      "type": "structure",
      "required": [
        "channelArn"
      ],
      "members": {
        "channelArn": {
          "shape": "ChannelArn",
          "documentation": "<p>ARN of the channel for which to create the stream key.</p>"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      }
    },
    "CreateStreamKeyResponse": {
      "type": "structure",
      "members": {
        "streamKey": {
          "shape": "StreamKey",
          "documentation": "<p>Stream key used to authenticate an RTMPS stream for ingestion.</p>"
        }
      }
    },
    "DeleteChannelRequest": {
      "type": "structure",
      "required": [
        "arn"
      ],
      "members": {
        "arn": {
          "shape": "ChannelArn",
          "documentation": "<p>ARN of the channel to be deleted.</p>"
        }
      }
    },
    "DeletePlaybackKeyPairRequest": {
      "type": "structure",
      "required": [
        "arn"
      ],
      "members": {
        "arn": {
          "shape": "PlaybackKeyPairArn",
          "documentation": "<p>ARN of the key pair to be deleted.</p>"
        }
      }
    },
    "DeletePlaybackKeyPairResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteRecordingConfigurationRequest": {
      "type": "structure",
      "required": [
        "arn"
      ],
      "members": {
        "arn": {
          "shape": "RecordingConfigurationArn",
          "documentation": "<p>ARN of the recording configuration to be deleted.</p>"
        }
      }
    },
    "DeleteStreamKeyRequest": {
      "type": "structure",
      "required": [
        "arn"
      ],
      "members": {
        "arn": {
          "shape": "StreamKeyArn",
          "documentation": "<p>ARN of the stream key to be deleted.</p>"
        }
      }
    },
    "DestinationConfiguration": {
      "type": "structure",
      "members": {
        "s3": {
          "shape": "S3DestinationConfiguration",
          "documentation": "<p>An S3 destination configuration where recorded videos will be stored.</p>"
        }
      },
      "documentation": "<p>A complex type that describes a location where recorded videos will be stored. Each member represents a type of destination configuration. For recording, you define one and only one type of destination configuration.</p>"
    },
    "GetChannelRequest": {
      "type": "structure",
      "required": [
        "arn"
      ],
      "members": {
        "arn": {
          "shape": "ChannelArn",
          "documentation": "<p>ARN of the channel for which the configuration is to be retrieved.</p>"
        }
      }
    },
    "GetChannelResponse": {
      "type": "structure",
      "members": {
        "channel": {
          "shape": "Channel"
        }
      }
    },
    "GetPlaybackKeyPairRequest": {
      "type": "structure",
      "required": [
        "arn"
      ],
      "members": {
        "arn": {
          "shape": "PlaybackKeyPairArn",
          "documentation": "<p>ARN of the key pair to be returned.</p>"
        }
      }
    },
    "GetPlaybackKeyPairResponse": {
      "type": "structure",
      "members": {
        "keyPair": {
          "shape": "PlaybackKeyPair"
        }
      }
    },
    "GetRecordingConfigurationRequest": {
      "type": "structure",
      "required": [
        "arn"
      ],
      "members": {
        "arn": {
          "shape": "RecordingConfigurationArn",
          "documentation": "<p>ARN of the recording configuration to be retrieved.</p>"
        }
      }
    },
    "GetRecordingConfigurationResponse": {
      "type": "structure",
      "members": {
        "recordingConfiguration": {
          "shape": "RecordingConfiguration"
        }
      }
    },
    "GetStreamKeyRequest": {
      "type": "structure",
      "required": [
        "arn"
      ],
      "members": {
        "arn": {
          "shape": "StreamKeyArn",
          "documentation": "<p>ARN for the stream key to be retrieved.</p>"
        }
      }
    },
    "GetStreamKeyResponse": {
      "type": "structure",
      "members": {
        "streamKey": {
          "shape": "StreamKey"
        }
      }
    },
    "GetStreamRequest": {
      "type": "structure",
      "required": [
        "channelArn"
      ],
      "members": {
        "channelArn": {
          "shape": "ChannelArn",
          "documentation": "<p>Channel ARN for stream to be accessed.</p>"
        }
      }
    },
    "GetStreamResponse": {
      "type": "structure",
      "members": {
        "stream": {
          "shape": "Stream"
        }
      }
    },
    "ImportPlaybackKeyPairRequest": {
      "type": "structure",
      "required": [
        "publicKeyMaterial"
      ],
      "members": {
        "publicKeyMaterial": {
          "shape": "PlaybackPublicKeyMaterial",
          "documentation": "<p>The public portion of a customer-generated key pair.</p>"
        },
        "name": {
          "shape": "PlaybackKeyPairName",
          "documentation": "<p>An arbitrary string (a nickname) assigned to a playback key pair that helps the customer identify that resource. The value does not need to be unique.</p>"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Any tags provided with the request are added to the playback key pair tags.</p>"
        }
      }
    },
    "ImportPlaybackKeyPairResponse": {
      "type": "structure",
      "members": {
        "keyPair": {
          "shape": "PlaybackKeyPair"
        }
      }
    },
    "IngestEndpoint": {
      "type": "string"
    },
    "IsAuthorized": {
      "type": "boolean"
    },
    "ListChannelsRequest": {
      "type": "structure",
      "members": {
        "filterByName": {
          "shape": "ChannelName",
          "documentation": "<p>Filters the channel list to match the specified name.</p>"
        },
        "filterByRecordingConfigurationArn": {
          "shape": "ChannelRecordingConfigurationArn",
          "documentation": "<p>Filters the channel list to match the specified recording-configuration ARN.</p>"
        },
        "nextToken": {
          "shape": "PaginationToken",
          "documentation": "<p>The first channel to retrieve. This is used for pagination; see the <code>nextToken</code> response field.</p>"
        },
        "maxResults": {
          "shape": "MaxChannelResults",
          "documentation": "<p>Maximum number of channels to return. Default: 50.</p>"
        }
      }
    },
    "ListChannelsResponse": {
      "type": "structure",
      "required": [
        "channels"
      ],
      "members": {
        "channels": {
          "shape": "ChannelList",
          "documentation": "<p>List of the matching channels.</p>"
        },
        "nextToken": {
          "shape": "PaginationToken",
          "documentation": "<p>If there are more channels than <code>maxResults</code>, use <code>nextToken</code> in the request to get the next set.</p>"
        }
      }
    },
    "ListPlaybackKeyPairsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "shape": "PaginationToken",
          "documentation": "<p>Maximum number of key pairs to return.</p>"
        },
        "maxResults": {
          "shape": "MaxPlaybackKeyPairResults",
          "documentation": "<p>The first key pair to retrieve. This is used for pagination; see the <code>nextToken</code> response field. Default: 50.</p>"
        }
      }
    },
    "ListPlaybackKeyPairsResponse": {
      "type": "structure",
      "required": [
        "keyPairs"
      ],
      "members": {
        "keyPairs": {
          "shape": "PlaybackKeyPairList",
          "documentation": "<p>List of key pairs.</p>"
        },
        "nextToken": {
          "shape": "PaginationToken",
          "documentation": "<p>If there are more key pairs than <code>maxResults</code>, use <code>nextToken</code> in the request to get the next set.</p>"
        }
      }
    },
    "ListRecordingConfigurationsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "shape": "PaginationToken",
          "documentation": "<p>The first recording configuration to retrieve. This is used for pagination; see the <code>nextToken</code> response field.</p>"
        },
        "maxResults": {
          "shape": "MaxRecordingConfigurationResults",
          "documentation": "<p>Maximum number of recording configurations to return. Default: 50. </p>"
        }
      }
    },
    "ListRecordingConfigurationsResponse": {
      "type": "structure",
      "required": [
        "recordingConfigurations"
      ],
      "members": {
        "recordingConfigurations": {
          "shape": "RecordingConfigurationList",
          "documentation": "<p>List of the matching recording configurations.</p>"
        },
        "nextToken": {
          "shape": "PaginationToken",
          "documentation": "<p>If there are more recording configurations than <code>maxResults</code>, use <code>nextToken</code> in the request to get the next set.</p>"
        }
      }
    },
    "ListStreamKeysRequest": {
      "type": "structure",
      "required": [
        "channelArn"
      ],
      "members": {
        "channelArn": {
          "shape": "ChannelArn",
          "documentation": "<p>Channel ARN used to filter the list.</p>"
        },
        "nextToken": {
          "shape": "PaginationToken",
          "documentation": "<p>The first stream key to retrieve. This is used for pagination; see the <code>nextToken</code> response field.</p>"
        },
        "maxResults": {
          "shape": "MaxStreamKeyResults",
          "documentation": "<p>Maximum number of streamKeys to return. Default: 50.</p>"
        }
      }
    },
    "ListStreamKeysResponse": {
      "type": "structure",
      "required": [
        "streamKeys"
      ],
      "members": {
        "streamKeys": {
          "shape": "StreamKeyList",
          "documentation": "<p>List of stream keys.</p>"
        },
        "nextToken": {
          "shape": "PaginationToken",
          "documentation": "<p>If there are more stream keys than <code>maxResults</code>, use <code>nextToken</code> in the request to get the next set.</p>"
        }
      }
    },
    "ListStreamsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "shape": "PaginationToken",
          "documentation": "<p>The first stream to retrieve. This is used for pagination; see the <code>nextToken</code> response field.</p>"
        },
        "maxResults": {
          "shape": "MaxStreamResults",
          "documentation": "<p>Maximum number of streams to return. Default: 50.</p>"
        }
      }
    },
    "ListStreamsResponse": {
      "type": "structure",
      "required": [
        "streams"
      ],
      "members": {
        "streams": {
          "shape": "StreamList",
          "documentation": "<p>List of streams.</p>"
        },
        "nextToken": {
          "shape": "PaginationToken",
          "documentation": "<p>If there are more streams than <code>maxResults</code>, use <code>nextToken</code> in the request to get the next set.</p>"
        }
      }
    },
    "ListTagsForResourceRequest": {
      "type": "structure",
      "required": [
        "resourceArn"
      ],
      "members": {
        "resourceArn": {
          "shape": "ResourceArn",
          "documentation": "<p>The ARN of the resource to be retrieved.</p>",
          "location": "uri",
          "locationName": "resourceArn"
        },
        "nextToken": {
          "shape": "String",
          "documentation": "<p>The first tag to retrieve. This is used for pagination; see the <code>nextToken</code> response field.</p>"
        },
        "maxResults": {
          "shape": "MaxTagResults",
          "documentation": "<p>Maximum number of tags to return. Default: 50.</p>"
        }
      }
    },
    "ListTagsForResourceResponse": {
      "type": "structure",
      "required": [
        "tags"
      ],
      "members": {
        "tags": {
          "shape": "Tags"
        },
        "nextToken": {
          "shape": "String",
          "documentation": "<p>If there are more tags than <code>maxResults</code>, use <code>nextToken</code> in the request to get the next set.</p>"
        }
      }
    },
    "MaxChannelResults": {
      "type": "integer",
      "max": 50,
      "min": 1
    },
    "MaxPlaybackKeyPairResults": {
      "type": "integer",
      "max": 50,
      "min": 1
    },
    "MaxRecordingConfigurationResults": {
      "type": "integer",
      "max": 50,
      "min": 1
    },
    "MaxStreamKeyResults": {
      "type": "integer",
      "max": 50,
      "min": 1
    },
    "MaxStreamResults": {
      "type": "integer",
      "max": 50,
      "min": 1
    },
    "MaxTagResults": {
      "type": "integer",
      "max": 50,
      "min": 1
    },
    "PaginationToken": {
      "type": "string",
      "max": 500,
      "min": 0
    },
    "PlaybackKeyPair": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "PlaybackKeyPairArn",
          "documentation": "<p>Key-pair ARN.</p>"
        },
        "name": {
          "shape": "PlaybackKeyPairName",
          "documentation": "<p>An arbitrary string (a nickname) assigned to a playback key pair that helps the customer identify that resource. The value does not need to be unique.</p>"
        },
        "fingerprint": {
          "shape": "PlaybackKeyPairFingerprint",
          "documentation": "<p>Key-pair identifier.</p>"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation": "<p>A key pair used to sign and validate a playback authorization token.</p>"
    },
    "PlaybackKeyPairArn": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^arn:aws:[is]vs:[a-z0-9-]+:[0-9]+:playback-key/[a-zA-Z0-9-]+$"
    },
    "PlaybackKeyPairFingerprint": {
      "type": "string"
    },
    "PlaybackKeyPairList": {
      "type": "list",
      "member": {
        "shape": "PlaybackKeyPairSummary"
      }
    },
    "PlaybackKeyPairName": {
      "type": "string",
      "max": 128,
      "min": 0,
      "pattern": "^[a-zA-Z0-9-_]*$"
    },
    "PlaybackKeyPairSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "PlaybackKeyPairArn",
          "documentation": "<p>Key-pair ARN.</p>"
        },
        "name": {
          "shape": "PlaybackKeyPairName",
          "documentation": "<p>An arbitrary string (a nickname) assigned to a playback key pair that helps the customer identify that resource. The value does not need to be unique.</p>"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation": "<p>Summary information about a playback key pair.</p>"
    },
    "PlaybackPublicKeyMaterial": {
      "type": "string"
    },
    "PlaybackURL": {
      "type": "string"
    },
    "PutMetadataRequest": {
      "type": "structure",
      "required": [
        "channelArn",
        "metadata"
      ],
      "members": {
        "channelArn": {
          "shape": "ChannelArn",
          "documentation": "<p>ARN of the channel into which metadata is inserted. This channel must have an active stream.</p>"
        },
        "metadata": {
          "shape": "StreamMetadata",
          "documentation": "<p>Metadata to insert into the stream. Maximum: 1 KB per request.</p>"
        }
      }
    },
    "RecordingConfiguration": {
      "type": "structure",
      "required": [
        "arn",
        "destinationConfiguration",
        "state"
      ],
      "members": {
        "arn": {
          "shape": "RecordingConfigurationArn",
          "documentation": "<p>Recording-configuration ARN.</p>"
        },
        "name": {
          "shape": "RecordingConfigurationName",
          "documentation": "<p>An arbitrary string (a nickname) assigned to a recording configuration that helps the customer identify that resource. The value does not need to be unique.</p>"
        },
        "destinationConfiguration": {
          "shape": "DestinationConfiguration",
          "documentation": "<p>A complex type that contains information about where recorded video will be stored.</p>"
        },
        "state": {
          "shape": "RecordingConfigurationState",
          "documentation": "<p>Indicates the current state of the recording configuration. When the state is <code>ACTIVE</code>, the configuration is ready for recording a channel stream.</p>"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation": "<p>An object representing a configuration to record a channel stream.</p>"
    },
    "RecordingConfigurationArn": {
      "type": "string",
      "max": 128,
      "min": 0,
      "pattern": "^arn:aws:ivs:[a-z0-9-]+:[0-9]+:recording-configuration/[a-zA-Z0-9-]+$"
    },
    "RecordingConfigurationList": {
      "type": "list",
      "member": {
        "shape": "RecordingConfigurationSummary"
      }
    },
    "RecordingConfigurationName": {
      "type": "string",
      "max": 128,
      "min": 0,
      "pattern": "^[a-zA-Z0-9-_]*$"
    },
    "RecordingConfigurationState": {
      "type": "string",
      "enum": [
        "CREATING",
        "CREATE_FAILED",
        "ACTIVE"
      ]
    },
    "RecordingConfigurationSummary": {
      "type": "structure",
      "required": [
        "arn",
        "destinationConfiguration",
        "state"
      ],
      "members": {
        "arn": {
          "shape": "RecordingConfigurationArn",
          "documentation": "<p>Recording-configuration ARN.</p>"
        },
        "name": {
          "shape": "RecordingConfigurationName",
          "documentation": "<p>An arbitrary string (a nickname) assigned to a recording configuration that helps the customer identify that resource. The value does not need to be unique.</p>"
        },
        "destinationConfiguration": {
          "shape": "DestinationConfiguration",
          "documentation": "<p>A complex type that contains information about where recorded video will be stored.</p>"
        },
        "state": {
          "shape": "RecordingConfigurationState",
          "documentation": "<p>Indicates the current state of the recording configuration. When the state is <code>ACTIVE</code>, the configuration is ready for recording a channel stream.</p>"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation": "<p>Summary information about a RecordingConfiguration.</p>"
    },
    "ResourceArn": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^arn:aws:[is]vs:[a-z0-9-]+:[0-9]+:[a-z-]/[a-zA-Z0-9-]+$"
    },
    "S3DestinationBucketName": {
      "type": "string",
      "max": 63,
      "min": 3,
      "pattern": "^[a-z0-9-.]+$"
    },
    "S3DestinationConfiguration": {
      "type": "structure",
      "required": [
        "bucketName"
      ],
      "members": {
        "bucketName": {
          "shape": "S3DestinationBucketName",
          "documentation": "<p>Location (S3 bucket name) where recorded videos will be stored.</p>"
        }
      },
      "documentation": "<p>A complex type that describes an S3 location where recorded videos will be stored.</p>"
    },
    "StopStreamRequest": {
      "type": "structure",
      "required": [
        "channelArn"
      ],
      "members": {
        "channelArn": {
          "shape": "ChannelArn",
          "documentation": "<p>ARN of the channel for which the stream is to be stopped.</p>"
        }
      }
    },
    "StopStreamResponse": {
      "type": "structure",
      "members": {}
    },
    "Stream": {
      "type": "structure",
      "members": {
        "channelArn": {
          "shape": "ChannelArn",
          "documentation": "<p>Channel ARN for the stream.</p>"
        },
        "playbackUrl": {
          "shape": "PlaybackURL",
          "documentation": "<p>URL of the master playlist, required by the video player to play the HLS stream.</p>"
        },
        "startTime": {
          "shape": "StreamStartTime",
          "documentation": "<p>ISO-8601 formatted timestamp of the stream’s start.</p>"
        },
        "state": {
          "shape": "StreamState",
          "documentation": "<p>The stream’s state.</p>"
        },
        "health": {
          "shape": "StreamHealth",
          "documentation": "<p>The stream’s health.</p>"
        },
        "viewerCount": {
          "shape": "StreamViewerCount",
          "documentation": "<p>Number of current viewers of the stream. A value of -1 indicates that the request timed out; in this case, retry.</p>"
        }
      },
      "documentation": "<p>Specifies a live video stream that has been ingested and distributed.</p>"
    },
    "StreamHealth": {
      "type": "string",
      "enum": [
        "HEALTHY",
        "STARVING",
        "UNKNOWN"
      ]
    },
    "StreamKey": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "StreamKeyArn",
          "documentation": "<p>Stream-key ARN.</p>"
        },
        "value": {
          "shape": "StreamKeyValue",
          "documentation": "<p>Stream-key value.</p>"
        },
        "channelArn": {
          "shape": "ChannelArn",
          "documentation": "<p>Channel ARN for the stream.</p>"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation": "<p>Object specifying a stream key.</p>"
    },
    "StreamKeyArn": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^arn:aws:[is]vs:[a-z0-9-]+:[0-9]+:stream-key/[a-zA-Z0-9-]+$"
    },
    "StreamKeyArnList": {
      "type": "list",
      "member": {
        "shape": "StreamKeyArn"
      },
      "max": 50,
      "min": 1
    },
    "StreamKeyList": {
      "type": "list",
      "member": {
        "shape": "StreamKeySummary"
      }
    },
    "StreamKeySummary": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "StreamKeyArn",
          "documentation": "<p>Stream-key ARN.</p>"
        },
        "channelArn": {
          "shape": "ChannelArn",
          "documentation": "<p>Channel ARN for the stream.</p>"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation": "<p>Summary information about a stream key.</p>"
    },
    "StreamKeyValue": {
      "type": "string"
    },
    "StreamKeys": {
      "type": "list",
      "member": {
        "shape": "StreamKey"
      }
    },
    "StreamList": {
      "type": "list",
      "member": {
        "shape": "StreamSummary"
      }
    },
    "StreamMetadata": {
      "type": "string",
      "min": 1
    },
    "StreamStartTime": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "StreamState": {
      "type": "string",
      "enum": [
        "LIVE",
        "OFFLINE"
      ]
    },
    "StreamSummary": {
      "type": "structure",
      "members": {
        "channelArn": {
          "shape": "ChannelArn",
          "documentation": "<p>Channel ARN for the stream.</p>"
        },
        "state": {
          "shape": "StreamState",
          "documentation": "<p>The stream’s state.</p>"
        },
        "health": {
          "shape": "StreamHealth",
          "documentation": "<p>The stream’s health.</p>"
        },
        "viewerCount": {
          "shape": "StreamViewerCount",
          "documentation": "<p>Number of current viewers of the stream. A value of -1 indicates that the request timed out; in this case, retry.</p>"
        },
        "startTime": {
          "shape": "StreamStartTime",
          "documentation": "<p>ISO-8601 formatted timestamp of the stream’s start.</p>"
        }
      },
      "documentation": "<p>Summary information about a stream.</p>"
    },
    "StreamViewerCount": {
      "type": "long"
    },
    "String": {
      "type": "string"
    },
    "TagKey": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "TagKeyList": {
      "type": "list",
      "member": {
        "shape": "TagKey"
      },
      "max": 50,
      "min": 0
    },
    "TagResourceRequest": {
      "type": "structure",
      "required": [
        "resourceArn",
        "tags"
      ],
      "members": {
        "resourceArn": {
          "shape": "ResourceArn",
          "documentation": "<p>ARN of the resource for which tags are to be added or updated.</p>",
          "location": "uri",
          "locationName": "resourceArn"
        },
        "tags": {
          "shape": "Tags",
          "documentation": "<p>Array of tags to be added or updated.</p>"
        }
      }
    },
    "TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "TagValue": {
      "type": "string",
      "max": 256
    },
    "Tags": {
      "type": "map",
      "key": {
        "shape": "TagKey"
      },
      "value": {
        "shape": "TagValue"
      },
      "max": 50,
      "min": 0
    },
    "UntagResourceRequest": {
      "type": "structure",
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "members": {
        "resourceArn": {
          "shape": "ResourceArn",
          "documentation": "<p>ARN of the resource for which tags are to be removed.</p>",
          "location": "uri",
          "locationName": "resourceArn"
        },
        "tagKeys": {
          "shape": "TagKeyList",
          "documentation": "<p>Array of tags to be removed.</p>",
          "location": "querystring",
          "locationName": "tagKeys"
        }
      }
    },
    "UntagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "UpdateChannelRequest": {
      "type": "structure",
      "required": [
        "arn"
      ],
      "members": {
        "arn": {
          "shape": "ChannelArn",
          "documentation": "<p>ARN of the channel to be updated.</p>"
        },
        "name": {
          "shape": "ChannelName",
          "documentation": "<p>Channel name.</p>"
        },
        "latencyMode": {
          "shape": "ChannelLatencyMode",
          "documentation": "<p>Channel latency mode. Use <code>NORMAL</code> to broadcast and deliver live video up to Full HD. Use <code>LOW</code> for near-real-time interaction with viewers. (Note: In the Amazon IVS console, <code>LOW</code> and <code>NORMAL</code> correspond to Ultra-low and Standard, respectively.)</p>"
        },
        "type": {
          "shape": "ChannelType",
          "documentation": "<p>Channel type, which determines the allowable resolution and bitrate. <i>If you exceed the allowable resolution or bitrate, the stream probably will disconnect immediately</i>. Valid values:</p> <ul> <li> <p> <code>STANDARD</code>: Multiple qualities are generated from the original input, to automatically give viewers the best experience for their devices and network conditions. Vertical resolution can be up to 1080 and bitrate can be up to 8.5 Mbps.</p> </li> <li> <p> <code>BASIC</code>: Amazon IVS delivers the original input to viewers. The viewer’s video-quality choice is limited to the original input. Vertical resolution can be up to 480 and bitrate can be up to 1.5 Mbps.</p> </li> </ul>"
        },
        "authorized": {
          "shape": "Boolean",
          "documentation": "<p>Whether the channel is private (enabled for playback authorization).</p>"
        },
        "recordingConfigurationArn": {
          "shape": "ChannelRecordingConfigurationArn",
          "documentation": "<p>Recording-configuration ARN. If this is set to an empty string, recording is disabled. A value other than an empty string indicates that recording is enabled</p>"
        }
      }
    },
    "UpdateChannelResponse": {
      "type": "structure",
      "members": {
        "channel": {
          "shape": "Channel"
        }
      }
    },
    "errorCode": {
      "type": "string"
    },
    "errorMessage": {
      "type": "string"
    }
  },
  "documentation": "<p> <b>Introduction</b> </p> <p>The Amazon Interactive Video Service (IVS) API is REST compatible, using a standard HTTP API and an AWS EventBridge event stream for responses. JSON is used for both requests and responses, including errors.</p> <p>The API is an AWS regional service, currently in these regions: us-west-2, us-east-1, and eu-west-1.</p> <p> <i> <b>All API request parameters and URLs are case sensitive. </b> </i> </p> <p>For a summary of notable documentation changes in each release, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/doc-history.html\"> Document History</a>.</p> <p> <b>Service Endpoints</b> </p> <p>The following are the Amazon IVS service endpoints (all HTTPS): </p> <p>Region name: US West (Oregon)</p> <ul> <li> <p>Region: <code>us-west-2</code> </p> </li> <li> <p>Endpoint: <code>ivs.us-west-2.amazonaws.com</code> </p> </li> </ul> <p>Region name: US East (Virginia)</p> <ul> <li> <p>Region: <code>us-east-1</code> </p> </li> <li> <p>Endpoint: <code>ivs.us-east-1.amazonaws.com</code> </p> </li> </ul> <p>Region name: EU West (Dublin)</p> <ul> <li> <p>Region: <code>eu-west-1</code> </p> </li> <li> <p>Endpoint: <code>ivs.eu-west-1.amazonaws.com</code> </p> </li> </ul> <p> <b>Allowed Header Values</b> </p> <ul> <li> <p> <code> <b>Accept:</b> </code> application/json</p> </li> <li> <p> <code> <b>Accept-Encoding:</b> </code> gzip, deflate</p> </li> <li> <p> <code> <b>Content-Type:</b> </code>application/json</p> </li> </ul> <p> <b>Resources</b> </p> <p>The following resources contain information about your IVS live stream (see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/getting-started.html\"> Getting Started with Amazon IVS</a>):</p> <ul> <li> <p>Channel — Stores configuration data related to your live stream. You first create a channel and then use the channel’s stream key to start your live stream. See the Channel endpoints for more information. </p> </li> <li> <p>Stream key — An identifier assigned by Amazon IVS when you create a channel, which is then used to authorize streaming. See the StreamKey endpoints for more information. <i> <b>Treat the stream key like a secret, since it allows anyone to stream to the channel.</b> </i> </p> </li> <li> <p>Playback key pair — Video playback may be restricted using playback-authorization tokens, which use public-key encryption. A playback key pair is the public-private pair of keys used to sign and validate the playback-authorization token. See the PlaybackKeyPair endpoints for more information.</p> </li> <li> <p>Recording configuration — Stores configuration related to recording a live stream and where to store the recorded content. Multiple channels can reference the same recording configuration. See the Recording Configuration endpoints for more information.</p> </li> </ul> <p> <b>Tagging</b> </p> <p>A <i>tag</i> is a metadata label that you assign to an AWS resource. A tag comprises a <i>key</i> and a <i>value</i>, both set by you. For example, you might set a tag as <code>topic:nature</code> to label a particular video category. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging AWS Resources</a> for more information, including restrictions that apply to tags.</p> <p>Tags can help you identify and organize your AWS resources. For example, you can use the same tag for different resources to indicate that they are related. You can also use tags to manage access (see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_tags.html\"> Access Tags</a>). </p> <p>The Amazon IVS API has these tag-related endpoints: <a>TagResource</a>, <a>UntagResource</a>, and <a>ListTagsForResource</a>. The following resources support tagging: Channels, Stream Keys, Playback Key Pairs, and Recording Configurations.</p> <p> <b>Authentication versus Authorization</b> </p> <p>Note the differences between these concepts:</p> <ul> <li> <p> <i>Authentication</i> is about verifying identity. You need to be authenticated to sign Amazon IVS API requests.</p> </li> <li> <p> <i>Authorization</i> is about granting permissions. You need to be authorized to view <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Amazon IVS private channels</a>. (Private channels are channels that are enabled for \"playback authorization.\")</p> </li> </ul> <p> <b>Authentication</b> </p> <p>All Amazon IVS API requests must be authenticated with a signature. The AWS Command-Line Interface (CLI) and Amazon IVS Player SDKs take care of signing the underlying API calls for you. However, if your application calls the Amazon IVS API directly, it’s your responsibility to sign the requests.</p> <p>You generate a signature using valid AWS credentials that have permission to perform the requested action. For example, you must sign PutMetadata requests with a signature generated from an IAM user account that has the <code>ivs:PutMetadata</code> permission.</p> <p>For more information:</p> <ul> <li> <p>Authentication and generating signatures — See <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html\">Authenticating Requests (AWS Signature Version 4)</a> in the <i>AWS General Reference</i>.</p> </li> <li> <p>Managing Amazon IVS permissions — See <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/security-iam.html\">Identity and Access Management</a> on the Security page of the <i>Amazon IVS User Guide</i>.</p> </li> </ul> <p> <b>Channel Endpoints</b> </p> <ul> <li> <p> <a>CreateChannel</a> — Creates a new channel and an associated stream key to start streaming.</p> </li> <li> <p> <a>GetChannel</a> — Gets the channel configuration for the specified channel ARN (Amazon Resource Name).</p> </li> <li> <p> <a>BatchGetChannel</a> — Performs <a>GetChannel</a> on multiple ARNs simultaneously.</p> </li> <li> <p> <a>ListChannels</a> — Gets summary information about all channels in your account, in the AWS region where the API request is processed. This list can be filtered to match a specified name or recording-configuration ARN. Filters are mutually exclusive and cannot be used together. If you try to use both filters, you will get an error (409 Conflict Exception).</p> </li> <li> <p> <a>UpdateChannel</a> — Updates a channel's configuration. This does not affect an ongoing stream of this channel. You must stop and restart the stream for the changes to take effect.</p> </li> <li> <p> <a>DeleteChannel</a> — Deletes the specified channel.</p> </li> </ul> <p> <b>StreamKey Endpoints</b> </p> <ul> <li> <p> <a>CreateStreamKey</a> — Creates a stream key, used to initiate a stream, for the specified channel ARN.</p> </li> <li> <p> <a>GetStreamKey</a> — Gets stream key information for the specified ARN.</p> </li> <li> <p> <a>BatchGetStreamKey</a> — Performs <a>GetStreamKey</a> on multiple ARNs simultaneously.</p> </li> <li> <p> <a>ListStreamKeys</a> — Gets summary information about stream keys for the specified channel.</p> </li> <li> <p> <a>DeleteStreamKey</a> — Deletes the stream key for the specified ARN, so it can no longer be used to stream.</p> </li> </ul> <p> <b>Stream Endpoints</b> </p> <ul> <li> <p> <a>GetStream</a> — Gets information about the active (live) stream on a specified channel.</p> </li> <li> <p> <a>ListStreams</a> — Gets summary information about live streams in your account, in the AWS region where the API request is processed.</p> </li> <li> <p> <a>StopStream</a> — Disconnects the incoming RTMPS stream for the specified channel. Can be used in conjunction with <a>DeleteStreamKey</a> to prevent further streaming to a channel.</p> </li> <li> <p> <a>PutMetadata</a> — Inserts metadata into the active stream of the specified channel. A maximum of 5 requests per second per channel is allowed, each with a maximum 1 KB payload. (If 5 TPS is not sufficient for your needs, we recommend batching your data into a single PutMetadata call.)</p> </li> </ul> <p> <b>PlaybackKeyPair Endpoints</b> </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private Channels</a> in the <i>Amazon IVS User Guide</i>.</p> <ul> <li> <p> <a>ImportPlaybackKeyPair</a> — Imports the public portion of a new key pair and returns its <code>arn</code> and <code>fingerprint</code>. The <code>privateKey</code> can then be used to generate viewer authorization tokens, to grant viewers access to private channels (channels enabled for playback authorization).</p> </li> <li> <p> <a>GetPlaybackKeyPair</a> — Gets a specified playback authorization key pair and returns the <code>arn</code> and <code>fingerprint</code>. The <code>privateKey</code> held by the caller can be used to generate viewer authorization tokens, to grant viewers access to private channels.</p> </li> <li> <p> <a>ListPlaybackKeyPairs</a> — Gets summary information about playback key pairs.</p> </li> <li> <p> <a>DeletePlaybackKeyPair</a> — Deletes a specified authorization key pair. This invalidates future viewer tokens generated using the key pair’s <code>privateKey</code>.</p> </li> </ul> <p> <b>RecordingConfiguration Endpoints</b> </p> <ul> <li> <p> <a>CreateRecordingConfiguration</a> — Creates a new recording configuration, used to enable recording to Amazon S3.</p> </li> <li> <p> <a>GetRecordingConfiguration</a> — Gets the recording-configuration metadata for the specified ARN.</p> </li> <li> <p> <a>ListRecordingConfigurations</a> — Gets summary information about all recording configurations in your account, in the AWS region where the API request is processed.</p> </li> <li> <p> <a>DeleteRecordingConfiguration</a> — Deletes the recording configuration for the specified ARN.</p> </li> </ul> <p> <b>AWS Tags Endpoints</b> </p> <ul> <li> <p> <a>TagResource</a> — Adds or updates tags for the AWS resource with the specified ARN.</p> </li> <li> <p> <a>UntagResource</a> — Removes tags from the resource with the specified ARN.</p> </li> <li> <p> <a>ListTagsForResource</a> — Gets information about AWS tags for the specified ARN.</p> </li> </ul>"
}