{
  "metadata": {
    "apiVersion": "2018-11-14",
    "endpointPrefix": "kafka",
    "signingName": "kafka",
    "serviceFullName": "Managed Streaming for Kafka",
    "serviceAbbreviation": "Kafka",
    "serviceId": "Kafka",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "kafka-2018-11-14",
    "signatureVersion": "v4"
  },
  "operations": {
    "BatchAssociateScramSecret": {
      "http": {
        "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "SecretArnList": {
            "shape": "S3",
            "locationName": "secretArnList"
          }
        },
        "required": [
          "ClusterArn",
          "SecretArnList"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "UnprocessedScramSecrets": {
            "shape": "S5",
            "locationName": "unprocessedScramSecrets"
          }
        }
      }
    },
    "CreateCluster": {
      "http": {
        "requestUri": "/v1/clusters",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerNodeGroupInfo": {
            "shape": "S8",
            "locationName": "brokerNodeGroupInfo"
          },
          "ClientAuthentication": {
            "shape": "Sg",
            "locationName": "clientAuthentication"
          },
          "ClusterName": {
            "locationName": "clusterName"
          },
          "ConfigurationInfo": {
            "shape": "So",
            "locationName": "configurationInfo"
          },
          "EncryptionInfo": {
            "shape": "Sq",
            "locationName": "encryptionInfo"
          },
          "EnhancedMonitoring": {
            "locationName": "enhancedMonitoring"
          },
          "OpenMonitoring": {
            "shape": "Sv",
            "locationName": "openMonitoring"
          },
          "KafkaVersion": {
            "locationName": "kafkaVersion"
          },
          "LoggingInfo": {
            "shape": "S10",
            "locationName": "loggingInfo"
          },
          "NumberOfBrokerNodes": {
            "locationName": "numberOfBrokerNodes",
            "type": "integer"
          },
          "Tags": {
            "shape": "S16",
            "locationName": "tags"
          }
        },
        "required": [
          "BrokerNodeGroupInfo",
          "KafkaVersion",
          "NumberOfBrokerNodes",
          "ClusterName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "ClusterName": {
            "locationName": "clusterName"
          },
          "State": {
            "locationName": "state"
          }
        }
      }
    },
    "CreateConfiguration": {
      "http": {
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Description": {
            "locationName": "description"
          },
          "KafkaVersions": {
            "shape": "S3",
            "locationName": "kafkaVersions"
          },
          "Name": {
            "locationName": "name"
          },
          "ServerProperties": {
            "locationName": "serverProperties",
            "type": "blob"
          }
        },
        "required": [
          "ServerProperties",
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CreationTime": {
            "shape": "S1c",
            "locationName": "creationTime"
          },
          "LatestRevision": {
            "shape": "S1d",
            "locationName": "latestRevision"
          },
          "Name": {
            "locationName": "name"
          },
          "State": {
            "locationName": "state"
          }
        }
      }
    },
    "DeleteCluster": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/clusters/{clusterArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "CurrentVersion": {
            "location": "querystring",
            "locationName": "currentVersion"
          }
        },
        "required": [
          "ClusterArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "State": {
            "locationName": "state"
          }
        }
      }
    },
    "DeleteConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/configurations/{arn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Arn": {
            "location": "uri",
            "locationName": "arn"
          }
        },
        "required": [
          "Arn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "State": {
            "locationName": "state"
          }
        }
      }
    },
    "DescribeCluster": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          }
        },
        "required": [
          "ClusterArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterInfo": {
            "shape": "S1l",
            "locationName": "clusterInfo"
          }
        }
      }
    },
    "DescribeClusterOperation": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/operations/{clusterOperationArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterOperationArn": {
            "location": "uri",
            "locationName": "clusterOperationArn"
          }
        },
        "required": [
          "ClusterOperationArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterOperationInfo": {
            "shape": "S1v",
            "locationName": "clusterOperationInfo"
          }
        }
      }
    },
    "DescribeConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{arn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Arn": {
            "location": "uri",
            "locationName": "arn"
          }
        },
        "required": [
          "Arn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CreationTime": {
            "shape": "S1c",
            "locationName": "creationTime"
          },
          "Description": {
            "locationName": "description"
          },
          "KafkaVersions": {
            "shape": "S3",
            "locationName": "kafkaVersions"
          },
          "LatestRevision": {
            "shape": "S1d",
            "locationName": "latestRevision"
          },
          "Name": {
            "locationName": "name"
          },
          "State": {
            "locationName": "state"
          }
        }
      }
    },
    "DescribeConfigurationRevision": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{arn}/revisions/{revision}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Arn": {
            "location": "uri",
            "locationName": "arn"
          },
          "Revision": {
            "location": "uri",
            "locationName": "revision",
            "type": "long"
          }
        },
        "required": [
          "Revision",
          "Arn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CreationTime": {
            "shape": "S1c",
            "locationName": "creationTime"
          },
          "Description": {
            "locationName": "description"
          },
          "Revision": {
            "locationName": "revision",
            "type": "long"
          },
          "ServerProperties": {
            "locationName": "serverProperties",
            "type": "blob"
          }
        }
      }
    },
    "BatchDisassociateScramSecret": {
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "SecretArnList": {
            "shape": "S3",
            "locationName": "secretArnList"
          }
        },
        "required": [
          "ClusterArn",
          "SecretArnList"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "UnprocessedScramSecrets": {
            "shape": "S5",
            "locationName": "unprocessedScramSecrets"
          }
        }
      }
    },
    "GetBootstrapBrokers": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/bootstrap-brokers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          }
        },
        "required": [
          "ClusterArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BootstrapBrokerString": {
            "locationName": "bootstrapBrokerString"
          },
          "BootstrapBrokerStringTls": {
            "locationName": "bootstrapBrokerStringTls"
          },
          "BootstrapBrokerStringSaslScram": {
            "locationName": "bootstrapBrokerStringSaslScram"
          },
          "BootstrapBrokerStringSaslIam": {
            "locationName": "bootstrapBrokerStringSaslIam"
          },
          "BootstrapBrokerStringPublicTls": {
            "locationName": "bootstrapBrokerStringPublicTls"
          },
          "BootstrapBrokerStringPublicSaslScram": {
            "locationName": "bootstrapBrokerStringPublicSaslScram"
          },
          "BootstrapBrokerStringPublicSaslIam": {
            "locationName": "bootstrapBrokerStringPublicSaslIam"
          }
        }
      }
    },
    "GetCompatibleKafkaVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/compatible-kafka-versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "querystring",
            "locationName": "clusterArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CompatibleKafkaVersions": {
            "locationName": "compatibleKafkaVersions",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SourceVersion": {
                  "locationName": "sourceVersion"
                },
                "TargetVersions": {
                  "shape": "S3",
                  "locationName": "targetVersions"
                }
              }
            }
          }
        }
      }
    },
    "ListClusterOperations": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/operations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "ClusterArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterOperationInfoList": {
            "locationName": "clusterOperationInfoList",
            "type": "list",
            "member": {
              "shape": "S1v"
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListClusters": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterNameFilter": {
            "location": "querystring",
            "locationName": "clusterNameFilter"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterInfoList": {
            "locationName": "clusterInfoList",
            "type": "list",
            "member": {
              "shape": "S1l"
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListConfigurationRevisions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{arn}/revisions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Arn": {
            "location": "uri",
            "locationName": "arn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "Arn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "Revisions": {
            "locationName": "revisions",
            "type": "list",
            "member": {
              "shape": "S1d"
            }
          }
        }
      }
    },
    "ListConfigurations": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Configurations": {
            "locationName": "configurations",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "CreationTime": {
                  "shape": "S1c",
                  "locationName": "creationTime"
                },
                "Description": {
                  "locationName": "description"
                },
                "KafkaVersions": {
                  "shape": "S3",
                  "locationName": "kafkaVersions"
                },
                "LatestRevision": {
                  "shape": "S1d",
                  "locationName": "latestRevision"
                },
                "Name": {
                  "locationName": "name"
                },
                "State": {
                  "locationName": "state"
                }
              },
              "required": [
                "Description",
                "LatestRevision",
                "CreationTime",
                "KafkaVersions",
                "Arn",
                "Name",
                "State"
              ]
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListKafkaVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/kafka-versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "KafkaVersions": {
            "locationName": "kafkaVersions",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Version": {
                  "locationName": "version"
                },
                "Status": {
                  "locationName": "status"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListNodes": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/nodes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "ClusterArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "NodeInfoList": {
            "locationName": "nodeInfoList",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AddedToClusterTime": {
                  "locationName": "addedToClusterTime"
                },
                "BrokerNodeInfo": {
                  "locationName": "brokerNodeInfo",
                  "type": "structure",
                  "members": {
                    "AttachedENIId": {
                      "locationName": "attachedENIId"
                    },
                    "BrokerId": {
                      "locationName": "brokerId",
                      "type": "double"
                    },
                    "ClientSubnet": {
                      "locationName": "clientSubnet"
                    },
                    "ClientVpcIpAddress": {
                      "locationName": "clientVpcIpAddress"
                    },
                    "CurrentBrokerSoftwareInfo": {
                      "shape": "S1m",
                      "locationName": "currentBrokerSoftwareInfo"
                    },
                    "Endpoints": {
                      "shape": "S3",
                      "locationName": "endpoints"
                    }
                  }
                },
                "InstanceType": {
                  "locationName": "instanceType"
                },
                "NodeARN": {
                  "locationName": "nodeARN"
                },
                "NodeType": {
                  "locationName": "nodeType"
                },
                "ZookeeperNodeInfo": {
                  "locationName": "zookeeperNodeInfo",
                  "type": "structure",
                  "members": {
                    "AttachedENIId": {
                      "locationName": "attachedENIId"
                    },
                    "ClientVpcIpAddress": {
                      "locationName": "clientVpcIpAddress"
                    },
                    "Endpoints": {
                      "shape": "S3",
                      "locationName": "endpoints"
                    },
                    "ZookeeperId": {
                      "locationName": "zookeeperId",
                      "type": "double"
                    },
                    "ZookeeperVersion": {
                      "locationName": "zookeeperVersion"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "ListScramSecrets": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "ClusterArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "SecretArnList": {
            "shape": "S3",
            "locationName": "secretArnList"
          }
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        },
        "required": [
          "ResourceArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S16",
            "locationName": "tags"
          }
        }
      }
    },
    "RebootBroker": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/reboot-broker",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerIds": {
            "shape": "S3",
            "locationName": "brokerIds"
          },
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          }
        },
        "required": [
          "ClusterArn",
          "BrokerIds"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "ClusterOperationArn": {
            "locationName": "clusterOperationArn"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/v1/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "Tags": {
            "shape": "S16",
            "locationName": "tags"
          }
        },
        "required": [
          "ResourceArn",
          "Tags"
        ]
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "TagKeys": {
            "shape": "S3",
            "location": "querystring",
            "locationName": "tagKeys"
          }
        },
        "required": [
          "TagKeys",
          "ResourceArn"
        ]
      }
    },
    "UpdateBrokerCount": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/nodes/count",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "CurrentVersion": {
            "locationName": "currentVersion"
          },
          "TargetNumberOfBrokerNodes": {
            "locationName": "targetNumberOfBrokerNodes",
            "type": "integer"
          }
        },
        "required": [
          "ClusterArn",
          "CurrentVersion",
          "TargetNumberOfBrokerNodes"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "ClusterOperationArn": {
            "locationName": "clusterOperationArn"
          }
        }
      }
    },
    "UpdateBrokerType": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/nodes/type",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "CurrentVersion": {
            "locationName": "currentVersion"
          },
          "TargetInstanceType": {
            "locationName": "targetInstanceType"
          }
        },
        "required": [
          "ClusterArn",
          "CurrentVersion",
          "TargetInstanceType"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "ClusterOperationArn": {
            "locationName": "clusterOperationArn"
          }
        }
      }
    },
    "UpdateBrokerStorage": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/nodes/storage",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "CurrentVersion": {
            "locationName": "currentVersion"
          },
          "TargetBrokerEBSVolumeInfo": {
            "shape": "S21",
            "locationName": "targetBrokerEBSVolumeInfo"
          }
        },
        "required": [
          "ClusterArn",
          "TargetBrokerEBSVolumeInfo",
          "CurrentVersion"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "ClusterOperationArn": {
            "locationName": "clusterOperationArn"
          }
        }
      }
    },
    "UpdateConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/configurations/{arn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Arn": {
            "location": "uri",
            "locationName": "arn"
          },
          "Description": {
            "locationName": "description"
          },
          "ServerProperties": {
            "locationName": "serverProperties",
            "type": "blob"
          }
        },
        "required": [
          "Arn",
          "ServerProperties"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "LatestRevision": {
            "shape": "S1d",
            "locationName": "latestRevision"
          }
        }
      }
    },
    "UpdateConnectivity": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/connectivity",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "ConnectivityInfo": {
            "shape": "Se",
            "locationName": "connectivityInfo"
          },
          "CurrentVersion": {
            "locationName": "currentVersion"
          }
        },
        "required": [
          "ClusterArn",
          "ConnectivityInfo",
          "CurrentVersion"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "ClusterOperationArn": {
            "locationName": "clusterOperationArn"
          }
        }
      }
    },
    "UpdateClusterConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "ConfigurationInfo": {
            "shape": "So",
            "locationName": "configurationInfo"
          },
          "CurrentVersion": {
            "locationName": "currentVersion"
          }
        },
        "required": [
          "ClusterArn",
          "CurrentVersion",
          "ConfigurationInfo"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "ClusterOperationArn": {
            "locationName": "clusterOperationArn"
          }
        }
      }
    },
    "UpdateClusterKafkaVersion": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/version",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "ConfigurationInfo": {
            "shape": "So",
            "locationName": "configurationInfo"
          },
          "CurrentVersion": {
            "locationName": "currentVersion"
          },
          "TargetKafkaVersion": {
            "locationName": "targetKafkaVersion"
          }
        },
        "required": [
          "ClusterArn",
          "TargetKafkaVersion",
          "CurrentVersion"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "ClusterOperationArn": {
            "locationName": "clusterOperationArn"
          }
        }
      }
    },
    "UpdateMonitoring": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/monitoring",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "CurrentVersion": {
            "locationName": "currentVersion"
          },
          "EnhancedMonitoring": {
            "locationName": "enhancedMonitoring"
          },
          "OpenMonitoring": {
            "shape": "Sv",
            "locationName": "openMonitoring"
          },
          "LoggingInfo": {
            "shape": "S10",
            "locationName": "loggingInfo"
          }
        },
        "required": [
          "ClusterArn",
          "CurrentVersion"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "ClusterOperationArn": {
            "locationName": "clusterOperationArn"
          }
        }
      }
    },
    "UpdateSecurity": {
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/clusters/{clusterArn}/security",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClientAuthentication": {
            "shape": "Sg",
            "locationName": "clientAuthentication"
          },
          "ClusterArn": {
            "location": "uri",
            "locationName": "clusterArn"
          },
          "CurrentVersion": {
            "locationName": "currentVersion"
          },
          "EncryptionInfo": {
            "shape": "Sq",
            "locationName": "encryptionInfo"
          }
        },
        "required": [
          "ClusterArn",
          "CurrentVersion"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ClusterArn": {
            "locationName": "clusterArn"
          },
          "ClusterOperationArn": {
            "locationName": "clusterOperationArn"
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {}
    },
    "S5": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ErrorCode": {
            "locationName": "errorCode"
          },
          "ErrorMessage": {
            "locationName": "errorMessage"
          },
          "SecretArn": {
            "locationName": "secretArn"
          }
        }
      }
    },
    "S8": {
      "type": "structure",
      "members": {
        "BrokerAZDistribution": {
          "locationName": "brokerAZDistribution"
        },
        "ClientSubnets": {
          "shape": "S3",
          "locationName": "clientSubnets"
        },
        "InstanceType": {
          "locationName": "instanceType"
        },
        "SecurityGroups": {
          "shape": "S3",
          "locationName": "securityGroups"
        },
        "StorageInfo": {
          "locationName": "storageInfo",
          "type": "structure",
          "members": {
            "EbsStorageInfo": {
              "locationName": "ebsStorageInfo",
              "type": "structure",
              "members": {
                "VolumeSize": {
                  "locationName": "volumeSize",
                  "type": "integer"
                }
              }
            }
          }
        },
        "ConnectivityInfo": {
          "shape": "Se",
          "locationName": "connectivityInfo"
        }
      },
      "required": [
        "ClientSubnets",
        "InstanceType"
      ]
    },
    "Se": {
      "type": "structure",
      "members": {
        "PublicAccess": {
          "locationName": "publicAccess",
          "type": "structure",
          "members": {
            "Type": {
              "locationName": "type"
            }
          }
        }
      }
    },
    "Sg": {
      "type": "structure",
      "members": {
        "Sasl": {
          "locationName": "sasl",
          "type": "structure",
          "members": {
            "Scram": {
              "locationName": "scram",
              "type": "structure",
              "members": {
                "Enabled": {
                  "locationName": "enabled",
                  "type": "boolean"
                }
              }
            },
            "Iam": {
              "locationName": "iam",
              "type": "structure",
              "members": {
                "Enabled": {
                  "locationName": "enabled",
                  "type": "boolean"
                }
              }
            }
          }
        },
        "Tls": {
          "locationName": "tls",
          "type": "structure",
          "members": {
            "CertificateAuthorityArnList": {
              "shape": "S3",
              "locationName": "certificateAuthorityArnList"
            },
            "Enabled": {
              "locationName": "enabled",
              "type": "boolean"
            }
          }
        },
        "Unauthenticated": {
          "locationName": "unauthenticated",
          "type": "structure",
          "members": {
            "Enabled": {
              "locationName": "enabled",
              "type": "boolean"
            }
          }
        }
      }
    },
    "So": {
      "type": "structure",
      "members": {
        "Arn": {
          "locationName": "arn"
        },
        "Revision": {
          "locationName": "revision",
          "type": "long"
        }
      },
      "required": [
        "Revision",
        "Arn"
      ]
    },
    "Sq": {
      "type": "structure",
      "members": {
        "EncryptionAtRest": {
          "locationName": "encryptionAtRest",
          "type": "structure",
          "members": {
            "DataVolumeKMSKeyId": {
              "locationName": "dataVolumeKMSKeyId"
            }
          },
          "required": [
            "DataVolumeKMSKeyId"
          ]
        },
        "EncryptionInTransit": {
          "locationName": "encryptionInTransit",
          "type": "structure",
          "members": {
            "ClientBroker": {
              "locationName": "clientBroker"
            },
            "InCluster": {
              "locationName": "inCluster",
              "type": "boolean"
            }
          }
        }
      }
    },
    "Sv": {
      "type": "structure",
      "members": {
        "Prometheus": {
          "locationName": "prometheus",
          "type": "structure",
          "members": {
            "JmxExporter": {
              "locationName": "jmxExporter",
              "type": "structure",
              "members": {
                "EnabledInBroker": {
                  "locationName": "enabledInBroker",
                  "type": "boolean"
                }
              },
              "required": [
                "EnabledInBroker"
              ]
            },
            "NodeExporter": {
              "locationName": "nodeExporter",
              "type": "structure",
              "members": {
                "EnabledInBroker": {
                  "locationName": "enabledInBroker",
                  "type": "boolean"
                }
              },
              "required": [
                "EnabledInBroker"
              ]
            }
          }
        }
      },
      "required": [
        "Prometheus"
      ]
    },
    "S10": {
      "type": "structure",
      "members": {
        "BrokerLogs": {
          "locationName": "brokerLogs",
          "type": "structure",
          "members": {
            "CloudWatchLogs": {
              "locationName": "cloudWatchLogs",
              "type": "structure",
              "members": {
                "Enabled": {
                  "locationName": "enabled",
                  "type": "boolean"
                },
                "LogGroup": {
                  "locationName": "logGroup"
                }
              },
              "required": [
                "Enabled"
              ]
            },
            "Firehose": {
              "locationName": "firehose",
              "type": "structure",
              "members": {
                "DeliveryStream": {
                  "locationName": "deliveryStream"
                },
                "Enabled": {
                  "locationName": "enabled",
                  "type": "boolean"
                }
              },
              "required": [
                "Enabled"
              ]
            },
            "S3": {
              "locationName": "s3",
              "type": "structure",
              "members": {
                "Bucket": {
                  "locationName": "bucket"
                },
                "Enabled": {
                  "locationName": "enabled",
                  "type": "boolean"
                },
                "Prefix": {
                  "locationName": "prefix"
                }
              },
              "required": [
                "Enabled"
              ]
            }
          }
        }
      },
      "required": [
        "BrokerLogs"
      ]
    },
    "S16": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1c": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S1d": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "shape": "S1c",
          "locationName": "creationTime"
        },
        "Description": {
          "locationName": "description"
        },
        "Revision": {
          "locationName": "revision",
          "type": "long"
        }
      },
      "required": [
        "Revision",
        "CreationTime"
      ]
    },
    "S1l": {
      "type": "structure",
      "members": {
        "ActiveOperationArn": {
          "locationName": "activeOperationArn"
        },
        "BrokerNodeGroupInfo": {
          "shape": "S8",
          "locationName": "brokerNodeGroupInfo"
        },
        "ClientAuthentication": {
          "shape": "Sg",
          "locationName": "clientAuthentication"
        },
        "ClusterArn": {
          "locationName": "clusterArn"
        },
        "ClusterName": {
          "locationName": "clusterName"
        },
        "CreationTime": {
          "shape": "S1c",
          "locationName": "creationTime"
        },
        "CurrentBrokerSoftwareInfo": {
          "shape": "S1m",
          "locationName": "currentBrokerSoftwareInfo"
        },
        "CurrentVersion": {
          "locationName": "currentVersion"
        },
        "EncryptionInfo": {
          "shape": "Sq",
          "locationName": "encryptionInfo"
        },
        "EnhancedMonitoring": {
          "locationName": "enhancedMonitoring"
        },
        "OpenMonitoring": {
          "shape": "S1n",
          "locationName": "openMonitoring"
        },
        "LoggingInfo": {
          "shape": "S10",
          "locationName": "loggingInfo"
        },
        "NumberOfBrokerNodes": {
          "locationName": "numberOfBrokerNodes",
          "type": "integer"
        },
        "State": {
          "locationName": "state"
        },
        "StateInfo": {
          "locationName": "stateInfo",
          "type": "structure",
          "members": {
            "Code": {
              "locationName": "code"
            },
            "Message": {
              "locationName": "message"
            }
          }
        },
        "Tags": {
          "shape": "S16",
          "locationName": "tags"
        },
        "ZookeeperConnectString": {
          "locationName": "zookeeperConnectString"
        },
        "ZookeeperConnectStringTls": {
          "locationName": "zookeeperConnectStringTls"
        }
      }
    },
    "S1m": {
      "type": "structure",
      "members": {
        "ConfigurationArn": {
          "locationName": "configurationArn"
        },
        "ConfigurationRevision": {
          "locationName": "configurationRevision",
          "type": "long"
        },
        "KafkaVersion": {
          "locationName": "kafkaVersion"
        }
      }
    },
    "S1n": {
      "type": "structure",
      "members": {
        "Prometheus": {
          "locationName": "prometheus",
          "type": "structure",
          "members": {
            "JmxExporter": {
              "locationName": "jmxExporter",
              "type": "structure",
              "members": {
                "EnabledInBroker": {
                  "locationName": "enabledInBroker",
                  "type": "boolean"
                }
              },
              "required": [
                "EnabledInBroker"
              ]
            },
            "NodeExporter": {
              "locationName": "nodeExporter",
              "type": "structure",
              "members": {
                "EnabledInBroker": {
                  "locationName": "enabledInBroker",
                  "type": "boolean"
                }
              },
              "required": [
                "EnabledInBroker"
              ]
            }
          }
        }
      },
      "required": [
        "Prometheus"
      ]
    },
    "S1v": {
      "type": "structure",
      "members": {
        "ClientRequestId": {
          "locationName": "clientRequestId"
        },
        "ClusterArn": {
          "locationName": "clusterArn"
        },
        "CreationTime": {
          "shape": "S1c",
          "locationName": "creationTime"
        },
        "EndTime": {
          "shape": "S1c",
          "locationName": "endTime"
        },
        "ErrorInfo": {
          "locationName": "errorInfo",
          "type": "structure",
          "members": {
            "ErrorCode": {
              "locationName": "errorCode"
            },
            "ErrorString": {
              "locationName": "errorString"
            }
          }
        },
        "OperationArn": {
          "locationName": "operationArn"
        },
        "OperationState": {
          "locationName": "operationState"
        },
        "OperationSteps": {
          "locationName": "operationSteps",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "StepInfo": {
                "locationName": "stepInfo",
                "type": "structure",
                "members": {
                  "StepStatus": {
                    "locationName": "stepStatus"
                  }
                }
              },
              "StepName": {
                "locationName": "stepName"
              }
            }
          }
        },
        "OperationType": {
          "locationName": "operationType"
        },
        "SourceClusterInfo": {
          "shape": "S20",
          "locationName": "sourceClusterInfo"
        },
        "TargetClusterInfo": {
          "shape": "S20",
          "locationName": "targetClusterInfo"
        }
      }
    },
    "S20": {
      "type": "structure",
      "members": {
        "BrokerEBSVolumeInfo": {
          "shape": "S21",
          "locationName": "brokerEBSVolumeInfo"
        },
        "ConfigurationInfo": {
          "shape": "So",
          "locationName": "configurationInfo"
        },
        "NumberOfBrokerNodes": {
          "locationName": "numberOfBrokerNodes",
          "type": "integer"
        },
        "EnhancedMonitoring": {
          "locationName": "enhancedMonitoring"
        },
        "OpenMonitoring": {
          "shape": "S1n",
          "locationName": "openMonitoring"
        },
        "KafkaVersion": {
          "locationName": "kafkaVersion"
        },
        "LoggingInfo": {
          "shape": "S10",
          "locationName": "loggingInfo"
        },
        "InstanceType": {
          "locationName": "instanceType"
        },
        "ClientAuthentication": {
          "shape": "Sg",
          "locationName": "clientAuthentication"
        },
        "EncryptionInfo": {
          "shape": "Sq",
          "locationName": "encryptionInfo"
        },
        "ConnectivityInfo": {
          "shape": "Se",
          "locationName": "connectivityInfo"
        }
      }
    },
    "S21": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "KafkaBrokerNodeId": {
            "locationName": "kafkaBrokerNodeId"
          },
          "VolumeSizeGB": {
            "locationName": "volumeSizeGB",
            "type": "integer"
          }
        },
        "required": [
          "VolumeSizeGB",
          "KafkaBrokerNodeId"
        ]
      }
    }
  }
}