{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-02-03",
    "endpointPrefix": "kendra",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "kendra",
    "serviceFullName": "AWSKendraFrontendService",
    "serviceId": "kendra",
    "signatureVersion": "v4",
    "signingName": "kendra",
    "targetPrefix": "AWSKendraFrontendService",
    "uid": "kendra-2019-02-03"
  },
  "operations": {
    "BatchDeleteDocument": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId",
          "DocumentIdList"
        ],
        "members": {
          "IndexId": {},
          "DocumentIdList": {
            "type": "list",
            "member": {}
          },
          "DataSourceSyncJobMetricTarget": {
            "type": "structure",
            "required": [
              "DataSourceId",
              "DataSourceSyncJobId"
            ],
            "members": {
              "DataSourceId": {},
              "DataSourceSyncJobId": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedDocuments": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchPutDocument": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId",
          "Documents"
        ],
        "members": {
          "IndexId": {},
          "RoleArn": {},
          "Documents": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id"
              ],
              "members": {
                "Id": {},
                "Title": {},
                "Blob": {
                  "type": "blob"
                },
                "S3Path": {
                  "shape": "Sj"
                },
                "Attributes": {
                  "shape": "Sm"
                },
                "AccessControlList": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "Name",
                      "Type",
                      "Access"
                    ],
                    "members": {
                      "Name": {},
                      "Type": {},
                      "Access": {}
                    }
                  }
                },
                "ContentType": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedDocuments": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "CreateDataSource": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "IndexId",
          "Type",
          "Configuration",
          "RoleArn"
        ],
        "members": {
          "Name": {},
          "IndexId": {},
          "Type": {},
          "Configuration": {
            "shape": "S17"
          },
          "Description": {},
          "Schedule": {},
          "RoleArn": {},
          "Tags": {
            "shape": "S2v"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      }
    },
    "CreateFaq": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId",
          "Name",
          "S3Path",
          "RoleArn"
        ],
        "members": {
          "IndexId": {},
          "Name": {},
          "Description": {},
          "S3Path": {
            "shape": "Sj"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S2v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Id": {}
        }
      }
    },
    "CreateIndex": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RoleArn"
        ],
        "members": {
          "Name": {},
          "Edition": {},
          "RoleArn": {},
          "ServerSideEncryptionConfiguration": {
            "shape": "S37"
          },
          "Description": {},
          "ClientToken": {
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "S2v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Id": {}
        }
      }
    },
    "DeleteDataSource": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {}
        }
      }
    },
    "DeleteFaq": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {}
        }
      }
    },
    "DeleteIndex": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      }
    },
    "DescribeDataSource": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Id": {},
          "IndexId": {},
          "Name": {},
          "Type": {},
          "Configuration": {
            "shape": "S17"
          },
          "CreatedAt": {
            "type": "timestamp"
          },
          "UpdatedAt": {
            "type": "timestamp"
          },
          "Description": {},
          "Status": {},
          "Schedule": {},
          "RoleArn": {},
          "ErrorMessage": {}
        }
      }
    },
    "DescribeFaq": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Id": {},
          "IndexId": {},
          "Name": {},
          "Description": {},
          "CreatedAt": {
            "type": "timestamp"
          },
          "UpdatedAt": {
            "type": "timestamp"
          },
          "S3Path": {
            "shape": "Sj"
          },
          "Status": {},
          "RoleArn": {},
          "ErrorMessage": {}
        }
      }
    },
    "DescribeIndex": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "Id": {},
          "Edition": {},
          "RoleArn": {},
          "ServerSideEncryptionConfiguration": {
            "shape": "S37"
          },
          "Status": {},
          "Description": {},
          "CreatedAt": {
            "type": "timestamp"
          },
          "UpdatedAt": {
            "type": "timestamp"
          },
          "DocumentMetadataConfigurations": {
            "shape": "S3n"
          },
          "IndexStatistics": {
            "type": "structure",
            "required": [
              "FaqStatistics",
              "TextDocumentStatistics"
            ],
            "members": {
              "FaqStatistics": {
                "type": "structure",
                "required": [
                  "IndexedQuestionAnswersCount"
                ],
                "members": {
                  "IndexedQuestionAnswersCount": {
                    "type": "integer"
                  }
                }
              },
              "TextDocumentStatistics": {
                "type": "structure",
                "required": [
                  "IndexedTextDocumentsCount",
                  "IndexedTextBytes"
                ],
                "members": {
                  "IndexedTextDocumentsCount": {
                    "type": "integer"
                  },
                  "IndexedTextBytes": {
                    "type": "long"
                  }
                }
              }
            }
          },
          "ErrorMessage": {},
          "CapacityUnits": {
            "shape": "S45"
          }
        }
      }
    },
    "ListDataSourceSyncJobs": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "StartTimeFilter": {
            "type": "structure",
            "members": {
              "StartTime": {
                "type": "timestamp"
              },
              "EndTime": {
                "type": "timestamp"
              }
            }
          },
          "StatusFilter": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "History": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ExecutionId": {},
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "Status": {},
                "ErrorMessage": {},
                "ErrorCode": {},
                "DataSourceErrorCode": {},
                "Metrics": {
                  "type": "structure",
                  "members": {
                    "DocumentsAdded": {},
                    "DocumentsModified": {},
                    "DocumentsDeleted": {},
                    "DocumentsFailed": {},
                    "DocumentsScanned": {}
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDataSources": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId"
        ],
        "members": {
          "IndexId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SummaryItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Id": {},
                "Type": {},
                "CreatedAt": {
                  "type": "timestamp"
                },
                "UpdatedAt": {
                  "type": "timestamp"
                },
                "Status": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListFaqs": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId"
        ],
        "members": {
          "IndexId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "FaqSummaryItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Name": {},
                "Status": {},
                "CreatedAt": {
                  "type": "timestamp"
                },
                "UpdatedAt": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListIndices": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IndexConfigurationSummaryItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "CreatedAt",
                "UpdatedAt",
                "Status"
              ],
              "members": {
                "Name": {},
                "Id": {},
                "Edition": {},
                "CreatedAt": {
                  "type": "timestamp"
                },
                "UpdatedAt": {
                  "type": "timestamp"
                },
                "Status": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN"
        ],
        "members": {
          "ResourceARN": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S2v"
          }
        }
      }
    },
    "Query": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId",
          "QueryText"
        ],
        "members": {
          "IndexId": {},
          "QueryText": {},
          "AttributeFilter": {
            "shape": "S52"
          },
          "Facets": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DocumentAttributeKey": {}
              }
            }
          },
          "RequestedDocumentAttributes": {
            "type": "list",
            "member": {}
          },
          "QueryResultTypeFilter": {},
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "QueryId": {},
          "ResultItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Type": {},
                "AdditionalAttributes": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "Key",
                      "ValueType",
                      "Value"
                    ],
                    "members": {
                      "Key": {},
                      "ValueType": {},
                      "Value": {
                        "type": "structure",
                        "members": {
                          "TextWithHighlightsValue": {
                            "shape": "S5i"
                          }
                        }
                      }
                    }
                  }
                },
                "DocumentId": {},
                "DocumentTitle": {
                  "shape": "S5i"
                },
                "DocumentExcerpt": {
                  "shape": "S5i"
                },
                "DocumentURI": {},
                "DocumentAttributes": {
                  "shape": "Sm"
                }
              }
            }
          },
          "FacetResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DocumentAttributeKey": {},
                "DocumentAttributeValueCountPairs": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "DocumentAttributeValue": {
                        "shape": "Sp"
                      },
                      "Count": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "TotalNumberOfResults": {
            "type": "integer"
          }
        }
      }
    },
    "StartDataSourceSyncJob": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExecutionId": {}
        }
      }
    },
    "StopDataSourceSyncJob": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {}
        }
      }
    },
    "SubmitFeedback": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId",
          "QueryId"
        ],
        "members": {
          "IndexId": {},
          "QueryId": {},
          "ClickFeedbackItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ResultId",
                "ClickTime"
              ],
              "members": {
                "ResultId": {},
                "ClickTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "RelevanceFeedbackItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ResultId",
                "RelevanceValue"
              ],
              "members": {
                "ResultId": {},
                "RelevanceValue": {}
              }
            }
          }
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN",
          "Tags"
        ],
        "members": {
          "ResourceARN": {},
          "Tags": {
            "shape": "S2v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARN",
          "TagKeys"
        ],
        "members": {
          "ResourceARN": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDataSource": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "Name": {},
          "IndexId": {},
          "Configuration": {
            "shape": "S17"
          },
          "Description": {},
          "Schedule": {},
          "RoleArn": {}
        }
      }
    },
    "UpdateIndex": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {},
          "Name": {},
          "RoleArn": {},
          "Description": {},
          "DocumentMetadataConfigurationUpdates": {
            "shape": "S3n"
          },
          "CapacityUnits": {
            "shape": "S45"
          }
        }
      }
    }
  },
  "shapes": {
    "Sj": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {},
        "Key": {}
      }
    },
    "Sm": {
      "type": "list",
      "member": {
        "shape": "Sn"
      }
    },
    "Sn": {
      "type": "structure",
      "required": [
        "Key",
        "Value"
      ],
      "members": {
        "Key": {},
        "Value": {
          "shape": "Sp"
        }
      }
    },
    "Sp": {
      "type": "structure",
      "members": {
        "StringValue": {},
        "StringListValue": {
          "type": "list",
          "member": {}
        },
        "LongValue": {
          "type": "long"
        },
        "DateValue": {
          "type": "timestamp"
        }
      }
    },
    "S17": {
      "type": "structure",
      "members": {
        "S3Configuration": {
          "type": "structure",
          "required": [
            "BucketName"
          ],
          "members": {
            "BucketName": {},
            "InclusionPrefixes": {
              "shape": "S19"
            },
            "ExclusionPatterns": {
              "shape": "S19"
            },
            "DocumentsMetadataConfiguration": {
              "type": "structure",
              "members": {
                "S3Prefix": {}
              }
            },
            "AccessControlListConfiguration": {
              "type": "structure",
              "members": {
                "KeyPath": {}
              }
            }
          }
        },
        "SharePointConfiguration": {
          "type": "structure",
          "required": [
            "SharePointVersion",
            "Urls",
            "SecretArn"
          ],
          "members": {
            "SharePointVersion": {},
            "Urls": {
              "type": "list",
              "member": {}
            },
            "SecretArn": {},
            "CrawlAttachments": {
              "type": "boolean"
            },
            "UseChangeLog": {
              "type": "boolean"
            },
            "InclusionPatterns": {
              "shape": "S19"
            },
            "ExclusionPatterns": {
              "shape": "S19"
            },
            "VpcConfiguration": {
              "shape": "S1j"
            },
            "FieldMappings": {
              "shape": "S1o"
            },
            "DocumentTitleFieldName": {}
          }
        },
        "DatabaseConfiguration": {
          "type": "structure",
          "required": [
            "DatabaseEngineType",
            "ConnectionConfiguration",
            "ColumnConfiguration"
          ],
          "members": {
            "DatabaseEngineType": {},
            "ConnectionConfiguration": {
              "type": "structure",
              "required": [
                "DatabaseHost",
                "DatabasePort",
                "DatabaseName",
                "TableName",
                "SecretArn"
              ],
              "members": {
                "DatabaseHost": {},
                "DatabasePort": {
                  "type": "integer"
                },
                "DatabaseName": {},
                "TableName": {},
                "SecretArn": {}
              }
            },
            "VpcConfiguration": {
              "shape": "S1j"
            },
            "ColumnConfiguration": {
              "type": "structure",
              "required": [
                "DocumentIdColumnName",
                "DocumentDataColumnName",
                "ChangeDetectingColumns"
              ],
              "members": {
                "DocumentIdColumnName": {},
                "DocumentDataColumnName": {},
                "DocumentTitleColumnName": {},
                "FieldMappings": {
                  "shape": "S1o"
                },
                "ChangeDetectingColumns": {
                  "type": "list",
                  "member": {}
                }
              }
            },
            "AclConfiguration": {
              "type": "structure",
              "required": [
                "AllowedGroupsColumnName"
              ],
              "members": {
                "AllowedGroupsColumnName": {}
              }
            }
          }
        },
        "SalesforceConfiguration": {
          "type": "structure",
          "required": [
            "ServerUrl",
            "SecretArn"
          ],
          "members": {
            "ServerUrl": {},
            "SecretArn": {},
            "StandardObjectConfigurations": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Name",
                  "DocumentDataFieldName"
                ],
                "members": {
                  "Name": {},
                  "DocumentDataFieldName": {},
                  "DocumentTitleFieldName": {},
                  "FieldMappings": {
                    "shape": "S1o"
                  }
                }
              }
            },
            "KnowledgeArticleConfiguration": {
              "type": "structure",
              "required": [
                "IncludedStates"
              ],
              "members": {
                "IncludedStates": {
                  "type": "list",
                  "member": {}
                },
                "StandardKnowledgeArticleTypeConfiguration": {
                  "type": "structure",
                  "required": [
                    "DocumentDataFieldName"
                  ],
                  "members": {
                    "DocumentDataFieldName": {},
                    "DocumentTitleFieldName": {},
                    "FieldMappings": {
                      "shape": "S1o"
                    }
                  }
                },
                "CustomKnowledgeArticleTypeConfigurations": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "Name",
                      "DocumentDataFieldName"
                    ],
                    "members": {
                      "Name": {},
                      "DocumentDataFieldName": {},
                      "DocumentTitleFieldName": {},
                      "FieldMappings": {
                        "shape": "S1o"
                      }
                    }
                  }
                }
              }
            },
            "ChatterFeedConfiguration": {
              "type": "structure",
              "required": [
                "DocumentDataFieldName"
              ],
              "members": {
                "DocumentDataFieldName": {},
                "DocumentTitleFieldName": {},
                "FieldMappings": {
                  "shape": "S1o"
                },
                "IncludeFilterTypes": {
                  "type": "list",
                  "member": {}
                }
              }
            },
            "CrawlAttachments": {
              "type": "boolean"
            },
            "StandardObjectAttachmentConfiguration": {
              "type": "structure",
              "members": {
                "DocumentTitleFieldName": {},
                "FieldMappings": {
                  "shape": "S1o"
                }
              }
            },
            "IncludeAttachmentFilePatterns": {
              "shape": "S19"
            },
            "ExcludeAttachmentFilePatterns": {
              "shape": "S19"
            }
          }
        },
        "OneDriveConfiguration": {
          "type": "structure",
          "required": [
            "TenantDomain",
            "SecretArn",
            "OneDriveUsers"
          ],
          "members": {
            "TenantDomain": {},
            "SecretArn": {},
            "OneDriveUsers": {
              "type": "structure",
              "members": {
                "OneDriveUserList": {
                  "type": "list",
                  "member": {}
                },
                "OneDriveUserS3Path": {
                  "shape": "Sj"
                }
              }
            },
            "InclusionPatterns": {
              "shape": "S19"
            },
            "ExclusionPatterns": {
              "shape": "S19"
            },
            "FieldMappings": {
              "shape": "S1o"
            }
          }
        },
        "ServiceNowConfiguration": {
          "type": "structure",
          "required": [
            "HostUrl",
            "SecretArn",
            "ServiceNowBuildVersion"
          ],
          "members": {
            "HostUrl": {},
            "SecretArn": {},
            "ServiceNowBuildVersion": {},
            "KnowledgeArticleConfiguration": {
              "type": "structure",
              "required": [
                "DocumentDataFieldName"
              ],
              "members": {
                "CrawlAttachments": {
                  "type": "boolean"
                },
                "IncludeAttachmentFilePatterns": {
                  "shape": "S19"
                },
                "ExcludeAttachmentFilePatterns": {
                  "shape": "S19"
                },
                "DocumentDataFieldName": {},
                "DocumentTitleFieldName": {},
                "FieldMappings": {
                  "shape": "S1o"
                }
              }
            },
            "ServiceCatalogConfiguration": {
              "type": "structure",
              "required": [
                "DocumentDataFieldName"
              ],
              "members": {
                "CrawlAttachments": {
                  "type": "boolean"
                },
                "IncludeAttachmentFilePatterns": {
                  "shape": "S19"
                },
                "ExcludeAttachmentFilePatterns": {
                  "shape": "S19"
                },
                "DocumentDataFieldName": {},
                "DocumentTitleFieldName": {},
                "FieldMappings": {
                  "shape": "S1o"
                }
              }
            }
          }
        }
      }
    },
    "S19": {
      "type": "list",
      "member": {}
    },
    "S1j": {
      "type": "structure",
      "required": [
        "SubnetIds",
        "SecurityGroupIds"
      ],
      "members": {
        "SubnetIds": {
          "type": "list",
          "member": {}
        },
        "SecurityGroupIds": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S1o": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "DataSourceFieldName",
          "IndexFieldName"
        ],
        "members": {
          "DataSourceFieldName": {},
          "DateFieldFormat": {},
          "IndexFieldName": {}
        }
      }
    },
    "S2v": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "S37": {
      "type": "structure",
      "members": {
        "KmsKeyId": {
          "type": "string",
          "sensitive": true
        }
      }
    },
    "S3n": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Type"
        ],
        "members": {
          "Name": {},
          "Type": {},
          "Relevance": {
            "type": "structure",
            "members": {
              "Freshness": {
                "type": "boolean"
              },
              "Importance": {
                "type": "integer"
              },
              "Duration": {},
              "RankOrder": {},
              "ValueImportanceMap": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "integer"
                }
              }
            }
          },
          "Search": {
            "type": "structure",
            "members": {
              "Facetable": {
                "type": "boolean"
              },
              "Searchable": {
                "type": "boolean"
              },
              "Displayable": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "S45": {
      "type": "structure",
      "required": [
        "StorageCapacityUnits",
        "QueryCapacityUnits"
      ],
      "members": {
        "StorageCapacityUnits": {
          "type": "integer"
        },
        "QueryCapacityUnits": {
          "type": "integer"
        }
      }
    },
    "S52": {
      "type": "structure",
      "members": {
        "AndAllFilters": {
          "shape": "S53"
        },
        "OrAllFilters": {
          "shape": "S53"
        },
        "NotFilter": {
          "shape": "S52"
        },
        "EqualsTo": {
          "shape": "Sn"
        },
        "ContainsAll": {
          "shape": "Sn"
        },
        "ContainsAny": {
          "shape": "Sn"
        },
        "GreaterThan": {
          "shape": "Sn"
        },
        "GreaterThanOrEquals": {
          "shape": "Sn"
        },
        "LessThan": {
          "shape": "Sn"
        },
        "LessThanOrEquals": {
          "shape": "Sn"
        }
      }
    },
    "S53": {
      "type": "list",
      "member": {
        "shape": "S52"
      }
    },
    "S5i": {
      "type": "structure",
      "members": {
        "Text": {},
        "Highlights": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "BeginOffset",
              "EndOffset"
            ],
            "members": {
              "BeginOffset": {
                "type": "integer"
              },
              "EndOffset": {
                "type": "integer"
              },
              "TopAnswer": {
                "type": "boolean"
              }
            }
          }
        }
      }
    }
  }
}