{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-02-03",
    "endpointPrefix": "kendra",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "kendra",
    "serviceFullName": "AWSKendraFrontendService",
    "serviceId": "kendra",
    "signatureVersion": "v4",
    "signingName": "kendra",
    "targetPrefix": "AWSKendraFrontendService",
    "uid": "kendra-2019-02-03"
  },
  "operations": {
    "BatchDeleteDocument": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId",
          "DocumentIdList"
        ],
        "members": {
          "IndexId": {},
          "DocumentIdList": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedDocuments": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "BatchPutDocument": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId",
          "Documents"
        ],
        "members": {
          "IndexId": {},
          "RoleArn": {},
          "Documents": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id"
              ],
              "members": {
                "Id": {},
                "Title": {},
                "Blob": {
                  "type": "blob"
                },
                "S3Path": {
                  "shape": "Sg"
                },
                "Attributes": {
                  "shape": "Sj"
                },
                "AccessControlList": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "Name",
                      "Type",
                      "Access"
                    ],
                    "members": {
                      "Name": {},
                      "Type": {},
                      "Access": {}
                    }
                  }
                },
                "ContentType": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedDocuments": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "CreateDataSource": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "IndexId",
          "Type",
          "Configuration",
          "RoleArn"
        ],
        "members": {
          "Name": {},
          "IndexId": {},
          "Type": {},
          "Configuration": {
            "shape": "S14"
          },
          "Description": {},
          "Schedule": {},
          "RoleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      }
    },
    "CreateFaq": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId",
          "Name",
          "S3Path",
          "RoleArn"
        ],
        "members": {
          "IndexId": {},
          "Name": {},
          "Description": {},
          "S3Path": {
            "shape": "Sg"
          },
          "RoleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Id": {}
        }
      }
    },
    "CreateIndex": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "RoleArn"
        ],
        "members": {
          "Name": {},
          "RoleArn": {},
          "ServerSideEncryptionConfiguration": {
            "shape": "S2b"
          },
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Id": {}
        }
      }
    },
    "DeleteFaq": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {}
        }
      }
    },
    "DeleteIndex": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      }
    },
    "DescribeDataSource": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Id": {},
          "IndexId": {},
          "Name": {},
          "Type": {},
          "Configuration": {
            "shape": "S14"
          },
          "CreatedAt": {
            "type": "timestamp"
          },
          "UpdatedAt": {
            "type": "timestamp"
          },
          "Description": {},
          "Status": {},
          "Schedule": {},
          "RoleArn": {},
          "ErrorMessage": {}
        }
      }
    },
    "DescribeFaq": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Id": {},
          "IndexId": {},
          "Name": {},
          "Description": {},
          "CreatedAt": {
            "type": "timestamp"
          },
          "UpdatedAt": {
            "type": "timestamp"
          },
          "S3Path": {
            "shape": "Sg"
          },
          "Status": {},
          "RoleArn": {},
          "ErrorMessage": {}
        }
      }
    },
    "DescribeIndex": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "Id": {},
          "RoleArn": {},
          "ServerSideEncryptionConfiguration": {
            "shape": "S2b"
          },
          "Status": {},
          "Description": {},
          "CreatedAt": {
            "type": "timestamp"
          },
          "UpdatedAt": {
            "type": "timestamp"
          },
          "DocumentMetadataConfigurations": {
            "shape": "S2p"
          },
          "IndexStatistics": {
            "type": "structure",
            "required": [
              "FaqStatistics",
              "TextDocumentStatistics"
            ],
            "members": {
              "FaqStatistics": {
                "type": "structure",
                "required": [
                  "IndexedQuestionAnswersCount"
                ],
                "members": {
                  "IndexedQuestionAnswersCount": {
                    "type": "integer"
                  }
                }
              },
              "TextDocumentStatistics": {
                "type": "structure",
                "required": [
                  "IndexedTextDocumentsCount"
                ],
                "members": {
                  "IndexedTextDocumentsCount": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "ErrorMessage": {}
        }
      }
    },
    "ListDataSourceSyncJobs": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "StartTimeFilter": {
            "type": "structure",
            "members": {
              "StartTime": {
                "type": "timestamp"
              },
              "EndTime": {
                "type": "timestamp"
              }
            }
          },
          "StatusFilter": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "History": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ExecutionId": {},
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "Status": {},
                "ErrorMessage": {},
                "ErrorCode": {},
                "DataSourceErrorCode": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDataSources": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId"
        ],
        "members": {
          "IndexId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SummaryItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Id": {},
                "Type": {},
                "CreatedAt": {
                  "type": "timestamp"
                },
                "UpdatedAt": {
                  "type": "timestamp"
                },
                "Status": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListFaqs": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId"
        ],
        "members": {
          "IndexId": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "FaqSummaryItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Name": {},
                "Status": {},
                "CreatedAt": {
                  "type": "timestamp"
                },
                "UpdatedAt": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListIndices": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IndexConfigurationSummaryItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "CreatedAt",
                "UpdatedAt",
                "Status"
              ],
              "members": {
                "Name": {},
                "Id": {},
                "CreatedAt": {
                  "type": "timestamp"
                },
                "UpdatedAt": {
                  "type": "timestamp"
                },
                "Status": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "Query": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId",
          "QueryText"
        ],
        "members": {
          "IndexId": {},
          "QueryText": {},
          "AttributeFilter": {
            "shape": "S3v"
          },
          "Facets": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DocumentAttributeKey": {}
              }
            }
          },
          "RequestedDocumentAttributes": {
            "type": "list",
            "member": {}
          },
          "QueryResultTypeFilter": {},
          "PageNumber": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "QueryId": {},
          "ResultItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {},
                "Type": {},
                "AdditionalAttributes": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "Key",
                      "ValueType",
                      "Value"
                    ],
                    "members": {
                      "Key": {},
                      "ValueType": {},
                      "Value": {
                        "type": "structure",
                        "members": {
                          "TextWithHighlightsValue": {
                            "shape": "S4b"
                          }
                        }
                      }
                    }
                  }
                },
                "DocumentId": {},
                "DocumentTitle": {
                  "shape": "S4b"
                },
                "DocumentExcerpt": {
                  "shape": "S4b"
                },
                "DocumentURI": {},
                "DocumentAttributes": {
                  "shape": "Sj"
                }
              }
            }
          },
          "FacetResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DocumentAttributeKey": {},
                "DocumentAttributeValueCountPairs": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "DocumentAttributeValue": {
                        "shape": "Sm"
                      },
                      "Count": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "TotalNumberOfResults": {
            "type": "integer"
          }
        }
      }
    },
    "StartDataSourceSyncJob": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExecutionId": {}
        }
      }
    },
    "StopDataSourceSyncJob": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "IndexId": {}
        }
      }
    },
    "SubmitFeedback": {
      "input": {
        "type": "structure",
        "required": [
          "IndexId",
          "QueryId"
        ],
        "members": {
          "IndexId": {},
          "QueryId": {},
          "ClickFeedbackItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ResultId",
                "ClickTime"
              ],
              "members": {
                "ResultId": {},
                "ClickTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "RelevanceFeedbackItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ResultId",
                "RelevanceValue"
              ],
              "members": {
                "ResultId": {},
                "RelevanceValue": {}
              }
            }
          }
        }
      }
    },
    "UpdateDataSource": {
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "IndexId"
        ],
        "members": {
          "Id": {},
          "Name": {},
          "IndexId": {},
          "Configuration": {
            "shape": "S14"
          },
          "Description": {},
          "Schedule": {},
          "RoleArn": {}
        }
      }
    },
    "UpdateIndex": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {},
          "Name": {},
          "RoleArn": {},
          "Description": {},
          "DocumentMetadataConfigurationUpdates": {
            "shape": "S2p"
          }
        }
      }
    }
  },
  "shapes": {
    "Sg": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {},
        "Key": {}
      }
    },
    "Sj": {
      "type": "list",
      "member": {
        "shape": "Sk"
      }
    },
    "Sk": {
      "type": "structure",
      "required": [
        "Key",
        "Value"
      ],
      "members": {
        "Key": {},
        "Value": {
          "shape": "Sm"
        }
      }
    },
    "Sm": {
      "type": "structure",
      "members": {
        "StringValue": {},
        "StringListValue": {
          "type": "list",
          "member": {}
        },
        "LongValue": {
          "type": "long"
        },
        "DateValue": {
          "type": "timestamp"
        }
      }
    },
    "S14": {
      "type": "structure",
      "members": {
        "S3Configuration": {
          "type": "structure",
          "required": [
            "BucketName"
          ],
          "members": {
            "BucketName": {},
            "InclusionPrefixes": {
              "shape": "S16"
            },
            "ExclusionPatterns": {
              "shape": "S16"
            },
            "DocumentsMetadataConfiguration": {
              "type": "structure",
              "members": {
                "S3Prefix": {}
              }
            },
            "AccessControlListConfiguration": {
              "type": "structure",
              "members": {
                "KeyPath": {}
              }
            }
          }
        },
        "SharePointConfiguration": {
          "type": "structure",
          "required": [
            "SharePointVersion",
            "Urls",
            "SecretArn"
          ],
          "members": {
            "SharePointVersion": {},
            "Urls": {
              "type": "list",
              "member": {}
            },
            "SecretArn": {},
            "CrawlAttachments": {
              "type": "boolean"
            },
            "VpcConfiguration": {
              "shape": "S1g"
            },
            "FieldMappings": {
              "shape": "S1l"
            },
            "DocumentTitleFieldName": {}
          }
        },
        "DatabaseConfiguration": {
          "type": "structure",
          "required": [
            "DatabaseEngineType",
            "ConnectionConfiguration",
            "ColumnConfiguration"
          ],
          "members": {
            "DatabaseEngineType": {},
            "ConnectionConfiguration": {
              "type": "structure",
              "required": [
                "DatabaseHost",
                "DatabasePort",
                "DatabaseName",
                "TableName",
                "SecretArn"
              ],
              "members": {
                "DatabaseHost": {},
                "DatabasePort": {
                  "type": "integer"
                },
                "DatabaseName": {},
                "TableName": {},
                "SecretArn": {}
              }
            },
            "VpcConfiguration": {
              "shape": "S1g"
            },
            "ColumnConfiguration": {
              "type": "structure",
              "required": [
                "DocumentIdColumnName",
                "DocumentDataColumnName",
                "ChangeDetectingColumns"
              ],
              "members": {
                "DocumentIdColumnName": {},
                "DocumentDataColumnName": {},
                "DocumentTitleColumnName": {},
                "FieldMappings": {
                  "shape": "S1l"
                },
                "ChangeDetectingColumns": {
                  "type": "list",
                  "member": {}
                }
              }
            },
            "AclConfiguration": {
              "type": "structure",
              "required": [
                "AllowedGroupsColumnName"
              ],
              "members": {
                "AllowedGroupsColumnName": {}
              }
            }
          }
        }
      }
    },
    "S16": {
      "type": "list",
      "member": {}
    },
    "S1g": {
      "type": "structure",
      "required": [
        "SubnetIds",
        "SecurityGroupIds"
      ],
      "members": {
        "SubnetIds": {
          "type": "list",
          "member": {}
        },
        "SecurityGroupIds": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S1l": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "DataSourceFieldName",
          "IndexFieldName"
        ],
        "members": {
          "DataSourceFieldName": {},
          "DateFieldFormat": {},
          "IndexFieldName": {}
        }
      }
    },
    "S2b": {
      "type": "structure",
      "members": {
        "KmsKeyId": {
          "type": "string",
          "sensitive": true
        }
      }
    },
    "S2p": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Type"
        ],
        "members": {
          "Name": {},
          "Type": {},
          "Relevance": {
            "type": "structure",
            "members": {
              "Freshness": {
                "type": "boolean"
              },
              "Importance": {
                "type": "integer"
              },
              "Duration": {},
              "RankOrder": {},
              "ValueImportanceMap": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "integer"
                }
              }
            }
          },
          "Search": {
            "type": "structure",
            "members": {
              "Facetable": {
                "type": "boolean"
              },
              "Searchable": {
                "type": "boolean"
              },
              "Displayable": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "S3v": {
      "type": "structure",
      "members": {
        "AndAllFilters": {
          "shape": "S3w"
        },
        "OrAllFilters": {
          "shape": "S3w"
        },
        "NotFilter": {
          "shape": "S3v"
        },
        "EqualsTo": {
          "shape": "Sk"
        },
        "ContainsAll": {
          "shape": "Sk"
        },
        "ContainsAny": {
          "shape": "Sk"
        },
        "GreaterThan": {
          "shape": "Sk"
        },
        "GreaterThanOrEquals": {
          "shape": "Sk"
        },
        "LessThan": {
          "shape": "Sk"
        },
        "LessThanOrEquals": {
          "shape": "Sk"
        }
      }
    },
    "S3w": {
      "type": "list",
      "member": {
        "shape": "S3v"
      }
    },
    "S4b": {
      "type": "structure",
      "members": {
        "Text": {},
        "Highlights": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "BeginOffset",
              "EndOffset"
            ],
            "members": {
              "BeginOffset": {
                "type": "integer"
              },
              "EndOffset": {
                "type": "integer"
              },
              "TopAnswer": {
                "type": "boolean"
              }
            }
          }
        }
      }
    }
  }
}