{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-08-14",
    "endpointPrefix": "kinesisanalytics",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Kinesis Analytics",
    "serviceFullName": "Amazon Kinesis Analytics",
    "serviceId": "Kinesis Analytics",
    "signatureVersion": "v4",
    "targetPrefix": "KinesisAnalytics_20150814",
    "timestampFormat": "unixTimestamp",
    "uid": "kinesisanalytics-2015-08-14"
  },
  "operations": {
    "AddApplicationCloudWatchLoggingOption": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "CurrentApplicationVersionId",
          "CloudWatchLoggingOption"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "CurrentApplicationVersionId": {
            "shape": "S3"
          },
          "CloudWatchLoggingOption": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AddApplicationInput": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "CurrentApplicationVersionId",
          "Input"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "CurrentApplicationVersionId": {
            "shape": "S3"
          },
          "Input": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AddApplicationInputProcessingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "CurrentApplicationVersionId",
          "InputId",
          "InputProcessingConfiguration"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "CurrentApplicationVersionId": {
            "shape": "S3"
          },
          "InputId": {
            "shape": "Sz"
          },
          "InputProcessingConfiguration": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AddApplicationOutput": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "CurrentApplicationVersionId",
          "Output"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "CurrentApplicationVersionId": {
            "shape": "S3"
          },
          "Output": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "AddApplicationReferenceDataSource": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "CurrentApplicationVersionId",
          "ReferenceDataSource"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "CurrentApplicationVersionId": {
            "shape": "S3"
          },
          "ReferenceDataSource": {
            "type": "structure",
            "required": [
              "TableName",
              "ReferenceSchema"
            ],
            "members": {
              "TableName": {
                "shape": "S1a"
              },
              "S3ReferenceDataSource": {
                "type": "structure",
                "required": [
                  "BucketARN",
                  "FileKey",
                  "ReferenceRoleARN"
                ],
                "members": {
                  "BucketARN": {
                    "shape": "S1c"
                  },
                  "FileKey": {
                    "shape": "S1d"
                  },
                  "ReferenceRoleARN": {
                    "shape": "S6"
                  }
                }
              },
              "ReferenceSchema": {
                "shape": "Si"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateApplication": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "ApplicationDescription": {
            "shape": "S1g"
          },
          "Inputs": {
            "type": "list",
            "member": {
              "shape": "S9"
            }
          },
          "Outputs": {
            "type": "list",
            "member": {
              "shape": "S12"
            }
          },
          "CloudWatchLoggingOptions": {
            "type": "list",
            "member": {
              "shape": "S4"
            }
          },
          "ApplicationCode": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ApplicationSummary"
        ],
        "members": {
          "ApplicationSummary": {
            "shape": "S1m"
          }
        }
      }
    },
    "DeleteApplication": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "CreateTimestamp"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "CreateTimestamp": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteApplicationCloudWatchLoggingOption": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "CurrentApplicationVersionId",
          "CloudWatchLoggingOptionId"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "CurrentApplicationVersionId": {
            "shape": "S3"
          },
          "CloudWatchLoggingOptionId": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteApplicationInputProcessingConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "CurrentApplicationVersionId",
          "InputId"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "CurrentApplicationVersionId": {
            "shape": "S3"
          },
          "InputId": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteApplicationOutput": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "CurrentApplicationVersionId",
          "OutputId"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "CurrentApplicationVersionId": {
            "shape": "S3"
          },
          "OutputId": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteApplicationReferenceDataSource": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "CurrentApplicationVersionId",
          "ReferenceId"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "CurrentApplicationVersionId": {
            "shape": "S3"
          },
          "ReferenceId": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeApplication": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ApplicationDetail"
        ],
        "members": {
          "ApplicationDetail": {
            "type": "structure",
            "required": [
              "ApplicationName",
              "ApplicationARN",
              "ApplicationStatus",
              "ApplicationVersionId"
            ],
            "members": {
              "ApplicationName": {
                "shape": "S2"
              },
              "ApplicationDescription": {
                "shape": "S1g"
              },
              "ApplicationARN": {
                "shape": "Sd"
              },
              "ApplicationStatus": {
                "shape": "S1n"
              },
              "CreateTimestamp": {
                "type": "timestamp"
              },
              "LastUpdateTimestamp": {
                "type": "timestamp"
              },
              "InputDescriptions": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "InputId": {
                      "shape": "Sz"
                    },
                    "NamePrefix": {
                      "shape": "Sa"
                    },
                    "InAppStreamNames": {
                      "type": "list",
                      "member": {
                        "shape": "Sa"
                      }
                    },
                    "InputProcessingConfigurationDescription": {
                      "type": "structure",
                      "members": {
                        "InputLambdaProcessorDescription": {
                          "type": "structure",
                          "members": {
                            "ResourceARN": {
                              "shape": "Sd"
                            },
                            "RoleARN": {
                              "shape": "S6"
                            }
                          }
                        }
                      }
                    },
                    "KinesisStreamsInputDescription": {
                      "type": "structure",
                      "members": {
                        "ResourceARN": {
                          "shape": "Sd"
                        },
                        "RoleARN": {
                          "shape": "S6"
                        }
                      }
                    },
                    "KinesisFirehoseInputDescription": {
                      "type": "structure",
                      "members": {
                        "ResourceARN": {
                          "shape": "Sd"
                        },
                        "RoleARN": {
                          "shape": "S6"
                        }
                      }
                    },
                    "InputSchema": {
                      "shape": "Si"
                    },
                    "InputParallelism": {
                      "shape": "Sg"
                    },
                    "InputStartingPositionConfiguration": {
                      "shape": "S29"
                    }
                  }
                }
              },
              "OutputDescriptions": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "OutputId": {
                      "shape": "Sz"
                    },
                    "Name": {
                      "shape": "Sa"
                    },
                    "KinesisStreamsOutputDescription": {
                      "type": "structure",
                      "members": {
                        "ResourceARN": {
                          "shape": "Sd"
                        },
                        "RoleARN": {
                          "shape": "S6"
                        }
                      }
                    },
                    "KinesisFirehoseOutputDescription": {
                      "type": "structure",
                      "members": {
                        "ResourceARN": {
                          "shape": "Sd"
                        },
                        "RoleARN": {
                          "shape": "S6"
                        }
                      }
                    },
                    "LambdaOutputDescription": {
                      "type": "structure",
                      "members": {
                        "ResourceARN": {
                          "shape": "Sd"
                        },
                        "RoleARN": {
                          "shape": "S6"
                        }
                      }
                    },
                    "DestinationSchema": {
                      "shape": "S16"
                    }
                  }
                }
              },
              "ReferenceDataSourceDescriptions": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "ReferenceId",
                    "TableName",
                    "S3ReferenceDataSourceDescription"
                  ],
                  "members": {
                    "ReferenceId": {
                      "shape": "Sz"
                    },
                    "TableName": {
                      "shape": "S1a"
                    },
                    "S3ReferenceDataSourceDescription": {
                      "type": "structure",
                      "required": [
                        "BucketARN",
                        "FileKey",
                        "ReferenceRoleARN"
                      ],
                      "members": {
                        "BucketARN": {
                          "shape": "S1c"
                        },
                        "FileKey": {
                          "shape": "S1d"
                        },
                        "ReferenceRoleARN": {
                          "shape": "S6"
                        }
                      }
                    },
                    "ReferenceSchema": {
                      "shape": "Si"
                    }
                  }
                }
              },
              "CloudWatchLoggingOptionDescriptions": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "LogStreamARN",
                    "RoleARN"
                  ],
                  "members": {
                    "CloudWatchLoggingOptionId": {
                      "shape": "Sz"
                    },
                    "LogStreamARN": {
                      "shape": "S5"
                    },
                    "RoleARN": {
                      "shape": "S6"
                    }
                  }
                }
              },
              "ApplicationCode": {
                "shape": "S1k"
              },
              "ApplicationVersionId": {
                "shape": "S3"
              }
            }
          }
        }
      }
    },
    "DiscoverInputSchema": {
      "input": {
        "type": "structure",
        "members": {
          "ResourceARN": {
            "shape": "Sd"
          },
          "RoleARN": {
            "shape": "S6"
          },
          "InputStartingPositionConfiguration": {
            "shape": "S29"
          },
          "S3Configuration": {
            "type": "structure",
            "required": [
              "RoleARN",
              "BucketARN",
              "FileKey"
            ],
            "members": {
              "RoleARN": {
                "shape": "S6"
              },
              "BucketARN": {
                "shape": "S1c"
              },
              "FileKey": {
                "shape": "S1d"
              }
            }
          },
          "InputProcessingConfiguration": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InputSchema": {
            "shape": "Si"
          },
          "ParsedInputRecords": {
            "type": "list",
            "member": {
              "type": "list",
              "member": {}
            }
          },
          "ProcessedInputRecords": {
            "type": "list",
            "member": {}
          },
          "RawInputRecords": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "ListApplications": {
      "input": {
        "type": "structure",
        "members": {
          "Limit": {
            "type": "integer",
            "max": 50,
            "min": 1
          },
          "ExclusiveStartApplicationName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ApplicationSummaries",
          "HasMoreApplications"
        ],
        "members": {
          "ApplicationSummaries": {
            "type": "list",
            "member": {
              "shape": "S1m"
            }
          },
          "HasMoreApplications": {
            "type": "boolean"
          }
        }
      }
    },
    "StartApplication": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "InputConfigurations"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "InputConfigurations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id",
                "InputStartingPositionConfiguration"
              ],
              "members": {
                "Id": {
                  "shape": "Sz"
                },
                "InputStartingPositionConfiguration": {
                  "shape": "S29"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopApplication": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateApplication": {
      "input": {
        "type": "structure",
        "required": [
          "ApplicationName",
          "CurrentApplicationVersionId",
          "ApplicationUpdate"
        ],
        "members": {
          "ApplicationName": {
            "shape": "S2"
          },
          "CurrentApplicationVersionId": {
            "shape": "S3"
          },
          "ApplicationUpdate": {
            "type": "structure",
            "members": {
              "InputUpdates": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "InputId"
                  ],
                  "members": {
                    "InputId": {
                      "shape": "Sz"
                    },
                    "NamePrefixUpdate": {
                      "shape": "Sa"
                    },
                    "InputProcessingConfigurationUpdate": {
                      "type": "structure",
                      "required": [
                        "InputLambdaProcessorUpdate"
                      ],
                      "members": {
                        "InputLambdaProcessorUpdate": {
                          "type": "structure",
                          "members": {
                            "ResourceARNUpdate": {
                              "shape": "Sd"
                            },
                            "RoleARNUpdate": {
                              "shape": "S6"
                            }
                          }
                        }
                      }
                    },
                    "KinesisStreamsInputUpdate": {
                      "type": "structure",
                      "members": {
                        "ResourceARNUpdate": {
                          "shape": "Sd"
                        },
                        "RoleARNUpdate": {
                          "shape": "S6"
                        }
                      }
                    },
                    "KinesisFirehoseInputUpdate": {
                      "type": "structure",
                      "members": {
                        "ResourceARNUpdate": {
                          "shape": "Sd"
                        },
                        "RoleARNUpdate": {
                          "shape": "S6"
                        }
                      }
                    },
                    "InputSchemaUpdate": {
                      "type": "structure",
                      "members": {
                        "RecordFormatUpdate": {
                          "shape": "Sj"
                        },
                        "RecordEncodingUpdate": {
                          "shape": "Sr"
                        },
                        "RecordColumnUpdates": {
                          "shape": "Ss"
                        }
                      }
                    },
                    "InputParallelismUpdate": {
                      "type": "structure",
                      "members": {
                        "CountUpdate": {
                          "shape": "Sh"
                        }
                      }
                    }
                  }
                }
              },
              "ApplicationCodeUpdate": {
                "shape": "S1k"
              },
              "OutputUpdates": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "OutputId"
                  ],
                  "members": {
                    "OutputId": {
                      "shape": "Sz"
                    },
                    "NameUpdate": {
                      "shape": "Sa"
                    },
                    "KinesisStreamsOutputUpdate": {
                      "type": "structure",
                      "members": {
                        "ResourceARNUpdate": {
                          "shape": "Sd"
                        },
                        "RoleARNUpdate": {
                          "shape": "S6"
                        }
                      }
                    },
                    "KinesisFirehoseOutputUpdate": {
                      "type": "structure",
                      "members": {
                        "ResourceARNUpdate": {
                          "shape": "Sd"
                        },
                        "RoleARNUpdate": {
                          "shape": "S6"
                        }
                      }
                    },
                    "LambdaOutputUpdate": {
                      "type": "structure",
                      "members": {
                        "ResourceARNUpdate": {
                          "shape": "Sd"
                        },
                        "RoleARNUpdate": {
                          "shape": "S6"
                        }
                      }
                    },
                    "DestinationSchemaUpdate": {
                      "shape": "S16"
                    }
                  }
                }
              },
              "ReferenceDataSourceUpdates": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "ReferenceId"
                  ],
                  "members": {
                    "ReferenceId": {
                      "shape": "Sz"
                    },
                    "TableNameUpdate": {
                      "shape": "S1a"
                    },
                    "S3ReferenceDataSourceUpdate": {
                      "type": "structure",
                      "members": {
                        "BucketARNUpdate": {
                          "shape": "S1c"
                        },
                        "FileKeyUpdate": {
                          "shape": "S1d"
                        },
                        "ReferenceRoleARNUpdate": {
                          "shape": "S6"
                        }
                      }
                    },
                    "ReferenceSchemaUpdate": {
                      "shape": "Si"
                    }
                  }
                }
              },
              "CloudWatchLoggingOptionUpdates": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "CloudWatchLoggingOptionId"
                  ],
                  "members": {
                    "CloudWatchLoggingOptionId": {
                      "shape": "Sz"
                    },
                    "LogStreamARNUpdate": {
                      "shape": "S5"
                    },
                    "RoleARNUpdate": {
                      "shape": "S6"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "S3": {
      "type": "long",
      "max": 999999999,
      "min": 1
    },
    "S4": {
      "type": "structure",
      "required": [
        "LogStreamARN",
        "RoleARN"
      ],
      "members": {
        "LogStreamARN": {
          "shape": "S5"
        },
        "RoleARN": {
          "shape": "S6"
        }
      }
    },
    "S5": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "arn:.*"
    },
    "S6": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+"
    },
    "S9": {
      "type": "structure",
      "required": [
        "NamePrefix",
        "InputSchema"
      ],
      "members": {
        "NamePrefix": {
          "shape": "Sa"
        },
        "InputProcessingConfiguration": {
          "shape": "Sb"
        },
        "KinesisStreamsInput": {
          "type": "structure",
          "required": [
            "ResourceARN",
            "RoleARN"
          ],
          "members": {
            "ResourceARN": {
              "shape": "Sd"
            },
            "RoleARN": {
              "shape": "S6"
            }
          }
        },
        "KinesisFirehoseInput": {
          "type": "structure",
          "required": [
            "ResourceARN",
            "RoleARN"
          ],
          "members": {
            "ResourceARN": {
              "shape": "Sd"
            },
            "RoleARN": {
              "shape": "S6"
            }
          }
        },
        "InputParallelism": {
          "shape": "Sg"
        },
        "InputSchema": {
          "shape": "Si"
        }
      }
    },
    "Sa": {
      "type": "string",
      "max": 32,
      "min": 1,
      "pattern": "[a-zA-Z][a-zA-Z0-9_]+"
    },
    "Sb": {
      "type": "structure",
      "required": [
        "InputLambdaProcessor"
      ],
      "members": {
        "InputLambdaProcessor": {
          "type": "structure",
          "required": [
            "ResourceARN",
            "RoleARN"
          ],
          "members": {
            "ResourceARN": {
              "shape": "Sd"
            },
            "RoleARN": {
              "shape": "S6"
            }
          }
        }
      }
    },
    "Sd": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "arn:.*"
    },
    "Sg": {
      "type": "structure",
      "members": {
        "Count": {
          "shape": "Sh"
        }
      }
    },
    "Sh": {
      "type": "integer",
      "max": 64,
      "min": 1
    },
    "Si": {
      "type": "structure",
      "required": [
        "RecordFormat",
        "RecordColumns"
      ],
      "members": {
        "RecordFormat": {
          "shape": "Sj"
        },
        "RecordEncoding": {
          "shape": "Sr"
        },
        "RecordColumns": {
          "shape": "Ss"
        }
      }
    },
    "Sj": {
      "type": "structure",
      "required": [
        "RecordFormatType"
      ],
      "members": {
        "RecordFormatType": {
          "shape": "Sk"
        },
        "MappingParameters": {
          "type": "structure",
          "members": {
            "JSONMappingParameters": {
              "type": "structure",
              "required": [
                "RecordRowPath"
              ],
              "members": {
                "RecordRowPath": {
                  "type": "string",
                  "min": 1
                }
              }
            },
            "CSVMappingParameters": {
              "type": "structure",
              "required": [
                "RecordRowDelimiter",
                "RecordColumnDelimiter"
              ],
              "members": {
                "RecordRowDelimiter": {
                  "type": "string",
                  "min": 1
                },
                "RecordColumnDelimiter": {
                  "type": "string",
                  "min": 1
                }
              }
            }
          }
        }
      }
    },
    "Sk": {
      "type": "string",
      "enum": [
        "JSON",
        "CSV"
      ]
    },
    "Sr": {
      "type": "string",
      "pattern": "UTF-8"
    },
    "Ss": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "SqlType"
        ],
        "members": {
          "Name": {
            "type": "string",
            "pattern": "[a-zA-Z_][a-zA-Z0-9_]*"
          },
          "Mapping": {},
          "SqlType": {
            "type": "string",
            "min": 1
          }
        }
      },
      "max": 1000,
      "min": 1
    },
    "Sz": {
      "type": "string",
      "max": 50,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "S12": {
      "type": "structure",
      "required": [
        "Name",
        "DestinationSchema"
      ],
      "members": {
        "Name": {
          "shape": "Sa"
        },
        "KinesisStreamsOutput": {
          "type": "structure",
          "required": [
            "ResourceARN",
            "RoleARN"
          ],
          "members": {
            "ResourceARN": {
              "shape": "Sd"
            },
            "RoleARN": {
              "shape": "S6"
            }
          }
        },
        "KinesisFirehoseOutput": {
          "type": "structure",
          "required": [
            "ResourceARN",
            "RoleARN"
          ],
          "members": {
            "ResourceARN": {
              "shape": "Sd"
            },
            "RoleARN": {
              "shape": "S6"
            }
          }
        },
        "LambdaOutput": {
          "type": "structure",
          "required": [
            "ResourceARN",
            "RoleARN"
          ],
          "members": {
            "ResourceARN": {
              "shape": "Sd"
            },
            "RoleARN": {
              "shape": "S6"
            }
          }
        },
        "DestinationSchema": {
          "shape": "S16"
        }
      }
    },
    "S16": {
      "type": "structure",
      "members": {
        "RecordFormatType": {
          "shape": "Sk"
        }
      }
    },
    "S1a": {
      "type": "string",
      "max": 32,
      "min": 1,
      "pattern": "[a-zA-Z][a-zA-Z0-9_]+"
    },
    "S1c": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "arn:.*"
    },
    "S1d": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "S1g": {
      "type": "string",
      "max": 1024,
      "min": 0
    },
    "S1k": {
      "type": "string",
      "max": 51200,
      "min": 0
    },
    "S1m": {
      "type": "structure",
      "required": [
        "ApplicationName",
        "ApplicationARN",
        "ApplicationStatus"
      ],
      "members": {
        "ApplicationName": {
          "shape": "S2"
        },
        "ApplicationARN": {
          "shape": "Sd"
        },
        "ApplicationStatus": {
          "shape": "S1n"
        }
      }
    },
    "S1n": {
      "type": "string",
      "enum": [
        "DELETING",
        "STARTING",
        "STOPPING",
        "READY",
        "RUNNING",
        "UPDATING"
      ]
    },
    "S29": {
      "type": "structure",
      "members": {
        "InputStartingPosition": {
          "type": "string",
          "enum": [
            "NOW",
            "TRIM_HORIZON",
            "LAST_STOPPED_POINT"
          ]
        }
      }
    }
  }
}