{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2013-12-02",
    "endpointPrefix": "kinesis",
    "jsonVersion": "1.1",
    "protocol": "json",
    "protocolSettings": {
      "h2": "eventstream"
    },
    "serviceAbbreviation": "Kinesis",
    "serviceFullName": "Amazon Kinesis",
    "serviceId": "Kinesis",
    "signatureVersion": "v4",
    "targetPrefix": "Kinesis_20131202",
    "uid": "kinesis-2013-12-02"
  },
  "operations": {
    "AddTagsToStream": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "Tags"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "Tags": {
            "type": "map",
            "key": {
              "shape": "S4"
            },
            "value": {
              "shape": "S5"
            },
            "max": 50,
            "min": 1
          }
        }
      }
    },
    "CreateStream": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "ShardCount"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "ShardCount": {
            "shape": "S7"
          }
        }
      }
    },
    "DecreaseStreamRetentionPeriod": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "RetentionPeriodHours"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "RetentionPeriodHours": {
            "shape": "S9"
          }
        }
      }
    },
    "DeleteStream": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "EnforceConsumerDeletion": {
            "type": "boolean"
          }
        }
      }
    },
    "DeregisterStreamConsumer": {
      "input": {
        "type": "structure",
        "members": {
          "StreamARN": {
            "shape": "Sd"
          },
          "ConsumerName": {
            "shape": "Se"
          },
          "ConsumerARN": {
            "shape": "Sf"
          }
        }
      }
    },
    "DescribeLimits": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "ShardLimit",
          "OpenShardCount"
        ],
        "members": {
          "ShardLimit": {
            "shape": "Si"
          },
          "OpenShardCount": {
            "shape": "Si"
          }
        }
      }
    },
    "DescribeStream": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "Limit": {
            "type": "integer",
            "max": 10000,
            "min": 1
          },
          "ExclusiveStartShardId": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "StreamDescription"
        ],
        "members": {
          "StreamDescription": {
            "type": "structure",
            "required": [
              "StreamName",
              "StreamARN",
              "StreamStatus",
              "Shards",
              "HasMoreShards",
              "RetentionPeriodHours",
              "StreamCreationTimestamp",
              "EnhancedMonitoring"
            ],
            "members": {
              "StreamName": {
                "shape": "S2"
              },
              "StreamARN": {
                "shape": "Sd"
              },
              "StreamStatus": {
                "shape": "So"
              },
              "Shards": {
                "shape": "Sp"
              },
              "HasMoreShards": {
                "type": "boolean"
              },
              "RetentionPeriodHours": {
                "shape": "S9"
              },
              "StreamCreationTimestamp": {
                "type": "timestamp"
              },
              "EnhancedMonitoring": {
                "shape": "Sw"
              },
              "EncryptionType": {
                "shape": "S10"
              },
              "KeyId": {
                "shape": "S11"
              }
            }
          }
        }
      }
    },
    "DescribeStreamConsumer": {
      "input": {
        "type": "structure",
        "members": {
          "StreamARN": {
            "shape": "Sd"
          },
          "ConsumerName": {
            "shape": "Se"
          },
          "ConsumerARN": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ConsumerDescription"
        ],
        "members": {
          "ConsumerDescription": {
            "type": "structure",
            "required": [
              "ConsumerName",
              "ConsumerARN",
              "ConsumerStatus",
              "ConsumerCreationTimestamp",
              "StreamARN"
            ],
            "members": {
              "ConsumerName": {
                "shape": "Se"
              },
              "ConsumerARN": {
                "shape": "Sf"
              },
              "ConsumerStatus": {
                "shape": "S15"
              },
              "ConsumerCreationTimestamp": {
                "type": "timestamp"
              },
              "StreamARN": {
                "shape": "Sd"
              }
            }
          }
        }
      }
    },
    "DescribeStreamSummary": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "StreamDescriptionSummary"
        ],
        "members": {
          "StreamDescriptionSummary": {
            "type": "structure",
            "required": [
              "StreamName",
              "StreamARN",
              "StreamStatus",
              "RetentionPeriodHours",
              "StreamCreationTimestamp",
              "EnhancedMonitoring",
              "OpenShardCount"
            ],
            "members": {
              "StreamName": {
                "shape": "S2"
              },
              "StreamARN": {
                "shape": "Sd"
              },
              "StreamStatus": {
                "shape": "So"
              },
              "RetentionPeriodHours": {
                "shape": "S7"
              },
              "StreamCreationTimestamp": {
                "type": "timestamp"
              },
              "EnhancedMonitoring": {
                "shape": "Sw"
              },
              "EncryptionType": {
                "shape": "S10"
              },
              "KeyId": {
                "shape": "S11"
              },
              "OpenShardCount": {
                "shape": "Si"
              },
              "ConsumerCount": {
                "type": "integer",
                "max": 1000000,
                "min": 0
              }
            }
          }
        }
      }
    },
    "DisableEnhancedMonitoring": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "ShardLevelMetrics"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "ShardLevelMetrics": {
            "shape": "Sy"
          }
        }
      },
      "output": {
        "shape": "S1b"
      }
    },
    "EnableEnhancedMonitoring": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "ShardLevelMetrics"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "ShardLevelMetrics": {
            "shape": "Sy"
          }
        }
      },
      "output": {
        "shape": "S1b"
      }
    },
    "GetRecords": {
      "input": {
        "type": "structure",
        "required": [
          "ShardIterator"
        ],
        "members": {
          "ShardIterator": {
            "shape": "S1e"
          },
          "Limit": {
            "type": "integer",
            "max": 10000,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Records"
        ],
        "members": {
          "Records": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "SequenceNumber",
                "Data",
                "PartitionKey"
              ],
              "members": {
                "SequenceNumber": {
                  "shape": "Su"
                },
                "ApproximateArrivalTimestamp": {
                  "type": "timestamp"
                },
                "Data": {
                  "shape": "S1j"
                },
                "PartitionKey": {
                  "shape": "S1k"
                },
                "EncryptionType": {
                  "shape": "S10"
                }
              }
            }
          },
          "NextShardIterator": {
            "shape": "S1e"
          },
          "MillisBehindLatest": {
            "type": "long",
            "min": 0
          }
        }
      }
    },
    "GetShardIterator": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "ShardId",
          "ShardIteratorType"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "ShardId": {
            "shape": "Sl"
          },
          "ShardIteratorType": {
            "type": "string",
            "enum": [
              "AT_SEQUENCE_NUMBER",
              "AFTER_SEQUENCE_NUMBER",
              "TRIM_HORIZON",
              "LATEST",
              "AT_TIMESTAMP"
            ]
          },
          "StartingSequenceNumber": {
            "shape": "Su"
          },
          "Timestamp": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ShardIterator": {
            "shape": "S1e"
          }
        }
      }
    },
    "IncreaseStreamRetentionPeriod": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "RetentionPeriodHours"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "RetentionPeriodHours": {
            "shape": "S9"
          }
        }
      }
    },
    "ListShards": {
      "input": {
        "type": "structure",
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "NextToken": {
            "shape": "S1r"
          },
          "ExclusiveStartShardId": {
            "shape": "Sl"
          },
          "MaxResults": {
            "type": "integer",
            "max": 10000,
            "min": 1
          },
          "StreamCreationTimestamp": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Shards": {
            "shape": "Sp"
          },
          "NextToken": {
            "shape": "S1r"
          }
        }
      }
    },
    "ListStreamConsumers": {
      "input": {
        "type": "structure",
        "required": [
          "StreamARN"
        ],
        "members": {
          "StreamARN": {
            "shape": "Sd"
          },
          "NextToken": {
            "shape": "S1r"
          },
          "MaxResults": {
            "type": "integer",
            "max": 10000,
            "min": 1
          },
          "StreamCreationTimestamp": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Consumers": {
            "type": "list",
            "member": {
              "shape": "S1y"
            }
          },
          "NextToken": {
            "shape": "S1r"
          }
        }
      }
    },
    "ListStreams": {
      "input": {
        "type": "structure",
        "members": {
          "Limit": {
            "type": "integer",
            "max": 10000,
            "min": 1
          },
          "ExclusiveStartStreamName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "StreamNames",
          "HasMoreStreams"
        ],
        "members": {
          "StreamNames": {
            "type": "list",
            "member": {
              "shape": "S2"
            }
          },
          "HasMoreStreams": {
            "type": "boolean"
          }
        }
      }
    },
    "ListTagsForStream": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "ExclusiveStartTagKey": {
            "shape": "S4"
          },
          "Limit": {
            "type": "integer",
            "max": 50,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Tags",
          "HasMoreTags"
        ],
        "members": {
          "Tags": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Key"
              ],
              "members": {
                "Key": {
                  "shape": "S4"
                },
                "Value": {
                  "shape": "S5"
                }
              }
            },
            "min": 0
          },
          "HasMoreTags": {
            "type": "boolean"
          }
        }
      }
    },
    "MergeShards": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "ShardToMerge",
          "AdjacentShardToMerge"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "ShardToMerge": {
            "shape": "Sl"
          },
          "AdjacentShardToMerge": {
            "shape": "Sl"
          }
        }
      }
    },
    "PutRecord": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "Data",
          "PartitionKey"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "Data": {
            "shape": "S1j"
          },
          "PartitionKey": {
            "shape": "S1k"
          },
          "ExplicitHashKey": {
            "shape": "Ss"
          },
          "SequenceNumberForOrdering": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ShardId",
          "SequenceNumber"
        ],
        "members": {
          "ShardId": {
            "shape": "Sl"
          },
          "SequenceNumber": {
            "shape": "Su"
          },
          "EncryptionType": {
            "shape": "S10"
          }
        }
      }
    },
    "PutRecords": {
      "input": {
        "type": "structure",
        "required": [
          "Records",
          "StreamName"
        ],
        "members": {
          "Records": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Data",
                "PartitionKey"
              ],
              "members": {
                "Data": {
                  "shape": "S1j"
                },
                "ExplicitHashKey": {
                  "shape": "Ss"
                },
                "PartitionKey": {
                  "shape": "S1k"
                }
              }
            },
            "max": 500,
            "min": 1
          },
          "StreamName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Records"
        ],
        "members": {
          "FailedRecordCount": {
            "shape": "S7"
          },
          "Records": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SequenceNumber": {
                  "shape": "Su"
                },
                "ShardId": {
                  "shape": "Sl"
                },
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            },
            "max": 500,
            "min": 1
          },
          "EncryptionType": {
            "shape": "S10"
          }
        }
      }
    },
    "RegisterStreamConsumer": {
      "input": {
        "type": "structure",
        "required": [
          "StreamARN",
          "ConsumerName"
        ],
        "members": {
          "StreamARN": {
            "shape": "Sd"
          },
          "ConsumerName": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Consumer"
        ],
        "members": {
          "Consumer": {
            "shape": "S1y"
          }
        }
      }
    },
    "RemoveTagsFromStream": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "TagKeys"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "TagKeys": {
            "type": "list",
            "member": {
              "shape": "S4"
            },
            "max": 50,
            "min": 1
          }
        }
      }
    },
    "SplitShard": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "ShardToSplit",
          "NewStartingHashKey"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "ShardToSplit": {
            "shape": "Sl"
          },
          "NewStartingHashKey": {
            "shape": "Ss"
          }
        }
      }
    },
    "StartStreamEncryption": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "EncryptionType",
          "KeyId"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "EncryptionType": {
            "shape": "S10"
          },
          "KeyId": {
            "shape": "S11"
          }
        }
      }
    },
    "StopStreamEncryption": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "EncryptionType",
          "KeyId"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "EncryptionType": {
            "shape": "S10"
          },
          "KeyId": {
            "shape": "S11"
          }
        }
      }
    },
    "UpdateShardCount": {
      "input": {
        "type": "structure",
        "required": [
          "StreamName",
          "TargetShardCount",
          "ScalingType"
        ],
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "TargetShardCount": {
            "shape": "S7"
          },
          "ScalingType": {
            "type": "string",
            "enum": [
              "UNIFORM_SCALING"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamName": {
            "shape": "S2"
          },
          "CurrentShardCount": {
            "shape": "S7"
          },
          "TargetShardCount": {
            "shape": "S7"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "S4": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S5": {
      "type": "string",
      "max": 256,
      "min": 0
    },
    "S7": {
      "type": "integer",
      "max": 100000,
      "min": 1
    },
    "S9": {
      "type": "integer",
      "max": 168,
      "min": 1
    },
    "Sd": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "arn:aws.*:kinesis:.*:\\d{12}:stream/.*"
    },
    "Se": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "Sf": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "^(arn):aws.*:kinesis:.*:\\d{12}:.*stream\\/[a-zA-Z0-9_.-]+\\/consumer\\/[a-zA-Z0-9_.-]+:[0-9]+"
    },
    "Si": {
      "type": "integer",
      "max": 1000000,
      "min": 0
    },
    "Sl": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "So": {
      "type": "string",
      "enum": [
        "CREATING",
        "DELETING",
        "ACTIVE",
        "UPDATING"
      ]
    },
    "Sp": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ShardId",
          "HashKeyRange",
          "SequenceNumberRange"
        ],
        "members": {
          "ShardId": {
            "shape": "Sl"
          },
          "ParentShardId": {
            "shape": "Sl"
          },
          "AdjacentParentShardId": {
            "shape": "Sl"
          },
          "HashKeyRange": {
            "type": "structure",
            "required": [
              "StartingHashKey",
              "EndingHashKey"
            ],
            "members": {
              "StartingHashKey": {
                "shape": "Ss"
              },
              "EndingHashKey": {
                "shape": "Ss"
              }
            }
          },
          "SequenceNumberRange": {
            "type": "structure",
            "required": [
              "StartingSequenceNumber"
            ],
            "members": {
              "StartingSequenceNumber": {
                "shape": "Su"
              },
              "EndingSequenceNumber": {
                "shape": "Su"
              }
            }
          }
        }
      }
    },
    "Ss": {
      "type": "string",
      "pattern": "0|([1-9]\\d{0,38})"
    },
    "Su": {
      "type": "string",
      "pattern": "0|([1-9]\\d{0,128})"
    },
    "Sw": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ShardLevelMetrics": {
            "shape": "Sy"
          }
        }
      }
    },
    "Sy": {
      "type": "list",
      "member": {
        "type": "string",
        "enum": [
          "IncomingBytes",
          "IncomingRecords",
          "OutgoingBytes",
          "OutgoingRecords",
          "WriteProvisionedThroughputExceeded",
          "ReadProvisionedThroughputExceeded",
          "IteratorAgeMilliseconds",
          "ALL"
        ]
      },
      "max": 7,
      "min": 1
    },
    "S10": {
      "type": "string",
      "enum": [
        "NONE",
        "KMS"
      ]
    },
    "S11": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "S15": {
      "type": "string",
      "enum": [
        "CREATING",
        "DELETING",
        "ACTIVE"
      ]
    },
    "S1b": {
      "type": "structure",
      "members": {
        "StreamName": {
          "shape": "S2"
        },
        "CurrentShardLevelMetrics": {
          "shape": "Sy"
        },
        "DesiredShardLevelMetrics": {
          "shape": "Sy"
        }
      }
    },
    "S1e": {
      "type": "string",
      "max": 512,
      "min": 1
    },
    "S1j": {
      "type": "blob",
      "max": 1048576,
      "min": 0
    },
    "S1k": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S1r": {
      "type": "string",
      "max": 1048576,
      "min": 1
    },
    "S1y": {
      "type": "structure",
      "required": [
        "ConsumerName",
        "ConsumerARN",
        "ConsumerStatus",
        "ConsumerCreationTimestamp"
      ],
      "members": {
        "ConsumerName": {
          "shape": "Se"
        },
        "ConsumerARN": {
          "shape": "Sf"
        },
        "ConsumerStatus": {
          "shape": "S15"
        },
        "ConsumerCreationTimestamp": {
          "type": "timestamp"
        }
      }
    }
  }
}