{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-09-30",
    "endpointPrefix": "kinesisvideo",
    "protocol": "rest-json",
    "serviceAbbreviation": "Kinesis Video",
    "serviceFullName": "Amazon Kinesis Video Streams",
    "serviceId": "Kinesis Video",
    "signatureVersion": "v4",
    "uid": "kinesisvideo-2017-09-30"
  },
  "operations": {
    "CreateStream": {
      "http": {
        "requestUri": "/createStream"
      },
      "input": {
        "type": "structure",
        "required": [
          "StreamName"
        ],
        "members": {
          "DeviceName": {
            "shape": "S2"
          },
          "StreamName": {
            "shape": "S3"
          },
          "MediaType": {
            "shape": "S4"
          },
          "KmsKeyId": {
            "shape": "S5"
          },
          "DataRetentionInHours": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamARN": {
            "shape": "S8"
          }
        }
      }
    },
    "DeleteStream": {
      "http": {
        "requestUri": "/deleteStream"
      },
      "input": {
        "type": "structure",
        "required": [
          "StreamARN"
        ],
        "members": {
          "StreamARN": {
            "shape": "S8"
          },
          "CurrentVersion": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeStream": {
      "http": {
        "requestUri": "/describeStream"
      },
      "input": {
        "type": "structure",
        "members": {
          "StreamName": {
            "shape": "S3"
          },
          "StreamARN": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamInfo": {
            "shape": "Se"
          }
        }
      }
    },
    "GetDataEndpoint": {
      "http": {
        "requestUri": "/getDataEndpoint"
      },
      "input": {
        "type": "structure",
        "required": [
          "APIName"
        ],
        "members": {
          "StreamName": {
            "shape": "S3"
          },
          "StreamARN": {
            "shape": "S8"
          },
          "APIName": {
            "type": "string",
            "enum": [
              "PUT_MEDIA",
              "GET_MEDIA",
              "LIST_FRAGMENTS",
              "GET_MEDIA_FOR_FRAGMENT_LIST",
              "GET_HLS_STREAMING_SESSION_URL"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataEndpoint": {}
        }
      }
    },
    "ListStreams": {
      "http": {
        "requestUri": "/listStreams"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer",
            "max": 10000,
            "min": 1
          },
          "NextToken": {
            "shape": "Sn"
          },
          "StreamNameCondition": {
            "type": "structure",
            "members": {
              "ComparisonOperator": {
                "type": "string",
                "enum": [
                  "BEGINS_WITH"
                ]
              },
              "ComparisonValue": {
                "shape": "S3"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamInfoList": {
            "type": "list",
            "member": {
              "shape": "Se"
            }
          },
          "NextToken": {
            "shape": "Sn"
          }
        }
      }
    },
    "ListTagsForStream": {
      "http": {
        "requestUri": "/listTagsForStream"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "Sn"
          },
          "StreamARN": {
            "shape": "S8"
          },
          "StreamName": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "Sn"
          },
          "Tags": {
            "shape": "Su"
          }
        }
      }
    },
    "TagStream": {
      "http": {
        "requestUri": "/tagStream"
      },
      "input": {
        "type": "structure",
        "required": [
          "Tags"
        ],
        "members": {
          "StreamARN": {
            "shape": "S8"
          },
          "StreamName": {
            "shape": "S3"
          },
          "Tags": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagStream": {
      "http": {
        "requestUri": "/untagStream"
      },
      "input": {
        "type": "structure",
        "required": [
          "TagKeyList"
        ],
        "members": {
          "StreamARN": {
            "shape": "S8"
          },
          "StreamName": {
            "shape": "S3"
          },
          "TagKeyList": {
            "type": "list",
            "member": {
              "shape": "Sv"
            },
            "max": 50,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDataRetention": {
      "http": {
        "requestUri": "/updateDataRetention"
      },
      "input": {
        "type": "structure",
        "required": [
          "CurrentVersion",
          "Operation",
          "DataRetentionChangeInHours"
        ],
        "members": {
          "StreamName": {
            "shape": "S3"
          },
          "StreamARN": {
            "shape": "S8"
          },
          "CurrentVersion": {
            "shape": "Sa"
          },
          "Operation": {
            "type": "string",
            "enum": [
              "INCREASE_DATA_RETENTION",
              "DECREASE_DATA_RETENTION"
            ]
          },
          "DataRetentionChangeInHours": {
            "type": "integer",
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateStream": {
      "http": {
        "requestUri": "/updateStream"
      },
      "input": {
        "type": "structure",
        "required": [
          "CurrentVersion"
        ],
        "members": {
          "StreamName": {
            "shape": "S3"
          },
          "StreamARN": {
            "shape": "S8"
          },
          "CurrentVersion": {
            "shape": "Sa"
          },
          "DeviceName": {
            "shape": "S2"
          },
          "MediaType": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "S3": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "S4": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w\\-\\.\\+]+/[\\w\\-\\.\\+]+"
    },
    "S5": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "S6": {
      "type": "integer",
      "min": 0
    },
    "S8": {
      "type": "string",
      "max": 1024,
      "min": 1,
      "pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+"
    },
    "Sa": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9]+"
    },
    "Se": {
      "type": "structure",
      "members": {
        "DeviceName": {
          "shape": "S2"
        },
        "StreamName": {
          "shape": "S3"
        },
        "StreamARN": {
          "shape": "S8"
        },
        "MediaType": {
          "shape": "S4"
        },
        "KmsKeyId": {
          "shape": "S5"
        },
        "Version": {
          "shape": "Sa"
        },
        "Status": {
          "type": "string",
          "enum": [
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ]
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "DataRetentionInHours": {
          "shape": "S6"
        }
      }
    },
    "Sn": {
      "type": "string",
      "max": 512,
      "min": 0
    },
    "Su": {
      "type": "map",
      "key": {
        "shape": "Sv"
      },
      "value": {
        "type": "string",
        "max": 256,
        "min": 0
      },
      "max": 50,
      "min": 1
    },
    "Sv": {
      "type": "string",
      "max": 128,
      "min": 1
    }
  }
}