{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-11-01",
    "endpointPrefix":"kms",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"KMS",
    "serviceFullName":"AWS Key Management Service",
    "signatureVersion":"v4",
    "targetPrefix":"TrentService",
    "protocol":"json"
  },
  "documentation":"<fullname>AWS Key Management Service</fullname> <p>AWS Key Management Service (AWS KMS) is an encryption and key management web service. This guide describes the AWS KMS operations that you can call programmatically. For general information about AWS KMS, see the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/\">AWS Key Management Service Developer Guide</a>.</p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .Net, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWS KMS and other AWS services. For example, the SDKs take care of tasks such as signing requests (see below), managing errors, and retrying requests automatically. For more information about the AWS SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> </note> <p>We recommend that you use the AWS SDKs to make programmatic API calls to AWS KMS.</p> <p>Clients must support TLS (Transport Layer Security) 1.0. We recommend TLS 1.2. Clients must also support cipher suites with Perfect Forward Secrecy (PFS) such as Ephemeral Diffie-Hellman (DHE) or Elliptic Curve Ephemeral Diffie-Hellman (ECDHE). Most modern systems such as Java 7 and later support these modes. </p> <p><b>Signing Requests</b></p> <p>Requests must be signed by using an access key ID and a secret access key. We strongly recommend that you <i>do not</i> use your AWS account access key ID and secret key for everyday work with AWS KMS. Instead, use the access key ID and secret access key for an IAM user, or you can use the AWS Security Token Service to generate temporary security credentials that you can use to sign requests.</p> <p>All AWS KMS operations require <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>.</p> <p><b>Logging API Requests</b></p> <p>AWS KMS supports AWS CloudTrail, a service that logs AWS API calls and related events for your AWS account and delivers them to an Amazon S3 bucket that you specify. By using the information collected by CloudTrail, you can determine what requests were made to AWS KMS, who made the request, when it was made, and so on. To learn more about CloudTrail, including how to turn it on and find your log files, see the <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/\">AWS CloudTrail User Guide</a>.</p> <p><b>Additional Resources</b></p> <p>For more information about credentials and request signing, see the following:</p> <ul> <li> <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\">AWS Security Credentials</a> - This topic provides general information about the types of credentials used for accessing AWS. </li> <li> <a href=\"http://docs.aws.amazon.com/STS/latest/UsingSTS/\">AWS Security Token Service</a> - This guide describes how to create and use temporary security credentials. </li> <li> <a href=\"http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing AWS API Requests</a> - This set of topics walks you through the process of signing a request using an access key ID and a secret access key. </li> </ul> <p><b>Commonly Used APIs</b></p> <p> Of the APIs discussed in this guide, the following will prove the most useful for most applications. You will likely perform actions other than these, such as creating keys and assigning policies, by using the console.</p> <ul> <li><a>Encrypt</a></li> <li><a>Decrypt</a></li> <li><a>GenerateDataKey</a></li> <li><a>GenerateDataKeyWithoutPlaintext</a></li> </ul>",
  "operations":{
    "CancelKeyDeletion":{
      "name":"CancelKeyDeletion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelKeyDeletionRequest"},
      "output":{"shape":"CancelKeyDeletionResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Cancels the deletion of a customer master key (CMK). When this operation is successful, the CMK is set to the <code>Disabled</code> state. To enable a CMK, use <a>EnableKey</a>.</p> <p>For more information about scheduling and canceling deletion of a CMK, go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/deleting-keys.html\">Deleting Customer Master Keys</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
    },
    "CreateAlias":{
      "name":"CreateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAliasRequest"},
      "errors":[
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"AlreadyExistsException",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"InvalidAliasNameException",
          "error":{
            "code":"InvalidAliasName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified alias name is not valid.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Creates a display name for a customer master key. An alias can be used to identify a key and should be unique. The console enforces a one-to-one mapping between the alias and a key. An alias name can contain only alphanumeric characters, forward slashes (/), underscores (_), and dashes (-). An alias must start with the word \"alias\" followed by a forward slash (alias/). An alias that begins with \"aws\" after the forward slash (alias/aws...) is reserved by Amazon Web Services (AWS). </p> <p>The alias and the key it is mapped to must be in the same AWS account and the same region.</p> <p>To map an alias to a different key, call <a>UpdateAlias</a>.</p>"
    },
    "CreateGrant":{
      "name":"CreateGrant",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGrantRequest"},
      "output":{"shape":"CreateGrantResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"DisabledException",
          "error":{
            "code":"Disabled",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified key was marked as disabled.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"InvalidGrantTokenException",
          "error":{
            "code":"InvalidGrantToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Adds a grant to a key to specify who can use the key and under what conditions. Grants are alternate permission mechanisms to key policies.</p> <p>For more information about grants, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/grants.html\">Grants</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
    },
    "CreateKey":{
      "name":"CreateKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateKeyRequest"},
      "output":{"shape":"CreateKeyResponse"},
      "errors":[
        {
          "shape":"MalformedPolicyDocumentException",
          "error":{
            "code":"MalformedPolicyDocument",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified policy is not syntactically or semantically correct. </p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"UnsupportedOperationException",
          "error":{
            "code":"UnsupportedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified parameter is not supported.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Creates a customer master key. Customer master keys can be used to encrypt small amounts of data (less than 4K) directly, but they are most commonly used to encrypt or envelope data keys that are then used to encrypt customer data. For more information about data keys, see <a>GenerateDataKey</a> and <a>GenerateDataKeyWithoutPlaintext</a>.</p>"
    },
    "Decrypt":{
      "name":"Decrypt",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DecryptRequest"},
      "output":{"shape":"DecryptResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"DisabledException",
          "error":{
            "code":"Disabled",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified key was marked as disabled.</p>"
        },
        {
          "shape":"InvalidCiphertextException",
          "error":{
            "code":"InvalidCiphertext",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified ciphertext has been corrupted or is otherwise invalid.</p>"
        },
        {
          "shape":"KeyUnavailableException",
          "error":{
            "code":"KeyUnavailable",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The request was rejected because the key was not available. The request can be retried.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"InvalidGrantTokenException",
          "error":{
            "code":"InvalidGrantToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Decrypts ciphertext. Ciphertext is plaintext that has been previously encrypted by using any of the following functions: <ul> <li><a>GenerateDataKey</a></li> <li><a>GenerateDataKeyWithoutPlaintext</a></li> <li><a>Encrypt</a></li> </ul> </p> <p>Note that if a caller has been granted access permissions to all keys (through, for example, IAM user policies that grant <code>Decrypt</code> permission on all resources), then ciphertext encrypted by using keys in other accounts where the key grants access to the caller can be decrypted. To remedy this, we recommend that you do not grant <code>Decrypt</code> access in an IAM user policy. Instead grant <code>Decrypt</code> access only in key policies. If you must grant <code>Decrypt</code> access in an IAM user policy, you should scope the resource to specific keys or to specific trusted accounts. </p>"
    },
    "DeleteAlias":{
      "name":"DeleteAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAliasRequest"},
      "errors":[
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified alias. To map an alias to a different key, call <a>UpdateAlias</a>.</p>"
    },
    "DescribeKey":{
      "name":"DescribeKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeKeyRequest"},
      "output":{"shape":"DescribeKeyResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        }
      ],
      "documentation":"<p>Provides detailed information about the specified customer master key.</p>"
    },
    "DisableKey":{
      "name":"DisableKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableKeyRequest"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Sets the state of a master key to disabled, thereby preventing its use for cryptographic operations. For more information about how key state affects the use of a master key, go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
    },
    "DisableKeyRotation":{
      "name":"DisableKeyRotation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableKeyRotationRequest"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"DisabledException",
          "error":{
            "code":"Disabled",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified key was marked as disabled.</p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Disables rotation of the specified key.</p>"
    },
    "EnableKey":{
      "name":"EnableKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableKeyRequest"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Marks a key as enabled, thereby permitting its use.</p>"
    },
    "EnableKeyRotation":{
      "name":"EnableKeyRotation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableKeyRotationRequest"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"DisabledException",
          "error":{
            "code":"Disabled",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified key was marked as disabled.</p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Enables rotation of the specified customer master key.</p>"
    },
    "Encrypt":{
      "name":"Encrypt",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EncryptRequest"},
      "output":{"shape":"EncryptResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"DisabledException",
          "error":{
            "code":"Disabled",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified key was marked as disabled.</p>"
        },
        {
          "shape":"KeyUnavailableException",
          "error":{
            "code":"KeyUnavailable",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The request was rejected because the key was not available. The request can be retried.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"InvalidKeyUsageException",
          "error":{
            "code":"InvalidKeyUsage",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified KeySpec parameter is not valid. The currently supported value is ENCRYPT/DECRYPT. </p>"
        },
        {
          "shape":"InvalidGrantTokenException",
          "error":{
            "code":"InvalidGrantToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Encrypts plaintext into ciphertext by using a customer master key. The <code>Encrypt</code> function has two primary use cases: <ul> <li>You can encrypt up to 4 KB of arbitrary data such as an RSA key, a database password, or other sensitive customer information.</li> <li>If you are moving encrypted data from one region to another, you can use this API to encrypt in the new region the plaintext data key that was used to encrypt the data in the original region. This provides you with an encrypted copy of the data key that can be decrypted in the new region and used there to decrypt the encrypted data. </li> </ul> </p> <p>Unless you are moving encrypted data from one region to another, you don't use this function to encrypt a generated data key within a region. You retrieve data keys already encrypted by calling the <a>GenerateDataKey</a> or <a>GenerateDataKeyWithoutPlaintext</a> function. Data keys don't need to be encrypted again by calling <code>Encrypt</code>. </p> <p>If you want to encrypt data locally in your application, you can use the <code>GenerateDataKey</code> function to return a plaintext data encryption key and a copy of the key encrypted under the customer master key (CMK) of your choosing. </p>"
    },
    "GenerateDataKey":{
      "name":"GenerateDataKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GenerateDataKeyRequest"},
      "output":{"shape":"GenerateDataKeyResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"DisabledException",
          "error":{
            "code":"Disabled",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified key was marked as disabled.</p>"
        },
        {
          "shape":"KeyUnavailableException",
          "error":{
            "code":"KeyUnavailable",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The request was rejected because the key was not available. The request can be retried.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"InvalidKeyUsageException",
          "error":{
            "code":"InvalidKeyUsage",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified KeySpec parameter is not valid. The currently supported value is ENCRYPT/DECRYPT. </p>"
        },
        {
          "shape":"InvalidGrantTokenException",
          "error":{
            "code":"InvalidGrantToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Generates a data key that you can use in your application to locally encrypt data. This call returns a plaintext version of the key in the <code>Plaintext</code> field of the response object and an encrypted copy of the key in the <code>CiphertextBlob</code> field. The key is encrypted by using the master key specified by the <code>KeyId</code> field. To decrypt the encrypted key, pass it to the <code>Decrypt</code> API. </p> <p>We recommend that you use the following pattern to locally encrypt data: call the <code>GenerateDataKey</code> API, use the key returned in the <code>Plaintext</code> response field to locally encrypt data, and then erase the plaintext data key from memory. Store the encrypted data key (contained in the <code>CiphertextBlob</code> field) alongside of the locally encrypted data. </p> <note>You should not call the <code>Encrypt</code> function to re-encrypt your data keys within a region. <code>GenerateDataKey</code> always returns the data key encrypted and tied to the customer master key that will be used to decrypt it. There is no need to decrypt it twice. </note> <p>If you decide to use the optional <code>EncryptionContext</code> parameter, you must also store the context in full or at least store enough information along with the encrypted data to be able to reconstruct the context when submitting the ciphertext to the <code>Decrypt</code> API. It is a good practice to choose a context that you can reconstruct on the fly to better secure the ciphertext. For more information about how this parameter is used, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encrypt-context.html\">Encryption Context</a>. </p> <p>To decrypt data, pass the encrypted data key to the <code>Decrypt</code> API. <code>Decrypt</code> uses the associated master key to decrypt the encrypted data key and returns it as plaintext. Use the plaintext data key to locally decrypt your data and then erase the key from memory. You must specify the encryption context, if any, that you specified when you generated the key. The encryption context is logged by CloudTrail, and you can use this log to help track the use of particular data. </p>"
    },
    "GenerateDataKeyWithoutPlaintext":{
      "name":"GenerateDataKeyWithoutPlaintext",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GenerateDataKeyWithoutPlaintextRequest"},
      "output":{"shape":"GenerateDataKeyWithoutPlaintextResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"DisabledException",
          "error":{
            "code":"Disabled",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified key was marked as disabled.</p>"
        },
        {
          "shape":"KeyUnavailableException",
          "error":{
            "code":"KeyUnavailable",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The request was rejected because the key was not available. The request can be retried.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"InvalidKeyUsageException",
          "error":{
            "code":"InvalidKeyUsage",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified KeySpec parameter is not valid. The currently supported value is ENCRYPT/DECRYPT. </p>"
        },
        {
          "shape":"InvalidGrantTokenException",
          "error":{
            "code":"InvalidGrantToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Returns a data key encrypted by a customer master key without the plaintext copy of that key. Otherwise, this API functions exactly like <a>GenerateDataKey</a>. You can use this API to, for example, satisfy an audit requirement that an encrypted key be made available without exposing the plaintext copy of that key. </p>"
    },
    "GenerateRandom":{
      "name":"GenerateRandom",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GenerateRandomRequest"},
      "output":{"shape":"GenerateRandomResponse"},
      "errors":[
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        }
      ],
      "documentation":"<p>Generates an unpredictable byte string. </p>"
    },
    "GetKeyPolicy":{
      "name":"GetKeyPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetKeyPolicyRequest"},
      "output":{"shape":"GetKeyPolicyResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Retrieves a policy attached to the specified key.</p>"
    },
    "GetKeyRotationStatus":{
      "name":"GetKeyRotationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetKeyRotationStatusRequest"},
      "output":{"shape":"GetKeyRotationStatusResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Retrieves a Boolean value that indicates whether key rotation is enabled for the specified key.</p>"
    },
    "ListAliases":{
      "name":"ListAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAliasesRequest"},
      "output":{"shape":"ListAliasesResponse"},
      "errors":[
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"InvalidMarkerException",
          "error":{
            "code":"InvalidMarker",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the marker that specifies where pagination should next begin is not valid. </p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        }
      ],
      "documentation":"<p>Lists all of the key aliases in the account.</p>"
    },
    "ListGrants":{
      "name":"ListGrants",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGrantsRequest"},
      "output":{"shape":"ListGrantsResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"InvalidMarkerException",
          "error":{
            "code":"InvalidMarker",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the marker that specifies where pagination should next begin is not valid. </p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>List the grants for a specified key.</p>"
    },
    "ListKeyPolicies":{
      "name":"ListKeyPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListKeyPoliciesRequest"},
      "output":{"shape":"ListKeyPoliciesResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Retrieves a list of policies attached to a key.</p>"
    },
    "ListKeys":{
      "name":"ListKeys",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListKeysRequest"},
      "output":{"shape":"ListKeysResponse"},
      "errors":[
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        }
      ],
      "documentation":"<p>Lists the customer master keys.</p>"
    },
    "ListRetirableGrants":{
      "name":"ListRetirableGrants",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRetirableGrantsRequest"},
      "output":{"shape":"ListGrantsResponse"},
      "errors":[
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"InvalidMarkerException",
          "error":{
            "code":"InvalidMarker",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the marker that specifies where pagination should next begin is not valid. </p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        }
      ],
      "documentation":"<p>Returns a list of all grants for which the grant's <code>RetiringPrincipal</code> matches the one specified.</p> <p>A typical use is to list all grants that you are able to retire. To retire a grant, use <a>RetireGrant</a>.</p>"
    },
    "PutKeyPolicy":{
      "name":"PutKeyPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutKeyPolicyRequest"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"MalformedPolicyDocumentException",
          "error":{
            "code":"MalformedPolicyDocument",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified policy is not syntactically or semantically correct. </p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"UnsupportedOperationException",
          "error":{
            "code":"UnsupportedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified parameter is not supported.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Attaches a policy to the specified key.</p>"
    },
    "ReEncrypt":{
      "name":"ReEncrypt",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReEncryptRequest"},
      "output":{"shape":"ReEncryptResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"DisabledException",
          "error":{
            "code":"Disabled",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified key was marked as disabled.</p>"
        },
        {
          "shape":"InvalidCiphertextException",
          "error":{
            "code":"InvalidCiphertext",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified ciphertext has been corrupted or is otherwise invalid.</p>"
        },
        {
          "shape":"KeyUnavailableException",
          "error":{
            "code":"KeyUnavailable",
            "httpStatusCode":500
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The request was rejected because the key was not available. The request can be retried.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"InvalidKeyUsageException",
          "error":{
            "code":"InvalidKeyUsage",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified KeySpec parameter is not valid. The currently supported value is ENCRYPT/DECRYPT. </p>"
        },
        {
          "shape":"InvalidGrantTokenException",
          "error":{
            "code":"InvalidGrantToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Encrypts data on the server side with a new customer master key without exposing the plaintext of the data on the client side. The data is first decrypted and then encrypted. This operation can also be used to change the encryption context of a ciphertext. </p> <p>Unlike other actions, <code>ReEncrypt</code> is authorized twice - once as <code>ReEncryptFrom</code> on the source key and once as <code>ReEncryptTo</code> on the destination key. We therefore recommend that you include the <code>\"action\":\"kms:ReEncrypt*\"</code> statement in your key policies to permit re-encryption from or to the key. The statement is included automatically when you authorize use of the key through the console but must be included manually when you set a policy by using the <a>PutKeyPolicy</a> function. </p>"
    },
    "RetireGrant":{
      "name":"RetireGrant",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RetireGrantRequest"},
      "errors":[
        {
          "shape":"InvalidGrantTokenException",
          "error":{
            "code":"InvalidGrantToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a grant token provided as part of the request is invalid.</p>"
        },
        {
          "shape":"InvalidGrantIdException",
          "error":{
            "code":"InvalidGrantId",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified <code>GrantId</code> is not valid.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Retires a grant. You can retire a grant when you're done using it to clean up. You should revoke a grant when you intend to actively deny operations that depend on it. The following are permitted to call this API: <ul> <li>The account that created the grant</li> <li>The <code>RetiringPrincipal</code>, if present</li> <li>The <code>GranteePrincipal</code>, if <code>RetireGrant</code> is a grantee operation</li> </ul> The grant to retire must be identified by its grant token or by a combination of the key ARN and the grant ID. A grant token is a unique variable-length base64-encoded string. A grant ID is a 64 character unique identifier of a grant. Both are returned by the <code>CreateGrant</code> function. </p>"
    },
    "RevokeGrant":{
      "name":"RevokeGrant",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeGrantRequest"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"InvalidGrantIdException",
          "error":{
            "code":"InvalidGrantId",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified <code>GrantId</code> is not valid.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Revokes a grant. You can revoke a grant to actively deny operations that depend on it.</p>"
    },
    "ScheduleKeyDeletion":{
      "name":"ScheduleKeyDeletion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ScheduleKeyDeletionRequest"},
      "output":{"shape":"ScheduleKeyDeletionResponse"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Schedules the deletion of a customer master key (CMK). You may provide a waiting period, specified in days, before deletion occurs. If you do not provide a waiting period, the default period of 30 days is used. When this operation is successful, the state of the CMK changes to <code>PendingDeletion</code>. Before the waiting period ends, you can use <a>CancelKeyDeletion</a> to cancel the deletion of the CMK. After the waiting period ends, AWS KMS deletes the CMK and all AWS KMS data associated with it, including all aliases that point to it.</p> <important> <p>Deleting a CMK is a destructive and potentially dangerous operation. When a CMK is deleted, all data that was encrypted under the CMK is rendered unrecoverable. To restrict the use of a CMK without deleting it, use <a>DisableKey</a>.</p> </important> <p>For more information about scheduling a CMK for deletion, go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/deleting-keys.html\">Deleting Customer Master Keys</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
    },
    "UpdateAlias":{
      "name":"UpdateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAliasRequest"},
      "errors":[
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Updates an alias to map it to a different key.</p> <p>An alias is not a property of a key. Therefore, an alias can be mapped to and unmapped from an existing key without changing the properties of the key. </p> <p>An alias name can contain only alphanumeric characters, forward slashes (/), underscores (_), and dashes (-). An alias must start with the word \"alias\" followed by a forward slash (alias/). An alias that begins with \"aws\" after the forward slash (alias/aws...) is reserved by Amazon Web Services (AWS). </p> <p>The alias and the key it is mapped to must be in the same AWS account and the same region.</p>"
    },
    "UpdateKeyDescription":{
      "name":"UpdateKeyDescription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateKeyDescriptionRequest"},
      "errors":[
        {
          "shape":"NotFoundException",
          "error":{
            "code":"NotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the specified entity or resource could not be found. </p>"
        },
        {
          "shape":"InvalidArnException",
          "error":{
            "code":"InvalidArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because a specified ARN was not valid.</p>"
        },
        {
          "shape":"DependencyTimeoutException",
          "error":{
            "code":"DependencyTimeout",
            "httpStatusCode":503
          },
          "exception":true,
          "fault":true,
          "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
        },
        {
          "shape":"KMSInternalException",
          "error":{
            "code":"KMSInternal",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an internal exception occurred. The request can be retried.</p>"
        },
        {
          "shape":"KMSInvalidStateException",
          "error":{
            "code":"KMSInvalidStateException",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      ],
      "documentation":"<p>Updates the description of a key.</p>"
    }
  },
  "shapes":{
    "AWSAccountIdType":{"type":"string"},
    "AliasList":{
      "type":"list",
      "member":{"shape":"AliasListEntry"}
    },
    "AliasListEntry":{
      "type":"structure",
      "members":{
        "AliasName":{
          "shape":"AliasNameType",
          "documentation":"<p>String that contains the alias.</p>"
        },
        "AliasArn":{
          "shape":"ArnType",
          "documentation":"<p>String that contains the key ARN.</p>"
        },
        "TargetKeyId":{
          "shape":"KeyIdType",
          "documentation":"<p>String that contains the key identifier pointed to by the alias.</p>"
        }
      },
      "documentation":"<p>Contains information about an alias.</p>"
    },
    "AliasNameType":{
      "type":"string",
      "min":1,
      "max":256,
      "pattern":"^[a-zA-Z0-9:/_-]+$"
    },
    "AlreadyExistsException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessageType"}
      },
      "error":{
        "code":"AlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
    },
    "ArnType":{
      "type":"string",
      "min":20,
      "max":2048
    },
    "BooleanType":{"type":"boolean"},
    "CancelKeyDeletionRequest":{
      "type":"structure",
      "required":["KeyId"],
      "members":{
        "KeyId":{
          "shape":"KeyIdType",
          "documentation":"<p>The unique identifier for the customer master key (CMK) for which to cancel deletion.</p> <p>To specify this value, use the unique key ID or the Amazon Resource Name (ARN) of the CMK. Examples: <ul> <li>Unique key ID: 1234abcd-12ab-34cd-56ef-1234567890ab</li> <li>Key ARN: arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</li> </ul> </p> <p>To obtain the unique key ID and key ARN for a given CMK, use <a>ListKeys</a> or <a>DescribeKey</a>.</p>"
        }
      }
    },
    "CancelKeyDeletionResponse":{
      "type":"structure",
      "members":{
        "KeyId":{
          "shape":"KeyIdType",
          "documentation":"<p>The unique identifier of the master key for which deletion is canceled.</p>"
        }
      }
    },
    "CiphertextType":{
      "type":"blob",
      "min":1,
      "max":6144
    },
    "CreateAliasRequest":{
      "type":"structure",
      "required":[
        "AliasName",
        "TargetKeyId"
      ],
      "members":{
        "AliasName":{
          "shape":"AliasNameType",
          "documentation":"<p>String that contains the display name. The name must start with the word \"alias\" followed by a forward slash (alias/). Aliases that begin with \"alias/AWS\" are reserved. </p>"
        },
        "TargetKeyId":{
          "shape":"KeyIdType",
          "documentation":"<p>An identifier of the key for which you are creating the alias. This value cannot be another alias but can be a globally unique identifier or a fully specified ARN to a key. <ul> <li>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</li> <li>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</li> </ul> </p>"
        }
      }
    },
    "CreateGrantRequest":{
      "type":"structure",
      "required":[
        "KeyId",
        "GranteePrincipal"
      ],
      "members":{
        "KeyId":{
          "shape":"KeyIdType",
          "documentation":"<p>The unique identifier for the customer master key (CMK) that the grant applies to.</p> <p>To specify this value, use the globally unique key ID or the Amazon Resource Name (ARN) of the key. Examples: <ul> <li>Globally unique key ID: 12345678-1234-1234-1234-123456789012</li> <li>Key ARN: arn:aws:kms:us-west-2:123456789012:key/12345678-1234-1234-1234-123456789012</li> </ul> </p>"
        },
        "GranteePrincipal":{
          "shape":"PrincipalIdType",
          "documentation":"<p>The principal that is given permission to perform the operations that the grant permits.</p> <p>To specify the principal, use the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an AWS principal. Valid AWS principals include AWS accounts (root), IAM users, federated users, and assumed role users. For examples of the ARN syntax to use for specifying a principal, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS Identity and Access Management (IAM)</a> in the Example ARNs section of the <i>AWS General Reference</i>.</p>"
        },
        "RetiringPrincipal":{
          "shape":"PrincipalIdType",
          "documentation":"<p>The principal that is given permission to retire the grant by using <a>RetireGrant</a> operation.</p> <p>To specify the principal, use the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an AWS principal. Valid AWS principals include AWS accounts (root), IAM users, federated users, and assumed role users. For examples of the ARN syntax to use for specifying a principal, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS Identity and Access Management (IAM)</a> in the Example ARNs section of the <i>AWS General Reference</i>.</p>"
        },
        "Operations":{
          "shape":"GrantOperationList",
          "documentation":"<p>A list of operations that the grant permits. The list can contain any combination of one or more of the following values: <ul> <li>Decrypt</li> <li>Encrypt</li> <li>GenerateDataKey</li> <li>GenerateDataKeyWithoutPlaintext</li> <li>ReEncryptFrom</li> <li>ReEncryptTo</li> <li>CreateGrant</li> <li>RetireGrant</li> </ul> </p>"
        },
        "Constraints":{
          "shape":"GrantConstraints",
          "documentation":"<p>The conditions under which the operations permitted by the grant are allowed.</p> <p>You can use this value to allow the operations permitted by the grant only when a specified encryption context is present. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encrypt-context.html\">Encryption Context</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        },
        "GrantTokens":{
          "shape":"GrantTokenList",
          "documentation":"<p>A list of grant tokens.</p> <p>For more information, go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        },
        "Name":{
          "shape":"GrantNameType",
          "documentation":"<p>A friendly name for identifying the grant. Use this value to prevent unintended creation of duplicate grants when retrying this request.</p> <p>When this value is absent, all <code>CreateGrant</code> requests result in a new grant with a unique <code>GrantId</code> even if all the supplied parameters are identical. This can result in unintended duplicates when you retry the <code>CreateGrant</code> request.</p> <p>When this value is present, you can retry a <code>CreateGrant</code> request with identical parameters; if the grant already exists, the original <code>GrantId</code> is returned without creating a new grant. Note that the returned grant token is unique with every <code>CreateGrant</code> request, even when a duplicate <code>GrantId</code> is returned. All grant tokens obtained in this way can be used interchangeably.</p>"
        }
      }
    },
    "CreateGrantResponse":{
      "type":"structure",
      "members":{
        "GrantToken":{
          "shape":"GrantTokenType",
          "documentation":"<p>The grant token.</p> <p>For more information about using grant tokens, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>. </p>"
        },
        "GrantId":{
          "shape":"GrantIdType",
          "documentation":"<p>The unique identifier for the grant.</p> <p>You can use the <code>GrantId</code> in a subsequent <a>RetireGrant</a> or <a>RevokeGrant</a> operation.</p>"
        }
      }
    },
    "CreateKeyRequest":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"PolicyType",
          "documentation":"<p>Policy to attach to the key. This is required and delegates back to the account. The key is the root of trust. The policy size limit is 32 KiB (32768 bytes). </p>"
        },
        "Description":{
          "shape":"DescriptionType",
          "documentation":"<p>Description of the key. We recommend that you choose a description that helps your customer decide whether the key is appropriate for a task. </p>"
        },
        "KeyUsage":{
          "shape":"KeyUsageType",
          "documentation":"<p>Specifies the intended use of the key. Currently this defaults to ENCRYPT/DECRYPT, and only symmetric encryption and decryption are supported. </p>"
        }
      }
    },
    "CreateKeyResponse":{
      "type":"structure",
      "members":{
        "KeyMetadata":{
          "shape":"KeyMetadata",
          "documentation":"<p>Metadata associated with the key.</p>"
        }
      }
    },
    "DataKeySpec":{
      "type":"string",
      "enum":[
        "AES_256",
        "AES_128"
      ]
    },
    "DateType":{"type":"timestamp"},
    "DecryptRequest":{
      "type":"structure",
      "required":["CiphertextBlob"],
      "members":{
        "CiphertextBlob":{
          "shape":"CiphertextType",
          "documentation":"<p>Ciphertext to be decrypted. The blob includes metadata.</p>"
        },
        "EncryptionContext":{
          "shape":"EncryptionContextType",
          "documentation":"<p>The encryption context. If this was specified in the <a>Encrypt</a> function, it must be specified here or the decryption operation will fail. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encrypt-context.html\">Encryption Context</a>. </p>"
        },
        "GrantTokens":{
          "shape":"GrantTokenList",
          "documentation":"<p>A list of grant tokens.</p> <p>For more information, go to <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      }
    },
    "DecryptResponse":{
      "type":"structure",
      "members":{
        "KeyId":{
          "shape":"KeyIdType",
          "documentation":"<p>ARN of the key used to perform the decryption. This value is returned if no errors are encountered during the operation. </p>"
        },
        "Plaintext":{
          "shape":"PlaintextType",
          "documentation":"<p>Decrypted plaintext data. This value may not be returned if the customer master key is not available or if you didn't have permission to use it.</p>"
        }
      }
    },
    "DeleteAliasRequest":{
      "type":"structure",
      "required":["AliasName"],
      "members":{
        "AliasName":{
          "shape":"AliasNameType",
          "documentation":"<p>The alias to be deleted. The name must start with the word \"alias\" followed by a forward slash (alias/). Aliases that begin with \"alias/AWS\" are reserved.</p>"
        }
      }
    },
    "DependencyTimeoutException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessageType"}
      },
      "error":{
        "code":"DependencyTimeout",
        "httpStatusCode":503
      },
      "exception":true,
      "fault":true,
      "documentation":"<p>The system timed out while trying to fulfill the request. The request can be retried.</p>"
    },
    "DescribeKeyRequest":{
      "type":"structure",
      "required":["KeyId"],
      "members":{
        "KeyId":{
          "shape":"KeyIdType",
[...]
