{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2014-11-01",
    "endpointPrefix": "kms",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "KMS",
    "serviceFullName": "AWS Key Management Service",
    "serviceId": "KMS",
    "signatureVersion": "v4",
    "targetPrefix": "TrentService",
    "uid": "kms-2014-11-01"
  },
  "operations": {
    "CancelKeyDeletion": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "KeyId": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateAlias": {
      "input": {
        "type": "structure",
        "required": [
          "AliasName",
          "TargetKeyId"
        ],
        "members": {
          "AliasName": {
            "shape": "S5"
          },
          "TargetKeyId": {
            "shape": "S2"
          }
        }
      }
    },
    "CreateGrant": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId",
          "GranteePrincipal",
          "Operations"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "GranteePrincipal": {
            "shape": "S7"
          },
          "RetiringPrincipal": {
            "shape": "S7"
          },
          "Operations": {
            "shape": "S8"
          },
          "Constraints": {
            "shape": "Sa"
          },
          "GrantTokens": {
            "shape": "Se"
          },
          "Name": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GrantToken": {
            "shape": "Sf"
          },
          "GrantId": {
            "shape": "Si"
          }
        }
      }
    },
    "CreateKey": {
      "input": {
        "type": "structure",
        "members": {
          "Policy": {
            "shape": "Sk"
          },
          "Description": {
            "shape": "Sl"
          },
          "KeyUsage": {
            "shape": "Sm"
          },
          "Origin": {
            "shape": "Sn"
          },
          "BypassPolicyLockoutSafetyCheck": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "Sp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "KeyMetadata": {
            "shape": "Su"
          }
        }
      }
    },
    "Decrypt": {
      "input": {
        "type": "structure",
        "required": [
          "CiphertextBlob"
        ],
        "members": {
          "CiphertextBlob": {
            "shape": "S12"
          },
          "EncryptionContext": {
            "shape": "Sb"
          },
          "GrantTokens": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "Plaintext": {
            "shape": "S14"
          }
        }
      }
    },
    "DeleteAlias": {
      "input": {
        "type": "structure",
        "required": [
          "AliasName"
        ],
        "members": {
          "AliasName": {
            "shape": "S5"
          }
        }
      }
    },
    "DeleteImportedKeyMaterial": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          }
        }
      }
    },
    "DescribeKey": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "GrantTokens": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "KeyMetadata": {
            "shape": "Su"
          }
        }
      }
    },
    "DisableKey": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          }
        }
      }
    },
    "DisableKeyRotation": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          }
        }
      }
    },
    "EnableKey": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          }
        }
      }
    },
    "EnableKeyRotation": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          }
        }
      }
    },
    "Encrypt": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId",
          "Plaintext"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "Plaintext": {
            "shape": "S14"
          },
          "EncryptionContext": {
            "shape": "Sb"
          },
          "GrantTokens": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CiphertextBlob": {
            "shape": "S12"
          },
          "KeyId": {
            "shape": "S2"
          }
        }
      }
    },
    "GenerateDataKey": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "EncryptionContext": {
            "shape": "Sb"
          },
          "NumberOfBytes": {
            "shape": "S1g"
          },
          "KeySpec": {
            "shape": "S1h"
          },
          "GrantTokens": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CiphertextBlob": {
            "shape": "S12"
          },
          "Plaintext": {
            "shape": "S14"
          },
          "KeyId": {
            "shape": "S2"
          }
        }
      }
    },
    "GenerateDataKeyWithoutPlaintext": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "EncryptionContext": {
            "shape": "Sb"
          },
          "KeySpec": {
            "shape": "S1h"
          },
          "NumberOfBytes": {
            "shape": "S1g"
          },
          "GrantTokens": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CiphertextBlob": {
            "shape": "S12"
          },
          "KeyId": {
            "shape": "S2"
          }
        }
      }
    },
    "GenerateRandom": {
      "input": {
        "type": "structure",
        "members": {
          "NumberOfBytes": {
            "shape": "S1g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Plaintext": {
            "shape": "S14"
          }
        }
      }
    },
    "GetKeyPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId",
          "PolicyName"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "PolicyName": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {
            "shape": "Sk"
          }
        }
      }
    },
    "GetKeyRotationStatus": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "KeyRotationEnabled": {
            "type": "boolean"
          }
        }
      }
    },
    "GetParametersForImport": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId",
          "WrappingAlgorithm",
          "WrappingKeySpec"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "WrappingAlgorithm": {
            "type": "string",
            "enum": [
              "RSAES_PKCS1_V1_5",
              "RSAES_OAEP_SHA_1",
              "RSAES_OAEP_SHA_256"
            ]
          },
          "WrappingKeySpec": {
            "type": "string",
            "enum": [
              "RSA_2048"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "ImportToken": {
            "shape": "S12"
          },
          "PublicKey": {
            "shape": "S14"
          },
          "ParametersValidTo": {
            "type": "timestamp"
          }
        }
      }
    },
    "ImportKeyMaterial": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId",
          "ImportToken",
          "EncryptedKeyMaterial"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "ImportToken": {
            "shape": "S12"
          },
          "EncryptedKeyMaterial": {
            "shape": "S12"
          },
          "ValidTo": {
            "type": "timestamp"
          },
          "ExpirationModel": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListAliases": {
      "input": {
        "type": "structure",
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "Limit": {
            "shape": "S1z"
          },
          "Marker": {
            "shape": "S20"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Aliases": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AliasName": {
                  "shape": "S5"
                },
                "AliasArn": {
                  "shape": "Sw"
                },
                "TargetKeyId": {
                  "shape": "S2"
                }
              }
            }
          },
          "NextMarker": {
            "shape": "S20"
          },
          "Truncated": {
            "type": "boolean"
          }
        }
      }
    },
    "ListGrants": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "Limit": {
            "shape": "S1z"
          },
          "Marker": {
            "shape": "S20"
          },
          "KeyId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "shape": "S25"
      }
    },
    "ListKeyPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "Limit": {
            "shape": "S1z"
          },
          "Marker": {
            "shape": "S20"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyNames": {
            "type": "list",
            "member": {
              "shape": "S1o"
            }
          },
          "NextMarker": {
            "shape": "S20"
          },
          "Truncated": {
            "type": "boolean"
          }
        }
      }
    },
    "ListKeys": {
      "input": {
        "type": "structure",
        "members": {
          "Limit": {
            "shape": "S1z"
          },
          "Marker": {
            "shape": "S20"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Keys": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "KeyId": {
                  "shape": "S2"
                },
                "KeyArn": {
                  "shape": "Sw"
                }
              }
            }
          },
          "NextMarker": {
            "shape": "S20"
          },
          "Truncated": {
            "type": "boolean"
          }
        }
      }
    },
    "ListResourceTags": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "Limit": {
            "shape": "S1z"
          },
          "Marker": {
            "shape": "S20"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Sp"
          },
          "NextMarker": {
            "shape": "S20"
          },
          "Truncated": {
            "type": "boolean"
          }
        }
      }
    },
    "ListRetirableGrants": {
      "input": {
        "type": "structure",
        "required": [
          "RetiringPrincipal"
        ],
        "members": {
          "Limit": {
            "shape": "S1z"
          },
          "Marker": {
            "shape": "S20"
          },
          "RetiringPrincipal": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "shape": "S25"
      }
    },
    "PutKeyPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId",
          "PolicyName",
          "Policy"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "PolicyName": {
            "shape": "S1o"
          },
          "Policy": {
            "shape": "Sk"
          },
          "BypassPolicyLockoutSafetyCheck": {
            "type": "boolean"
          }
        }
      }
    },
    "ReEncrypt": {
      "input": {
        "type": "structure",
        "required": [
          "CiphertextBlob",
          "DestinationKeyId"
        ],
        "members": {
          "CiphertextBlob": {
            "shape": "S12"
          },
          "SourceEncryptionContext": {
            "shape": "Sb"
          },
          "DestinationKeyId": {
            "shape": "S2"
          },
          "DestinationEncryptionContext": {
            "shape": "Sb"
          },
          "GrantTokens": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CiphertextBlob": {
            "shape": "S12"
          },
          "SourceKeyId": {
            "shape": "S2"
          },
          "KeyId": {
            "shape": "S2"
          }
        }
      }
    },
    "RetireGrant": {
      "input": {
        "type": "structure",
        "members": {
          "GrantToken": {
            "shape": "Sf"
          },
          "KeyId": {
            "shape": "S2"
          },
          "GrantId": {
            "shape": "Si"
          }
        }
      }
    },
    "RevokeGrant": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId",
          "GrantId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "GrantId": {
            "shape": "Si"
          }
        }
      }
    },
    "ScheduleKeyDeletion": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "PendingWindowInDays": {
            "type": "integer",
            "max": 365,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "DeletionDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId",
          "Tags"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "Tags": {
            "shape": "Sp"
          }
        }
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId",
          "TagKeys"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "TagKeys": {
            "type": "list",
            "member": {
              "shape": "Sr"
            }
          }
        }
      }
    },
    "UpdateAlias": {
      "input": {
        "type": "structure",
        "required": [
          "AliasName",
          "TargetKeyId"
        ],
        "members": {
          "AliasName": {
            "shape": "S5"
          },
          "TargetKeyId": {
            "shape": "S2"
          }
        }
      }
    },
    "UpdateKeyDescription": {
      "input": {
        "type": "structure",
        "required": [
          "KeyId",
          "Description"
        ],
        "members": {
          "KeyId": {
            "shape": "S2"
          },
          "Description": {
            "shape": "Sl"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "S5": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "^[a-zA-Z0-9:/_-]+$"
    },
    "S7": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "S8": {
      "type": "list",
      "member": {
        "type": "string",
        "enum": [
          "Decrypt",
          "Encrypt",
          "GenerateDataKey",
          "GenerateDataKeyWithoutPlaintext",
          "ReEncryptFrom",
          "ReEncryptTo",
          "CreateGrant",
          "RetireGrant",
          "DescribeKey"
        ]
      }
    },
    "Sa": {
      "type": "structure",
      "members": {
        "EncryptionContextSubset": {
          "shape": "Sb"
        },
        "EncryptionContextEquals": {
          "shape": "Sb"
        }
      }
    },
    "Sb": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Se": {
      "type": "list",
      "member": {
        "shape": "Sf"
      },
      "max": 10,
      "min": 0
    },
    "Sf": {
      "type": "string",
      "max": 8192,
      "min": 1
    },
    "Sg": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "^[a-zA-Z0-9:/_-]+$"
    },
    "Si": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "Sk": {
      "type": "string",
      "max": 131072,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
    },
    "Sl": {
      "type": "string",
      "max": 8192,
      "min": 0
    },
    "Sm": {
      "type": "string",
      "enum": [
        "ENCRYPT_DECRYPT"
      ]
    },
    "Sn": {
      "type": "string",
      "enum": [
        "AWS_KMS",
        "EXTERNAL"
      ]
    },
    "Sp": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "TagKey",
          "TagValue"
        ],
        "members": {
          "TagKey": {
            "shape": "Sr"
          },
          "TagValue": {
            "type": "string",
            "max": 256,
            "min": 0
          }
        }
      }
    },
    "Sr": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "Su": {
      "type": "structure",
      "required": [
        "KeyId"
      ],
      "members": {
        "AWSAccountId": {},
        "KeyId": {
          "shape": "S2"
        },
        "Arn": {
          "shape": "Sw"
        },
        "CreationDate": {
          "type": "timestamp"
        },
        "Enabled": {
          "type": "boolean"
        },
        "Description": {
          "shape": "Sl"
        },
        "KeyUsage": {
          "shape": "Sm"
        },
        "KeyState": {
          "type": "string",
          "enum": [
            "Enabled",
            "Disabled",
            "PendingDeletion",
            "PendingImport"
          ]
        },
        "DeletionDate": {
          "type": "timestamp"
        },
        "ValidTo": {
          "type": "timestamp"
        },
        "Origin": {
          "shape": "Sn"
        },
        "ExpirationModel": {
          "shape": "Sz"
        },
        "KeyManager": {
          "type": "string",
          "enum": [
            "AWS",
            "CUSTOMER"
          ]
        }
      }
    },
    "Sw": {
      "type": "string",
      "max": 2048,
      "min": 20
    },
    "Sz": {
      "type": "string",
      "enum": [
        "KEY_MATERIAL_EXPIRES",
        "KEY_MATERIAL_DOES_NOT_EXPIRE"
      ]
    },
    "S12": {
      "type": "blob",
      "max": 6144,
      "min": 1
    },
    "S14": {
      "type": "blob",
      "max": 4096,
      "min": 1,
      "sensitive": true
    },
    "S1g": {
      "type": "integer",
      "max": 1024,
      "min": 1
    },
    "S1h": {
      "type": "string",
      "enum": [
        "AES_256",
        "AES_128"
      ]
    },
    "S1o": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w]+"
    },
    "S1z": {
      "type": "integer",
      "max": 1000,
      "min": 1
    },
    "S20": {
      "type": "string",
      "max": 1024,
      "min": 1,
      "pattern": "[\\u0020-\\u00FF]*"
    },
    "S25": {
      "type": "structure",
      "members": {
        "Grants": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "KeyId": {
                "shape": "S2"
              },
              "GrantId": {
                "shape": "Si"
              },
              "Name": {
                "shape": "Sg"
              },
              "CreationDate": {
                "type": "timestamp"
              },
              "GranteePrincipal": {
                "shape": "S7"
              },
              "RetiringPrincipal": {
                "shape": "S7"
              },
              "IssuingAccount": {
                "shape": "S7"
              },
              "Operations": {
                "shape": "S8"
              },
              "Constraints": {
                "shape": "Sa"
              }
            }
          }
        },
        "NextMarker": {
          "shape": "S20"
        },
        "Truncated": {
          "type": "boolean"
        }
      }
    }
  }
}