{
  "metadata": {
    "apiVersion": "2014-11-11",
    "endpointPrefix": "lambda",
    "serviceFullName": "AWS Lambda",
    "serviceId": "Lambda",
    "signatureVersion": "v4",
    "protocol": "rest-json"
  },
  "operations": {
    "AddEventSource": {
      "http": {
        "requestUri": "/2014-11-13/event-source-mappings/"
      },
      "input": {
        "type": "structure",
        "required": [
          "EventSource",
          "FunctionName",
          "Role"
        ],
        "members": {
          "EventSource": {},
          "FunctionName": {
            "shape": "S3"
          },
          "Role": {
            "shape": "S4"
          },
          "BatchSize": {
            "type": "integer"
          },
          "Parameters": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "shape": "S7"
      }
    },
    "DeleteFunction": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2014-11-13/functions/{FunctionName}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S3",
            "location": "uri",
            "locationName": "FunctionName"
          }
        }
      }
    },
    "GetEventSource": {
      "http": {
        "method": "GET",
        "requestUri": "/2014-11-13/event-source-mappings/{UUID}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "UUID"
        ],
        "members": {
          "UUID": {
            "location": "uri",
            "locationName": "UUID"
          }
        }
      },
      "output": {
        "shape": "S7"
      }
    },
    "GetFunction": {
      "http": {
        "method": "GET",
        "requestUri": "/2014-11-13/functions/{FunctionName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S3",
            "location": "uri",
            "locationName": "FunctionName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Configuration": {
            "shape": "Se"
          },
          "Code": {
            "type": "structure",
            "members": {
              "RepositoryType": {},
              "Location": {}
            }
          }
        }
      }
    },
    "GetFunctionConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/2014-11-13/functions/{FunctionName}/configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S3",
            "location": "uri",
            "locationName": "FunctionName"
          }
        }
      },
      "output": {
        "shape": "Se"
      }
    },
    "InvokeAsync": {
      "http": {
        "requestUri": "/2014-11-13/functions/{FunctionName}/invoke-async/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName",
          "InvokeArgs"
        ],
        "members": {
          "FunctionName": {
            "shape": "S3",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "InvokeArgs": {
            "shape": "Sq"
          }
        },
        "payload": "InvokeArgs"
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "ListEventSources": {
      "http": {
        "method": "GET",
        "requestUri": "/2014-11-13/event-source-mappings/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "EventSourceArn": {
            "location": "querystring",
            "locationName": "EventSource"
          },
          "FunctionName": {
            "shape": "S3",
            "location": "querystring",
            "locationName": "FunctionName"
          },
          "Marker": {
            "location": "querystring",
            "locationName": "Marker"
          },
          "MaxItems": {
            "shape": "Su",
            "location": "querystring",
            "locationName": "MaxItems"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "EventSources": {
            "type": "list",
            "member": {
              "shape": "S7"
            }
          }
        }
      }
    },
    "ListFunctions": {
      "http": {
        "method": "GET",
        "requestUri": "/2014-11-13/functions/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Marker": {
            "location": "querystring",
            "locationName": "Marker"
          },
          "MaxItems": {
            "shape": "Su",
            "location": "querystring",
            "locationName": "MaxItems"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "Functions": {
            "type": "list",
            "member": {
              "shape": "Se"
            }
          }
        }
      }
    },
    "RemoveEventSource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2014-11-13/event-source-mappings/{UUID}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "UUID"
        ],
        "members": {
          "UUID": {
            "location": "uri",
            "locationName": "UUID"
          }
        }
      }
    },
    "UpdateFunctionConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/2014-11-13/functions/{FunctionName}/configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S3",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "Role": {
            "shape": "S4",
            "location": "querystring",
            "locationName": "Role"
          },
          "Handler": {
            "shape": "Sh",
            "location": "querystring",
            "locationName": "Handler"
          },
          "Description": {
            "shape": "Sk",
            "location": "querystring",
            "locationName": "Description"
          },
          "Timeout": {
            "shape": "Sl",
            "location": "querystring",
            "locationName": "Timeout"
          },
          "MemorySize": {
            "shape": "Sm",
            "location": "querystring",
            "locationName": "MemorySize"
          }
        }
      },
      "output": {
        "shape": "Se"
      }
    },
    "UploadFunction": {
      "http": {
        "method": "PUT",
        "requestUri": "/2014-11-13/functions/{FunctionName}",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName",
          "FunctionZip",
          "Runtime",
          "Role",
          "Handler",
          "Mode"
        ],
        "members": {
          "FunctionName": {
            "shape": "S3",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "FunctionZip": {
            "shape": "Sq"
          },
          "Runtime": {
            "shape": "Sg",
            "location": "querystring",
            "locationName": "Runtime"
          },
          "Role": {
            "shape": "S4",
            "location": "querystring",
            "locationName": "Role"
          },
          "Handler": {
            "shape": "Sh",
            "location": "querystring",
            "locationName": "Handler"
          },
          "Mode": {
            "shape": "Si",
            "location": "querystring",
            "locationName": "Mode"
          },
          "Description": {
            "shape": "Sk",
            "location": "querystring",
            "locationName": "Description"
          },
          "Timeout": {
            "shape": "Sl",
            "location": "querystring",
            "locationName": "Timeout"
          },
          "MemorySize": {
            "shape": "Sm",
            "location": "querystring",
            "locationName": "MemorySize"
          }
        },
        "payload": "FunctionZip"
      },
      "output": {
        "shape": "Se"
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "string",
      "min": 1,
      "max": 64,
      "pattern": "[a-zA-Z0-9-_]+"
    },
    "S4": {
      "type": "string",
      "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+"
    },
    "S6": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S7": {
      "type": "structure",
      "members": {
        "UUID": {},
        "BatchSize": {
          "type": "integer"
        },
        "EventSource": {},
        "FunctionName": {
          "shape": "S3"
        },
        "Parameters": {
          "shape": "S6"
        },
        "Role": {
          "shape": "S4"
        },
        "LastModified": {
          "type": "timestamp"
        },
        "IsActive": {
          "type": "boolean"
        },
        "Status": {}
      }
    },
    "Se": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "S3"
        },
        "FunctionARN": {
          "type": "string",
          "pattern": "arn:aws:lambda:[a-z]{2}-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(\\/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})?"
        },
        "ConfigurationId": {},
        "Runtime": {
          "shape": "Sg"
        },
        "Role": {
          "shape": "S4"
        },
        "Handler": {
          "shape": "Sh"
        },
        "Mode": {
          "shape": "Si"
        },
        "CodeSize": {
          "type": "long"
        },
        "Description": {
          "shape": "Sk"
        },
        "Timeout": {
          "shape": "Sl"
        },
        "MemorySize": {
          "shape": "Sm"
        },
        "LastModified": {
          "type": "timestamp"
        }
      }
    },
    "Sg": {
      "type": "string",
      "enum": [
        "nodejs"
      ]
    },
    "Sh": {
      "type": "string",
      "pattern": "[a-zA-Z0-9./\\-_]+"
    },
    "Si": {
      "type": "string",
      "enum": [
        "event"
      ]
    },
    "Sk": {
      "type": "string",
      "min": 0,
      "max": 256
    },
    "Sl": {
      "type": "integer",
      "min": 1,
      "max": 60
    },
    "Sm": {
      "type": "integer",
      "min": 128,
      "max": 1024
    },
    "Sq": {
      "type": "blob",
      "streaming": true
    },
    "Su": {
      "type": "integer",
      "min": 1,
      "max": 10000
    }
  }
}