{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2015-03-31",
    "endpointPrefix": "lambda",
    "protocol": "rest-json",
    "serviceFullName": "AWS Lambda",
    "serviceId": "Lambda",
    "signatureVersion": "v4",
    "uid": "lambda-2015-03-31"
  },
  "operations": {
    "AddPermission": {
      "http": {
        "requestUri": "/2015-03-31/functions/{FunctionName}/policy",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName",
          "StatementId",
          "Action",
          "Principal"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "StatementId": {
            "type": "string",
            "max": 100,
            "min": 1,
            "pattern": "([a-zA-Z0-9-_]+)"
          },
          "Action": {
            "type": "string",
            "pattern": "(lambda:[*]|lambda:[a-zA-Z]+|[*])"
          },
          "Principal": {
            "type": "string",
            "pattern": ".*"
          },
          "SourceArn": {
            "shape": "S6"
          },
          "SourceAccount": {
            "type": "string",
            "pattern": "\\d{12}"
          },
          "EventSourceToken": {
            "type": "string",
            "max": 256,
            "min": 0,
            "pattern": "[a-zA-Z0-9._\\-]+"
          },
          "Qualifier": {
            "shape": "S9",
            "location": "querystring",
            "locationName": "Qualifier"
          },
          "RevisionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Statement": {}
        }
      }
    },
    "CreateAlias": {
      "http": {
        "requestUri": "/2015-03-31/functions/{FunctionName}/aliases",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName",
          "Name",
          "FunctionVersion"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "Name": {
            "shape": "Sd"
          },
          "FunctionVersion": {
            "shape": "Se"
          },
          "Description": {
            "shape": "Sf"
          },
          "RoutingConfig": {
            "shape": "Sg"
          }
        }
      },
      "output": {
        "shape": "Sk"
      }
    },
    "CreateEventSourceMapping": {
      "http": {
        "requestUri": "/2015-03-31/event-source-mappings/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "EventSourceArn",
          "FunctionName"
        ],
        "members": {
          "EventSourceArn": {
            "shape": "S6"
          },
          "FunctionName": {
            "shape": "S2"
          },
          "Enabled": {
            "type": "boolean"
          },
          "BatchSize": {
            "shape": "So"
          },
          "StartingPosition": {
            "type": "string",
            "enum": [
              "TRIM_HORIZON",
              "LATEST",
              "AT_TIMESTAMP"
            ]
          },
          "StartingPositionTimestamp": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "shape": "Sr"
      }
    },
    "CreateFunction": {
      "http": {
        "requestUri": "/2015-03-31/functions",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName",
          "Runtime",
          "Role",
          "Handler",
          "Code"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2"
          },
          "Runtime": {
            "shape": "St"
          },
          "Role": {
            "shape": "Su"
          },
          "Handler": {
            "shape": "Sv"
          },
          "Code": {
            "type": "structure",
            "members": {
              "ZipFile": {
                "shape": "Sx"
              },
              "S3Bucket": {
                "shape": "Sy"
              },
              "S3Key": {
                "shape": "Sz"
              },
              "S3ObjectVersion": {
                "shape": "S10"
              }
            }
          },
          "Description": {
            "shape": "Sf"
          },
          "Timeout": {
            "shape": "S11"
          },
          "MemorySize": {
            "shape": "S12"
          },
          "Publish": {
            "type": "boolean"
          },
          "VpcConfig": {
            "shape": "S14"
          },
          "DeadLetterConfig": {
            "shape": "S19"
          },
          "Environment": {
            "shape": "S1b"
          },
          "KMSKeyArn": {
            "shape": "S1f"
          },
          "TracingConfig": {
            "shape": "S1g"
          },
          "Tags": {
            "shape": "S1i"
          }
        }
      },
      "output": {
        "shape": "S1l"
      }
    },
    "DeleteAlias": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2015-03-31/functions/{FunctionName}/aliases/{Name}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName",
          "Name"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "Name": {
            "shape": "Sd",
            "location": "uri",
            "locationName": "Name"
          }
        }
      }
    },
    "DeleteEventSourceMapping": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2015-03-31/event-source-mappings/{UUID}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "UUID"
        ],
        "members": {
          "UUID": {
            "location": "uri",
            "locationName": "UUID"
          }
        }
      },
      "output": {
        "shape": "Sr"
      }
    },
    "DeleteFunction": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2015-03-31/functions/{FunctionName}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "Qualifier": {
            "shape": "S9",
            "location": "querystring",
            "locationName": "Qualifier"
          }
        }
      }
    },
    "DeleteFunctionConcurrency": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-10-31/functions/{FunctionName}/concurrency",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          }
        }
      }
    },
    "GetAccountSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/2016-08-19/account-settings/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountLimit": {
            "type": "structure",
            "members": {
              "TotalCodeSize": {
                "type": "long"
              },
              "CodeSizeUnzipped": {
                "type": "long"
              },
              "CodeSizeZipped": {
                "type": "long"
              },
              "ConcurrentExecutions": {
                "type": "integer"
              },
              "UnreservedConcurrentExecutions": {
                "type": "integer",
                "min": 0
              }
            }
          },
          "AccountUsage": {
            "type": "structure",
            "members": {
              "TotalCodeSize": {
                "type": "long"
              },
              "FunctionCount": {
                "type": "long"
              }
            }
          }
        }
      }
    },
    "GetAlias": {
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/{FunctionName}/aliases/{Name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName",
          "Name"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "Name": {
            "shape": "Sd",
            "location": "uri",
            "locationName": "Name"
          }
        }
      },
      "output": {
        "shape": "Sk"
      }
    },
    "GetEventSourceMapping": {
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/event-source-mappings/{UUID}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "UUID"
        ],
        "members": {
          "UUID": {
            "location": "uri",
            "locationName": "UUID"
          }
        }
      },
      "output": {
        "shape": "Sr"
      }
    },
    "GetFunction": {
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/{FunctionName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S1m",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "Qualifier": {
            "shape": "S9",
            "location": "querystring",
            "locationName": "Qualifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Configuration": {
            "shape": "S1l"
          },
          "Code": {
            "type": "structure",
            "members": {
              "RepositoryType": {},
              "Location": {}
            }
          },
          "Tags": {
            "shape": "S1i"
          },
          "Concurrency": {
            "shape": "S2b"
          }
        }
      }
    },
    "GetFunctionConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/{FunctionName}/configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S1m",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "Qualifier": {
            "shape": "S9",
            "location": "querystring",
            "locationName": "Qualifier"
          }
        }
      },
      "output": {
        "shape": "S1l"
      }
    },
    "GetPolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/{FunctionName}/policy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S1m",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "Qualifier": {
            "shape": "S9",
            "location": "querystring",
            "locationName": "Qualifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {},
          "RevisionId": {}
        }
      }
    },
    "Invoke": {
      "http": {
        "requestUri": "/2015-03-31/functions/{FunctionName}/invocations"
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S1m",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "InvocationType": {
            "location": "header",
            "locationName": "X-Amz-Invocation-Type",
            "type": "string",
            "enum": [
              "Event",
              "RequestResponse",
              "DryRun"
            ]
          },
          "LogType": {
            "location": "header",
            "locationName": "X-Amz-Log-Type",
            "type": "string",
            "enum": [
              "None",
              "Tail"
            ]
          },
          "ClientContext": {
            "location": "header",
            "locationName": "X-Amz-Client-Context"
          },
          "Payload": {
            "shape": "Sx"
          },
          "Qualifier": {
            "shape": "S9",
            "location": "querystring",
            "locationName": "Qualifier"
          }
        },
        "payload": "Payload"
      },
      "output": {
        "type": "structure",
        "members": {
          "StatusCode": {
            "location": "statusCode",
            "type": "integer"
          },
          "FunctionError": {
            "location": "header",
            "locationName": "X-Amz-Function-Error"
          },
          "LogResult": {
            "location": "header",
            "locationName": "X-Amz-Log-Result"
          },
          "Payload": {
            "shape": "Sx"
          },
          "ExecutedVersion": {
            "shape": "Se",
            "location": "header",
            "locationName": "X-Amz-Executed-Version"
          }
        },
        "payload": "Payload"
      }
    },
    "InvokeAsync": {
      "http": {
        "requestUri": "/2014-11-13/functions/{FunctionName}/invoke-async/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName",
          "InvokeArgs"
        ],
        "members": {
          "FunctionName": {
            "shape": "S1m",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "InvokeArgs": {
            "type": "blob",
            "streaming": true
          }
        },
        "deprecated": true,
        "payload": "InvokeArgs"
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        },
        "deprecated": true
      },
      "deprecated": true
    },
    "ListAliases": {
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/{FunctionName}/aliases",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "FunctionVersion": {
            "shape": "Se",
            "location": "querystring",
            "locationName": "FunctionVersion"
          },
          "Marker": {
            "location": "querystring",
            "locationName": "Marker"
          },
          "MaxItems": {
            "shape": "S2p",
            "location": "querystring",
            "locationName": "MaxItems"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "Aliases": {
            "type": "list",
            "member": {
              "shape": "Sk"
            }
          }
        }
      }
    },
    "ListEventSourceMappings": {
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/event-source-mappings/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "EventSourceArn": {
            "shape": "S6",
            "location": "querystring",
            "locationName": "EventSourceArn"
          },
          "FunctionName": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "FunctionName"
          },
          "Marker": {
            "location": "querystring",
            "locationName": "Marker"
          },
          "MaxItems": {
            "shape": "S2p",
            "location": "querystring",
            "locationName": "MaxItems"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "EventSourceMappings": {
            "type": "list",
            "member": {
              "shape": "Sr"
            }
          }
        }
      }
    },
    "ListFunctions": {
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MasterRegion": {
            "location": "querystring",
            "locationName": "MasterRegion",
            "type": "string",
            "pattern": "ALL|[a-z]{2}(-gov)?-[a-z]+-\\d{1}"
          },
          "FunctionVersion": {
            "location": "querystring",
            "locationName": "FunctionVersion",
            "type": "string",
            "enum": [
              "ALL"
            ]
          },
          "Marker": {
            "location": "querystring",
            "locationName": "Marker"
          },
          "MaxItems": {
            "shape": "S2p",
            "location": "querystring",
            "locationName": "MaxItems"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "Functions": {
            "shape": "S2z"
          }
        }
      }
    },
    "ListTags": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-03-31/tags/{ARN}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Resource"
        ],
        "members": {
          "Resource": {
            "shape": "Sl",
            "location": "uri",
            "locationName": "ARN"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S1i"
          }
        }
      }
    },
    "ListVersionsByFunction": {
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/{FunctionName}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S1m",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "Marker": {
            "location": "querystring",
            "locationName": "Marker"
          },
          "MaxItems": {
            "shape": "S2p",
            "location": "querystring",
            "locationName": "MaxItems"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextMarker": {},
          "Versions": {
            "shape": "S2z"
          }
        }
      }
    },
    "PublishVersion": {
      "http": {
        "requestUri": "/2015-03-31/functions/{FunctionName}/versions",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "CodeSha256": {},
          "Description": {
            "shape": "Sf"
          },
          "RevisionId": {}
        }
      },
      "output": {
        "shape": "S1l"
      }
    },
    "PutFunctionConcurrency": {
      "http": {
        "method": "PUT",
        "requestUri": "/2017-10-31/functions/{FunctionName}/concurrency",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName",
          "ReservedConcurrentExecutions"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "ReservedConcurrentExecutions": {
            "shape": "S2c"
          }
        }
      },
      "output": {
        "shape": "S2b"
      }
    },
    "RemovePermission": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2015-03-31/functions/{FunctionName}/policy/{StatementId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName",
          "StatementId"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "StatementId": {
            "location": "uri",
            "locationName": "StatementId",
            "type": "string",
            "max": 100,
            "min": 1,
            "pattern": "([a-zA-Z0-9-_.]+)"
          },
          "Qualifier": {
            "shape": "S9",
            "location": "querystring",
            "locationName": "Qualifier"
          },
          "RevisionId": {
            "location": "querystring",
            "locationName": "RevisionId"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/2017-03-31/tags/{ARN}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Resource",
          "Tags"
        ],
        "members": {
          "Resource": {
            "shape": "Sl",
            "location": "uri",
            "locationName": "ARN"
          },
          "Tags": {
            "shape": "S1i"
          }
        }
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-03-31/tags/{ARN}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Resource",
          "TagKeys"
        ],
        "members": {
          "Resource": {
            "shape": "Sl",
            "location": "uri",
            "locationName": "ARN"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "UpdateAlias": {
      "http": {
        "method": "PUT",
        "requestUri": "/2015-03-31/functions/{FunctionName}/aliases/{Name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName",
          "Name"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "Name": {
            "shape": "Sd",
            "location": "uri",
            "locationName": "Name"
          },
          "FunctionVersion": {
            "shape": "Se"
          },
          "Description": {
            "shape": "Sf"
          },
          "RoutingConfig": {
            "shape": "Sg"
          },
          "RevisionId": {}
        }
      },
      "output": {
        "shape": "Sk"
      }
    },
    "UpdateEventSourceMapping": {
      "http": {
        "method": "PUT",
        "requestUri": "/2015-03-31/event-source-mappings/{UUID}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "UUID"
        ],
        "members": {
          "UUID": {
            "location": "uri",
            "locationName": "UUID"
          },
          "FunctionName": {
            "shape": "S2"
          },
          "Enabled": {
            "type": "boolean"
          },
          "BatchSize": {
            "shape": "So"
          }
        }
      },
      "output": {
        "shape": "Sr"
      }
    },
    "UpdateFunctionCode": {
      "http": {
        "method": "PUT",
        "requestUri": "/2015-03-31/functions/{FunctionName}/code",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "ZipFile": {
            "shape": "Sx"
          },
          "S3Bucket": {
            "shape": "Sy"
          },
          "S3Key": {
            "shape": "Sz"
          },
          "S3ObjectVersion": {
            "shape": "S10"
          },
          "Publish": {
            "type": "boolean"
          },
          "DryRun": {
            "type": "boolean"
          },
          "RevisionId": {}
        }
      },
      "output": {
        "shape": "S1l"
      }
    },
    "UpdateFunctionConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/2015-03-31/functions/{FunctionName}/configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "FunctionName"
        ],
        "members": {
          "FunctionName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "FunctionName"
          },
          "Role": {
            "shape": "Su"
          },
          "Handler": {
            "shape": "Sv"
          },
          "Description": {
            "shape": "Sf"
          },
          "Timeout": {
            "shape": "S11"
          },
          "MemorySize": {
            "shape": "S12"
          },
          "VpcConfig": {
            "shape": "S14"
          },
          "Environment": {
            "shape": "S1b"
          },
          "Runtime": {
            "shape": "St"
          },
          "DeadLetterConfig": {
            "shape": "S19"
          },
          "KMSKeyArn": {
            "shape": "S1f"
          },
          "TracingConfig": {
            "shape": "S1g"
          },
          "RevisionId": {}
        }
      },
      "output": {
        "shape": "S1l"
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 140,
      "min": 1,
      "pattern": "(arn:aws:lambda:)?([a-z]{2}-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
    },
    "S6": {
      "type": "string",
      "pattern": "arn:aws:([a-zA-Z0-9\\-])+:([a-z]{2}-[a-z]+-\\d{1})?:(\\d{12})?:(.*)"
    },
    "S9": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "(|[a-zA-Z0-9$_-]+)"
    },
    "Sd": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_]+)"
    },
    "Se": {
      "type": "string",
      "max": 1024,
      "min": 1,
      "pattern": "(\\$LATEST|[0-9]+)"
    },
    "Sf": {
      "type": "string",
      "max": 256,
      "min": 0
    },
    "Sg": {
      "type": "structure",
      "members": {
        "AdditionalVersionWeights": {
          "type": "map",
          "key": {
            "type": "string",
            "max": 1024,
            "min": 1,
            "pattern": "[0-9]+"
          },
          "value": {
            "type": "double",
            "max": 1,
            "min": 0
          }
        }
      }
    },
    "Sk": {
      "type": "structure",
      "members": {
        "AliasArn": {
          "shape": "Sl"
        },
        "Name": {
          "shape": "Sd"
        },
        "FunctionVersion": {
          "shape": "Se"
        },
        "Description": {
          "shape": "Sf"
        },
        "RoutingConfig": {
          "shape": "Sg"
        },
        "RevisionId": {}
      }
    },
    "Sl": {
      "type": "string",
      "pattern": "arn:aws:lambda:[a-z]{2}-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
    },
    "So": {
      "type": "integer",
      "max": 10000,
      "min": 1
    },
    "Sr": {
      "type": "structure",
      "members": {
        "UUID": {},
        "BatchSize": {
          "shape": "So"
        },
        "EventSourceArn": {
          "shape": "S6"
        },
        "FunctionArn": {
          "shape": "Sl"
        },
        "LastModified": {
          "type": "timestamp"
        },
        "LastProcessingResult": {},
        "State": {},
        "StateTransitionReason": {}
      }
    },
    "St": {
      "type": "string",
      "enum": [
        "nodejs",
        "nodejs4.3",
        "nodejs6.10",
        "nodejs8.10",
        "java8",
        "python2.7",
        "python3.6",
        "dotnetcore1.0",
        "dotnetcore2.0",
        "dotnetcore2.1",
        "nodejs4.3-edge",
        "go1.x"
      ]
    },
    "Su": {
      "type": "string",
      "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+"
    },
    "Sv": {
      "type": "string",
      "max": 128,
      "pattern": "[^\\s]+"
    },
    "Sx": {
      "type": "blob",
      "sensitive": true
    },
    "Sy": {
      "type": "string",
      "max": 63,
      "min": 3,
      "pattern": "^[0-9A-Za-z\\.\\-_]*(?<!\\.)$"
    },
    "Sz": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "S10": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "S11": {
      "type": "integer",
      "min": 1
    },
    "S12": {
      "type": "integer",
      "max": 3008,
      "min": 128
    },
    "S14": {
      "type": "structure",
      "members": {
        "SubnetIds": {
          "shape": "S15"
        },
        "SecurityGroupIds": {
          "shape": "S17"
        }
      }
    },
    "S15": {
      "type": "list",
      "member": {},
      "max": 16
    },
    "S17": {
      "type": "list",
      "member": {},
      "max": 5
    },
    "S19": {
      "type": "structure",
      "members": {
        "TargetArn": {
          "type": "string",
          "pattern": "(arn:aws:[a-z0-9-.]+:.*)|()"
        }
      }
    },
    "S1b": {
      "type": "structure",
      "members": {
        "Variables": {
          "shape": "S1c"
        }
      }
    },
    "S1c": {
      "type": "map",
      "key": {
        "type": "string",
        "pattern": "[a-zA-Z]([a-zA-Z0-9_])+",
        "sensitive": true
      },
      "value": {
        "type": "string",
        "sensitive": true
      },
      "sensitive": true
    },
    "S1f": {
      "type": "string",
      "pattern": "(arn:aws:[a-z0-9-.]+:.*)|()"
    },
    "S1g": {
      "type": "structure",
      "members": {
        "Mode": {
          "shape": "S1h"
        }
      }
    },
    "S1h": {
      "type": "string",
      "enum": [
        "Active",
        "PassThrough"
      ]
    },
    "S1i": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1l": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "S1m"
        },
        "FunctionArn": {
          "type": "string",
          "pattern": "arn:aws:lambda:[a-z]{2}-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_\\.]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
        },
        "Runtime": {
          "shape": "St"
        },
        "Role": {
          "shape": "Su"
        },
        "Handler": {
          "shape": "Sv"
        },
        "CodeSize": {
          "type": "long"
        },
        "Description": {
          "shape": "Sf"
        },
        "Timeout": {
          "shape": "S11"
        },
        "MemorySize": {
          "shape": "S12"
        },
        "LastModified": {},
        "CodeSha256": {},
        "Version": {
          "shape": "Se"
        },
        "VpcConfig": {
          "type": "structure",
          "members": {
            "SubnetIds": {
              "shape": "S15"
            },
            "SecurityGroupIds": {
              "shape": "S17"
            },
            "VpcId": {}
          }
        },
        "DeadLetterConfig": {
          "shape": "S19"
        },
        "Environment": {
          "type": "structure",
          "members": {
            "Variables": {
              "shape": "S1c"
            },
            "Error": {
              "type": "structure",
              "members": {
                "ErrorCode": {},
                "Message": {
                  "type": "string",
                  "sensitive": true
                }
              }
            }
          }
        },
        "KMSKeyArn": {
          "shape": "S1f"
        },
        "TracingConfig": {
          "type": "structure",
          "members": {
            "Mode": {
              "shape": "S1h"
            }
          }
        },
        "MasterArn": {
          "shape": "Sl"
        },
        "RevisionId": {}
      }
    },
    "S1m": {
      "type": "string",
      "max": 170,
      "min": 1,
      "pattern": "(arn:aws:lambda:)?([a-z]{2}-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_\\.]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
    },
    "S2b": {
      "type": "structure",
      "members": {
        "ReservedConcurrentExecutions": {
          "shape": "S2c"
        }
      }
    },
    "S2c": {
      "type": "integer",
      "min": 0
    },
    "S2p": {
      "type": "integer",
      "max": 10000,
      "min": 1
    },
    "S2z": {
      "type": "list",
      "member": {
        "shape": "S1l"
      }
    }
  }
}