{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-04-19",
    "endpointPrefix": "models.lex",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Lex Model Building Service",
    "serviceId": "Lex Model Building Service",
    "signatureVersion": "v4",
    "signingName": "lex",
    "uid": "lex-models-2017-04-19"
  },
  "operations": {
    "CreateBotVersion": {
      "http": {
        "requestUri": "/bots/{name}/versions",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S2",
            "location": "uri",
            "locationName": "name"
          },
          "checksum": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S2"
          },
          "description": {
            "shape": "S5"
          },
          "intents": {
            "shape": "S6"
          },
          "clarificationPrompt": {
            "shape": "Sa"
          },
          "abortStatement": {
            "shape": "Si"
          },
          "status": {
            "shape": "Sj"
          },
          "failureReason": {},
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "idleSessionTTLInSeconds": {
            "shape": "Sl"
          },
          "voiceId": {},
          "checksum": {},
          "version": {
            "shape": "S9"
          },
          "locale": {
            "shape": "Sm"
          },
          "childDirected": {
            "type": "boolean"
          }
        }
      }
    },
    "CreateIntentVersion": {
      "http": {
        "requestUri": "/intents/{name}/versions",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S8",
            "location": "uri",
            "locationName": "name"
          },
          "checksum": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S8"
          },
          "description": {
            "shape": "S5"
          },
          "slots": {
            "shape": "Sq"
          },
          "sampleUtterances": {
            "shape": "Sy"
          },
          "confirmationPrompt": {
            "shape": "Sa"
          },
          "rejectionStatement": {
            "shape": "Si"
          },
          "followUpPrompt": {
            "shape": "Sz"
          },
          "conclusionStatement": {
            "shape": "Si"
          },
          "dialogCodeHook": {
            "shape": "S10"
          },
          "fulfillmentActivity": {
            "shape": "S13"
          },
          "parentIntentSignature": {},
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "version": {
            "shape": "S9"
          },
          "checksum": {}
        }
      }
    },
    "CreateSlotTypeVersion": {
      "http": {
        "requestUri": "/slottypes/{name}/versions",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S17",
            "location": "uri",
            "locationName": "name"
          },
          "checksum": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S17"
          },
          "description": {
            "shape": "S5"
          },
          "enumerationValues": {
            "shape": "S19"
          },
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "version": {
            "shape": "S9"
          },
          "checksum": {},
          "valueSelectionStrategy": {
            "shape": "S1d"
          }
        }
      }
    },
    "DeleteBot": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{name}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S2",
            "location": "uri",
            "locationName": "name"
          }
        }
      }
    },
    "DeleteBotAlias": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botName}/aliases/{name}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "botName"
        ],
        "members": {
          "name": {
            "shape": "S1g",
            "location": "uri",
            "locationName": "name"
          },
          "botName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "botName"
          }
        }
      }
    },
    "DeleteBotChannelAssociation": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botName}/aliases/{aliasName}/channels/{name}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "botName",
          "botAlias"
        ],
        "members": {
          "name": {
            "shape": "S1i",
            "location": "uri",
            "locationName": "name"
          },
          "botName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "botName"
          },
          "botAlias": {
            "shape": "S1g",
            "location": "uri",
            "locationName": "aliasName"
          }
        }
      }
    },
    "DeleteBotVersion": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{name}/versions/{version}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "version"
        ],
        "members": {
          "name": {
            "shape": "S2",
            "location": "uri",
            "locationName": "name"
          },
          "version": {
            "shape": "S1k",
            "location": "uri",
            "locationName": "version"
          }
        }
      }
    },
    "DeleteIntent": {
      "http": {
        "method": "DELETE",
        "requestUri": "/intents/{name}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S8",
            "location": "uri",
            "locationName": "name"
          }
        }
      }
    },
    "DeleteIntentVersion": {
      "http": {
        "method": "DELETE",
        "requestUri": "/intents/{name}/versions/{version}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "version"
        ],
        "members": {
          "name": {
            "shape": "S8",
            "location": "uri",
            "locationName": "name"
          },
          "version": {
            "shape": "S1k",
            "location": "uri",
            "locationName": "version"
          }
        }
      }
    },
    "DeleteSlotType": {
      "http": {
        "method": "DELETE",
        "requestUri": "/slottypes/{name}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S17",
            "location": "uri",
            "locationName": "name"
          }
        }
      }
    },
    "DeleteSlotTypeVersion": {
      "http": {
        "method": "DELETE",
        "requestUri": "/slottypes/{name}/version/{version}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "version"
        ],
        "members": {
          "name": {
            "shape": "S17",
            "location": "uri",
            "locationName": "name"
          },
          "version": {
            "shape": "S1k",
            "location": "uri",
            "locationName": "version"
          }
        }
      }
    },
    "DeleteUtterances": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botName}/utterances/{userId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "botName",
          "userId"
        ],
        "members": {
          "botName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "botName"
          },
          "userId": {
            "location": "uri",
            "locationName": "userId",
            "type": "string",
            "max": 100,
            "min": 2
          }
        }
      }
    },
    "GetBot": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{name}/versions/{versionoralias}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "versionOrAlias"
        ],
        "members": {
          "name": {
            "shape": "S2",
            "location": "uri",
            "locationName": "name"
          },
          "versionOrAlias": {
            "location": "uri",
            "locationName": "versionoralias"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S2"
          },
          "description": {
            "shape": "S5"
          },
          "intents": {
            "shape": "S6"
          },
          "clarificationPrompt": {
            "shape": "Sa"
          },
          "abortStatement": {
            "shape": "Si"
          },
          "status": {
            "shape": "Sj"
          },
          "failureReason": {},
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "idleSessionTTLInSeconds": {
            "shape": "Sl"
          },
          "voiceId": {},
          "checksum": {},
          "version": {
            "shape": "S9"
          },
          "locale": {
            "shape": "Sm"
          },
          "childDirected": {
            "type": "boolean"
          }
        }
      }
    },
    "GetBotAlias": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botName}/aliases/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "botName"
        ],
        "members": {
          "name": {
            "shape": "S1g",
            "location": "uri",
            "locationName": "name"
          },
          "botName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "botName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S1g"
          },
          "description": {
            "shape": "S5"
          },
          "botVersion": {
            "shape": "S9"
          },
          "botName": {
            "shape": "S2"
          },
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "checksum": {}
        }
      }
    },
    "GetBotAliases": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botName}/aliases/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botName"
        ],
        "members": {
          "botName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "botName"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "shape": "S1x",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "nameContains": {
            "shape": "S1g",
            "location": "querystring",
            "locationName": "nameContains"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BotAliases": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {
                  "shape": "S1g"
                },
                "description": {
                  "shape": "S5"
                },
                "botVersion": {
                  "shape": "S9"
                },
                "botName": {
                  "shape": "S2"
                },
                "lastUpdatedDate": {
                  "type": "timestamp"
                },
                "createdDate": {
                  "type": "timestamp"
                },
                "checksum": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetBotChannelAssociation": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botName}/aliases/{aliasName}/channels/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "botName",
          "botAlias"
        ],
        "members": {
          "name": {
            "shape": "S1i",
            "location": "uri",
            "locationName": "name"
          },
          "botName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "botName"
          },
          "botAlias": {
            "shape": "S1g",
            "location": "uri",
            "locationName": "aliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S1i"
          },
          "description": {
            "shape": "S5"
          },
          "botAlias": {
            "shape": "S1g"
          },
          "botName": {
            "shape": "S2"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "type": {
            "shape": "S23"
          },
          "botConfiguration": {
            "shape": "S24"
          },
          "status": {
            "shape": "S25"
          },
          "failureReason": {}
        }
      }
    },
    "GetBotChannelAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botName}/aliases/{aliasName}/channels/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botName",
          "botAlias"
        ],
        "members": {
          "botName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "botName"
          },
          "botAlias": {
            "location": "uri",
            "locationName": "aliasName",
            "type": "string",
            "max": 100,
            "min": 1,
            "pattern": "^(-|^([A-Za-z]_?)+$)$"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "shape": "S1x",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "nameContains": {
            "shape": "S1i",
            "location": "querystring",
            "locationName": "nameContains"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botChannelAssociations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {
                  "shape": "S1i"
                },
                "description": {
                  "shape": "S5"
                },
                "botAlias": {
                  "shape": "S1g"
                },
                "botName": {
                  "shape": "S2"
                },
                "createdDate": {
                  "type": "timestamp"
                },
                "type": {
                  "shape": "S23"
                },
                "botConfiguration": {
                  "shape": "S24"
                },
                "status": {
                  "shape": "S25"
                },
                "failureReason": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetBotVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{name}/versions/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S2",
            "location": "uri",
            "locationName": "name"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "shape": "S1x",
            "location": "querystring",
            "locationName": "maxResults"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "bots": {
            "shape": "S2d"
          },
          "nextToken": {}
        }
      }
    },
    "GetBots": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "shape": "S1x",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "nameContains": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "nameContains"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "bots": {
            "shape": "S2d"
          },
          "nextToken": {}
        }
      }
    },
    "GetBuiltinIntent": {
      "http": {
        "method": "GET",
        "requestUri": "/builtins/intents/{signature}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "signature"
        ],
        "members": {
          "signature": {
            "location": "uri",
            "locationName": "signature"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "signature": {},
          "supportedLocales": {
            "shape": "S2j"
          },
          "slots": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {}
              }
            }
          }
        }
      }
    },
    "GetBuiltinIntents": {
      "http": {
        "method": "GET",
        "requestUri": "/builtins/intents/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "locale": {
            "shape": "Sm",
            "location": "querystring",
            "locationName": "locale"
          },
          "signatureContains": {
            "location": "querystring",
            "locationName": "signatureContains"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "shape": "S1x",
            "location": "querystring",
            "locationName": "maxResults"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "intents": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "signature": {},
                "supportedLocales": {
                  "shape": "S2j"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetBuiltinSlotTypes": {
      "http": {
        "method": "GET",
        "requestUri": "/builtins/slottypes/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "locale": {
            "shape": "Sm",
            "location": "querystring",
            "locationName": "locale"
          },
          "signatureContains": {
            "location": "querystring",
            "locationName": "signatureContains"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "shape": "S1x",
            "location": "querystring",
            "locationName": "maxResults"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotTypes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "signature": {},
                "supportedLocales": {
                  "shape": "S2j"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "GetExport": {
      "http": {
        "method": "GET",
        "requestUri": "/exports/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "version",
          "resourceType",
          "exportType"
        ],
        "members": {
          "name": {
            "shape": "S2w",
            "location": "querystring",
            "locationName": "name"
          },
          "version": {
            "shape": "S1k",
            "location": "querystring",
            "locationName": "version"
          },
          "resourceType": {
            "shape": "S2x",
            "location": "querystring",
            "locationName": "resourceType"
          },
          "exportType": {
            "shape": "S2y",
            "location": "querystring",
            "locationName": "exportType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S2w"
          },
          "version": {
            "shape": "S1k"
          },
          "resourceType": {
            "shape": "S2x"
          },
          "exportType": {
            "shape": "S2y"
          },
          "exportStatus": {
            "type": "string",
            "enum": [
              "IN_PROGRESS",
              "READY",
              "FAILED"
            ]
          },
          "failureReason": {},
          "url": {}
        }
      }
    },
    "GetImport": {
      "http": {
        "method": "GET",
        "requestUri": "/imports/{importId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "importId"
        ],
        "members": {
          "importId": {
            "location": "uri",
            "locationName": "importId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S2w"
          },
          "resourceType": {
            "shape": "S2x"
          },
          "mergeStrategy": {
            "shape": "S33"
          },
          "importId": {},
          "importStatus": {
            "shape": "S34"
          },
          "failureReason": {
            "type": "list",
            "member": {}
          },
          "createdDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetIntent": {
      "http": {
        "method": "GET",
        "requestUri": "/intents/{name}/versions/{version}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "version"
        ],
        "members": {
          "name": {
            "shape": "S8",
            "location": "uri",
            "locationName": "name"
          },
          "version": {
            "shape": "S9",
            "location": "uri",
            "locationName": "version"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S8"
          },
          "description": {
            "shape": "S5"
          },
          "slots": {
            "shape": "Sq"
          },
          "sampleUtterances": {
            "shape": "Sy"
          },
          "confirmationPrompt": {
            "shape": "Sa"
          },
          "rejectionStatement": {
            "shape": "Si"
          },
          "followUpPrompt": {
            "shape": "Sz"
          },
          "conclusionStatement": {
            "shape": "Si"
          },
          "dialogCodeHook": {
            "shape": "S10"
          },
          "fulfillmentActivity": {
            "shape": "S13"
          },
          "parentIntentSignature": {},
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "version": {
            "shape": "S9"
          },
          "checksum": {}
        }
      }
    },
    "GetIntentVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/intents/{name}/versions/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S8",
            "location": "uri",
            "locationName": "name"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "shape": "S1x",
            "location": "querystring",
            "locationName": "maxResults"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "intents": {
            "shape": "S3a"
          },
          "nextToken": {}
        }
      }
    },
    "GetIntents": {
      "http": {
        "method": "GET",
        "requestUri": "/intents/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "shape": "S1x",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "nameContains": {
            "shape": "S8",
            "location": "querystring",
            "locationName": "nameContains"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "intents": {
            "shape": "S3a"
          },
          "nextToken": {}
        }
      }
    },
    "GetSlotType": {
      "http": {
        "method": "GET",
        "requestUri": "/slottypes/{name}/versions/{version}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "version"
        ],
        "members": {
          "name": {
            "shape": "S17",
            "location": "uri",
            "locationName": "name"
          },
          "version": {
            "shape": "S9",
            "location": "uri",
            "locationName": "version"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S17"
          },
          "description": {
            "shape": "S5"
          },
          "enumerationValues": {
            "shape": "S19"
          },
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "version": {
            "shape": "S9"
          },
          "checksum": {},
          "valueSelectionStrategy": {
            "shape": "S1d"
          }
        }
      }
    },
    "GetSlotTypeVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/slottypes/{name}/versions/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S17",
            "location": "uri",
            "locationName": "name"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "shape": "S1x",
            "location": "querystring",
            "locationName": "maxResults"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotTypes": {
            "shape": "S3i"
          },
          "nextToken": {}
        }
      }
    },
    "GetSlotTypes": {
      "http": {
        "method": "GET",
        "requestUri": "/slottypes/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "maxResults": {
            "shape": "S1x",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "nameContains": {
            "shape": "S17",
            "location": "querystring",
            "locationName": "nameContains"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotTypes": {
            "shape": "S3i"
          },
          "nextToken": {}
        }
      }
    },
    "GetUtterancesView": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botname}/utterances?view=aggregation",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botName",
          "botVersions",
          "statusType"
        ],
        "members": {
          "botName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "botname"
          },
          "botVersions": {
            "location": "querystring",
            "locationName": "bot_versions",
            "type": "list",
            "member": {
              "shape": "S9"
            },
            "max": 5,
            "min": 1
          },
          "statusType": {
            "location": "querystring",
            "locationName": "status_type",
            "type": "string",
            "enum": [
              "Detected",
              "Missed"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botName": {
            "shape": "S2"
          },
          "utterances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "botVersion": {
                  "shape": "S9"
                },
                "utterances": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "utteranceString": {
                        "type": "string",
                        "max": 2000,
                        "min": 1
                      },
                      "count": {
                        "type": "integer"
                      },
                      "distinctUsers": {
                        "type": "integer"
                      },
                      "firstUtteredDate": {
                        "type": "timestamp"
                      },
                      "lastUtteredDate": {
                        "type": "timestamp"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PutBot": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{name}/versions/$LATEST",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "locale",
          "childDirected"
        ],
        "members": {
          "name": {
            "shape": "S2",
            "location": "uri",
            "locationName": "name"
          },
          "description": {
            "shape": "S5"
          },
          "intents": {
            "shape": "S6"
          },
          "clarificationPrompt": {
            "shape": "Sa"
          },
          "abortStatement": {
            "shape": "Si"
          },
          "idleSessionTTLInSeconds": {
            "shape": "Sl"
          },
          "voiceId": {},
          "checksum": {},
          "processBehavior": {
            "type": "string",
            "enum": [
              "SAVE",
              "BUILD"
            ]
          },
          "locale": {
            "shape": "Sm"
          },
          "childDirected": {
            "type": "boolean"
          },
          "createVersion": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S2"
          },
          "description": {
            "shape": "S5"
          },
          "intents": {
            "shape": "S6"
          },
          "clarificationPrompt": {
            "shape": "Sa"
          },
          "abortStatement": {
            "shape": "Si"
          },
          "status": {
            "shape": "Sj"
          },
          "failureReason": {},
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "idleSessionTTLInSeconds": {
            "shape": "Sl"
          },
          "voiceId": {},
          "checksum": {},
          "version": {
            "shape": "S9"
          },
          "locale": {
            "shape": "Sm"
          },
          "childDirected": {
            "type": "boolean"
          },
          "createVersion": {
            "type": "boolean"
          }
        }
      }
    },
    "PutBotAlias": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botName}/aliases/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "botVersion",
          "botName"
        ],
        "members": {
          "name": {
            "shape": "S1g",
            "location": "uri",
            "locationName": "name"
          },
          "description": {
            "shape": "S5"
          },
          "botVersion": {
            "shape": "S9"
          },
          "botName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "botName"
          },
          "checksum": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S1g"
          },
          "description": {
            "shape": "S5"
          },
          "botVersion": {
            "shape": "S9"
          },
          "botName": {
            "shape": "S2"
          },
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "checksum": {}
        }
      }
    },
    "PutIntent": {
      "http": {
        "method": "PUT",
        "requestUri": "/intents/{name}/versions/$LATEST",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S8",
            "location": "uri",
            "locationName": "name"
          },
          "description": {
            "shape": "S5"
          },
          "slots": {
            "shape": "Sq"
          },
          "sampleUtterances": {
            "shape": "Sy"
          },
          "confirmationPrompt": {
            "shape": "Sa"
          },
          "rejectionStatement": {
            "shape": "Si"
          },
          "followUpPrompt": {
            "shape": "Sz"
          },
          "conclusionStatement": {
            "shape": "Si"
          },
          "dialogCodeHook": {
            "shape": "S10"
          },
          "fulfillmentActivity": {
            "shape": "S13"
          },
          "parentIntentSignature": {},
          "checksum": {},
          "createVersion": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S8"
          },
          "description": {
            "shape": "S5"
          },
          "slots": {
            "shape": "Sq"
          },
          "sampleUtterances": {
            "shape": "Sy"
          },
          "confirmationPrompt": {
            "shape": "Sa"
          },
          "rejectionStatement": {
            "shape": "Si"
          },
          "followUpPrompt": {
            "shape": "Sz"
          },
          "conclusionStatement": {
            "shape": "Si"
          },
          "dialogCodeHook": {
            "shape": "S10"
          },
          "fulfillmentActivity": {
            "shape": "S13"
          },
          "parentIntentSignature": {},
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "version": {
            "shape": "S9"
          },
          "checksum": {},
          "createVersion": {
            "type": "boolean"
          }
        }
      }
    },
    "PutSlotType": {
      "http": {
        "method": "PUT",
        "requestUri": "/slottypes/{name}/versions/$LATEST",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {
            "shape": "S17",
            "location": "uri",
            "locationName": "name"
          },
          "description": {
            "shape": "S5"
          },
          "enumerationValues": {
            "shape": "S19"
          },
          "checksum": {},
          "valueSelectionStrategy": {
            "shape": "S1d"
          },
          "createVersion": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S17"
          },
          "description": {
            "shape": "S5"
          },
          "enumerationValues": {
            "shape": "S19"
          },
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "version": {
            "shape": "S9"
          },
          "checksum": {},
          "valueSelectionStrategy": {
            "shape": "S1d"
          },
          "createVersion": {
            "type": "boolean"
          }
        }
      }
    },
    "StartImport": {
      "http": {
        "requestUri": "/imports/",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "payload",
          "resourceType",
          "mergeStrategy"
        ],
        "members": {
          "payload": {
            "type": "blob"
          },
          "resourceType": {
            "shape": "S2x"
          },
          "mergeStrategy": {
            "shape": "S33"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S2w"
          },
          "resourceType": {
            "shape": "S2x"
          },
          "mergeStrategy": {
            "shape": "S33"
          },
          "importId": {},
          "importStatus": {
            "shape": "S34"
          },
          "createdDate": {
            "type": "timestamp"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 50,
      "min": 2,
      "pattern": "^([A-Za-z]_?)+$"
    },
    "S5": {
      "type": "string",
      "max": 200,
      "min": 0
    },
    "S6": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "intentName",
          "intentVersion"
        ],
        "members": {
          "intentName": {
            "shape": "S8"
          },
          "intentVersion": {
            "shape": "S9"
          }
        }
      }
    },
    "S8": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "^([A-Za-z]_?)+$"
    },
    "S9": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "\\$LATEST|[0-9]+"
    },
    "Sa": {
      "type": "structure",
      "required": [
        "messages",
        "maxAttempts"
      ],
      "members": {
        "messages": {
          "shape": "Sb"
        },
        "maxAttempts": {
          "type": "integer",
          "max": 5,
          "min": 1
        },
        "responseCard": {
          "shape": "Sh"
        }
      }
    },
    "Sb": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "contentType",
          "content"
        ],
        "members": {
          "contentType": {
            "type": "string",
            "enum": [
              "PlainText",
              "SSML",
              "CustomPayload"
            ]
          },
          "content": {
            "type": "string",
            "max": 1000,
            "min": 1
          },
          "groupNumber": {
            "type": "integer",
            "max": 5,
            "min": 1
          }
        }
      },
      "max": 15,
      "min": 1
    },
    "Sh": {
      "type": "string",
      "max": 50000,
      "min": 1
    },
    "Si": {
      "type": "structure",
      "required": [
        "messages"
      ],
      "members": {
        "messages": {
          "shape": "Sb"
        },
        "responseCard": {
          "shape": "Sh"
        }
      }
    },
    "Sj": {
      "type": "string",
      "enum": [
        "BUILDING",
        "READY",
        "READY_BASIC_TESTING",
        "FAILED",
        "NOT_BUILT"
      ]
    },
    "Sl": {
      "type": "integer",
      "max": 86400,
      "min": 60
    },
    "Sm": {
      "type": "string",
      "enum": [
        "en-US",
        "en-GB",
        "de-DE"
      ]
    },
    "Sq": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "slotConstraint"
        ],
        "members": {
          "name": {
            "type": "string",
            "max": 100,
            "min": 1,
            "pattern": "^([A-Za-z](-|_|.)?)+$"
          },
          "description": {
            "shape": "S5"
          },
          "slotConstraint": {
            "type": "string",
            "enum": [
              "Required",
              "Optional"
            ]
          },
          "slotType": {
            "type": "string",
            "max": 100,
            "min": 1,
            "pattern": "^((AMAZON\\.)_?|[A-Za-z]_?)+"
          },
          "slotTypeVersion": {
            "shape": "S9"
          },
          "valueElicitationPrompt": {
            "shape": "Sa"
          },
          "priority": {
            "type": "integer",
            "max": 100,
            "min": 0
          },
          "sampleUtterances": {
            "type": "list",
            "member": {
              "shape": "Sx"
            },
            "max": 10,
            "min": 0
          },
          "responseCard": {
            "shape": "Sh"
          }
        }
      },
      "max": 100,
      "min": 0
    },
    "Sx": {
      "type": "string",
      "max": 200,
      "min": 1
    },
    "Sy": {
      "type": "list",
      "member": {
        "shape": "Sx"
      },
      "max": 1500,
      "min": 0
    },
    "Sz": {
      "type": "structure",
      "required": [
        "prompt",
        "rejectionStatement"
      ],
      "members": {
        "prompt": {
          "shape": "Sa"
        },
        "rejectionStatement": {
          "shape": "Si"
        }
      }
    },
    "S10": {
      "type": "structure",
      "required": [
        "uri",
        "messageVersion"
      ],
      "members": {
        "uri": {
          "type": "string",
          "max": 2048,
          "min": 20,
          "pattern": "arn:aws:lambda:[a-z]+-[a-z]+-[0-9]:[0-9]{12}:function:[a-zA-Z0-9-_]+(/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})?(:[a-zA-Z0-9-_]+)?"
        },
        "messageVersion": {
          "type": "string",
          "max": 5,
          "min": 1
        }
      }
    },
    "S13": {
      "type": "structure",
      "required": [
        "type"
      ],
      "members": {
        "type": {
          "type": "string",
          "enum": [
            "ReturnIntent",
            "CodeHook"
          ]
        },
        "codeHook": {
          "shape": "S10"
        }
      }
    },
    "S17": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "^([A-Za-z]_?)+$"
    },
    "S19": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "value"
        ],
        "members": {
          "value": {
            "shape": "S1b"
          },
          "synonyms": {
            "type": "list",
            "member": {
              "shape": "S1b"
            }
          }
        }
      },
      "max": 10000,
      "min": 1
    },
    "S1b": {
      "type": "string",
      "max": 140,
      "min": 1
    },
    "S1d": {
      "type": "string",
      "enum": [
        "ORIGINAL_VALUE",
        "TOP_RESOLUTION"
      ]
    },
    "S1g": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "^([A-Za-z]_?)+$"
    },
    "S1i": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "^([A-Za-z]_?)+$"
    },
    "S1k": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "[0-9]+"
    },
    "S1x": {
      "type": "integer",
      "max": 50,
      "min": 1
    },
    "S23": {
      "type": "string",
      "enum": [
        "Facebook",
        "Slack",
        "Twilio-Sms",
        "Kik"
      ]
    },
    "S24": {
      "type": "map",
      "key": {},
      "value": {},
      "max": 10,
      "min": 1,
      "sensitive": true
    },
    "S25": {
      "type": "string",
      "enum": [
        "IN_PROGRESS",
        "CREATED",
        "FAILED"
      ]
    },
    "S2d": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S2"
          },
          "description": {
            "shape": "S5"
          },
          "status": {
            "shape": "Sj"
          },
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "version": {
            "shape": "S9"
          }
        }
      }
    },
    "S2j": {
      "type": "list",
      "member": {
        "shape": "Sm"
      }
    },
    "S2w": {
      "type": "string",
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z_]+"
    },
    "S2x": {
      "type": "string",
      "enum": [
        "BOT",
        "INTENT",
        "SLOT_TYPE"
      ]
    },
    "S2y": {
      "type": "string",
      "enum": [
        "ALEXA_SKILLS_KIT",
        "LEX"
      ]
    },
    "S33": {
      "type": "string",
      "enum": [
        "OVERWRITE_LATEST",
        "FAIL_ON_CONFLICT"
      ]
    },
    "S34": {
      "type": "string",
      "enum": [
        "IN_PROGRESS",
        "COMPLETE",
        "FAILED"
      ]
    },
    "S3a": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S8"
          },
          "description": {
            "shape": "S5"
          },
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "version": {
            "shape": "S9"
          }
        }
      }
    },
    "S3i": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {
            "shape": "S17"
          },
          "description": {
            "shape": "S5"
          },
          "lastUpdatedDate": {
            "type": "timestamp"
          },
          "createdDate": {
            "type": "timestamp"
          },
          "version": {
            "shape": "S9"
          }
        }
      }
    }
  }
}