{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-08-01",
    "endpointPrefix": "license-manager",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS License Manager",
    "serviceId": "License Manager",
    "signatureVersion": "v4",
    "targetPrefix": "AWSLicenseManager",
    "uid": "license-manager-2018-08-01"
  },
  "operations": {
    "AcceptGrant": {
      "input": {
        "type": "structure",
        "required": [
          "GrantArn"
        ],
        "members": {
          "GrantArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GrantArn": {},
          "Status": {},
          "Version": {}
        }
      }
    },
    "CheckInLicense": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConsumptionToken"
        ],
        "members": {
          "LicenseConsumptionToken": {},
          "Beneficiary": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CheckoutBorrowLicense": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseArn",
          "Entitlements",
          "DigitalSignatureMethod",
          "ClientToken"
        ],
        "members": {
          "LicenseArn": {},
          "Entitlements": {
            "shape": "S9"
          },
          "DigitalSignatureMethod": {},
          "NodeId": {},
          "CheckoutMetadata": {
            "shape": "Sd"
          },
          "ClientToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseArn": {},
          "LicenseConsumptionToken": {},
          "EntitlementsAllowed": {
            "shape": "S9"
          },
          "NodeId": {},
          "SignedToken": {},
          "IssuedAt": {},
          "Expiration": {},
          "CheckoutMetadata": {
            "shape": "Sd"
          }
        }
      }
    },
    "CheckoutLicense": {
      "input": {
        "type": "structure",
        "required": [
          "ProductSKU",
          "CheckoutType",
          "KeyFingerprint",
          "Entitlements",
          "ClientToken"
        ],
        "members": {
          "ProductSKU": {},
          "CheckoutType": {},
          "KeyFingerprint": {},
          "Entitlements": {
            "shape": "S9"
          },
          "ClientToken": {},
          "Beneficiary": {},
          "NodeId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CheckoutType": {},
          "LicenseConsumptionToken": {},
          "EntitlementsAllowed": {
            "shape": "S9"
          },
          "SignedToken": {},
          "NodeId": {},
          "IssuedAt": {},
          "Expiration": {}
        }
      }
    },
    "CreateGrant": {
      "input": {
        "type": "structure",
        "required": [
          "ClientToken",
          "GrantName",
          "LicenseArn",
          "Principals",
          "HomeRegion",
          "AllowedOperations"
        ],
        "members": {
          "ClientToken": {},
          "GrantName": {},
          "LicenseArn": {},
          "Principals": {
            "type": "list",
            "member": {}
          },
          "HomeRegion": {},
          "AllowedOperations": {
            "shape": "So"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GrantArn": {},
          "Status": {},
          "Version": {}
        }
      }
    },
    "CreateGrantVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ClientToken",
          "GrantArn"
        ],
        "members": {
          "ClientToken": {},
          "GrantArn": {},
          "GrantName": {},
          "AllowedOperations": {
            "shape": "So"
          },
          "Status": {},
          "SourceVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GrantArn": {},
          "Status": {},
          "Version": {}
        }
      }
    },
    "CreateLicense": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseName",
          "ProductName",
          "ProductSKU",
          "Issuer",
          "HomeRegion",
          "Validity",
          "Entitlements",
          "Beneficiary",
          "ConsumptionConfiguration",
          "ClientToken"
        ],
        "members": {
          "LicenseName": {},
          "ProductName": {},
          "ProductSKU": {},
          "Issuer": {
            "shape": "Su"
          },
          "HomeRegion": {},
          "Validity": {
            "shape": "Sv"
          },
          "Entitlements": {
            "shape": "Sw"
          },
          "Beneficiary": {},
          "ConsumptionConfiguration": {
            "shape": "S11"
          },
          "LicenseMetadata": {
            "shape": "Sd"
          },
          "ClientToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseArn": {},
          "Status": {},
          "Version": {}
        }
      }
    },
    "CreateLicenseConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "LicenseCountingType"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "LicenseCountingType": {},
          "LicenseCount": {
            "type": "long"
          },
          "LicenseCountHardLimit": {
            "type": "boolean"
          },
          "LicenseRules": {
            "shape": "S1b"
          },
          "Tags": {
            "shape": "S1c"
          },
          "DisassociateWhenNotFound": {
            "type": "boolean"
          },
          "ProductInformationList": {
            "shape": "S1e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseConfigurationArn": {}
        }
      }
    },
    "CreateLicenseVersion": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseArn",
          "LicenseName",
          "ProductName",
          "Issuer",
          "HomeRegion",
          "Validity",
          "Entitlements",
          "ConsumptionConfiguration",
          "Status",
          "ClientToken"
        ],
        "members": {
          "LicenseArn": {},
          "LicenseName": {},
          "ProductName": {},
          "Issuer": {
            "shape": "Su"
          },
          "HomeRegion": {},
          "Validity": {
            "shape": "Sv"
          },
          "LicenseMetadata": {
            "shape": "Sd"
          },
          "Entitlements": {
            "shape": "Sw"
          },
          "ConsumptionConfiguration": {
            "shape": "S11"
          },
          "Status": {},
          "ClientToken": {},
          "SourceVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseArn": {},
          "Version": {},
          "Status": {}
        }
      }
    },
    "CreateToken": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseArn",
          "ClientToken"
        ],
        "members": {
          "LicenseArn": {},
          "RoleArns": {
            "shape": "S1m"
          },
          "ExpirationInDays": {
            "type": "integer"
          },
          "TokenProperties": {
            "shape": "S1o"
          },
          "ClientToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TokenId": {},
          "TokenType": {},
          "Token": {}
        }
      }
    },
    "DeleteGrant": {
      "input": {
        "type": "structure",
        "required": [
          "GrantArn",
          "Version"
        ],
        "members": {
          "GrantArn": {},
          "Version": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GrantArn": {},
          "Status": {},
          "Version": {}
        }
      }
    },
    "DeleteLicense": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseArn",
          "SourceVersion"
        ],
        "members": {
          "LicenseArn": {},
          "SourceVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {},
          "DeletionDate": {}
        }
      }
    },
    "DeleteLicenseConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteToken": {
      "input": {
        "type": "structure",
        "required": [
          "TokenId"
        ],
        "members": {
          "TokenId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ExtendLicenseConsumption": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConsumptionToken"
        ],
        "members": {
          "LicenseConsumptionToken": {},
          "DryRun": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseConsumptionToken": {},
          "Expiration": {}
        }
      }
    },
    "GetAccessToken": {
      "input": {
        "type": "structure",
        "required": [
          "Token"
        ],
        "members": {
          "Token": {},
          "TokenProperties": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccessToken": {}
        }
      }
    },
    "GetGrant": {
      "input": {
        "type": "structure",
        "required": [
          "GrantArn"
        ],
        "members": {
          "GrantArn": {},
          "Version": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Grant": {
            "shape": "S29"
          }
        }
      }
    },
    "GetLicense": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseArn"
        ],
        "members": {
          "LicenseArn": {},
          "Version": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "License": {
            "shape": "S2c"
          }
        }
      }
    },
    "GetLicenseConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseConfigurationId": {},
          "LicenseConfigurationArn": {},
          "Name": {},
          "Description": {},
          "LicenseCountingType": {},
          "LicenseRules": {
            "shape": "S1b"
          },
          "LicenseCount": {
            "type": "long"
          },
          "LicenseCountHardLimit": {
            "type": "boolean"
          },
          "ConsumedLicenses": {
            "type": "long"
          },
          "Status": {},
          "OwnerAccountId": {},
          "ConsumedLicenseSummaryList": {
            "shape": "S2g"
          },
          "ManagedResourceSummaryList": {
            "shape": "S2j"
          },
          "Tags": {
            "shape": "S1c"
          },
          "ProductInformationList": {
            "shape": "S1e"
          },
          "AutomatedDiscoveryInformation": {
            "shape": "S2l"
          },
          "DisassociateWhenNotFound": {
            "type": "boolean"
          }
        }
      }
    },
    "GetLicenseUsage": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseArn"
        ],
        "members": {
          "LicenseArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseUsage": {
            "type": "structure",
            "members": {
              "EntitlementUsages": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "Name",
                    "ConsumedValue",
                    "Unit"
                  ],
                  "members": {
                    "Name": {},
                    "ConsumedValue": {},
                    "MaxCount": {},
                    "Unit": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetServiceSettings": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "S3BucketArn": {},
          "SnsTopicArn": {},
          "OrganizationConfiguration": {
            "shape": "S2u"
          },
          "EnableCrossAccountsDiscovery": {
            "type": "boolean"
          },
          "LicenseManagerResourceShareArn": {}
        }
      }
    },
    "ListAssociationsForLicenseConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseConfigurationAssociations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceArn": {},
                "ResourceType": {},
                "ResourceOwnerId": {},
                "AssociationTime": {
                  "type": "timestamp"
                },
                "AmiAssociationScope": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDistributedGrants": {
      "input": {
        "type": "structure",
        "members": {
          "GrantArns": {
            "shape": "S1m"
          },
          "Filters": {
            "shape": "S30"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Grants": {
            "shape": "S37"
          },
          "NextToken": {}
        }
      }
    },
    "ListFailuresForLicenseConfigurationOperations": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseOperationFailureList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceArn": {},
                "ResourceType": {},
                "ErrorMessage": {},
                "FailureTime": {
                  "type": "timestamp"
                },
                "OperationName": {},
                "ResourceOwnerId": {},
                "OperationRequestedBy": {},
                "MetadataList": {
                  "shape": "Sd"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListLicenseConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "LicenseConfigurationArns": {
            "shape": "S1b"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Filters": {
            "shape": "S3d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseConfigurations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "LicenseConfigurationId": {},
                "LicenseConfigurationArn": {},
                "Name": {},
                "Description": {},
                "LicenseCountingType": {},
                "LicenseRules": {
                  "shape": "S1b"
                },
                "LicenseCount": {
                  "type": "long"
                },
                "LicenseCountHardLimit": {
                  "type": "boolean"
                },
                "DisassociateWhenNotFound": {
                  "type": "boolean"
                },
                "ConsumedLicenses": {
                  "type": "long"
                },
                "Status": {},
                "OwnerAccountId": {},
                "ConsumedLicenseSummaryList": {
                  "shape": "S2g"
                },
                "ManagedResourceSummaryList": {
                  "shape": "S2j"
                },
                "ProductInformationList": {
                  "shape": "S1e"
                },
                "AutomatedDiscoveryInformation": {
                  "shape": "S2l"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListLicenseSpecificationsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseSpecifications": {
            "shape": "S3j"
          },
          "NextToken": {}
        }
      }
    },
    "ListLicenseVersions": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseArn"
        ],
        "members": {
          "LicenseArn": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Licenses": {
            "shape": "S3n"
          },
          "NextToken": {}
        }
      }
    },
    "ListLicenses": {
      "input": {
        "type": "structure",
        "members": {
          "LicenseArns": {
            "shape": "S1m"
          },
          "Filters": {
            "shape": "S30"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Licenses": {
            "shape": "S3n"
          },
          "NextToken": {}
        }
      }
    },
    "ListReceivedGrants": {
      "input": {
        "type": "structure",
        "members": {
          "GrantArns": {
            "shape": "S1m"
          },
          "Filters": {
            "shape": "S30"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Grants": {
            "shape": "S37"
          },
          "NextToken": {}
        }
      }
    },
    "ListReceivedLicenses": {
      "input": {
        "type": "structure",
        "members": {
          "LicenseArns": {
            "shape": "S1m"
          },
          "Filters": {
            "shape": "S30"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Licenses": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "LicenseArn": {},
                "LicenseName": {},
                "ProductName": {},
                "ProductSKU": {},
                "Issuer": {
                  "shape": "S2d"
                },
                "HomeRegion": {},
                "Status": {},
                "Validity": {
                  "shape": "Sv"
                },
                "Beneficiary": {},
                "Entitlements": {
                  "shape": "Sw"
                },
                "ConsumptionConfiguration": {
                  "shape": "S11"
                },
                "LicenseMetadata": {
                  "shape": "Sd"
                },
                "CreateTime": {},
                "Version": {},
                "ReceivedMetadata": {
                  "type": "structure",
                  "members": {
                    "ReceivedStatus": {},
                    "AllowedOperations": {
                      "shape": "So"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListResourceInventory": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Condition"
              ],
              "members": {
                "Name": {},
                "Condition": {},
                "Value": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceInventoryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceId": {},
                "ResourceType": {},
                "ResourceArn": {},
                "Platform": {},
                "PlatformVersion": {},
                "ResourceOwningAccountId": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S1c"
          }
        }
      }
    },
    "ListTokens": {
      "input": {
        "type": "structure",
        "members": {
          "TokenIds": {
            "shape": "S1b"
          },
          "Filters": {
            "shape": "S30"
          },
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tokens": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TokenId": {},
                "TokenType": {},
                "LicenseArn": {},
                "ExpirationTime": {},
                "TokenProperties": {
                  "shape": "S1o"
                },
                "RoleArns": {
                  "shape": "S1m"
                },
                "Status": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListUsageForLicenseConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Filters": {
            "shape": "S3d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseConfigurationUsageList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceArn": {},
                "ResourceType": {},
                "ResourceStatus": {},
                "ResourceOwnerId": {},
                "AssociationTime": {
                  "type": "timestamp"
                },
                "ConsumedLicenses": {
                  "type": "long"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "RejectGrant": {
      "input": {
        "type": "structure",
        "required": [
          "GrantArn"
        ],
        "members": {
          "GrantArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GrantArn": {},
          "Status": {},
          "Version": {}
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S1c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateLicenseConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {},
          "LicenseConfigurationStatus": {},
          "LicenseRules": {
            "shape": "S1b"
          },
          "LicenseCount": {
            "type": "long"
          },
          "LicenseCountHardLimit": {
            "type": "boolean"
          },
          "Name": {},
          "Description": {},
          "ProductInformationList": {
            "shape": "S1e"
          },
          "DisassociateWhenNotFound": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateLicenseSpecificationsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {},
          "AddLicenseSpecifications": {
            "shape": "S3j"
          },
          "RemoveLicenseSpecifications": {
            "shape": "S3j"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateServiceSettings": {
      "input": {
        "type": "structure",
        "members": {
          "S3BucketArn": {},
          "SnsTopicArn": {},
          "OrganizationConfiguration": {
            "shape": "S2u"
          },
          "EnableCrossAccountsDiscovery": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S9": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Unit"
        ],
        "members": {
          "Name": {},
          "Value": {},
          "Unit": {}
        }
      }
    },
    "Sd": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Value": {}
        }
      }
    },
    "So": {
      "type": "list",
      "member": {}
    },
    "Su": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {},
        "SignKey": {}
      }
    },
    "Sv": {
      "type": "structure",
      "required": [
        "Begin"
      ],
      "members": {
        "Begin": {},
        "End": {}
      }
    },
    "Sw": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Unit"
        ],
        "members": {
          "Name": {},
          "Value": {},
          "MaxCount": {
            "type": "long"
          },
          "Overage": {
            "type": "boolean"
          },
          "Unit": {},
          "AllowCheckIn": {
            "type": "boolean"
          }
        }
      }
    },
    "S11": {
      "type": "structure",
      "members": {
        "RenewType": {},
        "ProvisionalConfiguration": {
          "type": "structure",
          "required": [
            "MaxTimeToLiveInMinutes"
          ],
          "members": {
            "MaxTimeToLiveInMinutes": {
              "type": "integer"
            }
          }
        },
        "BorrowConfiguration": {
          "type": "structure",
          "required": [
            "AllowEarlyCheckIn",
            "MaxTimeToLiveInMinutes"
          ],
          "members": {
            "AllowEarlyCheckIn": {
              "type": "boolean"
            },
            "MaxTimeToLiveInMinutes": {
              "type": "integer"
            }
          }
        }
      }
    },
    "S1b": {
      "type": "list",
      "member": {}
    },
    "S1c": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "S1e": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ResourceType",
          "ProductInformationFilterList"
        ],
        "members": {
          "ResourceType": {},
          "ProductInformationFilterList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProductInformationFilterName",
                "ProductInformationFilterValue",
                "ProductInformationFilterComparator"
              ],
              "members": {
                "ProductInformationFilterName": {},
                "ProductInformationFilterValue": {
                  "shape": "S1b"
                },
                "ProductInformationFilterComparator": {}
              }
            }
          }
        }
      }
    },
    "S1m": {
      "type": "list",
      "member": {}
    },
    "S1o": {
      "type": "list",
      "member": {}
    },
    "S29": {
      "type": "structure",
      "required": [
        "GrantArn",
        "GrantName",
        "ParentArn",
        "LicenseArn",
        "GranteePrincipalArn",
        "HomeRegion",
        "GrantStatus",
        "Version",
        "GrantedOperations"
      ],
      "members": {
        "GrantArn": {},
        "GrantName": {},
        "ParentArn": {},
        "LicenseArn": {},
        "GranteePrincipalArn": {},
        "HomeRegion": {},
        "GrantStatus": {},
        "StatusReason": {},
        "Version": {},
        "GrantedOperations": {
          "shape": "So"
        }
      }
    },
    "S2c": {
      "type": "structure",
      "members": {
        "LicenseArn": {},
        "LicenseName": {},
        "ProductName": {},
        "ProductSKU": {},
        "Issuer": {
          "shape": "S2d"
        },
        "HomeRegion": {},
        "Status": {},
        "Validity": {
          "shape": "Sv"
        },
        "Beneficiary": {},
        "Entitlements": {
          "shape": "Sw"
        },
        "ConsumptionConfiguration": {
          "shape": "S11"
        },
        "LicenseMetadata": {
          "shape": "Sd"
        },
        "CreateTime": {},
        "Version": {}
      }
    },
    "S2d": {
      "type": "structure",
      "members": {
        "Name": {},
        "SignKey": {},
        "KeyFingerprint": {}
      }
    },
    "S2g": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ResourceType": {},
          "ConsumedLicenses": {
            "type": "long"
          }
        }
      }
    },
    "S2j": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ResourceType": {},
          "AssociationCount": {
            "type": "long"
          }
        }
      }
    },
    "S2l": {
      "type": "structure",
      "members": {
        "LastRunTime": {
          "type": "timestamp"
        }
      }
    },
    "S2u": {
      "type": "structure",
      "required": [
        "EnableIntegration"
      ],
      "members": {
        "EnableIntegration": {
          "type": "boolean"
        }
      }
    },
    "S30": {
      "type": "list",
      "member": {
        "shape": "S31"
      }
    },
    "S31": {
      "type": "structure",
      "members": {
        "Name": {},
        "Values": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S37": {
      "type": "list",
      "member": {
        "shape": "S29"
      }
    },
    "S3d": {
      "type": "list",
      "member": {
        "shape": "S31"
      }
    },
    "S3j": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {},
          "AmiAssociationScope": {}
        }
      }
    },
    "S3n": {
      "type": "list",
      "member": {
        "shape": "S2c"
      }
    }
  }
}