{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-08-01",
    "endpointPrefix": "license-manager",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS License Manager",
    "serviceId": "License Manager",
    "signatureVersion": "v4",
    "targetPrefix": "AWSLicenseManager",
    "uid": "license-manager-2018-08-01"
  },
  "operations": {
    "CreateLicenseConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "LicenseCountingType"
        ],
        "members": {
          "Name": {},
          "Description": {},
          "LicenseCountingType": {},
          "LicenseCount": {
            "type": "long"
          },
          "LicenseCountHardLimit": {
            "type": "boolean"
          },
          "LicenseRules": {
            "shape": "S6"
          },
          "Tags": {
            "shape": "S7"
          },
          "ProductInformationList": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseConfigurationArn": {}
        }
      }
    },
    "DeleteLicenseConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetLicenseConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseConfigurationId": {},
          "LicenseConfigurationArn": {},
          "Name": {},
          "Description": {},
          "LicenseCountingType": {},
          "LicenseRules": {
            "shape": "S6"
          },
          "LicenseCount": {
            "type": "long"
          },
          "LicenseCountHardLimit": {
            "type": "boolean"
          },
          "ConsumedLicenses": {
            "type": "long"
          },
          "Status": {},
          "OwnerAccountId": {},
          "ConsumedLicenseSummaryList": {
            "shape": "Si"
          },
          "ManagedResourceSummaryList": {
            "shape": "Sl"
          },
          "Tags": {
            "shape": "S7"
          },
          "ProductInformationList": {
            "shape": "S9"
          },
          "AutomatedDiscoveryInformation": {
            "shape": "Sn"
          }
        }
      }
    },
    "GetServiceSettings": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "S3BucketArn": {},
          "SnsTopicArn": {},
          "OrganizationConfiguration": {
            "shape": "Sr"
          },
          "EnableCrossAccountsDiscovery": {
            "type": "boolean"
          },
          "LicenseManagerResourceShareArn": {}
        }
      }
    },
    "ListAssociationsForLicenseConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseConfigurationAssociations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceArn": {},
                "ResourceType": {},
                "ResourceOwnerId": {},
                "AssociationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListFailuresForLicenseConfigurationOperations": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseOperationFailureList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceArn": {},
                "ResourceType": {},
                "ErrorMessage": {},
                "FailureTime": {
                  "type": "timestamp"
                },
                "OperationName": {},
                "ResourceOwnerId": {},
                "OperationRequestedBy": {},
                "MetadataList": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Name": {},
                      "Value": {}
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListLicenseConfigurations": {
      "input": {
        "type": "structure",
        "members": {
          "LicenseConfigurationArns": {
            "shape": "S6"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Filters": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseConfigurations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "LicenseConfigurationId": {},
                "LicenseConfigurationArn": {},
                "Name": {},
                "Description": {},
                "LicenseCountingType": {},
                "LicenseRules": {
                  "shape": "S6"
                },
                "LicenseCount": {
                  "type": "long"
                },
                "LicenseCountHardLimit": {
                  "type": "boolean"
                },
                "ConsumedLicenses": {
                  "type": "long"
                },
                "Status": {},
                "OwnerAccountId": {},
                "ConsumedLicenseSummaryList": {
                  "shape": "Si"
                },
                "ManagedResourceSummaryList": {
                  "shape": "Sl"
                },
                "ProductInformationList": {
                  "shape": "S9"
                },
                "AutomatedDiscoveryInformation": {
                  "shape": "Sn"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListLicenseSpecificationsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseSpecifications": {
            "shape": "S1f"
          },
          "NextToken": {}
        }
      }
    },
    "ListResourceInventory": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Condition"
              ],
              "members": {
                "Name": {},
                "Condition": {},
                "Value": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceInventoryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceId": {},
                "ResourceType": {},
                "ResourceArn": {},
                "Platform": {},
                "PlatformVersion": {},
                "ResourceOwningAccountId": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "ListUsageForLicenseConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "Filters": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LicenseConfigurationUsageList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceArn": {},
                "ResourceType": {},
                "ResourceStatus": {},
                "ResourceOwnerId": {},
                "AssociationTime": {
                  "type": "timestamp"
                },
                "ConsumedLicenses": {
                  "type": "long"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateLicenseConfiguration": {
      "input": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {},
          "LicenseConfigurationStatus": {},
          "LicenseRules": {
            "shape": "S6"
          },
          "LicenseCount": {
            "type": "long"
          },
          "LicenseCountHardLimit": {
            "type": "boolean"
          },
          "Name": {},
          "Description": {},
          "ProductInformationList": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateLicenseSpecificationsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {},
          "AddLicenseSpecifications": {
            "shape": "S1f"
          },
          "RemoveLicenseSpecifications": {
            "shape": "S1f"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateServiceSettings": {
      "input": {
        "type": "structure",
        "members": {
          "S3BucketArn": {},
          "SnsTopicArn": {},
          "OrganizationConfiguration": {
            "shape": "Sr"
          },
          "EnableCrossAccountsDiscovery": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S6": {
      "type": "list",
      "member": {}
    },
    "S7": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "S9": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ResourceType",
          "ProductInformationFilterList"
        ],
        "members": {
          "ResourceType": {},
          "ProductInformationFilterList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProductInformationFilterName",
                "ProductInformationFilterValue",
                "ProductInformationFilterComparator"
              ],
              "members": {
                "ProductInformationFilterName": {},
                "ProductInformationFilterValue": {
                  "shape": "S6"
                },
                "ProductInformationFilterComparator": {}
              }
            }
          }
        }
      }
    },
    "Si": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ResourceType": {},
          "ConsumedLicenses": {
            "type": "long"
          }
        }
      }
    },
    "Sl": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ResourceType": {},
          "AssociationCount": {
            "type": "long"
          }
        }
      }
    },
    "Sn": {
      "type": "structure",
      "members": {
        "LastRunTime": {
          "type": "timestamp"
        }
      }
    },
    "Sr": {
      "type": "structure",
      "required": [
        "EnableIntegration"
      ],
      "members": {
        "EnableIntegration": {
          "type": "boolean"
        }
      }
    },
    "S15": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Values": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "S1f": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "LicenseConfigurationArn"
        ],
        "members": {
          "LicenseConfigurationArn": {}
        }
      }
    }
  }
}