{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-11-28",
    "endpointPrefix": "lightsail",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Lightsail",
    "serviceId": "Lightsail",
    "signatureVersion": "v4",
    "targetPrefix": "Lightsail_20161128",
    "uid": "lightsail-2016-11-28"
  },
  "operations": {
    "AllocateStaticIp": {
      "input": {
        "type": "structure",
        "required": [
          "staticIpName"
        ],
        "members": {
          "staticIpName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "AttachCertificateToDistribution": {
      "input": {
        "type": "structure",
        "required": [
          "distributionName",
          "certificateName"
        ],
        "members": {
          "distributionName": {},
          "certificateName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "AttachDisk": {
      "input": {
        "type": "structure",
        "required": [
          "diskName",
          "instanceName",
          "diskPath"
        ],
        "members": {
          "diskName": {},
          "instanceName": {},
          "diskPath": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "AttachInstancesToLoadBalancer": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "instanceNames"
        ],
        "members": {
          "loadBalancerName": {},
          "instanceNames": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "AttachLoadBalancerTlsCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "certificateName"
        ],
        "members": {
          "loadBalancerName": {},
          "certificateName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "AttachStaticIp": {
      "input": {
        "type": "structure",
        "required": [
          "staticIpName",
          "instanceName"
        ],
        "members": {
          "staticIpName": {},
          "instanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CloseInstancePublicPorts": {
      "input": {
        "type": "structure",
        "required": [
          "portInfo",
          "instanceName"
        ],
        "members": {
          "portInfo": {
            "shape": "Sr"
          },
          "instanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "CopySnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "targetSnapshotName",
          "sourceRegion"
        ],
        "members": {
          "sourceSnapshotName": {},
          "sourceResourceName": {},
          "restoreDate": {},
          "useLatestRestorableAutoSnapshot": {
            "type": "boolean"
          },
          "targetSnapshotName": {},
          "sourceRegion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "certificateName",
          "domainName"
        ],
        "members": {
          "certificateName": {},
          "domainName": {},
          "subjectAlternativeNames": {
            "shape": "S11"
          },
          "tags": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "certificate": {
            "shape": "S17"
          },
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateCloudFormationStack": {
      "input": {
        "type": "structure",
        "required": [
          "instances"
        ],
        "members": {
          "instances": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "sourceName",
                "instanceType",
                "portInfoSource",
                "availabilityZone"
              ],
              "members": {
                "sourceName": {},
                "instanceType": {},
                "portInfoSource": {},
                "userData": {},
                "availabilityZone": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateContactMethod": {
      "input": {
        "type": "structure",
        "required": [
          "protocol",
          "contactEndpoint"
        ],
        "members": {
          "protocol": {},
          "contactEndpoint": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateContainerService": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName",
          "power",
          "scale"
        ],
        "members": {
          "serviceName": {},
          "power": {},
          "scale": {
            "type": "integer"
          },
          "tags": {
            "shape": "S12"
          },
          "publicDomainNames": {
            "shape": "S20"
          },
          "deployment": {
            "type": "structure",
            "members": {
              "containers": {
                "shape": "S23"
              },
              "publicEndpoint": {
                "shape": "S29"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "containerService": {
            "shape": "S2d"
          }
        }
      }
    },
    "CreateContainerServiceDeployment": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName"
        ],
        "members": {
          "serviceName": {},
          "containers": {
            "shape": "S23"
          },
          "publicEndpoint": {
            "shape": "S29"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "containerService": {
            "shape": "S2d"
          }
        }
      }
    },
    "CreateContainerServiceRegistryLogin": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "registryLogin": {
            "type": "structure",
            "members": {
              "username": {},
              "password": {},
              "expiresAt": {
                "type": "timestamp"
              },
              "registry": {}
            }
          }
        }
      }
    },
    "CreateDisk": {
      "input": {
        "type": "structure",
        "required": [
          "diskName",
          "availabilityZone",
          "sizeInGb"
        ],
        "members": {
          "diskName": {},
          "availabilityZone": {},
          "sizeInGb": {
            "type": "integer"
          },
          "tags": {
            "shape": "S12"
          },
          "addOns": {
            "shape": "S2o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateDiskFromSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "diskName",
          "availabilityZone",
          "sizeInGb"
        ],
        "members": {
          "diskName": {},
          "diskSnapshotName": {},
          "availabilityZone": {},
          "sizeInGb": {
            "type": "integer"
          },
          "tags": {
            "shape": "S12"
          },
          "addOns": {
            "shape": "S2o"
          },
          "sourceDiskName": {},
          "restoreDate": {},
          "useLatestRestorableAutoSnapshot": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateDiskSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "diskSnapshotName"
        ],
        "members": {
          "diskName": {},
          "diskSnapshotName": {},
          "instanceName": {},
          "tags": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateDistribution": {
      "input": {
        "type": "structure",
        "required": [
          "distributionName",
          "origin",
          "defaultCacheBehavior",
          "bundleId"
        ],
        "members": {
          "distributionName": {},
          "origin": {
            "shape": "S2z"
          },
          "defaultCacheBehavior": {
            "shape": "S31"
          },
          "cacheBehaviorSettings": {
            "shape": "S33"
          },
          "cacheBehaviors": {
            "shape": "S3b"
          },
          "bundleId": {},
          "ipAddressType": {},
          "tags": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "distribution": {
            "shape": "S3f"
          },
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateDomain": {
      "input": {
        "type": "structure",
        "required": [
          "domainName"
        ],
        "members": {
          "domainName": {},
          "tags": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateDomainEntry": {
      "input": {
        "type": "structure",
        "required": [
          "domainName",
          "domainEntry"
        ],
        "members": {
          "domainName": {},
          "domainEntry": {
            "shape": "S3k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateInstanceSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "instanceSnapshotName",
          "instanceName"
        ],
        "members": {
          "instanceSnapshotName": {},
          "instanceName": {},
          "tags": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateInstances": {
      "input": {
        "type": "structure",
        "required": [
          "instanceNames",
          "availabilityZone",
          "blueprintId",
          "bundleId"
        ],
        "members": {
          "instanceNames": {
            "shape": "Su"
          },
          "availabilityZone": {},
          "customImageName": {
            "deprecated": true
          },
          "blueprintId": {},
          "bundleId": {},
          "userData": {},
          "keyPairName": {},
          "tags": {
            "shape": "S12"
          },
          "addOns": {
            "shape": "S2o"
          },
          "ipAddressType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateInstancesFromSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "instanceNames",
          "availabilityZone",
          "bundleId"
        ],
        "members": {
          "instanceNames": {
            "shape": "Su"
          },
          "attachedDiskMapping": {
            "type": "map",
            "key": {},
            "value": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "originalDiskPath": {},
                  "newDiskName": {}
                }
              }
            }
          },
          "availabilityZone": {},
          "instanceSnapshotName": {},
          "bundleId": {},
          "userData": {},
          "keyPairName": {},
          "tags": {
            "shape": "S12"
          },
          "addOns": {
            "shape": "S2o"
          },
          "ipAddressType": {},
          "sourceInstanceName": {},
          "restoreDate": {},
          "useLatestRestorableAutoSnapshot": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateKeyPair": {
      "input": {
        "type": "structure",
        "required": [
          "keyPairName"
        ],
        "members": {
          "keyPairName": {},
          "tags": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "keyPair": {
            "shape": "S40"
          },
          "publicKeyBase64": {},
          "privateKeyBase64": {},
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateLoadBalancer": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "instancePort"
        ],
        "members": {
          "loadBalancerName": {},
          "instancePort": {
            "type": "integer"
          },
          "healthCheckPath": {},
          "certificateName": {},
          "certificateDomainName": {},
          "certificateAlternativeNames": {
            "shape": "S43"
          },
          "tags": {
            "shape": "S12"
          },
          "ipAddressType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateLoadBalancerTlsCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "certificateName",
          "certificateDomainName"
        ],
        "members": {
          "loadBalancerName": {},
          "certificateName": {},
          "certificateDomainName": {},
          "certificateAlternativeNames": {
            "shape": "S43"
          },
          "tags": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateRelationalDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName",
          "relationalDatabaseBlueprintId",
          "relationalDatabaseBundleId",
          "masterDatabaseName",
          "masterUsername"
        ],
        "members": {
          "relationalDatabaseName": {},
          "availabilityZone": {},
          "relationalDatabaseBlueprintId": {},
          "relationalDatabaseBundleId": {},
          "masterDatabaseName": {},
          "masterUsername": {},
          "masterUserPassword": {
            "shape": "S48"
          },
          "preferredBackupWindow": {},
          "preferredMaintenanceWindow": {},
          "publiclyAccessible": {
            "type": "boolean"
          },
          "tags": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateRelationalDatabaseFromSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName"
        ],
        "members": {
          "relationalDatabaseName": {},
          "availabilityZone": {},
          "publiclyAccessible": {
            "type": "boolean"
          },
          "relationalDatabaseSnapshotName": {},
          "relationalDatabaseBundleId": {},
          "sourceRelationalDatabaseName": {},
          "restoreTime": {
            "type": "timestamp"
          },
          "useLatestRestorableTime": {
            "type": "boolean"
          },
          "tags": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateRelationalDatabaseSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName",
          "relationalDatabaseSnapshotName"
        ],
        "members": {
          "relationalDatabaseName": {},
          "relationalDatabaseSnapshotName": {},
          "tags": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteAlarm": {
      "input": {
        "type": "structure",
        "required": [
          "alarmName"
        ],
        "members": {
          "alarmName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteAutoSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "resourceName",
          "date"
        ],
        "members": {
          "resourceName": {},
          "date": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "certificateName"
        ],
        "members": {
          "certificateName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteContactMethod": {
      "input": {
        "type": "structure",
        "required": [
          "protocol"
        ],
        "members": {
          "protocol": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteContainerImage": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName",
          "image"
        ],
        "members": {
          "serviceName": {},
          "image": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteContainerService": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName"
        ],
        "members": {
          "serviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDisk": {
      "input": {
        "type": "structure",
        "required": [
          "diskName"
        ],
        "members": {
          "diskName": {},
          "forceDeleteAddOns": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteDiskSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "diskSnapshotName"
        ],
        "members": {
          "diskSnapshotName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteDistribution": {
      "input": {
        "type": "structure",
        "members": {
          "distributionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "DeleteDomain": {
      "input": {
        "type": "structure",
        "required": [
          "domainName"
        ],
        "members": {
          "domainName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "DeleteDomainEntry": {
      "input": {
        "type": "structure",
        "required": [
          "domainName",
          "domainEntry"
        ],
        "members": {
          "domainName": {},
          "domainEntry": {
            "shape": "S3k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "DeleteInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {},
          "forceDeleteAddOns": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteInstanceSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "instanceSnapshotName"
        ],
        "members": {
          "instanceSnapshotName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteKeyPair": {
      "input": {
        "type": "structure",
        "required": [
          "keyPairName"
        ],
        "members": {
          "keyPairName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "DeleteKnownHostKeys": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteLoadBalancer": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName"
        ],
        "members": {
          "loadBalancerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteLoadBalancerTlsCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "certificateName"
        ],
        "members": {
          "loadBalancerName": {},
          "certificateName": {},
          "force": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteRelationalDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName"
        ],
        "members": {
          "relationalDatabaseName": {},
          "skipFinalSnapshot": {
            "type": "boolean"
          },
          "finalRelationalDatabaseSnapshotName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteRelationalDatabaseSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseSnapshotName"
        ],
        "members": {
          "relationalDatabaseSnapshotName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DetachCertificateFromDistribution": {
      "input": {
        "type": "structure",
        "required": [
          "distributionName"
        ],
        "members": {
          "distributionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "DetachDisk": {
      "input": {
        "type": "structure",
        "required": [
          "diskName"
        ],
        "members": {
          "diskName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DetachInstancesFromLoadBalancer": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "instanceNames"
        ],
        "members": {
          "loadBalancerName": {},
          "instanceNames": {
            "shape": "Sk"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DetachStaticIp": {
      "input": {
        "type": "structure",
        "required": [
          "staticIpName"
        ],
        "members": {
          "staticIpName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DisableAddOn": {
      "input": {
        "type": "structure",
        "required": [
          "addOnType",
          "resourceName"
        ],
        "members": {
          "addOnType": {},
          "resourceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DownloadDefaultKeyPair": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "publicKeyBase64": {},
          "privateKeyBase64": {}
        }
      }
    },
    "EnableAddOn": {
      "input": {
        "type": "structure",
        "required": [
          "resourceName",
          "addOnRequest"
        ],
        "members": {
          "resourceName": {},
          "addOnRequest": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "ExportSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "sourceSnapshotName"
        ],
        "members": {
          "sourceSnapshotName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "GetActiveNames": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "activeNames": {
            "shape": "Su"
          },
          "nextPageToken": {}
        }
      }
    },
    "GetAlarms": {
      "input": {
        "type": "structure",
        "members": {
          "alarmName": {},
          "pageToken": {},
          "monitoredResourceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "alarms": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "location": {
                  "shape": "S9"
                },
                "resourceType": {},
                "supportCode": {},
                "monitoredResourceInfo": {
                  "type": "structure",
                  "members": {
                    "arn": {},
                    "name": {},
                    "resourceType": {}
                  }
                },
                "comparisonOperator": {},
                "evaluationPeriods": {
                  "type": "integer"
                },
                "period": {
                  "type": "integer"
                },
                "threshold": {
                  "type": "double"
                },
                "datapointsToAlarm": {
                  "type": "integer"
                },
                "treatMissingData": {},
                "statistic": {},
                "metricName": {},
                "state": {},
                "unit": {},
                "contactProtocols": {
                  "shape": "S6d"
                },
                "notificationTriggers": {
                  "shape": "S6e"
                },
                "notificationEnabled": {
                  "type": "boolean"
                }
              }
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetAutoSnapshots": {
      "input": {
        "type": "structure",
        "required": [
          "resourceName"
        ],
        "members": {
          "resourceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourceName": {},
          "resourceType": {},
          "autoSnapshots": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "date": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "status": {},
                "fromAttachedDisks": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "path": {},
                      "sizeInGb": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetBlueprints": {
      "input": {
        "type": "structure",
        "members": {
          "includeInactive": {
            "type": "boolean"
          },
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "blueprints": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "blueprintId": {},
                "name": {},
                "group": {},
                "type": {},
                "description": {},
                "isActive": {
                  "type": "boolean"
                },
                "minPower": {
                  "type": "integer"
                },
                "version": {},
                "versionCode": {},
                "productUrl": {},
                "licenseUrl": {},
                "platform": {}
              }
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetBundles": {
      "input": {
        "type": "structure",
        "members": {
          "includeInactive": {
            "type": "boolean"
          },
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "bundles": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "price": {
                  "type": "float"
                },
                "cpuCount": {
                  "type": "integer"
                },
                "diskSizeInGb": {
                  "type": "integer"
                },
                "bundleId": {},
                "instanceType": {},
                "isActive": {
                  "type": "boolean"
                },
                "name": {},
                "power": {
                  "type": "integer"
                },
                "ramSizeInGb": {
                  "type": "float"
                },
                "transferPerMonthInGb": {
                  "type": "integer"
                },
                "supportedPlatforms": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetCertificates": {
      "input": {
        "type": "structure",
        "members": {
          "certificateStatuses": {
            "type": "list",
            "member": {}
          },
          "includeCertificateDetails": {
            "type": "boolean"
          },
          "certificateName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "certificates": {
            "type": "list",
            "member": {
              "shape": "S17"
            }
          }
        }
      }
    },
    "GetCloudFormationStackRecords": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "cloudFormationStackRecords": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "location": {
                  "shape": "S9"
                },
                "resourceType": {},
                "state": {},
                "sourceInfo": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "resourceType": {},
                      "name": {},
                      "arn": {}
                    }
                  }
                },
                "destinationInfo": {
                  "shape": "S7b"
                }
              }
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetContactMethods": {
      "input": {
        "type": "structure",
        "members": {
          "protocols": {
            "shape": "S6d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "contactMethods": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "contactEndpoint": {},
                "status": {},
                "protocol": {},
                "name": {},
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "location": {
                  "shape": "S9"
                },
                "resourceType": {},
                "supportCode": {}
              }
            }
          }
        }
      }
    },
    "GetContainerAPIMetadata": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "metadata": {
            "type": "list",
            "member": {
              "type": "map",
              "key": {},
              "value": {}
            }
          }
        }
      }
    },
    "GetContainerImages": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName"
        ],
        "members": {
          "serviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "containerImages": {
            "type": "list",
            "member": {
              "shape": "S7o"
            }
          }
        }
      }
    },
    "GetContainerLog": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName",
          "containerName"
        ],
        "members": {
          "serviceName": {},
          "containerName": {},
          "startTime": {
            "type": "timestamp"
          },
          "endTime": {
            "type": "timestamp"
          },
          "filterPattern": {},
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "logEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "createdAt": {
                  "type": "timestamp"
                },
                "message": {}
              }
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetContainerServiceDeployments": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName"
        ],
        "members": {
          "serviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deployments": {
            "type": "list",
            "member": {
              "shape": "S2f"
            }
          }
        }
      }
    },
    "GetContainerServiceMetricData": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName",
          "metricName",
          "startTime",
          "endTime",
          "period",
          "statistics"
        ],
        "members": {
          "serviceName": {},
          "metricName": {},
          "startTime": {
            "type": "timestamp"
          },
          "endTime": {
            "type": "timestamp"
          },
          "period": {
            "type": "integer"
          },
          "statistics": {
            "shape": "S7y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "metricName": {},
          "metricData": {
            "shape": "S80"
          }
        }
      }
    },
    "GetContainerServicePowers": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "powers": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "powerId": {},
                "price": {
                  "type": "float"
                },
                "cpuCount": {
                  "type": "float"
                },
                "ramSizeInGb": {
                  "type": "float"
                },
                "name": {},
                "isActive": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "GetContainerServices": {
      "input": {
        "type": "structure",
        "members": {
          "serviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "containerServices": {
            "type": "list",
            "member": {
              "shape": "S2d"
            }
          }
        }
      }
    },
    "GetDisk": {
      "input": {
        "type": "structure",
        "required": [
          "diskName"
        ],
        "members": {
          "diskName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "disk": {
            "shape": "S8c"
          }
        }
      }
    },
    "GetDiskSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "diskSnapshotName"
        ],
        "members": {
          "diskSnapshotName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "diskSnapshot": {
            "shape": "S8i"
          }
        }
      }
    },
    "GetDiskSnapshots": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "diskSnapshots": {
            "type": "list",
            "member": {
              "shape": "S8i"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetDisks": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "disks": {
            "shape": "S8p"
          },
          "nextPageToken": {}
        }
      }
    },
    "GetDistributionBundles": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "bundles": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "bundleId": {},
                "name": {},
                "price": {
                  "type": "float"
                },
                "transferPerMonthInGb": {
                  "type": "integer"
                },
                "isActive": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "GetDistributionLatestCacheReset": {
      "input": {
        "type": "structure",
        "members": {
          "distributionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "status": {},
          "createTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetDistributionMetricData": {
      "input": {
        "type": "structure",
        "required": [
          "distributionName",
          "metricName",
          "startTime",
          "endTime",
          "period",
          "unit",
          "statistics"
        ],
        "members": {
          "distributionName": {},
          "metricName": {},
          "startTime": {
            "type": "timestamp"
          },
          "endTime": {
            "type": "timestamp"
          },
          "period": {
            "type": "integer"
          },
          "unit": {},
          "statistics": {
            "shape": "S7y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "metricName": {},
          "metricData": {
            "shape": "S80"
          }
        }
      }
    },
    "GetDistributions": {
      "input": {
        "type": "structure",
        "members": {
          "distributionName": {},
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "distributions": {
            "type": "list",
            "member": {
              "shape": "S3f"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetDomain": {
      "input": {
        "type": "structure",
        "required": [
          "domainName"
        ],
        "members": {
          "domainName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domain": {
            "shape": "S94"
          }
        }
      }
    },
    "GetDomains": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domains": {
            "type": "list",
            "member": {
              "shape": "S94"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetExportSnapshotRecords": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "exportSnapshotRecords": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "location": {
                  "shape": "S9"
                },
                "resourceType": {},
                "state": {},
                "sourceInfo": {
                  "type": "structure",
                  "members": {
                    "resourceType": {},
                    "createdAt": {
                      "type": "timestamp"
                    },
                    "name": {},
                    "arn": {},
                    "fromResourceName": {},
                    "fromResourceArn": {},
                    "instanceSnapshotInfo": {
                      "type": "structure",
                      "members": {
                        "fromBundleId": {},
                        "fromBlueprintId": {},
                        "fromDiskInfo": {
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "name": {},
                              "path": {},
                              "sizeInGb": {
                                "type": "integer"
                              },
                              "isSystemDisk": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    },
                    "diskSnapshotInfo": {
                      "type": "structure",
                      "members": {
                        "sizeInGb": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "destinationInfo": {
                  "shape": "S7b"
                }
              }
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instance": {
            "shape": "S9l"
          }
        }
      }
    },
    "GetInstanceAccessDetails": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {},
          "protocol": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "accessDetails": {
            "type": "structure",
            "members": {
              "certKey": {},
              "expiresAt": {
                "type": "timestamp"
              },
              "ipAddress": {},
              "password": {},
              "passwordData": {
                "type": "structure",
                "members": {
                  "ciphertext": {},
                  "keyPairName": {}
                }
              },
              "privateKey": {},
              "protocol": {},
              "instanceName": {},
              "username": {},
              "hostKeys": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "algorithm": {},
                    "publicKey": {},
                    "witnessedAt": {
                      "type": "timestamp"
                    },
                    "fingerprintSHA1": {},
                    "fingerprintSHA256": {},
                    "notValidBefore": {
                      "type": "timestamp"
                    },
                    "notValidAfter": {
                      "type": "timestamp"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetInstanceMetricData": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName",
          "metricName",
          "period",
          "startTime",
          "endTime",
          "unit",
          "statistics"
        ],
        "members": {
          "instanceName": {},
          "metricName": {},
          "period": {
            "type": "integer"
          },
          "startTime": {
            "type": "timestamp"
          },
          "endTime": {
            "type": "timestamp"
          },
          "unit": {},
          "statistics": {
            "shape": "S7y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "metricName": {},
          "metricData": {
            "shape": "S80"
          }
        }
      }
    },
    "GetInstancePortStates": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "portStates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "fromPort": {
                  "type": "integer"
                },
                "toPort": {
                  "type": "integer"
                },
                "protocol": {},
                "state": {},
                "cidrs": {
                  "shape": "Su"
                },
                "ipv6Cidrs": {
                  "shape": "Su"
                },
                "cidrListAliases": {
                  "shape": "Su"
                }
              }
            }
          }
        }
      }
    },
    "GetInstanceSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "instanceSnapshotName"
        ],
        "members": {
          "instanceSnapshotName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instanceSnapshot": {
            "shape": "Sae"
          }
        }
      }
    },
    "GetInstanceSnapshots": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instanceSnapshots": {
            "type": "list",
            "member": {
              "shape": "Sae"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetInstanceState": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "state": {
            "shape": "S9w"
          }
        }
      }
    },
    "GetInstances": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instances": {
            "type": "list",
            "member": {
              "shape": "S9l"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetKeyPair": {
      "input": {
        "type": "structure",
        "required": [
          "keyPairName"
        ],
        "members": {
          "keyPairName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "keyPair": {
            "shape": "S40"
          }
        }
      }
    },
    "GetKeyPairs": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "keyPairs": {
            "type": "list",
            "member": {
              "shape": "S40"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetLoadBalancer": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName"
        ],
        "members": {
          "loadBalancerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "loadBalancer": {
            "shape": "Sav"
          }
        }
      }
    },
    "GetLoadBalancerMetricData": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "metricName",
          "period",
          "startTime",
          "endTime",
          "unit",
          "statistics"
        ],
        "members": {
          "loadBalancerName": {},
          "metricName": {},
          "period": {
            "type": "integer"
          },
          "startTime": {
            "type": "timestamp"
          },
          "endTime": {
            "type": "timestamp"
          },
          "unit": {},
          "statistics": {
            "shape": "S7y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "metricName": {},
          "metricData": {
            "shape": "S80"
          }
        }
      }
    },
    "GetLoadBalancerTlsCertificates": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName"
        ],
        "members": {
          "loadBalancerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tlsCertificates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "arn": {},
                "supportCode": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "location": {
                  "shape": "S9"
                },
                "resourceType": {},
                "tags": {
                  "shape": "S12"
                },
                "loadBalancerName": {},
                "isAttached": {
                  "type": "boolean"
                },
                "status": {},
                "domainName": {},
                "domainValidationRecords": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "type": {},
                      "value": {},
                      "validationStatus": {},
                      "domainName": {}
                    }
                  }
                },
                "failureReason": {},
                "issuedAt": {
                  "type": "timestamp"
                },
                "issuer": {},
                "keyAlgorithm": {},
                "notAfter": {
                  "type": "timestamp"
                },
                "notBefore": {
                  "type": "timestamp"
                },
                "renewalSummary": {
                  "type": "structure",
                  "members": {
                    "renewalStatus": {},
                    "domainValidationOptions": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "domainName": {},
                          "validationStatus": {}
                        }
                      }
                    }
                  }
                },
                "revocationReason": {},
                "revokedAt": {
                  "type": "timestamp"
                },
                "serial": {},
                "signatureAlgorithm": {},
                "subject": {},
                "subjectAlternativeNames": {
                  "shape": "Su"
                }
              }
            }
          }
        }
      }
    },
    "GetLoadBalancers": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "loadBalancers": {
            "type": "list",
            "member": {
              "shape": "Sav"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetOperation": {
      "input": {
        "type": "structure",
        "required": [
          "operationId"
        ],
        "members": {
          "operationId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "GetOperations": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          },
          "nextPageToken": {}
        }
      }
    },
    "GetOperationsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceName"
        ],
        "members": {
          "resourceName": {},
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          },
          "nextPageCount": {
            "deprecated": true
          },
          "nextPageToken": {}
        }
      }
    },
    "GetRegions": {
      "input": {
        "type": "structure",
        "members": {
          "includeAvailabilityZones": {
            "type": "boolean"
          },
          "includeRelationalDatabaseAvailabilityZones": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "regions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "continentCode": {},
                "description": {},
                "displayName": {},
                "name": {},
                "availabilityZones": {
                  "shape": "Sc1"
                },
                "relationalDatabaseAvailabilityZones": {
                  "shape": "Sc1"
                }
              }
            }
          }
        }
      }
    },
    "GetRelationalDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName"
        ],
        "members": {
          "relationalDatabaseName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "relationalDatabase": {
            "shape": "Sc5"
          }
        }
      }
    },
    "GetRelationalDatabaseBlueprints": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "blueprints": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "blueprintId": {},
                "engine": {},
                "engineVersion": {},
                "engineDescription": {},
                "engineVersionDescription": {},
                "isEngineDefault": {
                  "type": "boolean"
                }
              }
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetRelationalDatabaseBundles": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "bundles": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "bundleId": {},
                "name": {},
                "price": {
                  "type": "float"
                },
                "ramSizeInGb": {
                  "type": "float"
                },
                "diskSizeInGb": {
                  "type": "integer"
                },
                "transferPerMonthInGb": {
                  "type": "integer"
                },
                "cpuCount": {
                  "type": "integer"
                },
                "isEncrypted": {
                  "type": "boolean"
                },
                "isActive": {
                  "type": "boolean"
                }
              }
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetRelationalDatabaseEvents": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName"
        ],
        "members": {
          "relationalDatabaseName": {},
          "durationInMinutes": {
            "type": "integer"
          },
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "relationalDatabaseEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "resource": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "message": {},
                "eventCategories": {
                  "shape": "Su"
                }
              }
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetRelationalDatabaseLogEvents": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName",
          "logStreamName"
        ],
        "members": {
          "relationalDatabaseName": {},
          "logStreamName": {},
          "startTime": {
            "type": "timestamp"
          },
          "endTime": {
            "type": "timestamp"
          },
          "startFromHead": {
            "type": "boolean"
          },
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourceLogEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "createdAt": {
                  "type": "timestamp"
                },
                "message": {}
              }
            }
          },
          "nextBackwardToken": {},
          "nextForwardToken": {}
        }
      }
    },
    "GetRelationalDatabaseLogStreams": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName"
        ],
        "members": {
          "relationalDatabaseName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "logStreams": {
            "shape": "Su"
          }
        }
      }
    },
    "GetRelationalDatabaseMasterUserPassword": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName"
        ],
        "members": {
          "relationalDatabaseName": {},
          "passwordVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "masterUserPassword": {
            "shape": "S48"
          },
          "createdAt": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetRelationalDatabaseMetricData": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName",
          "metricName",
          "period",
          "startTime",
          "endTime",
          "unit",
          "statistics"
        ],
        "members": {
          "relationalDatabaseName": {},
          "metricName": {},
          "period": {
            "type": "integer"
          },
          "startTime": {
            "type": "timestamp"
          },
          "endTime": {
            "type": "timestamp"
          },
          "unit": {},
          "statistics": {
            "shape": "S7y"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "metricName": {},
          "metricData": {
            "shape": "S80"
          }
        }
      }
    },
    "GetRelationalDatabaseParameters": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName"
        ],
        "members": {
          "relationalDatabaseName": {},
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "parameters": {
            "shape": "Sd2"
          },
          "nextPageToken": {}
        }
      }
    },
    "GetRelationalDatabaseSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseSnapshotName"
        ],
        "members": {
          "relationalDatabaseSnapshotName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "relationalDatabaseSnapshot": {
            "shape": "Sd6"
          }
        }
      }
    },
    "GetRelationalDatabaseSnapshots": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "relationalDatabaseSnapshots": {
            "type": "list",
            "member": {
              "shape": "Sd6"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetRelationalDatabases": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "relationalDatabases": {
            "type": "list",
            "member": {
              "shape": "Sc5"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetStaticIp": {
      "input": {
        "type": "structure",
        "required": [
          "staticIpName"
        ],
        "members": {
          "staticIpName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "staticIp": {
            "shape": "Sdf"
          }
        }
      }
    },
    "GetStaticIps": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "staticIps": {
            "type": "list",
            "member": {
              "shape": "Sdf"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "ImportKeyPair": {
      "input": {
        "type": "structure",
        "required": [
          "keyPairName",
          "publicKeyBase64"
        ],
        "members": {
          "keyPairName": {},
          "publicKeyBase64": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "IsVpcPeered": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "isPeered": {
            "type": "boolean"
          }
        }
      }
    },
    "OpenInstancePublicPorts": {
      "input": {
        "type": "structure",
        "required": [
          "portInfo",
          "instanceName"
        ],
        "members": {
          "portInfo": {
            "shape": "Sr"
          },
          "instanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "PeerVpc": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "PutAlarm": {
      "input": {
        "type": "structure",
        "required": [
          "alarmName",
          "metricName",
          "monitoredResourceName",
          "comparisonOperator",
          "threshold",
          "evaluationPeriods"
        ],
        "members": {
          "alarmName": {},
          "metricName": {},
          "monitoredResourceName": {},
          "comparisonOperator": {},
          "threshold": {
            "type": "double"
          },
          "evaluationPeriods": {
            "type": "integer"
          },
          "datapointsToAlarm": {
            "type": "integer"
          },
          "treatMissingData": {},
          "contactProtocols": {
            "shape": "S6d"
          },
          "notificationTriggers": {
            "shape": "S6e"
          },
          "notificationEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "PutInstancePublicPorts": {
      "input": {
        "type": "structure",
        "required": [
          "portInfos",
          "instanceName"
        ],
        "members": {
          "portInfos": {
            "type": "list",
            "member": {
              "shape": "Sr"
            }
          },
          "instanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "RebootInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "RebootRelationalDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName"
        ],
        "members": {
          "relationalDatabaseName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "RegisterContainerImage": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName",
          "label",
          "digest"
        ],
        "members": {
          "serviceName": {},
          "label": {},
          "digest": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "containerImage": {
            "shape": "S7o"
          }
        }
      }
    },
    "ReleaseStaticIp": {
      "input": {
        "type": "structure",
        "required": [
          "staticIpName"
        ],
        "members": {
          "staticIpName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "ResetDistributionCache": {
      "input": {
        "type": "structure",
        "members": {
          "distributionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "status": {},
          "createTime": {
            "type": "timestamp"
          },
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "SendContactMethodVerification": {
      "input": {
        "type": "structure",
        "required": [
          "protocol"
        ],
        "members": {
          "protocol": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "SetIpAddressType": {
      "input": {
        "type": "structure",
        "required": [
          "resourceType",
          "resourceName",
          "ipAddressType"
        ],
        "members": {
          "resourceType": {},
          "resourceName": {},
          "ipAddressType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "StartInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "StartRelationalDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName"
        ],
        "members": {
          "relationalDatabaseName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "StopInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {},
          "force": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "StopRelationalDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName"
        ],
        "members": {
          "relationalDatabaseName": {},
          "relationalDatabaseSnapshotName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceName",
          "tags"
        ],
        "members": {
          "resourceName": {},
          "resourceArn": {},
          "tags": {
            "shape": "S12"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "TestAlarm": {
      "input": {
        "type": "structure",
        "required": [
          "alarmName",
          "state"
        ],
        "members": {
          "alarmName": {},
          "state": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "UnpeerVpc": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceName",
          "tagKeys"
        ],
        "members": {
          "resourceName": {},
          "resourceArn": {},
          "tagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "UpdateContainerService": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName"
        ],
        "members": {
          "serviceName": {},
          "power": {},
          "scale": {
            "type": "integer"
          },
          "isDisabled": {
            "type": "boolean"
          },
          "publicDomainNames": {
            "shape": "S20"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "containerService": {
            "shape": "S2d"
          }
        }
      }
    },
    "UpdateDistribution": {
      "input": {
        "type": "structure",
        "required": [
          "distributionName"
        ],
        "members": {
          "distributionName": {},
          "origin": {
            "shape": "S2z"
          },
          "defaultCacheBehavior": {
            "shape": "S31"
          },
          "cacheBehaviorSettings": {
            "shape": "S33"
          },
          "cacheBehaviors": {
            "shape": "S3b"
          },
          "isEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "UpdateDistributionBundle": {
      "input": {
        "type": "structure",
        "members": {
          "distributionName": {},
          "bundleId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "UpdateDomainEntry": {
      "input": {
        "type": "structure",
        "required": [
          "domainName",
          "domainEntry"
        ],
        "members": {
          "domainName": {},
          "domainEntry": {
            "shape": "S3k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "UpdateLoadBalancerAttribute": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "attributeName",
          "attributeValue"
        ],
        "members": {
          "loadBalancerName": {},
          "attributeName": {},
          "attributeValue": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "UpdateRelationalDatabase": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName"
        ],
        "members": {
          "relationalDatabaseName": {},
          "masterUserPassword": {
            "shape": "S48"
          },
          "rotateMasterUserPassword": {
            "type": "boolean"
          },
          "preferredBackupWindow": {},
          "preferredMaintenanceWindow": {},
          "enableBackupRetention": {
            "type": "boolean"
          },
          "disableBackupRetention": {
            "type": "boolean"
          },
          "publiclyAccessible": {
            "type": "boolean"
          },
          "applyImmediately": {
            "type": "boolean"
          },
          "caCertificateIdentifier": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "UpdateRelationalDatabaseParameters": {
      "input": {
        "type": "structure",
        "required": [
          "relationalDatabaseName",
          "parameters"
        ],
        "members": {
          "relationalDatabaseName": {},
          "parameters": {
            "shape": "Sd2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "list",
      "member": {
        "shape": "S5"
      }
    },
    "S5": {
      "type": "structure",
      "members": {
        "id": {},
        "resourceName": {},
        "resourceType": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "isTerminal": {
          "type": "boolean"
        },
        "operationDetails": {},
        "operationType": {},
        "status": {},
        "statusChangedAt": {
          "type": "timestamp"
        },
        "errorCode": {},
        "errorDetails": {}
      }
    },
    "S9": {
      "type": "structure",
      "members": {
        "availabilityZone": {},
        "regionName": {}
      }
    },
    "Sk": {
      "type": "list",
      "member": {}
    },
    "Sr": {
      "type": "structure",
      "members": {
        "fromPort": {
          "type": "integer"
        },
        "toPort": {
          "type": "integer"
        },
        "protocol": {},
        "cidrs": {
          "shape": "Su"
        },
        "ipv6Cidrs": {
          "shape": "Su"
        },
        "cidrListAliases": {
          "shape": "Su"
        }
      }
    },
    "Su": {
      "type": "list",
      "member": {}
    },
    "S11": {
      "type": "list",
      "member": {}
    },
    "S12": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "key": {},
          "value": {}
        }
      }
    },
    "S17": {
      "type": "structure",
      "members": {
        "certificateArn": {},
        "certificateName": {},
        "domainName": {},
        "certificateDetail": {
          "type": "structure",
          "members": {
            "arn": {},
            "name": {},
            "domainName": {},
            "status": {},
            "serialNumber": {},
            "subjectAlternativeNames": {
              "shape": "S11"
            },
            "domainValidationRecords": {
              "shape": "S1b"
            },
            "requestFailureReason": {},
            "inUseResourceCount": {
              "type": "integer"
            },
            "keyAlgorithm": {},
            "createdAt": {
              "type": "timestamp"
            },
            "issuedAt": {
              "type": "timestamp"
            },
            "issuerCA": {},
            "notBefore": {
              "type": "timestamp"
            },
            "notAfter": {
              "type": "timestamp"
            },
            "eligibleToRenew": {},
            "renewalSummary": {
              "type": "structure",
              "members": {
                "domainValidationRecords": {
                  "shape": "S1b"
                },
                "renewalStatus": {},
                "renewalStatusReason": {},
                "updatedAt": {
                  "type": "timestamp"
                }
              }
            },
            "revokedAt": {
              "type": "timestamp"
            },
            "revocationReason": {},
            "tags": {
              "shape": "S12"
            },
            "supportCode": {}
          }
        },
        "tags": {
          "shape": "S12"
        }
      }
    },
    "S1b": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "domainName": {},
          "resourceRecord": {
            "type": "structure",
            "members": {
              "name": {},
              "type": {},
              "value": {}
            }
          }
        }
      }
    },
    "S20": {
      "type": "map",
      "key": {},
      "value": {
        "type": "list",
        "member": {}
      }
    },
    "S23": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "image": {},
          "command": {
            "shape": "Su"
          },
          "environment": {
            "type": "map",
            "key": {},
            "value": {}
          },
          "ports": {
            "type": "map",
            "key": {},
            "value": {}
          }
        }
      }
    },
    "S29": {
      "type": "structure",
      "required": [
        "containerName",
        "containerPort"
      ],
      "members": {
        "containerName": {},
        "containerPort": {
          "type": "integer"
        },
        "healthCheck": {
          "shape": "S2b"
        }
      }
    },
    "S2b": {
      "type": "structure",
      "members": {
        "healthyThreshold": {
          "type": "integer"
        },
        "unhealthyThreshold": {
          "type": "integer"
        },
        "timeoutSeconds": {
          "type": "integer"
        },
        "intervalSeconds": {
          "type": "integer"
        },
        "path": {},
        "successCodes": {}
      }
    },
    "S2d": {
      "type": "structure",
      "members": {
        "containerServiceName": {},
        "arn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {},
        "tags": {
          "shape": "S12"
        },
        "power": {},
        "powerId": {},
        "state": {},
        "scale": {
          "type": "integer"
        },
        "currentDeployment": {
          "shape": "S2f"
        },
        "nextDeployment": {
          "shape": "S2f"
        },
        "isDisabled": {
          "type": "boolean"
        },
        "principalArn": {},
        "privateDomainName": {},
        "publicDomainNames": {
          "shape": "S20"
        },
        "url": {}
      }
    },
    "S2f": {
      "type": "structure",
      "members": {
        "version": {
          "type": "integer"
        },
        "state": {},
        "containers": {
          "shape": "S23"
        },
        "publicEndpoint": {
          "type": "structure",
          "members": {
            "containerName": {},
            "containerPort": {
              "type": "integer"
            },
            "healthCheck": {
              "shape": "S2b"
            }
          }
        },
        "createdAt": {
          "type": "timestamp"
        }
      }
    },
    "S2o": {
      "type": "list",
      "member": {
        "shape": "S2p"
      }
    },
    "S2p": {
      "type": "structure",
      "required": [
        "addOnType"
      ],
      "members": {
        "addOnType": {},
        "autoSnapshotAddOnRequest": {
          "type": "structure",
          "members": {
            "snapshotTimeOfDay": {}
          }
        }
      }
    },
    "S2z": {
      "type": "structure",
      "members": {
        "name": {},
        "regionName": {},
        "protocolPolicy": {}
      }
    },
    "S31": {
      "type": "structure",
      "members": {
        "behavior": {}
      }
    },
    "S33": {
      "type": "structure",
      "members": {
        "defaultTTL": {
          "type": "long"
        },
        "minimumTTL": {
          "type": "long"
        },
        "maximumTTL": {
          "type": "long"
        },
        "allowedHTTPMethods": {},
        "cachedHTTPMethods": {},
        "forwardedCookies": {
          "type": "structure",
          "members": {
            "option": {},
            "cookiesAllowList": {
              "shape": "Su"
            }
          }
        },
        "forwardedHeaders": {
          "type": "structure",
          "members": {
            "option": {},
            "headersAllowList": {
              "type": "list",
              "member": {}
            }
          }
        },
        "forwardedQueryStrings": {
          "type": "structure",
          "members": {
            "option": {
              "type": "boolean"
            },
            "queryStringsAllowList": {
              "shape": "Su"
            }
          }
        }
      }
    },
    "S3b": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "path": {},
          "behavior": {}
        }
      }
    },
    "S3f": {
      "type": "structure",
      "members": {
        "name": {},
        "arn": {},
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {},
        "alternativeDomainNames": {
          "shape": "Su"
        },
        "status": {},
        "isEnabled": {
          "type": "boolean"
        },
        "domainName": {},
        "bundleId": {},
        "certificateName": {},
        "origin": {
          "type": "structure",
          "members": {
            "name": {},
            "resourceType": {},
            "regionName": {},
            "protocolPolicy": {}
          }
        },
        "originPublicDNS": {},
        "defaultCacheBehavior": {
          "shape": "S31"
        },
        "cacheBehaviorSettings": {
          "shape": "S33"
        },
        "cacheBehaviors": {
          "shape": "S3b"
        },
        "ableToUpdateBundle": {
          "type": "boolean"
        },
        "ipAddressType": {},
        "tags": {
          "shape": "S12"
        }
      }
    },
    "S3k": {
      "type": "structure",
      "members": {
        "id": {},
        "name": {},
        "target": {},
        "isAlias": {
          "type": "boolean"
        },
        "type": {},
        "options": {
          "deprecated": true,
          "type": "map",
          "key": {},
          "value": {}
        }
      }
    },
    "S40": {
      "type": "structure",
      "members": {
        "name": {},
        "arn": {},
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {},
        "tags": {
          "shape": "S12"
        },
        "fingerprint": {}
      }
    },
    "S43": {
      "type": "list",
      "member": {}
    },
    "S48": {
      "type": "string",
      "sensitive": true
    },
    "S6d": {
      "type": "list",
      "member": {}
    },
    "S6e": {
      "type": "list",
      "member": {}
    },
    "S7b": {
      "type": "structure",
      "members": {
        "id": {},
        "service": {}
      }
    },
    "S7o": {
      "type": "structure",
      "members": {
        "image": {},
        "digest": {},
        "createdAt": {
          "type": "timestamp"
        }
      }
    },
    "S7y": {
      "type": "list",
      "member": {}
    },
    "S80": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "average": {
            "type": "double"
          },
          "maximum": {
            "type": "double"
          },
          "minimum": {
            "type": "double"
          },
          "sampleCount": {
            "type": "double"
          },
          "sum": {
            "type": "double"
          },
          "timestamp": {
            "type": "timestamp"
          },
          "unit": {}
        }
      }
    },
    "S8c": {
      "type": "structure",
      "members": {
        "name": {},
        "arn": {},
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {},
        "tags": {
          "shape": "S12"
        },
        "addOns": {
          "shape": "S8d"
        },
        "sizeInGb": {
          "type": "integer"
        },
        "isSystemDisk": {
          "type": "boolean"
        },
        "iops": {
          "type": "integer"
        },
        "path": {},
        "state": {},
        "attachedTo": {},
        "isAttached": {
          "type": "boolean"
        },
        "attachmentState": {
          "deprecated": true
        },
        "gbInUse": {
          "deprecated": true,
          "type": "integer"
        }
      }
    },
    "S8d": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "status": {},
          "snapshotTimeOfDay": {},
          "nextSnapshotTimeOfDay": {}
        }
      }
    },
    "S8i": {
      "type": "structure",
      "members": {
        "name": {},
        "arn": {},
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {},
        "tags": {
          "shape": "S12"
        },
        "sizeInGb": {
          "type": "integer"
        },
        "state": {},
        "progress": {},
        "fromDiskName": {},
        "fromDiskArn": {},
        "fromInstanceName": {},
        "fromInstanceArn": {},
        "isFromAutoSnapshot": {
          "type": "boolean"
        }
      }
    },
    "S8p": {
      "type": "list",
      "member": {
        "shape": "S8c"
      }
    },
    "S94": {
      "type": "structure",
      "members": {
        "name": {},
        "arn": {},
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {},
        "tags": {
          "shape": "S12"
        },
        "domainEntries": {
          "type": "list",
          "member": {
            "shape": "S3k"
          }
        }
      }
    },
    "S9l": {
      "type": "structure",
      "members": {
        "name": {},
        "arn": {},
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {},
        "tags": {
          "shape": "S12"
        },
        "blueprintId": {},
        "blueprintName": {},
        "bundleId": {},
        "addOns": {
          "shape": "S8d"
        },
        "isStaticIp": {
          "type": "boolean"
        },
        "privateIpAddress": {},
        "publicIpAddress": {},
        "ipv6Addresses": {
          "type": "list",
          "member": {}
        },
        "ipAddressType": {},
        "hardware": {
          "type": "structure",
          "members": {
            "cpuCount": {
              "type": "integer"
            },
            "disks": {
              "shape": "S8p"
            },
            "ramSizeInGb": {
              "type": "float"
            }
          }
        },
        "networking": {
          "type": "structure",
          "members": {
            "monthlyTransfer": {
              "type": "structure",
              "members": {
                "gbPerMonthAllocated": {
                  "type": "integer"
                }
              }
            },
            "ports": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "fromPort": {
                    "type": "integer"
                  },
                  "toPort": {
                    "type": "integer"
                  },
                  "protocol": {},
                  "accessFrom": {},
                  "accessType": {},
                  "commonName": {},
                  "accessDirection": {},
                  "cidrs": {
                    "shape": "Su"
                  },
                  "ipv6Cidrs": {
                    "shape": "Su"
                  },
                  "cidrListAliases": {
                    "shape": "Su"
                  }
                }
              }
            }
          }
        },
        "state": {
          "shape": "S9w"
        },
        "username": {},
        "sshKeyName": {}
      }
    },
    "S9w": {
      "type": "structure",
      "members": {
        "code": {
          "type": "integer"
        },
        "name": {}
      }
    },
    "Sae": {
      "type": "structure",
      "members": {
        "name": {},
        "arn": {},
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {},
        "tags": {
          "shape": "S12"
        },
        "state": {},
        "progress": {},
        "fromAttachedDisks": {
          "shape": "S8p"
        },
        "fromInstanceName": {},
        "fromInstanceArn": {},
        "fromBlueprintId": {},
        "fromBundleId": {},
        "isFromAutoSnapshot": {
          "type": "boolean"
        },
        "sizeInGb": {
          "type": "integer"
        }
      }
    },
    "Sav": {
      "type": "structure",
      "members": {
        "name": {},
        "arn": {},
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {},
        "tags": {
          "shape": "S12"
        },
        "dnsName": {},
        "state": {},
        "protocol": {},
        "publicPorts": {
          "type": "list",
          "member": {
            "type": "integer"
          }
        },
        "healthCheckPath": {},
        "instancePort": {
          "type": "integer"
        },
        "instanceHealthSummary": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "instanceName": {},
              "instanceHealth": {},
              "instanceHealthReason": {}
            }
          }
        },
        "tlsCertificateSummaries": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "name": {},
              "isAttached": {
                "type": "boolean"
              }
            }
          }
        },
        "configurationOptions": {
          "type": "map",
          "key": {},
          "value": {}
        },
        "ipAddressType": {}
      }
    },
    "Sc1": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "zoneName": {},
          "state": {}
        }
      }
    },
    "Sc5": {
      "type": "structure",
      "members": {
        "name": {},
        "arn": {},
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
[...]
