{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-11-28",
    "endpointPrefix": "lightsail",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Lightsail",
    "serviceId": "Lightsail",
    "signatureVersion": "v4",
    "targetPrefix": "Lightsail_20161128",
    "uid": "lightsail-2016-11-28"
  },
  "operations": {
    "AllocateStaticIp": {
      "input": {
        "type": "structure",
        "required": [
          "staticIpName"
        ],
        "members": {
          "staticIpName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "AttachDisk": {
      "input": {
        "type": "structure",
        "required": [
          "diskName",
          "instanceName",
          "diskPath"
        ],
        "members": {
          "diskName": {
            "shape": "S2"
          },
          "instanceName": {
            "shape": "S2"
          },
          "diskPath": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "AttachInstancesToLoadBalancer": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "instanceNames"
        ],
        "members": {
          "loadBalancerName": {
            "shape": "S2"
          },
          "instanceNames": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "AttachLoadBalancerTlsCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "certificateName"
        ],
        "members": {
          "loadBalancerName": {
            "shape": "S2"
          },
          "certificateName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "AttachStaticIp": {
      "input": {
        "type": "structure",
        "required": [
          "staticIpName",
          "instanceName"
        ],
        "members": {
          "staticIpName": {
            "shape": "S2"
          },
          "instanceName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CloseInstancePublicPorts": {
      "input": {
        "type": "structure",
        "required": [
          "portInfo",
          "instanceName"
        ],
        "members": {
          "portInfo": {
            "shape": "Sp"
          },
          "instanceName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateDisk": {
      "input": {
        "type": "structure",
        "required": [
          "diskName",
          "availabilityZone",
          "sizeInGb"
        ],
        "members": {
          "diskName": {
            "shape": "S2"
          },
          "availabilityZone": {
            "shape": "S6"
          },
          "sizeInGb": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateDiskFromSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "diskName",
          "diskSnapshotName",
          "availabilityZone",
          "sizeInGb"
        ],
        "members": {
          "diskName": {
            "shape": "S2"
          },
          "diskSnapshotName": {
            "shape": "S2"
          },
          "availabilityZone": {
            "shape": "S6"
          },
          "sizeInGb": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateDiskSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "diskName",
          "diskSnapshotName"
        ],
        "members": {
          "diskName": {
            "shape": "S2"
          },
          "diskSnapshotName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateDomain": {
      "input": {
        "type": "structure",
        "required": [
          "domainName"
        ],
        "members": {
          "domainName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateDomainEntry": {
      "input": {
        "type": "structure",
        "required": [
          "domainName",
          "domainEntry"
        ],
        "members": {
          "domainName": {},
          "domainEntry": {
            "shape": "S14"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateInstanceSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "instanceSnapshotName",
          "instanceName"
        ],
        "members": {
          "instanceSnapshotName": {
            "shape": "S2"
          },
          "instanceName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateInstances": {
      "input": {
        "type": "structure",
        "required": [
          "instanceNames",
          "availabilityZone",
          "blueprintId",
          "bundleId"
        ],
        "members": {
          "instanceNames": {
            "shape": "S1c"
          },
          "availabilityZone": {},
          "customImageName": {
            "shape": "S2",
            "deprecated": true
          },
          "blueprintId": {
            "shape": "S6"
          },
          "bundleId": {
            "shape": "S6"
          },
          "userData": {},
          "keyPairName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateInstancesFromSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "instanceNames",
          "availabilityZone",
          "instanceSnapshotName",
          "bundleId"
        ],
        "members": {
          "instanceNames": {
            "shape": "S1c"
          },
          "attachedDiskMapping": {
            "type": "map",
            "key": {
              "shape": "S2"
            },
            "value": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "originalDiskPath": {
                    "shape": "S6"
                  },
                  "newDiskName": {
                    "shape": "S2"
                  }
                }
              }
            }
          },
          "availabilityZone": {},
          "instanceSnapshotName": {
            "shape": "S2"
          },
          "bundleId": {
            "shape": "S6"
          },
          "userData": {},
          "keyPairName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateKeyPair": {
      "input": {
        "type": "structure",
        "required": [
          "keyPairName"
        ],
        "members": {
          "keyPairName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "keyPair": {
            "shape": "S1l"
          },
          "publicKeyBase64": {},
          "privateKeyBase64": {},
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateLoadBalancer": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "instancePort"
        ],
        "members": {
          "loadBalancerName": {
            "shape": "S2"
          },
          "instancePort": {
            "shape": "Sq"
          },
          "healthCheckPath": {},
          "certificateName": {
            "shape": "S2"
          },
          "certificateDomainName": {},
          "certificateAlternativeNames": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateLoadBalancerTlsCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "certificateName",
          "certificateDomainName"
        ],
        "members": {
          "loadBalancerName": {
            "shape": "S2"
          },
          "certificateName": {
            "shape": "S2"
          },
          "certificateDomainName": {},
          "certificateAlternativeNames": {
            "shape": "S1o"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteDisk": {
      "input": {
        "type": "structure",
        "required": [
          "diskName"
        ],
        "members": {
          "diskName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteDiskSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "diskSnapshotName"
        ],
        "members": {
          "diskSnapshotName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteDomain": {
      "input": {
        "type": "structure",
        "required": [
          "domainName"
        ],
        "members": {
          "domainName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "DeleteDomainEntry": {
      "input": {
        "type": "structure",
        "required": [
          "domainName",
          "domainEntry"
        ],
        "members": {
          "domainName": {},
          "domainEntry": {
            "shape": "S14"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "DeleteInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteInstanceSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "instanceSnapshotName"
        ],
        "members": {
          "instanceSnapshotName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteKeyPair": {
      "input": {
        "type": "structure",
        "required": [
          "keyPairName"
        ],
        "members": {
          "keyPairName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "DeleteLoadBalancer": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName"
        ],
        "members": {
          "loadBalancerName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteLoadBalancerTlsCertificate": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "certificateName"
        ],
        "members": {
          "loadBalancerName": {
            "shape": "S2"
          },
          "certificateName": {
            "shape": "S2"
          },
          "force": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DetachDisk": {
      "input": {
        "type": "structure",
        "required": [
          "diskName"
        ],
        "members": {
          "diskName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DetachInstancesFromLoadBalancer": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "instanceNames"
        ],
        "members": {
          "loadBalancerName": {
            "shape": "S2"
          },
          "instanceNames": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DetachStaticIp": {
      "input": {
        "type": "structure",
        "required": [
          "staticIpName"
        ],
        "members": {
          "staticIpName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "DownloadDefaultKeyPair": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "publicKeyBase64": {},
          "privateKeyBase64": {}
        }
      }
    },
    "GetActiveNames": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "activeNames": {
            "shape": "S1c"
          },
          "nextPageToken": {}
        }
      }
    },
    "GetBlueprints": {
      "input": {
        "type": "structure",
        "members": {
          "includeInactive": {
            "type": "boolean"
          },
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "blueprints": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "blueprintId": {
                  "shape": "S6"
                },
                "name": {
                  "shape": "S2"
                },
                "group": {
                  "shape": "S6"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "os",
                    "app"
                  ]
                },
                "description": {},
                "isActive": {
                  "type": "boolean"
                },
                "minPower": {
                  "type": "integer"
                },
                "version": {},
                "versionCode": {},
                "productUrl": {},
                "licenseUrl": {},
                "platform": {
                  "shape": "S2p"
                }
              }
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetBundles": {
      "input": {
        "type": "structure",
        "members": {
          "includeInactive": {
            "type": "boolean"
          },
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "bundles": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "price": {
                  "type": "float"
                },
                "cpuCount": {
                  "type": "integer"
                },
                "diskSizeInGb": {
                  "type": "integer"
                },
                "bundleId": {
                  "shape": "S6"
                },
                "instanceType": {},
                "isActive": {
                  "type": "boolean"
                },
                "name": {},
                "power": {
                  "type": "integer"
                },
                "ramSizeInGb": {
                  "type": "float"
                },
                "transferPerMonthInGb": {
                  "type": "integer"
                },
                "supportedPlatforms": {
                  "type": "list",
                  "member": {
                    "shape": "S2p"
                  }
                }
              }
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetDisk": {
      "input": {
        "type": "structure",
        "required": [
          "diskName"
        ],
        "members": {
          "diskName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "disk": {
            "shape": "S2y"
          }
        }
      }
    },
    "GetDiskSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "diskSnapshotName"
        ],
        "members": {
          "diskSnapshotName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "diskSnapshot": {
            "shape": "S32"
          }
        }
      }
    },
    "GetDiskSnapshots": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "diskSnapshots": {
            "type": "list",
            "member": {
              "shape": "S32"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetDisks": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "disks": {
            "shape": "S39"
          },
          "nextPageToken": {}
        }
      }
    },
    "GetDomain": {
      "input": {
        "type": "structure",
        "required": [
          "domainName"
        ],
        "members": {
          "domainName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domain": {
            "shape": "S3c"
          }
        }
      }
    },
    "GetDomains": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domains": {
            "type": "list",
            "member": {
              "shape": "S3c"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instance": {
            "shape": "S3j"
          }
        }
      }
    },
    "GetInstanceAccessDetails": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {
            "shape": "S2"
          },
          "protocol": {
            "shape": "S3v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "accessDetails": {
            "type": "structure",
            "members": {
              "certKey": {},
              "expiresAt": {
                "type": "timestamp"
              },
              "ipAddress": {
                "shape": "S3k"
              },
              "password": {},
              "passwordData": {
                "type": "structure",
                "members": {
                  "ciphertext": {},
                  "keyPairName": {
                    "shape": "S2"
                  }
                }
              },
              "privateKey": {},
              "protocol": {
                "shape": "S3v"
              },
              "instanceName": {
                "shape": "S2"
              },
              "username": {}
            }
          }
        }
      }
    },
    "GetInstanceMetricData": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName",
          "metricName",
          "period",
          "startTime",
          "endTime",
          "unit",
          "statistics"
        ],
        "members": {
          "instanceName": {
            "shape": "S2"
          },
          "metricName": {
            "shape": "S40"
          },
          "period": {
            "shape": "S41"
          },
          "startTime": {
            "type": "timestamp"
          },
          "endTime": {
            "type": "timestamp"
          },
          "unit": {
            "shape": "S43"
          },
          "statistics": {
            "shape": "S44"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "metricName": {
            "shape": "S40"
          },
          "metricData": {
            "shape": "S47"
          }
        }
      }
    },
    "GetInstancePortStates": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "portStates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "fromPort": {
                  "shape": "Sq"
                },
                "toPort": {
                  "shape": "Sq"
                },
                "protocol": {
                  "shape": "Sr"
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "open",
                    "closed"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "GetInstanceSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "instanceSnapshotName"
        ],
        "members": {
          "instanceSnapshotName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instanceSnapshot": {
            "shape": "S4h"
          }
        }
      }
    },
    "GetInstanceSnapshots": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instanceSnapshots": {
            "type": "list",
            "member": {
              "shape": "S4h"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetInstanceState": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "state": {
            "shape": "S3t"
          }
        }
      }
    },
    "GetInstances": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "instances": {
            "type": "list",
            "member": {
              "shape": "S3j"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetKeyPair": {
      "input": {
        "type": "structure",
        "required": [
          "keyPairName"
        ],
        "members": {
          "keyPairName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "keyPair": {
            "shape": "S1l"
          }
        }
      }
    },
    "GetKeyPairs": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "keyPairs": {
            "type": "list",
            "member": {
              "shape": "S1l"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetLoadBalancer": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName"
        ],
        "members": {
          "loadBalancerName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "loadBalancer": {
            "shape": "S4y"
          }
        }
      }
    },
    "GetLoadBalancerMetricData": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "metricName",
          "period",
          "startTime",
          "endTime",
          "unit",
          "statistics"
        ],
        "members": {
          "loadBalancerName": {
            "shape": "S2"
          },
          "metricName": {
            "shape": "S5b"
          },
          "period": {
            "shape": "S41"
          },
          "startTime": {
            "type": "timestamp"
          },
          "endTime": {
            "type": "timestamp"
          },
          "unit": {
            "shape": "S43"
          },
          "statistics": {
            "shape": "S44"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "metricName": {
            "shape": "S5b"
          },
          "metricData": {
            "shape": "S47"
          }
        }
      }
    },
    "GetLoadBalancerTlsCertificates": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName"
        ],
        "members": {
          "loadBalancerName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tlsCertificates": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {
                  "shape": "S2"
                },
                "arn": {
                  "shape": "S6"
                },
                "supportCode": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "location": {
                  "shape": "S9"
                },
                "resourceType": {
                  "shape": "S7"
                },
                "loadBalancerName": {
                  "shape": "S2"
                },
                "isAttached": {
                  "type": "boolean"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "PENDING_VALIDATION",
                    "ISSUED",
                    "INACTIVE",
                    "EXPIRED",
                    "VALIDATION_TIMED_OUT",
                    "REVOKED",
                    "FAILED",
                    "UNKNOWN"
                  ]
                },
                "domainName": {},
                "domainValidationRecords": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {
                        "shape": "S6"
                      },
                      "type": {
                        "shape": "S6"
                      },
                      "value": {
                        "shape": "S6"
                      },
                      "validationStatus": {
                        "shape": "S5k"
                      },
                      "domainName": {}
                    }
                  }
                },
                "failureReason": {
                  "type": "string",
                  "enum": [
                    "NO_AVAILABLE_CONTACTS",
                    "ADDITIONAL_VERIFICATION_REQUIRED",
                    "DOMAIN_NOT_ALLOWED",
                    "INVALID_PUBLIC_DOMAIN",
                    "OTHER"
                  ]
                },
                "issuedAt": {
                  "type": "timestamp"
                },
                "issuer": {
                  "shape": "S6"
                },
                "keyAlgorithm": {
                  "shape": "S6"
                },
                "notAfter": {
                  "type": "timestamp"
                },
                "notBefore": {
                  "type": "timestamp"
                },
                "renewalSummary": {
                  "type": "structure",
                  "members": {
                    "renewalStatus": {
                      "type": "string",
                      "enum": [
                        "PENDING_AUTO_RENEWAL",
                        "PENDING_VALIDATION",
                        "SUCCESS",
                        "FAILED"
                      ]
                    },
                    "domainValidationOptions": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "domainName": {},
                          "validationStatus": {
                            "shape": "S5k"
                          }
                        }
                      }
                    }
                  }
                },
                "revocationReason": {
                  "type": "string",
                  "enum": [
                    "UNSPECIFIED",
                    "KEY_COMPROMISE",
                    "CA_COMPROMISE",
                    "AFFILIATION_CHANGED",
                    "SUPERCEDED",
                    "CESSATION_OF_OPERATION",
                    "CERTIFICATE_HOLD",
                    "REMOVE_FROM_CRL",
                    "PRIVILEGE_WITHDRAWN",
                    "A_A_COMPROMISE"
                  ]
                },
                "revokedAt": {
                  "type": "timestamp"
                },
                "serial": {
                  "shape": "S6"
                },
                "signatureAlgorithm": {
                  "shape": "S6"
                },
                "subject": {
                  "shape": "S6"
                },
                "subjectAlternativeNames": {
                  "shape": "S1c"
                }
              }
            }
          }
        }
      }
    },
    "GetLoadBalancers": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "loadBalancers": {
            "type": "list",
            "member": {
              "shape": "S4y"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "GetOperation": {
      "input": {
        "type": "structure",
        "required": [
          "operationId"
        ],
        "members": {
          "operationId": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "GetOperations": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          },
          "nextPageToken": {}
        }
      }
    },
    "GetOperationsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceName"
        ],
        "members": {
          "resourceName": {
            "shape": "S2"
          },
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          },
          "nextPageCount": {
            "deprecated": true
          },
          "nextPageToken": {}
        }
      }
    },
    "GetRegions": {
      "input": {
        "type": "structure",
        "members": {
          "includeAvailabilityZones": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "regions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "continentCode": {},
                "description": {},
                "displayName": {},
                "name": {
                  "shape": "Sb"
                },
                "availabilityZones": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "zoneName": {
                        "shape": "S6"
                      },
                      "state": {
                        "shape": "S6"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetStaticIp": {
      "input": {
        "type": "structure",
        "required": [
          "staticIpName"
        ],
        "members": {
          "staticIpName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "staticIp": {
            "shape": "S68"
          }
        }
      }
    },
    "GetStaticIps": {
      "input": {
        "type": "structure",
        "members": {
          "pageToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "staticIps": {
            "type": "list",
            "member": {
              "shape": "S68"
            }
          },
          "nextPageToken": {}
        }
      }
    },
    "ImportKeyPair": {
      "input": {
        "type": "structure",
        "required": [
          "keyPairName",
          "publicKeyBase64"
        ],
        "members": {
          "keyPairName": {
            "shape": "S2"
          },
          "publicKeyBase64": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "IsVpcPeered": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "isPeered": {
            "type": "boolean"
          }
        }
      }
    },
    "OpenInstancePublicPorts": {
      "input": {
        "type": "structure",
        "required": [
          "portInfo",
          "instanceName"
        ],
        "members": {
          "portInfo": {
            "shape": "Sp"
          },
          "instanceName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "PeerVpc": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "PutInstancePublicPorts": {
      "input": {
        "type": "structure",
        "required": [
          "portInfos",
          "instanceName"
        ],
        "members": {
          "portInfos": {
            "type": "list",
            "member": {
              "shape": "Sp"
            }
          },
          "instanceName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "RebootInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "ReleaseStaticIp": {
      "input": {
        "type": "structure",
        "required": [
          "staticIpName"
        ],
        "members": {
          "staticIpName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "StartInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "StopInstance": {
      "input": {
        "type": "structure",
        "required": [
          "instanceName"
        ],
        "members": {
          "instanceName": {
            "shape": "S2"
          },
          "force": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "UnpeerVpc": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "operation": {
            "shape": "S5"
          }
        }
      }
    },
    "UpdateDomainEntry": {
      "input": {
        "type": "structure",
        "required": [
          "domainName",
          "domainEntry"
        ],
        "members": {
          "domainName": {},
          "domainEntry": {
            "shape": "S14"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    },
    "UpdateLoadBalancerAttribute": {
      "input": {
        "type": "structure",
        "required": [
          "loadBalancerName",
          "attributeName",
          "attributeValue"
        ],
        "members": {
          "loadBalancerName": {
            "shape": "S2"
          },
          "attributeName": {
            "shape": "S59"
          },
          "attributeValue": {
            "type": "string",
            "max": 256,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "operations": {
            "shape": "S4"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "pattern": "\\w[\\w\\-]*\\w"
    },
    "S4": {
      "type": "list",
      "member": {
        "shape": "S5"
      }
    },
    "S5": {
      "type": "structure",
      "members": {
        "id": {
          "shape": "S6"
        },
        "resourceName": {
          "shape": "S2"
        },
        "resourceType": {
          "shape": "S7"
        },
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "isTerminal": {
          "type": "boolean"
        },
        "operationDetails": {},
        "operationType": {
          "type": "string",
          "enum": [
            "DeleteInstance",
            "CreateInstance",
            "StopInstance",
            "StartInstance",
            "RebootInstance",
            "OpenInstancePublicPorts",
            "PutInstancePublicPorts",
            "CloseInstancePublicPorts",
            "AllocateStaticIp",
            "ReleaseStaticIp",
            "AttachStaticIp",
            "DetachStaticIp",
            "UpdateDomainEntry",
            "DeleteDomainEntry",
            "CreateDomain",
            "DeleteDomain",
            "CreateInstanceSnapshot",
            "DeleteInstanceSnapshot",
            "CreateInstancesFromSnapshot",
            "CreateLoadBalancer",
            "DeleteLoadBalancer",
            "AttachInstancesToLoadBalancer",
            "DetachInstancesFromLoadBalancer",
            "UpdateLoadBalancerAttribute",
            "CreateLoadBalancerTlsCertificate",
            "DeleteLoadBalancerTlsCertificate",
            "AttachLoadBalancerTlsCertificate",
            "CreateDisk",
            "DeleteDisk",
            "AttachDisk",
            "DetachDisk",
            "CreateDiskSnapshot",
            "DeleteDiskSnapshot",
            "CreateDiskFromSnapshot"
          ]
        },
        "status": {
          "type": "string",
          "enum": [
            "NotStarted",
            "Started",
            "Failed",
            "Completed",
            "Succeeded"
          ]
        },
        "statusChangedAt": {
          "type": "timestamp"
        },
        "errorCode": {},
        "errorDetails": {}
      }
    },
    "S6": {
      "type": "string",
      "pattern": ".*\\S.*"
    },
    "S7": {
      "type": "string",
      "enum": [
        "Instance",
        "StaticIp",
        "KeyPair",
        "InstanceSnapshot",
        "Domain",
        "PeeredVpc",
        "LoadBalancer",
        "LoadBalancerTlsCertificate",
        "Disk",
        "DiskSnapshot"
      ]
    },
    "S9": {
      "type": "structure",
      "members": {
        "availabilityZone": {},
        "regionName": {
          "shape": "Sb"
        }
      }
    },
    "Sb": {
      "type": "string",
      "enum": [
        "us-east-1",
        "us-east-2",
        "us-west-1",
        "us-west-2",
        "eu-central-1",
        "eu-west-1",
        "eu-west-2",
        "ap-south-1",
        "ap-southeast-1",
        "ap-southeast-2",
        "ap-northeast-1",
        "ap-northeast-2"
      ]
    },
    "Si": {
      "type": "list",
      "member": {
        "shape": "S2"
      }
    },
    "Sp": {
      "type": "structure",
      "members": {
        "fromPort": {
          "shape": "Sq"
        },
        "toPort": {
          "shape": "Sq"
        },
        "protocol": {
          "shape": "Sr"
        }
      }
    },
    "Sq": {
      "type": "integer",
      "max": 65535,
      "min": 0
    },
    "Sr": {
      "type": "string",
      "enum": [
        "tcp",
        "all",
        "udp"
      ]
    },
    "S14": {
      "type": "structure",
      "members": {
        "id": {
          "shape": "S6"
        },
        "name": {},
        "target": {},
        "isAlias": {
          "type": "boolean"
        },
        "type": {},
        "options": {
          "deprecated": true,
          "type": "map",
          "key": {},
          "value": {}
        }
      }
    },
    "S1c": {
      "type": "list",
      "member": {}
    },
    "S1l": {
      "type": "structure",
      "members": {
        "name": {
          "shape": "S2"
        },
        "arn": {
          "shape": "S6"
        },
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {
          "shape": "S7"
        },
        "fingerprint": {}
      }
    },
    "S1o": {
      "type": "list",
      "member": {}
    },
    "S2p": {
      "type": "string",
      "enum": [
        "LINUX_UNIX",
        "WINDOWS"
      ]
    },
    "S2y": {
      "type": "structure",
      "members": {
        "name": {
          "shape": "S2"
        },
        "arn": {
          "shape": "S6"
        },
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {
          "shape": "S7"
        },
        "sizeInGb": {
          "type": "integer"
        },
        "isSystemDisk": {
          "type": "boolean"
        },
        "iops": {
          "type": "integer"
        },
        "path": {},
        "state": {
          "type": "string",
          "enum": [
            "pending",
            "error",
            "available",
            "in-use",
            "unknown"
          ]
        },
        "attachedTo": {
          "shape": "S2"
        },
        "isAttached": {
          "type": "boolean"
        },
        "attachmentState": {
          "deprecated": true
        },
        "gbInUse": {
          "deprecated": true,
          "type": "integer"
        }
      }
    },
    "S32": {
      "type": "structure",
      "members": {
        "name": {
          "shape": "S2"
        },
        "arn": {
          "shape": "S6"
        },
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {
          "shape": "S7"
        },
        "sizeInGb": {
          "type": "integer"
        },
        "state": {
          "type": "string",
          "enum": [
            "pending",
            "completed",
            "error",
            "unknown"
          ]
        },
        "progress": {},
        "fromDiskName": {
          "shape": "S2"
        },
        "fromDiskArn": {
          "shape": "S6"
        }
      }
    },
    "S39": {
      "type": "list",
      "member": {
        "shape": "S2y"
      }
    },
    "S3c": {
      "type": "structure",
      "members": {
        "name": {
          "shape": "S2"
        },
        "arn": {
          "shape": "S6"
        },
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {
          "shape": "S7"
        },
        "domainEntries": {
          "type": "list",
          "member": {
            "shape": "S14"
          }
        }
      }
    },
    "S3j": {
      "type": "structure",
      "members": {
        "name": {
          "shape": "S2"
        },
        "arn": {
          "shape": "S6"
        },
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {
          "shape": "S7"
        },
        "blueprintId": {
          "shape": "S6"
        },
        "blueprintName": {
          "shape": "S6"
        },
        "bundleId": {
          "shape": "S6"
        },
        "isStaticIp": {
          "type": "boolean"
        },
        "privateIpAddress": {
          "shape": "S3k"
        },
        "publicIpAddress": {
          "shape": "S3k"
        },
        "ipv6Address": {
          "type": "string",
          "pattern": "([A-F0-9]{1,4}:){7}[A-F0-9]{1,4}"
        },
        "hardware": {
          "type": "structure",
          "members": {
            "cpuCount": {
              "type": "integer"
            },
            "disks": {
              "shape": "S39"
            },
            "ramSizeInGb": {
              "type": "float"
            }
          }
        },
        "networking": {
          "type": "structure",
          "members": {
            "monthlyTransfer": {
              "type": "structure",
              "members": {
                "gbPerMonthAllocated": {
                  "type": "integer"
                }
              }
            },
            "ports": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "fromPort": {
                    "shape": "Sq"
                  },
                  "toPort": {
                    "shape": "Sq"
                  },
                  "protocol": {
                    "shape": "Sr"
                  },
                  "accessFrom": {},
                  "accessType": {
                    "type": "string",
                    "enum": [
                      "Public",
                      "Private"
                    ]
                  },
                  "commonName": {},
                  "accessDirection": {
                    "type": "string",
                    "enum": [
                      "inbound",
                      "outbound"
                    ]
                  }
                }
              }
            }
          }
        },
        "state": {
          "shape": "S3t"
        },
        "username": {
          "shape": "S6"
        },
        "sshKeyName": {
          "shape": "S2"
        }
      }
    },
    "S3k": {
      "type": "string",
      "pattern": "([0-9]{1,3}\\.){3}[0-9]{1,3}"
    },
    "S3t": {
      "type": "structure",
      "members": {
        "code": {
          "type": "integer"
        },
        "name": {}
      }
    },
    "S3v": {
      "type": "string",
      "enum": [
        "ssh",
        "rdp"
      ]
    },
    "S40": {
      "type": "string",
      "enum": [
        "CPUUtilization",
        "NetworkIn",
        "NetworkOut",
        "StatusCheckFailed",
        "StatusCheckFailed_Instance",
        "StatusCheckFailed_System"
      ]
    },
    "S41": {
      "type": "integer",
      "max": 86400,
      "min": 60
    },
    "S43": {
      "type": "string",
      "enum": [
        "Seconds",
        "Microseconds",
        "Milliseconds",
        "Bytes",
        "Kilobytes",
        "Megabytes",
        "Gigabytes",
        "Terabytes",
        "Bits",
        "Kilobits",
        "Megabits",
        "Gigabits",
        "Terabits",
        "Percent",
        "Count",
        "Bytes/Second",
        "Kilobytes/Second",
        "Megabytes/Second",
        "Gigabytes/Second",
        "Terabytes/Second",
        "Bits/Second",
        "Kilobits/Second",
        "Megabits/Second",
        "Gigabits/Second",
        "Terabits/Second",
        "Count/Second",
        "None"
      ]
    },
    "S44": {
      "type": "list",
      "member": {
        "type": "string",
        "enum": [
          "Minimum",
          "Maximum",
          "Sum",
          "Average",
          "SampleCount"
        ]
      }
    },
    "S47": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "average": {
            "type": "double"
          },
          "maximum": {
            "type": "double"
          },
          "minimum": {
            "type": "double"
          },
          "sampleCount": {
            "type": "double"
          },
          "sum": {
            "type": "double"
          },
          "timestamp": {
            "type": "timestamp"
          },
          "unit": {
            "shape": "S43"
          }
        }
      }
    },
    "S4h": {
      "type": "structure",
      "members": {
        "name": {
          "shape": "S2"
        },
        "arn": {
          "shape": "S6"
        },
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {
          "shape": "S7"
        },
        "state": {
          "type": "string",
          "enum": [
            "pending",
            "error",
            "available"
          ]
        },
        "progress": {},
        "fromAttachedDisks": {
          "shape": "S39"
        },
        "fromInstanceName": {
          "shape": "S2"
        },
        "fromInstanceArn": {
          "shape": "S6"
        },
        "fromBlueprintId": {},
        "fromBundleId": {},
        "sizeInGb": {
          "type": "integer"
        }
      }
    },
    "S4y": {
      "type": "structure",
      "members": {
        "name": {
          "shape": "S2"
        },
        "arn": {
          "shape": "S6"
        },
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {
          "shape": "S7"
        },
        "dnsName": {
          "shape": "S6"
        },
        "state": {
          "type": "string",
          "enum": [
            "active",
            "provisioning",
            "active_impaired",
            "failed",
            "unknown"
          ]
        },
        "protocol": {
          "type": "string",
          "enum": [
            "HTTP_HTTPS",
            "HTTP"
          ]
        },
        "publicPorts": {
          "type": "list",
          "member": {
            "shape": "Sq"
          }
        },
        "healthCheckPath": {
          "shape": "S6"
        },
        "instancePort": {
          "type": "integer"
        },
        "instanceHealthSummary": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "instanceName": {
                "shape": "S2"
              },
              "instanceHealth": {
                "type": "string",
                "enum": [
                  "initial",
                  "healthy",
                  "unhealthy",
                  "unused",
                  "draining",
                  "unavailable"
                ]
              },
              "instanceHealthReason": {
                "type": "string",
                "enum": [
                  "Lb.RegistrationInProgress",
                  "Lb.InitialHealthChecking",
                  "Lb.InternalError",
                  "Instance.ResponseCodeMismatch",
                  "Instance.Timeout",
                  "Instance.FailedHealthChecks",
                  "Instance.NotRegistered",
                  "Instance.NotInUse",
                  "Instance.DeregistrationInProgress",
                  "Instance.InvalidState",
                  "Instance.IpUnusable"
                ]
              }
            }
          }
        },
        "tlsCertificateSummaries": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "name": {
                "shape": "S2"
              },
              "isAttached": {
                "type": "boolean"
              }
            }
          }
        },
        "configurationOptions": {
          "type": "map",
          "key": {
            "shape": "S59"
          },
          "value": {}
        }
      }
    },
    "S59": {
      "type": "string",
      "enum": [
        "HealthCheckPath",
        "SessionStickinessEnabled",
        "SessionStickiness_LB_CookieDurationSeconds"
      ]
    },
    "S5b": {
      "type": "string",
      "enum": [
        "ClientTLSNegotiationErrorCount",
        "HealthyHostCount",
        "UnhealthyHostCount",
        "HTTPCode_LB_4XX_Count",
        "HTTPCode_LB_5XX_Count",
        "HTTPCode_Instance_2XX_Count",
        "HTTPCode_Instance_3XX_Count",
        "HTTPCode_Instance_4XX_Count",
        "HTTPCode_Instance_5XX_Count",
        "InstanceResponseTime",
        "RejectedConnectionCount",
        "RequestCount"
      ]
    },
    "S5k": {
      "type": "string",
      "enum": [
        "PENDING_VALIDATION",
        "FAILED",
        "SUCCESS"
      ]
    },
    "S68": {
      "type": "structure",
      "members": {
        "name": {
          "shape": "S2"
        },
        "arn": {
          "shape": "S6"
        },
        "supportCode": {},
        "createdAt": {
          "type": "timestamp"
        },
        "location": {
          "shape": "S9"
        },
        "resourceType": {
          "shape": "S7"
        },
        "ipAddress": {
          "shape": "S3k"
        },
        "attachedTo": {
          "shape": "S2"
        },
        "isAttached": {
          "type": "boolean"
        }
      }
    }
  }
}