{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2014-03-28",
    "endpointPrefix": "logs",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon CloudWatch Logs",
    "serviceId": "CloudWatch Logs",
    "signatureVersion": "v4",
    "targetPrefix": "Logs_20140328",
    "uid": "logs-2014-03-28"
  },
  "operations": {
    "AssociateKmsKey": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "kmsKeyId"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "kmsKeyId": {
            "shape": "S3"
          }
        }
      }
    },
    "CancelExportTask": {
      "input": {
        "type": "structure",
        "required": [
          "taskId"
        ],
        "members": {
          "taskId": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateExportTask": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "from",
          "to",
          "destination"
        ],
        "members": {
          "taskName": {
            "shape": "S7"
          },
          "logGroupName": {
            "shape": "S2"
          },
          "logStreamNamePrefix": {
            "shape": "S8"
          },
          "from": {
            "shape": "S9"
          },
          "to": {
            "shape": "S9"
          },
          "destination": {
            "shape": "Sa"
          },
          "destinationPrefix": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "taskId": {
            "shape": "S5"
          }
        }
      }
    },
    "CreateLogGroup": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "kmsKeyId": {
            "shape": "S3"
          },
          "tags": {
            "shape": "Se"
          }
        }
      }
    },
    "CreateLogStream": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "logStreamName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "logStreamName": {
            "shape": "S8"
          }
        }
      }
    },
    "DeleteDestination": {
      "input": {
        "type": "structure",
        "required": [
          "destinationName"
        ],
        "members": {
          "destinationName": {
            "shape": "Sj"
          }
        }
      }
    },
    "DeleteLogGroup": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          }
        }
      }
    },
    "DeleteLogStream": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "logStreamName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "logStreamName": {
            "shape": "S8"
          }
        }
      }
    },
    "DeleteMetricFilter": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "filterName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "filterName": {
            "shape": "Sn"
          }
        }
      }
    },
    "DeleteResourcePolicy": {
      "input": {
        "type": "structure",
        "members": {
          "policyName": {}
        }
      }
    },
    "DeleteRetentionPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          }
        }
      }
    },
    "DeleteSubscriptionFilter": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "filterName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "filterName": {
            "shape": "Sn"
          }
        }
      }
    },
    "DescribeDestinations": {
      "input": {
        "type": "structure",
        "members": {
          "DestinationNamePrefix": {
            "shape": "Sj"
          },
          "nextToken": {
            "shape": "St"
          },
          "limit": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "destinations": {
            "type": "list",
            "member": {
              "shape": "Sx"
            }
          },
          "nextToken": {
            "shape": "St"
          }
        }
      }
    },
    "DescribeExportTasks": {
      "input": {
        "type": "structure",
        "members": {
          "taskId": {
            "shape": "S5"
          },
          "statusCode": {
            "shape": "S13"
          },
          "nextToken": {
            "shape": "St"
          },
          "limit": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "exportTasks": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "taskId": {
                  "shape": "S5"
                },
                "taskName": {
                  "shape": "S7"
                },
                "logGroupName": {
                  "shape": "S2"
                },
                "from": {
                  "shape": "S9"
                },
                "to": {
                  "shape": "S9"
                },
                "destination": {
                  "shape": "Sa"
                },
                "destinationPrefix": {},
                "status": {
                  "type": "structure",
                  "members": {
                    "code": {
                      "shape": "S13"
                    },
                    "message": {}
                  }
                },
                "executionInfo": {
                  "type": "structure",
                  "members": {
                    "creationTime": {
                      "shape": "S9"
                    },
                    "completionTime": {
                      "shape": "S9"
                    }
                  }
                }
              }
            }
          },
          "nextToken": {
            "shape": "St"
          }
        }
      }
    },
    "DescribeLogGroups": {
      "input": {
        "type": "structure",
        "members": {
          "logGroupNamePrefix": {
            "shape": "S2"
          },
          "nextToken": {
            "shape": "St"
          },
          "limit": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "logGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "logGroupName": {
                  "shape": "S2"
                },
                "creationTime": {
                  "shape": "S9"
                },
                "retentionInDays": {
                  "type": "integer"
                },
                "metricFilterCount": {
                  "type": "integer"
                },
                "arn": {},
                "storedBytes": {
                  "shape": "S1g"
                },
                "kmsKeyId": {
                  "shape": "S3"
                }
              }
            }
          },
          "nextToken": {
            "shape": "St"
          }
        }
      }
    },
    "DescribeLogStreams": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "logStreamNamePrefix": {
            "shape": "S8"
          },
          "orderBy": {
            "type": "string",
            "enum": [
              "LogStreamName",
              "LastEventTime"
            ]
          },
          "descending": {
            "type": "boolean"
          },
          "nextToken": {
            "shape": "St"
          },
          "limit": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "logStreams": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "logStreamName": {
                  "shape": "S8"
                },
                "creationTime": {
                  "shape": "S9"
                },
                "firstEventTimestamp": {
                  "shape": "S9"
                },
                "lastEventTimestamp": {
                  "shape": "S9"
                },
                "lastIngestionTime": {
                  "shape": "S9"
                },
                "uploadSequenceToken": {
                  "shape": "S1n"
                },
                "arn": {},
                "storedBytes": {
                  "shape": "S1g"
                }
              }
            }
          },
          "nextToken": {
            "shape": "St"
          }
        }
      }
    },
    "DescribeMetricFilters": {
      "input": {
        "type": "structure",
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "filterNamePrefix": {
            "shape": "Sn"
          },
          "nextToken": {
            "shape": "St"
          },
          "limit": {
            "shape": "Su"
          },
          "metricName": {
            "shape": "S1p"
          },
          "metricNamespace": {
            "shape": "S1q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "metricFilters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "filterName": {
                  "shape": "Sn"
                },
                "filterPattern": {
                  "shape": "S1u"
                },
                "metricTransformations": {
                  "shape": "S1v"
                },
                "creationTime": {
                  "shape": "S9"
                },
                "logGroupName": {
                  "shape": "S2"
                }
              }
            }
          },
          "nextToken": {
            "shape": "St"
          }
        }
      }
    },
    "DescribeResourcePolicies": {
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "shape": "St"
          },
          "limit": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourcePolicies": {
            "type": "list",
            "member": {
              "shape": "S22"
            }
          },
          "nextToken": {
            "shape": "St"
          }
        }
      }
    },
    "DescribeSubscriptionFilters": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "filterNamePrefix": {
            "shape": "Sn"
          },
          "nextToken": {
            "shape": "St"
          },
          "limit": {
            "shape": "Su"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "subscriptionFilters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "filterName": {
                  "shape": "Sn"
                },
                "logGroupName": {
                  "shape": "S2"
                },
                "filterPattern": {
                  "shape": "S1u"
                },
                "destinationArn": {
                  "shape": "S28"
                },
                "roleArn": {
                  "shape": "Sz"
                },
                "distribution": {
                  "shape": "S29"
                },
                "creationTime": {
                  "shape": "S9"
                }
              }
            }
          },
          "nextToken": {
            "shape": "St"
          }
        }
      }
    },
    "DisassociateKmsKey": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          }
        }
      }
    },
    "FilterLogEvents": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "logStreamNames": {
            "type": "list",
            "member": {
              "shape": "S8"
            },
            "max": 100,
            "min": 1
          },
          "logStreamNamePrefix": {
            "shape": "S8"
          },
          "startTime": {
            "shape": "S9"
          },
          "endTime": {
            "shape": "S9"
          },
          "filterPattern": {
            "shape": "S1u"
          },
          "nextToken": {
            "shape": "St"
          },
          "limit": {
            "shape": "S2d"
          },
          "interleaved": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "events": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "logStreamName": {
                  "shape": "S8"
                },
                "timestamp": {
                  "shape": "S9"
                },
                "message": {
                  "shape": "S2i"
                },
                "ingestionTime": {
                  "shape": "S9"
                },
                "eventId": {}
              }
            }
          },
          "searchedLogStreams": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "logStreamName": {
                  "shape": "S8"
                },
                "searchedCompletely": {
                  "type": "boolean"
                }
              }
            }
          },
          "nextToken": {
            "shape": "St"
          }
        }
      }
    },
    "GetLogEvents": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "logStreamName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "logStreamName": {
            "shape": "S8"
          },
          "startTime": {
            "shape": "S9"
          },
          "endTime": {
            "shape": "S9"
          },
          "nextToken": {
            "shape": "St"
          },
          "limit": {
            "shape": "S2d"
          },
          "startFromHead": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "events": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "timestamp": {
                  "shape": "S9"
                },
                "message": {
                  "shape": "S2i"
                },
                "ingestionTime": {
                  "shape": "S9"
                }
              }
            }
          },
          "nextForwardToken": {
            "shape": "St"
          },
          "nextBackwardToken": {
            "shape": "St"
          }
        }
      }
    },
    "ListTagsLogGroup": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "Se"
          }
        }
      }
    },
    "PutDestination": {
      "input": {
        "type": "structure",
        "required": [
          "destinationName",
          "targetArn",
          "roleArn"
        ],
        "members": {
          "destinationName": {
            "shape": "Sj"
          },
          "targetArn": {
            "shape": "Sy"
          },
          "roleArn": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "destination": {
            "shape": "Sx"
          }
        }
      }
    },
    "PutDestinationPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "destinationName",
          "accessPolicy"
        ],
        "members": {
          "destinationName": {
            "shape": "Sj"
          },
          "accessPolicy": {
            "shape": "S10"
          }
        }
      }
    },
    "PutLogEvents": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "logStreamName",
          "logEvents"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "logStreamName": {
            "shape": "S8"
          },
          "logEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "timestamp",
                "message"
              ],
              "members": {
                "timestamp": {
                  "shape": "S9"
                },
                "message": {
                  "shape": "S2i"
                }
              }
            },
            "max": 10000,
            "min": 1
          },
          "sequenceToken": {
            "shape": "S1n"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextSequenceToken": {
            "shape": "S1n"
          },
          "rejectedLogEventsInfo": {
            "type": "structure",
            "members": {
              "tooNewLogEventStartIndex": {
                "type": "integer"
              },
              "tooOldLogEventEndIndex": {
                "type": "integer"
              },
              "expiredLogEventEndIndex": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "PutMetricFilter": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "filterName",
          "filterPattern",
          "metricTransformations"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "filterName": {
            "shape": "Sn"
          },
          "filterPattern": {
            "shape": "S1u"
          },
          "metricTransformations": {
            "shape": "S1v"
          }
        }
      }
    },
    "PutResourcePolicy": {
      "input": {
        "type": "structure",
        "members": {
          "policyName": {},
          "policyDocument": {
            "shape": "S23"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourcePolicy": {
            "shape": "S22"
          }
        }
      }
    },
    "PutRetentionPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "retentionInDays"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "retentionInDays": {
            "type": "integer"
          }
        }
      }
    },
    "PutSubscriptionFilter": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "filterName",
          "filterPattern",
          "destinationArn"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "filterName": {
            "shape": "Sn"
          },
          "filterPattern": {
            "shape": "S1u"
          },
          "destinationArn": {
            "shape": "S28"
          },
          "roleArn": {
            "shape": "Sz"
          },
          "distribution": {
            "shape": "S29"
          }
        }
      }
    },
    "TagLogGroup": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "tags"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "tags": {
            "shape": "Se"
          }
        }
      }
    },
    "TestMetricFilter": {
      "input": {
        "type": "structure",
        "required": [
          "filterPattern",
          "logEventMessages"
        ],
        "members": {
          "filterPattern": {
            "shape": "S1u"
          },
          "logEventMessages": {
            "type": "list",
            "member": {
              "shape": "S2i"
            },
            "max": 50,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "matches": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "eventNumber": {
                  "type": "long"
                },
                "eventMessage": {
                  "shape": "S2i"
                },
                "extractedValues": {
                  "type": "map",
                  "key": {},
                  "value": {}
                }
              }
            }
          }
        }
      }
    },
    "UntagLogGroup": {
      "input": {
        "type": "structure",
        "required": [
          "logGroupName",
          "tags"
        ],
        "members": {
          "logGroupName": {
            "shape": "S2"
          },
          "tags": {
            "type": "list",
            "member": {
              "shape": "Sf"
            },
            "min": 1
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "[\\.\\-_/#A-Za-z0-9]+"
    },
    "S3": {
      "type": "string",
      "max": 256
    },
    "S5": {
      "type": "string",
      "max": 512,
      "min": 1
    },
    "S7": {
      "type": "string",
      "max": 512,
      "min": 1
    },
    "S8": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "[^:*]*"
    },
    "S9": {
      "type": "long",
      "min": 0
    },
    "Sa": {
      "type": "string",
      "max": 512,
      "min": 1
    },
    "Se": {
      "type": "map",
      "key": {
        "shape": "Sf"
      },
      "value": {
        "type": "string",
        "max": 256,
        "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      },
      "max": 50,
      "min": 1
    },
    "Sf": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]+)$"
    },
    "Sj": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "[^:*]*"
    },
    "Sn": {
      "type": "string",
      "max": 512,
      "min": 1,
      "pattern": "[^:*]*"
    },
    "St": {
      "type": "string",
      "min": 1
    },
    "Su": {
      "type": "integer",
      "max": 50,
      "min": 1
    },
    "Sx": {
      "type": "structure",
      "members": {
        "destinationName": {
          "shape": "Sj"
        },
        "targetArn": {
          "shape": "Sy"
        },
        "roleArn": {
          "shape": "Sz"
        },
        "accessPolicy": {
          "shape": "S10"
        },
        "arn": {},
        "creationTime": {
          "shape": "S9"
        }
      }
    },
    "Sy": {
      "type": "string",
      "min": 1
    },
    "Sz": {
      "type": "string",
      "min": 1
    },
    "S10": {
      "type": "string",
      "min": 1
    },
    "S13": {
      "type": "string",
      "enum": [
        "CANCELLED",
        "COMPLETED",
        "FAILED",
        "PENDING",
        "PENDING_CANCEL",
        "RUNNING"
      ]
    },
    "S1g": {
      "type": "long",
      "min": 0
    },
    "S1n": {
      "type": "string",
      "min": 1
    },
    "S1p": {
      "type": "string",
      "max": 255,
      "pattern": "[^:*$]*"
    },
    "S1q": {
      "type": "string",
      "max": 255,
      "pattern": "[^:*$]*"
    },
    "S1u": {
      "type": "string",
      "max": 1024,
      "min": 0
    },
    "S1v": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "metricName",
          "metricNamespace",
          "metricValue"
        ],
        "members": {
          "metricName": {
            "shape": "S1p"
          },
          "metricNamespace": {
            "shape": "S1q"
          },
          "metricValue": {
            "type": "string",
            "max": 100
          },
          "defaultValue": {
            "type": "double"
          }
        }
      },
      "max": 1,
      "min": 1
    },
    "S22": {
      "type": "structure",
      "members": {
        "policyName": {},
        "policyDocument": {
          "shape": "S23"
        },
        "lastUpdatedTime": {
          "shape": "S9"
        }
      }
    },
    "S23": {
      "type": "string",
      "max": 5120,
      "min": 1
    },
    "S28": {
      "type": "string",
      "min": 1
    },
    "S29": {
      "type": "string",
      "enum": [
        "Random",
        "ByLogStream"
      ]
    },
    "S2d": {
      "type": "integer",
      "max": 10000,
      "min": 1
    },
    "S2i": {
      "type": "string",
      "min": 1
    }
  }
}