{
  "version": "2.0",
  "metadata": {
    "uid": "machinelearning-2014-12-12",
    "apiVersion": "2014-12-12",
    "endpointPrefix": "machinelearning",
    "jsonVersion": "1.1",
    "serviceFullName": "Amazon Machine Learning",
    "serviceId": "Machine Learning",
    "signatureVersion": "v4",
    "targetPrefix": "AmazonML_20141212",
    "protocol": "json"
  },
  "operations": {
    "AddTags": {
      "input": {
        "type": "structure",
        "required": [
          "Tags",
          "ResourceId",
          "ResourceType"
        ],
        "members": {
          "Tags": {
            "shape": "S2"
          },
          "ResourceId": {
            "shape": "S6"
          },
          "ResourceType": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceId": {
            "shape": "S6"
          },
          "ResourceType": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateBatchPrediction": {
      "input": {
        "type": "structure",
        "required": [
          "BatchPredictionId",
          "MLModelId",
          "BatchPredictionDataSourceId",
          "OutputUri"
        ],
        "members": {
          "BatchPredictionId": {
            "shape": "S6"
          },
          "BatchPredictionName": {
            "shape": "Sa"
          },
          "MLModelId": {
            "shape": "S6"
          },
          "BatchPredictionDataSourceId": {
            "shape": "S6"
          },
          "OutputUri": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BatchPredictionId": {
            "shape": "S6"
          }
        }
      }
    },
    "CreateDataSourceFromRDS": {
      "input": {
        "type": "structure",
        "required": [
          "DataSourceId",
          "RDSData",
          "RoleARN"
        ],
        "members": {
          "DataSourceId": {
            "shape": "S6"
          },
          "DataSourceName": {
            "shape": "Sa"
          },
          "RDSData": {
            "type": "structure",
            "required": [
              "DatabaseInformation",
              "SelectSqlQuery",
              "DatabaseCredentials",
              "S3StagingLocation",
              "ResourceRole",
              "ServiceRole",
              "SubnetId",
              "SecurityGroupIds"
            ],
            "members": {
              "DatabaseInformation": {
                "shape": "Sf"
              },
              "SelectSqlQuery": {
                "shape": "Si"
              },
              "DatabaseCredentials": {
                "type": "structure",
                "required": [
                  "Username",
                  "Password"
                ],
                "members": {
                  "Username": {
                    "shape": "Sk"
                  },
                  "Password": {
                    "type": "string",
                    "min": 8,
                    "max": 128
                  }
                }
              },
              "S3StagingLocation": {
                "shape": "Sb"
              },
              "DataRearrangement": {},
              "DataSchema": {
                "shape": "Sn"
              },
              "DataSchemaUri": {
                "shape": "Sb"
              },
              "ResourceRole": {
                "shape": "So"
              },
              "ServiceRole": {
                "shape": "Sp"
              },
              "SubnetId": {
                "type": "string",
                "min": 1,
                "max": 255
              },
              "SecurityGroupIds": {
                "type": "list",
                "member": {
                  "type": "string",
                  "min": 1,
                  "max": 255
                }
              }
            }
          },
          "RoleARN": {
            "shape": "St"
          },
          "ComputeStatistics": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSourceId": {
            "shape": "S6"
          }
        }
      }
    },
    "CreateDataSourceFromRedshift": {
      "input": {
        "type": "structure",
        "required": [
          "DataSourceId",
          "DataSpec",
          "RoleARN"
        ],
        "members": {
          "DataSourceId": {
            "shape": "S6"
          },
          "DataSourceName": {
            "shape": "Sa"
          },
          "DataSpec": {
            "type": "structure",
            "required": [
              "DatabaseInformation",
              "SelectSqlQuery",
              "DatabaseCredentials",
              "S3StagingLocation"
            ],
            "members": {
              "DatabaseInformation": {
                "shape": "Sy"
              },
              "SelectSqlQuery": {
                "shape": "S11"
              },
              "DatabaseCredentials": {
                "type": "structure",
                "required": [
                  "Username",
                  "Password"
                ],
                "members": {
                  "Username": {
                    "shape": "S13"
                  },
                  "Password": {
                    "type": "string",
                    "min": 8,
                    "max": 64
                  }
                }
              },
              "S3StagingLocation": {
                "shape": "Sb"
              },
              "DataRearrangement": {},
              "DataSchema": {
                "shape": "Sn"
              },
              "DataSchemaUri": {
                "shape": "Sb"
              }
            }
          },
          "RoleARN": {
            "shape": "St"
          },
          "ComputeStatistics": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSourceId": {
            "shape": "S6"
          }
        }
      }
    },
    "CreateDataSourceFromS3": {
      "input": {
        "type": "structure",
        "required": [
          "DataSourceId",
          "DataSpec"
        ],
        "members": {
          "DataSourceId": {
            "shape": "S6"
          },
          "DataSourceName": {
            "shape": "Sa"
          },
          "DataSpec": {
            "type": "structure",
            "required": [
              "DataLocationS3"
            ],
            "members": {
              "DataLocationS3": {
                "shape": "Sb"
              },
              "DataRearrangement": {},
              "DataSchema": {
                "shape": "Sn"
              },
              "DataSchemaLocationS3": {
                "shape": "Sb"
              }
            }
          },
          "ComputeStatistics": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSourceId": {
            "shape": "S6"
          }
        }
      }
    },
    "CreateEvaluation": {
      "input": {
        "type": "structure",
        "required": [
          "EvaluationId",
          "MLModelId",
          "EvaluationDataSourceId"
        ],
        "members": {
          "EvaluationId": {
            "shape": "S6"
          },
          "EvaluationName": {
            "shape": "Sa"
          },
          "MLModelId": {
            "shape": "S6"
          },
          "EvaluationDataSourceId": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EvaluationId": {
            "shape": "S6"
          }
        }
      }
    },
    "CreateMLModel": {
      "input": {
        "type": "structure",
        "required": [
          "MLModelId",
          "MLModelType",
          "TrainingDataSourceId"
        ],
        "members": {
          "MLModelId": {
            "shape": "S6"
          },
          "MLModelName": {
            "shape": "Sa"
          },
          "MLModelType": {
            "shape": "S1c"
          },
          "Parameters": {
            "shape": "S1d"
          },
          "TrainingDataSourceId": {
            "shape": "S6"
          },
          "Recipe": {
            "shape": "S1f"
          },
          "RecipeUri": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MLModelId": {
            "shape": "S6"
          }
        }
      }
    },
    "CreateRealtimeEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "MLModelId"
        ],
        "members": {
          "MLModelId": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MLModelId": {
            "shape": "S6"
          },
          "RealtimeEndpointInfo": {
            "shape": "S1j"
          }
        }
      }
    },
    "DeleteBatchPrediction": {
      "input": {
        "type": "structure",
        "required": [
          "BatchPredictionId"
        ],
        "members": {
          "BatchPredictionId": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BatchPredictionId": {
            "shape": "S6"
          }
        }
      }
    },
    "DeleteDataSource": {
      "input": {
        "type": "structure",
        "required": [
          "DataSourceId"
        ],
        "members": {
          "DataSourceId": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSourceId": {
            "shape": "S6"
          }
        }
      }
    },
    "DeleteEvaluation": {
      "input": {
        "type": "structure",
        "required": [
          "EvaluationId"
        ],
        "members": {
          "EvaluationId": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EvaluationId": {
            "shape": "S6"
          }
        }
      }
    },
    "DeleteMLModel": {
      "input": {
        "type": "structure",
        "required": [
          "MLModelId"
        ],
        "members": {
          "MLModelId": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MLModelId": {
            "shape": "S6"
          }
        }
      }
    },
    "DeleteRealtimeEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "MLModelId"
        ],
        "members": {
          "MLModelId": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MLModelId": {
            "shape": "S6"
          },
          "RealtimeEndpointInfo": {
            "shape": "S1j"
          }
        }
      }
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "TagKeys",
          "ResourceId",
          "ResourceType"
        ],
        "members": {
          "TagKeys": {
            "type": "list",
            "member": {
              "shape": "S4"
            },
            "max": 100
          },
          "ResourceId": {
            "shape": "S6"
          },
          "ResourceType": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceId": {
            "shape": "S6"
          },
          "ResourceType": {
            "shape": "S7"
          }
        }
      }
    },
    "DescribeBatchPredictions": {
      "input": {
        "type": "structure",
        "members": {
          "FilterVariable": {
            "type": "string",
            "enum": [
              "CreatedAt",
              "LastUpdatedAt",
              "Status",
              "Name",
              "IAMUser",
              "MLModelId",
              "DataSourceId",
              "DataURI"
            ]
          },
          "EQ": {
            "shape": "S23"
          },
          "GT": {
            "shape": "S23"
          },
          "LT": {
            "shape": "S23"
          },
          "GE": {
            "shape": "S23"
          },
          "LE": {
            "shape": "S23"
          },
          "NE": {
            "shape": "S23"
          },
          "Prefix": {
            "shape": "S23"
          },
          "SortOrder": {
            "shape": "S24"
          },
          "NextToken": {},
          "Limit": {
            "shape": "S25"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Results": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "BatchPredictionId": {
                  "shape": "S6"
                },
                "MLModelId": {
                  "shape": "S6"
                },
                "BatchPredictionDataSourceId": {
                  "shape": "S6"
                },
                "InputDataLocationS3": {
                  "shape": "Sb"
                },
                "CreatedByIamUser": {
                  "shape": "S29"
                },
                "CreatedAt": {
                  "type": "timestamp"
                },
                "LastUpdatedAt": {
                  "type": "timestamp"
                },
                "Name": {
                  "shape": "Sa"
                },
                "Status": {
                  "shape": "S2a"
                },
                "OutputUri": {
                  "shape": "Sb"
                },
                "Message": {
                  "shape": "S2b"
                },
                "ComputeTime": {
                  "type": "long"
                },
                "FinishedAt": {
                  "type": "timestamp"
                },
                "StartedAt": {
                  "type": "timestamp"
                },
                "TotalRecordCount": {
                  "type": "long"
                },
                "InvalidRecordCount": {
                  "type": "long"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeDataSources": {
      "input": {
        "type": "structure",
        "members": {
          "FilterVariable": {
            "type": "string",
            "enum": [
              "CreatedAt",
              "LastUpdatedAt",
              "Status",
              "Name",
              "DataLocationS3",
              "IAMUser"
            ]
          },
          "EQ": {
            "shape": "S23"
          },
          "GT": {
            "shape": "S23"
          },
          "LT": {
            "shape": "S23"
          },
          "GE": {
            "shape": "S23"
          },
          "LE": {
            "shape": "S23"
          },
          "NE": {
            "shape": "S23"
          },
          "Prefix": {
            "shape": "S23"
          },
          "SortOrder": {
            "shape": "S24"
          },
          "NextToken": {},
          "Limit": {
            "shape": "S25"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Results": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DataSourceId": {
                  "shape": "S6"
                },
                "DataLocationS3": {
                  "shape": "Sb"
                },
                "DataRearrangement": {},
                "CreatedByIamUser": {
                  "shape": "S29"
                },
                "CreatedAt": {
                  "type": "timestamp"
                },
                "LastUpdatedAt": {
                  "type": "timestamp"
                },
                "DataSizeInBytes": {
                  "type": "long"
                },
                "NumberOfFiles": {
                  "type": "long"
                },
                "Name": {
                  "shape": "Sa"
                },
                "Status": {
                  "shape": "S2a"
                },
                "Message": {
                  "shape": "S2b"
                },
                "RedshiftMetadata": {
                  "shape": "S2i"
                },
                "RDSMetadata": {
                  "shape": "S2j"
                },
                "RoleARN": {
                  "shape": "St"
                },
                "ComputeStatistics": {
                  "type": "boolean"
                },
                "ComputeTime": {
                  "type": "long"
                },
                "FinishedAt": {
                  "type": "timestamp"
                },
                "StartedAt": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeEvaluations": {
      "input": {
        "type": "structure",
        "members": {
          "FilterVariable": {
            "type": "string",
            "enum": [
              "CreatedAt",
              "LastUpdatedAt",
              "Status",
              "Name",
              "IAMUser",
              "MLModelId",
              "DataSourceId",
              "DataURI"
            ]
          },
          "EQ": {
            "shape": "S23"
          },
          "GT": {
            "shape": "S23"
          },
          "LT": {
            "shape": "S23"
          },
          "GE": {
            "shape": "S23"
          },
          "LE": {
            "shape": "S23"
          },
          "NE": {
            "shape": "S23"
          },
          "Prefix": {
            "shape": "S23"
          },
          "SortOrder": {
            "shape": "S24"
          },
          "NextToken": {},
          "Limit": {
            "shape": "S25"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Results": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EvaluationId": {
                  "shape": "S6"
                },
                "MLModelId": {
                  "shape": "S6"
                },
                "EvaluationDataSourceId": {
                  "shape": "S6"
                },
                "InputDataLocationS3": {
                  "shape": "Sb"
                },
                "CreatedByIamUser": {
                  "shape": "S29"
                },
                "CreatedAt": {
                  "type": "timestamp"
                },
                "LastUpdatedAt": {
                  "type": "timestamp"
                },
                "Name": {
                  "shape": "Sa"
                },
                "Status": {
                  "shape": "S2a"
                },
                "PerformanceMetrics": {
                  "shape": "S2q"
                },
                "Message": {
                  "shape": "S2b"
                },
                "ComputeTime": {
                  "type": "long"
                },
                "FinishedAt": {
                  "type": "timestamp"
                },
                "StartedAt": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeMLModels": {
      "input": {
        "type": "structure",
        "members": {
          "FilterVariable": {
            "type": "string",
            "enum": [
              "CreatedAt",
              "LastUpdatedAt",
              "Status",
              "Name",
              "IAMUser",
              "TrainingDataSourceId",
              "RealtimeEndpointStatus",
              "MLModelType",
              "Algorithm",
              "TrainingDataURI"
            ]
          },
          "EQ": {
            "shape": "S23"
          },
          "GT": {
            "shape": "S23"
          },
          "LT": {
            "shape": "S23"
          },
          "GE": {
            "shape": "S23"
          },
          "LE": {
            "shape": "S23"
          },
          "NE": {
            "shape": "S23"
          },
          "Prefix": {
            "shape": "S23"
          },
          "SortOrder": {
            "shape": "S24"
          },
          "NextToken": {},
          "Limit": {
            "shape": "S25"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Results": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "MLModelId": {
                  "shape": "S6"
                },
                "TrainingDataSourceId": {
                  "shape": "S6"
                },
                "CreatedByIamUser": {
                  "shape": "S29"
                },
                "CreatedAt": {
                  "type": "timestamp"
                },
                "LastUpdatedAt": {
                  "type": "timestamp"
                },
                "Name": {
                  "shape": "S2z"
                },
                "Status": {
                  "shape": "S2a"
                },
                "SizeInBytes": {
                  "type": "long"
                },
                "EndpointInfo": {
                  "shape": "S1j"
                },
                "TrainingParameters": {
                  "shape": "S1d"
                },
                "InputDataLocationS3": {
                  "shape": "Sb"
                },
                "Algorithm": {
                  "type": "string",
                  "enum": [
                    "sgd"
                  ]
                },
                "MLModelType": {
                  "shape": "S1c"
                },
                "ScoreThreshold": {
                  "type": "float"
                },
                "ScoreThresholdLastUpdatedAt": {
                  "type": "timestamp"
                },
                "Message": {
                  "shape": "S2b"
                },
                "ComputeTime": {
                  "type": "long"
                },
                "FinishedAt": {
                  "type": "timestamp"
                },
                "StartedAt": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceId",
          "ResourceType"
        ],
        "members": {
          "ResourceId": {
            "shape": "S6"
          },
          "ResourceType": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceId": {
            "shape": "S6"
          },
          "ResourceType": {
            "shape": "S7"
          },
          "Tags": {
            "shape": "S2"
          }
        }
      }
    },
    "GetBatchPrediction": {
      "input": {
        "type": "structure",
        "required": [
          "BatchPredictionId"
        ],
        "members": {
          "BatchPredictionId": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BatchPredictionId": {
            "shape": "S6"
          },
          "MLModelId": {
            "shape": "S6"
          },
          "BatchPredictionDataSourceId": {
            "shape": "S6"
          },
          "InputDataLocationS3": {
            "shape": "Sb"
          },
          "CreatedByIamUser": {
            "shape": "S29"
          },
          "CreatedAt": {
            "type": "timestamp"
          },
          "LastUpdatedAt": {
            "type": "timestamp"
          },
          "Name": {
            "shape": "Sa"
          },
          "Status": {
            "shape": "S2a"
          },
          "OutputUri": {
            "shape": "Sb"
          },
          "LogUri": {},
          "Message": {
            "shape": "S2b"
          },
          "ComputeTime": {
            "type": "long"
          },
          "FinishedAt": {
            "type": "timestamp"
          },
          "StartedAt": {
            "type": "timestamp"
          },
          "TotalRecordCount": {
            "type": "long"
          },
          "InvalidRecordCount": {
            "type": "long"
          }
        }
      }
    },
    "GetDataSource": {
      "input": {
        "type": "structure",
        "required": [
          "DataSourceId"
        ],
        "members": {
          "DataSourceId": {
            "shape": "S6"
          },
          "Verbose": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSourceId": {
            "shape": "S6"
          },
          "DataLocationS3": {
            "shape": "Sb"
          },
          "DataRearrangement": {},
          "CreatedByIamUser": {
            "shape": "S29"
          },
          "CreatedAt": {
            "type": "timestamp"
          },
          "LastUpdatedAt": {
            "type": "timestamp"
          },
          "DataSizeInBytes": {
            "type": "long"
          },
          "NumberOfFiles": {
            "type": "long"
          },
          "Name": {
            "shape": "Sa"
          },
          "Status": {
            "shape": "S2a"
          },
          "LogUri": {},
          "Message": {
            "shape": "S2b"
          },
          "RedshiftMetadata": {
            "shape": "S2i"
          },
          "RDSMetadata": {
            "shape": "S2j"
          },
          "RoleARN": {
            "shape": "St"
          },
          "ComputeStatistics": {
            "type": "boolean"
          },
          "ComputeTime": {
            "type": "long"
          },
          "FinishedAt": {
            "type": "timestamp"
          },
          "StartedAt": {
            "type": "timestamp"
          },
          "DataSourceSchema": {
            "shape": "Sn"
          }
        }
      }
    },
    "GetEvaluation": {
      "input": {
        "type": "structure",
        "required": [
          "EvaluationId"
        ],
        "members": {
          "EvaluationId": {
            "shape": "S6"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EvaluationId": {
            "shape": "S6"
          },
          "MLModelId": {
            "shape": "S6"
          },
          "EvaluationDataSourceId": {
            "shape": "S6"
          },
          "InputDataLocationS3": {
            "shape": "Sb"
          },
          "CreatedByIamUser": {
            "shape": "S29"
          },
          "CreatedAt": {
            "type": "timestamp"
          },
          "LastUpdatedAt": {
            "type": "timestamp"
          },
          "Name": {
            "shape": "Sa"
          },
          "Status": {
            "shape": "S2a"
          },
          "PerformanceMetrics": {
            "shape": "S2q"
          },
          "LogUri": {},
          "Message": {
            "shape": "S2b"
          },
          "ComputeTime": {
            "type": "long"
          },
          "FinishedAt": {
            "type": "timestamp"
          },
          "StartedAt": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetMLModel": {
      "input": {
        "type": "structure",
        "required": [
          "MLModelId"
        ],
        "members": {
          "MLModelId": {
            "shape": "S6"
          },
          "Verbose": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MLModelId": {
            "shape": "S6"
          },
          "TrainingDataSourceId": {
            "shape": "S6"
          },
          "CreatedByIamUser": {
            "shape": "S29"
          },
          "CreatedAt": {
            "type": "timestamp"
          },
          "LastUpdatedAt": {
            "type": "timestamp"
          },
          "Name": {
            "shape": "S2z"
          },
          "Status": {
            "shape": "S2a"
          },
          "SizeInBytes": {
            "type": "long"
          },
          "EndpointInfo": {
            "shape": "S1j"
          },
          "TrainingParameters": {
            "shape": "S1d"
          },
          "InputDataLocationS3": {
            "shape": "Sb"
          },
          "MLModelType": {
            "shape": "S1c"
          },
          "ScoreThreshold": {
            "type": "float"
          },
          "ScoreThresholdLastUpdatedAt": {
            "type": "timestamp"
          },
          "LogUri": {},
          "Message": {
            "shape": "S2b"
          },
          "ComputeTime": {
            "type": "long"
          },
          "FinishedAt": {
            "type": "timestamp"
          },
          "StartedAt": {
            "type": "timestamp"
          },
          "Recipe": {
            "shape": "S1f"
          },
          "Schema": {
            "shape": "Sn"
          }
        }
      }
    },
    "Predict": {
      "input": {
        "type": "structure",
        "required": [
          "MLModelId",
          "Record",
          "PredictEndpoint"
        ],
        "members": {
          "MLModelId": {
            "shape": "S6"
          },
          "Record": {
            "type": "map",
            "key": {},
            "value": {}
          },
          "PredictEndpoint": {
            "shape": "S1m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Prediction": {
            "type": "structure",
            "members": {
              "predictedLabel": {
                "shape": "S3k"
              },
              "predictedValue": {
                "type": "float"
              },
              "predictedScores": {
                "type": "map",
                "key": {
                  "shape": "S3k"
                },
                "value": {
                  "type": "float"
                }
              },
              "details": {
                "type": "map",
                "key": {
                  "type": "string",
                  "enum": [
                    "PredictiveModelType",
                    "Algorithm"
                  ]
                },
                "value": {
                  "type": "string",
                  "min": 1
                }
              }
            }
          }
        }
      }
    },
    "UpdateBatchPrediction": {
      "input": {
        "type": "structure",
        "required": [
          "BatchPredictionId",
          "BatchPredictionName"
        ],
        "members": {
          "BatchPredictionId": {
            "shape": "S6"
          },
          "BatchPredictionName": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BatchPredictionId": {
            "shape": "S6"
          }
        }
      }
    },
    "UpdateDataSource": {
      "input": {
        "type": "structure",
        "required": [
          "DataSourceId",
          "DataSourceName"
        ],
        "members": {
          "DataSourceId": {
            "shape": "S6"
          },
          "DataSourceName": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSourceId": {
            "shape": "S6"
          }
        }
      }
    },
    "UpdateEvaluation": {
      "input": {
        "type": "structure",
        "required": [
          "EvaluationId",
          "EvaluationName"
        ],
        "members": {
          "EvaluationId": {
            "shape": "S6"
          },
          "EvaluationName": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EvaluationId": {
            "shape": "S6"
          }
        }
      }
    },
    "UpdateMLModel": {
      "input": {
        "type": "structure",
        "required": [
          "MLModelId"
        ],
        "members": {
          "MLModelId": {
            "shape": "S6"
          },
          "MLModelName": {
            "shape": "Sa"
          },
          "ScoreThreshold": {
            "type": "float"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MLModelId": {
            "shape": "S6"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {
            "shape": "S4"
          },
          "Value": {
            "type": "string",
            "min": 0,
            "max": 256,
            "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
          }
        }
      },
      "max": 100
    },
    "S4": {
      "type": "string",
      "min": 1,
      "max": 128,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "S6": {
      "type": "string",
      "min": 1,
      "max": 64,
      "pattern": "[a-zA-Z0-9_.-]+"
    },
    "S7": {
      "type": "string",
      "enum": [
        "BatchPrediction",
        "DataSource",
        "Evaluation",
        "MLModel"
      ]
    },
    "Sa": {
      "type": "string",
      "max": 1024,
      "pattern": ".*\\S.*|^$"
    },
    "Sb": {
      "type": "string",
      "max": 2048,
      "pattern": "s3://([^/]+)(/.*)?"
    },
    "Sf": {
      "type": "structure",
      "required": [
        "InstanceIdentifier",
        "DatabaseName"
      ],
      "members": {
        "InstanceIdentifier": {
          "type": "string",
          "min": 1,
          "max": 63,
          "pattern": "[a-z0-9-]+"
        },
        "DatabaseName": {
          "type": "string",
          "min": 1,
          "max": 64
        }
      }
    },
    "Si": {
      "type": "string",
      "min": 1,
      "max": 16777216
    },
    "Sk": {
      "type": "string",
      "min": 1,
      "max": 128
    },
    "Sn": {
      "type": "string",
      "max": 131071
    },
    "So": {
      "type": "string",
      "min": 1,
      "max": 64
    },
    "Sp": {
      "type": "string",
      "min": 1,
      "max": 64
    },
    "St": {
      "type": "string",
      "min": 1,
      "max": 110
    },
    "Sy": {
      "type": "structure",
      "required": [
        "DatabaseName",
        "ClusterIdentifier"
      ],
      "members": {
        "DatabaseName": {
          "type": "string",
          "min": 1,
          "max": 64,
          "pattern": "[a-z0-9]+"
        },
        "ClusterIdentifier": {
          "type": "string",
          "min": 1,
          "max": 63,
          "pattern": "[a-z0-9-]+"
        }
      }
    },
    "S11": {
      "type": "string",
      "min": 1,
      "max": 16777216
    },
    "S13": {
      "type": "string",
      "min": 1,
      "max": 128
    },
    "S1c": {
      "type": "string",
      "enum": [
        "REGRESSION",
        "BINARY",
        "MULTICLASS"
      ]
    },
    "S1d": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1f": {
      "type": "string",
      "max": 131071
    },
    "S1j": {
      "type": "structure",
      "members": {
        "PeakRequestsPerSecond": {
          "type": "integer"
        },
        "CreatedAt": {
          "type": "timestamp"
        },
        "EndpointUrl": {
          "shape": "S1m"
        },
        "EndpointStatus": {
          "type": "string",
          "enum": [
            "NONE",
            "READY",
            "UPDATING",
            "FAILED"
          ]
        }
      }
    },
    "S1m": {
      "type": "string",
      "max": 2048,
      "pattern": "https://[a-zA-Z0-9-.]*\\.amazon(aws)?\\.com[/]?"
    },
    "S23": {
      "type": "string",
      "max": 1024,
      "pattern": ".*\\S.*|^$"
    },
    "S24": {
      "type": "string",
      "enum": [
        "asc",
        "dsc"
      ]
    },
    "S25": {
      "type": "integer",
      "min": 1,
      "max": 100
    },
    "S29": {
      "type": "string",
      "pattern": "arn:aws:iam::[0-9]+:((user/.+)|(root))"
    },
    "S2a": {
      "type": "string",
      "enum": [
        "PENDING",
        "INPROGRESS",
        "FAILED",
        "COMPLETED",
        "DELETED"
      ]
    },
    "S2b": {
      "type": "string",
      "max": 10240
    },
    "S2i": {
      "type": "structure",
      "members": {
        "RedshiftDatabase": {
          "shape": "Sy"
        },
        "DatabaseUserName": {
          "shape": "S13"
        },
        "SelectSqlQuery": {
          "shape": "S11"
        }
      }
    },
    "S2j": {
      "type": "structure",
      "members": {
        "Database": {
          "shape": "Sf"
        },
        "DatabaseUserName": {
          "shape": "Sk"
        },
        "SelectSqlQuery": {
          "shape": "Si"
        },
        "ResourceRole": {
          "shape": "So"
        },
        "ServiceRole": {
          "shape": "Sp"
        },
        "DataPipelineId": {
          "type": "string",
          "min": 1,
          "max": 1024
        }
      }
    },
    "S2q": {
      "type": "structure",
      "members": {
        "Properties": {
          "type": "map",
          "key": {},
          "value": {}
        }
      }
    },
    "S2z": {
      "type": "string",
      "max": 1024
    },
    "S3k": {
      "type": "string",
      "min": 1
    }
  },
  "examples": {}
}