{
  "metadata": {
    "apiVersion": "2020-01-01",
    "endpointPrefix": "macie2",
    "signingName": "macie2",
    "serviceFullName": "Amazon Macie 2",
    "serviceId": "Macie2",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "macie2-2020-01-01T00:00:00Z",
    "signatureVersion": "v4"
  },
  "operations": {
    "AcceptInvitation": {
      "http": {
        "requestUri": "/invitations/accept",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "invitationId": {
            "locationName": "invitationId"
          },
          "masterAccount": {
            "locationName": "masterAccount"
          }
        },
        "required": [
          "masterAccount",
          "invitationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ArchiveFindings": {
      "http": {
        "requestUri": "/findings/archive",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "findingIds": {
            "shape": "S5",
            "locationName": "findingIds"
          }
        },
        "required": [
          "findingIds"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "BatchGetCustomDataIdentifiers": {
      "http": {
        "requestUri": "/custom-data-identifiers/get",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ids": {
            "shape": "S5",
            "locationName": "ids"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "customDataIdentifiers": {
            "locationName": "customDataIdentifiers",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {
                  "locationName": "arn"
                },
                "createdAt": {
                  "shape": "Sb",
                  "locationName": "createdAt"
                },
                "deleted": {
                  "locationName": "deleted",
                  "type": "boolean"
                },
                "description": {
                  "locationName": "description"
                },
                "id": {
                  "locationName": "id"
                },
                "name": {
                  "locationName": "name"
                }
              }
            }
          },
          "notFoundIdentifierIds": {
            "shape": "S5",
            "locationName": "notFoundIdentifierIds"
          }
        }
      }
    },
    "CreateClassificationJob": {
      "http": {
        "requestUri": "/jobs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "clientToken": {
            "locationName": "clientToken",
            "idempotencyToken": true
          },
          "customDataIdentifierIds": {
            "shape": "S5",
            "locationName": "customDataIdentifierIds"
          },
          "description": {
            "locationName": "description"
          },
          "initialRun": {
            "locationName": "initialRun",
            "type": "boolean"
          },
          "jobType": {
            "locationName": "jobType"
          },
          "name": {
            "locationName": "name"
          },
          "s3JobDefinition": {
            "shape": "Sf",
            "locationName": "s3JobDefinition"
          },
          "samplingPercentage": {
            "locationName": "samplingPercentage",
            "type": "integer"
          },
          "scheduleFrequency": {
            "shape": "Su",
            "locationName": "scheduleFrequency"
          },
          "tags": {
            "shape": "Sz",
            "locationName": "tags"
          }
        },
        "required": [
          "s3JobDefinition",
          "jobType",
          "clientToken",
          "name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "jobArn": {
            "locationName": "jobArn"
          },
          "jobId": {
            "locationName": "jobId"
          }
        }
      }
    },
    "CreateCustomDataIdentifier": {
      "http": {
        "requestUri": "/custom-data-identifiers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "clientToken": {
            "locationName": "clientToken",
            "idempotencyToken": true
          },
          "description": {
            "locationName": "description"
          },
          "ignoreWords": {
            "shape": "S5",
            "locationName": "ignoreWords"
          },
          "keywords": {
            "shape": "S5",
            "locationName": "keywords"
          },
          "maximumMatchDistance": {
            "locationName": "maximumMatchDistance",
            "type": "integer"
          },
          "name": {
            "locationName": "name"
          },
          "regex": {
            "locationName": "regex"
          },
          "tags": {
            "shape": "Sz",
            "locationName": "tags"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "customDataIdentifierId": {
            "locationName": "customDataIdentifierId"
          }
        }
      }
    },
    "CreateFindingsFilter": {
      "http": {
        "requestUri": "/findingsfilters",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "action": {
            "locationName": "action"
          },
          "clientToken": {
            "locationName": "clientToken",
            "idempotencyToken": true
          },
          "description": {
            "locationName": "description"
          },
          "findingCriteria": {
            "shape": "S15",
            "locationName": "findingCriteria"
          },
          "name": {
            "locationName": "name"
          },
          "position": {
            "locationName": "position",
            "type": "integer"
          },
          "tags": {
            "shape": "Sz",
            "locationName": "tags"
          }
        },
        "required": [
          "action",
          "findingCriteria",
          "name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {
            "locationName": "arn"
          },
          "id": {
            "locationName": "id"
          }
        }
      }
    },
    "CreateInvitations": {
      "http": {
        "requestUri": "/invitations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "accountIds": {
            "shape": "S5",
            "locationName": "accountIds"
          },
          "disableEmailNotification": {
            "locationName": "disableEmailNotification",
            "type": "boolean"
          },
          "message": {
            "locationName": "message"
          }
        },
        "required": [
          "accountIds"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "unprocessedAccounts": {
            "shape": "S1c",
            "locationName": "unprocessedAccounts"
          }
        }
      }
    },
    "CreateMember": {
      "http": {
        "requestUri": "/members",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "account": {
            "locationName": "account",
            "type": "structure",
            "members": {
              "accountId": {
                "locationName": "accountId"
              },
              "email": {
                "locationName": "email"
              }
            },
            "required": [
              "email",
              "accountId"
            ]
          },
          "tags": {
            "shape": "Sz",
            "locationName": "tags"
          }
        },
        "required": [
          "account"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {
            "locationName": "arn"
          }
        }
      }
    },
    "CreateSampleFindings": {
      "http": {
        "requestUri": "/findings/sample",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "findingTypes": {
            "locationName": "findingTypes",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeclineInvitations": {
      "http": {
        "requestUri": "/invitations/decline",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "accountIds": {
            "shape": "S5",
            "locationName": "accountIds"
          }
        },
        "required": [
          "accountIds"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "unprocessedAccounts": {
            "shape": "S1c",
            "locationName": "unprocessedAccounts"
          }
        }
      }
    },
    "DeleteCustomDataIdentifier": {
      "http": {
        "method": "DELETE",
        "requestUri": "/custom-data-identifiers/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteFindingsFilter": {
      "http": {
        "method": "DELETE",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteInvitations": {
      "http": {
        "requestUri": "/invitations/delete",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "accountIds": {
            "shape": "S5",
            "locationName": "accountIds"
          }
        },
        "required": [
          "accountIds"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "unprocessedAccounts": {
            "shape": "S1c",
            "locationName": "unprocessedAccounts"
          }
        }
      }
    },
    "DeleteMember": {
      "http": {
        "method": "DELETE",
        "requestUri": "/members/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeBuckets": {
      "http": {
        "requestUri": "/datasources/s3",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "criteria": {
            "locationName": "criteria",
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "members": {
                "eq": {
                  "shape": "S5",
                  "locationName": "eq"
                },
                "gt": {
                  "locationName": "gt",
                  "type": "long"
                },
                "gte": {
                  "locationName": "gte",
                  "type": "long"
                },
                "lt": {
                  "locationName": "lt",
                  "type": "long"
                },
                "lte": {
                  "locationName": "lte",
                  "type": "long"
                },
                "neq": {
                  "shape": "S5",
                  "locationName": "neq"
                },
                "prefix": {
                  "locationName": "prefix"
                }
              }
            }
          },
          "maxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "locationName": "nextToken"
          },
          "sortCriteria": {
            "locationName": "sortCriteria",
            "type": "structure",
            "members": {
              "attributeName": {
                "locationName": "attributeName"
              },
              "orderBy": {
                "locationName": "orderBy"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "buckets": {
            "locationName": "buckets",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "accountId": {
                  "locationName": "accountId"
                },
                "bucketArn": {
                  "locationName": "bucketArn"
                },
                "bucketCreatedAt": {
                  "shape": "Sb",
                  "locationName": "bucketCreatedAt"
                },
                "bucketName": {
                  "locationName": "bucketName"
                },
                "classifiableObjectCount": {
                  "locationName": "classifiableObjectCount",
                  "type": "long"
                },
                "lastUpdated": {
                  "shape": "Sb",
                  "locationName": "lastUpdated"
                },
                "objectCount": {
                  "locationName": "objectCount",
                  "type": "long"
                },
                "objectCountByEncryptionType": {
                  "locationName": "objectCountByEncryptionType",
                  "type": "structure",
                  "members": {
                    "customerManaged": {
                      "locationName": "customerManaged",
                      "type": "long"
                    },
                    "kmsManaged": {
                      "locationName": "kmsManaged",
                      "type": "long"
                    },
                    "s3Managed": {
                      "locationName": "s3Managed",
                      "type": "long"
                    },
                    "unencrypted": {
                      "locationName": "unencrypted",
                      "type": "long"
                    }
                  }
                },
                "publicAccess": {
                  "shape": "S25",
                  "locationName": "publicAccess"
                },
                "region": {
                  "locationName": "region"
                },
                "replicationDetails": {
                  "locationName": "replicationDetails",
                  "type": "structure",
                  "members": {
                    "replicated": {
                      "locationName": "replicated",
                      "type": "boolean"
                    },
                    "replicatedExternally": {
                      "locationName": "replicatedExternally",
                      "type": "boolean"
                    },
                    "replicationAccounts": {
                      "shape": "S5",
                      "locationName": "replicationAccounts"
                    }
                  }
                },
                "sharedAccess": {
                  "locationName": "sharedAccess"
                },
                "sizeInBytes": {
                  "locationName": "sizeInBytes",
                  "type": "long"
                },
                "sizeInBytesCompressed": {
                  "locationName": "sizeInBytesCompressed",
                  "type": "long"
                },
                "tags": {
                  "locationName": "tags",
                  "type": "list",
                  "member": {
                    "shape": "S2g"
                  }
                },
                "versioning": {
                  "locationName": "versioning",
                  "type": "boolean"
                }
              }
            }
          },
          "nextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "DescribeClassificationJob": {
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{jobId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          }
        },
        "required": [
          "jobId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "clientToken": {
            "locationName": "clientToken",
            "idempotencyToken": true
          },
          "createdAt": {
            "shape": "Sb",
            "locationName": "createdAt"
          },
          "customDataIdentifierIds": {
            "shape": "S5",
            "locationName": "customDataIdentifierIds"
          },
          "description": {
            "locationName": "description"
          },
          "initialRun": {
            "locationName": "initialRun",
            "type": "boolean"
          },
          "jobArn": {
            "locationName": "jobArn"
          },
          "jobId": {
            "locationName": "jobId"
          },
          "jobStatus": {
            "locationName": "jobStatus"
          },
          "jobType": {
            "locationName": "jobType"
          },
          "lastRunTime": {
            "shape": "Sb",
            "locationName": "lastRunTime"
          },
          "name": {
            "locationName": "name"
          },
          "s3JobDefinition": {
            "shape": "Sf",
            "locationName": "s3JobDefinition"
          },
          "samplingPercentage": {
            "locationName": "samplingPercentage",
            "type": "integer"
          },
          "scheduleFrequency": {
            "shape": "Su",
            "locationName": "scheduleFrequency"
          },
          "statistics": {
            "locationName": "statistics",
            "type": "structure",
            "members": {
              "approximateNumberOfObjectsToProcess": {
                "locationName": "approximateNumberOfObjectsToProcess",
                "type": "double"
              },
              "numberOfRuns": {
                "locationName": "numberOfRuns",
                "type": "double"
              }
            }
          },
          "tags": {
            "shape": "Sz",
            "locationName": "tags"
          }
        }
      }
    },
    "DescribeOrganizationConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/admin/configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "autoEnable": {
            "locationName": "autoEnable",
            "type": "boolean"
          },
          "maxAccountLimitReached": {
            "locationName": "maxAccountLimitReached",
            "type": "boolean"
          }
        }
      }
    },
    "DisableMacie": {
      "http": {
        "method": "DELETE",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableOrganizationAdminAccount": {
      "http": {
        "method": "DELETE",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "adminAccountId": {
            "location": "querystring",
            "locationName": "adminAccountId"
          }
        },
        "required": [
          "adminAccountId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateFromMasterAccount": {
      "http": {
        "requestUri": "/master/disassociate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateMember": {
      "http": {
        "requestUri": "/members/disassociate/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableMacie": {
      "http": {
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "clientToken": {
            "locationName": "clientToken",
            "idempotencyToken": true
          },
          "findingPublishingFrequency": {
            "locationName": "findingPublishingFrequency"
          },
          "status": {
            "locationName": "status"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableOrganizationAdminAccount": {
      "http": {
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "adminAccountId": {
            "locationName": "adminAccountId"
          },
          "clientToken": {
            "locationName": "clientToken",
            "idempotencyToken": true
          }
        },
        "required": [
          "adminAccountId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetBucketStatistics": {
      "http": {
        "requestUri": "/datasources/s3/statistics",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "accountId": {
            "locationName": "accountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "bucketCount": {
            "locationName": "bucketCount",
            "type": "long"
          },
          "bucketCountByEffectivePermission": {
            "locationName": "bucketCountByEffectivePermission",
            "type": "structure",
            "members": {
              "publiclyAccessible": {
                "locationName": "publiclyAccessible",
                "type": "long"
              },
              "publiclyReadable": {
                "locationName": "publiclyReadable",
                "type": "long"
              },
              "publiclyWritable": {
                "locationName": "publiclyWritable",
                "type": "long"
              }
            }
          },
          "bucketCountByEncryptionType": {
            "locationName": "bucketCountByEncryptionType",
            "type": "structure",
            "members": {
              "kmsManaged": {
                "locationName": "kmsManaged",
                "type": "long"
              },
              "s3Managed": {
                "locationName": "s3Managed",
                "type": "long"
              },
              "unencrypted": {
                "locationName": "unencrypted",
                "type": "long"
              }
            }
          },
          "bucketCountBySharedAccessType": {
            "locationName": "bucketCountBySharedAccessType",
            "type": "structure",
            "members": {
              "external": {
                "locationName": "external",
                "type": "long"
              },
              "internal": {
                "locationName": "internal",
                "type": "long"
              },
              "notShared": {
                "locationName": "notShared",
                "type": "long"
              }
            }
          },
          "classifiableObjectCount": {
            "locationName": "classifiableObjectCount",
            "type": "long"
          },
          "lastUpdated": {
            "shape": "Sb",
            "locationName": "lastUpdated"
          },
          "objectCount": {
            "locationName": "objectCount",
            "type": "long"
          },
          "sizeInBytes": {
            "locationName": "sizeInBytes",
            "type": "long"
          },
          "sizeInBytesCompressed": {
            "locationName": "sizeInBytesCompressed",
            "type": "long"
          }
        }
      }
    },
    "GetClassificationExportConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/classification-export-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "configuration": {
            "shape": "S39",
            "locationName": "configuration"
          }
        }
      }
    },
    "GetCustomDataIdentifier": {
      "http": {
        "method": "GET",
        "requestUri": "/custom-data-identifiers/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {
            "locationName": "arn"
          },
          "createdAt": {
            "shape": "Sb",
            "locationName": "createdAt"
          },
          "deleted": {
            "locationName": "deleted",
            "type": "boolean"
          },
          "description": {
            "locationName": "description"
          },
          "id": {
            "locationName": "id"
          },
          "ignoreWords": {
            "shape": "S5",
            "locationName": "ignoreWords"
          },
          "keywords": {
            "shape": "S5",
            "locationName": "keywords"
          },
          "maximumMatchDistance": {
            "locationName": "maximumMatchDistance",
            "type": "integer"
          },
          "name": {
            "locationName": "name"
          },
          "regex": {
            "locationName": "regex"
          },
          "tags": {
            "shape": "Sz",
            "locationName": "tags"
          }
        }
      }
    },
    "GetFindingStatistics": {
      "http": {
        "requestUri": "/findings/statistics",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "findingCriteria": {
            "shape": "S15",
            "locationName": "findingCriteria"
          },
          "groupBy": {
            "locationName": "groupBy"
          },
          "size": {
            "locationName": "size",
            "type": "integer"
          },
          "sortCriteria": {
            "locationName": "sortCriteria",
            "type": "structure",
            "members": {
              "attributeName": {
                "locationName": "attributeName"
              },
              "orderBy": {
                "locationName": "orderBy"
              }
            }
          }
        },
        "required": [
          "groupBy"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "countsByGroup": {
            "locationName": "countsByGroup",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "count": {
                  "locationName": "count",
                  "type": "long"
                },
                "groupKey": {
                  "locationName": "groupKey"
                }
              }
            }
          }
        }
      }
    },
    "GetFindings": {
      "http": {
        "requestUri": "/findings/describe",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "findingIds": {
            "shape": "S5",
            "locationName": "findingIds"
          },
          "sortCriteria": {
            "shape": "S3l",
            "locationName": "sortCriteria"
          }
        },
        "required": [
          "findingIds"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "findings": {
            "locationName": "findings",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "accountId": {
                  "locationName": "accountId"
                },
                "archived": {
                  "locationName": "archived",
                  "type": "boolean"
                },
                "category": {
                  "locationName": "category"
                },
                "classificationDetails": {
                  "locationName": "classificationDetails",
                  "type": "structure",
                  "members": {
                    "detailedResultsLocation": {
                      "locationName": "detailedResultsLocation"
                    },
                    "jobArn": {
                      "locationName": "jobArn"
                    },
                    "jobId": {
                      "locationName": "jobId"
                    },
                    "result": {
                      "locationName": "result",
                      "type": "structure",
                      "members": {
                        "customDataIdentifiers": {
                          "locationName": "customDataIdentifiers",
                          "type": "structure",
                          "members": {
                            "detections": {
                              "locationName": "detections",
                              "type": "list",
                              "member": {
                                "type": "structure",
                                "members": {
                                  "arn": {
                                    "locationName": "arn"
                                  },
                                  "count": {
                                    "locationName": "count",
                                    "type": "long"
                                  },
                                  "name": {
                                    "locationName": "name"
                                  }
                                }
                              }
                            },
                            "totalCount": {
                              "locationName": "totalCount",
                              "type": "long"
                            }
                          }
                        },
                        "mimeType": {
                          "locationName": "mimeType"
                        },
                        "sensitiveData": {
                          "locationName": "sensitiveData",
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "category": {
                                "locationName": "category"
                              },
                              "detections": {
                                "locationName": "detections",
                                "type": "list",
                                "member": {
                                  "type": "structure",
                                  "members": {
                                    "count": {
                                      "locationName": "count",
                                      "type": "long"
                                    },
                                    "type": {
                                      "locationName": "type"
                                    }
                                  }
                                }
                              },
                              "totalCount": {
                                "locationName": "totalCount",
                                "type": "long"
                              }
                            }
                          }
                        },
                        "sizeClassified": {
                          "locationName": "sizeClassified",
                          "type": "long"
                        },
                        "status": {
                          "locationName": "status",
                          "type": "structure",
                          "members": {
                            "code": {
                              "locationName": "code"
                            },
                            "reason": {
                              "locationName": "reason"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "count": {
                  "locationName": "count",
                  "type": "long"
                },
                "createdAt": {
                  "shape": "Sb",
                  "locationName": "createdAt"
                },
                "description": {
                  "locationName": "description"
                },
                "id": {
                  "locationName": "id"
                },
                "partition": {
                  "locationName": "partition"
                },
                "policyDetails": {
                  "locationName": "policyDetails",
                  "type": "structure",
                  "members": {
                    "action": {
                      "locationName": "action",
                      "type": "structure",
                      "members": {
                        "actionType": {
                          "locationName": "actionType"
                        },
                        "apiCallDetails": {
                          "locationName": "apiCallDetails",
                          "type": "structure",
                          "members": {
                            "api": {
                              "locationName": "api"
                            },
                            "apiServiceName": {
                              "locationName": "apiServiceName"
                            },
                            "firstSeen": {
                              "shape": "Sb",
                              "locationName": "firstSeen"
                            },
                            "lastSeen": {
                              "shape": "Sb",
                              "locationName": "lastSeen"
                            }
                          }
                        }
                      }
                    },
                    "actor": {
                      "locationName": "actor",
                      "type": "structure",
                      "members": {
                        "domainDetails": {
                          "locationName": "domainDetails",
                          "type": "structure",
                          "members": {
                            "domainName": {
                              "locationName": "domainName"
                            }
                          }
                        },
                        "ipAddressDetails": {
                          "locationName": "ipAddressDetails",
                          "type": "structure",
                          "members": {
                            "ipAddressV4": {
                              "locationName": "ipAddressV4"
                            },
                            "ipCity": {
                              "locationName": "ipCity",
                              "type": "structure",
                              "members": {
                                "name": {
                                  "locationName": "name"
                                }
                              }
                            },
                            "ipCountry": {
                              "locationName": "ipCountry",
                              "type": "structure",
                              "members": {
                                "code": {
                                  "locationName": "code"
                                },
                                "name": {
                                  "locationName": "name"
                                }
                              }
                            },
                            "ipGeoLocation": {
                              "locationName": "ipGeoLocation",
                              "type": "structure",
                              "members": {
                                "lat": {
                                  "locationName": "lat",
                                  "type": "double"
                                },
                                "lon": {
                                  "locationName": "lon",
                                  "type": "double"
                                }
                              }
                            },
                            "ipOwner": {
                              "locationName": "ipOwner",
                              "type": "structure",
                              "members": {
                                "asn": {
                                  "locationName": "asn"
                                },
                                "asnOrg": {
                                  "locationName": "asnOrg"
                                },
                                "isp": {
                                  "locationName": "isp"
                                },
                                "org": {
                                  "locationName": "org"
                                }
                              }
                            }
                          }
                        },
                        "userIdentity": {
                          "locationName": "userIdentity",
                          "type": "structure",
                          "members": {
                            "assumedRole": {
                              "locationName": "assumedRole",
                              "type": "structure",
                              "members": {
                                "accessKeyId": {
                                  "locationName": "accessKeyId"
                                },
                                "accountId": {
                                  "locationName": "accountId"
                                },
                                "arn": {
                                  "locationName": "arn"
                                },
                                "principalId": {
                                  "locationName": "principalId"
                                },
                                "sessionContext": {
                                  "shape": "S4e",
                                  "locationName": "sessionContext"
                                }
                              }
                            },
                            "awsAccount": {
                              "locationName": "awsAccount",
                              "type": "structure",
                              "members": {
                                "accountId": {
                                  "locationName": "accountId"
                                },
                                "principalId": {
                                  "locationName": "principalId"
                                }
                              }
                            },
                            "awsService": {
                              "locationName": "awsService",
                              "type": "structure",
                              "members": {
                                "invokedBy": {
                                  "locationName": "invokedBy"
                                }
                              }
                            },
                            "federatedUser": {
                              "locationName": "federatedUser",
                              "type": "structure",
                              "members": {
                                "accessKeyId": {
                                  "locationName": "accessKeyId"
                                },
                                "accountId": {
                                  "locationName": "accountId"
                                },
                                "arn": {
                                  "locationName": "arn"
                                },
                                "principalId": {
                                  "locationName": "principalId"
                                },
                                "sessionContext": {
                                  "shape": "S4e",
                                  "locationName": "sessionContext"
                                }
                              }
                            },
                            "iamUser": {
                              "locationName": "iamUser",
                              "type": "structure",
                              "members": {
                                "accountId": {
                                  "locationName": "accountId"
                                },
                                "arn": {
                                  "locationName": "arn"
                                },
                                "principalId": {
                                  "locationName": "principalId"
                                },
                                "userName": {
                                  "locationName": "userName"
                                }
                              }
                            },
                            "root": {
                              "locationName": "root",
                              "type": "structure",
                              "members": {
                                "accountId": {
                                  "locationName": "accountId"
                                },
                                "arn": {
                                  "locationName": "arn"
                                },
                                "principalId": {
                                  "locationName": "principalId"
                                }
                              }
                            },
                            "type": {
                              "locationName": "type"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "region": {
                  "locationName": "region"
                },
                "resourcesAffected": {
                  "locationName": "resourcesAffected",
                  "type": "structure",
                  "members": {
                    "s3Bucket": {
                      "locationName": "s3Bucket",
                      "type": "structure",
                      "members": {
                        "arn": {
                          "locationName": "arn"
                        },
                        "createdAt": {
                          "shape": "Sb",
                          "locationName": "createdAt"
                        },
                        "defaultServerSideEncryption": {
                          "shape": "S4p",
                          "locationName": "defaultServerSideEncryption"
                        },
                        "name": {
                          "locationName": "name"
                        },
                        "owner": {
                          "locationName": "owner",
                          "type": "structure",
                          "members": {
                            "displayName": {
                              "locationName": "displayName"
                            },
                            "id": {
                              "locationName": "id"
                            }
                          }
                        },
                        "publicAccess": {
                          "shape": "S25",
                          "locationName": "publicAccess"
                        },
                        "tags": {
                          "shape": "S4s",
                          "locationName": "tags"
                        }
                      }
                    },
                    "s3Object": {
                      "locationName": "s3Object",
                      "type": "structure",
                      "members": {
                        "bucketArn": {
                          "locationName": "bucketArn"
                        },
                        "eTag": {
                          "locationName": "eTag"
                        },
                        "extension": {
                          "locationName": "extension"
                        },
                        "key": {
                          "locationName": "key"
                        },
                        "lastModified": {
                          "shape": "Sb",
                          "locationName": "lastModified"
                        },
                        "path": {
                          "locationName": "path"
                        },
                        "publicAccess": {
                          "locationName": "publicAccess",
                          "type": "boolean"
                        },
                        "serverSideEncryption": {
                          "shape": "S4p",
                          "locationName": "serverSideEncryption"
                        },
                        "size": {
                          "locationName": "size",
                          "type": "long"
                        },
                        "storageClass": {
                          "locationName": "storageClass"
                        },
                        "tags": {
                          "shape": "S4s",
                          "locationName": "tags"
                        },
                        "versionId": {
                          "locationName": "versionId"
                        }
                      }
                    }
                  }
                },
                "sample": {
                  "locationName": "sample",
                  "type": "boolean"
                },
                "schemaVersion": {
                  "locationName": "schemaVersion"
                },
                "severity": {
                  "locationName": "severity",
                  "type": "structure",
                  "members": {
                    "description": {
                      "locationName": "description"
                    },
                    "score": {
                      "locationName": "score",
                      "type": "long"
                    }
                  }
                },
                "title": {
                  "locationName": "title"
                },
                "type": {
                  "locationName": "type"
                },
                "updatedAt": {
                  "shape": "Sb",
                  "locationName": "updatedAt"
                }
              }
            }
          }
        }
      }
    },
    "GetFindingsFilter": {
      "http": {
        "method": "GET",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "action": {
            "locationName": "action"
          },
          "arn": {
            "locationName": "arn"
          },
          "description": {
            "locationName": "description"
          },
          "findingCriteria": {
            "shape": "S15",
            "locationName": "findingCriteria"
          },
          "id": {
            "locationName": "id"
          },
          "name": {
            "locationName": "name"
          },
          "position": {
            "locationName": "position",
            "type": "integer"
          },
          "tags": {
            "shape": "Sz",
            "locationName": "tags"
          }
        }
      }
    },
    "GetInvitationsCount": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "invitationsCount": {
            "locationName": "invitationsCount",
            "type": "long"
          }
        }
      }
    },
    "GetMacieSession": {
      "http": {
        "method": "GET",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "createdAt": {
            "shape": "Sb",
            "locationName": "createdAt"
          },
          "findingPublishingFrequency": {
            "locationName": "findingPublishingFrequency"
          },
          "serviceRole": {
            "locationName": "serviceRole"
          },
          "status": {
            "locationName": "status"
          },
          "updatedAt": {
            "shape": "Sb",
            "locationName": "updatedAt"
          }
        }
      }
    },
    "GetMasterAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/master",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "master": {
            "shape": "S55",
            "locationName": "master"
          }
        }
      }
    },
    "GetMember": {
      "http": {
        "method": "GET",
        "requestUri": "/members/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "accountId": {
            "locationName": "accountId"
          },
          "arn": {
            "locationName": "arn"
          },
          "email": {
            "locationName": "email"
          },
          "invitedAt": {
            "shape": "Sb",
            "locationName": "invitedAt"
          },
          "masterAccountId": {
            "locationName": "masterAccountId"
          },
          "relationshipStatus": {
            "locationName": "relationshipStatus"
          },
          "tags": {
            "shape": "Sz",
            "locationName": "tags"
          },
          "updatedAt": {
            "shape": "Sb",
            "locationName": "updatedAt"
          }
        }
      }
    },
    "GetUsageStatistics": {
      "http": {
        "requestUri": "/usage/statistics",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "filterBy": {
            "locationName": "filterBy",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "key": {
                  "locationName": "key"
                },
                "values": {
                  "shape": "S5",
                  "locationName": "values"
                }
              }
            }
          },
          "maxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "locationName": "nextToken"
          },
          "sortBy": {
            "locationName": "sortBy",
            "type": "structure",
            "members": {
              "key": {
                "locationName": "key"
              },
              "orderBy": {
                "locationName": "orderBy"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {
            "locationName": "nextToken"
          },
          "records": {
            "locationName": "records",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "accountId": {
                  "locationName": "accountId"
                },
                "freeTrialStartDate": {
                  "shape": "Sb",
                  "locationName": "freeTrialStartDate"
                },
                "usage": {
                  "locationName": "usage",
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "currency": {
                        "locationName": "currency"
                      },
                      "estimatedCost": {
                        "locationName": "estimatedCost"
                      },
                      "serviceLimit": {
                        "locationName": "serviceLimit",
                        "type": "structure",
                        "members": {
                          "isServiceLimited": {
                            "locationName": "isServiceLimited",
                            "type": "boolean"
                          },
                          "unit": {
                            "locationName": "unit"
                          },
                          "value": {
                            "locationName": "value",
                            "type": "long"
                          }
                        }
                      },
                      "type": {
                        "locationName": "type"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetUsageTotals": {
      "http": {
        "method": "GET",
        "requestUri": "/usage",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "usageTotals": {
            "locationName": "usageTotals",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "currency": {
                  "locationName": "currency"
                },
                "estimatedCost": {
                  "locationName": "estimatedCost"
                },
                "type": {
                  "locationName": "type"
                }
              }
            }
          }
        }
      }
    },
    "ListClassificationJobs": {
      "http": {
        "requestUri": "/jobs/list",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "filterCriteria": {
            "locationName": "filterCriteria",
            "type": "structure",
            "members": {
              "excludes": {
                "shape": "S5u",
                "locationName": "excludes"
              },
              "includes": {
                "shape": "S5u",
                "locationName": "includes"
              }
            }
          },
          "maxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "locationName": "nextToken"
          },
          "sortCriteria": {
            "locationName": "sortCriteria",
            "type": "structure",
            "members": {
              "attributeName": {
                "locationName": "attributeName"
              },
              "orderBy": {
                "locationName": "orderBy"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "locationName": "items",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "bucketDefinitions": {
                  "shape": "Sg",
                  "locationName": "bucketDefinitions"
                },
                "createdAt": {
                  "shape": "Sb",
                  "locationName": "createdAt"
                },
                "jobId": {
                  "locationName": "jobId"
                },
                "jobStatus": {
                  "locationName": "jobStatus"
                },
                "jobType": {
                  "locationName": "jobType"
                },
                "name": {
                  "locationName": "name"
                }
              }
            }
          },
          "nextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListCustomDataIdentifiers": {
      "http": {
        "requestUri": "/custom-data-identifiers/list",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "locationName": "items",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {
                  "locationName": "arn"
                },
                "createdAt": {
                  "shape": "Sb",
                  "locationName": "createdAt"
                },
                "description": {
                  "locationName": "description"
                },
                "id": {
                  "locationName": "id"
                },
                "name": {
                  "locationName": "name"
                }
              }
            }
          },
          "nextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListFindings": {
      "http": {
        "requestUri": "/findings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "findingCriteria": {
            "shape": "S15",
            "locationName": "findingCriteria"
          },
          "maxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "locationName": "nextToken"
          },
          "sortCriteria": {
            "shape": "S3l",
            "locationName": "sortCriteria"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "findingIds": {
            "shape": "S5",
            "locationName": "findingIds"
          },
          "nextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListFindingsFilters": {
      "http": {
        "method": "GET",
        "requestUri": "/findingsfilters",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "findingsFilterListItems": {
            "locationName": "findingsFilterListItems",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {
                  "locationName": "arn"
                },
                "id": {
                  "locationName": "id"
                },
                "name": {
                  "locationName": "name"
                },
                "tags": {
                  "shape": "Sz",
                  "locationName": "tags"
                }
              }
            }
          },
          "nextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListInvitations": {
      "http": {
        "method": "GET",
        "requestUri": "/invitations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "invitations": {
            "locationName": "invitations",
            "type": "list",
            "member": {
              "shape": "S55"
            }
          },
          "nextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/members",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "onlyAssociated": {
            "location": "querystring",
            "locationName": "onlyAssociated"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "members": {
            "locationName": "members",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "accountId": {
                  "locationName": "accountId"
                },
                "arn": {
                  "locationName": "arn"
                },
                "email": {
                  "locationName": "email"
                },
                "invitedAt": {
                  "shape": "Sb",
                  "locationName": "invitedAt"
                },
                "masterAccountId": {
                  "locationName": "masterAccountId"
                },
                "relationshipStatus": {
                  "locationName": "relationshipStatus"
                },
                "tags": {
                  "shape": "Sz",
                  "locationName": "tags"
                },
                "updatedAt": {
                  "shape": "Sb",
                  "locationName": "updatedAt"
                }
              }
            }
          },
          "nextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListOrganizationAdminAccounts": {
      "http": {
        "method": "GET",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "adminAccounts": {
            "locationName": "adminAccounts",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "accountId": {
                  "locationName": "accountId"
                },
                "status": {
                  "locationName": "status"
                }
              }
            }
          },
          "nextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        },
        "required": [
          "resourceArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "Sz",
            "locationName": "tags"
          }
        }
      }
    },
    "PutClassificationExportConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/classification-export-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "configuration": {
            "shape": "S39",
            "locationName": "configuration"
          }
        },
        "required": [
          "configuration"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "configuration": {
            "shape": "S39",
            "locationName": "configuration"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "Sz",
            "locationName": "tags"
          }
        },
        "required": [
          "resourceArn",
          "tags"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TestCustomDataIdentifier": {
      "http": {
        "requestUri": "/custom-data-identifiers/test",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ignoreWords": {
            "shape": "S5",
            "locationName": "ignoreWords"
          },
          "keywords": {
            "shape": "S5",
            "locationName": "keywords"
          },
          "maximumMatchDistance": {
            "locationName": "maximumMatchDistance",
            "type": "integer"
          },
          "regex": {
            "locationName": "regex"
          },
          "sampleText": {
            "locationName": "sampleText"
          }
        },
        "required": [
          "regex",
          "sampleText"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "matchCount": {
            "locationName": "matchCount",
            "type": "integer"
          }
        }
      }
    },
    "UnarchiveFindings": {
      "http": {
        "requestUri": "/findings/unarchive",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "findingIds": {
            "shape": "S5",
            "locationName": "findingIds"
          }
        },
        "required": [
          "findingIds"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "shape": "S5",
            "location": "querystring",
            "locationName": "tagKeys"
          }
        },
        "required": [
          "tagKeys",
          "resourceArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateClassificationJob": {
      "http": {
        "method": "PATCH",
        "requestUri": "/jobs/{jobId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "jobId": {
            "location": "uri",
            "locationName": "jobId"
          },
          "jobStatus": {
            "locationName": "jobStatus"
          }
        },
        "required": [
          "jobId",
          "jobStatus"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateFindingsFilter": {
      "http": {
        "method": "PATCH",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "action": {
            "locationName": "action"
          },
          "description": {
            "locationName": "description"
          },
          "findingCriteria": {
            "shape": "S15",
            "locationName": "findingCriteria"
          },
          "id": {
            "location": "uri",
            "locationName": "id"
          },
          "name": {
            "locationName": "name"
          },
          "position": {
            "locationName": "position",
            "type": "integer"
          }
        },
        "required": [
          "id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {
            "locationName": "arn"
          },
          "id": {
            "locationName": "id"
          }
        }
      }
    },
    "UpdateMacieSession": {
      "http": {
        "method": "PATCH",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "findingPublishingFrequency": {
            "locationName": "findingPublishingFrequency"
          },
          "status": {
            "locationName": "status"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateMemberSession": {
      "http": {
        "method": "PATCH",
        "requestUri": "/macie/members/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "id": {
            "location": "uri",
            "locationName": "id"
          },
          "status": {
            "locationName": "status"
          }
        },
        "required": [
          "id",
          "status"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateOrganizationConfiguration": {
      "http": {
        "method": "PATCH",
        "requestUri": "/admin/configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "autoEnable": {
            "locationName": "autoEnable",
            "type": "boolean"
          }
        },
        "required": [
          "autoEnable"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "list",
      "member": {}
    },
    "Sb": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "Sf": {
      "type": "structure",
      "members": {
        "bucketDefinitions": {
          "shape": "Sg",
          "locationName": "bucketDefinitions"
        },
        "scoping": {
          "locationName": "scoping",
          "type": "structure",
          "members": {
            "excludes": {
              "shape": "Sj",
              "locationName": "excludes"
            },
            "includes": {
              "shape": "Sj",
              "locationName": "includes"
            }
          }
        }
      }
    },
    "Sg": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "accountId": {
            "locationName": "accountId"
          },
          "buckets": {
            "shape": "S5",
            "locationName": "buckets"
          }
        }
      }
    },
    "Sj": {
      "type": "structure",
      "members": {
        "and": {
          "locationName": "and",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "simpleScopeTerm": {
                "locationName": "simpleScopeTerm",
                "type": "structure",
                "members": {
                  "comparator": {
                    "locationName": "comparator"
                  },
                  "key": {
                    "locationName": "key"
                  },
                  "values": {
                    "shape": "S5",
                    "locationName": "values"
                  }
                }
              },
              "tagScopeTerm": {
                "locationName": "tagScopeTerm",
                "type": "structure",
                "members": {
                  "comparator": {
                    "locationName": "comparator"
                  },
                  "key": {
                    "locationName": "key"
                  },
                  "tagValues": {
                    "locationName": "tagValues",
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "key": {
                          "locationName": "key"
                        },
                        "value": {
                          "locationName": "value"
                        }
                      }
                    }
                  },
                  "target": {
                    "locationName": "target"
                  }
                }
              }
            }
          }
        }
      }
    },
    "Su": {
      "type": "structure",
      "members": {
        "dailySchedule": {
          "locationName": "dailySchedule",
          "type": "structure",
          "members": {}
        },
        "monthlySchedule": {
          "locationName": "monthlySchedule",
          "type": "structure",
          "members": {
            "dayOfMonth": {
              "locationName": "dayOfMonth",
              "type": "integer"
            }
          }
        },
        "weeklySchedule": {
          "locationName": "weeklySchedule",
          "type": "structure",
          "members": {
            "dayOfWeek": {
              "locationName": "dayOfWeek"
            }
          }
        }
      }
    },
    "Sz": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S15": {
      "type": "structure",
      "members": {
        "criterion": {
          "locationName": "criterion",
          "type": "map",
          "key": {},
          "value": {
            "type": "structure",
            "members": {
              "eq": {
                "shape": "S5",
                "locationName": "eq"
              },
              "gt": {
                "locationName": "gt",
                "type": "long"
              },
              "gte": {
                "locationName": "gte",
                "type": "long"
              },
              "lt": {
                "locationName": "lt",
                "type": "long"
              },
              "lte": {
                "locationName": "lte",
                "type": "long"
              },
              "neq": {
                "shape": "S5",
                "locationName": "neq"
              }
            }
          }
        }
      }
    },
    "S1c": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "accountId": {
            "locationName": "accountId"
          },
          "errorCode": {
            "locationName": "errorCode"
          },
          "errorMessage": {
            "locationName": "errorMessage"
          }
        }
      }
    },
    "S25": {
      "type": "structure",
      "members": {
        "effectivePermission": {
          "locationName": "effectivePermission"
        },
        "permissionConfiguration": {
          "locationName": "permissionConfiguration",
          "type": "structure",
          "members": {
            "accountLevelPermissions": {
              "locationName": "accountLevelPermissions",
              "type": "structure",
              "members": {
                "blockPublicAccess": {
                  "shape": "S29",
                  "locationName": "blockPublicAccess"
                }
              }
            },
            "bucketLevelPermissions": {
              "locationName": "bucketLevelPermissions",
              "type": "structure",
              "members": {
                "accessControlList": {
                  "locationName": "accessControlList",
                  "type": "structure",
                  "members": {
                    "allowsPublicReadAccess": {
                      "locationName": "allowsPublicReadAccess",
                      "type": "boolean"
                    },
                    "allowsPublicWriteAccess": {
                      "locationName": "allowsPublicWriteAccess",
                      "type": "boolean"
                    }
                  }
                },
                "blockPublicAccess": {
                  "shape": "S29",
                  "locationName": "blockPublicAccess"
                },
                "bucketPolicy": {
                  "locationName": "bucketPolicy",
                  "type": "structure",
                  "members": {
                    "allowsPublicReadAccess": {
                      "locationName": "allowsPublicReadAccess",
                      "type": "boolean"
                    },
                    "allowsPublicWriteAccess": {
                      "locationName": "allowsPublicWriteAccess",
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "S29": {
      "type": "structure",
      "members": {
        "blockPublicAcls": {
          "locationName": "blockPublicAcls",
          "type": "boolean"
        },
        "blockPublicPolicy": {
          "locationName": "blockPublicPolicy",
          "type": "boolean"
        },
        "ignorePublicAcls": {
          "locationName": "ignorePublicAcls",
          "type": "boolean"
        },
        "restrictPublicBuckets": {
          "locationName": "restrictPublicBuckets",
          "type": "boolean"
        }
      }
    },
    "S2g": {
      "type": "structure",
      "members": {
        "key": {
          "locationName": "key"
        },
        "value": {
          "locationName": "value"
        }
      }
    },
    "S39": {
      "type": "structure",
      "members": {
        "s3Destination": {
          "locationName": "s3Destination",
          "type": "structure",
          "members": {
            "bucketName": {
              "locationName": "bucketName"
            },
            "keyPrefix": {
              "locationName": "keyPrefix"
            },
            "kmsKeyArn": {
              "locationName": "kmsKeyArn"
            }
          },
          "required": [
            "bucketName",
            "kmsKeyArn"
          ]
        }
      }
    },
    "S3l": {
      "type": "structure",
      "members": {
        "attributeName": {
          "locationName": "attributeName"
        },
        "orderBy": {
          "locationName": "orderBy"
        }
      }
    },
    "S4e": {
      "type": "structure",
      "members": {
        "attributes": {
          "locationName": "attributes",
          "type": "structure",
          "members": {
            "creationDate": {
              "shape": "Sb",
              "locationName": "creationDate"
            },
            "mfaAuthenticated": {
              "locationName": "mfaAuthenticated",
              "type": "boolean"
            }
          }
        },
        "sessionIssuer": {
          "locationName": "sessionIssuer",
          "type": "structure",
          "members": {
            "accountId": {
              "locationName": "accountId"
            },
            "arn": {
              "locationName": "arn"
            },
            "principalId": {
              "locationName": "principalId"
            },
            "type": {
              "locationName": "type"
            },
            "userName": {
              "locationName": "userName"
            }
          }
        }
      }
    },
    "S4p": {
      "type": "structure",
      "members": {
        "encryptionType": {
          "locationName": "encryptionType"
        },
        "kmsMasterKeyId": {
          "locationName": "kmsMasterKeyId"
        }
      }
    },
    "S4s": {
      "type": "list",
      "member": {
        "shape": "S2g"
      }
    },
    "S55": {
      "type": "structure",
      "members": {
        "accountId": {
          "locationName": "accountId"
        },
        "invitationId": {
          "locationName": "invitationId"
        },
        "invitedAt": {
          "shape": "Sb",
          "locationName": "invitedAt"
        },
        "relationshipStatus": {
          "locationName": "relationshipStatus"
        }
      }
    },
    "S5u": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "comparator": {
            "locationName": "comparator"
          },
          "key": {
            "locationName": "key"
          },
          "values": {
            "shape": "S5",
            "locationName": "values"
          }
        }
      }
    }
  }
}