{
  "metadata": {
    "apiVersion": "2020-01-01",
    "endpointPrefix": "macie2",
    "signingName": "macie2",
    "serviceFullName": "Amazon Macie 2",
    "serviceId": "Macie2",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "macie2-2020-01-01",
    "signatureVersion": "v4"
  },
  "operations": {
    "AcceptInvitation": {
      "name": "AcceptInvitation",
      "http": {
        "method": "POST",
        "requestUri": "/invitations/accept",
        "responseCode": 200
      },
      "input": {
        "shape": "AcceptInvitationRequest"
      },
      "output": {
        "shape": "AcceptInvitationResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Accepts an Amazon Macie membership invitation that was received from a specific account.</p>"
    },
    "BatchGetCustomDataIdentifiers": {
      "name": "BatchGetCustomDataIdentifiers",
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers/get",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchGetCustomDataIdentifiersRequest"
      },
      "output": {
        "shape": "BatchGetCustomDataIdentifiersResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about one or more custom data identifiers.</p>"
    },
    "CreateClassificationJob": {
      "name": "CreateClassificationJob",
      "http": {
        "method": "POST",
        "requestUri": "/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateClassificationJobRequest"
      },
      "output": {
        "shape": "CreateClassificationJobResponse",
        "documentation": "<p>The request succeeded. The specified job was created.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Creates and defines the settings for a classification job.</p>"
    },
    "CreateCustomDataIdentifier": {
      "name": "CreateCustomDataIdentifier",
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateCustomDataIdentifierRequest"
      },
      "output": {
        "shape": "CreateCustomDataIdentifierResponse",
        "documentation": "<p>The request succeeded. The specified custom data identifier was created.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Creates and defines the criteria and other settings for a custom data identifier.</p>"
    },
    "CreateFindingsFilter": {
      "name": "CreateFindingsFilter",
      "http": {
        "method": "POST",
        "requestUri": "/findingsfilters",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateFindingsFilterRequest"
      },
      "output": {
        "shape": "CreateFindingsFilterResponse"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Creates and defines the criteria and other settings for a findings filter.</p>"
    },
    "CreateInvitations": {
      "name": "CreateInvitations",
      "http": {
        "method": "POST",
        "requestUri": "/invitations",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateInvitationsRequest"
      },
      "output": {
        "shape": "CreateInvitationsResponse",
        "documentation": "<p>The request succeeded. Processing might not be complete.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Sends an Amazon Macie membership invitation to one or more accounts.</p>"
    },
    "CreateMember": {
      "name": "CreateMember",
      "http": {
        "method": "POST",
        "requestUri": "/members",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateMemberRequest"
      },
      "output": {
        "shape": "CreateMemberResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Associates an account with an Amazon Macie master account.</p>"
    },
    "CreateSampleFindings": {
      "name": "CreateSampleFindings",
      "http": {
        "method": "POST",
        "requestUri": "/findings/sample",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSampleFindingsRequest"
      },
      "output": {
        "shape": "CreateSampleFindingsResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Creates sample findings.</p>"
    },
    "DeclineInvitations": {
      "name": "DeclineInvitations",
      "http": {
        "method": "POST",
        "requestUri": "/invitations/decline",
        "responseCode": 200
      },
      "input": {
        "shape": "DeclineInvitationsRequest"
      },
      "output": {
        "shape": "DeclineInvitationsResponse",
        "documentation": "<p>The request succeeded. Processing might not be complete.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Declines Amazon Macie membership invitations that were received from specific accounts.</p>"
    },
    "DeleteCustomDataIdentifier": {
      "name": "DeleteCustomDataIdentifier",
      "http": {
        "method": "DELETE",
        "requestUri": "/custom-data-identifiers/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteCustomDataIdentifierRequest"
      },
      "output": {
        "shape": "DeleteCustomDataIdentifierResponse",
        "documentation": "<p>The request succeeded. The specified custom data identifier was deleted and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Soft deletes a custom data identifier.</p>"
    },
    "DeleteFindingsFilter": {
      "name": "DeleteFindingsFilter",
      "http": {
        "method": "DELETE",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteFindingsFilterRequest"
      },
      "output": {
        "shape": "DeleteFindingsFilterResponse",
        "documentation": "<p>The request succeeded. The specified findings filter was deleted and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Deletes a findings filter.</p>"
    },
    "DeleteInvitations": {
      "name": "DeleteInvitations",
      "http": {
        "method": "POST",
        "requestUri": "/invitations/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInvitationsRequest"
      },
      "output": {
        "shape": "DeleteInvitationsResponse",
        "documentation": "<p>The request succeeded. Processing might not be complete.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Deletes Amazon Macie membership invitations that were received from specific accounts.</p>"
    },
    "DeleteMember": {
      "name": "DeleteMember",
      "http": {
        "method": "DELETE",
        "requestUri": "/members/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteMemberRequest"
      },
      "output": {
        "shape": "DeleteMemberResponse",
        "documentation": "<p>The request succeeded. The association was deleted and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Deletes the association between an Amazon Macie master account and an account.</p>"
    },
    "DescribeBuckets": {
      "name": "DescribeBuckets",
      "http": {
        "method": "POST",
        "requestUri": "/datasources/s3",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBucketsRequest"
      },
      "output": {
        "shape": "DescribeBucketsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Retrieves (queries) statistical data and other information about one or more S3 buckets that Amazon Macie monitors and analyzes.</p>"
    },
    "DescribeClassificationJob": {
      "name": "DescribeClassificationJob",
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClassificationJobRequest"
      },
      "output": {
        "shape": "DescribeClassificationJobResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the status and settings for a classification job.</p>"
    },
    "DescribeOrganizationConfiguration": {
      "name": "DescribeOrganizationConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/admin/configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOrganizationConfigurationRequest"
      },
      "output": {
        "shape": "DescribeOrganizationConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the Amazon Macie configuration settings for an AWS organization.</p>"
    },
    "DisableMacie": {
      "name": "DisableMacie",
      "http": {
        "method": "DELETE",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "DisableMacieRequest"
      },
      "output": {
        "shape": "DisableMacieResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Disables an Amazon Macie account and deletes Macie resources for the account.</p>"
    },
    "DisableOrganizationAdminAccount": {
      "name": "DisableOrganizationAdminAccount",
      "http": {
        "method": "DELETE",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "DisableOrganizationAdminAccountRequest"
      },
      "output": {
        "shape": "DisableOrganizationAdminAccountResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Disables an account as a delegated administrator of Amazon Macie for an AWS organization.</p>"
    },
    "DisassociateFromMasterAccount": {
      "name": "DisassociateFromMasterAccount",
      "http": {
        "method": "POST",
        "requestUri": "/master/disassociate",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateFromMasterAccountRequest"
      },
      "output": {
        "shape": "DisassociateFromMasterAccountResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Disassociates a member account from its Amazon Macie master account.</p>"
    },
    "DisassociateMember": {
      "name": "DisassociateMember",
      "http": {
        "method": "POST",
        "requestUri": "/members/disassociate/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateMemberRequest"
      },
      "output": {
        "shape": "DisassociateMemberResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Disassociates an Amazon Macie master account from a member account.</p>"
    },
    "EnableMacie": {
      "name": "EnableMacie",
      "http": {
        "method": "POST",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "EnableMacieRequest"
      },
      "output": {
        "shape": "EnableMacieResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Enables Amazon Macie and specifies the configuration settings for a Macie account.</p>"
    },
    "EnableOrganizationAdminAccount": {
      "name": "EnableOrganizationAdminAccount",
      "http": {
        "method": "POST",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "EnableOrganizationAdminAccountRequest"
      },
      "output": {
        "shape": "EnableOrganizationAdminAccountResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Enables an account as a delegated administrator of Amazon Macie for an AWS organization.</p>"
    },
    "GetBucketStatistics": {
      "name": "GetBucketStatistics",
      "http": {
        "method": "POST",
        "requestUri": "/datasources/s3/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBucketStatisticsRequest"
      },
      "output": {
        "shape": "GetBucketStatisticsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Retrieves (queries) aggregated statistical data for all the S3 buckets that Amazon Macie monitors and analyzes.</p>"
    },
    "GetClassificationExportConfiguration": {
      "name": "GetClassificationExportConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/classification-export-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetClassificationExportConfigurationRequest"
      },
      "output": {
        "shape": "GetClassificationExportConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the configuration settings for storing data classification results.</p>"
    },
    "GetCustomDataIdentifier": {
      "name": "GetCustomDataIdentifier",
      "http": {
        "method": "GET",
        "requestUri": "/custom-data-identifiers/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCustomDataIdentifierRequest"
      },
      "output": {
        "shape": "GetCustomDataIdentifierResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the criteria and other settings for a custom data identifier.</p>"
    },
    "GetFindingStatistics": {
      "name": "GetFindingStatistics",
      "http": {
        "method": "POST",
        "requestUri": "/findings/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingStatisticsRequest"
      },
      "output": {
        "shape": "GetFindingStatisticsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Retrieves (queries) aggregated statistical data about findings.</p>"
    },
    "GetFindings": {
      "name": "GetFindings",
      "http": {
        "method": "POST",
        "requestUri": "/findings/describe",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsRequest"
      },
      "output": {
        "shape": "GetFindingsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about one or more findings.</p>"
    },
    "GetFindingsFilter": {
      "name": "GetFindingsFilter",
      "http": {
        "method": "GET",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsFilterRequest"
      },
      "output": {
        "shape": "GetFindingsFilterResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the criteria and other settings for a findings filter.</p>"
    },
    "GetInvitationsCount": {
      "name": "GetInvitationsCount",
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count",
        "responseCode": 200
      },
      "input": {
        "shape": "GetInvitationsCountRequest"
      },
      "output": {
        "shape": "GetInvitationsCountResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the count of Amazon Macie membership invitations that were received by an account.</p>"
    },
    "GetMacieSession": {
      "name": "GetMacieSession",
      "http": {
        "method": "GET",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMacieSessionRequest"
      },
      "output": {
        "shape": "GetMacieSessionResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the current status and configuration settings for an Amazon Macie account.</p>"
    },
    "GetMasterAccount": {
      "name": "GetMasterAccount",
      "http": {
        "method": "GET",
        "requestUri": "/master",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMasterAccountRequest"
      },
      "output": {
        "shape": "GetMasterAccountResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the Amazon Macie master account for an account.</p>"
    },
    "GetMember": {
      "name": "GetMember",
      "http": {
        "method": "GET",
        "requestUri": "/members/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMemberRequest"
      },
      "output": {
        "shape": "GetMemberResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about a member account that's associated with an Amazon Macie master account.</p>"
    },
    "GetUsageStatistics": {
      "name": "GetUsageStatistics",
      "http": {
        "method": "POST",
        "requestUri": "/usage/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUsageStatisticsRequest"
      },
      "output": {
        "shape": "GetUsageStatisticsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) quotas and aggregated usage data for one or more accounts.</p>"
    },
    "GetUsageTotals": {
      "name": "GetUsageTotals",
      "http": {
        "method": "GET",
        "requestUri": "/usage",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUsageTotalsRequest"
      },
      "output": {
        "shape": "GetUsageTotalsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) aggregated usage data for an account.</p>"
    },
    "ListClassificationJobs": {
      "name": "ListClassificationJobs",
      "http": {
        "method": "POST",
        "requestUri": "/jobs/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClassificationJobsRequest"
      },
      "output": {
        "shape": "ListClassificationJobsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about one or more classification jobs.</p>"
    },
    "ListCustomDataIdentifiers": {
      "name": "ListCustomDataIdentifiers",
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCustomDataIdentifiersRequest"
      },
      "output": {
        "shape": "ListCustomDataIdentifiersResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about all the custom data identifiers for an account.</p>"
    },
    "ListFindings": {
      "name": "ListFindings",
      "http": {
        "method": "POST",
        "requestUri": "/findings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsRequest"
      },
      "output": {
        "shape": "ListFindingsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Retrieves a subset of information about one or more findings.</p>"
    },
    "ListFindingsFilters": {
      "name": "ListFindingsFilters",
      "http": {
        "method": "GET",
        "requestUri": "/findingsfilters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsFiltersRequest"
      },
      "output": {
        "shape": "ListFindingsFiltersResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about all the findings filters for an account.</p>"
    },
    "ListInvitations": {
      "name": "ListInvitations",
      "http": {
        "method": "GET",
        "requestUri": "/invitations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInvitationsRequest"
      },
      "output": {
        "shape": "ListInvitationsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about all the Amazon Macie membership invitations that were received by an account.</p>"
    },
    "ListMembers": {
      "name": "ListMembers",
      "http": {
        "method": "GET",
        "requestUri": "/members",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMembersRequest"
      },
      "output": {
        "shape": "ListMembersResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the accounts that are associated with an Amazon Macie master account.</p>"
    },
    "ListOrganizationAdminAccounts": {
      "name": "ListOrganizationAdminAccounts",
      "http": {
        "method": "GET",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOrganizationAdminAccountsRequest"
      },
      "output": {
        "shape": "ListOrganizationAdminAccountsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the account that's designated as the delegated administrator of Amazon Macie for an AWS organization.</p>"
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [],
      "documentation": "<p>Retrieves the tags (keys and values) that are associated with a classification job, custom data identifier, findings filter, or member account.</p>"
    },
    "PutClassificationExportConfiguration": {
      "name": "PutClassificationExportConfiguration",
      "http": {
        "method": "PUT",
        "requestUri": "/classification-export-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "PutClassificationExportConfigurationRequest"
      },
      "output": {
        "shape": "PutClassificationExportConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Creates or updates the configuration settings for storing data classification results.</p>"
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "output": {
        "shape": "TagResourceResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [],
      "documentation": "<p>Adds or updates one or more tags (keys and values) that are associated with a classification job, custom data identifier, findings filter, or member account.</p>"
    },
    "TestCustomDataIdentifier": {
      "name": "TestCustomDataIdentifier",
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers/test",
        "responseCode": 200
      },
      "input": {
        "shape": "TestCustomDataIdentifierRequest"
      },
      "output": {
        "shape": "TestCustomDataIdentifierResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Tests a custom data identifier.</p>"
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "output": {
        "shape": "UntagResourceResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [],
      "documentation": "<p>Removes one or more tags (keys and values) from a classification job, custom data identifier, findings filter, or member account.</p>"
    },
    "UpdateClassificationJob": {
      "name": "UpdateClassificationJob",
      "http": {
        "method": "PATCH",
        "requestUri": "/jobs/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateClassificationJobRequest"
      },
      "output": {
        "shape": "UpdateClassificationJobResponse",
        "documentation": "<p>The request succeeded. The job's status was changed and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Cancels a classification job.</p>"
    },
    "UpdateFindingsFilter": {
      "name": "UpdateFindingsFilter",
      "http": {
        "method": "PATCH",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateFindingsFilterRequest"
      },
      "output": {
        "shape": "UpdateFindingsFilterResponse",
        "documentation": "<p>The request succeeded. The specified findings filter was updated.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Updates the criteria and other settings for a findings filter.</p>"
    },
    "UpdateMacieSession": {
      "name": "UpdateMacieSession",
      "http": {
        "method": "PATCH",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMacieSessionRequest"
      },
      "output": {
        "shape": "UpdateMacieSessionResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Suspends or re-enables an Amazon Macie account, or updates the configuration settings for a Macie account.</p>"
    },
    "UpdateMemberSession": {
      "name": "UpdateMemberSession",
      "http": {
        "method": "PATCH",
        "requestUri": "/macie/members/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMemberSessionRequest"
      },
      "output": {
        "shape": "UpdateMemberSessionResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Enables an Amazon Macie master account to suspend or re-enable a member account.</p>"
    },
    "UpdateOrganizationConfiguration": {
      "name": "UpdateOrganizationConfiguration",
      "http": {
        "method": "PATCH",
        "requestUri": "/admin/configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateOrganizationConfigurationRequest"
      },
      "output": {
        "shape": "UpdateOrganizationConfigurationResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Updates Amazon Macie configuration settings for an AWS organization.</p>"
    }
  },
  "shapes": {
    "AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "invitationId": {
          "shape": "__string",
          "locationName": "invitationId",
          "documentation": "<p>The unique identifier for the invitation to accept.</p>"
        },
        "masterAccount": {
          "shape": "__string",
          "locationName": "masterAccount",
          "documentation": "<p>The AWS account ID for the account that sent the invitation.</p>"
        }
      },
      "required": [
        "masterAccount",
        "invitationId"
      ]
    },
    "AcceptInvitationResponse": {
      "type": "structure",
      "members": {}
    },
    "AccessControlList": {
      "type": "structure",
      "members": {
        "allowsPublicReadAccess": {
          "shape": "__boolean",
          "locationName": "allowsPublicReadAccess",
          "documentation": "<p>Specifies whether the ACL grants the general public with read access permissions for the bucket.</p>"
        },
        "allowsPublicWriteAccess": {
          "shape": "__boolean",
          "locationName": "allowsPublicWriteAccess",
          "documentation": "<p>Specifies whether the ACL grants the general public with write access permissions for the bucket.</p>"
        }
      },
      "documentation": "<p>Provides information about the permissions settings of the bucket-level access control list (ACL) for an S3 bucket.</p>"
    },
    "AccountDetail": {
      "type": "structure",
      "members": {
        "accountId": {
          "shape": "__string",
          "locationName": "accountId",
          "documentation": "<p>The AWS account ID for the account.</p>"
        },
        "email": {
          "shape": "__string",
          "locationName": "email",
          "documentation": "<p>The email address for the account.</p>"
        }
      },
      "documentation": "<p>Specifies details for an account to associate with an Amazon Macie master account.</p>",
      "required": [
        "email",
        "accountId"
      ]
    },
    "AccountLevelPermissions": {
      "type": "structure",
      "members": {
        "blockPublicAccess": {
          "shape": "BlockPublicAccess",
          "locationName": "blockPublicAccess",
          "documentation": "<p>The block public access settings for the bucket.</p>"
        }
      },
      "documentation": "<p>Provides information about account-level permissions settings that apply to an S3 bucket.</p>"
    },
    "AdminAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "shape": "__string",
          "locationName": "accountId",
          "documentation": "<p>The AWS account ID for the account.</p>"
        },
        "status": {
          "shape": "AdminStatus",
          "locationName": "status",
          "documentation": "<p>The current status of the account as a delegated administrator of Amazon Macie for the organization.</p>"
        }
      },
      "documentation": "<p>Provides information about an account that's designated as a delegated administrator of Amazon Macie for an AWS organization.</p>"
    },
    "AdminStatus": {
      "type": "string",
      "documentation": "<p>The current status of an account as a delegated administrator of Amazon Macie for an AWS organization.</p>",
      "enum": [
        "ENABLED",
        "DISABLING_IN_PROGRESS"
      ]
    },
    "ApiCallDetails": {
      "type": "structure",
      "members": {
        "api": {
          "shape": "__string",
          "locationName": "api",
          "documentation": "<p>The name of the operation that was invoked most recently and produced the finding.</p>"
        },
        "apiServiceName": {
          "shape": "__string",
          "locationName": "apiServiceName",
          "documentation": "<p>The URL of the AWS service that provides the operation, for example: s3.amazonaws.com.</p>"
        },
        "firstSeen": {
          "shape": "__timestampIso8601",
          "locationName": "firstSeen",
          "documentation": "<p>The first date and time, in UTC and extended ISO 8601 format, when any operation was invoked and produced the finding.</p>"
        },
        "lastSeen": {
          "shape": "__timestampIso8601",
          "locationName": "lastSeen",
          "documentation": "<p>The most recent date and time, in UTC and extended ISO 8601 format, when the specified operation (api) was invoked and produced the finding.</p>"
        }
      },
      "documentation": "<p>Provides information about an API operation that an entity invoked for an affected resource.</p>"
    },
    "AssumedRole": {
      "type": "structure",
      "members": {
        "accessKeyId": {
          "shape": "__string",
          "locationName": "accessKeyId",
          "documentation": "<p>The AWS access key ID that identifies the credentials.</p>"
        },
        "accountId": {
          "shape": "__string",
          "locationName": "accountId",
          "documentation": "<p>The unique identifier for the AWS account that owns the entity that was used to get the credentials.</p>"
        },
        "arn": {
          "shape": "__string",
          "locationName": "arn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the entity that was used to get the credentials.</p>"
        },
        "principalId": {
          "shape": "__string",
          "locationName": "principalId",
          "documentation": "<p>The unique identifier for the entity that was used to get the credentials.</p>"
        },
        "sessionContext": {
          "shape": "SessionContext",
          "locationName": "sessionContext",
          "documentation": "<p>The details of the session that was created for the credentials, including the entity that issued the session.</p>"
        }
      },
      "documentation": "<p>Provides information about an identity that performed an action on an affected resource by using temporary security credentials. The credentials were obtained using the AssumeRole operation of the AWS Security Token Service (AWS STS) API.</p>"
    },
    "AwsAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "shape": "__string",
          "locationName": "accountId",
          "documentation": "<p>The unique identifier for the AWS account.</p>"
        },
        "principalId": {
          "shape": "__string",
          "locationName": "principalId",
          "documentation": "<p>The unique identifier for the entity that performed the action.</p>"
        }
      },
      "documentation": "<p>Provides information about an AWS account and entity that performed an action on an affected resource. The action was performed using the credentials for an AWS account other than your own account.</p>"
    },
    "AwsService": {
      "type": "structure",
      "members": {
        "invokedBy": {
          "shape": "__string",
          "locationName": "invokedBy",
          "documentation": "<p>The name of the AWS service that performed the action.</p>"
        }
      },
      "documentation": "<p>Provides information about an AWS service that performed an action on an affected resource.</p>"
    },
    "BatchGetCustomDataIdentifierSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "shape": "__string",
          "locationName": "arn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the custom data identifier.</p>"
        },
        "createdAt": {
          "shape": "__timestampIso8601",
          "locationName": "createdAt",
          "documentation": "<p>The date and time, in UTC and extended ISO 8601 format, when the custom data identifier was created.</p>"
        },
        "deleted": {
          "shape": "__boolean",
          "locationName": "deleted",
          "documentation": "<p>Specifies whether the custom data identifier was deleted. If you delete a custom data identifier, Amazon Macie doesn't delete it permanently. Instead, it soft deletes the identifier.</p>"
        },
        "description": {
          "shape": "__string",
          "locationName": "description",
          "documentation": "<p>The custom description of the custom data identifier.</p>"
        },
        "id": {
          "shape": "__string",
          "locationName": "id",
          "documentation": "<p>The unique identifier for the custom data identifier.</p>"
        },
[...]
