{
  "metadata": {
    "apiVersion": "2017-10-14",
    "endpointPrefix": "medialive",
    "signingName": "medialive",
    "serviceFullName": "AWS Elemental MediaLive",
    "serviceId": "MediaLive",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "medialive-2017-10-14",
    "signatureVersion": "v4",
    "serviceAbbreviation": "MediaLive"
  },
  "operations": {
    "CreateChannel": {
      "http": {
        "requestUri": "/prod/channels",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Destinations": {
            "shape": "S2",
            "locationName": "destinations"
          },
          "EncoderSettings": {
            "shape": "S7",
            "locationName": "encoderSettings"
          },
          "InputAttachments": {
            "shape": "S7q",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "S8q",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "RequestId": {
            "locationName": "requestId",
            "idempotencyToken": true
          },
          "Reserved": {
            "locationName": "reserved",
            "deprecated": true
          },
          "RoleArn": {
            "locationName": "roleArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channel": {
            "shape": "S8w",
            "locationName": "channel"
          }
        }
      }
    },
    "CreateInput": {
      "http": {
        "requestUri": "/prod/inputs",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Destinations": {
            "shape": "S91",
            "locationName": "destinations"
          },
          "InputSecurityGroups": {
            "shape": "S57",
            "locationName": "inputSecurityGroups"
          },
          "Name": {
            "locationName": "name"
          },
          "RequestId": {
            "locationName": "requestId",
            "idempotencyToken": true
          },
          "Sources": {
            "shape": "S93",
            "locationName": "sources"
          },
          "Type": {
            "locationName": "type"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Input": {
            "shape": "S97",
            "locationName": "input"
          }
        }
      }
    },
    "CreateInputSecurityGroup": {
      "http": {
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "WhitelistRules": {
            "shape": "S9e",
            "locationName": "whitelistRules"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityGroup": {
            "shape": "S9h",
            "locationName": "securityGroup"
          }
        }
      }
    },
    "DeleteChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Destinations": {
            "shape": "S2",
            "locationName": "destinations"
          },
          "EgressEndpoints": {
            "shape": "S8x",
            "locationName": "egressEndpoints"
          },
          "EncoderSettings": {
            "shape": "S7",
            "locationName": "encoderSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "InputAttachments": {
            "shape": "S7q",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "S8q",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "State": {
            "locationName": "state"
          }
        }
      }
    },
    "DeleteInput": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputId": {
            "location": "uri",
            "locationName": "inputId"
          }
        },
        "required": [
          "InputId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteInputSecurityGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputSecurityGroupId": {
            "location": "uri",
            "locationName": "inputSecurityGroupId"
          }
        },
        "required": [
          "InputSecurityGroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Destinations": {
            "shape": "S2",
            "locationName": "destinations"
          },
          "EgressEndpoints": {
            "shape": "S8x",
            "locationName": "egressEndpoints"
          },
          "EncoderSettings": {
            "shape": "S7",
            "locationName": "encoderSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "InputAttachments": {
            "shape": "S7q",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "S8q",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "State": {
            "locationName": "state"
          }
        }
      }
    },
    "DescribeInput": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputId": {
            "location": "uri",
            "locationName": "inputId"
          }
        },
        "required": [
          "InputId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "AttachedChannels": {
            "shape": "S57",
            "locationName": "attachedChannels"
          },
          "Destinations": {
            "shape": "S98",
            "locationName": "destinations"
          },
          "Id": {
            "locationName": "id"
          },
          "Name": {
            "locationName": "name"
          },
          "SecurityGroups": {
            "shape": "S57",
            "locationName": "securityGroups"
          },
          "Sources": {
            "shape": "S9a",
            "locationName": "sources"
          },
          "State": {
            "locationName": "state"
          },
          "Type": {
            "locationName": "type"
          }
        }
      }
    },
    "DescribeInputSecurityGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputSecurityGroupId": {
            "location": "uri",
            "locationName": "inputSecurityGroupId"
          }
        },
        "required": [
          "InputSecurityGroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Id": {
            "locationName": "id"
          },
          "Inputs": {
            "shape": "S57",
            "locationName": "inputs"
          },
          "State": {
            "locationName": "state"
          },
          "WhitelistRules": {
            "shape": "S9j",
            "locationName": "whitelistRules"
          }
        }
      }
    },
    "ListChannels": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channels": {
            "locationName": "channels",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "Destinations": {
                  "shape": "S2",
                  "locationName": "destinations"
                },
                "EgressEndpoints": {
                  "shape": "S8x",
                  "locationName": "egressEndpoints"
                },
                "Id": {
                  "locationName": "id"
                },
                "InputAttachments": {
                  "shape": "S7q",
                  "locationName": "inputAttachments"
                },
                "InputSpecification": {
                  "shape": "S8q",
                  "locationName": "inputSpecification"
                },
                "LogLevel": {
                  "locationName": "logLevel"
                },
                "Name": {
                  "locationName": "name"
                },
                "PipelinesRunningCount": {
                  "locationName": "pipelinesRunningCount",
                  "type": "integer"
                },
                "RoleArn": {
                  "locationName": "roleArn"
                },
                "State": {
                  "locationName": "state"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListInputSecurityGroups": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InputSecurityGroups": {
            "locationName": "inputSecurityGroups",
            "type": "list",
            "member": {
              "shape": "S9h"
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListInputs": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Inputs": {
            "locationName": "inputs",
            "type": "list",
            "member": {
              "shape": "S97"
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "StartChannel": {
      "http": {
        "requestUri": "/prod/channels/{channelId}/start",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Destinations": {
            "shape": "S2",
            "locationName": "destinations"
          },
          "EgressEndpoints": {
            "shape": "S8x",
            "locationName": "egressEndpoints"
          },
          "EncoderSettings": {
            "shape": "S7",
            "locationName": "encoderSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "InputAttachments": {
            "shape": "S7q",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "S8q",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "State": {
            "locationName": "state"
          }
        }
      }
    },
    "StopChannel": {
      "http": {
        "requestUri": "/prod/channels/{channelId}/stop",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Destinations": {
            "shape": "S2",
            "locationName": "destinations"
          },
          "EgressEndpoints": {
            "shape": "S8x",
            "locationName": "egressEndpoints"
          },
          "EncoderSettings": {
            "shape": "S7",
            "locationName": "encoderSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "InputAttachments": {
            "shape": "S7q",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "S8q",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "State": {
            "locationName": "state"
          }
        }
      }
    },
    "UpdateChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          },
          "Destinations": {
            "shape": "S2",
            "locationName": "destinations"
          },
          "EncoderSettings": {
            "shape": "S7",
            "locationName": "encoderSettings"
          },
          "InputAttachments": {
            "shape": "S7q",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "S8q",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "RoleArn": {
            "locationName": "roleArn"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Channel": {
            "shape": "S8w",
            "locationName": "channel"
          }
        }
      }
    },
    "UpdateInput": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Destinations": {
            "shape": "S91",
            "locationName": "destinations"
          },
          "InputId": {
            "location": "uri",
            "locationName": "inputId"
          },
          "InputSecurityGroups": {
            "shape": "S57",
            "locationName": "inputSecurityGroups"
          },
          "Name": {
            "locationName": "name"
          },
          "Sources": {
            "shape": "S93",
            "locationName": "sources"
          }
        },
        "required": [
          "InputId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Input": {
            "shape": "S97",
            "locationName": "input"
          }
        }
      }
    },
    "UpdateInputSecurityGroup": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputSecurityGroupId": {
            "location": "uri",
            "locationName": "inputSecurityGroupId"
          },
          "WhitelistRules": {
            "shape": "S9e",
            "locationName": "whitelistRules"
          }
        },
        "required": [
          "InputSecurityGroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityGroup": {
            "shape": "S9h",
            "locationName": "securityGroup"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Id": {
            "locationName": "id"
          },
          "Settings": {
            "locationName": "settings",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PasswordParam": {
                  "locationName": "passwordParam"
                },
                "StreamName": {
                  "locationName": "streamName"
                },
                "Url": {
                  "locationName": "url"
                },
                "Username": {
                  "locationName": "username"
                }
              }
            }
          }
        }
      }
    },
    "S7": {
      "type": "structure",
      "members": {
        "AudioDescriptions": {
          "locationName": "audioDescriptions",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "AudioNormalizationSettings": {
                "locationName": "audioNormalizationSettings",
                "type": "structure",
                "members": {
                  "Algorithm": {
                    "locationName": "algorithm"
                  },
                  "AlgorithmControl": {
                    "locationName": "algorithmControl"
                  },
                  "TargetLkfs": {
                    "locationName": "targetLkfs",
                    "type": "double"
                  }
                }
              },
              "AudioSelectorName": {
                "locationName": "audioSelectorName"
              },
              "AudioType": {
                "locationName": "audioType"
              },
              "AudioTypeControl": {
                "locationName": "audioTypeControl"
              },
              "CodecSettings": {
                "locationName": "codecSettings",
                "type": "structure",
                "members": {
                  "AacSettings": {
                    "locationName": "aacSettings",
                    "type": "structure",
                    "members": {
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "double"
                      },
                      "CodingMode": {
                        "locationName": "codingMode"
                      },
                      "InputType": {
                        "locationName": "inputType"
                      },
                      "Profile": {
                        "locationName": "profile"
                      },
                      "RateControlMode": {
                        "locationName": "rateControlMode"
                      },
                      "RawFormat": {
                        "locationName": "rawFormat"
                      },
                      "SampleRate": {
                        "locationName": "sampleRate",
                        "type": "double"
                      },
                      "Spec": {
                        "locationName": "spec"
                      },
                      "VbrQuality": {
                        "locationName": "vbrQuality"
                      }
                    }
                  },
                  "Ac3Settings": {
                    "locationName": "ac3Settings",
                    "type": "structure",
                    "members": {
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "double"
                      },
                      "BitstreamMode": {
                        "locationName": "bitstreamMode"
                      },
                      "CodingMode": {
                        "locationName": "codingMode"
                      },
                      "Dialnorm": {
                        "locationName": "dialnorm",
                        "type": "integer"
                      },
                      "DrcProfile": {
                        "locationName": "drcProfile"
                      },
                      "LfeFilter": {
                        "locationName": "lfeFilter"
                      },
                      "MetadataControl": {
                        "locationName": "metadataControl"
                      }
                    }
                  },
                  "Eac3Settings": {
                    "locationName": "eac3Settings",
                    "type": "structure",
                    "members": {
                      "AttenuationControl": {
                        "locationName": "attenuationControl"
                      },
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "double"
                      },
                      "BitstreamMode": {
                        "locationName": "bitstreamMode"
                      },
                      "CodingMode": {
                        "locationName": "codingMode"
                      },
                      "DcFilter": {
                        "locationName": "dcFilter"
                      },
                      "Dialnorm": {
                        "locationName": "dialnorm",
                        "type": "integer"
                      },
                      "DrcLine": {
                        "locationName": "drcLine"
                      },
                      "DrcRf": {
                        "locationName": "drcRf"
                      },
                      "LfeControl": {
                        "locationName": "lfeControl"
                      },
                      "LfeFilter": {
                        "locationName": "lfeFilter"
                      },
                      "LoRoCenterMixLevel": {
                        "locationName": "loRoCenterMixLevel",
                        "type": "double"
                      },
                      "LoRoSurroundMixLevel": {
                        "locationName": "loRoSurroundMixLevel",
                        "type": "double"
                      },
                      "LtRtCenterMixLevel": {
                        "locationName": "ltRtCenterMixLevel",
                        "type": "double"
                      },
                      "LtRtSurroundMixLevel": {
                        "locationName": "ltRtSurroundMixLevel",
                        "type": "double"
                      },
                      "MetadataControl": {
                        "locationName": "metadataControl"
                      },
                      "PassthroughControl": {
                        "locationName": "passthroughControl"
                      },
                      "PhaseControl": {
                        "locationName": "phaseControl"
                      },
                      "StereoDownmix": {
                        "locationName": "stereoDownmix"
                      },
                      "SurroundExMode": {
                        "locationName": "surroundExMode"
                      },
                      "SurroundMode": {
                        "locationName": "surroundMode"
                      }
                    }
                  },
                  "Mp2Settings": {
                    "locationName": "mp2Settings",
                    "type": "structure",
                    "members": {
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "double"
                      },
                      "CodingMode": {
                        "locationName": "codingMode"
                      },
                      "SampleRate": {
                        "locationName": "sampleRate",
                        "type": "double"
                      }
                    }
                  },
                  "PassThroughSettings": {
                    "locationName": "passThroughSettings",
                    "type": "structure",
                    "members": {}
                  }
                }
              },
              "LanguageCode": {
                "locationName": "languageCode"
              },
              "LanguageCodeControl": {
                "locationName": "languageCodeControl"
              },
              "Name": {
                "locationName": "name"
              },
              "RemixSettings": {
                "locationName": "remixSettings",
                "type": "structure",
                "members": {
                  "ChannelMappings": {
                    "locationName": "channelMappings",
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "InputChannelLevels": {
                          "locationName": "inputChannelLevels",
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Gain": {
                                "locationName": "gain",
                                "type": "integer"
                              },
                              "InputChannel": {
                                "locationName": "inputChannel",
                                "type": "integer"
                              }
                            },
                            "required": [
                              "InputChannel",
                              "Gain"
                            ]
                          }
                        },
                        "OutputChannel": {
                          "locationName": "outputChannel",
                          "type": "integer"
                        }
                      },
                      "required": [
                        "OutputChannel",
                        "InputChannelLevels"
                      ]
                    }
                  },
                  "ChannelsIn": {
                    "locationName": "channelsIn",
                    "type": "integer"
                  },
                  "ChannelsOut": {
                    "locationName": "channelsOut",
                    "type": "integer"
                  }
                },
                "required": [
                  "ChannelMappings"
                ]
              },
              "StreamName": {
                "locationName": "streamName"
              }
            },
            "required": [
              "AudioSelectorName",
              "Name"
            ]
          }
        },
        "AvailBlanking": {
          "locationName": "availBlanking",
          "type": "structure",
          "members": {
            "AvailBlankingImage": {
              "shape": "S1s",
              "locationName": "availBlankingImage"
            },
            "State": {
              "locationName": "state"
            }
          }
        },
        "AvailConfiguration": {
          "locationName": "availConfiguration",
          "type": "structure",
          "members": {
            "AvailSettings": {
              "locationName": "availSettings",
              "type": "structure",
              "members": {
                "Scte35SpliceInsert": {
                  "locationName": "scte35SpliceInsert",
                  "type": "structure",
                  "members": {
                    "AdAvailOffset": {
                      "locationName": "adAvailOffset",
                      "type": "integer"
                    },
                    "NoRegionalBlackoutFlag": {
                      "locationName": "noRegionalBlackoutFlag"
                    },
                    "WebDeliveryAllowedFlag": {
                      "locationName": "webDeliveryAllowedFlag"
                    }
                  }
                },
                "Scte35TimeSignalApos": {
                  "locationName": "scte35TimeSignalApos",
                  "type": "structure",
                  "members": {
                    "AdAvailOffset": {
                      "locationName": "adAvailOffset",
                      "type": "integer"
                    },
                    "NoRegionalBlackoutFlag": {
                      "locationName": "noRegionalBlackoutFlag"
                    },
                    "WebDeliveryAllowedFlag": {
                      "locationName": "webDeliveryAllowedFlag"
                    }
                  }
                }
              }
            }
          }
        },
        "BlackoutSlate": {
          "locationName": "blackoutSlate",
          "type": "structure",
          "members": {
            "BlackoutSlateImage": {
              "shape": "S1s",
              "locationName": "blackoutSlateImage"
            },
            "NetworkEndBlackout": {
              "locationName": "networkEndBlackout"
            },
            "NetworkEndBlackoutImage": {
              "shape": "S1s",
              "locationName": "networkEndBlackoutImage"
            },
            "NetworkId": {
              "locationName": "networkId"
            },
            "State": {
              "locationName": "state"
            }
          }
        },
        "CaptionDescriptions": {
          "locationName": "captionDescriptions",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "CaptionSelectorName": {
                "locationName": "captionSelectorName"
              },
              "DestinationSettings": {
                "locationName": "destinationSettings",
                "type": "structure",
                "members": {
                  "AribDestinationSettings": {
                    "locationName": "aribDestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "BurnInDestinationSettings": {
                    "locationName": "burnInDestinationSettings",
                    "type": "structure",
                    "members": {
                      "Alignment": {
                        "locationName": "alignment"
                      },
                      "BackgroundColor": {
                        "locationName": "backgroundColor"
                      },
                      "BackgroundOpacity": {
                        "locationName": "backgroundOpacity",
                        "type": "integer"
                      },
                      "Font": {
                        "shape": "S1s",
                        "locationName": "font"
                      },
                      "FontColor": {
                        "locationName": "fontColor"
                      },
                      "FontOpacity": {
                        "locationName": "fontOpacity",
                        "type": "integer"
                      },
                      "FontResolution": {
                        "locationName": "fontResolution",
                        "type": "integer"
                      },
                      "FontSize": {
                        "locationName": "fontSize"
                      },
                      "OutlineColor": {
                        "locationName": "outlineColor"
                      },
                      "OutlineSize": {
                        "locationName": "outlineSize",
                        "type": "integer"
                      },
                      "ShadowColor": {
                        "locationName": "shadowColor"
                      },
                      "ShadowOpacity": {
                        "locationName": "shadowOpacity",
                        "type": "integer"
                      },
                      "ShadowXOffset": {
                        "locationName": "shadowXOffset",
                        "type": "integer"
                      },
                      "ShadowYOffset": {
                        "locationName": "shadowYOffset",
                        "type": "integer"
                      },
                      "TeletextGridControl": {
                        "locationName": "teletextGridControl"
                      },
                      "XPosition": {
                        "locationName": "xPosition",
                        "type": "integer"
                      },
                      "YPosition": {
                        "locationName": "yPosition",
                        "type": "integer"
                      }
                    }
                  },
                  "DvbSubDestinationSettings": {
                    "locationName": "dvbSubDestinationSettings",
                    "type": "structure",
                    "members": {
                      "Alignment": {
                        "locationName": "alignment"
                      },
                      "BackgroundColor": {
                        "locationName": "backgroundColor"
                      },
                      "BackgroundOpacity": {
                        "locationName": "backgroundOpacity",
                        "type": "integer"
                      },
                      "Font": {
                        "shape": "S1s",
                        "locationName": "font"
                      },
                      "FontColor": {
                        "locationName": "fontColor"
                      },
                      "FontOpacity": {
                        "locationName": "fontOpacity",
                        "type": "integer"
                      },
                      "FontResolution": {
                        "locationName": "fontResolution",
                        "type": "integer"
                      },
                      "FontSize": {
                        "locationName": "fontSize"
                      },
                      "OutlineColor": {
                        "locationName": "outlineColor"
                      },
                      "OutlineSize": {
                        "locationName": "outlineSize",
                        "type": "integer"
                      },
                      "ShadowColor": {
                        "locationName": "shadowColor"
                      },
                      "ShadowOpacity": {
                        "locationName": "shadowOpacity",
                        "type": "integer"
                      },
                      "ShadowXOffset": {
                        "locationName": "shadowXOffset",
                        "type": "integer"
                      },
                      "ShadowYOffset": {
                        "locationName": "shadowYOffset",
                        "type": "integer"
                      },
                      "TeletextGridControl": {
                        "locationName": "teletextGridControl"
                      },
                      "XPosition": {
                        "locationName": "xPosition",
                        "type": "integer"
                      },
                      "YPosition": {
                        "locationName": "yPosition",
                        "type": "integer"
                      }
                    }
                  },
                  "EmbeddedDestinationSettings": {
                    "locationName": "embeddedDestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "EmbeddedPlusScte20DestinationSettings": {
                    "locationName": "embeddedPlusScte20DestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "RtmpCaptionInfoDestinationSettings": {
                    "locationName": "rtmpCaptionInfoDestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "Scte20PlusEmbeddedDestinationSettings": {
                    "locationName": "scte20PlusEmbeddedDestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "Scte27DestinationSettings": {
                    "locationName": "scte27DestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "SmpteTtDestinationSettings": {
                    "locationName": "smpteTtDestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "TeletextDestinationSettings": {
                    "locationName": "teletextDestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "TtmlDestinationSettings": {
                    "locationName": "ttmlDestinationSettings",
                    "type": "structure",
                    "members": {
                      "StyleControl": {
                        "locationName": "styleControl"
                      }
                    }
                  },
                  "WebvttDestinationSettings": {
                    "locationName": "webvttDestinationSettings",
                    "type": "structure",
                    "members": {}
                  }
                }
              },
              "LanguageCode": {
                "locationName": "languageCode"
              },
              "LanguageDescription": {
                "locationName": "languageDescription"
              },
              "Name": {
                "locationName": "name"
              }
            },
            "required": [
              "CaptionSelectorName",
              "Name"
            ]
          }
        },
        "GlobalConfiguration": {
          "locationName": "globalConfiguration",
          "type": "structure",
          "members": {
            "InitialAudioGain": {
              "locationName": "initialAudioGain",
              "type": "integer"
            },
            "InputEndAction": {
              "locationName": "inputEndAction"
            },
            "InputLossBehavior": {
              "locationName": "inputLossBehavior",
              "type": "structure",
              "members": {
                "BlackFrameMsec": {
                  "locationName": "blackFrameMsec",
                  "type": "integer"
                },
                "InputLossImageColor": {
                  "locationName": "inputLossImageColor"
                },
                "InputLossImageSlate": {
                  "shape": "S1s",
                  "locationName": "inputLossImageSlate"
                },
                "InputLossImageType": {
                  "locationName": "inputLossImageType"
                },
                "RepeatFrameMsec": {
                  "locationName": "repeatFrameMsec",
                  "type": "integer"
                }
              }
            },
            "OutputTimingSource": {
              "locationName": "outputTimingSource"
            },
            "SupportLowFramerateInputs": {
              "locationName": "supportLowFramerateInputs"
            }
          }
        },
        "OutputGroups": {
          "locationName": "outputGroups",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Name": {
                "locationName": "name"
              },
              "OutputGroupSettings": {
                "locationName": "outputGroupSettings",
                "type": "structure",
                "members": {
                  "ArchiveGroupSettings": {
                    "locationName": "archiveGroupSettings",
                    "type": "structure",
                    "members": {
                      "Destination": {
                        "shape": "S3i",
                        "locationName": "destination"
                      },
                      "RolloverInterval": {
                        "locationName": "rolloverInterval",
                        "type": "integer"
                      }
                    },
                    "required": [
                      "Destination"
                    ]
                  },
                  "HlsGroupSettings": {
                    "locationName": "hlsGroupSettings",
                    "type": "structure",
                    "members": {
                      "AdMarkers": {
                        "locationName": "adMarkers",
                        "type": "list",
                        "member": {}
                      },
                      "BaseUrlContent": {
                        "locationName": "baseUrlContent"
                      },
                      "BaseUrlManifest": {
                        "locationName": "baseUrlManifest"
                      },
                      "CaptionLanguageMappings": {
                        "locationName": "captionLanguageMappings",
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "CaptionChannel": {
                              "locationName": "captionChannel",
                              "type": "integer"
                            },
                            "LanguageCode": {
                              "locationName": "languageCode"
                            },
                            "LanguageDescription": {
                              "locationName": "languageDescription"
                            }
                          },
                          "required": [
                            "LanguageCode",
                            "LanguageDescription",
                            "CaptionChannel"
                          ]
                        }
                      },
                      "CaptionLanguageSetting": {
                        "locationName": "captionLanguageSetting"
                      },
                      "ClientCache": {
                        "locationName": "clientCache"
                      },
                      "CodecSpecification": {
                        "locationName": "codecSpecification"
                      },
                      "ConstantIv": {
                        "locationName": "constantIv"
                      },
                      "Destination": {
                        "shape": "S3i",
                        "locationName": "destination"
                      },
                      "DirectoryStructure": {
                        "locationName": "directoryStructure"
                      },
                      "EncryptionType": {
                        "locationName": "encryptionType"
                      },
                      "HlsCdnSettings": {
                        "locationName": "hlsCdnSettings",
                        "type": "structure",
                        "members": {
                          "HlsAkamaiSettings": {
                            "locationName": "hlsAkamaiSettings",
                            "type": "structure",
                            "members": {
                              "ConnectionRetryInterval": {
                                "locationName": "connectionRetryInterval",
                                "type": "integer"
                              },
                              "FilecacheDuration": {
                                "locationName": "filecacheDuration",
                                "type": "integer"
                              },
                              "HttpTransferMode": {
                                "locationName": "httpTransferMode"
                              },
                              "NumRetries": {
                                "locationName": "numRetries",
                                "type": "integer"
                              },
                              "RestartDelay": {
                                "locationName": "restartDelay",
                                "type": "integer"
                              },
                              "Salt": {
                                "locationName": "salt"
                              },
                              "Token": {
                                "locationName": "token"
                              }
                            }
                          },
                          "HlsBasicPutSettings": {
                            "locationName": "hlsBasicPutSettings",
                            "type": "structure",
                            "members": {
                              "ConnectionRetryInterval": {
                                "locationName": "connectionRetryInterval",
                                "type": "integer"
                              },
                              "FilecacheDuration": {
                                "locationName": "filecacheDuration",
                                "type": "integer"
                              },
                              "NumRetries": {
                                "locationName": "numRetries",
                                "type": "integer"
                              },
                              "RestartDelay": {
                                "locationName": "restartDelay",
                                "type": "integer"
                              }
                            }
                          },
                          "HlsMediaStoreSettings": {
                            "locationName": "hlsMediaStoreSettings",
                            "type": "structure",
                            "members": {
                              "ConnectionRetryInterval": {
                                "locationName": "connectionRetryInterval",
                                "type": "integer"
                              },
                              "FilecacheDuration": {
                                "locationName": "filecacheDuration",
                                "type": "integer"
                              },
                              "MediaStoreStorageClass": {
                                "locationName": "mediaStoreStorageClass"
                              },
                              "NumRetries": {
                                "locationName": "numRetries",
                                "type": "integer"
                              },
                              "RestartDelay": {
                                "locationName": "restartDelay",
                                "type": "integer"
                              }
                            }
                          },
                          "HlsWebdavSettings": {
                            "locationName": "hlsWebdavSettings",
                            "type": "structure",
                            "members": {
                              "ConnectionRetryInterval": {
                                "locationName": "connectionRetryInterval",
                                "type": "integer"
                              },
                              "FilecacheDuration": {
                                "locationName": "filecacheDuration",
                                "type": "integer"
                              },
                              "HttpTransferMode": {
                                "locationName": "httpTransferMode"
                              },
                              "NumRetries": {
                                "locationName": "numRetries",
                                "type": "integer"
                              },
                              "RestartDelay": {
                                "locationName": "restartDelay",
                                "type": "integer"
                              }
                            }
                          }
                        }
                      },
                      "IndexNSegments": {
                        "locationName": "indexNSegments",
                        "type": "integer"
                      },
                      "InputLossAction": {
                        "locationName": "inputLossAction"
                      },
                      "IvInManifest": {
                        "locationName": "ivInManifest"
                      },
                      "IvSource": {
                        "locationName": "ivSource"
                      },
                      "KeepSegments": {
                        "locationName": "keepSegments",
                        "type": "integer"
                      },
                      "KeyFormat": {
                        "locationName": "keyFormat"
                      },
                      "KeyFormatVersions": {
                        "locationName": "keyFormatVersions"
                      },
                      "KeyProviderSettings": {
                        "locationName": "keyProviderSettings",
                        "type": "structure",
                        "members": {
                          "StaticKeySettings": {
                            "locationName": "staticKeySettings",
                            "type": "structure",
                            "members": {
                              "KeyProviderServer": {
                                "shape": "S1s",
                                "locationName": "keyProviderServer"
                              },
                              "StaticKeyValue": {
                                "locationName": "staticKeyValue"
                              }
                            },
                            "required": [
                              "StaticKeyValue"
                            ]
                          }
                        }
                      },
                      "ManifestCompression": {
                        "locationName": "manifestCompression"
                      },
                      "ManifestDurationFormat": {
                        "locationName": "manifestDurationFormat"
                      },
                      "MinSegmentLength": {
                        "locationName": "minSegmentLength",
                        "type": "integer"
                      },
                      "Mode": {
                        "locationName": "mode"
                      },
                      "OutputSelection": {
                        "locationName": "outputSelection"
                      },
                      "ProgramDateTime": {
                        "locationName": "programDateTime"
                      },
                      "ProgramDateTimePeriod": {
                        "locationName": "programDateTimePeriod",
                        "type": "integer"
                      },
                      "SegmentLength": {
                        "locationName": "segmentLength",
                        "type": "integer"
                      },
                      "SegmentationMode": {
                        "locationName": "segmentationMode"
                      },
                      "SegmentsPerSubdirectory": {
                        "locationName": "segmentsPerSubdirectory",
                        "type": "integer"
                      },
                      "StreamInfResolution": {
                        "locationName": "streamInfResolution"
                      },
                      "TimedMetadataId3Frame": {
                        "locationName": "timedMetadataId3Frame"
                      },
                      "TimedMetadataId3Period": {
                        "locationName": "timedMetadataId3Period",
                        "type": "integer"
                      },
                      "TimestampDeltaMilliseconds": {
                        "locationName": "timestampDeltaMilliseconds",
                        "type": "integer"
                      },
                      "TsFileMode": {
                        "locationName": "tsFileMode"
                      }
                    },
                    "required": [
                      "Destination"
                    ]
                  },
                  "MsSmoothGroupSettings": {
                    "locationName": "msSmoothGroupSettings",
                    "type": "structure",
                    "members": {
                      "AcquisitionPointId": {
                        "locationName": "acquisitionPointId"
                      },
                      "AudioOnlyTimecodeControl": {
                        "locationName": "audioOnlyTimecodeControl"
                      },
                      "CertificateMode": {
                        "locationName": "certificateMode"
                      },
                      "ConnectionRetryInterval": {
                        "locationName": "connectionRetryInterval",
                        "type": "integer"
                      },
                      "Destination": {
                        "shape": "S3i",
                        "locationName": "destination"
                      },
                      "EventId": {
                        "locationName": "eventId"
                      },
                      "EventIdMode": {
                        "locationName": "eventIdMode"
                      },
                      "EventStopBehavior": {
                        "locationName": "eventStopBehavior"
                      },
                      "FilecacheDuration": {
                        "locationName": "filecacheDuration",
                        "type": "integer"
                      },
                      "FragmentLength": {
                        "locationName": "fragmentLength",
                        "type": "integer"
                      },
                      "InputLossAction": {
                        "locationName": "inputLossAction"
                      },
                      "NumRetries": {
                        "locationName": "numRetries",
                        "type": "integer"
                      },
                      "RestartDelay": {
                        "locationName": "restartDelay",
                        "type": "integer"
                      },
                      "SegmentationMode": {
                        "locationName": "segmentationMode"
                      },
                      "SendDelayMs": {
                        "locationName": "sendDelayMs",
                        "type": "integer"
                      },
                      "SparseTrackType": {
                        "locationName": "sparseTrackType"
                      },
                      "StreamManifestBehavior": {
                        "locationName": "streamManifestBehavior"
                      },
                      "TimestampOffset": {
                        "locationName": "timestampOffset"
                      },
                      "TimestampOffsetMode": {
                        "locationName": "timestampOffsetMode"
                      }
                    },
                    "required": [
                      "Destination"
                    ]
                  },
                  "RtmpGroupSettings": {
                    "locationName": "rtmpGroupSettings",
                    "type": "structure",
                    "members": {
                      "AuthenticationScheme": {
                        "locationName": "authenticationScheme"
                      },
                      "CacheFullBehavior": {
                        "locationName": "cacheFullBehavior"
                      },
                      "CacheLength": {
                        "locationName": "cacheLength",
                        "type": "integer"
                      },
                      "CaptionData": {
                        "locationName": "captionData"
                      },
                      "RestartDelay": {
                        "locationName": "restartDelay",
                        "type": "integer"
                      }
                    }
                  },
                  "UdpGroupSettings": {
                    "locationName": "udpGroupSettings",
                    "type": "structure",
                    "members": {
                      "InputLossAction": {
                        "locationName": "inputLossAction"
                      },
                      "TimedMetadataId3Frame": {
                        "locationName": "timedMetadataId3Frame"
                      },
                      "TimedMetadataId3Period": {
                        "locationName": "timedMetadataId3Period",
                        "type": "integer"
                      }
                    }
                  }
                }
              },
              "Outputs": {
                "locationName": "outputs",
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "AudioDescriptionNames": {
                      "shape": "S57",
                      "locationName": "audioDescriptionNames"
                    },
                    "CaptionDescriptionNames": {
                      "shape": "S57",
                      "locationName": "captionDescriptionNames"
                    },
                    "OutputName": {
                      "locationName": "outputName"
                    },
                    "OutputSettings": {
                      "locationName": "outputSettings",
                      "type": "structure",
                      "members": {
                        "ArchiveOutputSettings": {
                          "locationName": "archiveOutputSettings",
                          "type": "structure",
                          "members": {
                            "ContainerSettings": {
                              "locationName": "containerSettings",
                              "type": "structure",
                              "members": {
                                "M2tsSettings": {
                                  "shape": "S5c",
                                  "locationName": "m2tsSettings"
                                }
                              }
                            },
                            "Extension": {
                              "locationName": "extension"
                            },
                            "NameModifier": {
                              "locationName": "nameModifier"
                            }
                          },
                          "required": [
                            "ContainerSettings"
                          ]
                        },
                        "HlsOutputSettings": {
                          "locationName": "hlsOutputSettings",
                          "type": "structure",
                          "members": {
                            "HlsSettings": {
                              "locationName": "hlsSettings",
                              "type": "structure",
                              "members": {
                                "AudioOnlyHlsSettings": {
                                  "locationName": "audioOnlyHlsSettings",
                                  "type": "structure",
                                  "members": {
                                    "AudioGroupId": {
                                      "locationName": "audioGroupId"
                                    },
                                    "AudioOnlyImage": {
                                      "shape": "S1s",
                                      "locationName": "audioOnlyImage"
                                    },
                                    "AudioTrackType": {
                                      "locationName": "audioTrackType"
                                    }
                                  }
                                },
                                "StandardHlsSettings": {
                                  "locationName": "standardHlsSettings",
                                  "type": "structure",
                                  "members": {
                                    "AudioRenditionSets": {
                                      "locationName": "audioRenditionSets"
                                    },
                                    "M3u8Settings": {
                                      "locationName": "m3u8Settings",
                                      "type": "structure",
                                      "members": {
                                        "AudioFramesPerPes": {
                                          "locationName": "audioFramesPerPes",
                                          "type": "integer"
                                        },
                                        "AudioPids": {
                                          "locationName": "audioPids"
                                        },
                                        "EcmPid": {
                                          "locationName": "ecmPid"
                                        },
                                        "PatInterval": {
                                          "locationName": "patInterval",
                                          "type": "integer"
                                        },
                                        "PcrControl": {
                                          "locationName": "pcrControl"
                                        },
                                        "PcrPeriod": {
                                          "locationName": "pcrPeriod",
                                          "type": "integer"
                                        },
                                        "PcrPid": {
                                          "locationName": "pcrPid"
                                        },
                                        "PmtInterval": {
                                          "locationName": "pmtInterval",
                                          "type": "integer"
                                        },
                                        "PmtPid": {
                                          "locationName": "pmtPid"
                                        },
                                        "ProgramNum": {
                                          "locationName": "programNum",
                                          "type": "integer"
                                        },
                                        "Scte35Behavior": {
                                          "locationName": "scte35Behavior"
                                        },
                                        "Scte35Pid": {
                                          "locationName": "scte35Pid"
                                        },
                                        "TimedMetadataBehavior": {
                                          "locationName": "timedMetadataBehavior"
                                        },
                                        "TimedMetadataPid": {
                                          "locationName": "timedMetadataPid"
                                        },
                                        "TransportStreamId": {
                                          "locationName": "transportStreamId",
                                          "type": "integer"
                                        },
                                        "VideoPid": {
                                          "locationName": "videoPid"
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "M3u8Settings"
                                  ]
                                }
                              }
                            },
                            "NameModifier": {
                              "locationName": "nameModifier"
                            },
                            "SegmentModifier": {
                              "locationName": "segmentModifier"
                            }
                          },
                          "required": [
                            "HlsSettings"
                          ]
                        },
                        "MsSmoothOutputSettings": {
                          "locationName": "msSmoothOutputSettings",
                          "type": "structure",
                          "members": {
                            "NameModifier": {
                              "locationName": "nameModifier"
                            }
                          }
                        },
                        "RtmpOutputSettings": {
                          "locationName": "rtmpOutputSettings",
                          "type": "structure",
                          "members": {
                            "CertificateMode": {
                              "locationName": "certificateMode"
                            },
                            "ConnectionRetryInterval": {
                              "locationName": "connectionRetryInterval",
                              "type": "integer"
                            },
                            "Destination": {
                              "shape": "S3i",
                              "locationName": "destination"
                            },
                            "NumRetries": {
                              "locationName": "numRetries",
                              "type": "integer"
                            }
                          },
                          "required": [
                            "Destination"
                          ]
                        },
                        "UdpOutputSettings": {
                          "locationName": "udpOutputSettings",
                          "type": "structure",
                          "members": {
                            "BufferMsec": {
                              "locationName": "bufferMsec",
                              "type": "integer"
                            },
                            "ContainerSettings": {
                              "locationName": "containerSettings",
                              "type": "structure",
                              "members": {
                                "M2tsSettings": {
                                  "shape": "S5c",
                                  "locationName": "m2tsSettings"
                                }
                              }
                            },
                            "Destination": {
                              "shape": "S3i",
                              "locationName": "destination"
                            },
                            "FecOutputSettings": {
                              "locationName": "fecOutputSettings",
                              "type": "structure",
                              "members": {
                                "ColumnDepth": {
                                  "locationName": "columnDepth",
                                  "type": "integer"
                                },
                                "IncludeFec": {
                                  "locationName": "includeFec"
                                },
                                "RowLength": {
                                  "locationName": "rowLength",
                                  "type": "integer"
                                }
                              }
                            }
                          },
                          "required": [
                            "Destination",
                            "ContainerSettings"
                          ]
                        }
                      }
                    },
                    "VideoDescriptionName": {
                      "locationName": "videoDescriptionName"
                    }
                  },
                  "required": [
                    "OutputSettings"
                  ]
                }
              }
            },
            "required": [
              "Outputs",
              "OutputGroupSettings"
            ]
          }
        },
        "TimecodeConfig": {
          "locationName": "timecodeConfig",
          "type": "structure",
          "members": {
            "Source": {
              "locationName": "source"
            },
            "SyncThreshold": {
              "locationName": "syncThreshold",
              "type": "integer"
            }
          },
          "required": [
            "Source"
          ]
        },
        "VideoDescriptions": {
          "locationName": "videoDescriptions",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "CodecSettings": {
                "locationName": "codecSettings",
                "type": "structure",
                "members": {
                  "H264Settings": {
                    "locationName": "h264Settings",
                    "type": "structure",
                    "members": {
                      "AdaptiveQuantization": {
                        "locationName": "adaptiveQuantization"
                      },
                      "AfdSignaling": {
                        "locationName": "afdSignaling"
                      },
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "integer"
                      },
                      "BufFillPct": {
                        "locationName": "bufFillPct",
                        "type": "integer"
                      },
                      "BufSize": {
                        "locationName": "bufSize",
                        "type": "integer"
                      },
                      "ColorMetadata": {
                        "locationName": "colorMetadata"
                      },
                      "EntropyEncoding": {
                        "locationName": "entropyEncoding"
                      },
                      "FixedAfd": {
                        "locationName": "fixedAfd"
                      },
                      "FlickerAq": {
                        "locationName": "flickerAq"
                      },
                      "FramerateControl": {
                        "locationName": "framerateControl"
                      },
                      "FramerateDenominator": {
                        "locationName": "framerateDenominator",
                        "type": "integer"
                      },
                      "FramerateNumerator": {
                        "locationName": "framerateNumerator",
                        "type": "integer"
                      },
                      "GopBReference": {
                        "locationName": "gopBReference"
                      },
                      "GopClosedCadence": {
                        "locationName": "gopClosedCadence",
                        "type": "integer"
                      },
                      "GopNumBFrames": {
                        "locationName": "gopNumBFrames",
                        "type": "integer"
                      },
                      "GopSize": {
                        "locationName": "gopSize",
                        "type": "double"
                      },
                      "GopSizeUnits": {
                        "locationName": "gopSizeUnits"
                      },
                      "Level": {
                        "locationName": "level"
                      },
                      "LookAheadRateControl": {
                        "locationName": "lookAheadRateControl"
                      },
                      "MaxBitrate": {
                        "locationName": "maxBitrate",
                        "type": "integer"
                      },
                      "MinIInterval": {
                        "locationName": "minIInterval",
                        "type": "integer"
                      },
                      "NumRefFrames": {
                        "locationName": "numRefFrames",
                        "type": "integer"
                      },
                      "ParControl": {
                        "locationName": "parControl"
                      },
                      "ParDenominator": {
                        "locationName": "parDenominator",
                        "type": "integer"
                      },
                      "ParNumerator": {
                        "locationName": "parNumerator",
                        "type": "integer"
                      },
                      "Profile": {
                        "locationName": "profile"
                      },
                      "RateControlMode": {
                        "locationName": "rateControlMode"
                      },
                      "ScanType": {
                        "locationName": "scanType"
                      },
                      "SceneChangeDetect": {
                        "locationName": "sceneChangeDetect"
                      },
                      "Slices": {
                        "locationName": "slices",
                        "type": "integer"
                      },
                      "Softness": {
                        "locationName": "softness",
                        "type": "integer"
                      },
                      "SpatialAq": {
                        "locationName": "spatialAq"
                      },
                      "Syntax": {
                        "locationName": "syntax"
                      },
                      "TemporalAq": {
                        "locationName": "temporalAq"
                      },
                      "TimecodeInsertion": {
                        "locationName": "timecodeInsertion"
                      }
                    }
                  }
                }
              },
              "Height": {
                "locationName": "height",
                "type": "integer"
              },
              "Name": {
                "locationName": "name"
              },
              "RespondToAfd": {
                "locationName": "respondToAfd"
              },
              "ScalingBehavior": {
                "locationName": "scalingBehavior"
              },
              "Sharpness": {
                "locationName": "sharpness",
                "type": "integer"
              },
              "Width": {
                "locationName": "width",
                "type": "integer"
              }
            },
            "required": [
              "Name"
            ]
          }
        }
      },
      "required": [
        "VideoDescriptions",
        "AudioDescriptions",
        "OutputGroups",
        "TimecodeConfig"
      ]
    },
    "S1s": {
      "type": "structure",
      "members": {
        "PasswordParam": {
          "locationName": "passwordParam"
        },
        "Uri": {
          "locationName": "uri"
        },
        "Username": {
          "locationName": "username"
        }
      },
      "required": [
        "Uri"
      ]
    },
    "S3i": {
      "type": "structure",
      "members": {
        "DestinationRefId": {
          "locationName": "destinationRefId"
        }
      }
    },
    "S57": {
      "type": "list",
      "member": {}
    },
    "S5c": {
      "type": "structure",
      "members": {
        "AbsentInputAudioBehavior": {
          "locationName": "absentInputAudioBehavior"
        },
        "Arib": {
          "locationName": "arib"
        },
        "AribCaptionsPid": {
          "locationName": "aribCaptionsPid"
        },
        "AribCaptionsPidControl": {
          "locationName": "aribCaptionsPidControl"
        },
        "AudioBufferModel": {
          "locationName": "audioBufferModel"
        },
        "AudioFramesPerPes": {
          "locationName": "audioFramesPerPes",
          "type": "integer"
        },
        "AudioPids": {
          "locationName": "audioPids"
        },
        "AudioStreamType": {
          "locationName": "audioStreamType"
        },
        "Bitrate": {
          "locationName": "bitrate",
          "type": "integer"
        },
        "BufferModel": {
          "locationName": "bufferModel"
        },
        "CcDescriptor": {
          "locationName": "ccDescriptor"
        },
        "DvbNitSettings": {
          "locationName": "dvbNitSettings",
          "type": "structure",
          "members": {
            "NetworkId": {
              "locationName": "networkId",
              "type": "integer"
            },
            "NetworkName": {
              "locationName": "networkName"
            },
            "RepInterval": {
              "locationName": "repInterval",
              "type": "integer"
            }
          },
          "required": [
            "NetworkName",
            "NetworkId"
          ]
        },
        "DvbSdtSettings": {
          "locationName": "dvbSdtSettings",
          "type": "structure",
          "members": {
            "OutputSdt": {
              "locationName": "outputSdt"
            },
            "RepInterval": {
              "locationName": "repInterval",
              "type": "integer"
            },
            "ServiceName": {
              "locationName": "serviceName"
            },
            "ServiceProviderName": {
              "locationName": "serviceProviderName"
            }
          }
        },
        "DvbSubPids": {
          "locationName": "dvbSubPids"
        },
        "DvbTdtSettings": {
          "locationName": "dvbTdtSettings",
          "type": "structure",
          "members": {
            "RepInterval": {
              "locationName": "repInterval",
              "type": "integer"
            }
          }
        },
        "DvbTeletextPid": {
          "locationName": "dvbTeletextPid"
        },
        "Ebif": {
          "locationName": "ebif"
        },
        "EbpAudioInterval": {
          "locationName": "ebpAudioInterval"
        },
        "EbpLookaheadMs": {
          "locationName": "ebpLookaheadMs",
          "type": "integer"
        },
        "EbpPlacement": {
          "locationName": "ebpPlacement"
        },
        "EcmPid": {
          "locationName": "ecmPid"
        },
        "EsRateInPes": {
          "locationName": "esRateInPes"
        },
        "EtvPlatformPid": {
          "locationName": "etvPlatformPid"
        },
        "EtvSignalPid": {
          "locationName": "etvSignalPid"
        },
        "FragmentTime": {
          "locationName": "fragmentTime",
          "type": "double"
        },
        "Klv": {
          "locationName": "klv"
        },
        "KlvDataPids": {
          "locationName": "klvDataPids"
        },
        "NullPacketBitrate": {
          "locationName": "nullPacketBitrate",
          "type": "double"
        },
        "PatInterval": {
          "locationName": "patInterval",
          "type": "integer"
        },
        "PcrControl": {
          "locationName": "pcrControl"
        },
        "PcrPeriod": {
          "locationName": "pcrPeriod",
          "type": "integer"
        },
        "PcrPid": {
          "locationName": "pcrPid"
        },
        "PmtInterval": {
          "locationName": "pmtInterval",
          "type": "integer"
        },
        "PmtPid": {
          "locationName": "pmtPid"
        },
        "ProgramNum": {
          "locationName": "programNum",
          "type": "integer"
        },
        "RateMode": {
          "locationName": "rateMode"
        },
        "Scte27Pids": {
          "locationName": "scte27Pids"
        },
        "Scte35Control": {
          "locationName": "scte35Control"
        },
        "Scte35Pid": {
          "locationName": "scte35Pid"
        },
        "SegmentationMarkers": {
          "locationName": "segmentationMarkers"
        },
        "SegmentationStyle": {
          "locationName": "segmentationStyle"
        },
        "SegmentationTime": {
          "locationName": "segmentationTime",
          "type": "double"
        },
        "TimedMetadataBehavior": {
          "locationName": "timedMetadataBehavior"
        },
        "TimedMetadataPid": {
          "locationName": "timedMetadataPid"
        },
        "TransportStreamId": {
          "locationName": "transportStreamId",
          "type": "integer"
        },
        "VideoPid": {
          "locationName": "videoPid"
        }
      }
    },
    "S7q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "InputId": {
            "locationName": "inputId"
          },
          "InputSettings": {
            "locationName": "inputSettings",
            "type": "structure",
            "members": {
              "AudioSelectors": {
                "locationName": "audioSelectors",
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {
                      "locationName": "name"
                    },
                    "SelectorSettings": {
                      "locationName": "selectorSettings",
                      "type": "structure",
                      "members": {
                        "AudioLanguageSelection": {
                          "locationName": "audioLanguageSelection",
                          "type": "structure",
                          "members": {
                            "LanguageCode": {
                              "locationName": "languageCode"
                            },
                            "LanguageSelectionPolicy": {
                              "locationName": "languageSelectionPolicy"
                            }
                          },
                          "required": [
                            "LanguageCode"
                          ]
                        },
                        "AudioPidSelection": {
                          "locationName": "audioPidSelection",
                          "type": "structure",
                          "members": {
                            "Pid": {
                              "locationName": "pid",
                              "type": "integer"
                            }
                          },
                          "required": [
                            "Pid"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "Name"
                  ]
                }
              },
              "CaptionSelectors": {
                "locationName": "captionSelectors",
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "LanguageCode": {
                      "locationName": "languageCode"
                    },
                    "Name": {
                      "locationName": "name"
                    },
                    "SelectorSettings": {
                      "locationName": "selectorSettings",
                      "type": "structure",
                      "members": {
                        "AribSourceSettings": {
                          "locationName": "aribSourceSettings",
                          "type": "structure",
                          "members": {}
                        },
                        "DvbSubSourceSettings": {
                          "locationName": "dvbSubSourceSettings",
                          "type": "structure",
                          "members": {
                            "Pid": {
                              "locationName": "pid",
                              "type": "integer"
                            }
                          }
                        },
                        "EmbeddedSourceSettings": {
                          "locationName": "embeddedSourceSettings",
                          "type": "structure",
                          "members": {
                            "Convert608To708": {
                              "locationName": "convert608To708"
                            },
                            "Scte20Detection": {
                              "locationName": "scte20Detection"
                            },
                            "Source608ChannelNumber": {
                              "locationName": "source608ChannelNumber",
                              "type": "integer"
                            },
                            "Source608TrackNumber": {
                              "locationName": "source608TrackNumber",
                              "type": "integer"
                            }
                          }
                        },
                        "Scte20SourceSettings": {
                          "locationName": "scte20SourceSettings",
                          "type": "structure",
                          "members": {
                            "Convert608To708": {
                              "locationName": "convert608To708"
                            },
                            "Source608ChannelNumber": {
                              "locationName": "source608ChannelNumber",
                              "type": "integer"
                            }
                          }
                        },
                        "Scte27SourceSettings": {
                          "locationName": "scte27SourceSettings",
                          "type": "structure",
                          "members": {
                            "Pid": {
                              "locationName": "pid",
                              "type": "integer"
                            }
                          }
                        },
                        "TeletextSourceSettings": {
                          "locationName": "teletextSourceSettings",
                          "type": "structure",
                          "members": {
                            "PageNumber": {
                              "locationName": "pageNumber"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "Name"
                  ]
                }
              },
              "DeblockFilter": {
                "locationName": "deblockFilter"
              },
              "DenoiseFilter": {
                "locationName": "denoiseFilter"
              },
              "FilterStrength": {
                "locationName": "filterStrength",
                "type": "integer"
              },
              "InputFilter": {
                "locationName": "inputFilter"
              },
              "NetworkInputSettings": {
                "locationName": "networkInputSettings",
                "type": "structure",
                "members": {
                  "HlsInputSettings": {
                    "locationName": "hlsInputSettings",
                    "type": "structure",
                    "members": {
                      "Bandwidth": {
                        "locationName": "bandwidth",
                        "type": "integer"
                      },
                      "BufferSegments": {
                        "locationName": "bufferSegments",
                        "type": "integer"
                      },
                      "Retries": {
                        "locationName": "retries",
                        "type": "integer"
                      },
                      "RetryInterval": {
                        "locationName": "retryInterval",
                        "type": "integer"
                      }
                    }
                  },
                  "ServerValidation": {
                    "locationName": "serverValidation"
                  }
                }
              },
              "SourceEndBehavior": {
                "locationName": "sourceEndBehavior"
              },
              "VideoSelector": {
                "locationName": "videoSelector",
                "type": "structure",
                "members": {
                  "ColorSpace": {
                    "locationName": "colorSpace"
                  },
                  "ColorSpaceUsage": {
                    "locationName": "colorSpaceUsage"
                  },
                  "SelectorSettings": {
                    "locationName": "selectorSettings",
                    "type": "structure",
                    "members": {
                      "VideoSelectorPid": {
                        "locationName": "videoSelectorPid",
                        "type": "structure",
                        "members": {
                          "Pid": {
                            "locationName": "pid",
                            "type": "integer"
                          }
                        }
                      },
                      "VideoSelectorProgramId": {
                        "locationName": "videoSelectorProgramId",
                        "type": "structure",
                        "members": {
                          "ProgramId": {
                            "locationName": "programId",
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "S8q": {
      "type": "structure",
      "members": {
        "Codec": {
          "locationName": "codec"
        },
        "MaximumBitrate": {
          "locationName": "maximumBitrate"
        },
        "Resolution": {
          "locationName": "resolution"
        }
      }
    },
    "S8w": {
      "type": "structure",
      "members": {
        "Arn": {
          "locationName": "arn"
        },
        "Destinations": {
          "shape": "S2",
          "locationName": "destinations"
        },
        "EgressEndpoints": {
          "shape": "S8x",
          "locationName": "egressEndpoints"
        },
        "EncoderSettings": {
          "shape": "S7",
          "locationName": "encoderSettings"
        },
        "Id": {
          "locationName": "id"
        },
        "InputAttachments": {
          "shape": "S7q",
          "locationName": "inputAttachments"
        },
        "InputSpecification": {
          "shape": "S8q",
          "locationName": "inputSpecification"
        },
        "LogLevel": {
          "locationName": "logLevel"
        },
        "Name": {
          "locationName": "name"
        },
        "PipelinesRunningCount": {
          "locationName": "pipelinesRunningCount",
          "type": "integer"
        },
        "RoleArn": {
          "locationName": "roleArn"
        },
        "State": {
          "locationName": "state"
        }
      }
    },
    "S8x": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "SourceIp": {
            "locationName": "sourceIp"
          }
        }
      }
    },
    "S91": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "StreamName": {
            "locationName": "streamName"
          }
        }
      }
    },
    "S93": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PasswordParam": {
            "locationName": "passwordParam"
          },
          "Url": {
            "locationName": "url"
          },
          "Username": {
            "locationName": "username"
          }
        }
      }
    },
    "S97": {
      "type": "structure",
      "members": {
        "Arn": {
          "locationName": "arn"
        },
        "AttachedChannels": {
          "shape": "S57",
          "locationName": "attachedChannels"
        },
        "Destinations": {
          "shape": "S98",
          "locationName": "destinations"
        },
        "Id": {
          "locationName": "id"
        },
        "Name": {
          "locationName": "name"
        },
        "SecurityGroups": {
          "shape": "S57",
          "locationName": "securityGroups"
        },
        "Sources": {
          "shape": "S9a",
          "locationName": "sources"
        },
        "State": {
          "locationName": "state"
        },
        "Type": {
          "locationName": "type"
        }
      }
    },
    "S98": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Ip": {
            "locationName": "ip"
          },
          "Port": {
            "locationName": "port"
          },
          "Url": {
            "locationName": "url"
          }
        }
      }
    },
    "S9a": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PasswordParam": {
            "locationName": "passwordParam"
          },
          "Url": {
            "locationName": "url"
          },
          "Username": {
            "locationName": "username"
          }
        }
      }
    },
    "S9e": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Cidr": {
            "locationName": "cidr"
          }
        }
      }
    },
    "S9h": {
      "type": "structure",
      "members": {
        "Arn": {
          "locationName": "arn"
        },
        "Id": {
          "locationName": "id"
        },
        "Inputs": {
          "shape": "S57",
          "locationName": "inputs"
        },
        "State": {
          "locationName": "state"
        },
        "WhitelistRules": {
          "shape": "S9j",
          "locationName": "whitelistRules"
        }
      }
    },
    "S9j": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Cidr": {
            "locationName": "cidr"
          }
        }
      }
    }
  }
}