{
  "metadata": {
    "apiVersion": "2017-10-12",
    "endpointPrefix": "mediapackage",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "MediaPackage",
    "serviceFullName": "AWS Elemental MediaPackage",
    "serviceId": "MediaPackage",
    "signatureVersion": "v4",
    "signingName": "mediapackage",
    "uid": "mediapackage-2017-10-12"
  },
  "operations": {
    "CreateChannel": {
      "http": {
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Description": {
            "locationName": "description"
          },
          "Id": {
            "locationName": "id"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsIngest": {
            "locationName": "hlsIngest",
            "shape": "S5"
          },
          "Id": {
            "locationName": "id"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "type": "structure"
      }
    },
    "CreateHarvestJob": {
      "http": {
        "requestUri": "/harvest_jobs",
        "responseCode": 200
      },
      "input": {
        "members": {
          "EndTime": {
            "locationName": "endTime"
          },
          "Id": {
            "locationName": "id"
          },
          "OriginEndpointId": {
            "locationName": "originEndpointId"
          },
          "S3Destination": {
            "locationName": "s3Destination",
            "shape": "S9"
          },
          "StartTime": {
            "locationName": "startTime"
          }
        },
        "required": [
          "S3Destination",
          "EndTime",
          "OriginEndpointId",
          "StartTime",
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "ChannelId": {
            "locationName": "channelId"
          },
          "CreatedAt": {
            "locationName": "createdAt"
          },
          "EndTime": {
            "locationName": "endTime"
          },
          "Id": {
            "locationName": "id"
          },
          "OriginEndpointId": {
            "locationName": "originEndpointId"
          },
          "S3Destination": {
            "locationName": "s3Destination",
            "shape": "S9"
          },
          "StartTime": {
            "locationName": "startTime"
          },
          "Status": {
            "locationName": "status"
          }
        },
        "type": "structure"
      }
    },
    "CreateOriginEndpoint": {
      "http": {
        "requestUri": "/origin_endpoints",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Authorization": {
            "locationName": "authorization",
            "shape": "Sd"
          },
          "ChannelId": {
            "locationName": "channelId"
          },
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "Se"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "St"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "S10"
          },
          "Id": {
            "locationName": "id"
          },
          "ManifestName": {
            "locationName": "manifestName"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "S13"
          },
          "Origination": {
            "locationName": "origination"
          },
          "StartoverWindowSeconds": {
            "locationName": "startoverWindowSeconds",
            "type": "integer"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          },
          "TimeDelaySeconds": {
            "locationName": "timeDelaySeconds",
            "type": "integer"
          },
          "Whitelist": {
            "locationName": "whitelist",
            "shape": "Si"
          }
        },
        "required": [
          "ChannelId",
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Authorization": {
            "locationName": "authorization",
            "shape": "Sd"
          },
          "ChannelId": {
            "locationName": "channelId"
          },
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "S17"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "St"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "S10"
          },
          "Id": {
            "locationName": "id"
          },
          "ManifestName": {
            "locationName": "manifestName"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "S13"
          },
          "Origination": {
            "locationName": "origination"
          },
          "StartoverWindowSeconds": {
            "locationName": "startoverWindowSeconds",
            "type": "integer"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          },
          "TimeDelaySeconds": {
            "locationName": "timeDelaySeconds",
            "type": "integer"
          },
          "Url": {
            "locationName": "url"
          },
          "Whitelist": {
            "locationName": "whitelist",
            "shape": "Si"
          }
        },
        "type": "structure"
      }
    },
    "DeleteChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{id}",
        "responseCode": 202
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DeleteOriginEndpoint": {
      "http": {
        "method": "DELETE",
        "requestUri": "/origin_endpoints/{id}",
        "responseCode": 202
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DescribeChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{id}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsIngest": {
            "locationName": "hlsIngest",
            "shape": "S5"
          },
          "Id": {
            "locationName": "id"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "type": "structure"
      }
    },
    "DescribeHarvestJob": {
      "http": {
        "method": "GET",
        "requestUri": "/harvest_jobs/{id}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "ChannelId": {
            "locationName": "channelId"
          },
          "CreatedAt": {
            "locationName": "createdAt"
          },
          "EndTime": {
            "locationName": "endTime"
          },
          "Id": {
            "locationName": "id"
          },
          "OriginEndpointId": {
            "locationName": "originEndpointId"
          },
          "S3Destination": {
            "locationName": "s3Destination",
            "shape": "S9"
          },
          "StartTime": {
            "locationName": "startTime"
          },
          "Status": {
            "locationName": "status"
          }
        },
        "type": "structure"
      }
    },
    "DescribeOriginEndpoint": {
      "http": {
        "method": "GET",
        "requestUri": "/origin_endpoints/{id}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Authorization": {
            "locationName": "authorization",
            "shape": "Sd"
          },
          "ChannelId": {
            "locationName": "channelId"
          },
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "S17"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "St"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "S10"
          },
          "Id": {
            "locationName": "id"
          },
          "ManifestName": {
            "locationName": "manifestName"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "S13"
          },
          "Origination": {
            "locationName": "origination"
          },
          "StartoverWindowSeconds": {
            "locationName": "startoverWindowSeconds",
            "type": "integer"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          },
          "TimeDelaySeconds": {
            "locationName": "timeDelaySeconds",
            "type": "integer"
          },
          "Url": {
            "locationName": "url"
          },
          "Whitelist": {
            "locationName": "whitelist",
            "shape": "Si"
          }
        },
        "type": "structure"
      }
    },
    "ListChannels": {
      "http": {
        "method": "GET",
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "type": "structure"
      },
      "output": {
        "members": {
          "Channels": {
            "locationName": "channels",
            "member": {
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "Description": {
                  "locationName": "description"
                },
                "HlsIngest": {
                  "locationName": "hlsIngest",
                  "shape": "S5"
                },
                "Id": {
                  "locationName": "id"
                },
                "Tags": {
                  "locationName": "tags",
                  "shape": "S3"
                }
              },
              "type": "structure"
            },
            "type": "list"
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        },
        "type": "structure"
      }
    },
    "ListHarvestJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/harvest_jobs",
        "responseCode": 200
      },
      "input": {
        "members": {
          "IncludeChannelId": {
            "location": "querystring",
            "locationName": "includeChannelId"
          },
          "IncludeStatus": {
            "location": "querystring",
            "locationName": "includeStatus"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "type": "structure"
      },
      "output": {
        "members": {
          "HarvestJobs": {
            "locationName": "harvestJobs",
            "member": {
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "ChannelId": {
                  "locationName": "channelId"
                },
                "CreatedAt": {
                  "locationName": "createdAt"
                },
                "EndTime": {
                  "locationName": "endTime"
                },
                "Id": {
                  "locationName": "id"
                },
                "OriginEndpointId": {
                  "locationName": "originEndpointId"
                },
                "S3Destination": {
                  "locationName": "s3Destination",
                  "shape": "S9"
                },
                "StartTime": {
                  "locationName": "startTime"
                },
                "Status": {
                  "locationName": "status"
                }
              },
              "type": "structure"
            },
            "type": "list"
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        },
        "type": "structure"
      }
    },
    "ListOriginEndpoints": {
      "http": {
        "method": "GET",
        "requestUri": "/origin_endpoints",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelId": {
            "location": "querystring",
            "locationName": "channelId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "type": "structure"
      },
      "output": {
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "OriginEndpoints": {
            "locationName": "originEndpoints",
            "member": {
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "Authorization": {
                  "locationName": "authorization",
                  "shape": "Sd"
                },
                "ChannelId": {
                  "locationName": "channelId"
                },
                "CmafPackage": {
                  "locationName": "cmafPackage",
                  "shape": "S17"
                },
                "DashPackage": {
                  "locationName": "dashPackage",
                  "shape": "St"
                },
                "Description": {
                  "locationName": "description"
                },
                "HlsPackage": {
                  "locationName": "hlsPackage",
                  "shape": "S10"
                },
                "Id": {
                  "locationName": "id"
                },
                "ManifestName": {
                  "locationName": "manifestName"
                },
                "MssPackage": {
                  "locationName": "mssPackage",
                  "shape": "S13"
                },
                "Origination": {
                  "locationName": "origination"
                },
                "StartoverWindowSeconds": {
                  "locationName": "startoverWindowSeconds",
                  "type": "integer"
                },
                "Tags": {
                  "locationName": "tags",
                  "shape": "S3"
                },
                "TimeDelaySeconds": {
                  "locationName": "timeDelaySeconds",
                  "type": "integer"
                },
                "Url": {
                  "locationName": "url"
                },
                "Whitelist": {
                  "locationName": "whitelist",
                  "shape": "Si"
                }
              },
              "type": "structure"
            },
            "type": "list"
          }
        },
        "type": "structure"
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          }
        },
        "required": [
          "ResourceArn"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Tags": {
            "locationName": "tags",
            "shape": "S1z"
          }
        },
        "type": "structure"
      }
    },
    "RotateChannelCredentials": {
      "deprecated": true,
      "deprecatedMessage": "This API is deprecated. Please use RotateIngestEndpointCredentials instead",
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{id}/credentials",
        "responseCode": 200
      },
      "input": {
        "deprecated": true,
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "deprecated": true,
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsIngest": {
            "locationName": "hlsIngest",
            "shape": "S5"
          },
          "Id": {
            "locationName": "id"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "type": "structure"
      }
    },
    "RotateIngestEndpointCredentials": {
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{id}/ingest_endpoints/{ingest_endpoint_id}/credentials",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          },
          "IngestEndpointId": {
            "location": "uri",
            "locationName": "ingest_endpoint_id"
          }
        },
        "required": [
          "IngestEndpointId",
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsIngest": {
            "locationName": "hlsIngest",
            "shape": "S5"
          },
          "Id": {
            "locationName": "id"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "type": "structure"
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S1z"
          }
        },
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "type": "structure"
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "shape": "Si"
          }
        },
        "required": [
          "TagKeys",
          "ResourceArn"
        ],
        "type": "structure"
      }
    },
    "UpdateChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{id}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Description": {
            "locationName": "description"
          },
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsIngest": {
            "locationName": "hlsIngest",
            "shape": "S5"
          },
          "Id": {
            "locationName": "id"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "type": "structure"
      }
    },
    "UpdateOriginEndpoint": {
      "http": {
        "method": "PUT",
        "requestUri": "/origin_endpoints/{id}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Authorization": {
            "locationName": "authorization",
            "shape": "Sd"
          },
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "Se"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "St"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "S10"
          },
          "Id": {
            "location": "uri",
            "locationName": "id"
          },
          "ManifestName": {
            "locationName": "manifestName"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "S13"
          },
          "Origination": {
            "locationName": "origination"
          },
          "StartoverWindowSeconds": {
            "locationName": "startoverWindowSeconds",
            "type": "integer"
          },
          "TimeDelaySeconds": {
            "locationName": "timeDelaySeconds",
            "type": "integer"
          },
          "Whitelist": {
            "locationName": "whitelist",
            "shape": "Si"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Authorization": {
            "locationName": "authorization",
            "shape": "Sd"
          },
          "ChannelId": {
            "locationName": "channelId"
          },
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "S17"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "St"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "S10"
          },
          "Id": {
            "locationName": "id"
          },
          "ManifestName": {
            "locationName": "manifestName"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "S13"
          },
          "Origination": {
            "locationName": "origination"
          },
          "StartoverWindowSeconds": {
            "locationName": "startoverWindowSeconds",
            "type": "integer"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          },
          "TimeDelaySeconds": {
            "locationName": "timeDelaySeconds",
            "type": "integer"
          },
          "Url": {
            "locationName": "url"
          },
          "Whitelist": {
            "locationName": "whitelist",
            "shape": "Si"
          }
        },
        "type": "structure"
      }
    }
  },
  "shapes": {
    "S3": {
      "key": {},
      "type": "map",
      "value": {}
    },
    "S5": {
      "members": {
        "IngestEndpoints": {
          "locationName": "ingestEndpoints",
          "member": {
            "members": {
              "Id": {
                "locationName": "id"
              },
              "Password": {
                "locationName": "password"
              },
              "Url": {
                "locationName": "url"
              },
              "Username": {
                "locationName": "username"
              }
            },
            "type": "structure"
          },
          "type": "list"
        }
      },
      "type": "structure"
    },
    "S9": {
      "members": {
        "BucketName": {
          "locationName": "bucketName"
        },
        "ManifestKey": {
          "locationName": "manifestKey"
        },
        "RoleArn": {
          "locationName": "roleArn"
        }
      },
      "required": [
        "ManifestKey",
        "BucketName",
        "RoleArn"
      ],
      "type": "structure"
    },
    "Sd": {
      "members": {
        "CdnIdentifierSecret": {
          "locationName": "cdnIdentifierSecret"
        },
        "SecretsRoleArn": {
          "locationName": "secretsRoleArn"
        }
      },
      "required": [
        "SecretsRoleArn",
        "CdnIdentifierSecret"
      ],
      "type": "structure"
    },
    "Se": {
      "members": {
        "Encryption": {
          "locationName": "encryption",
          "shape": "Sf"
        },
        "HlsManifests": {
          "locationName": "hlsManifests",
          "member": {
            "members": {
              "AdMarkers": {
                "locationName": "adMarkers"
              },
              "AdTriggers": {
                "locationName": "adTriggers",
                "shape": "Sm"
              },
              "AdsOnDeliveryRestrictions": {
                "locationName": "adsOnDeliveryRestrictions"
              },
              "Id": {
                "locationName": "id"
              },
              "IncludeIframeOnlyStream": {
                "locationName": "includeIframeOnlyStream",
                "type": "boolean"
              },
              "ManifestName": {
                "locationName": "manifestName"
              },
              "PlaylistType": {
                "locationName": "playlistType"
              },
              "PlaylistWindowSeconds": {
                "locationName": "playlistWindowSeconds",
                "type": "integer"
              },
              "ProgramDateTimeIntervalSeconds": {
                "locationName": "programDateTimeIntervalSeconds",
                "type": "integer"
              }
            },
            "required": [
              "Id"
            ],
            "type": "structure"
          },
          "type": "list"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        },
        "SegmentPrefix": {
          "locationName": "segmentPrefix"
        },
        "StreamSelection": {
          "locationName": "streamSelection",
          "shape": "Sr"
        }
      },
      "type": "structure"
    },
    "Sf": {
      "members": {
        "KeyRotationIntervalSeconds": {
          "locationName": "keyRotationIntervalSeconds",
          "type": "integer"
        },
        "SpekeKeyProvider": {
          "locationName": "spekeKeyProvider",
          "shape": "Sh"
        }
      },
      "required": [
        "SpekeKeyProvider"
      ],
      "type": "structure"
    },
    "Sh": {
      "members": {
        "CertificateArn": {
          "locationName": "certificateArn"
        },
        "ResourceId": {
          "locationName": "resourceId"
        },
        "RoleArn": {
          "locationName": "roleArn"
        },
        "SystemIds": {
          "locationName": "systemIds",
          "shape": "Si"
        },
        "Url": {
          "locationName": "url"
        }
      },
      "required": [
        "ResourceId",
        "SystemIds",
        "Url",
        "RoleArn"
      ],
      "type": "structure"
    },
    "Si": {
      "member": {},
      "type": "list"
    },
    "Sm": {
      "member": {},
      "type": "list"
    },
    "Sr": {
      "members": {
        "MaxVideoBitsPerSecond": {
          "locationName": "maxVideoBitsPerSecond",
          "type": "integer"
        },
        "MinVideoBitsPerSecond": {
          "locationName": "minVideoBitsPerSecond",
          "type": "integer"
        },
        "StreamOrder": {
          "locationName": "streamOrder"
        }
      },
      "type": "structure"
    },
    "St": {
      "members": {
        "AdTriggers": {
          "locationName": "adTriggers",
          "shape": "Sm"
        },
        "AdsOnDeliveryRestrictions": {
          "locationName": "adsOnDeliveryRestrictions"
        },
        "Encryption": {
          "locationName": "encryption",
          "members": {
            "KeyRotationIntervalSeconds": {
              "locationName": "keyRotationIntervalSeconds",
              "type": "integer"
            },
            "SpekeKeyProvider": {
              "locationName": "spekeKeyProvider",
              "shape": "Sh"
            }
          },
          "required": [
            "SpekeKeyProvider"
          ],
          "type": "structure"
        },
        "ManifestLayout": {
          "locationName": "manifestLayout"
        },
        "ManifestWindowSeconds": {
          "locationName": "manifestWindowSeconds",
          "type": "integer"
        },
        "MinBufferTimeSeconds": {
          "locationName": "minBufferTimeSeconds",
          "type": "integer"
        },
        "MinUpdatePeriodSeconds": {
          "locationName": "minUpdatePeriodSeconds",
          "type": "integer"
        },
        "PeriodTriggers": {
          "locationName": "periodTriggers",
          "member": {},
          "type": "list"
        },
        "Profile": {
          "locationName": "profile"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        },
        "SegmentTemplateFormat": {
          "locationName": "segmentTemplateFormat"
        },
        "StreamSelection": {
          "locationName": "streamSelection",
          "shape": "Sr"
        },
        "SuggestedPresentationDelaySeconds": {
          "locationName": "suggestedPresentationDelaySeconds",
          "type": "integer"
        }
      },
      "type": "structure"
    },
    "S10": {
      "members": {
        "AdMarkers": {
          "locationName": "adMarkers"
        },
        "AdTriggers": {
          "locationName": "adTriggers",
          "shape": "Sm"
        },
        "AdsOnDeliveryRestrictions": {
          "locationName": "adsOnDeliveryRestrictions"
        },
        "Encryption": {
          "locationName": "encryption",
          "members": {
            "ConstantInitializationVector": {
              "locationName": "constantInitializationVector"
            },
            "EncryptionMethod": {
              "locationName": "encryptionMethod"
            },
            "KeyRotationIntervalSeconds": {
              "locationName": "keyRotationIntervalSeconds",
              "type": "integer"
            },
            "RepeatExtXKey": {
              "locationName": "repeatExtXKey",
              "type": "boolean"
            },
            "SpekeKeyProvider": {
              "locationName": "spekeKeyProvider",
              "shape": "Sh"
            }
          },
          "required": [
            "SpekeKeyProvider"
          ],
          "type": "structure"
        },
        "IncludeIframeOnlyStream": {
          "locationName": "includeIframeOnlyStream",
          "type": "boolean"
        },
        "PlaylistType": {
          "locationName": "playlistType"
        },
        "PlaylistWindowSeconds": {
          "locationName": "playlistWindowSeconds",
          "type": "integer"
        },
        "ProgramDateTimeIntervalSeconds": {
          "locationName": "programDateTimeIntervalSeconds",
          "type": "integer"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        },
        "StreamSelection": {
          "locationName": "streamSelection",
          "shape": "Sr"
        },
        "UseAudioRenditionGroup": {
          "locationName": "useAudioRenditionGroup",
          "type": "boolean"
        }
      },
      "type": "structure"
    },
    "S13": {
      "members": {
        "Encryption": {
          "locationName": "encryption",
          "members": {
            "SpekeKeyProvider": {
              "locationName": "spekeKeyProvider",
              "shape": "Sh"
            }
          },
          "required": [
            "SpekeKeyProvider"
          ],
          "type": "structure"
        },
        "ManifestWindowSeconds": {
          "locationName": "manifestWindowSeconds",
          "type": "integer"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        },
        "StreamSelection": {
          "locationName": "streamSelection",
          "shape": "Sr"
        }
      },
      "type": "structure"
    },
    "S17": {
      "members": {
        "Encryption": {
          "locationName": "encryption",
          "shape": "Sf"
        },
        "HlsManifests": {
          "locationName": "hlsManifests",
          "member": {
            "members": {
              "AdMarkers": {
                "locationName": "adMarkers"
              },
              "Id": {
                "locationName": "id"
              },
              "IncludeIframeOnlyStream": {
                "locationName": "includeIframeOnlyStream",
                "type": "boolean"
              },
              "ManifestName": {
                "locationName": "manifestName"
              },
              "PlaylistType": {
                "locationName": "playlistType"
              },
              "PlaylistWindowSeconds": {
                "locationName": "playlistWindowSeconds",
                "type": "integer"
              },
              "ProgramDateTimeIntervalSeconds": {
                "locationName": "programDateTimeIntervalSeconds",
                "type": "integer"
              },
              "Url": {
                "locationName": "url"
              }
            },
            "required": [
              "Id"
            ],
            "type": "structure"
          },
          "type": "list"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        },
        "SegmentPrefix": {
          "locationName": "segmentPrefix"
        },
        "StreamSelection": {
          "locationName": "streamSelection",
          "shape": "Sr"
        }
      },
      "type": "structure"
    },
    "S1z": {
      "key": {},
      "type": "map",
      "value": {}
    }
  }
}