{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-04-23",
    "endpointPrefix": "api.mediatailor",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "MediaTailor",
    "serviceFullName": "AWS MediaTailor",
    "serviceId": "MediaTailor",
    "signatureVersion": "v4",
    "signingName": "mediatailor",
    "uid": "mediatailor-2018-04-23"
  },
  "operations": {
    "ConfigureLogsForPlaybackConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/configureLogs/playbackConfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PercentEnabled",
          "PlaybackConfigurationName"
        ],
        "members": {
          "PercentEnabled": {
            "type": "integer"
          },
          "PlaybackConfigurationName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "PercentEnabled"
        ],
        "members": {
          "PercentEnabled": {
            "type": "integer"
          },
          "PlaybackConfigurationName": {}
        }
      },
      "idempotent": true
    },
    "CreateChannel": {
      "http": {
        "requestUri": "/channel/{ChannelName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName",
          "Outputs",
          "PlaybackMode"
        ],
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          },
          "FillerSlate": {
            "shape": "S6"
          },
          "Outputs": {
            "shape": "S7"
          },
          "PlaybackMode": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          },
          "Tier": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "ChannelName": {},
          "ChannelState": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "FillerSlate": {
            "shape": "S6"
          },
          "LastModifiedTime": {
            "shape": "Sg"
          },
          "Outputs": {
            "shape": "Sh"
          },
          "PlaybackMode": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          },
          "Tier": {}
        }
      },
      "idempotent": true
    },
    "CreateLiveSource": {
      "http": {
        "requestUri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "HttpPackageConfigurations",
          "LiveSourceName",
          "SourceLocationName"
        ],
        "members": {
          "HttpPackageConfigurations": {
            "shape": "Sk"
          },
          "LiveSourceName": {
            "location": "uri",
            "locationName": "LiveSourceName"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          },
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "HttpPackageConfigurations": {
            "shape": "Sk"
          },
          "LastModifiedTime": {
            "shape": "Sg"
          },
          "LiveSourceName": {},
          "SourceLocationName": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          }
        }
      },
      "idempotent": true
    },
    "CreatePrefetchSchedule": {
      "http": {
        "requestUri": "/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Consumption",
          "Name",
          "PlaybackConfigurationName",
          "Retrieval"
        ],
        "members": {
          "Consumption": {
            "shape": "Sp"
          },
          "Name": {
            "location": "uri",
            "locationName": "Name"
          },
          "PlaybackConfigurationName": {
            "location": "uri",
            "locationName": "PlaybackConfigurationName"
          },
          "Retrieval": {
            "shape": "St"
          },
          "StreamId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Consumption": {
            "shape": "Sp"
          },
          "Name": {},
          "PlaybackConfigurationName": {},
          "Retrieval": {
            "shape": "St"
          },
          "StreamId": {}
        }
      },
      "idempotent": true
    },
    "CreateProgram": {
      "http": {
        "requestUri": "/channel/{ChannelName}/program/{ProgramName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName",
          "ProgramName",
          "ScheduleConfiguration",
          "SourceLocationName"
        ],
        "members": {
          "AdBreaks": {
            "shape": "Sw"
          },
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          },
          "LiveSourceName": {},
          "ProgramName": {
            "location": "uri",
            "locationName": "ProgramName"
          },
          "ScheduleConfiguration": {
            "type": "structure",
            "required": [
              "Transition"
            ],
            "members": {
              "Transition": {
                "type": "structure",
                "required": [
                  "RelativePosition",
                  "Type"
                ],
                "members": {
                  "DurationMillis": {
                    "type": "long"
                  },
                  "RelativePosition": {},
                  "RelativeProgram": {},
                  "ScheduledStartTimeMillis": {
                    "type": "long"
                  },
                  "Type": {}
                }
              }
            }
          },
          "SourceLocationName": {},
          "VodSourceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AdBreaks": {
            "shape": "Sw"
          },
          "Arn": {},
          "ChannelName": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "LiveSourceName": {},
          "ProgramName": {},
          "ScheduledStartTime": {
            "shape": "Sg"
          },
          "SourceLocationName": {},
          "VodSourceName": {}
        }
      },
      "idempotent": true
    },
    "CreateSourceLocation": {
      "http": {
        "requestUri": "/sourceLocation/{SourceLocationName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "HttpConfiguration",
          "SourceLocationName"
        ],
        "members": {
          "AccessConfiguration": {
            "shape": "S16"
          },
          "DefaultSegmentDeliveryConfiguration": {
            "shape": "S19"
          },
          "HttpConfiguration": {
            "shape": "S1a"
          },
          "SegmentDeliveryConfigurations": {
            "shape": "S1b"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          },
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccessConfiguration": {
            "shape": "S16"
          },
          "Arn": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "DefaultSegmentDeliveryConfiguration": {
            "shape": "S19"
          },
          "HttpConfiguration": {
            "shape": "S1a"
          },
          "LastModifiedTime": {
            "shape": "Sg"
          },
          "SegmentDeliveryConfigurations": {
            "shape": "S1b"
          },
          "SourceLocationName": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          }
        }
      },
      "idempotent": true
    },
    "CreateVodSource": {
      "http": {
        "requestUri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "HttpPackageConfigurations",
          "SourceLocationName",
          "VodSourceName"
        ],
        "members": {
          "HttpPackageConfigurations": {
            "shape": "Sk"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          },
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          },
          "VodSourceName": {
            "location": "uri",
            "locationName": "VodSourceName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "HttpPackageConfigurations": {
            "shape": "Sk"
          },
          "LastModifiedTime": {
            "shape": "Sg"
          },
          "SourceLocationName": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          },
          "VodSourceName": {}
        }
      },
      "idempotent": true
    },
    "DeleteChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channel/{ChannelName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName"
        ],
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteChannelPolicy": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channel/{ChannelName}/policy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName"
        ],
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteLiveSource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "LiveSourceName",
          "SourceLocationName"
        ],
        "members": {
          "LiveSourceName": {
            "location": "uri",
            "locationName": "LiveSourceName"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeletePlaybackConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/playbackConfiguration/{Name}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "Name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeletePrefetchSchedule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "PlaybackConfigurationName"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "Name"
          },
          "PlaybackConfigurationName": {
            "location": "uri",
            "locationName": "PlaybackConfigurationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteProgram": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channel/{ChannelName}/program/{ProgramName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName",
          "ProgramName"
        ],
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          },
          "ProgramName": {
            "location": "uri",
            "locationName": "ProgramName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteSourceLocation": {
      "http": {
        "method": "DELETE",
        "requestUri": "/sourceLocation/{SourceLocationName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SourceLocationName"
        ],
        "members": {
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteVodSource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SourceLocationName",
          "VodSourceName"
        ],
        "members": {
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          },
          "VodSourceName": {
            "location": "uri",
            "locationName": "VodSourceName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DescribeChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/channel/{ChannelName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName"
        ],
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "ChannelName": {},
          "ChannelState": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "FillerSlate": {
            "shape": "S6"
          },
          "LastModifiedTime": {
            "shape": "Sg"
          },
          "Outputs": {
            "shape": "Sh"
          },
          "PlaybackMode": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          },
          "Tier": {}
        }
      }
    },
    "DescribeLiveSource": {
      "http": {
        "method": "GET",
        "requestUri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "LiveSourceName",
          "SourceLocationName"
        ],
        "members": {
          "LiveSourceName": {
            "location": "uri",
            "locationName": "LiveSourceName"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "HttpPackageConfigurations": {
            "shape": "Sk"
          },
          "LastModifiedTime": {
            "shape": "Sg"
          },
          "LiveSourceName": {},
          "SourceLocationName": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          }
        }
      }
    },
    "DescribeProgram": {
      "http": {
        "method": "GET",
        "requestUri": "/channel/{ChannelName}/program/{ProgramName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName",
          "ProgramName"
        ],
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          },
          "ProgramName": {
            "location": "uri",
            "locationName": "ProgramName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AdBreaks": {
            "shape": "Sw"
          },
          "Arn": {},
          "ChannelName": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "LiveSourceName": {},
          "ProgramName": {},
          "ScheduledStartTime": {
            "shape": "Sg"
          },
          "SourceLocationName": {},
          "VodSourceName": {}
        }
      }
    },
    "DescribeSourceLocation": {
      "http": {
        "method": "GET",
        "requestUri": "/sourceLocation/{SourceLocationName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SourceLocationName"
        ],
        "members": {
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccessConfiguration": {
            "shape": "S16"
          },
          "Arn": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "DefaultSegmentDeliveryConfiguration": {
            "shape": "S19"
          },
          "HttpConfiguration": {
            "shape": "S1a"
          },
          "LastModifiedTime": {
            "shape": "Sg"
          },
          "SegmentDeliveryConfigurations": {
            "shape": "S1b"
          },
          "SourceLocationName": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          }
        }
      }
    },
    "DescribeVodSource": {
      "http": {
        "method": "GET",
        "requestUri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SourceLocationName",
          "VodSourceName"
        ],
        "members": {
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          },
          "VodSourceName": {
            "location": "uri",
            "locationName": "VodSourceName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "HttpPackageConfigurations": {
            "shape": "Sk"
          },
          "LastModifiedTime": {
            "shape": "Sg"
          },
          "SourceLocationName": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          },
          "VodSourceName": {}
        }
      }
    },
    "GetChannelPolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/channel/{ChannelName}/policy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName"
        ],
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {}
        }
      }
    },
    "GetChannelSchedule": {
      "http": {
        "method": "GET",
        "requestUri": "/channel/{ChannelName}/schedule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName"
        ],
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          },
          "DurationMinutes": {
            "location": "querystring",
            "locationName": "durationMinutes"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Arn",
                "ChannelName",
                "ProgramName",
                "SourceLocationName"
              ],
              "members": {
                "ApproximateDurationSeconds": {
                  "type": "long"
                },
                "ApproximateStartTime": {
                  "shape": "Sg"
                },
                "Arn": {},
                "ChannelName": {},
                "LiveSourceName": {},
                "ProgramName": {},
                "ScheduleAdBreaks": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "ApproximateDurationSeconds": {
                        "type": "long"
                      },
                      "ApproximateStartTime": {
                        "shape": "Sg"
                      },
                      "SourceLocationName": {},
                      "VodSourceName": {}
                    }
                  }
                },
                "ScheduleEntryType": {},
                "SourceLocationName": {},
                "VodSourceName": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetPlaybackConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/playbackConfiguration/{Name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "Name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AdDecisionServerUrl": {},
          "AvailSuppression": {
            "shape": "S2i"
          },
          "Bumper": {
            "shape": "S2k"
          },
          "CdnConfiguration": {
            "shape": "S2l"
          },
          "ConfigurationAliases": {
            "shape": "S2m"
          },
          "DashConfiguration": {
            "shape": "S2n"
          },
          "HlsConfiguration": {
            "shape": "S2p"
          },
          "LivePreRollConfiguration": {
            "shape": "S2q"
          },
          "LogConfiguration": {
            "shape": "S2r"
          },
          "ManifestProcessingRules": {
            "shape": "S2s"
          },
          "Name": {},
          "PersonalizationThresholdSeconds": {
            "type": "integer"
          },
          "PlaybackConfigurationArn": {},
          "PlaybackEndpointPrefix": {},
          "SessionInitializationEndpointPrefix": {},
          "SlateAdUrl": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          },
          "TranscodeProfileName": {},
          "VideoContentSourceUrl": {}
        }
      }
    },
    "GetPrefetchSchedule": {
      "http": {
        "method": "GET",
        "requestUri": "/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "PlaybackConfigurationName"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "Name"
          },
          "PlaybackConfigurationName": {
            "location": "uri",
            "locationName": "PlaybackConfigurationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Consumption": {
            "shape": "Sp"
          },
          "Name": {},
          "PlaybackConfigurationName": {},
          "Retrieval": {
            "shape": "St"
          },
          "StreamId": {}
        }
      }
    },
    "ListAlerts": {
      "http": {
        "method": "GET",
        "requestUri": "/alerts",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "ResourceArn": {
            "location": "querystring",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AlertCode",
                "AlertMessage",
                "LastModifiedTime",
                "RelatedResourceArns",
                "ResourceArn"
              ],
              "members": {
                "AlertCode": {},
                "AlertMessage": {},
                "LastModifiedTime": {
                  "shape": "Sg"
                },
                "RelatedResourceArns": {
                  "shape": "S32"
                },
                "ResourceArn": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListChannels": {
      "http": {
        "method": "GET",
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Arn",
                "ChannelName",
                "ChannelState",
                "Outputs",
                "PlaybackMode",
                "Tier"
              ],
              "members": {
                "Arn": {},
                "ChannelName": {},
                "ChannelState": {},
                "CreationTime": {
                  "shape": "Sg"
                },
                "FillerSlate": {
                  "shape": "S6"
                },
                "LastModifiedTime": {
                  "shape": "Sg"
                },
                "Outputs": {
                  "shape": "Sh"
                },
                "PlaybackMode": {},
                "Tags": {
                  "shape": "Sc",
                  "locationName": "tags"
                },
                "Tier": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListLiveSources": {
      "http": {
        "method": "GET",
        "requestUri": "/sourceLocation/{SourceLocationName}/liveSources",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SourceLocationName"
        ],
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Arn",
                "HttpPackageConfigurations",
                "LiveSourceName",
                "SourceLocationName"
              ],
              "members": {
                "Arn": {},
                "CreationTime": {
                  "shape": "Sg"
                },
                "HttpPackageConfigurations": {
                  "shape": "Sk"
                },
                "LastModifiedTime": {
                  "shape": "Sg"
                },
                "LiveSourceName": {},
                "SourceLocationName": {},
                "Tags": {
                  "shape": "Sc",
                  "locationName": "tags"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPlaybackConfigurations": {
      "http": {
        "method": "GET",
        "requestUri": "/playbackConfigurations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Items": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AdDecisionServerUrl": {},
                "AvailSuppression": {
                  "shape": "S2i"
                },
                "Bumper": {
                  "shape": "S2k"
                },
                "CdnConfiguration": {
                  "shape": "S2l"
                },
                "ConfigurationAliases": {
                  "shape": "S2m"
                },
                "DashConfiguration": {
                  "shape": "S2n"
                },
                "HlsConfiguration": {
                  "shape": "S2p"
                },
                "LivePreRollConfiguration": {
                  "shape": "S2q"
                },
                "LogConfiguration": {
                  "shape": "S2r"
                },
                "ManifestProcessingRules": {
                  "shape": "S2s"
                },
                "Name": {},
                "PersonalizationThresholdSeconds": {
                  "type": "integer"
                },
                "PlaybackConfigurationArn": {},
                "PlaybackEndpointPrefix": {},
                "SessionInitializationEndpointPrefix": {},
                "SlateAdUrl": {},
                "Tags": {
                  "shape": "Sc",
                  "locationName": "tags"
                },
                "TranscodeProfileName": {},
                "VideoContentSourceUrl": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPrefetchSchedules": {
      "http": {
        "requestUri": "/prefetchSchedule/{PlaybackConfigurationName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PlaybackConfigurationName"
        ],
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "PlaybackConfigurationName": {
            "location": "uri",
            "locationName": "PlaybackConfigurationName"
          },
          "StreamId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Arn",
                "Consumption",
                "Name",
                "PlaybackConfigurationName",
                "Retrieval"
              ],
              "members": {
                "Arn": {},
                "Consumption": {
                  "shape": "Sp"
                },
                "Name": {},
                "PlaybackConfigurationName": {},
                "Retrieval": {
                  "shape": "St"
                },
                "StreamId": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSourceLocations": {
      "http": {
        "method": "GET",
        "requestUri": "/sourceLocations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Arn",
                "HttpConfiguration",
                "SourceLocationName"
              ],
              "members": {
                "AccessConfiguration": {
                  "shape": "S16"
                },
                "Arn": {},
                "CreationTime": {
                  "shape": "Sg"
                },
                "DefaultSegmentDeliveryConfiguration": {
                  "shape": "S19"
                },
                "HttpConfiguration": {
                  "shape": "S1a"
                },
                "LastModifiedTime": {
                  "shape": "Sg"
                },
                "SegmentDeliveryConfigurations": {
                  "shape": "S1b"
                },
                "SourceLocationName": {},
                "Tags": {
                  "shape": "Sc",
                  "locationName": "tags"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          }
        }
      }
    },
    "ListVodSources": {
      "http": {
        "method": "GET",
        "requestUri": "/sourceLocation/{SourceLocationName}/vodSources",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "SourceLocationName"
        ],
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Items": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Arn",
                "HttpPackageConfigurations",
                "SourceLocationName",
                "VodSourceName"
              ],
              "members": {
                "Arn": {},
                "CreationTime": {
                  "shape": "Sg"
                },
                "HttpPackageConfigurations": {
                  "shape": "Sk"
                },
                "LastModifiedTime": {
                  "shape": "Sg"
                },
                "SourceLocationName": {},
                "Tags": {
                  "shape": "Sc",
                  "locationName": "tags"
                },
                "VodSourceName": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "PutChannelPolicy": {
      "http": {
        "method": "PUT",
        "requestUri": "/channel/{ChannelName}/policy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName",
          "Policy"
        ],
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          },
          "Policy": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "PutPlaybackConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/playbackConfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "AdDecisionServerUrl": {},
          "AvailSuppression": {
            "shape": "S2i"
          },
          "Bumper": {
            "shape": "S2k"
          },
          "CdnConfiguration": {
            "shape": "S2l"
          },
          "ConfigurationAliases": {
            "type": "map",
            "key": {},
            "value": {
              "shape": "Sc"
            }
          },
          "DashConfiguration": {
            "type": "structure",
            "members": {
              "MpdLocation": {},
              "OriginManifestType": {}
            }
          },
          "LivePreRollConfiguration": {
            "shape": "S2q"
          },
          "ManifestProcessingRules": {
            "shape": "S2s"
          },
          "Name": {},
          "PersonalizationThresholdSeconds": {
            "type": "integer"
          },
          "SlateAdUrl": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          },
          "TranscodeProfileName": {},
          "VideoContentSourceUrl": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AdDecisionServerUrl": {},
          "AvailSuppression": {
            "shape": "S2i"
          },
          "Bumper": {
            "shape": "S2k"
          },
          "CdnConfiguration": {
            "shape": "S2l"
          },
          "ConfigurationAliases": {
            "shape": "S2m"
          },
          "DashConfiguration": {
            "shape": "S2n"
          },
          "HlsConfiguration": {
            "shape": "S2p"
          },
          "LivePreRollConfiguration": {
            "shape": "S2q"
          },
          "LogConfiguration": {
            "shape": "S2r"
          },
          "ManifestProcessingRules": {
            "shape": "S2s"
          },
          "Name": {},
          "PersonalizationThresholdSeconds": {
            "type": "integer"
          },
          "PlaybackConfigurationArn": {},
          "PlaybackEndpointPrefix": {},
          "SessionInitializationEndpointPrefix": {},
          "SlateAdUrl": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          },
          "TranscodeProfileName": {},
          "VideoContentSourceUrl": {}
        }
      },
      "idempotent": true
    },
    "StartChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/channel/{ChannelName}/start",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName"
        ],
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "StopChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/channel/{ChannelName}/stop",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName"
        ],
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          }
        }
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "shape": "S32",
            "location": "querystring",
            "locationName": "tagKeys"
          }
        }
      },
      "idempotent": true
    },
    "UpdateChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/channel/{ChannelName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ChannelName",
          "Outputs"
        ],
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "ChannelName"
          },
          "FillerSlate": {
            "shape": "S6"
          },
          "Outputs": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "ChannelName": {},
          "ChannelState": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "FillerSlate": {
            "shape": "S6"
          },
          "LastModifiedTime": {
            "shape": "Sg"
          },
          "Outputs": {
            "shape": "Sh"
          },
          "PlaybackMode": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          },
          "Tier": {}
        }
      },
      "idempotent": true
    },
    "UpdateLiveSource": {
      "http": {
        "method": "PUT",
        "requestUri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "HttpPackageConfigurations",
          "LiveSourceName",
          "SourceLocationName"
        ],
        "members": {
          "HttpPackageConfigurations": {
            "shape": "Sk"
          },
          "LiveSourceName": {
            "location": "uri",
            "locationName": "LiveSourceName"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "HttpPackageConfigurations": {
            "shape": "Sk"
          },
          "LastModifiedTime": {
            "shape": "Sg"
          },
          "LiveSourceName": {},
          "SourceLocationName": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          }
        }
      },
      "idempotent": true
    },
    "UpdateSourceLocation": {
      "http": {
        "method": "PUT",
        "requestUri": "/sourceLocation/{SourceLocationName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "HttpConfiguration",
          "SourceLocationName"
        ],
        "members": {
          "AccessConfiguration": {
            "shape": "S16"
          },
          "DefaultSegmentDeliveryConfiguration": {
            "shape": "S19"
          },
          "HttpConfiguration": {
            "shape": "S1a"
          },
          "SegmentDeliveryConfigurations": {
            "shape": "S1b"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccessConfiguration": {
            "shape": "S16"
          },
          "Arn": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "DefaultSegmentDeliveryConfiguration": {
            "shape": "S19"
          },
          "HttpConfiguration": {
            "shape": "S1a"
          },
          "LastModifiedTime": {
            "shape": "Sg"
          },
          "SegmentDeliveryConfigurations": {
            "shape": "S1b"
          },
          "SourceLocationName": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          }
        }
      },
      "idempotent": true
    },
    "UpdateVodSource": {
      "http": {
        "method": "PUT",
        "requestUri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "HttpPackageConfigurations",
          "SourceLocationName",
          "VodSourceName"
        ],
        "members": {
          "HttpPackageConfigurations": {
            "shape": "Sk"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "SourceLocationName"
          },
          "VodSourceName": {
            "location": "uri",
            "locationName": "VodSourceName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "CreationTime": {
            "shape": "Sg"
          },
          "HttpPackageConfigurations": {
            "shape": "Sk"
          },
          "LastModifiedTime": {
            "shape": "Sg"
          },
          "SourceLocationName": {},
          "Tags": {
            "shape": "Sc",
            "locationName": "tags"
          },
          "VodSourceName": {}
        }
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S6": {
      "type": "structure",
      "members": {
        "SourceLocationName": {},
        "VodSourceName": {}
      }
    },
    "S7": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ManifestName",
          "SourceGroup"
        ],
        "members": {
          "DashPlaylistSettings": {
            "shape": "S9"
          },
          "HlsPlaylistSettings": {
            "shape": "Sa"
          },
          "ManifestName": {},
          "SourceGroup": {}
        }
      }
    },
    "S9": {
      "type": "structure",
      "members": {
        "ManifestWindowSeconds": {
          "type": "integer"
        },
        "MinBufferTimeSeconds": {
          "type": "integer"
        },
        "MinUpdatePeriodSeconds": {
          "type": "integer"
        },
        "SuggestedPresentationDelaySeconds": {
          "type": "integer"
        }
      }
    },
    "Sa": {
      "type": "structure",
      "members": {
        "ManifestWindowSeconds": {
          "type": "integer"
        }
      }
    },
    "Sc": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sg": {
      "type": "timestamp",
      "timestampFormat": "unixTimestamp"
    },
    "Sh": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ManifestName",
          "PlaybackUrl",
          "SourceGroup"
        ],
        "members": {
          "DashPlaylistSettings": {
            "shape": "S9"
          },
          "HlsPlaylistSettings": {
            "shape": "Sa"
          },
          "ManifestName": {},
          "PlaybackUrl": {},
          "SourceGroup": {}
        }
      }
    },
    "Sk": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Path",
          "SourceGroup",
          "Type"
        ],
        "members": {
          "Path": {},
          "SourceGroup": {},
          "Type": {}
        }
      }
    },
    "Sp": {
      "type": "structure",
      "required": [
        "EndTime"
      ],
      "members": {
        "AvailMatchingCriteria": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "DynamicVariable",
              "Operator"
            ],
            "members": {
              "DynamicVariable": {},
              "Operator": {}
            }
          }
        },
        "EndTime": {
          "shape": "Sg"
        },
        "StartTime": {
          "shape": "Sg"
        }
      }
    },
    "St": {
      "type": "structure",
      "required": [
        "EndTime"
      ],
      "members": {
        "DynamicVariables": {
          "shape": "Sc"
        },
        "EndTime": {
          "shape": "Sg"
        },
        "StartTime": {
          "shape": "Sg"
        }
      }
    },
    "Sw": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "MessageType": {},
          "OffsetMillis": {
            "type": "long"
          },
          "Slate": {
            "shape": "S6"
          },
          "SpliceInsertMessage": {
            "type": "structure",
            "members": {
              "AvailNum": {
                "type": "integer"
              },
              "AvailsExpected": {
                "type": "integer"
              },
              "SpliceEventId": {
                "type": "integer"
              },
              "UniqueProgramId": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "S16": {
      "type": "structure",
      "members": {
        "AccessType": {},
        "SecretsManagerAccessTokenConfiguration": {
          "type": "structure",
          "members": {
            "HeaderName": {},
            "SecretArn": {},
            "SecretStringKey": {}
          }
        }
      }
    },
    "S19": {
      "type": "structure",
      "members": {
        "BaseUrl": {}
      }
    },
    "S1a": {
      "type": "structure",
      "required": [
        "BaseUrl"
      ],
      "members": {
        "BaseUrl": {}
      }
    },
    "S1b": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "BaseUrl": {},
          "Name": {}
        }
      }
    },
    "S2i": {
      "type": "structure",
      "members": {
        "Mode": {},
        "Value": {}
      }
    },
    "S2k": {
      "type": "structure",
      "members": {
        "EndUrl": {},
        "StartUrl": {}
      }
    },
    "S2l": {
      "type": "structure",
      "members": {
        "AdSegmentUrlPrefix": {},
        "ContentSegmentUrlPrefix": {}
      }
    },
    "S2m": {
      "type": "map",
      "key": {},
      "value": {
        "shape": "Sc"
      }
    },
    "S2n": {
      "type": "structure",
      "members": {
        "ManifestEndpointPrefix": {},
        "MpdLocation": {},
        "OriginManifestType": {}
      }
    },
    "S2p": {
      "type": "structure",
      "members": {
        "ManifestEndpointPrefix": {}
      }
    },
    "S2q": {
      "type": "structure",
      "members": {
        "AdDecisionServerUrl": {},
        "MaxDurationSeconds": {
          "type": "integer"
        }
      }
    },
    "S2r": {
      "type": "structure",
      "required": [
        "PercentEnabled"
      ],
      "members": {
        "PercentEnabled": {
          "type": "integer"
        }
      }
    },
    "S2s": {
      "type": "structure",
      "members": {
        "AdMarkerPassthrough": {
          "type": "structure",
          "members": {
            "Enabled": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "S32": {
      "type": "list",
      "member": {}
    }
  }
}