{
  "metadata": {
    "apiVersion": "2017-08-29",
    "endpointPrefix": "mediaconvert",
    "signingName": "mediaconvert",
    "serviceFullName": "AWS Elemental MediaConvert",
    "serviceId": "MediaConvert",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "mediaconvert-2017-08-29",
    "signatureVersion": "v4",
    "serviceAbbreviation": "MediaConvert"
  },
  "operations": {
    "CancelJob": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/jobs/{id}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "Id": {
            "locationName": "id",
            "location": "uri"
          }
        },
        "required": [
          "Id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateJob": {
      "http": {
        "requestUri": "/2017-08-29/jobs",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "ClientRequestToken": {
            "locationName": "clientRequestToken",
            "idempotencyToken": true
          },
          "JobTemplate": {
            "locationName": "jobTemplate"
          },
          "Queue": {
            "locationName": "queue"
          },
          "Role": {
            "locationName": "role"
          },
          "Settings": {
            "shape": "S5",
            "locationName": "settings"
          },
          "UserMetadata": {
            "shape": "S84",
            "locationName": "userMetadata"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "shape": "S86",
            "locationName": "job"
          }
        }
      }
    },
    "CreateJobTemplate": {
      "http": {
        "requestUri": "/2017-08-29/jobTemplates",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Category": {
            "locationName": "category"
          },
          "Description": {
            "locationName": "description"
          },
          "Name": {
            "locationName": "name"
          },
          "Queue": {
            "locationName": "queue"
          },
          "Settings": {
            "shape": "S8g",
            "locationName": "settings"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobTemplate": {
            "shape": "S8k",
            "locationName": "jobTemplate"
          }
        }
      }
    },
    "CreatePreset": {
      "http": {
        "requestUri": "/2017-08-29/presets",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Category": {
            "locationName": "category"
          },
          "Description": {
            "locationName": "description"
          },
          "Name": {
            "locationName": "name"
          },
          "Settings": {
            "shape": "S8n",
            "locationName": "settings"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Preset": {
            "shape": "S8r",
            "locationName": "preset"
          }
        }
      }
    },
    "CreateQueue": {
      "http": {
        "requestUri": "/2017-08-29/queues",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Description": {
            "locationName": "description"
          },
          "Name": {
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Queue": {
            "shape": "S8u",
            "locationName": "queue"
          }
        }
      }
    },
    "DeleteJobTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name",
            "location": "uri"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePreset": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name",
            "location": "uri"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteQueue": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name",
            "location": "uri"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeEndpoints": {
      "http": {
        "requestUri": "/2017-08-29/endpoints",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Endpoints": {
            "locationName": "endpoints",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Url": {
                  "locationName": "url"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "GetJob": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobs/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Id": {
            "locationName": "id",
            "location": "uri"
          }
        },
        "required": [
          "Id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "shape": "S86",
            "locationName": "job"
          }
        }
      }
    },
    "GetJobTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name",
            "location": "uri"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "JobTemplate": {
            "shape": "S8k",
            "locationName": "jobTemplate"
          }
        }
      }
    },
    "GetPreset": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name",
            "location": "uri"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Preset": {
            "shape": "S8r",
            "locationName": "preset"
          }
        }
      }
    },
    "GetQueue": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name",
            "location": "uri"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Queue": {
            "shape": "S8u",
            "locationName": "queue"
          }
        }
      }
    },
    "ListJobTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobTemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Category": {
            "locationName": "category",
            "location": "querystring"
          },
          "ListBy": {
            "locationName": "listBy",
            "location": "querystring"
          },
          "MaxResults": {
            "locationName": "maxResults",
            "location": "querystring",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken",
            "location": "querystring"
          },
          "Order": {
            "locationName": "order",
            "location": "querystring"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobTemplates": {
            "locationName": "jobTemplates",
            "type": "list",
            "member": {
              "shape": "S8k"
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "locationName": "maxResults",
            "location": "querystring",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken",
            "location": "querystring"
          },
          "Order": {
            "locationName": "order",
            "location": "querystring"
          },
          "Queue": {
            "locationName": "queue",
            "location": "querystring"
          },
          "Status": {
            "locationName": "status",
            "location": "querystring"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "locationName": "jobs",
            "type": "list",
            "member": {
              "shape": "S86"
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListPresets": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/presets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Category": {
            "locationName": "category",
            "location": "querystring"
          },
          "ListBy": {
            "locationName": "listBy",
            "location": "querystring"
          },
          "MaxResults": {
            "locationName": "maxResults",
            "location": "querystring",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken",
            "location": "querystring"
          },
          "Order": {
            "locationName": "order",
            "location": "querystring"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "Presets": {
            "locationName": "presets",
            "type": "list",
            "member": {
              "shape": "S8r"
            }
          }
        }
      }
    },
    "ListQueues": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/queues",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ListBy": {
            "locationName": "listBy",
            "location": "querystring"
          },
          "MaxResults": {
            "locationName": "maxResults",
            "location": "querystring",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken",
            "location": "querystring"
          },
          "Order": {
            "locationName": "order",
            "location": "querystring"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "Queues": {
            "locationName": "queues",
            "type": "list",
            "member": {
              "shape": "S8u"
            }
          }
        }
      }
    },
    "UpdateJobTemplate": {
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Category": {
            "locationName": "category"
          },
          "Description": {
            "locationName": "description"
          },
          "Name": {
            "locationName": "name",
            "location": "uri"
          },
          "Queue": {
            "locationName": "queue"
          },
          "Settings": {
            "shape": "S8g",
            "locationName": "settings"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "JobTemplate": {
            "shape": "S8k",
            "locationName": "jobTemplate"
          }
        }
      }
    },
    "UpdatePreset": {
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Category": {
            "locationName": "category"
          },
          "Description": {
            "locationName": "description"
          },
          "Name": {
            "locationName": "name",
            "location": "uri"
          },
          "Settings": {
            "shape": "S8n",
            "locationName": "settings"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Preset": {
            "shape": "S8r",
            "locationName": "preset"
          }
        }
      }
    },
    "UpdateQueue": {
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Description": {
            "locationName": "description"
          },
          "Name": {
            "locationName": "name",
            "location": "uri"
          },
          "Status": {
            "locationName": "status"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Queue": {
            "shape": "S8u",
            "locationName": "queue"
          }
        }
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "structure",
      "members": {
        "AdAvailOffset": {
          "locationName": "adAvailOffset",
          "type": "integer"
        },
        "AvailBlanking": {
          "shape": "S7",
          "locationName": "availBlanking"
        },
        "Inputs": {
          "locationName": "inputs",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "AudioSelectorGroups": {
                "shape": "Sa",
                "locationName": "audioSelectorGroups"
              },
              "AudioSelectors": {
                "shape": "Sd",
                "locationName": "audioSelectors"
              },
              "CaptionSelectors": {
                "shape": "Sn",
                "locationName": "captionSelectors"
              },
              "DeblockFilter": {
                "locationName": "deblockFilter"
              },
              "DenoiseFilter": {
                "locationName": "denoiseFilter"
              },
              "FileInput": {
                "locationName": "fileInput"
              },
              "FilterEnable": {
                "locationName": "filterEnable"
              },
              "FilterStrength": {
                "locationName": "filterStrength",
                "type": "integer"
              },
              "InputClippings": {
                "shape": "S11",
                "locationName": "inputClippings"
              },
              "ProgramNumber": {
                "locationName": "programNumber",
                "type": "integer"
              },
              "PsiControl": {
                "locationName": "psiControl"
              },
              "TimecodeSource": {
                "locationName": "timecodeSource"
              },
              "VideoSelector": {
                "shape": "S15",
                "locationName": "videoSelector"
              }
            }
          }
        },
        "NielsenConfiguration": {
          "shape": "S19",
          "locationName": "nielsenConfiguration"
        },
        "OutputGroups": {
          "shape": "S1a",
          "locationName": "outputGroups"
        },
        "TimecodeConfig": {
          "shape": "S7z",
          "locationName": "timecodeConfig"
        },
        "TimedMetadataInsertion": {
          "shape": "S81",
          "locationName": "timedMetadataInsertion"
        }
      }
    },
    "S7": {
      "type": "structure",
      "members": {
        "AvailBlankingImage": {
          "locationName": "availBlankingImage"
        }
      }
    },
    "Sa": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "AudioSelectorNames": {
            "shape": "Sc",
            "locationName": "audioSelectorNames"
          }
        }
      }
    },
    "Sc": {
      "type": "list",
      "member": {}
    },
    "Sd": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "DefaultSelection": {
            "locationName": "defaultSelection"
          },
          "ExternalAudioFileInput": {
            "locationName": "externalAudioFileInput"
          },
          "LanguageCode": {
            "locationName": "languageCode"
          },
          "Offset": {
            "locationName": "offset",
            "type": "integer"
          },
          "Pids": {
            "shape": "Sh",
            "locationName": "pids"
          },
          "ProgramSelection": {
            "locationName": "programSelection",
            "type": "integer"
          },
          "RemixSettings": {
            "shape": "Si",
            "locationName": "remixSettings"
          },
          "SelectorType": {
            "locationName": "selectorType"
          },
          "Tracks": {
            "shape": "Sh",
            "locationName": "tracks"
          }
        }
      }
    },
    "Sh": {
      "type": "list",
      "member": {
        "type": "integer"
      }
    },
    "Si": {
      "type": "structure",
      "members": {
        "ChannelMapping": {
          "locationName": "channelMapping",
          "type": "structure",
          "members": {
            "OutputChannels": {
              "locationName": "outputChannels",
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "InputChannels": {
                    "shape": "Sh",
                    "locationName": "inputChannels"
                  }
                }
              }
            }
          }
        },
        "ChannelsIn": {
          "locationName": "channelsIn",
          "type": "integer"
        },
        "ChannelsOut": {
          "locationName": "channelsOut",
          "type": "integer"
        }
      }
    },
    "Sn": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "LanguageCode": {
            "locationName": "languageCode"
          },
          "SourceSettings": {
            "locationName": "sourceSettings",
            "type": "structure",
            "members": {
              "AncillarySourceSettings": {
                "locationName": "ancillarySourceSettings",
                "type": "structure",
                "members": {
                  "SourceAncillaryChannelNumber": {
                    "locationName": "sourceAncillaryChannelNumber",
                    "type": "integer"
                  }
                }
              },
              "DvbSubSourceSettings": {
                "locationName": "dvbSubSourceSettings",
                "type": "structure",
                "members": {
                  "Pid": {
                    "locationName": "pid",
                    "type": "integer"
                  }
                }
              },
              "EmbeddedSourceSettings": {
                "locationName": "embeddedSourceSettings",
                "type": "structure",
                "members": {
                  "Convert608To708": {
                    "locationName": "convert608To708"
                  },
                  "Source608ChannelNumber": {
                    "locationName": "source608ChannelNumber",
                    "type": "integer"
                  },
                  "Source608TrackNumber": {
                    "locationName": "source608TrackNumber",
                    "type": "integer"
                  }
                }
              },
              "FileSourceSettings": {
                "locationName": "fileSourceSettings",
                "type": "structure",
                "members": {
                  "Convert608To708": {
                    "locationName": "convert608To708"
                  },
                  "SourceFile": {
                    "locationName": "sourceFile"
                  },
                  "TimeDelta": {
                    "locationName": "timeDelta",
                    "type": "integer"
                  }
                }
              },
              "SourceType": {
                "locationName": "sourceType"
              },
              "TeletextSourceSettings": {
                "locationName": "teletextSourceSettings",
                "type": "structure",
                "members": {
                  "PageNumber": {
                    "locationName": "pageNumber"
                  }
                }
              }
            }
          }
        }
      }
    },
    "S11": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "EndTimecode": {
            "locationName": "endTimecode"
          },
          "StartTimecode": {
            "locationName": "startTimecode"
          }
        }
      }
    },
    "S15": {
      "type": "structure",
      "members": {
        "ColorSpace": {
          "locationName": "colorSpace"
        },
        "ColorSpaceUsage": {
          "locationName": "colorSpaceUsage"
        },
        "Hdr10Metadata": {
          "shape": "S18",
          "locationName": "hdr10Metadata"
        },
        "Pid": {
          "locationName": "pid",
          "type": "integer"
        },
        "ProgramNumber": {
          "locationName": "programNumber",
          "type": "integer"
        }
      }
    },
    "S18": {
      "type": "structure",
      "members": {
        "BluePrimaryX": {
          "locationName": "bluePrimaryX",
          "type": "integer"
        },
        "BluePrimaryY": {
          "locationName": "bluePrimaryY",
          "type": "integer"
        },
        "GreenPrimaryX": {
          "locationName": "greenPrimaryX",
          "type": "integer"
        },
        "GreenPrimaryY": {
          "locationName": "greenPrimaryY",
          "type": "integer"
        },
        "MaxContentLightLevel": {
          "locationName": "maxContentLightLevel",
          "type": "integer"
        },
        "MaxFrameAverageLightLevel": {
          "locationName": "maxFrameAverageLightLevel",
          "type": "integer"
        },
        "MaxLuminance": {
          "locationName": "maxLuminance",
          "type": "integer"
        },
        "MinLuminance": {
          "locationName": "minLuminance",
          "type": "integer"
        },
        "RedPrimaryX": {
          "locationName": "redPrimaryX",
          "type": "integer"
        },
        "RedPrimaryY": {
          "locationName": "redPrimaryY",
          "type": "integer"
        },
        "WhitePointX": {
          "locationName": "whitePointX",
          "type": "integer"
        },
        "WhitePointY": {
          "locationName": "whitePointY",
          "type": "integer"
        }
      }
    },
    "S19": {
      "type": "structure",
      "members": {
        "BreakoutCode": {
          "locationName": "breakoutCode",
          "type": "integer"
        },
        "DistributorId": {
          "locationName": "distributorId"
        }
      }
    },
    "S1a": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "CustomName": {
            "locationName": "customName"
          },
          "Name": {
            "locationName": "name"
          },
          "OutputGroupSettings": {
            "locationName": "outputGroupSettings",
            "type": "structure",
            "members": {
              "DashIsoGroupSettings": {
                "locationName": "dashIsoGroupSettings",
                "type": "structure",
                "members": {
                  "BaseUrl": {
                    "locationName": "baseUrl"
                  },
                  "Destination": {
                    "locationName": "destination"
                  },
                  "Encryption": {
                    "locationName": "encryption",
                    "type": "structure",
                    "members": {
                      "SpekeKeyProvider": {
                        "shape": "S1f",
                        "locationName": "spekeKeyProvider"
                      }
                    }
                  },
                  "FragmentLength": {
                    "locationName": "fragmentLength",
                    "type": "integer"
                  },
                  "HbbtvCompliance": {
                    "locationName": "hbbtvCompliance"
                  },
                  "MinBufferTime": {
                    "locationName": "minBufferTime",
                    "type": "integer"
                  },
                  "SegmentControl": {
                    "locationName": "segmentControl"
                  },
                  "SegmentLength": {
                    "locationName": "segmentLength",
                    "type": "integer"
                  }
                }
              },
              "FileGroupSettings": {
                "locationName": "fileGroupSettings",
                "type": "structure",
                "members": {
                  "Destination": {
                    "locationName": "destination"
                  }
                }
              },
              "HlsGroupSettings": {
                "locationName": "hlsGroupSettings",
                "type": "structure",
                "members": {
                  "AdMarkers": {
                    "locationName": "adMarkers",
                    "type": "list",
                    "member": {}
                  },
                  "BaseUrl": {
                    "locationName": "baseUrl"
                  },
                  "CaptionLanguageMappings": {
                    "locationName": "captionLanguageMappings",
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "CaptionChannel": {
                          "locationName": "captionChannel",
                          "type": "integer"
                        },
                        "LanguageCode": {
                          "locationName": "languageCode"
                        },
                        "LanguageDescription": {
                          "locationName": "languageDescription"
                        }
                      }
                    }
                  },
                  "CaptionLanguageSetting": {
                    "locationName": "captionLanguageSetting"
                  },
                  "ClientCache": {
                    "locationName": "clientCache"
                  },
                  "CodecSpecification": {
                    "locationName": "codecSpecification"
                  },
                  "Destination": {
                    "locationName": "destination"
                  },
                  "DirectoryStructure": {
                    "locationName": "directoryStructure"
                  },
                  "Encryption": {
                    "locationName": "encryption",
                    "type": "structure",
                    "members": {
                      "ConstantInitializationVector": {
                        "locationName": "constantInitializationVector"
                      },
                      "EncryptionMethod": {
                        "locationName": "encryptionMethod"
                      },
                      "InitializationVectorInManifest": {
                        "locationName": "initializationVectorInManifest"
                      },
                      "SpekeKeyProvider": {
                        "shape": "S1f",
                        "locationName": "spekeKeyProvider"
                      },
                      "StaticKeyProvider": {
                        "locationName": "staticKeyProvider",
                        "type": "structure",
                        "members": {
                          "KeyFormat": {
                            "locationName": "keyFormat"
                          },
                          "KeyFormatVersions": {
                            "locationName": "keyFormatVersions"
                          },
                          "StaticKeyValue": {
                            "locationName": "staticKeyValue"
                          },
                          "Url": {
                            "locationName": "url"
                          }
                        }
                      },
                      "Type": {
                        "locationName": "type"
                      }
                    }
                  },
                  "ManifestCompression": {
                    "locationName": "manifestCompression"
                  },
                  "ManifestDurationFormat": {
                    "locationName": "manifestDurationFormat"
                  },
                  "MinSegmentLength": {
                    "locationName": "minSegmentLength",
                    "type": "integer"
                  },
                  "OutputSelection": {
                    "locationName": "outputSelection"
                  },
                  "ProgramDateTime": {
                    "locationName": "programDateTime"
                  },
                  "ProgramDateTimePeriod": {
                    "locationName": "programDateTimePeriod",
                    "type": "integer"
                  },
                  "SegmentControl": {
                    "locationName": "segmentControl"
                  },
                  "SegmentLength": {
                    "locationName": "segmentLength",
                    "type": "integer"
                  },
                  "SegmentsPerSubdirectory": {
                    "locationName": "segmentsPerSubdirectory",
                    "type": "integer"
                  },
                  "StreamInfResolution": {
                    "locationName": "streamInfResolution"
                  },
                  "TimedMetadataId3Frame": {
                    "locationName": "timedMetadataId3Frame"
                  },
                  "TimedMetadataId3Period": {
                    "locationName": "timedMetadataId3Period",
                    "type": "integer"
                  },
                  "TimestampDeltaMilliseconds": {
                    "locationName": "timestampDeltaMilliseconds",
                    "type": "integer"
                  }
                }
              },
              "MsSmoothGroupSettings": {
                "locationName": "msSmoothGroupSettings",
                "type": "structure",
                "members": {
                  "AudioDeduplication": {
                    "locationName": "audioDeduplication"
                  },
                  "Destination": {
                    "locationName": "destination"
                  },
                  "Encryption": {
                    "locationName": "encryption",
                    "type": "structure",
                    "members": {
                      "SpekeKeyProvider": {
                        "shape": "S1f",
                        "locationName": "spekeKeyProvider"
                      }
                    }
                  },
                  "FragmentLength": {
                    "locationName": "fragmentLength",
                    "type": "integer"
                  },
                  "ManifestEncoding": {
                    "locationName": "manifestEncoding"
                  }
                }
              },
              "Type": {
                "locationName": "type"
              }
            }
          },
          "Outputs": {
            "locationName": "outputs",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AudioDescriptions": {
                  "shape": "S2b",
                  "locationName": "audioDescriptions"
                },
                "CaptionDescriptions": {
                  "locationName": "captionDescriptions",
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "CaptionSelectorName": {
                        "locationName": "captionSelectorName"
                      },
                      "DestinationSettings": {
                        "shape": "S3l",
                        "locationName": "destinationSettings"
                      },
                      "LanguageCode": {
                        "locationName": "languageCode"
                      },
                      "LanguageDescription": {
                        "locationName": "languageDescription"
                      }
                    }
                  }
                },
                "ContainerSettings": {
                  "shape": "S46",
                  "locationName": "containerSettings"
                },
                "Extension": {
                  "locationName": "extension"
                },
                "NameModifier": {
                  "locationName": "nameModifier"
                },
                "OutputSettings": {
                  "locationName": "outputSettings",
                  "type": "structure",
                  "members": {
                    "HlsSettings": {
                      "locationName": "hlsSettings",
                      "type": "structure",
                      "members": {
                        "AudioGroupId": {
                          "locationName": "audioGroupId"
                        },
                        "AudioRenditionSets": {
                          "locationName": "audioRenditionSets"
                        },
                        "AudioTrackType": {
                          "locationName": "audioTrackType"
                        },
                        "IFrameOnlyManifest": {
                          "locationName": "iFrameOnlyManifest"
                        },
                        "SegmentModifier": {
                          "locationName": "segmentModifier"
                        }
                      }
                    }
                  }
                },
                "Preset": {
                  "locationName": "preset"
                },
                "VideoDescription": {
                  "shape": "S57",
                  "locationName": "videoDescription"
                }
              }
            }
          }
        }
      }
    },
    "S1f": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "locationName": "resourceId"
        },
        "SystemIds": {
          "shape": "Sc",
          "locationName": "systemIds"
        },
        "Url": {
          "locationName": "url"
        }
      }
    },
    "S2b": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AudioNormalizationSettings": {
            "locationName": "audioNormalizationSettings",
            "type": "structure",
            "members": {
              "Algorithm": {
                "locationName": "algorithm"
              },
              "AlgorithmControl": {
                "locationName": "algorithmControl"
              },
              "CorrectionGateLevel": {
                "locationName": "correctionGateLevel",
                "type": "integer"
              },
              "LoudnessLogging": {
                "locationName": "loudnessLogging"
              },
              "PeakCalculation": {
                "locationName": "peakCalculation"
              },
              "TargetLkfs": {
                "locationName": "targetLkfs",
                "type": "double"
              }
            }
          },
          "AudioSourceName": {
            "locationName": "audioSourceName"
          },
          "AudioType": {
            "locationName": "audioType",
            "type": "integer"
          },
          "AudioTypeControl": {
            "locationName": "audioTypeControl"
          },
          "CodecSettings": {
            "locationName": "codecSettings",
            "type": "structure",
            "members": {
              "AacSettings": {
                "locationName": "aacSettings",
                "type": "structure",
                "members": {
                  "AudioDescriptionBroadcasterMix": {
                    "locationName": "audioDescriptionBroadcasterMix"
                  },
                  "Bitrate": {
                    "locationName": "bitrate",
                    "type": "integer"
                  },
                  "CodecProfile": {
                    "locationName": "codecProfile"
                  },
                  "CodingMode": {
                    "locationName": "codingMode"
                  },
                  "RateControlMode": {
                    "locationName": "rateControlMode"
                  },
                  "RawFormat": {
                    "locationName": "rawFormat"
                  },
                  "SampleRate": {
                    "locationName": "sampleRate",
                    "type": "integer"
                  },
                  "Specification": {
                    "locationName": "specification"
                  },
                  "VbrQuality": {
                    "locationName": "vbrQuality"
                  }
                }
              },
              "Ac3Settings": {
                "locationName": "ac3Settings",
                "type": "structure",
                "members": {
                  "Bitrate": {
                    "locationName": "bitrate",
                    "type": "integer"
                  },
                  "BitstreamMode": {
                    "locationName": "bitstreamMode"
                  },
                  "CodingMode": {
                    "locationName": "codingMode"
                  },
                  "Dialnorm": {
                    "locationName": "dialnorm",
                    "type": "integer"
                  },
                  "DynamicRangeCompressionProfile": {
                    "locationName": "dynamicRangeCompressionProfile"
                  },
                  "LfeFilter": {
                    "locationName": "lfeFilter"
                  },
                  "MetadataControl": {
                    "locationName": "metadataControl"
                  },
                  "SampleRate": {
                    "locationName": "sampleRate",
                    "type": "integer"
                  }
                }
              },
              "AiffSettings": {
                "locationName": "aiffSettings",
                "type": "structure",
                "members": {
                  "BitDepth": {
                    "locationName": "bitDepth",
                    "type": "integer"
                  },
                  "Channels": {
                    "locationName": "channels",
                    "type": "integer"
                  },
                  "SampleRate": {
                    "locationName": "sampleRate",
                    "type": "integer"
                  }
                }
              },
              "Codec": {
                "locationName": "codec"
              },
              "Eac3Settings": {
                "locationName": "eac3Settings",
                "type": "structure",
                "members": {
                  "AttenuationControl": {
                    "locationName": "attenuationControl"
                  },
                  "Bitrate": {
                    "locationName": "bitrate",
                    "type": "integer"
                  },
                  "BitstreamMode": {
                    "locationName": "bitstreamMode"
                  },
                  "CodingMode": {
                    "locationName": "codingMode"
                  },
                  "DcFilter": {
                    "locationName": "dcFilter"
                  },
                  "Dialnorm": {
                    "locationName": "dialnorm",
                    "type": "integer"
                  },
                  "DynamicRangeCompressionLine": {
                    "locationName": "dynamicRangeCompressionLine"
                  },
                  "DynamicRangeCompressionRf": {
                    "locationName": "dynamicRangeCompressionRf"
                  },
                  "LfeControl": {
                    "locationName": "lfeControl"
                  },
                  "LfeFilter": {
                    "locationName": "lfeFilter"
                  },
                  "LoRoCenterMixLevel": {
                    "locationName": "loRoCenterMixLevel",
                    "type": "double"
                  },
                  "LoRoSurroundMixLevel": {
                    "locationName": "loRoSurroundMixLevel",
                    "type": "double"
                  },
                  "LtRtCenterMixLevel": {
                    "locationName": "ltRtCenterMixLevel",
                    "type": "double"
                  },
                  "LtRtSurroundMixLevel": {
                    "locationName": "ltRtSurroundMixLevel",
                    "type": "double"
                  },
                  "MetadataControl": {
                    "locationName": "metadataControl"
                  },
                  "PassthroughControl": {
                    "locationName": "passthroughControl"
                  },
                  "PhaseControl": {
                    "locationName": "phaseControl"
                  },
                  "SampleRate": {
                    "locationName": "sampleRate",
                    "type": "integer"
                  },
                  "StereoDownmix": {
                    "locationName": "stereoDownmix"
                  },
                  "SurroundExMode": {
                    "locationName": "surroundExMode"
                  },
                  "SurroundMode": {
                    "locationName": "surroundMode"
                  }
                }
              },
              "Mp2Settings": {
                "locationName": "mp2Settings",
                "type": "structure",
                "members": {
                  "Bitrate": {
                    "locationName": "bitrate",
                    "type": "integer"
                  },
                  "Channels": {
                    "locationName": "channels",
                    "type": "integer"
                  },
                  "SampleRate": {
                    "locationName": "sampleRate",
                    "type": "integer"
                  }
                }
              },
              "WavSettings": {
                "locationName": "wavSettings",
                "type": "structure",
                "members": {
                  "BitDepth": {
                    "locationName": "bitDepth",
                    "type": "integer"
                  },
                  "Channels": {
                    "locationName": "channels",
                    "type": "integer"
                  },
                  "SampleRate": {
                    "locationName": "sampleRate",
                    "type": "integer"
                  }
                }
              }
            }
          },
          "LanguageCode": {
            "locationName": "languageCode"
          },
          "LanguageCodeControl": {
            "locationName": "languageCodeControl"
          },
          "RemixSettings": {
            "shape": "Si",
            "locationName": "remixSettings"
          },
          "StreamName": {
            "locationName": "streamName"
          }
        }
      }
    },
    "S3l": {
      "type": "structure",
      "members": {
        "BurninDestinationSettings": {
          "locationName": "burninDestinationSettings",
          "type": "structure",
          "members": {
            "Alignment": {
              "locationName": "alignment"
            },
            "BackgroundColor": {
              "locationName": "backgroundColor"
            },
            "BackgroundOpacity": {
              "locationName": "backgroundOpacity",
              "type": "integer"
            },
            "FontColor": {
              "locationName": "fontColor"
            },
            "FontOpacity": {
              "locationName": "fontOpacity",
              "type": "integer"
            },
            "FontResolution": {
              "locationName": "fontResolution",
              "type": "integer"
            },
            "FontSize": {
              "locationName": "fontSize",
              "type": "integer"
            },
            "OutlineColor": {
              "locationName": "outlineColor"
            },
            "OutlineSize": {
              "locationName": "outlineSize",
              "type": "integer"
            },
            "ShadowColor": {
              "locationName": "shadowColor"
            },
            "ShadowOpacity": {
              "locationName": "shadowOpacity",
              "type": "integer"
            },
            "ShadowXOffset": {
              "locationName": "shadowXOffset",
              "type": "integer"
            },
            "ShadowYOffset": {
              "locationName": "shadowYOffset",
              "type": "integer"
            },
            "TeletextSpacing": {
              "locationName": "teletextSpacing"
            },
            "XPosition": {
              "locationName": "xPosition",
              "type": "integer"
            },
            "YPosition": {
              "locationName": "yPosition",
              "type": "integer"
            }
          }
        },
        "DestinationType": {
          "locationName": "destinationType"
        },
        "DvbSubDestinationSettings": {
          "locationName": "dvbSubDestinationSettings",
          "type": "structure",
          "members": {
            "Alignment": {
              "locationName": "alignment"
            },
            "BackgroundColor": {
              "locationName": "backgroundColor"
            },
            "BackgroundOpacity": {
              "locationName": "backgroundOpacity",
              "type": "integer"
            },
            "FontColor": {
              "locationName": "fontColor"
            },
            "FontOpacity": {
              "locationName": "fontOpacity",
              "type": "integer"
            },
            "FontResolution": {
              "locationName": "fontResolution",
              "type": "integer"
            },
            "FontSize": {
              "locationName": "fontSize",
              "type": "integer"
            },
            "OutlineColor": {
              "locationName": "outlineColor"
            },
            "OutlineSize": {
              "locationName": "outlineSize",
              "type": "integer"
            },
            "ShadowColor": {
              "locationName": "shadowColor"
            },
            "ShadowOpacity": {
              "locationName": "shadowOpacity",
              "type": "integer"
            },
            "ShadowXOffset": {
              "locationName": "shadowXOffset",
              "type": "integer"
            },
            "ShadowYOffset": {
              "locationName": "shadowYOffset",
              "type": "integer"
            },
            "TeletextSpacing": {
              "locationName": "teletextSpacing"
            },
            "XPosition": {
              "locationName": "xPosition",
              "type": "integer"
            },
            "YPosition": {
              "locationName": "yPosition",
              "type": "integer"
            }
          }
        },
        "SccDestinationSettings": {
          "locationName": "sccDestinationSettings",
          "type": "structure",
          "members": {
            "Framerate": {
              "locationName": "framerate"
            }
          }
        },
        "TeletextDestinationSettings": {
          "locationName": "teletextDestinationSettings",
          "type": "structure",
          "members": {
            "PageNumber": {
              "locationName": "pageNumber"
            }
          }
        },
        "TtmlDestinationSettings": {
          "locationName": "ttmlDestinationSettings",
          "type": "structure",
          "members": {
            "StylePassthrough": {
              "locationName": "stylePassthrough"
            }
          }
        }
      }
    },
    "S46": {
      "type": "structure",
      "members": {
        "Container": {
          "locationName": "container"
        },
        "F4vSettings": {
          "locationName": "f4vSettings",
          "type": "structure",
          "members": {
            "MoovPlacement": {
              "locationName": "moovPlacement"
            }
          }
        },
        "M2tsSettings": {
          "locationName": "m2tsSettings",
          "type": "structure",
          "members": {
            "AudioBufferModel": {
              "locationName": "audioBufferModel"
            },
            "AudioFramesPerPes": {
              "locationName": "audioFramesPerPes",
              "type": "integer"
            },
            "AudioPids": {
              "shape": "Sh",
              "locationName": "audioPids"
            },
            "Bitrate": {
              "locationName": "bitrate",
              "type": "integer"
            },
            "BufferModel": {
              "locationName": "bufferModel"
            },
            "DvbNitSettings": {
              "locationName": "dvbNitSettings",
              "type": "structure",
              "members": {
                "NetworkId": {
                  "locationName": "networkId",
                  "type": "integer"
                },
                "NetworkName": {
                  "locationName": "networkName"
                },
                "NitInterval": {
                  "locationName": "nitInterval",
                  "type": "integer"
                }
              }
            },
            "DvbSdtSettings": {
              "locationName": "dvbSdtSettings",
              "type": "structure",
              "members": {
                "OutputSdt": {
                  "locationName": "outputSdt"
                },
                "SdtInterval": {
                  "locationName": "sdtInterval",
                  "type": "integer"
                },
                "ServiceName": {
                  "locationName": "serviceName"
                },
                "ServiceProviderName": {
                  "locationName": "serviceProviderName"
                }
              }
            },
            "DvbSubPids": {
              "shape": "Sh",
              "locationName": "dvbSubPids"
            },
            "DvbTdtSettings": {
              "locationName": "dvbTdtSettings",
              "type": "structure",
              "members": {
                "TdtInterval": {
                  "locationName": "tdtInterval",
                  "type": "integer"
                }
              }
            },
            "DvbTeletextPid": {
              "locationName": "dvbTeletextPid",
              "type": "integer"
            },
            "EbpAudioInterval": {
              "locationName": "ebpAudioInterval"
            },
            "EbpPlacement": {
              "locationName": "ebpPlacement"
            },
            "EsRateInPes": {
              "locationName": "esRateInPes"
            },
            "FragmentTime": {
              "locationName": "fragmentTime",
              "type": "double"
            },
            "MaxPcrInterval": {
              "locationName": "maxPcrInterval",
              "type": "integer"
            },
            "MinEbpInterval": {
              "locationName": "minEbpInterval",
              "type": "integer"
            },
            "NullPacketBitrate": {
              "locationName": "nullPacketBitrate",
              "type": "double"
            },
            "PatInterval": {
              "locationName": "patInterval",
              "type": "integer"
            },
            "PcrControl": {
              "locationName": "pcrControl"
            },
            "PcrPid": {
              "locationName": "pcrPid",
              "type": "integer"
            },
            "PmtInterval": {
              "locationName": "pmtInterval",
              "type": "integer"
            },
            "PmtPid": {
              "locationName": "pmtPid",
              "type": "integer"
            },
            "PrivateMetadataPid": {
              "locationName": "privateMetadataPid",
              "type": "integer"
            },
            "ProgramNumber": {
              "locationName": "programNumber",
              "type": "integer"
            },
            "RateMode": {
              "locationName": "rateMode"
            },
            "Scte35Pid": {
              "locationName": "scte35Pid",
              "type": "integer"
            },
            "Scte35Source": {
              "locationName": "scte35Source"
            },
            "SegmentationMarkers": {
              "locationName": "segmentationMarkers"
            },
            "SegmentationStyle": {
              "locationName": "segmentationStyle"
            },
            "SegmentationTime": {
              "locationName": "segmentationTime",
              "type": "double"
            },
            "TransportStreamId": {
              "locationName": "transportStreamId",
              "type": "integer"
            },
            "VideoPid": {
              "locationName": "videoPid",
              "type": "integer"
            }
          }
        },
        "M3u8Settings": {
          "locationName": "m3u8Settings",
          "type": "structure",
          "members": {
            "AudioFramesPerPes": {
              "locationName": "audioFramesPerPes",
              "type": "integer"
            },
            "AudioPids": {
              "shape": "Sh",
              "locationName": "audioPids"
            },
            "PatInterval": {
              "locationName": "patInterval",
              "type": "integer"
            },
            "PcrControl": {
              "locationName": "pcrControl"
            },
            "PcrPid": {
              "locationName": "pcrPid",
              "type": "integer"
            },
            "PmtInterval": {
              "locationName": "pmtInterval",
              "type": "integer"
            },
            "PmtPid": {
              "locationName": "pmtPid",
              "type": "integer"
            },
            "PrivateMetadataPid": {
              "locationName": "privateMetadataPid",
              "type": "integer"
            },
            "ProgramNumber": {
              "locationName": "programNumber",
              "type": "integer"
            },
            "Scte35Pid": {
              "locationName": "scte35Pid",
              "type": "integer"
            },
            "Scte35Source": {
              "locationName": "scte35Source"
            },
            "TimedMetadata": {
              "locationName": "timedMetadata"
            },
            "TimedMetadataPid": {
              "locationName": "timedMetadataPid",
              "type": "integer"
            },
            "TransportStreamId": {
              "locationName": "transportStreamId",
              "type": "integer"
            },
            "VideoPid": {
              "locationName": "videoPid",
              "type": "integer"
            }
          }
        },
        "MovSettings": {
          "locationName": "movSettings",
          "type": "structure",
          "members": {
            "ClapAtom": {
              "locationName": "clapAtom"
            },
            "CslgAtom": {
              "locationName": "cslgAtom"
            },
            "Mpeg2FourCCControl": {
              "locationName": "mpeg2FourCCControl"
            },
            "PaddingControl": {
              "locationName": "paddingControl"
            },
            "Reference": {
              "locationName": "reference"
            }
          }
        },
        "Mp4Settings": {
          "locationName": "mp4Settings",
          "type": "structure",
          "members": {
            "CslgAtom": {
              "locationName": "cslgAtom"
            },
            "FreeSpaceBox": {
              "locationName": "freeSpaceBox"
            },
            "MoovPlacement": {
              "locationName": "moovPlacement"
            },
            "Mp4MajorBrand": {
              "locationName": "mp4MajorBrand"
            }
          }
        }
      }
    },
    "S57": {
      "type": "structure",
      "members": {
        "AfdSignaling": {
          "locationName": "afdSignaling"
        },
        "AntiAlias": {
          "locationName": "antiAlias"
        },
        "CodecSettings": {
          "locationName": "codecSettings",
          "type": "structure",
          "members": {
            "Codec": {
              "locationName": "codec"
            },
            "FrameCaptureSettings": {
              "locationName": "frameCaptureSettings",
              "type": "structure",
              "members": {
                "FramerateDenominator": {
                  "locationName": "framerateDenominator",
                  "type": "integer"
                },
                "FramerateNumerator": {
                  "locationName": "framerateNumerator",
                  "type": "integer"
                },
                "MaxCaptures": {
                  "locationName": "maxCaptures",
                  "type": "integer"
                },
                "Quality": {
                  "locationName": "quality",
                  "type": "integer"
                }
              }
            },
            "H264Settings": {
              "locationName": "h264Settings",
              "type": "structure",
              "members": {
                "AdaptiveQuantization": {
                  "locationName": "adaptiveQuantization"
                },
                "Bitrate": {
                  "locationName": "bitrate",
                  "type": "integer"
                },
                "CodecLevel": {
                  "locationName": "codecLevel"
                },
                "CodecProfile": {
                  "locationName": "codecProfile"
                },
                "EntropyEncoding": {
                  "locationName": "entropyEncoding"
                },
                "FieldEncoding": {
                  "locationName": "fieldEncoding"
                },
                "FlickerAdaptiveQuantization": {
                  "locationName": "flickerAdaptiveQuantization"
                },
                "FramerateControl": {
                  "locationName": "framerateControl"
                },
                "FramerateConversionAlgorithm": {
                  "locationName": "framerateConversionAlgorithm"
                },
                "FramerateDenominator": {
                  "locationName": "framerateDenominator",
                  "type": "integer"
                },
                "FramerateNumerator": {
                  "locationName": "framerateNumerator",
                  "type": "integer"
                },
                "GopBReference": {
                  "locationName": "gopBReference"
                },
                "GopClosedCadence": {
                  "locationName": "gopClosedCadence",
                  "type": "integer"
                },
                "GopSize": {
                  "locationName": "gopSize",
                  "type": "double"
                },
                "GopSizeUnits": {
                  "locationName": "gopSizeUnits"
                },
                "HrdBufferInitialFillPercentage": {
                  "locationName": "hrdBufferInitialFillPercentage",
                  "type": "integer"
                },
                "HrdBufferSize": {
                  "locationName": "hrdBufferSize",
                  "type": "integer"
                },
                "InterlaceMode": {
                  "locationName": "interlaceMode"
                },
                "MaxBitrate": {
                  "locationName": "maxBitrate",
                  "type": "integer"
                },
                "MinIInterval": {
                  "locationName": "minIInterval",
                  "type": "integer"
                },
                "NumberBFramesBetweenReferenceFrames": {
                  "locationName": "numberBFramesBetweenReferenceFrames",
                  "type": "integer"
                },
                "NumberReferenceFrames": {
                  "locationName": "numberReferenceFrames",
                  "type": "integer"
                },
                "ParControl": {
                  "locationName": "parControl"
                },
                "ParDenominator": {
                  "locationName": "parDenominator",
                  "type": "integer"
                },
                "ParNumerator": {
                  "locationName": "parNumerator",
                  "type": "integer"
                },
                "QualityTuningLevel": {
                  "locationName": "qualityTuningLevel"
                },
                "RateControlMode": {
                  "locationName": "rateControlMode"
                },
                "RepeatPps": {
                  "locationName": "repeatPps"
                },
                "SceneChangeDetect": {
                  "locationName": "sceneChangeDetect"
                },
                "Slices": {
                  "locationName": "slices",
                  "type": "integer"
                },
                "SlowPal": {
                  "locationName": "slowPal"
                },
                "Softness": {
                  "locationName": "softness",
                  "type": "integer"
                },
                "SpatialAdaptiveQuantization": {
                  "locationName": "spatialAdaptiveQuantization"
                },
                "Syntax": {
                  "locationName": "syntax"
                },
                "Telecine": {
                  "locationName": "telecine"
                },
                "TemporalAdaptiveQuantization": {
                  "locationName": "temporalAdaptiveQuantization"
                },
                "UnregisteredSeiTimecode": {
                  "locationName": "unregisteredSeiTimecode"
                }
              }
            },
            "H265Settings": {
              "locationName": "h265Settings",
              "type": "structure",
              "members": {
                "AdaptiveQuantization": {
                  "locationName": "adaptiveQuantization"
                },
                "AlternateTransferFunctionSei": {
                  "locationName": "alternateTransferFunctionSei"
                },
                "Bitrate": {
                  "locationName": "bitrate",
                  "type": "integer"
                },
                "CodecLevel": {
                  "locationName": "codecLevel"
                },
                "CodecProfile": {
                  "locationName": "codecProfile"
                },
                "FlickerAdaptiveQuantization": {
                  "locationName": "flickerAdaptiveQuantization"
                },
                "FramerateControl": {
                  "locationName": "framerateControl"
                },
                "FramerateConversionAlgorithm": {
                  "locationName": "framerateConversionAlgorithm"
                },
                "FramerateDenominator": {
                  "locationName": "framerateDenominator",
                  "type": "integer"
                },
                "FramerateNumerator": {
                  "locationName": "framerateNumerator",
                  "type": "integer"
                },
                "GopBReference": {
                  "locationName": "gopBReference"
                },
                "GopClosedCadence": {
                  "locationName": "gopClosedCadence",
                  "type": "integer"
                },
                "GopSize": {
                  "locationName": "gopSize",
                  "type": "double"
                },
                "GopSizeUnits": {
                  "locationName": "gopSizeUnits"
                },
                "HrdBufferInitialFillPercentage": {
                  "locationName": "hrdBufferInitialFillPercentage",
                  "type": "integer"
                },
                "HrdBufferSize": {
                  "locationName": "hrdBufferSize",
                  "type": "integer"
                },
                "InterlaceMode": {
                  "locationName": "interlaceMode"
                },
                "MaxBitrate": {
                  "locationName": "maxBitrate",
                  "type": "integer"
                },
                "MinIInterval": {
                  "locationName": "minIInterval",
                  "type": "integer"
                },
                "NumberBFramesBetweenReferenceFrames": {
                  "locationName": "numberBFramesBetweenReferenceFrames",
                  "type": "integer"
                },
                "NumberReferenceFrames": {
                  "locationName": "numberReferenceFrames",
                  "type": "integer"
                },
                "ParControl": {
                  "locationName": "parControl"
                },
                "ParDenominator": {
                  "locationName": "parDenominator",
                  "type": "integer"
                },
                "ParNumerator": {
                  "locationName": "parNumerator",
                  "type": "integer"
                },
                "QualityTuningLevel": {
                  "locationName": "qualityTuningLevel"
                },
                "RateControlMode": {
                  "locationName": "rateControlMode"
                },
                "SampleAdaptiveOffsetFilterMode": {
                  "locationName": "sampleAdaptiveOffsetFilterMode"
                },
                "SceneChangeDetect": {
                  "locationName": "sceneChangeDetect"
                },
                "Slices": {
                  "locationName": "slices",
                  "type": "integer"
                },
                "SlowPal": {
                  "locationName": "slowPal"
                },
                "SpatialAdaptiveQuantization": {
                  "locationName": "spatialAdaptiveQuantization"
                },
                "Telecine": {
                  "locationName": "telecine"
                },
                "TemporalAdaptiveQuantization": {
                  "locationName": "temporalAdaptiveQuantization"
                },
                "TemporalIds": {
                  "locationName": "temporalIds"
                },
                "Tiles": {
                  "locationName": "tiles"
                },
                "UnregisteredSeiTimecode": {
                  "locationName": "unregisteredSeiTimecode"
                }
              }
            },
            "Mpeg2Settings": {
              "locationName": "mpeg2Settings",
              "type": "structure",
              "members": {
                "AdaptiveQuantization": {
                  "locationName": "adaptiveQuantization"
                },
                "Bitrate": {
                  "locationName": "bitrate",
                  "type": "integer"
                },
                "CodecLevel": {
                  "locationName": "codecLevel"
                },
                "CodecProfile": {
                  "locationName": "codecProfile"
                },
                "FramerateControl": {
                  "locationName": "framerateControl"
                },
                "FramerateConversionAlgorithm": {
                  "locationName": "framerateConversionAlgorithm"
                },
                "FramerateDenominator": {
                  "locationName": "framerateDenominator",
                  "type": "integer"
                },
                "FramerateNumerator": {
                  "locationName": "framerateNumerator",
                  "type": "integer"
                },
                "GopClosedCadence": {
                  "locationName": "gopClosedCadence",
                  "type": "integer"
                },
                "GopSize": {
                  "locationName": "gopSize",
                  "type": "double"
                },
                "GopSizeUnits": {
                  "locationName": "gopSizeUnits"
                },
                "HrdBufferInitialFillPercentage": {
                  "locationName": "hrdBufferInitialFillPercentage",
                  "type": "integer"
                },
                "HrdBufferSize": {
                  "locationName": "hrdBufferSize",
                  "type": "integer"
                },
                "InterlaceMode": {
                  "locationName": "interlaceMode"
                },
                "IntraDcPrecision": {
                  "locationName": "intraDcPrecision"
                },
                "MaxBitrate": {
                  "locationName": "maxBitrate",
                  "type": "integer"
                },
                "MinIInterval": {
                  "locationName": "minIInterval",
                  "type": "integer"
                },
                "NumberBFramesBetweenReferenceFrames": {
                  "locationName": "numberBFramesBetweenReferenceFrames",
                  "type": "integer"
                },
                "ParControl": {
                  "locationName": "parControl"
                },
                "ParDenominator": {
                  "locationName": "parDenominator",
                  "type": "integer"
                },
                "ParNumerator": {
                  "locationName": "parNumerator",
                  "type": "integer"
                },
                "QualityTuningLevel": {
                  "locationName": "qualityTuningLevel"
                },
                "RateControlMode": {
                  "locationName": "rateControlMode"
                },
                "SceneChangeDetect": {
                  "locationName": "sceneChangeDetect"
                },
                "SlowPal": {
                  "locationName": "slowPal"
                },
                "Softness": {
                  "locationName": "softness",
                  "type": "integer"
                },
                "SpatialAdaptiveQuantization": {
                  "locationName": "spatialAdaptiveQuantization"
                },
                "Syntax": {
                  "locationName": "syntax"
                },
                "Telecine": {
                  "locationName": "telecine"
                },
                "TemporalAdaptiveQuantization": {
                  "locationName": "temporalAdaptiveQuantization"
                }
              }
            },
            "ProresSettings": {
              "locationName": "proresSettings",
              "type": "structure",
              "members": {
                "CodecProfile": {
                  "locationName": "codecProfile"
                },
                "FramerateControl": {
                  "locationName": "framerateControl"
                },
                "FramerateConversionAlgorithm": {
                  "locationName": "framerateConversionAlgorithm"
                },
                "FramerateDenominator": {
                  "locationName": "framerateDenominator",
                  "type": "integer"
                },
                "FramerateNumerator": {
                  "locationName": "framerateNumerator",
                  "type": "integer"
                },
                "InterlaceMode": {
                  "locationName": "interlaceMode"
                },
                "ParControl": {
                  "locationName": "parControl"
                },
                "ParDenominator": {
                  "locationName": "parDenominator",
                  "type": "integer"
                },
                "ParNumerator": {
                  "locationName": "parNumerator",
                  "type": "integer"
                },
                "SlowPal": {
                  "locationName": "slowPal"
                },
                "Telecine": {
                  "locationName": "telecine"
                }
              }
            }
          }
        },
        "ColorMetadata": {
          "locationName": "colorMetadata"
        },
        "Crop": {
          "shape": "S7e",
          "locationName": "crop"
        },
        "DropFrameTimecode": {
          "locationName": "dropFrameTimecode"
        },
        "FixedAfd": {
          "locationName": "fixedAfd",
          "type": "integer"
        },
        "Height": {
          "locationName": "height",
          "type": "integer"
        },
        "Position": {
          "shape": "S7e",
          "locationName": "position"
        },
        "RespondToAfd": {
          "locationName": "respondToAfd"
        },
        "ScalingBehavior": {
          "locationName": "scalingBehavior"
        },
        "Sharpness": {
          "locationName": "sharpness",
          "type": "integer"
        },
        "TimecodeInsertion": {
          "locationName": "timecodeInsertion"
        },
        "VideoPreprocessors": {
          "locationName": "videoPreprocessors",
          "type": "structure",
          "members": {
            "ColorCorrector": {
              "locationName": "colorCorrector",
              "type": "structure",
              "members": {
                "Brightness": {
                  "locationName": "brightness",
                  "type": "integer"
                },
                "ColorSpaceConversion": {
                  "locationName": "colorSpaceConversion"
                },
                "Contrast": {
                  "locationName": "contrast",
                  "type": "integer"
                },
                "Hdr10Metadata": {
                  "shape": "S18",
                  "locationName": "hdr10Metadata"
                },
                "Hue": {
                  "locationName": "hue",
                  "type": "integer"
                },
                "Saturation": {
                  "locationName": "saturation",
                  "type": "integer"
                }
              }
            },
            "Deinterlacer": {
              "locationName": "deinterlacer",
              "type": "structure",
              "members": {
                "Algorithm": {
                  "locationName": "algorithm"
                },
                "Control": {
                  "locationName": "control"
                },
                "Mode": {
                  "locationName": "mode"
                }
              }
            },
            "ImageInserter": {
              "locationName": "imageInserter",
              "type": "structure",
              "members": {
                "InsertableImages": {
                  "locationName": "insertableImages",
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Duration": {
                        "locationName": "duration",
                        "type": "integer"
                      },
                      "FadeIn": {
                        "locationName": "fadeIn",
                        "type": "integer"
                      },
                      "FadeOut": {
                        "locationName": "fadeOut",
                        "type": "integer"
                      },
                      "Height": {
                        "locationName": "height",
                        "type": "integer"
                      },
                      "ImageInserterInput": {
                        "locationName": "imageInserterInput"
                      },
                      "ImageX": {
                        "locationName": "imageX",
                        "type": "integer"
                      },
                      "ImageY": {
                        "locationName": "imageY",
                        "type": "integer"
                      },
                      "Layer": {
                        "locationName": "layer",
                        "type": "integer"
                      },
                      "Opacity": {
                        "locationName": "opacity",
                        "type": "integer"
                      },
                      "StartTime": {
                        "locationName": "startTime"
                      },
                      "Width": {
                        "locationName": "width",
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            },
            "NoiseReducer": {
              "locationName": "noiseReducer",
              "type": "structure",
              "members": {
                "Filter": {
                  "locationName": "filter"
                },
                "FilterSettings": {
                  "locationName": "filterSettings",
                  "type": "structure",
                  "members": {
                    "Strength": {
                      "locationName": "strength",
                      "type": "integer"
                    }
                  }
                },
                "SpatialFilterSettings": {
                  "locationName": "spatialFilterSettings",
                  "type": "structure",
                  "members": {
                    "PostFilterSharpenStrength": {
                      "locationName": "postFilterSharpenStrength",
                      "type": "integer"
                    },
                    "Speed": {
                      "locationName": "speed",
                      "type": "integer"
                    },
                    "Strength": {
                      "locationName": "strength",
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "TimecodeBurnin": {
              "locationName": "timecodeBurnin",
              "type": "structure",
              "members": {
                "FontSize": {
                  "locationName": "fontSize",
                  "type": "integer"
                },
                "Position": {
                  "locationName": "position"
                },
                "Prefix": {
                  "locationName": "prefix"
                }
              }
            }
          }
        },
        "Width": {
          "locationName": "width",
          "type": "integer"
        }
      }
    },
    "S7e": {
      "type": "structure",
      "members": {
        "Height": {
          "locationName": "height",
          "type": "integer"
        },
        "Width": {
          "locationName": "width",
          "type": "integer"
        },
        "X": {
          "locationName": "x",
          "type": "integer"
        },
        "Y": {
          "locationName": "y",
          "type": "integer"
        }
      }
    },
    "S7z": {
      "type": "structure",
      "members": {
        "Anchor": {
          "locationName": "anchor"
        },
        "Source": {
          "locationName": "source"
        },
        "Start": {
          "locationName": "start"
        },
        "TimestampOffset": {
          "locationName": "timestampOffset"
        }
      }
    },
    "S81": {
      "type": "structure",
      "members": {
        "Id3Insertions": {
          "locationName": "id3Insertions",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Id3": {
                "locationName": "id3"
              },
              "Timecode": {
                "locationName": "timecode"
              }
            }
          }
        }
      }
    },
    "S84": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S86": {
      "type": "structure",
      "members": {
        "Arn": {
          "locationName": "arn"
        },
        "CreatedAt": {
          "locationName": "createdAt",
          "type": "timestamp"
        },
        "ErrorCode": {
          "locationName": "errorCode",
          "type": "integer"
        },
        "ErrorMessage": {
          "locationName": "errorMessage"
        },
        "Id": {
          "locationName": "id"
        },
        "JobTemplate": {
          "locationName": "jobTemplate"
        },
        "OutputGroupDetails": {
          "locationName": "outputGroupDetails",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "OutputDetails": {
                "locationName": "outputDetails",
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "DurationInMs": {
                      "locationName": "durationInMs",
                      "type": "integer"
                    },
                    "VideoDetails": {
                      "locationName": "videoDetails",
                      "type": "structure",
                      "members": {
                        "HeightInPx": {
                          "locationName": "heightInPx",
                          "type": "integer"
                        },
                        "WidthInPx": {
                          "locationName": "widthInPx",
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Queue": {
          "locationName": "queue"
        },
        "Role": {
          "locationName": "role"
        },
        "Settings": {
          "shape": "S5",
          "locationName": "settings"
        },
        "Status": {
          "locationName": "status"
        },
        "Timing": {
          "locationName": "timing",
          "type": "structure",
          "members": {
            "FinishTime": {
              "locationName": "finishTime",
              "type": "timestamp"
            },
            "StartTime": {
              "locationName": "startTime",
              "type": "timestamp"
            },
            "SubmitTime": {
              "locationName": "submitTime",
              "type": "timestamp"
            }
          }
        },
        "UserMetadata": {
          "shape": "S84",
          "locationName": "userMetadata"
        }
      }
    },
    "S8g": {
      "type": "structure",
      "members": {
        "AdAvailOffset": {
          "locationName": "adAvailOffset",
          "type": "integer"
        },
        "AvailBlanking": {
          "shape": "S7",
          "locationName": "availBlanking"
        },
        "Inputs": {
          "locationName": "inputs",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "AudioSelectorGroups": {
                "shape": "Sa",
                "locationName": "audioSelectorGroups"
              },
              "AudioSelectors": {
                "shape": "Sd",
                "locationName": "audioSelectors"
              },
              "CaptionSelectors": {
                "shape": "Sn",
                "locationName": "captionSelectors"
              },
              "DeblockFilter": {
                "locationName": "deblockFilter"
              },
              "DenoiseFilter": {
                "locationName": "denoiseFilter"
              },
              "FilterEnable": {
                "locationName": "filterEnable"
              },
              "FilterStrength": {
                "locationName": "filterStrength",
                "type": "integer"
              },
              "InputClippings": {
                "shape": "S11",
                "locationName": "inputClippings"
              },
              "ProgramNumber": {
                "locationName": "programNumber",
                "type": "integer"
              },
              "PsiControl": {
                "locationName": "psiControl"
              },
              "TimecodeSource": {
                "locationName": "timecodeSource"
              },
              "VideoSelector": {
                "shape": "S15",
                "locationName": "videoSelector"
              }
            }
          }
        },
        "NielsenConfiguration": {
          "shape": "S19",
          "locationName": "nielsenConfiguration"
        },
        "OutputGroups": {
          "shape": "S1a",
          "locationName": "outputGroups"
        },
        "TimecodeConfig": {
          "shape": "S7z",
          "locationName": "timecodeConfig"
        },
        "TimedMetadataInsertion": {
          "shape": "S81",
          "locationName": "timedMetadataInsertion"
        }
      }
    },
    "S8k": {
      "type": "structure",
      "members": {
        "Arn": {
          "locationName": "arn"
        },
        "Category": {
          "locationName": "category"
        },
        "CreatedAt": {
          "locationName": "createdAt",
          "type": "timestamp"
        },
        "Description": {
          "locationName": "description"
        },
        "LastUpdated": {
          "locationName": "lastUpdated",
          "type": "timestamp"
        },
        "Name": {
          "locationName": "name"
        },
        "Queue": {
          "locationName": "queue"
        },
        "Settings": {
          "shape": "S8g",
          "locationName": "settings"
        },
        "Type": {
          "locationName": "type"
        }
      }
    },
    "S8n": {
      "type": "structure",
      "members": {
        "AudioDescriptions": {
          "shape": "S2b",
          "locationName": "audioDescriptions"
        },
        "CaptionDescriptions": {
          "locationName": "captionDescriptions",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "DestinationSettings": {
                "shape": "S3l",
                "locationName": "destinationSettings"
              },
              "LanguageCode": {
                "locationName": "languageCode"
              },
              "LanguageDescription": {
                "locationName": "languageDescription"
              }
            }
          }
        },
        "ContainerSettings": {
          "shape": "S46",
          "locationName": "containerSettings"
        },
        "VideoDescription": {
          "shape": "S57",
          "locationName": "videoDescription"
        }
      }
    },
    "S8r": {
      "type": "structure",
      "members": {
        "Arn": {
          "locationName": "arn"
        },
        "Category": {
          "locationName": "category"
        },
        "CreatedAt": {
          "locationName": "createdAt",
          "type": "timestamp"
        },
        "Description": {
          "locationName": "description"
        },
        "LastUpdated": {
          "locationName": "lastUpdated",
          "type": "timestamp"
        },
        "Name": {
          "locationName": "name"
        },
        "Settings": {
          "shape": "S8n",
          "locationName": "settings"
        },
        "Type": {
          "locationName": "type"
        }
      }
    },
    "S8u": {
      "type": "structure",
      "members": {
        "Arn": {
          "locationName": "arn"
        },
        "CreatedAt": {
          "locationName": "createdAt",
          "type": "timestamp"
        },
        "Description": {
          "locationName": "description"
        },
        "LastUpdated": {
          "locationName": "lastUpdated",
          "type": "timestamp"
        },
        "Name": {
          "locationName": "name"
        },
        "Status": {
          "locationName": "status"
        },
        "Type": {
          "locationName": "type"
        }
      }
    }
  }
}