{
  "metadata": {
    "apiVersion": "2018-04-23",
    "endpointPrefix": "api.mediatailor",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "MediaTailor",
    "serviceFullName": "AWS MediaTailor",
    "serviceId": "MediaTailor",
    "signatureVersion": "v4",
    "signingName": "mediatailor",
    "uid": "mediatailor-2018-04-23"
  },
  "operations": {
    "CreateChannel": {
      "http": {
        "requestUri": "/channel/{channelName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          },
          "Outputs": {
            "shape": "S3"
          },
          "PlaybackMode": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          }
        },
        "required": [
          "ChannelName",
          "Outputs",
          "PlaybackMode"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {},
          "ChannelName": {},
          "ChannelState": {},
          "CreationTime": {
            "shape": "Sc"
          },
          "LastModifiedTime": {
            "shape": "Sc"
          },
          "Outputs": {
            "shape": "Sd"
          },
          "PlaybackMode": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          }
        },
        "type": "structure"
      }
    },
    "CreateProgram": {
      "http": {
        "requestUri": "/channel/{channelName}/program/{programName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "AdBreaks": {
            "shape": "Sg"
          },
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          },
          "ProgramName": {
            "location": "uri",
            "locationName": "programName"
          },
          "ScheduleConfiguration": {
            "members": {
              "Transition": {
                "members": {
                  "RelativePosition": {},
                  "RelativeProgram": {},
                  "Type": {}
                },
                "required": [
                  "Type",
                  "RelativePosition"
                ],
                "type": "structure"
              }
            },
            "required": [
              "Transition"
            ],
            "type": "structure"
          },
          "SourceLocationName": {},
          "VodSourceName": {}
        },
        "required": [
          "ChannelName",
          "ProgramName",
          "VodSourceName",
          "ScheduleConfiguration",
          "SourceLocationName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "AdBreaks": {
            "shape": "Sg"
          },
          "Arn": {},
          "ChannelName": {},
          "CreationTime": {
            "shape": "Sc"
          },
          "ProgramName": {},
          "SourceLocationName": {},
          "VodSourceName": {}
        },
        "type": "structure"
      }
    },
    "CreateSourceLocation": {
      "http": {
        "requestUri": "/sourceLocation/{sourceLocationName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "AccessConfiguration": {
            "shape": "Sr"
          },
          "DefaultSegmentDeliveryConfiguration": {
            "shape": "St"
          },
          "HttpConfiguration": {
            "shape": "Su"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "sourceLocationName"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          }
        },
        "required": [
          "SourceLocationName",
          "HttpConfiguration"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "AccessConfiguration": {
            "shape": "Sr"
          },
          "Arn": {},
          "CreationTime": {
            "shape": "Sc"
          },
          "DefaultSegmentDeliveryConfiguration": {
            "shape": "St"
          },
          "HttpConfiguration": {
            "shape": "Su"
          },
          "LastModifiedTime": {
            "shape": "Sc"
          },
          "SourceLocationName": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          }
        },
        "type": "structure"
      }
    },
    "CreateVodSource": {
      "http": {
        "requestUri": "/sourceLocation/{sourceLocationName}/vodSource/{vodSourceName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "HttpPackageConfigurations": {
            "shape": "Sx"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "sourceLocationName"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          },
          "VodSourceName": {
            "location": "uri",
            "locationName": "vodSourceName"
          }
        },
        "required": [
          "SourceLocationName",
          "VodSourceName",
          "HttpPackageConfigurations"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {},
          "CreationTime": {
            "shape": "Sc"
          },
          "HttpPackageConfigurations": {
            "shape": "Sx"
          },
          "LastModifiedTime": {
            "shape": "Sc"
          },
          "SourceLocationName": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          },
          "VodSourceName": {}
        },
        "type": "structure"
      }
    },
    "DeleteChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channel/{channelName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          }
        },
        "required": [
          "ChannelName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DeleteChannelPolicy": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channel/{channelName}/policy",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          }
        },
        "required": [
          "ChannelName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DeletePlaybackConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/playbackConfiguration/{Name}",
        "responseCode": 204
      },
      "input": {
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "Name"
          }
        },
        "required": [
          "Name"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DeleteProgram": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channel/{channelName}/program/{programName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          },
          "ProgramName": {
            "location": "uri",
            "locationName": "programName"
          }
        },
        "required": [
          "ChannelName",
          "ProgramName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DeleteSourceLocation": {
      "http": {
        "method": "DELETE",
        "requestUri": "/sourceLocation/{sourceLocationName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "SourceLocationName": {
            "location": "uri",
            "locationName": "sourceLocationName"
          }
        },
        "required": [
          "SourceLocationName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DeleteVodSource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/sourceLocation/{sourceLocationName}/vodSource/{vodSourceName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "SourceLocationName": {
            "location": "uri",
            "locationName": "sourceLocationName"
          },
          "VodSourceName": {
            "location": "uri",
            "locationName": "vodSourceName"
          }
        },
        "required": [
          "SourceLocationName",
          "VodSourceName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DescribeChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/channel/{channelName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          }
        },
        "required": [
          "ChannelName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {},
          "ChannelName": {},
          "ChannelState": {},
          "CreationTime": {
            "shape": "Sc"
          },
          "LastModifiedTime": {
            "shape": "Sc"
          },
          "Outputs": {
            "shape": "Sd"
          },
          "PlaybackMode": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          }
        },
        "type": "structure"
      }
    },
    "DescribeProgram": {
      "http": {
        "method": "GET",
        "requestUri": "/channel/{channelName}/program/{programName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          },
          "ProgramName": {
            "location": "uri",
            "locationName": "programName"
          }
        },
        "required": [
          "ChannelName",
          "ProgramName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "AdBreaks": {
            "shape": "Sg"
          },
          "Arn": {},
          "ChannelName": {},
          "CreationTime": {
            "shape": "Sc"
          },
          "ProgramName": {},
          "SourceLocationName": {},
          "VodSourceName": {}
        },
        "type": "structure"
      }
    },
    "DescribeSourceLocation": {
      "http": {
        "method": "GET",
        "requestUri": "/sourceLocation/{sourceLocationName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "SourceLocationName": {
            "location": "uri",
            "locationName": "sourceLocationName"
          }
        },
        "required": [
          "SourceLocationName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "AccessConfiguration": {
            "shape": "Sr"
          },
          "Arn": {},
          "CreationTime": {
            "shape": "Sc"
          },
          "DefaultSegmentDeliveryConfiguration": {
            "shape": "St"
          },
          "HttpConfiguration": {
            "shape": "Su"
          },
          "LastModifiedTime": {
            "shape": "Sc"
          },
          "SourceLocationName": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          }
        },
        "type": "structure"
      }
    },
    "DescribeVodSource": {
      "http": {
        "method": "GET",
        "requestUri": "/sourceLocation/{sourceLocationName}/vodSource/{vodSourceName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "SourceLocationName": {
            "location": "uri",
            "locationName": "sourceLocationName"
          },
          "VodSourceName": {
            "location": "uri",
            "locationName": "vodSourceName"
          }
        },
        "required": [
          "SourceLocationName",
          "VodSourceName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {},
          "CreationTime": {
            "shape": "Sc"
          },
          "HttpPackageConfigurations": {
            "shape": "Sx"
          },
          "LastModifiedTime": {
            "shape": "Sc"
          },
          "SourceLocationName": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          },
          "VodSourceName": {}
        },
        "type": "structure"
      }
    },
    "GetChannelPolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/channel/{channelName}/policy",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          }
        },
        "required": [
          "ChannelName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Policy": {}
        },
        "type": "structure"
      }
    },
    "GetChannelSchedule": {
      "http": {
        "method": "GET",
        "requestUri": "/channel/{channelName}/schedule",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          },
          "DurationMinutes": {
            "location": "querystring",
            "locationName": "durationMinutes"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "ChannelName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Items": {
            "member": {
              "members": {
                "ApproximateDurationSeconds": {
                  "type": "long"
                },
                "ApproximateStartTime": {
                  "shape": "Sc"
                },
                "Arn": {},
                "ChannelName": {},
                "ProgramName": {},
                "SourceLocationName": {},
                "VodSourceName": {}
              },
              "required": [
                "VodSourceName",
                "ChannelName",
                "SourceLocationName",
                "Arn",
                "ProgramName"
              ],
              "type": "structure"
            },
            "type": "list"
          },
          "NextToken": {}
        },
        "type": "structure"
      }
    },
    "GetPlaybackConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/playbackConfiguration/{Name}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "Name"
          }
        },
        "required": [
          "Name"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "AdDecisionServerUrl": {},
          "AvailSuppression": {
            "shape": "S1u"
          },
          "Bumper": {
            "shape": "S1w"
          },
          "CdnConfiguration": {
            "shape": "S1x"
          },
          "ConfigurationAliases": {
            "shape": "S1y"
          },
          "DashConfiguration": {
            "shape": "S1z"
          },
          "HlsConfiguration": {
            "shape": "S21"
          },
          "LivePreRollConfiguration": {
            "shape": "S22"
          },
          "ManifestProcessingRules": {
            "shape": "S23"
          },
          "Name": {},
          "PersonalizationThresholdSeconds": {
            "type": "integer"
          },
          "PlaybackConfigurationArn": {},
          "PlaybackEndpointPrefix": {},
          "SessionInitializationEndpointPrefix": {},
          "SlateAdUrl": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          },
          "TranscodeProfileName": {},
          "VideoContentSourceUrl": {}
        },
        "type": "structure"
      }
    },
    "ListChannels": {
      "http": {
        "method": "GET",
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "type": "structure"
      },
      "output": {
        "members": {
          "Items": {
            "member": {
              "members": {
                "Arn": {},
                "ChannelName": {},
                "ChannelState": {},
                "CreationTime": {
                  "shape": "Sc"
                },
                "LastModifiedTime": {
                  "shape": "Sc"
                },
                "Outputs": {
                  "shape": "Sd"
                },
                "PlaybackMode": {},
                "Tags": {
                  "locationName": "tags",
                  "shape": "S9"
                }
              },
              "required": [
                "ChannelState",
                "ChannelName",
                "Outputs",
                "Arn",
                "PlaybackMode"
              ],
              "type": "structure"
            },
            "type": "list"
          },
          "NextToken": {}
        },
        "type": "structure"
      }
    },
    "ListPlaybackConfigurations": {
      "http": {
        "method": "GET",
        "requestUri": "/playbackConfigurations",
        "responseCode": 200
      },
      "input": {
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "MaxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "NextToken"
          }
        },
        "type": "structure"
      },
      "output": {
        "members": {
          "Items": {
            "member": {
              "members": {
                "AdDecisionServerUrl": {},
                "AvailSuppression": {
                  "shape": "S1u"
                },
                "Bumper": {
                  "shape": "S1w"
                },
                "CdnConfiguration": {
                  "shape": "S1x"
                },
                "ConfigurationAliases": {
                  "shape": "S1y"
                },
                "DashConfiguration": {
                  "shape": "S1z"
                },
                "HlsConfiguration": {
                  "shape": "S21"
                },
                "LivePreRollConfiguration": {
                  "shape": "S22"
                },
                "ManifestProcessingRules": {
                  "shape": "S23"
                },
                "Name": {},
                "PersonalizationThresholdSeconds": {
                  "type": "integer"
                },
                "PlaybackConfigurationArn": {},
                "PlaybackEndpointPrefix": {},
                "SessionInitializationEndpointPrefix": {},
                "SlateAdUrl": {},
                "Tags": {
                  "locationName": "tags",
                  "shape": "S9"
                },
                "TranscodeProfileName": {},
                "VideoContentSourceUrl": {}
              },
              "type": "structure"
            },
            "type": "list"
          },
          "NextToken": {}
        },
        "type": "structure"
      }
    },
    "ListSourceLocations": {
      "http": {
        "method": "GET",
        "requestUri": "/sourceLocations",
        "responseCode": 200
      },
      "input": {
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "type": "structure"
      },
      "output": {
        "members": {
          "Items": {
            "member": {
              "members": {
                "AccessConfiguration": {
                  "shape": "Sr"
                },
                "Arn": {},
                "CreationTime": {
                  "shape": "Sc"
                },
                "DefaultSegmentDeliveryConfiguration": {
                  "shape": "St"
                },
                "HttpConfiguration": {
                  "shape": "Su"
                },
                "LastModifiedTime": {
                  "shape": "Sc"
                },
                "SourceLocationName": {},
                "Tags": {
                  "locationName": "tags",
                  "shape": "S9"
                }
              },
              "required": [
                "SourceLocationName",
                "HttpConfiguration",
                "Arn"
              ],
              "type": "structure"
            },
            "type": "list"
          },
          "NextToken": {}
        },
        "type": "structure"
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        },
        "required": [
          "ResourceArn"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          }
        },
        "type": "structure"
      }
    },
    "ListVodSources": {
      "http": {
        "method": "GET",
        "requestUri": "/sourceLocation/{sourceLocationName}/vodSources",
        "responseCode": 200
      },
      "input": {
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "sourceLocationName"
          }
        },
        "required": [
          "SourceLocationName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Items": {
            "member": {
              "members": {
                "Arn": {},
                "CreationTime": {
                  "shape": "Sc"
                },
                "HttpPackageConfigurations": {
                  "shape": "Sx"
                },
                "LastModifiedTime": {
                  "shape": "Sc"
                },
                "SourceLocationName": {},
                "Tags": {
                  "locationName": "tags",
                  "shape": "S9"
                },
                "VodSourceName": {}
              },
              "required": [
                "VodSourceName",
                "SourceLocationName",
                "HttpPackageConfigurations",
                "Arn"
              ],
              "type": "structure"
            },
            "type": "list"
          },
          "NextToken": {}
        },
        "type": "structure"
      }
    },
    "PutChannelPolicy": {
      "http": {
        "method": "PUT",
        "requestUri": "/channel/{channelName}/policy",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          },
          "Policy": {}
        },
        "required": [
          "ChannelName",
          "Policy"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "PutPlaybackConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/playbackConfiguration",
        "responseCode": 200
      },
      "input": {
        "members": {
          "AdDecisionServerUrl": {},
          "AvailSuppression": {
            "shape": "S1u"
          },
          "Bumper": {
            "shape": "S1w"
          },
          "CdnConfiguration": {
            "shape": "S1x"
          },
          "ConfigurationAliases": {
            "key": {},
            "type": "map",
            "value": {
              "shape": "S9"
            }
          },
          "DashConfiguration": {
            "members": {
              "MpdLocation": {},
              "OriginManifestType": {}
            },
            "type": "structure"
          },
          "LivePreRollConfiguration": {
            "shape": "S22"
          },
          "ManifestProcessingRules": {
            "shape": "S23"
          },
          "Name": {},
          "PersonalizationThresholdSeconds": {
            "type": "integer"
          },
          "SlateAdUrl": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          },
          "TranscodeProfileName": {},
          "VideoContentSourceUrl": {}
        },
        "type": "structure"
      },
      "output": {
        "members": {
          "AdDecisionServerUrl": {},
          "AvailSuppression": {
            "shape": "S1u"
          },
          "Bumper": {
            "shape": "S1w"
          },
          "CdnConfiguration": {
            "shape": "S1x"
          },
          "ConfigurationAliases": {
            "shape": "S1y"
          },
          "DashConfiguration": {
            "shape": "S1z"
          },
          "HlsConfiguration": {
            "shape": "S21"
          },
          "LivePreRollConfiguration": {
            "shape": "S22"
          },
          "ManifestProcessingRules": {
            "shape": "S23"
          },
          "Name": {},
          "PersonalizationThresholdSeconds": {
            "type": "integer"
          },
          "PlaybackConfigurationArn": {},
          "PlaybackEndpointPrefix": {},
          "SessionInitializationEndpointPrefix": {},
          "SlateAdUrl": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          },
          "TranscodeProfileName": {},
          "VideoContentSourceUrl": {}
        },
        "type": "structure"
      }
    },
    "StartChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/channel/{channelName}/start",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          }
        },
        "required": [
          "ChannelName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "StopChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/channel/{channelName}/stop",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          }
        },
        "required": [
          "ChannelName"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 204
      },
      "input": {
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          }
        },
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "type": "structure"
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 204
      },
      "input": {
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "member": {},
            "type": "list"
          }
        },
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "type": "structure"
      }
    },
    "UpdateChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/channel/{channelName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelName": {
            "location": "uri",
            "locationName": "channelName"
          },
          "Outputs": {
            "shape": "S3"
          }
        },
        "required": [
          "ChannelName",
          "Outputs"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {},
          "ChannelName": {},
          "ChannelState": {},
          "CreationTime": {
            "shape": "Sc"
          },
          "LastModifiedTime": {
            "shape": "Sc"
          },
          "Outputs": {
            "shape": "Sd"
          },
          "PlaybackMode": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          }
        },
        "type": "structure"
      }
    },
    "UpdateSourceLocation": {
      "http": {
        "method": "PUT",
        "requestUri": "/sourceLocation/{sourceLocationName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "AccessConfiguration": {
            "shape": "Sr"
          },
          "DefaultSegmentDeliveryConfiguration": {
            "shape": "St"
          },
          "HttpConfiguration": {
            "shape": "Su"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "sourceLocationName"
          }
        },
        "required": [
          "SourceLocationName",
          "HttpConfiguration"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "AccessConfiguration": {
            "shape": "Sr"
          },
          "Arn": {},
          "CreationTime": {
            "shape": "Sc"
          },
          "DefaultSegmentDeliveryConfiguration": {
            "shape": "St"
          },
          "HttpConfiguration": {
            "shape": "Su"
          },
          "LastModifiedTime": {
            "shape": "Sc"
          },
          "SourceLocationName": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          }
        },
        "type": "structure"
      }
    },
    "UpdateVodSource": {
      "http": {
        "method": "PUT",
        "requestUri": "/sourceLocation/{sourceLocationName}/vodSource/{vodSourceName}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "HttpPackageConfigurations": {
            "shape": "Sx"
          },
          "SourceLocationName": {
            "location": "uri",
            "locationName": "sourceLocationName"
          },
          "VodSourceName": {
            "location": "uri",
            "locationName": "vodSourceName"
          }
        },
        "required": [
          "SourceLocationName",
          "VodSourceName",
          "HttpPackageConfigurations"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {},
          "CreationTime": {
            "shape": "Sc"
          },
          "HttpPackageConfigurations": {
            "shape": "Sx"
          },
          "LastModifiedTime": {
            "shape": "Sc"
          },
          "SourceLocationName": {},
          "Tags": {
            "locationName": "tags",
            "shape": "S9"
          },
          "VodSourceName": {}
        },
        "type": "structure"
      }
    }
  },
  "shapes": {
    "S3": {
      "member": {
        "members": {
          "DashPlaylistSettings": {
            "shape": "S5"
          },
          "HlsPlaylistSettings": {
            "shape": "S7"
          },
          "ManifestName": {},
          "SourceGroup": {}
        },
        "required": [
          "ManifestName",
          "SourceGroup"
        ],
        "type": "structure"
      },
      "type": "list"
    },
    "S5": {
      "members": {
        "ManifestWindowSeconds": {
          "type": "integer"
        },
        "MinBufferTimeSeconds": {
          "type": "integer"
        },
        "MinUpdatePeriodSeconds": {
          "type": "integer"
        },
        "SuggestedPresentationDelaySeconds": {
          "type": "integer"
        }
      },
      "type": "structure"
    },
    "S7": {
      "members": {
        "ManifestWindowSeconds": {
          "type": "integer"
        }
      },
      "type": "structure"
    },
    "S9": {
      "key": {},
      "type": "map",
      "value": {}
    },
    "Sc": {
      "timestampFormat": "unixTimestamp",
      "type": "timestamp"
    },
    "Sd": {
      "member": {
        "members": {
          "DashPlaylistSettings": {
            "shape": "S5"
          },
          "HlsPlaylistSettings": {
            "shape": "S7"
          },
          "ManifestName": {},
          "PlaybackUrl": {},
          "SourceGroup": {}
        },
        "required": [
          "ManifestName",
          "PlaybackUrl",
          "SourceGroup"
        ],
        "type": "structure"
      },
      "type": "list"
    },
    "Sg": {
      "member": {
        "members": {
          "MessageType": {},
          "OffsetMillis": {
            "type": "long"
          },
          "Slate": {
            "members": {
              "SourceLocationName": {},
              "VodSourceName": {}
            },
            "type": "structure"
          },
          "SpliceInsertMessage": {
            "members": {
              "AvailNum": {
                "type": "integer"
              },
              "AvailsExpected": {
                "type": "integer"
              },
              "SpliceEventId": {
                "type": "integer"
              },
              "UniqueProgramId": {
                "type": "integer"
              }
            },
            "type": "structure"
          }
        },
        "type": "structure"
      },
      "type": "list"
    },
    "Sr": {
      "members": {
        "AccessType": {}
      },
      "type": "structure"
    },
    "St": {
      "members": {
        "BaseUrl": {}
      },
      "type": "structure"
    },
    "Su": {
      "members": {
        "BaseUrl": {}
      },
      "required": [
        "BaseUrl"
      ],
      "type": "structure"
    },
    "Sx": {
      "member": {
        "members": {
          "Path": {},
          "SourceGroup": {},
          "Type": {}
        },
        "required": [
          "Path",
          "Type",
          "SourceGroup"
        ],
        "type": "structure"
      },
      "type": "list"
    },
    "S1u": {
      "members": {
        "Mode": {},
        "Value": {}
      },
      "type": "structure"
    },
    "S1w": {
      "members": {
        "EndUrl": {},
        "StartUrl": {}
      },
      "type": "structure"
    },
    "S1x": {
      "members": {
        "AdSegmentUrlPrefix": {},
        "ContentSegmentUrlPrefix": {}
      },
      "type": "structure"
    },
    "S1y": {
      "key": {},
      "type": "map",
      "value": {
        "shape": "S9"
      }
    },
    "S1z": {
      "members": {
        "ManifestEndpointPrefix": {},
        "MpdLocation": {},
        "OriginManifestType": {}
      },
      "type": "structure"
    },
    "S21": {
      "members": {
        "ManifestEndpointPrefix": {}
      },
      "type": "structure"
    },
    "S22": {
      "members": {
        "AdDecisionServerUrl": {},
        "MaxDurationSeconds": {
          "type": "integer"
        }
      },
      "type": "structure"
    },
    "S23": {
      "members": {
        "AdMarkerPassthrough": {
          "members": {
            "Enabled": {
              "type": "boolean"
            }
          },
          "type": "structure"
        }
      },
      "type": "structure"
    }
  }
}