{
  "metadata": {
    "apiVersion": "2017-10-14",
    "endpointPrefix": "medialive",
    "signingName": "medialive",
    "serviceFullName": "AWS Elemental MediaLive",
    "serviceId": "MediaLive",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "medialive-2017-10-14",
    "signatureVersion": "v4",
    "serviceAbbreviation": "MediaLive"
  },
  "operations": {
    "CreateChannel": {
      "name": "CreateChannel",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelRequest"
      },
      "output": {
        "shape": "CreateChannelResponse",
        "documentation": "Creation of channel is started."
      },
      "errors": [
        {
          "shape": "UnprocessableEntityException",
          "documentation": "The Channel failed validation and could not be created."
        },
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to create the channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on create channel calls to channel service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The channel is unable to create due to an issue with channel resources."
        }
      ],
      "documentation": "Creates a new channel"
    },
    "CreateInput": {
      "name": "CreateInput",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateInputRequest"
      },
      "output": {
        "shape": "CreateInputResponse",
        "documentation": "Successfully created the input."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "Access was denied"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit exceeded"
        }
      ],
      "documentation": "Create an input"
    },
    "CreateInputSecurityGroup": {
      "name": "CreateInputSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateInputSecurityGroupRequest"
      },
      "output": {
        "shape": "CreateInputSecurityGroupResponse",
        "documentation": "Successfully created the Input Security Group."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request to create an Input Security Group was Invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Server Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "The requester does not have permission to create an Input Security Group"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit Exceeded Error"
        }
      ],
      "documentation": "Creates a Input Security Group"
    },
    "DeleteChannel": {
      "name": "DeleteChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteChannelRequest"
      },
      "output": {
        "shape": "DeleteChannelResponse",
        "documentation": "Deletion was successfully initiated."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to delete the channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The channel you're requesting to delete does not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on delete channel calls to channel service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The channel is unable to delete due to an issue with channel resources."
        }
      ],
      "documentation": "Starts deletion of channel. The associated outputs are also deleted."
    },
    "DeleteInput": {
      "name": "DeleteInput",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInputRequest"
      },
      "output": {
        "shape": "DeleteInputResponse",
        "documentation": "Successful deletion"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "Access was denied"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input not found"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit exceeded"
        },
        {
          "shape": "ConflictException",
          "documentation": "Resource conflict"
        }
      ],
      "documentation": "Deletes the input end point"
    },
    "DeleteInputSecurityGroup": {
      "name": "DeleteInputSecurityGroup",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInputSecurityGroupRequest"
      },
      "output": {
        "shape": "DeleteInputSecurityGroupResponse",
        "documentation": "An Input Security Group"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request to delete the Input Security Group was Invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Server Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "The requester does not have permission to delete this Input Security Group"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input Security Group not found"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit Exceeded Error"
        }
      ],
      "documentation": "Deletes an Input Security Group"
    },
    "DescribeChannel": {
      "name": "DescribeChannel",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelRequest"
      },
      "output": {
        "shape": "DescribeChannelResponse",
        "documentation": "Channel details"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to describe the channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The channel you're requesting to describe does not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on describe channel calls to channel service."
        }
      ],
      "documentation": "Gets details about a channel"
    },
    "DescribeInput": {
      "name": "DescribeInput",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputRequest"
      },
      "output": {
        "shape": "DescribeInputResponse",
        "documentation": "Input details"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "Access was denied"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input not found"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit exceeded"
        }
      ],
      "documentation": "Produces details about an input"
    },
    "DescribeInputSecurityGroup": {
      "name": "DescribeInputSecurityGroup",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputSecurityGroupRequest"
      },
      "output": {
        "shape": "DescribeInputSecurityGroupResponse",
        "documentation": "An Input Security Group"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request to describe an Input Security Group was Invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Server Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "The requester does not have permission to describe this Input Security Group"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input Security Group not found"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit Exceeded Error"
        }
      ],
      "documentation": "Produces a summary of an Input Security Group"
    },
    "ListChannels": {
      "name": "ListChannels",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelsRequest"
      },
      "output": {
        "shape": "ListChannelsResponse",
        "documentation": "An array of channels"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to list channels."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on list channel calls to channel service."
        }
      ],
      "documentation": "Produces list of channels that have been created"
    },
    "ListInputSecurityGroups": {
      "name": "ListInputSecurityGroups",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputSecurityGroupsRequest"
      },
      "output": {
        "shape": "ListInputSecurityGroupsResponse",
        "documentation": "An array of Input Security Groups"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request to list Input Security Groups was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Server Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "The requester does not have permission to call ListInputSecurityGroups"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit Exceeded Error"
        }
      ],
      "documentation": "Produces a list of Input Security Groups for an account"
    },
    "ListInputs": {
      "name": "ListInputs",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputsRequest"
      },
      "output": {
        "shape": "ListInputsResponse",
        "documentation": "An array of inputs"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "Access was denied"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit exceeded"
        }
      ],
      "documentation": "Produces list of inputs that have been created"
    },
    "StartChannel": {
      "name": "StartChannel",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/start",
        "responseCode": 200
      },
      "input": {
        "shape": "StartChannelRequest"
      },
      "output": {
        "shape": "StartChannelResponse",
        "documentation": "Successfully initiated start of the channel."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to start the channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The channel you're requesting to start does not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on start channel calls to channel service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The channel is unable to start due to an issue with channel resources."
        }
      ],
      "documentation": "Starts an existing channel"
    },
    "StopChannel": {
      "name": "StopChannel",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopChannelRequest"
      },
      "output": {
        "shape": "StopChannelResponse",
        "documentation": "Successfully initiated stop of the channel."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to stop the channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The channel you're requesting to stop does not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on stop channel calls to channel service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The channel is unable to stop due to an issue with channel resources."
        }
      ],
      "documentation": "Stops a running channel"
    },
    "UpdateChannel": {
      "name": "UpdateChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelRequest"
      },
      "output": {
        "shape": "UpdateChannelResponse",
        "documentation": "Channel is successfully updated."
      },
      "errors": [
        {
          "shape": "UnprocessableEntityException",
          "documentation": "The channel configuration failed validation and could not be updated."
        },
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to update the channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "ConflictException",
          "documentation": "The channel is unable to update due to an issue with channel resources."
        }
      ],
      "documentation": "Updates a channel."
    },
    "UpdateInput": {
      "name": "UpdateInput",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputRequest"
      },
      "output": {
        "shape": "UpdateInputResponse",
        "documentation": "The input update is successfully initiated."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request to update the input was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "The requester does not have permission to update an input."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The input was not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "ConflictException",
          "documentation": "The input was unable to be updated at this time due to an issue with input resources."
        }
      ],
      "documentation": "Updates an input."
    },
    "UpdateInputSecurityGroup": {
      "name": "UpdateInputSecurityGroup",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputSecurityGroupRequest"
      },
      "output": {
        "shape": "UpdateInputSecurityGroupResponse",
        "documentation": "Successfully initiated the update of the Input Security Group."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request to update the Input Security Group was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Server Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "The requester does not have permission to update an Input Security Group"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The Input Security Group was not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "ConflictException",
          "documentation": "The Input Security Group was unable to be updated due to an issue with input security group resources."
        }
      ],
      "documentation": "Update an Input Security Group's Whilelists."
    }
  },
  "shapes": {
    "AacCodingMode": {
      "type": "string",
      "enum": [
        "AD_RECEIVER_MIX",
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_5_1"
      ],
      "documentation": "Placeholder documentation for AacCodingMode"
    },
    "AacInputType": {
      "type": "string",
      "enum": [
        "BROADCASTER_MIXED_AD",
        "NORMAL"
      ],
      "documentation": "Placeholder documentation for AacInputType"
    },
    "AacProfile": {
      "type": "string",
      "enum": [
        "HEV1",
        "HEV2",
        "LC"
      ],
      "documentation": "Placeholder documentation for AacProfile"
    },
    "AacRateControlMode": {
      "type": "string",
      "enum": [
        "CBR",
        "VBR"
      ],
      "documentation": "Placeholder documentation for AacRateControlMode"
    },
    "AacRawFormat": {
      "type": "string",
      "enum": [
        "LATM_LOAS",
        "NONE"
      ],
      "documentation": "Placeholder documentation for AacRawFormat"
    },
    "AacSettings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "shape": "__double",
          "locationName": "bitrate",
          "documentation": "Average bitrate in bits/second. Valid values depend on rate control mode and profile."
        },
        "CodingMode": {
          "shape": "AacCodingMode",
          "locationName": "codingMode",
          "documentation": "Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. The adReceiverMix setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E."
        },
        "InputType": {
          "shape": "AacInputType",
          "locationName": "inputType",
          "documentation": "Set to \"broadcasterMixedAd\" when input contains pre-mixed main audio + AD (narration) as a stereo pair.  The Audio Type field (audioType) will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. The values in audioTypeControl and audioType (in AudioDescription) are ignored when set to broadcasterMixedAd.\n\nLeave set to \"normal\" when input does not contain pre-mixed audio + AD."
        },
        "Profile": {
          "shape": "AacProfile",
          "locationName": "profile",
          "documentation": "AAC Profile."
        },
        "RateControlMode": {
          "shape": "AacRateControlMode",
          "locationName": "rateControlMode",
          "documentation": "Rate Control Mode."
        },
        "RawFormat": {
          "shape": "AacRawFormat",
          "locationName": "rawFormat",
          "documentation": "Sets LATM / LOAS AAC output for raw containers."
        },
        "SampleRate": {
          "shape": "__double",
          "locationName": "sampleRate",
          "documentation": "Sample rate in Hz. Valid values depend on rate control mode and profile."
        },
        "Spec": {
          "shape": "AacSpec",
          "locationName": "spec",
          "documentation": "Use MPEG-2 AAC audio instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers."
        },
        "VbrQuality": {
          "shape": "AacVbrQuality",
          "locationName": "vbrQuality",
          "documentation": "VBR Quality Level - Only used if rateControlMode is VBR."
        }
      },
      "documentation": "Placeholder documentation for AacSettings"
    },
    "AacSpec": {
      "type": "string",
      "enum": [
        "MPEG2",
        "MPEG4"
      ],
      "documentation": "Placeholder documentation for AacSpec"
    },
    "AacVbrQuality": {
      "type": "string",
      "enum": [
        "HIGH",
        "LOW",
        "MEDIUM_HIGH",
        "MEDIUM_LOW"
      ],
      "documentation": "Placeholder documentation for AacVbrQuality"
    },
    "Ac3BitstreamMode": {
      "type": "string",
      "enum": [
        "COMMENTARY",
        "COMPLETE_MAIN",
        "DIALOGUE",
        "EMERGENCY",
        "HEARING_IMPAIRED",
        "MUSIC_AND_EFFECTS",
        "VISUALLY_IMPAIRED",
        "VOICE_OVER"
      ],
      "documentation": "Placeholder documentation for Ac3BitstreamMode"
    },
    "Ac3CodingMode": {
      "type": "string",
      "enum": [
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_3_2_LFE"
      ],
      "documentation": "Placeholder documentation for Ac3CodingMode"
    },
    "Ac3DrcProfile": {
      "type": "string",
      "enum": [
        "FILM_STANDARD",
        "NONE"
      ],
      "documentation": "Placeholder documentation for Ac3DrcProfile"
    },
    "Ac3LfeFilter": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "documentation": "Placeholder documentation for Ac3LfeFilter"
    },
    "Ac3MetadataControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "documentation": "Placeholder documentation for Ac3MetadataControl"
    },
    "Ac3Settings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "shape": "__double",
          "locationName": "bitrate",
          "documentation": "Average bitrate in bits/second. Valid bitrates depend on the coding mode."
        },
        "BitstreamMode": {
          "shape": "Ac3BitstreamMode",
          "locationName": "bitstreamMode",
          "documentation": "Specifies the bitstream mode (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values."
        },
        "CodingMode": {
          "shape": "Ac3CodingMode",
          "locationName": "codingMode",
          "documentation": "Dolby Digital coding mode. Determines number of channels."
        },
        "Dialnorm": {
          "shape": "__integerMin1Max31",
          "locationName": "dialnorm",
          "documentation": "Sets the dialnorm for the output. If excluded and input audio is Dolby Digital, dialnorm will be passed through."
        },
        "DrcProfile": {
          "shape": "Ac3DrcProfile",
          "locationName": "drcProfile",
          "documentation": "If set to filmStandard, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification."
        },
        "LfeFilter": {
          "shape": "Ac3LfeFilter",
          "locationName": "lfeFilter",
          "documentation": "When set to enabled, applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid in codingMode32Lfe mode."
        },
        "MetadataControl": {
          "shape": "Ac3MetadataControl",
          "locationName": "metadataControl",
          "documentation": "When set to \"followInput\", encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used."
        }
      },
      "documentation": "Placeholder documentation for Ac3Settings"
    },
    "AccessDenied": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "documentation": "Placeholder documentation for AccessDenied"
    },
    "AfdSignaling": {
      "type": "string",
      "enum": [
        "AUTO",
        "FIXED",
        "NONE"
      ],
      "documentation": "Placeholder documentation for AfdSignaling"
    },
    "ArchiveContainerSettings": {
      "type": "structure",
      "members": {
        "M2tsSettings": {
          "shape": "M2tsSettings",
          "locationName": "m2tsSettings"
        }
      },
      "documentation": "Placeholder documentation for ArchiveContainerSettings"
    },
    "ArchiveGroupSettings": {
      "type": "structure",
      "members": {
        "Destination": {
          "shape": "OutputLocationRef",
          "locationName": "destination",
          "documentation": "A directory and base filename where archive files should be written.  If the base filename portion of the URI is left blank, the base filename of the first input will be automatically inserted."
        },
        "RolloverInterval": {
          "shape": "__integerMin1",
          "locationName": "rolloverInterval",
          "documentation": "Number of seconds to write to archive file before closing and starting a new one."
        }
      },
      "required": [
        "Destination"
      ],
      "documentation": "Placeholder documentation for ArchiveGroupSettings"
    },
    "ArchiveOutputSettings": {
      "type": "structure",
      "members": {
        "ContainerSettings": {
          "shape": "ArchiveContainerSettings",
          "locationName": "containerSettings",
          "documentation": "Settings specific to the container type of the file."
        },
        "Extension": {
          "shape": "__string",
          "locationName": "extension",
          "documentation": "Output file extension. If excluded, this will be auto-selected from the container type."
        },
        "NameModifier": {
          "shape": "__string",
          "locationName": "nameModifier",
          "documentation": "String concatenated to the end of the destination filename.  Required for multiple outputs of the same type."
        }
      },
      "required": [
        "ContainerSettings"
      ],
      "documentation": "Placeholder documentation for ArchiveOutputSettings"
    },
    "AribDestinationSettings": {
      "type": "structure",
      "members": {
      },
      "documentation": "Placeholder documentation for AribDestinationSettings"
    },
    "AribSourceSettings": {
      "type": "structure",
      "members": {
      },
      "documentation": "Placeholder documentation for AribSourceSettings"
    },
    "AudioChannelMapping": {
      "type": "structure",
      "members": {
        "InputChannelLevels": {
          "shape": "__listOfInputChannelLevel",
          "locationName": "inputChannelLevels",
          "documentation": "Indices and gain values for each input channel that should be remixed into this output channel."
        },
        "OutputChannel": {
          "shape": "__integerMin0Max7",
          "locationName": "outputChannel",
          "documentation": "The index of the output channel being produced."
        }
      },
      "required": [
        "OutputChannel",
        "InputChannelLevels"
      ],
      "documentation": "Placeholder documentation for AudioChannelMapping"
    },
    "AudioCodecSettings": {
      "type": "structure",
      "members": {
        "AacSettings": {
          "shape": "AacSettings",
          "locationName": "aacSettings"
        },
        "Ac3Settings": {
          "shape": "Ac3Settings",
          "locationName": "ac3Settings"
        },
        "Eac3Settings": {
          "shape": "Eac3Settings",
          "locationName": "eac3Settings"
        },
        "Mp2Settings": {
          "shape": "Mp2Settings",
          "locationName": "mp2Settings"
        },
        "PassThroughSettings": {
          "shape": "PassThroughSettings",
          "locationName": "passThroughSettings"
        }
      },
      "documentation": "Placeholder documentation for AudioCodecSettings"
    },
    "AudioDescription": {
      "type": "structure",
      "members": {
        "AudioNormalizationSettings": {
          "shape": "AudioNormalizationSettings",
          "locationName": "audioNormalizationSettings",
          "documentation": "Advanced audio normalization settings."
        },
        "AudioSelectorName": {
          "shape": "__string",
          "locationName": "audioSelectorName",
          "documentation": "The name of the AudioSelector used as the source for this AudioDescription."
        },
        "AudioType": {
          "shape": "AudioType",
          "locationName": "audioType",
          "documentation": "Applies only if audioTypeControl is useConfigured. The values for audioType are defined in ISO-IEC 13818-1."
        },
        "AudioTypeControl": {
          "shape": "AudioDescriptionAudioTypeControl",
          "locationName": "audioTypeControl",
          "documentation": "Determines how audio type is determined.\n  followInput: If the input contains an ISO 639 audioType, then that value is passed through to the output. If the input contains no ISO 639 audioType, the value in Audio Type is included in the output.\n  useConfigured: The value in Audio Type is included in the output.\nNote that this field and audioType are both ignored if inputType is broadcasterMixedAd."
        },
        "CodecSettings": {
          "shape": "AudioCodecSettings",
          "locationName": "codecSettings",
          "documentation": "Audio codec settings."
        },
        "LanguageCode": {
          "shape": "__stringMin3Max3",
          "locationName": "languageCode",
          "documentation": "Indicates the language of the audio output track. Only used if languageControlMode is useConfigured, or there is no ISO 639 language code specified in the input."
        },
        "LanguageCodeControl": {
          "shape": "AudioDescriptionLanguageCodeControl",
          "locationName": "languageCodeControl",
          "documentation": "Choosing followInput will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The languageCode will be used when useConfigured is set, or when followInput is selected but there is no ISO 639 language code specified by the input."
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "The name of this AudioDescription. Outputs will use this name to uniquely identify this AudioDescription.  Description names should be unique within this Live Event."
        },
        "RemixSettings": {
          "shape": "RemixSettings",
          "locationName": "remixSettings",
          "documentation": "Settings that control how input audio channels are remixed into the output audio channels."
        },
        "StreamName": {
          "shape": "__string",
          "locationName": "streamName",
          "documentation": "Used for MS Smooth and Apple HLS outputs. Indicates the name displayed by the player (eg. English, or Director Commentary)."
        }
      },
      "required": [
        "AudioSelectorName",
        "Name"
      ],
      "documentation": "Placeholder documentation for AudioDescription"
    },
    "AudioDescriptionAudioTypeControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "documentation": "Placeholder documentation for AudioDescriptionAudioTypeControl"
    },
    "AudioDescriptionLanguageCodeControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "documentation": "Placeholder documentation for AudioDescriptionLanguageCodeControl"
    },
    "AudioLanguageSelection": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "shape": "__string",
          "locationName": "languageCode",
          "documentation": "Selects a specific three-letter language code from within an audio source."
        },
        "LanguageSelectionPolicy": {
          "shape": "AudioLanguageSelectionPolicy",
          "locationName": "languageSelectionPolicy",
          "documentation": "When set to \"strict\", the transport stream demux strictly identifies audio streams by their language descriptor. If a PMT update occurs such that an audio stream matching the initially selected language is no longer present then mute will be encoded until the language returns. If \"loose\", then on a PMT update the demux will choose another audio stream in the program with the same stream type if it can't find one with the same language."
        }
      },
      "required": [
        "LanguageCode"
      ],
      "documentation": "Placeholder documentation for AudioLanguageSelection"
    },
    "AudioLanguageSelectionPolicy": {
      "type": "string",
      "enum": [
        "LOOSE",
        "STRICT"
      ],
      "documentation": "Placeholder documentation for AudioLanguageSelectionPolicy"
    },
    "AudioNormalizationAlgorithm": {
      "type": "string",
      "enum": [
        "ITU_1770_1",
        "ITU_1770_2"
      ],
      "documentation": "Placeholder documentation for AudioNormalizationAlgorithm"
    },
    "AudioNormalizationAlgorithmControl": {
      "type": "string",
      "enum": [
        "CORRECT_AUDIO"
      ],
      "documentation": "Placeholder documentation for AudioNormalizationAlgorithmControl"
    },
    "AudioNormalizationSettings": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "shape": "AudioNormalizationAlgorithm",
          "locationName": "algorithm",
          "documentation": "Audio normalization algorithm to use. itu17701 conforms to the CALM Act specification, itu17702 conforms to the EBU R-128 specification."
        },
        "AlgorithmControl": {
          "shape": "AudioNormalizationAlgorithmControl",
          "locationName": "algorithmControl",
          "documentation": "When set to correctAudio the output audio is corrected using the chosen algorithm. If set to measureOnly, the audio will be measured but not adjusted."
        },
        "TargetLkfs": {
          "shape": "__doubleMinNegative59Max0",
          "locationName": "targetLkfs",
          "documentation": "Target LKFS(loudness) to adjust volume to. If no value is entered, a default value will be used according to the chosen algorithm.  The CALM Act (1770-1) recommends a target of -24 LKFS. The EBU R-128 specification (1770-2) recommends a target of -23 LKFS."
        }
      },
      "documentation": "Placeholder documentation for AudioNormalizationSettings"
    },
    "AudioOnlyHlsSettings": {
      "type": "structure",
      "members": {
        "AudioGroupId": {
          "shape": "__string",
          "locationName": "audioGroupId",
          "documentation": "Specifies the group to which the audio Rendition belongs."
        },
        "AudioOnlyImage": {
          "shape": "InputLocation",
          "locationName": "audioOnlyImage",
          "documentation": "For use with an audio only Stream. Must be a .jpg or .png file. If given, this image will be used as the cover-art for the audio only output. Ideally, it should be formatted for an iPhone screen for two reasons. The iPhone does not resize the image, it crops a centered image on the top/bottom and left/right. Additionally, this image file gets saved bit-for-bit into every 10-second segment file, so will increase bandwidth by {image file size} * {segment count} * {user count.}."
        },
        "AudioTrackType": {
          "shape": "AudioOnlyHlsTrackType",
          "locationName": "audioTrackType",
          "documentation": "Four types of audio-only tracks are supported:\n\nAudio-Only Variant Stream\nThe client can play back this audio-only stream instead of video in low-bandwidth scenarios. Represented as an EXT-X-STREAM-INF in the HLS manifest.\n\nAlternate Audio, Auto Select, Default\nAlternate rendition that the client should try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=YES, AUTOSELECT=YES\n\nAlternate Audio, Auto Select, Not Default\nAlternate rendition that the client may try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=YES\n\nAlternate Audio, not Auto Select\nAlternate rendition that the client will not try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=NO"
        }
      },
      "documentation": "Placeholder documentation for AudioOnlyHlsSettings"
    },
    "AudioOnlyHlsTrackType": {
      "type": "string",
      "enum": [
        "ALTERNATE_AUDIO_AUTO_SELECT",
        "ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT",
        "ALTERNATE_AUDIO_NOT_AUTO_SELECT",
        "AUDIO_ONLY_VARIANT_STREAM"
      ],
      "documentation": "Placeholder documentation for AudioOnlyHlsTrackType"
    },
    "AudioPidSelection": {
      "type": "structure",
      "members": {
        "Pid": {
          "shape": "__integerMin0Max8191",
          "locationName": "pid",
          "documentation": "Selects a specific PID from within a source."
        }
      },
      "required": [
        "Pid"
      ],
      "documentation": "Placeholder documentation for AudioPidSelection"
    },
    "AudioSelector": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "The name of this AudioSelector. AudioDescriptions will use this name to uniquely identify this Selector.  Selector names should be unique per input."
        },
        "SelectorSettings": {
          "shape": "AudioSelectorSettings",
          "locationName": "selectorSettings",
          "documentation": "The audio selector settings."
        }
      },
      "required": [
        "Name"
      ],
      "documentation": "Placeholder documentation for AudioSelector"
    },
    "AudioSelectorSettings": {
      "type": "structure",
      "members": {
        "AudioLanguageSelection": {
          "shape": "AudioLanguageSelection",
          "locationName": "audioLanguageSelection"
        },
        "AudioPidSelection": {
          "shape": "AudioPidSelection",
          "locationName": "audioPidSelection"
        }
      },
      "documentation": "Placeholder documentation for AudioSelectorSettings"
    },
    "AudioType": {
      "type": "string",
      "enum": [
        "CLEAN_EFFECTS",
        "HEARING_IMPAIRED",
        "UNDEFINED",
        "VISUAL_IMPAIRED_COMMENTARY"
      ],
      "documentation": "Placeholder documentation for AudioType"
    },
    "AuthenticationScheme": {
      "type": "string",
      "enum": [
        "AKAMAI",
        "COMMON"
      ],
      "documentation": "Placeholder documentation for AuthenticationScheme"
    },
    "AvailBlanking": {
      "type": "structure",
      "members": {
        "AvailBlankingImage": {
          "shape": "InputLocation",
          "locationName": "availBlankingImage",
          "documentation": "Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported."
        },
        "State": {
          "shape": "AvailBlankingState",
          "locationName": "state",
          "documentation": "When set to enabled, causes video, audio and captions to be blanked when insertion metadata is added."
        }
      },
      "documentation": "Placeholder documentation for AvailBlanking"
    },
    "AvailBlankingState": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "documentation": "Placeholder documentation for AvailBlankingState"
    },
    "AvailConfiguration": {
      "type": "structure",
      "members": {
        "AvailSettings": {
          "shape": "AvailSettings",
          "locationName": "availSettings",
          "documentation": "Ad avail settings."
        }
      },
      "documentation": "Placeholder documentation for AvailConfiguration"
    },
    "AvailSettings": {
      "type": "structure",
      "members": {
        "Scte35SpliceInsert": {
          "shape": "Scte35SpliceInsert",
          "locationName": "scte35SpliceInsert"
        },
        "Scte35TimeSignalApos": {
          "shape": "Scte35TimeSignalApos",
          "locationName": "scte35TimeSignalApos"
        }
      },
      "documentation": "Placeholder documentation for AvailSettings"
    },
    "BadGatewayException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 502
      },
      "documentation": "Placeholder documentation for BadGatewayException"
    },
    "BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 400
      },
      "documentation": "Placeholder documentation for BadRequestException"
    },
    "BlackoutSlate": {
      "type": "structure",
      "members": {
        "BlackoutSlateImage": {
          "shape": "InputLocation",
          "locationName": "blackoutSlateImage",
          "documentation": "Blackout slate image to be used. Leave empty for solid black. Only bmp and png images are supported."
        },
        "NetworkEndBlackout": {
          "shape": "BlackoutSlateNetworkEndBlackout",
          "locationName": "networkEndBlackout",
          "documentation": "Setting to enabled causes the encoder to blackout the video, audio, and captions, and raise the \"Network Blackout Image\" slate when an SCTE104/35 Network End Segmentation Descriptor is encountered. The blackout will be lifted when the Network Start Segmentation Descriptor is encountered. The Network End and Network Start descriptors must contain a network ID that matches the value entered in \"Network ID\"."
        },
        "NetworkEndBlackoutImage": {
          "shape": "InputLocation",
          "locationName": "networkEndBlackoutImage",
          "documentation": "Path to local file to use as Network End Blackout image. Image will be scaled to fill the entire output raster."
        },
        "NetworkId": {
          "shape": "__stringMin34Max34",
          "locationName": "networkId",
          "documentation": "Provides Network ID that matches EIDR ID format (e.g., \"10.XXXX/XXXX-XXXX-XXXX-XXXX-XXXX-C\")."
        },
        "State": {
          "shape": "BlackoutSlateState",
          "locationName": "state",
          "documentation": "When set to enabled, causes video, audio and captions to be blanked when indicated by program metadata."
        }
      },
      "documentation": "Placeholder documentation for BlackoutSlate"
    },
    "BlackoutSlateNetworkEndBlackout": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "documentation": "Placeholder documentation for BlackoutSlateNetworkEndBlackout"
    },
    "BlackoutSlateState": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "documentation": "Placeholder documentation for BlackoutSlateState"
    },
    "BurnInAlignment": {
      "type": "string",
      "enum": [
        "CENTERED",
        "LEFT",
        "SMART"
      ],
      "documentation": "Placeholder documentation for BurnInAlignment"
    },
    "BurnInBackgroundColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "NONE",
        "WHITE"
      ],
      "documentation": "Placeholder documentation for BurnInBackgroundColor"
    },
    "BurnInDestinationSettings": {
      "type": "structure",
      "members": {
        "Alignment": {
          "shape": "BurnInAlignment",
          "locationName": "alignment",
          "documentation": "If no explicit xPosition or yPosition is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. Selecting \"smart\" justification will left-justify live subtitles and center-justify pre-recorded subtitles.  All burn-in and DVB-Sub font settings must match."
        },
        "BackgroundColor": {
          "shape": "BurnInBackgroundColor",
          "locationName": "backgroundColor",
          "documentation": "Specifies the color of the rectangle behind the captions.  All burn-in and DVB-Sub font settings must match."
        },
        "BackgroundOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "backgroundOpacity",
          "documentation": "Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match."
        },
        "Font": {
          "shape": "InputLocation",
          "locationName": "font",
          "documentation": "External font file used for caption burn-in. File extension must be 'ttf' or 'tte'.  Although the user can select output fonts for many different types of input captions,  embedded, STL and teletext sources use a strict grid system. Using external fonts with these caption sources could cause unexpected display of proportional fonts.  All burn-in and DVB-Sub font settings must match."
        },
        "FontColor": {
          "shape": "BurnInFontColor",
          "locationName": "fontColor",
          "documentation": "Specifies the color of the burned-in captions.  This option is not valid for source captions that are STL, 608/embedded or teletext.  These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match."
        },
        "FontOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "fontOpacity",
          "documentation": "Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.  All burn-in and DVB-Sub font settings must match."
        },
        "FontResolution": {
          "shape": "__integerMin96Max600",
          "locationName": "fontResolution",
          "documentation": "Font resolution in DPI (dots per inch); default is 96 dpi.  All burn-in and DVB-Sub font settings must match."
        },
        "FontSize": {
          "shape": "__string",
          "locationName": "fontSize",
          "documentation": "When set to 'auto' fontSize will scale depending on the size of the output.  Giving a positive integer will specify the exact font size in points.  All burn-in and DVB-Sub font settings must match."
        },
        "OutlineColor": {
          "shape": "BurnInOutlineColor",
          "locationName": "outlineColor",
          "documentation": "Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match."
        },
        "OutlineSize": {
          "shape": "__integerMin0Max10",
          "locationName": "outlineSize",
          "documentation": "Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match."
        },
        "ShadowColor": {
          "shape": "BurnInShadowColor",
          "locationName": "shadowColor",
          "documentation": "Specifies the color of the shadow cast by the captions.  All burn-in and DVB-Sub font settings must match."
        },
        "ShadowOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "shadowOpacity",
          "documentation": "Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match."
        },
        "ShadowXOffset": {
          "shape": "__integer",
          "locationName": "shadowXOffset",
          "documentation": "Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left.  All burn-in and DVB-Sub font settings must match."
        },
        "ShadowYOffset": {
          "shape": "__integer",
          "locationName": "shadowYOffset",
          "documentation": "Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text.  All burn-in and DVB-Sub font settings must match."
        },
        "TeletextGridControl": {
          "shape": "BurnInTeletextGridControl",
          "locationName": "teletextGridControl",
          "documentation": "Controls whether a fixed grid size will be used to generate the output subtitles bitmap. Only applicable for Teletext inputs and DVB-Sub/Burn-in outputs."
        },
        "XPosition": {
          "shape": "__integerMin0",
          "locationName": "xPosition",
          "documentation": "Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit xPosition is provided, the horizontal caption position will be determined by the alignment parameter.  All burn-in and DVB-Sub font settings must match."
        },
        "YPosition": {
          "shape": "__integerMin0",
          "locationName": "yPosition",
          "documentation": "Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit yPosition is provided, the caption will be positioned towards the bottom of the output.  All burn-in and DVB-Sub font settings must match."
        }
      },
      "documentation": "Placeholder documentation for BurnInDestinationSettings"
    },
    "BurnInFontColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "BLUE",
        "GREEN",
        "RED",
        "WHITE",
        "YELLOW"
      ],
      "documentation": "Placeholder documentation for BurnInFontColor"
    },
    "BurnInOutlineColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "BLUE",
        "GREEN",
        "RED",
        "WHITE",
        "YELLOW"
      ],
      "documentation": "Placeholder documentation for BurnInOutlineColor"
    },
    "BurnInShadowColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "NONE",
        "WHITE"
      ],
      "documentation": "Placeholder documentation for BurnInShadowColor"
    },
    "BurnInTeletextGridControl": {
      "type": "string",
      "enum": [
        "FIXED",
        "SCALED"
      ],
      "documentation": "Placeholder documentation for BurnInTeletextGridControl"
    },
    "CaptionDescription": {
      "type": "structure",
      "members": {
        "CaptionSelectorName": {
          "shape": "__string",
          "locationName": "captionSelectorName",
          "documentation": "Specifies which input caption selector to use as a caption source when generating output captions. This field should match a captionSelector name."
        },
        "DestinationSettings": {
          "shape": "CaptionDestinationSettings",
          "locationName": "destinationSettings",
          "documentation": "Additional settings for captions destination that depend on the destination type."
        },
        "LanguageCode": {
          "shape": "__string",
          "locationName": "languageCode",
          "documentation": "ISO 639-2 three-digit code: http://www.loc.gov/standards/iso639-2/"
        },
        "LanguageDescription": {
          "shape": "__string",
          "locationName": "languageDescription",
          "documentation": "Human readable information to indicate captions available for players (eg. English, or Spanish)."
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "Name of the caption description.  Used to associate a caption description with an output.  Names must be unique within an event."
        }
      },
      "documentation": "Output groups for this Live Event. Output groups contain information about where streams should be distributed.",
      "required": [
        "CaptionSelectorName",
        "Name"
      ]
    },
    "CaptionDestinationSettings": {
      "type": "structure",
      "members": {
        "AribDestinationSettings": {
          "shape": "AribDestinationSettings",
          "locationName": "aribDestinationSettings"
        },
        "BurnInDestinationSettings": {
          "shape": "BurnInDestinationSettings",
          "locationName": "burnInDestinationSettings"
        },
        "DvbSubDestinationSettings": {
          "shape": "DvbSubDestinationSettings",
          "locationName": "dvbSubDestinationSettings"
        },
        "EmbeddedDestinationSettings": {
          "shape": "EmbeddedDestinationSettings",
          "locationName": "embeddedDestinationSettings"
        },
        "EmbeddedPlusScte20DestinationSettings": {
          "shape": "EmbeddedPlusScte20DestinationSettings",
          "locationName": "embeddedPlusScte20DestinationSettings"
        },
        "RtmpCaptionInfoDestinationSettings": {
          "shape": "RtmpCaptionInfoDestinationSettings",
          "locationName": "rtmpCaptionInfoDestinationSettings"
        },
        "Scte20PlusEmbeddedDestinationSettings": {
          "shape": "Scte20PlusEmbeddedDestinationSettings",
          "locationName": "scte20PlusEmbeddedDestinationSettings"
        },
        "Scte27DestinationSettings": {
          "shape": "Scte27DestinationSettings",
          "locationName": "scte27DestinationSettings"
        },
        "SmpteTtDestinationSettings": {
          "shape": "SmpteTtDestinationSettings",
          "locationName": "smpteTtDestinationSettings"
        },
        "TeletextDestinationSettings": {
          "shape": "TeletextDestinationSettings",
          "locationName": "teletextDestinationSettings"
        },
        "TtmlDestinationSettings": {
          "shape": "TtmlDestinationSettings",
          "locationName": "ttmlDestinationSettings"
        },
        "WebvttDestinationSettings": {
          "shape": "WebvttDestinationSettings",
          "locationName": "webvttDestinationSettings"
        }
      },
      "documentation": "Placeholder documentation for CaptionDestinationSettings"
    },
    "CaptionLanguageMapping": {
      "type": "structure",
      "members": {
        "CaptionChannel": {
          "shape": "__integerMin1Max4",
          "locationName": "captionChannel",
          "documentation": "The closed caption channel being described by this CaptionLanguageMapping.  Each channel mapping must have a unique channel number (maximum of 4)"
        },
        "LanguageCode": {
          "shape": "__stringMin3Max3",
          "locationName": "languageCode",
          "documentation": "Three character ISO 639-2 language code (see http://www.loc.gov/standards/iso639-2)"
        },
        "LanguageDescription": {
          "shape": "__stringMin1",
          "locationName": "languageDescription",
          "documentation": "Textual description of language"
        }
      },
      "documentation": "Maps a caption channel to an ISO 693-2 language code (http://www.loc.gov/standards/iso639-2), with an optional description.",
      "required": [
        "LanguageCode",
        "LanguageDescription",
        "CaptionChannel"
      ]
    },
    "CaptionSelector": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "shape": "__string",
          "locationName": "languageCode",
          "documentation": "When specified this field indicates the three letter language code of the caption track to extract from the source."
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "Name identifier for a caption selector.  This name is used to associate this caption selector with one or more caption descriptions.  Names must be unique within an event."
        },
        "SelectorSettings": {
          "shape": "CaptionSelectorSettings",
          "locationName": "selectorSettings",
          "documentation": "Caption selector settings."
        }
      },
      "documentation": "Output groups for this Live Event. Output groups contain information about where streams should be distributed.",
      "required": [
        "Name"
      ]
    },
    "CaptionSelectorSettings": {
      "type": "structure",
      "members": {
        "AribSourceSettings": {
          "shape": "AribSourceSettings",
          "locationName": "aribSourceSettings"
        },
        "DvbSubSourceSettings": {
          "shape": "DvbSubSourceSettings",
          "locationName": "dvbSubSourceSettings"
        },
        "EmbeddedSourceSettings": {
          "shape": "EmbeddedSourceSettings",
          "locationName": "embeddedSourceSettings"
        },
        "Scte20SourceSettings": {
          "shape": "Scte20SourceSettings",
          "locationName": "scte20SourceSettings"
        },
        "Scte27SourceSettings": {
          "shape": "Scte27SourceSettings",
          "locationName": "scte27SourceSettings"
        },
        "TeletextSourceSettings": {
          "shape": "TeletextSourceSettings",
          "locationName": "teletextSourceSettings"
        }
      },
      "documentation": "Placeholder documentation for CaptionSelectorSettings"
    },
    "Channel": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn",
          "documentation": "The unique arn of the channel."
        },
        "Destinations": {
          "shape": "__listOfOutputDestination",
          "locationName": "destinations",
          "documentation": "A list of destinations of the channel. For UDP outputs, there is one\ndestination per output. For other types (HLS, for example), there is\none destination per packager.\n"
        },
        "EgressEndpoints": {
          "shape": "__listOfChannelEgressEndpoint",
          "locationName": "egressEndpoints",
          "documentation": "The endpoints where outgoing connections initiate from"
        },
        "EncoderSettings": {
          "shape": "EncoderSettings",
          "locationName": "encoderSettings"
        },
        "Id": {
          "shape": "__string",
          "locationName": "id",
          "documentation": "The unique id of the channel."
        },
        "InputAttachments": {
          "shape": "__listOfInputAttachment",
          "locationName": "inputAttachments",
          "documentation": "List of input attachments for channel."
        },
        "InputSpecification": {
          "shape": "InputSpecification",
          "locationName": "inputSpecification"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "The name of the channel. (user-mutable)"
        },
        "PipelinesRunningCount": {
          "shape": "__integer",
          "locationName": "pipelinesRunningCount",
          "documentation": "The number of currently healthy pipelines."
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn",
          "documentation": "The Amazon Resource Name (ARN) of the role assumed when running the Channel."
        },
        "State": {
          "shape": "ChannelState",
          "locationName": "state"
        }
      },
      "documentation": "Placeholder documentation for Channel"
    },
    "ChannelConfigurationValidationError": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        },
        "ValidationErrors": {
          "shape": "__listOfValidationError",
          "locationName": "validationErrors",
          "documentation": "A collection of validation error responses from attempting to create a channel with a bouquet of settings."
        }
      },
      "documentation": "Placeholder documentation for ChannelConfigurationValidationError"
    },
    "ChannelEgressEndpoint": {
      "type": "structure",
      "members": {
        "SourceIp": {
          "shape": "__string",
          "locationName": "sourceIp",
          "documentation": "Public IP of where a channel's output comes from"
        }
      },
      "documentation": "Placeholder documentation for ChannelEgressEndpoint"
    },
    "ChannelState": {
      "type": "string",
      "enum": [
        "CREATING",
        "CREATE_FAILED",
        "IDLE",
        "STARTING",
        "RUNNING",
        "RECOVERING",
        "STOPPING",
        "DELETING",
        "DELETED"
      ],
      "documentation": "Placeholder documentation for ChannelState"
    },
    "ChannelSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn",
          "documentation": "The unique arn of the channel."
        },
        "Destinations": {
          "shape": "__listOfOutputDestination",
          "locationName": "destinations",
          "documentation": "A list of destinations of the channel. For UDP outputs, there is one\ndestination per output. For other types (HLS, for example), there is\none destination per packager.\n"
        },
        "EgressEndpoints": {
          "shape": "__listOfChannelEgressEndpoint",
          "locationName": "egressEndpoints",
          "documentation": "The endpoints where outgoing connections initiate from"
        },
        "Id": {
          "shape": "__string",
          "locationName": "id",
          "documentation": "The unique id of the channel."
        },
        "InputAttachments": {
          "shape": "__listOfInputAttachment",
          "locationName": "inputAttachments",
          "documentation": "List of input attachments for channel."
        },
        "InputSpecification": {
          "shape": "InputSpecification",
          "locationName": "inputSpecification"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "The name of the channel. (user-mutable)"
        },
        "PipelinesRunningCount": {
          "shape": "__integer",
          "locationName": "pipelinesRunningCount",
          "documentation": "The number of currently healthy pipelines."
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn",
          "documentation": "The Amazon Resource Name (ARN) of the role assumed when running the Channel."
        },
        "State": {
          "shape": "ChannelState",
          "locationName": "state"
        }
      },
      "documentation": "Placeholder documentation for ChannelSummary"
    },
    "ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 409
      },
      "documentation": "Placeholder documentation for ConflictException"
    },
    "CreateChannel": {
      "type": "structure",
      "members": {
        "Destinations": {
          "shape": "__listOfOutputDestination",
          "locationName": "destinations"
        },
        "EncoderSettings": {
          "shape": "EncoderSettings",
          "locationName": "encoderSettings"
        },
        "InputAttachments": {
          "shape": "__listOfInputAttachment",
          "locationName": "inputAttachments",
          "documentation": "List of input attachments for channel."
        },
        "InputSpecification": {
          "shape": "InputSpecification",
          "locationName": "inputSpecification",
          "documentation": "Specification of input for this channel (max. bitrate, resolution, codec, etc.)"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "Name of channel."
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId",
          "documentation": "Unique request ID to be specified. This is needed to prevent retries from\ncreating multiple resources.\n",
          "idempotencyToken": true
        },
        "Reserved": {
          "shape": "__string",
          "locationName": "reserved",
          "documentation": "Deprecated field that's only usable by whitelisted customers.",
          "deprecated": true
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn",
          "documentation": "An optional Amazon Resource Name (ARN) of the role to assume when running the Channel."
        }
      },
      "documentation": "Placeholder documentation for CreateChannel"
    },
    "CreateChannelRequest": {
      "type": "structure",
      "members": {
        "Destinations": {
          "shape": "__listOfOutputDestination",
          "locationName": "destinations"
        },
        "EncoderSettings": {
          "shape": "EncoderSettings",
          "locationName": "encoderSettings"
        },
        "InputAttachments": {
          "shape": "__listOfInputAttachment",
          "locationName": "inputAttachments",
          "documentation": "List of input attachments for channel."
        },
        "InputSpecification": {
          "shape": "InputSpecification",
          "locationName": "inputSpecification",
          "documentation": "Specification of input for this channel (max. bitrate, resolution, codec, etc.)"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "Name of channel."
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId",
          "documentation": "Unique request ID to be specified. This is needed to prevent retries from\ncreating multiple resources.\n",
          "idempotencyToken": true
        },
        "Reserved": {
          "shape": "__string",
          "locationName": "reserved",
          "documentation": "Deprecated field that's only usable by whitelisted customers.",
          "deprecated": true
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn",
          "documentation": "An optional Amazon Resource Name (ARN) of the role to assume when running the Channel."
        }
      },
      "documentation": "A request to create a channel"
    },
    "CreateChannelResponse": {
      "type": "structure",
      "members": {
        "Channel": {
          "shape": "Channel",
          "locationName": "channel"
        }
      },
      "documentation": "Placeholder documentation for CreateChannelResponse"
    },
    "CreateChannelResultModel": {
      "type": "structure",
      "members": {
        "Channel": {
          "shape": "Channel",
          "locationName": "channel"
        }
      },
      "documentation": "Placeholder documentation for CreateChannelResultModel"
    },
    "CreateInput": {
      "type": "structure",
      "members": {
        "Destinations": {
          "shape": "__listOfInputDestinationRequest",
          "locationName": "destinations",
          "documentation": "Destination settings for PUSH type inputs."
        },
        "InputSecurityGroups": {
          "shape": "__listOf__string",
          "locationName": "inputSecurityGroups",
          "documentation": "A list of security groups referenced by IDs to attach to the input."
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "Name of the input."
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId",
          "documentation": "Unique identifier of the request to ensure the request is handled\nexactly once in case of retries.\n",
          "idempotencyToken": true
        },
        "Sources": {
          "shape": "__listOfInputSourceRequest",
          "locationName": "sources",
          "documentation": "The source URLs for a PULL-type input. Every PULL type input needs\nexactly two source URLs for redundancy.\nOnly specify sources for PULL type Inputs. Leave Destinations empty.\n"
        },
        "Type": {
          "shape": "InputType",
          "locationName": "type"
        }
      },
      "documentation": "Placeholder documentation for CreateInput"
    },
    "CreateInputRequest": {
      "type": "structure",
      "members": {
        "Destinations": {
          "shape": "__listOfInputDestinationRequest",
          "locationName": "destinations",
          "documentation": "Destination settings for PUSH type inputs."
        },
        "InputSecurityGroups": {
          "shape": "__listOf__string",
          "locationName": "inputSecurityGroups",
          "documentation": "A list of security groups referenced by IDs to attach to the input."
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "Name of the input."
        },
        "RequestId": {
          "shape": "__string",
          "locationName": "requestId",
          "documentation": "Unique identifier of the request to ensure the request is handled\nexactly once in case of retries.\n",
          "idempotencyToken": true
        },
        "Sources": {
          "shape": "__listOfInputSourceRequest",
          "locationName": "sources",
          "documentation": "The source URLs for a PULL-type input. Every PULL type input needs\nexactly two source URLs for redundancy.\nOnly specify sources for PULL type Inputs. Leave Destinations empty.\n"
        },
        "Type": {
          "shape": "InputType",
          "locationName": "type"
        }
      },
      "documentation": "The name of the input"
    },
    "CreateInputResponse": {
      "type": "structure",
      "members": {
        "Input": {
          "shape": "Input",
          "locationName": "input"
        }
      },
      "documentation": "Placeholder documentation for CreateInputResponse"
    },
    "CreateInputResultModel": {
      "type": "structure",
      "members": {
        "Input": {
          "shape": "Input",
          "locationName": "input"
        }
      },
      "documentation": "Placeholder documentation for CreateInputResultModel"
    },
    "CreateInputSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "WhitelistRules": {
          "shape": "__listOfInputWhitelistRuleCidr",
          "locationName": "whitelistRules",
          "documentation": "List of IPv4 CIDR addresses to whitelist"
        }
      },
      "documentation": "The IPv4 CIDRs to whitelist for this Input Security Group"
    },
    "CreateInputSecurityGroupResponse": {
      "type": "structure",
      "members": {
        "SecurityGroup": {
          "shape": "InputSecurityGroup",
          "locationName": "securityGroup"
        }
      },
      "documentation": "Placeholder documentation for CreateInputSecurityGroupResponse"
    },
    "CreateInputSecurityGroupResultModel": {
      "type": "structure",
      "members": {
        "SecurityGroup": {
          "shape": "InputSecurityGroup",
          "locationName": "securityGroup"
        }
      },
      "documentation": "Placeholder documentation for CreateInputSecurityGroupResultModel"
    },
    "DeleteChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "channelId",
          "documentation": "Unique ID of the channel."
        }
      },
      "required": [
        "ChannelId"
      ],
      "documentation": "Placeholder documentation for DeleteChannelRequest"
    },
    "DeleteChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn",
          "documentation": "The unique arn of the channel."
        },
        "Destinations": {
          "shape": "__listOfOutputDestination",
          "locationName": "destinations",
          "documentation": "A list of destinations of the channel. For UDP outputs, there is one\ndestination per output. For other types (HLS, for example), there is\none destination per packager.\n"
        },
        "EgressEndpoints": {
          "shape": "__listOfChannelEgressEndpoint",
          "locationName": "egressEndpoints",
          "documentation": "The endpoints where outgoing connections initiate from"
        },
        "EncoderSettings": {
          "shape": "EncoderSettings",
          "locationName": "encoderSettings"
        },
        "Id": {
          "shape": "__string",
          "locationName": "id",
          "documentation": "The unique id of the channel."
        },
        "InputAttachments": {
          "shape": "__listOfInputAttachment",
          "locationName": "inputAttachments",
          "documentation": "List of input attachments for channel."
        },
        "InputSpecification": {
          "shape": "InputSpecification",
          "locationName": "inputSpecification"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "The name of the channel. (user-mutable)"
        },
        "PipelinesRunningCount": {
          "shape": "__integer",
          "locationName": "pipelinesRunningCount",
          "documentation": "The number of currently healthy pipelines."
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn",
          "documentation": "The Amazon Resource Name (ARN) of the role assumed when running the Channel."
        },
        "State": {
          "shape": "ChannelState",
          "locationName": "state"
        }
      },
      "documentation": "Placeholder documentation for DeleteChannelResponse"
    },
    "DeleteInputRequest": {
      "type": "structure",
      "members": {
        "InputId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "inputId",
          "documentation": "Unique ID of the input"
        }
      },
      "required": [
        "InputId"
      ],
      "documentation": "Placeholder documentation for DeleteInputRequest"
    },
    "DeleteInputResponse": {
      "type": "structure",
      "members": {
      },
      "documentation": "Placeholder documentation for DeleteInputResponse"
    },
    "DeleteInputSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "InputSecurityGroupId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "inputSecurityGroupId",
          "documentation": "The Input Security Group to delete"
        }
      },
      "required": [
        "InputSecurityGroupId"
      ],
      "documentation": "Placeholder documentation for DeleteInputSecurityGroupRequest"
    },
    "DeleteInputSecurityGroupResponse": {
      "type": "structure",
      "members": {
      },
      "documentation": "Placeholder documentation for DeleteInputSecurityGroupResponse"
    },
    "DescribeChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "channelId",
          "documentation": "channel ID"
        }
      },
      "required": [
        "ChannelId"
      ],
      "documentation": "Placeholder documentation for DescribeChannelRequest"
    },
    "DescribeChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn",
          "documentation": "The unique arn of the channel."
        },
        "Destinations": {
          "shape": "__listOfOutputDestination",
          "locationName": "destinations",
          "documentation": "A list of destinations of the channel. For UDP outputs, there is one\ndestination per output. For other types (HLS, for example), there is\none destination per packager.\n"
        },
        "EgressEndpoints": {
          "shape": "__listOfChannelEgressEndpoint",
          "locationName": "egressEndpoints",
          "documentation": "The endpoints where outgoing connections initiate from"
        },
        "EncoderSettings": {
          "shape": "EncoderSettings",
          "locationName": "encoderSettings"
        },
        "Id": {
          "shape": "__string",
          "locationName": "id",
          "documentation": "The unique id of the channel."
        },
        "InputAttachments": {
          "shape": "__listOfInputAttachment",
          "locationName": "inputAttachments",
          "documentation": "List of input attachments for channel."
        },
        "InputSpecification": {
          "shape": "InputSpecification",
          "locationName": "inputSpecification"
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "The name of the channel. (user-mutable)"
        },
        "PipelinesRunningCount": {
          "shape": "__integer",
          "locationName": "pipelinesRunningCount",
          "documentation": "The number of currently healthy pipelines."
        },
        "RoleArn": {
          "shape": "__string",
          "locationName": "roleArn",
          "documentation": "The Amazon Resource Name (ARN) of the role assumed when running the Channel."
        },
        "State": {
          "shape": "ChannelState",
          "locationName": "state"
        }
      },
      "documentation": "Placeholder documentation for DescribeChannelResponse"
    },
    "DescribeInputRequest": {
      "type": "structure",
      "members": {
        "InputId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "inputId",
          "documentation": "Unique ID of the input"
        }
      },
      "required": [
        "InputId"
      ],
      "documentation": "Placeholder documentation for DescribeInputRequest"
    },
    "DescribeInputResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn",
          "documentation": "The Unique ARN of the input (generated, immutable)."
        },
        "AttachedChannels": {
          "shape": "__listOf__string",
          "locationName": "attachedChannels",
          "documentation": "A list of channel IDs that that input is attached to (currently an input can only be attached to one channel)."
        },
        "Destinations": {
          "shape": "__listOfInputDestination",
          "locationName": "destinations",
          "documentation": "A list of the destinations of the input (PUSH-type)."
        },
        "Id": {
          "shape": "__string",
          "locationName": "id",
          "documentation": "The generated ID of the input (unique for user account, immutable)."
        },
        "Name": {
          "shape": "__string",
          "locationName": "name",
          "documentation": "The user-assigned name (This is a mutable value)."
        },
        "SecurityGroups": {
          "shape": "__listOf__string",
          "locationName": "securityGroups",
          "documentation": "A list of IDs for all the security groups attached to the input."
        },
        "Sources": {
          "shape": "__listOfInputSource",
          "locationName": "sources",
          "documentation": "A list of the sources of the input (PULL-type)."
        },
        "State": {
          "shape": "InputState",
          "locationName": "state"
        },
        "Type": {
          "shape": "InputType",
          "locationName": "type"
        }
      },
      "documentation": "Placeholder documentation for DescribeInputResponse"
    },
    "DescribeInputSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "InputSecurityGroupId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "inputSecurityGroupId",
          "documentation": "The id of the Input Security Group to describe"
        }
      },
      "required": [
        "InputSecurityGroupId"
      ],
      "documentation": "Placeholder documentation for DescribeInputSecurityGroupRequest"
    },
    "DescribeInputSecurityGroupResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn",
          "documentation": "Unique ARN of Input Security Group"
        },
        "Id": {
          "shape": "__string",
          "locationName": "id",
          "documentation": "The Id of the Input Security Group"
        },
        "Inputs": {
          "shape": "__listOf__string",
          "locationName": "inputs",
          "documentation": "The list of inputs currently using this Input Security Group."
        },
        "State": {
          "shape": "InputSecurityGroupState",
          "locationName": "state",
          "documentation": "The current state of the Input Security Group."
        },
        "WhitelistRules": {
          "shape": "__listOfInputWhitelistRule",
          "locationName": "whitelistRules",
          "documentation": "Whitelist rules and their sync status"
        }
      },
      "documentation": "Placeholder documentation for DescribeInputSecurityGroupResponse"
    },
    "DvbNitSettings": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "shape": "__integerMin0Max65536",
          "locationName": "networkId",
          "documentation": "The numeric value placed in the Network Information Table (NIT)."
        },
        "NetworkName": {
          "shape": "__stringMin1Max256",
          "locationName": "networkName",
          "documentation": "The network name text placed in the networkNameDescriptor inside the Network Information Table. Maximum length is 256 characters."
        },
        "RepInterval": {
          "shape": "__integerMin25Max10000",
          "locationName": "repInterval",
          "documentation": "The number of milliseconds between instances of this table in the output transport stream."
        }
      },
      "documentation": "DVB Network Information Table (NIT)",
      "required": [
        "NetworkName",
        "NetworkId"
      ]
    },
    "DvbSdtOutputSdt": {
      "type": "string",
      "enum": [
        "SDT_FOLLOW",
        "SDT_FOLLOW_IF_PRESENT",
        "SDT_MANUAL",
        "SDT_NONE"
      ],
      "documentation": "Placeholder documentation for DvbSdtOutputSdt"
    },
    "DvbSdtSettings": {
      "type": "structure",
      "members": {
        "OutputSdt": {
          "shape": "DvbSdtOutputSdt",
          "locationName": "outputSdt",
          "documentation": "Selects method of inserting SDT information into output stream. The sdtFollow setting copies SDT information from input stream to output stream. The sdtFollowIfPresent setting copies SDT information from input stream to output stream if SDT information is present in the input, otherwise it will fall back on the user-defined values. The sdtManual setting means user will enter the SDT information. The sdtNone setting means output stream will not contain SDT information."
        },
        "RepInterval": {
          "shape": "__integerMin25Max2000",
          "locationName": "repInterval",
          "documentation": "The number of milliseconds between instances of this table in the output transport stream."
        },
        "ServiceName": {
          "shape": "__stringMin1Max256",
          "locationName": "serviceName",
          "documentation": "The service name placed in the serviceDescriptor in the Service Description Table. Maximum length is 256 characters."
        },
        "ServiceProviderName": {
          "shape": "__stringMin1Max256",
          "locationName": "serviceProviderName",
          "documentation": "The service provider name placed in the serviceDescriptor in the Service Description Table. Maximum length is 256 characters."
        }
      },
      "documentation": "DVB Service Description Table (SDT)"
    },
    "DvbSubDestinationAlignment": {
      "type": "string",
      "enum": [
        "CENTERED",
        "LEFT",
        "SMART"
      ],
      "documentation": "Placeholder documentation for DvbSubDestinationAlignment"
    },
    "DvbSubDestinationBackgroundColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "NONE",
        "WHITE"
      ],
      "documentation": "Placeholder documentation for DvbSubDestinationBackgroundColor"
    },
    "DvbSubDestinationFontColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "BLUE",
        "GREEN",
        "RED",
        "WHITE",
        "YELLOW"
      ],
      "documentation": "Placeholder documentation for DvbSubDestinationFontColor"
    },
    "DvbSubDestinationOutlineColor": {
      "type": "string",
      "enum": [
        "BLACK",
        "BLUE",
        "GREEN",
        "RED",
        "WHITE",
        "YELLOW"
      ],
      "documentation": "Placeholder documentation for DvbSubDestinationOutlineColor"
    },
    "DvbSubDestinationSettings": {
      "type": "structure",
      "members": {
        "Alignment": {
          "shape": "DvbSubDestinationAlignment",
          "locationName": "alignment",
          "documentation": "If no explicit xPosition or yPosition is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. Selecting \"smart\" justification will left-justify live subtitles and center-justify pre-recorded subtitles.  This option is not valid for source captions that are STL or 608/embedded.  These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match."
        },
        "BackgroundColor": {
          "shape": "DvbSubDestinationBackgroundColor",
          "locationName": "backgroundColor",
          "documentation": "Specifies the color of the rectangle behind the captions.  All burn-in and DVB-Sub font settings must match."
        },
        "BackgroundOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "backgroundOpacity",
          "documentation": "Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match."
        },
        "Font": {
          "shape": "InputLocation",
          "locationName": "font",
          "documentation": "External font file used for caption burn-in. File extension must be 'ttf' or 'tte'.  Although the user can select output fonts for many different types of input captions, embedded, STL and teletext sources use a strict grid system. Using external fonts with these caption sources could cause unexpected display of proportional fonts.  All burn-in and DVB-Sub font settings must match."
        },
        "FontColor": {
          "shape": "DvbSubDestinationFontColor",
          "locationName": "fontColor",
          "documentation": "Specifies the color of the burned-in captions.  This option is not valid for source captions that are STL, 608/embedded or teletext.  These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match."
        },
        "FontOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "fontOpacity",
          "documentation": "Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.  All burn-in and DVB-Sub font settings must match."
        },
        "FontResolution": {
          "shape": "__integerMin96Max600",
          "locationName": "fontResolution",
          "documentation": "Font resolution in DPI (dots per inch); default is 96 dpi.  All burn-in and DVB-Sub font settings must match."
        },
        "FontSize": {
          "shape": "__string",
          "locationName": "fontSize",
          "documentation": "When set to auto fontSize will scale depending on the size of the output.  Giving a positive integer will specify the exact font size in points.  All burn-in and DVB-Sub font settings must match."
        },
        "OutlineColor": {
          "shape": "DvbSubDestinationOutlineColor",
          "locationName": "outlineColor",
          "documentation": "Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match."
        },
        "OutlineSize": {
          "shape": "__integerMin0Max10",
          "locationName": "outlineSize",
          "documentation": "Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match."
        },
        "ShadowColor": {
          "shape": "DvbSubDestinationShadowColor",
          "locationName": "shadowColor",
          "documentation": "Specifies the color of the shadow cast by the captions.  All burn-in and DVB-Sub font settings must match."
        },
        "ShadowOpacity": {
          "shape": "__integerMin0Max255",
          "locationName": "shadowOpacity",
          "documentation": "Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match."
        },
        "ShadowXOffset": {
          "shape": "__integer",
          "locationName": "shadowXOffset",
          "documentation": "Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left.  All burn-in and DVB-Sub font settings must match."
        },
        "ShadowYOffset": {
          "shape": "__integer",
          "locationName": "shadowYOffset",
          "documentation": "Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text.  All burn-in and DVB-Sub font settings must match."
        },
        "TeletextGridControl": {
          "shape": "DvbSubDestinationTeletextGridControl",
          "locationName": "teletextGridControl",
          "documentation": "Controls whether a fixed grid size will be used to generate the output subtitles bitmap. Only applicable for Teletext inputs and DVB-Sub/Burn-in outputs."
        },
        "XPosition": {
          "shape": "__integerMin0",
          "locationName": "xPosition",
          "documentation": "Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit xPosition is provided, the horizontal caption position will be determined by the alignment parameter.  This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match."
        },
        "YPosition": {
          "shape": "__integerMin0",
          "locationName": "yPosition",
[...]
