{
  "metadata": {
    "apiVersion": "2017-10-12",
    "endpointPrefix": "mediapackage",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "MediaPackage",
    "serviceFullName": "AWS Elemental MediaPackage",
    "serviceId": "MediaPackage",
    "signatureVersion": "v4",
    "signingName": "mediapackage",
    "uid": "mediapackage-2017-10-12"
  },
  "operations": {
    "CreateChannel": {
      "http": {
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Description": {
            "locationName": "description"
          },
          "Id": {
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsIngest": {
            "locationName": "hlsIngest",
            "shape": "S4"
          },
          "Id": {
            "locationName": "id"
          }
        },
        "type": "structure"
      }
    },
    "CreateOriginEndpoint": {
      "http": {
        "requestUri": "/origin_endpoints",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelId": {
            "locationName": "channelId"
          },
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "S8"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "Sk"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "Sp"
          },
          "Id": {
            "locationName": "id"
          },
          "ManifestName": {
            "locationName": "manifestName"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "Ss"
          },
          "StartoverWindowSeconds": {
            "locationName": "startoverWindowSeconds",
            "type": "integer"
          },
          "TimeDelaySeconds": {
            "locationName": "timeDelaySeconds",
            "type": "integer"
          },
          "Whitelist": {
            "locationName": "whitelist",
            "shape": "Sc"
          }
        },
        "required": [
          "ChannelId",
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "ChannelId": {
            "locationName": "channelId"
          },
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "Sv"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "Sk"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "Sp"
          },
          "Id": {
            "locationName": "id"
          },
          "ManifestName": {
            "locationName": "manifestName"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "Ss"
          },
          "StartoverWindowSeconds": {
            "locationName": "startoverWindowSeconds",
            "type": "integer"
          },
          "TimeDelaySeconds": {
            "locationName": "timeDelaySeconds",
            "type": "integer"
          },
          "Url": {
            "locationName": "url"
          },
          "Whitelist": {
            "locationName": "whitelist",
            "shape": "Sc"
          }
        },
        "type": "structure"
      }
    },
    "DeleteChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{id}",
        "responseCode": 202
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DeleteOriginEndpoint": {
      "http": {
        "method": "DELETE",
        "requestUri": "/origin_endpoints/{id}",
        "responseCode": 202
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DescribeChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/channels/{id}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsIngest": {
            "locationName": "hlsIngest",
            "shape": "S4"
          },
          "Id": {
            "locationName": "id"
          }
        },
        "type": "structure"
      }
    },
    "DescribeOriginEndpoint": {
      "http": {
        "method": "GET",
        "requestUri": "/origin_endpoints/{id}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "ChannelId": {
            "locationName": "channelId"
          },
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "Sv"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "Sk"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "Sp"
          },
          "Id": {
            "locationName": "id"
          },
          "ManifestName": {
            "locationName": "manifestName"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "Ss"
          },
          "StartoverWindowSeconds": {
            "locationName": "startoverWindowSeconds",
            "type": "integer"
          },
          "TimeDelaySeconds": {
            "locationName": "timeDelaySeconds",
            "type": "integer"
          },
          "Url": {
            "locationName": "url"
          },
          "Whitelist": {
            "locationName": "whitelist",
            "shape": "Sc"
          }
        },
        "type": "structure"
      }
    },
    "ListChannels": {
      "http": {
        "method": "GET",
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "type": "structure"
      },
      "output": {
        "members": {
          "Channels": {
            "locationName": "channels",
            "member": {
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "Description": {
                  "locationName": "description"
                },
                "HlsIngest": {
                  "locationName": "hlsIngest",
                  "shape": "S4"
                },
                "Id": {
                  "locationName": "id"
                }
              },
              "type": "structure"
            },
            "type": "list"
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        },
        "type": "structure"
      }
    },
    "ListOriginEndpoints": {
      "http": {
        "method": "GET",
        "requestUri": "/origin_endpoints",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ChannelId": {
            "location": "querystring",
            "locationName": "channelId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "type": "structure"
      },
      "output": {
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "OriginEndpoints": {
            "locationName": "originEndpoints",
            "member": {
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "ChannelId": {
                  "locationName": "channelId"
                },
                "CmafPackage": {
                  "locationName": "cmafPackage",
                  "shape": "Sv"
                },
                "DashPackage": {
                  "locationName": "dashPackage",
                  "shape": "Sk"
                },
                "Description": {
                  "locationName": "description"
                },
                "HlsPackage": {
                  "locationName": "hlsPackage",
                  "shape": "Sp"
                },
                "Id": {
                  "locationName": "id"
                },
                "ManifestName": {
                  "locationName": "manifestName"
                },
                "MssPackage": {
                  "locationName": "mssPackage",
                  "shape": "Ss"
                },
                "StartoverWindowSeconds": {
                  "locationName": "startoverWindowSeconds",
                  "type": "integer"
                },
                "TimeDelaySeconds": {
                  "locationName": "timeDelaySeconds",
                  "type": "integer"
                },
                "Url": {
                  "locationName": "url"
                },
                "Whitelist": {
                  "locationName": "whitelist",
                  "shape": "Sc"
                }
              },
              "type": "structure"
            },
            "type": "list"
          }
        },
        "type": "structure"
      }
    },
    "RotateChannelCredentials": {
      "deprecated": true,
      "deprecatedMessage": "This API is deprecated. Please use RotateIngestEndpointCredentials instead",
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{id}/credentials",
        "responseCode": 200
      },
      "input": {
        "deprecated": true,
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "deprecated": true,
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsIngest": {
            "locationName": "hlsIngest",
            "shape": "S4"
          },
          "Id": {
            "locationName": "id"
          }
        },
        "type": "structure"
      }
    },
    "RotateIngestEndpointCredentials": {
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{id}/ingest_endpoints/{ingest_endpoint_id}/credentials",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          },
          "IngestEndpointId": {
            "location": "uri",
            "locationName": "ingest_endpoint_id"
          }
        },
        "required": [
          "IngestEndpointId",
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsIngest": {
            "locationName": "hlsIngest",
            "shape": "S4"
          },
          "Id": {
            "locationName": "id"
          }
        },
        "type": "structure"
      }
    },
    "UpdateChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{id}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Description": {
            "locationName": "description"
          },
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsIngest": {
            "locationName": "hlsIngest",
            "shape": "S4"
          },
          "Id": {
            "locationName": "id"
          }
        },
        "type": "structure"
      }
    },
    "UpdateOriginEndpoint": {
      "http": {
        "method": "PUT",
        "requestUri": "/origin_endpoints/{id}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "S8"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "Sk"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "Sp"
          },
          "Id": {
            "location": "uri",
            "locationName": "id"
          },
          "ManifestName": {
            "locationName": "manifestName"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "Ss"
          },
          "StartoverWindowSeconds": {
            "locationName": "startoverWindowSeconds",
            "type": "integer"
          },
          "TimeDelaySeconds": {
            "locationName": "timeDelaySeconds",
            "type": "integer"
          },
          "Whitelist": {
            "locationName": "whitelist",
            "shape": "Sc"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "ChannelId": {
            "locationName": "channelId"
          },
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "Sv"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "Sk"
          },
          "Description": {
            "locationName": "description"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "Sp"
          },
          "Id": {
            "locationName": "id"
          },
          "ManifestName": {
            "locationName": "manifestName"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "Ss"
          },
          "StartoverWindowSeconds": {
            "locationName": "startoverWindowSeconds",
            "type": "integer"
          },
          "TimeDelaySeconds": {
            "locationName": "timeDelaySeconds",
            "type": "integer"
          },
          "Url": {
            "locationName": "url"
          },
          "Whitelist": {
            "locationName": "whitelist",
            "shape": "Sc"
          }
        },
        "type": "structure"
      }
    }
  },
  "shapes": {
    "S4": {
      "members": {
        "IngestEndpoints": {
          "locationName": "ingestEndpoints",
          "member": {
            "members": {
              "Id": {
                "locationName": "id"
              },
              "Password": {
                "locationName": "password"
              },
              "Url": {
                "locationName": "url"
              },
              "Username": {
                "locationName": "username"
              }
            },
            "type": "structure"
          },
          "type": "list"
        }
      },
      "type": "structure"
    },
    "S8": {
      "members": {
        "Encryption": {
          "locationName": "encryption",
          "shape": "S9"
        },
        "HlsManifests": {
          "locationName": "hlsManifests",
          "member": {
            "members": {
              "AdMarkers": {
                "locationName": "adMarkers"
              },
              "Id": {
                "locationName": "id"
              },
              "IncludeIframeOnlyStream": {
                "locationName": "includeIframeOnlyStream",
                "type": "boolean"
              },
              "ManifestName": {
                "locationName": "manifestName"
              },
              "PlaylistType": {
                "locationName": "playlistType"
              },
              "PlaylistWindowSeconds": {
                "locationName": "playlistWindowSeconds",
                "type": "integer"
              },
              "ProgramDateTimeIntervalSeconds": {
                "locationName": "programDateTimeIntervalSeconds",
                "type": "integer"
              }
            },
            "required": [
              "Id"
            ],
            "type": "structure"
          },
          "type": "list"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        },
        "SegmentPrefix": {
          "locationName": "segmentPrefix"
        },
        "StreamSelection": {
          "locationName": "streamSelection",
          "shape": "Si"
        }
      },
      "type": "structure"
    },
    "S9": {
      "members": {
        "KeyRotationIntervalSeconds": {
          "locationName": "keyRotationIntervalSeconds",
          "type": "integer"
        },
        "SpekeKeyProvider": {
          "locationName": "spekeKeyProvider",
          "shape": "Sb"
        }
      },
      "required": [
        "SpekeKeyProvider"
      ],
      "type": "structure"
    },
    "Sb": {
      "members": {
        "ResourceId": {
          "locationName": "resourceId"
        },
        "RoleArn": {
          "locationName": "roleArn"
        },
        "SystemIds": {
          "locationName": "systemIds",
          "shape": "Sc"
        },
        "Url": {
          "locationName": "url"
        }
      },
      "required": [
        "Url",
        "ResourceId",
        "RoleArn",
        "SystemIds"
      ],
      "type": "structure"
    },
    "Sc": {
      "member": {},
      "type": "list"
    },
    "Si": {
      "members": {
        "MaxVideoBitsPerSecond": {
          "locationName": "maxVideoBitsPerSecond",
          "type": "integer"
        },
        "MinVideoBitsPerSecond": {
          "locationName": "minVideoBitsPerSecond",
          "type": "integer"
        },
        "StreamOrder": {
          "locationName": "streamOrder"
        }
      },
      "type": "structure"
    },
    "Sk": {
      "members": {
        "Encryption": {
          "locationName": "encryption",
          "members": {
            "KeyRotationIntervalSeconds": {
              "locationName": "keyRotationIntervalSeconds",
              "type": "integer"
            },
            "SpekeKeyProvider": {
              "locationName": "spekeKeyProvider",
              "shape": "Sb"
            }
          },
          "required": [
            "SpekeKeyProvider"
          ],
          "type": "structure"
        },
        "ManifestWindowSeconds": {
          "locationName": "manifestWindowSeconds",
          "type": "integer"
        },
        "MinBufferTimeSeconds": {
          "locationName": "minBufferTimeSeconds",
          "type": "integer"
        },
        "MinUpdatePeriodSeconds": {
          "locationName": "minUpdatePeriodSeconds",
          "type": "integer"
        },
        "PeriodTriggers": {
          "locationName": "periodTriggers",
          "member": {},
          "type": "list"
        },
        "Profile": {
          "locationName": "profile"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        },
        "StreamSelection": {
          "locationName": "streamSelection",
          "shape": "Si"
        },
        "SuggestedPresentationDelaySeconds": {
          "locationName": "suggestedPresentationDelaySeconds",
          "type": "integer"
        }
      },
      "type": "structure"
    },
    "Sp": {
      "members": {
        "AdMarkers": {
          "locationName": "adMarkers"
        },
        "Encryption": {
          "locationName": "encryption",
          "members": {
            "ConstantInitializationVector": {
              "locationName": "constantInitializationVector"
            },
            "EncryptionMethod": {
              "locationName": "encryptionMethod"
            },
            "KeyRotationIntervalSeconds": {
              "locationName": "keyRotationIntervalSeconds",
              "type": "integer"
            },
            "RepeatExtXKey": {
              "locationName": "repeatExtXKey",
              "type": "boolean"
            },
            "SpekeKeyProvider": {
              "locationName": "spekeKeyProvider",
              "shape": "Sb"
            }
          },
          "required": [
            "SpekeKeyProvider"
          ],
          "type": "structure"
        },
        "IncludeIframeOnlyStream": {
          "locationName": "includeIframeOnlyStream",
          "type": "boolean"
        },
        "PlaylistType": {
          "locationName": "playlistType"
        },
        "PlaylistWindowSeconds": {
          "locationName": "playlistWindowSeconds",
          "type": "integer"
        },
        "ProgramDateTimeIntervalSeconds": {
          "locationName": "programDateTimeIntervalSeconds",
          "type": "integer"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        },
        "StreamSelection": {
          "locationName": "streamSelection",
          "shape": "Si"
        },
        "UseAudioRenditionGroup": {
          "locationName": "useAudioRenditionGroup",
          "type": "boolean"
        }
      },
      "type": "structure"
    },
    "Ss": {
      "members": {
        "Encryption": {
          "locationName": "encryption",
          "members": {
            "SpekeKeyProvider": {
              "locationName": "spekeKeyProvider",
              "shape": "Sb"
            }
          },
          "required": [
            "SpekeKeyProvider"
          ],
          "type": "structure"
        },
        "ManifestWindowSeconds": {
          "locationName": "manifestWindowSeconds",
          "type": "integer"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        },
        "StreamSelection": {
          "locationName": "streamSelection",
          "shape": "Si"
        }
      },
      "type": "structure"
    },
    "Sv": {
      "members": {
        "Encryption": {
          "locationName": "encryption",
          "shape": "S9"
        },
        "HlsManifests": {
          "locationName": "hlsManifests",
          "member": {
            "members": {
              "AdMarkers": {
                "locationName": "adMarkers"
              },
              "Id": {
                "locationName": "id"
              },
              "IncludeIframeOnlyStream": {
                "locationName": "includeIframeOnlyStream",
                "type": "boolean"
              },
              "ManifestName": {
                "locationName": "manifestName"
              },
              "PlaylistType": {
                "locationName": "playlistType"
              },
              "PlaylistWindowSeconds": {
                "locationName": "playlistWindowSeconds",
                "type": "integer"
              },
              "ProgramDateTimeIntervalSeconds": {
                "locationName": "programDateTimeIntervalSeconds",
                "type": "integer"
              },
              "Url": {
                "locationName": "url"
              }
            },
            "required": [
              "Id"
            ],
            "type": "structure"
          },
          "type": "list"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        },
        "SegmentPrefix": {
          "locationName": "segmentPrefix"
        },
        "StreamSelection": {
          "locationName": "streamSelection",
          "shape": "Si"
        }
      },
      "type": "structure"
    }
  }
}