{
  "metadata": {
    "apiVersion": "2017-10-14",
    "endpointPrefix": "medialive",
    "signingName": "medialive",
    "serviceFullName": "AWS Elemental MediaLive",
    "serviceId": "MediaLive",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "medialive-2017-10-14",
    "signatureVersion": "v4",
    "serviceAbbreviation": "MediaLive"
  },
  "operations": {
    "BatchUpdateSchedule": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          },
          "Creates": {
            "locationName": "creates",
            "type": "structure",
            "members": {
              "ScheduleActions": {
                "shape": "S4",
                "locationName": "scheduleActions"
              }
            },
            "required": [
              "ScheduleActions"
            ]
          },
          "Deletes": {
            "locationName": "deletes",
            "type": "structure",
            "members": {
              "ActionNames": {
                "shape": "Sy",
                "locationName": "actionNames"
              }
            },
            "required": [
              "ActionNames"
            ]
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Creates": {
            "locationName": "creates",
            "type": "structure",
            "members": {
              "ScheduleActions": {
                "shape": "S4",
                "locationName": "scheduleActions"
              }
            },
            "required": [
              "ScheduleActions"
            ]
          },
          "Deletes": {
            "locationName": "deletes",
            "type": "structure",
            "members": {
              "ScheduleActions": {
                "shape": "S4",
                "locationName": "scheduleActions"
              }
            },
            "required": [
              "ScheduleActions"
            ]
          }
        }
      }
    },
    "CreateChannel": {
      "http": {
        "requestUri": "/prod/channels",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Destinations": {
            "shape": "S13",
            "locationName": "destinations"
          },
          "EncoderSettings": {
            "shape": "S17",
            "locationName": "encoderSettings"
          },
          "InputAttachments": {
            "shape": "S8j",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "S9j",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "shape": "S9n",
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "RequestId": {
            "locationName": "requestId",
            "idempotencyToken": true
          },
          "Reserved": {
            "locationName": "reserved",
            "deprecated": true
          },
          "RoleArn": {
            "locationName": "roleArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channel": {
            "shape": "S9p",
            "locationName": "channel"
          }
        }
      }
    },
    "CreateInput": {
      "http": {
        "requestUri": "/prod/inputs",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Destinations": {
            "shape": "S9u",
            "locationName": "destinations"
          },
          "InputSecurityGroups": {
            "shape": "Sy",
            "locationName": "inputSecurityGroups"
          },
          "Name": {
            "locationName": "name"
          },
          "RequestId": {
            "locationName": "requestId",
            "idempotencyToken": true
          },
          "Sources": {
            "shape": "S9w",
            "locationName": "sources"
          },
          "Type": {
            "shape": "S9y",
            "locationName": "type"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Input": {
            "shape": "Sa0",
            "locationName": "input"
          }
        }
      }
    },
    "CreateInputSecurityGroup": {
      "http": {
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "WhitelistRules": {
            "shape": "Sa7",
            "locationName": "whitelistRules"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityGroup": {
            "shape": "Saa",
            "locationName": "securityGroup"
          }
        }
      }
    },
    "DeleteChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Destinations": {
            "shape": "S13",
            "locationName": "destinations"
          },
          "EgressEndpoints": {
            "shape": "S9q",
            "locationName": "egressEndpoints"
          },
          "EncoderSettings": {
            "shape": "S17",
            "locationName": "encoderSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "InputAttachments": {
            "shape": "S8j",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "S9j",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "shape": "S9n",
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "State": {
            "shape": "S9s",
            "locationName": "state"
          }
        }
      }
    },
    "DeleteInput": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputId": {
            "location": "uri",
            "locationName": "inputId"
          }
        },
        "required": [
          "InputId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteInputSecurityGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputSecurityGroupId": {
            "location": "uri",
            "locationName": "inputSecurityGroupId"
          }
        },
        "required": [
          "InputSecurityGroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteReservation": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ReservationId": {
            "location": "uri",
            "locationName": "reservationId"
          }
        },
        "required": [
          "ReservationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Count": {
            "locationName": "count",
            "type": "integer"
          },
          "CurrencyCode": {
            "locationName": "currencyCode"
          },
          "Duration": {
            "locationName": "duration",
            "type": "integer"
          },
          "DurationUnits": {
            "shape": "Sam",
            "locationName": "durationUnits"
          },
          "End": {
            "locationName": "end"
          },
          "FixedPrice": {
            "locationName": "fixedPrice",
            "type": "double"
          },
          "Name": {
            "locationName": "name"
          },
          "OfferingDescription": {
            "locationName": "offeringDescription"
          },
          "OfferingId": {
            "locationName": "offeringId"
          },
          "OfferingType": {
            "shape": "San",
            "locationName": "offeringType"
          },
          "Region": {
            "locationName": "region"
          },
          "ReservationId": {
            "locationName": "reservationId"
          },
          "ResourceSpecification": {
            "shape": "Sao",
            "locationName": "resourceSpecification"
          },
          "Start": {
            "locationName": "start"
          },
          "State": {
            "shape": "Saw",
            "locationName": "state"
          },
          "UsagePrice": {
            "locationName": "usagePrice",
            "type": "double"
          }
        }
      }
    },
    "DescribeChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Destinations": {
            "shape": "S13",
            "locationName": "destinations"
          },
          "EgressEndpoints": {
            "shape": "S9q",
            "locationName": "egressEndpoints"
          },
          "EncoderSettings": {
            "shape": "S17",
            "locationName": "encoderSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "InputAttachments": {
            "shape": "S8j",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "S9j",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "shape": "S9n",
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "State": {
            "shape": "S9s",
            "locationName": "state"
          }
        }
      }
    },
    "DescribeInput": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputId": {
            "location": "uri",
            "locationName": "inputId"
          }
        },
        "required": [
          "InputId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "AttachedChannels": {
            "shape": "Sy",
            "locationName": "attachedChannels"
          },
          "Destinations": {
            "shape": "Sa1",
            "locationName": "destinations"
          },
          "Id": {
            "locationName": "id"
          },
          "Name": {
            "locationName": "name"
          },
          "SecurityGroups": {
            "shape": "Sy",
            "locationName": "securityGroups"
          },
          "Sources": {
            "shape": "Sa3",
            "locationName": "sources"
          },
          "State": {
            "shape": "Sa5",
            "locationName": "state"
          },
          "Type": {
            "shape": "S9y",
            "locationName": "type"
          }
        }
      }
    },
    "DescribeInputSecurityGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputSecurityGroupId": {
            "location": "uri",
            "locationName": "inputSecurityGroupId"
          }
        },
        "required": [
          "InputSecurityGroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Id": {
            "locationName": "id"
          },
          "Inputs": {
            "shape": "Sy",
            "locationName": "inputs"
          },
          "State": {
            "shape": "Sab",
            "locationName": "state"
          },
          "WhitelistRules": {
            "shape": "Sac",
            "locationName": "whitelistRules"
          }
        }
      }
    },
    "DescribeOffering": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings/{offeringId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "OfferingId": {
            "location": "uri",
            "locationName": "offeringId"
          }
        },
        "required": [
          "OfferingId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CurrencyCode": {
            "locationName": "currencyCode"
          },
          "Duration": {
            "locationName": "duration",
            "type": "integer"
          },
          "DurationUnits": {
            "shape": "Sam",
            "locationName": "durationUnits"
          },
          "FixedPrice": {
            "locationName": "fixedPrice",
            "type": "double"
          },
          "OfferingDescription": {
            "locationName": "offeringDescription"
          },
          "OfferingId": {
            "locationName": "offeringId"
          },
          "OfferingType": {
            "shape": "San",
            "locationName": "offeringType"
          },
          "Region": {
            "locationName": "region"
          },
          "ResourceSpecification": {
            "shape": "Sao",
            "locationName": "resourceSpecification"
          },
          "UsagePrice": {
            "locationName": "usagePrice",
            "type": "double"
          }
        }
      }
    },
    "DescribeReservation": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ReservationId": {
            "location": "uri",
            "locationName": "reservationId"
          }
        },
        "required": [
          "ReservationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Count": {
            "locationName": "count",
            "type": "integer"
          },
          "CurrencyCode": {
            "locationName": "currencyCode"
          },
          "Duration": {
            "locationName": "duration",
            "type": "integer"
          },
          "DurationUnits": {
            "shape": "Sam",
            "locationName": "durationUnits"
          },
          "End": {
            "locationName": "end"
          },
          "FixedPrice": {
            "locationName": "fixedPrice",
            "type": "double"
          },
          "Name": {
            "locationName": "name"
          },
          "OfferingDescription": {
            "locationName": "offeringDescription"
          },
          "OfferingId": {
            "locationName": "offeringId"
          },
          "OfferingType": {
            "shape": "San",
            "locationName": "offeringType"
          },
          "Region": {
            "locationName": "region"
          },
          "ReservationId": {
            "locationName": "reservationId"
          },
          "ResourceSpecification": {
            "shape": "Sao",
            "locationName": "resourceSpecification"
          },
          "Start": {
            "locationName": "start"
          },
          "State": {
            "shape": "Saw",
            "locationName": "state"
          },
          "UsagePrice": {
            "locationName": "usagePrice",
            "type": "double"
          }
        }
      }
    },
    "DescribeSchedule": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          },
          "MaxResults": {
            "shape": "Sb8",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "ScheduleActions": {
            "shape": "S4",
            "locationName": "scheduleActions"
          }
        }
      }
    },
    "ListChannels": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "Sb8",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channels": {
            "locationName": "channels",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "Destinations": {
                  "shape": "S13",
                  "locationName": "destinations"
                },
                "EgressEndpoints": {
                  "shape": "S9q",
                  "locationName": "egressEndpoints"
                },
                "Id": {
                  "locationName": "id"
                },
                "InputAttachments": {
                  "shape": "S8j",
                  "locationName": "inputAttachments"
                },
                "InputSpecification": {
                  "shape": "S9j",
                  "locationName": "inputSpecification"
                },
                "LogLevel": {
                  "shape": "S9n",
                  "locationName": "logLevel"
                },
                "Name": {
                  "locationName": "name"
                },
                "PipelinesRunningCount": {
                  "locationName": "pipelinesRunningCount",
                  "type": "integer"
                },
                "RoleArn": {
                  "locationName": "roleArn"
                },
                "State": {
                  "shape": "S9s",
                  "locationName": "state"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListInputSecurityGroups": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "Sb8",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InputSecurityGroups": {
            "locationName": "inputSecurityGroups",
            "type": "list",
            "member": {
              "shape": "Saa"
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListInputs": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "Sb8",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Inputs": {
            "locationName": "inputs",
            "type": "list",
            "member": {
              "shape": "Sa0"
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListOfferings": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelConfiguration": {
            "location": "querystring",
            "locationName": "channelConfiguration"
          },
          "Codec": {
            "location": "querystring",
            "locationName": "codec"
          },
          "MaxResults": {
            "shape": "Sb8",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "MaximumBitrate": {
            "location": "querystring",
            "locationName": "maximumBitrate"
          },
          "MaximumFramerate": {
            "location": "querystring",
            "locationName": "maximumFramerate"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "Resolution": {
            "location": "querystring",
            "locationName": "resolution"
          },
          "ResourceType": {
            "location": "querystring",
            "locationName": "resourceType"
          },
          "SpecialFeature": {
            "location": "querystring",
            "locationName": "specialFeature"
          },
          "VideoQuality": {
            "location": "querystring",
            "locationName": "videoQuality"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "Offerings": {
            "locationName": "offerings",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "CurrencyCode": {
                  "locationName": "currencyCode"
                },
                "Duration": {
                  "locationName": "duration",
                  "type": "integer"
                },
                "DurationUnits": {
                  "shape": "Sam",
                  "locationName": "durationUnits"
                },
                "FixedPrice": {
                  "locationName": "fixedPrice",
                  "type": "double"
                },
                "OfferingDescription": {
                  "locationName": "offeringDescription"
                },
                "OfferingId": {
                  "locationName": "offeringId"
                },
                "OfferingType": {
                  "shape": "San",
                  "locationName": "offeringType"
                },
                "Region": {
                  "locationName": "region"
                },
                "ResourceSpecification": {
                  "shape": "Sao",
                  "locationName": "resourceSpecification"
                },
                "UsagePrice": {
                  "locationName": "usagePrice",
                  "type": "double"
                }
              }
            }
          }
        }
      }
    },
    "ListReservations": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Codec": {
            "location": "querystring",
            "locationName": "codec"
          },
          "MaxResults": {
            "shape": "Sb8",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "MaximumBitrate": {
            "location": "querystring",
            "locationName": "maximumBitrate"
          },
          "MaximumFramerate": {
            "location": "querystring",
            "locationName": "maximumFramerate"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "Resolution": {
            "location": "querystring",
            "locationName": "resolution"
          },
          "ResourceType": {
            "location": "querystring",
            "locationName": "resourceType"
          },
          "SpecialFeature": {
            "location": "querystring",
            "locationName": "specialFeature"
          },
          "VideoQuality": {
            "location": "querystring",
            "locationName": "videoQuality"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "Reservations": {
            "locationName": "reservations",
            "type": "list",
            "member": {
              "shape": "Sbr"
            }
          }
        }
      }
    },
    "PurchaseOffering": {
      "http": {
        "requestUri": "/prod/offerings/{offeringId}/purchase",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Count": {
            "shape": "Sq",
            "locationName": "count"
          },
          "Name": {
            "locationName": "name"
          },
          "OfferingId": {
            "location": "uri",
            "locationName": "offeringId"
          },
          "RequestId": {
            "locationName": "requestId",
            "idempotencyToken": true
          }
        },
        "required": [
          "OfferingId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Reservation": {
            "shape": "Sbr",
            "locationName": "reservation"
          }
        }
      }
    },
    "StartChannel": {
      "http": {
        "requestUri": "/prod/channels/{channelId}/start",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Destinations": {
            "shape": "S13",
            "locationName": "destinations"
          },
          "EgressEndpoints": {
            "shape": "S9q",
            "locationName": "egressEndpoints"
          },
          "EncoderSettings": {
            "shape": "S17",
            "locationName": "encoderSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "InputAttachments": {
            "shape": "S8j",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "S9j",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "shape": "S9n",
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "State": {
            "shape": "S9s",
            "locationName": "state"
          }
        }
      }
    },
    "StopChannel": {
      "http": {
        "requestUri": "/prod/channels/{channelId}/stop",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Destinations": {
            "shape": "S13",
            "locationName": "destinations"
          },
          "EgressEndpoints": {
            "shape": "S9q",
            "locationName": "egressEndpoints"
          },
          "EncoderSettings": {
            "shape": "S17",
            "locationName": "encoderSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "InputAttachments": {
            "shape": "S8j",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "S9j",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "shape": "S9n",
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "State": {
            "shape": "S9s",
            "locationName": "state"
          }
        }
      }
    },
    "UpdateChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          },
          "Destinations": {
            "shape": "S13",
            "locationName": "destinations"
          },
          "EncoderSettings": {
            "shape": "S17",
            "locationName": "encoderSettings"
          },
          "InputAttachments": {
            "shape": "S8j",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "S9j",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "shape": "S9n",
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "RoleArn": {
            "locationName": "roleArn"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Channel": {
            "shape": "S9p",
            "locationName": "channel"
          }
        }
      }
    },
    "UpdateInput": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Destinations": {
            "shape": "S9u",
            "locationName": "destinations"
          },
          "InputId": {
            "location": "uri",
            "locationName": "inputId"
          },
          "InputSecurityGroups": {
            "shape": "Sy",
            "locationName": "inputSecurityGroups"
          },
          "Name": {
            "locationName": "name"
          },
          "Sources": {
            "shape": "S9w",
            "locationName": "sources"
          }
        },
        "required": [
          "InputId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Input": {
            "shape": "Sa0",
            "locationName": "input"
          }
        }
      }
    },
    "UpdateInputSecurityGroup": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputSecurityGroupId": {
            "location": "uri",
            "locationName": "inputSecurityGroupId"
          },
          "WhitelistRules": {
            "shape": "Sa7",
            "locationName": "whitelistRules"
          }
        },
        "required": [
          "InputSecurityGroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityGroup": {
            "shape": "Saa",
            "locationName": "securityGroup"
          }
        }
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ActionName": {
            "locationName": "actionName"
          },
          "ScheduleActionSettings": {
            "locationName": "scheduleActionSettings",
            "type": "structure",
            "members": {
              "Scte35ReturnToNetworkSettings": {
                "locationName": "scte35ReturnToNetworkSettings",
                "type": "structure",
                "members": {
                  "SpliceEventId": {
                    "shape": "S8",
                    "locationName": "spliceEventId"
                  }
                },
                "required": [
                  "SpliceEventId"
                ]
              },
              "Scte35SpliceInsertSettings": {
                "locationName": "scte35SpliceInsertSettings",
                "type": "structure",
                "members": {
                  "Duration": {
                    "locationName": "duration",
                    "type": "long",
                    "min": 0,
                    "max": 8589934591
                  },
                  "SpliceEventId": {
                    "shape": "S8",
                    "locationName": "spliceEventId"
                  }
                },
                "required": [
                  "SpliceEventId"
                ]
              },
              "Scte35TimeSignalSettings": {
                "locationName": "scte35TimeSignalSettings",
                "type": "structure",
                "members": {
                  "Scte35Descriptors": {
                    "locationName": "scte35Descriptors",
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "Scte35DescriptorSettings": {
                          "locationName": "scte35DescriptorSettings",
                          "type": "structure",
                          "members": {
                            "SegmentationDescriptorScte35DescriptorSettings": {
                              "locationName": "segmentationDescriptorScte35DescriptorSettings",
                              "type": "structure",
                              "members": {
                                "DeliveryRestrictions": {
                                  "locationName": "deliveryRestrictions",
                                  "type": "structure",
                                  "members": {
                                    "ArchiveAllowedFlag": {
                                      "locationName": "archiveAllowedFlag",
                                      "type": "string",
                                      "enum": [
                                        "ARCHIVE_NOT_ALLOWED",
                                        "ARCHIVE_ALLOWED"
                                      ]
                                    },
                                    "DeviceRestrictions": {
                                      "locationName": "deviceRestrictions",
                                      "type": "string",
                                      "enum": [
                                        "NONE",
                                        "RESTRICT_GROUP0",
                                        "RESTRICT_GROUP1",
                                        "RESTRICT_GROUP2"
                                      ]
                                    },
                                    "NoRegionalBlackoutFlag": {
                                      "locationName": "noRegionalBlackoutFlag",
                                      "type": "string",
                                      "enum": [
                                        "REGIONAL_BLACKOUT",
                                        "NO_REGIONAL_BLACKOUT"
                                      ]
                                    },
                                    "WebDeliveryAllowedFlag": {
                                      "locationName": "webDeliveryAllowedFlag",
                                      "type": "string",
                                      "enum": [
                                        "WEB_DELIVERY_NOT_ALLOWED",
                                        "WEB_DELIVERY_ALLOWED"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "DeviceRestrictions",
                                    "ArchiveAllowedFlag",
                                    "WebDeliveryAllowedFlag",
                                    "NoRegionalBlackoutFlag"
                                  ]
                                },
                                "SegmentNum": {
                                  "shape": "Sl",
                                  "locationName": "segmentNum"
                                },
                                "SegmentationCancelIndicator": {
                                  "locationName": "segmentationCancelIndicator",
                                  "type": "string",
                                  "enum": [
                                    "SEGMENTATION_EVENT_NOT_CANCELED",
                                    "SEGMENTATION_EVENT_CANCELED"
                                  ]
                                },
                                "SegmentationDuration": {
                                  "locationName": "segmentationDuration",
                                  "type": "long",
                                  "min": 0,
                                  "max": 1099511627775
                                },
                                "SegmentationEventId": {
                                  "shape": "S8",
                                  "locationName": "segmentationEventId"
                                },
                                "SegmentationTypeId": {
                                  "shape": "Sl",
                                  "locationName": "segmentationTypeId"
                                },
                                "SegmentationUpid": {
                                  "locationName": "segmentationUpid"
                                },
                                "SegmentationUpidType": {
                                  "shape": "Sl",
                                  "locationName": "segmentationUpidType"
                                },
                                "SegmentsExpected": {
                                  "shape": "Sl",
                                  "locationName": "segmentsExpected"
                                },
                                "SubSegmentNum": {
                                  "shape": "Sl",
                                  "locationName": "subSegmentNum"
                                },
                                "SubSegmentsExpected": {
                                  "shape": "Sl",
                                  "locationName": "subSegmentsExpected"
                                }
                              },
                              "required": [
                                "SegmentationEventId",
                                "SegmentationCancelIndicator"
                              ]
                            }
                          },
                          "required": [
                            "SegmentationDescriptorScte35DescriptorSettings"
                          ]
                        }
                      },
                      "required": [
                        "Scte35DescriptorSettings"
                      ]
                    }
                  }
                },
                "required": [
                  "Scte35Descriptors"
                ]
              },
              "StaticImageActivateSettings": {
                "locationName": "staticImageActivateSettings",
                "type": "structure",
                "members": {
                  "Duration": {
                    "shape": "Sp",
                    "locationName": "duration"
                  },
                  "FadeIn": {
                    "shape": "Sp",
                    "locationName": "fadeIn"
                  },
                  "FadeOut": {
                    "shape": "Sp",
                    "locationName": "fadeOut"
                  },
                  "Height": {
                    "shape": "Sq",
                    "locationName": "height"
                  },
                  "Image": {
                    "shape": "Sr",
                    "locationName": "image"
                  },
                  "ImageX": {
                    "shape": "Sp",
                    "locationName": "imageX"
                  },
                  "ImageY": {
                    "shape": "Sp",
                    "locationName": "imageY"
                  },
                  "Layer": {
                    "shape": "Ss",
                    "locationName": "layer"
                  },
                  "Opacity": {
                    "shape": "St",
                    "locationName": "opacity"
                  },
                  "Width": {
                    "shape": "Sq",
                    "locationName": "width"
                  }
                },
                "required": [
                  "Image"
                ]
              },
              "StaticImageDeactivateSettings": {
                "locationName": "staticImageDeactivateSettings",
                "type": "structure",
                "members": {
                  "FadeOut": {
                    "shape": "Sp",
                    "locationName": "fadeOut"
                  },
                  "Layer": {
                    "shape": "Ss",
                    "locationName": "layer"
                  }
                }
              }
            }
          },
          "ScheduleActionStartSettings": {
            "locationName": "scheduleActionStartSettings",
            "type": "structure",
            "members": {
              "FixedModeScheduleActionStartSettings": {
                "locationName": "fixedModeScheduleActionStartSettings",
                "type": "structure",
                "members": {
                  "Time": {
                    "locationName": "time"
                  }
                }
              }
            }
          }
        },
        "required": [
          "ActionName",
          "ScheduleActionStartSettings",
          "ScheduleActionSettings"
        ]
      }
    },
    "S8": {
      "type": "long",
      "min": 0,
      "max": 4294967295
    },
    "Sl": {
      "type": "integer",
      "min": 0,
      "max": 255
    },
    "Sp": {
      "type": "integer",
      "min": 0
    },
    "Sq": {
      "type": "integer",
      "min": 1
    },
    "Sr": {
      "type": "structure",
      "members": {
        "PasswordParam": {
          "locationName": "passwordParam"
        },
        "Uri": {
          "locationName": "uri"
        },
        "Username": {
          "locationName": "username"
        }
      },
      "required": [
        "Uri"
      ]
    },
    "Ss": {
      "type": "integer",
      "min": 0,
      "max": 7
    },
    "St": {
      "type": "integer",
      "min": 0,
      "max": 100
    },
    "Sy": {
      "type": "list",
      "member": {}
    },
    "S13": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Id": {
            "locationName": "id"
          },
          "Settings": {
            "locationName": "settings",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PasswordParam": {
                  "locationName": "passwordParam"
                },
                "StreamName": {
                  "locationName": "streamName"
                },
                "Url": {
                  "locationName": "url"
                },
                "Username": {
                  "locationName": "username"
                }
              }
            }
          }
        }
      }
    },
    "S17": {
      "type": "structure",
      "members": {
        "AudioDescriptions": {
          "locationName": "audioDescriptions",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "AudioNormalizationSettings": {
                "locationName": "audioNormalizationSettings",
                "type": "structure",
                "members": {
                  "Algorithm": {
                    "locationName": "algorithm",
                    "type": "string",
                    "enum": [
                      "ITU_1770_1",
                      "ITU_1770_2"
                    ]
                  },
                  "AlgorithmControl": {
                    "locationName": "algorithmControl",
                    "type": "string",
                    "enum": [
                      "CORRECT_AUDIO"
                    ]
                  },
                  "TargetLkfs": {
                    "locationName": "targetLkfs",
                    "type": "double"
                  }
                }
              },
              "AudioSelectorName": {
                "locationName": "audioSelectorName"
              },
              "AudioType": {
                "locationName": "audioType",
                "type": "string",
                "enum": [
                  "CLEAN_EFFECTS",
                  "HEARING_IMPAIRED",
                  "UNDEFINED",
                  "VISUAL_IMPAIRED_COMMENTARY"
                ]
              },
              "AudioTypeControl": {
                "locationName": "audioTypeControl",
                "type": "string",
                "enum": [
                  "FOLLOW_INPUT",
                  "USE_CONFIGURED"
                ]
              },
              "CodecSettings": {
                "locationName": "codecSettings",
                "type": "structure",
                "members": {
                  "AacSettings": {
                    "locationName": "aacSettings",
                    "type": "structure",
                    "members": {
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "double"
                      },
                      "CodingMode": {
                        "locationName": "codingMode",
                        "type": "string",
                        "enum": [
                          "AD_RECEIVER_MIX",
                          "CODING_MODE_1_0",
                          "CODING_MODE_1_1",
                          "CODING_MODE_2_0",
                          "CODING_MODE_5_1"
                        ]
                      },
                      "InputType": {
                        "locationName": "inputType",
                        "type": "string",
                        "enum": [
                          "BROADCASTER_MIXED_AD",
                          "NORMAL"
                        ]
                      },
                      "Profile": {
                        "locationName": "profile",
                        "type": "string",
                        "enum": [
                          "HEV1",
                          "HEV2",
                          "LC"
                        ]
                      },
                      "RateControlMode": {
                        "locationName": "rateControlMode",
                        "type": "string",
                        "enum": [
                          "CBR",
                          "VBR"
                        ]
                      },
                      "RawFormat": {
                        "locationName": "rawFormat",
                        "type": "string",
                        "enum": [
                          "LATM_LOAS",
                          "NONE"
                        ]
                      },
                      "SampleRate": {
                        "locationName": "sampleRate",
                        "type": "double"
                      },
                      "Spec": {
                        "locationName": "spec",
                        "type": "string",
                        "enum": [
                          "MPEG2",
                          "MPEG4"
                        ]
                      },
                      "VbrQuality": {
                        "locationName": "vbrQuality",
                        "type": "string",
                        "enum": [
                          "HIGH",
                          "LOW",
                          "MEDIUM_HIGH",
                          "MEDIUM_LOW"
                        ]
                      }
                    }
                  },
                  "Ac3Settings": {
                    "locationName": "ac3Settings",
                    "type": "structure",
                    "members": {
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "double"
                      },
                      "BitstreamMode": {
                        "locationName": "bitstreamMode",
                        "type": "string",
                        "enum": [
                          "COMMENTARY",
                          "COMPLETE_MAIN",
                          "DIALOGUE",
                          "EMERGENCY",
                          "HEARING_IMPAIRED",
                          "MUSIC_AND_EFFECTS",
                          "VISUALLY_IMPAIRED",
                          "VOICE_OVER"
                        ]
                      },
                      "CodingMode": {
                        "locationName": "codingMode",
                        "type": "string",
                        "enum": [
                          "CODING_MODE_1_0",
                          "CODING_MODE_1_1",
                          "CODING_MODE_2_0",
                          "CODING_MODE_3_2_LFE"
                        ]
                      },
                      "Dialnorm": {
                        "shape": "S1t",
                        "locationName": "dialnorm"
                      },
                      "DrcProfile": {
                        "locationName": "drcProfile",
                        "type": "string",
                        "enum": [
                          "FILM_STANDARD",
                          "NONE"
                        ]
                      },
                      "LfeFilter": {
                        "locationName": "lfeFilter",
                        "type": "string",
                        "enum": [
                          "DISABLED",
                          "ENABLED"
                        ]
                      },
                      "MetadataControl": {
                        "locationName": "metadataControl",
                        "type": "string",
                        "enum": [
                          "FOLLOW_INPUT",
                          "USE_CONFIGURED"
                        ]
                      }
                    }
                  },
                  "Eac3Settings": {
                    "locationName": "eac3Settings",
                    "type": "structure",
                    "members": {
                      "AttenuationControl": {
                        "locationName": "attenuationControl",
                        "type": "string",
                        "enum": [
                          "ATTENUATE_3_DB",
                          "NONE"
                        ]
                      },
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "double"
                      },
                      "BitstreamMode": {
                        "locationName": "bitstreamMode",
                        "type": "string",
                        "enum": [
                          "COMMENTARY",
                          "COMPLETE_MAIN",
                          "EMERGENCY",
                          "HEARING_IMPAIRED",
                          "VISUALLY_IMPAIRED"
                        ]
                      },
                      "CodingMode": {
                        "locationName": "codingMode",
                        "type": "string",
                        "enum": [
                          "CODING_MODE_1_0",
                          "CODING_MODE_2_0",
                          "CODING_MODE_3_2"
                        ]
                      },
                      "DcFilter": {
                        "locationName": "dcFilter",
                        "type": "string",
                        "enum": [
                          "DISABLED",
                          "ENABLED"
                        ]
                      },
                      "Dialnorm": {
                        "shape": "S1t",
                        "locationName": "dialnorm"
                      },
                      "DrcLine": {
                        "locationName": "drcLine",
                        "type": "string",
                        "enum": [
                          "FILM_LIGHT",
                          "FILM_STANDARD",
                          "MUSIC_LIGHT",
                          "MUSIC_STANDARD",
                          "NONE",
                          "SPEECH"
                        ]
                      },
                      "DrcRf": {
                        "locationName": "drcRf",
                        "type": "string",
                        "enum": [
                          "FILM_LIGHT",
                          "FILM_STANDARD",
                          "MUSIC_LIGHT",
                          "MUSIC_STANDARD",
                          "NONE",
                          "SPEECH"
                        ]
                      },
                      "LfeControl": {
                        "locationName": "lfeControl",
                        "type": "string",
                        "enum": [
                          "LFE",
                          "NO_LFE"
                        ]
                      },
                      "LfeFilter": {
                        "locationName": "lfeFilter",
                        "type": "string",
                        "enum": [
                          "DISABLED",
                          "ENABLED"
                        ]
                      },
                      "LoRoCenterMixLevel": {
                        "locationName": "loRoCenterMixLevel",
                        "type": "double"
                      },
                      "LoRoSurroundMixLevel": {
                        "locationName": "loRoSurroundMixLevel",
                        "type": "double"
                      },
                      "LtRtCenterMixLevel": {
                        "locationName": "ltRtCenterMixLevel",
                        "type": "double"
                      },
                      "LtRtSurroundMixLevel": {
                        "locationName": "ltRtSurroundMixLevel",
                        "type": "double"
                      },
                      "MetadataControl": {
                        "locationName": "metadataControl",
                        "type": "string",
                        "enum": [
                          "FOLLOW_INPUT",
                          "USE_CONFIGURED"
                        ]
                      },
                      "PassthroughControl": {
                        "locationName": "passthroughControl",
                        "type": "string",
                        "enum": [
                          "NO_PASSTHROUGH",
                          "WHEN_POSSIBLE"
                        ]
                      },
                      "PhaseControl": {
                        "locationName": "phaseControl",
                        "type": "string",
                        "enum": [
                          "NO_SHIFT",
                          "SHIFT_90_DEGREES"
                        ]
                      },
                      "StereoDownmix": {
                        "locationName": "stereoDownmix",
                        "type": "string",
                        "enum": [
                          "DPL2",
                          "LO_RO",
                          "LT_RT",
                          "NOT_INDICATED"
                        ]
                      },
                      "SurroundExMode": {
                        "locationName": "surroundExMode",
                        "type": "string",
                        "enum": [
                          "DISABLED",
                          "ENABLED",
                          "NOT_INDICATED"
                        ]
                      },
                      "SurroundMode": {
                        "locationName": "surroundMode",
                        "type": "string",
                        "enum": [
                          "DISABLED",
                          "ENABLED",
                          "NOT_INDICATED"
                        ]
                      }
                    }
                  },
                  "Mp2Settings": {
                    "locationName": "mp2Settings",
                    "type": "structure",
                    "members": {
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "double"
                      },
                      "CodingMode": {
                        "locationName": "codingMode",
                        "type": "string",
                        "enum": [
                          "CODING_MODE_1_0",
                          "CODING_MODE_2_0"
                        ]
                      },
                      "SampleRate": {
                        "locationName": "sampleRate",
                        "type": "double"
                      }
                    }
                  },
                  "PassThroughSettings": {
                    "locationName": "passThroughSettings",
                    "type": "structure",
                    "members": {}
                  }
                }
              },
              "LanguageCode": {
                "shape": "S2f",
                "locationName": "languageCode"
              },
              "LanguageCodeControl": {
                "locationName": "languageCodeControl",
                "type": "string",
                "enum": [
                  "FOLLOW_INPUT",
                  "USE_CONFIGURED"
                ]
              },
              "Name": {
                "locationName": "name"
              },
              "RemixSettings": {
                "locationName": "remixSettings",
                "type": "structure",
                "members": {
                  "ChannelMappings": {
                    "locationName": "channelMappings",
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "InputChannelLevels": {
                          "locationName": "inputChannelLevels",
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Gain": {
                                "locationName": "gain",
                                "type": "integer",
                                "min": -60,
                                "max": 6
                              },
                              "InputChannel": {
                                "shape": "S2n",
                                "locationName": "inputChannel"
                              }
                            },
                            "required": [
                              "InputChannel",
                              "Gain"
                            ]
                          }
                        },
                        "OutputChannel": {
                          "shape": "Ss",
                          "locationName": "outputChannel"
                        }
                      },
                      "required": [
                        "OutputChannel",
                        "InputChannelLevels"
                      ]
                    }
                  },
                  "ChannelsIn": {
                    "locationName": "channelsIn",
                    "type": "integer",
                    "min": 1,
                    "max": 16
                  },
                  "ChannelsOut": {
                    "locationName": "channelsOut",
                    "type": "integer",
                    "min": 1,
                    "max": 8
                  }
                },
                "required": [
                  "ChannelMappings"
                ]
              },
              "StreamName": {
                "locationName": "streamName"
              }
            },
            "required": [
              "AudioSelectorName",
              "Name"
            ]
          }
        },
        "AvailBlanking": {
          "locationName": "availBlanking",
          "type": "structure",
          "members": {
            "AvailBlankingImage": {
              "shape": "Sr",
              "locationName": "availBlankingImage"
            },
            "State": {
              "locationName": "state",
              "type": "string",
              "enum": [
                "DISABLED",
                "ENABLED"
              ]
            }
          }
        },
        "AvailConfiguration": {
          "locationName": "availConfiguration",
          "type": "structure",
          "members": {
            "AvailSettings": {
              "locationName": "availSettings",
              "type": "structure",
              "members": {
                "Scte35SpliceInsert": {
                  "locationName": "scte35SpliceInsert",
                  "type": "structure",
                  "members": {
                    "AdAvailOffset": {
                      "shape": "S2v",
                      "locationName": "adAvailOffset"
                    },
                    "NoRegionalBlackoutFlag": {
                      "locationName": "noRegionalBlackoutFlag",
                      "type": "string",
                      "enum": [
                        "FOLLOW",
                        "IGNORE"
                      ]
                    },
                    "WebDeliveryAllowedFlag": {
                      "locationName": "webDeliveryAllowedFlag",
                      "type": "string",
                      "enum": [
                        "FOLLOW",
                        "IGNORE"
                      ]
                    }
                  }
                },
                "Scte35TimeSignalApos": {
                  "locationName": "scte35TimeSignalApos",
                  "type": "structure",
                  "members": {
                    "AdAvailOffset": {
                      "shape": "S2v",
                      "locationName": "adAvailOffset"
                    },
                    "NoRegionalBlackoutFlag": {
                      "locationName": "noRegionalBlackoutFlag",
                      "type": "string",
                      "enum": [
                        "FOLLOW",
                        "IGNORE"
                      ]
                    },
                    "WebDeliveryAllowedFlag": {
                      "locationName": "webDeliveryAllowedFlag",
                      "type": "string",
                      "enum": [
                        "FOLLOW",
                        "IGNORE"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "BlackoutSlate": {
          "locationName": "blackoutSlate",
          "type": "structure",
          "members": {
            "BlackoutSlateImage": {
              "shape": "Sr",
              "locationName": "blackoutSlateImage"
            },
            "NetworkEndBlackout": {
              "locationName": "networkEndBlackout",
              "type": "string",
              "enum": [
                "DISABLED",
                "ENABLED"
              ]
            },
            "NetworkEndBlackoutImage": {
              "shape": "Sr",
              "locationName": "networkEndBlackoutImage"
            },
            "NetworkId": {
              "locationName": "networkId",
              "type": "string",
              "min": 34,
              "max": 34
            },
            "State": {
              "locationName": "state",
              "type": "string",
              "enum": [
                "DISABLED",
                "ENABLED"
              ]
            }
          }
        },
        "CaptionDescriptions": {
          "locationName": "captionDescriptions",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "CaptionSelectorName": {
                "locationName": "captionSelectorName"
              },
              "DestinationSettings": {
                "locationName": "destinationSettings",
                "type": "structure",
                "members": {
                  "AribDestinationSettings": {
                    "locationName": "aribDestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "BurnInDestinationSettings": {
                    "locationName": "burnInDestinationSettings",
                    "type": "structure",
                    "members": {
                      "Alignment": {
                        "locationName": "alignment",
                        "type": "string",
                        "enum": [
                          "CENTERED",
                          "LEFT",
                          "SMART"
                        ]
                      },
                      "BackgroundColor": {
                        "locationName": "backgroundColor",
                        "type": "string",
                        "enum": [
                          "BLACK",
                          "NONE",
                          "WHITE"
                        ]
                      },
                      "BackgroundOpacity": {
                        "shape": "Sl",
                        "locationName": "backgroundOpacity"
                      },
                      "Font": {
                        "shape": "Sr",
                        "locationName": "font"
                      },
                      "FontColor": {
                        "locationName": "fontColor",
                        "type": "string",
                        "enum": [
                          "BLACK",
                          "BLUE",
                          "GREEN",
                          "RED",
                          "WHITE",
                          "YELLOW"
                        ]
                      },
                      "FontOpacity": {
                        "shape": "Sl",
                        "locationName": "fontOpacity"
                      },
                      "FontResolution": {
                        "shape": "S3d",
                        "locationName": "fontResolution"
                      },
                      "FontSize": {
                        "locationName": "fontSize"
                      },
                      "OutlineColor": {
                        "locationName": "outlineColor",
                        "type": "string",
                        "enum": [
                          "BLACK",
                          "BLUE",
                          "GREEN",
                          "RED",
                          "WHITE",
                          "YELLOW"
                        ]
                      },
                      "OutlineSize": {
                        "shape": "S3f",
                        "locationName": "outlineSize"
                      },
                      "ShadowColor": {
                        "locationName": "shadowColor",
                        "type": "string",
                        "enum": [
                          "BLACK",
                          "NONE",
                          "WHITE"
                        ]
                      },
                      "ShadowOpacity": {
                        "shape": "Sl",
                        "locationName": "shadowOpacity"
                      },
                      "ShadowXOffset": {
                        "locationName": "shadowXOffset",
                        "type": "integer"
                      },
                      "ShadowYOffset": {
                        "locationName": "shadowYOffset",
                        "type": "integer"
                      },
                      "TeletextGridControl": {
                        "locationName": "teletextGridControl",
                        "type": "string",
                        "enum": [
                          "FIXED",
                          "SCALED"
                        ]
                      },
                      "XPosition": {
                        "shape": "Sp",
                        "locationName": "xPosition"
                      },
                      "YPosition": {
                        "shape": "Sp",
                        "locationName": "yPosition"
                      }
                    }
                  },
                  "DvbSubDestinationSettings": {
                    "locationName": "dvbSubDestinationSettings",
                    "type": "structure",
                    "members": {
                      "Alignment": {
                        "locationName": "alignment",
                        "type": "string",
                        "enum": [
                          "CENTERED",
                          "LEFT",
                          "SMART"
                        ]
                      },
                      "BackgroundColor": {
                        "locationName": "backgroundColor",
                        "type": "string",
                        "enum": [
                          "BLACK",
                          "NONE",
                          "WHITE"
                        ]
                      },
                      "BackgroundOpacity": {
                        "shape": "Sl",
                        "locationName": "backgroundOpacity"
                      },
                      "Font": {
                        "shape": "Sr",
                        "locationName": "font"
                      },
                      "FontColor": {
                        "locationName": "fontColor",
                        "type": "string",
                        "enum": [
                          "BLACK",
                          "BLUE",
                          "GREEN",
                          "RED",
                          "WHITE",
                          "YELLOW"
                        ]
                      },
                      "FontOpacity": {
                        "shape": "Sl",
                        "locationName": "fontOpacity"
                      },
                      "FontResolution": {
                        "shape": "S3d",
                        "locationName": "fontResolution"
                      },
                      "FontSize": {
                        "locationName": "fontSize"
                      },
                      "OutlineColor": {
                        "locationName": "outlineColor",
                        "type": "string",
                        "enum": [
                          "BLACK",
                          "BLUE",
                          "GREEN",
                          "RED",
                          "WHITE",
                          "YELLOW"
                        ]
                      },
                      "OutlineSize": {
                        "shape": "S3f",
                        "locationName": "outlineSize"
                      },
                      "ShadowColor": {
                        "locationName": "shadowColor",
                        "type": "string",
                        "enum": [
                          "BLACK",
                          "NONE",
                          "WHITE"
                        ]
                      },
                      "ShadowOpacity": {
                        "shape": "Sl",
                        "locationName": "shadowOpacity"
                      },
                      "ShadowXOffset": {
                        "locationName": "shadowXOffset",
                        "type": "integer"
                      },
                      "ShadowYOffset": {
                        "locationName": "shadowYOffset",
                        "type": "integer"
                      },
                      "TeletextGridControl": {
                        "locationName": "teletextGridControl",
                        "type": "string",
                        "enum": [
                          "FIXED",
                          "SCALED"
                        ]
                      },
                      "XPosition": {
                        "shape": "Sp",
                        "locationName": "xPosition"
                      },
                      "YPosition": {
                        "shape": "Sp",
                        "locationName": "yPosition"
                      }
                    }
                  },
                  "EmbeddedDestinationSettings": {
                    "locationName": "embeddedDestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "EmbeddedPlusScte20DestinationSettings": {
                    "locationName": "embeddedPlusScte20DestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "RtmpCaptionInfoDestinationSettings": {
                    "locationName": "rtmpCaptionInfoDestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "Scte20PlusEmbeddedDestinationSettings": {
                    "locationName": "scte20PlusEmbeddedDestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "Scte27DestinationSettings": {
                    "locationName": "scte27DestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "SmpteTtDestinationSettings": {
                    "locationName": "smpteTtDestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "TeletextDestinationSettings": {
                    "locationName": "teletextDestinationSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "TtmlDestinationSettings": {
                    "locationName": "ttmlDestinationSettings",
                    "type": "structure",
                    "members": {
                      "StyleControl": {
                        "locationName": "styleControl",
                        "type": "string",
                        "enum": [
                          "PASSTHROUGH",
                          "USE_CONFIGURED"
                        ]
                      }
                    }
                  },
                  "WebvttDestinationSettings": {
                    "locationName": "webvttDestinationSettings",
                    "type": "structure",
                    "members": {}
                  }
                }
              },
              "LanguageCode": {
                "locationName": "languageCode"
              },
              "LanguageDescription": {
                "locationName": "languageDescription"
              },
              "Name": {
                "locationName": "name"
              }
            },
            "required": [
              "CaptionSelectorName",
              "Name"
            ]
          }
        },
        "GlobalConfiguration": {
          "locationName": "globalConfiguration",
          "type": "structure",
          "members": {
            "InitialAudioGain": {
              "locationName": "initialAudioGain",
              "type": "integer",
              "min": -60,
              "max": 60
            },
            "InputEndAction": {
              "locationName": "inputEndAction",
              "type": "string",
              "enum": [
                "NONE",
                "SWITCH_AND_LOOP_INPUTS"
              ]
            },
            "InputLossBehavior": {
              "locationName": "inputLossBehavior",
              "type": "structure",
              "members": {
                "BlackFrameMsec": {
                  "shape": "S44",
                  "locationName": "blackFrameMsec"
                },
                "InputLossImageColor": {
                  "locationName": "inputLossImageColor",
                  "type": "string",
                  "min": 6,
                  "max": 6
                },
                "InputLossImageSlate": {
                  "shape": "Sr",
                  "locationName": "inputLossImageSlate"
                },
                "InputLossImageType": {
                  "locationName": "inputLossImageType",
                  "type": "string",
                  "enum": [
                    "COLOR",
                    "SLATE"
                  ]
                },
                "RepeatFrameMsec": {
                  "shape": "S44",
                  "locationName": "repeatFrameMsec"
                }
              }
            },
            "OutputTimingSource": {
              "locationName": "outputTimingSource",
              "type": "string",
              "enum": [
                "INPUT_CLOCK",
                "SYSTEM_CLOCK"
              ]
            },
            "SupportLowFramerateInputs": {
              "locationName": "supportLowFramerateInputs",
              "type": "string",
              "enum": [
                "DISABLED",
                "ENABLED"
              ]
            }
          }
        },
        "OutputGroups": {
          "locationName": "outputGroups",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Name": {
                "locationName": "name",
                "type": "string",
                "max": 32
              },
              "OutputGroupSettings": {
                "locationName": "outputGroupSettings",
                "type": "structure",
                "members": {
                  "ArchiveGroupSettings": {
                    "locationName": "archiveGroupSettings",
                    "type": "structure",
                    "members": {
                      "Destination": {
                        "shape": "S4e",
                        "locationName": "destination"
                      },
                      "RolloverInterval": {
                        "shape": "Sq",
                        "locationName": "rolloverInterval"
                      }
                    },
                    "required": [
                      "Destination"
                    ]
                  },
                  "HlsGroupSettings": {
                    "locationName": "hlsGroupSettings",
                    "type": "structure",
                    "members": {
                      "AdMarkers": {
                        "locationName": "adMarkers",
                        "type": "list",
                        "member": {
                          "type": "string",
                          "enum": [
                            "ADOBE",
                            "ELEMENTAL",
                            "ELEMENTAL_SCTE35"
                          ]
                        }
                      },
                      "BaseUrlContent": {
                        "locationName": "baseUrlContent"
                      },
                      "BaseUrlManifest": {
                        "locationName": "baseUrlManifest"
                      },
                      "CaptionLanguageMappings": {
                        "locationName": "captionLanguageMappings",
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "CaptionChannel": {
                              "shape": "S4k",
                              "locationName": "captionChannel"
                            },
                            "LanguageCode": {
                              "shape": "S2f",
                              "locationName": "languageCode"
                            },
                            "LanguageDescription": {
                              "shape": "S4l",
                              "locationName": "languageDescription"
                            }
                          },
                          "required": [
                            "LanguageCode",
                            "LanguageDescription",
                            "CaptionChannel"
                          ]
                        }
                      },
                      "CaptionLanguageSetting": {
                        "locationName": "captionLanguageSetting",
                        "type": "string",
                        "enum": [
                          "INSERT",
                          "NONE",
                          "OMIT"
                        ]
                      },
                      "ClientCache": {
                        "locationName": "clientCache",
                        "type": "string",
                        "enum": [
                          "DISABLED",
                          "ENABLED"
                        ]
                      },
                      "CodecSpecification": {
                        "locationName": "codecSpecification",
                        "type": "string",
                        "enum": [
                          "RFC_4281",
                          "RFC_6381"
                        ]
                      },
                      "ConstantIv": {
                        "shape": "S4p",
                        "locationName": "constantIv"
                      },
                      "Destination": {
                        "shape": "S4e",
                        "locationName": "destination"
                      },
                      "DirectoryStructure": {
                        "locationName": "directoryStructure",
                        "type": "string",
                        "enum": [
                          "SINGLE_DIRECTORY",
                          "SUBDIRECTORY_PER_STREAM"
                        ]
                      },
                      "EncryptionType": {
                        "locationName": "encryptionType",
                        "type": "string",
                        "enum": [
                          "AES128",
                          "SAMPLE_AES"
                        ]
                      },
                      "HlsCdnSettings": {
                        "locationName": "hlsCdnSettings",
                        "type": "structure",
                        "members": {
                          "HlsAkamaiSettings": {
                            "locationName": "hlsAkamaiSettings",
                            "type": "structure",
                            "members": {
                              "ConnectionRetryInterval": {
                                "shape": "Sp",
                                "locationName": "connectionRetryInterval"
                              },
                              "FilecacheDuration": {
                                "shape": "S4u",
                                "locationName": "filecacheDuration"
                              },
                              "HttpTransferMode": {
                                "locationName": "httpTransferMode",
                                "type": "string",
                                "enum": [
                                  "CHUNKED",
                                  "NON_CHUNKED"
                                ]
                              },
                              "NumRetries": {
                                "shape": "Sp",
                                "locationName": "numRetries"
                              },
                              "RestartDelay": {
                                "shape": "S2n",
                                "locationName": "restartDelay"
                              },
                              "Salt": {
                                "locationName": "salt"
                              },
                              "Token": {
                                "locationName": "token"
                              }
                            }
                          },
                          "HlsBasicPutSettings": {
                            "locationName": "hlsBasicPutSettings",
                            "type": "structure",
                            "members": {
                              "ConnectionRetryInterval": {
                                "shape": "Sp",
                                "locationName": "connectionRetryInterval"
                              },
                              "FilecacheDuration": {
                                "shape": "S4u",
                                "locationName": "filecacheDuration"
                              },
                              "NumRetries": {
                                "shape": "Sp",
                                "locationName": "numRetries"
                              },
                              "RestartDelay": {
                                "shape": "S2n",
                                "locationName": "restartDelay"
                              }
                            }
                          },
                          "HlsMediaStoreSettings": {
                            "locationName": "hlsMediaStoreSettings",
                            "type": "structure",
                            "members": {
                              "ConnectionRetryInterval": {
                                "shape": "Sp",
                                "locationName": "connectionRetryInterval"
                              },
                              "FilecacheDuration": {
                                "shape": "S4u",
                                "locationName": "filecacheDuration"
                              },
                              "MediaStoreStorageClass": {
                                "locationName": "mediaStoreStorageClass",
                                "type": "string",
                                "enum": [
                                  "TEMPORAL"
                                ]
                              },
                              "NumRetries": {
                                "shape": "Sp",
                                "locationName": "numRetries"
                              },
                              "RestartDelay": {
                                "shape": "S2n",
                                "locationName": "restartDelay"
                              }
                            }
                          },
                          "HlsWebdavSettings": {
                            "locationName": "hlsWebdavSettings",
                            "type": "structure",
                            "members": {
                              "ConnectionRetryInterval": {
                                "shape": "Sp",
                                "locationName": "connectionRetryInterval"
                              },
                              "FilecacheDuration": {
                                "shape": "S4u",
                                "locationName": "filecacheDuration"
                              },
                              "HttpTransferMode": {
                                "locationName": "httpTransferMode",
                                "type": "string",
                                "enum": [
                                  "CHUNKED",
                                  "NON_CHUNKED"
                                ]
                              },
                              "NumRetries": {
                                "shape": "Sp",
                                "locationName": "numRetries"
                              },
                              "RestartDelay": {
                                "shape": "S2n",
                                "locationName": "restartDelay"
                              }
                            }
                          }
                        }
                      },
                      "IndexNSegments": {
                        "locationName": "indexNSegments",
                        "type": "integer",
                        "min": 3
                      },
                      "InputLossAction": {
                        "locationName": "inputLossAction",
                        "type": "string",
                        "enum": [
                          "EMIT_OUTPUT",
                          "PAUSE_OUTPUT"
                        ]
                      },
                      "IvInManifest": {
                        "locationName": "ivInManifest",
                        "type": "string",
                        "enum": [
                          "EXCLUDE",
                          "INCLUDE"
                        ]
                      },
                      "IvSource": {
                        "locationName": "ivSource",
                        "type": "string",
                        "enum": [
                          "EXPLICIT",
                          "FOLLOWS_SEGMENT_NUMBER"
                        ]
                      },
                      "KeepSegments": {
                        "shape": "Sq",
                        "locationName": "keepSegments"
                      },
                      "KeyFormat": {
                        "locationName": "keyFormat"
                      },
                      "KeyFormatVersions": {
                        "locationName": "keyFormatVersions"
                      },
                      "KeyProviderSettings": {
                        "locationName": "keyProviderSettings",
                        "type": "structure",
                        "members": {
                          "StaticKeySettings": {
                            "locationName": "staticKeySettings",
                            "type": "structure",
                            "members": {
                              "KeyProviderServer": {
                                "shape": "Sr",
                                "locationName": "keyProviderServer"
                              },
                              "StaticKeyValue": {
                                "shape": "S4p",
                                "locationName": "staticKeyValue"
                              }
                            },
                            "required": [
                              "StaticKeyValue"
                            ]
                          }
                        }
                      },
                      "ManifestCompression": {
                        "locationName": "manifestCompression",
                        "type": "string",
                        "enum": [
                          "GZIP",
                          "NONE"
                        ]
                      },
                      "ManifestDurationFormat": {
                        "locationName": "manifestDurationFormat",
                        "type": "string",
                        "enum": [
                          "FLOATING_POINT",
                          "INTEGER"
                        ]
                      },
                      "MinSegmentLength": {
                        "shape": "Sp",
                        "locationName": "minSegmentLength"
                      },
                      "Mode": {
                        "locationName": "mode",
                        "type": "string",
                        "enum": [
                          "LIVE",
                          "VOD"
                        ]
                      },
                      "OutputSelection": {
                        "locationName": "outputSelection",
                        "type": "string",
                        "enum": [
                          "MANIFESTS_AND_SEGMENTS",
                          "SEGMENTS_ONLY"
                        ]
                      },
                      "ProgramDateTime": {
                        "locationName": "programDateTime",
                        "type": "string",
                        "enum": [
                          "EXCLUDE",
                          "INCLUDE"
                        ]
                      },
                      "ProgramDateTimePeriod": {
                        "locationName": "programDateTimePeriod",
                        "type": "integer",
                        "min": 0,
                        "max": 3600
                      },
                      "SegmentLength": {
                        "shape": "Sq",
                        "locationName": "segmentLength"
                      },
                      "SegmentationMode": {
                        "locationName": "segmentationMode",
                        "type": "string",
                        "enum": [
                          "USE_INPUT_SEGMENTATION",
                          "USE_SEGMENT_DURATION"
                        ]
                      },
                      "SegmentsPerSubdirectory": {
                        "shape": "Sq",
                        "locationName": "segmentsPerSubdirectory"
                      },
                      "StreamInfResolution": {
                        "locationName": "streamInfResolution",
                        "type": "string",
                        "enum": [
                          "EXCLUDE",
                          "INCLUDE"
                        ]
                      },
                      "TimedMetadataId3Frame": {
                        "locationName": "timedMetadataId3Frame",
                        "type": "string",
                        "enum": [
                          "NONE",
                          "PRIV",
                          "TDRL"
                        ]
                      },
                      "TimedMetadataId3Period": {
                        "shape": "Sp",
                        "locationName": "timedMetadataId3Period"
                      },
                      "TimestampDeltaMilliseconds": {
                        "shape": "Sp",
                        "locationName": "timestampDeltaMilliseconds"
                      },
                      "TsFileMode": {
                        "locationName": "tsFileMode",
                        "type": "string",
                        "enum": [
                          "SEGMENTED_FILES",
                          "SINGLE_FILE"
                        ]
                      }
                    },
                    "required": [
                      "Destination"
                    ]
                  },
                  "MsSmoothGroupSettings": {
                    "locationName": "msSmoothGroupSettings",
                    "type": "structure",
                    "members": {
                      "AcquisitionPointId": {
                        "locationName": "acquisitionPointId"
                      },
                      "AudioOnlyTimecodeControl": {
                        "locationName": "audioOnlyTimecodeControl",
                        "type": "string",
                        "enum": [
                          "PASSTHROUGH",
                          "USE_CONFIGURED_CLOCK"
                        ]
                      },
                      "CertificateMode": {
                        "locationName": "certificateMode",
                        "type": "string",
                        "enum": [
[...]
