{
  "metadata": {
    "apiVersion": "2018-11-07",
    "endpointPrefix": "mediapackage-vod",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "MediaPackage Vod",
    "serviceFullName": "AWS Elemental MediaPackage VOD",
    "serviceId": "MediaPackage Vod",
    "signatureVersion": "v4",
    "signingName": "mediapackage-vod",
    "uid": "mediapackage-vod-2018-11-07"
  },
  "operations": {
    "CreateAsset": {
      "http": {
        "requestUri": "/assets",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Id": {
            "locationName": "id"
          },
          "PackagingGroupId": {
            "locationName": "packagingGroupId"
          },
          "ResourceId": {
            "locationName": "resourceId"
          },
          "SourceArn": {
            "locationName": "sourceArn"
          },
          "SourceRoleArn": {
            "locationName": "sourceRoleArn"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "required": [
          "SourceArn",
          "Id",
          "PackagingGroupId",
          "SourceRoleArn"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CreatedAt": {
            "locationName": "createdAt"
          },
          "EgressEndpoints": {
            "locationName": "egressEndpoints",
            "shape": "S5"
          },
          "Id": {
            "locationName": "id"
          },
          "PackagingGroupId": {
            "locationName": "packagingGroupId"
          },
          "ResourceId": {
            "locationName": "resourceId"
          },
          "SourceArn": {
            "locationName": "sourceArn"
          },
          "SourceRoleArn": {
            "locationName": "sourceRoleArn"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "type": "structure"
      }
    },
    "CreatePackagingConfiguration": {
      "http": {
        "requestUri": "/packaging_configurations",
        "responseCode": 200
      },
      "input": {
        "members": {
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "S8"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "Sj"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "Ss"
          },
          "Id": {
            "locationName": "id"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "Sv"
          },
          "PackagingGroupId": {
            "locationName": "packagingGroupId"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "required": [
          "Id",
          "PackagingGroupId"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "S8"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "Sj"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "Ss"
          },
          "Id": {
            "locationName": "id"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "Sv"
          },
          "PackagingGroupId": {
            "locationName": "packagingGroupId"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "type": "structure"
      }
    },
    "CreatePackagingGroup": {
      "http": {
        "requestUri": "/packaging_groups",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Id": {
            "locationName": "id"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "DomainName": {
            "locationName": "domainName"
          },
          "Id": {
            "locationName": "id"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "type": "structure"
      }
    },
    "DeleteAsset": {
      "http": {
        "method": "DELETE",
        "requestUri": "/assets/{id}",
        "responseCode": 202
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DeletePackagingConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/packaging_configurations/{id}",
        "responseCode": 202
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DeletePackagingGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/packaging_groups/{id}",
        "responseCode": 202
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {},
        "type": "structure"
      }
    },
    "DescribeAsset": {
      "http": {
        "method": "GET",
        "requestUri": "/assets/{id}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CreatedAt": {
            "locationName": "createdAt"
          },
          "EgressEndpoints": {
            "locationName": "egressEndpoints",
            "shape": "S5"
          },
          "Id": {
            "locationName": "id"
          },
          "PackagingGroupId": {
            "locationName": "packagingGroupId"
          },
          "ResourceId": {
            "locationName": "resourceId"
          },
          "SourceArn": {
            "locationName": "sourceArn"
          },
          "SourceRoleArn": {
            "locationName": "sourceRoleArn"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "type": "structure"
      }
    },
    "DescribePackagingConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/packaging_configurations/{id}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CmafPackage": {
            "locationName": "cmafPackage",
            "shape": "S8"
          },
          "DashPackage": {
            "locationName": "dashPackage",
            "shape": "Sj"
          },
          "HlsPackage": {
            "locationName": "hlsPackage",
            "shape": "Ss"
          },
          "Id": {
            "locationName": "id"
          },
          "MssPackage": {
            "locationName": "mssPackage",
            "shape": "Sv"
          },
          "PackagingGroupId": {
            "locationName": "packagingGroupId"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "type": "structure"
      }
    },
    "DescribePackagingGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/packaging_groups/{id}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "Id": {
            "location": "uri",
            "locationName": "id"
          }
        },
        "required": [
          "Id"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "DomainName": {
            "locationName": "domainName"
          },
          "Id": {
            "locationName": "id"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S3"
          }
        },
        "type": "structure"
      }
    },
    "ListAssets": {
      "http": {
        "method": "GET",
        "requestUri": "/assets",
        "responseCode": 200
      },
      "input": {
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "PackagingGroupId": {
            "location": "querystring",
            "locationName": "packagingGroupId"
          }
        },
        "type": "structure"
      },
      "output": {
        "members": {
          "Assets": {
            "locationName": "assets",
            "member": {
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "CreatedAt": {
                  "locationName": "createdAt"
                },
                "Id": {
                  "locationName": "id"
                },
                "PackagingGroupId": {
                  "locationName": "packagingGroupId"
                },
                "ResourceId": {
                  "locationName": "resourceId"
                },
                "SourceArn": {
                  "locationName": "sourceArn"
                },
                "SourceRoleArn": {
                  "locationName": "sourceRoleArn"
                },
                "Tags": {
                  "locationName": "tags",
                  "shape": "S3"
                }
              },
              "type": "structure"
            },
            "type": "list"
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        },
        "type": "structure"
      }
    },
    "ListPackagingConfigurations": {
      "http": {
        "method": "GET",
        "requestUri": "/packaging_configurations",
        "responseCode": 200
      },
      "input": {
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "PackagingGroupId": {
            "location": "querystring",
            "locationName": "packagingGroupId"
          }
        },
        "type": "structure"
      },
      "output": {
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "PackagingConfigurations": {
            "locationName": "packagingConfigurations",
            "member": {
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "CmafPackage": {
                  "locationName": "cmafPackage",
                  "shape": "S8"
                },
                "DashPackage": {
                  "locationName": "dashPackage",
                  "shape": "Sj"
                },
                "HlsPackage": {
                  "locationName": "hlsPackage",
                  "shape": "Ss"
                },
                "Id": {
                  "locationName": "id"
                },
                "MssPackage": {
                  "locationName": "mssPackage",
                  "shape": "Sv"
                },
                "PackagingGroupId": {
                  "locationName": "packagingGroupId"
                },
                "Tags": {
                  "locationName": "tags",
                  "shape": "S3"
                }
              },
              "type": "structure"
            },
            "type": "list"
          }
        },
        "type": "structure"
      }
    },
    "ListPackagingGroups": {
      "http": {
        "method": "GET",
        "requestUri": "/packaging_groups",
        "responseCode": 200
      },
      "input": {
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "type": "structure"
      },
      "output": {
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "PackagingGroups": {
            "locationName": "packagingGroups",
            "member": {
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "DomainName": {
                  "locationName": "domainName"
                },
                "Id": {
                  "locationName": "id"
                },
                "Tags": {
                  "locationName": "tags",
                  "shape": "S3"
                }
              },
              "type": "structure"
            },
            "type": "list"
          }
        },
        "type": "structure"
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          }
        },
        "required": [
          "ResourceArn"
        ],
        "type": "structure"
      },
      "output": {
        "members": {
          "Tags": {
            "locationName": "tags",
            "shape": "S1t"
          }
        },
        "type": "structure"
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          },
          "Tags": {
            "locationName": "tags",
            "shape": "S1t"
          }
        },
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "type": "structure"
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "shape": "Sb"
          }
        },
        "required": [
          "TagKeys",
          "ResourceArn"
        ],
        "type": "structure"
      }
    }
  },
  "shapes": {
    "S3": {
      "key": {},
      "type": "map",
      "value": {}
    },
    "S5": {
      "member": {
        "members": {
          "PackagingConfigurationId": {
            "locationName": "packagingConfigurationId"
          },
          "Url": {
            "locationName": "url"
          }
        },
        "type": "structure"
      },
      "type": "list"
    },
    "S8": {
      "members": {
        "Encryption": {
          "locationName": "encryption",
          "members": {
            "SpekeKeyProvider": {
              "locationName": "spekeKeyProvider",
              "shape": "Sa"
            }
          },
          "required": [
            "SpekeKeyProvider"
          ],
          "type": "structure"
        },
        "HlsManifests": {
          "locationName": "hlsManifests",
          "shape": "Sc"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        }
      },
      "required": [
        "HlsManifests"
      ],
      "type": "structure"
    },
    "Sa": {
      "members": {
        "RoleArn": {
          "locationName": "roleArn"
        },
        "SystemIds": {
          "locationName": "systemIds",
          "shape": "Sb"
        },
        "Url": {
          "locationName": "url"
        }
      },
      "required": [
        "SystemIds",
        "Url",
        "RoleArn"
      ],
      "type": "structure"
    },
    "Sb": {
      "member": {},
      "type": "list"
    },
    "Sc": {
      "member": {
        "members": {
          "AdMarkers": {
            "locationName": "adMarkers"
          },
          "IncludeIframeOnlyStream": {
            "locationName": "includeIframeOnlyStream",
            "type": "boolean"
          },
          "ManifestName": {
            "locationName": "manifestName"
          },
          "ProgramDateTimeIntervalSeconds": {
            "locationName": "programDateTimeIntervalSeconds",
            "type": "integer"
          },
          "RepeatExtXKey": {
            "locationName": "repeatExtXKey",
            "type": "boolean"
          },
          "StreamSelection": {
            "locationName": "streamSelection",
            "shape": "Sh"
          }
        },
        "type": "structure"
      },
      "type": "list"
    },
    "Sh": {
      "members": {
        "MaxVideoBitsPerSecond": {
          "locationName": "maxVideoBitsPerSecond",
          "type": "integer"
        },
        "MinVideoBitsPerSecond": {
          "locationName": "minVideoBitsPerSecond",
          "type": "integer"
        },
        "StreamOrder": {
          "locationName": "streamOrder"
        }
      },
      "type": "structure"
    },
    "Sj": {
      "members": {
        "DashManifests": {
          "locationName": "dashManifests",
          "member": {
            "members": {
              "ManifestLayout": {
                "locationName": "manifestLayout"
              },
              "ManifestName": {
                "locationName": "manifestName"
              },
              "MinBufferTimeSeconds": {
                "locationName": "minBufferTimeSeconds",
                "type": "integer"
              },
              "Profile": {
                "locationName": "profile"
              },
              "StreamSelection": {
                "locationName": "streamSelection",
                "shape": "Sh"
              }
            },
            "type": "structure"
          },
          "type": "list"
        },
        "Encryption": {
          "locationName": "encryption",
          "members": {
            "SpekeKeyProvider": {
              "locationName": "spekeKeyProvider",
              "shape": "Sa"
            }
          },
          "required": [
            "SpekeKeyProvider"
          ],
          "type": "structure"
        },
        "PeriodTriggers": {
          "locationName": "periodTriggers",
          "member": {},
          "type": "list"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        },
        "SegmentTemplateFormat": {
          "locationName": "segmentTemplateFormat"
        }
      },
      "required": [
        "DashManifests"
      ],
      "type": "structure"
    },
    "Ss": {
      "members": {
        "Encryption": {
          "locationName": "encryption",
          "members": {
            "ConstantInitializationVector": {
              "locationName": "constantInitializationVector"
            },
            "EncryptionMethod": {
              "locationName": "encryptionMethod"
            },
            "SpekeKeyProvider": {
              "locationName": "spekeKeyProvider",
              "shape": "Sa"
            }
          },
          "required": [
            "SpekeKeyProvider"
          ],
          "type": "structure"
        },
        "HlsManifests": {
          "locationName": "hlsManifests",
          "shape": "Sc"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        },
        "UseAudioRenditionGroup": {
          "locationName": "useAudioRenditionGroup",
          "type": "boolean"
        }
      },
      "required": [
        "HlsManifests"
      ],
      "type": "structure"
    },
    "Sv": {
      "members": {
        "Encryption": {
          "locationName": "encryption",
          "members": {
            "SpekeKeyProvider": {
              "locationName": "spekeKeyProvider",
              "shape": "Sa"
            }
          },
          "required": [
            "SpekeKeyProvider"
          ],
          "type": "structure"
        },
        "MssManifests": {
          "locationName": "mssManifests",
          "member": {
            "members": {
              "ManifestName": {
                "locationName": "manifestName"
              },
              "StreamSelection": {
                "locationName": "streamSelection",
                "shape": "Sh"
              }
            },
            "type": "structure"
          },
          "type": "list"
        },
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds",
          "type": "integer"
        }
      },
      "required": [
        "MssManifests"
      ],
      "type": "structure"
    },
    "S1t": {
      "key": {},
      "type": "map",
      "value": {}
    }
  }
}