{
  "metadata": {
    "apiVersion": "2017-10-14",
    "endpointPrefix": "medialive",
    "signingName": "medialive",
    "serviceFullName": "AWS Elemental MediaLive",
    "serviceId": "MediaLive",
    "protocol": "rest-json",
    "uid": "medialive-2017-10-14",
    "signatureVersion": "v4",
    "serviceAbbreviation": "MediaLive",
    "jsonVersion": "1.1"
  },
  "operations": {
    "AcceptInputDeviceTransfer": {
      "http": {
        "requestUri": "/prod/inputDevices/{inputDeviceId}/accept",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputDeviceId": {
            "location": "uri",
            "locationName": "inputDeviceId"
          }
        },
        "required": [
          "InputDeviceId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "BatchDelete": {
      "http": {
        "requestUri": "/prod/batch/delete",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelIds": {
            "shape": "S5",
            "locationName": "channelIds"
          },
          "InputIds": {
            "shape": "S5",
            "locationName": "inputIds"
          },
          "InputSecurityGroupIds": {
            "shape": "S5",
            "locationName": "inputSecurityGroupIds"
          },
          "MultiplexIds": {
            "shape": "S5",
            "locationName": "multiplexIds"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Failed": {
            "shape": "S7",
            "locationName": "failed"
          },
          "Successful": {
            "shape": "S9",
            "locationName": "successful"
          }
        }
      }
    },
    "BatchStart": {
      "http": {
        "requestUri": "/prod/batch/start",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelIds": {
            "shape": "S5",
            "locationName": "channelIds"
          },
          "MultiplexIds": {
            "shape": "S5",
            "locationName": "multiplexIds"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Failed": {
            "shape": "S7",
            "locationName": "failed"
          },
          "Successful": {
            "shape": "S9",
            "locationName": "successful"
          }
        }
      }
    },
    "BatchStop": {
      "http": {
        "requestUri": "/prod/batch/stop",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelIds": {
            "shape": "S5",
            "locationName": "channelIds"
          },
          "MultiplexIds": {
            "shape": "S5",
            "locationName": "multiplexIds"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Failed": {
            "shape": "S7",
            "locationName": "failed"
          },
          "Successful": {
            "shape": "S9",
            "locationName": "successful"
          }
        }
      }
    },
    "BatchUpdateSchedule": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          },
          "Creates": {
            "locationName": "creates",
            "type": "structure",
            "members": {
              "ScheduleActions": {
                "shape": "Sh",
                "locationName": "scheduleActions"
              }
            },
            "required": [
              "ScheduleActions"
            ]
          },
          "Deletes": {
            "locationName": "deletes",
            "type": "structure",
            "members": {
              "ActionNames": {
                "shape": "S5",
                "locationName": "actionNames"
              }
            },
            "required": [
              "ActionNames"
            ]
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Creates": {
            "locationName": "creates",
            "type": "structure",
            "members": {
              "ScheduleActions": {
                "shape": "Sh",
                "locationName": "scheduleActions"
              }
            },
            "required": [
              "ScheduleActions"
            ]
          },
          "Deletes": {
            "locationName": "deletes",
            "type": "structure",
            "members": {
              "ScheduleActions": {
                "shape": "Sh",
                "locationName": "scheduleActions"
              }
            },
            "required": [
              "ScheduleActions"
            ]
          }
        }
      }
    },
    "CancelInputDeviceTransfer": {
      "http": {
        "requestUri": "/prod/inputDevices/{inputDeviceId}/cancel",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputDeviceId": {
            "location": "uri",
            "locationName": "inputDeviceId"
          }
        },
        "required": [
          "InputDeviceId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateChannel": {
      "http": {
        "requestUri": "/prod/channels",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "CdiInputSpecification": {
            "shape": "S1x",
            "locationName": "cdiInputSpecification"
          },
          "ChannelClass": {
            "locationName": "channelClass"
          },
          "Destinations": {
            "shape": "S20",
            "locationName": "destinations"
          },
          "EncoderSettings": {
            "shape": "S28",
            "locationName": "encoderSettings"
          },
          "InputAttachments": {
            "shape": "Sbz",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "Sdh",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "RequestId": {
            "locationName": "requestId",
            "idempotencyToken": true
          },
          "Reserved": {
            "locationName": "reserved",
            "deprecated": true
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          },
          "Vpc": {
            "shape": "Sdn",
            "locationName": "vpc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channel": {
            "shape": "Sdp",
            "locationName": "channel"
          }
        }
      }
    },
    "CreateInput": {
      "http": {
        "requestUri": "/prod/inputs",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Destinations": {
            "shape": "Sdw",
            "locationName": "destinations"
          },
          "InputDevices": {
            "shape": "Sdy",
            "locationName": "inputDevices"
          },
          "InputSecurityGroups": {
            "shape": "S5",
            "locationName": "inputSecurityGroups"
          },
          "MediaConnectFlows": {
            "shape": "Se0",
            "locationName": "mediaConnectFlows"
          },
          "Name": {
            "locationName": "name"
          },
          "RequestId": {
            "locationName": "requestId",
            "idempotencyToken": true
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "Sources": {
            "shape": "Se2",
            "locationName": "sources"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          },
          "Type": {
            "locationName": "type"
          },
          "Vpc": {
            "locationName": "vpc",
            "type": "structure",
            "members": {
              "SecurityGroupIds": {
                "shape": "S5",
                "locationName": "securityGroupIds"
              },
              "SubnetIds": {
                "shape": "S5",
                "locationName": "subnetIds"
              }
            },
            "required": [
              "SubnetIds"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Input": {
            "shape": "Se7",
            "locationName": "input"
          }
        }
      }
    },
    "CreateInputSecurityGroup": {
      "http": {
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          },
          "WhitelistRules": {
            "shape": "Sej",
            "locationName": "whitelistRules"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityGroup": {
            "shape": "Sem",
            "locationName": "securityGroup"
          }
        }
      }
    },
    "CreateMultiplex": {
      "http": {
        "requestUri": "/prod/multiplexes",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "AvailabilityZones": {
            "shape": "S5",
            "locationName": "availabilityZones"
          },
          "MultiplexSettings": {
            "shape": "Ser",
            "locationName": "multiplexSettings"
          },
          "Name": {
            "locationName": "name"
          },
          "RequestId": {
            "locationName": "requestId",
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          }
        },
        "required": [
          "RequestId",
          "MultiplexSettings",
          "AvailabilityZones",
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Multiplex": {
            "shape": "Sew",
            "locationName": "multiplex"
          }
        }
      }
    },
    "CreateMultiplexProgram": {
      "http": {
        "requestUri": "/prod/multiplexes/{multiplexId}/programs",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "MultiplexId": {
            "location": "uri",
            "locationName": "multiplexId"
          },
          "MultiplexProgramSettings": {
            "shape": "Sf2",
            "locationName": "multiplexProgramSettings"
          },
          "ProgramName": {
            "locationName": "programName"
          },
          "RequestId": {
            "locationName": "requestId",
            "idempotencyToken": true
          }
        },
        "required": [
          "MultiplexId",
          "RequestId",
          "MultiplexProgramSettings",
          "ProgramName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "MultiplexProgram": {
            "shape": "Sfb",
            "locationName": "multiplexProgram"
          }
        }
      }
    },
    "CreatePartnerInput": {
      "http": {
        "requestUri": "/prod/inputs/{inputId}/partners",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "InputId": {
            "location": "uri",
            "locationName": "inputId"
          },
          "RequestId": {
            "locationName": "requestId",
            "idempotencyToken": true
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          }
        },
        "required": [
          "InputId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Input": {
            "shape": "Se7",
            "locationName": "input"
          }
        }
      }
    },
    "CreateTags": {
      "http": {
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          }
        },
        "required": [
          "ResourceArn"
        ]
      }
    },
    "DeleteChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CdiInputSpecification": {
            "shape": "S1x",
            "locationName": "cdiInputSpecification"
          },
          "ChannelClass": {
            "locationName": "channelClass"
          },
          "Destinations": {
            "shape": "S20",
            "locationName": "destinations"
          },
          "EgressEndpoints": {
            "shape": "Sdq",
            "locationName": "egressEndpoints"
          },
          "EncoderSettings": {
            "shape": "S28",
            "locationName": "encoderSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "InputAttachments": {
            "shape": "Sbz",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "Sdh",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelineDetails": {
            "shape": "Sds",
            "locationName": "pipelineDetails"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "State": {
            "locationName": "state"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          },
          "Vpc": {
            "shape": "Sdn",
            "locationName": "vpc"
          }
        }
      }
    },
    "DeleteInput": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputId": {
            "location": "uri",
            "locationName": "inputId"
          }
        },
        "required": [
          "InputId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteInputSecurityGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputSecurityGroupId": {
            "location": "uri",
            "locationName": "inputSecurityGroupId"
          }
        },
        "required": [
          "InputSecurityGroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteMultiplex": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "MultiplexId": {
            "location": "uri",
            "locationName": "multiplexId"
          }
        },
        "required": [
          "MultiplexId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "AvailabilityZones": {
            "shape": "S5",
            "locationName": "availabilityZones"
          },
          "Destinations": {
            "shape": "Sex",
            "locationName": "destinations"
          },
          "Id": {
            "locationName": "id"
          },
          "MultiplexSettings": {
            "shape": "Ser",
            "locationName": "multiplexSettings"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "ProgramCount": {
            "locationName": "programCount",
            "type": "integer"
          },
          "State": {
            "locationName": "state"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          }
        }
      }
    },
    "DeleteMultiplexProgram": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MultiplexId": {
            "location": "uri",
            "locationName": "multiplexId"
          },
          "ProgramName": {
            "location": "uri",
            "locationName": "programName"
          }
        },
        "required": [
          "MultiplexId",
          "ProgramName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "locationName": "channelId"
          },
          "MultiplexProgramSettings": {
            "shape": "Sf2",
            "locationName": "multiplexProgramSettings"
          },
          "PacketIdentifiersMap": {
            "shape": "Sfc",
            "locationName": "packetIdentifiersMap"
          },
          "PipelineDetails": {
            "shape": "Sfe",
            "locationName": "pipelineDetails"
          },
          "ProgramName": {
            "locationName": "programName"
          }
        }
      }
    },
    "DeleteReservation": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ReservationId": {
            "location": "uri",
            "locationName": "reservationId"
          }
        },
        "required": [
          "ReservationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Count": {
            "locationName": "count",
            "type": "integer"
          },
          "CurrencyCode": {
            "locationName": "currencyCode"
          },
          "Duration": {
            "locationName": "duration",
            "type": "integer"
          },
          "DurationUnits": {
            "locationName": "durationUnits"
          },
          "End": {
            "locationName": "end"
          },
          "FixedPrice": {
            "locationName": "fixedPrice",
            "type": "double"
          },
          "Name": {
            "locationName": "name"
          },
          "OfferingDescription": {
            "locationName": "offeringDescription"
          },
          "OfferingId": {
            "locationName": "offeringId"
          },
          "OfferingType": {
            "locationName": "offeringType"
          },
          "Region": {
            "locationName": "region"
          },
          "ReservationId": {
            "locationName": "reservationId"
          },
          "ResourceSpecification": {
            "shape": "Sfx",
            "locationName": "resourceSpecification"
          },
          "Start": {
            "locationName": "start"
          },
          "State": {
            "locationName": "state"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          },
          "UsagePrice": {
            "locationName": "usagePrice",
            "type": "double"
          }
        }
      }
    },
    "DeleteSchedule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTags": {
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          },
          "TagKeys": {
            "shape": "S5",
            "location": "querystring",
            "locationName": "tagKeys"
          }
        },
        "required": [
          "TagKeys",
          "ResourceArn"
        ]
      }
    },
    "DescribeChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CdiInputSpecification": {
            "shape": "S1x",
            "locationName": "cdiInputSpecification"
          },
          "ChannelClass": {
            "locationName": "channelClass"
          },
          "Destinations": {
            "shape": "S20",
            "locationName": "destinations"
          },
          "EgressEndpoints": {
            "shape": "Sdq",
            "locationName": "egressEndpoints"
          },
          "EncoderSettings": {
            "shape": "S28",
            "locationName": "encoderSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "InputAttachments": {
            "shape": "Sbz",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "Sdh",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelineDetails": {
            "shape": "Sds",
            "locationName": "pipelineDetails"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "State": {
            "locationName": "state"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          },
          "Vpc": {
            "shape": "Sdn",
            "locationName": "vpc"
          }
        }
      }
    },
    "DescribeInput": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputId": {
            "location": "uri",
            "locationName": "inputId"
          }
        },
        "required": [
          "InputId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "AttachedChannels": {
            "shape": "S5",
            "locationName": "attachedChannels"
          },
          "Destinations": {
            "shape": "Se8",
            "locationName": "destinations"
          },
          "Id": {
            "locationName": "id"
          },
          "InputClass": {
            "locationName": "inputClass"
          },
          "InputDevices": {
            "shape": "Sdy",
            "locationName": "inputDevices"
          },
          "InputPartnerIds": {
            "shape": "S5",
            "locationName": "inputPartnerIds"
          },
          "InputSourceType": {
            "locationName": "inputSourceType"
          },
          "MediaConnectFlows": {
            "shape": "Sed",
            "locationName": "mediaConnectFlows"
          },
          "Name": {
            "locationName": "name"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "SecurityGroups": {
            "shape": "S5",
            "locationName": "securityGroups"
          },
          "Sources": {
            "shape": "Sef",
            "locationName": "sources"
          },
          "State": {
            "locationName": "state"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          },
          "Type": {
            "locationName": "type"
          }
        }
      }
    },
    "DescribeInputDevice": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices/{inputDeviceId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputDeviceId": {
            "location": "uri",
            "locationName": "inputDeviceId"
          }
        },
        "required": [
          "InputDeviceId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "ConnectionState": {
            "locationName": "connectionState"
          },
          "DeviceSettingsSyncState": {
            "locationName": "deviceSettingsSyncState"
          },
          "DeviceUpdateStatus": {
            "locationName": "deviceUpdateStatus"
          },
          "HdDeviceSettings": {
            "shape": "Sgi",
            "locationName": "hdDeviceSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "MacAddress": {
            "locationName": "macAddress"
          },
          "Name": {
            "locationName": "name"
          },
          "NetworkSettings": {
            "shape": "Sgn",
            "locationName": "networkSettings"
          },
          "SerialNumber": {
            "locationName": "serialNumber"
          },
          "Type": {
            "locationName": "type"
          },
          "UhdDeviceSettings": {
            "shape": "Sgq",
            "locationName": "uhdDeviceSettings"
          }
        }
      }
    },
    "DescribeInputDeviceThumbnail": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/thumbnailData",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputDeviceId": {
            "location": "uri",
            "locationName": "inputDeviceId"
          },
          "Accept": {
            "location": "header",
            "locationName": "accept"
          }
        },
        "required": [
          "InputDeviceId",
          "Accept"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Body": {
            "locationName": "body",
            "type": "blob",
            "streaming": true
          },
          "ContentType": {
            "location": "header",
            "locationName": "Content-Type"
          },
          "ContentLength": {
            "location": "header",
            "locationName": "Content-Length",
            "type": "long"
          },
          "ETag": {
            "location": "header",
            "locationName": "ETag"
          },
          "LastModified": {
            "location": "header",
            "locationName": "Last-Modified",
            "type": "timestamp"
          }
        },
        "payload": "Body"
      }
    },
    "DescribeInputSecurityGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputSecurityGroupId": {
            "location": "uri",
            "locationName": "inputSecurityGroupId"
          }
        },
        "required": [
          "InputSecurityGroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Id": {
            "locationName": "id"
          },
          "Inputs": {
            "shape": "S5",
            "locationName": "inputs"
          },
          "State": {
            "locationName": "state"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          },
          "WhitelistRules": {
            "shape": "Seo",
            "locationName": "whitelistRules"
          }
        }
      }
    },
    "DescribeMultiplex": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MultiplexId": {
            "location": "uri",
            "locationName": "multiplexId"
          }
        },
        "required": [
          "MultiplexId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "AvailabilityZones": {
            "shape": "S5",
            "locationName": "availabilityZones"
          },
          "Destinations": {
            "shape": "Sex",
            "locationName": "destinations"
          },
          "Id": {
            "locationName": "id"
          },
          "MultiplexSettings": {
            "shape": "Ser",
            "locationName": "multiplexSettings"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "ProgramCount": {
            "locationName": "programCount",
            "type": "integer"
          },
          "State": {
            "locationName": "state"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          }
        }
      }
    },
    "DescribeMultiplexProgram": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MultiplexId": {
            "location": "uri",
            "locationName": "multiplexId"
          },
          "ProgramName": {
            "location": "uri",
            "locationName": "programName"
          }
        },
        "required": [
          "MultiplexId",
          "ProgramName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "locationName": "channelId"
          },
          "MultiplexProgramSettings": {
            "shape": "Sf2",
            "locationName": "multiplexProgramSettings"
          },
          "PacketIdentifiersMap": {
            "shape": "Sfc",
            "locationName": "packetIdentifiersMap"
          },
          "PipelineDetails": {
            "shape": "Sfe",
            "locationName": "pipelineDetails"
          },
          "ProgramName": {
            "locationName": "programName"
          }
        }
      }
    },
    "DescribeOffering": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings/{offeringId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "OfferingId": {
            "location": "uri",
            "locationName": "offeringId"
          }
        },
        "required": [
          "OfferingId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CurrencyCode": {
            "locationName": "currencyCode"
          },
          "Duration": {
            "locationName": "duration",
            "type": "integer"
          },
          "DurationUnits": {
            "locationName": "durationUnits"
          },
          "FixedPrice": {
            "locationName": "fixedPrice",
            "type": "double"
          },
          "OfferingDescription": {
            "locationName": "offeringDescription"
          },
          "OfferingId": {
            "locationName": "offeringId"
          },
          "OfferingType": {
            "locationName": "offeringType"
          },
          "Region": {
            "locationName": "region"
          },
          "ResourceSpecification": {
            "shape": "Sfx",
            "locationName": "resourceSpecification"
          },
          "UsagePrice": {
            "locationName": "usagePrice",
            "type": "double"
          }
        }
      }
    },
    "DescribeReservation": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ReservationId": {
            "location": "uri",
            "locationName": "reservationId"
          }
        },
        "required": [
          "ReservationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Count": {
            "locationName": "count",
            "type": "integer"
          },
          "CurrencyCode": {
            "locationName": "currencyCode"
          },
          "Duration": {
            "locationName": "duration",
            "type": "integer"
          },
          "DurationUnits": {
            "locationName": "durationUnits"
          },
          "End": {
            "locationName": "end"
          },
          "FixedPrice": {
            "locationName": "fixedPrice",
            "type": "double"
          },
          "Name": {
            "locationName": "name"
          },
          "OfferingDescription": {
            "locationName": "offeringDescription"
          },
          "OfferingId": {
            "locationName": "offeringId"
          },
          "OfferingType": {
            "locationName": "offeringType"
          },
          "Region": {
            "locationName": "region"
          },
          "ReservationId": {
            "locationName": "reservationId"
          },
          "ResourceSpecification": {
            "shape": "Sfx",
            "locationName": "resourceSpecification"
          },
          "Start": {
            "locationName": "start"
          },
          "State": {
            "locationName": "state"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          },
          "UsagePrice": {
            "locationName": "usagePrice",
            "type": "double"
          }
        }
      }
    },
    "DescribeSchedule": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "ScheduleActions": {
            "shape": "Sh",
            "locationName": "scheduleActions"
          }
        }
      }
    },
    "ListChannels": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Channels": {
            "locationName": "channels",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "CdiInputSpecification": {
                  "shape": "S1x",
                  "locationName": "cdiInputSpecification"
                },
                "ChannelClass": {
                  "locationName": "channelClass"
                },
                "Destinations": {
                  "shape": "S20",
                  "locationName": "destinations"
                },
                "EgressEndpoints": {
                  "shape": "Sdq",
                  "locationName": "egressEndpoints"
                },
                "Id": {
                  "locationName": "id"
                },
                "InputAttachments": {
                  "shape": "Sbz",
                  "locationName": "inputAttachments"
                },
                "InputSpecification": {
                  "shape": "Sdh",
                  "locationName": "inputSpecification"
                },
                "LogLevel": {
                  "locationName": "logLevel"
                },
                "Name": {
                  "locationName": "name"
                },
                "PipelinesRunningCount": {
                  "locationName": "pipelinesRunningCount",
                  "type": "integer"
                },
                "RoleArn": {
                  "locationName": "roleArn"
                },
                "State": {
                  "locationName": "state"
                },
                "Tags": {
                  "shape": "Sdm",
                  "locationName": "tags"
                },
                "Vpc": {
                  "shape": "Sdn",
                  "locationName": "vpc"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListInputDeviceTransfers": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDeviceTransfers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "TransferType": {
            "location": "querystring",
            "locationName": "transferType"
          }
        },
        "required": [
          "TransferType"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "InputDeviceTransfers": {
            "locationName": "inputDeviceTransfers",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "locationName": "id"
                },
                "Message": {
                  "locationName": "message"
                },
                "TargetCustomerId": {
                  "locationName": "targetCustomerId"
                },
                "TransferType": {
                  "locationName": "transferType"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListInputDevices": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InputDevices": {
            "locationName": "inputDevices",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "ConnectionState": {
                  "locationName": "connectionState"
                },
                "DeviceSettingsSyncState": {
                  "locationName": "deviceSettingsSyncState"
                },
                "DeviceUpdateStatus": {
                  "locationName": "deviceUpdateStatus"
                },
                "HdDeviceSettings": {
                  "shape": "Sgi",
                  "locationName": "hdDeviceSettings"
                },
                "Id": {
                  "locationName": "id"
                },
                "MacAddress": {
                  "locationName": "macAddress"
                },
                "Name": {
                  "locationName": "name"
                },
                "NetworkSettings": {
                  "shape": "Sgn",
                  "locationName": "networkSettings"
                },
                "SerialNumber": {
                  "locationName": "serialNumber"
                },
                "Type": {
                  "locationName": "type"
                },
                "UhdDeviceSettings": {
                  "shape": "Sgq",
                  "locationName": "uhdDeviceSettings"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListInputSecurityGroups": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InputSecurityGroups": {
            "locationName": "inputSecurityGroups",
            "type": "list",
            "member": {
              "shape": "Sem"
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListInputs": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Inputs": {
            "locationName": "inputs",
            "type": "list",
            "member": {
              "shape": "Se7"
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListMultiplexPrograms": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "MultiplexId": {
            "location": "uri",
            "locationName": "multiplexId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "MultiplexId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "MultiplexPrograms": {
            "locationName": "multiplexPrograms",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ChannelId": {
                  "locationName": "channelId"
                },
                "ProgramName": {
                  "locationName": "programName"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListMultiplexes": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Multiplexes": {
            "locationName": "multiplexes",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "AvailabilityZones": {
                  "shape": "S5",
                  "locationName": "availabilityZones"
                },
                "Id": {
                  "locationName": "id"
                },
                "MultiplexSettings": {
                  "locationName": "multiplexSettings",
                  "type": "structure",
                  "members": {
                    "TransportStreamBitrate": {
                      "locationName": "transportStreamBitrate",
                      "type": "integer"
                    }
                  }
                },
                "Name": {
                  "locationName": "name"
                },
                "PipelinesRunningCount": {
                  "locationName": "pipelinesRunningCount",
                  "type": "integer"
                },
                "ProgramCount": {
                  "locationName": "programCount",
                  "type": "integer"
                },
                "State": {
                  "locationName": "state"
                },
                "Tags": {
                  "shape": "Sdm",
                  "locationName": "tags"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListOfferings": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelClass": {
            "location": "querystring",
            "locationName": "channelClass"
          },
          "ChannelConfiguration": {
            "location": "querystring",
            "locationName": "channelConfiguration"
          },
          "Codec": {
            "location": "querystring",
            "locationName": "codec"
          },
          "Duration": {
            "location": "querystring",
            "locationName": "duration"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "MaximumBitrate": {
            "location": "querystring",
            "locationName": "maximumBitrate"
          },
          "MaximumFramerate": {
            "location": "querystring",
            "locationName": "maximumFramerate"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "Resolution": {
            "location": "querystring",
            "locationName": "resolution"
          },
          "ResourceType": {
            "location": "querystring",
            "locationName": "resourceType"
          },
          "SpecialFeature": {
            "location": "querystring",
            "locationName": "specialFeature"
          },
          "VideoQuality": {
            "location": "querystring",
            "locationName": "videoQuality"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "Offerings": {
            "locationName": "offerings",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "CurrencyCode": {
                  "locationName": "currencyCode"
                },
                "Duration": {
                  "locationName": "duration",
                  "type": "integer"
                },
                "DurationUnits": {
                  "locationName": "durationUnits"
                },
                "FixedPrice": {
                  "locationName": "fixedPrice",
                  "type": "double"
                },
                "OfferingDescription": {
                  "locationName": "offeringDescription"
                },
                "OfferingId": {
                  "locationName": "offeringId"
                },
                "OfferingType": {
                  "locationName": "offeringType"
                },
                "Region": {
                  "locationName": "region"
                },
                "ResourceSpecification": {
                  "shape": "Sfx",
                  "locationName": "resourceSpecification"
                },
                "UsagePrice": {
                  "locationName": "usagePrice",
                  "type": "double"
                }
              }
            }
          }
        }
      }
    },
    "ListReservations": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelClass": {
            "location": "querystring",
            "locationName": "channelClass"
          },
          "Codec": {
            "location": "querystring",
            "locationName": "codec"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "MaximumBitrate": {
            "location": "querystring",
            "locationName": "maximumBitrate"
          },
          "MaximumFramerate": {
            "location": "querystring",
            "locationName": "maximumFramerate"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "Resolution": {
            "location": "querystring",
            "locationName": "resolution"
          },
          "ResourceType": {
            "location": "querystring",
            "locationName": "resourceType"
          },
          "SpecialFeature": {
            "location": "querystring",
            "locationName": "specialFeature"
          },
          "VideoQuality": {
            "location": "querystring",
            "locationName": "videoQuality"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "Reservations": {
            "locationName": "reservations",
            "type": "list",
            "member": {
              "shape": "Sia"
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          }
        },
        "required": [
          "ResourceArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          }
        }
      }
    },
    "PurchaseOffering": {
      "http": {
        "requestUri": "/prod/offerings/{offeringId}/purchase",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Count": {
            "locationName": "count",
            "type": "integer"
          },
          "Name": {
            "locationName": "name"
          },
          "OfferingId": {
            "location": "uri",
            "locationName": "offeringId"
          },
          "RequestId": {
            "locationName": "requestId",
            "idempotencyToken": true
          },
          "Start": {
            "locationName": "start"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          }
        },
        "required": [
          "OfferingId",
          "Count"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Reservation": {
            "shape": "Sia",
            "locationName": "reservation"
          }
        }
      }
    },
    "RejectInputDeviceTransfer": {
      "http": {
        "requestUri": "/prod/inputDevices/{inputDeviceId}/reject",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputDeviceId": {
            "location": "uri",
            "locationName": "inputDeviceId"
          }
        },
        "required": [
          "InputDeviceId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartChannel": {
      "http": {
        "requestUri": "/prod/channels/{channelId}/start",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CdiInputSpecification": {
            "shape": "S1x",
            "locationName": "cdiInputSpecification"
          },
          "ChannelClass": {
            "locationName": "channelClass"
          },
          "Destinations": {
            "shape": "S20",
            "locationName": "destinations"
          },
          "EgressEndpoints": {
            "shape": "Sdq",
            "locationName": "egressEndpoints"
          },
          "EncoderSettings": {
            "shape": "S28",
            "locationName": "encoderSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "InputAttachments": {
            "shape": "Sbz",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "Sdh",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelineDetails": {
            "shape": "Sds",
            "locationName": "pipelineDetails"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "State": {
            "locationName": "state"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          },
          "Vpc": {
            "shape": "Sdn",
            "locationName": "vpc"
          }
        }
      }
    },
    "StartMultiplex": {
      "http": {
        "requestUri": "/prod/multiplexes/{multiplexId}/start",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "MultiplexId": {
            "location": "uri",
            "locationName": "multiplexId"
          }
        },
        "required": [
          "MultiplexId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "AvailabilityZones": {
            "shape": "S5",
            "locationName": "availabilityZones"
          },
          "Destinations": {
            "shape": "Sex",
            "locationName": "destinations"
          },
          "Id": {
            "locationName": "id"
          },
          "MultiplexSettings": {
            "shape": "Ser",
            "locationName": "multiplexSettings"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "ProgramCount": {
            "locationName": "programCount",
            "type": "integer"
          },
          "State": {
            "locationName": "state"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          }
        }
      }
    },
    "StopChannel": {
      "http": {
        "requestUri": "/prod/channels/{channelId}/stop",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "CdiInputSpecification": {
            "shape": "S1x",
            "locationName": "cdiInputSpecification"
          },
          "ChannelClass": {
            "locationName": "channelClass"
          },
          "Destinations": {
            "shape": "S20",
            "locationName": "destinations"
          },
          "EgressEndpoints": {
            "shape": "Sdq",
            "locationName": "egressEndpoints"
          },
          "EncoderSettings": {
            "shape": "S28",
            "locationName": "encoderSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "InputAttachments": {
            "shape": "Sbz",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "Sdh",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelineDetails": {
            "shape": "Sds",
            "locationName": "pipelineDetails"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "State": {
            "locationName": "state"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          },
          "Vpc": {
            "shape": "Sdn",
            "locationName": "vpc"
          }
        }
      }
    },
    "StopMultiplex": {
      "http": {
        "requestUri": "/prod/multiplexes/{multiplexId}/stop",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "MultiplexId": {
            "location": "uri",
            "locationName": "multiplexId"
          }
        },
        "required": [
          "MultiplexId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "AvailabilityZones": {
            "shape": "S5",
            "locationName": "availabilityZones"
          },
          "Destinations": {
            "shape": "Sex",
            "locationName": "destinations"
          },
          "Id": {
            "locationName": "id"
          },
          "MultiplexSettings": {
            "shape": "Ser",
            "locationName": "multiplexSettings"
          },
          "Name": {
            "locationName": "name"
          },
          "PipelinesRunningCount": {
            "locationName": "pipelinesRunningCount",
            "type": "integer"
          },
          "ProgramCount": {
            "locationName": "programCount",
            "type": "integer"
          },
          "State": {
            "locationName": "state"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          }
        }
      }
    },
    "TransferInputDevice": {
      "http": {
        "requestUri": "/prod/inputDevices/{inputDeviceId}/transfer",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputDeviceId": {
            "location": "uri",
            "locationName": "inputDeviceId"
          },
          "TargetCustomerId": {
            "locationName": "targetCustomerId"
          },
          "TargetRegion": {
            "locationName": "targetRegion"
          },
          "TransferMessage": {
            "locationName": "transferMessage"
          }
        },
        "required": [
          "InputDeviceId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "CdiInputSpecification": {
            "shape": "S1x",
            "locationName": "cdiInputSpecification"
          },
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          },
          "Destinations": {
            "shape": "S20",
            "locationName": "destinations"
          },
          "EncoderSettings": {
            "shape": "S28",
            "locationName": "encoderSettings"
          },
          "InputAttachments": {
            "shape": "Sbz",
            "locationName": "inputAttachments"
          },
          "InputSpecification": {
            "shape": "Sdh",
            "locationName": "inputSpecification"
          },
          "LogLevel": {
            "locationName": "logLevel"
          },
          "Name": {
            "locationName": "name"
          },
          "RoleArn": {
            "locationName": "roleArn"
          }
        },
        "required": [
          "ChannelId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Channel": {
            "shape": "Sdp",
            "locationName": "channel"
          }
        }
      }
    },
    "UpdateChannelClass": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/channelClass",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ChannelClass": {
            "locationName": "channelClass"
          },
          "ChannelId": {
            "location": "uri",
            "locationName": "channelId"
          },
          "Destinations": {
            "shape": "S20",
            "locationName": "destinations"
          }
        },
        "required": [
          "ChannelId",
          "ChannelClass"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Channel": {
            "shape": "Sdp",
            "locationName": "channel"
          }
        }
      }
    },
    "UpdateInput": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Destinations": {
            "shape": "Sdw",
            "locationName": "destinations"
          },
          "InputDevices": {
            "locationName": "inputDevices",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "locationName": "id"
                }
              }
            }
          },
          "InputId": {
            "location": "uri",
            "locationName": "inputId"
          },
          "InputSecurityGroups": {
            "shape": "S5",
            "locationName": "inputSecurityGroups"
          },
          "MediaConnectFlows": {
            "shape": "Se0",
            "locationName": "mediaConnectFlows"
          },
          "Name": {
            "locationName": "name"
          },
          "RoleArn": {
            "locationName": "roleArn"
          },
          "Sources": {
            "shape": "Se2",
            "locationName": "sources"
          }
        },
        "required": [
          "InputId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Input": {
            "shape": "Se7",
            "locationName": "input"
          }
        }
      }
    },
    "UpdateInputDevice": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputDevices/{inputDeviceId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "HdDeviceSettings": {
            "shape": "Sj0",
            "locationName": "hdDeviceSettings"
          },
          "InputDeviceId": {
            "location": "uri",
            "locationName": "inputDeviceId"
          },
          "Name": {
            "locationName": "name"
          },
          "UhdDeviceSettings": {
            "shape": "Sj0",
            "locationName": "uhdDeviceSettings"
          }
        },
        "required": [
          "InputDeviceId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "ConnectionState": {
            "locationName": "connectionState"
          },
          "DeviceSettingsSyncState": {
            "locationName": "deviceSettingsSyncState"
          },
          "DeviceUpdateStatus": {
            "locationName": "deviceUpdateStatus"
          },
          "HdDeviceSettings": {
            "shape": "Sgi",
            "locationName": "hdDeviceSettings"
          },
          "Id": {
            "locationName": "id"
          },
          "MacAddress": {
            "locationName": "macAddress"
          },
          "Name": {
            "locationName": "name"
          },
          "NetworkSettings": {
            "shape": "Sgn",
            "locationName": "networkSettings"
          },
          "SerialNumber": {
            "locationName": "serialNumber"
          },
          "Type": {
            "locationName": "type"
          },
          "UhdDeviceSettings": {
            "shape": "Sgq",
            "locationName": "uhdDeviceSettings"
          }
        }
      }
    },
    "UpdateInputSecurityGroup": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "InputSecurityGroupId": {
            "location": "uri",
            "locationName": "inputSecurityGroupId"
          },
          "Tags": {
            "shape": "Sdm",
            "locationName": "tags"
          },
          "WhitelistRules": {
            "shape": "Sej",
            "locationName": "whitelistRules"
          }
        },
        "required": [
          "InputSecurityGroupId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SecurityGroup": {
            "shape": "Sem",
            "locationName": "securityGroup"
          }
        }
      }
    },
    "UpdateMultiplex": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MultiplexId": {
            "location": "uri",
            "locationName": "multiplexId"
          },
          "MultiplexSettings": {
            "shape": "Ser",
            "locationName": "multiplexSettings"
          },
          "Name": {
            "locationName": "name"
          }
        },
        "required": [
          "MultiplexId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Multiplex": {
            "shape": "Sew",
            "locationName": "multiplex"
          }
        }
      }
    },
    "UpdateMultiplexProgram": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MultiplexId": {
            "location": "uri",
            "locationName": "multiplexId"
          },
          "MultiplexProgramSettings": {
            "shape": "Sf2",
            "locationName": "multiplexProgramSettings"
          },
          "ProgramName": {
            "location": "uri",
            "locationName": "programName"
          }
        },
        "required": [
          "MultiplexId",
          "ProgramName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "MultiplexProgram": {
            "shape": "Sfb",
            "locationName": "multiplexProgram"
          }
        }
      }
    },
    "UpdateReservation": {
      "http": {
        "method": "PUT",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name"
          },
          "ReservationId": {
            "location": "uri",
            "locationName": "reservationId"
          }
        },
        "required": [
          "ReservationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Reservation": {
            "shape": "Sia",
            "locationName": "reservation"
          }
        }
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "list",
      "member": {}
    },
    "S7": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Code": {
            "locationName": "code"
          },
          "Id": {
            "locationName": "id"
          },
          "Message": {
            "locationName": "message"
          }
        }
      }
    },
    "S9": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Id": {
            "locationName": "id"
          },
          "State": {
            "locationName": "state"
          }
        }
      }
    },
    "Sh": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ActionName": {
            "locationName": "actionName"
          },
          "ScheduleActionSettings": {
            "locationName": "scheduleActionSettings",
            "type": "structure",
            "members": {
              "HlsId3SegmentTaggingSettings": {
                "locationName": "hlsId3SegmentTaggingSettings",
                "type": "structure",
                "members": {
                  "Tag": {
                    "locationName": "tag"
                  }
                },
                "required": [
                  "Tag"
                ]
              },
              "HlsTimedMetadataSettings": {
                "locationName": "hlsTimedMetadataSettings",
                "type": "structure",
                "members": {
                  "Id3": {
                    "locationName": "id3"
                  }
                },
                "required": [
                  "Id3"
                ]
              },
              "InputPrepareSettings": {
                "locationName": "inputPrepareSettings",
                "type": "structure",
                "members": {
                  "InputAttachmentNameReference": {
                    "locationName": "inputAttachmentNameReference"
                  },
                  "InputClippingSettings": {
                    "shape": "Sn",
                    "locationName": "inputClippingSettings"
                  },
                  "UrlPath": {
                    "shape": "S5",
                    "locationName": "urlPath"
                  }
                }
              },
              "InputSwitchSettings": {
                "locationName": "inputSwitchSettings",
                "type": "structure",
                "members": {
                  "InputAttachmentNameReference": {
                    "locationName": "inputAttachmentNameReference"
                  },
                  "InputClippingSettings": {
                    "shape": "Sn",
                    "locationName": "inputClippingSettings"
                  },
                  "UrlPath": {
                    "shape": "S5",
                    "locationName": "urlPath"
                  }
                },
                "required": [
                  "InputAttachmentNameReference"
                ]
              },
              "PauseStateSettings": {
                "locationName": "pauseStateSettings",
                "type": "structure",
                "members": {
                  "Pipelines": {
                    "locationName": "pipelines",
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "PipelineId": {
                          "locationName": "pipelineId"
                        }
                      },
                      "required": [
                        "PipelineId"
                      ]
                    }
                  }
                }
              },
              "Scte35ReturnToNetworkSettings": {
                "locationName": "scte35ReturnToNetworkSettings",
                "type": "structure",
                "members": {
                  "SpliceEventId": {
                    "locationName": "spliceEventId",
                    "type": "long"
                  }
                },
                "required": [
                  "SpliceEventId"
                ]
              },
              "Scte35SpliceInsertSettings": {
                "locationName": "scte35SpliceInsertSettings",
                "type": "structure",
                "members": {
                  "Duration": {
                    "locationName": "duration",
                    "type": "long"
                  },
                  "SpliceEventId": {
                    "locationName": "spliceEventId",
                    "type": "long"
                  }
                },
                "required": [
                  "SpliceEventId"
                ]
              },
              "Scte35TimeSignalSettings": {
                "locationName": "scte35TimeSignalSettings",
                "type": "structure",
                "members": {
                  "Scte35Descriptors": {
                    "locationName": "scte35Descriptors",
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "Scte35DescriptorSettings": {
                          "locationName": "scte35DescriptorSettings",
                          "type": "structure",
                          "members": {
                            "SegmentationDescriptorScte35DescriptorSettings": {
                              "locationName": "segmentationDescriptorScte35DescriptorSettings",
                              "type": "structure",
                              "members": {
                                "DeliveryRestrictions": {
                                  "locationName": "deliveryRestrictions",
                                  "type": "structure",
                                  "members": {
                                    "ArchiveAllowedFlag": {
                                      "locationName": "archiveAllowedFlag"
                                    },
                                    "DeviceRestrictions": {
                                      "locationName": "deviceRestrictions"
                                    },
                                    "NoRegionalBlackoutFlag": {
                                      "locationName": "noRegionalBlackoutFlag"
                                    },
                                    "WebDeliveryAllowedFlag": {
                                      "locationName": "webDeliveryAllowedFlag"
                                    }
                                  },
                                  "required": [
                                    "DeviceRestrictions",
                                    "ArchiveAllowedFlag",
                                    "WebDeliveryAllowedFlag",
                                    "NoRegionalBlackoutFlag"
                                  ]
                                },
                                "SegmentNum": {
                                  "locationName": "segmentNum",
                                  "type": "integer"
                                },
                                "SegmentationCancelIndicator": {
                                  "locationName": "segmentationCancelIndicator"
                                },
                                "SegmentationDuration": {
                                  "locationName": "segmentationDuration",
                                  "type": "long"
                                },
                                "SegmentationEventId": {
                                  "locationName": "segmentationEventId",
                                  "type": "long"
                                },
                                "SegmentationTypeId": {
                                  "locationName": "segmentationTypeId",
                                  "type": "integer"
                                },
                                "SegmentationUpid": {
                                  "locationName": "segmentationUpid"
                                },
                                "SegmentationUpidType": {
                                  "locationName": "segmentationUpidType",
                                  "type": "integer"
                                },
                                "SegmentsExpected": {
                                  "locationName": "segmentsExpected",
                                  "type": "integer"
                                },
                                "SubSegmentNum": {
                                  "locationName": "subSegmentNum",
                                  "type": "integer"
                                },
                                "SubSegmentsExpected": {
                                  "locationName": "subSegmentsExpected",
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "SegmentationEventId",
                                "SegmentationCancelIndicator"
                              ]
                            }
                          },
                          "required": [
                            "SegmentationDescriptorScte35DescriptorSettings"
                          ]
                        }
                      },
                      "required": [
                        "Scte35DescriptorSettings"
                      ]
                    }
                  }
                },
                "required": [
                  "Scte35Descriptors"
                ]
              },
              "StaticImageActivateSettings": {
                "locationName": "staticImageActivateSettings",
                "type": "structure",
                "members": {
                  "Duration": {
                    "locationName": "duration",
                    "type": "integer"
                  },
                  "FadeIn": {
                    "locationName": "fadeIn",
                    "type": "integer"
                  },
                  "FadeOut": {
                    "locationName": "fadeOut",
                    "type": "integer"
                  },
                  "Height": {
                    "locationName": "height",
                    "type": "integer"
                  },
                  "Image": {
                    "shape": "S1h",
                    "locationName": "image"
                  },
                  "ImageX": {
                    "locationName": "imageX",
                    "type": "integer"
                  },
                  "ImageY": {
                    "locationName": "imageY",
                    "type": "integer"
                  },
                  "Layer": {
                    "locationName": "layer",
                    "type": "integer"
                  },
                  "Opacity": {
                    "locationName": "opacity",
                    "type": "integer"
                  },
                  "Width": {
                    "locationName": "width",
                    "type": "integer"
                  }
                },
                "required": [
                  "Image"
                ]
              },
              "StaticImageDeactivateSettings": {
                "locationName": "staticImageDeactivateSettings",
                "type": "structure",
                "members": {
                  "FadeOut": {
                    "locationName": "fadeOut",
                    "type": "integer"
                  },
                  "Layer": {
                    "locationName": "layer",
                    "type": "integer"
                  }
                }
              }
            }
          },
          "ScheduleActionStartSettings": {
            "locationName": "scheduleActionStartSettings",
            "type": "structure",
            "members": {
              "FixedModeScheduleActionStartSettings": {
                "locationName": "fixedModeScheduleActionStartSettings",
                "type": "structure",
                "members": {
                  "Time": {
                    "locationName": "time"
                  }
                },
                "required": [
                  "Time"
                ]
              },
              "FollowModeScheduleActionStartSettings": {
                "locationName": "followModeScheduleActionStartSettings",
                "type": "structure",
                "members": {
                  "FollowPoint": {
                    "locationName": "followPoint"
                  },
                  "ReferenceActionName": {
                    "locationName": "referenceActionName"
                  }
                },
                "required": [
                  "ReferenceActionName",
                  "FollowPoint"
                ]
              },
              "ImmediateModeScheduleActionStartSettings": {
                "locationName": "immediateModeScheduleActionStartSettings",
                "type": "structure",
                "members": {}
              }
            }
          }
        },
        "required": [
          "ActionName",
          "ScheduleActionStartSettings",
          "ScheduleActionSettings"
        ]
      }
    },
    "Sn": {
      "type": "structure",
      "members": {
        "InputTimecodeSource": {
          "locationName": "inputTimecodeSource"
        },
        "StartTimecode": {
          "locationName": "startTimecode",
          "type": "structure",
          "members": {
            "Timecode": {
              "locationName": "timecode"
            }
          }
        },
        "StopTimecode": {
          "locationName": "stopTimecode",
          "type": "structure",
          "members": {
            "LastFrameClippingBehavior": {
              "locationName": "lastFrameClippingBehavior"
            },
            "Timecode": {
              "locationName": "timecode"
            }
          }
        }
      },
      "required": [
        "InputTimecodeSource"
      ]
    },
    "S1h": {
      "type": "structure",
      "members": {
        "PasswordParam": {
          "locationName": "passwordParam"
        },
        "Uri": {
          "locationName": "uri"
        },
        "Username": {
          "locationName": "username"
        }
      },
      "required": [
        "Uri"
      ]
    },
    "S1x": {
      "type": "structure",
      "members": {
        "Resolution": {
          "locationName": "resolution"
        }
      }
    },
    "S20": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Id": {
            "locationName": "id"
          },
          "MediaPackageSettings": {
            "locationName": "mediaPackageSettings",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ChannelId": {
                  "locationName": "channelId"
                }
              }
            }
          },
          "MultiplexSettings": {
            "locationName": "multiplexSettings",
            "type": "structure",
            "members": {
              "MultiplexId": {
                "locationName": "multiplexId"
              },
              "ProgramName": {
                "locationName": "programName"
              }
            }
          },
          "Settings": {
            "locationName": "settings",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PasswordParam": {
                  "locationName": "passwordParam"
                },
                "StreamName": {
                  "locationName": "streamName"
                },
                "Url": {
                  "locationName": "url"
                },
                "Username": {
                  "locationName": "username"
                }
              }
            }
          }
        }
      }
    },
    "S28": {
      "type": "structure",
      "members": {
        "AudioDescriptions": {
          "locationName": "audioDescriptions",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "AudioNormalizationSettings": {
                "locationName": "audioNormalizationSettings",
                "type": "structure",
                "members": {
                  "Algorithm": {
                    "locationName": "algorithm"
                  },
                  "AlgorithmControl": {
                    "locationName": "algorithmControl"
                  },
                  "TargetLkfs": {
                    "locationName": "targetLkfs",
                    "type": "double"
                  }
                }
              },
              "AudioSelectorName": {
                "locationName": "audioSelectorName"
              },
              "AudioType": {
                "locationName": "audioType"
              },
              "AudioTypeControl": {
                "locationName": "audioTypeControl"
              },
              "CodecSettings": {
                "locationName": "codecSettings",
                "type": "structure",
                "members": {
                  "AacSettings": {
                    "locationName": "aacSettings",
                    "type": "structure",
                    "members": {
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "double"
                      },
                      "CodingMode": {
                        "locationName": "codingMode"
                      },
                      "InputType": {
                        "locationName": "inputType"
                      },
                      "Profile": {
                        "locationName": "profile"
                      },
                      "RateControlMode": {
                        "locationName": "rateControlMode"
                      },
                      "RawFormat": {
                        "locationName": "rawFormat"
                      },
                      "SampleRate": {
                        "locationName": "sampleRate",
                        "type": "double"
                      },
                      "Spec": {
                        "locationName": "spec"
                      },
                      "VbrQuality": {
                        "locationName": "vbrQuality"
                      }
                    }
                  },
                  "Ac3Settings": {
                    "locationName": "ac3Settings",
                    "type": "structure",
                    "members": {
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "double"
                      },
                      "BitstreamMode": {
                        "locationName": "bitstreamMode"
                      },
                      "CodingMode": {
                        "locationName": "codingMode"
                      },
                      "Dialnorm": {
                        "locationName": "dialnorm",
                        "type": "integer"
                      },
                      "DrcProfile": {
                        "locationName": "drcProfile"
                      },
                      "LfeFilter": {
                        "locationName": "lfeFilter"
                      },
                      "MetadataControl": {
                        "locationName": "metadataControl"
                      }
                    }
                  },
                  "Eac3Settings": {
                    "locationName": "eac3Settings",
                    "type": "structure",
                    "members": {
                      "AttenuationControl": {
                        "locationName": "attenuationControl"
                      },
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "double"
                      },
                      "BitstreamMode": {
                        "locationName": "bitstreamMode"
                      },
                      "CodingMode": {
                        "locationName": "codingMode"
                      },
                      "DcFilter": {
                        "locationName": "dcFilter"
                      },
                      "Dialnorm": {
                        "locationName": "dialnorm",
                        "type": "integer"
                      },
                      "DrcLine": {
                        "locationName": "drcLine"
                      },
                      "DrcRf": {
                        "locationName": "drcRf"
                      },
                      "LfeControl": {
                        "locationName": "lfeControl"
                      },
                      "LfeFilter": {
                        "locationName": "lfeFilter"
                      },
                      "LoRoCenterMixLevel": {
                        "locationName": "loRoCenterMixLevel",
                        "type": "double"
                      },
                      "LoRoSurroundMixLevel": {
                        "locationName": "loRoSurroundMixLevel",
                        "type": "double"
                      },
                      "LtRtCenterMixLevel": {
                        "locationName": "ltRtCenterMixLevel",
                        "type": "double"
                      },
                      "LtRtSurroundMixLevel": {
                        "locationName": "ltRtSurroundMixLevel",
                        "type": "double"
                      },
                      "MetadataControl": {
                        "locationName": "metadataControl"
                      },
                      "PassthroughControl": {
                        "locationName": "passthroughControl"
                      },
                      "PhaseControl": {
                        "locationName": "phaseControl"
                      },
                      "StereoDownmix": {
                        "locationName": "stereoDownmix"
                      },
                      "SurroundExMode": {
                        "locationName": "surroundExMode"
                      },
                      "SurroundMode": {
                        "locationName": "surroundMode"
                      }
                    }
                  },
                  "Mp2Settings": {
                    "locationName": "mp2Settings",
                    "type": "structure",
                    "members": {
                      "Bitrate": {
                        "locationName": "bitrate",
                        "type": "double"
                      },
                      "CodingMode": {
                        "locationName": "codingMode"
                      },
                      "SampleRate": {
                        "locationName": "sampleRate",
                        "type": "double"
                      }
                    }
                  },
                  "PassThroughSettings": {
                    "locationName": "passThroughSettings",
                    "type": "structure",
                    "members": {}
                  },
                  "WavSettings": {
                    "locationName": "wavSettings",
                    "type": "structure",
                    "members": {
                      "BitDepth": {
                        "locationName": "bitDepth",
                        "type": "double"
                      },
                      "CodingMode": {
                        "locationName": "codingMode"
                      },
                      "SampleRate": {
                        "locationName": "sampleRate",
                        "type": "double"
                      }
                    }
                  }
                }
              },
              "LanguageCode": {
                "locationName": "languageCode"
              },
              "LanguageCodeControl": {
                "locationName": "languageCodeControl"
              },
              "Name": {
                "locationName": "name"
              },
              "RemixSettings": {
                "locationName": "remixSettings",
                "type": "structure",
                "members": {
                  "ChannelMappings": {
                    "locationName": "channelMappings",
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "InputChannelLevels": {
                          "locationName": "inputChannelLevels",
                          "type": "list",
                          "member": {
                            "type": "structure",
                            "members": {
                              "Gain": {
                                "locationName": "gain",
                                "type": "integer"
                              },
                              "InputChannel": {
                                "locationName": "inputChannel",
                                "type": "integer"
                              }
                            },
                            "required": [
                              "InputChannel",
                              "Gain"
                            ]
                          }
                        },
                        "OutputChannel": {
                          "locationName": "outputChannel",
                          "type": "integer"
                        }
                      },
                      "required": [
                        "OutputChannel",
                        "InputChannelLevels"
                      ]
                    }
                  },
                  "ChannelsIn": {
[...]
