{
  "metadata": {
    "apiVersion": "2017-08-29",
    "endpointPrefix": "mediaconvert",
    "signingName": "mediaconvert",
    "serviceFullName": "AWS Elemental MediaConvert",
    "serviceId": "MediaConvert",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "mediaconvert-2017-08-29",
    "signatureVersion": "v4",
    "serviceAbbreviation": "MediaConvert"
  },
  "operations": {
    "CancelJob": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/jobs/{id}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "Id": {
            "locationName": "id",
            "location": "uri"
          }
        },
        "required": [
          "Id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateJob": {
      "http": {
        "requestUri": "/2017-08-29/jobs",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "BillingTagsSource": {
            "shape": "S5",
            "locationName": "billingTagsSource"
          },
          "ClientRequestToken": {
            "locationName": "clientRequestToken",
            "idempotencyToken": true
          },
          "JobTemplate": {
            "locationName": "jobTemplate"
          },
          "Queue": {
            "locationName": "queue"
          },
          "Role": {
            "locationName": "role"
          },
          "Settings": {
            "shape": "S6",
            "locationName": "settings"
          },
          "UserMetadata": {
            "shape": "Sbe",
            "locationName": "userMetadata"
          }
        },
        "required": [
          "Role",
          "Settings"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "shape": "Sbg",
            "locationName": "job"
          }
        }
      }
    },
    "CreateJobTemplate": {
      "http": {
        "requestUri": "/2017-08-29/jobTemplates",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Category": {
            "locationName": "category"
          },
          "Description": {
            "locationName": "description"
          },
          "Name": {
            "locationName": "name"
          },
          "Queue": {
            "locationName": "queue"
          },
          "Settings": {
            "shape": "Sbr",
            "locationName": "settings"
          },
          "Tags": {
            "shape": "Sbe",
            "locationName": "tags"
          }
        },
        "required": [
          "Settings",
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "JobTemplate": {
            "shape": "Sbv",
            "locationName": "jobTemplate"
          }
        }
      }
    },
    "CreatePreset": {
      "http": {
        "requestUri": "/2017-08-29/presets",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Category": {
            "locationName": "category"
          },
          "Description": {
            "locationName": "description"
          },
          "Name": {
            "locationName": "name"
          },
          "Settings": {
            "shape": "Sby",
            "locationName": "settings"
          },
          "Tags": {
            "shape": "Sbe",
            "locationName": "tags"
          }
        },
        "required": [
          "Settings",
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Preset": {
            "shape": "Sc2",
            "locationName": "preset"
          }
        }
      }
    },
    "CreateQueue": {
      "http": {
        "requestUri": "/2017-08-29/queues",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "Description": {
            "locationName": "description"
          },
          "Name": {
            "locationName": "name"
          },
          "PricingPlan": {
            "shape": "Sc4",
            "locationName": "pricingPlan"
          },
          "ReservationPlanSettings": {
            "shape": "Sc5",
            "locationName": "reservationPlanSettings"
          },
          "Tags": {
            "shape": "Sbe",
            "locationName": "tags"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Queue": {
            "shape": "Sc9",
            "locationName": "queue"
          }
        }
      }
    },
    "DeleteJobTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name",
            "location": "uri"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeletePreset": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name",
            "location": "uri"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteQueue": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name",
            "location": "uri"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeEndpoints": {
      "http": {
        "requestUri": "/2017-08-29/endpoints",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "Mode": {
            "locationName": "mode",
            "type": "string",
            "enum": [
              "DEFAULT",
              "GET_ONLY"
            ]
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Endpoints": {
            "locationName": "endpoints",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Url": {
                  "locationName": "url"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "GetJob": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobs/{id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Id": {
            "locationName": "id",
            "location": "uri"
          }
        },
        "required": [
          "Id"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "shape": "Sbg",
            "locationName": "job"
          }
        }
      }
    },
    "GetJobTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name",
            "location": "uri"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "JobTemplate": {
            "shape": "Sbv",
            "locationName": "jobTemplate"
          }
        }
      }
    },
    "GetPreset": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name",
            "location": "uri"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Preset": {
            "shape": "Sc2",
            "locationName": "preset"
          }
        }
      }
    },
    "GetQueue": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Name": {
            "locationName": "name",
            "location": "uri"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Queue": {
            "shape": "Sc9",
            "locationName": "queue"
          }
        }
      }
    },
    "ListJobTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobTemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Category": {
            "locationName": "category",
            "location": "querystring"
          },
          "ListBy": {
            "locationName": "listBy",
            "location": "querystring",
            "type": "string",
            "enum": [
              "NAME",
              "CREATION_DATE",
              "SYSTEM"
            ]
          },
          "MaxResults": {
            "shape": "Scy",
            "locationName": "maxResults",
            "location": "querystring"
          },
          "NextToken": {
            "locationName": "nextToken",
            "location": "querystring"
          },
          "Order": {
            "shape": "Scz",
            "locationName": "order",
            "location": "querystring"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobTemplates": {
            "locationName": "jobTemplates",
            "type": "list",
            "member": {
              "shape": "Sbv"
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "Scy",
            "locationName": "maxResults",
            "location": "querystring"
          },
          "NextToken": {
            "locationName": "nextToken",
            "location": "querystring"
          },
          "Order": {
            "shape": "Scz",
            "locationName": "order",
            "location": "querystring"
          },
          "Queue": {
            "locationName": "queue",
            "location": "querystring"
          },
          "Status": {
            "shape": "Sbo",
            "locationName": "status",
            "location": "querystring"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Jobs": {
            "locationName": "jobs",
            "type": "list",
            "member": {
              "shape": "Sbg"
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListPresets": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/presets",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Category": {
            "locationName": "category",
            "location": "querystring"
          },
          "ListBy": {
            "locationName": "listBy",
            "location": "querystring",
            "type": "string",
            "enum": [
              "NAME",
              "CREATION_DATE",
              "SYSTEM"
            ]
          },
          "MaxResults": {
            "shape": "Scy",
            "locationName": "maxResults",
            "location": "querystring"
          },
          "NextToken": {
            "locationName": "nextToken",
            "location": "querystring"
          },
          "Order": {
            "shape": "Scz",
            "locationName": "order",
            "location": "querystring"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "Presets": {
            "locationName": "presets",
            "type": "list",
            "member": {
              "shape": "Sc2"
            }
          }
        }
      }
    },
    "ListQueues": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/queues",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ListBy": {
            "locationName": "listBy",
            "location": "querystring",
            "type": "string",
            "enum": [
              "NAME",
              "CREATION_DATE"
            ]
          },
          "MaxResults": {
            "shape": "Scy",
            "locationName": "maxResults",
            "location": "querystring"
          },
          "NextToken": {
            "locationName": "nextToken",
            "location": "querystring"
          },
          "Order": {
            "shape": "Scz",
            "locationName": "order",
            "location": "querystring"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "locationName": "nextToken"
          },
          "Queues": {
            "locationName": "queues",
            "type": "list",
            "member": {
              "shape": "Sc9"
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/tags/{arn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn",
            "location": "uri"
          }
        },
        "required": [
          "Arn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceTags": {
            "locationName": "resourceTags",
            "type": "structure",
            "members": {
              "Arn": {
                "locationName": "arn"
              },
              "Tags": {
                "shape": "Sbe",
                "locationName": "tags"
              }
            }
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/2017-08-29/tags",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Tags": {
            "shape": "Sbe",
            "locationName": "tags"
          }
        },
        "required": [
          "Arn",
          "Tags"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/tags/{arn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn",
            "location": "uri"
          },
          "TagKeys": {
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        },
        "required": [
          "Arn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateJobTemplate": {
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Category": {
            "locationName": "category"
          },
          "Description": {
            "locationName": "description"
          },
          "Name": {
            "locationName": "name",
            "location": "uri"
          },
          "Queue": {
            "locationName": "queue"
          },
          "Settings": {
            "shape": "Sbr",
            "locationName": "settings"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "JobTemplate": {
            "shape": "Sbv",
            "locationName": "jobTemplate"
          }
        }
      }
    },
    "UpdatePreset": {
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Category": {
            "locationName": "category"
          },
          "Description": {
            "locationName": "description"
          },
          "Name": {
            "locationName": "name",
            "location": "uri"
          },
          "Settings": {
            "shape": "Sby",
            "locationName": "settings"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Preset": {
            "shape": "Sc2",
            "locationName": "preset"
          }
        }
      }
    },
    "UpdateQueue": {
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "Description": {
            "locationName": "description"
          },
          "Name": {
            "locationName": "name",
            "location": "uri"
          },
          "ReservationPlanSettings": {
            "shape": "Sc5",
            "locationName": "reservationPlanSettings"
          },
          "Status": {
            "shape": "Scc",
            "locationName": "status"
          }
        },
        "required": [
          "Name"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Queue": {
            "shape": "Sc9",
            "locationName": "queue"
          }
        }
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "string",
      "enum": [
        "QUEUE",
        "PRESET",
        "JOB_TEMPLATE"
      ]
    },
    "S6": {
      "type": "structure",
      "members": {
        "AdAvailOffset": {
          "shape": "S7",
          "locationName": "adAvailOffset"
        },
        "AvailBlanking": {
          "shape": "S8",
          "locationName": "availBlanking"
        },
        "Inputs": {
          "locationName": "inputs",
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "AudioSelectorGroups": {
                "shape": "Sc",
                "locationName": "audioSelectorGroups"
              },
              "AudioSelectors": {
                "shape": "Sg",
                "locationName": "audioSelectors"
              },
              "CaptionSelectors": {
                "shape": "Sz",
                "locationName": "captionSelectors"
              },
              "DeblockFilter": {
                "shape": "S1e",
                "locationName": "deblockFilter"
              },
              "DenoiseFilter": {
                "shape": "S1f",
                "locationName": "denoiseFilter"
              },
              "FileInput": {
                "locationName": "fileInput",
                "type": "string",
                "pattern": "^(s3:\\/\\/)([^\\/]+\\/)+([^\\/\\.]+|(([^\\/]*)\\.([mM]2[vV]|[mM][pP][eE][gG]|[aA][vV][iI]|[mM][pP]4|[fF][lL][vV]|[mM][pP][tT]|[mM][pP][gG]|[mM]4[vV]|[tT][rR][pP]|[fF]4[vV]|[mM]2[tT][sS]|[tT][sS]|264|[hH]264|[mM][kK][vV]|[mM][oO][vV]|[mM][tT][sS]|[mM]2[tT]|[wW][mM][vV]|[aA][sS][fF]|[vV][oO][bB]|3[gG][pP]|3[gG][pP][pP]|[mM][xX][fF]|[dD][iI][vV][xX]|[xX][vV][iI][dD]|[rR][aA][wW]|[dD][vV]|[gG][xX][fF]|[mM]1[vV]|3[gG]2|[vV][mM][fF]|[mM]3[uU]8|[lL][cC][hH]|[gG][xX][fF]_[mM][pP][eE][gG]2|[mM][xX][fF]_[mM][pP][eE][gG]2|[mM][xX][fF][hH][dD]|[wW][aA][vV]|[yY]4[mM])))$"
              },
              "FilterEnable": {
                "shape": "S1h",
                "locationName": "filterEnable"
              },
              "FilterStrength": {
                "shape": "S1i",
                "locationName": "filterStrength"
              },
              "InputClippings": {
                "shape": "S1j",
                "locationName": "inputClippings"
              },
              "ProgramNumber": {
                "shape": "So",
                "locationName": "programNumber"
              },
              "PsiControl": {
                "shape": "S1m",
                "locationName": "psiControl"
              },
              "TimecodeSource": {
                "shape": "S1n",
                "locationName": "timecodeSource"
              },
              "VideoSelector": {
                "shape": "S1o",
                "locationName": "videoSelector"
              }
            }
          }
        },
        "NielsenConfiguration": {
          "shape": "S1v",
          "locationName": "nielsenConfiguration"
        },
        "OutputGroups": {
          "shape": "S1x",
          "locationName": "outputGroups"
        },
        "TimecodeConfig": {
          "shape": "Sb7",
          "locationName": "timecodeConfig"
        },
        "TimedMetadataInsertion": {
          "shape": "Sba",
          "locationName": "timedMetadataInsertion"
        }
      }
    },
    "S7": {
      "type": "integer",
      "min": -1000,
      "max": 1000
    },
    "S8": {
      "type": "structure",
      "members": {
        "AvailBlankingImage": {
          "locationName": "availBlankingImage",
          "type": "string",
          "min": 14,
          "pattern": "^(s3:\\/\\/)(.*?)\\.(bmp|BMP|png|PNG)$"
        }
      }
    },
    "Sc": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "AudioSelectorNames": {
            "locationName": "audioSelectorNames",
            "type": "list",
            "member": {
              "shape": "Sf"
            }
          }
        }
      }
    },
    "Sf": {
      "type": "string",
      "min": 1
    },
    "Sg": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "CustomLanguageCode": {
            "shape": "Si",
            "locationName": "customLanguageCode"
          },
          "DefaultSelection": {
            "locationName": "defaultSelection",
            "type": "string",
            "enum": [
              "DEFAULT",
              "NOT_DEFAULT"
            ]
          },
          "ExternalAudioFileInput": {
            "locationName": "externalAudioFileInput",
            "type": "string",
            "pattern": "^(s3:\\/\\/)([^\\/]+\\/)+([^\\/\\.]+|(([^\\/]*)\\.([mM]2[vV]|[mM][pP][eE][gG]|[aA][vV][iI]|[mM][pP]4|[fF][lL][vV]|[mM][pP][tT]|[mM][pP][gG]|[mM]4[vV]|[tT][rR][pP]|[fF]4[vV]|[mM]2[tT][sS]|[tT][sS]|264|[hH]264|[mM][kK][vV]|[mM][oO][vV]|[mM][tT][sS]|[mM]2[tT]|[wW][mM][vV]|[aA][sS][fF]|[vV][oO][bB]|3[gG][pP]|3[gG][pP][pP]|[mM][xX][fF]|[dD][iI][vV][xX]|[xX][vV][iI][dD]|[rR][aA][wW]|[dD][vV]|[gG][xX][fF]|[mM]1[vV]|3[gG]2|[vV][mM][fF]|[mM]3[uU]8|[lL][cC][hH]|[gG][xX][fF]_[mM][pP][eE][gG]2|[mM][xX][fF]_[mM][pP][eE][gG]2|[mM][xX][fF][hH][dD]|[wW][aA][vV]|[yY]4[mM]|[aA][aA][cC]|[aA][iI][fF][fF]|[mM][pP]2|[aA][cC]3|[eE][cC]3|[dD][tT][sS][eE])))$"
          },
          "LanguageCode": {
            "shape": "Sl",
            "locationName": "languageCode"
          },
          "Offset": {
            "shape": "Sm",
            "locationName": "offset"
          },
          "Pids": {
            "shape": "Sn",
            "locationName": "pids"
          },
          "ProgramSelection": {
            "locationName": "programSelection",
            "type": "integer",
            "min": 0,
            "max": 8
          },
          "RemixSettings": {
            "shape": "Sq",
            "locationName": "remixSettings"
          },
          "SelectorType": {
            "locationName": "selectorType",
            "type": "string",
            "enum": [
              "PID",
              "TRACK",
              "LANGUAGE_CODE"
            ]
          },
          "Tracks": {
            "shape": "Sn",
            "locationName": "tracks"
          }
        }
      }
    },
    "Si": {
      "type": "string",
      "min": 3,
      "max": 3,
      "pattern": "^[A-Za-z]{3}$"
    },
    "Sl": {
      "type": "string",
      "enum": [
        "ENG",
        "SPA",
        "FRA",
        "DEU",
        "GER",
        "ZHO",
        "ARA",
        "HIN",
        "JPN",
        "RUS",
        "POR",
        "ITA",
        "URD",
        "VIE",
        "KOR",
        "PAN",
        "ABK",
        "AAR",
        "AFR",
        "AKA",
        "SQI",
        "AMH",
        "ARG",
        "HYE",
        "ASM",
        "AVA",
        "AVE",
        "AYM",
        "AZE",
        "BAM",
        "BAK",
        "EUS",
        "BEL",
        "BEN",
        "BIH",
        "BIS",
        "BOS",
        "BRE",
        "BUL",
        "MYA",
        "CAT",
        "KHM",
        "CHA",
        "CHE",
        "NYA",
        "CHU",
        "CHV",
        "COR",
        "COS",
        "CRE",
        "HRV",
        "CES",
        "DAN",
        "DIV",
        "NLD",
        "DZO",
        "ENM",
        "EPO",
        "EST",
        "EWE",
        "FAO",
        "FIJ",
        "FIN",
        "FRM",
        "FUL",
        "GLA",
        "GLG",
        "LUG",
        "KAT",
        "ELL",
        "GRN",
        "GUJ",
        "HAT",
        "HAU",
        "HEB",
        "HER",
        "HMO",
        "HUN",
        "ISL",
        "IDO",
        "IBO",
        "IND",
        "INA",
        "ILE",
        "IKU",
        "IPK",
        "GLE",
        "JAV",
        "KAL",
        "KAN",
        "KAU",
        "KAS",
        "KAZ",
        "KIK",
        "KIN",
        "KIR",
        "KOM",
        "KON",
        "KUA",
        "KUR",
        "LAO",
        "LAT",
        "LAV",
        "LIM",
        "LIN",
        "LIT",
        "LUB",
        "LTZ",
        "MKD",
        "MLG",
        "MSA",
        "MAL",
        "MLT",
        "GLV",
        "MRI",
        "MAR",
        "MAH",
        "MON",
        "NAU",
        "NAV",
        "NDE",
        "NBL",
        "NDO",
        "NEP",
        "SME",
        "NOR",
        "NOB",
        "NNO",
        "OCI",
        "OJI",
        "ORI",
        "ORM",
        "OSS",
        "PLI",
        "FAS",
        "POL",
        "PUS",
        "QUE",
        "QAA",
        "RON",
        "ROH",
        "RUN",
        "SMO",
        "SAG",
        "SAN",
        "SRD",
        "SRB",
        "SNA",
        "III",
        "SND",
        "SIN",
        "SLK",
        "SLV",
        "SOM",
        "SOT",
        "SUN",
        "SWA",
        "SSW",
        "SWE",
        "TGL",
        "TAH",
        "TGK",
        "TAM",
        "TAT",
        "TEL",
        "THA",
        "BOD",
        "TIR",
        "TON",
        "TSO",
        "TSN",
        "TUR",
        "TUK",
        "TWI",
        "UIG",
        "UKR",
        "UZB",
        "VEN",
        "VOL",
        "WLN",
        "CYM",
        "FRY",
        "WOL",
        "XHO",
        "YID",
        "YOR",
        "ZHA",
        "ZUL",
        "ORJ",
        "QPC",
        "TNG"
      ]
    },
    "Sm": {
      "type": "integer",
      "min": -2147483648,
      "max": 2147483647
    },
    "Sn": {
      "type": "list",
      "member": {
        "shape": "So"
      }
    },
    "So": {
      "type": "integer",
      "min": 1,
      "max": 2147483647
    },
    "Sq": {
      "type": "structure",
      "members": {
        "ChannelMapping": {
          "locationName": "channelMapping",
          "type": "structure",
          "members": {
            "OutputChannels": {
              "locationName": "outputChannels",
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "InputChannels": {
                    "locationName": "inputChannels",
                    "type": "list",
                    "member": {
                      "type": "integer",
                      "min": -60,
                      "max": 6
                    }
                  }
                }
              }
            }
          }
        },
        "ChannelsIn": {
          "locationName": "channelsIn",
          "type": "integer",
          "min": 1,
          "max": 16
        },
        "ChannelsOut": {
          "shape": "Sx",
          "locationName": "channelsOut"
        }
      }
    },
    "Sx": {
      "type": "integer",
      "min": 1,
      "max": 8
    },
    "Sz": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "CustomLanguageCode": {
            "shape": "Si",
            "locationName": "customLanguageCode"
          },
          "LanguageCode": {
            "shape": "Sl",
            "locationName": "languageCode"
          },
          "SourceSettings": {
            "locationName": "sourceSettings",
            "type": "structure",
            "members": {
              "AncillarySourceSettings": {
                "locationName": "ancillarySourceSettings",
                "type": "structure",
                "members": {
                  "SourceAncillaryChannelNumber": {
                    "shape": "S13",
                    "locationName": "sourceAncillaryChannelNumber"
                  }
                }
              },
              "DvbSubSourceSettings": {
                "locationName": "dvbSubSourceSettings",
                "type": "structure",
                "members": {
                  "Pid": {
                    "shape": "So",
                    "locationName": "pid"
                  }
                }
              },
              "EmbeddedSourceSettings": {
                "locationName": "embeddedSourceSettings",
                "type": "structure",
                "members": {
                  "Convert608To708": {
                    "locationName": "convert608To708",
                    "type": "string",
                    "enum": [
                      "UPCONVERT",
                      "DISABLED"
                    ]
                  },
                  "Source608ChannelNumber": {
                    "shape": "S13",
                    "locationName": "source608ChannelNumber"
                  },
                  "Source608TrackNumber": {
                    "locationName": "source608TrackNumber",
                    "type": "integer",
                    "min": 1,
                    "max": 1
                  }
                }
              },
              "FileSourceSettings": {
                "locationName": "fileSourceSettings",
                "type": "structure",
                "members": {
                  "Convert608To708": {
                    "locationName": "convert608To708",
                    "type": "string",
                    "enum": [
                      "UPCONVERT",
                      "DISABLED"
                    ]
                  },
                  "SourceFile": {
                    "locationName": "sourceFile",
                    "type": "string",
                    "min": 14,
                    "pattern": "^(s3:\\/\\/)(.*?)\\.(scc|SCC|ttml|TTML|dfxp|DFXP|stl|STL|srt|SRT|smi|SMI)$"
                  },
                  "TimeDelta": {
                    "shape": "Sm",
                    "locationName": "timeDelta"
                  }
                }
              },
              "SourceType": {
                "locationName": "sourceType",
                "type": "string",
                "enum": [
                  "ANCILLARY",
                  "DVB_SUB",
                  "EMBEDDED",
                  "SCC",
                  "TTML",
                  "STL",
                  "SRT",
                  "TELETEXT",
                  "NULL_SOURCE"
                ]
              },
              "TeletextSourceSettings": {
                "locationName": "teletextSourceSettings",
                "type": "structure",
                "members": {
                  "PageNumber": {
                    "shape": "S1d",
                    "locationName": "pageNumber"
                  }
                }
              }
            }
          }
        }
      }
    },
    "S13": {
      "type": "integer",
      "min": 1,
      "max": 4
    },
    "S1d": {
      "type": "string",
      "min": 3,
      "max": 3,
      "pattern": "^[1-8][0-9a-fA-F][0-9a-eA-E]$"
    },
    "S1e": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "S1f": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "S1h": {
      "type": "string",
      "enum": [
        "AUTO",
        "DISABLE",
        "FORCE"
      ]
    },
    "S1i": {
      "type": "integer",
      "min": -5,
      "max": 5
    },
    "S1j": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "EndTimecode": {
            "shape": "S1l",
            "locationName": "endTimecode"
          },
          "StartTimecode": {
            "shape": "S1l",
            "locationName": "startTimecode"
          }
        }
      }
    },
    "S1l": {
      "type": "string",
      "pattern": "^([01][0-9]|2[0-4]):[0-5][0-9]:[0-5][0-9][:;][0-9]{2}$"
    },
    "S1m": {
      "type": "string",
      "enum": [
        "IGNORE_PSI",
        "USE_PSI"
      ]
    },
    "S1n": {
      "type": "string",
      "enum": [
        "EMBEDDED",
        "ZEROBASED",
        "SPECIFIEDSTART"
      ]
    },
    "S1o": {
      "type": "structure",
      "members": {
        "ColorSpace": {
          "locationName": "colorSpace",
          "type": "string",
          "enum": [
            "FOLLOW",
            "REC_601",
            "REC_709",
            "HDR10",
            "HLG_2020"
          ]
        },
        "ColorSpaceUsage": {
          "locationName": "colorSpaceUsage",
          "type": "string",
          "enum": [
            "FORCE",
            "FALLBACK"
          ]
        },
        "Hdr10Metadata": {
          "shape": "S1r",
          "locationName": "hdr10Metadata"
        },
        "Pid": {
          "shape": "So",
          "locationName": "pid"
        },
        "ProgramNumber": {
          "shape": "Sm",
          "locationName": "programNumber"
        }
      }
    },
    "S1r": {
      "type": "structure",
      "members": {
        "BluePrimaryX": {
          "shape": "S1s",
          "locationName": "bluePrimaryX"
        },
        "BluePrimaryY": {
          "shape": "S1s",
          "locationName": "bluePrimaryY"
        },
        "GreenPrimaryX": {
          "shape": "S1s",
          "locationName": "greenPrimaryX"
        },
        "GreenPrimaryY": {
          "shape": "S1s",
          "locationName": "greenPrimaryY"
        },
        "MaxContentLightLevel": {
          "shape": "S1t",
          "locationName": "maxContentLightLevel"
        },
        "MaxFrameAverageLightLevel": {
          "shape": "S1t",
          "locationName": "maxFrameAverageLightLevel"
        },
        "MaxLuminance": {
          "shape": "S1u",
          "locationName": "maxLuminance"
        },
        "MinLuminance": {
          "shape": "S1u",
          "locationName": "minLuminance"
        },
        "RedPrimaryX": {
          "shape": "S1s",
          "locationName": "redPrimaryX"
        },
        "RedPrimaryY": {
          "shape": "S1s",
          "locationName": "redPrimaryY"
        },
        "WhitePointX": {
          "shape": "S1s",
          "locationName": "whitePointX"
        },
        "WhitePointY": {
          "shape": "S1s",
          "locationName": "whitePointY"
        }
      }
    },
    "S1s": {
      "type": "integer",
      "min": 0,
      "max": 50000
    },
    "S1t": {
      "type": "integer",
      "min": 0,
      "max": 65535
    },
    "S1u": {
      "type": "integer",
      "min": 0,
      "max": 2147483647
    },
    "S1v": {
      "type": "structure",
      "members": {
        "BreakoutCode": {
          "locationName": "breakoutCode",
          "type": "integer",
          "min": 0,
          "max": 9
        },
        "DistributorId": {
          "locationName": "distributorId"
        }
      }
    },
    "S1x": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "CustomName": {
            "locationName": "customName"
          },
          "Name": {
            "locationName": "name"
          },
          "OutputGroupSettings": {
            "locationName": "outputGroupSettings",
            "type": "structure",
            "members": {
              "CmafGroupSettings": {
                "locationName": "cmafGroupSettings",
                "type": "structure",
                "members": {
                  "BaseUrl": {
                    "locationName": "baseUrl"
                  },
                  "ClientCache": {
                    "locationName": "clientCache",
                    "type": "string",
                    "enum": [
                      "DISABLED",
                      "ENABLED"
                    ]
                  },
                  "CodecSpecification": {
                    "locationName": "codecSpecification",
                    "type": "string",
                    "enum": [
                      "RFC_6381",
                      "RFC_4281"
                    ]
                  },
                  "Destination": {
                    "shape": "S23",
                    "locationName": "destination"
                  },
                  "Encryption": {
                    "locationName": "encryption",
                    "type": "structure",
                    "members": {
                      "ConstantInitializationVector": {
                        "shape": "S25",
                        "locationName": "constantInitializationVector"
                      },
                      "EncryptionMethod": {
                        "locationName": "encryptionMethod",
                        "type": "string",
                        "enum": [
                          "SAMPLE_AES"
                        ]
                      },
                      "InitializationVectorInManifest": {
                        "locationName": "initializationVectorInManifest",
                        "type": "string",
                        "enum": [
                          "INCLUDE",
                          "EXCLUDE"
                        ]
                      },
                      "StaticKeyProvider": {
                        "shape": "S28",
                        "locationName": "staticKeyProvider"
                      },
                      "Type": {
                        "locationName": "type",
                        "type": "string",
                        "enum": [
                          "STATIC_KEY"
                        ]
                      }
                    }
                  },
                  "FragmentLength": {
                    "shape": "So",
                    "locationName": "fragmentLength"
                  },
                  "ManifestCompression": {
                    "locationName": "manifestCompression",
                    "type": "string",
                    "enum": [
                      "GZIP",
                      "NONE"
                    ]
                  },
                  "ManifestDurationFormat": {
                    "locationName": "manifestDurationFormat",
                    "type": "string",
                    "enum": [
                      "FLOATING_POINT",
                      "INTEGER"
                    ]
                  },
                  "MinBufferTime": {
                    "shape": "S1u",
                    "locationName": "minBufferTime"
                  },
                  "MinFinalSegmentLength": {
                    "locationName": "minFinalSegmentLength",
                    "type": "double"
                  },
                  "SegmentControl": {
                    "locationName": "segmentControl",
                    "type": "string",
                    "enum": [
                      "SINGLE_FILE",
                      "SEGMENTED_FILES"
                    ]
                  },
                  "SegmentLength": {
                    "shape": "So",
                    "locationName": "segmentLength"
                  },
                  "StreamInfResolution": {
                    "locationName": "streamInfResolution",
                    "type": "string",
                    "enum": [
                      "INCLUDE",
                      "EXCLUDE"
                    ]
                  },
                  "WriteDashManifest": {
                    "locationName": "writeDashManifest",
                    "type": "string",
                    "enum": [
                      "DISABLED",
                      "ENABLED"
                    ]
                  },
                  "WriteHlsManifest": {
                    "locationName": "writeHlsManifest",
                    "type": "string",
                    "enum": [
                      "DISABLED",
                      "ENABLED"
                    ]
                  }
                }
              },
              "DashIsoGroupSettings": {
                "locationName": "dashIsoGroupSettings",
                "type": "structure",
                "members": {
                  "BaseUrl": {
                    "locationName": "baseUrl"
                  },
                  "Destination": {
                    "shape": "S23",
                    "locationName": "destination"
                  },
                  "Encryption": {
                    "locationName": "encryption",
                    "type": "structure",
                    "members": {
                      "SpekeKeyProvider": {
                        "shape": "S2m",
                        "locationName": "spekeKeyProvider"
                      }
                    }
                  },
                  "FragmentLength": {
                    "shape": "So",
                    "locationName": "fragmentLength"
                  },
                  "HbbtvCompliance": {
                    "locationName": "hbbtvCompliance",
                    "type": "string",
                    "enum": [
                      "HBBTV_1_5",
                      "NONE"
                    ]
                  },
                  "MinBufferTime": {
                    "shape": "S1u",
                    "locationName": "minBufferTime"
                  },
                  "SegmentControl": {
                    "locationName": "segmentControl",
                    "type": "string",
                    "enum": [
                      "SINGLE_FILE",
                      "SEGMENTED_FILES"
                    ]
                  },
                  "SegmentLength": {
                    "shape": "So",
                    "locationName": "segmentLength"
                  },
                  "WriteSegmentTimelineInRepresentation": {
                    "locationName": "writeSegmentTimelineInRepresentation",
                    "type": "string",
                    "enum": [
                      "ENABLED",
                      "DISABLED"
                    ]
                  }
                }
              },
              "FileGroupSettings": {
                "locationName": "fileGroupSettings",
                "type": "structure",
                "members": {
                  "Destination": {
                    "shape": "S23",
                    "locationName": "destination"
                  }
                }
              },
              "HlsGroupSettings": {
                "locationName": "hlsGroupSettings",
                "type": "structure",
                "members": {
                  "AdMarkers": {
                    "locationName": "adMarkers",
                    "type": "list",
                    "member": {
                      "type": "string",
                      "enum": [
                        "ELEMENTAL",
                        "ELEMENTAL_SCTE35"
                      ]
                    }
                  },
                  "BaseUrl": {
                    "locationName": "baseUrl"
                  },
                  "CaptionLanguageMappings": {
                    "locationName": "captionLanguageMappings",
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "CaptionChannel": {
                          "shape": "Sm",
                          "locationName": "captionChannel"
                        },
                        "CustomLanguageCode": {
                          "shape": "Si",
                          "locationName": "customLanguageCode"
                        },
                        "LanguageCode": {
                          "shape": "Sl",
                          "locationName": "languageCode"
                        },
                        "LanguageDescription": {
                          "locationName": "languageDescription"
                        }
                      }
                    }
                  },
                  "CaptionLanguageSetting": {
                    "locationName": "captionLanguageSetting",
                    "type": "string",
                    "enum": [
                      "INSERT",
                      "OMIT",
                      "NONE"
                    ]
                  },
                  "ClientCache": {
                    "locationName": "clientCache",
                    "type": "string",
                    "enum": [
                      "DISABLED",
                      "ENABLED"
                    ]
                  },
                  "CodecSpecification": {
                    "locationName": "codecSpecification",
                    "type": "string",
                    "enum": [
                      "RFC_6381",
                      "RFC_4281"
                    ]
                  },
                  "Destination": {
                    "shape": "S23",
                    "locationName": "destination"
                  },
                  "DirectoryStructure": {
                    "locationName": "directoryStructure",
                    "type": "string",
                    "enum": [
                      "SINGLE_DIRECTORY",
                      "SUBDIRECTORY_PER_STREAM"
                    ]
                  },
                  "Encryption": {
                    "locationName": "encryption",
                    "type": "structure",
                    "members": {
                      "ConstantInitializationVector": {
                        "shape": "S25",
                        "locationName": "constantInitializationVector"
                      },
                      "EncryptionMethod": {
                        "locationName": "encryptionMethod",
                        "type": "string",
                        "enum": [
                          "AES128",
                          "SAMPLE_AES"
                        ]
                      },
                      "InitializationVectorInManifest": {
                        "locationName": "initializationVectorInManifest",
                        "type": "string",
                        "enum": [
                          "INCLUDE",
                          "EXCLUDE"
                        ]
                      },
                      "SpekeKeyProvider": {
                        "shape": "S2m",
                        "locationName": "spekeKeyProvider"
                      },
                      "StaticKeyProvider": {
                        "shape": "S28",
                        "locationName": "staticKeyProvider"
                      },
                      "Type": {
                        "locationName": "type",
                        "type": "string",
                        "enum": [
                          "SPEKE",
                          "STATIC_KEY"
                        ]
                      }
                    }
                  },
                  "ManifestCompression": {
                    "locationName": "manifestCompression",
                    "type": "string",
                    "enum": [
                      "GZIP",
                      "NONE"
                    ]
                  },
                  "ManifestDurationFormat": {
                    "locationName": "manifestDurationFormat",
                    "type": "string",
                    "enum": [
                      "FLOATING_POINT",
                      "INTEGER"
                    ]
                  },
                  "MinFinalSegmentLength": {
                    "locationName": "minFinalSegmentLength",
                    "type": "double"
                  },
                  "MinSegmentLength": {
                    "shape": "S1u",
                    "locationName": "minSegmentLength"
                  },
                  "OutputSelection": {
                    "locationName": "outputSelection",
                    "type": "string",
                    "enum": [
                      "MANIFESTS_AND_SEGMENTS",
                      "SEGMENTS_ONLY"
                    ]
                  },
                  "ProgramDateTime": {
                    "locationName": "programDateTime",
                    "type": "string",
                    "enum": [
                      "INCLUDE",
                      "EXCLUDE"
                    ]
                  },
                  "ProgramDateTimePeriod": {
                    "locationName": "programDateTimePeriod",
                    "type": "integer",
                    "min": 0,
                    "max": 3600
                  },
                  "SegmentControl": {
                    "locationName": "segmentControl",
                    "type": "string",
                    "enum": [
                      "SINGLE_FILE",
                      "SEGMENTED_FILES"
                    ]
                  },
                  "SegmentLength": {
                    "shape": "So",
                    "locationName": "segmentLength"
                  },
                  "SegmentsPerSubdirectory": {
                    "shape": "So",
                    "locationName": "segmentsPerSubdirectory"
                  },
                  "StreamInfResolution": {
                    "locationName": "streamInfResolution",
                    "type": "string",
                    "enum": [
                      "INCLUDE",
                      "EXCLUDE"
                    ]
                  },
                  "TimedMetadataId3Frame": {
                    "locationName": "timedMetadataId3Frame",
                    "type": "string",
                    "enum": [
                      "NONE",
                      "PRIV",
                      "TDRL"
                    ]
                  },
                  "TimedMetadataId3Period": {
                    "shape": "Sm",
                    "locationName": "timedMetadataId3Period"
                  },
                  "TimestampDeltaMilliseconds": {
                    "shape": "Sm",
                    "locationName": "timestampDeltaMilliseconds"
                  }
                }
              },
              "MsSmoothGroupSettings": {
                "locationName": "msSmoothGroupSettings",
                "type": "structure",
                "members": {
                  "AudioDeduplication": {
                    "locationName": "audioDeduplication",
                    "type": "string",
                    "enum": [
                      "COMBINE_DUPLICATE_STREAMS",
                      "NONE"
                    ]
                  },
                  "Destination": {
                    "shape": "S23",
                    "locationName": "destination"
                  },
                  "Encryption": {
                    "locationName": "encryption",
                    "type": "structure",
                    "members": {
                      "SpekeKeyProvider": {
                        "shape": "S2m",
                        "locationName": "spekeKeyProvider"
                      }
                    }
                  },
                  "FragmentLength": {
                    "shape": "So",
                    "locationName": "fragmentLength"
                  },
                  "ManifestEncoding": {
                    "locationName": "manifestEncoding",
                    "type": "string",
                    "enum": [
                      "UTF8",
                      "UTF16"
                    ]
                  }
                }
              },
              "Type": {
                "locationName": "type",
                "type": "string",
                "enum": [
                  "HLS_GROUP_SETTINGS",
                  "DASH_ISO_GROUP_SETTINGS",
                  "FILE_GROUP_SETTINGS",
                  "MS_SMOOTH_GROUP_SETTINGS",
                  "CMAF_GROUP_SETTINGS"
                ]
              }
            }
          },
          "Outputs": {
            "locationName": "outputs",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AudioDescriptions": {
                  "shape": "S3m",
                  "locationName": "audioDescriptions"
                },
                "CaptionDescriptions": {
                  "locationName": "captionDescriptions",
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "CaptionSelectorName": {
                        "shape": "Sf",
                        "locationName": "captionSelectorName"
                      },
                      "CustomLanguageCode": {
                        "shape": "Si",
                        "locationName": "customLanguageCode"
                      },
                      "DestinationSettings": {
                        "shape": "S5c",
                        "locationName": "destinationSettings"
                      },
                      "LanguageCode": {
                        "shape": "Sl",
                        "locationName": "languageCode"
                      },
                      "LanguageDescription": {
                        "locationName": "languageDescription"
                      }
                    }
                  }
                },
                "ContainerSettings": {
                  "shape": "S60",
                  "locationName": "containerSettings"
                },
                "Extension": {
                  "locationName": "extension"
                },
                "NameModifier": {
                  "shape": "Sf",
                  "locationName": "nameModifier"
                },
                "OutputSettings": {
                  "locationName": "outputSettings",
                  "type": "structure",
                  "members": {
                    "HlsSettings": {
                      "locationName": "hlsSettings",
                      "type": "structure",
                      "members": {
                        "AudioGroupId": {
                          "locationName": "audioGroupId"
                        },
                        "AudioRenditionSets": {
                          "locationName": "audioRenditionSets"
                        },
                        "AudioTrackType": {
                          "locationName": "audioTrackType",
                          "type": "string",
                          "enum": [
                            "ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT",
                            "ALTERNATE_AUDIO_AUTO_SELECT",
                            "ALTERNATE_AUDIO_NOT_AUTO_SELECT",
                            "AUDIO_ONLY_VARIANT_STREAM"
                          ]
                        },
                        "IFrameOnlyManifest": {
                          "locationName": "iFrameOnlyManifest",
                          "type": "string",
                          "enum": [
                            "INCLUDE",
                            "EXCLUDE"
                          ]
                        },
                        "SegmentModifier": {
                          "locationName": "segmentModifier"
                        }
                      }
                    }
                  }
                },
                "Preset": {
                  "locationName": "preset",
                  "type": "string",
                  "min": 0
                },
                "VideoDescription": {
                  "shape": "S7e",
                  "locationName": "videoDescription"
                }
              }
            }
          }
        }
      }
    },
    "S23": {
      "type": "string",
      "pattern": "^s3:\\/\\/"
    },
    "S25": {
      "type": "string",
      "min": 32,
      "max": 32,
      "pattern": "^[0-9a-fA-F]{32}$"
    },
    "S28": {
      "type": "structure",
      "members": {
        "KeyFormat": {
          "locationName": "keyFormat",
          "type": "string",
          "pattern": "^(identity|[A-Za-z]{2,6}(\\.[A-Za-z0-9-]{1,63})+)$"
        },
        "KeyFormatVersions": {
          "locationName": "keyFormatVersions",
          "type": "string",
          "pattern": "^(\\d+(\\/\\d+)*)$"
        },
        "StaticKeyValue": {
          "locationName": "staticKeyValue",
          "type": "string",
          "pattern": "^[A-Za-z0-9]{32}$"
        },
        "Url": {
          "locationName": "url"
        }
      }
    },
    "S2m": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "locationName": "resourceId"
        },
        "SystemIds": {
          "locationName": "systemIds",
          "type": "list",
          "member": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          }
        },
        "Url": {
          "locationName": "url",
          "type": "string",
          "pattern": "^https:\\/\\/"
        }
      }
    },
    "S3m": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AudioNormalizationSettings": {
            "locationName": "audioNormalizationSettings",
            "type": "structure",
            "members": {
              "Algorithm": {
                "locationName": "algorithm",
                "type": "string",
                "enum": [
                  "ITU_BS_1770_1",
                  "ITU_BS_1770_2"
                ]
              },
              "AlgorithmControl": {
                "locationName": "algorithmControl",
                "type": "string",
                "enum": [
                  "CORRECT_AUDIO",
                  "MEASURE_ONLY"
                ]
              },
              "CorrectionGateLevel": {
                "locationName": "correctionGateLevel",
                "type": "integer",
                "min": -70,
                "max": 0
              },
              "LoudnessLogging": {
                "locationName": "loudnessLogging",
                "type": "string",
                "enum": [
                  "LOG",
                  "DONT_LOG"
                ]
              },
              "PeakCalculation": {
                "locationName": "peakCalculation",
                "type": "string",
                "enum": [
                  "TRUE_PEAK",
                  "NONE"
                ]
              },
              "TargetLkfs": {
                "locationName": "targetLkfs",
                "type": "double"
              }
            }
          },
          "AudioSourceName": {
            "locationName": "audioSourceName"
          },
          "AudioType": {
            "shape": "S3v",
            "locationName": "audioType"
          },
          "AudioTypeControl": {
            "locationName": "audioTypeControl",
            "type": "string",
            "enum": [
              "FOLLOW_INPUT",
              "USE_CONFIGURED"
            ]
          },
          "CodecSettings": {
            "locationName": "codecSettings",
            "type": "structure",
            "members": {
              "AacSettings": {
                "locationName": "aacSettings",
                "type": "structure",
                "members": {
                  "AudioDescriptionBroadcasterMix": {
                    "locationName": "audioDescriptionBroadcasterMix",
                    "type": "string",
                    "enum": [
                      "BROADCASTER_MIXED_AD",
                      "NORMAL"
                    ]
                  },
                  "Bitrate": {
                    "locationName": "bitrate",
                    "type": "integer",
                    "min": 6000,
                    "max": 1024000
                  },
                  "CodecProfile": {
                    "locationName": "codecProfile",
                    "type": "string",
                    "enum": [
                      "LC",
                      "HEV1",
                      "HEV2"
                    ]
                  },
                  "CodingMode": {
                    "locationName": "codingMode",
                    "type": "string",
                    "enum": [
                      "AD_RECEIVER_MIX",
                      "CODING_MODE_1_0",
                      "CODING_MODE_1_1",
                      "CODING_MODE_2_0",
                      "CODING_MODE_5_1"
                    ]
                  },
                  "RateControlMode": {
                    "locationName": "rateControlMode",
                    "type": "string",
                    "enum": [
                      "CBR",
                      "VBR"
                    ]
                  },
                  "RawFormat": {
                    "locationName": "rawFormat",
                    "type": "string",
                    "enum": [
                      "LATM_LOAS",
                      "NONE"
                    ]
                  },
                  "SampleRate": {
                    "locationName": "sampleRate",
                    "type": "integer",
                    "min": 8000,
                    "max": 96000
                  },
                  "Specification": {
                    "locationName": "specification",
                    "type": "string",
                    "enum": [
                      "MPEG2",
                      "MPEG4"
                    ]
                  },
                  "VbrQuality": {
                    "locationName": "vbrQuality",
                    "type": "string",
                    "enum": [
                      "LOW",
                      "MEDIUM_LOW",
                      "MEDIUM_HIGH",
                      "HIGH"
                    ]
                  }
                }
              },
              "Ac3Settings": {
                "locationName": "ac3Settings",
                "type": "structure",
                "members": {
                  "Bitrate": {
                    "shape": "S49",
                    "locationName": "bitrate"
                  },
                  "BitstreamMode": {
                    "locationName": "bitstreamMode",
                    "type": "string",
                    "enum": [
                      "COMPLETE_MAIN",
                      "COMMENTARY",
                      "DIALOGUE",
                      "EMERGENCY",
                      "HEARING_IMPAIRED",
                      "MUSIC_AND_EFFECTS",
                      "VISUALLY_IMPAIRED",
                      "VOICE_OVER"
                    ]
                  },
                  "CodingMode": {
                    "locationName": "codingMode",
                    "type": "string",
                    "enum": [
                      "CODING_MODE_1_0",
                      "CODING_MODE_1_1",
                      "CODING_MODE_2_0",
                      "CODING_MODE_3_2_LFE"
                    ]
                  },
                  "Dialnorm": {
                    "shape": "S4c",
                    "locationName": "dialnorm"
                  },
                  "DynamicRangeCompressionProfile": {
                    "locationName": "dynamicRangeCompressionProfile",
                    "type": "string",
                    "enum": [
                      "FILM_STANDARD",
                      "NONE"
                    ]
                  },
                  "LfeFilter": {
                    "locationName": "lfeFilter",
                    "type": "string",
                    "enum": [
                      "ENABLED",
                      "DISABLED"
                    ]
                  },
                  "MetadataControl": {
                    "locationName": "metadataControl",
                    "type": "string",
                    "enum": [
                      "FOLLOW_INPUT",
                      "USE_CONFIGURED"
                    ]
                  },
                  "SampleRate": {
                    "shape": "S4g",
                    "locationName": "sampleRate"
                  }
                }
              },
              "AiffSettings": {
                "locationName": "aiffSettings",
                "type": "structure",
                "members": {
                  "BitDepth": {
                    "shape": "S4i",
                    "locationName": "bitDepth"
                  },
                  "Channels": {
                    "shape": "S4j",
                    "locationName": "channels"
                  },
                  "SampleRate": {
                    "shape": "S4k",
                    "locationName": "sampleRate"
                  }
                }
              },
              "Codec": {
                "locationName": "codec",
                "type": "string",
                "enum": [
                  "AAC",
                  "MP2",
                  "WAV",
                  "AIFF",
                  "AC3",
                  "EAC3",
                  "PASSTHROUGH"
                ]
              },
              "Eac3Settings": {
                "locationName": "eac3Settings",
                "type": "structure",
                "members": {
                  "AttenuationControl": {
                    "locationName": "attenuationControl",
                    "type": "string",
                    "enum": [
                      "ATTENUATE_3_DB",
                      "NONE"
                    ]
                  },
                  "Bitrate": {
                    "shape": "S49",
                    "locationName": "bitrate"
                  },
                  "BitstreamMode": {
                    "locationName": "bitstreamMode",
                    "type": "string",
                    "enum": [
                      "COMPLETE_MAIN",
                      "COMMENTARY",
                      "EMERGENCY",
                      "HEARING_IMPAIRED",
                      "VISUALLY_IMPAIRED"
                    ]
                  },
                  "CodingMode": {
                    "locationName": "codingMode",
                    "type": "string",
                    "enum": [
                      "CODING_MODE_1_0",
                      "CODING_MODE_2_0",
                      "CODING_MODE_3_2"
                    ]
                  },
                  "DcFilter": {
                    "locationName": "dcFilter",
                    "type": "string",
                    "enum": [
                      "ENABLED",
                      "DISABLED"
                    ]
                  },
                  "Dialnorm": {
                    "shape": "S4c",
                    "locationName": "dialnorm"
                  },
                  "DynamicRangeCompressionLine": {
                    "locationName": "dynamicRangeCompressionLine",
                    "type": "string",
                    "enum": [
                      "NONE",
                      "FILM_STANDARD",
                      "FILM_LIGHT",
                      "MUSIC_STANDARD",
                      "MUSIC_LIGHT",
                      "SPEECH"
                    ]
                  },
                  "DynamicRangeCompressionRf": {
                    "locationName": "dynamicRangeCompressionRf",
                    "type": "string",
                    "enum": [
                      "NONE",
                      "FILM_STANDARD",
                      "FILM_LIGHT",
                      "MUSIC_STANDARD",
                      "MUSIC_LIGHT",
                      "SPEECH"
                    ]
                  },
                  "LfeControl": {
                    "locationName": "lfeControl",
                    "type": "string",
                    "enum": [
                      "LFE",
                      "NO_LFE"
                    ]
                  },
                  "LfeFilter": {
                    "locationName": "lfeFilter",
                    "type": "string",
                    "enum": [
                      "ENABLED",
                      "DISABLED"
                    ]
                  },
                  "LoRoCenterMixLevel": {
                    "locationName": "loRoCenterMixLevel",
                    "type": "double"
                  },
                  "LoRoSurroundMixLevel": {
                    "locationName": "loRoSurroundMixLevel",
                    "type": "double"
                  },
                  "LtRtCenterMixLevel": {
                    "locationName": "ltRtCenterMixLevel",
                    "type": "double"
                  },
                  "LtRtSurroundMixLevel": {
                    "locationName": "ltRtSurroundMixLevel",
                    "type": "double"
                  },
                  "MetadataControl": {
                    "locationName": "metadataControl",
                    "type": "string",
                    "enum": [
                      "FOLLOW_INPUT",
                      "USE_CONFIGURED"
                    ]
                  },
                  "PassthroughControl": {
                    "locationName": "passthroughControl",
                    "type": "string",
                    "enum": [
                      "WHEN_POSSIBLE",
                      "NO_PASSTHROUGH"
                    ]
                  },
                  "PhaseControl": {
                    "locationName": "phaseControl",
                    "type": "string",
                    "enum": [
                      "SHIFT_90_DEGREES",
                      "NO_SHIFT"
                    ]
                  },
                  "SampleRate": {
                    "shape": "S4g",
                    "locationName": "sampleRate"
                  },
                  "StereoDownmix": {
                    "locationName": "stereoDownmix",
                    "type": "string",
                    "enum": [
                      "NOT_INDICATED",
                      "LO_RO",
                      "LT_RT",
                      "DPL2"
                    ]
                  },
                  "SurroundExMode": {
                    "locationName": "surroundExMode",
                    "type": "string",
                    "enum": [
                      "NOT_INDICATED",
                      "ENABLED",
                      "DISABLED"
                    ]
                  },
                  "SurroundMode": {
                    "locationName": "surroundMode",
                    "type": "string",
                    "enum": [
                      "NOT_INDICATED",
                      "ENABLED",
                      "DISABLED"
                    ]
                  }
                }
              },
              "Mp2Settings": {
                "locationName": "mp2Settings",
                "type": "structure",
                "members": {
                  "Bitrate": {
                    "locationName": "bitrate",
                    "type": "integer",
                    "min": 32000,
                    "max": 384000
                  },
                  "Channels": {
                    "shape": "S4j",
                    "locationName": "channels"
                  },
                  "SampleRate": {
                    "locationName": "sampleRate",
                    "type": "integer",
                    "min": 32000,
                    "max": 48000
                  }
                }
              },
              "WavSettings": {
                "locationName": "wavSettings",
                "type": "structure",
                "members": {
                  "BitDepth": {
                    "shape": "S4i",
                    "locationName": "bitDepth"
                  },
                  "Channels": {
                    "shape": "Sx",
                    "locationName": "channels"
                  },
                  "Format": {
                    "locationName": "format",
                    "type": "string",
                    "enum": [
                      "RIFF",
                      "RF64"
                    ]
                  },
                  "SampleRate": {
                    "shape": "S4k",
                    "locationName": "sampleRate"
                  }
                }
              }
            }
          },
          "CustomLanguageCode": {
            "shape": "Si",
            "locationName": "customLanguageCode"
          },
          "LanguageCode": {
            "shape": "Sl",
            "locationName": "languageCode"
          },
          "LanguageCodeControl": {
            "locationName": "languageCodeControl",
            "type": "string",
            "enum": [
              "FOLLOW_INPUT",
              "USE_CONFIGURED"
            ]
          },
          "RemixSettings": {
            "shape": "Sq",
            "locationName": "remixSettings"
          },
          "StreamName": {
            "locationName": "streamName",
            "type": "string",
            "pattern": "^[\\w\\s]*$"
          }
        }
      }
    },
    "S3v": {
      "type": "integer",
      "min": 0,
      "max": 255
    },
    "S49": {
      "type": "integer",
      "min": 64000,
      "max": 640000
    },
    "S4c": {
      "type": "integer",
      "min": 1,
      "max": 31
    },
    "S4g": {
      "type": "integer",
      "min": 48000,
      "max": 48000
    },
    "S4i": {
      "type": "integer",
      "min": 16,
      "max": 24
    },
    "S4j": {
      "type": "integer",
      "min": 1,
      "max": 2
    },
    "S4k": {
      "type": "integer",
      "min": 8000,
      "max": 192000
    },
    "S5c": {
      "type": "structure",
      "members": {
        "BurninDestinationSettings": {
          "locationName": "burninDestinationSettings",
          "type": "structure",
          "members": {
            "Alignment": {
              "locationName": "alignment",
              "type": "string",
              "enum": [
                "CENTERED",
                "LEFT"
              ]
            },
            "BackgroundColor": {
              "locationName": "backgroundColor",
              "type": "string",
              "enum": [
                "NONE",
                "BLACK",
                "WHITE"
              ]
            },
            "BackgroundOpacity": {
              "shape": "S3v",
              "locationName": "backgroundOpacity"
            },
            "FontColor": {
              "locationName": "fontColor",
              "type": "string",
              "enum": [
                "WHITE",
                "BLACK",
                "YELLOW",
                "RED",
                "GREEN",
                "BLUE"
              ]
            },
            "FontOpacity": {
              "shape": "S3v",
              "locationName": "fontOpacity"
            },
            "FontResolution": {
              "shape": "S5h",
              "locationName": "fontResolution"
            },
            "FontSize": {
              "shape": "S5i",
              "locationName": "fontSize"
            },
            "OutlineColor": {
              "locationName": "outlineColor",
              "type": "string",
              "enum": [
                "BLACK",
                "WHITE",
                "YELLOW",
                "RED",
                "GREEN",
                "BLUE"
              ]
            },
            "OutlineSize": {
              "shape": "S5k",
              "locationName": "outlineSize"
            },
            "ShadowColor": {
              "locationName": "shadowColor",
              "type": "string",
              "enum": [
                "NONE",
                "BLACK",
                "WHITE"
              ]
            },
            "ShadowOpacity": {
              "shape": "S3v",
              "locationName": "shadowOpacity"
            },
            "ShadowXOffset": {
              "shape": "Sm",
              "locationName": "shadowXOffset"
            },
            "ShadowYOffset": {
              "shape": "Sm",
              "locationName": "shadowYOffset"
            },
            "TeletextSpacing": {
              "locationName": "teletextSpacing",
              "type": "string",
              "enum": [
                "FIXED_GRID",
                "PROPORTIONAL"
              ]
            },
            "XPosition": {
              "shape": "S1u",
              "locationName": "xPosition"
            },
            "YPosition": {
              "shape": "S1u",
              "locationName": "yPosition"
            }
          }
        },
        "DestinationType": {
          "locationName": "destinationType",
          "type": "string",
          "enum": [
            "BURN_IN",
            "DVB_SUB",
            "EMBEDDED",
            "SCC",
            "SRT",
            "TELETEXT",
            "TTML",
            "WEBVTT"
          ]
        },
        "DvbSubDestinationSettings": {
          "locationName": "dvbSubDestinationSettings",
          "type": "structure",
          "members": {
            "Alignment": {
              "locationName": "alignment",
              "type": "string",
              "enum": [
                "CENTERED",
                "LEFT"
              ]
            },
            "BackgroundColor": {
              "locationName": "backgroundColor",
              "type": "string",
              "enum": [
                "NONE",
                "BLACK",
                "WHITE"
              ]
            },
            "BackgroundOpacity": {
              "shape": "S3v",
              "locationName": "backgroundOpacity"
            },
            "FontColor": {
              "locationName": "fontColor",
              "type": "string",
              "enum": [
                "WHITE",
                "BLACK",
                "YELLOW",
                "RED",
                "GREEN",
                "BLUE"
              ]
            },
            "FontOpacity": {
              "shape": "S3v",
              "locationName": "fontOpacity"
            },
            "FontResolution": {
              "shape": "S5h",
              "locationName": "fontResolution"
            },
            "FontSize": {
              "shape": "S5i",
              "locationName": "fontSize"
            },
            "OutlineColor": {
              "locationName": "outlineColor",
              "type": "string",
              "enum": [
                "BLACK",
                "WHITE",
                "YELLOW",
                "RED",
                "GREEN",
                "BLUE"
              ]
            },
            "OutlineSize": {
              "shape": "S5k",
              "locationName": "outlineSize"
            },
            "ShadowColor": {
              "locationName": "shadowColor",
              "type": "string",
              "enum": [
                "NONE",
                "BLACK",
                "WHITE"
              ]
            },
            "ShadowOpacity": {
              "shape": "S3v",
              "locationName": "shadowOpacity"
            },
            "ShadowXOffset": {
              "shape": "Sm",
              "locationName": "shadowXOffset"
            },
            "ShadowYOffset": {
              "shape": "Sm",
              "locationName": "shadowYOffset"
            },
            "TeletextSpacing": {
              "locationName": "teletextSpacing",
              "type": "string",
              "enum": [
                "FIXED_GRID",
                "PROPORTIONAL"
              ]
            },
            "XPosition": {
              "shape": "S1u",
              "locationName": "xPosition"
            },
            "YPosition": {
              "shape": "S1u",
              "locationName": "yPosition"
            }
          }
        },
        "SccDestinationSettings": {
          "locationName": "sccDestinationSettings",
          "type": "structure",
          "members": {
            "Framerate": {
              "locationName": "framerate",
              "type": "string",
              "enum": [
                "FRAMERATE_23_97",
                "FRAMERATE_24",
                "FRAMERATE_29_97_DROPFRAME",
                "FRAMERATE_29_97_NON_DROPFRAME"
              ]
            }
          }
        },
        "TeletextDestinationSettings": {
          "locationName": "teletextDestinationSettings",
          "type": "structure",
          "members": {
            "PageNumber": {
              "shape": "S1d",
              "locationName": "pageNumber"
            }
          }
        },
        "TtmlDestinationSettings": {
          "locationName": "ttmlDestinationSettings",
          "type": "structure",
          "members": {
            "StylePassthrough": {
              "locationName": "stylePassthrough",
              "type": "string",
              "enum": [
                "ENABLED",
                "DISABLED"
              ]
            }
          }
        }
      }
    },
    "S5h": {
      "type": "integer",
      "min": 96,
      "max": 600
    },
    "S5i": {
      "type": "integer",
      "min": 0,
      "max": 96
    },
    "S5k": {
      "type": "integer",
      "min": 0,
      "max": 10
    },
    "S60": {
      "type": "structure",
      "members": {
        "Container": {
          "locationName": "container",
          "type": "string",
          "enum": [
            "F4V",
            "ISMV",
            "M2TS",
            "M3U8",
            "CMFC",
            "MOV",
            "MP4",
            "MPD",
            "MXF",
            "RAW"
          ]
        },
        "F4vSettings": {
          "locationName": "f4vSettings",
          "type": "structure",
          "members": {
            "MoovPlacement": {
              "locationName": "moovPlacement",
              "type": "string",
              "enum": [
                "PROGRESSIVE_DOWNLOAD",
                "NORMAL"
              ]
            }
          }
        },
        "M2tsSettings": {
          "locationName": "m2tsSettings",
          "type": "structure",
          "members": {
            "AudioBufferModel": {
              "locationName": "audioBufferModel",
              "type": "string",
              "enum": [
                "DVB",
                "ATSC"
              ]
            },
            "AudioFramesPerPes": {
              "shape": "S1u",
              "locationName": "audioFramesPerPes"
            },
            "AudioPids": {
              "shape": "S66",
              "locationName": "audioPids"
            },
            "Bitrate": {
              "shape": "S1u",
              "locationName": "bitrate"
            },
            "BufferModel": {
              "locationName": "bufferModel",
              "type": "string",
              "enum": [
                "MULTIPLEX",
                "NONE"
              ]
            },
            "DvbNitSettings": {
              "locationName": "dvbNitSettings",
              "type": "structure",
              "members": {
                "NetworkId": {
                  "shape": "S1t",
                  "locationName": "networkId"
                },
                "NetworkName": {
                  "shape": "S6a",
                  "locationName": "networkName"
                },
                "NitInterval": {
                  "locationName": "nitInterval",
                  "type": "integer",
                  "min": 25,
                  "max": 10000
                }
              }
            },
            "DvbSdtSettings": {
              "locationName": "dvbSdtSettings",
              "type": "structure",
              "members": {
                "OutputSdt": {
                  "locationName": "outputSdt",
                  "type": "string",
                  "enum": [
                    "SDT_FOLLOW",
                    "SDT_FOLLOW_IF_PRESENT",
                    "SDT_MANUAL",
                    "SDT_NONE"
                  ]
                },
                "SdtInterval": {
                  "locationName": "sdtInterval",
                  "type": "integer",
                  "min": 25,
                  "max": 2000
                },
                "ServiceName": {
                  "shape": "S6a",
                  "locationName": "serviceName"
                },
                "ServiceProviderName": {
                  "shape": "S6a",
                  "locationName": "serviceProviderName"
                }
              }
            },
            "DvbSubPids": {
              "shape": "S66",
              "locationName": "dvbSubPids"
            },
            "DvbTdtSettings": {
              "locationName": "dvbTdtSettings",
              "type": "structure",
              "members": {
                "TdtInterval": {
                  "locationName": "tdtInterval",
                  "type": "integer",
                  "min": 1000,
                  "max": 30000
                }
              }
            },
            "DvbTeletextPid": {
              "shape": "S67",
              "locationName": "dvbTeletextPid"
            },
            "EbpAudioInterval": {
              "locationName": "ebpAudioInterval",
              "type": "string",
              "enum": [
                "VIDEO_AND_FIXED_INTERVALS",
                "VIDEO_INTERVAL"
              ]
            },
            "EbpPlacement": {
              "locationName": "ebpPlacement",
              "type": "string",
              "enum": [
                "VIDEO_AND_AUDIO_PIDS",
                "VIDEO_PID"
              ]
            },
            "EsRateInPes": {
              "locationName": "esRateInPes",
              "type": "string",
              "enum": [
                "INCLUDE",
                "EXCLUDE"
              ]
            },
            "FragmentTime": {
              "locationName": "fragmentTime",
              "type": "double"
            },
            "MaxPcrInterval": {
              "locationName": "maxPcrInterval",
              "type": "integer",
              "min": 0,
              "max": 500
            },
            "MinEbpInterval": {
              "locationName": "minEbpInterval",
              "type": "integer",
              "min": 0,
              "max": 10000
            },
            "NielsenId3": {
              "locationName": "nielsenId3",
              "type": "string",
              "enum": [
                "INSERT",
                "NONE"
              ]
            },
            "NullPacketBitrate": {
              "locationName": "nullPacketBitrate",
              "type": "double"
            },
            "PatInterval": {
              "shape": "S6o",
              "locationName": "patInterval"
            },
            "PcrControl": {
              "locationName": "pcrControl",
              "type": "string",
              "enum": [
                "PCR_EVERY_PES_PACKET",
                "CONFIGURED_PCR_PERIOD"
              ]
            },
            "PcrPid": {
              "shape": "S67",
              "locationName": "pcrPid"
            },
            "PmtInterval": {
              "shape": "S6o",
              "locationName": "pmtInterval"
            },
            "PmtPid": {
              "shape": "S67",
              "locationName": "pmtPid"
            },
            "PrivateMetadataPid": {
              "shape": "S67",
              "locationName": "privateMetadataPid"
            },
            "ProgramNumber": {
              "shape": "S1t",
              "locationName": "programNumber"
            },
            "RateMode": {
              "locationName": "rateMode",
              "type": "string",
              "enum": [
                "VBR",
                "CBR"
              ]
            },
            "Scte35Pid": {
              "shape": "S67",
              "locationName": "scte35Pid"
            },
            "Scte35Source": {
              "locationName": "scte35Source",
              "type": "string",
              "enum": [
                "PASSTHROUGH",
                "NONE"
              ]
            },
            "SegmentationMarkers": {
              "locationName": "segmentationMarkers",
              "type": "string",
              "enum": [
                "NONE",
                "RAI_SEGSTART",
                "RAI_ADAPT",
                "PSI_SEGSTART",
                "EBP",
                "EBP_LEGACY"
              ]
            },
            "SegmentationStyle": {
              "locationName": "segmentationStyle",
              "type": "string",
              "enum": [
                "MAINTAIN_CADENCE",
                "RESET_CADENCE"
              ]
            },
            "SegmentationTime": {
              "locationName": "segmentationTime",
              "type": "double"
            },
            "TimedMetadataPid": {
              "shape": "S67",
              "locationName": "timedMetadataPid"
            },
            "TransportStreamId": {
              "shape": "S1t",
              "locationName": "transportStreamId"
            },
            "VideoPid": {
              "shape": "S67",
              "locationName": "videoPid"
            }
          }
        },
        "M3u8Settings": {
          "locationName": "m3u8Settings",
          "type": "structure",
          "members": {
            "AudioFramesPerPes": {
              "shape": "S1u",
              "locationName": "audioFramesPerPes"
            },
            "AudioPids": {
              "shape": "S66",
              "locationName": "audioPids"
            },
            "NielsenId3": {
              "locationName": "nielsenId3",
              "type": "string",
              "enum": [
                "INSERT",
                "NONE"
              ]
            },
            "PatInterval": {
              "shape": "S6o",
              "locationName": "patInterval"
            },
            "PcrControl": {
              "locationName": "pcrControl",
              "type": "string",
              "enum": [
                "PCR_EVERY_PES_PACKET",
                "CONFIGURED_PCR_PERIOD"
              ]
            },
            "PcrPid": {
              "shape": "S67",
              "locationName": "pcrPid"
            },
            "PmtInterval": {
              "shape": "S6o",
              "locationName": "pmtInterval"
            },
            "PmtPid": {
              "shape": "S67",
              "locationName": "pmtPid"
            },
            "PrivateMetadataPid": {
              "shape": "S67",
              "locationName": "privateMetadataPid"
            },
            "ProgramNumber": {
              "shape": "S1t",
              "locationName": "programNumber"
            },
            "Scte35Pid": {
              "shape": "S67",
              "locationName": "scte35Pid"
            },
            "Scte35Source": {
              "locationName": "scte35Source",
              "type": "string",
              "enum": [
                "PASSTHROUGH",
                "NONE"
              ]
            },
            "TimedMetadata": {
              "locationName": "timedMetadata",
              "type": "string",
              "enum": [
                "PASSTHROUGH",
                "NONE"
              ]
            },
            "TimedMetadataPid": {
              "shape": "S67",
              "locationName": "timedMetadataPid"
            },
            "TransportStreamId": {
              "shape": "S1t",
              "locationName": "transportStreamId"
            },
            "VideoPid": {
              "shape": "S67",
              "locationName": "videoPid"
            }
          }
        },
        "MovSettings": {
          "locationName": "movSettings",
          "type": "structure",
          "members": {
            "ClapAtom": {
              "locationName": "clapAtom",
              "type": "string",
              "enum": [
                "INCLUDE",
                "EXCLUDE"
              ]
            },
            "CslgAtom": {
              "locationName": "cslgAtom",
              "type": "string",
              "enum": [
                "INCLUDE",
                "EXCLUDE"
              ]
            },
            "Mpeg2FourCCControl": {
              "locationName": "mpeg2FourCCControl",
              "type": "string",
              "enum": [
                "XDCAM",
                "MPEG"
              ]
            },
            "PaddingControl": {
              "locationName": "paddingControl",
              "type": "string",
              "enum": [
                "OMNEON",
                "NONE"
              ]
            },
            "Reference": {
              "locationName": "reference",
              "type": "string",
              "enum": [
                "SELF_CONTAINED",
                "EXTERNAL"
              ]
            }
          }
        },
        "Mp4Settings": {
          "locationName": "mp4Settings",
          "type": "structure",
          "members": {
            "CslgAtom": {
              "locationName": "cslgAtom",
              "type": "string",
              "enum": [
                "INCLUDE",
                "EXCLUDE"
              ]
            },
            "FreeSpaceBox": {
              "locationName": "freeSpaceBox",
              "type": "string",
              "enum": [
                "INCLUDE",
                "EXCLUDE"
              ]
            },
            "MoovPlacement": {
              "locationName": "moovPlacement",
              "type": "string",
              "enum": [
                "PROGRESSIVE_DOWNLOAD",
                "NORMAL"
              ]
            },
            "Mp4MajorBrand": {
              "locationName": "mp4MajorBrand"
            }
          }
        }
      }
    },
    "S66": {
      "type": "list",
      "member": {
        "shape": "S67"
      }
    },
    "S67": {
      "type": "integer",
      "min": 32,
      "max": 8182
    },
    "S6a": {
      "type": "string",
      "min": 1,
      "max": 256
    },
    "S6o": {
      "type": "integer",
      "min": 0,
      "max": 1000
    },
    "S7e": {
      "type": "structure",
      "members": {
        "AfdSignaling": {
          "locationName": "afdSignaling",
          "type": "string",
          "enum": [
            "NONE",
            "AUTO",
            "FIXED"
          ]
        },
        "AntiAlias": {
          "locationName": "antiAlias",
          "type": "string",
          "enum": [
            "DISABLED",
            "ENABLED"
          ]
        },
        "CodecSettings": {
          "locationName": "codecSettings",
          "type": "structure",
          "members": {
            "Codec": {
              "locationName": "codec",
              "type": "string",
              "enum": [
                "FRAME_CAPTURE",
                "H_264",
                "H_265",
                "MPEG2",
                "PRORES"
              ]
            },
            "FrameCaptureSettings": {
              "locationName": "frameCaptureSettings",
              "type": "structure",
              "members": {
                "FramerateDenominator": {
                  "shape": "So",
                  "locationName": "framerateDenominator"
                },
                "FramerateNumerator": {
                  "shape": "So",
                  "locationName": "framerateNumerator"
                },
                "MaxCaptures": {
                  "locationName": "maxCaptures",
                  "type": "integer",
                  "min": 1,
                  "max": 10000000
                },
                "Quality": {
                  "shape": "S7l",
                  "locationName": "quality"
                }
              }
            },
            "H264Settings": {
              "locationName": "h264Settings",
              "type": "structure",
              "members": {
                "AdaptiveQuantization": {
                  "locationName": "adaptiveQuantization",
                  "type": "string",
                  "enum": [
                    "OFF",
                    "LOW",
                    "MEDIUM",
                    "HIGH",
                    "HIGHER",
                    "MAX"
                  ]
                },
                "Bitrate": {
                  "shape": "S7o",
                  "locationName": "bitrate"
                },
                "CodecLevel": {
                  "locationName": "codecLevel",
                  "type": "string",
                  "enum": [
                    "AUTO",
                    "LEVEL_1",
                    "LEVEL_1_1",
                    "LEVEL_1_2",
                    "LEVEL_1_3",
                    "LEVEL_2",
                    "LEVEL_2_1",
                    "LEVEL_2_2",
                    "LEVEL_3",
                    "LEVEL_3_1",
                    "LEVEL_3_2",
                    "LEVEL_4",
                    "LEVEL_4_1",
                    "LEVEL_4_2",
                    "LEVEL_5",
                    "LEVEL_5_1",
[...]
