{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-02-26",
    "endpointPrefix": "mgn",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "mgn",
    "serviceFullName": "Application Migration Service",
    "serviceId": "mgn",
    "signatureVersion": "v4",
    "signingName": "mgn",
    "uid": "mgn-2020-02-26"
  },
  "operations": {
    "ArchiveApplication": {
      "http": {
        "requestUri": "/ArchiveApplication",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "applicationID"
        ],
        "members": {
          "applicationID": {}
        }
      },
      "output": {
        "shape": "S3"
      }
    },
    "ArchiveWave": {
      "http": {
        "requestUri": "/ArchiveWave",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "waveID"
        ],
        "members": {
          "waveID": {}
        }
      },
      "output": {
        "shape": "Si"
      }
    },
    "AssociateApplications": {
      "http": {
        "requestUri": "/AssociateApplications",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "applicationIDs",
          "waveID"
        ],
        "members": {
          "applicationIDs": {
            "shape": "Sp"
          },
          "waveID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "AssociateSourceServers": {
      "http": {
        "requestUri": "/AssociateSourceServers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "applicationID",
          "sourceServerIDs"
        ],
        "members": {
          "applicationID": {},
          "sourceServerIDs": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "ChangeServerLifeCycleState": {
      "http": {
        "requestUri": "/ChangeServerLifeCycleState",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "lifeCycle",
          "sourceServerID"
        ],
        "members": {
          "lifeCycle": {
            "type": "structure",
            "required": [
              "state"
            ],
            "members": {
              "state": {}
            }
          },
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "Sy"
      }
    },
    "CreateApplication": {
      "http": {
        "requestUri": "/CreateApplication",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "description": {},
          "name": {},
          "tags": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "shape": "S3"
      },
      "idempotent": true
    },
    "CreateLaunchConfigurationTemplate": {
      "http": {
        "requestUri": "/CreateLaunchConfigurationTemplate",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "associatePublicIpAddress": {
            "type": "boolean"
          },
          "bootMode": {},
          "copyPrivateIp": {
            "type": "boolean"
          },
          "copyTags": {
            "type": "boolean"
          },
          "enableMapAutoTagging": {
            "type": "boolean"
          },
          "largeVolumeConf": {
            "shape": "S27"
          },
          "launchDisposition": {},
          "licensing": {
            "shape": "S2a"
          },
          "mapAutoTaggingMpeID": {},
          "postLaunchActions": {
            "shape": "S2b"
          },
          "smallVolumeConf": {
            "shape": "S27"
          },
          "smallVolumeMaxSize": {
            "type": "long"
          },
          "tags": {
            "shape": "Sd"
          },
          "targetInstanceTypeRightSizingMethod": {}
        }
      },
      "output": {
        "shape": "S2q"
      }
    },
    "CreateReplicationConfigurationTemplate": {
      "http": {
        "requestUri": "/CreateReplicationConfigurationTemplate",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "associateDefaultSecurityGroup",
          "bandwidthThrottling",
          "createPublicIP",
          "dataPlaneRouting",
          "defaultLargeStagingDiskType",
          "ebsEncryption",
          "replicationServerInstanceType",
          "replicationServersSecurityGroupsIDs",
          "stagingAreaSubnetId",
          "stagingAreaTags",
          "useDedicatedReplicationServer"
        ],
        "members": {
          "associateDefaultSecurityGroup": {
            "type": "boolean"
          },
          "bandwidthThrottling": {
            "type": "long"
          },
          "createPublicIP": {
            "type": "boolean"
          },
          "dataPlaneRouting": {},
          "defaultLargeStagingDiskType": {},
          "ebsEncryption": {},
          "ebsEncryptionKeyArn": {},
          "replicationServerInstanceType": {},
          "replicationServersSecurityGroupsIDs": {
            "shape": "S2x"
          },
          "stagingAreaSubnetId": {},
          "stagingAreaTags": {
            "shape": "Sd"
          },
          "tags": {
            "shape": "Sd"
          },
          "useDedicatedReplicationServer": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "shape": "S30"
      }
    },
    "CreateWave": {
      "http": {
        "requestUri": "/CreateWave",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "description": {},
          "name": {},
          "tags": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "shape": "Si"
      },
      "idempotent": true
    },
    "DeleteApplication": {
      "http": {
        "requestUri": "/DeleteApplication",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "applicationID"
        ],
        "members": {
          "applicationID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteJob": {
      "http": {
        "requestUri": "/DeleteJob",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "jobID"
        ],
        "members": {
          "jobID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteLaunchConfigurationTemplate": {
      "http": {
        "requestUri": "/DeleteLaunchConfigurationTemplate",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "launchConfigurationTemplateID"
        ],
        "members": {
          "launchConfigurationTemplateID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteReplicationConfigurationTemplate": {
      "http": {
        "requestUri": "/DeleteReplicationConfigurationTemplate",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "replicationConfigurationTemplateID"
        ],
        "members": {
          "replicationConfigurationTemplateID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteSourceServer": {
      "http": {
        "requestUri": "/DeleteSourceServer",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteVcenterClient": {
      "http": {
        "requestUri": "/DeleteVcenterClient",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "vcenterClientID"
        ],
        "members": {
          "vcenterClientID": {}
        }
      },
      "idempotent": true
    },
    "DeleteWave": {
      "http": {
        "requestUri": "/DeleteWave",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "waveID"
        ],
        "members": {
          "waveID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DescribeJobLogItems": {
      "http": {
        "requestUri": "/DescribeJobLogItems",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "jobID"
        ],
        "members": {
          "jobID": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "event": {},
                "eventData": {
                  "type": "structure",
                  "members": {
                    "conversionServerID": {},
                    "rawError": {},
                    "sourceServerID": {},
                    "targetInstanceID": {}
                  }
                },
                "logDateTime": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeJobs": {
      "http": {
        "requestUri": "/DescribeJobs",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "type": "structure",
            "members": {
              "fromDate": {},
              "jobIDs": {
                "type": "list",
                "member": {}
              },
              "toDate": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "shape": "S3t"
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeLaunchConfigurationTemplates": {
      "http": {
        "requestUri": "/DescribeLaunchConfigurationTemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "launchConfigurationTemplateIDs": {
            "type": "list",
            "member": {}
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "shape": "S2q"
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeReplicationConfigurationTemplates": {
      "http": {
        "requestUri": "/DescribeReplicationConfigurationTemplates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "replicationConfigurationTemplateIDs": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "shape": "S30"
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeSourceServers": {
      "http": {
        "requestUri": "/DescribeSourceServers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "type": "structure",
            "members": {
              "applicationIDs": {
                "type": "list",
                "member": {}
              },
              "isArchived": {
                "type": "boolean"
              },
              "lifeCycleStates": {
                "type": "list",
                "member": {}
              },
              "replicationTypes": {
                "type": "list",
                "member": {}
              },
              "sourceServerIDs": {
                "type": "list",
                "member": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "shape": "Sy"
            }
          },
          "nextToken": {}
        }
      }
    },
    "DescribeVcenterClients": {
      "http": {
        "method": "GET",
        "requestUri": "/DescribeVcenterClients",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "datacenterName": {},
                "hostname": {},
                "lastSeenDatetime": {},
                "sourceServerTags": {
                  "shape": "Sd"
                },
                "tags": {
                  "shape": "Sd"
                },
                "vcenterClientID": {},
                "vcenterUUID": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "DisassociateApplications": {
      "http": {
        "requestUri": "/DisassociateApplications",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "applicationIDs",
          "waveID"
        ],
        "members": {
          "applicationIDs": {
            "shape": "Sp"
          },
          "waveID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DisassociateSourceServers": {
      "http": {
        "requestUri": "/DisassociateSourceServers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "applicationID",
          "sourceServerIDs"
        ],
        "members": {
          "applicationID": {},
          "sourceServerIDs": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DisconnectFromService": {
      "http": {
        "requestUri": "/DisconnectFromService",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "Sy"
      }
    },
    "FinalizeCutover": {
      "http": {
        "requestUri": "/FinalizeCutover",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "Sy"
      }
    },
    "GetLaunchConfiguration": {
      "http": {
        "requestUri": "/GetLaunchConfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "S4x"
      }
    },
    "GetReplicationConfiguration": {
      "http": {
        "requestUri": "/GetReplicationConfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "S50"
      }
    },
    "InitializeService": {
      "http": {
        "requestUri": "/InitializeService",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ListApplications": {
      "http": {
        "requestUri": "/ListApplications",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "type": "structure",
            "members": {
              "applicationIDs": {
                "type": "list",
                "member": {}
              },
              "isArchived": {
                "type": "boolean"
              },
              "waveIDs": {
                "shape": "S59"
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "shape": "S3"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListSourceServerActions": {
      "http": {
        "requestUri": "/ListSourceServerActions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "filters": {
            "type": "structure",
            "members": {
              "actionIDs": {
                "shape": "S5e"
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "sourceServerID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "shape": "S5i"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "Sd"
          }
        }
      }
    },
    "ListTemplateActions": {
      "http": {
        "requestUri": "/ListTemplateActions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "launchConfigurationTemplateID"
        ],
        "members": {
          "filters": {
            "type": "structure",
            "members": {
              "actionIDs": {
                "shape": "S5e"
              }
            }
          },
          "launchConfigurationTemplateID": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "shape": "S5s"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListWaves": {
      "http": {
        "requestUri": "/ListWaves",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "type": "structure",
            "members": {
              "isArchived": {
                "type": "boolean"
              },
              "waveIDs": {
                "shape": "S59"
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "items": {
            "type": "list",
            "member": {
              "shape": "Si"
            }
          },
          "nextToken": {}
        }
      }
    },
    "MarkAsArchived": {
      "http": {
        "requestUri": "/MarkAsArchived",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "Sy"
      }
    },
    "PutSourceServerAction": {
      "http": {
        "requestUri": "/PutSourceServerAction",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "actionID",
          "actionName",
          "documentIdentifier",
          "order",
          "sourceServerID"
        ],
        "members": {
          "actionID": {},
          "actionName": {},
          "active": {
            "type": "boolean"
          },
          "documentIdentifier": {},
          "documentVersion": {},
          "mustSucceedForCutover": {
            "type": "boolean"
          },
          "order": {
            "type": "integer"
          },
          "parameters": {
            "shape": "S2h"
          },
          "sourceServerID": {},
          "timeoutSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "shape": "S5i"
      }
    },
    "PutTemplateAction": {
      "http": {
        "requestUri": "/PutTemplateAction",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "actionID",
          "actionName",
          "documentIdentifier",
          "launchConfigurationTemplateID",
          "order"
        ],
        "members": {
          "actionID": {},
          "actionName": {},
          "active": {
            "type": "boolean"
          },
          "documentIdentifier": {},
          "documentVersion": {},
          "launchConfigurationTemplateID": {},
          "mustSucceedForCutover": {
            "type": "boolean"
          },
          "operatingSystem": {},
          "order": {
            "type": "integer"
          },
          "parameters": {
            "shape": "S2h"
          },
          "timeoutSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "shape": "S5s"
      }
    },
    "RemoveSourceServerAction": {
      "http": {
        "requestUri": "/RemoveSourceServerAction",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "actionID",
          "sourceServerID"
        ],
        "members": {
          "actionID": {},
          "sourceServerID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RemoveTemplateAction": {
      "http": {
        "requestUri": "/RemoveTemplateAction",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "actionID",
          "launchConfigurationTemplateID"
        ],
        "members": {
          "actionID": {},
          "launchConfigurationTemplateID": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RetryDataReplication": {
      "http": {
        "requestUri": "/RetryDataReplication",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "Sy"
      }
    },
    "StartCutover": {
      "http": {
        "requestUri": "/StartCutover",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerIDs"
        ],
        "members": {
          "sourceServerIDs": {
            "type": "list",
            "member": {}
          },
          "tags": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "job": {
            "shape": "S3t"
          }
        }
      }
    },
    "StartReplication": {
      "http": {
        "requestUri": "/StartReplication",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "Sy"
      }
    },
    "StartTest": {
      "http": {
        "requestUri": "/StartTest",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerIDs"
        ],
        "members": {
          "sourceServerIDs": {
            "type": "list",
            "member": {}
          },
          "tags": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "job": {
            "shape": "S3t"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "Sd"
          }
        }
      },
      "idempotent": true
    },
    "TerminateTargetInstances": {
      "http": {
        "requestUri": "/TerminateTargetInstances",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerIDs"
        ],
        "members": {
          "sourceServerIDs": {
            "type": "list",
            "member": {}
          },
          "tags": {
            "shape": "Sd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "job": {
            "shape": "S3t"
          }
        }
      }
    },
    "UnarchiveApplication": {
      "http": {
        "requestUri": "/UnarchiveApplication",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "applicationID"
        ],
        "members": {
          "applicationID": {}
        }
      },
      "output": {
        "shape": "S3"
      }
    },
    "UnarchiveWave": {
      "http": {
        "requestUri": "/UnarchiveWave",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "waveID"
        ],
        "members": {
          "waveID": {}
        }
      },
      "output": {
        "shape": "Si"
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {},
            "sensitive": true
          }
        }
      },
      "idempotent": true
    },
    "UpdateApplication": {
      "http": {
        "requestUri": "/UpdateApplication",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "applicationID"
        ],
        "members": {
          "applicationID": {},
          "description": {},
          "name": {}
        }
      },
      "output": {
        "shape": "S3"
      },
      "idempotent": true
    },
    "UpdateLaunchConfiguration": {
      "http": {
        "requestUri": "/UpdateLaunchConfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "bootMode": {},
          "copyPrivateIp": {
            "type": "boolean"
          },
          "copyTags": {
            "type": "boolean"
          },
          "enableMapAutoTagging": {
            "type": "boolean"
          },
          "launchDisposition": {},
          "licensing": {
            "shape": "S2a"
          },
          "mapAutoTaggingMpeID": {},
          "name": {},
          "postLaunchActions": {
            "shape": "S2b"
          },
          "sourceServerID": {},
          "targetInstanceTypeRightSizingMethod": {}
        }
      },
      "output": {
        "shape": "S4x"
      },
      "idempotent": true
    },
    "UpdateLaunchConfigurationTemplate": {
      "http": {
        "requestUri": "/UpdateLaunchConfigurationTemplate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "launchConfigurationTemplateID"
        ],
        "members": {
          "associatePublicIpAddress": {
            "type": "boolean"
          },
          "bootMode": {},
          "copyPrivateIp": {
            "type": "boolean"
          },
          "copyTags": {
            "type": "boolean"
          },
          "enableMapAutoTagging": {
            "type": "boolean"
          },
          "largeVolumeConf": {
            "shape": "S27"
          },
          "launchConfigurationTemplateID": {},
          "launchDisposition": {},
          "licensing": {
            "shape": "S2a"
          },
          "mapAutoTaggingMpeID": {},
          "postLaunchActions": {
            "shape": "S2b"
          },
          "smallVolumeConf": {
            "shape": "S27"
          },
          "smallVolumeMaxSize": {
            "type": "long"
          },
          "targetInstanceTypeRightSizingMethod": {}
        }
      },
      "output": {
        "shape": "S2q"
      }
    },
    "UpdateReplicationConfiguration": {
      "http": {
        "requestUri": "/UpdateReplicationConfiguration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sourceServerID"
        ],
        "members": {
          "associateDefaultSecurityGroup": {
            "type": "boolean"
          },
          "bandwidthThrottling": {
            "type": "long"
          },
          "createPublicIP": {
            "type": "boolean"
          },
          "dataPlaneRouting": {},
          "defaultLargeStagingDiskType": {},
          "ebsEncryption": {},
          "ebsEncryptionKeyArn": {},
          "name": {},
          "replicatedDisks": {
            "shape": "S51"
          },
          "replicationServerInstanceType": {},
          "replicationServersSecurityGroupsIDs": {
            "shape": "S2x"
          },
          "sourceServerID": {},
          "stagingAreaSubnetId": {},
          "stagingAreaTags": {
            "shape": "Sd"
          },
          "useDedicatedReplicationServer": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "shape": "S50"
      },
      "idempotent": true
    },
    "UpdateReplicationConfigurationTemplate": {
      "http": {
        "requestUri": "/UpdateReplicationConfigurationTemplate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "replicationConfigurationTemplateID"
        ],
        "members": {
          "arn": {},
          "associateDefaultSecurityGroup": {
            "type": "boolean"
          },
          "bandwidthThrottling": {
            "type": "long"
          },
          "createPublicIP": {
            "type": "boolean"
          },
          "dataPlaneRouting": {},
          "defaultLargeStagingDiskType": {},
          "ebsEncryption": {},
          "ebsEncryptionKeyArn": {},
          "replicationConfigurationTemplateID": {},
          "replicationServerInstanceType": {},
          "replicationServersSecurityGroupsIDs": {
            "shape": "S2x"
          },
          "stagingAreaSubnetId": {},
          "stagingAreaTags": {
            "shape": "Sd"
          },
          "useDedicatedReplicationServer": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "shape": "S30"
      }
    },
    "UpdateSourceServerReplicationType": {
      "http": {
        "requestUri": "/UpdateSourceServerReplicationType",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "replicationType",
          "sourceServerID"
        ],
        "members": {
          "replicationType": {},
          "sourceServerID": {}
        }
      },
      "output": {
        "shape": "Sy"
      }
    },
    "UpdateWave": {
      "http": {
        "requestUri": "/UpdateWave",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "waveID"
        ],
        "members": {
          "description": {},
          "name": {},
          "waveID": {}
        }
      },
      "output": {
        "shape": "Si"
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S3": {
      "type": "structure",
      "members": {
        "applicationAggregatedStatus": {
          "type": "structure",
          "members": {
            "healthStatus": {},
            "lastUpdateDateTime": {},
            "progressStatus": {},
            "totalSourceServers": {
              "type": "long"
            }
          }
        },
        "applicationID": {},
        "arn": {},
        "creationDateTime": {},
        "description": {},
        "isArchived": {
          "type": "boolean"
        },
        "lastModifiedDateTime": {},
        "name": {},
        "tags": {
          "shape": "Sd"
        },
        "waveID": {}
      }
    },
    "Sd": {
      "type": "map",
      "key": {},
      "value": {},
      "sensitive": true
    },
    "Si": {
      "type": "structure",
      "members": {
        "arn": {},
        "creationDateTime": {},
        "description": {},
        "isArchived": {
          "type": "boolean"
        },
        "lastModifiedDateTime": {},
        "name": {},
        "tags": {
          "shape": "Sd"
        },
        "waveAggregatedStatus": {
          "type": "structure",
          "members": {
            "healthStatus": {},
            "lastUpdateDateTime": {},
            "progressStatus": {},
            "replicationStartedDateTime": {},
            "totalApplications": {
              "type": "long"
            }
          }
        },
        "waveID": {}
      }
    },
    "Sp": {
      "type": "list",
      "member": {}
    },
    "Sy": {
      "type": "structure",
      "members": {
        "applicationID": {},
        "arn": {},
        "dataReplicationInfo": {
          "type": "structure",
          "members": {
            "dataReplicationError": {
              "type": "structure",
              "members": {
                "error": {},
                "rawError": {}
              }
            },
            "dataReplicationInitiation": {
              "type": "structure",
              "members": {
                "nextAttemptDateTime": {},
                "startDateTime": {},
                "steps": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "status": {}
                    }
                  }
                }
              }
            },
            "dataReplicationState": {},
            "etaDateTime": {},
            "lagDuration": {},
            "lastSnapshotDateTime": {},
            "replicatedDisks": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "backloggedStorageBytes": {
                    "type": "long"
                  },
                  "deviceName": {},
                  "replicatedStorageBytes": {
                    "type": "long"
                  },
                  "rescannedStorageBytes": {
                    "type": "long"
                  },
                  "totalStorageBytes": {
                    "type": "long"
                  }
                }
              }
            }
          }
        },
        "isArchived": {
          "type": "boolean"
        },
        "launchedInstance": {
          "type": "structure",
          "members": {
            "ec2InstanceID": {},
            "firstBoot": {},
            "jobID": {}
          }
        },
        "lifeCycle": {
          "type": "structure",
          "members": {
            "addedToServiceDateTime": {},
            "elapsedReplicationDuration": {},
            "firstByteDateTime": {},
            "lastCutover": {
              "type": "structure",
              "members": {
                "finalized": {
                  "type": "structure",
                  "members": {
                    "apiCallDateTime": {}
                  }
                },
                "initiated": {
                  "type": "structure",
                  "members": {
                    "apiCallDateTime": {},
                    "jobID": {}
                  }
                },
                "reverted": {
                  "type": "structure",
                  "members": {
                    "apiCallDateTime": {}
                  }
                }
              }
            },
            "lastSeenByServiceDateTime": {},
            "lastTest": {
              "type": "structure",
              "members": {
                "finalized": {
                  "type": "structure",
                  "members": {
                    "apiCallDateTime": {}
                  }
                },
                "initiated": {
                  "type": "structure",
                  "members": {
                    "apiCallDateTime": {},
                    "jobID": {}
                  }
                },
                "reverted": {
                  "type": "structure",
                  "members": {
                    "apiCallDateTime": {}
                  }
                }
              }
            },
            "state": {}
          }
        },
        "replicationType": {},
        "sourceProperties": {
          "type": "structure",
          "members": {
            "cpus": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "cores": {
                    "type": "long"
                  },
                  "modelName": {}
                }
              }
            },
            "disks": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "bytes": {
                    "type": "long"
                  },
                  "deviceName": {}
                }
              }
            },
            "identificationHints": {
              "type": "structure",
              "members": {
                "awsInstanceID": {},
                "fqdn": {},
                "hostname": {},
                "vmPath": {},
                "vmWareUuid": {}
              }
            },
            "lastUpdatedDateTime": {},
            "networkInterfaces": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "ips": {
                    "type": "list",
                    "member": {}
                  },
                  "isPrimary": {
                    "type": "boolean"
                  },
                  "macAddress": {}
                }
              }
            },
            "os": {
              "type": "structure",
              "members": {
                "fullString": {}
              }
            },
            "ramBytes": {
              "type": "long"
            },
            "recommendedInstanceType": {}
          }
        },
        "sourceServerID": {},
        "tags": {
          "shape": "Sd"
        },
        "vcenterClientID": {}
      }
    },
    "S27": {
      "type": "structure",
      "members": {
        "iops": {
          "type": "long"
        },
        "throughput": {
          "type": "long"
        },
        "volumeType": {}
      }
    },
    "S2a": {
      "type": "structure",
      "members": {
        "osByol": {
          "type": "boolean"
        }
      }
    },
    "S2b": {
      "type": "structure",
      "members": {
        "cloudWatchLogGroupName": {},
        "deployment": {},
        "s3LogBucket": {},
        "s3OutputKeyPrefix": {},
        "ssmDocuments": {
          "type": "list",
          "member": {
            "shape": "S2g"
          }
        }
      }
    },
    "S2g": {
      "type": "structure",
      "required": [
        "actionName",
        "ssmDocumentName"
      ],
      "members": {
        "actionName": {},
        "mustSucceedForCutover": {
          "type": "boolean"
        },
        "parameters": {
          "shape": "S2h"
        },
        "ssmDocumentName": {},
        "timeoutSeconds": {
          "type": "integer"
        }
      }
    },
    "S2h": {
      "type": "map",
      "key": {},
      "value": {
        "type": "list",
        "member": {
          "type": "structure",
          "required": [
            "parameterName",
            "parameterType"
          ],
          "members": {
            "parameterName": {},
            "parameterType": {}
          }
        }
      }
    },
    "S2q": {
      "type": "structure",
      "required": [
        "launchConfigurationTemplateID"
      ],
      "members": {
        "arn": {},
        "associatePublicIpAddress": {
          "type": "boolean"
        },
        "bootMode": {},
        "copyPrivateIp": {
          "type": "boolean"
        },
        "copyTags": {
          "type": "boolean"
        },
        "ec2LaunchTemplateID": {},
        "enableMapAutoTagging": {
          "type": "boolean"
        },
        "largeVolumeConf": {
          "shape": "S27"
        },
        "launchConfigurationTemplateID": {},
        "launchDisposition": {},
        "licensing": {
          "shape": "S2a"
        },
        "mapAutoTaggingMpeID": {},
        "postLaunchActions": {
          "shape": "S2b"
        },
        "smallVolumeConf": {
          "shape": "S27"
        },
        "smallVolumeMaxSize": {
          "type": "long"
        },
        "tags": {
          "shape": "Sd"
        },
        "targetInstanceTypeRightSizingMethod": {}
      }
    },
    "S2x": {
      "type": "list",
      "member": {}
    },
    "S30": {
      "type": "structure",
      "required": [
        "replicationConfigurationTemplateID"
      ],
      "members": {
        "arn": {},
        "associateDefaultSecurityGroup": {
          "type": "boolean"
        },
        "bandwidthThrottling": {
          "type": "long"
        },
        "createPublicIP": {
          "type": "boolean"
        },
        "dataPlaneRouting": {},
        "defaultLargeStagingDiskType": {},
        "ebsEncryption": {},
        "ebsEncryptionKeyArn": {},
        "replicationConfigurationTemplateID": {},
        "replicationServerInstanceType": {},
        "replicationServersSecurityGroupsIDs": {
          "shape": "S2x"
        },
        "stagingAreaSubnetId": {},
        "stagingAreaTags": {
          "shape": "Sd"
        },
        "tags": {
          "shape": "Sd"
        },
        "useDedicatedReplicationServer": {
          "type": "boolean"
        }
      }
    },
    "S3t": {
      "type": "structure",
      "required": [
        "jobID"
      ],
      "members": {
        "arn": {},
        "creationDateTime": {},
        "endDateTime": {},
        "initiatedBy": {},
        "jobID": {},
        "participatingServers": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "sourceServerID"
            ],
            "members": {
              "launchStatus": {},
              "launchedEc2InstanceID": {},
              "postLaunchActionsStatus": {
                "type": "structure",
                "members": {
                  "postLaunchActionsLaunchStatusList": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "executionID": {},
                        "executionStatus": {},
                        "failureReason": {},
                        "ssmDocument": {
                          "shape": "S2g"
                        },
                        "ssmDocumentType": {}
                      }
                    }
                  },
                  "ssmAgentDiscoveryDatetime": {}
                }
              },
              "sourceServerID": {}
            }
          }
        },
        "status": {},
        "tags": {
          "shape": "Sd"
        },
        "type": {}
      }
    },
    "S4x": {
      "type": "structure",
      "members": {
        "bootMode": {},
        "copyPrivateIp": {
          "type": "boolean"
        },
        "copyTags": {
          "type": "boolean"
        },
        "ec2LaunchTemplateID": {},
        "enableMapAutoTagging": {
          "type": "boolean"
        },
        "launchDisposition": {},
        "licensing": {
          "shape": "S2a"
        },
        "mapAutoTaggingMpeID": {},
        "name": {},
        "postLaunchActions": {
          "shape": "S2b"
        },
        "sourceServerID": {},
        "targetInstanceTypeRightSizingMethod": {}
      }
    },
    "S50": {
      "type": "structure",
      "members": {
        "associateDefaultSecurityGroup": {
          "type": "boolean"
        },
        "bandwidthThrottling": {
          "type": "long"
        },
        "createPublicIP": {
          "type": "boolean"
        },
        "dataPlaneRouting": {},
        "defaultLargeStagingDiskType": {},
        "ebsEncryption": {},
        "ebsEncryptionKeyArn": {},
        "name": {},
        "replicatedDisks": {
          "shape": "S51"
        },
        "replicationServerInstanceType": {},
        "replicationServersSecurityGroupsIDs": {
          "shape": "S2x"
        },
        "sourceServerID": {},
        "stagingAreaSubnetId": {},
        "stagingAreaTags": {
          "shape": "Sd"
        },
        "useDedicatedReplicationServer": {
          "type": "boolean"
        }
      }
    },
    "S51": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "deviceName": {},
          "iops": {
            "type": "long"
          },
          "isBootDisk": {
            "type": "boolean"
          },
          "stagingDiskType": {},
          "throughput": {
            "type": "long"
          }
        }
      }
    },
    "S59": {
      "type": "list",
      "member": {}
    },
    "S5e": {
      "type": "list",
      "member": {}
    },
    "S5i": {
      "type": "structure",
      "members": {
        "actionID": {},
        "actionName": {},
        "active": {
          "type": "boolean"
        },
        "documentIdentifier": {},
        "documentVersion": {},
        "mustSucceedForCutover": {
          "type": "boolean"
        },
        "order": {
          "type": "integer"
        },
        "parameters": {
          "shape": "S2h"
        },
        "timeoutSeconds": {
          "type": "integer"
        }
      }
    },
    "S5s": {
      "type": "structure",
      "members": {
        "actionID": {},
        "actionName": {},
        "active": {
          "type": "boolean"
        },
        "documentIdentifier": {},
        "documentVersion": {},
        "mustSucceedForCutover": {
          "type": "boolean"
        },
        "operatingSystem": {},
        "order": {
          "type": "integer"
        },
        "parameters": {
          "shape": "S2h"
        },
        "timeoutSeconds": {
          "type": "integer"
        }
      }
    }
  }
}