{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-08-07",
    "endpointPrefix": "models-v2-lex",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Lex Models V2",
    "serviceFullName": "Amazon Lex Model Building V2",
    "serviceId": "Lex Models V2",
    "signatureVersion": "v4",
    "signingName": "lex",
    "uid": "models.lex.v2-2020-08-07"
  },
  "operations": {
    "BatchCreateCustomVocabularyItem": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchcreate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId",
          "customVocabularyItemList"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "customVocabularyItemList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "phrase"
              ],
              "members": {
                "phrase": {},
                "weight": {
                  "type": "integer"
                },
                "displayAs": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "errors": {
            "shape": "Sa"
          },
          "resources": {
            "shape": "Sf"
          }
        }
      }
    },
    "BatchDeleteCustomVocabularyItem": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchdelete",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId",
          "customVocabularyItemList"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "customVocabularyItemList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "itemId"
              ],
              "members": {
                "itemId": {}
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "errors": {
            "shape": "Sa"
          },
          "resources": {
            "shape": "Sf"
          }
        }
      }
    },
    "BatchUpdateCustomVocabularyItem": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchupdate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId",
          "customVocabularyItemList"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "customVocabularyItemList": {
            "type": "list",
            "member": {
              "shape": "Sg"
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "errors": {
            "shape": "Sa"
          },
          "resources": {
            "shape": "Sf"
          }
        }
      }
    },
    "BuildBotLocale": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "botLocaleStatus": {},
          "lastBuildSubmittedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateBot": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botName",
          "roleArn",
          "dataPrivacy",
          "idleSessionTTLInSeconds"
        ],
        "members": {
          "botName": {},
          "description": {},
          "roleArn": {},
          "dataPrivacy": {
            "shape": "Sx"
          },
          "idleSessionTTLInSeconds": {
            "type": "integer"
          },
          "botTags": {
            "shape": "S10"
          },
          "testBotAliasTags": {
            "shape": "S10"
          },
          "botType": {},
          "botMembers": {
            "shape": "S14"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botName": {},
          "description": {},
          "roleArn": {},
          "dataPrivacy": {
            "shape": "Sx"
          },
          "idleSessionTTLInSeconds": {
            "type": "integer"
          },
          "botStatus": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "botTags": {
            "shape": "S10"
          },
          "testBotAliasTags": {
            "shape": "S10"
          },
          "botType": {},
          "botMembers": {
            "shape": "S14"
          }
        }
      }
    },
    "CreateBotAlias": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botaliases/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botAliasName",
          "botId"
        ],
        "members": {
          "botAliasName": {},
          "description": {},
          "botVersion": {},
          "botAliasLocaleSettings": {
            "shape": "S1c"
          },
          "conversationLogSettings": {
            "shape": "S1j"
          },
          "sentimentAnalysisSettings": {
            "shape": "S1x"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "tags": {
            "shape": "S10"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botAliasId": {},
          "botAliasName": {},
          "description": {},
          "botVersion": {},
          "botAliasLocaleSettings": {
            "shape": "S1c"
          },
          "conversationLogSettings": {
            "shape": "S1j"
          },
          "sentimentAnalysisSettings": {
            "shape": "S1x"
          },
          "botAliasStatus": {},
          "botId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "S10"
          }
        }
      }
    },
    "CreateBotLocale": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId",
          "nluIntentConfidenceThreshold"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {},
          "description": {},
          "nluIntentConfidenceThreshold": {
            "type": "double"
          },
          "voiceSettings": {
            "shape": "S22"
          },
          "generativeAISettings": {
            "shape": "S25"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeName": {},
          "localeId": {},
          "description": {},
          "nluIntentConfidenceThreshold": {
            "type": "double"
          },
          "voiceSettings": {
            "shape": "S22"
          },
          "botLocaleStatus": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "generativeAISettings": {
            "shape": "S25"
          }
        }
      }
    },
    "CreateBotReplica": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/replicas/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "replicaRegion"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "replicaRegion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "replicaRegion": {},
          "sourceRegion": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "botReplicaStatus": {}
        }
      }
    },
    "CreateBotVersion": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersionLocaleSpecification"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "description": {},
          "botVersionLocaleSpecification": {
            "shape": "S2l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "description": {},
          "botVersion": {},
          "botVersionLocaleSpecification": {
            "shape": "S2l"
          },
          "botStatus": {},
          "creationDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateExport": {
      "http": {
        "method": "PUT",
        "requestUri": "/exports/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceSpecification",
          "fileFormat"
        ],
        "members": {
          "resourceSpecification": {
            "shape": "S2p"
          },
          "fileFormat": {},
          "filePassword": {
            "shape": "S2v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "exportId": {},
          "resourceSpecification": {
            "shape": "S2p"
          },
          "fileFormat": {},
          "exportStatus": {},
          "creationDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateIntent": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "intentName",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "intentName": {},
          "description": {},
          "parentIntentSignature": {},
          "sampleUtterances": {
            "shape": "S30"
          },
          "dialogCodeHook": {
            "shape": "S33"
          },
          "fulfillmentCodeHook": {
            "shape": "S34"
          },
          "intentConfirmationSetting": {
            "shape": "S4c"
          },
          "intentClosingSetting": {
            "shape": "S4u"
          },
          "inputContexts": {
            "shape": "S4v"
          },
          "outputContexts": {
            "shape": "S4x"
          },
          "kendraConfiguration": {
            "shape": "S51"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "initialResponseSetting": {
            "shape": "S54"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "intentId": {},
          "intentName": {},
          "description": {},
          "parentIntentSignature": {},
          "sampleUtterances": {
            "shape": "S30"
          },
          "dialogCodeHook": {
            "shape": "S33"
          },
          "fulfillmentCodeHook": {
            "shape": "S34"
          },
          "intentConfirmationSetting": {
            "shape": "S4c"
          },
          "intentClosingSetting": {
            "shape": "S4u"
          },
          "inputContexts": {
            "shape": "S4v"
          },
          "outputContexts": {
            "shape": "S4x"
          },
          "kendraConfiguration": {
            "shape": "S51"
          },
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "initialResponseSetting": {
            "shape": "S54"
          }
        }
      }
    },
    "CreateResourcePolicy": {
      "http": {
        "requestUri": "/policy/{resourceArn}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "policy"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "policy": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourceArn": {},
          "revisionId": {}
        }
      }
    },
    "CreateResourcePolicyStatement": {
      "http": {
        "requestUri": "/policy/{resourceArn}/statements/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "statementId",
          "effect",
          "principal",
          "action"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "statementId": {},
          "effect": {},
          "principal": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "service": {},
                "arn": {}
              }
            }
          },
          "action": {
            "type": "list",
            "member": {}
          },
          "condition": {
            "type": "map",
            "key": {},
            "value": {
              "type": "map",
              "key": {},
              "value": {}
            }
          },
          "expectedRevisionId": {
            "location": "querystring",
            "locationName": "expectedRevisionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourceArn": {},
          "revisionId": {}
        }
      }
    },
    "CreateSlot": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "slotName",
          "valueElicitationSetting",
          "botId",
          "botVersion",
          "localeId",
          "intentId"
        ],
        "members": {
          "slotName": {},
          "description": {},
          "slotTypeId": {},
          "valueElicitationSetting": {
            "shape": "S5r"
          },
          "obfuscationSetting": {
            "shape": "S64"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          },
          "multipleValuesSetting": {
            "shape": "S66"
          },
          "subSlotSetting": {
            "shape": "S67"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotId": {},
          "slotName": {},
          "description": {},
          "slotTypeId": {},
          "valueElicitationSetting": {
            "shape": "S5r"
          },
          "obfuscationSetting": {
            "shape": "S64"
          },
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "intentId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "multipleValuesSetting": {
            "shape": "S66"
          },
          "subSlotSetting": {
            "shape": "S67"
          }
        }
      }
    },
    "CreateSlotType": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "slotTypeName",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "slotTypeName": {},
          "description": {},
          "slotTypeValues": {
            "shape": "S6e"
          },
          "valueSelectionSetting": {
            "shape": "S6j"
          },
          "parentSlotTypeSignature": {},
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "externalSourceSetting": {
            "shape": "S6q"
          },
          "compositeSlotTypeSetting": {
            "shape": "S6v"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotTypeId": {},
          "slotTypeName": {},
          "description": {},
          "slotTypeValues": {
            "shape": "S6e"
          },
          "valueSelectionSetting": {
            "shape": "S6j"
          },
          "parentSlotTypeSignature": {},
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "externalSourceSetting": {
            "shape": "S6q"
          },
          "compositeSlotTypeSetting": {
            "shape": "S6v"
          }
        }
      }
    },
    "CreateTestSetDiscrepancyReport": {
      "http": {
        "requestUri": "/testsets/{testSetId}/testsetdiscrepancy",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "testSetId",
          "target"
        ],
        "members": {
          "testSetId": {
            "location": "uri",
            "locationName": "testSetId"
          },
          "target": {
            "shape": "S70"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "testSetDiscrepancyReportId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "testSetId": {},
          "target": {
            "shape": "S70"
          }
        }
      }
    },
    "CreateUploadUrl": {
      "http": {
        "requestUri": "/createuploadurl/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "importId": {},
          "uploadUrl": {}
        }
      }
    },
    "DeleteBot": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "skipResourceInUseCheck": {
            "location": "querystring",
            "locationName": "skipResourceInUseCheck",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botStatus": {}
        }
      }
    },
    "DeleteBotAlias": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botAliasId",
          "botId"
        ],
        "members": {
          "botAliasId": {
            "location": "uri",
            "locationName": "botAliasId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "skipResourceInUseCheck": {
            "location": "querystring",
            "locationName": "skipResourceInUseCheck",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botAliasId": {},
          "botId": {},
          "botAliasStatus": {}
        }
      }
    },
    "DeleteBotLocale": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "botLocaleStatus": {}
        }
      }
    },
    "DeleteBotReplica": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/replicas/{replicaRegion}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "replicaRegion"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "replicaRegion": {
            "location": "uri",
            "locationName": "replicaRegion"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "replicaRegion": {},
          "botReplicaStatus": {}
        }
      }
    },
    "DeleteBotVersion": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "skipResourceInUseCheck": {
            "location": "querystring",
            "locationName": "skipResourceInUseCheck",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "botStatus": {}
        }
      }
    },
    "DeleteCustomVocabulary": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "customVocabularyStatus": {}
        }
      }
    },
    "DeleteExport": {
      "http": {
        "method": "DELETE",
        "requestUri": "/exports/{exportId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "exportId"
        ],
        "members": {
          "exportId": {
            "location": "uri",
            "locationName": "exportId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "exportId": {},
          "exportStatus": {}
        }
      }
    },
    "DeleteImport": {
      "http": {
        "method": "DELETE",
        "requestUri": "/imports/{importId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "importId"
        ],
        "members": {
          "importId": {
            "location": "uri",
            "locationName": "importId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "importId": {},
          "importStatus": {}
        }
      }
    },
    "DeleteIntent": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "intentId",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      }
    },
    "DeleteResourcePolicy": {
      "http": {
        "method": "DELETE",
        "requestUri": "/policy/{resourceArn}/",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "expectedRevisionId": {
            "location": "querystring",
            "locationName": "expectedRevisionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourceArn": {},
          "revisionId": {}
        }
      }
    },
    "DeleteResourcePolicyStatement": {
      "http": {
        "method": "DELETE",
        "requestUri": "/policy/{resourceArn}/statements/{statementId}/",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "statementId"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "statementId": {
            "location": "uri",
            "locationName": "statementId"
          },
          "expectedRevisionId": {
            "location": "querystring",
            "locationName": "expectedRevisionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourceArn": {},
          "revisionId": {}
        }
      }
    },
    "DeleteSlot": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "slotId",
          "botId",
          "botVersion",
          "localeId",
          "intentId"
        ],
        "members": {
          "slotId": {
            "location": "uri",
            "locationName": "slotId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          }
        }
      }
    },
    "DeleteSlotType": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "slotTypeId",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "slotTypeId": {
            "location": "uri",
            "locationName": "slotTypeId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "skipResourceInUseCheck": {
            "location": "querystring",
            "locationName": "skipResourceInUseCheck",
            "type": "boolean"
          }
        }
      }
    },
    "DeleteTestSet": {
      "http": {
        "method": "DELETE",
        "requestUri": "/testsets/{testSetId}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "testSetId"
        ],
        "members": {
          "testSetId": {
            "location": "uri",
            "locationName": "testSetId"
          }
        }
      },
      "idempotent": true
    },
    "DeleteUtterances": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/utterances/",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "botId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "localeId": {
            "location": "querystring",
            "locationName": "localeId"
          },
          "sessionId": {
            "location": "querystring",
            "locationName": "sessionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeBot": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botName": {},
          "description": {},
          "roleArn": {},
          "dataPrivacy": {
            "shape": "Sx"
          },
          "idleSessionTTLInSeconds": {
            "type": "integer"
          },
          "botStatus": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          },
          "botType": {},
          "botMembers": {
            "shape": "S14"
          },
          "failureReasons": {
            "shape": "S82"
          }
        }
      }
    },
    "DescribeBotAlias": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botAliasId",
          "botId"
        ],
        "members": {
          "botAliasId": {
            "location": "uri",
            "locationName": "botAliasId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botAliasId": {},
          "botAliasName": {},
          "description": {},
          "botVersion": {},
          "botAliasLocaleSettings": {
            "shape": "S1c"
          },
          "conversationLogSettings": {
            "shape": "S1j"
          },
          "sentimentAnalysisSettings": {
            "shape": "S1x"
          },
          "botAliasHistoryEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "botVersion": {},
                "startDate": {
                  "type": "timestamp"
                },
                "endDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "botAliasStatus": {},
          "botId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          },
          "parentBotNetworks": {
            "shape": "S88"
          }
        }
      }
    },
    "DescribeBotLocale": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "localeName": {},
          "description": {},
          "nluIntentConfidenceThreshold": {
            "type": "double"
          },
          "voiceSettings": {
            "shape": "S22"
          },
          "intentsCount": {
            "type": "integer"
          },
          "slotTypesCount": {
            "type": "integer"
          },
          "botLocaleStatus": {},
          "failureReasons": {
            "shape": "S82"
          },
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          },
          "lastBuildSubmittedDateTime": {
            "type": "timestamp"
          },
          "botLocaleHistoryEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "event",
                "eventDate"
              ],
              "members": {
                "event": {},
                "eventDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "recommendedActions": {
            "shape": "S8g"
          },
          "generativeAISettings": {
            "shape": "S25"
          }
        }
      }
    },
    "DescribeBotRecommendation": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId",
          "botRecommendationId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "botRecommendationId": {
            "location": "uri",
            "locationName": "botRecommendationId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "botRecommendationStatus": {},
          "botRecommendationId": {},
          "failureReasons": {
            "shape": "S82"
          },
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          },
          "transcriptSourceSetting": {
            "shape": "S8l"
          },
          "encryptionSetting": {
            "shape": "S8u"
          },
          "botRecommendationResults": {
            "type": "structure",
            "members": {
              "botLocaleExportUrl": {},
              "associatedTranscriptsUrl": {},
              "statistics": {
                "type": "structure",
                "members": {
                  "intents": {
                    "type": "structure",
                    "members": {
                      "discoveredIntentCount": {
                        "type": "integer"
                      }
                    }
                  },
                  "slotTypes": {
                    "type": "structure",
                    "members": {
                      "discoveredSlotTypeCount": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeBotReplica": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/replicas/{replicaRegion}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "replicaRegion"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "replicaRegion": {
            "location": "uri",
            "locationName": "replicaRegion"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "replicaRegion": {},
          "sourceRegion": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "botReplicaStatus": {},
          "failureReasons": {
            "shape": "S82"
          }
        }
      }
    },
    "DescribeBotResourceGeneration": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/generations/{generationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId",
          "generationId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "generationId": {
            "location": "uri",
            "locationName": "generationId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "generationId": {},
          "failureReasons": {
            "shape": "S82"
          },
          "generationStatus": {},
          "generationInputPrompt": {},
          "generatedBotLocaleUrl": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "modelArn": {},
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeBotVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botName": {},
          "botVersion": {},
          "description": {},
          "roleArn": {},
          "dataPrivacy": {
            "shape": "Sx"
          },
          "idleSessionTTLInSeconds": {
            "type": "integer"
          },
          "botStatus": {},
          "failureReasons": {
            "shape": "S82"
          },
          "creationDateTime": {
            "type": "timestamp"
          },
          "parentBotNetworks": {
            "shape": "S88"
          },
          "botType": {},
          "botMembers": {
            "shape": "S14"
          }
        }
      }
    },
    "DescribeCustomVocabularyMetadata": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/metadata",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "customVocabularyStatus": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeExport": {
      "http": {
        "method": "GET",
        "requestUri": "/exports/{exportId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "exportId"
        ],
        "members": {
          "exportId": {
            "location": "uri",
            "locationName": "exportId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "exportId": {},
          "resourceSpecification": {
            "shape": "S2p"
          },
          "fileFormat": {},
          "exportStatus": {},
          "failureReasons": {
            "shape": "S82"
          },
          "downloadUrl": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeImport": {
      "http": {
        "method": "GET",
        "requestUri": "/imports/{importId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "importId"
        ],
        "members": {
          "importId": {
            "location": "uri",
            "locationName": "importId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "importId": {},
          "resourceSpecification": {
            "shape": "S9f"
          },
          "importedResourceId": {},
          "importedResourceName": {},
          "mergeStrategy": {},
          "importStatus": {},
          "failureReasons": {
            "shape": "S82"
          },
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeIntent": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "intentId",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "intentId": {},
          "intentName": {},
          "description": {},
          "parentIntentSignature": {},
          "sampleUtterances": {
            "shape": "S30"
          },
          "dialogCodeHook": {
            "shape": "S33"
          },
          "fulfillmentCodeHook": {
            "shape": "S34"
          },
          "slotPriorities": {
            "shape": "S9r"
          },
          "intentConfirmationSetting": {
            "shape": "S4c"
          },
          "intentClosingSetting": {
            "shape": "S4u"
          },
          "inputContexts": {
            "shape": "S4v"
          },
          "outputContexts": {
            "shape": "S4x"
          },
          "kendraConfiguration": {
            "shape": "S51"
          },
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          },
          "initialResponseSetting": {
            "shape": "S54"
          }
        }
      }
    },
    "DescribeResourcePolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/policy/{resourceArn}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourceArn": {},
          "policy": {},
          "revisionId": {}
        }
      }
    },
    "DescribeSlot": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "slotId",
          "botId",
          "botVersion",
          "localeId",
          "intentId"
        ],
        "members": {
          "slotId": {
            "location": "uri",
            "locationName": "slotId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotId": {},
          "slotName": {},
          "description": {},
          "slotTypeId": {},
          "valueElicitationSetting": {
            "shape": "S5r"
          },
          "obfuscationSetting": {
            "shape": "S64"
          },
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "intentId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          },
          "multipleValuesSetting": {
            "shape": "S66"
          },
          "subSlotSetting": {
            "shape": "S67"
          }
        }
      }
    },
    "DescribeSlotType": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "slotTypeId",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "slotTypeId": {
            "location": "uri",
            "locationName": "slotTypeId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotTypeId": {},
          "slotTypeName": {},
          "description": {},
          "slotTypeValues": {
            "shape": "S6e"
          },
          "valueSelectionSetting": {
            "shape": "S6j"
          },
          "parentSlotTypeSignature": {},
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          },
          "externalSourceSetting": {
            "shape": "S6q"
          },
          "compositeSlotTypeSetting": {
            "shape": "S6v"
          }
        }
      }
    },
    "DescribeTestExecution": {
      "http": {
        "method": "GET",
        "requestUri": "/testexecutions/{testExecutionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "testExecutionId"
        ],
        "members": {
          "testExecutionId": {
            "location": "uri",
            "locationName": "testExecutionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "testExecutionId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          },
          "testExecutionStatus": {},
          "testSetId": {},
          "testSetName": {},
          "target": {
            "shape": "Sa3"
          },
          "apiMode": {},
          "testExecutionModality": {},
          "failureReasons": {
            "shape": "S82"
          }
        }
      }
    },
    "DescribeTestSet": {
      "http": {
        "method": "GET",
        "requestUri": "/testsets/{testSetId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "testSetId"
        ],
        "members": {
          "testSetId": {
            "location": "uri",
            "locationName": "testSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "testSetId": {},
          "testSetName": {},
          "description": {},
          "modality": {},
          "status": {},
          "roleArn": {},
          "numTurns": {
            "type": "integer"
          },
          "storageLocation": {
            "shape": "S9k"
          },
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeTestSetDiscrepancyReport": {
      "http": {
        "method": "GET",
        "requestUri": "/testsetdiscrepancy/{testSetDiscrepancyReportId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "testSetDiscrepancyReportId"
        ],
        "members": {
          "testSetDiscrepancyReportId": {
            "location": "uri",
            "locationName": "testSetDiscrepancyReportId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "testSetDiscrepancyReportId": {},
          "testSetId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "target": {
            "shape": "S70"
          },
          "testSetDiscrepancyReportStatus": {},
          "lastUpdatedDataTime": {
            "type": "timestamp"
          },
          "testSetDiscrepancyTopErrors": {
            "type": "structure",
            "required": [
              "intentDiscrepancies",
              "slotDiscrepancies"
            ],
            "members": {
              "intentDiscrepancies": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "intentName",
                    "errorMessage"
                  ],
                  "members": {
                    "intentName": {},
                    "errorMessage": {}
                  }
                }
              },
              "slotDiscrepancies": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "intentName",
                    "slotName",
                    "errorMessage"
                  ],
                  "members": {
                    "intentName": {},
                    "slotName": {},
                    "errorMessage": {}
                  }
                }
              }
            }
          },
          "testSetDiscrepancyRawOutputUrl": {},
          "failureReasons": {
            "shape": "S82"
          }
        }
      }
    },
    "DescribeTestSetGeneration": {
      "http": {
        "method": "GET",
        "requestUri": "/testsetgenerations/{testSetGenerationId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "testSetGenerationId"
        ],
        "members": {
          "testSetGenerationId": {
            "location": "uri",
            "locationName": "testSetGenerationId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "testSetGenerationId": {},
          "testSetGenerationStatus": {},
          "failureReasons": {
            "shape": "S82"
          },
          "testSetId": {},
          "testSetName": {},
          "description": {},
          "storageLocation": {
            "shape": "S9k"
          },
          "generationDataSource": {
            "shape": "Sal"
          },
          "roleArn": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "GenerateBotElement": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/generate",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "intentId",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "intentId": {},
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "intentId": {},
          "sampleUtterances": {
            "shape": "S30"
          }
        }
      }
    },
    "GetTestExecutionArtifactsUrl": {
      "http": {
        "method": "GET",
        "requestUri": "/testexecutions/{testExecutionId}/artifacturl",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "testExecutionId"
        ],
        "members": {
          "testExecutionId": {
            "location": "uri",
            "locationName": "testExecutionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "testExecutionId": {},
          "downloadArtifactsUrl": {}
        }
      }
    },
    "ListAggregatedUtterances": {
      "http": {
        "requestUri": "/bots/{botId}/aggregatedutterances/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "localeId",
          "aggregationDuration"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botAliasId": {},
          "botVersion": {},
          "localeId": {},
          "aggregationDuration": {
            "shape": "Sau"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "values",
                "operator"
              ],
              "members": {
                "name": {},
                "values": {
                  "shape": "Sb4"
                },
                "operator": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botAliasId": {},
          "botVersion": {},
          "localeId": {},
          "aggregationDuration": {
            "shape": "Sau"
          },
          "aggregationWindowStartTime": {
            "type": "timestamp"
          },
          "aggregationWindowEndTime": {
            "type": "timestamp"
          },
          "aggregationLastRefreshedDateTime": {
            "type": "timestamp"
          },
          "aggregatedUtterancesSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "utterance": {},
                "hitCount": {
                  "type": "integer"
                },
                "missedCount": {
                  "type": "integer"
                },
                "utteranceFirstRecordedInAggregationDuration": {
                  "type": "timestamp"
                },
                "utteranceLastRecordedInAggregationDuration": {
                  "type": "timestamp"
                },
                "containsDataFromDeletedResources": {
                  "type": "boolean"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListBotAliasReplicas": {
      "http": {
        "requestUri": "/bots/{botId}/replicas/{replicaRegion}/botaliases/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "replicaRegion"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "replicaRegion": {
            "location": "uri",
            "locationName": "replicaRegion"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "sourceRegion": {},
          "replicaRegion": {},
          "botAliasReplicaSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "botAliasId": {},
                "botAliasReplicationStatus": {},
                "botVersion": {},
                "creationDateTime": {
                  "type": "timestamp"
                },
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "failureReasons": {
                  "shape": "S82"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListBotAliases": {
      "http": {
        "requestUri": "/bots/{botId}/botaliases/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botAliasSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "botAliasId": {},
                "botAliasName": {},
                "description": {},
                "botVersion": {},
                "botAliasStatus": {},
                "creationDateTime": {
                  "type": "timestamp"
                },
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {},
          "botId": {}
        }
      }
    },
    "ListBotLocales": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "values",
                "operator"
              ],
              "members": {
                "name": {},
                "values": {
                  "shape": "Sb4"
                },
                "operator": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "nextToken": {},
          "botLocaleSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "localeId": {},
                "localeName": {},
                "description": {},
                "botLocaleStatus": {},
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "lastBuildSubmittedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListBotRecommendations": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "botRecommendationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "botRecommendationStatus",
                "botRecommendationId"
              ],
              "members": {
                "botRecommendationStatus": {},
                "botRecommendationId": {},
                "creationDateTime": {
                  "type": "timestamp"
                },
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListBotReplicas": {
      "http": {
        "requestUri": "/bots/{botId}/replicas/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "sourceRegion": {},
          "botReplicaSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "replicaRegion": {},
                "creationDateTime": {
                  "type": "timestamp"
                },
                "botReplicaStatus": {},
                "failureReasons": {
                  "shape": "S82"
                }
              }
            }
          }
        }
      }
    },
    "ListBotResourceGenerations": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/generations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "generationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "generationId": {},
                "generationStatus": {},
                "creationDateTime": {
                  "type": "timestamp"
                },
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListBotVersionReplicas": {
      "http": {
        "requestUri": "/bots/{botId}/replicas/{replicaRegion}/botversions/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "replicaRegion"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "replicaRegion": {
            "location": "uri",
            "locationName": "replicaRegion"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "sourceRegion": {},
          "replicaRegion": {},
          "botVersionReplicaSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "botVersion": {},
                "botVersionReplicationStatus": {},
                "creationDateTime": {
                  "type": "timestamp"
                },
                "failureReasons": {
                  "shape": "S82"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListBotVersions": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersionSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "botName": {},
                "botVersion": {},
                "description": {},
                "botStatus": {},
                "creationDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListBots": {
      "http": {
        "requestUri": "/bots/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "values",
                "operator"
              ],
              "members": {
                "name": {},
                "values": {
                  "shape": "Sb4"
                },
                "operator": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "botId": {},
                "botName": {},
                "description": {},
                "botStatus": {},
                "latestBotVersion": {},
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "botType": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListBuiltInIntents": {
      "http": {
        "requestUri": "/builtins/locales/{localeId}/intents/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "localeId"
        ],
        "members": {
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "builtInIntentSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "intentSignature": {},
                "description": {}
              }
            }
          },
          "nextToken": {},
          "localeId": {}
        }
      }
    },
    "ListBuiltInSlotTypes": {
      "http": {
        "requestUri": "/builtins/locales/{localeId}/slottypes/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "localeId"
        ],
        "members": {
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "builtInSlotTypeSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "slotTypeSignature": {},
                "description": {}
              }
            }
          },
          "nextToken": {},
          "localeId": {}
        }
      }
    },
    "ListCustomVocabularyItems": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/list",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "customVocabularyItems": {
            "shape": "Sf"
          },
          "nextToken": {}
        }
      }
    },
    "ListExports": {
      "http": {
        "requestUri": "/exports/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "values",
                "operator"
              ],
              "members": {
                "name": {},
                "values": {
                  "shape": "Sb4"
                },
                "operator": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "localeId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "exportSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "exportId": {},
                "resourceSpecification": {
                  "shape": "S2p"
                },
                "fileFormat": {},
                "exportStatus": {},
                "creationDateTime": {
                  "type": "timestamp"
                },
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {},
          "localeId": {}
        }
      }
    },
    "ListImports": {
      "http": {
        "requestUri": "/imports/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "values",
                "operator"
              ],
              "members": {
                "name": {},
                "values": {
                  "shape": "Sb4"
                },
                "operator": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "localeId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "importSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "importId": {},
                "importedResourceId": {},
                "importedResourceName": {},
                "importStatus": {},
                "mergeStrategy": {},
                "creationDateTime": {
                  "type": "timestamp"
                },
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "importedResourceType": {}
              }
            }
          },
          "nextToken": {},
          "localeId": {}
        }
      }
    },
    "ListIntentMetrics": {
      "http": {
        "requestUri": "/bots/{botId}/analytics/intentmetrics",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "startDateTime",
          "endDateTime",
          "metrics"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "startDateTime": {
            "type": "timestamp"
          },
          "endDateTime": {
            "type": "timestamp"
          },
          "metrics": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "statistic"
              ],
              "members": {
                "name": {},
                "statistic": {},
                "order": {}
              }
            }
          },
          "binBy": {
            "shape": "Se4"
          },
          "groupBy": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name"
              ],
              "members": {
                "name": {}
              }
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "operator",
                "values"
              ],
              "members": {
                "name": {},
                "operator": {},
                "values": {
                  "shape": "Sef"
                }
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "results": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "binKeys": {
                  "shape": "Sek"
                },
                "groupByKeys": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "value": {}
                    }
                  }
                },
                "metricsResults": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "statistic": {},
                      "value": {
                        "type": "double"
                      }
                    }
                  }
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListIntentPaths": {
      "http": {
        "requestUri": "/bots/{botId}/analytics/intentpaths",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "startDateTime",
          "endDateTime",
          "intentPath"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "startDateTime": {
            "type": "timestamp"
          },
          "endDateTime": {
            "type": "timestamp"
          },
          "intentPath": {},
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "operator",
                "values"
              ],
              "members": {
                "name": {},
                "operator": {},
                "values": {
                  "shape": "Sef"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nodeSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "intentName": {},
                "intentPath": {},
                "intentCount": {
                  "type": "integer"
                },
                "intentLevel": {
                  "type": "integer"
                },
                "nodeType": {}
              }
            }
          }
        }
      }
    },
    "ListIntentStageMetrics": {
      "http": {
        "requestUri": "/bots/{botId}/analytics/intentstagemetrics",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "startDateTime",
          "endDateTime",
          "metrics"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "startDateTime": {
            "type": "timestamp"
          },
          "endDateTime": {
            "type": "timestamp"
          },
          "metrics": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "statistic"
              ],
              "members": {
                "name": {},
                "statistic": {},
                "order": {}
              }
            }
          },
          "binBy": {
            "shape": "Se4"
          },
          "groupBy": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name"
              ],
              "members": {
                "name": {}
              }
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "operator",
                "values"
              ],
              "members": {
                "name": {},
                "operator": {},
                "values": {
                  "shape": "Sef"
                }
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "results": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "binKeys": {
                  "shape": "Sek"
                },
                "groupByKeys": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "value": {}
                    }
                  }
                },
                "metricsResults": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "statistic": {},
                      "value": {
                        "type": "double"
                      }
                    }
                  }
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListIntents": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "values",
                "operator"
              ],
              "members": {
                "name": {},
                "values": {
                  "shape": "Sb4"
                },
                "operator": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "intentSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "intentId": {},
                "intentName": {},
                "description": {},
                "parentIntentSignature": {},
                "inputContexts": {
                  "shape": "S4v"
                },
                "outputContexts": {
                  "shape": "S4x"
                },
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListRecommendedIntents": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/intents",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId",
          "botRecommendationId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "botRecommendationId": {
            "location": "uri",
            "locationName": "botRecommendationId"
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "botRecommendationId": {},
          "summaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "intentId": {},
                "intentName": {},
                "sampleUtterancesCount": {
                  "type": "integer"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListSessionAnalyticsData": {
      "http": {
        "requestUri": "/bots/{botId}/analytics/sessions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "startDateTime",
          "endDateTime"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "startDateTime": {
            "type": "timestamp"
          },
          "endDateTime": {
            "type": "timestamp"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "name",
              "order"
            ],
            "members": {
              "name": {},
              "order": {}
            }
          },
          "filters": {
            "shape": "Sg3"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "nextToken": {},
          "sessions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "botAliasId": {},
                "botVersion": {},
                "localeId": {},
                "channel": {},
                "sessionId": {},
                "conversationStartTime": {
                  "type": "timestamp"
                },
                "conversationEndTime": {
                  "type": "timestamp"
                },
                "conversationDurationSeconds": {
                  "type": "long"
                },
                "conversationEndState": {},
                "mode": {},
                "numberOfTurns": {
                  "type": "long"
                },
                "invokedIntentSamples": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "intentName": {}
                    }
                  }
                },
                "originatingRequestId": {}
              }
            }
          }
        }
      }
    },
    "ListSessionMetrics": {
      "http": {
        "requestUri": "/bots/{botId}/analytics/sessionmetrics",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "startDateTime",
          "endDateTime",
          "metrics"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "startDateTime": {
            "type": "timestamp"
          },
          "endDateTime": {
            "type": "timestamp"
          },
          "metrics": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "statistic"
              ],
              "members": {
                "name": {},
                "statistic": {},
                "order": {}
              }
            }
          },
          "binBy": {
            "shape": "Se4"
          },
          "groupBy": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name"
              ],
              "members": {
                "name": {}
              }
            }
          },
          "filters": {
            "shape": "Sg3"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "results": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "binKeys": {
                  "shape": "Sek"
                },
                "groupByKeys": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "value": {}
                    }
                  }
                },
                "metricsResults": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "name": {},
                      "statistic": {},
                      "value": {
                        "type": "double"
                      }
                    }
                  }
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListSlotTypes": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
[...]
