{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-08-07",
    "endpointPrefix": "models-v2-lex",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Lex Models V2",
    "serviceFullName": "Amazon Lex Model Building V2",
    "serviceId": "Lex Models V2",
    "signatureVersion": "v4",
    "signingName": "lex",
    "uid": "models.lex.v2-2020-08-07"
  },
  "operations": {
    "BuildBotLocale": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "botLocaleStatus": {},
          "lastBuildSubmittedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateBot": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botName",
          "roleArn",
          "dataPrivacy",
          "idleSessionTTLInSeconds"
        ],
        "members": {
          "botName": {},
          "description": {},
          "roleArn": {},
          "dataPrivacy": {
            "shape": "Sc"
          },
          "idleSessionTTLInSeconds": {
            "type": "integer"
          },
          "botTags": {
            "shape": "Sf"
          },
          "testBotAliasTags": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botName": {},
          "description": {},
          "roleArn": {},
          "dataPrivacy": {
            "shape": "Sc"
          },
          "idleSessionTTLInSeconds": {
            "type": "integer"
          },
          "botStatus": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "botTags": {
            "shape": "Sf"
          },
          "testBotAliasTags": {
            "shape": "Sf"
          }
        }
      }
    },
    "CreateBotAlias": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botaliases/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botAliasName",
          "botId"
        ],
        "members": {
          "botAliasName": {},
          "description": {},
          "botVersion": {},
          "botAliasLocaleSettings": {
            "shape": "Sm"
          },
          "conversationLogSettings": {
            "shape": "St"
          },
          "sentimentAnalysisSettings": {
            "shape": "S16"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "tags": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botAliasId": {},
          "botAliasName": {},
          "description": {},
          "botVersion": {},
          "botAliasLocaleSettings": {
            "shape": "Sm"
          },
          "conversationLogSettings": {
            "shape": "St"
          },
          "sentimentAnalysisSettings": {
            "shape": "S16"
          },
          "botAliasStatus": {},
          "botId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "Sf"
          }
        }
      }
    },
    "CreateBotLocale": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId",
          "nluIntentConfidenceThreshold"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {},
          "description": {},
          "nluIntentConfidenceThreshold": {
            "type": "double"
          },
          "voiceSettings": {
            "shape": "S1c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeName": {},
          "localeId": {},
          "description": {},
          "nluIntentConfidenceThreshold": {
            "type": "double"
          },
          "voiceSettings": {
            "shape": "S1c"
          },
          "botLocaleStatus": {},
          "creationDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateBotVersion": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersionLocaleSpecification"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "description": {},
          "botVersionLocaleSpecification": {
            "shape": "S1h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "description": {},
          "botVersion": {},
          "botVersionLocaleSpecification": {
            "shape": "S1h"
          },
          "botStatus": {},
          "creationDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateIntent": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "intentName",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "intentName": {},
          "description": {},
          "parentIntentSignature": {},
          "sampleUtterances": {
            "shape": "S1n"
          },
          "dialogCodeHook": {
            "shape": "S1q"
          },
          "fulfillmentCodeHook": {
            "shape": "S1r"
          },
          "intentConfirmationSetting": {
            "shape": "S1s"
          },
          "intentClosingSetting": {
            "shape": "S2e"
          },
          "inputContexts": {
            "shape": "S2f"
          },
          "outputContexts": {
            "shape": "S2h"
          },
          "kendraConfiguration": {
            "shape": "S2l"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "intentId": {},
          "intentName": {},
          "description": {},
          "parentIntentSignature": {},
          "sampleUtterances": {
            "shape": "S1n"
          },
          "dialogCodeHook": {
            "shape": "S1q"
          },
          "fulfillmentCodeHook": {
            "shape": "S1r"
          },
          "intentConfirmationSetting": {
            "shape": "S1s"
          },
          "intentClosingSetting": {
            "shape": "S2e"
          },
          "inputContexts": {
            "shape": "S2f"
          },
          "outputContexts": {
            "shape": "S2h"
          },
          "kendraConfiguration": {
            "shape": "S2l"
          },
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "creationDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateSlot": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "slotName",
          "slotTypeId",
          "valueElicitationSetting",
          "botId",
          "botVersion",
          "localeId",
          "intentId"
        ],
        "members": {
          "slotName": {},
          "description": {},
          "slotTypeId": {},
          "valueElicitationSetting": {
            "shape": "S2r"
          },
          "obfuscationSetting": {
            "shape": "S31"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotId": {},
          "slotName": {},
          "description": {},
          "slotTypeId": {},
          "valueElicitationSetting": {
            "shape": "S2r"
          },
          "obfuscationSetting": {
            "shape": "S31"
          },
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "intentId": {},
          "creationDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "CreateSlotType": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "slotTypeName",
          "valueSelectionSetting",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "slotTypeName": {},
          "description": {},
          "slotTypeValues": {
            "shape": "S35"
          },
          "valueSelectionSetting": {
            "shape": "S3a"
          },
          "parentSlotTypeSignature": {},
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotTypeId": {},
          "slotTypeName": {},
          "description": {},
          "slotTypeValues": {
            "shape": "S35"
          },
          "valueSelectionSetting": {
            "shape": "S3a"
          },
          "parentSlotTypeSignature": {},
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "creationDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DeleteBot": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "skipResourceInUseCheck": {
            "location": "querystring",
            "locationName": "skipResourceInUseCheck",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botStatus": {}
        }
      }
    },
    "DeleteBotAlias": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botAliasId",
          "botId"
        ],
        "members": {
          "botAliasId": {
            "location": "uri",
            "locationName": "botAliasId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "skipResourceInUseCheck": {
            "location": "querystring",
            "locationName": "skipResourceInUseCheck",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botAliasId": {},
          "botId": {},
          "botAliasStatus": {}
        }
      }
    },
    "DeleteBotLocale": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "botLocaleStatus": {}
        }
      }
    },
    "DeleteBotVersion": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "skipResourceInUseCheck": {
            "location": "querystring",
            "locationName": "skipResourceInUseCheck",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "botStatus": {}
        }
      }
    },
    "DeleteIntent": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "intentId",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      }
    },
    "DeleteSlot": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "slotId",
          "botId",
          "botVersion",
          "localeId",
          "intentId"
        ],
        "members": {
          "slotId": {
            "location": "uri",
            "locationName": "slotId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          }
        }
      }
    },
    "DeleteSlotType": {
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "slotTypeId",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "slotTypeId": {
            "location": "uri",
            "locationName": "slotTypeId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "skipResourceInUseCheck": {
            "location": "querystring",
            "locationName": "skipResourceInUseCheck",
            "type": "boolean"
          }
        }
      }
    },
    "DescribeBot": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botName": {},
          "description": {},
          "roleArn": {},
          "dataPrivacy": {
            "shape": "Sc"
          },
          "idleSessionTTLInSeconds": {
            "type": "integer"
          },
          "botStatus": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeBotAlias": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botAliasId",
          "botId"
        ],
        "members": {
          "botAliasId": {
            "location": "uri",
            "locationName": "botAliasId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botAliasId": {},
          "botAliasName": {},
          "description": {},
          "botVersion": {},
          "botAliasLocaleSettings": {
            "shape": "Sm"
          },
          "conversationLogSettings": {
            "shape": "St"
          },
          "sentimentAnalysisSettings": {
            "shape": "S16"
          },
          "botAliasHistoryEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "botVersion": {},
                "startDate": {
                  "type": "timestamp"
                },
                "endDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "botAliasStatus": {},
          "botId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeBotLocale": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "localeName": {},
          "description": {},
          "nluIntentConfidenceThreshold": {
            "type": "double"
          },
          "voiceSettings": {
            "shape": "S1c"
          },
          "intentsCount": {
            "type": "integer"
          },
          "slotTypesCount": {
            "type": "integer"
          },
          "botLocaleStatus": {},
          "failureReasons": {
            "shape": "S41"
          },
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          },
          "lastBuildSubmittedDateTime": {
            "type": "timestamp"
          },
          "botLocaleHistoryEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "event",
                "eventDate"
              ],
              "members": {
                "event": {},
                "eventDate": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "DescribeBotVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botName": {},
          "botVersion": {},
          "description": {},
          "roleArn": {},
          "dataPrivacy": {
            "shape": "Sc"
          },
          "idleSessionTTLInSeconds": {
            "type": "integer"
          },
          "botStatus": {},
          "failureReasons": {
            "shape": "S41"
          },
          "creationDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeIntent": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "intentId",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "intentId": {},
          "intentName": {},
          "description": {},
          "parentIntentSignature": {},
          "sampleUtterances": {
            "shape": "S1n"
          },
          "dialogCodeHook": {
            "shape": "S1q"
          },
          "fulfillmentCodeHook": {
            "shape": "S1r"
          },
          "slotPriorities": {
            "shape": "S4a"
          },
          "intentConfirmationSetting": {
            "shape": "S1s"
          },
          "intentClosingSetting": {
            "shape": "S2e"
          },
          "inputContexts": {
            "shape": "S2f"
          },
          "outputContexts": {
            "shape": "S2h"
          },
          "kendraConfiguration": {
            "shape": "S2l"
          },
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeSlot": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "slotId",
          "botId",
          "botVersion",
          "localeId",
          "intentId"
        ],
        "members": {
          "slotId": {
            "location": "uri",
            "locationName": "slotId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotId": {},
          "slotName": {},
          "description": {},
          "slotTypeId": {},
          "valueElicitationSetting": {
            "shape": "S2r"
          },
          "obfuscationSetting": {
            "shape": "S31"
          },
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "intentId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeSlotType": {
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "slotTypeId",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "slotTypeId": {
            "location": "uri",
            "locationName": "slotTypeId"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotTypeId": {},
          "slotTypeName": {},
          "description": {},
          "slotTypeValues": {
            "shape": "S35"
          },
          "valueSelectionSetting": {
            "shape": "S3a"
          },
          "parentSlotTypeSignature": {},
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "ListBotAliases": {
      "http": {
        "requestUri": "/bots/{botId}/botaliases/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botAliasSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "botAliasId": {},
                "botAliasName": {},
                "description": {},
                "botVersion": {},
                "botAliasStatus": {},
                "creationDateTime": {
                  "type": "timestamp"
                },
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {},
          "botId": {}
        }
      }
    },
    "ListBotLocales": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "values",
                "operator"
              ],
              "members": {
                "name": {},
                "values": {
                  "shape": "S4u"
                },
                "operator": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "nextToken": {},
          "botLocaleSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "localeId": {},
                "localeName": {},
                "description": {},
                "botLocaleStatus": {},
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                },
                "lastBuildSubmittedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListBotVersions": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersionSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "botName": {},
                "botVersion": {},
                "description": {},
                "botStatus": {},
                "creationDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListBots": {
      "http": {
        "requestUri": "/bots/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "values",
                "operator"
              ],
              "members": {
                "name": {},
                "values": {
                  "shape": "S4u"
                },
                "operator": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "botId": {},
                "botName": {},
                "description": {},
                "botStatus": {},
                "latestBotVersion": {},
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListBuiltInIntents": {
      "http": {
        "requestUri": "/builtins/locales/{localeId}/intents/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "localeId"
        ],
        "members": {
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "builtInIntentSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "intentSignature": {},
                "description": {}
              }
            }
          },
          "nextToken": {},
          "localeId": {}
        }
      }
    },
    "ListBuiltInSlotTypes": {
      "http": {
        "requestUri": "/builtins/locales/{localeId}/slottypes/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "localeId"
        ],
        "members": {
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "builtInSlotTypeSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "slotTypeSignature": {},
                "description": {}
              }
            }
          },
          "nextToken": {},
          "localeId": {}
        }
      }
    },
    "ListIntents": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "values",
                "operator"
              ],
              "members": {
                "name": {},
                "values": {
                  "shape": "S4u"
                },
                "operator": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "intentSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "intentId": {},
                "intentName": {},
                "description": {},
                "parentIntentSignature": {},
                "inputContexts": {
                  "shape": "S2f"
                },
                "outputContexts": {
                  "shape": "S2h"
                },
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListSlotTypes": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "values",
                "operator"
              ],
              "members": {
                "name": {},
                "values": {
                  "shape": "S4u"
                },
                "operator": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "slotTypeSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "slotTypeId": {},
                "slotTypeName": {},
                "description": {},
                "parentSlotTypeSignature": {},
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListSlots": {
      "http": {
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId",
          "intentId"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          },
          "sortBy": {
            "type": "structure",
            "required": [
              "attribute",
              "order"
            ],
            "members": {
              "attribute": {},
              "order": {}
            }
          },
          "filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "values",
                "operator"
              ],
              "members": {
                "name": {},
                "values": {
                  "shape": "S4u"
                },
                "operator": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "intentId": {},
          "slotSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "slotId": {},
                "slotName": {},
                "description": {},
                "slotConstraint": {},
                "slotTypeId": {},
                "valueElicitationPromptSpecification": {
                  "shape": "S1t"
                },
                "lastUpdatedDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceARN}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceARN"
        ],
        "members": {
          "resourceARN": {
            "location": "uri",
            "locationName": "resourceARN"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "Sf"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceARN}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceARN",
          "tags"
        ],
        "members": {
          "resourceARN": {
            "location": "uri",
            "locationName": "resourceARN"
          },
          "tags": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceARN}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceARN",
          "tagKeys"
        ],
        "members": {
          "resourceARN": {
            "location": "uri",
            "locationName": "resourceARN"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateBot": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botName",
          "roleArn",
          "dataPrivacy",
          "idleSessionTTLInSeconds"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botName": {},
          "description": {},
          "roleArn": {},
          "dataPrivacy": {
            "shape": "Sc"
          },
          "idleSessionTTLInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botName": {},
          "description": {},
          "roleArn": {},
          "dataPrivacy": {
            "shape": "Sc"
          },
          "idleSessionTTLInSeconds": {
            "type": "integer"
          },
          "botStatus": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "UpdateBotAlias": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botAliasId",
          "botAliasName",
          "botId"
        ],
        "members": {
          "botAliasId": {
            "location": "uri",
            "locationName": "botAliasId"
          },
          "botAliasName": {},
          "description": {},
          "botVersion": {},
          "botAliasLocaleSettings": {
            "shape": "Sm"
          },
          "conversationLogSettings": {
            "shape": "St"
          },
          "sentimentAnalysisSettings": {
            "shape": "S16"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botAliasId": {},
          "botAliasName": {},
          "description": {},
          "botVersion": {},
          "botAliasLocaleSettings": {
            "shape": "Sm"
          },
          "conversationLogSettings": {
            "shape": "St"
          },
          "sentimentAnalysisSettings": {
            "shape": "S16"
          },
          "botAliasStatus": {},
          "botId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "UpdateBotLocale": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "botId",
          "botVersion",
          "localeId",
          "nluIntentConfidenceThreshold"
        ],
        "members": {
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "description": {},
          "nluIntentConfidenceThreshold": {
            "type": "double"
          },
          "voiceSettings": {
            "shape": "S1c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "localeName": {},
          "description": {},
          "nluIntentConfidenceThreshold": {
            "type": "double"
          },
          "voiceSettings": {
            "shape": "S1c"
          },
          "botLocaleStatus": {},
          "failureReasons": {
            "shape": "S41"
          },
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "UpdateIntent": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "intentId",
          "intentName",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          },
          "intentName": {},
          "description": {},
          "parentIntentSignature": {},
          "sampleUtterances": {
            "shape": "S1n"
          },
          "dialogCodeHook": {
            "shape": "S1q"
          },
          "fulfillmentCodeHook": {
            "shape": "S1r"
          },
          "slotPriorities": {
            "shape": "S4a"
          },
          "intentConfirmationSetting": {
            "shape": "S1s"
          },
          "intentClosingSetting": {
            "shape": "S2e"
          },
          "inputContexts": {
            "shape": "S2f"
          },
          "outputContexts": {
            "shape": "S2h"
          },
          "kendraConfiguration": {
            "shape": "S2l"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "intentId": {},
          "intentName": {},
          "description": {},
          "parentIntentSignature": {},
          "sampleUtterances": {
            "shape": "S1n"
          },
          "dialogCodeHook": {
            "shape": "S1q"
          },
          "fulfillmentCodeHook": {
            "shape": "S1r"
          },
          "slotPriorities": {
            "shape": "S4a"
          },
          "intentConfirmationSetting": {
            "shape": "S1s"
          },
          "intentClosingSetting": {
            "shape": "S2e"
          },
          "inputContexts": {
            "shape": "S2f"
          },
          "outputContexts": {
            "shape": "S2h"
          },
          "kendraConfiguration": {
            "shape": "S2l"
          },
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "UpdateSlot": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "slotId",
          "slotName",
          "slotTypeId",
          "valueElicitationSetting",
          "botId",
          "botVersion",
          "localeId",
          "intentId"
        ],
        "members": {
          "slotId": {
            "location": "uri",
            "locationName": "slotId"
          },
          "slotName": {},
          "description": {},
          "slotTypeId": {},
          "valueElicitationSetting": {
            "shape": "S2r"
          },
          "obfuscationSetting": {
            "shape": "S31"
          },
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          },
          "intentId": {
            "location": "uri",
            "locationName": "intentId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotId": {},
          "slotName": {},
          "description": {},
          "slotTypeId": {},
          "valueElicitationSetting": {
            "shape": "S2r"
          },
          "obfuscationSetting": {
            "shape": "S31"
          },
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "intentId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "UpdateSlotType": {
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "required": [
          "slotTypeId",
          "slotTypeName",
          "valueSelectionSetting",
          "botId",
          "botVersion",
          "localeId"
        ],
        "members": {
          "slotTypeId": {
            "location": "uri",
            "locationName": "slotTypeId"
          },
          "slotTypeName": {},
          "description": {},
          "slotTypeValues": {
            "shape": "S35"
          },
          "valueSelectionSetting": {
            "shape": "S3a"
          },
          "parentSlotTypeSignature": {},
          "botId": {
            "location": "uri",
            "locationName": "botId"
          },
          "botVersion": {
            "location": "uri",
            "locationName": "botVersion"
          },
          "localeId": {
            "location": "uri",
            "locationName": "localeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "slotTypeId": {},
          "slotTypeName": {},
          "description": {},
          "slotTypeValues": {
            "shape": "S35"
          },
          "valueSelectionSetting": {
            "shape": "S3a"
          },
          "parentSlotTypeSignature": {},
          "botId": {},
          "botVersion": {},
          "localeId": {},
          "creationDateTime": {
            "type": "timestamp"
          },
          "lastUpdatedDateTime": {
            "type": "timestamp"
          }
        }
      }
    }
  },
  "shapes": {
    "Sc": {
      "type": "structure",
      "required": [
        "childDirected"
      ],
      "members": {
        "childDirected": {
          "type": "boolean"
        }
      }
    },
    "Sf": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sm": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "required": [
          "enabled"
        ],
        "members": {
          "enabled": {
            "type": "boolean"
          },
          "codeHookSpecification": {
            "type": "structure",
            "required": [
              "lambdaCodeHook"
            ],
            "members": {
              "lambdaCodeHook": {
                "type": "structure",
                "required": [
                  "lambdaARN",
                  "codeHookInterfaceVersion"
                ],
                "members": {
                  "lambdaARN": {},
                  "codeHookInterfaceVersion": {}
                }
              }
            }
          }
        }
      }
    },
    "St": {
      "type": "structure",
      "members": {
        "textLogSettings": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "enabled",
              "destination"
            ],
            "members": {
              "enabled": {
                "type": "boolean"
              },
              "destination": {
                "type": "structure",
                "required": [
                  "cloudWatch"
                ],
                "members": {
                  "cloudWatch": {
                    "type": "structure",
                    "required": [
                      "cloudWatchLogGroupArn",
                      "logPrefix"
                    ],
                    "members": {
                      "cloudWatchLogGroupArn": {},
                      "logPrefix": {}
                    }
                  }
                }
              }
            }
          }
        },
        "audioLogSettings": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "enabled",
              "destination"
            ],
            "members": {
              "enabled": {
                "type": "boolean"
              },
              "destination": {
                "type": "structure",
                "required": [
                  "s3Bucket"
                ],
                "members": {
                  "s3Bucket": {
                    "type": "structure",
                    "required": [
                      "s3BucketArn",
                      "logPrefix"
                    ],
                    "members": {
                      "kmsKeyArn": {},
                      "s3BucketArn": {},
                      "logPrefix": {}
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "S16": {
      "type": "structure",
      "required": [
        "detectSentiment"
      ],
      "members": {
        "detectSentiment": {
          "type": "boolean"
        }
      }
    },
    "S1c": {
      "type": "structure",
      "required": [
        "voiceId"
      ],
      "members": {
        "voiceId": {}
      }
    },
    "S1h": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "required": [
          "sourceBotVersion"
        ],
        "members": {
          "sourceBotVersion": {}
        }
      }
    },
    "S1n": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "utterance"
        ],
        "members": {
          "utterance": {}
        }
      }
    },
    "S1q": {
      "type": "structure",
      "required": [
        "enabled"
      ],
      "members": {
        "enabled": {
          "type": "boolean"
        }
      }
    },
    "S1r": {
      "type": "structure",
      "required": [
        "enabled"
      ],
      "members": {
        "enabled": {
          "type": "boolean"
        }
      }
    },
    "S1s": {
      "type": "structure",
      "required": [
        "promptSpecification",
        "declinationResponse"
      ],
      "members": {
        "promptSpecification": {
          "shape": "S1t"
        },
        "declinationResponse": {
          "shape": "S2d"
        }
      }
    },
    "S1t": {
      "type": "structure",
      "required": [
        "messageGroups",
        "maxRetries"
      ],
      "members": {
        "messageGroups": {
          "shape": "S1u"
        },
        "maxRetries": {
          "type": "integer"
        },
        "allowInterrupt": {
          "type": "boolean"
        }
      }
    },
    "S1u": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "message"
        ],
        "members": {
          "message": {
            "shape": "S1w"
          },
          "variations": {
            "type": "list",
            "member": {
              "shape": "S1w"
            }
          }
        }
      }
    },
    "S1w": {
      "type": "structure",
      "members": {
        "plainTextMessage": {
          "type": "structure",
          "required": [
            "value"
          ],
          "members": {
            "value": {}
          }
        },
        "customPayload": {
          "type": "structure",
          "required": [
            "value"
          ],
          "members": {
            "value": {}
          }
        },
        "ssmlMessage": {
          "type": "structure",
          "required": [
            "value"
          ],
          "members": {
            "value": {}
          }
        },
        "imageResponseCard": {
          "type": "structure",
          "required": [
            "title"
          ],
          "members": {
            "title": {},
            "subtitle": {},
            "imageUrl": {},
            "buttons": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "text",
                  "value"
                ],
                "members": {
                  "text": {},
                  "value": {}
                }
              }
            }
          }
        }
      }
    },
    "S2d": {
      "type": "structure",
      "required": [
        "messageGroups"
      ],
      "members": {
        "messageGroups": {
          "shape": "S1u"
        },
        "allowInterrupt": {
          "type": "boolean"
        }
      }
    },
    "S2e": {
      "type": "structure",
      "required": [
        "closingResponse"
      ],
      "members": {
        "closingResponse": {
          "shape": "S2d"
        }
      }
    },
    "S2f": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {}
        }
      }
    },
    "S2h": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "timeToLiveInSeconds",
          "turnsToLive"
        ],
        "members": {
          "name": {},
          "timeToLiveInSeconds": {
            "type": "integer"
          },
          "turnsToLive": {
            "type": "integer"
          }
        }
      }
    },
    "S2l": {
      "type": "structure",
      "required": [
        "kendraIndex"
      ],
      "members": {
        "kendraIndex": {},
        "queryFilterStringEnabled": {
          "type": "boolean"
        },
        "queryFilterString": {}
      }
    },
    "S2r": {
      "type": "structure",
      "required": [
        "slotConstraint"
      ],
      "members": {
        "defaultValueSpecification": {
          "type": "structure",
          "required": [
            "defaultValueList"
          ],
          "members": {
            "defaultValueList": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "defaultValue"
                ],
                "members": {
                  "defaultValue": {}
                }
              }
            }
          }
        },
        "slotConstraint": {},
        "promptSpecification": {
          "shape": "S1t"
        },
        "sampleUtterances": {
          "shape": "S1n"
        },
        "waitAndContinueSpecification": {
          "type": "structure",
          "required": [
            "waitingResponse",
            "continueResponse"
          ],
          "members": {
            "waitingResponse": {
              "shape": "S2d"
            },
            "continueResponse": {
              "shape": "S2d"
            },
            "stillWaitingResponse": {
              "type": "structure",
              "required": [
                "messageGroups",
                "frequencyInSeconds",
                "timeoutInSeconds"
              ],
              "members": {
                "messageGroups": {
                  "shape": "S1u"
                },
                "frequencyInSeconds": {
                  "type": "integer"
                },
                "timeoutInSeconds": {
                  "type": "integer"
                },
                "allowInterrupt": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "S31": {
      "type": "structure",
      "required": [
        "obfuscationSettingType"
      ],
      "members": {
        "obfuscationSettingType": {}
      }
    },
    "S35": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "sampleValue": {
            "shape": "S37"
          },
          "synonyms": {
            "type": "list",
            "member": {
              "shape": "S37"
            }
          }
        }
      }
    },
    "S37": {
      "type": "structure",
      "required": [
        "value"
      ],
      "members": {
        "value": {}
      }
    },
    "S3a": {
      "type": "structure",
      "required": [
        "resolutionStrategy"
      ],
      "members": {
        "resolutionStrategy": {},
        "regexFilter": {
          "type": "structure",
          "required": [
            "pattern"
          ],
          "members": {
            "pattern": {}
          }
        }
      }
    },
    "S41": {
      "type": "list",
      "member": {}
    },
    "S4a": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "priority",
          "slotId"
        ],
        "members": {
          "priority": {
            "type": "integer"
          },
          "slotId": {}
        }
      }
    },
    "S4u": {
      "type": "list",
      "member": {}
    }
  }
}