{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2010-08-01",
    "endpointPrefix": "monitoring",
    "protocol": "query",
    "serviceAbbreviation": "CloudWatch",
    "serviceFullName": "Amazon CloudWatch",
    "serviceId": "CloudWatch",
    "signatureVersion": "v4",
    "uid": "monitoring-2010-08-01",
    "xmlNamespace": "http://monitoring.amazonaws.com/doc/2010-08-01/"
  },
  "operations": {
    "DeleteAlarms": {
      "input": {
        "type": "structure",
        "required": [
          "AlarmNames"
        ],
        "members": {
          "AlarmNames": {
            "shape": "S2"
          }
        }
      }
    },
    "DeleteDashboards": {
      "input": {
        "type": "structure",
        "required": [
          "DashboardNames"
        ],
        "members": {
          "DashboardNames": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "resultWrapper": "DeleteDashboardsResult",
        "type": "structure",
        "members": {}
      }
    },
    "DescribeAlarmHistory": {
      "input": {
        "type": "structure",
        "members": {
          "AlarmName": {
            "shape": "S3"
          },
          "HistoryItemType": {
            "shape": "S9"
          },
          "StartDate": {
            "type": "timestamp"
          },
          "EndDate": {
            "type": "timestamp"
          },
          "MaxRecords": {
            "shape": "Sb"
          },
          "NextToken": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeAlarmHistoryResult",
        "type": "structure",
        "members": {
          "AlarmHistoryItems": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AlarmName": {
                  "shape": "S3"
                },
                "Timestamp": {
                  "type": "timestamp"
                },
                "HistoryItemType": {
                  "shape": "S9"
                },
                "HistorySummary": {
                  "type": "string",
                  "max": 255,
                  "min": 1
                },
                "HistoryData": {
                  "type": "string",
                  "max": 4095,
                  "min": 1
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sc"
          }
        }
      }
    },
    "DescribeAlarms": {
      "input": {
        "type": "structure",
        "members": {
          "AlarmNames": {
            "shape": "S2"
          },
          "AlarmNamePrefix": {
            "type": "string",
            "max": 255,
            "min": 1
          },
          "StateValue": {
            "shape": "Sk"
          },
          "ActionPrefix": {
            "type": "string",
            "max": 1024,
            "min": 1
          },
          "MaxRecords": {
            "shape": "Sb"
          },
          "NextToken": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeAlarmsResult",
        "type": "structure",
        "members": {
          "MetricAlarms": {
            "shape": "Sn"
          },
          "NextToken": {
            "shape": "Sc"
          }
        }
      }
    },
    "DescribeAlarmsForMetric": {
      "input": {
        "type": "structure",
        "required": [
          "MetricName",
          "Namespace"
        ],
        "members": {
          "MetricName": {
            "shape": "Sw"
          },
          "Namespace": {
            "shape": "Sx"
          },
          "Statistic": {
            "shape": "Sy"
          },
          "ExtendedStatistic": {
            "shape": "Sz"
          },
          "Dimensions": {
            "shape": "S10"
          },
          "Period": {
            "shape": "S14"
          },
          "Unit": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "resultWrapper": "DescribeAlarmsForMetricResult",
        "type": "structure",
        "members": {
          "MetricAlarms": {
            "shape": "Sn"
          }
        }
      }
    },
    "DisableAlarmActions": {
      "input": {
        "type": "structure",
        "required": [
          "AlarmNames"
        ],
        "members": {
          "AlarmNames": {
            "shape": "S2"
          }
        }
      }
    },
    "EnableAlarmActions": {
      "input": {
        "type": "structure",
        "required": [
          "AlarmNames"
        ],
        "members": {
          "AlarmNames": {
            "shape": "S2"
          }
        }
      }
    },
    "GetDashboard": {
      "input": {
        "type": "structure",
        "required": [
          "DashboardName"
        ],
        "members": {
          "DashboardName": {}
        }
      },
      "output": {
        "resultWrapper": "GetDashboardResult",
        "type": "structure",
        "members": {
          "DashboardArn": {},
          "DashboardBody": {},
          "DashboardName": {}
        }
      }
    },
    "GetMetricData": {
      "input": {
        "type": "structure",
        "required": [
          "MetricDataQueries",
          "StartTime",
          "EndTime"
        ],
        "members": {
          "MetricDataQueries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Id"
              ],
              "members": {
                "Id": {
                  "shape": "S1n"
                },
                "MetricStat": {
                  "type": "structure",
                  "required": [
                    "Metric",
                    "Period",
                    "Stat"
                  ],
                  "members": {
                    "Metric": {
                      "shape": "S1p"
                    },
                    "Period": {
                      "shape": "S14"
                    },
                    "Stat": {},
                    "Unit": {
                      "shape": "S15"
                    }
                  }
                },
                "Expression": {
                  "type": "string",
                  "max": 1024,
                  "min": 1
                },
                "Label": {},
                "ReturnData": {
                  "type": "boolean"
                }
              }
            }
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "NextToken": {
            "shape": "Sc"
          },
          "ScanBy": {
            "type": "string",
            "enum": [
              "TimestampDescending",
              "TimestampAscending"
            ]
          },
          "MaxDatapoints": {
            "type": "integer"
          }
        }
      },
      "output": {
        "resultWrapper": "GetMetricDataResult",
        "type": "structure",
        "members": {
          "MetricDataResults": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S1n"
                },
                "Label": {},
                "Timestamps": {
                  "type": "list",
                  "member": {
                    "type": "timestamp"
                  }
                },
                "Values": {
                  "type": "list",
                  "member": {
                    "type": "double"
                  }
                },
                "StatusCode": {
                  "type": "string",
                  "enum": [
                    "Complete",
                    "InternalError",
                    "PartialData"
                  ]
                },
                "Messages": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Code": {},
                      "Value": {}
                    }
                  }
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sc"
          }
        }
      }
    },
    "GetMetricStatistics": {
      "input": {
        "type": "structure",
        "required": [
          "Namespace",
          "MetricName",
          "StartTime",
          "EndTime",
          "Period"
        ],
        "members": {
          "Namespace": {
            "shape": "Sx"
          },
          "MetricName": {
            "shape": "Sw"
          },
          "Dimensions": {
            "shape": "S10"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "Period": {
            "shape": "S14"
          },
          "Statistics": {
            "type": "list",
            "member": {
              "shape": "Sy"
            },
            "max": 5,
            "min": 1
          },
          "ExtendedStatistics": {
            "type": "list",
            "member": {
              "shape": "Sz"
            },
            "max": 10,
            "min": 1
          },
          "Unit": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "resultWrapper": "GetMetricStatisticsResult",
        "type": "structure",
        "members": {
          "Label": {},
          "Datapoints": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Timestamp": {
                  "type": "timestamp"
                },
                "SampleCount": {
                  "type": "double"
                },
                "Average": {
                  "type": "double"
                },
                "Sum": {
                  "type": "double"
                },
                "Minimum": {
                  "type": "double"
                },
                "Maximum": {
                  "type": "double"
                },
                "Unit": {
                  "shape": "S15"
                },
                "ExtendedStatistics": {
                  "type": "map",
                  "key": {
                    "shape": "Sz"
                  },
                  "value": {
                    "type": "double"
                  }
                }
              },
              "xmlOrder": [
                "Timestamp",
                "SampleCount",
                "Average",
                "Sum",
                "Minimum",
                "Maximum",
                "Unit",
                "ExtendedStatistics"
              ]
            }
          }
        }
      }
    },
    "GetMetricWidgetImage": {
      "input": {
        "type": "structure",
        "required": [
          "MetricWidget"
        ],
        "members": {
          "MetricWidget": {},
          "OutputFormat": {}
        }
      },
      "output": {
        "resultWrapper": "GetMetricWidgetImageResult",
        "type": "structure",
        "members": {
          "MetricWidgetImage": {
            "type": "blob"
          }
        }
      }
    },
    "ListDashboards": {
      "input": {
        "type": "structure",
        "members": {
          "DashboardNamePrefix": {},
          "NextToken": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "resultWrapper": "ListDashboardsResult",
        "type": "structure",
        "members": {
          "DashboardEntries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DashboardName": {},
                "DashboardArn": {},
                "LastModified": {
                  "type": "timestamp"
                },
                "Size": {
                  "type": "long"
                }
              }
            }
          },
          "NextToken": {
            "shape": "Sc"
          }
        }
      }
    },
    "ListMetrics": {
      "input": {
        "type": "structure",
        "members": {
          "Namespace": {
            "shape": "Sx"
          },
          "MetricName": {
            "shape": "Sw"
          },
          "Dimensions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name"
              ],
              "members": {
                "Name": {
                  "shape": "S12"
                },
                "Value": {
                  "shape": "S13"
                }
              }
            },
            "max": 10
          },
          "NextToken": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "resultWrapper": "ListMetricsResult",
        "type": "structure",
        "members": {
          "Metrics": {
            "type": "list",
            "member": {
              "shape": "S1p"
            }
          },
          "NextToken": {
            "shape": "Sc"
          }
        },
        "xmlOrder": [
          "Metrics",
          "NextToken"
        ]
      }
    },
    "PutDashboard": {
      "input": {
        "type": "structure",
        "required": [
          "DashboardName",
          "DashboardBody"
        ],
        "members": {
          "DashboardName": {},
          "DashboardBody": {}
        }
      },
      "output": {
        "resultWrapper": "PutDashboardResult",
        "type": "structure",
        "members": {
          "DashboardValidationMessages": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DataPath": {},
                "Message": {}
              }
            }
          }
        }
      }
    },
    "PutMetricAlarm": {
      "input": {
        "type": "structure",
        "required": [
          "AlarmName",
          "MetricName",
          "Namespace",
          "Period",
          "EvaluationPeriods",
          "Threshold",
          "ComparisonOperator"
        ],
        "members": {
          "AlarmName": {
            "shape": "S3"
          },
          "AlarmDescription": {
            "shape": "Sq"
          },
          "ActionsEnabled": {
            "type": "boolean"
          },
          "OKActions": {
            "shape": "Ss"
          },
          "AlarmActions": {
            "shape": "Ss"
          },
          "InsufficientDataActions": {
            "shape": "Ss"
          },
          "MetricName": {
            "shape": "Sw"
          },
          "Namespace": {
            "shape": "Sx"
          },
          "Statistic": {
            "shape": "Sy"
          },
          "ExtendedStatistic": {
            "shape": "Sz"
          },
          "Dimensions": {
            "shape": "S10"
          },
          "Period": {
            "shape": "S14"
          },
          "Unit": {
            "shape": "S15"
          },
          "EvaluationPeriods": {
            "shape": "S16"
          },
          "DatapointsToAlarm": {
            "shape": "S17"
          },
          "Threshold": {
            "type": "double"
          },
          "ComparisonOperator": {
            "shape": "S19"
          },
          "TreatMissingData": {
            "shape": "S1a"
          },
          "EvaluateLowSampleCountPercentile": {
            "shape": "S1b"
          }
        }
      }
    },
    "PutMetricData": {
      "input": {
        "type": "structure",
        "required": [
          "Namespace",
          "MetricData"
        ],
        "members": {
          "Namespace": {
            "shape": "Sx"
          },
          "MetricData": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "MetricName"
              ],
              "members": {
                "MetricName": {
                  "shape": "Sw"
                },
                "Dimensions": {
                  "shape": "S10"
                },
                "Timestamp": {
                  "type": "timestamp"
                },
                "Value": {
                  "type": "double"
                },
                "StatisticValues": {
                  "type": "structure",
                  "required": [
                    "SampleCount",
                    "Sum",
                    "Minimum",
                    "Maximum"
                  ],
                  "members": {
                    "SampleCount": {
                      "type": "double"
                    },
                    "Sum": {
                      "type": "double"
                    },
                    "Minimum": {
                      "type": "double"
                    },
                    "Maximum": {
                      "type": "double"
                    }
                  }
                },
                "Values": {
                  "type": "list",
                  "member": {
                    "type": "double"
                  }
                },
                "Counts": {
                  "type": "list",
                  "member": {
                    "type": "double"
                  }
                },
                "Unit": {
                  "shape": "S15"
                },
                "StorageResolution": {
                  "type": "integer",
                  "min": 1
                }
              }
            }
          }
        }
      }
    },
    "SetAlarmState": {
      "input": {
        "type": "structure",
        "required": [
          "AlarmName",
          "StateValue",
          "StateReason"
        ],
        "members": {
          "AlarmName": {
            "shape": "S3"
          },
          "StateValue": {
            "shape": "Sk"
          },
          "StateReason": {
            "shape": "Su"
          },
          "StateReasonData": {
            "shape": "Sv"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {
        "shape": "S3"
      },
      "max": 100
    },
    "S3": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S9": {
      "type": "string",
      "enum": [
        "ConfigurationUpdate",
        "StateUpdate",
        "Action"
      ]
    },
    "Sb": {
      "type": "integer",
      "max": 100,
      "min": 1
    },
    "Sc": {
      "type": "string",
      "max": 1024,
      "min": 0
    },
    "Sk": {
      "type": "string",
      "enum": [
        "OK",
        "ALARM",
        "INSUFFICIENT_DATA"
      ]
    },
    "Sn": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "AlarmName": {
            "shape": "S3"
          },
          "AlarmArn": {
            "type": "string",
            "max": 1600,
            "min": 1
          },
          "AlarmDescription": {
            "shape": "Sq"
          },
          "AlarmConfigurationUpdatedTimestamp": {
            "type": "timestamp"
          },
          "ActionsEnabled": {
            "type": "boolean"
          },
          "OKActions": {
            "shape": "Ss"
          },
          "AlarmActions": {
            "shape": "Ss"
          },
          "InsufficientDataActions": {
            "shape": "Ss"
          },
          "StateValue": {
            "shape": "Sk"
          },
          "StateReason": {
            "shape": "Su"
          },
          "StateReasonData": {
            "shape": "Sv"
          },
          "StateUpdatedTimestamp": {
            "type": "timestamp"
          },
          "MetricName": {
            "shape": "Sw"
          },
          "Namespace": {
            "shape": "Sx"
          },
          "Statistic": {
            "shape": "Sy"
          },
          "ExtendedStatistic": {
            "shape": "Sz"
          },
          "Dimensions": {
            "shape": "S10"
          },
          "Period": {
            "shape": "S14"
          },
          "Unit": {
            "shape": "S15"
          },
          "EvaluationPeriods": {
            "shape": "S16"
          },
          "DatapointsToAlarm": {
            "shape": "S17"
          },
          "Threshold": {
            "type": "double"
          },
          "ComparisonOperator": {
            "shape": "S19"
          },
          "TreatMissingData": {
            "shape": "S1a"
          },
          "EvaluateLowSampleCountPercentile": {
            "shape": "S1b"
          }
        },
        "xmlOrder": [
          "AlarmName",
          "AlarmArn",
          "AlarmDescription",
          "AlarmConfigurationUpdatedTimestamp",
          "ActionsEnabled",
          "OKActions",
          "AlarmActions",
          "InsufficientDataActions",
          "StateValue",
          "StateReason",
          "StateReasonData",
          "StateUpdatedTimestamp",
          "MetricName",
          "Namespace",
          "Statistic",
          "Dimensions",
          "Period",
          "Unit",
          "EvaluationPeriods",
          "Threshold",
          "ComparisonOperator",
          "ExtendedStatistic",
          "TreatMissingData",
          "EvaluateLowSampleCountPercentile",
          "DatapointsToAlarm"
        ]
      }
    },
    "Sq": {
      "type": "string",
      "max": 1024,
      "min": 0
    },
    "Ss": {
      "type": "list",
      "member": {
        "type": "string",
        "max": 1024,
        "min": 1
      },
      "max": 5
    },
    "Su": {
      "type": "string",
      "max": 1023,
      "min": 0
    },
    "Sv": {
      "type": "string",
      "max": 4000,
      "min": 0
    },
    "Sw": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "Sx": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "[^:].*"
    },
    "Sy": {
      "type": "string",
      "enum": [
        "SampleCount",
        "Average",
        "Sum",
        "Minimum",
        "Maximum"
      ]
    },
    "Sz": {
      "type": "string",
      "pattern": "p(\\d{1,2}(\\.\\d{0,2})?|100)"
    },
    "S10": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name",
          "Value"
        ],
        "members": {
          "Name": {
            "shape": "S12"
          },
          "Value": {
            "shape": "S13"
          }
        },
        "xmlOrder": [
          "Name",
          "Value"
        ]
      },
      "max": 10
    },
    "S12": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S13": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S14": {
      "type": "integer",
      "min": 1
    },
    "S15": {
      "type": "string",
      "enum": [
        "Seconds",
        "Microseconds",
        "Milliseconds",
        "Bytes",
        "Kilobytes",
        "Megabytes",
        "Gigabytes",
        "Terabytes",
        "Bits",
        "Kilobits",
        "Megabits",
        "Gigabits",
        "Terabits",
        "Percent",
        "Count",
        "Bytes/Second",
        "Kilobytes/Second",
        "Megabytes/Second",
        "Gigabytes/Second",
        "Terabytes/Second",
        "Bits/Second",
        "Kilobits/Second",
        "Megabits/Second",
        "Gigabits/Second",
        "Terabits/Second",
        "Count/Second",
        "None"
      ]
    },
    "S16": {
      "type": "integer",
      "min": 1
    },
    "S17": {
      "type": "integer",
      "min": 1
    },
    "S19": {
      "type": "string",
      "enum": [
        "GreaterThanOrEqualToThreshold",
        "GreaterThanThreshold",
        "LessThanThreshold",
        "LessThanOrEqualToThreshold"
      ]
    },
    "S1a": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S1b": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S1n": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S1p": {
      "type": "structure",
      "members": {
        "Namespace": {
          "shape": "Sx"
        },
        "MetricName": {
          "shape": "Sw"
        },
        "Dimensions": {
          "shape": "S10"
        }
      },
      "xmlOrder": [
        "Namespace",
        "MetricName",
        "Dimensions"
      ]
    }
  }
}