{
  "metadata": {
    "apiVersion": "2017-11-27",
    "endpointPrefix": "mq",
    "signingName": "mq",
    "serviceFullName": "AmazonMQ",
    "serviceId": "mq",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "mq-2017-11-27",
    "signatureVersion": "v4"
  },
  "operations": {
    "CreateBroker": {
      "http": {
        "requestUri": "/v1/brokers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AutoMinorVersionUpgrade": {
            "locationName": "autoMinorVersionUpgrade",
            "type": "boolean"
          },
          "BrokerName": {
            "locationName": "brokerName"
          },
          "Configuration": {
            "shape": "S4",
            "locationName": "configuration"
          },
          "CreatorRequestId": {
            "locationName": "creatorRequestId",
            "idempotencyToken": true
          },
          "DeploymentMode": {
            "shape": "S6",
            "locationName": "deploymentMode"
          },
          "EngineType": {
            "shape": "S7",
            "locationName": "engineType"
          },
          "EngineVersion": {
            "locationName": "engineVersion"
          },
          "HostInstanceType": {
            "locationName": "hostInstanceType"
          },
          "Logs": {
            "shape": "S8",
            "locationName": "logs"
          },
          "MaintenanceWindowStartTime": {
            "shape": "S9",
            "locationName": "maintenanceWindowStartTime"
          },
          "PubliclyAccessible": {
            "locationName": "publiclyAccessible",
            "type": "boolean"
          },
          "SecurityGroups": {
            "shape": "Sb",
            "locationName": "securityGroups"
          },
          "SubnetIds": {
            "shape": "Sb",
            "locationName": "subnetIds"
          },
          "Users": {
            "locationName": "users",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ConsoleAccess": {
                  "locationName": "consoleAccess",
                  "type": "boolean"
                },
                "Groups": {
                  "shape": "Sb",
                  "locationName": "groups"
                },
                "Password": {
                  "locationName": "password"
                },
                "Username": {
                  "locationName": "username"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerArn": {
            "locationName": "brokerArn"
          },
          "BrokerId": {
            "locationName": "brokerId"
          }
        }
      }
    },
    "CreateConfiguration": {
      "http": {
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "EngineType": {
            "shape": "S7",
            "locationName": "engineType"
          },
          "EngineVersion": {
            "locationName": "engineVersion"
          },
          "Name": {
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Created": {
            "shape": "Sh",
            "locationName": "created"
          },
          "Id": {
            "locationName": "id"
          },
          "LatestRevision": {
            "shape": "Si",
            "locationName": "latestRevision"
          },
          "Name": {
            "locationName": "name"
          }
        }
      }
    },
    "CreateUser": {
      "http": {
        "requestUri": "/v1/brokers/{broker-id}/users/{username}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          },
          "ConsoleAccess": {
            "locationName": "consoleAccess",
            "type": "boolean"
          },
          "Groups": {
            "shape": "Sb",
            "locationName": "groups"
          },
          "Password": {
            "locationName": "password"
          },
          "Username": {
            "location": "uri",
            "locationName": "username"
          }
        },
        "required": [
          "Username",
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteBroker": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/brokers/{broker-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          }
        },
        "required": [
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "locationName": "brokerId"
          }
        }
      }
    },
    "DeleteUser": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/brokers/{broker-id}/users/{username}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          },
          "Username": {
            "location": "uri",
            "locationName": "username"
          }
        },
        "required": [
          "Username",
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeBroker": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/brokers/{broker-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          }
        },
        "required": [
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "AutoMinorVersionUpgrade": {
            "locationName": "autoMinorVersionUpgrade",
            "type": "boolean"
          },
          "BrokerArn": {
            "locationName": "brokerArn"
          },
          "BrokerId": {
            "locationName": "brokerId"
          },
          "BrokerInstances": {
            "locationName": "brokerInstances",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ConsoleURL": {
                  "locationName": "consoleURL"
                },
                "Endpoints": {
                  "shape": "Sb",
                  "locationName": "endpoints"
                },
                "IpAddress": {
                  "locationName": "ipAddress"
                }
              }
            }
          },
          "BrokerName": {
            "locationName": "brokerName"
          },
          "BrokerState": {
            "shape": "St",
            "locationName": "brokerState"
          },
          "Configurations": {
            "locationName": "configurations",
            "type": "structure",
            "members": {
              "Current": {
                "shape": "S4",
                "locationName": "current"
              },
              "History": {
                "locationName": "history",
                "type": "list",
                "member": {
                  "shape": "S4"
                }
              },
              "Pending": {
                "shape": "S4",
                "locationName": "pending"
              }
            }
          },
          "Created": {
            "shape": "Sh",
            "locationName": "created"
          },
          "DeploymentMode": {
            "shape": "S6",
            "locationName": "deploymentMode"
          },
          "EngineType": {
            "shape": "S7",
            "locationName": "engineType"
          },
          "EngineVersion": {
            "locationName": "engineVersion"
          },
          "HostInstanceType": {
            "locationName": "hostInstanceType"
          },
          "Logs": {
            "locationName": "logs",
            "type": "structure",
            "members": {
              "Audit": {
                "locationName": "audit",
                "type": "boolean"
              },
              "AuditLogGroup": {
                "locationName": "auditLogGroup"
              },
              "General": {
                "locationName": "general",
                "type": "boolean"
              },
              "GeneralLogGroup": {
                "locationName": "generalLogGroup"
              },
              "Pending": {
                "locationName": "pending",
                "type": "structure",
                "members": {
                  "Audit": {
                    "locationName": "audit",
                    "type": "boolean"
                  },
                  "General": {
                    "locationName": "general",
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "MaintenanceWindowStartTime": {
            "shape": "S9",
            "locationName": "maintenanceWindowStartTime"
          },
          "PubliclyAccessible": {
            "locationName": "publiclyAccessible",
            "type": "boolean"
          },
          "SecurityGroups": {
            "shape": "Sb",
            "locationName": "securityGroups"
          },
          "SubnetIds": {
            "shape": "Sb",
            "locationName": "subnetIds"
          },
          "Users": {
            "shape": "Sy",
            "locationName": "users"
          }
        }
      }
    },
    "DescribeConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{configuration-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationId": {
            "location": "uri",
            "locationName": "configuration-id"
          }
        },
        "required": [
          "ConfigurationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Created": {
            "shape": "Sh",
            "locationName": "created"
          },
          "Description": {
            "locationName": "description"
          },
          "EngineType": {
            "shape": "S7",
            "locationName": "engineType"
          },
          "EngineVersion": {
            "locationName": "engineVersion"
          },
          "Id": {
            "locationName": "id"
          },
          "LatestRevision": {
            "shape": "Si",
            "locationName": "latestRevision"
          },
          "Name": {
            "locationName": "name"
          }
        }
      }
    },
    "DescribeConfigurationRevision": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{configuration-id}/revisions/{configuration-revision}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationId": {
            "location": "uri",
            "locationName": "configuration-id"
          },
          "ConfigurationRevision": {
            "location": "uri",
            "locationName": "configuration-revision"
          }
        },
        "required": [
          "ConfigurationRevision",
          "ConfigurationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationId": {
            "locationName": "configurationId"
          },
          "Created": {
            "shape": "Sh",
            "locationName": "created"
          },
          "Data": {
            "locationName": "data"
          },
          "Description": {
            "locationName": "description"
          }
        }
      }
    },
    "DescribeUser": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/brokers/{broker-id}/users/{username}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          },
          "Username": {
            "location": "uri",
            "locationName": "username"
          }
        },
        "required": [
          "Username",
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "locationName": "brokerId"
          },
          "ConsoleAccess": {
            "locationName": "consoleAccess",
            "type": "boolean"
          },
          "Groups": {
            "shape": "Sb",
            "locationName": "groups"
          },
          "Pending": {
            "locationName": "pending",
            "type": "structure",
            "members": {
              "ConsoleAccess": {
                "locationName": "consoleAccess",
                "type": "boolean"
              },
              "Groups": {
                "shape": "Sb",
                "locationName": "groups"
              },
              "PendingChange": {
                "shape": "S10",
                "locationName": "pendingChange"
              }
            }
          },
          "Username": {
            "locationName": "username"
          }
        }
      }
    },
    "ListBrokers": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/brokers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "S19",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerSummaries": {
            "locationName": "brokerSummaries",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "BrokerArn": {
                  "locationName": "brokerArn"
                },
                "BrokerId": {
                  "locationName": "brokerId"
                },
                "BrokerName": {
                  "locationName": "brokerName"
                },
                "BrokerState": {
                  "shape": "St",
                  "locationName": "brokerState"
                },
                "Created": {
                  "shape": "Sh",
                  "locationName": "created"
                },
                "DeploymentMode": {
                  "shape": "S6",
                  "locationName": "deploymentMode"
                },
                "HostInstanceType": {
                  "locationName": "hostInstanceType"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListConfigurationRevisions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{configuration-id}/revisions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationId": {
            "location": "uri",
            "locationName": "configuration-id"
          },
          "MaxResults": {
            "shape": "S19",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "ConfigurationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationId": {
            "locationName": "configurationId"
          },
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken"
          },
          "Revisions": {
            "locationName": "revisions",
            "type": "list",
            "member": {
              "shape": "Si"
            }
          }
        }
      }
    },
    "ListConfigurations": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "S19",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Configurations": {
            "locationName": "configurations",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "Created": {
                  "shape": "Sh",
                  "locationName": "created"
                },
                "Description": {
                  "locationName": "description"
                },
                "EngineType": {
                  "shape": "S7",
                  "locationName": "engineType"
                },
                "EngineVersion": {
                  "locationName": "engineVersion"
                },
                "Id": {
                  "locationName": "id"
                },
                "LatestRevision": {
                  "shape": "Si",
                  "locationName": "latestRevision"
                },
                "Name": {
                  "locationName": "name"
                }
              }
            }
          },
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListUsers": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/brokers/{broker-id}/users",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          },
          "MaxResults": {
            "shape": "S19",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "locationName": "brokerId"
          },
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer",
            "min": 5,
            "max": 100
          },
          "NextToken": {
            "locationName": "nextToken"
          },
          "Users": {
            "shape": "Sy",
            "locationName": "users"
          }
        }
      }
    },
    "RebootBroker": {
      "http": {
        "requestUri": "/v1/brokers/{broker-id}/reboot",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          }
        },
        "required": [
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateBroker": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/brokers/{broker-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          },
          "Configuration": {
            "shape": "S4",
            "locationName": "configuration"
          },
          "Logs": {
            "shape": "S8",
            "locationName": "logs"
          }
        },
        "required": [
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "locationName": "brokerId"
          },
          "Configuration": {
            "shape": "S4",
            "locationName": "configuration"
          },
          "Logs": {
            "shape": "S8",
            "locationName": "logs"
          }
        }
      }
    },
    "UpdateConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/configurations/{configuration-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationId": {
            "location": "uri",
            "locationName": "configuration-id"
          },
          "Data": {
            "locationName": "data"
          },
          "Description": {
            "locationName": "description"
          }
        },
        "required": [
          "ConfigurationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Created": {
            "shape": "Sh",
            "locationName": "created"
          },
          "Id": {
            "locationName": "id"
          },
          "LatestRevision": {
            "shape": "Si",
            "locationName": "latestRevision"
          },
          "Name": {
            "locationName": "name"
          },
          "Warnings": {
            "locationName": "warnings",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AttributeName": {
                  "locationName": "attributeName"
                },
                "ElementName": {
                  "locationName": "elementName"
                },
                "Reason": {
                  "locationName": "reason",
                  "type": "string",
                  "enum": [
                    "DISALLOWED_ELEMENT_REMOVED",
                    "DISALLOWED_ATTRIBUTE_REMOVED",
                    "INVALID_ATTRIBUTE_VALUE_REMOVED"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "UpdateUser": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/brokers/{broker-id}/users/{username}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          },
          "ConsoleAccess": {
            "locationName": "consoleAccess",
            "type": "boolean"
          },
          "Groups": {
            "shape": "Sb",
            "locationName": "groups"
          },
          "Password": {
            "locationName": "password"
          },
          "Username": {
            "location": "uri",
            "locationName": "username"
          }
        },
        "required": [
          "Username",
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "structure",
      "members": {
        "Id": {
          "locationName": "id"
        },
        "Revision": {
          "locationName": "revision",
          "type": "integer"
        }
      }
    },
    "S6": {
      "type": "string",
      "enum": [
        "SINGLE_INSTANCE",
        "ACTIVE_STANDBY_MULTI_AZ"
      ]
    },
    "S7": {
      "type": "string",
      "enum": [
        "ACTIVEMQ"
      ]
    },
    "S8": {
      "type": "structure",
      "members": {
        "Audit": {
          "locationName": "audit",
          "type": "boolean"
        },
        "General": {
          "locationName": "general",
          "type": "boolean"
        }
      }
    },
    "S9": {
      "type": "structure",
      "members": {
        "DayOfWeek": {
          "locationName": "dayOfWeek",
          "type": "string",
          "enum": [
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "TimeOfDay": {
          "locationName": "timeOfDay"
        },
        "TimeZone": {
          "locationName": "timeZone"
        }
      }
    },
    "Sb": {
      "type": "list",
      "member": {}
    },
    "Sh": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "Si": {
      "type": "structure",
      "members": {
        "Created": {
          "shape": "Sh",
          "locationName": "created"
        },
        "Description": {
          "locationName": "description"
        },
        "Revision": {
          "locationName": "revision",
          "type": "integer"
        }
      }
    },
    "St": {
      "type": "string",
      "enum": [
        "CREATION_IN_PROGRESS",
        "CREATION_FAILED",
        "DELETION_IN_PROGRESS",
        "RUNNING",
        "REBOOT_IN_PROGRESS"
      ]
    },
    "Sy": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PendingChange": {
            "shape": "S10",
            "locationName": "pendingChange"
          },
          "Username": {
            "locationName": "username"
          }
        }
      }
    },
    "S10": {
      "type": "string",
      "enum": [
        "CREATE",
        "UPDATE",
        "DELETE"
      ]
    },
    "S19": {
      "type": "integer",
      "min": 1,
      "max": 100
    }
  }
}