{
  "metadata": {
    "apiVersion": "2017-11-27",
    "endpointPrefix": "mq",
    "signingName": "mq",
    "serviceFullName": "AmazonMQ",
    "serviceId": "mq",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "mq-2017-11-27",
    "signatureVersion": "v4"
  },
  "operations": {
    "CreateBroker": {
      "http": {
        "requestUri": "/v1/brokers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AutoMinorVersionUpgrade": {
            "locationName": "autoMinorVersionUpgrade",
            "type": "boolean"
          },
          "BrokerName": {
            "locationName": "brokerName"
          },
          "Configuration": {
            "shape": "S4",
            "locationName": "configuration"
          },
          "CreatorRequestId": {
            "locationName": "creatorRequestId",
            "idempotencyToken": true
          },
          "DeploymentMode": {
            "locationName": "deploymentMode"
          },
          "EncryptionOptions": {
            "shape": "S7",
            "locationName": "encryptionOptions"
          },
          "EngineType": {
            "locationName": "engineType"
          },
          "EngineVersion": {
            "locationName": "engineVersion"
          },
          "HostInstanceType": {
            "locationName": "hostInstanceType"
          },
          "Logs": {
            "shape": "S9",
            "locationName": "logs"
          },
          "MaintenanceWindowStartTime": {
            "shape": "Sa",
            "locationName": "maintenanceWindowStartTime"
          },
          "PubliclyAccessible": {
            "locationName": "publiclyAccessible",
            "type": "boolean"
          },
          "SecurityGroups": {
            "shape": "Sc",
            "locationName": "securityGroups"
          },
          "StorageType": {
            "locationName": "storageType"
          },
          "SubnetIds": {
            "shape": "Sc",
            "locationName": "subnetIds"
          },
          "Tags": {
            "shape": "Se",
            "locationName": "tags"
          },
          "Users": {
            "locationName": "users",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ConsoleAccess": {
                  "locationName": "consoleAccess",
                  "type": "boolean"
                },
                "Groups": {
                  "shape": "Sc",
                  "locationName": "groups"
                },
                "Password": {
                  "locationName": "password"
                },
                "Username": {
                  "locationName": "username"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerArn": {
            "locationName": "brokerArn"
          },
          "BrokerId": {
            "locationName": "brokerId"
          }
        }
      }
    },
    "CreateConfiguration": {
      "http": {
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "EngineType": {
            "locationName": "engineType"
          },
          "EngineVersion": {
            "locationName": "engineVersion"
          },
          "Name": {
            "locationName": "name"
          },
          "Tags": {
            "shape": "Se",
            "locationName": "tags"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Created": {
            "shape": "Sk",
            "locationName": "created"
          },
          "Id": {
            "locationName": "id"
          },
          "LatestRevision": {
            "shape": "Sl",
            "locationName": "latestRevision"
          },
          "Name": {
            "locationName": "name"
          }
        }
      }
    },
    "CreateTags": {
      "http": {
        "requestUri": "/v1/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          },
          "Tags": {
            "shape": "Se",
            "locationName": "tags"
          }
        },
        "required": [
          "ResourceArn"
        ]
      }
    },
    "CreateUser": {
      "http": {
        "requestUri": "/v1/brokers/{broker-id}/users/{username}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          },
          "ConsoleAccess": {
            "locationName": "consoleAccess",
            "type": "boolean"
          },
          "Groups": {
            "shape": "Sc",
            "locationName": "groups"
          },
          "Password": {
            "locationName": "password"
          },
          "Username": {
            "location": "uri",
            "locationName": "username"
          }
        },
        "required": [
          "Username",
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteBroker": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/brokers/{broker-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          }
        },
        "required": [
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "locationName": "brokerId"
          }
        }
      }
    },
    "DeleteTags": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          },
          "TagKeys": {
            "shape": "Sc",
            "location": "querystring",
            "locationName": "tagKeys"
          }
        },
        "required": [
          "TagKeys",
          "ResourceArn"
        ]
      }
    },
    "DeleteUser": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/brokers/{broker-id}/users/{username}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          },
          "Username": {
            "location": "uri",
            "locationName": "username"
          }
        },
        "required": [
          "Username",
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeBroker": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/brokers/{broker-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          }
        },
        "required": [
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "AutoMinorVersionUpgrade": {
            "locationName": "autoMinorVersionUpgrade",
            "type": "boolean"
          },
          "BrokerArn": {
            "locationName": "brokerArn"
          },
          "BrokerId": {
            "locationName": "brokerId"
          },
          "BrokerInstances": {
            "locationName": "brokerInstances",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ConsoleURL": {
                  "locationName": "consoleURL"
                },
                "Endpoints": {
                  "shape": "Sc",
                  "locationName": "endpoints"
                },
                "IpAddress": {
                  "locationName": "ipAddress"
                }
              }
            }
          },
          "BrokerName": {
            "locationName": "brokerName"
          },
          "BrokerState": {
            "locationName": "brokerState"
          },
          "Configurations": {
            "locationName": "configurations",
            "type": "structure",
            "members": {
              "Current": {
                "shape": "S4",
                "locationName": "current"
              },
              "History": {
                "locationName": "history",
                "type": "list",
                "member": {
                  "shape": "S4"
                }
              },
              "Pending": {
                "shape": "S4",
                "locationName": "pending"
              }
            }
          },
          "Created": {
            "shape": "Sk",
            "locationName": "created"
          },
          "DeploymentMode": {
            "locationName": "deploymentMode"
          },
          "EncryptionOptions": {
            "shape": "S7",
            "locationName": "encryptionOptions"
          },
          "EngineType": {
            "locationName": "engineType"
          },
          "EngineVersion": {
            "locationName": "engineVersion"
          },
          "HostInstanceType": {
            "locationName": "hostInstanceType"
          },
          "Logs": {
            "locationName": "logs",
            "type": "structure",
            "members": {
              "Audit": {
                "locationName": "audit",
                "type": "boolean"
              },
              "AuditLogGroup": {
                "locationName": "auditLogGroup"
              },
              "General": {
                "locationName": "general",
                "type": "boolean"
              },
              "GeneralLogGroup": {
                "locationName": "generalLogGroup"
              },
              "Pending": {
                "locationName": "pending",
                "type": "structure",
                "members": {
                  "Audit": {
                    "locationName": "audit",
                    "type": "boolean"
                  },
                  "General": {
                    "locationName": "general",
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "MaintenanceWindowStartTime": {
            "shape": "Sa",
            "locationName": "maintenanceWindowStartTime"
          },
          "PendingEngineVersion": {
            "locationName": "pendingEngineVersion"
          },
          "PendingHostInstanceType": {
            "locationName": "pendingHostInstanceType"
          },
          "PendingSecurityGroups": {
            "shape": "Sc",
            "locationName": "pendingSecurityGroups"
          },
          "PubliclyAccessible": {
            "locationName": "publiclyAccessible",
            "type": "boolean"
          },
          "SecurityGroups": {
            "shape": "Sc",
            "locationName": "securityGroups"
          },
          "StorageType": {
            "locationName": "storageType"
          },
          "SubnetIds": {
            "shape": "Sc",
            "locationName": "subnetIds"
          },
          "Tags": {
            "shape": "Se",
            "locationName": "tags"
          },
          "Users": {
            "shape": "S13",
            "locationName": "users"
          }
        }
      }
    },
    "DescribeBrokerEngineTypes": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/broker-engine-types",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "EngineType": {
            "location": "querystring",
            "locationName": "engineType"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerEngineTypes": {
            "locationName": "brokerEngineTypes",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "EngineType": {
                  "locationName": "engineType"
                },
                "EngineVersions": {
                  "locationName": "engineVersions",
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Name": {
                        "locationName": "name"
                      }
                    }
                  }
                }
              }
            }
          },
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "DescribeBrokerInstanceOptions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/broker-instance-options",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "EngineType": {
            "location": "querystring",
            "locationName": "engineType"
          },
          "HostInstanceType": {
            "location": "querystring",
            "locationName": "hostInstanceType"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "StorageType": {
            "location": "querystring",
            "locationName": "storageType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerInstanceOptions": {
            "locationName": "brokerInstanceOptions",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AvailabilityZones": {
                  "locationName": "availabilityZones",
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "Name": {
                        "locationName": "name"
                      }
                    }
                  }
                },
                "EngineType": {
                  "locationName": "engineType"
                },
                "HostInstanceType": {
                  "locationName": "hostInstanceType"
                },
                "StorageType": {
                  "locationName": "storageType"
                },
                "SupportedDeploymentModes": {
                  "locationName": "supportedDeploymentModes",
                  "type": "list",
                  "member": {}
                },
                "SupportedEngineVersions": {
                  "shape": "Sc",
                  "locationName": "supportedEngineVersions"
                }
              }
            }
          },
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "DescribeConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{configuration-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationId": {
            "location": "uri",
            "locationName": "configuration-id"
          }
        },
        "required": [
          "ConfigurationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Created": {
            "shape": "Sk",
            "locationName": "created"
          },
          "Description": {
            "locationName": "description"
          },
          "EngineType": {
            "locationName": "engineType"
          },
          "EngineVersion": {
            "locationName": "engineVersion"
          },
          "Id": {
            "locationName": "id"
          },
          "LatestRevision": {
            "shape": "Sl",
            "locationName": "latestRevision"
          },
          "Name": {
            "locationName": "name"
          },
          "Tags": {
            "shape": "Se",
            "locationName": "tags"
          }
        }
      }
    },
    "DescribeConfigurationRevision": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{configuration-id}/revisions/{configuration-revision}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationId": {
            "location": "uri",
            "locationName": "configuration-id"
          },
          "ConfigurationRevision": {
            "location": "uri",
            "locationName": "configuration-revision"
          }
        },
        "required": [
          "ConfigurationRevision",
          "ConfigurationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationId": {
            "locationName": "configurationId"
          },
          "Created": {
            "shape": "Sk",
            "locationName": "created"
          },
          "Data": {
            "locationName": "data"
          },
          "Description": {
            "locationName": "description"
          }
        }
      }
    },
    "DescribeUser": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/brokers/{broker-id}/users/{username}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          },
          "Username": {
            "location": "uri",
            "locationName": "username"
          }
        },
        "required": [
          "Username",
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "locationName": "brokerId"
          },
          "ConsoleAccess": {
            "locationName": "consoleAccess",
            "type": "boolean"
          },
          "Groups": {
            "shape": "Sc",
            "locationName": "groups"
          },
          "Pending": {
            "locationName": "pending",
            "type": "structure",
            "members": {
              "ConsoleAccess": {
                "locationName": "consoleAccess",
                "type": "boolean"
              },
              "Groups": {
                "shape": "Sc",
                "locationName": "groups"
              },
              "PendingChange": {
                "locationName": "pendingChange"
              }
            }
          },
          "Username": {
            "locationName": "username"
          }
        }
      }
    },
    "ListBrokers": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/brokers",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerSummaries": {
            "locationName": "brokerSummaries",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "BrokerArn": {
                  "locationName": "brokerArn"
                },
                "BrokerId": {
                  "locationName": "brokerId"
                },
                "BrokerName": {
                  "locationName": "brokerName"
                },
                "BrokerState": {
                  "locationName": "brokerState"
                },
                "Created": {
                  "shape": "Sk",
                  "locationName": "created"
                },
                "DeploymentMode": {
                  "locationName": "deploymentMode"
                },
                "HostInstanceType": {
                  "locationName": "hostInstanceType"
                }
              }
            }
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListConfigurationRevisions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{configuration-id}/revisions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationId": {
            "location": "uri",
            "locationName": "configuration-id"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "ConfigurationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationId": {
            "locationName": "configurationId"
          },
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken"
          },
          "Revisions": {
            "locationName": "revisions",
            "type": "list",
            "member": {
              "shape": "Sl"
            }
          }
        }
      }
    },
    "ListConfigurations": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Configurations": {
            "locationName": "configurations",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {
                  "locationName": "arn"
                },
                "Created": {
                  "shape": "Sk",
                  "locationName": "created"
                },
                "Description": {
                  "locationName": "description"
                },
                "EngineType": {
                  "locationName": "engineType"
                },
                "EngineVersion": {
                  "locationName": "engineVersion"
                },
                "Id": {
                  "locationName": "id"
                },
                "LatestRevision": {
                  "shape": "Sl",
                  "locationName": "latestRevision"
                },
                "Name": {
                  "locationName": "name"
                },
                "Tags": {
                  "shape": "Se",
                  "locationName": "tags"
                }
              }
            }
          },
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken"
          }
        }
      }
    },
    "ListTags": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          }
        },
        "required": [
          "ResourceArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Se",
            "locationName": "tags"
          }
        }
      }
    },
    "ListUsers": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/brokers/{broker-id}/users",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        },
        "required": [
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "locationName": "brokerId"
          },
          "MaxResults": {
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "locationName": "nextToken"
          },
          "Users": {
            "shape": "S13",
            "locationName": "users"
          }
        }
      }
    },
    "RebootBroker": {
      "http": {
        "requestUri": "/v1/brokers/{broker-id}/reboot",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          }
        },
        "required": [
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateBroker": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/brokers/{broker-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "AutoMinorVersionUpgrade": {
            "locationName": "autoMinorVersionUpgrade",
            "type": "boolean"
          },
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          },
          "Configuration": {
            "shape": "S4",
            "locationName": "configuration"
          },
          "EngineVersion": {
            "locationName": "engineVersion"
          },
          "HostInstanceType": {
            "locationName": "hostInstanceType"
          },
          "Logs": {
            "shape": "S9",
            "locationName": "logs"
          },
          "SecurityGroups": {
            "shape": "Sc",
            "locationName": "securityGroups"
          }
        },
        "required": [
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "AutoMinorVersionUpgrade": {
            "locationName": "autoMinorVersionUpgrade",
            "type": "boolean"
          },
          "BrokerId": {
            "locationName": "brokerId"
          },
          "Configuration": {
            "shape": "S4",
            "locationName": "configuration"
          },
          "EngineVersion": {
            "locationName": "engineVersion"
          },
          "HostInstanceType": {
            "locationName": "hostInstanceType"
          },
          "Logs": {
            "shape": "S9",
            "locationName": "logs"
          },
          "SecurityGroups": {
            "shape": "Sc",
            "locationName": "securityGroups"
          }
        }
      }
    },
    "UpdateConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/configurations/{configuration-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationId": {
            "location": "uri",
            "locationName": "configuration-id"
          },
          "Data": {
            "locationName": "data"
          },
          "Description": {
            "locationName": "description"
          }
        },
        "required": [
          "ConfigurationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "locationName": "arn"
          },
          "Created": {
            "shape": "Sk",
            "locationName": "created"
          },
          "Id": {
            "locationName": "id"
          },
          "LatestRevision": {
            "shape": "Sl",
            "locationName": "latestRevision"
          },
          "Name": {
            "locationName": "name"
          },
          "Warnings": {
            "locationName": "warnings",
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AttributeName": {
                  "locationName": "attributeName"
                },
                "ElementName": {
                  "locationName": "elementName"
                },
                "Reason": {
                  "locationName": "reason"
                }
              }
            }
          }
        }
      }
    },
    "UpdateUser": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/brokers/{broker-id}/users/{username}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "BrokerId": {
            "location": "uri",
            "locationName": "broker-id"
          },
          "ConsoleAccess": {
            "locationName": "consoleAccess",
            "type": "boolean"
          },
          "Groups": {
            "shape": "Sc",
            "locationName": "groups"
          },
          "Password": {
            "locationName": "password"
          },
          "Username": {
            "location": "uri",
            "locationName": "username"
          }
        },
        "required": [
          "Username",
          "BrokerId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "structure",
      "members": {
        "Id": {
          "locationName": "id"
        },
        "Revision": {
          "locationName": "revision",
          "type": "integer"
        }
      }
    },
    "S7": {
      "type": "structure",
      "members": {
        "KmsKeyId": {
          "locationName": "kmsKeyId"
        },
        "UseAwsOwnedKey": {
          "locationName": "useAwsOwnedKey",
          "type": "boolean"
        }
      },
      "required": [
        "UseAwsOwnedKey"
      ]
    },
    "S9": {
      "type": "structure",
      "members": {
        "Audit": {
          "locationName": "audit",
          "type": "boolean"
        },
        "General": {
          "locationName": "general",
          "type": "boolean"
        }
      }
    },
    "Sa": {
      "type": "structure",
      "members": {
        "DayOfWeek": {
          "locationName": "dayOfWeek"
        },
        "TimeOfDay": {
          "locationName": "timeOfDay"
        },
        "TimeZone": {
          "locationName": "timeZone"
        }
      }
    },
    "Sc": {
      "type": "list",
      "member": {}
    },
    "Se": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sk": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "Sl": {
      "type": "structure",
      "members": {
        "Created": {
          "shape": "Sk",
          "locationName": "created"
        },
        "Description": {
          "locationName": "description"
        },
        "Revision": {
          "locationName": "revision",
          "type": "integer"
        }
      }
    },
    "S13": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "PendingChange": {
            "locationName": "pendingChange"
          },
          "Username": {
            "locationName": "username"
          }
        }
      }
    }
  },
  "authorizers": {
    "authorization_strategy": {
      "name": "authorization_strategy",
      "type": "provided",
      "placement": {
        "location": "header",
        "name": "Authorization"
      }
    }
  }
}