{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-07-05",
    "endpointPrefix": "networkmanager",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "NetworkManager",
    "serviceFullName": "AWS Network Manager",
    "serviceId": "NetworkManager",
    "signatureVersion": "v4",
    "signingName": "networkmanager",
    "uid": "networkmanager-2019-07-05"
  },
  "operations": {
    "AssociateCustomerGateway": {
      "http": {
        "requestUri": "/global-networks/{globalNetworkId}/customer-gateway-associations"
      },
      "input": {
        "type": "structure",
        "required": [
          "CustomerGatewayArn",
          "GlobalNetworkId",
          "DeviceId"
        ],
        "members": {
          "CustomerGatewayArn": {},
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "DeviceId": {},
          "LinkId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CustomerGatewayAssociation": {
            "shape": "S4"
          }
        }
      }
    },
    "AssociateLink": {
      "http": {
        "requestUri": "/global-networks/{globalNetworkId}/link-associations"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId",
          "DeviceId",
          "LinkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "DeviceId": {},
          "LinkId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LinkAssociation": {
            "shape": "S8"
          }
        }
      }
    },
    "CreateDevice": {
      "http": {
        "requestUri": "/global-networks/{globalNetworkId}/devices"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "Description": {},
          "Type": {},
          "Vendor": {},
          "Model": {},
          "SerialNumber": {},
          "Location": {
            "shape": "Sb"
          },
          "SiteId": {},
          "Tags": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Device": {
            "shape": "Sh"
          }
        }
      }
    },
    "CreateGlobalNetwork": {
      "http": {
        "requestUri": "/global-networks"
      },
      "input": {
        "type": "structure",
        "members": {
          "Description": {},
          "Tags": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GlobalNetwork": {
            "shape": "Sm"
          }
        }
      }
    },
    "CreateLink": {
      "http": {
        "requestUri": "/global-networks/{globalNetworkId}/links"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId",
          "Bandwidth",
          "SiteId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "Description": {},
          "Type": {},
          "Bandwidth": {
            "shape": "Sp"
          },
          "Provider": {},
          "SiteId": {},
          "Tags": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Link": {
            "shape": "Ss"
          }
        }
      }
    },
    "CreateSite": {
      "http": {
        "requestUri": "/global-networks/{globalNetworkId}/sites"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "Description": {},
          "Location": {
            "shape": "Sb"
          },
          "Tags": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Site": {
            "shape": "Sw"
          }
        }
      }
    },
    "DeleteDevice": {
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/devices/{deviceId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId",
          "DeviceId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "DeviceId": {
            "location": "uri",
            "locationName": "deviceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Device": {
            "shape": "Sh"
          }
        }
      }
    },
    "DeleteGlobalNetwork": {
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GlobalNetwork": {
            "shape": "Sm"
          }
        }
      }
    },
    "DeleteLink": {
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/links/{linkId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId",
          "LinkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "LinkId": {
            "location": "uri",
            "locationName": "linkId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Link": {
            "shape": "Ss"
          }
        }
      }
    },
    "DeleteSite": {
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/sites/{siteId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId",
          "SiteId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "SiteId": {
            "location": "uri",
            "locationName": "siteId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Site": {
            "shape": "Sw"
          }
        }
      }
    },
    "DeregisterTransitGateway": {
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/transit-gateway-registrations/{transitGatewayArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId",
          "TransitGatewayArn"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "TransitGatewayArn": {
            "location": "uri",
            "locationName": "transitGatewayArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransitGatewayRegistration": {
            "shape": "S18"
          }
        }
      }
    },
    "DescribeGlobalNetworks": {
      "http": {
        "method": "GET",
        "requestUri": "/global-networks"
      },
      "input": {
        "type": "structure",
        "members": {
          "GlobalNetworkIds": {
            "shape": "S1c",
            "location": "querystring",
            "locationName": "globalNetworkIds"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GlobalNetworks": {
            "type": "list",
            "member": {
              "shape": "Sm"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisassociateCustomerGateway": {
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/customer-gateway-associations/{customerGatewayArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId",
          "CustomerGatewayArn"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "CustomerGatewayArn": {
            "location": "uri",
            "locationName": "customerGatewayArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CustomerGatewayAssociation": {
            "shape": "S4"
          }
        }
      }
    },
    "DisassociateLink": {
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/link-associations"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId",
          "DeviceId",
          "LinkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "DeviceId": {
            "location": "querystring",
            "locationName": "deviceId"
          },
          "LinkId": {
            "location": "querystring",
            "locationName": "linkId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LinkAssociation": {
            "shape": "S8"
          }
        }
      }
    },
    "GetCustomerGatewayAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/customer-gateway-associations"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "CustomerGatewayArns": {
            "shape": "S1c",
            "location": "querystring",
            "locationName": "customerGatewayArns"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CustomerGatewayAssociations": {
            "type": "list",
            "member": {
              "shape": "S4"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetDevices": {
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/devices"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "DeviceIds": {
            "shape": "S1c",
            "location": "querystring",
            "locationName": "deviceIds"
          },
          "SiteId": {
            "location": "querystring",
            "locationName": "siteId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Devices": {
            "type": "list",
            "member": {
              "shape": "Sh"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetLinkAssociations": {
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/link-associations"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "DeviceId": {
            "location": "querystring",
            "locationName": "deviceId"
          },
          "LinkId": {
            "location": "querystring",
            "locationName": "linkId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LinkAssociations": {
            "type": "list",
            "member": {
              "shape": "S8"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetLinks": {
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/links"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "LinkIds": {
            "shape": "S1c",
            "location": "querystring",
            "locationName": "linkIds"
          },
          "SiteId": {
            "location": "querystring",
            "locationName": "siteId"
          },
          "Type": {
            "location": "querystring",
            "locationName": "type"
          },
          "Provider": {
            "location": "querystring",
            "locationName": "provider"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Links": {
            "type": "list",
            "member": {
              "shape": "Ss"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetSites": {
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/sites"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "SiteIds": {
            "shape": "S1c",
            "location": "querystring",
            "locationName": "siteIds"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Sites": {
            "type": "list",
            "member": {
              "shape": "Sw"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetTransitGatewayRegistrations": {
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/transit-gateway-registrations"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "TransitGatewayArns": {
            "shape": "S1c",
            "location": "querystring",
            "locationName": "transitGatewayArns"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransitGatewayRegistrations": {
            "type": "list",
            "member": {
              "shape": "S18"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TagList": {
            "shape": "Sc"
          }
        }
      }
    },
    "RegisterTransitGateway": {
      "http": {
        "requestUri": "/global-networks/{globalNetworkId}/transit-gateway-registrations"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId",
          "TransitGatewayArn"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "TransitGatewayArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TransitGatewayRegistration": {
            "shape": "S18"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "Tags": {
            "shape": "Sc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateDevice": {
      "http": {
        "method": "PATCH",
        "requestUri": "/global-networks/{globalNetworkId}/devices/{deviceId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId",
          "DeviceId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "DeviceId": {
            "location": "uri",
            "locationName": "deviceId"
          },
          "Description": {},
          "Type": {},
          "Vendor": {},
          "Model": {},
          "SerialNumber": {},
          "Location": {
            "shape": "Sb"
          },
          "SiteId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Device": {
            "shape": "Sh"
          }
        }
      }
    },
    "UpdateGlobalNetwork": {
      "http": {
        "method": "PATCH",
        "requestUri": "/global-networks/{globalNetworkId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GlobalNetwork": {
            "shape": "Sm"
          }
        }
      }
    },
    "UpdateLink": {
      "http": {
        "method": "PATCH",
        "requestUri": "/global-networks/{globalNetworkId}/links/{linkId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId",
          "LinkId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "LinkId": {
            "location": "uri",
            "locationName": "linkId"
          },
          "Description": {},
          "Type": {},
          "Bandwidth": {
            "shape": "Sp"
          },
          "Provider": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Link": {
            "shape": "Ss"
          }
        }
      }
    },
    "UpdateSite": {
      "http": {
        "method": "PATCH",
        "requestUri": "/global-networks/{globalNetworkId}/sites/{siteId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GlobalNetworkId",
          "SiteId"
        ],
        "members": {
          "GlobalNetworkId": {
            "location": "uri",
            "locationName": "globalNetworkId"
          },
          "SiteId": {
            "location": "uri",
            "locationName": "siteId"
          },
          "Description": {},
          "Location": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Site": {
            "shape": "Sw"
          }
        }
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "structure",
      "members": {
        "CustomerGatewayArn": {},
        "GlobalNetworkId": {},
        "DeviceId": {},
        "LinkId": {},
        "State": {}
      }
    },
    "S8": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {},
        "DeviceId": {},
        "LinkId": {},
        "LinkAssociationState": {}
      }
    },
    "Sb": {
      "type": "structure",
      "members": {
        "Address": {},
        "Latitude": {},
        "Longitude": {}
      }
    },
    "Sc": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "Sh": {
      "type": "structure",
      "members": {
        "DeviceId": {},
        "DeviceArn": {},
        "GlobalNetworkId": {},
        "Description": {},
        "Type": {},
        "Vendor": {},
        "Model": {},
        "SerialNumber": {},
        "Location": {
          "shape": "Sb"
        },
        "SiteId": {},
        "CreatedAt": {
          "type": "timestamp"
        },
        "State": {},
        "Tags": {
          "shape": "Sc"
        }
      }
    },
    "Sm": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {},
        "GlobalNetworkArn": {},
        "Description": {},
        "CreatedAt": {
          "type": "timestamp"
        },
        "State": {},
        "Tags": {
          "shape": "Sc"
        }
      }
    },
    "Sp": {
      "type": "structure",
      "members": {
        "UploadSpeed": {
          "type": "integer"
        },
        "DownloadSpeed": {
          "type": "integer"
        }
      }
    },
    "Ss": {
      "type": "structure",
      "members": {
        "LinkId": {},
        "LinkArn": {},
        "GlobalNetworkId": {},
        "SiteId": {},
        "Description": {},
        "Type": {},
        "Bandwidth": {
          "shape": "Sp"
        },
        "Provider": {},
        "CreatedAt": {
          "type": "timestamp"
        },
        "State": {},
        "Tags": {
          "shape": "Sc"
        }
      }
    },
    "Sw": {
      "type": "structure",
      "members": {
        "SiteId": {},
        "SiteArn": {},
        "GlobalNetworkId": {},
        "Description": {},
        "Location": {
          "shape": "Sb"
        },
        "CreatedAt": {
          "type": "timestamp"
        },
        "State": {},
        "Tags": {
          "shape": "Sc"
        }
      }
    },
    "S18": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {},
        "TransitGatewayArn": {},
        "State": {
          "type": "structure",
          "members": {
            "Code": {},
            "Message": {}
          }
        }
      }
    },
    "S1c": {
      "type": "list",
      "member": {}
    }
  }
}