{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-08-01",
    "endpointPrefix": "nimble",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AmazonNimbleStudio",
    "serviceId": "nimble",
    "signatureVersion": "v4",
    "signingName": "nimble",
    "uid": "nimble-2020-08-01"
  },
  "operations": {
    "AcceptEulas": {
      "http": {
        "requestUri": "/2020-08-01/studios/{studioId}/eula-acceptances",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "eulaIds": {
            "shape": "S3"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "eulaAcceptances": {
            "shape": "S6"
          }
        }
      }
    },
    "CreateLaunchProfile": {
      "http": {
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ec2SubnetIds",
          "launchProfileProtocolVersions",
          "name",
          "streamConfiguration",
          "studioComponentIds",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "description": {
            "shape": "Sc"
          },
          "ec2SubnetIds": {
            "shape": "Sd"
          },
          "launchProfileProtocolVersions": {
            "shape": "Sf"
          },
          "name": {
            "shape": "Sh"
          },
          "streamConfiguration": {
            "shape": "Si"
          },
          "studioComponentIds": {
            "shape": "Sw"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          },
          "tags": {
            "shape": "Sx"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "launchProfile": {
            "shape": "Sz"
          }
        }
      }
    },
    "CreateStreamingImage": {
      "http": {
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-images",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ec2ImageId",
          "name",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "description": {
            "type": "string",
            "sensitive": true
          },
          "ec2ImageId": {},
          "name": {
            "type": "string",
            "sensitive": true
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          },
          "tags": {
            "shape": "Sx"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "streamingImage": {
            "shape": "S19"
          }
        }
      }
    },
    "CreateStreamingSession": {
      "http": {
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "ec2InstanceType": {},
          "launchProfileId": {},
          "ownedBy": {},
          "streamingImageId": {},
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          },
          "tags": {
            "shape": "Sx"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "session": {
            "shape": "S1l"
          }
        }
      }
    },
    "CreateStreamingSessionStream": {
      "http": {
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sessionId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "expirationInSeconds": {
            "type": "integer"
          },
          "sessionId": {
            "location": "uri",
            "locationName": "sessionId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "stream": {
            "shape": "S1s"
          }
        }
      },
      "idempotent": true
    },
    "CreateStudio": {
      "http": {
        "requestUri": "/2020-08-01/studios",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "adminRoleArn",
          "displayName",
          "studioName",
          "userRoleArn"
        ],
        "members": {
          "adminRoleArn": {},
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "displayName": {
            "type": "string",
            "sensitive": true
          },
          "studioEncryptionConfiguration": {
            "shape": "S1y"
          },
          "studioName": {},
          "tags": {
            "shape": "Sx"
          },
          "userRoleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "studio": {
            "shape": "S23"
          }
        }
      }
    },
    "CreateStudioComponent": {
      "http": {
        "requestUri": "/2020-08-01/studios/{studioId}/studio-components",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "studioId",
          "type"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "configuration": {
            "shape": "S29"
          },
          "description": {
            "shape": "S2p"
          },
          "ec2SecurityGroupIds": {
            "shape": "S2q"
          },
          "initializationScripts": {
            "shape": "S2s"
          },
          "name": {
            "shape": "S2x"
          },
          "scriptParameters": {
            "shape": "S2y"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          },
          "subtype": {},
          "tags": {
            "shape": "Sx"
          },
          "type": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "studioComponent": {
            "shape": "S35"
          }
        }
      }
    },
    "DeleteLaunchProfile": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "launchProfileId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "launchProfileId": {
            "location": "uri",
            "locationName": "launchProfileId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "launchProfile": {
            "shape": "Sz"
          }
        }
      },
      "idempotent": true
    },
    "DeleteLaunchProfileMember": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "launchProfileId",
          "principalId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "launchProfileId": {
            "location": "uri",
            "locationName": "launchProfileId"
          },
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "DeleteStreamingImage": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "streamingImageId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "streamingImageId": {
            "location": "uri",
            "locationName": "streamingImageId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "streamingImage": {
            "shape": "S19"
          }
        }
      },
      "idempotent": true
    },
    "DeleteStreamingSession": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sessionId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "sessionId": {
            "location": "uri",
            "locationName": "sessionId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "session": {
            "shape": "S1l"
          }
        }
      },
      "idempotent": true
    },
    "DeleteStudio": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "studio"
        ],
        "members": {
          "studio": {
            "shape": "S23"
          }
        }
      },
      "idempotent": true
    },
    "DeleteStudioComponent": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioComponentId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "studioComponentId": {
            "location": "uri",
            "locationName": "studioComponentId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "studioComponent": {
            "shape": "S35"
          }
        }
      },
      "idempotent": true
    },
    "DeleteStudioMember": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "principalId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "GetEula": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/eulas/{eulaId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "eulaId"
        ],
        "members": {
          "eulaId": {
            "location": "uri",
            "locationName": "eulaId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "eula": {
            "shape": "S3p"
          }
        }
      }
    },
    "GetLaunchProfile": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "launchProfileId",
          "studioId"
        ],
        "members": {
          "launchProfileId": {
            "location": "uri",
            "locationName": "launchProfileId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "launchProfile": {
            "shape": "Sz"
          }
        }
      }
    },
    "GetLaunchProfileDetails": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/details",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "launchProfileId",
          "studioId"
        ],
        "members": {
          "launchProfileId": {
            "location": "uri",
            "locationName": "launchProfileId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "launchProfile": {
            "shape": "Sz"
          },
          "streamingImages": {
            "shape": "S3v"
          },
          "studioComponentSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "createdAt": {
                  "shape": "S8"
                },
                "createdBy": {},
                "description": {
                  "shape": "S2p"
                },
                "name": {
                  "shape": "S2x"
                },
                "studioComponentId": {},
                "subtype": {},
                "type": {},
                "updatedAt": {
                  "shape": "S8"
                },
                "updatedBy": {}
              }
            }
          }
        }
      }
    },
    "GetLaunchProfileInitialization": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/init",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "launchProfileId",
          "launchProfileProtocolVersions",
          "launchPurpose",
          "platform",
          "studioId"
        ],
        "members": {
          "launchProfileId": {
            "location": "uri",
            "locationName": "launchProfileId"
          },
          "launchProfileProtocolVersions": {
            "shape": "S3z",
            "location": "querystring",
            "locationName": "launchProfileProtocolVersions"
          },
          "launchPurpose": {
            "location": "querystring",
            "locationName": "launchPurpose"
          },
          "platform": {
            "location": "querystring",
            "locationName": "platform"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "launchProfileInitialization": {
            "type": "structure",
            "members": {
              "activeDirectory": {
                "type": "structure",
                "members": {
                  "computerAttributes": {
                    "shape": "S2b"
                  },
                  "directoryId": {},
                  "directoryName": {},
                  "dnsIpAddresses": {
                    "type": "list",
                    "member": {}
                  },
                  "organizationalUnitDistinguishedName": {},
                  "studioComponentId": {},
                  "studioComponentName": {
                    "shape": "S2x"
                  }
                }
              },
              "ec2SecurityGroupIds": {
                "type": "list",
                "member": {}
              },
              "launchProfileId": {},
              "launchProfileProtocolVersion": {},
              "launchPurpose": {},
              "name": {
                "shape": "Sh"
              },
              "platform": {},
              "systemInitializationScripts": {
                "shape": "S47"
              },
              "userInitializationScripts": {
                "shape": "S47"
              }
            }
          }
        }
      }
    },
    "GetLaunchProfileMember": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "launchProfileId",
          "principalId",
          "studioId"
        ],
        "members": {
          "launchProfileId": {
            "location": "uri",
            "locationName": "launchProfileId"
          },
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "member": {
            "shape": "S4b"
          }
        }
      }
    },
    "GetStreamingImage": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "streamingImageId",
          "studioId"
        ],
        "members": {
          "streamingImageId": {
            "location": "uri",
            "locationName": "streamingImageId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "streamingImage": {
            "shape": "S19"
          }
        }
      }
    },
    "GetStreamingSession": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sessionId",
          "studioId"
        ],
        "members": {
          "sessionId": {
            "location": "uri",
            "locationName": "sessionId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "session": {
            "shape": "S1l"
          }
        }
      }
    },
    "GetStreamingSessionStream": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams/{streamId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sessionId",
          "streamId",
          "studioId"
        ],
        "members": {
          "sessionId": {
            "location": "uri",
            "locationName": "sessionId"
          },
          "streamId": {
            "location": "uri",
            "locationName": "streamId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "stream": {
            "shape": "S1s"
          }
        }
      }
    },
    "GetStudio": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioId"
        ],
        "members": {
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "studio"
        ],
        "members": {
          "studio": {
            "shape": "S23"
          }
        }
      }
    },
    "GetStudioComponent": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioComponentId",
          "studioId"
        ],
        "members": {
          "studioComponentId": {
            "location": "uri",
            "locationName": "studioComponentId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "studioComponent": {
            "shape": "S35"
          }
        }
      }
    },
    "GetStudioMember": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "principalId",
          "studioId"
        ],
        "members": {
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "member": {
            "shape": "S4p"
          }
        }
      }
    },
    "ListEulaAcceptances": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/eula-acceptances",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioId"
        ],
        "members": {
          "eulaIds": {
            "shape": "S3z",
            "location": "querystring",
            "locationName": "eulaIds"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "eulaAcceptances": {
            "shape": "S6"
          },
          "nextToken": {}
        }
      }
    },
    "ListEulas": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/eulas",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "eulaIds": {
            "shape": "S3z",
            "location": "querystring",
            "locationName": "eulaIds"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "eulas": {
            "type": "list",
            "member": {
              "shape": "S3p"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListLaunchProfileMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "launchProfileId",
          "studioId"
        ],
        "members": {
          "launchProfileId": {
            "location": "uri",
            "locationName": "launchProfileId"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "members": {
            "type": "list",
            "member": {
              "shape": "S4b"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListLaunchProfiles": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioId"
        ],
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "principalId": {
            "location": "querystring",
            "locationName": "principalId"
          },
          "states": {
            "shape": "S3z",
            "location": "querystring",
            "locationName": "states"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "launchProfiles": {
            "type": "list",
            "member": {
              "shape": "Sz"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListStreamingImages": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-images",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioId"
        ],
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "owner": {
            "location": "querystring",
            "locationName": "owner"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "streamingImages": {
            "shape": "S3v"
          }
        }
      }
    },
    "ListStreamingSessions": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioId"
        ],
        "members": {
          "createdBy": {
            "location": "querystring",
            "locationName": "createdBy"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "ownedBy": {
            "location": "querystring",
            "locationName": "ownedBy"
          },
          "sessionIds": {
            "location": "querystring",
            "locationName": "sessionIds"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "sessions": {
            "type": "list",
            "member": {
              "shape": "S1l"
            }
          }
        }
      }
    },
    "ListStudioComponents": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/studio-components",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioId"
        ],
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "states": {
            "shape": "S3z",
            "location": "querystring",
            "locationName": "states"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          },
          "types": {
            "shape": "S3z",
            "location": "querystring",
            "locationName": "types"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "studioComponents": {
            "type": "list",
            "member": {
              "shape": "S35"
            }
          }
        }
      }
    },
    "ListStudioMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/membership",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioId"
        ],
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "members": {
            "type": "list",
            "member": {
              "shape": "S4p"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListStudios": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "studios"
        ],
        "members": {
          "nextToken": {},
          "studios": {
            "type": "list",
            "member": {
              "shape": "S23"
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "Sx"
          }
        }
      }
    },
    "PutLaunchProfileMembers": {
      "http": {
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "identityStoreId",
          "launchProfileId",
          "members",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "identityStoreId": {},
          "launchProfileId": {
            "location": "uri",
            "locationName": "launchProfileId"
          },
          "members": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "persona",
                "principalId"
              ],
              "members": {
                "persona": {},
                "principalId": {}
              }
            }
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutStudioMembers": {
      "http": {
        "requestUri": "/2020-08-01/studios/{studioId}/membership",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "identityStoreId",
          "members",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "identityStoreId": {},
          "members": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "persona",
                "principalId"
              ],
              "members": {
                "persona": {},
                "principalId": {}
              }
            }
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartStreamingSession": {
      "http": {
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/start",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sessionId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "sessionId": {
            "location": "uri",
            "locationName": "sessionId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "session": {
            "shape": "S1l"
          }
        }
      },
      "idempotent": true
    },
    "StartStudioSSOConfigurationRepair": {
      "http": {
        "method": "PUT",
        "requestUri": "/2020-08-01/studios/{studioId}/sso-configuration",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "studio"
        ],
        "members": {
          "studio": {
            "shape": "S23"
          }
        }
      },
      "idempotent": true
    },
    "StopStreamingSession": {
      "http": {
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/stop",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "sessionId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "sessionId": {
            "location": "uri",
            "locationName": "sessionId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "session": {
            "shape": "S1l"
          }
        }
      },
      "idempotent": true
    },
    "TagResource": {
      "http": {
        "requestUri": "/2020-08-01/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "Sx"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "shape": "S3z",
            "location": "querystring",
            "locationName": "tagKeys"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdateLaunchProfile": {
      "http": {
        "method": "PATCH",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "launchProfileId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "description": {
            "shape": "Sc"
          },
          "launchProfileId": {
            "location": "uri",
            "locationName": "launchProfileId"
          },
          "launchProfileProtocolVersions": {
            "shape": "Sf"
          },
          "name": {
            "shape": "Sh"
          },
          "streamConfiguration": {
            "shape": "Si"
          },
          "studioComponentIds": {
            "shape": "Sw"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "launchProfile": {
            "shape": "Sz"
          }
        }
      }
    },
    "UpdateLaunchProfileMember": {
      "http": {
        "method": "PATCH",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "launchProfileId",
          "persona",
          "principalId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "launchProfileId": {
            "location": "uri",
            "locationName": "launchProfileId"
          },
          "persona": {},
          "principalId": {
            "location": "uri",
            "locationName": "principalId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "member": {
            "shape": "S4b"
          }
        }
      }
    },
    "UpdateStreamingImage": {
      "http": {
        "method": "PATCH",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "streamingImageId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "description": {
            "type": "string",
            "sensitive": true
          },
          "name": {
            "type": "string",
            "sensitive": true
          },
          "streamingImageId": {
            "location": "uri",
            "locationName": "streamingImageId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "streamingImage": {
            "shape": "S19"
          }
        }
      }
    },
    "UpdateStudio": {
      "http": {
        "method": "PATCH",
        "requestUri": "/2020-08-01/studios/{studioId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioId"
        ],
        "members": {
          "adminRoleArn": {},
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "displayName": {
            "type": "string",
            "sensitive": true
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          },
          "userRoleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "studio"
        ],
        "members": {
          "studio": {
            "shape": "S23"
          }
        }
      }
    },
    "UpdateStudioComponent": {
      "http": {
        "method": "PATCH",
        "requestUri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "studioComponentId",
          "studioId"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true,
            "location": "header",
            "locationName": "X-Amz-Client-Token"
          },
          "configuration": {
            "shape": "S29"
          },
          "description": {
            "shape": "S2p"
          },
          "ec2SecurityGroupIds": {
            "shape": "S2q"
          },
          "initializationScripts": {
            "shape": "S2s"
          },
          "name": {
            "shape": "S2x"
          },
          "scriptParameters": {
            "shape": "S2y"
          },
          "studioComponentId": {
            "location": "uri",
            "locationName": "studioComponentId"
          },
          "studioId": {
            "location": "uri",
            "locationName": "studioId"
          },
          "subtype": {},
          "type": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "studioComponent": {
            "shape": "S35"
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {}
    },
    "S6": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "acceptedAt": {
            "shape": "S8"
          },
          "acceptedBy": {},
          "accepteeId": {},
          "eulaAcceptanceId": {},
          "eulaId": {}
        }
      }
    },
    "S8": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "Sc": {
      "type": "string",
      "sensitive": true
    },
    "Sd": {
      "type": "list",
      "member": {}
    },
    "Sf": {
      "type": "list",
      "member": {}
    },
    "Sh": {
      "type": "string",
      "sensitive": true
    },
    "Si": {
      "type": "structure",
      "required": [
        "clipboardMode",
        "ec2InstanceTypes",
        "streamingImageIds"
      ],
      "members": {
        "clipboardMode": {},
        "ec2InstanceTypes": {
          "shape": "Sk"
        },
        "maxSessionLengthInMinutes": {
          "type": "integer"
        },
        "maxStoppedSessionLengthInMinutes": {
          "type": "integer"
        },
        "sessionStorage": {
          "shape": "So"
        },
        "streamingImageIds": {
          "shape": "Su"
        }
      }
    },
    "Sk": {
      "type": "list",
      "member": {}
    },
    "So": {
      "type": "structure",
      "required": [
        "mode"
      ],
      "members": {
        "mode": {
          "type": "list",
          "member": {}
        },
        "root": {
          "type": "structure",
          "members": {
            "linux": {
              "type": "string",
              "sensitive": true
            },
            "windows": {
              "type": "string",
              "sensitive": true
            }
          }
        }
      }
    },
    "Su": {
      "type": "list",
      "member": {}
    },
    "Sw": {
      "type": "list",
      "member": {}
    },
    "Sx": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sz": {
      "type": "structure",
      "members": {
        "arn": {},
        "createdAt": {
          "shape": "S8"
        },
        "createdBy": {},
        "description": {
          "shape": "Sc"
        },
        "ec2SubnetIds": {
          "shape": "Sd"
        },
        "launchProfileId": {},
        "launchProfileProtocolVersions": {
          "shape": "Sf"
        },
        "name": {
          "shape": "Sh"
        },
        "state": {},
        "statusCode": {},
        "statusMessage": {},
        "streamConfiguration": {
          "type": "structure",
          "required": [
            "clipboardMode",
            "ec2InstanceTypes",
            "streamingImageIds"
          ],
          "members": {
            "clipboardMode": {},
            "ec2InstanceTypes": {
              "shape": "Sk"
            },
            "maxSessionLengthInMinutes": {
              "type": "integer"
            },
            "maxStoppedSessionLengthInMinutes": {
              "type": "integer"
            },
            "sessionStorage": {
              "shape": "So"
            },
            "streamingImageIds": {
              "shape": "Su"
            }
          }
        },
        "studioComponentIds": {
          "shape": "Sw"
        },
        "tags": {
          "shape": "Sx"
        },
        "updatedAt": {
          "shape": "S8"
        },
        "updatedBy": {}
      }
    },
    "S19": {
      "type": "structure",
      "members": {
        "arn": {},
        "description": {
          "type": "string",
          "sensitive": true
        },
        "ec2ImageId": {},
        "encryptionConfiguration": {
          "type": "structure",
          "required": [
            "keyType"
          ],
          "members": {
            "keyArn": {},
            "keyType": {}
          }
        },
        "eulaIds": {
          "shape": "S3"
        },
        "name": {
          "type": "string",
          "sensitive": true
        },
        "owner": {},
        "platform": {},
        "state": {},
        "statusCode": {},
        "statusMessage": {},
        "streamingImageId": {},
        "tags": {
          "shape": "Sx"
        }
      }
    },
    "S1l": {
      "type": "structure",
      "members": {
        "arn": {},
        "createdAt": {
          "shape": "S8"
        },
        "createdBy": {},
        "ec2InstanceType": {},
        "launchProfileId": {},
        "ownedBy": {},
        "sessionId": {},
        "startedAt": {
          "shape": "S8"
        },
        "startedBy": {},
        "state": {},
        "statusCode": {},
        "statusMessage": {},
        "stopAt": {
          "shape": "S8"
        },
        "stoppedAt": {
          "shape": "S8"
        },
        "stoppedBy": {},
        "streamingImageId": {},
        "tags": {
          "shape": "Sx"
        },
        "terminateAt": {
          "shape": "S8"
        },
        "updatedAt": {
          "shape": "S8"
        },
        "updatedBy": {}
      }
    },
    "S1s": {
      "type": "structure",
      "members": {
        "createdAt": {
          "shape": "S8"
        },
        "createdBy": {},
        "expiresAt": {
          "shape": "S8"
        },
        "ownedBy": {},
        "state": {},
        "statusCode": {},
        "streamId": {},
        "url": {
          "type": "string",
          "sensitive": true
        }
      }
    },
    "S1y": {
      "type": "structure",
      "required": [
        "keyType"
      ],
      "members": {
        "keyArn": {},
        "keyType": {}
      }
    },
    "S23": {
      "type": "structure",
      "members": {
        "adminRoleArn": {},
        "arn": {},
        "createdAt": {
          "shape": "S8"
        },
        "displayName": {
          "type": "string",
          "sensitive": true
        },
        "homeRegion": {},
        "ssoClientId": {},
        "state": {},
        "statusCode": {},
        "statusMessage": {},
        "studioEncryptionConfiguration": {
          "shape": "S1y"
        },
        "studioId": {},
        "studioName": {},
        "studioUrl": {},
        "tags": {
          "shape": "Sx"
        },
        "updatedAt": {
          "shape": "S8"
        },
        "userRoleArn": {}
      }
    },
    "S29": {
      "type": "structure",
      "members": {
        "activeDirectoryConfiguration": {
          "type": "structure",
          "members": {
            "computerAttributes": {
              "shape": "S2b"
            },
            "directoryId": {},
            "organizationalUnitDistinguishedName": {}
          }
        },
        "computeFarmConfiguration": {
          "type": "structure",
          "members": {
            "activeDirectoryUser": {},
            "endpoint": {
              "type": "string",
              "sensitive": true
            }
          }
        },
        "licenseServiceConfiguration": {
          "type": "structure",
          "members": {
            "endpoint": {
              "type": "string",
              "sensitive": true
            }
          }
        },
        "sharedFileSystemConfiguration": {
          "type": "structure",
          "members": {
            "endpoint": {
              "shape": "S2m"
            },
            "fileSystemId": {},
            "linuxMountPoint": {
              "type": "string",
              "sensitive": true
            },
            "shareName": {
              "shape": "S2m"
            },
            "windowsMountDrive": {}
          }
        }
      },
      "union": true
    },
    "S2b": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "value": {}
        }
      },
      "sensitive": true
    },
    "S2m": {
      "type": "string",
      "sensitive": true
    },
    "S2p": {
      "type": "string",
      "sensitive": true
    },
    "S2q": {
      "type": "list",
      "member": {}
    },
    "S2s": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "launchProfileProtocolVersion": {},
          "platform": {},
          "runContext": {},
          "script": {
            "shape": "S2w"
          }
        }
      }
    },
    "S2w": {
      "type": "string",
      "sensitive": true
    },
    "S2x": {
      "type": "string",
      "sensitive": true
    },
    "S2y": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "key": {},
          "value": {}
        }
      },
      "sensitive": true
    },
    "S35": {
      "type": "structure",
      "members": {
        "arn": {},
        "configuration": {
          "shape": "S29"
        },
        "createdAt": {
          "shape": "S8"
        },
        "createdBy": {},
        "description": {
          "shape": "S2p"
        },
        "ec2SecurityGroupIds": {
          "shape": "S2q"
        },
        "initializationScripts": {
          "shape": "S2s"
        },
        "name": {
          "shape": "S2x"
        },
        "scriptParameters": {
          "shape": "S2y"
        },
        "state": {},
        "statusCode": {},
        "statusMessage": {},
        "studioComponentId": {},
        "subtype": {},
        "tags": {
          "shape": "Sx"
        },
        "type": {},
        "updatedAt": {
          "shape": "S8"
        },
        "updatedBy": {}
      }
    },
    "S3p": {
      "type": "structure",
      "members": {
        "content": {},
        "createdAt": {
          "shape": "S8"
        },
        "eulaId": {},
        "name": {},
        "updatedAt": {
          "shape": "S8"
        }
      }
    },
    "S3v": {
      "type": "list",
      "member": {
        "shape": "S19"
      }
    },
    "S3z": {
      "type": "list",
      "member": {}
    },
    "S47": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "script": {
            "shape": "S2w"
          },
          "studioComponentId": {},
          "studioComponentName": {
            "shape": "S2x"
          }
        }
      }
    },
    "S4b": {
      "type": "structure",
      "members": {
        "identityStoreId": {},
        "persona": {},
        "principalId": {},
        "sid": {}
      }
    },
    "S4p": {
      "type": "structure",
      "members": {
        "identityStoreId": {},
        "persona": {},
        "principalId": {},
        "sid": {}
      }
    }
  }
}