{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2021-01-01",
    "endpointPrefix": "es",
    "protocol": "rest-json",
    "serviceFullName": "Amazon OpenSearch Service",
    "serviceId": "OpenSearch",
    "signatureVersion": "v4",
    "uid": "opensearch-2021-01-01"
  },
  "operations": {
    "AcceptInboundConnection": {
      "http": {
        "method": "PUT",
        "requestUri": "/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}/accept"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConnectionId"
        ],
        "members": {
          "ConnectionId": {
            "location": "uri",
            "locationName": "ConnectionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "S4"
          }
        }
      }
    },
    "AddTags": {
      "http": {
        "requestUri": "/2021-01-01/tags"
      },
      "input": {
        "type": "structure",
        "required": [
          "ARN",
          "TagList"
        ],
        "members": {
          "ARN": {},
          "TagList": {
            "shape": "Sf"
          }
        }
      }
    },
    "AssociatePackage": {
      "http": {
        "requestUri": "/2021-01-01/packages/associate/{PackageID}/{DomainName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PackageID",
          "DomainName"
        ],
        "members": {
          "PackageID": {
            "location": "uri",
            "locationName": "PackageID"
          },
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainPackageDetails": {
            "shape": "Sm"
          }
        }
      }
    },
    "AuthorizeVpcEndpointAccess": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/authorizeVpcEndpointAccess"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "Account"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          },
          "Account": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AuthorizedPrincipal"
        ],
        "members": {
          "AuthorizedPrincipal": {
            "shape": "Sz"
          }
        }
      }
    },
    "CancelServiceSoftwareUpdate": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/serviceSoftwareUpdate/cancel"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ServiceSoftwareOptions": {
            "shape": "S14"
          }
        }
      }
    },
    "CreateDomain": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/domain"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {},
          "EngineVersion": {},
          "ClusterConfig": {
            "shape": "S1a"
          },
          "EBSOptions": {
            "shape": "S1g"
          },
          "AccessPolicies": {},
          "SnapshotOptions": {
            "shape": "S1j"
          },
          "VPCOptions": {
            "shape": "S1k"
          },
          "CognitoOptions": {
            "shape": "S1m"
          },
          "EncryptionAtRestOptions": {
            "shape": "S1q"
          },
          "NodeToNodeEncryptionOptions": {
            "shape": "S1s"
          },
          "AdvancedOptions": {
            "shape": "S1t"
          },
          "LogPublishingOptions": {
            "shape": "S1u"
          },
          "DomainEndpointOptions": {
            "shape": "S1y"
          },
          "AdvancedSecurityOptions": {
            "shape": "S21"
          },
          "TagList": {
            "shape": "Sf"
          },
          "AutoTuneOptions": {
            "type": "structure",
            "members": {
              "DesiredState": {},
              "MaintenanceSchedules": {
                "shape": "S2c"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainStatus": {
            "shape": "S2j"
          }
        }
      }
    },
    "CreateOutboundConnection": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/cc/outboundConnection"
      },
      "input": {
        "type": "structure",
        "required": [
          "LocalDomainInfo",
          "RemoteDomainInfo",
          "ConnectionAlias"
        ],
        "members": {
          "LocalDomainInfo": {
            "shape": "S5"
          },
          "RemoteDomainInfo": {
            "shape": "S5"
          },
          "ConnectionAlias": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LocalDomainInfo": {
            "shape": "S5"
          },
          "RemoteDomainInfo": {
            "shape": "S5"
          },
          "ConnectionAlias": {},
          "ConnectionStatus": {
            "shape": "S2z"
          },
          "ConnectionId": {}
        }
      }
    },
    "CreatePackage": {
      "http": {
        "requestUri": "/2021-01-01/packages"
      },
      "input": {
        "type": "structure",
        "required": [
          "PackageName",
          "PackageType",
          "PackageSource"
        ],
        "members": {
          "PackageName": {},
          "PackageType": {},
          "PackageDescription": {},
          "PackageSource": {
            "shape": "S33"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PackageDetails": {
            "shape": "S37"
          }
        }
      }
    },
    "CreateVpcEndpoint": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/vpcEndpoints"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainArn",
          "VpcOptions"
        ],
        "members": {
          "DomainArn": {},
          "VpcOptions": {
            "shape": "S1k"
          },
          "ClientToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "VpcEndpoint"
        ],
        "members": {
          "VpcEndpoint": {
            "shape": "S3e"
          }
        }
      }
    },
    "DeleteDomain": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainStatus": {
            "shape": "S2j"
          }
        }
      }
    },
    "DeleteInboundConnection": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConnectionId"
        ],
        "members": {
          "ConnectionId": {
            "location": "uri",
            "locationName": "ConnectionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteOutboundConnection": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2021-01-01/opensearch/cc/outboundConnection/{ConnectionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConnectionId"
        ],
        "members": {
          "ConnectionId": {
            "location": "uri",
            "locationName": "ConnectionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "S3o"
          }
        }
      }
    },
    "DeletePackage": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2021-01-01/packages/{PackageID}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PackageID"
        ],
        "members": {
          "PackageID": {
            "location": "uri",
            "locationName": "PackageID"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PackageDetails": {
            "shape": "S37"
          }
        }
      }
    },
    "DeleteVpcEndpoint": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2021-01-01/opensearch/vpcEndpoints/{VpcEndpointId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "VpcEndpointId"
        ],
        "members": {
          "VpcEndpointId": {
            "location": "uri",
            "locationName": "VpcEndpointId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "VpcEndpointSummary"
        ],
        "members": {
          "VpcEndpointSummary": {
            "shape": "S3t"
          }
        }
      }
    },
    "DescribeDomain": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DomainStatus"
        ],
        "members": {
          "DomainStatus": {
            "shape": "S2j"
          }
        }
      }
    },
    "DescribeDomainAutoTunes": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/autoTunes"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AutoTunes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AutoTuneType": {},
                "AutoTuneDetails": {
                  "type": "structure",
                  "members": {
                    "ScheduledAutoTuneDetails": {
                      "type": "structure",
                      "members": {
                        "Date": {
                          "type": "timestamp"
                        },
                        "ActionType": {},
                        "Action": {},
                        "Severity": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeDomainChangeProgress": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/progress"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          },
          "ChangeId": {
            "location": "querystring",
            "locationName": "changeid"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ChangeProgressStatus": {
            "type": "structure",
            "members": {
              "ChangeId": {},
              "StartTime": {
                "type": "timestamp"
              },
              "Status": {},
              "PendingProperties": {
                "shape": "S1l"
              },
              "CompletedProperties": {
                "shape": "S1l"
              },
              "TotalNumberOfStages": {
                "type": "integer"
              },
              "ChangeProgressStages": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {},
                    "Status": {},
                    "Description": {},
                    "LastUpdated": {
                      "type": "timestamp"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeDomainConfig": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/config"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DomainConfig"
        ],
        "members": {
          "DomainConfig": {
            "shape": "S4m"
          }
        }
      }
    },
    "DescribeDomains": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/domain-info"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainNames"
        ],
        "members": {
          "DomainNames": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DomainStatusList"
        ],
        "members": {
          "DomainStatusList": {
            "type": "list",
            "member": {
              "shape": "S2j"
            }
          }
        }
      }
    },
    "DescribeDryRunProgress": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/dryRun"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          },
          "DryRunId": {
            "location": "querystring",
            "locationName": "dryRunId"
          },
          "LoadDryRunConfig": {
            "location": "querystring",
            "locationName": "loadDryRunConfig",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DryRunProgressStatus": {
            "shape": "S5d"
          },
          "DryRunConfig": {
            "shape": "S2j"
          },
          "DryRunResults": {
            "shape": "S5g"
          }
        }
      }
    },
    "DescribeInboundConnections": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/cc/inboundConnection/search"
      },
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S5j"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connections": {
            "type": "list",
            "member": {
              "shape": "S4"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeInstanceTypeLimits": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/instanceTypeLimits/{EngineVersion}/{InstanceType}"
      },
      "input": {
        "type": "structure",
        "required": [
          "InstanceType",
          "EngineVersion"
        ],
        "members": {
          "DomainName": {
            "location": "querystring",
            "locationName": "domainName"
          },
          "InstanceType": {
            "location": "uri",
            "locationName": "InstanceType"
          },
          "EngineVersion": {
            "location": "uri",
            "locationName": "EngineVersion"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LimitsByRole": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "members": {
                "StorageTypes": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "StorageTypeName": {},
                      "StorageSubTypeName": {},
                      "StorageTypeLimits": {
                        "type": "list",
                        "member": {
                          "type": "structure",
                          "members": {
                            "LimitName": {},
                            "LimitValues": {
                              "shape": "S61"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "InstanceLimits": {
                  "type": "structure",
                  "members": {
                    "InstanceCountLimits": {
                      "type": "structure",
                      "members": {
                        "MinimumInstanceCount": {
                          "type": "integer"
                        },
                        "MaximumInstanceCount": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "AdditionalLimits": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "LimitName": {},
                      "LimitValues": {
                        "shape": "S61"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeOutboundConnections": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/cc/outboundConnection/search"
      },
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "shape": "S5j"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connections": {
            "type": "list",
            "member": {
              "shape": "S3o"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribePackages": {
      "http": {
        "requestUri": "/2021-01-01/packages/describe"
      },
      "input": {
        "type": "structure",
        "members": {
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Value": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PackageDetailsList": {
            "type": "list",
            "member": {
              "shape": "S37"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeReservedInstanceOfferings": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/reservedInstanceOfferings"
      },
      "input": {
        "type": "structure",
        "members": {
          "ReservedInstanceOfferingId": {
            "location": "querystring",
            "locationName": "offeringId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "ReservedInstanceOfferings": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ReservedInstanceOfferingId": {},
                "InstanceType": {},
                "Duration": {
                  "type": "integer"
                },
                "FixedPrice": {
                  "type": "double"
                },
                "UsagePrice": {
                  "type": "double"
                },
                "CurrencyCode": {},
                "PaymentOption": {},
                "RecurringCharges": {
                  "shape": "S6r"
                }
              }
            }
          }
        }
      }
    },
    "DescribeReservedInstances": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/reservedInstances"
      },
      "input": {
        "type": "structure",
        "members": {
          "ReservedInstanceId": {
            "location": "querystring",
            "locationName": "reservationId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "ReservedInstances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ReservationName": {},
                "ReservedInstanceId": {},
                "BillingSubscriptionId": {
                  "type": "long"
                },
                "ReservedInstanceOfferingId": {},
                "InstanceType": {},
                "StartTime": {
                  "type": "timestamp"
                },
                "Duration": {
                  "type": "integer"
                },
                "FixedPrice": {
                  "type": "double"
                },
                "UsagePrice": {
                  "type": "double"
                },
                "CurrencyCode": {},
                "InstanceCount": {
                  "type": "integer"
                },
                "State": {},
                "PaymentOption": {},
                "RecurringCharges": {
                  "shape": "S6r"
                }
              }
            }
          }
        }
      }
    },
    "DescribeVpcEndpoints": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/vpcEndpoints/describe"
      },
      "input": {
        "type": "structure",
        "required": [
          "VpcEndpointIds"
        ],
        "members": {
          "VpcEndpointIds": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "VpcEndpoints",
          "VpcEndpointErrors"
        ],
        "members": {
          "VpcEndpoints": {
            "type": "list",
            "member": {
              "shape": "S3e"
            }
          },
          "VpcEndpointErrors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "VpcEndpointId": {},
                "ErrorCode": {},
                "ErrorMessage": {}
              }
            }
          }
        }
      }
    },
    "DissociatePackage": {
      "http": {
        "requestUri": "/2021-01-01/packages/dissociate/{PackageID}/{DomainName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PackageID",
          "DomainName"
        ],
        "members": {
          "PackageID": {
            "location": "uri",
            "locationName": "PackageID"
          },
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainPackageDetails": {
            "shape": "Sm"
          }
        }
      }
    },
    "GetCompatibleVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/compatibleVersions"
      },
      "input": {
        "type": "structure",
        "members": {
          "DomainName": {
            "location": "querystring",
            "locationName": "domainName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CompatibleVersions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "SourceVersion": {},
                "TargetVersions": {
                  "shape": "S7c"
                }
              }
            }
          }
        }
      }
    },
    "GetPackageVersionHistory": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/packages/{PackageID}/history"
      },
      "input": {
        "type": "structure",
        "required": [
          "PackageID"
        ],
        "members": {
          "PackageID": {
            "location": "uri",
            "locationName": "PackageID"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PackageID": {},
          "PackageVersionHistoryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PackageVersion": {},
                "CommitMessage": {},
                "CreatedAt": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetUpgradeHistory": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/upgradeDomain/{DomainName}/history"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UpgradeHistories": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "UpgradeName": {},
                "StartTimestamp": {
                  "type": "timestamp"
                },
                "UpgradeStatus": {},
                "StepsList": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "UpgradeStep": {},
                      "UpgradeStepStatus": {},
                      "Issues": {
                        "type": "list",
                        "member": {}
                      },
                      "ProgressPercent": {
                        "type": "double"
                      }
                    }
                  }
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetUpgradeStatus": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/upgradeDomain/{DomainName}/status"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UpgradeStep": {},
          "StepStatus": {},
          "UpgradeName": {}
        }
      }
    },
    "ListDomainNames": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/domain"
      },
      "input": {
        "type": "structure",
        "members": {
          "EngineType": {
            "location": "querystring",
            "locationName": "engineType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainNames": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DomainName": {},
                "EngineType": {}
              }
            }
          }
        }
      }
    },
    "ListDomainsForPackage": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/packages/{PackageID}/domains"
      },
      "input": {
        "type": "structure",
        "required": [
          "PackageID"
        ],
        "members": {
          "PackageID": {
            "location": "uri",
            "locationName": "PackageID"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainPackageDetailsList": {
            "shape": "S83"
          },
          "NextToken": {}
        }
      }
    },
    "ListInstanceTypeDetails": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/instanceTypeDetails/{EngineVersion}"
      },
      "input": {
        "type": "structure",
        "required": [
          "EngineVersion"
        ],
        "members": {
          "EngineVersion": {
            "location": "uri",
            "locationName": "EngineVersion"
          },
          "DomainName": {
            "location": "querystring",
            "locationName": "domainName"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "InstanceTypeDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "InstanceType": {},
                "EncryptionEnabled": {
                  "type": "boolean"
                },
                "CognitoEnabled": {
                  "type": "boolean"
                },
                "AppLogsEnabled": {
                  "type": "boolean"
                },
                "AdvancedSecurityEnabled": {
                  "type": "boolean"
                },
                "WarmEnabled": {
                  "type": "boolean"
                },
                "InstanceRole": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPackagesForDomain": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/domain/{DomainName}/packages"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainPackageDetailsList": {
            "shape": "S83"
          },
          "NextToken": {}
        }
      }
    },
    "ListTags": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/tags/"
      },
      "input": {
        "type": "structure",
        "required": [
          "ARN"
        ],
        "members": {
          "ARN": {
            "location": "querystring",
            "locationName": "arn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TagList": {
            "shape": "Sf"
          }
        }
      }
    },
    "ListVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/versions"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Versions": {
            "shape": "S7c"
          },
          "NextToken": {}
        }
      }
    },
    "ListVpcEndpointAccess": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/listVpcEndpointAccess"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AuthorizedPrincipalList",
          "NextToken"
        ],
        "members": {
          "AuthorizedPrincipalList": {
            "type": "list",
            "member": {
              "shape": "Sz"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListVpcEndpoints": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/vpcEndpoints"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "VpcEndpointSummaryList",
          "NextToken"
        ],
        "members": {
          "VpcEndpointSummaryList": {
            "shape": "S8k"
          },
          "NextToken": {}
        }
      }
    },
    "ListVpcEndpointsForDomain": {
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/vpcEndpoints"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "VpcEndpointSummaryList",
          "NextToken"
        ],
        "members": {
          "VpcEndpointSummaryList": {
            "shape": "S8k"
          },
          "NextToken": {}
        }
      }
    },
    "PurchaseReservedInstanceOffering": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/purchaseReservedInstanceOffering"
      },
      "input": {
        "type": "structure",
        "required": [
          "ReservedInstanceOfferingId",
          "ReservationName"
        ],
        "members": {
          "ReservedInstanceOfferingId": {},
          "ReservationName": {},
          "InstanceCount": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ReservedInstanceId": {},
          "ReservationName": {}
        }
      }
    },
    "RejectInboundConnection": {
      "http": {
        "method": "PUT",
        "requestUri": "/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}/reject"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConnectionId"
        ],
        "members": {
          "ConnectionId": {
            "location": "uri",
            "locationName": "ConnectionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Connection": {
            "shape": "S4"
          }
        }
      }
    },
    "RemoveTags": {
      "http": {
        "requestUri": "/2021-01-01/tags-removal"
      },
      "input": {
        "type": "structure",
        "required": [
          "ARN",
          "TagKeys"
        ],
        "members": {
          "ARN": {},
          "TagKeys": {
            "shape": "S1l"
          }
        }
      }
    },
    "RevokeVpcEndpointAccess": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/revokeVpcEndpointAccess"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "Account"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          },
          "Account": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartServiceSoftwareUpdate": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/serviceSoftwareUpdate/start"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ServiceSoftwareOptions": {
            "shape": "S14"
          }
        }
      }
    },
    "UpdateDomainConfig": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/config"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "location": "uri",
            "locationName": "DomainName"
          },
          "ClusterConfig": {
            "shape": "S1a"
          },
          "EBSOptions": {
            "shape": "S1g"
          },
          "SnapshotOptions": {
            "shape": "S1j"
          },
          "VPCOptions": {
            "shape": "S1k"
          },
          "CognitoOptions": {
            "shape": "S1m"
          },
          "AdvancedOptions": {
            "shape": "S1t"
          },
          "AccessPolicies": {},
          "LogPublishingOptions": {
            "shape": "S1u"
          },
          "EncryptionAtRestOptions": {
            "shape": "S1q"
          },
          "DomainEndpointOptions": {
            "shape": "S1y"
          },
          "NodeToNodeEncryptionOptions": {
            "shape": "S1s"
          },
          "AdvancedSecurityOptions": {
            "shape": "S21"
          },
          "AutoTuneOptions": {
            "shape": "S54"
          },
          "DryRun": {
            "type": "boolean"
          },
          "DryRunMode": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DomainConfig"
        ],
        "members": {
          "DomainConfig": {
            "shape": "S4m"
          },
          "DryRunResults": {
            "shape": "S5g"
          },
          "DryRunProgressStatus": {
            "shape": "S5d"
          }
        }
      }
    },
    "UpdatePackage": {
      "http": {
        "requestUri": "/2021-01-01/packages/update"
      },
      "input": {
        "type": "structure",
        "required": [
          "PackageID",
          "PackageSource"
        ],
        "members": {
          "PackageID": {},
          "PackageSource": {
            "shape": "S33"
          },
          "PackageDescription": {},
          "CommitMessage": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PackageDetails": {
            "shape": "S37"
          }
        }
      }
    },
    "UpdateVpcEndpoint": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/vpcEndpoints/update"
      },
      "input": {
        "type": "structure",
        "required": [
          "VpcEndpointId",
          "VpcOptions"
        ],
        "members": {
          "VpcEndpointId": {},
          "VpcOptions": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "VpcEndpoint"
        ],
        "members": {
          "VpcEndpoint": {
            "shape": "S3e"
          }
        }
      }
    },
    "UpgradeDomain": {
      "http": {
        "requestUri": "/2021-01-01/opensearch/upgradeDomain"
      },
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "TargetVersion"
        ],
        "members": {
          "DomainName": {},
          "TargetVersion": {},
          "PerformCheckOnly": {
            "type": "boolean"
          },
          "AdvancedOptions": {
            "shape": "S1t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UpgradeId": {},
          "DomainName": {},
          "TargetVersion": {},
          "PerformCheckOnly": {
            "type": "boolean"
          },
          "AdvancedOptions": {
            "shape": "S1t"
          },
          "ChangeProgressDetails": {
            "shape": "S2t"
          }
        }
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "structure",
      "members": {
        "LocalDomainInfo": {
          "shape": "S5"
        },
        "RemoteDomainInfo": {
          "shape": "S5"
        },
        "ConnectionId": {},
        "ConnectionStatus": {
          "type": "structure",
          "members": {
            "StatusCode": {},
            "Message": {}
          }
        }
      }
    },
    "S5": {
      "type": "structure",
      "members": {
        "AWSDomainInformation": {
          "type": "structure",
          "required": [
            "DomainName"
          ],
          "members": {
            "OwnerId": {},
            "DomainName": {},
            "Region": {}
          }
        }
      }
    },
    "Sf": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "Sm": {
      "type": "structure",
      "members": {
        "PackageID": {},
        "PackageName": {},
        "PackageType": {},
        "LastUpdated": {
          "type": "timestamp"
        },
        "DomainName": {},
        "DomainPackageStatus": {},
        "PackageVersion": {},
        "ReferencePath": {},
        "ErrorDetails": {
          "shape": "St"
        }
      }
    },
    "St": {
      "type": "structure",
      "members": {
        "ErrorType": {},
        "ErrorMessage": {}
      }
    },
    "Sz": {
      "type": "structure",
      "members": {
        "PrincipalType": {},
        "Principal": {}
      }
    },
    "S14": {
      "type": "structure",
      "members": {
        "CurrentVersion": {},
        "NewVersion": {},
        "UpdateAvailable": {
          "type": "boolean"
        },
        "Cancellable": {
          "type": "boolean"
        },
        "UpdateStatus": {},
        "Description": {},
        "AutomatedUpdateDate": {
          "type": "timestamp"
        },
        "OptionalDeployment": {
          "type": "boolean"
        }
      }
    },
    "S1a": {
      "type": "structure",
      "members": {
        "InstanceType": {},
        "InstanceCount": {
          "type": "integer"
        },
        "DedicatedMasterEnabled": {
          "type": "boolean"
        },
        "ZoneAwarenessEnabled": {
          "type": "boolean"
        },
        "ZoneAwarenessConfig": {
          "type": "structure",
          "members": {
            "AvailabilityZoneCount": {
              "type": "integer"
            }
          }
        },
        "DedicatedMasterType": {},
        "DedicatedMasterCount": {
          "type": "integer"
        },
        "WarmEnabled": {
          "type": "boolean"
        },
        "WarmType": {},
        "WarmCount": {
          "type": "integer"
        },
        "ColdStorageOptions": {
          "type": "structure",
          "required": [
            "Enabled"
          ],
          "members": {
            "Enabled": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "S1g": {
      "type": "structure",
      "members": {
        "EBSEnabled": {
          "type": "boolean"
        },
        "VolumeType": {},
        "VolumeSize": {
          "type": "integer"
        },
        "Iops": {
          "type": "integer"
        },
        "Throughput": {
          "type": "integer"
        }
      }
    },
    "S1j": {
      "type": "structure",
      "members": {
        "AutomatedSnapshotStartHour": {
          "type": "integer"
        }
      }
    },
    "S1k": {
      "type": "structure",
      "members": {
        "SubnetIds": {
          "shape": "S1l"
        },
        "SecurityGroupIds": {
          "shape": "S1l"
        }
      }
    },
    "S1l": {
      "type": "list",
      "member": {}
    },
    "S1m": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "UserPoolId": {},
        "IdentityPoolId": {},
        "RoleArn": {}
      }
    },
    "S1q": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "KmsKeyId": {}
      }
    },
    "S1s": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        }
      }
    },
    "S1t": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1u": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "CloudWatchLogsLogGroupArn": {},
          "Enabled": {
            "type": "boolean"
          }
        }
      }
    },
    "S1y": {
      "type": "structure",
      "members": {
        "EnforceHTTPS": {
          "type": "boolean"
        },
        "TLSSecurityPolicy": {},
        "CustomEndpointEnabled": {
          "type": "boolean"
        },
        "CustomEndpoint": {},
        "CustomEndpointCertificateArn": {}
      }
    },
    "S21": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "InternalUserDatabaseEnabled": {
          "type": "boolean"
        },
        "MasterUserOptions": {
          "type": "structure",
          "members": {
            "MasterUserARN": {},
            "MasterUserName": {
              "shape": "S23"
            },
            "MasterUserPassword": {
              "type": "string",
              "sensitive": true
            }
          }
        },
        "SAMLOptions": {
          "type": "structure",
          "members": {
            "Enabled": {
              "type": "boolean"
            },
            "Idp": {
              "shape": "S26"
            },
            "MasterUserName": {
              "shape": "S23"
            },
            "MasterBackendRole": {},
            "SubjectKey": {},
            "RolesKey": {},
            "SessionTimeoutMinutes": {
              "type": "integer"
            }
          }
        },
        "AnonymousAuthEnabled": {
          "type": "boolean"
        }
      }
    },
    "S23": {
      "type": "string",
      "sensitive": true
    },
    "S26": {
      "type": "structure",
      "required": [
        "MetadataContent",
        "EntityId"
      ],
      "members": {
        "MetadataContent": {},
        "EntityId": {}
      }
    },
    "S2c": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "StartAt": {
            "type": "timestamp"
          },
          "Duration": {
            "type": "structure",
            "members": {
              "Value": {
                "type": "long"
              },
              "Unit": {}
            }
          },
          "CronExpressionForRecurrence": {}
        }
      }
    },
    "S2j": {
      "type": "structure",
      "required": [
        "DomainId",
        "DomainName",
        "ARN",
        "ClusterConfig"
      ],
      "members": {
        "DomainId": {},
        "DomainName": {},
        "ARN": {},
        "Created": {
          "type": "boolean"
        },
        "Deleted": {
          "type": "boolean"
        },
        "Endpoint": {},
        "Endpoints": {
          "type": "map",
          "key": {},
          "value": {}
        },
        "Processing": {
          "type": "boolean"
        },
        "UpgradeProcessing": {
          "type": "boolean"
        },
        "EngineVersion": {},
        "ClusterConfig": {
          "shape": "S1a"
        },
        "EBSOptions": {
          "shape": "S1g"
        },
        "AccessPolicies": {},
        "SnapshotOptions": {
          "shape": "S1j"
        },
        "VPCOptions": {
          "shape": "S2n"
        },
        "CognitoOptions": {
          "shape": "S1m"
        },
        "EncryptionAtRestOptions": {
          "shape": "S1q"
        },
        "NodeToNodeEncryptionOptions": {
          "shape": "S1s"
        },
        "AdvancedOptions": {
          "shape": "S1t"
        },
        "LogPublishingOptions": {
          "shape": "S1u"
        },
        "ServiceSoftwareOptions": {
          "shape": "S14"
        },
        "DomainEndpointOptions": {
          "shape": "S1y"
        },
        "AdvancedSecurityOptions": {
          "shape": "S2o"
        },
        "AutoTuneOptions": {
          "type": "structure",
          "members": {
            "State": {},
            "ErrorMessage": {}
          }
        },
        "ChangeProgressDetails": {
          "shape": "S2t"
        }
      }
    },
    "S2n": {
      "type": "structure",
      "members": {
        "VPCId": {},
        "SubnetIds": {
          "shape": "S1l"
        },
        "AvailabilityZones": {
          "shape": "S1l"
        },
        "SecurityGroupIds": {
          "shape": "S1l"
        }
      }
    },
    "S2o": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "InternalUserDatabaseEnabled": {
          "type": "boolean"
        },
        "SAMLOptions": {
          "type": "structure",
          "members": {
            "Enabled": {
              "type": "boolean"
            },
            "Idp": {
              "shape": "S26"
            },
            "SubjectKey": {},
            "RolesKey": {},
            "SessionTimeoutMinutes": {
              "type": "integer"
            }
          }
        },
        "AnonymousAuthDisableDate": {
          "type": "timestamp"
        },
        "AnonymousAuthEnabled": {
          "type": "boolean"
        }
      }
    },
    "S2t": {
      "type": "structure",
      "members": {
        "ChangeId": {},
        "Message": {}
      }
    },
    "S2z": {
      "type": "structure",
      "members": {
        "StatusCode": {},
        "Message": {}
      }
    },
    "S33": {
      "type": "structure",
      "members": {
        "S3BucketName": {},
        "S3Key": {}
      }
    },
    "S37": {
      "type": "structure",
      "members": {
        "PackageID": {},
        "PackageName": {},
        "PackageType": {},
        "PackageDescription": {},
        "PackageStatus": {},
        "CreatedAt": {
          "type": "timestamp"
        },
        "LastUpdatedAt": {
          "type": "timestamp"
        },
        "AvailablePackageVersion": {},
        "ErrorDetails": {
          "shape": "St"
        }
      }
    },
    "S3e": {
      "type": "structure",
      "members": {
        "VpcEndpointId": {},
        "VpcEndpointOwner": {},
        "DomainArn": {},
        "VpcOptions": {
          "shape": "S2n"
        },
        "Status": {},
        "Endpoint": {}
      }
    },
    "S3o": {
      "type": "structure",
      "members": {
        "LocalDomainInfo": {
          "shape": "S5"
        },
        "RemoteDomainInfo": {
          "shape": "S5"
        },
        "ConnectionId": {},
        "ConnectionAlias": {},
        "ConnectionStatus": {
          "shape": "S2z"
        }
      }
    },
    "S3t": {
      "type": "structure",
      "members": {
        "VpcEndpointId": {},
        "VpcEndpointOwner": {},
        "DomainArn": {},
        "Status": {}
      }
    },
    "S4m": {
      "type": "structure",
      "members": {
        "EngineVersion": {
          "type": "structure",
          "required": [
            "Options",
            "Status"
          ],
          "members": {
            "Options": {},
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "ClusterConfig": {
          "type": "structure",
          "required": [
            "Options",
            "Status"
          ],
          "members": {
            "Options": {
              "shape": "S1a"
            },
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "EBSOptions": {
          "type": "structure",
          "required": [
            "Options",
            "Status"
          ],
          "members": {
            "Options": {
              "shape": "S1g"
            },
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "AccessPolicies": {
          "type": "structure",
          "required": [
            "Options",
            "Status"
          ],
          "members": {
            "Options": {},
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "SnapshotOptions": {
          "type": "structure",
          "required": [
            "Options",
            "Status"
          ],
          "members": {
            "Options": {
              "shape": "S1j"
            },
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "VPCOptions": {
          "type": "structure",
          "required": [
            "Options",
            "Status"
          ],
          "members": {
            "Options": {
              "shape": "S2n"
            },
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "CognitoOptions": {
          "type": "structure",
          "required": [
            "Options",
            "Status"
          ],
          "members": {
            "Options": {
              "shape": "S1m"
            },
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "EncryptionAtRestOptions": {
          "type": "structure",
          "required": [
            "Options",
            "Status"
          ],
          "members": {
            "Options": {
              "shape": "S1q"
            },
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "NodeToNodeEncryptionOptions": {
          "type": "structure",
          "required": [
            "Options",
            "Status"
          ],
          "members": {
            "Options": {
              "shape": "S1s"
            },
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "AdvancedOptions": {
          "type": "structure",
          "required": [
            "Options",
            "Status"
          ],
          "members": {
            "Options": {
              "shape": "S1t"
            },
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "LogPublishingOptions": {
          "type": "structure",
          "members": {
            "Options": {
              "shape": "S1u"
            },
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "DomainEndpointOptions": {
          "type": "structure",
          "required": [
            "Options",
            "Status"
          ],
          "members": {
            "Options": {
              "shape": "S1y"
            },
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "AdvancedSecurityOptions": {
          "type": "structure",
          "required": [
            "Options",
            "Status"
          ],
          "members": {
            "Options": {
              "shape": "S2o"
            },
            "Status": {
              "shape": "S4o"
            }
          }
        },
        "AutoTuneOptions": {
          "type": "structure",
          "members": {
            "Options": {
              "shape": "S54"
            },
            "Status": {
              "type": "structure",
              "required": [
                "CreationDate",
                "UpdateDate",
                "State"
              ],
              "members": {
                "CreationDate": {
                  "type": "timestamp"
                },
                "UpdateDate": {
                  "type": "timestamp"
                },
                "UpdateVersion": {
                  "type": "integer"
                },
                "State": {},
                "ErrorMessage": {},
                "PendingDeletion": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "ChangeProgressDetails": {
          "shape": "S2t"
        }
      }
    },
    "S4o": {
      "type": "structure",
      "required": [
        "CreationDate",
        "UpdateDate",
        "State"
      ],
      "members": {
        "CreationDate": {
          "type": "timestamp"
        },
        "UpdateDate": {
          "type": "timestamp"
        },
        "UpdateVersion": {
          "type": "integer"
        },
        "State": {},
        "PendingDeletion": {
          "type": "boolean"
        }
      }
    },
    "S54": {
      "type": "structure",
      "members": {
        "DesiredState": {},
        "RollbackOnDisable": {},
        "MaintenanceSchedules": {
          "shape": "S2c"
        }
      }
    },
    "S5d": {
      "type": "structure",
      "required": [
        "DryRunId",
        "DryRunStatus",
        "CreationDate",
        "UpdateDate"
      ],
      "members": {
        "DryRunId": {},
        "DryRunStatus": {},
        "CreationDate": {},
        "UpdateDate": {},
        "ValidationFailures": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Code": {},
              "Message": {}
            }
          }
        }
      }
    },
    "S5g": {
      "type": "structure",
      "members": {
        "DeploymentType": {},
        "Message": {}
      }
    },
    "S5j": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Values": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "S61": {
      "type": "list",
      "member": {}
    },
    "S6r": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "RecurringChargeAmount": {
            "type": "double"
          },
          "RecurringChargeFrequency": {}
        }
      }
    },
    "S7c": {
      "type": "list",
      "member": {}
    },
    "S83": {
      "type": "list",
      "member": {
        "shape": "Sm"
      }
    },
    "S8k": {
      "type": "list",
      "member": {
        "shape": "S3t"
      }
    }
  }
}