{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-11-01",
    "endpointPrefix": "opsworks-cm",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "OpsWorksCM",
    "serviceFullName": "AWS OpsWorks for Chef Automate",
    "signatureVersion": "v4",
    "signingName": "opsworks-cm",
    "targetPrefix": "OpsWorksCM_V2016_11_01",
    "uid": "opsworkscm-2016-11-01"
  },
  "operations": {
    "AssociateNode": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName",
          "NodeName"
        ],
        "members": {
          "ServerName": {},
          "NodeName": {},
          "EngineAttributes": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NodeAssociationStatusToken": {}
        }
      }
    },
    "CreateBackup": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName"
        ],
        "members": {
          "ServerName": {},
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Backup": {
            "shape": "Sb"
          }
        }
      }
    },
    "CreateServer": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName",
          "InstanceProfileArn",
          "ServiceRoleArn"
        ],
        "members": {
          "DisableAutomatedBackup": {
            "type": "boolean"
          },
          "Engine": {},
          "EngineModel": {},
          "EngineVersion": {},
          "EngineAttributes": {
            "shape": "S4"
          },
          "BackupRetentionCount": {
            "type": "integer"
          },
          "ServerName": {},
          "InstanceProfileArn": {},
          "InstanceType": {},
          "KeyPair": {},
          "PreferredMaintenanceWindow": {},
          "PreferredBackupWindow": {},
          "SecurityGroupIds": {
            "shape": "Sh"
          },
          "ServiceRoleArn": {},
          "SubnetIds": {
            "shape": "Sh"
          },
          "BackupId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Server": {
            "shape": "Sq"
          }
        }
      }
    },
    "DeleteBackup": {
      "input": {
        "type": "structure",
        "required": [
          "BackupId"
        ],
        "members": {
          "BackupId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteServer": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName"
        ],
        "members": {
          "ServerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeAccountAttributes": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Attributes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Maximum": {
                  "type": "integer"
                },
                "Used": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "DescribeBackups": {
      "input": {
        "type": "structure",
        "members": {
          "BackupId": {},
          "ServerName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Backups": {
            "type": "list",
            "member": {
              "shape": "Sb"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeEvents": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName"
        ],
        "members": {
          "ServerName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ServerEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CreatedAt": {
                  "type": "timestamp"
                },
                "ServerName": {},
                "Message": {},
                "LogUrl": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeNodeAssociationStatus": {
      "input": {
        "type": "structure",
        "required": [
          "NodeAssociationStatusToken",
          "ServerName"
        ],
        "members": {
          "NodeAssociationStatusToken": {},
          "ServerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NodeAssociationStatus": {}
        }
      }
    },
    "DescribeServers": {
      "input": {
        "type": "structure",
        "members": {
          "ServerName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Servers": {
            "type": "list",
            "member": {
              "shape": "Sq"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisassociateNode": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName",
          "NodeName"
        ],
        "members": {
          "ServerName": {},
          "NodeName": {},
          "EngineAttributes": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NodeAssociationStatusToken": {}
        }
      }
    },
    "RestoreServer": {
      "input": {
        "type": "structure",
        "required": [
          "BackupId",
          "ServerName"
        ],
        "members": {
          "BackupId": {},
          "ServerName": {},
          "InstanceType": {},
          "KeyPair": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartMaintenance": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName"
        ],
        "members": {
          "ServerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Server": {
            "shape": "Sq"
          }
        }
      }
    },
    "UpdateServer": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName"
        ],
        "members": {
          "DisableAutomatedBackup": {
            "type": "boolean"
          },
          "BackupRetentionCount": {
            "type": "integer"
          },
          "ServerName": {},
          "PreferredMaintenanceWindow": {},
          "PreferredBackupWindow": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Server": {
            "shape": "Sq"
          }
        }
      }
    },
    "UpdateServerEngineAttributes": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName",
          "AttributeName"
        ],
        "members": {
          "ServerName": {},
          "AttributeName": {},
          "AttributeValue": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Server": {
            "shape": "Sq"
          }
        }
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Value": {}
        }
      }
    },
    "Sb": {
      "type": "structure",
      "members": {
        "BackupArn": {},
        "BackupId": {},
        "BackupType": {},
        "CreatedAt": {
          "type": "timestamp"
        },
        "Description": {},
        "Engine": {},
        "EngineModel": {},
        "EngineVersion": {},
        "InstanceProfileArn": {},
        "InstanceType": {},
        "KeyPair": {},
        "PreferredBackupWindow": {},
        "PreferredMaintenanceWindow": {},
        "S3DataSize": {
          "type": "integer"
        },
        "S3DataUrl": {},
        "S3LogUrl": {},
        "SecurityGroupIds": {
          "shape": "Sh"
        },
        "ServerName": {},
        "ServiceRoleArn": {},
        "Status": {},
        "StatusDescription": {},
        "SubnetIds": {
          "shape": "Sh"
        },
        "ToolsVersion": {},
        "UserArn": {}
      }
    },
    "Sh": {
      "type": "list",
      "member": {}
    },
    "Sq": {
      "type": "structure",
      "members": {
        "BackupRetentionCount": {
          "type": "integer"
        },
        "ServerName": {},
        "CreatedAt": {
          "type": "timestamp"
        },
        "DisableAutomatedBackup": {
          "type": "boolean"
        },
        "Endpoint": {},
        "Engine": {},
        "EngineModel": {},
        "EngineAttributes": {
          "shape": "S4"
        },
        "EngineVersion": {},
        "InstanceProfileArn": {},
        "InstanceType": {},
        "KeyPair": {},
        "MaintenanceStatus": {},
        "PreferredMaintenanceWindow": {},
        "PreferredBackupWindow": {},
        "SecurityGroupIds": {
          "shape": "Sh"
        },
        "ServiceRoleArn": {},
        "Status": {},
        "StatusReason": {},
        "SubnetIds": {
          "shape": "Sh"
        },
        "ServerArn": {}
      }
    }
  }
}