{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-11-01",
    "endpointPrefix": "opsworks-cm",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "OpsWorksCM",
    "serviceFullName": "AWS OpsWorks for Chef Automate",
    "serviceId": "OpsWorksCM",
    "signatureVersion": "v4",
    "signingName": "opsworks-cm",
    "targetPrefix": "OpsWorksCM_V2016_11_01",
    "uid": "opsworkscm-2016-11-01"
  },
  "operations": {
    "AssociateNode": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName",
          "NodeName",
          "EngineAttributes"
        ],
        "members": {
          "ServerName": {
            "shape": "S2"
          },
          "NodeName": {
            "shape": "S3"
          },
          "EngineAttributes": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NodeAssociationStatusToken": {}
        }
      }
    },
    "CreateBackup": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName"
        ],
        "members": {
          "ServerName": {
            "shape": "S2"
          },
          "Description": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Backup": {
            "shape": "Sd"
          }
        }
      }
    },
    "CreateServer": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName",
          "InstanceProfileArn",
          "InstanceType",
          "ServiceRoleArn"
        ],
        "members": {
          "AssociatePublicIpAddress": {
            "type": "boolean"
          },
          "DisableAutomatedBackup": {
            "type": "boolean"
          },
          "Engine": {},
          "EngineModel": {},
          "EngineVersion": {},
          "EngineAttributes": {
            "shape": "S4"
          },
          "BackupRetentionCount": {
            "type": "integer",
            "min": 1
          },
          "ServerName": {
            "shape": "S2"
          },
          "InstanceProfileArn": {
            "type": "string",
            "pattern": "arn:aws:iam::[0-9]{12}:instance-profile/.*"
          },
          "InstanceType": {},
          "KeyPair": {},
          "PreferredMaintenanceWindow": {
            "shape": "Sh"
          },
          "PreferredBackupWindow": {
            "shape": "Sh"
          },
          "SecurityGroupIds": {
            "shape": "Sj"
          },
          "ServiceRoleArn": {
            "type": "string",
            "pattern": "arn:aws:iam::[0-9]{12}:role/.*"
          },
          "SubnetIds": {
            "shape": "Sj"
          },
          "BackupId": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Server": {
            "shape": "Ss"
          }
        }
      }
    },
    "DeleteBackup": {
      "input": {
        "type": "structure",
        "required": [
          "BackupId"
        ],
        "members": {
          "BackupId": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteServer": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName"
        ],
        "members": {
          "ServerName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeAccountAttributes": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Attributes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Maximum": {
                  "type": "integer"
                },
                "Used": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "DescribeBackups": {
      "input": {
        "type": "structure",
        "members": {
          "BackupId": {
            "shape": "Se"
          },
          "ServerName": {
            "shape": "S2"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Backups": {
            "type": "list",
            "member": {
              "shape": "Sd"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeEvents": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName"
        ],
        "members": {
          "ServerName": {
            "shape": "S2"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ServerEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CreatedAt": {
                  "type": "timestamp"
                },
                "ServerName": {},
                "Message": {},
                "LogUrl": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "DescribeNodeAssociationStatus": {
      "input": {
        "type": "structure",
        "required": [
          "NodeAssociationStatusToken",
          "ServerName"
        ],
        "members": {
          "NodeAssociationStatusToken": {},
          "ServerName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NodeAssociationStatus": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "FAILED",
              "IN_PROGRESS"
            ]
          },
          "EngineAttributes": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeServers": {
      "input": {
        "type": "structure",
        "members": {
          "ServerName": {
            "shape": "S2"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S15"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Servers": {
            "type": "list",
            "member": {
              "shape": "Ss"
            }
          },
          "NextToken": {}
        }
      }
    },
    "DisassociateNode": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName",
          "NodeName"
        ],
        "members": {
          "ServerName": {
            "shape": "S2"
          },
          "NodeName": {
            "shape": "S3"
          },
          "EngineAttributes": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NodeAssociationStatusToken": {}
        }
      }
    },
    "RestoreServer": {
      "input": {
        "type": "structure",
        "required": [
          "BackupId",
          "ServerName"
        ],
        "members": {
          "BackupId": {
            "shape": "Se"
          },
          "ServerName": {
            "shape": "S2"
          },
          "InstanceType": {},
          "KeyPair": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartMaintenance": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName"
        ],
        "members": {
          "ServerName": {
            "shape": "S2"
          },
          "EngineAttributes": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Server": {
            "shape": "Ss"
          }
        }
      }
    },
    "UpdateServer": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName"
        ],
        "members": {
          "DisableAutomatedBackup": {
            "type": "boolean"
          },
          "BackupRetentionCount": {
            "type": "integer"
          },
          "ServerName": {
            "shape": "S2"
          },
          "PreferredMaintenanceWindow": {
            "shape": "Sh"
          },
          "PreferredBackupWindow": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Server": {
            "shape": "Ss"
          }
        }
      }
    },
    "UpdateServerEngineAttributes": {
      "input": {
        "type": "structure",
        "required": [
          "ServerName",
          "AttributeName"
        ],
        "members": {
          "ServerName": {
            "shape": "S2"
          },
          "AttributeName": {
            "type": "string",
            "max": 64,
            "min": 1,
            "pattern": "[A-Z][A-Z0-9_]*"
          },
          "AttributeValue": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Server": {
            "shape": "Ss"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 40,
      "min": 1,
      "pattern": "[a-zA-Z][a-zA-Z0-9\\-]*"
    },
    "S3": {
      "type": "string",
      "pattern": "^[\\-\\p{Alnum}_:.]+$"
    },
    "S4": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Name": {},
          "Value": {
            "type": "string",
            "sensitive": true
          }
        }
      }
    },
    "Sd": {
      "type": "structure",
      "members": {
        "BackupArn": {},
        "BackupId": {
          "shape": "Se"
        },
        "BackupType": {
          "type": "string",
          "enum": [
            "AUTOMATED",
            "MANUAL"
          ]
        },
        "CreatedAt": {
          "type": "timestamp"
        },
        "Description": {},
        "Engine": {},
        "EngineModel": {},
        "EngineVersion": {},
        "InstanceProfileArn": {},
        "InstanceType": {},
        "KeyPair": {},
        "PreferredBackupWindow": {
          "shape": "Sh"
        },
        "PreferredMaintenanceWindow": {
          "shape": "Sh"
        },
        "S3DataSize": {
          "deprecated": true,
          "type": "integer"
        },
        "S3DataUrl": {
          "deprecated": true
        },
        "S3LogUrl": {},
        "SecurityGroupIds": {
          "shape": "Sj"
        },
        "ServerName": {
          "shape": "S2"
        },
        "ServiceRoleArn": {},
        "Status": {
          "type": "string",
          "enum": [
            "IN_PROGRESS",
            "OK",
            "FAILED",
            "DELETING"
          ]
        },
        "StatusDescription": {},
        "SubnetIds": {
          "shape": "Sj"
        },
        "ToolsVersion": {},
        "UserArn": {}
      }
    },
    "Se": {
      "type": "string",
      "max": 79
    },
    "Sh": {
      "type": "string",
      "pattern": "^((Mon|Tue|Wed|Thu|Fri|Sat|Sun):)?([0-1][0-9]|2[0-3]):[0-5][0-9]$"
    },
    "Sj": {
      "type": "list",
      "member": {}
    },
    "Ss": {
      "type": "structure",
      "members": {
        "AssociatePublicIpAddress": {
          "type": "boolean"
        },
        "BackupRetentionCount": {
          "type": "integer"
        },
        "ServerName": {},
        "CreatedAt": {
          "type": "timestamp"
        },
        "CloudFormationStackArn": {},
        "DisableAutomatedBackup": {
          "type": "boolean"
        },
        "Endpoint": {},
        "Engine": {},
        "EngineModel": {},
        "EngineAttributes": {
          "shape": "S4"
        },
        "EngineVersion": {},
        "InstanceProfileArn": {},
        "InstanceType": {},
        "KeyPair": {},
        "MaintenanceStatus": {
          "type": "string",
          "enum": [
            "SUCCESS",
            "FAILED"
          ]
        },
        "PreferredMaintenanceWindow": {
          "shape": "Sh"
        },
        "PreferredBackupWindow": {
          "shape": "Sh"
        },
        "SecurityGroupIds": {
          "shape": "Sj"
        },
        "ServiceRoleArn": {},
        "Status": {
          "type": "string",
          "enum": [
            "BACKING_UP",
            "CONNECTION_LOST",
            "CREATING",
            "DELETING",
            "MODIFYING",
            "FAILED",
            "HEALTHY",
            "RUNNING",
            "RESTORING",
            "SETUP",
            "UNDER_MAINTENANCE",
            "UNHEALTHY",
            "TERMINATED"
          ]
        },
        "StatusReason": {},
        "SubnetIds": {
          "shape": "Sj"
        },
        "ServerArn": {}
      }
    },
    "S15": {
      "type": "integer",
      "min": 1
    }
  }
}