{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-11-28",
    "endpointPrefix": "organizations",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Organizations",
    "serviceFullName": "AWS Organizations",
    "serviceId": "Organizations",
    "signatureVersion": "v4",
    "targetPrefix": "AWSOrganizationsV20161128",
    "uid": "organizations-2016-11-28"
  },
  "operations": {
    "AcceptHandshake": {
      "input": {
        "type": "structure",
        "required": [
          "HandshakeId"
        ],
        "members": {
          "HandshakeId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Handshake": {
            "shape": "S4"
          }
        }
      }
    },
    "AttachPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyId",
          "TargetId"
        ],
        "members": {
          "PolicyId": {
            "shape": "Si"
          },
          "TargetId": {
            "shape": "Sj"
          }
        }
      }
    },
    "CancelHandshake": {
      "input": {
        "type": "structure",
        "required": [
          "HandshakeId"
        ],
        "members": {
          "HandshakeId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Handshake": {
            "shape": "S4"
          }
        }
      }
    },
    "CreateAccount": {
      "input": {
        "type": "structure",
        "required": [
          "Email",
          "AccountName"
        ],
        "members": {
          "Email": {
            "shape": "Sn"
          },
          "AccountName": {
            "shape": "So"
          },
          "RoleName": {
            "type": "string",
            "pattern": "[\\w+=,.@-]{1,64}"
          },
          "IamUserAccessToBilling": {
            "type": "string",
            "enum": [
              "ALLOW",
              "DENY"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CreateAccountStatus": {
            "shape": "Ss"
          }
        }
      }
    },
    "CreateOrganization": {
      "input": {
        "type": "structure",
        "members": {
          "FeatureSet": {
            "shape": "Sy"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Organization": {
            "shape": "S10"
          }
        }
      }
    },
    "CreateOrganizationalUnit": {
      "input": {
        "type": "structure",
        "required": [
          "ParentId",
          "Name"
        ],
        "members": {
          "ParentId": {
            "shape": "S19"
          },
          "Name": {
            "shape": "S1a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OrganizationalUnit": {
            "shape": "S1c"
          }
        }
      }
    },
    "CreatePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "Content",
          "Description",
          "Name",
          "Type"
        ],
        "members": {
          "Content": {
            "shape": "S1g"
          },
          "Description": {
            "shape": "S1h"
          },
          "Name": {
            "shape": "S1i"
          },
          "Type": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {
            "shape": "S1k"
          }
        }
      }
    },
    "DeclineHandshake": {
      "input": {
        "type": "structure",
        "required": [
          "HandshakeId"
        ],
        "members": {
          "HandshakeId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Handshake": {
            "shape": "S4"
          }
        }
      }
    },
    "DeleteOrganization": {},
    "DeleteOrganizationalUnit": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationalUnitId"
        ],
        "members": {
          "OrganizationalUnitId": {
            "shape": "S1d"
          }
        }
      }
    },
    "DeletePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyId"
        ],
        "members": {
          "PolicyId": {
            "shape": "Si"
          }
        }
      }
    },
    "DescribeAccount": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "shape": "Sv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Account": {
            "shape": "S1u"
          }
        }
      }
    },
    "DescribeCreateAccountStatus": {
      "input": {
        "type": "structure",
        "required": [
          "CreateAccountRequestId"
        ],
        "members": {
          "CreateAccountRequestId": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CreateAccountStatus": {
            "shape": "Ss"
          }
        }
      }
    },
    "DescribeHandshake": {
      "input": {
        "type": "structure",
        "required": [
          "HandshakeId"
        ],
        "members": {
          "HandshakeId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Handshake": {
            "shape": "S4"
          }
        }
      }
    },
    "DescribeOrganization": {
      "output": {
        "type": "structure",
        "members": {
          "Organization": {
            "shape": "S10"
          }
        }
      }
    },
    "DescribeOrganizationalUnit": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationalUnitId"
        ],
        "members": {
          "OrganizationalUnitId": {
            "shape": "S1d"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OrganizationalUnit": {
            "shape": "S1c"
          }
        }
      }
    },
    "DescribePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyId"
        ],
        "members": {
          "PolicyId": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {
            "shape": "S1k"
          }
        }
      }
    },
    "DetachPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyId",
          "TargetId"
        ],
        "members": {
          "PolicyId": {
            "shape": "Si"
          },
          "TargetId": {
            "shape": "Sj"
          }
        }
      }
    },
    "DisableAWSServiceAccess": {
      "input": {
        "type": "structure",
        "required": [
          "ServicePrincipal"
        ],
        "members": {
          "ServicePrincipal": {
            "shape": "S28"
          }
        }
      }
    },
    "DisablePolicyType": {
      "input": {
        "type": "structure",
        "required": [
          "RootId",
          "PolicyType"
        ],
        "members": {
          "RootId": {
            "shape": "S2a"
          },
          "PolicyType": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Root": {
            "shape": "S2c"
          }
        }
      }
    },
    "EnableAWSServiceAccess": {
      "input": {
        "type": "structure",
        "required": [
          "ServicePrincipal"
        ],
        "members": {
          "ServicePrincipal": {
            "shape": "S28"
          }
        }
      }
    },
    "EnableAllFeatures": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Handshake": {
            "shape": "S4"
          }
        }
      }
    },
    "EnablePolicyType": {
      "input": {
        "type": "structure",
        "required": [
          "RootId",
          "PolicyType"
        ],
        "members": {
          "RootId": {
            "shape": "S2a"
          },
          "PolicyType": {
            "shape": "S16"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Root": {
            "shape": "S2c"
          }
        }
      }
    },
    "InviteAccountToOrganization": {
      "input": {
        "type": "structure",
        "required": [
          "Target"
        ],
        "members": {
          "Target": {
            "shape": "S7"
          },
          "Notes": {
            "type": "string",
            "max": 1024,
            "sensitive": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Handshake": {
            "shape": "S4"
          }
        }
      }
    },
    "LeaveOrganization": {},
    "ListAWSServiceAccessForOrganization": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EnabledServicePrincipals": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ServicePrincipal": {
                  "shape": "S28"
                },
                "DateEnabled": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListAccounts": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Accounts": {
            "shape": "S2v"
          },
          "NextToken": {}
        }
      }
    },
    "ListAccountsForParent": {
      "input": {
        "type": "structure",
        "required": [
          "ParentId"
        ],
        "members": {
          "ParentId": {
            "shape": "S19"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Accounts": {
            "shape": "S2v"
          },
          "NextToken": {}
        }
      }
    },
    "ListChildren": {
      "input": {
        "type": "structure",
        "required": [
          "ParentId",
          "ChildType"
        ],
        "members": {
          "ParentId": {
            "shape": "S19"
          },
          "ChildType": {
            "shape": "S2z"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Children": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S33"
                },
                "Type": {
                  "shape": "S2z"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCreateAccountStatus": {
      "input": {
        "type": "structure",
        "members": {
          "States": {
            "type": "list",
            "member": {
              "shape": "Su"
            }
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CreateAccountStatuses": {
            "type": "list",
            "member": {
              "shape": "Ss"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListHandshakesForAccount": {
      "input": {
        "type": "structure",
        "members": {
          "Filter": {
            "shape": "S39"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Handshakes": {
            "shape": "S3b"
          },
          "NextToken": {}
        }
      }
    },
    "ListHandshakesForOrganization": {
      "input": {
        "type": "structure",
        "members": {
          "Filter": {
            "shape": "S39"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Handshakes": {
            "shape": "S3b"
          },
          "NextToken": {}
        }
      }
    },
    "ListOrganizationalUnitsForParent": {
      "input": {
        "type": "structure",
        "required": [
          "ParentId"
        ],
        "members": {
          "ParentId": {
            "shape": "S19"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OrganizationalUnits": {
            "type": "list",
            "member": {
              "shape": "S1c"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListParents": {
      "input": {
        "type": "structure",
        "required": [
          "ChildId"
        ],
        "members": {
          "ChildId": {
            "shape": "S33"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Parents": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Id": {
                  "shape": "S19"
                },
                "Type": {
                  "type": "string",
                  "enum": [
                    "ROOT",
                    "ORGANIZATIONAL_UNIT"
                  ]
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "Filter"
        ],
        "members": {
          "Filter": {
            "shape": "S16"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policies": {
            "shape": "S3o"
          },
          "NextToken": {}
        }
      }
    },
    "ListPoliciesForTarget": {
      "input": {
        "type": "structure",
        "required": [
          "TargetId",
          "Filter"
        ],
        "members": {
          "TargetId": {
            "shape": "Sj"
          },
          "Filter": {
            "shape": "S16"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policies": {
            "shape": "S3o"
          },
          "NextToken": {}
        }
      }
    },
    "ListRoots": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Roots": {
            "type": "list",
            "member": {
              "shape": "S2c"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTargetsForPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyId"
        ],
        "members": {
          "PolicyId": {
            "shape": "Si"
          },
          "NextToken": {},
          "MaxResults": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Targets": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TargetId": {
                  "shape": "Sj"
                },
                "Arn": {
                  "type": "string",
                  "pattern": "^arn:aws:organizations::.+:.+"
                },
                "Name": {
                  "type": "string",
                  "max": 128,
                  "min": 1
                },
                "Type": {
                  "type": "string",
                  "enum": [
                    "ACCOUNT",
                    "ORGANIZATIONAL_UNIT",
                    "ROOT"
                  ]
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "MoveAccount": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "SourceParentId",
          "DestinationParentId"
        ],
        "members": {
          "AccountId": {
            "shape": "Sv"
          },
          "SourceParentId": {
            "shape": "S19"
          },
          "DestinationParentId": {
            "shape": "S19"
          }
        }
      }
    },
    "RemoveAccountFromOrganization": {
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "shape": "Sv"
          }
        }
      }
    },
    "UpdateOrganizationalUnit": {
      "input": {
        "type": "structure",
        "required": [
          "OrganizationalUnitId"
        ],
        "members": {
          "OrganizationalUnitId": {
            "shape": "S1d"
          },
          "Name": {
            "shape": "S1a"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OrganizationalUnit": {
            "shape": "S1c"
          }
        }
      }
    },
    "UpdatePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "PolicyId"
        ],
        "members": {
          "PolicyId": {
            "shape": "Si"
          },
          "Name": {
            "shape": "S1i"
          },
          "Description": {
            "shape": "S1h"
          },
          "Content": {
            "shape": "S1g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {
            "shape": "S1k"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "pattern": "^h-[0-9a-z]{8,32}$"
    },
    "S4": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S2"
        },
        "Arn": {
          "type": "string",
          "pattern": "^arn:aws:organizations::\\d{12}:handshake\\/o-[a-z0-9]{10,32}\\/[a-z_]{1,32}\\/h-[0-9a-z]{8,32}"
        },
        "Parties": {
          "type": "list",
          "member": {
            "shape": "S7"
          }
        },
        "State": {
          "type": "string",
          "enum": [
            "REQUESTED",
            "OPEN",
            "CANCELED",
            "ACCEPTED",
            "DECLINED",
            "EXPIRED"
          ]
        },
        "RequestedTimestamp": {
          "type": "timestamp"
        },
        "ExpirationTimestamp": {
          "type": "timestamp"
        },
        "Action": {
          "shape": "Sc"
        },
        "Resources": {
          "shape": "Sd"
        }
      }
    },
    "S7": {
      "type": "structure",
      "required": [
        "Id",
        "Type"
      ],
      "members": {
        "Id": {
          "type": "string",
          "max": 64,
          "min": 1,
          "sensitive": true
        },
        "Type": {
          "type": "string",
          "enum": [
            "ACCOUNT",
            "ORGANIZATION",
            "EMAIL"
          ]
        }
      }
    },
    "Sc": {
      "type": "string",
      "enum": [
        "INVITE",
        "ENABLE_ALL_FEATURES",
        "APPROVE_ALL_FEATURES",
        "ADD_ORGANIZATIONS_SERVICE_LINKED_ROLE"
      ]
    },
    "Sd": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Value": {
            "type": "string",
            "sensitive": true
          },
          "Type": {
            "type": "string",
            "enum": [
              "ACCOUNT",
              "ORGANIZATION",
              "ORGANIZATION_FEATURE_SET",
              "EMAIL",
              "MASTER_EMAIL",
              "MASTER_NAME",
              "NOTES",
              "PARENT_HANDSHAKE"
            ]
          },
          "Resources": {
            "shape": "Sd"
          }
        }
      }
    },
    "Si": {
      "type": "string",
      "pattern": "^p-[0-9a-zA-Z_]{8,128}$"
    },
    "Sj": {
      "type": "string",
      "pattern": "^(r-[0-9a-z]{4,32})|(\\d{12})|(ou-[0-9a-z]{4,32}-[a-z0-9]{8,32})$"
    },
    "Sn": {
      "type": "string",
      "max": 64,
      "min": 6,
      "pattern": "[^\\s@]+@[^\\s@]+\\.[^\\s@]+",
      "sensitive": true
    },
    "So": {
      "type": "string",
      "max": 50,
      "min": 1,
      "pattern": "[\\u0020-\\u007E]+",
      "sensitive": true
    },
    "Ss": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "St"
        },
        "AccountName": {
          "shape": "So"
        },
        "State": {
          "shape": "Su"
        },
        "RequestedTimestamp": {
          "type": "timestamp"
        },
        "CompletedTimestamp": {
          "type": "timestamp"
        },
        "AccountId": {
          "shape": "Sv"
        },
        "FailureReason": {
          "type": "string",
          "enum": [
            "ACCOUNT_LIMIT_EXCEEDED",
            "EMAIL_ALREADY_EXISTS",
            "INVALID_ADDRESS",
            "INVALID_EMAIL",
            "CONCURRENT_ACCOUNT_MODIFICATION",
            "INTERNAL_FAILURE"
          ]
        }
      }
    },
    "St": {
      "type": "string",
      "pattern": "^car-[a-z0-9]{8,32}$"
    },
    "Su": {
      "type": "string",
      "enum": [
        "IN_PROGRESS",
        "SUCCEEDED",
        "FAILED"
      ]
    },
    "Sv": {
      "type": "string",
      "pattern": "^\\d{12}$"
    },
    "Sy": {
      "type": "string",
      "enum": [
        "ALL",
        "CONSOLIDATED_BILLING"
      ]
    },
    "S10": {
      "type": "structure",
      "members": {
        "Id": {
          "type": "string",
          "pattern": "^o-[a-z0-9]{10,32}$"
        },
        "Arn": {
          "type": "string",
          "pattern": "^arn:aws:organizations::\\d{12}:organization\\/o-[a-z0-9]{10,32}"
        },
        "FeatureSet": {
          "shape": "Sy"
        },
        "MasterAccountArn": {
          "shape": "S13"
        },
        "MasterAccountId": {
          "shape": "Sv"
        },
        "MasterAccountEmail": {
          "shape": "Sn"
        },
        "AvailablePolicyTypes": {
          "shape": "S14"
        }
      }
    },
    "S13": {
      "type": "string",
      "pattern": "^arn:aws:organizations::\\d{12}:account\\/o-[a-z0-9]{10,32}\\/\\d{12}"
    },
    "S14": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Type": {
            "shape": "S16"
          },
          "Status": {
            "type": "string",
            "enum": [
              "ENABLED",
              "PENDING_ENABLE",
              "PENDING_DISABLE"
            ]
          }
        }
      }
    },
    "S16": {
      "type": "string",
      "enum": [
        "SERVICE_CONTROL_POLICY"
      ]
    },
    "S19": {
      "type": "string",
      "pattern": "^(r-[0-9a-z]{4,32})|(ou-[0-9a-z]{4,32}-[a-z0-9]{8,32})$"
    },
    "S1a": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S1c": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S1d"
        },
        "Arn": {
          "type": "string",
          "pattern": "^arn:aws:organizations::\\d{12}:ou\\/o-[a-z0-9]{10,32}\\/ou-[0-9a-z]{4,32}-[0-9a-z]{8,32}"
        },
        "Name": {
          "shape": "S1a"
        }
      }
    },
    "S1d": {
      "type": "string",
      "pattern": "^ou-[0-9a-z]{4,32}-[a-z0-9]{8,32}$"
    },
    "S1g": {
      "type": "string",
      "max": 1000000,
      "min": 1
    },
    "S1h": {
      "type": "string",
      "max": 512
    },
    "S1i": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S1k": {
      "type": "structure",
      "members": {
        "PolicySummary": {
          "shape": "S1l"
        },
        "Content": {
          "shape": "S1g"
        }
      }
    },
    "S1l": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "Si"
        },
        "Arn": {
          "type": "string",
          "pattern": "^(arn:aws:organizations::\\d{12}:policy\\/o-[a-z0-9]{10,32}\\/[0-9a-z_]+\\/p-[0-9a-z]{10,32})|(arn:aws:organizations::aws:policy\\/[0-9a-z_]+\\/p-[0-9a-zA-Z_]{10,128})"
        },
        "Name": {
          "shape": "S1i"
        },
        "Description": {
          "shape": "S1h"
        },
        "Type": {
          "shape": "S16"
        },
        "AwsManaged": {
          "type": "boolean"
        }
      }
    },
    "S1u": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "Sv"
        },
        "Arn": {
          "shape": "S13"
        },
        "Email": {
          "shape": "Sn"
        },
        "Name": {
          "shape": "So"
        },
        "Status": {
          "type": "string",
          "enum": [
            "ACTIVE",
            "SUSPENDED"
          ]
        },
        "JoinedMethod": {
          "type": "string",
          "enum": [
            "INVITED",
            "CREATED"
          ]
        },
        "JoinedTimestamp": {
          "type": "timestamp"
        }
      }
    },
    "S28": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\w+=,.@-]*"
    },
    "S2a": {
      "type": "string",
      "pattern": "^r-[0-9a-z]{4,32}$"
    },
    "S2c": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "S2a"
        },
        "Arn": {
          "type": "string",
          "pattern": "^arn:aws:organizations::\\d{12}:root\\/o-[a-z0-9]{10,32}\\/r-[0-9a-z]{4,32}"
        },
        "Name": {
          "type": "string",
          "max": 128,
          "min": 1
        },
        "PolicyTypes": {
          "shape": "S14"
        }
      }
    },
    "S2p": {
      "type": "integer",
      "max": 20,
      "min": 1
    },
    "S2v": {
      "type": "list",
      "member": {
        "shape": "S1u"
      }
    },
    "S2z": {
      "type": "string",
      "enum": [
        "ACCOUNT",
        "ORGANIZATIONAL_UNIT"
      ]
    },
    "S33": {
      "type": "string",
      "pattern": "^(\\d{12})|(ou-[0-9a-z]{4,32}-[a-z0-9]{8,32})$"
    },
    "S39": {
      "type": "structure",
      "members": {
        "ActionType": {
          "shape": "Sc"
        },
        "ParentHandshakeId": {
          "shape": "S2"
        }
      }
    },
    "S3b": {
      "type": "list",
      "member": {
        "shape": "S4"
      }
    },
    "S3o": {
      "type": "list",
      "member": {
        "shape": "S1l"
      }
    }
  }
}