{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2022-02-03",
    "auth": [
      "aws.auth#sigv4"
    ],
    "endpointPrefix": "dataplane.payment-cryptography",
    "protocol": "rest-json",
    "protocols": [
      "rest-json"
    ],
    "serviceFullName": "Payment Cryptography Data Plane",
    "serviceId": "Payment Cryptography Data",
    "signatureVersion": "v4",
    "signingName": "payment-cryptography",
    "uid": "payment-cryptography-data-2022-02-03"
  },
  "operations": {
    "DecryptData": {
      "http": {
        "requestUri": "/keys/{KeyIdentifier}/decrypt",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "KeyIdentifier",
          "CipherText",
          "DecryptionAttributes"
        ],
        "members": {
          "KeyIdentifier": {
            "location": "uri",
            "locationName": "KeyIdentifier"
          },
          "CipherText": {
            "shape": "S3"
          },
          "DecryptionAttributes": {
            "shape": "S4"
          },
          "WrappedKey": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "KeyArn",
          "KeyCheckValue",
          "PlainText"
        ],
        "members": {
          "KeyArn": {},
          "KeyCheckValue": {},
          "PlainText": {
            "shape": "S3"
          }
        }
      }
    },
    "EncryptData": {
      "http": {
        "requestUri": "/keys/{KeyIdentifier}/encrypt",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "KeyIdentifier",
          "PlainText",
          "EncryptionAttributes"
        ],
        "members": {
          "KeyIdentifier": {
            "location": "uri",
            "locationName": "KeyIdentifier"
          },
          "PlainText": {
            "type": "string",
            "sensitive": true
          },
          "EncryptionAttributes": {
            "shape": "S4"
          },
          "WrappedKey": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "KeyArn",
          "CipherText"
        ],
        "members": {
          "KeyArn": {},
          "KeyCheckValue": {},
          "CipherText": {
            "shape": "S3"
          }
        }
      }
    },
    "GenerateCardValidationData": {
      "http": {
        "requestUri": "/cardvalidationdata/generate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "KeyIdentifier",
          "PrimaryAccountNumber",
          "GenerationAttributes"
        ],
        "members": {
          "KeyIdentifier": {},
          "PrimaryAccountNumber": {
            "shape": "Sh"
          },
          "GenerationAttributes": {
            "type": "structure",
            "members": {
              "AmexCardSecurityCodeVersion1": {
                "shape": "Sx"
              },
              "AmexCardSecurityCodeVersion2": {
                "shape": "Sz"
              },
              "CardVerificationValue1": {
                "shape": "S11"
              },
              "CardVerificationValue2": {
                "shape": "S12"
              },
              "CardHolderVerificationValue": {
                "shape": "S13"
              },
              "DynamicCardVerificationCode": {
                "shape": "S16"
              },
              "DynamicCardVerificationValue": {
                "shape": "S18"
              }
            },
            "union": true
          },
          "ValidationDataLength": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "KeyArn",
          "KeyCheckValue",
          "ValidationData"
        ],
        "members": {
          "KeyArn": {},
          "KeyCheckValue": {},
          "ValidationData": {}
        }
      }
    },
    "GenerateMac": {
      "http": {
        "requestUri": "/mac/generate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "KeyIdentifier",
          "MessageData",
          "GenerationAttributes"
        ],
        "members": {
          "KeyIdentifier": {},
          "MessageData": {
            "shape": "S1d"
          },
          "GenerationAttributes": {
            "shape": "S1e"
          },
          "MacLength": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "KeyArn",
          "KeyCheckValue",
          "Mac"
        ],
        "members": {
          "KeyArn": {},
          "KeyCheckValue": {},
          "Mac": {}
        }
      }
    },
    "GeneratePinData": {
      "http": {
        "requestUri": "/pindata/generate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "GenerationKeyIdentifier",
          "EncryptionKeyIdentifier",
          "GenerationAttributes",
          "PrimaryAccountNumber",
          "PinBlockFormat"
        ],
        "members": {
          "GenerationKeyIdentifier": {},
          "EncryptionKeyIdentifier": {},
          "GenerationAttributes": {
            "type": "structure",
            "members": {
              "VisaPin": {
                "type": "structure",
                "required": [
                  "PinVerificationKeyIndex"
                ],
                "members": {
                  "PinVerificationKeyIndex": {
                    "type": "integer"
                  }
                }
              },
              "VisaPinVerificationValue": {
                "type": "structure",
                "required": [
                  "EncryptedPinBlock",
                  "PinVerificationKeyIndex"
                ],
                "members": {
                  "EncryptedPinBlock": {},
                  "PinVerificationKeyIndex": {
                    "type": "integer"
                  }
                }
              },
              "Ibm3624PinOffset": {
                "type": "structure",
                "required": [
                  "EncryptedPinBlock",
                  "DecimalizationTable",
                  "PinValidationDataPadCharacter",
                  "PinValidationData"
                ],
                "members": {
                  "EncryptedPinBlock": {},
                  "DecimalizationTable": {},
                  "PinValidationDataPadCharacter": {},
                  "PinValidationData": {}
                }
              },
              "Ibm3624NaturalPin": {
                "type": "structure",
                "required": [
                  "DecimalizationTable",
                  "PinValidationDataPadCharacter",
                  "PinValidationData"
                ],
                "members": {
                  "DecimalizationTable": {},
                  "PinValidationDataPadCharacter": {},
                  "PinValidationData": {}
                }
              },
              "Ibm3624RandomPin": {
                "type": "structure",
                "required": [
                  "DecimalizationTable",
                  "PinValidationDataPadCharacter",
                  "PinValidationData"
                ],
                "members": {
                  "DecimalizationTable": {},
                  "PinValidationDataPadCharacter": {},
                  "PinValidationData": {}
                }
              },
              "Ibm3624PinFromOffset": {
                "type": "structure",
                "required": [
                  "DecimalizationTable",
                  "PinValidationDataPadCharacter",
                  "PinValidationData",
                  "PinOffset"
                ],
                "members": {
                  "DecimalizationTable": {},
                  "PinValidationDataPadCharacter": {},
                  "PinValidationData": {},
                  "PinOffset": {}
                }
              }
            },
            "union": true
          },
          "PinDataLength": {
            "type": "integer"
          },
          "PrimaryAccountNumber": {
            "shape": "Sh"
          },
          "PinBlockFormat": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "GenerationKeyArn",
          "GenerationKeyCheckValue",
          "EncryptionKeyArn",
          "EncryptionKeyCheckValue",
          "EncryptedPinBlock",
          "PinData"
        ],
        "members": {
          "GenerationKeyArn": {},
          "GenerationKeyCheckValue": {},
          "EncryptionKeyArn": {},
          "EncryptionKeyCheckValue": {},
          "EncryptedPinBlock": {},
          "PinData": {
            "type": "structure",
            "members": {
              "PinOffset": {},
              "VerificationValue": {}
            },
            "union": true
          }
        }
      }
    },
    "ReEncryptData": {
      "http": {
        "requestUri": "/keys/{IncomingKeyIdentifier}/reencrypt",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "IncomingKeyIdentifier",
          "OutgoingKeyIdentifier",
          "CipherText",
          "IncomingEncryptionAttributes",
          "OutgoingEncryptionAttributes"
        ],
        "members": {
          "IncomingKeyIdentifier": {
            "location": "uri",
            "locationName": "IncomingKeyIdentifier"
          },
          "OutgoingKeyIdentifier": {},
          "CipherText": {
            "shape": "S3"
          },
          "IncomingEncryptionAttributes": {
            "shape": "S27"
          },
          "OutgoingEncryptionAttributes": {
            "shape": "S27"
          },
          "IncomingWrappedKey": {
            "shape": "Sl"
          },
          "OutgoingWrappedKey": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "KeyArn",
          "KeyCheckValue",
          "CipherText"
        ],
        "members": {
          "KeyArn": {},
          "KeyCheckValue": {},
          "CipherText": {
            "shape": "S3"
          }
        }
      }
    },
    "TranslatePinData": {
      "http": {
        "requestUri": "/pindata/translate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "IncomingKeyIdentifier",
          "OutgoingKeyIdentifier",
          "IncomingTranslationAttributes",
          "OutgoingTranslationAttributes",
          "EncryptedPinBlock"
        ],
        "members": {
          "IncomingKeyIdentifier": {},
          "OutgoingKeyIdentifier": {},
          "IncomingTranslationAttributes": {
            "shape": "S2a"
          },
          "OutgoingTranslationAttributes": {
            "shape": "S2a"
          },
          "EncryptedPinBlock": {
            "type": "string",
            "sensitive": true
          },
          "IncomingDukptAttributes": {
            "shape": "S2e"
          },
          "OutgoingDukptAttributes": {
            "shape": "S2e"
          },
          "IncomingWrappedKey": {
            "shape": "Sl"
          },
          "OutgoingWrappedKey": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "PinBlock",
          "KeyArn",
          "KeyCheckValue"
        ],
        "members": {
          "PinBlock": {},
          "KeyArn": {},
          "KeyCheckValue": {}
        }
      }
    },
    "VerifyAuthRequestCryptogram": {
      "http": {
        "requestUri": "/cryptogram/verify",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "KeyIdentifier",
          "TransactionData",
          "AuthRequestCryptogram",
          "MajorKeyDerivationMode",
          "SessionKeyDerivationAttributes"
        ],
        "members": {
          "KeyIdentifier": {},
          "TransactionData": {},
          "AuthRequestCryptogram": {},
          "MajorKeyDerivationMode": {},
          "SessionKeyDerivationAttributes": {
            "type": "structure",
            "members": {
              "EmvCommon": {
                "type": "structure",
                "required": [
                  "PrimaryAccountNumber",
                  "PanSequenceNumber",
                  "ApplicationTransactionCounter"
                ],
                "members": {
                  "PrimaryAccountNumber": {
                    "shape": "Sh"
                  },
                  "PanSequenceNumber": {},
                  "ApplicationTransactionCounter": {}
                }
              },
              "Mastercard": {
                "type": "structure",
                "required": [
                  "PrimaryAccountNumber",
                  "PanSequenceNumber",
                  "ApplicationTransactionCounter",
                  "UnpredictableNumber"
                ],
                "members": {
                  "PrimaryAccountNumber": {
                    "shape": "Sh"
                  },
                  "PanSequenceNumber": {},
                  "ApplicationTransactionCounter": {},
                  "UnpredictableNumber": {}
                }
              },
              "Emv2000": {
                "type": "structure",
                "required": [
                  "PrimaryAccountNumber",
                  "PanSequenceNumber",
                  "ApplicationTransactionCounter"
                ],
                "members": {
                  "PrimaryAccountNumber": {
                    "shape": "Sh"
                  },
                  "PanSequenceNumber": {},
                  "ApplicationTransactionCounter": {}
                }
              },
              "Amex": {
                "type": "structure",
                "required": [
                  "PrimaryAccountNumber",
                  "PanSequenceNumber"
                ],
                "members": {
                  "PrimaryAccountNumber": {
                    "shape": "Sh"
                  },
                  "PanSequenceNumber": {}
                }
              },
              "Visa": {
                "type": "structure",
                "required": [
                  "PrimaryAccountNumber",
                  "PanSequenceNumber"
                ],
                "members": {
                  "PrimaryAccountNumber": {
                    "shape": "Sh"
                  },
                  "PanSequenceNumber": {}
                }
              }
            },
            "union": true
          },
          "AuthResponseAttributes": {
            "type": "structure",
            "members": {
              "ArpcMethod1": {
                "type": "structure",
                "required": [
                  "AuthResponseCode"
                ],
                "members": {
                  "AuthResponseCode": {}
                }
              },
              "ArpcMethod2": {
                "type": "structure",
                "required": [
                  "CardStatusUpdate"
                ],
                "members": {
                  "CardStatusUpdate": {},
                  "ProprietaryAuthenticationData": {}
                }
              }
            },
            "union": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "KeyArn",
          "KeyCheckValue"
        ],
        "members": {
          "KeyArn": {},
          "KeyCheckValue": {},
          "AuthResponseValue": {}
        }
      }
    },
    "VerifyCardValidationData": {
      "http": {
        "requestUri": "/cardvalidationdata/verify",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "KeyIdentifier",
          "PrimaryAccountNumber",
          "VerificationAttributes",
          "ValidationData"
        ],
        "members": {
          "KeyIdentifier": {},
          "PrimaryAccountNumber": {
            "shape": "Sh"
          },
          "VerificationAttributes": {
            "type": "structure",
            "members": {
              "AmexCardSecurityCodeVersion1": {
                "shape": "Sx"
              },
              "AmexCardSecurityCodeVersion2": {
                "shape": "Sz"
              },
              "CardVerificationValue1": {
                "shape": "S11"
              },
              "CardVerificationValue2": {
                "shape": "S12"
              },
              "CardHolderVerificationValue": {
                "shape": "S13"
              },
              "DynamicCardVerificationCode": {
                "shape": "S16"
              },
              "DynamicCardVerificationValue": {
                "shape": "S18"
              },
              "DiscoverDynamicCardVerificationCode": {
                "type": "structure",
                "required": [
                  "CardExpiryDate",
                  "UnpredictableNumber",
                  "ApplicationTransactionCounter"
                ],
                "members": {
                  "CardExpiryDate": {},
                  "UnpredictableNumber": {},
                  "ApplicationTransactionCounter": {}
                }
              }
            },
            "union": true
          },
          "ValidationData": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "KeyArn",
          "KeyCheckValue"
        ],
        "members": {
          "KeyArn": {},
          "KeyCheckValue": {}
        }
      }
    },
    "VerifyMac": {
      "http": {
        "requestUri": "/mac/verify",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "KeyIdentifier",
          "MessageData",
          "Mac",
          "VerificationAttributes"
        ],
        "members": {
          "KeyIdentifier": {},
          "MessageData": {
            "shape": "S1d"
          },
          "Mac": {
            "type": "string",
            "sensitive": true
          },
          "VerificationAttributes": {
            "shape": "S1e"
          },
          "MacLength": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "KeyArn",
          "KeyCheckValue"
        ],
        "members": {
          "KeyArn": {},
          "KeyCheckValue": {}
        }
      }
    },
    "VerifyPinData": {
      "http": {
        "requestUri": "/pindata/verify",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "VerificationKeyIdentifier",
          "EncryptionKeyIdentifier",
          "VerificationAttributes",
          "EncryptedPinBlock",
          "PrimaryAccountNumber",
          "PinBlockFormat"
        ],
        "members": {
          "VerificationKeyIdentifier": {},
          "EncryptionKeyIdentifier": {},
          "VerificationAttributes": {
            "type": "structure",
            "members": {
              "VisaPin": {
                "type": "structure",
                "required": [
                  "PinVerificationKeyIndex",
                  "VerificationValue"
                ],
                "members": {
                  "PinVerificationKeyIndex": {
                    "type": "integer"
                  },
                  "VerificationValue": {}
                }
              },
              "Ibm3624Pin": {
                "type": "structure",
                "required": [
                  "DecimalizationTable",
                  "PinValidationDataPadCharacter",
                  "PinValidationData",
                  "PinOffset"
                ],
                "members": {
                  "DecimalizationTable": {},
                  "PinValidationDataPadCharacter": {},
                  "PinValidationData": {},
                  "PinOffset": {}
                }
              }
            },
            "union": true
          },
          "EncryptedPinBlock": {},
          "PrimaryAccountNumber": {
            "shape": "Sh"
          },
          "PinBlockFormat": {},
          "PinDataLength": {
            "type": "integer"
          },
          "DukptAttributes": {
            "type": "structure",
            "required": [
              "KeySerialNumber",
              "DukptDerivationType"
            ],
            "members": {
              "KeySerialNumber": {},
              "DukptDerivationType": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "VerificationKeyArn",
          "VerificationKeyCheckValue",
          "EncryptionKeyArn",
          "EncryptionKeyCheckValue"
        ],
        "members": {
          "VerificationKeyArn": {},
          "VerificationKeyCheckValue": {},
          "EncryptionKeyArn": {},
          "EncryptionKeyCheckValue": {}
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "string",
      "sensitive": true
    },
    "S4": {
      "type": "structure",
      "members": {
        "Symmetric": {
          "shape": "S5"
        },
        "Asymmetric": {
          "type": "structure",
          "members": {
            "PaddingType": {}
          }
        },
        "Dukpt": {
          "shape": "Sa"
        },
        "Emv": {
          "type": "structure",
          "required": [
            "MajorKeyDerivationMode",
            "PrimaryAccountNumber",
            "PanSequenceNumber",
            "SessionDerivationData"
          ],
          "members": {
            "MajorKeyDerivationMode": {},
            "PrimaryAccountNumber": {
              "shape": "Sh"
            },
            "PanSequenceNumber": {},
            "SessionDerivationData": {},
            "Mode": {},
            "InitializationVector": {
              "shape": "S7"
            }
          }
        }
      },
      "union": true
    },
    "S5": {
      "type": "structure",
      "required": [
        "Mode"
      ],
      "members": {
        "Mode": {},
        "InitializationVector": {
          "shape": "S7"
        },
        "PaddingType": {}
      }
    },
    "S7": {
      "type": "string",
      "sensitive": true
    },
    "Sa": {
      "type": "structure",
      "required": [
        "KeySerialNumber"
      ],
      "members": {
        "KeySerialNumber": {},
        "Mode": {},
        "DukptKeyDerivationType": {},
        "DukptKeyVariant": {},
        "InitializationVector": {
          "shape": "S7"
        }
      }
    },
    "Sh": {
      "type": "string",
      "sensitive": true
    },
    "Sl": {
      "type": "structure",
      "required": [
        "WrappedKeyMaterial"
      ],
      "members": {
        "WrappedKeyMaterial": {
          "type": "structure",
          "members": {
            "Tr31KeyBlock": {
              "type": "string",
              "sensitive": true
            }
          },
          "union": true
        },
        "KeyCheckValueAlgorithm": {}
      }
    },
    "Sx": {
      "type": "structure",
      "required": [
        "CardExpiryDate"
      ],
      "members": {
        "CardExpiryDate": {}
      }
    },
    "Sz": {
      "type": "structure",
      "required": [
        "CardExpiryDate",
        "ServiceCode"
      ],
      "members": {
        "CardExpiryDate": {},
        "ServiceCode": {}
      }
    },
    "S11": {
      "type": "structure",
      "required": [
        "CardExpiryDate",
        "ServiceCode"
      ],
      "members": {
        "CardExpiryDate": {},
        "ServiceCode": {}
      }
    },
    "S12": {
      "type": "structure",
      "required": [
        "CardExpiryDate"
      ],
      "members": {
        "CardExpiryDate": {}
      }
    },
    "S13": {
      "type": "structure",
      "required": [
        "UnpredictableNumber",
        "PanSequenceNumber",
        "ApplicationTransactionCounter"
      ],
      "members": {
        "UnpredictableNumber": {},
        "PanSequenceNumber": {},
        "ApplicationTransactionCounter": {}
      }
    },
    "S16": {
      "type": "structure",
      "required": [
        "UnpredictableNumber",
        "PanSequenceNumber",
        "ApplicationTransactionCounter",
        "TrackData"
      ],
      "members": {
        "UnpredictableNumber": {},
        "PanSequenceNumber": {},
        "ApplicationTransactionCounter": {},
        "TrackData": {}
      }
    },
    "S18": {
      "type": "structure",
      "required": [
        "PanSequenceNumber",
        "CardExpiryDate",
        "ServiceCode",
        "ApplicationTransactionCounter"
      ],
      "members": {
        "PanSequenceNumber": {},
        "CardExpiryDate": {},
        "ServiceCode": {},
        "ApplicationTransactionCounter": {}
      }
    },
    "S1d": {
      "type": "string",
      "sensitive": true
    },
    "S1e": {
      "type": "structure",
      "members": {
        "Algorithm": {},
        "EmvMac": {
          "type": "structure",
          "required": [
            "MajorKeyDerivationMode",
            "PrimaryAccountNumber",
            "PanSequenceNumber",
            "SessionKeyDerivationMode",
            "SessionKeyDerivationValue"
          ],
          "members": {
            "MajorKeyDerivationMode": {},
            "PrimaryAccountNumber": {
              "shape": "Sh"
            },
            "PanSequenceNumber": {},
            "SessionKeyDerivationMode": {},
            "SessionKeyDerivationValue": {
              "type": "structure",
              "members": {
                "ApplicationCryptogram": {},
                "ApplicationTransactionCounter": {}
              },
              "union": true
            }
          }
        },
        "DukptIso9797Algorithm1": {
          "shape": "S1k"
        },
        "DukptIso9797Algorithm3": {
          "shape": "S1k"
        },
        "DukptCmac": {
          "shape": "S1k"
        }
      },
      "union": true
    },
    "S1k": {
      "type": "structure",
      "required": [
        "KeySerialNumber",
        "DukptKeyVariant"
      ],
      "members": {
        "KeySerialNumber": {},
        "DukptKeyVariant": {},
        "DukptDerivationType": {}
      }
    },
    "S27": {
      "type": "structure",
      "members": {
        "Symmetric": {
          "shape": "S5"
        },
        "Dukpt": {
          "shape": "Sa"
        }
      },
      "union": true
    },
    "S2a": {
      "type": "structure",
      "members": {
        "IsoFormat0": {
          "shape": "S2b"
        },
        "IsoFormat1": {
          "type": "structure",
          "members": {}
        },
        "IsoFormat3": {
          "shape": "S2b"
        },
        "IsoFormat4": {
          "shape": "S2b"
        }
      },
      "union": true
    },
    "S2b": {
      "type": "structure",
      "required": [
        "PrimaryAccountNumber"
      ],
      "members": {
        "PrimaryAccountNumber": {
          "shape": "Sh"
        }
      }
    },
    "S2e": {
      "type": "structure",
      "required": [
        "KeySerialNumber"
      ],
      "members": {
        "KeySerialNumber": {},
        "DukptKeyDerivationType": {},
        "DukptKeyVariant": {}
      }
    }
  }
}