{
  "metadata" : {
    "apiVersion" : "2016-12-01",
    "endpointPrefix" : "pinpoint",
    "signingName" : "mobiletargeting",
    "serviceFullName" : "Amazon Pinpoint",
    "protocol" : "rest-json",
    "jsonVersion" : "1.1",
    "uid" : "pinpoint-2016-12-01",
    "signatureVersion" : "v4"
  },
  "operations" : {
    "CreateApp" : {
      "name" : "CreateApp",
      "http" : {
        "method" : "POST",
        "requestUri" : "/v1/apps",
        "responseCode" : 201
      },
      "input" : {
        "shape" : "CreateAppRequest"
      },
      "output" : {
        "shape" : "CreateAppResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Creates or updates an app."
    },
    "CreateCampaign" : {
      "name" : "CreateCampaign",
      "http" : {
        "method" : "POST",
        "requestUri" : "/v1/apps/{application-id}/campaigns",
        "responseCode" : 201
      },
      "input" : {
        "shape" : "CreateCampaignRequest"
      },
      "output" : {
        "shape" : "CreateCampaignResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Creates or updates a campaign."
    },
    "CreateExportJob" : {
      "name" : "CreateExportJob",
      "http" : {
        "method" : "POST",
        "requestUri" : "/v1/apps/{application-id}/jobs/export",
        "responseCode" : 202
      },
      "input" : {
        "shape" : "CreateExportJobRequest"
      },
      "output" : {
        "shape" : "CreateExportJobResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Creates an export job."
    },
    "CreateImportJob" : {
      "name" : "CreateImportJob",
      "http" : {
        "method" : "POST",
        "requestUri" : "/v1/apps/{application-id}/jobs/import",
        "responseCode" : 201
      },
      "input" : {
        "shape" : "CreateImportJobRequest"
      },
      "output" : {
        "shape" : "CreateImportJobResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Creates or updates an import job."
    },
    "CreateSegment" : {
      "name" : "CreateSegment",
      "http" : {
        "method" : "POST",
        "requestUri" : "/v1/apps/{application-id}/segments",
        "responseCode" : 201
      },
      "input" : {
        "shape" : "CreateSegmentRequest"
      },
      "output" : {
        "shape" : "CreateSegmentResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Used to create or update a segment."
    },
    "DeleteAdmChannel" : {
      "name" : "DeleteAdmChannel",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/channels/adm",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteAdmChannelRequest"
      },
      "output" : {
        "shape" : "DeleteAdmChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Delete an ADM channel"
    },
    "DeleteApnsChannel" : {
      "name" : "DeleteApnsChannel",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/channels/apns",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteApnsChannelRequest"
      },
      "output" : {
        "shape" : "DeleteApnsChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Deletes the APNs channel for an app."
    },
    "DeleteApnsSandboxChannel" : {
      "name" : "DeleteApnsSandboxChannel",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteApnsSandboxChannelRequest"
      },
      "output" : {
        "shape" : "DeleteApnsSandboxChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Delete an APNS sandbox channel"
    },
    "DeleteApnsVoipChannel" : {
      "name" : "DeleteApnsVoipChannel",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/channels/apns_voip",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteApnsVoipChannelRequest"
      },
      "output" : {
        "shape" : "DeleteApnsVoipChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Delete an APNS VoIP channel"
    },
    "DeleteApnsVoipSandboxChannel" : {
      "name" : "DeleteApnsVoipSandboxChannel",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/channels/apns_voip_sandbox",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteApnsVoipSandboxChannelRequest"
      },
      "output" : {
        "shape" : "DeleteApnsVoipSandboxChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Delete an APNS VoIP sandbox channel"
    },
    "DeleteApp" : {
      "name" : "DeleteApp",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteAppRequest"
      },
      "output" : {
        "shape" : "DeleteAppResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Deletes an app."
    },
    "DeleteBaiduChannel" : {
      "name" : "DeleteBaiduChannel",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/channels/baidu",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteBaiduChannelRequest"
      },
      "output" : {
        "shape" : "DeleteBaiduChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Delete a BAIDU GCM channel"
    },
    "DeleteCampaign" : {
      "name" : "DeleteCampaign",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteCampaignRequest"
      },
      "output" : {
        "shape" : "DeleteCampaignResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Deletes a campaign."
    },
    "DeleteEmailChannel" : {
      "name" : "DeleteEmailChannel",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/channels/email",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteEmailChannelRequest"
      },
      "output" : {
        "shape" : "DeleteEmailChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Delete an email channel"
    },
    "DeleteEventStream" : {
      "name" : "DeleteEventStream",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/eventstream",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteEventStreamRequest"
      },
      "output" : {
        "shape" : "DeleteEventStreamResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Deletes the event stream for an app."
    },
    "DeleteGcmChannel" : {
      "name" : "DeleteGcmChannel",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/channels/gcm",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteGcmChannelRequest"
      },
      "output" : {
        "shape" : "DeleteGcmChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Deletes the GCM channel for an app."
    },
    "DeleteSegment" : {
      "name" : "DeleteSegment",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteSegmentRequest"
      },
      "output" : {
        "shape" : "DeleteSegmentResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Deletes a segment."
    },
    "DeleteSmsChannel" : {
      "name" : "DeleteSmsChannel",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/v1/apps/{application-id}/channels/sms",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteSmsChannelRequest"
      },
      "output" : {
        "shape" : "DeleteSmsChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Delete an SMS channel"
    },
    "GetAdmChannel" : {
      "name" : "GetAdmChannel",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/channels/adm",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetAdmChannelRequest"
      },
      "output" : {
        "shape" : "GetAdmChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Get an ADM channel"
    },
    "GetApnsChannel" : {
      "name" : "GetApnsChannel",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/channels/apns",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetApnsChannelRequest"
      },
      "output" : {
        "shape" : "GetApnsChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about the APNs channel for an app."
    },
    "GetApnsSandboxChannel" : {
      "name" : "GetApnsSandboxChannel",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetApnsSandboxChannelRequest"
      },
      "output" : {
        "shape" : "GetApnsSandboxChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Get an APNS sandbox channel"
    },
    "GetApnsVoipChannel" : {
      "name" : "GetApnsVoipChannel",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/channels/apns_voip",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetApnsVoipChannelRequest"
      },
      "output" : {
        "shape" : "GetApnsVoipChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Get an APNS VoIP channel"
    },
    "GetApnsVoipSandboxChannel" : {
      "name" : "GetApnsVoipSandboxChannel",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/channels/apns_voip_sandbox",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetApnsVoipSandboxChannelRequest"
      },
      "output" : {
        "shape" : "GetApnsVoipSandboxChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Get an APNS VoIPSandbox channel"
    },
    "GetApp" : {
      "name" : "GetApp",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetAppRequest"
      },
      "output" : {
        "shape" : "GetAppResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about an app."
    },
    "GetApplicationSettings" : {
      "name" : "GetApplicationSettings",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/settings",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetApplicationSettingsRequest"
      },
      "output" : {
        "shape" : "GetApplicationSettingsResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Used to request the settings for an app."
    },
    "GetApps" : {
      "name" : "GetApps",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetAppsRequest"
      },
      "output" : {
        "shape" : "GetAppsResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about your apps."
    },
    "GetBaiduChannel" : {
      "name" : "GetBaiduChannel",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/channels/baidu",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetBaiduChannelRequest"
      },
      "output" : {
        "shape" : "GetBaiduChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Get a BAIDU GCM channel"
    },
    "GetCampaign" : {
      "name" : "GetCampaign",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetCampaignRequest"
      },
      "output" : {
        "shape" : "GetCampaignResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about a campaign."
    },
    "GetCampaignActivities" : {
      "name" : "GetCampaignActivities",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/campaigns/{campaign-id}/activities",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetCampaignActivitiesRequest"
      },
      "output" : {
        "shape" : "GetCampaignActivitiesResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about the activity performed by a campaign."
    },
    "GetCampaignVersion" : {
      "name" : "GetCampaignVersion",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/campaigns/{campaign-id}/versions/{version}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetCampaignVersionRequest"
      },
      "output" : {
        "shape" : "GetCampaignVersionResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about a specific version of a campaign."
    },
    "GetCampaignVersions" : {
      "name" : "GetCampaignVersions",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/campaigns/{campaign-id}/versions",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetCampaignVersionsRequest"
      },
      "output" : {
        "shape" : "GetCampaignVersionsResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about your campaign versions."
    },
    "GetCampaigns" : {
      "name" : "GetCampaigns",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/campaigns",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetCampaignsRequest"
      },
      "output" : {
        "shape" : "GetCampaignsResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about your campaigns."
    },
    "GetEmailChannel" : {
      "name" : "GetEmailChannel",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/channels/email",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetEmailChannelRequest"
      },
      "output" : {
        "shape" : "GetEmailChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Get an email channel"
    },
    "GetEndpoint" : {
      "name" : "GetEndpoint",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/endpoints/{endpoint-id}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetEndpointRequest"
      },
      "output" : {
        "shape" : "GetEndpointResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about an endpoint."
    },
    "GetEventStream" : {
      "name" : "GetEventStream",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/eventstream",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetEventStreamRequest"
      },
      "output" : {
        "shape" : "GetEventStreamResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns the event stream for an app."
    },
    "GetExportJob" : {
      "name" : "GetExportJob",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/jobs/export/{job-id}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetExportJobRequest"
      },
      "output" : {
        "shape" : "GetExportJobResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about an export job."
    },
    "GetExportJobs" : {
      "name" : "GetExportJobs",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/jobs/export",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetExportJobsRequest"
      },
      "output" : {
        "shape" : "GetExportJobsResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about your export jobs."
    },
    "GetGcmChannel" : {
      "name" : "GetGcmChannel",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/channels/gcm",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetGcmChannelRequest"
      },
      "output" : {
        "shape" : "GetGcmChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about the GCM channel for an app."
    },
    "GetImportJob" : {
      "name" : "GetImportJob",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/jobs/import/{job-id}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetImportJobRequest"
      },
      "output" : {
        "shape" : "GetImportJobResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about an import job."
    },
    "GetImportJobs" : {
      "name" : "GetImportJobs",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/jobs/import",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetImportJobsRequest"
      },
      "output" : {
        "shape" : "GetImportJobsResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about your import jobs."
    },
    "GetSegment" : {
      "name" : "GetSegment",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetSegmentRequest"
      },
      "output" : {
        "shape" : "GetSegmentResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about a segment."
    },
    "GetSegmentExportJobs" : {
      "name" : "GetSegmentExportJobs",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}/jobs/export",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetSegmentExportJobsRequest"
      },
      "output" : {
        "shape" : "GetSegmentExportJobsResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns a list of export jobs for a specific segment."
    },
    "GetSegmentImportJobs" : {
      "name" : "GetSegmentImportJobs",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}/jobs/import",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetSegmentImportJobsRequest"
      },
      "output" : {
        "shape" : "GetSegmentImportJobsResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns a list of import jobs for a specific segment."
    },
    "GetSegmentVersion" : {
      "name" : "GetSegmentVersion",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}/versions/{version}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetSegmentVersionRequest"
      },
      "output" : {
        "shape" : "GetSegmentVersionResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about a segment version."
    },
    "GetSegmentVersions" : {
      "name" : "GetSegmentVersions",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}/versions",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetSegmentVersionsRequest"
      },
      "output" : {
        "shape" : "GetSegmentVersionsResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Returns information about your segment versions."
    },
    "GetSegments" : {
      "name" : "GetSegments",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/segments",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetSegmentsRequest"
      },
      "output" : {
        "shape" : "GetSegmentsResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Used to get information about your segments."
    },
    "GetSmsChannel" : {
      "name" : "GetSmsChannel",
      "http" : {
        "method" : "GET",
        "requestUri" : "/v1/apps/{application-id}/channels/sms",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetSmsChannelRequest"
      },
      "output" : {
        "shape" : "GetSmsChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Get an SMS channel"
    },
    "PutEventStream" : {
      "name" : "PutEventStream",
      "http" : {
        "method" : "POST",
        "requestUri" : "/v1/apps/{application-id}/eventstream",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "PutEventStreamRequest"
      },
      "output" : {
        "shape" : "PutEventStreamResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Use to create or update the event stream for an app."
    },
    "SendMessages" : {
      "name" : "SendMessages",
      "http" : {
        "method" : "POST",
        "requestUri" : "/v1/apps/{application-id}/messages",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "SendMessagesRequest"
      },
      "output" : {
        "shape" : "SendMessagesResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Send a batch of messages"
    },
    "SendUsersMessages" : {
      "name" : "SendUsersMessages",
      "http" : {
        "method" : "POST",
        "requestUri" : "/v1/apps/{application-id}/users-messages",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "SendUsersMessagesRequest"
      },
      "output" : {
        "shape" : "SendUsersMessagesResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Send a batch of messages to users"
    },
    "UpdateAdmChannel" : {
      "name" : "UpdateAdmChannel",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/channels/adm",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateAdmChannelRequest"
      },
      "output" : {
        "shape" : "UpdateAdmChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Update an ADM channel"
    },
    "UpdateApnsChannel" : {
      "name" : "UpdateApnsChannel",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/channels/apns",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateApnsChannelRequest"
      },
      "output" : {
        "shape" : "UpdateApnsChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Use to update the APNs channel for an app."
    },
    "UpdateApnsSandboxChannel" : {
      "name" : "UpdateApnsSandboxChannel",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateApnsSandboxChannelRequest"
      },
      "output" : {
        "shape" : "UpdateApnsSandboxChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Update an APNS sandbox channel"
    },
    "UpdateApnsVoipChannel" : {
      "name" : "UpdateApnsVoipChannel",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/channels/apns_voip",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateApnsVoipChannelRequest"
      },
      "output" : {
        "shape" : "UpdateApnsVoipChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Update an APNS VoIP channel"
    },
    "UpdateApnsVoipSandboxChannel" : {
      "name" : "UpdateApnsVoipSandboxChannel",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/channels/apns_voip_sandbox",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateApnsVoipSandboxChannelRequest"
      },
      "output" : {
        "shape" : "UpdateApnsVoipSandboxChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Update an APNS VoIP sandbox channel"
    },
    "UpdateApplicationSettings" : {
      "name" : "UpdateApplicationSettings",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/settings",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateApplicationSettingsRequest"
      },
      "output" : {
        "shape" : "UpdateApplicationSettingsResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Used to update the settings for an app."
    },
    "UpdateBaiduChannel" : {
      "name" : "UpdateBaiduChannel",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/channels/baidu",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateBaiduChannelRequest"
      },
      "output" : {
        "shape" : "UpdateBaiduChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Update a BAIDU GCM channel"
    },
    "UpdateCampaign" : {
      "name" : "UpdateCampaign",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateCampaignRequest"
      },
      "output" : {
        "shape" : "UpdateCampaignResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Use to update a campaign."
    },
    "UpdateEmailChannel" : {
      "name" : "UpdateEmailChannel",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/channels/email",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateEmailChannelRequest"
      },
      "output" : {
        "shape" : "UpdateEmailChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Update an email channel"
    },
    "UpdateEndpoint" : {
      "name" : "UpdateEndpoint",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/endpoints/{endpoint-id}",
        "responseCode" : 202
      },
      "input" : {
        "shape" : "UpdateEndpointRequest"
      },
      "output" : {
        "shape" : "UpdateEndpointResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Use to update an endpoint."
    },
    "UpdateEndpointsBatch" : {
      "name" : "UpdateEndpointsBatch",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/endpoints",
        "responseCode" : 202
      },
      "input" : {
        "shape" : "UpdateEndpointsBatchRequest"
      },
      "output" : {
        "shape" : "UpdateEndpointsBatchResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Use to update a batch of endpoints."
    },
    "UpdateGcmChannel" : {
      "name" : "UpdateGcmChannel",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/channels/gcm",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateGcmChannelRequest"
      },
      "output" : {
        "shape" : "UpdateGcmChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Use to update the GCM channel for an app."
    },
    "UpdateSegment" : {
      "name" : "UpdateSegment",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateSegmentRequest"
      },
      "output" : {
        "shape" : "UpdateSegmentResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Use to update a segment."
    },
    "UpdateSmsChannel" : {
      "name" : "UpdateSmsChannel",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/v1/apps/{application-id}/channels/sms",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateSmsChannelRequest"
      },
      "output" : {
        "shape" : "UpdateSmsChannelResponse"
      },
      "errors" : [ {
        "shape" : "BadRequestException"
      }, {
        "shape" : "InternalServerErrorException"
      }, {
        "shape" : "ForbiddenException"
      }, {
        "shape" : "NotFoundException"
      }, {
        "shape" : "MethodNotAllowedException"
      }, {
        "shape" : "TooManyRequestsException"
      } ],
      "documentation" : "Update an SMS channel"
    }
  },
  "shapes" : {
    "ADMChannelRequest" : {
      "type" : "structure",
      "members" : {
        "ClientId" : {
          "shape" : "__string",
          "documentation" : "Client ID as gotten from Amazon"
        },
        "ClientSecret" : {
          "shape" : "__string",
          "documentation" : "Client secret as gotten from Amazon"
        },
        "Enabled" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is enabled for sending messages."
        }
      },
      "documentation" : "Amazon Device Messaging channel definition."
    },
    "ADMChannelResponse" : {
      "type" : "structure",
      "members" : {
        "ApplicationId" : {
          "shape" : "__string",
          "documentation" : "The ID of the application to which the channel applies."
        },
        "CreationDate" : {
          "shape" : "__string",
          "documentation" : "When was this segment created"
        },
        "Enabled" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is enabled for sending messages."
        },
        "HasCredential" : {
          "shape" : "__boolean",
          "documentation" : "Indicates whether the channel is configured with ADM credentials. Amazon Pinpoint uses your credentials to authenticate push notifications with ADM. Provide your credentials by setting the ClientId and ClientSecret attributes."
        },
        "Id" : {
          "shape" : "__string",
          "documentation" : "Channel ID. Not used, only for backwards compatibility."
        },
        "IsArchived" : {
          "shape" : "__boolean",
          "documentation" : "Is this channel archived"
        },
        "LastModifiedBy" : {
          "shape" : "__string",
          "documentation" : "Who last updated this entry"
        },
        "LastModifiedDate" : {
          "shape" : "__string",
          "documentation" : "Last date this was updated"
        },
        "Platform" : {
          "shape" : "__string",
          "documentation" : "Platform type. Will be \"ADM\""
        },
        "Version" : {
          "shape" : "__integer",
          "documentation" : "Version of channel"
        }
      },
      "documentation" : "Amazon Device Messaging channel definition."
    },
    "ADMMessage" : {
      "type" : "structure",
      "members" : {
        "Action" : {
          "shape" : "Action",
          "documentation" : "The action that occurs if the user taps a push notification delivered by the campaign: OPEN_APP - Your app launches, or it becomes the foreground app if it has been sent to the background. This is the default action. DEEP_LINK - Uses deep linking features in iOS and Android to open your app and display a designated user interface within the app. URL - The default mobile browser on the user's device launches and opens a web page at the URL you specify. Possible values include: OPEN_APP | DEEP_LINK | URL"
        },
        "Body" : {
          "shape" : "__string",
          "documentation" : "The message body of the notification, the email body or the text message."
        },
        "ConsolidationKey" : {
          "shape" : "__string",
          "documentation" : "Optional. Arbitrary string used to indicate multiple messages are logically the same and that ADM is allowed to drop previously enqueued messages in favor of this one."
        },
        "Data" : {
          "shape" : "MapOf__string",
          "documentation" : "The data payload used for a silent push. This payload is added to the notifications' data.pinpoint.jsonBody' object"
        },
        "ExpiresAfter" : {
          "shape" : "__string",
          "documentation" : "Optional. Number of seconds ADM should retain the message if the device is offline"
        },
        "IconReference" : {
          "shape" : "__string",
          "documentation" : "The icon image name of the asset saved in your application."
        },
        "ImageIconUrl" : {
          "shape" : "__string",
          "documentation" : "The URL that points to an image used as the large icon to the notification content view."
        },
        "ImageUrl" : {
          "shape" : "__string",
          "documentation" : "The URL that points to an image used in the push notification."
        },
        "MD5" : {
          "shape" : "__string",
          "documentation" : "Optional. Base-64-encoded MD5 checksum of the data parameter. Used to verify data integrity"
        },
        "RawContent" : {
          "shape" : "__string",
          "documentation" : "The Raw JSON formatted string to be used as the payload. This value overrides the message."
        },
        "SilentPush" : {
          "shape" : "__boolean",
          "documentation" : "Indicates if the message should display on the users device. Silent pushes can be used for Remote Configuration and Phone Home use cases."
        },
        "SmallImageIconUrl" : {
          "shape" : "__string",
          "documentation" : "The URL that points to an image used as the small icon for the notification which will be used to represent the notification in the status bar and content view"
        },
        "Sound" : {
          "shape" : "__string",
          "documentation" : "Indicates a sound to play when the device receives the notification. Supports default, or the filename of a sound resource bundled in the app. Android sound files must reside in /res/raw/"
        },
        "Substitutions" : {
          "shape" : "MapOfListOf__string",
          "documentation" : "Default message substitutions. Can be overridden by individual address substitutions."
        },
        "Title" : {
          "shape" : "__string",
          "documentation" : "The message title that displays above the message on the user's device."
        },
        "Url" : {
          "shape" : "__string",
          "documentation" : "The URL to open in the user's mobile browser. Used if the value for Action is URL."
        }
      },
      "documentation" : "ADM Message."
    },
    "APNSChannelRequest" : {
      "type" : "structure",
      "members" : {
        "BundleId" : {
          "shape" : "__string",
          "documentation" : "The bundle id used for APNs Tokens."
        },
        "Certificate" : {
          "shape" : "__string",
          "documentation" : "The distribution certificate from Apple."
        },
        "DefaultAuthenticationMethod" : {
          "shape" : "__string",
          "documentation" : "The default authentication method used for APNs."
        },
        "Enabled" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is enabled for sending messages."
        },
        "PrivateKey" : {
          "shape" : "__string",
          "documentation" : "The certificate private key."
        },
        "TeamId" : {
          "shape" : "__string",
          "documentation" : "The team id used for APNs Tokens."
        },
        "TokenKey" : {
          "shape" : "__string",
          "documentation" : "The token key used for APNs Tokens."
        },
        "TokenKeyId" : {
          "shape" : "__string",
          "documentation" : "The token key used for APNs Tokens."
        }
      },
      "documentation" : "Apple Push Notification Service channel definition."
    },
    "APNSChannelResponse" : {
      "type" : "structure",
      "members" : {
        "ApplicationId" : {
          "shape" : "__string",
          "documentation" : "The ID of the application to which the channel applies."
        },
        "CreationDate" : {
          "shape" : "__string",
          "documentation" : "When was this segment created"
        },
        "DefaultAuthenticationMethod" : {
          "shape" : "__string",
          "documentation" : "The default authentication method used for APNs."
        },
        "Enabled" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is enabled for sending messages."
        },
        "HasCredential" : {
          "shape" : "__boolean",
          "documentation" : "Indicates whether the channel is configured with APNs credentials. Amazon Pinpoint uses your credentials to authenticate push notifications with APNs. To use APNs token authentication, set the BundleId, TeamId, TokenKey, and TokenKeyId attributes. To use certificate authentication, set the Certificate and PrivateKey attributes."
        },
        "HasTokenKey" : {
          "shape" : "__boolean",
          "documentation" : "Indicates whether the channel is configured with a key for APNs token authentication. Provide a token key by setting the TokenKey attribute."
        },
        "Id" : {
          "shape" : "__string",
          "documentation" : "Channel ID. Not used. Present only for backwards compatibility."
        },
        "IsArchived" : {
          "shape" : "__boolean",
          "documentation" : "Is this channel archived"
        },
        "LastModifiedBy" : {
          "shape" : "__string",
          "documentation" : "Who last updated this entry"
        },
        "LastModifiedDate" : {
          "shape" : "__string",
          "documentation" : "Last date this was updated"
        },
        "Platform" : {
          "shape" : "__string",
          "documentation" : "The platform type. Will be APNS."
        },
        "Version" : {
          "shape" : "__integer",
          "documentation" : "Version of channel"
        }
      },
      "documentation" : "Apple Distribution Push Notification Service channel definition."
    },
    "APNSMessage" : {
      "type" : "structure",
      "members" : {
        "Action" : {
          "shape" : "Action",
          "documentation" : "The action that occurs if the user taps a push notification delivered by the campaign: OPEN_APP - Your app launches, or it becomes the foreground app if it has been sent to the background. This is the default action. DEEP_LINK - Uses deep linking features in iOS and Android to open your app and display a designated user interface within the app. URL - The default mobile browser on the user's device launches and opens a web page at the URL you specify. Possible values include: OPEN_APP | DEEP_LINK | URL"
        },
        "Badge" : {
          "shape" : "__integer",
          "documentation" : "Include this key when you want the system to modify the badge of your app icon. If this key is not included in the dictionary, the badge is not changed. To remove the badge, set the value of this key to 0."
        },
        "Body" : {
          "shape" : "__string",
          "documentation" : "The message body of the notification, the email body or the text message."
        },
        "Category" : {
          "shape" : "__string",
          "documentation" : "Provide this key with a string value that represents the notification's type. This value corresponds to the value in the identifier property of one of your app's registered categories."
        },
        "CollapseId" : {
          "shape" : "__string",
          "documentation" : "An ID that, if assigned to multiple messages, causes APNs to coalesce the messages into a single push notification instead of delivering each message individually. The value must not exceed 64 bytes. Amazon Pinpoint uses this value to set the apns-collapse-id request header when it sends the message to APNs."
        },
        "Data" : {
          "shape" : "MapOf__string",
          "documentation" : "The data payload used for a silent push. This payload is added to the notifications' data.pinpoint.jsonBody' object"
        },
        "MediaUrl" : {
          "shape" : "__string",
          "documentation" : "The URL that points to a video used in the push notification."
        },
        "PreferredAuthenticationMethod" : {
          "shape" : "__string",
          "documentation" : "The preferred authentication method, either \"CERTIFICATE\" or \"TOKEN\""
        },
        "Priority" : {
          "shape" : "__string",
          "documentation" : "The message priority. Amazon Pinpoint uses this value to set the apns-priority request header when it sends the message to APNs. Accepts the following values:\n\n\"5\" - Low priority. Messages might be delayed, delivered in groups, and throttled.\n\n\"10\" - High priority. Messages are sent immediately. High priority messages must cause an alert, sound, or badge on the receiving device.\n\nThe default value is \"10\".\n\nThe equivalent values for FCM or GCM messages are \"normal\" and \"high\". Amazon Pinpoint accepts these values for APNs messages and converts them.\n\nFor more information about the apns-priority parameter, see Communicating with APNs in the APNs Local and Remote Notification Programming Guide."
        },
        "RawContent" : {
          "shape" : "__string",
          "documentation" : "The Raw JSON formatted string to be used as the payload. This value overrides the message."
        },
        "SilentPush" : {
          "shape" : "__boolean",
          "documentation" : "Indicates if the message should display on the users device. Silent pushes can be used for Remote Configuration and Phone Home use cases."
        },
        "Sound" : {
          "shape" : "__string",
          "documentation" : "Include this key when you want the system to play a sound. The value of this key is the name of a sound file in your app's main bundle or in the Library/Sounds folder of your app's data container. If the sound file cannot be found, or if you specify defaultfor the value, the system plays the default alert sound."
        },
        "Substitutions" : {
          "shape" : "MapOfListOf__string",
          "documentation" : "Default message substitutions. Can be overridden by individual address substitutions."
        },
        "ThreadId" : {
          "shape" : "__string",
          "documentation" : "Provide this key with a string value that represents the app-specific identifier for grouping notifications. If you provide a Notification Content app extension, you can use this value to group your notifications together."
        },
        "TimeToLive" : {
          "shape" : "__integer",
          "documentation" : "The length of time (in seconds) that APNs stores and attempts to deliver the message. If the value is 0, APNs does not store the message or attempt to deliver it more than once. Amazon Pinpoint uses this value to set the apns-expiration request header when it sends the message to APNs."
        },
        "Title" : {
          "shape" : "__string",
          "documentation" : "The message title that displays above the message on the user's device."
        },
        "Url" : {
          "shape" : "__string",
          "documentation" : "The URL to open in the user's mobile browser. Used if the value for Action is URL."
        }
      },
      "documentation" : "APNS Message."
    },
    "APNSSandboxChannelRequest" : {
      "type" : "structure",
      "members" : {
        "BundleId" : {
          "shape" : "__string",
          "documentation" : "The bundle id used for APNs Tokens."
        },
        "Certificate" : {
          "shape" : "__string",
          "documentation" : "The distribution certificate from Apple."
        },
        "DefaultAuthenticationMethod" : {
          "shape" : "__string",
          "documentation" : "The default authentication method used for APNs."
        },
        "Enabled" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is enabled for sending messages."
        },
        "PrivateKey" : {
          "shape" : "__string",
          "documentation" : "The certificate private key."
        },
        "TeamId" : {
          "shape" : "__string",
          "documentation" : "The team id used for APNs Tokens."
        },
        "TokenKey" : {
          "shape" : "__string",
          "documentation" : "The token key used for APNs Tokens."
        },
        "TokenKeyId" : {
          "shape" : "__string",
          "documentation" : "The token key used for APNs Tokens."
        }
      },
      "documentation" : "Apple Development Push Notification Service channel definition."
    },
    "APNSSandboxChannelResponse" : {
      "type" : "structure",
      "members" : {
        "ApplicationId" : {
          "shape" : "__string",
          "documentation" : "The ID of the application to which the channel applies."
        },
        "CreationDate" : {
          "shape" : "__string",
          "documentation" : "When was this segment created"
        },
        "DefaultAuthenticationMethod" : {
          "shape" : "__string",
          "documentation" : "The default authentication method used for APNs."
        },
        "Enabled" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is enabled for sending messages."
        },
        "HasCredential" : {
          "shape" : "__boolean",
          "documentation" : "Indicates whether the channel is configured with APNs credentials. Amazon Pinpoint uses your credentials to authenticate push notifications with APNs. To use APNs token authentication, set the BundleId, TeamId, TokenKey, and TokenKeyId attributes. To use certificate authentication, set the Certificate and PrivateKey attributes."
        },
        "HasTokenKey" : {
          "shape" : "__boolean",
          "documentation" : "Indicates whether the channel is configured with a key for APNs token authentication. Provide a token key by setting the TokenKey attribute."
        },
        "Id" : {
          "shape" : "__string",
          "documentation" : "Channel ID. Not used, only for backwards compatibility."
        },
        "IsArchived" : {
          "shape" : "__boolean",
          "documentation" : "Is this channel archived"
        },
        "LastModifiedBy" : {
          "shape" : "__string",
          "documentation" : "Who last updated this entry"
        },
        "LastModifiedDate" : {
          "shape" : "__string",
          "documentation" : "Last date this was updated"
        },
        "Platform" : {
          "shape" : "__string",
          "documentation" : "The platform type. Will be APNS_SANDBOX."
        },
        "Version" : {
          "shape" : "__integer",
          "documentation" : "Version of channel"
        }
      },
      "documentation" : "Apple Development Push Notification Service channel definition."
    },
    "APNSVoipChannelRequest" : {
      "type" : "structure",
      "members" : {
        "BundleId" : {
          "shape" : "__string",
          "documentation" : "The bundle id used for APNs Tokens."
        },
        "Certificate" : {
          "shape" : "__string",
          "documentation" : "The distribution certificate from Apple."
        },
        "DefaultAuthenticationMethod" : {
          "shape" : "__string",
          "documentation" : "The default authentication method used for APNs."
        },
        "Enabled" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is enabled for sending messages."
        },
        "PrivateKey" : {
          "shape" : "__string",
          "documentation" : "The certificate private key."
        },
        "TeamId" : {
          "shape" : "__string",
          "documentation" : "The team id used for APNs Tokens."
        },
        "TokenKey" : {
          "shape" : "__string",
          "documentation" : "The token key used for APNs Tokens."
        },
        "TokenKeyId" : {
          "shape" : "__string",
          "documentation" : "The token key used for APNs Tokens."
        }
      },
      "documentation" : "Apple VoIP Push Notification Service channel definition."
    },
    "APNSVoipChannelResponse" : {
      "type" : "structure",
      "members" : {
        "ApplicationId" : {
          "shape" : "__string",
          "documentation" : "Application id"
        },
        "CreationDate" : {
          "shape" : "__string",
          "documentation" : "When was this segment created"
        },
        "DefaultAuthenticationMethod" : {
          "shape" : "__string",
          "documentation" : "The default authentication method used for APNs."
        },
        "Enabled" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is enabled for sending messages."
        },
        "HasCredential" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is registered with a credential for authentication."
        },
        "HasTokenKey" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is registered with a token key for authentication."
        },
        "Id" : {
          "shape" : "__string",
          "documentation" : "Channel ID. Not used, only for backwards compatibility."
        },
        "IsArchived" : {
          "shape" : "__boolean",
          "documentation" : "Is this channel archived"
        },
        "LastModifiedBy" : {
          "shape" : "__string",
          "documentation" : "Who made the last change"
        },
        "LastModifiedDate" : {
          "shape" : "__string",
          "documentation" : "Last date this was updated"
        },
        "Platform" : {
          "shape" : "__string",
          "documentation" : "The platform type. Will be APNS."
        },
        "Version" : {
          "shape" : "__integer",
          "documentation" : "Version of channel"
        }
      },
      "documentation" : "Apple VoIP Push Notification Service channel definition."
    },
    "APNSVoipSandboxChannelRequest" : {
      "type" : "structure",
      "members" : {
        "BundleId" : {
          "shape" : "__string",
          "documentation" : "The bundle id used for APNs Tokens."
        },
        "Certificate" : {
          "shape" : "__string",
          "documentation" : "The distribution certificate from Apple."
        },
        "DefaultAuthenticationMethod" : {
          "shape" : "__string",
          "documentation" : "The default authentication method used for APNs."
        },
        "Enabled" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is enabled for sending messages."
        },
        "PrivateKey" : {
          "shape" : "__string",
          "documentation" : "The certificate private key."
        },
        "TeamId" : {
          "shape" : "__string",
          "documentation" : "The team id used for APNs Tokens."
        },
        "TokenKey" : {
          "shape" : "__string",
          "documentation" : "The token key used for APNs Tokens."
        },
        "TokenKeyId" : {
          "shape" : "__string",
          "documentation" : "The token key used for APNs Tokens."
        }
      },
      "documentation" : "Apple VoIP Developer Push Notification Service channel definition."
    },
    "APNSVoipSandboxChannelResponse" : {
      "type" : "structure",
      "members" : {
        "ApplicationId" : {
          "shape" : "__string",
          "documentation" : "Application id"
        },
        "CreationDate" : {
          "shape" : "__string",
          "documentation" : "When was this segment created"
        },
        "DefaultAuthenticationMethod" : {
          "shape" : "__string",
          "documentation" : "The default authentication method used for APNs."
        },
        "Enabled" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is enabled for sending messages."
        },
        "HasCredential" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is registered with a credential for authentication."
        },
        "HasTokenKey" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is registered with a token key for authentication."
        },
        "Id" : {
          "shape" : "__string",
          "documentation" : "Channel ID. Not used, only for backwards compatibility."
        },
        "IsArchived" : {
          "shape" : "__boolean",
          "documentation" : "Is this channel archived"
        },
        "LastModifiedBy" : {
          "shape" : "__string",
          "documentation" : "Who made the last change"
        },
        "LastModifiedDate" : {
          "shape" : "__string",
          "documentation" : "Last date this was updated"
        },
        "Platform" : {
          "shape" : "__string",
          "documentation" : "The platform type. Will be APNS."
        },
        "Version" : {
          "shape" : "__integer",
          "documentation" : "Version of channel"
        }
      },
      "documentation" : "Apple VoIP Developer Push Notification Service channel definition."
    },
    "Action" : {
      "type" : "string",
      "enum" : [ "OPEN_APP", "DEEP_LINK", "URL" ]
    },
    "ActivitiesResponse" : {
      "type" : "structure",
      "members" : {
        "Item" : {
          "shape" : "ListOfActivityResponse",
          "documentation" : "List of campaign activities"
        }
      },
      "documentation" : "Activities for campaign."
    },
    "ActivityResponse" : {
      "type" : "structure",
      "members" : {
        "ApplicationId" : {
          "shape" : "__string",
          "documentation" : "The ID of the application to which the campaign applies."
        },
        "CampaignId" : {
          "shape" : "__string",
          "documentation" : "The ID of the campaign to which the activity applies."
        },
        "End" : {
          "shape" : "__string",
          "documentation" : "The actual time the activity was marked CANCELLED or COMPLETED. Provided in ISO 8601 format."
        },
        "Id" : {
          "shape" : "__string",
          "documentation" : "The unique activity ID."
        },
        "Result" : {
          "shape" : "__string",
          "documentation" : "Indicates whether the activity succeeded.\n\nValid values: SUCCESS, FAIL"
        },
        "ScheduledStart" : {
          "shape" : "__string",
          "documentation" : "The scheduled start time for the activity in ISO 8601 format."
        },
        "Start" : {
          "shape" : "__string",
          "documentation" : "The actual start time of the activity in ISO 8601 format."
        },
        "State" : {
          "shape" : "__string",
          "documentation" : "The state of the activity.\n\nValid values: PENDING, INITIALIZING, RUNNING, PAUSED, CANCELLED, COMPLETED"
        },
        "SuccessfulEndpointCount" : {
          "shape" : "__integer",
          "documentation" : "The total number of endpoints to which the campaign successfully delivered messages."
        },
        "TimezonesCompletedCount" : {
          "shape" : "__integer",
          "documentation" : "The total number of timezones completed."
        },
        "TimezonesTotalCount" : {
          "shape" : "__integer",
          "documentation" : "The total number of unique timezones present in the segment."
        },
        "TotalEndpointCount" : {
          "shape" : "__integer",
          "documentation" : "The total number of endpoints to which the campaign attempts to deliver messages."
        },
        "TreatmentId" : {
          "shape" : "__string",
          "documentation" : "The ID of a variation of the campaign used for A/B testing."
        }
      },
      "documentation" : "Activity definition"
    },
    "AddressConfiguration" : {
      "type" : "structure",
      "members" : {
        "BodyOverride" : {
          "shape" : "__string",
          "documentation" : "Body override. If specified will override default body."
        },
        "ChannelType" : {
          "shape" : "ChannelType",
          "documentation" : "The channel type.\n\nValid values: GCM | APNS | APNS_SANDBOX | APNS_VOIP | APNS_VOIP_SANDBOX | ADM | SMS | EMAIL | BAIDU"
        },
        "Context" : {
          "shape" : "MapOf__string",
          "documentation" : "A map of custom attributes to attributes to be attached to the message for this address. This payload is added to the push notification's 'data.pinpoint' object or added to the email/sms delivery receipt event attributes."
        },
        "RawContent" : {
          "shape" : "__string",
          "documentation" : "The Raw JSON formatted string to be used as the payload. This value overrides the message."
        },
        "Substitutions" : {
          "shape" : "MapOfListOf__string",
          "documentation" : "A map of substitution values for the message to be merged with the DefaultMessage's substitutions. Substitutions on this map take precedence over the all other substitutions."
        },
        "TitleOverride" : {
          "shape" : "__string",
          "documentation" : "Title override. If specified will override default title if applicable."
        }
      },
      "documentation" : "Address configuration."
    },
    "ApplicationResponse" : {
      "type" : "structure",
      "members" : {
        "Id" : {
          "shape" : "__string",
          "documentation" : "The unique application ID."
        },
        "Name" : {
          "shape" : "__string",
          "documentation" : "The display name of the application."
        }
      },
      "documentation" : "Application Response."
    },
    "ApplicationSettingsResource" : {
      "type" : "structure",
      "members" : {
        "ApplicationId" : {
          "shape" : "__string",
          "documentation" : "The unique ID for the application."
        },
        "CampaignHook" : {
          "shape" : "CampaignHook",
          "documentation" : "Default campaign hook."
        },
        "LastModifiedDate" : {
          "shape" : "__string",
          "documentation" : "The date that the settings were last updated in ISO 8601 format."
        },
        "Limits" : {
          "shape" : "CampaignLimits",
          "documentation" : "The default campaign limits for the app. These limits apply to each campaign for the app, unless the campaign overrides the default with limits of its own."
        },
        "QuietTime" : {
          "shape" : "QuietTime",
          "documentation" : "The default quiet time for the app. Each campaign for this app sends no messages during this time unless the campaign overrides the default with a quiet time of its own."
        }
      },
      "documentation" : "Application settings."
    },
    "ApplicationsResponse" : {
      "type" : "structure",
      "members" : {
        "Item" : {
          "shape" : "ListOfApplicationResponse",
          "documentation" : "List of applications returned in this page."
        },
        "NextToken" : {
          "shape" : "__string",
          "documentation" : "The string that you use in a subsequent request to get the next page of results in a paginated response."
        }
      },
      "documentation" : "Get Applications Result."
    },
    "AttributeDimension" : {
      "type" : "structure",
      "members" : {
        "AttributeType" : {
          "shape" : "AttributeType",
          "documentation" : "The type of dimension:\nINCLUSIVE - Endpoints that match the criteria are included in the segment.\nEXCLUSIVE - Endpoints that match the criteria are excluded from the segment."
        },
        "Values" : {
          "shape" : "ListOf__string",
          "documentation" : "The criteria values for the segment dimension. Endpoints with matching attribute values are included or excluded from the segment, depending on the setting for Type."
        }
      },
      "documentation" : "Custom attibute dimension"
    },
    "AttributeType" : {
      "type" : "string",
      "enum" : [ "INCLUSIVE", "EXCLUSIVE" ]
    },
    "BadRequestException" : {
      "type" : "structure",
      "members" : {
        "Message" : {
          "shape" : "__string",
          "documentation" : "The error message returned from the API."
        },
        "RequestID" : {
          "shape" : "__string",
          "documentation" : "The unique message body ID."
        }
      },
      "documentation" : "Simple message object.",
      "exception" : true,
      "error" : {
        "httpStatusCode" : 400
      }
    },
    "BaiduChannelRequest" : {
      "type" : "structure",
      "members" : {
        "ApiKey" : {
          "shape" : "__string",
          "documentation" : "Platform credential API key from Baidu."
        },
        "Enabled" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is enabled for sending messages."
        },
        "SecretKey" : {
          "shape" : "__string",
          "documentation" : "Platform credential Secret key from Baidu."
        }
      },
      "documentation" : "Baidu Cloud Push credentials"
    },
    "BaiduChannelResponse" : {
      "type" : "structure",
      "members" : {
        "ApplicationId" : {
          "shape" : "__string",
          "documentation" : "Application id"
        },
        "CreationDate" : {
          "shape" : "__string",
          "documentation" : "When was this segment created"
        },
        "Credential" : {
          "shape" : "__string",
          "documentation" : "The Baidu API key from Baidu."
        },
        "Enabled" : {
          "shape" : "__boolean",
          "documentation" : "If the channel is enabled for sending messages."
        },
        "HasCredential" : {
          "shape" : "__boolean",
          "documentation" : "Indicates whether the channel is configured with Baidu Cloud Push credentials. Amazon Pinpoint uses your credentials to authenticate push notifications with Baidu Cloud Push. Provide your credentials by setting the ApiKey and SecretKey attributes."
        },
        "Id" : {
          "shape" : "__string",
          "documentation" : "Channel ID. Not used, only for backwards compatibility."
        },
        "IsArchived" : {
          "shape" : "__boolean",
          "documentation" : "Is this channel archived"
        },
        "LastModifiedBy" : {
          "shape" : "__string",
          "documentation" : "Who made the last change"
        },
        "LastModifiedDate" : {
          "shape" : "__string",
          "documentation" : "Last date this was updated"
        },
        "Platform" : {
          "shape" : "__string",
          "documentation" : "The platform type. Will be BAIDU"
        },
        "Version" : {
          "shape" : "__integer",
          "documentation" : "Version of channel"
        }
      },
      "documentation" : "Baidu Cloud Messaging channel definition"
    },
    "BaiduMessage" : {
      "type" : "structure",
      "members" : {
        "Action" : {
          "shape" : "Action",
          "documentation" : "The action that occurs if the user taps a push notification delivered by the campaign: OPEN_APP - Your app launches, or it becomes the foreground app if it has been sent to the background. This is the default action. DEEP_LINK - Uses deep linking features in iOS and Android to open your app and display a designated user interface within the app. URL - The default mobile browser on the user's device launches and opens a web page at the URL you specify. Possible values include: OPEN_APP | DEEP_LINK | URL"
        },
        "Body" : {
          "shape" : "__string",
          "documentation" : "The message body of the notification, the email body or the text message."
        },
        "Data" : {
          "shape" : "MapOf__string",
          "documentation" : "The data payload used for a silent push. This payload is added to the notifications' data.pinpoint.jsonBody' object"
        },
        "IconReference" : {
          "shape" : "__string",
          "documentation" : "The icon image name of the asset saved in your application."
        },
        "ImageIconUrl" : {
          "shape" : "__string",
          "documentation" : "The URL that points to an image used as the large icon to the notification content view."
        },
        "ImageUrl" : {
          "shape" : "__string",
          "documentation" : "The URL that points to an image used in the push notification."
        },
        "RawContent" : {
          "shape" : "__string",
          "documentation" : "The Raw JSON formatted string to be used as the payload. This value overrides the message."
        },
        "SilentPush" : {
          "shape" : "__boolean",
          "documentation" : "Indicates if the message should display on the users device. Silent pushes can be used for Remote Configuration and Phone Home use cases."
        },
        "SmallImageIconUrl" : {
          "shape" : "__string",
          "documentation" : "The URL that points to an image used as the small icon for the notification which will be used to represent the notification in the status bar and content view"
        },
        "Sound" : {
          "shape" : "__string",
          "documentation" : "Indicates a sound to play when the device receives the notification. Supports default, or the filename of a sound resource bundled in the app. Android sound files must reside in /res/raw/"
        },
        "Substitutions" : {
          "shape" : "MapOfListOf__string",
          "documentation" : "Default message substitutions. Can be overridden by individual address substitutions."
        },
        "Title" : {
          "shape" : "__string",
          "documentation" : "The message title that displays above the message on the user's device."
        },
        "Url" : {
          "shape" : "__string",
          "documentation" : "The URL to open in the user's mobile browser. Used if the value for Action is URL."
        }
      },
      "documentation" : "Baidu Message."
    },
    "CampaignEmailMessage" : {
      "type" : "structure",
      "members" : {
        "Body" : {
          "shape" : "__string",
          "documentation" : "The email text body."
        },
        "FromAddress" : {
          "shape" : "__string",
          "documentation" : "The email address used to send the email from. Defaults to use FromAddress specified in the Email Channel."
        },
        "HtmlBody" : {
          "shape" : "__string",
          "documentation" : "The email html body."
        },
        "Title" : {
          "shape" : "__string",
          "documentation" : "The email title (Or subject)."
        }
      },
      "documentation" : "The email message configuration."
    },
    "CampaignHook" : {
      "type" : "structure",
      "members" : {
        "LambdaFunctionName" : {
          "shape" : "__string",
          "documentation" : "Lambda function name or arn to be called for delivery"
        },
        "Mode" : {
          "shape" : "Mode",
          "documentation" : "What mode Lambda should be invoked in."
        },
        "WebUrl" : {
          "shape" : "__string",
          "documentation" : "Web URL to call for hook. If the URL has authentication specified it will be added as authentication to the request"
        }
      }
    },
    "CampaignLimits" : {
      "type" : "structure",
      "members" : {
        "Daily" : {
          "shape" : "__integer",
          "documentation" : "The maximum number of messages that the campaign can send daily."
        },
        "MaximumDuration" : {
          "shape" : "__integer",
          "documentation" : "The length of time (in seconds) that the campaign can run before it ends and message deliveries stop. This duration begins at the scheduled start time for the campaign. The minimum value is 60."
        },
        "MessagesPerSecond" : {
          "shape" : "__integer",
          "documentation" : "The number of messages that the campaign can send per second. The minimum value is 50, and the maximum is 20000."
        },
        "Total" : {
          "shape" : "__integer",
          "documentation" : "The maximum total number of messages that the campaign can send."
        }
      },
      "documentation" : "Campaign Limits are used to limit the number of messages that can be sent to a user."
    },
    "CampaignResponse" : {
      "type" : "structure",
      "members" : {
        "AdditionalTreatments" : {
          "shape" : "ListOfTreatmentResource",
          "documentation" : "Treatments that are defined in addition to the default treatment."
        },
        "ApplicationId" : {
          "shape" : "__string",
          "documentation" : "The ID of the application to which the campaign applies."
        },
        "CreationDate" : {
          "shape" : "__string",
          "documentation" : "The date the campaign was created in ISO 8601 format."
        },
        "DefaultState" : {
          "shape" : "CampaignState",
          "documentation" : "The status of the campaign's default treatment. Only present for A/B test campaigns."
        },
        "Description" : {
          "shape" : "__string",
          "documentation" : "A description of the campaign."
        },
        "HoldoutPercent" : {
          "shape" : "__integer",
          "documentation" : "The allocated percentage of end users who will not receive messages from this campaign."
        },
        "Hook" : {
          "shape" : "CampaignHook",
          "documentation" : "Campaign hook information."
        },
        "Id" : {
          "shape" : "__string",
          "documentation" : "The unique campaign ID."
        },
        "IsPaused" : {
          "shape" : "__boolean",
          "documentation" : "Indicates whether the campaign is paused. A paused campaign does not send messages unless you resume it by setting IsPaused to false."
        },
        "LastModifiedDate" : {
          "shape" : "__string",
          "documentation" : "The date the campaign was last updated in ISO 8601 format.\t"
        },
        "Limits" : {
          "shape" : "CampaignLimits",
          "documentation" : "The campaign limits settings."
        },
        "MessageConfiguration" : {
          "shape" : "MessageConfiguration",
          "documentation" : "The message configuration settings."
        },
        "Name" : {
          "shape" : "__string",
          "documentation" : "The custom name of the campaign."
        },
        "Schedule" : {
          "shape" : "Schedule",
          "documentation" : "The campaign schedule."
        },
        "SegmentId" : {
          "shape" : "__string",
          "documentation" : "The ID of the segment to which the campaign sends messages."
        },
        "SegmentVersion" : {
          "shape" : "__integer",
          "documentation" : "The version of the segment to which the campaign sends messages."
        },
        "State" : {
          "shape" : "CampaignState",
          "documentation" : "The campaign status.\n\nAn A/B test campaign will have a status of COMPLETED only when all treatments have a status of COMPLETED."
        },
        "TreatmentDescription" : {
          "shape" : "__string",
          "documentation" : "A custom description for the treatment."
        },
        "TreatmentName" : {
          "shape" : "__string",
          "documentation" : "The custom name of a variation of the campaign used for A/B testing."
        },
        "Version" : {
          "shape" : "__integer",
          "documentation" : "The campaign version number."
        }
      },
      "documentation" : "Campaign definition"
    },
    "CampaignSmsMessage" : {
      "type" : "structure",
      "members" : {
        "Body" : {
          "shape" : "__string",
          "documentation" : "The SMS text body."
        },
        "MessageType" : {
          "shape" : "MessageType",
          "documentation" : "Is this is a transactional SMS message, otherwise a promotional message."
        },
        "SenderId" : {
          "shape" : "__string",
          "documentation" : "Sender ID of sent message."
        }
      },
      "documentation" : "SMS message configuration."
    },
    "CampaignState" : {
      "type" : "structure",
      "members" : {
        "CampaignStatus" : {
          "shape" : "CampaignStatus",
          "documentation" : "The status of the campaign, or the status of a treatment that belongs to an A/B test campaign.\n\nValid values: SCHEDULED, EXECUTING, PENDING_NEXT_RUN, COMPLETED, PAUSED"
        }
      },
      "documentation" : "State of the Campaign"
    },
    "CampaignStatus" : {
      "type" : "string",
      "enum" : [ "SCHEDULED", "EXECUTING", "PENDING_NEXT_RUN", "COMPLETED", "PAUSED" ]
    },
    "CampaignsResponse" : {
      "type" : "structure",
      "members" : {
        "Item" : {
          "shape" : "ListOfCampaignResponse",
          "documentation" : "A list of campaigns."
        },
        "NextToken" : {
          "shape" : "__string",
          "documentation" : "The string that you use in a subsequent request to get the next page of results in a paginated response."
        }
      },
      "documentation" : "List of available campaigns."
    },
    "ChannelType" : {
      "type" : "string",
      "enum" : [ "GCM", "APNS", "APNS_SANDBOX", "APNS_VOIP", "APNS_VOIP_SANDBOX", "ADM", "SMS", "EMAIL", "BAIDU", "CUSTOM" ]
    },
    "CreateAppRequest" : {
      "type" : "structure",
      "members" : {
        "CreateApplicationRequest" : {
          "shape" : "CreateApplicationRequest"
        }
      },
      "required" : [ "CreateApplicationRequest" ],
      "payload" : "CreateApplicationRequest"
    },
    "CreateAppResponse" : {
      "type" : "structure",
      "members" : {
        "ApplicationResponse" : {
          "shape" : "ApplicationResponse"
        }
      },
      "required" : [ "ApplicationResponse" ],
      "payload" : "ApplicationResponse"
    },
    "CreateApplicationRequest" : {
      "type" : "structure",
      "members" : {
        "Name" : {
          "shape" : "__string",
          "documentation" : "The display name of the application. Used in the Amazon Pinpoint console."
        }
      },
      "documentation" : "Application Request."
    },
    "CreateCampaignRequest" : {
      "type" : "structure",
      "members" : {
        "ApplicationId" : {
          "shape" : "__string",
          "location" : "uri",
          "locationName" : "application-id"
        },
        "WriteCampaignRequest" : {
          "shape" : "WriteCampaignRequest"
        }
      },
      "required" : [ "ApplicationId", "WriteCampaignRequest" ],
      "payload" : "WriteCampaignRequest"
    },
    "CreateCampaignResponse" : {
      "type" : "structure",
      "members" : {
        "CampaignResponse" : {
          "shape" : "CampaignResponse"
        }
      },
      "required" : [ "CampaignResponse" ],
      "payload" : "CampaignResponse"
    },
    "CreateExportJobRequest" : {
      "type" : "structure",
      "members" : {
        "ApplicationId" : {
          "shape" : "__string",
          "location" : "uri",
          "locationName" : "application-id"
        },
        "ExportJobRequest" : {
          "shape" : "ExportJobRequest"
        }
      },
      "required" : [ "ApplicationId", "ExportJobRequest" ],
      "payload" : "ExportJobRequest"
    },
    "CreateExportJobResponse" : {
      "type" : "structure",
      "members" : {
        "ExportJobResponse" : {
          "shape" : "ExportJobResponse"
        }
      },
      "required" : [ "ExportJobResponse" ],
      "payload" : "ExportJobResponse"
    },
    "CreateImportJobRequest" : {
      "type" : "structure",
      "members" : {
        "ApplicationId" : {
          "shape" : "__string",
          "location" : "uri",
          "locationName" : "application-id"
        },
        "ImportJobRequest" : {
          "shape" : "ImportJobRequest"
        }
      },
      "required" : [ "ApplicationId", "ImportJobRequest" ],
      "payload" : "ImportJobRequest"
    },
    "CreateImportJobResponse" : {
      "type" : "structure",
      "members" : {
        "ImportJobResponse" : {
          "shape" : "ImportJobResponse"
        }
      },
      "required" : [ "ImportJobResponse" ],
      "payload" : "ImportJobResponse"
    },
    "CreateSegmentRequest" : {
      "type" : "structure",
      "members" : {
        "ApplicationId" : {
          "shape" : "__string",
          "location" : "uri",
          "locationName" : "application-id"
        },
        "WriteSegmentRequest" : {
          "shape" : "WriteSegmentRequest"
        }
      },
      "required" : [ "ApplicationId", "WriteSegmentRequest" ],
      "payload" : "WriteSegmentRequest"
    },
    "CreateSegmentResponse" : {
      "type" : "structure",
      "members" : {
        "SegmentResponse" : {
          "shape" : "SegmentResponse"
        }
      },
      "required" : [ "SegmentResponse" ],
      "payload" : "SegmentResponse"
    },
    "DefaultMessage" : {
      "type" : "structure",
      "members" : {
        "Body" : {
          "shape" : "__string",
          "documentation" : "The message body of the notification, the email body or the text message."
        },
        "Substitutions" : {
          "shape" : "MapOfListOf__string",
          "documentation" : "Default message substitutions. Can be overridden by individual address substitutions."
        }
      },
      "documentation" : "Default Message across push notification, email, and sms."
    },
    "DefaultPushNotificationMessage" : {
      "type" : "structure",
      "members" : {
        "Action" : {
          "shape" : "Action",
          "documentation" : "The action that occurs if the user taps a push notification delivered by the campaign: OPEN_APP - Your app launches, or it becomes the foreground app if it has been sent to the background. This is the default action. DEEP_LINK - Uses deep linking features in iOS and Android to open your app and display a designated user interface within the app. URL - The default mobile browser on the user's device launches and opens a web page at the URL you specify. Possible values include: OPEN_APP | DEEP_LINK | URL"
        },
        "Body" : {
          "shape" : "__string",
          "documentation" : "The message body of the notification, the email body or the text message."
        },
        "Data" : {
          "shape" : "MapOf__string",
          "documentation" : "The data payload used for a silent push. This payload is added to the notifications' data.pinpoint.jsonBody' object"
        },
        "SilentPush" : {
          "shape" : "__boolean",
          "documentation" : "Indicates if the message should display on the users device. Silent pushes can be used for Remote Configuration and Phone Home use cases."
        },
        "Substitutions" : {
[...]
