{
  "metadata": {
    "apiVersion": "2016-12-01",
    "endpointPrefix": "pinpoint",
    "signingName": "mobiletargeting",
    "serviceFullName": "Amazon Pinpoint",
    "signatureVersion": "v4",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "pinpoint-2016-12-01"
  },
  "operations": {
    "CreateApp": {
      "http": {
        "requestUri": "/v1/apps",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "CreateApplicationRequest": {
            "type": "structure",
            "members": {
              "Name": {}
            }
          }
        },
        "required": [
          "CreateApplicationRequest"
        ],
        "payload": "CreateApplicationRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationResponse": {
            "shape": "S5"
          }
        },
        "required": [
          "ApplicationResponse"
        ],
        "payload": "ApplicationResponse"
      }
    },
    "CreateCampaign": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/campaigns",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "WriteCampaignRequest": {
            "shape": "S7"
          }
        },
        "required": [
          "ApplicationId",
          "WriteCampaignRequest"
        ],
        "payload": "WriteCampaignRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignResponse": {
            "shape": "Sn"
          }
        },
        "required": [
          "CampaignResponse"
        ],
        "payload": "CampaignResponse"
      }
    },
    "CreateImportJob": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/jobs/import",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "ImportJobRequest": {
            "type": "structure",
            "members": {
              "DefineSegment": {
                "type": "boolean"
              },
              "ExternalId": {},
              "Format": {},
              "RegisterEndpoints": {
                "type": "boolean"
              },
              "RoleArn": {},
              "S3Url": {},
              "SegmentId": {},
              "SegmentName": {}
            }
          }
        },
        "required": [
          "ApplicationId",
          "ImportJobRequest"
        ],
        "payload": "ImportJobRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportJobResponse": {
            "shape": "Sw"
          }
        },
        "required": [
          "ImportJobResponse"
        ],
        "payload": "ImportJobResponse"
      }
    },
    "CreateSegment": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/segments",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "WriteSegmentRequest": {
            "shape": "S11"
          }
        },
        "required": [
          "ApplicationId",
          "WriteSegmentRequest"
        ],
        "payload": "WriteSegmentRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentResponse": {
            "shape": "S1f"
          }
        },
        "required": [
          "SegmentResponse"
        ],
        "payload": "SegmentResponse"
      }
    },
    "DeleteAdmChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/adm",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ADMChannelResponse": {
            "shape": "S1l"
          }
        },
        "required": [
          "ADMChannelResponse"
        ],
        "payload": "ADMChannelResponse"
      }
    },
    "DeleteApnsChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSChannelResponse": {
            "shape": "S1o"
          }
        },
        "required": [
          "APNSChannelResponse"
        ],
        "payload": "APNSChannelResponse"
      }
    },
    "DeleteApnsSandboxChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSSandboxChannelResponse": {
            "shape": "S1r"
          }
        },
        "required": [
          "APNSSandboxChannelResponse"
        ],
        "payload": "APNSSandboxChannelResponse"
      }
    },
    "DeleteApp": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationResponse": {
            "shape": "S5"
          }
        },
        "required": [
          "ApplicationResponse"
        ],
        "payload": "ApplicationResponse"
      }
    },
    "DeleteBaiduChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/baidu",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BaiduChannelResponse": {
            "shape": "S1w"
          }
        },
        "required": [
          "BaiduChannelResponse"
        ],
        "payload": "BaiduChannelResponse"
      }
    },
    "DeleteCampaign": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "CampaignId": {
            "location": "uri",
            "locationName": "campaign-id"
          }
        },
        "required": [
          "CampaignId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignResponse": {
            "shape": "Sn"
          }
        },
        "required": [
          "CampaignResponse"
        ],
        "payload": "CampaignResponse"
      }
    },
    "DeleteEmailChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/email",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EmailChannelResponse": {
            "shape": "S21"
          }
        },
        "required": [
          "EmailChannelResponse"
        ],
        "payload": "EmailChannelResponse"
      }
    },
    "DeleteEventStream": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/eventstream",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EventStream": {
            "shape": "S24"
          }
        },
        "required": [
          "EventStream"
        ],
        "payload": "EventStream"
      }
    },
    "DeleteGcmChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/gcm",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "GCMChannelResponse": {
            "shape": "S27"
          }
        },
        "required": [
          "GCMChannelResponse"
        ],
        "payload": "GCMChannelResponse"
      }
    },
    "DeleteSegment": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "SegmentId": {
            "location": "uri",
            "locationName": "segment-id"
          }
        },
        "required": [
          "SegmentId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentResponse": {
            "shape": "S1f"
          }
        },
        "required": [
          "SegmentResponse"
        ],
        "payload": "SegmentResponse"
      }
    },
    "DeleteSmsChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/sms",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SMSChannelResponse": {
            "shape": "S2c"
          }
        },
        "required": [
          "SMSChannelResponse"
        ],
        "payload": "SMSChannelResponse"
      }
    },
    "GetAdmChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/adm",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ADMChannelResponse": {
            "shape": "S1l"
          }
        },
        "required": [
          "ADMChannelResponse"
        ],
        "payload": "ADMChannelResponse"
      }
    },
    "GetApnsChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSChannelResponse": {
            "shape": "S1o"
          }
        },
        "required": [
          "APNSChannelResponse"
        ],
        "payload": "APNSChannelResponse"
      }
    },
    "GetApnsSandboxChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSSandboxChannelResponse": {
            "shape": "S1r"
          }
        },
        "required": [
          "APNSSandboxChannelResponse"
        ],
        "payload": "APNSSandboxChannelResponse"
      }
    },
    "GetApp": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationResponse": {
            "shape": "S5"
          }
        },
        "required": [
          "ApplicationResponse"
        ],
        "payload": "ApplicationResponse"
      }
    },
    "GetApplicationSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/settings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationSettingsResource": {
            "shape": "S2n"
          }
        },
        "required": [
          "ApplicationSettingsResource"
        ],
        "payload": "ApplicationSettingsResource"
      }
    },
    "GetApps": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationsResponse": {
            "type": "structure",
            "members": {
              "Item": {
                "type": "list",
                "member": {
                  "shape": "S5"
                }
              },
              "NextToken": {}
            }
          }
        },
        "required": [
          "ApplicationsResponse"
        ],
        "payload": "ApplicationsResponse"
      }
    },
    "GetBaiduChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/baidu",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BaiduChannelResponse": {
            "shape": "S1w"
          }
        },
        "required": [
          "BaiduChannelResponse"
        ],
        "payload": "BaiduChannelResponse"
      }
    },
    "GetCampaign": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "CampaignId": {
            "location": "uri",
            "locationName": "campaign-id"
          }
        },
        "required": [
          "CampaignId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignResponse": {
            "shape": "Sn"
          }
        },
        "required": [
          "CampaignResponse"
        ],
        "payload": "CampaignResponse"
      }
    },
    "GetCampaignActivities": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/activities",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "CampaignId": {
            "location": "uri",
            "locationName": "campaign-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "ApplicationId",
          "CampaignId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ActivitiesResponse": {
            "type": "structure",
            "members": {
              "Item": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "ApplicationId": {},
                    "CampaignId": {},
                    "End": {},
                    "Id": {},
                    "Result": {},
                    "ScheduledStart": {},
                    "Start": {},
                    "State": {},
                    "SuccessfulEndpointCount": {
                      "type": "integer"
                    },
                    "TimezonesCompletedCount": {
                      "type": "integer"
                    },
                    "TimezonesTotalCount": {
                      "type": "integer"
                    },
                    "TotalEndpointCount": {
                      "type": "integer"
                    },
                    "TreatmentId": {}
                  }
                }
              }
            }
          }
        },
        "required": [
          "ActivitiesResponse"
        ],
        "payload": "ActivitiesResponse"
      }
    },
    "GetCampaignVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/versions/{version}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "CampaignId": {
            "location": "uri",
            "locationName": "campaign-id"
          },
          "Version": {
            "location": "uri",
            "locationName": "version"
          }
        },
        "required": [
          "Version",
          "ApplicationId",
          "CampaignId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignResponse": {
            "shape": "Sn"
          }
        },
        "required": [
          "CampaignResponse"
        ],
        "payload": "CampaignResponse"
      }
    },
    "GetCampaignVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "CampaignId": {
            "location": "uri",
            "locationName": "campaign-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "ApplicationId",
          "CampaignId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignsResponse": {
            "shape": "S35"
          }
        },
        "required": [
          "CampaignsResponse"
        ],
        "payload": "CampaignsResponse"
      }
    },
    "GetCampaigns": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignsResponse": {
            "shape": "S35"
          }
        },
        "required": [
          "CampaignsResponse"
        ],
        "payload": "CampaignsResponse"
      }
    },
    "GetEmailChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/email",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EmailChannelResponse": {
            "shape": "S21"
          }
        },
        "required": [
          "EmailChannelResponse"
        ],
        "payload": "EmailChannelResponse"
      }
    },
    "GetEndpoint": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/endpoints/{endpoint-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "EndpointId": {
            "location": "uri",
            "locationName": "endpoint-id"
          }
        },
        "required": [
          "ApplicationId",
          "EndpointId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EndpointResponse": {
            "type": "structure",
            "members": {
              "Address": {},
              "ApplicationId": {},
              "Attributes": {
                "shape": "S3e"
              },
              "ChannelType": {},
              "CohortId": {},
              "CreationDate": {},
              "Demographic": {
                "shape": "S3g"
              },
              "EffectiveDate": {},
              "EndpointStatus": {},
              "Id": {},
              "Location": {
                "shape": "S3h"
              },
              "Metrics": {
                "shape": "S3j"
              },
              "OptOut": {},
              "RequestId": {},
              "ShardId": {},
              "User": {
                "shape": "S3k"
              }
            }
          }
        },
        "required": [
          "EndpointResponse"
        ],
        "payload": "EndpointResponse"
      }
    },
    "GetEventStream": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/eventstream",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EventStream": {
            "shape": "S24"
          }
        },
        "required": [
          "EventStream"
        ],
        "payload": "EventStream"
      }
    },
    "GetGcmChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/gcm",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "GCMChannelResponse": {
            "shape": "S27"
          }
        },
        "required": [
          "GCMChannelResponse"
        ],
        "payload": "GCMChannelResponse"
      }
    },
    "GetImportJob": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/jobs/import/{job-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "JobId": {
            "location": "uri",
            "locationName": "job-id"
          }
        },
        "required": [
          "ApplicationId",
          "JobId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportJobResponse": {
            "shape": "Sw"
          }
        },
        "required": [
          "ImportJobResponse"
        ],
        "payload": "ImportJobResponse"
      }
    },
    "GetImportJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/jobs/import",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportJobsResponse": {
            "shape": "S3t"
          }
        },
        "required": [
          "ImportJobsResponse"
        ],
        "payload": "ImportJobsResponse"
      }
    },
    "GetSegment": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "SegmentId": {
            "location": "uri",
            "locationName": "segment-id"
          }
        },
        "required": [
          "SegmentId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentResponse": {
            "shape": "S1f"
          }
        },
        "required": [
          "SegmentResponse"
        ],
        "payload": "SegmentResponse"
      }
    },
    "GetSegmentImportJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}/jobs/import",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "SegmentId": {
            "location": "uri",
            "locationName": "segment-id"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "SegmentId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportJobsResponse": {
            "shape": "S3t"
          }
        },
        "required": [
          "ImportJobsResponse"
        ],
        "payload": "ImportJobsResponse"
      }
    },
    "GetSegmentVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}/versions/{version}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "SegmentId": {
            "location": "uri",
            "locationName": "segment-id"
          },
          "Version": {
            "location": "uri",
            "locationName": "version"
          }
        },
        "required": [
          "SegmentId",
          "Version",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentResponse": {
            "shape": "S1f"
          }
        },
        "required": [
          "SegmentResponse"
        ],
        "payload": "SegmentResponse"
      }
    },
    "GetSegmentVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "SegmentId": {
            "location": "uri",
            "locationName": "segment-id"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "SegmentId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentsResponse": {
            "shape": "S43"
          }
        },
        "required": [
          "SegmentsResponse"
        ],
        "payload": "SegmentsResponse"
      }
    },
    "GetSegments": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentsResponse": {
            "shape": "S43"
          }
        },
        "required": [
          "SegmentsResponse"
        ],
        "payload": "SegmentsResponse"
      }
    },
    "GetSmsChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/sms",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SMSChannelResponse": {
            "shape": "S2c"
          }
        },
        "required": [
          "SMSChannelResponse"
        ],
        "payload": "SMSChannelResponse"
      }
    },
    "PutEventStream": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/eventstream",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "WriteEventStream": {
            "type": "structure",
            "members": {
              "DestinationStreamArn": {},
              "ExternalId": {},
              "RoleArn": {}
            }
          }
        },
        "required": [
          "ApplicationId",
          "WriteEventStream"
        ],
        "payload": "WriteEventStream"
      },
      "output": {
        "type": "structure",
        "members": {
          "EventStream": {
            "shape": "S24"
          }
        },
        "required": [
          "EventStream"
        ],
        "payload": "EventStream"
      }
    },
    "SendMessages": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/messages",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "MessageRequest": {
            "type": "structure",
            "members": {
              "Addresses": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "structure",
                  "members": {
                    "BodyOverride": {},
                    "ChannelType": {},
                    "Context": {
                      "shape": "S4g"
                    },
                    "RawContent": {},
                    "Substitutions": {
                      "shape": "S3e"
                    },
                    "TitleOverride": {}
                  }
                }
              },
              "Campaign": {
                "shape": "S4g"
              },
              "Context": {
                "shape": "S4g"
              },
              "Endpoints": {
                "shape": "S4h"
              },
              "MessageConfiguration": {
                "shape": "S4j"
              },
              "RequestId": {}
            }
          }
        },
        "required": [
          "ApplicationId",
          "MessageRequest"
        ],
        "payload": "MessageRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageResponse": {
            "type": "structure",
            "members": {
              "ApplicationId": {},
              "EndpointResult": {
                "shape": "S4u"
              },
              "RequestId": {},
              "Result": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "structure",
                  "members": {
                    "DeliveryStatus": {},
                    "StatusCode": {
                      "type": "integer"
                    },
                    "StatusMessage": {},
                    "UpdatedToken": {}
                  }
                }
              }
            }
          }
        },
        "required": [
          "MessageResponse"
        ],
        "payload": "MessageResponse"
      }
    },
    "SendUsersMessages": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/users-messages",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "SendUsersMessageRequest": {
            "type": "structure",
            "members": {
              "Context": {
                "shape": "S4g"
              },
              "MessageConfiguration": {
                "shape": "S4j"
              },
              "RequestId": {},
              "Users": {
                "shape": "S4h"
              }
            }
          }
        },
        "required": [
          "ApplicationId",
          "SendUsersMessageRequest"
        ],
        "payload": "SendUsersMessageRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "SendUsersMessageResponse": {
            "type": "structure",
            "members": {
              "ApplicationId": {},
              "RequestId": {},
              "Result": {
                "type": "map",
                "key": {},
                "value": {
                  "shape": "S4u"
                }
              }
            }
          }
        },
        "required": [
          "SendUsersMessageResponse"
        ],
        "payload": "SendUsersMessageResponse"
      }
    },
    "UpdateAdmChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/adm",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ADMChannelRequest": {
            "type": "structure",
            "members": {
              "ClientId": {},
              "ClientSecret": {},
              "Enabled": {
                "type": "boolean"
              }
            }
          },
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId",
          "ADMChannelRequest"
        ],
        "payload": "ADMChannelRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "ADMChannelResponse": {
            "shape": "S1l"
          }
        },
        "required": [
          "ADMChannelResponse"
        ],
        "payload": "ADMChannelResponse"
      }
    },
    "UpdateApnsChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/apns",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "APNSChannelRequest": {
            "type": "structure",
            "members": {
              "BundleId": {},
              "Certificate": {},
              "DefaultAuthenticationMethod": {},
              "Enabled": {
                "type": "boolean"
              },
              "PrivateKey": {},
              "TeamId": {},
              "TokenKey": {},
              "TokenKeyId": {}
            }
          },
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId",
          "APNSChannelRequest"
        ],
        "payload": "APNSChannelRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSChannelResponse": {
            "shape": "S1o"
          }
        },
        "required": [
          "APNSChannelResponse"
        ],
        "payload": "APNSChannelResponse"
      }
    },
    "UpdateApnsSandboxChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "APNSSandboxChannelRequest": {
            "type": "structure",
            "members": {
              "BundleId": {},
              "Certificate": {},
              "DefaultAuthenticationMethod": {},
              "Enabled": {
                "type": "boolean"
              },
              "PrivateKey": {},
              "TeamId": {},
              "TokenKey": {},
              "TokenKeyId": {}
            }
          },
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId",
          "APNSSandboxChannelRequest"
        ],
        "payload": "APNSSandboxChannelRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSSandboxChannelResponse": {
            "shape": "S1r"
          }
        },
        "required": [
          "APNSSandboxChannelResponse"
        ],
        "payload": "APNSSandboxChannelResponse"
      }
    },
    "UpdateApplicationSettings": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/settings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "WriteApplicationSettingsRequest": {
            "type": "structure",
            "members": {
              "Limits": {
                "shape": "Sl"
              },
              "QuietTime": {
                "shape": "Sj"
              }
            }
          }
        },
        "required": [
          "ApplicationId",
          "WriteApplicationSettingsRequest"
        ],
        "payload": "WriteApplicationSettingsRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationSettingsResource": {
            "shape": "S2n"
          }
        },
        "required": [
          "ApplicationSettingsResource"
        ],
        "payload": "ApplicationSettingsResource"
      }
    },
    "UpdateBaiduChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/baidu",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "BaiduChannelRequest": {
            "type": "structure",
            "members": {
              "ApiKey": {},
              "Enabled": {
                "type": "boolean"
              },
              "SecretKey": {}
            }
          }
        },
        "required": [
          "ApplicationId",
          "BaiduChannelRequest"
        ],
        "payload": "BaiduChannelRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "BaiduChannelResponse": {
            "shape": "S1w"
          }
        },
        "required": [
          "BaiduChannelResponse"
        ],
        "payload": "BaiduChannelResponse"
      }
    },
    "UpdateCampaign": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "CampaignId": {
            "location": "uri",
            "locationName": "campaign-id"
          },
          "WriteCampaignRequest": {
            "shape": "S7"
          }
        },
        "required": [
          "CampaignId",
          "ApplicationId",
          "WriteCampaignRequest"
        ],
        "payload": "WriteCampaignRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignResponse": {
            "shape": "Sn"
          }
        },
        "required": [
          "CampaignResponse"
        ],
        "payload": "CampaignResponse"
      }
    },
    "UpdateEmailChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/email",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "EmailChannelRequest": {
            "type": "structure",
            "members": {
              "Enabled": {
                "type": "boolean"
              },
              "FromAddress": {},
              "Identity": {},
              "RoleArn": {}
            }
          }
        },
        "required": [
          "ApplicationId",
          "EmailChannelRequest"
        ],
        "payload": "EmailChannelRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "EmailChannelResponse": {
            "shape": "S21"
          }
        },
        "required": [
          "EmailChannelResponse"
        ],
        "payload": "EmailChannelResponse"
      }
    },
    "UpdateEndpoint": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/endpoints/{endpoint-id}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "EndpointId": {
            "location": "uri",
            "locationName": "endpoint-id"
          },
          "EndpointRequest": {
            "type": "structure",
            "members": {
              "Address": {},
              "Attributes": {
                "shape": "S3e"
              },
              "ChannelType": {},
              "Demographic": {
                "shape": "S3g"
              },
              "EffectiveDate": {},
              "EndpointStatus": {},
              "Location": {
                "shape": "S3h"
              },
              "Metrics": {
                "shape": "S3j"
              },
              "OptOut": {},
              "RequestId": {},
              "User": {
                "shape": "S3k"
              }
            }
          }
        },
        "required": [
          "ApplicationId",
          "EndpointId",
          "EndpointRequest"
        ],
        "payload": "EndpointRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageBody": {
            "shape": "S5r"
          }
        },
        "required": [
          "MessageBody"
        ],
        "payload": "MessageBody"
      }
    },
    "UpdateEndpointsBatch": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/endpoints",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "EndpointBatchRequest": {
            "type": "structure",
            "members": {
              "Item": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Address": {},
                    "Attributes": {
                      "shape": "S3e"
                    },
                    "ChannelType": {},
                    "Demographic": {
                      "shape": "S3g"
                    },
                    "EffectiveDate": {},
                    "EndpointStatus": {},
                    "Id": {},
                    "Location": {
                      "shape": "S3h"
                    },
                    "Metrics": {
                      "shape": "S3j"
                    },
                    "OptOut": {},
                    "RequestId": {},
                    "User": {
                      "shape": "S3k"
                    }
                  }
                }
              }
            }
          }
        },
        "required": [
          "ApplicationId",
          "EndpointBatchRequest"
        ],
        "payload": "EndpointBatchRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageBody": {
            "shape": "S5r"
          }
        },
        "required": [
          "MessageBody"
        ],
        "payload": "MessageBody"
      }
    },
    "UpdateGcmChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/gcm",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "GCMChannelRequest": {
            "type": "structure",
            "members": {
              "ApiKey": {},
              "Enabled": {
                "type": "boolean"
              }
            }
          }
        },
        "required": [
          "ApplicationId",
          "GCMChannelRequest"
        ],
        "payload": "GCMChannelRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "GCMChannelResponse": {
            "shape": "S27"
          }
        },
        "required": [
          "GCMChannelResponse"
        ],
        "payload": "GCMChannelResponse"
      }
    },
    "UpdateSegment": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "SegmentId": {
            "location": "uri",
            "locationName": "segment-id"
          },
          "WriteSegmentRequest": {
            "shape": "S11"
          }
        },
        "required": [
          "SegmentId",
          "ApplicationId",
          "WriteSegmentRequest"
        ],
        "payload": "WriteSegmentRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentResponse": {
            "shape": "S1f"
          }
        },
        "required": [
          "SegmentResponse"
        ],
        "payload": "SegmentResponse"
      }
    },
    "UpdateSmsChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/sms",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "SMSChannelRequest": {
            "type": "structure",
            "members": {
              "Enabled": {
                "type": "boolean"
              },
              "SenderId": {},
              "ShortCode": {}
            }
          }
        },
        "required": [
          "ApplicationId",
          "SMSChannelRequest"
        ],
        "payload": "SMSChannelRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "SMSChannelResponse": {
            "shape": "S2c"
          }
        },
        "required": [
          "SMSChannelResponse"
        ],
        "payload": "SMSChannelResponse"
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "structure",
      "members": {
        "Id": {},
        "Name": {}
      }
    },
    "S7": {
      "type": "structure",
      "members": {
        "AdditionalTreatments": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "MessageConfiguration": {
                "shape": "Sa"
              },
              "Schedule": {
                "shape": "Sh"
              },
              "SizePercent": {
                "type": "integer"
              },
              "TreatmentDescription": {},
              "TreatmentName": {}
            }
          }
        },
        "Description": {},
        "HoldoutPercent": {
          "type": "integer"
        },
        "IsPaused": {
          "type": "boolean"
        },
        "Limits": {
          "shape": "Sl"
        },
        "MessageConfiguration": {
          "shape": "Sa"
        },
        "Name": {},
        "Schedule": {
          "shape": "Sh"
        },
        "SegmentId": {},
        "SegmentVersion": {
          "type": "integer"
        },
        "Trace": {
          "type": "boolean"
        },
        "TreatmentDescription": {},
        "TreatmentName": {}
      }
    },
    "Sa": {
      "type": "structure",
      "members": {
        "APNSMessage": {
          "shape": "Sb"
        },
        "DefaultMessage": {
          "shape": "Sb"
        },
        "EmailMessage": {
          "type": "structure",
          "members": {
            "Body": {},
            "FromAddress": {},
            "HtmlBody": {},
            "Title": {}
          }
        },
        "GCMMessage": {
          "shape": "Sb"
        },
        "SMSMessage": {
          "type": "structure",
          "members": {
            "Body": {},
            "MessageType": {},
            "SenderId": {}
          }
        }
      }
    },
    "Sb": {
      "type": "structure",
      "members": {
        "Action": {},
        "Body": {},
        "ImageIconUrl": {},
        "ImageSmallIconUrl": {},
        "ImageUrl": {},
        "JsonBody": {},
        "MediaUrl": {},
        "RawContent": {},
        "SilentPush": {
          "type": "boolean"
        },
        "Title": {},
        "Url": {}
      }
    },
    "Sh": {
      "type": "structure",
      "members": {
        "EndTime": {},
        "Frequency": {},
        "IsLocalTime": {
          "type": "boolean"
        },
        "QuietTime": {
          "shape": "Sj"
        },
        "StartTime": {},
        "Timezone": {}
      }
    },
    "Sj": {
      "type": "structure",
      "members": {
        "End": {},
        "Start": {}
      }
    },
    "Sl": {
      "type": "structure",
      "members": {
        "Daily": {
          "type": "integer"
        },
        "MaximumDuration": {
          "type": "integer"
        },
        "MessagesPerSecond": {
          "type": "integer"
        },
        "Total": {
          "type": "integer"
        }
      }
    },
    "Sn": {
      "type": "structure",
      "members": {
        "AdditionalTreatments": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Id": {},
              "MessageConfiguration": {
                "shape": "Sa"
              },
              "Schedule": {
                "shape": "Sh"
              },
              "SizePercent": {
                "type": "integer"
              },
              "State": {
                "shape": "Sq"
              },
              "TreatmentDescription": {},
              "TreatmentName": {}
            }
          }
        },
        "ApplicationId": {},
        "CreationDate": {},
        "DefaultState": {
          "shape": "Sq"
        },
        "Description": {},
        "HoldoutPercent": {
          "type": "integer"
        },
        "Id": {},
        "IsPaused": {
          "type": "boolean"
        },
        "LastModifiedDate": {},
        "Limits": {
          "shape": "Sl"
        },
        "MessageConfiguration": {
          "shape": "Sa"
        },
        "Name": {},
        "Schedule": {
          "shape": "Sh"
        },
        "SegmentId": {},
        "SegmentVersion": {
          "type": "integer"
        },
        "State": {
          "shape": "Sq"
        },
        "TreatmentDescription": {},
        "TreatmentName": {},
        "Version": {
          "type": "integer"
        }
      }
    },
    "Sq": {
      "type": "structure",
      "members": {
        "CampaignStatus": {}
      }
    },
    "Sw": {
      "type": "structure",
      "members": {
        "ApplicationId": {},
        "CompletedPieces": {
          "type": "integer"
        },
        "CompletionDate": {},
        "CreationDate": {},
        "Definition": {
          "type": "structure",
          "members": {
            "DefineSegment": {
              "type": "boolean"
            },
            "ExternalId": {},
            "Format": {},
            "RegisterEndpoints": {
              "type": "boolean"
            },
            "RoleArn": {},
            "S3Url": {},
            "SegmentId": {},
            "SegmentName": {}
          }
        },
        "FailedPieces": {
          "type": "integer"
        },
        "Failures": {
          "shape": "Sy"
        },
        "Id": {},
        "JobStatus": {},
        "TotalFailures": {
          "type": "integer"
        },
        "TotalPieces": {
          "type": "integer"
        },
        "TotalProcessed": {
          "type": "integer"
        },
        "Type": {}
      }
    },
    "Sy": {
      "type": "list",
      "member": {}
    },
    "S11": {
      "type": "structure",
      "members": {
        "Dimensions": {
          "shape": "S12"
        },
        "Name": {}
      }
    },
    "S12": {
      "type": "structure",
      "members": {
        "Attributes": {
          "shape": "S13"
        },
        "Behavior": {
          "type": "structure",
          "members": {
            "Recency": {
              "type": "structure",
              "members": {
                "Duration": {},
                "RecencyType": {}
              }
            }
          }
        },
        "Demographic": {
          "type": "structure",
          "members": {
            "AppVersion": {
              "shape": "S1b"
            },
            "Channel": {
              "shape": "S1b"
            },
            "DeviceType": {
              "shape": "S1b"
            },
            "Make": {
              "shape": "S1b"
            },
            "Model": {
              "shape": "S1b"
            },
            "Platform": {
              "shape": "S1b"
            }
          }
        },
        "Location": {
          "type": "structure",
          "members": {
            "Country": {
              "shape": "S1b"
            }
          }
        },
        "UserAttributes": {
          "shape": "S13"
        }
      }
    },
    "S13": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "AttributeType": {},
          "Values": {
            "shape": "Sy"
          }
        }
      }
    },
    "S1b": {
      "type": "structure",
      "members": {
        "DimensionType": {},
        "Values": {
          "shape": "Sy"
        }
      }
    },
    "S1f": {
      "type": "structure",
      "members": {
        "ApplicationId": {},
        "CreationDate": {},
        "Dimensions": {
          "shape": "S12"
        },
        "Id": {},
        "ImportDefinition": {
          "type": "structure",
          "members": {
            "ChannelCounts": {
              "type": "map",
              "key": {},
              "value": {
                "type": "integer"
              }
            },
            "ExternalId": {},
            "Format": {},
            "RoleArn": {},
            "S3Url": {},
            "Size": {
              "type": "integer"
            }
          }
        },
        "LastModifiedDate": {},
        "Name": {},
        "SegmentType": {},
        "Version": {
          "type": "integer"
        }
      }
    },
    "S1l": {
      "type": "structure",
      "members": {
        "ApplicationId": {},
        "CreationDate": {},
        "Enabled": {
          "type": "boolean"
        },
        "Id": {},
        "IsArchived": {
          "type": "boolean"
        },
        "LastModifiedBy": {},
        "LastModifiedDate": {},
        "Platform": {},
        "Version": {
          "type": "integer"
        }
      }
    },
    "S1o": {
      "type": "structure",
      "members": {
        "ApplicationId": {},
        "CreationDate": {},
        "Enabled": {
          "type": "boolean"
        },
        "Id": {},
        "IsArchived": {
          "type": "boolean"
        },
        "LastModifiedBy": {},
        "LastModifiedDate": {},
        "Platform": {},
        "Version": {
          "type": "integer"
        }
      }
    },
    "S1r": {
      "type": "structure",
      "members": {
        "ApplicationId": {},
        "CreationDate": {},
        "Enabled": {
          "type": "boolean"
        },
        "Id": {},
        "IsArchived": {
          "type": "boolean"
        },
        "LastModifiedBy": {},
        "LastModifiedDate": {},
        "Platform": {},
        "Version": {
          "type": "integer"
        }
      }
    },
    "S1w": {
      "type": "structure",
      "members": {
        "ApplicationId": {},
        "CreationDate": {},
        "Credential": {},
        "Enabled": {
          "type": "boolean"
        },
        "Id": {},
        "IsArchived": {
          "type": "boolean"
        },
        "LastModifiedBy": {},
        "LastModifiedDate": {},
        "Platform": {},
        "Version": {
          "type": "integer"
        }
      }
    },
    "S21": {
      "type": "structure",
      "members": {
        "ApplicationId": {},
        "CreationDate": {},
        "Enabled": {
          "type": "boolean"
        },
        "FromAddress": {},
        "Id": {},
        "Identity": {},
        "IsArchived": {
          "type": "boolean"
        },
        "LastModifiedBy": {},
        "LastModifiedDate": {},
        "Platform": {},
        "RoleArn": {},
        "Version": {
          "type": "integer"
        }
      }
    },
    "S24": {
      "type": "structure",
      "members": {
        "ApplicationId": {},
        "DestinationStreamArn": {},
        "ExternalId": {},
        "LastModifiedDate": {},
        "LastUpdatedBy": {},
        "RoleArn": {}
      }
    },
    "S27": {
      "type": "structure",
      "members": {
        "ApplicationId": {},
        "CreationDate": {},
        "Credential": {},
        "Enabled": {
          "type": "boolean"
        },
        "Id": {},
        "IsArchived": {
          "type": "boolean"
        },
        "LastModifiedBy": {},
        "LastModifiedDate": {},
        "Platform": {},
        "Version": {
          "type": "integer"
        }
      }
    },
    "S2c": {
      "type": "structure",
      "members": {
        "ApplicationId": {},
        "CreationDate": {},
        "Enabled": {
          "type": "boolean"
        },
        "Id": {},
        "IsArchived": {
          "type": "boolean"
        },
        "LastModifiedBy": {},
        "LastModifiedDate": {},
        "Platform": {},
        "SenderId": {},
        "ShortCode": {},
        "Version": {
          "type": "integer"
        }
      }
    },
    "S2n": {
      "type": "structure",
      "members": {
        "ApplicationId": {},
        "LastModifiedDate": {},
        "Limits": {
          "shape": "Sl"
        },
        "QuietTime": {
          "shape": "Sj"
        }
      }
    },
    "S35": {
      "type": "structure",
      "members": {
        "Item": {
          "type": "list",
          "member": {
            "shape": "Sn"
          }
        },
        "NextToken": {}
      }
    },
    "S3e": {
      "type": "map",
      "key": {},
      "value": {
        "shape": "Sy"
      }
    },
    "S3g": {
      "type": "structure",
      "members": {
        "AppVersion": {},
        "Locale": {},
        "Make": {},
        "Model": {},
        "ModelVersion": {},
        "Platform": {},
        "PlatformVersion": {},
        "Timezone": {}
      }
    },
    "S3h": {
      "type": "structure",
      "members": {
        "City": {},
        "Country": {},
        "Latitude": {
          "type": "double"
        },
        "Longitude": {
          "type": "double"
        },
        "PostalCode": {},
        "Region": {}
      }
    },
    "S3j": {
      "type": "map",
      "key": {},
      "value": {
        "type": "double"
      }
    },
    "S3k": {
      "type": "structure",
      "members": {
        "UserAttributes": {
          "shape": "S3e"
        },
        "UserId": {}
      }
    },
    "S3t": {
      "type": "structure",
      "members": {
        "Item": {
          "type": "list",
          "member": {
            "shape": "Sw"
          }
        },
        "NextToken": {}
      }
    },
    "S43": {
      "type": "structure",
      "members": {
        "Item": {
          "type": "list",
          "member": {
            "shape": "S1f"
          }
        },
        "NextToken": {}
      }
    },
    "S4g": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S4h": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "BodyOverride": {},
          "Context": {
            "shape": "S4g"
          },
          "RawContent": {},
          "Substitutions": {
            "shape": "S3e"
          },
          "TitleOverride": {}
        }
      }
    },
    "S4j": {
      "type": "structure",
      "members": {
        "ADMMessage": {
          "type": "structure",
          "members": {
            "Action": {},
            "Body": {},
            "ConsolidationKey": {},
            "Data": {
              "shape": "S4g"
            },
            "ExpiresAfter": {},
            "IconReference": {},
            "ImageIconUrl": {},
            "ImageUrl": {},
            "JsonData": {},
            "MD5": {},
            "RawContent": {},
            "SilentPush": {
              "type": "boolean"
            },
            "SmallImageIconUrl": {},
            "Sound": {},
            "Substitutions": {
              "shape": "S3e"
            },
            "Title": {},
            "Url": {}
          }
        },
        "APNSMessage": {
          "type": "structure",
          "members": {
            "Action": {},
            "Badge": {
              "type": "integer"
            },
            "Body": {},
            "Category": {},
            "Data": {
              "shape": "S4g"
            },
            "JsonData": {},
            "MediaUrl": {},
            "PreferredAuthenticationMethod": {},
            "RawContent": {},
            "SilentPush": {
              "type": "boolean"
            },
            "Sound": {},
            "Substitutions": {
              "shape": "S3e"
            },
            "ThreadId": {},
            "Title": {},
            "Url": {}
          }
        },
        "BaiduMessage": {
          "type": "structure",
          "members": {
            "Action": {},
            "Body": {},
            "Data": {
              "shape": "S4g"
            },
            "IconReference": {},
            "ImageIconUrl": {},
            "ImageUrl": {},
            "JsonData": {},
            "RawContent": {},
            "SilentPush": {
              "type": "boolean"
            },
            "SmallImageIconUrl": {},
            "Sound": {},
            "Substitutions": {
              "shape": "S3e"
            },
            "Title": {},
            "Url": {}
          }
        },
        "DefaultMessage": {
          "type": "structure",
          "members": {
            "Body": {},
            "Substitutions": {
              "shape": "S3e"
            }
          }
        },
        "DefaultPushNotificationMessage": {
          "type": "structure",
          "members": {
            "Action": {},
            "Body": {},
            "Data": {
              "shape": "S4g"
            },
            "JsonData": {},
            "SilentPush": {
              "type": "boolean"
            },
            "Substitutions": {
              "shape": "S3e"
            },
            "Title": {},
            "Url": {}
          }
        },
        "EmailMessage": {
          "type": "structure",
          "members": {
            "Body": {},
            "FromAddress": {},
            "HtmlBody": {},
            "Substitutions": {
              "shape": "S3e"
            },
            "TemplateArn": {},
            "Title": {}
          }
        },
        "GCMMessage": {
          "type": "structure",
          "members": {
            "Action": {},
            "Body": {},
            "CollapseKey": {},
            "Data": {
              "shape": "S4g"
            },
            "IconReference": {},
            "ImageIconUrl": {},
            "ImageUrl": {},
            "JsonData": {},
            "RawContent": {},
            "RestrictedPackageName": {},
            "SilentPush": {
              "type": "boolean"
            },
            "SmallImageIconUrl": {},
            "Sound": {},
            "Substitutions": {
              "shape": "S3e"
            },
            "Title": {},
            "Url": {}
          }
        },
        "SMSMessage": {
          "type": "structure",
          "members": {
            "Body": {},
            "MessageType": {},
            "SenderId": {},
            "Substitutions": {
              "shape": "S3e"
            }
          }
        }
      }
    },
    "S4u": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "Address": {},
          "DeliveryStatus": {},
          "StatusCode": {
            "type": "integer"
          },
          "StatusMessage": {},
          "UpdatedToken": {}
        }
      }
    },
    "S5r": {
      "type": "structure",
      "members": {
        "Message": {},
        "RequestID": {}
      }
    }
  }
}