{
  "metadata": {
    "apiVersion": "2016-12-01",
    "endpointPrefix": "pinpoint",
    "signingName": "mobiletargeting",
    "serviceFullName": "Amazon Pinpoint",
    "serviceId": "Pinpoint",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "pinpoint-2016-12-01",
    "signatureVersion": "v4"
  },
  "operations": {
    "CreateApp": {
      "http": {
        "requestUri": "/v1/apps",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "CreateApplicationRequest": {
            "type": "structure",
            "members": {
              "Name": {},
              "tags": {
                "shape": "S4",
                "locationName": "tags"
              }
            },
            "required": [
              "Name"
            ]
          }
        },
        "required": [
          "CreateApplicationRequest"
        ],
        "payload": "CreateApplicationRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationResponse": {
            "shape": "S6"
          }
        },
        "required": [
          "ApplicationResponse"
        ],
        "payload": "ApplicationResponse"
      }
    },
    "CreateCampaign": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/campaigns",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "WriteCampaignRequest": {
            "shape": "S8"
          }
        },
        "required": [
          "ApplicationId",
          "WriteCampaignRequest"
        ],
        "payload": "WriteCampaignRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignResponse": {
            "shape": "S18"
          }
        },
        "required": [
          "CampaignResponse"
        ],
        "payload": "CampaignResponse"
      }
    },
    "CreateEmailTemplate": {
      "http": {
        "requestUri": "/v1/templates/{template-name}/email",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "EmailTemplateRequest": {
            "shape": "S1e"
          },
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          }
        },
        "required": [
          "TemplateName",
          "EmailTemplateRequest"
        ],
        "payload": "EmailTemplateRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "CreateTemplateMessageBody": {
            "shape": "S1g"
          }
        },
        "required": [
          "CreateTemplateMessageBody"
        ],
        "payload": "CreateTemplateMessageBody"
      }
    },
    "CreateExportJob": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/jobs/export",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "ExportJobRequest": {
            "type": "structure",
            "members": {
              "RoleArn": {},
              "S3UrlPrefix": {},
              "SegmentId": {},
              "SegmentVersion": {
                "type": "integer"
              }
            },
            "required": [
              "S3UrlPrefix",
              "RoleArn"
            ]
          }
        },
        "required": [
          "ApplicationId",
          "ExportJobRequest"
        ],
        "payload": "ExportJobRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "ExportJobResponse": {
            "shape": "S1k"
          }
        },
        "required": [
          "ExportJobResponse"
        ],
        "payload": "ExportJobResponse"
      }
    },
    "CreateImportJob": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/jobs/import",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "ImportJobRequest": {
            "type": "structure",
            "members": {
              "DefineSegment": {
                "type": "boolean"
              },
              "ExternalId": {},
              "Format": {},
              "RegisterEndpoints": {
                "type": "boolean"
              },
              "RoleArn": {},
              "S3Url": {},
              "SegmentId": {},
              "SegmentName": {}
            },
            "required": [
              "Format",
              "S3Url",
              "RoleArn"
            ]
          }
        },
        "required": [
          "ApplicationId",
          "ImportJobRequest"
        ],
        "payload": "ImportJobRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportJobResponse": {
            "shape": "S1r"
          }
        },
        "required": [
          "ImportJobResponse"
        ],
        "payload": "ImportJobResponse"
      }
    },
    "CreateJourney": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/journeys",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "WriteJourneyRequest": {
            "shape": "S1u"
          }
        },
        "required": [
          "ApplicationId",
          "WriteJourneyRequest"
        ],
        "payload": "WriteJourneyRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "JourneyResponse": {
            "shape": "S32"
          }
        },
        "required": [
          "JourneyResponse"
        ],
        "payload": "JourneyResponse"
      }
    },
    "CreatePushTemplate": {
      "http": {
        "requestUri": "/v1/templates/{template-name}/push",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "PushNotificationTemplateRequest": {
            "shape": "S34"
          },
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          }
        },
        "required": [
          "TemplateName",
          "PushNotificationTemplateRequest"
        ],
        "payload": "PushNotificationTemplateRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "CreateTemplateMessageBody": {
            "shape": "S1g"
          }
        },
        "required": [
          "CreateTemplateMessageBody"
        ],
        "payload": "CreateTemplateMessageBody"
      }
    },
    "CreateRecommenderConfiguration": {
      "http": {
        "requestUri": "/v1/recommenders",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "CreateRecommenderConfiguration": {
            "type": "structure",
            "members": {
              "Attributes": {
                "shape": "S4"
              },
              "Description": {},
              "Name": {},
              "RecommendationProviderIdType": {},
              "RecommendationProviderRoleArn": {},
              "RecommendationProviderUri": {},
              "RecommendationTransformerUri": {},
              "RecommendationsDisplayName": {},
              "RecommendationsPerMessage": {
                "type": "integer"
              }
            },
            "required": [
              "RecommendationProviderUri",
              "RecommendationProviderRoleArn"
            ]
          }
        },
        "required": [
          "CreateRecommenderConfiguration"
        ],
        "payload": "CreateRecommenderConfiguration"
      },
      "output": {
        "type": "structure",
        "members": {
          "RecommenderConfigurationResponse": {
            "shape": "S3c"
          }
        },
        "required": [
          "RecommenderConfigurationResponse"
        ],
        "payload": "RecommenderConfigurationResponse"
      }
    },
    "CreateSegment": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/segments",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "WriteSegmentRequest": {
            "shape": "S3e"
          }
        },
        "required": [
          "ApplicationId",
          "WriteSegmentRequest"
        ],
        "payload": "WriteSegmentRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentResponse": {
            "shape": "S3p"
          }
        },
        "required": [
          "SegmentResponse"
        ],
        "payload": "SegmentResponse"
      }
    },
    "CreateSmsTemplate": {
      "http": {
        "requestUri": "/v1/templates/{template-name}/sms",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "SMSTemplateRequest": {
            "shape": "S3u"
          },
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          }
        },
        "required": [
          "TemplateName",
          "SMSTemplateRequest"
        ],
        "payload": "SMSTemplateRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "CreateTemplateMessageBody": {
            "shape": "S1g"
          }
        },
        "required": [
          "CreateTemplateMessageBody"
        ],
        "payload": "CreateTemplateMessageBody"
      }
    },
    "CreateVoiceTemplate": {
      "http": {
        "requestUri": "/v1/templates/{template-name}/voice",
        "responseCode": 201
      },
      "input": {
        "type": "structure",
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          },
          "VoiceTemplateRequest": {
            "shape": "S3x"
          }
        },
        "required": [
          "TemplateName",
          "VoiceTemplateRequest"
        ],
        "payload": "VoiceTemplateRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "CreateTemplateMessageBody": {
            "shape": "S1g"
          }
        },
        "required": [
          "CreateTemplateMessageBody"
        ],
        "payload": "CreateTemplateMessageBody"
      }
    },
    "DeleteAdmChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/adm",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ADMChannelResponse": {
            "shape": "S41"
          }
        },
        "required": [
          "ADMChannelResponse"
        ],
        "payload": "ADMChannelResponse"
      }
    },
    "DeleteApnsChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSChannelResponse": {
            "shape": "S44"
          }
        },
        "required": [
          "APNSChannelResponse"
        ],
        "payload": "APNSChannelResponse"
      }
    },
    "DeleteApnsSandboxChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSSandboxChannelResponse": {
            "shape": "S47"
          }
        },
        "required": [
          "APNSSandboxChannelResponse"
        ],
        "payload": "APNSSandboxChannelResponse"
      }
    },
    "DeleteApnsVoipChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSVoipChannelResponse": {
            "shape": "S4a"
          }
        },
        "required": [
          "APNSVoipChannelResponse"
        ],
        "payload": "APNSVoipChannelResponse"
      }
    },
    "DeleteApnsVoipSandboxChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip_sandbox",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSVoipSandboxChannelResponse": {
            "shape": "S4d"
          }
        },
        "required": [
          "APNSVoipSandboxChannelResponse"
        ],
        "payload": "APNSVoipSandboxChannelResponse"
      }
    },
    "DeleteApp": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationResponse": {
            "shape": "S6"
          }
        },
        "required": [
          "ApplicationResponse"
        ],
        "payload": "ApplicationResponse"
      }
    },
    "DeleteBaiduChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/baidu",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BaiduChannelResponse": {
            "shape": "S4i"
          }
        },
        "required": [
          "BaiduChannelResponse"
        ],
        "payload": "BaiduChannelResponse"
      }
    },
    "DeleteCampaign": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "CampaignId": {
            "location": "uri",
            "locationName": "campaign-id"
          }
        },
        "required": [
          "CampaignId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignResponse": {
            "shape": "S18"
          }
        },
        "required": [
          "CampaignResponse"
        ],
        "payload": "CampaignResponse"
      }
    },
    "DeleteEmailChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/email",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EmailChannelResponse": {
            "shape": "S4n"
          }
        },
        "required": [
          "EmailChannelResponse"
        ],
        "payload": "EmailChannelResponse"
      }
    },
    "DeleteEmailTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/email",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          },
          "Version": {
            "location": "querystring",
            "locationName": "version"
          }
        },
        "required": [
          "TemplateName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageBody": {
            "shape": "S4q"
          }
        },
        "required": [
          "MessageBody"
        ],
        "payload": "MessageBody"
      }
    },
    "DeleteEndpoint": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/endpoints/{endpoint-id}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "EndpointId": {
            "location": "uri",
            "locationName": "endpoint-id"
          }
        },
        "required": [
          "ApplicationId",
          "EndpointId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EndpointResponse": {
            "shape": "S4t"
          }
        },
        "required": [
          "EndpointResponse"
        ],
        "payload": "EndpointResponse"
      }
    },
    "DeleteEventStream": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/eventstream",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EventStream": {
            "shape": "S52"
          }
        },
        "required": [
          "EventStream"
        ],
        "payload": "EventStream"
      }
    },
    "DeleteGcmChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/gcm",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "GCMChannelResponse": {
            "shape": "S55"
          }
        },
        "required": [
          "GCMChannelResponse"
        ],
        "payload": "GCMChannelResponse"
      }
    },
    "DeleteJourney": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "JourneyId": {
            "location": "uri",
            "locationName": "journey-id"
          }
        },
        "required": [
          "JourneyId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "JourneyResponse": {
            "shape": "S32"
          }
        },
        "required": [
          "JourneyResponse"
        ],
        "payload": "JourneyResponse"
      }
    },
    "DeletePushTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/push",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          },
          "Version": {
            "location": "querystring",
            "locationName": "version"
          }
        },
        "required": [
          "TemplateName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageBody": {
            "shape": "S4q"
          }
        },
        "required": [
          "MessageBody"
        ],
        "payload": "MessageBody"
      }
    },
    "DeleteRecommenderConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/recommenders/{recommender-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "RecommenderId": {
            "location": "uri",
            "locationName": "recommender-id"
          }
        },
        "required": [
          "RecommenderId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "RecommenderConfigurationResponse": {
            "shape": "S3c"
          }
        },
        "required": [
          "RecommenderConfigurationResponse"
        ],
        "payload": "RecommenderConfigurationResponse"
      }
    },
    "DeleteSegment": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "SegmentId": {
            "location": "uri",
            "locationName": "segment-id"
          }
        },
        "required": [
          "SegmentId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentResponse": {
            "shape": "S3p"
          }
        },
        "required": [
          "SegmentResponse"
        ],
        "payload": "SegmentResponse"
      }
    },
    "DeleteSmsChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/sms",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SMSChannelResponse": {
            "shape": "S5g"
          }
        },
        "required": [
          "SMSChannelResponse"
        ],
        "payload": "SMSChannelResponse"
      }
    },
    "DeleteSmsTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/sms",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          },
          "Version": {
            "location": "querystring",
            "locationName": "version"
          }
        },
        "required": [
          "TemplateName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageBody": {
            "shape": "S4q"
          }
        },
        "required": [
          "MessageBody"
        ],
        "payload": "MessageBody"
      }
    },
    "DeleteUserEndpoints": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/users/{user-id}",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "UserId": {
            "location": "uri",
            "locationName": "user-id"
          }
        },
        "required": [
          "ApplicationId",
          "UserId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EndpointsResponse": {
            "shape": "S5l"
          }
        },
        "required": [
          "EndpointsResponse"
        ],
        "payload": "EndpointsResponse"
      }
    },
    "DeleteVoiceChannel": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/voice",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceChannelResponse": {
            "shape": "S5p"
          }
        },
        "required": [
          "VoiceChannelResponse"
        ],
        "payload": "VoiceChannelResponse"
      }
    },
    "DeleteVoiceTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/voice",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          },
          "Version": {
            "location": "querystring",
            "locationName": "version"
          }
        },
        "required": [
          "TemplateName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageBody": {
            "shape": "S4q"
          }
        },
        "required": [
          "MessageBody"
        ],
        "payload": "MessageBody"
      }
    },
    "GetAdmChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/adm",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ADMChannelResponse": {
            "shape": "S41"
          }
        },
        "required": [
          "ADMChannelResponse"
        ],
        "payload": "ADMChannelResponse"
      }
    },
    "GetApnsChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSChannelResponse": {
            "shape": "S44"
          }
        },
        "required": [
          "APNSChannelResponse"
        ],
        "payload": "APNSChannelResponse"
      }
    },
    "GetApnsSandboxChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSSandboxChannelResponse": {
            "shape": "S47"
          }
        },
        "required": [
          "APNSSandboxChannelResponse"
        ],
        "payload": "APNSSandboxChannelResponse"
      }
    },
    "GetApnsVoipChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSVoipChannelResponse": {
            "shape": "S4a"
          }
        },
        "required": [
          "APNSVoipChannelResponse"
        ],
        "payload": "APNSVoipChannelResponse"
      }
    },
    "GetApnsVoipSandboxChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip_sandbox",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSVoipSandboxChannelResponse": {
            "shape": "S4d"
          }
        },
        "required": [
          "APNSVoipSandboxChannelResponse"
        ],
        "payload": "APNSVoipSandboxChannelResponse"
      }
    },
    "GetApp": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationResponse": {
            "shape": "S6"
          }
        },
        "required": [
          "ApplicationResponse"
        ],
        "payload": "ApplicationResponse"
      }
    },
    "GetApplicationDateRangeKpi": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/kpis/daterange/{kpi-name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "EndTime": {
            "shape": "S2w",
            "location": "querystring",
            "locationName": "end-time"
          },
          "KpiName": {
            "location": "uri",
            "locationName": "kpi-name"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "StartTime": {
            "shape": "S2w",
            "location": "querystring",
            "locationName": "start-time"
          }
        },
        "required": [
          "ApplicationId",
          "KpiName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationDateRangeKpiResponse": {
            "type": "structure",
            "members": {
              "ApplicationId": {},
              "EndTime": {
                "shape": "S2w"
              },
              "KpiName": {},
              "KpiResult": {
                "shape": "S67"
              },
              "NextToken": {},
              "StartTime": {
                "shape": "S2w"
              }
            },
            "required": [
              "KpiResult",
              "KpiName",
              "EndTime",
              "StartTime",
              "ApplicationId"
            ]
          }
        },
        "required": [
          "ApplicationDateRangeKpiResponse"
        ],
        "payload": "ApplicationDateRangeKpiResponse"
      }
    },
    "GetApplicationSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/settings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationSettingsResource": {
            "shape": "S6e"
          }
        },
        "required": [
          "ApplicationSettingsResource"
        ],
        "payload": "ApplicationSettingsResource"
      }
    },
    "GetApps": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ApplicationsResponse": {
            "type": "structure",
            "members": {
              "Item": {
                "type": "list",
                "member": {
                  "shape": "S6"
                }
              },
              "NextToken": {}
            }
          }
        },
        "required": [
          "ApplicationsResponse"
        ],
        "payload": "ApplicationsResponse"
      }
    },
    "GetBaiduChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/baidu",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "BaiduChannelResponse": {
            "shape": "S4i"
          }
        },
        "required": [
          "BaiduChannelResponse"
        ],
        "payload": "BaiduChannelResponse"
      }
    },
    "GetCampaign": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "CampaignId": {
            "location": "uri",
            "locationName": "campaign-id"
          }
        },
        "required": [
          "CampaignId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignResponse": {
            "shape": "S18"
          }
        },
        "required": [
          "CampaignResponse"
        ],
        "payload": "CampaignResponse"
      }
    },
    "GetCampaignActivities": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/activities",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "CampaignId": {
            "location": "uri",
            "locationName": "campaign-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "ApplicationId",
          "CampaignId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ActivitiesResponse": {
            "type": "structure",
            "members": {
              "Item": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "ApplicationId": {},
                    "CampaignId": {},
                    "End": {},
                    "Id": {},
                    "Result": {},
                    "ScheduledStart": {},
                    "Start": {},
                    "State": {},
                    "SuccessfulEndpointCount": {
                      "type": "integer"
                    },
                    "TimezonesCompletedCount": {
                      "type": "integer"
                    },
                    "TimezonesTotalCount": {
                      "type": "integer"
                    },
                    "TotalEndpointCount": {
                      "type": "integer"
                    },
                    "TreatmentId": {}
                  },
                  "required": [
                    "CampaignId",
                    "Id",
                    "ApplicationId"
                  ]
                }
              },
              "NextToken": {}
            },
            "required": [
              "Item"
            ]
          }
        },
        "required": [
          "ActivitiesResponse"
        ],
        "payload": "ActivitiesResponse"
      }
    },
    "GetCampaignDateRangeKpi": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/kpis/daterange/{kpi-name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "CampaignId": {
            "location": "uri",
            "locationName": "campaign-id"
          },
          "EndTime": {
            "shape": "S2w",
            "location": "querystring",
            "locationName": "end-time"
          },
          "KpiName": {
            "location": "uri",
            "locationName": "kpi-name"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "StartTime": {
            "shape": "S2w",
            "location": "querystring",
            "locationName": "start-time"
          }
        },
        "required": [
          "ApplicationId",
          "KpiName",
          "CampaignId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignDateRangeKpiResponse": {
            "type": "structure",
            "members": {
              "ApplicationId": {},
              "CampaignId": {},
              "EndTime": {
                "shape": "S2w"
              },
              "KpiName": {},
              "KpiResult": {
                "shape": "S67"
              },
              "NextToken": {},
              "StartTime": {
                "shape": "S2w"
              }
            },
            "required": [
              "KpiResult",
              "KpiName",
              "EndTime",
              "CampaignId",
              "StartTime",
              "ApplicationId"
            ]
          }
        },
        "required": [
          "CampaignDateRangeKpiResponse"
        ],
        "payload": "CampaignDateRangeKpiResponse"
      }
    },
    "GetCampaignVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/versions/{version}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "CampaignId": {
            "location": "uri",
            "locationName": "campaign-id"
          },
          "Version": {
            "location": "uri",
            "locationName": "version"
          }
        },
        "required": [
          "Version",
          "ApplicationId",
          "CampaignId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignResponse": {
            "shape": "S18"
          }
        },
        "required": [
          "CampaignResponse"
        ],
        "payload": "CampaignResponse"
      }
    },
    "GetCampaignVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "CampaignId": {
            "location": "uri",
            "locationName": "campaign-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "ApplicationId",
          "CampaignId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignsResponse": {
            "shape": "S6z"
          }
        },
        "required": [
          "CampaignsResponse"
        ],
        "payload": "CampaignsResponse"
      }
    },
    "GetCampaigns": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "CampaignsResponse": {
            "shape": "S6z"
          }
        },
        "required": [
          "CampaignsResponse"
        ],
        "payload": "CampaignsResponse"
      }
    },
    "GetChannels": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ChannelsResponse": {
            "type": "structure",
            "members": {
              "Channels": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "structure",
                  "members": {
                    "ApplicationId": {},
                    "CreationDate": {},
                    "Enabled": {
                      "type": "boolean"
                    },
                    "HasCredential": {
                      "type": "boolean"
                    },
                    "Id": {},
                    "IsArchived": {
                      "type": "boolean"
                    },
                    "LastModifiedBy": {},
                    "LastModifiedDate": {},
                    "Version": {
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "required": [
              "Channels"
            ]
          }
        },
        "required": [
          "ChannelsResponse"
        ],
        "payload": "ChannelsResponse"
      }
    },
    "GetEmailChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/email",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EmailChannelResponse": {
            "shape": "S4n"
          }
        },
        "required": [
          "EmailChannelResponse"
        ],
        "payload": "EmailChannelResponse"
      }
    },
    "GetEmailTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/templates/{template-name}/email",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          },
          "Version": {
            "location": "querystring",
            "locationName": "version"
          }
        },
        "required": [
          "TemplateName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EmailTemplateResponse": {
            "type": "structure",
            "members": {
              "Arn": {},
              "CreationDate": {},
              "DefaultSubstitutions": {},
              "HtmlPart": {},
              "LastModifiedDate": {},
              "RecommenderId": {},
              "Subject": {},
              "tags": {
                "shape": "S4",
                "locationName": "tags"
              },
              "TemplateDescription": {},
              "TemplateName": {},
              "TemplateType": {},
              "TextPart": {},
              "Version": {}
            },
            "required": [
              "LastModifiedDate",
              "CreationDate",
              "TemplateName",
              "TemplateType"
            ]
          }
        },
        "required": [
          "EmailTemplateResponse"
        ],
        "payload": "EmailTemplateResponse"
      }
    },
    "GetEndpoint": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/endpoints/{endpoint-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "EndpointId": {
            "location": "uri",
            "locationName": "endpoint-id"
          }
        },
        "required": [
          "ApplicationId",
          "EndpointId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EndpointResponse": {
            "shape": "S4t"
          }
        },
        "required": [
          "EndpointResponse"
        ],
        "payload": "EndpointResponse"
      }
    },
    "GetEventStream": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/eventstream",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EventStream": {
            "shape": "S52"
          }
        },
        "required": [
          "EventStream"
        ],
        "payload": "EventStream"
      }
    },
    "GetExportJob": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/jobs/export/{job-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "JobId": {
            "location": "uri",
            "locationName": "job-id"
          }
        },
        "required": [
          "ApplicationId",
          "JobId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ExportJobResponse": {
            "shape": "S1k"
          }
        },
        "required": [
          "ExportJobResponse"
        ],
        "payload": "ExportJobResponse"
      }
    },
    "GetExportJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/jobs/export",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ExportJobsResponse": {
            "shape": "S7m"
          }
        },
        "required": [
          "ExportJobsResponse"
        ],
        "payload": "ExportJobsResponse"
      }
    },
    "GetGcmChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/gcm",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "GCMChannelResponse": {
            "shape": "S55"
          }
        },
        "required": [
          "GCMChannelResponse"
        ],
        "payload": "GCMChannelResponse"
      }
    },
    "GetImportJob": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/jobs/import/{job-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "JobId": {
            "location": "uri",
            "locationName": "job-id"
          }
        },
        "required": [
          "ApplicationId",
          "JobId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportJobResponse": {
            "shape": "S1r"
          }
        },
        "required": [
          "ImportJobResponse"
        ],
        "payload": "ImportJobResponse"
      }
    },
    "GetImportJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/jobs/import",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportJobsResponse": {
            "shape": "S7u"
          }
        },
        "required": [
          "ImportJobsResponse"
        ],
        "payload": "ImportJobsResponse"
      }
    },
    "GetJourney": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "JourneyId": {
            "location": "uri",
            "locationName": "journey-id"
          }
        },
        "required": [
          "JourneyId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "JourneyResponse": {
            "shape": "S32"
          }
        },
        "required": [
          "JourneyResponse"
        ],
        "payload": "JourneyResponse"
      }
    },
    "GetJourneyDateRangeKpi": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}/kpis/daterange/{kpi-name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "EndTime": {
            "shape": "S2w",
            "location": "querystring",
            "locationName": "end-time"
          },
          "JourneyId": {
            "location": "uri",
            "locationName": "journey-id"
          },
          "KpiName": {
            "location": "uri",
            "locationName": "kpi-name"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "StartTime": {
            "shape": "S2w",
            "location": "querystring",
            "locationName": "start-time"
          }
        },
        "required": [
          "JourneyId",
          "ApplicationId",
          "KpiName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "JourneyDateRangeKpiResponse": {
            "type": "structure",
            "members": {
              "ApplicationId": {},
              "EndTime": {
                "shape": "S2w"
              },
              "JourneyId": {},
              "KpiName": {},
              "KpiResult": {
                "shape": "S67"
              },
              "NextToken": {},
              "StartTime": {
                "shape": "S2w"
              }
            },
            "required": [
              "KpiResult",
              "KpiName",
              "JourneyId",
              "EndTime",
              "StartTime",
              "ApplicationId"
            ]
          }
        },
        "required": [
          "JourneyDateRangeKpiResponse"
        ],
        "payload": "JourneyDateRangeKpiResponse"
      }
    },
    "GetJourneyExecutionActivityMetrics": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}/activities/{journey-activity-id}/execution-metrics",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "JourneyActivityId": {
            "location": "uri",
            "locationName": "journey-activity-id"
          },
          "JourneyId": {
            "location": "uri",
            "locationName": "journey-id"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          }
        },
        "required": [
          "JourneyActivityId",
          "ApplicationId",
          "JourneyId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "JourneyExecutionActivityMetricsResponse": {
            "type": "structure",
            "members": {
              "ActivityType": {},
              "ApplicationId": {},
              "JourneyActivityId": {},
              "JourneyId": {},
              "LastEvaluatedTime": {},
              "Metrics": {
                "shape": "S4"
              }
            },
            "required": [
              "Metrics",
              "JourneyId",
              "LastEvaluatedTime",
              "JourneyActivityId",
              "ActivityType",
              "ApplicationId"
            ]
          }
        },
        "required": [
          "JourneyExecutionActivityMetricsResponse"
        ],
        "payload": "JourneyExecutionActivityMetricsResponse"
      }
    },
    "GetJourneyExecutionMetrics": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}/execution-metrics",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "JourneyId": {
            "location": "uri",
            "locationName": "journey-id"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          }
        },
        "required": [
          "ApplicationId",
          "JourneyId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "JourneyExecutionMetricsResponse": {
            "type": "structure",
            "members": {
              "ApplicationId": {},
              "JourneyId": {},
              "LastEvaluatedTime": {},
              "Metrics": {
                "shape": "S4"
              }
            },
            "required": [
              "Metrics",
              "JourneyId",
              "LastEvaluatedTime",
              "ApplicationId"
            ]
          }
        },
        "required": [
          "JourneyExecutionMetricsResponse"
        ],
        "payload": "JourneyExecutionMetricsResponse"
      }
    },
    "GetPushTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/templates/{template-name}/push",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          },
          "Version": {
            "location": "querystring",
            "locationName": "version"
          }
        },
        "required": [
          "TemplateName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "PushNotificationTemplateResponse": {
            "type": "structure",
            "members": {
              "ADM": {
                "shape": "S35"
              },
              "APNS": {
                "shape": "S36"
              },
              "Arn": {},
              "Baidu": {
                "shape": "S35"
              },
              "CreationDate": {},
              "Default": {
                "shape": "S37"
              },
              "DefaultSubstitutions": {},
              "GCM": {
                "shape": "S35"
              },
              "LastModifiedDate": {},
              "RecommenderId": {},
              "tags": {
                "shape": "S4",
                "locationName": "tags"
              },
              "TemplateDescription": {},
              "TemplateName": {},
              "TemplateType": {},
              "Version": {}
            },
            "required": [
              "LastModifiedDate",
              "CreationDate",
              "TemplateType",
              "TemplateName"
            ]
          }
        },
        "required": [
          "PushNotificationTemplateResponse"
        ],
        "payload": "PushNotificationTemplateResponse"
      }
    },
    "GetRecommenderConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/recommenders/{recommender-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "RecommenderId": {
            "location": "uri",
            "locationName": "recommender-id"
          }
        },
        "required": [
          "RecommenderId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "RecommenderConfigurationResponse": {
            "shape": "S3c"
          }
        },
        "required": [
          "RecommenderConfigurationResponse"
        ],
        "payload": "RecommenderConfigurationResponse"
      }
    },
    "GetRecommenderConfigurations": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/recommenders",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ListRecommenderConfigurationsResponse": {
            "type": "structure",
            "members": {
              "Item": {
                "type": "list",
                "member": {
                  "shape": "S3c"
                }
              },
              "NextToken": {}
            },
            "required": [
              "Item"
            ]
          }
        },
        "required": [
          "ListRecommenderConfigurationsResponse"
        ],
        "payload": "ListRecommenderConfigurationsResponse"
      }
    },
    "GetSegment": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "SegmentId": {
            "location": "uri",
            "locationName": "segment-id"
          }
        },
        "required": [
          "SegmentId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentResponse": {
            "shape": "S3p"
          }
        },
        "required": [
          "SegmentResponse"
        ],
        "payload": "SegmentResponse"
      }
    },
    "GetSegmentExportJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}/jobs/export",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "SegmentId": {
            "location": "uri",
            "locationName": "segment-id"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "SegmentId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ExportJobsResponse": {
            "shape": "S7m"
          }
        },
        "required": [
          "ExportJobsResponse"
        ],
        "payload": "ExportJobsResponse"
      }
    },
    "GetSegmentImportJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}/jobs/import",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "SegmentId": {
            "location": "uri",
            "locationName": "segment-id"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "SegmentId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "ImportJobsResponse": {
            "shape": "S7u"
          }
        },
        "required": [
          "ImportJobsResponse"
        ],
        "payload": "ImportJobsResponse"
      }
    },
    "GetSegmentVersion": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}/versions/{version}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "SegmentId": {
            "location": "uri",
            "locationName": "segment-id"
          },
          "Version": {
            "location": "uri",
            "locationName": "version"
          }
        },
        "required": [
          "SegmentId",
          "Version",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentResponse": {
            "shape": "S3p"
          }
        },
        "required": [
          "SegmentResponse"
        ],
        "payload": "SegmentResponse"
      }
    },
    "GetSegmentVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "SegmentId": {
            "location": "uri",
            "locationName": "segment-id"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "SegmentId",
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentsResponse": {
            "shape": "S8q"
          }
        },
        "required": [
          "SegmentsResponse"
        ],
        "payload": "SegmentsResponse"
      }
    },
    "GetSegments": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/segments",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SegmentsResponse": {
            "shape": "S8q"
          }
        },
        "required": [
          "SegmentsResponse"
        ],
        "payload": "SegmentsResponse"
      }
    },
    "GetSmsChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/sms",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SMSChannelResponse": {
            "shape": "S5g"
          }
        },
        "required": [
          "SMSChannelResponse"
        ],
        "payload": "SMSChannelResponse"
      }
    },
    "GetSmsTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/templates/{template-name}/sms",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          },
          "Version": {
            "location": "querystring",
            "locationName": "version"
          }
        },
        "required": [
          "TemplateName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "SMSTemplateResponse": {
            "type": "structure",
            "members": {
              "Arn": {},
              "Body": {},
              "CreationDate": {},
              "DefaultSubstitutions": {},
              "LastModifiedDate": {},
              "RecommenderId": {},
              "tags": {
                "shape": "S4",
                "locationName": "tags"
              },
              "TemplateDescription": {},
              "TemplateName": {},
              "TemplateType": {},
              "Version": {}
            },
            "required": [
              "LastModifiedDate",
              "CreationDate",
              "TemplateName",
              "TemplateType"
            ]
          }
        },
        "required": [
          "SMSTemplateResponse"
        ],
        "payload": "SMSTemplateResponse"
      }
    },
    "GetUserEndpoints": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/users/{user-id}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "UserId": {
            "location": "uri",
            "locationName": "user-id"
          }
        },
        "required": [
          "ApplicationId",
          "UserId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "EndpointsResponse": {
            "shape": "S5l"
          }
        },
        "required": [
          "EndpointsResponse"
        ],
        "payload": "EndpointsResponse"
      }
    },
    "GetVoiceChannel": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/voice",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceChannelResponse": {
            "shape": "S5p"
          }
        },
        "required": [
          "VoiceChannelResponse"
        ],
        "payload": "VoiceChannelResponse"
      }
    },
    "GetVoiceTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/templates/{template-name}/voice",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          },
          "Version": {
            "location": "querystring",
            "locationName": "version"
          }
        },
        "required": [
          "TemplateName"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "VoiceTemplateResponse": {
            "type": "structure",
            "members": {
              "Arn": {},
              "Body": {},
              "CreationDate": {},
              "DefaultSubstitutions": {},
              "LanguageCode": {},
              "LastModifiedDate": {},
              "tags": {
                "shape": "S4",
                "locationName": "tags"
              },
              "TemplateDescription": {},
              "TemplateName": {},
              "TemplateType": {},
              "Version": {},
              "VoiceId": {}
            },
            "required": [
              "LastModifiedDate",
              "CreationDate",
              "TemplateName",
              "TemplateType"
            ]
          }
        },
        "required": [
          "VoiceTemplateResponse"
        ],
        "payload": "VoiceTemplateResponse"
      }
    },
    "ListJourneys": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/journeys",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Token": {
            "location": "querystring",
            "locationName": "token"
          }
        },
        "required": [
          "ApplicationId"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "JourneysResponse": {
            "type": "structure",
            "members": {
              "Item": {
                "type": "list",
                "member": {
                  "shape": "S32"
                }
              },
              "NextToken": {}
            },
            "required": [
              "Item"
            ]
          }
        },
        "required": [
          "JourneysResponse"
        ],
        "payload": "JourneysResponse"
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          }
        },
        "required": [
          "ResourceArn"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "TagsModel": {
            "shape": "S9c"
          }
        },
        "required": [
          "TagsModel"
        ],
        "payload": "TagsModel"
      }
    },
    "ListTemplateVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/templates/{template-name}/{template-type}/versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "TemplateName": {
            "location": "uri",
            "locationName": "template-name"
          },
          "TemplateType": {
            "location": "uri",
            "locationName": "template-type"
          }
        },
        "required": [
          "TemplateName",
          "TemplateType"
        ]
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateVersionsResponse": {
            "type": "structure",
            "members": {
              "Item": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "CreationDate": {},
                    "DefaultSubstitutions": {},
                    "LastModifiedDate": {},
                    "TemplateDescription": {},
                    "TemplateName": {},
                    "TemplateType": {},
                    "Version": {}
                  },
                  "required": [
                    "LastModifiedDate",
                    "CreationDate",
                    "TemplateName",
                    "TemplateType"
                  ]
                }
              },
              "Message": {},
              "NextToken": {},
              "RequestID": {}
            },
            "required": [
              "Item"
            ]
          }
        },
        "required": [
          "TemplateVersionsResponse"
        ],
        "payload": "TemplateVersionsResponse"
      }
    },
    "ListTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/templates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "PageSize": {
            "location": "querystring",
            "locationName": "page-size"
          },
          "Prefix": {
            "location": "querystring",
            "locationName": "prefix"
          },
          "TemplateType": {
            "location": "querystring",
            "locationName": "template-type"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplatesResponse": {
            "type": "structure",
            "members": {
              "Item": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Arn": {},
                    "CreationDate": {},
                    "DefaultSubstitutions": {},
                    "LastModifiedDate": {},
                    "tags": {
                      "shape": "S4",
                      "locationName": "tags"
                    },
                    "TemplateDescription": {},
                    "TemplateName": {},
                    "TemplateType": {},
                    "Version": {}
                  },
                  "required": [
                    "LastModifiedDate",
                    "CreationDate",
                    "TemplateName",
                    "TemplateType"
                  ]
                }
              },
              "NextToken": {}
            },
            "required": [
              "Item"
            ]
          }
        },
        "required": [
          "TemplatesResponse"
        ],
        "payload": "TemplatesResponse"
      }
    },
    "PhoneNumberValidate": {
      "http": {
        "requestUri": "/v1/phone/number/validate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "NumberValidateRequest": {
            "type": "structure",
            "members": {
              "IsoCountryCode": {},
              "PhoneNumber": {}
            }
          }
        },
        "required": [
          "NumberValidateRequest"
        ],
        "payload": "NumberValidateRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "NumberValidateResponse": {
            "type": "structure",
            "members": {
              "Carrier": {},
              "City": {},
              "CleansedPhoneNumberE164": {},
              "CleansedPhoneNumberNational": {},
              "Country": {},
              "CountryCodeIso2": {},
              "CountryCodeNumeric": {},
              "County": {},
              "OriginalCountryCodeIso2": {},
              "OriginalPhoneNumber": {},
              "PhoneType": {},
              "PhoneTypeCode": {
                "type": "integer"
              },
              "Timezone": {},
              "ZipCode": {}
            }
          }
        },
        "required": [
          "NumberValidateResponse"
        ],
        "payload": "NumberValidateResponse"
      }
    },
    "PutEventStream": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/eventstream",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "WriteEventStream": {
            "type": "structure",
            "members": {
              "DestinationStreamArn": {},
              "RoleArn": {}
            },
            "required": [
              "RoleArn",
              "DestinationStreamArn"
            ]
          }
        },
        "required": [
          "ApplicationId",
          "WriteEventStream"
        ],
        "payload": "WriteEventStream"
      },
      "output": {
        "type": "structure",
        "members": {
          "EventStream": {
            "shape": "S52"
          }
        },
        "required": [
          "EventStream"
        ],
        "payload": "EventStream"
      }
    },
    "PutEvents": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/events",
        "responseCode": 202
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "EventsRequest": {
            "type": "structure",
            "members": {
              "BatchItem": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "structure",
                  "members": {
                    "Endpoint": {
                      "type": "structure",
                      "members": {
                        "Address": {},
                        "Attributes": {
                          "shape": "S4u"
                        },
                        "ChannelType": {},
                        "Demographic": {
                          "shape": "S4w"
                        },
                        "EffectiveDate": {},
                        "EndpointStatus": {},
                        "Location": {
                          "shape": "S4x"
                        },
                        "Metrics": {
                          "shape": "S4y"
                        },
                        "OptOut": {},
                        "RequestId": {},
                        "User": {
                          "shape": "S4z"
                        }
                      }
                    },
                    "Events": {
                      "type": "map",
                      "key": {},
                      "value": {
                        "type": "structure",
                        "members": {
                          "AppPackageName": {},
                          "AppTitle": {},
                          "AppVersionCode": {},
                          "Attributes": {
                            "shape": "S4"
                          },
                          "ClientSdkVersion": {},
                          "EventType": {},
                          "Metrics": {
                            "shape": "S4y"
                          },
                          "SdkName": {},
                          "Session": {
                            "type": "structure",
                            "members": {
                              "Duration": {
                                "type": "integer"
                              },
                              "Id": {},
                              "StartTimestamp": {},
                              "StopTimestamp": {}
                            },
                            "required": [
                              "StartTimestamp",
                              "Id"
                            ]
                          },
                          "Timestamp": {}
                        },
                        "required": [
                          "EventType",
                          "Timestamp"
                        ]
                      }
                    }
                  },
                  "required": [
                    "Endpoint",
                    "Events"
                  ]
                }
              }
            },
            "required": [
              "BatchItem"
            ]
          }
        },
        "required": [
          "ApplicationId",
          "EventsRequest"
        ],
        "payload": "EventsRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "EventsResponse": {
            "type": "structure",
            "members": {
              "Results": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "structure",
                  "members": {
                    "EndpointItemResponse": {
                      "type": "structure",
                      "members": {
                        "Message": {},
                        "StatusCode": {
                          "type": "integer"
                        }
                      }
                    },
                    "EventsItemResponse": {
                      "type": "map",
                      "key": {},
                      "value": {
                        "type": "structure",
                        "members": {
                          "Message": {},
                          "StatusCode": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "required": [
          "EventsResponse"
        ],
        "payload": "EventsResponse"
      }
    },
    "RemoveAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/attributes/{attribute-type}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "AttributeType": {
            "location": "uri",
            "locationName": "attribute-type"
          },
          "UpdateAttributesRequest": {
            "type": "structure",
            "members": {
              "Blacklist": {
                "shape": "St"
              }
            }
          }
        },
        "required": [
          "AttributeType",
          "ApplicationId",
          "UpdateAttributesRequest"
        ],
        "payload": "UpdateAttributesRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "AttributesResource": {
            "type": "structure",
            "members": {
              "ApplicationId": {},
              "AttributeType": {},
              "Attributes": {
                "shape": "St"
              }
            },
            "required": [
              "AttributeType",
              "ApplicationId"
            ]
          }
        },
        "required": [
          "AttributesResource"
        ],
        "payload": "AttributesResource"
      }
    },
    "SendMessages": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/messages",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "MessageRequest": {
            "type": "structure",
            "members": {
              "Addresses": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "structure",
                  "members": {
                    "BodyOverride": {},
                    "ChannelType": {},
                    "Context": {
                      "shape": "S4"
                    },
                    "RawContent": {},
                    "Substitutions": {
                      "shape": "S4u"
                    },
                    "TitleOverride": {}
                  }
                }
              },
              "Context": {
                "shape": "S4"
              },
              "Endpoints": {
                "shape": "Sah"
              },
              "MessageConfiguration": {
                "shape": "Saj"
              },
              "TemplateConfiguration": {
                "shape": "S12"
              },
              "TraceId": {}
            },
            "required": [
              "MessageConfiguration"
            ]
          }
        },
        "required": [
          "ApplicationId",
          "MessageRequest"
        ],
        "payload": "MessageRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageResponse": {
            "type": "structure",
            "members": {
              "ApplicationId": {},
              "EndpointResult": {
                "shape": "Saz"
              },
              "RequestId": {},
              "Result": {
                "type": "map",
                "key": {},
                "value": {
                  "type": "structure",
                  "members": {
                    "DeliveryStatus": {},
                    "MessageId": {},
                    "StatusCode": {
                      "type": "integer"
                    },
                    "StatusMessage": {},
                    "UpdatedToken": {}
                  },
                  "required": [
                    "DeliveryStatus",
                    "StatusCode"
                  ]
                }
              }
            },
            "required": [
              "ApplicationId"
            ]
          }
        },
        "required": [
          "MessageResponse"
        ],
        "payload": "MessageResponse"
      }
    },
    "SendUsersMessages": {
      "http": {
        "requestUri": "/v1/apps/{application-id}/users-messages",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          },
          "SendUsersMessageRequest": {
            "type": "structure",
            "members": {
              "Context": {
                "shape": "S4"
              },
              "MessageConfiguration": {
                "shape": "Saj"
              },
              "TemplateConfiguration": {
                "shape": "S12"
              },
              "TraceId": {},
              "Users": {
                "shape": "Sah"
              }
            },
            "required": [
              "MessageConfiguration",
              "Users"
            ]
          }
        },
        "required": [
          "ApplicationId",
          "SendUsersMessageRequest"
        ],
        "payload": "SendUsersMessageRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "SendUsersMessageResponse": {
            "type": "structure",
            "members": {
              "ApplicationId": {},
              "RequestId": {},
              "Result": {
                "type": "map",
                "key": {},
                "value": {
                  "shape": "Saz"
                }
              }
            },
            "required": [
              "ApplicationId"
            ]
          }
        },
        "required": [
          "SendUsersMessageResponse"
        ],
        "payload": "SendUsersMessageResponse"
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/v1/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          },
          "TagsModel": {
            "shape": "S9c"
          }
        },
        "required": [
          "ResourceArn",
          "TagsModel"
        ],
        "payload": "TagsModel"
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resource-arn"
          },
          "TagKeys": {
            "shape": "St",
            "location": "querystring",
            "locationName": "tagKeys"
          }
        },
        "required": [
          "TagKeys",
          "ResourceArn"
        ]
      }
    },
    "UpdateAdmChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/adm",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ADMChannelRequest": {
            "type": "structure",
            "members": {
              "ClientId": {},
              "ClientSecret": {},
              "Enabled": {
                "type": "boolean"
              }
            },
            "required": [
              "ClientSecret",
              "ClientId"
            ]
          },
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId",
          "ADMChannelRequest"
        ],
        "payload": "ADMChannelRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "ADMChannelResponse": {
            "shape": "S41"
          }
        },
        "required": [
          "ADMChannelResponse"
        ],
        "payload": "ADMChannelResponse"
      }
    },
    "UpdateApnsChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/apns",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "APNSChannelRequest": {
            "type": "structure",
            "members": {
              "BundleId": {},
              "Certificate": {},
              "DefaultAuthenticationMethod": {},
              "Enabled": {
                "type": "boolean"
              },
              "PrivateKey": {},
              "TeamId": {},
              "TokenKey": {},
              "TokenKeyId": {}
            }
          },
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId",
          "APNSChannelRequest"
        ],
        "payload": "APNSChannelRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSChannelResponse": {
            "shape": "S44"
          }
        },
        "required": [
          "APNSChannelResponse"
        ],
        "payload": "APNSChannelResponse"
      }
    },
    "UpdateApnsSandboxChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "APNSSandboxChannelRequest": {
            "type": "structure",
            "members": {
              "BundleId": {},
              "Certificate": {},
              "DefaultAuthenticationMethod": {},
              "Enabled": {
                "type": "boolean"
              },
              "PrivateKey": {},
              "TeamId": {},
              "TokenKey": {},
              "TokenKeyId": {}
            }
          },
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId",
          "APNSSandboxChannelRequest"
        ],
        "payload": "APNSSandboxChannelRequest"
      },
      "output": {
        "type": "structure",
        "members": {
          "APNSSandboxChannelResponse": {
            "shape": "S47"
          }
        },
        "required": [
          "APNSSandboxChannelResponse"
        ],
        "payload": "APNSSandboxChannelResponse"
      }
    },
    "UpdateApnsVoipChannel": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "APNSVoipChannelRequest": {
            "type": "structure",
            "members": {
              "BundleId": {},
              "Certificate": {},
              "DefaultAuthenticationMethod": {},
              "Enabled": {
                "type": "boolean"
              },
              "PrivateKey": {},
              "TeamId": {},
              "TokenKey": {},
              "TokenKeyId": {}
            }
          },
          "ApplicationId": {
            "location": "uri",
            "locationName": "application-id"
          }
        },
        "required": [
          "ApplicationId",
          "APNSVoipChannelRequest"
        ],
        "payload": "APNSVoipChannelRequest"
      },
      "output": {
[...]
