{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-07-26",
    "endpointPrefix": "email",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Pinpoint Email",
    "serviceFullName": "Amazon Pinpoint Email Service",
    "serviceId": "Pinpoint Email",
    "signatureVersion": "v4",
    "signingName": "ses",
    "targetPrefix": "com.amazonaws.services.pinpoint.email",
    "uid": "pinpoint-email-2018-07-26"
  },
  "operations": {
    "CreateConfigurationSet": {
      "http": {
        "requestUri": "/v1/email/configuration-sets"
      },
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationSetName": {},
          "TrackingOptions": {
            "shape": "S3"
          },
          "DeliveryOptions": {
            "shape": "S5"
          },
          "ReputationOptions": {
            "shape": "S7"
          },
          "SendingOptions": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateConfigurationSetEventDestination": {
      "http": {
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName",
          "EventDestinationName",
          "EventDestination"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "EventDestinationName": {},
          "EventDestination": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDedicatedIpPool": {
      "http": {
        "requestUri": "/v1/email/dedicated-ip-pools"
      },
      "input": {
        "type": "structure",
        "required": [
          "PoolName"
        ],
        "members": {
          "PoolName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateEmailIdentity": {
      "http": {
        "requestUri": "/v1/email/identities"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityType": {},
          "VerifiedForSendingStatus": {
            "type": "boolean"
          },
          "DkimAttributes": {
            "shape": "Sy"
          }
        }
      }
    },
    "DeleteConfigurationSet": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteConfigurationSetEventDestination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName",
          "EventDestinationName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "EventDestinationName": {
            "location": "uri",
            "locationName": "EventDestinationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDedicatedIpPool": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/dedicated-ip-pools/{PoolName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PoolName"
        ],
        "members": {
          "PoolName": {
            "location": "uri",
            "locationName": "PoolName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteEmailIdentity": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/identities/{EmailIdentity}"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/account"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "SendQuota": {
            "type": "structure",
            "members": {
              "Max24HourSend": {
                "type": "double"
              },
              "MaxSendRate": {
                "type": "double"
              },
              "SentLast24Hours": {
                "type": "double"
              }
            }
          },
          "SendingEnabled": {
            "type": "boolean"
          },
          "DedicatedIpAutoWarmupEnabled": {
            "type": "boolean"
          },
          "EnforcementStatus": {},
          "ProductionAccessEnabled": {
            "type": "boolean"
          }
        }
      }
    },
    "GetConfigurationSet": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationSetName": {},
          "TrackingOptions": {
            "shape": "S3"
          },
          "DeliveryOptions": {
            "shape": "S5"
          },
          "ReputationOptions": {
            "shape": "S7"
          },
          "SendingOptions": {
            "shape": "Sa"
          }
        }
      }
    },
    "GetConfigurationSetEventDestinations": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventDestinations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "MatchingEventTypes"
              ],
              "members": {
                "Name": {},
                "Enabled": {
                  "type": "boolean"
                },
                "MatchingEventTypes": {
                  "shape": "Sf"
                },
                "KinesisFirehoseDestination": {
                  "shape": "Sh"
                },
                "CloudWatchDestination": {
                  "shape": "Sj"
                },
                "SnsDestination": {
                  "shape": "Sp"
                },
                "PinpointDestination": {
                  "shape": "Sq"
                }
              }
            }
          }
        }
      }
    },
    "GetDedicatedIp": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/dedicated-ips/{IP}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Ip"
        ],
        "members": {
          "Ip": {
            "location": "uri",
            "locationName": "IP"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DedicatedIp": {
            "shape": "S1q"
          }
        }
      }
    },
    "GetDedicatedIps": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/dedicated-ips"
      },
      "input": {
        "type": "structure",
        "members": {
          "PoolName": {},
          "NextToken": {},
          "PageSize": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DedicatedIps": {
            "type": "list",
            "member": {
              "shape": "S1q"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetEmailIdentity": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/identities/{EmailIdentity}"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityType": {},
          "FeedbackForwardingStatus": {
            "type": "boolean"
          },
          "VerifiedForSendingStatus": {
            "type": "boolean"
          },
          "DkimAttributes": {
            "shape": "Sy"
          },
          "MailFromAttributes": {
            "type": "structure",
            "required": [
              "MailFromDomain",
              "MailFromDomainStatus",
              "BehaviorOnMxFailure"
            ],
            "members": {
              "MailFromDomain": {},
              "MailFromDomainStatus": {},
              "BehaviorOnMxFailure": {}
            }
          }
        }
      }
    },
    "ListConfigurationSets": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/configuration-sets"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "PageSize": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationSets": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListDedicatedIpPools": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/dedicated-ip-pools"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "PageSize": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DedicatedIpPools": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListEmailIdentities": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/identities"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "PageSize": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EmailIdentities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "IdentityType": {},
                "IdentityName": {},
                "SendingEnabled": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "PutAccountDedicatedIpWarmupAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/account/dedicated-ips/warmup"
      },
      "input": {
        "type": "structure",
        "members": {
          "AutoWarmupEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutAccountSendingAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/account/sending"
      },
      "input": {
        "type": "structure",
        "members": {
          "SendingEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetDeliveryOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/delivery-options"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "SendingPoolName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetReputationOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/reputation-options"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "ReputationMetricsEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetSendingOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/sending"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "SendingEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetTrackingOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/tracking-options"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "CustomRedirectDomain": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutDedicatedIpInPool": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/dedicated-ips/{IP}/pool"
      },
      "input": {
        "type": "structure",
        "required": [
          "Ip",
          "DestinationPoolName"
        ],
        "members": {
          "Ip": {
            "location": "uri",
            "locationName": "IP"
          },
          "DestinationPoolName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutDedicatedIpWarmupAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/dedicated-ips/{IP}/warmup"
      },
      "input": {
        "type": "structure",
        "required": [
          "Ip",
          "WarmupPercentage"
        ],
        "members": {
          "Ip": {
            "location": "uri",
            "locationName": "IP"
          },
          "WarmupPercentage": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEmailIdentityDkimAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/identities/{EmailIdentity}/dkim"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "SigningEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEmailIdentityFeedbackAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/identities/{EmailIdentity}/feedback"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "EmailForwardingEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEmailIdentityMailFromAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/identities/{EmailIdentity}/mail-from"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "MailFromDomain": {},
          "BehaviorOnMxFailure": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SendEmail": {
      "http": {
        "requestUri": "/v1/email/outbound-emails"
      },
      "input": {
        "type": "structure",
        "required": [
          "Destination",
          "Content"
        ],
        "members": {
          "FromEmailAddress": {},
          "Destination": {
            "type": "structure",
            "members": {
              "ToAddresses": {
                "shape": "S34"
              },
              "CcAddresses": {
                "shape": "S34"
              },
              "BccAddresses": {
                "shape": "S34"
              }
            }
          },
          "ReplyToAddresses": {
            "shape": "S34"
          },
          "FeedbackForwardingEmailAddress": {},
          "Content": {
            "type": "structure",
            "members": {
              "Simple": {
                "type": "structure",
                "required": [
                  "Subject",
                  "Body"
                ],
                "members": {
                  "Subject": {
                    "shape": "S37"
                  },
                  "Body": {
                    "type": "structure",
                    "members": {
                      "Text": {
                        "shape": "S37"
                      },
                      "Html": {
                        "shape": "S37"
                      }
                    }
                  }
                }
              },
              "Raw": {
                "type": "structure",
                "required": [
                  "Data"
                ],
                "members": {
                  "Data": {
                    "type": "blob"
                  }
                }
              }
            }
          },
          "EmailTags": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Value"
              ],
              "members": {
                "Name": {},
                "Value": {}
              }
            }
          },
          "ConfigurationSetName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageId": {}
        }
      }
    },
    "UpdateConfigurationSetEventDestination": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName",
          "EventDestinationName",
          "EventDestination"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "EventDestinationName": {
            "location": "uri",
            "locationName": "EventDestinationName"
          },
          "EventDestination": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "structure",
      "required": [
        "CustomRedirectDomain"
      ],
      "members": {
        "CustomRedirectDomain": {}
      }
    },
    "S5": {
      "type": "structure",
      "members": {
        "SendingPoolName": {}
      }
    },
    "S7": {
      "type": "structure",
      "members": {
        "ReputationMetricsEnabled": {
          "type": "boolean"
        },
        "LastFreshStart": {
          "type": "timestamp"
        }
      }
    },
    "Sa": {
      "type": "structure",
      "members": {
        "SendingEnabled": {
          "type": "boolean"
        }
      }
    },
    "Se": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "MatchingEventTypes": {
          "shape": "Sf"
        },
        "KinesisFirehoseDestination": {
          "shape": "Sh"
        },
        "CloudWatchDestination": {
          "shape": "Sj"
        },
        "SnsDestination": {
          "shape": "Sp"
        },
        "PinpointDestination": {
          "shape": "Sq"
        }
      }
    },
    "Sf": {
      "type": "list",
      "member": {}
    },
    "Sh": {
      "type": "structure",
      "required": [
        "IamRoleArn",
        "DeliveryStreamArn"
      ],
      "members": {
        "IamRoleArn": {},
        "DeliveryStreamArn": {}
      }
    },
    "Sj": {
      "type": "structure",
      "required": [
        "DimensionConfigurations"
      ],
      "members": {
        "DimensionConfigurations": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "DimensionName",
              "DimensionValueSource",
              "DefaultDimensionValue"
            ],
            "members": {
              "DimensionName": {},
              "DimensionValueSource": {},
              "DefaultDimensionValue": {}
            }
          }
        }
      }
    },
    "Sp": {
      "type": "structure",
      "required": [
        "TopicArn"
      ],
      "members": {
        "TopicArn": {}
      }
    },
    "Sq": {
      "type": "structure",
      "members": {
        "ApplicationArn": {}
      }
    },
    "Sy": {
      "type": "structure",
      "members": {
        "SigningEnabled": {
          "type": "boolean"
        },
        "Status": {},
        "Tokens": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S1q": {
      "type": "structure",
      "required": [
        "Ip",
        "WarmupStatus",
        "WarmupPercentage"
      ],
      "members": {
        "Ip": {},
        "WarmupStatus": {},
        "WarmupPercentage": {
          "type": "integer"
        },
        "PoolName": {}
      }
    },
    "S34": {
      "type": "list",
      "member": {}
    },
    "S37": {
      "type": "structure",
      "required": [
        "Data"
      ],
      "members": {
        "Data": {},
        "Charset": {}
      }
    }
  }
}