{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-07-26",
    "endpointPrefix": "email",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Pinpoint Email",
    "serviceFullName": "Amazon Pinpoint Email Service",
    "serviceId": "Pinpoint Email",
    "signatureVersion": "v4",
    "signingName": "ses",
    "targetPrefix": "com.amazonaws.services.pinpoint.email",
    "uid": "pinpoint-email-2018-07-26"
  },
  "operations": {
    "CreateConfigurationSet": {
      "http": {
        "requestUri": "/v1/email/configuration-sets"
      },
      "input": {
        "type": "structure",
        "members": {
          "ConfigurationSetName": {},
          "TrackingOptions": {
            "shape": "S3"
          },
          "DeliveryOptions": {
            "shape": "S5"
          },
          "ReputationOptions": {
            "shape": "S7"
          },
          "SendingOptions": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateConfigurationSetEventDestination": {
      "http": {
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName",
          "EventDestinationName",
          "EventDestination"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "EventDestinationName": {},
          "EventDestination": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDedicatedIpPool": {
      "http": {
        "requestUri": "/v1/email/dedicated-ip-pools"
      },
      "input": {
        "type": "structure",
        "required": [
          "PoolName"
        ],
        "members": {
          "PoolName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDeliverabilityTestReport": {
      "http": {
        "requestUri": "/v1/email/deliverability-dashboard/test"
      },
      "input": {
        "type": "structure",
        "required": [
          "FromEmailAddress",
          "Content"
        ],
        "members": {
          "ReportName": {},
          "FromEmailAddress": {},
          "Content": {
            "shape": "Sx"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ReportId",
          "DeliverabilityTestStatus"
        ],
        "members": {
          "ReportId": {},
          "DeliverabilityTestStatus": {}
        }
      }
    },
    "CreateEmailIdentity": {
      "http": {
        "requestUri": "/v1/email/identities"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityType": {},
          "VerifiedForSendingStatus": {
            "type": "boolean"
          },
          "DkimAttributes": {
            "shape": "S1c"
          }
        }
      }
    },
    "DeleteConfigurationSet": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteConfigurationSetEventDestination": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName",
          "EventDestinationName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "EventDestinationName": {
            "location": "uri",
            "locationName": "EventDestinationName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteDedicatedIpPool": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/dedicated-ip-pools/{PoolName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PoolName"
        ],
        "members": {
          "PoolName": {
            "location": "uri",
            "locationName": "PoolName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteEmailIdentity": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/identities/{EmailIdentity}"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetAccount": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/account"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "SendQuota": {
            "type": "structure",
            "members": {
              "Max24HourSend": {
                "type": "double"
              },
              "MaxSendRate": {
                "type": "double"
              },
              "SentLast24Hours": {
                "type": "double"
              }
            }
          },
          "SendingEnabled": {
            "type": "boolean"
          },
          "DedicatedIpAutoWarmupEnabled": {
            "type": "boolean"
          },
          "EnforcementStatus": {},
          "ProductionAccessEnabled": {
            "type": "boolean"
          }
        }
      }
    },
    "GetBlacklistReports": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/deliverability-dashboard/blacklist-report"
      },
      "input": {
        "type": "structure",
        "required": [
          "BlacklistItemNames"
        ],
        "members": {
          "BlacklistItemNames": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "BlacklistReport"
        ],
        "members": {
          "BlacklistReport": {
            "type": "map",
            "key": {},
            "value": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "RblName": {},
                  "ListingTime": {
                    "type": "timestamp"
                  },
                  "Description": {}
                }
              }
            }
          }
        }
      }
    },
    "GetConfigurationSet": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationSetName": {},
          "TrackingOptions": {
            "shape": "S3"
          },
          "DeliveryOptions": {
            "shape": "S5"
          },
          "ReputationOptions": {
            "shape": "S7"
          },
          "SendingOptions": {
            "shape": "Sa"
          }
        }
      }
    },
    "GetConfigurationSetEventDestinations": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EventDestinations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "MatchingEventTypes"
              ],
              "members": {
                "Name": {},
                "Enabled": {
                  "type": "boolean"
                },
                "MatchingEventTypes": {
                  "shape": "Sf"
                },
                "KinesisFirehoseDestination": {
                  "shape": "Sh"
                },
                "CloudWatchDestination": {
                  "shape": "Sj"
                },
                "SnsDestination": {
                  "shape": "Sp"
                },
                "PinpointDestination": {
                  "shape": "Sq"
                }
              }
            }
          }
        }
      }
    },
    "GetDedicatedIp": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/dedicated-ips/{IP}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Ip"
        ],
        "members": {
          "Ip": {
            "location": "uri",
            "locationName": "IP"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DedicatedIp": {
            "shape": "S2e"
          }
        }
      }
    },
    "GetDedicatedIps": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/dedicated-ips"
      },
      "input": {
        "type": "structure",
        "members": {
          "PoolName": {},
          "NextToken": {},
          "PageSize": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DedicatedIps": {
            "type": "list",
            "member": {
              "shape": "S2e"
            }
          },
          "NextToken": {}
        }
      }
    },
    "GetDeliverabilityDashboardOptions": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/deliverability-dashboard"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "DashboardEnabled"
        ],
        "members": {
          "DashboardEnabled": {
            "type": "boolean"
          }
        }
      }
    },
    "GetDeliverabilityTestReport": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/deliverability-dashboard/test-reports/{ReportId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ReportId"
        ],
        "members": {
          "ReportId": {
            "location": "uri",
            "locationName": "ReportId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeliverabilityTestReport",
          "OverallPlacement",
          "IspPlacements"
        ],
        "members": {
          "DeliverabilityTestReport": {
            "shape": "S2q"
          },
          "OverallPlacement": {
            "shape": "S2s"
          },
          "IspPlacements": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "IspName": {},
                "PlacementStatistics": {
                  "shape": "S2s"
                }
              }
            }
          },
          "Message": {}
        }
      }
    },
    "GetDomainStatisticsReport": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/deliverability-dashboard/statistics-report/{Domain}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Domain",
          "StartDate",
          "EndDate"
        ],
        "members": {
          "Domain": {
            "location": "uri",
            "locationName": "Domain"
          },
          "StartDate": {
            "type": "timestamp"
          },
          "EndDate": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "OverallVolume",
          "DailyVolumes"
        ],
        "members": {
          "OverallVolume": {
            "type": "structure",
            "members": {
              "VolumeStatistics": {
                "shape": "S31"
              },
              "ReadRatePercent": {
                "type": "double"
              },
              "DomainIspPlacements": {
                "shape": "S33"
              }
            }
          },
          "DailyVolumes": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "StartDate": {
                  "type": "timestamp"
                },
                "VolumeStatistics": {
                  "shape": "S31"
                },
                "DomainIspPlacements": {
                  "shape": "S33"
                }
              }
            }
          }
        }
      }
    },
    "GetEmailIdentity": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/identities/{EmailIdentity}"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IdentityType": {},
          "FeedbackForwardingStatus": {
            "type": "boolean"
          },
          "VerifiedForSendingStatus": {
            "type": "boolean"
          },
          "DkimAttributes": {
            "shape": "S1c"
          },
          "MailFromAttributes": {
            "type": "structure",
            "required": [
              "MailFromDomain",
              "MailFromDomainStatus",
              "BehaviorOnMxFailure"
            ],
            "members": {
              "MailFromDomain": {},
              "MailFromDomainStatus": {},
              "BehaviorOnMxFailure": {}
            }
          }
        }
      }
    },
    "ListConfigurationSets": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/configuration-sets"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "PageSize": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ConfigurationSets": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListDedicatedIpPools": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/dedicated-ip-pools"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "PageSize": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DedicatedIpPools": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListDeliverabilityTestReports": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/deliverability-dashboard/test-reports"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "PageSize": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeliverabilityTestReports"
        ],
        "members": {
          "DeliverabilityTestReports": {
            "type": "list",
            "member": {
              "shape": "S2q"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListEmailIdentities": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/identities"
      },
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "PageSize": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EmailIdentities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "IdentityType": {},
                "IdentityName": {},
                "SendingEnabled": {
                  "type": "boolean"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "PutAccountDedicatedIpWarmupAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/account/dedicated-ips/warmup"
      },
      "input": {
        "type": "structure",
        "members": {
          "AutoWarmupEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutAccountSendingAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/account/sending"
      },
      "input": {
        "type": "structure",
        "members": {
          "SendingEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetDeliveryOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/delivery-options"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "SendingPoolName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetReputationOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/reputation-options"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "ReputationMetricsEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetSendingOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/sending"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "SendingEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutConfigurationSetTrackingOptions": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/tracking-options"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "CustomRedirectDomain": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutDedicatedIpInPool": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/dedicated-ips/{IP}/pool"
      },
      "input": {
        "type": "structure",
        "required": [
          "Ip",
          "DestinationPoolName"
        ],
        "members": {
          "Ip": {
            "location": "uri",
            "locationName": "IP"
          },
          "DestinationPoolName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutDedicatedIpWarmupAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/dedicated-ips/{IP}/warmup"
      },
      "input": {
        "type": "structure",
        "required": [
          "Ip",
          "WarmupPercentage"
        ],
        "members": {
          "Ip": {
            "location": "uri",
            "locationName": "IP"
          },
          "WarmupPercentage": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutDeliverabilityDashboardOption": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/deliverability-dashboard"
      },
      "input": {
        "type": "structure",
        "required": [
          "DashboardEnabled"
        ],
        "members": {
          "DashboardEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEmailIdentityDkimAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/identities/{EmailIdentity}/dkim"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "SigningEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEmailIdentityFeedbackAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/identities/{EmailIdentity}/feedback"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "EmailForwardingEnabled": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "PutEmailIdentityMailFromAttributes": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/identities/{EmailIdentity}/mail-from"
      },
      "input": {
        "type": "structure",
        "required": [
          "EmailIdentity"
        ],
        "members": {
          "EmailIdentity": {
            "location": "uri",
            "locationName": "EmailIdentity"
          },
          "MailFromDomain": {},
          "BehaviorOnMxFailure": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SendEmail": {
      "http": {
        "requestUri": "/v1/email/outbound-emails"
      },
      "input": {
        "type": "structure",
        "required": [
          "Destination",
          "Content"
        ],
        "members": {
          "FromEmailAddress": {},
          "Destination": {
            "type": "structure",
            "members": {
              "ToAddresses": {
                "shape": "S4h"
              },
              "CcAddresses": {
                "shape": "S4h"
              },
              "BccAddresses": {
                "shape": "S4h"
              }
            }
          },
          "ReplyToAddresses": {
            "shape": "S4h"
          },
          "FeedbackForwardingEmailAddress": {},
          "Content": {
            "shape": "Sx"
          },
          "EmailTags": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Value"
              ],
              "members": {
                "Name": {},
                "Value": {}
              }
            }
          },
          "ConfigurationSetName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "MessageId": {}
        }
      }
    },
    "UpdateConfigurationSetEventDestination": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigurationSetName",
          "EventDestinationName",
          "EventDestination"
        ],
        "members": {
          "ConfigurationSetName": {
            "location": "uri",
            "locationName": "ConfigurationSetName"
          },
          "EventDestinationName": {
            "location": "uri",
            "locationName": "EventDestinationName"
          },
          "EventDestination": {
            "shape": "Se"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "structure",
      "required": [
        "CustomRedirectDomain"
      ],
      "members": {
        "CustomRedirectDomain": {}
      }
    },
    "S5": {
      "type": "structure",
      "members": {
        "SendingPoolName": {}
      }
    },
    "S7": {
      "type": "structure",
      "members": {
        "ReputationMetricsEnabled": {
          "type": "boolean"
        },
        "LastFreshStart": {
          "type": "timestamp"
        }
      }
    },
    "Sa": {
      "type": "structure",
      "members": {
        "SendingEnabled": {
          "type": "boolean"
        }
      }
    },
    "Se": {
      "type": "structure",
      "members": {
        "Enabled": {
          "type": "boolean"
        },
        "MatchingEventTypes": {
          "shape": "Sf"
        },
        "KinesisFirehoseDestination": {
          "shape": "Sh"
        },
        "CloudWatchDestination": {
          "shape": "Sj"
        },
        "SnsDestination": {
          "shape": "Sp"
        },
        "PinpointDestination": {
          "shape": "Sq"
        }
      }
    },
    "Sf": {
      "type": "list",
      "member": {}
    },
    "Sh": {
      "type": "structure",
      "required": [
        "IamRoleArn",
        "DeliveryStreamArn"
      ],
      "members": {
        "IamRoleArn": {},
        "DeliveryStreamArn": {}
      }
    },
    "Sj": {
      "type": "structure",
      "required": [
        "DimensionConfigurations"
      ],
      "members": {
        "DimensionConfigurations": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "DimensionName",
              "DimensionValueSource",
              "DefaultDimensionValue"
            ],
            "members": {
              "DimensionName": {},
              "DimensionValueSource": {},
              "DefaultDimensionValue": {}
            }
          }
        }
      }
    },
    "Sp": {
      "type": "structure",
      "required": [
        "TopicArn"
      ],
      "members": {
        "TopicArn": {}
      }
    },
    "Sq": {
      "type": "structure",
      "members": {
        "ApplicationArn": {}
      }
    },
    "Sx": {
      "type": "structure",
      "members": {
        "Simple": {
          "type": "structure",
          "required": [
            "Subject",
            "Body"
          ],
          "members": {
            "Subject": {
              "shape": "Sz"
            },
            "Body": {
              "type": "structure",
              "members": {
                "Text": {
                  "shape": "Sz"
                },
                "Html": {
                  "shape": "Sz"
                }
              }
            }
          }
        },
        "Raw": {
          "type": "structure",
          "required": [
            "Data"
          ],
          "members": {
            "Data": {
              "type": "blob"
            }
          }
        }
      }
    },
    "Sz": {
      "type": "structure",
      "required": [
        "Data"
      ],
      "members": {
        "Data": {},
        "Charset": {}
      }
    },
    "S1c": {
      "type": "structure",
      "members": {
        "SigningEnabled": {
          "type": "boolean"
        },
        "Status": {},
        "Tokens": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S2e": {
      "type": "structure",
      "required": [
        "Ip",
        "WarmupStatus",
        "WarmupPercentage"
      ],
      "members": {
        "Ip": {},
        "WarmupStatus": {},
        "WarmupPercentage": {
          "type": "integer"
        },
        "PoolName": {}
      }
    },
    "S2q": {
      "type": "structure",
      "members": {
        "ReportId": {},
        "ReportName": {},
        "Subject": {},
        "FromEmailAddress": {},
        "CreateDate": {
          "type": "timestamp"
        },
        "DeliverabilityTestStatus": {}
      }
    },
    "S2s": {
      "type": "structure",
      "members": {
        "InboxPercentage": {
          "type": "double"
        },
        "SpamPercentage": {
          "type": "double"
        },
        "MissingPercentage": {
          "type": "double"
        },
        "SpfPercentage": {
          "type": "double"
        },
        "DkimPercentage": {
          "type": "double"
        }
      }
    },
    "S31": {
      "type": "structure",
      "members": {
        "InboxRawCount": {
          "type": "long"
        },
        "SpamRawCount": {
          "type": "long"
        },
        "ProjectedInbox": {
          "type": "long"
        },
        "ProjectedSpam": {
          "type": "long"
        }
      }
    },
    "S33": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "IspName": {},
          "InboxRawCount": {
            "type": "long"
          },
          "SpamRawCount": {
            "type": "long"
          },
          "InboxPercentage": {
            "type": "double"
          },
          "SpamPercentage": {
            "type": "double"
          }
        }
      }
    },
    "S4h": {
      "type": "list",
      "member": {}
    }
  }
}