{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2021-12-03",
    "endpointPrefix": "private-networks",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Private 5G",
    "serviceId": "PrivateNetworks",
    "signatureVersion": "v4",
    "signingName": "private-networks",
    "uid": "privatenetworks-2021-12-03"
  },
  "operations": {
    "AcknowledgeOrderReceipt": {
      "http": {
        "requestUri": "/v1/orders/acknowledge",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "orderArn"
        ],
        "members": {
          "orderArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "order"
        ],
        "members": {
          "order": {
            "shape": "S4"
          }
        }
      }
    },
    "ActivateDeviceIdentifier": {
      "http": {
        "requestUri": "/v1/device-identifiers/activate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "deviceIdentifierArn"
        ],
        "members": {
          "clientToken": {},
          "deviceIdentifierArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "deviceIdentifier"
        ],
        "members": {
          "deviceIdentifier": {
            "shape": "Sf"
          },
          "tags": {
            "shape": "Si"
          }
        }
      },
      "idempotent": true
    },
    "ActivateNetworkSite": {
      "http": {
        "requestUri": "/v1/network-sites/activate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkSiteArn",
          "shippingAddress"
        ],
        "members": {
          "clientToken": {},
          "networkSiteArn": {},
          "shippingAddress": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkSite": {
            "shape": "Sn"
          }
        }
      },
      "idempotent": true
    },
    "ConfigureAccessPoint": {
      "http": {
        "requestUri": "/v1/network-resources/configure",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "accessPointArn"
        ],
        "members": {
          "accessPointArn": {},
          "cpiSecretKey": {
            "type": "string",
            "sensitive": true
          },
          "cpiUserId": {
            "type": "string",
            "sensitive": true
          },
          "cpiUserPassword": {
            "type": "string",
            "sensitive": true
          },
          "cpiUsername": {
            "type": "string",
            "sensitive": true
          },
          "position": {
            "shape": "S13"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "accessPoint"
        ],
        "members": {
          "accessPoint": {
            "shape": "S18"
          }
        }
      },
      "idempotent": true
    },
    "CreateNetwork": {
      "http": {
        "requestUri": "/v1/networks",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkName"
        ],
        "members": {
          "clientToken": {},
          "description": {},
          "networkName": {},
          "tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "network"
        ],
        "members": {
          "network": {
            "shape": "S1g"
          },
          "tags": {
            "shape": "Si"
          }
        }
      },
      "idempotent": true
    },
    "CreateNetworkSite": {
      "http": {
        "requestUri": "/v1/network-sites",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkArn",
          "networkSiteName"
        ],
        "members": {
          "availabilityZone": {},
          "availabilityZoneId": {},
          "clientToken": {},
          "description": {},
          "networkArn": {},
          "networkSiteName": {},
          "pendingPlan": {
            "shape": "So"
          },
          "tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkSite": {
            "shape": "Sn"
          },
          "tags": {
            "shape": "Si"
          }
        }
      },
      "idempotent": true
    },
    "DeactivateDeviceIdentifier": {
      "http": {
        "requestUri": "/v1/device-identifiers/deactivate",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "deviceIdentifierArn"
        ],
        "members": {
          "clientToken": {},
          "deviceIdentifierArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "deviceIdentifier"
        ],
        "members": {
          "deviceIdentifier": {
            "shape": "Sf"
          }
        }
      },
      "idempotent": true
    },
    "DeleteNetwork": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/networks/{networkArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkArn"
        ],
        "members": {
          "clientToken": {
            "location": "querystring",
            "locationName": "clientToken"
          },
          "networkArn": {
            "location": "uri",
            "locationName": "networkArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "network"
        ],
        "members": {
          "network": {
            "shape": "S1g"
          }
        }
      },
      "idempotent": true
    },
    "DeleteNetworkSite": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/network-sites/{networkSiteArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkSiteArn"
        ],
        "members": {
          "clientToken": {
            "location": "querystring",
            "locationName": "clientToken"
          },
          "networkSiteArn": {
            "location": "uri",
            "locationName": "networkSiteArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkSite": {
            "shape": "Sn"
          }
        }
      },
      "idempotent": true
    },
    "GetDeviceIdentifier": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/device-identifiers/{deviceIdentifierArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "deviceIdentifierArn"
        ],
        "members": {
          "deviceIdentifierArn": {
            "location": "uri",
            "locationName": "deviceIdentifierArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deviceIdentifier": {
            "shape": "Sf"
          },
          "tags": {
            "shape": "Si"
          }
        }
      }
    },
    "GetNetwork": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/networks/{networkArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkArn"
        ],
        "members": {
          "networkArn": {
            "location": "uri",
            "locationName": "networkArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "network"
        ],
        "members": {
          "network": {
            "shape": "S1g"
          },
          "tags": {
            "shape": "Si"
          }
        }
      }
    },
    "GetNetworkResource": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/network-resources/{networkResourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkResourceArn"
        ],
        "members": {
          "networkResourceArn": {
            "location": "uri",
            "locationName": "networkResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "networkResource"
        ],
        "members": {
          "networkResource": {
            "shape": "S18"
          },
          "tags": {
            "shape": "Si"
          }
        }
      }
    },
    "GetNetworkSite": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/network-sites/{networkSiteArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkSiteArn"
        ],
        "members": {
          "networkSiteArn": {
            "location": "uri",
            "locationName": "networkSiteArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkSite": {
            "shape": "Sn"
          },
          "tags": {
            "shape": "Si"
          }
        }
      }
    },
    "GetOrder": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/orders/{orderArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "orderArn"
        ],
        "members": {
          "orderArn": {
            "location": "uri",
            "locationName": "orderArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "order"
        ],
        "members": {
          "order": {
            "shape": "S4"
          },
          "tags": {
            "shape": "Si"
          }
        }
      }
    },
    "ListDeviceIdentifiers": {
      "http": {
        "requestUri": "/v1/device-identifiers/list",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkArn"
        ],
        "members": {
          "filters": {
            "type": "map",
            "key": {},
            "value": {
              "type": "list",
              "member": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "networkArn": {},
          "startToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deviceIdentifiers": {
            "type": "list",
            "member": {
              "shape": "Sf"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListNetworkResources": {
      "http": {
        "requestUri": "/v1/network-resources",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkArn"
        ],
        "members": {
          "filters": {
            "type": "map",
            "key": {},
            "value": {
              "type": "list",
              "member": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "networkArn": {},
          "startToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkResources": {
            "type": "list",
            "member": {
              "shape": "S18"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListNetworkSites": {
      "http": {
        "requestUri": "/v1/network-sites/list",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkArn"
        ],
        "members": {
          "filters": {
            "type": "map",
            "key": {},
            "value": {
              "type": "list",
              "member": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "networkArn": {},
          "startToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkSites": {
            "type": "list",
            "member": {
              "shape": "Sn"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListNetworks": {
      "http": {
        "requestUri": "/v1/networks/list",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "type": "map",
            "key": {},
            "value": {
              "type": "list",
              "member": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "startToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networks": {
            "type": "list",
            "member": {
              "shape": "S1g"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListOrders": {
      "http": {
        "requestUri": "/v1/orders/list",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkArn"
        ],
        "members": {
          "filters": {
            "type": "map",
            "key": {},
            "value": {
              "type": "list",
              "member": {}
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "networkArn": {},
          "startToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "orders": {
            "type": "list",
            "member": {
              "shape": "S4"
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "Si"
          }
        }
      }
    },
    "Ping": {
      "http": {
        "method": "GET",
        "requestUri": "/ping",
        "responseCode": 200
      },
      "output": {
        "type": "structure",
        "members": {
          "status": {}
        }
      }
    },
    "StartNetworkResourceUpdate": {
      "http": {
        "requestUri": "/v1/network-resources/update",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkResourceArn",
          "updateType"
        ],
        "members": {
          "networkResourceArn": {},
          "returnReason": {},
          "shippingAddress": {
            "shape": "S7"
          },
          "updateType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "networkResource": {
            "shape": "S18"
          }
        }
      },
      "idempotent": true
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {},
            "sensitive": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateNetworkSite": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/network-sites/site",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkSiteArn"
        ],
        "members": {
          "clientToken": {},
          "description": {},
          "networkSiteArn": {}
        }
      },
      "output": {
        "shape": "S3d"
      },
      "idempotent": true
    },
    "UpdateNetworkSitePlan": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/network-sites/plan",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "networkSiteArn",
          "pendingPlan"
        ],
        "members": {
          "clientToken": {},
          "networkSiteArn": {},
          "pendingPlan": {
            "shape": "So"
          }
        }
      },
      "output": {
        "shape": "S3d"
      },
      "idempotent": true
    }
  },
  "shapes": {
    "S4": {
      "type": "structure",
      "members": {
        "acknowledgmentStatus": {},
        "createdAt": {
          "shape": "S6"
        },
        "networkArn": {},
        "networkSiteArn": {},
        "orderArn": {},
        "shippingAddress": {
          "shape": "S7"
        },
        "trackingInformation": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "trackingNumber": {}
            }
          }
        }
      }
    },
    "S6": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S7": {
      "type": "structure",
      "required": [
        "city",
        "country",
        "name",
        "postalCode",
        "stateOrProvince",
        "street1"
      ],
      "members": {
        "city": {
          "shape": "S8"
        },
        "company": {
          "shape": "S8"
        },
        "country": {
          "shape": "S8"
        },
        "name": {
          "shape": "S8"
        },
        "phoneNumber": {
          "shape": "S8"
        },
        "postalCode": {
          "shape": "S8"
        },
        "stateOrProvince": {
          "shape": "S8"
        },
        "street1": {
          "shape": "S8"
        },
        "street2": {
          "shape": "S8"
        },
        "street3": {
          "shape": "S8"
        }
      }
    },
    "S8": {
      "type": "string",
      "sensitive": true
    },
    "Sf": {
      "type": "structure",
      "members": {
        "createdAt": {
          "shape": "S6"
        },
        "deviceIdentifierArn": {},
        "iccid": {},
        "imsi": {
          "type": "string",
          "sensitive": true
        },
        "networkArn": {},
        "orderArn": {},
        "status": {},
        "trafficGroupArn": {},
        "vendor": {}
      }
    },
    "Si": {
      "type": "map",
      "key": {},
      "value": {},
      "sensitive": true
    },
    "Sn": {
      "type": "structure",
      "required": [
        "networkArn",
        "networkSiteArn",
        "networkSiteName",
        "status"
      ],
      "members": {
        "availabilityZone": {},
        "availabilityZoneId": {},
        "createdAt": {
          "shape": "S6"
        },
        "currentPlan": {
          "shape": "So"
        },
        "description": {},
        "networkArn": {},
        "networkSiteArn": {},
        "networkSiteName": {},
        "pendingPlan": {
          "shape": "So"
        },
        "status": {},
        "statusReason": {}
      }
    },
    "So": {
      "type": "structure",
      "members": {
        "options": {
          "shape": "Sp"
        },
        "resourceDefinitions": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "count",
              "type"
            ],
            "members": {
              "count": {
                "type": "integer"
              },
              "options": {
                "shape": "Sp"
              },
              "type": {}
            }
          }
        }
      }
    },
    "Sp": {
      "type": "list",
      "member": {
        "shape": "Sq"
      }
    },
    "Sq": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members": {
        "name": {},
        "value": {}
      }
    },
    "S13": {
      "type": "structure",
      "members": {
        "elevation": {
          "type": "double"
        },
        "elevationReference": {},
        "elevationUnit": {},
        "latitude": {
          "type": "double"
        },
        "longitude": {
          "type": "double"
        }
      }
    },
    "S18": {
      "type": "structure",
      "members": {
        "attributes": {
          "type": "list",
          "member": {
            "shape": "Sq"
          }
        },
        "createdAt": {
          "shape": "S6"
        },
        "description": {},
        "health": {},
        "model": {},
        "networkArn": {},
        "networkResourceArn": {},
        "networkSiteArn": {},
        "orderArn": {},
        "position": {
          "shape": "S13"
        },
        "returnInformation": {
          "type": "structure",
          "members": {
            "replacementOrderArn": {},
            "returnReason": {},
            "shippingAddress": {
              "shape": "S7"
            },
            "shippingLabel": {}
          }
        },
        "serialNumber": {},
        "status": {},
        "statusReason": {},
        "type": {},
        "vendor": {}
      }
    },
    "S1g": {
      "type": "structure",
      "required": [
        "networkArn",
        "networkName",
        "status"
      ],
      "members": {
        "createdAt": {
          "shape": "S6"
        },
        "description": {},
        "networkArn": {},
        "networkName": {},
        "status": {},
        "statusReason": {}
      }
    },
    "S3d": {
      "type": "structure",
      "members": {
        "networkSite": {
          "shape": "Sn"
        },
        "tags": {
          "shape": "Si"
        }
      }
    }
  }
}