{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-07-20",
    "endpointPrefix": "proton",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceFullName": "AWS Proton",
    "serviceId": "Proton",
    "signatureVersion": "v4",
    "signingName": "proton",
    "targetPrefix": "AwsProton20200720",
    "uid": "proton-2020-07-20"
  },
  "operations": {
    "AcceptEnvironmentAccountConnection": {
      "input": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environmentAccountConnection"
        ],
        "members": {
          "environmentAccountConnection": {
            "shape": "S4"
          }
        }
      },
      "idempotent": true
    },
    "CancelEnvironmentDeployment": {
      "input": {
        "type": "structure",
        "required": [
          "environmentName"
        ],
        "members": {
          "environmentName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environment"
        ],
        "members": {
          "environment": {
            "shape": "Sd"
          }
        }
      }
    },
    "CancelServiceInstanceDeployment": {
      "input": {
        "type": "structure",
        "required": [
          "serviceInstanceName",
          "serviceName"
        ],
        "members": {
          "serviceInstanceName": {},
          "serviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "serviceInstance"
        ],
        "members": {
          "serviceInstance": {
            "shape": "Ss"
          }
        }
      }
    },
    "CancelServicePipelineDeployment": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName"
        ],
        "members": {
          "serviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "pipeline"
        ],
        "members": {
          "pipeline": {
            "shape": "Sw"
          }
        }
      }
    },
    "CreateEnvironment": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "spec",
          "templateMajorVersion",
          "templateName"
        ],
        "members": {
          "description": {
            "shape": "Sh"
          },
          "environmentAccountConnectionId": {},
          "name": {},
          "protonServiceRoleArn": {},
          "provisioningRepository": {
            "shape": "Sy"
          },
          "spec": {
            "shape": "So"
          },
          "tags": {
            "shape": "Sz"
          },
          "templateMajorVersion": {},
          "templateMinorVersion": {},
          "templateName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environment"
        ],
        "members": {
          "environment": {
            "shape": "Sd"
          }
        }
      },
      "idempotent": true
    },
    "CreateEnvironmentAccountConnection": {
      "input": {
        "type": "structure",
        "required": [
          "environmentName",
          "managementAccountId",
          "roleArn"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "environmentName": {},
          "managementAccountId": {},
          "roleArn": {},
          "tags": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environmentAccountConnection"
        ],
        "members": {
          "environmentAccountConnection": {
            "shape": "S4"
          }
        }
      },
      "idempotent": true
    },
    "CreateEnvironmentTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "description": {
            "shape": "Sh"
          },
          "displayName": {
            "shape": "S18"
          },
          "encryptionKey": {},
          "name": {},
          "provisioning": {},
          "tags": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environmentTemplate"
        ],
        "members": {
          "environmentTemplate": {
            "shape": "S1a"
          }
        }
      },
      "idempotent": true
    },
    "CreateEnvironmentTemplateVersion": {
      "input": {
        "type": "structure",
        "required": [
          "source",
          "templateName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "description": {
            "shape": "Sh"
          },
          "majorVersion": {},
          "source": {
            "shape": "S1e"
          },
          "tags": {
            "shape": "Sz"
          },
          "templateName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environmentTemplateVersion"
        ],
        "members": {
          "environmentTemplateVersion": {
            "shape": "S1j"
          }
        }
      },
      "idempotent": true
    },
    "CreateRepository": {
      "input": {
        "type": "structure",
        "required": [
          "connectionArn",
          "name",
          "provider"
        ],
        "members": {
          "connectionArn": {},
          "encryptionKey": {},
          "name": {},
          "provider": {},
          "tags": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "repository"
        ],
        "members": {
          "repository": {
            "shape": "S1p"
          }
        }
      },
      "idempotent": true
    },
    "CreateService": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "spec",
          "templateMajorVersion",
          "templateName"
        ],
        "members": {
          "branchName": {},
          "description": {
            "shape": "Sh"
          },
          "name": {},
          "repositoryConnectionArn": {},
          "repositoryId": {},
          "spec": {
            "shape": "So"
          },
          "tags": {
            "shape": "Sz"
          },
          "templateMajorVersion": {},
          "templateMinorVersion": {},
          "templateName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "service"
        ],
        "members": {
          "service": {
            "shape": "S1t"
          }
        }
      },
      "idempotent": true
    },
    "CreateServiceTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "description": {
            "shape": "Sh"
          },
          "displayName": {
            "shape": "S18"
          },
          "encryptionKey": {},
          "name": {},
          "pipelineProvisioning": {},
          "tags": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "serviceTemplate"
        ],
        "members": {
          "serviceTemplate": {
            "shape": "S1y"
          }
        }
      },
      "idempotent": true
    },
    "CreateServiceTemplateVersion": {
      "input": {
        "type": "structure",
        "required": [
          "compatibleEnvironmentTemplates",
          "source",
          "templateName"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "compatibleEnvironmentTemplates": {
            "shape": "S21"
          },
          "description": {
            "shape": "Sh"
          },
          "majorVersion": {},
          "source": {
            "shape": "S1e"
          },
          "tags": {
            "shape": "Sz"
          },
          "templateName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "serviceTemplateVersion"
        ],
        "members": {
          "serviceTemplateVersion": {
            "shape": "S24"
          }
        }
      },
      "idempotent": true
    },
    "CreateTemplateSyncConfig": {
      "input": {
        "type": "structure",
        "required": [
          "branch",
          "repositoryName",
          "repositoryProvider",
          "templateName",
          "templateType"
        ],
        "members": {
          "branch": {},
          "repositoryName": {},
          "repositoryProvider": {},
          "subdirectory": {},
          "templateName": {},
          "templateType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "templateSyncConfig": {
            "shape": "S2c"
          }
        }
      },
      "idempotent": true
    },
    "DeleteEnvironment": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "environment": {
            "shape": "Sd"
          }
        }
      },
      "idempotent": true
    },
    "DeleteEnvironmentAccountConnection": {
      "input": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "environmentAccountConnection": {
            "shape": "S4"
          }
        }
      },
      "idempotent": true
    },
    "DeleteEnvironmentTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "environmentTemplate": {
            "shape": "S1a"
          }
        }
      },
      "idempotent": true
    },
    "DeleteEnvironmentTemplateVersion": {
      "input": {
        "type": "structure",
        "required": [
          "majorVersion",
          "minorVersion",
          "templateName"
        ],
        "members": {
          "majorVersion": {},
          "minorVersion": {},
          "templateName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "environmentTemplateVersion": {
            "shape": "S1j"
          }
        }
      },
      "idempotent": true
    },
    "DeleteRepository": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "provider"
        ],
        "members": {
          "name": {},
          "provider": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "repository": {
            "shape": "S1p"
          }
        }
      },
      "idempotent": true
    },
    "DeleteService": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "service": {
            "shape": "S1t"
          }
        }
      },
      "idempotent": true
    },
    "DeleteServiceTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "serviceTemplate": {
            "shape": "S1y"
          }
        }
      },
      "idempotent": true
    },
    "DeleteServiceTemplateVersion": {
      "input": {
        "type": "structure",
        "required": [
          "majorVersion",
          "minorVersion",
          "templateName"
        ],
        "members": {
          "majorVersion": {},
          "minorVersion": {},
          "templateName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "serviceTemplateVersion": {
            "shape": "S24"
          }
        }
      },
      "idempotent": true
    },
    "DeleteTemplateSyncConfig": {
      "input": {
        "type": "structure",
        "required": [
          "templateName",
          "templateType"
        ],
        "members": {
          "templateName": {},
          "templateType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "templateSyncConfig": {
            "shape": "S2c"
          }
        }
      },
      "idempotent": true
    },
    "GetAccountSettings": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "accountSettings": {
            "shape": "S2x"
          }
        }
      }
    },
    "GetEnvironment": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environment"
        ],
        "members": {
          "environment": {
            "shape": "Sd"
          }
        }
      }
    },
    "GetEnvironmentAccountConnection": {
      "input": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environmentAccountConnection"
        ],
        "members": {
          "environmentAccountConnection": {
            "shape": "S4"
          }
        }
      }
    },
    "GetEnvironmentTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environmentTemplate"
        ],
        "members": {
          "environmentTemplate": {
            "shape": "S1a"
          }
        }
      }
    },
    "GetEnvironmentTemplateVersion": {
      "input": {
        "type": "structure",
        "required": [
          "majorVersion",
          "minorVersion",
          "templateName"
        ],
        "members": {
          "majorVersion": {},
          "minorVersion": {},
          "templateName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environmentTemplateVersion"
        ],
        "members": {
          "environmentTemplateVersion": {
            "shape": "S1j"
          }
        }
      }
    },
    "GetRepository": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "provider"
        ],
        "members": {
          "name": {},
          "provider": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "repository"
        ],
        "members": {
          "repository": {
            "shape": "S1p"
          }
        }
      }
    },
    "GetRepositorySyncStatus": {
      "input": {
        "type": "structure",
        "required": [
          "branch",
          "repositoryName",
          "repositoryProvider",
          "syncType"
        ],
        "members": {
          "branch": {},
          "repositoryName": {},
          "repositoryProvider": {},
          "syncType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "latestSync": {
            "type": "structure",
            "required": [
              "events",
              "startedAt",
              "status"
            ],
            "members": {
              "events": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "event",
                    "time",
                    "type"
                  ],
                  "members": {
                    "event": {},
                    "externalId": {},
                    "time": {
                      "type": "timestamp"
                    },
                    "type": {}
                  }
                }
              },
              "startedAt": {
                "type": "timestamp"
              },
              "status": {}
            }
          }
        }
      }
    },
    "GetService": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "service": {
            "shape": "S1t"
          }
        }
      }
    },
    "GetServiceInstance": {
      "input": {
        "type": "structure",
        "required": [
          "name",
          "serviceName"
        ],
        "members": {
          "name": {},
          "serviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "serviceInstance"
        ],
        "members": {
          "serviceInstance": {
            "shape": "Ss"
          }
        }
      }
    },
    "GetServiceTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "serviceTemplate"
        ],
        "members": {
          "serviceTemplate": {
            "shape": "S1y"
          }
        }
      }
    },
    "GetServiceTemplateVersion": {
      "input": {
        "type": "structure",
        "required": [
          "majorVersion",
          "minorVersion",
          "templateName"
        ],
        "members": {
          "majorVersion": {},
          "minorVersion": {},
          "templateName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "serviceTemplateVersion"
        ],
        "members": {
          "serviceTemplateVersion": {
            "shape": "S24"
          }
        }
      }
    },
    "GetTemplateSyncConfig": {
      "input": {
        "type": "structure",
        "required": [
          "templateName",
          "templateType"
        ],
        "members": {
          "templateName": {},
          "templateType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "templateSyncConfig": {
            "shape": "S2c"
          }
        }
      }
    },
    "GetTemplateSyncStatus": {
      "input": {
        "type": "structure",
        "required": [
          "templateName",
          "templateType",
          "templateVersion"
        ],
        "members": {
          "templateName": {},
          "templateType": {},
          "templateVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "desiredState": {
            "shape": "S3t"
          },
          "latestSuccessfulSync": {
            "shape": "S3v"
          },
          "latestSync": {
            "shape": "S3v"
          }
        }
      }
    },
    "ListEnvironmentAccountConnections": {
      "input": {
        "type": "structure",
        "required": [
          "requestedBy"
        ],
        "members": {
          "environmentName": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "requestedBy": {},
          "statuses": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environmentAccountConnections"
        ],
        "members": {
          "environmentAccountConnections": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "environmentAccountId",
                "environmentName",
                "id",
                "lastModifiedAt",
                "managementAccountId",
                "requestedAt",
                "roleArn",
                "status"
              ],
              "members": {
                "arn": {},
                "environmentAccountId": {},
                "environmentName": {},
                "id": {},
                "lastModifiedAt": {
                  "type": "timestamp"
                },
                "managementAccountId": {},
                "requestedAt": {
                  "type": "timestamp"
                },
                "roleArn": {},
                "status": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListEnvironmentOutputs": {
      "input": {
        "type": "structure",
        "required": [
          "environmentName"
        ],
        "members": {
          "environmentName": {},
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "outputs"
        ],
        "members": {
          "nextToken": {},
          "outputs": {
            "shape": "S4a"
          }
        }
      }
    },
    "ListEnvironmentProvisionedResources": {
      "input": {
        "type": "structure",
        "required": [
          "environmentName"
        ],
        "members": {
          "environmentName": {},
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "provisionedResources"
        ],
        "members": {
          "nextToken": {},
          "provisionedResources": {
            "shape": "S4g"
          }
        }
      }
    },
    "ListEnvironmentTemplateVersions": {
      "input": {
        "type": "structure",
        "required": [
          "templateName"
        ],
        "members": {
          "majorVersion": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "templateName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "templateVersions"
        ],
        "members": {
          "nextToken": {},
          "templateVersions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastModifiedAt",
                "majorVersion",
                "minorVersion",
                "status",
                "templateName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "description": {
                  "shape": "Sh"
                },
                "lastModifiedAt": {
                  "type": "timestamp"
                },
                "majorVersion": {},
                "minorVersion": {},
                "recommendedMinorVersion": {},
                "status": {},
                "statusMessage": {
                  "shape": "Sg"
                },
                "templateName": {}
              }
            }
          }
        }
      }
    },
    "ListEnvironmentTemplates": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "templates"
        ],
        "members": {
          "nextToken": {},
          "templates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastModifiedAt",
                "name"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "description": {
                  "shape": "Sh"
                },
                "displayName": {
                  "shape": "S18"
                },
                "lastModifiedAt": {
                  "type": "timestamp"
                },
                "name": {},
                "provisioning": {},
                "recommendedVersion": {}
              }
            }
          }
        }
      }
    },
    "ListEnvironments": {
      "input": {
        "type": "structure",
        "members": {
          "environmentTemplates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "majorVersion",
                "templateName"
              ],
              "members": {
                "majorVersion": {},
                "templateName": {}
              }
            }
          },
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environments"
        ],
        "members": {
          "environments": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "deploymentStatus",
                "lastDeploymentAttemptedAt",
                "lastDeploymentSucceededAt",
                "name",
                "templateMajorVersion",
                "templateMinorVersion",
                "templateName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "deploymentStatus": {},
                "deploymentStatusMessage": {
                  "shape": "Sg"
                },
                "description": {
                  "shape": "Sh"
                },
                "environmentAccountConnectionId": {},
                "environmentAccountId": {},
                "lastDeploymentAttemptedAt": {
                  "type": "timestamp"
                },
                "lastDeploymentSucceededAt": {
                  "type": "timestamp"
                },
                "name": {},
                "protonServiceRoleArn": {},
                "provisioning": {},
                "templateMajorVersion": {},
                "templateMinorVersion": {},
                "templateName": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListRepositories": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "repositories"
        ],
        "members": {
          "nextToken": {},
          "repositories": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "name",
                "provider"
              ],
              "members": {
                "arn": {},
                "name": {},
                "provider": {}
              }
            }
          }
        }
      }
    },
    "ListRepositorySyncDefinitions": {
      "input": {
        "type": "structure",
        "required": [
          "repositoryName",
          "repositoryProvider",
          "syncType"
        ],
        "members": {
          "nextToken": {},
          "repositoryName": {},
          "repositoryProvider": {},
          "syncType": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "syncDefinitions"
        ],
        "members": {
          "nextToken": {},
          "syncDefinitions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "branch",
                "directory",
                "parent",
                "target"
              ],
              "members": {
                "branch": {},
                "directory": {},
                "parent": {},
                "target": {}
              }
            }
          }
        }
      }
    },
    "ListServiceInstanceOutputs": {
      "input": {
        "type": "structure",
        "required": [
          "serviceInstanceName",
          "serviceName"
        ],
        "members": {
          "nextToken": {},
          "serviceInstanceName": {},
          "serviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "outputs"
        ],
        "members": {
          "nextToken": {},
          "outputs": {
            "shape": "S4a"
          }
        }
      }
    },
    "ListServiceInstanceProvisionedResources": {
      "input": {
        "type": "structure",
        "required": [
          "serviceInstanceName",
          "serviceName"
        ],
        "members": {
          "nextToken": {},
          "serviceInstanceName": {},
          "serviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "provisionedResources"
        ],
        "members": {
          "nextToken": {},
          "provisionedResources": {
            "shape": "S4g"
          }
        }
      }
    },
    "ListServiceInstances": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "serviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "serviceInstances"
        ],
        "members": {
          "nextToken": {},
          "serviceInstances": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "deploymentStatus",
                "environmentName",
                "lastDeploymentAttemptedAt",
                "lastDeploymentSucceededAt",
                "name",
                "serviceName",
                "templateMajorVersion",
                "templateMinorVersion",
                "templateName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "deploymentStatus": {},
                "deploymentStatusMessage": {
                  "shape": "Sg"
                },
                "environmentName": {},
                "lastDeploymentAttemptedAt": {
                  "type": "timestamp"
                },
                "lastDeploymentSucceededAt": {
                  "type": "timestamp"
                },
                "name": {},
                "serviceName": {},
                "templateMajorVersion": {},
                "templateMinorVersion": {},
                "templateName": {}
              }
            }
          }
        }
      }
    },
    "ListServicePipelineOutputs": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName"
        ],
        "members": {
          "nextToken": {},
          "serviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "outputs"
        ],
        "members": {
          "nextToken": {},
          "outputs": {
            "shape": "S4a"
          }
        }
      }
    },
    "ListServicePipelineProvisionedResources": {
      "input": {
        "type": "structure",
        "required": [
          "serviceName"
        ],
        "members": {
          "nextToken": {},
          "serviceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "provisionedResources"
        ],
        "members": {
          "nextToken": {},
          "provisionedResources": {
            "shape": "S4g"
          }
        }
      }
    },
    "ListServiceTemplateVersions": {
      "input": {
        "type": "structure",
        "required": [
          "templateName"
        ],
        "members": {
          "majorVersion": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "templateName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "templateVersions"
        ],
        "members": {
          "nextToken": {},
          "templateVersions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastModifiedAt",
                "majorVersion",
                "minorVersion",
                "status",
                "templateName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "description": {
                  "shape": "Sh"
                },
                "lastModifiedAt": {
                  "type": "timestamp"
                },
                "majorVersion": {},
                "minorVersion": {},
                "recommendedMinorVersion": {},
                "status": {},
                "statusMessage": {
                  "shape": "Sg"
                },
                "templateName": {}
              }
            }
          }
        }
      }
    },
    "ListServiceTemplates": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "templates"
        ],
        "members": {
          "nextToken": {},
          "templates": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastModifiedAt",
                "name"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "description": {
                  "shape": "Sh"
                },
                "displayName": {
                  "shape": "S18"
                },
                "lastModifiedAt": {
                  "type": "timestamp"
                },
                "name": {},
                "pipelineProvisioning": {},
                "recommendedVersion": {}
              }
            }
          }
        }
      }
    },
    "ListServices": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "services"
        ],
        "members": {
          "nextToken": {},
          "services": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "arn",
                "createdAt",
                "lastModifiedAt",
                "name",
                "status",
                "templateName"
              ],
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "description": {
                  "shape": "Sh"
                },
                "lastModifiedAt": {
                  "type": "timestamp"
                },
                "name": {},
                "status": {},
                "statusMessage": {
                  "shape": "Sg"
                },
                "templateName": {}
              }
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "resourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "tags"
        ],
        "members": {
          "nextToken": {},
          "tags": {
            "shape": "Sz"
          }
        }
      }
    },
    "NotifyResourceDeploymentStatusChange": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "status"
        ],
        "members": {
          "deploymentId": {},
          "outputs": {
            "type": "list",
            "member": {
              "shape": "S4b"
            }
          },
          "resourceArn": {},
          "status": {},
          "statusMessage": {
            "type": "string",
            "sensitive": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "RejectEnvironmentAccountConnection": {
      "input": {
        "type": "structure",
        "required": [
          "id"
        ],
        "members": {
          "id": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environmentAccountConnection"
        ],
        "members": {
          "environmentAccountConnection": {
            "shape": "S4"
          }
        }
      },
      "idempotent": true
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {},
          "tags": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {},
          "tagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdateAccountSettings": {
      "input": {
        "type": "structure",
        "members": {
          "pipelineProvisioningRepository": {
            "shape": "Sy"
          },
          "pipelineServiceRoleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "accountSettings"
        ],
        "members": {
          "accountSettings": {
            "shape": "S2x"
          }
        }
      }
    },
    "UpdateEnvironment": {
      "input": {
        "type": "structure",
        "required": [
          "deploymentType",
          "name"
        ],
        "members": {
          "deploymentType": {},
          "description": {
            "shape": "Sh"
          },
          "environmentAccountConnectionId": {},
          "name": {},
          "protonServiceRoleArn": {},
          "provisioningRepository": {
            "shape": "Sy"
          },
          "spec": {
            "shape": "So"
          },
          "templateMajorVersion": {},
          "templateMinorVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environment"
        ],
        "members": {
          "environment": {
            "shape": "Sd"
          }
        }
      }
    },
    "UpdateEnvironmentAccountConnection": {
      "input": {
        "type": "structure",
        "required": [
          "id",
          "roleArn"
        ],
        "members": {
          "id": {},
          "roleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environmentAccountConnection"
        ],
        "members": {
          "environmentAccountConnection": {
            "shape": "S4"
          }
        }
      },
      "idempotent": true
    },
    "UpdateEnvironmentTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "description": {
            "shape": "Sh"
          },
          "displayName": {
            "shape": "S18"
          },
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environmentTemplate"
        ],
        "members": {
          "environmentTemplate": {
            "shape": "S1a"
          }
        }
      }
    },
    "UpdateEnvironmentTemplateVersion": {
      "input": {
        "type": "structure",
        "required": [
          "majorVersion",
          "minorVersion",
          "templateName"
        ],
        "members": {
          "description": {
            "shape": "Sh"
          },
          "majorVersion": {},
          "minorVersion": {},
          "status": {},
          "templateName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "environmentTemplateVersion"
        ],
        "members": {
          "environmentTemplateVersion": {
            "shape": "S1j"
          }
        }
      }
    },
    "UpdateService": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "description": {
            "shape": "Sh"
          },
          "name": {},
          "spec": {
            "shape": "So"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "service"
        ],
        "members": {
          "service": {
            "shape": "S1t"
          }
        }
      }
    },
    "UpdateServiceInstance": {
      "input": {
        "type": "structure",
        "required": [
          "deploymentType",
          "name",
          "serviceName"
        ],
        "members": {
          "deploymentType": {},
          "name": {},
          "serviceName": {},
          "spec": {
            "shape": "So"
          },
          "templateMajorVersion": {},
          "templateMinorVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "serviceInstance"
        ],
        "members": {
          "serviceInstance": {
            "shape": "Ss"
          }
        }
      }
    },
    "UpdateServicePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "deploymentType",
          "serviceName",
          "spec"
        ],
        "members": {
          "deploymentType": {},
          "serviceName": {},
          "spec": {
            "shape": "So"
          },
          "templateMajorVersion": {},
          "templateMinorVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "pipeline"
        ],
        "members": {
          "pipeline": {
            "shape": "Sw"
          }
        }
      }
    },
    "UpdateServiceTemplate": {
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "description": {
            "shape": "Sh"
          },
          "displayName": {
            "shape": "S18"
          },
          "name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "serviceTemplate"
        ],
        "members": {
          "serviceTemplate": {
            "shape": "S1y"
          }
        }
      }
    },
    "UpdateServiceTemplateVersion": {
      "input": {
        "type": "structure",
        "required": [
          "majorVersion",
          "minorVersion",
          "templateName"
        ],
        "members": {
          "compatibleEnvironmentTemplates": {
            "shape": "S21"
          },
          "description": {
            "shape": "Sh"
          },
          "majorVersion": {},
          "minorVersion": {},
          "status": {},
          "templateName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "serviceTemplateVersion"
        ],
        "members": {
          "serviceTemplateVersion": {
            "shape": "S24"
          }
        }
      }
    },
    "UpdateTemplateSyncConfig": {
      "input": {
        "type": "structure",
        "required": [
          "branch",
          "repositoryName",
          "repositoryProvider",
          "templateName",
          "templateType"
        ],
        "members": {
          "branch": {},
          "repositoryName": {},
          "repositoryProvider": {},
          "subdirectory": {},
          "templateName": {},
          "templateType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "templateSyncConfig": {
            "shape": "S2c"
          }
        }
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "structure",
      "required": [
        "arn",
        "environmentAccountId",
        "environmentName",
        "id",
        "lastModifiedAt",
        "managementAccountId",
        "requestedAt",
        "roleArn",
        "status"
      ],
      "members": {
        "arn": {},
        "environmentAccountId": {},
        "environmentName": {},
        "id": {},
        "lastModifiedAt": {
          "type": "timestamp"
        },
        "managementAccountId": {},
        "requestedAt": {
          "type": "timestamp"
        },
        "roleArn": {},
        "status": {}
      }
    },
    "Sd": {
      "type": "structure",
      "required": [
        "arn",
        "createdAt",
        "deploymentStatus",
        "lastDeploymentAttemptedAt",
        "lastDeploymentSucceededAt",
        "name",
        "templateMajorVersion",
        "templateMinorVersion",
        "templateName"
      ],
      "members": {
        "arn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "deploymentStatus": {},
        "deploymentStatusMessage": {
          "shape": "Sg"
        },
        "description": {
          "shape": "Sh"
        },
        "environmentAccountConnectionId": {},
        "environmentAccountId": {},
        "lastDeploymentAttemptedAt": {
          "type": "timestamp"
        },
        "lastDeploymentSucceededAt": {
          "type": "timestamp"
        },
        "name": {},
        "protonServiceRoleArn": {},
        "provisioning": {},
        "provisioningRepository": {
          "shape": "Sj"
        },
        "spec": {
          "shape": "So"
        },
        "templateMajorVersion": {},
        "templateMinorVersion": {},
        "templateName": {}
      }
    },
    "Sg": {
      "type": "string",
      "sensitive": true
    },
    "Sh": {
      "type": "string",
      "sensitive": true
    },
    "Sj": {
      "type": "structure",
      "required": [
        "arn",
        "branch",
        "name",
        "provider"
      ],
      "members": {
        "arn": {},
        "branch": {},
        "name": {},
        "provider": {}
      }
    },
    "So": {
      "type": "string",
      "sensitive": true
    },
    "Ss": {
      "type": "structure",
      "required": [
        "arn",
        "createdAt",
        "deploymentStatus",
        "environmentName",
        "lastDeploymentAttemptedAt",
        "lastDeploymentSucceededAt",
        "name",
        "serviceName",
        "templateMajorVersion",
        "templateMinorVersion",
        "templateName"
      ],
      "members": {
        "arn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "deploymentStatus": {},
        "deploymentStatusMessage": {
          "shape": "Sg"
        },
        "environmentName": {},
        "lastDeploymentAttemptedAt": {
          "type": "timestamp"
        },
        "lastDeploymentSucceededAt": {
          "type": "timestamp"
        },
        "name": {},
        "serviceName": {},
        "spec": {
          "shape": "So"
        },
        "templateMajorVersion": {},
        "templateMinorVersion": {},
        "templateName": {}
      }
    },
    "Sw": {
      "type": "structure",
      "required": [
        "arn",
        "createdAt",
        "deploymentStatus",
        "lastDeploymentAttemptedAt",
        "lastDeploymentSucceededAt",
        "templateMajorVersion",
        "templateMinorVersion",
        "templateName"
      ],
      "members": {
        "arn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "deploymentStatus": {},
        "deploymentStatusMessage": {
          "shape": "Sg"
        },
        "lastDeploymentAttemptedAt": {
          "type": "timestamp"
        },
        "lastDeploymentSucceededAt": {
          "type": "timestamp"
        },
        "spec": {
          "shape": "So"
        },
        "templateMajorVersion": {},
        "templateMinorVersion": {},
        "templateName": {}
      }
    },
    "Sy": {
      "type": "structure",
      "required": [
        "branch",
        "name",
        "provider"
      ],
      "members": {
        "branch": {},
        "name": {},
        "provider": {}
      }
    },
    "Sz": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "key",
          "value"
        ],
        "members": {
          "key": {},
          "value": {}
        }
      }
    },
    "S18": {
      "type": "string",
      "sensitive": true
    },
    "S1a": {
      "type": "structure",
      "required": [
        "arn",
        "createdAt",
        "lastModifiedAt",
        "name"
      ],
      "members": {
        "arn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "description": {
          "shape": "Sh"
        },
        "displayName": {
          "shape": "S18"
        },
        "encryptionKey": {},
        "lastModifiedAt": {
          "type": "timestamp"
        },
        "name": {},
        "provisioning": {},
        "recommendedVersion": {}
      }
    },
    "S1e": {
      "type": "structure",
      "members": {
        "s3": {
          "type": "structure",
          "required": [
            "bucket",
            "key"
          ],
          "members": {
            "bucket": {},
            "key": {}
          }
        }
      },
      "union": true
    },
    "S1j": {
      "type": "structure",
      "required": [
        "arn",
        "createdAt",
        "lastModifiedAt",
        "majorVersion",
        "minorVersion",
        "status",
        "templateName"
      ],
      "members": {
        "arn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "description": {
          "shape": "Sh"
        },
        "lastModifiedAt": {
          "type": "timestamp"
        },
        "majorVersion": {},
        "minorVersion": {},
        "recommendedMinorVersion": {},
        "schema": {
          "shape": "S1l"
        },
        "status": {},
        "statusMessage": {
          "shape": "Sg"
        },
        "templateName": {}
      }
    },
    "S1l": {
      "type": "string",
      "sensitive": true
    },
    "S1p": {
      "type": "structure",
      "required": [
        "arn",
        "connectionArn",
        "name",
        "provider"
      ],
      "members": {
        "arn": {},
        "connectionArn": {},
        "encryptionKey": {},
        "name": {},
        "provider": {}
      }
    },
    "S1t": {
      "type": "structure",
      "required": [
        "arn",
        "createdAt",
        "lastModifiedAt",
        "name",
        "spec",
        "status",
        "templateName"
      ],
      "members": {
        "arn": {},
        "branchName": {},
        "createdAt": {
          "type": "timestamp"
        },
        "description": {
          "shape": "Sh"
        },
        "lastModifiedAt": {
          "type": "timestamp"
        },
        "name": {},
        "pipeline": {
          "shape": "Sw"
        },
        "repositoryConnectionArn": {},
        "repositoryId": {},
        "spec": {
          "shape": "So"
        },
        "status": {},
        "statusMessage": {
          "shape": "Sg"
        },
        "templateName": {}
      }
    },
    "S1y": {
      "type": "structure",
      "required": [
        "arn",
        "createdAt",
        "lastModifiedAt",
        "name"
      ],
      "members": {
        "arn": {},
        "createdAt": {
          "type": "timestamp"
        },
        "description": {
          "shape": "Sh"
        },
        "displayName": {
          "shape": "S18"
        },
        "encryptionKey": {},
        "lastModifiedAt": {
          "type": "timestamp"
        },
        "name": {},
        "pipelineProvisioning": {},
        "recommendedVersion": {}
      }
    },
    "S21": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "majorVersion",
          "templateName"
        ],
        "members": {
          "majorVersion": {},
          "templateName": {}
        }
      }
    },
    "S24": {
      "type": "structure",
      "required": [
        "arn",
        "compatibleEnvironmentTemplates",
        "createdAt",
        "lastModifiedAt",
        "majorVersion",
        "minorVersion",
        "status",
        "templateName"
      ],
      "members": {
        "arn": {},
        "compatibleEnvironmentTemplates": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "majorVersion",
              "templateName"
            ],
            "members": {
              "majorVersion": {},
              "templateName": {}
            }
          }
        },
        "createdAt": {
          "type": "timestamp"
        },
        "description": {
          "shape": "Sh"
        },
        "lastModifiedAt": {
          "type": "timestamp"
        },
        "majorVersion": {},
        "minorVersion": {},
        "recommendedMinorVersion": {},
        "schema": {
          "shape": "S1l"
        },
        "status": {},
        "statusMessage": {
          "shape": "Sg"
        },
        "templateName": {}
      }
    },
    "S2c": {
      "type": "structure",
      "required": [
        "branch",
        "repositoryName",
        "repositoryProvider",
        "templateName",
        "templateType"
      ],
      "members": {
        "branch": {},
        "repositoryName": {},
        "repositoryProvider": {},
        "subdirectory": {},
        "templateName": {},
        "templateType": {}
      }
    },
    "S2x": {
      "type": "structure",
      "members": {
        "pipelineProvisioningRepository": {
          "shape": "Sj"
        },
        "pipelineServiceRoleArn": {}
      }
    },
    "S3t": {
      "type": "structure",
      "required": [
        "branch",
        "directory",
        "repositoryName",
        "repositoryProvider",
        "sha"
      ],
      "members": {
        "branch": {},
        "directory": {},
        "repositoryName": {},
        "repositoryProvider": {},
        "sha": {}
      }
    },
    "S3v": {
      "type": "structure",
      "required": [
        "events",
        "initialRevision",
        "startedAt",
        "status",
        "target",
        "targetRevision"
      ],
      "members": {
        "events": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "event",
              "time",
              "type"
            ],
            "members": {
              "event": {},
              "externalId": {},
              "time": {
                "type": "timestamp"
              },
              "type": {}
            }
          }
        },
        "initialRevision": {
          "shape": "S3t"
        },
        "startedAt": {
          "type": "timestamp"
        },
        "status": {},
        "target": {},
        "targetRevision": {
          "shape": "S3t"
        }
      }
    },
    "S4a": {
      "type": "list",
      "member": {
        "shape": "S4b"
      }
    },
    "S4b": {
      "type": "structure",
      "members": {
        "key": {},
        "valueString": {}
      },
      "sensitive": true
    },
    "S4g": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "identifier": {},
          "name": {},
          "provisioningEngine": {}
        }
      }
    }
  }
}