{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-01-02",
    "endpointPrefix": "qldb",
    "jsonVersion": "1.0",
    "protocol": "rest-json",
    "serviceAbbreviation": "QLDB",
    "serviceFullName": "Amazon QLDB",
    "serviceId": "QLDB",
    "signatureVersion": "v4",
    "signingName": "qldb",
    "uid": "qldb-2019-01-02"
  },
  "operations": {
    "CreateLedger": {
      "http": {
        "requestUri": "/ledgers"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "PermissionsMode"
        ],
        "members": {
          "Name": {},
          "Tags": {
            "shape": "S3"
          },
          "PermissionsMode": {},
          "DeletionProtection": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "Arn": {},
          "State": {},
          "CreationDateTime": {
            "type": "timestamp"
          },
          "DeletionProtection": {
            "type": "boolean"
          }
        }
      }
    },
    "DeleteLedger": {
      "http": {
        "method": "DELETE",
        "requestUri": "/ledgers/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      }
    },
    "DescribeJournalS3Export": {
      "http": {
        "method": "GET",
        "requestUri": "/ledgers/{name}/journal-s3-exports/{exportId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ExportId"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "ExportId": {
            "location": "uri",
            "locationName": "exportId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ExportDescription"
        ],
        "members": {
          "ExportDescription": {
            "shape": "Sg"
          }
        }
      }
    },
    "DescribeLedger": {
      "http": {
        "method": "GET",
        "requestUri": "/ledgers/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "Arn": {},
          "State": {},
          "CreationDateTime": {
            "type": "timestamp"
          },
          "DeletionProtection": {
            "type": "boolean"
          }
        }
      }
    },
    "ExportJournalToS3": {
      "http": {
        "requestUri": "/ledgers/{name}/journal-s3-exports"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "InclusiveStartTime",
          "ExclusiveEndTime",
          "S3ExportConfiguration",
          "RoleArn"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "InclusiveStartTime": {
            "type": "timestamp"
          },
          "ExclusiveEndTime": {
            "type": "timestamp"
          },
          "S3ExportConfiguration": {
            "shape": "Si"
          },
          "RoleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ExportId"
        ],
        "members": {
          "ExportId": {}
        }
      }
    },
    "GetBlock": {
      "http": {
        "requestUri": "/ledgers/{name}/block"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "BlockAddress"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "BlockAddress": {
            "shape": "Ss"
          },
          "DigestTipAddress": {
            "shape": "Ss"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Block"
        ],
        "members": {
          "Block": {
            "shape": "Ss"
          },
          "Proof": {
            "shape": "Ss"
          }
        }
      }
    },
    "GetDigest": {
      "http": {
        "requestUri": "/ledgers/{name}/digest"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Digest",
          "DigestTipAddress"
        ],
        "members": {
          "Digest": {
            "type": "blob"
          },
          "DigestTipAddress": {
            "shape": "Ss"
          }
        }
      }
    },
    "GetRevision": {
      "http": {
        "requestUri": "/ledgers/{name}/revision"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "BlockAddress",
          "DocumentId"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "BlockAddress": {
            "shape": "Ss"
          },
          "DocumentId": {},
          "DigestTipAddress": {
            "shape": "Ss"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Revision"
        ],
        "members": {
          "Proof": {
            "shape": "Ss"
          },
          "Revision": {
            "shape": "Ss"
          }
        }
      }
    },
    "ListJournalS3Exports": {
      "http": {
        "method": "GET",
        "requestUri": "/journal-s3-exports"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "max_results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next_token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JournalS3Exports": {
            "shape": "S14"
          },
          "NextToken": {}
        }
      }
    },
    "ListJournalS3ExportsForLedger": {
      "http": {
        "method": "GET",
        "requestUri": "/ledgers/{name}/journal-s3-exports"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max_results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next_token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JournalS3Exports": {
            "shape": "S14"
          },
          "NextToken": {}
        }
      }
    },
    "ListLedgers": {
      "http": {
        "method": "GET",
        "requestUri": "/ledgers"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "max_results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next_token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Ledgers": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "State": {},
                "CreationDateTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateLedger": {
      "http": {
        "method": "PATCH",
        "requestUri": "/ledgers/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "DeletionProtection": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "Arn": {},
          "State": {},
          "CreationDateTime": {
            "type": "timestamp"
          },
          "DeletionProtection": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sg": {
      "type": "structure",
      "required": [
        "LedgerName",
        "ExportId",
        "ExportCreationTime",
        "Status",
        "InclusiveStartTime",
        "ExclusiveEndTime",
        "S3ExportConfiguration",
        "RoleArn"
      ],
      "members": {
        "LedgerName": {},
        "ExportId": {},
        "ExportCreationTime": {
          "type": "timestamp"
        },
        "Status": {},
        "InclusiveStartTime": {
          "type": "timestamp"
        },
        "ExclusiveEndTime": {
          "type": "timestamp"
        },
        "S3ExportConfiguration": {
          "shape": "Si"
        },
        "RoleArn": {}
      }
    },
    "Si": {
      "type": "structure",
      "required": [
        "Bucket",
        "Prefix",
        "EncryptionConfiguration"
      ],
      "members": {
        "Bucket": {},
        "Prefix": {},
        "EncryptionConfiguration": {
          "type": "structure",
          "required": [
            "ObjectEncryptionType"
          ],
          "members": {
            "ObjectEncryptionType": {},
            "KmsKeyArn": {}
          }
        }
      }
    },
    "Ss": {
      "type": "structure",
      "members": {
        "IonText": {
          "type": "string",
          "sensitive": true
        }
      },
      "sensitive": true
    },
    "S14": {
      "type": "list",
      "member": {
        "shape": "Sg"
      }
    }
  }
}