{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-04-01",
    "endpointPrefix": "quicksight",
    "jsonVersion": "1.0",
    "protocol": "rest-json",
    "serviceFullName": "Amazon QuickSight",
    "serviceId": "QuickSight",
    "signatureVersion": "v4",
    "uid": "quicksight-2018-04-01"
  },
  "operations": {
    "CancelIngestion": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId",
          "IngestionId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "IngestionId": {
            "location": "uri",
            "locationName": "IngestionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "IngestionId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateAccountCustomization": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/customizations"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AccountCustomization"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          },
          "AccountCustomization": {
            "shape": "Sa"
          },
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "AwsAccountId": {},
          "Namespace": {},
          "AccountCustomization": {
            "shape": "Sa"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateAccountSubscription": {
      "http": {
        "requestUri": "/account/{AwsAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Edition",
          "AuthenticationMethod",
          "AwsAccountId",
          "AccountName",
          "NotificationEmail"
        ],
        "members": {
          "Edition": {},
          "AuthenticationMethod": {},
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AccountName": {},
          "NotificationEmail": {},
          "ActiveDirectoryName": {},
          "Realm": {},
          "DirectoryId": {},
          "AdminGroup": {
            "shape": "Sk"
          },
          "AuthorGroup": {
            "shape": "Sk"
          },
          "ReaderGroup": {
            "shape": "Sk"
          },
          "FirstName": {},
          "LastName": {},
          "EmailAddress": {},
          "ContactNumber": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SignupResponse": {
            "type": "structure",
            "members": {
              "IAMUser": {
                "type": "boolean"
              },
              "userLoginName": {},
              "accountName": {},
              "directoryType": {}
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateAnalysis": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId",
          "Name"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          },
          "Name": {},
          "Parameters": {
            "shape": "Sr"
          },
          "Permissions": {
            "shape": "S19"
          },
          "SourceEntity": {
            "shape": "S1d"
          },
          "ThemeArn": {},
          "Tags": {
            "shape": "Sb"
          },
          "Definition": {
            "shape": "S1h"
          },
          "ValidationStrategy": {
            "shape": "Smc"
          },
          "FolderArns": {
            "shape": "Sme"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "AnalysisId": {},
          "CreationStatus": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateDashboard": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId",
          "Name"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "Name": {},
          "Parameters": {
            "shape": "Sr"
          },
          "Permissions": {
            "shape": "S19"
          },
          "SourceEntity": {
            "shape": "Smj"
          },
          "Tags": {
            "shape": "Sb"
          },
          "VersionDescription": {},
          "DashboardPublishOptions": {
            "shape": "Smm"
          },
          "ThemeArn": {},
          "Definition": {
            "shape": "Smz"
          },
          "ValidationStrategy": {
            "shape": "Smc"
          },
          "FolderArns": {
            "shape": "Sme"
          },
          "LinkSharingConfiguration": {
            "shape": "Sn0"
          },
          "LinkEntities": {
            "shape": "Sn1"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VersionArn": {},
          "DashboardId": {},
          "CreationStatus": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateDataSet": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/data-sets"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId",
          "Name",
          "PhysicalTableMap",
          "ImportMode"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {},
          "Name": {},
          "PhysicalTableMap": {
            "shape": "Sn7"
          },
          "LogicalTableMap": {
            "shape": "Snr"
          },
          "ImportMode": {},
          "ColumnGroups": {
            "shape": "Soy"
          },
          "FieldFolders": {
            "shape": "Sp4"
          },
          "Permissions": {
            "shape": "S19"
          },
          "RowLevelPermissionDataSet": {
            "shape": "Sp9"
          },
          "RowLevelPermissionTagConfiguration": {
            "shape": "Spd"
          },
          "ColumnLevelPermissionRules": {
            "shape": "Spl"
          },
          "Tags": {
            "shape": "Sb"
          },
          "DataSetUsageConfiguration": {
            "shape": "Spp"
          },
          "DatasetParameters": {
            "shape": "Spq"
          },
          "FolderArns": {
            "shape": "Sme"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "DataSetId": {},
          "IngestionArn": {},
          "IngestionId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateDataSource": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/data-sources"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSourceId",
          "Name",
          "Type"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSourceId": {},
          "Name": {},
          "Type": {},
          "DataSourceParameters": {
            "shape": "Sq5"
          },
          "Credentials": {
            "shape": "Srm"
          },
          "Permissions": {
            "shape": "S19"
          },
          "VpcConnectionProperties": {
            "shape": "Srt"
          },
          "SslProperties": {
            "shape": "Sru"
          },
          "Tags": {
            "shape": "Sb"
          },
          "FolderArns": {
            "shape": "Sme"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "DataSourceId": {},
          "CreationStatus": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateFolder": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          },
          "Name": {},
          "FolderType": {},
          "ParentFolderArn": {},
          "Permissions": {
            "shape": "S19"
          },
          "Tags": {
            "shape": "Sb"
          },
          "SharingModel": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Arn": {},
          "FolderId": {},
          "RequestId": {}
        }
      }
    },
    "CreateFolderMembership": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId",
          "MemberId",
          "MemberType"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          },
          "MemberId": {
            "location": "uri",
            "locationName": "MemberId"
          },
          "MemberType": {
            "location": "uri",
            "locationName": "MemberType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "type": "integer"
          },
          "FolderMember": {
            "type": "structure",
            "members": {
              "MemberId": {},
              "MemberType": {}
            }
          },
          "RequestId": {}
        }
      }
    },
    "CreateGroup": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "GroupName": {},
          "Description": {},
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "Ssa"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateGroupMembership": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "MemberName",
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "MemberName": {
            "location": "uri",
            "locationName": "MemberName"
          },
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupMember": {
            "shape": "Sse"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateIAMPolicyAssignment": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssignmentName",
          "AssignmentStatus",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssignmentName": {},
          "AssignmentStatus": {},
          "PolicyArn": {},
          "Identities": {
            "shape": "Ssi"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssignmentName": {},
          "AssignmentId": {},
          "AssignmentStatus": {},
          "PolicyArn": {},
          "Identities": {
            "shape": "Ssi"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateIngestion": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "DataSetId",
          "IngestionId",
          "AwsAccountId"
        ],
        "members": {
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "IngestionId": {
            "location": "uri",
            "locationName": "IngestionId"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "IngestionType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "IngestionId": {},
          "IngestionStatus": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateNamespace": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace",
          "IdentityStore"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {},
          "IdentityStore": {},
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Name": {},
          "CapacityRegion": {},
          "CreationStatus": {},
          "IdentityStore": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateRefreshSchedule": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules"
      },
      "input": {
        "type": "structure",
        "required": [
          "DataSetId",
          "AwsAccountId",
          "Schedule"
        ],
        "members": {
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Schedule": {
            "shape": "Ssv"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "ScheduleId": {},
          "Arn": {}
        }
      }
    },
    "CreateRoleMembership": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/members/{MemberName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "MemberName",
          "AwsAccountId",
          "Namespace",
          "Role"
        ],
        "members": {
          "MemberName": {
            "location": "uri",
            "locationName": "MemberName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          },
          "Role": {
            "location": "uri",
            "locationName": "Role"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateTemplate": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "Name": {},
          "Permissions": {
            "shape": "S19"
          },
          "SourceEntity": {
            "shape": "St7"
          },
          "Tags": {
            "shape": "Sb"
          },
          "VersionDescription": {},
          "Definition": {
            "shape": "Sta"
          },
          "ValidationStrategy": {
            "shape": "Smc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VersionArn": {},
          "TemplateId": {},
          "CreationStatus": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateTemplateAlias": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId",
          "AliasName",
          "TemplateVersionNumber"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          },
          "TemplateVersionNumber": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateAlias": {
            "shape": "Stp"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateTheme": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId",
          "Name",
          "BaseThemeId",
          "Configuration"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "Name": {},
          "BaseThemeId": {},
          "VersionDescription": {},
          "Configuration": {
            "shape": "Sts"
          },
          "Permissions": {
            "shape": "S19"
          },
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VersionArn": {},
          "ThemeId": {},
          "CreationStatus": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateThemeAlias": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId",
          "AliasName",
          "ThemeVersionNumber"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          },
          "ThemeVersionNumber": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ThemeAlias": {
            "shape": "Su8"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateTopic": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/topics"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId",
          "Topic"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {},
          "Topic": {
            "shape": "Sub"
          },
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "TopicId": {},
          "RefreshArn": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateTopicRefreshSchedule": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}/schedules"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId",
          "DatasetArn",
          "RefreshSchedule"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          },
          "DatasetArn": {},
          "DatasetName": {},
          "RefreshSchedule": {
            "shape": "Sw0"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TopicId": {},
          "TopicArn": {},
          "DatasetArn": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateVPCConnection": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/vpc-connections"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "VPCConnectionId",
          "Name",
          "SubnetIds",
          "SecurityGroupIds",
          "RoleArn"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "VPCConnectionId": {},
          "Name": {},
          "SubnetIds": {
            "shape": "Sw5"
          },
          "SecurityGroupIds": {
            "shape": "Sw7"
          },
          "DnsResolvers": {
            "shape": "Sw9"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VPCConnectionId": {},
          "CreationStatus": {},
          "AvailabilityStatus": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteAccountCustomization": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/customizations"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteAccountSubscription": {
      "http": {
        "method": "DELETE",
        "requestUri": "/account/{AwsAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteAnalysis": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          },
          "RecoveryWindowInDays": {
            "location": "querystring",
            "locationName": "recovery-window-in-days",
            "type": "long"
          },
          "ForceDeleteWithoutRecovery": {
            "location": "querystring",
            "locationName": "force-delete-without-recovery",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Arn": {},
          "AnalysisId": {},
          "DeletionTime": {
            "type": "timestamp"
          },
          "RequestId": {}
        }
      }
    },
    "DeleteDashboard": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Arn": {},
          "DashboardId": {},
          "RequestId": {}
        }
      }
    },
    "DeleteDataSet": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "DataSetId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteDataSetRefreshProperties": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-properties"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteDataSource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSourceId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSourceId": {
            "location": "uri",
            "locationName": "DataSourceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "DataSourceId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteFolder": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Arn": {},
          "FolderId": {},
          "RequestId": {}
        }
      }
    },
    "DeleteFolderMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId",
          "MemberId",
          "MemberType"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          },
          "MemberId": {
            "location": "uri",
            "locationName": "MemberId"
          },
          "MemberType": {
            "location": "uri",
            "locationName": "MemberType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DeleteGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteGroupMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "MemberName",
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "MemberName": {
            "location": "uri",
            "locationName": "MemberName"
          },
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteIAMPolicyAssignment": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespace/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssignmentName",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssignmentName": {
            "location": "uri",
            "locationName": "AssignmentName"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssignmentName": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteIdentityPropagationConfig": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/identity-propagation-config/{Service}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Service"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Service": {
            "location": "uri",
            "locationName": "Service"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteNamespace": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteRefreshSchedule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules/{ScheduleId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "DataSetId",
          "AwsAccountId",
          "ScheduleId"
        ],
        "members": {
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ScheduleId": {
            "location": "uri",
            "locationName": "ScheduleId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "ScheduleId": {},
          "Arn": {}
        }
      }
    },
    "DeleteRoleCustomPermission": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/custom-permission"
      },
      "input": {
        "type": "structure",
        "required": [
          "Role",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "Role": {
            "location": "uri",
            "locationName": "Role"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "type": "integer"
          }
        }
      }
    },
    "DeleteRoleMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/members/{MemberName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "MemberName",
          "Role",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "MemberName": {
            "location": "uri",
            "locationName": "MemberName"
          },
          "Role": {
            "location": "uri",
            "locationName": "Role"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Arn": {},
          "TemplateId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteTemplateAlias": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId",
          "AliasName"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "TemplateId": {},
          "AliasName": {},
          "Arn": {},
          "RequestId": {}
        }
      }
    },
    "DeleteTheme": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "ThemeId": {}
        }
      }
    },
    "DeleteThemeAlias": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId",
          "AliasName"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AliasName": {},
          "Arn": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "ThemeId": {}
        }
      }
    },
    "DeleteTopic": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "TopicId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteTopicRefreshSchedule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}/schedules/{DatasetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId",
          "DatasetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          },
          "DatasetId": {
            "location": "uri",
            "locationName": "DatasetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TopicId": {},
          "TopicArn": {},
          "DatasetArn": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DeleteUser": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "UserName": {
            "location": "uri",
            "locationName": "UserName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteUserByPrincipalId": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/user-principals/{PrincipalId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PrincipalId",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "PrincipalId": {
            "location": "uri",
            "locationName": "PrincipalId"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteVPCConnection": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/vpc-connections/{VPCConnectionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "VPCConnectionId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "VPCConnectionId": {
            "location": "uri",
            "locationName": "VPCConnectionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VPCConnectionId": {},
          "DeletionStatus": {},
          "AvailabilityStatus": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeAccountCustomization": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/customizations"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          },
          "Resolved": {
            "location": "querystring",
            "locationName": "resolved",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "AwsAccountId": {},
          "Namespace": {},
          "AccountCustomization": {
            "shape": "Sa"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeAccountSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/settings"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountSettings": {
            "type": "structure",
            "members": {
              "AccountName": {},
              "Edition": {},
              "DefaultNamespace": {},
              "NotificationEmail": {},
              "PublicSharingEnabled": {
                "type": "boolean"
              },
              "TerminationProtectionEnabled": {
                "type": "boolean"
              }
            }
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeAccountSubscription": {
      "http": {
        "method": "GET",
        "requestUri": "/account/{AwsAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountInfo": {
            "type": "structure",
            "members": {
              "AccountName": {},
              "Edition": {},
              "NotificationEmail": {},
              "AuthenticationType": {},
              "AccountSubscriptionStatus": {},
              "IAMIdentityCenterInstanceArn": {}
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeAnalysis": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Analysis": {
            "type": "structure",
            "members": {
              "AnalysisId": {},
              "Arn": {},
              "Name": {},
              "Status": {},
              "Errors": {
                "shape": "Sya"
              },
              "DataSetArns": {
                "shape": "Syf"
              },
              "ThemeArn": {},
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "Sheets": {
                "shape": "Syg"
              }
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeAnalysisDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}/definition"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AnalysisId": {},
          "Name": {},
          "Errors": {
            "shape": "Sya"
          },
          "ResourceStatus": {},
          "ThemeArn": {},
          "Definition": {
            "shape": "S1h"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeAnalysisPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AnalysisId": {},
          "AnalysisArn": {},
          "Permissions": {
            "shape": "S19"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeAssetBundleExportJob": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/asset-bundle-export-jobs/{AssetBundleExportJobId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssetBundleExportJobId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssetBundleExportJobId": {
            "location": "uri",
            "locationName": "AssetBundleExportJobId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobStatus": {},
          "DownloadUrl": {
            "shape": "Syp"
          },
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "Type": {},
                "Message": {}
              }
            }
          },
          "Arn": {},
          "CreatedTime": {
            "type": "timestamp"
          },
          "AssetBundleExportJobId": {},
          "AwsAccountId": {},
          "ResourceArns": {
            "shape": "Sys"
          },
          "IncludeAllDependencies": {
            "type": "boolean"
          },
          "ExportFormat": {},
          "CloudFormationOverridePropertyConfiguration": {
            "shape": "Syu"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "IncludePermissions": {
            "type": "boolean"
          },
          "IncludeTags": {
            "type": "boolean"
          },
          "ValidationStrategy": {
            "shape": "Szo"
          },
          "Warnings": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "Message": {}
              }
            }
          }
        }
      }
    },
    "DescribeAssetBundleImportJob": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/asset-bundle-import-jobs/{AssetBundleImportJobId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssetBundleImportJobId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssetBundleImportJobId": {
            "location": "uri",
            "locationName": "AssetBundleImportJobId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobStatus": {},
          "Errors": {
            "shape": "Szu"
          },
          "RollbackErrors": {
            "shape": "Szu"
          },
          "Arn": {},
          "CreatedTime": {
            "type": "timestamp"
          },
          "AssetBundleImportJobId": {},
          "AwsAccountId": {},
          "AssetBundleImportSource": {
            "type": "structure",
            "members": {
              "Body": {
                "shape": "Syp"
              },
              "S3Uri": {}
            }
          },
          "OverrideParameters": {
            "shape": "Szy"
          },
          "FailureAction": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "OverridePermissions": {
            "shape": "S10h"
          },
          "OverrideTags": {
            "shape": "S10x"
          },
          "OverrideValidationStrategy": {
            "shape": "S11a"
          }
        }
      }
    },
    "DescribeDashboard": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Dashboard": {
            "type": "structure",
            "members": {
              "DashboardId": {},
              "Arn": {},
              "Name": {},
              "Version": {
                "type": "structure",
                "members": {
                  "CreatedTime": {
                    "type": "timestamp"
                  },
                  "Errors": {
                    "shape": "S11f"
                  },
                  "VersionNumber": {
                    "type": "long"
                  },
                  "Status": {},
                  "Arn": {},
                  "SourceEntityArn": {},
                  "DataSetArns": {
                    "shape": "Syf"
                  },
                  "Description": {},
                  "ThemeArn": {},
                  "Sheets": {
                    "shape": "Syg"
                  }
                }
              },
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastPublishedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "LinkEntities": {
                "shape": "Sn1"
              }
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeDashboardDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/definition"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DashboardId": {},
          "Errors": {
            "shape": "S11f"
          },
          "Name": {},
          "ResourceStatus": {},
          "ThemeArn": {},
          "Definition": {
            "shape": "Smz"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "DashboardPublishOptions": {
            "shape": "Smm"
          }
        }
      }
    },
    "DescribeDashboardPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DashboardId": {},
          "DashboardArn": {},
          "Permissions": {
            "shape": "S19"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "LinkSharingConfiguration": {
            "shape": "Sn0"
          }
        }
      }
    },
    "DescribeDashboardSnapshotJob": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/snapshot-jobs/{SnapshotJobId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId",
          "SnapshotJobId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "SnapshotJobId": {
            "location": "uri",
            "locationName": "SnapshotJobId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AwsAccountId": {},
          "DashboardId": {},
          "SnapshotJobId": {},
          "UserConfiguration": {
            "type": "structure",
            "members": {
              "AnonymousUsers": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "RowLevelPermissionTagKeys": {
                      "type": "list",
                      "member": {}
                    }
                  }
                }
              }
            }
          },
          "SnapshotConfiguration": {
            "shape": "S11s"
          },
          "Arn": {},
          "JobStatus": {},
          "CreatedTime": {
            "type": "timestamp"
          },
          "LastUpdatedTime": {
            "type": "timestamp"
          },
          "RequestId": {},
          "Status": {
            "type": "integer"
          }
        }
      }
    },
    "DescribeDashboardSnapshotJobResult": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/snapshot-jobs/{SnapshotJobId}/result"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId",
          "SnapshotJobId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "SnapshotJobId": {
            "location": "uri",
            "locationName": "SnapshotJobId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "JobStatus": {},
          "CreatedTime": {
            "type": "timestamp"
          },
          "LastUpdatedTime": {
            "type": "timestamp"
          },
          "Result": {
            "type": "structure",
            "members": {
              "AnonymousUsers": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "FileGroups": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "Files": {
                            "shape": "S11v"
                          },
                          "S3Results": {
                            "type": "list",
                            "member": {
                              "type": "structure",
                              "members": {
                                "S3DestinationConfiguration": {
                                  "shape": "S124"
                                },
                                "S3Uri": {
                                  "shape": "Syp"
                                },
                                "ErrorInfo": {
                                  "type": "list",
                                  "member": {
                                    "type": "structure",
                                    "members": {
                                      "ErrorMessage": {},
                                      "ErrorType": {}
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "ErrorInfo": {
            "type": "structure",
            "members": {
              "ErrorMessage": {},
              "ErrorType": {}
            }
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeDataSet": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSet": {
            "type": "structure",
            "members": {
              "Arn": {},
              "DataSetId": {},
              "Name": {},
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "PhysicalTableMap": {
                "shape": "Sn7"
              },
              "LogicalTableMap": {
                "shape": "Snr"
              },
              "OutputColumns": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {},
                    "Description": {},
                    "Type": {},
                    "SubType": {}
                  }
                }
              },
              "ImportMode": {},
              "ConsumedSpiceCapacityInBytes": {
                "type": "long"
              },
              "ColumnGroups": {
                "shape": "Soy"
              },
              "FieldFolders": {
                "shape": "Sp4"
              },
              "RowLevelPermissionDataSet": {
                "shape": "Sp9"
              },
              "RowLevelPermissionTagConfiguration": {
                "shape": "Spd"
              },
              "ColumnLevelPermissionRules": {
                "shape": "Spl"
              },
              "DataSetUsageConfiguration": {
                "shape": "Spp"
              },
              "DatasetParameters": {
                "shape": "Spq"
              }
            }
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeDataSetPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSetArn": {},
          "DataSetId": {},
          "Permissions": {
            "shape": "S19"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeDataSetRefreshProperties": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-properties"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "DataSetRefreshProperties": {
            "shape": "S12s"
          }
        }
      }
    },
    "DescribeDataSource": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSourceId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSourceId": {
            "location": "uri",
            "locationName": "DataSourceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSource": {
            "shape": "S130"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeDataSourcePermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSourceId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSourceId": {
            "location": "uri",
            "locationName": "DataSourceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSourceArn": {},
          "DataSourceId": {},
          "Permissions": {
            "shape": "S19"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeFolder": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Folder": {
            "type": "structure",
            "members": {
              "FolderId": {},
              "Arn": {},
              "Name": {},
              "FolderType": {},
              "FolderPath": {
                "type": "list",
                "member": {}
              },
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "SharingModel": {}
            }
          },
          "RequestId": {}
        }
      }
    },
    "DescribeFolderPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "FolderId": {},
          "Arn": {},
          "Permissions": {
            "shape": "S19"
          },
          "RequestId": {},
          "NextToken": {}
        }
      }
    },
    "DescribeFolderResolvedPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/resolved-permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "FolderId": {},
          "Arn": {},
          "Permissions": {
            "shape": "S19"
          },
          "RequestId": {},
          "NextToken": {}
        }
      }
    },
    "DescribeGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "Ssa"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeGroupMembership": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "MemberName",
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "MemberName": {
            "location": "uri",
            "locationName": "MemberName"
          },
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupMember": {
            "shape": "Sse"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeIAMPolicyAssignment": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssignmentName",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssignmentName": {
            "location": "uri",
            "locationName": "AssignmentName"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IAMPolicyAssignment": {
            "type": "structure",
            "members": {
              "AwsAccountId": {},
              "AssignmentId": {},
              "AssignmentName": {},
              "PolicyArn": {},
              "Identities": {
                "shape": "Ssi"
              },
              "AssignmentStatus": {}
            }
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeIngestion": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId",
          "IngestionId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "IngestionId": {
            "location": "uri",
            "locationName": "IngestionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Ingestion": {
            "shape": "S13n"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeIpRestriction": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/ip-restriction"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AwsAccountId": {},
          "IpRestrictionRuleMap": {
            "shape": "S13w"
          },
          "Enabled": {
            "type": "boolean"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeNamespace": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Namespace": {
            "shape": "S141"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeRefreshSchedule": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules/{ScheduleId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId",
          "ScheduleId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "ScheduleId": {
            "location": "uri",
            "locationName": "ScheduleId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RefreshSchedule": {
            "shape": "Ssv"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "Arn": {}
        }
      }
    },
    "DescribeRoleCustomPermission": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/custom-permission"
      },
      "input": {
        "type": "structure",
        "required": [
          "Role",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "Role": {
            "location": "uri",
            "locationName": "Role"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CustomPermissionsName": {},
          "RequestId": {},
          "Status": {
            "type": "integer"
          }
        }
      }
    },
    "DescribeTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Template": {
            "type": "structure",
            "members": {
              "Arn": {},
              "Name": {},
              "Version": {
                "type": "structure",
                "members": {
                  "CreatedTime": {
                    "type": "timestamp"
                  },
                  "Errors": {
                    "shape": "S14d"
                  },
                  "VersionNumber": {
                    "type": "long"
                  },
                  "Status": {},
                  "DataSetConfigurations": {
                    "shape": "Stb"
                  },
                  "Description": {},
                  "SourceEntityArn": {},
                  "ThemeArn": {},
                  "Sheets": {
                    "shape": "Syg"
                  }
                }
              },
              "TemplateId": {},
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "CreatedTime": {
                "type": "timestamp"
              }
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeTemplateAlias": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId",
          "AliasName"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateAlias": {
            "shape": "Stp"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeTemplateDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/definition"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "TemplateId": {},
          "Errors": {
            "shape": "S14d"
          },
          "ResourceStatus": {},
          "ThemeArn": {},
          "Definition": {
            "shape": "Sta"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeTemplatePermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateId": {},
          "TemplateArn": {},
          "Permissions": {
            "shape": "S19"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeTheme": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Theme": {
            "type": "structure",
            "members": {
              "Arn": {},
              "Name": {},
              "ThemeId": {},
              "Version": {
                "type": "structure",
                "members": {
                  "VersionNumber": {
                    "type": "long"
                  },
                  "Arn": {},
                  "Description": {},
                  "BaseThemeId": {},
                  "CreatedTime": {
                    "type": "timestamp"
                  },
                  "Configuration": {
                    "shape": "Sts"
                  },
                  "Errors": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "Type": {},
                        "Message": {}
                      }
                    }
                  },
                  "Status": {}
                }
              },
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "Type": {}
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeThemeAlias": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId",
          "AliasName"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ThemeAlias": {
            "shape": "Su8"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeThemePermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ThemeId": {},
          "ThemeArn": {},
          "Permissions": {
            "shape": "S19"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeTopic": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "TopicId": {},
          "Topic": {
            "shape": "Sub"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeTopicPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TopicId": {},
          "TopicArn": {},
          "Permissions": {
            "shape": "S19"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeTopicRefresh": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}/refresh/{RefreshId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId",
          "RefreshId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          },
          "RefreshId": {
            "location": "uri",
            "locationName": "RefreshId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RefreshDetails": {
[...]
