{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-04-01",
    "endpointPrefix": "quicksight",
    "jsonVersion": "1.0",
    "protocol": "rest-json",
    "serviceFullName": "Amazon QuickSight",
    "serviceId": "QuickSight",
    "signatureVersion": "v4",
    "uid": "quicksight-2018-04-01"
  },
  "operations": {
    "CancelIngestion": {
      "name": "CancelIngestion",
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "shape": "CancelIngestionRequest"
      },
      "output": {
        "shape": "CancelIngestionResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Cancels an ongoing ingestion of data into SPICE.</p>"
    },
    "CreateDashboard": {
      "name": "CreateDashboard",
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "shape": "CreateDashboardRequest"
      },
      "output": {
        "shape": "CreateDashboardResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Creates a dashboard from a template. To first create a template, see the CreateTemplate API operation.</p> <p>A dashboard is an entity in QuickSight that identifies QuickSight reports, created from analyses. You can share QuickSight dashboards. With the right permissions, you can create scheduled email reports from them. The <code>CreateDashboard</code>, <code>DescribeDashboard</code>, and <code>ListDashboardsByUser</code> API operations act on the dashboard entity. If you have the correct permissions, you can create a dashboard from a template that exists in a different AWS account.</p>"
    },
    "CreateDataSet": {
      "name": "CreateDataSet",
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/data-sets"
      },
      "input": {
        "shape": "CreateDataSetRequest"
      },
      "output": {
        "shape": "CreateDataSetResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Creates a dataset.</p>"
    },
    "CreateDataSource": {
      "name": "CreateDataSource",
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/data-sources"
      },
      "input": {
        "shape": "CreateDataSourceRequest"
      },
      "output": {
        "shape": "CreateDataSourceResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Creates a data source.</p>"
    },
    "CreateGroup": {
      "name": "CreateGroup",
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input": {
        "shape": "CreateGroupRequest"
      },
      "output": {
        "shape": "CreateGroupResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Creates an Amazon QuickSight group.</p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;relevant-aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The response is a group object.</p>"
    },
    "CreateGroupMembership": {
      "name": "CreateGroupMembership",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "shape": "CreateGroupMembershipRequest"
      },
      "output": {
        "shape": "CreateGroupMembershipResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Adds an Amazon QuickSight user to an Amazon QuickSight group. </p>"
    },
    "CreateIAMPolicyAssignment": {
      "name": "CreateIAMPolicyAssignment",
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
      },
      "input": {
        "shape": "CreateIAMPolicyAssignmentRequest"
      },
      "output": {
        "shape": "CreateIAMPolicyAssignmentResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConcurrentUpdatingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Creates an assignment with one specified IAM policy, identified by its Amazon Resource Name (ARN). This policy will be assigned to specified groups or users of Amazon QuickSight. The users and groups need to be in the same namespace. </p>"
    },
    "CreateIngestion": {
      "name": "CreateIngestion",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "shape": "CreateIngestionRequest"
      },
      "output": {
        "shape": "CreateIngestionResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Creates and starts a new SPICE ingestion on a dataset</p> <p>Any ingestions operating on tagged datasets inherit the same tags automatically for use in access control. For an example, see <a href=\"https://aws.example.com/premiumsupport/knowledge-center/iam-ec2-resource-tags/\">How do I create an IAM policy to control access to Amazon EC2 resources using tags?</a> in the AWS Knowledge Center. Tags are visible on the tagged dataset, but not on the ingestion resource.</p>"
    },
    "CreateTemplate": {
      "name": "CreateTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "shape": "CreateTemplateRequest"
      },
      "output": {
        "shape": "CreateTemplateResponse"
      },
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Creates a template from an existing QuickSight analysis or template. You can use the resulting template to create a dashboard.</p> <p>A <i>template</i> is an entity in QuickSight that encapsulates the metadata required to create an analysis and that you can use to create s dashboard. A template adds a layer of abstraction by using placeholders to replace the dataset associated with the analysis. You can use templates to create dashboards by replacing dataset placeholders with datasets that follow the same schema that was used to create the source analysis and template.</p>"
    },
    "CreateTemplateAlias": {
      "name": "CreateTemplateAlias",
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "shape": "CreateTemplateAliasRequest"
      },
      "output": {
        "shape": "CreateTemplateAliasResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Creates a template alias for a template.</p>"
    },
    "DeleteDashboard": {
      "name": "DeleteDashboard",
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "shape": "DeleteDashboardRequest"
      },
      "output": {
        "shape": "DeleteDashboardResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Deletes a dashboard.</p>"
    },
    "DeleteDataSet": {
      "name": "DeleteDataSet",
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input": {
        "shape": "DeleteDataSetRequest"
      },
      "output": {
        "shape": "DeleteDataSetResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Deletes a dataset.</p>"
    },
    "DeleteDataSource": {
      "name": "DeleteDataSource",
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input": {
        "shape": "DeleteDataSourceRequest"
      },
      "output": {
        "shape": "DeleteDataSourceResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Deletes the data source permanently. This action breaks all the datasets that reference the deleted data source.</p>"
    },
    "DeleteGroup": {
      "name": "DeleteGroup",
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "output": {
        "shape": "DeleteGroupResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Removes a user group from Amazon QuickSight. </p>"
    },
    "DeleteGroupMembership": {
      "name": "DeleteGroupMembership",
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "shape": "DeleteGroupMembershipRequest"
      },
      "output": {
        "shape": "DeleteGroupMembershipResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Removes a user from a group so that the user is no longer a member of the group.</p>"
    },
    "DeleteIAMPolicyAssignment": {
      "name": "DeleteIAMPolicyAssignment",
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespace/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input": {
        "shape": "DeleteIAMPolicyAssignmentRequest"
      },
      "output": {
        "shape": "DeleteIAMPolicyAssignmentResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConcurrentUpdatingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Deletes an existing IAM policy assignment.</p>"
    },
    "DeleteTemplate": {
      "name": "DeleteTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "shape": "DeleteTemplateRequest"
      },
      "output": {
        "shape": "DeleteTemplateResponse"
      },
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Deletes a template.</p>"
    },
    "DeleteTemplateAlias": {
      "name": "DeleteTemplateAlias",
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "shape": "DeleteTemplateAliasRequest"
      },
      "output": {
        "shape": "DeleteTemplateAliasResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Deletes the item that the specified template alias points to. If you provide a specific alias, you delete the version of the template that the alias points to.</p>"
    },
    "DeleteUser": {
      "name": "DeleteUser",
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input": {
        "shape": "DeleteUserRequest"
      },
      "output": {
        "shape": "DeleteUserResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Deletes the Amazon QuickSight user that is associated with the identity of the AWS Identity and Access Management (IAM) user or role that's making the call. The IAM user isn't deleted as a result of this call. </p>"
    },
    "DeleteUserByPrincipalId": {
      "name": "DeleteUserByPrincipalId",
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/user-principals/{PrincipalId}"
      },
      "input": {
        "shape": "DeleteUserByPrincipalIdRequest"
      },
      "output": {
        "shape": "DeleteUserByPrincipalIdResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Deletes a user identified by its principal ID. </p>"
    },
    "DescribeDashboard": {
      "name": "DescribeDashboard",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "shape": "DescribeDashboardRequest"
      },
      "output": {
        "shape": "DescribeDashboardResponse"
      },
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Provides a summary for a dashboard.</p>"
    },
    "DescribeDashboardPermissions": {
      "name": "DescribeDashboardPermissions",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input": {
        "shape": "DescribeDashboardPermissionsRequest"
      },
      "output": {
        "shape": "DescribeDashboardPermissionsResponse"
      },
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Describes read and write permissions for a dashboard.</p>"
    },
    "DescribeDataSet": {
      "name": "DescribeDataSet",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input": {
        "shape": "DescribeDataSetRequest"
      },
      "output": {
        "shape": "DescribeDataSetResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Describes a dataset. </p>"
    },
    "DescribeDataSetPermissions": {
      "name": "DescribeDataSetPermissions",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input": {
        "shape": "DescribeDataSetPermissionsRequest"
      },
      "output": {
        "shape": "DescribeDataSetPermissionsResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Describes the permissions on a dataset.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/data-set-id</code>.</p>"
    },
    "DescribeDataSource": {
      "name": "DescribeDataSource",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input": {
        "shape": "DescribeDataSourceRequest"
      },
      "output": {
        "shape": "DescribeDataSourceResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Describes a data source.</p>"
    },
    "DescribeDataSourcePermissions": {
      "name": "DescribeDataSourcePermissions",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input": {
        "shape": "DescribeDataSourcePermissionsRequest"
      },
      "output": {
        "shape": "DescribeDataSourcePermissionsResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Describes the resource permissions for a data source.</p>"
    },
    "DescribeGroup": {
      "name": "DescribeGroup",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input": {
        "shape": "DescribeGroupRequest"
      },
      "output": {
        "shape": "DescribeGroupResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Returns an Amazon QuickSight group's description and Amazon Resource Name (ARN). </p>"
    },
    "DescribeIAMPolicyAssignment": {
      "name": "DescribeIAMPolicyAssignment",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input": {
        "shape": "DescribeIAMPolicyAssignmentRequest"
      },
      "output": {
        "shape": "DescribeIAMPolicyAssignmentResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Describes an existing IAM policy assignment, as specified by the assignment name.</p>"
    },
    "DescribeIngestion": {
      "name": "DescribeIngestion",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "shape": "DescribeIngestionRequest"
      },
      "output": {
        "shape": "DescribeIngestionResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Describes a SPICE ingestion.</p>"
    },
    "DescribeTemplate": {
      "name": "DescribeTemplate",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "shape": "DescribeTemplateRequest"
      },
      "output": {
        "shape": "DescribeTemplateResponse"
      },
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Describes a template's metadata.</p>"
    },
    "DescribeTemplateAlias": {
      "name": "DescribeTemplateAlias",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "shape": "DescribeTemplateAliasRequest"
      },
      "output": {
        "shape": "DescribeTemplateAliasResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Describes the template alias for a template.</p>"
    },
    "DescribeTemplatePermissions": {
      "name": "DescribeTemplatePermissions",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input": {
        "shape": "DescribeTemplatePermissionsRequest"
      },
      "output": {
        "shape": "DescribeTemplatePermissionsResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Describes read and write permissions on a template.</p>"
    },
    "DescribeUser": {
      "name": "DescribeUser",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input": {
        "shape": "DescribeUserRequest"
      },
      "output": {
        "shape": "DescribeUserResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Returns information about a user, given the user name. </p>"
    },
    "GetDashboardEmbedUrl": {
      "name": "GetDashboardEmbedUrl",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/embed-url"
      },
      "input": {
        "shape": "GetDashboardEmbedUrlRequest"
      },
      "output": {
        "shape": "GetDashboardEmbedUrlResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "DomainNotWhitelistedException"
        },
        {
          "shape": "QuickSightUserNotFoundException"
        },
        {
          "shape": "IdentityTypeNotSupportedException"
        },
        {
          "shape": "SessionLifetimeInMinutesInvalidException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Generates a server-side embeddable URL and authorization code. For this process to work properly, first configure the dashboards and user permissions. For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedding-dashboards.html\">Embedding Amazon QuickSight Dashboards</a> in the <i>Amazon QuickSight User Guide</i> or <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/qs-dev-embedded-dashboards.html\">Embedding Amazon QuickSight Dashboards</a> in the <i>Amazon QuickSight API Reference</i>.</p> <p>Currently, you can use <code>GetDashboardEmbedURL</code> only from the server, not from the user’s browser.</p>"
    },
    "ListDashboardVersions": {
      "name": "ListDashboardVersions",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions"
      },
      "input": {
        "shape": "ListDashboardVersionsRequest"
      },
      "output": {
        "shape": "ListDashboardVersionsResponse"
      },
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Lists all the versions of the dashboards in the QuickSight subscription.</p>"
    },
    "ListDashboards": {
      "name": "ListDashboards",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards"
      },
      "input": {
        "shape": "ListDashboardsRequest"
      },
      "output": {
        "shape": "ListDashboardsResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Lists dashboards in an AWS account.</p>"
    },
    "ListDataSets": {
      "name": "ListDataSets",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets"
      },
      "input": {
        "shape": "ListDataSetsRequest"
      },
      "output": {
        "shape": "ListDataSetsResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Lists all of the datasets belonging to the current AWS account in an AWS Region.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/*</code>.</p>"
    },
    "ListDataSources": {
      "name": "ListDataSources",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources"
      },
      "input": {
        "shape": "ListDataSourcesRequest"
      },
      "output": {
        "shape": "ListDataSourcesResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Lists data sources in current AWS Region that belong to this AWS account.</p>"
    },
    "ListGroupMemberships": {
      "name": "ListGroupMemberships",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members"
      },
      "input": {
        "shape": "ListGroupMembershipsRequest"
      },
      "output": {
        "shape": "ListGroupMembershipsResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Lists member users in a group.</p>"
    },
    "ListGroups": {
      "name": "ListGroups",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input": {
        "shape": "ListGroupsRequest"
      },
      "output": {
        "shape": "ListGroupsResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Lists all user groups in Amazon QuickSight. </p>"
    },
    "ListIAMPolicyAssignments": {
      "name": "ListIAMPolicyAssignments",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments"
      },
      "input": {
        "shape": "ListIAMPolicyAssignmentsRequest"
      },
      "output": {
        "shape": "ListIAMPolicyAssignmentsResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Lists IAM policy assignments in the current Amazon QuickSight account.</p>"
    },
    "ListIAMPolicyAssignmentsForUser": {
      "name": "ListIAMPolicyAssignmentsForUser",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/iam-policy-assignments"
      },
      "input": {
        "shape": "ListIAMPolicyAssignmentsForUserRequest"
      },
      "output": {
        "shape": "ListIAMPolicyAssignmentsForUserResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConcurrentUpdatingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Lists all the IAM policy assignments, including the Amazon Resource Names (ARNs) for the IAM policies assigned to the specified user and group or groups that the user belongs to.</p>"
    },
    "ListIngestions": {
      "name": "ListIngestions",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions"
      },
      "input": {
        "shape": "ListIngestionsRequest"
      },
      "output": {
        "shape": "ListIngestionsResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Lists the history of SPICE ingestions for a dataset.</p>"
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/resources/{ResourceArn}/tags"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Lists the tags assigned to a resource.</p>"
    },
    "ListTemplateAliases": {
      "name": "ListTemplateAliases",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases"
      },
      "input": {
        "shape": "ListTemplateAliasesRequest"
      },
      "output": {
        "shape": "ListTemplateAliasesResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Lists all the aliases of a template.</p>"
    },
    "ListTemplateVersions": {
      "name": "ListTemplateVersions",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/versions"
      },
      "input": {
        "shape": "ListTemplateVersionsRequest"
      },
      "output": {
        "shape": "ListTemplateVersionsResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Lists all the versions of the templates in the current Amazon QuickSight account.</p>"
    },
    "ListTemplates": {
      "name": "ListTemplates",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates"
      },
      "input": {
        "shape": "ListTemplatesRequest"
      },
      "output": {
        "shape": "ListTemplatesResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Lists all the templates in the current Amazon QuickSight account.</p>"
    },
    "ListUserGroups": {
      "name": "ListUserGroups",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/groups"
      },
      "input": {
        "shape": "ListUserGroupsRequest"
      },
      "output": {
        "shape": "ListUserGroupsResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Lists the Amazon QuickSight groups that an Amazon QuickSight user is a member of.</p>"
    },
    "ListUsers": {
      "name": "ListUsers",
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input": {
        "shape": "ListUsersRequest"
      },
      "output": {
        "shape": "ListUsersResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Returns a list of all of the Amazon QuickSight users belonging to this account. </p>"
    },
    "RegisterUser": {
      "name": "RegisterUser",
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input": {
        "shape": "RegisterUserRequest"
      },
      "output": {
        "shape": "RegisterUserResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Creates an Amazon QuickSight user, whose identity is associated with the AWS Identity and Access Management (IAM) identity or role specified in the request. </p>"
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/resources/{ResourceArn}/tags"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "output": {
        "shape": "TagResourceResponse"
      },
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Assigns one or more tags (key-value pairs) to the specified QuickSight resource. </p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only resources with certain tag values. You can use the <code>TagResource</code> operation with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a resource. QuickSight supports tagging on data set, data source, dashboard, and template. </p> <p>Tagging for QuickSight works in a similar way to tagging for other AWS services, except for the following:</p> <ul> <li> <p>You can't use tags to track AWS costs for QuickSight. This restriction is because QuickSight costs are based on users and SPICE capacity, which aren't taggable resources.</p> </li> <li> <p>QuickSight doesn't currently support the Tag Editor for AWS Resource Groups.</p> </li> </ul>"
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "DELETE",
        "requestUri": "/resources/{ResourceArn}/tags"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "output": {
        "shape": "UntagResourceResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Removes a tag or tags from a resource.</p>"
    },
    "UpdateDashboard": {
      "name": "UpdateDashboard",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "shape": "UpdateDashboardRequest"
      },
      "output": {
        "shape": "UpdateDashboardResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Updates a dashboard in an AWS account.</p>"
    },
    "UpdateDashboardPermissions": {
      "name": "UpdateDashboardPermissions",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input": {
        "shape": "UpdateDashboardPermissionsRequest"
      },
      "output": {
        "shape": "UpdateDashboardPermissionsResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Updates read and write permissions on a dashboard.</p>"
    },
    "UpdateDashboardPublishedVersion": {
      "name": "UpdateDashboardPublishedVersion",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions/{VersionNumber}"
      },
      "input": {
        "shape": "UpdateDashboardPublishedVersionRequest"
      },
      "output": {
        "shape": "UpdateDashboardPublishedVersionResponse"
      },
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Updates the published version of a dashboard.</p>"
    },
    "UpdateDataSet": {
      "name": "UpdateDataSet",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input": {
        "shape": "UpdateDataSetRequest"
      },
      "output": {
        "shape": "UpdateDataSetResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Updates a dataset.</p>"
    },
    "UpdateDataSetPermissions": {
      "name": "UpdateDataSetPermissions",
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input": {
        "shape": "UpdateDataSetPermissionsRequest"
      },
      "output": {
        "shape": "UpdateDataSetPermissionsResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Updates the permissions on a dataset.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/data-set-id</code>.</p>"
    },
    "UpdateDataSource": {
      "name": "UpdateDataSource",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input": {
        "shape": "UpdateDataSourceRequest"
      },
      "output": {
        "shape": "UpdateDataSourceResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Updates a data source.</p>"
    },
    "UpdateDataSourcePermissions": {
      "name": "UpdateDataSourcePermissions",
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input": {
        "shape": "UpdateDataSourcePermissionsRequest"
      },
      "output": {
        "shape": "UpdateDataSourcePermissionsResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Updates the permissions to a data source.</p>"
    },
    "UpdateGroup": {
      "name": "UpdateGroup",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input": {
        "shape": "UpdateGroupRequest"
      },
      "output": {
        "shape": "UpdateGroupResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Changes a group description. </p>"
    },
    "UpdateIAMPolicyAssignment": {
      "name": "UpdateIAMPolicyAssignment",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input": {
        "shape": "UpdateIAMPolicyAssignmentRequest"
      },
      "output": {
        "shape": "UpdateIAMPolicyAssignmentResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConcurrentUpdatingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Updates an existing IAM policy assignment. This operation updates only the optional parameter or parameters that are specified in the request.</p>"
    },
    "UpdateTemplate": {
      "name": "UpdateTemplate",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "shape": "UpdateTemplateRequest"
      },
      "output": {
        "shape": "UpdateTemplateResponse"
      },
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Updates a template from an existing Amazon QuickSight analysis or another template.</p>"
    },
    "UpdateTemplateAlias": {
      "name": "UpdateTemplateAlias",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "shape": "UpdateTemplateAliasRequest"
      },
      "output": {
        "shape": "UpdateTemplateAliasResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Updates the template alias of a template.</p>"
    },
    "UpdateTemplatePermissions": {
      "name": "UpdateTemplatePermissions",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input": {
        "shape": "UpdateTemplatePermissionsRequest"
      },
      "output": {
        "shape": "UpdateTemplatePermissionsResponse"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "documentation": "<p>Updates the resource permissions for a template.</p>"
    },
    "UpdateUser": {
      "name": "UpdateUser",
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input": {
        "shape": "UpdateUserRequest"
      },
      "output": {
        "shape": "UpdateUserResponse"
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "documentation": "<p>Updates an Amazon QuickSight user.</p>"
    }
  },
  "shapes": {
    "ActionList": {
      "type": "list",
      "member": {
        "shape": "String"
      },
      "max": 16,
      "min": 1
    },
    "ActiveIAMPolicyAssignment": {
      "type": "structure",
      "members": {
        "AssignmentName": {
          "shape": "IAMPolicyAssignmentName",
          "documentation": "<p>A name for the IAM policy assignment.</p>"
        },
        "PolicyArn": {
          "shape": "Arn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
        }
      },
      "documentation": "<p>The active AWS Identity and Access Management (IAM) policy assignment.</p>"
    },
    "ActiveIAMPolicyAssignmentList": {
      "type": "list",
      "member": {
        "shape": "ActiveIAMPolicyAssignment"
      }
    },
    "AdHocFilteringOption": {
      "type": "structure",
      "members": {
        "AvailabilityStatus": {
          "shape": "DashboardBehavior",
          "documentation": "<p>Availability status.</p>"
        }
      },
      "documentation": "<p>Ad hoc (one-time) filtering option.</p>"
    },
    "AliasName": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "[\\w\\-]+|(\\$LATEST)|(\\$PUBLISHED)"
    },
    "AmazonElasticsearchParameters": {
      "type": "structure",
      "required": [
        "Domain"
      ],
      "members": {
        "Domain": {
          "shape": "Domain",
          "documentation": "<p>The Amazon Elasticsearch Service domain.</p>"
        }
      },
      "documentation": "<p>Amazon Elasticsearch Service parameters.</p>"
    },
    "Arn": {
      "type": "string"
    },
    "AssignmentStatus": {
      "type": "string",
      "enum": [
        "ENABLED",
        "DRAFT",
        "DISABLED"
      ]
    },
    "AthenaParameters": {
      "type": "structure",
      "members": {
        "WorkGroup": {
          "shape": "WorkGroup",
          "documentation": "<p>The workgroup that Amazon Athena uses.</p>"
        }
      },
      "documentation": "<p>Amazon Athena parameters.</p>"
    },
    "AuroraParameters": {
      "type": "structure",
      "required": [
        "Host",
        "Port",
        "Database"
      ],
      "members": {
        "Host": {
          "shape": "Host",
          "documentation": "<p>Host.</p>"
        },
        "Port": {
          "shape": "Port",
          "documentation": "<p>Port.</p>"
        },
        "Database": {
          "shape": "Database",
          "documentation": "<p>Database.</p>"
        }
      },
      "documentation": "<p>Amazon Aurora parameters.</p>"
    },
    "AuroraPostgreSqlParameters": {
      "type": "structure",
      "required": [
        "Host",
        "Port",
        "Database"
      ],
      "members": {
        "Host": {
          "shape": "Host",
          "documentation": "<p>Host.</p>"
        },
        "Port": {
          "shape": "Port",
          "documentation": "<p>Port.</p>"
        },
        "Database": {
          "shape": "Database",
          "documentation": "<p>Database.</p>"
        }
      },
      "documentation": "<p>Amazon Aurora with PostgreSQL compatibility parameters.</p>"
    },
    "AwsAccountId": {
      "type": "string",
      "max": 12,
      "min": 12,
      "pattern": "^[0-9]{12}$"
    },
    "AwsIotAnalyticsParameters": {
      "type": "structure",
      "required": [
        "DataSetName"
      ],
      "members": {
        "DataSetName": {
          "shape": "DataSetName",
          "documentation": "<p>Dataset name.</p>"
        }
      },
      "documentation": "<p>AWS IoT Analytics parameters.</p>"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CalculatedColumn": {
      "type": "structure",
      "required": [
        "ColumnName",
        "ColumnId",
        "Expression"
      ],
      "members": {
        "ColumnName": {
          "shape": "ColumnName",
          "documentation": "<p>Column name.</p>"
        },
        "ColumnId": {
          "shape": "ColumnId",
          "documentation": "<p>A unique ID to identify a calculated column. During a dataset update, if the column ID of a calculated column matches that of an existing calculated column, Amazon QuickSight preserves the existing calculated column.</p>"
        },
        "Expression": {
          "shape": "Expression",
          "documentation": "<p>An expression that defines the calculated column.</p>"
        }
      },
      "documentation": "<p>A calculated column for a dataset.</p>"
    },
    "CalculatedColumnList": {
      "type": "list",
      "member": {
        "shape": "CalculatedColumn"
      },
      "max": 128,
      "min": 1
    },
    "CancelIngestionRequest": {
      "type": "structure",
      "required": [
        "AwsAccountId",
        "DataSetId",
        "IngestionId"
      ],
      "members": {
        "AwsAccountId": {
          "shape": "AwsAccountId",
          "documentation": "<p>The AWS account ID.</p>",
          "location": "uri",
          "locationName": "AwsAccountId"
        },
        "DataSetId": {
          "shape": "string",
          "documentation": "<p>The ID of the dataset used in the ingestion.</p>",
          "location": "uri",
          "locationName": "DataSetId"
        },
        "IngestionId": {
          "shape": "IngestionId",
          "documentation": "<p>An ID for the ingestion.</p>",
          "location": "uri",
          "locationName": "IngestionId"
        }
      }
    },
    "CancelIngestionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "Arn",
          "documentation": "<p>The Amazon Resource Name (ARN) for the data ingestion.</p>"
        },
        "IngestionId": {
          "shape": "IngestionId",
          "documentation": "<p>An ID for the ingestion.</p>"
        },
        "RequestId": {
          "shape": "string",
          "documentation": "<p>The AWS request ID for this operation.</p>"
        },
        "Status": {
          "shape": "StatusCode",
          "documentation": "<p>The HTTP status of the request.</p>",
          "location": "statusCode"
        }
      }
    },
    "CastColumnTypeOperation": {
      "type": "structure",
      "required": [
        "ColumnName",
        "NewColumnType"
      ],
      "members": {
        "ColumnName": {
          "shape": "ColumnName",
          "documentation": "<p>Column name.</p>"
        },
        "NewColumnType": {
          "shape": "ColumnDataType",
          "documentation": "<p>New column data type.</p>"
        },
        "Format": {
          "shape": "TypeCastFormat",
          "documentation": "<p>When casting a column from string to datetime type, you can supply a string in a format supported by Amazon QuickSight to denote the source data format.</p>"
        }
      },
      "documentation": "<p>A transform operation that casts a column to a different type.</p>"
    },
    "Catalog": {
      "type": "string",
      "max": 128
    },
    "ClusterId": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "ColumnDataType": {
      "type": "string",
      "enum": [
        "STRING",
        "INTEGER",
        "DECIMAL",
        "DATETIME"
      ]
    },
    "ColumnGroup": {
      "type": "structure",
      "members": {
        "GeoSpatialColumnGroup": {
          "shape": "GeoSpatialColumnGroup",
          "documentation": "<p>Geospatial column group that denotes a hierarchy.</p>"
        }
      },
      "documentation": "<p>Groupings of columns that work together in certain Amazon QuickSight features. This is a variant type structure. For this structure to be valid, only one of the attributes can be non-null.</p>"
    },
    "ColumnGroupColumnSchema": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "String",
          "documentation": "<p>The name of the column group's column schema.</p>"
        }
      },
      "documentation": "<p>A structure describing the name, data type, and geographic role of the columns.</p>"
    },
    "ColumnGroupColumnSchemaList": {
      "type": "list",
      "member": {
        "shape": "ColumnGroupColumnSchema"
      },
      "max": 500
    },
    "ColumnGroupList": {
      "type": "list",
      "member": {
        "shape": "ColumnGroup"
      },
      "max": 8,
      "min": 1
    },
    "ColumnGroupName": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "ColumnGroupSchema": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "String",
          "documentation": "<p>The name of the column group schema.</p>"
        },
        "ColumnGroupColumnSchemaList": {
          "shape": "ColumnGroupColumnSchemaList",
          "documentation": "<p>A structure containing the list of schemas for column group columns.</p>"
        }
      },
      "documentation": "<p>The column group schema.</p>"
    },
    "ColumnGroupSchemaList": {
      "type": "list",
      "member": {
        "shape": "ColumnGroupSchema"
      },
      "max": 500
    },
    "ColumnId": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "ColumnList": {
      "type": "list",
      "member": {
        "shape": "ColumnName"
      },
      "max": 16,
      "min": 1
    },
    "ColumnName": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "ColumnSchema": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "String",
          "documentation": "<p>The name of the column schema.</p>"
        },
        "DataType": {
          "shape": "String",
          "documentation": "<p>The data type of the column schema.</p>"
        },
        "GeographicRole": {
          "shape": "String",
          "documentation": "<p>The geographic role of the column schema.</p>"
        }
      },
      "documentation": "<p>The column schema.</p>"
    },
    "ColumnSchemaList": {
      "type": "list",
      "member": {
        "shape": "ColumnSchema"
      },
      "max": 500
    },
    "ColumnTag": {
      "type": "structure",
      "members": {
        "ColumnGeographicRole": {
          "shape": "GeoSpatialDataRole",
          "documentation": "<p>A geospatial role for a column.</p>"
        }
      },
      "documentation": "<p>A tag for a column in a <code>TagColumnOperation</code> structure. This is a variant type structure. For this structure to be valid, only one of the attributes can be non-null.</p>"
    },
    "ColumnTagList": {
      "type": "list",
      "member": {
        "shape": "ColumnTag"
      },
      "max": 16,
      "min": 1
    },
    "CreateColumnsOperation": {
      "type": "structure",
      "required": [
        "Columns"
      ],
      "members": {
        "Columns": {
          "shape": "CalculatedColumnList",
          "documentation": "<p>Calculated columns to create.</p>"
        }
      },
      "documentation": "<p>A transform operation that creates calculated columns. Columns created in one such operation form a lexical closure.</p>"
    },
    "CreateDashboardRequest": {
      "type": "structure",
      "required": [
        "AwsAccountId",
        "DashboardId",
        "Name",
        "SourceEntity"
      ],
      "members": {
        "AwsAccountId": {
          "shape": "AwsAccountId",
          "documentation": "<p>The ID of the AWS account where you want to create the dashboard.</p>",
          "location": "uri",
          "locationName": "AwsAccountId"
        },
        "DashboardId": {
          "shape": "RestrictiveResourceId",
          "documentation": "<p>The ID for the dashboard, also added to the IAM policy.</p>",
          "location": "uri",
          "locationName": "DashboardId"
        },
        "Name": {
          "shape": "DashboardName",
          "documentation": "<p>The display name of the dashboard.</p>"
        },
        "Parameters": {
          "shape": "Parameters",
          "documentation": "<p>A structure that contains the parameters of the dashboard. These are parameter overrides for a dashboard. A dashboard can have any type of parameters, and some parameters might accept multiple values. You can use the dashboard permissions structure described following to override two string parameters that accept multiple values. </p>"
        },
        "Permissions": {
          "shape": "ResourcePermissionList",
          "documentation": "<p>A structure that contains the permissions of the dashboard. You can use this structure for granting permissions with principal and action information.</p>"
        },
        "SourceEntity": {
          "shape": "DashboardSourceEntity",
          "documentation": "<p>The source entity from which the dashboard is created. The source entity accepts the Amazon Resource Name (ARN) of the source template or analysis and also references the replacement datasets for the placeholders set when creating the template. The replacement datasets need to follow the same schema as the datasets for which placeholders were created when creating the template. </p> <p>If you are creating a dashboard from a source entity in a different AWS account, use the ARN of the source template.</p>"
        },
        "Tags": {
          "shape": "TagList",
          "documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the dashboard.</p>"
        },
        "VersionDescription": {
          "shape": "VersionDescription",
          "documentation": "<p>A description for the first version of the dashboard being created.</p>"
        },
        "DashboardPublishOptions": {
          "shape": "DashboardPublishOptions",
          "documentation": "<p>Options for publishing the dashboard when you create it:</p> <ul> <li> <p> <code>AvailabilityStatus</code> for <code>AdHocFilteringOption</code> - This status can be either <code>ENABLED</code> or <code>DISABLED</code>. When this is set to <code>DISABLED</code>, QuickSight disables the left filter pane on the published dashboard, which can be used for ad hoc (one-time) filtering. This option is <code>ENABLED</code> by default. </p> </li> <li> <p> <code>AvailabilityStatus</code> for <code>ExportToCSVOption</code> - This status can be either <code>ENABLED</code> or <code>DISABLED</code>. The visual option to export data to .csv format isn't enabled when this is set to <code>DISABLED</code>. This option is <code>ENABLED</code> by default. </p> </li> <li> <p> <code>VisibilityState</code> for <code>SheetControlsOption</code> - This visibility state can be either <code>COLLAPSED</code> or <code>EXPANDED</code>. The sheet controls pane is collapsed by default when set to true. This option is <code>COLLAPSED</code> by default. </p> </li> </ul>"
        }
      }
    },
    "CreateDashboardResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "Arn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the dashboard.</p>"
        },
        "VersionArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN of the dashboard, including the version number of the first version that is created.</p>"
        },
        "DashboardId": {
          "shape": "RestrictiveResourceId",
          "documentation": "<p>The ID for the dashboard.</p>"
        },
        "CreationStatus": {
          "shape": "ResourceStatus",
          "documentation": "<p>The status of the dashboard creation request.</p>"
        },
        "Status": {
          "shape": "StatusCode",
          "documentation": "<p>The HTTP status of the request.</p>",
          "location": "statusCode"
        },
        "RequestId": {
          "shape": "String",
          "documentation": "<p>The AWS request ID for this operation.</p>"
        }
      }
    },
    "CreateDataSetRequest": {
      "type": "structure",
      "required": [
        "AwsAccountId",
        "DataSetId",
        "Name",
        "PhysicalTableMap",
        "ImportMode"
      ],
      "members": {
        "AwsAccountId": {
          "shape": "AwsAccountId",
          "documentation": "<p>The AWS account ID.</p>",
          "location": "uri",
          "locationName": "AwsAccountId"
        },
        "DataSetId": {
          "shape": "ResourceId",
          "documentation": "<p>An ID for the dataset that you want to create. This ID is unique per AWS Region for each AWS account.</p>"
        },
        "Name": {
          "shape": "ResourceName",
          "documentation": "<p>The display name for the dataset.</p>"
        },
        "PhysicalTableMap": {
          "shape": "PhysicalTableMap",
          "documentation": "<p>Declares the physical tables that are available in the underlying data sources.</p>"
        },
        "LogicalTableMap": {
          "shape": "LogicalTableMap",
          "documentation": "<p>Configures the combination and transformation of the data from the physical tables.</p>"
        },
        "ImportMode": {
          "shape": "DataSetImportMode",
          "documentation": "<p>Indicates whether you want to import the data into SPICE.</p>"
        },
        "ColumnGroups": {
          "shape": "ColumnGroupList",
          "documentation": "<p>Groupings of columns that work together in certain QuickSight features. Currently, only geospatial hierarchy is supported.</p>"
        },
        "Permissions": {
          "shape": "ResourcePermissionList",
          "documentation": "<p>A list of resource permissions on the dataset.</p>"
        },
        "RowLevelPermissionDataSet": {
          "shape": "RowLevelPermissionDataSet",
          "documentation": "<p>The row-level security configuration for the data that you want to create.</p>"
        },
        "Tags": {
          "shape": "TagList",
          "documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the dataset.</p>"
        }
      }
    },
    "CreateDataSetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "Arn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
        },
        "DataSetId": {
          "shape": "ResourceId",
          "documentation": "<p>The ID for the dataset that you want to create. This ID is unique per AWS Region for each AWS account.</p>"
        },
        "IngestionArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN for the ingestion, which is triggered as a result of dataset creation if the import mode is SPICE.</p>"
        },
        "IngestionId": {
          "shape": "ResourceId",
          "documentation": "<p>The ID of the ingestion, which is triggered as a result of dataset creation if the import mode is SPICE.</p>"
        },
        "RequestId": {
          "shape": "String",
          "documentation": "<p>The AWS request ID for this operation.</p>"
        },
        "Status": {
          "shape": "StatusCode",
          "documentation": "<p>The HTTP status of the request.</p>",
          "location": "statusCode"
        }
      }
    },
    "CreateDataSourceRequest": {
      "type": "structure",
      "required": [
        "AwsAccountId",
        "DataSourceId",
        "Name",
        "Type"
      ],
      "members": {
        "AwsAccountId": {
          "shape": "AwsAccountId",
          "documentation": "<p>The AWS account ID.</p>",
          "location": "uri",
          "locationName": "AwsAccountId"
        },
        "DataSourceId": {
          "shape": "ResourceId",
          "documentation": "<p>An ID for the data source. This ID is unique per AWS Region for each AWS account. </p>"
        },
        "Name": {
          "shape": "ResourceName",
          "documentation": "<p>A display name for the data source.</p>"
        },
        "Type": {
          "shape": "DataSourceType",
          "documentation": "<p>The type of the data source. Currently, the supported types for this operation are: <code>ATHENA, AURORA, AURORA_POSTGRESQL, MARIADB, MYSQL, POSTGRESQL, PRESTO, REDSHIFT, S3, SNOWFLAKE, SPARK, SQLSERVER, TERADATA</code>. Use <code>ListDataSources</code> to return a list of all data sources.</p>"
        },
        "DataSourceParameters": {
          "shape": "DataSourceParameters",
          "documentation": "<p>The parameters that QuickSight uses to connect to your underlying source.</p>"
        },
        "Credentials": {
          "shape": "DataSourceCredentials",
          "documentation": "<p>The credentials QuickSight that uses to connect to your underlying source. Currently, only credentials based on user name and password are supported.</p>"
        },
        "Permissions": {
          "shape": "ResourcePermissionList",
          "documentation": "<p>A list of resource permissions on the data source.</p>"
        },
        "VpcConnectionProperties": {
          "shape": "VpcConnectionProperties",
          "documentation": "<p>Use this parameter only when you want QuickSight to use a VPC connection when connecting to your underlying source.</p>"
        },
        "SslProperties": {
          "shape": "SslProperties",
          "documentation": "<p>Secure Socket Layer (SSL) properties that apply when QuickSight connects to your underlying source.</p>"
        },
        "Tags": {
          "shape": "TagList",
          "documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the data source.</p>"
        }
      }
    },
    "CreateDataSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "Arn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the data source.</p>"
        },
        "DataSourceId": {
          "shape": "ResourceId",
          "documentation": "<p>The ID of the data source. This ID is unique per AWS Region for each AWS account.</p>"
        },
        "CreationStatus": {
          "shape": "ResourceStatus",
          "documentation": "<p>The status of creating the data source.</p>"
        },
        "RequestId": {
          "shape": "String",
          "documentation": "<p>The AWS request ID for this operation.</p>"
        },
        "Status": {
          "shape": "StatusCode",
          "documentation": "<p>The HTTP status of the request.</p>",
          "location": "statusCode"
        }
      }
    },
    "CreateGroupMembershipRequest": {
      "type": "structure",
      "required": [
        "MemberName",
        "GroupName",
        "AwsAccountId",
        "Namespace"
      ],
      "members": {
        "MemberName": {
          "shape": "GroupMemberName",
          "documentation": "<p>The name of the user that you want to add to the group membership.</p>",
          "location": "uri",
          "locationName": "MemberName"
        },
        "GroupName": {
          "shape": "GroupName",
          "documentation": "<p>The name of the group that you want to add the user to.</p>",
          "location": "uri",
          "locationName": "GroupName"
        },
        "AwsAccountId": {
          "shape": "AwsAccountId",
          "documentation": "<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>",
          "location": "uri",
          "locationName": "AwsAccountId"
        },
        "Namespace": {
          "shape": "Namespace",
          "documentation": "<p>The namespace. Currently, you should set this to <code>default</code>.</p>",
          "location": "uri",
          "locationName": "Namespace"
        }
      }
    },
    "CreateGroupMembershipResponse": {
      "type": "structure",
      "members": {
        "GroupMember": {
          "shape": "GroupMember",
          "documentation": "<p>The group member.</p>"
        },
        "RequestId": {
          "shape": "String",
          "documentation": "<p>The AWS request ID for this operation.</p>"
        },
        "Status": {
          "shape": "StatusCode",
          "documentation": "<p>The HTTP status of the request.</p>",
          "location": "statusCode"
        }
      }
    },
    "CreateGroupRequest": {
      "type": "structure",
      "required": [
        "GroupName",
        "AwsAccountId",
        "Namespace"
      ],
      "members": {
        "GroupName": {
          "shape": "GroupName",
          "documentation": "<p>A name for the group that you want to create.</p>"
        },
        "Description": {
          "shape": "GroupDescription",
          "documentation": "<p>A description for the group that you want to create.</p>"
        },
        "AwsAccountId": {
          "shape": "AwsAccountId",
          "documentation": "<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>",
          "location": "uri",
          "locationName": "AwsAccountId"
        },
        "Namespace": {
          "shape": "Namespace",
          "documentation": "<p>The namespace. Currently, you should set this to <code>default</code>.</p>",
          "location": "uri",
          "locationName": "Namespace"
        }
      },
      "documentation": "<p>The request object for this operation. </p>"
    },
    "CreateGroupResponse": {
      "type": "structure",
      "members": {
        "Group": {
          "shape": "Group",
          "documentation": "<p>The name of the group.</p>"
        },
        "RequestId": {
          "shape": "String",
          "documentation": "<p>The AWS request ID for this operation.</p>"
        },
        "Status": {
          "shape": "StatusCode",
          "documentation": "<p>The HTTP status of the request.</p>",
          "location": "statusCode"
        }
      },
      "documentation": "<p>The response object for this operation.</p>"
    },
    "CreateIAMPolicyAssignmentRequest": {
      "type": "structure",
      "required": [
        "AwsAccountId",
        "AssignmentName",
        "AssignmentStatus",
        "Namespace"
      ],
      "members": {
        "AwsAccountId": {
          "shape": "AwsAccountId",
          "documentation": "<p>The ID of the AWS account where you want to assign an IAM policy to QuickSight users or groups.</p>",
          "location": "uri",
          "locationName": "AwsAccountId"
        },
        "AssignmentName": {
          "shape": "IAMPolicyAssignmentName",
          "documentation": "<p>The name of the assignment. It must be unique within an AWS account.</p>"
        },
        "AssignmentStatus": {
          "shape": "AssignmentStatus",
          "documentation": "<p>The status of the assignment. Possible values are as follows:</p> <ul> <li> <p> <code>ENABLED</code> - Anything specified in this assignment is used when creating the data source.</p> </li> <li> <p> <code>DISABLED</code> - This assignment isn't used when creating the data source.</p> </li> <li> <p> <code>DRAFT</code> - This assignment is an unfinished draft and isn't used when creating the data source.</p> </li> </ul>"
        },
        "PolicyArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN for the IAM policy to apply to the QuickSight users and groups specified in this assignment.</p>"
        },
        "Identities": {
          "shape": "IdentityMap",
          "documentation": "<p>The QuickSight users, groups, or both that you want to assign the policy to.</p>"
        },
        "Namespace": {
          "shape": "Namespace",
          "documentation": "<p>The namespace that contains the assignment.</p>",
          "location": "uri",
          "locationName": "Namespace"
        }
      }
    },
    "CreateIAMPolicyAssignmentResponse": {
      "type": "structure",
      "members": {
        "AssignmentName": {
          "shape": "IAMPolicyAssignmentName",
          "documentation": "<p>The name of the assignment. This name must be unique within the AWS account.</p>"
        },
        "AssignmentId": {
          "shape": "String",
          "documentation": "<p>The ID for the assignment.</p>"
        },
        "AssignmentStatus": {
          "shape": "AssignmentStatus",
          "documentation": "<p>The status of the assignment. Possible values are as follows:</p> <ul> <li> <p> <code>ENABLED</code> - Anything specified in this assignment is used when creating the data source.</p> </li> <li> <p> <code>DISABLED</code> - This assignment isn't used when creating the data source.</p> </li> <li> <p> <code>DRAFT</code> - This assignment is an unfinished draft and isn't used when creating the data source.</p> </li> </ul>"
        },
        "PolicyArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN for the IAM policy that is applied to the QuickSight users and groups specified in this assignment.</p>"
        },
        "Identities": {
          "shape": "IdentityMap",
          "documentation": "<p>The QuickSight users, groups, or both that the IAM policy is assigned to.</p>"
        },
        "RequestId": {
          "shape": "String",
          "documentation": "<p>The AWS request ID for this operation.</p>"
        },
        "Status": {
          "shape": "StatusCode",
          "documentation": "<p>The HTTP status of the request.</p>",
          "location": "statusCode"
        }
      }
    },
    "CreateIngestionRequest": {
      "type": "structure",
      "required": [
        "DataSetId",
        "IngestionId",
        "AwsAccountId"
      ],
      "members": {
        "DataSetId": {
          "shape": "string",
          "documentation": "<p>The ID of the dataset used in the ingestion.</p>",
          "location": "uri",
          "locationName": "DataSetId"
        },
        "IngestionId": {
          "shape": "IngestionId",
          "documentation": "<p>An ID for the ingestion.</p>",
          "location": "uri",
          "locationName": "IngestionId"
        },
        "AwsAccountId": {
          "shape": "AwsAccountId",
          "documentation": "<p>The AWS account ID.</p>",
          "location": "uri",
          "locationName": "AwsAccountId"
        }
      }
    },
    "CreateIngestionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "Arn",
          "documentation": "<p>The Amazon Resource Name (ARN) for the data ingestion.</p>"
        },
        "IngestionId": {
          "shape": "IngestionId",
          "documentation": "<p>An ID for the ingestion.</p>"
        },
        "IngestionStatus": {
          "shape": "IngestionStatus",
          "documentation": "<p>The ingestion status.</p>"
        },
        "RequestId": {
          "shape": "string",
          "documentation": "<p>The AWS request ID for this operation.</p>"
        },
        "Status": {
          "shape": "StatusCode",
          "documentation": "<p>The HTTP status of the request.</p>",
          "location": "statusCode"
        }
      }
    },
    "CreateTemplateAliasRequest": {
      "type": "structure",
      "required": [
        "AwsAccountId",
        "TemplateId",
        "AliasName",
        "TemplateVersionNumber"
      ],
      "members": {
        "AwsAccountId": {
          "shape": "AwsAccountId",
          "documentation": "<p>The ID of the AWS account that contains the template that you creating an alias for.</p>",
          "location": "uri",
          "locationName": "AwsAccountId"
        },
        "TemplateId": {
          "shape": "RestrictiveResourceId",
          "documentation": "<p>An ID for the template.</p>",
          "location": "uri",
          "locationName": "TemplateId"
        },
        "AliasName": {
          "shape": "AliasName",
          "documentation": "<p>The name that you want to give to the template alias that you're creating. Don't start the alias name with the <code>$</code> character. Alias names that start with <code>$</code> are reserved by QuickSight. </p>",
          "location": "uri",
          "locationName": "AliasName"
        },
        "TemplateVersionNumber": {
          "shape": "VersionNumber",
          "documentation": "<p>The version number of the template.</p>"
        }
      }
    },
    "CreateTemplateAliasResponse": {
      "type": "structure",
      "members": {
        "TemplateAlias": {
          "shape": "TemplateAlias",
          "documentation": "<p>Information about the template alias.</p>"
        },
        "Status": {
          "shape": "StatusCode",
          "documentation": "<p>The HTTP status of the request.</p>",
          "location": "statusCode"
        },
        "RequestId": {
          "shape": "String",
          "documentation": "<p>The AWS request ID for this operation.</p>"
        }
      }
    },
    "CreateTemplateRequest": {
      "type": "structure",
      "required": [
        "AwsAccountId",
        "TemplateId",
        "SourceEntity"
      ],
      "members": {
        "AwsAccountId": {
          "shape": "AwsAccountId",
          "documentation": "<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.</p>",
          "location": "uri",
          "locationName": "AwsAccountId"
        },
        "TemplateId": {
          "shape": "RestrictiveResourceId",
          "documentation": "<p>An ID for the template that you want to create. This template is unique per AWS Region in each AWS account.</p>",
          "location": "uri",
          "locationName": "TemplateId"
        },
        "Name": {
          "shape": "TemplateName",
          "documentation": "<p>A display name for the template.</p>"
        },
        "Permissions": {
          "shape": "ResourcePermissionList",
          "documentation": "<p>A list of resource permissions to be set on the template. </p>"
        },
        "SourceEntity": {
          "shape": "TemplateSourceEntity",
          "documentation": "<p>The Amazon Resource Name (ARN) of the source entity from which this template is being created. Currently, you can create a template from an analysis or another template. If the ARN is for an analysis, include its dataset references. </p>"
        },
        "Tags": {
          "shape": "TagList",
          "documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the resource.</p>"
        },
        "VersionDescription": {
          "shape": "VersionDescription",
          "documentation": "<p>A description of the current template version being created. This API operation creates the first version of the template. Every time <code>UpdateTemplate</code> is called, a new version is created. Each version of the template maintains a description of the version in the <code>VersionDescription</code> field.</p>"
        }
      }
    },
    "CreateTemplateResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "Arn",
          "documentation": "<p>The ARN for the template.</p>"
        },
        "VersionArn": {
          "shape": "Arn",
          "documentation": "<p>The ARN for the template, including the version information of the first version.</p>"
        },
        "TemplateId": {
          "shape": "RestrictiveResourceId",
          "documentation": "<p>The ID of the template.</p>"
        },
        "CreationStatus": {
          "shape": "ResourceStatus",
          "documentation": "<p>The template creation status.</p>"
        },
        "Status": {
          "shape": "StatusCode",
          "documentation": "<p>The HTTP status of the request.</p>",
          "location": "statusCode"
        },
        "RequestId": {
          "shape": "String",
          "documentation": "<p>The AWS request ID for this operation.</p>"
        }
      }
    },
    "CredentialPair": {
      "type": "structure",
      "required": [
        "Username",
        "Password"
      ],
      "members": {
        "Username": {
          "shape": "Username",
          "documentation": "<p>User name.</p>"
        },
        "Password": {
          "shape": "Password",
          "documentation": "<p>Password.</p>"
        }
      },
      "documentation": "<p>The combination of user name and password that are used as credentials.</p>"
    },
    "CustomSql": {
      "type": "structure",
      "required": [
        "DataSourceArn",
        "Name",
        "SqlQuery"
      ],
      "members": {
        "DataSourceArn": {
          "shape": "Arn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the data source.</p>"
        },
        "Name": {
          "shape": "CustomSqlName",
          "documentation": "<p>A display name for the SQL query result.</p>"
        },
        "SqlQuery": {
          "shape": "SqlQuery",
          "documentation": "<p>The SQL query.</p>"
        },
        "Columns": {
          "shape": "InputColumnList",
          "documentation": "<p>The column schema from the SQL query result set.</p>"
        }
      },
      "documentation": "<p>A physical table type built from the results of the custom SQL query.</p>"
    },
    "CustomSqlName": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "Dashboard": {
      "type": "structure",
      "members": {
        "DashboardId": {
          "shape": "RestrictiveResourceId",
          "documentation": "<p>Dashboard ID.</p>"
        },
        "Arn": {
          "shape": "Arn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
        },
        "Name": {
          "shape": "DashboardName",
          "documentation": "<p>A display name for the dataset.</p>"
        },
        "Version": {
          "shape": "DashboardVersion",
          "documentation": "<p>Version.</p>"
[...]
