{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-04-01",
    "endpointPrefix": "quicksight",
    "jsonVersion": "1.0",
    "protocol": "rest-json",
    "serviceFullName": "Amazon QuickSight",
    "serviceId": "QuickSight",
    "signatureVersion": "v4",
    "uid": "quicksight-2018-04-01"
  },
  "operations": {
    "CancelIngestion": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId",
          "IngestionId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "IngestionId": {
            "location": "uri",
            "locationName": "IngestionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "IngestionId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateAccountCustomization": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/customizations"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AccountCustomization"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          },
          "AccountCustomization": {
            "shape": "Sa"
          },
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "AwsAccountId": {},
          "Namespace": {},
          "AccountCustomization": {
            "shape": "Sa"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateAccountSubscription": {
      "http": {
        "requestUri": "/account/{AwsAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Edition",
          "AuthenticationMethod",
          "AwsAccountId",
          "AccountName",
          "NotificationEmail"
        ],
        "members": {
          "Edition": {},
          "AuthenticationMethod": {},
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AccountName": {},
          "NotificationEmail": {},
          "ActiveDirectoryName": {},
          "Realm": {},
          "DirectoryId": {},
          "AdminGroup": {
            "shape": "Sj"
          },
          "AuthorGroup": {
            "shape": "Sj"
          },
          "ReaderGroup": {
            "shape": "Sj"
          },
          "FirstName": {},
          "LastName": {},
          "EmailAddress": {},
          "ContactNumber": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SignupResponse": {
            "type": "structure",
            "members": {
              "IAMUser": {
                "type": "boolean"
              },
              "userLoginName": {},
              "accountName": {},
              "directoryType": {}
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateAnalysis": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId",
          "Name"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          },
          "Name": {},
          "Parameters": {
            "shape": "Sq"
          },
          "Permissions": {
            "shape": "S18"
          },
          "SourceEntity": {
            "shape": "S1c"
          },
          "ThemeArn": {},
          "Tags": {
            "shape": "Sb"
          },
          "Definition": {
            "shape": "S1g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "AnalysisId": {},
          "CreationStatus": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateDashboard": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId",
          "Name"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "Name": {},
          "Parameters": {
            "shape": "Sq"
          },
          "Permissions": {
            "shape": "S18"
          },
          "SourceEntity": {
            "shape": "Skq"
          },
          "Tags": {
            "shape": "Sb"
          },
          "VersionDescription": {},
          "DashboardPublishOptions": {
            "shape": "Skt"
          },
          "ThemeArn": {},
          "Definition": {
            "shape": "Sl8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VersionArn": {},
          "DashboardId": {},
          "CreationStatus": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateDataSet": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/data-sets"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId",
          "Name",
          "PhysicalTableMap",
          "ImportMode"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {},
          "Name": {},
          "PhysicalTableMap": {
            "shape": "Sld"
          },
          "LogicalTableMap": {
            "shape": "Slw"
          },
          "ImportMode": {},
          "ColumnGroups": {
            "shape": "Sms"
          },
          "FieldFolders": {
            "shape": "Smy"
          },
          "Permissions": {
            "shape": "S18"
          },
          "RowLevelPermissionDataSet": {
            "shape": "Sn3"
          },
          "RowLevelPermissionTagConfiguration": {
            "shape": "Sn7"
          },
          "ColumnLevelPermissionRules": {
            "shape": "Snd"
          },
          "Tags": {
            "shape": "Sb"
          },
          "DataSetUsageConfiguration": {
            "shape": "Snh"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "DataSetId": {},
          "IngestionArn": {},
          "IngestionId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateDataSource": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/data-sources"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSourceId",
          "Name",
          "Type"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSourceId": {},
          "Name": {},
          "Type": {},
          "DataSourceParameters": {
            "shape": "Snl"
          },
          "Credentials": {
            "shape": "Sor"
          },
          "Permissions": {
            "shape": "S18"
          },
          "VpcConnectionProperties": {
            "shape": "Soy"
          },
          "SslProperties": {
            "shape": "Soz"
          },
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "DataSourceId": {},
          "CreationStatus": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateFolder": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          },
          "Name": {},
          "FolderType": {},
          "ParentFolderArn": {},
          "Permissions": {
            "shape": "S18"
          },
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Arn": {},
          "FolderId": {},
          "RequestId": {}
        }
      }
    },
    "CreateFolderMembership": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId",
          "MemberId",
          "MemberType"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          },
          "MemberId": {
            "location": "uri",
            "locationName": "MemberId"
          },
          "MemberType": {
            "location": "uri",
            "locationName": "MemberType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "type": "integer"
          },
          "FolderMember": {
            "type": "structure",
            "members": {
              "MemberId": {},
              "MemberType": {}
            }
          },
          "RequestId": {}
        }
      }
    },
    "CreateGroup": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "GroupName": {},
          "Description": {},
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "Spe"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateGroupMembership": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "MemberName",
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "MemberName": {
            "location": "uri",
            "locationName": "MemberName"
          },
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupMember": {
            "shape": "Spi"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateIAMPolicyAssignment": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssignmentName",
          "AssignmentStatus",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssignmentName": {},
          "AssignmentStatus": {},
          "PolicyArn": {},
          "Identities": {
            "shape": "Spm"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssignmentName": {},
          "AssignmentId": {},
          "AssignmentStatus": {},
          "PolicyArn": {},
          "Identities": {
            "shape": "Spm"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateIngestion": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "DataSetId",
          "IngestionId",
          "AwsAccountId"
        ],
        "members": {
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "IngestionId": {
            "location": "uri",
            "locationName": "IngestionId"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "IngestionType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "IngestionId": {},
          "IngestionStatus": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateNamespace": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace",
          "IdentityStore"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {},
          "IdentityStore": {},
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Name": {},
          "CapacityRegion": {},
          "CreationStatus": {},
          "IdentityStore": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateTemplate": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "Name": {},
          "Permissions": {
            "shape": "S18"
          },
          "SourceEntity": {
            "shape": "Sq0"
          },
          "Tags": {
            "shape": "Sb"
          },
          "VersionDescription": {},
          "Definition": {
            "shape": "Sq3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VersionArn": {},
          "TemplateId": {},
          "CreationStatus": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateTemplateAlias": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId",
          "AliasName",
          "TemplateVersionNumber"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          },
          "TemplateVersionNumber": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateAlias": {
            "shape": "Sqi"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateTheme": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId",
          "Name",
          "BaseThemeId",
          "Configuration"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "Name": {},
          "BaseThemeId": {},
          "VersionDescription": {},
          "Configuration": {
            "shape": "Sql"
          },
          "Permissions": {
            "shape": "S18"
          },
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VersionArn": {},
          "ThemeId": {},
          "CreationStatus": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateThemeAlias": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId",
          "AliasName",
          "ThemeVersionNumber"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          },
          "ThemeVersionNumber": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ThemeAlias": {
            "shape": "Sr1"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DeleteAccountCustomization": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/customizations"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteAccountSubscription": {
      "http": {
        "method": "DELETE",
        "requestUri": "/account/{AwsAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteAnalysis": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          },
          "RecoveryWindowInDays": {
            "location": "querystring",
            "locationName": "recovery-window-in-days",
            "type": "long"
          },
          "ForceDeleteWithoutRecovery": {
            "location": "querystring",
            "locationName": "force-delete-without-recovery",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Arn": {},
          "AnalysisId": {},
          "DeletionTime": {
            "type": "timestamp"
          },
          "RequestId": {}
        }
      }
    },
    "DeleteDashboard": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Arn": {},
          "DashboardId": {},
          "RequestId": {}
        }
      }
    },
    "DeleteDataSet": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "DataSetId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteDataSource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSourceId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSourceId": {
            "location": "uri",
            "locationName": "DataSourceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "DataSourceId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteFolder": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Arn": {},
          "FolderId": {},
          "RequestId": {}
        }
      }
    },
    "DeleteFolderMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId",
          "MemberId",
          "MemberType"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          },
          "MemberId": {
            "location": "uri",
            "locationName": "MemberId"
          },
          "MemberType": {
            "location": "uri",
            "locationName": "MemberType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DeleteGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteGroupMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "MemberName",
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "MemberName": {
            "location": "uri",
            "locationName": "MemberName"
          },
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteIAMPolicyAssignment": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespace/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssignmentName",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssignmentName": {
            "location": "uri",
            "locationName": "AssignmentName"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssignmentName": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteNamespace": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Arn": {},
          "TemplateId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteTemplateAlias": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId",
          "AliasName"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "TemplateId": {},
          "AliasName": {},
          "Arn": {},
          "RequestId": {}
        }
      }
    },
    "DeleteTheme": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "ThemeId": {}
        }
      }
    },
    "DeleteThemeAlias": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId",
          "AliasName"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AliasName": {},
          "Arn": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "ThemeId": {}
        }
      }
    },
    "DeleteUser": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "UserName": {
            "location": "uri",
            "locationName": "UserName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteUserByPrincipalId": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/user-principals/{PrincipalId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PrincipalId",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "PrincipalId": {
            "location": "uri",
            "locationName": "PrincipalId"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeAccountCustomization": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/customizations"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          },
          "Resolved": {
            "location": "querystring",
            "locationName": "resolved",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "AwsAccountId": {},
          "Namespace": {},
          "AccountCustomization": {
            "shape": "Sa"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeAccountSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/settings"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountSettings": {
            "type": "structure",
            "members": {
              "AccountName": {},
              "Edition": {},
              "DefaultNamespace": {},
              "NotificationEmail": {},
              "PublicSharingEnabled": {
                "type": "boolean"
              },
              "TerminationProtectionEnabled": {
                "type": "boolean"
              }
            }
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeAccountSubscription": {
      "http": {
        "method": "GET",
        "requestUri": "/account/{AwsAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountInfo": {
            "type": "structure",
            "members": {
              "AccountName": {},
              "Edition": {},
              "NotificationEmail": {},
              "AuthenticationType": {},
              "AccountSubscriptionStatus": {}
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeAnalysis": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Analysis": {
            "type": "structure",
            "members": {
              "AnalysisId": {},
              "Arn": {},
              "Name": {},
              "Status": {},
              "Errors": {
                "shape": "Ssg"
              },
              "DataSetArns": {
                "shape": "Ssl"
              },
              "ThemeArn": {},
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "Sheets": {
                "shape": "Ssm"
              }
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeAnalysisDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}/definition"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AnalysisId": {},
          "Name": {},
          "Errors": {
            "shape": "Ssg"
          },
          "ResourceStatus": {},
          "ThemeArn": {},
          "Definition": {
            "shape": "S1g"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeAnalysisPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AnalysisId": {},
          "AnalysisArn": {},
          "Permissions": {
            "shape": "S18"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeDashboard": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Dashboard": {
            "type": "structure",
            "members": {
              "DashboardId": {},
              "Arn": {},
              "Name": {},
              "Version": {
                "type": "structure",
                "members": {
                  "CreatedTime": {
                    "type": "timestamp"
                  },
                  "Errors": {
                    "shape": "Ssw"
                  },
                  "VersionNumber": {
                    "type": "long"
                  },
                  "Status": {},
                  "Arn": {},
                  "SourceEntityArn": {},
                  "DataSetArns": {
                    "shape": "Ssl"
                  },
                  "Description": {},
                  "ThemeArn": {},
                  "Sheets": {
                    "shape": "Ssm"
                  }
                }
              },
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastPublishedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              }
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeDashboardDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/definition"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DashboardId": {},
          "Errors": {
            "shape": "Ssw"
          },
          "Name": {},
          "ResourceStatus": {},
          "ThemeArn": {},
          "Definition": {
            "shape": "Sl8"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "DashboardPublishOptions": {
            "shape": "Skt"
          }
        }
      }
    },
    "DescribeDashboardPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DashboardId": {},
          "DashboardArn": {},
          "Permissions": {
            "shape": "S18"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "LinkSharingConfiguration": {
            "shape": "St3"
          }
        }
      }
    },
    "DescribeDataSet": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSet": {
            "type": "structure",
            "members": {
              "Arn": {},
              "DataSetId": {},
              "Name": {},
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "PhysicalTableMap": {
                "shape": "Sld"
              },
              "LogicalTableMap": {
                "shape": "Slw"
              },
              "OutputColumns": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {},
                    "Description": {},
                    "Type": {}
                  }
                }
              },
              "ImportMode": {},
              "ConsumedSpiceCapacityInBytes": {
                "type": "long"
              },
              "ColumnGroups": {
                "shape": "Sms"
              },
              "FieldFolders": {
                "shape": "Smy"
              },
              "RowLevelPermissionDataSet": {
                "shape": "Sn3"
              },
              "RowLevelPermissionTagConfiguration": {
                "shape": "Sn7"
              },
              "ColumnLevelPermissionRules": {
                "shape": "Snd"
              },
              "DataSetUsageConfiguration": {
                "shape": "Snh"
              }
            }
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeDataSetPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSetArn": {},
          "DataSetId": {},
          "Permissions": {
            "shape": "S18"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeDataSource": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSourceId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSourceId": {
            "location": "uri",
            "locationName": "DataSourceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSource": {
            "shape": "Std"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeDataSourcePermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSourceId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSourceId": {
            "location": "uri",
            "locationName": "DataSourceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSourceArn": {},
          "DataSourceId": {},
          "Permissions": {
            "shape": "S18"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeFolder": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Folder": {
            "type": "structure",
            "members": {
              "FolderId": {},
              "Arn": {},
              "Name": {},
              "FolderType": {},
              "FolderPath": {
                "type": "list",
                "member": {}
              },
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              }
            }
          },
          "RequestId": {}
        }
      }
    },
    "DescribeFolderPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "FolderId": {},
          "Arn": {},
          "Permissions": {
            "shape": "S18"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeFolderResolvedPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/resolved-permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "FolderId": {},
          "Arn": {},
          "Permissions": {
            "shape": "S18"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "Spe"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeGroupMembership": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "MemberName",
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "MemberName": {
            "location": "uri",
            "locationName": "MemberName"
          },
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupMember": {
            "shape": "Spi"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeIAMPolicyAssignment": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssignmentName",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssignmentName": {
            "location": "uri",
            "locationName": "AssignmentName"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IAMPolicyAssignment": {
            "type": "structure",
            "members": {
              "AwsAccountId": {},
              "AssignmentId": {},
              "AssignmentName": {},
              "PolicyArn": {},
              "Identities": {
                "shape": "Spm"
              },
              "AssignmentStatus": {}
            }
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeIngestion": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId",
          "IngestionId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "IngestionId": {
            "location": "uri",
            "locationName": "IngestionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Ingestion": {
            "shape": "Stz"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeIpRestriction": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/ip-restriction"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AwsAccountId": {},
          "IpRestrictionRuleMap": {
            "shape": "Su8"
          },
          "Enabled": {
            "type": "boolean"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeNamespace": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Namespace": {
            "shape": "Sue"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Template": {
            "type": "structure",
            "members": {
              "Arn": {},
              "Name": {},
              "Version": {
                "type": "structure",
                "members": {
                  "CreatedTime": {
                    "type": "timestamp"
                  },
                  "Errors": {
                    "shape": "Sul"
                  },
                  "VersionNumber": {
                    "type": "long"
                  },
                  "Status": {},
                  "DataSetConfigurations": {
                    "shape": "Sq4"
                  },
                  "Description": {},
                  "SourceEntityArn": {},
                  "ThemeArn": {},
                  "Sheets": {
                    "shape": "Ssm"
                  }
                }
              },
              "TemplateId": {},
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "CreatedTime": {
                "type": "timestamp"
              }
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeTemplateAlias": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId",
          "AliasName"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateAlias": {
            "shape": "Sqi"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeTemplateDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/definition"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "TemplateId": {},
          "Errors": {
            "shape": "Sul"
          },
          "ResourceStatus": {},
          "ThemeArn": {},
          "Definition": {
            "shape": "Sq3"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeTemplatePermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateId": {},
          "TemplateArn": {},
          "Permissions": {
            "shape": "S18"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeTheme": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Theme": {
            "type": "structure",
            "members": {
              "Arn": {},
              "Name": {},
              "ThemeId": {},
              "Version": {
                "type": "structure",
                "members": {
                  "VersionNumber": {
                    "type": "long"
                  },
                  "Arn": {},
                  "Description": {},
                  "BaseThemeId": {},
                  "CreatedTime": {
                    "type": "timestamp"
                  },
                  "Configuration": {
                    "shape": "Sql"
                  },
                  "Errors": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "Type": {},
                        "Message": {}
                      }
                    }
                  },
                  "Status": {}
                }
              },
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "Type": {}
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeThemeAlias": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId",
          "AliasName"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ThemeAlias": {
            "shape": "Sr1"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeThemePermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ThemeId": {},
          "ThemeArn": {},
          "Permissions": {
            "shape": "S18"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeUser": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "UserName": {
            "location": "uri",
            "locationName": "UserName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "Sv9"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "GenerateEmbedUrlForAnonymousUser": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/embed-url/anonymous-user"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace",
          "AuthorizedResourceArns",
          "ExperienceConfiguration"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "SessionLifetimeInMinutes": {
            "type": "long"
          },
          "Namespace": {},
          "SessionTags": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Key",
                "Value"
              ],
              "members": {
                "Key": {},
                "Value": {
                  "shape": "Snc"
                }
              }
            }
          },
          "AuthorizedResourceArns": {
            "type": "list",
            "member": {}
          },
          "ExperienceConfiguration": {
            "type": "structure",
            "members": {
              "Dashboard": {
                "type": "structure",
                "required": [
                  "InitialDashboardId"
                ],
                "members": {
                  "InitialDashboardId": {}
                }
              },
              "DashboardVisual": {
                "type": "structure",
                "required": [
                  "InitialDashboardVisualId"
                ],
                "members": {
                  "InitialDashboardVisualId": {
                    "shape": "Svl"
                  }
                }
              },
              "QSearchBar": {
                "type": "structure",
                "required": [
                  "InitialTopicId"
                ],
                "members": {
                  "InitialTopicId": {}
                }
              }
            }
          },
          "AllowedDomains": {
            "shape": "Svn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EmbedUrl",
          "Status",
          "RequestId",
          "AnonymousUserArn"
        ],
        "members": {
          "EmbedUrl": {
            "shape": "Svp"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "AnonymousUserArn": {}
        }
      }
    },
    "GenerateEmbedUrlForRegisteredUser": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/embed-url/registered-user"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "UserArn",
          "ExperienceConfiguration"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "SessionLifetimeInMinutes": {
            "type": "long"
          },
          "UserArn": {},
          "ExperienceConfiguration": {
            "type": "structure",
            "members": {
              "Dashboard": {
                "type": "structure",
                "required": [
                  "InitialDashboardId"
                ],
                "members": {
                  "InitialDashboardId": {}
                }
              },
              "QuickSightConsole": {
                "type": "structure",
                "members": {
                  "InitialPath": {}
                }
              },
              "QSearchBar": {
                "type": "structure",
                "members": {
                  "InitialTopicId": {}
                }
              },
              "DashboardVisual": {
                "type": "structure",
                "required": [
                  "InitialDashboardVisualId"
                ],
                "members": {
                  "InitialDashboardVisualId": {
                    "shape": "Svl"
                  }
                }
              }
            }
          },
          "AllowedDomains": {
            "shape": "Svn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EmbedUrl",
          "Status",
          "RequestId"
        ],
        "members": {
          "EmbedUrl": {
            "shape": "Svp"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "GetDashboardEmbedUrl": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/embed-url"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId",
          "IdentityType"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "IdentityType": {
            "location": "querystring",
            "locationName": "creds-type"
          },
          "SessionLifetimeInMinutes": {
            "location": "querystring",
            "locationName": "session-lifetime",
            "type": "long"
          },
          "UndoRedoDisabled": {
            "location": "querystring",
            "locationName": "undo-redo-disabled",
            "type": "boolean"
          },
          "ResetDisabled": {
            "location": "querystring",
            "locationName": "reset-disabled",
            "type": "boolean"
          },
          "StatePersistenceEnabled": {
            "location": "querystring",
            "locationName": "state-persistence-enabled",
            "type": "boolean"
          },
          "UserArn": {
            "location": "querystring",
            "locationName": "user-arn"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          },
          "AdditionalDashboardIds": {
            "location": "querystring",
            "locationName": "additional-dashboard-ids",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EmbedUrl": {
            "shape": "Svp"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "GetSessionEmbedUrl": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/session-embed-url"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "EntryPoint": {
            "location": "querystring",
            "locationName": "entry-point"
          },
          "SessionLifetimeInMinutes": {
            "location": "querystring",
            "locationName": "session-lifetime",
            "type": "long"
          },
          "UserArn": {
            "location": "querystring",
            "locationName": "user-arn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EmbedUrl": {
            "shape": "Svp"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "ListAnalyses": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AnalysisSummaryList": {
            "shape": "Sw8"
          },
          "NextToken": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "ListDashboardVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DashboardVersionSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "CreatedTime": {
                  "type": "timestamp"
                },
                "VersionNumber": {
                  "type": "long"
                },
                "Status": {},
                "SourceEntityArn": {},
                "Description": {}
              }
            }
          },
          "NextToken": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "ListDashboards": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DashboardSummaryList": {
            "shape": "Swg"
          },
          "NextToken": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "ListDataSets": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSetSummaries": {
            "shape": "Swk"
          },
          "NextToken": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "ListDataSources": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSources": {
            "type": "list",
            "member": {
              "shape": "Std"
            }
          },
          "NextToken": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "ListFolderMembers": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/members"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "FolderMemberList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "MemberId": {},
                "MemberArn": {}
              }
            }
          },
          "NextToken": {},
          "RequestId": {}
        }
      }
    },
    "ListFolders": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "FolderSummaryList": {
            "shape": "Swv"
          },
          "NextToken": {},
          "RequestId": {}
        }
      }
    },
    "ListGroupMemberships": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupMemberList": {
            "type": "list",
            "member": {
              "shape": "Spi"
            }
          },
          "NextToken": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "ListGroups": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupList": {
            "shape": "Sx2"
          },
          "NextToken": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "ListIAMPolicyAssignments": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssignmentStatus": {},
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IAMPolicyAssignments": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AssignmentName": {},
                "AssignmentStatus": {}
              }
            }
          },
          "NextToken": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "ListIAMPolicyAssignmentsForUser": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/iam-policy-assignments"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "UserName",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "UserName": {
            "location": "uri",
            "locationName": "UserName"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActiveAssignments": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AssignmentName": {},
                "PolicyArn": {}
              }
            }
          },
          "RequestId": {},
          "NextToken": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "ListIngestions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions"
      },
      "input": {
        "type": "structure",
        "required": [
          "DataSetId",
          "AwsAccountId"
        ],
        "members": {
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Ingestions": {
            "type": "list",
            "member": {
              "shape": "Stz"
            }
          },
          "NextToken": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "ListNamespaces": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Namespaces": {
            "type": "list",
            "member": {
              "shape": "Sue"
            }
          },
          "NextToken": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/resources/{ResourceArn}/tags"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "Sb"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "ListTemplateAliases": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-result",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateAliasList": {
            "type": "list",
            "member": {
              "shape": "Sqi"
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "NextToken": {}
        }
      }
    },
    "ListTemplateVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/versions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "next-token"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "max-results",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateVersionSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "VersionNumber": {
                  "type": "long"
                },
                "CreatedTime": {
                  "type": "timestamp"
                },
                "Status": {},
                "Description": {}
              }
            }
          },
          "NextToken": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "ListTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
[...]
