{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-04-01",
    "endpointPrefix": "quicksight",
    "jsonVersion": "1.0",
    "protocol": "rest-json",
    "serviceFullName": "Amazon QuickSight",
    "serviceId": "QuickSight",
    "signatureVersion": "v4",
    "uid": "quicksight-2018-04-01"
  },
  "operations": {
    "CancelIngestion": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId",
          "IngestionId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "IngestionId": {
            "location": "uri",
            "locationName": "IngestionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "IngestionId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateAccountCustomization": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/customizations"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AccountCustomization"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          },
          "AccountCustomization": {
            "shape": "Sa"
          },
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "AwsAccountId": {},
          "Namespace": {},
          "AccountCustomization": {
            "shape": "Sa"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateAccountSubscription": {
      "http": {
        "requestUri": "/account/{AwsAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Edition",
          "AuthenticationMethod",
          "AwsAccountId",
          "AccountName",
          "NotificationEmail"
        ],
        "members": {
          "Edition": {},
          "AuthenticationMethod": {},
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AccountName": {},
          "NotificationEmail": {},
          "ActiveDirectoryName": {},
          "Realm": {},
          "DirectoryId": {},
          "AdminGroup": {
            "shape": "Sj"
          },
          "AuthorGroup": {
            "shape": "Sj"
          },
          "ReaderGroup": {
            "shape": "Sj"
          },
          "FirstName": {},
          "LastName": {},
          "EmailAddress": {},
          "ContactNumber": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SignupResponse": {
            "type": "structure",
            "members": {
              "IAMUser": {
                "type": "boolean"
              },
              "userLoginName": {},
              "accountName": {},
              "directoryType": {}
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateAnalysis": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId",
          "Name"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          },
          "Name": {},
          "Parameters": {
            "shape": "Sq"
          },
          "Permissions": {
            "shape": "S18"
          },
          "SourceEntity": {
            "shape": "S1c"
          },
          "ThemeArn": {},
          "Tags": {
            "shape": "Sb"
          },
          "Definition": {
            "shape": "S1g"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "AnalysisId": {},
          "CreationStatus": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateDashboard": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId",
          "Name"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "Name": {},
          "Parameters": {
            "shape": "Sq"
          },
          "Permissions": {
            "shape": "S18"
          },
          "SourceEntity": {
            "shape": "Slb"
          },
          "Tags": {
            "shape": "Sb"
          },
          "VersionDescription": {},
          "DashboardPublishOptions": {
            "shape": "Sle"
          },
          "ThemeArn": {},
          "Definition": {
            "shape": "Slt"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VersionArn": {},
          "DashboardId": {},
          "CreationStatus": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateDataSet": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/data-sets"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId",
          "Name",
          "PhysicalTableMap",
          "ImportMode"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {},
          "Name": {},
          "PhysicalTableMap": {
            "shape": "Sly"
          },
          "LogicalTableMap": {
            "shape": "Smh"
          },
          "ImportMode": {},
          "ColumnGroups": {
            "shape": "Sno"
          },
          "FieldFolders": {
            "shape": "Snu"
          },
          "Permissions": {
            "shape": "S18"
          },
          "RowLevelPermissionDataSet": {
            "shape": "Snz"
          },
          "RowLevelPermissionTagConfiguration": {
            "shape": "So3"
          },
          "ColumnLevelPermissionRules": {
            "shape": "Sob"
          },
          "Tags": {
            "shape": "Sb"
          },
          "DataSetUsageConfiguration": {
            "shape": "Sof"
          },
          "DatasetParameters": {
            "shape": "Sog"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "DataSetId": {},
          "IngestionArn": {},
          "IngestionId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateDataSource": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/data-sources"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSourceId",
          "Name",
          "Type"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSourceId": {},
          "Name": {},
          "Type": {},
          "DataSourceParameters": {
            "shape": "Sov"
          },
          "Credentials": {
            "shape": "Sq1"
          },
          "Permissions": {
            "shape": "S18"
          },
          "VpcConnectionProperties": {
            "shape": "Sq8"
          },
          "SslProperties": {
            "shape": "Sq9"
          },
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "DataSourceId": {},
          "CreationStatus": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateFolder": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          },
          "Name": {},
          "FolderType": {},
          "ParentFolderArn": {},
          "Permissions": {
            "shape": "S18"
          },
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Arn": {},
          "FolderId": {},
          "RequestId": {}
        }
      }
    },
    "CreateFolderMembership": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId",
          "MemberId",
          "MemberType"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          },
          "MemberId": {
            "location": "uri",
            "locationName": "MemberId"
          },
          "MemberType": {
            "location": "uri",
            "locationName": "MemberType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "type": "integer"
          },
          "FolderMember": {
            "type": "structure",
            "members": {
              "MemberId": {},
              "MemberType": {}
            }
          },
          "RequestId": {}
        }
      }
    },
    "CreateGroup": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "GroupName": {},
          "Description": {},
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "Sqo"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateGroupMembership": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "MemberName",
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "MemberName": {
            "location": "uri",
            "locationName": "MemberName"
          },
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupMember": {
            "shape": "Sqs"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateIAMPolicyAssignment": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssignmentName",
          "AssignmentStatus",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssignmentName": {},
          "AssignmentStatus": {},
          "PolicyArn": {},
          "Identities": {
            "shape": "Sqw"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssignmentName": {},
          "AssignmentId": {},
          "AssignmentStatus": {},
          "PolicyArn": {},
          "Identities": {
            "shape": "Sqw"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateIngestion": {
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "DataSetId",
          "IngestionId",
          "AwsAccountId"
        ],
        "members": {
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "IngestionId": {
            "location": "uri",
            "locationName": "IngestionId"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "IngestionType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "IngestionId": {},
          "IngestionStatus": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateNamespace": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace",
          "IdentityStore"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {},
          "IdentityStore": {},
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "Name": {},
          "CapacityRegion": {},
          "CreationStatus": {},
          "IdentityStore": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateRefreshSchedule": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules"
      },
      "input": {
        "type": "structure",
        "required": [
          "DataSetId",
          "AwsAccountId",
          "Schedule"
        ],
        "members": {
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Schedule": {
            "shape": "Sr9"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "ScheduleId": {},
          "Arn": {}
        }
      }
    },
    "CreateTemplate": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "Name": {},
          "Permissions": {
            "shape": "S18"
          },
          "SourceEntity": {
            "shape": "Sri"
          },
          "Tags": {
            "shape": "Sb"
          },
          "VersionDescription": {},
          "Definition": {
            "shape": "Srl"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VersionArn": {},
          "TemplateId": {},
          "CreationStatus": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateTemplateAlias": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId",
          "AliasName",
          "TemplateVersionNumber"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          },
          "TemplateVersionNumber": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateAlias": {
            "shape": "Ss0"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateTheme": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId",
          "Name",
          "BaseThemeId",
          "Configuration"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "Name": {},
          "BaseThemeId": {},
          "VersionDescription": {},
          "Configuration": {
            "shape": "Ss3"
          },
          "Permissions": {
            "shape": "S18"
          },
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VersionArn": {},
          "ThemeId": {},
          "CreationStatus": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateThemeAlias": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId",
          "AliasName",
          "ThemeVersionNumber"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          },
          "ThemeVersionNumber": {
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ThemeAlias": {
            "shape": "Ssj"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateTopic": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/topics"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId",
          "Topic"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {},
          "Topic": {
            "shape": "Ssm"
          },
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "TopicId": {},
          "RefreshArn": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "CreateTopicRefreshSchedule": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}/schedules"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId",
          "DatasetArn",
          "RefreshSchedule"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          },
          "DatasetArn": {},
          "DatasetName": {},
          "RefreshSchedule": {
            "shape": "Sua"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TopicId": {},
          "TopicArn": {},
          "DatasetArn": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "CreateVPCConnection": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/vpc-connections"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "VPCConnectionId",
          "Name",
          "SubnetIds",
          "SecurityGroupIds",
          "RoleArn"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "VPCConnectionId": {},
          "Name": {},
          "SubnetIds": {
            "shape": "Suf"
          },
          "SecurityGroupIds": {
            "shape": "Suh"
          },
          "DnsResolvers": {
            "shape": "Suj"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VPCConnectionId": {},
          "CreationStatus": {},
          "AvailabilityStatus": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteAccountCustomization": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/customizations"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteAccountSubscription": {
      "http": {
        "method": "DELETE",
        "requestUri": "/account/{AwsAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteAnalysis": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          },
          "RecoveryWindowInDays": {
            "location": "querystring",
            "locationName": "recovery-window-in-days",
            "type": "long"
          },
          "ForceDeleteWithoutRecovery": {
            "location": "querystring",
            "locationName": "force-delete-without-recovery",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Arn": {},
          "AnalysisId": {},
          "DeletionTime": {
            "type": "timestamp"
          },
          "RequestId": {}
        }
      }
    },
    "DeleteDashboard": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Arn": {},
          "DashboardId": {},
          "RequestId": {}
        }
      }
    },
    "DeleteDataSet": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "DataSetId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteDataSetRefreshProperties": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-properties"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteDataSource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSourceId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSourceId": {
            "location": "uri",
            "locationName": "DataSourceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "DataSourceId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteFolder": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Arn": {},
          "FolderId": {},
          "RequestId": {}
        }
      }
    },
    "DeleteFolderMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId",
          "MemberId",
          "MemberType"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          },
          "MemberId": {
            "location": "uri",
            "locationName": "MemberId"
          },
          "MemberType": {
            "location": "uri",
            "locationName": "MemberType"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DeleteGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteGroupMembership": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "MemberName",
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "MemberName": {
            "location": "uri",
            "locationName": "MemberName"
          },
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteIAMPolicyAssignment": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespace/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssignmentName",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssignmentName": {
            "location": "uri",
            "locationName": "AssignmentName"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AssignmentName": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteNamespace": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteRefreshSchedule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules/{ScheduleId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "DataSetId",
          "AwsAccountId",
          "ScheduleId"
        ],
        "members": {
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ScheduleId": {
            "location": "uri",
            "locationName": "ScheduleId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "ScheduleId": {},
          "Arn": {}
        }
      }
    },
    "DeleteTemplate": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Arn": {},
          "TemplateId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteTemplateAlias": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId",
          "AliasName"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "TemplateId": {},
          "AliasName": {},
          "Arn": {},
          "RequestId": {}
        }
      }
    },
    "DeleteTheme": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "ThemeId": {}
        }
      }
    },
    "DeleteThemeAlias": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId",
          "AliasName"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AliasName": {},
          "Arn": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "ThemeId": {}
        }
      }
    },
    "DeleteTopic": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "TopicId": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteTopicRefreshSchedule": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}/schedules/{DatasetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId",
          "DatasetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          },
          "DatasetId": {
            "location": "uri",
            "locationName": "DatasetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TopicId": {},
          "TopicArn": {},
          "DatasetArn": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DeleteUser": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "UserName": {
            "location": "uri",
            "locationName": "UserName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteUserByPrincipalId": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/user-principals/{PrincipalId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "PrincipalId",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "PrincipalId": {
            "location": "uri",
            "locationName": "PrincipalId"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DeleteVPCConnection": {
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/vpc-connections/{VPCConnectionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "VPCConnectionId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "VPCConnectionId": {
            "location": "uri",
            "locationName": "VPCConnectionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "VPCConnectionId": {},
          "DeletionStatus": {},
          "AvailabilityStatus": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeAccountCustomization": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/customizations"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          },
          "Resolved": {
            "location": "querystring",
            "locationName": "resolved",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "AwsAccountId": {},
          "Namespace": {},
          "AccountCustomization": {
            "shape": "Sa"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeAccountSettings": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/settings"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountSettings": {
            "type": "structure",
            "members": {
              "AccountName": {},
              "Edition": {},
              "DefaultNamespace": {},
              "NotificationEmail": {},
              "PublicSharingEnabled": {
                "type": "boolean"
              },
              "TerminationProtectionEnabled": {
                "type": "boolean"
              }
            }
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeAccountSubscription": {
      "http": {
        "method": "GET",
        "requestUri": "/account/{AwsAccountId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccountInfo": {
            "type": "structure",
            "members": {
              "AccountName": {},
              "Edition": {},
              "NotificationEmail": {},
              "AuthenticationType": {},
              "AccountSubscriptionStatus": {}
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeAnalysis": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Analysis": {
            "type": "structure",
            "members": {
              "AnalysisId": {},
              "Arn": {},
              "Name": {},
              "Status": {},
              "Errors": {
                "shape": "Swd"
              },
              "DataSetArns": {
                "shape": "Swi"
              },
              "ThemeArn": {},
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "Sheets": {
                "shape": "Swj"
              }
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeAnalysisDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}/definition"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AnalysisId": {},
          "Name": {},
          "Errors": {
            "shape": "Swd"
          },
          "ResourceStatus": {},
          "ThemeArn": {},
          "Definition": {
            "shape": "S1g"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeAnalysisPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AnalysisId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AnalysisId": {
            "location": "uri",
            "locationName": "AnalysisId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AnalysisId": {},
          "AnalysisArn": {},
          "Permissions": {
            "shape": "S18"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeAssetBundleExportJob": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/asset-bundle-export-jobs/{AssetBundleExportJobId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssetBundleExportJobId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssetBundleExportJobId": {
            "location": "uri",
            "locationName": "AssetBundleExportJobId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobStatus": {},
          "DownloadUrl": {},
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Arn": {},
                "Type": {},
                "Message": {}
              }
            }
          },
          "Arn": {},
          "CreatedTime": {
            "type": "timestamp"
          },
          "AssetBundleExportJobId": {},
          "AwsAccountId": {},
          "ResourceArns": {
            "shape": "Swu"
          },
          "IncludeAllDependencies": {
            "type": "boolean"
          },
          "ExportFormat": {},
          "CloudFormationOverridePropertyConfiguration": {
            "shape": "Sww"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeAssetBundleImportJob": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/asset-bundle-import-jobs/{AssetBundleImportJobId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssetBundleImportJobId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssetBundleImportJobId": {
            "location": "uri",
            "locationName": "AssetBundleImportJobId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobStatus": {},
          "Errors": {
            "shape": "Sxt"
          },
          "RollbackErrors": {
            "shape": "Sxt"
          },
          "Arn": {},
          "CreatedTime": {
            "type": "timestamp"
          },
          "AssetBundleImportJobId": {},
          "AwsAccountId": {},
          "AssetBundleImportSource": {
            "type": "structure",
            "members": {
              "Body": {},
              "S3Uri": {}
            }
          },
          "OverrideParameters": {
            "shape": "Sxx"
          },
          "FailureAction": {},
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeDashboard": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Dashboard": {
            "type": "structure",
            "members": {
              "DashboardId": {},
              "Arn": {},
              "Name": {},
              "Version": {
                "type": "structure",
                "members": {
                  "CreatedTime": {
                    "type": "timestamp"
                  },
                  "Errors": {
                    "shape": "Syk"
                  },
                  "VersionNumber": {
                    "type": "long"
                  },
                  "Status": {},
                  "Arn": {},
                  "SourceEntityArn": {},
                  "DataSetArns": {
                    "shape": "Swi"
                  },
                  "Description": {},
                  "ThemeArn": {},
                  "Sheets": {
                    "shape": "Swj"
                  }
                }
              },
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastPublishedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              }
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeDashboardDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/definition"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DashboardId": {},
          "Errors": {
            "shape": "Syk"
          },
          "Name": {},
          "ResourceStatus": {},
          "ThemeArn": {},
          "Definition": {
            "shape": "Slt"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "DashboardPublishOptions": {
            "shape": "Sle"
          }
        }
      }
    },
    "DescribeDashboardPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DashboardId": {},
          "DashboardArn": {},
          "Permissions": {
            "shape": "S18"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "LinkSharingConfiguration": {
            "shape": "Syr"
          }
        }
      }
    },
    "DescribeDataSet": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSet": {
            "type": "structure",
            "members": {
              "Arn": {},
              "DataSetId": {},
              "Name": {},
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "PhysicalTableMap": {
                "shape": "Sly"
              },
              "LogicalTableMap": {
                "shape": "Smh"
              },
              "OutputColumns": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "Name": {},
                    "Description": {},
                    "Type": {}
                  }
                }
              },
              "ImportMode": {},
              "ConsumedSpiceCapacityInBytes": {
                "type": "long"
              },
              "ColumnGroups": {
                "shape": "Sno"
              },
              "FieldFolders": {
                "shape": "Snu"
              },
              "RowLevelPermissionDataSet": {
                "shape": "Snz"
              },
              "RowLevelPermissionTagConfiguration": {
                "shape": "So3"
              },
              "ColumnLevelPermissionRules": {
                "shape": "Sob"
              },
              "DataSetUsageConfiguration": {
                "shape": "Sof"
              },
              "DatasetParameters": {
                "shape": "Sog"
              }
            }
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeDataSetPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSetArn": {},
          "DataSetId": {},
          "Permissions": {
            "shape": "S18"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeDataSetRefreshProperties": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-properties"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "DataSetRefreshProperties": {
            "shape": "Sz1"
          }
        }
      }
    },
    "DescribeDataSource": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSourceId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSourceId": {
            "location": "uri",
            "locationName": "DataSourceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSource": {
            "shape": "Sz9"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeDataSourcePermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSourceId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSourceId": {
            "location": "uri",
            "locationName": "DataSourceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DataSourceArn": {},
          "DataSourceId": {},
          "Permissions": {
            "shape": "S18"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeFolder": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "Folder": {
            "type": "structure",
            "members": {
              "FolderId": {},
              "Arn": {},
              "Name": {},
              "FolderType": {},
              "FolderPath": {
                "type": "list",
                "member": {}
              },
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              }
            }
          },
          "RequestId": {}
        }
      }
    },
    "DescribeFolderPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "FolderId": {},
          "Arn": {},
          "Permissions": {
            "shape": "S18"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeFolderResolvedPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/resolved-permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "FolderId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "FolderId": {
            "location": "uri",
            "locationName": "FolderId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "FolderId": {},
          "Arn": {},
          "Permissions": {
            "shape": "S18"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "Sqo"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeGroupMembership": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "MemberName",
          "GroupName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "MemberName": {
            "location": "uri",
            "locationName": "MemberName"
          },
          "GroupName": {
            "location": "uri",
            "locationName": "GroupName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupMember": {
            "shape": "Sqs"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeIAMPolicyAssignment": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "AssignmentName",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "AssignmentName": {
            "location": "uri",
            "locationName": "AssignmentName"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "IAMPolicyAssignment": {
            "type": "structure",
            "members": {
              "AwsAccountId": {},
              "AssignmentId": {},
              "AssignmentName": {},
              "PolicyArn": {},
              "Identities": {
                "shape": "Sqw"
              },
              "AssignmentStatus": {}
            }
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeIngestion": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId",
          "IngestionId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "IngestionId": {
            "location": "uri",
            "locationName": "IngestionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Ingestion": {
            "shape": "Szv"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeIpRestriction": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/ip-restriction"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AwsAccountId": {},
          "IpRestrictionRuleMap": {
            "shape": "S104"
          },
          "Enabled": {
            "type": "boolean"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeNamespace": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Namespace": {
            "shape": "S109"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeRefreshSchedule": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules/{ScheduleId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DataSetId",
          "ScheduleId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DataSetId": {
            "location": "uri",
            "locationName": "DataSetId"
          },
          "ScheduleId": {
            "location": "uri",
            "locationName": "ScheduleId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RefreshSchedule": {
            "shape": "Sr9"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "Arn": {}
        }
      }
    },
    "DescribeTemplate": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Template": {
            "type": "structure",
            "members": {
              "Arn": {},
              "Name": {},
              "Version": {
                "type": "structure",
                "members": {
                  "CreatedTime": {
                    "type": "timestamp"
                  },
                  "Errors": {
                    "shape": "S10i"
                  },
                  "VersionNumber": {
                    "type": "long"
                  },
                  "Status": {},
                  "DataSetConfigurations": {
                    "shape": "Srm"
                  },
                  "Description": {},
                  "SourceEntityArn": {},
                  "ThemeArn": {},
                  "Sheets": {
                    "shape": "Swj"
                  }
                }
              },
              "TemplateId": {},
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "CreatedTime": {
                "type": "timestamp"
              }
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeTemplateAlias": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId",
          "AliasName"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateAlias": {
            "shape": "Ss0"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeTemplateDefinition": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/definition"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "TemplateId": {},
          "Errors": {
            "shape": "S10i"
          },
          "ResourceStatus": {},
          "ThemeArn": {},
          "Definition": {
            "shape": "Srl"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeTemplatePermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TemplateId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TemplateId": {
            "location": "uri",
            "locationName": "TemplateId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TemplateId": {},
          "TemplateArn": {},
          "Permissions": {
            "shape": "S18"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeTheme": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "VersionNumber": {
            "location": "querystring",
            "locationName": "version-number",
            "type": "long"
          },
          "AliasName": {
            "location": "querystring",
            "locationName": "alias-name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Theme": {
            "type": "structure",
            "members": {
              "Arn": {},
              "Name": {},
              "ThemeId": {},
              "Version": {
                "type": "structure",
                "members": {
                  "VersionNumber": {
                    "type": "long"
                  },
                  "Arn": {},
                  "Description": {},
                  "BaseThemeId": {},
                  "CreatedTime": {
                    "type": "timestamp"
                  },
                  "Configuration": {
                    "shape": "Ss3"
                  },
                  "Errors": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "Type": {},
                        "Message": {}
                      }
                    }
                  },
                  "Status": {}
                }
              },
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              },
              "Type": {}
            }
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeThemeAlias": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId",
          "AliasName"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          },
          "AliasName": {
            "location": "uri",
            "locationName": "AliasName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ThemeAlias": {
            "shape": "Ssj"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeThemePermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "ThemeId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "ThemeId": {
            "location": "uri",
            "locationName": "ThemeId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ThemeId": {},
          "ThemeArn": {},
          "Permissions": {
            "shape": "S18"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeTopic": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {},
          "TopicId": {},
          "Topic": {
            "shape": "Ssm"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeTopicPermissions": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}/permissions"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TopicId": {},
          "TopicArn": {},
          "Permissions": {
            "shape": "S18"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeTopicRefresh": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}/refresh/{RefreshId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId",
          "RefreshId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          },
          "RefreshId": {
            "location": "uri",
            "locationName": "RefreshId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RefreshDetails": {
            "type": "structure",
            "members": {
              "RefreshArn": {},
              "RefreshId": {},
              "RefreshStatus": {}
            }
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeTopicRefreshSchedule": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/topics/{TopicId}/schedules/{DatasetId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "TopicId",
          "DatasetId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "TopicId": {
            "location": "uri",
            "locationName": "TopicId"
          },
          "DatasetId": {
            "location": "uri",
            "locationName": "DatasetId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TopicId": {},
          "TopicArn": {},
          "DatasetArn": {},
          "RefreshSchedule": {
            "shape": "Sua"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "DescribeUser": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "UserName",
          "AwsAccountId",
          "Namespace"
        ],
        "members": {
          "UserName": {
            "location": "uri",
            "locationName": "UserName"
          },
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "Namespace": {
            "location": "uri",
            "locationName": "Namespace"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "User": {
            "shape": "S11g"
          },
          "RequestId": {},
          "Status": {
            "location": "statusCode",
            "type": "integer"
          }
        }
      }
    },
    "DescribeVPCConnection": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/vpc-connections/{VPCConnectionId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "VPCConnectionId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "VPCConnectionId": {
            "location": "uri",
            "locationName": "VPCConnectionId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "VPCConnection": {
            "type": "structure",
            "members": {
              "VPCConnectionId": {},
              "Arn": {},
              "Name": {},
              "VPCId": {},
              "SecurityGroupIds": {
                "shape": "Suh"
              },
              "DnsResolvers": {
                "shape": "St3"
              },
              "Status": {},
              "AvailabilityStatus": {},
              "NetworkInterfaces": {
                "shape": "S11n"
              },
              "RoleArn": {},
              "CreatedTime": {
                "type": "timestamp"
              },
              "LastUpdatedTime": {
                "type": "timestamp"
              }
            }
          },
          "RequestId": {},
          "Status": {
            "type": "integer"
          }
        }
      }
    },
    "GenerateEmbedUrlForAnonymousUser": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/embed-url/anonymous-user"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "Namespace",
          "AuthorizedResourceArns",
          "ExperienceConfiguration"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "SessionLifetimeInMinutes": {
            "type": "long"
          },
          "Namespace": {},
          "SessionTags": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Key",
                "Value"
              ],
              "members": {
                "Key": {},
                "Value": {
                  "shape": "So8"
                }
              }
            }
          },
          "AuthorizedResourceArns": {
            "type": "list",
            "member": {}
          },
          "ExperienceConfiguration": {
            "type": "structure",
            "members": {
              "Dashboard": {
                "type": "structure",
                "required": [
                  "InitialDashboardId"
                ],
                "members": {
                  "InitialDashboardId": {}
                }
              },
              "DashboardVisual": {
                "type": "structure",
                "required": [
                  "InitialDashboardVisualId"
                ],
                "members": {
                  "InitialDashboardVisualId": {
                    "shape": "S11z"
                  }
                }
              },
              "QSearchBar": {
                "type": "structure",
                "required": [
                  "InitialTopicId"
                ],
                "members": {
                  "InitialTopicId": {}
                }
              }
            }
          },
          "AllowedDomains": {
            "shape": "St3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EmbedUrl",
          "Status",
          "RequestId",
          "AnonymousUserArn"
        ],
        "members": {
          "EmbedUrl": {
            "shape": "S122"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {},
          "AnonymousUserArn": {}
        }
      }
    },
    "GenerateEmbedUrlForRegisteredUser": {
      "http": {
        "requestUri": "/accounts/{AwsAccountId}/embed-url/registered-user"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "UserArn",
          "ExperienceConfiguration"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "SessionLifetimeInMinutes": {
            "type": "long"
          },
          "UserArn": {},
          "ExperienceConfiguration": {
            "type": "structure",
            "members": {
              "Dashboard": {
                "type": "structure",
                "required": [
                  "InitialDashboardId"
                ],
                "members": {
                  "InitialDashboardId": {},
                  "FeatureConfigurations": {
                    "type": "structure",
                    "members": {
                      "StatePersistence": {
                        "shape": "S127"
                      },
                      "Bookmarks": {
                        "type": "structure",
                        "required": [
                          "Enabled"
                        ],
                        "members": {
                          "Enabled": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "QuickSightConsole": {
                "type": "structure",
                "members": {
                  "InitialPath": {},
                  "FeatureConfigurations": {
                    "type": "structure",
                    "members": {
                      "StatePersistence": {
                        "shape": "S127"
                      }
                    }
                  }
                }
              },
              "QSearchBar": {
                "type": "structure",
                "members": {
                  "InitialTopicId": {}
                }
              },
              "DashboardVisual": {
                "type": "structure",
                "required": [
                  "InitialDashboardVisualId"
                ],
                "members": {
                  "InitialDashboardVisualId": {
                    "shape": "S11z"
                  }
                }
              }
            }
          },
          "AllowedDomains": {
            "shape": "St3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EmbedUrl",
          "Status",
          "RequestId"
        ],
        "members": {
          "EmbedUrl": {
            "shape": "S122"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "GetDashboardEmbedUrl": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/embed-url"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId",
          "DashboardId",
          "IdentityType"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "DashboardId": {
            "location": "uri",
            "locationName": "DashboardId"
          },
          "IdentityType": {
            "location": "querystring",
            "locationName": "creds-type"
          },
          "SessionLifetimeInMinutes": {
            "location": "querystring",
            "locationName": "session-lifetime",
            "type": "long"
          },
          "UndoRedoDisabled": {
            "location": "querystring",
            "locationName": "undo-redo-disabled",
            "type": "boolean"
          },
          "ResetDisabled": {
            "location": "querystring",
            "locationName": "reset-disabled",
            "type": "boolean"
          },
          "StatePersistenceEnabled": {
            "location": "querystring",
            "locationName": "state-persistence-enabled",
            "type": "boolean"
          },
          "UserArn": {
            "location": "querystring",
            "locationName": "user-arn"
          },
          "Namespace": {
            "location": "querystring",
            "locationName": "namespace"
          },
          "AdditionalDashboardIds": {
            "location": "querystring",
            "locationName": "additional-dashboard-ids",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "EmbedUrl": {
            "shape": "S122"
          },
          "Status": {
            "location": "statusCode",
            "type": "integer"
          },
          "RequestId": {}
        }
      }
    },
    "GetSessionEmbedUrl": {
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/session-embed-url"
      },
      "input": {
        "type": "structure",
        "required": [
          "AwsAccountId"
        ],
        "members": {
          "AwsAccountId": {
            "location": "uri",
            "locationName": "AwsAccountId"
          },
          "EntryPoint": {
            "location": "querystring",
[...]
