{
  "metadata":{
    "apiVersion":"2012-12-01",
    "endpointPrefix":"redshift",
    "serviceFullName":"Amazon Redshift",
    "signatureVersion":"v4",
    "xmlNamespace":"http://redshift.amazonaws.com/doc/2012-12-01/",
    "protocol":"query"
  },
  "documentation":"<fullname>Amazon Redshift</fullname>\n        <b>Overview</b>\n        <p>\n            This is an interface reference for Amazon Redshift. It contains documentation for one of the\n            programming or command line interfaces you can use to manage Amazon Redshift clusters. Note\n            that Amazon Redshift is asynchronous, which means that some interfaces may require techniques,\n            such as polling or asynchronous callback handlers, to determine when a command has been\n            applied. In this reference, the parameter descriptions indicate whether a change is\n            applied immediately, on the next instance reboot, or during the next maintenance\n            window. For a summary of the Amazon Redshift cluster management interfaces, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/using-aws-sdk.html\">Using the Amazon Redshift Management Interfaces\n            </a>.</p>\n        <p>\n            Amazon Redshift manages all the work of setting up, operating, and scaling a data warehouse: \n            provisioning capacity, monitoring and backing up the cluster, and applying patches and \n            upgrades to the Amazon Redshift engine. You can focus on using your data to acquire new \n            insights for your business and customers.\n        </p>\n        <p>If you are a first-time user of Amazon Redshift, we recommend that you begin by reading the\n            The <a href=\"http://docs.aws.amazon.com/redshift/latest/gsg/getting-started.html\">Amazon Redshift Getting Started Guide</a></p>\n\n        <p>If you are a database developer, the <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/welcome.html\">Amazon Redshift Database Developer Guide</a>\n            explains how to design, build, query, and maintain the databases that make up your\n            data warehouse. </p>",
  "operations":{
    "AuthorizeClusterSecurityGroupIngress":{
      "name":"AuthorizeClusterSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AuthorizeClusterSecurityGroupIngressMessage",
        "documentation":"<p>\n        ???\n        </p>"
      },
      "output":{
        "shape":"AuthorizeClusterSecurityGroupIngressResult",
        "wrapper":true,
        "documentation":"<p>Describes a security group.</p>",
        "resultWrapper":"AuthorizeClusterSecurityGroupIngressResult"
      },
      "errors":[
        {
          "shape":"ClusterSecurityGroupNotFoundFault",
          "error":{
            "code":"ClusterSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The cluster security group name does not refer to an existing cluster security group.\n        </p>"
        },
        {
          "shape":"InvalidClusterSecurityGroupStateFault",
          "error":{
            "code":"InvalidClusterSecurityGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The state of the cluster security group is not <code>available</code>.\n        </p>"
        },
        {
          "shape":"AuthorizationAlreadyExistsFault",
          "error":{
            "code":"AuthorizationAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The specified CIDR block or EC2 security group is already authorized for the specified cluster security group.\n        </p>"
        },
        {
          "shape":"AuthorizationQuotaExceededFault",
          "error":{
            "code":"AuthorizationQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The authorization quota for the cluster security group has been reached.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Adds an inbound (ingress) rule to an Amazon Redshift security group.             \n           Depending on whether the application accessing your cluster is running \n           on the Internet or an EC2 instance, you can \n           authorize inbound access to either a Classless Interdomain Routing (CIDR) IP address range\n           or an EC2 security group.  <!-- Required parameters for this operation are a CIDRIP range or both an \n            <i>EC2SecurityGroupName</i> and <i>EC2SecurityGroupOwnerId</i> -->\n             You can add as many as 20 ingress rules to an Amazon Redshift security group. \n        </p>\n        <note>\n            The EC2 security group must be defined in the AWS region where the cluster resides.\n        </note>\n        <p>For an overview of CIDR blocks, see the Wikipedia article on   \n            <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>.\n        </p>\n        <p>\n            You must also associate the security group with a cluster so that clients \n            running on these IP addresses or the EC2 instance are authorized to connect to the cluster.\n            For information about managing security groups, go to\n            <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Working with Security Groups</a> in the \n            <i>Amazon Redshift Management Guide</i>.</p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=AuthorizeClusterSecurityGroupIngress\n    &CIDRIP=192.168.40.3/32\n    &ClusterSecurityGroupName=securitygroup1\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130123/us-east-1/redshift/aws4_request\n    &x-amz-date=20130123T020649Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><AuthorizeClusterSecurityGroupIngressResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <AuthorizeClusterSecurityGroupIngressResult>\n    <ClusterSecurityGroup>\n      <EC2SecurityGroups/>\n      <IPRanges>\n        <IPRange>\n          <CIDRIP>192.168.40.3/32</CIDRIP>\n          <Status>authorized</Status>\n        </IPRange>\n      </IPRanges>\n      <Description>my security group</Description>\n      <ClusterSecurityGroupName>securitygroup1</ClusterSecurityGroupName>\n    </ClusterSecurityGroup>\n  </AuthorizeClusterSecurityGroupIngressResult>\n  <ResponseMetadata>\n    <RequestId>8c7cd4c8-6501-11e2-a8da-655adc216806</RequestId>\n  </ResponseMetadata>\n</AuthorizeClusterSecurityGroupIngressResponse></queryresponse>\n        </examples>"
    },
    "AuthorizeSnapshotAccess":{
      "name":"AuthorizeSnapshotAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AuthorizeSnapshotAccessMessage",
        "documentation":"<p>\n            \n        </p>"
      },
      "output":{
        "shape":"AuthorizeSnapshotAccessResult",
        "wrapper":true,
        "documentation":"<p>Describes a snapshot.</p>",
        "resultWrapper":"AuthorizeSnapshotAccessResult"
      },
      "errors":[
        {
          "shape":"ClusterSnapshotNotFoundFault",
          "error":{
            "code":"ClusterSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The snapshot identifier does not refer to an existing cluster snapshot.\n        </p>"
        },
        {
          "shape":"AuthorizationAlreadyExistsFault",
          "error":{
            "code":"AuthorizationAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The specified CIDR block or EC2 security group is already authorized for the specified cluster security group.\n        </p>"
        },
        {
          "shape":"AuthorizationQuotaExceededFault",
          "error":{
            "code":"AuthorizationQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The authorization quota for the cluster security group has been reached.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Authorizes the specified AWS customer account to restore the specified snapshot.\n        </p>\n        <p>\nFor more information about working with snapshots, go to \n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> \nin the <i>Amazon Redshift Management Guide</i>.\n</p>"
    },
    "CopyClusterSnapshot":{
      "name":"CopyClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CopyClusterSnapshotMessage",
        "documentation":"<p>\n\n         </p>"
      },
      "output":{
        "shape":"CopyClusterSnapshotResult",
        "wrapper":true,
        "documentation":"<p>Describes a snapshot.</p>",
        "resultWrapper":"CopyClusterSnapshotResult"
      },
      "errors":[
        {
          "shape":"ClusterSnapshotAlreadyExistsFault",
          "error":{
            "code":"ClusterSnapshotAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The value specified as a snapshot identifier is already used by an existing snapshot.\n        </p>"
        },
        {
          "shape":"ClusterSnapshotNotFoundFault",
          "error":{
            "code":"ClusterSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The snapshot identifier does not refer to an existing cluster snapshot.\n        </p>"
        },
        {
          "shape":"InvalidClusterSnapshotStateFault",
          "error":{
            "code":"InvalidClusterSnapshotState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The state of the cluster snapshot is not <code>available</code>, or other accounts are authorized to access the snapshot.\n        </p>"
        },
        {
          "shape":"ClusterSnapshotQuotaExceededFault",
          "error":{
            "code":"ClusterSnapshotQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The request would result in the user exceeding the allowed number of cluster snapshots.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Copies the specified automated cluster snapshot to a new manual cluster snapshot. \n        The source must be an automated snapshot and it must be in the available state.\n        </p>\n        <p>\n            When you delete a cluster, Amazon Redshift deletes any automated snapshots \n            of the cluster. Also, when the retention period of the snapshot expires,\n            Amazon Redshift automatically deletes it. If you want to keep an \n            automated snapshot for a longer period, you can make a manual\n            copy of the snapshot. Manual snapshots are retained until you delete them. \n        </p>\n        <p>\nFor more information about working with snapshots, go to \n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> \nin the <i>Amazon Redshift Management Guide</i>.\n</p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=CopyClusterSnapshot\n    &SourceSnapshotIdentifier=cm:examplecluster-2013-01-22-19-27-58\n    &TargetSnapshotIdentifier=my-snapshot-456\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130123/us-east-1/redshift/aws4_request\n    &x-amz-date=20130123T014618Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><CopyClusterSnapshotResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <CopyClusterSnapshotResult>\n    <Snapshot>\n      <Port>5439</Port>\n      <SnapshotIdentifier>my-snapshot-456</SnapshotIdentifier>\n      <Status>available</Status>\n      <SnapshotType>manual</SnapshotType>\n      <ClusterVersion>1.0</ClusterVersion>\n      <SnapshotCreateTime>2013-01-22T19:27:58.931Z</SnapshotCreateTime>\n      <NumberOfNodes>2</NumberOfNodes>\n      <DBName>dev</DBName>\n      <ClusterCreateTime>2013-01-22T19:23:59.368Z</ClusterCreateTime>\n      <AvailabilityZone>us-east-1c</AvailabilityZone>\n      <NodeType>dw1.xlarge</NodeType>\n      <ClusterIdentifier>examplecluster</ClusterIdentifier>\n      <MasterUsername>adminuser</MasterUsername>\n    </Snapshot>\n  </CopyClusterSnapshotResult>\n  <ResponseMetadata>\n    <RequestId>aebb56f5-64fe-11e2-88c5-53eb05787dfb</RequestId>\n  </ResponseMetadata>\n</CopyClusterSnapshotResponse></queryresponse>\n        </examples>"
    },
    "CreateCluster":{
      "name":"CreateCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateClusterMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"CreateClusterResult",
        "wrapper":true,
        "documentation":"<p>Describes a cluster.</p>",
        "resultWrapper":"CreateClusterResult"
      },
      "errors":[
        {
          "shape":"ClusterAlreadyExistsFault",
          "error":{
            "code":"ClusterAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The account already has a cluster with the given identifier.\n        </p>"
        },
        {
          "shape":"InsufficientClusterCapacityFault",
          "error":{
            "code":"InsufficientClusterCapacity",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The number of nodes specified exceeds the allotted capacity of the cluster.\n        </p>"
        },
        {
          "shape":"ClusterParameterGroupNotFoundFault",
          "error":{
            "code":"ClusterParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The parameter group name does not refer to an\n        existing parameter group.\n        </p>"
        },
        {
          "shape":"ClusterSecurityGroupNotFoundFault",
          "error":{
            "code":"ClusterSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The cluster security group name does not refer to an existing cluster security group.\n        </p>"
        },
        {
          "shape":"ClusterQuotaExceededFault",
          "error":{
            "code":"ClusterQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The request would exceed the allowed number of cluster instances for this account. \nFor information about increasing your quota, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Management Guide</i>.\n\n        </p>"
        },
        {
          "shape":"NumberOfNodesQuotaExceededFault",
          "error":{
            "code":"NumberOfNodesQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The operation would exceed the number of nodes allotted to the account. \nFor information about increasing your quota, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Management Guide</i>.\n</p>"
        },
        {
          "shape":"NumberOfNodesPerClusterLimitExceededFault",
          "error":{
            "code":"NumberOfNodesPerClusterLimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The operation would exceed the number of nodes allowed for a cluster.</p>"
        },
        {
          "shape":"ClusterSubnetGroupNotFoundFault",
          "error":{
            "code":"ClusterSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The cluster subnet group name does not refer to an existing cluster subnet group.\n        </p>"
        },
        {
          "shape":"InvalidVPCNetworkStateFault",
          "error":{
            "code":"InvalidVPCNetworkStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n         The cluster subnet group does not cover all Availability Zones.\n        </p>"
        },
        {
          "shape":"InvalidClusterSubnetGroupStateFault",
          "error":{
            "code":"InvalidClusterSubnetGroupStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n         The cluster subnet group cannot be deleted because it is in use.\n        </p>"
        },
        {
          "shape":"InvalidSubnet",
          "error":{
            "code":"InvalidSubnet",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n         The requested subnet is not valid, or not all of the subnets are in the same VPC. \n        </p>"
        },
        {
          "shape":"UnauthorizedOperation",
          "error":{
            "code":"UnauthorizedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            Your account is not authorized to perform the requested operation.\n        </p>"
        },
        {
          "shape":"HsmClientCertificateNotFoundFault",
          "error":{
            "code":"HsmClientCertificateNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>There is no Amazon Redshift HSM client certificate with the specified identifier.</p>"
        },
        {
          "shape":"HsmConfigurationNotFoundFault",
          "error":{
            "code":"HsmConfigurationNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>There is no Amazon Redshift HSM configuration with the specified identifier.</p>"
        },
        {
          "shape":"InvalidElasticIpFault",
          "error":{
            "code":"InvalidElasticIpFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The Elastic IP (EIP) is invalid or cannot be found.</p>"
        }
      ],
      "documentation":"<p>\n            Creates a new cluster. To create the cluster in virtual private cloud (VPC), you must provide cluster subnet group name. If \n            you don't provide a cluster subnet group name or the cluster security group parameter, Amazon Redshift \n            creates a non-VPC cluster, it associates the default cluster security group with the cluster.\n            \nFor more information about managing clusters, go to \n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> \nin the <i>Amazon Redshift Management Guide</i>\n.\n        </p>\n        <examples>\n            <example>\n                <description>Create a non-VPC cluster.</description>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n   ?Action=CreateCluster\n   &ClusterIdentifier=examplecluster\n   &MasterUsername=masteruser\n   &MasterUserPassword=12345678Aa\n   &NumberOfNodes=2   \n   &NodeType=dw1.xlarge\n   &Version=2012-12-01\n   &x-amz-algorithm=AWS4-HMAC-SHA256\n   &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130123/us-east-1/redshift/aws4_request\n   &x-amz-date=20130123T000028Z\n   &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><CreateClusterResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <CreateClusterResult>\n    <Cluster>\n      <PendingModifiedValues>\n        <MasterUserPassword>****</MasterUserPassword>\n      </PendingModifiedValues>\n      <ClusterVersion>1.0</ClusterVersion>\n      <VpcSecurityGroups/>\n      <ClusterStatus>creating</ClusterStatus>\n      <NumberOfNodes>2</NumberOfNodes>\n      <AutomatedSnapshotRetentionPeriod>1</AutomatedSnapshotRetentionPeriod>\n      <PubliclyAccessible>true</PubliclyAccessible>\n      <Encrypted>false</Encrypted>\n      <DBName>dev</DBName>\n      <PreferredMaintenanceWindow>sun:10:30-sun:11:00</PreferredMaintenanceWindow>\n      <ClusterParameterGroups>\n        <ClusterParameterGroup>\n          <ParameterApplyStatus>in-sync</ParameterApplyStatus>\n          <ParameterGroupName>default.redshift-1.0</ParameterGroupName>\n        </ClusterParameterGroup>\n      </ClusterParameterGroups>\n      <ClusterSecurityGroups>\n        <ClusterSecurityGroup>\n          <Status>active</Status>\n          <ClusterSecurityGroupName>default</ClusterSecurityGroupName>\n        </ClusterSecurityGroup>\n      </ClusterSecurityGroups>\n      <NodeType>dw1.xlarge</NodeType>\n      <ClusterIdentifier>examplecluster</ClusterIdentifier>\n      <AllowVersionUpgrade>true</AllowVersionUpgrade>\n      <MasterUsername>masteruser</MasterUsername>\n    </Cluster>\n  </CreateClusterResult>\n  <ResponseMetadata>\n    <RequestId>e69b1294-64ef-11e2-b07c-f7fbdd006c67</RequestId>\n  </ResponseMetadata>\n</CreateClusterResponse></queryresponse>\n            </example>\n            <example>\n                <description>Create cluster in virtual private cloud (VPC). This example request specifies a ClusterSubnetGroup in the request.</description>\n                <queryrequest>https://redshift.us-east-1.amazonaws.com/\n ?Action=CreateCluster\n&ClusterIdentifier=exampleclusterinvpc\n&MasterUsername=master\n&MasterUserPassword=1234abcdA\n&NodeType=dw1.xlarge\n&NumberOfNodes=2\n&ClusterSubnetGroupName=mysubnetgroup1\n   &Version=2012-12-01\n   &x-amz-algorithm=AWS4-HMAC-SHA256\n   &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130123/us-east-1/redshift/aws4_request\n   &x-amz-date=20130123T000028Z\n   &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n                <queryresponse><CreateClusterResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <CreateClusterResult>\n    <Cluster>\n      <PendingModifiedValues>\n        <MasterUserPassword>****</MasterUserPassword>\n      </PendingModifiedValues>\n      <ClusterSubnetGroupName>mysubnetgroup1</ClusterSubnetGroupName>\n      <ClusterVersion>1.0</ClusterVersion>\n      <VpcSecurityGroups/>\n      <ClusterStatus>creating</ClusterStatus>\n      <NumberOfNodes>2</NumberOfNodes>\n      <AutomatedSnapshotRetentionPeriod>1</AutomatedSnapshotRetentionPeriod>\n      <PubliclyAccessible>false</PubliclyAccessible>\n      <Encrpyted>false</Encrypted>\n      <DBName>dev</DBName>\n      <PreferredMaintenanceWindow>sat:08:30-sat:09:00</PreferredMaintenanceWindow>\n      <ClusterParameterGroups>\n        <ClusterParameterGroup>\n          <ParameterApplyStatus>in-sync</ParameterApplyStatus>\n          <ParameterGroupName>default.redshift-1.0</ParameterGroupName>\n        </ClusterParameterGroup>\n      </ClusterParameterGroups>\n      <VpcId>vpc-796a5913</VpcId>\n      <ClusterSecurityGroups/>\n      <NodeType>dw1.xlarge</NodeType>\n      <ClusterIdentifier>exampleclusterinvpc</ClusterIdentifier>\n      <AllowVersionUpgrade>true</AllowVersionUpgrade>\n      <MasterUsername>master</MasterUsername>\n    </Cluster>\n  </CreateClusterResult>\n  <ResponseMetadata>\n    <RequestId>fa337bb4-6a4d-11e2-a12a-cb8076a904bd</RequestId>\n  </ResponseMetadata>\n</CreateClusterResponse></queryresponse>\n            </example>\n        </examples>"
    },
    "CreateClusterParameterGroup":{
      "name":"CreateClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateClusterParameterGroupMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"CreateClusterParameterGroupResult",
        "wrapper":true,
        "documentation":"<p>Describes a parameter group.</p>",
        "resultWrapper":"CreateClusterParameterGroupResult"
      },
      "errors":[
        {
          "shape":"ClusterParameterGroupQuotaExceededFault",
          "error":{
            "code":"ClusterParameterGroupQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The request would result in the user exceeding the allowed\n        number of cluster parameter groups. \nFor information about increasing your quota, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Management Guide</i>.\n\n        </p>"
        },
        {
          "shape":"ClusterParameterGroupAlreadyExistsFault",
          "error":{
            "code":"ClusterParameterGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        A cluster parameter group with the same name already exists.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Creates an Amazon Redshift parameter group. </p>\n            <p>Creating parameter groups is independent of creating clusters.            \n        You can associate a cluster with a parameter group \n            when you create the cluster. You can also associate an existing cluster\n            with a parameter group after the cluster is created by using <a>ModifyCluster</a>.\n        </p>\n        <p>            \n         Parameters in the parameter group define specific behavior that applies to the \n         databases you create on the cluster. \n         \nFor more information about managing parameter groups, go to \n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> \nin the <i>Amazon Redshift Management Guide</i>.\n\n        </p>        \n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n   ?Action=CreateClusterParameterGroup\n   &Description=description my parameter group\n   &ParameterGroupFamily=redshift-1.0\n   &ParameterGroupName=parametergroup1\n   &Version=2012-12-01\n   &x-amz-algorithm=AWS4-HMAC-SHA256\n   &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130123/us-east-1/redshift/aws4_request\n   &x-amz-date=20130123T002544Z\n   &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><CreateClusterParameterGroupResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <CreateClusterParameterGroupResult>\n    <ClusterParameterGroup>\n      <ParameterGroupFamily>redshift-1.0</ParameterGroupFamily>\n      <Description>description my parameter group</Description>\n      <ParameterGroupName>parametergroup1</ParameterGroupName>\n    </ClusterParameterGroup>\n  </CreateClusterParameterGroupResult>\n  <ResponseMetadata>\n    <RequestId>6d6df847-64f3-11e2-bea9-49e0ce183f07</RequestId>\n  </ResponseMetadata>\n</CreateClusterParameterGroupResponse></queryresponse>\n        </examples>"
    },
    "CreateClusterSecurityGroup":{
      "name":"CreateClusterSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateClusterSecurityGroupMessage",
        "documentation":"<p>???</p>"
      },
      "output":{
        "shape":"CreateClusterSecurityGroupResult",
        "wrapper":true,
        "documentation":"<p>Describes a security group.</p>",
        "resultWrapper":"CreateClusterSecurityGroupResult"
      },
      "errors":[
        {
          "shape":"ClusterSecurityGroupAlreadyExistsFault",
          "error":{
            "code":"ClusterSecurityGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        A cluster security group with the same name already exists.\n        </p>"
        },
        {
          "shape":"ClusterSecurityGroupQuotaExceededFault",
          "error":{
            "code":"QuotaExceeded.ClusterSecurityGroup",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The request would result in the user exceeding the allowed number of cluster security groups. \nFor information about increasing your quota, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Management Guide</i>.\n\n        </p>"
        }
      ],
      "documentation":"<p>\n            Creates a new Amazon Redshift security group. You use security \n            groups to control access to non-VPC clusters. \n        </p>\n        <p>\n            \nFor information about managing security groups, go to\n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Amazon Redshift Cluster Security Groups</a> in the \n<i>Amazon Redshift Management Guide</i>.\n\n        </p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n   ?Action=CreateClusterSecurityGroup\n   &ClusterSecurityGroupName=securitygroup1\n   &Description=my security group\n   &Version=2012-12-01\n   &x-amz-algorithm=AWS4-HMAC-SHA256\n   &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130123/us-east-1/redshift/aws4_request\n   &x-amz-date=20130123T005817Z\n   &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><CreateClusterSecurityGroupResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <CreateClusterSecurityGroupResult>\n    <ClusterSecurityGroup>\n      <EC2SecurityGroups/>\n      <IPRanges/>\n      <Description>my security group</Description>\n      <ClusterSecurityGroupName>securitygroup1</ClusterSecurityGroupName>\n    </ClusterSecurityGroup>\n  </CreateClusterSecurityGroupResult>\n  <ResponseMetadata>\n    <RequestId>f9ee270f-64f7-11e2-a8da-655adc216806</RequestId>\n  </ResponseMetadata>\n</CreateClusterSecurityGroupResponse></queryresponse>\n        </examples>"
    },
    "CreateClusterSnapshot":{
      "name":"CreateClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateClusterSnapshotMessage",
        "documentation":"<p>\n\n         </p>"
      },
      "output":{
        "shape":"CreateClusterSnapshotResult",
        "wrapper":true,
        "documentation":"<p>Describes a snapshot.</p>",
        "resultWrapper":"CreateClusterSnapshotResult"
      },
      "errors":[
        {
          "shape":"ClusterSnapshotAlreadyExistsFault",
          "error":{
            "code":"ClusterSnapshotAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The value specified as a snapshot identifier is already used by an existing snapshot.\n        </p>"
        },
        {
          "shape":"InvalidClusterStateFault",
          "error":{
            "code":"InvalidClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The specified cluster is not in the <code>available</code> state.\n        </p>"
        },
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The <i>ClusterIdentifier</i> parameter does not refer to an existing cluster.\n        </p>"
        },
        {
          "shape":"ClusterSnapshotQuotaExceededFault",
          "error":{
            "code":"ClusterSnapshotQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The request would result in the user exceeding the allowed number of cluster snapshots.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Creates a manual snapshot of the specified cluster. \n        The cluster must be in the <code>available</code> state.\n        </p>\n        <p>\nFor more information about working with snapshots, go to \n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> \nin the <i>Amazon Redshift Management Guide</i>.\n</p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=CreateClusterSnapshot\n    &ClusterIdentifier=examplecluster\n    &SnapshotIdentifier=snapshot-1234\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130123/us-east-1/redshift/aws4_request\n    &x-amz-date=20130123T010824Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><CreateClusterSnapshotResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <CreateClusterSnapshotResult>\n    <Snapshot>\n      <Port>5439</Port>\n      <SnapshotIdentifier>my-snapshot-123</SnapshotIdentifier>\n      <Status>creating</Status>\n      <SnapshotType>manual</SnapshotType>\n      <ClusterVersion>1.0</ClusterVersion>\n      <SnapshotCreateTime>2013-01-23T01:08:29.142Z</SnapshotCreateTime>\n      <NumberOfNodes>2</NumberOfNodes>\n      <DBName>dev</DBName>\n      <ClusterCreateTime>2013-01-22T19:23:59.368Z</ClusterCreateTime>\n      <AvailabilityZone>us-east-1c</AvailabilityZone>\n      <NodeType>dw1.xlarge</NodeType>\n      <ClusterIdentifier>examplecluster</ClusterIdentifier>\n      <MasterUsername>adminuser</MasterUsername>\n    </Snapshot>\n  </CreateClusterSnapshotResult>\n  <ResponseMetadata>\n    <RequestId>65baef14-64f9-11e2-bea9-49e0ce183f07</RequestId>\n  </ResponseMetadata>\n</CreateClusterSnapshotResponse></queryresponse>\n        </examples>"
    },
    "CreateClusterSubnetGroup":{
      "name":"CreateClusterSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateClusterSubnetGroupMessage",
        "documentation":"<p>\n        </p>"
      },
      "output":{
        "shape":"CreateClusterSubnetGroupResult",
        "wrapper":true,
        "documentation":"<p>Describes a subnet group.</p>",
        "resultWrapper":"CreateClusterSubnetGroupResult"
      },
      "errors":[
        {
          "shape":"ClusterSubnetGroupAlreadyExistsFault",
          "error":{
            "code":"ClusterSubnetGroupAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        A <i>ClusterSubnetGroupName</i> is already used by an existing cluster subnet group.\n        </p>"
        },
        {
          "shape":"ClusterSubnetGroupQuotaExceededFault",
          "error":{
            "code":"ClusterSubnetGroupQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The request would result in user exceeding the allowed number of cluster subnet groups. \nFor information about increasing your quota, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Management Guide</i>.\n\n        </p>"
        },
        {
          "shape":"ClusterSubnetQuotaExceededFault",
          "error":{
            "code":"ClusterSubnetQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The request would result in user exceeding the allowed number of subnets in a cluster subnet groups. \nFor information about increasing your quota, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Management Guide</i>.\n\n        </p>"
        },
        {
          "shape":"InvalidSubnet",
          "error":{
            "code":"InvalidSubnet",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n         The requested subnet is not valid, or not all of the subnets are in the same VPC. \n        </p>"
        },
        {
          "shape":"UnauthorizedOperation",
          "error":{
            "code":"UnauthorizedOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            Your account is not authorized to perform the requested operation.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Creates a new Amazon Redshift subnet group. You must provide a list of one or more subnets in \n            your existing Amazon Virtual Private Cloud (Amazon VPC) when creating Amazon Redshift subnet group.\n           \n        </p>\n        <p> \nFor information about subnet groups, go to\n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-cluster-subnet-groups.html\">Amazon Redshift Cluster Subnet Groups</a> in the \n<i>Amazon Redshift Management Guide</i>.\n\n        </p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n   ?Action=CreateClusterSubnetGroup\n   &ClusterSubnetGroupName=mysubnetgroup1\n   &Description=My subnet group 1\n   &SubnetIds.member.1=subnet-756a591f\n   &SubnetIds.member.1=subnet-716a591b\n   &Version=2012-12-01\n   &x-amz-algorithm=AWS4-HMAC-SHA256\n   &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130129/us-east-1/redshift/aws4_request\n   &x-amz-date=20130129T192820Z\n   &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><CreateClusterSubnetGroupResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <CreateClusterSubnetGroupResult>\n    <ClusterSubnetGroup>\n      <VpcId>vpc-796a5913</VpcId>\n      <Description>My subnet group 1</Description>\n      <ClusterSubnetGroupName>mysubnetgroup1</ClusterSubnetGroupName>\n      <SubnetGroupStatus>Complete</SubnetGroupStatus>\n      <Subnets>\n        <Subnet>\n          <SubnetStatus>Active</SubnetStatus>\n          <SubnetIdentifier>subnet-756a591f</SubnetIdentifier>\n          <SubnetAvailabilityZone>\n            <Name>us-east-1c</Name>\n          </SubnetAvailabilityZone>\n        </Subnet>\n      </Subnets>\n    </ClusterSubnetGroup>\n  </CreateClusterSubnetGroupResult>\n  <ResponseMetadata>\n    <RequestId>0a60660f-6a4a-11e2-aad2-71d00c36728e</RequestId>\n  </ResponseMetadata>\n</CreateClusterSubnetGroupResponse></queryresponse>\n        </examples>"
    },
    "CreateEventSubscription":{
      "name":"CreateEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateEventSubscriptionMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"CreateEventSubscriptionResult",
        "wrapper":true,
        "resultWrapper":"CreateEventSubscriptionResult"
      },
      "errors":[
        {
          "shape":"EventSubscriptionQuotaExceededFault",
          "error":{
            "code":"EventSubscriptionQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The request would exceed the allowed number of event subscriptions for this account. \nFor information about increasing your quota, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Management Guide</i>.\n\n        </p>"
        },
        {
          "shape":"SubscriptionAlreadyExistFault",
          "error":{
            "code":"SubscriptionAlreadyExist",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>There is already an existing event notification subscription with the specified name.</p>"
        },
        {
          "shape":"SNSInvalidTopicFault",
          "error":{
            "code":"SNSInvalidTopic",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Amazon SNS has responded that there is a problem with the specified Amazon SNS topic.</p>"
        },
        {
          "shape":"SNSNoAuthorizationFault",
          "error":{
            "code":"SNSNoAuthorization",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You do not have permission to publish to the specified Amazon SNS topic.</p>"
        },
        {
          "shape":"SNSTopicArnNotFoundFault",
          "error":{
            "code":"SNSTopicArnNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>An Amazon SNS topic with the specified Amazon Resource Name (ARN) does not exist.</p>"
        },
        {
          "shape":"SubscriptionEventIdNotFoundFault",
          "error":{
            "code":"SubscriptionEventIdNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>An Amazon Redshift event with the specified event ID does not exist.</p>"
        },
        {
          "shape":"SubscriptionCategoryNotFoundFault",
          "error":{
            "code":"SubscriptionCategoryNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value specified for the event category was not one of the allowed values, or\n            it specified a category that does not apply to the specified source type. The allowed\n            values are Configuration, Management, Monitoring, and Security.</p>"
        },
        {
          "shape":"SubscriptionSeverityNotFoundFault",
          "error":{
            "code":"SubscriptionSeverityNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The value specified for the event severity was not one of the allowed values, or\n            it specified a severity that does not apply to the specified source type. The allowed\n            values are ERROR and INFO.</p>"
        },
        {
          "shape":"SourceNotFoundFault",
          "error":{
            "code":"SourceNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified Amazon Redshift event source could not be found.</p>"
        }
      ],
      "documentation":"<p>\n            Creates an Amazon Redshift event notification subscription. This action requires an ARN (Amazon Resource Name) of\n            an Amazon SNS topic created by either the Amazon Redshift console, the Amazon SNS console, or the \n            Amazon SNS API. To obtain an ARN with Amazon SNS, you must create a topic in Amazon SNS and subscribe to the topic.\n            The ARN is displayed in the SNS console.\n        </p>\n        <p>\n            You can specify the source type, and lists of Amazon Redshift source IDs, event categories, and event severities.\n            Notifications will be sent for all events you want that match those criteria. For example, you can specify\n            source type = cluster, source ID = my-cluster-1 and mycluster2, event categories = Availability, Backup, and\n            severity = ERROR. The subscription will only send notifications for those ERROR events in the Availability and\n            Backup categories for the specified clusters.\n        </p>\n        <p>\n            If you specify both the source type and source IDs, such as source type = cluster and source identifier = \n            my-cluster-1, notifications will be sent for all the cluster events for my-cluster-1. If you specify a source type\n            but do not specify a source identifier, you will receive notice of the events for the objects of that type in your\n            AWS account. If you do not specify either the SourceType nor the SourceIdentifier, you will be notified of events\n            generated from all Amazon Redshift sources belonging to your AWS account. You must specify a source type if you\n            specify a source ID.\n        </p>"
    },
    "CreateHsmClientCertificate":{
      "name":"CreateHsmClientCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateHsmClientCertificateMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"CreateHsmClientCertificateResult",
        "wrapper":true,
        "documentation":"<p>Returns information about an HSM client certificate. The certificate is stored in a secure\n            Hardware Storage Module (HSM), and used by the Amazon Redshift cluster to\n            encrypt data files.</p>",
        "resultWrapper":"CreateHsmClientCertificateResult"
      },
      "errors":[
        {
          "shape":"HsmClientCertificateAlreadyExistsFault",
          "error":{
            "code":"HsmClientCertificateAlreadyExistsFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>There is already an existing Amazon Redshift HSM client certificate with the specified identifier.</p>"
        },
        {
          "shape":"HsmClientCertificateQuotaExceededFault",
          "error":{
            "code":"HsmClientCertificateQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The quota for HSM client certificates has been reached. \nFor information about increasing your quota, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Management Guide</i>.\n\n        </p>"
        }
      ],
      "documentation":"<p>Creates an HSM client certificate that an Amazon Redshift cluster will use to connect to the client's HSM\n            in order to store and retrieve the keys used to encrypt the cluster databases.</p>\n        <p>The command returns a public key, which you must store in the HSM. In addition to creating the HSM certificate,\n            you must create an Amazon Redshift HSM configuration that provides a cluster the information needed to\n            store and use encryption keys in the HSM. For more information, go to\n            <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-HSM.html\">Hardware Security Modules</a> in the Amazon Redshift Management Guide.</p>"
    },
    "CreateHsmConfiguration":{
      "name":"CreateHsmConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateHsmConfigurationMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"CreateHsmConfigurationResult",
        "wrapper":true,
        "documentation":"<p>Returns information about an HSM configuration, which is an object that describes to Amazon Redshift\n            clusters the information they require to connect to an HSM where they can store database\n            encryption keys.</p>",
        "resultWrapper":"CreateHsmConfigurationResult"
      },
      "errors":[
        {
          "shape":"HsmConfigurationAlreadyExistsFault",
          "error":{
            "code":"HsmConfigurationAlreadyExistsFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>There is already an existing Amazon Redshift HSM configuration with the specified identifier.</p>"
        },
        {
          "shape":"HsmConfigurationQuotaExceededFault",
          "error":{
            "code":"HsmConfigurationQuotaExceededFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The quota for HSM configurations has been reached. \nFor information about increasing your quota, go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Management Guide</i>.\n\n        </p>"
        }
      ],
      "documentation":"<p>Creates an HSM configuration that contains the information required by an Amazon Redshift cluster\n            to store and use database encryption keys in a Hardware Security Module (HSM). After\n            creating the HSM configuration, you can specify it as a parameter when creating a cluster.\n            The cluster will then store its encryption keys in the HSM.</p>\n        <p>In addition to creating an HSM configuration, you must also create an HSM client certificate.\n            For more information, go to\n            <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-HSM.html\">Hardware Security Modules</a> in the Amazon Redshift Management Guide.</p>"
    },
    "DeleteCluster":{
      "name":"DeleteCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteClusterMessage",
        "documentation":"<p>\n            \n        </p>"
      },
      "output":{
        "shape":"DeleteClusterResult",
        "wrapper":true,
        "documentation":"<p>Describes a cluster.</p>",
        "resultWrapper":"DeleteClusterResult"
      },
      "errors":[
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The <i>ClusterIdentifier</i> parameter does not refer to an existing cluster.\n        </p>"
        },
        {
          "shape":"InvalidClusterStateFault",
          "error":{
            "code":"InvalidClusterState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The specified cluster is not in the <code>available</code> state.\n        </p>"
        },
        {
          "shape":"ClusterSnapshotAlreadyExistsFault",
          "error":{
            "code":"ClusterSnapshotAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The value specified as a snapshot identifier is already used by an existing snapshot.\n        </p>"
        },
        {
          "shape":"ClusterSnapshotQuotaExceededFault",
          "error":{
            "code":"ClusterSnapshotQuotaExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The request would result in the user exceeding the allowed number of cluster snapshots.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Deletes a previously provisioned cluster. A successful response\n            from the web service indicates that the request was received correctly. If a final cluster snapshot is requested\n            the status of the cluster will be \"final-snapshot\" while the snapshot is being taken, then it's \"deleting\" once Amazon Redshift begins deleting the cluster. Use <a>DescribeClusters</a> \n            to monitor the status of the deletion. The delete operation cannot be canceled or reverted once submitted. \n            \nFor more information about managing clusters, go to \n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> \nin the <i>Amazon Redshift Management Guide</i>\n.\n        </p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DeleteCluster\n    &ClusterIdentifier=examplecluster2\n    &SkipFinalClusterSnapshot=true\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130123/us-east-1/redshift/aws4_request\n    &x-amz-date=20130123T022400Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><DeleteClusterResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <DeleteClusterResult>\n    <Cluster>\n      <PendingModifiedValues/>\n      <ClusterVersion>1.0</ClusterVersion>\n      <VpcSecurityGroups/>\n      <Endpoint>\n        <Port>5439</Port>\n        <Address>examplecluster2.cobbanlpscsn.us-east-1.redshift.amazonaws.com</Address>\n      </Endpoint>\n      <ClusterStatus>deleting</ClusterStatus>\n      <NumberOfNodes>2</NumberOfNodes>\n      <AutomatedSnapshotRetentionPeriod>1</AutomatedSnapshotRetentionPeriod>\n      <PubliclyAccessible>true</PubliclyAccessible>\n      <Encrypted>true</Encrypted>\n      <DBName>dev</DBName>\n      <PreferredMaintenanceWindow>sun:10:30-sun:11:00</PreferredMaintenanceWindow>\n      <ClusterParameterGroups>\n        <ClusterParameterGroup>\n          <ParameterApplyStatus>in-sync</ParameterApplyStatus>\n          <ParameterGroupName>default.redshift-1.0</ParameterGroupName>\n        </ClusterParameterGroup>\n      </ClusterParameterGroups>\n      <ClusterCreateTime>2013-01-23T00:11:32.804Z</ClusterCreateTime>\n      <ClusterSecurityGroups>\n        <ClusterSecurityGroup>\n          <Status>active</Status>\n          <ClusterSecurityGroupName>default</ClusterSecurityGroupName>\n        </ClusterSecurityGroup>\n      </ClusterSecurityGroups>\n      <AvailabilityZone>us-east-1a</AvailabilityZone>\n      <NodeType>dw1.xlarge</NodeType>\n      <ClusterIdentifier>examplecluster2</ClusterIdentifier>\n      <AllowVersionUpgrade>true</AllowVersionUpgrade>\n      <MasterUsername>masteruser</MasterUsername>\n    </Cluster>\n  </DeleteClusterResult>\n  <ResponseMetadata>\n    <RequestId>f2e6b87e-6503-11e2-b343-393adc3f0a21</RequestId>\n  </ResponseMetadata>\n</DeleteClusterResponse></queryresponse>\n        </examples>"
    },
    "DeleteClusterParameterGroup":{
      "name":"DeleteClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteClusterParameterGroupMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "errors":[
        {
          "shape":"InvalidClusterParameterGroupStateFault",
          "error":{
            "code":"InvalidClusterParameterGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The cluster parameter group action can not be completed because \n        another task is in progress that involves the parameter group. \n        Wait a few moments and try the operation again.\n        </p>"
        },
        {
          "shape":"ClusterParameterGroupNotFoundFault",
          "error":{
            "code":"ClusterParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The parameter group name does not refer to an\n        existing parameter group.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Deletes a specified Amazon Redshift parameter group. \n            <note>You cannot delete a parameter group if it is associated with a cluster.</note>            \n        </p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DeleteClusterParameterGroup\n    &ParameterGroupName=parametergroup1\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20121208/us-east-1/redshift/aws4_request\n    &x-amz-date=20121208T015410Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><DeleteClusterParameterGroupResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <ResponseMetadata>\n    <RequestId>29674ca0-40da-11e2-b679-dba6cf515770</RequestId>\n  </ResponseMetadata>\n</DeleteClusterParameterGroupResponse></queryresponse>\n        </examples>"
    },
    "DeleteClusterSecurityGroup":{
      "name":"DeleteClusterSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteClusterSecurityGroupMessage",
        "documentation":"<p>\n        </p>"
      },
      "errors":[
        {
          "shape":"InvalidClusterSecurityGroupStateFault",
          "error":{
            "code":"InvalidClusterSecurityGroupState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The state of the cluster security group is not <code>available</code>.\n        </p>"
        },
        {
          "shape":"ClusterSecurityGroupNotFoundFault",
          "error":{
            "code":"ClusterSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The cluster security group name does not refer to an existing cluster security group.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Deletes an Amazon Redshift security group. \n        </p>\n        <note>You cannot delete a security group that is associated with any clusters. You cannot\n        delete the default security group.</note>\n        <p>\nFor information about managing security groups, go to\n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Amazon Redshift Cluster Security Groups</a> in the \n<i>Amazon Redshift Management Guide</i>.\n</p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DeleteClusterSecurityGroup\n    &ClusterSecurityGroupName=securitygroup1\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20121208/us-east-1/redshift/aws4_request\n    &x-amz-date=20121208T015926Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><DeleteClusterSecurityGroupResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <ResponseMetadata>\n    <RequestId>e54e05dc-40da-11e2-955f-313c36e9e01d</RequestId>\n  </ResponseMetadata>\n</DeleteClusterSecurityGroupResponse></queryresponse>\n        </examples>"
    },
    "DeleteClusterSnapshot":{
      "name":"DeleteClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteClusterSnapshotMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"DeleteClusterSnapshotResult",
        "wrapper":true,
        "documentation":"<p>Describes a snapshot.</p>",
        "resultWrapper":"DeleteClusterSnapshotResult"
      },
      "errors":[
        {
          "shape":"InvalidClusterSnapshotStateFault",
          "error":{
            "code":"InvalidClusterSnapshotState",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The state of the cluster snapshot is not <code>available</code>, or other accounts are authorized to access the snapshot.\n        </p>"
        },
        {
          "shape":"ClusterSnapshotNotFoundFault",
          "error":{
            "code":"ClusterSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The snapshot identifier does not refer to an existing cluster snapshot.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Deletes the specified manual snapshot. The snapshot must be in the <code>available</code> state, with no other users authorized to access the snapshot. \n        </p>\n        <p>\n            Unlike automated snapshots, manual snapshots are retained even after you \n            delete your cluster.           \n            Amazon Redshift does not delete your manual snapshots. You must delete manual snapshot \n            explicitly to avoid getting charged.\n            If other accounts are authorized to access the snapshot, you must revoke all of the authorizations before you can delete the snapshot.\n        </p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DeleteClusterSnapshot\n    &SnapshotIdentifier=snapshot-1234\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20121208/us-east-1/redshift/aws4_request\n    &x-amz-date=20121208T005225Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><DeleteClusterSnapshotResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <DeleteClusterSnapshotResult>\n    <Snapshot>\n      <SnapshotCreateTime>2012-12-07T23:31:02.372Z</SnapshotCreateTime>\n      <Port>5439</Port>\n      <SnapshotIdentifier>snapshot-1234</SnapshotIdentifier>\n      <Status>deleted</Status>\n      <ClusterCreateTime>2012-12-06T23:09:01.475Z</ClusterCreateTime>\n      <SnapshotType>manual</SnapshotType>\n      <ClusterVersion>1.0</ClusterVersion>\n      <AvailabilityZone>us-east-1a</AvailabilityZone>\n      <ClusterIdentifier>examplecluster</ClusterIdentifier>\n      <MasterUsername>masteruser</MasterUsername>\n      <NodeType>dw1.xlarge</NodeType>\n      <DBName>mydb</DBName>\n      <NumberOfNodes>3</NumberOfNodes>\n    </Snapshot>\n  </DeleteClusterSnapshotResult>\n  <ResponseMetadata>\n    <RequestId>88a31de4-40d1-11e2-8a25-eb010998df4e</RequestId>\n  </ResponseMetadata>\n</DeleteClusterSnapshotResponse></queryresponse>\n        </examples>"
    },
    "DeleteClusterSubnetGroup":{
      "name":"DeleteClusterSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterSubnetGroupMessage"},
      "errors":[
        {
          "shape":"InvalidClusterSubnetGroupStateFault",
          "error":{
            "code":"InvalidClusterSubnetGroupStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n         The cluster subnet group cannot be deleted because it is in use.\n        </p>"
        },
        {
          "shape":"InvalidClusterSubnetStateFault",
          "error":{
            "code":"InvalidClusterSubnetStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The state of the subnet is invalid.</p>"
        },
        {
          "shape":"ClusterSubnetGroupNotFoundFault",
          "error":{
            "code":"ClusterSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The cluster subnet group name does not refer to an existing cluster subnet group.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Deletes the specified cluster subnet group.\n        </p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DeleteClusterSubnetGroup\n    &ClusterSubnetGroupName=my-subnet-group-2\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130130/us-east-1/redshift/aws4_request\n    &x-amz-date=20130130T154635Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><DeleteClusterSubnetGroupResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <ResponseMetadata>\n    <RequestId>3a63806b-6af4-11e2-b27b-4d850b1c672d</RequestId>\n  </ResponseMetadata>\n</DeleteClusterSubnetGroupResponse></queryresponse>\n        </examples>"
    },
    "DeleteEventSubscription":{
      "name":"DeleteEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteEventSubscriptionMessage",
        "documentation":"<p></p>"
      },
      "errors":[
        {
          "shape":"SubscriptionNotFoundFault",
          "error":{
            "code":"SubscriptionNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>An Amazon Redshift event notification subscription with the specified name does not exist.</p>"
        },
        {
          "shape":"InvalidSubscriptionStateFault",
          "error":{
            "code":"InvalidSubscriptionStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The subscription request is invalid because it is a duplicate request. This subscription request is already in progress.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Deletes an Amazon Redshift event notification subscription.\n        </p>"
    },
    "DeleteHsmClientCertificate":{
      "name":"DeleteHsmClientCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteHsmClientCertificateMessage",
        "documentation":"<p></p>"
      },
      "errors":[
        {
          "shape":"InvalidHsmClientCertificateStateFault",
          "error":{
            "code":"InvalidHsmClientCertificateStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified HSM client certificate is not in the <code>available</code> state, or it is still in\n            use by one or more Amazon Redshift clusters.</p>"
        },
        {
          "shape":"HsmClientCertificateNotFoundFault",
          "error":{
            "code":"HsmClientCertificateNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>There is no Amazon Redshift HSM client certificate with the specified identifier.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified HSM client certificate.</p>"
    },
    "DeleteHsmConfiguration":{
      "name":"DeleteHsmConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteHsmConfigurationMessage",
        "documentation":"<p></p>"
      },
      "errors":[
        {
          "shape":"InvalidHsmConfigurationStateFault",
          "error":{
            "code":"InvalidHsmConfigurationStateFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified HSM configuration is not in the <code>available</code> state, or it is still in\n            use by one or more Amazon Redshift clusters.</p>"
        },
        {
          "shape":"HsmConfigurationNotFoundFault",
          "error":{
            "code":"HsmConfigurationNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>There is no Amazon Redshift HSM configuration with the specified identifier.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified Amazon Redshift HSM configuration.</p>"
    },
    "DescribeClusterParameterGroups":{
      "name":"DescribeClusterParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeClusterParameterGroupsMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"ClusterParameterGroupsMessage",
        "documentation":"<p>\n\t\tContains the output from the <a>DescribeClusterParameterGroups</a> action.\n        </p>",
        "resultWrapper":"DescribeClusterParameterGroupsResult"
      },
      "errors":[
        {
          "shape":"ClusterParameterGroupNotFoundFault",
          "error":{
            "code":"ClusterParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The parameter group name does not refer to an\n        existing parameter group.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Returns a list of Amazon Redshift parameter groups, including parameter \n            groups you created and the default parameter \n            group. For each parameter group, the response \n            includes the parameter group name, description, and parameter group family name. \n            You can optionally specify a name \n            to retrieve the description of \n            a specific parameter group.            \n        </p>\n        <p>\nFor more information about managing parameter groups, go to \n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> \nin the <i>Amazon Redshift Management Guide</i>.\n</p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DescribeClusterParameterGroups\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130123/us-east-1/redshift/aws4_request\n    &x-amz-date=20130123T004002Z\n    &x-amz-signedheaders=content-type;host;x-amz-date\n</queryrequest>\n            <queryresponse><DescribeClusterParameterGroupsResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <DescribeClusterParameterGroupsResult>\n    <ParameterGroups>\n      <ClusterParameterGroup>\n        <ParameterGroupFamily>redshift-1.0</ParameterGroupFamily>\n        <Description>Default parameter group for redshift-1.0</Description>\n        <ParameterGroupName>default.redshift-1.0</ParameterGroupName>\n      </ClusterParameterGroup>\n      <ClusterParameterGroup>\n        <ParameterGroupFamily>redshift-1.0</ParameterGroupFamily>\n        <Description>description my parameter group</Description>\n        <ParameterGroupName>parametergroup1</ParameterGroupName>\n      </ClusterParameterGroup>\n    </ParameterGroups>\n  </DescribeClusterParameterGroupsResult>\n  <ResponseMetadata>\n    <RequestId>6d28788b-64f5-11e2-b343-393adc3f0a21</RequestId>\n  </ResponseMetadata>\n</DescribeClusterParameterGroupsResponse></queryresponse>\n        </examples>"
    },
    "DescribeClusterParameters":{
      "name":"DescribeClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterParametersMessage"},
      "output":{
        "shape":"ClusterParameterGroupDetails",
        "documentation":"<p>\n\t\tContains the output from the <a>DescribeClusterParameters</a> action.\n        </p>",
        "resultWrapper":"DescribeClusterParametersResult"
      },
      "errors":[
        {
          "shape":"ClusterParameterGroupNotFoundFault",
          "error":{
            "code":"ClusterParameterGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The parameter group name does not refer to an\n        existing parameter group.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Returns a detailed list of parameters contained within the specified Amazon Redshift \n        parameter group. For each parameter the response includes information \n        such as parameter name, description, \n        data type, value, whether the parameter value is modifiable, and so on.\n        </p>\n        <p>You can specify <i>source</i> filter to retrieve parameters of only specific type.\n            For example, to retrieve parameters that were modified by a user action such as from \n            <a>ModifyClusterParameterGroup</a>, you can specify <i>source</i> equal to <i>user</i>.</p>\n        <p>\nFor more information about managing parameter groups, go to \n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> \nin the <i>Amazon Redshift Management Guide</i>.\n</p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DescribeClusterParameters\n    &ParameterGroupName=parametergroup1\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20121208/us-east-1/redshift/aws4_request\n    &x-amz-date=20121208T010408Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><DescribeClusterParametersResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <DescribeClusterParametersResult>\n    <Parameters>\n      <Parameter>\n        <ParameterValue>ISO, MDY</ParameterValue>\n        <DataType>string</DataType>\n        <Source>engine-default</Source>\n        <IsModifiable>true</IsModifiable>\n        <Description>Sets the display format for date and time values.</Description>\n        <ParameterName>datestyle</ParameterName>\n      </Parameter>\n      <Parameter>\n        <ParameterValue>0</ParameterValue>\n        <DataType>integer</DataType>\n        <Source>engine-default</Source>\n        <IsModifiable>true</IsModifiable>\n        <Description>Sets the number of digits displayed for floating-point values</Description>\n        <AllowedValues>-15-2</AllowedValues>\n        <ParameterName>extra_float_digits</ParameterName>\n      </Parameter>\n      <Parameter>\n        <ParameterValue>default</ParameterValue>\n        <DataType>string</DataType>\n        <Source>engine-default</Source>\n        <IsModifiable>true</IsModifiable>\n        <Description>This parameter applies a user-defined label to a group of queries that are run during the same session..</Description>\n        <ParameterName>query_group</ParameterName>\n      </Parameter>\n      <Parameter>\n        <ParameterValue>false</ParameterValue>\n        <DataType>boolean</DataType>\n        <Source>engine-default</Source>\n        <IsModifiable>true</IsModifiable>\n        <Description>require ssl for all databaseconnections</Description>\n        <AllowedValues>true,false</AllowedValues>\n        <ParameterName>require_ssl</ParameterName>\n      </Parameter>\n      <Parameter>\n        <ParameterValue>$user, public</ParameterValue>\n        <DataType>string</DataType>\n        <Source>engine-default</Source>\n        <IsModifiable>true</IsModifiable>\n        <Description>Sets the schema search order for names that are not schema-qualified.</Description>\n        <ParameterName>search_path</ParameterName>\n      </Parameter>\n      <Parameter>\n        <ParameterValue>0</ParameterValue>\n        <DataType>integer</DataType>\n        <Source>engine-default</Source>\n        <IsModifiable>true</IsModifiable>\n        <Description>Aborts any statement that takes over the specified number of milliseconds.</Description>\n        <ParameterName>statement_timeout</ParameterName>\n      </Parameter>\n      <Parameter>\n        <ParameterValue>[{&quot;query_concurrency&quot;:5}]</ParameterValue>\n        <DataType>string</DataType>\n        <Source>engine-default</Source>\n        <IsModifiable>true</IsModifiable>\n        <Description>wlm json configuration</Description>\n        <ParameterName>wlm_json_configuration</ParameterName>\n      </Parameter>\n    </Parameters>\n  </DescribeClusterParametersResult>\n  <ResponseMetadata>\n    <RequestId>2ba35df4-40d3-11e2-82cf-0b45b05c0221</RequestId>\n  </ResponseMetadata>\n</DescribeClusterParametersResponse></queryresponse>\n        </examples>"
    },
    "DescribeClusterSecurityGroups":{
      "name":"DescribeClusterSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeClusterSecurityGroupsMessage",
        "documentation":"<p>???</p>"
      },
      "output":{
        "shape":"ClusterSecurityGroupMessage",
        "documentation":"<p>\n\t\tContains the output from the <a>DescribeClusterSecurityGroups</a> action.\n        </p>",
        "resultWrapper":"DescribeClusterSecurityGroupsResult"
      },
      "errors":[
        {
          "shape":"ClusterSecurityGroupNotFoundFault",
          "error":{
            "code":"ClusterSecurityGroupNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n            The cluster security group name does not refer to an existing cluster security group.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Returns information about Amazon Redshift security groups. \n            If the name of a security group is specified, \n            the response will contain only information about only that security group. \n        </p>\n        <p>\nFor information about managing security groups, go to\n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Amazon Redshift Cluster Security Groups</a> in the \n<i>Amazon Redshift Management Guide</i>.\n</p>\n        \n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DescribeClusterSecurityGroups\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130123/us-east-1/redshift/aws4_request\n    &x-amz-date=20130123T010237Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><DescribeClusterSecurityGroupsResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <DescribeClusterSecurityGroupsResult>\n    <ClusterSecurityGroups>\n      <ClusterSecurityGroup>\n        <EC2SecurityGroups/>\n        <IPRanges>\n          <IPRange>\n            <CIDRIP>0.0.0.0/0</CIDRIP>\n            <Status>authorized</Status>\n          </IPRange>\n        </IPRanges>\n        <Description>default</Description>\n        <ClusterSecurityGroupName>default</ClusterSecurityGroupName>\n      </ClusterSecurityGroup>\n      <ClusterSecurityGroup>\n        <EC2SecurityGroups/>\n        <IPRanges/>\n        <Description>my security group</Description>\n        <ClusterSecurityGroupName>securitygroup1</ClusterSecurityGroupName>\n      </ClusterSecurityGroup>\n    </ClusterSecurityGroups>\n  </DescribeClusterSecurityGroupsResult>\n  <ResponseMetadata>\n    <RequestId>947a8305-64f8-11e2-bec0-17624ad140dd</RequestId>\n  </ResponseMetadata>\n</DescribeClusterSecurityGroupsResponse></queryresponse>\n        </examples>"
    },
    "DescribeClusterSnapshots":{
      "name":"DescribeClusterSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeClusterSnapshotsMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"SnapshotMessage",
        "documentation":"<p>\n\t\tContains the output from the <a>DescribeClusterSnapshots</a> action.\n        </p>",
        "resultWrapper":"DescribeClusterSnapshotsResult"
      },
      "errors":[
        {
          "shape":"ClusterSnapshotNotFoundFault",
          "error":{
            "code":"ClusterSnapshotNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The snapshot identifier does not refer to an existing cluster snapshot.\n        </p>"
        }
      ],
      "documentation":"<p>\n        Returns one or more snapshot objects, which contain metadata about your cluster snapshots.\n        By default, this operation returns information about all snapshots of all clusters that are\n        owned by you AWS customer account. No information is returned for snapshots owned by inactive AWS customer accounts.\n        </p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DescribeClusterSnapshots\n    &ClusterIdentifier=examplecluster\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130123/us-east-1/redshift/aws4_request\n    &x-amz-date=20130123T011512Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><DescribeClusterSnapshotsResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <DescribeClusterSnapshotsResult>\n    <Snapshots>\n      <Snapshot>\n        <Port>5439</Port>\n        <SnapshotIdentifier>cm:examplecluster-2013-01-22-19-27-58</SnapshotIdentifier>\n        <Status>available</Status>\n        <SnapshotType>automated</SnapshotType>\n        <ClusterVersion>1.0</ClusterVersion>\n        <SnapshotCreateTime>2013-01-22T19:27:58.931Z</SnapshotCreateTime>\n        <NumberOfNodes>2</NumberOfNodes>\n        <DBName>dev</DBName>\n        <ClusterCreateTime>2013-01-22T19:23:59.368Z</ClusterCreateTime>\n        <AvailabilityZone>us-east-1c</AvailabilityZone>\n        <NodeType>dw1.xlarge</NodeType>\n        <ClusterIdentifier>examplecluster</ClusterIdentifier>\n        <MasterUsername>adminuser</MasterUsername>\n      </Snapshot>\n      <Snapshot>\n        <Port>5439</Port>\n        <SnapshotIdentifier>my-snapshot-123</SnapshotIdentifier>\n        <Status>available</Status>\n        <SnapshotType>manual</SnapshotType>\n        <ClusterVersion>1.0</ClusterVersion>\n        <SnapshotCreateTime>2013-01-23T01:09:03.149Z</SnapshotCreateTime>\n        <NumberOfNodes>2</NumberOfNodes>\n        <DBName>dev</DBName>\n        <ClusterCreateTime>2013-01-22T19:23:59.368Z</ClusterCreateTime>\n        <AvailabilityZone>us-east-1c</AvailabilityZone>\n        <NodeType>dw1.xlarge</NodeType>\n        <ClusterIdentifier>examplecluster</ClusterIdentifier>\n        <MasterUsername>adminuser</MasterUsername>\n      </Snapshot>\n    </Snapshots>\n  </DescribeClusterSnapshotsResult>\n  <ResponseMetadata>\n    <RequestId>56a9daf4-64fa-11e2-a8da-655adc216806</RequestId>\n  </ResponseMetadata>\n</DescribeClusterSnapshotsResponse></queryresponse>\n        </examples>"
    },
    "DescribeClusterSubnetGroups":{
      "name":"DescribeClusterSubnetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeClusterSubnetGroupsMessage",
        "documentation":"<p>\n        </p>"
      },
      "output":{
        "shape":"ClusterSubnetGroupMessage",
        "documentation":"<p>\n        Contains the output from the \n            <a>DescribeClusterSubnetGroups</a> action.\n        </p>",
        "resultWrapper":"DescribeClusterSubnetGroupsResult"
      },
      "errors":[
        {
          "shape":"ClusterSubnetGroupNotFoundFault",
          "error":{
            "code":"ClusterSubnetGroupNotFoundFault",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The cluster subnet group name does not refer to an existing cluster subnet group.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Returns one or more cluster subnet group objects, which contain metadata about your\n            cluster subnet groups.  By default, this operation returns information about\n            all cluster subnet groups that are defined in you AWS account.\n        </p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DescribeClusterSubnetGroups\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130130/us-east-1/redshift/aws4_request\n    &x-amz-date=20130130T153938Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><DescribeClusterSubnetGroupsResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <DescribeClusterSubnetGroupsResult>\n    <ClusterSubnetGroups>\n      <ClusterSubnetGroup>\n        <VpcId>vpc-5d917a30</VpcId>\n        <Description>my subnet group</Description>\n        <ClusterSubnetGroupName>my-subnet-group</ClusterSubnetGroupName>\n        <SubnetGroupStatus>Complete</SubnetGroupStatus>\n        <Subnets>\n          <Subnet>\n            <SubnetStatus>Active</SubnetStatus>\n            <SubnetIdentifier>subnet-71c5091c</SubnetIdentifier>\n            <SubnetAvailabilityZone>\n              <Name>us-east-1a</Name>\n            </SubnetAvailabilityZone>\n          </Subnet>\n          <Subnet>\n            <SubnetStatus>Active</SubnetStatus>\n            <SubnetIdentifier>subnet-78de1215</SubnetIdentifier>\n            <SubnetAvailabilityZone>\n              <Name>us-east-1a</Name>\n            </SubnetAvailabilityZone>\n          </Subnet>\n        </Subnets>\n      </ClusterSubnetGroup>\n    </ClusterSubnetGroups>\n  </DescribeClusterSubnetGroupsResult>\n  <ResponseMetadata>\n    <RequestId>42024b68-6af3-11e2-a726-6368a468fa67</RequestId>\n  </ResponseMetadata>\n</DescribeClusterSubnetGroupsResponse></queryresponse>\n        </examples>"
    },
    "DescribeClusterVersions":{
      "name":"DescribeClusterVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterVersionsMessage"},
      "output":{
        "shape":"ClusterVersionsMessage",
        "documentation":"<p>\n            Contains the output from the <a>DescribeClusterVersions</a> action.\n        </p>",
        "resultWrapper":"DescribeClusterVersionsResult"
      },
      "documentation":"<p>\n    Returns  descriptions of the available Amazon Redshift cluster versions. You can call this \n    operation even before creating any clusters to learn more about the Amazon Redshift versions. \n    \nFor more information about managing clusters, go to \n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> \nin the <i>Amazon Redshift Management Guide</i>\n\n    </p>\n       <examples>\n           <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DescribeClusterVersions\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20121207/us-east-1/redshift/aws4_request\n    &x-amz-date=20121207T230708Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n           <queryresponse><DescribeClusterVersionsResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <DescribeClusterVersionsResult>\n    <ClusterVersions>\n      <ClusterVersion>\n        <ClusterParameterGroupFamily>redshift-1.0</ClusterParameterGroupFamily>\n        <Description>Initial release of redshift</Description>\n        <ClusterVersion>1.0</ClusterVersion>\n      </ClusterVersion>\n    </ClusterVersions>\n  </DescribeClusterVersionsResult>\n  <ResponseMetadata>\n    <RequestId>d39cd5e5-40c2-11e2-8a25-eb010998df4e</RequestId>\n  </ResponseMetadata>\n</DescribeClusterVersionsResponse></queryresponse>\n       </examples>"
    },
    "DescribeClusters":{
      "name":"DescribeClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeClustersMessage",
        "documentation":"<p>\n            \n        </p>"
      },
      "output":{
        "shape":"ClustersMessage",
        "documentation":"<p>\n            Contains the output from the <a>DescribeClusters</a> action.\n        </p>",
        "resultWrapper":"DescribeClustersResult"
      },
      "errors":[
        {
          "shape":"ClusterNotFoundFault",
          "error":{
            "code":"ClusterNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>\n        The <i>ClusterIdentifier</i> parameter does not refer to an existing cluster.\n        </p>"
        }
      ],
      "documentation":"<p>\n            Returns properties of provisioned clusters including general cluster properties, cluster database properties,\n            maintenance and backup properties, and security and access properties. This operation supports pagination. \n            \nFor more information about managing clusters, go to \n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> \nin the <i>Amazon Redshift Management Guide</i>\n.\n        </p>\n        <examples>\n            <example>\n                <name>Describing All Clusters</name>\n                <description> The following example shows a request that describes all clusters.</description>\n                <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DescribeClusters\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20130123/us-east-1/redshift/aws4_request\n    &x-amz-date=20130123T000452Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n                <queryresponse><DescribeClustersResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <DescribeClustersResult>\n    <Clusters>\n      <Cluster>\n        <PendingModifiedValues>\n          <MasterUserPassword>****</MasterUserPassword>\n        </PendingModifiedValues>\n        <ClusterVersion>1.0</ClusterVersion>\n        <VpcSecurityGroups/>\n        <ClusterStatus>creating</ClusterStatus>\n        <NumberOfNodes>2</NumberOfNodes>\n        <AutomatedSnapshotRetentionPeriod>1</AutomatedSnapshotRetentionPeriod>\n        <PubliclyAccessible>true</PubliclyAccessible>\n        <Encrypted>false</Encrypted>\n        <DBName>dev</DBName>\n        <PreferredMaintenanceWindow>sun:10:30-sun:11:00</PreferredMaintenanceWindow>\n        <ClusterParameterGroups>\n          <ClusterParameterGroup>\n            <ParameterApplyStatus>in-sync</ParameterApplyStatus>\n            <ParameterGroupName>default.redshift-1.0</ParameterGroupName>\n          </ClusterParameterGroup>\n        </ClusterParameterGroups>\n        <ClusterSecurityGroups>\n          <ClusterSecurityGroup>\n            <Status>active</Status>\n            <ClusterSecurityGroupName>default</ClusterSecurityGroupName>\n          </ClusterSecurityGroup>\n        </ClusterSecurityGroups>\n        <AvailabilityZone>us-east-1a</AvailabilityZone>\n        <NodeType>dw1.xlarge</NodeType>\n        <ClusterIdentifier>examplecluster</ClusterIdentifier>\n        <AllowVersionUpgrade>true</AllowVersionUpgrade>\n        <MasterUsername>masteruser</MasterUsername>\n      </Cluster>\n    </Clusters>\n  </DescribeClustersResult>\n  <ResponseMetadata>\n    <RequestId>837d45d6-64f0-11e2-b07c-f7fbdd006c67</RequestId>\n  </ResponseMetadata>\n</DescribeClustersResponse></queryresponse>\n            </example>\n        </examples>"
    },
    "DescribeDefaultClusterParameters":{
      "name":"DescribeDefaultClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeDefaultClusterParametersMessage",
        "documentation":"<p>\n\n        </p>"
      },
      "output":{
        "shape":"DescribeDefaultClusterParametersResult",
        "wrapper":true,
        "documentation":"<p>Describes the default cluster parameters for a parameter group family. </p>",
        "resultWrapper":"DescribeDefaultClusterParametersResult"
      },
      "documentation":"<p>\n        Returns a list of parameter settings for the specified parameter group family.\n        </p>\n        <p>\nFor more information about managing parameter groups, go to \n<a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> \nin the <i>Amazon Redshift Management Guide</i>.\n</p>\n        <examples>\n            <queryrequest>https://redshift.us-east-1.amazonaws.com/\n    ?Action=DescribeDefaultClusterParameters\n    &ParameterGroupFamily=redshift-1.0\n    &Version=2012-12-01\n    &x-amz-algorithm=AWS4-HMAC-SHA256\n    &x-amz-credential=AKIAIOSFODNN7EXAMPLE/20121207/us-east-1/redshift/aws4_request\n    &x-amz-date=20121207T231708Z\n    &x-amz-signedheaders=content-type;host;x-amz-date</queryrequest>\n            <queryresponse><DescribeDefaultClusterParametersResponse xmlns=\"http://redshift.amazonaws.com/doc/2012-12-01/\">\n  <DescribeDefaultClusterParametersResult>\n    <DefaultClusterParameters>\n      <ParameterGroupFamily>redshift-1.0</ParameterGroupFamily>\n      <Parameters>\n        <Parameter>\n          <ParameterValue>ISO, MDY</ParameterValue>\n          <DataType>string</DataType>\n          <Source>engine-default</Source>\n          <IsModifiable>true</IsModifiable>\n          <Description>Sets the display format for date and time values.</Description>\n          <ParameterName>datestyle</ParameterName>\n        </Parameter>\n        <Parameter>\n          <ParameterValue>0</ParameterValue>\n          <DataType>integer</DataType>\n          <Source>engine-default</Source>\n          <IsModifiable>true</IsModifiable>\n          <Description>Sets the number of digits displayed for floating-point values</Description>\n          <AllowedValues>-15-2</AllowedValues>\n          <ParameterName>extra_float_digits</ParameterName>\n        </Parameter>\n        <Parameter>\n          <ParameterValue>default</ParameterValue>\n          <DataType>string</DataType>\n          <Source>engine-default</Source>\n          <IsModifiable>true</IsModifiable>\n          <Description>This parameter applies a user-defined label to a group of queries that are run during the same session..</Description>\n          <ParameterName>query_group</ParameterName>\n        </Parameter>\n        <Parameter>\n          <ParameterValue>false</ParameterValue>\n          <DataType>boolean</DataType>\n          <Source>engine-default</Source>\n          <IsModifiable>true</IsModifiable>\n          <Description>require ssl for all databaseconnections</Description>\n          <AllowedValues>true,false</AllowedValues>\n          <ParameterName>require_ssl</ParameterName>\n        </Parameter>\n        <Parameter>\n          <ParameterValue>$user, public</ParameterValue>\n          <DataType>string</DataType>\n          <Source>engine-default</Source>\n          <IsModifiable>true</IsModifiable>\n          <Description>Sets the schema search order for names that are not schema-qualified.</Description>\n          <ParameterName>search_path</ParameterName>\n        </Parameter>\n        <Parameter>\n          <ParameterValue>0</ParameterValue>\n          <DataType>integer</DataType>\n          <Source>engine-default</Source>\n          <IsModifiable>true</IsModifiable>\n          <Description>Aborts any statement that takes over the specified number of milliseconds.</Description>\n          <ParameterName>statement_timeout</ParameterName>\n        </Parameter>\n        <Parameter>\n          <ParameterValue>[{&quot;query_concurrency&quot;:5}]</ParameterValue>\n          <DataType>string</DataType>\n          <Source>engine-default</Source>\n          <IsModifiable>true</IsModifiable>\n          <Description>wlm json configuration</Description>\n          <ParameterName>wlm_json_configuration</ParameterName>\n        </Parameter>\n      </Parameters>\n    </DefaultClusterParameters>\n  </DescribeDefaultClusterParametersResult>\n  <ResponseMetadata>\n    <RequestId>396df00b-40c4-11e2-82cf-0b45b05c0221</RequestId>\n  </ResponseMetadata>\n</DescribeDefaultClusterParametersResponse></queryresponse>\n        </examples>"
    },
    "DescribeEventCategories":{
      "name":"DescribeEventCategories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeEventCategoriesMessage",
        "documentation":"<p>\n            \n        </p>"
      },
      "output":{
        "shape":"EventCategoriesMessage",
        "documentation":"<p>\n            \n        </p>",
        "resultWrapper":"DescribeEventCategoriesResult"
      },
      "documentation":"<p>Displays a list of event categories for all event source types, or for a\n           specified source type. For a list of the event categories and source types,\n           go to <a href=\"http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-event-notifications.html\">Amazon Redshift Event Notifications</a>.</p>"
    },
    "DescribeEventSubscriptions":{
      "name":"DescribeEventSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeEventSubscriptionsMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"EventSubscriptionsMessage",
        "documentation":"<p></p>",
        "resultWrapper":"DescribeEventSubscriptionsResult"
      },
      "errors":[
        {
          "shape":"SubscriptionNotFoundFault",
          "error":{
            "code":"SubscriptionNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
[...]
