{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2021-04-21",
    "endpointPrefix": "redshift-serverless",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Redshift Serverless",
    "serviceId": "Redshift Serverless",
    "signatureVersion": "v4",
    "signingName": "redshift-serverless",
    "targetPrefix": "RedshiftServerless",
    "uid": "redshift-serverless-2021-04-21"
  },
  "operations": {
    "ConvertRecoveryPointToSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "recoveryPointId",
          "snapshotName"
        ],
        "members": {
          "recoveryPointId": {},
          "retentionPeriod": {
            "type": "integer"
          },
          "snapshotName": {},
          "tags": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "snapshot": {
            "shape": "S9"
          }
        }
      }
    },
    "CreateCustomDomainAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "customDomainCertificateArn",
          "customDomainName",
          "workgroupName"
        ],
        "members": {
          "customDomainCertificateArn": {},
          "customDomainName": {},
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "customDomainCertificateArn": {},
          "customDomainCertificateExpiryTime": {
            "shape": "Se"
          },
          "customDomainName": {},
          "workgroupName": {}
        }
      }
    },
    "CreateEndpointAccess": {
      "input": {
        "type": "structure",
        "required": [
          "endpointName",
          "subnetIds",
          "workgroupName"
        ],
        "members": {
          "endpointName": {},
          "subnetIds": {
            "shape": "Sm"
          },
          "vpcSecurityGroupIds": {
            "shape": "So"
          },
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "endpoint": {
            "shape": "Sr"
          }
        }
      },
      "idempotent": true
    },
    "CreateNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "namespaceName"
        ],
        "members": {
          "adminPasswordSecretKmsKeyId": {},
          "adminUserPassword": {
            "shape": "Sy"
          },
          "adminUsername": {
            "shape": "Sz"
          },
          "dbName": {},
          "defaultIamRoleArn": {},
          "iamRoles": {
            "shape": "S10"
          },
          "kmsKeyId": {},
          "logExports": {
            "shape": "S12"
          },
          "manageAdminPassword": {
            "type": "boolean"
          },
          "namespaceName": {},
          "tags": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "namespace": {
            "shape": "S17"
          }
        }
      },
      "idempotent": true
    },
    "CreateSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "namespaceName",
          "snapshotName"
        ],
        "members": {
          "namespaceName": {},
          "retentionPeriod": {
            "type": "integer"
          },
          "snapshotName": {},
          "tags": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "snapshot": {
            "shape": "S9"
          }
        }
      },
      "idempotent": true
    },
    "CreateUsageLimit": {
      "input": {
        "type": "structure",
        "required": [
          "amount",
          "resourceArn",
          "usageType"
        ],
        "members": {
          "amount": {
            "type": "long"
          },
          "breachAction": {},
          "period": {},
          "resourceArn": {},
          "usageType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "usageLimit": {
            "shape": "S1g"
          }
        }
      },
      "idempotent": true
    },
    "CreateWorkgroup": {
      "input": {
        "type": "structure",
        "required": [
          "namespaceName",
          "workgroupName"
        ],
        "members": {
          "baseCapacity": {
            "type": "integer"
          },
          "configParameters": {
            "shape": "S1i"
          },
          "enhancedVpcRouting": {
            "type": "boolean"
          },
          "namespaceName": {},
          "port": {
            "type": "integer"
          },
          "publiclyAccessible": {
            "type": "boolean"
          },
          "securityGroupIds": {
            "shape": "S1m"
          },
          "subnetIds": {
            "shape": "Sm"
          },
          "tags": {
            "shape": "S4"
          },
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "workgroup": {
            "shape": "S1p"
          }
        }
      },
      "idempotent": true
    },
    "DeleteCustomDomainAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "customDomainName",
          "workgroupName"
        ],
        "members": {
          "customDomainName": {},
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteEndpointAccess": {
      "input": {
        "type": "structure",
        "required": [
          "endpointName"
        ],
        "members": {
          "endpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "endpoint": {
            "shape": "Sr"
          }
        }
      },
      "idempotent": true
    },
    "DeleteNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "namespaceName"
        ],
        "members": {
          "finalSnapshotName": {},
          "finalSnapshotRetentionPeriod": {
            "type": "integer"
          },
          "namespaceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "namespace"
        ],
        "members": {
          "namespace": {
            "shape": "S17"
          }
        }
      },
      "idempotent": true
    },
    "DeleteResourcePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "snapshotName"
        ],
        "members": {
          "snapshotName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "snapshot": {
            "shape": "S9"
          }
        }
      },
      "idempotent": true
    },
    "DeleteUsageLimit": {
      "input": {
        "type": "structure",
        "required": [
          "usageLimitId"
        ],
        "members": {
          "usageLimitId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "usageLimit": {
            "shape": "S1g"
          }
        }
      },
      "idempotent": true
    },
    "DeleteWorkgroup": {
      "input": {
        "type": "structure",
        "required": [
          "workgroupName"
        ],
        "members": {
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "workgroup"
        ],
        "members": {
          "workgroup": {
            "shape": "S1p"
          }
        }
      },
      "idempotent": true
    },
    "GetCredentials": {
      "input": {
        "type": "structure",
        "members": {
          "customDomainName": {},
          "dbName": {},
          "durationSeconds": {
            "type": "integer"
          },
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "dbPassword": {
            "shape": "Sy"
          },
          "dbUser": {
            "shape": "Sz"
          },
          "expiration": {
            "type": "timestamp"
          },
          "nextRefreshTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "GetCustomDomainAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "customDomainName",
          "workgroupName"
        ],
        "members": {
          "customDomainName": {},
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "customDomainCertificateArn": {},
          "customDomainCertificateExpiryTime": {
            "shape": "Se"
          },
          "customDomainName": {},
          "workgroupName": {}
        }
      }
    },
    "GetEndpointAccess": {
      "input": {
        "type": "structure",
        "required": [
          "endpointName"
        ],
        "members": {
          "endpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "endpoint": {
            "shape": "Sr"
          }
        }
      }
    },
    "GetNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "namespaceName"
        ],
        "members": {
          "namespaceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "namespace"
        ],
        "members": {
          "namespace": {
            "shape": "S17"
          }
        }
      }
    },
    "GetRecoveryPoint": {
      "input": {
        "type": "structure",
        "required": [
          "recoveryPointId"
        ],
        "members": {
          "recoveryPointId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "recoveryPoint": {
            "shape": "S2j"
          }
        }
      }
    },
    "GetResourcePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourcePolicy": {
            "shape": "S2m"
          }
        }
      }
    },
    "GetSnapshot": {
      "input": {
        "type": "structure",
        "members": {
          "ownerAccount": {},
          "snapshotArn": {},
          "snapshotName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "snapshot": {
            "shape": "S9"
          }
        }
      }
    },
    "GetTableRestoreStatus": {
      "input": {
        "type": "structure",
        "required": [
          "tableRestoreRequestId"
        ],
        "members": {
          "tableRestoreRequestId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tableRestoreStatus": {
            "shape": "S2r"
          }
        }
      }
    },
    "GetUsageLimit": {
      "input": {
        "type": "structure",
        "required": [
          "usageLimitId"
        ],
        "members": {
          "usageLimitId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "usageLimit": {
            "shape": "S1g"
          }
        }
      }
    },
    "GetWorkgroup": {
      "input": {
        "type": "structure",
        "required": [
          "workgroupName"
        ],
        "members": {
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "workgroup"
        ],
        "members": {
          "workgroup": {
            "shape": "S1p"
          }
        }
      }
    },
    "ListCustomDomainAssociations": {
      "input": {
        "type": "structure",
        "members": {
          "customDomainCertificateArn": {},
          "customDomainName": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "associations": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "customDomainCertificateArn": {},
                "customDomainCertificateExpiryTime": {
                  "shape": "Se"
                },
                "customDomainName": {},
                "workgroupName": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListEndpointAccess": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "vpcId": {},
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "endpoints"
        ],
        "members": {
          "endpoints": {
            "type": "list",
            "member": {
              "shape": "Sr"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListNamespaces": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "namespaces"
        ],
        "members": {
          "namespaces": {
            "type": "list",
            "member": {
              "shape": "S17"
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListRecoveryPoints": {
      "input": {
        "type": "structure",
        "members": {
          "endTime": {
            "type": "timestamp"
          },
          "maxResults": {
            "type": "integer"
          },
          "namespaceArn": {},
          "namespaceName": {},
          "nextToken": {},
          "startTime": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "recoveryPoints": {
            "type": "list",
            "member": {
              "shape": "S2j"
            }
          }
        }
      }
    },
    "ListSnapshots": {
      "input": {
        "type": "structure",
        "members": {
          "endTime": {
            "type": "timestamp"
          },
          "maxResults": {
            "type": "integer"
          },
          "namespaceArn": {},
          "namespaceName": {},
          "nextToken": {},
          "ownerAccount": {},
          "startTime": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "snapshots": {
            "type": "list",
            "member": {
              "shape": "S9"
            }
          }
        }
      }
    },
    "ListTableRestoreStatus": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "namespaceName": {},
          "nextToken": {},
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "tableRestoreStatuses": {
            "type": "list",
            "member": {
              "shape": "S2r"
            }
          }
        }
      }
    },
    "ListTagsForResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "S4"
          }
        }
      }
    },
    "ListUsageLimits": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "resourceArn": {},
          "usageType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "usageLimits": {
            "type": "list",
            "member": {
              "shape": "S1g"
            }
          }
        }
      }
    },
    "ListWorkgroups": {
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "workgroups"
        ],
        "members": {
          "nextToken": {},
          "workgroups": {
            "type": "list",
            "member": {
              "shape": "S1p"
            }
          }
        }
      }
    },
    "PutResourcePolicy": {
      "input": {
        "type": "structure",
        "required": [
          "policy",
          "resourceArn"
        ],
        "members": {
          "policy": {},
          "resourceArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "resourcePolicy": {
            "shape": "S2m"
          }
        }
      }
    },
    "RestoreFromRecoveryPoint": {
      "input": {
        "type": "structure",
        "required": [
          "namespaceName",
          "recoveryPointId",
          "workgroupName"
        ],
        "members": {
          "namespaceName": {},
          "recoveryPointId": {},
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "namespace": {
            "shape": "S17"
          },
          "recoveryPointId": {}
        }
      }
    },
    "RestoreFromSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "namespaceName",
          "workgroupName"
        ],
        "members": {
          "adminPasswordSecretKmsKeyId": {},
          "manageAdminPassword": {
            "type": "boolean"
          },
          "namespaceName": {},
          "ownerAccount": {},
          "snapshotArn": {},
          "snapshotName": {},
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "namespace": {
            "shape": "S17"
          },
          "ownerAccount": {},
          "snapshotName": {}
        }
      },
      "idempotent": true
    },
    "RestoreTableFromSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "namespaceName",
          "newTableName",
          "snapshotName",
          "sourceDatabaseName",
          "sourceTableName",
          "workgroupName"
        ],
        "members": {
          "activateCaseSensitiveIdentifier": {
            "type": "boolean"
          },
          "namespaceName": {},
          "newTableName": {},
          "snapshotName": {},
          "sourceDatabaseName": {},
          "sourceSchemaName": {},
          "sourceTableName": {},
          "targetDatabaseName": {},
          "targetSchemaName": {},
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tableRestoreStatus": {
            "shape": "S2r"
          }
        }
      }
    },
    "TagResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {},
          "tags": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {},
          "tagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateCustomDomainAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "customDomainCertificateArn",
          "customDomainName",
          "workgroupName"
        ],
        "members": {
          "customDomainCertificateArn": {},
          "customDomainName": {},
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "customDomainCertificateArn": {},
          "customDomainCertificateExpiryTime": {
            "shape": "Se"
          },
          "customDomainName": {},
          "workgroupName": {}
        }
      }
    },
    "UpdateEndpointAccess": {
      "input": {
        "type": "structure",
        "required": [
          "endpointName"
        ],
        "members": {
          "endpointName": {},
          "vpcSecurityGroupIds": {
            "shape": "So"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "endpoint": {
            "shape": "Sr"
          }
        }
      }
    },
    "UpdateNamespace": {
      "input": {
        "type": "structure",
        "required": [
          "namespaceName"
        ],
        "members": {
          "adminPasswordSecretKmsKeyId": {},
          "adminUserPassword": {
            "shape": "Sy"
          },
          "adminUsername": {
            "shape": "Sz"
          },
          "defaultIamRoleArn": {},
          "iamRoles": {
            "shape": "S10"
          },
          "kmsKeyId": {},
          "logExports": {
            "shape": "S12"
          },
          "manageAdminPassword": {
            "type": "boolean"
          },
          "namespaceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "namespace"
        ],
        "members": {
          "namespace": {
            "shape": "S17"
          }
        }
      }
    },
    "UpdateSnapshot": {
      "input": {
        "type": "structure",
        "required": [
          "snapshotName"
        ],
        "members": {
          "retentionPeriod": {
            "type": "integer"
          },
          "snapshotName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "snapshot": {
            "shape": "S9"
          }
        }
      }
    },
    "UpdateUsageLimit": {
      "input": {
        "type": "structure",
        "required": [
          "usageLimitId"
        ],
        "members": {
          "amount": {
            "type": "long"
          },
          "breachAction": {},
          "usageLimitId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "usageLimit": {
            "shape": "S1g"
          }
        }
      }
    },
    "UpdateWorkgroup": {
      "input": {
        "type": "structure",
        "required": [
          "workgroupName"
        ],
        "members": {
          "baseCapacity": {
            "type": "integer"
          },
          "configParameters": {
            "shape": "S1i"
          },
          "enhancedVpcRouting": {
            "type": "boolean"
          },
          "port": {
            "type": "integer"
          },
          "publiclyAccessible": {
            "type": "boolean"
          },
          "securityGroupIds": {
            "shape": "S1m"
          },
          "subnetIds": {
            "shape": "Sm"
          },
          "workgroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "workgroup"
        ],
        "members": {
          "workgroup": {
            "shape": "S1p"
          }
        }
      }
    }
  },
  "shapes": {
    "S4": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "key",
          "value"
        ],
        "members": {
          "key": {},
          "value": {}
        }
      }
    },
    "S9": {
      "type": "structure",
      "members": {
        "accountsWithProvisionedRestoreAccess": {
          "shape": "Sa"
        },
        "accountsWithRestoreAccess": {
          "shape": "Sa"
        },
        "actualIncrementalBackupSizeInMegaBytes": {
          "type": "double"
        },
        "adminPasswordSecretArn": {},
        "adminPasswordSecretKmsKeyId": {},
        "adminUsername": {},
        "backupProgressInMegaBytes": {
          "type": "double"
        },
        "currentBackupRateInMegaBytesPerSecond": {
          "type": "double"
        },
        "elapsedTimeInSeconds": {
          "type": "long"
        },
        "estimatedSecondsToCompletion": {
          "type": "long"
        },
        "kmsKeyId": {},
        "namespaceArn": {},
        "namespaceName": {},
        "ownerAccount": {},
        "snapshotArn": {},
        "snapshotCreateTime": {
          "shape": "Se"
        },
        "snapshotName": {},
        "snapshotRemainingDays": {
          "type": "integer"
        },
        "snapshotRetentionPeriod": {
          "type": "integer"
        },
        "snapshotRetentionStartTime": {
          "shape": "Se"
        },
        "status": {},
        "totalBackupSizeInMegaBytes": {
          "type": "double"
        }
      }
    },
    "Sa": {
      "type": "list",
      "member": {}
    },
    "Se": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "Sm": {
      "type": "list",
      "member": {}
    },
    "So": {
      "type": "list",
      "member": {}
    },
    "Sr": {
      "type": "structure",
      "members": {
        "address": {},
        "endpointArn": {},
        "endpointCreateTime": {
          "shape": "Se"
        },
        "endpointName": {},
        "endpointStatus": {},
        "port": {
          "type": "integer"
        },
        "subnetIds": {
          "shape": "Sm"
        },
        "vpcEndpoint": {
          "shape": "Ss"
        },
        "vpcSecurityGroups": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "status": {},
              "vpcSecurityGroupId": {}
            }
          }
        },
        "workgroupName": {}
      }
    },
    "Ss": {
      "type": "structure",
      "members": {
        "networkInterfaces": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "availabilityZone": {},
              "networkInterfaceId": {},
              "privateIpAddress": {},
              "subnetId": {}
            }
          }
        },
        "vpcEndpointId": {},
        "vpcId": {}
      }
    },
    "Sy": {
      "type": "string",
      "sensitive": true
    },
    "Sz": {
      "type": "string",
      "sensitive": true
    },
    "S10": {
      "type": "list",
      "member": {}
    },
    "S12": {
      "type": "list",
      "member": {}
    },
    "S17": {
      "type": "structure",
      "members": {
        "adminPasswordSecretArn": {},
        "adminPasswordSecretKmsKeyId": {},
        "adminUsername": {
          "shape": "Sz"
        },
        "creationDate": {
          "shape": "Se"
        },
        "dbName": {},
        "defaultIamRoleArn": {},
        "iamRoles": {
          "shape": "S10"
        },
        "kmsKeyId": {},
        "logExports": {
          "shape": "S12"
        },
        "namespaceArn": {},
        "namespaceId": {},
        "namespaceName": {},
        "status": {}
      }
    },
    "S1g": {
      "type": "structure",
      "members": {
        "amount": {
          "type": "long"
        },
        "breachAction": {},
        "period": {},
        "resourceArn": {},
        "usageLimitArn": {},
        "usageLimitId": {},
        "usageType": {}
      }
    },
    "S1i": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "parameterKey": {},
          "parameterValue": {}
        }
      }
    },
    "S1m": {
      "type": "list",
      "member": {}
    },
    "S1p": {
      "type": "structure",
      "members": {
        "baseCapacity": {
          "type": "integer"
        },
        "configParameters": {
          "shape": "S1i"
        },
        "creationDate": {
          "shape": "Se"
        },
        "customDomainCertificateArn": {},
        "customDomainCertificateExpiryTime": {
          "shape": "Se"
        },
        "customDomainName": {},
        "endpoint": {
          "type": "structure",
          "members": {
            "address": {},
            "port": {
              "type": "integer"
            },
            "vpcEndpoints": {
              "type": "list",
              "member": {
                "shape": "Ss"
              }
            }
          }
        },
        "enhancedVpcRouting": {
          "type": "boolean"
        },
        "namespaceName": {},
        "patchVersion": {},
        "port": {
          "type": "integer"
        },
        "publiclyAccessible": {
          "type": "boolean"
        },
        "securityGroupIds": {
          "shape": "S1m"
        },
        "status": {},
        "subnetIds": {
          "shape": "Sm"
        },
        "workgroupArn": {},
        "workgroupId": {},
        "workgroupName": {},
        "workgroupVersion": {}
      }
    },
    "S2j": {
      "type": "structure",
      "members": {
        "namespaceArn": {},
        "namespaceName": {},
        "recoveryPointCreateTime": {
          "shape": "Se"
        },
        "recoveryPointId": {},
        "totalSizeInMegaBytes": {
          "type": "double"
        },
        "workgroupName": {}
      }
    },
    "S2m": {
      "type": "structure",
      "members": {
        "policy": {},
        "resourceArn": {}
      }
    },
    "S2r": {
      "type": "structure",
      "members": {
        "message": {},
        "namespaceName": {},
        "newTableName": {},
        "progressInMegaBytes": {
          "type": "long"
        },
        "requestTime": {
          "type": "timestamp"
        },
        "snapshotName": {},
        "sourceDatabaseName": {},
        "sourceSchemaName": {},
        "sourceTableName": {},
        "status": {},
        "tableRestoreRequestId": {},
        "targetDatabaseName": {},
        "targetSchemaName": {},
        "totalDataInMegaBytes": {
          "type": "long"
        },
        "workgroupName": {}
      }
    }
  }
}