{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-06-27",
    "endpointPrefix": "rekognition",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Rekognition",
    "serviceId": "Rekognition",
    "signatureVersion": "v4",
    "targetPrefix": "RekognitionService",
    "uid": "rekognition-2016-06-27"
  },
  "operations": {
    "CompareFaces": {
      "input": {
        "type": "structure",
        "required": [
          "SourceImage",
          "TargetImage"
        ],
        "members": {
          "SourceImage": {
            "shape": "S2"
          },
          "TargetImage": {
            "shape": "S2"
          },
          "SimilarityThreshold": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SourceImageFace": {
            "type": "structure",
            "members": {
              "BoundingBox": {
                "shape": "Sb"
              },
              "Confidence": {
                "shape": "S8"
              }
            }
          },
          "FaceMatches": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Similarity": {
                  "shape": "S8"
                },
                "Face": {
                  "shape": "Sf"
                }
              }
            }
          },
          "UnmatchedFaces": {
            "type": "list",
            "member": {
              "shape": "Sf"
            }
          },
          "SourceImageOrientationCorrection": {
            "shape": "Sn"
          },
          "TargetImageOrientationCorrection": {
            "shape": "Sn"
          }
        }
      }
    },
    "CreateCollection": {
      "input": {
        "type": "structure",
        "required": [
          "CollectionId"
        ],
        "members": {
          "CollectionId": {
            "shape": "Sp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StatusCode": {
            "shape": "Sr"
          },
          "CollectionArn": {},
          "FaceModelVersion": {}
        }
      }
    },
    "CreateStreamProcessor": {
      "input": {
        "type": "structure",
        "required": [
          "Input",
          "Output",
          "Name",
          "Settings",
          "RoleArn"
        ],
        "members": {
          "Input": {
            "shape": "Su"
          },
          "Output": {
            "shape": "Sx"
          },
          "Name": {
            "shape": "S10"
          },
          "Settings": {
            "shape": "S11"
          },
          "RoleArn": {
            "shape": "S13"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StreamProcessorArn": {
            "shape": "S15"
          }
        }
      }
    },
    "DeleteCollection": {
      "input": {
        "type": "structure",
        "required": [
          "CollectionId"
        ],
        "members": {
          "CollectionId": {
            "shape": "Sp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StatusCode": {
            "shape": "Sr"
          }
        }
      }
    },
    "DeleteFaces": {
      "input": {
        "type": "structure",
        "required": [
          "CollectionId",
          "FaceIds"
        ],
        "members": {
          "CollectionId": {
            "shape": "Sp"
          },
          "FaceIds": {
            "shape": "S19"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DeletedFaces": {
            "shape": "S19"
          }
        }
      }
    },
    "DeleteStreamProcessor": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S10"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeCollection": {
      "input": {
        "type": "structure",
        "required": [
          "CollectionId"
        ],
        "members": {
          "CollectionId": {
            "shape": "Sp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FaceCount": {
            "shape": "S1g"
          },
          "FaceModelVersion": {},
          "CollectionARN": {},
          "CreationTimestamp": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeStreamProcessor": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S10"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {
            "shape": "S10"
          },
          "StreamProcessorArn": {
            "shape": "S15"
          },
          "Status": {
            "shape": "S1k"
          },
          "StatusMessage": {},
          "CreationTimestamp": {
            "type": "timestamp"
          },
          "LastUpdateTimestamp": {
            "type": "timestamp"
          },
          "Input": {
            "shape": "Su"
          },
          "Output": {
            "shape": "Sx"
          },
          "RoleArn": {
            "shape": "S13"
          },
          "Settings": {
            "shape": "S11"
          }
        }
      }
    },
    "DetectFaces": {
      "input": {
        "type": "structure",
        "required": [
          "Image"
        ],
        "members": {
          "Image": {
            "shape": "S2"
          },
          "Attributes": {
            "shape": "S1m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FaceDetails": {
            "type": "list",
            "member": {
              "shape": "S1q"
            }
          },
          "OrientationCorrection": {
            "shape": "Sn"
          }
        }
      }
    },
    "DetectLabels": {
      "input": {
        "type": "structure",
        "required": [
          "Image"
        ],
        "members": {
          "Image": {
            "shape": "S2"
          },
          "MaxLabels": {
            "shape": "Sr"
          },
          "MinConfidence": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Labels": {
            "type": "list",
            "member": {
              "shape": "S28"
            }
          },
          "OrientationCorrection": {
            "shape": "Sn"
          }
        }
      }
    },
    "DetectModerationLabels": {
      "input": {
        "type": "structure",
        "required": [
          "Image"
        ],
        "members": {
          "Image": {
            "shape": "S2"
          },
          "MinConfidence": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ModerationLabels": {
            "type": "list",
            "member": {
              "shape": "S2c"
            }
          }
        }
      }
    },
    "DetectText": {
      "input": {
        "type": "structure",
        "required": [
          "Image"
        ],
        "members": {
          "Image": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TextDetections": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DetectedText": {},
                "Type": {
                  "type": "string",
                  "enum": [
                    "LINE",
                    "WORD"
                  ]
                },
                "Id": {
                  "shape": "Sr"
                },
                "ParentId": {
                  "shape": "Sr"
                },
                "Confidence": {
                  "shape": "S8"
                },
                "Geometry": {
                  "type": "structure",
                  "members": {
                    "BoundingBox": {
                      "shape": "Sb"
                    },
                    "Polygon": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "members": {
                          "X": {
                            "type": "float"
                          },
                          "Y": {
                            "type": "float"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetCelebrityInfo": {
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2m"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Urls": {
            "shape": "S2o"
          },
          "Name": {}
        }
      }
    },
    "GetCelebrityRecognition": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S2r"
          },
          "MaxResults": {
            "shape": "S2s"
          },
          "NextToken": {
            "shape": "S2t"
          },
          "SortBy": {
            "type": "string",
            "enum": [
              "ID",
              "TIMESTAMP"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobStatus": {
            "shape": "S2w"
          },
          "StatusMessage": {},
          "VideoMetadata": {
            "shape": "S2y"
          },
          "NextToken": {
            "shape": "S2t"
          },
          "Celebrities": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Timestamp": {
                  "type": "long"
                },
                "Celebrity": {
                  "type": "structure",
                  "members": {
                    "Urls": {
                      "shape": "S2o"
                    },
                    "Name": {},
                    "Id": {
                      "shape": "S2m"
                    },
                    "Confidence": {
                      "shape": "S8"
                    },
                    "BoundingBox": {
                      "shape": "Sb"
                    },
                    "Face": {
                      "shape": "S1q"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetContentModeration": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S2r"
          },
          "MaxResults": {
            "shape": "S2s"
          },
          "NextToken": {
            "shape": "S2t"
          },
          "SortBy": {
            "type": "string",
            "enum": [
              "NAME",
              "TIMESTAMP"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobStatus": {
            "shape": "S2w"
          },
          "StatusMessage": {},
          "VideoMetadata": {
            "shape": "S2y"
          },
          "ModerationLabels": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Timestamp": {
                  "type": "long"
                },
                "ModerationLabel": {
                  "shape": "S2c"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S2t"
          }
        }
      }
    },
    "GetFaceDetection": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S2r"
          },
          "MaxResults": {
            "shape": "S2s"
          },
          "NextToken": {
            "shape": "S2t"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobStatus": {
            "shape": "S2w"
          },
          "StatusMessage": {},
          "VideoMetadata": {
            "shape": "S2y"
          },
          "NextToken": {
            "shape": "S2t"
          },
          "Faces": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Timestamp": {
                  "type": "long"
                },
                "Face": {
                  "shape": "S1q"
                }
              }
            }
          }
        }
      }
    },
    "GetFaceSearch": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S2r"
          },
          "MaxResults": {
            "shape": "S2s"
          },
          "NextToken": {
            "shape": "S2t"
          },
          "SortBy": {
            "type": "string",
            "enum": [
              "INDEX",
              "TIMESTAMP"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobStatus": {
            "shape": "S2w"
          },
          "StatusMessage": {},
          "NextToken": {
            "shape": "S2t"
          },
          "VideoMetadata": {
            "shape": "S2y"
          },
          "Persons": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Timestamp": {
                  "type": "long"
                },
                "Person": {
                  "shape": "S3h"
                },
                "FaceMatches": {
                  "shape": "S3j"
                }
              }
            }
          }
        }
      }
    },
    "GetLabelDetection": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S2r"
          },
          "MaxResults": {
            "shape": "S2s"
          },
          "NextToken": {
            "shape": "S2t"
          },
          "SortBy": {
            "type": "string",
            "enum": [
              "NAME",
              "TIMESTAMP"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobStatus": {
            "shape": "S2w"
          },
          "StatusMessage": {},
          "VideoMetadata": {
            "shape": "S2y"
          },
          "NextToken": {
            "shape": "S2t"
          },
          "Labels": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Timestamp": {
                  "type": "long"
                },
                "Label": {
                  "shape": "S28"
                }
              }
            }
          }
        }
      }
    },
    "GetPersonTracking": {
      "input": {
        "type": "structure",
        "required": [
          "JobId"
        ],
        "members": {
          "JobId": {
            "shape": "S2r"
          },
          "MaxResults": {
            "shape": "S2s"
          },
          "NextToken": {
            "shape": "S2t"
          },
          "SortBy": {
            "type": "string",
            "enum": [
              "INDEX",
              "TIMESTAMP"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobStatus": {
            "shape": "S2w"
          },
          "StatusMessage": {},
          "VideoMetadata": {
            "shape": "S2y"
          },
          "NextToken": {
            "shape": "S2t"
          },
          "Persons": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Timestamp": {
                  "type": "long"
                },
                "Person": {
                  "shape": "S3h"
                }
              }
            }
          }
        }
      }
    },
    "IndexFaces": {
      "input": {
        "type": "structure",
        "required": [
          "CollectionId",
          "Image"
        ],
        "members": {
          "CollectionId": {
            "shape": "Sp"
          },
          "Image": {
            "shape": "S2"
          },
          "ExternalImageId": {
            "shape": "S3n"
          },
          "DetectionAttributes": {
            "shape": "S1m"
          },
          "MaxFaces": {
            "type": "integer",
            "min": 1
          },
          "QualityFilter": {
            "type": "string",
            "enum": [
              "NONE",
              "AUTO"
            ]
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FaceRecords": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Face": {
                  "shape": "S3l"
                },
                "FaceDetail": {
                  "shape": "S1q"
                }
              }
            }
          },
          "OrientationCorrection": {
            "shape": "Sn"
          },
          "FaceModelVersion": {},
          "UnindexedFaces": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Reasons": {
                  "type": "list",
                  "member": {
                    "type": "string",
                    "enum": [
                      "EXCEEDS_MAX_FACES",
                      "EXTREME_POSE",
                      "LOW_BRIGHTNESS",
                      "LOW_SHARPNESS",
                      "LOW_CONFIDENCE",
                      "SMALL_BOUNDING_BOX"
                    ]
                  }
                },
                "FaceDetail": {
                  "shape": "S1q"
                }
              }
            }
          }
        }
      }
    },
    "ListCollections": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S2t"
          },
          "MaxResults": {
            "shape": "S49"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CollectionIds": {
            "type": "list",
            "member": {
              "shape": "Sp"
            }
          },
          "NextToken": {
            "shape": "S2t"
          },
          "FaceModelVersions": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "ListFaces": {
      "input": {
        "type": "structure",
        "required": [
          "CollectionId"
        ],
        "members": {
          "CollectionId": {
            "shape": "Sp"
          },
          "NextToken": {
            "shape": "S2t"
          },
          "MaxResults": {
            "shape": "S49"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Faces": {
            "type": "list",
            "member": {
              "shape": "S3l"
            }
          },
          "NextToken": {},
          "FaceModelVersion": {}
        }
      }
    },
    "ListStreamProcessors": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S2t"
          },
          "MaxResults": {
            "shape": "S2s"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S2t"
          },
          "StreamProcessors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {
                  "shape": "S10"
                },
                "Status": {
                  "shape": "S1k"
                }
              }
            }
          }
        }
      }
    },
    "RecognizeCelebrities": {
      "input": {
        "type": "structure",
        "required": [
          "Image"
        ],
        "members": {
          "Image": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CelebrityFaces": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Urls": {
                  "shape": "S2o"
                },
                "Name": {},
                "Id": {
                  "shape": "S2m"
                },
                "Face": {
                  "shape": "Sf"
                },
                "MatchConfidence": {
                  "shape": "S8"
                }
              }
            }
          },
          "UnrecognizedFaces": {
            "type": "list",
            "member": {
              "shape": "Sf"
            }
          },
          "OrientationCorrection": {
            "shape": "Sn"
          }
        }
      }
    },
    "SearchFaces": {
      "input": {
        "type": "structure",
        "required": [
          "CollectionId",
          "FaceId"
        ],
        "members": {
          "CollectionId": {
            "shape": "Sp"
          },
          "FaceId": {
            "shape": "S1a"
          },
          "MaxFaces": {
            "shape": "S4q"
          },
          "FaceMatchThreshold": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SearchedFaceId": {
            "shape": "S1a"
          },
          "FaceMatches": {
            "shape": "S3j"
          },
          "FaceModelVersion": {}
        }
      }
    },
    "SearchFacesByImage": {
      "input": {
        "type": "structure",
        "required": [
          "CollectionId",
          "Image"
        ],
        "members": {
          "CollectionId": {
            "shape": "Sp"
          },
          "Image": {
            "shape": "S2"
          },
          "MaxFaces": {
            "shape": "S4q"
          },
          "FaceMatchThreshold": {
            "shape": "S8"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SearchedFaceBoundingBox": {
            "shape": "Sb"
          },
          "SearchedFaceConfidence": {
            "shape": "S8"
          },
          "FaceMatches": {
            "shape": "S3j"
          },
          "FaceModelVersion": {}
        }
      }
    },
    "StartCelebrityRecognition": {
      "input": {
        "type": "structure",
        "required": [
          "Video"
        ],
        "members": {
          "Video": {
            "shape": "S4v"
          },
          "ClientRequestToken": {
            "shape": "S4w"
          },
          "NotificationChannel": {
            "shape": "S4x"
          },
          "JobTag": {
            "shape": "S4z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S2r"
          }
        }
      },
      "idempotent": true
    },
    "StartContentModeration": {
      "input": {
        "type": "structure",
        "required": [
          "Video"
        ],
        "members": {
          "Video": {
            "shape": "S4v"
          },
          "MinConfidence": {
            "shape": "S8"
          },
          "ClientRequestToken": {
            "shape": "S4w"
          },
          "NotificationChannel": {
            "shape": "S4x"
          },
          "JobTag": {
            "shape": "S4z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S2r"
          }
        }
      },
      "idempotent": true
    },
    "StartFaceDetection": {
      "input": {
        "type": "structure",
        "required": [
          "Video"
        ],
        "members": {
          "Video": {
            "shape": "S4v"
          },
          "ClientRequestToken": {
            "shape": "S4w"
          },
          "NotificationChannel": {
            "shape": "S4x"
          },
          "FaceAttributes": {
            "type": "string",
            "enum": [
              "DEFAULT",
              "ALL"
            ]
          },
          "JobTag": {
            "shape": "S4z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S2r"
          }
        }
      },
      "idempotent": true
    },
    "StartFaceSearch": {
      "input": {
        "type": "structure",
        "required": [
          "Video",
          "CollectionId"
        ],
        "members": {
          "Video": {
            "shape": "S4v"
          },
          "ClientRequestToken": {
            "shape": "S4w"
          },
          "FaceMatchThreshold": {
            "shape": "S8"
          },
          "CollectionId": {
            "shape": "Sp"
          },
          "NotificationChannel": {
            "shape": "S4x"
          },
          "JobTag": {
            "shape": "S4z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S2r"
          }
        }
      },
      "idempotent": true
    },
    "StartLabelDetection": {
      "input": {
        "type": "structure",
        "required": [
          "Video"
        ],
        "members": {
          "Video": {
            "shape": "S4v"
          },
          "ClientRequestToken": {
            "shape": "S4w"
          },
          "MinConfidence": {
            "shape": "S8"
          },
          "NotificationChannel": {
            "shape": "S4x"
          },
          "JobTag": {
            "shape": "S4z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S2r"
          }
        }
      },
      "idempotent": true
    },
    "StartPersonTracking": {
      "input": {
        "type": "structure",
        "required": [
          "Video"
        ],
        "members": {
          "Video": {
            "shape": "S4v"
          },
          "ClientRequestToken": {
            "shape": "S4w"
          },
          "NotificationChannel": {
            "shape": "S4x"
          },
          "JobTag": {
            "shape": "S4z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {
            "shape": "S2r"
          }
        }
      },
      "idempotent": true
    },
    "StartStreamProcessor": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S10"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StopStreamProcessor": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "shape": "S10"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "structure",
      "members": {
        "Bytes": {
          "type": "blob",
          "max": 5242880,
          "min": 1
        },
        "S3Object": {
          "shape": "S4"
        }
      }
    },
    "S4": {
      "type": "structure",
      "members": {
        "Bucket": {
          "type": "string",
          "max": 255,
          "min": 3,
          "pattern": "[0-9A-Za-z\\.\\-_]*"
        },
        "Name": {
          "type": "string",
          "max": 1024,
          "min": 1
        },
        "Version": {
          "type": "string",
          "max": 1024,
          "min": 1
        }
      }
    },
    "S8": {
      "type": "float",
      "max": 100,
      "min": 0
    },
    "Sb": {
      "type": "structure",
      "members": {
        "Width": {
          "type": "float"
        },
        "Height": {
          "type": "float"
        },
        "Left": {
          "type": "float"
        },
        "Top": {
          "type": "float"
        }
      }
    },
    "Sf": {
      "type": "structure",
      "members": {
        "BoundingBox": {
          "shape": "Sb"
        },
        "Confidence": {
          "shape": "S8"
        },
        "Landmarks": {
          "shape": "Sg"
        },
        "Pose": {
          "shape": "Sj"
        },
        "Quality": {
          "shape": "Sl"
        }
      }
    },
    "Sg": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Type": {
            "type": "string",
            "enum": [
              "eyeLeft",
              "eyeRight",
              "nose",
              "mouthLeft",
              "mouthRight",
              "leftEyeBrowLeft",
              "leftEyeBrowRight",
              "leftEyeBrowUp",
              "rightEyeBrowLeft",
              "rightEyeBrowRight",
              "rightEyeBrowUp",
              "leftEyeLeft",
              "leftEyeRight",
              "leftEyeUp",
              "leftEyeDown",
              "rightEyeLeft",
              "rightEyeRight",
              "rightEyeUp",
              "rightEyeDown",
              "noseLeft",
              "noseRight",
              "mouthUp",
              "mouthDown",
              "leftPupil",
              "rightPupil"
            ]
          },
          "X": {
            "type": "float"
          },
          "Y": {
            "type": "float"
          }
        }
      }
    },
    "Sj": {
      "type": "structure",
      "members": {
        "Roll": {
          "shape": "Sk"
        },
        "Yaw": {
          "shape": "Sk"
        },
        "Pitch": {
          "shape": "Sk"
        }
      }
    },
    "Sk": {
      "type": "float",
      "max": 180,
      "min": -180
    },
    "Sl": {
      "type": "structure",
      "members": {
        "Brightness": {
          "type": "float"
        },
        "Sharpness": {
          "type": "float"
        }
      }
    },
    "Sn": {
      "type": "string",
      "enum": [
        "ROTATE_0",
        "ROTATE_90",
        "ROTATE_180",
        "ROTATE_270"
      ]
    },
    "Sp": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.\\-]+"
    },
    "Sr": {
      "type": "integer",
      "min": 0
    },
    "Su": {
      "type": "structure",
      "members": {
        "KinesisVideoStream": {
          "type": "structure",
          "members": {
            "Arn": {
              "type": "string",
              "pattern": "(^arn:([a-z\\d-]+):kinesisvideo:([a-z\\d-]+):\\d{12}:.+$)"
            }
          }
        }
      }
    },
    "Sx": {
      "type": "structure",
      "members": {
        "KinesisDataStream": {
          "type": "structure",
          "members": {
            "Arn": {
              "type": "string",
              "pattern": "(^arn:([a-z\\d-]+):kinesis:([a-z\\d-]+):\\d{12}:.+$)"
            }
          }
        }
      }
    },
    "S10": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.\\-]+"
    },
    "S11": {
      "type": "structure",
      "members": {
        "FaceSearch": {
          "type": "structure",
          "members": {
            "CollectionId": {
              "shape": "Sp"
            },
            "FaceMatchThreshold": {
              "shape": "S8"
            }
          }
        }
      }
    },
    "S13": {
      "type": "string",
      "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+"
    },
    "S15": {
      "type": "string",
      "pattern": "(^arn:[a-z\\d-]+:rekognition:[a-z\\d-]+:\\d{12}:streamprocessor\\/.+$)"
    },
    "S19": {
      "type": "list",
      "member": {
        "shape": "S1a"
      },
      "max": 4096,
      "min": 1
    },
    "S1a": {
      "type": "string",
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "S1g": {
      "type": "long",
      "min": 0
    },
    "S1k": {
      "type": "string",
      "enum": [
        "STOPPED",
        "STARTING",
        "RUNNING",
        "FAILED",
        "STOPPING"
      ]
    },
    "S1m": {
      "type": "list",
      "member": {
        "type": "string",
        "enum": [
          "DEFAULT",
          "ALL"
        ]
      }
    },
    "S1q": {
      "type": "structure",
      "members": {
        "BoundingBox": {
          "shape": "Sb"
        },
        "AgeRange": {
          "type": "structure",
          "members": {
            "Low": {
              "shape": "Sr"
            },
            "High": {
              "shape": "Sr"
            }
          }
        },
        "Smile": {
          "type": "structure",
          "members": {
            "Value": {
              "type": "boolean"
            },
            "Confidence": {
              "shape": "S8"
            }
          }
        },
        "Eyeglasses": {
          "type": "structure",
          "members": {
            "Value": {
              "type": "boolean"
            },
            "Confidence": {
              "shape": "S8"
            }
          }
        },
        "Sunglasses": {
          "type": "structure",
          "members": {
            "Value": {
              "type": "boolean"
            },
            "Confidence": {
              "shape": "S8"
            }
          }
        },
        "Gender": {
          "type": "structure",
          "members": {
            "Value": {
              "type": "string",
              "enum": [
                "Male",
                "Female"
              ]
            },
            "Confidence": {
              "shape": "S8"
            }
          }
        },
        "Beard": {
          "type": "structure",
          "members": {
            "Value": {
              "type": "boolean"
            },
            "Confidence": {
              "shape": "S8"
            }
          }
        },
        "Mustache": {
          "type": "structure",
          "members": {
            "Value": {
              "type": "boolean"
            },
            "Confidence": {
              "shape": "S8"
            }
          }
        },
        "EyesOpen": {
          "type": "structure",
          "members": {
            "Value": {
              "type": "boolean"
            },
            "Confidence": {
              "shape": "S8"
            }
          }
        },
        "MouthOpen": {
          "type": "structure",
          "members": {
            "Value": {
              "type": "boolean"
            },
            "Confidence": {
              "shape": "S8"
            }
          }
        },
        "Emotions": {
          "type": "list",
          "member": {
            "type": "structure",
            "members": {
              "Type": {
                "type": "string",
                "enum": [
                  "HAPPY",
                  "SAD",
                  "ANGRY",
                  "CONFUSED",
                  "DISGUSTED",
                  "SURPRISED",
                  "CALM",
                  "UNKNOWN"
                ]
              },
              "Confidence": {
                "shape": "S8"
              }
            }
          }
        },
        "Landmarks": {
          "shape": "Sg"
        },
        "Pose": {
          "shape": "Sj"
        },
        "Quality": {
          "shape": "Sl"
        },
        "Confidence": {
          "shape": "S8"
        }
      }
    },
    "S28": {
      "type": "structure",
      "members": {
        "Name": {},
        "Confidence": {
          "shape": "S8"
        }
      }
    },
    "S2c": {
      "type": "structure",
      "members": {
        "Confidence": {
          "shape": "S8"
        },
        "Name": {},
        "ParentName": {}
      }
    },
    "S2m": {
      "type": "string",
      "pattern": "[0-9A-Za-z]*"
    },
    "S2o": {
      "type": "list",
      "member": {}
    },
    "S2r": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-_]+$"
    },
    "S2s": {
      "type": "integer",
      "min": 1
    },
    "S2t": {
      "type": "string",
      "max": 255
    },
    "S2w": {
      "type": "string",
      "enum": [
        "IN_PROGRESS",
        "SUCCEEDED",
        "FAILED"
      ]
    },
    "S2y": {
      "type": "structure",
      "members": {
        "Codec": {},
        "DurationMillis": {
          "shape": "S1g"
        },
        "Format": {},
        "FrameRate": {
          "type": "float"
        },
        "FrameHeight": {
          "shape": "S1g"
        },
        "FrameWidth": {
          "shape": "S1g"
        }
      }
    },
    "S3h": {
      "type": "structure",
      "members": {
        "Index": {
          "type": "long"
        },
        "BoundingBox": {
          "shape": "Sb"
        },
        "Face": {
          "shape": "S1q"
        }
      }
    },
    "S3j": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Similarity": {
            "shape": "S8"
          },
          "Face": {
            "shape": "S3l"
          }
        }
      }
    },
    "S3l": {
      "type": "structure",
      "members": {
        "FaceId": {
          "shape": "S1a"
        },
        "BoundingBox": {
          "shape": "Sb"
        },
        "ImageId": {
          "type": "string",
          "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
        },
        "ExternalImageId": {
          "shape": "S3n"
        },
        "Confidence": {
          "shape": "S8"
        }
      }
    },
    "S3n": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.\\-:]+"
    },
    "S49": {
      "type": "integer",
      "max": 4096,
      "min": 0
    },
    "S4q": {
      "type": "integer",
      "max": 4096,
      "min": 1
    },
    "S4v": {
      "type": "structure",
      "members": {
        "S3Object": {
          "shape": "S4"
        }
      }
    },
    "S4w": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-_]+$"
    },
    "S4x": {
      "type": "structure",
      "required": [
        "SNSTopicArn",
        "RoleArn"
      ],
      "members": {
        "SNSTopicArn": {
          "type": "string",
          "pattern": "(^arn:aws:sns:.*:\\w{12}:.+$)"
        },
        "RoleArn": {
          "shape": "S13"
        }
      }
    },
    "S4z": {
      "type": "string",
      "max": 256,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.\\-:]+"
    }
  }
}