{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2020-04-30",
    "endpointPrefix": "resiliencehub",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Resilience Hub",
    "serviceId": "resiliencehub",
    "signatureVersion": "v4",
    "signingName": "resiliencehub",
    "uid": "resiliencehub-2020-04-30"
  },
  "operations": {
    "AddDraftAppVersionResourceMappings": {
      "http": {
        "requestUri": "/add-draft-app-version-resource-mappings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn",
          "resourceMappings"
        ],
        "members": {
          "appArn": {},
          "resourceMappings": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "appArn",
          "appVersion",
          "resourceMappings"
        ],
        "members": {
          "appArn": {},
          "appVersion": {},
          "resourceMappings": {
            "shape": "S3"
          }
        }
      }
    },
    "CreateApp": {
      "http": {
        "requestUri": "/create-app",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "assessmentSchedule": {},
          "clientToken": {
            "idempotencyToken": true
          },
          "description": {},
          "name": {},
          "policyArn": {},
          "tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "app"
        ],
        "members": {
          "app": {
            "shape": "Sm"
          }
        }
      }
    },
    "CreateRecommendationTemplate": {
      "http": {
        "requestUri": "/create-recommendation-template",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "assessmentArn",
          "name"
        ],
        "members": {
          "assessmentArn": {},
          "bucketName": {},
          "clientToken": {
            "idempotencyToken": true
          },
          "format": {},
          "name": {},
          "recommendationIds": {
            "shape": "St"
          },
          "recommendationTypes": {
            "shape": "Sv"
          },
          "tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "recommendationTemplate": {
            "shape": "Sy"
          }
        }
      }
    },
    "CreateResiliencyPolicy": {
      "http": {
        "requestUri": "/create-resiliency-policy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "policy",
          "policyName",
          "tier"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "dataLocationConstraint": {},
          "policy": {
            "shape": "S15"
          },
          "policyDescription": {},
          "policyName": {},
          "tags": {
            "shape": "Si"
          },
          "tier": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "policy"
        ],
        "members": {
          "policy": {
            "shape": "S1b"
          }
        }
      }
    },
    "DeleteApp": {
      "http": {
        "requestUri": "/delete-app",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn"
        ],
        "members": {
          "appArn": {},
          "clientToken": {
            "idempotencyToken": true
          },
          "forceDelete": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "appArn"
        ],
        "members": {
          "appArn": {}
        }
      }
    },
    "DeleteAppAssessment": {
      "http": {
        "requestUri": "/delete-app-assessment",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "assessmentArn"
        ],
        "members": {
          "assessmentArn": {},
          "clientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessmentArn",
          "assessmentStatus"
        ],
        "members": {
          "assessmentArn": {},
          "assessmentStatus": {}
        }
      }
    },
    "DeleteRecommendationTemplate": {
      "http": {
        "requestUri": "/delete-recommendation-template",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "recommendationTemplateArn"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "recommendationTemplateArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "recommendationTemplateArn",
          "status"
        ],
        "members": {
          "recommendationTemplateArn": {},
          "status": {}
        }
      }
    },
    "DeleteResiliencyPolicy": {
      "http": {
        "requestUri": "/delete-resiliency-policy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "policyArn"
        ],
        "members": {
          "clientToken": {
            "idempotencyToken": true
          },
          "policyArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "policyArn"
        ],
        "members": {
          "policyArn": {}
        }
      }
    },
    "DescribeApp": {
      "http": {
        "requestUri": "/describe-app",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn"
        ],
        "members": {
          "appArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "app"
        ],
        "members": {
          "app": {
            "shape": "Sm"
          }
        }
      }
    },
    "DescribeAppAssessment": {
      "http": {
        "requestUri": "/describe-app-assessment",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "assessmentArn"
        ],
        "members": {
          "assessmentArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessment"
        ],
        "members": {
          "assessment": {
            "shape": "S1q"
          }
        }
      }
    },
    "DescribeAppVersionResourcesResolutionStatus": {
      "http": {
        "requestUri": "/describe-app-version-resources-resolution-status",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn",
          "appVersion"
        ],
        "members": {
          "appArn": {},
          "appVersion": {},
          "resolutionId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "appArn",
          "appVersion",
          "resolutionId",
          "status"
        ],
        "members": {
          "appArn": {},
          "appVersion": {},
          "errorMessage": {},
          "resolutionId": {},
          "status": {}
        }
      }
    },
    "DescribeAppVersionTemplate": {
      "http": {
        "requestUri": "/describe-app-version-template",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn",
          "appVersion"
        ],
        "members": {
          "appArn": {},
          "appVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "appArn",
          "appTemplateBody",
          "appVersion"
        ],
        "members": {
          "appArn": {},
          "appTemplateBody": {},
          "appVersion": {}
        }
      }
    },
    "DescribeDraftAppVersionResourcesImportStatus": {
      "http": {
        "requestUri": "/describe-draft-app-version-resources-import-status",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn"
        ],
        "members": {
          "appArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "appArn",
          "appVersion",
          "status",
          "statusChangeTime"
        ],
        "members": {
          "appArn": {},
          "appVersion": {},
          "errorMessage": {},
          "status": {},
          "statusChangeTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeResiliencyPolicy": {
      "http": {
        "requestUri": "/describe-resiliency-policy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "policyArn"
        ],
        "members": {
          "policyArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "policy"
        ],
        "members": {
          "policy": {
            "shape": "S1b"
          }
        }
      }
    },
    "ImportResourcesToDraftAppVersion": {
      "http": {
        "requestUri": "/import-resources-to-draft-app-version",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn"
        ],
        "members": {
          "appArn": {},
          "sourceArns": {
            "shape": "S2g"
          },
          "terraformSources": {
            "shape": "S2h"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "appArn",
          "appVersion",
          "status"
        ],
        "members": {
          "appArn": {},
          "appVersion": {},
          "sourceArns": {
            "shape": "S2g"
          },
          "status": {},
          "terraformSources": {
            "shape": "S2h"
          }
        }
      }
    },
    "ListAlarmRecommendations": {
      "http": {
        "requestUri": "/list-alarm-recommendations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "assessmentArn"
        ],
        "members": {
          "assessmentArn": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "alarmRecommendations"
        ],
        "members": {
          "alarmRecommendations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "name",
                "recommendationId",
                "referenceId",
                "type"
              ],
              "members": {
                "appComponentName": {},
                "description": {},
                "items": {
                  "shape": "S2s"
                },
                "name": {},
                "prerequisite": {},
                "recommendationId": {},
                "referenceId": {},
                "type": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListAppAssessments": {
      "http": {
        "method": "GET",
        "requestUri": "/list-app-assessments",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "appArn": {
            "location": "querystring",
            "locationName": "appArn"
          },
          "assessmentName": {
            "location": "querystring",
            "locationName": "assessmentName"
          },
          "assessmentStatus": {
            "location": "querystring",
            "locationName": "assessmentStatus",
            "type": "list",
            "member": {}
          },
          "complianceStatus": {
            "location": "querystring",
            "locationName": "complianceStatus"
          },
          "invoker": {
            "location": "querystring",
            "locationName": "invoker"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "reverseOrder": {
            "location": "querystring",
            "locationName": "reverseOrder",
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessmentSummaries"
        ],
        "members": {
          "assessmentSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "assessmentArn",
                "assessmentStatus"
              ],
              "members": {
                "appArn": {},
                "appVersion": {},
                "assessmentArn": {},
                "assessmentName": {},
                "assessmentStatus": {},
                "complianceStatus": {},
                "cost": {
                  "shape": "S1u"
                },
                "endTime": {
                  "type": "timestamp"
                },
                "invoker": {},
                "message": {},
                "resiliencyScore": {
                  "type": "double"
                },
                "startTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListAppComponentCompliances": {
      "http": {
        "requestUri": "/list-app-component-compliances",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "assessmentArn"
        ],
        "members": {
          "assessmentArn": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "componentCompliances"
        ],
        "members": {
          "componentCompliances": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "appComponentName": {},
                "compliance": {
                  "shape": "S1r"
                },
                "cost": {
                  "shape": "S1u"
                },
                "message": {},
                "resiliencyScore": {
                  "shape": "S1y"
                },
                "status": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListAppComponentRecommendations": {
      "http": {
        "requestUri": "/list-app-component-recommendations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "assessmentArn"
        ],
        "members": {
          "assessmentArn": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "componentRecommendations"
        ],
        "members": {
          "componentRecommendations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "appComponentName",
                "configRecommendations",
                "recommendationStatus"
              ],
              "members": {
                "appComponentName": {},
                "configRecommendations": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "name",
                      "optimizationType",
                      "referenceId"
                    ],
                    "members": {
                      "appComponentName": {},
                      "compliance": {
                        "shape": "S1r"
                      },
                      "cost": {
                        "shape": "S1u"
                      },
                      "description": {},
                      "haArchitecture": {},
                      "name": {},
                      "optimizationType": {},
                      "recommendationCompliance": {
                        "type": "map",
                        "key": {},
                        "value": {
                          "type": "structure",
                          "required": [
                            "expectedComplianceStatus"
                          ],
                          "members": {
                            "expectedComplianceStatus": {},
                            "expectedRpoDescription": {},
                            "expectedRpoInSecs": {
                              "type": "integer"
                            },
                            "expectedRtoDescription": {},
                            "expectedRtoInSecs": {
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "referenceId": {},
                      "suggestedChanges": {
                        "type": "list",
                        "member": {}
                      }
                    }
                  }
                },
                "recommendationStatus": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListAppVersionResourceMappings": {
      "http": {
        "requestUri": "/list-app-version-resource-mappings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn",
          "appVersion"
        ],
        "members": {
          "appArn": {},
          "appVersion": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "resourceMappings"
        ],
        "members": {
          "nextToken": {},
          "resourceMappings": {
            "shape": "S3"
          }
        }
      }
    },
    "ListAppVersionResources": {
      "http": {
        "requestUri": "/list-app-version-resources",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn",
          "appVersion"
        ],
        "members": {
          "appArn": {},
          "appVersion": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "resolutionId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "physicalResources",
          "resolutionId"
        ],
        "members": {
          "nextToken": {},
          "physicalResources": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "logicalResourceId",
                "physicalResourceId",
                "resourceType"
              ],
              "members": {
                "appComponents": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "name",
                      "type"
                    ],
                    "members": {
                      "name": {},
                      "type": {}
                    }
                  }
                },
                "logicalResourceId": {
                  "shape": "S3p"
                },
                "physicalResourceId": {
                  "shape": "S8"
                },
                "resourceName": {},
                "resourceType": {}
              }
            }
          },
          "resolutionId": {}
        }
      }
    },
    "ListAppVersions": {
      "http": {
        "requestUri": "/list-app-versions",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn"
        ],
        "members": {
          "appArn": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "appVersions"
        ],
        "members": {
          "appVersions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "appVersion"
              ],
              "members": {
                "appVersion": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListApps": {
      "http": {
        "method": "GET",
        "requestUri": "/list-apps",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "appArn": {
            "location": "querystring",
            "locationName": "appArn"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "name": {
            "location": "querystring",
            "locationName": "name"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "appSummaries"
        ],
        "members": {
          "appSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "appArn",
                "creationTime",
                "name"
              ],
              "members": {
                "appArn": {},
                "assessmentSchedule": {},
                "complianceStatus": {},
                "creationTime": {
                  "type": "timestamp"
                },
                "description": {},
                "name": {},
                "resiliencyScore": {
                  "type": "double"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListRecommendationTemplates": {
      "http": {
        "method": "GET",
        "requestUri": "/list-recommendation-templates",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "assessmentArn"
        ],
        "members": {
          "assessmentArn": {
            "location": "querystring",
            "locationName": "assessmentArn"
          },
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "name": {
            "location": "querystring",
            "locationName": "name"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "recommendationTemplateArn": {
            "location": "querystring",
            "locationName": "recommendationTemplateArn"
          },
          "reverseOrder": {
            "location": "querystring",
            "locationName": "reverseOrder",
            "type": "boolean"
          },
          "status": {
            "location": "querystring",
            "locationName": "status",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "recommendationTemplates": {
            "type": "list",
            "member": {
              "shape": "Sy"
            }
          }
        }
      }
    },
    "ListResiliencyPolicies": {
      "http": {
        "method": "GET",
        "requestUri": "/list-resiliency-policies",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "policyName": {
            "location": "querystring",
            "locationName": "policyName"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "resiliencyPolicies"
        ],
        "members": {
          "nextToken": {},
          "resiliencyPolicies": {
            "shape": "S44"
          }
        }
      }
    },
    "ListSopRecommendations": {
      "http": {
        "requestUri": "/list-sop-recommendations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "assessmentArn"
        ],
        "members": {
          "assessmentArn": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "sopRecommendations"
        ],
        "members": {
          "nextToken": {},
          "sopRecommendations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "recommendationId",
                "referenceId",
                "serviceType"
              ],
              "members": {
                "appComponentName": {},
                "description": {},
                "items": {
                  "shape": "S2s"
                },
                "name": {},
                "prerequisite": {},
                "recommendationId": {},
                "referenceId": {},
                "serviceType": {}
              }
            }
          }
        }
      }
    },
    "ListSuggestedResiliencyPolicies": {
      "http": {
        "method": "GET",
        "requestUri": "/list-suggested-resiliency-policies",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "maxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "nextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "resiliencyPolicies"
        ],
        "members": {
          "nextToken": {},
          "resiliencyPolicies": {
            "shape": "S44"
          }
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "Si"
          }
        }
      }
    },
    "ListTestRecommendations": {
      "http": {
        "requestUri": "/list-test-recommendations",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "assessmentArn"
        ],
        "members": {
          "assessmentArn": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "testRecommendations"
        ],
        "members": {
          "nextToken": {},
          "testRecommendations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "referenceId"
              ],
              "members": {
                "appComponentName": {},
                "dependsOnAlarms": {
                  "type": "list",
                  "member": {}
                },
                "description": {},
                "intent": {},
                "items": {
                  "shape": "S2s"
                },
                "name": {},
                "prerequisite": {},
                "recommendationId": {},
                "referenceId": {},
                "risk": {},
                "type": {}
              }
            }
          }
        }
      }
    },
    "ListUnsupportedAppVersionResources": {
      "http": {
        "requestUri": "/list-unsupported-app-version-resources",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn",
          "appVersion"
        ],
        "members": {
          "appArn": {},
          "appVersion": {},
          "maxResults": {
            "type": "integer"
          },
          "nextToken": {},
          "resolutionId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "resolutionId",
          "unsupportedResources"
        ],
        "members": {
          "nextToken": {},
          "resolutionId": {},
          "unsupportedResources": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "logicalResourceId",
                "physicalResourceId",
                "resourceType"
              ],
              "members": {
                "logicalResourceId": {
                  "shape": "S3p"
                },
                "physicalResourceId": {
                  "shape": "S8"
                },
                "resourceType": {}
              }
            }
          }
        }
      }
    },
    "PublishAppVersion": {
      "http": {
        "requestUri": "/publish-app-version",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn"
        ],
        "members": {
          "appArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "appArn"
        ],
        "members": {
          "appArn": {},
          "appVersion": {}
        }
      }
    },
    "PutDraftAppVersionTemplate": {
      "http": {
        "requestUri": "/put-draft-app-version-template",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn",
          "appTemplateBody"
        ],
        "members": {
          "appArn": {},
          "appTemplateBody": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "appArn": {},
          "appVersion": {}
        }
      }
    },
    "RemoveDraftAppVersionResourceMappings": {
      "http": {
        "requestUri": "/remove-draft-app-version-resource-mappings",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn"
        ],
        "members": {
          "appArn": {},
          "appRegistryAppNames": {
            "shape": "S4v"
          },
          "logicalStackNames": {
            "shape": "S4w"
          },
          "resourceGroupNames": {
            "shape": "S4v"
          },
          "resourceNames": {
            "shape": "S4v"
          },
          "terraformSourceNames": {
            "shape": "S4w"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "appArn": {},
          "appVersion": {}
        }
      }
    },
    "ResolveAppVersionResources": {
      "http": {
        "requestUri": "/resolve-app-version-resources",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn",
          "appVersion"
        ],
        "members": {
          "appArn": {},
          "appVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "appArn",
          "appVersion",
          "resolutionId",
          "status"
        ],
        "members": {
          "appArn": {},
          "appVersion": {},
          "resolutionId": {},
          "status": {}
        }
      }
    },
    "StartAppAssessment": {
      "http": {
        "requestUri": "/start-app-assessment",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn",
          "appVersion",
          "assessmentName"
        ],
        "members": {
          "appArn": {},
          "appVersion": {},
          "assessmentName": {},
          "clientToken": {
            "idempotencyToken": true
          },
          "tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "assessment"
        ],
        "members": {
          "assessment": {
            "shape": "S1q"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "Si"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {},
            "sensitive": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateApp": {
      "http": {
        "requestUri": "/update-app",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "appArn"
        ],
        "members": {
          "appArn": {},
          "assessmentSchedule": {},
          "clearResiliencyPolicyArn": {
            "type": "boolean"
          },
          "description": {},
          "policyArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "app"
        ],
        "members": {
          "app": {
            "shape": "Sm"
          }
        }
      }
    },
    "UpdateResiliencyPolicy": {
      "http": {
        "requestUri": "/update-resiliency-policy",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "policyArn"
        ],
        "members": {
          "dataLocationConstraint": {},
          "policy": {
            "shape": "S15"
          },
          "policyArn": {},
          "policyDescription": {},
          "policyName": {},
          "tier": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "policy"
        ],
        "members": {
          "policy": {
            "shape": "S1b"
          }
        }
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "mappingType",
          "physicalResourceId"
        ],
        "members": {
          "appRegistryAppName": {},
          "logicalStackName": {},
          "mappingType": {},
          "physicalResourceId": {
            "shape": "S8"
          },
          "resourceGroupName": {},
          "resourceName": {},
          "terraformSourceName": {}
        }
      }
    },
    "S8": {
      "type": "structure",
      "required": [
        "identifier",
        "type"
      ],
      "members": {
        "awsAccountId": {},
        "awsRegion": {},
        "identifier": {},
        "type": {}
      }
    },
    "Si": {
      "type": "map",
      "key": {},
      "value": {},
      "sensitive": true
    },
    "Sm": {
      "type": "structure",
      "required": [
        "appArn",
        "creationTime",
        "name"
      ],
      "members": {
        "appArn": {},
        "assessmentSchedule": {},
        "complianceStatus": {},
        "creationTime": {
          "type": "timestamp"
        },
        "description": {},
        "lastAppComplianceEvaluationTime": {
          "type": "timestamp"
        },
        "lastResiliencyScoreEvaluationTime": {
          "type": "timestamp"
        },
        "name": {},
        "policyArn": {},
        "resiliencyScore": {
          "type": "double"
        },
        "status": {},
        "tags": {
          "shape": "Si"
        }
      }
    },
    "St": {
      "type": "list",
      "member": {}
    },
    "Sv": {
      "type": "list",
      "member": {}
    },
    "Sy": {
      "type": "structure",
      "required": [
        "assessmentArn",
        "format",
        "name",
        "recommendationTemplateArn",
        "recommendationTypes",
        "status"
      ],
      "members": {
        "appArn": {},
        "assessmentArn": {},
        "endTime": {
          "type": "timestamp"
        },
        "format": {},
        "message": {},
        "name": {},
        "needsReplacements": {
          "type": "boolean"
        },
        "recommendationIds": {
          "shape": "St"
        },
        "recommendationTemplateArn": {},
        "recommendationTypes": {
          "shape": "Sv"
        },
        "startTime": {
          "type": "timestamp"
        },
        "status": {},
        "tags": {
          "shape": "Si"
        },
        "templatesLocation": {
          "type": "structure",
          "members": {
            "bucket": {},
            "prefix": {}
          }
        }
      }
    },
    "S15": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "required": [
          "rpoInSecs",
          "rtoInSecs"
        ],
        "members": {
          "rpoInSecs": {
            "type": "integer"
          },
          "rtoInSecs": {
            "type": "integer"
          }
        }
      }
    },
    "S1b": {
      "type": "structure",
      "members": {
        "creationTime": {
          "type": "timestamp"
        },
        "dataLocationConstraint": {},
        "estimatedCostTier": {},
        "policy": {
          "shape": "S15"
        },
        "policyArn": {},
        "policyDescription": {},
        "policyName": {},
        "tags": {
          "shape": "Si"
        },
        "tier": {}
      }
    },
    "S1q": {
      "type": "structure",
      "required": [
        "assessmentArn",
        "assessmentStatus",
        "invoker"
      ],
      "members": {
        "appArn": {},
        "appVersion": {},
        "assessmentArn": {},
        "assessmentName": {},
        "assessmentStatus": {},
        "compliance": {
          "shape": "S1r"
        },
        "complianceStatus": {},
        "cost": {
          "shape": "S1u"
        },
        "endTime": {
          "type": "timestamp"
        },
        "invoker": {},
        "message": {},
        "policy": {
          "shape": "S1b"
        },
        "resiliencyScore": {
          "shape": "S1y"
        },
        "resourceErrorsDetails": {
          "type": "structure",
          "members": {
            "hasMoreErrors": {
              "type": "boolean"
            },
            "resourceErrors": {
              "type": "list",
              "member": {
                "type": "structure",
                "members": {
                  "logicalResourceId": {},
                  "physicalResourceId": {},
                  "reason": {}
                }
              }
            }
          }
        },
        "startTime": {
          "type": "timestamp"
        },
        "tags": {
          "shape": "Si"
        }
      }
    },
    "S1r": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "required": [
          "complianceStatus"
        ],
        "members": {
          "achievableRpoInSecs": {
            "type": "integer"
          },
          "achievableRtoInSecs": {
            "type": "integer"
          },
          "complianceStatus": {},
          "currentRpoInSecs": {
            "type": "integer"
          },
          "currentRtoInSecs": {
            "type": "integer"
          },
          "message": {},
          "rpoDescription": {},
          "rpoReferenceId": {},
          "rtoDescription": {},
          "rtoReferenceId": {}
        }
      }
    },
    "S1u": {
      "type": "structure",
      "required": [
        "amount",
        "currency",
        "frequency"
      ],
      "members": {
        "amount": {
          "type": "double"
        },
        "currency": {},
        "frequency": {}
      }
    },
    "S1y": {
      "type": "structure",
      "required": [
        "disruptionScore",
        "score"
      ],
      "members": {
        "disruptionScore": {
          "type": "map",
          "key": {},
          "value": {
            "type": "double"
          }
        },
        "score": {
          "type": "double"
        }
      }
    },
    "S2g": {
      "type": "list",
      "member": {}
    },
    "S2h": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "s3StateFileUrl"
        ],
        "members": {
          "s3StateFileUrl": {}
        }
      }
    },
    "S2s": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "alreadyImplemented": {
            "type": "boolean"
          },
          "resourceId": {},
          "targetAccountId": {},
          "targetRegion": {}
        }
      }
    },
    "S3p": {
      "type": "structure",
      "required": [
        "identifier"
      ],
      "members": {
        "identifier": {},
        "logicalStackName": {},
        "resourceGroupName": {},
        "terraformSourceName": {}
      }
    },
    "S44": {
      "type": "list",
      "member": {
        "shape": "S1b"
      }
    },
    "S4v": {
      "type": "list",
      "member": {}
    },
    "S4w": {
      "type": "list",
      "member": {}
    }
  }
}