{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-01-26",
    "endpointPrefix": "tagging",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Resource Groups Tagging API",
    "serviceId": "Resource Groups Tagging API",
    "signatureVersion": "v4",
    "targetPrefix": "ResourceGroupsTaggingAPI_20170126",
    "uid": "resourcegroupstaggingapi-2017-01-26"
  },
  "operations": {
    "DeleteTagPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "TargetId"
        ],
        "members": {
          "TargetId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeReportCreation": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {
          "Status": {},
          "S3Location": {},
          "ErrorMessage": {}
        }
      }
    },
    "DisableTagPolicies": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableTagPolicies": {
      "input": {
        "type": "structure",
        "required": [
          "RootId"
        ],
        "members": {
          "RootId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetComplianceSummary": {
      "input": {
        "type": "structure",
        "members": {
          "TargetIdFilters": {
            "type": "list",
            "member": {}
          },
          "RegionFilters": {
            "type": "list",
            "member": {}
          },
          "ResourceTypeFilters": {
            "shape": "Si"
          },
          "TagKeyFilters": {
            "type": "list",
            "member": {}
          },
          "GroupBy": {
            "type": "list",
            "member": {}
          },
          "MaxResults": {
            "type": "integer"
          },
          "PaginationToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "LastUpdated": {
                  "shape": "St"
                },
                "TargetId": {},
                "Region": {},
                "ResourceType": {},
                "NonCompliantResources": {
                  "type": "long"
                }
              }
            }
          },
          "PaginationToken": {}
        }
      }
    },
    "GetEffectiveTagPolicy": {
      "input": {
        "type": "structure",
        "members": {
          "TargetId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {},
          "LastUpdated": {
            "shape": "St"
          }
        }
      }
    },
    "GetResources": {
      "input": {
        "type": "structure",
        "members": {
          "PaginationToken": {},
          "TagFilters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Key": {},
                "Values": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "ResourcesPerPage": {
            "type": "integer"
          },
          "TagsPerPage": {
            "type": "integer"
          },
          "ResourceTypeFilters": {
            "shape": "Si"
          },
          "IncludeComplianceDetails": {
            "type": "boolean"
          },
          "ExcludeCompliantResources": {
            "type": "boolean"
          },
          "Policy": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PaginationToken": {},
          "ResourceTagMappingList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ResourceARN": {},
                "Tags": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "required": [
                      "Key",
                      "Value"
                    ],
                    "members": {
                      "Key": {},
                      "Value": {}
                    }
                  }
                },
                "ComplianceDetails": {
                  "type": "structure",
                  "members": {
                    "MissingKeys": {
                      "shape": "S1e"
                    },
                    "InvalidKeys": {
                      "shape": "S1e"
                    },
                    "InvalidValues": {
                      "shape": "S1e"
                    },
                    "ComplianceStatus": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetTagKeys": {
      "input": {
        "type": "structure",
        "members": {
          "PaginationToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PaginationToken": {},
          "TagKeys": {
            "shape": "S1e"
          }
        }
      }
    },
    "GetTagPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "TargetId"
        ],
        "members": {
          "TargetId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {},
          "LastUpdated": {
            "shape": "St"
          }
        }
      }
    },
    "GetTagValues": {
      "input": {
        "type": "structure",
        "required": [
          "Key"
        ],
        "members": {
          "PaginationToken": {},
          "Key": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PaginationToken": {},
          "TagValues": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "PutTagPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "TargetId",
          "Policy"
        ],
        "members": {
          "TargetId": {},
          "Policy": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartReportCreation": {
      "input": {
        "type": "structure",
        "required": [
          "S3Bucket"
        ],
        "members": {
          "S3Bucket": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "TagResources": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARNList",
          "Tags"
        ],
        "members": {
          "ResourceARNList": {
            "shape": "S1u"
          },
          "Tags": {
            "type": "map",
            "key": {},
            "value": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedResourcesMap": {
            "shape": "S1x"
          }
        }
      }
    },
    "UntagResources": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceARNList",
          "TagKeys"
        ],
        "members": {
          "ResourceARNList": {
            "shape": "S1u"
          },
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "FailedResourcesMap": {
            "shape": "S1x"
          }
        }
      }
    }
  },
  "shapes": {
    "Si": {
      "type": "list",
      "member": {}
    },
    "St": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "S1e": {
      "type": "list",
      "member": {}
    },
    "S1u": {
      "type": "list",
      "member": {}
    },
    "S1x": {
      "type": "map",
      "key": {},
      "value": {
        "type": "structure",
        "members": {
          "StatusCode": {
            "type": "integer"
          },
          "ErrorCode": {},
          "ErrorMessage": {}
        }
      }
    }
  }
}