{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-11-27",
    "endpointPrefix": "resource-groups",
    "protocol": "rest-json",
    "serviceAbbreviation": "Resource Groups",
    "serviceFullName": "AWS Resource Groups",
    "serviceId": "Resource Groups",
    "signatureVersion": "v4",
    "signingName": "resource-groups",
    "uid": "resource-groups-2017-11-27"
  },
  "operations": {
    "CreateGroup": {
      "http": {
        "requestUri": "/groups"
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "ResourceQuery"
        ],
        "members": {
          "Name": {
            "shape": "S2"
          },
          "Description": {
            "shape": "S3"
          },
          "ResourceQuery": {
            "shape": "S4"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "Sb"
          },
          "ResourceQuery": {
            "shape": "S4"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "DeleteGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/groups/{GroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "GroupName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "GroupName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "Sb"
          }
        }
      }
    },
    "GetGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/groups/{GroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "GroupName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "GroupName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "Sb"
          }
        }
      }
    },
    "GetGroupQuery": {
      "http": {
        "method": "GET",
        "requestUri": "/groups/{GroupName}/query"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "GroupName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "GroupName"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupQuery": {
            "shape": "Sj"
          }
        }
      }
    },
    "GetTags": {
      "http": {
        "method": "GET",
        "requestUri": "/resources/{Arn}/tags"
      },
      "input": {
        "type": "structure",
        "required": [
          "Arn"
        ],
        "members": {
          "Arn": {
            "shape": "Sc",
            "location": "uri",
            "locationName": "Arn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "shape": "Sc"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "ListGroupResources": {
      "http": {
        "requestUri": "/groups/{GroupName}/resource-identifiers-list"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "GroupName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "GroupName"
          },
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Name",
                "Values"
              ],
              "members": {
                "Name": {
                  "type": "string",
                  "enum": [
                    "resource-type"
                  ]
                },
                "Values": {
                  "type": "list",
                  "member": {
                    "type": "string",
                    "max": 128,
                    "min": 1,
                    "pattern": "AWS::[a-zA-Z0-9]+::[a-zA-Z0-9]+"
                  },
                  "max": 5,
                  "min": 1
                }
              }
            }
          },
          "MaxResults": {
            "shape": "Ss",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceIdentifiers": {
            "shape": "Sv"
          },
          "NextToken": {}
        }
      }
    },
    "ListGroups": {
      "http": {
        "requestUri": "/groups-list"
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "shape": "Ss",
            "location": "querystring",
            "locationName": "maxResults"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Groups": {
            "type": "list",
            "member": {
              "shape": "Sb"
            }
          },
          "NextToken": {}
        }
      }
    },
    "SearchResources": {
      "http": {
        "requestUri": "/resources/search"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceQuery"
        ],
        "members": {
          "ResourceQuery": {
            "shape": "S4"
          },
          "MaxResults": {
            "shape": "Ss"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ResourceIdentifiers": {
            "shape": "Sv"
          },
          "NextToken": {}
        }
      }
    },
    "Tag": {
      "http": {
        "method": "PUT",
        "requestUri": "/resources/{Arn}/tags"
      },
      "input": {
        "type": "structure",
        "required": [
          "Arn",
          "Tags"
        ],
        "members": {
          "Arn": {
            "shape": "Sc",
            "location": "uri",
            "locationName": "Arn"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "shape": "Sc"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "Untag": {
      "http": {
        "method": "PATCH",
        "requestUri": "/resources/{Arn}/tags"
      },
      "input": {
        "type": "structure",
        "required": [
          "Arn",
          "Keys"
        ],
        "members": {
          "Arn": {
            "shape": "Sc",
            "location": "uri",
            "locationName": "Arn"
          },
          "Keys": {
            "shape": "S17"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Arn": {
            "shape": "Sc"
          },
          "Keys": {
            "shape": "S17"
          }
        }
      }
    },
    "UpdateGroup": {
      "http": {
        "method": "PUT",
        "requestUri": "/groups/{GroupName}"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName"
        ],
        "members": {
          "GroupName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "GroupName"
          },
          "Description": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Group": {
            "shape": "Sb"
          }
        }
      }
    },
    "UpdateGroupQuery": {
      "http": {
        "method": "PUT",
        "requestUri": "/groups/{GroupName}/query"
      },
      "input": {
        "type": "structure",
        "required": [
          "GroupName",
          "ResourceQuery"
        ],
        "members": {
          "GroupName": {
            "shape": "S2",
            "location": "uri",
            "locationName": "GroupName"
          },
          "ResourceQuery": {
            "shape": "S4"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "GroupQuery": {
            "shape": "Sj"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_\\.-]+"
    },
    "S3": {
      "type": "string",
      "max": 512,
      "pattern": "[\\sa-zA-Z0-9_\\.-]*"
    },
    "S4": {
      "type": "structure",
      "required": [
        "Type",
        "Query"
      ],
      "members": {
        "Type": {
          "type": "string",
          "enum": [
            "TAG_FILTERS_1_0"
          ]
        },
        "Query": {
          "type": "string",
          "max": 2048
        }
      }
    },
    "S7": {
      "type": "map",
      "key": {
        "shape": "S8"
      },
      "value": {
        "type": "string",
        "max": 256,
        "min": 0,
        "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "S8": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "Sb": {
      "type": "structure",
      "required": [
        "GroupArn",
        "Name"
      ],
      "members": {
        "GroupArn": {
          "shape": "Sc"
        },
        "Name": {
          "shape": "S2"
        },
        "Description": {
          "shape": "S3"
        }
      }
    },
    "Sc": {
      "type": "string",
      "pattern": "arn:aws:resource-groups:[a-z]{2}-[a-z]+-\\d{1}:[0-9]{12}:group/[a-zA-Z0-9_\\.-]{1,128}"
    },
    "Sj": {
      "type": "structure",
      "required": [
        "GroupName",
        "ResourceQuery"
      ],
      "members": {
        "GroupName": {
          "shape": "S2"
        },
        "ResourceQuery": {
          "shape": "S4"
        }
      }
    },
    "Ss": {
      "type": "integer",
      "max": 50,
      "min": 1
    },
    "Sv": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "ResourceArn": {
            "type": "string",
            "pattern": "arn:aws:[a-z0-9\\-]*:([a-z]{2}-[a-z]+-\\d{1})?:([0-9]{12})?:.+"
          },
          "ResourceType": {
            "type": "string",
            "pattern": "AWS::[a-zA-Z0-9]+::\\w+"
          }
        }
      }
    },
    "S17": {
      "type": "list",
      "member": {
        "shape": "S8"
      }
    }
  }
}