{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-06-29",
    "endpointPrefix": "robomaker",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "RoboMaker",
    "serviceFullName": "AWS RoboMaker",
    "serviceId": "RoboMaker",
    "signatureVersion": "v4",
    "signingName": "robomaker",
    "uid": "robomaker-2018-06-29"
  },
  "operations": {
    "BatchDeleteWorlds": {
      "http": {
        "requestUri": "/batchDeleteWorlds"
      },
      "input": {
        "type": "structure",
        "required": [
          "worlds"
        ],
        "members": {
          "worlds": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "unprocessedWorlds": {
            "shape": "S2"
          }
        }
      }
    },
    "BatchDescribeSimulationJob": {
      "http": {
        "requestUri": "/batchDescribeSimulationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "jobs"
        ],
        "members": {
          "jobs": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "jobs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "name": {},
                "status": {},
                "lastStartedAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "failureBehavior": {},
                "failureCode": {},
                "failureReason": {},
                "clientRequestToken": {},
                "outputLocation": {
                  "shape": "Sh"
                },
                "loggingConfig": {
                  "shape": "Sk"
                },
                "maxJobDurationInSeconds": {
                  "type": "long"
                },
                "simulationTimeMillis": {
                  "type": "long"
                },
                "iamRole": {},
                "robotApplications": {
                  "shape": "Sp"
                },
                "simulationApplications": {
                  "shape": "S1b"
                },
                "dataSources": {
                  "shape": "S1f"
                },
                "tags": {
                  "shape": "S1k"
                },
                "vpcConfig": {
                  "shape": "S1n"
                },
                "networkInterface": {
                  "shape": "S1r"
                },
                "compute": {
                  "shape": "S1s"
                }
              }
            }
          },
          "unprocessedJobs": {
            "shape": "S2"
          }
        }
      }
    },
    "CancelDeploymentJob": {
      "http": {
        "requestUri": "/cancelDeploymentJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelSimulationJob": {
      "http": {
        "requestUri": "/cancelSimulationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelSimulationJobBatch": {
      "http": {
        "requestUri": "/cancelSimulationJobBatch"
      },
      "input": {
        "type": "structure",
        "required": [
          "batch"
        ],
        "members": {
          "batch": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelWorldExportJob": {
      "http": {
        "requestUri": "/cancelWorldExportJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CancelWorldGenerationJob": {
      "http": {
        "requestUri": "/cancelWorldGenerationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDeploymentJob": {
      "http": {
        "requestUri": "/createDeploymentJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "clientRequestToken",
          "fleet",
          "deploymentApplicationConfigs"
        ],
        "members": {
          "deploymentConfig": {
            "shape": "S25"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "fleet": {},
          "deploymentApplicationConfigs": {
            "shape": "S29"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "fleet": {},
          "status": {},
          "deploymentApplicationConfigs": {
            "shape": "S29"
          },
          "failureReason": {},
          "failureCode": {},
          "createdAt": {
            "type": "timestamp"
          },
          "deploymentConfig": {
            "shape": "S25"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "CreateFleet": {
      "http": {
        "requestUri": "/createFleet"
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {},
          "tags": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "createdAt": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "CreateRobot": {
      "http": {
        "requestUri": "/createRobot"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "architecture",
          "greengrassGroupId"
        ],
        "members": {
          "name": {},
          "architecture": {},
          "greengrassGroupId": {},
          "tags": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "createdAt": {
            "type": "timestamp"
          },
          "greengrassGroupId": {},
          "architecture": {},
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "CreateRobotApplication": {
      "http": {
        "requestUri": "/createRobotApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "sources",
          "robotSoftwareSuite"
        ],
        "members": {
          "name": {},
          "sources": {
            "shape": "S2o"
          },
          "robotSoftwareSuite": {
            "shape": "S2q"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S2u"
          },
          "robotSoftwareSuite": {
            "shape": "S2q"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "revisionId": {},
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "CreateRobotApplicationVersion": {
      "http": {
        "requestUri": "/createRobotApplicationVersion"
      },
      "input": {
        "type": "structure",
        "required": [
          "application"
        ],
        "members": {
          "application": {},
          "currentRevisionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S2u"
          },
          "robotSoftwareSuite": {
            "shape": "S2q"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "revisionId": {}
        }
      }
    },
    "CreateSimulationApplication": {
      "http": {
        "requestUri": "/createSimulationApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "sources",
          "simulationSoftwareSuite",
          "robotSoftwareSuite"
        ],
        "members": {
          "name": {},
          "sources": {
            "shape": "S2o"
          },
          "simulationSoftwareSuite": {
            "shape": "S30"
          },
          "robotSoftwareSuite": {
            "shape": "S2q"
          },
          "renderingEngine": {
            "shape": "S33"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S2u"
          },
          "simulationSoftwareSuite": {
            "shape": "S30"
          },
          "robotSoftwareSuite": {
            "shape": "S2q"
          },
          "renderingEngine": {
            "shape": "S33"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "revisionId": {},
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "CreateSimulationApplicationVersion": {
      "http": {
        "requestUri": "/createSimulationApplicationVersion"
      },
      "input": {
        "type": "structure",
        "required": [
          "application"
        ],
        "members": {
          "application": {},
          "currentRevisionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S2u"
          },
          "simulationSoftwareSuite": {
            "shape": "S30"
          },
          "robotSoftwareSuite": {
            "shape": "S2q"
          },
          "renderingEngine": {
            "shape": "S33"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "revisionId": {}
        }
      }
    },
    "CreateSimulationJob": {
      "http": {
        "requestUri": "/createSimulationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "maxJobDurationInSeconds",
          "iamRole"
        ],
        "members": {
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "outputLocation": {
            "shape": "Sh"
          },
          "loggingConfig": {
            "shape": "Sk"
          },
          "maxJobDurationInSeconds": {
            "type": "long"
          },
          "iamRole": {},
          "failureBehavior": {},
          "robotApplications": {
            "shape": "Sp"
          },
          "simulationApplications": {
            "shape": "S1b"
          },
          "dataSources": {
            "shape": "S3a"
          },
          "tags": {
            "shape": "S1k"
          },
          "vpcConfig": {
            "shape": "S3d"
          },
          "compute": {
            "shape": "S3e"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "status": {},
          "lastStartedAt": {
            "type": "timestamp"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "failureBehavior": {},
          "failureCode": {},
          "clientRequestToken": {},
          "outputLocation": {
            "shape": "Sh"
          },
          "loggingConfig": {
            "shape": "Sk"
          },
          "maxJobDurationInSeconds": {
            "type": "long"
          },
          "simulationTimeMillis": {
            "type": "long"
          },
          "iamRole": {},
          "robotApplications": {
            "shape": "Sp"
          },
          "simulationApplications": {
            "shape": "S1b"
          },
          "dataSources": {
            "shape": "S1f"
          },
          "tags": {
            "shape": "S1k"
          },
          "vpcConfig": {
            "shape": "S1n"
          },
          "compute": {
            "shape": "S1s"
          }
        }
      }
    },
    "CreateWorldExportJob": {
      "http": {
        "requestUri": "/createWorldExportJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "worlds",
          "outputLocation",
          "iamRole"
        ],
        "members": {
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "worlds": {
            "shape": "S2"
          },
          "outputLocation": {
            "shape": "Sh"
          },
          "iamRole": {},
          "tags": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "status": {},
          "createdAt": {
            "type": "timestamp"
          },
          "failureCode": {},
          "clientRequestToken": {},
          "outputLocation": {
            "shape": "Sh"
          },
          "iamRole": {},
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "CreateWorldGenerationJob": {
      "http": {
        "requestUri": "/createWorldGenerationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "template",
          "worldCount"
        ],
        "members": {
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "template": {},
          "worldCount": {
            "shape": "S3l"
          },
          "tags": {
            "shape": "S1k"
          },
          "worldTags": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "status": {},
          "createdAt": {
            "type": "timestamp"
          },
          "failureCode": {},
          "clientRequestToken": {},
          "template": {},
          "worldCount": {
            "shape": "S3l"
          },
          "tags": {
            "shape": "S1k"
          },
          "worldTags": {
            "shape": "S1k"
          }
        }
      }
    },
    "CreateWorldTemplate": {
      "http": {
        "requestUri": "/createWorldTemplate"
      },
      "input": {
        "type": "structure",
        "members": {
          "clientRequestToken": {},
          "name": {},
          "templateBody": {},
          "templateLocation": {
            "shape": "S3u"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "clientRequestToken": {},
          "createdAt": {
            "type": "timestamp"
          },
          "name": {},
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "DeleteFleet": {
      "http": {
        "requestUri": "/deleteFleet"
      },
      "input": {
        "type": "structure",
        "required": [
          "fleet"
        ],
        "members": {
          "fleet": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRobot": {
      "http": {
        "requestUri": "/deleteRobot"
      },
      "input": {
        "type": "structure",
        "required": [
          "robot"
        ],
        "members": {
          "robot": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRobotApplication": {
      "http": {
        "requestUri": "/deleteRobotApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "application"
        ],
        "members": {
          "application": {},
          "applicationVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSimulationApplication": {
      "http": {
        "requestUri": "/deleteSimulationApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "application"
        ],
        "members": {
          "application": {},
          "applicationVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWorldTemplate": {
      "http": {
        "requestUri": "/deleteWorldTemplate"
      },
      "input": {
        "type": "structure",
        "required": [
          "template"
        ],
        "members": {
          "template": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeregisterRobot": {
      "http": {
        "requestUri": "/deregisterRobot"
      },
      "input": {
        "type": "structure",
        "required": [
          "fleet",
          "robot"
        ],
        "members": {
          "fleet": {},
          "robot": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fleet": {},
          "robot": {}
        }
      }
    },
    "DescribeDeploymentJob": {
      "http": {
        "requestUri": "/describeDeploymentJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "fleet": {},
          "status": {},
          "deploymentConfig": {
            "shape": "S25"
          },
          "deploymentApplicationConfigs": {
            "shape": "S29"
          },
          "failureReason": {},
          "failureCode": {},
          "createdAt": {
            "type": "timestamp"
          },
          "robotDeploymentSummary": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "deploymentStartTime": {
                  "type": "timestamp"
                },
                "deploymentFinishTime": {
                  "type": "timestamp"
                },
                "status": {},
                "progressDetail": {
                  "type": "structure",
                  "members": {
                    "currentProgress": {},
                    "percentDone": {
                      "type": "float"
                    },
                    "estimatedTimeRemainingSeconds": {
                      "type": "integer"
                    },
                    "targetResource": {}
                  }
                },
                "failureReason": {},
                "failureCode": {}
              }
            }
          },
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "DescribeFleet": {
      "http": {
        "requestUri": "/describeFleet"
      },
      "input": {
        "type": "structure",
        "required": [
          "fleet"
        ],
        "members": {
          "fleet": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {},
          "arn": {},
          "robots": {
            "shape": "S4j"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "lastDeploymentStatus": {},
          "lastDeploymentJob": {},
          "lastDeploymentTime": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "DescribeRobot": {
      "http": {
        "requestUri": "/describeRobot"
      },
      "input": {
        "type": "structure",
        "required": [
          "robot"
        ],
        "members": {
          "robot": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "fleetArn": {},
          "status": {},
          "greengrassGroupId": {},
          "createdAt": {
            "type": "timestamp"
          },
          "architecture": {},
          "lastDeploymentJob": {},
          "lastDeploymentTime": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "DescribeRobotApplication": {
      "http": {
        "requestUri": "/describeRobotApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "application"
        ],
        "members": {
          "application": {},
          "applicationVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S2u"
          },
          "robotSoftwareSuite": {
            "shape": "S2q"
          },
          "revisionId": {},
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "DescribeSimulationApplication": {
      "http": {
        "requestUri": "/describeSimulationApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "application"
        ],
        "members": {
          "application": {},
          "applicationVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S2u"
          },
          "simulationSoftwareSuite": {
            "shape": "S30"
          },
          "robotSoftwareSuite": {
            "shape": "S2q"
          },
          "renderingEngine": {
            "shape": "S33"
          },
          "revisionId": {},
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "DescribeSimulationJob": {
      "http": {
        "requestUri": "/describeSimulationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "status": {},
          "lastStartedAt": {
            "type": "timestamp"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "failureBehavior": {},
          "failureCode": {},
          "failureReason": {},
          "clientRequestToken": {},
          "outputLocation": {
            "shape": "Sh"
          },
          "loggingConfig": {
            "shape": "Sk"
          },
          "maxJobDurationInSeconds": {
            "type": "long"
          },
          "simulationTimeMillis": {
            "type": "long"
          },
          "iamRole": {},
          "robotApplications": {
            "shape": "Sp"
          },
          "simulationApplications": {
            "shape": "S1b"
          },
          "dataSources": {
            "shape": "S1f"
          },
          "tags": {
            "shape": "S1k"
          },
          "vpcConfig": {
            "shape": "S1n"
          },
          "networkInterface": {
            "shape": "S1r"
          },
          "compute": {
            "shape": "S1s"
          }
        }
      }
    },
    "DescribeSimulationJobBatch": {
      "http": {
        "requestUri": "/describeSimulationJobBatch"
      },
      "input": {
        "type": "structure",
        "required": [
          "batch"
        ],
        "members": {
          "batch": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "status": {},
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "clientRequestToken": {},
          "batchPolicy": {
            "shape": "S4w"
          },
          "failureCode": {},
          "failureReason": {},
          "failedRequests": {
            "shape": "S50"
          },
          "pendingRequests": {
            "shape": "S54"
          },
          "createdRequests": {
            "shape": "S55"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "DescribeWorld": {
      "http": {
        "requestUri": "/describeWorld"
      },
      "input": {
        "type": "structure",
        "required": [
          "world"
        ],
        "members": {
          "world": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "generationJob": {},
          "template": {},
          "createdAt": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "DescribeWorldExportJob": {
      "http": {
        "requestUri": "/describeWorldExportJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "status": {},
          "createdAt": {
            "type": "timestamp"
          },
          "failureCode": {},
          "failureReason": {},
          "clientRequestToken": {},
          "worlds": {
            "shape": "S2"
          },
          "outputLocation": {
            "shape": "Sh"
          },
          "iamRole": {},
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "DescribeWorldGenerationJob": {
      "http": {
        "requestUri": "/describeWorldGenerationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "status": {},
          "createdAt": {
            "type": "timestamp"
          },
          "failureCode": {},
          "failureReason": {},
          "clientRequestToken": {},
          "template": {},
          "worldCount": {
            "shape": "S3l"
          },
          "finishedWorldsSummary": {
            "type": "structure",
            "members": {
              "finishedCount": {
                "type": "integer"
              },
              "succeededWorlds": {
                "shape": "S2"
              },
              "failureSummary": {
                "type": "structure",
                "members": {
                  "totalFailureCount": {
                    "type": "integer"
                  },
                  "failures": {
                    "type": "list",
                    "member": {
                      "type": "structure",
                      "members": {
                        "failureCode": {},
                        "sampleFailureReason": {},
                        "failureCount": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "tags": {
            "shape": "S1k"
          },
          "worldTags": {
            "shape": "S1k"
          }
        }
      }
    },
    "DescribeWorldTemplate": {
      "http": {
        "requestUri": "/describeWorldTemplate"
      },
      "input": {
        "type": "structure",
        "required": [
          "template"
        ],
        "members": {
          "template": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "clientRequestToken": {},
          "name": {},
          "createdAt": {
            "type": "timestamp"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "GetWorldTemplateBody": {
      "http": {
        "requestUri": "/getWorldTemplateBody"
      },
      "input": {
        "type": "structure",
        "members": {
          "template": {},
          "generationJob": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "templateBody": {}
        }
      }
    },
    "ListDeploymentJobs": {
      "http": {
        "requestUri": "/listDeploymentJobs"
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "shape": "S5q"
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deploymentJobs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "fleet": {},
                "status": {},
                "deploymentApplicationConfigs": {
                  "shape": "S29"
                },
                "deploymentConfig": {
                  "shape": "S25"
                },
                "failureReason": {},
                "failureCode": {},
                "createdAt": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListFleets": {
      "http": {
        "requestUri": "/listFleets"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S5q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fleetDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastDeploymentStatus": {},
                "lastDeploymentJob": {},
                "lastDeploymentTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListRobotApplications": {
      "http": {
        "requestUri": "/listRobotApplications"
      },
      "input": {
        "type": "structure",
        "members": {
          "versionQualifier": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S5q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "robotApplicationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "arn": {},
                "version": {},
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "robotSoftwareSuite": {
                  "shape": "S2q"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListRobots": {
      "http": {
        "requestUri": "/listRobots"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S5q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "robots": {
            "shape": "S4j"
          },
          "nextToken": {}
        }
      }
    },
    "ListSimulationApplications": {
      "http": {
        "requestUri": "/listSimulationApplications"
      },
      "input": {
        "type": "structure",
        "members": {
          "versionQualifier": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S5q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "simulationApplicationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "arn": {},
                "version": {},
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "robotSoftwareSuite": {
                  "shape": "S2q"
                },
                "simulationSoftwareSuite": {
                  "shape": "S30"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListSimulationJobBatches": {
      "http": {
        "requestUri": "/listSimulationJobBatches"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S5q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "simulationJobBatchSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "createdAt": {
                  "type": "timestamp"
                },
                "status": {},
                "failedRequestCount": {
                  "type": "integer"
                },
                "pendingRequestCount": {
                  "type": "integer"
                },
                "createdRequestCount": {
                  "type": "integer"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListSimulationJobs": {
      "http": {
        "requestUri": "/listSimulationJobs"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S5q"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "simulationJobSummaries"
        ],
        "members": {
          "simulationJobSummaries": {
            "shape": "S55"
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "ListWorldExportJobs": {
      "http": {
        "requestUri": "/listWorldExportJobs"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S5q"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "worldExportJobSummaries"
        ],
        "members": {
          "worldExportJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "status": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "worlds": {
                  "shape": "S2"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListWorldGenerationJobs": {
      "http": {
        "requestUri": "/listWorldGenerationJobs"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S5q"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "worldGenerationJobSummaries"
        ],
        "members": {
          "worldGenerationJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "template": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "status": {},
                "worldCount": {
                  "shape": "S3l"
                },
                "succeededWorldCount": {
                  "type": "integer"
                },
                "failedWorldCount": {
                  "type": "integer"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListWorldTemplates": {
      "http": {
        "requestUri": "/listWorldTemplates"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "templateSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "name": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListWorlds": {
      "http": {
        "requestUri": "/listWorlds"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S5q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "worldSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "generationJob": {},
                "template": {}
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "RegisterRobot": {
      "http": {
        "requestUri": "/registerRobot"
      },
      "input": {
        "type": "structure",
        "required": [
          "fleet",
          "robot"
        ],
        "members": {
          "fleet": {},
          "robot": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fleet": {},
          "robot": {}
        }
      }
    },
    "RestartSimulationJob": {
      "http": {
        "requestUri": "/restartSimulationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "StartSimulationJobBatch": {
      "http": {
        "requestUri": "/startSimulationJobBatch"
      },
      "input": {
        "type": "structure",
        "required": [
          "createSimulationJobRequests"
        ],
        "members": {
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "batchPolicy": {
            "shape": "S4w"
          },
          "createSimulationJobRequests": {
            "shape": "S54"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "status": {},
          "createdAt": {
            "type": "timestamp"
          },
          "clientRequestToken": {},
          "batchPolicy": {
            "shape": "S4w"
          },
          "failureCode": {},
          "failureReason": {},
          "failedRequests": {
            "shape": "S50"
          },
          "pendingRequests": {
            "shape": "S54"
          },
          "createdRequests": {
            "shape": "S55"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      }
    },
    "SyncDeploymentJob": {
      "http": {
        "requestUri": "/syncDeploymentJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "clientRequestToken",
          "fleet"
        ],
        "members": {
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "fleet": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "fleet": {},
          "status": {},
          "deploymentConfig": {
            "shape": "S25"
          },
          "deploymentApplicationConfigs": {
            "shape": "S29"
          },
          "failureReason": {},
          "failureCode": {},
          "createdAt": {
            "type": "timestamp"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "S1k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRobotApplication": {
      "http": {
        "requestUri": "/updateRobotApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "application",
          "sources",
          "robotSoftwareSuite"
        ],
        "members": {
          "application": {},
          "sources": {
            "shape": "S2o"
          },
          "robotSoftwareSuite": {
            "shape": "S2q"
          },
          "currentRevisionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S2u"
          },
          "robotSoftwareSuite": {
            "shape": "S2q"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "revisionId": {}
        }
      }
    },
    "UpdateSimulationApplication": {
      "http": {
        "requestUri": "/updateSimulationApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "application",
          "sources",
          "simulationSoftwareSuite",
          "robotSoftwareSuite"
        ],
        "members": {
          "application": {},
          "sources": {
            "shape": "S2o"
          },
          "simulationSoftwareSuite": {
            "shape": "S30"
          },
          "robotSoftwareSuite": {
            "shape": "S2q"
          },
          "renderingEngine": {
            "shape": "S33"
          },
          "currentRevisionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S2u"
          },
          "simulationSoftwareSuite": {
            "shape": "S30"
          },
          "robotSoftwareSuite": {
            "shape": "S2q"
          },
          "renderingEngine": {
            "shape": "S33"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "revisionId": {}
        }
      }
    },
    "UpdateWorldTemplate": {
      "http": {
        "requestUri": "/updateWorldTemplate"
      },
      "input": {
        "type": "structure",
        "required": [
          "template"
        ],
        "members": {
          "template": {},
          "name": {},
          "templateBody": {},
          "templateLocation": {
            "shape": "S3u"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "createdAt": {
            "type": "timestamp"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {}
    },
    "Sh": {
      "type": "structure",
      "members": {
        "s3Bucket": {},
        "s3Prefix": {}
      }
    },
    "Sk": {
      "type": "structure",
      "required": [
        "recordAllRosTopics"
      ],
      "members": {
        "recordAllRosTopics": {
          "type": "boolean"
        }
      }
    },
    "Sp": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "application",
          "launchConfig"
        ],
        "members": {
          "application": {},
          "applicationVersion": {},
          "launchConfig": {
            "shape": "Ss"
          },
          "uploadConfigurations": {
            "shape": "S13"
          },
          "useDefaultUploadConfigurations": {
            "type": "boolean"
          },
          "tools": {
            "shape": "S17"
          },
          "useDefaultTools": {
            "type": "boolean"
          }
        }
      }
    },
    "Ss": {
      "type": "structure",
      "required": [
        "packageName",
        "launchFile"
      ],
      "members": {
        "packageName": {},
        "launchFile": {},
        "environmentVariables": {
          "shape": "Su"
        },
        "portForwardingConfig": {
          "type": "structure",
          "members": {
            "portMappings": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "jobPort",
                  "applicationPort"
                ],
                "members": {
                  "jobPort": {
                    "type": "integer"
                  },
                  "applicationPort": {
                    "type": "integer"
                  },
                  "enableOnPublicIp": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "streamUI": {
          "type": "boolean"
        }
      }
    },
    "Su": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S13": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "path",
          "uploadBehavior"
        ],
        "members": {
          "name": {},
          "path": {},
          "uploadBehavior": {}
        }
      }
    },
    "S17": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "command"
        ],
        "members": {
          "streamUI": {
            "type": "boolean"
          },
          "name": {},
          "command": {},
          "streamOutputToCloudWatch": {
            "type": "boolean"
          },
          "exitBehavior": {}
        }
      }
    },
    "S1b": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "application",
          "launchConfig"
        ],
        "members": {
          "application": {},
          "applicationVersion": {},
          "launchConfig": {
            "shape": "Ss"
          },
          "uploadConfigurations": {
            "shape": "S13"
          },
          "worldConfigs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "world": {}
              }
            }
          },
          "useDefaultUploadConfigurations": {
            "type": "boolean"
          },
          "tools": {
            "shape": "S17"
          },
          "useDefaultTools": {
            "type": "boolean"
          }
        }
      }
    },
    "S1f": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "s3Bucket": {},
          "s3Keys": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "s3Key": {},
                "etag": {}
              }
            }
          }
        }
      }
    },
    "S1k": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1n": {
      "type": "structure",
      "members": {
        "subnets": {
          "shape": "S1o"
        },
        "securityGroups": {
          "shape": "S1q"
        },
        "vpcId": {},
        "assignPublicIp": {
          "type": "boolean"
        }
      }
    },
    "S1o": {
      "type": "list",
      "member": {}
    },
    "S1q": {
      "type": "list",
      "member": {}
    },
    "S1r": {
      "type": "structure",
      "members": {
        "networkInterfaceId": {},
        "privateIpAddress": {},
        "publicIpAddress": {}
      }
    },
    "S1s": {
      "type": "structure",
      "members": {
        "simulationUnitLimit": {
          "type": "integer"
        }
      }
    },
    "S25": {
      "type": "structure",
      "members": {
        "concurrentDeploymentPercentage": {
          "type": "integer"
        },
        "failureThresholdPercentage": {
          "type": "integer"
        },
        "robotDeploymentTimeoutInSeconds": {
          "type": "long"
        },
        "downloadConditionFile": {
          "type": "structure",
          "required": [
            "bucket",
            "key"
          ],
          "members": {
            "bucket": {},
            "key": {},
            "etag": {}
          }
        }
      }
    },
    "S29": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "application",
          "applicationVersion",
          "launchConfig"
        ],
        "members": {
          "application": {},
          "applicationVersion": {},
          "launchConfig": {
            "type": "structure",
            "required": [
              "packageName",
              "launchFile"
            ],
            "members": {
              "packageName": {},
              "preLaunchFile": {},
              "launchFile": {},
              "postLaunchFile": {},
              "environmentVariables": {
                "shape": "Su"
              }
            }
          }
        }
      }
    },
    "S2o": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "s3Bucket": {},
          "s3Key": {},
          "architecture": {}
        }
      }
    },
    "S2q": {
      "type": "structure",
      "members": {
        "name": {},
        "version": {}
      }
    },
    "S2u": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "s3Bucket": {},
          "s3Key": {},
          "etag": {},
          "architecture": {}
        }
      }
    },
    "S30": {
      "type": "structure",
      "members": {
        "name": {},
        "version": {}
      }
    },
    "S33": {
      "type": "structure",
      "members": {
        "name": {},
        "version": {}
      }
    },
    "S3a": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "name",
          "s3Bucket",
          "s3Keys"
        ],
        "members": {
          "name": {},
          "s3Bucket": {},
          "s3Keys": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "S3d": {
      "type": "structure",
      "required": [
        "subnets"
      ],
      "members": {
        "subnets": {
          "shape": "S1o"
        },
        "securityGroups": {
          "shape": "S1q"
        },
        "assignPublicIp": {
          "type": "boolean"
        }
      }
    },
    "S3e": {
      "type": "structure",
      "members": {
        "simulationUnitLimit": {
          "type": "integer"
        }
      }
    },
    "S3l": {
      "type": "structure",
      "members": {
        "floorplanCount": {
          "type": "integer"
        },
        "interiorCountPerFloorplan": {
          "type": "integer"
        }
      }
    },
    "S3u": {
      "type": "structure",
      "required": [
        "s3Bucket",
        "s3Key"
      ],
      "members": {
        "s3Bucket": {},
        "s3Key": {}
      }
    },
    "S4j": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "fleetArn": {},
          "status": {},
          "greenGrassGroupId": {},
          "createdAt": {
            "type": "timestamp"
          },
          "architecture": {},
          "lastDeploymentJob": {},
          "lastDeploymentTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "S4w": {
      "type": "structure",
      "members": {
        "timeoutInSeconds": {
          "type": "long"
        },
        "maxConcurrency": {
          "type": "integer"
        }
      }
    },
    "S50": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "request": {
            "shape": "S52"
          },
          "failureReason": {},
          "failureCode": {},
          "failedAt": {
            "type": "timestamp"
          }
        }
      }
    },
    "S52": {
      "type": "structure",
      "required": [
        "maxJobDurationInSeconds"
      ],
      "members": {
        "outputLocation": {
          "shape": "Sh"
        },
        "loggingConfig": {
          "shape": "Sk"
        },
        "maxJobDurationInSeconds": {
          "type": "long"
        },
        "iamRole": {},
        "failureBehavior": {},
        "useDefaultApplications": {
          "type": "boolean"
        },
        "robotApplications": {
          "shape": "Sp"
        },
        "simulationApplications": {
          "shape": "S1b"
        },
        "dataSources": {
          "shape": "S3a"
        },
        "vpcConfig": {
          "shape": "S3d"
        },
        "compute": {
          "shape": "S3e"
        },
        "tags": {
          "shape": "S1k"
        }
      }
    },
    "S54": {
      "type": "list",
      "member": {
        "shape": "S52"
      }
    },
    "S55": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "arn": {},
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "name": {},
          "status": {},
          "simulationApplicationNames": {
            "type": "list",
            "member": {}
          },
          "robotApplicationNames": {
            "type": "list",
            "member": {}
          },
          "dataSourceNames": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "S5q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "values": {
            "type": "list",
            "member": {}
          }
        }
      }
    }
  }
}