{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-06-29",
    "endpointPrefix": "robomaker",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "RoboMaker",
    "serviceFullName": "AWS RoboMaker",
    "serviceId": "RoboMaker",
    "signatureVersion": "v4",
    "signingName": "robomaker",
    "uid": "robomaker-2018-06-29"
  },
  "operations": {
    "BatchDescribeSimulationJob": {
      "http": {
        "requestUri": "/batchDescribeSimulationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "jobs"
        ],
        "members": {
          "jobs": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "jobs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "name": {},
                "status": {},
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "failureBehavior": {},
                "failureCode": {},
                "failureReason": {},
                "clientRequestToken": {},
                "outputLocation": {
                  "shape": "Se"
                },
                "maxJobDurationInSeconds": {
                  "type": "long"
                },
                "simulationTimeMillis": {
                  "type": "long"
                },
                "iamRole": {},
                "robotApplications": {
                  "shape": "Sk"
                },
                "simulationApplications": {
                  "shape": "Sr"
                },
                "tags": {
                  "shape": "St"
                },
                "vpcConfig": {
                  "shape": "Sw"
                }
              }
            }
          },
          "unprocessedJobs": {
            "shape": "S2"
          }
        }
      }
    },
    "CancelSimulationJob": {
      "http": {
        "requestUri": "/cancelSimulationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateDeploymentJob": {
      "http": {
        "requestUri": "/createDeploymentJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "clientRequestToken",
          "fleet",
          "deploymentApplicationConfigs"
        ],
        "members": {
          "deploymentConfig": {
            "shape": "S13"
          },
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "fleet": {},
          "deploymentApplicationConfigs": {
            "shape": "S15"
          },
          "tags": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "fleet": {},
          "status": {},
          "deploymentApplicationConfigs": {
            "shape": "S15"
          },
          "failureReason": {},
          "failureCode": {},
          "createdAt": {
            "type": "timestamp"
          },
          "deploymentConfig": {
            "shape": "S13"
          },
          "tags": {
            "shape": "St"
          }
        }
      }
    },
    "CreateFleet": {
      "http": {
        "requestUri": "/createFleet"
      },
      "input": {
        "type": "structure",
        "required": [
          "name"
        ],
        "members": {
          "name": {},
          "tags": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "createdAt": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "St"
          }
        }
      }
    },
    "CreateRobot": {
      "http": {
        "requestUri": "/createRobot"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "architecture",
          "greengrassGroupId"
        ],
        "members": {
          "name": {},
          "architecture": {},
          "greengrassGroupId": {},
          "tags": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "createdAt": {
            "type": "timestamp"
          },
          "greengrassGroupId": {},
          "architecture": {},
          "tags": {
            "shape": "St"
          }
        }
      }
    },
    "CreateRobotApplication": {
      "http": {
        "requestUri": "/createRobotApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "sources",
          "robotSoftwareSuite"
        ],
        "members": {
          "name": {},
          "sources": {
            "shape": "S1k"
          },
          "robotSoftwareSuite": {
            "shape": "S1m"
          },
          "tags": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S1q"
          },
          "robotSoftwareSuite": {
            "shape": "S1m"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "revisionId": {},
          "tags": {
            "shape": "St"
          }
        }
      }
    },
    "CreateRobotApplicationVersion": {
      "http": {
        "requestUri": "/createRobotApplicationVersion"
      },
      "input": {
        "type": "structure",
        "required": [
          "application"
        ],
        "members": {
          "application": {},
          "currentRevisionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S1q"
          },
          "robotSoftwareSuite": {
            "shape": "S1m"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "revisionId": {}
        }
      }
    },
    "CreateSimulationApplication": {
      "http": {
        "requestUri": "/createSimulationApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "name",
          "sources",
          "simulationSoftwareSuite",
          "robotSoftwareSuite",
          "renderingEngine"
        ],
        "members": {
          "name": {},
          "sources": {
            "shape": "S1k"
          },
          "simulationSoftwareSuite": {
            "shape": "S1x"
          },
          "robotSoftwareSuite": {
            "shape": "S1m"
          },
          "renderingEngine": {
            "shape": "S20"
          },
          "tags": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S1q"
          },
          "simulationSoftwareSuite": {
            "shape": "S1x"
          },
          "robotSoftwareSuite": {
            "shape": "S1m"
          },
          "renderingEngine": {
            "shape": "S20"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "revisionId": {},
          "tags": {
            "shape": "St"
          }
        }
      }
    },
    "CreateSimulationApplicationVersion": {
      "http": {
        "requestUri": "/createSimulationApplicationVersion"
      },
      "input": {
        "type": "structure",
        "required": [
          "application"
        ],
        "members": {
          "application": {},
          "currentRevisionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S1q"
          },
          "simulationSoftwareSuite": {
            "shape": "S1x"
          },
          "robotSoftwareSuite": {
            "shape": "S1m"
          },
          "renderingEngine": {
            "shape": "S20"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "revisionId": {}
        }
      }
    },
    "CreateSimulationJob": {
      "http": {
        "requestUri": "/createSimulationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "maxJobDurationInSeconds",
          "iamRole"
        ],
        "members": {
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "outputLocation": {
            "shape": "Se"
          },
          "maxJobDurationInSeconds": {
            "type": "long"
          },
          "iamRole": {},
          "failureBehavior": {},
          "robotApplications": {
            "shape": "Sk"
          },
          "simulationApplications": {
            "shape": "Sr"
          },
          "tags": {
            "shape": "St"
          },
          "vpcConfig": {
            "type": "structure",
            "required": [
              "subnets"
            ],
            "members": {
              "subnets": {
                "shape": "Sx"
              },
              "securityGroups": {
                "shape": "Sy"
              },
              "assignPublicIp": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "status": {},
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "failureBehavior": {},
          "failureCode": {},
          "clientRequestToken": {},
          "outputLocation": {
            "shape": "Se"
          },
          "maxJobDurationInSeconds": {
            "type": "long"
          },
          "simulationTimeMillis": {
            "type": "long"
          },
          "iamRole": {},
          "robotApplications": {
            "shape": "Sk"
          },
          "simulationApplications": {
            "shape": "Sr"
          },
          "tags": {
            "shape": "St"
          },
          "vpcConfig": {
            "shape": "Sw"
          }
        }
      }
    },
    "DeleteFleet": {
      "http": {
        "requestUri": "/deleteFleet"
      },
      "input": {
        "type": "structure",
        "required": [
          "fleet"
        ],
        "members": {
          "fleet": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRobot": {
      "http": {
        "requestUri": "/deleteRobot"
      },
      "input": {
        "type": "structure",
        "required": [
          "robot"
        ],
        "members": {
          "robot": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteRobotApplication": {
      "http": {
        "requestUri": "/deleteRobotApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "application"
        ],
        "members": {
          "application": {},
          "applicationVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteSimulationApplication": {
      "http": {
        "requestUri": "/deleteSimulationApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "application"
        ],
        "members": {
          "application": {},
          "applicationVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeregisterRobot": {
      "http": {
        "requestUri": "/deregisterRobot"
      },
      "input": {
        "type": "structure",
        "required": [
          "fleet",
          "robot"
        ],
        "members": {
          "fleet": {},
          "robot": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fleet": {},
          "robot": {}
        }
      }
    },
    "DescribeDeploymentJob": {
      "http": {
        "requestUri": "/describeDeploymentJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "fleet": {},
          "status": {},
          "deploymentConfig": {
            "shape": "S13"
          },
          "deploymentApplicationConfigs": {
            "shape": "S15"
          },
          "failureReason": {},
          "failureCode": {},
          "createdAt": {
            "type": "timestamp"
          },
          "robotDeploymentSummary": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "deploymentStartTime": {
                  "type": "timestamp"
                },
                "deploymentFinishTime": {
                  "type": "timestamp"
                },
                "status": {},
                "progressDetail": {
                  "type": "structure",
                  "members": {
                    "currentProgress": {},
                    "targetResource": {}
                  }
                },
                "failureReason": {},
                "failureCode": {}
              }
            }
          },
          "tags": {
            "shape": "St"
          }
        }
      }
    },
    "DescribeFleet": {
      "http": {
        "requestUri": "/describeFleet"
      },
      "input": {
        "type": "structure",
        "required": [
          "fleet"
        ],
        "members": {
          "fleet": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "name": {},
          "arn": {},
          "robots": {
            "shape": "S2r"
          },
          "createdAt": {
            "type": "timestamp"
          },
          "lastDeploymentStatus": {},
          "lastDeploymentJob": {},
          "lastDeploymentTime": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "St"
          }
        }
      }
    },
    "DescribeRobot": {
      "http": {
        "requestUri": "/describeRobot"
      },
      "input": {
        "type": "structure",
        "required": [
          "robot"
        ],
        "members": {
          "robot": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "fleetArn": {},
          "status": {},
          "greengrassGroupId": {},
          "createdAt": {
            "type": "timestamp"
          },
          "architecture": {},
          "lastDeploymentJob": {},
          "lastDeploymentTime": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "St"
          }
        }
      }
    },
    "DescribeRobotApplication": {
      "http": {
        "requestUri": "/describeRobotApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "application"
        ],
        "members": {
          "application": {},
          "applicationVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S1q"
          },
          "robotSoftwareSuite": {
            "shape": "S1m"
          },
          "revisionId": {},
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "St"
          }
        }
      }
    },
    "DescribeSimulationApplication": {
      "http": {
        "requestUri": "/describeSimulationApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "application"
        ],
        "members": {
          "application": {},
          "applicationVersion": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S1q"
          },
          "simulationSoftwareSuite": {
            "shape": "S1x"
          },
          "robotSoftwareSuite": {
            "shape": "S1m"
          },
          "renderingEngine": {
            "shape": "S20"
          },
          "revisionId": {},
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "tags": {
            "shape": "St"
          }
        }
      }
    },
    "DescribeSimulationJob": {
      "http": {
        "requestUri": "/describeSimulationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "status": {},
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "failureBehavior": {},
          "failureCode": {},
          "failureReason": {},
          "clientRequestToken": {},
          "outputLocation": {
            "shape": "Se"
          },
          "maxJobDurationInSeconds": {
            "type": "long"
          },
          "simulationTimeMillis": {
            "type": "long"
          },
          "iamRole": {},
          "robotApplications": {
            "shape": "Sk"
          },
          "simulationApplications": {
            "shape": "Sr"
          },
          "tags": {
            "shape": "St"
          },
          "vpcConfig": {
            "shape": "Sw"
          }
        }
      }
    },
    "ListDeploymentJobs": {
      "http": {
        "requestUri": "/listDeploymentJobs"
      },
      "input": {
        "type": "structure",
        "members": {
          "filters": {
            "shape": "S32"
          },
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "deploymentJobs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "fleet": {},
                "status": {},
                "deploymentApplicationConfigs": {
                  "shape": "S15"
                },
                "deploymentConfig": {
                  "shape": "S13"
                },
                "failureReason": {},
                "failureCode": {},
                "createdAt": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListFleets": {
      "http": {
        "requestUri": "/listFleets"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S32"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fleetDetails": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "arn": {},
                "createdAt": {
                  "type": "timestamp"
                },
                "lastDeploymentStatus": {},
                "lastDeploymentJob": {},
                "lastDeploymentTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListRobotApplications": {
      "http": {
        "requestUri": "/listRobotApplications"
      },
      "input": {
        "type": "structure",
        "members": {
          "versionQualifier": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S32"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "robotApplicationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "arn": {},
                "version": {},
                "lastUpdatedAt": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListRobots": {
      "http": {
        "requestUri": "/listRobots"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S32"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "robots": {
            "shape": "S2r"
          },
          "nextToken": {}
        }
      }
    },
    "ListSimulationApplications": {
      "http": {
        "requestUri": "/listSimulationApplications"
      },
      "input": {
        "type": "structure",
        "members": {
          "versionQualifier": {},
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S32"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "simulationApplicationSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "name": {},
                "arn": {},
                "version": {},
                "lastUpdatedAt": {
                  "type": "timestamp"
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListSimulationJobs": {
      "http": {
        "requestUri": "/listSimulationJobs"
      },
      "input": {
        "type": "structure",
        "members": {
          "nextToken": {},
          "maxResults": {
            "type": "integer"
          },
          "filters": {
            "shape": "S32"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "simulationJobSummaries"
        ],
        "members": {
          "simulationJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "arn": {},
                "lastUpdatedAt": {
                  "type": "timestamp"
                },
                "name": {},
                "status": {},
                "simulationApplicationNames": {
                  "type": "list",
                  "member": {}
                },
                "robotApplicationNames": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "nextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "tags": {
            "shape": "St"
          }
        }
      }
    },
    "RegisterRobot": {
      "http": {
        "requestUri": "/registerRobot"
      },
      "input": {
        "type": "structure",
        "required": [
          "fleet",
          "robot"
        ],
        "members": {
          "fleet": {},
          "robot": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "fleet": {},
          "robot": {}
        }
      }
    },
    "RestartSimulationJob": {
      "http": {
        "requestUri": "/restartSimulationJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "job"
        ],
        "members": {
          "job": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "SyncDeploymentJob": {
      "http": {
        "requestUri": "/syncDeploymentJob"
      },
      "input": {
        "type": "structure",
        "required": [
          "clientRequestToken",
          "fleet"
        ],
        "members": {
          "clientRequestToken": {
            "idempotencyToken": true
          },
          "fleet": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "fleet": {},
          "status": {},
          "deploymentConfig": {
            "shape": "S13"
          },
          "deploymentApplicationConfigs": {
            "shape": "S15"
          },
          "failureReason": {},
          "failureCode": {},
          "createdAt": {
            "type": "timestamp"
          }
        }
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tags"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tags": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "type": "structure",
        "required": [
          "resourceArn",
          "tagKeys"
        ],
        "members": {
          "resourceArn": {
            "location": "uri",
            "locationName": "resourceArn"
          },
          "tagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateRobotApplication": {
      "http": {
        "requestUri": "/updateRobotApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "application",
          "sources",
          "robotSoftwareSuite"
        ],
        "members": {
          "application": {},
          "sources": {
            "shape": "S1k"
          },
          "robotSoftwareSuite": {
            "shape": "S1m"
          },
          "currentRevisionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S1q"
          },
          "robotSoftwareSuite": {
            "shape": "S1m"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "revisionId": {}
        }
      }
    },
    "UpdateSimulationApplication": {
      "http": {
        "requestUri": "/updateSimulationApplication"
      },
      "input": {
        "type": "structure",
        "required": [
          "application",
          "sources",
          "simulationSoftwareSuite",
          "robotSoftwareSuite",
          "renderingEngine"
        ],
        "members": {
          "application": {},
          "sources": {
            "shape": "S1k"
          },
          "simulationSoftwareSuite": {
            "shape": "S1x"
          },
          "robotSoftwareSuite": {
            "shape": "S1m"
          },
          "renderingEngine": {
            "shape": "S20"
          },
          "currentRevisionId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "version": {},
          "sources": {
            "shape": "S1q"
          },
          "simulationSoftwareSuite": {
            "shape": "S1x"
          },
          "robotSoftwareSuite": {
            "shape": "S1m"
          },
          "renderingEngine": {
            "shape": "S20"
          },
          "lastUpdatedAt": {
            "type": "timestamp"
          },
          "revisionId": {}
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "list",
      "member": {}
    },
    "Se": {
      "type": "structure",
      "members": {
        "s3Bucket": {},
        "s3Prefix": {}
      }
    },
    "Sk": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "application",
          "launchConfig"
        ],
        "members": {
          "application": {},
          "applicationVersion": {},
          "launchConfig": {
            "shape": "Sn"
          }
        }
      }
    },
    "Sn": {
      "type": "structure",
      "required": [
        "packageName",
        "launchFile"
      ],
      "members": {
        "packageName": {},
        "launchFile": {},
        "environmentVariables": {
          "shape": "So"
        }
      }
    },
    "So": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sr": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "application",
          "launchConfig"
        ],
        "members": {
          "application": {},
          "applicationVersion": {},
          "launchConfig": {
            "shape": "Sn"
          }
        }
      }
    },
    "St": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "Sw": {
      "type": "structure",
      "members": {
        "subnets": {
          "shape": "Sx"
        },
        "securityGroups": {
          "shape": "Sy"
        },
        "vpcId": {},
        "assignPublicIp": {
          "type": "boolean"
        }
      }
    },
    "Sx": {
      "type": "list",
      "member": {}
    },
    "Sy": {
      "type": "list",
      "member": {}
    },
    "S13": {
      "type": "structure",
      "members": {
        "concurrentDeploymentPercentage": {
          "type": "integer"
        },
        "failureThresholdPercentage": {
          "type": "integer"
        }
      }
    },
    "S15": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "application",
          "applicationVersion",
          "launchConfig"
        ],
        "members": {
          "application": {},
          "applicationVersion": {},
          "launchConfig": {
            "type": "structure",
            "required": [
              "packageName",
              "launchFile"
            ],
            "members": {
              "packageName": {},
              "preLaunchFile": {},
              "launchFile": {},
              "postLaunchFile": {},
              "environmentVariables": {
                "shape": "So"
              }
            }
          }
        }
      }
    },
    "S1k": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "s3Bucket": {},
          "s3Key": {},
          "architecture": {}
        }
      }
    },
    "S1m": {
      "type": "structure",
      "members": {
        "name": {},
        "version": {}
      }
    },
    "S1q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "s3Bucket": {},
          "s3Key": {},
          "etag": {},
          "architecture": {}
        }
      }
    },
    "S1x": {
      "type": "structure",
      "members": {
        "name": {},
        "version": {}
      }
    },
    "S20": {
      "type": "structure",
      "members": {
        "name": {},
        "version": {}
      }
    },
    "S2r": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "arn": {},
          "name": {},
          "fleetArn": {},
          "status": {},
          "greenGrassGroupId": {},
          "createdAt": {
            "type": "timestamp"
          },
          "architecture": {},
          "lastDeploymentJob": {},
          "lastDeploymentTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "S32": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "name": {},
          "values": {
            "type": "list",
            "member": {}
          }
        }
      }
    }
  }
}