{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2013-04-01",
    "endpointPrefix":"route53",
    "globalEndpoint":"route53.amazonaws.com",
    "protocol":"rest-xml",
    "serviceAbbreviation":"Route 53",
    "serviceFullName":"Amazon Route 53",
    "signatureVersion":"v4"
  },
  "operations":{
    "AssociateVPCWithHostedZone":{
      "name":"AssociateVPCWithHostedZone",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone/{Id}/associatevpc"
      },
      "input":{
        "shape":"AssociateVPCWithHostedZoneRequest",
        "locationName":"AssociateVPCWithHostedZoneRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"AssociateVPCWithHostedZoneResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidVPCId"},
        {"shape":"InvalidInput"},
        {"shape":"PublicZoneVPCAssociation"},
        {"shape":"ConflictingDomainExists"},
        {"shape":"LimitsExceeded"}
      ],
      "documentation":"<p>This action associates a VPC with an hosted zone. </p> <p>To associate a VPC with an hosted zone, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/hostedzone/<i>hosted zone ID</i>/associatevpc</code> resource. The request body must include a document with a <code>AssociateVPCWithHostedZoneRequest</code> element. The response returns the <code>AssociateVPCWithHostedZoneResponse</code> element that contains <code>ChangeInfo</code> for you to track the progress of the <code>AssociateVPCWithHostedZoneRequest</code> you made. See <code>GetChange</code> operation for how to track the progress of your change.</p>"
    },
    "ChangeResourceRecordSets":{
      "name":"ChangeResourceRecordSets",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone/{Id}/rrset/"
      },
      "input":{
        "shape":"ChangeResourceRecordSetsRequest",
        "locationName":"ChangeResourceRecordSetsRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"ChangeResourceRecordSetsResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"NoSuchHealthCheck"},
        {"shape":"InvalidChangeBatch"},
        {"shape":"InvalidInput"},
        {"shape":"PriorRequestNotComplete"}
      ],
      "documentation":"<p>Use this action to create or change your authoritative DNS information. To use this action, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/hostedzone/<i>hosted Zone ID</i>/rrset</code> resource. The request body must include a document with a <code>ChangeResourceRecordSetsRequest</code> element.</p> <p>Changes are a list of change items and are considered transactional. For more information on transactional changes, also known as change batches, see <a href=\"http://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html\">POST ChangeResourceRecordSets</a> in the <i>Amazon Route 53 API Reference</i>.</p> <important>Due to the nature of transactional changes, you cannot delete the same resource record set more than once in a single change batch. If you attempt to delete the same change batch more than once, Amazon Route 53 returns an <code>InvalidChangeBatch</code> error.</important> <p>In response to a <code>ChangeResourceRecordSets</code> request, your DNS data is changed on all Amazon Route 53 DNS servers. Initially, the status of a change is <code>PENDING</code>. This means the change has not yet propagated to all the authoritative Amazon Route 53 DNS servers. When the change is propagated to all hosts, the change returns a status of <code>INSYNC</code>.</p> <p>Note the following limitations on a <code>ChangeResourceRecordSets</code> request:</p> <ul> <li>A request cannot contain more than 100 Change elements.</li> <li> A request cannot contain more than 1000 ResourceRecord elements.</li> <li>The sum of the number of characters (including spaces) in all <code>Value</code> elements in a request cannot exceed 32,000 characters.</li> </ul>"
    },
    "ChangeTagsForResource":{
      "name":"ChangeTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/tags/{ResourceType}/{ResourceId}"
      },
      "input":{
        "shape":"ChangeTagsForResourceRequest",
        "locationName":"ChangeTagsForResourceRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"ChangeTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchHealthCheck"},
        {"shape":"NoSuchHostedZone"},
        {"shape":"PriorRequestNotComplete"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateHealthCheck":{
      "name":"CreateHealthCheck",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/healthcheck",
        "responseCode":201
      },
      "input":{
        "shape":"CreateHealthCheckRequest",
        "locationName":"CreateHealthCheckRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateHealthCheckResponse"},
      "errors":[
        {"shape":"TooManyHealthChecks"},
        {"shape":"HealthCheckAlreadyExists"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>This action creates a new health check.</p> <p>To create a new health check, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/healthcheck</code> resource. The request body must include a document with a <code>CreateHealthCheckRequest</code> element. The response returns the <code>CreateHealthCheckResponse</code> element that contains metadata about the health check.</p>"
    },
    "CreateHostedZone":{
      "name":"CreateHostedZone",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone",
        "responseCode":201
      },
      "input":{
        "shape":"CreateHostedZoneRequest",
        "locationName":"CreateHostedZoneRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateHostedZoneResponse"},
      "errors":[
        {"shape":"InvalidDomainName"},
        {"shape":"HostedZoneAlreadyExists"},
        {"shape":"TooManyHostedZones"},
        {"shape":"InvalidVPCId"},
        {"shape":"InvalidInput"},
        {"shape":"DelegationSetNotAvailable"},
        {"shape":"ConflictingDomainExists"},
        {"shape":"NoSuchDelegationSet"},
        {"shape":"DelegationSetNotReusable"}
      ],
      "documentation":"<p>This action creates a new hosted zone.</p> <p>To create a new hosted zone, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/hostedzone</code> resource. The request body must include a document with a <code>CreateHostedZoneRequest</code> element. The response returns the <code>CreateHostedZoneResponse</code> element that contains metadata about the hosted zone.</p> <p>Amazon Route 53 automatically creates a default SOA record and four NS records for the zone. The NS records in the hosted zone are the name servers you give your registrar to delegate your domain to. For more information about SOA and NS records, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/SOA-NSrecords.html\">NS and SOA Records that Amazon Route 53 Creates for a Hosted Zone</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>When you create a zone, its initial status is <code>PENDING</code>. This means that it is not yet available on all DNS servers. The status of the zone changes to <code>INSYNC</code> when the NS and SOA records are available on all Amazon Route 53 DNS servers. </p> <p>When trying to create a hosted zone using a reusable delegation set, you could specify an optional DelegationSetId, and Route53 would assign those 4 NS records for the zone, instead of alloting a new one.</p>"
    },
    "CreateReusableDelegationSet":{
      "name":"CreateReusableDelegationSet",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/delegationset",
        "responseCode":201
      },
      "input":{
        "shape":"CreateReusableDelegationSetRequest",
        "locationName":"CreateReusableDelegationSetRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateReusableDelegationSetResponse"},
      "errors":[
        {"shape":"DelegationSetAlreadyCreated"},
        {"shape":"LimitsExceeded"},
        {"shape":"HostedZoneNotFound"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidInput"},
        {"shape":"DelegationSetNotAvailable"},
        {"shape":"DelegationSetAlreadyReusable"}
      ],
      "documentation":"<p>This action creates a reusable delegationSet.</p> <p>To create a new reusable delegationSet, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/delegationset</code> resource. The request body must include a document with a <code>CreateReusableDelegationSetRequest</code> element. The response returns the <code>CreateReusableDelegationSetResponse</code> element that contains metadata about the delegationSet. </p> <p>If the optional parameter HostedZoneId is specified, it marks the delegationSet associated with that particular hosted zone as reusable. </p>"
    },
    "CreateTrafficPolicy":{
      "name":"CreateTrafficPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/trafficpolicy",
        "responseCode":201
      },
      "input":{
        "shape":"CreateTrafficPolicyRequest",
        "locationName":"CreateTrafficPolicyRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateTrafficPolicyResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"TooManyTrafficPolicies"},
        {"shape":"TrafficPolicyAlreadyExists"},
        {"shape":"InvalidTrafficPolicyDocument"}
      ],
      "documentation":"<p>Creates a traffic policy, which you use to create multiple DNS resource record sets for one domain name (such as example.com) or one subdomain name (such as www.example.com).</p> <p>To create a traffic policy, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicy</code> resource. The request body must include a document with a <code>CreateTrafficPolicyRequest</code> element. The response includes the <code>CreateTrafficPolicyResponse</code> element, which contains information about the new traffic policy.</p>"
    },
    "CreateTrafficPolicyInstance":{
      "name":"CreateTrafficPolicyInstance",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/trafficpolicyinstance",
        "responseCode":201
      },
      "input":{
        "shape":"CreateTrafficPolicyInstanceRequest",
        "locationName":"CreateTrafficPolicyInstanceRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateTrafficPolicyInstanceResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"},
        {"shape":"TooManyTrafficPolicyInstances"},
        {"shape":"NoSuchTrafficPolicy"},
        {"shape":"TrafficPolicyInstanceAlreadyExists"}
      ],
      "documentation":"<p>Creates resource record sets in a specified hosted zone based on the settings in a specified traffic policy version. In addition, <code>CreateTrafficPolicyInstance</code> associates the resource record sets with a specified domain name (such as example.com) or subdomain name (such as www.example.com). Amazon Route 53 responds to DNS queries for the domain or subdomain name by using the resource record sets that <code>CreateTrafficPolicyInstance</code> created.</p> <p>To create a traffic policy instance, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstance</code> resource. The request body must include a document with a <code>CreateTrafficPolicyRequest</code> element. The response returns the <code>CreateTrafficPolicyInstanceResponse</code> element, which contains information about the traffic policy instance.</p>"
    },
    "CreateTrafficPolicyVersion":{
      "name":"CreateTrafficPolicyVersion",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/trafficpolicy/{Id}",
        "responseCode":201
      },
      "input":{
        "shape":"CreateTrafficPolicyVersionRequest",
        "locationName":"CreateTrafficPolicyVersionRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateTrafficPolicyVersionResponse"},
      "errors":[
        {"shape":"NoSuchTrafficPolicy"},
        {"shape":"InvalidInput"},
        {"shape":"ConcurrentModification"},
        {"shape":"InvalidTrafficPolicyDocument"}
      ],
      "documentation":"<p>Creates a new version of an existing traffic policy. When you create a new version of a traffic policy, you specify the ID of the traffic policy that you want to update and a JSON-formatted document that describes the new version.</p> <p>You use traffic policies to create multiple DNS resource record sets for one domain name (such as example.com) or one subdomain name (such as www.example.com).</p> <p>To create a new version, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicy/</code> resource. The request body includes a document with a <code>CreateTrafficPolicyVersionRequest</code> element. The response returns the <code>CreateTrafficPolicyVersionResponse</code> element, which contains information about the new version of the traffic policy.</p>"
    },
    "DeleteHealthCheck":{
      "name":"DeleteHealthCheck",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/healthcheck/{HealthCheckId}"
      },
      "input":{"shape":"DeleteHealthCheckRequest"},
      "output":{"shape":"DeleteHealthCheckResponse"},
      "errors":[
        {"shape":"NoSuchHealthCheck"},
        {"shape":"HealthCheckInUse"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>This action deletes a health check. To delete a health check, send a <code>DELETE</code> request to the <code>/<i>Route 53 API version</i>/healthcheck/<i>health check ID</i></code> resource.</p> <important> You can delete a health check only if there are no resource record sets associated with this health check. If resource record sets are associated with this health check, you must disassociate them before you can delete your health check. If you try to delete a health check that is associated with resource record sets, Amazon Route 53 will deny your request with a <code>HealthCheckInUse</code> error. For information about disassociating the records from your health check, see <code>ChangeResourceRecordSets</code>.</important>"
    },
    "DeleteHostedZone":{
      "name":"DeleteHostedZone",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/hostedzone/{Id}"
      },
      "input":{"shape":"DeleteHostedZoneRequest"},
      "output":{"shape":"DeleteHostedZoneResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"HostedZoneNotEmpty"},
        {"shape":"PriorRequestNotComplete"},
        {"shape":"InvalidInput"},
        {"shape":"InvalidDomainName"}
      ],
      "documentation":"<p>This action deletes a hosted zone. To delete a hosted zone, send a <code>DELETE</code> request to the <code>/<i>Route 53 API version</i>/hostedzone/<i>hosted zone ID</i></code> resource.</p> <important>You can delete a hosted zone only if there are no resource record sets other than the default SOA record and NS resource record sets. If your hosted zone contains other resource record sets, you must delete them before you can delete your hosted zone. If you try to delete a hosted zone that contains other resource record sets, Amazon Route 53 will deny your request with a <code>HostedZoneNotEmpty</code> error. For information about deleting records from your hosted zone, see <code>ChangeResourceRecordSets</code>.</important>"
    },
    "DeleteReusableDelegationSet":{
      "name":"DeleteReusableDelegationSet",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/delegationset/{Id}"
      },
      "input":{"shape":"DeleteReusableDelegationSetRequest"},
      "output":{"shape":"DeleteReusableDelegationSetResponse"},
      "errors":[
        {"shape":"NoSuchDelegationSet"},
        {"shape":"DelegationSetInUse"},
        {"shape":"DelegationSetNotReusable"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>This action deletes a reusable delegation set. To delete a reusable delegation set, send a <code>DELETE</code> request to the <code>/<i>Route 53 API version</i>/delegationset/<i>delegation set ID</i></code> resource.</p> <important> You can delete a reusable delegation set only if there are no associated hosted zones. If your reusable delegation set contains associated hosted zones, you must delete them before you can delete your reusable delegation set. If you try to delete a reusable delegation set that contains associated hosted zones, Amazon Route 53 will deny your request with a <code>DelegationSetInUse</code> error.</important>"
    },
    "DeleteTrafficPolicy":{
      "name":"DeleteTrafficPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/trafficpolicy/{Id}/{Version}"
      },
      "input":{"shape":"DeleteTrafficPolicyRequest"},
      "output":{"shape":"DeleteTrafficPolicyResponse"},
      "errors":[
        {"shape":"NoSuchTrafficPolicy"},
        {"shape":"InvalidInput"},
        {"shape":"TrafficPolicyInUse"},
        {"shape":"ConcurrentModification"}
      ],
      "documentation":"<p>Deletes a traffic policy. To delete a traffic policy, send a <code>DELETE</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicy</code> resource.</p>"
    },
    "DeleteTrafficPolicyInstance":{
      "name":"DeleteTrafficPolicyInstance",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/trafficpolicyinstance/{Id}"
      },
      "input":{"shape":"DeleteTrafficPolicyInstanceRequest"},
      "output":{"shape":"DeleteTrafficPolicyInstanceResponse"},
      "errors":[
        {"shape":"NoSuchTrafficPolicyInstance"},
        {"shape":"InvalidInput"},
        {"shape":"PriorRequestNotComplete"}
      ],
      "documentation":"<p>Deletes a traffic policy instance and all of the resource record sets that Amazon Route 53 created when you created the instance.</p> <p>To delete a traffic policy instance, send a <code>DELETE</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicy/<i>traffic policy instance ID</i></code> resource.</p> <important>When you delete a traffic policy instance, Amazon Route 53 also deletes all of the resource record sets that were created when you created the traffic policy instance.</important>"
    },
    "DisassociateVPCFromHostedZone":{
      "name":"DisassociateVPCFromHostedZone",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone/{Id}/disassociatevpc"
      },
      "input":{
        "shape":"DisassociateVPCFromHostedZoneRequest",
        "locationName":"DisassociateVPCFromHostedZoneRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"DisassociateVPCFromHostedZoneResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidVPCId"},
        {"shape":"VPCAssociationNotFound"},
        {"shape":"LastVPCAssociation"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>This action disassociates a VPC from an hosted zone. </p> <p>To disassociate a VPC to a hosted zone, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/hostedzone/<i>hosted zone ID</i>/disassociatevpc</code> resource. The request body must include a document with a <code>DisassociateVPCFromHostedZoneRequest</code> element. The response returns the <code>DisassociateVPCFromHostedZoneResponse</code> element that contains <code>ChangeInfo</code> for you to track the progress of the <code>DisassociateVPCFromHostedZoneRequest</code> you made. See <code>GetChange</code> operation for how to track the progress of your change.</p>"
    },
    "GetChange":{
      "name":"GetChange",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/change/{Id}"
      },
      "input":{"shape":"GetChangeRequest"},
      "output":{"shape":"GetChangeResponse"},
      "errors":[
        {"shape":"NoSuchChange"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>This action returns the current status of a change batch request. The status is one of the following values:</p> <p>- <code>PENDING</code> indicates that the changes in this request have not replicated to all Amazon Route 53 DNS servers. This is the initial status of all change batch requests.</p> <p>- <code>INSYNC</code> indicates that the changes have replicated to all Amazon Route 53 DNS servers. </p>"
    },
    "GetChangeDetails":{
      "name":"GetChangeDetails",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/changedetails/{Id}"
      },
      "input":{"shape":"GetChangeDetailsRequest"},
      "output":{"shape":"GetChangeDetailsResponse"},
      "errors":[
        {"shape":"NoSuchChange"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>This action returns the status and changes of a change batch request.</p>",
      "deprecated":true
    },
    "GetCheckerIpRanges":{
      "name":"GetCheckerIpRanges",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/checkeripranges"
      },
      "input":{"shape":"GetCheckerIpRangesRequest"},
      "output":{"shape":"GetCheckerIpRangesResponse"},
      "documentation":"<p>To retrieve a list of the IP ranges used by Amazon Route 53 health checkers to check the health of your resources, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/checkeripranges</code> resource. You can use these IP addresses to configure router and firewall rules to allow health checkers to check the health of your resources.</p>"
    },
    "GetGeoLocation":{
      "name":"GetGeoLocation",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/geolocation"
      },
      "input":{"shape":"GetGeoLocationRequest"},
      "output":{"shape":"GetGeoLocationResponse"},
      "errors":[
        {"shape":"NoSuchGeoLocation"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>To retrieve a single geo location, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/geolocation</code> resource with one of these options: continentcode | countrycode | countrycode and subdivisioncode.</p>"
    },
    "GetHealthCheck":{
      "name":"GetHealthCheck",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/healthcheck/{HealthCheckId}"
      },
      "input":{"shape":"GetHealthCheckRequest"},
      "output":{"shape":"GetHealthCheckResponse"},
      "errors":[
        {"shape":"NoSuchHealthCheck"},
        {"shape":"InvalidInput"},
        {"shape":"IncompatibleVersion"}
      ],
      "documentation":"<p>To retrieve the health check, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/healthcheck/<i>health check ID</i></code> resource. </p>"
    },
    "GetHealthCheckCount":{
      "name":"GetHealthCheckCount",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/healthcheckcount"
      },
      "input":{"shape":"GetHealthCheckCountRequest"},
      "output":{"shape":"GetHealthCheckCountResponse"},
      "documentation":"<p>To retrieve a count of all your health checks, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/healthcheckcount</code> resource.</p>"
    },
    "GetHealthCheckLastFailureReason":{
      "name":"GetHealthCheckLastFailureReason",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/healthcheck/{HealthCheckId}/lastfailurereason"
      },
      "input":{"shape":"GetHealthCheckLastFailureReasonRequest"},
      "output":{"shape":"GetHealthCheckLastFailureReasonResponse"},
      "errors":[
        {"shape":"NoSuchHealthCheck"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>If you want to learn why a health check is currently failing or why it failed most recently (if at all), you can get the failure reason for the most recent failure. Send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/healthcheck/<i>health check ID</i>/lastfailurereason</code> resource.</p>"
    },
    "GetHealthCheckStatus":{
      "name":"GetHealthCheckStatus",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/healthcheck/{HealthCheckId}/status"
      },
      "input":{"shape":"GetHealthCheckStatusRequest"},
      "output":{"shape":"GetHealthCheckStatusResponse"},
      "errors":[
        {"shape":"NoSuchHealthCheck"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>To retrieve the health check status, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/healthcheck/<i>health check ID</i>/status</code> resource. You can use this call to get a health check's current status. </p>"
    },
    "GetHostedZone":{
      "name":"GetHostedZone",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzone/{Id}"
      },
      "input":{"shape":"GetHostedZoneRequest"},
      "output":{"shape":"GetHostedZoneResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>To retrieve the delegation set for a hosted zone, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/hostedzone/<i>hosted zone ID</i></code> resource. The delegation set is the four Amazon Route 53 name servers that were assigned to the hosted zone when you created it.</p>"
    },
    "GetHostedZoneCount":{
      "name":"GetHostedZoneCount",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzonecount"
      },
      "input":{"shape":"GetHostedZoneCountRequest"},
      "output":{"shape":"GetHostedZoneCountResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>To retrieve a count of all your hosted zones, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/hostedzonecount</code> resource.</p>"
    },
    "GetReusableDelegationSet":{
      "name":"GetReusableDelegationSet",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/delegationset/{Id}"
      },
      "input":{"shape":"GetReusableDelegationSetRequest"},
      "output":{"shape":"GetReusableDelegationSetResponse"},
      "errors":[
        {"shape":"NoSuchDelegationSet"},
        {"shape":"DelegationSetNotReusable"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>To retrieve the reusable delegation set, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/delegationset/<i>delegation set ID</i></code> resource.</p>"
    },
    "GetTrafficPolicy":{
      "name":"GetTrafficPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicy/{Id}/{Version}"
      },
      "input":{"shape":"GetTrafficPolicyRequest"},
      "output":{"shape":"GetTrafficPolicyResponse"},
      "errors":[
        {"shape":"NoSuchTrafficPolicy"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets information about a specific traffic policy version. To get the information, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicy</code> resource.</p>"
    },
    "GetTrafficPolicyInstance":{
      "name":"GetTrafficPolicyInstance",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicyinstance/{Id}"
      },
      "input":{"shape":"GetTrafficPolicyInstanceRequest"},
      "output":{"shape":"GetTrafficPolicyInstanceResponse"},
      "errors":[
        {"shape":"NoSuchTrafficPolicyInstance"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets information about a specified traffic policy instance.</p> <p>To get information about the traffic policy instance, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstance</code> resource.</p> <note>After you submit a <code>CreateTrafficPolicyInstance</code> or an <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</note>"
    },
    "GetTrafficPolicyInstanceCount":{
      "name":"GetTrafficPolicyInstanceCount",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicyinstancecount"
      },
      "input":{"shape":"GetTrafficPolicyInstanceCountRequest"},
      "output":{"shape":"GetTrafficPolicyInstanceCountResponse"},
      "documentation":"<p>Gets the number of traffic policy instances that are associated with the current AWS account.</p> <p>To get the number of traffic policy instances, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstancecount</code> resource.</p>"
    },
    "ListChangeBatchesByHostedZone":{
      "name":"ListChangeBatchesByHostedZone",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzone/{Id}/changes"
      },
      "input":{"shape":"ListChangeBatchesByHostedZoneRequest"},
      "output":{"shape":"ListChangeBatchesByHostedZoneResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>This action gets the list of ChangeBatches in a given time period for a given hosted zone.</p>",
      "deprecated":true
    },
    "ListChangeBatchesByRRSet":{
      "name":"ListChangeBatchesByRRSet",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzone/{Id}/rrsChanges"
      },
      "input":{"shape":"ListChangeBatchesByRRSetRequest"},
      "output":{"shape":"ListChangeBatchesByRRSetResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>This action gets the list of ChangeBatches in a given time period for a given hosted zone and RRSet.</p>",
      "deprecated":true
    },
    "ListGeoLocations":{
      "name":"ListGeoLocations",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/geolocations"
      },
      "input":{"shape":"ListGeoLocationsRequest"},
      "output":{"shape":"ListGeoLocationsResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>To retrieve a list of supported geo locations, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/geolocations</code> resource. The response to this request includes a <code>GeoLocationDetailsList</code> element with zero, one, or multiple <code>GeoLocationDetails</code> child elements. The list is sorted by country code, and then subdivision code, followed by continents at the end of the list. </p> <p>By default, the list of geo locations is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. If the list is truncated, <code>IsTruncated</code> will be set to <i>true</i> and a combination of <code>NextContinentCode, NextCountryCode, NextSubdivisionCode</code> will be populated. You can pass these as parameters to <code>StartContinentCode, StartCountryCode, StartSubdivisionCode</code> to control the geo location that the list begins with. </p>"
    },
    "ListHealthChecks":{
      "name":"ListHealthChecks",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/healthcheck"
      },
      "input":{"shape":"ListHealthChecksRequest"},
      "output":{"shape":"ListHealthChecksResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"IncompatibleVersion"}
      ],
      "documentation":"<p>To retrieve a list of your health checks, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/healthcheck</code> resource. The response to this request includes a <code>HealthChecks</code> element with zero, one, or multiple <code>HealthCheck</code> child elements. By default, the list of health checks is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>Marker</code> parameter to control the health check that the list begins with. </p> <note> Amazon Route 53 returns a maximum of 100 items. If you set MaxItems to a value greater than 100, Amazon Route 53 returns only the first 100.</note>"
    },
    "ListHostedZones":{
      "name":"ListHostedZones",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzone"
      },
      "input":{"shape":"ListHostedZonesRequest"},
      "output":{"shape":"ListHostedZonesResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchDelegationSet"},
        {"shape":"DelegationSetNotReusable"}
      ],
      "documentation":"<p>To retrieve a list of your hosted zones, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/hostedzone</code> resource. The response to this request includes a <code>HostedZones</code> element with zero, one, or multiple <code>HostedZone</code> child elements. By default, the list of hosted zones is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>Marker</code> parameter to control the hosted zone that the list begins with. </p> <note> Amazon Route 53 returns a maximum of 100 items. If you set MaxItems to a value greater than 100, Amazon Route 53 returns only the first 100.</note>"
    },
    "ListHostedZonesByName":{
      "name":"ListHostedZonesByName",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzonesbyname"
      },
      "input":{"shape":"ListHostedZonesByNameRequest"},
      "output":{"shape":"ListHostedZonesByNameResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"InvalidDomainName"}
      ],
      "documentation":"<p>To retrieve a list of your hosted zones in lexicographic order, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/hostedzonesbyname</code> resource. The response to this request includes a <code>HostedZones</code> element with zero or more <code>HostedZone</code> child elements lexicographically ordered by DNS name. By default, the list of hosted zones is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>DNSName</code> and <code>HostedZoneId</code> parameters to control the hosted zone that the list begins with.</p> <note> Amazon Route 53 returns a maximum of 100 items. If you set MaxItems to a value greater than 100, Amazon Route 53 returns only the first 100.</note>"
    },
    "ListResourceRecordSets":{
      "name":"ListResourceRecordSets",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzone/{Id}/rrset"
      },
      "input":{"shape":"ListResourceRecordSetsRequest"},
      "output":{"shape":"ListResourceRecordSetsResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>List the resource record sets in a specified hosted zone. Send a GET request to the <code>2013-04-01/hostedzone/<i>hosted zone ID</i>/rrset</code> resource.</p> <p><code>ListResourceRecordSets</code> returns up to 100 resource record sets at a time in ASCII order, beginning at a position specified by the name and type elements. The action sorts results first by DNS name with the labels reversed, for example:</p> <p><code>com.example.www.</code></p> <p>Note the trailing dot, which can change the sort order in some circumstances. When multiple records have the same DNS name, the action sorts results by the record type.</p> <p>You can use the name and type elements to adjust the beginning position of the list of resource record sets returned:</p> <ul> <li><b>If you do not specify <code>Name</code> or <code>Type</code></b>: The results begin with the first resource record set that the hosted zone contains.</li> <li><b>If you specify <code>Name</code> but not <code>Type</code></b>: The results begin with the first resource record set in the list whose name is greater than or equal to Name.</li> <li><b>If you specify <code>Type</code> but not <code>Name</code></b>: Amazon Route 53 returns the <code>InvalidInput</code> error.</li> <li><b>If you specify both <code>Name</code> and <code>Type</code></b>: The results begin with the first resource record set in the list whose name is greater than or equal to <code>Name</code>, and whose type is greater than or equal to <code>Type</code>.</li> </ul> <p>This action returns the most current version of the records. This includes records that are <code>PENDING</code>, and that are not yet available on all Amazon Route 53 DNS servers.</p> <p>To ensure that you get an accurate listing of the resource record sets for a hosted zone at a point in time, do not submit a <code>ChangeResourceRecordSets</code> request while you are paging through the results of a <code>ListResourceRecordSets</code> request. If you do, some pages may display results without the latest changes while other pages display results with the latest changes.</p>"
    },
    "ListReusableDelegationSets":{
      "name":"ListReusableDelegationSets",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/delegationset"
      },
      "input":{"shape":"ListReusableDelegationSetsRequest"},
      "output":{"shape":"ListReusableDelegationSetsResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>To retrieve a list of your reusable delegation sets, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/delegationset</code> resource. The response to this request includes a <code>DelegationSets</code> element with zero, one, or multiple <code>DelegationSet</code> child elements. By default, the list of delegation sets is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>Marker</code> parameter to control the delegation set that the list begins with. </p> <note> Amazon Route 53 returns a maximum of 100 items. If you set MaxItems to a value greater than 100, Amazon Route 53 returns only the first 100.</note>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/tags/{ResourceType}/{ResourceId}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchHealthCheck"},
        {"shape":"NoSuchHostedZone"},
        {"shape":"PriorRequestNotComplete"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListTagsForResources":{
      "name":"ListTagsForResources",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/tags/{ResourceType}"
      },
      "input":{
        "shape":"ListTagsForResourcesRequest",
        "locationName":"ListTagsForResourcesRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"ListTagsForResourcesResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchHealthCheck"},
        {"shape":"NoSuchHostedZone"},
        {"shape":"PriorRequestNotComplete"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListTrafficPolicies":{
      "name":"ListTrafficPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicies"
      },
      "input":{"shape":"ListTrafficPoliciesRequest"},
      "output":{"shape":"ListTrafficPoliciesResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets information about the latest version for every traffic policy that is associated with the current AWS account. To get the information, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicy</code> resource.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policies, you can use the <code>maxitems</code> parameter to list them in groups of up to 100.</p> <p>The response includes three values that help you navigate from one group of <code>maxitems</code> traffic policies to the next:</p> <ul> <li><b>IsTruncated</b></li> <p>If the value of <code>IsTruncated</code> in the response is <code>true</code>, there are more traffic policies associated with the current AWS account.</p> <p>If <code>IsTruncated</code> is <code>false</code>, this response includes the last traffic policy that is associated with the current account.</p> <li><b>TrafficPolicyIdMarker</b></li> <p>If <code>IsTruncated</code> is <code>true</code>, <code>TrafficPolicyIdMarker</code> is the ID of the first traffic policy in the next group of <code>MaxItems</code> traffic policies. If you want to list more traffic policies, make another call to <code>ListTrafficPolicies</code>, and specify the value of the <code>TrafficPolicyIdMarker</code> element from the response in the <code>TrafficPolicyIdMarker</code> request parameter.</p> <p>If <code>IsTruncated</code> is <code>false</code>, the <code>TrafficPolicyIdMarker</code> element is omitted from the response.</p> <li><b>MaxItems</b></li> <p>The value that you specified for the <code>MaxItems</code> parameter in the request that produced the current response.</p> </ul>"
    },
    "ListTrafficPolicyInstances":{
      "name":"ListTrafficPolicyInstances",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicyinstances"
      },
      "input":{"shape":"ListTrafficPolicyInstancesRequest"},
      "output":{"shape":"ListTrafficPolicyInstancesResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchTrafficPolicyInstance"}
      ],
      "documentation":"<p>Gets information about the traffic policy instances that you created by using the current AWS account.</p> <note>After you submit an <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</note> <p>To get information about the traffic policy instances that are associated with the current AWS account, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstance</code> resource.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p> <p>The response includes five values that help you navigate from one group of <code>MaxItems</code> traffic policy instances to the next:</p> <ul> <li><b>IsTruncated</b></li> <p>If the value of <code>IsTruncated</code> in the response is <code>true</code>, there are more traffic policy instances associated with the current AWS account.</p> <p>If <code>IsTruncated</code> is <code>false</code>, this response includes the last traffic policy instance that is associated with the current account.</p> <li><b>MaxItems</b></li> <p>The value that you specified for the <code>MaxItems</code> parameter in the request that produced the current response.</p> <li><b>HostedZoneIdMarker</b>, <b>TrafficPolicyInstanceNameMarker</b>, and <b>TrafficPolicyInstanceTypeMarker</b></li> <p>If <code>IsTruncated</code> is <code>true</code>, these three values in the response represent the first traffic policy instance in the next group of <code>MaxItems</code> traffic policy instances. To list more traffic policy instances, make another call to <code>ListTrafficPolicyInstances</code>, and specify these values in the corresponding request parameters.</p> <p>If <code>IsTruncated</code> is <code>false</code>, all three elements are omitted from the response.</p> </ul>"
    },
    "ListTrafficPolicyInstancesByHostedZone":{
      "name":"ListTrafficPolicyInstancesByHostedZone",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicyinstances/hostedzone"
      },
      "input":{"shape":"ListTrafficPolicyInstancesByHostedZoneRequest"},
      "output":{"shape":"ListTrafficPolicyInstancesByHostedZoneResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchTrafficPolicyInstance"},
        {"shape":"NoSuchHostedZone"}
      ],
      "documentation":"<p>Gets information about the traffic policy instances that you created in a specified hosted zone.</p> <note>After you submit an <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</note> <p>To get information about the traffic policy instances that you created in a specified hosted zone, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstance</code> resource and include the ID of the hosted zone.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p> <p>The response includes four values that help you navigate from one group of <code>MaxItems</code> traffic policy instances to the next:</p> <ul> <li><b>IsTruncated</b></li> <p>If the value of <code/>IsTruncated in the response is <code>true</code>, there are more traffic policy instances associated with the current AWS account.</p> <p>If <code>IsTruncated</code> is <code>false</code>, this response includes the last traffic policy instance that is associated with the current account.</p> <li><b>MaxItems</b></li> <p>The value that you specified for the <code>MaxItems</code> parameter in the request that produced the current response.</p> <li><b>TrafficPolicyInstanceNameMarker</b> and <b>TrafficPolicyInstanceTypeMarker</b></li> <p>If <code>IsTruncated</code> is <code>true</code>, these two values in the response represent the first traffic policy instance in the next group of <code>MaxItems</code> traffic policy instances. To list more traffic policy instances, make another call to <code>ListTrafficPolicyInstancesByHostedZone</code>, and specify these values in the corresponding request parameters.</p> <p>If <code>IsTruncated</code> is <code>false</code>, all three elements are omitted from the response.</p> </ul>"
    },
    "ListTrafficPolicyInstancesByPolicy":{
      "name":"ListTrafficPolicyInstancesByPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicyinstances/trafficpolicy"
      },
      "input":{"shape":"ListTrafficPolicyInstancesByPolicyRequest"},
      "output":{"shape":"ListTrafficPolicyInstancesByPolicyResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchTrafficPolicyInstance"},
        {"shape":"NoSuchTrafficPolicy"}
      ],
      "documentation":"<p>Gets information about the traffic policy instances that you created by using a specify traffic policy version.</p> <note>After you submit a <code>CreateTrafficPolicyInstance</code> or an <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</note> <p>To get information about the traffic policy instances that you created by using a specify traffic policy version, send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstance</code> resource and include the ID and version of the traffic policy.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p> <p>The response includes five values that help you navigate from one group of <code>MaxItems</code> traffic policy instances to the next:</p> <ul> <li><b>IsTruncated</b> <p>If the value of <code>IsTruncated</code> in the response is <code>true</code>, there are more traffic policy instances associated with the specified traffic policy.</p> <p>If <code>IsTruncated</code> is <code>false</code>, this response includes the last traffic policy instance that is associated with the specified traffic policy.</p> </li> <li><b>MaxItems</b> <p>The value that you specified for the <code>MaxItems</code> parameter in the request that produced the current response.</p> </li> <li><b>HostedZoneIdMarker</b>, <b>TrafficPolicyInstanceNameMarker</b>, and <b>TrafficPolicyInstanceTypeMarker</b> <p>If <code>IsTruncated</code> is <code>true</code>, these values in the response represent the first traffic policy instance in the next group of <code>MaxItems</code> traffic policy instances. To list more traffic policy instances, make another call to <code>ListTrafficPolicyInstancesByPolicy</code>, and specify these values in the corresponding request parameters.</p> <p>If <code>IsTruncated</code> is <code>false</code>, all three elements are omitted from the response.</p> </li> </ul>"
    },
    "ListTrafficPolicyVersions":{
      "name":"ListTrafficPolicyVersions",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicies/{Id}/versions"
      },
      "input":{"shape":"ListTrafficPolicyVersionsRequest"},
      "output":{"shape":"ListTrafficPolicyVersionsResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchTrafficPolicy"}
      ],
      "documentation":"<p>Gets information about all of the versions for a specified traffic policy. <code>ListTrafficPolicyVersions</code> lists only versions that have not been deleted.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policies, you can use the <code>maxitems</code> parameter to list them in groups of up to 100.</p> <p>The response includes three values that help you navigate from one group of <code>maxitems</code>maxitems traffic policies to the next:</p> <ul> <li><b>IsTruncated</b></li> <p>If the value of <code>IsTruncated</code> in the response is <code>true</code>, there are more traffic policy versions associated with the specified traffic policy.</p> <p>If <code>IsTruncated</code> is <code>false</code>, this response includes the last traffic policy version that is associated with the specified traffic policy.</p> <li><b>TrafficPolicyVersionMarker</b></li> <p>The ID of the next traffic policy version that is associated with the current AWS account. If you want to list more traffic policies, make another call to <code>ListTrafficPolicyVersions</code>, and specify the value of the <code>TrafficPolicyVersionMarker</code> element in the <code>TrafficPolicyVersionMarker</code> request parameter.</p> <p>If <code>IsTruncated</code> is <code>false</code>, Amazon Route 53 omits the <code>TrafficPolicyVersionMarker</code> element from the response.</p> <li><b>MaxItems</b></li> <p>The value that you specified for the <code>MaxItems</code> parameter in the request that produced the current response.</p> </ul>"
    },
    "UpdateHealthCheck":{
      "name":"UpdateHealthCheck",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/healthcheck/{HealthCheckId}"
      },
      "input":{
        "shape":"UpdateHealthCheckRequest",
        "locationName":"UpdateHealthCheckRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"UpdateHealthCheckResponse"},
      "errors":[
        {"shape":"NoSuchHealthCheck"},
        {"shape":"InvalidInput"},
        {"shape":"HealthCheckVersionMismatch"}
      ],
      "documentation":"<p>This action updates an existing health check.</p> <p>To update a health check, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/healthcheck/<i>health check ID</i></code> resource. The request body must include a document with an <code>UpdateHealthCheckRequest</code> element. The response returns an <code>UpdateHealthCheckResponse</code> element, which contains metadata about the health check.</p>"
    },
    "UpdateHostedZoneComment":{
      "name":"UpdateHostedZoneComment",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone/{Id}"
      },
      "input":{
        "shape":"UpdateHostedZoneCommentRequest",
        "locationName":"UpdateHostedZoneCommentRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"UpdateHostedZoneCommentResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>To update the hosted zone comment, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/hostedzone/<i>hosted zone ID</i></code> resource. The request body must include a document with a <code>UpdateHostedZoneCommentRequest</code> element. The response to this request includes the modified <code>HostedZone</code> element.</p> <note> The comment can have a maximum length of 256 characters.</note>"
    },
    "UpdateTrafficPolicyComment":{
      "name":"UpdateTrafficPolicyComment",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/trafficpolicy/{Id}/{Version}"
      },
      "input":{
        "shape":"UpdateTrafficPolicyCommentRequest",
        "locationName":"UpdateTrafficPolicyCommentRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"UpdateTrafficPolicyCommentResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchTrafficPolicy"},
        {"shape":"ConcurrentModification"}
      ],
      "documentation":"<p>Updates the comment for a specified traffic policy version.</p> <p>To update the comment, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicy/</code> resource.</p> <p>The request body must include a document with an <code>UpdateTrafficPolicyCommentRequest</code> element.</p>"
    },
    "UpdateTrafficPolicyInstance":{
      "name":"UpdateTrafficPolicyInstance",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/trafficpolicyinstance/{Id}"
      },
      "input":{
        "shape":"UpdateTrafficPolicyInstanceRequest",
        "locationName":"UpdateTrafficPolicyInstanceRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"UpdateTrafficPolicyInstanceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchTrafficPolicy"},
        {"shape":"NoSuchTrafficPolicyInstance"},
        {"shape":"PriorRequestNotComplete"},
        {"shape":"ConflictingTypes"}
      ],
      "documentation":"<p>Updates the resource record sets in a specified hosted zone that were created based on the settings in a specified traffic policy version.</p> <important>The DNS type of the resource record sets that you're updating must match the DNS type in the JSON document that is associated with the traffic policy version that you're using to update the traffic policy instance.</important> <p>When you update a traffic policy instance, Amazon Route 53 continues to respond to DNS queries for the root resource record set name (such as example.com) while it replaces one group of resource record sets with another. Amazon Route 53 performs the following operations:</p> <ol> <li>Amazon Route 53 creates a new group of resource record sets based on the specified traffic policy. This is true regardless of how substantial the differences are between the existing resource record sets and the new resource record sets. </li> <li>When all of the new resource record sets have been created, Amazon Route 53 starts to respond to DNS queries for the root resource record set name (such as example.com) by using the new resource record sets.</li> <li>Amazon Route 53 deletes the old group of resource record sets that are associated with the root resource record set name.</li> </ol> <p>To update a traffic policy instance, send a <code>POST</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstance/<i>traffic policy ID</i></code> resource. The request body must include a document with an <code>UpdateTrafficPolicyInstanceRequest</code> element.</p>"
    }
  },
  "shapes":{
    "AWSAccountID":{"type":"string"},
    "AlarmIdentifier":{
      "type":"structure",
      "required":[
        "Region",
        "Name"
      ],
      "members":{
        "Region":{
          "shape":"CloudWatchRegion",
          "documentation":"<p>The <code>CloudWatchRegion</code> that the CloudWatch alarm was created in.</p>"
        },
        "Name":{
          "shape":"AlarmName",
          "documentation":"<p>The name of the CloudWatch alarm.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information to uniquely identify the CloudWatch alarm that you're associating with a Route 53 health check.</p>"
    },
    "AlarmName":{
      "type":"string",
      "max":256,
      "min":1
    },
    "AliasHealthEnabled":{"type":"boolean"},
    "AliasTarget":{
      "type":"structure",
      "required":[
        "HostedZoneId",
        "DNSName",
        "EvaluateTargetHealth"
      ],
      "members":{
        "HostedZoneId":{
          "shape":"ResourceId",
          "documentation":"<p><i>Alias resource record sets only:</i> The value you use depends on where you want to route queries:</p> <ul> <li><b>A CloudFront distribution:</b> Specify <code>Z2FDTNDATAQYW2</code>.</li> <li>An ELB load balancer: Specify the value of the hosted zone ID for the load balancer. You can get the hosted zone ID by using the AWS Management Console, the ELB API, or the AWS CLI. Use the same method to get values for <code>HostedZoneId</code> and <code>DNSName</code>. If you get one value from the console and the other value from the API or the CLI, creating the resource record set will fail.</li> <li><b>An Amazon S3 bucket that is configured as a static website:</b> Specify the hosted zone ID for the Amazon S3 website endpoint in which you created the bucket. For more information about valid values, see the table <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\">Amazon Simple Storage Service (S3) Website Endpoints</a> in the <i>Amazon Web Services General Reference</i>.</li> <li><b>Another Amazon Route 53 resource record set in your hosted zone:</b> Specify the hosted zone ID of your hosted zone. (An alias resource record set cannot reference a resource record set in a different hosted zone.)</li> </ul>"
        },
        "DNSName":{
          "shape":"DNSName",
          "documentation":"<p><i>Alias resource record sets only:</i> The external DNS name associated with the AWS Resource. The value that you specify depends on where you want to route queries:</p> <ul> <li><b>A CloudFront distribution:</b> Specify the domain name that CloudFront assigned when you created your distribution. Your CloudFront distribution must include an alternate domain name that matches the name of the resource record set. For example, if the name of the resource record set is <code>acme.example.com</code>, your CloudFront distribution must include <code>acme.example.com</code> as one of the alternate domain names. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html\">Using Alternate Domain Names (CNAMEs)</a> in the <i>Amazon CloudFront Developer Guide</i>.</li> <li><b>An ELB load balancer:</b> Specify the DNS name associated with the load balancer. You can get the DNS name by using the AWS Management Console, the ELB API, or the AWS CLI. Use the same method to get values for <code>HostedZoneId</code> and <code>DNSName</code>. If you get one value from the console and the other value from the API or the CLI, creating the resource record set will fail.</li> <li><b>An Elastic Beanstalk environment:</b> Specify the CNAME attribute for the environment. (The environment must have a regionalized domain name.) </li> <li><b>An Amazon S3 bucket that is configured as a static website:</b> Specify the domain name of the Amazon S3 website endpoint in which you created the bucket; for example, <code>s3-website-us-east-1.amazonaws.com</code>. For more information about valid values, see the table <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\">Amazon Simple Storage Service (S3) Website Endpoints</a> in the <i>Amazon Web Services General Reference</i>. For more information about using Amazon S3 buckets for websites, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html\">Hosting a Static Website on Amazon S3</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</li> <li><b>Another Amazon Route 53 resource record set:</b> Specify the value of the <code>Name</code> element for a resource record set in the current hosted zone.</li> </ul>"
        },
        "EvaluateTargetHealth":{
          "shape":"AliasHealthEnabled",
          "documentation":"<p><i>Alias resource record sets only:</i> If you set the value of <code>EvaluateTargetHealth</code> to <code>true</code> for the resource record set or sets in an alias, weighted alias, latency alias, or failover alias resource record set, and if you specify a value for <code>HealthCheckId</code> for every resource record set that is referenced by these alias resource record sets, the alias resource record sets inherit the health of the referenced resource record sets.</p> <p>In this configuration, when Amazon Route 53 receives a DNS query for an alias resource record set:</p> <ol> <li>Amazon Route 53 looks at the resource record sets that are referenced by the alias resource record sets to determine which health checks they're using.</li> <li>Amazon Route 53 checks the current status of each health check. (Amazon Route 53 periodically checks the health of the endpoint that is specified in a health check; it doesn't perform the health check when the DNS query arrives.)</li> <li>Based on the status of the health checks, Amazon Route 53 determines which resource record sets are healthy. Unhealthy resource record sets are immediately removed from consideration. In addition, if all of the resource record sets that are referenced by an alias resource record set are unhealthy, that alias resource record set also is immediately removed from consideration.</li> <li>Based on the configuration of the alias resource record sets (weighted alias or latency alias, for example) and the configuration of the resource record sets that they reference, Amazon Route 53 chooses a resource record set from the healthy resource record sets, and responds to the query.</li> </ol> <p>Note the following:</p> <ul><li>You cannot set <code>EvaluateTargetHealth</code> to true when the alias target is a CloudFront distribution.</li> <li>If the AWS resource that you specify in <code>AliasTarget</code> is a resource record set or a group of resource record sets (for example, a group of weighted resource record sets), but it is not another alias resource record set, we recommend that you associate a health check with all of the resource record sets in the alias target.</li> <li>If you specify an ELB load balancer in <code>AliasTarget</code>, Elastic Load Balancing routes queries only to the healthy Amazon EC2 instances that are registered with the load balancer. If no Amazon EC2 instances are healthy or if the load balancer itself is unhealthy, and if <code>EvaluateTargetHealth</code> is <code>true</code> for the corresponding alias resource record set, Amazon Route 53 routes queries to other resources.</li> <li>When you create a load balancer, you configure settings for Elastic Load Balancing health checks; they're not Amazon Route 53 health checks, but they perform a similar function. Do not create Amazon Route 53 health checks for the Amazon EC2 instances that you register with an ELB load balancer. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-complex-configs.html\">How Health Checks Work in More Complex Amazon Route 53 Configurations</a> in the <i>Amazon Route 53 Developer Guide</i>.</li> </ul> <p>We recommend that you set <code>EvaluateTargetHealth</code> to <code>true</code> only when you have enough idle capacity to handle the failure of one or more endpoints.</p> <p>For more information and examples, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover.html\">Amazon Route 53 Health Checks and DNS Failover</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>"
        }
      },
      "documentation":"<p><i>Alias resource record sets only:</i> Information about the CloudFront distribution, ELB load balancer, Amazon S3 bucket, or Amazon Route 53 resource record set to which you are routing traffic.</p> <p>If you're creating resource record sets for a private hosted zone, note the following:</p> <ul> <li>You can create alias resource record sets only for Amazon Route 53 resource record sets in the same private hosted zone. Creating alias resource record sets for CloudFront distributions, ELB load balancers, and Amazon S3 buckets is not supported.</li> <li>You can't create alias resource record sets for failover, geolocation, or latency resource record sets in a private hosted zone.</li> </ul>"
    },
    "AssociateVPCComment":{"type":"string"},
    "AssociateVPCWithHostedZoneRequest":{
      "type":"structure",
      "required":[
        "HostedZoneId",
        "VPC"
      ],
      "members":{
        "HostedZoneId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the hosted zone you want to associate your VPC with.</p> <p>Note that you cannot associate a VPC with a hosted zone that doesn't have an existing VPC association.</p>",
          "location":"uri",
          "locationName":"Id"
        },
        "VPC":{
          "shape":"VPC",
          "documentation":"<p>The VPC that you want your hosted zone to be associated with. </p>"
        },
        "Comment":{
          "shape":"AssociateVPCComment",
          "documentation":"<p><i>Optional:</i> Any comments you want to include about a <code>AssociateVPCWithHostedZoneRequest</code>.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information about the request to associate a VPC with an hosted zone.</p>"
    },
    "AssociateVPCWithHostedZoneResponse":{
      "type":"structure",
      "required":["ChangeInfo"],
      "members":{
        "ChangeInfo":{
          "shape":"ChangeInfo",
          "documentation":"<p>A complex type that contains the ID, the status, and the date and time of your <code>AssociateVPCWithHostedZoneRequest</code>.</p>"
        }
      },
      "documentation":"<p>A complex type containing the response information for the request.</p>"
    },
    "Change":{
      "type":"structure",
      "required":[
        "Action",
        "ResourceRecordSet"
      ],
      "members":{
        "Action":{
          "shape":"ChangeAction",
          "documentation":"<p>The action to perform:</p> <ul> <li><code>CREATE</code>: Creates a resource record set that has the specified values.</li> <li><CODE>DELETE</CODE>: Deletes a existing resource record set that has the specified values for <code>Name</code>, <code>Type</code>, <code>SetIdentifier</code> (for latency, weighted, geolocation, and failover resource record sets), and <code>TTL</code> (except alias resource record sets, for which the TTL is determined by the AWS resource that you're routing DNS queries to).</li> <li><code>UPSERT</code>: If a resource record set does not already exist, Amazon Route 53 creates it. If a resource record set does exist, Amazon Route 53 updates it with the values in the request. Amazon Route 53 can update an existing resource record set only when all of the following values match: <code>Name</code>, <code>Type</code>, and <code>SetIdentifier</code> (for weighted, latency, geolocation, and failover resource record sets).</li> </ul>"
        },
        "ResourceRecordSet":{
          "shape":"ResourceRecordSet",
          "documentation":"<p>Information about the resource record set to create or delete.</p>"
        }
      },
      "documentation":"<p>A complex type that contains the information for each change in a change batch request.</p>"
    },
    "ChangeAction":{
      "type":"string",
      "enum":[
        "CREATE",
        "DELETE",
        "UPSERT"
      ]
    },
    "ChangeBatch":{
      "type":"structure",
      "required":["Changes"],
      "members":{
        "Comment":{
          "shape":"ResourceDescription",
          "documentation":"<p><i>Optional:</i> Any comments you want to include about a change batch request.</p>"
        },
        "Changes":{
          "shape":"Changes",
          "documentation":"<p>A complex type that contains one <code>Change</code> element for each resource record set that you want to create or delete.</p>"
        }
      },
      "documentation":"<p>A complex type that contains an optional comment and the changes that you want to make with a change batch request.</p>"
    },
    "ChangeBatchRecord":{
      "type":"structure",
      "required":[
        "Id",
        "Status"
      ],
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the request. Use this ID to track when the change has completed across all Amazon Route 53 DNS servers.</p>"
        },
        "SubmittedAt":{
          "shape":"TimeStamp",
          "documentation":"<p>The date and time the change was submitted, in the format <code>YYYY-MM-DDThh:mm:ssZ</code>, as specified in the ISO 8601 standard (for example, 2009-11-19T19:37:58Z). The <code>Z</code> after the time indicates that the time is listed in Coordinated Universal Time (UTC).</p>"
        },
        "Status":{
          "shape":"ChangeStatus",
          "documentation":"<p>The current state of the request. <code>PENDING</code> indicates that this request has not yet been applied to all Amazon Route 53 DNS servers.</p> <p>Valid Values: <code>PENDING</code> | <code>INSYNC</code></p>"
        },
        "Comment":{
          "shape":"ResourceDescription",
          "documentation":"<p>A complex type that describes change information about changes made to your hosted zone.</p> <p>This element contains an ID that you use when performing a <code>GetChange</code> action to get detailed information about the change.</p>"
        },
        "Submitter":{
          "shape":"AWSAccountID",
          "documentation":"<p>The AWS account ID attached to the changes. </p>"
        },
        "Changes":{
          "shape":"Changes",
          "documentation":"<p>A list of changes made in the ChangeBatch.</p>"
        }
      },
      "documentation":"<p>A complex type that lists the changes and information for a ChangeBatch.</p>",
      "deprecated":true
    },
    "ChangeBatchRecords":{
      "type":"list",
      "member":{
        "shape":"ChangeBatchRecord",
        "locationName":"ChangeBatchRecord"
      },
      "deprecated":true,
      "min":1
    },
    "ChangeInfo":{
      "type":"structure",
      "required":[
        "Id",
        "Status",
        "SubmittedAt"
      ],
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the request. Use this ID to track when the change has completed across all Amazon Route 53 DNS servers.</p>"
        },
        "Status":{
          "shape":"ChangeStatus",
          "documentation":"<p>The current state of the request. <code>PENDING</code> indicates that this request has not yet been applied to all Amazon Route 53 DNS servers.</p> <p>Valid Values: <code>PENDING</code> | <code>INSYNC</code></p>"
        },
        "SubmittedAt":{
          "shape":"TimeStamp",
          "documentation":"<p>The date and time the change was submitted, in the format <code>YYYY-MM-DDThh:mm:ssZ</code>, as specified in the ISO 8601 standard (for example, 2009-11-19T19:37:58Z). The <code>Z</code> after the time indicates that the time is listed in Coordinated Universal Time (UTC).</p>"
        },
        "Comment":{
          "shape":"ResourceDescription",
          "documentation":"<p>A complex type that describes change information about changes made to your hosted zone.</p> <p>This element contains an ID that you use when performing a <code>GetChange</code> action to get detailed information about the change.</p>"
        }
      },
      "documentation":"<p>A complex type that describes change information about changes made to your hosted zone.</p> <p>This element contains an ID that you use when performing a <code>GetChange</code> action to get detailed information about the change.</p>"
    },
    "ChangeResourceRecordSetsRequest":{
      "type":"structure",
      "required":[
        "HostedZoneId",
        "ChangeBatch"
      ],
      "members":{
        "HostedZoneId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the hosted zone that contains the resource record sets that you want to change.</p>",
          "location":"uri",
          "locationName":"Id"
        },
        "ChangeBatch":{
          "shape":"ChangeBatch",
          "documentation":"<p>A complex type that contains an optional comment and the <code>Changes</code> element.</p>"
        }
      },
      "documentation":"<p>A complex type that contains a change batch.</p>"
    },
    "ChangeResourceRecordSetsResponse":{
      "type":"structure",
      "required":["ChangeInfo"],
      "members":{
        "ChangeInfo":{
          "shape":"ChangeInfo",
          "documentation":"<p>A complex type that contains information about changes made to your hosted zone.</p> <p>This element contains an ID that you use when performing a <code>GetChange</code> action to get detailed information about the change.</p>"
        }
      },
      "documentation":"<p>A complex type containing the response for the request.</p>"
    },
    "ChangeStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "INSYNC"
      ]
    },
    "ChangeTagsForResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceType",
        "ResourceId"
      ],
      "members":{
        "ResourceType":{
          "shape":"TagResourceType",
          "documentation":"<p>The type of the resource.</p> <p>- The resource type for health checks is <code>healthcheck</code>.</p> <p>- The resource type for hosted zones is <code>hostedzone</code>.</p>",
          "location":"uri",
          "locationName":"ResourceType"
        },
        "ResourceId":{
          "shape":"TagResourceId",
          "documentation":"<p>The ID of the resource for which you want to add, change, or delete tags.</p>",
          "location":"uri",
          "locationName":"ResourceId"
        },
        "AddTags":{
          "shape":"TagList",
          "documentation":"<p>A complex type that contains a list of <code>Tag</code> elements. Each <code>Tag</code> element identifies a tag that you want to add or update for the specified resource.</p>"
        },
        "RemoveTagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p>A list of <code>Tag</code> keys that you want to remove from the specified resource.</p>"
        }
      },
      "documentation":"<p>A complex type containing information about a request to add, change, or delete the tags that are associated with a resource.</p>"
    },
    "ChangeTagsForResourceResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Empty response for the request.</p>"
    },
    "Changes":{
      "type":"list",
      "member":{
        "shape":"Change",
        "locationName":"Change"
      },
      "min":1
    },
    "CheckerIpRanges":{
      "type":"list",
      "member":{"shape":"IPAddressCidr"}
    },
    "ChildHealthCheckList":{
      "type":"list",
      "member":{
        "shape":"HealthCheckId",
        "locationName":"ChildHealthCheck"
      },
      "max":256
    },
    "CloudWatchAlarmConfiguration":{
      "type":"structure",
      "required":[
        "EvaluationPeriods",
        "Threshold",
        "ComparisonOperator",
        "Period",
        "MetricName",
        "Namespace",
        "Statistic"
      ],
      "members":{
        "EvaluationPeriods":{
          "shape":"EvaluationPeriods",
          "documentation":"<p>The number of periods over which data is compared to the specified threshold.</p>"
        },
        "Threshold":{
          "shape":"Threshold",
          "documentation":"<p>The value that the metric is compared with to determine the state of the alarm. For example, if you want the health check to fail if the average TCP connection time is greater than 500 milliseconds for more than 60 seconds, the threshold is 500.</p>"
        },
        "ComparisonOperator":{
          "shape":"ComparisonOperator",
          "documentation":"<p>The arithmetic operation to use when comparing the specified Statistic and Threshold.</p> <p>Valid Values are <code>GreaterThanOrEqualToThreshold</code>, <code>GreaterThanThreshold</code>, <code>LessThanThreshold</code> and <code>LessThanOrEqualToThreshold</code></p>"
        },
        "Period":{
          "shape":"Period",
          "documentation":"<p>An integer that represents the period in seconds over which the statistic is applied.</p>"
        },
        "MetricName":{
          "shape":"MetricName",
          "documentation":"<p>The name of the CloudWatch metric that is associated with the CloudWatch alarm.</p>"
        },
        "Namespace":{
          "shape":"Namespace",
          "documentation":"<p>The namespace of the CloudWatch metric that is associated with the CloudWatch alarm.</p>"
        },
        "Statistic":{
          "shape":"Statistic",
          "documentation":"<p>The statistic to apply to the CloudWatch metric that is associated with the CloudWatch alarm.</p> <p>Valid Values are <code>SampleCount</code>, <code>Average</code>, <code>Sum</code>, <code>Minimum</code> and <code>Maximum</code></p>"
        },
        "Dimensions":{
          "shape":"DimensionList",
          "documentation":"<p>A list of <code>Dimension</code> elements for the CloudWatch metric that is associated with the CloudWatch alarm. For information about the metrics and dimensions that CloudWatch supports, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/CW_Support_For_AWS.html\">Amazon CloudWatch Namespaces, Dimensions, and Metrics Reference</a>.</p>"
        }
      },
      "documentation":"<p>For CLOUDWATCH_METRIC health checks, a complex type that contains information about the CloudWatch alarm that you're associating with the health check.</p>"
    },
    "CloudWatchRegion":{
      "type":"string",
      "enum":[
        "us-east-1",
        "us-west-1",
        "us-west-2",
        "eu-central-1",
        "eu-west-1",
        "ap-southeast-1",
        "ap-southeast-2",
        "ap-northeast-1",
        "ap-northeast-2",
        "sa-east-1"
      ],
      "max":64,
      "min":1
    },
    "ComparisonOperator":{
      "type":"string",
      "enum":[
        "GreaterThanOrEqualToThreshold",
        "GreaterThanThreshold",
        "LessThanThreshold",
        "LessThanOrEqualToThreshold"
      ]
    },
    "ConcurrentModification":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>Descriptive message for the error response.</p>"
        }
      },
      "documentation":"<p>Another user submitted a request to update the object at the same time that you did. Retry the request. </p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ConflictingDomainExists":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "ConflictingTypes":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>Descriptive message for the error response.</p>"
        }
      },
      "documentation":"<p>You tried to update a traffic policy instance by using a traffic policy version that has a different DNS type than the current type for the instance. You specified the type in the JSON document in the <code>CreateTrafficPolicy</code> or <code>CreateTrafficPolicyVersion</code>request. </p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "CreateHealthCheckRequest":{
      "type":"structure",
      "required":[
        "CallerReference",
        "HealthCheckConfig"
      ],
      "members":{
        "CallerReference":{
          "shape":"HealthCheckNonce",
          "documentation":"<p>A unique string that identifies the request and that allows failed <code>CreateHealthCheck</code> requests to be retried without the risk of executing the operation twice. You must use a unique <code>CallerReference</code> string every time you create a health check. <code>CallerReference</code> can be any unique string; you might choose to use a string that identifies your project.</p> <p>Valid characters are any Unicode code points that are legal in an XML 1.0 document. The UTF-8 encoding of the value must be less than 128 bytes.</p>"
        },
        "HealthCheckConfig":{
          "shape":"HealthCheckConfig",
          "documentation":"<p>A complex type that contains health check configuration.</p>"
        }
      },
      "documentation":"<p>>A complex type that contains information about the request to create a health check.</p>"
    },
    "CreateHealthCheckResponse":{
      "type":"structure",
      "required":[
        "HealthCheck",
        "Location"
      ],
      "members":{
        "HealthCheck":{
          "shape":"HealthCheck",
          "documentation":"<p>A complex type that contains identifying information about the health check.</p>"
        },
        "Location":{
          "shape":"ResourceURI",
          "documentation":"<p>The unique URL representing the new health check.</p>",
          "location":"header",
          "locationName":"Location"
        }
      },
      "documentation":"<p>A complex type containing the response information for the new health check.</p>"
    },
    "CreateHostedZoneRequest":{
      "type":"structure",
      "required":[
        "Name",
        "CallerReference"
      ],
      "members":{
        "Name":{
          "shape":"DNSName",
          "documentation":"<p>The name of the domain. This must be a fully-specified domain, for example, www.example.com. The trailing dot is optional; Amazon Route 53 assumes that the domain name is fully qualified. This means that Amazon Route 53 treats www.example.com (without a trailing dot) and www.example.com. (with a trailing dot) as identical.</p> <p>This is the name you have registered with your DNS registrar. You should ask your registrar to change the authoritative name servers for your domain to the set of <code>NameServers</code> elements returned in <code>DelegationSet</code>.</p>"
        },
        "VPC":{
          "shape":"VPC",
          "documentation":"<p>The VPC that you want your hosted zone to be associated with. By providing this parameter, your newly created hosted cannot be resolved anywhere other than the given VPC.</p>"
        },
        "CallerReference":{
          "shape":"Nonce",
          "documentation":"<p>A unique string that identifies the request and that allows failed <code>CreateHostedZone</code> requests to be retried without the risk of executing the operation twice. You must use a unique <code>CallerReference</code> string every time you create a hosted zone. <code>CallerReference</code> can be any unique string; you might choose to use a string that identifies your project, such as <code>DNSMigration_01</code>.</p> <p>Valid characters are any Unicode code points that are legal in an XML 1.0 document. The UTF-8 encoding of the value must be less than 128 bytes.</p>"
        },
        "HostedZoneConfig":{
          "shape":"HostedZoneConfig",
          "documentation":"<p>A complex type that contains an optional comment about your hosted zone.</p>"
        },
        "DelegationSetId":{
          "shape":"ResourceId",
          "documentation":"<p>The delegation set id of the reusable delgation set whose NS records you want to assign to the new hosted zone.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information about the request to create a hosted zone.</p>"
    },
    "CreateHostedZoneResponse":{
      "type":"structure",
      "required":[
        "HostedZone",
        "ChangeInfo",
        "DelegationSet",
        "Location"
      ],
      "members":{
        "HostedZone":{
          "shape":"HostedZone",
          "documentation":"<p>A complex type that contains identifying information about the hosted zone.</p>"
        },
        "ChangeInfo":{
          "shape":"ChangeInfo",
          "documentation":"<p>A complex type that contains information about the request to create a hosted zone. This includes an ID that you use when you call the <code>GetChange</code> action to get the current status of the change request.</p>"
        },
        "DelegationSet":{
          "shape":"DelegationSet",
          "documentation":"<p>A complex type that contains name server information.</p>"
        },
        "VPC":{"shape":"VPC"},
        "Location":{
          "shape":"ResourceURI",
          "documentation":"<p>The unique URL representing the new hosted zone.</p>",
          "location":"header",
          "locationName":"Location"
        }
      },
      "documentation":"<p>A complex type containing the response information for the new hosted zone.</p>"
    },
    "CreateReusableDelegationSetRequest":{
      "type":"structure",
      "required":["CallerReference"],
      "members":{
        "CallerReference":{
          "shape":"Nonce",
          "documentation":"<p>A unique string that identifies the request and that allows failed <code>CreateReusableDelegationSet</code> requests to be retried without the risk of executing the operation twice. You must use a unique <code>CallerReference</code> string every time you create a reusable delegation set. <code>CallerReference</code> can be any unique string; you might choose to use a string that identifies your project, such as <code>DNSMigration_01</code>.</p> <p>Valid characters are any Unicode code points that are legal in an XML 1.0 document. The UTF-8 encoding of the value must be less than 128 bytes.</p>"
        },
        "HostedZoneId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the hosted zone whose delegation set you want to mark as reusable. It is an optional parameter.</p>"
        }
      }
    },
    "CreateReusableDelegationSetResponse":{
      "type":"structure",
      "required":[
        "DelegationSet",
        "Location"
      ],
      "members":{
        "DelegationSet":{
          "shape":"DelegationSet",
          "documentation":"<p>A complex type that contains name server information.</p>"
        },
        "Location":{
          "shape":"ResourceURI",
          "documentation":"<p>The unique URL representing the new reusbale delegation set.</p>",
          "location":"header",
          "locationName":"Location"
        }
      }
    },
    "CreateTrafficPolicyInstanceRequest":{
      "type":"structure",
      "required":[
        "HostedZoneId",
        "Name",
        "TTL",
        "TrafficPolicyId",
        "TrafficPolicyVersion"
      ],
      "members":{
        "HostedZoneId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the hosted zone in which you want Amazon Route 53 to create resource record sets by using the configuration in a traffic policy.</p>"
        },
        "Name":{
          "shape":"DNSName",
          "documentation":"<p>The domain name (such as example.com) or subdomain name (such as www.example.com) for which Amazon Route 53 responds to DNS queries by using the resource record sets that Amazon Route 53 creates for this traffic policy instance.</p>"
        },
        "TTL":{
          "shape":"TTL",
          "documentation":"<p>The TTL that you want Amazon Route 53 to assign to all of the resource record sets that it creates in the specified hosted zone.</p>"
        },
        "TrafficPolicyId":{
          "shape":"TrafficPolicyId",
          "documentation":"<p>The ID of the traffic policy that you want to use to create resource record sets in the specified hosted zone.</p>"
        },
        "TrafficPolicyVersion":{
          "shape":"TrafficPolicyVersion",
          "documentation":"<p>The version of the traffic policy that you want to use to create resource record sets in the specified hosted zone.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information about the resource record sets that you want to create based on a specified traffic policy.</p>"
    },
    "CreateTrafficPolicyInstanceResponse":{
      "type":"structure",
      "required":[
        "TrafficPolicyInstance",
        "Location"
      ],
      "members":{
        "TrafficPolicyInstance":{
          "shape":"TrafficPolicyInstance",
          "documentation":"<p>A complex type that contains settings for the new traffic policy instance.</p>"
        },
        "Location":{
          "shape":"ResourceURI",
          "documentation":"<p>A unique URL that represents a new traffic policy instance.</p>",
          "location":"header",
          "locationName":"Location"
        }
      },
      "documentation":"<p>A complex type that contains the response information for the <code>CreateTrafficPolicyInstance</code> request.</p>"
    },
    "CreateTrafficPolicyRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Document"
      ],
      "members":{
        "Name":{
          "shape":"TrafficPolicyName",
          "documentation":"<p>The name of the traffic policy.</p>"
        },
        "Document":{
          "shape":"TrafficPolicyDocument",
          "documentation":"<p>The definition of this traffic policy in JSON format. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/APIReference/api-policies-traffic-policy-document-format.html\">Traffic Policy Document Format</a> in the <i>Amazon Route 53 API Reference</i>.</p>"
        },
        "Comment":{
          "shape":"TrafficPolicyComment",
          "documentation":"<p>Any comments that you want to include about the traffic policy.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information about the traffic policy that you want to create.</p>"
    },
    "CreateTrafficPolicyResponse":{
      "type":"structure",
      "required":[
        "TrafficPolicy",
        "Location"
      ],
      "members":{
        "TrafficPolicy":{
          "shape":"TrafficPolicy",
          "documentation":"<p>A complex type that contains settings for the new traffic policy.</p>"
        },
        "Location":{
          "shape":"ResourceURI",
          "location":"header",
          "locationName":"Location"
        }
      },
      "documentation":"<p>A complex type that contains the response information for the <code>CreateTrafficPolicy</code> request.</p>"
    },
    "CreateTrafficPolicyVersionRequest":{
      "type":"structure",
      "required":[
        "Id",
        "Document"
      ],
      "members":{
        "Id":{
          "shape":"TrafficPolicyId",
          "documentation":"<p>The ID of the traffic policy for which you want to create a new version.</p>",
          "location":"uri",
          "locationName":"Id"
        },
        "Document":{
          "shape":"TrafficPolicyDocument",
          "documentation":"<p>The definition of a new traffic policy version, in JSON format. You must specify the full definition of the new traffic policy. You cannot specify just the differences between the new version and a previous version. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/APIReference/api-policies-traffic-policy-document-format.html\">Traffic Policy Document Format</a> in the <i>Amazon Route 53 API Reference</i>.</p>"
        },
        "Comment":{
          "shape":"TrafficPolicyComment",
          "documentation":"<p>Any comments that you want to include about the new traffic policy version.</p>"
        }
      },
      "documentation":"<p>A complex type that contains information about the traffic policy for which you want to create a new version.</p>"
    },
    "CreateTrafficPolicyVersionResponse":{
      "type":"structure",
      "required":[
        "TrafficPolicy",
        "Location"
      ],
      "members":{
        "TrafficPolicy":{
          "shape":"TrafficPolicy",
          "documentation":"<p>A complex type that contains settings for the new version of the traffic policy.</p>"
        },
        "Location":{
          "shape":"ResourceURI",
          "location":"header",
          "locationName":"Location"
        }
      },
      "documentation":"<p>A complex type that contains the response information for the <code>CreateTrafficPolicyVersion</code> request.</p>"
    },
    "DNSName":{
      "type":"string",
      "max":1024
    },
    "Date":{
      "type":"string",
      "deprecated":true,
      "max":256
    },
    "DelegationSet":{
      "type":"structure",
      "required":["NameServers"],
      "members":{
        "Id":{"shape":"ResourceId"},
        "CallerReference":{"shape":"Nonce"},
        "NameServers":{
          "shape":"DelegationSetNameServers",
          "documentation":"<p>A complex type that contains the authoritative name servers for the hosted zone. Use the method provided by your domain registrar to add an NS record to your domain for each <code>NameServer</code> that is assigned to your hosted zone.</p>"
        }
      },
      "documentation":"<p>A complex type that contains name server information.</p>"
    },
    "DelegationSetAlreadyCreated":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>Descriptive message for the error response.</p>"
        }
      },
      "documentation":"<p>A delegation set with the same owner and caller reference combination has already been created.</p>",
      "exception":true
    },
    "DelegationSetAlreadyReusable":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>Descriptive message for the error response.</p>"
        }
      },
      "documentation":"<p>The specified delegation set has already been marked as reusable.</p>",
      "exception":true
    },
    "DelegationSetInUse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>Descriptive message for the error response.</p>"
        }
      },
      "documentation":"<p>The specified delegation contains associated hosted zones which must be deleted before the reusable delegation set can be deleted.</p>",
      "exception":true
    },
    "DelegationSetNameServers":{
      "type":"list",
      "member":{
        "shape":"DNSName",
        "locationName":"NameServer"
      },
      "min":1
    },
    "DelegationSetNotAvailable":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>Descriptive message for the error response.</p>"
        }
      },
      "documentation":"<p>Amazon Route 53 allows some duplicate domain names, but there is a maximum number of duplicate names. This error indicates that you have reached that maximum. If you want to create another hosted zone with the same name and Amazon Route 53 generates this error, you can request an increase to the limit on the <a href=\"http://aws.amazon.com/route53-request/\">Contact Us</a> page.</p>",
      "exception":true
    },
    "DelegationSetNotReusable":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>Descriptive message for the error response.</p>"
        }
      },
      "documentation":"<p>The specified delegation set has not been marked as reusable.</p>",
      "exception":true
    },
    "DelegationSets":{
      "type":"list",
      "member":{
        "shape":"DelegationSet",
        "locationName":"DelegationSet"
      }
    },
    "DeleteHealthCheckRequest":{
      "type":"structure",
      "required":["HealthCheckId"],
      "members":{
        "HealthCheckId":{
          "shape":"HealthCheckId",
          "documentation":"<p>The ID of the health check to delete.</p>",
          "location":"uri",
          "locationName":"HealthCheckId"
        }
      },
      "documentation":"<p>A complex type containing the request information for delete health check.</p>"
    },
    "DeleteHealthCheckResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Empty response for the request.</p>"
    },
    "DeleteHostedZoneRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the hosted zone you want to delete.</p>",
          "location":"uri",
          "locationName":"Id"
        }
      },
      "documentation":"<p>A complex type that contains information about the hosted zone that you want to delete.</p>"
    },
    "DeleteHostedZoneResponse":{
      "type":"structure",
      "required":["ChangeInfo"],
      "members":{
        "ChangeInfo":{
          "shape":"ChangeInfo",
          "documentation":"<p>A complex type that contains the ID, the status, and the date and time of your delete request.</p>"
        }
      },
      "documentation":"<p>A complex type containing the response information for the request.</p>"
    },
    "DeleteReusableDelegationSetRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the reusable delegation set you want to delete.</p>",
          "location":"uri",
          "locationName":"Id"
        }
      },
      "documentation":"<p>A complex type containing the information for the delete request.</p>"
    },
    "DeleteReusableDelegationSetResponse":{
[...]
