{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2013-04-01",
    "endpointPrefix": "route53",
    "globalEndpoint": "route53.amazonaws.com",
    "protocol": "rest-xml",
    "serviceAbbreviation": "Route 53",
    "serviceFullName": "Amazon Route 53",
    "serviceId": "Route 53",
    "signatureVersion": "v4",
    "uid": "route53-2013-04-01"
  },
  "operations": {
    "AssociateVPCWithHostedZone": {
      "http": {
        "requestUri": "/2013-04-01/hostedzone/{Id}/associatevpc"
      },
      "input": {
        "locationName": "AssociateVPCWithHostedZoneRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "HostedZoneId",
          "VPC"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          },
          "VPC": {
            "shape": "S3"
          },
          "Comment": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ChangeInfo"
        ],
        "members": {
          "ChangeInfo": {
            "shape": "S8"
          }
        }
      }
    },
    "ChangeResourceRecordSets": {
      "http": {
        "requestUri": "/2013-04-01/hostedzone/{Id}/rrset/"
      },
      "input": {
        "locationName": "ChangeResourceRecordSetsRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "HostedZoneId",
          "ChangeBatch"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          },
          "ChangeBatch": {
            "type": "structure",
            "required": [
              "Changes"
            ],
            "members": {
              "Comment": {
                "shape": "Sb"
              },
              "Changes": {
                "type": "list",
                "member": {
                  "locationName": "Change",
                  "type": "structure",
                  "required": [
                    "Action",
                    "ResourceRecordSet"
                  ],
                  "members": {
                    "Action": {
                      "type": "string",
                      "enum": [
                        "CREATE",
                        "DELETE",
                        "UPSERT"
                      ]
                    },
                    "ResourceRecordSet": {
                      "shape": "Sh"
                    }
                  }
                },
                "min": 1
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ChangeInfo"
        ],
        "members": {
          "ChangeInfo": {
            "shape": "S8"
          }
        }
      }
    },
    "ChangeTagsForResource": {
      "http": {
        "requestUri": "/2013-04-01/tags/{ResourceType}/{ResourceId}"
      },
      "input": {
        "locationName": "ChangeTagsForResourceRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "ResourceType",
          "ResourceId"
        ],
        "members": {
          "ResourceType": {
            "shape": "S13",
            "location": "uri",
            "locationName": "ResourceType"
          },
          "ResourceId": {
            "shape": "S14",
            "location": "uri",
            "locationName": "ResourceId"
          },
          "AddTags": {
            "shape": "S15"
          },
          "RemoveTagKeys": {
            "type": "list",
            "member": {
              "shape": "S17",
              "locationName": "Key"
            },
            "max": 10,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "CreateHealthCheck": {
      "http": {
        "requestUri": "/2013-04-01/healthcheck",
        "responseCode": 201
      },
      "input": {
        "locationName": "CreateHealthCheckRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "CallerReference",
          "HealthCheckConfig"
        ],
        "members": {
          "CallerReference": {
            "shape": "S1c"
          },
          "HealthCheckConfig": {
            "shape": "S1d"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HealthCheck",
          "Location"
        ],
        "members": {
          "HealthCheck": {
            "shape": "S1y"
          },
          "Location": {
            "shape": "S2d",
            "location": "header",
            "locationName": "Location"
          }
        }
      }
    },
    "CreateHostedZone": {
      "http": {
        "requestUri": "/2013-04-01/hostedzone",
        "responseCode": 201
      },
      "input": {
        "locationName": "CreateHostedZoneRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "Name",
          "CallerReference"
        ],
        "members": {
          "Name": {
            "shape": "Si"
          },
          "VPC": {
            "shape": "S3"
          },
          "CallerReference": {
            "shape": "S2f"
          },
          "HostedZoneConfig": {
            "shape": "S2g"
          },
          "DelegationSetId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HostedZone",
          "ChangeInfo",
          "DelegationSet",
          "Location"
        ],
        "members": {
          "HostedZone": {
            "shape": "S2j"
          },
          "ChangeInfo": {
            "shape": "S8"
          },
          "DelegationSet": {
            "shape": "S2l"
          },
          "VPC": {
            "shape": "S3"
          },
          "Location": {
            "shape": "S2d",
            "location": "header",
            "locationName": "Location"
          }
        }
      }
    },
    "CreateQueryLoggingConfig": {
      "http": {
        "requestUri": "/2013-04-01/queryloggingconfig",
        "responseCode": 201
      },
      "input": {
        "locationName": "CreateQueryLoggingConfigRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "HostedZoneId",
          "CloudWatchLogsLogGroupArn"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2"
          },
          "CloudWatchLogsLogGroupArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "QueryLoggingConfig",
          "Location"
        ],
        "members": {
          "QueryLoggingConfig": {
            "shape": "S2q"
          },
          "Location": {
            "shape": "S2d",
            "location": "header",
            "locationName": "Location"
          }
        }
      }
    },
    "CreateReusableDelegationSet": {
      "http": {
        "requestUri": "/2013-04-01/delegationset",
        "responseCode": 201
      },
      "input": {
        "locationName": "CreateReusableDelegationSetRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "CallerReference"
        ],
        "members": {
          "CallerReference": {
            "shape": "S2f"
          },
          "HostedZoneId": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DelegationSet",
          "Location"
        ],
        "members": {
          "DelegationSet": {
            "shape": "S2l"
          },
          "Location": {
            "shape": "S2d",
            "location": "header",
            "locationName": "Location"
          }
        }
      }
    },
    "CreateTrafficPolicy": {
      "http": {
        "requestUri": "/2013-04-01/trafficpolicy",
        "responseCode": 201
      },
      "input": {
        "locationName": "CreateTrafficPolicyRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "Name",
          "Document"
        ],
        "members": {
          "Name": {
            "shape": "S2v"
          },
          "Document": {
            "shape": "S2w"
          },
          "Comment": {
            "shape": "S2x"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicy",
          "Location"
        ],
        "members": {
          "TrafficPolicy": {
            "shape": "S2z"
          },
          "Location": {
            "shape": "S2d",
            "location": "header",
            "locationName": "Location"
          }
        }
      }
    },
    "CreateTrafficPolicyInstance": {
      "http": {
        "requestUri": "/2013-04-01/trafficpolicyinstance",
        "responseCode": 201
      },
      "input": {
        "locationName": "CreateTrafficPolicyInstanceRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "HostedZoneId",
          "Name",
          "TTL",
          "TrafficPolicyId",
          "TrafficPolicyVersion"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2"
          },
          "Name": {
            "shape": "Si"
          },
          "TTL": {
            "shape": "St"
          },
          "TrafficPolicyId": {
            "shape": "S30"
          },
          "TrafficPolicyVersion": {
            "shape": "S31"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicyInstance",
          "Location"
        ],
        "members": {
          "TrafficPolicyInstance": {
            "shape": "S34"
          },
          "Location": {
            "shape": "S2d",
            "location": "header",
            "locationName": "Location"
          }
        }
      }
    },
    "CreateTrafficPolicyVersion": {
      "http": {
        "requestUri": "/2013-04-01/trafficpolicy/{Id}",
        "responseCode": 201
      },
      "input": {
        "locationName": "CreateTrafficPolicyVersionRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "Id",
          "Document"
        ],
        "members": {
          "Id": {
            "shape": "S30",
            "location": "uri",
            "locationName": "Id"
          },
          "Document": {
            "shape": "S2w"
          },
          "Comment": {
            "shape": "S2x"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicy",
          "Location"
        ],
        "members": {
          "TrafficPolicy": {
            "shape": "S2z"
          },
          "Location": {
            "shape": "S2d",
            "location": "header",
            "locationName": "Location"
          }
        }
      }
    },
    "CreateVPCAssociationAuthorization": {
      "http": {
        "requestUri": "/2013-04-01/hostedzone/{Id}/authorizevpcassociation"
      },
      "input": {
        "locationName": "CreateVPCAssociationAuthorizationRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "HostedZoneId",
          "VPC"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          },
          "VPC": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HostedZoneId",
          "VPC"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2"
          },
          "VPC": {
            "shape": "S3"
          }
        }
      }
    },
    "DeleteHealthCheck": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2013-04-01/healthcheck/{HealthCheckId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "HealthCheckId"
        ],
        "members": {
          "HealthCheckId": {
            "shape": "Sz",
            "location": "uri",
            "locationName": "HealthCheckId"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteHostedZone": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2013-04-01/hostedzone/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ChangeInfo"
        ],
        "members": {
          "ChangeInfo": {
            "shape": "S8"
          }
        }
      }
    },
    "DeleteQueryLoggingConfig": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2013-04-01/queryloggingconfig/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2r",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteReusableDelegationSet": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2013-04-01/delegationset/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrafficPolicy": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2013-04-01/trafficpolicy/{Id}/{Version}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "Version"
        ],
        "members": {
          "Id": {
            "shape": "S30",
            "location": "uri",
            "locationName": "Id"
          },
          "Version": {
            "shape": "S31",
            "location": "uri",
            "locationName": "Version"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrafficPolicyInstance": {
      "http": {
        "method": "DELETE",
        "requestUri": "/2013-04-01/trafficpolicyinstance/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S10",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteVPCAssociationAuthorization": {
      "http": {
        "requestUri": "/2013-04-01/hostedzone/{Id}/deauthorizevpcassociation"
      },
      "input": {
        "locationName": "DeleteVPCAssociationAuthorizationRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "HostedZoneId",
          "VPC"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          },
          "VPC": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateVPCFromHostedZone": {
      "http": {
        "requestUri": "/2013-04-01/hostedzone/{Id}/disassociatevpc"
      },
      "input": {
        "locationName": "DisassociateVPCFromHostedZoneRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "HostedZoneId",
          "VPC"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          },
          "VPC": {
            "shape": "S3"
          },
          "Comment": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ChangeInfo"
        ],
        "members": {
          "ChangeInfo": {
            "shape": "S8"
          }
        }
      }
    },
    "GetAccountLimit": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/accountlimit/{Type}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Type"
        ],
        "members": {
          "Type": {
            "shape": "S3t",
            "location": "uri",
            "locationName": "Type"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Limit",
          "Count"
        ],
        "members": {
          "Limit": {
            "type": "structure",
            "required": [
              "Type",
              "Value"
            ],
            "members": {
              "Type": {
                "shape": "S3t"
              },
              "Value": {
                "shape": "S3w"
              }
            }
          },
          "Count": {
            "shape": "S3x"
          }
        }
      }
    },
    "GetChange": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/change/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ChangeInfo"
        ],
        "members": {
          "ChangeInfo": {
            "shape": "S8"
          }
        }
      }
    },
    "GetCheckerIpRanges": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/checkeripranges"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "CheckerIpRanges"
        ],
        "members": {
          "CheckerIpRanges": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "GetGeoLocation": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/geolocation"
      },
      "input": {
        "type": "structure",
        "members": {
          "ContinentCode": {
            "shape": "So",
            "location": "querystring",
            "locationName": "continentcode"
          },
          "CountryCode": {
            "shape": "Sp",
            "location": "querystring",
            "locationName": "countrycode"
          },
          "SubdivisionCode": {
            "shape": "Sq",
            "location": "querystring",
            "locationName": "subdivisioncode"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "GeoLocationDetails"
        ],
        "members": {
          "GeoLocationDetails": {
            "shape": "S46"
          }
        }
      }
    },
    "GetHealthCheck": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/healthcheck/{HealthCheckId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "HealthCheckId"
        ],
        "members": {
          "HealthCheckId": {
            "shape": "Sz",
            "location": "uri",
            "locationName": "HealthCheckId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HealthCheck"
        ],
        "members": {
          "HealthCheck": {
            "shape": "S1y"
          }
        }
      }
    },
    "GetHealthCheckCount": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/healthcheckcount"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "HealthCheckCount"
        ],
        "members": {
          "HealthCheckCount": {
            "type": "long"
          }
        }
      }
    },
    "GetHealthCheckLastFailureReason": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/healthcheck/{HealthCheckId}/lastfailurereason"
      },
      "input": {
        "type": "structure",
        "required": [
          "HealthCheckId"
        ],
        "members": {
          "HealthCheckId": {
            "shape": "Sz",
            "location": "uri",
            "locationName": "HealthCheckId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HealthCheckObservations"
        ],
        "members": {
          "HealthCheckObservations": {
            "shape": "S4h"
          }
        }
      }
    },
    "GetHealthCheckStatus": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/healthcheck/{HealthCheckId}/status"
      },
      "input": {
        "type": "structure",
        "required": [
          "HealthCheckId"
        ],
        "members": {
          "HealthCheckId": {
            "shape": "Sz",
            "location": "uri",
            "locationName": "HealthCheckId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HealthCheckObservations"
        ],
        "members": {
          "HealthCheckObservations": {
            "shape": "S4h"
          }
        }
      }
    },
    "GetHostedZone": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/hostedzone/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HostedZone"
        ],
        "members": {
          "HostedZone": {
            "shape": "S2j"
          },
          "DelegationSet": {
            "shape": "S2l"
          },
          "VPCs": {
            "shape": "S4p"
          }
        }
      }
    },
    "GetHostedZoneCount": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/hostedzonecount"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "HostedZoneCount"
        ],
        "members": {
          "HostedZoneCount": {
            "type": "long"
          }
        }
      }
    },
    "GetHostedZoneLimit": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/hostedzonelimit/{Id}/{Type}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Type",
          "HostedZoneId"
        ],
        "members": {
          "Type": {
            "shape": "S4u",
            "location": "uri",
            "locationName": "Type"
          },
          "HostedZoneId": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Limit",
          "Count"
        ],
        "members": {
          "Limit": {
            "type": "structure",
            "required": [
              "Type",
              "Value"
            ],
            "members": {
              "Type": {
                "shape": "S4u"
              },
              "Value": {
                "shape": "S3w"
              }
            }
          },
          "Count": {
            "shape": "S3x"
          }
        }
      }
    },
    "GetQueryLoggingConfig": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/queryloggingconfig/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2r",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "QueryLoggingConfig"
        ],
        "members": {
          "QueryLoggingConfig": {
            "shape": "S2q"
          }
        }
      }
    },
    "GetReusableDelegationSet": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/delegationset/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DelegationSet"
        ],
        "members": {
          "DelegationSet": {
            "shape": "S2l"
          }
        }
      }
    },
    "GetReusableDelegationSetLimit": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/reusabledelegationsetlimit/{Id}/{Type}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Type",
          "DelegationSetId"
        ],
        "members": {
          "Type": {
            "shape": "S52",
            "location": "uri",
            "locationName": "Type"
          },
          "DelegationSetId": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Limit",
          "Count"
        ],
        "members": {
          "Limit": {
            "type": "structure",
            "required": [
              "Type",
              "Value"
            ],
            "members": {
              "Type": {
                "shape": "S52"
              },
              "Value": {
                "shape": "S3w"
              }
            }
          },
          "Count": {
            "shape": "S3x"
          }
        }
      }
    },
    "GetTrafficPolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/trafficpolicy/{Id}/{Version}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id",
          "Version"
        ],
        "members": {
          "Id": {
            "shape": "S30",
            "location": "uri",
            "locationName": "Id"
          },
          "Version": {
            "shape": "S31",
            "location": "uri",
            "locationName": "Version"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicy"
        ],
        "members": {
          "TrafficPolicy": {
            "shape": "S2z"
          }
        }
      }
    },
    "GetTrafficPolicyInstance": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/trafficpolicyinstance/{Id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S10",
            "location": "uri",
            "locationName": "Id"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicyInstance"
        ],
        "members": {
          "TrafficPolicyInstance": {
            "shape": "S34"
          }
        }
      }
    },
    "GetTrafficPolicyInstanceCount": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/trafficpolicyinstancecount"
      },
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicyInstanceCount"
        ],
        "members": {
          "TrafficPolicyInstanceCount": {
            "type": "integer"
          }
        }
      }
    },
    "ListGeoLocations": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/geolocations"
      },
      "input": {
        "type": "structure",
        "members": {
          "StartContinentCode": {
            "shape": "So",
            "location": "querystring",
            "locationName": "startcontinentcode"
          },
          "StartCountryCode": {
            "shape": "Sp",
            "location": "querystring",
            "locationName": "startcountrycode"
          },
          "StartSubdivisionCode": {
            "shape": "Sq",
            "location": "querystring",
            "locationName": "startsubdivisioncode"
          },
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxitems"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "GeoLocationDetailsList",
          "IsTruncated",
          "MaxItems"
        ],
        "members": {
          "GeoLocationDetailsList": {
            "type": "list",
            "member": {
              "shape": "S46",
              "locationName": "GeoLocationDetails"
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "NextContinentCode": {
            "shape": "So"
          },
          "NextCountryCode": {
            "shape": "Sp"
          },
          "NextSubdivisionCode": {
            "shape": "Sq"
          },
          "MaxItems": {}
        }
      }
    },
    "ListHealthChecks": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/healthcheck"
      },
      "input": {
        "type": "structure",
        "members": {
          "Marker": {
            "shape": "S5i",
            "location": "querystring",
            "locationName": "marker"
          },
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxitems"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HealthChecks",
          "Marker",
          "IsTruncated",
          "MaxItems"
        ],
        "members": {
          "HealthChecks": {
            "type": "list",
            "member": {
              "shape": "S1y",
              "locationName": "HealthCheck"
            }
          },
          "Marker": {
            "shape": "S5i"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "NextMarker": {
            "shape": "S5i"
          },
          "MaxItems": {}
        }
      }
    },
    "ListHostedZones": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/hostedzone"
      },
      "input": {
        "type": "structure",
        "members": {
          "Marker": {
            "shape": "S5i",
            "location": "querystring",
            "locationName": "marker"
          },
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxitems"
          },
          "DelegationSetId": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "delegationsetid"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HostedZones",
          "Marker",
          "IsTruncated",
          "MaxItems"
        ],
        "members": {
          "HostedZones": {
            "shape": "S5n"
          },
          "Marker": {
            "shape": "S5i"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "NextMarker": {
            "shape": "S5i"
          },
          "MaxItems": {}
        }
      }
    },
    "ListHostedZonesByName": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/hostedzonesbyname"
      },
      "input": {
        "type": "structure",
        "members": {
          "DNSName": {
            "shape": "Si",
            "location": "querystring",
            "locationName": "dnsname"
          },
          "HostedZoneId": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "hostedzoneid"
          },
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxitems"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HostedZones",
          "IsTruncated",
          "MaxItems"
        ],
        "members": {
          "HostedZones": {
            "shape": "S5n"
          },
          "DNSName": {
            "shape": "Si"
          },
          "HostedZoneId": {
            "shape": "S2"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "NextDNSName": {
            "shape": "Si"
          },
          "NextHostedZoneId": {
            "shape": "S2"
          },
          "MaxItems": {}
        }
      }
    },
    "ListQueryLoggingConfigs": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/queryloggingconfig"
      },
      "input": {
        "type": "structure",
        "members": {
          "HostedZoneId": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "hostedzoneid"
          },
          "NextToken": {
            "shape": "S5r",
            "location": "querystring",
            "locationName": "nexttoken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxresults"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "QueryLoggingConfigs"
        ],
        "members": {
          "QueryLoggingConfigs": {
            "type": "list",
            "member": {
              "shape": "S2q",
              "locationName": "QueryLoggingConfig"
            }
          },
          "NextToken": {
            "shape": "S5r"
          }
        }
      }
    },
    "ListResourceRecordSets": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/hostedzone/{Id}/rrset"
      },
      "input": {
        "type": "structure",
        "required": [
          "HostedZoneId"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          },
          "StartRecordName": {
            "shape": "Si",
            "location": "querystring",
            "locationName": "name"
          },
          "StartRecordType": {
            "shape": "Sj",
            "location": "querystring",
            "locationName": "type"
          },
          "StartRecordIdentifier": {
            "shape": "Sk",
            "location": "querystring",
            "locationName": "identifier"
          },
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxitems"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResourceRecordSets",
          "IsTruncated",
          "MaxItems"
        ],
        "members": {
          "ResourceRecordSets": {
            "type": "list",
            "member": {
              "shape": "Sh",
              "locationName": "ResourceRecordSet"
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "NextRecordName": {
            "shape": "Si"
          },
          "NextRecordType": {
            "shape": "Sj"
          },
          "NextRecordIdentifier": {
            "shape": "Sk"
          },
          "MaxItems": {}
        }
      }
    },
    "ListReusableDelegationSets": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/delegationset"
      },
      "input": {
        "type": "structure",
        "members": {
          "Marker": {
            "shape": "S5i",
            "location": "querystring",
            "locationName": "marker"
          },
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxitems"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DelegationSets",
          "Marker",
          "IsTruncated",
          "MaxItems"
        ],
        "members": {
          "DelegationSets": {
            "type": "list",
            "member": {
              "shape": "S2l",
              "locationName": "DelegationSet"
            }
          },
          "Marker": {
            "shape": "S5i"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "NextMarker": {
            "shape": "S5i"
          },
          "MaxItems": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/tags/{ResourceType}/{ResourceId}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceType",
          "ResourceId"
        ],
        "members": {
          "ResourceType": {
            "shape": "S13",
            "location": "uri",
            "locationName": "ResourceType"
          },
          "ResourceId": {
            "shape": "S14",
            "location": "uri",
            "locationName": "ResourceId"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResourceTagSet"
        ],
        "members": {
          "ResourceTagSet": {
            "shape": "S63"
          }
        }
      }
    },
    "ListTagsForResources": {
      "http": {
        "requestUri": "/2013-04-01/tags/{ResourceType}"
      },
      "input": {
        "locationName": "ListTagsForResourcesRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "ResourceType",
          "ResourceIds"
        ],
        "members": {
          "ResourceType": {
            "shape": "S13",
            "location": "uri",
            "locationName": "ResourceType"
          },
          "ResourceIds": {
            "type": "list",
            "member": {
              "shape": "S14",
              "locationName": "ResourceId"
            },
            "max": 10,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResourceTagSets"
        ],
        "members": {
          "ResourceTagSets": {
            "type": "list",
            "member": {
              "shape": "S63",
              "locationName": "ResourceTagSet"
            }
          }
        }
      }
    },
    "ListTrafficPolicies": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/trafficpolicies"
      },
      "input": {
        "type": "structure",
        "members": {
          "TrafficPolicyIdMarker": {
            "shape": "S30",
            "location": "querystring",
            "locationName": "trafficpolicyid"
          },
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxitems"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicySummaries",
          "IsTruncated",
          "TrafficPolicyIdMarker",
          "MaxItems"
        ],
        "members": {
          "TrafficPolicySummaries": {
            "type": "list",
            "member": {
              "locationName": "TrafficPolicySummary",
              "type": "structure",
              "required": [
                "Id",
                "Name",
                "Type",
                "LatestVersion",
                "TrafficPolicyCount"
              ],
              "members": {
                "Id": {
                  "shape": "S30"
                },
                "Name": {
                  "shape": "S2v"
                },
                "Type": {
                  "shape": "Sj"
                },
                "LatestVersion": {
                  "shape": "S31"
                },
                "TrafficPolicyCount": {
                  "shape": "S31"
                }
              }
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "TrafficPolicyIdMarker": {
            "shape": "S30"
          },
          "MaxItems": {}
        }
      }
    },
    "ListTrafficPolicyInstances": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/trafficpolicyinstances"
      },
      "input": {
        "type": "structure",
        "members": {
          "HostedZoneIdMarker": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "hostedzoneid"
          },
          "TrafficPolicyInstanceNameMarker": {
            "shape": "Si",
            "location": "querystring",
            "locationName": "trafficpolicyinstancename"
          },
          "TrafficPolicyInstanceTypeMarker": {
            "shape": "Sj",
            "location": "querystring",
            "locationName": "trafficpolicyinstancetype"
          },
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxitems"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicyInstances",
          "IsTruncated",
          "MaxItems"
        ],
        "members": {
          "TrafficPolicyInstances": {
            "shape": "S6e"
          },
          "HostedZoneIdMarker": {
            "shape": "S2"
          },
          "TrafficPolicyInstanceNameMarker": {
            "shape": "Si"
          },
          "TrafficPolicyInstanceTypeMarker": {
            "shape": "Sj"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "MaxItems": {}
        }
      }
    },
    "ListTrafficPolicyInstancesByHostedZone": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/trafficpolicyinstances/hostedzone"
      },
      "input": {
        "type": "structure",
        "required": [
          "HostedZoneId"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "id"
          },
          "TrafficPolicyInstanceNameMarker": {
            "shape": "Si",
            "location": "querystring",
            "locationName": "trafficpolicyinstancename"
          },
          "TrafficPolicyInstanceTypeMarker": {
            "shape": "Sj",
            "location": "querystring",
            "locationName": "trafficpolicyinstancetype"
          },
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxitems"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicyInstances",
          "IsTruncated",
          "MaxItems"
        ],
        "members": {
          "TrafficPolicyInstances": {
            "shape": "S6e"
          },
          "TrafficPolicyInstanceNameMarker": {
            "shape": "Si"
          },
          "TrafficPolicyInstanceTypeMarker": {
            "shape": "Sj"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "MaxItems": {}
        }
      }
    },
    "ListTrafficPolicyInstancesByPolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/trafficpolicyinstances/trafficpolicy"
      },
      "input": {
        "type": "structure",
        "required": [
          "TrafficPolicyId",
          "TrafficPolicyVersion"
        ],
        "members": {
          "TrafficPolicyId": {
            "shape": "S30",
            "location": "querystring",
            "locationName": "id"
          },
          "TrafficPolicyVersion": {
            "shape": "S31",
            "location": "querystring",
            "locationName": "version"
          },
          "HostedZoneIdMarker": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "hostedzoneid"
          },
          "TrafficPolicyInstanceNameMarker": {
            "shape": "Si",
            "location": "querystring",
            "locationName": "trafficpolicyinstancename"
          },
          "TrafficPolicyInstanceTypeMarker": {
            "shape": "Sj",
            "location": "querystring",
            "locationName": "trafficpolicyinstancetype"
          },
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxitems"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicyInstances",
          "IsTruncated",
          "MaxItems"
        ],
        "members": {
          "TrafficPolicyInstances": {
            "shape": "S6e"
          },
          "HostedZoneIdMarker": {
            "shape": "S2"
          },
          "TrafficPolicyInstanceNameMarker": {
            "shape": "Si"
          },
          "TrafficPolicyInstanceTypeMarker": {
            "shape": "Sj"
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "MaxItems": {}
        }
      }
    },
    "ListTrafficPolicyVersions": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/trafficpolicies/{Id}/versions"
      },
      "input": {
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S30",
            "location": "uri",
            "locationName": "Id"
          },
          "TrafficPolicyVersionMarker": {
            "shape": "S6k",
            "location": "querystring",
            "locationName": "trafficpolicyversion"
          },
          "MaxItems": {
            "location": "querystring",
            "locationName": "maxitems"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicies",
          "IsTruncated",
          "TrafficPolicyVersionMarker",
          "MaxItems"
        ],
        "members": {
          "TrafficPolicies": {
            "type": "list",
            "member": {
              "shape": "S2z",
              "locationName": "TrafficPolicy"
            }
          },
          "IsTruncated": {
            "type": "boolean"
          },
          "TrafficPolicyVersionMarker": {
            "shape": "S6k"
          },
          "MaxItems": {}
        }
      }
    },
    "ListVPCAssociationAuthorizations": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/hostedzone/{Id}/authorizevpcassociation"
      },
      "input": {
        "type": "structure",
        "required": [
          "HostedZoneId"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          },
          "NextToken": {
            "shape": "S5r",
            "location": "querystring",
            "locationName": "nexttoken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxresults"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HostedZoneId",
          "VPCs"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2"
          },
          "NextToken": {
            "shape": "S5r"
          },
          "VPCs": {
            "shape": "S4p"
          }
        }
      }
    },
    "TestDNSAnswer": {
      "http": {
        "method": "GET",
        "requestUri": "/2013-04-01/testdnsanswer"
      },
      "input": {
        "type": "structure",
        "required": [
          "HostedZoneId",
          "RecordName",
          "RecordType"
        ],
        "members": {
          "HostedZoneId": {
            "shape": "S2",
            "location": "querystring",
            "locationName": "hostedzoneid"
          },
          "RecordName": {
            "shape": "Si",
            "location": "querystring",
            "locationName": "recordname"
          },
          "RecordType": {
            "shape": "Sj",
            "location": "querystring",
            "locationName": "recordtype"
          },
          "ResolverIP": {
            "shape": "S1e",
            "location": "querystring",
            "locationName": "resolverip"
          },
          "EDNS0ClientSubnetIP": {
            "shape": "S1e",
            "location": "querystring",
            "locationName": "edns0clientsubnetip"
          },
          "EDNS0ClientSubnetMask": {
            "location": "querystring",
            "locationName": "edns0clientsubnetmask",
            "type": "string",
            "max": 3,
            "min": 0
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Nameserver",
          "RecordName",
          "RecordType",
          "RecordData",
          "ResponseCode",
          "Protocol"
        ],
        "members": {
          "Nameserver": {
            "type": "string",
            "max": 255,
            "min": 0
          },
          "RecordName": {
            "shape": "Si"
          },
          "RecordType": {
            "shape": "Sj"
          },
          "RecordData": {
            "type": "list",
            "member": {
              "locationName": "RecordDataEntry",
              "type": "string",
              "max": 512,
              "min": 0
            }
          },
          "ResponseCode": {},
          "Protocol": {}
        }
      }
    },
    "UpdateHealthCheck": {
      "http": {
        "requestUri": "/2013-04-01/healthcheck/{HealthCheckId}"
      },
      "input": {
        "locationName": "UpdateHealthCheckRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "HealthCheckId"
        ],
        "members": {
          "HealthCheckId": {
            "shape": "Sz",
            "location": "uri",
            "locationName": "HealthCheckId"
          },
          "HealthCheckVersion": {
            "shape": "S21"
          },
          "IPAddress": {
            "shape": "S1e"
          },
          "Port": {
            "shape": "S1f"
          },
          "ResourcePath": {
            "shape": "S1h"
          },
          "FullyQualifiedDomainName": {
            "shape": "S1i"
          },
          "SearchString": {
            "shape": "S1j"
          },
          "FailureThreshold": {
            "shape": "S1l"
          },
          "Inverted": {
            "type": "boolean"
          },
          "HealthThreshold": {
            "shape": "S1o"
          },
          "ChildHealthChecks": {
            "shape": "S1p"
          },
          "EnableSNI": {
            "type": "boolean"
          },
          "Regions": {
            "shape": "S1r"
          },
          "AlarmIdentifier": {
            "shape": "S1t"
          },
          "InsufficientDataHealthStatus": {
            "shape": "S1w"
          },
          "ResetElements": {
            "type": "list",
            "member": {
              "locationName": "ResettableElementName",
              "type": "string",
              "enum": [
                "FullyQualifiedDomainName",
                "Regions",
                "ResourcePath",
                "ChildHealthChecks"
              ],
              "max": 64,
              "min": 1
            },
            "max": 64
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HealthCheck"
        ],
        "members": {
          "HealthCheck": {
            "shape": "S1y"
          }
        }
      }
    },
    "UpdateHostedZoneComment": {
      "http": {
        "requestUri": "/2013-04-01/hostedzone/{Id}"
      },
      "input": {
        "locationName": "UpdateHostedZoneCommentRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "S2",
            "location": "uri",
            "locationName": "Id"
          },
          "Comment": {
            "shape": "Sb"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HostedZone"
        ],
        "members": {
          "HostedZone": {
            "shape": "S2j"
          }
        }
      }
    },
    "UpdateTrafficPolicyComment": {
      "http": {
        "requestUri": "/2013-04-01/trafficpolicy/{Id}/{Version}"
      },
      "input": {
        "locationName": "UpdateTrafficPolicyCommentRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "Id",
          "Version",
          "Comment"
        ],
        "members": {
          "Id": {
            "shape": "S30",
            "location": "uri",
            "locationName": "Id"
          },
          "Version": {
            "shape": "S31",
            "location": "uri",
            "locationName": "Version"
          },
          "Comment": {
            "shape": "S2x"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicy"
        ],
        "members": {
          "TrafficPolicy": {
            "shape": "S2z"
          }
        }
      }
    },
    "UpdateTrafficPolicyInstance": {
      "http": {
        "requestUri": "/2013-04-01/trafficpolicyinstance/{Id}"
      },
      "input": {
        "locationName": "UpdateTrafficPolicyInstanceRequest",
        "xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        },
        "type": "structure",
        "required": [
          "Id",
          "TTL",
          "TrafficPolicyId",
          "TrafficPolicyVersion"
        ],
        "members": {
          "Id": {
            "shape": "S10",
            "location": "uri",
            "locationName": "Id"
          },
          "TTL": {
            "shape": "St"
          },
          "TrafficPolicyId": {
            "shape": "S30"
          },
          "TrafficPolicyVersion": {
            "shape": "S31"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrafficPolicyInstance"
        ],
        "members": {
          "TrafficPolicyInstance": {
            "shape": "S34"
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 32
    },
    "S3": {
      "type": "structure",
      "members": {
        "VPCRegion": {
          "type": "string",
          "enum": [
            "us-east-1",
            "us-east-2",
            "us-west-1",
            "us-west-2",
            "eu-west-1",
            "eu-west-2",
            "eu-west-3",
            "eu-central-1",
            "ap-southeast-1",
            "ap-southeast-2",
            "ap-south-1",
            "ap-northeast-1",
            "ap-northeast-2",
            "ap-northeast-3",
            "sa-east-1",
            "ca-central-1",
            "cn-north-1"
          ],
          "max": 64,
          "min": 1
        },
        "VPCId": {
          "type": "string",
          "max": 1024
        }
      }
    },
    "S8": {
      "type": "structure",
      "required": [
        "Id",
        "Status",
        "SubmittedAt"
      ],
      "members": {
        "Id": {
          "shape": "S2"
        },
        "Status": {
          "type": "string",
          "enum": [
            "PENDING",
            "INSYNC"
          ]
        },
        "SubmittedAt": {
          "type": "timestamp"
        },
        "Comment": {
          "shape": "Sb"
        }
      }
    },
    "Sb": {
      "type": "string",
      "max": 256
    },
    "Sh": {
      "type": "structure",
      "required": [
        "Name",
        "Type"
      ],
      "members": {
        "Name": {
          "shape": "Si"
        },
        "Type": {
          "shape": "Sj"
        },
        "SetIdentifier": {
          "shape": "Sk"
        },
        "Weight": {
          "type": "long",
          "max": 255,
          "min": 0
        },
        "Region": {
          "type": "string",
          "enum": [
            "us-east-1",
            "us-east-2",
            "us-west-1",
            "us-west-2",
            "ca-central-1",
            "eu-west-1",
            "eu-west-2",
            "eu-west-3",
            "eu-central-1",
            "ap-southeast-1",
            "ap-southeast-2",
            "ap-northeast-1",
            "ap-northeast-2",
            "ap-northeast-3",
            "sa-east-1",
            "cn-north-1",
            "cn-northwest-1",
            "ap-south-1"
          ],
          "max": 64,
          "min": 1
        },
        "GeoLocation": {
          "type": "structure",
          "members": {
            "ContinentCode": {
              "shape": "So"
            },
            "CountryCode": {
              "shape": "Sp"
            },
            "SubdivisionCode": {
              "shape": "Sq"
            }
          }
        },
        "Failover": {
          "type": "string",
          "enum": [
            "PRIMARY",
            "SECONDARY"
          ]
        },
        "MultiValueAnswer": {
          "type": "boolean"
        },
        "TTL": {
          "shape": "St"
        },
        "ResourceRecords": {
          "type": "list",
          "member": {
            "locationName": "ResourceRecord",
            "type": "structure",
            "required": [
              "Value"
            ],
            "members": {
              "Value": {
                "type": "string",
                "max": 4000
              }
            }
          },
          "min": 1
        },
        "AliasTarget": {
          "type": "structure",
          "required": [
            "HostedZoneId",
            "DNSName",
            "EvaluateTargetHealth"
          ],
          "members": {
            "HostedZoneId": {
              "shape": "S2"
            },
            "DNSName": {
              "shape": "Si"
            },
            "EvaluateTargetHealth": {
              "type": "boolean"
            }
          }
        },
        "HealthCheckId": {
          "shape": "Sz"
        },
        "TrafficPolicyInstanceId": {
          "shape": "S10"
        }
      }
    },
    "Si": {
      "type": "string",
      "max": 1024
    },
    "Sj": {
      "type": "string",
      "enum": [
        "SOA",
        "A",
        "TXT",
        "NS",
        "CNAME",
        "MX",
        "NAPTR",
        "PTR",
        "SRV",
        "SPF",
        "AAAA",
        "CAA"
      ]
    },
    "Sk": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "So": {
      "type": "string",
      "max": 2,
      "min": 2
    },
    "Sp": {
      "type": "string",
      "max": 2,
      "min": 1
    },
    "Sq": {
      "type": "string",
      "max": 3,
      "min": 1
    },
    "St": {
      "type": "long",
      "max": 2147483647,
      "min": 0
    },
    "Sz": {
      "type": "string",
      "max": 64
    },
    "S10": {
      "type": "string",
      "max": 36,
      "min": 1
    },
    "S13": {
      "type": "string",
      "enum": [
        "healthcheck",
        "hostedzone"
      ]
    },
    "S14": {
      "type": "string",
      "max": 64
    },
    "S15": {
      "type": "list",
      "member": {
        "locationName": "Tag",
        "type": "structure",
        "members": {
          "Key": {
            "shape": "S17"
          },
          "Value": {
            "type": "string",
            "max": 256
          }
        }
      },
      "max": 10,
      "min": 1
    },
    "S17": {
      "type": "string",
      "max": 128
    },
    "S1c": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "S1d": {
      "type": "structure",
      "required": [
        "Type"
      ],
      "members": {
        "IPAddress": {
          "shape": "S1e"
        },
        "Port": {
          "shape": "S1f"
        },
        "Type": {
          "type": "string",
          "enum": [
            "HTTP",
            "HTTPS",
            "HTTP_STR_MATCH",
            "HTTPS_STR_MATCH",
            "TCP",
            "CALCULATED",
            "CLOUDWATCH_METRIC"
          ]
        },
        "ResourcePath": {
          "shape": "S1h"
        },
        "FullyQualifiedDomainName": {
          "shape": "S1i"
        },
        "SearchString": {
          "shape": "S1j"
        },
        "RequestInterval": {
          "type": "integer",
          "max": 30,
          "min": 10
        },
        "FailureThreshold": {
          "shape": "S1l"
        },
        "MeasureLatency": {
          "type": "boolean"
        },
        "Inverted": {
          "type": "boolean"
        },
        "HealthThreshold": {
          "shape": "S1o"
        },
        "ChildHealthChecks": {
          "shape": "S1p"
        },
        "EnableSNI": {
          "type": "boolean"
        },
        "Regions": {
          "shape": "S1r"
        },
        "AlarmIdentifier": {
          "shape": "S1t"
        },
        "InsufficientDataHealthStatus": {
          "shape": "S1w"
        }
      }
    },
    "S1e": {
      "type": "string",
      "max": 45,
      "pattern": "(^((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))$|^(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))$)"
    },
    "S1f": {
      "type": "integer",
      "max": 65535,
      "min": 1
    },
    "S1h": {
      "type": "string",
      "max": 255
    },
    "S1i": {
      "type": "string",
      "max": 255
    },
    "S1j": {
      "type": "string",
      "max": 255
    },
    "S1l": {
      "type": "integer",
      "max": 10,
      "min": 1
    },
    "S1o": {
      "type": "integer",
      "max": 256,
      "min": 0
    },
    "S1p": {
      "type": "list",
      "member": {
        "shape": "Sz",
        "locationName": "ChildHealthCheck"
      },
      "max": 256
    },
    "S1r": {
      "type": "list",
      "member": {
        "shape": "S1s",
        "locationName": "Region"
      },
      "max": 64,
      "min": 3
    },
    "S1s": {
      "type": "string",
      "enum": [
        "us-east-1",
        "us-west-1",
        "us-west-2",
        "eu-west-1",
        "ap-southeast-1",
        "ap-southeast-2",
        "ap-northeast-1",
        "sa-east-1"
      ],
      "max": 64,
      "min": 1
    },
    "S1t": {
      "type": "structure",
      "required": [
        "Region",
        "Name"
      ],
      "members": {
        "Region": {
          "type": "string",
          "enum": [
            "us-east-1",
            "us-east-2",
            "us-west-1",
            "us-west-2",
            "ca-central-1",
            "eu-central-1",
            "eu-west-1",
            "eu-west-2",
            "eu-west-3",
            "ap-south-1",
            "ap-southeast-1",
            "ap-southeast-2",
            "ap-northeast-1",
            "ap-northeast-2",
            "ap-northeast-3",
            "sa-east-1"
          ],
          "max": 64,
          "min": 1
        },
        "Name": {
          "type": "string",
          "max": 256,
          "min": 1
        }
      }
    },
    "S1w": {
      "type": "string",
      "enum": [
        "Healthy",
        "Unhealthy",
        "LastKnownStatus"
      ]
    },
    "S1y": {
      "type": "structure",
      "required": [
        "Id",
        "CallerReference",
        "HealthCheckConfig",
        "HealthCheckVersion"
      ],
      "members": {
        "Id": {
          "shape": "Sz"
        },
        "CallerReference": {
          "shape": "S1c"
        },
        "LinkedService": {
          "shape": "S1z"
        },
        "HealthCheckConfig": {
          "shape": "S1d"
        },
        "HealthCheckVersion": {
          "shape": "S21"
        },
        "CloudWatchAlarmConfiguration": {
          "type": "structure",
          "required": [
            "EvaluationPeriods",
            "Threshold",
            "ComparisonOperator",
            "Period",
            "MetricName",
            "Namespace",
            "Statistic"
          ],
          "members": {
            "EvaluationPeriods": {
              "type": "integer",
              "min": 1
            },
            "Threshold": {
              "type": "double"
            },
            "ComparisonOperator": {
              "type": "string",
              "enum": [
                "GreaterThanOrEqualToThreshold",
                "GreaterThanThreshold",
                "LessThanThreshold",
                "LessThanOrEqualToThreshold"
              ]
            },
            "Period": {
              "type": "integer",
              "min": 60
            },
            "MetricName": {
              "type": "string",
              "max": 255,
              "min": 1
            },
            "Namespace": {
              "type": "string",
              "max": 255,
              "min": 1
            },
            "Statistic": {
              "type": "string",
              "enum": [
                "Average",
                "Sum",
                "SampleCount",
                "Maximum",
                "Minimum"
              ]
            },
            "Dimensions": {
              "type": "list",
              "member": {
                "locationName": "Dimension",
                "type": "structure",
                "required": [
                  "Name",
                  "Value"
                ],
                "members": {
                  "Name": {
                    "shape": "S2c"
                  },
                  "Value": {
                    "shape": "S2c"
                  }
                }
              },
              "max": 10
            }
          }
        }
      }
    },
    "S1z": {
      "type": "structure",
      "members": {
        "ServicePrincipal": {
          "type": "string",
          "max": 128
        },
        "Description": {
          "shape": "Sb"
        }
      }
    },
    "S21": {
      "type": "long",
      "min": 1
    },
    "S2c": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "S2d": {
      "type": "string",
      "max": 1024
    },
    "S2f": {
      "type": "string",
      "max": 128,
      "min": 1
    },
    "S2g": {
      "type": "structure",
      "members": {
        "Comment": {
          "shape": "Sb"
        },
        "PrivateZone": {
          "type": "boolean"
        }
      }
    },
    "S2j": {
      "type": "structure",
      "required": [
        "Id",
        "Name",
        "CallerReference"
      ],
      "members": {
        "Id": {
          "shape": "S2"
        },
        "Name": {
          "shape": "Si"
        },
        "CallerReference": {
          "shape": "S2f"
        },
        "Config": {
          "shape": "S2g"
        },
        "ResourceRecordSetCount": {
          "type": "long"
        },
        "LinkedService": {
          "shape": "S1z"
        }
      }
    },
    "S2l": {
      "type": "structure",
      "required": [
        "NameServers"
      ],
      "members": {
        "Id": {
          "shape": "S2"
        },
        "CallerReference": {
          "shape": "S2f"
        },
        "NameServers": {
          "type": "list",
          "member": {
            "shape": "Si",
            "locationName": "NameServer"
          },
          "min": 1
        }
      }
    },
    "S2q": {
      "type": "structure",
      "required": [
        "Id",
        "HostedZoneId",
        "CloudWatchLogsLogGroupArn"
      ],
      "members": {
        "Id": {
          "shape": "S2r"
        },
        "HostedZoneId": {
          "shape": "S2"
        },
        "CloudWatchLogsLogGroupArn": {}
      }
    },
    "S2r": {
      "type": "string",
      "max": 36,
      "min": 1
    },
    "S2v": {
      "type": "string",
      "max": 512
    },
    "S2w": {
      "type": "string",
      "max": 102400
    },
    "S2x": {
      "type": "string",
      "max": 1024
    },
    "S2z": {
      "type": "structure",
      "required": [
        "Id",
        "Version",
        "Name",
        "Type",
        "Document"
      ],
      "members": {
        "Id": {
          "shape": "S30"
        },
        "Version": {
          "shape": "S31"
        },
        "Name": {
          "shape": "S2v"
        },
        "Type": {
          "shape": "Sj"
        },
        "Document": {
          "shape": "S2w"
        },
        "Comment": {
          "shape": "S2x"
        }
      }
    },
    "S30": {
      "type": "string",
      "max": 36,
      "min": 1
    },
    "S31": {
      "type": "integer",
      "max": 1000,
      "min": 1
    },
    "S34": {
      "type": "structure",
      "required": [
        "Id",
        "HostedZoneId",
        "Name",
        "TTL",
        "State",
        "Message",
        "TrafficPolicyId",
        "TrafficPolicyVersion",
        "TrafficPolicyType"
      ],
      "members": {
        "Id": {
          "shape": "S10"
        },
        "HostedZoneId": {
          "shape": "S2"
        },
        "Name": {
          "shape": "Si"
        },
        "TTL": {
          "shape": "St"
        },
        "State": {},
        "Message": {
          "type": "string",
          "max": 1024
        },
        "TrafficPolicyId": {
          "shape": "S30"
        },
        "TrafficPolicyVersion": {
          "shape": "S31"
        },
        "TrafficPolicyType": {
          "shape": "Sj"
        }
      }
    },
    "S3t": {
      "type": "string",
      "enum": [
        "MAX_HEALTH_CHECKS_BY_OWNER",
        "MAX_HOSTED_ZONES_BY_OWNER",
        "MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER",
        "MAX_REUSABLE_DELEGATION_SETS_BY_OWNER",
        "MAX_TRAFFIC_POLICIES_BY_OWNER"
      ]
    },
    "S3w": {
      "type": "long",
      "min": 1
    },
    "S3x": {
      "type": "long",
      "min": 0
    },
    "S46": {
      "type": "structure",
      "members": {
        "ContinentCode": {
          "shape": "So"
        },
        "ContinentName": {
          "type": "string",
          "max": 32,
          "min": 1
        },
        "CountryCode": {
          "shape": "Sp"
        },
        "CountryName": {
          "type": "string",
          "max": 64,
          "min": 1
        },
        "SubdivisionCode": {
          "shape": "Sq"
        },
        "SubdivisionName": {
          "type": "string",
          "max": 64,
          "min": 1
        }
      }
    },
    "S4h": {
      "type": "list",
      "member": {
        "locationName": "HealthCheckObservation",
        "type": "structure",
        "members": {
          "Region": {
            "shape": "S1s"
          },
          "IPAddress": {
            "shape": "S1e"
          },
          "StatusReport": {
            "type": "structure",
            "members": {
              "Status": {},
              "CheckedTime": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "S4p": {
      "type": "list",
      "member": {
        "shape": "S3",
        "locationName": "VPC"
      },
      "min": 1
    },
    "S4u": {
      "type": "string",
      "enum": [
        "MAX_RRSETS_BY_ZONE",
        "MAX_VPCS_ASSOCIATED_BY_ZONE"
      ]
    },
    "S52": {
      "type": "string",
      "enum": [
        "MAX_ZONES_BY_REUSABLE_DELEGATION_SET"
      ]
    },
    "S5i": {
      "type": "string",
      "max": 64
    },
    "S5n": {
      "type": "list",
      "member": {
        "shape": "S2j",
        "locationName": "HostedZone"
      }
    },
    "S5r": {
      "type": "string",
      "max": 256
    },
    "S63": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "shape": "S13"
        },
        "ResourceId": {
          "shape": "S14"
        },
        "Tags": {
          "shape": "S15"
        }
      }
    },
    "S6e": {
      "type": "list",
      "member": {
        "shape": "S34",
        "locationName": "TrafficPolicyInstance"
      }
    },
    "S6k": {
      "type": "string",
      "max": 4
    }
  }
}