{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2014-05-15",
    "endpointPrefix": "route53domains",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Route 53 Domains",
    "serviceId": "Route 53 Domains",
    "signatureVersion": "v4",
    "targetPrefix": "Route53Domains_v20140515",
    "uid": "route53domains-2014-05-15"
  },
  "operations": {
    "CheckDomainAvailability": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "IdnLangCode": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Availability"
        ],
        "members": {
          "Availability": {
            "type": "string",
            "enum": [
              "AVAILABLE",
              "AVAILABLE_RESERVED",
              "AVAILABLE_PREORDER",
              "UNAVAILABLE",
              "UNAVAILABLE_PREMIUM",
              "UNAVAILABLE_RESTRICTED",
              "RESERVED",
              "DONT_KNOW"
            ]
          }
        }
      }
    },
    "CheckDomainTransferability": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "AuthCode": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Transferability"
        ],
        "members": {
          "Transferability": {
            "type": "structure",
            "members": {
              "Transferable": {
                "type": "string",
                "enum": [
                  "TRANSFERABLE",
                  "UNTRANSFERABLE",
                  "DONT_KNOW"
                ]
              }
            }
          }
        }
      }
    },
    "DeleteTagsForDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "TagsToDelete"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "TagsToDelete": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableDomainAutoRenew": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisableDomainTransferLock": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "OperationId"
        ],
        "members": {
          "OperationId": {
            "shape": "Sj"
          }
        }
      }
    },
    "EnableDomainAutoRenew": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "EnableDomainTransferLock": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "OperationId"
        ],
        "members": {
          "OperationId": {
            "shape": "Sj"
          }
        }
      }
    },
    "GetContactReachabilityStatus": {
      "input": {
        "type": "structure",
        "members": {
          "domainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domainName": {
            "shape": "S2"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "DONE",
              "EXPIRED"
            ]
          }
        }
      }
    },
    "GetDomainDetail": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DomainName",
          "Nameservers",
          "AdminContact",
          "RegistrantContact",
          "TechContact"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "Nameservers": {
            "shape": "St"
          },
          "AutoRenew": {
            "type": "boolean"
          },
          "AdminContact": {
            "shape": "Sz"
          },
          "RegistrantContact": {
            "shape": "Sz"
          },
          "TechContact": {
            "shape": "Sz"
          },
          "AdminPrivacy": {
            "type": "boolean"
          },
          "RegistrantPrivacy": {
            "type": "boolean"
          },
          "TechPrivacy": {
            "type": "boolean"
          },
          "RegistrarName": {},
          "WhoIsServer": {},
          "RegistrarUrl": {},
          "AbuseContactEmail": {
            "shape": "S18"
          },
          "AbuseContactPhone": {
            "shape": "S17"
          },
          "RegistryDomainId": {},
          "CreationDate": {
            "type": "timestamp"
          },
          "UpdatedDate": {
            "type": "timestamp"
          },
          "ExpirationDate": {
            "type": "timestamp"
          },
          "Reseller": {},
          "DnsSec": {},
          "StatusList": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "GetDomainSuggestions": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "SuggestionCount",
          "OnlyAvailable"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "SuggestionCount": {
            "type": "integer"
          },
          "OnlyAvailable": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SuggestionsList": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DomainName": {
                  "shape": "S2"
                },
                "Availability": {}
              }
            }
          }
        }
      }
    },
    "GetOperationDetail": {
      "input": {
        "type": "structure",
        "required": [
          "OperationId"
        ],
        "members": {
          "OperationId": {
            "shape": "Sj"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "OperationId": {
            "shape": "Sj"
          },
          "Status": {
            "shape": "S1u"
          },
          "Message": {},
          "DomainName": {
            "shape": "S2"
          },
          "Type": {
            "shape": "S1w"
          },
          "SubmittedDate": {
            "type": "timestamp"
          }
        }
      }
    },
    "ListDomains": {
      "input": {
        "type": "structure",
        "members": {
          "Marker": {
            "shape": "S1y"
          },
          "MaxItems": {
            "shape": "S1z"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Domains"
        ],
        "members": {
          "Domains": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "DomainName"
              ],
              "members": {
                "DomainName": {
                  "shape": "S2"
                },
                "AutoRenew": {
                  "type": "boolean"
                },
                "TransferLock": {
                  "type": "boolean"
                },
                "Expiry": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextPageMarker": {
            "shape": "S1y"
          }
        }
      }
    },
    "ListOperations": {
      "input": {
        "type": "structure",
        "members": {
          "SubmittedSince": {
            "type": "timestamp"
          },
          "Marker": {
            "shape": "S1y"
          },
          "MaxItems": {
            "shape": "S1z"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Operations"
        ],
        "members": {
          "Operations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "OperationId",
                "Status",
                "Type",
                "SubmittedDate"
              ],
              "members": {
                "OperationId": {
                  "shape": "Sj"
                },
                "Status": {
                  "shape": "S1u"
                },
                "Type": {
                  "shape": "S1w"
                },
                "SubmittedDate": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextPageMarker": {
            "shape": "S1y"
          }
        }
      }
    },
    "ListTagsForDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TagList"
        ],
        "members": {
          "TagList": {
            "shape": "S29"
          }
        }
      }
    },
    "RegisterDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "DurationInYears",
          "AdminContact",
          "RegistrantContact",
          "TechContact"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "IdnLangCode": {
            "shape": "S3"
          },
          "DurationInYears": {
            "shape": "S2d"
          },
          "AutoRenew": {
            "type": "boolean"
          },
          "AdminContact": {
            "shape": "Sz"
          },
          "RegistrantContact": {
            "shape": "Sz"
          },
          "TechContact": {
            "shape": "Sz"
          },
          "PrivacyProtectAdminContact": {
            "type": "boolean"
          },
          "PrivacyProtectRegistrantContact": {
            "type": "boolean"
          },
          "PrivacyProtectTechContact": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "OperationId"
        ],
        "members": {
          "OperationId": {
            "shape": "Sj"
          }
        }
      }
    },
    "RenewDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "CurrentExpiryYear"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "DurationInYears": {
            "shape": "S2d"
          },
          "CurrentExpiryYear": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "OperationId"
        ],
        "members": {
          "OperationId": {
            "shape": "Sj"
          }
        }
      }
    },
    "ResendContactReachabilityEmail": {
      "input": {
        "type": "structure",
        "members": {
          "domainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "domainName": {
            "shape": "S2"
          },
          "emailAddress": {
            "shape": "S18"
          },
          "isAlreadyVerified": {
            "type": "boolean"
          }
        }
      }
    },
    "RetrieveDomainAuthCode": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AuthCode"
        ],
        "members": {
          "AuthCode": {
            "shape": "S7"
          }
        }
      }
    },
    "TransferDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "DurationInYears",
          "AdminContact",
          "RegistrantContact",
          "TechContact"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "IdnLangCode": {
            "shape": "S3"
          },
          "DurationInYears": {
            "shape": "S2d"
          },
          "Nameservers": {
            "shape": "St"
          },
          "AuthCode": {
            "shape": "S7"
          },
          "AutoRenew": {
            "type": "boolean"
          },
          "AdminContact": {
            "shape": "Sz"
          },
          "RegistrantContact": {
            "shape": "Sz"
          },
          "TechContact": {
            "shape": "Sz"
          },
          "PrivacyProtectAdminContact": {
            "type": "boolean"
          },
          "PrivacyProtectRegistrantContact": {
            "type": "boolean"
          },
          "PrivacyProtectTechContact": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "OperationId"
        ],
        "members": {
          "OperationId": {
            "shape": "Sj"
          }
        }
      }
    },
    "UpdateDomainContact": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "AdminContact": {
            "shape": "Sz"
          },
          "RegistrantContact": {
            "shape": "Sz"
          },
          "TechContact": {
            "shape": "Sz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "OperationId"
        ],
        "members": {
          "OperationId": {
            "shape": "Sj"
          }
        }
      }
    },
    "UpdateDomainContactPrivacy": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "AdminPrivacy": {
            "type": "boolean"
          },
          "RegistrantPrivacy": {
            "type": "boolean"
          },
          "TechPrivacy": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "OperationId"
        ],
        "members": {
          "OperationId": {
            "shape": "Sj"
          }
        }
      }
    },
    "UpdateDomainNameservers": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "Nameservers"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "FIAuthKey": {
            "deprecated": true
          },
          "Nameservers": {
            "shape": "St"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "OperationId"
        ],
        "members": {
          "OperationId": {
            "shape": "Sj"
          }
        }
      }
    },
    "UpdateTagsForDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName"
        ],
        "members": {
          "DomainName": {
            "shape": "S2"
          },
          "TagsToUpdate": {
            "shape": "S29"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "ViewBilling": {
      "input": {
        "type": "structure",
        "members": {
          "Start": {
            "type": "timestamp"
          },
          "End": {
            "type": "timestamp"
          },
          "Marker": {
            "shape": "S1y"
          },
          "MaxItems": {
            "shape": "S1z"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextPageMarker": {
            "shape": "S1y"
          },
          "BillingRecords": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DomainName": {
                  "shape": "S2"
                },
                "Operation": {
                  "shape": "S1w"
                },
                "InvoiceId": {},
                "BillDate": {
                  "type": "timestamp"
                },
                "Price": {
                  "type": "double"
                }
              }
            }
          }
        }
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 255
    },
    "S3": {
      "type": "string",
      "max": 3
    },
    "S7": {
      "type": "string",
      "max": 1024,
      "sensitive": true
    },
    "Sj": {
      "type": "string",
      "max": 255
    },
    "St": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "type": "string",
            "max": 255,
            "pattern": "[a-zA-Z0-9_\\-.]*"
          },
          "GlueIps": {
            "type": "list",
            "member": {
              "type": "string",
              "max": 45
            }
          }
        }
      }
    },
    "Sz": {
      "type": "structure",
      "members": {
        "FirstName": {
          "shape": "S10"
        },
        "LastName": {
          "shape": "S10"
        },
        "ContactType": {
          "type": "string",
          "enum": [
            "PERSON",
            "COMPANY",
            "ASSOCIATION",
            "PUBLIC_BODY",
            "RESELLER"
          ]
        },
        "OrganizationName": {
          "shape": "S10"
        },
        "AddressLine1": {
          "shape": "S12"
        },
        "AddressLine2": {
          "shape": "S12"
        },
        "City": {
          "type": "string",
          "max": 255
        },
        "State": {
          "type": "string",
          "max": 255
        },
        "CountryCode": {
          "type": "string",
          "enum": [
            "AD",
            "AE",
            "AF",
            "AG",
            "AI",
            "AL",
            "AM",
            "AN",
            "AO",
            "AQ",
            "AR",
            "AS",
            "AT",
            "AU",
            "AW",
            "AZ",
            "BA",
            "BB",
            "BD",
            "BE",
            "BF",
            "BG",
            "BH",
            "BI",
            "BJ",
            "BL",
            "BM",
            "BN",
            "BO",
            "BR",
            "BS",
            "BT",
            "BW",
            "BY",
            "BZ",
            "CA",
            "CC",
            "CD",
            "CF",
            "CG",
            "CH",
            "CI",
            "CK",
            "CL",
            "CM",
            "CN",
            "CO",
            "CR",
            "CU",
            "CV",
            "CX",
            "CY",
            "CZ",
            "DE",
            "DJ",
            "DK",
            "DM",
            "DO",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ER",
            "ES",
            "ET",
            "FI",
            "FJ",
            "FK",
            "FM",
            "FO",
            "FR",
            "GA",
            "GB",
            "GD",
            "GE",
            "GH",
            "GI",
            "GL",
            "GM",
            "GN",
            "GQ",
            "GR",
            "GT",
            "GU",
            "GW",
            "GY",
            "HK",
            "HN",
            "HR",
            "HT",
            "HU",
            "ID",
            "IE",
            "IL",
            "IM",
            "IN",
            "IQ",
            "IR",
            "IS",
            "IT",
            "JM",
            "JO",
            "JP",
            "KE",
            "KG",
            "KH",
            "KI",
            "KM",
            "KN",
            "KP",
            "KR",
            "KW",
            "KY",
            "KZ",
            "LA",
            "LB",
            "LC",
            "LI",
            "LK",
            "LR",
            "LS",
            "LT",
            "LU",
            "LV",
            "LY",
            "MA",
            "MC",
            "MD",
            "ME",
            "MF",
            "MG",
            "MH",
            "MK",
            "ML",
            "MM",
            "MN",
            "MO",
            "MP",
            "MR",
            "MS",
            "MT",
            "MU",
            "MV",
            "MW",
            "MX",
            "MY",
            "MZ",
            "NA",
            "NC",
            "NE",
            "NG",
            "NI",
            "NL",
            "NO",
            "NP",
            "NR",
            "NU",
            "NZ",
            "OM",
            "PA",
            "PE",
            "PF",
            "PG",
            "PH",
            "PK",
            "PL",
            "PM",
            "PN",
            "PR",
            "PT",
            "PW",
            "PY",
            "QA",
            "RO",
            "RS",
            "RU",
            "RW",
            "SA",
            "SB",
            "SC",
            "SD",
            "SE",
            "SG",
            "SH",
            "SI",
            "SK",
            "SL",
            "SM",
            "SN",
            "SO",
            "SR",
            "ST",
            "SV",
            "SY",
            "SZ",
            "TC",
            "TD",
            "TG",
            "TH",
            "TJ",
            "TK",
            "TL",
            "TM",
            "TN",
            "TO",
            "TR",
            "TT",
            "TV",
            "TW",
            "TZ",
            "UA",
            "UG",
            "US",
            "UY",
            "UZ",
            "VA",
            "VC",
            "VE",
            "VG",
            "VI",
            "VN",
            "VU",
            "WF",
            "WS",
            "YE",
            "YT",
            "ZA",
            "ZM",
            "ZW"
          ]
        },
        "ZipCode": {
          "type": "string",
          "max": 255
        },
        "PhoneNumber": {
          "shape": "S17"
        },
        "Email": {
          "shape": "S18"
        },
        "Fax": {
          "shape": "S17"
        },
        "ExtraParams": {
          "type": "list",
          "member": {
            "type": "structure",
            "required": [
              "Name",
              "Value"
            ],
            "members": {
              "Name": {
                "type": "string",
                "enum": [
                  "DUNS_NUMBER",
                  "BRAND_NUMBER",
                  "BIRTH_DEPARTMENT",
                  "BIRTH_DATE_IN_YYYY_MM_DD",
                  "BIRTH_COUNTRY",
                  "BIRTH_CITY",
                  "DOCUMENT_NUMBER",
                  "AU_ID_NUMBER",
                  "AU_ID_TYPE",
                  "CA_LEGAL_TYPE",
                  "CA_BUSINESS_ENTITY_TYPE",
                  "ES_IDENTIFICATION",
                  "ES_IDENTIFICATION_TYPE",
                  "ES_LEGAL_FORM",
                  "FI_BUSINESS_NUMBER",
                  "FI_ID_NUMBER",
                  "FI_NATIONALITY",
                  "FI_ORGANIZATION_TYPE",
                  "IT_PIN",
                  "IT_REGISTRANT_ENTITY_TYPE",
                  "RU_PASSPORT_DATA",
                  "SE_ID_NUMBER",
                  "SG_ID_NUMBER",
                  "VAT_NUMBER",
                  "UK_CONTACT_TYPE",
                  "UK_COMPANY_NUMBER"
                ]
              },
              "Value": {
                "type": "string",
                "max": 2048
              }
            }
          }
        }
      },
      "sensitive": true
    },
    "S10": {
      "type": "string",
      "max": 255
    },
    "S12": {
      "type": "string",
      "max": 255
    },
    "S17": {
      "type": "string",
      "max": 30
    },
    "S18": {
      "type": "string",
      "max": 254
    },
    "S1u": {
      "type": "string",
      "enum": [
        "SUBMITTED",
        "IN_PROGRESS",
        "ERROR",
        "SUCCESSFUL",
        "FAILED"
      ]
    },
    "S1w": {
      "type": "string",
      "enum": [
        "REGISTER_DOMAIN",
        "DELETE_DOMAIN",
        "TRANSFER_IN_DOMAIN",
        "UPDATE_DOMAIN_CONTACT",
        "UPDATE_NAMESERVER",
        "CHANGE_PRIVACY_PROTECTION",
        "DOMAIN_LOCK",
        "ENABLE_AUTORENEW",
        "DISABLE_AUTORENEW",
        "ADD_DNSSEC",
        "REMOVE_DNSSEC",
        "EXPIRE_DOMAIN",
        "TRANSFER_OUT_DOMAIN",
        "CHANGE_DOMAIN_OWNER",
        "RENEW_DOMAIN",
        "PUSH_DOMAIN"
      ]
    },
    "S1y": {
      "type": "string",
      "max": 4096
    },
    "S1z": {
      "type": "integer",
      "max": 100
    },
    "S29": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "S2d": {
      "type": "integer",
      "max": 10,
      "min": 1
    }
  }
}