{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-05-10",
    "endpointPrefix": "rum",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "CloudWatch RUM",
    "serviceId": "RUM",
    "signatureVersion": "v4",
    "signingName": "rum",
    "uid": "rum-2018-05-10"
  },
  "operations": {
    "CreateAppMonitor": {
      "http": {
        "requestUri": "/appmonitor",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Domain",
          "Name"
        ],
        "members": {
          "AppMonitorConfiguration": {
            "shape": "S2"
          },
          "CwLogEnabled": {
            "type": "boolean"
          },
          "Domain": {},
          "Name": {},
          "Tags": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Id": {}
        }
      },
      "idempotent": true
    },
    "DeleteAppMonitor": {
      "http": {
        "method": "DELETE",
        "requestUri": "/appmonitor/{Name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "Name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "GetAppMonitor": {
      "http": {
        "method": "GET",
        "requestUri": "/appmonitor/{Name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {
            "location": "uri",
            "locationName": "Name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppMonitor": {
            "type": "structure",
            "members": {
              "AppMonitorConfiguration": {
                "shape": "S2"
              },
              "Created": {},
              "DataStorage": {
                "type": "structure",
                "members": {
                  "CwLog": {
                    "type": "structure",
                    "members": {
                      "CwLogEnabled": {
                        "type": "boolean"
                      },
                      "CwLogGroup": {}
                    }
                  }
                }
              },
              "Domain": {},
              "Id": {},
              "LastModified": {},
              "Name": {},
              "State": {},
              "Tags": {
                "shape": "Sf"
              }
            }
          }
        }
      }
    },
    "GetAppMonitorData": {
      "http": {
        "requestUri": "/appmonitor/{Name}/data",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "TimeRange"
        ],
        "members": {
          "Filters": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Name": {},
                "Values": {
                  "type": "list",
                  "member": {}
                }
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "Name": {
            "location": "uri",
            "locationName": "Name"
          },
          "NextToken": {},
          "TimeRange": {
            "type": "structure",
            "required": [
              "After"
            ],
            "members": {
              "After": {
                "type": "long"
              },
              "Before": {
                "type": "long"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Events": {
            "type": "list",
            "member": {}
          },
          "NextToken": {}
        }
      }
    },
    "ListAppMonitors": {
      "http": {
        "requestUri": "/appmonitors",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppMonitorSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "Created": {},
                "Id": {},
                "LastModified": {},
                "Name": {},
                "State": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTagsForResource": {
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "Sf"
          }
        }
      }
    },
    "PutRumEvents": {
      "http": {
        "requestUri": "/appmonitors/{Id}/",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "AppMonitorDetails",
          "BatchId",
          "Id",
          "RumEvents",
          "UserDetails"
        ],
        "members": {
          "AppMonitorDetails": {
            "type": "structure",
            "members": {
              "id": {},
              "name": {},
              "version": {}
            }
          },
          "BatchId": {},
          "Id": {
            "location": "uri",
            "locationName": "Id"
          },
          "RumEvents": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "details",
                "id",
                "timestamp",
                "type"
              ],
              "members": {
                "details": {
                  "jsonvalue": true
                },
                "id": {},
                "metadata": {
                  "jsonvalue": true
                },
                "timestamp": {
                  "type": "timestamp"
                },
                "type": {}
              }
            }
          },
          "UserDetails": {
            "type": "structure",
            "members": {
              "sessionId": {},
              "userId": {}
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "dataplane."
      }
    },
    "TagResource": {
      "http": {
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "Tags": {
            "shape": "Sf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UntagResource": {
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "location": "uri",
            "locationName": "ResourceArn"
          },
          "TagKeys": {
            "location": "querystring",
            "locationName": "tagKeys",
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "idempotent": true
    },
    "UpdateAppMonitor": {
      "http": {
        "method": "PATCH",
        "requestUri": "/appmonitor/{Name}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "AppMonitorConfiguration": {
            "shape": "S2"
          },
          "CwLogEnabled": {
            "type": "boolean"
          },
          "Domain": {},
          "Name": {
            "location": "uri",
            "locationName": "Name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "structure",
      "members": {
        "AllowCookies": {
          "type": "boolean"
        },
        "EnableXRay": {
          "type": "boolean"
        },
        "ExcludedPages": {
          "shape": "S4"
        },
        "FavoritePages": {
          "type": "list",
          "member": {}
        },
        "GuestRoleArn": {},
        "IdentityPoolId": {},
        "IncludedPages": {
          "shape": "S4"
        },
        "SessionSampleRate": {
          "type": "double"
        },
        "Telemetries": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S4": {
      "type": "list",
      "member": {}
    },
    "Sf": {
      "type": "map",
      "key": {},
      "value": {}
    }
  }
}