{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2018-08-20",
    "endpointPrefix": "s3-control",
    "protocol": "rest-xml",
    "serviceFullName": "AWS S3 Control",
    "serviceId": "S3 Control",
    "signatureVersion": "s3v4",
    "signingName": "s3",
    "uid": "s3control-2018-08-20"
  },
  "operations": {
    "CreateAccessPoint": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/accesspoint/{name}"
      },
      "input": {
        "locationName": "CreateAccessPointRequest",
        "xmlNamespace": {
          "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
        },
        "type": "structure",
        "required": [
          "AccountId",
          "Name",
          "Bucket"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "Bucket": {},
          "VpcConfiguration": {
            "shape": "S5"
          },
          "PublicAccessBlockConfiguration": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccessPointArn": {}
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "CreateBucket": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/bucket/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "Bucket"
        ],
        "members": {
          "ACL": {
            "location": "header",
            "locationName": "x-amz-acl"
          },
          "Bucket": {
            "location": "uri",
            "locationName": "name"
          },
          "CreateBucketConfiguration": {
            "locationName": "CreateBucketConfiguration",
            "xmlNamespace": {
              "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
            },
            "type": "structure",
            "members": {
              "LocationConstraint": {}
            }
          },
          "GrantFullControl": {
            "location": "header",
            "locationName": "x-amz-grant-full-control"
          },
          "GrantRead": {
            "location": "header",
            "locationName": "x-amz-grant-read"
          },
          "GrantReadACP": {
            "location": "header",
            "locationName": "x-amz-grant-read-acp"
          },
          "GrantWrite": {
            "location": "header",
            "locationName": "x-amz-grant-write"
          },
          "GrantWriteACP": {
            "location": "header",
            "locationName": "x-amz-grant-write-acp"
          },
          "ObjectLockEnabledForBucket": {
            "location": "header",
            "locationName": "x-amz-bucket-object-lock-enabled",
            "type": "boolean"
          },
          "OutpostId": {
            "location": "header",
            "locationName": "x-amz-outpost-id"
          }
        },
        "payload": "CreateBucketConfiguration"
      },
      "output": {
        "type": "structure",
        "members": {
          "Location": {
            "location": "header",
            "locationName": "Location"
          },
          "BucketArn": {}
        }
      },
      "httpChecksumRequired": true
    },
    "CreateJob": {
      "http": {
        "requestUri": "/v20180820/jobs"
      },
      "input": {
        "locationName": "CreateJobRequest",
        "xmlNamespace": {
          "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
        },
        "type": "structure",
        "required": [
          "AccountId",
          "Operation",
          "Report",
          "ClientRequestToken",
          "Manifest",
          "Priority",
          "RoleArn"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "ConfirmationRequired": {
            "type": "boolean"
          },
          "Operation": {
            "shape": "Sr"
          },
          "Report": {
            "shape": "S1y"
          },
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "Manifest": {
            "shape": "S22"
          },
          "Description": {},
          "Priority": {
            "type": "integer"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S1b"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "DeleteAccessPoint": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/accesspoint/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Name"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "DeleteAccessPointPolicy": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/accesspoint/{name}/policy"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Name"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "DeleteBucket": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/bucket/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Bucket"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Bucket": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "DeleteBucketLifecycleConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/bucket/{name}/lifecycleconfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Bucket"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Bucket": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "DeleteBucketPolicy": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/bucket/{name}/policy"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Bucket"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Bucket": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "DeleteBucketTagging": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/bucket/{name}/tagging",
        "responseCode": 204
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Bucket"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Bucket": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "DeleteJobTagging": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/jobs/{id}/tagging"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "JobId"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "JobId": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "DeletePublicAccessBlock": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/configuration/publicAccessBlock"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "DeleteStorageLensConfiguration": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/storagelens/{storagelensid}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigId",
          "AccountId"
        ],
        "members": {
          "ConfigId": {
            "location": "uri",
            "locationName": "storagelensid"
          },
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "DeleteStorageLensConfigurationTagging": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/storagelens/{storagelensid}/tagging"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigId",
          "AccountId"
        ],
        "members": {
          "ConfigId": {
            "location": "uri",
            "locationName": "storagelensid"
          },
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "DescribeJob": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/jobs/{id}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "JobId"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "JobId": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Job": {
            "type": "structure",
            "members": {
              "JobId": {},
              "ConfirmationRequired": {
                "type": "boolean"
              },
              "Description": {},
              "JobArn": {},
              "Status": {},
              "Manifest": {
                "shape": "S22"
              },
              "Operation": {
                "shape": "Sr"
              },
              "Priority": {
                "type": "integer"
              },
              "ProgressSummary": {
                "shape": "S2x"
              },
              "StatusUpdateReason": {},
              "FailureReasons": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "members": {
                    "FailureCode": {},
                    "FailureReason": {}
                  }
                }
              },
              "Report": {
                "shape": "S1y"
              },
              "CreationTime": {
                "type": "timestamp"
              },
              "TerminationDate": {
                "type": "timestamp"
              },
              "RoleArn": {},
              "SuspendedDate": {
                "type": "timestamp"
              },
              "SuspendedCause": {}
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "GetAccessPoint": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/accesspoint/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Name"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Name": {},
          "Bucket": {},
          "NetworkOrigin": {},
          "VpcConfiguration": {
            "shape": "S5"
          },
          "PublicAccessBlockConfiguration": {
            "shape": "S7"
          },
          "CreationDate": {
            "type": "timestamp"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "GetAccessPointPolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/accesspoint/{name}/policy"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Name"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {}
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "GetAccessPointPolicyStatus": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/accesspoint/{name}/policyStatus"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Name"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Name": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PolicyStatus": {
            "type": "structure",
            "members": {
              "IsPublic": {
                "locationName": "IsPublic",
                "type": "boolean"
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "GetBucket": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/bucket/{name}"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Bucket"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Bucket": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Bucket": {},
          "PublicAccessBlockEnabled": {
            "type": "boolean"
          },
          "CreationDate": {
            "type": "timestamp"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "GetBucketLifecycleConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/bucket/{name}/lifecycleconfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Bucket"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Bucket": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Rules": {
            "shape": "S3q"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "GetBucketPolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/bucket/{name}/policy"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Bucket"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Bucket": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Policy": {}
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "GetBucketTagging": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/bucket/{name}/tagging"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Bucket"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Bucket": {
            "location": "uri",
            "locationName": "name"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TagSet"
        ],
        "members": {
          "TagSet": {
            "shape": "S1b"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "GetJobTagging": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/jobs/{id}/tagging"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "JobId"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "JobId": {
            "location": "uri",
            "locationName": "id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S1b"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "GetPublicAccessBlock": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/configuration/publicAccessBlock"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PublicAccessBlockConfiguration": {
            "shape": "S7"
          }
        },
        "payload": "PublicAccessBlockConfiguration"
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "GetStorageLensConfiguration": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/storagelens/{storagelensid}"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigId",
          "AccountId"
        ],
        "members": {
          "ConfigId": {
            "location": "uri",
            "locationName": "storagelensid"
          },
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StorageLensConfiguration": {
            "shape": "S4j"
          }
        },
        "payload": "StorageLensConfiguration"
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "GetStorageLensConfigurationTagging": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/storagelens/{storagelensid}/tagging"
      },
      "input": {
        "type": "structure",
        "required": [
          "ConfigId",
          "AccountId"
        ],
        "members": {
          "ConfigId": {
            "location": "uri",
            "locationName": "storagelensid"
          },
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S5c"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "ListAccessPoints": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/accesspoint"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Bucket": {
            "location": "querystring",
            "locationName": "bucket"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AccessPointList": {
            "type": "list",
            "member": {
              "locationName": "AccessPoint",
              "type": "structure",
              "required": [
                "Name",
                "NetworkOrigin",
                "Bucket"
              ],
              "members": {
                "Name": {},
                "NetworkOrigin": {},
                "VpcConfiguration": {
                  "shape": "S5"
                },
                "Bucket": {},
                "AccessPointArn": {}
              }
            }
          },
          "NextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "ListJobs": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/jobs"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "JobStatuses": {
            "location": "querystring",
            "locationName": "jobStatuses",
            "type": "list",
            "member": {}
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "Jobs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "JobId": {},
                "Description": {},
                "Operation": {},
                "Priority": {
                  "type": "integer"
                },
                "Status": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "TerminationDate": {
                  "type": "timestamp"
                },
                "ProgressSummary": {
                  "shape": "S2x"
                }
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "ListRegionalBuckets": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/bucket"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          },
          "MaxResults": {
            "location": "querystring",
            "locationName": "maxResults",
            "type": "integer"
          },
          "OutpostId": {
            "location": "header",
            "locationName": "x-amz-outpost-id"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "RegionalBucketList": {
            "type": "list",
            "member": {
              "locationName": "RegionalBucket",
              "type": "structure",
              "required": [
                "Bucket",
                "PublicAccessBlockEnabled",
                "CreationDate"
              ],
              "members": {
                "Bucket": {},
                "BucketArn": {},
                "PublicAccessBlockEnabled": {
                  "type": "boolean"
                },
                "CreationDate": {
                  "type": "timestamp"
                },
                "OutpostId": {}
              }
            }
          },
          "NextToken": {}
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "ListStorageLensConfigurations": {
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/storagelens"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "NextToken": {
            "location": "querystring",
            "locationName": "nextToken"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "StorageLensConfigurationList": {
            "type": "list",
            "member": {
              "locationName": "StorageLensConfiguration",
              "type": "structure",
              "required": [
                "Id",
                "StorageLensArn",
                "HomeRegion"
              ],
              "members": {
                "Id": {},
                "StorageLensArn": {},
                "HomeRegion": {},
                "IsEnabled": {
                  "type": "boolean"
                }
              }
            },
            "flattened": true
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "PutAccessPointPolicy": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/accesspoint/{name}/policy"
      },
      "input": {
        "locationName": "PutAccessPointPolicyRequest",
        "xmlNamespace": {
          "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
        },
        "type": "structure",
        "required": [
          "AccountId",
          "Name",
          "Policy"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Name": {
            "location": "uri",
            "locationName": "name"
          },
          "Policy": {}
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "PutBucketLifecycleConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/bucket/{name}/lifecycleconfiguration"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Bucket"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Bucket": {
            "location": "uri",
            "locationName": "name"
          },
          "LifecycleConfiguration": {
            "locationName": "LifecycleConfiguration",
            "xmlNamespace": {
              "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
            },
            "type": "structure",
            "members": {
              "Rules": {
                "shape": "S3q"
              }
            }
          }
        },
        "payload": "LifecycleConfiguration"
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      },
      "httpChecksumRequired": true
    },
    "PutBucketPolicy": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/bucket/{name}/policy"
      },
      "input": {
        "locationName": "PutBucketPolicyRequest",
        "xmlNamespace": {
          "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
        },
        "type": "structure",
        "required": [
          "AccountId",
          "Bucket",
          "Policy"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Bucket": {
            "location": "uri",
            "locationName": "name"
          },
          "ConfirmRemoveSelfBucketAccess": {
            "location": "header",
            "locationName": "x-amz-confirm-remove-self-bucket-access",
            "type": "boolean"
          },
          "Policy": {}
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      },
      "httpChecksumRequired": true
    },
    "PutBucketTagging": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/bucket/{name}/tagging"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "Bucket",
          "Tagging"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Bucket": {
            "location": "uri",
            "locationName": "name"
          },
          "Tagging": {
            "locationName": "Tagging",
            "xmlNamespace": {
              "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
            },
            "type": "structure",
            "required": [
              "TagSet"
            ],
            "members": {
              "TagSet": {
                "shape": "S1b"
              }
            }
          }
        },
        "payload": "Tagging"
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      },
      "httpChecksumRequired": true
    },
    "PutJobTagging": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/jobs/{id}/tagging"
      },
      "input": {
        "locationName": "PutJobTaggingRequest",
        "xmlNamespace": {
          "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
        },
        "type": "structure",
        "required": [
          "AccountId",
          "JobId",
          "Tags"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "JobId": {
            "location": "uri",
            "locationName": "id"
          },
          "Tags": {
            "shape": "S1b"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "PutPublicAccessBlock": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/configuration/publicAccessBlock"
      },
      "input": {
        "type": "structure",
        "required": [
          "PublicAccessBlockConfiguration",
          "AccountId"
        ],
        "members": {
          "PublicAccessBlockConfiguration": {
            "shape": "S7",
            "locationName": "PublicAccessBlockConfiguration",
            "xmlNamespace": {
              "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
            }
          },
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          }
        },
        "payload": "PublicAccessBlockConfiguration"
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "PutStorageLensConfiguration": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/storagelens/{storagelensid}"
      },
      "input": {
        "locationName": "PutStorageLensConfigurationRequest",
        "xmlNamespace": {
          "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
        },
        "type": "structure",
        "required": [
          "ConfigId",
          "AccountId",
          "StorageLensConfiguration"
        ],
        "members": {
          "ConfigId": {
            "location": "uri",
            "locationName": "storagelensid"
          },
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "StorageLensConfiguration": {
            "shape": "S4j"
          },
          "Tags": {
            "shape": "S5c"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "PutStorageLensConfigurationTagging": {
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/storagelens/{storagelensid}/tagging"
      },
      "input": {
        "locationName": "PutStorageLensConfigurationTaggingRequest",
        "xmlNamespace": {
          "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
        },
        "type": "structure",
        "required": [
          "ConfigId",
          "AccountId",
          "Tags"
        ],
        "members": {
          "ConfigId": {
            "location": "uri",
            "locationName": "storagelensid"
          },
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "Tags": {
            "shape": "S5c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "UpdateJobPriority": {
      "http": {
        "requestUri": "/v20180820/jobs/{id}/priority"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "JobId",
          "Priority"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "JobId": {
            "location": "uri",
            "locationName": "id"
          },
          "Priority": {
            "location": "querystring",
            "locationName": "priority",
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobId",
          "Priority"
        ],
        "members": {
          "JobId": {},
          "Priority": {
            "type": "integer"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    },
    "UpdateJobStatus": {
      "http": {
        "requestUri": "/v20180820/jobs/{id}/status"
      },
      "input": {
        "type": "structure",
        "required": [
          "AccountId",
          "JobId",
          "RequestedJobStatus"
        ],
        "members": {
          "AccountId": {
            "hostLabel": true,
            "location": "header",
            "locationName": "x-amz-account-id"
          },
          "JobId": {
            "location": "uri",
            "locationName": "id"
          },
          "RequestedJobStatus": {
            "location": "querystring",
            "locationName": "requestedJobStatus"
          },
          "StatusUpdateReason": {
            "location": "querystring",
            "locationName": "statusUpdateReason"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "JobId": {},
          "Status": {},
          "StatusUpdateReason": {}
        }
      },
      "endpoint": {
        "hostPrefix": "{AccountId}."
      }
    }
  },
  "shapes": {
    "S5": {
      "type": "structure",
      "required": [
        "VpcId"
      ],
      "members": {
        "VpcId": {}
      }
    },
    "S7": {
      "type": "structure",
      "members": {
        "BlockPublicAcls": {
          "locationName": "BlockPublicAcls",
          "type": "boolean"
        },
        "IgnorePublicAcls": {
          "locationName": "IgnorePublicAcls",
          "type": "boolean"
        },
        "BlockPublicPolicy": {
          "locationName": "BlockPublicPolicy",
          "type": "boolean"
        },
        "RestrictPublicBuckets": {
          "locationName": "RestrictPublicBuckets",
          "type": "boolean"
        }
      }
    },
    "Sr": {
      "type": "structure",
      "members": {
        "LambdaInvoke": {
          "type": "structure",
          "members": {
            "FunctionArn": {}
          }
        },
        "S3PutObjectCopy": {
          "type": "structure",
          "members": {
            "TargetResource": {},
            "CannedAccessControlList": {},
            "AccessControlGrants": {
              "shape": "Sx"
            },
            "MetadataDirective": {},
            "ModifiedSinceConstraint": {
              "type": "timestamp"
            },
            "NewObjectMetadata": {
              "type": "structure",
              "members": {
                "CacheControl": {},
                "ContentDisposition": {},
                "ContentEncoding": {},
                "ContentLanguage": {},
                "UserMetadata": {
                  "type": "map",
                  "key": {},
                  "value": {}
                },
                "ContentLength": {
                  "type": "long"
                },
                "ContentMD5": {},
                "ContentType": {},
                "HttpExpiresDate": {
                  "type": "timestamp"
                },
                "RequesterCharged": {
                  "type": "boolean"
                },
                "SSEAlgorithm": {}
              }
            },
            "NewObjectTagging": {
              "shape": "S1b"
            },
            "RedirectLocation": {},
            "RequesterPays": {
              "type": "boolean"
            },
            "StorageClass": {},
            "UnModifiedSinceConstraint": {
              "type": "timestamp"
            },
            "SSEAwsKmsKeyId": {},
            "TargetKeyPrefix": {},
            "ObjectLockLegalHoldStatus": {},
            "ObjectLockMode": {},
            "ObjectLockRetainUntilDate": {
              "type": "timestamp"
            }
          }
        },
        "S3PutObjectAcl": {
          "type": "structure",
          "members": {
            "AccessControlPolicy": {
              "type": "structure",
              "members": {
                "AccessControlList": {
                  "type": "structure",
                  "required": [
                    "Owner"
                  ],
                  "members": {
                    "Owner": {
                      "type": "structure",
                      "members": {
                        "ID": {},
                        "DisplayName": {}
                      }
                    },
                    "Grants": {
                      "shape": "Sx"
                    }
                  }
                },
                "CannedAccessControlList": {}
              }
            }
          }
        },
        "S3PutObjectTagging": {
          "type": "structure",
          "members": {
            "TagSet": {
              "shape": "S1b"
            }
          }
        },
        "S3DeleteObjectTagging": {
          "type": "structure",
          "members": {}
        },
        "S3InitiateRestoreObject": {
          "type": "structure",
          "members": {
            "ExpirationInDays": {
              "type": "integer"
            },
            "GlacierJobTier": {}
          }
        },
        "S3PutObjectLegalHold": {
          "type": "structure",
          "required": [
            "LegalHold"
          ],
          "members": {
            "LegalHold": {
              "type": "structure",
              "required": [
                "Status"
              ],
              "members": {
                "Status": {}
              }
            }
          }
        },
        "S3PutObjectRetention": {
          "type": "structure",
          "required": [
            "Retention"
          ],
          "members": {
            "BypassGovernanceRetention": {
              "type": "boolean"
            },
            "Retention": {
              "type": "structure",
              "members": {
                "RetainUntilDate": {
                  "type": "timestamp"
                },
                "Mode": {}
              }
            }
          }
        }
      }
    },
    "Sx": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Grantee": {
            "type": "structure",
            "members": {
              "TypeIdentifier": {},
              "Identifier": {},
              "DisplayName": {}
            }
          },
          "Permission": {}
        }
      }
    },
    "S1b": {
      "type": "list",
      "member": {
        "shape": "S1c"
      }
    },
    "S1c": {
      "type": "structure",
      "required": [
        "Key",
        "Value"
      ],
      "members": {
        "Key": {},
        "Value": {}
      }
    },
    "S1y": {
      "type": "structure",
      "required": [
        "Enabled"
      ],
      "members": {
        "Bucket": {},
        "Format": {},
        "Enabled": {
          "type": "boolean"
        },
        "Prefix": {},
        "ReportScope": {}
      }
    },
    "S22": {
      "type": "structure",
      "required": [
        "Spec",
        "Location"
      ],
      "members": {
        "Spec": {
          "type": "structure",
          "required": [
            "Format"
          ],
          "members": {
            "Format": {},
            "Fields": {
              "type": "list",
              "member": {}
            }
          }
        },
        "Location": {
          "type": "structure",
          "required": [
            "ObjectArn",
            "ETag"
          ],
          "members": {
            "ObjectArn": {},
            "ObjectVersionId": {},
            "ETag": {}
          }
        }
      }
    },
    "S2x": {
      "type": "structure",
      "members": {
        "TotalNumberOfTasks": {
          "type": "long"
        },
        "NumberOfTasksSucceeded": {
          "type": "long"
        },
        "NumberOfTasksFailed": {
          "type": "long"
        }
      }
    },
    "S3q": {
      "type": "list",
      "member": {
        "locationName": "Rule",
        "type": "structure",
        "required": [
          "Status"
        ],
        "members": {
          "Expiration": {
            "type": "structure",
            "members": {
              "Date": {
                "type": "timestamp"
              },
              "Days": {
                "type": "integer"
              },
              "ExpiredObjectDeleteMarker": {
                "type": "boolean"
              }
            }
          },
          "ID": {},
          "Filter": {
            "type": "structure",
            "members": {
              "Prefix": {},
              "Tag": {
                "shape": "S1c"
              },
              "And": {
                "type": "structure",
                "members": {
                  "Prefix": {},
                  "Tags": {
                    "shape": "S1b"
                  }
                }
              }
            }
          },
          "Status": {},
          "Transitions": {
            "type": "list",
            "member": {
              "locationName": "Transition",
              "type": "structure",
              "members": {
                "Date": {
                  "type": "timestamp"
                },
                "Days": {
                  "type": "integer"
                },
                "StorageClass": {}
              }
            }
          },
          "NoncurrentVersionTransitions": {
            "type": "list",
            "member": {
              "locationName": "NoncurrentVersionTransition",
              "type": "structure",
              "members": {
                "NoncurrentDays": {
                  "type": "integer"
                },
                "StorageClass": {}
              }
            }
          },
          "NoncurrentVersionExpiration": {
            "type": "structure",
            "members": {
              "NoncurrentDays": {
                "type": "integer"
              }
            }
          },
          "AbortIncompleteMultipartUpload": {
            "type": "structure",
            "members": {
              "DaysAfterInitiation": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "S4j": {
      "type": "structure",
      "required": [
        "Id",
        "AccountLevel",
        "IsEnabled"
      ],
      "members": {
        "Id": {},
        "AccountLevel": {
          "type": "structure",
          "required": [
            "BucketLevel"
          ],
          "members": {
            "ActivityMetrics": {
              "shape": "S4l"
            },
            "BucketLevel": {
              "type": "structure",
              "members": {
                "ActivityMetrics": {
                  "shape": "S4l"
                },
                "PrefixLevel": {
                  "type": "structure",
                  "required": [
                    "StorageMetrics"
                  ],
                  "members": {
                    "StorageMetrics": {
                      "type": "structure",
                      "members": {
                        "IsEnabled": {
                          "type": "boolean"
                        },
                        "SelectionCriteria": {
                          "type": "structure",
                          "members": {
                            "Delimiter": {},
                            "MaxDepth": {
                              "type": "integer"
                            },
                            "MinStorageBytesPercentage": {
                              "type": "double"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Include": {
          "type": "structure",
          "members": {
            "Buckets": {
              "shape": "S4v"
            },
            "Regions": {
              "shape": "S4w"
            }
          }
        },
        "Exclude": {
          "type": "structure",
          "members": {
            "Buckets": {
              "shape": "S4v"
            },
            "Regions": {
              "shape": "S4w"
            }
          }
        },
        "DataExport": {
          "type": "structure",
          "required": [
            "S3BucketDestination"
          ],
          "members": {
            "S3BucketDestination": {
              "type": "structure",
              "required": [
                "Format",
                "OutputSchemaVersion",
                "AccountId",
                "Arn"
              ],
              "members": {
                "Format": {},
                "OutputSchemaVersion": {},
                "AccountId": {},
                "Arn": {},
                "Prefix": {},
                "Encryption": {
                  "type": "structure",
                  "members": {
                    "SSES3": {
                      "locationName": "SSE-S3",
                      "type": "structure",
                      "members": {}
                    },
                    "SSEKMS": {
                      "locationName": "SSE-KMS",
                      "type": "structure",
                      "required": [
                        "KeyId"
                      ],
                      "members": {
                        "KeyId": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "IsEnabled": {
          "type": "boolean"
        },
        "AwsOrg": {
          "type": "structure",
          "required": [
            "Arn"
          ],
          "members": {
            "Arn": {}
          }
        },
        "StorageLensArn": {}
      }
    },
    "S4l": {
      "type": "structure",
      "members": {
        "IsEnabled": {
          "type": "boolean"
        }
      }
    },
    "S4v": {
      "type": "list",
      "member": {
        "locationName": "Arn"
      }
    },
    "S4w": {
      "type": "list",
      "member": {
        "locationName": "Region"
      }
    },
    "S5c": {
      "type": "list",
      "member": {
        "locationName": "Tag",
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    }
  }
}