{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-24",
    "endpointPrefix": "api.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SageMaker",
    "serviceFullName": "Amazon SageMaker Service",
    "serviceId": "SageMaker",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "targetPrefix": "SageMaker",
    "uid": "sagemaker-2017-07-24"
  },
  "operations": {
    "AddTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S2"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3"
          }
        }
      }
    },
    "CreateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointConfigName"
        ],
        "members": {
          "EndpointName": {
            "shape": "S9"
          },
          "EndpointConfigName": {
            "shape": "Sa"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {
            "shape": "Sc"
          }
        }
      }
    },
    "CreateEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "ProductionVariants"
        ],
        "members": {
          "EndpointConfigName": {
            "shape": "Sa"
          },
          "ProductionVariants": {
            "shape": "Se"
          },
          "Tags": {
            "shape": "S3"
          },
          "KmsKeyId": {
            "shape": "Sl"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigArn"
        ],
        "members": {
          "EndpointConfigArn": {
            "shape": "Sn"
          }
        }
      }
    },
    "CreateHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobConfig",
          "TrainingJobDefinition"
        ],
        "members": {
          "HyperParameterTuningJobName": {
            "shape": "Sp"
          },
          "HyperParameterTuningJobConfig": {
            "shape": "Sq"
          },
          "TrainingJobDefinition": {
            "shape": "S18"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobArn"
        ],
        "members": {
          "HyperParameterTuningJobArn": {
            "shape": "S25"
          }
        }
      }
    },
    "CreateModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName",
          "PrimaryContainer",
          "ExecutionRoleArn"
        ],
        "members": {
          "ModelName": {
            "shape": "Sh"
          },
          "PrimaryContainer": {
            "shape": "S27"
          },
          "ExecutionRoleArn": {
            "shape": "S1g"
          },
          "Tags": {
            "shape": "S3"
          },
          "VpcConfig": {
            "shape": "S1s"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelArn"
        ],
        "members": {
          "ModelArn": {
            "shape": "S2f"
          }
        }
      }
    },
    "CreateNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName",
          "InstanceType",
          "RoleArn"
        ],
        "members": {
          "NotebookInstanceName": {
            "shape": "S2h"
          },
          "InstanceType": {
            "shape": "S2i"
          },
          "SubnetId": {
            "shape": "S1w"
          },
          "SecurityGroupIds": {
            "shape": "S2j"
          },
          "RoleArn": {
            "shape": "S1g"
          },
          "KmsKeyId": {
            "shape": "Sl"
          },
          "Tags": {
            "shape": "S3"
          },
          "LifecycleConfigName": {
            "shape": "S2k"
          },
          "DirectInternetAccess": {
            "shape": "S2l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {
            "shape": "S2n"
          }
        }
      }
    },
    "CreateNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {
            "shape": "S2k"
          },
          "OnCreate": {
            "shape": "S2p"
          },
          "OnStart": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {
            "shape": "S2t"
          }
        }
      }
    },
    "CreatePresignedNotebookInstanceUrl": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {
            "shape": "S2h"
          },
          "SessionExpirationDurationInSeconds": {
            "type": "integer",
            "max": 43200,
            "min": 1800
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreateTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "AlgorithmSpecification",
          "RoleArn",
          "InputDataConfig",
          "OutputDataConfig",
          "ResourceConfig",
          "StoppingCondition"
        ],
        "members": {
          "TrainingJobName": {
            "shape": "S2z"
          },
          "HyperParameters": {
            "shape": "S19"
          },
          "AlgorithmSpecification": {
            "shape": "S30"
          },
          "RoleArn": {
            "shape": "S1g"
          },
          "InputDataConfig": {
            "shape": "S1h"
          },
          "OutputDataConfig": {
            "shape": "S1x"
          },
          "ResourceConfig": {
            "shape": "S1y"
          },
          "VpcConfig": {
            "shape": "S1s"
          },
          "StoppingCondition": {
            "shape": "S22"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobArn"
        ],
        "members": {
          "TrainingJobArn": {
            "shape": "S32"
          }
        }
      }
    },
    "CreateTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "ModelName",
          "TransformInput",
          "TransformOutput",
          "TransformResources"
        ],
        "members": {
          "TransformJobName": {
            "shape": "S34"
          },
          "ModelName": {
            "shape": "Sh"
          },
          "MaxConcurrentTransforms": {
            "shape": "S35"
          },
          "MaxPayloadInMB": {
            "shape": "S36"
          },
          "BatchStrategy": {
            "shape": "S37"
          },
          "Environment": {
            "shape": "S38"
          },
          "TransformInput": {
            "shape": "S3b"
          },
          "TransformOutput": {
            "shape": "S3f"
          },
          "TransformResources": {
            "shape": "S3i"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobArn"
        ],
        "members": {
          "TransformJobArn": {
            "shape": "S3m"
          }
        }
      }
    },
    "DeleteEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {
            "shape": "S9"
          }
        }
      }
    },
    "DeleteEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {
            "shape": "Sa"
          }
        }
      }
    },
    "DeleteModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {
            "shape": "Sh"
          }
        }
      }
    },
    "DeleteNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {
            "shape": "S2h"
          }
        }
      }
    },
    "DeleteNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {
            "shape": "S2k"
          }
        }
      }
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S2"
          },
          "TagKeys": {
            "type": "list",
            "member": {
              "shape": "S5"
            },
            "max": 50,
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {
            "shape": "S9"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointArn",
          "EndpointConfigName",
          "EndpointStatus",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "EndpointName": {
            "shape": "S9"
          },
          "EndpointArn": {
            "shape": "Sc"
          },
          "EndpointConfigName": {
            "shape": "Sa"
          },
          "ProductionVariants": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "VariantName"
              ],
              "members": {
                "VariantName": {
                  "shape": "Sg"
                },
                "DeployedImages": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "SpecifiedImage": {
                        "shape": "S29"
                      },
                      "ResolvedImage": {
                        "shape": "S29"
                      },
                      "ResolutionTime": {
                        "type": "timestamp"
                      }
                    }
                  }
                },
                "CurrentWeight": {
                  "shape": "Sk"
                },
                "DesiredWeight": {
                  "shape": "Sk"
                },
                "CurrentInstanceCount": {
                  "shape": "Si"
                },
                "DesiredInstanceCount": {
                  "shape": "Si"
                }
              }
            },
            "min": 1
          },
          "EndpointStatus": {
            "shape": "S42"
          },
          "FailureReason": {
            "shape": "S43"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "EndpointConfigArn",
          "ProductionVariants",
          "CreationTime"
        ],
        "members": {
          "EndpointConfigName": {
            "shape": "Sa"
          },
          "EndpointConfigArn": {
            "shape": "Sn"
          },
          "ProductionVariants": {
            "shape": "Se"
          },
          "KmsKeyId": {
            "shape": "Sl"
          },
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {
            "shape": "Sp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobArn",
          "HyperParameterTuningJobConfig",
          "TrainingJobDefinition",
          "HyperParameterTuningJobStatus",
          "CreationTime",
          "TrainingJobStatusCounters",
          "ObjectiveStatusCounters"
        ],
        "members": {
          "HyperParameterTuningJobName": {
            "shape": "Sp"
          },
          "HyperParameterTuningJobArn": {
            "shape": "S25"
          },
          "HyperParameterTuningJobConfig": {
            "shape": "Sq"
          },
          "TrainingJobDefinition": {
            "shape": "S18"
          },
          "HyperParameterTuningJobStatus": {
            "shape": "S48"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "HyperParameterTuningEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "TrainingJobStatusCounters": {
            "shape": "S49"
          },
          "ObjectiveStatusCounters": {
            "shape": "S4b"
          },
          "BestTrainingJob": {
            "shape": "S4d"
          },
          "FailureReason": {
            "shape": "S43"
          }
        }
      }
    },
    "DescribeModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {
            "shape": "Sh"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelName",
          "PrimaryContainer",
          "ExecutionRoleArn",
          "CreationTime",
          "ModelArn"
        ],
        "members": {
          "ModelName": {
            "shape": "Sh"
          },
          "PrimaryContainer": {
            "shape": "S27"
          },
          "ExecutionRoleArn": {
            "shape": "S1g"
          },
          "VpcConfig": {
            "shape": "S1s"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelArn": {
            "shape": "S2f"
          }
        }
      }
    },
    "DescribeNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {
            "shape": "S2h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {
            "shape": "S2n"
          },
          "NotebookInstanceName": {
            "shape": "S2h"
          },
          "NotebookInstanceStatus": {
            "shape": "S4m"
          },
          "FailureReason": {
            "shape": "S43"
          },
          "Url": {},
          "InstanceType": {
            "shape": "S2i"
          },
          "SubnetId": {
            "shape": "S1w"
          },
          "SecurityGroups": {
            "shape": "S2j"
          },
          "RoleArn": {
            "shape": "S1g"
          },
          "KmsKeyId": {
            "shape": "Sl"
          },
          "NetworkInterfaceId": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "NotebookInstanceLifecycleConfigName": {
            "shape": "S2k"
          },
          "DirectInternetAccess": {
            "shape": "S2l"
          }
        }
      }
    },
    "DescribeNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {
            "shape": "S2k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {
            "shape": "S2t"
          },
          "NotebookInstanceLifecycleConfigName": {
            "shape": "S2k"
          },
          "OnCreate": {
            "shape": "S2p"
          },
          "OnStart": {
            "shape": "S2p"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName"
        ],
        "members": {
          "TrainingJobName": {
            "shape": "S2z"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "TrainingJobArn",
          "ModelArtifacts",
          "TrainingJobStatus",
          "SecondaryStatus",
          "AlgorithmSpecification",
          "InputDataConfig",
          "ResourceConfig",
          "StoppingCondition",
          "CreationTime"
        ],
        "members": {
          "TrainingJobName": {
            "shape": "S2z"
          },
          "TrainingJobArn": {
            "shape": "S32"
          },
          "TuningJobArn": {
            "shape": "S25"
          },
          "ModelArtifacts": {
            "type": "structure",
            "required": [
              "S3ModelArtifacts"
            ],
            "members": {
              "S3ModelArtifacts": {
                "shape": "S1n"
              }
            }
          },
          "TrainingJobStatus": {
            "shape": "S4e"
          },
          "SecondaryStatus": {
            "shape": "S4v"
          },
          "FailureReason": {
            "shape": "S43"
          },
          "HyperParameters": {
            "shape": "S19"
          },
          "AlgorithmSpecification": {
            "shape": "S30"
          },
          "RoleArn": {
            "shape": "S1g"
          },
          "InputDataConfig": {
            "shape": "S1h"
          },
          "OutputDataConfig": {
            "shape": "S1x"
          },
          "ResourceConfig": {
            "shape": "S1y"
          },
          "VpcConfig": {
            "shape": "S1s"
          },
          "StoppingCondition": {
            "shape": "S22"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "TrainingStartTime": {
            "type": "timestamp"
          },
          "TrainingEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "SecondaryStatusTransitions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Status",
                "StartTime"
              ],
              "members": {
                "Status": {
                  "shape": "S4v"
                },
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "StatusMessage": {}
              }
            }
          }
        }
      }
    },
    "DescribeTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName"
        ],
        "members": {
          "TransformJobName": {
            "shape": "S34"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "TransformJobArn",
          "TransformJobStatus",
          "ModelName",
          "TransformInput",
          "TransformResources",
          "CreationTime"
        ],
        "members": {
          "TransformJobName": {
            "shape": "S34"
          },
          "TransformJobArn": {
            "shape": "S3m"
          },
          "TransformJobStatus": {
            "shape": "S51"
          },
          "FailureReason": {
            "shape": "S43"
          },
          "ModelName": {
            "shape": "Sh"
          },
          "MaxConcurrentTransforms": {
            "shape": "S35"
          },
          "MaxPayloadInMB": {
            "shape": "S36"
          },
          "BatchStrategy": {
            "shape": "S37"
          },
          "Environment": {
            "shape": "S38"
          },
          "TransformInput": {
            "shape": "S3b"
          },
          "TransformOutput": {
            "shape": "S3f"
          },
          "TransformResources": {
            "shape": "S3i"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "TransformStartTime": {
            "type": "timestamp"
          },
          "TransformEndTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "ListEndpointConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {
            "type": "string",
            "enum": [
              "Name",
              "CreationTime"
            ]
          },
          "SortOrder": {
            "shape": "S54"
          },
          "NextToken": {
            "shape": "S55"
          },
          "MaxResults": {
            "shape": "S56"
          },
          "NameContains": {
            "type": "string",
            "pattern": "[a-zA-Z0-9-]+"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigs"
        ],
        "members": {
          "EndpointConfigs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "EndpointConfigName",
                "EndpointConfigArn",
                "CreationTime"
              ],
              "members": {
                "EndpointConfigName": {
                  "shape": "Sa"
                },
                "EndpointConfigArn": {
                  "shape": "Sn"
                },
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S55"
          }
        }
      }
    },
    "ListEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {
            "type": "string",
            "enum": [
              "Name",
              "CreationTime",
              "Status"
            ]
          },
          "SortOrder": {
            "shape": "S54"
          },
          "NextToken": {
            "shape": "S55"
          },
          "MaxResults": {
            "shape": "S56"
          },
          "NameContains": {
            "type": "string",
            "pattern": "[a-zA-Z0-9-]+"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {
            "shape": "S42"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Endpoints"
        ],
        "members": {
          "Endpoints": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "EndpointName",
                "EndpointArn",
                "CreationTime",
                "LastModifiedTime",
                "EndpointStatus"
              ],
              "members": {
                "EndpointName": {
                  "shape": "S9"
                },
                "EndpointArn": {
                  "shape": "Sc"
                },
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "EndpointStatus": {
                  "shape": "S42"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S55"
          }
        }
      }
    },
    "ListHyperParameterTuningJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S5i"
          },
          "MaxResults": {
            "shape": "S56"
          },
          "SortBy": {
            "type": "string",
            "enum": [
              "Name",
              "Status",
              "CreationTime"
            ]
          },
          "SortOrder": {
            "shape": "S5k"
          },
          "NameContains": {
            "shape": "S5l"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "StatusEquals": {
            "shape": "S48"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobSummaries"
        ],
        "members": {
          "HyperParameterTuningJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "HyperParameterTuningJobName",
                "HyperParameterTuningJobArn",
                "HyperParameterTuningJobStatus",
                "Strategy",
                "CreationTime",
                "TrainingJobStatusCounters",
                "ObjectiveStatusCounters"
              ],
              "members": {
                "HyperParameterTuningJobName": {
                  "shape": "Sp"
                },
                "HyperParameterTuningJobArn": {
                  "shape": "S25"
                },
                "HyperParameterTuningJobStatus": {
                  "shape": "S48"
                },
                "Strategy": {
                  "shape": "Sr"
                },
                "CreationTime": {
                  "type": "timestamp"
                },
                "HyperParameterTuningEndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "TrainingJobStatusCounters": {
                  "shape": "S49"
                },
                "ObjectiveStatusCounters": {
                  "shape": "S4b"
                },
                "ResourceLimits": {
                  "shape": "Sv"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S5i"
          }
        }
      }
    },
    "ListModels": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {
            "type": "string",
            "enum": [
              "Name",
              "CreationTime"
            ]
          },
          "SortOrder": {
            "shape": "S54"
          },
          "NextToken": {
            "shape": "S55"
          },
          "MaxResults": {
            "shape": "S56"
          },
          "NameContains": {
            "type": "string",
            "pattern": "[a-zA-Z0-9-]+"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Models"
        ],
        "members": {
          "Models": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelName",
                "ModelArn",
                "CreationTime"
              ],
              "members": {
                "ModelName": {
                  "shape": "Sh"
                },
                "ModelArn": {
                  "shape": "S2f"
                },
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S55"
          }
        }
      }
    },
    "ListNotebookInstanceLifecycleConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S5i"
          },
          "MaxResults": {
            "shape": "S56"
          },
          "SortBy": {
            "type": "string",
            "enum": [
              "Name",
              "CreationTime",
              "LastModifiedTime"
            ]
          },
          "SortOrder": {
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          },
          "NameContains": {
            "type": "string",
            "pattern": "[a-zA-Z0-9-]+"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S5i"
          },
          "NotebookInstanceLifecycleConfigs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "NotebookInstanceLifecycleConfigName",
                "NotebookInstanceLifecycleConfigArn"
              ],
              "members": {
                "NotebookInstanceLifecycleConfigName": {
                  "shape": "S2k"
                },
                "NotebookInstanceLifecycleConfigArn": {
                  "shape": "S2t"
                },
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListNotebookInstances": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S5i"
          },
          "MaxResults": {
            "shape": "S56"
          },
          "SortBy": {
            "type": "string",
            "enum": [
              "Name",
              "CreationTime",
              "Status"
            ]
          },
          "SortOrder": {
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          },
          "NameContains": {
            "type": "string",
            "pattern": "[a-zA-Z0-9-]+"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {
            "shape": "S4m"
          },
          "NotebookInstanceLifecycleConfigNameContains": {
            "shape": "S2k"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S5i"
          },
          "NotebookInstances": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "NotebookInstanceName",
                "NotebookInstanceArn"
              ],
              "members": {
                "NotebookInstanceName": {
                  "shape": "S2h"
                },
                "NotebookInstanceArn": {
                  "shape": "S2n"
                },
                "NotebookInstanceStatus": {
                  "shape": "S4m"
                },
                "Url": {},
                "InstanceType": {
                  "shape": "S2i"
                },
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "NotebookInstanceLifecycleConfigName": {
                  "shape": "S2k"
                }
              }
            }
          }
        }
      }
    },
    "ListTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {
            "shape": "S2"
          },
          "NextToken": {
            "shape": "S5i"
          },
          "MaxResults": {
            "type": "integer",
            "min": 50
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3"
          },
          "NextToken": {
            "shape": "S5i"
          }
        }
      }
    },
    "ListTrainingJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {
            "shape": "S5i"
          },
          "MaxResults": {
            "shape": "S56"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "NameContains": {
            "shape": "S5l"
          },
          "StatusEquals": {
            "shape": "S4e"
          },
          "SortBy": {
            "shape": "S6d"
          },
          "SortOrder": {
            "shape": "S5k"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobSummaries"
        ],
        "members": {
          "TrainingJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "TrainingJobName",
                "TrainingJobArn",
                "CreationTime",
                "TrainingJobStatus"
              ],
              "members": {
                "TrainingJobName": {
                  "shape": "S2z"
                },
                "TrainingJobArn": {
                  "shape": "S32"
                },
                "CreationTime": {
                  "type": "timestamp"
                },
                "TrainingEndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "TrainingJobStatus": {
                  "shape": "S4e"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S5i"
          }
        }
      }
    },
    "ListTrainingJobsForHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {
            "shape": "Sp"
          },
          "NextToken": {
            "shape": "S5i"
          },
          "MaxResults": {
            "shape": "S56"
          },
          "StatusEquals": {
            "shape": "S4e"
          },
          "SortBy": {
            "type": "string",
            "enum": [
              "Name",
              "CreationTime",
              "Status",
              "FinalObjectiveMetricValue"
            ]
          },
          "SortOrder": {
            "shape": "S5k"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobSummaries"
        ],
        "members": {
          "TrainingJobSummaries": {
            "type": "list",
            "member": {
              "shape": "S4d"
            }
          },
          "NextToken": {
            "shape": "S5i"
          }
        }
      }
    },
    "ListTransformJobs": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "NameContains": {
            "shape": "S5l"
          },
          "StatusEquals": {
            "shape": "S51"
          },
          "SortBy": {
            "shape": "S6d"
          },
          "SortOrder": {
            "shape": "S5k"
          },
          "NextToken": {
            "shape": "S5i"
          },
          "MaxResults": {
            "shape": "S56"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobSummaries"
        ],
        "members": {
          "TransformJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "TransformJobName",
                "TransformJobArn",
                "CreationTime",
                "TransformJobStatus"
              ],
              "members": {
                "TransformJobName": {
                  "shape": "S34"
                },
                "TransformJobArn": {
                  "shape": "S3m"
                },
                "CreationTime": {
                  "type": "timestamp"
                },
                "TransformEndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "TransformJobStatus": {
                  "shape": "S51"
                },
                "FailureReason": {
                  "shape": "S43"
                }
              }
            }
          },
          "NextToken": {
            "shape": "S5i"
          }
        }
      }
    },
    "StartNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {
            "shape": "S2h"
          }
        }
      }
    },
    "StopHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {
            "shape": "Sp"
          }
        }
      }
    },
    "StopNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {
            "shape": "S2h"
          }
        }
      }
    },
    "StopTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName"
        ],
        "members": {
          "TrainingJobName": {
            "shape": "S2z"
          }
        }
      }
    },
    "StopTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName"
        ],
        "members": {
          "TransformJobName": {
            "shape": "S34"
          }
        }
      }
    },
    "UpdateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointConfigName"
        ],
        "members": {
          "EndpointName": {
            "shape": "S9"
          },
          "EndpointConfigName": {
            "shape": "Sa"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {
            "shape": "Sc"
          }
        }
      }
    },
    "UpdateEndpointWeightsAndCapacities": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "DesiredWeightsAndCapacities"
        ],
        "members": {
          "EndpointName": {
            "shape": "S9"
          },
          "DesiredWeightsAndCapacities": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "VariantName"
              ],
              "members": {
                "VariantName": {
                  "shape": "Sg"
                },
                "DesiredWeight": {
                  "shape": "Sk"
                },
                "DesiredInstanceCount": {
                  "shape": "Si"
                }
              }
            },
            "min": 1
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {
            "shape": "Sc"
          }
        }
      }
    },
    "UpdateNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {
            "shape": "S2h"
          },
          "InstanceType": {
            "shape": "S2i"
          },
          "RoleArn": {
            "shape": "S1g"
          },
          "LifecycleConfigName": {
            "shape": "S2k"
          },
          "DisassociateLifecycleConfig": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {
            "shape": "S2k"
          },
          "OnCreate": {
            "shape": "S2p"
          },
          "OnStart": {
            "shape": "S2p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S2": {
      "type": "string",
      "max": 256
    },
    "S3": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {
            "shape": "S5"
          },
          "Value": {
            "type": "string",
            "max": 256,
            "min": 0,
            "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
          }
        }
      },
      "max": 50,
      "min": 0
    },
    "S5": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^((?!aws:)[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "S9": {
      "type": "string",
      "max": 63,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "Sa": {
      "type": "string",
      "max": 63,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "Sc": {
      "type": "string",
      "max": 2048,
      "min": 20
    },
    "Se": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "VariantName",
          "ModelName",
          "InitialInstanceCount",
          "InstanceType"
        ],
        "members": {
          "VariantName": {
            "shape": "Sg"
          },
          "ModelName": {
            "shape": "Sh"
          },
          "InitialInstanceCount": {
            "shape": "Si"
          },
          "InstanceType": {
            "type": "string",
            "enum": [
              "ml.t2.medium",
              "ml.t2.large",
              "ml.t2.xlarge",
              "ml.t2.2xlarge",
              "ml.m4.xlarge",
              "ml.m4.2xlarge",
              "ml.m4.4xlarge",
              "ml.m4.10xlarge",
              "ml.m4.16xlarge",
              "ml.m5.large",
              "ml.m5.xlarge",
              "ml.m5.2xlarge",
              "ml.m5.4xlarge",
              "ml.m5.12xlarge",
              "ml.m5.24xlarge",
              "ml.c4.large",
              "ml.c4.xlarge",
              "ml.c4.2xlarge",
              "ml.c4.4xlarge",
              "ml.c4.8xlarge",
              "ml.p2.xlarge",
              "ml.p2.8xlarge",
              "ml.p2.16xlarge",
              "ml.p3.2xlarge",
              "ml.p3.8xlarge",
              "ml.p3.16xlarge",
              "ml.c5.large",
              "ml.c5.xlarge",
              "ml.c5.2xlarge",
              "ml.c5.4xlarge",
              "ml.c5.9xlarge",
              "ml.c5.18xlarge"
            ]
          },
          "InitialVariantWeight": {
            "shape": "Sk"
          }
        }
      },
      "min": 1
    },
    "Sg": {
      "type": "string",
      "max": 63,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "Sh": {
      "type": "string",
      "max": 63,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "Si": {
      "type": "integer",
      "min": 1
    },
    "Sk": {
      "type": "float",
      "min": 0
    },
    "Sl": {
      "type": "string",
      "max": 2048
    },
    "Sn": {
      "type": "string",
      "max": 2048,
      "min": 20
    },
    "Sp": {
      "type": "string",
      "max": 32,
      "min": 1,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "Sq": {
      "type": "structure",
      "required": [
        "Strategy",
        "HyperParameterTuningJobObjective",
        "ResourceLimits",
        "ParameterRanges"
      ],
      "members": {
        "Strategy": {
          "shape": "Sr"
        },
        "HyperParameterTuningJobObjective": {
          "type": "structure",
          "required": [
            "Type",
            "MetricName"
          ],
          "members": {
            "Type": {
              "shape": "St"
            },
            "MetricName": {
              "shape": "Su"
            }
          }
        },
        "ResourceLimits": {
          "shape": "Sv"
        },
        "ParameterRanges": {
          "type": "structure",
          "members": {
            "IntegerParameterRanges": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Name",
                  "MinValue",
                  "MaxValue"
                ],
                "members": {
                  "Name": {
                    "shape": "S11"
                  },
                  "MinValue": {
                    "shape": "S12"
                  },
                  "MaxValue": {
                    "shape": "S12"
                  }
                }
              },
              "max": 20,
              "min": 0
            },
            "ContinuousParameterRanges": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Name",
                  "MinValue",
                  "MaxValue"
                ],
                "members": {
                  "Name": {
                    "shape": "S11"
                  },
                  "MinValue": {
                    "shape": "S12"
                  },
                  "MaxValue": {
                    "shape": "S12"
                  }
                }
              },
              "max": 20,
              "min": 0
            },
            "CategoricalParameterRanges": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Name",
                  "Values"
                ],
                "members": {
                  "Name": {
                    "shape": "S11"
                  },
                  "Values": {
                    "type": "list",
                    "member": {
                      "shape": "S12"
                    },
                    "max": 20,
                    "min": 1
                  }
                }
              },
              "max": 20,
              "min": 0
            }
          }
        }
      }
    },
    "Sr": {
      "type": "string",
      "enum": [
        "Bayesian"
      ]
    },
    "St": {
      "type": "string",
      "enum": [
        "Maximize",
        "Minimize"
      ]
    },
    "Su": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "Sv": {
      "type": "structure",
      "required": [
        "MaxNumberOfTrainingJobs",
        "MaxParallelTrainingJobs"
      ],
      "members": {
        "MaxNumberOfTrainingJobs": {
          "type": "integer",
          "min": 1
        },
        "MaxParallelTrainingJobs": {
          "type": "integer",
          "min": 1
        }
      }
    },
    "S11": {
      "type": "string",
      "max": 256
    },
    "S12": {
      "type": "string",
      "max": 256
    },
    "S18": {
      "type": "structure",
      "required": [
        "AlgorithmSpecification",
        "RoleArn",
        "InputDataConfig",
        "OutputDataConfig",
        "ResourceConfig",
        "StoppingCondition"
      ],
      "members": {
        "StaticHyperParameters": {
          "shape": "S19"
        },
        "AlgorithmSpecification": {
          "type": "structure",
          "required": [
            "TrainingImage",
            "TrainingInputMode"
          ],
          "members": {
            "TrainingImage": {
              "shape": "S1b"
            },
            "TrainingInputMode": {
              "shape": "S1c"
            },
            "MetricDefinitions": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Name",
                  "Regex"
                ],
                "members": {
                  "Name": {
                    "shape": "Su"
                  },
                  "Regex": {
                    "type": "string",
                    "max": 500,
                    "min": 1
                  }
                }
              },
              "max": 20,
              "min": 0
            }
          }
        },
        "RoleArn": {
          "shape": "S1g"
        },
        "InputDataConfig": {
          "shape": "S1h"
        },
        "VpcConfig": {
          "shape": "S1s"
        },
        "OutputDataConfig": {
          "shape": "S1x"
        },
        "ResourceConfig": {
          "shape": "S1y"
        },
        "StoppingCondition": {
          "shape": "S22"
        }
      }
    },
    "S19": {
      "type": "map",
      "key": {
        "shape": "S11"
      },
      "value": {
        "shape": "S12"
      },
      "max": 100,
      "min": 0
    },
    "S1b": {
      "type": "string",
      "max": 255
    },
    "S1c": {
      "type": "string",
      "enum": [
        "Pipe",
        "File"
      ]
    },
    "S1g": {
      "type": "string",
      "max": 2048,
      "min": 20,
      "pattern": "^arn:aws[a-z\\-]*:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+$"
    },
    "S1h": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ChannelName",
          "DataSource"
        ],
        "members": {
          "ChannelName": {
            "type": "string",
            "max": 64,
            "min": 1,
            "pattern": "[A-Za-z0-9\\.\\-_]+"
          },
          "DataSource": {
            "type": "structure",
            "required": [
              "S3DataSource"
            ],
            "members": {
              "S3DataSource": {
                "type": "structure",
                "required": [
                  "S3DataType",
                  "S3Uri"
                ],
                "members": {
                  "S3DataType": {
                    "shape": "S1m"
                  },
                  "S3Uri": {
                    "shape": "S1n"
                  },
                  "S3DataDistributionType": {
                    "type": "string",
                    "enum": [
                      "FullyReplicated",
                      "ShardedByS3Key"
                    ]
                  }
                }
              }
            }
          },
          "ContentType": {
            "shape": "S1p"
          },
          "CompressionType": {
            "shape": "S1q"
          },
          "RecordWrapperType": {
            "type": "string",
            "enum": [
              "None",
              "RecordIO"
            ]
          }
        }
      },
      "max": 8,
      "min": 1
    },
    "S1m": {
      "type": "string",
      "enum": [
        "ManifestFile",
        "S3Prefix"
      ]
    },
    "S1n": {
      "type": "string",
      "max": 1024,
      "pattern": "^(https|s3)://([^/]+)/?(.*)$"
    },
    "S1p": {
      "type": "string",
      "max": 256
    },
    "S1q": {
      "type": "string",
      "enum": [
        "None",
        "Gzip"
      ]
    },
    "S1s": {
      "type": "structure",
      "required": [
        "SecurityGroupIds",
        "Subnets"
      ],
      "members": {
        "SecurityGroupIds": {
          "type": "list",
          "member": {
            "shape": "S1u"
          },
          "max": 5,
          "min": 1
        },
        "Subnets": {
          "type": "list",
          "member": {
            "shape": "S1w"
          },
          "max": 16,
          "min": 1
        }
      }
    },
    "S1u": {
      "type": "string",
      "max": 32
    },
    "S1w": {
      "type": "string",
      "max": 32
    },
    "S1x": {
      "type": "structure",
      "required": [
        "S3OutputPath"
      ],
      "members": {
        "KmsKeyId": {
          "shape": "Sl"
        },
        "S3OutputPath": {
          "shape": "S1n"
        }
      }
    },
    "S1y": {
      "type": "structure",
      "required": [
        "InstanceType",
        "InstanceCount",
        "VolumeSizeInGB"
      ],
      "members": {
        "InstanceType": {
          "type": "string",
          "enum": [
            "ml.m4.xlarge",
            "ml.m4.2xlarge",
            "ml.m4.4xlarge",
            "ml.m4.10xlarge",
            "ml.m4.16xlarge",
            "ml.m5.large",
            "ml.m5.xlarge",
            "ml.m5.2xlarge",
            "ml.m5.4xlarge",
            "ml.m5.12xlarge",
            "ml.m5.24xlarge",
            "ml.c4.xlarge",
            "ml.c4.2xlarge",
            "ml.c4.4xlarge",
            "ml.c4.8xlarge",
            "ml.p2.xlarge",
            "ml.p2.8xlarge",
            "ml.p2.16xlarge",
            "ml.p3.2xlarge",
            "ml.p3.8xlarge",
            "ml.p3.16xlarge",
            "ml.c5.xlarge",
            "ml.c5.2xlarge",
            "ml.c5.4xlarge",
            "ml.c5.9xlarge",
            "ml.c5.18xlarge"
          ]
        },
        "InstanceCount": {
          "type": "integer",
          "min": 1
        },
        "VolumeSizeInGB": {
          "type": "integer",
          "min": 1
        },
        "VolumeKmsKeyId": {
          "shape": "Sl"
        }
      }
    },
    "S22": {
      "type": "structure",
      "members": {
        "MaxRuntimeInSeconds": {
          "type": "integer",
          "min": 1
        }
      }
    },
    "S25": {
      "type": "string",
      "max": 256,
      "pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:hyper-parameter-tuning-job/.*"
    },
    "S27": {
      "type": "structure",
      "required": [
        "Image"
      ],
      "members": {
        "ContainerHostname": {
          "type": "string",
          "max": 63,
          "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
        },
        "Image": {
          "shape": "S29"
        },
        "ModelDataUrl": {
          "type": "string",
          "max": 1024,
          "pattern": "^(https|s3)://([^/]+)/?(.*)$"
        },
        "Environment": {
          "type": "map",
          "key": {
            "type": "string",
            "max": 1024,
            "pattern": "[a-zA-Z_][a-zA-Z0-9_]*"
          },
          "value": {
            "type": "string",
            "max": 1024
          },
          "max": 16
        }
      }
    },
    "S29": {
      "type": "string",
      "max": 255,
      "pattern": "[\\S]+"
    },
    "S2f": {
      "type": "string",
      "max": 2048,
      "min": 20
    },
    "S2h": {
      "type": "string",
      "max": 63,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "S2i": {
      "type": "string",
      "enum": [
        "ml.t2.medium",
        "ml.t2.large",
        "ml.t2.xlarge",
        "ml.t2.2xlarge",
        "ml.m4.xlarge",
        "ml.m4.2xlarge",
        "ml.m4.4xlarge",
        "ml.m4.10xlarge",
        "ml.m4.16xlarge",
        "ml.p2.xlarge",
        "ml.p2.8xlarge",
        "ml.p2.16xlarge",
        "ml.p3.2xlarge",
        "ml.p3.8xlarge",
        "ml.p3.16xlarge"
      ]
    },
    "S2j": {
      "type": "list",
      "member": {
        "shape": "S1u"
      },
      "max": 5
    },
    "S2k": {
      "type": "string",
      "max": 63,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "S2l": {
      "type": "string",
      "enum": [
        "Enabled",
        "Disabled"
      ]
    },
    "S2n": {
      "type": "string",
      "max": 256
    },
    "S2p": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Content": {
            "type": "string",
            "max": 16384,
            "min": 1
          }
        }
      },
      "max": 1
    },
    "S2t": {
      "type": "string",
      "max": 256
    },
    "S2z": {
      "type": "string",
      "max": 63,
      "min": 1,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "S30": {
      "type": "structure",
      "required": [
        "TrainingImage",
        "TrainingInputMode"
      ],
      "members": {
        "TrainingImage": {
          "shape": "S1b"
        },
        "TrainingInputMode": {
          "shape": "S1c"
        }
      }
    },
    "S32": {
      "type": "string",
      "max": 256,
      "pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:training-job/.*"
    },
    "S34": {
      "type": "string",
      "max": 63,
      "min": 1,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "S35": {
      "type": "integer",
      "min": 0
    },
    "S36": {
      "type": "integer",
      "min": 0
    },
    "S37": {
      "type": "string",
      "enum": [
        "MultiRecord",
        "SingleRecord"
      ]
    },
    "S38": {
      "type": "map",
      "key": {
        "type": "string",
        "max": 1024,
        "pattern": "[a-zA-Z_][a-zA-Z0-9_]*"
      },
      "value": {
        "type": "string",
        "max": 10240
      },
      "max": 16
    },
    "S3b": {
      "type": "structure",
      "required": [
        "DataSource"
      ],
      "members": {
        "DataSource": {
          "type": "structure",
          "required": [
            "S3DataSource"
          ],
          "members": {
            "S3DataSource": {
              "type": "structure",
              "required": [
                "S3DataType",
                "S3Uri"
              ],
              "members": {
                "S3DataType": {
                  "shape": "S1m"
                },
                "S3Uri": {
                  "shape": "S1n"
                }
              }
            }
          }
        },
        "ContentType": {
          "shape": "S1p"
        },
        "CompressionType": {
          "shape": "S1q"
        },
        "SplitType": {
          "type": "string",
          "enum": [
            "None",
            "Line",
            "RecordIO"
          ]
        }
      }
    },
    "S3f": {
      "type": "structure",
      "required": [
        "S3OutputPath"
      ],
      "members": {
        "S3OutputPath": {
          "shape": "S1n"
        },
        "Accept": {
          "type": "string",
          "max": 256
        },
        "AssembleWith": {
          "type": "string",
          "enum": [
            "None",
            "Line"
          ]
        },
        "KmsKeyId": {
          "shape": "Sl"
        }
      }
    },
    "S3i": {
      "type": "structure",
      "required": [
        "InstanceType",
        "InstanceCount"
      ],
      "members": {
        "InstanceType": {
          "type": "string",
          "enum": [
            "ml.m4.xlarge",
            "ml.m4.2xlarge",
            "ml.m4.4xlarge",
            "ml.m4.10xlarge",
            "ml.m4.16xlarge",
            "ml.c4.xlarge",
            "ml.c4.2xlarge",
            "ml.c4.4xlarge",
            "ml.c4.8xlarge",
            "ml.p2.xlarge",
            "ml.p2.8xlarge",
            "ml.p2.16xlarge",
            "ml.p3.2xlarge",
            "ml.p3.8xlarge",
            "ml.p3.16xlarge",
            "ml.c5.xlarge",
            "ml.c5.2xlarge",
            "ml.c5.4xlarge",
            "ml.c5.9xlarge",
            "ml.c5.18xlarge",
            "ml.m5.large",
            "ml.m5.xlarge",
            "ml.m5.2xlarge",
            "ml.m5.4xlarge",
            "ml.m5.12xlarge",
            "ml.m5.24xlarge"
          ]
        },
        "InstanceCount": {
          "type": "integer",
          "min": 1
        },
        "VolumeKmsKeyId": {
          "shape": "Sl"
        }
      }
    },
    "S3m": {
      "type": "string",
      "max": 256,
      "pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:transform-job/.*"
    },
    "S42": {
      "type": "string",
      "enum": [
        "OutOfService",
        "Creating",
        "Updating",
        "SystemUpdating",
        "RollingBack",
        "InService",
        "Deleting",
        "Failed"
      ]
    },
    "S43": {
      "type": "string",
      "max": 1024
    },
    "S48": {
      "type": "string",
      "enum": [
        "Completed",
        "InProgress",
        "Failed",
        "Stopped",
        "Stopping"
      ]
    },
    "S49": {
      "type": "structure",
      "members": {
        "Completed": {
          "shape": "S4a"
        },
        "InProgress": {
          "shape": "S4a"
        },
        "RetryableError": {
          "shape": "S4a"
        },
        "NonRetryableError": {
          "shape": "S4a"
        },
        "Stopped": {
          "shape": "S4a"
        }
      }
    },
    "S4a": {
      "type": "integer",
      "min": 0
    },
    "S4b": {
      "type": "structure",
      "members": {
        "Succeeded": {
          "shape": "S4c"
        },
        "Pending": {
          "shape": "S4c"
        },
        "Failed": {
          "shape": "S4c"
        }
      }
    },
    "S4c": {
      "type": "integer",
      "min": 0
    },
    "S4d": {
      "type": "structure",
      "required": [
        "TrainingJobName",
        "TrainingJobArn",
        "CreationTime",
        "TrainingJobStatus",
        "TunedHyperParameters"
      ],
      "members": {
        "TrainingJobName": {
          "shape": "S2z"
        },
        "TrainingJobArn": {
          "shape": "S32"
        },
        "CreationTime": {
          "type": "timestamp"
        },
        "TrainingStartTime": {
          "type": "timestamp"
        },
        "TrainingEndTime": {
          "type": "timestamp"
        },
        "TrainingJobStatus": {
          "shape": "S4e"
        },
        "TunedHyperParameters": {
          "shape": "S19"
        },
        "FailureReason": {
          "shape": "S43"
        },
        "FinalHyperParameterTuningJobObjectiveMetric": {
          "type": "structure",
          "required": [
            "MetricName",
            "Value"
          ],
          "members": {
            "Type": {
              "shape": "St"
            },
            "MetricName": {
              "shape": "Su"
            },
            "Value": {
              "type": "float"
            }
          }
        },
        "ObjectiveStatus": {
          "type": "string",
          "enum": [
            "Succeeded",
            "Pending",
            "Failed"
          ]
        }
      }
    },
    "S4e": {
      "type": "string",
      "enum": [
        "InProgress",
        "Completed",
        "Failed",
        "Stopping",
        "Stopped"
      ]
    },
    "S4m": {
      "type": "string",
      "enum": [
        "Pending",
        "InService",
        "Stopping",
        "Stopped",
        "Failed",
        "Deleting",
        "Updating"
      ]
    },
    "S4v": {
      "type": "string",
      "enum": [
        "Starting",
        "LaunchingMLInstances",
        "PreparingTrainingStack",
        "Downloading",
        "DownloadingTrainingImage",
        "Training",
        "Uploading",
        "Stopping",
        "Stopped",
        "MaxRuntimeExceeded",
        "Completed",
        "Failed"
      ]
    },
    "S51": {
      "type": "string",
      "enum": [
        "InProgress",
        "Completed",
        "Failed",
        "Stopping",
        "Stopped"
      ]
    },
    "S54": {
      "type": "string",
      "enum": [
        "Ascending",
        "Descending"
      ]
    },
    "S55": {
      "type": "string",
      "max": 8192
    },
    "S56": {
      "type": "integer",
      "max": 100,
      "min": 1
    },
    "S5i": {
      "type": "string",
      "max": 8192
    },
    "S5k": {
      "type": "string",
      "enum": [
        "Ascending",
        "Descending"
      ]
    },
    "S5l": {
      "type": "string",
      "max": 63,
      "pattern": "[a-zA-Z0-9\\-]+"
    },
    "S6d": {
      "type": "string",
      "enum": [
        "Name",
        "CreationTime",
        "Status"
      ]
    }
  }
}