{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-24",
    "endpointPrefix": "api.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "json",
    "protocols": [
      "json"
    ],
    "serviceAbbreviation": "SageMaker",
    "serviceFullName": "Amazon SageMaker Service",
    "serviceId": "SageMaker",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "targetPrefix": "SageMaker",
    "uid": "sagemaker-2017-07-24",
    "auth": [
      "aws.auth#sigv4"
    ]
  },
  "operations": {
    "AddAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "SourceArn",
          "DestinationArn"
        ],
        "members": {
          "SourceArn": {},
          "DestinationArn": {},
          "AssociationType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SourceArn": {},
          "DestinationArn": {}
        }
      }
    },
    "AddTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "AssociateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName",
          "TrialName"
        ],
        "members": {
          "TrialComponentName": {},
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {},
          "TrialArn": {}
        }
      }
    },
    "BatchDescribeModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageArnList"
        ],
        "members": {
          "ModelPackageArnList": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ModelPackageSummaries": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "required": [
                "ModelPackageGroupName",
                "ModelPackageArn",
                "CreationTime",
                "InferenceSpecification",
                "ModelPackageStatus"
              ],
              "members": {
                "ModelPackageGroupName": {},
                "ModelPackageVersion": {
                  "type": "integer"
                },
                "ModelPackageArn": {},
                "ModelPackageDescription": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "InferenceSpecification": {
                  "shape": "Sr"
                },
                "ModelPackageStatus": {},
                "ModelApprovalStatus": {}
              }
            }
          },
          "BatchDescribeModelPackageErrorMap": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "required": [
                "ErrorCode",
                "ErrorResponse"
              ],
              "members": {
                "ErrorCode": {},
                "ErrorResponse": {}
              }
            }
          }
        }
      }
    },
    "CreateAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionName",
          "Source",
          "ActionType"
        ],
        "members": {
          "ActionName": {},
          "Source": {
            "shape": "S1w"
          },
          "ActionType": {},
          "Description": {},
          "Status": {},
          "Properties": {
            "shape": "S21"
          },
          "MetadataProperties": {
            "shape": "S23"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActionArn": {}
        }
      }
    },
    "CreateAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName",
          "TrainingSpecification"
        ],
        "members": {
          "AlgorithmName": {},
          "AlgorithmDescription": {},
          "TrainingSpecification": {
            "shape": "S28"
          },
          "InferenceSpecification": {
            "shape": "Sr"
          },
          "ValidationSpecification": {
            "shape": "S30"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmArn"
        ],
        "members": {
          "AlgorithmArn": {}
        }
      }
    },
    "CreateApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SpaceName": {},
          "AppType": {},
          "AppName": {},
          "Tags": {
            "shape": "S7"
          },
          "ResourceSpec": {
            "shape": "S4r"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppArn": {}
        }
      }
    },
    "CreateAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {},
          "Tags": {
            "shape": "S7"
          },
          "KernelGatewayImageConfig": {
            "shape": "S51"
          },
          "JupyterLabAppImageConfig": {
            "shape": "S5a"
          },
          "CodeEditorAppImageConfig": {
            "shape": "S5h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppImageConfigArn": {}
        }
      }
    },
    "CreateArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "Source",
          "ArtifactType"
        ],
        "members": {
          "ArtifactName": {},
          "Source": {
            "shape": "S5l"
          },
          "ArtifactType": {},
          "Properties": {
            "shape": "S5p"
          },
          "MetadataProperties": {
            "shape": "S23"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ArtifactArn": {}
        }
      }
    },
    "CreateAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "InputDataConfig",
          "OutputDataConfig",
          "RoleArn"
        ],
        "members": {
          "AutoMLJobName": {},
          "InputDataConfig": {
            "shape": "S5v"
          },
          "OutputDataConfig": {
            "shape": "S63"
          },
          "ProblemType": {},
          "AutoMLJobObjective": {
            "shape": "S65"
          },
          "AutoMLJobConfig": {
            "shape": "S67"
          },
          "RoleArn": {},
          "GenerateCandidateDefinitionsOnly": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S7"
          },
          "ModelDeployConfig": {
            "shape": "S6r"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobArn"
        ],
        "members": {
          "AutoMLJobArn": {}
        }
      }
    },
    "CreateAutoMLJobV2": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "AutoMLJobInputDataConfig",
          "OutputDataConfig",
          "AutoMLProblemTypeConfig",
          "RoleArn"
        ],
        "members": {
          "AutoMLJobName": {},
          "AutoMLJobInputDataConfig": {
            "shape": "S6x"
          },
          "OutputDataConfig": {
            "shape": "S63"
          },
          "AutoMLProblemTypeConfig": {
            "shape": "S6z"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "SecurityConfig": {
            "shape": "S6c"
          },
          "AutoMLJobObjective": {
            "shape": "S65"
          },
          "ModelDeployConfig": {
            "shape": "S6r"
          },
          "DataSplitConfig": {
            "shape": "S6n"
          },
          "AutoMLComputeConfig": {
            "shape": "S7w"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobArn"
        ],
        "members": {
          "AutoMLJobArn": {}
        }
      }
    },
    "CreateCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterName",
          "InstanceGroups"
        ],
        "members": {
          "ClusterName": {},
          "InstanceGroups": {
            "shape": "S81"
          },
          "VpcConfig": {
            "shape": "S6d"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ClusterArn"
        ],
        "members": {
          "ClusterArn": {}
        }
      }
    },
    "CreateCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName",
          "GitConfig"
        ],
        "members": {
          "CodeRepositoryName": {},
          "GitConfig": {
            "shape": "S8h"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositoryArn"
        ],
        "members": {
          "CodeRepositoryArn": {}
        }
      }
    },
    "CreateCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName",
          "RoleArn",
          "OutputConfig",
          "StoppingCondition"
        ],
        "members": {
          "CompilationJobName": {},
          "RoleArn": {},
          "ModelPackageVersionArn": {},
          "InputConfig": {
            "shape": "S8o"
          },
          "OutputConfig": {
            "shape": "S8r"
          },
          "VpcConfig": {
            "shape": "S8y"
          },
          "StoppingCondition": {
            "shape": "S3y"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobArn"
        ],
        "members": {
          "CompilationJobArn": {}
        }
      }
    },
    "CreateContext": {
      "input": {
        "type": "structure",
        "required": [
          "ContextName",
          "Source",
          "ContextType"
        ],
        "members": {
          "ContextName": {},
          "Source": {
            "shape": "S97"
          },
          "ContextType": {},
          "Description": {},
          "Properties": {
            "shape": "S21"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContextArn": {}
        }
      }
    },
    "CreateDataQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "DataQualityAppSpecification",
          "DataQualityJobInput",
          "DataQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "DataQualityBaselineConfig": {
            "shape": "S9c"
          },
          "DataQualityAppSpecification": {
            "shape": "S9g"
          },
          "DataQualityJobInput": {
            "shape": "S9p"
          },
          "DataQualityJobOutputConfig": {
            "shape": "Sa3"
          },
          "JobResources": {
            "shape": "Sa9"
          },
          "NetworkConfig": {
            "shape": "Sae"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "Saf"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateDeviceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName",
          "OutputConfig"
        ],
        "members": {
          "DeviceFleetName": {},
          "RoleArn": {},
          "Description": {},
          "OutputConfig": {
            "shape": "Sal"
          },
          "Tags": {
            "shape": "S7"
          },
          "EnableIotRoleAlias": {
            "type": "boolean"
          }
        }
      }
    },
    "CreateDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AuthMode",
          "DefaultUserSettings",
          "SubnetIds",
          "VpcId"
        ],
        "members": {
          "DomainName": {},
          "AuthMode": {},
          "DefaultUserSettings": {
            "shape": "Sar"
          },
          "DomainSettings": {
            "shape": "Scc"
          },
          "SubnetIds": {
            "shape": "S6g"
          },
          "VpcId": {},
          "Tags": {
            "shape": "S7"
          },
          "AppNetworkAccessType": {},
          "HomeEfsFileSystemKmsKeyId": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use KmsKeyId instead."
          },
          "KmsKeyId": {},
          "AppSecurityGroupManagement": {},
          "DefaultSpaceSettings": {
            "shape": "Sco"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainArn": {},
          "Url": {}
        }
      }
    },
    "CreateEdgeDeploymentPlan": {
      "input": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanName",
          "ModelConfigs",
          "DeviceFleetName"
        ],
        "members": {
          "EdgeDeploymentPlanName": {},
          "ModelConfigs": {
            "shape": "Sct"
          },
          "DeviceFleetName": {},
          "Stages": {
            "shape": "Scv"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanArn"
        ],
        "members": {
          "EdgeDeploymentPlanArn": {}
        }
      }
    },
    "CreateEdgeDeploymentStage": {
      "input": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanName",
          "Stages"
        ],
        "members": {
          "EdgeDeploymentPlanName": {},
          "Stages": {
            "shape": "Scv"
          }
        }
      }
    },
    "CreateEdgePackagingJob": {
      "input": {
        "type": "structure",
        "required": [
          "EdgePackagingJobName",
          "CompilationJobName",
          "ModelName",
          "ModelVersion",
          "RoleArn",
          "OutputConfig"
        ],
        "members": {
          "EdgePackagingJobName": {},
          "CompilationJobName": {},
          "ModelName": {},
          "ModelVersion": {},
          "RoleArn": {},
          "OutputConfig": {
            "shape": "Sal"
          },
          "ResourceKey": {},
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointConfigName"
        ],
        "members": {
          "EndpointName": {},
          "EndpointConfigName": {},
          "DeploymentConfig": {
            "shape": "Sdb"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      }
    },
    "CreateEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "ProductionVariants"
        ],
        "members": {
          "EndpointConfigName": {},
          "ProductionVariants": {
            "shape": "Sdt"
          },
          "DataCaptureConfig": {
            "shape": "Seg"
          },
          "Tags": {
            "shape": "S7"
          },
          "KmsKeyId": {},
          "AsyncInferenceConfig": {
            "shape": "Ser"
          },
          "ExplainerConfig": {
            "shape": "Sez"
          },
          "ShadowProductionVariants": {
            "shape": "Sdt"
          },
          "ExecutionRoleArn": {},
          "VpcConfig": {
            "shape": "S6d"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigArn"
        ],
        "members": {
          "EndpointConfigArn": {}
        }
      }
    },
    "CreateExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {},
          "DisplayName": {},
          "Description": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentArn": {}
        }
      }
    },
    "CreateFeatureGroup": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName",
          "RecordIdentifierFeatureName",
          "EventTimeFeatureName",
          "FeatureDefinitions"
        ],
        "members": {
          "FeatureGroupName": {},
          "RecordIdentifierFeatureName": {},
          "EventTimeFeatureName": {},
          "FeatureDefinitions": {
            "shape": "Sfy"
          },
          "OnlineStoreConfig": {
            "shape": "Sg5"
          },
          "OfflineStoreConfig": {
            "shape": "Sgb"
          },
          "ThroughputConfig": {
            "type": "structure",
            "required": [
              "ThroughputMode"
            ],
            "members": {
              "ThroughputMode": {},
              "ProvisionedReadCapacityUnits": {
                "type": "integer"
              },
              "ProvisionedWriteCapacityUnits": {
                "type": "integer"
              }
            }
          },
          "RoleArn": {},
          "Description": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FeatureGroupArn"
        ],
        "members": {
          "FeatureGroupArn": {}
        }
      }
    },
    "CreateFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName",
          "OutputConfig",
          "RoleArn"
        ],
        "members": {
          "FlowDefinitionName": {},
          "HumanLoopRequestSource": {
            "shape": "Sgq"
          },
          "HumanLoopActivationConfig": {
            "shape": "Sgs"
          },
          "HumanLoopConfig": {
            "shape": "Sgv"
          },
          "OutputConfig": {
            "shape": "Sha"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionArn"
        ],
        "members": {
          "FlowDefinitionArn": {}
        }
      }
    },
    "CreateHub": {
      "input": {
        "type": "structure",
        "required": [
          "HubName",
          "HubDescription"
        ],
        "members": {
          "HubName": {},
          "HubDescription": {},
          "HubDisplayName": {},
          "HubSearchKeywords": {
            "shape": "Shh"
          },
          "S3StorageConfig": {
            "shape": "Shj"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HubArn"
        ],
        "members": {
          "HubArn": {}
        }
      }
    },
    "CreateHubContentReference": {
      "input": {
        "type": "structure",
        "required": [
          "HubName",
          "SageMakerPublicHubContentArn"
        ],
        "members": {
          "HubName": {},
          "SageMakerPublicHubContentArn": {},
          "HubContentName": {},
          "MinVersion": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HubArn",
          "HubContentArn"
        ],
        "members": {
          "HubArn": {},
          "HubContentArn": {}
        }
      }
    },
    "CreateHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName",
          "UiTemplate"
        ],
        "members": {
          "HumanTaskUiName": {},
          "UiTemplate": {
            "shape": "Shv"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiArn"
        ],
        "members": {
          "HumanTaskUiArn": {}
        }
      }
    },
    "CreateHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobConfig"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobConfig": {
            "shape": "Si0"
          },
          "TrainingJobDefinition": {
            "shape": "Sit"
          },
          "TrainingJobDefinitions": {
            "shape": "Sj9"
          },
          "WarmStartConfig": {
            "shape": "Sja"
          },
          "Tags": {
            "shape": "S7"
          },
          "Autotune": {
            "shape": "Sje"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobArn"
        ],
        "members": {
          "HyperParameterTuningJobArn": {}
        }
      }
    },
    "CreateImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName",
          "RoleArn"
        ],
        "members": {
          "Description": {},
          "DisplayName": {},
          "ImageName": {},
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageArn": {}
        }
      }
    },
    "CreateImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "BaseImage",
          "ClientToken",
          "ImageName"
        ],
        "members": {
          "BaseImage": {},
          "ClientToken": {
            "idempotencyToken": true
          },
          "ImageName": {},
          "Aliases": {
            "shape": "Sjp"
          },
          "VendorGuidance": {},
          "JobType": {},
          "MLFramework": {},
          "ProgrammingLang": {},
          "Processor": {},
          "Horovod": {
            "type": "boolean"
          },
          "ReleaseNotes": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageVersionArn": {}
        }
      }
    },
    "CreateInferenceComponent": {
      "input": {
        "type": "structure",
        "required": [
          "InferenceComponentName",
          "EndpointName",
          "VariantName",
          "Specification",
          "RuntimeConfig"
        ],
        "members": {
          "InferenceComponentName": {},
          "EndpointName": {},
          "VariantName": {},
          "Specification": {
            "shape": "Sk1"
          },
          "RuntimeConfig": {
            "shape": "Sk8"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InferenceComponentArn"
        ],
        "members": {
          "InferenceComponentArn": {}
        }
      }
    },
    "CreateInferenceExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "Name",
          "Type",
          "RoleArn",
          "EndpointName",
          "ModelVariants",
          "ShadowModeConfig"
        ],
        "members": {
          "Name": {},
          "Type": {},
          "Schedule": {
            "shape": "Skf"
          },
          "Description": {},
          "RoleArn": {},
          "EndpointName": {},
          "ModelVariants": {
            "shape": "Ski"
          },
          "DataStorageConfig": {
            "shape": "Skq"
          },
          "ShadowModeConfig": {
            "shape": "Skr"
          },
          "KmsKey": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InferenceExperimentArn"
        ],
        "members": {
          "InferenceExperimentArn": {}
        }
      }
    },
    "CreateInferenceRecommendationsJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobType",
          "RoleArn",
          "InputConfig"
        ],
        "members": {
          "JobName": {},
          "JobType": {},
          "RoleArn": {},
          "InputConfig": {
            "shape": "Skz"
          },
          "JobDescription": {},
          "StoppingConditions": {
            "shape": "Sm5"
          },
          "OutputConfig": {
            "type": "structure",
            "members": {
              "KmsKeyId": {},
              "CompiledOutputConfig": {
                "type": "structure",
                "members": {
                  "S3OutputUri": {}
                }
              }
            }
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobArn"
        ],
        "members": {
          "JobArn": {}
        }
      }
    },
    "CreateLabelingJob": {
      "input": {
        "type": "structure",
        "required": [
          "LabelingJobName",
          "LabelAttributeName",
          "InputConfig",
          "OutputConfig",
          "RoleArn",
          "HumanTaskConfig"
        ],
        "members": {
          "LabelingJobName": {},
          "LabelAttributeName": {},
          "InputConfig": {
            "shape": "Smh"
          },
          "OutputConfig": {
            "shape": "Smo"
          },
          "RoleArn": {},
          "LabelCategoryConfigS3Uri": {},
          "StoppingConditions": {
            "shape": "Smp"
          },
          "LabelingJobAlgorithmsConfig": {
            "shape": "Sms"
          },
          "HumanTaskConfig": {
            "shape": "Smw"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobArn"
        ],
        "members": {
          "LabelingJobArn": {}
        }
      }
    },
    "CreateMlflowTrackingServer": {
      "input": {
        "type": "structure",
        "required": [
          "TrackingServerName",
          "ArtifactStoreUri",
          "RoleArn"
        ],
        "members": {
          "TrackingServerName": {},
          "ArtifactStoreUri": {},
          "TrackingServerSize": {},
          "MlflowVersion": {},
          "RoleArn": {},
          "AutomaticModelRegistration": {
            "type": "boolean"
          },
          "WeeklyMaintenanceWindowStart": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrackingServerArn": {}
        }
      }
    },
    "CreateModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "Sni"
          },
          "Containers": {
            "shape": "Snu"
          },
          "InferenceExecutionConfig": {
            "shape": "Snv"
          },
          "ExecutionRoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "VpcConfig": {
            "shape": "S6d"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelArn"
        ],
        "members": {
          "ModelArn": {}
        }
      }
    },
    "CreateModelBiasJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "ModelBiasAppSpecification",
          "ModelBiasJobInput",
          "ModelBiasJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "ModelBiasBaselineConfig": {
            "shape": "Snz"
          },
          "ModelBiasAppSpecification": {
            "shape": "So0"
          },
          "ModelBiasJobInput": {
            "shape": "So1"
          },
          "ModelBiasJobOutputConfig": {
            "shape": "Sa3"
          },
          "JobResources": {
            "shape": "Sa9"
          },
          "NetworkConfig": {
            "shape": "Sae"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "Saf"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateModelCard": {
      "input": {
        "type": "structure",
        "required": [
          "ModelCardName",
          "Content",
          "ModelCardStatus"
        ],
        "members": {
          "ModelCardName": {},
          "SecurityConfig": {
            "shape": "So5"
          },
          "Content": {
            "shape": "So6"
          },
          "ModelCardStatus": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelCardArn"
        ],
        "members": {
          "ModelCardArn": {}
        }
      }
    },
    "CreateModelCardExportJob": {
      "input": {
        "type": "structure",
        "required": [
          "ModelCardName",
          "ModelCardExportJobName",
          "OutputConfig"
        ],
        "members": {
          "ModelCardName": {},
          "ModelCardVersion": {
            "type": "integer"
          },
          "ModelCardExportJobName": {},
          "OutputConfig": {
            "shape": "Soc"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelCardExportJobArn"
        ],
        "members": {
          "ModelCardExportJobArn": {}
        }
      }
    },
    "CreateModelExplainabilityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "ModelExplainabilityAppSpecification",
          "ModelExplainabilityJobInput",
          "ModelExplainabilityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "ModelExplainabilityBaselineConfig": {
            "shape": "Sog"
          },
          "ModelExplainabilityAppSpecification": {
            "shape": "Soh"
          },
          "ModelExplainabilityJobInput": {
            "shape": "Soi"
          },
          "ModelExplainabilityJobOutputConfig": {
            "shape": "Sa3"
          },
          "JobResources": {
            "shape": "Sa9"
          },
          "NetworkConfig": {
            "shape": "Sae"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "Saf"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateModelPackage": {
      "input": {
        "type": "structure",
        "members": {
          "ModelPackageName": {},
          "ModelPackageGroupName": {},
          "ModelPackageDescription": {},
          "InferenceSpecification": {
            "shape": "Sr"
          },
          "ValidationSpecification": {
            "shape": "Sol"
          },
          "SourceAlgorithmSpecification": {
            "shape": "Soo"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S7"
          },
          "ModelApprovalStatus": {},
          "MetadataProperties": {
            "shape": "S23"
          },
          "ModelMetrics": {
            "shape": "Sor"
          },
          "ClientToken": {
            "idempotencyToken": true
          },
          "Domain": {},
          "Task": {},
          "SamplePayloadUrl": {},
          "CustomerMetadataProperties": {
            "shape": "Soy"
          },
          "DriftCheckBaselines": {
            "shape": "Sp1"
          },
          "AdditionalInferenceSpecifications": {
            "shape": "Sp7"
          },
          "SkipModelValidation": {},
          "SourceUri": {},
          "SecurityConfig": {
            "shape": "Spb"
          },
          "ModelCard": {
            "shape": "Spc"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageArn"
        ],
        "members": {
          "ModelPackageArn": {}
        }
      }
    },
    "CreateModelPackageGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {},
          "ModelPackageGroupDescription": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageGroupArn"
        ],
        "members": {
          "ModelPackageGroupArn": {}
        }
      }
    },
    "CreateModelQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "ModelQualityAppSpecification",
          "ModelQualityJobInput",
          "ModelQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "ModelQualityBaselineConfig": {
            "shape": "Spi"
          },
          "ModelQualityAppSpecification": {
            "shape": "Spj"
          },
          "ModelQualityJobInput": {
            "shape": "Spl"
          },
          "ModelQualityJobOutputConfig": {
            "shape": "Sa3"
          },
          "JobResources": {
            "shape": "Sa9"
          },
          "NetworkConfig": {
            "shape": "Sae"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "Saf"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName",
          "MonitoringScheduleConfig"
        ],
        "members": {
          "MonitoringScheduleName": {},
          "MonitoringScheduleConfig": {
            "shape": "Spp"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringScheduleArn"
        ],
        "members": {
          "MonitoringScheduleArn": {}
        }
      }
    },
    "CreateNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName",
          "InstanceType",
          "RoleArn"
        ],
        "members": {
          "NotebookInstanceName": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroupIds": {
            "shape": "Sas"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "Tags": {
            "shape": "S7"
          },
          "LifecycleConfigName": {},
          "DirectInternetAccess": {},
          "VolumeSizeInGB": {
            "type": "integer"
          },
          "AcceleratorTypes": {
            "shape": "Sq6"
          },
          "DefaultCodeRepository": {},
          "AdditionalCodeRepositories": {
            "shape": "Sq9"
          },
          "RootAccess": {},
          "PlatformIdentifier": {},
          "InstanceMetadataServiceConfiguration": {
            "shape": "Sqc"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {}
        }
      }
    },
    "CreateNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "Sqh"
          },
          "OnStart": {
            "shape": "Sqh"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {}
        }
      }
    },
    "CreateOptimizationJob": {
      "input": {
        "type": "structure",
        "required": [
          "OptimizationJobName",
          "RoleArn",
          "ModelSource",
          "DeploymentInstanceType",
          "OptimizationConfigs",
          "OutputConfig",
          "StoppingCondition"
        ],
        "members": {
          "OptimizationJobName": {},
          "RoleArn": {},
          "ModelSource": {
            "shape": "Sqn"
          },
          "DeploymentInstanceType": {},
          "OptimizationEnvironment": {
            "shape": "Sqs"
          },
          "OptimizationConfigs": {
            "shape": "Sqt"
          },
          "OutputConfig": {
            "shape": "Sqy"
          },
          "StoppingCondition": {
            "shape": "S3y"
          },
          "Tags": {
            "shape": "S7"
          },
          "VpcConfig": {
            "shape": "Sqz"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "OptimizationJobArn"
        ],
        "members": {
          "OptimizationJobArn": {}
        }
      }
    },
    "CreatePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineName",
          "ClientRequestToken",
          "RoleArn"
        ],
        "members": {
          "PipelineName": {},
          "PipelineDisplayName": {},
          "PipelineDefinition": {},
          "PipelineDefinitionS3Location": {
            "shape": "Sr9"
          },
          "PipelineDescription": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "ParallelismConfiguration": {
            "shape": "Srf"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineArn": {}
        }
      }
    },
    "CreatePresignedDomainUrl": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          },
          "ExpiresInSeconds": {
            "type": "integer"
          },
          "SpaceName": {},
          "LandingUri": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreatePresignedMlflowTrackingServerUrl": {
      "input": {
        "type": "structure",
        "required": [
          "TrackingServerName"
        ],
        "members": {
          "TrackingServerName": {},
          "ExpiresInSeconds": {
            "type": "integer"
          },
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreatePresignedNotebookInstanceUrl": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreateProcessingJob": {
      "input": {
        "type": "structure",
        "required": [
          "ProcessingJobName",
          "ProcessingResources",
          "AppSpecification",
          "RoleArn"
        ],
        "members": {
          "ProcessingInputs": {
            "shape": "Srv"
          },
          "ProcessingOutputConfig": {
            "shape": "Ssi"
          },
          "ProcessingJobName": {},
          "ProcessingResources": {
            "shape": "Ssn"
          },
          "StoppingCondition": {
            "shape": "Ssp"
          },
          "AppSpecification": {
            "shape": "Ssr"
          },
          "Environment": {
            "shape": "Sst"
          },
          "NetworkConfig": {
            "shape": "Spx"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "ExperimentConfig": {
            "shape": "Ssu"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessingJobArn"
        ],
        "members": {
          "ProcessingJobArn": {}
        }
      }
    },
    "CreateProject": {
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "ServiceCatalogProvisioningDetails"
        ],
        "members": {
          "ProjectName": {},
          "ProjectDescription": {},
          "ServiceCatalogProvisioningDetails": {
            "shape": "Ssz"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProjectArn",
          "ProjectId"
        ],
        "members": {
          "ProjectArn": {},
          "ProjectId": {}
        }
      }
    },
    "CreateSpace": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "SpaceName"
        ],
        "members": {
          "DomainId": {},
          "SpaceName": {},
          "Tags": {
            "shape": "S7"
          },
          "SpaceSettings": {
            "shape": "St9"
          },
          "OwnershipSettings": {
            "shape": "Stj"
          },
          "SpaceSharingSettings": {
            "shape": "Stk"
          },
          "SpaceDisplayName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SpaceArn": {}
        }
      }
    },
    "CreateStudioLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "StudioLifecycleConfigName",
          "StudioLifecycleConfigContent",
          "StudioLifecycleConfigAppType"
        ],
        "members": {
          "StudioLifecycleConfigName": {},
          "StudioLifecycleConfigContent": {},
          "StudioLifecycleConfigAppType": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StudioLifecycleConfigArn": {}
        }
      }
    },
    "CreateTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "AlgorithmSpecification",
          "RoleArn",
          "OutputDataConfig",
          "ResourceConfig",
          "StoppingCondition"
        ],
        "members": {
          "TrainingJobName": {},
          "HyperParameters": {
            "shape": "S35"
          },
          "AlgorithmSpecification": {
            "shape": "Stv"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S37"
          },
          "OutputDataConfig": {
            "shape": "S3p"
          },
          "ResourceConfig": {
            "shape": "S3s"
          },
          "VpcConfig": {
            "shape": "S6d"
          },
          "StoppingCondition": {
            "shape": "S3y"
          },
          "Tags": {
            "shape": "S7"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          },
          "EnableInterContainerTrafficEncryption": {
            "type": "boolean"
          },
          "EnableManagedSpotTraining": {
            "type": "boolean"
          },
          "CheckpointConfig": {
            "shape": "Sj3"
          },
          "DebugHookConfig": {
            "shape": "Su4"
          },
          "DebugRuleConfigurations": {
            "shape": "Suc"
          },
          "TensorBoardOutputConfig": {
            "shape": "Sug"
          },
          "ExperimentConfig": {
            "shape": "Ssu"
          },
          "ProfilerConfig": {
            "shape": "Suh"
          },
          "ProfilerRuleConfigurations": {
            "shape": "Sul"
          },
          "Environment": {
            "shape": "Sun"
          },
          "RetryStrategy": {
            "shape": "Sj4"
          },
          "RemoteDebugConfig": {
            "shape": "Suq"
          },
          "InfraCheckConfig": {
            "shape": "Sus"
          },
          "SessionChainingConfig": {
            "type": "structure",
            "members": {
              "EnableSessionTagChaining": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobArn"
        ],
        "members": {
          "TrainingJobArn": {}
        }
      }
    },
    "CreateTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "ModelName",
          "TransformInput",
          "TransformOutput",
          "TransformResources"
        ],
        "members": {
          "TransformJobName": {},
          "ModelName": {},
          "MaxConcurrentTransforms": {
            "type": "integer"
          },
          "ModelClientConfig": {
            "shape": "Sv0"
          },
          "MaxPayloadInMB": {
            "type": "integer"
          },
          "BatchStrategy": {},
          "Environment": {
            "shape": "S46"
          },
          "TransformInput": {
            "shape": "S49"
          },
          "TransformOutput": {
            "shape": "S4d"
          },
          "DataCaptureConfig": {
            "shape": "Sv3"
          },
          "TransformResources": {
            "shape": "S4g"
          },
          "DataProcessing": {
            "shape": "Sv4"
          },
          "Tags": {
            "shape": "S7"
          },
          "ExperimentConfig": {
            "shape": "Ssu"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobArn"
        ],
        "members": {
          "TransformJobArn": {}
        }
      }
    },
    "CreateTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName",
          "ExperimentName"
        ],
        "members": {
          "TrialName": {},
          "DisplayName": {},
          "ExperimentName": {},
          "MetadataProperties": {
            "shape": "S23"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "CreateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {},
          "DisplayName": {},
          "Status": {
            "shape": "Svc"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "Parameters": {
            "shape": "Svf"
          },
          "InputArtifacts": {
            "shape": "Svj"
          },
          "OutputArtifacts": {
            "shape": "Svj"
          },
          "MetadataProperties": {
            "shape": "S23"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {}
        }
      }
    },
    "CreateUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SingleSignOnUserIdentifier": {},
          "SingleSignOnUserValue": {},
          "Tags": {
            "shape": "S7"
          },
          "UserSettings": {
            "shape": "Sar"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserProfileArn": {}
        }
      }
    },
    "CreateWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "CognitoConfig": {
            "shape": "Svu"
          },
          "OidcConfig": {
            "shape": "Svx"
          },
          "SourceIpConfig": {
            "shape": "Sw4"
          },
          "WorkforceName": {},
          "Tags": {
            "shape": "S7"
          },
          "WorkforceVpcConfig": {
            "shape": "Sw8"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "WorkforceArn"
        ],
        "members": {
          "WorkforceArn": {}
        }
      }
    },
    "CreateWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName",
          "MemberDefinitions",
          "Description"
        ],
        "members": {
          "WorkteamName": {},
          "WorkforceName": {},
          "MemberDefinitions": {
            "shape": "Swi"
          },
          "Description": {},
          "NotificationConfiguration": {
            "shape": "Swq"
          },
          "WorkerAccessConfiguration": {
            "shape": "Sws"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WorkteamArn": {}
        }
      }
    },
    "DeleteAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionName"
        ],
        "members": {
          "ActionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActionArn": {}
        }
      }
    },
    "DeleteAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName"
        ],
        "members": {
          "AlgorithmName": {}
        }
      }
    },
    "DeleteApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SpaceName": {},
          "AppType": {},
          "AppName": {}
        }
      }
    },
    "DeleteAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {}
        }
      }
    },
    "DeleteArtifact": {
      "input": {
        "type": "structure",
        "members": {
          "ArtifactArn": {},
          "Source": {
            "shape": "S5l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ArtifactArn": {}
        }
      }
    },
    "DeleteAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "SourceArn",
          "DestinationArn"
        ],
        "members": {
          "SourceArn": {},
          "DestinationArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SourceArn": {},
          "DestinationArn": {}
        }
      }
    },
    "DeleteCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterName"
        ],
        "members": {
          "ClusterName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ClusterArn"
        ],
        "members": {
          "ClusterArn": {}
        }
      }
    },
    "DeleteCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName"
        ],
        "members": {
          "CodeRepositoryName": {}
        }
      }
    },
    "DeleteCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName"
        ],
        "members": {
          "CompilationJobName": {}
        }
      }
    },
    "DeleteContext": {
      "input": {
        "type": "structure",
        "required": [
          "ContextName"
        ],
        "members": {
          "ContextName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContextArn": {}
        }
      }
    },
    "DeleteDataQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteDeviceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName"
        ],
        "members": {
          "DeviceFleetName": {}
        }
      }
    },
    "DeleteDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId"
        ],
        "members": {
          "DomainId": {},
          "RetentionPolicy": {
            "type": "structure",
            "members": {
              "HomeEfsFileSystem": {}
            }
          }
        }
      }
    },
    "DeleteEdgeDeploymentPlan": {
      "input": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanName"
        ],
        "members": {
          "EdgeDeploymentPlanName": {}
        }
      }
    },
    "DeleteEdgeDeploymentStage": {
      "input": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanName",
          "StageName"
        ],
        "members": {
          "EdgeDeploymentPlanName": {},
          "StageName": {}
        }
      }
    },
    "DeleteEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      }
    },
    "DeleteEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      }
    },
    "DeleteExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentArn": {}
        }
      }
    },
    "DeleteFeatureGroup": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName"
        ],
        "members": {
          "FeatureGroupName": {}
        }
      }
    },
    "DeleteFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName"
        ],
        "members": {
          "FlowDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteHub": {
      "input": {
        "type": "structure",
        "required": [
          "HubName"
        ],
        "members": {
          "HubName": {}
        }
      }
    },
    "DeleteHubContent": {
      "input": {
        "type": "structure",
        "required": [
          "HubName",
          "HubContentType",
          "HubContentName",
          "HubContentVersion"
        ],
        "members": {
          "HubName": {},
          "HubContentType": {},
          "HubContentName": {},
          "HubContentVersion": {}
        }
      }
    },
    "DeleteHubContentReference": {
      "input": {
        "type": "structure",
        "required": [
          "HubName",
          "HubContentType",
          "HubContentName"
        ],
        "members": {
          "HubName": {},
          "HubContentType": {},
          "HubContentName": {}
        }
      }
    },
    "DeleteHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName"
        ],
        "members": {
          "HumanTaskUiName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {}
        }
      }
    },
    "DeleteImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {},
          "Version": {
            "type": "integer"
          },
          "Alias": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteInferenceComponent": {
      "input": {
        "type": "structure",
        "required": [
          "InferenceComponentName"
        ],
        "members": {
          "InferenceComponentName": {}
        }
      }
    },
    "DeleteInferenceExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "Name"
        ],
        "members": {
          "Name": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "InferenceExperimentArn"
        ],
        "members": {
          "InferenceExperimentArn": {}
        }
      }
    },
    "DeleteMlflowTrackingServer": {
      "input": {
        "type": "structure",
        "required": [
          "TrackingServerName"
        ],
        "members": {
          "TrackingServerName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrackingServerArn": {}
        }
      }
    },
    "DeleteModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      }
    },
    "DeleteModelBiasJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteModelCard": {
      "input": {
        "type": "structure",
        "required": [
          "ModelCardName"
        ],
        "members": {
          "ModelCardName": {}
        }
      }
    },
    "DeleteModelExplainabilityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageName"
        ],
        "members": {
          "ModelPackageName": {}
        }
      }
    },
    "DeleteModelPackageGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {}
        }
      }
    },
    "DeleteModelPackageGroupPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {}
        }
      }
    },
    "DeleteModelQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName"
        ],
        "members": {
          "MonitoringScheduleName": {}
        }
      }
    },
    "DeleteNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      }
    },
    "DeleteNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {}
        }
      }
    },
    "DeleteOptimizationJob": {
      "input": {
        "type": "structure",
        "required": [
          "OptimizationJobName"
        ],
        "members": {
          "OptimizationJobName": {}
        }
      }
    },
    "DeletePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineName",
          "ClientRequestToken"
        ],
        "members": {
          "PipelineName": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineArn": {}
        }
      }
    },
    "DeleteProject": {
      "input": {
        "type": "structure",
        "required": [
          "ProjectName"
        ],
        "members": {
          "ProjectName": {}
        }
      }
    },
    "DeleteSpace": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "SpaceName"
        ],
        "members": {
          "DomainId": {},
          "SpaceName": {}
        }
      }
    },
    "DeleteStudioLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "StudioLifecycleConfigName"
        ],
        "members": {
          "StudioLifecycleConfigName": {}
        }
      }
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName"
        ],
        "members": {
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "DeleteTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {}
        }
      }
    },
    "DeleteUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {}
        }
      }
    },
    "DeleteWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "WorkforceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName"
        ],
        "members": {
          "WorkteamName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Success"
        ],
        "members": {
          "Success": {
            "type": "boolean"
          }
        }
      }
    },
    "DeregisterDevices": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName",
          "DeviceNames"
        ],
        "members": {
          "DeviceFleetName": {},
          "DeviceNames": {
            "shape": "Sd0"
          }
        }
      }
    },
    "DescribeAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionName"
        ],
        "members": {
          "ActionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActionName": {},
          "ActionArn": {},
          "Source": {
            "shape": "S1w"
          },
          "ActionType": {},
          "Description": {},
          "Status": {},
          "Properties": {
            "shape": "S21"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sz5"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sz5"
          },
          "MetadataProperties": {
            "shape": "S23"
          },
          "LineageGroupArn": {}
        }
      }
    },
    "DescribeAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName"
        ],
        "members": {
          "AlgorithmName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmName",
          "AlgorithmArn",
          "CreationTime",
          "TrainingSpecification",
          "AlgorithmStatus",
          "AlgorithmStatusDetails"
        ],
        "members": {
          "AlgorithmName": {},
          "AlgorithmArn": {},
          "AlgorithmDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "TrainingSpecification": {
            "shape": "S28"
          },
          "InferenceSpecification": {
            "shape": "Sr"
          },
          "ValidationSpecification": {
            "shape": "S30"
          },
          "AlgorithmStatus": {},
          "AlgorithmStatusDetails": {
            "type": "structure",
            "members": {
              "ValidationStatuses": {
                "shape": "Szc"
              },
              "ImageScanStatuses": {
                "shape": "Szc"
              }
            }
          },
          "ProductId": {},
          "CertifyForMarketplace": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SpaceName": {},
          "AppType": {},
          "AppName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppArn": {},
          "AppType": {},
          "AppName": {},
          "DomainId": {},
          "UserProfileName": {},
          "SpaceName": {},
          "Status": {},
          "LastHealthCheckTimestamp": {
            "type": "timestamp"
          },
          "LastUserActivityTimestamp": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ResourceSpec": {
            "shape": "S4r"
          }
        }
      }
    },
    "DescribeAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppImageConfigArn": {},
          "AppImageConfigName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "KernelGatewayImageConfig": {
            "shape": "S51"
          },
          "JupyterLabAppImageConfig": {
            "shape": "S5a"
          },
          "CodeEditorAppImageConfig": {
            "shape": "S5h"
          }
        }
      }
    },
    "DescribeArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "ArtifactArn"
        ],
        "members": {
          "ArtifactArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ArtifactName": {},
          "ArtifactArn": {},
          "Source": {
            "shape": "S5l"
          },
          "ArtifactType": {},
          "Properties": {
            "shape": "S21"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sz5"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sz5"
          },
          "MetadataProperties": {
            "shape": "S23"
          },
          "LineageGroupArn": {}
        }
      }
    },
    "DescribeAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName"
        ],
        "members": {
          "AutoMLJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "AutoMLJobArn",
          "InputDataConfig",
          "OutputDataConfig",
          "RoleArn",
          "CreationTime",
          "LastModifiedTime",
          "AutoMLJobStatus",
          "AutoMLJobSecondaryStatus"
        ],
        "members": {
          "AutoMLJobName": {},
          "AutoMLJobArn": {},
          "InputDataConfig": {
            "shape": "S5v"
          },
          "OutputDataConfig": {
            "shape": "S63"
          },
          "RoleArn": {},
          "AutoMLJobObjective": {
            "shape": "S65"
          },
          "ProblemType": {},
          "AutoMLJobConfig": {
            "shape": "S67"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "PartialFailureReasons": {
            "shape": "Szq"
          },
          "BestCandidate": {
            "shape": "Szs"
          },
          "AutoMLJobStatus": {},
          "AutoMLJobSecondaryStatus": {},
          "GenerateCandidateDefinitionsOnly": {
            "type": "boolean"
          },
          "AutoMLJobArtifacts": {
            "shape": "S10k"
          },
          "ResolvedAttributes": {
            "type": "structure",
            "members": {
              "AutoMLJobObjective": {
                "shape": "S65"
              },
              "ProblemType": {},
              "CompletionCriteria": {
                "shape": "S68"
              }
            }
          },
          "ModelDeployConfig": {
            "shape": "S6r"
          },
          "ModelDeployResult": {
            "shape": "S10o"
          }
        }
      }
    },
    "DescribeAutoMLJobV2": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName"
        ],
        "members": {
          "AutoMLJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "AutoMLJobArn",
          "AutoMLJobInputDataConfig",
          "OutputDataConfig",
          "RoleArn",
          "CreationTime",
          "LastModifiedTime",
          "AutoMLJobStatus",
          "AutoMLJobSecondaryStatus"
        ],
        "members": {
          "AutoMLJobName": {},
          "AutoMLJobArn": {},
          "AutoMLJobInputDataConfig": {
            "shape": "S6x"
          },
          "OutputDataConfig": {
            "shape": "S63"
          },
          "RoleArn": {},
          "AutoMLJobObjective": {
            "shape": "S65"
          },
          "AutoMLProblemTypeConfig": {
            "shape": "S6z"
          },
          "AutoMLProblemTypeConfigName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "PartialFailureReasons": {
            "shape": "Szq"
          },
          "BestCandidate": {
            "shape": "Szs"
          },
          "AutoMLJobStatus": {},
          "AutoMLJobSecondaryStatus": {},
          "AutoMLJobArtifacts": {
            "shape": "S10k"
          },
          "ResolvedAttributes": {
            "type": "structure",
            "members": {
              "AutoMLJobObjective": {
                "shape": "S65"
              },
              "CompletionCriteria": {
                "shape": "S68"
              },
              "AutoMLProblemTypeResolvedAttributes": {
                "type": "structure",
                "members": {
                  "TabularResolvedAttributes": {
                    "type": "structure",
                    "members": {
                      "ProblemType": {}
                    }
                  },
                  "TextGenerationResolvedAttributes": {
                    "type": "structure",
                    "members": {
                      "BaseModelName": {}
                    }
                  }
                },
                "union": true
              }
            }
          },
          "ModelDeployConfig": {
            "shape": "S6r"
          },
          "ModelDeployResult": {
            "shape": "S10o"
          },
          "DataSplitConfig": {
            "shape": "S6n"
          },
          "SecurityConfig": {
            "shape": "S6c"
          },
          "AutoMLComputeConfig": {
            "shape": "S7w"
          }
        }
      }
    },
    "DescribeCluster": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterName"
        ],
        "members": {
          "ClusterName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ClusterArn",
          "ClusterStatus",
          "InstanceGroups"
        ],
        "members": {
          "ClusterArn": {},
          "ClusterName": {},
          "ClusterStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureMessage": {},
          "InstanceGroups": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "CurrentCount": {
                  "type": "integer"
                },
                "TargetCount": {
                  "type": "integer"
                },
                "InstanceGroupName": {},
                "InstanceType": {},
                "LifeCycleConfig": {
                  "shape": "S86"
                },
                "ExecutionRole": {},
                "ThreadsPerCore": {
                  "type": "integer"
                },
                "InstanceStorageConfigs": {
                  "shape": "S8a"
                }
              }
            }
          },
          "VpcConfig": {
            "shape": "S6d"
          }
        }
      }
    },
    "DescribeClusterNode": {
      "input": {
        "type": "structure",
        "required": [
          "ClusterName",
          "NodeId"
        ],
        "members": {
          "ClusterName": {},
          "NodeId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "NodeDetails"
        ],
        "members": {
          "NodeDetails": {
            "type": "structure",
            "members": {
              "InstanceGroupName": {},
              "InstanceId": {},
              "InstanceStatus": {
                "shape": "S116"
              },
              "InstanceType": {},
              "LaunchTime": {
                "type": "timestamp"
              },
              "LifeCycleConfig": {
                "shape": "S86"
              },
              "ThreadsPerCore": {
                "type": "integer"
              },
              "InstanceStorageConfigs": {
                "shape": "S8a"
              },
              "PrivatePrimaryIp": {},
              "PrivateDnsHostname": {},
              "Placement": {
                "type": "structure",
                "members": {
                  "AvailabilityZone": {},
                  "AvailabilityZoneId": {}
                }
              }
            }
          }
        }
      }
    },
    "DescribeCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName"
        ],
        "members": {
          "CodeRepositoryName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositoryName",
          "CodeRepositoryArn",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "CodeRepositoryName": {},
          "CodeRepositoryArn": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "GitConfig": {
            "shape": "S8h"
          }
        }
      }
    },
    "DescribeCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName"
        ],
        "members": {
          "CompilationJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobName",
          "CompilationJobArn",
          "CompilationJobStatus",
          "StoppingCondition",
          "CreationTime",
          "LastModifiedTime",
          "FailureReason",
          "ModelArtifacts",
          "RoleArn",
          "InputConfig",
          "OutputConfig"
        ],
        "members": {
          "CompilationJobName": {},
          "CompilationJobArn": {},
          "CompilationJobStatus": {},
          "CompilationStartTime": {
            "type": "timestamp"
          },
          "CompilationEndTime": {
            "type": "timestamp"
          },
          "StoppingCondition": {
            "shape": "S3y"
          },
          "InferenceImage": {},
          "ModelPackageVersionArn": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ModelArtifacts": {
            "shape": "S11k"
          },
          "ModelDigests": {
            "type": "structure",
            "members": {
              "ArtifactDigest": {}
            }
          },
          "RoleArn": {},
          "InputConfig": {
            "shape": "S8o"
          },
          "OutputConfig": {
            "shape": "S8r"
          },
          "VpcConfig": {
            "shape": "S8y"
          },
          "DerivedInformation": {
            "type": "structure",
            "members": {
              "DerivedDataInputConfig": {}
            }
          }
        }
      }
    },
    "DescribeContext": {
      "input": {
        "type": "structure",
        "required": [
          "ContextName"
        ],
        "members": {
          "ContextName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContextName": {},
          "ContextArn": {},
          "Source": {
            "shape": "S97"
          },
          "ContextType": {},
          "Description": {},
          "Properties": {
            "shape": "S21"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sz5"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sz5"
          },
          "LineageGroupArn": {}
        }
      }
    },
    "DescribeDataQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn",
          "JobDefinitionName",
          "CreationTime",
          "DataQualityAppSpecification",
          "DataQualityJobInput",
          "DataQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionArn": {},
          "JobDefinitionName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "DataQualityBaselineConfig": {
            "shape": "S9c"
          },
          "DataQualityAppSpecification": {
            "shape": "S9g"
          },
          "DataQualityJobInput": {
            "shape": "S9p"
          },
          "DataQualityJobOutputConfig": {
            "shape": "Sa3"
          },
          "JobResources": {
            "shape": "Sa9"
          },
          "NetworkConfig": {
            "shape": "Sae"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "Saf"
          }
        }
      }
    },
    "DescribeDevice": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceName",
          "DeviceFleetName"
        ],
        "members": {
          "NextToken": {},
          "DeviceName": {},
          "DeviceFleetName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeviceName",
          "DeviceFleetName",
          "RegistrationTime"
        ],
        "members": {
          "DeviceArn": {},
          "DeviceName": {},
          "Description": {},
          "DeviceFleetName": {},
          "IotThingName": {},
          "RegistrationTime": {
            "type": "timestamp"
          },
          "LatestHeartbeat": {
            "type": "timestamp"
          },
          "Models": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelName",
                "ModelVersion"
              ],
              "members": {
                "ModelName": {},
                "ModelVersion": {},
                "LatestSampleTime": {
                  "type": "timestamp"
                },
                "LatestInference": {
                  "type": "timestamp"
                }
              }
            }
          },
          "MaxModels": {
            "type": "integer"
          },
          "NextToken": {},
          "AgentVersion": {}
        }
      }
    },
    "DescribeDeviceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName"
        ],
        "members": {
          "DeviceFleetName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeviceFleetName",
          "DeviceFleetArn",
          "OutputConfig",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "DeviceFleetName": {},
          "DeviceFleetArn": {},
          "OutputConfig": {
            "shape": "Sal"
          },
          "Description": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "RoleArn": {},
          "IotRoleAlias": {}
        }
      }
    },
    "DescribeDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId"
        ],
        "members": {
          "DomainId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainArn": {},
          "DomainId": {},
          "DomainName": {},
          "HomeEfsFileSystemId": {},
          "SingleSignOnManagedApplicationInstanceId": {},
          "SingleSignOnApplicationArn": {},
          "Status": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "SecurityGroupIdForDomainBoundary": {},
          "AuthMode": {},
          "DefaultUserSettings": {
            "shape": "Sar"
          },
          "DomainSettings": {
            "shape": "Scc"
          },
          "AppNetworkAccessType": {},
          "HomeEfsFileSystemKmsKeyId": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use KmsKeyId instead."
          },
          "SubnetIds": {
            "shape": "S6g"
          },
          "Url": {},
          "VpcId": {},
          "KmsKeyId": {},
          "AppSecurityGroupManagement": {},
          "DefaultSpaceSettings": {
            "shape": "Sco"
          }
        }
      }
    },
    "DescribeEdgeDeploymentPlan": {
      "input": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanName"
        ],
        "members": {
          "EdgeDeploymentPlanName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EdgeDeploymentPlanArn",
          "EdgeDeploymentPlanName",
          "ModelConfigs",
          "DeviceFleetName",
          "Stages"
        ],
        "members": {
          "EdgeDeploymentPlanArn": {},
          "EdgeDeploymentPlanName": {},
          "ModelConfigs": {
            "shape": "Sct"
          },
          "DeviceFleetName": {},
          "EdgeDeploymentSuccess": {
            "type": "integer"
          },
          "EdgeDeploymentPending": {
            "type": "integer"
          },
          "EdgeDeploymentFailed": {
            "type": "integer"
          },
          "Stages": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "StageName",
                "DeviceSelectionConfig",
                "DeploymentConfig",
                "DeploymentStatus"
              ],
              "members": {
                "StageName": {},
                "DeviceSelectionConfig": {
                  "shape": "Scx"
                },
                "DeploymentConfig": {
                  "shape": "Sd2"
                },
                "DeploymentStatus": {
                  "type": "structure",
                  "required": [
                    "StageStatus",
                    "EdgeDeploymentSuccessInStage",
                    "EdgeDeploymentPendingInStage",
                    "EdgeDeploymentFailedInStage"
                  ],
                  "members": {
                    "StageStatus": {},
                    "EdgeDeploymentSuccessInStage": {
                      "type": "integer"
                    },
                    "EdgeDeploymentPendingInStage": {
                      "type": "integer"
                    },
                    "EdgeDeploymentFailedInStage": {
                      "type": "integer"
                    },
                    "EdgeDeploymentStatusMessage": {},
                    "EdgeDeploymentStageStartTime": {
                      "type": "timestamp"
                    }
                  }
                }
              }
            }
          },
          "NextToken": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeEdgePackagingJob": {
      "input": {
        "type": "structure",
        "required": [
          "EdgePackagingJobName"
        ],
        "members": {
          "EdgePackagingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EdgePackagingJobArn",
          "EdgePackagingJobName",
          "EdgePackagingJobStatus"
        ],
        "members": {
          "EdgePackagingJobArn": {},
          "EdgePackagingJobName": {},
          "CompilationJobName": {},
          "ModelName": {},
          "ModelVersion": {},
          "RoleArn": {},
          "OutputConfig": {
            "shape": "Sal"
          },
          "ResourceKey": {},
          "EdgePackagingJobStatus": {},
          "EdgePackagingJobStatusMessage": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "ModelArtifact": {},
          "ModelSignature": {},
          "PresetDeploymentOutput": {
            "type": "structure",
            "required": [
              "Type"
            ],
            "members": {
              "Type": {},
              "Artifact": {},
              "Status": {},
              "StatusMessage": {}
            }
          }
        }
      }
    },
    "DescribeEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointArn",
          "EndpointStatus",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "EndpointName": {},
          "EndpointArn": {},
          "EndpointConfigName": {},
          "ProductionVariants": {
            "shape": "S12q"
          },
          "DataCaptureConfig": {
            "shape": "S12y"
          },
          "EndpointStatus": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastDeploymentConfig": {
            "shape": "Sdb"
          },
          "AsyncInferenceConfig": {
            "shape": "Ser"
          },
          "PendingDeploymentSummary": {
            "type": "structure",
            "required": [
              "EndpointConfigName"
            ],
            "members": {
              "EndpointConfigName": {},
              "ProductionVariants": {
                "shape": "S132"
              },
              "StartTime": {
                "type": "timestamp"
              },
              "ShadowProductionVariants": {
                "shape": "S132"
              }
            }
          },
          "ExplainerConfig": {
            "shape": "Sez"
          },
          "ShadowProductionVariants": {
            "shape": "S12q"
          }
        }
      }
    },
    "DescribeEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "EndpointConfigArn",
          "ProductionVariants",
          "CreationTime"
        ],
        "members": {
          "EndpointConfigName": {},
          "EndpointConfigArn": {},
          "ProductionVariants": {
            "shape": "Sdt"
          },
          "DataCaptureConfig": {
            "shape": "Seg"
          },
          "KmsKeyId": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "AsyncInferenceConfig": {
            "shape": "Ser"
          },
          "ExplainerConfig": {
            "shape": "Sez"
          },
          "ShadowProductionVariants": {
            "shape": "Sdt"
          },
          "ExecutionRoleArn": {},
          "VpcConfig": {
            "shape": "S6d"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentName": {},
          "ExperimentArn": {},
          "DisplayName": {},
          "Source": {
            "shape": "S138"
          },
          "Description": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sz5"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sz5"
          }
        }
      }
    },
    "DescribeFeatureGroup": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName"
        ],
        "members": {
          "FeatureGroupName": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FeatureGroupArn",
          "FeatureGroupName",
          "RecordIdentifierFeatureName",
          "EventTimeFeatureName",
          "FeatureDefinitions",
          "CreationTime",
          "NextToken"
        ],
        "members": {
          "FeatureGroupArn": {},
          "FeatureGroupName": {},
          "RecordIdentifierFeatureName": {},
          "EventTimeFeatureName": {},
          "FeatureDefinitions": {
            "shape": "Sfy"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "OnlineStoreConfig": {
            "shape": "Sg5"
          },
          "OfflineStoreConfig": {
            "shape": "Sgb"
          },
          "ThroughputConfig": {
            "type": "structure",
            "required": [
              "ThroughputMode"
            ],
            "members": {
              "ThroughputMode": {},
              "ProvisionedReadCapacityUnits": {
                "type": "integer"
              },
              "ProvisionedWriteCapacityUnits": {
                "type": "integer"
              }
            }
          },
          "RoleArn": {},
          "FeatureGroupStatus": {},
          "OfflineStoreStatus": {
            "shape": "S13g"
          },
          "LastUpdateStatus": {
            "shape": "S13j"
          },
          "FailureReason": {},
          "Description": {},
          "NextToken": {},
          "OnlineStoreTotalSizeBytes": {
            "type": "long"
          }
        }
      }
    },
    "DescribeFeatureMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName",
          "FeatureName"
        ],
        "members": {
          "FeatureGroupName": {},
          "FeatureName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FeatureGroupArn",
          "FeatureGroupName",
          "FeatureName",
          "FeatureType",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "FeatureGroupArn": {},
          "FeatureGroupName": {},
          "FeatureName": {},
          "FeatureType": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "Description": {},
          "Parameters": {
            "shape": "S13p"
          }
        }
      }
    },
    "DescribeFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName"
        ],
        "members": {
          "FlowDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionArn",
          "FlowDefinitionName",
          "FlowDefinitionStatus",
          "CreationTime",
          "OutputConfig",
          "RoleArn"
        ],
        "members": {
          "FlowDefinitionArn": {},
          "FlowDefinitionName": {},
          "FlowDefinitionStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "HumanLoopRequestSource": {
            "shape": "Sgq"
          },
          "HumanLoopActivationConfig": {
            "shape": "Sgs"
          },
[...]
