{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-24",
    "endpointPrefix": "api.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SageMaker",
    "serviceFullName": "Amazon SageMaker Service",
    "serviceId": "SageMaker",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "targetPrefix": "SageMaker",
    "uid": "sagemaker-2017-07-24"
  },
  "operations": {
    "AddTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3"
          }
        }
      }
    },
    "AssociateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName",
          "TrialName"
        ],
        "members": {
          "TrialComponentName": {},
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {},
          "TrialArn": {}
        }
      }
    },
    "CreateAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName",
          "TrainingSpecification"
        ],
        "members": {
          "AlgorithmName": {},
          "AlgorithmDescription": {},
          "TrainingSpecification": {
            "shape": "Sg"
          },
          "InferenceSpecification": {
            "shape": "S1c"
          },
          "ValidationSpecification": {
            "shape": "S1o"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmArn"
        ],
        "members": {
          "AlgorithmArn": {}
        }
      }
    },
    "CreateApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {},
          "Tags": {
            "shape": "S3"
          },
          "ResourceSpec": {
            "shape": "S38"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppArn": {}
        }
      }
    },
    "CreateAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "InputDataConfig",
          "OutputDataConfig",
          "RoleArn"
        ],
        "members": {
          "AutoMLJobName": {},
          "InputDataConfig": {
            "shape": "S3f"
          },
          "OutputDataConfig": {
            "shape": "S3l"
          },
          "ProblemType": {},
          "AutoMLJobObjective": {
            "shape": "S3n"
          },
          "AutoMLJobConfig": {
            "shape": "S3p"
          },
          "RoleArn": {},
          "GenerateCandidateDefinitionsOnly": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobArn"
        ],
        "members": {
          "AutoMLJobArn": {}
        }
      }
    },
    "CreateCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName",
          "GitConfig"
        ],
        "members": {
          "CodeRepositoryName": {},
          "GitConfig": {
            "shape": "S44"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositoryArn"
        ],
        "members": {
          "CodeRepositoryArn": {}
        }
      }
    },
    "CreateCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName",
          "RoleArn",
          "InputConfig",
          "OutputConfig",
          "StoppingCondition"
        ],
        "members": {
          "CompilationJobName": {},
          "RoleArn": {},
          "InputConfig": {
            "shape": "S4b"
          },
          "OutputConfig": {
            "shape": "S4e"
          },
          "StoppingCondition": {
            "shape": "S2h"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobArn"
        ],
        "members": {
          "CompilationJobArn": {}
        }
      }
    },
    "CreateDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AuthMode",
          "DefaultUserSettings",
          "SubnetIds",
          "VpcId"
        ],
        "members": {
          "DomainName": {},
          "AuthMode": {},
          "DefaultUserSettings": {
            "shape": "S4q"
          },
          "SubnetIds": {
            "shape": "S3y"
          },
          "VpcId": {},
          "Tags": {
            "shape": "S3"
          },
          "HomeEfsFileSystemKmsKeyId": {},
          "AppNetworkAccessType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainArn": {},
          "Url": {}
        }
      }
    },
    "CreateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointConfigName"
        ],
        "members": {
          "EndpointName": {},
          "EndpointConfigName": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      }
    },
    "CreateEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "ProductionVariants"
        ],
        "members": {
          "EndpointConfigName": {},
          "ProductionVariants": {
            "shape": "S58"
          },
          "DataCaptureConfig": {
            "shape": "S5f"
          },
          "Tags": {
            "shape": "S3"
          },
          "KmsKeyId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigArn"
        ],
        "members": {
          "EndpointConfigArn": {}
        }
      }
    },
    "CreateExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {},
          "DisplayName": {},
          "Description": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentArn": {}
        }
      }
    },
    "CreateFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName",
          "HumanLoopConfig",
          "OutputConfig",
          "RoleArn"
        ],
        "members": {
          "FlowDefinitionName": {},
          "HumanLoopRequestSource": {
            "shape": "S5z"
          },
          "HumanLoopActivationConfig": {
            "shape": "S61"
          },
          "HumanLoopConfig": {
            "shape": "S64"
          },
          "OutputConfig": {
            "shape": "S6j"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionArn"
        ],
        "members": {
          "FlowDefinitionArn": {}
        }
      }
    },
    "CreateHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName",
          "UiTemplate"
        ],
        "members": {
          "HumanTaskUiName": {},
          "UiTemplate": {
            "shape": "S6o"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiArn"
        ],
        "members": {
          "HumanTaskUiArn": {}
        }
      }
    },
    "CreateHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobConfig"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobConfig": {
            "shape": "S6t"
          },
          "TrainingJobDefinition": {
            "shape": "S79"
          },
          "TrainingJobDefinitions": {
            "shape": "S7f"
          },
          "WarmStartConfig": {
            "shape": "S7g"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobArn"
        ],
        "members": {
          "HyperParameterTuningJobArn": {}
        }
      }
    },
    "CreateLabelingJob": {
      "input": {
        "type": "structure",
        "required": [
          "LabelingJobName",
          "LabelAttributeName",
          "InputConfig",
          "OutputConfig",
          "RoleArn",
          "HumanTaskConfig"
        ],
        "members": {
          "LabelingJobName": {},
          "LabelAttributeName": {},
          "InputConfig": {
            "shape": "S7p"
          },
          "OutputConfig": {
            "shape": "S7x"
          },
          "RoleArn": {},
          "LabelCategoryConfigS3Uri": {},
          "StoppingConditions": {
            "shape": "S7y"
          },
          "LabelingJobAlgorithmsConfig": {
            "shape": "S81"
          },
          "HumanTaskConfig": {
            "shape": "S85"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobArn"
        ],
        "members": {
          "LabelingJobArn": {}
        }
      }
    },
    "CreateModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName",
          "ExecutionRoleArn"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "S8k"
          },
          "Containers": {
            "shape": "S8r"
          },
          "ExecutionRoleArn": {},
          "Tags": {
            "shape": "S3"
          },
          "VpcConfig": {
            "shape": "S3v"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelArn"
        ],
        "members": {
          "ModelArn": {}
        }
      }
    },
    "CreateModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageName"
        ],
        "members": {
          "ModelPackageName": {},
          "ModelPackageDescription": {},
          "InferenceSpecification": {
            "shape": "S1c"
          },
          "ValidationSpecification": {
            "shape": "S8u"
          },
          "SourceAlgorithmSpecification": {
            "shape": "S8x"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageArn"
        ],
        "members": {
          "ModelPackageArn": {}
        }
      }
    },
    "CreateMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName",
          "MonitoringScheduleConfig"
        ],
        "members": {
          "MonitoringScheduleName": {},
          "MonitoringScheduleConfig": {
            "shape": "S94"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringScheduleArn"
        ],
        "members": {
          "MonitoringScheduleArn": {}
        }
      }
    },
    "CreateNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName",
          "InstanceType",
          "RoleArn"
        ],
        "members": {
          "NotebookInstanceName": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroupIds": {
            "shape": "S4r"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "Tags": {
            "shape": "S3"
          },
          "LifecycleConfigName": {},
          "DirectInternetAccess": {},
          "VolumeSizeInGB": {
            "type": "integer"
          },
          "AcceleratorTypes": {
            "shape": "Sac"
          },
          "DefaultCodeRepository": {},
          "AdditionalCodeRepositories": {
            "shape": "Saf"
          },
          "RootAccess": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {}
        }
      }
    },
    "CreateNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "Sak"
          },
          "OnStart": {
            "shape": "Sak"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {}
        }
      }
    },
    "CreatePresignedDomainUrl": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreatePresignedNotebookInstanceUrl": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreateProcessingJob": {
      "input": {
        "type": "structure",
        "required": [
          "ProcessingJobName",
          "ProcessingResources",
          "AppSpecification",
          "RoleArn"
        ],
        "members": {
          "ProcessingInputs": {
            "shape": "Sax"
          },
          "ProcessingOutputConfig": {
            "shape": "Sb3"
          },
          "ProcessingJobName": {},
          "ProcessingResources": {
            "shape": "Sb8"
          },
          "StoppingCondition": {
            "shape": "Sba"
          },
          "AppSpecification": {
            "shape": "Sbc"
          },
          "Environment": {
            "shape": "Sbe"
          },
          "NetworkConfig": {
            "shape": "Sa3"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S3"
          },
          "ExperimentConfig": {
            "shape": "Sbf"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessingJobArn"
        ],
        "members": {
          "ProcessingJobArn": {}
        }
      }
    },
    "CreateTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "AlgorithmSpecification",
          "RoleArn",
          "OutputDataConfig",
          "ResourceConfig",
          "StoppingCondition"
        ],
        "members": {
          "TrainingJobName": {},
          "HyperParameters": {
            "shape": "S1t"
          },
          "AlgorithmSpecification": {
            "shape": "Sbk"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S1v"
          },
          "OutputDataConfig": {
            "shape": "S2c"
          },
          "ResourceConfig": {
            "shape": "S2e"
          },
          "VpcConfig": {
            "shape": "S3v"
          },
          "StoppingCondition": {
            "shape": "S2h"
          },
          "Tags": {
            "shape": "S3"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          },
          "EnableInterContainerTrafficEncryption": {
            "type": "boolean"
          },
          "EnableManagedSpotTraining": {
            "type": "boolean"
          },
          "CheckpointConfig": {
            "shape": "S7e"
          },
          "DebugHookConfig": {
            "shape": "Sbl"
          },
          "DebugRuleConfigurations": {
            "shape": "Sbt"
          },
          "TensorBoardOutputConfig": {
            "shape": "Sby"
          },
          "ExperimentConfig": {
            "shape": "Sbf"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobArn"
        ],
        "members": {
          "TrainingJobArn": {}
        }
      }
    },
    "CreateTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "ModelName",
          "TransformInput",
          "TransformOutput",
          "TransformResources"
        ],
        "members": {
          "TransformJobName": {},
          "ModelName": {},
          "MaxConcurrentTransforms": {
            "type": "integer"
          },
          "ModelClientConfig": {
            "shape": "Sc3"
          },
          "MaxPayloadInMB": {
            "type": "integer"
          },
          "BatchStrategy": {},
          "Environment": {
            "shape": "S2o"
          },
          "TransformInput": {
            "shape": "S2r"
          },
          "TransformOutput": {
            "shape": "S2v"
          },
          "TransformResources": {
            "shape": "S2y"
          },
          "DataProcessing": {
            "shape": "Sc6"
          },
          "Tags": {
            "shape": "S3"
          },
          "ExperimentConfig": {
            "shape": "Sbf"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobArn"
        ],
        "members": {
          "TransformJobArn": {}
        }
      }
    },
    "CreateTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName",
          "ExperimentName"
        ],
        "members": {
          "TrialName": {},
          "DisplayName": {},
          "ExperimentName": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "CreateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {},
          "DisplayName": {},
          "Status": {
            "shape": "Sce"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "Parameters": {
            "shape": "Sci"
          },
          "InputArtifacts": {
            "shape": "Scn"
          },
          "OutputArtifacts": {
            "shape": "Scn"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {}
        }
      }
    },
    "CreateUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SingleSignOnUserIdentifier": {},
          "SingleSignOnUserValue": {},
          "Tags": {
            "shape": "S3"
          },
          "UserSettings": {
            "shape": "S4q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserProfileArn": {}
        }
      }
    },
    "CreateWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "CognitoConfig": {
            "shape": "Scz"
          },
          "OidcConfig": {
            "shape": "Sd2"
          },
          "SourceIpConfig": {
            "shape": "Sd5"
          },
          "WorkforceName": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "WorkforceArn"
        ],
        "members": {
          "WorkforceArn": {}
        }
      }
    },
    "CreateWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName",
          "MemberDefinitions",
          "Description"
        ],
        "members": {
          "WorkteamName": {},
          "WorkforceName": {},
          "MemberDefinitions": {
            "shape": "Sdd"
          },
          "Description": {},
          "NotificationConfiguration": {
            "shape": "Sdl"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WorkteamArn": {}
        }
      }
    },
    "DeleteAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName"
        ],
        "members": {
          "AlgorithmName": {}
        }
      }
    },
    "DeleteApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {}
        }
      }
    },
    "DeleteCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName"
        ],
        "members": {
          "CodeRepositoryName": {}
        }
      }
    },
    "DeleteDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId"
        ],
        "members": {
          "DomainId": {},
          "RetentionPolicy": {
            "type": "structure",
            "members": {
              "HomeEfsFileSystem": {}
            }
          }
        }
      }
    },
    "DeleteEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      }
    },
    "DeleteEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      }
    },
    "DeleteExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentArn": {}
        }
      }
    },
    "DeleteFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName"
        ],
        "members": {
          "FlowDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName"
        ],
        "members": {
          "HumanTaskUiName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      }
    },
    "DeleteModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageName"
        ],
        "members": {
          "ModelPackageName": {}
        }
      }
    },
    "DeleteMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName"
        ],
        "members": {
          "MonitoringScheduleName": {}
        }
      }
    },
    "DeleteNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      }
    },
    "DeleteNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {}
        }
      }
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName"
        ],
        "members": {
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "DeleteTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {}
        }
      }
    },
    "DeleteUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {}
        }
      }
    },
    "DeleteWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "WorkforceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName"
        ],
        "members": {
          "WorkteamName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Success"
        ],
        "members": {
          "Success": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName"
        ],
        "members": {
          "AlgorithmName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmName",
          "AlgorithmArn",
          "CreationTime",
          "TrainingSpecification",
          "AlgorithmStatus",
          "AlgorithmStatusDetails"
        ],
        "members": {
          "AlgorithmName": {},
          "AlgorithmArn": {},
          "AlgorithmDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "TrainingSpecification": {
            "shape": "Sg"
          },
          "InferenceSpecification": {
            "shape": "S1c"
          },
          "ValidationSpecification": {
            "shape": "S1o"
          },
          "AlgorithmStatus": {},
          "AlgorithmStatusDetails": {
            "type": "structure",
            "members": {
              "ValidationStatuses": {
                "shape": "Sep"
              },
              "ImageScanStatuses": {
                "shape": "Sep"
              }
            }
          },
          "ProductId": {},
          "CertifyForMarketplace": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppArn": {},
          "AppType": {},
          "AppName": {},
          "DomainId": {},
          "UserProfileName": {},
          "Status": {},
          "LastHealthCheckTimestamp": {
            "type": "timestamp"
          },
          "LastUserActivityTimestamp": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ResourceSpec": {
            "shape": "S38"
          }
        }
      }
    },
    "DescribeAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName"
        ],
        "members": {
          "AutoMLJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "AutoMLJobArn",
          "InputDataConfig",
          "OutputDataConfig",
          "RoleArn",
          "CreationTime",
          "LastModifiedTime",
          "AutoMLJobStatus",
          "AutoMLJobSecondaryStatus"
        ],
        "members": {
          "AutoMLJobName": {},
          "AutoMLJobArn": {},
          "InputDataConfig": {
            "shape": "S3f"
          },
          "OutputDataConfig": {
            "shape": "S3l"
          },
          "RoleArn": {},
          "AutoMLJobObjective": {
            "shape": "S3n"
          },
          "ProblemType": {},
          "AutoMLJobConfig": {
            "shape": "S3p"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "BestCandidate": {
            "shape": "Sez"
          },
          "AutoMLJobStatus": {},
          "AutoMLJobSecondaryStatus": {},
          "GenerateCandidateDefinitionsOnly": {
            "type": "boolean"
          },
          "AutoMLJobArtifacts": {
            "type": "structure",
            "members": {
              "CandidateDefinitionNotebookLocation": {},
              "DataExplorationNotebookLocation": {}
            }
          },
          "ResolvedAttributes": {
            "type": "structure",
            "members": {
              "AutoMLJobObjective": {
                "shape": "S3n"
              },
              "ProblemType": {},
              "CompletionCriteria": {
                "shape": "S3q"
              }
            }
          }
        }
      }
    },
    "DescribeCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName"
        ],
        "members": {
          "CodeRepositoryName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositoryName",
          "CodeRepositoryArn",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "CodeRepositoryName": {},
          "CodeRepositoryArn": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "GitConfig": {
            "shape": "S44"
          }
        }
      }
    },
    "DescribeCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName"
        ],
        "members": {
          "CompilationJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobName",
          "CompilationJobArn",
          "CompilationJobStatus",
          "StoppingCondition",
          "CreationTime",
          "LastModifiedTime",
          "FailureReason",
          "ModelArtifacts",
          "RoleArn",
          "InputConfig",
          "OutputConfig"
        ],
        "members": {
          "CompilationJobName": {},
          "CompilationJobArn": {},
          "CompilationJobStatus": {},
          "CompilationStartTime": {
            "type": "timestamp"
          },
          "CompilationEndTime": {
            "type": "timestamp"
          },
          "StoppingCondition": {
            "shape": "S2h"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ModelArtifacts": {
            "shape": "Sfp"
          },
          "RoleArn": {},
          "InputConfig": {
            "shape": "S4b"
          },
          "OutputConfig": {
            "shape": "S4e"
          }
        }
      }
    },
    "DescribeDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId"
        ],
        "members": {
          "DomainId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainArn": {},
          "DomainId": {},
          "DomainName": {},
          "HomeEfsFileSystemId": {},
          "SingleSignOnManagedApplicationInstanceId": {},
          "Status": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "AuthMode": {},
          "DefaultUserSettings": {
            "shape": "S4q"
          },
          "HomeEfsFileSystemKmsKeyId": {},
          "SubnetIds": {
            "shape": "S3y"
          },
          "Url": {},
          "VpcId": {},
          "AppNetworkAccessType": {}
        }
      }
    },
    "DescribeEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointArn",
          "EndpointConfigName",
          "EndpointStatus",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "EndpointName": {},
          "EndpointArn": {},
          "EndpointConfigName": {},
          "ProductionVariants": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "VariantName"
              ],
              "members": {
                "VariantName": {},
                "DeployedImages": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "SpecifiedImage": {},
                      "ResolvedImage": {},
                      "ResolutionTime": {
                        "type": "timestamp"
                      }
                    }
                  }
                },
                "CurrentWeight": {
                  "type": "float"
                },
                "DesiredWeight": {
                  "type": "float"
                },
                "CurrentInstanceCount": {
                  "type": "integer"
                },
                "DesiredInstanceCount": {
                  "type": "integer"
                }
              }
            }
          },
          "DataCaptureConfig": {
            "type": "structure",
            "required": [
              "EnableCapture",
              "CaptureStatus",
              "CurrentSamplingPercentage",
              "DestinationS3Uri",
              "KmsKeyId"
            ],
            "members": {
              "EnableCapture": {
                "type": "boolean"
              },
              "CaptureStatus": {},
              "CurrentSamplingPercentage": {
                "type": "integer"
              },
              "DestinationS3Uri": {},
              "KmsKeyId": {}
            }
          },
          "EndpointStatus": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "EndpointConfigArn",
          "ProductionVariants",
          "CreationTime"
        ],
        "members": {
          "EndpointConfigName": {},
          "EndpointConfigArn": {},
          "ProductionVariants": {
            "shape": "S58"
          },
          "DataCaptureConfig": {
            "shape": "S5f"
          },
          "KmsKeyId": {},
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentName": {},
          "ExperimentArn": {},
          "DisplayName": {},
          "Source": {
            "shape": "Sg7"
          },
          "Description": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sga"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sga"
          }
        }
      }
    },
    "DescribeFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName"
        ],
        "members": {
          "FlowDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionArn",
          "FlowDefinitionName",
          "FlowDefinitionStatus",
          "CreationTime",
          "HumanLoopConfig",
          "OutputConfig",
          "RoleArn"
        ],
        "members": {
          "FlowDefinitionArn": {},
          "FlowDefinitionName": {},
          "FlowDefinitionStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "HumanLoopRequestSource": {
            "shape": "S5z"
          },
          "HumanLoopActivationConfig": {
            "shape": "S61"
          },
          "HumanLoopConfig": {
            "shape": "S64"
          },
          "OutputConfig": {
            "shape": "S6j"
          },
          "RoleArn": {},
          "FailureReason": {}
        }
      }
    },
    "DescribeHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName"
        ],
        "members": {
          "HumanTaskUiName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiArn",
          "HumanTaskUiName",
          "CreationTime",
          "UiTemplate"
        ],
        "members": {
          "HumanTaskUiArn": {},
          "HumanTaskUiName": {},
          "HumanTaskUiStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "UiTemplate": {
            "type": "structure",
            "members": {
              "Url": {},
              "ContentSha256": {}
            }
          }
        }
      }
    },
    "DescribeHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobArn",
          "HyperParameterTuningJobConfig",
          "HyperParameterTuningJobStatus",
          "CreationTime",
          "TrainingJobStatusCounters",
          "ObjectiveStatusCounters"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobArn": {},
          "HyperParameterTuningJobConfig": {
            "shape": "S6t"
          },
          "TrainingJobDefinition": {
            "shape": "S79"
          },
          "TrainingJobDefinitions": {
            "shape": "S7f"
          },
          "HyperParameterTuningJobStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "HyperParameterTuningEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "TrainingJobStatusCounters": {
            "shape": "Sgn"
          },
          "ObjectiveStatusCounters": {
            "shape": "Sgp"
          },
          "BestTrainingJob": {
            "shape": "Sgr"
          },
          "OverallBestTrainingJob": {
            "shape": "Sgr"
          },
          "WarmStartConfig": {
            "shape": "S7g"
          },
          "FailureReason": {}
        }
      }
    },
    "DescribeLabelingJob": {
      "input": {
        "type": "structure",
        "required": [
          "LabelingJobName"
        ],
        "members": {
          "LabelingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobStatus",
          "LabelCounters",
          "CreationTime",
          "LastModifiedTime",
          "JobReferenceCode",
          "LabelingJobName",
          "LabelingJobArn",
          "InputConfig",
          "OutputConfig",
          "RoleArn",
          "HumanTaskConfig"
        ],
        "members": {
          "LabelingJobStatus": {},
          "LabelCounters": {
            "shape": "Sgx"
          },
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "JobReferenceCode": {},
          "LabelingJobName": {},
          "LabelingJobArn": {},
          "LabelAttributeName": {},
          "InputConfig": {
            "shape": "S7p"
          },
          "OutputConfig": {
            "shape": "S7x"
          },
          "RoleArn": {},
          "LabelCategoryConfigS3Uri": {},
          "StoppingConditions": {
            "shape": "S7y"
          },
          "LabelingJobAlgorithmsConfig": {
            "shape": "S81"
          },
          "HumanTaskConfig": {
            "shape": "S85"
          },
          "Tags": {
            "shape": "S3"
          },
          "LabelingJobOutput": {
            "shape": "Sh0"
          }
        }
      }
    },
    "DescribeModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelName",
          "ExecutionRoleArn",
          "CreationTime",
          "ModelArn"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "S8k"
          },
          "Containers": {
            "shape": "S8r"
          },
          "ExecutionRoleArn": {},
          "VpcConfig": {
            "shape": "S3v"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelArn": {},
          "EnableNetworkIsolation": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageName"
        ],
        "members": {
          "ModelPackageName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageName",
          "ModelPackageArn",
          "CreationTime",
          "ModelPackageStatus",
          "ModelPackageStatusDetails"
        ],
        "members": {
          "ModelPackageName": {},
          "ModelPackageArn": {},
          "ModelPackageDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "InferenceSpecification": {
            "shape": "S1c"
          },
          "SourceAlgorithmSpecification": {
            "shape": "S8x"
          },
          "ValidationSpecification": {
            "shape": "S8u"
          },
          "ModelPackageStatus": {},
          "ModelPackageStatusDetails": {
            "type": "structure",
            "required": [
              "ValidationStatuses"
            ],
            "members": {
              "ValidationStatuses": {
                "shape": "Sh7"
              },
              "ImageScanStatuses": {
                "shape": "Sh7"
              }
            }
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName"
        ],
        "members": {
          "MonitoringScheduleName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringScheduleArn",
          "MonitoringScheduleName",
          "MonitoringScheduleStatus",
          "CreationTime",
          "LastModifiedTime",
          "MonitoringScheduleConfig"
        ],
        "members": {
          "MonitoringScheduleArn": {},
          "MonitoringScheduleName": {},
          "MonitoringScheduleStatus": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "MonitoringScheduleConfig": {
            "shape": "S94"
          },
          "EndpointName": {},
          "LastMonitoringExecutionSummary": {
            "shape": "Shd"
          }
        }
      }
    },
    "DescribeNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {},
          "NotebookInstanceName": {},
          "NotebookInstanceStatus": {},
          "FailureReason": {},
          "Url": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroups": {
            "shape": "S4r"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "NetworkInterfaceId": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "NotebookInstanceLifecycleConfigName": {},
          "DirectInternetAccess": {},
          "VolumeSizeInGB": {
            "type": "integer"
          },
          "AcceleratorTypes": {
            "shape": "Sac"
          },
          "DefaultCodeRepository": {},
          "AdditionalCodeRepositories": {
            "shape": "Saf"
          },
          "RootAccess": {}
        }
      }
    },
    "DescribeNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {},
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "Sak"
          },
          "OnStart": {
            "shape": "Sak"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeProcessingJob": {
      "input": {
        "type": "structure",
        "required": [
          "ProcessingJobName"
        ],
        "members": {
          "ProcessingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessingJobName",
          "ProcessingResources",
          "AppSpecification",
          "ProcessingJobArn",
          "ProcessingJobStatus",
          "CreationTime"
        ],
        "members": {
          "ProcessingInputs": {
            "shape": "Sax"
          },
          "ProcessingOutputConfig": {
            "shape": "Sb3"
          },
          "ProcessingJobName": {},
          "ProcessingResources": {
            "shape": "Sb8"
          },
          "StoppingCondition": {
            "shape": "Sba"
          },
          "AppSpecification": {
            "shape": "Sbc"
          },
          "Environment": {
            "shape": "Sbe"
          },
          "NetworkConfig": {
            "shape": "Sa3"
          },
          "RoleArn": {},
          "ExperimentConfig": {
            "shape": "Sbf"
          },
          "ProcessingJobArn": {},
          "ProcessingJobStatus": {},
          "ExitMessage": {},
          "FailureReason": {},
          "ProcessingEndTime": {
            "type": "timestamp"
          },
          "ProcessingStartTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "MonitoringScheduleArn": {},
          "AutoMLJobArn": {},
          "TrainingJobArn": {}
        }
      }
    },
    "DescribeSubscribedWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamArn"
        ],
        "members": {
          "WorkteamArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "SubscribedWorkteam"
        ],
        "members": {
          "SubscribedWorkteam": {
            "shape": "Shr"
          }
        }
      }
    },
    "DescribeTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName"
        ],
        "members": {
          "TrainingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "TrainingJobArn",
          "ModelArtifacts",
          "TrainingJobStatus",
          "SecondaryStatus",
          "AlgorithmSpecification",
          "ResourceConfig",
          "StoppingCondition",
          "CreationTime"
        ],
        "members": {
          "TrainingJobName": {},
          "TrainingJobArn": {},
          "TuningJobArn": {},
          "LabelingJobArn": {},
          "AutoMLJobArn": {},
          "ModelArtifacts": {
            "shape": "Sfp"
          },
          "TrainingJobStatus": {},
          "SecondaryStatus": {},
          "FailureReason": {},
          "HyperParameters": {
            "shape": "S1t"
          },
          "AlgorithmSpecification": {
            "shape": "Sbk"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S1v"
          },
          "OutputDataConfig": {
            "shape": "S2c"
          },
          "ResourceConfig": {
            "shape": "S2e"
          },
          "VpcConfig": {
            "shape": "S3v"
          },
          "StoppingCondition": {
            "shape": "S2h"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "TrainingStartTime": {
            "type": "timestamp"
          },
          "TrainingEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "SecondaryStatusTransitions": {
            "shape": "Shv"
          },
          "FinalMetricDataList": {
            "shape": "Shy"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          },
          "EnableInterContainerTrafficEncryption": {
            "type": "boolean"
          },
          "EnableManagedSpotTraining": {
            "type": "boolean"
          },
          "CheckpointConfig": {
            "shape": "S7e"
          },
          "TrainingTimeInSeconds": {
            "type": "integer"
          },
          "BillableTimeInSeconds": {
            "type": "integer"
          },
          "DebugHookConfig": {
            "shape": "Sbl"
          },
          "ExperimentConfig": {
            "shape": "Sbf"
          },
          "DebugRuleConfigurations": {
            "shape": "Sbt"
          },
          "TensorBoardOutputConfig": {
            "shape": "Sby"
          },
          "DebugRuleEvaluationStatuses": {
            "shape": "Si3"
          }
        }
      }
    },
    "DescribeTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName"
        ],
        "members": {
          "TransformJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "TransformJobArn",
          "TransformJobStatus",
          "ModelName",
          "TransformInput",
          "TransformResources",
          "CreationTime"
        ],
        "members": {
          "TransformJobName": {},
          "TransformJobArn": {},
          "TransformJobStatus": {},
          "FailureReason": {},
          "ModelName": {},
          "MaxConcurrentTransforms": {
            "type": "integer"
          },
          "ModelClientConfig": {
            "shape": "Sc3"
          },
          "MaxPayloadInMB": {
            "type": "integer"
          },
          "BatchStrategy": {},
          "Environment": {
            "shape": "S2o"
          },
          "TransformInput": {
            "shape": "S2r"
          },
          "TransformOutput": {
            "shape": "S2v"
          },
          "TransformResources": {
            "shape": "S2y"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "TransformStartTime": {
            "type": "timestamp"
          },
          "TransformEndTime": {
            "type": "timestamp"
          },
          "LabelingJobArn": {},
          "AutoMLJobArn": {},
          "DataProcessing": {
            "shape": "Sc6"
          },
          "ExperimentConfig": {
            "shape": "Sbf"
          }
        }
      }
    },
    "DescribeTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName"
        ],
        "members": {
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialName": {},
          "TrialArn": {},
          "DisplayName": {},
          "ExperimentName": {},
          "Source": {
            "shape": "Sic"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sga"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sga"
          }
        }
      }
    },
    "DescribeTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentName": {},
          "TrialComponentArn": {},
          "DisplayName": {},
          "Source": {
            "shape": "Sig"
          },
          "Status": {
            "shape": "Sce"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sga"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sga"
          },
          "Parameters": {
            "shape": "Sci"
          },
          "InputArtifacts": {
            "shape": "Scn"
          },
          "OutputArtifacts": {
            "shape": "Scn"
          },
          "Metrics": {
            "shape": "Sii"
          }
        }
      }
    },
    "DescribeUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainId": {},
          "UserProfileArn": {},
          "UserProfileName": {},
          "HomeEfsFileSystemUid": {},
          "Status": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "SingleSignOnUserIdentifier": {},
          "SingleSignOnUserValue": {},
          "UserSettings": {
            "shape": "S4q"
          }
        }
      }
    },
    "DescribeWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "WorkforceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Workforce"
        ],
        "members": {
          "Workforce": {
            "shape": "Sis"
          }
        }
      }
    },
    "DescribeWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName"
        ],
        "members": {
          "WorkteamName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Workteam"
        ],
        "members": {
          "Workteam": {
            "shape": "Siw"
          }
        }
      }
    },
    "DisassociateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName",
          "TrialName"
        ],
        "members": {
          "TrialComponentName": {},
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {},
          "TrialArn": {}
        }
      }
    },
    "GetSearchSuggestions": {
      "input": {
        "type": "structure",
        "required": [
          "Resource"
        ],
        "members": {
          "Resource": {},
          "SuggestionQuery": {
            "type": "structure",
            "members": {
              "PropertyNameQuery": {
                "type": "structure",
                "required": [
                  "PropertyNameHint"
                ],
                "members": {
                  "PropertyNameHint": {}
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PropertyNameSuggestions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PropertyName": {}
              }
            }
          }
        }
      }
    },
    "ListAlgorithms": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "NextToken": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmSummaryList"
        ],
        "members": {
          "AlgorithmSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AlgorithmName",
                "AlgorithmArn",
                "CreationTime",
                "AlgorithmStatus"
              ],
              "members": {
                "AlgorithmName": {},
                "AlgorithmArn": {},
                "AlgorithmDescription": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "AlgorithmStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListApps": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "SortOrder": {},
          "SortBy": {},
          "DomainIdEquals": {},
          "UserProfileNameEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Apps": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DomainId": {},
                "UserProfileName": {},
                "AppType": {},
                "AppName": {},
                "Status": {},
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListAutoMLJobs": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "NameContains": {},
          "StatusEquals": {},
          "SortOrder": {},
          "SortBy": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobSummaries"
        ],
        "members": {
          "AutoMLJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AutoMLJobName",
                "AutoMLJobArn",
                "AutoMLJobStatus",
                "AutoMLJobSecondaryStatus",
                "CreationTime",
                "LastModifiedTime"
              ],
              "members": {
                "AutoMLJobName": {},
                "AutoMLJobArn": {},
                "AutoMLJobStatus": {},
                "AutoMLJobSecondaryStatus": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "FailureReason": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCandidatesForAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName"
        ],
        "members": {
          "AutoMLJobName": {},
          "StatusEquals": {},
          "CandidateNameEquals": {},
          "SortOrder": {},
          "SortBy": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Candidates"
        ],
        "members": {
          "Candidates": {
            "type": "list",
            "member": {
              "shape": "Sez"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCodeRepositories": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "NextToken": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositorySummaryList"
        ],
        "members": {
          "CodeRepositorySummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "CodeRepositoryName",
                "CodeRepositoryArn",
                "CreationTime",
                "LastModifiedTime"
              ],
              "members": {
                "CodeRepositoryName": {},
                "CodeRepositoryArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "GitConfig": {
                  "shape": "S44"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCompilationJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "NameContains": {},
          "StatusEquals": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobSummaries"
        ],
        "members": {
          "CompilationJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "CompilationJobName",
                "CompilationJobArn",
                "CreationTime",
                "CompilationJobStatus"
              ],
              "members": {
                "CompilationJobName": {},
                "CompilationJobArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "CompilationStartTime": {
                  "type": "timestamp"
                },
                "CompilationEndTime": {
                  "type": "timestamp"
                },
                "CompilationTargetDevice": {},
                "CompilationTargetPlatformOs": {},
                "CompilationTargetPlatformArch": {},
                "CompilationTargetPlatformAccelerator": {},
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "CompilationJobStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDomains": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Domains": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DomainArn": {},
                "DomainId": {},
                "DomainName": {},
                "Status": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "Url": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListEndpointConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigs"
        ],
        "members": {
          "EndpointConfigs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "EndpointConfigName",
                "EndpointConfigArn",
                "CreationTime"
              ],
              "members": {
                "EndpointConfigName": {},
                "EndpointConfigArn": {},
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Endpoints"
        ],
        "members": {
          "Endpoints": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "EndpointName",
                "EndpointArn",
                "CreationTime",
                "LastModifiedTime",
                "EndpointStatus"
              ],
              "members": {
                "EndpointName": {},
                "EndpointArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "EndpointStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListExperiments": {
      "input": {
        "type": "structure",
        "members": {
          "CreatedAfter": {
            "type": "timestamp"
          },
          "CreatedBefore": {
            "type": "timestamp"
          },
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ExperimentArn": {},
                "ExperimentName": {},
                "DisplayName": {},
                "ExperimentSource": {
                  "shape": "Sg7"
                },
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListFlowDefinitions": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionSummaries"
        ],
        "members": {
          "FlowDefinitionSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "FlowDefinitionName",
                "FlowDefinitionArn",
                "FlowDefinitionStatus",
                "CreationTime"
              ],
              "members": {
                "FlowDefinitionName": {},
                "FlowDefinitionArn": {},
                "FlowDefinitionStatus": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "FailureReason": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListHumanTaskUis": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiSummaries"
        ],
        "members": {
          "HumanTaskUiSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "HumanTaskUiName",
                "HumanTaskUiArn",
                "CreationTime"
              ],
              "members": {
                "HumanTaskUiName": {},
                "HumanTaskUiArn": {},
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListHyperParameterTuningJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "SortBy": {},
          "SortOrder": {},
          "NameContains": {},
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobSummaries"
        ],
        "members": {
          "HyperParameterTuningJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "HyperParameterTuningJobName",
                "HyperParameterTuningJobArn",
                "HyperParameterTuningJobStatus",
                "Strategy",
                "CreationTime",
                "TrainingJobStatusCounters",
                "ObjectiveStatusCounters"
              ],
              "members": {
                "HyperParameterTuningJobName": {},
                "HyperParameterTuningJobArn": {},
                "HyperParameterTuningJobStatus": {},
                "Strategy": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "HyperParameterTuningEndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "TrainingJobStatusCounters": {
                  "shape": "Sgn"
                },
                "ObjectiveStatusCounters": {
                  "shape": "Sgp"
                },
                "ResourceLimits": {
                  "shape": "S6v"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListLabelingJobs": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "NameContains": {},
          "SortBy": {},
          "SortOrder": {},
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LabelingJobSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "LabelingJobName",
                "LabelingJobArn",
                "CreationTime",
                "LastModifiedTime",
                "LabelingJobStatus",
                "LabelCounters",
                "WorkteamArn",
                "PreHumanTaskLambdaArn"
              ],
              "members": {
                "LabelingJobName": {},
                "LabelingJobArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "LabelingJobStatus": {},
                "LabelCounters": {
                  "shape": "Sgx"
                },
                "WorkteamArn": {},
                "PreHumanTaskLambdaArn": {},
                "AnnotationConsolidationLambdaArn": {},
                "FailureReason": {},
                "LabelingJobOutput": {
                  "shape": "Sh0"
                },
                "InputConfig": {
                  "shape": "S7p"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListLabelingJobsForWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamArn"
        ],
        "members": {
          "WorkteamArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "JobReferenceCodeContains": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobSummaryList"
        ],
        "members": {
          "LabelingJobSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "JobReferenceCode",
                "WorkRequesterAccountId",
                "CreationTime"
              ],
              "members": {
                "LabelingJobName": {},
                "JobReferenceCode": {},
                "WorkRequesterAccountId": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LabelCounters": {
                  "type": "structure",
                  "members": {
                    "HumanLabeled": {
                      "type": "integer"
                    },
                    "PendingHuman": {
                      "type": "integer"
                    },
                    "Total": {
                      "type": "integer"
                    }
                  }
                },
                "NumberOfHumanWorkersPerDataObject": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListModelPackages": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "NextToken": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageSummaryList"
        ],
        "members": {
          "ModelPackageSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelPackageName",
                "ModelPackageArn",
                "CreationTime",
                "ModelPackageStatus"
              ],
              "members": {
                "ModelPackageName": {},
                "ModelPackageArn": {},
                "ModelPackageDescription": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "ModelPackageStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListModels": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Models"
        ],
        "members": {
          "Models": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelName",
                "ModelArn",
                "CreationTime"
              ],
              "members": {
                "ModelName": {},
                "ModelArn": {},
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMonitoringExecutions": {
      "input": {
        "type": "structure",
        "members": {
          "MonitoringScheduleName": {},
          "EndpointName": {},
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "ScheduledTimeBefore": {
            "type": "timestamp"
          },
          "ScheduledTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringExecutionSummaries"
        ],
        "members": {
          "MonitoringExecutionSummaries": {
            "type": "list",
            "member": {
              "shape": "Shd"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMonitoringSchedules": {
      "input": {
        "type": "structure",
        "members": {
          "EndpointName": {},
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringScheduleSummaries"
        ],
        "members": {
          "MonitoringScheduleSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "MonitoringScheduleName",
                "MonitoringScheduleArn",
                "CreationTime",
                "LastModifiedTime",
                "MonitoringScheduleStatus"
              ],
              "members": {
                "MonitoringScheduleName": {},
                "MonitoringScheduleArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "MonitoringScheduleStatus": {},
                "EndpointName": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListNotebookInstanceLifecycleConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "SortBy": {},
          "SortOrder": {},
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "NotebookInstanceLifecycleConfigs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "NotebookInstanceLifecycleConfigName",
                "NotebookInstanceLifecycleConfigArn"
              ],
              "members": {
                "NotebookInstanceLifecycleConfigName": {},
                "NotebookInstanceLifecycleConfigArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListNotebookInstances": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "SortBy": {},
          "SortOrder": {},
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {},
          "NotebookInstanceLifecycleConfigNameContains": {},
          "DefaultCodeRepositoryContains": {},
          "AdditionalCodeRepositoryEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "NotebookInstances": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "NotebookInstanceName",
                "NotebookInstanceArn"
              ],
              "members": {
                "NotebookInstanceName": {},
                "NotebookInstanceArn": {},
                "NotebookInstanceStatus": {},
                "Url": {},
                "InstanceType": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "NotebookInstanceLifecycleConfigName": {},
                "DefaultCodeRepository": {},
                "AdditionalCodeRepositories": {
                  "shape": "Saf"
                }
              }
            }
          }
        }
      }
    },
    "ListProcessingJobs": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "NameContains": {},
          "StatusEquals": {},
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessingJobSummaries"
        ],
        "members": {
          "ProcessingJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ProcessingJobName",
                "ProcessingJobArn",
                "CreationTime",
                "ProcessingJobStatus"
              ],
              "members": {
                "ProcessingJobName": {},
                "ProcessingJobArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "ProcessingEndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "ProcessingJobStatus": {},
                "FailureReason": {},
                "ExitMessage": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListSubscribedWorkteams": {
      "input": {
        "type": "structure",
        "members": {
          "NameContains": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "SubscribedWorkteams"
        ],
        "members": {
          "SubscribedWorkteams": {
            "type": "list",
            "member": {
              "shape": "Shr"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3"
          },
          "NextToken": {}
        }
      }
    },
    "ListTrainingJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "NameContains": {},
          "StatusEquals": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobSummaries"
        ],
        "members": {
          "TrainingJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "TrainingJobName",
                "TrainingJobArn",
                "CreationTime",
                "TrainingJobStatus"
              ],
              "members": {
                "TrainingJobName": {},
                "TrainingJobArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "TrainingEndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "TrainingJobStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTrainingJobsForHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "StatusEquals": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobSummaries"
        ],
        "members": {
          "TrainingJobSummaries": {
            "type": "list",
            "member": {
              "shape": "Sgr"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTransformJobs": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "NameContains": {},
          "StatusEquals": {},
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobSummaries"
        ],
        "members": {
          "TransformJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "TransformJobName",
                "TransformJobArn",
                "CreationTime",
                "TransformJobStatus"
              ],
              "members": {
                "TransformJobName": {},
                "TransformJobArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "TransformEndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "TransformJobStatus": {},
                "FailureReason": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTrialComponents": {
      "input": {
        "type": "structure",
        "members": {
          "ExperimentName": {},
          "TrialName": {},
          "SourceArn": {},
          "CreatedAfter": {
            "type": "timestamp"
          },
          "CreatedBefore": {
            "type": "timestamp"
          },
          "SortBy": {},
          "SortOrder": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TrialComponentName": {},
                "TrialComponentArn": {},
                "DisplayName": {},
                "TrialComponentSource": {
                  "shape": "Sig"
                },
                "Status": {
                  "shape": "Sce"
                },
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "CreationTime": {
                  "type": "timestamp"
                },
                "CreatedBy": {
                  "shape": "Sga"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "LastModifiedBy": {
                  "shape": "Sga"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTrials": {
      "input": {
        "type": "structure",
        "members": {
          "ExperimentName": {},
          "TrialComponentName": {},
          "CreatedAfter": {
            "type": "timestamp"
          },
          "CreatedBefore": {
            "type": "timestamp"
          },
          "SortBy": {},
          "SortOrder": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "TrialArn": {},
                "TrialName": {},
                "DisplayName": {},
                "TrialSource": {
[...]
