{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-24",
    "endpointPrefix": "api.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SageMaker",
    "serviceFullName": "Amazon SageMaker Service",
    "serviceId": "SageMaker",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "targetPrefix": "SageMaker",
    "uid": "sagemaker-2017-07-24"
  },
  "operations": {
    "AddAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "SourceArn",
          "DestinationArn"
        ],
        "members": {
          "SourceArn": {},
          "DestinationArn": {},
          "AssociationType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SourceArn": {},
          "DestinationArn": {}
        }
      }
    },
    "AddTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "AssociateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName",
          "TrialName"
        ],
        "members": {
          "TrialComponentName": {},
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {},
          "TrialArn": {}
        }
      }
    },
    "CreateAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionName",
          "Source",
          "ActionType"
        ],
        "members": {
          "ActionName": {},
          "Source": {
            "shape": "Si"
          },
          "ActionType": {},
          "Description": {},
          "Status": {},
          "Properties": {
            "shape": "Sn"
          },
          "MetadataProperties": {
            "shape": "Sp"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActionArn": {}
        }
      }
    },
    "CreateAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName",
          "TrainingSpecification"
        ],
        "members": {
          "AlgorithmName": {},
          "AlgorithmDescription": {},
          "TrainingSpecification": {
            "shape": "Sw"
          },
          "InferenceSpecification": {
            "shape": "S1t"
          },
          "ValidationSpecification": {
            "shape": "S25"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmArn"
        ],
        "members": {
          "AlgorithmArn": {}
        }
      }
    },
    "CreateApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {},
          "Tags": {
            "shape": "S7"
          },
          "ResourceSpec": {
            "shape": "S3p"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppArn": {}
        }
      }
    },
    "CreateAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {},
          "Tags": {
            "shape": "S7"
          },
          "KernelGatewayImageConfig": {
            "shape": "S3x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppImageConfigArn": {}
        }
      }
    },
    "CreateArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "Source",
          "ArtifactType"
        ],
        "members": {
          "ArtifactName": {},
          "Source": {
            "shape": "S49"
          },
          "ArtifactType": {},
          "Properties": {
            "shape": "Sn"
          },
          "MetadataProperties": {
            "shape": "Sp"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ArtifactArn": {}
        }
      }
    },
    "CreateAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "InputDataConfig",
          "OutputDataConfig",
          "RoleArn"
        ],
        "members": {
          "AutoMLJobName": {},
          "InputDataConfig": {
            "shape": "S4h"
          },
          "OutputDataConfig": {
            "shape": "S4n"
          },
          "ProblemType": {},
          "AutoMLJobObjective": {
            "shape": "S4p"
          },
          "AutoMLJobConfig": {
            "shape": "S4r"
          },
          "RoleArn": {},
          "GenerateCandidateDefinitionsOnly": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobArn"
        ],
        "members": {
          "AutoMLJobArn": {}
        }
      }
    },
    "CreateCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName",
          "GitConfig"
        ],
        "members": {
          "CodeRepositoryName": {},
          "GitConfig": {
            "shape": "S56"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositoryArn"
        ],
        "members": {
          "CodeRepositoryArn": {}
        }
      }
    },
    "CreateCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName",
          "RoleArn",
          "InputConfig",
          "OutputConfig",
          "StoppingCondition"
        ],
        "members": {
          "CompilationJobName": {},
          "RoleArn": {},
          "InputConfig": {
            "shape": "S5d"
          },
          "OutputConfig": {
            "shape": "S5g"
          },
          "StoppingCondition": {
            "shape": "S2y"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobArn"
        ],
        "members": {
          "CompilationJobArn": {}
        }
      }
    },
    "CreateContext": {
      "input": {
        "type": "structure",
        "required": [
          "ContextName",
          "Source",
          "ContextType"
        ],
        "members": {
          "ContextName": {},
          "Source": {
            "shape": "S5q"
          },
          "ContextType": {},
          "Description": {},
          "Properties": {
            "shape": "Sn"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContextArn": {}
        }
      }
    },
    "CreateDataQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "DataQualityAppSpecification",
          "DataQualityJobInput",
          "DataQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "DataQualityBaselineConfig": {
            "shape": "S5v"
          },
          "DataQualityAppSpecification": {
            "shape": "S5z"
          },
          "DataQualityJobInput": {
            "shape": "S68"
          },
          "DataQualityJobOutputConfig": {
            "shape": "S6h"
          },
          "JobResources": {
            "shape": "S6n"
          },
          "NetworkConfig": {
            "shape": "S6s"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S6t"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateDeviceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName",
          "OutputConfig"
        ],
        "members": {
          "DeviceFleetName": {},
          "RoleArn": {},
          "Description": {},
          "OutputConfig": {
            "shape": "S6z"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AuthMode",
          "DefaultUserSettings",
          "SubnetIds",
          "VpcId"
        ],
        "members": {
          "DomainName": {},
          "AuthMode": {},
          "DefaultUserSettings": {
            "shape": "S73"
          },
          "SubnetIds": {
            "shape": "S50"
          },
          "VpcId": {},
          "Tags": {
            "shape": "S7"
          },
          "AppNetworkAccessType": {},
          "HomeEfsFileSystemKmsKeyId": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use KmsKeyId instead."
          },
          "KmsKeyId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainArn": {},
          "Url": {}
        }
      }
    },
    "CreateEdgePackagingJob": {
      "input": {
        "type": "structure",
        "required": [
          "EdgePackagingJobName",
          "CompilationJobName",
          "ModelName",
          "ModelVersion",
          "RoleArn",
          "OutputConfig"
        ],
        "members": {
          "EdgePackagingJobName": {},
          "CompilationJobName": {},
          "ModelName": {},
          "ModelVersion": {},
          "RoleArn": {},
          "OutputConfig": {
            "shape": "S6z"
          },
          "ResourceKey": {},
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointConfigName"
        ],
        "members": {
          "EndpointName": {},
          "EndpointConfigName": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      }
    },
    "CreateEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "ProductionVariants"
        ],
        "members": {
          "EndpointConfigName": {},
          "ProductionVariants": {
            "shape": "S7q"
          },
          "DataCaptureConfig": {
            "shape": "S7x"
          },
          "Tags": {
            "shape": "S7"
          },
          "KmsKeyId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigArn"
        ],
        "members": {
          "EndpointConfigArn": {}
        }
      }
    },
    "CreateExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {},
          "DisplayName": {},
          "Description": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentArn": {}
        }
      }
    },
    "CreateFeatureGroup": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName",
          "RecordIdentifierFeatureName",
          "EventTimeFeatureName",
          "FeatureDefinitions"
        ],
        "members": {
          "FeatureGroupName": {},
          "RecordIdentifierFeatureName": {},
          "EventTimeFeatureName": {},
          "FeatureDefinitions": {
            "shape": "S8h"
          },
          "OnlineStoreConfig": {
            "shape": "S8k"
          },
          "OfflineStoreConfig": {
            "shape": "S8m"
          },
          "RoleArn": {},
          "Description": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FeatureGroupArn"
        ],
        "members": {
          "FeatureGroupArn": {}
        }
      }
    },
    "CreateFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName",
          "HumanLoopConfig",
          "OutputConfig",
          "RoleArn"
        ],
        "members": {
          "FlowDefinitionName": {},
          "HumanLoopRequestSource": {
            "shape": "S8x"
          },
          "HumanLoopActivationConfig": {
            "shape": "S8z"
          },
          "HumanLoopConfig": {
            "shape": "S92"
          },
          "OutputConfig": {
            "shape": "S9h"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionArn"
        ],
        "members": {
          "FlowDefinitionArn": {}
        }
      }
    },
    "CreateHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName",
          "UiTemplate"
        ],
        "members": {
          "HumanTaskUiName": {},
          "UiTemplate": {
            "shape": "S9m"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiArn"
        ],
        "members": {
          "HumanTaskUiArn": {}
        }
      }
    },
    "CreateHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobConfig"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobConfig": {
            "shape": "S9r"
          },
          "TrainingJobDefinition": {
            "shape": "Sa8"
          },
          "TrainingJobDefinitions": {
            "shape": "Sae"
          },
          "WarmStartConfig": {
            "shape": "Saf"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobArn"
        ],
        "members": {
          "HyperParameterTuningJobArn": {}
        }
      }
    },
    "CreateImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName",
          "RoleArn"
        ],
        "members": {
          "Description": {},
          "DisplayName": {},
          "ImageName": {},
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageArn": {}
        }
      }
    },
    "CreateImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "BaseImage",
          "ClientToken",
          "ImageName"
        ],
        "members": {
          "BaseImage": {},
          "ClientToken": {
            "idempotencyToken": true
          },
          "ImageName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageVersionArn": {}
        }
      }
    },
    "CreateLabelingJob": {
      "input": {
        "type": "structure",
        "required": [
          "LabelingJobName",
          "LabelAttributeName",
          "InputConfig",
          "OutputConfig",
          "RoleArn",
          "HumanTaskConfig"
        ],
        "members": {
          "LabelingJobName": {},
          "LabelAttributeName": {},
          "InputConfig": {
            "shape": "Saw"
          },
          "OutputConfig": {
            "shape": "Sb4"
          },
          "RoleArn": {},
          "LabelCategoryConfigS3Uri": {},
          "StoppingConditions": {
            "shape": "Sb5"
          },
          "LabelingJobAlgorithmsConfig": {
            "shape": "Sb8"
          },
          "HumanTaskConfig": {
            "shape": "Sbc"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobArn"
        ],
        "members": {
          "LabelingJobArn": {}
        }
      }
    },
    "CreateModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName",
          "ExecutionRoleArn"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "Sbr"
          },
          "Containers": {
            "shape": "Sc1"
          },
          "ExecutionRoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "VpcConfig": {
            "shape": "S4x"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelArn"
        ],
        "members": {
          "ModelArn": {}
        }
      }
    },
    "CreateModelBiasJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "ModelBiasAppSpecification",
          "ModelBiasJobInput",
          "ModelBiasJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "ModelBiasBaselineConfig": {
            "shape": "Sc4"
          },
          "ModelBiasAppSpecification": {
            "shape": "Sc5"
          },
          "ModelBiasJobInput": {
            "shape": "Sc6"
          },
          "ModelBiasJobOutputConfig": {
            "shape": "S6h"
          },
          "JobResources": {
            "shape": "S6n"
          },
          "NetworkConfig": {
            "shape": "S6s"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S6t"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateModelExplainabilityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "ModelExplainabilityAppSpecification",
          "ModelExplainabilityJobInput",
          "ModelExplainabilityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "ModelExplainabilityBaselineConfig": {
            "shape": "Sca"
          },
          "ModelExplainabilityAppSpecification": {
            "shape": "Scb"
          },
          "ModelExplainabilityJobInput": {
            "shape": "Scc"
          },
          "ModelExplainabilityJobOutputConfig": {
            "shape": "S6h"
          },
          "JobResources": {
            "shape": "S6n"
          },
          "NetworkConfig": {
            "shape": "S6s"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S6t"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateModelPackage": {
      "input": {
        "type": "structure",
        "members": {
          "ModelPackageName": {},
          "ModelPackageGroupName": {},
          "ModelPackageDescription": {},
          "InferenceSpecification": {
            "shape": "S1t"
          },
          "ValidationSpecification": {
            "shape": "Scf"
          },
          "SourceAlgorithmSpecification": {
            "shape": "Sci"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S7"
          },
          "ModelApprovalStatus": {},
          "MetadataProperties": {
            "shape": "Sp"
          },
          "ModelMetrics": {
            "shape": "Scm"
          },
          "ClientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageArn"
        ],
        "members": {
          "ModelPackageArn": {}
        }
      }
    },
    "CreateModelPackageGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {},
          "ModelPackageGroupDescription": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageGroupArn"
        ],
        "members": {
          "ModelPackageGroupArn": {}
        }
      }
    },
    "CreateModelQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "ModelQualityAppSpecification",
          "ModelQualityJobInput",
          "ModelQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "ModelQualityBaselineConfig": {
            "shape": "Scz"
          },
          "ModelQualityAppSpecification": {
            "shape": "Sd0"
          },
          "ModelQualityJobInput": {
            "shape": "Sd2"
          },
          "ModelQualityJobOutputConfig": {
            "shape": "S6h"
          },
          "JobResources": {
            "shape": "S6n"
          },
          "NetworkConfig": {
            "shape": "S6s"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S6t"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName",
          "MonitoringScheduleConfig"
        ],
        "members": {
          "MonitoringScheduleName": {},
          "MonitoringScheduleConfig": {
            "shape": "Sd6"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringScheduleArn"
        ],
        "members": {
          "MonitoringScheduleArn": {}
        }
      }
    },
    "CreateNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName",
          "InstanceType",
          "RoleArn"
        ],
        "members": {
          "NotebookInstanceName": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroupIds": {
            "shape": "S74"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "Tags": {
            "shape": "S7"
          },
          "LifecycleConfigName": {},
          "DirectInternetAccess": {},
          "VolumeSizeInGB": {
            "type": "integer"
          },
          "AcceleratorTypes": {
            "shape": "Sdo"
          },
          "DefaultCodeRepository": {},
          "AdditionalCodeRepositories": {
            "shape": "Sdr"
          },
          "RootAccess": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {}
        }
      }
    },
    "CreateNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "Sdw"
          },
          "OnStart": {
            "shape": "Sdw"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {}
        }
      }
    },
    "CreatePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineName",
          "PipelineDefinition",
          "ClientRequestToken",
          "RoleArn"
        ],
        "members": {
          "PipelineName": {},
          "PipelineDisplayName": {},
          "PipelineDefinition": {},
          "PipelineDescription": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineArn": {}
        }
      }
    },
    "CreatePresignedDomainUrl": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreatePresignedNotebookInstanceUrl": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreateProcessingJob": {
      "input": {
        "type": "structure",
        "required": [
          "ProcessingJobName",
          "ProcessingResources",
          "AppSpecification",
          "RoleArn"
        ],
        "members": {
          "ProcessingInputs": {
            "shape": "Seg"
          },
          "ProcessingOutputConfig": {
            "shape": "Sf3"
          },
          "ProcessingJobName": {},
          "ProcessingResources": {
            "shape": "Sf8"
          },
          "StoppingCondition": {
            "shape": "Sfa"
          },
          "AppSpecification": {
            "shape": "Sfc"
          },
          "Environment": {
            "shape": "Sfe"
          },
          "NetworkConfig": {
            "shape": "Sde"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "ExperimentConfig": {
            "shape": "Sff"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessingJobArn"
        ],
        "members": {
          "ProcessingJobArn": {}
        }
      }
    },
    "CreateProject": {
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "ServiceCatalogProvisioningDetails"
        ],
        "members": {
          "ProjectName": {},
          "ProjectDescription": {},
          "ServiceCatalogProvisioningDetails": {
            "shape": "Sfk"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProjectArn",
          "ProjectId"
        ],
        "members": {
          "ProjectArn": {},
          "ProjectId": {}
        }
      }
    },
    "CreateTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "AlgorithmSpecification",
          "RoleArn",
          "OutputDataConfig",
          "ResourceConfig",
          "StoppingCondition"
        ],
        "members": {
          "TrainingJobName": {},
          "HyperParameters": {
            "shape": "S2a"
          },
          "AlgorithmSpecification": {
            "shape": "Sfv"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S2c"
          },
          "OutputDataConfig": {
            "shape": "S2t"
          },
          "ResourceConfig": {
            "shape": "S2v"
          },
          "VpcConfig": {
            "shape": "S4x"
          },
          "StoppingCondition": {
            "shape": "S2y"
          },
          "Tags": {
            "shape": "S7"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          },
          "EnableInterContainerTrafficEncryption": {
            "type": "boolean"
          },
          "EnableManagedSpotTraining": {
            "type": "boolean"
          },
          "CheckpointConfig": {
            "shape": "Sad"
          },
          "DebugHookConfig": {
            "shape": "Sfw"
          },
          "DebugRuleConfigurations": {
            "shape": "Sg4"
          },
          "TensorBoardOutputConfig": {
            "shape": "Sg9"
          },
          "ExperimentConfig": {
            "shape": "Sff"
          },
          "ProfilerConfig": {
            "shape": "Sga"
          },
          "ProfilerRuleConfigurations": {
            "shape": "Sgd"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobArn"
        ],
        "members": {
          "TrainingJobArn": {}
        }
      }
    },
    "CreateTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "ModelName",
          "TransformInput",
          "TransformOutput",
          "TransformResources"
        ],
        "members": {
          "TransformJobName": {},
          "ModelName": {},
          "MaxConcurrentTransforms": {
            "type": "integer"
          },
          "ModelClientConfig": {
            "shape": "Sgj"
          },
          "MaxPayloadInMB": {
            "type": "integer"
          },
          "BatchStrategy": {},
          "Environment": {
            "shape": "S35"
          },
          "TransformInput": {
            "shape": "S38"
          },
          "TransformOutput": {
            "shape": "S3c"
          },
          "TransformResources": {
            "shape": "S3f"
          },
          "DataProcessing": {
            "shape": "Sgm"
          },
          "Tags": {
            "shape": "S7"
          },
          "ExperimentConfig": {
            "shape": "Sff"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobArn"
        ],
        "members": {
          "TransformJobArn": {}
        }
      }
    },
    "CreateTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName",
          "ExperimentName"
        ],
        "members": {
          "TrialName": {},
          "DisplayName": {},
          "ExperimentName": {},
          "MetadataProperties": {
            "shape": "Sp"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "CreateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {},
          "DisplayName": {},
          "Status": {
            "shape": "Sgu"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "Parameters": {
            "shape": "Sgy"
          },
          "InputArtifacts": {
            "shape": "Sh2"
          },
          "OutputArtifacts": {
            "shape": "Sh2"
          },
          "MetadataProperties": {
            "shape": "Sp"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {}
        }
      }
    },
    "CreateUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SingleSignOnUserIdentifier": {},
          "SingleSignOnUserValue": {},
          "Tags": {
            "shape": "S7"
          },
          "UserSettings": {
            "shape": "S73"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserProfileArn": {}
        }
      }
    },
    "CreateWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "CognitoConfig": {
            "shape": "Shd"
          },
          "OidcConfig": {
            "shape": "Shg"
          },
          "SourceIpConfig": {
            "shape": "Shj"
          },
          "WorkforceName": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "WorkforceArn"
        ],
        "members": {
          "WorkforceArn": {}
        }
      }
    },
    "CreateWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName",
          "MemberDefinitions",
          "Description"
        ],
        "members": {
          "WorkteamName": {},
          "WorkforceName": {},
          "MemberDefinitions": {
            "shape": "Shr"
          },
          "Description": {},
          "NotificationConfiguration": {
            "shape": "Shz"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WorkteamArn": {}
        }
      }
    },
    "DeleteAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionName"
        ],
        "members": {
          "ActionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActionArn": {}
        }
      }
    },
    "DeleteAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName"
        ],
        "members": {
          "AlgorithmName": {}
        }
      }
    },
    "DeleteApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {}
        }
      }
    },
    "DeleteAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {}
        }
      }
    },
    "DeleteArtifact": {
      "input": {
        "type": "structure",
        "members": {
          "ArtifactArn": {},
          "Source": {
            "shape": "S49"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ArtifactArn": {}
        }
      }
    },
    "DeleteAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "SourceArn",
          "DestinationArn"
        ],
        "members": {
          "SourceArn": {},
          "DestinationArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SourceArn": {},
          "DestinationArn": {}
        }
      }
    },
    "DeleteCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName"
        ],
        "members": {
          "CodeRepositoryName": {}
        }
      }
    },
    "DeleteContext": {
      "input": {
        "type": "structure",
        "required": [
          "ContextName"
        ],
        "members": {
          "ContextName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContextArn": {}
        }
      }
    },
    "DeleteDataQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteDeviceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName"
        ],
        "members": {
          "DeviceFleetName": {}
        }
      }
    },
    "DeleteDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId"
        ],
        "members": {
          "DomainId": {},
          "RetentionPolicy": {
            "type": "structure",
            "members": {
              "HomeEfsFileSystem": {}
            }
          }
        }
      }
    },
    "DeleteEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      }
    },
    "DeleteEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      }
    },
    "DeleteExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentArn": {}
        }
      }
    },
    "DeleteFeatureGroup": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName"
        ],
        "members": {
          "FeatureGroupName": {}
        }
      }
    },
    "DeleteFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName"
        ],
        "members": {
          "FlowDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName"
        ],
        "members": {
          "HumanTaskUiName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName",
          "Version"
        ],
        "members": {
          "ImageName": {},
          "Version": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      }
    },
    "DeleteModelBiasJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteModelExplainabilityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageName"
        ],
        "members": {
          "ModelPackageName": {}
        }
      }
    },
    "DeleteModelPackageGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {}
        }
      }
    },
    "DeleteModelPackageGroupPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {}
        }
      }
    },
    "DeleteModelQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName"
        ],
        "members": {
          "MonitoringScheduleName": {}
        }
      }
    },
    "DeleteNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      }
    },
    "DeleteNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {}
        }
      }
    },
    "DeletePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineName",
          "ClientRequestToken"
        ],
        "members": {
          "PipelineName": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineArn": {}
        }
      }
    },
    "DeleteProject": {
      "input": {
        "type": "structure",
        "required": [
          "ProjectName"
        ],
        "members": {
          "ProjectName": {}
        }
      }
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName"
        ],
        "members": {
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "DeleteTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {}
        }
      }
    },
    "DeleteUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {}
        }
      }
    },
    "DeleteWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "WorkforceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName"
        ],
        "members": {
          "WorkteamName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Success"
        ],
        "members": {
          "Success": {
            "type": "boolean"
          }
        }
      }
    },
    "DeregisterDevices": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName",
          "DeviceNames"
        ],
        "members": {
          "DeviceFleetName": {},
          "DeviceNames": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "DescribeAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionName"
        ],
        "members": {
          "ActionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActionName": {},
          "ActionArn": {},
          "Source": {
            "shape": "Si"
          },
          "ActionType": {},
          "Description": {},
          "Status": {},
          "Properties": {
            "shape": "Sn"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sjr"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sjr"
          },
          "MetadataProperties": {
            "shape": "Sp"
          }
        }
      }
    },
    "DescribeAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName"
        ],
        "members": {
          "AlgorithmName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmName",
          "AlgorithmArn",
          "CreationTime",
          "TrainingSpecification",
          "AlgorithmStatus",
          "AlgorithmStatusDetails"
        ],
        "members": {
          "AlgorithmName": {},
          "AlgorithmArn": {},
          "AlgorithmDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "TrainingSpecification": {
            "shape": "Sw"
          },
          "InferenceSpecification": {
            "shape": "S1t"
          },
          "ValidationSpecification": {
            "shape": "S25"
          },
          "AlgorithmStatus": {},
          "AlgorithmStatusDetails": {
            "type": "structure",
            "members": {
              "ValidationStatuses": {
                "shape": "Sjx"
              },
              "ImageScanStatuses": {
                "shape": "Sjx"
              }
            }
          },
          "ProductId": {},
          "CertifyForMarketplace": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppArn": {},
          "AppType": {},
          "AppName": {},
          "DomainId": {},
          "UserProfileName": {},
          "Status": {},
          "LastHealthCheckTimestamp": {
            "type": "timestamp"
          },
          "LastUserActivityTimestamp": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ResourceSpec": {
            "shape": "S3p"
          }
        }
      }
    },
    "DescribeAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppImageConfigArn": {},
          "AppImageConfigName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "KernelGatewayImageConfig": {
            "shape": "S3x"
          }
        }
      }
    },
    "DescribeArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "ArtifactArn"
        ],
        "members": {
          "ArtifactArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ArtifactName": {},
          "ArtifactArn": {},
          "Source": {
            "shape": "S49"
          },
          "ArtifactType": {},
          "Properties": {
            "shape": "Sn"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sjr"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sjr"
          },
          "MetadataProperties": {
            "shape": "Sp"
          }
        }
      }
    },
    "DescribeAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName"
        ],
        "members": {
          "AutoMLJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "AutoMLJobArn",
          "InputDataConfig",
          "OutputDataConfig",
          "RoleArn",
          "CreationTime",
          "LastModifiedTime",
          "AutoMLJobStatus",
          "AutoMLJobSecondaryStatus"
        ],
        "members": {
          "AutoMLJobName": {},
          "AutoMLJobArn": {},
          "InputDataConfig": {
            "shape": "S4h"
          },
          "OutputDataConfig": {
            "shape": "S4n"
          },
          "RoleArn": {},
          "AutoMLJobObjective": {
            "shape": "S4p"
          },
          "ProblemType": {},
          "AutoMLJobConfig": {
            "shape": "S4r"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "BestCandidate": {
            "shape": "Skb"
          },
          "AutoMLJobStatus": {},
          "AutoMLJobSecondaryStatus": {},
          "GenerateCandidateDefinitionsOnly": {
            "type": "boolean"
          },
          "AutoMLJobArtifacts": {
            "type": "structure",
            "members": {
              "CandidateDefinitionNotebookLocation": {},
              "DataExplorationNotebookLocation": {}
            }
          },
          "ResolvedAttributes": {
            "type": "structure",
            "members": {
              "AutoMLJobObjective": {
                "shape": "S4p"
              },
              "ProblemType": {},
              "CompletionCriteria": {
                "shape": "S4s"
              }
            }
          }
        }
      }
    },
    "DescribeCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName"
        ],
        "members": {
          "CodeRepositoryName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositoryName",
          "CodeRepositoryArn",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "CodeRepositoryName": {},
          "CodeRepositoryArn": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "GitConfig": {
            "shape": "S56"
          }
        }
      }
    },
    "DescribeCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName"
        ],
        "members": {
          "CompilationJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobName",
          "CompilationJobArn",
          "CompilationJobStatus",
          "StoppingCondition",
          "CreationTime",
          "LastModifiedTime",
          "FailureReason",
          "ModelArtifacts",
          "RoleArn",
          "InputConfig",
          "OutputConfig"
        ],
        "members": {
          "CompilationJobName": {},
          "CompilationJobArn": {},
          "CompilationJobStatus": {},
          "CompilationStartTime": {
            "type": "timestamp"
          },
          "CompilationEndTime": {
            "type": "timestamp"
          },
          "StoppingCondition": {
            "shape": "S2y"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ModelArtifacts": {
            "shape": "Sl1"
          },
          "ModelDigests": {
            "type": "structure",
            "members": {
              "ArtifactDigest": {}
            }
          },
          "RoleArn": {},
          "InputConfig": {
            "shape": "S5d"
          },
          "OutputConfig": {
            "shape": "S5g"
          }
        }
      }
    },
    "DescribeContext": {
      "input": {
        "type": "structure",
        "required": [
          "ContextName"
        ],
        "members": {
          "ContextName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContextName": {},
          "ContextArn": {},
          "Source": {
            "shape": "S5q"
          },
          "ContextType": {},
          "Description": {},
          "Properties": {
            "shape": "Sn"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sjr"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sjr"
          }
        }
      }
    },
    "DescribeDataQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn",
          "JobDefinitionName",
          "CreationTime",
          "DataQualityAppSpecification",
          "DataQualityJobInput",
          "DataQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionArn": {},
          "JobDefinitionName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "DataQualityBaselineConfig": {
            "shape": "S5v"
          },
          "DataQualityAppSpecification": {
            "shape": "S5z"
          },
          "DataQualityJobInput": {
            "shape": "S68"
          },
          "DataQualityJobOutputConfig": {
            "shape": "S6h"
          },
          "JobResources": {
            "shape": "S6n"
          },
          "NetworkConfig": {
            "shape": "S6s"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S6t"
          }
        }
      }
    },
    "DescribeDevice": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceName",
          "DeviceFleetName"
        ],
        "members": {
          "NextToken": {},
          "DeviceName": {},
          "DeviceFleetName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeviceName",
          "DeviceFleetName",
          "RegistrationTime"
        ],
        "members": {
          "DeviceArn": {},
          "DeviceName": {},
          "Description": {},
          "DeviceFleetName": {},
          "IotThingName": {},
          "RegistrationTime": {
            "type": "timestamp"
          },
          "LatestHeartbeat": {
            "type": "timestamp"
          },
          "Models": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelName",
                "ModelVersion"
              ],
              "members": {
                "ModelName": {},
                "ModelVersion": {},
                "LatestSampleTime": {
                  "type": "timestamp"
                },
                "LatestInference": {
                  "type": "timestamp"
                }
              }
            }
          },
          "MaxModels": {
            "type": "integer"
          },
          "NextToken": {}
        }
      }
    },
    "DescribeDeviceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName"
        ],
        "members": {
          "DeviceFleetName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeviceFleetName",
          "DeviceFleetArn",
          "OutputConfig",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "DeviceFleetName": {},
          "DeviceFleetArn": {},
          "OutputConfig": {
            "shape": "S6z"
          },
          "Description": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "RoleArn": {},
          "IotRoleAlias": {}
        }
      }
    },
    "DescribeDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId"
        ],
        "members": {
          "DomainId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainArn": {},
          "DomainId": {},
          "DomainName": {},
          "HomeEfsFileSystemId": {},
          "SingleSignOnManagedApplicationInstanceId": {},
          "Status": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "AuthMode": {},
          "DefaultUserSettings": {
            "shape": "S73"
          },
          "AppNetworkAccessType": {},
          "HomeEfsFileSystemKmsKeyId": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use KmsKeyId instead."
          },
          "SubnetIds": {
            "shape": "S50"
          },
          "Url": {},
          "VpcId": {},
          "KmsKeyId": {}
        }
      }
    },
    "DescribeEdgePackagingJob": {
      "input": {
        "type": "structure",
        "required": [
          "EdgePackagingJobName"
        ],
        "members": {
          "EdgePackagingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EdgePackagingJobArn",
          "EdgePackagingJobName",
          "EdgePackagingJobStatus"
        ],
        "members": {
          "EdgePackagingJobArn": {},
          "EdgePackagingJobName": {},
          "CompilationJobName": {},
          "ModelName": {},
          "ModelVersion": {},
          "RoleArn": {},
          "OutputConfig": {
            "shape": "S6z"
          },
          "ResourceKey": {},
          "EdgePackagingJobStatus": {},
          "EdgePackagingJobStatusMessage": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "ModelArtifact": {},
          "ModelSignature": {}
        }
      }
    },
    "DescribeEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointArn",
          "EndpointConfigName",
          "EndpointStatus",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "EndpointName": {},
          "EndpointArn": {},
          "EndpointConfigName": {},
          "ProductionVariants": {
            "shape": "Slv"
          },
          "DataCaptureConfig": {
            "shape": "Slz"
          },
          "EndpointStatus": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastDeploymentConfig": {
            "shape": "Sm2"
          }
        }
      }
    },
    "DescribeEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "EndpointConfigArn",
          "ProductionVariants",
          "CreationTime"
        ],
        "members": {
          "EndpointConfigName": {},
          "EndpointConfigArn": {},
          "ProductionVariants": {
            "shape": "S7q"
          },
          "DataCaptureConfig": {
            "shape": "S7x"
          },
          "KmsKeyId": {},
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentName": {},
          "ExperimentArn": {},
          "DisplayName": {},
          "Source": {
            "shape": "Smk"
          },
          "Description": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sjr"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sjr"
          }
        }
      }
    },
    "DescribeFeatureGroup": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName"
        ],
        "members": {
          "FeatureGroupName": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FeatureGroupArn",
          "FeatureGroupName",
          "RecordIdentifierFeatureName",
          "EventTimeFeatureName",
          "FeatureDefinitions",
          "CreationTime",
          "NextToken"
        ],
        "members": {
          "FeatureGroupArn": {},
          "FeatureGroupName": {},
          "RecordIdentifierFeatureName": {},
          "EventTimeFeatureName": {},
          "FeatureDefinitions": {
            "shape": "S8h"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "OnlineStoreConfig": {
            "shape": "S8k"
          },
          "OfflineStoreConfig": {
            "shape": "S8m"
          },
          "RoleArn": {},
          "FeatureGroupStatus": {},
          "OfflineStoreStatus": {
            "shape": "Smq"
          },
          "FailureReason": {},
          "Description": {},
          "NextToken": {}
        }
      }
    },
    "DescribeFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName"
        ],
        "members": {
          "FlowDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionArn",
          "FlowDefinitionName",
          "FlowDefinitionStatus",
          "CreationTime",
          "HumanLoopConfig",
          "OutputConfig",
          "RoleArn"
        ],
        "members": {
          "FlowDefinitionArn": {},
          "FlowDefinitionName": {},
          "FlowDefinitionStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "HumanLoopRequestSource": {
            "shape": "S8x"
          },
          "HumanLoopActivationConfig": {
            "shape": "S8z"
          },
          "HumanLoopConfig": {
            "shape": "S92"
          },
          "OutputConfig": {
            "shape": "S9h"
          },
          "RoleArn": {},
          "FailureReason": {}
        }
      }
    },
    "DescribeHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName"
        ],
        "members": {
          "HumanTaskUiName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiArn",
          "HumanTaskUiName",
          "CreationTime",
          "UiTemplate"
        ],
        "members": {
          "HumanTaskUiArn": {},
          "HumanTaskUiName": {},
          "HumanTaskUiStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "UiTemplate": {
            "type": "structure",
            "members": {
              "Url": {},
              "ContentSha256": {}
            }
          }
        }
      }
    },
    "DescribeHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobArn",
          "HyperParameterTuningJobConfig",
          "HyperParameterTuningJobStatus",
          "CreationTime",
          "TrainingJobStatusCounters",
          "ObjectiveStatusCounters"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobArn": {},
          "HyperParameterTuningJobConfig": {
            "shape": "S9r"
          },
          "TrainingJobDefinition": {
            "shape": "Sa8"
          },
          "TrainingJobDefinitions": {
            "shape": "Sae"
          },
          "HyperParameterTuningJobStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "HyperParameterTuningEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "TrainingJobStatusCounters": {
            "shape": "Sn5"
          },
          "ObjectiveStatusCounters": {
            "shape": "Sn7"
          },
          "BestTrainingJob": {
            "shape": "Sn9"
          },
          "OverallBestTrainingJob": {
            "shape": "Sn9"
          },
          "WarmStartConfig": {
            "shape": "Saf"
          },
          "FailureReason": {}
        }
      }
    },
    "DescribeImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CreationTime": {
            "type": "timestamp"
          },
          "Description": {},
          "DisplayName": {},
          "FailureReason": {},
          "ImageArn": {},
          "ImageName": {},
          "ImageStatus": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "RoleArn": {}
        }
      }
    },
    "DescribeImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {},
          "Version": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaseImage": {},
          "ContainerImage": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ImageArn": {},
          "ImageVersionArn": {},
          "ImageVersionStatus": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "Version": {
            "type": "integer"
          }
        }
      }
    },
    "DescribeLabelingJob": {
      "input": {
        "type": "structure",
        "required": [
          "LabelingJobName"
        ],
        "members": {
          "LabelingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobStatus",
          "LabelCounters",
          "CreationTime",
          "LastModifiedTime",
          "JobReferenceCode",
          "LabelingJobName",
          "LabelingJobArn",
          "InputConfig",
          "OutputConfig",
          "RoleArn",
          "HumanTaskConfig"
        ],
        "members": {
          "LabelingJobStatus": {},
          "LabelCounters": {
            "shape": "Snm"
          },
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "JobReferenceCode": {},
          "LabelingJobName": {},
          "LabelingJobArn": {},
          "LabelAttributeName": {},
          "InputConfig": {
            "shape": "Saw"
          },
          "OutputConfig": {
            "shape": "Sb4"
          },
          "RoleArn": {},
          "LabelCategoryConfigS3Uri": {},
          "StoppingConditions": {
            "shape": "Sb5"
          },
          "LabelingJobAlgorithmsConfig": {
            "shape": "Sb8"
          },
          "HumanTaskConfig": {
            "shape": "Sbc"
          },
          "Tags": {
            "shape": "S7"
          },
          "LabelingJobOutput": {
            "shape": "Snp"
          }
        }
      }
    },
    "DescribeModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelName",
          "ExecutionRoleArn",
          "CreationTime",
          "ModelArn"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "Sbr"
          },
          "Containers": {
            "shape": "Sc1"
          },
          "ExecutionRoleArn": {},
          "VpcConfig": {
            "shape": "S4x"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelArn": {},
          "EnableNetworkIsolation": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeModelBiasJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn",
          "JobDefinitionName",
          "CreationTime",
          "ModelBiasAppSpecification",
          "ModelBiasJobInput",
          "ModelBiasJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionArn": {},
          "JobDefinitionName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelBiasBaselineConfig": {
            "shape": "Sc4"
          },
          "ModelBiasAppSpecification": {
            "shape": "Sc5"
          },
          "ModelBiasJobInput": {
            "shape": "Sc6"
          },
          "ModelBiasJobOutputConfig": {
            "shape": "S6h"
          },
          "JobResources": {
            "shape": "S6n"
          },
          "NetworkConfig": {
            "shape": "S6s"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S6t"
          }
        }
      }
    },
    "DescribeModelExplainabilityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn",
          "JobDefinitionName",
          "CreationTime",
          "ModelExplainabilityAppSpecification",
          "ModelExplainabilityJobInput",
          "ModelExplainabilityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionArn": {},
          "JobDefinitionName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelExplainabilityBaselineConfig": {
            "shape": "Sca"
          },
          "ModelExplainabilityAppSpecification": {
            "shape": "Scb"
          },
          "ModelExplainabilityJobInput": {
            "shape": "Scc"
          },
          "ModelExplainabilityJobOutputConfig": {
            "shape": "S6h"
          },
          "JobResources": {
            "shape": "S6n"
          },
          "NetworkConfig": {
            "shape": "S6s"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S6t"
          }
        }
      }
    },
    "DescribeModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageName"
        ],
        "members": {
          "ModelPackageName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageName",
          "ModelPackageArn",
          "CreationTime",
          "ModelPackageStatus",
          "ModelPackageStatusDetails"
        ],
        "members": {
          "ModelPackageName": {},
          "ModelPackageGroupName": {},
          "ModelPackageVersion": {
            "type": "integer"
          },
          "ModelPackageArn": {},
          "ModelPackageDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "InferenceSpecification": {
            "shape": "S1t"
          },
          "SourceAlgorithmSpecification": {
            "shape": "Sci"
          },
          "ValidationSpecification": {
            "shape": "Scf"
          },
          "ModelPackageStatus": {},
          "ModelPackageStatusDetails": {
            "shape": "So0"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          },
          "ModelApprovalStatus": {},
          "CreatedBy": {
            "shape": "Sjr"
          },
          "MetadataProperties": {
            "shape": "Sp"
          },
          "ModelMetrics": {
            "shape": "Scm"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sjr"
          },
          "ApprovalDescription": {}
        }
      }
    },
    "DescribeModelPackageGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName",
          "ModelPackageGroupArn",
          "CreationTime",
          "CreatedBy",
          "ModelPackageGroupStatus"
        ],
        "members": {
          "ModelPackageGroupName": {},
          "ModelPackageGroupArn": {},
          "ModelPackageGroupDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sjr"
          },
          "ModelPackageGroupStatus": {}
        }
      }
    },
    "DescribeModelQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn",
          "JobDefinitionName",
          "CreationTime",
          "ModelQualityAppSpecification",
          "ModelQualityJobInput",
          "ModelQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionArn": {},
          "JobDefinitionName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelQualityBaselineConfig": {
            "shape": "Scz"
          },
          "ModelQualityAppSpecification": {
            "shape": "Sd0"
          },
          "ModelQualityJobInput": {
            "shape": "Sd2"
          },
          "ModelQualityJobOutputConfig": {
            "shape": "S6h"
          },
          "JobResources": {
            "shape": "S6n"
          },
          "NetworkConfig": {
            "shape": "S6s"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S6t"
          }
        }
      }
    },
    "DescribeMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName"
        ],
        "members": {
          "MonitoringScheduleName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringScheduleArn",
          "MonitoringScheduleName",
          "MonitoringScheduleStatus",
          "CreationTime",
          "LastModifiedTime",
          "MonitoringScheduleConfig"
        ],
        "members": {
          "MonitoringScheduleArn": {},
          "MonitoringScheduleName": {},
          "MonitoringScheduleStatus": {},
          "MonitoringType": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "MonitoringScheduleConfig": {
            "shape": "Sd6"
          },
          "EndpointName": {},
          "LastMonitoringExecutionSummary": {
            "shape": "Sod"
          }
        }
      }
    },
    "DescribeNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {},
          "NotebookInstanceName": {},
          "NotebookInstanceStatus": {},
          "FailureReason": {},
          "Url": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroups": {
            "shape": "S74"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "NetworkInterfaceId": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "NotebookInstanceLifecycleConfigName": {},
          "DirectInternetAccess": {},
          "VolumeSizeInGB": {
            "type": "integer"
          },
          "AcceleratorTypes": {
            "shape": "Sdo"
          },
          "DefaultCodeRepository": {},
          "AdditionalCodeRepositories": {
            "shape": "Sdr"
          },
          "RootAccess": {}
        }
      }
    },
    "DescribeNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {},
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "Sdw"
          },
          "OnStart": {
            "shape": "Sdw"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineName"
        ],
        "members": {
          "PipelineName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineArn": {},
          "PipelineName": {},
          "PipelineDisplayName": {},
          "PipelineDefinition": {},
          "PipelineDescription": {},
          "RoleArn": {},
          "PipelineStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastRunTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sjr"
          },
          "LastModifiedBy": {
            "shape": "Sjr"
          }
        }
      }
    },
    "DescribePipelineDefinitionForExecution": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineExecutionArn"
        ],
        "members": {
          "PipelineExecutionArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineDefinition": {},
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribePipelineExecution": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineExecutionArn"
        ],
        "members": {
          "PipelineExecutionArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineArn": {},
          "PipelineExecutionArn": {},
          "PipelineExecutionDisplayName": {},
          "PipelineExecutionStatus": {},
          "PipelineExecutionDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sjr"
          },
          "LastModifiedBy": {
            "shape": "Sjr"
          }
        }
      }
    },
    "DescribeProcessingJob": {
      "input": {
        "type": "structure",
        "required": [
          "ProcessingJobName"
        ],
        "members": {
          "ProcessingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessingJobName",
          "ProcessingResources",
          "AppSpecification",
          "ProcessingJobArn",
          "ProcessingJobStatus",
          "CreationTime"
        ],
        "members": {
          "ProcessingInputs": {
            "shape": "Seg"
          },
          "ProcessingOutputConfig": {
            "shape": "Sf3"
          },
          "ProcessingJobName": {},
          "ProcessingResources": {
            "shape": "Sf8"
          },
          "StoppingCondition": {
            "shape": "Sfa"
          },
          "AppSpecification": {
            "shape": "Sfc"
          },
          "Environment": {
            "shape": "Sfe"
          },
          "NetworkConfig": {
            "shape": "Sde"
          },
          "RoleArn": {},
          "ExperimentConfig": {
            "shape": "Sff"
          },
          "ProcessingJobArn": {},
          "ProcessingJobStatus": {},
          "ExitMessage": {},
          "FailureReason": {},
          "ProcessingEndTime": {
            "type": "timestamp"
          },
          "ProcessingStartTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "MonitoringScheduleArn": {},
          "AutoMLJobArn": {},
          "TrainingJobArn": {}
        }
      }
    },
    "DescribeProject": {
      "input": {
        "type": "structure",
        "required": [
          "ProjectName"
        ],
        "members": {
          "ProjectName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProjectArn",
          "ProjectName",
          "ProjectId",
          "ServiceCatalogProvisioningDetails",
          "ProjectStatus",
          "CreationTime"
        ],
        "members": {
          "ProjectArn": {},
          "ProjectName": {},
          "ProjectId": {},
          "ProjectDescription": {},
          "ServiceCatalogProvisioningDetails": {
            "shape": "Sfk"
          },
          "ServiceCatalogProvisionedProductDetails": {
            "type": "structure",
            "members": {
              "ProvisionedProductId": {},
              "ProvisionedProductStatusMessage": {}
            }
          },
          "ProjectStatus": {},
          "CreatedBy": {
            "shape": "Sjr"
          },
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeSubscribedWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamArn"
        ],
        "members": {
          "WorkteamArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "SubscribedWorkteam"
        ],
        "members": {
          "SubscribedWorkteam": {
            "shape": "Sp7"
          }
        }
      }
    },
    "DescribeTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName"
        ],
        "members": {
          "TrainingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "TrainingJobArn",
          "ModelArtifacts",
          "TrainingJobStatus",
          "SecondaryStatus",
          "AlgorithmSpecification",
          "ResourceConfig",
          "StoppingCondition",
          "CreationTime"
        ],
        "members": {
          "TrainingJobName": {},
          "TrainingJobArn": {},
          "TuningJobArn": {},
          "LabelingJobArn": {},
          "AutoMLJobArn": {},
          "ModelArtifacts": {
            "shape": "Sl1"
          },
          "TrainingJobStatus": {},
          "SecondaryStatus": {},
          "FailureReason": {},
          "HyperParameters": {
            "shape": "S2a"
          },
          "AlgorithmSpecification": {
            "shape": "Sfv"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S2c"
          },
          "OutputDataConfig": {
            "shape": "S2t"
          },
          "ResourceConfig": {
            "shape": "S2v"
          },
          "VpcConfig": {
            "shape": "S4x"
          },
          "StoppingCondition": {
            "shape": "S2y"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "TrainingStartTime": {
            "type": "timestamp"
          },
          "TrainingEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "SecondaryStatusTransitions": {
            "shape": "Spb"
          },
          "FinalMetricDataList": {
            "shape": "Spe"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          },
          "EnableInterContainerTrafficEncryption": {
            "type": "boolean"
          },
          "EnableManagedSpotTraining": {
            "type": "boolean"
          },
          "CheckpointConfig": {
            "shape": "Sad"
          },
          "TrainingTimeInSeconds": {
            "type": "integer"
          },
          "BillableTimeInSeconds": {
            "type": "integer"
          },
          "DebugHookConfig": {
            "shape": "Sfw"
          },
          "ExperimentConfig": {
            "shape": "Sff"
          },
          "DebugRuleConfigurations": {
            "shape": "Sg4"
          },
          "TensorBoardOutputConfig": {
            "shape": "Sg9"
          },
          "DebugRuleEvaluationStatuses": {
            "shape": "Spj"
          },
          "ProfilerConfig": {
            "shape": "Sga"
          },
          "ProfilerRuleConfigurations": {
            "shape": "Sgd"
          },
          "ProfilerRuleEvaluationStatuses": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "RuleConfigurationName": {},
                "RuleEvaluationJobArn": {},
                "RuleEvaluationStatus": {},
                "StatusDetails": {},
                "LastModifiedTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "ProfilingStatus": {}
        }
      }
    },
    "DescribeTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName"
        ],
        "members": {
          "TransformJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "TransformJobArn",
          "TransformJobStatus",
          "ModelName",
          "TransformInput",
          "TransformResources",
          "CreationTime"
        ],
        "members": {
          "TransformJobName": {},
          "TransformJobArn": {},
          "TransformJobStatus": {},
          "FailureReason": {},
          "ModelName": {},
          "MaxConcurrentTransforms": {
            "type": "integer"
          },
          "ModelClientConfig": {
            "shape": "Sgj"
          },
          "MaxPayloadInMB": {
            "type": "integer"
          },
          "BatchStrategy": {},
          "Environment": {
            "shape": "S35"
          },
          "TransformInput": {
            "shape": "S38"
          },
          "TransformOutput": {
            "shape": "S3c"
          },
          "TransformResources": {
            "shape": "S3f"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "TransformStartTime": {
            "type": "timestamp"
          },
          "TransformEndTime": {
            "type": "timestamp"
          },
          "LabelingJobArn": {},
          "AutoMLJobArn": {},
          "DataProcessing": {
            "shape": "Sgm"
          },
          "ExperimentConfig": {
            "shape": "Sff"
          }
        }
      }
    },
    "DescribeTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName"
        ],
        "members": {
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialName": {},
          "TrialArn": {},
          "DisplayName": {},
          "ExperimentName": {},
          "Source": {
            "shape": "Spv"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sjr"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sjr"
          },
          "MetadataProperties": {
            "shape": "Sp"
          }
        }
      }
    },
    "DescribeTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentName": {},
          "TrialComponentArn": {},
          "DisplayName": {},
          "Source": {
            "shape": "Spz"
          },
          "Status": {
            "shape": "Sgu"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sjr"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sjr"
          },
          "Parameters": {
            "shape": "Sgy"
          },
          "InputArtifacts": {
            "shape": "Sh2"
          },
          "OutputArtifacts": {
            "shape": "Sh2"
          },
          "MetadataProperties": {
            "shape": "Sp"
          },
          "Metrics": {
            "shape": "Sq1"
          }
        }
      }
    },
    "DescribeUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainId": {},
          "UserProfileArn": {},
          "UserProfileName": {},
          "HomeEfsFileSystemUid": {},
          "Status": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "SingleSignOnUserIdentifier": {},
          "SingleSignOnUserValue": {},
          "UserSettings": {
            "shape": "S73"
          }
        }
      }
    },
    "DescribeWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "WorkforceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Workforce"
        ],
        "members": {
          "Workforce": {
            "shape": "Sqb"
          }
        }
      }
    },
    "DescribeWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName"
        ],
        "members": {
          "WorkteamName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Workteam"
        ],
        "members": {
          "Workteam": {
            "shape": "Sqf"
          }
        }
      }
    },
    "DisableSagemakerServicecatalogPortfolio": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DisassociateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName",
          "TrialName"
        ],
        "members": {
          "TrialComponentName": {},
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {},
          "TrialArn": {}
        }
      }
    },
    "EnableSagemakerServicecatalogPortfolio": {
      "input": {
        "type": "structure",
        "members": {}
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "GetDeviceFleetReport": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName"
        ],
        "members": {
          "DeviceFleetName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeviceFleetArn",
          "DeviceFleetName"
        ],
        "members": {
          "DeviceFleetArn": {},
          "DeviceFleetName": {},
          "OutputConfig": {
            "shape": "S6z"
          },
          "Description": {},
          "ReportGenerated": {
            "type": "timestamp"
          },
          "DeviceStats": {
            "type": "structure",
            "required": [
              "ConnectedDeviceCount",
              "RegisteredDeviceCount"
            ],
            "members": {
              "ConnectedDeviceCount": {
                "type": "long"
              },
              "RegisteredDeviceCount": {
                "type": "long"
              }
            }
          },
          "AgentVersions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Version",
                "AgentCount"
              ],
              "members": {
                "Version": {},
                "AgentCount": {
                  "type": "long"
                }
              }
            }
          },
          "ModelStats": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelName",
                "ModelVersion",
                "OfflineDeviceCount",
                "ConnectedDeviceCount",
                "ActiveDeviceCount",
                "SamplingDeviceCount"
              ],
              "members": {
                "ModelName": {},
                "ModelVersion": {},
                "OfflineDeviceCount": {
                  "type": "long"
                },
                "ConnectedDeviceCount": {
                  "type": "long"
                },
                "ActiveDeviceCount": {
                  "type": "long"
                },
                "SamplingDeviceCount": {
                  "type": "long"
                }
              }
            }
          }
        }
      }
    },
    "GetModelPackageGroupPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
[...]
