{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-24",
    "endpointPrefix": "api.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SageMaker",
    "serviceFullName": "Amazon SageMaker Service",
    "serviceId": "SageMaker",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "targetPrefix": "SageMaker",
    "uid": "sagemaker-2017-07-24"
  },
  "operations": {
    "AddTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3"
          }
        }
      }
    },
    "AssociateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName",
          "TrialName"
        ],
        "members": {
          "TrialComponentName": {},
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {},
          "TrialArn": {}
        }
      }
    },
    "CreateAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName",
          "TrainingSpecification"
        ],
        "members": {
          "AlgorithmName": {},
          "AlgorithmDescription": {},
          "TrainingSpecification": {
            "shape": "Sg"
          },
          "InferenceSpecification": {
            "shape": "S1d"
          },
          "ValidationSpecification": {
            "shape": "S1p"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmArn"
        ],
        "members": {
          "AlgorithmArn": {}
        }
      }
    },
    "CreateApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {},
          "Tags": {
            "shape": "S3"
          },
          "ResourceSpec": {
            "shape": "S39"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppArn": {}
        }
      }
    },
    "CreateAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {},
          "Tags": {
            "shape": "S3"
          },
          "KernelGatewayImageConfig": {
            "shape": "S3h"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppImageConfigArn": {}
        }
      }
    },
    "CreateAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "InputDataConfig",
          "OutputDataConfig",
          "RoleArn"
        ],
        "members": {
          "AutoMLJobName": {},
          "InputDataConfig": {
            "shape": "S3u"
          },
          "OutputDataConfig": {
            "shape": "S40"
          },
          "ProblemType": {},
          "AutoMLJobObjective": {
            "shape": "S42"
          },
          "AutoMLJobConfig": {
            "shape": "S44"
          },
          "RoleArn": {},
          "GenerateCandidateDefinitionsOnly": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobArn"
        ],
        "members": {
          "AutoMLJobArn": {}
        }
      }
    },
    "CreateCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName",
          "GitConfig"
        ],
        "members": {
          "CodeRepositoryName": {},
          "GitConfig": {
            "shape": "S4j"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositoryArn"
        ],
        "members": {
          "CodeRepositoryArn": {}
        }
      }
    },
    "CreateCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName",
          "RoleArn",
          "InputConfig",
          "OutputConfig",
          "StoppingCondition"
        ],
        "members": {
          "CompilationJobName": {},
          "RoleArn": {},
          "InputConfig": {
            "shape": "S4q"
          },
          "OutputConfig": {
            "shape": "S4t"
          },
          "StoppingCondition": {
            "shape": "S2i"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobArn"
        ],
        "members": {
          "CompilationJobArn": {}
        }
      }
    },
    "CreateDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AuthMode",
          "DefaultUserSettings",
          "SubnetIds",
          "VpcId"
        ],
        "members": {
          "DomainName": {},
          "AuthMode": {},
          "DefaultUserSettings": {
            "shape": "S55"
          },
          "SubnetIds": {
            "shape": "S4d"
          },
          "VpcId": {},
          "Tags": {
            "shape": "S3"
          },
          "AppNetworkAccessType": {},
          "HomeEfsFileSystemKmsKeyId": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use KmsKeyId instead."
          },
          "KmsKeyId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainArn": {},
          "Url": {}
        }
      }
    },
    "CreateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointConfigName"
        ],
        "members": {
          "EndpointName": {},
          "EndpointConfigName": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      }
    },
    "CreateEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "ProductionVariants"
        ],
        "members": {
          "EndpointConfigName": {},
          "ProductionVariants": {
            "shape": "S5r"
          },
          "DataCaptureConfig": {
            "shape": "S5y"
          },
          "Tags": {
            "shape": "S3"
          },
          "KmsKeyId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigArn"
        ],
        "members": {
          "EndpointConfigArn": {}
        }
      }
    },
    "CreateExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {},
          "DisplayName": {},
          "Description": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentArn": {}
        }
      }
    },
    "CreateFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName",
          "HumanLoopConfig",
          "OutputConfig",
          "RoleArn"
        ],
        "members": {
          "FlowDefinitionName": {},
          "HumanLoopRequestSource": {
            "shape": "S6i"
          },
          "HumanLoopActivationConfig": {
            "shape": "S6k"
          },
          "HumanLoopConfig": {
            "shape": "S6n"
          },
          "OutputConfig": {
            "shape": "S72"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionArn"
        ],
        "members": {
          "FlowDefinitionArn": {}
        }
      }
    },
    "CreateHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName",
          "UiTemplate"
        ],
        "members": {
          "HumanTaskUiName": {},
          "UiTemplate": {
            "shape": "S77"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiArn"
        ],
        "members": {
          "HumanTaskUiArn": {}
        }
      }
    },
    "CreateHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobConfig"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobConfig": {
            "shape": "S7c"
          },
          "TrainingJobDefinition": {
            "shape": "S7t"
          },
          "TrainingJobDefinitions": {
            "shape": "S7z"
          },
          "WarmStartConfig": {
            "shape": "S80"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobArn"
        ],
        "members": {
          "HyperParameterTuningJobArn": {}
        }
      }
    },
    "CreateImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName",
          "RoleArn"
        ],
        "members": {
          "Description": {},
          "DisplayName": {},
          "ImageName": {},
          "RoleArn": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageArn": {}
        }
      }
    },
    "CreateImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "BaseImage",
          "ClientToken",
          "ImageName"
        ],
        "members": {
          "BaseImage": {},
          "ClientToken": {
            "idempotencyToken": true
          },
          "ImageName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageVersionArn": {}
        }
      }
    },
    "CreateLabelingJob": {
      "input": {
        "type": "structure",
        "required": [
          "LabelingJobName",
          "LabelAttributeName",
          "InputConfig",
          "OutputConfig",
          "RoleArn",
          "HumanTaskConfig"
        ],
        "members": {
          "LabelingJobName": {},
          "LabelAttributeName": {},
          "InputConfig": {
            "shape": "S8h"
          },
          "OutputConfig": {
            "shape": "S8p"
          },
          "RoleArn": {},
          "LabelCategoryConfigS3Uri": {},
          "StoppingConditions": {
            "shape": "S8q"
          },
          "LabelingJobAlgorithmsConfig": {
            "shape": "S8t"
          },
          "HumanTaskConfig": {
            "shape": "S8x"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobArn"
        ],
        "members": {
          "LabelingJobArn": {}
        }
      }
    },
    "CreateModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName",
          "ExecutionRoleArn"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "S9c"
          },
          "Containers": {
            "shape": "S9k"
          },
          "ExecutionRoleArn": {},
          "Tags": {
            "shape": "S3"
          },
          "VpcConfig": {
            "shape": "S4a"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelArn"
        ],
        "members": {
          "ModelArn": {}
        }
      }
    },
    "CreateModelPackage": {
      "input": {
        "type": "structure",
        "members": {
          "ModelPackageName": {},
          "ModelPackageDescription": {},
          "InferenceSpecification": {
            "shape": "S1d"
          },
          "ValidationSpecification": {
            "shape": "S9n"
          },
          "SourceAlgorithmSpecification": {
            "shape": "S9q"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageArn"
        ],
        "members": {
          "ModelPackageArn": {}
        }
      }
    },
    "CreateMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName",
          "MonitoringScheduleConfig"
        ],
        "members": {
          "MonitoringScheduleName": {},
          "MonitoringScheduleConfig": {
            "shape": "S9x"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringScheduleArn"
        ],
        "members": {
          "MonitoringScheduleArn": {}
        }
      }
    },
    "CreateNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName",
          "InstanceType",
          "RoleArn"
        ],
        "members": {
          "NotebookInstanceName": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroupIds": {
            "shape": "S56"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "Tags": {
            "shape": "S3"
          },
          "LifecycleConfigName": {},
          "DirectInternetAccess": {},
          "VolumeSizeInGB": {
            "type": "integer"
          },
          "AcceleratorTypes": {
            "shape": "Sb5"
          },
          "DefaultCodeRepository": {},
          "AdditionalCodeRepositories": {
            "shape": "Sb8"
          },
          "RootAccess": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {}
        }
      }
    },
    "CreateNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "Sbd"
          },
          "OnStart": {
            "shape": "Sbd"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {}
        }
      }
    },
    "CreatePresignedDomainUrl": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreatePresignedNotebookInstanceUrl": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreateProcessingJob": {
      "input": {
        "type": "structure",
        "required": [
          "ProcessingJobName",
          "ProcessingResources",
          "AppSpecification",
          "RoleArn"
        ],
        "members": {
          "ProcessingInputs": {
            "shape": "Sbq"
          },
          "ProcessingOutputConfig": {
            "shape": "Sbw"
          },
          "ProcessingJobName": {},
          "ProcessingResources": {
            "shape": "Sc1"
          },
          "StoppingCondition": {
            "shape": "Sc3"
          },
          "AppSpecification": {
            "shape": "Sc5"
          },
          "Environment": {
            "shape": "Sc7"
          },
          "NetworkConfig": {
            "shape": "Saw"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S3"
          },
          "ExperimentConfig": {
            "shape": "Sc8"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessingJobArn"
        ],
        "members": {
          "ProcessingJobArn": {}
        }
      }
    },
    "CreateTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "AlgorithmSpecification",
          "RoleArn",
          "OutputDataConfig",
          "ResourceConfig",
          "StoppingCondition"
        ],
        "members": {
          "TrainingJobName": {},
          "HyperParameters": {
            "shape": "S1u"
          },
          "AlgorithmSpecification": {
            "shape": "Scd"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S1w"
          },
          "OutputDataConfig": {
            "shape": "S2d"
          },
          "ResourceConfig": {
            "shape": "S2f"
          },
          "VpcConfig": {
            "shape": "S4a"
          },
          "StoppingCondition": {
            "shape": "S2i"
          },
          "Tags": {
            "shape": "S3"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          },
          "EnableInterContainerTrafficEncryption": {
            "type": "boolean"
          },
          "EnableManagedSpotTraining": {
            "type": "boolean"
          },
          "CheckpointConfig": {
            "shape": "S7y"
          },
          "DebugHookConfig": {
            "shape": "Sce"
          },
          "DebugRuleConfigurations": {
            "shape": "Scm"
          },
          "TensorBoardOutputConfig": {
            "shape": "Scr"
          },
          "ExperimentConfig": {
            "shape": "Sc8"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobArn"
        ],
        "members": {
          "TrainingJobArn": {}
        }
      }
    },
    "CreateTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "ModelName",
          "TransformInput",
          "TransformOutput",
          "TransformResources"
        ],
        "members": {
          "TransformJobName": {},
          "ModelName": {},
          "MaxConcurrentTransforms": {
            "type": "integer"
          },
          "ModelClientConfig": {
            "shape": "Scw"
          },
          "MaxPayloadInMB": {
            "type": "integer"
          },
          "BatchStrategy": {},
          "Environment": {
            "shape": "S2p"
          },
          "TransformInput": {
            "shape": "S2s"
          },
          "TransformOutput": {
            "shape": "S2w"
          },
          "TransformResources": {
            "shape": "S2z"
          },
          "DataProcessing": {
            "shape": "Scz"
          },
          "Tags": {
            "shape": "S3"
          },
          "ExperimentConfig": {
            "shape": "Sc8"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobArn"
        ],
        "members": {
          "TransformJobArn": {}
        }
      }
    },
    "CreateTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName",
          "ExperimentName"
        ],
        "members": {
          "TrialName": {},
          "DisplayName": {},
          "ExperimentName": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "CreateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {},
          "DisplayName": {},
          "Status": {
            "shape": "Sd7"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "Parameters": {
            "shape": "Sdb"
          },
          "InputArtifacts": {
            "shape": "Sdg"
          },
          "OutputArtifacts": {
            "shape": "Sdg"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {}
        }
      }
    },
    "CreateUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SingleSignOnUserIdentifier": {},
          "SingleSignOnUserValue": {},
          "Tags": {
            "shape": "S3"
          },
          "UserSettings": {
            "shape": "S55"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserProfileArn": {}
        }
      }
    },
    "CreateWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "CognitoConfig": {
            "shape": "Sds"
          },
          "OidcConfig": {
            "shape": "Sdv"
          },
          "SourceIpConfig": {
            "shape": "Sdy"
          },
          "WorkforceName": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "WorkforceArn"
        ],
        "members": {
          "WorkforceArn": {}
        }
      }
    },
    "CreateWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName",
          "MemberDefinitions",
          "Description"
        ],
        "members": {
          "WorkteamName": {},
          "WorkforceName": {},
          "MemberDefinitions": {
            "shape": "Se6"
          },
          "Description": {},
          "NotificationConfiguration": {
            "shape": "See"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WorkteamArn": {}
        }
      }
    },
    "DeleteAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName"
        ],
        "members": {
          "AlgorithmName": {}
        }
      }
    },
    "DeleteApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {}
        }
      }
    },
    "DeleteAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {}
        }
      }
    },
    "DeleteCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName"
        ],
        "members": {
          "CodeRepositoryName": {}
        }
      }
    },
    "DeleteDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId"
        ],
        "members": {
          "DomainId": {},
          "RetentionPolicy": {
            "type": "structure",
            "members": {
              "HomeEfsFileSystem": {}
            }
          }
        }
      }
    },
    "DeleteEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      }
    },
    "DeleteEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      }
    },
    "DeleteExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentArn": {}
        }
      }
    },
    "DeleteFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName"
        ],
        "members": {
          "FlowDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName"
        ],
        "members": {
          "HumanTaskUiName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName",
          "Version"
        ],
        "members": {
          "ImageName": {},
          "Version": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      }
    },
    "DeleteModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageName"
        ],
        "members": {
          "ModelPackageName": {}
        }
      }
    },
    "DeleteMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName"
        ],
        "members": {
          "MonitoringScheduleName": {}
        }
      }
    },
    "DeleteNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      }
    },
    "DeleteNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {}
        }
      }
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName"
        ],
        "members": {
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "DeleteTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {}
        }
      }
    },
    "DeleteUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {}
        }
      }
    },
    "DeleteWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "WorkforceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName"
        ],
        "members": {
          "WorkteamName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Success"
        ],
        "members": {
          "Success": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName"
        ],
        "members": {
          "AlgorithmName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmName",
          "AlgorithmArn",
          "CreationTime",
          "TrainingSpecification",
          "AlgorithmStatus",
          "AlgorithmStatusDetails"
        ],
        "members": {
          "AlgorithmName": {},
          "AlgorithmArn": {},
          "AlgorithmDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "TrainingSpecification": {
            "shape": "Sg"
          },
          "InferenceSpecification": {
            "shape": "S1d"
          },
          "ValidationSpecification": {
            "shape": "S1p"
          },
          "AlgorithmStatus": {},
          "AlgorithmStatusDetails": {
            "type": "structure",
            "members": {
              "ValidationStatuses": {
                "shape": "Sfn"
              },
              "ImageScanStatuses": {
                "shape": "Sfn"
              }
            }
          },
          "ProductId": {},
          "CertifyForMarketplace": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppArn": {},
          "AppType": {},
          "AppName": {},
          "DomainId": {},
          "UserProfileName": {},
          "Status": {},
          "LastHealthCheckTimestamp": {
            "type": "timestamp"
          },
          "LastUserActivityTimestamp": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ResourceSpec": {
            "shape": "S39"
          }
        }
      }
    },
    "DescribeAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppImageConfigArn": {},
          "AppImageConfigName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "KernelGatewayImageConfig": {
            "shape": "S3h"
          }
        }
      }
    },
    "DescribeAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName"
        ],
        "members": {
          "AutoMLJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "AutoMLJobArn",
          "InputDataConfig",
          "OutputDataConfig",
          "RoleArn",
          "CreationTime",
          "LastModifiedTime",
          "AutoMLJobStatus",
          "AutoMLJobSecondaryStatus"
        ],
        "members": {
          "AutoMLJobName": {},
          "AutoMLJobArn": {},
          "InputDataConfig": {
            "shape": "S3u"
          },
          "OutputDataConfig": {
            "shape": "S40"
          },
          "RoleArn": {},
          "AutoMLJobObjective": {
            "shape": "S42"
          },
          "ProblemType": {},
          "AutoMLJobConfig": {
            "shape": "S44"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "BestCandidate": {
            "shape": "Sfz"
          },
          "AutoMLJobStatus": {},
          "AutoMLJobSecondaryStatus": {},
          "GenerateCandidateDefinitionsOnly": {
            "type": "boolean"
          },
          "AutoMLJobArtifacts": {
            "type": "structure",
            "members": {
              "CandidateDefinitionNotebookLocation": {},
              "DataExplorationNotebookLocation": {}
            }
          },
          "ResolvedAttributes": {
            "type": "structure",
            "members": {
              "AutoMLJobObjective": {
                "shape": "S42"
              },
              "ProblemType": {},
              "CompletionCriteria": {
                "shape": "S45"
              }
            }
          }
        }
      }
    },
    "DescribeCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName"
        ],
        "members": {
          "CodeRepositoryName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositoryName",
          "CodeRepositoryArn",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "CodeRepositoryName": {},
          "CodeRepositoryArn": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "GitConfig": {
            "shape": "S4j"
          }
        }
      }
    },
    "DescribeCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName"
        ],
        "members": {
          "CompilationJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobName",
          "CompilationJobArn",
          "CompilationJobStatus",
          "StoppingCondition",
          "CreationTime",
          "LastModifiedTime",
          "FailureReason",
          "ModelArtifacts",
          "RoleArn",
          "InputConfig",
          "OutputConfig"
        ],
        "members": {
          "CompilationJobName": {},
          "CompilationJobArn": {},
          "CompilationJobStatus": {},
          "CompilationStartTime": {
            "type": "timestamp"
          },
          "CompilationEndTime": {
            "type": "timestamp"
          },
          "StoppingCondition": {
            "shape": "S2i"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ModelArtifacts": {
            "shape": "Sgp"
          },
          "RoleArn": {},
          "InputConfig": {
            "shape": "S4q"
          },
          "OutputConfig": {
            "shape": "S4t"
          }
        }
      }
    },
    "DescribeDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId"
        ],
        "members": {
          "DomainId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainArn": {},
          "DomainId": {},
          "DomainName": {},
          "HomeEfsFileSystemId": {},
          "SingleSignOnManagedApplicationInstanceId": {},
          "Status": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "AuthMode": {},
          "DefaultUserSettings": {
            "shape": "S55"
          },
          "AppNetworkAccessType": {},
          "HomeEfsFileSystemKmsKeyId": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use KmsKeyId instead."
          },
          "SubnetIds": {
            "shape": "S4d"
          },
          "Url": {},
          "VpcId": {},
          "KmsKeyId": {}
        }
      }
    },
    "DescribeEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointArn",
          "EndpointConfigName",
          "EndpointStatus",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "EndpointName": {},
          "EndpointArn": {},
          "EndpointConfigName": {},
          "ProductionVariants": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "VariantName"
              ],
              "members": {
                "VariantName": {},
                "DeployedImages": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "SpecifiedImage": {},
                      "ResolvedImage": {},
                      "ResolutionTime": {
                        "type": "timestamp"
                      }
                    }
                  }
                },
                "CurrentWeight": {
                  "type": "float"
                },
                "DesiredWeight": {
                  "type": "float"
                },
                "CurrentInstanceCount": {
                  "type": "integer"
                },
                "DesiredInstanceCount": {
                  "type": "integer"
                }
              }
            }
          },
          "DataCaptureConfig": {
            "type": "structure",
            "required": [
              "EnableCapture",
              "CaptureStatus",
              "CurrentSamplingPercentage",
              "DestinationS3Uri",
              "KmsKeyId"
            ],
            "members": {
              "EnableCapture": {
                "type": "boolean"
              },
              "CaptureStatus": {},
              "CurrentSamplingPercentage": {
                "type": "integer"
              },
              "DestinationS3Uri": {},
              "KmsKeyId": {}
            }
          },
          "EndpointStatus": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "EndpointConfigArn",
          "ProductionVariants",
          "CreationTime"
        ],
        "members": {
          "EndpointConfigName": {},
          "EndpointConfigArn": {},
          "ProductionVariants": {
            "shape": "S5r"
          },
          "DataCaptureConfig": {
            "shape": "S5y"
          },
          "KmsKeyId": {},
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentName": {},
          "ExperimentArn": {},
          "DisplayName": {},
          "Source": {
            "shape": "Sh7"
          },
          "Description": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sha"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sha"
          }
        }
      }
    },
    "DescribeFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName"
        ],
        "members": {
          "FlowDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionArn",
          "FlowDefinitionName",
          "FlowDefinitionStatus",
          "CreationTime",
          "HumanLoopConfig",
          "OutputConfig",
          "RoleArn"
        ],
        "members": {
          "FlowDefinitionArn": {},
          "FlowDefinitionName": {},
          "FlowDefinitionStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "HumanLoopRequestSource": {
            "shape": "S6i"
          },
          "HumanLoopActivationConfig": {
            "shape": "S6k"
          },
          "HumanLoopConfig": {
            "shape": "S6n"
          },
          "OutputConfig": {
            "shape": "S72"
          },
          "RoleArn": {},
          "FailureReason": {}
        }
      }
    },
    "DescribeHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName"
        ],
        "members": {
          "HumanTaskUiName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiArn",
          "HumanTaskUiName",
          "CreationTime",
          "UiTemplate"
        ],
        "members": {
          "HumanTaskUiArn": {},
          "HumanTaskUiName": {},
          "HumanTaskUiStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "UiTemplate": {
            "type": "structure",
            "members": {
              "Url": {},
              "ContentSha256": {}
            }
          }
        }
      }
    },
    "DescribeHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobArn",
          "HyperParameterTuningJobConfig",
          "HyperParameterTuningJobStatus",
          "CreationTime",
          "TrainingJobStatusCounters",
          "ObjectiveStatusCounters"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobArn": {},
          "HyperParameterTuningJobConfig": {
            "shape": "S7c"
          },
          "TrainingJobDefinition": {
            "shape": "S7t"
          },
          "TrainingJobDefinitions": {
            "shape": "S7z"
          },
          "HyperParameterTuningJobStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "HyperParameterTuningEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "TrainingJobStatusCounters": {
            "shape": "Shn"
          },
          "ObjectiveStatusCounters": {
            "shape": "Shp"
          },
          "BestTrainingJob": {
            "shape": "Shr"
          },
          "OverallBestTrainingJob": {
            "shape": "Shr"
          },
          "WarmStartConfig": {
            "shape": "S80"
          },
          "FailureReason": {}
        }
      }
    },
    "DescribeImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CreationTime": {
            "type": "timestamp"
          },
          "Description": {},
          "DisplayName": {},
          "FailureReason": {},
          "ImageArn": {},
          "ImageName": {},
          "ImageStatus": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "RoleArn": {}
        }
      }
    },
    "DescribeImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {},
          "Version": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaseImage": {},
          "ContainerImage": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ImageArn": {},
          "ImageVersionArn": {},
          "ImageVersionStatus": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "Version": {
            "type": "integer"
          }
        }
      }
    },
    "DescribeLabelingJob": {
      "input": {
        "type": "structure",
        "required": [
          "LabelingJobName"
        ],
        "members": {
          "LabelingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobStatus",
          "LabelCounters",
          "CreationTime",
          "LastModifiedTime",
          "JobReferenceCode",
          "LabelingJobName",
          "LabelingJobArn",
          "InputConfig",
          "OutputConfig",
          "RoleArn",
          "HumanTaskConfig"
        ],
        "members": {
          "LabelingJobStatus": {},
          "LabelCounters": {
            "shape": "Si4"
          },
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "JobReferenceCode": {},
          "LabelingJobName": {},
          "LabelingJobArn": {},
          "LabelAttributeName": {},
          "InputConfig": {
            "shape": "S8h"
          },
          "OutputConfig": {
            "shape": "S8p"
          },
          "RoleArn": {},
          "LabelCategoryConfigS3Uri": {},
          "StoppingConditions": {
            "shape": "S8q"
          },
          "LabelingJobAlgorithmsConfig": {
            "shape": "S8t"
          },
          "HumanTaskConfig": {
            "shape": "S8x"
          },
          "Tags": {
            "shape": "S3"
          },
          "LabelingJobOutput": {
            "shape": "Si7"
          }
        }
      }
    },
    "DescribeModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelName",
          "ExecutionRoleArn",
          "CreationTime",
          "ModelArn"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "S9c"
          },
          "Containers": {
            "shape": "S9k"
          },
          "ExecutionRoleArn": {},
          "VpcConfig": {
            "shape": "S4a"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelArn": {},
          "EnableNetworkIsolation": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageName"
        ],
        "members": {
          "ModelPackageName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageName",
          "ModelPackageArn",
          "CreationTime",
          "ModelPackageStatus",
          "ModelPackageStatusDetails"
        ],
        "members": {
          "ModelPackageName": {},
          "ModelPackageArn": {},
          "ModelPackageDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "InferenceSpecification": {
            "shape": "S1d"
          },
          "SourceAlgorithmSpecification": {
            "shape": "S9q"
          },
          "ValidationSpecification": {
            "shape": "S9n"
          },
          "ModelPackageStatus": {},
          "ModelPackageStatusDetails": {
            "type": "structure",
            "required": [
              "ValidationStatuses"
            ],
            "members": {
              "ValidationStatuses": {
                "shape": "Sie"
              },
              "ImageScanStatuses": {
                "shape": "Sie"
              }
            }
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName"
        ],
        "members": {
          "MonitoringScheduleName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringScheduleArn",
          "MonitoringScheduleName",
          "MonitoringScheduleStatus",
          "CreationTime",
          "LastModifiedTime",
          "MonitoringScheduleConfig"
        ],
        "members": {
          "MonitoringScheduleArn": {},
          "MonitoringScheduleName": {},
          "MonitoringScheduleStatus": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "MonitoringScheduleConfig": {
            "shape": "S9x"
          },
          "EndpointName": {},
          "LastMonitoringExecutionSummary": {
            "shape": "Sik"
          }
        }
      }
    },
    "DescribeNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {},
          "NotebookInstanceName": {},
          "NotebookInstanceStatus": {},
          "FailureReason": {},
          "Url": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroups": {
            "shape": "S56"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "NetworkInterfaceId": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "NotebookInstanceLifecycleConfigName": {},
          "DirectInternetAccess": {},
          "VolumeSizeInGB": {
            "type": "integer"
          },
          "AcceleratorTypes": {
            "shape": "Sb5"
          },
          "DefaultCodeRepository": {},
          "AdditionalCodeRepositories": {
            "shape": "Sb8"
          },
          "RootAccess": {}
        }
      }
    },
    "DescribeNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {},
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "Sbd"
          },
          "OnStart": {
            "shape": "Sbd"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeProcessingJob": {
      "input": {
        "type": "structure",
        "required": [
          "ProcessingJobName"
        ],
        "members": {
          "ProcessingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessingJobName",
          "ProcessingResources",
          "AppSpecification",
          "ProcessingJobArn",
          "ProcessingJobStatus",
          "CreationTime"
        ],
        "members": {
          "ProcessingInputs": {
            "shape": "Sbq"
          },
          "ProcessingOutputConfig": {
            "shape": "Sbw"
          },
          "ProcessingJobName": {},
          "ProcessingResources": {
            "shape": "Sc1"
          },
          "StoppingCondition": {
            "shape": "Sc3"
          },
          "AppSpecification": {
            "shape": "Sc5"
          },
          "Environment": {
            "shape": "Sc7"
          },
          "NetworkConfig": {
            "shape": "Saw"
          },
          "RoleArn": {},
          "ExperimentConfig": {
            "shape": "Sc8"
          },
          "ProcessingJobArn": {},
          "ProcessingJobStatus": {},
          "ExitMessage": {},
          "FailureReason": {},
          "ProcessingEndTime": {
            "type": "timestamp"
          },
          "ProcessingStartTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "MonitoringScheduleArn": {},
          "AutoMLJobArn": {},
          "TrainingJobArn": {}
        }
      }
    },
    "DescribeSubscribedWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamArn"
        ],
        "members": {
          "WorkteamArn": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "SubscribedWorkteam"
        ],
        "members": {
          "SubscribedWorkteam": {
            "shape": "Siy"
          }
        }
      }
    },
    "DescribeTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName"
        ],
        "members": {
          "TrainingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "TrainingJobArn",
          "ModelArtifacts",
          "TrainingJobStatus",
          "SecondaryStatus",
          "AlgorithmSpecification",
          "ResourceConfig",
          "StoppingCondition",
          "CreationTime"
        ],
        "members": {
          "TrainingJobName": {},
          "TrainingJobArn": {},
          "TuningJobArn": {},
          "LabelingJobArn": {},
          "AutoMLJobArn": {},
          "ModelArtifacts": {
            "shape": "Sgp"
          },
          "TrainingJobStatus": {},
          "SecondaryStatus": {},
          "FailureReason": {},
          "HyperParameters": {
            "shape": "S1u"
          },
          "AlgorithmSpecification": {
            "shape": "Scd"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S1w"
          },
          "OutputDataConfig": {
            "shape": "S2d"
          },
          "ResourceConfig": {
            "shape": "S2f"
          },
          "VpcConfig": {
            "shape": "S4a"
          },
          "StoppingCondition": {
            "shape": "S2i"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "TrainingStartTime": {
            "type": "timestamp"
          },
          "TrainingEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "SecondaryStatusTransitions": {
            "shape": "Sj2"
          },
          "FinalMetricDataList": {
            "shape": "Sj5"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          },
          "EnableInterContainerTrafficEncryption": {
            "type": "boolean"
          },
          "EnableManagedSpotTraining": {
            "type": "boolean"
          },
          "CheckpointConfig": {
            "shape": "S7y"
          },
          "TrainingTimeInSeconds": {
            "type": "integer"
          },
          "BillableTimeInSeconds": {
            "type": "integer"
          },
          "DebugHookConfig": {
            "shape": "Sce"
          },
          "ExperimentConfig": {
            "shape": "Sc8"
          },
          "DebugRuleConfigurations": {
            "shape": "Scm"
          },
          "TensorBoardOutputConfig": {
            "shape": "Scr"
          },
          "DebugRuleEvaluationStatuses": {
            "shape": "Sja"
          }
        }
      }
    },
    "DescribeTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName"
        ],
        "members": {
          "TransformJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "TransformJobArn",
          "TransformJobStatus",
          "ModelName",
          "TransformInput",
          "TransformResources",
          "CreationTime"
        ],
        "members": {
          "TransformJobName": {},
          "TransformJobArn": {},
          "TransformJobStatus": {},
          "FailureReason": {},
          "ModelName": {},
          "MaxConcurrentTransforms": {
            "type": "integer"
          },
          "ModelClientConfig": {
            "shape": "Scw"
          },
          "MaxPayloadInMB": {
            "type": "integer"
          },
          "BatchStrategy": {},
          "Environment": {
            "shape": "S2p"
          },
          "TransformInput": {
            "shape": "S2s"
          },
          "TransformOutput": {
            "shape": "S2w"
          },
          "TransformResources": {
            "shape": "S2z"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "TransformStartTime": {
            "type": "timestamp"
          },
          "TransformEndTime": {
            "type": "timestamp"
          },
          "LabelingJobArn": {},
          "AutoMLJobArn": {},
          "DataProcessing": {
            "shape": "Scz"
          },
          "ExperimentConfig": {
            "shape": "Sc8"
          }
        }
      }
    },
    "DescribeTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName"
        ],
        "members": {
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialName": {},
          "TrialArn": {},
          "DisplayName": {},
          "ExperimentName": {},
          "Source": {
            "shape": "Sjj"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sha"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sha"
          }
        }
      }
    },
    "DescribeTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentName": {},
          "TrialComponentArn": {},
          "DisplayName": {},
          "Source": {
            "shape": "Sjn"
          },
          "Status": {
            "shape": "Sd7"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Sha"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Sha"
          },
          "Parameters": {
            "shape": "Sdb"
          },
          "InputArtifacts": {
            "shape": "Sdg"
          },
          "OutputArtifacts": {
            "shape": "Sdg"
          },
          "Metrics": {
            "shape": "Sjp"
          }
        }
      }
    },
    "DescribeUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainId": {},
          "UserProfileArn": {},
          "UserProfileName": {},
          "HomeEfsFileSystemUid": {},
          "Status": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "SingleSignOnUserIdentifier": {},
          "SingleSignOnUserValue": {},
          "UserSettings": {
            "shape": "S55"
          }
        }
      }
    },
    "DescribeWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "WorkforceName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Workforce"
        ],
        "members": {
          "Workforce": {
            "shape": "Sjz"
          }
        }
      }
    },
    "DescribeWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName"
        ],
        "members": {
          "WorkteamName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Workteam"
        ],
        "members": {
          "Workteam": {
            "shape": "Sk3"
          }
        }
      }
    },
    "DisassociateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName",
          "TrialName"
        ],
        "members": {
          "TrialComponentName": {},
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {},
          "TrialArn": {}
        }
      }
    },
    "GetSearchSuggestions": {
      "input": {
        "type": "structure",
        "required": [
          "Resource"
        ],
        "members": {
          "Resource": {},
          "SuggestionQuery": {
            "type": "structure",
            "members": {
              "PropertyNameQuery": {
                "type": "structure",
                "required": [
                  "PropertyNameHint"
                ],
                "members": {
                  "PropertyNameHint": {}
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PropertyNameSuggestions": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "PropertyName": {}
              }
            }
          }
        }
      }
    },
    "ListAlgorithms": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "NextToken": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmSummaryList"
        ],
        "members": {
          "AlgorithmSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AlgorithmName",
                "AlgorithmArn",
                "CreationTime",
                "AlgorithmStatus"
              ],
              "members": {
                "AlgorithmName": {},
                "AlgorithmArn": {},
                "AlgorithmDescription": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "AlgorithmStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListAppImageConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "ModifiedTimeBefore": {
            "type": "timestamp"
          },
          "ModifiedTimeAfter": {
            "type": "timestamp"
          },
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "AppImageConfigs": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "AppImageConfigArn": {},
                "AppImageConfigName": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "KernelGatewayImageConfig": {
                  "shape": "S3h"
                }
              }
            }
          }
        }
      }
    },
    "ListApps": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "SortOrder": {},
          "SortBy": {},
          "DomainIdEquals": {},
          "UserProfileNameEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Apps": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DomainId": {},
                "UserProfileName": {},
                "AppType": {},
                "AppName": {},
                "Status": {},
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListAutoMLJobs": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "NameContains": {},
          "StatusEquals": {},
          "SortOrder": {},
          "SortBy": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobSummaries"
        ],
        "members": {
          "AutoMLJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "AutoMLJobName",
                "AutoMLJobArn",
                "AutoMLJobStatus",
                "AutoMLJobSecondaryStatus",
                "CreationTime",
                "LastModifiedTime"
              ],
              "members": {
                "AutoMLJobName": {},
                "AutoMLJobArn": {},
                "AutoMLJobStatus": {},
                "AutoMLJobSecondaryStatus": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "FailureReason": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCandidatesForAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName"
        ],
        "members": {
          "AutoMLJobName": {},
          "StatusEquals": {},
          "CandidateNameEquals": {},
          "SortOrder": {},
          "SortBy": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Candidates"
        ],
        "members": {
          "Candidates": {
            "type": "list",
            "member": {
              "shape": "Sfz"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCodeRepositories": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "NextToken": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositorySummaryList"
        ],
        "members": {
          "CodeRepositorySummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "CodeRepositoryName",
                "CodeRepositoryArn",
                "CreationTime",
                "LastModifiedTime"
              ],
              "members": {
                "CodeRepositoryName": {},
                "CodeRepositoryArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "GitConfig": {
                  "shape": "S4j"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListCompilationJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "NameContains": {},
          "StatusEquals": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobSummaries"
        ],
        "members": {
          "CompilationJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "CompilationJobName",
                "CompilationJobArn",
                "CreationTime",
                "CompilationJobStatus"
              ],
              "members": {
                "CompilationJobName": {},
                "CompilationJobArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "CompilationStartTime": {
                  "type": "timestamp"
                },
                "CompilationEndTime": {
                  "type": "timestamp"
                },
                "CompilationTargetDevice": {},
                "CompilationTargetPlatformOs": {},
                "CompilationTargetPlatformArch": {},
                "CompilationTargetPlatformAccelerator": {},
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "CompilationJobStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListDomains": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Domains": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DomainArn": {},
                "DomainId": {},
                "DomainName": {},
                "Status": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "Url": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListEndpointConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigs"
        ],
        "members": {
          "EndpointConfigs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "EndpointConfigName",
                "EndpointConfigArn",
                "CreationTime"
              ],
              "members": {
                "EndpointConfigName": {},
                "EndpointConfigArn": {},
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Endpoints"
        ],
        "members": {
          "Endpoints": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "EndpointName",
                "EndpointArn",
                "CreationTime",
                "LastModifiedTime",
                "EndpointStatus"
              ],
              "members": {
                "EndpointName": {},
                "EndpointArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "EndpointStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListExperiments": {
      "input": {
        "type": "structure",
        "members": {
          "CreatedAfter": {
            "type": "timestamp"
          },
          "CreatedBefore": {
            "type": "timestamp"
          },
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ExperimentArn": {},
                "ExperimentName": {},
                "DisplayName": {},
                "ExperimentSource": {
                  "shape": "Sh7"
                },
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListFlowDefinitions": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionSummaries"
        ],
        "members": {
          "FlowDefinitionSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "FlowDefinitionName",
                "FlowDefinitionArn",
                "FlowDefinitionStatus",
                "CreationTime"
              ],
              "members": {
                "FlowDefinitionName": {},
                "FlowDefinitionArn": {},
                "FlowDefinitionStatus": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "FailureReason": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListHumanTaskUis": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiSummaries"
        ],
        "members": {
          "HumanTaskUiSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "HumanTaskUiName",
                "HumanTaskUiArn",
                "CreationTime"
              ],
              "members": {
                "HumanTaskUiName": {},
                "HumanTaskUiArn": {},
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListHyperParameterTuningJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "SortBy": {},
          "SortOrder": {},
          "NameContains": {},
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobSummaries"
        ],
        "members": {
          "HyperParameterTuningJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "HyperParameterTuningJobName",
                "HyperParameterTuningJobArn",
                "HyperParameterTuningJobStatus",
                "Strategy",
                "CreationTime",
                "TrainingJobStatusCounters",
                "ObjectiveStatusCounters"
              ],
              "members": {
                "HyperParameterTuningJobName": {},
                "HyperParameterTuningJobArn": {},
                "HyperParameterTuningJobStatus": {},
                "Strategy": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "HyperParameterTuningEndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "TrainingJobStatusCounters": {
                  "shape": "Shn"
                },
                "ObjectiveStatusCounters": {
                  "shape": "Shp"
                },
                "ResourceLimits": {
                  "shape": "S7e"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListImageVersions": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "ImageName": {},
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageVersions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "CreationTime",
                "ImageArn",
                "ImageVersionArn",
                "ImageVersionStatus",
                "LastModifiedTime",
                "Version"
              ],
              "members": {
                "CreationTime": {
                  "type": "timestamp"
                },
                "FailureReason": {},
                "ImageArn": {},
                "ImageVersionArn": {},
                "ImageVersionStatus": {},
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "Version": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListImages": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "NextToken": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Images": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "CreationTime",
                "ImageArn",
                "ImageName",
                "ImageStatus",
                "LastModifiedTime"
              ],
              "members": {
                "CreationTime": {
                  "type": "timestamp"
                },
                "Description": {},
                "DisplayName": {},
                "FailureReason": {},
                "ImageArn": {},
                "ImageName": {},
                "ImageStatus": {},
                "LastModifiedTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListLabelingJobs": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "NameContains": {},
          "SortBy": {},
          "SortOrder": {},
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LabelingJobSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "LabelingJobName",
                "LabelingJobArn",
                "CreationTime",
                "LastModifiedTime",
                "LabelingJobStatus",
                "LabelCounters",
                "WorkteamArn",
                "PreHumanTaskLambdaArn"
              ],
              "members": {
                "LabelingJobName": {},
                "LabelingJobArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "LabelingJobStatus": {},
                "LabelCounters": {
                  "shape": "Si4"
                },
                "WorkteamArn": {},
                "PreHumanTaskLambdaArn": {},
                "AnnotationConsolidationLambdaArn": {},
                "FailureReason": {},
                "LabelingJobOutput": {
                  "shape": "Si7"
                },
                "InputConfig": {
                  "shape": "S8h"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListLabelingJobsForWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamArn"
        ],
        "members": {
          "WorkteamArn": {},
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "JobReferenceCodeContains": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobSummaryList"
        ],
        "members": {
          "LabelingJobSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "JobReferenceCode",
                "WorkRequesterAccountId",
                "CreationTime"
              ],
              "members": {
                "LabelingJobName": {},
                "JobReferenceCode": {},
                "WorkRequesterAccountId": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LabelCounters": {
                  "type": "structure",
                  "members": {
                    "HumanLabeled": {
                      "type": "integer"
                    },
                    "PendingHuman": {
                      "type": "integer"
                    },
                    "Total": {
                      "type": "integer"
                    }
                  }
                },
                "NumberOfHumanWorkersPerDataObject": {
                  "type": "integer"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListModelPackages": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "NextToken": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageSummaryList"
        ],
        "members": {
          "ModelPackageSummaryList": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelPackageName",
                "ModelPackageArn",
                "CreationTime",
                "ModelPackageStatus"
              ],
              "members": {
                "ModelPackageName": {},
                "ModelPackageArn": {},
                "ModelPackageDescription": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "ModelPackageStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListModels": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Models"
        ],
        "members": {
          "Models": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelName",
                "ModelArn",
                "CreationTime"
              ],
              "members": {
                "ModelName": {},
                "ModelArn": {},
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMonitoringExecutions": {
      "input": {
        "type": "structure",
        "members": {
          "MonitoringScheduleName": {},
          "EndpointName": {},
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "ScheduledTimeBefore": {
            "type": "timestamp"
          },
          "ScheduledTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringExecutionSummaries"
        ],
        "members": {
          "MonitoringExecutionSummaries": {
            "type": "list",
            "member": {
              "shape": "Sik"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListMonitoringSchedules": {
      "input": {
        "type": "structure",
        "members": {
          "EndpointName": {},
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringScheduleSummaries"
        ],
        "members": {
          "MonitoringScheduleSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "MonitoringScheduleName",
                "MonitoringScheduleArn",
                "CreationTime",
                "LastModifiedTime",
                "MonitoringScheduleStatus"
              ],
              "members": {
                "MonitoringScheduleName": {},
                "MonitoringScheduleArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "MonitoringScheduleStatus": {},
                "EndpointName": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListNotebookInstanceLifecycleConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "SortBy": {},
          "SortOrder": {},
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "NotebookInstanceLifecycleConfigs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "NotebookInstanceLifecycleConfigName",
                "NotebookInstanceLifecycleConfigArn"
              ],
              "members": {
                "NotebookInstanceLifecycleConfigName": {},
                "NotebookInstanceLifecycleConfigArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListNotebookInstances": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "SortBy": {},
          "SortOrder": {},
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {},
          "NotebookInstanceLifecycleConfigNameContains": {},
          "DefaultCodeRepositoryContains": {},
          "AdditionalCodeRepositoryEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "NotebookInstances": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "NotebookInstanceName",
                "NotebookInstanceArn"
              ],
              "members": {
                "NotebookInstanceName": {},
                "NotebookInstanceArn": {},
                "NotebookInstanceStatus": {},
                "Url": {},
                "InstanceType": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "NotebookInstanceLifecycleConfigName": {},
                "DefaultCodeRepository": {},
                "AdditionalCodeRepositories": {
                  "shape": "Sb8"
                }
              }
            }
          }
        }
      }
    },
    "ListProcessingJobs": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
[...]
