{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-24",
    "endpointPrefix": "api.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SageMaker",
    "serviceFullName": "Amazon SageMaker Service",
    "serviceId": "SageMaker",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "targetPrefix": "SageMaker",
    "uid": "sagemaker-2017-07-24"
  },
  "operations": {
    "AddTags": {
      "name": "AddTags",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsInput"
      },
      "output": {
        "shape": "AddTagsOutput"
      },
      "documentation": "<p>Adds or overwrites one or more tags for the specified Amazon SageMaker resource. You can add tags to notebook instances, training jobs, hyperparameter tuning jobs, batch transform jobs, models, labeling jobs, work teams, endpoint configurations, and endpoints.</p> <p>Each tag consists of a key and an optional value. Tag keys must be unique per resource. For more information about tags, see For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">AWS Tagging Strategies</a>.</p> <note> <p>Tags that you add to a hyperparameter tuning job by calling this API are also added to any training jobs that the hyperparameter tuning job launches after you call this API, but not to training jobs that the hyperparameter tuning job launched before you called this API. To make sure that the tags associated with a hyperparameter tuning job are also added to all training jobs that the hyperparameter tuning job launches, add the tags when you first create the tuning job by specifying them in the <code>Tags</code> parameter of <a>CreateHyperParameterTuningJob</a> </p> </note>"
    },
    "AssociateTrialComponent": {
      "name": "AssociateTrialComponent",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateTrialComponentRequest"
      },
      "output": {
        "shape": "AssociateTrialComponentResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Associates a trial component with a trial. A trial component can be associated with multiple trials. To disassociate a trial component from a trial, call the <a>DisassociateTrialComponent</a> API.</p>"
    },
    "CreateAlgorithm": {
      "name": "CreateAlgorithm",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAlgorithmInput"
      },
      "output": {
        "shape": "CreateAlgorithmOutput"
      },
      "documentation": "<p>Create a machine learning algorithm that you can use in Amazon SageMaker and list in the AWS Marketplace.</p>"
    },
    "CreateApp": {
      "name": "CreateApp",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAppRequest"
      },
      "output": {
        "shape": "CreateAppResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "documentation": "<p>Creates a running App for the specified UserProfile. Supported Apps are JupyterServer and KernelGateway. This operation is automatically invoked by Amazon SageMaker Amazon SageMaker Studio (Studio) upon access to the associated Studio Domain, and when new kernel configurations are selected by the user. A user may have multiple Apps active simultaneously. Apps will automatically terminate and be deleted when stopped from within Studio, or when the DeleteApp API is manually called. UserProfiles are limited to 5 concurrently running Apps at a time.</p>"
    },
    "CreateAutoMLJob": {
      "name": "CreateAutoMLJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAutoMLJobRequest"
      },
      "output": {
        "shape": "CreateAutoMLJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Creates an AutoPilot job.</p>"
    },
    "CreateCodeRepository": {
      "name": "CreateCodeRepository",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCodeRepositoryInput"
      },
      "output": {
        "shape": "CreateCodeRepositoryOutput"
      },
      "documentation": "<p>Creates a Git repository as a resource in your Amazon SageMaker account. You can associate the repository with notebook instances so that you can use Git source control for the notebooks you create. The Git repository is a resource in your Amazon SageMaker account, so it can be associated with more than one notebook instance, and it persists independently from the lifecycle of any notebook instances it is associated with.</p> <p>The repository can be hosted either in <a href=\"https://docs.aws.amazon.com/codecommit/latest/userguide/welcome.html\">AWS CodeCommit</a> or in any other Git repository.</p>"
    },
    "CreateCompilationJob": {
      "name": "CreateCompilationJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCompilationJobRequest"
      },
      "output": {
        "shape": "CreateCompilationJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Starts a model compilation job. After the model has been compiled, Amazon SageMaker saves the resulting model artifacts to an Amazon Simple Storage Service (Amazon S3) bucket that you specify. </p> <p>If you choose to host your model using Amazon SageMaker hosting services, you can use the resulting model artifacts as part of the model. You can also use the artifacts with AWS IoT Greengrass. In that case, deploy them as an ML resource.</p> <p>In the request body, you provide the following:</p> <ul> <li> <p>A name for the compilation job</p> </li> <li> <p> Information about the input model artifacts </p> </li> <li> <p>The output location for the compiled model and the device (target) that the model runs on </p> </li> <li> <p> <code>The Amazon Resource Name (ARN) of the IAM role that Amazon SageMaker assumes to perform the model compilation job</code> </p> </li> </ul> <p>You can also provide a <code>Tag</code> to track the model compilation job's resource use and costs. The response body contains the <code>CompilationJobArn</code> for the compiled job.</p> <p>To stop a model compilation job, use <a>StopCompilationJob</a>. To get information about a particular model compilation job, use <a>DescribeCompilationJob</a>. To get information about multiple model compilation jobs, use <a>ListCompilationJobs</a>.</p>"
    },
    "CreateDomain": {
      "name": "CreateDomain",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDomainRequest"
      },
      "output": {
        "shape": "CreateDomainResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "documentation": "<p>Creates a Domain for Amazon SageMaker Amazon SageMaker Studio (Studio), which can be accessed by end-users in a web browser. A Domain has an associated directory, list of authorized users, and a variety of security, application, policies, and Amazon Virtual Private Cloud configurations. An AWS account is limited to one Domain, per region. Users within a domain can share notebook files and other artifacts with each other. When a Domain is created, an Amazon Elastic File System (EFS) is also created for use by all of the users within the Domain. Each user receives a private home directory within the EFS for notebooks, Git repositories, and data files. </p>"
    },
    "CreateEndpoint": {
      "name": "CreateEndpoint",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEndpointInput"
      },
      "output": {
        "shape": "CreateEndpointOutput"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Creates an endpoint using the endpoint configuration specified in the request. Amazon SageMaker uses the endpoint to provision resources and deploy models. You create the endpoint configuration with the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpointConfig.html\">CreateEndpointConfig</a> API. </p> <note> <p> Use this API only for hosting models using Amazon SageMaker hosting services. </p> <p> You must not delete an <code>EndpointConfig</code> in use by an endpoint that is live or while the <code>UpdateEndpoint</code> or <code>CreateEndpoint</code> operations are being performed on the endpoint. To update an endpoint, you must create a new <code>EndpointConfig</code>.</p> </note> <p>The endpoint name must be unique within an AWS Region in your AWS account. </p> <p>When it receives the request, Amazon SageMaker creates the endpoint, launches the resources (ML compute instances), and deploys the model(s) on them. </p> <p>When Amazon SageMaker receives the request, it sets the endpoint status to <code>Creating</code>. After it creates the endpoint, it sets the status to <code>InService</code>. Amazon SageMaker can then process incoming requests for inferences. To check the status of an endpoint, use the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_DescribeEndpoint.html\">DescribeEndpoint</a> API.</p> <p>For an example, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/ex1.html\">Exercise 1: Using the K-Means Algorithm Provided by Amazon SageMaker</a>. </p> <p>If any of the models hosted at this endpoint get model data from an Amazon S3 location, Amazon SageMaker uses AWS Security Token Service to download model artifacts from the S3 path you provided. AWS STS is activated in your IAM user account by default. If you previously deactivated AWS STS for a region, you need to reactivate AWS STS for that region. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and Deactivating AWS STS in an AWS Region</a> in the <i>AWS Identity and Access Management User Guide</i>.</p>"
    },
    "CreateEndpointConfig": {
      "name": "CreateEndpointConfig",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEndpointConfigInput"
      },
      "output": {
        "shape": "CreateEndpointConfigOutput"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Creates an endpoint configuration that Amazon SageMaker hosting services uses to deploy models. In the configuration, you identify one or more models, created using the <code>CreateModel</code> API, to deploy and the resources that you want Amazon SageMaker to provision. Then you call the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpoint.html\">CreateEndpoint</a> API.</p> <note> <p> Use this API only if you want to use Amazon SageMaker hosting services to deploy models into production. </p> </note> <p>In the request, you define one or more <code>ProductionVariant</code>s, each of which identifies a model. Each <code>ProductionVariant</code> parameter also describes the resources that you want Amazon SageMaker to provision. This includes the number and type of ML compute instances to deploy. </p> <p>If you are hosting multiple models, you also assign a <code>VariantWeight</code> to specify how much traffic you want to allocate to each model. For example, suppose that you want to host two models, A and B, and you assign traffic weight 2 for model A and 1 for model B. Amazon SageMaker distributes two-thirds of the traffic to Model A, and one-third to model B. </p>"
    },
    "CreateExperiment": {
      "name": "CreateExperiment",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateExperimentRequest"
      },
      "output": {
        "shape": "CreateExperimentResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Creates an Amazon SageMaker <i>experiment</i>. An experiment is a collection of <i>trials</i> that are observed, compared and evaluated as a group. A trial is a set of steps, called <i>trial components</i>, that produce a machine learning model.</p> <p>The goal of an experiment is to determine the components that produce the best model. Multiple trials are performed, each one isolating and measuring the impact of a change to one or more inputs, while keeping the remaining inputs constant.</p> <p>When you use Amazon SageMaker Studio or the Amazon SageMaker Python SDK, all experiments, trials, and trial components are automatically tracked, logged, and indexed. When you use the AWS SDK for Python (Boto), you must use the logging APIs provided by the SDK.</p> <p>You can add tags to experiments, trials, trial components and then use the <a>Search</a> API to search for the tags.</p> <p>To add a description to an experiment, specify the optional <code>Description</code> parameter. To add a description later, or to change the description, call the <a>UpdateExperiment</a> API.</p> <p>To get a list of all your experiments, call the <a>ListExperiments</a> API. To view an experiment's properties, call the <a>DescribeExperiment</a> API. To get a list of all the trials associated with an experiment, call the <a>ListTrials</a> API. To create a trial call the <a>CreateTrial</a> API.</p>"
    },
    "CreateFlowDefinition": {
      "name": "CreateFlowDefinition",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFlowDefinitionRequest"
      },
      "output": {
        "shape": "CreateFlowDefinitionResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "documentation": "<p>Creates a flow definition.</p>"
    },
    "CreateHumanTaskUi": {
      "name": "CreateHumanTaskUi",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateHumanTaskUiRequest"
      },
      "output": {
        "shape": "CreateHumanTaskUiResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "documentation": "<p>Defines the settings you will use for the human review workflow user interface. Reviewers will see a three-panel interface with an instruction area, the item to review, and an input area.</p>"
    },
    "CreateHyperParameterTuningJob": {
      "name": "CreateHyperParameterTuningJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateHyperParameterTuningJobRequest"
      },
      "output": {
        "shape": "CreateHyperParameterTuningJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Starts a hyperparameter tuning job. A hyperparameter tuning job finds the best version of a model by running many training jobs on your dataset using the algorithm you choose and values for hyperparameters within ranges that you specify. It then chooses the hyperparameter values that result in a model that performs the best, as measured by an objective metric that you choose.</p>"
    },
    "CreateLabelingJob": {
      "name": "CreateLabelingJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLabelingJobRequest"
      },
      "output": {
        "shape": "CreateLabelingJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Creates a job that uses workers to label the data objects in your input dataset. You can use the labeled data to train machine learning models.</p> <p>You can select your workforce from one of three providers:</p> <ul> <li> <p>A private workforce that you create. It can include employees, contractors, and outside experts. Use a private workforce when want the data to stay within your organization or when a specific set of skills is required.</p> </li> <li> <p>One or more vendors that you select from the AWS Marketplace. Vendors provide expertise in specific areas. </p> </li> <li> <p>The Amazon Mechanical Turk workforce. This is the largest workforce, but it should only be used for public data or data that has been stripped of any personally identifiable information.</p> </li> </ul> <p>You can also use <i>automated data labeling</i> to reduce the number of data objects that need to be labeled by a human. Automated data labeling uses <i>active learning</i> to determine if a data object can be labeled by machine or if it needs to be sent to a human worker. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-automated-labeling.html\">Using Automated Data Labeling</a>.</p> <p>The data objects to be labeled are contained in an Amazon S3 bucket. You create a <i>manifest file</i> that describes the location of each object. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-data.html\">Using Input and Output Data</a>.</p> <p>The output can be used as the manifest file for another labeling job or as training data for your machine learning models.</p>"
    },
    "CreateModel": {
      "name": "CreateModel",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateModelInput"
      },
      "output": {
        "shape": "CreateModelOutput"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Creates a model in Amazon SageMaker. In the request, you name the model and describe a primary container. For the primary container, you specify the docker image containing inference code, artifacts (from prior training), and custom environment map that the inference code uses when you deploy the model for predictions.</p> <p>Use this API to create a model if you want to use Amazon SageMaker hosting services or run a batch transform job.</p> <p>To host your model, you create an endpoint configuration with the <code>CreateEndpointConfig</code> API, and then create an endpoint with the <code>CreateEndpoint</code> API. Amazon SageMaker then deploys all of the containers that you defined for the model in the hosting environment. </p> <p>To run a batch transform using your model, you start a job with the <code>CreateTransformJob</code> API. Amazon SageMaker uses your model and your dataset to get inferences which are then saved to a specified S3 location.</p> <p>In the <code>CreateModel</code> request, you must define a container with the <code>PrimaryContainer</code> parameter.</p> <p>In the request, you also provide an IAM role that Amazon SageMaker can assume to access model artifacts and docker image for deployment on ML compute hosting instances or for batch transform jobs. In addition, you also use the IAM role to manage permissions the inference code needs. For example, if the inference code access any other AWS resources, you grant necessary permissions via this role.</p>"
    },
    "CreateModelPackage": {
      "name": "CreateModelPackage",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateModelPackageInput"
      },
      "output": {
        "shape": "CreateModelPackageOutput"
      },
      "documentation": "<p>Creates a model package that you can use to create Amazon SageMaker models or list on AWS Marketplace. Buyers can subscribe to model packages listed on AWS Marketplace to create models in Amazon SageMaker.</p> <p>To create a model package by specifying a Docker container that contains your inference code and the Amazon S3 location of your model artifacts, provide values for <code>InferenceSpecification</code>. To create a model from an algorithm resource that you created or subscribed to in AWS Marketplace, provide a value for <code>SourceAlgorithmSpecification</code>.</p>"
    },
    "CreateMonitoringSchedule": {
      "name": "CreateMonitoringSchedule",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateMonitoringScheduleRequest"
      },
      "output": {
        "shape": "CreateMonitoringScheduleResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "documentation": "<p>Creates a schedule that regularly starts Amazon SageMaker Processing Jobs to monitor the data captured for an Amazon SageMaker Endoint.</p>"
    },
    "CreateNotebookInstance": {
      "name": "CreateNotebookInstance",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNotebookInstanceInput"
      },
      "output": {
        "shape": "CreateNotebookInstanceOutput"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Creates an Amazon SageMaker notebook instance. A notebook instance is a machine learning (ML) compute instance running on a Jupyter notebook. </p> <p>In a <code>CreateNotebookInstance</code> request, specify the type of ML compute instance that you want to run. Amazon SageMaker launches the instance, installs common libraries that you can use to explore datasets for model training, and attaches an ML storage volume to the notebook instance. </p> <p>Amazon SageMaker also provides a set of example notebooks. Each notebook demonstrates how to use Amazon SageMaker with a specific algorithm or with a machine learning framework. </p> <p>After receiving the request, Amazon SageMaker does the following:</p> <ol> <li> <p>Creates a network interface in the Amazon SageMaker VPC.</p> </li> <li> <p>(Option) If you specified <code>SubnetId</code>, Amazon SageMaker creates a network interface in your own VPC, which is inferred from the subnet ID that you provide in the input. When creating this network interface, Amazon SageMaker attaches the security group that you specified in the request to the network interface that it creates in your VPC.</p> </li> <li> <p>Launches an EC2 instance of the type specified in the request in the Amazon SageMaker VPC. If you specified <code>SubnetId</code> of your VPC, Amazon SageMaker specifies both network interfaces when launching this instance. This enables inbound traffic from your own VPC to the notebook instance, assuming that the security groups allow it.</p> </li> </ol> <p>After creating the notebook instance, Amazon SageMaker returns its Amazon Resource Name (ARN). You can't change the name of a notebook instance after you create it.</p> <p>After Amazon SageMaker creates the notebook instance, you can connect to the Jupyter server and work in Jupyter notebooks. For example, you can write code to explore a dataset that you can use for model training, train a model, host models by creating Amazon SageMaker endpoints, and validate hosted models. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>. </p>"
    },
    "CreateNotebookInstanceLifecycleConfig": {
      "name": "CreateNotebookInstanceLifecycleConfig",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNotebookInstanceLifecycleConfigInput"
      },
      "output": {
        "shape": "CreateNotebookInstanceLifecycleConfigOutput"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Creates a lifecycle configuration that you can associate with a notebook instance. A <i>lifecycle configuration</i> is a collection of shell scripts that run when you create or start a notebook instance.</p> <p>Each lifecycle configuration script has a limit of 16384 characters.</p> <p>The value of the <code>$PATH</code> environment variable that is available to both scripts is <code>/sbin:bin:/usr/sbin:/usr/bin</code>.</p> <p>View CloudWatch Logs for notebook instance lifecycle configurations in log group <code>/aws/sagemaker/NotebookInstances</code> in log stream <code>[notebook-instance-name]/[LifecycleConfigHook]</code>.</p> <p>Lifecycle configuration scripts cannot run for longer than 5 minutes. If a script runs for longer than 5 minutes, it fails and the notebook instance is not created or started.</p> <p>For information about notebook instance lifestyle configurations, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/notebook-lifecycle-config.html\">Step 2.1: (Optional) Customize a Notebook Instance</a>.</p>"
    },
    "CreatePresignedDomainUrl": {
      "name": "CreatePresignedDomainUrl",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePresignedDomainUrlRequest"
      },
      "output": {
        "shape": "CreatePresignedDomainUrlResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Creates a URL for a specified UserProfile in a Domain. When accessed in a web browser, the user will be automatically signed in to Amazon SageMaker Amazon SageMaker Studio (Studio), and granted access to all of the Apps and files associated with that Amazon Elastic File System (EFS). This operation can only be called when AuthMode equals IAM. </p>"
    },
    "CreatePresignedNotebookInstanceUrl": {
      "name": "CreatePresignedNotebookInstanceUrl",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePresignedNotebookInstanceUrlInput"
      },
      "output": {
        "shape": "CreatePresignedNotebookInstanceUrlOutput"
      },
      "documentation": "<p>Returns a URL that you can use to connect to the Jupyter server from a notebook instance. In the Amazon SageMaker console, when you choose <code>Open</code> next to a notebook instance, Amazon SageMaker opens a new tab showing the Jupyter server home page from the notebook instance. The console uses this API to get the URL and show the page.</p> <p>IAM authorization policies for this API are also enforced for every HTTP request and WebSocket frame that attempts to connect to the notebook instance.For example, you can restrict access to this API and to the URL that it returns to a list of IP addresses that you specify. Use the <code>NotIpAddress</code> condition operator and the <code>aws:SourceIP</code> condition context key to specify the list of IP addresses that you want to have access to the notebook instance. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/security_iam_id-based-policy-examples.html#nbi-ip-filter\">Limit Access to a Notebook Instance by IP Address</a>.</p> <note> <p>The URL that you get from a call to is valid only for 5 minutes. If you try to use the URL after the 5-minute limit expires, you are directed to the AWS console sign-in page.</p> </note>"
    },
    "CreateProcessingJob": {
      "name": "CreateProcessingJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProcessingJobRequest"
      },
      "output": {
        "shape": "CreateProcessingJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Creates a processing job.</p>"
    },
    "CreateTrainingJob": {
      "name": "CreateTrainingJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTrainingJobRequest"
      },
      "output": {
        "shape": "CreateTrainingJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Starts a model training job. After training completes, Amazon SageMaker saves the resulting model artifacts to an Amazon S3 location that you specify. </p> <p>If you choose to host your model using Amazon SageMaker hosting services, you can use the resulting model artifacts as part of the model. You can also use the artifacts in a machine learning service other than Amazon SageMaker, provided that you know how to use them for inferences. </p> <p>In the request body, you provide the following: </p> <ul> <li> <p> <code>AlgorithmSpecification</code> - Identifies the training algorithm to use. </p> </li> <li> <p> <code>HyperParameters</code> - Specify these algorithm-specific parameters to enable the estimation of model parameters during training. Hyperparameters can be tuned to optimize this learning process. For a list of hyperparameters for each training algorithm provided by Amazon SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. </p> </li> <li> <p> <code>InputDataConfig</code> - Describes the training dataset and the Amazon S3, EFS, or FSx location where it is stored.</p> </li> <li> <p> <code>OutputDataConfig</code> - Identifies the Amazon S3 bucket where you want Amazon SageMaker to save the results of model training. </p> <p/> </li> <li> <p> <code>ResourceConfig</code> - Identifies the resources, ML compute instances, and ML storage volumes to deploy for model training. In distributed training, you specify more than one instance. </p> </li> <li> <p> <code>EnableManagedSpotTraining</code> - Optimize the cost of training machine learning models by up to 80% by using Amazon EC2 Spot instances. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/model-managed-spot-training.html\">Managed Spot Training</a>. </p> </li> <li> <p> <code>RoleARN</code> - The Amazon Resource Number (ARN) that Amazon SageMaker assumes to perform tasks on your behalf during model training. You must grant this role the necessary permissions so that Amazon SageMaker can successfully complete model training. </p> </li> <li> <p> <code>StoppingCondition</code> - To help cap training costs, use <code>MaxRuntimeInSeconds</code> to set a time limit for training. Use <code>MaxWaitTimeInSeconds</code> to specify how long you are willing to wait for a managed spot training job to complete. </p> </li> </ul> <p> For more information about Amazon SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>. </p>"
    },
    "CreateTransformJob": {
      "name": "CreateTransformJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransformJobRequest"
      },
      "output": {
        "shape": "CreateTransformJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Starts a transform job. A transform job uses a trained model to get inferences on a dataset and saves these results to an Amazon S3 location that you specify.</p> <p>To perform batch transformations, you create a transform job and use the data that you have readily available.</p> <p>In the request body, you provide the following:</p> <ul> <li> <p> <code>TransformJobName</code> - Identifies the transform job. The name must be unique within an AWS Region in an AWS account.</p> </li> <li> <p> <code>ModelName</code> - Identifies the model to use. <code>ModelName</code> must be the name of an existing Amazon SageMaker model in the same AWS Region and AWS account. For information on creating a model, see <a>CreateModel</a>.</p> </li> <li> <p> <code>TransformInput</code> - Describes the dataset to be transformed and the Amazon S3 location where it is stored.</p> </li> <li> <p> <code>TransformOutput</code> - Identifies the Amazon S3 location where you want Amazon SageMaker to save the results from the transform job.</p> </li> <li> <p> <code>TransformResources</code> - Identifies the ML compute instances for the transform job.</p> </li> </ul> <p>For more information about how batch transformation works, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/batch-transform.html\">Batch Transform</a>.</p>"
    },
    "CreateTrial": {
      "name": "CreateTrial",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTrialRequest"
      },
      "output": {
        "shape": "CreateTrialResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Creates an Amazon SageMaker <i>trial</i>. A trial is a set of steps called <i>trial components</i> that produce a machine learning model. A trial is part of a single Amazon SageMaker <i>experiment</i>.</p> <p>When you use Amazon SageMaker Studio or the Amazon SageMaker Python SDK, all experiments, trials, and trial components are automatically tracked, logged, and indexed. When you use the AWS SDK for Python (Boto), you must use the logging APIs provided by the SDK.</p> <p>You can add tags to a trial and then use the <a>Search</a> API to search for the tags.</p> <p>To get a list of all your trials, call the <a>ListTrials</a> API. To view a trial's properties, call the <a>DescribeTrial</a> API. To create a trial component, call the <a>CreateTrialComponent</a> API.</p>"
    },
    "CreateTrialComponent": {
      "name": "CreateTrialComponent",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTrialComponentRequest"
      },
      "output": {
        "shape": "CreateTrialComponentResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Creates a <i>trial component</i>, which is a stage of a machine learning <i>trial</i>. A trial is composed of one or more trial components. A trial component can be used in multiple trials.</p> <p>Trial components include pre-processing jobs, training jobs, and batch transform jobs.</p> <p>When you use Amazon SageMaker Studio or the Amazon SageMaker Python SDK, all experiments, trials, and trial components are automatically tracked, logged, and indexed. When you use the AWS SDK for Python (Boto), you must use the logging APIs provided by the SDK.</p> <p>You can add tags to a trial component and then use the <a>Search</a> API to search for the tags.</p> <note> <p> <code>CreateTrialComponent</code> can only be invoked from within an Amazon SageMaker managed environment. This includes Amazon SageMaker training jobs, processing jobs, transform jobs, and Amazon SageMaker notebooks. A call to <code>CreateTrialComponent</code> from outside one of these environments results in an error.</p> </note>"
    },
    "CreateUserProfile": {
      "name": "CreateUserProfile",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserProfileRequest"
      },
      "output": {
        "shape": "CreateUserProfileResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "documentation": "<p>Creates a new user profile. A user profile represents a single user within a Domain, and is the main way to reference a \"person\" for the purposes of sharing, reporting and other user-oriented features. This entity is created during on-boarding. If an administrator invites a person by email or imports them from SSO, a new UserProfile is automatically created. This entity is the primary holder of settings for an individual user and has a reference to the user's private Amazon Elastic File System (EFS) home directory. </p>"
    },
    "CreateWorkteam": {
      "name": "CreateWorkteam",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWorkteamRequest"
      },
      "output": {
        "shape": "CreateWorkteamResponse"
      },
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Creates a new work team for labeling your data. A work team is defined by one or more Amazon Cognito user pools. You must first create the user pools before you can create a work team.</p> <p>You cannot create more than 25 work teams in an account and region.</p>"
    },
    "DeleteAlgorithm": {
      "name": "DeleteAlgorithm",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAlgorithmInput"
      },
      "documentation": "<p>Removes the specified algorithm from your account.</p>"
    },
    "DeleteApp": {
      "name": "DeleteApp",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAppRequest"
      },
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Used to stop and delete an app.</p>"
    },
    "DeleteCodeRepository": {
      "name": "DeleteCodeRepository",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCodeRepositoryInput"
      },
      "documentation": "<p>Deletes the specified Git repository from your account.</p>"
    },
    "DeleteDomain": {
      "name": "DeleteDomain",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDomainRequest"
      },
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Used to delete a domain. If you on-boarded with IAM mode, you will need to delete your domain to on-board again using SSO. Use with caution. All of the members of the domain will lose access to their EFS volume, including data, notebooks, and other artifacts. </p>"
    },
    "DeleteEndpoint": {
      "name": "DeleteEndpoint",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEndpointInput"
      },
      "documentation": "<p>Deletes an endpoint. Amazon SageMaker frees up all of the resources that were deployed when the endpoint was created. </p> <p>Amazon SageMaker retires any custom KMS key grants associated with the endpoint, meaning you don't need to use the <a href=\"http://docs.aws.amazon.com/kms/latest/APIReference/API_RevokeGrant.html\">RevokeGrant</a> API call.</p>"
    },
    "DeleteEndpointConfig": {
      "name": "DeleteEndpointConfig",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEndpointConfigInput"
      },
      "documentation": "<p>Deletes an endpoint configuration. The <code>DeleteEndpointConfig</code> API deletes only the specified configuration. It does not delete endpoints created using the configuration. </p>"
    },
    "DeleteExperiment": {
      "name": "DeleteExperiment",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteExperimentRequest"
      },
      "output": {
        "shape": "DeleteExperimentResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Deletes an Amazon SageMaker experiment. All trials associated with the experiment must be deleted first. Use the <a>ListTrials</a> API to get a list of the trials associated with the experiment.</p>"
    },
    "DeleteFlowDefinition": {
      "name": "DeleteFlowDefinition",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFlowDefinitionRequest"
      },
      "output": {
        "shape": "DeleteFlowDefinitionResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Deletes the specified flow definition.</p>"
    },
    "DeleteModel": {
      "name": "DeleteModel",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelInput"
      },
      "documentation": "<p>Deletes a model. The <code>DeleteModel</code> API deletes only the model entry that was created in Amazon SageMaker when you called the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateModel.html\">CreateModel</a> API. It does not delete model artifacts, inference code, or the IAM role that you specified when creating the model. </p>"
    },
    "DeleteModelPackage": {
      "name": "DeleteModelPackage",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelPackageInput"
      },
      "documentation": "<p>Deletes a model package.</p> <p>A model package is used to create Amazon SageMaker models or list on AWS Marketplace. Buyers can subscribe to model packages listed on AWS Marketplace to create models in Amazon SageMaker.</p>"
    },
    "DeleteMonitoringSchedule": {
      "name": "DeleteMonitoringSchedule",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteMonitoringScheduleRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Deletes a monitoring schedule. Also stops the schedule had not already been stopped. This does not delete the job execution history of the monitoring schedule. </p>"
    },
    "DeleteNotebookInstance": {
      "name": "DeleteNotebookInstance",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNotebookInstanceInput"
      },
      "documentation": "<p> Deletes an Amazon SageMaker notebook instance. Before you can delete a notebook instance, you must call the <code>StopNotebookInstance</code> API. </p> <important> <p>When you delete a notebook instance, you lose all of your data. Amazon SageMaker removes the ML compute instance, and deletes the ML storage volume and the network interface associated with the notebook instance. </p> </important>"
    },
    "DeleteNotebookInstanceLifecycleConfig": {
      "name": "DeleteNotebookInstanceLifecycleConfig",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNotebookInstanceLifecycleConfigInput"
      },
      "documentation": "<p>Deletes a notebook instance lifecycle configuration.</p>"
    },
    "DeleteTags": {
      "name": "DeleteTags",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTagsInput"
      },
      "output": {
        "shape": "DeleteTagsOutput"
      },
      "documentation": "<p>Deletes the specified tags from an Amazon SageMaker resource.</p> <p>To list a resource's tags, use the <code>ListTags</code> API. </p> <note> <p>When you call this API to delete tags from a hyperparameter tuning job, the deleted tags are not removed from training jobs that the hyperparameter tuning job launched before you called this API.</p> </note>"
    },
    "DeleteTrial": {
      "name": "DeleteTrial",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTrialRequest"
      },
      "output": {
        "shape": "DeleteTrialResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Deletes the specified trial. All trial components that make up the trial must be deleted first. Use the <a>DescribeTrialComponent</a> API to get the list of trial components.</p>"
    },
    "DeleteTrialComponent": {
      "name": "DeleteTrialComponent",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTrialComponentRequest"
      },
      "output": {
        "shape": "DeleteTrialComponentResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Deletes the specified trial component. A trial component must be disassociated from all trials before the trial component can be deleted. To disassociate a trial component from a trial, call the <a>DisassociateTrialComponent</a> API.</p>"
    },
    "DeleteUserProfile": {
      "name": "DeleteUserProfile",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserProfileRequest"
      },
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Deletes a user profile.</p>"
    },
    "DeleteWorkteam": {
      "name": "DeleteWorkteam",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWorkteamRequest"
      },
      "output": {
        "shape": "DeleteWorkteamResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Deletes an existing work team. This operation can't be undone.</p>"
    },
    "DescribeAlgorithm": {
      "name": "DescribeAlgorithm",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAlgorithmInput"
      },
      "output": {
        "shape": "DescribeAlgorithmOutput"
      },
      "documentation": "<p>Returns a description of the specified algorithm that is in your account.</p>"
    },
    "DescribeApp": {
      "name": "DescribeApp",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAppRequest"
      },
      "output": {
        "shape": "DescribeAppResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Describes the app.</p>"
    },
    "DescribeAutoMLJob": {
      "name": "DescribeAutoMLJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAutoMLJobRequest"
      },
      "output": {
        "shape": "DescribeAutoMLJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Returns information about an Amazon SageMaker job.</p>"
    },
    "DescribeCodeRepository": {
      "name": "DescribeCodeRepository",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCodeRepositoryInput"
      },
      "output": {
        "shape": "DescribeCodeRepositoryOutput"
      },
      "documentation": "<p>Gets details about the specified Git repository.</p>"
    },
    "DescribeCompilationJob": {
      "name": "DescribeCompilationJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCompilationJobRequest"
      },
      "output": {
        "shape": "DescribeCompilationJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Returns information about a model compilation job.</p> <p>To create a model compilation job, use <a>CreateCompilationJob</a>. To get information about multiple model compilation jobs, use <a>ListCompilationJobs</a>.</p>"
    },
    "DescribeDomain": {
      "name": "DescribeDomain",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDomainRequest"
      },
      "output": {
        "shape": "DescribeDomainResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>The desciption of the domain.</p>"
    },
    "DescribeEndpoint": {
      "name": "DescribeEndpoint",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEndpointInput"
      },
      "output": {
        "shape": "DescribeEndpointOutput"
      },
      "documentation": "<p>Returns the description of an endpoint.</p>"
    },
    "DescribeEndpointConfig": {
      "name": "DescribeEndpointConfig",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEndpointConfigInput"
      },
      "output": {
        "shape": "DescribeEndpointConfigOutput"
      },
      "documentation": "<p>Returns the description of an endpoint configuration created using the <code>CreateEndpointConfig</code> API.</p>"
    },
    "DescribeExperiment": {
      "name": "DescribeExperiment",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeExperimentRequest"
      },
      "output": {
        "shape": "DescribeExperimentResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Provides a list of an experiment's properties.</p>"
    },
    "DescribeFlowDefinition": {
      "name": "DescribeFlowDefinition",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFlowDefinitionRequest"
      },
      "output": {
        "shape": "DescribeFlowDefinitionResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Returns information about the specified flow definition.</p>"
    },
    "DescribeHumanTaskUi": {
      "name": "DescribeHumanTaskUi",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeHumanTaskUiRequest"
      },
      "output": {
        "shape": "DescribeHumanTaskUiResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Returns information about the requested human task user interface.</p>"
    },
    "DescribeHyperParameterTuningJob": {
      "name": "DescribeHyperParameterTuningJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeHyperParameterTuningJobRequest"
      },
      "output": {
        "shape": "DescribeHyperParameterTuningJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Gets a description of a hyperparameter tuning job.</p>"
    },
    "DescribeLabelingJob": {
      "name": "DescribeLabelingJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLabelingJobRequest"
      },
      "output": {
        "shape": "DescribeLabelingJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Gets information about a labeling job.</p>"
    },
    "DescribeModel": {
      "name": "DescribeModel",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeModelInput"
      },
      "output": {
        "shape": "DescribeModelOutput"
      },
      "documentation": "<p>Describes a model that you created using the <code>CreateModel</code> API.</p>"
    },
    "DescribeModelPackage": {
      "name": "DescribeModelPackage",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeModelPackageInput"
      },
      "output": {
        "shape": "DescribeModelPackageOutput"
      },
      "documentation": "<p>Returns a description of the specified model package, which is used to create Amazon SageMaker models or list them on AWS Marketplace.</p> <p>To create models in Amazon SageMaker, buyers can subscribe to model packages listed on AWS Marketplace.</p>"
    },
    "DescribeMonitoringSchedule": {
      "name": "DescribeMonitoringSchedule",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMonitoringScheduleRequest"
      },
      "output": {
        "shape": "DescribeMonitoringScheduleResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Describes the schedule for a monitoring job.</p>"
    },
    "DescribeNotebookInstance": {
      "name": "DescribeNotebookInstance",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeNotebookInstanceInput"
      },
      "output": {
        "shape": "DescribeNotebookInstanceOutput"
      },
      "documentation": "<p>Returns information about a notebook instance.</p>"
    },
    "DescribeNotebookInstanceLifecycleConfig": {
      "name": "DescribeNotebookInstanceLifecycleConfig",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeNotebookInstanceLifecycleConfigInput"
      },
      "output": {
        "shape": "DescribeNotebookInstanceLifecycleConfigOutput"
      },
      "documentation": "<p>Returns a description of a notebook instance lifecycle configuration.</p> <p>For information about notebook instance lifestyle configurations, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/notebook-lifecycle-config.html\">Step 2.1: (Optional) Customize a Notebook Instance</a>.</p>"
    },
    "DescribeProcessingJob": {
      "name": "DescribeProcessingJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeProcessingJobRequest"
      },
      "output": {
        "shape": "DescribeProcessingJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Returns a description of a processing job.</p>"
    },
    "DescribeSubscribedWorkteam": {
      "name": "DescribeSubscribedWorkteam",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSubscribedWorkteamRequest"
      },
      "output": {
        "shape": "DescribeSubscribedWorkteamResponse"
      },
      "documentation": "<p>Gets information about a work team provided by a vendor. It returns details about the subscription with a vendor in the AWS Marketplace.</p>"
    },
    "DescribeTrainingJob": {
      "name": "DescribeTrainingJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTrainingJobRequest"
      },
      "output": {
        "shape": "DescribeTrainingJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Returns information about a training job.</p>"
    },
    "DescribeTransformJob": {
      "name": "DescribeTransformJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTransformJobRequest"
      },
      "output": {
        "shape": "DescribeTransformJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Returns information about a transform job.</p>"
    },
    "DescribeTrial": {
      "name": "DescribeTrial",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTrialRequest"
      },
      "output": {
        "shape": "DescribeTrialResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Provides a list of a trial's properties.</p>"
    },
    "DescribeTrialComponent": {
      "name": "DescribeTrialComponent",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTrialComponentRequest"
      },
      "output": {
        "shape": "DescribeTrialComponentResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Provides a list of a trials component's properties.</p>"
    },
    "DescribeUserProfile": {
      "name": "DescribeUserProfile",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserProfileRequest"
      },
      "output": {
        "shape": "DescribeUserProfileResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Describes the user profile.</p>"
    },
    "DescribeWorkforce": {
      "name": "DescribeWorkforce",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkforceRequest"
      },
      "output": {
        "shape": "DescribeWorkforceResponse"
      },
      "documentation": "<p>Lists private workforce information, including workforce name, Amazon Resource Name (ARN), and, if applicable, allowed IP address ranges (<a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html\">CIDRs</a>). Allowable IP address ranges are the IP addresses that workers can use to access tasks. </p> <important> <p>This operation applies only to private workforces.</p> </important>"
    },
    "DescribeWorkteam": {
      "name": "DescribeWorkteam",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkteamRequest"
      },
      "output": {
        "shape": "DescribeWorkteamResponse"
      },
      "documentation": "<p>Gets information about a specific work team. You can see information such as the create date, the last updated date, membership information, and the work team's Amazon Resource Name (ARN).</p>"
    },
    "DisassociateTrialComponent": {
      "name": "DisassociateTrialComponent",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateTrialComponentRequest"
      },
      "output": {
        "shape": "DisassociateTrialComponentResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Disassociates a trial component from a trial. This doesn't effect other trials the component is associated with. Before you can delete a component, you must disassociate the component from all trials it is associated with. To associate a trial component with a trial, call the <a>AssociateTrialComponent</a> API.</p>"
    },
    "GetSearchSuggestions": {
      "name": "GetSearchSuggestions",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSearchSuggestionsRequest"
      },
      "output": {
        "shape": "GetSearchSuggestionsResponse"
      },
      "documentation": "<p>An auto-complete API for the search functionality in the Amazon SageMaker console. It returns suggestions of possible matches for the property name to use in <code>Search</code> queries. Provides suggestions for <code>HyperParameters</code>, <code>Tags</code>, and <code>Metrics</code>.</p>"
    },
    "ListAlgorithms": {
      "name": "ListAlgorithms",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAlgorithmsInput"
      },
      "output": {
        "shape": "ListAlgorithmsOutput"
      },
      "documentation": "<p>Lists the machine learning algorithms that have been created.</p>"
    },
    "ListApps": {
      "name": "ListApps",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAppsRequest"
      },
      "output": {
        "shape": "ListAppsResponse"
      },
      "documentation": "<p>Lists apps.</p>"
    },
    "ListAutoMLJobs": {
      "name": "ListAutoMLJobs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAutoMLJobsRequest"
      },
      "output": {
        "shape": "ListAutoMLJobsResponse"
      },
      "documentation": "<p>Request a list of jobs.</p>"
    },
    "ListCandidatesForAutoMLJob": {
      "name": "ListCandidatesForAutoMLJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCandidatesForAutoMLJobRequest"
      },
      "output": {
        "shape": "ListCandidatesForAutoMLJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>List the Candidates created for the job.</p>"
    },
    "ListCodeRepositories": {
      "name": "ListCodeRepositories",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCodeRepositoriesInput"
      },
      "output": {
        "shape": "ListCodeRepositoriesOutput"
      },
      "documentation": "<p>Gets a list of the Git repositories in your account.</p>"
    },
    "ListCompilationJobs": {
      "name": "ListCompilationJobs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCompilationJobsRequest"
      },
      "output": {
        "shape": "ListCompilationJobsResponse"
      },
      "documentation": "<p>Lists model compilation jobs that satisfy various filters.</p> <p>To create a model compilation job, use <a>CreateCompilationJob</a>. To get information about a particular model compilation job you have created, use <a>DescribeCompilationJob</a>.</p>"
    },
    "ListDomains": {
      "name": "ListDomains",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDomainsRequest"
      },
      "output": {
        "shape": "ListDomainsResponse"
      },
      "documentation": "<p>Lists the domains.</p>"
    },
    "ListEndpointConfigs": {
      "name": "ListEndpointConfigs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEndpointConfigsInput"
      },
      "output": {
        "shape": "ListEndpointConfigsOutput"
      },
      "documentation": "<p>Lists endpoint configurations.</p>"
    },
    "ListEndpoints": {
      "name": "ListEndpoints",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEndpointsInput"
      },
      "output": {
        "shape": "ListEndpointsOutput"
      },
      "documentation": "<p>Lists endpoints.</p>"
    },
    "ListExperiments": {
      "name": "ListExperiments",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListExperimentsRequest"
      },
      "output": {
        "shape": "ListExperimentsResponse"
      },
      "documentation": "<p>Lists all the experiments in your account. The list can be filtered to show only experiments that were created in a specific time range. The list can be sorted by experiment name or creation time.</p>"
    },
    "ListFlowDefinitions": {
      "name": "ListFlowDefinitions",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFlowDefinitionsRequest"
      },
      "output": {
        "shape": "ListFlowDefinitionsResponse"
      },
      "documentation": "<p>Returns information about the flow definitions in your account.</p>"
    },
    "ListHumanTaskUis": {
      "name": "ListHumanTaskUis",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListHumanTaskUisRequest"
      },
      "output": {
        "shape": "ListHumanTaskUisResponse"
      },
      "documentation": "<p>Returns information about the human task user interfaces in your account.</p>"
    },
    "ListHyperParameterTuningJobs": {
      "name": "ListHyperParameterTuningJobs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListHyperParameterTuningJobsRequest"
      },
      "output": {
        "shape": "ListHyperParameterTuningJobsResponse"
      },
      "documentation": "<p>Gets a list of <a>HyperParameterTuningJobSummary</a> objects that describe the hyperparameter tuning jobs launched in your account.</p>"
    },
    "ListLabelingJobs": {
      "name": "ListLabelingJobs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLabelingJobsRequest"
      },
      "output": {
        "shape": "ListLabelingJobsResponse"
      },
      "documentation": "<p>Gets a list of labeling jobs.</p>"
    },
    "ListLabelingJobsForWorkteam": {
      "name": "ListLabelingJobsForWorkteam",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLabelingJobsForWorkteamRequest"
      },
      "output": {
        "shape": "ListLabelingJobsForWorkteamResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Gets a list of labeling jobs assigned to a specified work team.</p>"
    },
    "ListModelPackages": {
      "name": "ListModelPackages",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListModelPackagesInput"
      },
      "output": {
        "shape": "ListModelPackagesOutput"
      },
      "documentation": "<p>Lists the model packages that have been created.</p>"
    },
    "ListModels": {
      "name": "ListModels",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListModelsInput"
      },
      "output": {
        "shape": "ListModelsOutput"
      },
      "documentation": "<p>Lists models created with the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateModel.html\">CreateModel</a> API.</p>"
    },
    "ListMonitoringExecutions": {
      "name": "ListMonitoringExecutions",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListMonitoringExecutionsRequest"
      },
      "output": {
        "shape": "ListMonitoringExecutionsResponse"
      },
      "documentation": "<p>Returns list of all monitoring job executions.</p>"
    },
    "ListMonitoringSchedules": {
      "name": "ListMonitoringSchedules",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListMonitoringSchedulesRequest"
      },
      "output": {
        "shape": "ListMonitoringSchedulesResponse"
      },
      "documentation": "<p>Returns list of all monitoring schedules.</p>"
    },
    "ListNotebookInstanceLifecycleConfigs": {
      "name": "ListNotebookInstanceLifecycleConfigs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListNotebookInstanceLifecycleConfigsInput"
      },
      "output": {
        "shape": "ListNotebookInstanceLifecycleConfigsOutput"
      },
      "documentation": "<p>Lists notebook instance lifestyle configurations created with the <a>CreateNotebookInstanceLifecycleConfig</a> API.</p>"
    },
    "ListNotebookInstances": {
      "name": "ListNotebookInstances",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListNotebookInstancesInput"
      },
      "output": {
        "shape": "ListNotebookInstancesOutput"
      },
      "documentation": "<p>Returns a list of the Amazon SageMaker notebook instances in the requester's account in an AWS Region. </p>"
    },
    "ListProcessingJobs": {
      "name": "ListProcessingJobs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListProcessingJobsRequest"
      },
      "output": {
        "shape": "ListProcessingJobsResponse"
      },
      "documentation": "<p>Lists processing jobs that satisfy various filters.</p>"
    },
    "ListSubscribedWorkteams": {
      "name": "ListSubscribedWorkteams",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSubscribedWorkteamsRequest"
      },
      "output": {
        "shape": "ListSubscribedWorkteamsResponse"
      },
      "documentation": "<p>Gets a list of the work teams that you are subscribed to in the AWS Marketplace. The list may be empty if no work team satisfies the filter specified in the <code>NameContains</code> parameter.</p>"
    },
    "ListTags": {
      "name": "ListTags",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsInput"
      },
      "output": {
        "shape": "ListTagsOutput"
      },
      "documentation": "<p>Returns the tags for the specified Amazon SageMaker resource.</p>"
    },
    "ListTrainingJobs": {
      "name": "ListTrainingJobs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTrainingJobsRequest"
      },
      "output": {
        "shape": "ListTrainingJobsResponse"
      },
      "documentation": "<p>Lists training jobs.</p>"
    },
    "ListTrainingJobsForHyperParameterTuningJob": {
      "name": "ListTrainingJobsForHyperParameterTuningJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTrainingJobsForHyperParameterTuningJobRequest"
      },
      "output": {
        "shape": "ListTrainingJobsForHyperParameterTuningJobResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Gets a list of <a>TrainingJobSummary</a> objects that describe the training jobs that a hyperparameter tuning job launched.</p>"
    },
    "ListTransformJobs": {
      "name": "ListTransformJobs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTransformJobsRequest"
      },
      "output": {
        "shape": "ListTransformJobsResponse"
      },
      "documentation": "<p>Lists transform jobs.</p>"
    },
    "ListTrialComponents": {
      "name": "ListTrialComponents",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTrialComponentsRequest"
      },
      "output": {
        "shape": "ListTrialComponentsResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Lists the trial components in your account. You can sort the list by trial component name or creation time. You can filter the list to show only components that were created in a specific time range. You can also filter on one of the following:</p> <ul> <li> <p> <code>ExperimentName</code> </p> </li> <li> <p> <code>SourceArn</code> </p> </li> <li> <p> <code>TrialName</code> </p> </li> </ul>"
    },
    "ListTrials": {
      "name": "ListTrials",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTrialsRequest"
      },
      "output": {
        "shape": "ListTrialsResponse"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Lists the trials in your account. Specify an experiment name to limit the list to the trials that are part of that experiment. The list can be filtered to show only trials that were created in a specific time range. The list can be sorted by trial name or creation time.</p>"
    },
    "ListUserProfiles": {
      "name": "ListUserProfiles",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUserProfilesRequest"
      },
      "output": {
        "shape": "ListUserProfilesResponse"
      },
      "documentation": "<p>Lists user profiles.</p>"
    },
    "ListWorkteams": {
      "name": "ListWorkteams",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListWorkteamsRequest"
      },
      "output": {
        "shape": "ListWorkteamsResponse"
      },
      "documentation": "<p>Gets a list of work teams that you have defined in a region. The list may be empty if no work team satisfies the filter specified in the <code>NameContains</code> parameter.</p>"
    },
    "RenderUiTemplate": {
      "name": "RenderUiTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RenderUiTemplateRequest"
      },
      "output": {
        "shape": "RenderUiTemplateResponse"
      },
      "documentation": "<p>Renders the UI template so that you can preview the worker's experience. </p>"
    },
    "Search": {
      "name": "Search",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchRequest"
      },
      "output": {
        "shape": "SearchResponse"
      },
      "documentation": "<p>Finds Amazon SageMaker resources that match a search query. Matching resource objects are returned as a list of <code>SearchResult</code> objects in the response. You can sort the search results by any resource property in a ascending or descending order.</p> <p>You can query against the following value types: numeric, text, Boolean, and timestamp.</p>"
    },
    "StartMonitoringSchedule": {
      "name": "StartMonitoringSchedule",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartMonitoringScheduleRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Starts a previously stopped monitoring schedule.</p> <note> <p>New monitoring schedules are immediately started after creation.</p> </note>"
    },
    "StartNotebookInstance": {
      "name": "StartNotebookInstance",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartNotebookInstanceInput"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Launches an ML compute instance with the latest version of the libraries and attaches your ML storage volume. After configuring the notebook instance, Amazon SageMaker sets the notebook instance status to <code>InService</code>. A notebook instance's status must be <code>InService</code> before you can connect to your Jupyter notebook. </p>"
    },
    "StopAutoMLJob": {
      "name": "StopAutoMLJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopAutoMLJobRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>A method for forcing the termination of a running job.</p>"
    },
    "StopCompilationJob": {
      "name": "StopCompilationJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopCompilationJobRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Stops a model compilation job.</p> <p> To stop a job, Amazon SageMaker sends the algorithm the SIGTERM signal. This gracefully shuts the job down. If the job hasn't stopped, it sends the SIGKILL signal.</p> <p>When it receives a <code>StopCompilationJob</code> request, Amazon SageMaker changes the <a>CompilationJobSummary$CompilationJobStatus</a> of the job to <code>Stopping</code>. After Amazon SageMaker stops the job, it sets the <a>CompilationJobSummary$CompilationJobStatus</a> to <code>Stopped</code>. </p>"
    },
    "StopHyperParameterTuningJob": {
      "name": "StopHyperParameterTuningJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopHyperParameterTuningJobRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Stops a running hyperparameter tuning job and all running training jobs that the tuning job launched.</p> <p>All model artifacts output from the training jobs are stored in Amazon Simple Storage Service (Amazon S3). All data that the training jobs write to Amazon CloudWatch Logs are still available in CloudWatch. After the tuning job moves to the <code>Stopped</code> state, it releases all reserved resources for the tuning job.</p>"
    },
    "StopLabelingJob": {
      "name": "StopLabelingJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopLabelingJobRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Stops a running labeling job. A job that is stopped cannot be restarted. Any results obtained before the job is stopped are placed in the Amazon S3 output bucket.</p>"
    },
    "StopMonitoringSchedule": {
      "name": "StopMonitoringSchedule",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopMonitoringScheduleRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Stops a previously started monitoring schedule.</p>"
    },
    "StopNotebookInstance": {
      "name": "StopNotebookInstance",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopNotebookInstanceInput"
      },
      "documentation": "<p>Terminates the ML compute instance. Before terminating the instance, Amazon SageMaker disconnects the ML storage volume from it. Amazon SageMaker preserves the ML storage volume. Amazon SageMaker stops charging you for the ML compute instance when you call <code>StopNotebookInstance</code>.</p> <p>To access data on the ML storage volume for a notebook instance that has been terminated, call the <code>StartNotebookInstance</code> API. <code>StartNotebookInstance</code> launches another ML compute instance, configures it, and attaches the preserved ML storage volume so you can continue your work. </p>"
    },
    "StopProcessingJob": {
      "name": "StopProcessingJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopProcessingJobRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Stops a processing job.</p>"
    },
    "StopTrainingJob": {
      "name": "StopTrainingJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopTrainingJobRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Stops a training job. To stop a job, Amazon SageMaker sends the algorithm the <code>SIGTERM</code> signal, which delays job termination for 120 seconds. Algorithms might use this 120-second window to save the model artifacts, so the results of the training is not lost. </p> <p>When it receives a <code>StopTrainingJob</code> request, Amazon SageMaker changes the status of the job to <code>Stopping</code>. After Amazon SageMaker stops the job, it sets the status to <code>Stopped</code>.</p>"
    },
    "StopTransformJob": {
      "name": "StopTransformJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopTransformJobRequest"
      },
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Stops a transform job.</p> <p>When Amazon SageMaker receives a <code>StopTransformJob</code> request, the status of the job changes to <code>Stopping</code>. After Amazon SageMaker stops the job, the status is set to <code>Stopped</code>. When you stop a transform job before it is completed, Amazon SageMaker doesn't store the job's output in Amazon S3.</p>"
    },
    "UpdateCodeRepository": {
      "name": "UpdateCodeRepository",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateCodeRepositoryInput"
      },
      "output": {
        "shape": "UpdateCodeRepositoryOutput"
      },
      "documentation": "<p>Updates the specified Git repository with the specified values.</p>"
    },
    "UpdateDomain": {
      "name": "UpdateDomain",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDomainRequest"
      },
      "output": {
        "shape": "UpdateDomainResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Updates a domain. Changes will impact all of the people in the domain.</p>"
    },
    "UpdateEndpoint": {
      "name": "UpdateEndpoint",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEndpointInput"
      },
      "output": {
        "shape": "UpdateEndpointOutput"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Deploys the new <code>EndpointConfig</code> specified in the request, switches to using newly created endpoint, and then deletes resources provisioned for the endpoint using the previous <code>EndpointConfig</code> (there is no availability loss). </p> <p>When Amazon SageMaker receives the request, it sets the endpoint status to <code>Updating</code>. After updating the endpoint, it sets the status to <code>InService</code>. To check the status of an endpoint, use the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_DescribeEndpoint.html\">DescribeEndpoint</a> API. </p> <note> <p>You must not delete an <code>EndpointConfig</code> in use by an endpoint that is live or while the <code>UpdateEndpoint</code> or <code>CreateEndpoint</code> operations are being performed on the endpoint. To update an endpoint, you must create a new <code>EndpointConfig</code>.</p> </note>"
    },
    "UpdateEndpointWeightsAndCapacities": {
      "name": "UpdateEndpointWeightsAndCapacities",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEndpointWeightsAndCapacitiesInput"
      },
      "output": {
        "shape": "UpdateEndpointWeightsAndCapacitiesOutput"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Updates variant weight of one or more variants associated with an existing endpoint, or capacity of one variant associated with an existing endpoint. When it receives the request, Amazon SageMaker sets the endpoint status to <code>Updating</code>. After updating the endpoint, it sets the status to <code>InService</code>. To check the status of an endpoint, use the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_DescribeEndpoint.html\">DescribeEndpoint</a> API. </p>"
    },
    "UpdateExperiment": {
      "name": "UpdateExperiment",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateExperimentRequest"
      },
      "output": {
        "shape": "UpdateExperimentResponse"
      },
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Adds, updates, or removes the description of an experiment. Updates the display name of an experiment.</p>"
    },
    "UpdateMonitoringSchedule": {
      "name": "UpdateMonitoringSchedule",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateMonitoringScheduleRequest"
      },
      "output": {
        "shape": "UpdateMonitoringScheduleResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Updates a previously created schedule.</p>"
    },
    "UpdateNotebookInstance": {
      "name": "UpdateNotebookInstance",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateNotebookInstanceInput"
      },
      "output": {
        "shape": "UpdateNotebookInstanceOutput"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Updates a notebook instance. NotebookInstance updates include upgrading or downgrading the ML compute instance used for your notebook instance to accommodate changes in your workload requirements.</p>"
    },
    "UpdateNotebookInstanceLifecycleConfig": {
      "name": "UpdateNotebookInstanceLifecycleConfig",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateNotebookInstanceLifecycleConfigInput"
      },
      "output": {
        "shape": "UpdateNotebookInstanceLifecycleConfigOutput"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Updates a notebook instance lifecycle configuration created with the <a>CreateNotebookInstanceLifecycleConfig</a> API.</p>"
    },
    "UpdateTrial": {
      "name": "UpdateTrial",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTrialRequest"
      },
      "output": {
        "shape": "UpdateTrialResponse"
      },
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Updates the display name of a trial.</p>"
    },
    "UpdateTrialComponent": {
      "name": "UpdateTrialComponent",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTrialComponentRequest"
      },
      "output": {
        "shape": "UpdateTrialComponentResponse"
      },
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Updates one or more properties of a trial component.</p>"
    },
    "UpdateUserProfile": {
      "name": "UpdateUserProfile",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateUserProfileRequest"
      },
      "output": {
        "shape": "UpdateUserProfileResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "documentation": "<p>Updates a user profile.</p>"
    },
    "UpdateWorkforce": {
      "name": "UpdateWorkforce",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateWorkforceRequest"
      },
      "output": {
        "shape": "UpdateWorkforceResponse"
      },
      "documentation": "<p>Restricts access to tasks assigned to workers in the specified workforce to those within specific ranges of IP addresses. You specify allowed IP addresses by creating a list of up to four <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html\">CIDRs</a>.</p> <p>By default, a workforce isn't restricted to specific IP addresses. If you specify a range of IP addresses, workers who attempt to access tasks using any IP address outside the specified range are denied access and get a <code>Not Found</code> error message on the worker portal. After restricting access with this operation, you can see the allowed IP values for a private workforce with the operation.</p> <important> <p>This operation applies only to private workforces.</p> </important>"
    },
    "UpdateWorkteam": {
      "name": "UpdateWorkteam",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateWorkteamRequest"
      },
      "output": {
        "shape": "UpdateWorkteamResponse"
      },
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "documentation": "<p>Updates an existing work team with new member definitions or description.</p>"
    }
  },
  "shapes": {
    "Accept": {
      "type": "string",
      "max": 256,
      "pattern": ".*"
    },
    "AccountId": {
      "type": "string",
      "pattern": "^\\d+$"
    },
    "AddTagsInput": {
      "type": "structure",
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "members": {
        "ResourceArn": {
          "shape": "ResourceArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource that you want to tag.</p>"
        },
        "Tags": {
          "shape": "TagList",
          "documentation": "<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>"
        }
      }
    },
    "AddTagsOutput": {
      "type": "structure",
      "members": {
        "Tags": {
          "shape": "TagList",
          "documentation": "<p>A list of tags associated with the Amazon SageMaker resource.</p>"
        }
      }
    },
    "AdditionalCodeRepositoryNamesOrUrls": {
      "type": "list",
      "member": {
        "shape": "CodeRepositoryNameOrUrl"
      },
      "max": 3
    },
    "AlgorithmArn": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:algorithm/.*"
    },
    "AlgorithmImage": {
      "type": "string",
      "max": 255,
      "pattern": ".*"
    },
    "AlgorithmSortBy": {
      "type": "string",
      "enum": [
        "Name",
        "CreationTime"
      ]
    },
    "AlgorithmSpecification": {
      "type": "structure",
      "required": [
        "TrainingInputMode"
      ],
      "members": {
        "TrainingImage": {
          "shape": "AlgorithmImage",
          "documentation": "<p>The registry path of the Docker image that contains the training algorithm. For information about docker registry paths for built-in algorithms, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-algo-docker-registry-paths.html\">Algorithms Provided by Amazon SageMaker: Common Parameters</a>. Amazon SageMaker supports both <code>registry/repository[:tag]</code> and <code>registry/repository[@digest]</code> image path formats. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms.html\">Using Your Own Algorithms with Amazon SageMaker</a>.</p>"
        },
        "AlgorithmName": {
          "shape": "ArnOrName",
          "documentation": "<p>The name of the algorithm resource to use for the training job. This must be an algorithm resource that you created or subscribe to on AWS Marketplace. If you specify a value for this parameter, you can't specify a value for <code>TrainingImage</code>.</p>"
        },
        "TrainingInputMode": {
          "shape": "TrainingInputMode",
          "documentation": "<p>The input mode that the algorithm supports. For the input modes that Amazon SageMaker algorithms support, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. If an algorithm supports the <code>File</code> input mode, Amazon SageMaker downloads the training data from S3 to the provisioned ML storage Volume, and mounts the directory to docker volume for training container. If an algorithm supports the <code>Pipe</code> input mode, Amazon SageMaker streams data directly from S3 to the container. </p> <p> In File mode, make sure you provision ML storage volume with sufficient capacity to accommodate the data download from S3. In addition to the training data, the ML storage volume also stores the output model. The algorithm container use ML storage volume to also store intermediate information, if any. </p> <p> For distributed algorithms using File mode, training data is distributed uniformly, and your training duration is predictable if the input data objects size is approximately same. Amazon SageMaker does not split the files any further for model training. If the object sizes are skewed, training won't be optimal as the data distribution is also skewed where one host in a training cluster is overloaded, thus becoming bottleneck in training. </p>"
        },
        "MetricDefinitions": {
          "shape": "MetricDefinitionList",
          "documentation": "<p>A list of metric definition objects. Each object specifies the metric name and regular expressions used to parse algorithm logs. Amazon SageMaker publishes each metric to Amazon CloudWatch.</p>"
        },
        "EnableSageMakerMetricsTimeSeries": {
          "shape": "Boolean",
          "documentation": "<p>To generate and save time-series metrics during training, set to <code>true</code>. The default is <code>false</code> and time-series metrics aren't generated except in the following cases:</p> <ul> <li> <p>You use one of the Amazon SageMaker built-in algorithms</p> </li> <li> <p>You use one of the following <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/pre-built-containers-frameworks-deep-learning.html\">Prebuilt Amazon SageMaker Docker Images</a>:</p> <ul> <li> <p>Tensorflow (version &gt;= 1.15)</p> </li> <li> <p>MXNet (version &gt;= 1.6)</p> </li> <li> <p>PyTorch (version &gt;= 1.3)</p> </li> </ul> </li> <li> <p>You specify at least one <a>MetricDefinition</a> </p> </li> </ul>"
        }
      },
      "documentation": "<p>Specifies the training algorithm to use in a <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateTrainingJob.html\">CreateTrainingJob</a> request.</p> <p>For more information about algorithms provided by Amazon SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. For information about using your own algorithms, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms.html\">Using Your Own Algorithms with Amazon SageMaker</a>. </p>"
    },
    "AlgorithmStatus": {
      "type": "string",
      "enum": [
        "Pending",
        "InProgress",
        "Completed",
        "Failed",
        "Deleting"
      ]
    },
    "AlgorithmStatusDetails": {
      "type": "structure",
      "members": {
        "ValidationStatuses": {
          "shape": "AlgorithmStatusItemList",
          "documentation": "<p>The status of algorithm validation.</p>"
        },
        "ImageScanStatuses": {
          "shape": "AlgorithmStatusItemList",
          "documentation": "<p>The status of the scan of the algorithm's Docker image container.</p>"
        }
      },
      "documentation": "<p>Specifies the validation and image scan statuses of the algorithm.</p>"
    },
    "AlgorithmStatusItem": {
      "type": "structure",
      "required": [
        "Name",
        "Status"
      ],
      "members": {
        "Name": {
          "shape": "EntityName",
          "documentation": "<p>The name of the algorithm for which the overall status is being reported.</p>"
        },
        "Status": {
          "shape": "DetailedAlgorithmStatus",
          "documentation": "<p>The current status.</p>"
        },
        "FailureReason": {
          "shape": "String",
          "documentation": "<p>if the overall status is <code>Failed</code>, the reason for the failure.</p>"
        }
      },
      "documentation": "<p>Represents the overall status of an algorithm.</p>"
    },
    "AlgorithmStatusItemList": {
      "type": "list",
      "member": {
        "shape": "AlgorithmStatusItem"
      }
    },
    "AlgorithmSummary": {
      "type": "structure",
      "required": [
        "AlgorithmName",
        "AlgorithmArn",
        "CreationTime",
        "AlgorithmStatus"
      ],
      "members": {
        "AlgorithmName": {
          "shape": "EntityName",
          "documentation": "<p>The name of the algorithm that is described by the summary.</p>"
        },
        "AlgorithmArn": {
          "shape": "AlgorithmArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the algorithm.</p>"
        },
        "AlgorithmDescription": {
          "shape": "EntityDescription",
          "documentation": "<p>A brief description of the algorithm.</p>"
        },
        "CreationTime": {
          "shape": "CreationTime",
          "documentation": "<p>A timestamp that shows when the algorithm was created.</p>"
        },
        "AlgorithmStatus": {
          "shape": "AlgorithmStatus",
          "documentation": "<p>The overall status of the algorithm.</p>"
        }
      },
      "documentation": "<p>Provides summary information about an algorithm.</p>"
    },
    "AlgorithmSummaryList": {
      "type": "list",
      "member": {
        "shape": "AlgorithmSummary"
      }
    },
    "AlgorithmValidationProfile": {
      "type": "structure",
      "required": [
        "ProfileName",
        "TrainingJobDefinition"
      ],
      "members": {
[...]
