{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-24",
    "endpointPrefix":"sagemaker",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"SageMaker",
    "serviceFullName":"Amazon SageMaker Service",
    "serviceId":"SageMaker",
    "signatureVersion":"v4",
    "signingName":"sagemaker",
    "targetPrefix":"SageMaker",
    "uid":"sagemaker-2017-07-24"
  },
  "operations":{
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsInput"},
      "output":{"shape":"AddTagsOutput"},
      "documentation":"<p>Adds or overwrites one or more tags for the specified Amazon SageMaker resource. You can add tags to notebook instances, training jobs, models, endpoint configurations, and endpoints. </p> <p>Each tag consists of a key and an optional value. Tag keys must be unique per resource. For more information about tags, see <a href=\"http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>"
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointInput"},
      "output":{"shape":"CreateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Creates an endpoint using the endpoint configuration specified in the request. Amazon SageMaker uses the endpoint to provision resources and deploy models. You create the endpoint configuration with the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpointConfig.html\">CreateEndpointConfig</a> API. </p> <note> <p> Use this API only for hosting models using Amazon SageMaker hosting services. </p> </note> <p>The endpoint name must be unique within an AWS Region in your AWS account. </p> <p>When it receives the request, Amazon SageMaker creates the endpoint, launches the resources (ML compute instances), and deploys the model(s) on them. </p> <p>When Amazon SageMaker receives the request, it sets the endpoint status to <code>Creating</code>. After it creates the endpoint, it sets the status to <code>InService</code>. Amazon SageMaker can then process incoming requests for inferences. To check the status of an endpoint, use the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_DescribeEndpoint.html\">DescribeEndpoint</a> API.</p> <p>For an example, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/ex1.html\">Exercise 1: Using the K-Means Algorithm Provided by Amazon SageMaker</a>. </p> <p>If any of the models hosted at this endpoint get model data from an Amazon S3 location, Amazon SageMaker uses AWS Security Token Service to download model artifacts from the S3 path you provided. AWS STS is activated in your IAM user account by default. If you previously deactivated AWS STS for a region, you need to reactivate AWS STS for that region. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and Deactivating AWS STS i an AWS Region</a> in the <i>AWS Identity and Access Management User Guide</i>.</p>"
    },
    "CreateEndpointConfig":{
      "name":"CreateEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointConfigInput"},
      "output":{"shape":"CreateEndpointConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Creates an endpoint configuration that Amazon SageMaker hosting services uses to deploy models. In the configuration, you identify one or more models, created using the <code>CreateModel</code> API, to deploy and the resources that you want Amazon SageMaker to provision. Then you call the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpoint.html\">CreateEndpoint</a> API.</p> <note> <p> Use this API only if you want to use Amazon SageMaker hosting services to deploy models into production. </p> </note> <p>In the request, you define one or more <code>ProductionVariant</code>s, each of which identifies a model. Each <code>ProductionVariant</code> parameter also describes the resources that you want Amazon SageMaker to provision. This includes the number and type of ML compute instances to deploy. </p> <p>If you are hosting multiple models, you also assign a <code>VariantWeight</code> to specify how much traffic you want to allocate to each model. For example, suppose that you want to host two models, A and B, and you assign traffic weight 2 for model A and 1 for model B. Amazon SageMaker distributes two-thirds of the traffic to Model A, and one-third to model B. </p>"
    },
    "CreateHyperParameterTuningJob":{
      "name":"CreateHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHyperParameterTuningJobRequest"},
      "output":{"shape":"CreateHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Starts a hyperparameter tuning job.</p>"
    },
    "CreateModel":{
      "name":"CreateModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelInput"},
      "output":{"shape":"CreateModelOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Creates a model in Amazon SageMaker. In the request, you name the model and describe one or more containers. For each container, you specify the docker image containing inference code, artifacts (from prior training), and custom environment map that the inference code uses when you deploy the model into production. </p> <p>Use this API to create a model only if you want to use Amazon SageMaker hosting services. To host your model, you create an endpoint configuration with the <code>CreateEndpointConfig</code> API, and then create an endpoint with the <code>CreateEndpoint</code> API. </p> <p>Amazon SageMaker then deploys all of the containers that you defined for the model in the hosting environment. </p> <p>In the <code>CreateModel</code> request, you must define a container with the <code>PrimaryContainer</code> parameter. </p> <p>In the request, you also provide an IAM role that Amazon SageMaker can assume to access model artifacts and docker image for deployment on ML compute hosting instances. In addition, you also use the IAM role to manage permissions the inference code needs. For example, if the inference code access any other AWS resources, you grant necessary permissions via this role.</p>"
    },
    "CreateNotebookInstance":{
      "name":"CreateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceInput"},
      "output":{"shape":"CreateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Creates an Amazon SageMaker notebook instance. A notebook instance is a machine learning (ML) compute instance running on a Jupyter notebook. </p> <p>In a <code>CreateNotebookInstance</code> request, specify the type of ML compute instance that you want to run. Amazon SageMaker launches the instance, installs common libraries that you can use to explore datasets for model training, and attaches an ML storage volume to the notebook instance. </p> <p>Amazon SageMaker also provides a set of example notebooks. Each notebook demonstrates how to use Amazon SageMaker with a specific algorithm or with a machine learning framework. </p> <p>After receiving the request, Amazon SageMaker does the following:</p> <ol> <li> <p>Creates a network interface in the Amazon SageMaker VPC.</p> </li> <li> <p>(Option) If you specified <code>SubnetId</code>, Amazon SageMaker creates a network interface in your own VPC, which is inferred from the subnet ID that you provide in the input. When creating this network interface, Amazon SageMaker attaches the security group that you specified in the request to the network interface that it creates in your VPC.</p> </li> <li> <p>Launches an EC2 instance of the type specified in the request in the Amazon SageMaker VPC. If you specified <code>SubnetId</code> of your VPC, Amazon SageMaker specifies both network interfaces when launching this instance. This enables inbound traffic from your own VPC to the notebook instance, assuming that the security groups allow it.</p> </li> </ol> <p>After creating the notebook instance, Amazon SageMaker returns its Amazon Resource Name (ARN).</p> <p>After Amazon SageMaker creates the notebook instance, you can connect to the Jupyter server and work in Jupyter notebooks. For example, you can write code to explore a dataset that you can use for model training, train a model, host models by creating Amazon SageMaker endpoints, and validate hosted models. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>. </p>"
    },
    "CreateNotebookInstanceLifecycleConfig":{
      "name":"CreateNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"CreateNotebookInstanceLifecycleConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Creates a lifecycle configuration that you can associate with a notebook instance. A <i>lifecycle configuration</i> is a collection of shell scripts that run when you create or start a notebook instance.</p> <p>Each lifecycle configuration script has a limit of 16384 characters.</p> <p>The value of the <code>$PATH</code> environment variable that is available to both scripts is <code>/sbin:bin:/usr/sbin:/usr/bin</code>.</p> <p>View CloudWatch Logs for notebook instance lifecycle configurations in log group <code>/aws/sagemaker/NotebookInstances</code> in log stream <code>[notebook-instance-name]/[LifecycleConfigHook]</code>.</p> <p>Lifecycle configuration scripts cannot run for longer than 5 minutes. If a script runs for longer than 5 minutes, it fails and the notebook instance is not created or started.</p> <p>For information about notebook instance lifestyle configurations, see <a>notebook-lifecycle-config</a>.</p>"
    },
    "CreatePresignedNotebookInstanceUrl":{
      "name":"CreatePresignedNotebookInstanceUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePresignedNotebookInstanceUrlInput"},
      "output":{"shape":"CreatePresignedNotebookInstanceUrlOutput"},
      "documentation":"<p>Returns a URL that you can use to connect to the Jupyter server from a notebook instance. In the Amazon SageMaker console, when you choose <code>Open</code> next to a notebook instance, Amazon SageMaker opens a new tab showing the Jupyter server home page from the notebook instance. The console uses this API to get the URL and show the page. </p>"
    },
    "CreateTrainingJob":{
      "name":"CreateTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrainingJobRequest"},
      "output":{"shape":"CreateTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Starts a model training job. After training completes, Amazon SageMaker saves the resulting model artifacts to an Amazon S3 location that you specify. </p> <p>If you choose to host your model using Amazon SageMaker hosting services, you can use the resulting model artifacts as part of the model. You can also use the artifacts in a deep learning service other than Amazon SageMaker, provided that you know how to use them for inferences. </p> <p>In the request body, you provide the following: </p> <ul> <li> <p> <code>AlgorithmSpecification</code> - Identifies the training algorithm to use. </p> </li> <li> <p> <code>HyperParameters</code> - Specify these algorithm-specific parameters to influence the quality of the final model. For a list of hyperparameters for each training algorithm provided by Amazon SageMaker, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. </p> </li> <li> <p> <code>InputDataConfig</code> - Describes the training dataset and the Amazon S3 location where it is stored.</p> </li> <li> <p> <code>OutputDataConfig</code> - Identifies the Amazon S3 location where you want Amazon SageMaker to save the results of model training. </p> <p/> </li> <li> <p> <code>ResourceConfig</code> - Identifies the resources, ML compute instances, and ML storage volumes to deploy for model training. In distributed training, you specify more than one instance. </p> </li> <li> <p> <code>RoleARN</code> - The Amazon Resource Number (ARN) that Amazon SageMaker assumes to perform tasks on your behalf during model training. You must grant this role the necessary permissions so that Amazon SageMaker can successfully complete model training. </p> </li> <li> <p> <code>StoppingCondition</code> - Sets a duration for training. Use this parameter to cap model training costs. </p> </li> </ul> <p> For more information about Amazon SageMaker, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>. </p>"
    },
    "CreateTransformJob":{
      "name":"CreateTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransformJobRequest"},
      "output":{"shape":"CreateTransformJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Starts a transform job. A transform job uses a trained model to get inferences on a dataset and saves these results to an Amazon S3 location that you specify.</p> <p>To perform batch transformations, you create a transform job and use the data that you have readily available.</p> <p>In the request body, you provide the following:</p> <ul> <li> <p> <code>TransformJobName</code> - Identifies the transform job. The name must be unique within an AWS Region in an AWS account.</p> </li> <li> <p> <code>ModelName</code> - Identifies the model to use. <code>ModelName</code> must be the name of an existing Amazon SageMaker model within an AWS Region in an AWS account.</p> </li> <li> <p> <code>TransformInput</code> - Describes the dataset to be transformed and the Amazon S3 location where it is stored.</p> </li> <li> <p> <code>TransformOutput</code> - Identifies the Amazon S3 location where you want Amazon SageMaker to save the results from the transform job.</p> </li> <li> <p> <code>TransformResources</code> - Identifies the ML compute instances for the transform job.</p> </li> </ul> <p> For more information about how batch transformation works Amazon SageMaker, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/batch-transform.html\">How It Works</a>. </p>"
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointInput"},
      "documentation":"<p>Deletes an endpoint. Amazon SageMaker frees up all of the resources that were deployed when the endpoint was created. </p> <p>Amazon SageMaker retires any custom KMS key grants associated with the endpoint, meaning you don't need to use the <a href=\"http://docs.aws.amazon.com/kms/latest/APIReference/API_RevokeGrant.html\">RevokeGrant</a> API call.</p>"
    },
    "DeleteEndpointConfig":{
      "name":"DeleteEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointConfigInput"},
      "documentation":"<p>Deletes an endpoint configuration. The <code>DeleteEndpointConfig</code> API deletes only the specified configuration. It does not delete endpoints created using the configuration. </p>"
    },
    "DeleteModel":{
      "name":"DeleteModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelInput"},
      "documentation":"<p>Deletes a model. The <code>DeleteModel</code> API deletes only the model entry that was created in Amazon SageMaker when you called the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateModel.html\">CreateModel</a> API. It does not delete model artifacts, inference code, or the IAM role that you specified when creating the model. </p>"
    },
    "DeleteNotebookInstance":{
      "name":"DeleteNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceInput"},
      "documentation":"<p> Deletes an Amazon SageMaker notebook instance. Before you can delete a notebook instance, you must call the <code>StopNotebookInstance</code> API. </p> <important> <p>When you delete a notebook instance, you lose all of your data. Amazon SageMaker removes the ML compute instance, and deletes the ML storage volume and the network interface associated with the notebook instance. </p> </important>"
    },
    "DeleteNotebookInstanceLifecycleConfig":{
      "name":"DeleteNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceLifecycleConfigInput"},
      "documentation":"<p>Deletes a notebook instance lifecycle configuration.</p>"
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsInput"},
      "output":{"shape":"DeleteTagsOutput"},
      "documentation":"<p>Deletes the specified tags from an Amazon SageMaker resource.</p> <p>To list a resource's tags, use the <code>ListTags</code> API. </p>"
    },
    "DescribeEndpoint":{
      "name":"DescribeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointInput"},
      "output":{"shape":"DescribeEndpointOutput"},
      "documentation":"<p>Returns the description of an endpoint.</p>"
    },
    "DescribeEndpointConfig":{
      "name":"DescribeEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointConfigInput"},
      "output":{"shape":"DescribeEndpointConfigOutput"},
      "documentation":"<p>Returns the description of an endpoint configuration created using the <code>CreateEndpointConfig</code> API.</p>"
    },
    "DescribeHyperParameterTuningJob":{
      "name":"DescribeHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHyperParameterTuningJobRequest"},
      "output":{"shape":"DescribeHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "documentation":"<p>Gets a description of a hyperparameter tuning job.</p>"
    },
    "DescribeModel":{
      "name":"DescribeModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelInput"},
      "output":{"shape":"DescribeModelOutput"},
      "documentation":"<p>Describes a model that you created using the <code>CreateModel</code> API.</p>"
    },
    "DescribeNotebookInstance":{
      "name":"DescribeNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceInput"},
      "output":{"shape":"DescribeNotebookInstanceOutput"},
      "documentation":"<p>Returns information about a notebook instance.</p>"
    },
    "DescribeNotebookInstanceLifecycleConfig":{
      "name":"DescribeNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"DescribeNotebookInstanceLifecycleConfigOutput"},
      "documentation":"<p>Returns a description of a notebook instance lifecycle configuration.</p> <p>For information about notebook instance lifestyle configurations, see <a>notebook-lifecycle-config</a>.</p>"
    },
    "DescribeTrainingJob":{
      "name":"DescribeTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrainingJobRequest"},
      "output":{"shape":"DescribeTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "documentation":"<p>Returns information about a training job.</p>"
    },
    "DescribeTransformJob":{
      "name":"DescribeTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTransformJobRequest"},
      "output":{"shape":"DescribeTransformJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "documentation":"<p>Returns information about a transform job.</p>"
    },
    "ListEndpointConfigs":{
      "name":"ListEndpointConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointConfigsInput"},
      "output":{"shape":"ListEndpointConfigsOutput"},
      "documentation":"<p>Lists endpoint configurations.</p>"
    },
    "ListEndpoints":{
      "name":"ListEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointsInput"},
      "output":{"shape":"ListEndpointsOutput"},
      "documentation":"<p>Lists endpoints.</p>"
    },
    "ListHyperParameterTuningJobs":{
      "name":"ListHyperParameterTuningJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHyperParameterTuningJobsRequest"},
      "output":{"shape":"ListHyperParameterTuningJobsResponse"},
      "documentation":"<p>Gets a list of <a>HyperParameterTuningJobSummary</a> objects that describe the hyperparameter tuning jobs launched in your account.</p>"
    },
    "ListModels":{
      "name":"ListModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelsInput"},
      "output":{"shape":"ListModelsOutput"},
      "documentation":"<p>Lists models created with the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateModel.html\">CreateModel</a> API.</p>"
    },
    "ListNotebookInstanceLifecycleConfigs":{
      "name":"ListNotebookInstanceLifecycleConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstanceLifecycleConfigsInput"},
      "output":{"shape":"ListNotebookInstanceLifecycleConfigsOutput"},
      "documentation":"<p>Lists notebook instance lifestyle configurations created with the <a>CreateNotebookInstanceLifecycleConfig</a> API.</p>"
    },
    "ListNotebookInstances":{
      "name":"ListNotebookInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstancesInput"},
      "output":{"shape":"ListNotebookInstancesOutput"},
      "documentation":"<p>Returns a list of the Amazon SageMaker notebook instances in the requester's account in an AWS Region. </p>"
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsInput"},
      "output":{"shape":"ListTagsOutput"},
      "documentation":"<p>Returns the tags for the specified Amazon SageMaker resource.</p>"
    },
    "ListTrainingJobs":{
      "name":"ListTrainingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsRequest"},
      "output":{"shape":"ListTrainingJobsResponse"},
      "documentation":"<p>Lists training jobs.</p>"
    },
    "ListTrainingJobsForHyperParameterTuningJob":{
      "name":"ListTrainingJobsForHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsForHyperParameterTuningJobRequest"},
      "output":{"shape":"ListTrainingJobsForHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "documentation":"<p>Gets a list of <a>TrainingJobSummary</a> objects that describe the training jobs that a hyperparameter tuning job launched.</p>"
    },
    "ListTransformJobs":{
      "name":"ListTransformJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTransformJobsRequest"},
      "output":{"shape":"ListTransformJobsResponse"},
      "documentation":"<p>Lists transform jobs.</p>"
    },
    "StartNotebookInstance":{
      "name":"StartNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartNotebookInstanceInput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Launches an ML compute instance with the latest version of the libraries and attaches your ML storage volume. After configuring the notebook instance, Amazon SageMaker sets the notebook instance status to <code>InService</code>. A notebook instance's status must be <code>InService</code> before you can connect to your Jupyter notebook. </p>"
    },
    "StopHyperParameterTuningJob":{
      "name":"StopHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopHyperParameterTuningJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "documentation":"<p>Stops a running hyperparameter tuning job and all running training jobs that the tuning job launched.</p> <p>All model artifacts output from the training jobs are stored in Amazon Simple Storage Service (Amazon S3). All data that the training jobs write to Amazon CloudWatch Logs are still available in CloudWatch. After the tuning job moves to the <code>Stopped</code> state, it releases all reserved resources for the tuning job.</p>"
    },
    "StopNotebookInstance":{
      "name":"StopNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopNotebookInstanceInput"},
      "documentation":"<p>Terminates the ML compute instance. Before terminating the instance, Amazon SageMaker disconnects the ML storage volume from it. Amazon SageMaker preserves the ML storage volume. </p> <p>To access data on the ML storage volume for a notebook instance that has been terminated, call the <code>StartNotebookInstance</code> API. <code>StartNotebookInstance</code> launches another ML compute instance, configures it, and attaches the preserved ML storage volume so you can continue your work. </p>"
    },
    "StopTrainingJob":{
      "name":"StopTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "documentation":"<p>Stops a training job. To stop a job, Amazon SageMaker sends the algorithm the <code>SIGTERM</code> signal, which delays job termination for 120 seconds. Algorithms might use this 120-second window to save the model artifacts, so the results of the training is not lost. </p> <p>Training algorithms provided by Amazon SageMaker save the intermediate results of a model training job. This intermediate data is a valid model artifact. You can use the model artifacts that are saved when Amazon SageMaker stops a training job to create a model. </p> <p>When it receives a <code>StopTrainingJob</code> request, Amazon SageMaker changes the status of the job to <code>Stopping</code>. After Amazon SageMaker stops the job, it sets the status to <code>Stopped</code>.</p>"
    },
    "StopTransformJob":{
      "name":"StopTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTransformJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "documentation":"<p>Stops a transform job.</p> <p>When Amazon SageMaker receives a <code>StopTransformJob</code> request, the status of the job changes to <code>Stopping</code>. After Amazon SageMaker stops the job, the status is set to <code>Stopped</code>. When you stop a transform job before it is completed, Amazon SageMaker doesn't store the job's output in Amazon S3.</p>"
    },
    "UpdateEndpoint":{
      "name":"UpdateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointInput"},
      "output":{"shape":"UpdateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p> Deploys the new <code>EndpointConfig</code> specified in the request, switches to using newly created endpoint, and then deletes resources provisioned for the endpoint using the previous <code>EndpointConfig</code> (there is no availability loss). </p> <p>When Amazon SageMaker receives the request, it sets the endpoint status to <code>Updating</code>. After updating the endpoint, it sets the status to <code>InService</code>. To check the status of an endpoint, use the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_DescribeEndpoint.html\">DescribeEndpoint</a> API. </p> <note> <p>You cannot update an endpoint with the current <code>EndpointConfig</code>. To update an endpoint, you must create a new <code>EndpointConfig</code>.</p> </note>"
    },
    "UpdateEndpointWeightsAndCapacities":{
      "name":"UpdateEndpointWeightsAndCapacities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointWeightsAndCapacitiesInput"},
      "output":{"shape":"UpdateEndpointWeightsAndCapacitiesOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Updates variant weight of one or more variants associated with an existing endpoint, or capacity of one variant associated with an existing endpoint. When it receives the request, Amazon SageMaker sets the endpoint status to <code>Updating</code>. After updating the endpoint, it sets the status to <code>InService</code>. To check the status of an endpoint, use the <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_DescribeEndpoint.html\">DescribeEndpoint</a> API. </p>"
    },
    "UpdateNotebookInstance":{
      "name":"UpdateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookInstanceInput"},
      "output":{"shape":"UpdateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Updates a notebook instance. NotebookInstance updates include upgrading or downgrading the ML compute instance used for your notebook instance to accommodate changes in your workload requirements. You can also update the VPC security groups.</p>"
    },
    "UpdateNotebookInstanceLifecycleConfig":{
      "name":"UpdateNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"UpdateNotebookInstanceLifecycleConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "documentation":"<p>Updates a notebook instance lifecycle configuration created with the <a>CreateNotebookInstanceLifecycleConfig</a> API.</p>"
    }
  },
  "shapes":{
    "Accept":{
      "type":"string",
      "max":256
    },
    "AddTagsInput":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource that you want to tag.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of <code>Tag</code> objects. Each tag is a key-value pair. Only the <code>key</code> parameter is required. If you don't specify a value, Amazon SageMaker sets the value to an empty string. </p>"
        }
      }
    },
    "AddTagsOutput":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags associated with the Amazon SageMaker resource.</p>"
        }
      }
    },
    "AlgorithmImage":{
      "type":"string",
      "max":255
    },
    "AlgorithmSpecification":{
      "type":"structure",
      "required":[
        "TrainingImage",
        "TrainingInputMode"
      ],
      "members":{
        "TrainingImage":{
          "shape":"AlgorithmImage",
          "documentation":"<p>The registry path of the Docker image that contains the training algorithm. For information about docker registry paths for built-in algorithms, see <a>sagemaker-algo-docker-registry-paths</a>.</p>"
        },
        "TrainingInputMode":{
          "shape":"TrainingInputMode",
          "documentation":"<p>The input mode that the algorithm supports. For the input modes that Amazon SageMaker algorithms support, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. If an algorithm supports the <code>File</code> input mode, Amazon SageMaker downloads the training data from S3 to the provisioned ML storage Volume, and mounts the directory to docker volume for training container. If an algorithm supports the <code>Pipe</code> input mode, Amazon SageMaker streams data directly from S3 to the container. </p> <p> In File mode, make sure you provision ML storage volume with sufficient capacity to accommodate the data download from S3. In addition to the training data, the ML storage volume also stores the output model. The algorithm container use ML storage volume to also store intermediate information, if any. </p> <p> For distributed algorithms using File mode, training data is distributed uniformly, and your training duration is predictable if the input data objects size is approximately same. Amazon SageMaker does not split the files any further for model training. If the object sizes are skewed, training won't be optimal as the data distribution is also skewed where one host in a training cluster is overloaded, thus becoming bottleneck in training. </p>"
        }
      },
      "documentation":"<p>Specifies the training algorithm to use in a <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateTrainingJob.html\">CreateTrainingJob</a> request.</p> <p>For more information about algorithms provided by Amazon SageMaker, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. For information about using your own algorithms, see <a>your-algorithms</a>. </p>"
    },
    "AssemblyType":{
      "type":"string",
      "enum":[
        "None",
        "Line"
      ]
    },
    "BatchStrategy":{
      "type":"string",
      "enum":[
        "MultiRecord",
        "SingleRecord"
      ]
    },
    "CategoricalParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{
          "shape":"ParameterKey",
          "documentation":"<p>The name of the categorical hyperparameter to tune.</p>"
        },
        "Values":{
          "shape":"ParameterValues",
          "documentation":"<p>A list of the categories for the hyperparameter.</p>"
        }
      },
      "documentation":"<p>A list of categorical hyperparameters to tune.</p>"
    },
    "CategoricalParameterRanges":{
      "type":"list",
      "member":{"shape":"CategoricalParameterRange"},
      "max":20,
      "min":0
    },
    "Channel":{
      "type":"structure",
      "required":[
        "ChannelName",
        "DataSource"
      ],
      "members":{
        "ChannelName":{
          "shape":"ChannelName",
          "documentation":"<p>The name of the channel. </p>"
        },
        "DataSource":{
          "shape":"DataSource",
          "documentation":"<p>The location of the channel data.</p>"
        },
        "ContentType":{
          "shape":"ContentType",
          "documentation":"<p>The MIME type of the data.</p>"
        },
        "CompressionType":{
          "shape":"CompressionType",
          "documentation":"<p>If training data is compressed, the compression type. The default value is <code>None</code>. <code>CompressionType</code> is used only in Pipe input mode. In File mode, leave this field unset or set it to None.</p>"
        },
        "RecordWrapperType":{
          "shape":"RecordWrapper",
          "documentation":"<p/> <p>Specify RecordIO as the value when input data is in raw format but the training algorithm requires the RecordIO format, in which case, Amazon SageMaker wraps each individual S3 object in a RecordIO record. If the input data is already in RecordIO format, you don't need to set this attribute. For more information, see <a href=\"https://mxnet.incubator.apache.org/how_to/recordio.html?highlight=im2rec\">Create a Dataset Using RecordIO</a>. </p> <p>In FILE mode, leave this field unset or set it to None.</p> <p/>"
        }
      },
      "documentation":"<p>A channel is a named input source that training algorithms can consume. </p>"
    },
    "ChannelName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9\\.\\-_]+"
    },
    "CompressionType":{
      "type":"string",
      "enum":[
        "None",
        "Gzip"
      ]
    },
    "ContainerDefinition":{
      "type":"structure",
      "required":["Image"],
      "members":{
        "ContainerHostname":{
          "shape":"ContainerHostname",
          "documentation":"<p>The DNS host name for the container after Amazon SageMaker deploys it.</p>"
        },
        "Image":{
          "shape":"Image",
          "documentation":"<p>The Amazon EC2 Container Registry (Amazon ECR) path where inference code is stored. If you are using your own custom algorithm instead of an algorithm provided by Amazon SageMaker, the inference code must meet Amazon SageMaker requirements. Amazon SageMaker supports both <code>registry/repository[:tag]</code> and <code>registry/repository[@digest]</code> image path formats. For more information, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms.html\">Using Your Own Algorithms with Amazon SageMaker</a> </p>"
        },
        "ModelDataUrl":{
          "shape":"Url",
          "documentation":"<p>The S3 path where the model artifacts, which result from model training, are stored. This path must point to a single gzip compressed tar archive (.tar.gz suffix). </p> <p>If you provide a value for this parameter, Amazon SageMaker uses AWS Security Token Service to download model artifacts from the S3 path you provide. AWS STS is activated in your IAM user account by default. If you previously deactivated AWS STS for a region, you need to reactivate AWS STS for that region. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and Deactivating AWS STS i an AWS Region</a> in the <i>AWS Identity and Access Management User Guide</i>.</p>"
        },
        "Environment":{
          "shape":"EnvironmentMap",
          "documentation":"<p>The environment variables to set in the Docker container. Each key and value in the <code>Environment</code> string to string map can have length of up to 1024. We support up to 16 entries in the map. </p>"
        }
      },
      "documentation":"<p>Describes the container, as part of model definition.</p>"
    },
    "ContainerHostname":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ContentType":{
      "type":"string",
      "max":256
    },
    "ContinuousParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "Name":{
          "shape":"ParameterKey",
          "documentation":"<p>The name of the continuous hyperparameter to tune.</p>"
        },
        "MinValue":{
          "shape":"ParameterValue",
          "documentation":"<p>The minimum value for the hyperparameter. The tuning job uses floating-point values between this value and <code>MaxValue</code>for tuning.</p>"
        },
        "MaxValue":{
          "shape":"ParameterValue",
          "documentation":"<p>The maximum value for the hyperparameter. The tuning job uses floating-point values between <code>MinValue</code> value and this value for tuning.</p>"
        }
      },
      "documentation":"<p>A list of continuous hyperparameters to tune.</p>"
    },
    "ContinuousParameterRanges":{
      "type":"list",
      "member":{"shape":"ContinuousParameterRange"},
      "max":20,
      "min":0
    },
    "CreateEndpointConfigInput":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "ProductionVariants"
      ],
      "members":{
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>The name of the endpoint configuration. You specify this name in a <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpoint.html\">CreateEndpoint</a> request. </p>"
        },
        "ProductionVariants":{
          "shape":"ProductionVariantList",
          "documentation":"<p>An array of <code>ProductionVariant</code> objects, one for each model that you want to host at this endpoint.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of key-value pairs. For more information, see <a href=\"http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>"
        },
        "KmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>The Amazon Resource Name (ARN) of a AWS Key Management Service key that Amazon SageMaker uses to encrypt data on the storage volume attached to the ML compute instance that hosts the endpoint.</p>"
        }
      }
    },
    "CreateEndpointConfigOutput":{
      "type":"structure",
      "required":["EndpointConfigArn"],
      "members":{
        "EndpointConfigArn":{
          "shape":"EndpointConfigArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint configuration. </p>"
        }
      }
    },
    "CreateEndpointInput":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointConfigName"
      ],
      "members":{
        "EndpointName":{
          "shape":"EndpointName",
          "documentation":"<p>The name of the endpoint. The name must be unique within an AWS Region in your AWS account.</p>"
        },
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>The name of an endpoint configuration. For more information, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpointConfig.html\">CreateEndpointConfig</a>. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of key-value pairs. For more information, see <a href=\"http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a>in the <i>AWS Billing and Cost Management User Guide</i>. </p>"
        }
      }
    },
    "CreateEndpointOutput":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{
          "shape":"EndpointArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint.</p>"
        }
      }
    },
    "CreateHyperParameterTuningJobRequest":{
      "type":"structure",
      "required":[
        "HyperParameterTuningJobName",
        "HyperParameterTuningJobConfig",
        "TrainingJobDefinition"
      ],
      "members":{
        "HyperParameterTuningJobName":{
          "shape":"HyperParameterTuningJobName",
          "documentation":"<p>The name of the tuning job. This name is the prefix for the names of all training jobs that this tuning job launches. The name must be unique within the same AWS account and AWS Region. Names are not case sensitive, and must be between 1-32 characters.</p>"
        },
        "HyperParameterTuningJobConfig":{
          "shape":"HyperParameterTuningJobConfig",
          "documentation":"<p>The <a>HyperParameterTuningJobConfig</a> object that describes the tuning job, including the search strategy, metric used to evaluate training jobs, ranges of parameters to search, and resource limits for the tuning job.</p>"
        },
        "TrainingJobDefinition":{
          "shape":"HyperParameterTrainingJobDefinition",
          "documentation":"<p>The <a>HyperParameterTrainingJobDefinition</a> object that describes the training jobs that this tuning job launches, including static hyperparameters, input data configuration, output data configuration, resource configuration, and stopping condition.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of key-value pairs. You can use tags to categorize your AWS resources in different ways, for example, by purpose, owner, or environment. For more information, see <a href=\"http://docs.aws.amazon.com//awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p>"
        }
      }
    },
    "CreateHyperParameterTuningJobResponse":{
      "type":"structure",
      "required":["HyperParameterTuningJobArn"],
      "members":{
        "HyperParameterTuningJobArn":{
          "shape":"HyperParameterTuningJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the tuning job.</p>"
        }
      }
    },
    "CreateModelInput":{
      "type":"structure",
      "required":[
        "ModelName",
        "PrimaryContainer",
        "ExecutionRoleArn"
      ],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the new model.</p>"
        },
        "PrimaryContainer":{
          "shape":"ContainerDefinition",
          "documentation":"<p>The location of the primary docker image containing inference code, associated artifacts, and custom environment map that the inference code uses when the model is deployed into production. </p>"
        },
        "ExecutionRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that Amazon SageMaker can assume to access model artifacts and docker image for deployment on ML compute instances. Deploying on ML compute instances is part of model hosting. For more information, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-roles.html\">Amazon SageMaker Roles</a>. </p> <note> <p>To be able to pass this role to Amazon SageMaker, the caller of this API must have the <code>iam:PassRole</code> permission.</p> </note>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of key-value pairs. For more information, see <a href=\"http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>"
        },
        "VpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>A <a>VpcConfig</a> object that specifies the VPC that you want your model to connect to. Control access to and from your model container by configuring the VPC. For more information, see <a>host-vpc</a>.</p>"
        }
      }
    },
    "CreateModelOutput":{
      "type":"structure",
      "required":["ModelArn"],
      "members":{
        "ModelArn":{
          "shape":"ModelArn",
          "documentation":"<p>The ARN of the model created in Amazon SageMaker.</p>"
        }
      }
    },
    "CreateNotebookInstanceInput":{
      "type":"structure",
      "required":[
        "NotebookInstanceName",
        "InstanceType",
        "RoleArn"
      ],
      "members":{
        "NotebookInstanceName":{
          "shape":"NotebookInstanceName",
          "documentation":"<p>The name of the new notebook instance.</p>"
        },
        "InstanceType":{
          "shape":"InstanceType",
          "documentation":"<p>The type of ML compute instance to launch for the notebook instance.</p>"
        },
        "SubnetId":{
          "shape":"SubnetId",
          "documentation":"<p>The ID of the subnet in a VPC to which you would like to have a connectivity from your ML compute instance. </p>"
        },
        "SecurityGroupIds":{
          "shape":"SecurityGroupIds",
          "documentation":"<p>The VPC security group IDs, in the form sg-xxxxxxxx. The security groups must be for the same VPC as specified in the subnet. </p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p> When you send any requests to AWS resources from the notebook instance, Amazon SageMaker assumes this role to perform tasks on your behalf. You must grant this role necessary permissions so Amazon SageMaker can perform these tasks. The policy must allow the Amazon SageMaker service principal (sagemaker.amazonaws.com) permissions to assume this role. For more information, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-roles.html\">Amazon SageMaker Roles</a>. </p> <note> <p>To be able to pass this role to Amazon SageMaker, the caller of this API must have the <code>iam:PassRole</code> permission.</p> </note>"
        },
        "KmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p> If you provide a AWS KMS key ID, Amazon SageMaker uses it to encrypt data at rest on the ML storage volume that is attached to your notebook instance. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags to associate with the notebook instance. You can add tags later by using the <code>CreateTags</code> API.</p>"
        },
        "LifecycleConfigName":{
          "shape":"NotebookInstanceLifecycleConfigName",
          "documentation":"<p>The name of a lifecycle configuration to associate with the notebook instance. For information about lifestyle configurations, see <a>notebook-lifecycle-config</a>.</p>"
        },
        "DirectInternetAccess":{
          "shape":"DirectInternetAccess",
          "documentation":"<p>Sets whether Amazon SageMaker provides internet access to the notebook instance. If you set this to <code>Disabled</code> this notebook instance will be able to access resources only in your VPC, and will not be able to connect to Amazon SageMaker training and endpoint services unless your configure a NAT Gateway in your VPC.</p> <p>For more information, see <a>appendix-notebook-and-internet-access</a>. You can set the value of this parameter to <code>Disabled</code> only if you set a value for the <code>SubnetId</code> parameter.</p>"
        }
      }
    },
    "CreateNotebookInstanceLifecycleConfigInput":{
      "type":"structure",
      "required":["NotebookInstanceLifecycleConfigName"],
      "members":{
        "NotebookInstanceLifecycleConfigName":{
          "shape":"NotebookInstanceLifecycleConfigName",
          "documentation":"<p>The name of the lifecycle configuration.</p>"
        },
        "OnCreate":{
          "shape":"NotebookInstanceLifecycleConfigList",
          "documentation":"<p>A shell script that runs only once, when you create a notebook instance.</p>"
        },
        "OnStart":{
          "shape":"NotebookInstanceLifecycleConfigList",
          "documentation":"<p>A shell script that runs every time you start a notebook instance, including when you create the notebook instance.</p>"
        }
      }
    },
    "CreateNotebookInstanceLifecycleConfigOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceLifecycleConfigArn":{
          "shape":"NotebookInstanceLifecycleConfigArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the lifecycle configuration.</p>"
        }
      }
    },
    "CreateNotebookInstanceOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceArn":{
          "shape":"NotebookInstanceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the notebook instance. </p>"
        }
      }
    },
    "CreatePresignedNotebookInstanceUrlInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{
          "shape":"NotebookInstanceName",
          "documentation":"<p>The name of the notebook instance.</p>"
        },
        "SessionExpirationDurationInSeconds":{
          "shape":"SessionExpirationDurationInSeconds",
          "documentation":"<p>The duration of the session, in seconds. The default is 12 hours.</p>"
        }
      }
    },
    "CreatePresignedNotebookInstanceUrlOutput":{
      "type":"structure",
      "members":{
        "AuthorizedUrl":{
          "shape":"NotebookInstanceUrl",
          "documentation":"<p>A JSON object that contains the URL string. </p>"
        }
      }
    },
    "CreateTrainingJobRequest":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "AlgorithmSpecification",
        "RoleArn",
        "InputDataConfig",
        "OutputDataConfig",
        "ResourceConfig",
        "StoppingCondition"
      ],
      "members":{
        "TrainingJobName":{
          "shape":"TrainingJobName",
          "documentation":"<p>The name of the training job. The name must be unique within an AWS Region in an AWS account. </p>"
        },
        "HyperParameters":{
          "shape":"HyperParameters",
          "documentation":"<p>Algorithm-specific parameters that influence the quality of the model. You set hyperparameters before you start the learning process. For a list of hyperparameters for each training algorithm provided by Amazon SageMaker, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. </p> <p>You can specify a maximum of 100 hyperparameters. Each hyperparameter is a key-value pair. Each key and value is limited to 256 characters, as specified by the <code>Length Constraint</code>. </p>"
        },
        "AlgorithmSpecification":{
          "shape":"AlgorithmSpecification",
          "documentation":"<p>The registry path of the Docker image that contains the training algorithm and algorithm-specific metadata, including the input mode. For more information about algorithms provided by Amazon SageMaker, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. For information about providing your own algorithms, see <a>your-algorithms</a>. </p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an IAM role that Amazon SageMaker can assume to perform tasks on your behalf. </p> <p>During model training, Amazon SageMaker needs your permission to read input data from an S3 bucket, download a Docker image that contains training code, write model artifacts to an S3 bucket, write logs to Amazon CloudWatch Logs, and publish metrics to Amazon CloudWatch. You grant permissions for all of these tasks to an IAM role. For more information, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-roles.html\">Amazon SageMaker Roles</a>. </p> <note> <p>To be able to pass this role to Amazon SageMaker, the caller of this API must have the <code>iam:PassRole</code> permission.</p> </note>"
        },
        "InputDataConfig":{
          "shape":"InputDataConfig",
          "documentation":"<p>An array of <code>Channel</code> objects. Each channel is a named input source. <code>InputDataConfig</code> describes the input data and its location. </p> <p>Algorithms can accept input data from one or more channels. For example, an algorithm might have two channels of input data, <code>training_data</code> and <code>validation_data</code>. The configuration for each channel provides the S3 location where the input data is stored. It also provides information about the stored data: the MIME type, compression method, and whether the data is wrapped in RecordIO format. </p> <p>Depending on the input mode that the algorithm supports, Amazon SageMaker either copies input data files from an S3 bucket to a local directory in the Docker container, or makes it available as input streams. </p>"
        },
        "OutputDataConfig":{
          "shape":"OutputDataConfig",
          "documentation":"<p>Specifies the path to the S3 bucket where you want to store model artifacts. Amazon SageMaker creates subfolders for the artifacts. </p>"
        },
        "ResourceConfig":{
          "shape":"ResourceConfig",
          "documentation":"<p>The resources, including the ML compute instances and ML storage volumes, to use for model training. </p> <p>ML storage volumes store model artifacts and incremental states. Training algorithms might also use ML storage volumes for scratch space. If you want Amazon SageMaker to use the ML storage volume to store the training data, choose <code>File</code> as the <code>TrainingInputMode</code> in the algorithm specification. For distributed training algorithms, specify an instance count greater than 1.</p>"
        },
        "VpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>A <a>VpcConfig</a> object that specifies the VPC that you want your training job to connect to. Control access to and from your training container by configuring the VPC. For more information, see <a>train-vpc</a> </p>"
        },
        "StoppingCondition":{
          "shape":"StoppingCondition",
          "documentation":"<p>Sets a duration for training. Use this parameter to cap model training costs. To stop a job, Amazon SageMaker sends the algorithm the <code>SIGTERM</code> signal, which delays job termination for 120 seconds. Algorithms might use this 120-second window to save the model artifacts. </p> <p>When Amazon SageMaker terminates a job because the stopping condition has been met, training algorithms provided by Amazon SageMaker save the intermediate results of the job. This intermediate data is a valid model artifact. You can use it to create a model using the <code>CreateModel</code> API. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of key-value pairs. For more information, see <a href=\"http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>"
        }
      }
    },
    "CreateTrainingJobResponse":{
      "type":"structure",
      "required":["TrainingJobArn"],
      "members":{
        "TrainingJobArn":{
          "shape":"TrainingJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the training job.</p>"
        }
      }
    },
    "CreateTransformJobRequest":{
      "type":"structure",
      "required":[
        "TransformJobName",
        "ModelName",
        "TransformInput",
        "TransformOutput",
        "TransformResources"
      ],
      "members":{
        "TransformJobName":{
          "shape":"TransformJobName",
          "documentation":"<p>The name of the transform job. The name must be unique within an AWS Region in an AWS account. </p>"
        },
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the model that you want to use for the transform job. <code>ModelName</code> must be the name of an existing Amazon SageMaker model within an AWS Region in an AWS account.</p>"
        },
        "MaxConcurrentTransforms":{
          "shape":"MaxConcurrentTransforms",
          "documentation":"<p>The maximum number of parallel requests that can be sent to each instance in a transform job. This is good for algorithms that implement multiple workers on larger instances . The default value is <code>1</code>. To allow Amazon SageMaker to determine the appropriate number for <code>MaxConcurrentTransforms</code>, set the value to <code>0</code>.</p>"
        },
        "MaxPayloadInMB":{
          "shape":"MaxPayloadInMB",
          "documentation":"<p>The maximum payload size allowed, in MB. A payload is the data portion of a record (without metadata). The value in <code>MaxPayloadInMB</code> must be greater or equal to the size of a single record. You can approximate the size of a record by dividing the size of your dataset by the number of records. Then multiply this value by the number of records you want in a mini-batch. It is recommended to enter a value slightly larger than this to ensure the records fit within the maximum payload size. The default value is <code>6</code> MB. For an unlimited payload size, set the value to <code>0</code>.</p>"
        },
        "BatchStrategy":{
          "shape":"BatchStrategy",
          "documentation":"<p>Determines the number of records included in a single mini-batch. <code>SingleRecord</code> means only one record is used per mini-batch. <code>MultiRecord</code> means a mini-batch is set to contain as many records that can fit within the <code>MaxPayloadInMB</code> limit.</p> <p>Batch transform will automatically split your input data into whatever payload size is specified if you set <code>SplitType</code> to <code>Line</code> and <code>BatchStrategy</code> to <code>MultiRecord</code>. There's no need to split the dataset into smaller files or to use larger payload sizes unless the records in your dataset are very large.</p>"
        },
        "Environment":{
          "shape":"TransformEnvironmentMap",
          "documentation":"<p>The environment variables to set in the Docker container. We support up to 16 key and values entries in the map.</p>"
        },
        "TransformInput":{
          "shape":"TransformInput",
          "documentation":"<p>Describes the input source and the way the transform job consumes it.</p>"
        },
        "TransformOutput":{
          "shape":"TransformOutput",
          "documentation":"<p>Describes the results of the transform job.</p>"
        },
        "TransformResources":{
          "shape":"TransformResources",
          "documentation":"<p>Describes the resources, including ML instance types and ML instance count, to use for the transform job.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of key-value pairs. Adding tags is optional. For more information, see <a href=\"http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html#allocation-what\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p>"
        }
      }
    },
    "CreateTransformJobResponse":{
      "type":"structure",
      "required":["TransformJobArn"],
      "members":{
        "TransformJobArn":{
          "shape":"TransformJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the transform job.</p>"
        }
      }
    },
    "CreationTime":{"type":"timestamp"},
    "DataSource":{
      "type":"structure",
      "required":["S3DataSource"],
      "members":{
        "S3DataSource":{
          "shape":"S3DataSource",
          "documentation":"<p>The S3 location of the data source that is associated with a channel.</p>"
        }
      },
      "documentation":"<p>Describes the location of the channel data.</p>"
    },
    "DeleteEndpointConfigInput":{
      "type":"structure",
      "required":["EndpointConfigName"],
      "members":{
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>The name of the endpoint configuration that you want to delete.</p>"
        }
      }
    },
    "DeleteEndpointInput":{
      "type":"structure",
      "required":["EndpointName"],
      "members":{
        "EndpointName":{
          "shape":"EndpointName",
          "documentation":"<p>The name of the endpoint that you want to delete.</p>"
        }
      }
    },
    "DeleteModelInput":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the model to delete.</p>"
        }
      }
    },
    "DeleteNotebookInstanceInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{
          "shape":"NotebookInstanceName",
          "documentation":"<p>The name of the Amazon SageMaker notebook instance to delete.</p>"
        }
      }
    },
    "DeleteNotebookInstanceLifecycleConfigInput":{
      "type":"structure",
      "required":["NotebookInstanceLifecycleConfigName"],
      "members":{
        "NotebookInstanceLifecycleConfigName":{
          "shape":"NotebookInstanceLifecycleConfigName",
          "documentation":"<p>The name of the lifecycle configuration to delete.</p>"
        }
      }
    },
    "DeleteTagsInput":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "TagKeys"
      ],
      "members":{
        "ResourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource whose tags you want to delete.</p>"
        },
        "TagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p>An array or one or more tag keys to delete.</p>"
        }
      }
    },
    "DeleteTagsOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeployedImage":{
      "type":"structure",
      "members":{
        "SpecifiedImage":{
          "shape":"Image",
          "documentation":"<p>The image path you specified when you created the model.</p>"
        },
        "ResolvedImage":{
          "shape":"Image",
          "documentation":"<p>The specific digest path of the image hosted in this <code>ProductionVariant</code>.</p>"
        },
        "ResolutionTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time when the image path for the model resolved to the <code>ResolvedImage</code> </p>"
        }
      },
      "documentation":"<p>Gets the Amazon EC2 Container Registry path of the docker image of the model that is hosted in this <a>ProductionVariant</a>.</p> <p>If you used the <code>registry/repository[:tag]</code> form to to specify the image path of the primary container when you created the model hosted in this <code>ProductionVariant</code>, the path resolves to a path of the form <code>registry/repository[@digest]</code>. A digest is a hash value that identifies a specific version of an image. For information about Amazon ECR paths, see <a href=\"http://docs.aws.amazon.com//AmazonECR/latest/userguide/docker-pull-ecr-image.html\">Pulling an Image</a> in the <i>Amazon ECR User Guide</i>.</p>"
    },
    "DeployedImages":{
      "type":"list",
      "member":{"shape":"DeployedImage"}
    },
    "DescribeEndpointConfigInput":{
      "type":"structure",
      "required":["EndpointConfigName"],
      "members":{
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>The name of the endpoint configuration.</p>"
        }
      }
    },
    "DescribeEndpointConfigOutput":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "EndpointConfigArn",
        "ProductionVariants",
        "CreationTime"
      ],
      "members":{
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>Name of the Amazon SageMaker endpoint configuration.</p>"
        },
        "EndpointConfigArn":{
          "shape":"EndpointConfigArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint configuration.</p>"
        },
        "ProductionVariants":{
          "shape":"ProductionVariantList",
          "documentation":"<p>An array of <code>ProductionVariant</code> objects, one for each model that you want to host at this endpoint.</p>"
        },
        "KmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>AWS KMS key ID Amazon SageMaker uses to encrypt data when storing it on the ML storage volume attached to the instance.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that shows when the endpoint configuration was created.</p>"
        }
      }
    },
    "DescribeEndpointInput":{
      "type":"structure",
      "required":["EndpointName"],
      "members":{
        "EndpointName":{
          "shape":"EndpointName",
          "documentation":"<p>The name of the endpoint.</p>"
        }
      }
    },
    "DescribeEndpointOutput":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointArn",
        "EndpointConfigName",
        "EndpointStatus",
        "CreationTime",
        "LastModifiedTime"
      ],
      "members":{
        "EndpointName":{
          "shape":"EndpointName",
          "documentation":"<p>Name of the endpoint.</p>"
        },
        "EndpointArn":{
          "shape":"EndpointArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint.</p>"
        },
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>The name of the endpoint configuration associated with this endpoint.</p>"
        },
        "ProductionVariants":{
          "shape":"ProductionVariantSummaryList",
          "documentation":"<p> An array of <a>ProductionVariantSummary</a> objects, one for each model hosted behind this endpoint. </p>"
        },
        "EndpointStatus":{
          "shape":"EndpointStatus",
          "documentation":"<p>The status of the endpoint.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If the status of the endpoint is <code>Failed</code>, the reason why it failed. </p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that shows when the endpoint was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that shows when the endpoint was last modified.</p>"
        }
      }
    },
    "DescribeHyperParameterTuningJobRequest":{
      "type":"structure",
      "required":["HyperParameterTuningJobName"],
      "members":{
        "HyperParameterTuningJobName":{
          "shape":"HyperParameterTuningJobName",
          "documentation":"<p>The name of the tuning job to describe.</p>"
        }
      }
    },
    "DescribeHyperParameterTuningJobResponse":{
      "type":"structure",
      "required":[
        "HyperParameterTuningJobName",
        "HyperParameterTuningJobArn",
        "HyperParameterTuningJobConfig",
        "TrainingJobDefinition",
        "HyperParameterTuningJobStatus",
        "CreationTime",
        "TrainingJobStatusCounters",
        "ObjectiveStatusCounters"
      ],
      "members":{
        "HyperParameterTuningJobName":{
          "shape":"HyperParameterTuningJobName",
          "documentation":"<p>The name of the tuning job.</p>"
        },
        "HyperParameterTuningJobArn":{
          "shape":"HyperParameterTuningJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the tuning job.</p>"
        },
        "HyperParameterTuningJobConfig":{
          "shape":"HyperParameterTuningJobConfig",
          "documentation":"<p>The <a>HyperParameterTuningJobConfig</a> object that specifies the configuration of the tuning job.</p>"
        },
        "TrainingJobDefinition":{
          "shape":"HyperParameterTrainingJobDefinition",
          "documentation":"<p>The <a>HyperParameterTrainingJobDefinition</a> object that specifies the definition of the training jobs that this tuning job launches.</p>"
        },
        "HyperParameterTuningJobStatus":{
          "shape":"HyperParameterTuningJobStatus",
          "documentation":"<p>The status of the tuning job: InProgress, Completed, Failed, Stopping, or Stopped.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the tuning job started.</p>"
        },
        "HyperParameterTuningEndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the tuning job ended.</p>"
        },
        "LastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the status of the tuning job was modified. </p>"
        },
        "TrainingJobStatusCounters":{
          "shape":"TrainingJobStatusCounters",
          "documentation":"<p>The <a>TrainingJobStatusCounters</a> object that specifies the number of training jobs, categorized by status, that this tuning job launched.</p>"
        },
        "ObjectiveStatusCounters":{
          "shape":"ObjectiveStatusCounters",
          "documentation":"<p>The <a>ObjectiveStatusCounters</a> object that specifies the number of training jobs, categorized by the status of their final objective metric, that this tuning job launched.</p>"
        },
        "BestTrainingJob":{
          "shape":"HyperParameterTrainingJobSummary",
          "documentation":"<p>A <a>TrainingJobSummary</a> object that describes the training job that completed with the best current <a>HyperParameterTuningJobObjective</a>.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If the tuning job failed, the reason it failed.</p>"
        }
      }
    },
    "DescribeModelInput":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the model.</p>"
        }
      }
    },
    "DescribeModelOutput":{
      "type":"structure",
      "required":[
        "ModelName",
        "PrimaryContainer",
        "ExecutionRoleArn",
        "CreationTime",
        "ModelArn"
      ],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>Name of the Amazon SageMaker model.</p>"
        },
        "PrimaryContainer":{
          "shape":"ContainerDefinition",
          "documentation":"<p>The location of the primary inference code, associated artifacts, and custom environment map that the inference code uses when it is deployed in production. </p>"
        },
        "ExecutionRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the model.</p>"
        },
        "VpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>A <a>VpcConfig</a> object that specifies the VPC that this model has access to. For more information, see <a>host-vpc</a> </p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that shows when the model was created.</p>"
        },
        "ModelArn":{
          "shape":"ModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the model.</p>"
        }
      }
    },
    "DescribeNotebookInstanceInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{
          "shape":"NotebookInstanceName",
          "documentation":"<p>The name of the notebook instance that you want information about.</p>"
        }
      }
    },
    "DescribeNotebookInstanceLifecycleConfigInput":{
      "type":"structure",
      "required":["NotebookInstanceLifecycleConfigName"],
      "members":{
        "NotebookInstanceLifecycleConfigName":{
          "shape":"NotebookInstanceLifecycleConfigName",
          "documentation":"<p>The name of the lifecycle configuration to describe.</p>"
        }
      }
    },
    "DescribeNotebookInstanceLifecycleConfigOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceLifecycleConfigArn":{
          "shape":"NotebookInstanceLifecycleConfigArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the lifecycle configuration.</p>"
        },
        "NotebookInstanceLifecycleConfigName":{
          "shape":"NotebookInstanceLifecycleConfigName",
          "documentation":"<p>The name of the lifecycle configuration.</p>"
        },
        "OnCreate":{
          "shape":"NotebookInstanceLifecycleConfigList",
          "documentation":"<p>The shell script that runs only once, when you create a notebook instance.</p>"
        },
        "OnStart":{
          "shape":"NotebookInstanceLifecycleConfigList",
          "documentation":"<p>The shell script that runs every time you start a notebook instance, including when you create the notebook instance.</p>"
        },
        "LastModifiedTime":{
          "shape":"LastModifiedTime",
          "documentation":"<p>A timestamp that tells when the lifecycle configuration was last modified.</p>"
        },
        "CreationTime":{
          "shape":"CreationTime",
          "documentation":"<p>A timestamp that tells when the lifecycle configuration was created.</p>"
        }
      }
    },
    "DescribeNotebookInstanceOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceArn":{
          "shape":"NotebookInstanceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the notebook instance.</p>"
        },
        "NotebookInstanceName":{
          "shape":"NotebookInstanceName",
          "documentation":"<p> Name of the Amazon SageMaker notebook instance. </p>"
        },
        "NotebookInstanceStatus":{
          "shape":"NotebookInstanceStatus",
          "documentation":"<p>The status of the notebook instance.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If status is failed, the reason it failed.</p>"
        },
        "Url":{
          "shape":"NotebookInstanceUrl",
          "documentation":"<p>The URL that you use to connect to the Jupyter notebook that is running in your notebook instance. </p>"
        },
        "InstanceType":{
          "shape":"InstanceType",
          "documentation":"<p>The type of ML compute instance running on the notebook instance.</p>"
        },
        "SubnetId":{
          "shape":"SubnetId",
          "documentation":"<p>The ID of the VPC subnet.</p>"
        },
        "SecurityGroups":{
          "shape":"SecurityGroupIds",
          "documentation":"<p>The IDs of the VPC security groups.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p> Amazon Resource Name (ARN) of the IAM role associated with the instance. </p>"
        },
        "KmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p> AWS KMS key ID Amazon SageMaker uses to encrypt data when storing it on the ML storage volume attached to the instance. </p>"
        },
        "NetworkInterfaceId":{
          "shape":"NetworkInterfaceId",
          "documentation":"<p> Network interface IDs that Amazon SageMaker created at the time of creating the instance. </p>"
        },
        "LastModifiedTime":{
          "shape":"LastModifiedTime",
          "documentation":"<p>A timestamp. Use this parameter to retrieve the time when the notebook instance was last modified. </p>"
        },
        "CreationTime":{
          "shape":"CreationTime",
          "documentation":"<p>A timestamp. Use this parameter to return the time when the notebook instance was created</p>"
        },
        "NotebookInstanceLifecycleConfigName":{
          "shape":"NotebookInstanceLifecycleConfigName",
          "documentation":"<p>Returns the name of a notebook instance lifecycle configuration.</p> <p>For information about notebook instance lifestyle configurations, see <a>notebook-lifecycle-config</a>.</p>"
        },
        "DirectInternetAccess":{
          "shape":"DirectInternetAccess",
          "documentation":"<p>Describes whether Amazon SageMaker provides internet access to the notebook instance. If this value is set to <i>Disabled, he notebook instance does not have internet access, and cannot connect to Amazon SageMaker training and endpoint services</i>.</p> <p>For more information, see <a>appendix-notebook-and-internet-access</a>.</p>"
        }
      }
    },
    "DescribeTrainingJobRequest":{
      "type":"structure",
      "required":["TrainingJobName"],
      "members":{
        "TrainingJobName":{
          "shape":"TrainingJobName",
          "documentation":"<p>The name of the training job.</p>"
        }
      }
    },
    "DescribeTrainingJobResponse":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "TrainingJobArn",
        "ModelArtifacts",
        "TrainingJobStatus",
        "SecondaryStatus",
        "AlgorithmSpecification",
        "InputDataConfig",
        "ResourceConfig",
        "StoppingCondition",
        "CreationTime"
      ],
      "members":{
        "TrainingJobName":{
          "shape":"TrainingJobName",
          "documentation":"<p> Name of the model training job. </p>"
        },
        "TrainingJobArn":{
          "shape":"TrainingJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the training job.</p>"
        },
        "TuningJobArn":{
          "shape":"HyperParameterTuningJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the associated hyperparameter tuning job if the training job was launched by a hyperparameter tuning job.</p>"
        },
        "ModelArtifacts":{
          "shape":"ModelArtifacts",
          "documentation":"<p>Information about the Amazon S3 location that is configured for storing model artifacts. </p>"
        },
        "TrainingJobStatus":{
          "shape":"TrainingJobStatus",
          "documentation":"<p>The status of the training job. </p> <p>For the <code>InProgress</code> status, Amazon SageMaker can return these secondary statuses:</p> <ul> <li> <p>Starting - Preparing for training.</p> </li> <li> <p>Downloading - Optional stage for algorithms that support File training input mode. It indicates data is being downloaded to ML storage volumes.</p> </li> <li> <p>Training - Training is in progress.</p> </li> <li> <p>Uploading - Training is complete and model upload is in progress.</p> </li> </ul> <p>For the <code>Stopped</code> training status, Amazon SageMaker can return these secondary statuses:</p> <ul> <li> <p>MaxRuntimeExceeded - Job stopped as a result of maximum allowed runtime exceeded.</p> </li> </ul>"
        },
        "SecondaryStatus":{
          "shape":"SecondaryStatus",
          "documentation":"<p> Provides granular information about the system state. For more information, see <code>TrainingJobStatus</code>. </p> <ul> <li> <p> <code>Starting</code> - starting the training job.</p> </li> <li> <p> <code>LaunchingMLInstances</code> - launching ML instances for the training job.</p> </li> <li> <p> <code>PreparingTrainingStack</code> - preparing the ML instances for the training job.</p> </li> <li> <p> <code>Downloading</code> - downloading the input data.</p> </li> <li> <p> <code>DownloadingTrainingImage</code> - downloading the training algorithm image.</p> </li> <li> <p> <code>Training</code> - model training is in progress.</p> </li> <li> <p> <code>Uploading</code> - uploading the trained model.</p> </li> <li> <p> <code>Stopping</code> - stopping the training job.</p> </li> <li> <p> <code>Stopped</code> - the training job has stopped.</p> </li> <li> <p> <code>MaxRuntimeExceeded</code> - the training job exceeded the specified max run time and has been stopped.</p> </li> <li> <p> <code>Completed</code> - the training job has completed.</p> </li> <li> <p> <code>Failed</code> - the training job has failed. The failure reason is provided in the <code>StatusMessage</code>.</p> </li> </ul> <important> <p>The valid values for <code>SecondaryStatus</code> are subject to change. They primarily provide information on the progress of the training job.</p> </important>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If the training job failed, the reason it failed. </p>"
        },
        "HyperParameters":{
          "shape":"HyperParameters",
          "documentation":"<p>Algorithm-specific parameters. </p>"
        },
        "AlgorithmSpecification":{
          "shape":"AlgorithmSpecification",
          "documentation":"<p>Information about the algorithm used for training, and algorithm metadata. </p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The AWS Identity and Access Management (IAM) role configured for the training job. </p>"
        },
        "InputDataConfig":{
          "shape":"InputDataConfig",
          "documentation":"<p>An array of <code>Channel</code> objects that describes each data input channel. </p>"
        },
        "OutputDataConfig":{
          "shape":"OutputDataConfig",
          "documentation":"<p>The S3 path where model artifacts that you configured when creating the job are stored. Amazon SageMaker creates subfolders for model artifacts. </p>"
        },
        "ResourceConfig":{
          "shape":"ResourceConfig",
          "documentation":"<p>Resources, including ML compute instances and ML storage volumes, that are configured for model training. </p>"
        },
        "VpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>A <a>VpcConfig</a> object that specifies the VPC that this training job has access to. For more information, see <a>train-vpc</a>.</p>"
        },
        "StoppingCondition":{
          "shape":"StoppingCondition",
          "documentation":"<p>The condition under which to stop the training job. </p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that indicates when the training job was created.</p>"
        },
        "TrainingStartTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates the time when the training job starts on training instances. You are billed for the time interval between this time and the value of <code>TrainingEndTime</code>. The start time in CloudWatch Logs might be later than this time. The difference is due to the time it takes to download the training data and to the size of the training container.</p>"
        },
        "TrainingEndTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates the time when the training job ends on training instances. You are billed for the time interval between the value of <code>TrainingStartTime</code> and this time. For successful jobs and stopped jobs, this is the time after model artifacts are uploaded. For failed jobs, this is the time when Amazon SageMaker detects a job failure.</p>"
        },
        "LastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that indicates when the status of the training job was last modified.</p>"
        },
        "SecondaryStatusTransitions":{
          "shape":"SecondaryStatusTransitions",
          "documentation":"<p>To give an overview of the training job lifecycle, <code>SecondaryStatusTransitions</code> is a log of time-ordered secondary statuses that a training job has transitioned.</p>"
        }
      }
    },
    "DescribeTransformJobRequest":{
      "type":"structure",
      "required":["TransformJobName"],
      "members":{
        "TransformJobName":{
          "shape":"TransformJobName",
          "documentation":"<p>The name of the transform job that you want to view details of.</p>"
        }
      }
    },
    "DescribeTransformJobResponse":{
      "type":"structure",
      "required":[
        "TransformJobName",
        "TransformJobArn",
        "TransformJobStatus",
        "ModelName",
        "TransformInput",
        "TransformResources",
        "CreationTime"
      ],
      "members":{
        "TransformJobName":{
          "shape":"TransformJobName",
          "documentation":"<p>The name of the transform job.</p>"
        },
        "TransformJobArn":{
          "shape":"TransformJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the transform job.</p>"
        },
        "TransformJobStatus":{
          "shape":"TransformJobStatus",
          "documentation":"<p>The status of the transform job. If the transform job failed, the reason is returned in the <code>FailureReason</code> field.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If the transform job failed, the reason that it failed.</p>"
        },
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the model used in the transform job.</p>"
        },
        "MaxConcurrentTransforms":{
          "shape":"MaxConcurrentTransforms",
          "documentation":"<p>The maximum number of parallel requests on each instance node that can be launched in a transform job. The default value is 1.</p>"
        },
        "MaxPayloadInMB":{
          "shape":"MaxPayloadInMB",
          "documentation":"<p>The maximum payload size , in MB used in the transform job.</p>"
        },
        "BatchStrategy":{
          "shape":"BatchStrategy",
          "documentation":"<p>SingleRecord means only one record was used per a batch. <code>MultiRecord</code> means batches contained as many records that could possibly fit within the <code>MaxPayloadInMB</code> limit.</p>"
        },
        "Environment":{
          "shape":"TransformEnvironmentMap",
          "documentation":"<p/>"
        },
        "TransformInput":{
          "shape":"TransformInput",
          "documentation":"<p>Describes the dataset to be transformed and the Amazon S3 location where it is stored.</p>"
        },
        "TransformOutput":{
          "shape":"TransformOutput",
          "documentation":"<p>Identifies the Amazon S3 location where you want Amazon SageMaker to save the results from the transform job.</p>"
        },
        "TransformResources":{
          "shape":"TransformResources",
          "documentation":"<p>Describes the resources, including ML instance types and ML instance count, to use for the transform job.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that shows when the transform Job was created.</p>"
        },
        "TransformStartTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates when the transform job starts on ML instances. You are billed for the time interval between this time and the value of <code>TransformEndTime</code>.</p>"
        },
        "TransformEndTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates when the transform job is <code>Completed</code>, <code>Stopped</code>, or <code>Failed</code>. You are billed for the time interval between this time and the value of <code>TransformStartTime</code>.</p>"
        }
      }
    },
    "DesiredWeightAndCapacity":{
      "type":"structure",
      "required":["VariantName"],
      "members":{
        "VariantName":{
          "shape":"VariantName",
          "documentation":"<p>The name of the variant to update.</p>"
        },
        "DesiredWeight":{
          "shape":"VariantWeight",
          "documentation":"<p>The variant's weight.</p>"
        },
        "DesiredInstanceCount":{
          "shape":"TaskCount",
          "documentation":"<p>The variant's capacity.</p>"
        }
      },
      "documentation":"<p>Specifies weight and capacity values for a production variant.</p>"
    },
    "DesiredWeightAndCapacityList":{
      "type":"list",
      "member":{"shape":"DesiredWeightAndCapacity"},
      "min":1
    },
    "DirectInternetAccess":{
      "type":"string",
      "enum":[
        "Enabled",
        "Disabled"
      ]
    },
    "EndpointArn":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "EndpointConfigArn":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "EndpointConfigName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "EndpointConfigNameContains":{
      "type":"string",
      "pattern":"[a-zA-Z0-9-]+"
    },
    "EndpointConfigSortKey":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime"
      ]
    },
    "EndpointConfigSummary":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "EndpointConfigArn",
        "CreationTime"
      ],
      "members":{
        "EndpointConfigName":{
          "shape":"EndpointConfigName",
          "documentation":"<p>The name of the endpoint configuration.</p>"
        },
        "EndpointConfigArn":{
          "shape":"EndpointConfigArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint configuration.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that shows when the endpoint configuration was created.</p>"
        }
      },
      "documentation":"<p>Provides summary information for an endpoint configuration.</p>"
    },
    "EndpointConfigSummaryList":{
      "type":"list",
      "member":{"shape":"EndpointConfigSummary"}
    },
    "EndpointName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "EndpointNameContains":{
      "type":"string",
      "pattern":"[a-zA-Z0-9-]+"
    },
    "EndpointSortKey":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime",
        "Status"
      ]
    },
    "EndpointStatus":{
      "type":"string",
      "enum":[
        "OutOfService",
        "Creating",
        "Updating",
        "RollingBack",
        "InService",
        "Deleting",
        "Failed"
      ]
    },
    "EndpointSummary":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointArn",
        "CreationTime",
        "LastModifiedTime",
        "EndpointStatus"
      ],
      "members":{
        "EndpointName":{
          "shape":"EndpointName",
          "documentation":"<p>The name of the endpoint.</p>"
        },
        "EndpointArn":{
          "shape":"EndpointArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that shows when the endpoint was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that shows when the endpoint was last modified.</p>"
        },
        "EndpointStatus":{
          "shape":"EndpointStatus",
          "documentation":"<p>The status of the endpoint.</p>"
        }
      },
      "documentation":"<p>Provides summary information for an endpoint.</p>"
    },
    "EndpointSummaryList":{
      "type":"list",
      "member":{"shape":"EndpointSummary"}
    },
    "EnvironmentKey":{
      "type":"string",
      "max":1024,
      "pattern":"[a-zA-Z_][a-zA-Z0-9_]*"
    },
    "EnvironmentMap":{
      "type":"map",
      "key":{"shape":"EnvironmentKey"},
      "value":{"shape":"EnvironmentValue"},
      "max":16
    },
    "EnvironmentValue":{
      "type":"string",
      "max":1024
    },
    "FailureReason":{
      "type":"string",
      "max":1024
    },
    "FinalHyperParameterTuningJobObjectiveMetric":{
      "type":"structure",
      "required":[
        "MetricName",
        "Value"
      ],
      "members":{
        "Type":{
          "shape":"HyperParameterTuningJobObjectiveType",
          "documentation":"<p>Whether to minimize or maximize the objective metric. Valid values are Minimize and Maximize.</p>"
        },
        "MetricName":{
          "shape":"MetricName",
          "documentation":"<p>The name of the objective metric.</p>"
        },
        "Value":{
          "shape":"MetricValue",
          "documentation":"<p>The value of the objective metric.</p>"
        }
      },
      "documentation":"<p>Shows the final value for the objective metric for a training job that was launched by a hyperparameter tuning job. You define the objective metric in the <code>HyperParameterTuningJobObjective</code> parameter of <a>HyperParameterTuningJobConfig</a>.</p>"
    },
    "HyperParameterAlgorithmSpecification":{
      "type":"structure",
      "required":[
        "TrainingImage",
        "TrainingInputMode"
      ],
      "members":{
        "TrainingImage":{
          "shape":"AlgorithmImage",
          "documentation":"<p> The registry path of the Docker image that contains the training algorithm. For information about Docker registry paths for built-in algorithms, see <a>sagemaker-algo-docker-registry-paths</a>.</p>"
        },
        "TrainingInputMode":{
          "shape":"TrainingInputMode",
          "documentation":"<p>The input mode that the algorithm supports: File or Pipe. In File input mode, Amazon SageMaker downloads the training data from Amazon S3 to the storage volume that is attached to the training instance and mounts the directory to the Docker volume for the training container. In Pipe input mode, Amazon SageMaker streams data directly from Amazon S3 to the container. </p> <p>If you specify File mode, make sure that you provision the storage volume that is attached to the training instance with enough capacity to accommodate the training data downloaded from Amazon S3, the model artifacts, and intermediate information.</p> <p/> <p>For more information about input modes, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. </p>"
        },
        "MetricDefinitions":{
          "shape":"MetricDefinitionList",
          "documentation":"<p>An array of <a>MetricDefinition</a> objects that specify the metrics that the algorithm emits.</p>"
        }
      },
      "documentation":"<p>Specifies which training algorithm to use for training jobs that a hyperparameter tuning job launches and the metrics to monitor.</p>"
    },
    "HyperParameterTrainingJobDefinition":{
      "type":"structure",
      "required":[
        "AlgorithmSpecification",
        "RoleArn",
        "InputDataConfig",
        "OutputDataConfig",
        "ResourceConfig",
        "StoppingCondition"
      ],
      "members":{
        "StaticHyperParameters":{
          "shape":"HyperParameters",
          "documentation":"<p>Specifies the values of hyperparameters that do not change for the tuning job.</p>"
        },
        "AlgorithmSpecification":{
          "shape":"HyperParameterAlgorithmSpecification",
[...]
