{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-24",
    "endpointPrefix": "api.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SageMaker",
    "serviceFullName": "Amazon SageMaker Service",
    "serviceId": "SageMaker",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "targetPrefix": "SageMaker",
    "uid": "sagemaker-2017-07-24"
  },
  "operations": {
    "AddTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3"
          }
        }
      }
    },
    "CreateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointConfigName"
        ],
        "members": {
          "EndpointName": {},
          "EndpointConfigName": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      }
    },
    "CreateEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "ProductionVariants"
        ],
        "members": {
          "EndpointConfigName": {},
          "ProductionVariants": {
            "shape": "Se"
          },
          "Tags": {
            "shape": "S3"
          },
          "KmsKeyId": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigArn"
        ],
        "members": {
          "EndpointConfigArn": {}
        }
      }
    },
    "CreateHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobConfig",
          "TrainingJobDefinition"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobConfig": {
            "shape": "Sq"
          },
          "TrainingJobDefinition": {
            "shape": "S18"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobArn"
        ],
        "members": {
          "HyperParameterTuningJobArn": {}
        }
      }
    },
    "CreateModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName",
          "PrimaryContainer",
          "ExecutionRoleArn"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "S27"
          },
          "ExecutionRoleArn": {},
          "Tags": {
            "shape": "S3"
          },
          "VpcConfig": {
            "shape": "S1s"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelArn"
        ],
        "members": {
          "ModelArn": {}
        }
      }
    },
    "CreateNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName",
          "InstanceType",
          "RoleArn"
        ],
        "members": {
          "NotebookInstanceName": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroupIds": {
            "shape": "S2j"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "Tags": {
            "shape": "S3"
          },
          "LifecycleConfigName": {},
          "DirectInternetAccess": {},
          "VolumeSizeInGB": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {}
        }
      }
    },
    "CreateNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "S2q"
          },
          "OnStart": {
            "shape": "S2q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {}
        }
      }
    },
    "CreatePresignedNotebookInstanceUrl": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreateTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "AlgorithmSpecification",
          "RoleArn",
          "OutputDataConfig",
          "ResourceConfig",
          "StoppingCondition"
        ],
        "members": {
          "TrainingJobName": {},
          "HyperParameters": {
            "shape": "S19"
          },
          "AlgorithmSpecification": {
            "shape": "S31"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S1h"
          },
          "OutputDataConfig": {
            "shape": "S1x"
          },
          "ResourceConfig": {
            "shape": "S1y"
          },
          "VpcConfig": {
            "shape": "S1s"
          },
          "StoppingCondition": {
            "shape": "S22"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobArn"
        ],
        "members": {
          "TrainingJobArn": {}
        }
      }
    },
    "CreateTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "ModelName",
          "TransformInput",
          "TransformOutput",
          "TransformResources"
        ],
        "members": {
          "TransformJobName": {},
          "ModelName": {},
          "MaxConcurrentTransforms": {
            "type": "integer"
          },
          "MaxPayloadInMB": {
            "type": "integer"
          },
          "BatchStrategy": {},
          "Environment": {
            "shape": "S39"
          },
          "TransformInput": {
            "shape": "S3c"
          },
          "TransformOutput": {
            "shape": "S3g"
          },
          "TransformResources": {
            "shape": "S3j"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobArn"
        ],
        "members": {
          "TransformJobArn": {}
        }
      }
    },
    "DeleteEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      }
    },
    "DeleteEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      }
    },
    "DeleteModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      }
    },
    "DeleteNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      }
    },
    "DeleteNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {}
        }
      }
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointArn",
          "EndpointConfigName",
          "EndpointStatus",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "EndpointName": {},
          "EndpointArn": {},
          "EndpointConfigName": {},
          "ProductionVariants": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "VariantName"
              ],
              "members": {
                "VariantName": {},
                "DeployedImages": {
                  "type": "list",
                  "member": {
                    "type": "structure",
                    "members": {
                      "SpecifiedImage": {},
                      "ResolvedImage": {},
                      "ResolutionTime": {
                        "type": "timestamp"
                      }
                    }
                  }
                },
                "CurrentWeight": {
                  "type": "float"
                },
                "DesiredWeight": {
                  "type": "float"
                },
                "CurrentInstanceCount": {
                  "type": "integer"
                },
                "DesiredInstanceCount": {
                  "type": "integer"
                }
              }
            }
          },
          "EndpointStatus": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "EndpointConfigArn",
          "ProductionVariants",
          "CreationTime"
        ],
        "members": {
          "EndpointConfigName": {},
          "EndpointConfigArn": {},
          "ProductionVariants": {
            "shape": "Se"
          },
          "KmsKeyId": {},
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobArn",
          "HyperParameterTuningJobConfig",
          "TrainingJobDefinition",
          "HyperParameterTuningJobStatus",
          "CreationTime",
          "TrainingJobStatusCounters",
          "ObjectiveStatusCounters"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobArn": {},
          "HyperParameterTuningJobConfig": {
            "shape": "Sq"
          },
          "TrainingJobDefinition": {
            "shape": "S18"
          },
          "HyperParameterTuningJobStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "HyperParameterTuningEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "TrainingJobStatusCounters": {
            "shape": "S4a"
          },
          "ObjectiveStatusCounters": {
            "shape": "S4c"
          },
          "BestTrainingJob": {
            "shape": "S4e"
          },
          "FailureReason": {}
        }
      }
    },
    "DescribeModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelName",
          "PrimaryContainer",
          "ExecutionRoleArn",
          "CreationTime",
          "ModelArn"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "S27"
          },
          "ExecutionRoleArn": {},
          "VpcConfig": {
            "shape": "S1s"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelArn": {}
        }
      }
    },
    "DescribeNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {},
          "NotebookInstanceName": {},
          "NotebookInstanceStatus": {},
          "FailureReason": {},
          "Url": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroups": {
            "shape": "S2j"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "NetworkInterfaceId": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "NotebookInstanceLifecycleConfigName": {},
          "DirectInternetAccess": {},
          "VolumeSizeInGB": {
            "type": "integer"
          }
        }
      }
    },
    "DescribeNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {},
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "S2q"
          },
          "OnStart": {
            "shape": "S2q"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName"
        ],
        "members": {
          "TrainingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "TrainingJobArn",
          "ModelArtifacts",
          "TrainingJobStatus",
          "SecondaryStatus",
          "AlgorithmSpecification",
          "ResourceConfig",
          "StoppingCondition",
          "CreationTime"
        ],
        "members": {
          "TrainingJobName": {},
          "TrainingJobArn": {},
          "TuningJobArn": {},
          "ModelArtifacts": {
            "type": "structure",
            "required": [
              "S3ModelArtifacts"
            ],
            "members": {
              "S3ModelArtifacts": {}
            }
          },
          "TrainingJobStatus": {},
          "SecondaryStatus": {},
          "FailureReason": {},
          "HyperParameters": {
            "shape": "S19"
          },
          "AlgorithmSpecification": {
            "shape": "S31"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S1h"
          },
          "OutputDataConfig": {
            "shape": "S1x"
          },
          "ResourceConfig": {
            "shape": "S1y"
          },
          "VpcConfig": {
            "shape": "S1s"
          },
          "StoppingCondition": {
            "shape": "S22"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "TrainingStartTime": {
            "type": "timestamp"
          },
          "TrainingEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "SecondaryStatusTransitions": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Status",
                "StartTime"
              ],
              "members": {
                "Status": {},
                "StartTime": {
                  "type": "timestamp"
                },
                "EndTime": {
                  "type": "timestamp"
                },
                "StatusMessage": {}
              }
            }
          }
        }
      }
    },
    "DescribeTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName"
        ],
        "members": {
          "TransformJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "TransformJobArn",
          "TransformJobStatus",
          "ModelName",
          "TransformInput",
          "TransformResources",
          "CreationTime"
        ],
        "members": {
          "TransformJobName": {},
          "TransformJobArn": {},
          "TransformJobStatus": {},
          "FailureReason": {},
          "ModelName": {},
          "MaxConcurrentTransforms": {
            "type": "integer"
          },
          "MaxPayloadInMB": {
            "type": "integer"
          },
          "BatchStrategy": {},
          "Environment": {
            "shape": "S39"
          },
          "TransformInput": {
            "shape": "S3c"
          },
          "TransformOutput": {
            "shape": "S3g"
          },
          "TransformResources": {
            "shape": "S3j"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "TransformStartTime": {
            "type": "timestamp"
          },
          "TransformEndTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "ListEndpointConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigs"
        ],
        "members": {
          "EndpointConfigs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "EndpointConfigName",
                "EndpointConfigArn",
                "CreationTime"
              ],
              "members": {
                "EndpointConfigName": {},
                "EndpointConfigArn": {},
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Endpoints"
        ],
        "members": {
          "Endpoints": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "EndpointName",
                "EndpointArn",
                "CreationTime",
                "LastModifiedTime",
                "EndpointStatus"
              ],
              "members": {
                "EndpointName": {},
                "EndpointArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "EndpointStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListHyperParameterTuningJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "SortBy": {},
          "SortOrder": {},
          "NameContains": {},
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobSummaries"
        ],
        "members": {
          "HyperParameterTuningJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "HyperParameterTuningJobName",
                "HyperParameterTuningJobArn",
                "HyperParameterTuningJobStatus",
                "Strategy",
                "CreationTime",
                "TrainingJobStatusCounters",
                "ObjectiveStatusCounters"
              ],
              "members": {
                "HyperParameterTuningJobName": {},
                "HyperParameterTuningJobArn": {},
                "HyperParameterTuningJobStatus": {},
                "Strategy": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "HyperParameterTuningEndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "TrainingJobStatusCounters": {
                  "shape": "S4a"
                },
                "ObjectiveStatusCounters": {
                  "shape": "S4c"
                },
                "ResourceLimits": {
                  "shape": "Sv"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListModels": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Models"
        ],
        "members": {
          "Models": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelName",
                "ModelArn",
                "CreationTime"
              ],
              "members": {
                "ModelName": {},
                "ModelArn": {},
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListNotebookInstanceLifecycleConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "SortBy": {},
          "SortOrder": {},
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "NotebookInstanceLifecycleConfigs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "NotebookInstanceLifecycleConfigName",
                "NotebookInstanceLifecycleConfigArn"
              ],
              "members": {
                "NotebookInstanceLifecycleConfigName": {},
                "NotebookInstanceLifecycleConfigArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListNotebookInstances": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "SortBy": {},
          "SortOrder": {},
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {},
          "NotebookInstanceLifecycleConfigNameContains": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "NotebookInstances": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "NotebookInstanceName",
                "NotebookInstanceArn"
              ],
              "members": {
                "NotebookInstanceName": {},
                "NotebookInstanceArn": {},
                "NotebookInstanceStatus": {},
                "Url": {},
                "InstanceType": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "NotebookInstanceLifecycleConfigName": {}
              }
            }
          }
        }
      }
    },
    "ListTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3"
          },
          "NextToken": {}
        }
      }
    },
    "ListTrainingJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "NameContains": {},
          "StatusEquals": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobSummaries"
        ],
        "members": {
          "TrainingJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "TrainingJobName",
                "TrainingJobArn",
                "CreationTime",
                "TrainingJobStatus"
              ],
              "members": {
                "TrainingJobName": {},
                "TrainingJobArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "TrainingEndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "TrainingJobStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTrainingJobsForHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "StatusEquals": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobSummaries"
        ],
        "members": {
          "TrainingJobSummaries": {
            "type": "list",
            "member": {
              "shape": "S4e"
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListTransformJobs": {
      "input": {
        "type": "structure",
        "members": {
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "NameContains": {},
          "StatusEquals": {},
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobSummaries"
        ],
        "members": {
          "TransformJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "TransformJobName",
                "TransformJobArn",
                "CreationTime",
                "TransformJobStatus"
              ],
              "members": {
                "TransformJobName": {},
                "TransformJobArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "TransformEndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "TransformJobStatus": {},
                "FailureReason": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "StartNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      }
    },
    "StopHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {}
        }
      }
    },
    "StopNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      }
    },
    "StopTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName"
        ],
        "members": {
          "TrainingJobName": {}
        }
      }
    },
    "StopTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName"
        ],
        "members": {
          "TransformJobName": {}
        }
      }
    },
    "UpdateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointConfigName"
        ],
        "members": {
          "EndpointName": {},
          "EndpointConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      }
    },
    "UpdateEndpointWeightsAndCapacities": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "DesiredWeightsAndCapacities"
        ],
        "members": {
          "EndpointName": {},
          "DesiredWeightsAndCapacities": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "VariantName"
              ],
              "members": {
                "VariantName": {},
                "DesiredWeight": {
                  "type": "float"
                },
                "DesiredInstanceCount": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      }
    },
    "UpdateNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {},
          "InstanceType": {},
          "RoleArn": {},
          "LifecycleConfigName": {},
          "DisassociateLifecycleConfig": {
            "type": "boolean"
          },
          "VolumeSizeInGB": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "UpdateNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "S2q"
          },
          "OnStart": {
            "shape": "S2q"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "Se": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "VariantName",
          "ModelName",
          "InitialInstanceCount",
          "InstanceType"
        ],
        "members": {
          "VariantName": {},
          "ModelName": {},
          "InitialInstanceCount": {
            "type": "integer"
          },
          "InstanceType": {},
          "InitialVariantWeight": {
            "type": "float"
          }
        }
      }
    },
    "Sq": {
      "type": "structure",
      "required": [
        "Strategy",
        "HyperParameterTuningJobObjective",
        "ResourceLimits",
        "ParameterRanges"
      ],
      "members": {
        "Strategy": {},
        "HyperParameterTuningJobObjective": {
          "type": "structure",
          "required": [
            "Type",
            "MetricName"
          ],
          "members": {
            "Type": {},
            "MetricName": {}
          }
        },
        "ResourceLimits": {
          "shape": "Sv"
        },
        "ParameterRanges": {
          "type": "structure",
          "members": {
            "IntegerParameterRanges": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Name",
                  "MinValue",
                  "MaxValue"
                ],
                "members": {
                  "Name": {},
                  "MinValue": {},
                  "MaxValue": {}
                }
              }
            },
            "ContinuousParameterRanges": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Name",
                  "MinValue",
                  "MaxValue"
                ],
                "members": {
                  "Name": {},
                  "MinValue": {},
                  "MaxValue": {}
                }
              }
            },
            "CategoricalParameterRanges": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Name",
                  "Values"
                ],
                "members": {
                  "Name": {},
                  "Values": {
                    "type": "list",
                    "member": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "Sv": {
      "type": "structure",
      "required": [
        "MaxNumberOfTrainingJobs",
        "MaxParallelTrainingJobs"
      ],
      "members": {
        "MaxNumberOfTrainingJobs": {
          "type": "integer"
        },
        "MaxParallelTrainingJobs": {
          "type": "integer"
        }
      }
    },
    "S18": {
      "type": "structure",
      "required": [
        "AlgorithmSpecification",
        "RoleArn",
        "InputDataConfig",
        "OutputDataConfig",
        "ResourceConfig",
        "StoppingCondition"
      ],
      "members": {
        "StaticHyperParameters": {
          "shape": "S19"
        },
        "AlgorithmSpecification": {
          "type": "structure",
          "required": [
            "TrainingImage",
            "TrainingInputMode"
          ],
          "members": {
            "TrainingImage": {},
            "TrainingInputMode": {},
            "MetricDefinitions": {
              "type": "list",
              "member": {
                "type": "structure",
                "required": [
                  "Name",
                  "Regex"
                ],
                "members": {
                  "Name": {},
                  "Regex": {}
                }
              }
            }
          }
        },
        "RoleArn": {},
        "InputDataConfig": {
          "shape": "S1h"
        },
        "VpcConfig": {
          "shape": "S1s"
        },
        "OutputDataConfig": {
          "shape": "S1x"
        },
        "ResourceConfig": {
          "shape": "S1y"
        },
        "StoppingCondition": {
          "shape": "S22"
        }
      }
    },
    "S19": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1h": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ChannelName",
          "DataSource"
        ],
        "members": {
          "ChannelName": {},
          "DataSource": {
            "type": "structure",
            "required": [
              "S3DataSource"
            ],
            "members": {
              "S3DataSource": {
                "type": "structure",
                "required": [
                  "S3DataType",
                  "S3Uri"
                ],
                "members": {
                  "S3DataType": {},
                  "S3Uri": {},
                  "S3DataDistributionType": {}
                }
              }
            }
          },
          "ContentType": {},
          "CompressionType": {},
          "RecordWrapperType": {},
          "InputMode": {}
        }
      }
    },
    "S1s": {
      "type": "structure",
      "required": [
        "SecurityGroupIds",
        "Subnets"
      ],
      "members": {
        "SecurityGroupIds": {
          "type": "list",
          "member": {}
        },
        "Subnets": {
          "type": "list",
          "member": {}
        }
      }
    },
    "S1x": {
      "type": "structure",
      "required": [
        "S3OutputPath"
      ],
      "members": {
        "KmsKeyId": {},
        "S3OutputPath": {}
      }
    },
    "S1y": {
      "type": "structure",
      "required": [
        "InstanceType",
        "InstanceCount",
        "VolumeSizeInGB"
      ],
      "members": {
        "InstanceType": {},
        "InstanceCount": {
          "type": "integer"
        },
        "VolumeSizeInGB": {
          "type": "integer"
        },
        "VolumeKmsKeyId": {}
      }
    },
    "S22": {
      "type": "structure",
      "members": {
        "MaxRuntimeInSeconds": {
          "type": "integer"
        }
      }
    },
    "S27": {
      "type": "structure",
      "required": [
        "Image"
      ],
      "members": {
        "ContainerHostname": {},
        "Image": {},
        "ModelDataUrl": {},
        "Environment": {
          "type": "map",
          "key": {},
          "value": {}
        }
      }
    },
    "S2j": {
      "type": "list",
      "member": {}
    },
    "S2q": {
      "type": "list",
      "member": {
        "type": "structure",
        "members": {
          "Content": {}
        }
      }
    },
    "S31": {
      "type": "structure",
      "required": [
        "TrainingImage",
        "TrainingInputMode"
      ],
      "members": {
        "TrainingImage": {},
        "TrainingInputMode": {}
      }
    },
    "S39": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S3c": {
      "type": "structure",
      "required": [
        "DataSource"
      ],
      "members": {
        "DataSource": {
          "type": "structure",
          "required": [
            "S3DataSource"
          ],
          "members": {
            "S3DataSource": {
              "type": "structure",
              "required": [
                "S3DataType",
                "S3Uri"
              ],
              "members": {
                "S3DataType": {},
                "S3Uri": {}
              }
            }
          }
        },
        "ContentType": {},
        "CompressionType": {},
        "SplitType": {}
      }
    },
    "S3g": {
      "type": "structure",
      "required": [
        "S3OutputPath"
      ],
      "members": {
        "S3OutputPath": {},
        "Accept": {},
        "AssembleWith": {},
        "KmsKeyId": {}
      }
    },
    "S3j": {
      "type": "structure",
      "required": [
        "InstanceType",
        "InstanceCount"
      ],
      "members": {
        "InstanceType": {},
        "InstanceCount": {
          "type": "integer"
        },
        "VolumeKmsKeyId": {}
      }
    },
    "S4a": {
      "type": "structure",
      "members": {
        "Completed": {
          "type": "integer"
        },
        "InProgress": {
          "type": "integer"
        },
        "RetryableError": {
          "type": "integer"
        },
        "NonRetryableError": {
          "type": "integer"
        },
        "Stopped": {
          "type": "integer"
        }
      }
    },
    "S4c": {
      "type": "structure",
      "members": {
        "Succeeded": {
          "type": "integer"
        },
        "Pending": {
          "type": "integer"
        },
        "Failed": {
          "type": "integer"
        }
      }
    },
    "S4e": {
      "type": "structure",
      "required": [
        "TrainingJobName",
        "TrainingJobArn",
        "CreationTime",
        "TrainingJobStatus",
        "TunedHyperParameters"
      ],
      "members": {
        "TrainingJobName": {},
        "TrainingJobArn": {},
        "CreationTime": {
          "type": "timestamp"
        },
        "TrainingStartTime": {
          "type": "timestamp"
        },
        "TrainingEndTime": {
          "type": "timestamp"
        },
        "TrainingJobStatus": {},
        "TunedHyperParameters": {
          "shape": "S19"
        },
        "FailureReason": {},
        "FinalHyperParameterTuningJobObjectiveMetric": {
          "type": "structure",
          "required": [
            "MetricName",
            "Value"
          ],
          "members": {
            "Type": {},
            "MetricName": {},
            "Value": {
              "type": "float"
            }
          }
        },
        "ObjectiveStatus": {}
      }
    }
  }
}