{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-24",
    "endpointPrefix": "api.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SageMaker",
    "serviceFullName": "Amazon SageMaker Service",
    "serviceId": "SageMaker",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "targetPrefix": "SageMaker",
    "uid": "sagemaker-2017-07-24"
  },
  "operations": {
    "AddAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "SourceArn",
          "DestinationArn"
        ],
        "members": {
          "SourceArn": {},
          "DestinationArn": {},
          "AssociationType": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SourceArn": {},
          "DestinationArn": {}
        }
      }
    },
    "AddTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "AssociateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName",
          "TrialName"
        ],
        "members": {
          "TrialComponentName": {},
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {},
          "TrialArn": {}
        }
      }
    },
    "BatchDescribeModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageArnList"
        ],
        "members": {
          "ModelPackageArnList": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ModelPackageSummaries": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "required": [
                "ModelPackageGroupName",
                "ModelPackageArn",
                "CreationTime",
                "InferenceSpecification",
                "ModelPackageStatus"
              ],
              "members": {
                "ModelPackageGroupName": {},
                "ModelPackageVersion": {
                  "type": "integer"
                },
                "ModelPackageArn": {},
                "ModelPackageDescription": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "InferenceSpecification": {
                  "shape": "Sr"
                },
                "ModelPackageStatus": {},
                "ModelApprovalStatus": {}
              }
            }
          },
          "BatchDescribeModelPackageErrorMap": {
            "type": "map",
            "key": {},
            "value": {
              "type": "structure",
              "required": [
                "ErrorCode",
                "ErrorResponse"
              ],
              "members": {
                "ErrorCode": {},
                "ErrorResponse": {}
              }
            }
          }
        }
      }
    },
    "CreateAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionName",
          "Source",
          "ActionType"
        ],
        "members": {
          "ActionName": {},
          "Source": {
            "shape": "S1j"
          },
          "ActionType": {},
          "Description": {},
          "Status": {},
          "Properties": {
            "shape": "S1o"
          },
          "MetadataProperties": {
            "shape": "S1q"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActionArn": {}
        }
      }
    },
    "CreateAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName",
          "TrainingSpecification"
        ],
        "members": {
          "AlgorithmName": {},
          "AlgorithmDescription": {},
          "TrainingSpecification": {
            "shape": "S1v"
          },
          "InferenceSpecification": {
            "shape": "Sr"
          },
          "ValidationSpecification": {
            "shape": "S2o"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmArn"
        ],
        "members": {
          "AlgorithmArn": {}
        }
      }
    },
    "CreateApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {},
          "Tags": {
            "shape": "S7"
          },
          "ResourceSpec": {
            "shape": "S4c"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppArn": {}
        }
      }
    },
    "CreateAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {},
          "Tags": {
            "shape": "S7"
          },
          "KernelGatewayImageConfig": {
            "shape": "S4l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppImageConfigArn": {}
        }
      }
    },
    "CreateArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "Source",
          "ArtifactType"
        ],
        "members": {
          "ArtifactName": {},
          "Source": {
            "shape": "S4x"
          },
          "ArtifactType": {},
          "Properties": {
            "shape": "S1o"
          },
          "MetadataProperties": {
            "shape": "S1q"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ArtifactArn": {}
        }
      }
    },
    "CreateAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "InputDataConfig",
          "OutputDataConfig",
          "RoleArn"
        ],
        "members": {
          "AutoMLJobName": {},
          "InputDataConfig": {
            "shape": "S55"
          },
          "OutputDataConfig": {
            "shape": "S5c"
          },
          "ProblemType": {},
          "AutoMLJobObjective": {
            "shape": "S5e"
          },
          "AutoMLJobConfig": {
            "shape": "S5g"
          },
          "RoleArn": {},
          "GenerateCandidateDefinitionsOnly": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S7"
          },
          "ModelDeployConfig": {
            "shape": "S5v"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobArn"
        ],
        "members": {
          "AutoMLJobArn": {}
        }
      }
    },
    "CreateCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName",
          "GitConfig"
        ],
        "members": {
          "CodeRepositoryName": {},
          "GitConfig": {
            "shape": "S61"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositoryArn"
        ],
        "members": {
          "CodeRepositoryArn": {}
        }
      }
    },
    "CreateCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName",
          "RoleArn",
          "OutputConfig",
          "StoppingCondition"
        ],
        "members": {
          "CompilationJobName": {},
          "RoleArn": {},
          "ModelPackageVersionArn": {},
          "InputConfig": {
            "shape": "S68"
          },
          "OutputConfig": {
            "shape": "S6a"
          },
          "VpcConfig": {
            "shape": "S6h"
          },
          "StoppingCondition": {
            "shape": "S3l"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobArn"
        ],
        "members": {
          "CompilationJobArn": {}
        }
      }
    },
    "CreateContext": {
      "input": {
        "type": "structure",
        "required": [
          "ContextName",
          "Source",
          "ContextType"
        ],
        "members": {
          "ContextName": {},
          "Source": {
            "shape": "S6p"
          },
          "ContextType": {},
          "Description": {},
          "Properties": {
            "shape": "S1o"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContextArn": {}
        }
      }
    },
    "CreateDataQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "DataQualityAppSpecification",
          "DataQualityJobInput",
          "DataQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "DataQualityBaselineConfig": {
            "shape": "S6u"
          },
          "DataQualityAppSpecification": {
            "shape": "S6y"
          },
          "DataQualityJobInput": {
            "shape": "S77"
          },
          "DataQualityJobOutputConfig": {
            "shape": "S7e"
          },
          "JobResources": {
            "shape": "S7k"
          },
          "NetworkConfig": {
            "shape": "S7p"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S7q"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateDeviceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName",
          "OutputConfig"
        ],
        "members": {
          "DeviceFleetName": {},
          "RoleArn": {},
          "Description": {},
          "OutputConfig": {
            "shape": "S7w"
          },
          "Tags": {
            "shape": "S7"
          },
          "EnableIotRoleAlias": {
            "type": "boolean"
          }
        }
      }
    },
    "CreateDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainName",
          "AuthMode",
          "DefaultUserSettings",
          "SubnetIds",
          "VpcId"
        ],
        "members": {
          "DomainName": {},
          "AuthMode": {},
          "DefaultUserSettings": {
            "shape": "S82"
          },
          "SubnetIds": {
            "shape": "S5p"
          },
          "VpcId": {},
          "Tags": {
            "shape": "S7"
          },
          "AppNetworkAccessType": {},
          "HomeEfsFileSystemKmsKeyId": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use KmsKeyId instead."
          },
          "KmsKeyId": {},
          "AppSecurityGroupManagement": {},
          "DomainSettings": {
            "shape": "S8l"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainArn": {},
          "Url": {}
        }
      }
    },
    "CreateEdgePackagingJob": {
      "input": {
        "type": "structure",
        "required": [
          "EdgePackagingJobName",
          "CompilationJobName",
          "ModelName",
          "ModelVersion",
          "RoleArn",
          "OutputConfig"
        ],
        "members": {
          "EdgePackagingJobName": {},
          "CompilationJobName": {},
          "ModelName": {},
          "ModelVersion": {},
          "RoleArn": {},
          "OutputConfig": {
            "shape": "S7w"
          },
          "ResourceKey": {},
          "Tags": {
            "shape": "S7"
          }
        }
      }
    },
    "CreateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointConfigName"
        ],
        "members": {
          "EndpointName": {},
          "EndpointConfigName": {},
          "DeploymentConfig": {
            "shape": "S8v"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      }
    },
    "CreateEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "ProductionVariants"
        ],
        "members": {
          "EndpointConfigName": {},
          "ProductionVariants": {
            "shape": "S9c"
          },
          "DataCaptureConfig": {
            "shape": "S9o"
          },
          "Tags": {
            "shape": "S7"
          },
          "KmsKeyId": {},
          "AsyncInferenceConfig": {
            "shape": "S9z"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigArn"
        ],
        "members": {
          "EndpointConfigArn": {}
        }
      }
    },
    "CreateExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {},
          "DisplayName": {},
          "Description": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentArn": {}
        }
      }
    },
    "CreateFeatureGroup": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName",
          "RecordIdentifierFeatureName",
          "EventTimeFeatureName",
          "FeatureDefinitions"
        ],
        "members": {
          "FeatureGroupName": {},
          "RecordIdentifierFeatureName": {},
          "EventTimeFeatureName": {},
          "FeatureDefinitions": {
            "shape": "Sad"
          },
          "OnlineStoreConfig": {
            "shape": "Sag"
          },
          "OfflineStoreConfig": {
            "shape": "Sai"
          },
          "RoleArn": {},
          "Description": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FeatureGroupArn"
        ],
        "members": {
          "FeatureGroupArn": {}
        }
      }
    },
    "CreateFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName",
          "HumanLoopConfig",
          "OutputConfig",
          "RoleArn"
        ],
        "members": {
          "FlowDefinitionName": {},
          "HumanLoopRequestSource": {
            "shape": "Sat"
          },
          "HumanLoopActivationConfig": {
            "shape": "Sav"
          },
          "HumanLoopConfig": {
            "shape": "Say"
          },
          "OutputConfig": {
            "shape": "Sbd"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionArn"
        ],
        "members": {
          "FlowDefinitionArn": {}
        }
      }
    },
    "CreateHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName",
          "UiTemplate"
        ],
        "members": {
          "HumanTaskUiName": {},
          "UiTemplate": {
            "shape": "Sbi"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiArn"
        ],
        "members": {
          "HumanTaskUiArn": {}
        }
      }
    },
    "CreateHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobConfig"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobConfig": {
            "shape": "Sbn"
          },
          "TrainingJobDefinition": {
            "shape": "Sc4"
          },
          "TrainingJobDefinitions": {
            "shape": "Scc"
          },
          "WarmStartConfig": {
            "shape": "Scd"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobArn"
        ],
        "members": {
          "HyperParameterTuningJobArn": {}
        }
      }
    },
    "CreateImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName",
          "RoleArn"
        ],
        "members": {
          "Description": {},
          "DisplayName": {},
          "ImageName": {},
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageArn": {}
        }
      }
    },
    "CreateImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "BaseImage",
          "ClientToken",
          "ImageName"
        ],
        "members": {
          "BaseImage": {},
          "ClientToken": {
            "idempotencyToken": true
          },
          "ImageName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ImageVersionArn": {}
        }
      }
    },
    "CreateInferenceRecommendationsJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName",
          "JobType",
          "RoleArn",
          "InputConfig"
        ],
        "members": {
          "JobName": {},
          "JobType": {},
          "RoleArn": {},
          "InputConfig": {
            "shape": "Scu"
          },
          "JobDescription": {},
          "StoppingConditions": {
            "shape": "Sdg"
          },
          "OutputConfig": {
            "type": "structure",
            "members": {
              "KmsKeyId": {},
              "CompiledOutputConfig": {
                "type": "structure",
                "members": {
                  "S3OutputUri": {}
                }
              }
            }
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobArn"
        ],
        "members": {
          "JobArn": {}
        }
      }
    },
    "CreateLabelingJob": {
      "input": {
        "type": "structure",
        "required": [
          "LabelingJobName",
          "LabelAttributeName",
          "InputConfig",
          "OutputConfig",
          "RoleArn",
          "HumanTaskConfig"
        ],
        "members": {
          "LabelingJobName": {},
          "LabelAttributeName": {},
          "InputConfig": {
            "shape": "Sdr"
          },
          "OutputConfig": {
            "shape": "Sdy"
          },
          "RoleArn": {},
          "LabelCategoryConfigS3Uri": {},
          "StoppingConditions": {
            "shape": "Sdz"
          },
          "LabelingJobAlgorithmsConfig": {
            "shape": "Se2"
          },
          "HumanTaskConfig": {
            "shape": "Se6"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobArn"
        ],
        "members": {
          "LabelingJobArn": {}
        }
      }
    },
    "CreateModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName",
          "ExecutionRoleArn"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "Sel"
          },
          "Containers": {
            "shape": "Seu"
          },
          "InferenceExecutionConfig": {
            "shape": "Sev"
          },
          "ExecutionRoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "VpcConfig": {
            "shape": "S5m"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelArn"
        ],
        "members": {
          "ModelArn": {}
        }
      }
    },
    "CreateModelBiasJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "ModelBiasAppSpecification",
          "ModelBiasJobInput",
          "ModelBiasJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "ModelBiasBaselineConfig": {
            "shape": "Sez"
          },
          "ModelBiasAppSpecification": {
            "shape": "Sf0"
          },
          "ModelBiasJobInput": {
            "shape": "Sf1"
          },
          "ModelBiasJobOutputConfig": {
            "shape": "S7e"
          },
          "JobResources": {
            "shape": "S7k"
          },
          "NetworkConfig": {
            "shape": "S7p"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S7q"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateModelExplainabilityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "ModelExplainabilityAppSpecification",
          "ModelExplainabilityJobInput",
          "ModelExplainabilityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "ModelExplainabilityBaselineConfig": {
            "shape": "Sf5"
          },
          "ModelExplainabilityAppSpecification": {
            "shape": "Sf6"
          },
          "ModelExplainabilityJobInput": {
            "shape": "Sf7"
          },
          "ModelExplainabilityJobOutputConfig": {
            "shape": "S7e"
          },
          "JobResources": {
            "shape": "S7k"
          },
          "NetworkConfig": {
            "shape": "S7p"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S7q"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateModelPackage": {
      "input": {
        "type": "structure",
        "members": {
          "ModelPackageName": {},
          "ModelPackageGroupName": {},
          "ModelPackageDescription": {},
          "InferenceSpecification": {
            "shape": "Sr"
          },
          "ValidationSpecification": {
            "shape": "Sfa"
          },
          "SourceAlgorithmSpecification": {
            "shape": "Sfd"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          },
          "Tags": {
            "shape": "S7"
          },
          "ModelApprovalStatus": {},
          "MetadataProperties": {
            "shape": "S1q"
          },
          "ModelMetrics": {
            "shape": "Sfg"
          },
          "ClientToken": {
            "idempotencyToken": true
          },
          "CustomerMetadataProperties": {
            "shape": "Sfn"
          },
          "DriftCheckBaselines": {
            "shape": "Sfq"
          },
          "Domain": {},
          "Task": {},
          "SamplePayloadUrl": {},
          "AdditionalInferenceSpecifications": {
            "shape": "Sfw"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageArn"
        ],
        "members": {
          "ModelPackageArn": {}
        }
      }
    },
    "CreateModelPackageGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {},
          "ModelPackageGroupDescription": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageGroupArn"
        ],
        "members": {
          "ModelPackageGroupArn": {}
        }
      }
    },
    "CreateModelQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName",
          "ModelQualityAppSpecification",
          "ModelQualityJobInput",
          "ModelQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionName": {},
          "ModelQualityBaselineConfig": {
            "shape": "Sg3"
          },
          "ModelQualityAppSpecification": {
            "shape": "Sg4"
          },
          "ModelQualityJobInput": {
            "shape": "Sg6"
          },
          "ModelQualityJobOutputConfig": {
            "shape": "S7e"
          },
          "JobResources": {
            "shape": "S7k"
          },
          "NetworkConfig": {
            "shape": "S7p"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S7q"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn"
        ],
        "members": {
          "JobDefinitionArn": {}
        }
      }
    },
    "CreateMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName",
          "MonitoringScheduleConfig"
        ],
        "members": {
          "MonitoringScheduleName": {},
          "MonitoringScheduleConfig": {
            "shape": "Sga"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringScheduleArn"
        ],
        "members": {
          "MonitoringScheduleArn": {}
        }
      }
    },
    "CreateNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName",
          "InstanceType",
          "RoleArn"
        ],
        "members": {
          "NotebookInstanceName": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroupIds": {
            "shape": "S83"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "Tags": {
            "shape": "S7"
          },
          "LifecycleConfigName": {},
          "DirectInternetAccess": {},
          "VolumeSizeInGB": {
            "type": "integer"
          },
          "AcceleratorTypes": {
            "shape": "Sgs"
          },
          "DefaultCodeRepository": {},
          "AdditionalCodeRepositories": {
            "shape": "Sgv"
          },
          "RootAccess": {},
          "PlatformIdentifier": {},
          "InstanceMetadataServiceConfiguration": {
            "shape": "Sgy"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {}
        }
      }
    },
    "CreateNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "Sh3"
          },
          "OnStart": {
            "shape": "Sh3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {}
        }
      }
    },
    "CreatePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineName",
          "ClientRequestToken",
          "RoleArn"
        ],
        "members": {
          "PipelineName": {},
          "PipelineDisplayName": {},
          "PipelineDefinition": {},
          "PipelineDefinitionS3Location": {
            "shape": "Shb"
          },
          "PipelineDescription": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "ParallelismConfiguration": {
            "shape": "Shh"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineArn": {}
        }
      }
    },
    "CreatePresignedDomainUrl": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          },
          "ExpiresInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreatePresignedNotebookInstanceUrl": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreateProcessingJob": {
      "input": {
        "type": "structure",
        "required": [
          "ProcessingJobName",
          "ProcessingResources",
          "AppSpecification",
          "RoleArn"
        ],
        "members": {
          "ProcessingInputs": {
            "shape": "Shu"
          },
          "ProcessingOutputConfig": {
            "shape": "Sih"
          },
          "ProcessingJobName": {},
          "ProcessingResources": {
            "shape": "Sim"
          },
          "StoppingCondition": {
            "shape": "Sio"
          },
          "AppSpecification": {
            "shape": "Siq"
          },
          "Environment": {
            "shape": "Sis"
          },
          "NetworkConfig": {
            "shape": "Sgi"
          },
          "RoleArn": {},
          "Tags": {
            "shape": "S7"
          },
          "ExperimentConfig": {
            "shape": "Sit"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessingJobArn"
        ],
        "members": {
          "ProcessingJobArn": {}
        }
      }
    },
    "CreateProject": {
      "input": {
        "type": "structure",
        "required": [
          "ProjectName",
          "ServiceCatalogProvisioningDetails"
        ],
        "members": {
          "ProjectName": {},
          "ProjectDescription": {},
          "ServiceCatalogProvisioningDetails": {
            "shape": "Siy"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProjectArn",
          "ProjectId"
        ],
        "members": {
          "ProjectArn": {},
          "ProjectId": {}
        }
      }
    },
    "CreateStudioLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "StudioLifecycleConfigName",
          "StudioLifecycleConfigContent",
          "StudioLifecycleConfigAppType"
        ],
        "members": {
          "StudioLifecycleConfigName": {},
          "StudioLifecycleConfigContent": {},
          "StudioLifecycleConfigAppType": {},
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "StudioLifecycleConfigArn": {}
        }
      }
    },
    "CreateTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "AlgorithmSpecification",
          "RoleArn",
          "OutputDataConfig",
          "ResourceConfig",
          "StoppingCondition"
        ],
        "members": {
          "TrainingJobName": {},
          "HyperParameters": {
            "shape": "S2t"
          },
          "AlgorithmSpecification": {
            "shape": "Sje"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S2v"
          },
          "OutputDataConfig": {
            "shape": "S3e"
          },
          "ResourceConfig": {
            "shape": "S3g"
          },
          "VpcConfig": {
            "shape": "S5m"
          },
          "StoppingCondition": {
            "shape": "S3l"
          },
          "Tags": {
            "shape": "S7"
          },
          "EnableNetworkIsolation": {
            "type": "boolean"
          },
          "EnableInterContainerTrafficEncryption": {
            "type": "boolean"
          },
          "EnableManagedSpotTraining": {
            "type": "boolean"
          },
          "CheckpointConfig": {
            "shape": "Sc9"
          },
          "DebugHookConfig": {
            "shape": "Sjf"
          },
          "DebugRuleConfigurations": {
            "shape": "Sjn"
          },
          "TensorBoardOutputConfig": {
            "shape": "Sjs"
          },
          "ExperimentConfig": {
            "shape": "Sit"
          },
          "ProfilerConfig": {
            "shape": "Sjt"
          },
          "ProfilerRuleConfigurations": {
            "shape": "Sjw"
          },
          "Environment": {
            "shape": "Sjy"
          },
          "RetryStrategy": {
            "shape": "Sca"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobArn"
        ],
        "members": {
          "TrainingJobArn": {}
        }
      }
    },
    "CreateTransformJob": {
      "input": {
        "type": "structure",
        "required": [
          "TransformJobName",
          "ModelName",
          "TransformInput",
          "TransformOutput",
          "TransformResources"
        ],
        "members": {
          "TransformJobName": {},
          "ModelName": {},
          "MaxConcurrentTransforms": {
            "type": "integer"
          },
          "ModelClientConfig": {
            "shape": "Sk5"
          },
          "MaxPayloadInMB": {
            "type": "integer"
          },
          "BatchStrategy": {},
          "Environment": {
            "shape": "S3s"
          },
          "TransformInput": {
            "shape": "S3v"
          },
          "TransformOutput": {
            "shape": "S3z"
          },
          "TransformResources": {
            "shape": "S42"
          },
          "DataProcessing": {
            "shape": "Sk8"
          },
          "Tags": {
            "shape": "S7"
          },
          "ExperimentConfig": {
            "shape": "Sit"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TransformJobArn"
        ],
        "members": {
          "TransformJobArn": {}
        }
      }
    },
    "CreateTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName",
          "ExperimentName"
        ],
        "members": {
          "TrialName": {},
          "DisplayName": {},
          "ExperimentName": {},
          "MetadataProperties": {
            "shape": "S1q"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "CreateTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {},
          "DisplayName": {},
          "Status": {
            "shape": "Skg"
          },
          "StartTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "Parameters": {
            "shape": "Skk"
          },
          "InputArtifacts": {
            "shape": "Sko"
          },
          "OutputArtifacts": {
            "shape": "Sko"
          },
          "MetadataProperties": {
            "shape": "S1q"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {}
        }
      }
    },
    "CreateUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "SingleSignOnUserIdentifier": {},
          "SingleSignOnUserValue": {},
          "Tags": {
            "shape": "S7"
          },
          "UserSettings": {
            "shape": "S82"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "UserProfileArn": {}
        }
      }
    },
    "CreateWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "CognitoConfig": {
            "shape": "Skz"
          },
          "OidcConfig": {
            "shape": "Sl2"
          },
          "SourceIpConfig": {
            "shape": "Sl5"
          },
          "WorkforceName": {},
          "Tags": {
            "shape": "S7"
          },
          "WorkforceVpcConfig": {
            "shape": "Sl9"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "WorkforceArn"
        ],
        "members": {
          "WorkforceArn": {}
        }
      }
    },
    "CreateWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName",
          "MemberDefinitions",
          "Description"
        ],
        "members": {
          "WorkteamName": {},
          "WorkforceName": {},
          "MemberDefinitions": {
            "shape": "Slj"
          },
          "Description": {},
          "NotificationConfiguration": {
            "shape": "Slr"
          },
          "Tags": {
            "shape": "S7"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "WorkteamArn": {}
        }
      }
    },
    "DeleteAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionName"
        ],
        "members": {
          "ActionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActionArn": {}
        }
      }
    },
    "DeleteAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName"
        ],
        "members": {
          "AlgorithmName": {}
        }
      }
    },
    "DeleteApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {}
        }
      }
    },
    "DeleteAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {}
        }
      }
    },
    "DeleteArtifact": {
      "input": {
        "type": "structure",
        "members": {
          "ArtifactArn": {},
          "Source": {
            "shape": "S4x"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ArtifactArn": {}
        }
      }
    },
    "DeleteAssociation": {
      "input": {
        "type": "structure",
        "required": [
          "SourceArn",
          "DestinationArn"
        ],
        "members": {
          "SourceArn": {},
          "DestinationArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "SourceArn": {},
          "DestinationArn": {}
        }
      }
    },
    "DeleteCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName"
        ],
        "members": {
          "CodeRepositoryName": {}
        }
      }
    },
    "DeleteContext": {
      "input": {
        "type": "structure",
        "required": [
          "ContextName"
        ],
        "members": {
          "ContextName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContextArn": {}
        }
      }
    },
    "DeleteDataQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteDeviceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName"
        ],
        "members": {
          "DeviceFleetName": {}
        }
      }
    },
    "DeleteDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId"
        ],
        "members": {
          "DomainId": {},
          "RetentionPolicy": {
            "type": "structure",
            "members": {
              "HomeEfsFileSystem": {}
            }
          }
        }
      }
    },
    "DeleteEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      }
    },
    "DeleteEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      }
    },
    "DeleteExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentArn": {}
        }
      }
    },
    "DeleteFeatureGroup": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName"
        ],
        "members": {
          "FeatureGroupName": {}
        }
      }
    },
    "DeleteFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName"
        ],
        "members": {
          "FlowDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName"
        ],
        "members": {
          "HumanTaskUiName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName",
          "Version"
        ],
        "members": {
          "ImageName": {},
          "Version": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      }
    },
    "DeleteModelBiasJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteModelExplainabilityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageName"
        ],
        "members": {
          "ModelPackageName": {}
        }
      }
    },
    "DeleteModelPackageGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {}
        }
      }
    },
    "DeleteModelPackageGroupPolicy": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {}
        }
      }
    },
    "DeleteModelQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      }
    },
    "DeleteMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName"
        ],
        "members": {
          "MonitoringScheduleName": {}
        }
      }
    },
    "DeleteNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      }
    },
    "DeleteNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {}
        }
      }
    },
    "DeletePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineName",
          "ClientRequestToken"
        ],
        "members": {
          "PipelineName": {},
          "ClientRequestToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineArn": {}
        }
      }
    },
    "DeleteProject": {
      "input": {
        "type": "structure",
        "required": [
          "ProjectName"
        ],
        "members": {
          "ProjectName": {}
        }
      }
    },
    "DeleteStudioLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "StudioLifecycleConfigName"
        ],
        "members": {
          "StudioLifecycleConfigName": {}
        }
      }
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteTrial": {
      "input": {
        "type": "structure",
        "required": [
          "TrialName"
        ],
        "members": {
          "TrialName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialArn": {}
        }
      }
    },
    "DeleteTrialComponent": {
      "input": {
        "type": "structure",
        "required": [
          "TrialComponentName"
        ],
        "members": {
          "TrialComponentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "TrialComponentArn": {}
        }
      }
    },
    "DeleteUserProfile": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {}
        }
      }
    },
    "DeleteWorkforce": {
      "input": {
        "type": "structure",
        "required": [
          "WorkforceName"
        ],
        "members": {
          "WorkforceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DeleteWorkteam": {
      "input": {
        "type": "structure",
        "required": [
          "WorkteamName"
        ],
        "members": {
          "WorkteamName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Success"
        ],
        "members": {
          "Success": {
            "type": "boolean"
          }
        }
      }
    },
    "DeregisterDevices": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName",
          "DeviceNames"
        ],
        "members": {
          "DeviceFleetName": {},
          "DeviceNames": {
            "type": "list",
            "member": {}
          }
        }
      }
    },
    "DescribeAction": {
      "input": {
        "type": "structure",
        "required": [
          "ActionName"
        ],
        "members": {
          "ActionName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ActionName": {},
          "ActionArn": {},
          "Source": {
            "shape": "S1j"
          },
          "ActionType": {},
          "Description": {},
          "Status": {},
          "Properties": {
            "shape": "S1o"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Snl"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Snl"
          },
          "MetadataProperties": {
            "shape": "S1q"
          },
          "LineageGroupArn": {}
        }
      }
    },
    "DescribeAlgorithm": {
      "input": {
        "type": "structure",
        "required": [
          "AlgorithmName"
        ],
        "members": {
          "AlgorithmName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AlgorithmName",
          "AlgorithmArn",
          "CreationTime",
          "TrainingSpecification",
          "AlgorithmStatus",
          "AlgorithmStatusDetails"
        ],
        "members": {
          "AlgorithmName": {},
          "AlgorithmArn": {},
          "AlgorithmDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "TrainingSpecification": {
            "shape": "S1v"
          },
          "InferenceSpecification": {
            "shape": "Sr"
          },
          "ValidationSpecification": {
            "shape": "S2o"
          },
          "AlgorithmStatus": {},
          "AlgorithmStatusDetails": {
            "type": "structure",
            "members": {
              "ValidationStatuses": {
                "shape": "Snr"
              },
              "ImageScanStatuses": {
                "shape": "Snr"
              }
            }
          },
          "ProductId": {},
          "CertifyForMarketplace": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeApp": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId",
          "UserProfileName",
          "AppType",
          "AppName"
        ],
        "members": {
          "DomainId": {},
          "UserProfileName": {},
          "AppType": {},
          "AppName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppArn": {},
          "AppType": {},
          "AppName": {},
          "DomainId": {},
          "UserProfileName": {},
          "Status": {},
          "LastHealthCheckTimestamp": {
            "type": "timestamp"
          },
          "LastUserActivityTimestamp": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ResourceSpec": {
            "shape": "S4c"
          }
        }
      }
    },
    "DescribeAppImageConfig": {
      "input": {
        "type": "structure",
        "required": [
          "AppImageConfigName"
        ],
        "members": {
          "AppImageConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AppImageConfigArn": {},
          "AppImageConfigName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "KernelGatewayImageConfig": {
            "shape": "S4l"
          }
        }
      }
    },
    "DescribeArtifact": {
      "input": {
        "type": "structure",
        "required": [
          "ArtifactArn"
        ],
        "members": {
          "ArtifactArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ArtifactName": {},
          "ArtifactArn": {},
          "Source": {
            "shape": "S4x"
          },
          "ArtifactType": {},
          "Properties": {
            "shape": "S1o"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Snl"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Snl"
          },
          "MetadataProperties": {
            "shape": "S1q"
          },
          "LineageGroupArn": {}
        }
      }
    },
    "DescribeAutoMLJob": {
      "input": {
        "type": "structure",
        "required": [
          "AutoMLJobName"
        ],
        "members": {
          "AutoMLJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "AutoMLJobName",
          "AutoMLJobArn",
          "InputDataConfig",
          "OutputDataConfig",
          "RoleArn",
          "CreationTime",
          "LastModifiedTime",
          "AutoMLJobStatus",
          "AutoMLJobSecondaryStatus"
        ],
        "members": {
          "AutoMLJobName": {},
          "AutoMLJobArn": {},
          "InputDataConfig": {
            "shape": "S55"
          },
          "OutputDataConfig": {
            "shape": "S5c"
          },
          "RoleArn": {},
          "AutoMLJobObjective": {
            "shape": "S5e"
          },
          "ProblemType": {},
          "AutoMLJobConfig": {
            "shape": "S5g"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "EndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "PartialFailureReasons": {
            "shape": "So5"
          },
          "BestCandidate": {
            "shape": "So7"
          },
          "AutoMLJobStatus": {},
          "AutoMLJobSecondaryStatus": {},
          "GenerateCandidateDefinitionsOnly": {
            "type": "boolean"
          },
          "AutoMLJobArtifacts": {
            "type": "structure",
            "members": {
              "CandidateDefinitionNotebookLocation": {},
              "DataExplorationNotebookLocation": {}
            }
          },
          "ResolvedAttributes": {
            "type": "structure",
            "members": {
              "AutoMLJobObjective": {
                "shape": "S5e"
              },
              "ProblemType": {},
              "CompletionCriteria": {
                "shape": "S5h"
              }
            }
          },
          "ModelDeployConfig": {
            "shape": "S5v"
          },
          "ModelDeployResult": {
            "type": "structure",
            "members": {
              "EndpointName": {}
            }
          }
        }
      }
    },
    "DescribeCodeRepository": {
      "input": {
        "type": "structure",
        "required": [
          "CodeRepositoryName"
        ],
        "members": {
          "CodeRepositoryName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CodeRepositoryName",
          "CodeRepositoryArn",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "CodeRepositoryName": {},
          "CodeRepositoryArn": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "GitConfig": {
            "shape": "S61"
          }
        }
      }
    },
    "DescribeCompilationJob": {
      "input": {
        "type": "structure",
        "required": [
          "CompilationJobName"
        ],
        "members": {
          "CompilationJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "CompilationJobName",
          "CompilationJobArn",
          "CompilationJobStatus",
          "StoppingCondition",
          "CreationTime",
          "LastModifiedTime",
          "FailureReason",
          "ModelArtifacts",
          "RoleArn",
          "InputConfig",
          "OutputConfig"
        ],
        "members": {
          "CompilationJobName": {},
          "CompilationJobArn": {},
          "CompilationJobStatus": {},
          "CompilationStartTime": {
            "type": "timestamp"
          },
          "CompilationEndTime": {
            "type": "timestamp"
          },
          "StoppingCondition": {
            "shape": "S3l"
          },
          "InferenceImage": {},
          "ModelPackageVersionArn": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ModelArtifacts": {
            "shape": "Sp8"
          },
          "ModelDigests": {
            "type": "structure",
            "members": {
              "ArtifactDigest": {}
            }
          },
          "RoleArn": {},
          "InputConfig": {
            "shape": "S68"
          },
          "OutputConfig": {
            "shape": "S6a"
          },
          "VpcConfig": {
            "shape": "S6h"
          }
        }
      }
    },
    "DescribeContext": {
      "input": {
        "type": "structure",
        "required": [
          "ContextName"
        ],
        "members": {
          "ContextName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ContextName": {},
          "ContextArn": {},
          "Source": {
            "shape": "S6p"
          },
          "ContextType": {},
          "Description": {},
          "Properties": {
            "shape": "S1o"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Snl"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Snl"
          },
          "LineageGroupArn": {}
        }
      }
    },
    "DescribeDataQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn",
          "JobDefinitionName",
          "CreationTime",
          "DataQualityAppSpecification",
          "DataQualityJobInput",
          "DataQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionArn": {},
          "JobDefinitionName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "DataQualityBaselineConfig": {
            "shape": "S6u"
          },
          "DataQualityAppSpecification": {
            "shape": "S6y"
          },
          "DataQualityJobInput": {
            "shape": "S77"
          },
          "DataQualityJobOutputConfig": {
            "shape": "S7e"
          },
          "JobResources": {
            "shape": "S7k"
          },
          "NetworkConfig": {
            "shape": "S7p"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S7q"
          }
        }
      }
    },
    "DescribeDevice": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceName",
          "DeviceFleetName"
        ],
        "members": {
          "NextToken": {},
          "DeviceName": {},
          "DeviceFleetName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeviceName",
          "DeviceFleetName",
          "RegistrationTime"
        ],
        "members": {
          "DeviceArn": {},
          "DeviceName": {},
          "Description": {},
          "DeviceFleetName": {},
          "IotThingName": {},
          "RegistrationTime": {
            "type": "timestamp"
          },
          "LatestHeartbeat": {
            "type": "timestamp"
          },
          "Models": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelName",
                "ModelVersion"
              ],
              "members": {
                "ModelName": {},
                "ModelVersion": {},
                "LatestSampleTime": {
                  "type": "timestamp"
                },
                "LatestInference": {
                  "type": "timestamp"
                }
              }
            }
          },
          "MaxModels": {
            "type": "integer"
          },
          "NextToken": {},
          "AgentVersion": {}
        }
      }
    },
    "DescribeDeviceFleet": {
      "input": {
        "type": "structure",
        "required": [
          "DeviceFleetName"
        ],
        "members": {
          "DeviceFleetName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "DeviceFleetName",
          "DeviceFleetArn",
          "OutputConfig",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "DeviceFleetName": {},
          "DeviceFleetArn": {},
          "OutputConfig": {
            "shape": "S7w"
          },
          "Description": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "RoleArn": {},
          "IotRoleAlias": {}
        }
      }
    },
    "DescribeDomain": {
      "input": {
        "type": "structure",
        "required": [
          "DomainId"
        ],
        "members": {
          "DomainId": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "DomainArn": {},
          "DomainId": {},
          "DomainName": {},
          "HomeEfsFileSystemId": {},
          "SingleSignOnManagedApplicationInstanceId": {},
          "Status": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "AuthMode": {},
          "DefaultUserSettings": {
            "shape": "S82"
          },
          "AppNetworkAccessType": {},
          "HomeEfsFileSystemKmsKeyId": {
            "deprecated": true,
            "deprecatedMessage": "This property is deprecated, use KmsKeyId instead."
          },
          "SubnetIds": {
            "shape": "S5p"
          },
          "Url": {},
          "VpcId": {},
          "KmsKeyId": {},
          "DomainSettings": {
            "shape": "S8l"
          },
          "AppSecurityGroupManagement": {},
          "SecurityGroupIdForDomainBoundary": {}
        }
      }
    },
    "DescribeEdgePackagingJob": {
      "input": {
        "type": "structure",
        "required": [
          "EdgePackagingJobName"
        ],
        "members": {
          "EdgePackagingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EdgePackagingJobArn",
          "EdgePackagingJobName",
          "EdgePackagingJobStatus"
        ],
        "members": {
          "EdgePackagingJobArn": {},
          "EdgePackagingJobName": {},
          "CompilationJobName": {},
          "ModelName": {},
          "ModelVersion": {},
          "RoleArn": {},
          "OutputConfig": {
            "shape": "S7w"
          },
          "ResourceKey": {},
          "EdgePackagingJobStatus": {},
          "EdgePackagingJobStatusMessage": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "ModelArtifact": {},
          "ModelSignature": {},
          "PresetDeploymentOutput": {
            "type": "structure",
            "required": [
              "Type"
            ],
            "members": {
              "Type": {},
              "Artifact": {},
              "Status": {},
              "StatusMessage": {}
            }
          }
        }
      }
    },
    "DescribeEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointArn",
          "EndpointConfigName",
          "EndpointStatus",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "EndpointName": {},
          "EndpointArn": {},
          "EndpointConfigName": {},
          "ProductionVariants": {
            "shape": "Sq4"
          },
          "DataCaptureConfig": {
            "shape": "Sqd"
          },
          "EndpointStatus": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastDeploymentConfig": {
            "shape": "S8v"
          },
          "AsyncInferenceConfig": {
            "shape": "S9z"
          },
          "PendingDeploymentSummary": {
            "type": "structure",
            "required": [
              "EndpointConfigName"
            ],
            "members": {
              "EndpointConfigName": {},
              "ProductionVariants": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "VariantName"
                  ],
                  "members": {
                    "VariantName": {},
                    "DeployedImages": {
                      "shape": "Sq6"
                    },
                    "CurrentWeight": {
                      "type": "float"
                    },
                    "DesiredWeight": {
                      "type": "float"
                    },
                    "CurrentInstanceCount": {
                      "type": "integer"
                    },
                    "DesiredInstanceCount": {
                      "type": "integer"
                    },
                    "InstanceType": {},
                    "AcceleratorType": {},
                    "VariantStatus": {
                      "shape": "Sq9"
                    },
                    "CurrentServerlessConfig": {
                      "shape": "S9l"
                    },
                    "DesiredServerlessConfig": {
                      "shape": "S9l"
                    }
                  }
                }
              },
              "StartTime": {
                "type": "timestamp"
              }
            }
          }
        }
      }
    },
    "DescribeEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "EndpointConfigArn",
          "ProductionVariants",
          "CreationTime"
        ],
        "members": {
          "EndpointConfigName": {},
          "EndpointConfigArn": {},
          "ProductionVariants": {
            "shape": "S9c"
          },
          "DataCaptureConfig": {
            "shape": "S9o"
          },
          "KmsKeyId": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "AsyncInferenceConfig": {
            "shape": "S9z"
          }
        }
      }
    },
    "DescribeExperiment": {
      "input": {
        "type": "structure",
        "required": [
          "ExperimentName"
        ],
        "members": {
          "ExperimentName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "ExperimentName": {},
          "ExperimentArn": {},
          "DisplayName": {},
          "Source": {
            "shape": "Sqn"
          },
          "Description": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Snl"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Snl"
          }
        }
      }
    },
    "DescribeFeatureGroup": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName"
        ],
        "members": {
          "FeatureGroupName": {},
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FeatureGroupArn",
          "FeatureGroupName",
          "RecordIdentifierFeatureName",
          "EventTimeFeatureName",
          "FeatureDefinitions",
          "CreationTime",
          "NextToken"
        ],
        "members": {
          "FeatureGroupArn": {},
          "FeatureGroupName": {},
          "RecordIdentifierFeatureName": {},
          "EventTimeFeatureName": {},
          "FeatureDefinitions": {
            "shape": "Sad"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "OnlineStoreConfig": {
            "shape": "Sag"
          },
          "OfflineStoreConfig": {
            "shape": "Sai"
          },
          "RoleArn": {},
          "FeatureGroupStatus": {},
          "OfflineStoreStatus": {
            "shape": "Sqt"
          },
          "LastUpdateStatus": {
            "shape": "Sqw"
          },
          "FailureReason": {},
          "Description": {},
          "NextToken": {},
          "OnlineStoreTotalSizeBytes": {
            "type": "long"
          }
        }
      }
    },
    "DescribeFeatureMetadata": {
      "input": {
        "type": "structure",
        "required": [
          "FeatureGroupName",
          "FeatureName"
        ],
        "members": {
          "FeatureGroupName": {},
          "FeatureName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FeatureGroupArn",
          "FeatureGroupName",
          "FeatureName",
          "FeatureType",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "FeatureGroupArn": {},
          "FeatureGroupName": {},
          "FeatureName": {},
          "FeatureType": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "Description": {},
          "Parameters": {
            "shape": "Sr2"
          }
        }
      }
    },
    "DescribeFlowDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "FlowDefinitionName"
        ],
        "members": {
          "FlowDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "FlowDefinitionArn",
          "FlowDefinitionName",
          "FlowDefinitionStatus",
          "CreationTime",
          "HumanLoopConfig",
          "OutputConfig",
          "RoleArn"
        ],
        "members": {
          "FlowDefinitionArn": {},
          "FlowDefinitionName": {},
          "FlowDefinitionStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "HumanLoopRequestSource": {
            "shape": "Sat"
          },
          "HumanLoopActivationConfig": {
            "shape": "Sav"
          },
          "HumanLoopConfig": {
            "shape": "Say"
          },
          "OutputConfig": {
            "shape": "Sbd"
          },
          "RoleArn": {},
          "FailureReason": {}
        }
      }
    },
    "DescribeHumanTaskUi": {
      "input": {
        "type": "structure",
        "required": [
          "HumanTaskUiName"
        ],
        "members": {
          "HumanTaskUiName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HumanTaskUiArn",
          "HumanTaskUiName",
          "CreationTime",
          "UiTemplate"
        ],
        "members": {
          "HumanTaskUiArn": {},
          "HumanTaskUiName": {},
          "HumanTaskUiStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "UiTemplate": {
            "type": "structure",
            "members": {
              "Url": {},
              "ContentSha256": {}
            }
          }
        }
      }
    },
    "DescribeHyperParameterTuningJob": {
      "input": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName"
        ],
        "members": {
          "HyperParameterTuningJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "HyperParameterTuningJobName",
          "HyperParameterTuningJobArn",
          "HyperParameterTuningJobConfig",
          "HyperParameterTuningJobStatus",
          "CreationTime",
          "TrainingJobStatusCounters",
          "ObjectiveStatusCounters"
        ],
        "members": {
          "HyperParameterTuningJobName": {},
          "HyperParameterTuningJobArn": {},
          "HyperParameterTuningJobConfig": {
            "shape": "Sbn"
          },
          "TrainingJobDefinition": {
            "shape": "Sc4"
          },
          "TrainingJobDefinitions": {
            "shape": "Scc"
          },
          "HyperParameterTuningJobStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "HyperParameterTuningEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "TrainingJobStatusCounters": {
            "shape": "Sri"
          },
          "ObjectiveStatusCounters": {
            "shape": "Srk"
          },
          "BestTrainingJob": {
            "shape": "Srm"
          },
          "OverallBestTrainingJob": {
            "shape": "Srm"
          },
          "WarmStartConfig": {
            "shape": "Scd"
          },
          "FailureReason": {}
        }
      }
    },
    "DescribeImage": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "CreationTime": {
            "type": "timestamp"
          },
          "Description": {},
          "DisplayName": {},
          "FailureReason": {},
          "ImageArn": {},
          "ImageName": {},
          "ImageStatus": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "RoleArn": {}
        }
      }
    },
    "DescribeImageVersion": {
      "input": {
        "type": "structure",
        "required": [
          "ImageName"
        ],
        "members": {
          "ImageName": {},
          "Version": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "BaseImage": {},
          "ContainerImage": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "ImageArn": {},
          "ImageVersionArn": {},
          "ImageVersionStatus": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "Version": {
            "type": "integer"
          }
        }
      }
    },
    "DescribeInferenceRecommendationsJob": {
      "input": {
        "type": "structure",
        "required": [
          "JobName"
        ],
        "members": {
          "JobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobName",
          "JobType",
          "JobArn",
          "RoleArn",
          "Status",
          "CreationTime",
          "LastModifiedTime",
          "InputConfig"
        ],
        "members": {
          "JobName": {},
          "JobDescription": {},
          "JobType": {},
          "JobArn": {},
          "RoleArn": {},
          "Status": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "CompletionTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "FailureReason": {},
          "InputConfig": {
            "shape": "Scu"
          },
          "StoppingConditions": {
            "shape": "Sdg"
          },
          "InferenceRecommendations": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Metrics",
                "EndpointConfiguration",
                "ModelConfiguration"
              ],
              "members": {
                "Metrics": {
                  "type": "structure",
                  "required": [
                    "CostPerHour",
                    "CostPerInference",
                    "MaxInvocations",
                    "ModelLatency"
                  ],
                  "members": {
                    "CostPerHour": {
                      "type": "float"
                    },
                    "CostPerInference": {
                      "type": "float"
                    },
                    "MaxInvocations": {
                      "type": "integer"
                    },
                    "ModelLatency": {
                      "type": "integer"
                    }
                  }
                },
                "EndpointConfiguration": {
                  "type": "structure",
                  "required": [
                    "EndpointName",
                    "VariantName",
                    "InstanceType",
                    "InitialInstanceCount"
                  ],
                  "members": {
                    "EndpointName": {},
                    "VariantName": {},
                    "InstanceType": {},
                    "InitialInstanceCount": {
                      "type": "integer"
                    }
                  }
                },
                "ModelConfiguration": {
                  "type": "structure",
                  "members": {
                    "InferenceSpecificationName": {},
                    "EnvironmentParameters": {
                      "type": "list",
                      "member": {
                        "type": "structure",
                        "required": [
                          "Key",
                          "ValueType",
                          "Value"
                        ],
                        "members": {
                          "Key": {},
                          "ValueType": {},
                          "Value": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "DescribeLabelingJob": {
      "input": {
        "type": "structure",
        "required": [
          "LabelingJobName"
        ],
        "members": {
          "LabelingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "LabelingJobStatus",
          "LabelCounters",
          "CreationTime",
          "LastModifiedTime",
          "JobReferenceCode",
          "LabelingJobName",
          "LabelingJobArn",
          "InputConfig",
          "OutputConfig",
          "RoleArn",
          "HumanTaskConfig"
        ],
        "members": {
          "LabelingJobStatus": {},
          "LabelCounters": {
            "shape": "Ss9"
          },
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "JobReferenceCode": {},
          "LabelingJobName": {},
          "LabelingJobArn": {},
          "LabelAttributeName": {},
          "InputConfig": {
            "shape": "Sdr"
          },
          "OutputConfig": {
            "shape": "Sdy"
          },
          "RoleArn": {},
          "LabelCategoryConfigS3Uri": {},
          "StoppingConditions": {
            "shape": "Sdz"
          },
          "LabelingJobAlgorithmsConfig": {
            "shape": "Se2"
          },
          "HumanTaskConfig": {
            "shape": "Se6"
          },
          "Tags": {
            "shape": "S7"
          },
          "LabelingJobOutput": {
            "shape": "Ssc"
          }
        }
      }
    },
    "DescribeLineageGroup": {
      "input": {
        "type": "structure",
        "required": [
          "LineageGroupName"
        ],
        "members": {
          "LineageGroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "LineageGroupName": {},
          "LineageGroupArn": {},
          "DisplayName": {},
          "Description": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Snl"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Snl"
          }
        }
      }
    },
    "DescribeModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelName",
          "ExecutionRoleArn",
          "CreationTime",
          "ModelArn"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "Sel"
          },
          "Containers": {
            "shape": "Seu"
          },
          "InferenceExecutionConfig": {
            "shape": "Sev"
          },
          "ExecutionRoleArn": {},
          "VpcConfig": {
            "shape": "S5m"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelArn": {},
          "EnableNetworkIsolation": {
            "type": "boolean"
          }
        }
      }
    },
    "DescribeModelBiasJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn",
          "JobDefinitionName",
          "CreationTime",
          "ModelBiasAppSpecification",
          "ModelBiasJobInput",
          "ModelBiasJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionArn": {},
          "JobDefinitionName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelBiasBaselineConfig": {
            "shape": "Sez"
          },
          "ModelBiasAppSpecification": {
            "shape": "Sf0"
          },
          "ModelBiasJobInput": {
            "shape": "Sf1"
          },
          "ModelBiasJobOutputConfig": {
            "shape": "S7e"
          },
          "JobResources": {
            "shape": "S7k"
          },
          "NetworkConfig": {
            "shape": "S7p"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S7q"
          }
        }
      }
    },
    "DescribeModelExplainabilityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn",
          "JobDefinitionName",
          "CreationTime",
          "ModelExplainabilityAppSpecification",
          "ModelExplainabilityJobInput",
          "ModelExplainabilityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionArn": {},
          "JobDefinitionName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelExplainabilityBaselineConfig": {
            "shape": "Sf5"
          },
          "ModelExplainabilityAppSpecification": {
            "shape": "Sf6"
          },
          "ModelExplainabilityJobInput": {
            "shape": "Sf7"
          },
          "ModelExplainabilityJobOutputConfig": {
            "shape": "S7e"
          },
          "JobResources": {
            "shape": "S7k"
          },
          "NetworkConfig": {
            "shape": "S7p"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S7q"
          }
        }
      }
    },
    "DescribeModelPackage": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageName"
        ],
        "members": {
          "ModelPackageName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageName",
          "ModelPackageArn",
          "CreationTime",
          "ModelPackageStatus",
          "ModelPackageStatusDetails"
        ],
        "members": {
          "ModelPackageName": {},
          "ModelPackageGroupName": {},
          "ModelPackageVersion": {
            "type": "integer"
          },
          "ModelPackageArn": {},
          "ModelPackageDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "InferenceSpecification": {
            "shape": "Sr"
          },
          "SourceAlgorithmSpecification": {
            "shape": "Sfd"
          },
          "ValidationSpecification": {
            "shape": "Sfa"
          },
          "ModelPackageStatus": {},
          "ModelPackageStatusDetails": {
            "shape": "Ssn"
          },
          "CertifyForMarketplace": {
            "type": "boolean"
          },
          "ModelApprovalStatus": {},
          "CreatedBy": {
            "shape": "Snl"
          },
          "MetadataProperties": {
            "shape": "S1q"
          },
          "ModelMetrics": {
            "shape": "Sfg"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastModifiedBy": {
            "shape": "Snl"
          },
          "ApprovalDescription": {},
          "CustomerMetadataProperties": {
            "shape": "Sfn"
          },
          "DriftCheckBaselines": {
            "shape": "Sfq"
          },
          "Domain": {},
          "Task": {},
          "SamplePayloadUrl": {},
          "AdditionalInferenceSpecifications": {
            "shape": "Sfw"
          }
        }
      }
    },
    "DescribeModelPackageGroup": {
      "input": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName"
        ],
        "members": {
          "ModelPackageGroupName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelPackageGroupName",
          "ModelPackageGroupArn",
          "CreationTime",
          "CreatedBy",
          "ModelPackageGroupStatus"
        ],
        "members": {
          "ModelPackageGroupName": {},
          "ModelPackageGroupArn": {},
          "ModelPackageGroupDescription": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Snl"
          },
          "ModelPackageGroupStatus": {}
        }
      }
    },
    "DescribeModelQualityJobDefinition": {
      "input": {
        "type": "structure",
        "required": [
          "JobDefinitionName"
        ],
        "members": {
          "JobDefinitionName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "JobDefinitionArn",
          "JobDefinitionName",
          "CreationTime",
          "ModelQualityAppSpecification",
          "ModelQualityJobInput",
          "ModelQualityJobOutputConfig",
          "JobResources",
          "RoleArn"
        ],
        "members": {
          "JobDefinitionArn": {},
          "JobDefinitionName": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelQualityBaselineConfig": {
            "shape": "Sg3"
          },
          "ModelQualityAppSpecification": {
            "shape": "Sg4"
          },
          "ModelQualityJobInput": {
            "shape": "Sg6"
          },
          "ModelQualityJobOutputConfig": {
            "shape": "S7e"
          },
          "JobResources": {
            "shape": "S7k"
          },
          "NetworkConfig": {
            "shape": "S7p"
          },
          "RoleArn": {},
          "StoppingCondition": {
            "shape": "S7q"
          }
        }
      }
    },
    "DescribeMonitoringSchedule": {
      "input": {
        "type": "structure",
        "required": [
          "MonitoringScheduleName"
        ],
        "members": {
          "MonitoringScheduleName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "MonitoringScheduleArn",
          "MonitoringScheduleName",
          "MonitoringScheduleStatus",
          "CreationTime",
          "LastModifiedTime",
          "MonitoringScheduleConfig"
        ],
        "members": {
          "MonitoringScheduleArn": {},
          "MonitoringScheduleName": {},
          "MonitoringScheduleStatus": {},
          "MonitoringType": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "MonitoringScheduleConfig": {
            "shape": "Sga"
          },
          "EndpointName": {},
          "LastMonitoringExecutionSummary": {
            "shape": "St0"
          }
        }
      }
    },
    "DescribeNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {},
          "NotebookInstanceName": {},
          "NotebookInstanceStatus": {},
          "FailureReason": {},
          "Url": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroups": {
            "shape": "S83"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "NetworkInterfaceId": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "NotebookInstanceLifecycleConfigName": {},
          "DirectInternetAccess": {},
          "VolumeSizeInGB": {
            "type": "integer"
          },
          "AcceleratorTypes": {
            "shape": "Sgs"
          },
          "DefaultCodeRepository": {},
          "AdditionalCodeRepositories": {
            "shape": "Sgv"
          },
          "RootAccess": {},
          "PlatformIdentifier": {},
          "InstanceMetadataServiceConfiguration": {
            "shape": "Sgy"
          }
        }
      }
    },
    "DescribeNotebookInstanceLifecycleConfig": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceLifecycleConfigName"
        ],
        "members": {
          "NotebookInstanceLifecycleConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceLifecycleConfigArn": {},
          "NotebookInstanceLifecycleConfigName": {},
          "OnCreate": {
            "shape": "Sh3"
          },
          "OnStart": {
            "shape": "Sh3"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribePipeline": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineName"
        ],
        "members": {
          "PipelineName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineArn": {},
          "PipelineName": {},
          "PipelineDisplayName": {},
          "PipelineDefinition": {},
          "PipelineDescription": {},
          "RoleArn": {},
          "PipelineStatus": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "LastRunTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Snl"
          },
          "LastModifiedBy": {
            "shape": "Snl"
          },
          "ParallelismConfiguration": {
            "shape": "Shh"
          }
        }
      }
    },
    "DescribePipelineDefinitionForExecution": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineExecutionArn"
        ],
        "members": {
          "PipelineExecutionArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineDefinition": {},
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribePipelineExecution": {
      "input": {
        "type": "structure",
        "required": [
          "PipelineExecutionArn"
        ],
        "members": {
          "PipelineExecutionArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "PipelineArn": {},
          "PipelineExecutionArn": {},
          "PipelineExecutionDisplayName": {},
          "PipelineExecutionStatus": {},
          "PipelineExecutionDescription": {},
          "PipelineExperimentConfig": {
            "shape": "Stj"
          },
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreatedBy": {
            "shape": "Snl"
          },
          "LastModifiedBy": {
            "shape": "Snl"
          },
          "ParallelismConfiguration": {
            "shape": "Shh"
          }
        }
      }
    },
    "DescribeProcessingJob": {
      "input": {
        "type": "structure",
        "required": [
          "ProcessingJobName"
        ],
        "members": {
          "ProcessingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ProcessingJobName",
          "ProcessingResources",
          "AppSpecification",
          "ProcessingJobArn",
          "ProcessingJobStatus",
          "CreationTime"
        ],
        "members": {
          "ProcessingInputs": {
            "shape": "Shu"
          },
          "ProcessingOutputConfig": {
            "shape": "Sih"
          },
          "ProcessingJobName": {},
          "ProcessingResources": {
            "shape": "Sim"
          },
          "StoppingCondition": {
            "shape": "Sio"
          },
          "AppSpecification": {
            "shape": "Siq"
          },
          "Environment": {
            "shape": "Sis"
          },
          "NetworkConfig": {
            "shape": "Sgi"
          },
          "RoleArn": {},
          "ExperimentConfig": {
            "shape": "Sit"
          },
          "ProcessingJobArn": {},
          "ProcessingJobStatus": {},
          "ExitMessage": {},
          "FailureReason": {},
          "ProcessingEndTime": {
            "type": "timestamp"
          },
          "ProcessingStartTime": {
[...]
