{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2017-07-24",
    "endpointPrefix": "sagemaker",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SageMaker",
    "serviceFullName": "Amazon SageMaker Service",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "targetPrefix": "SageMaker",
    "uid": "sagemaker-2017-07-24"
  },
  "operations": {
    "AddTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "Tags"
        ],
        "members": {
          "ResourceArn": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3"
          }
        }
      }
    },
    "CreateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointConfigName"
        ],
        "members": {
          "EndpointName": {},
          "EndpointConfigName": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      }
    },
    "CreateEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "ProductionVariants"
        ],
        "members": {
          "EndpointConfigName": {},
          "ProductionVariants": {
            "shape": "Se"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigArn"
        ],
        "members": {
          "EndpointConfigArn": {}
        }
      }
    },
    "CreateModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName",
          "PrimaryContainer"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "So"
          },
          "SupplementalContainers": {
            "shape": "Sv"
          },
          "ExecutionRoleArn": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelArn"
        ],
        "members": {
          "ModelArn": {}
        }
      }
    },
    "CreateNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName",
          "InstanceType",
          "RoleArn"
        ],
        "members": {
          "NotebookInstanceName": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroupIds": {
            "shape": "S13"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {}
        }
      }
    },
    "CreatePresignedNotebookInstanceUrl": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {},
          "SessionExpirationDurationInSeconds": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "AuthorizedUrl": {}
        }
      }
    },
    "CreateTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "AlgorithmSpecification",
          "RoleArn",
          "InputDataConfig",
          "OutputDataConfig",
          "ResourceConfig",
          "StoppingCondition"
        ],
        "members": {
          "TrainingJobName": {},
          "HyperParameters": {
            "shape": "S1e"
          },
          "AlgorithmSpecification": {
            "shape": "S1h"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S1k"
          },
          "OutputDataConfig": {
            "shape": "S1v"
          },
          "ResourceConfig": {
            "shape": "S1w"
          },
          "StoppingCondition": {
            "shape": "S20"
          },
          "Tags": {
            "shape": "S3"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobArn"
        ],
        "members": {
          "TrainingJobArn": {}
        }
      }
    },
    "DeleteEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      }
    },
    "DeleteEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      }
    },
    "DeleteModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      }
    },
    "DeleteNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      }
    },
    "DeleteTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn",
          "TagKeys"
        ],
        "members": {
          "ResourceArn": {},
          "TagKeys": {
            "type": "list",
            "member": {}
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    },
    "DescribeEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName"
        ],
        "members": {
          "EndpointName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointArn",
          "EndpointConfigName",
          "EndpointStatus",
          "CreationTime",
          "LastModifiedTime"
        ],
        "members": {
          "EndpointName": {},
          "EndpointArn": {},
          "EndpointConfigName": {},
          "ProductionVariants": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "VariantName"
              ],
              "members": {
                "VariantName": {},
                "CurrentWeight": {
                  "type": "float"
                },
                "DesiredWeight": {
                  "type": "float"
                },
                "CurrentInstanceCount": {
                  "type": "integer"
                },
                "DesiredInstanceCount": {
                  "type": "integer"
                }
              }
            }
          },
          "EndpointStatus": {},
          "FailureReason": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeEndpointConfig": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointConfigName"
        ],
        "members": {
          "EndpointConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigName",
          "EndpointConfigArn",
          "ProductionVariants",
          "CreationTime"
        ],
        "members": {
          "EndpointConfigName": {},
          "EndpointConfigArn": {},
          "ProductionVariants": {
            "shape": "Se"
          },
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeModel": {
      "input": {
        "type": "structure",
        "required": [
          "ModelName"
        ],
        "members": {
          "ModelName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "ModelName",
          "PrimaryContainer",
          "SupplementalContainers",
          "ExecutionRoleArn",
          "CreationTime",
          "ModelArn"
        ],
        "members": {
          "ModelName": {},
          "PrimaryContainer": {
            "shape": "So"
          },
          "SupplementalContainers": {
            "shape": "Sv"
          },
          "ExecutionRoleArn": {},
          "CreationTime": {
            "type": "timestamp"
          },
          "ModelArn": {}
        }
      }
    },
    "DescribeNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NotebookInstanceArn": {},
          "NotebookInstanceName": {},
          "NotebookInstanceStatus": {},
          "FailureReason": {},
          "Url": {},
          "InstanceType": {},
          "SubnetId": {},
          "SecurityGroups": {
            "shape": "S13"
          },
          "RoleArn": {},
          "KmsKeyId": {},
          "NetworkInterfaceId": {},
          "LastModifiedTime": {
            "type": "timestamp"
          },
          "CreationTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "DescribeTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName"
        ],
        "members": {
          "TrainingJobName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobName",
          "TrainingJobArn",
          "ModelArtifacts",
          "TrainingJobStatus",
          "SecondaryStatus",
          "AlgorithmSpecification",
          "InputDataConfig",
          "ResourceConfig",
          "StoppingCondition",
          "CreationTime"
        ],
        "members": {
          "TrainingJobName": {},
          "TrainingJobArn": {},
          "ModelArtifacts": {
            "type": "structure",
            "required": [
              "S3ModelArtifacts"
            ],
            "members": {
              "S3ModelArtifacts": {}
            }
          },
          "TrainingJobStatus": {},
          "SecondaryStatus": {},
          "FailureReason": {},
          "HyperParameters": {
            "shape": "S1e"
          },
          "AlgorithmSpecification": {
            "shape": "S1h"
          },
          "RoleArn": {},
          "InputDataConfig": {
            "shape": "S1k"
          },
          "OutputDataConfig": {
            "shape": "S1v"
          },
          "ResourceConfig": {
            "shape": "S1w"
          },
          "StoppingCondition": {
            "shape": "S20"
          },
          "CreationTime": {
            "type": "timestamp"
          },
          "TrainingStartTime": {
            "type": "timestamp"
          },
          "TrainingEndTime": {
            "type": "timestamp"
          },
          "LastModifiedTime": {
            "type": "timestamp"
          }
        }
      }
    },
    "ListEndpointConfigs": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointConfigs"
        ],
        "members": {
          "EndpointConfigs": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "EndpointConfigName",
                "EndpointConfigArn",
                "CreationTime"
              ],
              "members": {
                "EndpointConfigName": {},
                "EndpointConfigArn": {},
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListEndpoints": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Endpoints"
        ],
        "members": {
          "Endpoints": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "EndpointName",
                "EndpointArn",
                "CreationTime",
                "LastModifiedTime",
                "EndpointStatus"
              ],
              "members": {
                "EndpointName": {},
                "EndpointArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "EndpointStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListModels": {
      "input": {
        "type": "structure",
        "members": {
          "SortBy": {},
          "SortOrder": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Models"
        ],
        "members": {
          "Models": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "ModelName",
                "ModelArn",
                "CreationTime"
              ],
              "members": {
                "ModelName": {},
                "ModelArn": {},
                "CreationTime": {
                  "type": "timestamp"
                }
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "ListNotebookInstances": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "SortBy": {},
          "SortOrder": {},
          "NameContains": {},
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "StatusEquals": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "NotebookInstances": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "NotebookInstanceName",
                "NotebookInstanceArn"
              ],
              "members": {
                "NotebookInstanceName": {},
                "NotebookInstanceArn": {},
                "NotebookInstanceStatus": {},
                "Url": {},
                "InstanceType": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "ListTags": {
      "input": {
        "type": "structure",
        "required": [
          "ResourceArn"
        ],
        "members": {
          "ResourceArn": {},
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Tags": {
            "shape": "S3"
          },
          "NextToken": {}
        }
      }
    },
    "ListTrainingJobs": {
      "input": {
        "type": "structure",
        "members": {
          "NextToken": {},
          "MaxResults": {
            "type": "integer"
          },
          "CreationTimeAfter": {
            "type": "timestamp"
          },
          "CreationTimeBefore": {
            "type": "timestamp"
          },
          "LastModifiedTimeAfter": {
            "type": "timestamp"
          },
          "LastModifiedTimeBefore": {
            "type": "timestamp"
          },
          "NameContains": {},
          "StatusEquals": {},
          "SortBy": {},
          "SortOrder": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "TrainingJobSummaries"
        ],
        "members": {
          "TrainingJobSummaries": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "TrainingJobName",
                "TrainingJobArn",
                "CreationTime",
                "TrainingJobStatus"
              ],
              "members": {
                "TrainingJobName": {},
                "TrainingJobArn": {},
                "CreationTime": {
                  "type": "timestamp"
                },
                "TrainingEndTime": {
                  "type": "timestamp"
                },
                "LastModifiedTime": {
                  "type": "timestamp"
                },
                "TrainingJobStatus": {}
              }
            }
          },
          "NextToken": {}
        }
      }
    },
    "StartNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      }
    },
    "StopNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {}
        }
      }
    },
    "StopTrainingJob": {
      "input": {
        "type": "structure",
        "required": [
          "TrainingJobName"
        ],
        "members": {
          "TrainingJobName": {}
        }
      }
    },
    "UpdateEndpoint": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "EndpointConfigName"
        ],
        "members": {
          "EndpointName": {},
          "EndpointConfigName": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      }
    },
    "UpdateEndpointWeightsAndCapacities": {
      "input": {
        "type": "structure",
        "required": [
          "EndpointName",
          "DesiredWeightsAndCapacities"
        ],
        "members": {
          "EndpointName": {},
          "DesiredWeightsAndCapacities": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "VariantName"
              ],
              "members": {
                "VariantName": {},
                "DesiredWeight": {
                  "type": "float"
                },
                "DesiredInstanceCount": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "EndpointArn"
        ],
        "members": {
          "EndpointArn": {}
        }
      }
    },
    "UpdateNotebookInstance": {
      "input": {
        "type": "structure",
        "required": [
          "NotebookInstanceName"
        ],
        "members": {
          "NotebookInstanceName": {},
          "InstanceType": {},
          "RoleArn": {}
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      }
    }
  },
  "shapes": {
    "S3": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "Key",
          "Value"
        ],
        "members": {
          "Key": {},
          "Value": {}
        }
      }
    },
    "Se": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "VariantName",
          "ModelName",
          "InitialInstanceCount",
          "InstanceType"
        ],
        "members": {
          "VariantName": {},
          "ModelName": {},
          "InitialInstanceCount": {
            "type": "integer"
          },
          "InstanceType": {},
          "InitialVariantWeight": {
            "type": "float"
          }
        }
      }
    },
    "So": {
      "type": "structure",
      "required": [
        "Image"
      ],
      "members": {
        "ContainerHostname": {},
        "Image": {},
        "ModelDataUrl": {},
        "Environment": {
          "type": "map",
          "key": {},
          "value": {}
        }
      }
    },
    "Sv": {
      "type": "list",
      "member": {
        "shape": "So"
      }
    },
    "S13": {
      "type": "list",
      "member": {}
    },
    "S1e": {
      "type": "map",
      "key": {},
      "value": {}
    },
    "S1h": {
      "type": "structure",
      "required": [
        "TrainingImage",
        "TrainingInputMode"
      ],
      "members": {
        "TrainingImage": {},
        "TrainingInputMode": {}
      }
    },
    "S1k": {
      "type": "list",
      "member": {
        "type": "structure",
        "required": [
          "ChannelName",
          "DataSource"
        ],
        "members": {
          "ChannelName": {},
          "DataSource": {
            "type": "structure",
            "required": [
              "S3DataSource"
            ],
            "members": {
              "S3DataSource": {
                "type": "structure",
                "required": [
                  "S3DataType",
                  "S3Uri"
                ],
                "members": {
                  "S3DataType": {},
                  "S3Uri": {},
                  "S3DataDistributionType": {}
                }
              }
            }
          },
          "ContentType": {},
          "CompressionType": {},
          "RecordWrapperType": {}
        }
      }
    },
    "S1v": {
      "type": "structure",
      "required": [
        "S3OutputPath"
      ],
      "members": {
        "KmsKeyId": {},
        "S3OutputPath": {}
      }
    },
    "S1w": {
      "type": "structure",
      "required": [
        "InstanceType",
        "InstanceCount",
        "VolumeSizeInGB"
      ],
      "members": {
        "InstanceType": {},
        "InstanceCount": {
          "type": "integer"
        },
        "VolumeSizeInGB": {
          "type": "integer"
        }
      }
    },
    "S20": {
      "type": "structure",
      "members": {
        "MaxRuntimeInSeconds": {
          "type": "integer"
        }
      }
    }
  }
}